{
  "openapi": "3.1.0",
  "info": {
    "title": "Mermail Agent Marketplace",
    "version": "0.0.0",
    "description": "Keyless wallet-bound inbox API. Payment is the credential. Unpaid GET /api and /api/agent/v1 routes return 402.",
    "contact": {
      "name": "Mermail",
      "email": "contact@mermail.app",
      "url": "https://mermail.app"
    },
    "x-guidance": "Mermail is an agent mailbox API. Keyless wallet inbox: unpaid GET /api and /api/agent/v1 routes return 402; payment is the credential. GET /api is a $0 identity handshake and returns agent_api_base_url. POST /api/agent/v1/mailboxes creates a new hosted inbox ($2 in an accepted token). Reads and drafts are $0 handshakes. send/reply/forward are $0.01. Celo USDC/USDT when enabled; the live 402 challenge is authoritative. Paid writes also accept MPP via Payment-Authorization when enabled. Hosted addresses only. Require scan_status=clean before using body content. After an uncertain paid call, replay the same payment credential, body and Idempotency-Key. Existing workspace API at /api/v1 still uses x-api-key.",
    "x-jentic-source-url": "https://mermail.app/openapi.json"
  },
  "servers": [
    {
      "url": "https://console.mermail.app"
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "operationId": "getAgentApiEntry",
        "summary": "Get agent API entry metadata (x402)",
        "description": "Public $0 x402 identity handshake. No API key. Unpaid requests return 402 with x402 accepts[] on enabled, provider-supported networks, including Celo USDC and USDT when enabled and configured, Arc mainnet, and Algorand USDC when an Algorand receiver is configured. The live accepts[] is authoritative. After the handshake, returns API base, agent marketplace base, docs, and OpenAPI URLs.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no tokens are charged. No API key. The live 402 accepts[] is the quote."
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet-authenticated API entry metadata",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON identity receipt. No funds are settled for this zero-amount handshake.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "service",
                    "api_base_url",
                    "agent_api_base_url",
                    "documentation_url",
                    "openapi_url",
                    "payment"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "service": {
                      "type": "string"
                    },
                    "api_base_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "agent_api_base_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "documentation_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "openapi_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "payment": {
                      "type": "object",
                      "required": [
                        "protocol",
                        "currency",
                        "receiver"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "protocol": {
                          "type": "string",
                          "const": "x402"
                        },
                        "currency": {
                          "type": "string",
                          "const": "USDC"
                        },
                        "receiver": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. PAYMENT-REQUIRED lists token options on every accepted network and includes request/response schema in extensions.bazaar.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/v1/mailboxes": {
      "post": {
        "operationId": "agentCreateMailbox",
        "summary": "Create a hosted agent inbox",
        "description": "Keyless hosted inbox create. Payment is the credential over x402 or MPP. Each distinct POST creates a new hosted inbox in verification mode with automations off. Replay the same payment credential, Idempotency-Key and body after an uncertain settlement.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "charge",
          "method": "evm",
          "amount": "2000000",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "2",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge"
              }
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Pay-per-call USDC over x402 or MPP (when enabled). No API key. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          },
          {
            "name": "Payment-Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MPP payment credential advertised by WWW-Authenticate. Do not send together with PAYMENT-SIGNATURE."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Replay the same key and body after an uncertain paid call. A different body under the same key returns 409."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Optional hosted Mermail address. Omit to receive a generated hosted inbox."
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "Payment-Receipt": {
                "description": "MPP receipt when the call was paid with Payment-Authorization",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "public_id",
                    "workspace_id",
                    "email",
                    "name"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "public_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "workspace_id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "name": {
                      "type": "string"
                    },
                    "can_receive": {
                      "type": "boolean"
                    },
                    "receiving_status": {
                      "type": "string",
                      "enum": [
                        "ready",
                        "disabled",
                        "unavailable"
                      ]
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. PAYMENT-REQUIRED includes x402 accepts[] and extensions.bazaar request/response schema. WWW-Authenticate advertises MPP when enabled.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "WWW-Authenticate": {
                "description": "MPP Payment challenge when MPP is enabled. Retry with Payment-Authorization.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      },
      "get": {
        "operationId": "agentListMailboxes",
        "summary": "List wallet-bound inboxes",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no tokens are charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "public_id",
                      "workspace_id",
                      "email",
                      "name"
                    ],
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "public_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "workspace_id": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "name": {
                        "type": "string"
                      },
                      "can_receive": {
                        "type": "boolean"
                      },
                      "receiving_status": {
                        "type": "string",
                        "enum": [
                          "ready",
                          "disabled",
                          "unavailable"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}": {
      "get": {
        "operationId": "agentGetMailbox",
        "summary": "Get a wallet-bound inbox",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no tokens are charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "public_id",
                    "workspace_id",
                    "email",
                    "name"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "public_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "workspace_id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "name": {
                      "type": "string"
                    },
                    "can_receive": {
                      "type": "boolean"
                    },
                    "receiving_status": {
                      "type": "string",
                      "enum": [
                        "ready",
                        "disabled",
                        "unavailable"
                      ]
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}/emails": {
      "get": {
        "operationId": "agentListEmails",
        "summary": "List inbox messages",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no tokens are charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortColumn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "subject",
                "sender",
                "recipient",
                "date",
                "read",
                "starred"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "metadata_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "require_scan_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "clean",
                "flagged",
                "skipped"
              ]
            }
          },
          {
            "name": "agent_safe_content",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "emails",
                    "totalCount"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "subject",
                          "sender",
                          "recipient",
                          "date"
                        ],
                        "additionalProperties": true,
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "sender": {
                            "type": "string"
                          },
                          "recipient": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "read": {
                            "type": "boolean"
                          },
                          "snippet": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "scan_status": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "clean",
                              "flagged",
                              "skipped",
                              null
                            ]
                          },
                          "content_omitted": {
                            "type": "boolean"
                          },
                          "thread_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      },
      "post": {
        "operationId": "agentSendEmail",
        "summary": "Send an email",
        "description": "Keyless $0.01 send path over x402 or MPP. Celo USDC/USDT is available over x402 when enabled; follow the live challenge. Payment is the credential. Replay the same payment credential, Idempotency-Key and body after an uncertain settlement.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "charge",
          "method": "evm",
          "amount": "10000",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0.01",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge"
              }
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Pay-per-call USDC over x402 or MPP (when enabled). No API key. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          },
          {
            "name": "Payment-Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MPP payment credential advertised by WWW-Authenticate. Do not send together with PAYMENT-SIGNATURE."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Replay the same key and body after an uncertain paid call. A different body under the same key returns 409."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "from",
                  "subject"
                ],
                "anyOf": [
                  {
                    "required": [
                      "html"
                    ]
                  },
                  {
                    "required": [
                      "text"
                    ]
                  }
                ],
                "additionalProperties": true,
                "properties": {
                  "to": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "cc": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "bcc": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "from": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "required": [
                          "email",
                          "name"
                        ],
                        "properties": {
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  },
                  "subject": {
                    "type": "string"
                  },
                  "html": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "in_reply_to": {
                    "type": "string"
                  },
                  "references": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "thread_id": {
                    "type": "string"
                  },
                  "source_draft_id": {
                    "type": "string"
                  },
                  "client_send_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "Payment-Receipt": {
                "description": "MPP receipt when the call was paid with Payment-Authorization",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. PAYMENT-REQUIRED includes x402 accepts[] and extensions.bazaar request/response schema. WWW-Authenticate advertises MPP when enabled.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "WWW-Authenticate": {
                "description": "MPP Payment challenge when MPP is enabled. Retry with Payment-Authorization.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}/emails/{emailId}": {
      "get": {
        "operationId": "agentGetEmail",
        "summary": "Get a message",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no tokens are charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "subject",
                    "sender",
                    "recipient",
                    "date"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "sender": {
                      "type": "string"
                    },
                    "recipient": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "read": {
                      "type": "boolean"
                    },
                    "snippet": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string"
                    },
                    "scan_status": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "clean",
                        "flagged",
                        "skipped",
                        null
                      ]
                    },
                    "content_omitted": {
                      "type": "boolean"
                    },
                    "thread_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}/emails/{emailId}/context": {
      "get": {
        "operationId": "agentGetEmailContext",
        "summary": "Get safe message context",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no tokens are charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 2048
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "email",
                    "thread"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "email": {
                      "type": "object",
                      "required": [
                        "id",
                        "subject",
                        "sender",
                        "recipient",
                        "date"
                      ],
                      "additionalProperties": true,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "subject": {
                          "type": "string"
                        },
                        "sender": {
                          "type": "string"
                        },
                        "recipient": {
                          "type": "string"
                        },
                        "date": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "read": {
                          "type": "boolean"
                        },
                        "snippet": {
                          "type": "string"
                        },
                        "body": {
                          "type": "string"
                        },
                        "scan_status": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "enum": [
                            "clean",
                            "flagged",
                            "skipped",
                            null
                          ]
                        },
                        "content_omitted": {
                          "type": "boolean"
                        },
                        "thread_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "thread": {
                      "type": "object",
                      "required": [
                        "id",
                        "messages",
                        "total_count",
                        "has_more",
                        "next_cursor"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "subject",
                              "sender",
                              "recipient",
                              "date"
                            ],
                            "additionalProperties": true,
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "subject": {
                                "type": "string"
                              },
                              "sender": {
                                "type": "string"
                              },
                              "recipient": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "read": {
                                "type": "boolean"
                              },
                              "snippet": {
                                "type": "string"
                              },
                              "body": {
                                "type": "string"
                              },
                              "scan_status": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "enum": [
                                  "clean",
                                  "flagged",
                                  "skipped",
                                  null
                                ]
                              },
                              "content_omitted": {
                                "type": "boolean"
                              },
                              "thread_id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            }
                          }
                        },
                        "total_count": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "has_more": {
                          "type": "boolean"
                        },
                        "next_cursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}/search": {
      "get": {
        "operationId": "agentSearchEmails",
        "summary": "Search inbox messages",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no tokens are charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "folder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "require_scan_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "clean",
                "flagged",
                "skipped"
              ]
            }
          },
          {
            "name": "metadata_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "agent_safe_content",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "emails",
                    "totalCount"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "subject",
                          "sender",
                          "recipient",
                          "date"
                        ],
                        "additionalProperties": true,
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "sender": {
                            "type": "string"
                          },
                          "recipient": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "read": {
                            "type": "boolean"
                          },
                          "snippet": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "scan_status": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "clean",
                              "flagged",
                              "skipped",
                              null
                            ]
                          },
                          "content_omitted": {
                            "type": "boolean"
                          },
                          "thread_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}/threads/{threadId}": {
      "get": {
        "operationId": "agentGetThread",
        "summary": "Get a message thread",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no tokens are charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "emails",
                    "totalCount"
                  ],
                  "additionalProperties": true,
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "subject",
                          "sender",
                          "recipient",
                          "date"
                        ],
                        "additionalProperties": true,
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "sender": {
                            "type": "string"
                          },
                          "recipient": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "read": {
                            "type": "boolean"
                          },
                          "snippet": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "scan_status": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "clean",
                              "flagged",
                              "skipped",
                              null
                            ]
                          },
                          "content_omitted": {
                            "type": "boolean"
                          },
                          "thread_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}/attachments/{attachmentId}": {
      "get": {
        "operationId": "agentGetAttachment",
        "summary": "Download an attachment",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no tokens are charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "filename": {
                      "type": "string"
                    },
                    "mimetype": {
                      "type": "string"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "content_omitted": {
                      "type": "boolean"
                    },
                    "content_omission_reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}/folders": {
      "get": {
        "operationId": "agentListFolders",
        "summary": "List inbox folders",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no tokens are charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}/custom-labels": {
      "get": {
        "operationId": "agentListCustomLabels",
        "summary": "List custom labels",
        "description": "Keyless $0 x402 identity handshake. Payment binds the wallet; no tokens are charged. Get/context/attachment stay scan-gated: non-clean inbound bodies return metadata with content_omitted.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "identity",
          "method": "evm",
          "amount": "0",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Zero-amount x402 handshake. Payment binds the wallet identity; no USDC is charged. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Amount is 0 for identity handshakes. PAYMENT-REQUIRED includes extensions.bazaar request/response schema. The live 402 accepts[] is the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}/emails/{emailId}/reply": {
      "post": {
        "operationId": "agentReplyToEmail",
        "summary": "Reply to an email",
        "description": "Keyless $0.01 send path over x402 or MPP. Celo USDC/USDT is available over x402 when enabled; follow the live challenge. Payment is the credential. Replay the same payment credential, Idempotency-Key and body after an uncertain settlement.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "charge",
          "method": "evm",
          "amount": "10000",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0.01",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge"
              }
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Pay-per-call USDC over x402 or MPP (when enabled). No API key. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          },
          {
            "name": "Payment-Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MPP payment credential advertised by WWW-Authenticate. Do not send together with PAYMENT-SIGNATURE."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Replay the same key and body after an uncertain paid call. A different body under the same key returns 409."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "from",
                  "subject"
                ],
                "anyOf": [
                  {
                    "required": [
                      "html"
                    ]
                  },
                  {
                    "required": [
                      "text"
                    ]
                  }
                ],
                "additionalProperties": true,
                "properties": {
                  "to": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "cc": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "bcc": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "from": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "required": [
                          "email",
                          "name"
                        ],
                        "properties": {
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  },
                  "subject": {
                    "type": "string"
                  },
                  "html": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "in_reply_to": {
                    "type": "string"
                  },
                  "references": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "thread_id": {
                    "type": "string"
                  },
                  "source_draft_id": {
                    "type": "string"
                  },
                  "client_send_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "Payment-Receipt": {
                "description": "MPP receipt when the call was paid with Payment-Authorization",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. PAYMENT-REQUIRED includes x402 accepts[] and extensions.bazaar request/response schema. WWW-Authenticate advertises MPP when enabled.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "WWW-Authenticate": {
                "description": "MPP Payment challenge when MPP is enabled. Retry with Payment-Authorization.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Inbox cap or mailbox access denied"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Idempotency-Key reused with a different body"
          }
        }
      }
    },
    "/api/agent/v1/mailboxes/{mailboxId}/emails/{emailId}/forward": {
      "post": {
        "operationId": "agentForwardEmail",
        "summary": "Forward an email",
        "description": "Keyless $0.01 send path over x402 or MPP. Celo USDC/USDT is available over x402 when enabled; follow the live challenge. Payment is the credential. Replay the same payment credential, Idempotency-Key and body after an uncertain settlement.",
        "security": [],
        "x-payment-info": {
          "authMode": "payment-required",
          "intent": "charge",
          "method": "evm",
          "amount": "10000",
          "currency": "USDC",
          "price": {
            "mode": "fixed",
            "amount": "0.01",
            "currency": "USD"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "evm",
                "intent": "charge"
              }
            }
          ],
          "receiver": "0xe943ca6F83E4585FB64c2118d36ac325e1bF149e",
          "description": "Pay-per-call USDC over x402 or MPP (when enabled). No API key. The live 402 accepts[] is the quote."
        },
        "parameters": [
          {
            "name": "mailboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "x402 payment or identity-handshake credential. Retry unpaid 402 responses with this header."
          },
          {
            "name": "Payment-Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MPP payment credential advertised by WWW-Authenticate. Do not send together with PAYMENT-SIGNATURE."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Replay the same key and body after an uncertain paid call. A different body under the same key returns 409."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "from",
                  "subject"
                ],
                "anyOf": [
                  {
                    "required": [
                      "html"
                    ]
                  },
                  {
                    "required": [
                      "text"
                    ]
                  }
                ],
                "additionalProperties": true,
                "properties": {
                  "to": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "cc": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "bcc": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "from": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "required": [
                          "email",
                          "name"
                        ],
                        "properties": {
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  },
                  "subject": {
                    "type": "string"
                  },
                  "html": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "in_reply_to": {
                    "type": "string"
                  },
                  "references": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "thread_id": {
                    "type": "string"
                  },
                  "source_draft_id": {
                    "type": "string"
                  },
                  "client_send_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Paid or identity-handshake success",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 JSON settlement or identity receipt. The transaction field is an opaque settlement identifier and may not be an on-chain transaction hash. Zero-amount identity receipts have no transaction.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "Payment-Receipt": {
                "description": "MPP receipt when the call was paid with Payment-Authorization",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required. PAYMENT-REQUIRED includes x402 accepts[] and extensions.bazaar request/response schema. WWW-Authenticate advertises MPP when enabled.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 payment requirements (base64 JSON), including extensions.bazaar request and response schema",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "WWW-Authenticate": {
                "description": "MPP Payment challenge when MPP is enabled. Retry with Payment-Authorization.",
                "schema": {
                  "type": "string"
                }
              }
            }
[...]
