{
  "openapi": "3.1.0",
  "info": {
    "title": "Prosp Discovery API",
    "version": "0.4.0",
    "license": {
      "name": "Proprietary",
      "url": "https://prosp.cc/"
    },
    "summary": "B2B prospect discovery — run a discovery job, poll it, read the prospects.",
    "description": "Customer-facing REST API for the Prosp prospect-discovery platform. Run a discovery,\npoll it to completion, then read and acknowledge the companies it found. The API\nreturns only customer-safe fields — internal scoring, provenance, and raw content are\nnever included in any response.\n\n## Canonical flow (REST)\n1. `POST /api/v1/discoveries` — start a discovery, by saved ICP id or inline criteria\n   (costs credits; an `X-Idempotency-Key` header makes the call safe to retry).\n2. `GET /api/v1/discoveries/{jobId}` — poll this until `status` is terminal\n   (`completed`/`failed`/`exhausted`); the `result` block appears once the run finishes.\n3. `GET /api/v1/discoveries/{jobId}/prospects` — read the companies this run found\n   (or `GET /api/v1/prospects` for the de-duplicated inbox across all your discoveries).\n4. `POST /api/v1/prospects/ack` — acknowledge delivery so a company isn't returned again.\n\nThe `/mcp/*` job endpoints (`/mcp/tools/execute`, `/mcp/jobs/{jobId}/status`, …) are a\nfully supported alternative surface with equivalent semantics; the `/api/v1/*` resources\nabove are the recommended REST entry point for new integrations.\n\n## Auth\nOAuth2 **client-credentials** (OpenID Connect). Exchange your `client_id` +\n`client_secret` for a Bearer token at the token endpoint (see the security scheme\nbelow for the exact URL), then send `Authorization: Bearer <token>` on every call.\nTokens carry the `mcp/execute` scope.\n\n## Errors\nEvery error shares one shape — `{ error, message, request_id }`. Quote `request_id`\nin support tickets. Errors are always signalled by the HTTP status code; there are no\n`200`-with-error responses.\n\n## Changelog\n- **0.4.0** — The finished-discovery contract now matches what the gateway actually serves.\n  ADDED to `JobResult`: `terminal_reason`, `already_owned_count`, `candidates_screened` and\n  `evaluated_count` — all four were already being served on `GET /mcp/jobs/{jobId}/result` and\n  on the `result` of `GET /api/v1/discoveries/{jobId}`, and are the same values (from the same\n  reader) that `JobStatus` reports while the run is live. ADDED to `ProspectDetail`: the\n  envelope-root `domain`, served on every detail response. REMOVED from `JobResult`:\n  `total_cost_usd`, `total_rejections`, `auto_completed`, `fallback_occurred`, `duration_ms`\n  and `sources_used` — these are internal run-level fields the customer boundary has always\n  stripped, so no client can have received them; documenting them promised data the API does\n  not return. Not a breaking change in either direction: nothing that was served stopped being\n  served.\n- **0.3.0** — Converged the per-discovery delivery count onto ONE canonical name across\n  surfaces: `JobStatus` now carries `total_prospects` (the same name and metric as\n  `JobResult.total_prospects`, read as a live snapshot). The former `JobStatus.prospectsFound`\n  is retained as a DEPRECATED alias (identical value) for a back-compat transition and will be\n  removed in a future major version. The pagination `total` on `ProspectList`/`ProspectSummaryList`\n  is a separate, explicitly-documented concept (a list/search result-set count) — not the\n  per-discovery delivery count. No breaking change: `prospectsFound` still ships.\n- **0.2.0** — Added the `/api/v1/discoveries*` (merged status + result) and `/api/v1/icps`\n  resources, plus the discovery summary on `JobResult` (`completed_at`,\n  `total_prospects`; the `sources_used` / `duration_ms` / `total_cost_usd` members of that\n  summary were never served and were removed from the contract in 0.4.0).\n- **0.1.0** — Initial release.\n",
    "contact": {
      "name": "Prosp API support",
      "url": "https://prosp.cc/"
    },
    "x-jentic-source-url": "https://api.prosp.cc/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.prosp.cc",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "system"
        ],
        "summary": "Service health probe.",
        "description": "Reports whether the API and its backing services are healthy. No auth required. Read-only - only GET and HEAD are accepted; any other method returns 405 with an `Allow` header.",
        "operationId": "healthCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "Service healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Overall health status.",
                      "examples": [
                        "healthy"
                      ]
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed (only GET and HEAD are accepted).",
            "headers": {
              "Allow": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "GET, HEAD"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable (a backing dependency is unreachable).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mcp/tools/execute": {
      "post": {
        "tags": [
          "discovery"
        ],
        "operationId": "startDiscovery",
        "summary": "Start a discovery job.",
        "description": "Debits 100 credits (the per-discovery cost) atomically and queues a discovery. The\n`X-Idempotency-Key` header is **required**; replaying the same key returns the\noriginal job with `deduplicated: true` and does not double-charge.\n\n**Concurrency limit.** A tenant may run only a bounded number of discovery jobs at once.\nWhile you are at that limit a new `execute` is rejected with **429** and\n`error: concurrent_limit` — cancel or wait for a running job to finish, then retry. The\ncredits for a rejected request are **refunded**, so a 429 never costs you credits (your\nbalance nets to zero and no ledger entry is written for the rejected attempt).\n\n**Saturation pre-check (net-new estimate).** Before charging, the service estimates how\nmany *new* companies this exact ICP would yield for you (companies you do not already own\nfrom prior runs). When that estimate is ~0 and reliable — you have already discovered the\naddressable set for these criteria — the request is held with **409** and a\n`status: saturation_warning` body (see `SaturationWarning`) instead of running. **No credits\nare charged and no job is started.** To run it anyway, re-submit with\n`parameters.acknowledge_low_yield: true`; the acknowledged run charges normally and starts.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscoveryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job queued, OR the existing job when the request was de-duplicated — by a replayed idempotency key, or by a query-fingerprint match against a discovery you already started. A de-duplicated response carries `deduplicated: true` + `reason` and is NOT charged (the credit debit is refunded). Distinguish the two shapes via `deduplicated`.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JobAccepted"
                    },
                    {
                      "$ref": "#/components/schemas/DuplicateResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "Insufficient credits (balance below the per-discovery cost).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Pre-flight warning, run held — a **saturation warning** (this ICP would yield ~0 net-new companies for you), an **ICP-mismatch warning** (the targeting is a material mismatch for your product/offering; a corrected ICP is offered under `suggestions`), or a **low-yield prediction warning** (ICPs like yours historically under-delivered). **No credits were charged and no job was started.** Re-submit with `parameters.acknowledge_low_yield: true` to run and be charged anyway.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SaturationWarning"
                    },
                    {
                      "$ref": "#/components/schemas/IcpMismatchWarning"
                    },
                    {
                      "$ref": "#/components/schemas/LowYieldPredictionWarning"
                    }
                  ]
                }
              }
            }
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "description": "Credit service unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mcp/credits": {
      "get": {
        "tags": [
          "credits"
        ],
        "operationId": "getCredits",
        "summary": "Get the caller's current credit balance.",
        "description": "Returns the authenticated customer's credit balance and the per-job cost. Check this\nbefore `execute` (which debits `job_cost` and returns 402 when the balance is short).\n",
        "responses": {
          "200": {
            "description": "The caller's balance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer_id": {
                      "type": "string"
                    },
                    "balance": {
                      "type": "integer",
                      "description": "Current credit balance."
                    },
                    "job_cost": {
                      "type": "integer",
                      "description": "Credits debited per discovery job."
                    }
                  },
                  "required": [
                    "customer_id",
                    "balance",
                    "job_cost"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "Credit service unavailable."
          }
        }
      }
    },
    "/mcp/credits/ledger": {
      "get": {
        "tags": [
          "credits"
        ],
        "operationId": "getCreditLedger",
        "summary": "Get the caller's credit-transaction history.",
        "description": "Returns the authenticated customer's credit transactions — debits (discovery-job charges),\nrefunds, and manual adjustments — newest first, reconstructed from durable job and refund\nmarkers. EVERY row carries a signed `amount` in credits, so a client can `sum(amount)` to\nreconcile the ledger against `balance`. `limit` bounds the number of TRANSACTIONS returned\n(a single job can contribute up to two rows — a debit and its refund) and `offset` selects a\nstable page; `total` + `has_more` let a client walk the full reconstructable history. The\nledger is a BOUNDED WINDOW: markers older than `window_start` (≈7 days) have expired and can\nno longer be reconstructed — `history_incomplete=true` signals such older history exists\n(`truncated` is a separate this-page hard-cap signal, always false here).\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 50
            },
            "description": "Maximum number of transactions to return (newest first). Rejected with 400 if 0/negative or above 500."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Number of transactions to skip from the newest, for paging. Rejected with 400 if negative."
          }
        ],
        "responses": {
          "200": {
            "description": "The caller's credit-transaction history.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditLedger"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/mcp/jobs": {
      "get": {
        "tags": [
          "discovery"
        ],
        "operationId": "listJobs",
        "summary": "List the caller's discovery jobs.",
        "description": "Returns each of the caller's jobs as a lean `{jobId, status}` summary. Poll `GET /mcp/jobs/{jobId}/status` for a single job's progress detail.",
        "responses": {
          "200": {
            "description": "The caller's jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/JobSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/mcp/jobs/{jobId}/status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/JobId"
        }
      ],
      "get": {
        "tags": [
          "discovery"
        ],
        "operationId": "getJobStatus",
        "summary": "Poll a job's status.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque progressive-polling cursor. Pass the previous response's `next_cursor` to receive only the prospect domains added since that poll. Omit for the full `found[]` accumulated so far."
          }
        ],
        "responses": {
          "200": {
            "description": "Current job status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/NotOwner"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/mcp/jobs/{jobId}/result": {
      "parameters": [
        {
          "$ref": "#/components/parameters/JobId"
        }
      ],
      "get": {
        "tags": [
          "discovery"
        ],
        "operationId": "getJobResult",
        "summary": "Fetch a completed job's result summary.",
        "description": "Returns the result once the job reaches any terminal state:\n`completed`, `failed`, `exhausted`, or `cancelled`. A `cancelled` job\nreturns the prospects it had already delivered before cancellation (it is\nterminal-with-data, not a perpetual 202). Non-terminal states return the\ncurrent status with a \"not yet complete\" message.\n",
        "responses": {
          "200": {
            "description": "Job result — a terminal state (incl. `cancelled`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResult"
                }
              }
            }
          },
          "202": {
            "description": "The job has not reached a terminal state yet. Poll again; this body carries the current status and never partial results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobNotComplete"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/NotOwner"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/mcp/jobs/{jobId}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/JobId"
        }
      ],
      "post": {
        "tags": [
          "discovery"
        ],
        "operationId": "cancelJob",
        "summary": "Cancel a running discovery job.",
        "description": "Stops a running discovery, releasing its concurrency slot so a new `execute` can start.\nCredits are refunded on the server side (see `credits_refunded`) only when the run had\ndelivered **zero** prospects at cancel time; if prospects were already delivered you keep\nthem and are not refunded. Those already-delivered prospects remain retrievable after\ncancellation via `GET /mcp/jobs/{jobId}/result` and `GET /api/v1/discoveries/{jobId}`\n(`cancelled` is a terminal state that carries its delivered results).\nOnly the job's owner may cancel it. Cancelling an already-terminal job is a no-op that\nreturns the job's current state.\n",
        "responses": {
          "200": {
            "description": "The job's post-cancel state (and any refund applied).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCancelled"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/NotOwner"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/mcp/prospects": {
      "get": {
        "tags": [
          "prospects"
        ],
        "operationId": "listProspectsMcp",
        "summary": "List prospects (alias of GET /api/v1/prospects).",
        "description": "An alias of `GET /api/v1/prospects` with identical semantics. New integrations should use `GET /api/v1/prospects`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/IncludeDelivered"
          },
          {
            "$ref": "#/components/parameters/JobIdQuery"
          },
          {
            "$ref": "#/components/parameters/Country"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer-safe prospects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/prospects": {
      "get": {
        "tags": [
          "prospects"
        ],
        "operationId": "listProspects",
        "summary": "List the caller's prospects across all discoveries (de-duplicated).",
        "description": "The customer-wide prospect inbox. **With no `job_id` (default):** returns one row\nper company across every discovery the caller has run — if the same company was\nre-discovered by multiple jobs, the newest re-discovery wins (de-duplicated).\n**With `job_id`:** narrows to that single job and returns its per-discovery rows\n(one per company↔job edge), i.e. the same result as\n`GET /api/v1/discoveries/{jobId}/prospects`.\n\nUndelivered prospects only, unless `include_delivered=true`. Responses contain only\ncustomer-safe fields; internal scoring and provenance fields are never included.\n\nFor a single run's results, prefer `GET /api/v1/discoveries/{jobId}/prospects`.\nFor semantic ranking, see `GET /api/v1/prospects/search`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/IncludeDelivered"
          },
          {
            "$ref": "#/components/parameters/JobIdQuery"
          },
          {
            "$ref": "#/components/parameters/Country"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer-safe prospects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/prospects/search": {
      "get": {
        "tags": [
          "prospects"
        ],
        "operationId": "searchProspects",
        "summary": "Semantic search over the caller's prospects (lean summaries + progressive cursor).",
        "description": "Returns LEAN prospect summaries (~11 customer-safe fields) — not the full record — so the\nresponse can never exceed the client token budget. To read every field for one company,\ncall `GET /api/v1/prospects/{domain}` with a summary's `domain`.\n\nPagination is a progressive OPAQUE cursor: omit `cursor` for the first page, then pass the\nprevious response's `next_cursor` back verbatim to fetch the next. Treat it as opaque — do\nnot parse or construct it (its encoding is an implementation detail); an unrecognized cursor\nsafely restarts from the first page. `has_more=false` / `next_cursor=null` means you have\nseen everything above the relevance floor — stop.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Free-text semantic query.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "$ref": "#/components/parameters/SearchLimit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A lean, capped page of ranked summaries (each carries a `semantic_score`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectSummaryList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/prospects/ack": {
      "post": {
        "tags": [
          "prospects"
        ],
        "operationId": "ackProspect",
        "summary": "Acknowledge prospect delivery (batch).",
        "description": "Marks one or more domains delivered so they aren't returned again. **Job-blind by design:**\none ack marks each domain delivered across all of the caller's jobs. **Idempotent:** an\nunknown or already-acknowledged domain is a harmless no-op (returns `200` with a count that\nreflects only the records actually marked), so clients never need to special-case them.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/prospects/{domain}": {
      "parameters": [
        {
          "name": "domain",
          "in": "path",
          "required": true,
          "description": "The prospect's primary domain.",
          "schema": {
            "type": "string",
            "examples": [
              "acme.de"
            ]
          }
        }
      ],
      "get": {
        "tags": [
          "prospects"
        ],
        "operationId": "getProspect",
        "summary": "Prospect detail by domain (customer-safe fields + enrichments).",
        "responses": {
          "200": {
            "description": "Prospect detail. `status` is `active` or `delivered` (a known company).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/discoveries": {
      "get": {
        "tags": [
          "discoveries"
        ],
        "operationId": "listDiscoveries",
        "summary": "List the caller's discoveries.",
        "description": "Newest-first page of the caller's discoveries. Page with `limit` (default 50, max 200)\nand `offset`. A `limit` outside 1–200, a negative or non-integer `limit`/`offset`, or any\nother query parameter, is rejected with `400 invalid_query`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "The caller's discoveries, with the canonical pagination envelope (`total`, `count`, `offset`, `has_more`) shared with the credit-ledger surface so a client pages every list surface the same way.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customer_id",
                    "jobs",
                    "count",
                    "total",
                    "offset",
                    "has_more"
                  ],
                  "properties": {
                    "customer_id": {
                      "type": "string",
                      "description": "The authenticated customer these discoveries belong to."
                    },
                    "jobs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/JobStatus"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Number of discoveries in THIS page (never exceeds the requested `limit`)."
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Total discoveries for the caller (across all pages)."
                    },
                    "offset": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "The starting index this page was served from (echoes the request `offset`)."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True when this page left discoveries unreturned — fetch the next with `offset += count`."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "discoveries"
        ],
        "operationId": "createDiscovery",
        "summary": "Trigger a discovery (by ICP id or inline criteria).",
        "description": "Debits 100 credits (the per-discovery cost) and queues a discovery. The body is EITHER\n`{icpId}` (runs a saved ICP's criteria) OR inline `DiscoveryCriteria` — mutually exclusive,\nand ENFORCED: mixing them is a `400 schema_validation_failed` rejected before any debit,\nnever a silent \"the saved ICP won and your inline fields were discarded\". The lone\nexception is the warn-and-confirm control `acknowledge_low_yield`, which may accompany\n`icpId`. `X-Idempotency-Key` is required. An unknown `icpId` refunds the debit and\nreturns 404.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscoveryTrigger"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queued, or the existing job for a duplicate (idempotency key or query).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JobAccepted"
                    },
                    {
                      "$ref": "#/components/schemas/DuplicateResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "Insufficient credits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown icpId (debit refunded).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Pre-flight warning, run held — a **saturation warning** (this ICP would yield ~0 net-new companies for you), an **ICP-mismatch warning** (the targeting is a material mismatch for your product/offering; a corrected ICP is offered under `suggestions`), or a **low-yield prediction warning** (ICPs like yours historically under-delivered). **No credits were charged and no job was started.** Re-submit with `acknowledge_low_yield: true` to run and be charged anyway.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SaturationWarning"
                    },
                    {
                      "$ref": "#/components/schemas/IcpMismatchWarning"
                    },
                    {
                      "$ref": "#/components/schemas/LowYieldPredictionWarning"
                    }
                  ]
                }
              }
            }
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/discoveries/{jobId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/JobId"
        }
      ],
      "get": {
        "tags": [
          "discoveries"
        ],
        "operationId": "getDiscovery",
        "summary": "Merged discovery view (status + result when terminal).",
        "responses": {
          "200": {
            "description": "Always returns the current status; includes `result` once terminal\n(`completed`, `failed`, `exhausted`, or `cancelled`). A `cancelled` run's\n`result` carries the prospects it delivered before cancellation.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Discovery"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/NotOwner"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/discoveries/{jobId}/prospects": {
      "parameters": [
        {
          "$ref": "#/components/parameters/JobId"
        }
      ],
      "get": {
        "tags": [
          "discoveries"
        ],
        "operationId": "getDiscoveryProspects",
        "summary": "List the prospects one discovery run found (per-run view).",
        "description": "The discovery-scoped sub-resource: \"what did **this** run find.\" Always a single\njob, returning its per-discovery rows (one per company↔job edge) — not\nde-duplicated against the caller's other jobs. Undelivered prospects only, unless\n`include_delivered=true`. Tenant-scoped by the token; the `jobId` never crosses\ntenants.\n\nThis is the per-run equivalent of `GET /api/v1/prospects?job_id={jobId}`. For the\nde-duplicated view across all of the caller's discoveries, use\n`GET /api/v1/prospects` with no `job_id`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/IncludeDelivered"
          },
          {
            "$ref": "#/components/parameters/Country"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer-safe prospects for the job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/icps": {
      "get": {
        "tags": [
          "icps"
        ],
        "operationId": "listIcps",
        "summary": "List the caller's saved ICPs.",
        "responses": {
          "200": {
            "description": "The caller's ICPs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icps": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Icp"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "icps"
        ],
        "operationId": "createIcp",
        "summary": "Create a saved ICP (Ideal Customer Profile).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IcpRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Icp"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/icps/{icpId}": {
      "parameters": [
        {
          "name": "icpId",
          "in": "path",
          "required": true,
          "description": "The id of the saved ICP.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "icps"
        ],
        "operationId": "getIcp",
        "summary": "Get one ICP.",
        "responses": {
          "200": {
            "description": "The ICP.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Icp"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "put": {
        "tags": [
          "icps"
        ],
        "operationId": "updateIcp",
        "summary": "Replace an ICP.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IcpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Icp"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "tags": [
          "icps"
        ],
        "operationId": "deleteIcp",
        "summary": "Delete an ICP.",
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "icpId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/opportunities": {
      "get": {
        "tags": [
          "opportunities"
        ],
        "operationId": "listCircularOpportunities",
        "summary": "List the caller's grounded circular-economy opportunities.",
        "description": "The set of circular-economy opportunities inferred from YOUR OWN stored business profile:\nfor each, the flow, asset, capacity or capability it rests on and the kind of company that\ncompletes it. Costs no credits and runs no search.\n\nThe list is served from an already-computed portfolio and is dated by `computed_at`, which\nis when it was DERIVED - not when you asked. It is never padded: one grounded opportunity\nyields one entry.\n\n**Read `speech_act` before you use a label.** An element whose `grounding` is `IMPLIED` is\na hypothesis - it carries `speech_act: ASK` and may only ever be put as a question, never\nstated as fact. The two elements are graded independently and mean different things: the\n`resource` is a claim about YOUR OWN business, the `counterpart` is a hypothesis about\nwhich kind of company would want it.\n\n`outreach_draft_eligible` answers only whether the entry may GROUND a draft, and it turns\non the `resource`, because that is what a message would be about. An entry may be\ndraft-eligible while its `counterpart` is still `ASK` - that is the ordinary case, not an\nedge case - and in that case the market hypothesis still may not be asserted in the\nmessage. Running one requires you to confirm or correct the resource first; see\n`POST /api/v1/discoveries` with `opportunityHandle`.\n\nOrder is server-authoritative and is not a ranking you should re-apply - the same order is\nused on every surface these opportunities appear on.\n",
        "responses": {
          "200": {
            "description": "The caller's grounded opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CircularOpportunityList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tenant/odoo-connection": {
      "description": "Self-serve onboarding for your Odoo CRM connection. You submit your own Odoo destination\nand credentials; the connection is live-tested (and any stage/team/user id validated)\nbefore anything is saved, and stored encrypted-at-rest. Your identity comes from the\naccess token — a body `customer_id` that disagrees with it is rejected. The `odoo_api_key`\nis write-only: it is never returned on any response. `odoo_url` must be a public http(s)\nhost — a URL resolving to a private, loopback, link-local, reserved, or multicast address\nis rejected with `422 unsafe_url`.\n",
      "post": {
        "tags": [
          "tenant"
        ],
        "operationId": "submitOdooConnection",
        "summary": "Submit / activate this tenant's Odoo connection.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantOdooConnectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection re-validated and updated (a connection already existed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantOdooConnection"
                }
              }
            }
          },
          "201": {
            "description": "Connection validated and activated (first registration).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantOdooConnection"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body or a `customer_id` that disagrees with the token identity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantConnectionError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The token identity is reserved-unrouted and can never map to an Odoo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantConnectionError"
                }
              }
            }
          },
          "409": {
            "description": "The destination is already registered, or an onboarding is in progress.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantConnectionError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable — the live connection test failed, an FK id does not exist,\n`odoo_url` resolves to a non-public (internal) address (`error: unsafe_url`), or\nhost validation timed out (`error: url_validation_timeout`, fail-closed).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantConnectionError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "Tenant-registry unavailable — either not configured on this deployment\n(`error: registry_unavailable`) or the backend is temporarily unreachable\n(`error: registry_degraded`, `retryable: true`, with a `Retry-After` header —\nsafe to retry with backoff).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantConnectionError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "tenant"
        ],
        "operationId": "getOdooConnection",
        "summary": "Get this tenant's registered Odoo connection (no secrets).",
        "responses": {
          "200": {
            "description": "The registered connection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantOdooConnection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No Odoo connection registered for this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantConnectionError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "Tenant-registry unavailable — either not configured on this deployment\n(`error: registry_unavailable`) or the backend is temporarily unreachable\n(`error: registry_degraded`, `retryable: true`, with a `Retry-After` header —\nsafe to retry with backoff).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantConnectionError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tenant"
        ],
        "operationId": "revokeOdooConnection",
        "summary": "Revoke this tenant's Odoo connection (idempotent).",
        "responses": {
          "200": {
            "description": "Revoked (idempotent). `status` is `revoked` when a connection existed and was\nremoved, or `not_connected` when nothing was registered (no-op).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantOdooConnectionRevoked"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "Tenant-registry unavailable — either not configured on this deployment\n(`error: registry_unavailable`) or the backend is temporarily unreachable\n(`error: registry_degraded`, `retryable: true`, with a `Retry-After` header —\nsafe to retry with backoff).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantConnectionError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cognitoClientCredentials": {
        "type": "oauth2",
        "description": "OAuth2 machine-to-machine using the `client_credentials` grant (OpenID Connect; the\nOpenAPI `flows.clientCredentials` object below). This is the ONLY supported grant — do\nNOT use the interactive `authorization_code` flow that the identity provider's discovery\ndocument may advertise; it is for a different (user-facing) client and rejects M2M.\nYour `client_id`/`client_secret` are issued per customer (via the Telegram\n`/credentials` flow). POST them to the `tokenUrl` below to obtain an access token, then\nsend it as `Authorization: Bearer <token>` on every request.\n",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://prosp-mcp-641053169627.auth.eu-central-1.amazoncognito.com/oauth2/token",
            "scopes": {
              "mcp/execute": "Start and manage discoveries and read prospects."
            }
          }
        }
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "X-Idempotency-Key",
        "in": "header",
        "required": true,
        "description": "Client-generated key that makes `execute` safe to retry.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        }
      },
      "JobId": {
        "name": "jobId",
        "in": "path",
        "required": true,
        "description": "The discovery's id, as returned when you started it.",
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9-]+$"
        }
      },
      "JobIdQuery": {
        "name": "job_id",
        "in": "query",
        "required": false,
        "description": "Narrow to a single discovery. Also switches the listing from the de-duplicated\ncustomer-wide view to that job's per-discovery rows. Never crosses tenants.\n",
        "schema": {
          "type": "string"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of prospects to return per page (1–200; defaults to 50). A value outside the range is rejected with a 400, not clamped.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 50
        }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "description": "Number of prospects to skip before the page starts, for offset pagination (defaults to 0).",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      },
      "SearchLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Page size for search (1–50, default 20). Deliberately smaller than the list `limit`; a value outside the range is rejected with a 400, not clamped.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 20
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque progressive-pagination cursor. Omit for the first page; pass the previous response's `next_cursor` back verbatim to fetch the next. Treat it as an opaque token: do NOT parse it, construct it, or do arithmetic on it — its internal encoding is an implementation detail that may change without notice. An unrecognized or malformed cursor is safely treated as \"start from the beginning\" rather than rejected.",
        "schema": {
          "type": "string",
          "minLength": 1
        }
      },
      "IncludeDelivered": {
        "name": "include_delivered",
        "in": "query",
        "required": false,
        "description": "Include already-acknowledged prospects (default false).",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "Country": {
        "name": "country",
        "in": "query",
        "required": false,
        "description": "Narrow to one or more ISO 3166-1 alpha-2 country codes, case-insensitive\n(`country=sk` or `country=SK,CZ` — comma-separated, no repeated `country=` keys).\nMatches the delivered company's `country_code`. Checked against the real ISO 3166-1\nalpha-2 list; an unrecognized code is rejected with `400 invalid_query` naming the\nvalue, before any other processing. A HARD filter on this read only — it does not\nchange what a discovery targets or delivers, and `total` always counts the filtered\nset (never the caller's whole, unfiltered inbox).\n",
        "schema": {
          "type": "string",
          "pattern": "^[A-Za-z]{2}(,[A-Za-z]{2})*$",
          "examples": [
            "SK",
            "SK,CZ"
          ]
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed request (missing/invalid field or header).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationFailed": {
        "description": "Criteria validation failed (field-level violations).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing/invalid/expired Bearer token.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotOwner": {
        "description": "The token's tenant does not own this job.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "MethodNotAllowed": {
        "description": "HTTP method not allowed on this endpoint (rejected before any credit debit).",
        "headers": {
          "Allow": {
            "description": "Methods this endpoint accepts.",
            "schema": {
              "type": "string",
              "examples": [
                "GET"
              ]
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded (100 requests / 60s per customer).",
        "headers": {
          "Retry-After": {
            "description": "Seconds until the window resets.",
            "schema": {
              "type": "integer",
              "examples": [
                60
              ]
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Request throttled. `error` is `rate_limit_exceeded` when the 100-requests/60s per-customer window is exceeded, or `concurrent_limit` when the tenant already has the maximum number of discovery jobs running. On `concurrent_limit` the request's credits are refunded (no charge).",
        "headers": {
          "Retry-After": {
            "description": "Seconds until the window resets (rate-limit case only).",
            "schema": {
              "type": "integer",
              "examples": [
                60
              ]
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "JobNotComplete": {
        "type": "object",
        "description": "The in-flight answer to a result poll: the job exists and is still running, so there is nothing terminal to return yet. Deliberately OPEN to additional properties — the fields below are what the surface sends today, and a poll response is not the place to fail a customer's client over an added key.",
        "required": [
          "status",
          "message"
        ],
        "properties": {
          "status": {
            "type": "string",
            "description": "The job's current non-terminal state (e.g. `pending`, `processing`, `running`)."
          },
          "message": {
            "type": "string",
            "description": "Human-readable detail, e.g. \"Job not yet complete\"."
          },
          "ok": {
            "type": "boolean",
            "description": "`false` while the job is still running — results are not available yet, keep polling. This is NOT an error: no `error` code accompanies it."
          },
          "http_status": {
            "type": "integer",
            "description": "Echo of the HTTP status (202), so a client reading only the body can branch on it."
          },
          "request_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Correlation id — quote this in support tickets about a stuck poll."
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "The single error shape for the whole surface.",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Stable machine-readable code. Common values include: `invalid_token`, `insufficient_credits`, `method_not_allowed`, `rate_limit_exceeded`, `concurrent_limit`, `missing_idempotency_key` (the required `X-Idempotency-Key` header was absent on `execute`), `schema_validation_failed` (request body failed the OpenAPI schema — rejected before any credit debit), `validation_failed` / `icp_not_found` (the discovery criteria were malformed / matched no ideal-customer profile — no job created, any debit refunded), `invalid_query` (an unknown or malformed search/list query param), `invalid_job_id`, and `not_owner`.",
            "examples": [
              "missing_idempotency_key",
              "schema_validation_failed",
              "validation_failed",
              "insufficient_credits",
              "rate_limit_exceeded"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human-readable detail."
          },
          "request_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Correlation id — quote this in support tickets."
          }
        }
      },
      "DiscoveryRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Request body for `POST /mcp/tools/execute`.",
        "required": [
          "toolName",
          "parameters"
        ],
        "properties": {
          "toolName": {
            "type": "string",
            "enum": [
              "discovery"
            ],
            "description": "The tool to run. Use `discovery` to start a prospect discovery.",
            "examples": [
              "discovery"
            ]
          },
          "parameters": {
            "description": "The discovery criteria to run.",
            "$ref": "#/components/schemas/DiscoveryCriteria"
          }
        }
      },
      "IcpRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Body to create or replace a saved ICP — an optional display name plus the discovery criteria.",
        "required": [
          "criteria"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Optional human-readable label for this ICP.",
            "examples": [
              "EU Retail SMEs"
            ]
          },
          "criteria": {
            "description": "The saved discovery criteria this ICP re-runs.",
            "$ref": "#/components/schemas/DiscoveryCriteria"
          }
        }
      },
      "Icp": {
        "type": "object",
        "description": "A saved Ideal-Customer-Profile — reusable discovery criteria you can re-run by id.",
        "required": [
          "icpId",
          "criteria"
        ],
        "properties": {
          "icpId": {
            "type": "string",
            "description": "Server-assigned unique id for this ICP; pass it to `POST /api/v1/discoveries` to run it."
          },
          "name": {
            "type": "string",
            "description": "The display name you gave this ICP."
          },
          "criteria": {
            "description": "The discovery criteria stored in this ICP.",
            "$ref": "#/components/schemas/DiscoveryCriteria"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the ICP was created (ISO-8601)."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the ICP was last updated (ISO-8601)."
          }
        }
      },
      "TenantOdooConnectionRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Your own Odoo destination and credentials for self-serve onboarding. `odoo_api_key`\nis write-only (accepted here, never returned). `odoo_url` must be a public http(s)\nhost — private, loopback, link-local, and reserved addresses are rejected.\n",
        "required": [
          "odoo_url",
          "odoo_db",
          "odoo_uid",
          "odoo_api_key"
        ],
        "properties": {
          "odoo_url": {
            "type": "string",
            "description": "Public https base URL of the tenant's Odoo instance.",
            "examples": [
              "https://mycompany.odoo.com"
            ]
          },
          "odoo_db": {
            "type": "string",
            "description": "Your Odoo database name — one of the four API authentication parameters (alongside `odoo_url`, `odoo_uid`, `odoo_api_key`). An Odoo server can host multiple databases, so this identifies which one to sync leads into. Leads are written through Odoo's JSON-RPC API — no direct database access is used. If unsure, find it at `https://<your-odoo-host>/web/database/list`.",
            "examples": [
              "mycompany-main-12345"
            ]
          },
          "odoo_uid": {
            "type": "integer",
            "minimum": 1,
            "description": "The Odoo user id the API key belongs to."
          },
          "odoo_api_key": {
            "type": "string",
            "minLength": 1,
            "writeOnly": true,
            "description": "Odoo API key used to authenticate. Write-only — accepted here but never returned on any response."
          },
          "stage_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Optional Odoo CRM stage id to place new leads in. Validated to exist before the connection is saved."
          },
          "team_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Optional Odoo sales-team id to assign new leads to. Validated to exist before the connection is saved."
          },
          "user_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Optional Odoo user id to assign as the salesperson on new leads. Validated to exist before the connection is saved."
          },
          "enrichment_stage_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Optional Odoo CRM stage id for leads awaiting further contact enrichment. Validated to exist before the connection is saved."
          },
          "lead_type": {
            "type": "string",
            "enum": [
              "lead",
              "opportunity"
            ],
            "description": "Whether new records are created as CRM leads or opportunities. Defaults to `opportunity` when omitted.",
            "examples": [
              "opportunity",
              "lead"
            ]
          }
        }
      },
      "TenantOdooConnection": {
        "type": "object",
        "additionalProperties": false,
        "description": "Your registered Odoo connection, without any secrets. `validated_at` and `message`\nare present only on a successful submit response. The `odoo_api_key` and any other\ncredential material are never included in this response.\n",
        "required": [
          "customer_id",
          "odoo_url",
          "odoo_db",
          "odoo_uid",
          "status"
        ],
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "Your tenant identifier (derived from the access token)."
          },
          "odoo_url": {
            "type": "string",
            "description": "The Odoo base URL leads are written to.",
            "examples": [
              "https://mycompany.odoo.com"
            ]
          },
          "odoo_db": {
            "type": "string",
            "description": "Your Odoo database name — the API authentication parameter identifying which database on the Odoo server leads are synced into. Leads are written through Odoo's JSON-RPC API; no direct database access is used."
          },
          "odoo_uid": {
            "type": "integer",
            "description": "The Odoo user id the stored API key belongs to."
          },
          "status": {
            "type": "string",
            "description": "Connection status (e.g. `active`).",
            "examples": [
              "active"
            ]
          },
          "stage_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The configured Odoo CRM stage id for new leads, or null if unset."
          },
          "team_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The configured Odoo sales-team id for new leads, or null if unset."
          },
          "user_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The configured Odoo salesperson user id for new leads, or null if unset."
          },
          "enrichment_stage_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The configured Odoo CRM stage id for leads awaiting enrichment, or null if unset."
          },
          "lead_type": {
            "type": "string",
            "enum": [
              "lead",
              "opportunity"
            ],
            "description": "Whether records are created as leads or opportunities.",
            "examples": [
              "opportunity"
            ]
          },
          "validated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the connection was last successfully validated (present only on a submit response)."
          },
          "message": {
            "type": "string",
            "description": "Human-readable outcome of the submit (present only on a submit response)."
          }
        }
      },
      "TenantOdooConnectionRevoked": {
        "type": "object",
        "description": "Result of revoking your Odoo connection.",
        "additionalProperties": false,
        "required": [
          "customer_id",
          "status"
        ],
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "Your tenant identifier."
          },
          "status": {
            "type": "string",
            "description": "`revoked` when a connection existed and was removed; `not_connected` when nothing was registered (idempotent no-op).",
            "examples": [
              "revoked",
              "not_connected"
            ]
          }
        }
      },
      "TenantConnectionError": {
        "type": "object",
        "additionalProperties": false,
        "description": "Error shape for the CRM-connection onboarding endpoints. Distinct from the API-wide\n`Error`: it omits `request_id`, and the body never exposes a resolved IP address or\nother internal detail.\n",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Stable machine-readable error code. Meanings: `invalid_shape` (malformed body);\n`identity_mismatch` (a body `customer_id` disagrees with your token); `reserved_identity`\n(this identity can never map to an Odoo); `destination_conflict` (that Odoo destination is\nalready registered); `onboarding_in_progress` (a registration for you is already running);\n`connection_failed` (the live connection test failed); `invalid_fk` (a stage/team/user id\ndoes not exist in your Odoo); `unsafe_url` (`odoo_url` resolves to a non-public address);\n`url_validation_timeout` (host validation timed out, fail-closed); `not_found` (no connection\nregistered); `registry_unavailable` (onboarding not configured on this deployment);\n`registry_degraded` (backend temporarily unreachable — retryable).\n",
            "examples": [
              "invalid_shape",
              "identity_mismatch",
              "reserved_identity",
              "destination_conflict",
              "onboarding_in_progress",
              "connection_failed",
              "invalid_fk",
              "unsafe_url",
              "url_validation_timeout",
              "not_found",
              "registry_unavailable",
              "registry_degraded"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human-readable detail for the error."
          },
          "retryable": {
            "type": "boolean",
            "description": "Present and `true` on a `registry_degraded` 503 — the tenant-registry backend is\ntemporarily unreachable (bounded off-loop call timed out). Safe to retry with backoff;\nthe response also carries a `Retry-After` header. Absent on non-retryable errors.\n"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "description": "A 400 response carrying one or more field-level criteria violations.",
        "required": [
          "error",
          "message",
          "violations"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Stable machine-readable error code.",
            "examples": [
              "validation_failed"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human-readable summary of what failed validation."
          },
          "violations": {
            "type": "array",
            "description": "One entry per invalid field.",
            "items": {
              "type": "object",
              "required": [
                "field",
                "message"
              ],
              "properties": {
                "field": {
                  "type": "string",
                  "description": "Name of the request field that failed validation."
                },
                "message": {
                  "type": "string",
                  "description": "Why this field was rejected."
                }
              }
            }
          }
        }
      },
      "DiscoveryCriteria": {
        "type": "object",
        "additionalProperties": false,
        "description": "The criteria that describe the companies you want to find. Only `query` is required;\nthe other fields narrow and steer the search. `maxResults` must be 1–200 (a value outside\nthe range is rejected with a 400), and invalid `company_sizes` values are likewise rejected\nwith a 400 rather than silently ignored. Unknown fields are rejected with a 400 that names\nthe offending property.\n",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "Free-text description of the companies you want to discover. The primary search signal.",
            "examples": [
              "Find retail partners in Europe"
            ]
          },
          "industries": {
            "type": "array",
            "description": "Target industries. Prospects are scored for fit against these; companies in unrelated industries are filtered out.",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "Retail",
                "Fashion"
              ]
            ]
          },
          "locations": {
            "type": "array",
            "description": "Target countries or regions to search within (e.g. country names). Restricts results to companies located there.",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "Germany",
                "Austria"
              ]
            ]
          },
          "company_sizes": {
            "type": "array",
            "description": "Company-size buckets to include, by employee headcount. Any combination of:\n`micro` (≤10), `small` (up to ~50), `medium` (up to ~200), `large` (up to ~500),\n`enterprise` (500+). Omit to allow any size. Each bucket maps to a\n`company_size` value; request `micro` to prioritize the ≤10-employee shops, which are\nreturned with `company_size: micro` (the output `company_size` uses the SAME lowercase\ntokens as this input filter, so a value read off a result can be re-submitted verbatim).\nNOTE: this filter is ADVISORY, not strict — in thin markets the engine may relax it\nto adjacent buckets and still deliver e.g. `micro` under a `small` request (this is\ndisclosed at delivery via a `FILTER_RELAXED` suggestion). So omitting a size does not\nguarantee its exclusion; it expresses preference, not a hard exclusion.\n",
            "items": {
              "type": "string",
              "enum": [
                "micro",
                "small",
                "medium",
                "large",
                "enterprise"
              ]
            }
          },
          "keywords": {
            "type": "array",
            "description": "Additional keywords or phrases to bias the search toward (e.g. products, technologies, or capabilities).",
            "items": {
              "type": "string"
            }
          },
          "exclusions": {
            "type": "array",
            "description": "Domains or terms to exclude from results — e.g. competitors, existing customers, or your own brand. Matching companies are dropped from discovery.",
            "items": {
              "type": "string"
            }
          },
          "sub_country_regions": {
            "type": "array",
            "description": "ISO-3166-2 sub-country regions (e.g. states or provinces) to focus the search within a\ncountry. Validated against the supported region set. This is a REGIONAL PREFERENCE, not a\nhard filter: companies located in the requested region(s) are prioritized (ranked higher\nfor relevance), which can substantially raise the in-region share of your results, while\ncompanies OUTSIDE those regions are still returned, ranked lower. It is a precision dial —\nexpect fewer but more-targeted results, trading total volume for regional focus. Omit it\n(or clear it) to broaden coverage across the whole country. When this field is set, the\ndiscovery result's `suggestions` array discloses the relaxation: a `FILTER_RELAXED` region\nsuggestion (naming the filter, with a `{sub_country_regions: []}` correction) when returned\ncompanies with a known region fall outside the request, otherwise an informational\n`REGION_PREFERENCE_APPLIED` note — both carrying the same one-tap correction.\n",
            "items": {
              "type": "string"
            }
          },
          "target_business_models": {
            "type": "array",
            "description": "Optional value-chain-role filter. When set, only companies whose classified\nbusiness model is one of these roles are kept; a prospect whose role is a confirmed\nmember of none is dropped. Use e.g. `[\"manufacturer\"]` for manufacturers only, or\n`[\"distributor\"]` for wholesale distributors only. Omit to accept any role\n(default — no role filtering).\n",
            "items": {
              "type": "string",
              "enum": [
                "manufacturer",
                "retailer",
                "distributor",
                "service_provider",
                "unknown"
              ]
            }
          },
          "website": {
            "type": "string",
            "description": "Your own website. Automatically excluded from results so you never discover yourself."
          },
          "maxResults": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "default": 50,
            "description": "Maximum number of prospects to return for this discovery (1–200; a value outside this range is rejected with 400, not clamped; defaults to 50)."
          },
          "acknowledge_low_yield": {
            "$ref": "#/components/schemas/AcknowledgeLowYield"
          },
          "language": {
            "type": "string",
            "description": "Optional market-language hint as an ISO-639-1 code (e.g. `de`, `cs`, `pl`). Steers the\nquery→ICP expansion so keyword/industry expansion is generated in the market's language\nrather than inferred solely from `query`. Advisory, not a hard filter — company and person\nnames are never translated, and results are not restricted to a single content language.\nOmit to let the engine infer the language from `query` itself.\n",
            "examples": [
              "de"
            ]
          }
        }
      },
      "SaturationWarning": {
        "type": "object",
        "description": "Returned with **409** by `POST /mcp/tools/execute` (and `POST /api/v1/discoveries`) when the\nsaturation pre-check estimates this ICP would yield ~0 net-new companies for you and the\nestimate is reliable. **No credits were charged and no job was started.** Re-submit the same\nrequest with `parameters.acknowledge_low_yield: true` to run and be charged anyway.\n",
        "required": [
          "status",
          "expected_new_companies",
          "message"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "saturation_warning"
            ],
            "description": "Always `saturation_warning` for this response."
          },
          "expected_new_companies": {
            "type": "integer",
            "minimum": 0,
            "description": "Estimated number of net-new companies (not already owned by you) this run would yield."
          },
          "acknowledge_param": {
            "type": "string",
            "description": "The request parameter to set to `true` on re-submit to run anyway (`acknowledge_low_yield`).",
            "examples": [
              "acknowledge_low_yield"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation of the warning and how to proceed."
          },
          "request_id": {
            "type": "string",
            "description": "Correlation id — quote it in support tickets."
          }
        }
      },
      "IcpMismatchWarning": {
        "type": "object",
        "description": "Returned with **409** by `POST /mcp/tools/execute` (and `POST /api/v1/discoveries`) when the\nICP-coherence pre-check judges the draft targeting (industries/keywords/query) to be a\nmaterial mismatch for the seller's own product/offering — e.g. a warehouse-fulfillment-robotics\nseller targeting small grocery/food retail. **No credits were charged and no job was started.**\nA corrected-ICP suggestion is offered under `suggestions[]`. Re-submit the same request with\n`parameters.acknowledge_low_yield: true` to run the original ICP anyway and be charged. Only\nproduced when the seller has a stored profile/offering; skipped otherwise (the run proceeds).\n",
        "required": [
          "status",
          "message"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "icp_mismatch_warning"
            ],
            "description": "Always `icp_mismatch_warning` for this response."
          },
          "acknowledge_param": {
            "type": "string",
            "description": "The request parameter to set to `true` on re-submit to run anyway (`acknowledge_low_yield`).",
            "examples": [
              "acknowledge_low_yield"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation of the mismatch, the corrected ICP, and how to proceed."
          },
          "suggestions": {
            "type": "array",
            "description": "A single corrected-ICP suggestion (better-fit industries/keywords/query for the offering).",
            "items": {
              "$ref": "#/components/schemas/Suggestion"
            }
          },
          "request_id": {
            "type": "string",
            "description": "Correlation id — quote it in support tickets."
          }
        }
      },
      "LowYieldPredictionWarning": {
        "type": "object",
        "description": "Returned with **409** by `POST /mcp/tools/execute` (and `POST /api/v1/discoveries`) when the\nlearned ICP-outcome corpus predicts this draft ICP will materially under-deliver (ICPs like\nyours historically returned few results). **No credits were charged and no job was started.**\nRe-submit the same request with `parameters.acknowledge_low_yield: true` to run and be\ncharged anyway. Rides the same warn-and-confirm channel as `SaturationWarning` /\n`IcpMismatchWarning` — one acknowledgement parameter clears all pre-flight warnings.\n",
        "required": [
          "status",
          "message"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "low_yield_prediction_warning"
            ],
            "description": "Always `low_yield_prediction_warning` for this response."
          },
          "acknowledge_param": {
            "type": "string",
            "description": "The request parameter to set to `true` on re-submit to run anyway (`acknowledge_low_yield`).",
            "examples": [
              "acknowledge_low_yield"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation of the prediction and how to proceed."
          },
          "suggestion": {
            "type": "string",
            "description": "A bounded, leak-safe advisory (e.g. broaden the ICP) — no counts or cross-customer data."
          },
          "request_id": {
            "type": "string",
            "description": "Correlation id — quote it in support tickets."
          }
        }
      },
      "JobAccepted": {
        "type": "object",
        "description": "Returned when a discovery has been accepted and queued for processing.",
        "required": [
          "jobId",
          "status"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "description": "Id of the newly queued discovery. Use it to poll status and read results."
          },
          "status": {
            "type": "string",
            "description": "Always `queued` — the discovery has been accepted and will start shortly.",
            "enum": [
              "queued"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the discovery was queued (ISO-8601)."
          },
          "poll_after_seconds": {
            "type": "integer",
            "minimum": 1,
            "description": "Recommended number of seconds to wait before polling this discovery's status again. A cadence hint for polite back-off — poll no more often than this rather than hammering the API.",
            "examples": [
              20
            ]
          },
          "estimated_duration_seconds": {
            "type": "integer",
            "minimum": 1,
            "description": "Expected wall-clock duration for this discovery, in seconds — the single planning-safe number, always present. Equals the p95 of recent OBSERVED job runtimes (the industry-standard user-facing UPPER BOUND so a slow-but-healthy run is not mistaken for a stuck one, and a client planning timeouts is not misled low): it is identical to `estimated_duration_p95_seconds` once history exists, and falls back to a static coarse default until enough jobs have finished. For the full percentile trio read `estimated_duration_p50_seconds` / `estimated_duration_p90_seconds` / `estimated_duration_p95_seconds`. An estimate, not a guarantee.",
            "examples": [
              2900
            ]
          },
          "estimated_duration_p50_seconds": {
            "type": "integer",
            "minimum": 1,
            "description": "Median (p50) of recent OBSERVED job runtimes, in seconds — the TYPICAL duration. The lowest member of the explicit p50/p90/p95 trio; `estimated_duration_p95_seconds` is the planning-safe upper bound. Omitted (together with the p90 and p95 fields) until enough jobs have finished to derive it.",
            "examples": [
              1140
            ]
          },
          "estimated_duration_p90_seconds": {
            "type": "integer",
            "minimum": 1,
            "description": "90th-percentile (p90) of recent OBSERVED job runtimes, in seconds — a monitoring-baseline percentile and the middle member of the explicit p50/p90/p95 trio. Omitted (together with the p50 and p95 fields) until enough jobs have finished to derive it.",
            "examples": [
              2400
            ]
          },
          "estimated_duration_p95_seconds": {
            "type": "integer",
            "minimum": 1,
            "description": "95th-percentile (p95) of recent OBSERVED job runtimes, in seconds — the planning-safe user-facing UPPER BOUND, and the top member of the explicit p50/p90/p95 trio. This is the same value carried by `estimated_duration_seconds` whenever history exists (that field is the always-present single number; this one is the labelled member of the trio). Omitted (together with the p50 and p90 fields) until enough jobs have finished to derive it.",
            "examples": [
              2900
            ]
          },
          "estimated_yield": {
            "type": "integer",
            "minimum": 0,
            "description": "Expectation-setting hint: the TOTAL number of prospects this discovery is likely to DELIVER — i.e. total deliverable, NOT net-new. It is projected from YOUR own historical delivery ratio (prospects delivered ÷ target requested, accumulated across your completed discoveries) applied to this run's requested target, and it is never projected above the request. \"Total deliverable\" means the count is GROSS: it includes domains you may already own from a prior discovery (see `already_owned_count` on the status/result for how many of the delivered set were already yours); it is not a promise of that many BRAND-NEW companies. The projection is deliberately CONSERVATIVE (it tracks your historical delivery ratio and empirically under-predicts a fast-converging run), so on the status poll it is floored at the live `prospectsFound` — the value shown is `max(frozen_estimate, prospectsFound)` and therefore never sits BELOW the count already delivered in the same response. Omitted entirely (never null) until you have enough completed-discovery history to project honestly. An estimate, not a guarantee.",
            "examples": [
              4
            ]
          }
        }
      },
      "DuplicateResponse": {
        "type": "object",
        "description": "Returned instead of a new job when the request matched a discovery you already started.",
        "required": [
          "jobId",
          "status",
          "deduplicated",
          "reason"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "description": "Id of the existing discovery the request was matched to."
          },
          "status": {
            "type": "string",
            "description": "Status of the matched discovery.",
            "enum": [
              "queued"
            ]
          },
          "deduplicated": {
            "type": "boolean",
            "description": "Always `true` — this response indicates the request was de-duplicated onto an existing job.",
            "enum": [
              true
            ]
          },
          "reason": {
            "type": "string",
            "enum": [
              "idempotency_key",
              "duplicate_query"
            ],
            "description": "Why the request was de-duplicated: `idempotency_key` = you replayed the same idempotency key; `duplicate_query` = an identical discovery is already running."
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation of the de-duplication."
          }
        }
      },
      "AcknowledgeLowYield": {
        "type": "boolean",
        "description": "Set to `true` to run this discovery even when the saturation pre-check estimates ~0\nnet-new companies (see the `409 saturation_warning` response on `POST /mcp/tools/execute`).\nThe acknowledged run charges normally and starts. Omit (or `false`) for the default\nbehaviour, where a saturated ICP is held with a `409` and NOT charged. Not a search\ncriterion — it steers the warn-and-confirm gate only, which is why it is the ONE field\nthat may accompany `icpId` in a `DiscoveryTrigger` body.\n"
      },
      "DiscoveryTrigger": {
        "type": "object",
        "description": "The body for starting a discovery. Provide EITHER a saved ICP id OR inline criteria —\nmutually exclusive, and enforced: a body carrying `icpId` alongside any search criterion\n(`query`, `industries`, `locations`, `keywords`, `company_sizes`, `exclusions`,\n`maxResults`, `language`, `website`) is rejected with `400 schema_validation_failed`\nBEFORE any credit is debited, rather than silently running the saved ICP's criteria and\ndiscarding the inline ones. The single exception is `acknowledge_low_yield`, which is a\nwarn-and-confirm control rather than a search criterion: `{icpId, acknowledge_low_yield}`\nis how a saved ICP held by a `409` is re-submitted to run anyway.\n",
        "oneOf": [
          {
            "type": "object",
            "required": [
              "icpId"
            ],
            "additionalProperties": false,
            "properties": {
              "icpId": {
                "type": "string",
                "description": "Id of a saved ICP to run. Its stored criteria are used for this discovery."
              },
              "acknowledge_low_yield": {
                "$ref": "#/components/schemas/AcknowledgeLowYield"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "opportunityHandle"
            ],
            "additionalProperties": false,
            "properties": {
              "opportunityHandle": {
                "type": "string",
                "description": "The `handle` of one entry from `GET /api/v1/opportunities`. Opaque, and resolved against YOUR OWN portfolio - it names a graded opportunity, never a search. An unknown handle refunds the debit and returns 404."
              },
              "confirmedResource": {
                "type": "string",
                "description": "Your own description of the resource, REQUIRED when the entry's `requires_resource_confirmation` is true (its resource is an unconfirmed hypothesis). Without it the run is refused with 404 `resource_confirmation_required` and the debit is refunded - an inferred hypothesis may not be used to target a search until you have confirmed or corrected it. What you send is RETAINED as a stated fact about your business and informs later inference, so correct it rather than echoing ours back."
              },
              "acknowledge_low_yield": {
                "$ref": "#/components/schemas/AcknowledgeLowYield"
              }
            }
          },
          {
            "$ref": "#/components/schemas/DiscoveryCriteria"
          }
        ]
      },
      "Discovery": {
        "type": "object",
        "description": "A discovery's status merged with its result. The `result` block is present only once the discovery reaches a terminal state.",
        "required": [
          "jobId",
          "status"
        ],
[...]
