{
  "openapi": "3.1.0",
  "info": {
    "title": "SentFromAI API",
    "version": "0.1.0",
    "description": "Comms infrastructure for AI agents. Email send/receive, threading, attachments, drafts, webhooks, realtime, and search.",
    "x-jentic-source-url": "https://sentfrom.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.sentfrom.ai/v1"
    }
  ],
  "paths": {
    "/inboxes": {
      "post": {
        "tags": [
          "inboxes"
        ],
        "operationId": "createInbox",
        "summary": "Create an inbox",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInbox"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "inboxes"
        ],
        "operationId": "listInboxes",
        "summary": "List inboxes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inboxes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Inbox"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/inboxes/{id}": {
      "delete": {
        "tags": [
          "inboxes"
        ],
        "operationId": "deleteInbox",
        "summary": "Delete an inbox",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/messages": {
      "post": {
        "tags": [
          "messages"
        ],
        "operationId": "sendMessage",
        "summary": "Send a message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessage"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendResult"
                }
              }
            }
          },
          "422": {
            "description": "All recipients suppressed or blocked"
          }
        }
      },
      "get": {
        "tags": [
          "messages"
        ],
        "operationId": "searchMessages",
        "summary": "Search messages",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "keyword",
                "semantic",
                "hybrid"
              ]
            }
          },
          {
            "name": "inbox_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mode_used": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages/{id}": {
      "get": {
        "tags": [
          "messages"
        ],
        "operationId": "getMessage",
        "summary": "Get a message",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/messages/{id}/reply": {
      "post": {
        "tags": [
          "messages"
        ],
        "operationId": "replyToMessage",
        "summary": "Reply in thread",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "html": {
                    "type": "string"
                  },
                  "reply_all": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendResult"
                }
              }
            }
          }
        }
      }
    },
    "/messages/{id}/forward": {
      "post": {
        "tags": [
          "messages"
        ],
        "operationId": "forwardMessage",
        "summary": "Forward a message",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to"
                ],
                "properties": {
                  "to": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "text": {
                    "type": "string"
                  },
                  "from_inbox_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendResult"
                }
              }
            }
          }
        }
      }
    },
    "/threads": {
      "get": {
        "tags": [
          "threads"
        ],
        "operationId": "listThreads",
        "summary": "List threads",
        "parameters": [
          {
            "name": "inbox_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threads": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Thread"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/threads/{id}": {
      "get": {
        "tags": [
          "threads"
        ],
        "operationId": "getThread",
        "summary": "Get a thread with messages",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          }
        }
      }
    },
    "/drafts": {
      "post": {
        "tags": [
          "drafts"
        ],
        "operationId": "createDraft",
        "summary": "Create a draft",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDraft"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "drafts"
        ],
        "operationId": "listDrafts",
        "summary": "List drafts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "drafts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Draft"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/drafts/{id}": {
      "get": {
        "tags": [
          "drafts"
        ],
        "operationId": "getDraft",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "drafts"
        ],
        "operationId": "updateDraft",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDraft"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "drafts"
        ],
        "operationId": "deleteDraft",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/drafts/{id}/send": {
      "post": {
        "tags": [
          "drafts"
        ],
        "operationId": "sendDraft",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "201": {
            "description": "Sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendResult"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "delete": {
        "tags": [
          "webhooks"
        ],
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/labels": {
      "post": {
        "tags": [
          "labels"
        ],
        "operationId": "createLabel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "labels"
        ],
        "operationId": "listLabels",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/labels/{id}": {
      "delete": {
        "tags": [
          "labels"
        ],
        "operationId": "deleteLabel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/labels/{id}/assign": {
      "post": {
        "tags": [
          "labels"
        ],
        "operationId": "assignLabel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message_id"
                ],
                "properties": {
                  "message_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/labels/{id}/unassign": {
      "post": {
        "tags": [
          "labels"
        ],
        "operationId": "unassignLabel",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message_id"
                ],
                "properties": {
                  "message_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/lists": {
      "post": {
        "tags": [
          "lists"
        ],
        "operationId": "createRule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kind",
                  "pattern"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "allow",
                      "block"
                    ]
                  },
                  "direction": {
                    "type": "string",
                    "enum": [
                      "inbound",
                      "outbound",
                      "both"
                    ]
                  },
                  "pattern": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      },
      "get": {
        "tags": [
          "lists"
        ],
        "operationId": "listRules",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/lists/{id}": {
      "delete": {
        "tags": [
          "lists"
        ],
        "operationId": "deleteRule",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/attachments/{id}": {
      "get": {
        "tags": [
          "attachments"
        ],
        "operationId": "getAttachment",
        "summary": "Get a signed download URL",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          }
        }
      }
    },
    "/domains": {
      "post": {
        "tags": [
          "domains"
        ],
        "operationId": "createDomain",
        "summary": "Add a custom domain",
        "description": "Add a bring-your-own domain. Returns the DNS records to publish. Requires a paid plan.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomain"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainWithRecords"
                }
              }
            }
          },
          "402": {
            "description": "Plan upgrade required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "upgrade": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "domains"
        ],
        "operationId": "listDomains",
        "summary": "List domains",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domains": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/subdomain": {
      "post": {
        "tags": [
          "domains"
        ],
        "operationId": "createSubdomain",
        "summary": "Provision a dedicated subdomain",
        "description": "Provision <label>.sentfrom.ai with DNS auto-configured for isolated sending reputation. Requires Scale or higher.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubdomain"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainWithRecords"
                }
              }
            }
          },
          "402": {
            "description": "Plan upgrade required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "upgrade": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/{id}": {
      "get": {
        "tags": [
          "domains"
        ],
        "operationId": "getDomain",
        "summary": "Get a domain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainWithRecords"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "domains"
        ],
        "operationId": "deleteDomain",
        "summary": "Delete a domain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/{id}/dmarc": {
      "post": {
        "tags": [
          "domains"
        ],
        "operationId": "setDmarcPolicy",
        "summary": "Set DMARC policy",
        "description": "Ramp the DMARC policy (none -> quarantine -> reject).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDmarc"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hostname": {
                      "type": "string"
                    },
                    "dmarc_policy": {
                      "type": "string"
                    },
                    "record": {
                      "$ref": "#/components/schemas/DnsRecord"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/{id}/verify": {
      "post": {
        "tags": [
          "domains"
        ],
        "operationId": "verifyDomain",
        "summary": "Re-check verification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "hostname": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent-signups": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "createAgentSignup",
        "summary": "Create an agent account and inbox",
        "description": "Staged rollout, disabled by default. Bootstrap through REST before connecting authenticated MCP. Persist a cryptographically random Idempotency-Key and exact request body before the first request. New accounts receive and read within limits, with sending and other changes disabled until a verified human explicitly claims the account. Save credentials privately. Retries with the same key and normalized body replay the original response for 60 minutes by default without rotating the API key. After expiry use the original key; do not create a replacement identity. Claiming preserves the tenant, inbox and API key.",
        "security": [],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Credential-like high-entropy secret. Generate at least 32 random bytes encoded as URL-safe text, save privately before sending, and reuse with the exact saved body for retries. Never log this header.",
            "schema": {
              "type": "string",
              "minLength": 32,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9_-]{32,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentSignupRequest"
              },
              "example": {
                "name": "My agent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Original signup response replayed; the inbox and API key are unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSignupResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created; securely save the API key and claim link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSignupResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request, invalid_address or invalid_idempotency_key: correct the request format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          },
          "409": {
            "description": "idempotency_conflict: this secret was used with different signup details; reuse the original body. address_taken or address_reserved: requested local part unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          },
          "410": {
            "description": "signup_replay_expired: the original signup succeeded, but its encrypted response expired. Use the saved API key or claimed console account. This secret never creates a second tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          },
          "413": {
            "description": "Signup request body exceeds 4096 bytes."
          },
          "429": {
            "description": "Rate limited. Respect Retry-After before retrying; never create another signup identity to avoid a limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            }
          },
          "503": {
            "description": "signup_disabled or signup_unavailable: rollout disabled or server prerequisites unavailable. Use an existing account or console signup.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getAccountStatus",
        "summary": "Get account state, capabilities and limits",
        "description": "Use the original API key to resume setup. Includes existing inboxes. Account status remains available after unclaimed expiry; ordinary inbox/message reads do not. Claimed send capability does not bypass plan, warming, suppression or abuse checks.",
        "responses": {
          "200": {
            "description": "Current account state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountStatus"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          },
          "403": {
            "description": "Account is suspended.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          },
          "404": {
            "description": "account_not_found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          }
        }
      }
    },
    "/account/claim-link": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "refreshAccountClaimLink",
        "summary": "Refresh the private claim link",
        "description": "Requires the existing API key and a still-active unclaimed account. Does not rotate the API key or extend account lifetime. Claim tokens are separate from API keys. Keep the response private and give the URL only to the actual operator in an existing trusted chat.",
        "responses": {
          "200": {
            "description": "New private claim link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimLink"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          },
          "403": {
            "description": "account_suspended or unclaimed_account_expired: account cannot perform this action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          },
          "404": {
            "description": "account_not_found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          },
          "409": {
            "description": "already_claimed: this account already has an owner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          },
          "410": {
            "description": "account_expired: the unclaimed account expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Respect Retry-After before retrying; never create another signup identity to avoid a limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            }
          },
          "503": {
            "description": "signup_unavailable: claim-link cryptography is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "Id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "CreateInbox": {
        "type": "object",
        "required": [
          "local_part"
        ],
        "properties": {
          "local_part": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "domain_id": {
            "type": "string"
          }
        }
      },
      "Inbox": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "local_part": {
            "type": "string"
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "address": {
            "type": "string"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "filename": {
            "type": [
              "string",
              "null"
            ]
          },
          "content_type": {
            "type": "string"
          },
          "content_base64": {
            "type": "string"
          }
        }
      },
      "SendMessage": {
        "type": "object",
        "required": [
          "inbox_id",
          "to",
          "subject"
        ],
        "properties": {
          "inbox_id": {
            "type": "string"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "in_reply_to": {
            "type": "string"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "client_id": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        }
      },
      "SendResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "thread_id": {
            "type": "string"
          },
          "message_id": {
            "type": "string"
          },
          "ses_message_id": {
            "type": "string"
          },
          "idempotent": {
            "type": "boolean"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "thread_id": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "from_addr": {
            "type": "string"
          },
          "to_addrs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": [
              "string",
              "null"
            ]
          },
          "body_text": {
            "type": [
              "string",
              "null"
            ]
          },
          "delivery_status": {
            "type": "string"
          }
        }
      },
      "Thread": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subject": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_message_at": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          }
        }
      },
      "CreateDraft": {
        "type": "object",
        "required": [
          "inbox_id"
        ],
        "properties": {
          "inbox_id": {
            "type": "string"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "reply_to_message_id": {
            "type": "string"
          },
          "scheduled_at": {
            "type": "string"
          }
        }
      },
      "Draft": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "inbox_id": {
            "type": "string"
          },
          "subject": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DnsRecord": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "CNAME",
              "TXT",
              "MX"
            ]
          },
          "name": {
            "type": "string",
            "description": "Fully-qualified record name"
          },
          "content": {
            "type": "string"
          },
          "priority": {
            "type": "integer",
            "nullable": true,
            "description": "For MX records"
          },
          "purpose": {
            "type": "string",
            "description": "dkim | spf | dmarc | inbound-mx | mailfrom-mx | mailfrom-spf"
          }
        },
        "required": [
          "type",
          "name",
          "content",
          "purpose"
        ]
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "hostname": {
            "type": "string",
            "example": "mail.yourcompany.com"
          },
          "kind": {
            "type": "string",
            "enum": [
              "system",
              "tenant_subdomain",
              "byo"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "verifying",
              "verified",
              "failed"
            ]
          },
          "mail_from_domain": {
            "type": "string",
            "nullable": true
          },
          "mail_from_status": {
            "type": "string",
            "enum": [
              "pending",
              "success",
              "failed"
            ],
            "nullable": true
          },
          "dmarc_policy": {
            "type": "string",
            "enum": [
              "none",
              "quarantine",
              "reject"
            ]
          },
          "verified_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DomainWithRecords": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Domain"
          },
          {
            "type": "object",
            "properties": {
              "records": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DnsRecord"
                }
              }
            }
          }
        ]
      },
      "CreateDomain": {
        "type": "object",
        "required": [
          "hostname"
        ],
        "properties": {
          "hostname": {
            "type": "string",
            "example": "mail.yourcompany.com"
          }
        }
      },
      "CreateSubdomain": {
        "type": "object",
        "required": [
          "label"
        ],
        "properties": {
          "label": {
            "type": "string",
            "pattern": "^[a-z0-9-]+$",
            "example": "acme"
          }
        }
      },
      "SetDmarc": {
        "type": "object",
        "required": [
          "policy"
        ],
        "properties": {
          "policy": {
            "type": "string",
            "enum": [
              "none",
              "quarantine",
              "reject"
            ]
          }
        }
      },
      "OnboardingError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code."
          },
          "message": {
            "type": "string",
            "description": "Explanation and recovery guidance."
          }
        },
        "required": [
          "error"
        ]
      },
      "AgentSignupRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Workspace display name. Trimmed; control characters are rejected. Defaults to Agent workspace."
          },
          "local_part": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "description": "Optional inbox local part. Trimmed and lowercased; letters, digits, dots, underscores and hyphens, with a letter or digit at each end and no consecutive dots. Reserved or occupied names are rejected. Omit to allocate a name."
          }
        }
      },
      "AccountInbox": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "id",
          "address"
        ]
      },
      "AccountCapabilities": {
        "type": "object",
        "properties": {
          "receive": {
            "type": "boolean",
            "description": "Account may receive, subject to quotas and message limits."
          },
          "read": {
            "type": "boolean",
            "description": "Account may read its existing inbox and mail."
          },
          "send": {
            "type": "boolean",
            "description": "Account ownership and sending status permit sending. False while paused. Plan, warming, suppression and abuse checks still apply."
          },
          "manage": {
            "type": "boolean",
            "description": "Ownership permits resource mutations; plan limits still apply. Unclaimed accounts may only refresh claim links."
          }
        },
        "required": [
          "receive",
          "read",
          "send",
          "manage"
        ]
      },
      "AccountLimits": {
        "type": "object",
        "properties": {
          "inboxes": {
            "type": "integer",
            "minimum": 1,
            "description": "Inbox cap. One while unclaimed; plan-specific after claim."
          },
          "received_messages": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Cumulative unclaimed inbound message cap, default 50. Null means no onboarding-specific cap; plan limits still apply."
          },
          "received_bytes": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Cumulative unclaimed inbound byte cap, default 10485760 (10 MiB). Null after claim; plan limits still apply."
          }
        },
        "required": [
          "inboxes",
          "received_messages",
          "received_bytes"
        ]
      },
      "ClaimLink": {
        "type": "object",
        "properties": {
          "claim_url": {
            "type": "string",
            "format": "uri",
            "description": "Private console claim URL, with a separate bearer secret in the #token fragment. Share only with the operator in an existing trusted channel; never log or email it."
          },
          "claim_expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Link expiry, default 30 minutes, bounded by account expiry. A new link does not extend account lifetime."
          }
        },
        "required": [
          "claim_url",
          "claim_expires_at"
        ]
      },
      "AgentSignupResponse": {
        "type": "object",
        "properties": {
          "tenant_id": {
            "type": "string"
          },
          "inbox": {
            "$ref": "#/components/schemas/AccountInbox"
          },
          "api_key": {
            "type": "string",
            "format": "password",
            "description": "Save privately before proceeding. Bearer credential for this tenant; unchanged across signup replays and claiming."
          },
          "onboarding_state": {
            "type": "string",
            "const": "unclaimed"
          },
          "capabilities": {
            "$ref": "#/components/schemas/AccountCapabilities"
          },
          "limits": {
            "$ref": "#/components/schemas/AccountLimits"
          },
          "unclaimed_expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Account expiry unless claimed, seven days by default."
          },
          "claim_url": {
            "type": "string",
            "format": "uri",
            "description": "Private console claim URL, with a separate bearer secret in the #token fragment. Share only with the operator in an existing trusted channel; never log or email it."
          },
          "claim_expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Link expiry, default 30 minutes, bounded by account expiry. A new link does not extend account lifetime."
          },
          "instructions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "tenant_id",
          "inbox",
          "api_key",
          "onboarding_state",
          "capabilities",
          "limits",
          "unclaimed_expires_at",
          "claim_url",
          "claim_expires_at",
          "instructions"
        ]
      },
      "AccountStatus": {
        "type": "object",
        "properties": {
          "tenant_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "onboarding_state": {
            "type": "string",
            "enum": [
              "unclaimed",
              "claimed"
            ]
          },
          "claimed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "sending_enabled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Claim-time start of sending warmup for agent-created accounts."
          },
          "unclaimed_expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "expired": {
            "type": "boolean"
          },
          "capabilities": {
            "$ref": "#/components/schemas/AccountCapabilities"
          },
          "limits": {
            "$ref": "#/components/schemas/AccountLimits"
          },
          "usage": {
            "type": "object",
            "properties": {
              "received_messages": {
                "type": "integer",
                "minimum": 0
              },
              "received_bytes": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "received_messages",
              "received_bytes"
            ],
            "description": "Counters consumed by the unclaimed onboarding receive quota. These are not lifetime or billing usage after claim."
          },
          "inboxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountInbox"
            }
          },
          "sending_status": {
            "type": "string",
            "enum": [
              "enabled",
              "paused",
              "unclaimed",
              "expired",
              "suspended"
            ],
            "description": "Current sending readiness. Check this together with capabilities.send; enabled remains subject to plan, warming, suppression and abuse checks."
          },
          "sending_paused_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When sending was paused, or null if no current pause is recorded."
          }
        },
        "required": [
          "tenant_id",
          "name",
          "onboarding_state",
          "claimed_at",
          "sending_enabled_at",
          "unclaimed_expires_at",
          "expired",
          "capabilities",
          "limits",
          "usage",
          "inboxes",
          "sending_status",
          "sending_paused_at"
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "account",
      "description": "Agent bootstrap and human ownership claim status; signup requires the staged rollout to be enabled."
    },
    {
      "name": "inboxes"
    },
    {
      "name": "messages"
    },
    {
      "name": "threads"
    },
    {
      "name": "drafts"
    },
    {
      "name": "webhooks"
    },
    {
      "name": "labels"
    },
    {
      "name": "lists"
    },
    {
      "name": "attachments"
    },
    {
      "name": "domains",
      "description": "Custom sending domains"
    }
  ]
}