{
  "openapi": "3.1.0",
  "info": {
    "title": "Iminify API",
    "version": "1.0.0",
    "summary": "Compress, convert and resize images, and scan web pages for every image they load.",
    "description": "Everything the Iminify website does with images, over HTTP. Every request carries a personal access token from Settings > API Tokens as a Bearer token, for an account whose email is verified. Compressions and page scans run in the background: create one, then poll it until it has finished. The guides are at https://www.iminify.com/docs.",
    "termsOfService": "https://www.iminify.com/terms-of-service",
    "contact": {
      "name": "Iminify",
      "url": "https://www.iminify.com/docs"
    },
    "x-jentic-source-url": "https://www.iminify.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://www.iminify.com/api/v1"
    }
  ],
  "paths": {
    "/images": {
      "get": {
        "operationId": "listImages",
        "description": "Every image on your account, newest first: your uploads, the images your page scans found, and every re-run. The website's results table lists the same images. Follow `links.next` for the next page.",
        "summary": "List images",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Only images with this status.",
            "schema": {
              "$ref": "#/components/schemas/CompressStatus"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "`upload` for images you sent (and their re-runs), `scan` for the ones page scans found.",
            "schema": {
              "type": "string",
              "enum": [
                "upload",
                "scan"
              ]
            }
          },
          {
            "name": "scan",
            "in": "query",
            "description": "Only the images of this page scan.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Images a page, 1 to 100.",
            "schema": {
              "type": "integer",
              "default": 15,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to read.",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Image"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "last": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "prev": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "next": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "from": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "links": {
                          "type": "array",
                          "description": "Generated paginator links.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "label": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "url",
                              "label",
                              "active"
                            ]
                          }
                        },
                        "path": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Base path for paginator generated URLs."
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of items shown per page.",
                          "minimum": 0
                        },
                        "to": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Number of the last item in the slice.",
                          "minimum": 1
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total number of items being paginated.",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35",
                      "status": "completed",
                      "name": "team-offsite.webp",
                      "original": {
                        "name": "team-offsite.jpg",
                        "format": "jpg",
                        "size": 2841205,
                        "width": 4032,
                        "height": 3024,
                        "download_url": "https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/download?type=original"
                      },
                      "optimized": {
                        "name": "team-offsite.webp",
                        "format": "webp",
                        "size": 212877,
                        "width": 1600,
                        "height": 1200,
                        "download_url": "https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/download"
                      },
                      "saved_bytes": 2628328,
                      "saved_percent": 92.51,
                      "settings": {
                        "level": "smart",
                        "format": "webp",
                        "keep_metadata": false,
                        "width": 1600,
                        "height": null,
                        "scale": null
                      },
                      "alt_text": {
                        "status": "written",
                        "text": "Six colleagues laughing around a picnic table on a lakeside lawn",
                        "language": "en",
                        "suggested_name": "colleagues-picnic-table-lakeside"
                      },
                      "scan_id": null,
                      "source_url": null,
                      "share_url": null,
                      "created_at": "2026-10-01T09:30:00+00:00",
                      "updated_at": "2026-10-01T09:30:09+00:00"
                    },
                    {
                      "id": "9d3c5b91-0b2e-4a7f-8c1d-5e6f7a8b9c0d",
                      "status": "queued",
                      "name": "IMG_4471.heic",
                      "original": {
                        "name": "IMG_4471.heic",
                        "format": "heic",
                        "size": 3402118,
                        "width": 4032,
                        "height": 3024,
                        "download_url": "https://www.iminify.com/api/v1/images/9d3c5b91-0b2e-4a7f-8c1d-5e6f7a8b9c0d/download?type=original"
                      },
                      "optimized": null,
                      "saved_bytes": null,
                      "saved_percent": null,
                      "settings": {
                        "level": "ultra",
                        "format": "auto",
                        "keep_metadata": true,
                        "width": null,
                        "height": null,
                        "scale": null
                      },
                      "alt_text": {
                        "status": "pending",
                        "text": null,
                        "language": "de",
                        "suggested_name": null
                      },
                      "scan_id": null,
                      "source_url": null,
                      "share_url": null,
                      "created_at": "2026-10-01T09:31:12+00:00",
                      "updated_at": "2026-10-01T09:31:12+00:00"
                    }
                  ],
                  "links": {
                    "first": "https://www.iminify.com/api/v1/images?page=1",
                    "last": "https://www.iminify.com/api/v1/images?page=1",
                    "prev": null,
                    "next": null
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 1,
                    "links": [
                      {
                        "url": null,
                        "label": "&laquo; Previous",
                        "page": null,
                        "active": false
                      },
                      {
                        "url": "https://www.iminify.com/api/v1/images?page=1",
                        "label": "1",
                        "page": 1,
                        "active": true
                      },
                      {
                        "url": null,
                        "label": "Next &raquo;",
                        "page": null,
                        "active": false
                      }
                    ],
                    "path": "https://www.iminify.com/api/v1/images",
                    "per_page": 15,
                    "to": 2,
                    "total": 2
                  }
                }
              }
            }
          },
          "401": {
            "description": "`unauthenticated`: No key was sent, or the key does not exist (it was mistyped or deleted). Send it as `Authorization: Bearer <key>`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unauthenticated": {
                    "summary": "unauthenticated",
                    "value": {
                      "message": "Unauthenticated. Send your API key as a Bearer token in the Authorization header.",
                      "code": "unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`email_not_verified`: The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key. `account_banned`: The account behind the key has been banned. Its keys stop working with the ban.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "email_not_verified": {
                    "summary": "email_not_verified",
                    "value": {
                      "message": "The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key.",
                      "code": "email_not_verified"
                    }
                  },
                  "account_banned": {
                    "summary": "account_banned",
                    "value": {
                      "message": "The account behind the key has been banned. Its keys stop working with the ban.",
                      "code": "account_banned"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`validation_failed`: A field is missing or wrong, or the file or address did not pass the checks every upload goes through. `errors` names each field with its messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "examples": {
                  "validation_failed": {
                    "summary": "validation_failed",
                    "value": {
                      "message": "The selected level is invalid. (and 1 more error)",
                      "code": "validation_failed",
                      "errors": {
                        "level": [
                          "The selected level is invalid."
                        ],
                        "width": [
                          "Send either scale or width and height, not both."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited`: One of your per-minute limits is spent: requests, compressions or page scans. The compressions and scans are counted together with the website's, so work queued there counts too. Nothing was done; wait for the number of seconds in the `Retry-After` header and send it again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "message": "You can start 20 compressions a minute. Try again in 42 seconds.",
                      "code": "rate_limited"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl \"https://www.iminify.com/api/v1/images?status=completed&per_page=20\" \\\n  -H \"Authorization: Bearer $IMINIFY_API_KEY\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\n\nimport requests\n\nAPI = \"https://www.iminify.com/api/v1\"\nHEADERS = {\n    \"Authorization\": f\"Bearer {os.environ['IMINIFY_API_KEY']}\",\n    \"Accept\": \"application/json\",\n}\n\nresponse = requests.get(\n    f\"{API}/images\",\n    headers=HEADERS,\n    params={\n        \"status\": \"completed\",\n        \"per_page\": 20,\n    },\n)\nresponse.raise_for_status()\n\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse GuzzleHttp\\Client;\n\n$client = new Client([\n    'base_uri' => 'https://www.iminify.com/api/v1/',\n    'headers' => [\n        'Authorization' => 'Bearer ' . getenv('IMINIFY_API_KEY'),\n        'Accept' => 'application/json',\n    ],\n]);\n\n$response = $client->get('images', [\n    'query' => [\n        'status' => 'completed',\n        'per_page' => 20,\n    ],\n]);\n\nprint_r(json_decode((string) $response->getBody(), true));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch('https://www.iminify.com/api/v1/images?status=completed&per_page=20', {\n  headers: {\n    Authorization: `Bearer ${process.env.IMINIFY_API_KEY}`,\n    Accept: 'application/json',\n  },\n});\n\nif (!response.ok) {\n  throw new Error(`${response.status}: ${(await response.json()).message}`);\n}\n\nconsole.log(await response.json());"
          }
        ]
      },
      "post": {
        "operationId": "createImage",
        "description": "Send the image itself as a multipart `file`, or its address as `url` and Iminify fetches it. The answer comes straight back with the status `queued` and a `Location` header; the compression runs in the background, usually for a few seconds, so poll the image until its status is `completed`, `already-optimized`, `failed` or `cancelled`. Each image counts one against your daily images and your compressions a minute, whether it came through here or through the website.\n\nThe file goes through the same checks as an upload on the website: a format Iminify reads (PNG, JPG, JPEG, WEBP, GIF, HEIC, HEIF, TIFF, TIF), your plan's file size, a name of at most 128 bytes, and at most 64 megapixels, before and after any resize. An address has to be public `http` or `https`: Iminify fetches it from its own servers, refuses private networks on the address and on every redirect, follows up to five redirects, gives up after 30 seconds and stops as soon as the file passes your plan's size. The file is named after the address. Iminify fetches up to 2 addresses for you at a time; one more sent before those finish is refused with `rate_limited`.",
        "summary": "Compress an image",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StoreImageRequest"
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "description": "The image, as a file or as the address to fetch it from, and the settings to compress it with.",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The public address of the image to fetch. Send either this or `file`.",
                    "maxLength": 2048
                  },
                  "level": {
                    "description": "How hard to compress. `smart` finds the lowest quality that still looks like your upload, `ultra` goes further and softens fine texture a little, `lossless` changes no pixel, `none` only applies the format, the resize and the metadata choice. See [Compression settings](/docs/compression-settings).",
                    "default": "smart",
                    "$ref": "#/components/schemas/CompressLevel"
                  },
                  "format": {
                    "anyOf": [
                      {
                        "description": "Convert to this format. `auto` encodes the image in every format that can hold it and keeps the smallest. Leave it out to keep the upload's own format; a HEIC or TIFF always comes back in another one, because Iminify doesn't write either. `jpeg` is read as `jpg`.",
                        "$ref": "#/components/schemas/CompressOutputExtension"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "keep_metadata": {
                    "type": "boolean",
                    "description": "Keep the EXIF metadata (camera, date, location) in the optimized copy. Off by default, which strips it; the orientation is applied to the pixels first, so a photo never comes back on its side.",
                    "default": false
                  },
                  "width": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Resize to this width in pixels. Alone, the height follows the aspect ratio. With `height` too, the image is resized to exactly that size, and its proportions change if they differ. Up to 65535.",
                    "minimum": 1,
                    "maximum": 65535
                  },
                  "height": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Resize to this height in pixels, the same way as `width`. Up to 65535.",
                    "minimum": 1,
                    "maximum": 65535
                  },
                  "scale": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Resize to this percentage of the original, 1 to 100. Cannot be combined with `width` or `height`.",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "alt_text": {
                    "type": "boolean",
                    "description": "Write an alt text and a suggested file name for the image with AI. On by default; send `false` to leave it out. A small copy of the image goes to Anthropic, whose Claude model writes both, and they arrive a few seconds after the image finishes. Each one counts against your daily AI alt texts; once those are used up the image still compresses, without one. See [Alt text and file names](/docs/images#alt-text-and-file-names).",
                    "default": true
                  },
                  "alt_text_language": {
                    "type": "string",
                    "description": "The language to write the alt text in, as one of these tags: `en` (English), `es` (Spanish), `fr` (French), `de` (German), `it` (Italian), `pt` (Portuguese), `nl` (Dutch), `pl` (Polish), `sv` (Swedish), `tr` (Turkish), `ru` (Russian), `uk` (Ukrainian), `ar` (Arabic), `fa` (Persian), `he` (Hebrew), `hi` (Hindi), `id` (Indonesian), `vi` (Vietnamese), `th` (Thai), `ja` (Japanese), `ko` (Korean), `zh-Hans` (Simplified Chinese), `zh-Hant` (Traditional Chinese). The suggested file name follows it when the language is written in the Latin alphabet, and is in English otherwise.",
                    "enum": [
                      "en",
                      "es",
                      "fr",
                      "de",
                      "it",
                      "pt",
                      "nl",
                      "pl",
                      "sv",
                      "tr",
                      "ru",
                      "uk",
                      "ar",
                      "fa",
                      "he",
                      "hi",
                      "id",
                      "vi",
                      "th",
                      "ja",
                      "ko",
                      "zh-Hans",
                      "zh-Hant"
                    ],
                    "default": "en"
                  },
                  "use_suggested_name": {
                    "type": "boolean",
                    "description": "Rename the optimized copy to the suggested file name as soon as the alt text arrives, unless it already has a new name by then: yours, or an earlier suggestion.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Queued. `Location` points at the new record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Image"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": {
                    "id": "9d3c5b91-0b2e-4a7f-8c1d-5e6f7a8b9c0d",
                    "status": "queued",
                    "name": "IMG_4471.heic",
                    "original": {
                      "name": "IMG_4471.heic",
                      "format": "heic",
                      "size": 3402118,
                      "width": 4032,
                      "height": 3024,
                      "download_url": "https://www.iminify.com/api/v1/images/9d3c5b91-0b2e-4a7f-8c1d-5e6f7a8b9c0d/download?type=original"
                    },
                    "optimized": null,
                    "saved_bytes": null,
                    "saved_percent": null,
                    "settings": {
                      "level": "ultra",
                      "format": "auto",
                      "keep_metadata": true,
                      "width": null,
                      "height": null,
                      "scale": null
                    },
                    "alt_text": {
                      "status": "pending",
                      "text": null,
                      "language": "de",
                      "suggested_name": null
                    },
                    "scan_id": null,
                    "source_url": null,
                    "share_url": null,
                    "created_at": "2026-10-01T09:31:12+00:00",
                    "updated_at": "2026-10-01T09:31:12+00:00"
                  }
                }
              }
            },
            "headers": {
              "Location": {
                "description": "The address to poll.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "401": {
            "description": "`unauthenticated`: No key was sent, or the key does not exist (it was mistyped or deleted). Send it as `Authorization: Bearer <key>`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unauthenticated": {
                    "summary": "unauthenticated",
                    "value": {
                      "message": "Unauthenticated. Send your API key as a Bearer token in the Authorization header.",
                      "code": "unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`email_not_verified`: The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key. `account_banned`: The account behind the key has been banned. Its keys stop working with the ban.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "email_not_verified": {
                    "summary": "email_not_verified",
                    "value": {
                      "message": "The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key.",
                      "code": "email_not_verified"
                    }
                  },
                  "account_banned": {
                    "summary": "account_banned",
                    "value": {
                      "message": "The account behind the key has been banned. Its keys stop working with the ban.",
                      "code": "account_banned"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`validation_failed`: A field is missing or wrong, or the file or address did not pass the checks every upload goes through. `errors` names each field with its messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "examples": {
                  "validation_failed": {
                    "summary": "validation_failed",
                    "value": {
                      "message": "The selected level is invalid. (and 1 more error)",
                      "code": "validation_failed",
                      "errors": {
                        "level": [
                          "The selected level is invalid."
                        ],
                        "width": [
                          "Send either scale or width and height, not both."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited`: One of your per-minute limits is spent: requests, compressions or page scans. The compressions and scans are counted together with the website's, so work queued there counts too. Nothing was done; wait for the number of seconds in the `Retry-After` header and send it again. `daily_limit_reached`: Your plan's images, page scans or AI alt texts for the day are used up. `Retry-After` holds the seconds until the rolling 24-hour window opens again. An image sent while only the alt texts are used up still compresses, without one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "message": "You can start 20 compressions a minute. Try again in 42 seconds.",
                      "code": "rate_limited"
                    }
                  },
                  "daily_limit_reached": {
                    "summary": "daily_limit_reached",
                    "value": {
                      "message": "You've used your 40 images for today. Come back in about 3 hours.",
                      "code": "daily_limit_reached"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "`start_failed`: The file could not be stored or queued, usually a short hiccup at the storage. Nothing was counted. Send the same request again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "start_failed": {
                    "summary": "start_failed",
                    "value": {
                      "message": "The file could not be stored or queued, usually a short hiccup at the storage. Nothing was counted. Send the same request again.",
                      "code": "start_failed"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \"https://www.iminify.com/api/v1/images\" \\\n  -H \"Authorization: Bearer $IMINIFY_API_KEY\" \\\n  -H \"Accept: application/json\" \\\n  -F \"file=@photo.jpg\" \\\n  -F \"level=smart\" \\\n  -F \"format=webp\" \\\n  -F \"width=1600\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\n\nimport requests\n\nAPI = \"https://www.iminify.com/api/v1\"\nHEADERS = {\n    \"Authorization\": f\"Bearer {os.environ['IMINIFY_API_KEY']}\",\n    \"Accept\": \"application/json\",\n}\n\nwith open(\"photo.jpg\", \"rb\") as file:\n    response = requests.post(\n        f\"{API}/images\",\n        headers=HEADERS,\n        data={\n            \"level\": \"smart\",\n            \"format\": \"webp\",\n            \"width\": \"1600\",\n        },\n        files={\"file\": file},\n    )\nresponse.raise_for_status()\n\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse GuzzleHttp\\Client;\n\n$client = new Client([\n    'base_uri' => 'https://www.iminify.com/api/v1/',\n    'headers' => [\n        'Authorization' => 'Bearer ' . getenv('IMINIFY_API_KEY'),\n        'Accept' => 'application/json',\n    ],\n]);\n\n$response = $client->post('images', [\n    'multipart' => [\n        ['name' => 'file', 'contents' => fopen('photo.jpg', 'r'), 'filename' => 'photo.jpg'],\n        ['name' => 'level', 'contents' => 'smart'],\n        ['name' => 'format', 'contents' => 'webp'],\n        ['name' => 'width', 'contents' => '1600'],\n    ],\n]);\n\nprint_r(json_decode((string) $response->getBody(), true));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import { openAsBlob } from 'node:fs';\n\nconst form = new FormData();\nform.append('file', await openAsBlob('photo.jpg'), 'photo.jpg');\nform.append('level', 'smart');\nform.append('format', 'webp');\nform.append('width', '1600');\n\nconst response = await fetch('https://www.iminify.com/api/v1/images', {\n  method: 'POST',\n  headers: {\n    Authorization: `Bearer ${process.env.IMINIFY_API_KEY}`,\n    Accept: 'application/json',\n  },\n  body: form,\n});\n\nif (!response.ok) {\n  throw new Error(`${response.status}: ${(await response.json()).message}`);\n}\n\nconsole.log(await response.json());"
          }
        ]
      }
    },
    "/images/{id}": {
      "get": {
        "operationId": "getImage",
        "description": "One image, with its status. This is the call to poll while an image is compressing; once a second or two apart is plenty.",
        "summary": "Get an image",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The image's id.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Image"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": {
                    "id": "9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35",
                    "status": "completed",
                    "name": "team-offsite.webp",
                    "original": {
                      "name": "team-offsite.jpg",
                      "format": "jpg",
                      "size": 2841205,
                      "width": 4032,
                      "height": 3024,
                      "download_url": "https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/download?type=original"
                    },
                    "optimized": {
                      "name": "team-offsite.webp",
                      "format": "webp",
                      "size": 212877,
                      "width": 1600,
                      "height": 1200,
                      "download_url": "https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/download"
                    },
                    "saved_bytes": 2628328,
                    "saved_percent": 92.51,
                    "settings": {
                      "level": "smart",
                      "format": "webp",
                      "keep_metadata": false,
                      "width": 1600,
                      "height": null,
                      "scale": null
                    },
                    "alt_text": {
                      "status": "written",
                      "text": "Six colleagues laughing around a picnic table on a lakeside lawn",
                      "language": "en",
                      "suggested_name": "colleagues-picnic-table-lakeside"
                    },
                    "scan_id": null,
                    "source_url": null,
                    "share_url": null,
                    "created_at": "2026-10-01T09:30:00+00:00",
                    "updated_at": "2026-10-01T09:30:09+00:00"
                  }
                }
              }
            }
          },
          "401": {
            "description": "`unauthenticated`: No key was sent, or the key does not exist (it was mistyped or deleted). Send it as `Authorization: Bearer <key>`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unauthenticated": {
                    "summary": "unauthenticated",
                    "value": {
                      "message": "Unauthenticated. Send your API key as a Bearer token in the Authorization header.",
                      "code": "unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`email_not_verified`: The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key. `account_banned`: The account behind the key has been banned. Its keys stop working with the ban.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "email_not_verified": {
                    "summary": "email_not_verified",
                    "value": {
                      "message": "The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key.",
                      "code": "email_not_verified"
                    }
                  },
                  "account_banned": {
                    "summary": "account_banned",
                    "value": {
                      "message": "The account behind the key has been banned. Its keys stop working with the ban.",
                      "code": "account_banned"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: No image or scan with that id on your account, or no such address. An id from another account answers the same way as one that never existed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "message": "No image with this id.",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited`: One of your per-minute limits is spent: requests, compressions or page scans. The compressions and scans are counted together with the website's, so work queued there counts too. Nothing was done; wait for the number of seconds in the `Retry-After` header and send it again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "message": "You can start 20 compressions a minute. Try again in 42 seconds.",
                      "code": "rate_limited"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl \"https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35\" \\\n  -H \"Authorization: Bearer $IMINIFY_API_KEY\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\n\nimport requests\n\nAPI = \"https://www.iminify.com/api/v1\"\nHEADERS = {\n    \"Authorization\": f\"Bearer {os.environ['IMINIFY_API_KEY']}\",\n    \"Accept\": \"application/json\",\n}\n\nresponse = requests.get(\n    f\"{API}/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35\",\n    headers=HEADERS,\n)\nresponse.raise_for_status()\n\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse GuzzleHttp\\Client;\n\n$client = new Client([\n    'base_uri' => 'https://www.iminify.com/api/v1/',\n    'headers' => [\n        'Authorization' => 'Bearer ' . getenv('IMINIFY_API_KEY'),\n        'Accept' => 'application/json',\n    ],\n]);\n\n$response = $client->get('images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35');\n\nprint_r(json_decode((string) $response->getBody(), true));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch('https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35', {\n  headers: {\n    Authorization: `Bearer ${process.env.IMINIFY_API_KEY}`,\n    Accept: 'application/json',\n  },\n});\n\nif (!response.ok) {\n  throw new Error(`${response.status}: ${(await response.json()).message}`);\n}\n\nconsole.log(await response.json());"
          }
        ]
      },
      "patch": {
        "operationId": "renameImage",
        "description": "Changes the name the optimized copy downloads under. The original keeps the name it was uploaded with. The extension is always the delivered format's, so a typed one (`hero.webp`) is dropped, and characters that don't belong in a file name become a hyphen. Only a finished image can be renamed.",
        "summary": "Rename an image",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The image's id.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Image"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": {
                    "id": "9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35",
                    "status": "completed",
                    "name": "team-offsite.webp",
                    "original": {
                      "name": "team-offsite.jpg",
                      "format": "jpg",
                      "size": 2841205,
                      "width": 4032,
                      "height": 3024,
                      "download_url": "https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/download?type=original"
                    },
                    "optimized": {
                      "name": "team-offsite.webp",
                      "format": "webp",
                      "size": 212877,
                      "width": 1600,
                      "height": 1200,
                      "download_url": "https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/download"
                    },
                    "saved_bytes": 2628328,
                    "saved_percent": 92.51,
                    "settings": {
                      "level": "smart",
                      "format": "webp",
                      "keep_metadata": false,
                      "width": 1600,
                      "height": null,
                      "scale": null
                    },
                    "alt_text": {
                      "status": "written",
                      "text": "Six colleagues laughing around a picnic table on a lakeside lawn",
                      "language": "en",
                      "suggested_name": "colleagues-picnic-table-lakeside"
                    },
                    "scan_id": null,
                    "source_url": null,
                    "share_url": null,
                    "created_at": "2026-10-01T09:30:00+00:00",
                    "updated_at": "2026-10-01T09:30:09+00:00"
                  }
                }
              }
            }
          },
          "401": {
            "description": "`unauthenticated`: No key was sent, or the key does not exist (it was mistyped or deleted). Send it as `Authorization: Bearer <key>`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unauthenticated": {
                    "summary": "unauthenticated",
                    "value": {
                      "message": "Unauthenticated. Send your API key as a Bearer token in the Authorization header.",
                      "code": "unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`email_not_verified`: The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key. `account_banned`: The account behind the key has been banned. Its keys stop working with the ban.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "email_not_verified": {
                    "summary": "email_not_verified",
                    "value": {
                      "message": "The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key.",
                      "code": "email_not_verified"
                    }
                  },
                  "account_banned": {
                    "summary": "account_banned",
                    "value": {
                      "message": "The account behind the key has been banned. Its keys stop working with the ban.",
                      "code": "account_banned"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: No image or scan with that id on your account, or no such address. An id from another account answers the same way as one that never existed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "message": "No image with this id.",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`image_not_finished`: The call needs an optimized copy (to download, rename or zip it, or to write its alt text) and the image has not finished. In a batch call, none of the images named had finished.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "image_not_finished": {
                    "summary": "image_not_finished",
                    "value": {
                      "message": "Only an image that has finished optimizing can be downloaded.",
                      "code": "image_not_finished"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`validation_failed`: A field is missing or wrong, or the file or address did not pass the checks every upload goes through. `errors` names each field with its messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "examples": {
                  "validation_failed": {
                    "summary": "validation_failed",
                    "value": {
                      "message": "The selected level is invalid. (and 1 more error)",
                      "code": "validation_failed",
                      "errors": {
                        "level": [
                          "The selected level is invalid."
                        ],
                        "width": [
                          "Send either scale or width and height, not both."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited`: One of your per-minute limits is spent: requests, compressions or page scans. The compressions and scans are counted together with the website's, so work queued there counts too. Nothing was done; wait for the number of seconds in the `Retry-After` header and send it again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "message": "You can start 20 compressions a minute. Try again in 42 seconds.",
                      "code": "rate_limited"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X PATCH \"https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35\" \\\n  -H \"Authorization: Bearer $IMINIFY_API_KEY\" \\\n  -H \"Accept: application/json\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"name\":\"team-offsite\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\n\nimport requests\n\nAPI = \"https://www.iminify.com/api/v1\"\nHEADERS = {\n    \"Authorization\": f\"Bearer {os.environ['IMINIFY_API_KEY']}\",\n    \"Accept\": \"application/json\",\n}\n\nresponse = requests.patch(\n    f\"{API}/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35\",\n    headers=HEADERS,\n    json={\n        \"name\": \"team-offsite\",\n    },\n)\nresponse.raise_for_status()\n\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse GuzzleHttp\\Client;\n\n$client = new Client([\n    'base_uri' => 'https://www.iminify.com/api/v1/',\n    'headers' => [\n        'Authorization' => 'Bearer ' . getenv('IMINIFY_API_KEY'),\n        'Accept' => 'application/json',\n    ],\n]);\n\n$response = $client->patch('images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35', [\n    'json' => [\n        'name' => 'team-offsite',\n    ],\n]);\n\nprint_r(json_decode((string) $response->getBody(), true));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch('https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35', {\n  method: 'PATCH',\n  headers: {\n    Authorization: `Bearer ${process.env.IMINIFY_API_KEY}`,\n    Accept: 'application/json',\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    name: 'team-offsite',\n  }),\n});\n\nif (!response.ok) {\n  throw new Error(`${response.status}: ${(await response.json()).message}`);\n}\n\nconsole.log(await response.json());"
          }
        ]
      },
      "delete": {
        "operationId": "deleteImage",
        "description": "Deletes the image and both of its files from storage for good. There is no trash and no undo. An image that is still queued or compressing is refused; cancel it while it is queued, or wait for it to finish.",
        "summary": "Delete an image",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The image's id.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Done. The body is empty."
          },
          "401": {
            "description": "`unauthenticated`: No key was sent, or the key does not exist (it was mistyped or deleted). Send it as `Authorization: Bearer <key>`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unauthenticated": {
                    "summary": "unauthenticated",
                    "value": {
                      "message": "Unauthenticated. Send your API key as a Bearer token in the Authorization header.",
                      "code": "unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`email_not_verified`: The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key. `account_banned`: The account behind the key has been banned. Its keys stop working with the ban.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "email_not_verified": {
                    "summary": "email_not_verified",
                    "value": {
                      "message": "The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key.",
                      "code": "email_not_verified"
                    }
                  },
                  "account_banned": {
                    "summary": "account_banned",
                    "value": {
                      "message": "The account behind the key has been banned. Its keys stop working with the ban.",
                      "code": "account_banned"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: No image or scan with that id on your account, or no such address. An id from another account answers the same way as one that never existed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "message": "No image with this id.",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`image_in_progress`: The image is still queued or being compressed. Wait for it to finish, or cancel it while it is still queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "image_in_progress": {
                    "summary": "image_in_progress",
                    "value": {
                      "message": "The compression is still running and cannot be deleted yet.",
                      "code": "image_in_progress"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited`: One of your per-minute limits is spent: requests, compressions or page scans. The compressions and scans are counted together with the website's, so work queued there counts too. Nothing was done; wait for the number of seconds in the `Retry-After` header and send it again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "message": "You can start 20 compressions a minute. Try again in 42 seconds.",
                      "code": "rate_limited"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "`delete_failed`: The files could not be removed from storage just now, so nothing was deleted. Send the same request again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "delete_failed": {
                    "summary": "delete_failed",
                    "value": {
                      "message": "The files could not be removed from storage just now, so nothing was deleted. Send the same request again.",
                      "code": "delete_failed"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X DELETE \"https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35\" \\\n  -H \"Authorization: Bearer $IMINIFY_API_KEY\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\n\nimport requests\n\nAPI = \"https://www.iminify.com/api/v1\"\nHEADERS = {\n    \"Authorization\": f\"Bearer {os.environ['IMINIFY_API_KEY']}\",\n    \"Accept\": \"application/json\",\n}\n\nresponse = requests.delete(\n    f\"{API}/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35\",\n    headers=HEADERS,\n)\nresponse.raise_for_status()\n\nprint(response.status_code)  # 204, nothing in the body"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse GuzzleHttp\\Client;\n\n$client = new Client([\n    'base_uri' => 'https://www.iminify.com/api/v1/',\n    'headers' => [\n        'Authorization' => 'Bearer ' . getenv('IMINIFY_API_KEY'),\n        'Accept' => 'application/json',\n    ],\n]);\n\n$response = $client->delete('images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35');\n\necho $response->getStatusCode(), PHP_EOL; // 204, nothing in the body"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch('https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35', {\n  method: 'DELETE',\n  headers: {\n    Authorization: `Bearer ${process.env.IMINIFY_API_KEY}`,\n    Accept: 'application/json',\n  },\n});\n\nif (!response.ok) {\n  throw new Error(`${response.status}: ${(await response.json()).message}`);\n}\n\nconsole.log(response.status); // 204, nothing in the body"
          }
        ]
      }
    },
    "/images/{id}/download": {
      "get": {
        "operationId": "downloadImage",
        "description": "The optimized copy, or with `type=original` the file exactly as it was uploaded. The answer is the file itself, with its type in `Content-Type` and its name in `Content-Disposition`. The original is there from the moment the image is queued; the optimized copy once it has finished.",
        "summary": "Download an image",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The image's id.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Which file: the optimized copy, or the original as it was uploaded.",
            "schema": {
              "type": "string",
              "enum": [
                "optimized",
                "original"
              ],
              "default": "optimized"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The file.",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "`unauthenticated`: No key was sent, or the key does not exist (it was mistyped or deleted). Send it as `Authorization: Bearer <key>`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unauthenticated": {
                    "summary": "unauthenticated",
                    "value": {
                      "message": "Unauthenticated. Send your API key as a Bearer token in the Authorization header.",
                      "code": "unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`email_not_verified`: The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key. `account_banned`: The account behind the key has been banned. Its keys stop working with the ban.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "email_not_verified": {
                    "summary": "email_not_verified",
                    "value": {
                      "message": "The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key.",
                      "code": "email_not_verified"
                    }
                  },
                  "account_banned": {
                    "summary": "account_banned",
                    "value": {
                      "message": "The account behind the key has been banned. Its keys stop working with the ban.",
                      "code": "account_banned"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: No image or scan with that id on your account, or no such address. An id from another account answers the same way as one that never existed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "message": "No image with this id.",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`image_not_finished`: The call needs an optimized copy (to download, rename or zip it, or to write its alt text) and the image has not finished. In a batch call, none of the images named had finished.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "image_not_finished": {
                    "summary": "image_not_finished",
                    "value": {
                      "message": "Only an image that has finished optimizing can be downloaded.",
                      "code": "image_not_finished"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`validation_failed`: A field is missing or wrong, or the file or address did not pass the checks every upload goes through. `errors` names each field with its messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "examples": {
                  "validation_failed": {
                    "summary": "validation_failed",
                    "value": {
                      "message": "The selected level is invalid. (and 1 more error)",
                      "code": "validation_failed",
                      "errors": {
                        "level": [
                          "The selected level is invalid."
                        ],
                        "width": [
                          "Send either scale or width and height, not both."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited`: One of your per-minute limits is spent: requests, compressions or page scans. The compressions and scans are counted together with the website's, so work queued there counts too. Nothing was done; wait for the number of seconds in the `Retry-After` header and send it again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "message": "You can start 20 compressions a minute. Try again in 42 seconds.",
                      "code": "rate_limited"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --fail-with-body -o team-offsite.webp \"https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/download\" \\\n  -H \"Authorization: Bearer $IMINIFY_API_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\n\nimport requests\n\nAPI = \"https://www.iminify.com/api/v1\"\nHEADERS = {\n    \"Authorization\": f\"Bearer {os.environ['IMINIFY_API_KEY']}\",\n    \"Accept\": \"application/json\",\n}\n\nresponse = requests.get(\n    f\"{API}/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/download\",\n    headers=HEADERS,\n)\nresponse.raise_for_status()\n\nwith open(\"team-offsite.webp\", \"wb\") as out:\n    out.write(response.content)"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse GuzzleHttp\\Client;\n\n$client = new Client([\n    'base_uri' => 'https://www.iminify.com/api/v1/',\n    'headers' => [\n        'Authorization' => 'Bearer ' . getenv('IMINIFY_API_KEY'),\n        'Accept' => 'application/json',\n    ],\n]);\n\n$response = $client->get('images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/download', [\n    'sink' => 'team-offsite.webp',\n]);\n\necho 'Saved team-offsite.webp', PHP_EOL;"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import { writeFile } from 'node:fs/promises';\n\nconst response = await fetch('https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/download', {\n  headers: {\n    Authorization: `Bearer ${process.env.IMINIFY_API_KEY}`,\n    Accept: 'application/json',\n  },\n});\n\nif (!response.ok) {\n  throw new Error(`${response.status}: ${(await response.json()).message}`);\n}\n\nawait writeFile('team-offsite.webp', Buffer.from(await response.arrayBuffer()));"
          }
        ]
      }
    },
    "/images/{id}/recompress": {
      "post": {
        "operationId": "recompressImage",
        "description": "Runs the stored original through again with new settings and answers with a new image; the one you started from stays as it is. Nothing is uploaded again, but it counts as a compression like an upload does. It is how you try `ultra` after `smart`, or AVIF after WebP. Any image that isn't still running can go again, a failed or cancelled one included. A resize that would take the image past 64 megapixels is refused with the message under `errors.image`.",
        "summary": "Compress an image again",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The image's id.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecompressImageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Queued. `Location` points at the new record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Image"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": {
                    "id": "9d3c5b91-0b2e-4a7f-8c1d-5e6f7a8b9c0d",
                    "status": "queued",
                    "name": "IMG_4471.heic",
                    "original": {
                      "name": "IMG_4471.heic",
                      "format": "heic",
                      "size": 3402118,
                      "width": 4032,
                      "height": 3024,
                      "download_url": "https://www.iminify.com/api/v1/images/9d3c5b91-0b2e-4a7f-8c1d-5e6f7a8b9c0d/download?type=original"
                    },
                    "optimized": null,
                    "saved_bytes": null,
                    "saved_percent": null,
                    "settings": {
                      "level": "ultra",
                      "format": "auto",
                      "keep_metadata": true,
                      "width": null,
                      "height": null,
                      "scale": null
                    },
                    "alt_text": {
                      "status": "pending",
                      "text": null,
                      "language": "de",
                      "suggested_name": null
                    },
                    "scan_id": null,
                    "source_url": null,
                    "share_url": null,
                    "created_at": "2026-10-01T09:31:12+00:00",
                    "updated_at": "2026-10-01T09:31:12+00:00"
                  }
                }
              }
            },
            "headers": {
              "Location": {
                "description": "The address to poll.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "401": {
            "description": "`unauthenticated`: No key was sent, or the key does not exist (it was mistyped or deleted). Send it as `Authorization: Bearer <key>`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unauthenticated": {
                    "summary": "unauthenticated",
                    "value": {
                      "message": "Unauthenticated. Send your API key as a Bearer token in the Authorization header.",
                      "code": "unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`email_not_verified`: The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key. `account_banned`: The account behind the key has been banned. Its keys stop working with the ban.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "email_not_verified": {
                    "summary": "email_not_verified",
                    "value": {
                      "message": "The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key.",
                      "code": "email_not_verified"
                    }
                  },
                  "account_banned": {
                    "summary": "account_banned",
                    "value": {
                      "message": "The account behind the key has been banned. Its keys stop working with the ban.",
                      "code": "account_banned"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: No image or scan with that id on your account, or no such address. An id from another account answers the same way as one that never existed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "message": "No image with this id.",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`image_in_progress`: The image is still queued or being compressed. Wait for it to finish, or cancel it while it is still queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "image_in_progress": {
                    "summary": "image_in_progress",
                    "value": {
                      "message": "The compression is still running and cannot be deleted yet.",
                      "code": "image_in_progress"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`validation_failed`: A field is missing or wrong, or the file or address did not pass the checks every upload goes through. `errors` names each field with its messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "examples": {
                  "validation_failed": {
                    "summary": "validation_failed",
                    "value": {
                      "message": "The selected level is invalid. (and 1 more error)",
                      "code": "validation_failed",
                      "errors": {
                        "level": [
                          "The selected level is invalid."
                        ],
                        "width": [
                          "Send either scale or width and height, not both."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited`: One of your per-minute limits is spent: requests, compressions or page scans. The compressions and scans are counted together with the website's, so work queued there counts too. Nothing was done; wait for the number of seconds in the `Retry-After` header and send it again. `daily_limit_reached`: Your plan's images, page scans or AI alt texts for the day are used up. `Retry-After` holds the seconds until the rolling 24-hour window opens again. An image sent while only the alt texts are used up still compresses, without one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "message": "You can start 20 compressions a minute. Try again in 42 seconds.",
                      "code": "rate_limited"
                    }
                  },
                  "daily_limit_reached": {
                    "summary": "daily_limit_reached",
                    "value": {
                      "message": "You've used your 40 images for today. Come back in about 3 hours.",
                      "code": "daily_limit_reached"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "`start_failed`: The file could not be stored or queued, usually a short hiccup at the storage. Nothing was counted. Send the same request again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "start_failed": {
                    "summary": "start_failed",
                    "value": {
                      "message": "The file could not be stored or queued, usually a short hiccup at the storage. Nothing was counted. Send the same request again.",
                      "code": "start_failed"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \"https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/recompress\" \\\n  -H \"Authorization: Bearer $IMINIFY_API_KEY\" \\\n  -H \"Accept: application/json\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"level\":\"ultra\",\"format\":\"avif\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\n\nimport requests\n\nAPI = \"https://www.iminify.com/api/v1\"\nHEADERS = {\n    \"Authorization\": f\"Bearer {os.environ['IMINIFY_API_KEY']}\",\n    \"Accept\": \"application/json\",\n}\n\nresponse = requests.post(\n    f\"{API}/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/recompress\",\n    headers=HEADERS,\n    json={\n        \"level\": \"ultra\",\n        \"format\": \"avif\",\n    },\n)\nresponse.raise_for_status()\n\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse GuzzleHttp\\Client;\n\n$client = new Client([\n    'base_uri' => 'https://www.iminify.com/api/v1/',\n    'headers' => [\n        'Authorization' => 'Bearer ' . getenv('IMINIFY_API_KEY'),\n        'Accept' => 'application/json',\n    ],\n]);\n\n$response = $client->post('images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/recompress', [\n    'json' => [\n        'level' => 'ultra',\n        'format' => 'avif',\n    ],\n]);\n\nprint_r(json_decode((string) $response->getBody(), true));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch('https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/recompress', {\n  method: 'POST',\n  headers: {\n    Authorization: `Bearer ${process.env.IMINIFY_API_KEY}`,\n    Accept: 'application/json',\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    level: 'ultra',\n    format: 'avif',\n  }),\n});\n\nif (!response.ok) {\n  throw new Error(`${response.status}: ${(await response.json()).message}`);\n}\n\nconsole.log(await response.json());"
          }
        ]
      }
    },
    "/images/{id}/retry": {
      "post": {
        "operationId": "retryImage",
        "description": "Queues a failed or cancelled image again with the settings it had. It counts as a compression.",
        "summary": "Retry an image",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The image's id.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Queued. `Location` points at the new record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Image"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": {
                    "id": "9d3c5b91-0b2e-4a7f-8c1d-5e6f7a8b9c0d",
                    "status": "queued",
                    "name": "IMG_4471.heic",
                    "original": {
                      "name": "IMG_4471.heic",
                      "format": "heic",
                      "size": 3402118,
                      "width": 4032,
                      "height": 3024,
                      "download_url": "https://www.iminify.com/api/v1/images/9d3c5b91-0b2e-4a7f-8c1d-5e6f7a8b9c0d/download?type=original"
                    },
                    "optimized": null,
                    "saved_bytes": null,
                    "saved_percent": null,
                    "settings": {
                      "level": "ultra",
                      "format": "auto",
                      "keep_metadata": true,
                      "width": null,
                      "height": null,
                      "scale": null
                    },
                    "alt_text": {
                      "status": "pending",
                      "text": null,
                      "language": "de",
                      "suggested_name": null
                    },
                    "scan_id": null,
                    "source_url": null,
                    "share_url": null,
                    "created_at": "2026-10-01T09:31:12+00:00",
                    "updated_at": "2026-10-01T09:31:12+00:00"
                  }
                }
              }
            },
            "headers": {
              "Location": {
                "description": "The address to poll.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "401": {
            "description": "`unauthenticated`: No key was sent, or the key does not exist (it was mistyped or deleted). Send it as `Authorization: Bearer <key>`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unauthenticated": {
                    "summary": "unauthenticated",
                    "value": {
                      "message": "Unauthenticated. Send your API key as a Bearer token in the Authorization header.",
                      "code": "unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`email_not_verified`: The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key. `account_banned`: The account behind the key has been banned. Its keys stop working with the ban.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "email_not_verified": {
                    "summary": "email_not_verified",
                    "value": {
                      "message": "The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key.",
                      "code": "email_not_verified"
                    }
                  },
                  "account_banned": {
                    "summary": "account_banned",
                    "value": {
                      "message": "The account behind the key has been banned. Its keys stop working with the ban.",
                      "code": "account_banned"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`not_found`: No image or scan with that id on your account, or no such address. An id from another account answers the same way as one that never existed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found",
                    "value": {
                      "message": "No image with this id.",
                      "code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`image_not_retryable`: Only a failed or cancelled image can be retried. To run a finished one again with other settings, recompress it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "image_not_retryable": {
                    "summary": "image_not_retryable",
                    "value": {
                      "message": "Only a failed or cancelled image can be retried. To run a finished one again with other settings, recompress it.",
                      "code": "image_not_retryable"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "`rate_limited`: One of your per-minute limits is spent: requests, compressions or page scans. The compressions and scans are counted together with the website's, so work queued there counts too. Nothing was done; wait for the number of seconds in the `Retry-After` header and send it again. `daily_limit_reached`: Your plan's images, page scans or AI alt texts for the day are used up. `Retry-After` holds the seconds until the rolling 24-hour window opens again. An image sent while only the alt texts are used up still compresses, without one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited",
                    "value": {
                      "message": "You can start 20 compressions a minute. Try again in 42 seconds.",
                      "code": "rate_limited"
                    }
                  },
                  "daily_limit_reached": {
                    "summary": "daily_limit_reached",
                    "value": {
                      "message": "You've used your 40 images for today. Come back in about 3 hours.",
                      "code": "daily_limit_reached"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \"https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/retry\" \\\n  -H \"Authorization: Bearer $IMINIFY_API_KEY\" \\\n  -H \"Accept: application/json\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\n\nimport requests\n\nAPI = \"https://www.iminify.com/api/v1\"\nHEADERS = {\n    \"Authorization\": f\"Bearer {os.environ['IMINIFY_API_KEY']}\",\n    \"Accept\": \"application/json\",\n}\n\nresponse = requests.post(\n    f\"{API}/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/retry\",\n    headers=HEADERS,\n)\nresponse.raise_for_status()\n\nprint(response.json())"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "<?php\n\nrequire __DIR__ . '/vendor/autoload.php';\n\nuse GuzzleHttp\\Client;\n\n$client = new Client([\n    'base_uri' => 'https://www.iminify.com/api/v1/',\n    'headers' => [\n        'Authorization' => 'Bearer ' . getenv('IMINIFY_API_KEY'),\n        'Accept' => 'application/json',\n    ],\n]);\n\n$response = $client->post('images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/retry');\n\nprint_r(json_decode((string) $response->getBody(), true));"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch('https://www.iminify.com/api/v1/images/9d3c5b8e-6f0a-4c1e-9b7d-2a4e8f1c6b35/retry', {\n  method: 'POST',\n  headers: {\n    Authorization: `Bearer ${process.env.IMINIFY_API_KEY}`,\n    Accept: 'application/json',\n  },\n});\n\nif (!response.ok) {\n  throw new Error(`${response.status}: ${(await response.json()).message}`);\n}\n\nconsole.log(await response.json());"
          }
        ]
      }
    },
    "/images/{id}/cancel": {
      "post": {
        "operationId": "cancelImage",
        "description": "Calls off an image still waiting in the queue. Once a worker has picked it up it runs to the end.",
        "summary": "Cancel an image",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The image's id.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Image"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": {
                    "id": "9d3c5b91-0b2e-4a7f-8c1d-5e6f7a8b9c0d",
                    "status": "cancelled",
                    "name": "IMG_4471.heic",
                    "original": {
                      "name": "IMG_4471.heic",
                      "format": "heic",
                      "size": 3402118,
                      "width": 4032,
                      "height": 3024,
                      "download_url": "https://www.iminify.com/api/v1/images/9d3c5b91-0b2e-4a7f-8c1d-5e6f7a8b9c0d/download?type=original"
                    },
                    "optimized": null,
                    "saved_bytes": null,
                    "saved_percent": null,
                    "settings": {
                      "level": "ultra",
                      "format": "auto",
                      "keep_metadata": true,
                      "width": null,
                      "height": null,
                      "scale": null
                    },
                    "alt_text": {
                      "status": "pending",
                      "text": null,
                      "language": "de",
                      "suggested_name": null
                    },
                    "scan_id": null,
                    "source_url": null,
                    "share_url": null,
                    "created_at": "2026-10-01T09:31:12+00:00",
                    "updated_at": "2026-10-01T09:31:40+00:00"
                  }
                }
              }
            }
          },
          "401": {
            "description": "`unauthenticated`: No key was sent, or the key does not exist (it was mistyped or deleted). Send it as `Authorization: Bearer <key>`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "unauthenticated": {
                    "summary": "unauthenticated",
                    "value": {
                      "message": "Unauthenticated. Send your API key as a Bearer token in the Authorization header.",
                      "code": "unauthenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "`email_not_verified`: The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key. `account_banned`: The account behind the key has been banned. Its keys stop working with the ban.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "email_not_verified": {
                    "summary": "email_not_verified",
                    "value": {
                      "message": "The key belongs to an account whose email address is not verified yet. Follow the link in the verification email, then call again with the same key.",
                      "code": "email_not_verified"
                    }
                  },
                  "account_banned": {
                    "summary": "account_banned",
                    "value": {
[...]
