{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenMayhem API",
    "version": "1.0.0",
    "description": "Pay-per-use AI inference over a decentralised provider network. OpenAI-compatible where an equivalent exists. Billing is reserve-then-settle from prepaid credit; every charge settles against a provider-signed receipt. Human docs: https://openmayhem.ai/docs (each page also at /docs/<slug>.md).",
    "x-jentic-source-url": "https://openmayhem.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.openmayhem.ai/v1"
    }
  ],
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "Chat completion",
        "description": "OpenAI-compatible. Requires the CHAT scope. Streaming defaults to off; explicit stream: true enables progressive server-sent events (SSE). The API forwards emitted deltas without buffering the entire output; a provider backend may buffer its own output rather than emit token by token. Native Core durable jobs preserve billing and reconciliation. Disconnecting does not guarantee cancellation or a refund; charges settle exactly from the signed receipt for work performed. Budget with max_tokens. stream_recovery_unavailable means the gateway does not yet support stream recovery: the request fails before inference starts; use stream: false instead. Send an Idempotency-Key header to make retries safe.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant",
                            "tool"
                          ]
                        },
                        "content": {}
                      }
                    }
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "Budget generously (2000+) for reasoning models; thinking consumes tokens."
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Defaults to false. Set true explicitly for progressive OpenAI-compatible SSE with x-openmayhem-stream-mode: live."
                  },
                  "stream_options": {
                    "type": "object",
                    "description": "For streaming Chat Completions, set include_usage: true to receive a final usage chunk after the last delta and before [DONE]. Without this option, the usage chunk is omitted.",
                    "properties": {
                      "include_usage": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "With streaming off, an OpenAI-shaped completion plus usage.cost (USD string) and openmayhem.request_id / openmayhem.receipt. With stream: true, text/event-stream with x-openmayhem-stream-mode: live; Chat Completions chunks end with [DONE], preceded by an optional final usage chunk when stream_options.include_usage is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletion"
                }
              }
            }
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/completions": {
      "post": {
        "summary": "Legacy text completion",
        "description": "Requires the COMPLETIONS scope. Streaming defaults to off; explicit stream: true enables progressive OpenAI-compatible SSE. The API forwards emitted deltas without buffering the entire output; a provider backend may buffer its own output rather than emit token by token. Set stream_options.include_usage: true for a final usage chunk after the last delta and before [DONE]; otherwise that chunk is omitted. Native Core durable jobs preserve billing and reconciliation. Disconnecting does not guarantee cancellation or a refund; charges settle exactly from the signed receipt for work performed. Budget with max_tokens. stream_recovery_unavailable means the gateway does not yet support stream recovery: the request fails before inference starts; use stream: false instead.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "max_tokens": {
                    "type": "integer"
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Defaults to false. Set true explicitly for progressive OpenAI-compatible SSE with x-openmayhem-stream-mode: live."
                  }
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "With streaming off, an OpenAI-shaped completion with usage.cost and openmayhem fields. With stream: true, text/event-stream with x-openmayhem-stream-mode: live; Completions chunks end with [DONE], preceded by an optional final usage chunk when stream_options.include_usage is true."
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/responses": {
      "post": {
        "summary": "Stateless responses API",
        "description": "Requires the RESPONSES scope. Stateless by design. Streaming defaults to off; explicit stream: true enables progressive SSE using the distinct OpenAI Responses event protocol, not Chat/Completions chunks or their [DONE] terminator. The API forwards emitted deltas without buffering the entire output; a provider backend may buffer its own output rather than emit token by token. Native Core durable jobs preserve billing and reconciliation. Disconnecting does not guarantee cancellation or a refund; charges settle exactly from the signed receipt for work performed. Budget with max_tokens. stream_recovery_unavailable means the gateway does not yet support stream recovery: the request fails before inference starts; use stream: false instead.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "input": {}
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "With streaming off, a Responses-shaped result with usage.cost and openmayhem fields. With stream: true, text/event-stream carrying Responses events with x-openmayhem-stream-mode: live."
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/embeddings": {
      "post": {
        "summary": "Embedding vectors",
        "description": "Requires the EMBEDDINGS scope.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "input": {}
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAI-shaped embedding list with usage.cost."
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/decisions": {
      "post": {
        "summary": "Typed policy decision",
        "description": "Requires the DECISIONS scope. Native Laya and the Flash JEV decision model evaluate application state against typed choice, score, or yes-or-no questions. Flash JEV may also use /decisions/flash-jev. These endpoints are synchronous, not OpenAI chat endpoints.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "state",
                  "questions"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "state": {
                    "description": "A string, object, or message array containing the state to evaluate."
                  },
                  "questions": {
                    "type": "object",
                    "description": "Question map. Every entry declares type choice, score, or noul and its instructions; choice and score questions also declare criteria.",
                    "additionalProperties": true
                  },
                  "checkpoint": {
                    "type": "string",
                    "enum": [
                      "english",
                      "multilingual",
                      "typed-decisions"
                    ]
                  },
                  "task": {
                    "type": "string",
                    "enum": [
                      "typed_decisions"
                    ]
                  },
                  "lang": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "auto_task_detection": {
                    "type": "boolean",
                    "default": false
                  },
                  "email": {
                    "type": "object"
                  },
                  "shortlist": {
                    "type": "object"
                  },
                  "temperature": {
                    "type": "object"
                  },
                  "limits": {
                    "type": "object"
                  }
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Typed answers, checkpoint routing, receipt-backed usage.cost, and openmayhem request evidence."
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/decisions/flash-jev": {
      "post": {
        "summary": "Flash JEV typed decisions",
        "description": "Requires the DECISIONS scope. Uses openmayhem/flash-jev, a platform-side typed-decision view of the canonical Qwen3.8 Flash-Next chat model. The request is charged at Flash-Next's current input and output token rates; there is no separate tariff. It asks Flash for probabilities in strict JSON and applies the same mechanical validation, bounded normalization (sum error at most 0.051), lexical tie break, weighted score, and request-sourced score legend used in the published evaluation. Confidence is a deterministic concentration display, not an independently calibrated forecast. No label-specific correction is applied. Invalid outputs return 502 after the signed model usage is charged; do not retry an ambiguous outcome as new work. Maximum input is 64,000 exact model tokens across state and questions, and 32,000 for state plus any single question. At most 64 named questions. The decision result is synchronous and does not stream.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "model",
                  "state",
                  "questions"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "openmayhem/flash-jev"
                    ]
                  },
                  "state": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object"
                      },
                      {
                        "type": "array"
                      }
                    ]
                  },
                  "questions": {
                    "type": "object",
                    "minProperties": 1,
                    "maxProperties": 64,
                    "description": "Map of question IDs to {type, instructions, criteria?}. type is noul, choice or score; choice criteria maps labels to descriptions, and score criteria is an ordered description array.",
                    "additionalProperties": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "decision.result with named, validated decisions; usage.cost and signed receipt evidence."
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "The exact model tokenizer found an input above the 64k total or 32k per-question limit; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "The model produced invalid decision JSON or probabilities; signed usage may still be charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/tokenize": {
      "post": {
        "summary": "Exact model tokenization",
        "description": "Returns the serving runtime's exact, chat-template-aware token count. This is a control request: it creates no inference job, credit reservation, receipt, or charge. Models without an exact native tokenizer return token_count_unsupported.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "return_tokens": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact token count, optional token IDs, runtime context limit, and selected provider."
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/count_tokens": {
      "post": {
        "summary": "Exact model token count",
        "description": "Alias of POST /tokenize. Supply exactly one of messages or prompt. This request is authenticated and rate-limited but never billed.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "return_tokens": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact tokenization response."
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/estimates": {
      "post": {
        "summary": "Estimate an exact billable request",
        "description": "Validates the request with the same model contract, route controls, key limits and live pricing used at execution. Creates no credit hold and no model charge. The estimate expires after ten minutes and is a snapshot, not a price or capacity reservation.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "endpoint",
                  "body"
                ],
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "enum": [
                      "CHAT",
                      "COMPLETIONS",
                      "RESPONSES",
                      "EMBEDDINGS",
                      "DECISIONS",
                      "IMAGES",
                      "VIDEOS",
                      "AUDIO_SPEECH",
                      "AUDIO_TRANSCRIPTIONS",
                      "AUDIO_GENERATIONS",
                      "MUSIC",
                      "WORKFLOWS"
                    ]
                  },
                  "body": {
                    "type": "object",
                    "description": "The exact endpoint request, including model.",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expiring estimate with expected cost, maximum hold, price version and current can_start snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestEstimate"
                }
              }
            }
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/balance": {
      "get": {
        "summary": "Read API account credit",
        "description": "Requires BILLING_READ. Returns exact posted, reserved and available USD credit. Set include_rails=1 only when the FIAT, TNK and TAP split is needed.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "include_rails",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current account balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks BILLING_READ.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "summary": "Read the API account profile",
        "description": "Requires PROFILE. Returns the stable account identity used by an authorized MCP client. It never returns credentials, payment methods or wallet details.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Basic linked account profile.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "email"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "nickname": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks PROFILE.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/requests/{id}": {
      "get": {
        "summary": "Settled usage, cost and receipt for one request",
        "description": "Requires the CHAT scope. The id arrives as openmayhem.request_id in every response body.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Request id from openmayhem.request_id."
          }
        ],
        "responses": {
          "200": {
            "description": "Request record with settled usage, cost and receipt identity."
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown request or owned by another account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/images/generations": {
      "post": {
        "summary": "Image generation job",
        "description": "Requires the IMAGES scope. Returns an asynchronous job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "size": {
                    "type": "string",
                    "example": "1024x1024"
                  }
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The created job. Poll polling_url until a terminal status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/videos": {
      "post": {
        "summary": "Video generation job",
        "description": "Requires the VIDEOS scope. Returns an asynchronous job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "seconds": {
                    "description": "Duration; some contracts type this as a string enum."
                  }
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The created job. Poll polling_url until a terminal status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/audio/speech": {
      "post": {
        "summary": "Text-to-speech job",
        "description": "Requires the AUDIO_SPEECH scope. Returns an asynchronous job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "input": {
                    "type": "string"
                  },
                  "voice": {
                    "type": "string"
                  }
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The created job. Poll polling_url until a terminal status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/audio/transcriptions": {
      "post": {
        "summary": "Speech-to-text job",
        "description": "Requires the AUDIO_TRANSCRIPTIONS scope. Returns an asynchronous job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input_audio"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "input_audio": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "string",
                        "description": "Base64 audio."
                      },
                      "format": {
                        "type": "string"
                      }
                    }
                  }
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The created job. Poll polling_url until a terminal status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/audio/generations": {
      "post": {
        "summary": "Audio generation job",
        "description": "Requires the AUDIO_GENERATIONS scope. Returns an asynchronous job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "prompt": {
                    "type": "string"
                  }
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The created job. Poll polling_url until a terminal status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/music/generations": {
      "post": {
        "summary": "Music generation job",
        "description": "Requires the MUSIC scope. Returns an asynchronous job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "duration": {
                    "type": "number"
                  },
                  "lyrics": {
                    "type": "string"
                  }
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The created job. Poll polling_url until a terminal status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/workflows": {
      "post": {
        "summary": "ComfyUI workflow-graph job",
        "description": "Requires the WORKFLOWS scope. Returns an asynchronous job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MinAttTier"
          },
          {
            "$ref": "#/components/parameters/MinCtx"
          },
          {
            "$ref": "#/components/parameters/Quant"
          },
          {
            "$ref": "#/components/parameters/PreferProviders"
          },
          {
            "$ref": "#/components/parameters/Hedge"
          },
          {
            "$ref": "#/components/parameters/MinTokS"
          },
          {
            "$ref": "#/components/parameters/MaxWaitMs"
          },
          {
            "$ref": "#/components/parameters/MaxRetailCostUsd"
          },
          {
            "$ref": "#/components/parameters/MaxInputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxOutputPricePerMillionUsd"
          },
          {
            "$ref": "#/components/parameters/MaxRepresentativeRequestPriceUsd"
          },
          {
            "$ref": "#/components/parameters/EstimateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "workflow"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Catalog model id (vendor/model)."
                  },
                  "workflow": {
                    "type": "object",
                    "description": "ComfyUI API-format node graph matching the selected model's signed workflow policy. Start with its approved preset or a request prepared in Studio. Supported dimensions, nodes, model parts and LoRAs are contract-dependent; arbitrary graph changes are not accepted. LoRAs are configured in approved graph nodes, not a universal top-level loras field. Guide: https://openmayhem.ai/docs/media#workflow-api",
                    "additionalProperties": true
                  },
                  "input_files": {
                    "type": "array",
                    "description": "Reference files required by the graph. Filenames must match its file references; accepted formats and limits depend on the model contract. File contents are base64, not local paths or LoRA weight uploads.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "content_type": {
                          "type": "string"
                        },
                        "encoding": {
                          "type": "string",
                          "enum": [
                            "base64"
                          ]
                        },
                        "data": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "timeout_ms": {
                    "type": "integer"
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "artifact",
                      "json"
                    ]
                  }
                },
                "additionalProperties": {
                  "description": "Any attribute of the model's signed request contract; see GET /models/by-id?id={url-encoded-id}."
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The created job. Poll polling_url until a terminal status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Contract violation; nothing charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Scope, allowlist, spend limit or account restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit; wait Retry-After seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "No provider capacity; retry with backoff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "summary": "List recent jobs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Recent jobs for the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Job"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "summary": "Poll job status, cost and artifacts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Job id."
          }
        ],
        "responses": {
          "200": {
            "description": "The job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown job or owned by another account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel a running job",
        "description": "Work the provider already completed is still billed.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Job id."
          }
        ],
        "responses": {
          "200": {
            "description": "The cancelled job."
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown job or owned by another account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/artifacts/{id}": {
      "get": {
        "summary": "Download a job artifact",
        "description": "Redirects to a short-lived signed URL. Artifacts are cached for at most 12 hours from job creation and are not backed up.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Artifact id from a completed job."
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the signed download URL."
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown, foreign or expired artifact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/artifacts/{id}/link": {
      "post": {
        "summary": "Create a short-lived artifact link",
        "description": "Verifies ownership and the job modality scope, then returns a five-minute HTTPS link capped by the artifact's own expiry.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Artifact id from a completed job."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "download": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Artifact metadata, private URL and expiry."
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the artifact job's modality scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Unknown, foreign or expired artifact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "summary": "Public model catalog",
        "description": "No auth. Prices, availability, parameters and request contracts per model.",
        "security": [],
        "parameters": [
          {
            "name": "live",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, every capability filter is evaluated against routes that are live now. When false or omitted, registered capabilities are used."
          },
          {
            "name": "endpoint_family",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "CHAT",
                "COMPLETIONS",
                "RESPONSES",
                "EMBEDDINGS",
                "DECISIONS",
                "IMAGES",
                "VIDEOS",
                "AUDIO_SPEECH",
                "AUDIO_TRANSCRIPTIONS",
                "AUDIO_GENERATIONS",
                "MUSIC",
                "WORKFLOWS"
              ]
            },
            "description": "Only models that expose this hosted endpoint family."
          },
          {
            "name": "modality",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "embedding",
                "decision",
                "image",
                "video",
                "audio",
                "music",
                "workflow"
              ]
            },
            "description": "Only models that can produce or consume the requested modality."
          },
          {
            "name": "attestation_tier",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4
            },
            "description": "Exact tier match. Cannot be combined with min_attestation_tier. With live=true, the exact tier must be live now."
          },
          {
            "name": "min_attestation_tier",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4
            },
            "description": "Minimum tier match: the route tier must be greater than or equal to this value. Cannot be combined with attestation_tier."
          },
          {
            "name": "max_input_price_per_million_usd",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CatalogUsdDecimal"
            },
            "description": "Maximum retail input-token price in USD per one million tokens."
          },
          {
            "name": "max_output_price_per_million_usd",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CatalogUsdDecimal"
            },
            "description": "Maximum retail output-token price in USD per one million tokens."
          },
          {
            "name": "max_representative_request_price_usd",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CatalogUsdDecimal"
            },
            "description": "Maximum retail cost of the catalog's representative request for that model. This remains unit-aware across token, media, and workflow models."
          },
          {
            "name": "min_context_tokens",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4294967295
            },
            "description": "Minimum registered or live context capacity in tokens."
          },
          {
            "name": "quantization",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 32,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9_-]{0,31}$"
            },
            "description": "Canonical quantization bucket, for example bf16, nvfp4, int8, or int4. Matching lowercases the value and converts underscores to hyphens."
          },
          {
            "name": "tools",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by native tool/function-call support."
          },
          {
            "name": "structured_output",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by structured JSON output support."
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{64}$"
            },
            "description": "Only models registered or live through this provider public key."
          },
          {
            "name": "prompt_confidential",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by prompt-confidential compute availability."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "providers",
                "input_price",
                "output_price",
                "request_price",
                "context",
                "listed"
              ],
              "default": "id"
            },
            "description": "Sort key. request_price uses the unit-aware representative request cost, never incomparable raw unit rates."
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort direction."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of models returned."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor returned by the previous page. Do not construct or modify it."
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered model page with pricing, trust, capacity and provider availability.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogPage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid, repeated or incompatible catalog filter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/models/by-id": {
      "get": {
        "summary": "Model detail",
        "description": "No auth. Pricing, supported parameters and signed request contracts.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Exact model id, including any vendor/model slash."
          }
        ],
        "responses": {
          "200": {
            "description": "The model.",
            "content": {
              "application/json": {
                "schema": {
[...]
