{
  "openapi": "3.0.3",
  "info": {
    "title": "Clment REST API",
    "version": "1.0.0",
    "termsOfService": "https://clment.com/terms-of-service",
    "contact": {
      "name": "Clment developer support",
      "url": "https://clment.com/developers"
    },
    "description": "The Clment REST API gives your services programmatic access to the\nsame contract workspace you use in the app — contracts, AI reviews,\nrulebooks, key dates, and search.\n\n## Authentication\n\nEvery request carries a bearer token in the `Authorization` header:\n\n```\nAuthorization: Bearer clm_sk_live_xxxxxxxxxxxxxxxxxxxxxxxx\n```\n\nGenerate a key in the app under **Settings → API & Integrations →\nAPI keys**. The secret is shown **once** at creation — store it in a\nsecret manager. A key is scoped to the organization it was created\nin and inherits that workspace's data residency region.\n\n## What a key can and can't do\n\nAn API key can read and write everything a member can in the app:\nupload contracts, run reviews, edit rulebooks, manage key dates,\nsearch. It **cannot** touch settings — billing, members, SSO,\nintegrations, organization config, or webhook subscriptions. Those\nrequire a human admin signed in to the app.\n\n## Regions & base URL\n\nUse your organization's home region's base URL. A key only works\nagainst the region it belongs to — calling another region returns\n401. (This is the same list as the **Servers** dropdown above; both\nare generated from our live region catalog.)\n\n<!--REGIONS_TABLE_START-->\n| Region         | Base URL                       |\n|----------------|--------------------------------|\n| United States  | `https://api-us.clment.com/v1` |\n| European Union | `https://api-eu.clment.com/v1` |\n| Australia      | `https://api-au.clment.com/v1` |\n| New Zealand    | `https://api-nz.clment.com/v1` |\n| United Kingdom | `https://api-uk.clment.com/v1` |\n| Canada         | `https://api-ca.clment.com/v1` |\n<!--REGIONS_TABLE_END-->\n\n## Response envelope\n\nSuccessful responses wrap their payload in a `data` object:\n\n```json\n{ \"data\": { \"contract\": { \"id\": \"…\" } } }\n```\n\nErrors return an `error` object with a stable machine-readable\n`code` and a human `message`:\n\n```json\n{ \"error\": { \"code\": \"NOT_FOUND\", \"message\": \"Contract not found\" } }\n```\n\n## Pagination\n\nList endpoints page with `skip` and `take` (max 100). The response\ncarries the page plus a `total` count so you can compute whether\nmore pages remain.\n\n## Long-running operations (jobs)\n\nUploads, reviews, and redlines run as background jobs. The kick-off\nendpoint returns a **job id** immediately; poll the matching job\nendpoint until it reports `complete`, then fetch the result.\n\n| Action | Start | Poll | Result |\n|--------|-------|------|--------|\n| Upload  | `POST /contracts/upload` | `GET /contracts/upload/jobs/{jobId}` | `GET /contracts/{id}` |\n| Review  | `POST /contracts/{id}/review` | `GET /jobs/review/{id}` | `GET /reviews/{reviewId}` |\n| Redline | `POST /contracts/{id}/generate-redline` | `GET /jobs/redline/{id}` | `GET /contracts/download/{token}` |\n\nAn API key always gets the job id back as JSON — the live\nServer-Sent Events variant of the review and redline start\nendpoints belongs to first-party app sessions. Polling is the\nright shape for a server-to-server integration anyway: simpler\nthan holding a stream open, and it survives the process that\nstarted the job going away.\n\n## Rate limits & credits\n\nTwo independent limits apply:\n\n- **Credits.** AI operations (reviews, redlines, conversions) consume\n  credits from your plan's monthly allowance, then any credit packs.\n  Read operations are free. A `402 INSUFFICIENT_CREDITS` indicates an\n  exhausted balance.\n- **Request rate.** Requests are rate-limited per organization on a\n  rolling hourly window sized to your plan. Every AUTHENTICATED\n  response carries `X-RateLimit-Limit` and `X-RateLimit-Remaining`\n  (the limiter is per-organization, so it runs only once the key has\n  resolved to one — a 401 carries neither); exceed the window\n  and you get a `429 RATE_LIMITED` with a `Retry-After` header (in\n  seconds) — back off for that long, then retry.\n\n## Plan & access\n\nThe API is available on the **Business** and **Enterprise** plans. A\ncall from an org without API access returns `403 API_ACCESS_NOT_IN_PLAN`;\na call from an org whose subscription has lapsed returns\n`403 SUBSCRIPTION_SUSPENDED`. Both clear once the plan or billing\nstatus is resolved in the app (with a short propagation delay). An API\nkey also can't reach settings surfaces — billing, members, SSO,\nintegrations, org config, webhooks — which return `403 API_KEY_FORBIDDEN`.\n\n## Versioning\n\nThe API is versioned in the path; the current version is `v1` (every\nbase URL ends `/v1`).\n\n- **Additive changes ship in place:** new endpoints, new optional\n  request fields, and new response fields arrive within `v1` without\n  notice. Write clients to ignore unknown response fields so these\n  never break you.\n- **Breaking changes ship under a new path version** (`/v2`) — removing\n  or renaming a field, changing a type, or tightening validation. `v1`\n  keeps working through a published deprecation window.\n\nThe `version` of this document tracks the spec's own revisions.\n",
    "x-jentic-source-url": "https://clment.com/help/api/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api-us.clment.com/v1",
      "description": "United States"
    },
    {
      "url": "https://api-eu.clment.com/v1",
      "description": "European Union"
    },
    {
      "url": "https://api-au.clment.com/v1",
      "description": "Australia"
    },
    {
      "url": "https://api-nz.clment.com/v1",
      "description": "New Zealand"
    },
    {
      "url": "https://api-uk.clment.com/v1",
      "description": "United Kingdom"
    },
    {
      "url": "https://api-ca.clment.com/v1",
      "description": "Canada"
    }
  ],
  "paths": {
    "/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "operationId": "listContracts",
        "summary": "List contracts",
        "description": "Returns a page of contracts for the authenticated organization,\nnewest first. Combine `status`, `q`, and the `createdFrom` /\n`createdTo` window to narrow results.\n",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "description": "Rows to skip (offset)."
          },
          {
            "name": "take",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Page size (capped at 100)."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "active",
                "expiring",
                "expired",
                "terminated",
                "archived"
              ]
            },
            "description": "Filter by lifecycle status."
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Free-text match against title, parties, and file name."
          },
          {
            "name": "tags",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter to contracts carrying ALL of these tags (AND\nsemantics) — the same multi-tag filter as the in-app\nContracts screen. Repeat the param (`?tags=msa&tags=nda`)\nor comma-separate (`?tags=msa,nda`).\n"
          },
          {
            "name": "riskLevel",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/RiskLevel"
            },
            "description": "Filter by the AI-assessed risk level. The full set a contract\ncan carry — a narrower enum here left `critical` and\n`unknown` unreachable from a typed client.\n"
          },
          {
            "name": "createdFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only contracts created on or after this ISO timestamp."
          },
          {
            "name": "createdTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only contracts created on or before this ISO timestamp."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of contracts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "contracts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Contract"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total matching rows across all pages."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/upload": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "operationId": "uploadContract",
        "summary": "Upload a contract (file)",
        "description": "Upload a document's raw bytes as `multipart/form-data`. The file\nis stored, text-extracted, classified, and indexed\nasynchronously — the response returns immediately (`202`) with an\nupload job id. Poll `GET /contracts/upload/jobs/{jobId}` until it\nreports `complete`, then `GET /contracts/{id}` for the finished\nrow.\n\n**Size limit: 100 MB per file.** PDF and DOCX are supported.\n\n### Embedded-document matching\n\nA DOCX downloaded or redlined from Clment carries an embedded\nClment document id. On upload we detect it and report any match\nin the `202` response (`matchedContractId` / `matchedContractTitle`).\nControl what happens on a match with `onEmbeddedMatch`:\n\n- `new` (default) — always create a new contract; the match is\n  still reported so you can react.\n- `attach` — add the file as a **new version** of the matched\n  contract instead of creating a new one. Responds `200` with the\n  version (not a job — revisions are processed inline). Returns\n  `422 NO_EMBEDDED_MATCH` if nothing matched.\n- `auto` — attach if matched, otherwise create a new contract.\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The contract document (PDF or DOCX, ≤ 100 MB)."
                  },
                  "title": {
                    "type": "string",
                    "description": "Optional title override. Defaults to the inferred title."
                  },
                  "onEmbeddedMatch": {
                    "type": "string",
                    "enum": [
                      "new",
                      "attach",
                      "auto"
                    ],
                    "default": "new",
                    "description": "What to do when the file's embedded Clment document id\nmatches an existing contract. See the description above.\n"
                  },
                  "summariseChanges": {
                    "type": "boolean",
                    "default": false,
                    "description": "Only when attaching as a version — generate an AI\nsummary of what changed versus the prior version\n(consumes credits).\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File attached as a new version of the matched contract\n(`onEmbeddedMatch=attach` or `auto` with a match).\n`attached` is true and `contractId` names the contract.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResult"
                }
              }
            }
          },
          "202": {
            "description": "New-contract upload accepted; processing asynchronously.\n`jobId` is present — poll `GET /contracts/upload/jobs/{jobId}`.\n`matchedContractId` is non-null when the file matched an\nexisting contract (and you were on the `new` path).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "description": "File exceeds the 100 MB limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`onEmbeddedMatch=attach` but no embedded id matched a contract.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/from-url": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "operationId": "uploadContractFromUrl",
        "summary": "Upload a contract (from URL)",
        "description": "Create a contract by fetching a document from a publicly\nreachable URL — handy when the source already lives somewhere\naddressable. Same async lifecycle as the file upload: returns a\njob id; poll `GET /contracts/upload/jobs/{jobId}`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Publicly reachable URL of the document (PDF or DOCX)."
                  },
                  "title": {
                    "type": "string",
                    "description": "Optional title override. Defaults to the inferred title."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Upload accepted; processing asynchronously.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "jobId"
                      ],
                      "properties": {
                        "jobId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/tags": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "operationId": "listTags",
        "summary": "Every tag in use, with counts",
        "description": "The tag vocabulary of this organization, ordered by how many\ncontracts carry each one. What the in-app tag filter and the\nautocomplete read.\n",
        "responses": {
          "200": {
            "description": "Tags in use.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "tag": {
                                "type": "string"
                              },
                              "count": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/tags/merge": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "operationId": "mergeTags",
        "summary": "Merge tags into one",
        "description": "Rewrites every contract carrying any tag in `from` to carry\n`into` instead. The tidy-up a sync job needs when two systems\nspell the same tag differently.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "into"
                ],
                "properties": {
                  "from": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to retire."
                  },
                  "into": {
                    "type": "string",
                    "description": "The tag they all become."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What the merge changed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "updated": {
                          "type": "integer",
                          "description": "Contracts rewritten."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/tags/delete": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "operationId": "deleteTag",
        "summary": "Remove a tag from every contract",
        "description": "Strips one tag across the organization. The contracts themselves\nare untouched.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tag"
                ],
                "properties": {
                  "tag": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What the removal changed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "updated": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/bulk-tag": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "operationId": "bulkTagContracts",
        "summary": "Add and remove tags across many contracts",
        "description": "One call instead of N. `add` and `remove` both apply, in that\norder, to every contract named.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contractIds"
                ],
                "properties": {
                  "contractIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "add": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "remove": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "How many contracts changed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "updated": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/bulk-set-status": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "operationId": "bulkSetContractStatus",
        "summary": "Set the lifecycle status of many contracts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contractIds",
                  "status"
                ],
                "properties": {
                  "contractIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "status": {
                    "$ref": "#/components/schemas/ContractStatus"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The outcome, in counts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "updated": {
                          "type": "integer"
                        },
                        "unchanged": {
                          "type": "integer",
                          "description": "Already in that status."
                        },
                        "missing": {
                          "type": "integer",
                          "description": "Ids that matched no contract."
                        },
                        "failed": {
                          "type": "array",
                          "description": "The ids that could not be processed, each with the reason. An array rather than a count: a caller that has just sent fifty ids needs to know WHICH failed to retry them.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "contractId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "reason": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/bulk-delete": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "operationId": "bulkDeleteContracts",
        "summary": "Delete many contracts",
        "description": "PERMANENT, and it takes everything under each contract —\nversions, reviews, redlines, key dates. There is no trash to\nrecover them from.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contractIds"
                ],
                "properties": {
                  "contractIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The outcome, in counts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "integer"
                        },
                        "missing": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "array",
                          "description": "The ids that could not be processed, each with the reason. An array rather than a count: a caller that has just sent fifty ids needs to know WHICH failed to retry them.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "contractId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "reason": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/{id}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "operationId": "getContract",
        "summary": "Get a contract",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          }
        ],
        "responses": {
          "200": {
            "description": "The contract itself, at `data` — not nested under a\n`contract` key. The four next-step signals ride alongside\nthe contract's own fields.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Contract"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "hasReview": {
                              "type": "boolean",
                              "description": "An AI review has produced findings for this contract."
                            },
                            "hasRedline": {
                              "type": "boolean",
                              "description": "A tracked-changes version exists."
                            },
                            "latestReviewId": {
                              "type": "string",
                              "nullable": true
                            },
                            "assessmentPendingCount": {
                              "type": "integer",
                              "description": "Findings still awaiting a human verdict."
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Contracts"
        ],
        "operationId": "updateContract",
        "summary": "Update a contract",
        "description": "Update editable fields. Omitted fields are left unchanged (a\npartial merge, not a full replace). AI-extracted fields — parties,\nthe key dates, duration, and the financial terms — can be\noverridden here when you have a better source of truth. `parties`\nreplaces the whole list.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "summary": {
                    "type": "string",
                    "nullable": true
                  },
                  "status": {
                    "$ref": "#/components/schemas/ContractStatus"
                  },
                  "riskLevel": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/RiskLevel"
                      }
                    ],
                    "nullable": true
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "parties": {
                    "type": "array",
                    "description": "Replaces the whole parties list.",
                    "items": {
                      "$ref": "#/components/schemas/ContractParty"
                    }
                  },
                  "effectiveDate": {
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "expirationDate": {
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "renewalDate": {
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "terminationDate": {
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "durationText": {
                    "type": "string",
                    "nullable": true,
                    "description": "Free-text duration override, e.g. \"2 years\"."
                  },
                  "amount": {
                    "type": "number",
                    "nullable": true
                  },
                  "currency": {
                    "type": "string",
                    "nullable": true,
                    "example": "SGD"
                  },
                  "paymentFrequency": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PaymentFrequency"
                      }
                    ],
                    "nullable": true
                  },
                  "paymentTerms": {
                    "type": "string",
                    "nullable": true
                  },
                  "oneTimeFees": {
                    "type": "array",
                    "nullable": true,
                    "description": "Replaces the whole list of non-recurring charges. Read\nthe contract first and send the fees you want to keep —\na bare new fee wipes the others.\n",
                    "items": {
                      "type": "object",
                      "required": [
                        "label",
                        "amount"
                      ],
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "totalValueOverride": {
                    "type": "number",
                    "nullable": true,
                    "description": "An entered total that replaces the calculation. Send\nnull to go back to the computed figure.\n"
                  },
                  "value": {
                    "type": "number",
                    "nullable": true,
                    "deprecated": true,
                    "description": "DEPRECATED — a legacy alias of `amount`, not a total.\nDo not write it; set `totalValueOverride` instead.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated contract itself, at `data` — not nested under a\n`contract` key.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contract"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Contracts"
        ],
        "operationId": "deleteContract",
        "summary": "Delete a contract",
        "description": "Permanently deletes a contract and its cascade — versions,\nchunks, reviews, reminders, custom dates. This is not reversible.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/upload/jobs/{jobId}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "operationId": "getUploadJob",
        "summary": "Get upload job status",
        "description": "Poll for the outcome of an asynchronous upload.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/JobStatus"
                        },
                        "contractId": {
                          "type": "string",
                          "description": "Present once status is `complete`."
                        },
                        "error": {
                          "type": "string",
                          "description": "Present when status is `error`."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/{id}/dates": {
      "get": {
        "tags": [
          "Key dates"
        ],
        "operationId": "listContractDates",
        "summary": "Custom dates on a contract",
        "description": "The dates a person added to this contract, as distinct from the\ncanonical ones the AI extracted (effective, expiration, renewal,\ntermination — those live on the contract record and in\n`GET /dates`).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          }
        ],
        "responses": {
          "200": {
            "description": "The contract's custom dates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "customDates": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CustomDate"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Key dates"
        ],
        "operationId": "createContractDate",
        "summary": "Add a custom date to a contract",
        "description": "For the milestones a contract implies but does not state as a\nfield — a rate review, a notice window opening, a delivery\ngate. Set a reminder on it with `POST /dates/{id}/set-reminder`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label",
                  "date"
                ],
                "properties": {
                  "label": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The date as stored.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "customDate": {
                          "$ref": "#/components/schemas/CustomDate"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/{id}/dates/{dateId}": {
      "patch": {
        "tags": [
          "Key dates"
        ],
        "operationId": "updateContractDate",
        "summary": "Edit a custom date",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          },
          {
            "name": "dateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated date.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "customDate": {
                          "$ref": "#/components/schemas/CustomDate"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/{id}/versions/{versionId}/label": {
      "patch": {
        "tags": [
          "Contracts"
        ],
        "operationId": "renameVersionLabel",
        "summary": "Rename a document version",
        "description": "The label is what people see in the version list and the\nattachment pickers — \"Original\", \"Counterparty markup\",\n\"Schedule 1 — SLA\".\n\nRenaming an ATTACHMENT renames every version in its group: the\ngroup is one document with a history, and a label that changed\nbetween revisions would read as two different documents.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label"
                ],
                "properties": {
                  "label": {
                    "type": "string",
                    "maxLength": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What was renamed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "renamed": {
                          "type": "integer",
                          "description": "Version rows affected — more than one for an attachment group."
                        },
                        "label": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/{id}/versions": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "operationId": "listContractVersions",
        "summary": "List a contract's document versions",
        "description": "Returns every `DocumentVersion` for the contract — the primary\ndocument, its revisions, and any **attachments** (amendments,\nschedules, exhibits, side-letters). This is where you find the\n`versionId` values for `POST /contracts/{id}/review`\n(`versionId`, `reviewAttachmentIds`, `supportingAttachmentIds`):\nthe primary has `role: \"primary\"`; attachments have any other\n`role`. Download a version's bytes with\n`GET /contracts/{id}/versions/{versionId}/download`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          }
        ],
        "responses": {
          "200": {
            "description": "The contract's versions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "versions": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DocumentVersion"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/{id}/versions/{versionId}/text": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "operationId": "getContractText",
        "summary": "Read a document's extracted text",
        "description": "The text as the AI pipeline reads it — the PDF text layer for\nborn-digital files, Adobe Extract paragraphs for scans (computed\nonce, then cached), mammoth for Word. When a Repair Document pass\nhas run, its repaired text is returned instead, because that is\nthe version reviews work from.\n\n`source` says which of those produced it, and `cached` whether it\ncame from the sidecar rather than being extracted just now.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The document's text.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "source": {
                          "type": "string",
                          "description": "e.g. pdf, docx, adobe-extract, repaired."
                        },
                        "cached": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/{id}/activity": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "operationId": "listContractActivity",
        "summary": "What has happened to this contract",
        "description": "A merged, chronological feed: uploads and new versions, reviews\nrun and signed off, redlines generated, metadata edits, comments\nand assignments. The same stream the contract's Activity tab\nshows.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          }
        ],
        "responses": {
          "200": {
            "description": "The activity feed, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "events": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "actorUserId": {
                                "type": "string",
                                "nullable": true
                              },
                              "actorName": {
                                "type": "string",
                                "nullable": true
                              },
                              "summary": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/{id}/versions/{versionId}/download": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "operationId": "downloadContractVersion",
        "summary": "Download a document version",
        "description": "Stream the bytes of a specific version (primary, revision, or\nattachment). Get `versionId`s from\n`GET /contracts/{id}/versions`.\n\nFor a **redline**, `comments` trims the Word comments on the\nway out so the document can go to a counterparty quieter than\nit was generated. The transform is deterministic and free —\nno AI runs, no credits are charged, and the stored version is\nnever modified, so a later download without the parameter\nstill returns the full document.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "brief",
                "none"
              ]
            },
            "description": "Redline DOCX only. `brief` cuts each Word comment to its\nask; `none` removes the comments entirely, leaving the\ntracked changes. Omit for the document exactly as stored.\nIgnored for non-redline or non-DOCX versions. Trimming is\none-way within the downloaded file — request again without\nthe parameter to get the full version back.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "The file bytes (PDF or DOCX).",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/{id}/review": {
      "post": {
        "tags": [
          "Reviews"
        ],
        "operationId": "startReview",
        "summary": "Start an AI review",
        "description": "Run a rulebook review against a contract. Returns a job id;\npoll `GET /jobs/review/{id}` until `complete`, then fetch the\nproduced review with `GET /reviews/{reviewId}`.\n\nConsumes credits on success (a `standard` review costs less than\na `deep` one; both scale with page count). For live progress\nsend `Accept: text/event-stream`; otherwise you get the job id\nas JSON.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Provide **either** `rulebookId` **or** `customInstructions`\n(you may provide both — the instructions layer on top of the\nrulebook).\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rulebookId": {
                    "type": "string",
                    "description": "Id of the rulebook to evaluate against — get one from\n`GET /rulebooks`. (The in-app client may instead send\nthe full rulebook object as `rulebook`; for the API,\nuse `rulebookId`.)\n"
                  },
                  "customInstructions": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "Free-text review instructions, applied on top of (or\ninstead of) the rulebook. Use this with no `rulebookId`\nfor an ad-hoc review.\n"
                  },
                  "mode": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ReviewMode"
                      }
                    ],
                    "default": "standard",
                    "description": "`deep` runs extended reasoning at a higher credit cost."
                  },
                  "reviewStrategy": {
                    "type": "string",
                    "enum": [
                      "negotiation",
                      "high_priority",
                      "strict"
                    ],
                    "description": "How assertive the review is and how much lands in the\nredline by default. `negotiation` (\"Understand & Negotiate\",\nthe default) surfaces everything AND flags what's worth\nraising, with medium severity and up pre-included in the\nredline; `high_priority` only flags what could genuinely\ncause problems (high severity and up); `strict` flags every\ndeviation from the rulebook (all severities). It changes the\nreview's posture, not what is checked. Defaults to the\nrulebook's default strategy, or `negotiation`.\n"
                  },
                  "produceExecutiveSummary": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, the review also produces a short plain-English\nexecutive summary for a non-lawyer audience, alongside the\ndetailed findings.\n"
                  },
                  "versionId": {
                    "type": "string",
                    "description": "The `DocumentVersion` id of the contract document to\nreview. Defaults to the contract's current primary\nversion. List a contract's versions (and their ids)\nwith `GET /contracts/{id}/versions`.\n"
                  },
                  "repairDocument": {
                    "type": "boolean",
                    "description": "Repair the document's text before reviewing. **Omit for\nthe recommended behaviour**: the repair runs automatically\nwhen the document's text is flagged as garbled — the same\ncondition under which the in-app review setup recommends\n\"Repair document\". `true` forces a repair (PDF sources\nonly); `false` never repairs. The repair is cached and\ncharged once; it permanently upgrades the document's\ncanonical text so this and every later review read the\nrepaired version.\n"
                  },
                  "reviewAttachmentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "`DocumentVersion` ids of attachments to review as\nsubjects (findings ARE raised against them). Get\nattachment ids from `GET /contracts/{id}/versions`\n(rows with `role` other than `primary`).\n"
                  },
                  "supportingAttachmentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "`DocumentVersion` ids of attachments supplied as\ncontext only — visible to the model but NO findings\nare raised against them. Same source as above.\n"
                  },
                  "rerunFromReviewId": {
                    "type": "string",
                    "description": "Re-run an existing review — rulebook + mode are inherited from it."
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "full",
                      "tracked_changes",
                      "two_version",
                      "checkin"
                    ],
                    "default": "full",
                    "description": "What the review looks at.\n\n`full` (the default) evaluates the whole document\nagainst the rulebook. `two_version` COMPARES two\nversions and raises findings on what changed between\nthem — this is how a comparison is run; there is no\nseparate compare endpoint. `tracked_changes` scopes\nthe review to the marked-up edits in a DOCX.\n`checkin` frames it as a compliance check against the\nrulebook rather than a negotiation.\n\nA comparison review carries `comparisonSources` on\nthe result, naming the two documents it read, so a\nclient can render them side by side.\n"
                  },
                  "scopeDetail": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Variant detail for the scope. `two_version` takes the\nversion to compare against; `tracked_changes` takes\nthe filter over the marked-up edits. Shape follows\nthe scope — see the review-scopes guide.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Review job accepted. Poll `GET /jobs/review/{jobId}` until it\nreports `complete`, then read the review it names. The job id\ncomes back immediately — a review runs for minutes, far past\nany sensible request timeout.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "jobId"
                      ],
                      "properties": {
                        "jobId": {
                          "type": "string"
                        },
                        "mode": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/ReviewMode"
                            }
                          ],
                          "description": "The mode the job actually runs in."
                        },
                        "steps": {
                          "type": "array",
                          "description": "The stages this mode works through, in order. A\npoller can count them off against the `steps`\naccumulating on the job.\n",
                          "items": {
                            "type": "object",
                            "properties": {
                              "step": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "estimateSeconds": {
                          "type": "integer",
                          "description": "Roughly how long the job should take, from this\nregion's own measurements of comparable reviews\n(page count, mode, document count). Advisory,\nnever authoritative — poll for the truth. Covers\nthe review job only, not any document repair\nthat runs first.\n"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/{id}/generate-redline": {
      "post": {
        "tags": [
          "Reviews"
        ],
        "operationId": "generateRedline",
        "summary": "Generate a redline",
        "description": "Produce a tracked-changes DOCX from a set of review findings and\nsave it as a new document version. Returns a job id; poll\n`GET /jobs/redline/{id}` until `complete`, then download the DOCX\nfrom `GET /contracts/download/{token}` (the token is the job id).\n\nTypically you'd `GET /reviews/{reviewId}` first and pass the\nfindings you want applied (those with `includeInRedline: true`).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContractId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "playbookName",
                  "findings"
                ],
                "properties": {
                  "playbookName": {
                    "type": "string",
                    "description": "A plain-text **label** shown on the produced redline\nversion (e.g. the rulebook the findings came from).\nThis is display text only — unlike the review start's\n`rulebookId`, it does NOT resolve a rulebook. Any\nstring is fine; the rulebook's name is the natural\nchoice. (The field name is retained for\ncompatibility.)\n"
                  },
                  "findings": {
                    "type": "array",
                    "description": "The findings to apply, usually taken from a review.",
                    "items": {
                      "$ref": "#/components/schemas/Finding"
                    }
                  },
                  "sourceReviewId": {
                    "type": "string",
                    "description": "The review these findings came from (links the redline to it)."
                  },
                  "targetVersionId": {
                    "type": "string",
                    "description": "Which version to redline. Defaults to the latest primary version (the current contract); pass an attachment version id to redline that instead."
                  },
                  "author": {
                    "type": "string",
                    "description": "Author name for the tracked changes (≤ 120 chars). Defaults to your redline-author preference, else \"Clment AI\"."
                  },
                  "commentLevel": {
                    "type": "string",
                    "enum": [
                      "explanatory",
                      "brief",
                      "none"
                    ],
                    "description": "How much explanation the Word comments carry.\n`explanatory` (the default) gives the reasoning\nbehind each change; `brief` states the ask in one\nline and omits the reviewer's note; `none`\nproduces tracked changes with no comments at all.\nOmit to use the user's saved preference. Comments\ncan also be trimmed at download time — see the\n`comments` query parameter on\n`GET /contracts/{id}/versions/{versionId}/download`\n— which costs nothing and leaves the stored\ndocument untouched.\n"
                  },
                  "style": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "original_format",
                      "fresh_start"
                    ],
                    "default": "auto",
                    "description": "Which Word style to mark the changes in. **`auto` (the\ndefault) follows the recommendation Clment shows\nin-app**: Fresh Start for scanned PDFs, repaired\ndocuments, and PDFs whose Word copy measured as hard to\nedit; Original Format otherwise. `fresh_start` marks the\nchanges in a clean rebuilt Word document — reused free\nwhen the rebuild already exists, otherwise built first\nand charged at the Fresh Start rate. `original_format`\nkeeps the document's existing layout. Only primary PDF\ndocuments qualify for Fresh Start; attachments and Word\ndocuments always use their original format.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Redline job accepted. Poll `GET /jobs/redline/{jobId}` until\nit reports `complete`, then download the document with the\njob id as the token.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "jobId"
                      ],
                      "properties": {
                        "jobId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/contracts/download/{token}": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "operationId": "downloadRedline",
        "summary": "Download a generated redline",
        "description": "Download the DOCX produced by a redline job. The `token` is the\nredline `jobId`. Valid for ~1 hour after the job completes.\n",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The redline job id."
          }
        ],
        "responses": {
          "200": {
            "description": "The redlined DOCX.",
            "content": {
              "application/vnd.openxmlformats-officedocument.wordprocessingml.document": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/reviews": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "operationId": "listReviews",
        "summary": "List reviews",
        "description": "Returns AI reviews across the organization, newest first. Filter\nby `status`, `contractId`, or `assignedToUserId`, and page with\n`skip`/`take` as on every other list endpoint.\n",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "complete",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "contractId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assignedToUserId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Rows to skip, for paging.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Rows to return, capped at 100 as on every other list endpoint.",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "limit",
            "in": "query",
            "deprecated": true,
            "description": "Deprecated alias for `take`, kept because it was once the only option this endpoint offered. Ignored when `take` is given, and it allows up to 500 where `take` caps at 100. Use `skip`/`take`.",
            "schema": {
              "type": "integer",
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching reviews.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "reviews": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ReviewSummary"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Reviews matching the filter, before paging."
                        },
                        "skip": {
                          "type": "integer"
                        },
                        "take": {
                          "type": "integer"
                        },
                        "hasMore": {
                          "type": "boolean",
                          "description": "Whether a further page exists."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/reviews/me/assigned": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "operationId": "listMyReviews",
        "summary": "Reviews assigned to you",
        "description": "Active reviews assigned to the calling user, newest first —\nthe \"what's on my plate\" list. Signed-off reviews drop out.\n\nAn API key authenticates as the ORGANIZATION and has no personal\nqueue, so a key caller gets an empty list; use\n`GET /reviews?assignedToUserId=…` to ask on someone's behalf.\n",
        "responses": {
          "200": {
            "description": "The caller's assigned reviews.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "reviews": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ReviewSummary"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/reviews/{id}/assignee": {
      "patch": {
        "tags": [
          "Reviews"
        ],
        "operationId": "assignReview",
        "summary": "Assign a review, or clear the assignment",
        "description": "Hand a review to a colleague. Ids come from\n`GET /collaborators`; pass `null` to leave it unassigned.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "string",
                    "nullable": true,
                    "description": "The member to assign it to, or null to clear."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The review, reassigned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "review": {
                          "$ref": "#/components/schemas/Review"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/reviews/by-number/{reviewNumber}": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "operationId": "getReviewByNumber",
        "summary": "Get a review by its REV number",
        "description": "The same review `GET /reviews/{id}` returns, addressed by the\nhuman REV number people actually quote to each other. Saves\nlisting and filtering when all you have is \"REV-12\".\n",
        "parameters": [
          {
            "name": "reviewNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The sequential REV number. Render as \"REV-{n}\"."
          }
        ],
        "responses": {
          "200": {
            "description": "The review.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "review": {
                          "$ref": "#/components/schemas/Review"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/reviews/{id}/comments": {
      "post": {
        "tags": [
          "Reviews"
        ],
        "operationId": "addReviewComment",
        "summary": "Comment on a review",
        "description": "Append an attributed comment to the review's thread. Tag\ncolleagues with `mentionedUserIds` and each newly-tagged person\nis emailed; resolve their ids from `GET /collaborators`.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "mentionedUserIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Org user ids to tag. Ids that don't belong to an\nactive member of this organization are dropped, not\nrejected.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The comment, and the review it now belongs to.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "review": {
                          "$ref": "#/components/schemas/Review"
                        },
                        "comment": {
                          "$ref": "#/components/schemas/ReviewerComment"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/reviews/{id}/findings/{findingId}/comments": {
      "post": {
        "tags": [
          "Reviews"
        ],
        "operationId": "addFindingComment",
        "summary": "Comment on a finding",
        "description": "Append an attributed comment to one finding's thread.\n\n`kind` is the part that does work. A plain `comment` is\ndiscussion. A `redline_instruction` is a directive to the\nredline pipeline: the LATEST one on a finding replaces the AI's\n`suggestedLanguage` as the source of truth for what the redline\nproduces. Earlier instructions stay in the thread as history —\nonly the most recent drives the document.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "findingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "kind": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/CommentKind"
                      }
                    ],
                    "default": "comment",
                    "description": "`redline_instruction` makes this comment the wording\nthe redline should use, overriding the AI's proposal.\n"
                  },
                  "mentionedUserIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Org user ids to tag; resolve them from `GET /collaborators`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The comment, and the review it now belongs to.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "review": {
                          "$ref": "#/components/schemas/Review"
                        },
                        "comment": {
                          "$ref": "#/components/schemas/ReviewerComment"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/reviews/{id}": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "operationId": "getReview",
        "summary": "Get a review",
        "description": "Returns the full review including every finding, its AI\nrecommendation, the human verdict (if any), and whether it's\nflagged for inclusion in a redline.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The review.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "review": {
                          "$ref": "#/components/schemas/Review"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/reviews/{id}/report.docx": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "operationId": "downloadReviewReport",
        "summary": "Download the review report (Word)",
        "description": "Download a formatted Word report of the review — summary,\nfindings, recommendations, and human verdicts. Authenticated\nlike every other call (send your `Authorization: Bearer` key);\nno separate download token is needed.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The review report DOCX.",
            "content": {
              "application/vnd.openxmlformats-officedocument.wordprocessingml.document": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/reviews/{id}/findings/{findingId}": {
      "patch": {
        "tags": [
          "Reviews"
        ],
        "operationId": "updateFinding",
        "summary": "Apply a decision to a finding",
        "description": "Record the human verdict on a finding — the REST equivalent of\nthe MCP `set_finding_decision` skill. All four controls are\nindependent; pass only the ones you're changing. Pass `null` to\nclear a field (or, for `includeInRedline`, to reset it to the\nrecommendation-derived default).\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "findingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "humanDecision": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/HumanDecision"
                      }
                    ],
                    "nullable": true,
                    "description": "Your verdict on the AI's recommendation. `null` clears it."
                  },
                  "humanNote": {
                    "type": "string",
                    "nullable": true,
                    "description": "Free-text reviewer note (≤ 5000 chars). The single-slot\nnote kept for compatibility — for a threaded,\nattributed discussion use\n`POST /reviews/{id}/findings/{findingId}/comments`.\n"
                  },
                  "humanNoteMentionedUserIds": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    },
                    "description": "Org user ids tagged in `humanNote`; each newly-added\none is emailed. Resolve ids from `GET /collaborators`.\n"
                  },
                  "suggestedLanguage": {
                    "type": "string",
                    "nullable": true,
                    "description": "Replacement / fallback clause language (≤ 10000 chars)."
                  },
                  "includeInRedline": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Force this finding into (`true`) or out of (`false`)\nthe redline. `null` resets to the default derived\nfrom the AI recommendation.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated review.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "review": {
                          "$ref": "#/components/schemas/Review"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/reviews/{id}/complete": {
      "post": {
        "tags": [
          "Reviews"
        ],
        "operationId": "completeReview",
        "summary": "Sign off (complete) a review",
        "description": "Add the caller's sign-off, marking the review complete. The\nfirst sign-off flips the review to `completed` and fires the\n`review.completed` webhook. Idempotent per caller.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The completed review.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "review": {
                          "$ref": "#/components/schemas/Review"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/jobs/review/{id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "getReviewJob",
        "summary": "Get review job status",
        "description": "Poll a review job started by `POST /contracts/{id}/review`. When\n`status` is `complete`, `reviewId` points at the produced review\n(fetch it with `GET /reviews/{reviewId}`).\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
[...]
