{
  "openapi": "3.1.0",
  "info": {
    "title": "Waitlio API",
    "version": "1.0.0",
    "description": "The Waitlio API allows you to programmatically access your waitlists.",
    "x-jentic-source-url": "https://waitlio.com/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://waitlio.com/api"
    }
  ],
  "paths": {
    "/waitlists": {
      "get": {
        "operationId": "listWaitlists",
        "summary": "List waitlists",
        "description": "Returns all waitlists belonging to the team associated with your API token.",
        "tags": [
          "Waitlists"
        ],
        "responses": {
          "200": {
            "description": "Waitlists returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Waitlist"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token."
          },
          "403": {
            "description": "Forbidden - insufficient permissions."
          },
          "429": {
            "description": "Too many requests - rate limit exceeded."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/waitlists/{waitlistUuid}": {
      "get": {
        "operationId": "getWaitlist",
        "summary": "Get waitlist by UUID",
        "description": "Returns a single waitlist belonging to the team associated with your API token.",
        "tags": [
          "Waitlists"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "waitlistUuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Waitlist returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitlistDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token."
          },
          "404": {
            "description": "Waitlist not found."
          },
          "429": {
            "description": "Too many requests - rate limit exceeded."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      },
      "put": {
        "operationId": "updateWaitlist",
        "summary": "Update waitlist general information",
        "description": "Updates a waitlist's general information.",
        "tags": [
          "Waitlists"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "waitlistUuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaitlistUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Waitlist updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitlistDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token."
          },
          "403": {
            "description": "Forbidden - feature not available on current plan."
          },
          "404": {
            "description": "Waitlist not found."
          },
          "422": {
            "description": "Validation error."
          },
          "429": {
            "description": "Too many requests - rate limit exceeded."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/waitlists/{waitlistUuid}/subscribers": {
      "get": {
        "operationId": "listWaitlistSubscribers",
        "summary": "List waitlist subscribers",
        "description": "Returns paginated subscribers for a waitlist, with optional status filtering and sorting.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "waitlistUuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "verified",
                "pending"
              ]
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "position",
                "created_at"
              ],
              "default": "created_at"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                10,
                25,
                50,
                100
              ],
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscribers returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSubscribers"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token."
          },
          "404": {
            "description": "Waitlist not found."
          },
          "422": {
            "description": "Validation error."
          },
          "429": {
            "description": "Too many requests - rate limit exceeded."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/waitlists/{waitlistUuid}/webhooks": {
      "get": {
        "operationId": "listWaitlistWebhooks",
        "summary": "List waitlist webhooks",
        "description": "Returns all webhooks configured for a waitlist.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "waitlistUuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhooks returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token."
          },
          "404": {
            "description": "Waitlist not found."
          },
          "429": {
            "description": "Too many requests - rate limit exceeded."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      },
      "post": {
        "operationId": "createWaitlistWebhook",
        "summary": "Create waitlist webhook",
        "description": "Creates a webhook for a waitlist.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "waitlistUuid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookWithSecret"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token."
          },
          "403": {
            "description": "Forbidden - feature not available on current plan."
          },
          "404": {
            "description": "Waitlist not found."
          },
          "422": {
            "description": "Validation error."
          },
          "429": {
            "description": "Too many requests - rate limit exceeded."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Token"
      }
    },
    "schemas": {
      "Waitlist": {
        "type": "object",
        "required": [
          "uuid",
          "name",
          "status",
          "public_url",
          "subscribers_count",
          "verified_subscribers_count",
          "pending_subscribers_count"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "example": "9e3a1b2c-4d5e-6f7a-8b9c-0d1e2f3a4b5c"
          },
          "name": {
            "type": "string",
            "example": "My Waitlist"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "A description of the waitlist"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused"
            ],
            "example": "active"
          },
          "public_url": {
            "type": "string",
            "format": "uri",
            "example": "https://my-waitlist.waitlio.com"
          },
          "subscribers_count": {
            "type": "integer",
            "example": 128
          },
          "verified_subscribers_count": {
            "type": "integer",
            "example": 95
          },
          "pending_subscribers_count": {
            "type": "integer",
            "example": 33
          }
        }
      },
      "WaitlistDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Waitlist"
          },
          {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string",
                "example": "my-waitlist"
              },
              "accent_color": {
                "type": "string",
                "pattern": "^#[0-9a-fA-F]{6}$",
                "example": "#22c55e"
              },
              "dark_accent_color": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^#[0-9a-fA-F]{6}$",
                "example": "#16a34a"
              },
              "show_position": {
                "type": "boolean",
                "example": true
              },
              "remove_branding": {
                "type": "boolean",
                "example": false
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "WaitlistUpdateRequest": {
        "type": "object",
        "required": [
          "name",
          "slug",
          "accent_color",
          "show_position",
          "remove_branding",
          "status"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "slug": {
            "type": "string",
            "minLength": 5,
            "maxLength": 63
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000
          },
          "accent_color": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$"
          },
          "dark_accent_color": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^#[0-9a-fA-F]{6}$"
          },
          "show_position": {
            "type": "boolean"
          },
          "remove_branding": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused"
            ]
          }
        }
      },
      "Subscriber": {
        "type": "object",
        "required": [
          "id",
          "uuid",
          "email",
          "position",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "example": 42
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "verified_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "position": {
            "type": [
              "integer",
              "null"
            ],
            "example": 14
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedSubscribers": {
        "type": "object",
        "required": [
          "data",
          "links",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscriber"
            }
          },
          "links": {
            "type": "object"
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "required": [
          "id",
          "uuid",
          "event",
          "event_label",
          "url",
          "is_active"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "example": 7
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "event": {
            "type": "string",
            "enum": [
              "subscriber_verified",
              "tag_assigned"
            ]
          },
          "event_label": {
            "type": "string",
            "example": "Subscriber Verified"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "tag_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "tag_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "WebhookCreateRequest": {
        "type": "object",
        "required": [
          "event",
          "url"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "subscriber_verified",
              "tag_assigned"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048
          },
          "tag_id": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "WebhookWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "required": [
              "secret"
            ],
            "properties": {
              "secret": {
                "type": "string",
                "description": "Signing secret used to verify webhook payload signatures.",
                "example": "d4f4f53d8fc4479ab94e81bf5f7a4b95504d6432"
              }
            }
          }
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}