{
  "openapi": "3.1.0",
  "info": {
    "title": "Noctara Human Registry",
    "version": "1.0.0",
    "summary": "Proof-of-human verification over consented, person-owned behavioral records.",
    "description": "Verify whether a person is present and continuous via a consented, person-owned append-only behavioral record. Returns four claims (is_human, is_continuous, has_deviated, stands_behind) with provenance. A zero-auth fixture demo is at GET /api/v1/registry-demo so an agent can see the exact response shape without a key. Real checks require a bearer license key AND the person's recorded consent to the calling organization: no grant, no claims. This is a proof-of-human presence signal, NOT a consumer report; it must never be used for credit, employment or hiring, housing, or insurance eligibility, or for background checks or risk scoring (FCRA-prohibited uses). Revocation stops answers instantly.",
    "contact": {
      "name": "Noctara",
      "email": "hello@noctaracorp.com",
      "url": "https://noctaracorp.com/developers"
    },
    "license": {
      "name": "Terms of use",
      "url": "https://noctaracorp.com/terms"
    },
    "x-jentic-source-url": "https://noctaracorp.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://noctaracorp.com"
    }
  ],
  "paths": {
    "/api/v1/registry-demo": {
      "get": {
        "operationId": "registryDemo",
        "summary": "Zero-auth fixture check (see the response shape without a key)",
        "description": "Returns a FIXTURE record so a caller can see the exact shape a real check returns. No real person is behind it.",
        "security": [],
        "responses": {
          "200": {
            "description": "A demo registry response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/registry": {
      "get": {
        "operationId": "registryCheck",
        "summary": "Check the four claims for a consented person",
        "description": "Returns the four claims for the person identified by `tag`, but ONLY if that person has granted the calling organization. Without a grant, `visible` is false and `claims` is null (never a false 'no'). Requires a bearer license key.",
        "security": [
          {
            "licenseKey": []
          }
        ],
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "description": "The subject's tag (alphanumeric, up to 16 chars).",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{1,16}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A registry response. `visible:true` with claims when granted; `visible:false` with `status:pending_consent` and `claims:null` when not granted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid `tag` query param."
          },
          "401": {
            "description": "Missing or invalid license key."
          },
          "405": {
            "description": "Method not allowed (GET only)."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "licenseKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "noctara_lk_...",
        "description": "A Noctara license key. Request one at https://noctaracorp.com/developers."
      }
    },
    "schemas": {
      "Claims": {
        "type": "object",
        "description": "Each claim is true when evidenced, false only when evidenced-negative, and null when not established (never a false 'no').",
        "properties": {
          "is_human": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Presence signal over an accruing record (>= 2 beats, or a measured live typing session). Not a calibrated biometric."
          },
          "is_continuous": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Record spans >= 2 distinct weeks."
          },
          "has_deviated": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "A drift observation is present in the record."
          },
          "stands_behind": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "The person stands behind their record."
          }
        }
      },
      "Provenance": {
        "type": "object",
        "properties": {
          "beats": {
            "type": "integer"
          },
          "distinct_weeks": {
            "type": "integer"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "first_beat": {
            "type": "string",
            "format": "date-time"
          },
          "last_beat": {
            "type": "string",
            "format": "date-time"
          },
          "drift_observations": {
            "type": "integer"
          },
          "thresholds": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "RegistryResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "tag": {
            "type": "string"
          },
          "visible": {
            "type": "boolean",
            "description": "True only when the person has granted the calling org."
          },
          "status": {
            "type": "string",
            "description": "e.g. pending_consent when no grant."
          },
          "claims": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Claims"
              },
              {
                "type": "null"
              }
            ]
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "permitted_use": {
            "type": "object",
            "description": "The FCRA boundary that travels with every response."
          }
        }
      }
    }
  },
  "x-permitted-use": {
    "purpose": "proof-of-human presence signal",
    "is_consumer_report": false,
    "prohibited": [
      "credit eligibility",
      "employment or hiring",
      "housing",
      "insurance eligibility",
      "background checks",
      "risk scoring"
    ],
    "consent": "claims are served only to an organization the person has granted; revocation stops answers instantly"
  }
}