{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "suporte@klingo.com.br"
    },
    "description": "Klingo API Informações",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://swagger.io/terms/",
    "title": "Klingo API Informações",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/klingo/klingo-api-info/1.0.0"
  },
  "servers": [
    {
      "url": "https://api-externa.klingo.app/api/info"
    }
  ],
  "paths": {
    "/consumos": {
      "get": {
        "parameters": [
          {
            "description": "Mês no formato YYYY-MM.",
            "in": "query",
            "name": "mes",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Json com os dados"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "info"
        ],
        "description": "Informações de Consumos.",
        "operationId": "consumos",
        "summary": "Informações sobre os consumos de mat/med."
      }
    },
    "/despesas": {
      "get": {
        "parameters": [
          {
            "description": "Mês no formato YYYY-MM.",
            "in": "query",
            "name": "mes",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "lancamentos": {
                      "items": {
                        "$ref": "#/components/schemas/despesas"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Json com os dados"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "info"
        ],
        "description": "Informações de Despesas.",
        "operationId": "despesas",
        "summary": "Informações sobre as despesas registradas no financeiro."
      }
    },
    "/producao": {
      "get": {
        "parameters": [
          {
            "description": "Mês no formato YYYY-MM. Deve ser enviado o mês ou o período (inicio, fim)",
            "in": "query",
            "name": "mes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data inicial YYYY-MM-DD (opcional em relação ao mês)",
            "in": "query",
            "name": "inicio",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Data final YYYY-MM-DD (opcional em relação ao mês)",
            "in": "query",
            "name": "fim",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Json com os dados"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "info"
        ],
        "description": "Informações de Produção.",
        "operationId": "producao",
        "summary": "Informações sobre produção."
      }
    },
    "/relatorio": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/relatorio"
                }
              }
            },
            "description": "Json com os dados"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "info"
        ],
        "description": "Relatório do Sistema.",
        "operationId": "relatorio",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/parametros"
              }
            }
          },
          "description": "Parâmetros do Relatório.",
          "required": true
        },
        "summary": "Informações de relatório do sistema."
      }
    }
  },
  "components": {
    "schemas": {
      "despesas": {
        "properties": {
          "categoria": {
            "properties": {
              "ch_natureza": {
                "description": "natureza da categoria: fixo D",
                "example": "D",
                "type": "string"
              },
              "id_categoria": {
                "description": "id da categoria do lançamento",
                "example": 1234,
                "type": "number"
              },
              "st_categoria": {
                "description": "descrição da categoria do lançamento",
                "example": 1234,
                "type": "string"
              }
            },
            "type": "object"
          },
          "centro": {
            "properties": {
              "id_centro_custo": {
                "description": "id do centro de custo",
                "example": 1234,
                "type": "number"
              },
              "st_nome": {
                "description": "nome do centro de custo",
                "example": "Administração",
                "type": "string"
              }
            },
            "type": "object"
          },
          "descricao": {
            "description": "Descrição da Despesa",
            "example": "Despesa de...",
            "type": "string"
          },
          "doc": {
            "description": "Número do Documento",
            "example": "1234",
            "type": "string"
          },
          "emissao": {
            "description": "Data de emissão da despesa",
            "example": "2022-01-01",
            "type": "string"
          },
          "fornecedor": {
            "properties": {
              "id_unidade_operacao": {
                "description": "id do fornecedor",
                "example": 1234,
                "type": "number"
              },
              "st_nome": {
                "description": "nome do fornecedor",
                "example": "Organizações Tabajara",
                "type": "string"
              }
            },
            "type": "object"
          },
          "id_categoria": {
            "description": "id da categoria do lançamento",
            "example": 1234,
            "type": "number"
          },
          "id_centro_custo": {
            "description": "id do centro de custo",
            "example": 1234,
            "type": "number"
          },
          "id_fornecedor": {
            "description": "id do fornecedor",
            "example": 1234,
            "type": "number"
          },
          "id_lancamento": {
            "description": "id do lancamento",
            "example": 1234,
            "type": "number"
          },
          "id_unidade_operacao": {
            "description": "id da unidade",
            "example": 1234,
            "type": "number"
          },
          "mes": {
            "description": "Mês da Despesa",
            "example": "2022-01",
            "type": "string"
          },
          "unidadeOperacao": {
            "properties": {
              "id_unidade_operacao": {
                "description": "id da unidade",
                "example": 1234,
                "type": "number"
              },
              "st_nome": {
                "description": "nome do unidade",
                "example": "Unidade Canela",
                "type": "string"
              }
            },
            "type": "object"
          },
          "valor": {
            "description": "Valor da Despesa",
            "example": 45.2,
            "type": "number"
          },
          "venc": {
            "description": "Data de vencimento da despesa",
            "example": "2022-01-01",
            "type": "string"
          }
        },
        "type": "object"
      },
      "parametros": {
        "properties": {
          "id": {
            "description": "Id do Relatório",
            "example": 20,
            "type": "number"
          },
          "parametros": {
            "description": "Outros parâmetros do relatório",
            "example": ":periodo: 'aa'",
            "type": "string"
          }
        },
        "type": "object"
      },
      "relatorio": {
        "properties": {
          "id": {
            "description": "Id do Relatório",
            "example": 20,
            "type": "number"
          },
          "inputs": {
            "description": "Lista de Parâmetros",
            "items": {
              "properties": {
                "id": {
                  "type": "string"
                },
                "required": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "result": {
            "properties": {
              "columns": {
                "items": {
                  "properties": {
                    "align": {
                      "type": "string"
                    },
                    "format": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "treat": {
                      "type": "boolean"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "data": {
                "items": {
                  "type": "object"
                },
                "type": "array"
              },
              "rows": {
                "type": "number"
              }
            },
            "type": "object"
          },
          "title": {
            "description": "Título do Relatório",
            "example": "Agendas Marcadas",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "app_token": {
        "in": "header",
        "name": "X-APP-TOKEN",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "Informações",
      "name": "info"
    }
  ],
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}