{
  "openapi": "3.1.0",
  "info": {
    "title": "ToolForte API",
    "version": "1.1.0",
    "description": "Deterministic utility endpoints for developers and AI agents: IBAN validation, VAT calculation, Dutch holidays and working days, cron parsing, regex testing, JSON/CSV/Base64 transforms, diffs, UUIDs, and Dutch test data. All endpoints accept POST with a JSON body and require a free API key. An MCP server with these tools plus file render tools (PDF, screenshots, QR) is available at https://toolforte.com/mcp.",
    "termsOfService": "https://toolforte.com/terms",
    "contact": {
      "url": "https://toolforte.com/contact"
    },
    "x-jentic-source-url": "https://toolforte.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://toolforte.com"
    }
  ],
  "paths": {
    "/api/v1/tools/text-diff": {
      "post": {
        "operationId": "text_diff",
        "summary": "Text Diff",
        "description": "Compare two texts and return a structured diff with additions, deletions, and unchanged lines.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "original": {
                    "type": "string"
                  },
                  "modified": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "original": "Hello world",
                "modified": "Hello there, world!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "changes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "changes": [
                      {
                        "type": "equal",
                        "value": "Hello "
                      },
                      {
                        "type": "delete",
                        "value": "world"
                      },
                      {
                        "type": "insert",
                        "value": "there, world!"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/json-formatter": {
      "post": {
        "operationId": "json_formatter",
        "summary": "JSON Formatter",
        "description": "Format, validate, and prettify JSON strings. Returns formatted output or validation errors.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "json": {
                    "type": "string"
                  },
                  "indent": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "json": "{\"name\":\"ToolForte\",\"version\":1}",
                "indent": 2
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "formatted": {
                          "type": "string"
                        },
                        "valid": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "formatted": "{\n  \"name\": \"ToolForte\",\n  \"version\": 1\n}",
                    "valid": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/markdown-to-html": {
      "post": {
        "operationId": "markdown_to_html",
        "summary": "Markdown to HTML",
        "description": "Convert Markdown content to sanitized HTML. Supports GFM tables, code blocks, and task lists.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "markdown": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "markdown": "# Hello\n\nThis is **bold** text."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "html": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "html": "<h1>Hello</h1>\n<p>This is <strong>bold</strong> text.</p>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/csv-to-json": {
      "post": {
        "operationId": "csv_to_json",
        "summary": "CSV to JSON",
        "description": "Parse CSV data into a JSON array of objects. Auto-detects delimiters and handles quoted fields.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "csv": {
                    "type": "string"
                  },
                  "delimiter": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "csv": "name,age\nAlice,30\nBob,25",
                "delimiter": ","
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "age": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "rows": {
                          "type": "integer"
                        },
                        "columns": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "data": [
                      {
                        "name": "Alice",
                        "age": "30"
                      },
                      {
                        "name": "Bob",
                        "age": "25"
                      }
                    ],
                    "rows": 2,
                    "columns": 2
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/url-encoder": {
      "post": {
        "operationId": "url_encoder",
        "summary": "URL Encoder/Decoder",
        "description": "Encode or decode URL components. Handles special characters and unicode.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "text": "hello world & foo=bar",
                "mode": "encode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "result": "hello%20world%20%26%20foo%3Dbar"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/base64": {
      "post": {
        "operationId": "base64",
        "summary": "Base64 Encode/Decode",
        "description": "Encode text to Base64 or decode Base64 strings back to plain text.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "text": "Hello, ToolForte!",
                "mode": "encode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "result": "SGVsbG8sIFRvb2xGb3J0ZSE="
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/regex-tester": {
      "post": {
        "operationId": "regex_tester",
        "summary": "Regex Tester",
        "description": "Test a regular expression against a string. Returns all matches with groups and indices.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pattern": {
                    "type": "string"
                  },
                  "flags": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "pattern": "(\\d{4})-(\\d{2})-(\\d{2})",
                "flags": "g",
                "text": "Today is 2026-04-08 and tomorrow is 2026-04-09."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "matches": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "match": {
                                "type": "string"
                              },
                              "index": {
                                "type": "integer"
                              },
                              "groups": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "matches": [
                      {
                        "match": "2026-04-08",
                        "index": 9,
                        "groups": [
                          "2026",
                          "04",
                          "08"
                        ]
                      },
                      {
                        "match": "2026-04-09",
                        "index": 37,
                        "groups": [
                          "2026",
                          "04",
                          "09"
                        ]
                      }
                    ],
                    "count": 2
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/color-converter": {
      "post": {
        "operationId": "color_converter",
        "summary": "Color Converter",
        "description": "Convert colors between HEX, RGB, HSL, and HSB formats. Returns all representations.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "color": {
                    "type": "string"
                  },
                  "format": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "color": "#4338ca",
                "format": "hex"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "hex": {
                          "type": "string"
                        },
                        "rgb": {
                          "type": "object",
                          "properties": {
                            "r": {
                              "type": "integer"
                            },
                            "g": {
                              "type": "integer"
                            },
                            "b": {
                              "type": "integer"
                            }
                          }
                        },
                        "hsl": {
                          "type": "object",
                          "properties": {
                            "h": {
                              "type": "integer"
                            },
                            "s": {
                              "type": "integer"
                            },
                            "l": {
                              "type": "integer"
                            }
                          }
                        },
                        "hsb": {
                          "type": "object",
                          "properties": {
                            "h": {
                              "type": "integer"
                            },
                            "s": {
                              "type": "integer"
                            },
                            "b": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "hex": "#4338ca",
                    "rgb": {
                      "r": 67,
                      "g": 56,
                      "b": 202
                    },
                    "hsl": {
                      "h": 245,
                      "s": 58,
                      "l": 51
                    },
                    "hsb": {
                      "h": 245,
                      "s": 72,
                      "b": 79
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/password-strength": {
      "post": {
        "operationId": "password_strength",
        "summary": "Password Strength",
        "description": "Analyze password strength and return a score with detailed feedback and suggestions.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "password": "MyS3cur3P@ss!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "score": {
                          "type": "integer"
                        },
                        "label": {
                          "type": "string"
                        },
                        "crack_time": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "object",
                          "properties": {
                            "suggestions": {
                              "type": "array",
                              "items": {}
                            },
                            "warning": {
                              "type": "null"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "score": 4,
                    "label": "Strong",
                    "crack_time": "centuries",
                    "feedback": {
                      "suggestions": [],
                      "warning": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/word-counter": {
      "post": {
        "operationId": "word_counter",
        "summary": "Word Counter",
        "description": "Count words, characters, sentences, and paragraphs. Estimates reading and speaking time.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "text": "The quick brown fox jumps over the lazy dog."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "words": {
                          "type": "integer"
                        },
                        "characters": {
                          "type": "integer"
                        },
                        "characters_no_spaces": {
                          "type": "integer"
                        },
                        "sentences": {
                          "type": "integer"
                        },
                        "paragraphs": {
                          "type": "integer"
                        },
                        "reading_time_seconds": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "words": 9,
                    "characters": 44,
                    "characters_no_spaces": 36,
                    "sentences": 1,
                    "paragraphs": 1,
                    "reading_time_seconds": 2
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/cron-parser": {
      "post": {
        "operationId": "cron_parser",
        "summary": "Cron Parser",
        "description": "Parse a cron expression into a human-readable description and list the next N scheduled runs.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expression": {
                    "type": "string"
                  },
                  "count": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "expression": "0 9 * * MON-FRI",
                "count": 3
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string"
                        },
                        "next_runs": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "valid": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "description": "At 09:00 on every day-of-week from Monday through Friday",
                    "next_runs": [
                      "2026-04-09T09:00:00Z",
                      "2026-04-10T09:00:00Z",
                      "2026-04-11T09:00:00Z"
                    ],
                    "valid": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/uuid-generator": {
      "post": {
        "operationId": "uuid_generator",
        "summary": "UUID Generator",
        "description": "Generate one or more UUIDs (v4). Optionally return as uppercase or without dashes.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "uppercase": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "count": 2,
                "uppercase": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "uuids": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "uuids": [
                      "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                      "7c9e6679-7425-40de-944b-e07fc1f90ae7"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/iban-validator": {
      "post": {
        "operationId": "iban_validator",
        "summary": "IBAN Validator",
        "description": "Validate an IBAN number. Returns country, bank code, and checksum verification.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "iban": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "iban": "DE89370400440532013000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "valid": {
                          "type": "boolean"
                        },
                        "country": {
                          "type": "string"
                        },
                        "country_code": {
                          "type": "string"
                        },
                        "bank_code": {
                          "type": "string"
                        },
                        "checksum": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "valid": true,
                    "country": "Germany",
                    "country_code": "DE",
                    "bank_code": "37040044",
                    "checksum": "89"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/slug-generator": {
      "post": {
        "operationId": "slug_generator",
        "summary": "Slug Generator",
        "description": "Convert any text into a URL-friendly slug. Handles unicode, diacritics, and special characters.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "separator": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "text": "Hello World! This is a Test.",
                "separator": "-"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "slug": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "slug": "hello-world-this-is-a-test"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/email-validator": {
      "post": {
        "operationId": "email_validator",
        "summary": "Email Validator",
        "description": "Validate email address syntax and check for common typos in popular domain names.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "user@gmial.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "valid": {
                          "type": "boolean"
                        },
                        "syntax_ok": {
                          "type": "boolean"
                        },
                        "suggestion": {
                          "type": "string"
                        },
                        "disposable": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "valid": true,
                    "syntax_ok": true,
                    "suggestion": "user@gmail.com",
                    "disposable": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/vat-calculator": {
      "post": {
        "operationId": "vat_calculator",
        "summary": "VAT Calculator",
        "description": "Add VAT to a net amount or extract VAT from a gross amount, at any rate. Built for invoicing and pricing flows.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "rate": {
                    "type": "integer"
                  },
                  "mode": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "amount": 100,
                "rate": 21,
                "mode": "add"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "net": {
                          "type": "integer"
                        },
                        "vat": {
                          "type": "integer"
                        },
                        "gross": {
                          "type": "integer"
                        },
                        "rate": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "net": 100,
                    "vat": 21,
                    "gross": 121,
                    "rate": 21
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/vat-number-check": {
      "post": {
        "operationId": "vat_number_check",
        "summary": "VAT Number Format Check",
        "description": "Validate the format of EU (plus GB/CH) VAT numbers before storing them. Syntax check only, no VIES lookup.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vatNumber": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "vatNumber": "NL123456789B01"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "input": {
                          "type": "string"
                        },
                        "normalized": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "validFormat": {
                          "type": "boolean"
                        },
                        "note": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "input": "NL123456789B01",
                    "normalized": "NL123456789B01",
                    "country": "NL",
                    "validFormat": true,
                    "note": "Format is valid. This is a syntax check only; use the EU VIES service to confirm registration."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/dutch-holidays": {
      "post": {
        "operationId": "dutch_holidays",
        "summary": "Dutch Public Holidays",
        "description": "All Dutch public holidays for a given year, including movable feasts like Easter, Ascension Day, and King's Day.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "year": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "year": 2026
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "year": {
                          "type": "integer"
                        },
                        "holidays": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nameEn": {
                                "type": "string"
                              },
                              "dayOff": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "year": 2026,
                    "holidays": [
                      {
                        "date": "2026-04-27",
                        "name": "Koningsdag",
                        "nameEn": "King's Day",
                        "dayOff": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/working-days": {
      "post": {
        "operationId": "working_days",
        "summary": "Working Days Calculator",
        "description": "Count working days (Monday to Friday) between two dates, optionally excluding Dutch public holidays. Ideal for SLA and payroll calculations.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string"
                  },
                  "end": {
                    "type": "string"
                  },
                  "excludeDutchHolidays": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "start": "2026-09-01",
                "end": "2026-09-30",
                "excludeDutchHolidays": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "start": {
                          "type": "string"
                        },
                        "end": {
                          "type": "string"
                        },
                        "totalDays": {
                          "type": "integer"
                        },
                        "workingDays": {
                          "type": "integer"
                        },
                        "weekendDays": {
                          "type": "integer"
                        },
                        "holidaysExcluded": {
                          "type": "array",
                          "items": {}
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "start": "2026-09-01",
                    "end": "2026-09-30",
                    "totalDays": 30,
                    "workingDays": 22,
                    "weekendDays": 8,
                    "holidaysExcluded": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/test-bsn-generator": {
      "post": {
        "operationId": "test_bsn_generator",
        "summary": "Test BSN Generator",
        "description": "Generate Dutch BSN test numbers that pass the elfproef (11-check) but are not linked to real persons. For development and test environments.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "count": 3
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "bsns": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "note": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "count": 3,
                    "bsns": [
                      "111222333",
                      "123456782",
                      "987654321"
                    ],
                    "note": "Test numbers that pass the elfproef (11-check). They are not linked to real persons."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/test-iban-generator": {
      "post": {
        "operationId": "test_iban_generator",
        "summary": "Test IBAN Generator",
        "description": "Generate structurally valid test IBANs (correct mod-97 check digits) for NL, DE, BE, FR, or GB that are not linked to real bank accounts. For development and test environments.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string"
                  },
                  "count": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "country": "NL",
                "count": 3
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "country": {
                          "type": "string"
                        },
                        "ibans": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "note": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "count": 3,
                    "country": "NL",
                    "ibans": [
                      "NL91ABNA0417164300",
                      "NL02RABO0123456789",
                      "NL39INGB0001234567"
                    ],
                    "note": "Structurally valid IBANs (correct mod-97 check digits) not linked to real bank accounts. For test environments only."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/brp-test-data-generator": {
      "post": {
        "operationId": "brp_test_data_generator",
        "summary": "BRP Test Data Generator",
        "description": "Generate Dutch BRP/GBA test persons: valid BSNs, families, addresses and life events. Every setting on the tool page is a field here, and the same seed always returns the same people, so a test suite can assert on fixed values. Formats: json, csv, gba-totaalfile. Full parameter reference at /developers/generators.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "format": {
                    "type": "string"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer"
                      },
                      "seed": {
                        "type": "integer"
                      },
                      "minAge": {
                        "type": "integer"
                      },
                      "maxAge": {
                        "type": "integer"
                      },
                      "eventMix": {
                        "type": "object",
                        "properties": {
                          "married": {
                            "type": "integer"
                          },
                          "widowed": {
                            "type": "integer"
                          },
                          "deceased": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "format": "json",
                "options": {
                  "count": 25,
                  "seed": 20270101,
                  "minAge": 60,
                  "maxAge": 80,
                  "eventMix": {
                    "married": 5,
                    "widowed": 3,
                    "deceased": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "format": {
                          "type": "string"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "seed": {
                          "type": "integer"
                        },
                        "people": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bsn": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "dateOfBirth": {
                                "type": "string"
                              },
                              "lifeEvent": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "format": "json",
                    "count": 25,
                    "seed": 20270101,
                    "people": [
                      {
                        "bsn": "123456782",
                        "lastName": "de Vries",
                        "dateOfBirth": "19620314",
                        "lifeEvent": "married"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/upa-file-generator": {
      "post": {
        "operationId": "upa_file_generator",
        "summary": "UPA File Generator",
        "description": "Generate UPA pension declaration XML for one or more periods: employments, schemes, household situations and, when you ask for them, deliberate defects that the receiving system should reject. Every setting on the tool page is a field here and the seed makes it repeatable. Formats: xml, summary, participants-csv. Full parameter reference at /developers/generators.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "format": {
                    "type": "string"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "schemeType": {
                        "type": "string"
                      },
                      "population": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer"
                          },
                          "seed": {
                            "type": "integer"
                          }
                        }
                      },
                      "period": {
                        "type": "object",
                        "properties": {
                          "startYear": {
                            "type": "integer"
                          },
                          "startMonth": {
                            "type": "integer"
                          },
                          "months": {
                            "type": "integer"
                          }
                        }
                      },
                      "defects": {
                        "type": "object",
                        "properties": {
                          "invalidBsn": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "format": "xml",
                "options": {
                  "schemeType": "FPR",
                  "population": {
                    "count": 50,
                    "seed": 20270101
                  },
                  "period": {
                    "startYear": 2027,
                    "startMonth": 1,
                    "months": 3
                  },
                  "defects": {
                    "invalidBsn": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "format": {
                          "type": "string"
                        },
                        "fileCount": {
                          "type": "integer"
                        },
                        "peopleCount": {
                          "type": "integer"
                        },
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "periodLabel": {
                                "type": "string"
                              },
                              "employments": {
                                "type": "integer"
                              },
                              "content": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "format": "xml",
                    "fileCount": 3,
                    "peopleCount": 50,
                    "warnings": [
                      "1 deliberate defect injected. These files are meant to be rejected."
                    ],
                    "files": [
                      {
                        "name": "UPA_202701_001.xml",
                        "periodLabel": "2027-01",
                        "employments": 50,
                        "content": "<?xml version=\"1.0\"?>…"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/text-case-converter": {
      "post": {
        "operationId": "text_case_converter",
        "summary": "Text Case Converter",
        "description": "Convert a text to one case style: upper, lower, title, sentence, camel, pascal, snake or kebab. Returns the converted string.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "text": "hello world from ToolForte",
                "mode": "snake"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string"
                        },
                        "mode": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "result": "hello_world_from_tool_forte",
                    "mode": "snake"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/lorem-ipsum-generator": {
      "post": {
        "operationId": "lorem_ipsum_generator",
        "summary": "Lorem Ipsum Generator",
        "description": "Generate classic lorem ipsum placeholder text as paragraphs, sentences, words or a list, optionally wrapped in HTML. Deterministic: the same options give the same text.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "type": {
                    "type": "string"
                  },
                  "startWithLorem": {
                    "type": "boolean"
                  },
                  "html": {
                    "type": "boolean"
                  },
                  "seed": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "count": 2,
                "type": "sentences",
                "startWithLorem": true,
                "html": false,
                "seed": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "words": {
                          "type": "integer"
                        },
                        "characters": {
                          "type": "integer"
                        },
                        "paragraphs": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "text": "Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet consectetur adipiscing elit.",
                    "type": "sentences",
                    "count": 2,
                    "words": 26,
                    "characters": 172,
                    "paragraphs": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/sort-lines": {
      "post": {
        "operationId": "sort_lines",
        "summary": "Sort Lines",
        "description": "Sort the lines of a text A to Z, Z to A, by length, in natural numeric order, or shuffle them with a seed. Can drop duplicates and ignore case. Returns the sorted text and line count.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string"
                  },
                  "caseInsensitive": {
                    "type": "boolean"
                  },
                  "removeDuplicates": {
                    "type": "boolean"
                  },
                  "reverse": {
                    "type": "boolean"
                  },
                  "seed": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "text": "banana\napple\nCherry\nitem10\nitem2",
                "mode": "natural",
                "caseInsensitive": true,
                "removeDuplicates": false,
                "reverse": false,
                "seed": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string"
                        },
                        "mode": {
                          "type": "string"
                        },
                        "lines": {
                          "type": "integer"
                        },
                        "removedDuplicates": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "result": "apple\nbanana\nCherry\nitem2\nitem10",
                    "mode": "natural",
                    "lines": 5,
                    "removedDuplicates": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/remove-duplicate-lines": {
      "post": {
        "operationId": "remove_duplicate_lines",
        "summary": "Remove Duplicate Lines",
        "description": "Remove repeated lines from a text while keeping the original order. Returns the cleaned text with how many lines were removed.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "caseInsensitive": {
                    "type": "boolean"
                  },
                  "trim": {
                    "type": "boolean"
                  },
                  "keepFirst": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "text": "apple\nbanana\napple\n banana\ncherry",
                "caseInsensitive": false,
                "trim": true,
                "keepFirst": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "kept": {
                          "type": "integer"
                        },
                        "removed": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "result": "apple\nbanana\ncherry",
                    "total": 5,
                    "kept": 3,
                    "removed": 2
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/reverse-text": {
      "post": {
        "operationId": "reverse_text",
        "summary": "Reverse Text",
        "description": "Reverse a text by characters, by word order per line, or by the characters of each line. Returns the reversed string.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "text": "one two three",
                "mode": "words"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string"
                        },
                        "mode": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "result": "three two one",
                    "mode": "words"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/find-and-replace": {
      "post": {
        "operationId": "find_and_replace",
        "summary": "Find and Replace",
        "description": "Replace every occurrence of a string or regular expression in a text. Supports case sensitivity, whole word matching and regex groups in the replacement. Returns the new text and the number of replacements.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "find": {
                    "type": "string"
                  },
                  "replace": {
                    "type": "string"
                  },
                  "caseSensitive": {
                    "type": "boolean"
                  },
                  "wholeWord": {
                    "type": "boolean"
                  },
                  "useRegex": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "text": "The cat sat on the mat with another cat.",
                "find": "cat",
                "replace": "dog",
                "caseSensitive": false,
                "wholeWord": true,
                "useRegex": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string"
                        },
                        "count": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "result": "The dog sat on the mat with another dog.",
                    "count": 2
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/word-frequency-counter": {
      "post": {
        "operationId": "word_frequency_counter",
        "summary": "Word Frequency Counter",
        "description": "Count how often each word occurs in a text and return a ranked table, most frequent first, with counts and percentages. Can ignore case, skip short words and drop common stop words.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "ignoreCase": {
                    "type": "boolean"
                  },
                  "minLength": {
                    "type": "integer"
                  },
                  "excludeStopWords": {
                    "type": "boolean"
                  },
                  "limit": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "text": "the cat and the dog and the bird",
                "ignoreCase": true,
                "minLength": 1,
                "excludeStopWords": false,
                "limit": 3
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "words": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "rank": {
                                "type": "integer"
                              },
                              "word": {
                                "type": "string"
                              },
                              "count": {
                                "type": "integer"
                              },
                              "percent": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "totalWords": {
                          "type": "integer"
                        },
                        "uniqueWords": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "words": [
                      {
                        "rank": 1,
                        "word": "the",
                        "count": 3,
                        "percent": 37.5
                      },
                      {
                        "rank": 2,
                        "word": "and",
                        "count": 2,
                        "percent": 25
                      },
                      {
                        "rank": 3,
                        "word": "bird",
                        "count": 1,
                        "percent": 12.5
                      }
                    ],
                    "totalWords": 8,
                    "uniqueWords": 5
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/reading-time-calculator": {
      "post": {
        "operationId": "reading_time_calculator",
        "summary": "Reading Time Calculator",
        "description": "Estimate how long a text takes to read and to speak aloud, from the text itself or a word count, at a chosen words-per-minute plus slow, average and fast presets.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "readingWpm": {
                    "type": "integer"
                  },
                  "speakingWpm": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "text": "Knowing how long your content takes to read helps you plan articles, documentation and talks. This short paragraph is here as a sample.",
                "readingWpm": 238,
                "speakingWpm": 150
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "wordCount": {
                          "type": "integer"
                        },
                        "characters": {
                          "type": "integer"
                        },
                        "sentences": {
                          "type": "integer"
                        },
                        "reading": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string"
                            },
                            "wpm": {
                              "type": "integer"
                            },
                            "minutes": {
                              "type": "number"
                            },
                            "time": {
                              "type": "string"
                            }
                          }
                        },
                        "speaking": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string"
                            },
                            "wpm": {
                              "type": "integer"
                            },
                            "minutes": {
                              "type": "number"
                            },
                            "time": {
                              "type": "string"
                            }
                          }
                        },
                        "readingPresets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "wpm": {
                                "type": "integer"
                              },
                              "minutes": {
                                "type": "number"
                              },
                              "time": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "speakingPresets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string"
                              },
                              "wpm": {
                                "type": "integer"
                              },
                              "minutes": {
                                "type": "number"
                              },
                              "time": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "wordCount": 23,
                    "characters": 135,
                    "sentences": 2,
                    "reading": {
                      "label": "Custom",
                      "wpm": 238,
                      "minutes": 0.1,
                      "time": "< 1 min"
                    },
                    "speaking": {
                      "label": "Custom",
                      "wpm": 150,
                      "minutes": 0.15,
                      "time": "< 1 min"
                    },
                    "readingPresets": [
                      {
                        "label": "Slow Reader",
                        "wpm": 150,
                        "minutes": 0.15,
                        "time": "< 1 min"
                      }
                    ],
                    "speakingPresets": [
                      {
                        "label": "Slow Speech",
                        "wpm": 100,
                        "minutes": 0.23,
                        "time": "< 1 min"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/rot13": {
      "post": {
        "operationId": "rot13",
        "summary": "ROT13 Cipher",
        "description": "Apply ROT13, or any Caesar shift from 1 to 25, to a text. Letters rotate and keep their case; digits and punctuation stay as they are. Decoding with shift 13 gives the original back.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "shift": {
                    "type": "integer"
                  },
                  "decode": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "text": "Hello, World!",
                "shift": 13,
                "decode": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string"
                        },
                        "shift": {
                          "type": "integer"
                        },
                        "decode": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "result": "Uryyb, Jbeyq!",
                    "shift": 13,
                    "decode": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid request fields"
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Monthly plan limit reached"
          }
        }
      }
    },
    "/api/v1/tools/morse-code-translator": {
      "post": {
        "operationId": "morse_code_translator",
        "summary": "Morse Code Translator",
        "description": "Translate text to International Morse code or Morse back to text. Letters are separated by a space and words by a slash; characters without a Morse code are dropped.",
        "tags": [
          "tools"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "text": "SOS help",
                "mode": "encode"
              }
            }
          }
[...]
