{
  "openapi": "3.1.0",
  "info": {
    "title": "Genomic Intelligence API",
    "description": "REST API for DNA sequence analysis with transformer language models. Six tasks — promoter, splice, enhancer, chromatin, annotation, expression — each with its own `POST /v1/tasks/{task}/predict` operation, plus one composite workflow under `/v1/workflows/`.\n\n**This document is the contract.** It is self-contained: request bounds, closed `options` objects, error codes, response headers and both async body shapes are all declared here, so a generated client needs nothing else.\n\n**Auth.** Every `/v1/*` route requires `Authorization: Bearer gi_…`, with two exceptions. `/health`, `/docs`, `/redoc` and `/v1/openapi.json` are public, and so is capability discovery: `GET /v1/tasks/{task}/models` needs no key, so you can read every model's `bio_spec` — organism, window geometry, output formats, `request_max_bp` — before you have one. It is rate-limited per source IP rather than per partner.\n\n**Envelopes.** Success is `{data, meta}`; `data` is a union discriminated on `task`. Errors are `{error: {code, message, request_id, details?}}`, with `error.code` drawn from a published enum.\n\n**Sequence length.** Each task's request schema publishes `minLength`/`maxLength` on `sequence`, measured after whitespace is stripped. One bound per task, applying to every model of that task: promoter 300 bp, splice 100 bp, enhancer 50 bp, chromatin 200 bp, annotation 1,000 bp, expression 9,198 bp (with the TSS at least 4,599 bp from each end) — all capped at 500,000 bp. Out-of-range requests are rejected with `422 validation_failed` before any model is loaded. These are the bounds this document previously advertised as 1-500,000 bp for all six.\n\nA floor is admission control, not a claim about regime. Where a model slides a window (promoter, splice, enhancer, chromatin), a request above the floor but shorter than that model's `bio_spec.context_window_bp` is accepted and scored against a padded window. Compare your length against that field to know whether the model saw real sequence or padding. Expression models read around the TSS instead: fetch each model's `bio_spec.recommended_flank_bp` on each side of it.\n\n**Body size.** Requests are also capped at 16 MiB of raw body, enforced before parsing; over that is `413 payload_too_large` regardless of sequence length.\n\n**Async.** Send `Prefer: respond-async` for a `202` with a `job_id`, then poll `GET /v1/tasks/jobs/{job_id}`. Two operations *require* it above a size threshold: the composite workflow above 50,000 bp and `POST /v1/tasks/annotation/predict` above 200,000 bp, both of which return `413 sync_too_large` to a synchronous JSON request over their threshold. Each threshold is published as `x-sync-limit-bp` on its own operation — read it from there rather than from this sentence, and take the absence of that extension on the other five predict operations as the statement that they have no sync cap. Async is JSON-only, so the cap governs JSON delivery: a BED/GFF3 response above the threshold is still served synchronously and can run long enough to hit a gateway timeout.\n\n**Rate limits.** Every response carries `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset` and `RateLimit-Policy`; a `429` adds `Retry-After`. `RateLimit-Limit` is a *burst* capacity — one tenth of a minute's allowance (rpm / 6, published at the document root as `x-rate-limit-burst-divisor`), refilling continuously — so your sustained ceiling is 6 times it per minute. Pacing off the header alone budgets 6x low.",
    "contact": {
      "name": "Genomic Intelligence Support",
      "url": "https://docs.genomicintelligence.ai/",
      "email": "contact@genomicintelligence.ai"
    },
    "version": "2026.10.03.2 (196f0fe4)",
    "x-jentic-source-url": "https://api.genomicintelligence.ai/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.genomicintelligence.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health Check",
        "description": "Liveness probe. Public; no auth required.",
        "operationId": "health_check_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/tasks/jobs/{job_id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Retrieve job progress or final result",
        "description": "Unified progress + result endpoint.\n\nHTTP status reflects the underlying job state. Owner-scoped:\n\n- Unknown / not-owned → ``404 not_found``.\n- Expired → ``410 job_expired``.\n- Running / accepted → ``202`` with the canonical ``{data, meta}``\n  envelope; ``data`` carries ``status`` and ``progress``.\n- Completed → ``200`` with the same ``{data, meta}`` envelope sync\n  mode would have produced.\n- Failed → the natural ``4xx``/``5xx`` for the underlying error with\n  the unified ``{error: {...}}`` envelope.",
        "operationId": "get_job_v1_tasks_jobs__job_id__get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job complete. Body is the same ``{data, meta}`` envelope the originating operation returns synchronously — one of three: a predict envelope for the six task endpoints (``data.task`` is ``promoter``, ``splice``, ``enhancer``, ``chromatin``, ``annotation`` or ``expression``), the composite envelope (``find_genes_and_predict_expression``), or the variant-workflow receipt (``genomic_variant_interpretation``). **Narrow on ``data.task``** — the literal is unique across all three and is the only discriminator. It is nested one level down, so this is an ``anyOf`` without an OpenAPI ``discriminator``, which names only top-level properties; a generated client must switch on ``data.task`` by hand rather than relying on first-match deserialization.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PredictResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FindGenesAndPredictExpressionResponse"
                    },
                    {
                      "$ref": "#/components/schemas/GenomicVariantInterpretationResponse"
                    }
                  ],
                  "title": "Response 200 Get Job V1 Tasks Jobs  Job Id  Get"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — e.g. `Prefer: respond-async` combined with a text format.",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer key (`unauthorized`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. ``Bearer realm=\"api.genomicintelligence.ai\", error=\"invalid_token\"``.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Key disabled or insufficient tier (`forbidden`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. ``Bearer realm=\"api.genomicintelligence.ai\", error=\"invalid_token\"``.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown task, unknown job, or a job owned by another key (`not_found`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (`conflict`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "Async job result expired out of the job store (`job_expired`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Either the 16 MiB request-body hard cap was exceeded (`payload_too_large`, enforced before parsing), or the body is over the endpoint's synchronous-delivery cap (`sync_too_large`; `error.details` carries `{sequence_length, threshold}` — retry the same request with `Prefer: respond-async`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "The requested output format is not one this task can render (`unsupported_format`). The message lists the supported formats; the server never silently falls back to JSON.",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed (`validation_failed`) — sequence length outside the task's bounds, a non-ACGTN character, an unknown key under `options` (every options object is closed), or a sequence below the *selected task's published `minLength`/`maxLength` bounds.",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or concurrency cap reached (`too_many_requests`). `Retry-After` and the `RateLimit-*` headers say when to retry.",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always at least 1.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`internal_error`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Model still loading (`model_loading`), GPU memory exhausted (`insufficient_memory`), or service unavailable. `insufficient_memory` means the card OOM-ed on this request and its cache has been released — it is transient GPU pressure, not a server bug, so `Retry-After` is honest and a bounded retry is the right response.",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always at least 1.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "202": {
            "description": "Job still running. Same ``{data, meta}`` envelope; ``data.progress.current_percent`` and ``data.progress.message`` carry live progress. Keep polling until 200.",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobProgressResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tasks/jobs": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List the caller's recent jobs",
        "description": "Return a short list of the caller's recently submitted jobs.",
        "operationId": "list_jobs_v1_tasks_jobs_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent jobs submitted with this key, newest first. Owner-scoped — never returns another key's jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobListResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — e.g. `Prefer: respond-async` combined with a text format.",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer key (`unauthorized`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. ``Bearer realm=\"api.genomicintelligence.ai\", error=\"invalid_token\"``.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Key disabled or insufficient tier (`forbidden`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              },
              "WWW-Authenticate": {
                "description": "Bearer challenge, e.g. ``Bearer realm=\"api.genomicintelligence.ai\", error=\"invalid_token\"``.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown task, unknown job, or a job owned by another key (`not_found`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict (`conflict`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "Async job result expired out of the job store (`job_expired`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Either the 16 MiB request-body hard cap was exceeded (`payload_too_large`, enforced before parsing), or the body is over the endpoint's synchronous-delivery cap (`sync_too_large`; `error.details` carries `{sequence_length, threshold}` — retry the same request with `Prefer: respond-async`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "The requested output format is not one this task can render (`unsupported_format`). The message lists the supported formats; the server never silently falls back to JSON.",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed (`validation_failed`) — sequence length outside the task's bounds, a non-ACGTN character, an unknown key under `options` (every options object is closed), or a sequence below the *selected task's published `minLength`/`maxLength` bounds.",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or concurrency cap reached (`too_many_requests`). `Retry-After` and the `RateLimit-*` headers say when to retry.",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always at least 1.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`internal_error`).",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Model still loading (`model_loading`), GPU memory exhausted (`insufficient_memory`), or service unavailable. `insufficient_memory` means the card OOM-ed on this request and its cache has been released — it is transient GPU pressure, not a server bug, so `Retry-After` is honest and a bounded retry is the right response.",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Always at least 1.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tasks/promoter/predict": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Scan a sequence for promoter regions",
        "description": "Slide the selected promoter classifier across the sequence and return the windows and merged regions scoring above ``options.threshold``.\n\nMinimum input is 300 bp — the smallest ``context_window_bp`` among the promoter models, so it is the shortest sequence that fills some model's window with no padding at all.\n\nThat floor is admission control, not a quality guarantee. The default ``g0-promoter-2000bp`` has a 2000 bp window, so a 300 bp request to it is scored against a heavily padded window — accepted and meaningful, but not the same regime as a full-window call. Read ``bio_spec.context_window_bp`` from ``GET /v1/tasks/promoter/models`` and compare it against your sequence length; pick ``g0-promoter-large-300bp`` or ``g0-promoter-base-300bp`` if your input really is ~300 bp. Longer input is never a problem — the scanner steps one prediction window at a time and pads only the final partial window.",
        "operationId": "predict_promoter_v1_tasks_promoter_predict_post",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Output format: ``json`` (default) or one of ``bed``, ``bedgraph``. Text formats are synchronous-only — combining one with ``Prefer: respond-async`` is a ``400``. An unsupported value is a ``415 unsupported_format``, never a silent fallback to JSON.",
              "title": "Format"
            },
            "description": "Output format: ``json`` (default) or one of ``bed``, ``bedgraph``. Text formats are synchronous-only — combining one with ``Prefer: respond-async`` is a ``400``. An unsupported value is a ``415 unsupported_format``, never a silent fallback to JSON."
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Accept"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Set to ``respond-async`` to dispatch asynchronously: the server returns ``202`` with ``{data: {job_id, status, links}, meta}`` immediately and the result is polled from ``GET /v1/tasks/jobs/{job_id}``. Anything else (or omitting the header) delivers the result synchronously with ``200``. Async is JSON-only — combining it with a text ``format`` is a ``400``. Some endpoints *require* it above a size threshold and reject sync delivery with ``413 sync_too_large``.",
              "title": "Prefer"
            },
            "description": "Set to ``respond-async`` to dispatch asynchronously: the server returns ``202`` with ``{data: {job_id, status, links}, meta}`` immediately and the result is polled from ``GET /v1/tasks/jobs/{job_id}``. Anything else (or omitting the header) delivers the result synchronously with ``200``. Async is JSON-only — combining it with a text ``format`` is a ``400``. Some endpoints *require* it above a size threshold and reject sync delivery with ``413 sync_too_large``."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromoterPredictRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful inference. ``data`` is a discriminated union keyed on ``task`` — narrow on ``data.task`` (or ``meta.task``) to reach task-specific fields; here it is always ``\"promoter\"``. ``meta.task_specific_counts`` is the matching counts variant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredictResponse"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — e.g. `Prefer: respond-async` combined with a text format.",
            "headers": {
              "X-Request-Id": {
                "description": "Request correlator, always a canonical UUID. Server-assigned unless the request carried a valid-UUID ``X-Request-Id``, which is echoed back; any other value is replaced. Mirrors ``error.request_id`` on error envelopes and ``meta.request_id`` on success; quote in support tickets.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Job-Id": {
                "description": "Server-generated UUIDv4 for the inference job. Same value appears in ``meta.job_id`` on success and is the lookup key for ``GET /v1/tasks/jobs/{job_id}``. Stable across the sync 200, async 202, and progress-poll 202 responses.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "RateLimit-Limit": {
                "description": "Burst capacity: the size of the partner's token bucket, **not** the per-minute cap. The bucket holds one tenth of a minute's allowance (configured rpm / 6) and refills continuously at rpm / 60 per second, so the sustained ceiling is six times this number per minute — a key capped at 300 rpm advertises 50 here. Budget long-running work from the sustained rate; use this value only to size a burst.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Tokens left in the burst bucket after this request. Refills continuously at rpm / 60 per second up to `RateLimit-Limit`; it is not a countdown that resets on a window boundary.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the burst bucket is full again. Because refill is continuous rather than windowed, this is usually far below 60 — one request into a full bucket typically reports 1.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Policy": {
                "description": "Policy in ``<burst capacity>;w=60`` form, e.g. ``50;w=60`` for a 300 rpm key. The capacity repeats `RateLimit-Limit` (rpm / 6) and `w=60` names the refill period the rate is expressed over, not a fixed window that resets.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
[...]
