{
  "openapi": "3.1.0",
  "info": {
    "title": "HebrewCore API",
    "version": "1.0.0",
    "description": "HebrewCore by [baba Hebrew](https://itsbaba.com) is the language layer for products that work in Hebrew. One REST API for:\n\n- **Translation** between Hebrew, English, Russian and more, with RTL/LTR metadata on both sides.\n- **Protected translation** that keeps prices, quantities, dates, codes, product names and interface variables exactly as written, and verifies every sentence.\n- **Account terms**: a list of names (drugs, products, brands) kept exactly in every protected translation.\n- **Render-ready display** of mixed Hebrew and English lines, and **language detection** for code-switched input.\n- **Transliteration** and **nikud** (vowel points) for display and speech.\n- The **Clinical API** for health products: verified clinical translation, streaming, record-search queries and verification.\n\n## Quick start\n\n1. [Sign up free](https://hc.itsbaba.com/console), save a card (no charge on the Free plan), and create an API key.\n2. Send it as a bearer token.\n3. Call an endpoint:\n\n```bash\ncurl https://hc.itsbaba.com/v1/translate \\\n  -H \"Authorization: Bearer hc_live_YOUR_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ \"text\": \"Welcome to your account\", \"target_lang\": \"he\" }'\n```\n\n## Authentication\n\nEvery endpoint except `GET /v1/health` needs `Authorization: Bearer <key>`. Keys are `hc_live_…` (production) or `hc_test_…` (sandbox), are shown once, and are stored only as a hash. Use them from your server only. TLS 1.2 or newer.\n\n## Limits\n\n| Limit | Default |\n|---|---|\n| Requests | 600 per minute per account, across all its keys, on every plan. `429 rate_limited` with `Retry-After`. |\n| Characters | Monthly characters set by your [plan](/pricing). Protected balanced counts 2×, nikud and the Clinical API 3×, smartest up to 5×; direction, detection and wrap are free. `429 quota_exceeded`. |\n| Request size | 20,000 characters (5,000 for transliterate, 10,000 for nikud). |\n\nResponses carry `X-Usage-Chars-Used`, `X-Usage-Chars-Limit`, `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-Content-Stored` and `Server-Timing`. Errors use one envelope: `{ \"error\": { \"type\", \"message\", \"code\" } }`.\n\n## Docs for people and for AI\n\n- [Documentation](https://hc.itsbaba.com/docs) with guides\n- [docs.md](https://hc.itsbaba.com/docs.md): the whole documentation as Markdown\n- [llms.txt](https://hc.itsbaba.com/llms.txt) and [llms-full.txt](https://hc.itsbaba.com/llms-full.txt): an index and the complete docs plus this reference, for language models\n- [openapi.json](https://hc.itsbaba.com/openapi.json): this spec\n- [API catalog](https://hc.itsbaba.com/.well-known/api-catalog) (RFC 9727) and [apis.json](https://hc.itsbaba.com/apis.json): machine-readable discovery\n",
    "contact": {
      "name": "baba HebrewCore (baba Hebrew)",
      "url": "https://www.itsbaba.com/hebrewcore",
      "email": "admin@itsbaba.com"
    },
    "x-jentic-source-url": "https://hc.itsbaba.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://hc.itsbaba.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/translate": {
      "post": {
        "operationId": "translate",
        "tags": [
          "Translation"
        ],
        "summary": "Translate text",
        "description": "Translate one text between Hebrew, English, Russian and the other languages in GET /v1/languages, and attach RTL/LTR metadata (`dir`, `mixed`, `lang`, `script`, `runs`) to both the source and the result.\n\n**Protected translation.** Add `protect: true` or any protection field (`protected_terms`, `redact_terms`, `glossary`, `listener_gender`, `speaker_gender`, `domain` (`general`, `clinical`, `finance`, `legal`), `date_order`, `date_style`) to keep prices, quantities, numbers, dates, codes, identifiers, product names and interface variables exactly as written. Every sentence is then checked; one that cannot be verified comes back in the source language with `status: \"fallback\"`. Protection is available between Hebrew, English and Russian, and switches on automatically for these pairs when the account has [account terms](/docs#terms).\n\n**ICU messages.** With `message_format: \"icu\"`, `text` is an ICU MessageFormat message and the result is a valid ICU message in the target language, with arguments and `#` kept and plural branches rewritten for the target language (Hebrew one, two, other; Russian one, few, many, other).\n\n**Quota.** Consumes the monthly character quota: the length of `text`. A request that fails upstream is not charged.\n\n**Limits.** `text` up to 20,000 characters. Not idempotent: the same request translated twice may differ in wording, never in protected values.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslateRequest"
              },
              "examples": {
                "simple": {
                  "summary": "Interface text to Hebrew",
                  "value": {
                    "text": "Welcome to your account",
                    "target_lang": "he",
                    "transliterate": true
                  }
                },
                "commerce": {
                  "summary": "Shopping assistant reply, protected",
                  "description": "Prices, quantities, the order number, the product name and the date come back unchanged; the date is rewritten so it cannot be misread.",
                  "value": {
                    "text": "I found your order #A-10234: 2 × Wireless Earbuds Pro for $129.99. Would you like me to schedule delivery for 04/03/2026?",
                    "source_lang": "en",
                    "target_lang": "he",
                    "protect": true,
                    "protected_terms": [
                      "Wireless Earbuds Pro",
                      "A-10234"
                    ],
                    "listener_gender": "female",
                    "speaker_gender": "female",
                    "quality": "fast"
                  }
                },
                "support_ru": {
                  "summary": "Support reply to Russian, protected",
                  "value": {
                    "text": "Your refund of €45.00 was issued on 12/05/2026. I could not find any other open requests.",
                    "target_lang": "ru",
                    "protect": true,
                    "speaker_gender": "female",
                    "date_order": "DMY",
                    "quality": "fast"
                  }
                },
                "hebrew_to_english": {
                  "summary": "Hebrew customer message to English",
                  "value": {
                    "text": "ההזמנה שלי מס׳ A-10234 עוד לא הגיעה, אפשר לבדוק?",
                    "target_lang": "en",
                    "protect": true
                  }
                },
                "clinical": {
                  "summary": "Clinical text for a patient",
                  "value": {
                    "text": "Take Eliquis 5 mg twice a day. Do not stop taking it before your procedure on 03/04/2026 unless your doctor tells you to.",
                    "target_lang": "he",
                    "domain": "clinical",
                    "audience": "patient",
                    "listener_gender": "male",
                    "protected_terms": [
                      "Eliquis 5 mg"
                    ]
                  }
                },
                "finance": {
                  "summary": "Bank transfer confirmation, finance domain",
                  "description": "The amount keeps its sign, the IBAN is never shown to the model, the reference stays exact, and the translation is rejected if debit and credit are swapped.",
                  "value": {
                    "text": "We debited -$1,250.00 from your account and credited it to IBAN IL62 0108 0000 0009 9999 999 on 03/04/2026. Reference: TRX-88412.",
                    "source_lang": "en",
                    "target_lang": "he",
                    "domain": "finance"
                  }
                },
                "legal": {
                  "summary": "Contract clause, legal domain",
                  "description": "Section references stay exact, \"the Company\" is rendered the same way in every sentence, and the translation is rejected if \"may\" and \"shall not\" change force.",
                  "value": {
                    "text": "Acme Ltd. (the \"Company\") may terminate this Agreement under Section 12.3, but the Customer shall not assign its rights without the Company's prior written consent.",
                    "source_lang": "en",
                    "target_lang": "he",
                    "domain": "legal"
                  }
                },
                "icu": {
                  "summary": "ICU plural message",
                  "description": "The result is an ICU message with the Hebrew plural categories one, two and other.",
                  "value": {
                    "text": "{count, plural, one {# item} other {# items}} in your cart",
                    "source_lang": "en",
                    "target_lang": "he",
                    "message_format": "icu"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translation result",
            "headers": {
              "X-Usage-Chars-Used": {
                "description": "Characters used this month by the account, including this request.",
                "schema": {
                  "type": "integer",
                  "example": 1523
                }
              },
              "X-Usage-Chars-Limit": {
                "description": "Monthly character quota of the account.",
                "schema": {
                  "type": "integer",
                  "example": 100000
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              },
              "X-Content-Stored": {
                "description": "Whether the request text or the result was stored. `false` in the default no-retention mode.",
                "schema": {
                  "type": "boolean",
                  "example": false
                }
              },
              "Server-Timing": {
                "description": "Time spent on our side, in milliseconds: `auth` (with the key lookup source), `ratelimit` and `total`. Compare `total` with your measured latency to separate network time.",
                "schema": {
                  "type": "string",
                  "example": "auth;desc=\"memory\";dur=0, ratelimit;dur=0, total;dur=842"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslateResponse"
                },
                "examples": {
                  "simple": {
                    "summary": "Plain translation",
                    "value": {
                      "id": "txn_a1b2c3d4e5f6",
                      "source": {
                        "text": "Welcome to your account",
                        "dir": "ltr",
                        "mixed": false,
                        "lang": "en",
                        "script": "Latn",
                        "runs": [
                          {
                            "text": "Welcome to your account",
                            "dir": "ltr",
                            "script": "Latn",
                            "lang": "en",
                            "start": 0,
                            "end": 23
                          }
                        ]
                      },
                      "translation": {
                        "text": "ברוכים הבאים לחשבון שלך",
                        "transliteration": "Bruchim haba'im lakheshbon shelkha",
                        "dir": "rtl",
                        "mixed": false,
                        "lang": "he",
                        "script": "Hebr",
                        "runs": [
                          {
                            "text": "ברוכים הבאים לחשבון שלך",
                            "dir": "rtl",
                            "script": "Hebr",
                            "lang": "he",
                            "start": 0,
                            "end": 23
                          }
                        ]
                      },
                      "quality": "balanced",
                      "usage": {
                        "characters": 23
                      }
                    }
                  },
                  "protected": {
                    "summary": "Protected translation",
                    "value": {
                      "id": "txn_9f8e7d6c5b4a",
                      "source": {
                        "text": "Would you like me to schedule delivery for 04/03/2026?",
                        "dir": "ltr",
                        "mixed": false,
                        "lang": "en",
                        "script": "Latn",
                        "runs": [
                          {
                            "text": "Would you like me to schedule delivery for 04/03/2026?",
                            "dir": "ltr",
                            "script": "Latn",
                            "lang": "en",
                            "start": 0,
                            "end": 54
                          }
                        ]
                      },
                      "translation": {
                        "text": "האם תרצי שאקבע את המשלוח ל־3 באפריל 2026?",
                        "transliteration": null,
                        "dir": "rtl",
                        "mixed": false,
                        "lang": "he",
                        "script": "Hebr",
                        "runs": [
                          {
                            "text": "האם תרצי שאקבע את המשלוח ל־3 באפריל 2026?",
                            "dir": "rtl",
                            "script": "Hebr",
                            "lang": "he",
                            "start": 0,
                            "end": 41
                          }
                        ],
                        "protection": {
                          "status": "ok",
                          "source_lang": "en",
                          "spans": [
                            {
                              "type": "date",
                              "value": "04/03/2026",
                              "render": "3 באפריל 2026",
                              "ambiguous_date": true
                            }
                          ],
                          "issues": [],
                          "segments": [
                            {
                              "source": "Would you like me to schedule delivery for 04/03/2026?",
                              "text": "האם תרצי שאקבע את המשלוח ל־3 באפריל 2026?",
                              "status": "ok"
                            }
                          ]
                        }
                      },
                      "quality": "fast",
                      "usage": {
                        "characters": 54
                      }
                    }
                  },
                  "icu": {
                    "summary": "ICU plural message",
                    "value": {
                      "id": "txn_4d3c2b1a0f9e",
                      "source": {
                        "text": "{count, plural, one {# item} other {# items}} in your cart",
                        "dir": "ltr",
                        "mixed": false,
                        "lang": "en",
                        "script": "Latn",
                        "runs": [
                          {
                            "text": "{count, plural, one {# item} other {# items}} in your cart",
                            "dir": "ltr",
                            "script": "Latn",
                            "lang": "en",
                            "start": 0,
                            "end": 58
                          }
                        ]
                      },
                      "translation": {
                        "text": "{count, plural, one {פריט אחד בעגלת הקניות} two {שני פריטים בעגלת הקניות} other {# פריטים בעגלת הקניות}}",
                        "transliteration": null,
                        "dir": "rtl",
                        "mixed": false,
                        "lang": "he",
                        "script": "Hebr",
                        "runs": [
                          {
                            "text": "{count, plural, one {פריט אחד בעגלת הקניות} two {שני פריטים בעגלת הקניות} other {# פריטים בעגלת הקניות}}",
                            "dir": "rtl",
                            "script": "Hebr",
                            "lang": "he",
                            "start": 0,
                            "end": 104
                          }
                        ],
                        "protection": {
                          "status": "ok",
                          "source_lang": "en",
                          "spans": [],
                          "issues": [],
                          "segments": [
                            {
                              "source": "# item in your cart",
                              "text": "פריט אחד בעגלת הקניות",
                              "status": "ok"
                            },
                            {
                              "source": "# items in your cart",
                              "text": "שני פריטים בעגלת הקניות",
                              "status": "ok"
                            },
                            {
                              "source": "# items in your cart",
                              "text": "# פריטים בעגלת הקניות",
                              "status": "ok"
                            }
                          ]
                        }
                      },
                      "quality": "balanced",
                      "usage": {
                        "characters": 58
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: the body failed validation or a value is out of range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid body",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Required",
                        "code": "invalid_request"
                      }
                    }
                  },
                  "unsupported_language": {
                    "summary": "Protection outside Hebrew, English and Russian",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Protected translation supports Hebrew (he), English (en) and Russian (ru).",
                        "code": "unsupported_language"
                      }
                    }
                  },
                  "same_language": {
                    "summary": "Source and target are the same",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "source_lang and target_lang must differ.",
                        "code": "same_language"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, invalid or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_key": {
                    "summary": "No API key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Missing or malformed API key. Use header: Authorization: Bearer hc_live_…",
                        "code": "unauthorized"
                      }
                    }
                  },
                  "revoked_key": {
                    "summary": "Invalid or revoked key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Invalid or revoked API key.",
                        "code": "unauthorized"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "A new self-serve account must save a card in the console before it can use the API. Adding a card is free.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "payment_method_required": {
                    "summary": "No card saved yet",
                    "value": {
                      "error": {
                        "type": "payment_required",
                        "message": "Add a card in the console to start using the API: https://hc.itsbaba.com/dashboard/plans",
                        "code": "payment_method_required"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The connection used TLS older than 1.2.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "tls_version": {
                    "summary": "TLS older than 1.2",
                    "value": {
                      "error": {
                        "type": "forbidden",
                        "message": "TLS 1.2 or newer is required.",
                        "code": "tls_version"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests this minute (`rate_limited`), or the monthly character quota is used up (`quota_exceeded`). Retry `rate_limited` after a short wait; `quota_exceeded` lasts until the quota resets or the plan changes.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Per-minute rate limit",
                    "value": {
                      "error": {
                        "type": "rate_limited",
                        "message": "Rate limit of 600/min exceeded. Slow down and retry.",
                        "code": "rate_limited"
                      }
                    }
                  },
                  "quota_exceeded": {
                    "summary": "Monthly character quota",
                    "value": {
                      "error": {
                        "type": "quota_exceeded",
                        "message": "Monthly character quota of 100,000 reached. Upgrade at https://hc.itsbaba.com/dashboard/plans or wait for the next month.",
                        "code": "quota_exceeded"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "internal": {
                    "summary": "Unexpected error",
                    "value": {
                      "error": {
                        "type": "internal",
                        "message": "Internal error.",
                        "code": "internal"
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "The model provider failed or returned an empty result. Nothing was charged. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "upstream_error": {
                    "summary": "Model provider error",
                    "value": {
                      "error": {
                        "type": "bad_gateway",
                        "message": "Translation provider error.",
                        "code": "upstream_error"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "A model feature is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_configured": {
                    "summary": "Feature not configured",
                    "value": {
                      "error": {
                        "type": "service_unavailable",
                        "message": "Translation is not configured on this server.",
                        "code": "not_configured"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/analyze": {
      "post": {
        "operationId": "analyze",
        "tags": [
          "Directionality"
        ],
        "summary": "Analyze directionality",
        "description": "Resolve the RTL/LTR structure of one string (`text`) or a whole record at once (`fields`, a map of name → string). Returns the base direction, whether the text mixes directions, the dominant language and script, and two run lists: `runs` exactly as the Unicode Bidirectional Algorithm resolves them, and `display_runs` that keep every left-to-right unit (a price, a range, a date, a model number) whole.\n\n**Quota.** Deterministic, no model. Does not consume the character quota; counts toward the rate limit only.\n\n**Limits.** Send exactly one of `text` or `fields`. Up to 100 fields and 20,000 characters in total. Idempotent: the same input always gives the same output.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20000,
                    "description": "A single string, up to 20,000 characters. Send this or `fields`.",
                    "example": "שלום world"
                  },
                  "fields": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 20000
                    },
                    "description": "A map of field name → string, up to 100 fields and 20,000 characters in total. Send this or `text`.",
                    "example": {
                      "title": "מסמך Q3 ready",
                      "subtitle": "Read the summary"
                    }
                  },
                  "base": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "ltr",
                      "rtl"
                    ],
                    "default": "auto",
                    "description": "Paragraph direction to resolve against. `auto` (default) uses the first strong letter.",
                    "example": "auto"
                  }
                },
                "title": "AnalyzeRequest",
                "description": "Provide exactly one of `text` (a single string) or `fields` (a map of name → string). Max 20,000 chars per string; up to 100 fields."
              },
              "examples": {
                "text": {
                  "summary": "Single string",
                  "value": {
                    "text": "שלום world"
                  }
                },
                "fields": {
                  "summary": "A whole record at once",
                  "value": {
                    "fields": {
                      "title": "מסמך Q3 ready",
                      "subtitle": "Read the summary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Directionality analysis",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              },
              "X-Content-Stored": {
                "description": "Whether the request text or the result was stored. `false` in the default no-retention mode.",
                "schema": {
                  "type": "boolean",
                  "example": false
                }
              },
              "Server-Timing": {
                "description": "Time spent on our side, in milliseconds: `auth` (with the key lookup source), `ratelimit` and `total`. Compare `total` with your measured latency to separate network time.",
                "schema": {
                  "type": "string",
                  "example": "auth;desc=\"memory\";dur=0, ratelimit;dur=0, total;dur=842"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeResponse"
                },
                "examples": {
                  "text": {
                    "summary": "Single string",
                    "value": {
                      "analysis": {
                        "dir": "rtl",
                        "mixed": true,
                        "lang": "he",
                        "script": "Hebr",
                        "runs": [
                          {
                            "text": "שלום ",
                            "dir": "rtl",
                            "script": "Hebr",
                            "lang": "he",
                            "start": 0,
                            "end": 5
                          },
                          {
                            "text": "world",
                            "dir": "ltr",
                            "script": "Latn",
                            "lang": "en",
                            "start": 5,
                            "end": 10
                          }
                        ],
                        "display_runs": [
                          {
                            "text": "שלום ",
                            "dir": "rtl",
                            "script": "Hebr",
                            "lang": "he",
                            "start": 0,
                            "end": 5
                          },
                          {
                            "text": "world",
                            "dir": "ltr",
                            "script": "Latn",
                            "lang": "en",
                            "start": 5,
                            "end": 10
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: the body failed validation or a value is out of range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid body",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Required",
                        "code": "invalid_request"
                      }
                    }
                  },
                  "fields_or_text": {
                    "summary": "Both or neither of text and fields",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Provide either \"text\" or \"fields\".",
                        "code": "invalid_request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, invalid or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_key": {
                    "summary": "No API key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Missing or malformed API key. Use header: Authorization: Bearer hc_live_…",
                        "code": "unauthorized"
                      }
                    }
                  },
                  "revoked_key": {
                    "summary": "Invalid or revoked key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Invalid or revoked API key.",
                        "code": "unauthorized"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "A new self-serve account must save a card in the console before it can use the API. Adding a card is free.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "payment_method_required": {
                    "summary": "No card saved yet",
                    "value": {
                      "error": {
                        "type": "payment_required",
                        "message": "Add a card in the console to start using the API: https://hc.itsbaba.com/dashboard/plans",
                        "code": "payment_method_required"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The connection used TLS older than 1.2.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "tls_version": {
                    "summary": "TLS older than 1.2",
                    "value": {
                      "error": {
                        "type": "forbidden",
                        "message": "TLS 1.2 or newer is required.",
                        "code": "tls_version"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests this minute. Retry after a short wait.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Per-minute rate limit",
                    "value": {
                      "error": {
                        "type": "rate_limited",
                        "message": "Rate limit of 600/min exceeded. Slow down and retry.",
                        "code": "rate_limited"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "internal": {
                    "summary": "Unexpected error",
                    "value": {
                      "error": {
                        "type": "internal",
                        "message": "Internal error.",
                        "code": "internal"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/detect": {
      "post": {
        "operationId": "detect",
        "tags": [
          "Directionality"
        ],
        "summary": "Detect language",
        "description": "Detect the dominant language, script and base direction of a string, with one segment per language. Built for short, code-switched input such as chat messages, search queries and voice transcripts: a brand, product name or acronym inside a Hebrew or Russian sentence (\"PayPal\", \"iPhone\", \"API\") does not change the dominant language, and Hebrew prefixes joined by a hyphen (\"ה-API\") are split correctly. Links and email addresses are ignored. Latin script is tagged `en`.\n\n**Quota.** Deterministic, no model. Does not consume the character quota.\n\n**Limits.** `text` up to 20,000 characters. Idempotent.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectRequest"
              },
              "examples": {
                "russian": {
                  "summary": "Russian with a brand name",
                  "value": {
                    "text": "Можно оплатить через PayPal сегодня?"
                  }
                },
                "hebrew": {
                  "summary": "Hebrew with an English term",
                  "value": {
                    "text": "איך מחברים את ה-API לחשבון?"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detection",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              },
              "X-Content-Stored": {
                "description": "Whether the request text or the result was stored. `false` in the default no-retention mode.",
                "schema": {
                  "type": "boolean",
                  "example": false
                }
              },
              "Server-Timing": {
                "description": "Time spent on our side, in milliseconds: `auth` (with the key lookup source), `ratelimit` and `total`. Compare `total` with your measured latency to separate network time.",
                "schema": {
                  "type": "string",
                  "example": "auth;desc=\"memory\";dur=0, ratelimit;dur=0, total;dur=842"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectResponse"
                },
                "examples": {
                  "russian": {
                    "summary": "Russian with a brand name",
                    "value": {
                      "lang": "ru",
                      "script": "Cyrl",
                      "dir": "ltr",
                      "confidence": 0.941,
                      "segments": [
                        {
                          "text": "Можно оплатить через ",
                          "start": 0,
                          "end": 21,
                          "script": "Cyrl",
                          "lang": "ru"
                        },
                        {
                          "text": "PayPal ",
                          "start": 21,
                          "end": 28,
                          "script": "Latn",
                          "lang": "en"
                        },
                        {
                          "text": "сегодня?",
                          "start": 28,
                          "end": 36,
                          "script": "Cyrl",
                          "lang": "ru"
                        }
                      ],
                      "languages": [
                        {
                          "lang": "ru",
                          "share": 0.941
                        },
                        {
                          "lang": "en",
                          "share": 0.059
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: the body failed validation or a value is out of range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid body",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Required",
                        "code": "invalid_request"
                      }
                    }
                  },
                  "fields_or_text": {
                    "summary": "Both or neither of text and fields",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Provide either \"text\" or \"fields\".",
                        "code": "invalid_request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, invalid or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_key": {
                    "summary": "No API key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Missing or malformed API key. Use header: Authorization: Bearer hc_live_…",
                        "code": "unauthorized"
                      }
                    }
                  },
                  "revoked_key": {
                    "summary": "Invalid or revoked key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Invalid or revoked API key.",
                        "code": "unauthorized"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "A new self-serve account must save a card in the console before it can use the API. Adding a card is free.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "payment_method_required": {
                    "summary": "No card saved yet",
                    "value": {
                      "error": {
                        "type": "payment_required",
                        "message": "Add a card in the console to start using the API: https://hc.itsbaba.com/dashboard/plans",
                        "code": "payment_method_required"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The connection used TLS older than 1.2.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "tls_version": {
                    "summary": "TLS older than 1.2",
                    "value": {
                      "error": {
                        "type": "forbidden",
                        "message": "TLS 1.2 or newer is required.",
                        "code": "tls_version"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests this minute. Retry after a short wait.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Per-minute rate limit",
                    "value": {
                      "error": {
                        "type": "rate_limited",
                        "message": "Rate limit of 600/min exceeded. Slow down and retry.",
                        "code": "rate_limited"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "internal": {
                    "summary": "Unexpected error",
                    "value": {
                      "error": {
                        "type": "internal",
                        "message": "Internal error.",
                        "code": "internal"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/transliterate": {
      "post": {
        "operationId": "transliterate",
        "tags": [
          "Translation"
        ],
        "summary": "Transliterate between Hebrew and Latin script",
        "description": "Romanize Hebrew into Latin letters (`direction: \"he-to-latin\"`, the default), or write Latin spelling in Hebrew letters (`direction: \"latin-to-he\"`), which is useful for name entry and search.\n\n**Quota.** Consumes the monthly character quota: the length of `text`.\n\n**Limits.** `text` up to 5,000 characters.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransliterateRequest"
              },
              "examples": {
                "romanize": {
                  "summary": "Hebrew to Latin",
                  "value": {
                    "text": "שלום"
                  }
                },
                "name_entry": {
                  "summary": "Latin spelling to Hebrew letters",
                  "value": {
                    "text": "Rivka Cohen",
                    "direction": "latin-to-he"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transliteration",
            "headers": {
              "X-Usage-Chars-Used": {
                "description": "Characters used this month by the account, including this request.",
                "schema": {
                  "type": "integer",
                  "example": 1523
                }
              },
              "X-Usage-Chars-Limit": {
                "description": "Monthly character quota of the account.",
                "schema": {
                  "type": "integer",
                  "example": 100000
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              },
              "X-Content-Stored": {
                "description": "Whether the request text or the result was stored. `false` in the default no-retention mode.",
                "schema": {
                  "type": "boolean",
                  "example": false
                }
              },
              "Server-Timing": {
                "description": "Time spent on our side, in milliseconds: `auth` (with the key lookup source), `ratelimit` and `total`. Compare `total` with your measured latency to separate network time.",
                "schema": {
                  "type": "string",
                  "example": "auth;desc=\"memory\";dur=0, ratelimit;dur=0, total;dur=842"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransliterateResponse"
                },
                "examples": {
                  "romanize": {
                    "summary": "Hebrew to Latin",
                    "value": {
                      "text": "שלום",
                      "transliteration": "shalom",
                      "scheme": "general",
                      "direction": "he-to-latin"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: the body failed validation or a value is out of range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid body",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Required",
                        "code": "invalid_request"
                      }
                    }
                  },
                  "unsupported_language": {
                    "summary": "Protection outside Hebrew, English and Russian",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Protected translation supports Hebrew (he), English (en) and Russian (ru).",
                        "code": "unsupported_language"
                      }
                    }
                  },
                  "same_language": {
                    "summary": "Source and target are the same",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "source_lang and target_lang must differ.",
                        "code": "same_language"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, invalid or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_key": {
                    "summary": "No API key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Missing or malformed API key. Use header: Authorization: Bearer hc_live_…",
                        "code": "unauthorized"
                      }
                    }
                  },
                  "revoked_key": {
                    "summary": "Invalid or revoked key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Invalid or revoked API key.",
                        "code": "unauthorized"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "A new self-serve account must save a card in the console before it can use the API. Adding a card is free.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "payment_method_required": {
                    "summary": "No card saved yet",
                    "value": {
                      "error": {
                        "type": "payment_required",
                        "message": "Add a card in the console to start using the API: https://hc.itsbaba.com/dashboard/plans",
                        "code": "payment_method_required"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The connection used TLS older than 1.2.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "tls_version": {
                    "summary": "TLS older than 1.2",
                    "value": {
                      "error": {
                        "type": "forbidden",
                        "message": "TLS 1.2 or newer is required.",
                        "code": "tls_version"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests this minute (`rate_limited`), or the monthly character quota is used up (`quota_exceeded`). Retry `rate_limited` after a short wait; `quota_exceeded` lasts until the quota resets or the plan changes.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Per-minute rate limit",
                    "value": {
                      "error": {
                        "type": "rate_limited",
                        "message": "Rate limit of 600/min exceeded. Slow down and retry.",
                        "code": "rate_limited"
                      }
                    }
                  },
                  "quota_exceeded": {
                    "summary": "Monthly character quota",
                    "value": {
                      "error": {
                        "type": "quota_exceeded",
                        "message": "Monthly character quota of 100,000 reached. Upgrade at https://hc.itsbaba.com/dashboard/plans or wait for the next month.",
                        "code": "quota_exceeded"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "internal": {
                    "summary": "Unexpected error",
                    "value": {
                      "error": {
                        "type": "internal",
                        "message": "Internal error.",
                        "code": "internal"
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "The model provider failed or returned an empty result. Nothing was charged. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "upstream_error": {
                    "summary": "Model provider error",
                    "value": {
                      "error": {
                        "type": "bad_gateway",
                        "message": "Translation provider error.",
                        "code": "upstream_error"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "A model feature is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_configured": {
                    "summary": "Feature not configured",
                    "value": {
                      "error": {
                        "type": "service_unavailable",
                        "message": "Translation is not configured on this server.",
                        "code": "not_configured"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/nikud": {
      "post": {
        "operationId": "addNikud",
        "tags": [
          "Hebrew"
        ],
        "summary": "Add nikud (vowel points)",
        "description": "Add full nikud to Hebrew text, for vocalized display, learning materials and text-to-speech, where unvocalized Hebrew is ambiguous. English terms and numbers are left untouched.\n\nThe result is checked: `verified: true` means removing the points gives back your text (only the vowel letters ו and י may differ, which does not change pronunciation). When `verified` is false, `nikud` is your text unchanged; send it to speech unvocalized or retry.\n\n**Quota.** Consumes the monthly character quota: the length of `text`.\n\n**Limits.** `text` up to 10,000 characters.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NikudRequest"
              },
              "examples": {
                "speech": {
                  "summary": "Text for speech",
                  "value": {
                    "text": "שלום עולם"
                  }
                },
                "mixed": {
                  "summary": "Hebrew with an English term and a number",
                  "value": {
                    "text": "ההזמנה שלך ל-Galaxy S25 תגיע בעוד 3 ימים"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vocalized text",
            "headers": {
              "X-Usage-Chars-Used": {
                "description": "Characters used this month by the account, including this request.",
                "schema": {
                  "type": "integer",
                  "example": 1523
                }
              },
              "X-Usage-Chars-Limit": {
                "description": "Monthly character quota of the account.",
                "schema": {
                  "type": "integer",
                  "example": 100000
                }
              },
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              },
              "X-Content-Stored": {
                "description": "Whether the request text or the result was stored. `false` in the default no-retention mode.",
                "schema": {
                  "type": "boolean",
                  "example": false
                }
              },
              "Server-Timing": {
                "description": "Time spent on our side, in milliseconds: `auth` (with the key lookup source), `ratelimit` and `total`. Compare `total` with your measured latency to separate network time.",
                "schema": {
                  "type": "string",
                  "example": "auth;desc=\"memory\";dur=0, ratelimit;dur=0, total;dur=842"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NikudResponse"
                },
                "examples": {
                  "speech": {
                    "summary": "Verified",
                    "value": {
                      "text": "שלום עולם",
                      "nikud": "שָׁלוֹם עוֹלָם",
                      "verified": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: the body failed validation or a value is out of range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid body",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Required",
                        "code": "invalid_request"
                      }
                    }
                  },
                  "unsupported_language": {
                    "summary": "Protection outside Hebrew, English and Russian",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Protected translation supports Hebrew (he), English (en) and Russian (ru).",
                        "code": "unsupported_language"
                      }
                    }
                  },
                  "same_language": {
                    "summary": "Source and target are the same",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "source_lang and target_lang must differ.",
                        "code": "same_language"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, invalid or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_key": {
                    "summary": "No API key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Missing or malformed API key. Use header: Authorization: Bearer hc_live_…",
                        "code": "unauthorized"
                      }
                    }
                  },
                  "revoked_key": {
                    "summary": "Invalid or revoked key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Invalid or revoked API key.",
                        "code": "unauthorized"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "A new self-serve account must save a card in the console before it can use the API. Adding a card is free.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "payment_method_required": {
                    "summary": "No card saved yet",
                    "value": {
                      "error": {
                        "type": "payment_required",
                        "message": "Add a card in the console to start using the API: https://hc.itsbaba.com/dashboard/plans",
                        "code": "payment_method_required"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The connection used TLS older than 1.2.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "tls_version": {
                    "summary": "TLS older than 1.2",
                    "value": {
                      "error": {
                        "type": "forbidden",
                        "message": "TLS 1.2 or newer is required.",
                        "code": "tls_version"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests this minute (`rate_limited`), or the monthly character quota is used up (`quota_exceeded`). Retry `rate_limited` after a short wait; `quota_exceeded` lasts until the quota resets or the plan changes.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Per-minute rate limit",
                    "value": {
                      "error": {
                        "type": "rate_limited",
                        "message": "Rate limit of 600/min exceeded. Slow down and retry.",
                        "code": "rate_limited"
                      }
                    }
                  },
                  "quota_exceeded": {
                    "summary": "Monthly character quota",
                    "value": {
                      "error": {
                        "type": "quota_exceeded",
                        "message": "Monthly character quota of 100,000 reached. Upgrade at https://hc.itsbaba.com/dashboard/plans or wait for the next month.",
                        "code": "quota_exceeded"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "internal": {
                    "summary": "Unexpected error",
                    "value": {
                      "error": {
                        "type": "internal",
                        "message": "Internal error.",
                        "code": "internal"
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "The model provider failed or returned an empty result. Nothing was charged. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "upstream_error": {
                    "summary": "Model provider error",
                    "value": {
                      "error": {
                        "type": "bad_gateway",
                        "message": "Translation provider error.",
                        "code": "upstream_error"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "A model feature is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_configured": {
                    "summary": "Feature not configured",
                    "value": {
                      "error": {
                        "type": "service_unavailable",
                        "message": "Translation is not configured on this server.",
                        "code": "not_configured"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/strip-nikud": {
      "post": {
        "operationId": "stripNikud",
        "tags": [
          "Hebrew"
        ],
        "summary": "Remove nikud",
        "description": "Remove nikud, dagesh and cantillation marks, keeping punctuation such as the maqaf. Use it for normalization, search keys and de-duplication, or to get display text back from vocalized speech text.\n\n**Quota.** Deterministic, no model. Does not consume the character quota.\n\n**Limits.** `text` up to 20,000 characters. Idempotent.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StripNikudRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Vocalized word",
                  "value": {
                    "text": "שָׁלוֹם"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stripped text",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              },
              "X-Content-Stored": {
                "description": "Whether the request text or the result was stored. `false` in the default no-retention mode.",
                "schema": {
                  "type": "boolean",
                  "example": false
                }
              },
              "Server-Timing": {
                "description": "Time spent on our side, in milliseconds: `auth` (with the key lookup source), `ratelimit` and `total`. Compare `total` with your measured latency to separate network time.",
                "schema": {
                  "type": "string",
                  "example": "auth;desc=\"memory\";dur=0, ratelimit;dur=0, total;dur=842"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripNikudResponse"
                },
                "examples": {
                  "basic": {
                    "summary": "Stripped",
                    "value": {
                      "text": "שָׁלוֹם",
                      "stripped": "שלום"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: the body failed validation or a value is out of range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid body",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Required",
                        "code": "invalid_request"
                      }
                    }
                  },
                  "fields_or_text": {
                    "summary": "Both or neither of text and fields",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Provide either \"text\" or \"fields\".",
                        "code": "invalid_request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, invalid or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_key": {
                    "summary": "No API key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Missing or malformed API key. Use header: Authorization: Bearer hc_live_…",
                        "code": "unauthorized"
                      }
                    }
                  },
                  "revoked_key": {
                    "summary": "Invalid or revoked key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Invalid or revoked API key.",
                        "code": "unauthorized"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "A new self-serve account must save a card in the console before it can use the API. Adding a card is free.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "payment_method_required": {
                    "summary": "No card saved yet",
                    "value": {
                      "error": {
                        "type": "payment_required",
                        "message": "Add a card in the console to start using the API: https://hc.itsbaba.com/dashboard/plans",
                        "code": "payment_method_required"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The connection used TLS older than 1.2.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "tls_version": {
                    "summary": "TLS older than 1.2",
                    "value": {
                      "error": {
                        "type": "forbidden",
                        "message": "TLS 1.2 or newer is required.",
                        "code": "tls_version"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests this minute. Retry after a short wait.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Per-minute rate limit",
                    "value": {
                      "error": {
                        "type": "rate_limited",
                        "message": "Rate limit of 600/min exceeded. Slow down and retry.",
                        "code": "rate_limited"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "internal": {
                    "summary": "Unexpected error",
                    "value": {
                      "error": {
                        "type": "internal",
                        "message": "Internal error.",
                        "code": "internal"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/wrap": {
      "post": {
        "operationId": "wrap",
        "tags": [
          "Directionality"
        ],
        "summary": "Wrap a line for display",
        "description": "Render-ready bidirectional output for one display line. Every left-to-right unit (a Latin term, a price, a number with its unit, a range such as \"10–20%\", a date, a percentage, a comparison such as \"<5\") is kept whole and in order, so no digit, range or sign is reversed or mirrored inside a Hebrew line.\n\nPick `format` for the surface: `html` for the web, React and webviews; `isolate` (Unicode isolates) for iOS, Android 7+ and current browsers; `marks` (LRM/RLM) for older Android, embedded displays and any renderer you cannot test. Pass `base: \"rtl\"` for a Hebrew line even when it starts with a Latin term.\n\n**Quota.** Deterministic, no model. Does not consume the character quota. Fast enough to call per line at render time.\n\n**Limits.** `text` up to 20,000 characters. Idempotent.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrapRequest"
              },
              "examples": {
                "html": {
                  "summary": "Hebrew sale line for the web",
                  "value": {
                    "text": "הנחה: 10–20% על Galaxy S25 עד 31/12",
                    "format": "html",
                    "base": "rtl"
                  }
                },
                "marks": {
                  "summary": "Order status for an older Android screen",
                  "value": {
                    "text": "ההזמנה A-10234 יוצאת ב־08:30",
                    "format": "marks",
                    "base": "rtl"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wrapped output",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              },
              "X-Content-Stored": {
                "description": "Whether the request text or the result was stored. `false` in the default no-retention mode.",
                "schema": {
                  "type": "boolean",
                  "example": false
                }
              },
              "Server-Timing": {
                "description": "Time spent on our side, in milliseconds: `auth` (with the key lookup source), `ratelimit` and `total`. Compare `total` with your measured latency to separate network time.",
                "schema": {
                  "type": "string",
                  "example": "auth;desc=\"memory\";dur=0, ratelimit;dur=0, total;dur=842"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapResponse"
                },
                "examples": {
                  "html": {
                    "summary": "HTML output",
                    "value": {
                      "dir": "rtl",
                      "format": "html",
                      "output": "<span dir=\"rtl\">הנחה: <span dir=\"ltr\" lang=\"und\">10–20%</span> על <span dir=\"ltr\" lang=\"en\">Galaxy S25</span> עד <span dir=\"ltr\" lang=\"und\">31/12</span></span>",
                      "runs": [
                        {
                          "text": "הנחה: ",
                          "dir": "rtl",
                          "script": "Hebr",
                          "lang": "he",
                          "start": 0,
                          "end": 6
                        },
                        {
                          "text": "10–20%",
                          "dir": "ltr",
                          "script": "Zyyy",
                          "lang": "und",
                          "start": 6,
                          "end": 12
                        },
                        {
                          "text": " על ",
                          "dir": "rtl",
                          "script": "Hebr",
                          "lang": "he",
                          "start": 12,
                          "end": 16
                        },
                        {
                          "text": "Galaxy S25",
                          "dir": "ltr",
                          "script": "Latn",
                          "lang": "en",
                          "start": 16,
                          "end": 26
                        },
                        {
                          "text": " עד ",
                          "dir": "rtl",
                          "script": "Hebr",
                          "lang": "he",
                          "start": 26,
                          "end": 30
                        },
                        {
                          "text": "31/12",
                          "dir": "ltr",
                          "script": "Zyyy",
                          "lang": "und",
                          "start": 30,
                          "end": 35
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: the body failed validation or a value is out of range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "Invalid body",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Required",
                        "code": "invalid_request"
                      }
                    }
                  },
                  "fields_or_text": {
                    "summary": "Both or neither of text and fields",
                    "value": {
                      "error": {
                        "type": "invalid_request",
                        "message": "Provide either \"text\" or \"fields\".",
                        "code": "invalid_request"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, invalid or revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_key": {
                    "summary": "No API key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Missing or malformed API key. Use header: Authorization: Bearer hc_live_…",
                        "code": "unauthorized"
                      }
                    }
                  },
                  "revoked_key": {
                    "summary": "Invalid or revoked key",
                    "value": {
                      "error": {
                        "type": "unauthorized",
                        "message": "Invalid or revoked API key.",
                        "code": "unauthorized"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "A new self-serve account must save a card in the console before it can use the API. Adding a card is free.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "payment_method_required": {
                    "summary": "No card saved yet",
                    "value": {
                      "error": {
                        "type": "payment_required",
                        "message": "Add a card in the console to start using the API: https://hc.itsbaba.com/dashboard/plans",
                        "code": "payment_method_required"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The connection used TLS older than 1.2.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "tls_version": {
                    "summary": "TLS older than 1.2",
                    "value": {
                      "error": {
                        "type": "forbidden",
                        "message": "TLS 1.2 or newer is required.",
                        "code": "tls_version"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests this minute. Retry after a short wait.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute for this key: 60 on Standard, 600 on Scale.",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current minute.",
                "schema": {
                  "type": "integer",
                  "example": 59
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Per-minute rate limit",
                    "value": {
                      "error": {
                        "type": "rate_limited",
                        "message": "Rate limit of 600/min exceeded. Slow down and retry.",
                        "code": "rate_limited"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error. Safe to retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "internal": {
                    "summary": "Unexpected error",
                    "value": {
                      "error": {
                        "type": "internal",
                        "message": "Internal error.",
                        "code": "internal"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/translate/batch": {
      "post": {
        "operationId": "translateBatch",
        "tags": [
          "Translation"
        ],
        "summary": "Translate a batch of strings",
        "description": "Translate up to 50 strings to one target language in a single call, for example the interface strings of a screen or the fields of a product. Results come back in input order. Every option of /v1/translate applies to all items.\n\nWith protection (any protection field, or account terms for Hebrew, English and Russian pairs), each item carries its own `protection` block and interface variables such as `{count}`, `{{name}}` and `%s` stay in place.\n\n**Quota.** Consumes the monthly character quota: the total length of all items.\n\n**Limits.** 1 to 50 items, each up to 5,000 characters. A protected batch carries at most 20,000 characters in total.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchTranslateRequest"
              },
              "examples": {
                "ui_strings": {
                  "summary": "Interface strings with variables and a glossary",
                  "value": {
                    "items": [
                      "{count} items in your cart",
                      "Checkout",
                      "Last updated %s ago"
                    ],
                    "target_lang": "he",
                    "protect": true,
                    "glossary": {
                      "Checkout": "לתשלום"
                    }
                  }
                },
                "russian": {
                  "summary": "Short labels to Russian",
                  "value": {
                    "items": [
                      "Save",
                      "Cancel",
                      "Delete account"
                    ],
                    "target_lang": "ru",
                    "quality": "fast"
                  }
                },
                "icu": {
                  "summary": "ICU messages to Russian",
                  "value": {
                    "items": [
                      "{count, plural, one {# file} other {# files}} uploaded",
                      "{name} invited you"
                    ],
                    "target_lang": "ru",
                    "message_format": "icu"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch results (input order)",
            "headers": {
              "X-Usage-Chars-Used": {
                "description": "Characters used this month by the account, including this request.",
                "schema": {
                  "type": "integer",
                  "example": 1523
                }
              },
              "X-Usage-Chars-Limit": {
                "description": "Monthly character quota of the account.",
                "schema": {
[...]
