{
  "openapi": "3.1.0",
  "info": {
    "title": "OrbiSearch Public API",
    "version": "1.0.0",
    "description": "Email verification API for developers and agents. [Get your API key →](https://orbisearch.com/dashboard/api-keys)\n\n**Rate limiting:** requests are limited per API key (20 requests per second by default). Every response includes `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset` headers describing the current per-key window so clients can self-throttle; `429` responses also include a `Retry-After` header with the suggested backoff in seconds.",
    "contact": {
      "name": "Get API Key",
      "url": "https://orbisearch.com/dashboard/api-keys"
    },
    "x-jentic-source-url": "https://api.orbisearch.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.orbisearch.com",
      "description": "OrbiSearch Public API"
    }
  ],
  "paths": {
    "/v1/verify": {
      "get": {
        "tags": [
          "Public API v1"
        ],
        "summary": "Verify Single Email",
        "description": "Verify a single email address in real-time by probing DNS, MX, and the\ntarget mail server. Returns `status`, `substatus`, a plain-English\n`explanation`, the detected `email_provider`, and enrichment flags\n(`is_disposable`, `is_role_account`, `is_free`).\n\nCosts 0.2 credits per verification. Every verification is charged,\nincluding repeat verifications of the same address. On timeout you\nreceive a `status=unknown` / `substatus=timeout`\nresult (HTTP 200), so automated workflows can continue without branching on\nstatus codes. Credits are refunded only when the verification service is\nunavailable (HTTP 502).\n\nRate limit: 20 requests per second per API key. For larger workloads prefer\nthe asynchronous `/v1/bulk` endpoint.",
        "operationId": "verify_single_email_v1_verify_get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 320,
              "description": "Email address to verify.",
              "examples": [
                "jane.doe@acme.com"
              ],
              "title": "Email"
            },
            "description": "Email address to verify."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 97,
              "minimum": 3,
              "description": "Timeout in seconds (3-97).",
              "examples": [
                70
              ],
              "default": 97,
              "title": "Timeout"
            },
            "description": "Timeout in seconds (3-97)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailVerificationResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "example": {
                  "detail": "API key required in X-API-Key header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Rate limit exceeded. Maximum 20 requests per second per API key. Contact us to discuss higher limits.",
                  "code": "rate_limited"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying. Computed from the remaining rate-limit window (typically 1 for the per-second limit, longer when the limit is exceeded by 3x or more); for endpoints with a daily quota, seconds until the quota resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient credits. You have 0.15 credits but need 0.2."
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Missing required query parameter: email.",
                  "errors": [
                    {
                      "loc": "query.email",
                      "msg": "Missing required query parameter: email.",
                      "type": "missing"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/email-lookup": {
      "post": {
        "tags": [
          "Public API v1"
        ],
        "summary": "Find Email by LinkedIn URL or Name and Domain",
        "description": "Find a person's deliverable work email from their LinkedIn profile URL, or\nfrom their first name, last name and company domain (provide at least one\nof first or last name). Send one or the other, never both. Returns the\nemail found together with the same\nenrichment fields as `/v1/verify` (`status`, `substatus`, `explanation`,\n`email_provider`, `mx_record`, `is_domain_catch_all`,\n`is_secure_email_gateway`, `is_disposable`, `is_role_account`, `is_free`).\n\nTimeout parameter (optional):\n- Range: 30-97 seconds\n- Default: 97 seconds\n\nCosts 1 credit per returned response. Refunds are issued only when\nOrbiSearch infrastructure cannot complete the request (HTTP 502).\nEvery returned response is charged, including repeat searches for the\nsame person.\n\nRate limit: 20 requests per second per API key, shared with `/v1/verify`\nand `/v1/bulk`. For best results, use the bulk email finder\n(`/v1/bulk-lookup`) where possible, as it allows more time per entry.",
        "operationId": "lookup_email_v1_email_lookup_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailLookupRequest"
              },
              "examples": {
                "By LinkedIn URL": {
                  "summary": "By LinkedIn URL",
                  "value": {
                    "linkedin_url": "https://www.linkedin.com/in/jane-doe"
                  }
                },
                "By name and domain": {
                  "summary": "By name and domain",
                  "value": {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "domain": "acme.com"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLookupResponse"
                },
                "examples": {
                  "By LinkedIn URL": {
                    "summary": "By LinkedIn URL",
                    "value": {
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "domain": "acme.com",
                      "linkedin_url": "https://www.linkedin.com/in/jane-doe",
                      "email": "jane.doe@acme.com",
                      "status": "safe",
                      "substatus": "deliverable",
                      "explanation": "Safe to email. The mailbox exists and is deliverable.",
                      "confidence": 99,
                      "full_name": "Jane Doe",
                      "employer_name": "Acme",
                      "employer_linkedin_url": "https://www.linkedin.com/company/acme",
                      "all_emails": [
                        {
                          "email": "jane.doe@acme.com",
                          "job_order": 1,
                          "company_linkedin_url": "https://www.linkedin.com/company/acme",
                          "email_domain": "acme.com"
                        }
                      ],
                      "email_provider": "Google Workspace",
                      "mx_record": "aspmx.l.google.com",
                      "is_domain_catch_all": false,
                      "is_secure_email_gateway": false,
                      "is_disposable": false,
                      "is_role_account": false,
                      "is_free": false,
                      "credits_consumed": 1
                    }
                  },
                  "By name and domain": {
                    "summary": "By name and domain",
                    "value": {
                      "first_name": "Jane",
                      "last_name": "Doe",
                      "domain": "acme.com",
                      "linkedin_url": null,
                      "email": "jane.doe@acme.com",
                      "status": "safe",
                      "substatus": "deliverable",
                      "explanation": "Safe to email. The mailbox exists and is deliverable.",
                      "confidence": 99,
                      "full_name": null,
                      "employer_name": null,
                      "employer_linkedin_url": null,
                      "all_emails": null,
                      "email_provider": "Google Workspace",
                      "mx_record": "aspmx.l.google.com",
                      "is_domain_catch_all": false,
                      "is_secure_email_gateway": false,
                      "is_disposable": false,
                      "is_role_account": false,
                      "is_free": false,
                      "credits_consumed": 1
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "API key required in X-API-Key header"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying. Computed from the remaining rate-limit window (typically 1 for the per-second limit, longer when the limit is exceeded by 3x or more); for endpoints with a daily quota, seconds until the quota resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "Rate limit exceeded. Maximum 20 requests per second per API key. Contact us to discuss higher limits.",
                  "code": "rate_limited"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "Insufficient credits. You have 0.15 credits but need 0.2."
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "Invalid request body field '0': Input should be a valid string.",
                  "errors": [
                    {
                      "loc": "body.0",
                      "msg": "Invalid request body field '0': Input should be a valid string.",
                      "type": "string_type"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Email finder service not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "Email finder is not available in this environment"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/company-enrichment": {
      "get": {
        "tags": [
          "Public API v1"
        ],
        "summary": "Enrich a company by LinkedIn URL or website domain",
        "description": "Return an enriched public record for a company, by its LinkedIn company\nURL or its website domain: firmographics, exact employee and follower\ncounts, and similar companies.\n\nCosts 1 credit per attempt. found and not_found are both charged,\nincluding repeat requests for the same company; refunds are issued only\nwhen OrbiSearch infrastructure cannot complete the request (HTTP 502).\nInvalid input is rejected with 422 before any charge.\n\nRate limit: shared with the other /v1/* endpoints.",
        "operationId": "company_enrichment_v1_company_enrichment_get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "A LinkedIn company or showcase URL. Preferred. Send this or domain, not both.",
              "examples": [
                "https://www.linkedin.com/company/kearney"
              ],
              "title": "Linkedin Url"
            },
            "description": "A LinkedIn company or showcase URL. Preferred. Send this or domain, not both."
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The company's website domain, or a full URL reduced to its domain. Send this or linkedin_url, not both.",
              "examples": [
                "kearney.com"
              ],
              "title": "Domain"
            },
            "description": "The company's website domain, or a full URL reduced to its domain. Send this or linkedin_url, not both."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyEnrichmentResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "example": {
                  "detail": "API key required in X-API-Key header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Rate limit exceeded. Maximum 20 requests per second per API key. Contact us to discuss higher limits.",
                  "code": "rate_limited"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying. Computed from the remaining rate-limit window (typically 1 for the per-second limit, longer when the limit is exceeded by 3x or more); for endpoints with a daily quota, seconds until the quota resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient credits. You have 0.15 credits but need 0.2."
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Missing required query parameter: email.",
                  "errors": [
                    {
                      "loc": "query.email",
                      "msg": "Missing required query parameter: email.",
                      "type": "missing"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Temporarily unable to complete the request (refunded)",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Company enrichment service temporarily unavailable"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Company enrichment is not available in this environment"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/company-enrichment/bulk": {
      "post": {
        "tags": [
          "Public API v1"
        ],
        "summary": "Submit Company Enrichment Bulk",
        "description": "Submit a list of LinkedIn company URLs for asynchronous bulk enrichment.\nDuplicate companies are charged once; every input row still comes back in\nresults, in order. Credits are deducted upfront at 1 credit per unique\nrow, once for the whole job.\n\nReturns a `job_id` immediately. Poll\n`GET /v1/company-enrichment/bulk/{job_id}` until `status` reaches\n`completed`, then fetch results via\n`GET /v1/company-enrichment/bulk/{job_id}/results`.\n\nEvery accepted row is charged, including not_found and error rows.\nDuplicates and invalid rows cost nothing. Refunds are issued\nonly when OrbiSearch infrastructure cannot accept or process the\nsubmission itself (the upfront charge is reversed in that case).",
        "operationId": "submit_company_enrichment_bulk_v1_company_enrichment_bulk_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyBulkSubmitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyBulkSubmitResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "API key required in X-API-Key header"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying. Computed from the remaining rate-limit window (typically 1 for the per-second limit, longer when the limit is exceeded by 3x or more); for endpoints with a daily quota, seconds until the quota resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "Rate limit exceeded. Maximum 20 requests per second per API key. Contact us to discuss higher limits.",
                  "code": "rate_limited"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "Insufficient credits. You have 0.15 credits but need 0.2."
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "Invalid request body field '0': Input should be a valid string.",
                  "errors": [
                    {
                      "loc": "body.0",
                      "msg": "Invalid request body field '0': Input should be a valid string.",
                      "type": "string_type"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "Bulk company enrichment is not available in this environment"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/company-enrichment/bulk/{job_id}": {
      "get": {
        "tags": [
          "Public API v1"
        ],
        "summary": "Get Company Enrichment Bulk Status",
        "description": "Check the status and progress of a bulk company-enrichment job. Returns\nthe current `status` (`running` or `completed`), per-outcome counts, and\nrow totals. Poll until `status=completed`, then fetch results.",
        "operationId": "get_company_enrichment_bulk_status_v1_company_enrichment_bulk__job_id__get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyBulkStatusResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "example": {
                  "detail": "API key required in X-API-Key header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Rate limit exceeded. Maximum 20 requests per second per API key. Contact us to discuss higher limits.",
                  "code": "rate_limited"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying. Computed from the remaining rate-limit window (typically 1 for the per-second limit, longer when the limit is exceeded by 3x or more); for endpoints with a daily quota, seconds until the quota resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Job not found or does not belong to this API key",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Job not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Missing required query parameter: email.",
                  "errors": [
                    {
                      "loc": "query.email",
                      "msg": "Missing required query parameter: email.",
                      "type": "missing"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/company-enrichment/bulk/{job_id}/results": {
      "get": {
        "tags": [
          "Public API v1"
        ],
        "summary": "Get Company Enrichment Bulk Results",
        "description": "Fetch results for a bulk company-enrichment job. Paginated with `limit`\n(default 50, max 500) and `offset` (default 0). Rows come back in submit\norder: every input row, repeats included, with the URL as sent echoed in\n`input_url`. A company not answered yet is returned with\n`result=pending`, so pages never shift while a job runs; rows our\ninfrastructure could not answer are returned with `result=error`. Each\nunique company carries its 1 credit on its first row; repeats and\ninvalid_url rows cost 0.",
        "operationId": "get_company_enrichment_bulk_results_v1_company_enrichment_bulk__job_id__results_get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Rows per page (1-500).",
              "default": 50,
              "title": "Limit"
            },
            "description": "Rows per page (1-500)."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Row offset into the ordered result set.",
              "default": 0,
              "title": "Offset"
            },
            "description": "Row offset into the ordered result set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyBulkResultsResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "example": {
                  "detail": "API key required in X-API-Key header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Rate limit exceeded. Maximum 20 requests per second per API key. Contact us to discuss higher limits.",
                  "code": "rate_limited"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying. Computed from the remaining rate-limit window (typically 1 for the per-second limit, longer when the limit is exceeded by 3x or more); for endpoints with a daily quota, seconds until the quota resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Job not found or does not belong to this API key",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Job not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Missing required query parameter: email.",
                  "errors": [
                    {
                      "loc": "query.email",
                      "msg": "Missing required query parameter: email.",
                      "type": "missing"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/bulk-lookup": {
      "post": {
        "tags": [
          "Public API v1"
        ],
        "summary": "Submit Bulk Email Finder Job",
        "description": "Submit a bulk email finder job: a list of LinkedIn profile URLs, or a list\nof (first_name, last_name, domain) rows, searched asynchronously. One input\ntype per job. Rows are deduplicated (case-insensitive) before billing;\ncredits are deducted upfront at 1 credit per unique row.\n\nReturns a `job_id` immediately. Poll `GET /v1/bulk-lookup/{job_id}` until\n`status` reaches `completed`, then fetch results via\n`GET /v1/bulk-lookup/{job_id}/results`.\n\nEvery returned row is charged, except `invalid_linkedin_url` rows, which\nare free. Refunds are issued only when OrbiSearch\ninfrastructure cannot accept or process the submission itself (the\nupfront charge is reversed in that case).\n\nRate limit: 20 requests per second per API key, shared with `/v1/verify`,\n`/v1/bulk`, and `/v1/email-lookup`.",
        "operationId": "submit_bulk_lookup_v1_bulk_lookup_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkLookupSubmitRequest"
              },
              "examples": {
                "By LinkedIn URL": {
                  "summary": "By LinkedIn URL",
                  "value": {
                    "input": [
                      {
                        "linkedin_url": "https://www.linkedin.com/in/jane-doe"
                      },
                      {
                        "linkedin_url": "https://www.linkedin.com/in/john-smith"
                      }
                    ]
                  }
                },
                "By name and domain": {
                  "summary": "By name and domain",
                  "value": {
                    "input": [
                      {
                        "first_name": "Jane",
                        "last_name": "Doe",
                        "domain": "acme.com"
                      },
                      {
                        "first_name": "John",
                        "last_name": "Smith",
                        "domain": "bigcorp.io"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLookupSubmitResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "API key required in X-API-Key header"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying. Computed from the remaining rate-limit window (typically 1 for the per-second limit, longer when the limit is exceeded by 3x or more); for endpoints with a daily quota, seconds until the quota resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "Rate limit exceeded. Maximum 20 requests per second per API key. Contact us to discuss higher limits.",
                  "code": "rate_limited"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "Insufficient credits. You have 0.15 credits but need 0.2."
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "Invalid request body field '0': Input should be a valid string.",
                  "errors": [
                    {
                      "loc": "body.0",
                      "msg": "Invalid request body field '0': Input should be a valid string.",
                      "type": "string_type"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Email finder service not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "Email finder is not available in this environment"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/bulk-lookup/{job_id}": {
      "get": {
        "tags": [
          "Public API v1"
        ],
        "summary": "Get Bulk Email Finder Job Status",
        "description": "Check the status and progress of a bulk email finder job. Returns the current\n`status` (`running` or `completed`), per-outcome counts, and row totals.\n\nPoll this until `status=completed`, then fetch results via\n`GET /v1/bulk-lookup/{job_id}/results`.\n\nAll rows are charged per the bulk email finder billing policy: refunds happen\nonly when OrbiSearch infrastructure cannot accept the submission itself,\nnot on a per-row outcome basis.",
        "operationId": "get_bulk_lookup_status_v1_bulk_lookup__job_id__get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLookupStatusResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "example": {
                  "detail": "API key required in X-API-Key header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Rate limit exceeded. Maximum 20 requests per second per API key. Contact us to discuss higher limits.",
                  "code": "rate_limited"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying. Computed from the remaining rate-limit window (typically 1 for the per-second limit, longer when the limit is exceeded by 3x or more); for endpoints with a daily quota, seconds until the quota resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Job not found or does not belong to this API key",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Job not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Missing required query parameter: email.",
                  "errors": [
                    {
                      "loc": "query.email",
                      "msg": "Missing required query parameter: email.",
                      "type": "missing"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Email finder service not configured",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Email finder is not available in this environment"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/bulk-lookup/{job_id}/results": {
      "get": {
        "tags": [
          "Public API v1"
        ],
        "summary": "Get Bulk Email Finder Job Results",
        "description": "Fetch results for a bulk email finder job. Paginated with `limit` (default 50,\nmax 500) and `offset` (default 0). Each row mirrors the `/v1/email-lookup`\nresponse shape.\n\nRows whose search did not find a deliverable address are\nreturned with `status=unknown`, `substatus=no_address_found`, and\n`credits_consumed=1`. Every returned row is charged, except\n`invalid_linkedin_url` rows (`credits_consumed=0`).",
        "operationId": "get_bulk_lookup_results_v1_bulk_lookup__job_id__results_get",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLookupResultsResponse"
                },
                "examples": {
                  "By LinkedIn URL": {
                    "summary": "By LinkedIn URL",
                    "value": {
                      "job_id": "123e4567-e89b-12d3-a456-426614174000",
                      "total_rows": 2,
                      "total_processed": 2,
                      "limit": 50,
                      "offset": 0,
                      "results": [
                        {
                          "first_name": "Jane",
                          "last_name": "Doe",
                          "domain": "acme.com",
                          "linkedin_url": "https://www.linkedin.com/in/jane-doe",
                          "email": "jane.doe@acme.com",
                          "status": "safe",
                          "substatus": "deliverable",
                          "explanation": "Safe to email. The mailbox exists and is deliverable.",
                          "confidence": 99,
                          "full_name": "Jane Doe",
                          "employer_name": "Acme",
                          "employer_linkedin_url": "https://www.linkedin.com/company/acme",
                          "all_emails": [
                            {
                              "email": "jane.doe@acme.com",
                              "job_order": 1,
                              "company_linkedin_url": "https://www.linkedin.com/company/acme",
                              "email_domain": "acme.com"
                            }
                          ],
                          "email_provider": "Google Workspace",
                          "mx_record": "aspmx.l.google.com",
                          "is_domain_catch_all": false,
                          "is_secure_email_gateway": false,
                          "is_disposable": false,
                          "is_role_account": false,
                          "is_free": false,
                          "credits_consumed": 1
                        },
                        {
                          "first_name": "John",
                          "last_name": "Smith",
                          "domain": "bigcorp.io",
                          "linkedin_url": "https://www.linkedin.com/in/john-smith",
                          "email": null,
                          "status": "unknown",
                          "substatus": "no_address_found",
                          "explanation": "We couldn't find a valid work email for this person.",
                          "confidence": null,
                          "full_name": "John Smith",
                          "employer_name": "Bigcorp",
                          "employer_linkedin_url": "https://www.linkedin.com/company/bigcorp",
                          "all_emails": [],
                          "email_provider": "Unknown",
                          "mx_record": null,
                          "is_domain_catch_all": null,
                          "is_secure_email_gateway": false,
                          "is_disposable": null,
                          "is_role_account": null,
                          "is_free": null,
                          "credits_consumed": 1
                        }
                      ]
                    }
                  },
                  "By name and domain": {
                    "summary": "By name and domain",
                    "value": {
                      "job_id": "123e4567-e89b-12d3-a456-426614174000",
                      "total_rows": 2,
                      "total_processed": 2,
                      "limit": 50,
                      "offset": 0,
                      "results": [
                        {
                          "first_name": "Jane",
                          "last_name": "Doe",
                          "domain": "acme.com",
                          "linkedin_url": null,
                          "email": "jane.doe@acme.com",
                          "status": "safe",
                          "substatus": "deliverable",
                          "explanation": "Safe to email. The mailbox exists and is deliverable.",
                          "confidence": 99,
                          "full_name": null,
                          "employer_name": null,
                          "employer_linkedin_url": null,
                          "all_emails": null,
                          "email_provider": "Google Workspace",
                          "mx_record": "aspmx.l.google.com",
                          "is_domain_catch_all": false,
                          "is_secure_email_gateway": false,
                          "is_disposable": false,
                          "is_role_account": false,
                          "is_free": false,
                          "credits_consumed": 1
                        },
                        {
                          "first_name": "John",
                          "last_name": "Smith",
                          "domain": "bigcorp.io",
                          "linkedin_url": null,
                          "email": null,
                          "status": "unknown",
                          "substatus": "no_address_found",
                          "explanation": "No deliverable address could be found for the given name at this domain.",
                          "confidence": null,
                          "full_name": null,
                          "employer_name": null,
                          "employer_linkedin_url": null,
                          "all_emails": null,
                          "email_provider": "Unknown",
                          "mx_record": null,
                          "is_domain_catch_all": null,
                          "is_secure_email_gateway": false,
                          "is_disposable": null,
                          "is_role_account": null,
                          "is_free": null,
                          "credits_consumed": 1
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "example": {
                  "detail": "API key required in X-API-Key header"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Rate limit exceeded. Maximum 20 requests per second per API key. Contact us to discuss higher limits.",
                  "code": "rate_limited"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying. Computed from the remaining rate-limit window (typically 1 for the per-second limit, longer when the limit is exceeded by 3x or more); for endpoints with a daily quota, seconds until the quota resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Job not found or does not belong to this API key",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Job not found"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Missing required query parameter: email.",
                  "errors": [
                    {
                      "loc": "query.email",
                      "msg": "Missing required query parameter: email.",
                      "type": "missing"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Email finder service not configured",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Email finder is not available in this environment"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/bulk": {
      "post": {
        "tags": [
          "Public API v1"
        ],
        "summary": "Submit Bulk Verification",
        "description": "Submit a list of email addresses for asynchronous bulk verification. The\nendpoint accepts the list, deduplicates it, queues the job, and returns a\n`job_id` immediately. Verification runs in the background. Poll\n`GET /v1/bulk/{job_id}` until `status` reaches `complete` and retrieve\nresults via `GET /v1/bulk/{job_id}/results` (partial results are available\nat any time).\n\nCosts 0.2 credits per unique email after deduplication. Maximum 100,000\nemails per submission.",
        "operationId": "submit_bulk_verification_v1_bulk_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string",
                  "maxLength": 320,
                  "minLength": 3
                },
                "type": "array",
                "maxItems": 100000,
                "minItems": 1,
                "title": "Emails",
                "examples": [
                  [
                    "ceo@acme.com",
                    "sales@example.com",
                    "john.doe@bigcorp.io"
                  ]
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkJobSubmitResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                },
                "example": {
                  "detail": "API key required in X-API-Key header"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying. Computed from the remaining rate-limit window (typically 1 for the per-second limit, longer when the limit is exceeded by 3x or more); for endpoints with a daily quota, seconds until the quota resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    20
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current per-API-key window.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    13
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the current window resets.",
                "schema": {
                  "type": "integer",
                  "examples": [
                    1751700000
[...]
