{
  "openapi": "3.1.0",
  "info": {
    "title": "AgentsPodium account API (agent-facing subset)",
    "version": "1.0.0",
    "description": "Create, configure, pay for and watch AI agent pods, meant to be driven directly by an agent. This document covers the subset an agent (rather than a human operator) needs: auth, agent lifecycle, tools/models/personas catalog, payment, A2A directory. See https://hosting.defispace.com/docs/quickstart.md for a narrative walkthrough.",
    "x-jentic-source-url": "https://hosting.defispace.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://agentspodium.com/api"
    }
  ],
  "paths": {
    "/auth/request": {
      "post": {
        "summary": "Request a six-digit sign-in code by e-mail.",
        "tags": [
          "Auth"
        ],
        "description": "Send this first when authenticating with an e-mail address instead of an API key. Always answers 202, whether or not the address has an account — never poll this for existence. The code is valid 10 minutes; feed it to POST /auth/verify.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted — a code was sent (or the address does not exist; the response looks the same either way).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "devCode": {
                      "type": "string",
                      "description": "Only present when the server runs with devShowCode (local/dev)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/verify": {
      "post": {
        "summary": "Exchange an e-mail code for a bearer token.",
        "tags": [
          "Auth"
        ],
        "description": "Call this right after POST /auth/request with the six-digit code the address received. The returned token works as `Authorization: Bearer <token>` on every authenticated call below; it lives 30 days. For an agent that cannot read the mailbox itself, mint an API key from the account page instead (see bearerAuth).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "code"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^\\d{6}$"
                  },
                  "attribution": {
                    "type": "object",
                    "description": "Optional marketing attribution; safe to omit.",
                    "nullable": true,
                    "required": [
                      "anonId"
                    ],
                    "properties": {
                      "anonId": {
                        "type": "string"
                      },
                      "utmSource": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "utmMedium": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "utmCampaign": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "referrer": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token",
                    "user"
                  ],
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "required": [
                        "id",
                        "email"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/keys": {
      "get": {
        "summary": "List this account's API keys.",
        "tags": [
          "API keys"
        ],
        "description": "Use to check what keys already exist before minting another; secrets are never included, only id/name/prefix/timestamps. Requires a session token — a key cannot list keys on its own behalf is untrue, but it also cannot mint or revoke one (see POST/DELETE below).",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Mint a new API key for this account.",
        "tags": [
          "API keys"
        ],
        "description": "Call once from a signed-in session to create the credential an agent will use going forward (`Authorization: Bearer ak_live_…`). The secret is returned exactly once, in this response, under `secret` — store it immediately, it cannot be retrieved again. Refused (403) when called with an API key rather than a session token, so a leaked key cannot mint its own replacements.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 60
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "key",
                    "secret"
                  ],
                  "properties": {
                    "key": {
                      "$ref": "#/components/schemas/ApiKey"
                    },
                    "secret": {
                      "type": "string",
                      "example": "ak_live_…",
                      "description": "The only time the full secret is ever returned."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The credential does not carry this right (e.g. an API key managing keys).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/keys/{id}": {
      "delete": {
        "summary": "Revoke an API key.",
        "tags": [
          "API keys"
        ],
        "description": "Call when a key has leaked or is no longer needed. The key stops working immediately (401 \"Invalid or revoked API key\" on next use); it is not deleted from history. Requires a session token, not the key being revoked or any other key.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked."
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The credential does not carry this right (e.g. an API key managing keys).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/personas": {
      "get": {
        "summary": "List the public persona catalog.",
        "tags": [
          "Catalog"
        ],
        "description": "Call before creating an agent to choose a `personaId` — built-in personas plus any published community ones. No auth required; browse freely.",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "personas"
                  ],
                  "properties": {
                    "personas": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Persona"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/personas/{id}": {
      "get": {
        "summary": "Read one persona's full catalog entry.",
        "tags": [
          "Catalog"
        ],
        "description": "Call to inspect a persona's soul, localizations and example demo before deploying it, or to render its detail page. No auth required.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Persona id, e.g. personal-assistant."
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "persona",
                    "articles"
                  ],
                  "properties": {
                    "persona": {
                      "$ref": "#/components/schemas/Persona"
                    },
                    "articles": {
                      "type": "array",
                      "description": "Articles written about this persona (bodies omitted).",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such persona.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/tiers": {
      "get": {
        "summary": "List the pricing plans and the trial length.",
        "tags": [
          "Catalog"
        ],
        "description": "Call to show or validate plan choices before POST /agents — this is the one source of truth for prices and specs, do not hard-code them. No auth required.",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tiers",
                    "trial"
                  ],
                  "properties": {
                    "tiers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tier"
                      }
                    },
                    "trial": {
                      "type": "object",
                      "required": [
                        "days",
                        "graceDays"
                      ],
                      "properties": {
                        "days": {
                          "type": "integer",
                          "example": 7
                        },
                        "graceDays": {
                          "type": "integer",
                          "example": 3
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/engines": {
      "get": {
        "summary": "List the platforms (engines) that can be deployed.",
        "tags": [
          "Catalog"
        ],
        "description": "Call before POST /agents to pick a valid `engine` and confirm the tier you want meets its `minTier`. No auth required.",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "engines",
                    "podHostSuffix"
                  ],
                  "properties": {
                    "engines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Engine"
                      }
                    },
                    "podHostSuffix": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Host suffix agent dashboards are proxied from; null when that proxy is off."
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/tools": {
      "get": {
        "summary": "List Hermes toolsets available to enable on an agent.",
        "tags": [
          "Catalog"
        ],
        "description": "Call to build the `tools.enabled` list for POST /agents or PATCH /agents/{id}/tools.",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "platform",
                    "toolsets",
                    "groups",
                    "minimalToolsets"
                  ],
                  "properties": {
                    "platform": {
                      "type": "string",
                      "enum": [
                        "hermes"
                      ]
                    },
                    "toolsets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ToolsetInfo"
                      }
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "label"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "minimalToolsets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Ids enabled by default when a persona is deployed with nothing chosen."
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/models": {
      "get": {
        "summary": "List the curated LLM model catalog.",
        "tags": [
          "Catalog"
        ],
        "description": "Call to pick a valid `model` id for PATCH /agents/{id}/llm-key or POST /agents.",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "models",
                    "default"
                  ],
                  "properties": {
                    "models": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ModelInfo"
                      }
                    },
                    "default": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/llm-providers": {
      "get": {
        "summary": "List LLM providers Hermes can take a key for.",
        "tags": [
          "Catalog"
        ],
        "description": "Call to validate the `provider` value before PATCH /agents/{id}/llm-key.",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "providers"
                  ],
                  "properties": {
                    "providers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LlmProviderInfo"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/status": {
      "get": {
        "summary": "Check whether the platform itself is healthy.",
        "tags": [
          "Status"
        ],
        "description": "Call when a request is behaving oddly, to tell \"the API is degraded\" apart from \"my agent/pod is broken\" — see also GET /healthz for just the API process.",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "object",
                      "required": [
                        "status",
                        "services"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "operational",
                            "degraded"
                          ]
                        },
                        "services": {
                          "type": "object",
                          "required": [
                            "account",
                            "deployer"
                          ],
                          "properties": {
                            "account": {
                              "type": "string",
                              "enum": [
                                "ok",
                                "down"
                              ]
                            },
                            "deployer": {
                              "type": "string",
                              "enum": [
                                "ok",
                                "down",
                                "unknown"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/agents": {
      "get": {
        "summary": "List every agent (pod) owned by this account.",
        "tags": [
          "Agents"
        ],
        "description": "Call to enumerate your fleet, e.g. to find an id before acting on it.",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agents"
                  ],
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new agent (deploy a pod).",
        "tags": [
          "Agents"
        ],
        "description": "Call once to provision a pod. The call is synchronous and returns once the pod exists, typically within one to two minutes — the engine inside may need a few more seconds, which GET /agents/{id}/liveness tells you. Follow with PATCH /agents/{id}/llm-key: a fresh pod has no model key and answers nothing until one is set.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "personaId",
                  "tier"
                ],
                "properties": {
                  "personaId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Any id from GET /personas."
                  },
                  "tier": {
                    "type": "string",
                    "enum": [
                      "tiny",
                      "small",
                      "medium",
                      "large"
                    ],
                    "description": "Must satisfy the chosen engine's minTier."
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 60,
                    "description": "Up to 60 chars; the pod's hostnames are derived from it."
                  },
                  "channels": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "web",
                        "telegram",
                        "discord",
                        "whatsapp",
                        "email"
                      ]
                    },
                    "description": "Default [\"web\"]."
                  },
                  "lang": {
                    "type": "string",
                    "enum": [
                      "en",
                      "ru"
                    ]
                  },
                  "skills": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "extraSoul": {
                    "type": "string",
                    "maxLength": 4000,
                    "description": "Owner instructions appended to the persona's SOUL."
                  },
                  "soul": {
                    "type": "string",
                    "maxLength": 10000
                  },
                  "domain": {
                    "type": "string",
                    "maxLength": 253,
                    "description": "Your own hostname, e.g. agent.example.com. Names under agentspodium.com are assigned automatically and refused here."
                  },
                  "tools": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "mcpServers": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/McpServerConfig"
                        }
                      }
                    }
                  },
                  "engine": {
                    "type": "string",
                    "enum": [
                      "hermes",
                      "openclaw",
                      "n8n",
                      "claude-code",
                      "opencode",
                      "pi"
                    ],
                    "description": "Default hermes."
                  },
                  "model": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "webhookUrl": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Public http(s) URL to POST pod events to. The signing secret comes back once as `webhookSecret` beside `agent`."
                  },
                  "app": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/AppConfig"
                      }
                    ],
                    "description": "Required when engine is \"app\". Add repoToken (string) for a private repository; it is stored encrypted and never returned."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created — the pod exists and status is \"running\" (the engine inside may still be booting).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    },
                    "webhookSecret": {
                      "type": "string",
                      "description": "Only when `webhookUrl` was given: the HMAC secret for verifying deliveries. Shown once."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "summary": "Read one agent's full record.",
        "tags": [
          "Agents"
        ],
        "description": "Call to check current status, endpointUrl, a2a details, quota, and configuration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an agent for good.",
        "tags": [
          "Agents"
        ],
        "description": "Call only when you are certain: this destroys the pod after a final backup and wipes every secret and every line the owner wrote. Export first (GET /agents/{id}/export) if the data might still be needed.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/upgrade": {
      "post": {
        "summary": "Change an agent's plan.",
        "tags": [
          "Agents"
        ],
        "description": "Call to move the pod to a different tier; it rebuilds with data migrated. Poll GET /agents/{id} until status is \"running\" afterward.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tier"
                ],
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": [
                      "tiny",
                      "small",
                      "medium",
                      "large"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upgraded — status is \"provisioning\" while the pod rebuilds.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/llm-key": {
      "patch": {
        "summary": "Install, change, or clear the agent's model key.",
        "tags": [
          "Agents"
        ],
        "description": "Call right after creating an agent — without a key it accepts messages and answers nothing. Send `key: null` to clear it. This rebuilds the pod (about a minute); poll liveness again afterward.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "minLength": 8,
                    "nullable": true,
                    "description": "The provider's API key; null clears it."
                  },
                  "provider": {
                    "type": "string",
                    "enum": [
                      "openai",
                      "anthropic",
                      "openrouter",
                      "google",
                      "gemini",
                      "groq",
                      "mistral",
                      "deepseek",
                      "xai",
                      "nous"
                    ],
                    "description": "Required together with a non-null key; a key for one vendor and a model from another is a dead pod."
                  },
                  "model": {
                    "type": "string",
                    "maxLength": 200,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved — status is \"provisioning\" while the pod rebuilds.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/tools": {
      "patch": {
        "summary": "Set the agent's enabled toolsets and MCP servers.",
        "tags": [
          "Agents"
        ],
        "description": "Call with the full desired set (this replaces, not merges) after checking valid ids via GET /tools. Rebuilds the pod.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "mcpServers": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/McpServerConfig"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/channels": {
      "patch": {
        "summary": "Set which messengers the agent listens on.",
        "tags": [
          "Agents"
        ],
        "description": "Call with the full desired channel list (at least one).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channels"
                ],
                "properties": {
                  "channels": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "web",
                        "telegram",
                        "discord",
                        "whatsapp",
                        "email"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/telegram": {
      "patch": {
        "summary": "Install or clear the agent's Telegram bot token.",
        "tags": [
          "Agents"
        ],
        "description": "Call with a bot token from @BotFather to enable the Telegram channel; send `token: null` to clear it. The token is encrypted at rest and never returned by any endpoint.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 200,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/instructions": {
      "patch": {
        "summary": "Set the owner's extra instructions appended to the persona.",
        "tags": [
          "Agents"
        ],
        "description": "Call to change extraSoul; send `extraSoul: null` to clear it back to the plain persona.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "extraSoul": {
                    "type": "string",
                    "maxLength": 4000,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/timezone": {
      "patch": {
        "summary": "Set the IANA timezone the agent's schedules run on.",
        "tags": [
          "Agents"
        ],
        "description": "Call to fix wrong-hour cron jobs and reminders; send `timezone: null` to fall back to the pod's UTC default. Wrong or missing timezone fails silently — schedules simply fire at the wrong hour.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "timezone"
                ],
                "properties": {
                  "timezone": {
                    "type": "string",
                    "maxLength": 64,
                    "nullable": true,
                    "example": "Europe/Berlin"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/peers": {
      "put": {
        "summary": "Replace the list of other agents this one may call over A2A.",
        "tags": [
          "Agents"
        ],
        "description": "Call with the full desired peer list (up to 20) — this replaces, not merges. Peer tokens are other people's secrets: accepted here, encrypted at rest, and never sent back out. Written into the pod on rebuild.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "peers"
                ],
                "properties": {
                  "peers": {
                    "type": "array",
                    "maxItems": 20,
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "url"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "url": {
                          "type": "string",
                          "format": "uri",
                          "maxLength": 500
                        },
                        "token": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 500,
                          "description": "The peer's own bearer credential."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/listing": {
      "patch": {
        "summary": "Opt an agent into (or out of) the public A2A catalog.",
        "tags": [
          "Agents"
        ],
        "description": "Call with `listed: true` to make this pod discoverable at GET /a2a-catalog (name, url, agent card — never the token); `false` to remove it. Off by default — enabling the a2a toolset is not consent to being listed.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listed": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/pause": {
      "post": {
        "summary": "Pause an agent (stop billing its resources).",
        "tags": [
          "Agents"
        ],
        "description": "Call to stop a pod without losing its data; resume later with POST /agents/{id}/resume.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paused — status is \"stopped\".",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/resume": {
      "post": {
        "summary": "Resume a paused agent.",
        "tags": [
          "Agents"
        ],
        "description": "Call to bring a stopped pod back; poll GET /agents/{id}/liveness afterward.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resumed — status is \"running\".",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/rebuild": {
      "post": {
        "summary": "Rebuild the pod from its last backup.",
        "tags": [
          "Agents"
        ],
        "description": "Call when liveness shows reachable but not serving for more than a few minutes, or after status is \"failed\". Poll GET /agents/{id} until \"running\", then liveness.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rebuild started — status is \"provisioning\".",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "agent"
                  ],
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/liveness": {
      "get": {
        "summary": "Check whether the pod is up and the engine inside is answering.",
        "tags": [
          "Agents"
        ],
        "description": "Poll every 5 seconds after create, upgrade, an llm-key change, or a rebuild, until `serving` is true. `reachable && !serving` for more than a few minutes means broken — call POST /agents/{id}/rebuild.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Liveness"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/usage": {
      "get": {
        "summary": "Read the agent's current RAM/disk usage against its plan.",
        "tags": [
          "Agents"
        ],
        "description": "Call to check whether an agent is close to being auto-paused for exceeding its tier (quotaStatus reaches \"paused\"). Numbers refresh about once a minute from the cluster.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "usage",
                    "status"
                  ],
                  "properties": {
                    "usage": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/AgentQuota"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "warn",
                        "grace",
                        "paused"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/term": {
      "get": {
        "summary": "Find out when this agent's current free or paid term ends.",
        "tags": [
          "Agents"
        ],
        "description": "Call to decide whether to renew soon — the same numbers the account page's countdown uses. `renewUrl` is where a human pays.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "term"
                  ],
                  "properties": {
                    "term": {
                      "$ref": "#/components/schemas/AgentTerm"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Term information is not available on this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/export": {
      "get": {
        "summary": "Download a tarball of the agent's own data.",
        "tags": [
          "Agents"
        ],
        "description": "Call any time, free, to get a portable copy of the pod's persona, skills, and memory before deleting or migrating it. Streams `application/gzip`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A gzip tar stream.",
            "content": {
              "application/gzip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Agent is not deployed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/backup": {
      "post": {
        "summary": "Take an off-pod snapshot right now.",
        "tags": [
          "Agents"
        ],
        "description": "Call before a risky change if you do not want to wait for the daily automatic backup.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backed up.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "backup"
                  ],
                  "properties": {
                    "backup": {
                      "type": "object",
                      "required": [
                        "file",
                        "size"
                      ],
                      "properties": {
                        "file": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Agent is not deployed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/backups": {
      "get": {
        "summary": "List server-side snapshots for this agent.",
        "tags": [
          "Agents"
        ],
        "description": "Call to see what is available to restore from; snapshots are kept 7 days, one taken daily.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "backups"
                  ],
                  "properties": {
                    "backups": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BackupEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Agent is not deployed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/memory": {
      "get": {
        "summary": "Inspect what a Hermes agent currently remembers.",
        "tags": [
          "Agents"
        ],
        "description": "Call read-only to see the pod's soul, installed skills, saved memories, and session count.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "memory"
                  ],
                  "properties": {
                    "memory": {
                      "$ref": "#/components/schemas/AgentMemory"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Agent is not deployed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "summary": "List this account's subscriptions across all agents.",
        "tags": [
          "Payment"
        ],
        "description": "Call to check payment status and currentPeriodEnd (\"paid till\") for every agent at once.",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "subscriptions"
                  ],
                  "properties": {
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscription"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/providers": {
      "get": {
        "summary": "List available (and coming-soon) payment providers.",
        "tags": [
          "Payment"
        ],
        "description": "Call before POST /agents/{id}/activate to find `providers[].buyUrls[tier]` (where to buy a licence) and its `note`.",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "providers",
                    "soon"
                  ],
                  "properties": {
                    "providers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentProvider"
                      }
                    },
                    "soon": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentProvider"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/activate": {
      "post": {
        "summary": "Activate a paid subscription for an agent with a license key.",
        "tags": [
          "Payment"
        ],
        "description": "Call after a human buys a plan on a provider (e.g. Gumroad) and receives a license key. Verifies the key and opens an active subscription, stopping the trial clock and resuming a paused pod.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "licenseKey"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "Defaults to the first configured provider."
                  },
                  "licenseKey": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "subscription"
                  ],
                  "properties": {
                    "subscription": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/crypto/info": {
      "get": {
        "summary": "Read crypto payment configuration and supported assets.",
        "tags": [
          "Payment"
        ],
        "description": "Call before POST /agents/{id}/crypto-order to confirm crypto payments are enabled and which assets are accepted. Status: beta testing — the order → confirmation → activation pattern is verified through card payments, the crypto path itself is still being tested.",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoInfo"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/crypto-order": {
      "post": {
        "summary": "Open a USDT/USDC deposit order for an agent's plan.",
        "tags": [
          "Payment"
        ],
        "description": "Call once to get a deposit address and the exact amount owed, then send the transfer. Create the order before sending anything: the address is shared per account and the order records the balance at that moment as its baseline — a transfer sent earlier pays for nothing. Status: beta testing — verified through card payments, the crypto path itself is still being tested.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asset"
                ],
                "properties": {
                  "asset": {
                    "type": "string",
                    "enum": [
                      "usdt",
                      "usdc"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order opened.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "order",
                    "address",
                    "amountDisplay",
                    "symbol"
                  ],
                  "properties": {
                    "order": {
                      "type": "object",
                      "required": [
                        "id",
                        "asset",
                        "amount",
                        "status"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "asset": {
                          "type": "string",
                          "enum": [
                            "usdt",
                            "usdc"
                          ]
                        },
                        "amount": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "paid",
                            "expired"
                          ]
                        }
                      }
                    },
                    "address": {
                      "type": "string",
                      "description": "The account's deposit address on Ethereum mainnet."
                    },
                    "amountDisplay": {
                      "type": "string",
                      "example": "4.99"
                    },
                    "symbol": {
                      "type": "string",
                      "example": "USDT"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/crypto-orders": {
      "get": {
        "summary": "List crypto orders opened for this agent.",
        "tags": [
          "Payment"
        ],
        "description": "Call to poll order status: `pending` → `paid`, usually within minutes of the on-chain transfer confirming. Status: beta testing — verified through card payments, the crypto path itself is still being tested.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "orders"
                  ],
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CryptoOrder"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/stars/info": {
      "get": {
        "summary": "Read Telegram Stars payment configuration.",
        "tags": [
          "Payment"
        ],
        "description": "Call before POST /agents/{id}/stars-order to confirm Stars payments are enabled and get the bot username and star-to-USD rate. Status: beta testing — the card is the proven way for now.",
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarsInfo"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/stars-order": {
      "post": {
        "summary": "Open a Telegram Stars payment order for an agent's plan.",
        "tags": [
          "Payment"
        ],
        "description": "Call to get a t.me deep link; opening it in Telegram sends a Stars invoice for the order's amount. Status: beta testing — the card is the proven way for now.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order opened.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "order",
                    "botLink"
                  ],
                  "properties": {
                    "order": {
                      "type": "object",
                      "required": [
                        "id",
                        "amountStars",
                        "status"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "amountStars": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "paid",
                            "expired"
                          ]
                        }
                      }
                    },
                    "botLink": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://t.me/SomeBot?start=pay_stx_…"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the body failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/stars-orders": {
      "get": {
        "summary": "List Telegram Stars orders opened for this agent.",
        "tags": [
          "Payment"
        ],
        "description": "Call to poll order status: `pending` → `paid`. Status: beta testing — the card is the proven way for now.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id (agt_…).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "orders"
                  ],
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StarsOrder"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "No such agent, key, or persona for this account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/domains/check": {
      "get": {
        "summary": "Check what a customer's own domain currently answers.",
        "tags": [
          "Agents"
        ],
        "description": "Call as the owner types their domain to confirm DNS points at the platform (and, once it does, that HTTPS works) before setting it as an agent's `domain`.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 253
            }
          },
          {
            "name": "https",
            "in": "query",
[...]
