{
  "openapi": "3.1.0",
  "info": {
    "title": "RealUptime API v1",
    "version": "1.0.0",
    "description": "Checks, status pages, incidents, outages, and RealUptime Errors. Generated from the same zod schemas the routes validate with and the packages/db/error-codes.ts registry -- see docs/api.md for worked examples and docs/business.md for who this is gated to.",
    "contact": {
      "url": "https://docs.realuptime.io/api"
    },
    "x-jentic-source-url": "https://realuptime.io/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://realuptime.io/api/v1"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getApiIndex",
        "summary": "Unauthenticated endpoint index",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "The static list of v1 endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "documentation": {
                      "type": "string"
                    },
                    "authentication": {
                      "type": "string"
                    },
                    "endpoints": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "method",
                          "path"
                        ],
                        "additionalProperties": {}
                      }
                    },
                    "mcp": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "documentation",
                    "authentication",
                    "endpoints",
                    "mcp"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/checks": {
      "get": {
        "operationId": "listChecks",
        "summary": "List every monitor on the account",
        "tags": [
          "Checks"
        ],
        "responses": {
          "200": {
            "description": "Every check, of any type.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "checks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "account_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "http",
                              "heartbeat",
                              "tcp",
                              "dns",
                              "multistep",
                              "smtp",
                              "ping",
                              "browser"
                            ]
                          },
                          "tcp_host": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "tcp_port": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "tcp_tls": {
                            "type": "boolean"
                          },
                          "interval_seconds": {
                            "type": "number"
                          },
                          "selected_regions": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "iad",
                                "sjc",
                                "fra",
                                "nrt",
                                "ord",
                                "yyz",
                                "lhr",
                                "sin",
                                "syd",
                                "gru"
                              ]
                            }
                          },
                          "assertion_body_op": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "contains",
                                  "not_contains"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "assertion_body_value": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "assertion_body_case_sensitive": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "assertion_header_name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "assertion_header_op": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "equals",
                                  "contains"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "assertion_header_value": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "assertion_status_min": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "assertion_status_max": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "assertion_json_path": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "assertion_json_op": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "equals",
                                  "contains",
                                  "exists"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "assertion_json_value": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "smtp_host": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "smtp_port": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "smtp_starttls": {
                            "type": "boolean"
                          },
                          "ping_host": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "paused_at": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "account_id",
                          "name",
                          "url",
                          "type",
                          "tcp_host",
                          "tcp_port",
                          "tcp_tls",
                          "interval_seconds",
                          "selected_regions"
                        ],
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "checks"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.\n\n- `RU-1001` Missing API credentials: https://realuptime.io/kb/errors/ru-1001\n- `RU-1002` Invalid or revoked API key: https://realuptime.io/kb/errors/ru-1002",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-1001",
                        "RU-1002"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "403": {
            "description": "This key is IP-restricted and the request came from outside its allowlist.\n\n- `RU-1007` API key is restricted to an IP allowlist: https://realuptime.io/kb/errors/ru-1007",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-1007"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "429": {
            "description": "Per-key rate limit exceeded, a Free account's per-account request budget exceeded, or too many failed authentication attempts.\n\n- `RU-2002` API read rate limit exceeded: https://realuptime.io/kb/errors/ru-2002\n- `RU-2001` Too many failed authentication attempts: https://realuptime.io/kb/errors/ru-2001",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-2002",
                        "RU-2001"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createCheck",
        "summary": "Create an http monitor",
        "tags": [
          "Checks"
        ],
        "responses": {
          "201": {
            "description": "The created check.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "check": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "account_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "url": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "http",
                            "heartbeat",
                            "tcp",
                            "dns",
                            "multistep",
                            "smtp",
                            "ping",
                            "browser"
                          ]
                        },
                        "tcp_host": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "tcp_port": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "tcp_tls": {
                          "type": "boolean"
                        },
                        "interval_seconds": {
                          "type": "number"
                        },
                        "selected_regions": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "iad",
                              "sjc",
                              "fra",
                              "nrt",
                              "ord",
                              "yyz",
                              "lhr",
                              "sin",
                              "syd",
                              "gru"
                            ]
                          }
                        },
                        "assertion_body_op": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "contains",
                                "not_contains"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_body_value": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_body_case_sensitive": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_header_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_header_op": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "equals",
                                "contains"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_header_value": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_status_min": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_status_max": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_json_path": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_json_op": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "equals",
                                "contains",
                                "exists"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_json_value": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "smtp_host": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "smtp_port": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "smtp_starttls": {
                          "type": "boolean"
                        },
                        "ping_host": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "paused_at": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "account_id",
                        "name",
                        "url",
                        "type",
                        "tcp_host",
                        "tcp_port",
                        "tcp_tls",
                        "interval_seconds",
                        "selected_regions"
                      ],
                      "additionalProperties": {}
                    },
                    "isFirstCheck": {
                      "type": "boolean"
                    },
                    "heartbeat": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "string",
                          "enum": [
                            "operational",
                            "down"
                          ]
                        },
                        "last_ping_at": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "grace_seconds": {
                          "type": "number"
                        },
                        "max_runtime_seconds": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "latched": {
                          "type": "boolean"
                        },
                        "latched_since": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "last_run": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "run_id": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "started_at": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "finished_at": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "outcome": {
                                  "type": "string",
                                  "enum": [
                                    "running",
                                    "success",
                                    "fail",
                                    "superseded"
                                  ]
                                },
                                "duration_ms": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "stuck": {
                                  "type": "boolean"
                                },
                                "exit_code": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "exit_detail": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "run_id",
                                "started_at",
                                "finished_at",
                                "outcome",
                                "duration_ms",
                                "stuck",
                                "exit_code",
                                "exit_detail"
                              ],
                              "additionalProperties": {}
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "state",
                        "last_ping_at",
                        "grace_seconds",
                        "max_runtime_seconds",
                        "latched",
                        "latched_since",
                        "last_run"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "check"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Invalid body, an unsafe target, an inconsistent assertion group, an interval below the account's plan floor, or a region outside the account's plan entitlement.\n\n- `RU-3001` Invalid check request: https://realuptime.io/kb/errors/ru-3001\n- `RU-3002` Monitor target refused: https://realuptime.io/kb/errors/ru-3002\n- `RU-3004` Invalid response assertions: https://realuptime.io/kb/errors/ru-3004\n- `RU-3006` Interval below plan floor: https://realuptime.io/kb/errors/ru-3006\n- `RU-3010` Latency threshold out of range: https://realuptime.io/kb/errors/ru-3010\n- `RU-3011` Region outside plan entitlement: https://realuptime.io/kb/errors/ru-3011",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-3001",
                        "RU-3002",
                        "RU-3004",
                        "RU-3006",
                        "RU-3010",
                        "RU-3011"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.\n\n- `RU-1001` Missing API credentials: https://realuptime.io/kb/errors/ru-1001\n- `RU-1002` Invalid or revoked API key: https://realuptime.io/kb/errors/ru-1002",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-1001",
                        "RU-1002"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "403": {
            "description": "The account's monitor allowance is exhausted for its plan. This key is read-only, or this key is IP-restricted and the request came from outside its allowlist.\n\n- `RU-2004` Plan monitor limit reached: https://realuptime.io/kb/errors/ru-2004\n- `RU-1004` API key is read-only: https://realuptime.io/kb/errors/ru-1004\n- `RU-1007` API key is restricted to an IP allowlist: https://realuptime.io/kb/errors/ru-1007",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-2004",
                        "RU-1004",
                        "RU-1007"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "429": {
            "description": "Per-key rate limit exceeded, a Free account's per-account request budget exceeded, or too many failed authentication attempts.\n\n- `RU-2003` API write rate limit exceeded: https://realuptime.io/kb/errors/ru-2003\n- `RU-2001` Too many failed authentication attempts: https://realuptime.io/kb/errors/ru-2001",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-2003",
                        "RU-2001"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "See docs/api.md \"POST /checks\" for the full field table.",
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "intervalSeconds": {
                    "type": "number",
                    "minimum": 1
                  },
                  "regions": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "iad",
                        "sjc",
                        "fra",
                        "nrt",
                        "ord",
                        "yyz",
                        "lhr",
                        "sin",
                        "syd",
                        "gru"
                      ]
                    }
                  },
                  "latencyThresholdMs": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "assertionBodyOp": {
                    "type": "string",
                    "enum": [
                      "contains",
                      "not_contains"
                    ]
                  },
                  "assertionBodyValue": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "assertionBodyCaseSensitive": {
                    "type": "boolean"
                  },
                  "assertionHeaderName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "assertionHeaderOp": {
                    "type": "string",
                    "enum": [
                      "equals",
                      "contains"
                    ]
                  },
                  "assertionHeaderValue": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "assertionStatusMin": {
                    "type": "integer",
                    "minimum": 100,
                    "maximum": 599
                  },
                  "assertionStatusMax": {
                    "type": "integer",
                    "minimum": 100,
                    "maximum": 599
                  },
                  "assertionJsonPath": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "assertionJsonOp": {
                    "type": "string",
                    "enum": [
                      "equals",
                      "contains",
                      "exists"
                    ]
                  },
                  "assertionJsonValue": {
                    "type": "string",
                    "maxLength": 200
                  }
                },
                "required": [
                  "name",
                  "url"
                ]
              }
            }
          }
        }
      }
    },
    "/checks/{id}": {
      "get": {
        "operationId": "getCheck",
        "summary": "One monitor's current status, aggregated across its selected regions",
        "tags": [
          "Checks"
        ],
        "responses": {
          "200": {
            "description": "The check, its aggregate status, and its per-region states.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "check": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "account_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "url": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "http",
                            "heartbeat",
                            "tcp",
                            "dns",
                            "multistep",
                            "smtp",
                            "ping",
                            "browser"
                          ]
                        },
                        "tcp_host": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "tcp_port": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "tcp_tls": {
                          "type": "boolean"
                        },
                        "interval_seconds": {
                          "type": "number"
                        },
                        "selected_regions": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "iad",
                              "sjc",
                              "fra",
                              "nrt",
                              "ord",
                              "yyz",
                              "lhr",
                              "sin",
                              "syd",
                              "gru"
                            ]
                          }
                        },
                        "assertion_body_op": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "contains",
                                "not_contains"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_body_value": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_body_case_sensitive": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_header_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_header_op": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "equals",
                                "contains"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_header_value": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_status_min": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_status_max": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_json_path": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_json_op": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "equals",
                                "contains",
                                "exists"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_json_value": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "smtp_host": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "smtp_port": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "smtp_starttls": {
                          "type": "boolean"
                        },
                        "ping_host": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "paused_at": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "account_id",
                        "name",
                        "url",
                        "type",
                        "tcp_host",
                        "tcp_port",
                        "tcp_tls",
                        "interval_seconds",
                        "selected_regions"
                      ],
                      "additionalProperties": {}
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "operational",
                        "degraded",
                        "down",
                        "stale",
                        "unknown"
                      ]
                    },
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "check_id": {
                            "type": "string"
                          },
                          "region": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "iad",
                                  "sjc",
                                  "fra",
                                  "nrt",
                                  "ord",
                                  "yyz",
                                  "lhr",
                                  "sin",
                                  "syd",
                                  "gru"
                                ]
                              },
                              {
                                "type": "string",
                                "pattern": "^agent:[0-9a-f]{1,64}$",
                                "description": "A private location's locus: agent: followed by the first eight hex characters of the agent id. Never a fleet region code."
                              }
                            ]
                          },
                          "current_state": {
                            "type": "string"
                          },
                          "consecutive_fail_count": {
                            "type": "number"
                          },
                          "consecutive_ok_count": {
                            "type": "number"
                          },
                          "last_changed_at": {
                            "type": "string"
                          },
                          "last_checked_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "check_id",
                          "region",
                          "current_state",
                          "consecutive_fail_count",
                          "consecutive_ok_count",
                          "last_changed_at",
                          "last_checked_at"
                        ],
                        "additionalProperties": {}
                      }
                    },
                    "steps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string",
                            "enum": [
                              "GET",
                              "POST",
                              "PUT",
                              "PATCH",
                              "DELETE",
                              "HEAD"
                            ]
                          },
                          "url": {
                            "type": "string"
                          },
                          "step_order": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "method",
                          "url",
                          "step_order"
                        ],
                        "additionalProperties": {}
                      }
                    },
                    "locus_mix": {
                      "type": "object",
                      "properties": {
                        "public_regions": {
                          "type": "number"
                        },
                        "private_locations": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "public_regions",
                        "private_locations"
                      ],
                      "additionalProperties": {}
                    },
                    "private_locations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "locus": {
                            "type": "string",
                            "pattern": "^agent:[0-9a-f]{1,64}$",
                            "description": "A private location's locus: agent: followed by the first eight hex characters of the agent id. Never a fleet region code."
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "locus",
                          "name"
                        ],
                        "additionalProperties": {}
                      }
                    },
                    "split_reason": {
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": [
                            "external_only",
                            "internal_only"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "auth": {
                      "type": "object",
                      "properties": {
                        "headers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "value"
                            ],
                            "additionalProperties": {}
                          }
                        },
                        "userinfo": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "headers",
                        "userinfo"
                      ],
                      "additionalProperties": {}
                    },
                    "heartbeat": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "string",
                          "enum": [
                            "operational",
                            "down"
                          ]
                        },
                        "last_ping_at": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "grace_seconds": {
                          "type": "number"
                        },
                        "max_runtime_seconds": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "latched": {
                          "type": "boolean"
                        },
                        "latched_since": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "last_run": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "run_id": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "started_at": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "finished_at": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "outcome": {
                                  "type": "string",
                                  "enum": [
                                    "running",
                                    "success",
                                    "fail",
                                    "superseded"
                                  ]
                                },
                                "duration_ms": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "stuck": {
                                  "type": "boolean"
                                },
                                "exit_code": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "exit_detail": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "run_id",
                                "started_at",
                                "finished_at",
                                "outcome",
                                "duration_ms",
                                "stuck",
                                "exit_code",
                                "exit_detail"
                              ],
                              "additionalProperties": {}
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "state",
                        "last_ping_at",
                        "grace_seconds",
                        "max_runtime_seconds",
                        "latched",
                        "latched_since",
                        "last_run"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "check",
                    "status",
                    "regions",
                    "locus_mix",
                    "split_reason"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.\n\n- `RU-1001` Missing API credentials: https://realuptime.io/kb/errors/ru-1001\n- `RU-1002` Invalid or revoked API key: https://realuptime.io/kb/errors/ru-1002",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-1001",
                        "RU-1002"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "403": {
            "description": "This key is IP-restricted and the request came from outside its allowlist.\n\n- `RU-1007` API key is restricted to an IP allowlist: https://realuptime.io/kb/errors/ru-1007",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-1007"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "404": {
            "description": "No such check on this account.\n\n- `RU-3003` Check not found: https://realuptime.io/kb/errors/ru-3003",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-3003"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "429": {
            "description": "Per-key rate limit exceeded, a Free account's per-account request budget exceeded, or too many failed authentication attempts.\n\n- `RU-2002` API read rate limit exceeded: https://realuptime.io/kb/errors/ru-2002\n- `RU-2001` Too many failed authentication attempts: https://realuptime.io/kb/errors/ru-2001",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-2002",
                        "RU-2001"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Check id (UUID).",
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ]
      },
      "patch": {
        "operationId": "updateCheck",
        "summary": "Update a check's name, url, interval, regions and/or a heartbeat's max runtime (sparse patch)",
        "tags": [
          "Checks"
        ],
        "responses": {
          "200": {
            "description": "The updated check.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "check": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "account_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "url": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "http",
                            "heartbeat",
                            "tcp",
                            "dns",
                            "multistep",
                            "smtp",
                            "ping",
                            "browser"
                          ]
                        },
                        "tcp_host": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "tcp_port": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "tcp_tls": {
                          "type": "boolean"
                        },
                        "interval_seconds": {
                          "type": "number"
                        },
                        "selected_regions": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "iad",
                              "sjc",
                              "fra",
                              "nrt",
                              "ord",
                              "yyz",
                              "lhr",
                              "sin",
                              "syd",
                              "gru"
                            ]
                          }
                        },
                        "assertion_body_op": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "contains",
                                "not_contains"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_body_value": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_body_case_sensitive": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_header_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_header_op": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "equals",
                                "contains"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_header_value": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_status_min": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_status_max": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_json_path": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_json_op": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "equals",
                                "contains",
                                "exists"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "assertion_json_value": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "smtp_host": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "smtp_port": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "smtp_starttls": {
                          "type": "boolean"
                        },
                        "ping_host": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "paused_at": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "account_id",
                        "name",
                        "url",
                        "type",
                        "tcp_host",
                        "tcp_port",
                        "tcp_tls",
                        "interval_seconds",
                        "selected_regions"
                      ],
                      "additionalProperties": {}
                    },
                    "isFirstCheck": {
                      "type": "boolean"
                    },
                    "heartbeat": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "string",
                          "enum": [
                            "operational",
                            "down"
                          ]
                        },
                        "last_ping_at": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "grace_seconds": {
                          "type": "number"
                        },
                        "max_runtime_seconds": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "latched": {
                          "type": "boolean"
                        },
                        "latched_since": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "last_run": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "run_id": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "started_at": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "finished_at": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "outcome": {
                                  "type": "string",
                                  "enum": [
                                    "running",
                                    "success",
                                    "fail",
                                    "superseded"
                                  ]
                                },
                                "duration_ms": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "stuck": {
                                  "type": "boolean"
                                },
                                "exit_code": {
                                  "anyOf": [
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "exit_detail": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "run_id",
                                "started_at",
                                "finished_at",
                                "outcome",
                                "duration_ms",
                                "stuck",
                                "exit_code",
                                "exit_detail"
                              ],
                              "additionalProperties": {}
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "state",
                        "last_ping_at",
                        "grace_seconds",
                        "max_runtime_seconds",
                        "latched",
                        "latched_since",
                        "last_run"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "check"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, no recognized field, an empty/duplicate/unknown region, a region outside the account's plan entitlement, an unsafe url, or an interval below the account's plan floor, or a latency threshold outside [1, 10000]ms, or maxRuntimeSeconds on a check that is not a heartbeat.\n\n- `RU-3001` Invalid check request: https://realuptime.io/kb/errors/ru-3001\n- `RU-3002` Monitor target refused: https://realuptime.io/kb/errors/ru-3002\n- `RU-3006` Interval below plan floor: https://realuptime.io/kb/errors/ru-3006\n- `RU-3010` Latency threshold out of range: https://realuptime.io/kb/errors/ru-3010\n- `RU-3011` Region outside plan entitlement: https://realuptime.io/kb/errors/ru-3011",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-3001",
                        "RU-3002",
                        "RU-3006",
                        "RU-3010",
                        "RU-3011"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.\n\n- `RU-1001` Missing API credentials: https://realuptime.io/kb/errors/ru-1001\n- `RU-1002` Invalid or revoked API key: https://realuptime.io/kb/errors/ru-1002",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-1001",
                        "RU-1002"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "403": {
            "description": "This key is read-only, or this key is IP-restricted and the request came from outside its allowlist.\n\n- `RU-1004` API key is read-only: https://realuptime.io/kb/errors/ru-1004\n- `RU-1007` API key is restricted to an IP allowlist: https://realuptime.io/kb/errors/ru-1007",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-1004",
                        "RU-1007"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "404": {
            "description": "No such check on this account (or name/url/interval on a non-http check).\n\n- `RU-3003` Check not found: https://realuptime.io/kb/errors/ru-3003",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-3003"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "429": {
            "description": "Per-key rate limit exceeded, a Free account's per-account request budget exceeded, or too many failed authentication attempts.\n\n- `RU-2003` API write rate limit exceeded: https://realuptime.io/kb/errors/ru-2003\n- `RU-2001` Too many failed authentication attempts: https://realuptime.io/kb/errors/ru-2001",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-2003",
                        "RU-2001"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "See docs/api.md \"PATCH /checks/:id\" for the full field table.",
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1
                  },
                  "intervalSeconds": {
                    "type": "number",
                    "minimum": 1
                  },
                  "regions": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "iad",
                        "sjc",
                        "fra",
                        "nrt",
                        "ord",
                        "yyz",
                        "lhr",
                        "sin",
                        "syd",
                        "gru"
                      ]
                    }
                  },
                  "latencyThresholdMs": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "maxRuntimeSeconds": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 86400
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCheck",
        "summary": "Remove a monitor and its history",
        "tags": [
          "Checks"
        ],
        "responses": {
          "204": {
            "description": "Deleted. No body."
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.\n\n- `RU-1001` Missing API credentials: https://realuptime.io/kb/errors/ru-1001\n- `RU-1002` Invalid or revoked API key: https://realuptime.io/kb/errors/ru-1002",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-1001",
                        "RU-1002"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "403": {
            "description": "This key is read-only, or this key is IP-restricted and the request came from outside its allowlist.\n\n- `RU-1004` API key is read-only: https://realuptime.io/kb/errors/ru-1004\n- `RU-1007` API key is restricted to an IP allowlist: https://realuptime.io/kb/errors/ru-1007",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "RU-1004",
                        "RU-1007"
                      ]
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ],
                  "additionalProperties": {}
[...]
