{
  "openapi": "3.1.0",
  "info": {
    "title": "LVL Up Auto Headless API",
    "version": "1.0.0",
    "description": "Token-authenticated (PAT) headless API for a dealership's vendor stack: canonical vendor search, stack management, competitor declarations, domain scans, performance reporting, and k>=5-floored peer benchmarks. All requests are scoped to the token's single rooftop. Note: the token-management endpoints under /api/v1/tokens* (create/list/revoke/update keys and read their activity) are SESSION-authed (browser cookie, owner-only) — NOT PAT-authed — so they are intentionally omitted from this PAT spec; they return the same structured { error: { code, message } } envelope as the operations below.",
    "x-jentic-source-url": "https://lvlupauto.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://lvlupauto.com"
    }
  ],
  "paths": {
    "/api/v1/vendors": {
      "get": {
        "operationId": "searchVendors",
        "summary": "Search the vendor catalog",
        "description": "Canonical vendor search — the resolution chokepoint. Call this FIRST to turn a vendor name/domain into a catalog vendor_id before any stack write. Answers 'who makes X?', 'find me a CRM vendor', 'what vendor is on this domain?'. An empty result is normal. AI filters (ai_capability, min_autonomy) narrow by what the software's AI concretely does and how much it does without a person. Both rest on MODEL-DETECTED, NOT-YET-VERIFIED capability data covering only the vendors we have mapped in detail — an absent vendor means unmapped, not AI-free. min_autonomy 3-4 returns empty by design: those levels assert unsupervised operation, which capability data cannot establish.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Name/keyword query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter by category",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Filter by website domain",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size (max 50)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque keyset cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ai_capability",
            "in": "query",
            "required": false,
            "description": "Filter to vendors with a named AI capability in this domain. Model-detected, not verified.",
            "schema": {
              "type": "string",
              "enum": [
                "conversation",
                "content-generation",
                "prediction-scoring",
                "document-intelligence",
                "personalization-targeting",
                "workflow-agents",
                "analytics-insights",
                "vision-inspection"
              ]
            }
          },
          {
            "name": "min_autonomy",
            "in": "query",
            "required": false,
            "description": "Minimum AI autonomy level (0-4): 0 none, 1 assistive, 2 supervised action, 3 delegated, 4 autonomous. Values above 2 return empty — those levels require verification we have not done, and we will not infer them from a capability name.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 4
            }
          }
        ]
      }
    },
    "/api/v1/vendors/resolve": {
      "post": {
        "operationId": "resolveVendors",
        "summary": "Batch-resolve messy vendor names to catalog ids",
        "description": "Batch-resolve a pasted/messy vendor list (e.g. an AP-export column) to catalog vendor_ids in one call. A READ (it never mutates state — hence NOT consequential) that takes an array body. Per submitted name returns { submitted, status, confidence, resolved_vendor_id?, resolved_name?, candidates? } where status is 'resolved' (high-confidence — use the id directly), 'ambiguous' (several close matches — show the dealer the candidates), or 'unresolved' (no confident match — do NOT invent a vendor). Resolve the whole list, THEN POST /stack/vendors per resolved row with its vendor_id + monthly_cost. Conservative on purpose: a wrong auto-match is worse than unresolved, and the no-free-text moat holds on the write side regardless.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "names": [
                  "VinSol",
                  "CDK Global, Inc.",
                  "vAuto",
                  "Bob's Random Software"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/vendors/{vendor_id}": {
      "get": {
        "operationId": "getVendorById",
        "summary": "Get one canonical vendor + its metric schema",
        "description": "Fetch a single Active catalog vendor and its 042 metric schema (the metrics it can be benchmarked/reported on). 404 if absent or not Active (never leaks existence).",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "required": true,
            "description": "Catalog vendor UUID",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/stack": {
      "get": {
        "operationId": "getStack",
        "summary": "List the dealer's vendor stack",
        "description": "The dealer's current vendor stack (tenant-scoped) with cost/contract columns and a server-computed renewal_window per vendor.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        }
      },
      "post": {
        "operationId": "ensureStack",
        "summary": "Ensure the dealer's stack exists",
        "description": "Idempotently create the dealer's single stack container if it does not exist.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {}
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/api/v1/stack/vendors": {
      "post": {
        "operationId": "addStackVendor",
        "summary": "Add a vendor to the stack",
        "description": "Add a catalog vendor to the dealer's stack. vendor_id MUST be a catalog id (search first); an unknown vendor returns 409 unresolved_vendor with a proposed candidate, never free-text.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "vendor_id": "00000000-0000-0000-0000-000000000000",
                "category": "crm",
                "monthly_cost": 1400,
                "contract_end": "2026-12-31",
                "auto_renews": true,
                "notice_period_days": 30
              }
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/api/v1/stack/vendors/{id}": {
      "patch": {
        "operationId": "updateStackVendor",
        "summary": "Update an owned stack vendor",
        "description": "Update an owned stack vendor (allow-list: monthly_cost, contract_start, contract_end, auto_renews, notice_period_days, notes, status). Cross-tenant ids return 404.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stack-vendor UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "monthly_cost": 1500,
                "auto_renews": false
              }
            }
          }
        },
        "x-openai-isConsequential": true
      },
      "delete": {
        "operationId": "removeStackVendor",
        "summary": "Remove a vendor from the stack",
        "description": "Soft-archive an owned stack vendor (never a hard delete). Cross-tenant ids return 404.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stack-vendor UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-openai-isConsequential": true
      }
    },
    "/api/v1/competitors": {
      "get": {
        "operationId": "getCompetitors",
        "summary": "List declared competitor rooftops",
        "description": "The dealer's declared competitor rooftops (the 'peers my size' cohort axis). Name + optional domain only — never any contact/PII.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        }
      },
      "post": {
        "operationId": "addCompetitor",
        "summary": "Declare a competitor rooftop",
        "description": "Declare a competitor rooftop (name + optional domain). Stores no contact/PII.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "Rival Auto Group",
                "domain": "rivalauto.com"
              }
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/api/v1/scan": {
      "post": {
        "operationId": "runScan",
        "summary": "Run a domain technology scan",
        "description": "Run (or cache-serve) a technology scan of a domain to detect its vendor stack. Cached results within 30 days are free; otherwise billable against the monthly cap (self scans exempt, verified server-side).",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "domain": "exampledealer.com"
              }
            }
          }
        },
        "x-openai-isConsequential": true
      }
    },
    "/api/v1/scan/{scan_id}": {
      "get": {
        "operationId": "getScanById",
        "summary": "Poll a scan by id",
        "description": "Poll a previously-started scan by id (tenant-scoped). 404 on a foreign or unknown id.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "description": "Scan/detection UUID",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/benchmarks": {
      "get": {
        "operationId": "getBenchmarks",
        "summary": "Read floored peer benchmarks",
        "description": "Floored peer benchmarks (median + IQR) for the dealer's stack metrics. Answers the moat questions: 'how do I compare to peers my size?', 'am I above or below median on this metric?', 'what's my percentile?'. Every cohort figure is k>=5-anonymized; thin cohorts return cohort_suppressed=true with only your_value.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "parameters": [
          {
            "name": "vendor_id",
            "in": "query",
            "required": false,
            "description": "Restrict to one vendor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric_key",
            "in": "query",
            "required": false,
            "description": "Restrict to one metric",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cohort",
            "in": "query",
            "required": false,
            "description": "Cohort axis",
            "schema": {
              "type": "string",
              "enum": [
                "size",
                "state",
                "national"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Reporting period",
            "schema": {
              "type": "string",
              "enum": [
                "monthly",
                "rolling-90d"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/renewals": {
      "get": {
        "operationId": "getRenewals",
        "summary": "List upcoming contract renewals + notice deadlines",
        "description": "The dealer's stack vendors with an upcoming contract renewal, each with the server-computed notice deadline (contract_end minus notice_period_days) and days remaining. Answers the moat question 'what auto-renews in N days and when is the notice deadline?'. Pass within_days to narrow to vendors whose notice deadline falls within that window. Own-stack read — no cohort.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "parameters": [
          {
            "name": "within_days",
            "in": "query",
            "required": false,
            "description": "Only return vendors whose notice deadline is within this many days",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v1/alternatives": {
      "get": {
        "operationId": "getAlternatives",
        "summary": "Find better-fit, same-category vendor alternatives",
        "description": "Same-category catalog vendors the dealer is NOT already on, each optionally annotated with a peer benchmark for metric_key. Answers the moat question 'what could I switch to and how do peers do on it?'. Resolve the category by vendor_id (its catalog category) or an explicit category. EVERY cohort figure is k>=5-anonymized (thin cohorts return cohort_suppressed); cohort peers only — never any contact/PII.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "parameters": [
          {
            "name": "vendor_id",
            "in": "query",
            "required": false,
            "description": "Resolve the category from this vendor (the one being replaced)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Explicit category to search within",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metric_key",
            "in": "query",
            "required": false,
            "description": "Annotate each alternative with this metric's floored cohort benchmark",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/performance/contract": {
      "get": {
        "operationId": "getPerformanceContract",
        "summary": "Get the reportable performance contract",
        "description": "The exact metrics the dealer's CURRENT stack may report — derived from the stack vendors' 042 metric schema. Read this before report_metric so reports are on-contract.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        }
      }
    },
    "/api/v1/performance": {
      "post": {
        "operationId": "reportPerformance",
        "summary": "Report performance values",
        "description": "Report performance values for stack vendors (partial-success batch). Off-contract / not-in-stack / period-mismatch rows are rejected individually; the batch still succeeds for valid rows.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "reports": [
                  {
                    "vendor_id": "00000000-0000-0000-0000-000000000000",
                    "metric_key": "avg_response_time_min",
                    "value": 4.2,
                    "period": "monthly",
                    "period_start": "2026-06-01"
                  }
                ]
              }
            }
          }
        },
        "x-openai-isConsequential": true
      },
      "get": {
        "operationId": "getOwnPerformance",
        "summary": "Read back the dealer's reported values",
        "description": "Read back the dealer's OWN reported performance values (un-floored self-read — distinct from /benchmarks, which is the k>=5 floored cohort read).",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized — invalid or missing token"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "422": {
            "description": "Validation error"
          },
          "429": {
            "description": "Rate limited or cap exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}