{
  "openapi": "3.1.0",
  "info": {
    "title": "BestAppify API",
    "version": "1.0.0",
    "description": "Shopify App Store intelligence for app developers: keyword rankings, competitors,\nreview analysis, listing analytics and revenue — for your own apps and for the market.\n\nAuthenticate with an API key from https://bestappify.app/dashboard/api as\n`Authorization: Bearer ba_live_…`.\n\nRate limits: 120 requests per minute; daily allowance by plan — 100 on Free, 1,000 on Growth, 10,000 on Pro. Counted per account across all keys.\n\nError codes: missing_api_key (401), invalid_api_key (401), rate_limited (429), daily_limit_reached (429), app_not_found (404), keyword_not_tracked (404), keyword_not_found (404), category_not_found (404), missing_query (400), app_not_in_catalog (409), service_unavailable (503), internal_error (500), upgrade_required (402), review_limit_reached (429), nothing_to_review (400), invalid_body (400).",
    "x-jentic-source-url": "https://bestappify.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://bestappify.app"
    }
  ],
  "paths": {
    "/api/v1/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Your account, apps and rate limits",
        "description": "Confirms the key works and returns the app references every other endpoint accepts, plus how much of your rate limit you have used.",
        "operationId": "me",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/affiliate/programs": {
      "get": {
        "tags": [
          "Affiliate program"
        ],
        "summary": "The affiliate programmes you run",
        "description": "Every programme on your account with its payout terms and 30 days of analytics — link views, conversions, revenue and commission per affiliate. Empty when you run none.",
        "operationId": "affiliate_programs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/affiliate/programs/{program}/conversions": {
      "get": {
        "tags": [
          "Affiliate program"
        ],
        "summary": "One programme's conversion ledger",
        "description": "Every referred install and sale credited on a programme, each row carrying the commission rate frozen at the moment it was recorded — so a figure can be audited rather than trusted.",
        "operationId": "affiliate_programs_program_conversions",
        "parameters": [
          {
            "name": "program",
            "in": "path",
            "required": true,
            "description": "The program_id from /api/v1/affiliate/programs.",
            "schema": {
              "type": "integer"
            },
            "example": "31"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/affiliate/earnings": {
      "get": {
        "tags": [
          "Affiliate program"
        ],
        "summary": "What you have earned promoting apps",
        "description": "Your side of the marketplace: totals and daily series, the individual referrals behind them, and your payout balance per programme. Scoped to your own account.",
        "operationId": "affiliate_earnings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "List your tracked apps",
        "description": "Every app on your account. The `app` field is the handle used in the paths below; `tracked_app_id` and `app_id` are returned for callers that prefer ids.",
        "operationId": "apps",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/keywords": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "Keyword rankings",
        "description": "Your tracked keywords for one app with today's position, the week-over-week change, and the difficulty, competition and demand indices. `position` is the live standing and is null when the app did not appear in the latest crawl. `last_known_position` and `change` come from the rank history keyed to your app in our catalog; `is_current: false` means that history is a little behind the newest crawl, not that the app stopped ranking.",
        "operationId": "apps_app_keywords",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Set to csv for a CSV download.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle, listing URL, tracked_app_id or app_id.",
            "schema": {
              "type": "string"
            },
            "example": "fast-bundle"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/keywords/{keyword}": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "One keyword, with full rank history",
        "description": "Daily rank history for a single tracked keyword, oldest first, plus its current standing. `{keyword}` is the term (URL-encoded) or its keyword_id.",
        "operationId": "apps_app_keywords_keyword",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle or id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "path",
            "required": true,
            "description": "Keyword term, URL-encoded, or its keyword_id.",
            "schema": {
              "type": "string"
            },
            "example": "product%20bundles"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/opportunities": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "Keyword opportunities",
        "description": "Keywords one of your tracked competitors ranks for and this app does not, with the competitor's position.",
        "operationId": "apps_app_opportunities",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle or id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/competitors": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "Competitors and keyword overlap",
        "description": "Your tracked competitor set with current rank and rank change, plus the keyword overlap matrix showing where each of you places.",
        "operationId": "apps_app_competitors",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Set to csv for a CSV download.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle or id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Set to `timeline` to also return the daily rank timeline for every app.",
            "schema": {
              "type": "string"
            },
            "example": "timeline"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/reviews": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "Review intelligence",
        "description": "Rating distribution, monthly review trend, countries, the AI theme analysis (what merchants love, complain about and ask for) and a comparison against your tracked competitors.",
        "operationId": "apps_app_reviews",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Set to csv for a CSV download.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle or id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recent",
            "in": "query",
            "required": false,
            "description": "How many individual recent reviews to include. Default 10, max 50.",
            "schema": {
              "type": "integer"
            },
            "example": "25"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/analytics": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "Listing analytics",
        "description": "Listing views, install clicks, installs, click-through and conversion from the Google Analytics property linked to the app, daily and totalled. Returns `connected: false` when no property is linked.",
        "operationId": "apps_app_analytics",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle or id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Window in days. Default 90, max 365.",
            "schema": {
              "type": "integer"
            },
            "example": "30"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/search": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "Real merchant searches and the positions they saw",
        "description": "The search terms merchants actually typed to reach your listing, the position they actually saw (with Shopify's sponsored slots removed so it matches organic rank), plus device, country, locale and Install clicks per term. Read from the Google Analytics property linked to the app. This is the merchant's own answer, not our crawler's — `/keywords` is the crawler, works for any app including competitors, and needs no setup. Add `?format=csv` for a spreadsheet. Returns `connected: false` when no property is linked.",
        "operationId": "apps_app_search",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle or id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Window in days. Default 30, max 365.",
            "schema": {
              "type": "integer"
            },
            "example": "30"
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "description": "Filter to one device: desktop, mobile or tablet.",
            "schema": {
              "type": "string"
            },
            "example": "mobile"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter to one ISO country code.",
            "schema": {
              "type": "string"
            },
            "example": "US"
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "description": "Filter to organic, paid, ai or other.",
            "schema": {
              "type": "string"
            },
            "example": "organic"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Set to `csv` for a CSV download.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/search/opportunities": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "Keyword headroom, weighted by how beatable the field is",
        "description": "Ranks the terms already sending you traffic by how much more they could send. Estimates the demand behind your current views, asks what position 3 would have yielded, then discounts it by how strong the apps ranked above you are according to our own weekly crawl — `winnability`, `apps_above` and `median_reviews_above` are that discount, and no GA4-only tool can compute them. Scores are relative within one app's keywords, never across apps. Add `?format=csv` for a spreadsheet.",
        "operationId": "apps_app_search_opportunities",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle or id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Window in days. Default 90, max 365.",
            "schema": {
              "type": "integer"
            },
            "example": "90"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows to return. Default 50, max 200.",
            "schema": {
              "type": "integer"
            },
            "example": "20"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Set to `csv` for a CSV download.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/search/weekly": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "Week-over-week search traffic, including what stopped",
        "description": "The same comparison as the Tuesday email, as data: views and Install clicks this week against last, per traffic source and per keyword, with `gained`, `lost`, `new` and — the one most worth automating against — `stopped`, the terms that drove traffic last week and none this week. The window is fixed at two seven-day periods ending three days ago because Google keeps revising recent days; `window` gives the exact dates.",
        "operationId": "apps_app_search_weekly",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle or id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/installs/shops": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "Which store installed, and how it found you",
        "description": "Installs resolved to the store that made them: shop domain, shop id, date, device, country, and the search term most likely behind it (labelled as the inference it is — Shopify's install event is server-side and carries no page). Pass `shop_url` up to 50 times, or once comma-separated, to check specific stores; `not_found` lists the ones we have no install for. Needs `shop_url` registered as a GA4 custom dimension — when it isn't, the response says so in `note` rather than returning an empty list that looks like zero installs.",
        "operationId": "apps_app_installs_shops",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle or id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shop_url",
            "in": "query",
            "required": false,
            "description": "Shop domain to look up. Repeatable, or comma-separated. Up to 50. Omit for every store.",
            "schema": {
              "type": "string"
            },
            "example": "acme.myshopify.com"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Window in days. Default 365, max 365.",
            "schema": {
              "type": "integer"
            },
            "example": "90"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Stores to return. Default 200, max 1000.",
            "schema": {
              "type": "integer"
            },
            "example": "100"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Set to `csv` for a CSV download.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/revenue": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "Revenue and churn",
        "description": "Monthly MRR, churn rate, trials, installs, uninstalls and net revenue from the Shopify Partner API. MRR and churn are derived from the subscription charge lifecycle — the Partner API publishes neither directly. Returns `connected: false` when the app is not linked to a Partner app.",
        "operationId": "apps_app_revenue",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle or id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "months",
            "in": "query",
            "required": false,
            "description": "Months of history. Default 12, max 36.",
            "schema": {
              "type": "integer"
            },
            "example": "24"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/intelligence": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "App intelligence",
        "description": "Rank trajectory over time, position in each category, nearest competitors by category rank, and how the app's entry price compares with its peers.",
        "operationId": "apps_app_intelligence",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle or id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/forum/mentions": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "Shopify Community threads that mention your apps",
        "description": "Forum posts matching your apps' names or the keywords you track — most usefully, merchants asking for an app like yours. `is_strong` marks the ones we would email you about (your app named, or the term in a thread title or opening post) as opposed to a term appearing in a mid-thread reply; both are returned so you can apply your own bar. Add ?format=csv for a spreadsheet.",
        "operationId": "forum_mentions",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "active (default, hides dismissed), unread, dismissed, or all.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "1–100, default 50.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Rows to skip, for paging.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Set to csv for a CSV download.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/changes": {
      "get": {
        "tags": [
          "Your apps"
        ],
        "summary": "What changed on your listings — and your competitors'",
        "description": "Dated App Store listing changes for your apps and the rivals you track: taglines, descriptions, icons, screenshots, integrations, and listings leaving the store. `is_mine` separates yours from theirs. Covers competitors because it reads our own catalog crawl rather than your analytics — so these are events you can line up against your rank history. Only includes changes since we began recording. Add ?format=csv for a spreadsheet.",
        "operationId": "apps_changes",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Look-back window, 1–365 (default 30).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows to return, 1–300 (default 100).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Set to csv for a CSV download.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/market/apps": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "Search the App Store catalog",
        "description": "Search every app we hold by name — not only your own. This is how you find a competitor's handle before looking it up.",
        "operationId": "market_apps",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search term matched against the app name.",
            "schema": {
              "type": "string"
            },
            "example": "bundle"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results to return. Default 20, max 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/market/apps/{app}": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "One catalog app",
        "description": "Any app in our catalog by handle, listing URL or id: rating, review count, description, categories, pricing plans and listing status.",
        "operationId": "market_apps_app",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "App handle, listing URL or id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Set to `intelligence` to add rank trajectory and the pricing benchmark.",
            "schema": {
              "type": "string"
            },
            "example": "intelligence"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/market/leaderboard": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "Top apps by review volume",
        "description": "The App Store leaderboard, overall or for one category. Ranked by review count, because Shopify publishes no install numbers.",
        "operationId": "market_leaderboard",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Set to csv for a CSV download.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category id or exact title. Omit for the overall board.",
            "schema": {
              "type": "string"
            },
            "example": "Product bundles"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Apps to return. Default 25, max 100.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/market/movers": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "Week-over-week rank movement",
        "description": "Which apps climbed and which fell over the last week, from our daily rank snapshots. `change` is positive for a climb; `rank_a_week_ago: null` marks an app new to the ranking.",
        "operationId": "market_movers",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category id or exact title.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Apps to return. Default 25, max 100.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/market/keywords": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "The keyword directory",
        "description": "Every keyword merchants search on the App Store, harvested from the store's own autocomplete, with how many apps rank for it, who leads, and the difficulty, competition and demand indices. `demand` and `difficulty` are relative 0-100 indices built from the review volume of each term's top 10 — not search volume, which Shopify publishes nowhere. Add `format=csv` for a spreadsheet.",
        "operationId": "market_keywords",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Filter to keywords containing this text.",
            "schema": {
              "type": "string"
            },
            "example": "bundle"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "`demand` (default), `difficulty` (easiest first), `apps` or `newest`.",
            "schema": {
              "type": "string"
            },
            "example": "difficulty"
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Brand keywords — searches for a named app — are excluded by default. `only` returns just those, `include` returns both.",
            "schema": {
              "type": "string"
            },
            "example": "include"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Keywords to return. Default 50, max 200 (1,000 for CSV).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Rows to skip, for paging. `meta.total` is the full count.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Set to `csv` to download instead of returning JSON.",
            "schema": {
              "type": "string"
            },
            "example": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/market/keywords/{keyword}": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "Who ranks for one keyword",
        "description": "Every app ranking for one App Store search, in order, with its rating, review count, entry price, category and the position it held a week earlier. Works for any keyword in the directory, not only ones you track.",
        "operationId": "market_keywords_keyword",
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "required": true,
            "description": "The keyword, URL-encoded, or its slug. Both `product bundles` and `product-bundles` resolve.",
            "schema": {
              "type": "string"
            },
            "example": "product-bundles"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Set to `csv` to download the ranked apps instead of returning JSON.",
            "schema": {
              "type": "string"
            },
            "example": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/market/niches": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "Category growth and concentration",
        "description": "Every category with its app count, growth and the leader's share of reviews — for judging whether a niche is crowded or open.",
        "operationId": "market_niches",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Categories to return. Default 30, max 100.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/market/categories": {
      "get": {
        "tags": [
          "Market data"
        ],
        "summary": "List categories",
        "description": "The App Store categories we hold at least five apps for, with counts. These ids and titles are what `?category=` accepts.",
        "operationId": "market_categories",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/market/rank-drivers": {
      "get": {
        "tags": [
          "Listing reviewer"
        ],
        "summary": "What listing edits actually do to rank",
        "description": "Across every app we crawl, what each kind of listing edit measurably did to search rank: how many edits of that kind were measured, the median places moved, and how the outcomes split between better, worse and no change. Correlational with small samples — read `coverage` and each field's `changes_measured` before quoting a figure, and carry the `caveat` into whatever you write.",
        "operationId": "market_rank_drivers",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Look-back window. Default 120, range 7-365.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category id or exact title to restrict to. Omit for the whole App Store.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/market/keywords/{keyword}/rank-causes": {
      "get": {
        "tags": [
          "Listing reviewer"
        ],
        "summary": "Who moved on this term, and what they had just changed",
        "description": "Every app we saw move at least N places on one search term in the window, with the listing edits we logged for it shortly before the move. An empty `listing_changes_before` means we logged no edit, not that nothing happened.",
        "operationId": "market_keywords_keyword_rank_causes",
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "required": true,
            "description": "The term (URL-encoded) or its slug.",
            "schema": {
              "type": "string"
            },
            "example": "product-bundles"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Look-back window. Default 60, range 7-365.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_places",
            "in": "query",
            "required": false,
            "description": "Smallest move worth reporting. Default 3, range 1-40.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Moves to return. Default 15, max 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/market/apps/{app}/change-impact": {
      "get": {
        "tags": [
          "Listing reviewer"
        ],
        "summary": "One app's edits and what each one did",
        "description": "Any catalog app's logged listing edits, each with the rank effect measured on the keywords it ranked for either side of the edit. Works for apps you do not own, which is how you read a competitor's playbook. `keywords_entered`/`keywords_exited` are null when `crawl_coverage_comparable` is false — our crawl volume differed too much either side for those counts to mean anything.",
        "operationId": "market_apps_app_change_impact",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "Any catalog app's handle or id.",
            "schema": {
              "type": "string"
            },
            "example": "fast-bundle"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Look-back window. Default 120, range 7-365.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Edits to return. Default 20, max 50.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/listing/review": {
      "post": {
        "tags": [
          "Listing reviewer"
        ],
        "summary": "Senior review of a listing change you are about to make",
        "description": "Send the change you intend to ship — new name, tagline or description, the terms it targets, and your reasoning — and get back deterministic checks plus a prioritised critique. `checks` is computed from the database and is authoritative; `review` is judgement over the same evidence. Paid plans only, capped per account per day; an identical body is served from cache and does not count against the cap.",
        "operationId": "apps_app_listing_review",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "One of your tracked apps.",
            "schema": {
              "type": "string"
            },
            "example": "fast-bundle"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "proposed_name": {
                    "type": "string",
                    "description": "The new app name. Shopify's limit is 30 characters."
                  },
                  "proposed_tagline": {
                    "type": "string",
                    "description": "The new tagline. Shopify's limit is 62 characters."
                  },
                  "proposed_description": {
                    "type": "string",
                    "description": "The new description, or its opening."
                  },
                  "target_keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The terms this change is meant to win. Up to 6 are checked in depth."
                  },
                  "plan": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Other actions you intend to take, one per item."
                  },
                  "rationale": {
                    "type": "string",
                    "description": "Your own reasoning. The review attacks the reasoning too, which is where most of the value is."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/screenshots/headlines": {
      "get": {
        "tags": [
          "Listing reviewer"
        ],
        "summary": "What rivals write ON their screenshots",
        "description": "The marketing copy painted on the listing screenshots — yours, the apps ranked above you on your category boards, and the most-reviewed apps in the App Store — transcribed off the images by a vision model, with the layout each uses. The alt-text caption is in the listing HTML anyone can fetch; the headline is not, and it is the one a merchant scrolling the gallery actually reads. Free on every plan: it returns transcriptions that already exist and never calls a model.",
        "operationId": "get_apps_app_screenshots_headlines",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "One of your tracked apps.",
            "schema": {
              "type": "string"
            },
            "example": "fast-bundle"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "`category` for the apps above you, `store` for the biggest apps in the App Store, `all` for both (default).",
            "schema": {
              "type": "string"
            },
            "example": "category"
          },
          {
            "name": "max_slots",
            "in": "query",
            "required": false,
            "description": "Screenshots per rival, from slot 1 forward. Default 6, max 20.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "Listing reviewer"
        ],
        "summary": "Rewrite your screenshot headlines to the leaders' pattern",
        "description": "Names the headline formula the leading apps share — counted from their transcribed headlines, every example quoted verbatim — says whether your gallery follows it, and rewrites the slots that don't in your own voice. Paid plans only and capped per day on the same budget as the listing reviewer; an uncached run transcribes unread rival galleries and writes a review, so expect up to ninety seconds. If your client times out waiting, retry — the review is written before the response is sent, so the retry is a cache hit. Without `refresh` a cached review is served in under a second and does not count against the cap.",
        "operationId": "post_apps_app_screenshots_headlines",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "One of your tracked apps.",
            "schema": {
              "type": "string"
            },
            "example": "fast-bundle"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brand_notes": {
                    "type": "string",
                    "description": "The voice to keep — tone, words that must appear, words to avoid. Overrides the voice inferred from your listing."
                  },
                  "refresh": {
                    "type": "string",
                    "description": "Send `true` to recompute instead of serving the cached review, and to transcribe the next batch of unread rival galleries."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/listing/history": {
      "get": {
        "tags": [
          "Listing reviewer"
        ],
        "summary": "What we told you before, and whether it worked",
        "description": "Every review and proposal we have given for this app, each matched to the listing changes that landed afterwards, whether the live copy matches ours or your draft or neither, which flagged checks the live copy still fails, and the rank effect measured either side. Free on every plan — reading your own history spends no completion. Call it before starting a listing cycle; the review endpoint reads it too and will flag a repeat of advice that was ignored.",
        "operationId": "apps_app_listing_history",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "One of your tracked apps.",
            "schema": {
              "type": "string"
            },
            "example": "fast-bundle"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Reviews to return, newest first. Default 10, max 30.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/v1/apps/{app}/listing/proposal": {
      "post": {
        "tags": [
          "Listing reviewer"
        ],
        "summary": "Have us write the listing rewrite",
        "description": "Picks the terms worth going after from this app's rank data and its gaps against competitors, writes a name, tagline and description opening around them, states what the measured history suggests, and names the risks. The output is run back through the reviewer's own checks, so a failing check is authoritative over the copy. Paid plans only, same daily cap as the review endpoint.",
        "operationId": "apps_app_listing_proposal",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "description": "One of your tracked apps.",
            "schema": {
              "type": "string"
            },
            "example": "fast-bundle"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "focus_keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Terms to go after. Omit to let the data choose them."
                  },
                  "tone": {
                    "type": "string",
                    "description": "How the copy should read, e.g. 'plain and technical'."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Anything the copy must or must not say."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "The payload for this endpoint."
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key created in the BestAppify dashboard."
      }
    },
    "responses": {
      "Error": {
        "description": "Failure",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "missing_api_key",
                        "invalid_api_key",
                        "rate_limited",
                        "daily_limit_reached",
                        "app_not_found",
                        "keyword_not_tracked",
                        "keyword_not_found",
                        "category_not_found",
                        "missing_query",
                        "app_not_in_catalog",
                        "service_unavailable",
                        "internal_error",
                        "upgrade_required",
                        "review_limit_reached",
                        "nothing_to_review",
                        "invalid_body"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "The key and the account behind it."
    },
    {
      "name": "Your apps",
      "description": "Data about apps on your account."
    },
    {
      "name": "Market data",
      "description": "The whole App Store catalog."
    },
    {
      "name": "Listing reviewer",
      "description": "Judgement rather than data: what listing edits measurably do to rank, and a senior review of a change before you ship it."
    }
  ]
}