{
  "openapi": "3.0.3",
  "info": {
    "title": "naturali.ai API",
    "version": "1.0.0",
    "description": "The naturali.ai API. This document is the merge of every per-resource spec under openapi/v1/ — the single wire contract for all v1 endpoints.",
    "contact": {
      "name": "naturali.ai",
      "url": "https://naturali.ai"
    },
    "x-jentic-source-url": "https://naturali.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.naturali.ai",
      "description": "Host of your naturali.ai deployment; every path carries the /v1 prefix."
    }
  ],
  "paths": {
    "/v1/projects/{project_id}/activity": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "List activity feed entries",
        "description": "Returns activity entries for a project, newest first, filterable by kind, severity, agent, generation and orchestration run — every filter composable with the rest. Paginated with an opaque cursor rather than offset/limit — pass the previous page's `next_cursor` to fetch the next one; a `null` `next_cursor` means there is no more data.",
        "operationId": "listActivity",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by activity kind",
            "schema": {
              "type": "string",
              "enum": [
                "action_executed",
                "approval_created",
                "approval_resolved",
                "exception_created",
                "schedule_fired",
                "share_cap_exceeded",
                "share_resumed",
                "share_revoked",
                "share_suspended",
                "tool_resolution_failed",
                "usage_quantity_invalid"
              ]
            }
          },
          {
            "name": "severity",
            "in": "query",
            "description": "Filter by severity",
            "schema": {
              "type": "string",
              "enum": [
                "info",
                "warning",
                "critical"
              ]
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Filter to entries produced by one agent. Composable with every other filter — entries carry one agent, one generation and one run, so naming two narrows to the rows where both hold.",
            "schema": {
              "type": "string",
              "example": "agent_V1StGXR8Z5jdHi6B"
            }
          },
          {
            "name": "generation_id",
            "in": "query",
            "description": "Filter to entries produced during one agent generation. This is what turns `tool_resolution_failed` from alertable into usable: the warning for a suspect turn is one query rather than a scan of the project's feed.",
            "schema": {
              "type": "string",
              "example": "gen_V1StGXR8Z5jdHi6B"
            }
          },
          {
            "name": "orchestration_run_id",
            "in": "query",
            "description": "Filter to entries produced during one orchestration run.",
            "schema": {
              "type": "string",
              "example": "orch_run_V1StGXR8Z5jdHi"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous page's `next_cursor`",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Page of activity entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivityEntry"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Pass as `cursor` to fetch the next page; `null` when this is the last page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed cursor"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/activity/export": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Export the activity feed as NDJSON",
        "description": "Streams a project's activity entries as newline-delimited JSON — one entry object per line, **oldest first**, where the feed itself reads newest first: a feed answers what just happened, and a file is read start to end. `project_id` is required: the export is per-project by design. Filters behave exactly as they do on the list endpoint.",
        "operationId": "exportActivity",
        "x-mcp-exclude": true,
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "description": "Only entries of this kind",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "severity",
            "in": "query",
            "description": "Only entries of this severity",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Only entries an agent produced",
            "schema": {
              "type": "string",
              "example": "agent_V1StGXR8Z5jdHi6B"
            }
          },
          {
            "name": "generation_id",
            "in": "query",
            "description": "Only entries a generation produced",
            "schema": {
              "type": "string",
              "example": "gen_V1StGXR8Z5jdHi6B"
            }
          },
          {
            "name": "orchestration_run_id",
            "in": "query",
            "description": "Only entries an orchestration run produced",
            "schema": {
              "type": "string",
              "example": "orch_run_V1StGXR8Z5jdHi6B"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A newline-delimited stream of activity entries. Each line is a JSON object with the same fields as `ActivityEntry`.",
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "`project_id` is required"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/actors": {
      "get": {
        "tags": [
          "Actors"
        ],
        "summary": "List actors",
        "description": "Returns all actors in the project named in the path.",
        "operationId": "listActors",
        "parameters": [
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "description": "External ID to filter by (e.g. WhatsApp phone number)",
            "schema": {
              "type": "string",
              "example": "+15551234567"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring match on the actor name",
            "schema": {
              "type": "string",
              "example": "Ada"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "required": false,
            "description": "Return only actors linked to this agent",
            "schema": {
              "type": "string",
              "example": "agent_V1StGXR8Z5jdHi6B"
            }
          },
          {
            "name": "chat_id",
            "in": "query",
            "required": false,
            "description": "Return only actors linked to this chat",
            "schema": {
              "type": "string",
              "example": "chat_V1StGXR8Z5jdHi6B"
            }
          },
          {
            "name": "conversation_id",
            "in": "query",
            "required": false,
            "description": "Return only actors that participate in this conversation (derived from the conversation's messages).\n",
            "schema": {
              "type": "string",
              "example": "conv_V1StGXR8Z5jdHi6B"
            }
          },
          {
            "$ref": "#/components/parameters/TagsQuery"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of actors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActorRecord"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Actors"
        ],
        "summary": "Create an actor",
        "description": "Creates a new actor in the project named in the path.",
        "operationId": "createActor",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Alice"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "Optional external identifier (e.g. WhatsApp phone number). If provided and an actor with this externalId already exists in the project, the existing actor is returned (idempotent — 200 OK).",
                    "example": "+15551234567"
                  },
                  "instructions": {
                    "type": "string",
                    "nullable": true,
                    "description": "Persona-specific instructions composed into the effective system prompt during conversation generation."
                  },
                  "agent_id": {
                    "x-naturali-ref": "agents",
                    "type": "string",
                    "description": "Agent to link this actor to. Mutually exclusive with chat_id.",
                    "example": "agent_V1StGXR8Z5jdHi6B"
                  },
                  "chat_id": {
                    "x-naturali-ref": "chats",
                    "type": "string",
                    "description": "Chat to link this actor to. Mutually exclusive with agent_id.",
                    "example": "chat_V1StGXR8Z5jdHi6B"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actor already exists — returned when externalId matches an existing actor in this project (idempotent)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorRecord"
                }
              }
            }
          },
          "201": {
            "description": "Actor created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorRecord"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/actors/{actor_id}": {
      "get": {
        "tags": [
          "Actors"
        ],
        "summary": "Get an actor by ID",
        "description": "Returns an actor by its ID",
        "operationId": "getActor",
        "x-naturali-resource": {
          "kind": "actor",
          "from": "actor_id"
        },
        "parameters": [
          {
            "name": "actor_id",
            "in": "path",
            "required": true,
            "description": "Actor ID",
            "schema": {
              "type": "string",
              "example": "actor_V1StGXR8Z5jdHi6B"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Actor found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorRecord"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Actor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Actors"
        ],
        "summary": "Delete an actor",
        "description": "Deletes an actor by its ID",
        "operationId": "deleteActor",
        "x-naturali-resource": {
          "kind": "actor",
          "from": "actor_id"
        },
        "parameters": [
          {
            "name": "actor_id",
            "in": "path",
            "required": true,
            "description": "Actor ID",
            "schema": {
              "type": "string",
              "example": "actor_V1StGXR8Z5jdHi6B"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Actor deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Actor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Actors"
        ],
        "summary": "Update an actor",
        "description": "Updates an actor's properties",
        "operationId": "updateActor",
        "x-naturali-resource": {
          "kind": "actor",
          "from": "actor_id"
        },
        "parameters": [
          {
            "name": "actor_id",
            "in": "path",
            "required": true,
            "description": "Actor ID",
            "schema": {
              "type": "string",
              "example": "actor_V1StGXR8Z5jdHi6B"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Alice Smith"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "External identifier (e.g. WhatsApp phone number)",
                    "example": "+15551234567"
                  },
                  "instructions": {
                    "type": "string",
                    "description": "Persona-specific instructions"
                  },
                  "agent_id": {
                    "x-naturali-ref": "agents",
                    "type": "string",
                    "nullable": true,
                    "description": "Agent to link this actor to. Mutually exclusive with chat_id."
                  },
                  "chat_id": {
                    "x-naturali-ref": "chats",
                    "type": "string",
                    "nullable": true,
                    "description": "Chat to link this actor to. Mutually exclusive with agent_id."
                  },
                  "tags": {
                    "$ref": "#/components/schemas/TagBag"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actor updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorRecord"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Actor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/actors/{actor_id}/tags": {
      "get": {
        "tags": [
          "Actors"
        ],
        "summary": "Get actor tags",
        "description": "Returns all tags attached to the actor",
        "operationId": "getActorTags",
        "x-naturali-resource": {
          "kind": "actor",
          "from": "actor_id"
        },
        "parameters": [
          {
            "name": "actor_id",
            "in": "path",
            "required": true,
            "description": "Actor ID",
            "schema": {
              "type": "string",
              "example": "actor_V1StGXR8Z5jdHi6B"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Actor tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagBag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Actor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Actors"
        ],
        "summary": "Replace actor tags",
        "description": "Replaces all tags on the actor with the provided tags (not merged)",
        "operationId": "replaceActorTags",
        "x-naturali-resource": {
          "kind": "actor",
          "from": "actor_id"
        },
        "parameters": [
          {
            "name": "actor_id",
            "in": "path",
            "required": true,
            "description": "Actor ID",
            "schema": {
              "type": "string",
              "example": "actor_V1StGXR8Z5jdHi6B"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagBag"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagBag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Actor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Actors"
        ],
        "summary": "Merge actor tags",
        "description": "Merges provided tags into the actor's existing tags (existing tags are preserved unless overridden)",
        "operationId": "mergeActorTags",
        "x-naturali-resource": {
          "kind": "actor",
          "from": "actor_id"
        },
        "parameters": [
          {
            "name": "actor_id",
            "in": "path",
            "required": true,
            "description": "Actor ID",
            "schema": {
              "type": "string",
              "example": "actor_V1StGXR8Z5jdHi6B"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagBag"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags merged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagBag"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Actor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/addresses": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List addresses",
        "description": "Every identifier this project has seen. An address appears the first time a message arrives from it, so this is what naturali has observed rather than a roster you maintain — most rows carry no `action` of their own and defer to the route table.\n",
        "operationId": "listAddresses",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of addresses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/projects/{project_id}/addresses/{identifier}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/Identifier"
        }
      ],
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get an address",
        "description": "Reads one identifier's own action, if it has one. An identifier naturali has never seen is a `404`; to set an action without knowing whether it exists, use [`PUT /v1/projects/{project_id}/addresses/{identifier}`](/docs/api/addresses/set-address-action), which upserts.\n",
        "operationId": "getAddress",
        "responses": {
          "200": {
            "description": "The address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Channels"
        ],
        "summary": "Set or clear this address's own action",
        "description": "Upserts the address and its `action` in one call. `action: null` forgets the exception and defers back to the route table; any other `action` requires the same fields a route or channel default would (`agent_id` for `agent`, `text` for `message`).\n",
        "operationId": "setAddressAction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressActionSet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "201": {
            "description": "Address created with this action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Channels"
        ],
        "summary": "Erase an address",
        "description": "Removes the address, its conversations, and its runtime actor and sessions.\n",
        "operationId": "deleteAddress",
        "responses": {
          "204": {
            "description": "Address erased."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/projects/{project_id}/addresses/{identifier}/conversations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/Identifier"
        }
      ],
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List an address's conversations",
        "description": "Every conversation this address has had, across every channel it has ever messaged — an address is project-scoped, not channel-scoped.\n",
        "operationId": "listAddressConversations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of conversations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_cursor"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/projects/{project_id}/agents": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Create an agent",
        "description": "Creates a new agent bound to an AI provider.",
        "operationId": "createAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal agent",
                  "value": {
                    "ai_provider_id": "aip_V1StGXR8Z5jdHi6B"
                  }
                },
                "full": {
                  "summary": "Agent with tools and instructions",
                  "value": {
                    "ai_provider_id": "aip_V1StGXR8Z5jdHi6B",
                    "name": "Research Assistant",
                    "instructions": "You are a helpful research assistant.",
                    "model": "gpt-4o",
                    "tool_bindings": [
                      {
                        "tool_id": "tool_abc123"
                      }
                    ],
                    "max_steps": 10,
                    "temperature": 0.7
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "AI provider not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List agents",
        "description": "Returns all agents in the project.",
        "operationId": "listAgents",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "total",
                    "limit",
                    "offset"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/agents/{agent_id}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get an agent",
        "description": "Returns a single agent by ID. A credential scoped to a project the agent is shared with, through an accepted share, reads its `id` and `name` only.\n",
        "operationId": "getAgent",
        "x-naturali-resource": {
          "kind": "agent",
          "from": "agent_id"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Agents"
        ],
        "summary": "Update an agent",
        "description": "Updates an existing agent. Identical to PATCH — both perform partial updates.",
        "operationId": "updateAgent",
        "x-naturali-resource": {
          "kind": "agent",
          "from": "agent_id"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "$ref": "#/components/parameters/IfMatchVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/VersionConflict"
          }
        }
      },
      "patch": {
        "tags": [
          "Agents"
        ],
        "summary": "Partially update an agent",
        "description": "Partially updates an existing agent. Identical to PUT — both perform partial updates.",
        "operationId": "patchAgent",
        "x-naturali-resource": {
          "kind": "agent",
          "from": "agent_id"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "$ref": "#/components/parameters/IfMatchVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/VersionConflict"
          }
        }
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "summary": "Delete an agent",
        "description": "Deletes an agent by ID. Fails with `409` if the agent has dependent generations or traces, or another project has accepted a share of it, unless `force=true` is passed, in which case those generations and traces are deleted along with the agent and the shares are revoked. Every share of the agent is revoked when it is deleted.\n",
        "operationId": "deleteAgent",
        "x-naturali-resource": {
          "kind": "agent",
          "from": "agent_id"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "description": "When `true`, deletes the agent's dependent generations and traces, revokes its accepted shares and leaves its ingestion rules naming it instead of returning `409 AGENT_HAS_DEPENDENTS`.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Agent has dependent generations, traces, accepted shares or ingestion rules in its own project (pass `force=true` to delete anyway; records and rules another project made through a share are kept). `error.meta` carries `generation_count`, `trace_count`, `accepted_share_count` and `ingestion_rule_count` so a caller can tell which one is nonzero.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/agents/{agent_id}/generate": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Run an agent generation",
        "description": "Sends messages to the agent, resolves its tools, and runs the AI model loop. Background by default: returns `202 Accepted` with a `generation_id` to poll via `GET /v1/projects/{project_id}/generations/{generation_id}`. Pass `?wait=true` to block and receive the result inline, where client tools pause the generation and return `requires_action`. Streaming (`stream: true`) implies waiting. Pass `idempotency_key` to make a retry safe: a request whose key is already claimed runs nothing and answers `202` with the generation the key names.\n\nA credential scoped to a project the agent is shared with, through an accepted share, runs it in that project: on the publisher's configuration, recorded, metered and governed in the grantee project.\n",
        "operationId": "createAgentGeneration",
        "x-naturali-resource": {
          "kind": "agent",
          "from": "agent_id"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "x-naturali-tool-forced": true,
            "description": "When omitted or `false` (default), the generation runs in the background and `202 Accepted` is returned immediately with a `generation_id` to poll. Pass `true` to block until the generation settles and receive the result. Mutually exclusive with `stream: true`. An MCP tool call always waits.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentGenerationRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Simple generation",
                  "value": {
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is the weather in Tokyo?"
                      }
                    ]
                  }
                },
                "toolOutput": {
                  "summary": "Use a tool output as user message content",
                  "value": {
                    "messages": [
                      {
                        "role": "user",
                        "content": {
                          "type": "tool_output",
                          "tool_id": "tool_audio_to_text",
                          "input": {
                            "url": "https://example.com/audio.mp3"
                          },
                          "output_path": "text"
                        }
                      }
                    ]
                  }
                },
                "streaming": {
                  "summary": "Streaming generation",
                  "value": {
                    "messages": [
                      {
                        "role": "user",
                        "content": "Summarize the latest report."
                      }
                    ],
                    "stream": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation result or SSE stream (only when `?wait=true` or `stream: true`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentGenerationResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE stream of delta chunks ending with `data: [DONE]`.\n\nThe response headers are written before the provider is called, so a failure cannot become a status code once the stream is open. It arrives instead as a terminal `data: {\"error\": \"...\"}` frame carrying the same mapped message the non-streaming path returns in its `502` body (e.g. `Provider returned 404: ...`), and the stream then ends **without** a `[DONE]` — the absence of that sentinel is how a caller tells a truncated answer from a complete one. Chunks produced before the failure are still delivered, and the generation is recorded as `failed`.\n"
                }
              }
            }
          },
          "202": {
            "description": "Generation accepted and running in the background (default, when `wait` is omitted or `false`), or — in every mode, streamed included — a duplicate request: the generation the `idempotency_key` already names is returned in whatever state it has reached and nothing runs. Poll `GET /v1/projects/{project_id}/generations/{generation_id}` for the result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (e.g. an `idempotency_key` that is not a non-empty string of at most 255 characters)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent or AI provider not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "`IDEMPOTENCY_KEY_REUSED` — the key is already claimed by a generation started from a different request. Nothing runs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "`QUOTA_EXCEEDED`: an `enforce`-mode generation quota is exhausted; `error.meta` carries `quota_id`, `metric`, `limit`, `window` and `resets_at`. `SHARE_CAP_EXCEEDED`: the agent is another project's, reached through a share whose `cap` is spent for the window; `error.meta.retry_after` says when. Both carry a `Retry-After` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream AI provider error (AI_PROVIDER_ERROR); model output that does not satisfy the agent's `output_schema` (OUTPUT_SCHEMA_VALIDATION_FAILED — the violated field is named in the message); or a model that wrote a tool invocation out as plain assistant text instead of calling the tool, so the tool never ran (TEXT_ENCODED_TOOL_CALL — `meta.tool_name` names the tool). The error `meta` includes the `generation_id` and `trace_id` of the failed generation for post-mortem debugging via GET /v1/projects/{project_id}/generations/{generation_id}. Streaming requests report the provider error in a terminal SSE frame instead, since their status line is already on the wire.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/agents/{agent_id}/generate/{generation_id}/tool-outputs": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Submit tool outputs for a paused generation",
        "description": "Resumes a generation that was paused due to client tool calls. Provide tool outputs for each pending tool call.\n",
        "operationId": "submitAgentToolOutputs",
        "x-naturali-resource": {
          "kind": "agent",
          "from": "agent_id"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "$ref": "#/components/parameters/GenerationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitToolOutputsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation result after resuming",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent or generation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The generation is not paused on client tool calls (GENERATION_NOT_AWAITING_TOOL_OUTPUTS): it never paused, or its outputs were already submitted. Each pause accepts outputs once.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream AI provider error (AI_PROVIDER_ERROR); model output that does not satisfy the agent's `output_schema` (OUTPUT_SCHEMA_VALIDATION_FAILED); or a model that wrote a tool invocation out as plain assistant text instead of calling the tool (TEXT_ENCODED_TOOL_CALL — `meta.tool_name` names the tool). The resumed generation is recorded `failed`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/agents/{agent_id}/versions": {
      "get": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "List an agent's config versions",
        "description": "Returns the agent's archived configurations, newest first. A version is written on create and on every subsequent write that changes the config — through the REST API or a formation apply alike. See [Versioning and Staged Rollout](/docs/modules/agents#versioning-and-staged-rollout).\n",
        "operationId": "listAgentVersions",
        "x-naturali-resource": {
          "kind": "agent",
          "from": "agent_id"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of agent versions, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "total",
                    "limit",
                    "offset"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentVersion"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/agents/{agent_id}/versions/{version}": {
      "get": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Get an archived agent config version",
        "description": "Returns the exact configuration the agent held at a given version, so a generation can be traced back to the config that produced it.\n",
        "operationId": "getAgentVersion",
        "x-naturali-resource": {
          "kind": "agent",
          "from": "agent_id"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "$ref": "#/components/parameters/AgentVersionNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "Archived agent version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentVersion"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — version is not a positive integer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent or version not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/agents/{agent_id}/versions/{version}/restore": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Restore an archived config as a new version",
        "description": "Copies the named version's configuration onto the agent as a **new** version rather than rewinding the counter, so history stays append-only and the versions in between remain retrievable. Restoring the config the agent already holds is a no-op and creates no version.\n\nThe restored config fully replaces the current one: a field the archived version did not set is cleared, not merged. Restore re-validates the config, so a tool, provider, or guardrail deleted since the snapshot was taken fails the request instead of writing a broken agent.\n",
        "operationId": "restoreAgentVersion",
        "x-naturali-resource": {
          "kind": "agent",
          "from": "agent_id"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "$ref": "#/components/parameters/AgentVersionNumber"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreAgentVersionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The agent, at its new version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — invalid version, or the archived config no longer validates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent or version not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/VersionConflict"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/agents/{agent_id}/release": {
      "put": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Set or replace a staged rollout",
        "description": "Starts serving two archived versions side by side: `canary_percent` of traffic gets `canary_version`, the rest gets `stable_version`.\n\nAssignment is deterministic — it hashes the actor behind the request's session (falling back to the session itself), so one end user never flip-flops between configs mid-conversation. Requests with neither are split randomly.\n\nWhile a release is active the agent's live columns act as a **draft**: further edits archive new versions but do not disturb either side of the running split. End the rollout with `promote` or `abort`.\n",
        "operationId": "setAgentRelease",
        "x-naturali-resource": {
          "kind": "agent",
          "from": "agent_id"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetAgentReleaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The agent, with its active release set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — malformed input, or a version that does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/agents/{agent_id}/release/promote": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Promote the canary and end the rollout",
        "description": "Makes the canary version's config the agent's live config and clears the release. The canary is pinned by version, so an edit that landed mid-rollout is not promoted in its place — it stays an unreleased draft in the version history.\n\nWhen the release carries a `promotion_gate`, the eval it names must have a run that finished `completed` with `passed: true` **and** was pinned to the canary version (`agent_version`); otherwise the call is a `409` and the rollout is left running untouched. The run that cleared the gate is recorded as `eval_run_id` on the version that goes live.\n",
        "operationId": "promoteAgentRelease",
        "x-naturali-resource": {
          "kind": "agent",
          "from": "agent_id"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "The agent, now serving the promoted config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — the agent has no active release (`NO_ACTIVE_RELEASE`), or its `promotion_gate` has no passing eval run against the canary version (`PROMOTION_GATE_UNMET`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/agents/{agent_id}/release/abort": {
      "post": {
        "tags": [
          "Agent Versions"
        ],
        "summary": "Abort the rollout and roll back to stable",
        "description": "Restores the stable version's config as the agent's live config and clears the release, so all traffic returns to the configuration the rollout was measured against — not to whatever draft the live columns happened to hold.\n",
        "operationId": "abortAgentRelease",
        "x-naturali-resource": {
          "kind": "agent",
          "from": "agent_id"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "The agent, back on the stable config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — the agent has no active release",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/ai-providers": {
      "get": {
        "tags": [
          "AI Providers"
        ],
        "summary": "List AI providers",
        "description": "Returns a list of AI provider configurations for a project",
        "operationId": "listAiProviders",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AI providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "total",
                    "limit",
                    "offset"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string",
                            "enum": [
                              "openai",
                              "anthropic",
                              "google",
                              "xai",
                              "groq",
                              "ollama",
                              "azure",
                              "bedrock",
                              "vertex",
                              "gateway",
                              "custom",
                              "naturali"
                            ]
                          },
                          "default_model": {
                            "type": "string"
                          },
                          "secret_id": {
                            "x-naturali-ref": "secrets",
                            "type": "string",
                            "nullable": true,
                            "description": "Secret ID containing API credentials, or null when the record links none."
                          },
                          "base_url": {
                            "type": "string",
                            "description": "Custom base URL for the provider. Absent when the record sets none."
                          },
                          "config": {
                            "type": "object",
                            "description": "Additional provider-specific configuration. Absent when the record sets none."
                          },
                          "project_id": {
                            "x-naturali-ref": "projects",
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "AI Providers"
        ],
        "summary": "Create an AI provider",
        "description": "Creates a new LLM provider configuration.\n\nA `bedrock` or `vertex` record must carry a credential of its own — a\nlinked `secret_id`, or an `apiKey` in `config`. Without one the provider\nSDK signs with the server's own credentials (the AWS default credential\nchain, Google Application Default Credentials), which is refused with\n`400 VALIDATION_FAILED` unless the deployment allows it.\n",
        "operationId": "createAiProvider",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "provider",
                  "default_model"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Provider configuration name",
                    "example": "OpenAI Production"
                  },
                  "provider": {
                    "type": "string",
                    "enum": [
                      "openai",
                      "anthropic",
                      "google",
                      "xai",
                      "groq",
                      "ollama",
                      "azure",
                      "bedrock",
                      "vertex",
                      "gateway",
                      "custom",
                      "naturali"
                    ],
                    "description": "LLM provider",
                    "example": "openai"
                  },
                  "default_model": {
                    "type": "string",
                    "description": "Default model to use",
                    "example": "gpt-4"
                  },
                  "secret_id": {
                    "x-naturali-ref": "secrets",
                    "type": "string",
                    "description": "Secret ID containing API credentials. Required for `bedrock` and `vertex` unless `config.apiKey` carries one.",
                    "example": "sec_V1StGXR8Z5jdHi6B"
                  },
                  "base_url": {
                    "type": "string",
                    "description": "Custom base URL for the provider"
                  },
                  "config": {
                    "type": "object",
                    "description": "Additional provider-specific configuration"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AI provider created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "provider": {
                      "type": "string"
                    },
                    "default_model": {
                      "type": "string"
                    },
                    "project_id": {
                      "x-naturali-ref": "projects",
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid provider or missing fields)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/ai-providers/{ai_provider_id}": {
      "get": {
        "tags": [
          "AI Providers"
        ],
        "summary": "Get an AI provider",
        "description": "Returns a specific AI provider configuration",
        "operationId": "getAiProvider",
        "parameters": [
          {
            "name": "ai_provider_id",
            "in": "path",
            "required": true,
            "description": "AI Provider ID",
            "schema": {
              "type": "string",
              "example": "aip_V1StGXR8Z5jdHi6B"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI provider details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "provider": {
                      "type": "string"
                    },
                    "default_model": {
                      "type": "string"
                    },
                    "project_id": {
                      "x-naturali-ref": "projects",
                      "type": "string"
                    },
                    "secret_id": {
                      "x-naturali-ref": "secrets",
                      "type": "string",
                      "nullable": true
                    },
                    "base_url": {
                      "type": "string"
                    },
                    "config": {
                      "type": "object"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "AI provider not found"
          }
        }
      },
      "patch": {
        "tags": [
          "AI Providers"
        ],
        "summary": "Update an AI provider",
        "description": "Updates an AI provider configuration",
        "operationId": "updateAiProvider",
        "parameters": [
          {
            "name": "ai_provider_id",
            "in": "path",
            "required": true,
            "description": "AI Provider ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string",
                    "enum": [
                      "openai",
                      "anthropic",
                      "google",
                      "xai",
                      "groq",
                      "ollama",
                      "azure",
                      "bedrock",
                      "vertex",
                      "gateway",
                      "custom",
                      "naturali"
                    ],
                    "description": "LLM provider",
                    "example": "openai"
                  },
                  "default_model": {
                    "type": "string"
                  },
                  "secret_id": {
                    "x-naturali-ref": "secrets",
                    "type": "string",
                    "nullable": true
                  },
                  "base_url": {
                    "type": "string"
                  },
                  "config": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI provider updated successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "AI provider not found"
          }
        }
      },
      "delete": {
        "tags": [
          "AI Providers"
        ],
        "summary": "Delete an AI provider",
        "description": "Deletes an AI provider configuration.\n\nLive references — chats, agents, and model routes whose targets name this provider — always block deletion with `409 AI_PROVIDER_HAS_DEPENDENTS`; `force` does not override them, so delete or repoint those resources first. Soft dependents — price overrides and usage/generation records — also block with `409` unless `force=true`, which deletes the provider's price overrides and unlinks (nulls) its usage history, preserving those rows. The `409` body's `error.meta` reports the counts, a sample of offending IDs, and a `forcible` flag that is `true` when a `force=true` retry would succeed.\n",
        "operationId": "deleteAiProvider",
        "parameters": [
          {
            "name": "ai_provider_id",
            "in": "path",
            "required": true,
            "description": "AI Provider ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "description": "When `true`, delete the provider's price overrides and unlink its usage history so a provider with only soft dependents can be removed. Has no effect on live references (chats, agents, model routes), which always block deletion.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "204": {
            "description": "AI provider deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "AI provider not found"
          },
          "409": {
            "description": "The AI provider still has dependents. Live references always block; soft dependents block unless force=true. See error.meta for counts, offending IDs, and the forcible flag.\n"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/ai-providers/{ai_provider_id}/models": {
      "get": {
        "tags": [
          "AI Providers"
        ],
        "summary": "List the models this provider can run",
        "description": "Asks the provider which models it can run, using this provider record's own credentials and configuration, and returns provider-native model ids — the same strings `default_model` and an agent's `model` carry.\nWhich models are reachable is a property of the credential, not of the provider type: a Vertex provider sees only the publisher models its Google Cloud project and location serve, and a Bedrock provider only the foundation models enabled in its region. Reading the list is how a caller avoids pinning a model that fails at generation time.\nNot every provider type can answer. `azure` lists deployments an operator named rather than models, and `ollama` lists whatever was pulled onto that host, so both return `400 MODEL_LISTING_UNSUPPORTED`.\nListing resolves credentials the same way generation does, so a record that can generate can list. The API-key types (`openai`, `groq`, `xai`, `gateway`, `custom`, `anthropic`, `google`) use the record's linked secret and cannot list without one. `bedrock` and `vertex` use the linked secret — IAM keys or a Bedrock API key, a Google service-account key. A record with no `secret_id` would fall back to the server's own credentials (the AWS default credential chain, Google Application Default Credentials); it can list only on a deployment that allows a record to use them, and returns `400 AI_PROVIDER_MISCONFIGURED` otherwise.\nA Vertex record needs no `config.project` when its secret is a service-account key, since the key file names its own project. A Vertex record in express mode (API key) cannot list at all: the publisher-model listing rejects API keys and needs a credential that asserts a principal, so it returns `400 MODEL_LISTING_UNSUPPORTED`.\nThe Vertex answer is the publisher catalogue the record's `config.location` region serves. The project behind the credential is billed and quota'd for the call but does not filter the result, so a listed model may still be unavailable to that project at generation time.\nThe provider answers its whole catalogue in one call; `q`, `limit` and `offset` narrow and page what it returned. A request without `limit` gets the first 50 models.\n",
        "operationId": "listAiProviderModels",
        "parameters": [
          {
            "name": "ai_provider_id",
            "in": "path",
            "required": true,
            "description": "AI Provider ID",
            "schema": {
              "type": "string",
              "example": "aip_V1StGXR8Z5jdHi6B"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Keeps the models whose `id` or `display_name` contains this text, ignoring case. Applied before paging, so `total` counts the matches.\n",
            "schema": {
              "type": "string",
              "example": "sonnet"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "The models this provider can run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The provider type or authentication mode cannot enumerate models (including Vertex express mode), or the record is missing configuration the listing needs (a Vertex project from either `config.project` or the service-account key file, a Bedrock region, or — for the API-key provider types — a linked secret).\n"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "AI provider not found"
          },
          "502": {
            "description": "The provider rejected the listing request"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/projects/{project_id}/ai-providers/{ai_provider_id}/prices": {
      "get": {
        "tags": [
          "AI Providers"
        ],
        "summary": "List per-provider price overrides",
        "description": "Returns the per-provider price overrides for this AI provider instance. An override prices this specific provider (e.g. an enterprise-negotiated rate or a gateway with markup) and wins over the global default at cost time. Authorized by the caller's access to the provider's project — so, unlike the global price book, a project's own overrides are visible here.\n",
        "operationId": "getAiProviderPrices",
        "parameters": [
          {
            "name": "ai_provider_id",
            "in": "path",
            "required": true,
            "description": "AI Provider ID",
            "schema": {
              "type": "string",
              "example": "aip_V1StGXR8Z5jdHi6B"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The provider's price overrides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderPricesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "AI provider not found"
          }
        }
      },
      "put": {
        "tags": [
          "AI Providers"
        ],
        "summary": "Upsert per-provider price overrides",
        "description": "Upserts price overrides for this AI provider instance, keyed on (model, effective_from). The provider slug is taken from the AI provider itself, so only the model, rates, and effective_from are supplied. Authorized by the caller's access to the provider's project. `effective_from` must be in the future once the (model, component) has a price row — past prices are immutable, so corrections ship as new future-dated rows. A first price for a (model, component) nothing prices yet may be dated now or earlier, so a new provider is never live and unpriced.\n",
        "operationId": "updateAiProviderPrices",
        "x-naturali-agent-exclude": true,
        "parameters": [
          {
            "name": "ai_provider_id",
            "in": "path",
            "required": true,
            "description": "AI Provider ID",
            "schema": {
              "type": "string",
              "example": "aip_V1StGXR8Z5jdHi6B"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertProviderPricesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The upserted price overrides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderPricesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (e.g. non-future effective_from)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "AI provider not found"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ]
    },
    "/v1/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "Lists API keys accessible to the caller. A project-scoped credential sees only keys in its project; an account-scoped credential sees all keys in the account. Raw secrets are never returned.\n",
        "operationId": "listApiKeys",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
[...]
