{
  "openapi": "3.1.0",
  "info": {
    "title": "Epovest API",
    "version": "1.0.0",
    "summary": "Measure how AI assistants answer the questions your market asks, and shape those answers.",
    "description": "Epovest is an AI visibility platform: it measures how AI assistants such as ChatGPT, Claude,\nGemini, Perplexity, Mistral and Grok answer the questions a market asks (which names they cite,\nwith which sources, how that changes over time), and gives businesses the levers to shape those\nanswers and get recommended.\n\nEvery call carries an API key in the `Authorization` header: `Authorization: Bearer epo_...`.\nKeys belong to an Epovest account and are created by its owner in the app. Scopes are chosen at\ncreation: `read`, which every key has, and `write`, for creating and changing things. Each\noperation of this document states the scope it takes under `x-scope`.\n\nThe same surface is served as MCP tools at `https://mcp.epovest.com/mcp`, one tool per route:\neach operation names its tool under `x-mcp-tool`. The prose reference of both surfaces is at\nhttps://epovest.com/docs/api.md, and the task recipes at https://epovest.com/docs/recipes.md.\n\nThe canonical base URL is `https://api.epovest.com/v1`. The base delivered earlier,\n`https://app.epovest.com/api/v1`, answers identically.\n\nRate limit: 120 requests per minute per credential, sliding window. Beyond the budget the API\nanswers `429 rate_limited` with a `Retry-After` header and the `X-RateLimit-Limit` and\n`X-RateLimit-Remaining` counters. MCP calls draw from the same budget.\n\nConventions: dates are ISO 8601 with timezone, survey periods are plain `YYYY-MM-DD` dates,\nenumerations use their lowercase value, monetary amounts are integers in minor units suffixed\n`_minor` next to a `currency` field, errors always use the envelope\n`{\"error\": \"slug\", \"message\": \"human sentence\"}`, and paginated routes answer with `pagination`\nas `{page, per_page, total, pages}` where `page` is clamped rather than rejected: ask for page 99\nof 3 and you get page 3 back, so stop on `pagination.page >= pagination.pages`.\n",
    "contact": {
      "name": "Epovest",
      "url": "https://epovest.com/docs/api.md"
    },
    "x-brand-owner": "Epovest is a brand operated by Sels de Rehy, LLC, a limited liability company incorporated in the State of Delaware, United States.",
    "x-providerName": "epovest.com",
    "x-apisguru-categories": [
      "marketing",
      "analytics"
    ],
    "x-logo": {
      "url": "https://epovest.com/icon.svg"
    },
    "x-tags": [
      "AI visibility",
      "Generative engine optimization",
      "Brand monitoring",
      "ChatGPT",
      "Claude",
      "Gemini",
      "Perplexity",
      "MCP"
    ],
    "x-jentic-source-url": "https://epovest.com/docs/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.epovest.com/v1"
    }
  ],
  "paths": {
    "/trackers": {
      "get": {
        "operationId": "listTrackers",
        "summary": "List the trackers of the account",
        "description": "The trackers of the account, current versions, the ones still followed first and then the\nones filed away.\n",
        "tags": [
          "Trackers"
        ],
        "x-scope": "read",
        "x-mcp-tool": "list_trackers",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "A project UUID, or `default` for the trackers filed under no project.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The trackers of the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "trackers"
                  ],
                  "properties": {
                    "trackers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tracker"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The `project` filter names no project of the account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createTracker",
        "summary": "Create a tracker, in draft",
        "description": "Creates a tracker in draft: it measures nothing until started. Starting it launches its first\nsurvey immediately, unless it carries a chosen `next_survey_at` still in the future, in which\ncase the grid starts on that date. That first survey runs on every frequency, `on_demand`\nincluded, where it is also the last one until `POST /trackers/{id}/survey` asks for another.\nManager or above.\n",
        "tags": [
          "Trackers"
        ],
        "x-scope": "write",
        "x-mcp-tool": "create_tracker",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackerCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The tracker, in draft.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tracker"
                  ],
                  "properties": {
                    "tracker": {
                      "$ref": "#/components/schemas/Tracker"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/trackers/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TrackerId"
        }
      ],
      "get": {
        "operationId": "getTracker",
        "summary": "Read one tracker",
        "description": "One tracker, by id. A retired version still answers here with `status: \"retired\"`, so after an\nedit that made a new version, follow the new id rather than the one you had cached.\n",
        "tags": [
          "Trackers"
        ],
        "x-scope": "read",
        "responses": {
          "200": {
            "description": "The tracker.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tracker"
                  ],
                  "properties": {
                    "tracker": {
                      "$ref": "#/components/schemas/Tracker"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updateTracker",
        "summary": "Update the configuration of a tracker",
        "description": "Takes the same fields as the creation, all optional: only the fields you send change, and a\nsent list replaces the previous one entirely. Keywords, analysts and the title apply in\nplace. Changing the prompts, engines, frequency or resolution of a version that HAS measured\ncreates a new version: the score series continues across versions, and the response carries\nthe new tracker with its new id, next to `version_created`. A version that has not measured\nyet is amended in place and keeps its id, so `version_created` is `false`.\n\nA paused tracker takes all of it, the collection settings included. The call writes the\nconfiguration and nothing else: no survey runs, no credit is reserved, the tracker stays\npaused with its `pause_reason`, and what you set takes effect at the next\n`POST /trackers/{id}/start`. A version created this way is born paused as well. Manager or\nabove.\n",
        "tags": [
          "Trackers"
        ],
        "x-scope": "write",
        "x-mcp-tool": "update_tracker",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackerUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tracker as it now stands, and whether a version was created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tracker",
                    "version_created"
                  ],
                  "properties": {
                    "tracker": {
                      "$ref": "#/components/schemas/Tracker"
                    },
                    "version_created": {
                      "type": "boolean",
                      "description": "True when the edit recorded a new tracker version, which carries a new id."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`not_editable`: a retired version is revision history and takes nothing.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/trackers/{id}/start": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TrackerId"
        }
      ],
      "post": {
        "operationId": "startTracker",
        "summary": "Start or restart the measurement",
        "description": "Starts the measurement against the credit balance, and its first survey runs there and then,\nwhatever the frequency, unless a chosen `next_survey_at` is still in the future: with one set,\nnothing runs until that moment, and that holds for a date chosen while the tracker was paused.\nRestarting a paused tracker picks its schedule back up, at whatever configuration it carries\nnow. Replaying it on a tracker already measuring answers with that tracker. Owner only.\n",
        "tags": [
          "Trackers"
        ],
        "x-scope": "write",
        "x-mcp-tool": "start_tracker",
        "responses": {
          "200": {
            "description": "The tracker, measuring.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tracker"
                  ],
                  "properties": {
                    "tracker": {
                      "$ref": "#/components/schemas/Tracker"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "description": "`tracker_archived`: bring it back first with `POST /trackers/{id}/archive` and\n`{\"archived\": false}`. `not_startable`: a retired version never restarts, work on the\ncurrent version instead.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/trackers/{id}/survey": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TrackerId"
        }
      ],
      "post": {
        "operationId": "surveyNow",
        "summary": "Run one survey now, on top of the schedule",
        "description": "Runs one survey NOW: the anchor, the frequency and the date of the next scheduled survey are\nuntouched. Answers `201` with the survey, which carries `on_demand: true` and `requested_at`;\nits point joins the series under the same period, told apart by `on_demand`. On a tracker\nwhose frequency is `on_demand`, this is where every survey after the first one comes from.\nDebits the balance like any survey. While one is still running, answers `200` with THAT\nsurvey.\nA refusal never pauses the tracker: the schedule asked for nothing and keeps running.\nOwner only.\n",
        "tags": [
          "Trackers"
        ],
        "x-scope": "write",
        "x-mcp-tool": "survey_now",
        "responses": {
          "201": {
            "description": "The survey that was just started.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "survey"
                  ],
                  "properties": {
                    "survey": {
                      "$ref": "#/components/schemas/Survey"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "A survey of this tracker was already running: it is the one that comes back.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "survey"
                  ],
                  "properties": {
                    "survey": {
                      "$ref": "#/components/schemas/Survey"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "409": {
            "description": "The refusal names the move that unblocks: `tracker_not_active` (start it first),\n`tracker_archived` (bring it back first), `already_starting` (another call is starting\none right now, nothing spent).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/trackers/{id}/pause": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TrackerId"
        }
      ],
      "post": {
        "operationId": "pauseTracker",
        "summary": "Pause the measurement",
        "description": "Pauses the measurement; the series is kept. Recorded as a `manual` pause, which a top-up\nleaves as it is: it waits for `POST /trackers/{id}/start`. Owner only.\n",
        "tags": [
          "Trackers"
        ],
        "x-scope": "write",
        "x-mcp-tool": "pause_tracker",
        "responses": {
          "200": {
            "description": "The tracker, paused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tracker"
                  ],
                  "properties": {
                    "tracker": {
                      "$ref": "#/components/schemas/Tracker"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`not_active`: only an active tracker can be paused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/trackers/{id}/archive": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TrackerId"
        }
      ],
      "post": {
        "operationId": "archiveTracker",
        "summary": "File a tracker away, or bring it back",
        "description": "The body is the STATE you want: omitted it files the tracker away, `{\"archived\": false}`\nbrings it back, and both moves answer the same when replayed. A tracker still measuring\npauses in the same call, so the answer carries `status: \"paused\"` to say it. The sheet and\nthe score series are kept. Owner only.\n",
        "tags": [
          "Trackers"
        ],
        "x-scope": "write",
        "x-mcp-tool": "archive_tracker",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tracker, filed away or back to the list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tracker"
                  ],
                  "properties": {
                    "tracker": {
                      "$ref": "#/components/schemas/Tracker"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`invalid_tracker`: `archived` must be a boolean.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/trackers/{id}/surveys": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TrackerId"
        }
      ],
      "get": {
        "operationId": "listSurveys",
        "summary": "List the surveys of the tracker chain",
        "description": "The surveys of the tracker chain, newest first. `panel_version` is the tracker version that\nran each one (the series spans versions), and `billed_analysts` lists the AI analysts\nreserved on that survey, what the credit hold covered.\n",
        "tags": [
          "Results"
        ],
        "x-scope": "read",
        "responses": {
          "200": {
            "description": "The surveys of the chain.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "surveys"
                  ],
                  "properties": {
                    "surveys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Survey"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/trackers/{id}/scores": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TrackerId"
        }
      ],
      "get": {
        "operationId": "getResults",
        "summary": "Read the score series",
        "description": "The score series, one row per analyst, keyword, engine, version and period.\n",
        "tags": [
          "Results"
        ],
        "x-scope": "read",
        "x-mcp-tool": "get_results",
        "parameters": [
          {
            "name": "analyst",
            "in": "query",
            "required": false,
            "description": "One of the analysts that carry a score. The `custom_prompt` analyst yields a text note\nper response, so it is read through `GET /trackers/{id}/responses`.\n",
            "schema": {
              "type": "string",
              "enum": [
                "keyword_presence",
                "share_of_voice",
                "sentiment"
              ]
            }
          },
          {
            "name": "engine",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Engine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The score series.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "scores"
                  ],
                  "properties": {
                    "scores": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Score"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/trackers/{id}/responses": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TrackerId"
        }
      ],
      "get": {
        "operationId": "getResponses",
        "summary": "Read the raw answers of one engine",
        "description": "The answers that succeeded, in surveys that completed. Each one carries the text the engine\nwrote, the sources it cited, `uncited_sources`, the pages it read to write the answer, and\n`searched`, whether it went to the web (`null` when undetermined, for answers measured before\nthe field existed).\n",
        "tags": [
          "Results"
        ],
        "x-scope": "read",
        "x-mcp-tool": "get_responses",
        "parameters": [
          {
            "name": "engine",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Engine"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Keeps the answers whose text carries this wording.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "question",
            "in": "query",
            "required": false,
            "description": "Keeps the answers to this question.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "survey",
            "in": "query",
            "required": false,
            "description": "A survey id of this chain.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tone",
            "in": "query",
            "required": false,
            "description": "The answers where the sentiment analyst judged a keyword mention with that tone, so a\nweek's negative answers come back in one call.\n",
            "schema": {
              "$ref": "#/components/schemas/MentionSentiment"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "`raw` adds the full engine payload as `raw_response`.",
            "schema": {
              "type": "string",
              "enum": [
                "raw"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "One page of answers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "responses",
                    "pagination"
                  ],
                  "properties": {
                    "responses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EngineResponse"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/trackers/{id}/discoveries": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TrackerId"
        }
      ],
      "get": {
        "operationId": "listKeywordDiscoveries",
        "summary": "List the discovered keyword suggestions",
        "description": "The current suggestions, plus `dismissed`, the domains this tracker has set aside, so what\nwas refused stays readable and a change of mind is one call away. Nothing is ever added on\nits own: relay the suggestions to the person, the decision is theirs.\n",
        "tags": [
          "Keyword discovery"
        ],
        "x-scope": "read",
        "x-mcp-tool": "list_keyword_discoveries",
        "responses": {
          "200": {
            "description": "The suggestions and the domains set aside.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "discoveries",
                    "dismissed"
                  ],
                  "properties": {
                    "discoveries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KeywordDiscovery"
                      }
                    },
                    "dismissed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/trackers/{id}/discoveries/accept": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TrackerId"
        }
      ],
      "post": {
        "operationId": "acceptKeywordDiscovery",
        "summary": "Accept a suggestion, or a batch",
        "description": "Turns the domains into tracked keywords, in place, within the keyword cap. Send `domain` for\none or `domains` for several, never both; the answer echoes the shape you sent, `keyword` for\none and `keywords` for a batch, plus the updated tracker. A batch is all or nothing.\nManager or above.\n",
        "tags": [
          "Keyword discovery"
        ],
        "x-scope": "write",
        "x-mcp-tool": "accept_keyword_discovery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainOrDomains"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The keywords now tracked, and the tracker as it stands.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tracker"
                  ],
                  "properties": {
                    "keyword": {
                      "type": "string",
                      "description": "Present when `domain` was sent."
                    },
                    "keywords": {
                      "type": "array",
                      "description": "Present when `domains` was sent.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "tracker": {
                      "$ref": "#/components/schemas/Tracker"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`keyword_cap_reached`, which carries the cap as `keyword_cap`, or `not_editable` on a\nretired version.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "A domain is not among the current suggestions of the tracker; `domains` lists the\noffenders.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/trackers/{id}/discoveries/dismiss": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TrackerId"
        }
      ],
      "post": {
        "operationId": "dismissKeywordDiscovery",
        "summary": "Dismiss a suggestion, or a batch",
        "description": "Retires the domains: never proposed again on this tracker. Dismissing an already dismissed\ndomain answers the same. Manager or above.\n",
        "tags": [
          "Keyword discovery"
        ],
        "x-scope": "write",
        "x-mcp-tool": "dismiss_keyword_discovery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainOrDomains"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The domains now set aside, in the shape that was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "dismissed"
                  ],
                  "properties": {
                    "dismissed": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`not_editable`: a retired tracker version is revision history.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "A domain is not among the current suggestions; `domains` lists the offenders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/trackers/{id}/discoveries/restore": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TrackerId"
        }
      ],
      "post": {
        "operationId": "restoreKeywordDiscovery",
        "summary": "Restore a dismissed domain, or a batch",
        "description": "Takes a domain back out of `dismissed`, so discovery may surface it again. Idempotent:\nrestoring a domain that was not dismissed leaves it eligible. Manager or above.\n",
        "tags": [
          "Keyword discovery"
        ],
        "x-scope": "write",
        "x-mcp-tool": "restore_keyword_discovery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainOrDomains"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The domains now eligible again, in the shape that was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "restored"
                  ],
                  "properties": {
                    "restored": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`not_editable`: a retired tracker version is revision history.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List the projects of the account",
        "description": "The folders trackers are filed under: one per client for an agency, one per website or brand\nfor an organization. The folders still in use come first, then the ones filed away. A tracker\nwithout a project lives under the virtual `Default` project, which has no row and no id.\n",
        "tags": [
          "Projects"
        ],
        "x-scope": "read",
        "x-mcp-tool": "list_projects",
        "responses": {
          "200": {
            "description": "The projects of the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "projects"
                  ],
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "description": "Creates a folder. The canon carried at creation is recorded as version 1. When the name is\nalready taken (case, accents and spacing do not make two different names), `409\nproject_exists` carries the existing project, so reuse its id. Manager or above.\n",
        "tags": [
          "Projects"
        ],
        "x-scope": "write",
        "x-mcp-tool": "create_project",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "name"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the folder, unique per account."
                      }
                    }
                  },
                  {
                    "$ref": "#/components/schemas/CanonFields"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "`project_exists`: the answer carries the existing project as `project`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "project": {
                          "$ref": "#/components/schemas/Project"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "`invalid_name` or `invalid_canon`: the message names what it refuses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/projects/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "patch": {
        "operationId": "renameProject",
        "summary": "Rename a project",
        "description": "The folder keeps its id, its canon, its trackers, its surfaces and its logbook: the name\nshown is the only thing that changes. Sending the name it already carries answers the same.\nManager or above.\n",
        "tags": [
          "Projects"
        ],
        "x-scope": "write",
        "x-mcp-tool": "rename_project",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The project, renamed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "`project_exists`: another project of the account already goes by this name, and the\nanswer carries it as `project`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "project": {
                          "$ref": "#/components/schemas/Project"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "`invalid_name`: a non-empty name, of at most the length the message names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/projects/{id}/canon": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "getCanon",
        "summary": "Read the brand canon and its history",
        "description": "`canon` is the current wording and `canon_version` its number. `history` carries every\nversion, newest first, each with the fields it touched, before and after: read it to\nRE-PROPAGATE a revision, since the logbook says which keys moved and when, and this says what\nthey moved from and to.\n",
        "tags": [
          "Projects"
        ],
        "x-scope": "read",
        "x-mcp-tool": "get_canon",
        "responses": {
          "200": {
            "description": "The canon of the project and the history of its revisions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "project_id",
                    "project",
                    "canon",
                    "canon_version",
                    "history"
                  ],
                  "properties": {
                    "project_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "project": {
                      "type": "string"
                    },
                    "canon": {
                      "$ref": "#/components/schemas/Canon"
                    },
                    "canon_version": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "The number of the current version, null when the canon was never posted."
                    },
                    "history": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CanonVersion"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updateProjectCanon",
        "summary": "Revise the brand canon",
        "description": "Field by field: a sent field replaces the current wording (an empty string or `null` clears\nit), an omitted field is kept as is. Any actual change records the next canon version,\nimmutable, and `version_created` says whether one was recorded; sending identical wording\nrecords nothing. The canon is meant to stay stable, so confirm with the person before\ncalling. Manager or above.\n",
        "tags": [
          "Projects"
        ],
        "x-scope": "write",
        "x-mcp-tool": "update_project_canon",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CanonFields"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The project as it now stands, and whether a version was recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "project",
                    "version_created"
                  ],
                  "properties": {
                    "project": {
                      "$ref": "#/components/schemas/Project"
                    },
                    "version_created": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`invalid_canon`: a field is empty where it must not be, or past its cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/projects/{id}/archive": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "post": {
        "operationId": "archiveProject",
        "summary": "File a project away, or bring it back",
        "description": "The body is the STATE you want: omitted it files the project away, `{\"archived\": false}`\nbrings it back, and both moves answer the same when replayed. Nothing cascades: the trackers\nfiled under it keep their status and keep measuring, and the answer carries `tracker_count`,\nhow many are still filed under it. Manager or above.\n",
        "tags": [
          "Projects"
        ],
        "x-scope": "write",
        "x-mcp-tool": "archive_project",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The project, filed away or back in use.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "`invalid_project`: `archived` must be a boolean.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/projects/{id}/link-targets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "getLinkTargets",
        "summary": "Read the addresses of the brand a third-party link can point to",
        "description": "`derived` is what is already covered from work done elsewhere, each row with its `source`:\n`canon` (the canonical website) or `surface` (a page of the surface registry). `free` is what\nhas been set on the project on top of those. Read it before setting anything: an address\nalready derived needs no entry of its own.\n",
        "tags": [
          "Projects"
        ],
        "x-scope": "read",
        "x-mcp-tool": "get_link_targets",
        "responses": {
          "200": {
            "description": "The link targets of the project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkTargets"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "put": {
        "operationId": "setLinkTargets",
        "summary": "Set the free addresses of the brand",
        "description": "The addresses that are neither the canon website nor a surface: a satellite domain kept\noutside the registry, a tracking link, a partner page. They are set ONCE for the project and\nserve every line of the corroboration registry, present and future. The list REPLACES the\nprevious one, and the answer returns what the project now holds, derived addresses included.\nAn empty list keeps the derived ones. Manager or above.\n",
        "tags": [
          "Projects"
        ],
        "x-scope": "write",
        "x-mcp-tool": "set_link_targets",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "link_targets"
                ],
                "properties": {
                  "link_targets": {
                    "type": "array",
                    "description": "The full list of the free addresses, as absolute http(s) URLs.",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The link targets the project now holds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkTargets"
                }
              }
            }
          },
          "422": {
            "description": "`invalid_link_targets`: the message says what the list takes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/projects/{id}/surfaces": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "listSurfaces",
        "summary": "List the surface registry of a project",
        "description": "The pages about the brand where the customer has the final say, each with the derived canon\nstatus of the surface and the measured authority of the domain it sits on.\n",
        "tags": [
          "Surfaces"
        ],
        "x-scope": "read",
        "x-mcp-tool": "list_surfaces",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "`registry`, the default, orders by shown name, the order where a known line is found\nagain; `authority` orders by the measured authority of the domain, the most read first.\nIt orders and never filters: every surface stays in the answer.\n",
            "schema": {
              "type": "string",
              "enum": [
                "registry",
                "authority"
              ]
            }
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "description": "`only` lists what is out of the registry, most recently taken out first. Omitted, the\nread carries the registry alone.\n",
            "schema": {
              "type": "string",
              "enum": [
                "only"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The surfaces of the project.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "surfaces"
                  ],
                  "properties": {
                    "surfaces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Surface"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`invalid_sort` or `invalid_filter`: the message names the accepted values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createSurface",
        "summary": "Register a surface",
        "description": "Registers one from its `url` alone: the `type` and the `label` are DERIVED from the address,\nso an agent has no superfluous decision to make. Send `type` or `label` only to correct a\nderivation. The surface is born never aligned. Manager or above.\n",
        "tags": [
          "Surfaces"
        ],
        "x-scope": "write",
        "x-mcp-tool": "create_surface",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The exact page, absolute http(s)."
                  },
                  "type": {
                    "$ref": "#/components/schemas/SurfaceType"
                  },
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "languages": {
                    "type": "array",
                    "description": "Short language codes, like `[\"en\", \"pt-br\"]`. They are the columns of the checklist.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The surface, registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurfaceEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "`invalid_type` (the message lists the catalogue) or `invalid_surface`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/surfaces/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SurfaceId"
        }
      ],
      "patch": {
        "operationId": "updateSurface",
        "summary": "Update the registry sheet of a surface",
        "description": "Only the fields you send change, and a sent `languages` list replaces the previous one.\n`label` and `notes` clear on an empty string or `null`; the `url` never clears, so `null`\nleaves it as it was. Languages ARE the columns of the checklist, so a sheet edit can move\nwhich cells are read: the columns that leave the model come back in\n`dropped_checklist_columns`, always present, and their cells stay stored. No journal line is\never written here. Manager or above.\n",
        "tags": [
          "Surfaces"
        ],
        "x-scope": "write",
        "x-mcp-tool": "update_surface",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri"
                  },
                  "type": {
                    "$ref": "#/components/schemas/SurfaceType"
                  },
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The surface, and the checklist columns that left the model.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "surface",
                    "dropped_checklist_columns"
                  ],
                  "properties": {
                    "surface": {
                      "$ref": "#/components/schemas/Surface"
                    },
                    "dropped_checklist_columns": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DroppedChecklistColumn"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`invalid_surface` or `invalid_type`, and nothing changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteSurface",
        "summary": "Take a surface out of the registry",
        "description": "The surface leaves the registry and everything derived from it: the canon statuses, the quest\nfile, the counts, the curve annotations. Its sheet and its alignment journal are kept as they\nare, and `POST /surfaces/{id}/restore` brings the surface back with them. Idempotent.\nManager or above.\n",
        "tags": [
          "Surfaces"
        ],
        "x-scope": "write",
        "x-mcp-tool": "delete_surface",
        "responses": {
          "200": {
            "description": "The surface, out of the registry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurfaceEnvelope"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/surfaces/{id}/restore": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SurfaceId"
        }
      ],
      "post": {
        "operationId": "restoreSurface",
        "summary": "Bring a surface back to the registry",
        "description": "Brings it back with its sheet and its alignment journal. Idempotent. Manager or above.\n",
        "tags": [
          "Surfaces"
        ],
        "x-scope": "write",
        "x-mcp-tool": "restore_surface",
        "responses": {
          "200": {
            "description": "The surface, back in the registry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurfaceEnvelope"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/surfaces/{id}/checklist": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SurfaceId"
        }
      ],
      "patch": {
        "operationId": "tickSurfaceChecklist",
        "summary": "Verify, set aside or clear checklist cells",
        "description": "Three moves per cell. VERIFY (`done` true, or nothing sent): the item is constated on the\npage, and a canon-kind item is stamped with the current version and wording. SET ASIDE\n(`dismissed` true plus a short `reason`): the item does not apply on THIS surface; it leaves\nthe denominator, survives canon revisions, and is undone by sending `dismissed` false. CLEAR\n(`done` false): the cell returns to blank. Only the cells you send change. The batch is all\nor nothing, so a verification pass is never half recorded. The aligned status derives from\nthe cells of `checklist.required`. Manager or above.\n",
        "tags": [
          "Surfaces"
        ],
        "x-scope": "write",
        "x-mcp-tool": "tick_surface_checklist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ticks"
                ],
                "properties": {
                  "ticks": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "$ref": "#/components/schemas/ChecklistTick"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The surface, with the checklist as it now reads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurfaceEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "`no_canon` (a canon cell has nothing to restate: set the canon, then tick again),\n`not_a_surface` (setting aside the last canon cell), or `surface_deleted` (bring the\nsurface back first).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`invalid_checklist`: unknown item, unknown language, a language on a site-wide item, or a\nset-aside without reason. The message says what to send, and not a single tick is written.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/surfaces/{id}/checks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SurfaceId"
        }
      ],
      "post": {
        "operationId": "addSurfaceCheck",
        "summary": "Add a check of your own to the checklist of a surface",
        "description": "A requirement the customer holds on THAT page, in their words, REQUIRED for it to count as\naligned. `label` is the only field due. `restates_canon` is the one judgement to make: true\nwhen the check restates the WORDING of the canon, so its verification perishes when the\nwording moves; false, the default, when it constates anything else. Sending the same label\nagain returns the check already there and brings it back from the trash if it slept there\n(`201` on creation, `200` otherwise). A surface holds up to twenty checks of your own.\nManager or above.\n",
        "tags": [
          "Surfaces"
        ],
        "x-scope": "write",
        "x-mcp-tool": "add_surface_check",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label"
                ],
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "The wording of the check. The key derives from it at birth and then freezes."
                  },
                  "scope": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ChecklistScope"
                      }
                    ],
                    "description": "`language`, the default, is one cell per language of the surface; `site` one cell for the whole site."
                  },
                  "restates_canon": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The surface, and the key of the check that was added.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurfaceCheckEnvelope"
                }
              }
            }
          },
          "200": {
            "description": "The check already existed under this label: the surface and its key come back.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurfaceCheckEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "`check_cap_reached`, `duplicate_check` or `surface_deleted`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`invalid_check`: the message names the field it refuses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/surfaces/{id}/checks/{key}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SurfaceId"
        },
        {
          "$ref": "#/components/parameters/CheckKey"
        }
      ],
      "patch": {
        "operationId": "updateSurfaceCheck",
        "summary": "Correct a check of your own",
        "description": "Its label, and whether it restates the canon. The key never moves, being the coordinate of\nthe cells already recorded, so renaming keeps every tick. Manager or above.\n",
        "tags": [
          "Surfaces"
        ],
        "x-scope": "write",
        "x-mcp-tool": "update_surface_check",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "restates_canon": {
                    "type": [
                      "boolean",
                      "null"
                    ],
                    "description": "Omitted or null, it is kept as is."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The surface, with the check as it now reads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurfaceEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "`duplicate_check` or `surface_deleted`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`invalid_check`: the message names the field it refuses.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteSurfaceCheck",
        "summary": "Take a check of your own out of the checklist",
        "description": "It leaves the checklist and stops holding the page short of aligned, while the definition and\nits cells are kept, read back in `checklist.custom` with `deleted` true. Manager or above.\n",
        "tags": [
          "Surfaces"
        ],
        "x-scope": "write",
        "x-mcp-tool": "delete_surface_check",
        "responses": {
          "200": {
            "description": "The surface, with the check out of the checklist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurfaceEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "`surface_deleted`: bring the surface back first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`unknown_check`, or an unknown surface.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/surfaces/{id}/checks/{key}/restore": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SurfaceId"
        },
        {
          "$ref": "#/components/parameters/CheckKey"
        }
      ],
      "post": {
        "operationId": "restoreSurfaceCheck",
        "summary": "Bring a check of your own back to the checklist",
        "description": "Brings it back with the cells it had. Manager or above.",
        "tags": [
          "Surfaces"
        ],
        "x-scope": "write",
        "x-mcp-tool": "restore_surface_check",
        "responses": {
          "200": {
            "description": "The surface, with the check back in the checklist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurfaceEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "`surface_deleted`: bring the surface back first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`unknown_check`, or an unknown surface.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/surfaces/{id}/convert-to-corroboration": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SurfaceId"
        }
      ],
      "post": {
        "operationId": "convertSurfaceToCorroboration",
        "summary": "Move a page to the corroboration registry",
        "description": "For a line filed on the wrong side, or a page whose final say moved to someone else. Nothing\nis retyped: `url`, `label` and `notes` travel, and the publication date stays unknown rather\nthan guessed. The surface goes to the trash with its alignment journal, and the reverse move\nexists, so a replay finds the same line instead of duplicating it (`201` on creation, `200`\nwhen the page already slept in the registry and was put back live). Manager or above.\n",
        "tags": [
          "Surfaces"
        ],
        "x-scope": "write",
        "x-mcp-tool": "convert_surface_to_corroboration",
        "responses": {
          "201": {
            "description": "The corroboration, recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorroborationEnvelope"
                }
              }
            }
          },
          "200": {
            "description": "The corroboration already existed and was put back live.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorroborationEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "`own_domain`: the own site of the brand stays a surface. The other refusals of the\nregistry answer with their own slug.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/projects/{id}/corroborations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "listCorroborations",
        "summary": "List the corroboration registry of a project",
        "description": "The pages about the brand where someone else has the final say, each with its exact address,\nlive ones first. Recording is DECLARING: a corroboration carries its `domain` as a plain\nstring, and it can sit on a domain no survey has ever cited. To see whether that source is on\nthe Atlas, search it with `GET /sources?domain=`.\n",
        "tags": [
          "Corroborations"
        ],
        "x-scope": "read",
        "x-mcp-tool": "list_corroborations",
        "responses": {
          "200": {
            "description": "The corroborations of the project.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "corroborations"
                  ],
                  "properties": {
                    "corroborations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Corroboration"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "createCorroboration",
        "summary": "Record a corroboration",
        "description": "Records one from its `url` alone, the exact page and never the home page of the site: the\n`domain` and the `label` are DERIVED from the address. Record a page you have actually read:\nit is a statement of fact, so confirm with the person first. Manager or above.\n",
        "tags": [
          "Corroborations"
        ],
        "x-scope": "write",
        "x-mcp-tool": "create_corroboration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The exact page, absolute http(s)."
                  },
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "published_on": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date",
                    "description": "The day the page was PUBLISHED, as `YYYY-MM-DD`, null when unknown rather than guessed."
                  },
                  "request_channel": {
                    "$ref": "#/components/schemas/RequestChannel"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The corroboration, recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorroborationEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "`duplicate`: this page is already in the registry of this project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`unplaceable_url` (the address has no registrable domain), `own_domain` (this is the own\nsite of the brand: use `POST /projects/{id}/surfaces`), or `invalid_corroboration`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/projects/{id}/corroborations/monitoring": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "post": {
        "operationId": "setRegistryMonitoring",
        "summary": "Set the watching cadence of the whole registry",
        "description": "Sets the cadence in one move, `off` to stop it. Arming covers the live readable lines,\nstopping never refuses, and the answer carries the count covered, so nothing has to be\nre-listed. Manager or above.\n",
        "tags": [
          "Corroborations"
        ],
        "x-scope": "write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "monitoring": {
                    "$ref": "#/components/schemas/MonitoringCadence"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The cadence now set, and how many lines it covered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "monitoring",
                    "corroborations"
                  ],
                  "properties": {
                    "monitoring": {
                      "$ref": "#/components/schemas/MonitoringCadence"
                    },
                    "corroborations": {
                      "type": "integer",
                      "description": "How many lines of the registry the move covered."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`invalid_monitoring`: the message lists the catalogue.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/corroborations/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CorroborationId"
        }
      ],
      "patch": {
        "operationId": "updateCorroboration",
        "summary": "Update the sheet of a corroboration",
        "description": "Only the fields you send change. `label` and `notes` clear on an empty string or `null`, and\na cleared label goes back to the derived one; `published_on` clears the same way; the `url`\nnever clears, so `null` leaves it as it was. Correcting the `url` ALWAYS recomputes the\n`domain`. `monitoring` arms the automatic watching of the line: it states a STATE, so\nre-sending a value changes nothing, and it evaluates on the sheet as it lands. Manager or\nabove.\n",
        "tags": [
          "Corroborations"
        ],
        "x-scope": "write",
        "x-mcp-tool": "update_corroboration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri"
                  },
                  "label": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "published_on": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date"
                  },
                  "request_channel": {
                    "$ref": "#/components/schemas/RequestChannel"
                  },
                  "monitoring": {
                    "$ref": "#/components/schemas/MonitoringCadence"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The corroboration as it now stands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorroborationEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "`corroboration_archived` or `page_not_readable`: watching applies to a live line whose\npage reads, and `off` is always accepted.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "`invalid_corroboration`, `unplaceable_url` or `own_domain`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/corroborations/{id}/verify": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CorroborationId"
        }
      ],
      "post": {
        "operationId": "verifyCorroboration",
        "summary": "Read the page now, on demand",
        "description": "One pass refreshes the two findings of the line, dated, and every line carries the latest\nresult as `page_check`. On the MENTION: the passage around the brand is archived on the line,\nand when a change has been found, `excerpt_before` carries the passage as it stood before\n`changed_at`. On the LINK: every link of the page towards an address of the brand, each with\nits rel tokens, its anchor text and its target. Free of charge. Manager or above.\n",
        "tags": [
          "Corroborations"
        ],
        "x-scope": "write",
        "x-mcp-tool": "verify_corroboration",
        "responses": {
          "200": {
            "description": "The corroboration, with the findings of the pass.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorroborationEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "`corroboration_archived`: put the line back live with `POST /corroborations/{id}/archive`\nand `{\"archived\": false}` to check it again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/corroborations/{id}/archive": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CorroborationId"
        }
      ],
      "post": {
        "operationId": "archiveCorroboration",
        "summary": "Record that the page is gone, or put it back live",
        "description": "The body is the STATE you want: omitted it records that the page is gone, `{\"archived\":\nfalse}` puts it back live, and replaying it never undoes what it just did. The line and its\nhistory stay, because \"they talked about us from March to July\" is information. A recording\nmistake is fixed with a PATCH. Manager or above.\n",
        "tags": [
          "Corroborations"
        ],
        "x-scope": "write",
        "x-mcp-tool": "archive_corroboration",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveState"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The corroboration, taken down or back live.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorroborationEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "`invalid_corroboration`: `archived` must be a boolean.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientScope"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/corroborations/{id}/convert-to-surface": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CorroborationId"
        }
      ],
      "post": {
        "operationId": "convertCorroborationToSurface",
        "summary": "Move a page to the surface registry",
        "description": "When the customer has, or takes, the final say on it: their own profile filed on the wrong\nside, or a source that became a reliable channel. Nothing is retyped: `url`, `label` and\n`notes` travel, the publication date is copied into the notes, the type derives from the\naddress. A replay finds the same line instead of duplicating it (`201` on creation, `200`\nwhen the page already slept in the surface registry and was brought back). Manager or above.\n",
        "tags": [
          "Corroborations"
        ],
        "x-scope": "write",
        "x-mcp-tool": "convert_corroboration_to_surface",
        "responses": {
          "201": {
            "description": "The surface, registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurfaceEnvelope"
                }
[...]
