{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "d.nagikh@brainq.com",
      "name": "Daniil Nagikh",
      "url": "http://t.me/dnagikh"
    },
    "description": "Houston RestAPI",
    "title": "Houston (vsc pool)",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Webrain/Houston/v1"
  },
  "servers": [
    {
      "url": "https://houston.brainq.com/api/v1"
    }
  ],
  "paths": {
    "/nodes": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.NodeListResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Nodes"
        ],
        "description": "Get full list of existing nodes",
        "operationId": "node-list",
        "summary": "Get list of nodes"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.NodeCreateResponse"
                }
              }
            },
            "description": "Created"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Nodes"
        ],
        "description": "Create new node",
        "operationId": "node-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.NodeCreateRequest"
              }
            }
          },
          "description": "Node params",
          "required": true
        },
        "summary": "Create new node"
      }
    },
    "/nodes/{node_xid}/vm": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "node_xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.VmListResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "VM"
        ],
        "description": "All VM we have",
        "operationId": "vm-list",
        "summary": "Get VM list"
      }
    },
    "/nodes/{node_xid}/vm/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "node_xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "VM UID (UUIDv4)",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.VmDetailResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "VM"
        ],
        "description": "Detail information about existing VM",
        "operationId": "vm-detail",
        "summary": "Get VM details"
      }
    },
    "/nodes/{node_xid}/vm/{id}/events": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "node_xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "VM UID (UUIDv4)",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort field",
            "in": "query",
            "name": "sort",
            "schema": {
              "default": "ts",
              "enum": [
                "ts"
              ],
              "type": "string"
            }
          },
          {
            "description": "Sort order",
            "in": "query",
            "name": "order",
            "schema": {
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.VmEventsResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "VM"
        ],
        "description": "List of events for VM",
        "operationId": "vm-events",
        "summary": "Get VM events"
      }
    },
    "/nodes/{node_xid}/vm/{id}/metrics": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "node_xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "VM UID (UUIDv4)",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Metrics timeframe (default: 3h). Supported: 1m, 30m, 3h, 1d, 7d",
            "in": "query",
            "name": "timeframe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.VmMetricsResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "VM"
        ],
        "description": "List of metrics for VM",
        "operationId": "vm-metrics",
        "summary": "Get VM metrics"
      }
    },
    "/nodes/{node_xid}/vm/{id}/traffic-usage": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "node_xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "VM UID (UUIDv4)",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time from, RFC3339",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time to, RFC3339",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.VMTrafficUsageResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "VM"
        ],
        "description": "VM traffic usage",
        "operationId": "vm-traffic-usage",
        "summary": "Get VM traffic usage"
      }
    },
    "/nodes/{node_xid}/vm/{id}/uptime": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "node_xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "VM UID (UUIDv4)",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.VMUptimeResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "VM"
        ],
        "description": "VM uptime",
        "operationId": "vm-uptime",
        "summary": "Get VM uptime"
      }
    },
    "/nodes/{xid}": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.NodeDetailResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Nodes"
        ],
        "description": "Get node details",
        "operationId": "node-detail",
        "summary": "Get node details"
      },
      "patch": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.EmptyResponse"
                }
              }
            },
            "description": "No Content"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Bad request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Nodes"
        ],
        "description": "Partial update of node fields",
        "operationId": "node-patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.NodePatchRequest"
              }
            }
          },
          "description": "Fields to update",
          "required": true
        },
        "summary": "Patch node"
      }
    },
    "/nodes/{xid}/events": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.NodeEventsResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Nodes"
        ],
        "description": "List of events for the node",
        "operationId": "node-events",
        "summary": "Get node events"
      }
    },
    "/nodes/{xid}/metrics": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Metrics timeframe (default: 3h). Supported: 1m, 30m, 3h, 1d, 7d",
            "in": "query",
            "name": "timeframe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.NodeMetricsResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Nodes"
        ],
        "description": "List of metrics for the node",
        "operationId": "node-metrics",
        "summary": "Get node metrics"
      }
    },
    "/nodes/{xid}/traffic-usage": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time from, RFC3339",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time to, RFC3339",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.NodeTrafficUsageResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Nodes"
        ],
        "description": "Node traffic usage",
        "operationId": "node-traffic-usage",
        "summary": "Get Node traffic usage"
      }
    },
    "/nodes/{xid}/uptime": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.NodeUptimeResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Nodes"
        ],
        "description": "Node uptime",
        "operationId": "node-uptime",
        "summary": "Get Node uptime"
      }
    },
    "/nodes/{xid}/uptime/intervals": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time from, RFC3339",
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time to, RFC3339",
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.NodeUptimeIntervalResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Nodes"
        ],
        "description": "List of intervals",
        "operationId": "node-uptime-intervals",
        "summary": "Get node uptime intervals"
      }
    },
    "/nodes/{xid}/uptime/sli": {
      "get": {
        "parameters": [
          {
            "description": "Node ID (UUIDv4 or HostManiacID)",
            "in": "path",
            "name": "xid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time from, RFC3339",
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Time to, RFC3339",
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.NodeUptimeIntervalResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Nodes"
        ],
        "description": "Node SLI",
        "operationId": "node-sli",
        "summary": "Get node SLI"
      }
    },
    "/releases/{target}": {
      "get": {
        "parameters": [
          {
            "description": "Target name (one of: agent, mender)",
            "in": "path",
            "name": "target",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Releases"
        ],
        "description": "Get full list of existing releases",
        "operationId": "releases",
        "summary": "Get list of releases"
      }
    },
    "/releases/{target}/version": {
      "get": {
        "parameters": [
          {
            "description": "Target name (one of: agent, mender)",
            "in": "path",
            "name": "target",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Releases"
        ],
        "description": "Check version",
        "operationId": "check-version",
        "summary": "Check version"
      }
    },
    "/releases/{target}/{tag}/files": {
      "get": {
        "parameters": [
          {
            "description": "Target name (one of: agent, mender)",
            "in": "path",
            "name": "target",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Release tag (e.g. v.0.0.12 or 'latest')",
            "in": "path",
            "name": "tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Releases"
        ],
        "description": "Get release files",
        "operationId": "release-files",
        "summary": "Get release files"
      }
    },
    "/releases/{target}/{tag}/files/{file}": {
      "get": {
        "parameters": [
          {
            "description": "Target name (one of: agent, mender)",
            "in": "path",
            "name": "target",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Release tag (e.g. v.0.0.12 or 'latest')",
            "in": "path",
            "name": "tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "File name with extension (e.g. manifest.json)",
            "in": "path",
            "name": "file",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {}
            },
            "description": "File content"
          },
          "404": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Not found"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Releases"
        ],
        "description": "Download release file",
        "operationId": "download-release-file",
        "summary": "Download release file"
      }
    },
    "/vm/summary": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dto.VMSummaryBatchResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain.AppError"
                }
              }
            },
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "VM"
        ],
        "description": "VM summary batch",
        "operationId": "vm-summary-batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dto.VMSummaryBatchRequest"
              }
            }
          },
          "description": "VM UIDs",
          "required": true
        },
        "summary": "Get VM summary batch"
      }
    }
  },
  "components": {
    "schemas": {
      "domain.AppError": {
        "properties": {
          "code": {
            "type": "string"
          },
          "details": {
            "additionalProperties": {},
            "type": "object"
          },
          "err": {
            "description": "internal error"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "domain.NodeState": {
        "enum": [
          "",
          "up",
          "down"
        ],
        "type": "string",
        "x-enum-varnames": [
          "NodeStateUnknown",
          "NodeStateUp",
          "NodeStateDown"
        ]
      },
      "domain.Severity": {
        "enum": [
          "info",
          "warning",
          "error",
          "critical"
        ],
        "type": "string",
        "x-enum-varnames": [
          "SeverityInfo",
          "SeverityWarning",
          "SeverityError",
          "SeverityCritical"
        ]
      },
      "dto.EmptyResponse": {
        "type": "object"
      },
      "dto.ListNodeDto": {
        "properties": {
          "addresses": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "arch": {
            "type": "string"
          },
          "data": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/domain.NodeState"
          },
          "state_duration_sec": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dto.NodeCreateRequest": {
        "properties": {
          "addresses": {
            "example": [
              "10.0.0.10"
            ],
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "type": "array"
          },
          "arch": {
            "example": "x86_64",
            "type": "string"
          },
          "disk_bytes": {
            "example": 2000000000000,
            "type": "integer"
          },
          "external_id": {
            "example": 123456,
            "type": "integer"
          },
          "location": {
            "example": "de-fra",
            "type": "string"
          },
          "memory_bytes": {
            "example": 137438953472,
            "type": "integer"
          },
          "name": {
            "example": "node-01",
            "type": "string"
          },
          "os": {
            "example": "ubuntu-24.04",
            "type": "string"
          },
          "vcpu_count": {
            "example": 32,
            "type": "integer"
          }
        },
        "required": [
          "addresses",
          "external_id",
          "location",
          "name"
        ],
        "type": "object"
      },
      "dto.NodeCreateResponse": {
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "dto.NodeDetailResponse": {
        "properties": {
          "result": {
            "$ref": "#/components/schemas/dto.NodeDto"
          }
        },
        "type": "object"
      },
      "dto.NodeDto": {
        "properties": {
          "addresses": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "arch": {
            "type": "string"
          },
          "data": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/domain.NodeState"
          }
        },
        "type": "object"
      },
      "dto.NodeEventDto": {
        "properties": {
          "reason": {
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/domain.Severity"
          },
          "source": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "ts": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "dto.NodeEventsResponse": {
        "properties": {
          "events": {
            "items": {
              "$ref": "#/components/schemas/dto.NodeEventDto"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "dto.NodeListResponse": {
        "properties": {
          "results": {
            "items": {
              "$ref": "#/components/schemas/dto.ListNodeDto"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "dto.NodeMetricsResponse": {
        "properties": {
          "rows": {
            "items": {
              "$ref": "#/components/schemas/dto.NodeMetricsRowDto"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "dto.NodeMetricsRowDto": {
        "properties": {
          "cpu_percent": {
            "type": "number"
          },
          "disk_rd_iops": {
            "type": "number"
          },
          "disk_rd_mbps": {
            "type": "number"
          },
          "disk_used_gb": {
            "type": "number"
          },
          "disk_wr_iops": {
            "type": "number"
          },
          "disk_wr_mbps": {
            "type": "number"
          },
          "mem_used_mb": {
            "type": "number"
          },
          "net_rx_mbps": {
            "type": "number"
          },
          "net_tx_mbps": {
            "type": "number"
          },
          "ts": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "dto.NodePatchRequest": {
        "properties": {
          "addresses": {
            "example": [
              "10.0.0.10"
            ],
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "type": "array"
          },
          "arch": {
            "type": "string"
          },
          "cpu": {
            "type": "integer"
          },
          "data": {
            "type": "string"
          },
          "disk": {
            "type": "integer"
          },
          "external_id": {
            "example": 123456,
            "type": "integer"
          },
          "location": {
            "type": "string"
          },
          "memory": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "os": {
            "type": "string"
          }
        },
        "required": [
          "addresses",
          "location",
          "name"
        ],
        "type": "object"
      },
      "dto.NodeTrafficUsageResponse": {
        "properties": {
          "rx_mb": {
            "type": "number"
          },
          "tx_mb": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "dto.NodeUptimeIntervalDto": {
        "properties": {
          "from_ts": {
            "type": "string"
          },
          "seconds": {
            "type": "number"
          },
          "state": {
            "$ref": "#/components/schemas/domain.NodeState"
          },
          "to_ts": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "dto.NodeUptimeIntervalResponse": {
        "properties": {
          "intervals": {
            "items": {
              "$ref": "#/components/schemas/dto.NodeUptimeIntervalDto"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "dto.NodeUptimeResponse": {
        "properties": {
          "state": {
            "type": "string"
          },
          "uptime_seconds": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dto.VMSummaryBatchItem": {
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "running": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "status_duration_sec": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dto.VMSummaryBatchRequest": {
        "properties": {
          "ids": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "dto.VMSummaryBatchResponse": {
        "properties": {
          "vms": {
            "items": {
              "$ref": "#/components/schemas/dto.VMSummaryBatchItem"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "dto.VMTrafficUsageResponse": {
        "properties": {
          "rx_mb": {
            "type": "number"
          },
          "tx_mb": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "dto.VMUptimeResponse": {
        "properties": {
          "state": {
            "type": "string"
          },
          "uptime_seconds": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dto.VmDetailResponse": {
        "properties": {
          "result": {
            "$ref": "#/components/schemas/dto.VmDto"
          }
        },
        "type": "object"
      },
      "dto.VmDto": {
        "properties": {
          "actual_status": {
            "type": "string"
          },
          "addresses": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "data": {
            "type": "string"
          },
          "desired_status": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "node_id": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "uid": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "dto.VmEventDto": {
        "properties": {
          "correlation_id": {
            "type": "string"
          },
          "event_callback": {
            "type": "string"
          },
          "event_detail": {
            "type": "string"
          },
          "event_reason": {
            "type": "string"
          },
          "event_type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "node_id": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "ts": {
            "type": "string"
          },
          "vm_state": {
            "type": "string"
          },
          "vm_uid": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "dto.VmEventsResponse": {
        "properties": {
          "events": {
            "items": {
              "$ref": "#/components/schemas/dto.VmEventDto"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "dto.VmListResponse": {
        "properties": {
          "results": {
            "items": {
              "$ref": "#/components/schemas/dto.VmDto"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "dto.VmMetricsResponse": {
        "properties": {
          "rows": {
            "items": {
              "$ref": "#/components/schemas/dto.VmMetricsRowDto"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "dto.VmMetricsRowDto": {
        "properties": {
          "cpu_percent": {
            "type": "number"
          },
          "disk_rd_iops": {
            "type": "number"
          },
          "disk_rd_mbps": {
            "type": "number"
          },
          "disk_used_gb": {
            "type": "number"
          },
          "disk_wr_iops": {
            "type": "number"
          },
          "disk_wr_mbps": {
            "type": "number"
          },
          "mem_used_mb": {
            "type": "number"
          },
          "net_rx_mbps": {
            "type": "number"
          },
          "net_tx_mbps": {
            "type": "number"
          },
          "ts": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  }
}