{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "api@valdit.com",
      "name": "Valdit Developers Desk",
      "url": "https://www.valdit.com/developers"
    },
    "description": "An API for validating VAT numbers against the EU VAT VIES Service.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "termsOfService": "See the Valdit Terms and Conditions (https://www.valdit.com/en-gb/legal/terms-and-conditions)",
    "title": "Valdit VAT Validation API",
    "version": "1.2.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/PTANIS/valdit-vat-validation-api/1.2.0"
  },
  "servers": [
    {
      "url": "https://api.valdit.com/api/v1"
    }
  ],
  "paths": {
    "/vatnumberchecks": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberSuccessResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberSuccessResponse"
                }
              }
            },
            "description": "A Business Entity has been created successfully and a VAT number check has been performed",
            "headers": {
              "Location": {
                "description": "URL pointing to the created Business Entity",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberSuccessResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberSuccessResponse"
                }
              }
            },
            "description": "A Business Entity has been created. The validation could not be performed at this time and has been deferred. The response contains preliminary data on the Business Entity and the VAT number validation results. The validation will be automatically repeated until a valid response has been received from the EU VAT VIES system.",
            "headers": {
              "Location": {
                "description": "URL pointing to the created Business Entity",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "303": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/successResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/successResponse"
                }
              }
            },
            "description": "Duplicate. A Business Entity with the provided VAT number already exists. A GET or a PUT operation should be used instead of a POST",
            "headers": {
              "Location": {
                "description": "URL pointing to the existing Business Entity",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberCreateFailResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberCreateFailResponse"
                }
              }
            },
            "description": "Bad Request. The VAT number check creation has failed. The response will provide information on why the call failed"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              }
            },
            "description": "Unauthorized. No OAuth 2.0 access-token was provided or the access-token was invalid or has expired"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              }
            },
            "description": "Payment Required: You have exceeded your monthly quota and the call could not be accepted"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              }
            },
            "description": "Too Many Requests: You have exceeded your daily quota"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "A server error has occurred. The response will contain additional information on the error"
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "vatnumberchecks:write"
            ]
          },
          {
            "oauth2_implicit": [
              "vatnumberchecks:write",
              "addresses:geocode"
            ]
          },
          {
            "oauth2_client": [
              "vatnumberchecks:write"
            ]
          },
          {
            "oauth2_client": [
              "vatnumberchecks:write",
              "addresses:geocode"
            ]
          }
        ],
        "tags": [
          "VatNumberChecks"
        ],
        "deprecated": false,
        "description": "Creates a Business Entity and performs the first VAT number validation for a new VAT number.",
        "operationId": "vatNumberChecks_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/newVatNumberCheck"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/newVatNumberCheck"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/newVatNumberCheck"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/newVatNumberCheck"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/newVatNumberCheck"
              }
            }
          },
          "description": "Defines a new VatNumberCheck to add to the Valdit VAT Validation system",
          "required": true
        },
        "summary": "Create a new VAT number Check"
      }
    },
    "/vatnumberchecks/{vatCountryCode}/{vatNumber}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/vatCountryCode"
          },
          {
            "$ref": "#/components/parameters/vatNumber"
          },
          {
            "description": "If specified, will be echoed in the response. Can be used to correlate request and response, e.g. when using asynchronous calls",
            "in": "query",
            "name": "correlationId",
            "required": false,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          },
          {
            "description": "Indicates if a new VAT-number Check should be made before returning the results. Defaults to 'false'",
            "in": "query",
            "name": "checkVatNumber",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberSuccessResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberSuccessResponse"
                }
              }
            },
            "description": "Success. The Response contains the data on the Business Entity and all the the VAT number validation records for this Business Entity."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberFailResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberFailResponse"
                }
              }
            },
            "description": "Bad Request. The response will provide information on why the call failed"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              }
            },
            "description": "Unauthorized. No OAuth 2.0 access-token was provided or the access-token was invalid or has expired"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberFailResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberFailResponse"
                }
              }
            },
            "description": "A Business Entity with the provided VAT number could not be found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              }
            },
            "description": "Too Many Requests: You have exceeded your daily quota"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "A server error has occurred. The response will contain additional information on the error"
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "vatnumberchecks:read"
            ]
          },
          {
            "oauth2_implicit": [
              "vatnumberchecks:read",
              "addresses:geocode"
            ]
          },
          {
            "oauth2_client": [
              "vatnumberchecks:read"
            ]
          },
          {
            "oauth2_client": [
              "vatnumberchecks:read",
              "addresses:geocode"
            ]
          }
        ],
        "tags": [
          "VatNumberChecks"
        ],
        "deprecated": false,
        "description": "Retrieves the existing information on the Business Entity and the records of all previous VAT number validations for this Business Entity",
        "operationId": "vatNumberChecks_get",
        "summary": "Get the VAT number Checks for a Business Entity"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/vatCountryCode"
          },
          {
            "$ref": "#/components/parameters/vatNumber"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberSuccessResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberSuccessResponse"
                }
              }
            },
            "description": "The Business Entity has been updated successfully and a new VAT number validation has been performed"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberSuccessResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberSuccessResponse"
                }
              }
            },
            "description": "The Business Entity has been updated. A new validation could not be performed at this time and has been deferred",
            "headers": {
              "Location": {
                "description": "URL of the updated VAT number check.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberUpdateFailResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberUpdateFailResponse"
                }
              }
            },
            "description": "Bad Request. The response will provide information on why the call failed"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              }
            },
            "description": "Unauthorized. No OAuth 2.0 access-token was provided or the access-token was invalid or has expired"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              }
            },
            "description": "Payment Required: You have exceeded your monthly quota and the call could not be accepted"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberUpdateFailResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/vatNumberUpdateFailResponse"
                }
              }
            },
            "description": "A Business Entity with the provided VAT number could not be found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/failResponse"
                }
              }
            },
            "description": "Too Many Requests: You have exceeded your daily quota"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "A server error has occurred. The response will contain additional information on the error"
          }
        },
        "security": [
          {
            "oauth2_implicit": [
              "vatnumberchecks:write"
            ]
          },
          {
            "oauth2_implicit": [
              "vatnumberchecks:write",
              "addresses:geocode"
            ]
          },
          {
            "oauth2_client": [
              "vatnumberchecks:write"
            ]
          },
          {
            "oauth2_client": [
              "vatnumberchecks:write",
              "addresses:geocode"
            ]
          }
        ],
        "tags": [
          "VatNumberChecks"
        ],
        "deprecated": false,
        "description": "Updates the information on the Business Entity by performing a new validation and returns this new and all past validation records. The PUT operation can also be used to update the settings for a Business Entity",
        "operationId": "vatNumberChecks_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateVatNumberCheck"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/updateVatNumberCheck"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/updateVatNumberCheck"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/updateVatNumberCheck"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/updateVatNumberCheck"
              }
            }
          }
        },
        "summary": "Update an existing VAT number Check"
      }
    }
  },
  "components": {
    "parameters": {
      "vatCountryCode": {
        "description": "Two-letter country code as used in the EU VAT System",
        "in": "path",
        "name": "vatCountryCode",
        "required": true,
        "schema": {
          "enum": [
            "AT",
            "BE",
            "BG",
            "CY",
            "CZ",
            "DE",
            "DK",
            "EE",
            "EL",
            "ES",
            "FI",
            "FR",
            "GB",
            "HR",
            "HU",
            "IE",
            "IT",
            "LT",
            "LU",
            "LV",
            "MT",
            "NL",
            "PL",
            "PT",
            "RO",
            "SE",
            "SI",
            "SK"
          ],
          "type": "string"
        }
      },
      "vatNumber": {
        "description": "An organisation's national VAT number as issued by the Tax Administration",
        "in": "path",
        "name": "vatNumber",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "address": {
        "description": "Structured Address",
        "properties": {
          "building": {
            "description": "Indicates a named location (building or set of buildings)",
            "example": "'t Waaghuis",
            "type": "string"
          },
          "city": {
            "description": "City",
            "example": "Zierikzee",
            "type": "string"
          },
          "countryCode": {
            "description": "ISO 3166-1 2-letter country code",
            "example": "NL",
            "type": "string"
          },
          "formattedAddress": {
            "description": "Formatted address, mostly used for postal mail. Does not contain country",
            "example": "Oude Haven 10A, 4301 DB Zierikzee",
            "type": "string"
          },
          "houseNumber": {
            "description": "Housenumber",
            "example": 10,
            "format": "int32",
            "type": "integer"
          },
          "houseNumberSuffix": {
            "description": "Suffix to the Housenumber",
            "example": "A",
            "type": "string"
          },
          "postalCode": {
            "description": "National postal code as used for postal mail",
            "example": "4301 DB",
            "type": "string"
          },
          "street": {
            "description": "Name of street or route",
            "example": "Oude Haven",
            "type": "string"
          }
        },
        "required": [
          "countryCode"
        ],
        "type": "object"
      },
      "errorResponse": {
        "properties": {
          "code": {
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "data": {
            "readOnly": true,
            "type": "object"
          },
          "message": {
            "readOnly": true,
            "type": "string"
          },
          "status": {
            "description": "Status",
            "enum": [
              "error"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "status",
          "message"
        ],
        "type": "object"
      },
      "failResponse": {
        "properties": {
          "data": {
            "readOnly": true,
            "type": "object"
          },
          "status": {
            "description": "Status",
            "enum": [
              "fail"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "status",
          "data"
        ],
        "type": "object"
      },
      "newVatNumberCheck": {
        "description": "Defines a new VatNumberCheck to add to the Valdit VAT Validation system",
        "properties": {
          "correlationId": {
            "description": "If specified, will be echoed in the response. Can be used to correlate request and response, e.g. when using asynchronous calls",
            "maxLength": 50,
            "type": "string"
          },
          "customerReference": {
            "description": "Set a unique reference to the Business Entity. Defined by the Customer",
            "maxLength": 50,
            "type": "string"
          },
          "vatCheckRecurrence": {
            "default": "none",
            "description": "Defines the schedule at which periodic checks for this VAT number should be make. Use 'none' for a one-time check. Defaults to 'none'",
            "enum": [
              "none",
              "weekly",
              "monthly",
              "quarterly"
            ],
            "type": "string"
          },
          "vatCountryCode": {
            "$ref": "#/components/schemas/vatCountryCode"
          },
          "vatNumber": {
            "description": "An organisation's national VAT number as issued by the Tax Administration",
            "type": "string"
          }
        },
        "required": [
          "vatCountryCode",
          "vatNumber"
        ],
        "type": "object"
      },
      "successResponse": {
        "properties": {
          "data": {
            "readOnly": true,
            "type": "object"
          },
          "status": {
            "description": "Status",
            "enum": [
              "success"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "status",
          "data"
        ],
        "type": "object"
      },
      "updateVatNumberCheck": {
        "description": "Defines the updates to an existing VatNumberCheck",
        "properties": {
          "checkVatNumber": {
            "default": true,
            "description": "Indicates if a new VAT-number Check should be made during this update",
            "type": "boolean"
          },
          "correlationId": {
            "description": "If specified, will be echoed in the response, can be used to correlate request and response, e.g. when using asynchronous calls",
            "maxLength": 50,
            "type": "string"
          },
          "customerReference": {
            "description": "Set a new reference to the Business Entity. Defined by the Customer",
            "maxLength": 50,
            "type": "string"
          },
          "vatCheckRecurrence": {
            "description": "Defines the new schedule at which periodic checks for this VAT number should be make. Use 'none' for a one-time check",
            "enum": [
              "none",
              "weekly",
              "monthly",
              "quarterly"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "valditBusinessEntity": {
        "description": "Business Entity for which the Vat Checks are performed",
        "properties": {
          "_id": {
            "description": "Unique Identifier of the Business Entity",
            "example": "5114f8a6c52e42bfa153049fd693698e",
            "maxLength": 32,
            "minLength": 32,
            "type": "string"
          },
          "businessAddress": {
            "$ref": "#/components/schemas/address"
          },
          "companyName": {
            "description": "Company Name",
            "example": "SA S.A. SPA MONOPOLE, COMPAGNIE FERMIERE DE SPA",
            "type": "string"
          },
          "customerReference": {
            "description": "A unique reference to the Business Entity, if set by the Customer",
            "maxLength": 50,
            "type": "string"
          },
          "vatNumberValidationInfo": {
            "$ref": "#/components/schemas/vatNumberValidationInfo"
          }
        },
        "required": [
          "_id"
        ],
        "type": "object"
      },
      "vatCountryCode": {
        "description": "Two-letter country code as used in the EU VAT System",
        "enum": [
          "AT",
          "BE",
          "BG",
          "CY",
          "CZ",
          "DE",
          "DK",
          "EE",
          "EL",
          "ES",
          "FI",
          "FR",
          "GB",
          "HR",
          "HU",
          "IE",
          "IT",
          "LT",
          "LU",
          "LV",
          "MT",
          "NL",
          "PL",
          "PT",
          "RO",
          "SE",
          "SI",
          "SK"
        ],
        "example": "BE",
        "type": "string"
      },
      "vatNumberCheck": {
        "description": "Vat-number Check",
        "properties": {
          "checkDate": {
            "description": "UTC Date-Time this check was made",
            "format": "date-time",
            "type": "string"
          },
          "checkResult": {
            "description": "Last Check Result",
            "enum": [
              "valid",
              "invalid",
              "unknown"
            ],
            "example": "valid",
            "type": "string"
          },
          "companyAddress": {
            "description": "Company Address",
            "example": "RUE AUGUSTE LAPORTE 34\n4900 SPA",
            "type": "string"
          },
          "companyName": {
            "description": "Company Name",
            "example": "SA S.A. SPA MONOPOLE, COMPAGNIE FERMIERE DE SPA",
            "type": "string"
          },
          "consultationNumber": {
            "description": "Consultation Number for this check as issued by the EU VAT-VIES service",
            "example": "WAPIAAAAVXk7EWul",
            "type": "string"
          },
          "unknownReason": {
            "description": "When available will indicate why the check has returned an 'unknown' checkResult",
            "type": "string"
          },
          "vatCountryCode": {
            "$ref": "#/components/schemas/vatCountryCode"
          },
          "vatNumber": {
            "description": "An organisation's national VAT number as issued by the Tax Administration",
            "example": "0420834005",
            "type": "string"
          }
        },
        "required": [
          "checkResult",
          "vatCountryCode",
          "vatNumber",
          "checkDate"
        ],
        "type": "object"
      },
      "vatNumberCreateFailResponse": {
        "description": "Contains information on why the create call failed",
        "properties": {
          "data": {
            "properties": {
              "newVatNumberCheck.correlationId": {
                "description": "Errors related to the CorrelationId provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "newVatNumberCheck.customerReference": {
                "description": "Errors related to the CustomerReference provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "newVatNumberCheck.vatCheckRecurrence": {
                "description": "Errors related to the Recurrence provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "newVatNumberCheck.vatCountryCode": {
                "description": "Errors related to the VatCountryCode provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "newVatNumberCheck.vatNumber": {
                "description": "Errors related to the VatNumber provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "status": {
            "description": "Status",
            "enum": [
              "fail"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      },
      "vatNumberFailResponse": {
        "properties": {
          "data": {
            "properties": {
              "vatCountryCode": {
                "description": "Errors related to the VatCountryCode provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "vatNumber": {
                "description": "Errors related to the VatNumber provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "status": {
            "description": "Status",
            "enum": [
              "fail"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      },
      "vatNumberSuccessResponse": {
        "description": "Contains the data on a Business Entity and the VAT number validation results for that Business Entity.",
        "properties": {
          "data": {
            "properties": {
              "correlationId": {
                "description": "Echoes the correlationId supplied in the request, when available.",
                "type": "string"
              },
              "valditBusinessEntity": {
                "$ref": "#/components/schemas/valditBusinessEntity"
              },
              "vatNumberChecks": {
                "description": "Collection of VAT number Checks performed for the Business Entity.",
                "items": {
                  "$ref": "#/components/schemas/vatNumberCheck"
                },
                "type": "array"
              }
            },
            "required": [
              "valditBusinessEntity",
              "vatNumberChecks"
            ],
            "type": "object"
          },
          "status": {
            "description": "Status",
            "enum": [
              "success"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "status",
          "data"
        ],
        "type": "object"
      },
      "vatNumberUpdateFailResponse": {
        "properties": {
          "data": {
            "properties": {
              "updateVatNumberCheck.checkVatNumber": {
                "description": "Errors related to the checkVatNumber value provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "updateVatNumberCheck.correlationId": {
                "description": "Errors related to the CorrelationId provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "updateVatNumberCheck.customerReference": {
                "description": "Errors related to the CustomerReference provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "updateVatNumberCheck.vatCheckRecurrence": {
                "description": "Errors related to the Recurrence provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "vatCountryCode": {
                "description": "Errors related to the VatCountryCode provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "vatNumber": {
                "description": "Errors related to the VatNumber provided",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "status": {
            "description": "Status",
            "enum": [
              "fail"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      },
      "vatNumberValidationInfo": {
        "description": "Contains information on the VAT number validation for a Business Entity",
        "properties": {
          "lastCheckDate": {
            "description": "Most recent VAT VIES Check Date-Time in UTC",
            "format": "date-time",
            "type": "string"
          },
          "lastCheckResult": {
            "description": "Most recent VAT VIES Check Result",
            "enum": [
              "valid",
              "invalid",
              "unknown"
            ],
            "example": "valid",
            "type": "string"
          },
          "vatCheckRecurrence": {
            "description": "Indicates the schedule at which automated periodic VAT number checks for this Business Entity are made",
            "enum": [
              "none",
              "weekly",
              "monthly",
              "quarterly"
            ],
            "example": "monthly",
            "type": "string"
          },
          "vatCountryCode": {
            "$ref": "#/components/schemas/vatCountryCode"
          },
          "vatNumber": {
            "description": "An organisation's national VAT number as issued by the Tax Administration",
            "example": "0420834005",
            "type": "string"
          },
          "vatNumberFormatValid": {
            "description": "Indicates whether the Business Entity's VAT number has a valid format.",
            "example": true,
            "type": "boolean"
          },
          "vatQScore": {
            "description": "Indicates the likeliness that the VAT number is valid on a 0-100 scale. Only provided in case the last VAT-number check returned an 'unknown' checkResult",
            "example": 68,
            "maximum": 100,
            "minimum": 0,
            "type": "integer"
          },
          "vatRegisteredAddress": {
            "description": "Company Address as returned by the VAT-VIES system on the most recently performed VAT number check",
            "example": "RUE AUGUSTE LAPORTE 34\n4900 SPA",
            "type": "string"
          }
        },
        "required": [
          "vatCountryCode",
          "vatNumber",
          "vatCheckRecurrence"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "oauth2_client": {
        "description": "OAuth2 Client Credentials",
        "flows": {
          "clientCredentials": {
            "scopes": {
              "addresses:geocode": "Retrieve structured Business Addresses",
              "vatnumberchecks:read": "Retrieve VAT number Checks",
              "vatnumberchecks:write": "Create and Update VAT number Checks"
            },
            "tokenUrl": "https://www.valdit.com/identity/connect/token"
          }
        },
        "type": "oauth2"
      },
      "oauth2_implicit": {
        "description": "OAuth2 Implicit Grant",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://www.valdit.com/identity/connect/authorize",
            "scopes": {
              "addresses:geocode": "Retrieve structured Business Addresses",
              "vatnumberchecks:read": "Retrieve VAT number Checks",
              "vatnumberchecks:write": "Create and Update VAT number Checks"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}