{
  "openapi": "3.1.0",
  "info": {
    "title": "Earnings Feed API",
    "version": "1.0.0",
    "description": "Access SEC filings, insider transactions, institutional holdings, and company data.\n\n## Authentication\n\nAll API endpoints require authentication via API key. Include your key in the Authorization header:\n\n```\nAuthorization: Bearer your_api_key\n```\n\n## Rate Limits\n\nThe tier-specific per-minute limits below apply to API-key and MCP requests. Interactive documentation tokens retain a\nfixed limit of 10 requests per minute, regardless of subscription tier:\n\n| Tier | Requests/minute | Requests/UTC month |\n|------|-----------------|--------------------|\n| Free | 15 | 5,000 |\n| Pro | 60 | 250,000 |\n| Trader | 300 | 2,000,000 |\n\nThe monthly allowance is account-wide and shared across API keys, interactive documentation, and MCP tool calls.\n\nAuthenticated responses that pass the minute throttle include both minute and monthly usage headers:\n- `X-RateLimit-Limit`: Maximum requests per minute\n- `X-RateLimit-Remaining`: Remaining requests in current window\n- `X-RateLimit-Reset`: Unix timestamp when the window resets\n- `X-RateLimit-Monthly-Limit`: Requests included per UTC calendar month\n- `X-RateLimit-Monthly-Remaining`: Remaining requests in the current UTC month\n- `X-RateLimit-Monthly-Reset`: Unix timestamp for the next UTC month\n- `X-RateLimit-Monthly-Policy`: currently `hard` for every tier\n\nEvery tier stops at its account-wide UTC monthly allowance: Free at 5,000 requests, Pro at 250,000, and Trader at\n2,000,000. Usage milestones are recorded at 70%, 90%, and 100% so integrations can upgrade before reaching the cap.\n\nFor a minute throttle, HTTP `429` uses code `RATE_LIMITED`, `X-RateLimit-Scope: minute`, and a `Retry-After`\nheader. Wait for that interval, add jitter, and cap retry attempts. A monthly cap uses code\n`MONTHLY_QUOTA_EXCEEDED`, `X-RateLimit-Scope: monthly`, reset timing, upgrade guidance, and an HTTP-date\n`Retry-After` value that points to the monthly reset; do not retry it in a loop.\n\n```js\nasync function fetchWithBackoff(url, options) {\n  for (let attempt = 0; attempt < 3; attempt++) {\n    const response = await fetch(url, options);\n    if (response.status !== 429 || attempt === 2) return response;\n\n    if (response.headers.get(\"X-RateLimit-Scope\") === \"monthly\") {\n      return response; // Wait for the monthly reset or upgrade; do not back off-loop.\n    }\n\n    const retryAfter = Number(response.headers.get(\"Retry-After\") ?? \"1\");\n    const jitterMs = Math.floor(Math.random() * 250);\n    await new Promise((resolve) => setTimeout(resolve, retryAfter * 1000 + jitterMs));\n  }\n}\n```\n\n## Pagination\n\nList endpoints use cursor-based pagination:\n- `limit`: Number of items per page (1-100, default 25)\n- `cursor`: Opaque cursor from previous response\n\nResponse includes:\n- `items`: Array of results\n- `nextCursor`: Cursor for next page (null if no more)\n- `hasMore`: Whether more items exist",
    "contact": {
      "name": "Earnings Feed Support",
      "url": "https://earningsfeed.com/support",
      "email": "support@earningsfeed.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://earningsfeed.com/terms"
    },
    "x-jentic-source-url": "https://earningsfeed.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://earningsfeed.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/filings": {
      "get": {
        "tags": [
          "Filings"
        ],
        "summary": "List SEC filings",
        "description": "Retrieve a paginated feed of SEC filings with optional filters.\n\n## Data Source\n\nReturns filings from SEC EDGAR, including annual reports, quarterly reports, current reports, and ownership filings. Updated continuously as new filings are accepted.\n\n## Form Type Categories\n\n| Category | Forms | Description |\n|----------|-------|-------------|\n| **Annual** | 10-K, 10-K/A, 20-F | Yearly financial statements |\n| **Quarterly** | 10-Q, 10-Q/A | Quarterly financial updates |\n| **Current** | 8-K, 8-K/A, 6-K | Material event disclosures |\n| **Ownership** | 3, 4, 5 | Insider transaction reports |\n| **Proxy** | DEF 14A, DEFA14A | Shareholder meeting materials |\n| **Registration** | S-1, S-3, S-4 | Securities registration |\n| **Institutional** | 13F-HR, SC 13D, SC 13G | Large holder disclosures |\n\n## Filtering Options\n\n- **forms**: Comma-separated form types (e.g., `10-K,10-Q,8-K`)\n- **cik**: SEC Central Index Key for specific company\n- **ticker**: Stock ticker symbol (e.g., `AAPL`)\n- **status**: `final` (excludes provisional), `provisional`, or `all`\n- **issuerType**: `company` (issuers) or `person` (individual filers)\n- **startDate/endDate**: Inclusive range of US Eastern calendar days (YYYY-MM-DD) of SEC acceptance, the same clock as `acceptTs`. A filing accepted at 8:01 PM ET on 2026-10-01 is returned for 2026-10-01 (the SEC's own filing date can be the next business day). Impossible dates such as 2026-02-30 return a 400.\n- **q**: Search by company name, accession number, or title\n\n## Example Use Cases\n\n1. **Track earnings season**: Filter by `forms=10-K,10-Q` + date range\n2. **Monitor a company**: Filter by `ticker=AAPL`\n3. **Watch insider activity**: Filter by `forms=4`\n4. **Find activist positions**: Filter by `forms=SC 13D`\n5. **Latest from all companies**: No filters, sorted by acceptance time\n\n## Response Notes\n\n- Results are sorted by `sortedAt` (acceptance timestamp, most recent first)\n- `provisional` filings are pending final SEC acceptance\n- `logoUrl` is provided when available for company identification",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "description": "Number of items to return (1-100)",
              "example": 25
            },
            "required": false,
            "description": "Number of items to return (1-100)",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cursor for pagination (opaque string from the nextCursor of a previous response)",
              "example": "eyJzb3J0IjoiMjAyNC0xMS0wMVQxMjozMDowMC4wMDBaIiwiaWQiOjEyMzQ1fQ"
            },
            "required": false,
            "description": "Cursor for pagination (opaque string from the nextCursor of a previous response)",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ],
              "description": "Filter by form types (comma-separated). E.g., '10-K,10-Q' or '4,SC 13D'",
              "example": "10-K,10-Q"
            },
            "required": false,
            "description": "Filter by form types (comma-separated). E.g., '10-K,10-Q' or '4,SC 13D'",
            "name": "forms",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "final",
                "provisional"
              ],
              "default": "all",
              "description": "Filter by filing status. 'final' excludes provisional filings, 'provisional' shows only provisional.",
              "example": "final"
            },
            "required": false,
            "description": "Filter by filing status. 'final' excludes provisional filings, 'provisional' shows only provisional.",
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "company",
                "person"
              ],
              "description": "Filter by entity type. 'company' shows filings from issuers, 'person' shows filings from individuals.",
              "example": "company"
            },
            "required": false,
            "description": "Filter by entity type. 'company' shows filings from issuers, 'person' shows filings from individuals.",
            "name": "issuerType",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "SEC Central Index Key (CIK) - unique company/filer identifier",
              "example": 320193
            },
            "required": false,
            "description": "SEC Central Index Key (CIK) - unique company/filer identifier",
            "name": "cik",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by stock ticker symbol",
              "example": "AAPL"
            },
            "required": false,
            "description": "Filter by stock ticker symbol",
            "name": "ticker",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Search query for company name, accession number, or title",
              "example": "Apple"
            },
            "required": false,
            "description": "Search query for company name, accession number, or title",
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "First US Eastern calendar day (YYYY-MM-DD) of SEC acceptance to include, on the same clock as acceptTs",
              "example": "2026-10-01"
            },
            "required": false,
            "description": "First US Eastern calendar day (YYYY-MM-DD) of SEC acceptance to include, on the same clock as acceptTs",
            "name": "startDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Last US Eastern calendar day (YYYY-MM-DD) of SEC acceptance to include, on the same clock as acceptTs",
              "example": "2026-10-02"
            },
            "required": false,
            "description": "Last US Eastern calendar day (YYYY-MM-DD) of SEC acceptance to include, on the same clock as acceptTs",
            "name": "endDate",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with filing feed",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingsFeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Minute rate limit or tier monthly quota exceeded. Retry-After points to the relevant minute or monthly reset.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              },
              "X-RateLimit-Scope": {
                "description": "Which limit caused this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "minute",
                    "monthly"
                  ],
                  "example": "minute"
                }
              },
              "Retry-After": {
                "description": "Whole seconds for minute limits, or an HTTP-date for monthly limits",
                "schema": {
                  "type": "string",
                  "example": "42"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filings/{accession}": {
      "get": {
        "tags": [
          "Filings"
        ],
        "summary": "Get filing details",
        "description": "Retrieve detailed information about a specific SEC filing by accession number.\n\n## Accession Number Format\n\nThe SEC accession number uniquely identifies each filing. It can be provided with or without dashes:\n- **With dashes**: `0000320193-24-000126`\n- **Without dashes**: `000032019324000126`\n\nFormat breakdown: `NNNNNNNNNN-YY-NNNNNN`\n- First 10 digits: Filer's CIK (padded with zeros)\n- Next 2 digits: Year\n- Last 6 digits: Sequence number\n\n## Response Contents\n\n### Filing Metadata\n- **formType**: SEC form type (10-K, 8-K, 4, etc.)\n- **filedAt**: SEC filing date, a calendar date at midnight UTC (read the date part only; do not convert it to a local time zone)\n- **acceptTs**: SEC acceptance timestamp (null if provisional)\n- **url**: Direct link to filing on SEC EDGAR\n\n### Documents Array\nEach filing contains one or more documents:\n- **Primary document**: The main filing (10-K.htm, form4.xml, etc.)\n- **Exhibits**: Supporting documents (EX-21, EX-31, EX-99, etc.)\n- Use `secRelativeDir` + `filename` to construct full document URLs\n\n### Roles Array\nEntities involved in the filing:\n- **filer**: The entity submitting the filing\n- **issuer**: The company whose securities are discussed\n- **reporting-owner**: The insider (for Forms 3/4/5)\n\n## Constructing Document URLs\n\nTo get a specific document, combine:\n```\nhttps://www.sec.gov/Archives/{secRelativeDir}/{filename}\n```\n\nExample:\n```\nhttps://www.sec.gov/Archives/edgar/data/320193/000119312524123456/aapl-20240928.htm\n```",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^(\\d{10}-\\d{2}-\\d{6}|\\d{18})$",
              "description": "SEC accession number",
              "example": "0000320193-24-000126"
            },
            "required": true,
            "description": "SEC accession number",
            "name": "accession",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Filing details",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid accession number format",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Filing not found",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Minute rate limit or tier monthly quota exceeded. Retry-After points to the relevant minute or monthly reset.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              },
              "X-RateLimit-Scope": {
                "description": "Which limit caused this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "minute",
                    "monthly"
                  ],
                  "example": "minute"
                }
              },
              "Retry-After": {
                "description": "Whole seconds for minute limits, or an HTTP-date for monthly limits",
                "schema": {
                  "type": "string",
                  "example": "42"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/insider/transactions": {
      "get": {
        "tags": [
          "Insider"
        ],
        "summary": "List insider transactions",
        "description": "Retrieve a paginated feed of SEC insider trading transactions from Forms 3, 4, and 5.\n\n## Data Source\n\nThis endpoint returns transactions reported by corporate insiders (officers, directors, and 10% owners) to the SEC. Each transaction represents a buy, sell, grant, gift, or other transfer of company securities.\n\n## Transaction Codes\n\nThe `transactionCode` field indicates the type of transaction:\n\n| Code | Description | Common Usage |\n|------|-------------|--------------|\n| **P** | Open market purchase | Most common buy signal |\n| **S** | Open market sale | Most common sell signal |\n| **A** | Award/grant | Stock compensation |\n| **M** | Exercise of derivative | Options/warrants exercise |\n| **G** | Gift | Transfer to family/charity |\n| **F** | Tax payment | Shares sold for tax withholding |\n| **X** | Exercise in-the-money | Options exercise |\n\n## Filtering Tips\n\n- Use `direction=buy` to see only acquisitions (bullish signals)\n- Use `direction=sell` to see only dispositions\n- Use `codes=P,S` to see open market trades only (excludes awards, gifts)\n- Use `derivative=false` to see only equity transactions\n- Use `minValue=100000` to see only large transactions\n\n## Understanding the Data\n\n- **shares**: Number of securities in the transaction\n- **pricePerShare**: Price per share (null for gifts, awards, etc.)\n- **transactionValue**: Computed total value (shares × price)\n- **sharesAfter**: Insider's total holdings after this transaction\n- **directIndirect**: D=Direct ownership, I=Indirect (through trust, etc.)\n- **isDerivative**: true=Options/warrants, false=Common stock\n\n## Example Use Cases\n\n1. **Track CEO purchases**: Filter by `insiderCik` + `direction=buy`\n2. **Monitor large sales**: Filter by `direction=sell` + `minValue=1000000`\n3. **Company insider activity**: Filter by `ticker=AAPL`\n4. **Recent trades by all insiders**: No filters, sorted by date",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "description": "Number of items to return (1-100)",
              "example": 25
            },
            "required": false,
            "description": "Number of items to return (1-100)",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cursor for pagination (opaque string from previous response)",
              "example": "eyJzb3J0IjoiMjAyNC0xMS0wMVQxMjozMDowMC4wMDBaIiwiaWQiOjEyMzQ1fQ"
            },
            "required": false,
            "description": "Cursor for pagination (opaque string from previous response)",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Filter by company CIK (issuer)",
              "example": 320193
            },
            "required": false,
            "description": "Filter by company CIK (issuer)",
            "name": "cik",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 10,
              "description": "Filter by company stock ticker",
              "example": "AAPL"
            },
            "required": false,
            "description": "Filter by company stock ticker",
            "name": "ticker",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Filter by insider CIK (reporting person)",
              "example": 320193
            },
            "required": false,
            "description": "Filter by insider CIK (reporting person)",
            "name": "insiderCik",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ],
              "description": "Filter by transaction codes (comma-separated). E.g., 'P,S' for purchases/sales.",
              "example": "P,S"
            },
            "required": false,
            "description": "Filter by transaction codes (comma-separated). E.g., 'P,S' for purchases/sales.",
            "name": "codes",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "buy",
                "sell",
                "all"
              ],
              "default": "all",
              "description": "Filter by transaction direction:\n- **buy** = Acquisitions only (transaction codes P, A, M, X, etc. with acquiredDisposed=A)\n- **sell** = Dispositions only (transaction codes S, F, D, etc. with acquiredDisposed=D)\n- **all** = All transactions",
              "example": "buy"
            },
            "required": false,
            "description": "Filter by transaction direction:\n- **buy** = Acquisitions only (transaction codes P, A, M, X, etc. with acquiredDisposed=A)\n- **sell** = Dispositions only (transaction codes S, F, D, etc. with acquiredDisposed=D)\n- **all** = All transactions",
            "name": "direction",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "all"
              ],
              "default": "all",
              "description": "Filter by security type. 'true' for derivatives only, 'false' for equity only."
            },
            "required": false,
            "description": "Filter by security type. 'true' for derivatives only, 'false' for equity only.",
            "name": "derivative",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Filter transactions on or after this date (YYYY-MM-DD)",
              "example": "2024-01-01"
            },
            "required": false,
            "description": "Filter transactions on or after this date (YYYY-MM-DD)",
            "name": "startDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Filter transactions on or before this date (YYYY-MM-DD)",
              "example": "2024-12-31"
            },
            "required": false,
            "description": "Filter transactions on or before this date (YYYY-MM-DD)",
            "name": "endDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "Minimum transaction value (shares * price) in USD",
              "example": 100000
            },
            "required": false,
            "description": "Minimum transaction value (shares * price) in USD",
            "name": "minValue",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "Maximum transaction value in USD",
              "example": 10000000
            },
            "required": false,
            "description": "Maximum transaction value in USD",
            "name": "maxValue",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 500,
              "description": "Search query for company name, insider name, or ticker",
              "example": "Apple"
            },
            "required": false,
            "description": "Search query for company name, insider name, or ticker",
            "name": "q",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of insider transactions",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderTransactionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Minute rate limit or tier monthly quota exceeded. Retry-After points to the relevant minute or monthly reset.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              },
              "X-RateLimit-Scope": {
                "description": "Which limit caused this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "minute",
                    "monthly"
                  ],
                  "example": "minute"
                }
              },
              "Retry-After": {
                "description": "Whole seconds for minute limits, or an HTTP-date for monthly limits",
                "schema": {
                  "type": "string",
                  "example": "42"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/institutional/holdings": {
      "get": {
        "tags": [
          "Institutional"
        ],
        "summary": "List institutional holdings",
        "description": "Retrieve institutional investment holdings from SEC Form 13F filings.\n\n## Data Source\n\nForm 13F is a quarterly report filed by institutional investment managers with at least $100 million in assets under management. These filings reveal the equity holdings of major investors including hedge funds, mutual funds, pension funds, and other institutional investors.\n\n## Understanding 13F Data\n\n### What's Included\n- **Equity securities** listed on US exchanges\n- **Options** (put/call positions) on such securities\n- **Convertible debt** that is convertible into equity\n\n### What's NOT Included\n- Foreign securities (unless ADRs)\n- Fixed income securities\n- Privately held investments\n- Short positions (13F only reports long positions)\n\n## Key Fields\n\n| Field | Description |\n|-------|-------------|\n| **cusip** | 9-character security identifier (first 6 = issuer, 7-8 = issue, 9 = check digit) |\n| **value** | Market value in USD (as reported, typically in thousands) |\n| **shares** | Number of shares held |\n| **sharesType** | SH = Shares, PRN = Principal amount (for debt) |\n| **putCall** | Put, Call, or null (for common stock) |\n| **investmentDiscretion** | SOLE, DFND (defined/shared), or OTHER |\n| **votingSole/Shared/None** | Breakdown of voting authority |\n\n## Filtering Strategies\n\n### Find All Holders of a Stock\n```\n?ticker=AAPL\n?cusip=037833100\n?companyCik=320193\n```\n\n### Track a Specific Fund's Portfolio\n```\n?managerCik=1067983              # Berkshire Hathaway\n?managerName=Bridgewater         # Partial name match\n```\n\n### Filter by Report Period\n```\n?reportPeriod=2024-09-30         # Exact quarter end\n?startDate=2024-01-01&endDate=2024-12-31  # Date range\n```\n\n### Find Large Positions\n```\n?minValue=1000000000             # Positions worth $1B+\n?minShares=10000000              # Positions of 10M+ shares\n```\n\n### Filter by Security Type\n```\n?putCall=put                     # Put options only\n?putCall=call                    # Call options only\n?putCall=equity                  # Common stock only (no options)\n```\n\n## Report Period Timing\n\n13F filings are due 45 days after quarter end:\n- **Q1** (Jan-Mar): Filed by May 15\n- **Q2** (Apr-Jun): Filed by Aug 14\n- **Q3** (Jul-Sep): Filed by Nov 14\n- **Q4** (Oct-Dec): Filed by Feb 14\n\n## Example Use Cases\n\n1. **Track Warren Buffett's moves**: Filter by `managerCik=1067983` (Berkshire)\n2. **Who owns Apple?**: Filter by `ticker=AAPL` + `minValue=1000000000`\n3. **Options activity**: Filter by `putCall=put` or `putCall=call`\n4. **New positions**: Compare `reportPeriod` across quarters\n5. **Sector analysis**: Search by `issuerName` patterns\n\n## Notes\n\n- Values are reported as of quarter end, not filing date\n- Amendments (13F-HR/A) may update previously reported positions\n- Some managers file confidential treatment requests to delay disclosure",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "description": "Number of items to return (1-100)",
              "example": 25
            },
            "required": false,
            "description": "Number of items to return (1-100)",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cursor for pagination (opaque string from previous response)",
              "example": "eyJzb3J0IjoiMjAyNC0xMS0wMVQxMjozMDowMC4wMDBaIiwiaWQiOjEyMzQ1fQ"
            },
            "required": false,
            "description": "Cursor for pagination (opaque string from previous response)",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Filter by institutional manager CIK",
              "example": 320193
            },
            "required": false,
            "description": "Filter by institutional manager CIK",
            "name": "managerCik",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 500,
              "description": "Search by manager name (partial match)",
              "example": "Berkshire"
            },
            "required": false,
            "description": "Search by manager name (partial match)",
            "name": "managerName",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 9,
              "maxLength": 9,
              "pattern": "^[A-Z0-9]{8}[0-9]$",
              "description": "Filter by CUSIP to find all managers holding a specific security",
              "example": "037833100"
            },
            "required": false,
            "description": "Filter by CUSIP to find all managers holding a specific security",
            "name": "cusip",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Filter by company CIK to find institutional holders",
              "example": 320193
            },
            "required": false,
            "description": "Filter by company CIK to find institutional holders",
            "name": "companyCik",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 10,
              "description": "Filter by stock ticker to find institutional holders",
              "example": "AAPL"
            },
            "required": false,
            "description": "Filter by stock ticker to find institutional holders",
            "name": "ticker",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 500,
              "description": "Search by issuer name (partial match)",
              "example": "Apple"
            },
            "required": false,
            "description": "Search by issuer name (partial match)",
            "name": "issuerName",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Filter by specific quarter end date (YYYY-MM-DD). E.g., 2024-09-30 for Q3 2024",
              "example": "2024-09-30"
            },
            "required": false,
            "description": "Filter by specific quarter end date (YYYY-MM-DD). E.g., 2024-09-30 for Q3 2024",
            "name": "reportPeriod",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Filter filings on or after this date",
              "example": "2024-01-01"
            },
            "required": false,
            "description": "Filter filings on or after this date",
            "name": "startDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Filter filings on or before this date",
              "example": "2024-12-31"
            },
            "required": false,
            "description": "Filter filings on or before this date",
            "name": "endDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "Minimum position value in USD",
              "example": 1000000000
            },
            "required": false,
            "description": "Minimum position value in USD",
            "name": "minValue",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "Minimum number of shares",
              "example": 1000000
            },
            "required": false,
            "description": "Minimum number of shares",
            "name": "minShares",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "put",
                "call",
                "equity"
              ],
              "description": "Filter by position type: put options, call options, or equity only"
            },
            "required": false,
            "description": "Filter by position type: put options, call options, or equity only",
            "name": "putCall",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 500,
              "description": "Search across manager name, issuer name, or ticker",
              "example": "Berkshire Apple"
            },
            "required": false,
            "description": "Search across manager name, issuer name, or ticker",
            "name": "q",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of institutional holdings",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionalHoldingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Minute rate limit or tier monthly quota exceeded. Retry-After points to the relevant minute or monthly reset.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              },
              "X-RateLimit-Scope": {
                "description": "Which limit caused this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "minute",
                    "monthly"
                  ],
                  "example": "minute"
                }
              },
              "Retry-After": {
                "description": "Whole seconds for minute limits, or an HTTP-date for monthly limits",
                "schema": {
                  "type": "string",
                  "example": "42"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{cik}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get company profile",
        "description": "Retrieve detailed information about a company by its SEC CIK (Central Index Key).\n\n## What is a CIK?\n\nThe CIK is the SEC's unique identifier for entities that file with them. It's a 10-digit number (though leading zeros are often omitted). Examples:\n- **Apple Inc.**: 320193\n- **Microsoft Corporation**: 789019\n- **Berkshire Hathaway**: 1067983\n\n## Response Fields\n\n### Basic Information\n- **name**: Legal name as registered with the SEC\n- **entityType**: Corporation, LLC, LP, Trust, etc.\n- **category**: SEC filer category (Large Accelerated Filer, etc.)\n- **description**: AI-generated business summary\n\n### Stock Information\n- **tickers**: All stock tickers, with exchange and primary flag\n- **primaryTicker**: Convenience field with the main ticker symbol\n\n### Industry Classification\n- **sicCodes**: Standard Industrial Classification codes with descriptions\n\n### Corporate Details\n- **ein**: Employer Identification Number (tax ID)\n- **fiscalYearEnd**: Month and day of fiscal year end (MMDD format)\n- **stateOfIncorporation**: State/country of incorporation\n\n### Contact Information\n- **phone**: Primary phone number\n- **website**: Company website\n- **investorWebsite**: Investor relations page\n- **addresses**: Business and mailing addresses\n\n### Filing Activity\n- **hasInsiderTransactions**: Whether Form 3/4/5 filings exist for this company\n- **isInsider**: Whether this entity appears as a reporting owner in insider filings\n\n## Finding a CIK\n\nIf you don't know a company's CIK, use the `/api/v1/companies/search` endpoint to search by name or ticker.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "SEC Central Index Key (unique company identifier)",
              "example": 320193
            },
            "required": true,
            "description": "SEC Central Index Key (unique company identifier)",
            "name": "cik",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Company profile",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid CIK format",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Minute rate limit or tier monthly quota exceeded. Retry-After points to the relevant minute or monthly reset.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              },
              "X-RateLimit-Scope": {
                "description": "Which limit caused this response",
                "schema": {
                  "type": "string",
                  "enum": [
                    "minute",
                    "monthly"
                  ],
                  "example": "minute"
                }
              },
              "Retry-After": {
                "description": "Whole seconds for minute limits, or an HTTP-date for monthly limits",
                "schema": {
                  "type": "string",
                  "example": "42"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/search": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Search companies",
        "description": "Search for companies by name, ticker, or apply filters.\n\n## Search Behavior\n\nThe `q` parameter searches across:\n- **Company names**: Partial match, case-insensitive\n- **Ticker symbols**: Partial match, case-insensitive\n\nResults are sorted alphabetically by company name.\n\n## Search Examples\n\n```\n# Search by ticker\n?q=AAPL\n\n# Search by company name\n?q=Apple\n\n# Search for tech companies\n?q=software\n\n# Search for companies in California\n?q=&state=CA\n\n# Find large filers in software industry\n?sicCode=7372&category=Large%20Accelerated%20Filer\n```\n\n## Filters\n\nAll filters can be combined:\n\n| Filter | Description | Example |\n|--------|-------------|---------|\n| `ticker` | Exact ticker match | `AAPL` |\n| `sicCode` | Industry code | `7372` (software) |\n| `category` | SEC filer category | `Large Accelerated Filer` |\n| `entityType` | Entity type | `Corporation` |\n| `state` | State of incorporation | `CA`, `DE`, `NY` |\n| `hasInsiderTransactions` | Has insider filings | `true` or `false` |\n\n## Common SIC Codes\n\n| Code | Industry |\n|------|----------|\n| 7372 | Prepackaged Software |\n| 7370 | Computer Programming Services |\n| 6022 | State Commercial Banks |\n| 3674 | Semiconductors |\n| 2834 | Pharmaceutical Preparations |\n| 4813 | Telephone Communications |\n| 5411 | Grocery Stores |\n| 6798 | Real Estate Investment Trusts |\n\n## Pagination\n\nResults are paginated with cursor-based pagination:\n- Default limit: 25 items per page\n- Maximum limit: 100 items per page\n- Use `nextCursor` from response to fetch next page",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "description": "Number of items to return (1-100)",
              "example": 25
            },
            "required": false,
            "description": "Number of items to return (1-100)",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cursor for pagination (opaque string from previous response)",
              "example": "eyJzb3J0IjoiMjAyNC0xMS0wMVQxMjozMDowMC4wMDBaIiwiaWQiOjEyMzQ1fQ"
            },
            "required": false,
            "description": "Cursor for pagination (opaque string from previous response)",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 500,
              "description": "Search query matching company name or ticker symbol.\n\nSupports:\n- Exact ticker match: `AAPL`\n- Company name substring: `Apple`\n- Partial matches: `Micro` matches Microsoft, Micron, etc.\n\nResults are ranked by relevance with exact ticker matches first.",
              "example": "Apple"
            },
            "required": false,
            "description": "Search query matching company name or ticker symbol.\n\nSupports:\n- Exact ticker match: `AAPL`\n- Company name substring: `Apple`\n- Partial matches: `Micro` matches Microsoft, Micron, etc.\n\nResults are ranked by relevance with exact ticker matches first.",
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 10,
              "description": "Filter by exact ticker symbol",
              "example": "AAPL"
            },
            "required": false,
            "description": "Filter by exact ticker symbol",
            "name": "ticker",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "description": "Filter by SIC code",
              "example": 7372
            },
            "required": false,
            "description": "Filter by SIC code",
            "name": "sicCode",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by SEC category (Large Accelerated Filer, etc.)",
              "example": "Large Accelerated Filer"
            },
            "required": false,
            "description": "Filter by SEC category (Large Accelerated Filer, etc.)",
            "name": "category",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by entity type",
              "example": "Corporation"
            },
            "required": false,
            "description": "Filter by entity type",
            "name": "entityType",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by state of incorporation (2-letter code)",
              "example": "CA"
            },
            "required": false,
            "description": "Filter by state of incorporation (2-letter code)",
            "name": "state",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "description": "Filter to companies with or without insider transaction history"
            },
            "required": false,
            "description": "Filter to companies with or without insider transaction history",
            "name": "hasInsiderTransactions",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of companies",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for this authentication path",
                "schema": {
                  "type": "string",
                  "example": "15"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in the current minute window",
                "schema": {
                  "type": "string",
                  "example": "14"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the current minute window resets",
                "schema": {
                  "type": "string",
                  "example": "1699012345"
                }
              },
              "X-RateLimit-Monthly-Limit": {
                "description": "Requests included for the account in a UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "5000"
                }
              },
              "X-RateLimit-Monthly-Remaining": {
                "description": "Remaining requests in the account's current UTC calendar month",
                "schema": {
                  "type": "string",
                  "example": "4999"
                }
              },
              "X-RateLimit-Monthly-Reset": {
                "description": "Unix timestamp when the next UTC calendar month begins",
                "schema": {
                  "type": "string",
                  "example": "1785542400"
                }
              },
              "X-RateLimit-Monthly-Policy": {
                "description": "Monthly allowance policy. All current tiers use hard caps.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hard"
                  ],
                  "example": "hard"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key required",
            "content": {
              "application/json": {
                "schema": {
[...]
