{
  "openapi": "3.1.0",
  "info": {
    "title": "Document Recognition API",
    "version": "1.68.0",
    "summary": "Synchronous document recognition over HTTP.",
    "description": "One cent per document, the same price at any volume, and charged only when a document is actually recognised: every response carries a `billed` flag, and `no_document_found`, `unreadable`, `unsupported_document` and `rejected` cost nothing. Every account gets 100 free documents every month, used before paid credits; after those, each recognised document costs one cent.\n\nThis document is generated from the Zod schemas in packages/contracts and the routes in apps/api (`pnpm generate`); it is the source of truth for the public API. Types, documentation, SDKs and contract tests are derived from it. Do not edit it by hand: change the schemas or routes and regenerate.",
    "x-jentic-source-url": "https://doc.cheap/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.doc.cheap",
      "description": "Production."
    }
  ],
  "paths": {
    "/v1/scans": {
      "post": {
        "operationId": "createScan",
        "summary": "Recognize a document",
        "tags": [
          "scans"
        ],
        "description": "Runs recognition synchronously on one image and returns the extracted data. One credit is charged only when the scan is billable, drawn from the month's free credits first and from paid credits once those are used up. A scan is billable when the document type was determined and at least one of an MRZ with valid checksums, five or more visual-zone fields, or a decoded barcode was read. Sandbox keys are never charged: `sk_sandbox_public` recognizes the image it is sent, free, within its lifetime allowance, while a registered account's own `sk_sandbox_...` key is answered from a fixed synthetic specimen. The result is written down only when the retention window resolved for the request is above zero: `options.retain_hours` when the request names one, otherwise the account's own history-retention setting. Send `retain_hours: 0` to have nothing stored at all, so there is nothing to read back later. Besides an API key, this operation accepts a client token from `POST /v1/client-tokens`, so a browser or an app can send a scan without holding the key: the scan is billed and stored exactly as the issuing key's would be, and every request presented with the token spends one of its uses, whatever its outcome.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanRequest"
              },
              "example": {
                "image": "/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/wAALCAABAAEBAREA/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEAAD8AKp//2Q==",
                "options": {
                  "mode": "full",
                  "expect_country": null,
                  "date_format": "iso",
                  "return_portrait": true,
                  "retain_hours": 0
                },
                "reference": "order-1042"
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "description": "Caller-chosen key that makes a retried request return the first result instead of running and charging again.",
              "example": "8f3c2a1b-5d4e-4f60-9a7b-3c2d1e0f9a8b"
            },
            "in": "header",
            "name": "idempotency-key",
            "example": "8f3c2a1b-5d4e-4f60-9a7b-3c2d1e0f9a8b"
          }
        ],
        "responses": {
          "200": {
            "description": "The scan result. `status` says how far recognition got.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema_version": "1.0",
                    "id": "01a0af18-cd8d-7a61-9f2d-4c7b8e105da3",
                    "status": "recognized",
                    "billed": true,
                    "confidence": "high",
                    "timing": {
                      "upload_ms": 198,
                      "processing_ms": 812,
                      "total_ms": 1024
                    },
                    "created_at": "2026-09-17T10:15:00Z",
                    "reference": "order-1042"
                  },
                  "document": {
                    "kind": "passport",
                    "country": "GRC",
                    "country_name": "Greece",
                    "issuing_state": "GRC",
                    "type_name": "Greece - Passport",
                    "type_confidence": "high",
                    "number": "AM7304518",
                    "series": null,
                    "issue_date": "2022-03-10",
                    "expiry_date": "2032-03-10",
                    "is_expired": false,
                    "days_remaining": 2001
                  },
                  "holder": {
                    "given_names": "ELENI SOFIA",
                    "surname": "PARADEIGMA",
                    "full_name": "PARADEIGMA ELENI SOFIA",
                    "birth_date": "1994-03-08",
                    "sex": "F",
                    "nationality": "GRC"
                  },
                  "fields": [
                    {
                      "id": "surname@0",
                      "name": "surname",
                      "label": "Surname",
                      "category": "identity",
                      "value": "PARADEIGMA",
                      "language": "English",
                      "confidence": "high"
                    },
                    {
                      "id": "surname@1032",
                      "name": "surname",
                      "label": "Surname",
                      "category": "identity",
                      "value": "ΠΑΡΑΔΕΙΓΜΑ",
                      "language": "Greek",
                      "confidence": "high"
                    },
                    {
                      "id": "document_number@0",
                      "name": "document_number",
                      "label": "Document number",
                      "category": "document",
                      "value": "AM7304518",
                      "language": "English",
                      "confidence": "high"
                    },
                    {
                      "id": "days_to_expire@0",
                      "name": "days_to_expire",
                      "label": "Days to expire",
                      "category": "dates",
                      "value": "2001",
                      "language": null,
                      "confidence": "high"
                    },
                    {
                      "id": "mrz@0",
                      "name": "mrz",
                      "label": "MRZ",
                      "category": "document",
                      "value": "P<GRCPARADEIGMA<<ELENI<SOFIA<<<<<<<<<<<<<<<<AM73045184GRC9403084F3203101PN48291630<<<<72",
                      "language": "English",
                      "confidence": "high"
                    }
                  ],
                  "mrz": {
                    "status": "passed",
                    "reason": null,
                    "lines": [
                      "P<GRCPARADEIGMA<<ELENI<SOFIA<<<<<<<<<<<<<<<<",
                      "AM73045184GRC9403084F3203101PN48291630<<<<72"
                    ],
                    "text": "P<GRCPARADEIGMA<<ELENI<SOFIA<<<<<<<<<<<<<<<<AM73045184GRC9403084F3203101PN48291630<<<<72"
                  },
                  "images": {
                    "document_crop": "data:image/jpeg;base64,/9j/4AAQSkZJRg==",
                    "rear": null,
                    "main_photo": "data:image/jpeg;base64,/9j/4AAQSkZJRg==",
                    "signature": "data:image/jpeg;base64,/9j/4AAQSkZJRg==",
                    "watermark_face": "data:image/jpeg;base64,/9j/4AAQSkZJRg==",
                    "barcode": null,
                    "chip": null
                  },
                  "quality": {
                    "overall": "pass"
                  },
                  "authenticity": {
                    "overall": "not_checked",
                    "checks": []
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Scan"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed: the body is not JSON or a required part is missing.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Body is not valid JSON.",
                    "docs_url": "https://doc.cheap/docs/errors/invalid_request",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or malformed `Authorization: Bearer <api key>` header, or an unknown key or client token. `client_token_expired`: the client token's lifetime has passed. `client_token_used_up`: the client token has no uses left. Either way, ask your server for a new token.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Send your API key as `Authorization: Bearer <key>`.",
                    "docs_url": "https://doc.cheap/docs/errors/unauthorized",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "This month's free credits and the paid credits are both used up; the scan was not run.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "insufficient_credits",
                    "message": "This month's free credits and your paid balance are both used up; top up to continue. Free credits return on 2026-10-01T00:00:00.000Z.",
                    "docs_url": "https://doc.cheap/docs/errors/insufficient_credits",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The public sandbox key has used up its free recognitions; register for an API key to continue.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "registration_required",
                    "message": "The free trial without an account is used up; register for your own API key to keep scanning.",
                    "docs_url": "https://doc.cheap/docs/errors/registration_required",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The `Idempotency-Key` cannot be honoured. `idempotency_conflict`: it was already used with a different request body. `idempotency_in_progress`: the first request under this key is still running, so retry in a moment to receive its result. `idempotency_replay_unavailable`: that request finished, but its result was not stored (the request asked for `retain_hours: 0`) or its retention window has passed, so it cannot be replayed – send a new key.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "idempotency_conflict",
                    "message": "Idempotency-Key 8f3c2a1b-5d4e-4f60-9a7b-3c2d1e0f9a8b was already used with a different body.",
                    "docs_url": "https://doc.cheap/docs/errors/idempotency_conflict",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "The request body is larger than the endpoint accepts. Send a smaller or more compressed image.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "payload_too_large",
                    "message": "The request body is larger than this endpoint accepts.",
                    "docs_url": "https://doc.cheap/docs/errors/payload_too_large",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "The request body must be sent as `Content-Type: application/json`, and a scan's image must be a JPEG or PNG.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "unsupported_media_type",
                    "message": "Send the request body as `Content-Type: application/json`.",
                    "docs_url": "https://doc.cheap/docs/errors/unsupported_media_type",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "The body is well-formed JSON but does not satisfy the request schema.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "/options/mode: Invalid option: expected one of \"full\"",
                    "docs_url": "https://doc.cheap/docs/errors/validation_failed",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this key or IP.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Sandbox limit of 10 requests per hour per IP reached.",
                    "docs_url": "https://doc.cheap/docs/errors/rate_limited",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure on the server; the scan was not charged.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Unexpected error.",
                    "docs_url": "https://doc.cheap/docs/errors/internal_error",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unable to serve the request; nothing was charged and it may be retried, after the `Retry-After` seconds where that header is present. `engine_unavailable`: the recognition engine did not answer within its timeout. `service_unavailable`: a store this service depends on is unreachable, so the request cannot be served now.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "engine_unavailable",
                    "message": "The recognition engine did not answer in time; nothing was charged. Retry shortly.",
                    "docs_url": "https://doc.cheap/docs/errors/engine_unavailable",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listScans",
        "summary": "List recent scans",
        "tags": [
          "scans"
        ],
        "description": "The account's scans, most recent first, as history rows, one page at a time. Only scans made with a live key and kept under a non-zero retention window are listed, and only while that window lasts; a sandbox key sees an empty list. `limit` sets the page size (1 to 100, default 100) and `cursor` continues from the `next_cursor` of the previous page, which is null on the last one. The full result of any one scan is read back through `GET /v1/scans/{id}`.",
        "parameters": [
          {
            "schema": {
              "description": "How many rows to return, 1 to 100. Defaults to 100.",
              "example": 20,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "in": "query",
            "name": "limit",
            "description": "How many rows to return, 1 to 100. Defaults to 100.",
            "example": 20
          },
          {
            "schema": {
              "description": "The `next_cursor` of the previous page. Omit it for the first page. A cursor is read only against the key's own account.",
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            },
            "in": "query",
            "name": "cursor",
            "description": "The `next_cursor` of the previous page. Omit it for the first page. A cursor is read only against the key's own account."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of the account's recent scans.",
            "content": {
              "application/json": {
                "example": {
                  "scans": [
                    {
                      "id": "01a0af18-cd8d-7a61-9f2d-4c7b8e105da3",
                      "status": "recognized",
                      "billed": true,
                      "duration_ms": 843,
                      "reference": "order-1042",
                      "created_at": "2026-09-17T09:41:12Z"
                    },
                    {
                      "id": "01a0af19-8595-7f03-8a15-27e6b9c40f82",
                      "status": "no_document_found",
                      "billed": false,
                      "duration_ms": 512,
                      "reference": null,
                      "created_at": "2026-09-17T09:18:44Z"
                    }
                  ],
                  "next_cursor": null
                },
                "schema": {
                  "$ref": "#/components/schemas/ScanList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or malformed `Authorization: Bearer <api key>` header, or an unknown key.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Send your API key as `Authorization: Bearer <key>`.",
                    "docs_url": "https://doc.cheap/docs/errors/unauthorized",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot call this operation: a client token can only call `POST /v1/scans`.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "client_token_not_allowed",
                    "message": "A client token can only call POST /v1/scans.",
                    "docs_url": "https://doc.cheap/docs/errors/client_token_not_allowed",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "The body is well-formed JSON but does not satisfy the request schema.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "/options/mode: Invalid option: expected one of \"full\"",
                    "docs_url": "https://doc.cheap/docs/errors/validation_failed",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this key or IP.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Sandbox limit of 10 requests per hour per IP reached.",
                    "docs_url": "https://doc.cheap/docs/errors/rate_limited",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure on the server; the scan was not charged.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Unexpected error.",
                    "docs_url": "https://doc.cheap/docs/errors/internal_error",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unable to serve the request: a store this service depends on is unreachable. Nothing was charged and it may be retried, after the `Retry-After` seconds where that header is present.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "service_unavailable",
                    "message": "The service is temporarily unable to handle this request; nothing was charged. Retry shortly.",
                    "docs_url": "https://doc.cheap/docs/errors/service_unavailable",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/scans/{id}": {
      "get": {
        "operationId": "getScan",
        "summary": "Fetch a previous scan",
        "tags": [
          "scans"
        ],
        "description": "Returns a scan made earlier with a live key and kept under a non-zero retention window, while that window lasts; anything else is `404`. The image crops are never stored, so every image slot comes back null, and neither is the engine's own output, so `quality` reads `not_checked`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "Scan identifier: a UUID version 7 (RFC 9562), canonical lower-case `8-4-4-4-12`. Its leading 48 bits are the millisecond the scan was made, so ids sort in the order the scans happened – but treat the value as opaque: nothing else about it is part of the contract.",
              "example": "01a0af18-cd8d-7a61-9f2d-4c7b8e105da3"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Scan identifier: a UUID version 7 (RFC 9562), canonical lower-case `8-4-4-4-12`. Its leading 48 bits are the millisecond the scan was made, so ids sort in the order the scans happened – but treat the value as opaque: nothing else about it is part of the contract.",
            "example": "01a0af18-cd8d-7a61-9f2d-4c7b8e105da3"
          }
        ],
        "responses": {
          "200": {
            "description": "The scan as it was returned when it was created.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema_version": "1.0",
                    "id": "01a0af18-cd8d-7a61-9f2d-4c7b8e105da3",
                    "status": "recognized",
                    "billed": true,
                    "confidence": "high",
                    "timing": {
                      "upload_ms": 198,
                      "processing_ms": 812,
                      "total_ms": 1024
                    },
                    "created_at": "2026-09-17T10:15:00Z",
                    "reference": "order-1042"
                  },
                  "document": {
                    "kind": "passport",
                    "country": "GRC",
                    "country_name": "Greece",
                    "issuing_state": "GRC",
                    "type_name": "Greece - Passport",
                    "type_confidence": "high",
                    "number": "AM7304518",
                    "series": null,
                    "issue_date": "2022-03-10",
                    "expiry_date": "2032-03-10",
                    "is_expired": false,
                    "days_remaining": 2001
                  },
                  "holder": {
                    "given_names": "ELENI SOFIA",
                    "surname": "PARADEIGMA",
                    "full_name": "PARADEIGMA ELENI SOFIA",
                    "birth_date": "1994-03-08",
                    "sex": "F",
                    "nationality": "GRC"
                  },
                  "fields": [
                    {
                      "id": "surname@0",
                      "name": "surname",
                      "label": "Surname",
                      "category": "identity",
                      "value": "PARADEIGMA",
                      "language": "English",
                      "confidence": "high"
                    },
                    {
                      "id": "surname@1032",
                      "name": "surname",
                      "label": "Surname",
                      "category": "identity",
                      "value": "ΠΑΡΑΔΕΙΓΜΑ",
                      "language": "Greek",
                      "confidence": "high"
                    },
                    {
                      "id": "document_number@0",
                      "name": "document_number",
                      "label": "Document number",
                      "category": "document",
                      "value": "AM7304518",
                      "language": "English",
                      "confidence": "high"
                    },
                    {
                      "id": "days_to_expire@0",
                      "name": "days_to_expire",
                      "label": "Days to expire",
                      "category": "dates",
                      "value": "2001",
                      "language": null,
                      "confidence": "high"
                    },
                    {
                      "id": "mrz@0",
                      "name": "mrz",
                      "label": "MRZ",
                      "category": "document",
                      "value": "P<GRCPARADEIGMA<<ELENI<SOFIA<<<<<<<<<<<<<<<<AM73045184GRC9403084F3203101PN48291630<<<<72",
                      "language": "English",
                      "confidence": "high"
                    }
                  ],
                  "mrz": {
                    "status": "passed",
                    "reason": null,
                    "lines": [
                      "P<GRCPARADEIGMA<<ELENI<SOFIA<<<<<<<<<<<<<<<<",
                      "AM73045184GRC9403084F3203101PN48291630<<<<72"
                    ],
                    "text": "P<GRCPARADEIGMA<<ELENI<SOFIA<<<<<<<<<<<<<<<<AM73045184GRC9403084F3203101PN48291630<<<<72"
                  },
                  "images": {
                    "document_crop": "data:image/jpeg;base64,/9j/4AAQSkZJRg==",
                    "rear": null,
                    "main_photo": "data:image/jpeg;base64,/9j/4AAQSkZJRg==",
                    "signature": "data:image/jpeg;base64,/9j/4AAQSkZJRg==",
                    "watermark_face": "data:image/jpeg;base64,/9j/4AAQSkZJRg==",
                    "barcode": null,
                    "chip": null
                  },
                  "quality": {
                    "overall": "pass"
                  },
                  "authenticity": {
                    "overall": "not_checked",
                    "checks": []
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Scan"
                }
              }
            }
          },
          "401": {
            "description": "Missing or malformed `Authorization: Bearer <api key>` header, or an unknown key.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Send your API key as `Authorization: Bearer <key>`.",
                    "docs_url": "https://doc.cheap/docs/errors/unauthorized",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot call this operation: a client token can only call `POST /v1/scans`.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "client_token_not_allowed",
                    "message": "A client token can only call POST /v1/scans.",
                    "docs_url": "https://doc.cheap/docs/errors/client_token_not_allowed",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No scan with this id exists, or its retention window has passed.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "No scan with id 01a0af18-cd8d-7a61-9f2d-4c7b8e105da3 exists or it has expired.",
                    "docs_url": "https://doc.cheap/docs/errors/not_found",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this key or IP.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Sandbox limit of 10 requests per hour per IP reached.",
                    "docs_url": "https://doc.cheap/docs/errors/rate_limited",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure on the server; the scan was not charged.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Unexpected error.",
                    "docs_url": "https://doc.cheap/docs/errors/internal_error",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unable to serve the request: a store this service depends on is unreachable. Nothing was charged and it may be retried, after the `Retry-After` seconds where that header is present.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "service_unavailable",
                    "message": "The service is temporarily unable to handle this request; nothing was charged. Retry shortly.",
                    "docs_url": "https://doc.cheap/docs/errors/service_unavailable",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteScan",
        "summary": "Delete a stored scan",
        "tags": [
          "scans"
        ],
        "description": "Deletes a scan the account still holds, before its retention window would have ended: the stored result, its history row and its thumbnail. It cannot be undone – the scan can no longer be read, listed or replayed through an `Idempotency-Key`. The credit the scan drew is not returned, and the period's usage counters keep counting it. Only a live key deletes, and only its own account's scans; anything else – an unknown id, another account's scan, a scan whose window has passed, a sandbox key – is `404`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
              "description": "Scan identifier: a UUID version 7 (RFC 9562), canonical lower-case `8-4-4-4-12`. Its leading 48 bits are the millisecond the scan was made, so ids sort in the order the scans happened – but treat the value as opaque: nothing else about it is part of the contract.",
              "example": "01a0af18-cd8d-7a61-9f2d-4c7b8e105da3"
            },
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Scan identifier: a UUID version 7 (RFC 9562), canonical lower-case `8-4-4-4-12`. Its leading 48 bits are the millisecond the scan was made, so ids sort in the order the scans happened – but treat the value as opaque: nothing else about it is part of the contract.",
            "example": "01a0af18-cd8d-7a61-9f2d-4c7b8e105da3"
          }
        ],
        "responses": {
          "200": {
            "description": "The scan was deleted.",
            "content": {
              "application/json": {
                "example": {
                  "id": "01a0af18-cd8d-7a61-9f2d-4c7b8e105da3",
                  "deleted": true
                },
                "schema": {
                  "$ref": "#/components/schemas/ScanDeletion"
                }
              }
            }
          },
          "401": {
            "description": "Missing or malformed `Authorization: Bearer <api key>` header, or an unknown key.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Send your API key as `Authorization: Bearer <key>`.",
                    "docs_url": "https://doc.cheap/docs/errors/unauthorized",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot call this operation: a client token can only call `POST /v1/scans`.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "client_token_not_allowed",
                    "message": "A client token can only call POST /v1/scans.",
                    "docs_url": "https://doc.cheap/docs/errors/client_token_not_allowed",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No scan with this id exists, or its retention window has passed.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "No scan with id 01a0af18-cd8d-7a61-9f2d-4c7b8e105da3 exists or it has expired.",
                    "docs_url": "https://doc.cheap/docs/errors/not_found",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this key or IP.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Sandbox limit of 10 requests per hour per IP reached.",
                    "docs_url": "https://doc.cheap/docs/errors/rate_limited",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure on the server; the scan was not charged.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Unexpected error.",
                    "docs_url": "https://doc.cheap/docs/errors/internal_error",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unable to serve the request: a store this service depends on is unreachable. Nothing was charged and it may be retried, after the `Retry-After` seconds where that header is present.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "service_unavailable",
                    "message": "The service is temporarily unable to handle this request; nothing was charged. Retry shortly.",
                    "docs_url": "https://doc.cheap/docs/errors/service_unavailable",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "operationId": "getUsage",
        "summary": "Balance and usage for the current period",
        "tags": [
          "account"
        ],
        "description": "The credits available to the key's account and the scans made in the current usage period, counted by status. The balance has two parts: the free credits, 100 every month, set back to 100 at 00:00 UTC on the first and drawn first, and the paid credits, which never reset. Every settled scan is counted, whether or not its result was stored, so the figures do not decay as retention windows pass. A key with no account behind it (the public sandbox key) reports a null balance and zero counters.",
        "responses": {
          "200": {
            "description": "Balance and counters.",
            "content": {
              "application/json": {
                "example": {
                  "balance_credits": 91,
                  "period": {
                    "start": "2026-09-01T00:00:00Z",
                    "end": "2026-10-01T00:00:00Z"
                  },
                  "scans": {
                    "total": 12,
                    "billed": 9,
                    "by_status": {
                      "recognized": 9,
                      "no_document_found": 1,
                      "unreadable": 1,
                      "unsupported_document": 1,
                      "rejected": 0
                    }
                  },
                  "credits_spent": 9,
                  "free_allowance": {
                    "monthly_credits": 100,
                    "remaining_credits": 91,
                    "resets_at": "2026-10-01T00:00:00Z"
                  },
                  "paid_balance_credits": 0,
                  "credits_spent_by_kind": {
                    "free": 9,
                    "paid": 0
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          },
          "401": {
            "description": "Missing or malformed `Authorization: Bearer <api key>` header, or an unknown key.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Send your API key as `Authorization: Bearer <key>`.",
                    "docs_url": "https://doc.cheap/docs/errors/unauthorized",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot call this operation: a client token can only call `POST /v1/scans`.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "client_token_not_allowed",
                    "message": "A client token can only call POST /v1/scans.",
                    "docs_url": "https://doc.cheap/docs/errors/client_token_not_allowed",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this key or IP.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Sandbox limit of 10 requests per hour per IP reached.",
                    "docs_url": "https://doc.cheap/docs/errors/rate_limited",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure on the server; the scan was not charged.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Unexpected error.",
                    "docs_url": "https://doc.cheap/docs/errors/internal_error",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unable to serve the request: a store this service depends on is unreachable. Nothing was charged and it may be retried, after the `Retry-After` seconds where that header is present.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "service_unavailable",
                    "message": "The service is temporarily unable to handle this request; nothing was charged. Retry shortly.",
                    "docs_url": "https://doc.cheap/docs/errors/service_unavailable",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/client-tokens": {
      "post": {
        "operationId": "createClientToken",
        "summary": "Issue a short-lived client token",
        "tags": [
          "client tokens"
        ],
        "description": "Issues a client token: a short-lived credential that can call `POST /v1/scans` and nothing else. Call it from your server with your API key and hand the token to a browser or an app, which then sends the scan straight to this API without ever holding the key. A token lives 300 seconds and allows 1 scan request unless the body asks otherwise; send `{}` to take the defaults. Its scans are billed and stored exactly as the issuing key's would be, a sandbox key issues sandbox tokens, and revoking or deleting the key ends every token it issued. The token is returned once and only its hash is kept.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientTokenRequest"
              },
              "example": {
                "expires_in": 300,
                "max_uses": 1
              }
            }
          },
          "description": "Optional limits for a new client token. An empty body takes the defaults."
        },
        "responses": {
          "201": {
            "description": "The new client token.",
            "content": {
              "application/json": {
                "example": {
                  "token": "ct_live_4f1d0c9a7b2e8f36a5c4d1e0b9a8f7e6d5c4b3a2918f7e6d5c4b3a2918f7e6d5",
                  "expires_at": "2026-09-17T09:46:12Z",
                  "max_uses": 1,
                  "sandbox": false
                },
                "schema": {
                  "$ref": "#/components/schemas/ClientToken"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed: the body is not JSON or a required part is missing.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "invalid_request",
                    "message": "Body is not valid JSON.",
                    "docs_url": "https://doc.cheap/docs/errors/invalid_request",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or malformed `Authorization: Bearer <api key>` header, or an unknown key.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Send your API key as `Authorization: Bearer <key>`.",
                    "docs_url": "https://doc.cheap/docs/errors/unauthorized",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot call this operation: a client token can only call `POST /v1/scans`.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "client_token_not_allowed",
                    "message": "A client token can only call POST /v1/scans.",
                    "docs_url": "https://doc.cheap/docs/errors/client_token_not_allowed",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "The request body must be sent as `Content-Type: application/json`, and a scan's image must be a JPEG or PNG.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "unsupported_media_type",
                    "message": "Send the request body as `Content-Type: application/json`.",
                    "docs_url": "https://doc.cheap/docs/errors/unsupported_media_type",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "The body is well-formed JSON but does not satisfy the request schema.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "validation_failed",
                    "message": "/options/mode: Invalid option: expected one of \"full\"",
                    "docs_url": "https://doc.cheap/docs/errors/validation_failed",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this key or IP.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Sandbox limit of 10 requests per hour per IP reached.",
                    "docs_url": "https://doc.cheap/docs/errors/rate_limited",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected failure on the server; the scan was not charged.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "internal_error",
                    "message": "Unexpected error.",
                    "docs_url": "https://doc.cheap/docs/errors/internal_error",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Temporarily unable to serve the request: a store this service depends on is unreachable. Nothing was charged and it may be retried, after the `Retry-After` seconds where that header is present.",
            "content": {
              "application/json": {
                "example": {
                  "error": {
                    "code": "service_unavailable",
                    "message": "The service is temporarily unable to handle this request; nothing was charged. Retry shortly.",
                    "docs_url": "https://doc.cheap/docs/errors/service_unavailable",
                    "request_id": "req_9e6b1f7c-2d4a-4b83-9c51-7f0ad3e8b642",
                    "event_id": null
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key: `sk_live_…` for an account, or the public `sk_sandbox_public` for trying the API for free, without registering. `POST /v1/scans` also accepts a client token (`ct_…`) issued by `POST /v1/client-tokens`."
      }
    },
    "schemas": {
      "ScanRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "minLength": 1,
            "format": "base64",
            "contentEncoding": "base64",
            "pattern": "^$|^(?:[0-9a-zA-Z+/]{4})*(?:(?:[0-9a-zA-Z+/]{2}==)|(?:[0-9a-zA-Z+/]{3}=))?$",
            "description": "The document image, base64-encoded (JPEG or PNG)."
          },
          "options": {
            "default": {},
            "$ref": "#/components/schemas/ScanOptions"
          },
          "reference": {
            "default": null,
            "description": "Caller's own correlation string, echoed back in the response.",
            "example": "order-1042",
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "image"
        ],
        "additionalProperties": false,
        "examples": [
          {
            "image": "/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/wAALCAABAAEBAREA/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEAAD8AKp//2Q==",
            "options": {
              "mode": "full",
              "expect_country": null,
              "date_format": "iso",
              "return_portrait": true,
              "retain_hours": 0
            },
            "reference": "order-1042"
          }
        ]
      },
      "ScanOptions": {
        "type": "object",
        "properties": {
          "mode": {
            "default": "full",
            "description": "Recognition mode. Only `full` exists so far.",
            "type": "string",
            "enum": [
              "full"
            ]
          },
          "expect_country": {
            "default": null,
            "description": "Country the caller expects the document to be from, or null for any.",
            "anyOf": [
              {
                "type": "string",
                "pattern": "^[A-Z]{3}$",
                "description": "ISO 3166-1 alpha-3 country code.",
                "example": "GRC"
              },
              {
                "type": "null"
              }
            ]
          },
          "date_format": {
            "default": "iso",
            "description": "Format of dates in the response. Only `iso` exists so far.",
            "type": "string",
            "enum": [
              "iso"
            ]
          },
          "return_portrait": {
            "default": true,
            "description": "Whether to return the holder's photograph crop in `images.main_photo`.",
            "type": "boolean"
          },
          "retain_hours": {
            "default": null,
            "description": "How many hours the result stays readable through `GET /v1/scans/{id}`. `0` is zero retention: nothing is written down. Omit it, or send `null`, to use the account's own history-retention setting instead; an explicit value always wins over the setting. The maximum is 8760 hours (one year).",
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 8760
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": false
      },
      "ClientTokenRequest": {
        "type": "object",
        "properties": {
          "expires_in": {
            "description": "Seconds until the token stops working: 10 to 900, 300 when omitted.",
            "example": 300,
            "type": "integer",
            "minimum": 10,
            "maximum": 900
          },
          "max_uses": {
            "description": "How many scan requests the token may make: 1 to 10, 1 when omitted. Every request presented with the token uses one, whatever its outcome.",
            "example": 1,
            "type": "integer",
            "minimum": 1,
            "maximum": 10
          }
        },
        "additionalProperties": false,
        "description": "Optional limits for a new client token. An empty body takes the defaults.",
        "examples": [
          {
            "expires_in": 300,
            "max_uses": 1
          }
        ]
      },
      "Scan": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/ScanMeta"
          },
          "document": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ScanDocument"
              },
              {
                "type": "null"
              }
            ]
          },
          "holder": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ScanHolder"
              },
              {
                "type": "null"
              }
            ]
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScanField"
            },
            "description": "Every field the engine extracted off the printed document, re-keyed to our vocabulary – the open set. Always present; empty when nothing was extracted. A field read in more than one language appears once per language, so `name` repeats and only `id` is unique."
          },
          "mrz": {
            "$ref": "#/components/schemas/ScanMrz"
          },
          "images": {
            "$ref": "#/components/schemas/ScanImages"
          },
          "quality": {
            "$ref": "#/components/schemas/ScanQuality"
          },
          "authenticity": {
            "$ref": "#/components/schemas/ScanAuthenticity"
          }
        },
        "required": [
          "meta",
          "document",
          "holder",
          "fields",
          "mrz",
          "images",
          "quality",
          "authenticity"
        ],
        "additionalProperties": false
      },
      "ScanMeta": {
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string",
            "const": "1.0",
            "description": "The version of this body, always `1.0`. A consumer that pins this value checks that the body is the one it was written against."
          },
          "id": {
            "$ref": "#/components/schemas/ScanId"
          },
          "status": {
            "$ref": "#/components/schemas/ScanStatus"
          },
          "billed": {
            "type": "boolean",
            "description": "Whether this scan was charged to the balance."
          },
          "confidence": {
            "description": "How strongly the recognition backs this reading as a whole. Each entry of `fields` carries its own band as well, and they can differ from this one.",
            "$ref": "#/components/schemas/ConfidenceBand"
          },
          "timing": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ScanTiming"
              },
              {
                "type": "null"
              }
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$",
            "description": "Timestamp, ISO-8601 in UTC (`YYYY-MM-DDTHH:MM:SSZ`)."
          },
          "reference": {
            "description": "The request's `reference`, echoed back.",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "schema_version",
          "id",
          "status",
          "billed",
          "confidence",
          "timing",
          "created_at",
          "reference"
        ],
        "additionalProperties": false
      },
      "ScanId": {
        "type": "string",
        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$",
        "description": "Scan identifier: a UUID version 7 (RFC 9562), canonical lower-case `8-4-4-4-12`. Its leading 48 bits are the millisecond the scan was made, so ids sort in the order the scans happened – but treat the value as opaque: nothing else about it is part of the contract.",
        "example": "01a0af18-cd8d-7a61-9f2d-4c7b8e105da3"
      },
      "ScanStatus": {
        "type": "string",
        "enum": [
          "recognized",
          "no_document_found",
          "unreadable",
          "unsupported_document",
          "rejected"
        ],
        "description": "Outcome of a scan. Exactly these five string values; there are no numeric codes."
      },
      "ConfidenceBand": {
        "type": "string",
        "enum": [
          "low",
          "medium",
          "high"
        ],
        "description": "How strongly the recognition backs this value: `high`, `medium` or `low`. An unknown or missing probability reads as `low`."
      },
      "ScanTiming": {
        "type": "object",
        "properties": {
          "upload_ms": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "From the request's headers reaching the server to its body being received and validated, with your key resolved and its rate limit checked. The allowance, idempotency and credit gates are claimed after this number is taken, so they are not in it. Dominated by your own connection and by how large the image is – this is the half you can shrink, by sending a smaller picture from closer by."
          },
          "processing_ms": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "The recognition itself – the server-side engine call."
          },
          "total_ms": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "From the request arriving to the result being complete. At least `upload_ms + processing_ms`; the remainder is the gates that run after `upload_ms` is taken – the allowance, the idempotency check and the credit hold – plus preparing the result images and mapping the engine's output into this body. It stops there: writing the history row and serializing the response happen after the number is fixed, so the same figure is stored and returned."
          }
        },
        "required": [
          "upload_ms",
          "processing_ms",
          "total_ms"
        ],
        "additionalProperties": false,
        "description": "The split of the request's time. Null on a scan made before the split existed and read back out of storage: only the engine call was timed then, and the two halves cannot be recovered from it."
      },
      "ScanDocument": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "minLength": 1,
            "description": "Document type, e.g. `passport`."
          },
          "country": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^[A-Z]{3}$",
                "description": "ISO 3166-1 alpha-3 country code.",
                "example": "GRC"
              },
              {
                "type": "null"
              }
            ],
            "description": "The state that issued the document, ISO 3166-1 alpha-3. The same reading as `issuing_state` under the name most callers filter on; null when nothing was read."
          },
          "country_name": {
            "description": "The issuing state's name, as read from the document.",
            "example": "Greece",
            "type": [
              "string",
              "null"
            ]
          },
          "issuing_state": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^[A-Z]{3}$",
                "description": "ISO 3166-1 alpha-3 country code.",
                "example": "GRC"
              },
              {
                "type": "null"
              }
            ],
            "description": "The issuing state, ISO 3166-1 alpha-3 – the same reading as `country`, under the name the machine-readable zone gives it."
          },
          "type_name": {
            "description": "The document type under its full name. Null on a scan read back from storage, which keeps no engine output.",
            "example": "Greece - Passport",
            "type": [
              "string",
              "null"
            ]
          },
          "type_confidence": {
            "description": "How strongly the document-type match is backed.",
            "$ref": "#/components/schemas/ConfidenceBand"
          },
          "number": {
            "description": "The document number, as printed. Null when none was read. A series the document prints separately is in `series`, never folded into this value.",
            "example": "AM7304518",
            "type": [
              "string",
              "null"
            ]
          },
          "series": {
            "description": "The document series, for a document that prints one as a field of its own. Null when the document carries none or none was read; it is never split out of `number`.",
            "type": [
              "string",
              "null"
            ]
          },
          "issue_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$",
                "description": "Calendar date, ISO-8601 (`YYYY-MM-DD`)."
              },
              {
                "type": "null"
              }
            ],
            "description": "The date the document was issued, ISO-8601 (`YYYY-MM-DD`). Null when none was read."
          },
          "expiry_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$",
                "description": "Calendar date, ISO-8601 (`YYYY-MM-DD`)."
              },
              {
                "type": "null"
              }
            ],
            "description": "The date the document expires, ISO-8601 (`YYYY-MM-DD`). Null when none was read; `is_expired` and `days_remaining` are computed from it."
          },
          "is_expired": {
            "description": "Whether the document had already expired when the scan was made. Null when no expiry date was read, which is a different answer from `false`.",
            "type": [
              "boolean",
              "null"
            ]
          },
          "days_remaining": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ],
            "description": "Days until expiry at the time of the scan; negative once expired."
          }
        },
        "required": [
          "kind",
          "country",
          "country_name",
          "issuing_state",
          "type_name",
          "type_confidence",
          "number",
          "series",
          "issue_date",
          "expiry_date",
          "is_expired",
          "days_remaining"
        ],
        "additionalProperties": false
      },
      "ScanHolder": {
        "type": "object",
        "properties": {
          "given_names": {
            "description": "The holder's given names, as printed. Null when none was read.",
            "type": [
              "string",
              "null"
            ]
          },
          "surname": {
            "description": "The holder's surname, as printed. Null when none was read.",
            "type": [
              "string",
              "null"
            ]
          },
          "full_name": {
            "description": "The holder's name as the document prints it in one combined field. Null when the document carries no such field – it is not composed from the two above.",
            "type": [
              "string",
              "null"
            ]
          },
          "birth_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$",
                "description": "Calendar date, ISO-8601 (`YYYY-MM-DD`)."
              },
              {
                "type": "null"
              }
            ],
            "description": "The holder's date of birth, ISO-8601 (`YYYY-MM-DD`). Null when none was read."
          },
          "sex": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "M",
                  "F",
                  "X"
                ]
              },
              {
                "type": "null"
              }
            ],
            "description": "The sex the document states: `M`, `F`, or `X` for unspecified. Null when none was read."
          },
          "nationality": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^[A-Z]{3}$",
                "description": "ISO 3166-1 alpha-3 country code.",
                "example": "GRC"
              },
              {
                "type": "null"
              }
            ],
            "description": "The holder's nationality, ISO 3166-1 alpha-3. Null when none was read; it is not assumed from the issuing state."
          }
        },
        "required": [
          "given_names",
          "surname",
          "full_name",
          "birth_date",
          "sex",
          "nationality"
        ],
        "additionalProperties": false
      },
      "ScanField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "Identity of this entry, unique across `fields`: the key and the language identifier the value was read as, plus an occurrence counter when the same pair is reported twice. `name` is the semantic key and repeats – a document that carries a field in two scripts yields one entry per language – so use `id`, not `name`, to address or key a single entry.",
            "example": "surname@1032"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Our stable snake_case key.",
            "example": "surname"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "description": "Our human label.",
            "example": "Surname"
          },
          "category": {
            "$ref": "#/components/schemas/FieldCategory"
          },
          "value": {
            "description": "The value of this reading: the national-script spelling on a national-script reading, the transliterated Latin value on the default reading (the one whose `id` carries the identifier `0`). Null when the field is empty.",
            "type": [
              "string",
              "null"
            ]
          },
          "language": {
            "description": "The language this reading was made in, e.g. `Greek`. The default Latin-script reading – the document's own Latin page and the machine-readable zone, `id` suffix `@0` – is `English`. Null only on `days_to_expire`, a number computed from the expiry date rather than text read in any language.",
            "example": "Greek",
            "type": [
              "string",
              "null"
            ]
          },
          "confidence": {
            "$ref": "#/components/schemas/ConfidenceBand"
          }
        },
        "required": [
          "id",
          "name",
          "label",
          "category",
          "value",
          "language",
          "confidence"
        ],
        "additionalProperties": false
      },
      "FieldCategory": {
        "type": "string",
        "enum": [
          "identity",
          "document",
          "dates",
          "address",
          "visa",
          "other"
        ],
        "description": "Which group of the report a field belongs to."
      },
      "ScanMrz": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/MrzStatus"
          },
          "reason": {
            "description": "One plain sentence naming what did not check out, for `failed`; null otherwise.",
            "example": "Check digit failed for: document number, date of birth",
            "type": [
              "string",
              "null"
            ]
          },
          "lines": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "The zone's lines in order, exactly as read – two for a TD3 passport, three for a TD1 card. The zone's alphabet is `A-Z`, `0-9` and the filler `<`, so a line carries no whitespace. Null when the document carries none."
          },
          "text": {
            "description": "The same lines run together with nothing between them: one unbroken string, with no newlines and no spaces. Null when there are none.",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "status",
          "reason",
          "lines",
          "text"
        ],
        "additionalProperties": false
      },
      "MrzStatus": {
        "type": "string",
        "enum": [
          "passed",
          "failed",
          "absent"
        ],
        "description": "Verdict on the machine-readable zone: `passed` (present, every check digit valid and nothing contradicting the printed page), `failed` (present but something did not check out) or `absent` (the document carries none)."
      },
      "ScanImages": {
        "type": "object",
        "properties": {
          "document_crop": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^data:image\\/(jpeg|png);base64,[A-Za-z0-9+/]+={0,2}$",
                "description": "Image as a `data:` URL with base64 payload."
              },
              {
                "type": "null"
              }
            ],
            "description": "The document itself, cropped out of the uploaded picture and deskewed – the front side of a card, the data page of a booklet."
          },
          "rear": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^data:image\\/(jpeg|png);base64,[A-Za-z0-9+/]+={0,2}$",
                "description": "Image as a `data:` URL with base64 payload."
              },
              {
                "type": "null"
              }
            ],
            "description": "The reverse side of the document, when the picture carried one and a crop of it was produced."
          },
          "main_photo": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^data:image\\/(jpeg|png);base64,[A-Za-z0-9+/]+={0,2}$",
                "description": "Image as a `data:` URL with base64 payload."
              },
              {
                "type": "null"
              }
            ],
            "description": "The holder's photograph as printed on the document."
          },
          "signature": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^data:image\\/(jpeg|png);base64,[A-Za-z0-9+/]+={0,2}$",
                "description": "Image as a `data:` URL with base64 payload."
              },
              {
                "type": "null"
              }
            ],
            "description": "The holder's signature as printed on the document."
          },
          "watermark_face": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^data:image\\/(jpeg|png);base64,[A-Za-z0-9+/]+={0,2}$",
                "description": "Image as a `data:` URL with base64 payload."
              },
              {
                "type": "null"
              }
            ],
            "description": "The faint second copy of the holder's face printed into the page as a security feature – a different image from `main_photo`, and the one a verifier compares against it. Null when the document carries none."
          },
          "barcode": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^data:image\\/(jpeg|png);base64,[A-Za-z0-9+/]+={0,2}$",
                "description": "Image as a `data:` URL with base64 payload."
              },
              {
                "type": "null"
              }
            ],
            "description": "The barcode area of the document, when it carries one."
          },
          "chip": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^data:image\\/(jpeg|png);base64,[A-Za-z0-9+/]+={0,2}$",
                "description": "Image as a `data:` URL with base64 payload."
              },
              {
                "type": "null"
              }
            ],
            "description": "The chip area of the document, when it carries one."
          }
        },
        "required": [
          "document_crop",
          "rear",
          "main_photo",
          "signature",
          "watermark_face",
          "barcode",
          "chip"
        ],
        "additionalProperties": false,
        "description": "Image crops, returned in the recognition response only. Each is scaled down by height, proportionally and never upwards, to at most 250 px for `document_crop` and 100 px for every other crop, then re-encoded with every metadata block dropped."
      },
      "ScanQuality": {
        "type": "object",
        "properties": {
          "overall": {
            "type": "string",
            "enum": [
              "not_checked",
              "pass",
              "warn",
              "fail"
            ],
            "description": "Whether the uploaded picture was good enough to recognize from. `not_checked` when nothing measured it – a scan read back from storage, which keeps no engine output."
          }
        },
        "required": [
          "overall"
        ],
        "additionalProperties": false
      },
      "ScanAuthenticity": {
        "type": "object",
        "properties": {
          "overall": {
            "type": "string",
            "enum": [
              "not_checked",
              "pass",
              "warn",
              "fail"
            ],
            "description": "`not_checked` under the recognition-only scenario; populated by authenticity verification later."
          },
          "checks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScanCheck"
            },
            "description": "One entry per authenticity check that ran. Always present; empty under the recognition-only scenario, where nothing ran."
          }
        },
        "required": [
          "overall",
          "checks"
        ],
        "additionalProperties": false
      },
      "ScanCheck": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Our stable snake_case key for this check."
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "description": "Our human label for this check."
          },
          "result": {
            "$ref": "#/components/schemas/CheckResult"
          },
          "detail": {
            "description": "One plain sentence about what this check saw, or null when it has nothing to add.",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "name",
          "label",
          "result",
          "detail"
        ],
        "additionalProperties": false
      },
      "CheckResult": {
        "type": "string",
        "enum": [
          "pass",
          "warn",
          "fail"
        ],
        "description": "Outcome of a single check."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "message": {
                "type": "string",
                "minLength": 1,
                "description": "Human-readable explanation."
              },
              "docs_url": {
                "type": "string",
                "format": "uri",
                "description": "Documentation page for this error code."
              },
              "request_id": {
                "type": "string",
                "minLength": 1,
                "description": "Identifier of the failed request, for support."
              },
              "event_id": {
                "anyOf": [
                  {
                    "type": "string",
                    "minLength": 1
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Identifier of the recorded failure, when one was recorded. Present and non-null only for an unexpected failure the service reported to itself; quote it in a support request and it resolves to that one failure. `null` for every error the caller is meant to handle."
              }
            },
            "required": [
              "code",
              "message",
              "docs_url",
              "request_id",
              "event_id"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "description": "The single error shape of every error response."
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "invalid_request",
          "validation_failed",
          "unauthorized",
          "client_token_expired",
          "client_token_used_up",
          "client_token_not_allowed",
          "registration_required",
          "insufficient_credits",
          "not_found",
          "idempotency_conflict",
          "idempotency_in_progress",
          "idempotency_replay_unavailable",
          "payload_too_large",
          "unsupported_media_type",
          "rate_limited",
          "document_repeated",
          "internal_error",
          "payment_driver_unavailable",
          "topup_in_progress",
          "rate_unavailable",
          "impersonation_read_only",
          "engine_unavailable",
          "service_unavailable",
          "maintenance"
        ],
        "description": "Machine-readable error code; each code has its own documentation page."
      },
      "ScanList": {
        "type": "object",
        "properties": {
          "scans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScanSummary"
            },
            "description": "The account's scans, most recent first."
          },
          "next_cursor": {
            "description": "Opaque cursor for the next page: send it back as `cursor` to continue after the last row of this one. Null on the last page.",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "scans",
          "next_cursor"
        ],
        "additionalProperties": false
      },
      "ScanSummary": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ScanId"
          },
          "status": {
            "$ref": "#/components/schemas/ScanStatus"
          },
          "billed": {
            "type": "boolean",
            "description": "Whether this scan was charged to the balance."
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Server-side processing time of the scan in milliseconds."
          },
          "reference": {
            "description": "The request's `reference`, echoed back.",
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$",
            "description": "Timestamp, ISO-8601 in UTC (`YYYY-MM-DDTHH:MM:SSZ`)."
          }
        },
        "required": [
          "id",
          "status",
          "billed",
          "duration_ms",
          "reference",
          "created_at"
        ],
        "additionalProperties": false
      },
      "ScanDeletion": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ScanId"
          },
          "deleted": {
            "type": "boolean",
            "const": true,
            "description": "Always true: the stored result is gone and cannot be read back."
          }
        },
        "required": [
          "id",
          "deleted"
        ],
        "additionalProperties": false
      },
      "Usage": {
        "type": "object",
        "properties": {
          "balance_credits": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ],
            "description": "Credits currently available to the account: this month's free credits plus the paid credits; null for a key with no account (the public sandbox key)."
          },
          "period": {
            "type": "object",
            "properties": {
              "start": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
              },
              "end": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
              }
            },
            "required": [
              "start",
              "end"
            ],
            "additionalProperties": false,
            "description": "Bounds of the current usage period (UTC calendar month)."
          },
          "scans": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "billed": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "by_status": {
                "type": "object",
                "properties": {
                  "recognized": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "no_document_found": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "unreadable": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "unsupported_document": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  "rejected": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  }
                },
                "required": [
                  "recognized",
                  "no_document_found",
                  "unreadable",
                  "unsupported_document",
                  "rejected"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "total",
              "billed",
              "by_status"
            ],
            "additionalProperties": false
          },
          "credits_spent": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Credits charged within the period."
          },
          "free_allowance": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "monthly_credits": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991,
                    "description": "Free credits the account is set back to at the start of each UTC calendar month: 100 every month."
                  },
                  "remaining_credits": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991,
                    "description": "Free credits left this month."
                  },
                  "resets_at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "When the free credits are next set back to the monthly amount (00:00 UTC on the first of the next month); null when there is no next monthly amount."
                  }
                },
                "required": [
                  "monthly_credits",
                  "remaining_credits",
                  "resets_at"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ],
            "description": "This month's free credits, drawn before paid credits; null when the account may not draw free credits (its email address is not confirmed, or its free credits were withdrawn) and for a key with no account."
          },
          "paid_balance_credits": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ],
            "description": "Paid credits: bought or granted to the account, drawn once this month's free credits are used up, and never reset; null only for a key with no account (the public sandbox key)."
          },
          "credits_spent_by_kind": {
            "type": "object",
            "properties": {
              "free": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "paid": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "free",
              "paid"
            ],
            "additionalProperties": false,
[...]
