{
  "openapi": "3.1.0",
  "info": {
    "title": "Glade Amazon API",
    "version": "1.0.0",
    "description": "Normalized Amazon product, search, seller, category, offer, review, deal, and estimate data.",
    "x-jentic-source-url": "https://gladeapi.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://gladeapi.com"
    }
  ],
  "paths": {
    "/api/amazon/product": {
      "get": {
        "operationId": "get_AmazonProduct",
        "summary": "Product details",
        "description": "Get normalized product details using exactly one identifier: ASIN, URL, or GTIN.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Amazon marketplace code.",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "UK",
                "CA",
                "DE",
                "FR",
                "IT",
                "ES",
                "AU",
                "IN",
                "MX",
                "BR",
                "JP",
                "PL"
              ],
              "default": "US"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "required": false,
            "description": "A 10-character Amazon Standard Identification Number.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{10}$"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "A canonical HTTPS product URL on a supported Amazon host.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "gtin",
            "in": "query",
            "required": false,
            "description": "A valid ISBN-10, UPC, EAN, or GTIN value.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Amazon data response",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier for support and audit trails.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Glade-Schema-Version": {
                "description": "Version of the normalized public response schema.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Glade-Cache": {
                "description": "Whether the response was a cache hit, miss, or stale fallback.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hit",
                    "miss",
                    "stale"
                  ]
                }
              },
              "X-Glade-Data-Fetched-At": {
                "description": "Upstream result creation time, preserved across cache hits.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Glade-Usage-Units": {
                "description": "Customer units consumed by this operation.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "amazonProduct"
                      ],
                      "properties": {
                        "amazonProduct": {
                          "$schema": "http://json-schema.org/draft-07/schema#",
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string",
                              "minLength": 1
                            },
                            "subtitle": {
                              "type": "string"
                            },
                            "brand": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "asin": {
                              "type": "string",
                              "pattern": "^[A-Z0-9]{10}$"
                            },
                            "isPrime": {
                              "type": "boolean"
                            },
                            "isNew": {
                              "type": "boolean"
                            },
                            "isInStock": {
                              "type": "boolean"
                            },
                            "price": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "number"
                                },
                                "currency": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 3
                                },
                                "display": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            },
                            "mainImageUrl": {
                              "type": "string"
                            },
                            "imageUrls": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "rating": {
                              "type": "number"
                            },
                            "ratingsTotal": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "featureBullets": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "technicalSpecifications": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "categories": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "breadcrumbPath": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "url",
                                  "breadcrumbPath"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "coupon": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "label"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "seller": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "sellerId": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "title",
                            "asin"
                          ],
                          "additionalProperties": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/amazon/product/gtin-from-asin": {
      "get": {
        "operationId": "get_AmazonGtinFromAsin",
        "summary": "GTIN from ASIN",
        "description": "Resolve the GTIN associated with an ASIN.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Amazon marketplace code.",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "UK",
                "CA",
                "DE",
                "FR",
                "IT",
                "ES",
                "AU",
                "IN",
                "MX",
                "BR",
                "JP",
                "PL"
              ],
              "default": "US"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "required": true,
            "description": "A 10-character Amazon Standard Identification Number.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{10}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Amazon data response",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier for support and audit trails.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Glade-Schema-Version": {
                "description": "Version of the normalized public response schema.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Glade-Cache": {
                "description": "Whether the response was a cache hit, miss, or stale fallback.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hit",
                    "miss",
                    "stale"
                  ]
                }
              },
              "X-Glade-Data-Fetched-At": {
                "description": "Upstream result creation time, preserved across cache hits.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Glade-Usage-Units": {
                "description": "Customer units consumed by this operation.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "amazonProduct"
                      ],
                      "properties": {
                        "amazonProduct": {
                          "$schema": "http://json-schema.org/draft-07/schema#",
                          "type": "object",
                          "properties": {
                            "asin": {
                              "type": "string",
                              "pattern": "^[A-Z0-9]{10}$"
                            },
                            "gtin": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "additionalProperties": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/amazon/product/asin-from-gtin": {
      "get": {
        "operationId": "get_AmazonAsinFromGtin",
        "summary": "ASIN from GTIN",
        "description": "Resolve and verify the ASIN associated with a GTIN.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Amazon marketplace code.",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "UK",
                "CA",
                "DE",
                "FR",
                "IT",
                "ES",
                "AU",
                "IN",
                "MX",
                "BR",
                "JP",
                "PL"
              ],
              "default": "US"
            }
          },
          {
            "name": "gtin",
            "in": "query",
            "required": true,
            "description": "A valid ISBN-10, UPC, EAN, or GTIN value.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Amazon data response",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier for support and audit trails.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Glade-Schema-Version": {
                "description": "Version of the normalized public response schema.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Glade-Cache": {
                "description": "Whether the response was a cache hit, miss, or stale fallback.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hit",
                    "miss",
                    "stale"
                  ]
                }
              },
              "X-Glade-Data-Fetched-At": {
                "description": "Upstream result creation time, preserved across cache hits.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Glade-Usage-Units": {
                "description": "Customer units consumed by this operation.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "amazonProduct"
                      ],
                      "properties": {
                        "amazonProduct": {
                          "$schema": "http://json-schema.org/draft-07/schema#",
                          "type": "object",
                          "properties": {
                            "asin": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "pattern": "^[A-Z0-9]{10}$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "gtin": {
                              "type": "string"
                            }
                          },
                          "additionalProperties": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/amazon/product/variants": {
      "get": {
        "operationId": "get_AmazonProductVariants",
        "summary": "Product variants",
        "description": "Get product variants using exactly one identifier: ASIN, URL, or GTIN.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Amazon marketplace code.",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "UK",
                "CA",
                "DE",
                "FR",
                "IT",
                "ES",
                "AU",
                "IN",
                "MX",
                "BR",
                "JP",
                "PL"
              ],
              "default": "US"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "required": false,
            "description": "A 10-character Amazon Standard Identification Number.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{10}$"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "A canonical HTTPS product URL on a supported Amazon host.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "gtin",
            "in": "query",
            "required": false,
            "description": "A valid ISBN-10, UPC, EAN, or GTIN value.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Amazon data response",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier for support and audit trails.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Glade-Schema-Version": {
                "description": "Version of the normalized public response schema.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Glade-Cache": {
                "description": "Whether the response was a cache hit, miss, or stale fallback.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hit",
                    "miss",
                    "stale"
                  ]
                }
              },
              "X-Glade-Data-Fetched-At": {
                "description": "Upstream result creation time, preserved across cache hits.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Glade-Usage-Units": {
                "description": "Customer units consumed by this operation.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "amazonProduct"
                      ],
                      "properties": {
                        "amazonProduct": {
                          "$schema": "http://json-schema.org/draft-07/schema#",
                          "type": "object",
                          "properties": {
                            "variants": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "asin": {
                                    "type": "string",
                                    "pattern": "^[A-Z0-9]{10}$"
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "attributes": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "price": {
                                    "type": "object",
                                    "properties": {
                                      "symbol": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "number"
                                      },
                                      "currency": {
                                        "type": "string",
                                        "minLength": 3,
                                        "maxLength": 3
                                      },
                                      "display": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            }
                          },
                          "additionalProperties": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/amazon/product/stock": {
      "get": {
        "operationId": "get_AmazonStockEstimates",
        "summary": "Stock estimate",
        "description": "Get a stock estimate using exactly one identifier: ASIN, URL, or GTIN.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Amazon marketplace code.",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "UK",
                "CA",
                "DE",
                "FR",
                "IT",
                "ES",
                "AU",
                "IN",
                "MX",
                "BR",
                "JP",
                "PL"
              ],
              "default": "US"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "required": false,
            "description": "A 10-character Amazon Standard Identification Number.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{10}$"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "A canonical HTTPS product URL on a supported Amazon host.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "gtin",
            "in": "query",
            "required": false,
            "description": "A valid ISBN-10, UPC, EAN, or GTIN value.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Amazon data response",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier for support and audit trails.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Glade-Schema-Version": {
                "description": "Version of the normalized public response schema.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Glade-Cache": {
                "description": "Whether the response was a cache hit, miss, or stale fallback.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hit",
                    "miss",
                    "stale"
                  ]
                }
              },
              "X-Glade-Data-Fetched-At": {
                "description": "Upstream result creation time, preserved across cache hits.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Glade-Usage-Units": {
                "description": "Customer units consumed by this operation.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "amazonProduct"
                      ],
                      "properties": {
                        "amazonProduct": {
                          "$schema": "http://json-schema.org/draft-07/schema#",
                          "type": "object",
                          "properties": {
                            "stockEstimate": {
                              "type": "object",
                              "properties": {
                                "offerId": {
                                  "type": "string"
                                },
                                "inStock": {
                                  "type": "boolean"
                                },
                                "stockLevel": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 9007199254740991
                                },
                                "availabilityMessage": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "inStock"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "additionalProperties": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/amazon/product/sales": {
      "get": {
        "operationId": "get_AmazonSalesEstimates",
        "summary": "Sales estimates",
        "description": "Get a versioned sales run-rate projection with identity scope, observation time, methodology, and explicit availability using exactly one identifier: ASIN, URL, or GTIN.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Amazon marketplace code.",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "UK",
                "CA",
                "DE",
                "FR",
                "IT",
                "ES",
                "AU",
                "IN",
                "MX",
                "BR",
                "JP",
                "PL"
              ],
              "default": "US"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "required": false,
            "description": "A 10-character Amazon Standard Identification Number.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{10}$"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "A canonical HTTPS product URL on a supported Amazon host.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "gtin",
            "in": "query",
            "required": false,
            "description": "A valid ISBN-10, UPC, EAN, or GTIN value.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Amazon data response",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier for support and audit trails.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Glade-Schema-Version": {
                "description": "Version of the normalized public response schema.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Glade-Cache": {
                "description": "Whether the response was a cache hit, miss, or stale fallback.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hit",
                    "miss",
                    "stale"
                  ]
                }
              },
              "X-Glade-Data-Fetched-At": {
                "description": "Upstream result creation time, preserved across cache hits.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Glade-Usage-Units": {
                "description": "Customer units consumed by this operation.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "amazonProduct"
                      ],
                      "properties": {
                        "amazonProduct": {
                          "$schema": "http://json-schema.org/draft-07/schema#",
                          "type": "object",
                          "properties": {
                            "asin": {
                              "type": "string",
                              "pattern": "^[A-Z0-9]{10}$"
                            },
                            "requestedAsin": {
                              "type": "string",
                              "pattern": "^[A-Z0-9]{10}$"
                            },
                            "resolvedAsin": {
                              "type": "string",
                              "pattern": "^[A-Z0-9]{10}$"
                            },
                            "canonicalParentAsin": {
                              "type": "string",
                              "pattern": "^[A-Z0-9]{10}$"
                            },
                            "familyDeduplicationKey": {
                              "type": "string",
                              "pattern": "^[A-Z0-9]{10}$"
                            },
                            "scope": {
                              "type": "string",
                              "enum": [
                                "CHILD_ASIN",
                                "PARENT_ASIN",
                                "UNKNOWN"
                              ]
                            },
                            "salesEstimate": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "AVAILABLE",
                                    "UNAVAILABLE"
                                  ]
                                },
                                "unavailableReason": {
                                  "type": "string",
                                  "enum": [
                                    "SALES_RANK_UNAVAILABLE"
                                  ]
                                },
                                "estimateType": {
                                  "type": "string",
                                  "const": "PROJECTED_RUN_RATE"
                                },
                                "scope": {
                                  "type": "string",
                                  "enum": [
                                    "EXACT_ASIN",
                                    "PARENT_FAMILY",
                                    "UNKNOWN"
                                  ]
                                },
                                "weeklyUnitSales": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 9007199254740991
                                },
                                "monthlyUnitSales": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 9007199254740991
                                },
                                "annualUnitSales": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 9007199254740991
                                },
                                "sourceSalesRank": {
                                  "type": "integer",
                                  "exclusiveMinimum": 0,
                                  "maximum": 9007199254740991
                                },
                                "dataFetchedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                },
                                "estimatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                },
                                "sourceObservedAt": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "format": "date-time",
                                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "sourceObservationTimeAvailable": {
                                  "type": "boolean",
                                  "const": false
                                },
                                "timezone": {
                                  "type": "string",
                                  "const": "UTC"
                                },
                                "periodSemantics": {
                                  "type": "object",
                                  "properties": {
                                    "historical": {
                                      "type": "boolean",
                                      "const": false
                                    },
                                    "calendarAligned": {
                                      "type": "boolean",
                                      "const": false
                                    },
                                    "rollingWindowDays": {
                                      "type": "null"
                                    }
                                  },
                                  "required": [
                                    "historical",
                                    "calendarAligned",
                                    "rollingWindowDays"
                                  ],
                                  "additionalProperties": false
                                },
                                "methodology": {
                                  "type": "object",
                                  "properties": {
                                    "modelVersion": {
                                      "type": "string"
                                    },
                                    "inputSignals": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "independentlyCalibrated": {
                                      "type": "boolean",
                                      "const": false
                                    },
                                    "confidenceIntervalAvailable": {
                                      "type": "boolean",
                                      "const": false
                                    },
                                    "limitations": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "required": [
                                    "modelVersion",
                                    "inputSignals",
                                    "independentlyCalibrated",
                                    "confidenceIntervalAvailable",
                                    "limitations"
                                  ],
                                  "additionalProperties": false
                                },
                                "revenue": {
                                  "type": "object",
                                  "properties": {
                                    "status": {
                                      "type": "string",
                                      "const": "NOT_AVAILABLE"
                                    },
                                    "reason": {
                                      "type": "string",
                                      "const": "ALIGNED_HISTORICAL_PRICE_WINDOW_UNAVAILABLE"
                                    }
                                  },
                                  "required": [
                                    "status",
                                    "reason"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "required": [
                                "status",
                                "estimateType",
                                "scope",
                                "sourceObservedAt",
                                "sourceObservationTimeAvailable",
                                "timezone",
                                "periodSemantics",
                                "methodology",
                                "revenue"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "scope",
                            "salesEstimate"
                          ],
                          "additionalProperties": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/amazon/product/reviews": {
      "get": {
        "operationId": "get_AmazonProductReviews",
        "summary": "Product reviews",
        "description": "Get filterable product reviews using exactly one identifier: ASIN, URL, or GTIN.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Amazon marketplace code.",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "UK",
                "CA",
                "DE",
                "FR",
                "IT",
                "ES",
                "AU",
                "IN",
                "MX",
                "BR",
                "JP",
                "PL"
              ],
              "default": "US"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "required": false,
            "description": "A 10-character Amazon Standard Identification Number.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{10}$"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "A canonical HTTPS product URL on a supported Amazon host.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "gtin",
            "in": "query",
            "required": false,
            "description": "A valid ISBN-10, UPC, EAN, or GTIN value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page, from 1 through 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            }
          },
          {
            "name": "onlyVerifiedReviews",
            "in": "query",
            "description": "When true, return verified-purchase reviews only.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "rating",
            "in": "query",
            "description": "Filter reviews by star rating.",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "FIVE_STAR",
                "FOUR_STAR",
                "THREE_STAR",
                "TWO_STAR",
                "ONE_STAR"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter reviews by a search phrase.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Amazon data response",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier for support and audit trails.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Glade-Schema-Version": {
                "description": "Version of the normalized public response schema.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Glade-Cache": {
                "description": "Whether the response was a cache hit, miss, or stale fallback.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hit",
                    "miss",
                    "stale"
                  ]
                }
              },
              "X-Glade-Data-Fetched-At": {
                "description": "Upstream result creation time, preserved across cache hits.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Glade-Usage-Units": {
                "description": "Customer units consumed by this operation.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "amazonProduct"
                      ],
                      "properties": {
                        "amazonProduct": {
                          "$schema": "http://json-schema.org/draft-07/schema#",
                          "type": "object",
                          "properties": {
                            "topReviews": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "body": {
                                    "type": "string"
                                  },
                                  "imageUrls": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "videos": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "posterImageUrl": {
                                          "type": "string"
                                        },
                                        "url": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  },
                                  "rating": {
                                    "type": "number"
                                  },
                                  "helpfulVotes": {
                                    "type": "integer",
                                    "minimum": 0,
                                    "maximum": 9007199254740991
                                  },
                                  "verifiedPurchase": {
                                    "type": "boolean"
                                  },
                                  "reviewer": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string"
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "reviewsPaginated": {
                              "type": "object",
                              "properties": {
                                "reviews": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      },
                                      "title": {
                                        "type": "string"
                                      },
                                      "body": {
                                        "type": "string"
                                      },
                                      "imageUrls": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "videos": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "posterImageUrl": {
                                              "type": "string"
                                            },
                                            "url": {
                                              "type": "string"
                                            }
                                          },
                                          "additionalProperties": false
                                        }
                                      },
                                      "rating": {
                                        "type": "number"
                                      },
                                      "helpfulVotes": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 9007199254740991
                                      },
                                      "verifiedPurchase": {
                                        "type": "boolean"
                                      },
                                      "reviewer": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "url": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "pageInfo": {
                                  "type": "object",
                                  "properties": {
                                    "currentPage": {
                                      "type": "integer",
                                      "exclusiveMinimum": 0,
                                      "maximum": 9007199254740991
                                    },
                                    "totalPages": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 9007199254740991
                                    },
                                    "totalResults": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 9007199254740991
                                    },
                                    "hasNextPage": {
                                      "type": "boolean"
                                    },
                                    "hasPrevPage": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "additionalProperties": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/amazon/product/offers": {
      "get": {
        "operationId": "get_AmazonProductOffers",
        "summary": "Product offers",
        "description": "Get seller offers using exactly one identifier: ASIN, URL, or GTIN.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Amazon marketplace code.",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "UK",
                "CA",
                "DE",
                "FR",
                "IT",
                "ES",
                "AU",
                "IN",
                "MX",
                "BR",
                "JP",
                "PL"
              ],
              "default": "US"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "required": false,
            "description": "A 10-character Amazon Standard Identification Number.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9]{10}$"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "A canonical HTTPS product URL on a supported Amazon host.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "gtin",
            "in": "query",
            "required": false,
            "description": "A valid ISBN-10, UPC, EAN, or GTIN value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page, from 1 through 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Amazon data response",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier for support and audit trails.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Glade-Schema-Version": {
                "description": "Version of the normalized public response schema.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Glade-Cache": {
                "description": "Whether the response was a cache hit, miss, or stale fallback.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hit",
                    "miss",
                    "stale"
                  ]
                }
              },
              "X-Glade-Data-Fetched-At": {
                "description": "Upstream result creation time, preserved across cache hits.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Glade-Usage-Units": {
                "description": "Customer units consumed by this operation.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "amazonProduct"
                      ],
                      "properties": {
                        "amazonProduct": {
                          "$schema": "http://json-schema.org/draft-07/schema#",
                          "type": "object",
                          "properties": {
                            "offersPaginated": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "offers": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "price": {
                                            "anyOf": [
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "symbol": {
                                                    "type": "string"
                                                  },
                                                  "value": {
                                                    "type": "number"
                                                  },
                                                  "currency": {
                                                    "type": "string",
                                                    "minLength": 3,
                                                    "maxLength": 3
                                                  },
                                                  "display": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "minimumOrderQuantity": {
                                            "type": "integer",
                                            "exclusiveMinimum": 0,
                                            "maximum": 9007199254740991
                                          },
                                          "maximumOrderQuantity": {
                                            "type": "integer",
                                            "exclusiveMinimum": 0,
                                            "maximum": 9007199254740991
                                          },
                                          "conditionIsNew": {
                                            "type": "boolean"
                                          },
                                          "title": {
                                            "type": "string"
                                          },
                                          "delivery": {
                                            "anyOf": [
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "fulfilledByAmazon": {
                                                    "type": "boolean"
                                                  },
                                                  "shippedFromOutsideCountry": {
                                                    "type": "boolean"
                                                  },
                                                  "countdown": {
                                                    "type": "string"
                                                  },
                                                  "comments": {
                                                    "type": "string"
                                                  },
                                                  "price": {
                                                    "anyOf": [
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "symbol": {
                                                            "type": "string"
                                                          },
                                                          "value": {
                                                            "type": "number"
                                                          },
                                                          "currency": {
                                                            "type": "string",
                                                            "minLength": 3,
                                                            "maxLength": 3
                                                          },
                                                          "display": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      },
                                                      {
                                                        "type": "null"
                                                      }
                                                    ]
                                                  },
                                                  "upsell": {
                                                    "anyOf": [
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "name": {
                                                            "type": "string"
                                                          },
                                                          "value": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "additionalProperties": false
                                                      },
                                                      {
                                                        "type": "null"
                                                      }
                                                    ]
                                                  }
                                                },
                                                "additionalProperties": false
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "seller": {
                                            "anyOf": [
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "name": {
                                                    "type": "string"
                                                  },
                                                  "link": {
                                                    "type": "string"
                                                  },
                                                  "rating": {
                                                    "type": "number"
                                                  },
                                                  "ratingsPercentagePositive": {
                                                    "type": "number"
                                                  },
                                                  "ratingsTotal": {
                                                    "type": "integer",
                                                    "minimum": 0,
                                                    "maximum": 9007199254740991
                                                  },
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "imageUrl": {
                                                    "type": "string"
                                                  }
                                                },
                                                "additionalProperties": false
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "isPrime": {
                                            "type": "boolean"
                                          },
                                          "buyboxWinner": {
                                            "type": "boolean"
                                          }
                                        },
                                        "additionalProperties": false
                                      }
                                    },
                                    "pageInfo": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "currentPage": {
                                              "type": "integer",
                                              "exclusiveMinimum": 0,
                                              "maximum": 9007199254740991
                                            },
                                            "totalPages": {
                                              "type": "integer",
                                              "minimum": 0,
                                              "maximum": 9007199254740991
                                            },
                                            "totalResults": {
                                              "type": "integer",
                                              "minimum": 0,
                                              "maximum": 9007199254740991
                                            },
                                            "hasNextPage": {
                                              "type": "boolean"
                                            },
                                            "hasPrevPage": {
                                              "type": "boolean"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "additionalProperties": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/amazon/search": {
      "get": {
        "operationId": "get_AmazonProductSearchResults",
        "summary": "Product search",
        "description": "Search the selected Amazon marketplace for products.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Amazon marketplace code.",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "UK",
                "CA",
                "DE",
                "FR",
                "IT",
                "ES",
                "AU",
                "IN",
                "MX",
                "BR",
                "JP",
                "PL"
              ],
              "default": "US"
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": true,
            "description": "Product search phrase.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "description": "Optional Amazon category node ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Result ordering. Values are case-insensitive.",
            "schema": {
              "type": "string",
              "enum": [
                "FEATURED",
                "MOST_RECENT",
                "PRICE_ASCENDING",
                "PRICE_DESCENDING",
                "AVERAGE_CUSTOMER_REVIEW"
              ],
              "default": "FEATURED"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Comma-separated product conditions: NEW, USED, or RENEWED.",
            "schema": {
              "type": "string",
              "example": "NEW,RENEWED"
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "description": "Minimum price in the marketplace currency.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "description": "Maximum price in the marketplace currency; must not be below minPrice.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page, from 1 through 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results requested, from 1 through 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Amazon data response",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier for support and audit trails.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Glade-Schema-Version": {
                "description": "Version of the normalized public response schema.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Glade-Cache": {
                "description": "Whether the response was a cache hit, miss, or stale fallback.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "hit",
                    "miss",
                    "stale"
                  ]
                }
              },
              "X-Glade-Data-Fetched-At": {
                "description": "Upstream result creation time, preserved across cache hits.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "X-Glade-Usage-Units": {
                "description": "Customer units consumed by this operation.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    1
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "amazonProductSearchResults"
                      ],
                      "properties": {
                        "amazonProductSearchResults": {
                          "$schema": "http://json-schema.org/draft-07/schema#",
                          "type": "object",
                          "properties": {
                            "availableRefinements": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "options": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "productResults": {
                              "type": "object",
                              "properties": {
                                "results": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "title": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string"
                                      },
                                      "asin": {
                                        "type": "string",
                                        "pattern": "^[A-Z0-9]{10}$"
                                      },
                                      "price": {
                                        "type": "object",
                                        "properties": {
                                          "symbol": {
                                            "type": "string"
                                          },
                                          "value": {
                                            "type": "number"
                                          },
                                          "currency": {
                                            "type": "string",
                                            "minLength": 3,
                                            "maxLength": 3
                                          },
                                          "display": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "mainImageUrl": {
                                        "type": "string"
                                      },
                                      "rating": {
                                        "type": "number"
                                      },
                                      "ratingsTotal": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 9007199254740991
                                      },
                                      "isPrime": {
                                        "type": "boolean"
                                      },
                                      "sponsored": {
                                        "type": "boolean"
                                      },
                                      "coupon": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "label": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "label"
                                            ],
                                            "additionalProperties": false
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "additionalProperties": false
                                  }
                                },
                                "pageInfo": {
                                  "type": "object",
                                  "properties": {
                                    "currentPage": {
                                      "type": "integer",
                                      "exclusiveMinimum": 0,
                                      "maximum": 9007199254740991
                                    },
                                    "totalPages": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 9007199254740991
                                    },
                                    "totalResults": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 9007199254740991
                                    },
                                    "hasNextPage": {
                                      "type": "boolean"
                                    },
                                    "hasPrevPage": {
                                      "type": "boolean"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "additionalProperties": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/amazon/autocomplete": {
      "get": {
        "operationId": "get_AmazonSearchAutocompleteResults",
        "summary": "Autocomplete",
        "description": "Get marketplace-specific suggestions for a partial phrase.",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Amazon marketplace code.",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "UK",
                "CA",
                "DE",
                "FR",
                "IT",
                "ES",
                "AU",
                "IN",
                "MX",
                "BR",
                "JP",
                "PL"
              ],
              "default": "US"
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": true,
            "description": "Partial search phrase.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Optional category context for the suggestions.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Amazon data response",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier for support and audit trails.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Glade-Schema-Version": {
                "description": "Version of the normalized public response schema.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Glade-Cache": {
                "description": "Whether the response was a cache hit, miss, or stale fallback.",
                "schema": {
                  "type": "string",
                  "enum": [
[...]
