{
  "openapi": "3.1.0",
  "info": {
    "title": "MyDriverParis public booking API",
    "version": "1.0.0",
    "description": "Public endpoints that power the MyDriverParis chauffeur booking flow. Protected by an X-API-Key header (contact contact@mydriverparis.com to request a key) and used by the MCP server at mcp-mydriverparis.mydriverparis.workers.dev.",
    "x-jentic-source-url": "https://mydriverparis.com/.well-known/openapi.json"
  },
  "servers": [
    {
      "url": "https://www.mydriverparis.com/wp-json/mydriverparis/v1"
    }
  ],
  "paths": {
    "/fleet": {
      "get": {
        "summary": "List vehicle classes",
        "description": "Returns the full fleet with passenger/bag capacity and base rates.",
        "responses": {
          "200": {
            "description": "Array of vehicles"
          }
        }
      }
    },
    "/quote": {
      "post": {
        "summary": "Compute an exact quote",
        "description": "Returns an all-inclusive EUR price per vehicle class for a trip.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pickup_address",
                  "dropoff_address",
                  "pickup_date",
                  "pickup_time"
                ],
                "properties": {
                  "pickup_address": {
                    "type": "string"
                  },
                  "dropoff_address": {
                    "type": "string"
                  },
                  "pickup_date": {
                    "type": "string",
                    "description": "dd/mm/yyyy (not ISO)"
                  },
                  "pickup_time": {
                    "type": "string",
                    "description": "HH:MM 24h"
                  },
                  "form_type": {
                    "type": "string",
                    "enum": [
                      "one_way",
                      "hourly",
                      "flat"
                    ],
                    "default": "one_way"
                  },
                  "num_hours": {
                    "type": "integer",
                    "minimum": 3,
                    "description": "Required when form_type=hourly"
                  },
                  "step_address": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote object with per-vehicle prices"
          }
        }
      }
    },
    "/stripe-webhook": {
      "post": {
        "summary": "Stripe webhook receiver (internal use only)",
        "description": "Invoked by Stripe after payment completes. Not intended for agent use.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}