{
  "openapi": "3.1.0",
  "info": {
    "title": "Firmenwatch API",
    "version": "1.11.0",
    "summary": "Schweizer Firmenidentitaeten, atomarer Portfolio-Abgleich, amtliche SHAB-Publikationen und ein geschlossener Arbeitskreislauf.",
    "description": "REST-Schnittstelle auf den uebernommenen Zefix/LINDAS-Stammbestand und erfasste Publikationen des Schweizerischen Handelsamtsblatts: Firmensuche, sicherer Namensabgleich ohne bekannte UID, Einzelabfrage per UID, Organe, Historie, Ereignisstrom, resumierbarer und atomarer Portfolio-Abgleich, priorisierte Prueffaelle, konkurrenzsichere Rueckmeldung von Bearbeitungsstand und Entscheidung sowie UID-Pruefung. Der separate Root-Resolver /uid/{uid}.json liefert ohne API-Schluessel einen minimalen, versionierten Identitaetskern. Alle Zeitangaben sind UTC, alle Datumsangaben ISO 8601 (YYYY-MM-DD). Die erfasste Publikationshistorie beginnt am 2025-01-03; fruehere Zeitstaende werden nicht aus dem heutigen Bestand zurueckgerechnet und eine vollstaendige amtliche Gesamthistorie wird nicht zugesichert. Betraege in Franken ohne Rappen, sofern nicht anders vermerkt.\n\nEreignisse des Stroms /events folgen dem Ereignisvertrag (Schema FeedEvent): stabile Kennung id, schema_version, sequence als Lesezeiger, status, revised_at, content_hash und source. Die menschenlesbare Begruendung steht unter https://firmenwatch.ch/api-docs#ereignisvertrag.\n\nOptionale X-Firmenwatch-Monthly-*-Kopfzeilen melden nach der Kontingentpruefung den kontoweiten Buchungsstand aller Schluessel und geschuetzten MCP-Aufrufe. Zugelassene Aufrufe zaehlen einschliesslich leerer Antworten, weiterer Seiten und nachgelagerter Eingabe- oder Fachfehler. Eine 402-Abweisung wegen ausgeschoepftem Monatskontingent zaehlt nicht; fruehe 401/403/429-Antworten und oeffentliche Endpunkte enthalten keine Monatswerte. Bestaetigte technische Rueckbuchungen koennen in derselben Antwort fuer den urspruenglich gebuchten UTC-Kalendermonat beruecksichtigt sein. Der Stand ist eine Momentaufnahme und reserviert kein Budget fuer parallele oder folgende Aufrufe. Eingeschlossenes Restvolumen = max(0, Included - Used); bei Overage=true bedeutet 0 keine Sperre. X-RateLimit-* beschreibt getrennt die kurzfristige Ratenbegrenzung.",
    "termsOfService": "https://firmenwatch.ch/agb",
    "contact": {
      "name": "Firmenwatch Support",
      "url": "https://firmenwatch.ch/kontakt"
    },
    "license": {
      "name": "Firmenevent-CH- und Firmenidentitaet-CH-Schema samt Testvektoren: CC0-1.0",
      "url": "https://creativecommons.org/publicdomain/zero/1.0/"
    },
    "x-jentic-source-url": "https://firmenwatch.ch/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://firmenwatch.ch/api/v1",
      "description": "Produktion"
    }
  ],
  "paths": {
    "/uid/{uid}.json": {
      "get": {
        "tags": [
          "Identitaet"
        ],
        "operationId": "resolveCompanyIdentity",
        "summary": "Minimalen Identitaetskern per UID aufloesen",
        "description": "Schluesselfreier Root-Resolver ausserhalb von /api/v1. Liefert UID, aktuellen Namen, Registerstatus, Rechtsform, registrierten Sitz und Zeitstaende. Strassenadresse, Zweck, Kapital, Branche, Organe und Ereignisse sind bewusst nicht enthalten. Die Fassung folgt dem dauerhaft versionierten JSON Schema Firmenidentitaet CH 1.0.",
        "servers": [
          {
            "url": "https://firmenwatch.ch",
            "description": "Dauerhafter Identitaetsresolver"
          }
        ],
        "security": [],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Kanonisch formatierte UID; andere Schreibweisen werden bewusst nicht aufgeloest.",
            "schema": {
              "type": "string",
              "pattern": "^CHE-[0-9]{3}\\.[0-9]{3}\\.[0-9]{3}$"
            },
            "example": "CHE-116.281.710"
          }
        ],
        "responses": {
          "200": {
            "description": "Aktueller minimaler Identitaetskern der Rechtseinheit. Die Antwort ist no-store; auch bedingte Abrufe erhalten deshalb den vollständigen 200-Vertrag statt einer 304-Antwort.",
            "headers": {
              "Cache-Control": {
                "description": "Unterdrueckungen muessen sofort wirken; der Identitaetskern darf nicht gespeichert werden.",
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              },
              "Link": {
                "description": "Kanonische Identitaet, versioniertes JSON Schema und alternatives HTML-Profil.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Firmenwatch-Schema-Version": {
                "description": "Version des Identitaetsvertrags.",
                "schema": {
                  "type": "string",
                  "const": "1.0"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyIdentity"
                }
              }
            }
          },
          "404": {
            "description": "Keine sichtbare Rechtseinheit unter dieser exakt kanonischen UID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unerwarteter Fehler beim Aufloesen der UID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Die vollstaendig gepruefte Firmenidentitaet wird gerade aktualisiert.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Empfohlene Wartezeit bis zum erneuten Abruf in Sekunden.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            }
          }
        }
      }
    },
    "/companies": {
      "get": {
        "tags": [
          "Firmen"
        ],
        "operationId": "listCompanies",
        "summary": "Firmensuche",
        "description": "Volltext- und Facettensuche im uebernommenen Zefix/LINDAS-Stammbestand. Der Bestand ist kein Vollstaendigkeitsnachweis. Ohne Suchbegriff werden aktive und danach zuletzt veraenderte Eintraege zuerst geliefert.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Suchbegriff. Trifft Firmenname oder UID.",
            "schema": {
              "type": "string"
            },
            "example": "Muster Handels"
          },
          {
            "name": "canton",
            "in": "query",
            "description": "Kantonskuerzel.",
            "schema": {
              "type": "string"
            },
            "example": "ZH"
          },
          {
            "name": "legal_form",
            "in": "query",
            "description": "Rechtsformcode nach eCH-0097 (0106 = AG, 0107 = GmbH).",
            "schema": {
              "type": "string"
            },
            "example": "0106"
          },
          {
            "name": "zip",
            "in": "query",
            "description": "Postleitzahl des Domizils.",
            "schema": {
              "type": "string"
            },
            "example": "8001"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status der Rechtseinheit.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "in_liquidation",
                "bankrupt",
                "deleted"
              ]
            },
            "example": "active"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Anzahl Datensaetze pro Seite.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Versatz fuer die Blaetterung.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100000,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trefferliste.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "total",
                    "limit",
                    "offset"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Company"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Gesamtzahl der Treffer ohne Blaetterung."
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "uid": "CHE-000.000.000",
                      "name": "Muster Handels AG",
                      "slug": "muster-handels-ag-zuerich",
                      "legal_form_code": "0106",
                      "legal_form": "Aktiengesellschaft",
                      "status": "active",
                      "seat": "Zürich",
                      "canton": "ZH",
                      "address": {
                        "care_of": null,
                        "street": "Musterstrasse",
                        "house_number": "12",
                        "po_box": null,
                        "zip": "8001",
                        "town": "Zürich"
                      },
                      "purpose": "Handel mit Waren aller Art, insbesondere mit Bueromaterial.",
                      "capital": null,
                      "industry": {
                        "code": "46.90",
                        "label": "Grosshandel ohne ausgepraegten Schwerpunkt",
                        "confidence": 0.82,
                        "qualification": "derived",
                        "basis": "registered_purpose_text"
                      },
                      "first_registered_at": "2019-03-14",
                      "deleted_at": null,
                      "last_event_at": "2026-08-24",
                      "url": "https://firmenwatch.ch/firma/muster-handels-ag-zuerich"
                    }
                  ],
                  "total": 1,
                  "limit": 25,
                  "offset": 0
                }
              }
            }
          },
          "400": {
            "description": "Ungueltige Anfrage (invalid_request).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "401": {
            "description": "Kein oder ungueltiger Schluessel (unauthorized).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "WWW-Authenticate": {
                "$ref": "#/components/headers/BearerChallenge"
              }
            }
          },
          "402": {
            "description": "Monatskontingent erschoepft (quota_exceeded).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "403": {
            "description": "Abonnement nicht aktiv oder benoetigtes Schluesselrecht fehlt (forbidden).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Ratenbegrenzung erreicht (rate_limited).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unerwarteter Fehler (internal).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "503": {
            "description": "Der Registerbestand wird gerade vollständig verifiziert (temporarily_unavailable). Dieselbe Abfrage später erneut senden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Empfohlene Wartezeit vor demselben Abruf in Sekunden.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          }
        }
      }
    },
    "/companies/{uid}": {
      "get": {
        "tags": [
          "Firmen"
        ],
        "operationId": "getCompany",
        "summary": "Einzelabfrage per UID",
        "description": "Liefert die Stammdaten einer Rechtseinheit samt derselben belegbasierten Unternehmensanalyse wie Firmenprofil, Markdown und MCP: nur amtlich belegtes Kapital, Personen- und Organabdeckung, Revision, Ereignisdynamik, Registerbefunde und Registerbezüge. Der aktuelle MWST-, FINMA- und SECO-Abgleich wird mit Quelle, Quellenstand, Prüfzeitpunkt und Grenzen separat ausgewiesen. Registerbezüge belegen für sich allein weder Beherrschung noch Konzernzugehörigkeit. Zusätzlich folgen die beobachteten Personen- und Organangaben und den 50 neuesten erfassten Ereignissen ab 2025-01-03. Weder Personenliste noch Ereignisliste sind eine vollstaendige amtliche Gesamthistorie.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "UID mit oder ohne Formatierung, z. B. CHE-000.000.000 oder 000000000.",
            "schema": {
              "type": "string",
              "pattern": "^(CHE-?)?[0-9]{3}\\.?[0-9]{3}\\.?[0-9]{3}$"
            },
            "example": "CHE-000.000.000"
          }
        ],
        "responses": {
          "200": {
            "description": "Rechtseinheit mit beobachteten Personenangaben und erfassten Ereignissen ab 2025-01-03.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Company"
                        },
                        {
                          "type": "object",
                          "required": [
                            "analysis",
                            "compliance",
                            "officer_data_scope",
                            "officers",
                            "timeline"
                          ],
                          "properties": {
                            "analysis": {
                              "$ref": "#/components/schemas/CompanyEvidenceAnalysis"
                            },
                            "compliance": {
                              "$ref": "#/components/schemas/CompanyCompliance"
                            },
                            "officer_data_scope": {
                              "$ref": "#/components/schemas/OfficerDataScope"
                            },
                            "officers": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Officer"
                              }
                            },
                            "timeline": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Event"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "400": {
            "description": "Ungueltige Anfrage (invalid_request).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "401": {
            "description": "Kein oder ungueltiger Schluessel (unauthorized).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "WWW-Authenticate": {
                "$ref": "#/components/headers/BearerChallenge"
              }
            }
          },
          "402": {
            "description": "Monatskontingent erschoepft (quota_exceeded).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "403": {
            "description": "Abonnement nicht aktiv oder benoetigtes Schluesselrecht fehlt (forbidden).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Keine Rechtseinheit mit dieser UID (not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "429": {
            "description": "Ratenbegrenzung erreicht (rate_limited).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unerwarteter Fehler (internal).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "503": {
            "description": "Der Registerbestand wird gerade vollständig verifiziert (temporarily_unavailable). Dieselbe Abfrage später erneut senden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Empfohlene Wartezeit vor demselben Abruf in Sekunden.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          }
        }
      }
    },
    "/companies/{uid}/officers": {
      "get": {
        "tags": [
          "Firmen"
        ],
        "operationId": "listCompanyOfficers",
        "summary": "Beobachtete Personen- und Organangaben einer Rechtseinheit",
        "description": "Teilbestand aus den seit 2025-01-03 erfassten SHAB-Meldungen. Standardmässig werden Angaben ohne beobachteten Austritt geliefert; Angaben mit beobachtetem Austritt nur mit include_former=true. Ein leeres Ergebnis ist keine Aussage, dass keine Personen oder Zeichnungsberechtigungen im Handelsregister eingetragen sind.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "UID mit oder ohne Formatierung, z. B. CHE-000.000.000 oder 000000000.",
            "schema": {
              "type": "string",
              "pattern": "^(CHE-?)?[0-9]{3}\\.?[0-9]{3}\\.?[0-9]{3}$"
            },
            "example": "CHE-000.000.000"
          },
          {
            "name": "include_former",
            "in": "query",
            "description": "Personenangaben mit im erfassten SHAB-Verlauf beobachtetem Austritt mitliefern.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "active",
            "in": "query",
            "deprecated": true,
            "description": "Veralteter Gegenparameter: false liefert auch Angaben mit beobachtetem Austritt. Nicht mit include_former kombinieren.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Personen- und Organangaben mit ausdruecklicher Reichweite des Teilbestands.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "uid",
                    "officer_data_scope"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Officer"
                      }
                    },
                    "uid": {
                      "type": "string",
                      "example": "CHE-000.000.000"
                    },
                    "officer_data_scope": {
                      "$ref": "#/components/schemas/OfficerDataScope"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "400": {
            "description": "Ungueltige Anfrage (invalid_request).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "401": {
            "description": "Kein oder ungueltiger Schluessel (unauthorized).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "WWW-Authenticate": {
                "$ref": "#/components/headers/BearerChallenge"
              }
            }
          },
          "402": {
            "description": "Monatskontingent erschoepft (quota_exceeded).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "403": {
            "description": "Abonnement nicht aktiv oder benoetigtes Schluesselrecht fehlt (forbidden).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Keine Rechtseinheit mit dieser UID (not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "429": {
            "description": "Ratenbegrenzung erreicht (rate_limited).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unerwarteter Fehler (internal).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "503": {
            "description": "Der Registerbestand wird gerade vollständig verifiziert (temporarily_unavailable). Dieselbe Abfrage später erneut senden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Empfohlene Wartezeit vor demselben Abruf in Sekunden.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          }
        }
      }
    },
    "/companies/{uid}/events": {
      "get": {
        "tags": [
          "Firmen"
        ],
        "operationId": "listCompanyEvents",
        "summary": "Erfasste Ereignisse einer Rechtseinheit",
        "description": "Die neuesten normalisierten, seit 2025-01-03 erfassten Ereignisse zu einer UID, neueste zuerst. Keine vollstaendige amtliche Gesamthistorie.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "UID mit oder ohne Formatierung, z. B. CHE-000.000.000 oder 000000000.",
            "schema": {
              "type": "string",
              "pattern": "^(CHE-?)?[0-9]{3}\\.?[0-9]{3}\\.?[0-9]{3}$"
            },
            "example": "CHE-000.000.000"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ereignisliste.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "uid"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "uid": {
                      "type": "string",
                      "example": "CHE-000.000.000"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "400": {
            "description": "Ungueltige Anfrage (invalid_request).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "401": {
            "description": "Kein oder ungueltiger Schluessel (unauthorized).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "WWW-Authenticate": {
                "$ref": "#/components/headers/BearerChallenge"
              }
            }
          },
          "402": {
            "description": "Monatskontingent erschoepft (quota_exceeded).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "403": {
            "description": "Abonnement nicht aktiv oder benoetigtes Schluesselrecht fehlt (forbidden).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Keine Rechtseinheit mit dieser UID (not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "429": {
            "description": "Ratenbegrenzung erreicht (rate_limited).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unerwarteter Fehler (internal).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "503": {
            "description": "Der Registerbestand wird gerade vollständig verifiziert (temporarily_unavailable). Dieselbe Abfrage später erneut senden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Empfohlene Wartezeit vor demselben Abruf in Sekunden.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Ereignisse"
        ],
        "operationId": "listEvents",
        "summary": "Ereignisstrom",
        "description": "Der chronologische Strom der seit 2025-01-03 erfassten Publikationen. Publikationen vor diesem Datum sind nicht verfuegbar. Fuer die laufende Abholung wird since_id empfohlen: die hoechste bereits verarbeitete sequence mitgeben, dann liefert die Antwort ausschliesslich Neues und es gehen keine Ereignisse verloren, wenn mehrere Publikationen am selben Tag erscheinen.\n\nBRECHENDE AENDERUNG vom 26. August 2026: Das Feld id war bis zum 25. August 2026 die laufende Nummer (integer) und ist seither die stabile Kennung (string, z. B. fw1_7cb69d9f34d5dd79b7445c65071e6592). Die damalige laufende Nummer der ersten Fassung steht unter sequence; since_id und next_since_id beziehen sich weiterhin auf diese Stromposition.\n\nSeit dem 27. August 2026 ist sequence eine append-only Stromposition. Eine Berichtigung behaelt ihre stabile id, erhaelt aber eine neue sequence, content_hash und revised_at und erscheint dadurch auch nach einem bereits gelesenen since_id erneut. Zu jedem since_id muss die zuletzt gelieferte epoch mitgesendet werden. Ein Neuaufbau oder eine Datenschutzredaktion antwortet mit 409 stream_reset und replay_from=0, statt historische Darstellungen still zu aendern.",
        "parameters": [
          {
            "name": "types",
            "in": "query",
            "description": "Ereignistypen, kommagetrennt.",
            "schema": {
              "type": "string"
            },
            "example": "new_registration,bankruptcy_opened"
          },
          {
            "name": "cantons",
            "in": "query",
            "description": "Kantonskuerzel, kommagetrennt.",
            "schema": {
              "type": "string"
            },
            "example": "ZH,AG"
          },
          {
            "name": "zips",
            "in": "query",
            "description": "Postleitzahlen, kommagetrennt.",
            "schema": {
              "type": "string"
            },
            "example": "8001,8004"
          },
          {
            "name": "legal_forms",
            "in": "query",
            "description": "Rechtsformcodes nach eCH-0097, kommagetrennt.",
            "schema": {
              "type": "string"
            },
            "example": "0106,0107"
          },
          {
            "name": "industries",
            "in": "query",
            "description": "Sichtbare Firmenwatch-Branchenklassifikationen aus dem eingetragenen Zweck (Konfidenz mindestens 0.45), kommagetrennt.",
            "schema": {
              "type": "string"
            },
            "example": "62.01,62.02"
          },
          {
            "name": "keywords",
            "in": "query",
            "description": "Stichwoerter in Firmenname oder Zweck, kommagetrennt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_keywords",
            "in": "query",
            "description": "Auszuschliessende Stichwoerter, kommagetrennt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "capital_min",
            "in": "query",
            "description": "Untergrenze des aktuellen belegten CHF-Nominalkapitals der Firma. Der Filter bezieht sich auf company.capital, nicht auf ein historisches event_capital; Firmen ohne belegten CHF-Code werden ausgeschlossen.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "capital_max",
            "in": "query",
            "description": "Obergrenze des aktuellen belegten CHF-Nominalkapitals der Firma. Der Filter bezieht sich auf company.capital, nicht auf ein historisches event_capital; Firmen ohne belegten CHF-Code werden ausgeschlossen.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Fruehestes Publikationsdatum, einschliesslich; nicht vor 2025-01-03.",
            "schema": {
              "type": "string",
              "format": "date",
              "x-minimum-date": "2025-01-03"
            },
            "example": "2026-08-01"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Spaetestes Publikationsdatum, einschliesslich; nicht vor 2025-01-03.",
            "schema": {
              "type": "string",
              "format": "date",
              "x-minimum-date": "2025-01-03"
            },
            "example": "2026-08-26"
          },
          {
            "name": "since_id",
            "in": "query",
            "description": "Nur Fassungen mit hoeherer sequence als der angegebenen. Gemeint ist die append-only Stromposition aus sequence, nicht die stabile Kennung aus id. Wenn since_id gesetzt ist, ist epoch zwingend.",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 4812993
          },
          {
            "name": "epoch",
            "in": "query",
            "description": "Stromepoche aus dem Checkpoint oder letzten Ereignisabruf. Zusammen mit since_id zwingend. Bei Neuaufbau oder Datenschutzredaktion antwortet die API mit 409 stream_reset und verlangt einen Replay ab Sequenz 0.",
            "schema": {
              "type": "string",
              "pattern": "^fwse1_[0-9a-f]{20}$"
            },
            "example": "fwse1_a1b2c3d4e5f60718293a"
          },
          {
            "name": "min_severity",
            "in": "query",
            "description": "Mindest-Relevanz des Ereignisses.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Versatz ohne since_id; darf nicht mit since_id kombiniert werden.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100000,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ereignisstrom, aufsteigend nach sequence bei Verwendung von since_id, sonst neueste zuerst.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "X-Firmenwatch-Schema-Version": {
                "description": "Fassung des ausgelieferten Firmenevent-CH-Vertrags.",
                "schema": {
                  "type": "string",
                  "const": "1.0"
                }
              },
              "Link": {
                "description": "Verweis auf den maschinenlesbaren Vertrag unter https://firmenwatch.ch/schemas/firmenevent-ch/1.0.json.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "limit"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeedEvent"
                      }
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "next_since_id": {
                      "type": "integer",
                      "description": "Sicher abgearbeitete Stromgrenze, direkt als since_id des naechsten Abrufs verwendbar. Kann bei einer leeren gefilterten Antwort bis zum geprueften High-Water vorruecken. Nicht die Kennung aus id."
                    },
                    "stream_epoch": {
                      "type": "string",
                      "description": "Gegenwaertige Stromepoche; zusammen mit next_since_id speichern."
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "fw1_7cb69d9f34d5dd79b7445c65071e6592",
                      "schema_version": "1.0",
                      "sequence": 4813004,
                      "status": "aktiv",
                      "revised_at": null,
                      "content_hash": "6cf4ec2e9b3974ec365594d54c4861c04362ee0176e56e143aff4a749c3f9151",
                      "source": {
                        "publication_id": "0a1b2c3d-4e5f-4a6b-8c7d-9e0f1a2b3c4d",
                        "published_at": "2026-08-25",
                        "rubric": "HR01",
                        "official_url": "https://www.shab.ch/#!/search/publications/detail/0a1b2c3d-4e5f-4a6b-8c7d-9e0f1a2b3c4d"
                      },
                      "type": "new_registration",
                      "occurred_at": "2026-08-25",
                      "summary": "Neueintragung: Muster Handels AG",
                      "severity": 60,
                      "payload": {
                        "legalForm": "Aktiengesellschaft",
                        "capital": "250000.00"
                      },
                      "company": {
                        "uid": "CHE-000.000.000",
                        "name": "Muster Handels AG",
                        "legal_form": "Aktiengesellschaft",
                        "canton": "ZH",
                        "address": {
                          "care_of": null,
                          "street": "Musterstrasse",
                          "house_number": "12",
                          "zip": "8001",
                          "town": "Zürich"
                        },
                        "purpose": "Handel mit Waren aller Art.",
                        "capital": 250000,
                        "capital_currency": "CHF",
                        "capital_qualification": "current_registered_state",
                        "capital_verification": "currency_evidenced",
                        "capital_evidence_basis": "register_master_data_with_captured_currency_evidence",
                        "industry": "Grosshandel ohne ausgepraegten Schwerpunkt",
                        "industry_code": "46.90",
                        "industry_confidence": 0.82,
                        "industry_qualification": "derived",
                        "industry_basis": "registered_purpose_text",
                        "url": "https://firmenwatch.ch/firma/muster-handels-ag-zuerich"
                      }
                    }
                  ],
                  "limit": 100,
                  "next_since_id": 4813004,
                  "stream_epoch": "fwse1_a1b2c3d4e5f60718293a"
                }
              }
            }
          },
          "400": {
            "description": "Ungueltige Anfrage (invalid_request).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "401": {
            "description": "Kein oder ungueltiger Schluessel (unauthorized).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "WWW-Authenticate": {
                "$ref": "#/components/headers/BearerChallenge"
              }
            }
          },
          "402": {
            "description": "Monatskontingent erschoepft (quota_exceeded).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "403": {
            "description": "Abonnement nicht aktiv oder benoetigtes Schluesselrecht fehlt (forbidden).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Die Stromepoche hat sich durch Neuaufbau oder Datenschutzredaktion geaendert. Firmenbestand neu abgleichen und die lokale Ereignisprojektion unter der neuen Epoche durch einen Replay ab Sequenz 0 vollstaendig ersetzen.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message",
                        "details"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "const": "stream_reset"
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "required": [
                            "current_checkpoint",
                            "replay_from",
                            "replace_projection"
                          ],
                          "properties": {
                            "current_checkpoint": {
                              "$ref": "#/components/schemas/EventCheckpoint"
                            },
                            "replay_from": {
                              "type": "integer",
                              "const": 0
                            },
                            "replace_projection": {
                              "type": "boolean",
                              "const": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "429": {
            "description": "Ratenbegrenzung erreicht (rate_limited).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unerwarteter Fehler (internal).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "503": {
            "description": "Ein Publikationsabgleich ist noch nicht vollstaendig freigegeben (temporarily_unavailable). Den Cursor unveraendert lassen und spaeter erneut abrufen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Empfohlene Wartezeit vor dem unveraenderten Wiederholungsabruf.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          }
        }
      }
    },
    "/events/checkpoint": {
      "get": {
        "tags": [
          "Ereignisse"
        ],
        "operationId": "getEventCheckpoint",
        "summary": "Sichere Startmarke erstellen",
        "description": "Liefert die aktuelle Stromepoche und High-Water-Marke. Vor einem Massenabgleich gespeichert, garantiert sie, dass jede danach eintreffende Aenderung anschliessend ueber /events?since_id=<high_water>&epoch=<epoch> gelesen werden kann.",
        "responses": {
          "200": {
            "description": "Aktueller Ereignis-Checkpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EventCheckpoint"
                    }
                  }
                },
                "example": {
                  "data": {
                    "stream": "firmenwatch.ch/company-events",
                    "epoch": "fwse1_a1b2c3d4e5f60718293a",
                    "high_water": 4813004,
                    "created_at": "2026-08-27T09:30:00.000Z",
                    "schema_version": "1.0"
                  }
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "400": {
            "description": "Ungueltige Anfrage (invalid_request).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "401": {
            "description": "Kein oder ungueltiger Schluessel (unauthorized).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "WWW-Authenticate": {
                "$ref": "#/components/headers/BearerChallenge"
              }
            }
          },
          "402": {
            "description": "Monatskontingent erschoepft (quota_exceeded).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "403": {
            "description": "Abonnement nicht aktiv oder benoetigtes Schluesselrecht fehlt (forbidden).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Ratenbegrenzung erreicht (rate_limited).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unerwarteter Fehler (internal).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "503": {
            "description": "Der Registerbestand wird gerade vollständig verifiziert (temporarily_unavailable). Dieselbe Abfrage später erneut senden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Empfohlene Wartezeit vor demselben Abruf in Sekunden.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          }
        }
      }
    },
    "/companies/match": {
      "post": {
        "tags": [
          "Firmen"
        ],
        "operationId": "matchCompanies",
        "summary": "Bis zu 500 Firmen ohne bekannte UID sicher zuordnen",
        "description": "Vorabgleich fuer ERP-/CRM-Bestaende, in denen die Schweizer UID noch fehlt. Der locker normalisierte aktuelle Firmenname findet Kandidaten; automatisch matched wird ausschliesslich ein streng gleicher vollstaendiger Name zusammen mit passender PLZ oder passendem Ort und ohne widersprechende Ortsangabe. Mehrdeutige Zeilen bleiben pruefpflichtig. Reihenfolge, Dubletten und external_ref bleiben erhalten. Danach bestaetigte UIDs ueber /companies/reconcile mit dem Ereignisstrom verbinden.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 500,
                    "items": {
                      "$ref": "#/components/schemas/CompanyMatchInput"
                    }
                  }
                }
              },
              "example": {
                "items": [
                  {
                    "external_ref": "brokanto:organisation:4711",
                    "name": "Muster Treuhand GmbH",
                    "zip": "3011",
                    "town": "Bern",
                    "canton": "BE"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zeilengenaue, erklaerbare Zuordnung; nur status=matched darf automatisch uebernommen werden.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "matcher",
                        "items",
                        "summary"
                      ],
                      "properties": {
                        "matcher": {
                          "$ref": "#/components/schemas/CompanyMatcher"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CompanyMatchResult"
                          }
                        },
                        "summary": {
                          "$ref": "#/components/schemas/CompanyMatchSummary"
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "400": {
            "description": "Ungueltige Anfrage (invalid_request).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "401": {
            "description": "Kein oder ungueltiger Schluessel (unauthorized).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "WWW-Authenticate": {
                "$ref": "#/components/headers/BearerChallenge"
              }
            }
          },
          "402": {
            "description": "Monatskontingent erschoepft (quota_exceeded).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "403": {
            "description": "Abonnement nicht aktiv oder benoetigtes Schluesselrecht fehlt (forbidden).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Ratenbegrenzung erreicht (rate_limited).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unerwarteter Fehler (internal).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "503": {
            "description": "Ein amtlicher Publikationsabgleich ist offen; denselben Stapel nach Retry-After erneut senden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Empfohlene Wartezeit vor demselben Abgleich.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          }
        }
      }
    },
    "/companies/reconcile": {
      "post": {
        "tags": [
          "Firmen"
        ],
        "operationId": "reconcileCompanies",
        "summary": "Bis zu 500 bestehende UIDs abgleichen",
        "description": "Normalisiert und prueft einen vorhandenen ERP-/CRM-Bestand in einem Stapel. Reihenfolge und Dubletten bleiben erhalten, external_ref wird unveraendert zugeordnet. Die Antwort enthaelt einen VOR der Firmenabfrage aufgenommenen Checkpoint; danach mit dessen high_water und epoch im Ereignisstrom weiterlesen.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 500,
                    "items": {
                      "$ref": "#/components/schemas/ReconcileInput"
                    }
                  }
                }
              },
              "example": {
                "items": [
                  {
                    "uid": "CHE-116.281.710",
                    "external_ref": "KRED-2048"
                  },
                  {
                    "uid": "CHE-123.456.789",
                    "external_ref": "KRED-2049"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zeilengenaue Abgleichsquittung samt Start-Checkpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "checkpoint",
                        "items",
                        "summary"
                      ],
                      "properties": {
                        "checkpoint": {
                          "$ref": "#/components/schemas/EventCheckpoint"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ReconcileResult"
                          }
                        },
                        "summary": {
                          "$ref": "#/components/schemas/ReconcileSummary"
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "400": {
            "description": "Ungueltige Anfrage (invalid_request).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "401": {
            "description": "Kein oder ungueltiger Schluessel (unauthorized).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "WWW-Authenticate": {
                "$ref": "#/components/headers/BearerChallenge"
              }
            }
          },
          "402": {
            "description": "Monatskontingent erschoepft (quota_exceeded).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "403": {
            "description": "Abonnement nicht aktiv oder benoetigtes Schluesselrecht fehlt (forbidden).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Ratenbegrenzung erreicht (rate_limited).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unerwarteter Fehler (internal).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "503": {
            "description": "Der Registerbestand wird gerade vollständig verifiziert (temporarily_unavailable). Dieselbe Abfrage später erneut senden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Empfohlene Wartezeit vor demselben Abruf in Sekunden.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          }
        }
      }
    },
    "/portfolios/{sourceKey}/syncs": {
      "post": {
        "tags": [
          "Portfolios"
        ],
        "operationId": "startPortfolioSync",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "portfolio:write"
        ],
        "x-max-body-bytes": 32768,
        "summary": "Resumierbaren Portfolio-Sync beginnen",
        "description": "Reserviert genau einen Staging-Lauf fuer die kontoeigene Quelle, ohne das sichtbare Portfolio zu veraendern. base_version muss der letzten Commit-Quittung entsprechen; eine neue Quelle beginnt bei 0 und am aktuellen verifizierten Ereignis-High-Water. Dadurch entstehen weder historische Alarme noch eine Ereignisluecke waehrend des Syncs. relationship_default ordnet den ganzen Quellenbestand als Kunden, Lieferanten, Mandate, Leads oder Partner ein; eine spaetere lokale Firmenwatch-Annotation hat Vorrang. expected_items zaehlt die eindeutigen external_id-Werte des gesamten Laufs, nicht wiederholte Zeilen oder HTTP-Versuche. Dieselbe sync_id mit denselben validierten Startparametern ist ein idempotenter Resume-Abruf und liefert replayed=true. Dieselbe ID mit anderen Parametern oder ein anderer gleichzeitig aktiver Lauf ergibt 409. Ein Staging-Lauf mit seit mehr als 24 Stunden ausbleibender Stapelaktivitaet wird beim naechsten Start verworfen; danach ist eine neue sync_id zu verwenden. Start-Ruempfe sind auf 32 KiB begrenztes, unkomprimiertes UTF-8-JSON. Nach jedem HTTP-5xx ist dieselbe Anfrage sicher wiederholbar.",
        "parameters": [
          {
            "name": "sourceKey",
            "in": "path",
            "required": true,
            "description": "Dauerhafter, kontoeigener Quellenschluessel. Kleingeschrieben und URL-stabil; dieselbe Quelle muss bei jedem Lauf denselben Wert verwenden.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9][a-z0-9._-]{0,79}$"
            },
            "example": "bexio-prod"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortfolioSyncStartRequest"
              },
              "example": {
                "sync_id": "nightly:2026-08-28",
                "mode": "replace",
                "base_version": 0,
                "expected_items": 2,
                "source_revision": "erp-export-1842",
                "relationship_default": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Neu angelegter oder idempotent wieder aufgenommener Sync.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PortfolioSyncDescriptor"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ungueltige Anfrage (invalid_request).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "401": {
            "description": "Kein oder ungueltiger Schluessel (unauthorized).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "WWW-Authenticate": {
                "$ref": "#/components/headers/BearerChallenge"
              }
            }
          },
          "402": {
            "description": "Monatskontingent erschoepft (quota_exceeded).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "403": {
            "description": "Abonnement nicht aktiv oder benoetigtes Schluesselrecht fehlt (forbidden).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "sourceKey verletzt das kleingeschriebene, URL-stabile Format (not_found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "409": {
            "description": "base_version, sync_id oder ein anderer aktiver Lauf widerspricht dem Quellzustand (conflict).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "429": {
            "description": "Ratenbegrenzung erreicht (rate_limited).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unerwarteter Fehler (internal).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          },
          "503": {
            "description": "Der Dienst ist voruebergehend nicht verfuegbar (temporarily_unavailable). Dieselbe Anfrage spaeter erneut senden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Empfohlene Wartezeit vor demselben Versuch in Sekunden.",
                "schema": {
                  "type": "integer",
                  "minimum": 1
                }
              },
              "X-Firmenwatch-Monthly-Included": {
                "$ref": "#/components/headers/MonthlyIncluded"
              },
              "X-Firmenwatch-Monthly-Used": {
                "$ref": "#/components/headers/MonthlyUsed"
              },
              "X-Firmenwatch-Monthly-Reset": {
                "$ref": "#/components/headers/MonthlyReset"
              },
              "X-Firmenwatch-Monthly-Overage": {
                "$ref": "#/components/headers/MonthlyOverage"
              }
            }
          }
        }
      }
    },
    "/portfolios/{sourceKey}/syncs/{syncId}/items": {
      "put": {
        "tags": [
          "Portfolios"
        ],
        "operationId": "stagePortfolioSyncItems",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-required-scopes": [
          "portfolio:write"
        ],
        "x-max-body-bytes": 524288,
        "summary": "Bis zu 500 Portfolio-Zeilen bereitstellen",
        "description": "Speichert einen strikt validierten Stapel nur im unsichtbaren Staging-Bereich. Jeder Stapel enthaelt 1 bis 500 Zeilen und hoechstens 512 KiB. Nach UID- und UTC-Normalisierung inhaltlich gleiche external_id-Zeilen im selben Lauf sind idempotente Wiederholungen; sie erhoehen received_items nicht. Widerspruechlicher Inhalt fuer dieselbe external_id ergibt 409 und der ganze Stapel bleibt unveraendert. Auch eine formal gueltige, aber im verifizierten Registerbestand unbekannte UID verwirft den ganzen Stapel. replace akzeptiert ausschliesslich upsert; delta akzeptiert upsert und delete. Ein reiner delete-Stapel benoetigt keinen Register-Lesezugriff. In Summe duerfen nie mehr eindeutige IDs gespeichert werden als expected_items. Der Rumpf ist unkomprimiertes UTF-8-JSON. Nach jedem HTTP-5xx ist derselbe Stapel sicher wiederholbar.",
        "parameters": [
          {
            "name": "sourceKey",
            "in": "path",
            "required": true,
            "description": "Dauerhafter, kontoeigener Quellenschluessel. Kleingeschrieben und URL-stabil; dieselbe Quelle muss bei jedem Lauf denselben Wert verwenden.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9][a-z0-9._-]{0,79}$"
            },
            "example": "bexio-prod"
          },
          {
            "name": "syncId",
            "in": "path",
            "required": true,
            "description": "Vom Client vergebene, innerhalb der Quelle stabile Laufkennung.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,99}$"
            },
            "example": "nightly:2026-08-28"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortfolioSyncItemsRequest"
              },
              "example": {
                "items": [
                  {
                    "external_id": "customer-42",
                    "op": "upsert",
                    "uid": "CHE-116.281.710",
                    "display_ref": "Debitor 42",
                    "source_updated_at": "2026-08-28T10:30:00Z"
                  },
                  {
                    "external_id": "customer-17",
                    "op": "upsert",
                    "uid": "CHE-282.686.396",
                    "display_ref": "Debitor 17",
                    "source_updated_at": null
[...]
