{
  "openapi": "3.1.0",
  "info": {
    "title": "Shipstar API",
    "description": "Public Shipstar REST API (v1). Authenticate with an API token from the dashboard: Authorization: Bearer <token>. For agent access prefer the MCP server at https://mcp.shipstar.ai/mcp (OAuth 2.1, streamable HTTP). Responses carry standard RateLimit-* headers (and Retry-After on 429) so clients can self-throttle. Versioning & deprecation policy: https://docs.shipstar.ai/api-reference/versioning",
    "version": "1.0.0",
    "x-jentic-source-url": "https://shipstar.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.shipstar.ai/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Health check endpoint for V1 API.\nThis endpoint does not require authentication.",
        "operationId": "health_check_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/changelogs": {
      "get": {
        "tags": [
          "changelog"
        ],
        "summary": "List Published Changelogs",
        "description": "List all published changelogs, newest first.\nThis endpoint does not require authentication.",
        "operationId": "list_published_changelogs_changelogs_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/changelog/{public_slug}": {
      "get": {
        "tags": [
          "changelog"
        ],
        "summary": "Get Public Changelog",
        "description": "Get a published changelog by its public slug.\nThis endpoint does not require authentication.",
        "operationId": "get_public_changelog_changelog__public_slug__get",
        "parameters": [
          {
            "name": "public_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Public Slug"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/changelog/{public_slug}/feed": {
      "get": {
        "tags": [
          "changelog"
        ],
        "summary": "Get Public Changelog Feed",
        "description": "Get a published changelog as an RSS 2.0 feed.\nThis endpoint does not require authentication.",
        "operationId": "get_public_changelog_feed_changelog__public_slug__feed_get",
        "parameters": [
          {
            "name": "public_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Public Slug"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/changelogs/feed": {
      "get": {
        "tags": [
          "changelog"
        ],
        "summary": "Get All Changelogs Feed",
        "description": "Get an RSS 2.0 feed of all published changelogs, one item per release period, newest first.\nThis endpoint does not require authentication.",
        "operationId": "get_all_changelogs_feed_changelogs_feed_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/blogs": {
      "get": {
        "tags": [
          "blog"
        ],
        "summary": "List Published Blog Posts",
        "description": "List all published blog posts, newest first.\nReturns an array of blog post objects with title, content, and metadata.\nThis endpoint does not require authentication.",
        "operationId": "list_published_blog_posts_blogs_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/blog/{public_slug}": {
      "get": {
        "tags": [
          "blog"
        ],
        "summary": "Get Public Blog Post",
        "description": "Get a published blog post by its public slug.\nReturns the blog post markdown content and metadata.\nThis endpoint does not require authentication.",
        "operationId": "get_public_blog_post_blog__public_slug__get",
        "parameters": [
          {
            "name": "public_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Public Slug"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/blog/{public_slug}/feed": {
      "get": {
        "tags": [
          "blog"
        ],
        "summary": "Get Public Blog Feed",
        "description": "Get a published blog post as an RSS 2.0 feed item.\nThis endpoint does not require authentication.",
        "operationId": "get_public_blog_feed_blog__public_slug__feed_get",
        "parameters": [
          {
            "name": "public_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Public Slug"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/blogs/feed": {
      "get": {
        "tags": [
          "blog"
        ],
        "summary": "Get All Blogs Feed",
        "description": "Get an RSS 2.0 feed of all published blog posts.\nThis endpoint does not require authentication.",
        "operationId": "get_all_blogs_feed_blogs_feed_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/kb": {
      "get": {
        "tags": [
          "kb"
        ],
        "summary": "List Published Kb Articles",
        "description": "List all published knowledge base article sets, newest first.\nThis endpoint does not require authentication.",
        "operationId": "list_published_kb_articles_kb_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/kb/{public_slug}": {
      "get": {
        "tags": [
          "kb"
        ],
        "summary": "Get Public Kb Articles",
        "description": "Get published knowledge base articles by public slug.\nReturns the articles array and metadata.\nThis endpoint does not require authentication.",
        "operationId": "get_public_kb_articles_kb__public_slug__get",
        "parameters": [
          {
            "name": "public_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Public Slug"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/banner": {
      "get": {
        "tags": [
          "banner"
        ],
        "summary": "Get Live Banner",
        "description": "Get the announcement banner currently live for a project.\nWith an API token, the token's project; without one, the Shipstar\nhouse project (what shipstar.ai renders). Exactly one banner is live\nper project — publishing a new one replaces it. 404 when none is\nlive (never published, replaced, or past its take-down time).",
        "operationId": "get_live_banner_banner_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Banner",
                  "properties": {
                    "slug": {
                      "type": "string",
                      "description": "Stable embed key (`data-shipstar-key`); unchanged when a new banner replaces the old one"
                    },
                    "headline": {
                      "type": "string",
                      "maxLength": 80
                    },
                    "body": {
                      "type": "string",
                      "maxLength": 160,
                      "description": "One sentence on the benefit"
                    },
                    "cta_label": {
                      "type": "string",
                      "maxLength": 24
                    },
                    "badge": {
                      "type": "string",
                      "maxLength": 16,
                      "description": "Short tag shown before the headline (\"New\" by default); empty string when the banner has no badge"
                    },
                    "link_url": {
                      "type": "string",
                      "nullable": true,
                      "description": "Where the call-to-action points; null when the banner has no link"
                    },
                    "period_start": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "period_end": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "published_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "When the banner stops being served, if a take-down was set"
                    },
                    "commit_count": {
                      "type": "integer",
                      "nullable": true
                    }
                  },
                  "example": {
                    "slug": "acme-banner",
                    "headline": "Scheduled X threads now post themselves",
                    "body": "Approve once; Shipstar posts the thread at the scheduled time.",
                    "cta_label": "See what's new",
                    "badge": "New",
                    "link_url": "https://acme.com/changelog",
                    "period_start": "2026-08-31",
                    "period_end": "2026-09-07",
                    "published_at": "2026-09-07T09:02:11+00:00",
                    "expires_at": null,
                    "commit_count": 14
                  }
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          },
          "404": {
            "description": "No banner is live"
          }
        },
        "security": []
      }
    },
    "/banner/{public_slug}": {
      "get": {
        "tags": [
          "banner"
        ],
        "summary": "Get Public Banner",
        "description": "Get a project's live announcement banner by its stable public slug.\nThe slug is the embed key (`data-shipstar-key`): it stays the same\nwhen a new banner replaces the old one, so a snippet pasted once keeps\nshowing the current banner. 404 when nothing is live for that key.\nThis endpoint does not require authentication.",
        "operationId": "get_public_banner_banner__public_slug__get",
        "parameters": [
          {
            "name": "public_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Public Slug"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Banner",
                  "properties": {
                    "slug": {
                      "type": "string",
                      "description": "Stable embed key (`data-shipstar-key`); unchanged when a new banner replaces the old one"
                    },
                    "headline": {
                      "type": "string",
                      "maxLength": 80
                    },
                    "body": {
                      "type": "string",
                      "maxLength": 160,
                      "description": "One sentence on the benefit"
                    },
                    "cta_label": {
                      "type": "string",
                      "maxLength": 24
                    },
                    "badge": {
                      "type": "string",
                      "maxLength": 16,
                      "description": "Short tag shown before the headline (\"New\" by default); empty string when the banner has no badge"
                    },
                    "link_url": {
                      "type": "string",
                      "nullable": true,
                      "description": "Where the call-to-action points; null when the banner has no link"
                    },
                    "period_start": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "period_end": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "published_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "When the banner stops being served, if a take-down was set"
                    },
                    "commit_count": {
                      "type": "integer",
                      "nullable": true
                    }
                  },
                  "example": {
                    "slug": "acme-banner",
                    "headline": "Scheduled X threads now post themselves",
                    "body": "Approve once; Shipstar posts the thread at the scheduled time.",
                    "cta_label": "See what's new",
                    "badge": "New",
                    "link_url": "https://acme.com/changelog",
                    "period_start": "2026-08-31",
                    "period_end": "2026-09-07",
                    "published_at": "2026-09-07T09:02:11+00:00",
                    "expires_at": null,
                    "commit_count": 14
                  }
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Banner not found or not live"
          }
        },
        "security": []
      }
    },
    "/changelog/subscribe": {
      "post": {
        "tags": [
          "changelog-subscriptions"
        ],
        "summary": "Subscribe To Changelog",
        "description": "Subscribe an email address to a project's changelog updates.\nSends a confirmation email (double opt-in). No authentication required.\nAlways returns 200 to prevent email enumeration.",
        "operationId": "subscribe_to_changelog_changelog_subscribe_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangelogSubscribeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangelogSubscribeResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/changelog/confirm/{token}": {
      "get": {
        "tags": [
          "changelog-subscriptions"
        ],
        "summary": "Confirm Changelog Subscription",
        "description": "Confirm a changelog subscription via the token sent in the confirmation email.\nNo authentication required.",
        "operationId": "confirm_changelog_subscription_changelog_confirm__token__get",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/changelog/unsubscribe/{token}": {
      "get": {
        "tags": [
          "changelog-subscriptions"
        ],
        "summary": "Unsubscribe From Changelog",
        "description": "Unsubscribe from changelog updates. Hard-deletes the subscription.\nNo authentication required.",
        "operationId": "unsubscribe_from_changelog_changelog_unsubscribe__token__get",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangelogUnsubscribeResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/email/unsubscribe/{token}": {
      "get": {
        "tags": [
          "mailing-lists"
        ],
        "summary": "Unsubscribe From Mailing List",
        "description": "Unsubscribe from a mailing list via the link in a release notes email.\n\nNo authentication required.",
        "operationId": "unsubscribe_from_mailing_list_email_unsubscribe__token__get",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      },
      "post": {
        "tags": [
          "mailing-lists"
        ],
        "summary": "Unsubscribe From Mailing List One Click",
        "description": "RFC 8058 one-click unsubscribe target (List-Unsubscribe-Post header).\n\nMail clients POST here without a body. No authentication required.",
        "operationId": "unsubscribe_from_mailing_list_one_click_email_unsubscribe__token__post",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/email/lists": {
      "get": {
        "tags": [
          "mailing-lists"
        ],
        "summary": "List the project's mailing lists",
        "description": "Lists the mailing lists of the project the API token belongs to, with\n    recipient counts. Use the returned `id` values with\n    `POST /email/lists/{list_id}/recipients`.\n\n    ## Authentication\n    Requires an API token (created in the dashboard). Pass it as a Bearer\n    token in the Authorization header:\n    ```\n    Authorization: Bearer YOUR_API_TOKEN\n    ```",
        "operationId": "list_mailing_lists_email_lists_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/MailingListRead"
                  },
                  "type": "array",
                  "title": "Response List Mailing Lists Email Lists Get"
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "mailing-lists"
        ],
        "summary": "Create a mailing list",
        "description": "Creates a named mailing list in the token's project (at most 20 lists per\n    project; names are unique per project). Use the returned `id` with the\n    recipient endpoints.\n\n    ## Authentication\n    Requires an API token (created in the dashboard). Pass it as a Bearer\n    token in the Authorization header:\n    ```\n    Authorization: Bearer YOUR_API_TOKEN\n    ```",
        "operationId": "create_mailing_list_email_lists_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MailingListCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailingListRead"
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/email/lists/{list_id}": {
      "get": {
        "tags": [
          "mailing-lists"
        ],
        "summary": "Get a mailing list",
        "description": "One mailing list with its recipient counts by status (`active_count`,\n    `removed_count`, `unsubscribed_count`).\n\n    ## Authentication\n    Requires an API token (created in the dashboard). Pass it as a Bearer\n    token in the Authorization header:\n    ```\n    Authorization: Bearer YOUR_API_TOKEN\n    ```",
        "operationId": "get_mailing_list_email_lists__list_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "List Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailingListRead"
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/email/lists/{list_id}/recipients": {
      "get": {
        "tags": [
          "mailing-lists"
        ],
        "summary": "List recipients",
        "description": "Pages through a mailing list's recipients, oldest first. Each item carries\n    `email`, `name`, `external_id`, `attributes`, `status`\n    (`active` | `removed` | `unsubscribed`) and `status_changed_at`.\n\n    Filter with `status`, search email / name / external_id with `q`, and\n    follow `next_cursor` (pass it back as `cursor`) until it is null. `limit`\n    is 100 by default and at most 500.\n\n    ## Authentication\n    Requires an API token (created in the dashboard). Pass it as a Bearer\n    token in the Authorization header:\n    ```\n    Authorization: Bearer YOUR_API_TOKEN\n    ```",
        "operationId": "list_mailing_list_recipients_email_lists__list_id__recipients_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "List Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "active, removed or unsubscribed",
              "title": "Status"
            },
            "description": "active, removed or unsubscribed"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search text",
              "title": "Q"
            },
            "description": "Search text"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "`next_cursor` from the previous page",
              "title": "Cursor"
            },
            "description": "`next_cursor` from the previous page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientPage"
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "mailing-lists"
        ],
        "summary": "Add recipients to a mailing list",
        "description": "Append-only bulk add. Send up to 1000 entries per request, either plain\n    addresses or objects with `email` plus optional `name`, `external_id` and\n    `attributes`:\n    ```\n    {\"emails\": [\"one@example.com\",\n                {\"email\": \"two@example.com\", \"name\": \"Sam\", \"external_id\": \"usr_42\"}]}\n    ```\n\n    Each address is validated individually; invalid entries are returned in\n    `invalid` rather than failing the batch. Addresses already on the list —\n    active, removed or unsubscribed — are counted in `skipped_existing` and\n    left untouched, so re-syncing never resurrects an opt-out. To update or\n    reactivate existing contacts use `PUT` (upsert) instead. A list holds at\n    most 500 active recipients.\n\n    ## Authentication\n    Requires an API token (created in the dashboard). Pass it as a Bearer\n    token in the Authorization header:\n    ```\n    Authorization: Bearer YOUR_API_TOKEN\n    ```\n    The list must belong to the token's project. List ids come from\n    `GET /email/lists`.",
        "operationId": "add_mailing_list_recipients_email_lists__list_id__recipients_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "List Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipientBulkAdd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientBulkAddResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "mailing-lists"
        ],
        "summary": "Upsert recipients (sync)",
        "description": "Idempotent add-or-update — the call to sync your own user base against.\n    Send up to 1000 entries, plain addresses or objects:\n    ```\n    {\"recipients\": [{\"email\": \"sam@example.com\", \"name\": \"Sam Lee\", \"external_id\": \"usr_42\",\n                     \"attributes\": {\"plan\": \"pro\"}}]}\n    ```\n\n    Matching is by `external_id` first (your own user id), else by email, so a\n    contact whose address changes is updated in place when you key by\n    `external_id`. Contacts you previously removed are reactivated; active ones\n    are updated (`attributes` replaces the stored map when provided); contacts\n    who unsubscribed themselves are never changed and are counted in\n    `skipped_unsubscribed`. Upsert never deletes — remove departed users with\n    `DELETE .../recipients/{identifier}` or `POST .../recipients/remove`.\n    Retries are safe: an unchanged entry is counted in `unchanged`. The whole\n    batch is rejected (400) if it would exceed 500 active recipients.\n\n    ## Authentication\n    Requires an API token (created in the dashboard). Pass it as a Bearer\n    token in the Authorization header:\n    ```\n    Authorization: Bearer YOUR_API_TOKEN\n    ```\n    The list must belong to the token's project. List ids come from\n    `GET /email/lists`.",
        "operationId": "upsert_mailing_list_recipients_email_lists__list_id__recipients_put",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "List Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipientUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientUpsertResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/email/lists/{list_id}/recipients/remove": {
      "post": {
        "tags": [
          "mailing-lists"
        ],
        "summary": "Remove recipients (batch)",
        "description": "Soft-removes up to 1000 recipients by `emails` and/or `external_ids`.\n    Removed contacts stop receiving release emails but keep their row, so a\n    later upsert or add reactivates them. Contacts who unsubscribed themselves\n    stay unsubscribed (counted in `skipped_unsubscribed`). Identifiers that\n    match nothing are listed in `not_found`. Idempotent.\n\n    ## Authentication\n    Requires an API token (created in the dashboard). Pass it as a Bearer\n    token in the Authorization header:\n    ```\n    Authorization: Bearer YOUR_API_TOKEN\n    ```\n    The list must belong to the token's project. List ids come from\n    `GET /email/lists`.",
        "operationId": "remove_mailing_list_recipients_email_lists__list_id__recipients_remove_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "List Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipientRemoveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientRemoveResponse"
                }
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/email/lists/{list_id}/recipients/export.csv": {
      "get": {
        "tags": [
          "mailing-lists"
        ],
        "summary": "Export recipients as CSV",
        "description": "Downloads the list's recipients as CSV with the columns `email`, `name`,\n    `external_id`, `status`, `created_at`, `status_changed_at`, `attributes`\n    (compact JSON). All statuses are included unless `status` filters.\n\n    ## Authentication\n    Requires an API token (created in the dashboard). Pass it as a Bearer\n    token in the Authorization header:\n    ```\n    Authorization: Bearer YOUR_API_TOKEN\n    ```\n    The list must belong to the token's project. List ids come from\n    `GET /email/lists`.",
        "operationId": "export_mailing_list_recipients_email_lists__list_id__recipients_export_csv_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "List Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "active, removed or unsubscribed",
              "title": "Status"
            },
            "description": "active, removed or unsubscribed"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/csv": {}
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/email/lists/{list_id}/recipients/{identifier}": {
      "delete": {
        "tags": [
          "mailing-lists"
        ],
        "summary": "Remove one recipient",
        "description": "Soft-removes a single recipient. `identifier` is matched as an email\n    address first (case-insensitive), then as an `external_id`. Returns\n    `{\"status\": \"removed\" | \"already_removed\" | \"unsubscribed\"}` — an\n    unsubscribed contact is left as is. 404 when neither matches. Idempotent.\n\n    ## Authentication\n    Requires an API token (created in the dashboard). Pass it as a Bearer\n    token in the Authorization header:\n    ```\n    Authorization: Bearer YOUR_API_TOKEN\n    ```\n    The list must belong to the token's project. List ids come from\n    `GET /email/lists`.",
        "operationId": "remove_mailing_list_recipient_email_lists__list_id__recipients__identifier__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "List Id"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "authentication"
        ],
        "summary": "Get current user via API token",
        "description": "Retrieves the profile of the user authenticated via API token.\n\n    ## Authentication\n    This endpoint requires an API token (created in the API Playground).\n    Pass the token as a Bearer token in the Authorization header:\n    ```\n    Authorization: Bearer YOUR_API_TOKEN\n    ```",
        "operationId": "get_current_user_me_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/team-invitations/{token}": {
      "get": {
        "tags": [
          "team-invitations"
        ],
        "summary": "Get Team Invitation",
        "description": "Public lookup of a team invitation by token (drives the /invite/{token} page).\n\nNo authentication: the token is an unguessable capability. Returns the\ninvitee email so the registration form can prefill it.",
        "operationId": "get_team_invitation_team_invitations__token__get",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — wait Retry-After seconds before retrying",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "RateLimit-Policy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "detail": "Rate limit exceeded. Please try again later."
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {
      "ChangelogSubscribeRequest": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "public_slug": {
            "type": "string",
            "title": "Public Slug"
          }
        },
        "type": "object",
        "required": [
          "email",
          "public_slug"
        ],
        "title": "ChangelogSubscribeRequest"
      },
      "ChangelogSubscribeResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "ChangelogSubscribeResponse"
      },
      "ChangelogUnsubscribeResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "ChangelogUnsubscribeResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "MailingListCreate": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "minLength": 1,
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "MailingListCreate"
      },
      "MailingListRead": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "recipient_count": {
            "type": "integer",
            "title": "Recipient Count",
            "default": 0
          },
          "active_count": {
            "type": "integer",
            "title": "Active Count",
            "default": 0
          },
          "removed_count": {
            "type": "integer",
            "title": "Removed Count",
            "default": 0
          },
          "unsubscribed_count": {
            "type": "integer",
            "title": "Unsubscribed Count",
            "default": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "created_at"
        ],
        "title": "MailingListRead"
      },
      "MailingListRecipientRead": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "email": {
            "type": "string",
            "title": "Email"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "external_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "External Id"
          },
          "attributes": {
            "additionalProperties": true,
            "type": "object",
            "title": "Attributes",
            "default": {}
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "removed",
              "unsubscribed"
            ],
            "title": "Status"
          },
          "status_changed_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status Changed At"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At"
          },
          "is_active": {
            "type": "boolean",
            "title": "Is Active",
[...]
