{
  "openapi": "3.1.0",
  "info": {
    "title": "SEOmatic API",
    "version": "1.0.0",
    "description": "SEOmatic public API v1. Authenticate with a workspace API key: `Authorization: Bearer smk_live_...`. GET /tools lists the full scope-filtered capability surface (identical to the MCP server); POST /tools/{name} invokes any of them. Keys carry scopes: free keys can read and ask; acting requires an agents:act key, and acting over REST requires the Infrastructure plan. Rate limits are per key; responses carry X-RateLimit-* headers and 429s carry Retry-After. Workspaces metered for free questions also get X-SEOmatic-Questions-Remaining (free questions left this month) on /tools/{name} and /ask answers, limit refusals included. One question is one user turn: market-data calls from the same key share one question while each comes within 90 seconds of the previous one, up to 5 lookups; the 6th starts a new question. Search Console, site and stored reads never use a question.",
    "contact": {
      "email": "contact@seomatic.ai",
      "url": "https://seomatic.ai/contact"
    },
    "x-jentic-source-url": "https://app.seomatic.ai/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://app.seomatic.ai/api/v1"
    }
  ],
  "paths": {
    "/me/revoke": {
      "post": {
        "operationId": "revokeMyKey",
        "summary": "Revoke the calling API key itself (for example when an integration or browser extension is disconnected). It can only revoke the key that makes the request; an already invalid key also gets 204, so the call is safe to repeat.",
        "responses": {
          "204": {
            "description": "The key is revoked (or was already invalid)."
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Introspect the calling key: workspace, environment, scopes, and the plan capabilities that gate the paid REST/Zapier surface (so an agent can discover entitlements without triggering a 402).",
        "parameters": [
          {
            "name": "X-Seomatic-Client",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "n8n",
                "make"
              ]
            },
            "description": "Identifies an automation-platform integration (the official n8n node sends `n8n`, the Make app sends `make`). When set, every call, including a connection test against /me, requires a paid plan or a trial (reads work on any of them; acting tools still need Infrastructure), else 402 AUTOMATION_NOT_ENTITLED. Omit it for plain REST usage."
          }
        ],
        "responses": {
          "200": {
            "description": "Key and workspace details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspace": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "gsc_connected": {
                          "type": "boolean"
                        }
                      }
                    },
                    "key": {
                      "type": "object",
                      "properties": {
                        "environment": {
                          "type": "string",
                          "enum": [
                            "live",
                            "test"
                          ]
                        },
                        "scopes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "capabilities": {
                      "type": "object",
                      "description": "Plan-gated surface permissions (reads/chat work on any plan).",
                      "properties": {
                        "rest_act": {
                          "type": "boolean",
                          "description": "agents:act over REST (Infrastructure)."
                        },
                        "zapier": {
                          "type": "boolean",
                          "description": "Zapier, Make and n8n reads and triggers (any paid plan or trial)."
                        },
                        "webhooks": {
                          "type": "boolean",
                          "description": "Outbound webhooks (Infrastructure)."
                        }
                      }
                    },
                    "free_questions": {
                      "type": "object",
                      "nullable": true,
                      "description": "Free-plan question meter that tool calls spend (the pool is shared with chat and MCP). null on paid plans, where tool calls are not metered.",
                      "properties": {
                        "monthly_limit": {
                          "type": "integer"
                        },
                        "used_this_month": {
                          "type": "integer"
                        },
                        "bonus_remaining": {
                          "type": "integer",
                          "description": "Purchased or earned questions, spent after the monthly allowance."
                        },
                        "remaining": {
                          "type": "integer",
                          "description": "Tool calls still available right now."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "X-Seomatic-Client is n8n or make and the workspace has no paid plan or trial (AUTOMATION_NOT_ENTITLED). Body carries upgrade_url.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/gsc/top-queries": {
      "get": {
        "operationId": "getGscTopQueries",
        "summary": "Top search queries from the workspace's Google Search Console property.",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Lookback window in days (1-90, default 28, finalized-data anchored).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 28
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows (1-100, default 25).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query rows with clicks/impressions/ctr/position",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "site": {
                      "type": "string"
                    },
                    "window_days": {
                      "type": "integer"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "query": {
                            "type": "string"
                          },
                          "clicks": {
                            "type": "number"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "ctr": {
                            "type": "number"
                          },
                          "position": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the 'read:gsc' scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Workspace has no GSC property connected",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/ask": {
      "post": {
        "operationId": "askQuestion",
        "summary": "Ask one natural-language question, answered with this key's own tool roster.",
        "description": "The non-streaming sibling of dashboard chat, for surfaces that cannot hold an SSE stream open (WordPress plugins, n8n, curl). The roster is the SAME scope-filtered set MCP and /tools serve, so a free key can read and ask but never act. Metered against the workspace's monthly question pool (shared with chat and MCP); a model failure does not consume a question.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "question"
                ],
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "The question, in plain language."
                  },
                  "client": {
                    "type": "string",
                    "description": "Surface attribution (e.g. wp-plugin, n8n, cli), so questions are not all attributed to curl."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer, with the tools it used; free workspaces also get remaining_questions in the body.",
            "headers": {
              "X-SEOmatic-Questions-Remaining": {
                "$ref": "#/components/headers/QuestionsRemaining"
              }
            }
          },
          "400": {
            "description": "Missing or invalid question"
          },
          "402": {
            "description": "Monthly question limit reached (FREE_QUOTA_EXCEEDED; body carries keep_going_url, the page with every way to continue), or the subscription is paused or its card was declined (BILLING_INACTIVE; body links the one step that restores it).",
            "headers": {
              "X-SEOmatic-Questions-Remaining": {
                "$ref": "#/components/headers/QuestionsRemaining"
              }
            }
          }
        }
      }
    },
    "/page-audit": {
      "post": {
        "operationId": "auditPage",
        "summary": "Score one public page for AI/LLM answerability.",
        "description": "Fetches a public URL and scores how answerable it is for AI engines. The key-authed lane the WordPress AI-visibility plugin calls. The URL must be publicly reachable; private/internal addresses are SSRF-rejected.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "client": {
                    "type": "string",
                    "description": "Surface attribution, e.g. wp-ai-visibility."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Answerability scores and issues for the page"
          },
          "400": {
            "description": "Invalid or non-public URL (SSRF-rejected)"
          }
        }
      }
    },
    "/wp-event": {
      "post": {
        "operationId": "reportWpEvent",
        "summary": "Report a lifecycle moment a plugin detected on the site it runs on.",
        "description": "For facts only the site itself can see (for example robots.txt blocking AI crawlers, which is read from the site's own filesystem rather than guessed from outside). The event name is validated against a known set; unlisted events are rejected rather than silently recorded.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event"
                ],
                "properties": {
                  "event": {
                    "type": "string",
                    "description": "The lifecycle event name (known set)."
                  },
                  "agents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Blocked user-agents, where applicable."
                  },
                  "rule": {
                    "type": "string",
                    "description": "The robots.txt rule line, where applicable."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recorded"
          },
          "400": {
            "description": "Unknown event or invalid payload"
          }
        }
      }
    },
    "/gsc/decaying-pages": {
      "get": {
        "operationId": "getGscDecayingPages",
        "summary": "Pages that LOST clicks: the recent window vs the adjacent window before it.",
        "description": "Content decay from the workspace's own Search Console property. A page must have had real prior traffic (minimum prior clicks) to count as decayed, so a page that never ranked is not reported as declining. Sorted by biggest click drop.",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Lookback window in days (1-90, default 28, finalized-data anchored).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 28
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows (1-100, default 25).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Decaying pages with prev/recent clicks, absolute drop and drop percentage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "site": {
                      "type": "string"
                    },
                    "window_days": {
                      "type": "integer"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "string"
                          },
                          "prevClicks": {
                            "type": "integer"
                          },
                          "recentClicks": {
                            "type": "integer"
                          },
                          "dropClicks": {
                            "type": "integer"
                          },
                          "dropPct": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "No Google Search Console property connected"
          }
        }
      }
    },
    "/gsc/page-queries": {
      "get": {
        "operationId": "getGscPageQueries",
        "summary": "The queries Search Console attributes to ONE page.",
        "description": "Page-filtered query performance. The url must belong to the connected property (apex or subdomain); anything else is rejected.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The page URL to inspect. Must be on the connected property.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Lookback window in days (1-90, default 28, finalized-data anchored).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 28
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows (1-100, default 25).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query rows with clicks/impressions/ctr/position",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "site": {
                      "type": "string"
                    },
                    "window_days": {
                      "type": "integer"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "query": {
                            "type": "string"
                          },
                          "clicks": {
                            "type": "number"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "ctr": {
                            "type": "number"
                          },
                          "position": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing/invalid url, or url off-property"
          },
          "409": {
            "description": "No Google Search Console property connected"
          }
        }
      }
    },
    "/pages/ai-activity": {
      "get": {
        "operationId": "getPagesAiActivity",
        "summary": "Per-page AI engagement: answer-crawler fetches and AI-referred visits.",
        "description": "First-party moat data from the workspace's own rollups. 'fetches' counts retrieval/indexing-class AI answer-crawler hits (the step that precedes a citation); 'referrals' counts visits an AI assistant sent back. This is the AI channel ordinary analytics files as Direct. Counts only.",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Lookback window in days (1-90, default 28, finalized-data anchored).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 28
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows (1-100, default 25).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pages ranked by total AI engagement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "window_days": {
                      "type": "integer"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "fetches": {
                            "type": "integer"
                          },
                          "referrals": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/brand-facts": {
      "post": {
        "operationId": "postBrandFacts",
        "summary": "Store the workspace's canonical business facts as AI ground truth.",
        "description": "The owner's OWN declared business facts (name, founding year, contact, official profiles), used to detect AI answers that contradict them. One row per workspace, latest wins. Never page content or visitor data; keys outside the allowlist are dropped and each value is length-bounded.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site": {
                    "type": "string",
                    "description": "Site URL the facts describe."
                  },
                  "facts": {
                    "type": "object",
                    "description": "Allowlisted keys: name, legal_name, founded, founders, description, email, phone, address, sameas.",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stored": {
                      "type": "boolean"
                    },
                    "fields": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON body"
          }
        }
      }
    },
    "/link-density": {
      "post": {
        "operationId": "postLinkDensity",
        "summary": "Store the site's internal-linking health reading.",
        "description": "A coarse internal-linking-health snapshot: how many posts were sampled and how many internal links they contain. One row per workspace, latest wins. Counts only, never content or URLs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site": {
                    "type": "string"
                  },
                  "scanned": {
                    "type": "integer",
                    "description": "Posts sampled (must be >= 1 to store)."
                  },
                  "internal_links": {
                    "type": "integer",
                    "description": "Internal links found across the sample."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored (or ignored when nothing was scanned)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stored": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON body"
          }
        }
      }
    },
    "/indexnow/register": {
      "post": {
        "operationId": "postIndexNowRegister",
        "summary": "Register the IndexNow key the site hosts (Instant Indexing plugin).",
        "description": "Saves the workspace's IndexNow integration from a key the site already hosts. keyLocation must be the site's own {key}.txt URL on the site this key was paired on; the file is fetched and must contain exactly the key before anything is saved.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "keyLocation"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "IndexNow key, 8-128 of [a-zA-Z0-9-]."
                  },
                  "keyLocation": {
                    "type": "string",
                    "description": "The site's own https://host/{key}.txt URL."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified and saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "registered": {
                      "type": "boolean"
                    },
                    "keyLocation": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid key or key location"
          },
          "409": {
            "description": "Key file is on another site than the paired one"
          },
          "422": {
            "description": "Key file did not answer with the key"
          }
        }
      },
      "delete": {
        "operationId": "deleteIndexNowRegister",
        "summary": "Disable the IndexNow key the plugin registered.",
        "description": "Called by the plugin on disconnect or uninstall. Disables only an integration the plugin registered, never a key set in SEOmatic settings. Optional body: { key }.",
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "disabled": {
                      "type": "boolean"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/gsc/top-pages": {
      "get": {
        "operationId": "getGscTopPages",
        "summary": "Top pages from the workspace's Google Search Console property.",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Lookback window in days (1-90, default 28, finalized-data anchored).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 28
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max rows (1-100, default 25).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page rows with clicks/impressions/ctr/position",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "site": {
                      "type": "string"
                    },
                    "window_days": {
                      "type": "integer"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "string"
                          },
                          "clicks": {
                            "type": "number"
                          },
                          "impressions": {
                            "type": "number"
                          },
                          "ctr": {
                            "type": "number"
                          },
                          "position": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the 'read:gsc' scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Workspace has no GSC property connected",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/redirects": {
      "get": {
        "operationId": "listRedirects",
        "summary": "Redirect rules the agents approved for this workspace but could not apply. Only rules that survived every guard are returned.",
        "responses": {
          "200": {
            "description": "Applicable redirect rules for the workspace site",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "site": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "count": {
                      "type": "integer"
                    },
                    "rules": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "taskId": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "301",
                              "410"
                            ]
                          },
                          "reasoning": {
                            "type": "string"
                          },
                          "stagedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "taskId",
                          "from",
                          "to",
                          "type"
                        ]
                      }
                    }
                  },
                  "required": [
                    "count",
                    "rules"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Key lacks the 'chat:ask' scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/redirects/{taskId}/ack": {
      "post": {
        "operationId": "ackRedirect",
        "summary": "Record that a redirect rule is now live on the site. Starts the outcome-verification window. Repeating an ack is a no-op.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recorded (or already recorded)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "alreadyAcked": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string"
                    },
                    "maturesAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No such redirect rule in this workspace (REDIRECT_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tools": {
      "get": {
        "operationId": "listTools",
        "summary": "List every tool this key can call (name, description, input JSON Schema, acts flag): the full REST capability surface, identical to MCP.",
        "parameters": [
          {
            "name": "X-Seomatic-Client",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "n8n",
                "make"
              ]
            },
            "description": "Identifies an automation-platform integration (the official n8n node sends `n8n`, the Make app sends `make`). When set, every call, including a connection test against /me, requires a paid plan or a trial (reads work on any of them; acting tools still need Infrastructure), else 402 AUTOMATION_NOT_ENTITLED. Omit it for plain REST usage."
          }
        ],
        "responses": {
          "200": {
            "description": "Scope-filtered tool roster. Each: {name, description, input_schema, acts}."
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "X-Seomatic-Client is n8n or make and the workspace has no paid plan or trial (AUTOMATION_NOT_ENTITLED). Body carries upgrade_url.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tools/{name}": {
      "post": {
        "operationId": "invokeTool",
        "summary": "Invoke a tool by name with a JSON body of its arguments. Runs the exact tool MCP would; acting (acts=true) tools require Infrastructure over REST.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tool name from GET /tools."
          },
          {
            "name": "X-Seomatic-Client",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "n8n",
                "make"
              ]
            },
            "description": "Identifies an automation-platform integration (the official n8n node sends `n8n`, the Make app sends `make`). When set, every call, including a connection test against /me, requires a paid plan or a trial (reads work on any of them; acting tools still need Infrastructure), else 402 AUTOMATION_NOT_ENTITLED. Omit it for plain REST usage."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Makes the call safe to repeat (a UUID per logical call). The first request runs the tool; a repeat with the same key and arguments returns that run's response (header Idempotent-Replayed: true) or 409 IDEMPOTENCY_IN_PROGRESS while it still runs, and an ACTING tool (acts=true) is never run twice. Kept: acting calls for 24h; any call that outlived the 60s response (504 TOOL_TIMEOUT) for 24h if acting, 1h if a read. A fast read is not kept, so repeating it runs it again (harmless). Answers over 64 KB are returned once and not kept: a repeat gets 409 IDEMPOTENCY_RESULT_NOT_KEPT. Calls refused before running (400, 402, 403, 404, 429) are not kept, and neither is an acting call the tool refused for credits, a rate limit or a provider outage (402, 429, 503; nothing acted), so the key works again once fixed."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "The tool's argument object (per its input_schema)."
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-SEOmatic-Questions-Remaining": {
                "$ref": "#/components/headers/QuestionsRemaining"
              }
            },
            "description": "{ tool, result }: the tool answered. result is its output, usually a JSON string (parse it). A tool that refuses does NOT answer 200: it gets the matching 402/422/429/503 below, with its own output in result."
          },
          "400": {
            "description": "Invalid arguments (INVALID_ARGUMENTS; details says what) or a malformed Idempotency-Key (INVALID_IDEMPOTENCY_KEY)."
          },
          "402": {
            "description": "Acting over REST requires Infrastructure (REST_ACT_REQUIRES_INFRA); the plan does not include acting through the API (SCOPE_REVOKED_BY_PLAN); X-Seomatic-Client is n8n or make and the workspace has no paid plan or trial (AUTOMATION_NOT_ENTITLED); the free monthly question limit is reached (FREE_QUOTA_EXCEEDED; body carries keep_going_url and a question_pack payment link); the subscription is paused or its card was declined (BILLING_INACTIVE; body links the one step that restores it, never an upgrade); or the tool refused for credits (INSUFFICIENT_CREDITS, PAYMENT_REQUIRED; body carries the tool result); or the tool hit a plan limit (the code is the refusal code itself: PROMPT_LIMIT, CADENCE_LIMIT, MONITOR_LIMIT, PAGE_LIMIT_EXCEEDED, SEAT_LIMIT_EXCEEDED, WORKSPACE_LIMIT_EXCEEDED, PLANNER_DISABLED, AUTO_EXECUTE_DISABLED, AGENT_SKILLS_NOT_ENTITLED, PAGE_TEMPLATES_NOT_ENTITLED, HOSTED_PAGES_NOT_ENTITLED, AI_ATTRIBUTION_NOT_ENTITLED, ZAPIER_NOT_ENTITLED, BYO_KEYS_NOT_ENTITLED, INCREMENTALITY_NOT_ENTITLED, WEBHOOKS_NOT_ENTITLED; `result` holds the tool refusal). Body carries upgrade_url (and reason, for tool refusals) where an upgrade is the fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The plan allows it but the key creator's role in the workspace does not (FORBIDDEN_ROLE; e.g. a creator now a viewer calling an acting tool). No upgrade fixes it: an admin changes the role.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unknown or unauthorized tool (UNKNOWN_TOOL)"
          },
          "409": {
            "description": "A request with this Idempotency-Key is still running (IDEMPOTENCY_IN_PROGRESS; repeat after Retry-After to collect the result), or it ran and its answer was too large to keep (IDEMPOTENCY_RESULT_NOT_KEPT; it is not run again)."
          },
          "413": {
            "description": "Request body over 256 KB (BODY_TOO_LARGE). Tool arguments are small JSON objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The tool refused: it needs a confirmation step first (NEEDS_CONFIRMATION), or it declined for another reason it states (TOOL_REFUSED); result holds its explanation. Or this Idempotency-Key was used for a different tool or arguments (IDEMPOTENCY_KEY_REUSED)."
          },
          "429": {
            "description": "Rate limited: the per-key tool-call limit (Retry-After header set), or the tool refused for a rate cap (e.g. ARTICLE_FAILURE_CAP; body carries the tool result).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Tool execution failed (TOOL_FAILED)"
          },
          "503": {
            "description": "Temporarily unavailable, on our side, not a limit: the upstream data provider or the credit check is down (PROVIDER_UNAVAILABLE; nothing was charged), or idempotency is unavailable and the tool was NOT run (IDEMPOTENCY_UNAVAILABLE). Retry shortly."
          },
          "504": {
            "description": "The tool is still running past the 60s response ceiling and was not stopped (TOOL_TIMEOUT). With an Idempotency-Key, repeat the request to collect its answer."
          }
        }
      }
    },
    "/articles": {
      "post": {
        "operationId": "createArticle",
        "summary": "Generate one SEO article from a topic (consumes 1 prepaid unit, $9 pay-as-you-go). Returns 202 + id; poll GET /articles/{id} until status=ready for markdown + html.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "topic"
                ],
                "properties": {
                  "topic": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "The keyword/topic to write about, e.g. \"how to choose trail running shoes\"."
                  },
                  "caller_ref": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9._:@-]{1,128}$",
                    "description": "Optional opaque tag for YOUR end customer (e.g. \"shop:1234\"), stored on the article. For approved reseller accounts (contact support), the daily failed-article and cancel limits apply per tag under an account-wide ceiling, so one customer cannot lock out the others; on every other account the account-wide limits apply as without a tag. Never send secrets or personal data."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "{ id, status: \"queued\", poll } - generation runs async (typically a few minutes)."
          },
          "400": {
            "description": "topic missing (INVALID_REQUEST)"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "No prepaid articles remaining (ARTICLE_BALANCE_EMPTY). Body carries buy_url; POST /articles/checkout returns a payment link.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited, or too many failed articles in 24 hours (ARTICLE_FAILURE_CAP; scope \"caller\" = this caller_ref only (reseller accounts), \"org\" = the whole account). Nothing was consumed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listArticles",
        "summary": "List purchased articles (bodies excluded) and the spendable prepaid balance.",
        "responses": {
          "200": {
            "description": "{ balance, articles: [...] }"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/articles/{articleId}": {
      "get": {
        "operationId": "getArticle",
        "summary": "One article. When status=ready the body carries BOTH formats: markdown (source of truth) and html (rendered).",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ article: { id, topic, status: queued|generating|ready|failed|canceled, title, markdown, html, wordCount, aiSearchScore, contentScore, featuredImageUrl, errorMessage } }"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Article not found (NOT_FOUND)"
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateArticle",
        "summary": "Edit a delivered article: {title?, markdown?}. html is re-rendered server-side from markdown on every edit (never accepted from the caller). Free.",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "markdown": {
                    "type": "string",
                    "description": "Full replacement markdown body."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok: true, id }"
          },
          "400": {
            "description": "Neither title nor markdown provided"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found, or article not ready yet (NOT_FOUND)"
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/articles/{articleId}/cancel": {
      "post": {
        "operationId": "cancelArticle",
        "summary": "Cancel a queued or generating article and get its prepaid unit back. Generation stops at its next step. Idempotent: repeating it answers 200 with already_canceled and refunds nothing. A finished or failed article answers 409 and nothing is refunded (a failed article was already refunded).",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, status: \"canceled\", refunded } (plus already_canceled: true on a repeat, with refunded: false)"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Article not found (NOT_FOUND)"
          },
          "409": {
            "description": "Already settled (ARTICLE_ALREADY_READY or ARTICLE_ALREADY_FAILED); nothing refunded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited, or too many canceled articles in 24 hours (ARTICLE_CANCEL_LIMIT): the article keeps generating and is delivered as usual.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/articles/checkout": {
      "post": {
        "operationId": "createArticleCheckout",
        "summary": "Get a Stripe payment link to top up the prepaid article balance ($9/article, quantity 1-52). Open the URL in a browser; the balance updates when Stripe confirms.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quantity": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 52,
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ checkout_url }"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/articles/pay": {
      "post": {
        "operationId": "payForArticlesWithSharedPaymentToken",
        "summary": "Pay for prepaid article units with a Stripe Shared Payment Token (agentic payments: Meta Muse, ChatGPT agentic checkout, link-cli). The user approves a bounded spend in their Link wallet; the agent passes the spt_ token here and the balance updates in the same response - no browser. Price is fixed server-side ($9/article); the token is single-use and amount-capped by Stripe.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "spt_token"
                ],
                "properties": {
                  "spt_token": {
                    "type": "string",
                    "description": "A Stripe shared payment token (spt_...) granted by the buyer via their Link wallet."
                  },
                  "sku": {
                    "type": "string",
                    "enum": [
                      "article",
                      "question_pack",
                      "visibility_scan",
                      "competitor_scan"
                    ],
                    "default": "article",
                    "description": "What to buy: articles ($9 each), question packs ($5 for 50 assistant questions), AI-visibility scans of your site ($19), or competitor scans ($19)."
                  },
                  "quantity": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 52,
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ paid: true, quantity, amount_cents, currency, balance }"
          },
          "400": {
            "description": "Missing or malformed spt_token"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment failed - the token was already used, expired, or the amount exceeds what the user approved. The error message carries the exact reason to relay."
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/articles/mpp": {
      "post": {
        "operationId": "payForArticlesViaMpp",
        "summary": "Machine Payments Protocol (MPP) payment link for article units. POST with no credential returns a 402 challenge that teaches any Link-wallet agent (link-cli) how to obtain a Shared Payment Token and retry; the same URL opened in a browser redirects to the human buy page. Links are minted by generate_article / POST /articles 402 payloads (mpp_payment_link) and are HMAC-signed - do not construct them by hand.",
        "parameters": [
          {
            "name": "t",
            "in": "query",
            "description": "Signed payment token from an mpp_payment_link (carries org and quantity).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ paid: true, quantity, amount_cents, currency, balance } plus an MPP receipt header"
          },
          "400": {
            "description": "Missing, invalid, or expired payment link"
          },
          "402": {
            "description": "MPP payment challenge (retry with an SPT credential)"
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Machine payments not enabled on this server yet"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List this workspace's webhook endpoints (signing secret masked).",
        "responses": {
          "200": {
            "description": "Endpoints + the available event names"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Webhooks require the Infrastructure plan"
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Register a webhook endpoint. The signing secret is returned IN FULL exactly once. Every delivery is a POST with headers X-Seomatic-Event, X-Seomatic-Delivery, X-Seomatic-Timestamp (unix seconds) and X-Seomatic-Signature: `t=<timestamp>,v1=<hex>`, where v1 = HMAC-SHA256(secret, `<timestamp>.<raw body>`). During a secret rotation the header carries one v1 per active secret (`t=..,v1=<new>,v1=<old>`): accept the event if ANY v1 matches. Verify with a constant-time compare and reject timestamps older than a few minutes (replay). Respond 410 Gone to unsubscribe: the endpoint is removed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "https endpoint to receive signed POSTs."
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "page.published",
                        "page.publish_failed",
                        "task.completed",
                        "task.awaiting_approval",
                        "task.live",
                        "campaign.completed",
                        "ai_visibility.scan_completed"
                      ]
                    },
                    "description": "Subscribed events. Empty = all events."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The endpoint + its full signing secret"
          },
          "400": {
            "description": "Invalid or non-public URL (SSRF-rejected)"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Webhooks require the Infrastructure plan"
          },
          "409": {
            "description": "Per-workspace endpoint cap reached"
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}/rotate-secret": {
      "post": {
        "operationId": "rotateWebhookSecret",
        "summary": "Rotate the signing secret without changing the endpoint id. The new secret is returned IN FULL exactly once. For 24 hours each delivery is signed with both the new and the old secret (two v1 entries), so you can switch your verifier with no dropped events. Rotating again inside that window replaces the older secret immediately.",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New secret (shown once) and when the old one stops signing"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Webhooks require the Infrastructure plan"
          },
          "404": {
            "description": "No such endpoint in this workspace"
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "patch": {
        "operationId": "updateWebhook",
        "summary": "Enable/disable an endpoint or change its subscribed events.",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "page.published",
                        "page.publish_failed",
                        "task.completed",
                        "task.awaiting_approval",
                        "task.live",
                        "campaign.completed",
                        "ai_visibility.scan_completed"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated endpoint"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Webhooks require the Infrastructure plan"
          },
          "404": {
            "description": "No such endpoint in this workspace"
          },
          "429": {
            "description": "Rate limited (per key). Retry-After header set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object"
                    },
                    "upgrade_url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Remove a webhook endpoint.",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
[...]
