{
  "openapi": "3.1.0",
  "info": {
    "title": "bitHuman",
    "version": "1.0",
    "contact": {
      "name": "bitHuman Support",
      "url": "https://www.bithuman.ai/discord"
    },
    "x-logo": {
      "url": "https://docs.bithuman.ai/bithuman-mark.png"
    },
    "description": "Real-time, lip-synced AI avatars: audio in, talking video out — on\nthe cloud, on your own hardware, or in the browser. This is the REST\ncontract; the guides, the SDKs and the CLI are on\n[docs.bithuman.ai](https://docs.bithuman.ai).\n\nAll endpoints are relative to `https://api.bithuman.ai` and\nrequire an `api-secret` header.\n[Get an API secret →](https://www.bithuman.ai/developer/api-keys)\n\nThis machine-readable spec covers the developer surface. Two groups\nare documented only in the markdown guides, not here:\n[organizations](https://docs.bithuman.ai/api/organizations)\n(`/v2/organizations*`, `/v2/agents/{agent_code}/share-org`) and the\n[Realtime WebSocket relay](https://docs.bithuman.ai/api/realtime)\n(`wss://api.bithuman.ai/v1/realtime`). Purely internal / infrastructure routes —\nwebhook receivers, `/func_*` generation internals, health/telemetry,\nand realtime session plumbing — are excluded entirely: they are not\npart of the public developer contract and may change without notice.\n",
    "x-jentic-source-url": "https://docs.bithuman.ai/api/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.bithuman.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/validate": {
      "post": {
        "operationId": "validateApiSecret",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST https://api.bithuman.ai/v1/validate \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\"\n# → {\"valid\": true}\n"
          }
        ],
        "summary": "Validate API secret",
        "description": "Verify that your API secret is valid and your account is active.\n\nAlways returns HTTP 200. Inspect the `valid` field in the body\nto determine outcome — invalid or missing credentials yield\n`{\"valid\": false}` rather than a 401. The secret goes in the\n`api-secret` header; a secret sent as `Authorization: Bearer` is\nnot read and also yields `{\"valid\": false}`.\n",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Validation complete (check the `valid` field)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/generate": {
      "post": {
        "operationId": "generateAgent",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST https://api.bithuman.ai/v1/agent/generate \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\" \\\n  -H \"content-type: application/json\" \\\n  -d '{\n    \"model\": \"expression-2\",\n    \"prompt\": \"You are a friendly fitness coach who motivates users.\",\n    \"image\": \"https://example.com/face.jpg\",\n    \"aspect_ratio\": \"9:16\"\n  }'\n# Always send model: essence-2 | expression-2 | auto (picks by subject).\n# → {\"success\": true, \"agent_id\": \"A95SXN5716\", \"status\": \"processing\"}\n# then poll GET /v1/agent/status/A95SXN5716\n"
          }
        ],
        "summary": "Generate a new agent",
        "description": "Create a new avatar agent from a text prompt, with optional image\nand audio assets. Poll `/v1/agent/status/{agent_id}` to check\nprogress.\n\n**Agent creation is image-only.** Provide a portrait `image` (or let\nthe prompt generate one) — bitHuman generates a **10-second\nidentity video internally**, authored to loop without a seam (its\nfirst and last frames match). A `video` field is rejected with\n`400 VIDEO_INPUT_NOT_SUPPORTED` before anything is billed.\n\n**Selecting a model.** Always send `model`: `essence-2`,\n`expression-2`, `auto`, `essence-1` or `expression-1`. An omitted\n`model` creates an `expression-1` agent. A model outside your plan\nreturns `403 PLAN_REQUIRED`.\n\n**Creation time depends on the model** (the second-generation models\ntrain a per-identity model, so don't apply a 5-minute client\ntimeout):\n\n| `model` | identity input | creation time |\n|---|---|---|\n| `essence-2` | image (or generated from prompt); a 10-second identity video is generated internally | about 2–2.5 h |\n| `expression-2` | image (or generated from prompt) | about 2–2.5 h |\n| `auto` | image or prompt (classified automatically) | as the routed model (`essence-2` or `expression-2`) |\n| `essence-1` | image (or generated from prompt) | under 15 min |\n| `expression-1` (the default when `model` is omitted) | image (or generated from prompt) | about 1 min |\n\nTimes run from this call to `status: \"ready\"` on\n`GET /v1/agent/status/{agent_id}`. They are a typical range, not a\nguarantee, and individual runs can take longer: size timeouts in\nhours for the second-generation models.\n\n**Picking the right family** ([Choosing a model](https://docs.bithuman.ai/models#choosing-a-model)):\n`essence-2` for a real person; `expression-2` for a cartoon,\nstylized, animal, creature or robot character. Send\n`model: \"auto\"` to apply this rule automatically — the platform\nclassifies your input and records the recommended model either way.\n\n**Subject requirement:** every model except `expression-2` needs a\nclear, **real human face**: `essence-2`, `essence-1` and\n`expression-1` (also when `model` is omitted). The input is\nclassified before anything is billed; a cartoon, stylized\ncharacter, animal, creature or robot, or a photo with no face\nfound, is rejected with `422 MODEL_SUBJECT_MISMATCH` (nothing\ncharged) — use `expression-2` for those characters, or send\n`model: \"auto\"` to route automatically.\n\nFailures during generation surface as `status: \"failed\"` with an\n`error_message` on the status endpoint, and the creation credits\nare automatically refunded.\n",
        "tags": [
          "Agent Generation"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. A unique client-generated key (e.g. a UUID). Retrying with the same key returns the original response instead of starting a second billed job. Keys are retained for 24 hours."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "System prompt / personality for the agent. If omitted, a random default is used.",
                    "example": "You are a friendly fitness coach who motivates users."
                  },
                  "image": {
                    "type": "string",
                    "description": "URL to a face image for avatar appearance. For the best likeness use a photo with one clear figure, a neutral expression, facing the camera, a relaxed pose, and no occlusion of the face. Every model except Expression 2 needs a real human face (otherwise 422 `MODEL_SUBJECT_MISMATCH`), and Essence 2 needs the face clearly in frame (otherwise 422 `IMAGE_FACE_UNSUITABLE`), before any charge.",
                    "example": "https://example.com/face.jpg"
                  },
                  "audio": {
                    "type": "string",
                    "description": "URL to audio for voice cloning.",
                    "example": "https://example.com/voice.wav"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "16:9",
                      "9:16",
                      "1:1"
                    ],
                    "default": "16:9",
                    "description": "Aspect ratio for the generated identity image and driver video. `16:9` landscape (default), `9:16` portrait, `1:1` square. Images are generated at 1080p on this ratio."
                  },
                  "transparency": {
                    "type": "boolean",
                    "default": false,
                    "description": "When `true`, the identity image is generated on a solid green-screen background (chroma-key friendly) so the avatar can be embedded transparently — the character itself never uses green. Leave `false` for a normal scene background."
                  },
                  "framing": {
                    "type": "string",
                    "enum": [
                      "portrait",
                      "full_body"
                    ],
                    "default": "portrait",
                    "description": "`portrait` (default) frames head-and-shoulders; `full_body` shows the full figure including the feet — use it for kiosk / standing-avatar layouts."
                  },
                  "agent_id": {
                    "type": "string",
                    "description": "Custom agent identifier. Auto-generated if omitted."
                  },
                  "duration": {
                    "type": "integer",
                    "deprecated": true,
                    "description": "**Deprecated — omit it.** The internally generated identity video is 10 seconds (authored to loop without a seam); this parameter is ignored."
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "essence-2",
                      "expression-2",
                      "auto",
                      "essence-1",
                      "expression-1",
                      "essence",
                      "expression"
                    ],
                    "example": "expression-2",
                    "description": "Which model to create. Always send it; if omitted, an `expression-1` agent is created (250 credits). A model outside your plan returns `403 PLAN_REQUIRED`. The bare family names `essence` and `expression` are still accepted for older integrations (they select the version-1 model); new code should send a full model name.\n\n**`essence-2`** is the second-generation Essence model for photorealistic people — one 500-credit creation that runs everywhere from on-device (CPU / Apple silicon) up to cloud GPU. **`expression-2`** is the second-generation expression engine — audio-driven real-time avatar video from a single photo (creation trains a per-identity model — about 2 hours, as does `essence-2`; see the creation-time table above). **`auto`** classifies your input (the image if provided, else the prompt): a photorealistic person routes to `essence-2`, a cartoon / animal / creature / robot to `expression-2`. Retired engine names return `400 VALIDATION_ERROR`. Identity inputs and creation times differ per model — see the endpoint description table and [Compare models](https://docs.bithuman.ai/models)."
                  },
                  "version": {
                    "type": "string",
                    "enum": [
                      "v1",
                      "v2"
                    ],
                    "default": "v1",
                    "deprecated": true,
                    "description": "**Older form — send a full model name in `model` instead.** With a bare family name in `model` (`essence` or `expression`), `v1` selects the first-generation model and `v2` the second-generation one. Ignored when `model` is a full model name or `auto`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Agent generation started"
                    },
                    "agent_id": {
                      "type": "string",
                      "example": "A95SXN5716"
                    },
                    "status": {
                      "type": "string",
                      "example": "processing"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation — malformed JSON, an invalid / retired `model` value (`VALIDATION_ERROR` — the message lists the accepted model names), or a `video` input (`VIDEO_INPUT_NOT_SUPPORTED` — agent creation is image-only; the 10-second identity video is generated internally so it loops without a seam; never send `video`). Rejected before dispatch; no credits charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "validation_error": {
                    "summary": "Invalid model value",
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "Invalid model 'my-model'; must be one of: auto, essence, essence-1, essence-2, expression, expression-1, expression-2",
                        "httpStatus": 400
                      },
                      "status": "error",
                      "status_code": 400
                    }
                  },
                  "video_input_not_supported": {
                    "summary": "Video creation input (image-only contract)",
                    "value": {
                      "error": {
                        "code": "VIDEO_INPUT_NOT_SUPPORTED",
                        "message": "Agent creation is image-only. Provide a portrait `image`; bitHuman generates a 10-second idle/driver video internally so it loops without a seam (first frame == last frame). Video input is not accepted for any model (essence-1, expression-1, essence-2, expression-2).",
                        "httpStatus": 400
                      },
                      "status": "error",
                      "status_code": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "Insufficient credits. Creation is billed **per model** — `expression-2` costs 2000 credits; `essence-2` costs 500; `auto` bills the routed model's rate (500 or 2000); the v1 families (`essence-1`, `expression-1`) cost 250. Returns error code `INSUFFICIENT_BALANCE`; top up at the error's `topup_url`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`PLAN_REQUIRED` — the model is not in your plan (the message names the plan; contact sales), or a Free account, which cannot create agents. `AGENT_LIMIT_REACHED` — a new agent would pass your plan's agent limit; existing agents keep working. Both carry `upgrade_url`; nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "plan_required": {
                    "summary": "A Free account creating an agent",
                    "value": {
                      "error": {
                        "code": "PLAN_REQUIRED",
                        "message": "Creating agents starts at the Creator plan. Upgrade at https://www.bithuman.ai/pricing.",
                        "httpStatus": 403,
                        "upgrade_url": "https://www.bithuman.ai/pricing"
                      },
                      "status": "error",
                      "status_code": 403
                    }
                  },
                  "agent_limit_reached": {
                    "summary": "The plan's agent limit",
                    "value": {
                      "error": {
                        "code": "AGENT_LIMIT_REACHED",
                        "message": "Your Creator plan includes 7 agents and you have 7. Existing agents keep working; delete one or upgrade at https://www.bithuman.ai/pricing to create more.",
                        "httpStatus": 403,
                        "upgrade_url": "https://www.bithuman.ai/pricing"
                      },
                      "status": "error",
                      "status_code": 403
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "`MODEL_SUBJECT_MISMATCH` — a creation for a model that needs a real human face (`essence-2`, `essence-1`, `expression-1`, or `model` omitted) whose input is a cartoon, stylized character, animal, creature or robot, or a photo with no face found. The classifier runs on the image if provided, else the prompt, **before anything is billed** and before any agent row is created. Use `expression-2` for those subjects, or `model: \"auto\"` (which never rejects — it routes instead). A classifier outage never blocks creation (the gate fails open). `IMAGE_FACE_UNSUITABLE` — an Essence 2 creation whose photo has a face too small in frame, or several similar-sized faces; upload a closer photo of one person. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "MODEL_SUBJECT_MISMATCH",
                    "message": "Essence 2 needs a clear, real human face, and this image looks like a cartoon or stylized character. Use Expression 2, which animates any character: cartoons, animals, robots and stylized art. Nothing was charged.",
                    "httpStatus": 422
                  },
                  "status": "error",
                  "status_code": 422
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "`MODEL_NOT_YET_AVAILABLE` — the requested second-generation model (`essence-2`, `expression-2`, or `auto`, which routes only to them) can't accept creations right now. Essence 2 and Expression 2 have been generally available since their July 10, 2026 launch, so this is a rare, temporary operational pause — returned **before any dispatch or charge**. The v1 families (`essence-1`, `expression-1`) always work; retry the v2 model shortly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "MODEL_NOT_YET_AVAILABLE",
                    "message": "expression-2 isn't available for generation yet. Specify 'essence-1' or 'expression-1' to generate now.",
                    "httpStatus": 503
                  },
                  "status": "error",
                  "status_code": 503
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/status/{agent_id}": {
      "get": {
        "operationId": "getAgentStatus",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl https://api.bithuman.ai/v1/agent/status/A95SXN5716 \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\"\n# poll every 5 s until data.status is \"ready\" (or \"failed\").\n# \"success\" is a STEP marker written mid-run — not terminal unless progress == 1.0\n"
          }
        ],
        "summary": "Get agent generation status",
        "description": "Poll this endpoint to check generation progress. Status values:\n`processing`, `generating`, `completed`, `success` (all intermediate);\n`ready` (terminal success); `failed` (terminal error).\n\n**Keep polling past `generating`, `completed` and `success`** — those\nare intermediate states, not terminal. `completed` can appear early\n(even around ~5% `progress`), and `success` is a STEP-level marker the\nvoice/image and video steps each write (~20% and ~45% `progress`), so\ndo not stop on either. Only `ready` and `failed` mean polling should\nstop — or `success` when `progress` has also reached `1.0`.\n\n`current_step` reports the pipeline stage: `payment` (~2%) →\n`persona` (5–15%) → `voice_image` (~20%) → `video` (~45%, the\ninternally generated 10-second identity video — models that need\none) → `lip_sync` (70–99%, the\nmodel-specific identity step — training/distillation for\n`expression-2` / `essence-2`, so the longest stage) → `done`\n(100%). A rare `essence-1` path reports `awaiting_face_marking`\n(~35%).\n\nRecommended polling interval: 5 seconds. Size your overall timeout to\nthe model: minutes for the first-generation engines, **hours** for\nboth second-generation ones (about 2–2.5 hours from creation to `ready`).\n\n**`ready` does not yet mean downloadable.** The agent can be launched\nand embedded as soon as it reports `ready`, but the downloadable\nmodel file is published separately, shortly afterwards. Until it is,\n`GET /v1/agent/{code}/model/download` answers\n`404 MODEL_ARTIFACT_NOT_READY` — a retryable code, not a failure. It\ncan take a few minutes after `ready`; poll the download while it\nanswers `404 MODEL_ARTIFACT_NOT_READY`.\n",
        "tags": [
          "Agent Generation"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A95SXN5716"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent status. `data` is the agent's full record — the same shape `GET /v1/agent/{code}` returns.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/agent/{code}": {
      "get": {
        "operationId": "getAgent",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl https://api.bithuman.ai/v1/agent/A95SXN5716 \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\"\n"
          }
        ],
        "summary": "Get agent details",
        "description": "Retrieve full details for an agent by its code.",
        "tags": [
          "Agent Management"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A95SXN5716"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/EdgeBadGateway"
          }
        }
      },
      "post": {
        "operationId": "updateAgent",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST https://api.bithuman.ai/v1/agent/A95SXN5716 \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\" \\\n  -H \"content-type: application/json\" \\\n  -d '{\"system_prompt\": \"You are a professional sales assistant.\"}'\n"
          }
        ],
        "summary": "Update an agent's prompt or providers",
        "description": "Update an existing agent's system prompt, its provider selection, or\nboth. The agent must already exist (use `POST /v1/agent/generate` to\ncreate one). Send at least one of `system_prompt` and `providers` — a\nbody with neither is rejected `400 MISSING_PARAM`.\n\n**An agent's `name` cannot be set here, and cannot be set at\ncreation either.** Names are generated from the agent's prompt and\nportrait. A body whose only field is `name` changes nothing and\nreturns `400 MISSING_PARAM`; sending `name` alongside `system_prompt`\nupdates the prompt and ignores the name.\n",
        "tags": [
          "Agent Management"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A95SXN5716"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Send `system_prompt`, `providers`, or both. Any other field is ignored.",
                "properties": {
                  "system_prompt": {
                    "type": "string",
                    "description": "New system prompt for the agent.",
                    "example": "You are a professional sales assistant."
                  },
                  "providers": {
                    "type": "object",
                    "description": "Which provider each capability uses for this agent. Give a capability `\"default\"` to use the platform's own provider, or an object `{\"mode\": \"custom\", \"provider_id\": \"<id>\"}` to point it at one you registered yourself. The patch is merged, so a capability you omit keeps its current selection. An unknown capability name, an unusable selection, or a `provider_id` that is not registered on your account is refused `400 VALIDATION_ERROR` at write time with the reason — nothing is stored half-configured.",
                    "additionalProperties": false,
                    "properties": {
                      "llm": {
                        "$ref": "#/components/schemas/ProviderSelection"
                      },
                      "stt": {
                        "$ref": "#/components/schemas/ProviderSelection"
                      },
                      "tts": {
                        "$ref": "#/components/schemas/ProviderSelection"
                      },
                      "realtime": {
                        "$ref": "#/components/schemas/ProviderSelection"
                      }
                    },
                    "example": {
                      "llm": {
                        "mode": "custom",
                        "provider_id": "43c9a2a3-8664-4a33-a66d-77490256e7e1"
                      },
                      "tts": "default"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_code": {
                      "type": "string",
                      "example": "A95SXN5716"
                    },
                    "updated": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "example": {
                  "agent_code": "A95SXN5716",
                  "updated": true
                }
              }
            }
          },
          "400": {
            "description": "Nothing to update, or a `providers` patch that cannot be stored. `MISSING_PARAM` — the body carried neither `system_prompt` nor `providers` (an empty body, or one whose only field is `name`). `VALIDATION_ERROR` — malformed JSON, or a `providers` patch naming an unknown capability, an unusable selection, or a `provider_id` that is not registered on your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "nothing_to_update": {
                    "summary": "Neither field sent",
                    "value": {
                      "error": {
                        "code": "MISSING_PARAM",
                        "message": "Nothing to update — send 'system_prompt' and/or 'providers'",
                        "httpStatus": 400
                      },
                      "status": "error",
                      "status_code": 400
                    }
                  },
                  "unregistered_provider": {
                    "summary": "A provider id this account has not registered",
                    "value": {
                      "error": {
                        "code": "VALIDATION_ERROR",
                        "message": "provider_id 'does-not-exist' is not registered on this account",
                        "httpStatus": 400
                      },
                      "status": "error",
                      "status_code": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteAgent",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X DELETE https://api.bithuman.ai/v1/agent/A95SXN5716 \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\"\n# → {\"success\": true, \"agent_code\": \"A95SXN5716\", \"deleted\": true}\n"
          }
        ],
        "summary": "Delete an agent",
        "description": "Permanently delete an agent you own. Stored assets are cleaned up\nbest-effort; usage history is retained. Deleting a missing or\nnon-owned agent returns 404.\n",
        "tags": [
          "Agent Management"
        ],
        "security": [
          {
            "apiSecret": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A95SXN5716"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "agent_code": {
                      "type": "string",
                      "example": "A95SXN5716"
                    },
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    },
                    "artifact_cleanup": {
                      "type": "string",
                      "description": "How far the removal of the agent's stored assets has got. `pending` means the delete has been accepted and the files are still being removed in the background — the agent is already gone from `GET /v1/agents` and every route answers `404` for its code.",
                      "example": "pending"
                    },
                    "billing_history": {
                      "type": "string",
                      "description": "What happened to this agent's billing records. The per-call rows go with the agent; the account-level summaries they roll up into are retained, so your invoice does not change.",
                      "example": "removed_summary_retained"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "agent_code": "A95SXN5716",
                  "deleted": true,
                  "artifact_cleanup": "pending",
                  "billing_history": "removed_summary_retained"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/agent/{code}/speak": {
      "post": {
        "operationId": "agentSpeak",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST https://api.bithuman.ai/v1/agent/A95SXN5716/speak \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\" \\\n  -H \"content-type: application/json\" \\\n  -d '{\"message\": \"Hello! Welcome to our demo.\"}'\n"
          }
        ],
        "summary": "Make agent speak",
        "description": "Send text for the avatar to speak aloud. With `room_id` it goes to that\none session; without it, to every deliverable session of the agent.\nThe agent must be in at least one active LiveKit room.\n",
        "tags": [
          "Agent Context"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A95SXN5716"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Text for the avatar to speak.",
                    "example": "Hello! Welcome to our demo."
                  },
                  "room_id": {
                    "type": "string",
                    "description": "Target a specific room (optional, defaults to all active rooms)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Speech triggered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_code": {
                      "type": "string",
                      "example": "A95SXN5716"
                    },
                    "context_type": {
                      "type": "string",
                      "example": "speak"
                    },
                    "delivered_to_rooms": {
                      "type": "integer",
                      "example": 1,
                      "description": "Number of active rooms that received the message."
                    },
                    "rooms": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Room ids that received the message.",
                      "example": [
                        "room-A95SXN5716-x1y2-z3w4"
                      ]
                    },
                    "rooms_skipped": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Live rooms with no agent worker attached, so not delivered to."
                    },
                    "rooms_failed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Rooms the publish was attempted on and failed."
                    },
                    "rooms_skipped_no_worker": {
                      "type": "integer",
                      "description": "Length of rooms_skipped.",
                      "example": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/agent/{code}/sessions": {
      "get": {
        "operationId": "listAgentSessions",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl https://api.bithuman.ai/v1/agent/A95SXN5716/sessions \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\"\n"
          }
        ],
        "summary": "List an agent's live sessions",
        "description": "The sessions this agent has open now. Pass a returned `room_id` to\n/speak or /add-context to address ONE session instead of broadcasting.\n`deliverable` is false when the room is live but no agent worker is\nattached — /speak on such a room returns 404.\n",
        "tags": [
          "Agent Context"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A95SXN5716"
          }
        ],
        "responses": {
          "200": {
            "description": "Live sessions (possibly an empty list)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_code": {
                      "type": "string",
                      "example": "A95SXN5716"
                    },
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "room_id": {
                            "type": "string",
                            "example": "room-A95SXN5716-x1y2-z3w4"
                          },
                          "num_participants": {
                            "type": "integer",
                            "example": 3
                          },
                          "created_at": {
                            "type": "integer",
                            "description": "LiveKit room creation time, Unix seconds.",
                            "example": 1788480000
                          },
                          "deliverable": {
                            "type": "boolean",
                            "description": "Whether an agent worker is attached and /speak would reach it.",
                            "example": true
                          },
                          "matched_by": {
                            "type": "string",
                            "enum": [
                              "name",
                              "ledger",
                              "name+ledger",
                              "loose"
                            ],
                            "description": "How the room was bound to this agent."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/agent/{code}/add-context": {
      "post": {
        "operationId": "addContext",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST https://api.bithuman.ai/v1/agent/A95SXN5716/add-context \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\" \\\n  -H \"content-type: application/json\" \\\n  -d '{\"context\": \"The customer just purchased a premium plan.\"}'\n"
          }
        ],
        "summary": "Add context to agent",
        "description": "Inject background knowledge into the agent's context. The avatar\nwon't say this aloud, but will use the information in future responses.\n",
        "tags": [
          "Agent Context"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A95SXN5716"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "context"
                ],
                "properties": {
                  "context": {
                    "type": "string",
                    "description": "Knowledge to inject.",
                    "example": "The customer just purchased a premium plan."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "add_context",
                      "speak"
                    ],
                    "default": "add_context",
                    "description": "`add_context` for silent knowledge (default), `speak` to trigger verbal response."
                  },
                  "room_id": {
                    "type": "string",
                    "description": "Target a specific room (optional)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Context added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent_code": {
                      "type": "string",
                      "example": "A95SXN5716"
                    },
                    "context_type": {
                      "type": "string",
                      "example": "add_context"
                    },
                    "delivered_to_rooms": {
                      "type": "integer",
                      "example": 1,
                      "description": "Number of active rooms that received the context."
                    },
                    "rooms": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Room ids that received the context.",
                      "example": [
                        "room-A95SXN5716-x1y2-z3w4"
                      ]
                    },
                    "rooms_skipped": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Live rooms with no agent worker attached, so not delivered to."
                    },
                    "rooms_failed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Rooms the publish was attempted on and failed."
                    },
                    "rooms_skipped_no_worker": {
                      "type": "integer",
                      "description": "Length of `rooms_skipped`.",
                      "example": 0
                    }
                  }
                },
                "example": {
                  "agent_code": "A95SXN5716",
                  "context_type": "add_context",
                  "delivered_to_rooms": 1,
                  "rooms_skipped_no_worker": 0,
                  "rooms": [
                    "room-A95SXN5716-x1y2-z3w4"
                  ],
                  "rooms_skipped": [],
                  "rooms_failed": []
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/agent/{code}/models": {
      "post": {
        "operationId": "addAgentModel",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST https://api.bithuman.ai/v1/agent/A95SXN5716/models \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\" \\\n  -H \"content-type: application/json\" \\\n  -d '{\"model\": \"expression-2\"}'\n# → {\"success\": true, \"status\": \"processing\", ...} — poll\n#   GET /v1/agent/status/A95SXN5716 until supported_models lists it\n"
          }
        ],
        "summary": "Add a model to an existing agent",
        "description": "Add an avatar model to an agent you already created — no need to\nre-create the agent or regenerate its persona/voice/image. The agent\nmust be in the `ready` state (else `409 AGENT_NOT_READY`).\n\n| model | what happens | prerequisites | credits | time |\n|---|---|---|---|---|\n| `expression-1` | **immediate enablement** — the v1 engine drives the agent's existing image + voice at runtime; nothing is trained | stored image + voice + real-human subject (else `422 MODEL_SUBJECT_MISMATCH`) | **0** | immediate (this response) |\n| `expression-2` | trains the per-identity Expression 2 model from the stored image | stored image | 2000 | the same training an `expression-2` creation runs — about 2–2.5 h (see [creation times](#operation/generateAgent)) |\n| `essence-2` | trains Essence 2 from the agent's stored identity video (generated internally at creation) | stored identity video (else `422`) + photorealistic-human subject (else `422 MODEL_SUBJECT_MISMATCH`) | 500 | the same training an `essence-2` creation runs — about 2–2.5 h (see [creation times](#operation/generateAgent)) |\n| `essence-1` | builds the v1 `.imx` from the agent's stored identity video (or generates one internally from the stored image) | stored identity video or image + real-human subject (else `422 MODEL_SUBJECT_MISMATCH`) | 250 | ~10–20 min |\n\nAsynchronous adds return `status: \"processing\"` — poll\n[`GET /v1/agent/status/{agent_id}`](#tag/Agent-Generation/operation/getAgentStatus)\nuntil `supported_models` contains the new family. Charges are refunded\nautomatically if the add fails; re-POSTing the same model never\ndouble-charges, and returns `status: \"ready\"` with `credits: 0` once\nthe model already exists.\n",
        "tags": [
          "Agent Management"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "A95SXN5716"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "essence-1",
                      "essence-2",
                      "expression-1",
                      "expression-2"
                    ],
                    "description": "The model to add. Anything else returns `400 VALIDATION_ERROR` listing these options.",
                    "example": "expression-2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model added (`status: \"ready\"` — immediate or already available) or the add started (`status: \"processing\"` — poll supported_models).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "agent_id": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ready",
                        "processing"
                      ]
                    },
                    "credits": {
                      "type": "integer",
                      "description": "Credits charged for this add (0 for immediate enablement or when already available)."
                    },
                    "supported_models": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The agent's launchable model families at response time."
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid `model` (the message lists the addable options)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "`AGENT_NOT_READY` — the agent is still generating or failed; models can only be added to a ready agent."
          },
          "422": {
            "description": "`MODEL_PREREQUISITE_MISSING` — the agent lacks a stored asset the model needs (e.g. `essence-2` needs the agent's stored identity video — generated internally by Essence creations, never uploaded), or `MODEL_SUBJECT_MISMATCH` — `essence-2`, `essence-1` and `expression-1` need a real human face, and the agent's subject is a cartoon, stylized character, animal, creature or robot, or its photo has no face found (use `expression-2`). Nothing is charged."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "`MODEL_NOT_YET_AVAILABLE` — adding a second-generation model (`essence-2`, `expression-2`) can't be dispatched right now. Both models have been generally available since the July 10, 2026 launch, so this is a rare, temporary operational pause. Rejected before any charge — retry shortly. Adding the v1 models always works."
          }
        }
      }
    },
    "/v1/agent/{code}/model/download": {
      "get": {
        "operationId": "downloadAgentModel",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "# 302 redirect to the artifact — -L follows it, -o names the file\ncurl -L -o \"A17ZTB0222.imx\" \\\n  \"https://api.bithuman.ai/v1/agent/A17ZTB0222/model/download?model=expression-2\" \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\"\n# → A17ZTB0222.imx  (add ?redirect=false for the URL as JSON)\n"
          }
        ],
        "summary": "Download an agent's model artifact",
        "description": "Download the generated model file for an agent you own. The family\ndefaults to the agent's own model; override with `?model=<family>`\n(canonical names, legacy names, and runtime tier slugs all fold onto\ntheir family). Artifact per family:\n\n| family | artifact |\n|---|---|\n| `essence-1` | `<code>.imx` (the portable IMX container) |\n| `essence-2` | `<CODE>.imx` — the standard Essence 2 artifact (unified IMX container; size is per identity — read `Content-Length` rather than assuming a figure; **licensed weights** — renders locally in the CLI, the Python SDK, the Android library and the Swift `Essence2` product, and the first local play checks the license with the cloud, so it needs a sign-in: https://docs.bithuman.ai/platforms/cli/voice#platform-notes). |\n| `expression-2` | `<code>.avatar` — the same container as `.imx` under a second name (a few early identities use an older format; `bithuman open` reports which) — runs locally on macOS (Apple Silicon) and Linux x86_64, or in the browser, and is also served on bitHuman's cloud |\n| `expression-1` | normally not downloadable (the shared v1 engine renders server-side from the agent's image) → `400 MODEL_NOT_DOWNLOADABLE`; an agent that went through the lip step owns a baked `<code>.imx` and is redirected to it like `essence-1` |\n\nThe default response is a **302 redirect** to the artifact — the\npublic URL for `essence-1`, a **1-hour signed URL** on a private\nbucket for the other families — so `curl -L` and browser anchors just\nwork. Pass `?redirect=false` to get the URL as JSON instead.\n\n**Name the file yourself** (`curl -L -o \"<CODE>.imx\"`). The redirect\ntarget does not always send a `Content-Disposition` header — the\npublic `essence-1` URL sends none — so a filename-from-the-header\nflag such as `curl -LOJ` silently falls back to the last path segment\nof the request URL and writes a file called `download`. With\n`?redirect=false` the JSON carries the intended name in `filename`.\n\nThe launchability gate doubles as the download gate: a family the\nagent can't be launched as (missing from `supported_models`) returns\n`409 MODEL_NOT_GENERATED`. A family the agent supports whose artifact\nhasn't been published to the download store yet returns\n`404 MODEL_ARTIFACT_NOT_READY` — the message says when to retry;\n**poll on that code**.\n\n**Every grant is recorded.** A model download costs **0 credits** on\nthe [pricing table](https://docs.bithuman.ai/pricing) — only\nruntime minutes bill — but the grant still writes exactly one usage row\nbefore the URL is issued, under the family's self-hosted pricing code,\nand hands you its id in `X-Bithuman-Meter-Id`. The rows show up in\n`GET /v1/usage` at 0 credits; they are a record of what you fetched,\nnot a charge. The order matters both ways: a meter that refuses\n(`402`) or fails (`500`) returns no URL at all.\n\nThe [bitHuman CLI](https://docs.bithuman.ai/platforms/cli/reference) wraps\nthis endpoint: `bithuman pull <AGENT_CODE>` downloads the artifact,\nrecognizes its model family, and prints what to do next.\n\n**Showcase identities need no credential.** The `essence-2` and\n`expression-2` identities listed by\n[`GET /v1/models/showcase`](#tag/Agent-Management/operation/getShowcaseManifest)\nare served to anonymous callers — same 302, same 1-hour signed URL, and\nthe owner is charged **0 credits**. Every other agent still needs the\n`api-secret` header (or `Authorization: Bearer <api-secret | runtime\ntoken>`) and must be owned by the caller; an anonymous request for one\nanswers `401 MISSING_AUTH`, the same answer an unknown code gets.\n",
        "security": [
          {
            "apiSecret": []
          },
          {}
        ],
        "tags": [
          "Agent Management"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent code. The agent must be owned by the caller (else 404) — except for the showcase identities in `GET /v1/models/showcase`, which are served with no credential.",
            "example": "A17ZTB0222"
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "essence-1",
                "essence-2",
                "expression-2"
              ]
            },
            "description": "Artifact family. Defaults to the agent's own model. The runtime tier slugs (`essence-2-apple`, `essence-2-gpu`, `essence-2-cpu`, `expression-2-gpu`; the older `essence-2-ane` spelling stays accepted) fold onto their family. `essence-2-quality` returns `400`; send `essence-2`. Any other unrecognized value returns the same `400`, listing the downloadable families.",
            "example": "expression-2"
          },
          {
            "name": "member",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Fetch ONE on-device model member instead of the whole container. `essence-2` and `expression-2` publish a browser/Android bundle beside the container — a `web_manifest.json` and the members it lists (`combined_fp32.tflite`, `canon.bin`, ...) — and this serves a single one of them, so a browser or an Android runtime pulls only the files it runs. Same entitlement as the container, same 1-hour signed URL, and the URL honours `Range` (`curl -L -r 0-1023` answers `206`, so OkHttp and browsers resume). Pass `web_manifest.json` first to learn the member names. A member of a **public** agent is served to an anonymous caller, like the browser already serves those agents; every other visibility needs the same credential as the container.",
            "example": "web_manifest.json"
          },
          {
            "name": "plane",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "android",
                "web"
              ]
            },
            "description": "Which member set `?member=` names. `essence-2` publishes two — one for browsers and one for Android — and twelve names appear in both of them, `manifest.json` among them. A browser asking for `manifest.json` and a handset asking for `manifest.json` want different files, so for those twelve the request has to say which set it means. Only meaningful alongside `member=`: the container itself has one form, so `plane=` on its own returns `400 VALIDATION_ERROR`, as does any value not listed above. **You can usually leave it out.** A member that appears in only one of the two sets identifies itself — which is why the Android runtime's first call, `member=android_store.v1.json`, resolves with no `plane=` at all. When a name appears in both and the request says nothing, it resolves to the browser set, so every caller written before this parameter behaves exactly as it did.",
            "example": "android"
          },
          {
            "name": "redirect",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "false",
                "0",
                "no"
              ]
            },
            "description": "Pass `false` to receive the artifact URL as JSON (below) instead of a 302 redirect — for UIs that want to fetch or label first."
          }
        ],
        "responses": {
          "200": {
            "description": "With `?redirect=false` — the artifact URL as JSON.",
            "headers": {
              "X-Bithuman-Meter-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id of the single `activities` row this grant wrote. Every download is metered BEFORE the URL is issued — a model download costs **0 credits** on the published [pricing table](https://docs.bithuman.ai/pricing), and 0 is a price, not a reason to skip the record. The row carries the family's self-hosted pricing code (e.g. `usage_essence_2_model_self_hosted`) and appears in `GET /v1/usage`; quote this id when reconciling one."
              },
              "X-Bithuman-Model": {
                "schema": {
                  "type": "string"
                },
                "description": "The canonical family actually served (`expression-2`, `essence-2`, ...)."
              },
              "X-Bithuman-Model-Source": {
                "schema": {
                  "type": "string"
                },
                "description": "Why this family was chosen — `requested` when `?model=` named it, otherwise the agent's own default. Container arm only."
              },
              "X-Bithuman-Supported-Models": {
                "schema": {
                  "type": "string"
                },
                "description": "Comma-separated list of the other families this agent could have served, in the same public spellings `?model=` accepts — retry with one of them without a second request. Container arm only."
              },
              "X-Bithuman-Model-Member": {
                "schema": {
                  "type": "string"
                },
                "description": "The member name served. `?member=` arm only."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "A17ZTB0222"
                        },
                        "model": {
                          "type": "string",
                          "description": "The resolved canonical family.",
                          "example": "expression-2"
                        },
                        "filename": {
                          "type": "string",
                          "example": "A17ZTB0222.imx"
                        },
                        "url": {
                          "type": "string",
                          "description": "The artifact URL (signed, 1-hour TTL, for the private families)."
                        },
                        "expires_in": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Signed-URL TTL in seconds (3600); `null` for the public essence-1 URL.",
                          "example": 3600
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "302": {
            "description": "Redirect to the artifact — a public URL for `essence-1`, a 1-hour signed URL for the private families. Follow it and name the file yourself (`curl -L -o \"<CODE>.imx\"`); the target does not always send a `Content-Disposition` header.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "The artifact URL."
              },
              "X-Bithuman-Meter-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "The id of the single `activities` row this grant wrote. Every download is metered BEFORE the URL is issued — a model download costs **0 credits** on the published [pricing table](https://docs.bithuman.ai/pricing), and 0 is a price, not a reason to skip the record. The row carries the family's self-hosted pricing code (e.g. `usage_essence_2_model_self_hosted`) and appears in `GET /v1/usage`; quote this id when reconciling one."
              },
              "X-Bithuman-Model": {
                "schema": {
                  "type": "string"
                },
                "description": "The canonical family actually served (`expression-2`, `essence-2`, ...)."
              },
              "X-Bithuman-Model-Source": {
                "schema": {
                  "type": "string"
                },
                "description": "Why this family was chosen — `requested` when `?model=` named it, otherwise the agent's own default. Container arm only."
              },
              "X-Bithuman-Supported-Models": {
                "schema": {
                  "type": "string"
                },
                "description": "Comma-separated list of the other families this agent could have served, in the same public spellings `?model=` accepts — retry with one of them without a second request. Container arm only."
              },
              "X-Bithuman-Model-Member": {
                "schema": {
                  "type": "string"
                },
                "description": "The member name served. `?member=` arm only."
              }
            }
          },
          "400": {
            "description": "`VALIDATION_ERROR` — unknown `model` value (the message lists the downloadable families), or `MODEL_NOT_DOWNLOADABLE` — the family has no per-identity artifact to download (`expression-1` renders server-side from the agent's image)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "`INSUFFICIENT_BALANCE` — the download could not be metered against your account. Every grant writes its usage row BEFORE the URL is issued, so a refused meter returns **no URL at all** rather than an artifact nobody can account for. A download itself costs 0 credits; this is what a suspended or depleted account sees."
          },
          "404": {
            "description": "`NOT_FOUND` — agent unknown or not owned by this account; or `MODEL_ARTIFACT_NOT_READY` — the family is supported but its artifact hasn't been published to the download store yet. The message says when to retry; poll on this code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "MODEL_ARTIFACT_NOT_READY",
                    "message": "agent A17ZTB0222's expression-2 artifact isn't available for download yet: the Mac-runnable build is paced, typically within the hour",
                    "httpStatus": 404
                  },
                  "status": "error",
                  "status_code": 404
                }
              }
            }
          },
          "409": {
            "description": "`MODEL_NOT_GENERATED` — the requested family isn't in the agent's `supported_models` (same gate as embed/session launch), e.g. `agent <code>'s expression-2 model hasn't been generated yet` — create with, or add, that model to generate it."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "`INTERNAL_ERROR` — the artifact could not be resolved, or the usage row could not be written. In both cases **no URL is issued**: a grant we cannot record is not handed out. Safe to retry."
          },
          "503": {
            "description": "`SERVICE_UNAVAILABLE` — the download service briefly lost its connection to storage and could not recover within the request. **No URL is issued and nothing is metered.** Retry after the `Retry-After` delay; the same request then succeeds.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying (currently 2)."
              }
            }
          }
        }
      }
    },
    "/v1/files/upload": {
      "post": {
        "operationId": "uploadFile",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST https://api.bithuman.ai/v1/files/upload \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\" \\\n  -H \"content-type: application/json\" \\\n  -d '{\"file_url\": \"https://example.com/avatar.jpg\", \"file_type\": \"image\"}'\n"
          }
        ],
        "summary": "Upload a file",
        "description": "Upload images, videos, audio, or documents — by public URL or as\nbase64. Files are organized by type, and the type is read from the\nfile's own bytes: `file_type` and the filename extension are both\ncross-checked against them, never trusted over them. The response\nreturns a public URL for the stored file.\n",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Upload by URL",
                    "required": [
                      "file_url"
                    ],
                    "properties": {
                      "file_url": {
                        "type": "string",
                        "description": "Public URL to download the file from.",
                        "example": "https://example.com/avatar.jpg"
                      },
                      "file_type": {
                        "type": "string",
                        "enum": [
                          "auto",
                          "image",
                          "video",
                          "audio",
                          "document",
                          "pdf"
                        ],
                        "default": "auto",
                        "description": "Optional cross-check, not an override — the stored category always comes from the file's own bytes. Give a value and the bytes must agree with it, or the upload is refused with `415`. `document` and `pdf` are the same category. Any other value is refused with `400 VALIDATION_ERROR`; omit it, or send `auto`, to let the bytes decide. The filename here comes from the URL's path, and its extension must be one of the supported ones."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "title": "Upload by base64",
                    "required": [
                      "file_data",
                      "file_name"
                    ],
                    "properties": {
                      "file_data": {
                        "type": "string",
                        "description": "Base64-encoded file data."
                      },
                      "file_name": {
                        "type": "string",
                        "description": "Original filename. The extension is required and must be one of the supported ones (see `415`); a name without one is refused.",
                        "example": "avatar.jpg"
                      },
                      "file_type": {
                        "type": "string",
                        "enum": [
                          "auto",
                          "image",
                          "video",
                          "audio",
                          "document",
                          "pdf"
                        ],
                        "default": "auto",
                        "description": "Optional cross-check, not an override — the stored category always comes from the file's own bytes. Give a value and the bytes must agree with it, or the upload is refused with `415`. `document` and `pdf` are the same category. Any other value is refused with `400 VALIDATION_ERROR`; omit it, or send `auto`, to let the bytes decide."
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "example": "File uploaded successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "file_url": {
                          "type": "string",
                          "description": "Public CDN URL of the uploaded file."
                        },
                        "original_source": {
                          "type": "string",
                          "description": "Original URL or filename."
                        },
                        "file_type": {
                          "type": "string",
                          "description": "Detected file type category."
                        },
                        "file_size": {
                          "type": "integer",
                          "description": "File size in bytes."
                        },
                        "mime_type": {
                          "type": "string",
                          "description": "MIME content type."
                        },
                        "asset_category": {
                          "type": "string",
                          "description": "Storage category (images, videos, audio, docs)."
                        },
                        "uploaded_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of:\n\n- `DOWNLOAD_FAILED` — `file_url` could not be downloaded:\n  unreachable, not publicly readable, or not an ordinary public\n  `http(s)` address.\n- `VALIDATION_ERROR` — `file_data` was not valid base64, both\n  `file_url` and `file_data` were sent, or `file_type` was a value\n  this API does not define. The accepted values are `auto`,\n  `image`, `video`, `audio`, `document` and `pdf`; anything else is\n  refused rather than quietly treated as `auto`, so a typo cannot\n  silently change where your file lands.\n- `MISSING_PARAM` — neither `file_url` nor `file_data` was sent.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "VALIDATION_ERROR",
                    "message": "Invalid file_type 'picture'; must be one of: auto, image, video, audio, document, pdf",
                    "httpStatus": 400
                  },
                  "status": "error",
                  "status_code": 400
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "`FILE_TOO_LARGE` — the file is over the limit for its category:\n**10 MB** images, **100 MB** video, **25 MB** audio and documents.\nThe category is read from the file's own bytes, so the limit that\napplies is the one for what the file actually is.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "FILE_TOO_LARGE",
                    "message": "file is 31 MB; the limit for image is 10 MB",
                    "httpStatus": 413
                  },
                  "status": "error",
                  "status_code": 413
                }
              }
            }
          },
          "415": {
            "description": "`UNSUPPORTED_TYPE` — this API will not store the file. Four things\nraise it:\n\n- **The bytes are not a supported type.** Supported: JPEG, PNG,\n  GIF, WebP, BMP · MP4, MOV, WebM, AVI, WMV, FLV, Matroska ·\n  MP3, WAV, FLAC, AAC, OGG, M4A · PDF, Word, Excel, PowerPoint,\n  RTF and plain text.\n- **The bytes contradict `file_type`.** Sending\n  `file_type: \"image\"` with a text file is refused here rather than\n  stored under the wrong category.\n- **The filename extension is not one of the supported ones.** For\n  a base64 upload that is `file_name`; for a URL upload it is the\n  last path segment of `file_url`. A name with no extension, or\n  one like `.exe` or `.sh`, is refused.\n- **The file would run in a browser.** SVG, HTML and any text\n  carrying a script are refused outright: an uploaded file is\n  served from a public address, and a file that executes there\n  would run as if it came from us.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "UNSUPPORTED_TYPE",
                    "message": "file_type was declared 'image' but the uploaded bytes are text/plain",
                    "httpStatus": 415
                  },
                  "status": "error",
                  "status_code": 415
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "`INTERNAL_ERROR` — the file was accepted but could not be stored. Nothing is kept and nothing is charged; retrying is safe."
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "getMe",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl https://api.bithuman.ai/v1/me \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\"\n"
          }
        ],
        "summary": "Get current account",
        "description": "The canonical account preflight — returns your identity, plan, and live credit balance in one call. Use it to show \"who am I / how many credits\" and to gate features before a billable call.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "plan": {
                          "type": "string",
                          "example": "pro"
                        },
                        "plan_code": {
                          "type": "string",
                          "example": "membership_pro"
                        },
                        "credit_balance": {
                          "type": "integer",
                          "example": 1240,
                          "description": "Total spendable credits = plan + topup + reward."
                        },
                        "plan_credits_remaining": {
                          "type": "integer",
                          "example": 1000
                        },
                        "topup_credits_remaining": {
                          "type": "integer",
                          "example": 240
                        },
                        "account_status": {
                          "type": "string",
                          "example": "active"
                        },
                        "upgrade_url": {
                          "type": "string"
                        },
                        "pricing_url": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "status_code": {
                      "type": "integer",
                      "example": 200
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedByAddress"
          }
        }
      }
    },
    "/v1/models/showcase": {
      "get": {
        "operationId": "getShowcaseManifest",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "# No credential, no account. Every entry is downloadable by anyone.\ncurl -s https://api.bithuman.ai/v1/models/showcase | jq '.models[] | {slug, model, size}'\n"
          },
          {
            "lang": "shell",
            "label": "bitHuman CLI",
            "source": "bithuman list                              # this catalogue, with what is cached\nbithuman pull bolt                         # download one ahead of time\nbithuman render bolt hello.wav -o out.mp4  # or let render download it\n"
          }
        ],
        "summary": "List the freely downloadable showcase models",
        "description": "The catalogue of **Essence 2** and **Expression 2** showcase identities\nwhose model weights anyone may download — no api-secret, no account.\n\nEach entry's `url` is\n[`GET /v1/agent/{code}/model/download`](#tag/Agent-Management/operation/downloadAgentModel),\nwhich answers a **302** to a 1-hour signed URL for anonymous callers\ntoo. The grant is still recorded (one usage row) and costs the agent's\nowner **0 credits** — an anonymous download is free or refused, never\nbilled to the owner.\n\nThe list is generated from the download route's own admission\npredicate, so a code listed here is a code the route serves: an\n`essence-2` or `expression-2` identity that is ready, listed in the\nagent gallery, owns its own artifact, and whose owner has authorised\nanonymous distribution of the weights. Agents that are merely public in\nthe gallery are **not** here — being viewable is a different permission\nfrom the weights being distributable.\n\nThe shape is the bitHuman CLI's manifest v2; `bithuman list` and\n`bithuman pull` read this catalogue.\n\n**Performance.** The reply carries no frame rates.\n`note_performance` maps each family in the catalogue to the\n[performance page](https://docs.bithuman.ai/performance), where the frame rates are\nmeasured and published for every device.\n\n`sha256` is deliberately empty: no content digest is recorded for these\nobjects yet, and the CLI skips verification on an empty value rather\nthan failing. Verify `size` and the file itself (`bithuman open`)\ninstead.\n\nThrottled per IP; the reply is cached for 60 seconds.\n",
        "tags": [
          "Agent Management"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The showcase catalogue.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "integer",
                      "example": 2
                    },
                    "updated": {
                      "type": "string",
                      "example": "2026-09-10"
                    },
                    "source": {
                      "type": "string"
                    },
                    "selection_criteria": {
                      "type": "string"
                    },
                    "note_performance": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "models": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "example": "bolt"
                          },
                          "name": {
                            "type": "string",
                            "example": "Bolt"
                          },
                          "description": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string",
                            "enum": [
                              "essence-2",
                              "expression-2"
                            ]
                          },
                          "agent_code": {
                            "type": "string",
                            "example": "X03BOLT"
                          },
                          "category": {
                            "type": "string"
                          },
                          "is_featured": {
                            "type": "boolean"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://api.bithuman.ai/v1/agent/X03BOLT/model/download?model=expression-2"
                          },
                          "sha256": {
                            "type": "string",
                            "description": "Empty — no digest is published for these objects yet."
                          },
                          "size": {
                            "type": "integer",
                            "example": 198106157
                          },
                          "votes": {
                            "type": "integer"
                          },
                          "image_url": {
                            "type": "string",
                            "description": "The identity's public poster (its thumbnail, else its image) — the picture a gallery card shows. Empty when the identity has neither."
                          },
                          "gender": {
                            "type": "string",
                            "description": "The identity's stored gender (e.g. `feminine`, `masculine`), for matching a voice. Empty when unset."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitedByAddress"
          }
        }
      }
    },
    "/v1/pricing": {
      "get": {
        "operationId": "getPricing",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl https://api.bithuman.ai/v1/pricing \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\"\n"
          }
        ],
        "summary": "Get credit pricing",
        "description": "Machine-readable credit pricing for billable operations, so you can estimate cost before a call. Authoritative charges are always enforced server-side at request time. For forward per-minute realtime estimates based on your current balance, see `GET /v2/credit-summaries` (`minutes_estimate`).",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Pricing retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "unit": {
                          "type": "string",
                          "example": "credits"
                        },
                        "agent_generation": {
                          "type": "object",
                          "description": "Agent creation is priced **per model** — read `by_model` (there is no flat rate). `expression-2` costs 2000 credits; the Essence 2 family costs 500 (`essence-2` is the combined Essence 2 creation — one 500-credit charge covers both models); the v1 families cost 250. `auto` charges the routed model's rate (500 for `essence-2`, 2000 for `expression-2`). Post-generation adds via `POST /v1/agent/{code}/models` charge the same per-model rates (adding `expression-1` is free).",
                          "properties": {
                            "unit": {
                              "type": "string",
                              "example": "credits"
                            },
                            "by_model": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "integer"
                              },
                              "description": "One-time creation cost per canonical `model` value accepted by `POST /v1/agent/generate`. `essence-2-quality` returns a `400`.",
                              "example": {
                                "essence-1": 250,
                                "expression-1": 250,
                                "expression-2": 2000,
                                "essence-2": 500,
                                "auto": 2000
                              }
                            },
                            "note": {
                              "type": "string"
                            }
                          }
                        },
                        "talking_video": {
                          "type": "object",
                          "properties": {
                            "unit": {
                              "type": "string",
                              "example": "credits_per_minute"
                            },
                            "billing": {
                              "type": "string",
                              "example": "ceil(minutes) * rate, minimum 1 minute"
                            },
                            "rates": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "integer"
                              },
                              "example": {
                                "essence-1": 2,
                                "expression-1": 4,
                                "expression-2": 4,
                                "essence-2": 4
                              }
                            }
                          }
                        },
                        "dynamics_generation": {
                          "type": "object",
                          "properties": {
                            "flat": {
                              "type": "integer",
                              "example": 250
                            },
                            "note": {
                              "type": "string"
                            }
                          }
                        },
                        "notes": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v2/credit-summaries": {
      "get": {
        "operationId": "getCreditSummaries",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl https://api.bithuman.ai/v2/credit-summaries \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\"\n"
          }
        ],
        "summary": "Check credit balance",
        "description": "Returns the current credit balance, plan details, and estimated minutes\nremaining for each usage type. Always scoped to the **authenticated\naccount** (the owner of the `api-secret`) — there is no way to look up\nanother user.\n",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "apiSecret": []
          }
        ],
        "parameters": null,
        "responses": {
          "200": {
            "description": "Credit balance retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string",
                          "description": "The authenticated account's UUID."
                        },
                        "balance": {
                          "type": "number",
                          "format": "float",
                          "description": "Sum of plan + topup + reward credits, returned as a float (e.g. 1240.0).",
                          "example": 1240
                        },
                        "plan_credits": {
                          "type": "number",
                          "format": "float"
                        },
                        "topup_credits": {
                          "type": "number",
                          "format": "float"
                        },
                        "minutes_estimate": {
                          "type": "object",
                          "description": "Advisory forward runway: balance divided by each serving mode's credits/min rate. One key per model and hosting mode (essence_2_cloud, essence_2_self_hosted, expression_2_cloud, expression_2_self_hosted, essence_1_cloud, essence_1_self_hosted, expression_1_cloud, expression_1_self_hosted), plus voice_chat and camera_chat for managed agents. The unversioned essence_* / expression_* keys are retained aliases for the FIRST-generation models - they are NOT the Essence 2 rate.",
                          "additionalProperties": {
                            "type": "integer"
                          }
                        },
                        "is_enterprise": {
                          "type": "boolean"
                        },
                        "isEnterprisePlanUser": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/embed-tokens/request": {
      "post": {
        "operationId": "requestEmbedToken",
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST https://api.bithuman.ai/v1/embed-tokens/request \\\n  -H \"api-secret: $BITHUMAN_API_SECRET\" \\\n  -H \"content-type: application/json\" \\\n  -d '{\"agent_id\": \"A23WJF0199\", \"fingerprint\": \"<device-fingerprint>\"}'\n# → data.token is a 1-hour JWT for the embed widget\n"
          }
        ],
        "summary": "Generate embed token",
        "description": "Generate a JWT token for embedding an avatar on a website. Use this from your backend — never expose your API secret in frontend code.",
        "tags": [
          "Embedding"
        ],
        "security": [
          {
            "apiSecret": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agent_id",
                  "fingerprint"
                ],
                "properties": {
                  "agent_id": {
                    "type": "string",
                    "description": "Agent code (e.g. A23WJF0199)",
                    "example": "A23WJF0199"
                  },
                  "fingerprint": {
                    "type": "string",
                    "description": "Stable per-device hex string used for session tracking and per-visitor rate limiting. Required.",
                    "example": "<device-fingerprint>"
                  },
                  "model": {
                    "type": "string",
[...]
