{
  "openapi": "3.1.0",
  "info": {
    "title": "AudD Music Recognition API",
    "version": "1.4.4",
    "description": "The AudD music recognition API identifies songs from short audio clips\n(`api.audd.io/`), large audio/video files (`enterprise.audd.io/`), and\nreal-time audio streams (callback or longpoll based on `api.audd.io/`).\n\nThis OpenAPI document is the canonical contract for the API. Every\nofficial AudD SDK validates its parser against the fixtures shipped\nalongside this spec.\n\nDocumentation: https://docs.audd.io\nGet an api_token: https://dashboard.audd.io\nSupport: api@audd.io\n",
    "contact": {
      "name": "AudD API Support",
      "email": "api@audd.io",
      "url": "https://audd.io"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "x-jentic-source-url": "https://audd.io/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.audd.io",
      "description": "Standard recognition, streams and custom catalog endpoints."
    },
    {
      "url": "https://enterprise.audd.io",
      "description": "Enterprise large-file recognition endpoint."
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "recognize",
        "summary": "Identify a song from an audio clip (the first 12 seconds are analyzed; ≤10 MB).",
        "description": "Standard music recognition. Send a file directly (multipart) or pass\na URL the AudD server downloads.\n\nOnly the first 12 seconds of the audio are analyzed. To recognize music\nbeyond the first 12 seconds of a file, use the enterprise endpoint\n(`POST https://enterprise.audd.io/`), which scans the whole file.\n",
        "tags": [
          "Recognition"
        ],
        "servers": [
          {
            "url": "https://api.audd.io"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "required": [
                  "api_token"
                ],
                "properties": {
                  "api_token": {
                    "type": "string",
                    "description": "From https://dashboard.audd.io."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL of the audio file. One of `url`, `file`, or `audio` is required."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Multipart file upload. One of `url`, `file`, or `audio` is required."
                  },
                  "audio": {
                    "type": "string",
                    "description": "Base64-encoded audio. Discouraged; limited support."
                  },
                  "return": {
                    "type": "string",
                    "description": "Comma-separated metadata identifiers. Valid values:\n`apple_music`, `spotify`, `deezer`, `napster`, `musicbrainz`.\n",
                    "example": "apple_music,spotify"
                  },
                  "market": {
                    "type": "string",
                    "description": "ISO country code for Apple Music / iTunes / Spotify regional results. Default `us`.",
                    "example": "us"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recognition processed. The response is a `success` payload (with\n`result` either populated or null when no match was found) or an\n`error` payload.\n",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RecognizeSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "with_metadata": {
                    "summary": "Public-DB match with apple_music + spotify + musicbrainz return",
                    "value": {
                      "status": "success",
                      "result": {
                        "artist": "Tears For Fears",
                        "title": "Everybody Wants To Rule The World",
                        "album": "Songs From The Big Chair",
                        "release_date": "2014-11-10",
                        "label": "UMC (Universal Music Catalogue)",
                        "timecode": "00:56",
                        "song_link": "https://lis.tn/NbkVb",
                        "apple_music": {
                          "previews": [
                            {
                              "url": "https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview221/v4/2a/c5/8e/2ac58ef1-094d-97f6-3f62-a9f6e7684ccd/mzaf_15145928605517237933.plus.aac.p.m4a"
                            }
                          ],
                          "artwork": {
                            "width": 1500,
                            "height": 1500,
                            "url": "https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/38/97/cb/3897cb85-279f-6698-0158-ad3f73937050/14UMGIM37917.rgb.jpg/{w}x{h}bb.jpg",
                            "bgColor": "090e0e",
                            "textColor1": "edecea",
                            "textColor2": "d1cecf",
                            "textColor3": "c0c0be",
                            "textColor4": "a9a7a8"
                          },
                          "artistName": "Tears for Fears",
                          "url": "https://music.apple.com/us/album/everybody-wants-to-rule-the-world-alternative-single/1440825207?app=music&at=1000l33QU&i=1440826582&mt=1",
                          "discNumber": 4,
                          "genreNames": [
                            "Pop",
                            "Music"
                          ],
                          "durationInMillis": 261013,
                          "releaseDate": "1985-02-17",
                          "name": "Everybody Wants To Rule the World (Alternative Single Version)",
                          "isrc": "GBUM71403885",
                          "albumName": "Songs From the Big Chair (Super Deluxe Version)",
                          "playParams": {
                            "id": "1440826582",
                            "kind": "song"
                          },
                          "trackNumber": 14,
                          "composerName": "Ian Stanley, Roland Orzabal & Christopher Merrick Hughes",
                          "isAppleDigitalMaster": true,
                          "hasLyrics": true
                        },
                        "musicbrainz": [
                          {
                            "id": "14379ff4-5128-4e0f-8d08-1a4e50f53187",
                            "score": 100,
                            "title": "Everybody Wants to Rule the World (alternate single version)",
                            "length": 261022,
                            "disambiguation": "",
                            "video": null,
                            "artist-credit": [
                              {
                                "name": "Tears for Fears",
                                "artist": {
                                  "id": "7c7f9c94-dee8-4903-892b-6cf44652e2de",
                                  "name": "Tears for Fears",
                                  "sort-name": "Tears for Fears"
                                }
                              }
                            ],
                            "releases": [
                              {
                                "id": "8b9c8913-0ebc-42ed-85d5-c426e5abdd6f",
                                "count": 4,
                                "title": "Songs From the Big Chair",
                                "status": "Official",
                                "disambiguation": "super deluxe edition",
                                "date": "",
                                "country": "",
                                "release-events": null,
                                "track-count": 59,
                                "media": [
                                  {
                                    "position": 4,
                                    "format": "Digital Media",
                                    "track": [
                                      {
                                        "id": "faf6d16c-4544-4c5e-a2b1-2766ff5058f0",
                                        "number": "14",
                                        "title": "Everybody Wants to Rule the World (alternative single version)",
                                        "length": 261022
                                      }
                                    ],
                                    "track-count": 14,
                                    "track-offset": 13
                                  }
                                ],
                                "artist-credit": [
                                  {
                                    "name": "Tears for Fears",
                                    "artist": {
                                      "id": "7c7f9c94-dee8-4903-892b-6cf44652e2de",
                                      "name": "Tears for Fears",
                                      "sort-name": "Tears for Fears",
                                      "disambiguation": ""
                                    }
                                  }
                                ],
                                "release-group": {
                                  "id": "475946e9-4b00-3f7c-9bd7-c11f55740262",
                                  "type-id": "f529b476-6e62-324f-b0aa-1f3e33d313fc",
                                  "title": "Songs From the Big Chair",
                                  "primary-type": "Album",
                                  "secondary-types": null
                                }
                              },
                              {
                                "id": "395aa652-774e-42b9-bba3-3051913767d5",
                                "count": 1,
                                "title": "Everybody Wants to Rule the World",
                                "status": "Official",
                                "date": "2025-03-21",
                                "country": "CZ",
                                "release-events": [
                                  {
                                    "date": "2025-03-21",
                                    "area": {
                                      "id": "51d34c28-61bf-3d21-849f-7492672a9d44",
                                      "name": "Czechia",
                                      "sort-name": "Czechia",
                                      "iso-3166-1-codes": [
                                        "CZ"
                                      ]
                                    }
                                  }
                                ],
                                "track-count": 10,
                                "media": [
                                  {
                                    "position": 1,
                                    "format": "Digital Media",
                                    "track": [
                                      {
                                        "id": "884c5660-6248-4940-ad13-c11c19d6444d",
                                        "number": "3",
                                        "title": "Everybody Wants to Rule the World (alternative single version)",
                                        "length": 261022
                                      }
                                    ],
                                    "track-count": 10,
                                    "track-offset": 2
                                  }
                                ],
                                "artist-credit": [
                                  {
                                    "name": "Tears for Fears",
                                    "artist": {
                                      "id": "7c7f9c94-dee8-4903-892b-6cf44652e2de",
                                      "name": "Tears for Fears",
                                      "sort-name": "Tears for Fears",
                                      "disambiguation": ""
                                    }
                                  }
                                ],
                                "release-group": {
                                  "id": "64b89ba1-db07-3569-828d-9d2fa7f955d2",
                                  "type-id": "d6038452-8ee0-3f68-affc-2de9a1ede0b9",
                                  "title": "Everybody Wants to Rule the World",
                                  "primary-type": "Single",
                                  "secondary-types": null
                                }
                              },
                              {
                                "id": "ad82cea0-a56e-4ba0-9ab6-2089fe9d00a0",
                                "count": 6,
                                "title": "Songs From the Big Chair",
                                "status": "Official",
                                "disambiguation": "super deluxe edition",
                                "date": "2014-11-07",
                                "country": "XE",
                                "release-events": [
                                  {
                                    "date": "2014-11-07",
                                    "area": {
                                      "id": "89a675c2-3e37-3518-b83c-418bad59a85a",
                                      "name": "Europe",
                                      "sort-name": "Europe",
                                      "iso-3166-1-codes": [
                                        "XE"
                                      ]
                                    }
                                  }
                                ],
                                "track-count": 102,
                                "media": [
                                  {
                                    "position": 4,
                                    "format": "CD",
                                    "track": [
                                      {
                                        "id": "484ca2ad-0586-4550-8e52-b01f594900f9",
                                        "number": "14",
                                        "title": "Everybody Wants to Rule the World (alternate single version)",
                                        "length": 263013
                                      }
                                    ],
                                    "track-count": 14,
                                    "track-offset": 13
                                  }
                                ],
                                "artist-credit": [
                                  {
                                    "name": "Tears for Fears",
                                    "artist": {
                                      "id": "7c7f9c94-dee8-4903-892b-6cf44652e2de",
                                      "name": "Tears for Fears",
                                      "sort-name": "Tears for Fears",
                                      "disambiguation": ""
                                    }
                                  }
                                ],
                                "release-group": {
                                  "id": "475946e9-4b00-3f7c-9bd7-c11f55740262",
                                  "type-id": "f529b476-6e62-324f-b0aa-1f3e33d313fc",
                                  "title": "Songs From the Big Chair",
                                  "primary-type": "Album",
                                  "secondary-types": null
                                }
                              },
                              {
                                "id": "fc34b623-cff1-40bb-80d7-716d0dfe4c6a",
                                "count": 4,
                                "title": "Songs From the Big Chair",
                                "status": "Official",
                                "disambiguation": "super deluxe version, mastered for iTunes",
                                "date": "2015-03-20",
                                "country": "US",
                                "release-events": [
                                  {
                                    "date": "2015-03-20",
                                    "area": {
                                      "id": "489ce91b-6658-3307-9877-795b68554c98",
                                      "name": "United States",
                                      "sort-name": "United States",
                                      "iso-3166-1-codes": [
                                        "US"
                                      ]
                                    }
                                  }
                                ],
                                "track-count": 59,
                                "media": [
                                  {
                                    "position": 4,
                                    "format": "Digital Media",
                                    "track": [
                                      {
                                        "id": "573f234b-a390-4120-8d08-400b8cdbc2c5",
                                        "number": "14",
                                        "title": "Everybody Wants to Rule the World (alternative single version)",
                                        "length": 261013
                                      }
                                    ],
                                    "track-count": 14,
                                    "track-offset": 13
                                  }
                                ],
                                "artist-credit": [
                                  {
                                    "name": "Tears for Fears",
                                    "artist": {
                                      "id": "7c7f9c94-dee8-4903-892b-6cf44652e2de",
                                      "name": "Tears for Fears",
                                      "sort-name": "Tears for Fears",
                                      "disambiguation": ""
                                    }
                                  }
                                ],
                                "release-group": {
                                  "id": "475946e9-4b00-3f7c-9bd7-c11f55740262",
                                  "type-id": "f529b476-6e62-324f-b0aa-1f3e33d313fc",
                                  "title": "Songs From the Big Chair",
                                  "primary-type": "Album",
                                  "secondary-types": null
                                }
                              }
                            ],
                            "isrcs": [
                              "GBUM71403885"
                            ],
                            "tags": null
                          }
                        ],
                        "spotify": {
                          "album": {
                            "name": "Songs From The Big Chair (Super Deluxe Edition)",
                            "artists": [
                              {
                                "name": "Tears For Fears",
                                "id": "4bthk9UfsYUYdcFyqxmSUU",
                                "uri": "spotify:artist:4bthk9UfsYUYdcFyqxmSUU",
                                "href": "https://api.spotify.com/v1/artists/4bthk9UfsYUYdcFyqxmSUU",
                                "external_urls": {
                                  "spotify": "https://open.spotify.com/artist/4bthk9UfsYUYdcFyqxmSUU"
                                }
                              }
                            ],
                            "album_group": "",
                            "album_type": "compilation",
                            "id": "3myPwaMYjdwhtq0nFgeG6W",
                            "uri": "spotify:album:3myPwaMYjdwhtq0nFgeG6W",
                            "available_markets": [
                              "AR",
                              "AU",
                              "AT",
                              "BE",
                              "BO",
                              "BR",
                              "BG",
                              "CA",
                              "CL",
                              "CO",
                              "CR",
                              "CY",
                              "CZ",
                              "DK",
                              "DO",
                              "DE",
                              "EC",
                              "EE",
                              "SV",
                              "FI",
                              "FR",
                              "GR",
                              "GT",
                              "HN",
                              "HK",
                              "HU",
                              "IS",
                              "IE",
                              "IT",
                              "LV",
                              "LT",
                              "LU",
                              "MY",
                              "MT",
                              "MX",
                              "NL",
                              "NZ",
                              "NI",
                              "NO",
                              "PA",
                              "PY",
                              "PE",
                              "PH",
                              "PL",
                              "PT",
                              "SG",
                              "SK",
                              "ES",
                              "SE",
                              "CH",
                              "TW",
                              "TR",
                              "UY",
                              "US",
                              "GB",
                              "AD",
                              "LI",
                              "MC",
                              "ID",
                              "JP",
                              "TH",
                              "VN",
                              "RO",
                              "IL",
                              "ZA",
                              "SA",
                              "AE",
                              "BH",
                              "QA",
                              "OM",
                              "KW",
                              "EG",
                              "MA",
                              "DZ",
                              "TN",
                              "LB",
                              "JO",
                              "PS",
                              "IN",
                              "BY",
                              "KZ",
                              "MD",
                              "UA",
                              "AL",
                              "BA",
                              "HR",
                              "ME",
                              "MK",
                              "RS",
                              "SI",
                              "KR",
                              "BD",
                              "PK",
                              "LK",
                              "GH",
                              "KE",
                              "NG",
                              "TZ",
                              "UG",
                              "AG",
                              "AM",
                              "BS",
                              "BB",
                              "BZ",
                              "BT",
                              "BW",
                              "BF",
                              "CV",
                              "CW",
                              "DM",
                              "FJ",
                              "GM",
                              "GE",
                              "GD",
                              "GW",
                              "GY",
                              "HT",
                              "JM",
                              "KI",
                              "LS",
                              "LR",
                              "MW",
                              "MV",
                              "ML",
                              "MH",
                              "FM",
                              "NA",
                              "NR",
                              "NE",
                              "PW",
                              "PG",
                              "WS",
                              "SM",
                              "ST",
                              "SN",
                              "SC",
                              "SL",
                              "SB",
                              "KN",
                              "LC",
                              "VC",
                              "SR",
                              "TL",
                              "TO",
                              "TT",
                              "TV",
                              "VU",
                              "AZ",
                              "BN",
                              "BI",
                              "KH",
                              "CM",
                              "TD",
                              "KM",
                              "GQ",
                              "SZ",
                              "GA",
                              "GN",
                              "KG",
                              "LA",
                              "MO",
                              "MR",
                              "MN",
                              "NP",
                              "RW",
                              "TG",
                              "UZ",
                              "ZW",
                              "BJ",
                              "MG",
                              "MU",
                              "MZ",
                              "AO",
                              "CI",
                              "DJ",
                              "ZM",
                              "CD",
                              "CG",
                              "IQ",
                              "LY",
                              "TJ",
                              "VE",
                              "ET",
                              "XK"
                            ],
                            "href": "https://api.spotify.com/v1/albums/3myPwaMYjdwhtq0nFgeG6W",
                            "images": [
                              {
                                "height": 640,
                                "width": 640,
                                "url": "https://i.scdn.co/image/ab67616d0000b27322463d6939fec9e17b2a6235"
                              },
                              {
                                "height": 300,
                                "width": 300,
                                "url": "https://i.scdn.co/image/ab67616d00001e0222463d6939fec9e17b2a6235"
                              },
                              {
                                "height": 64,
                                "width": 64,
                                "url": "https://i.scdn.co/image/ab67616d0000485122463d6939fec9e17b2a6235"
                              }
                            ],
                            "external_urls": {
                              "spotify": "https://open.spotify.com/album/3myPwaMYjdwhtq0nFgeG6W"
                            },
                            "release_date": "1985-02-25",
                            "release_date_precision": "day"
                          },
                          "external_ids": {
                            "isrc": "GBUM71403885"
                          },
                          "popularity": 36,
                          "is_playable": true,
                          "linked_from": null,
                          "artists": [
                            {
                              "name": "Tears For Fears",
                              "id": "4bthk9UfsYUYdcFyqxmSUU",
                              "uri": "spotify:artist:4bthk9UfsYUYdcFyqxmSUU",
                              "href": "https://api.spotify.com/v1/artists/4bthk9UfsYUYdcFyqxmSUU",
                              "external_urls": {
                                "spotify": "https://open.spotify.com/artist/4bthk9UfsYUYdcFyqxmSUU"
                              }
                            }
                          ],
                          "available_markets": [
                            "AR",
                            "AU",
                            "AT",
                            "BE",
                            "BO",
                            "BR",
                            "BG",
                            "CA",
                            "CL",
                            "CO",
                            "CR",
                            "CY",
                            "CZ",
                            "DK",
                            "DO",
                            "DE",
                            "EC",
                            "EE",
                            "SV",
                            "FI",
                            "FR",
                            "GR",
                            "GT",
                            "HN",
                            "HK",
                            "HU",
                            "IS",
                            "IE",
                            "IT",
                            "LV",
                            "LT",
                            "LU",
                            "MY",
                            "MT",
                            "NL",
                            "NZ",
                            "NI",
                            "NO",
                            "PA",
                            "PY",
                            "PE",
                            "PH",
                            "PL",
                            "PT",
                            "SG",
                            "SK",
                            "ES",
                            "SE",
                            "CH",
                            "TW",
                            "TR",
                            "UY",
                            "US",
                            "GB",
                            "AD",
                            "LI",
                            "MC",
                            "ID",
                            "JP",
                            "TH",
                            "VN",
                            "RO",
                            "IL",
                            "ZA",
                            "SA",
                            "AE",
                            "BH",
                            "QA",
                            "OM",
                            "KW",
                            "EG",
                            "MA",
                            "DZ",
                            "TN",
                            "LB",
                            "JO",
                            "PS",
                            "IN",
                            "BY",
                            "KZ",
                            "MD",
                            "UA",
                            "AL",
                            "BA",
                            "HR",
                            "ME",
                            "MK",
                            "RS",
                            "SI",
                            "KR",
                            "BD",
                            "PK",
                            "LK",
                            "GH",
                            "KE",
                            "NG",
                            "TZ",
                            "UG",
                            "AG",
                            "AM",
                            "BS",
                            "BB",
                            "BZ",
                            "BT",
                            "BW",
                            "BF",
                            "CV",
                            "CW",
                            "DM",
                            "FJ",
                            "GM",
                            "GE",
                            "GD",
                            "GW",
                            "GY",
                            "HT",
                            "JM",
                            "KI",
                            "LS",
                            "LR",
                            "MW",
                            "MV",
                            "ML",
                            "MH",
                            "FM",
                            "NA",
                            "NR",
                            "NE",
                            "PW",
                            "PG",
                            "WS",
                            "SM",
                            "ST",
                            "SN",
                            "SC",
                            "SL",
                            "SB",
                            "KN",
                            "LC",
                            "VC",
                            "SR",
                            "TL",
                            "TO",
                            "TT",
                            "TV",
                            "VU",
                            "AZ",
                            "BN",
                            "BI",
                            "KH",
                            "CM",
                            "TD",
                            "KM",
                            "GQ",
                            "SZ",
                            "GA",
                            "GN",
                            "KG",
                            "LA",
                            "MO",
                            "MR",
                            "MN",
                            "NP",
                            "RW",
                            "TG",
                            "UZ",
                            "ZW",
                            "BJ",
                            "MG",
                            "MU",
                            "MZ",
                            "AO",
                            "CI",
                            "DJ",
                            "ZM",
                            "CD",
                            "CG",
                            "IQ",
                            "LY",
                            "TJ",
                            "VE",
                            "ET",
                            "XK"
                          ],
                          "disc_number": 4,
                          "duration_ms": 261022,
                          "explicit": false,
                          "external_urls": {
                            "spotify": "https://open.spotify.com/track/5B9qVIyjqeWkeOAp2tJgqL"
                          },
                          "href": "https://api.spotify.com/v1/tracks/5B9qVIyjqeWkeOAp2tJgqL",
                          "id": "5B9qVIyjqeWkeOAp2tJgqL",
                          "name": "Everybody Wants To Rule The World - Alternative Single Version",
                          "preview_url": "https://p.scdn.co/mp3-preview/940337832c3fb5397834300ddf7738d732d380fb?cid=e44e7b8278114c7db211c00ea273ac69",
                          "track_number": 14,
                          "uri": "spotify:track:5B9qVIyjqeWkeOAp2tJgqL",
                          "type": "track"
                        }
                      }
                    }
                  },
                  "custom_match": {
                    "summary": "Custom-DB match (caller's fingerprint catalog)",
                    "value": {
                      "status": "success",
                      "result": {
                        "timecode": "01:45",
                        "audio_id": 146
                      }
                    }
                  },
                  "error_invalid_token": {
                    "summary": "Error 900 — invalid api_token",
                    "value": {
                      "status": "error",
                      "error": {
                        "error_code": 900,
                        "error_message": "Recognition failed: authorization failed: the provided api_token is incorrect, invalid, or inactive. Please check the status of your account on dashboard.audd.io: it needs to have either a trial or an active subscription."
                      },
                      "request_params": {
                        "api_token": "d***a",
                        "url": "https://audd.tech/example.mp3"
                      },
                      "request_api_method": "recognize",
                      "request_http_method": "POST",
                      "see api documentation": "https://docs.audd.io",
                      "contact us": "api@audd.io"
                    }
                  },
                  "error_no_file": {
                    "summary": "Error 700 — no file or url sent",
                    "value": {
                      "status": "error",
                      "error": {
                        "error_code": 700,
                        "error_message": "Recognition failed: you haven't sent a file via POST or a file URL in the `url` parameter. If you sent the request by POST, please check the protocol you're using: the URL should start with https:// (http:// requests get redirected to https and we don't receive any data from you) and that your Content-Type header equals to `multipart/form-data`."
                      },
                      "request_params": {
                        "api_token": "d***e"
                      },
                      "request_api_method": "recognize",
                      "request_http_method": "POST",
                      "see api documentation": "https://docs.audd.io",
                      "contact us": "api@audd.io"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "recognizeGet",
        "summary": "Same as POST recognize, but with parameters in the query string.",
        "description": "GET form of `/`. Useful for quick tests in a browser; POST is preferred.",
        "tags": [
          "Recognition"
        ],
        "servers": [
          {
            "url": "https://api.audd.io"
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "api_token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "url",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "in": "query",
            "name": "return",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "market",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Same shapes as POST.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RecognizeSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "with_metadata": {
                    "value": {
                      "status": "success",
                      "result": {
                        "artist": "Tears For Fears",
                        "title": "Everybody Wants To Rule The World",
                        "album": "Songs From The Big Chair",
                        "release_date": "2014-11-10",
                        "label": "UMC (Universal Music Catalogue)",
                        "timecode": "00:56",
                        "song_link": "https://lis.tn/NbkVb",
                        "apple_music": {
                          "previews": [
                            {
                              "url": "https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview221/v4/2a/c5/8e/2ac58ef1-094d-97f6-3f62-a9f6e7684ccd/mzaf_15145928605517237933.plus.aac.p.m4a"
                            }
                          ],
                          "artwork": {
                            "width": 1500,
                            "height": 1500,
                            "url": "https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/38/97/cb/3897cb85-279f-6698-0158-ad3f73937050/14UMGIM37917.rgb.jpg/{w}x{h}bb.jpg",
                            "bgColor": "090e0e",
                            "textColor1": "edecea",
                            "textColor2": "d1cecf",
                            "textColor3": "c0c0be",
                            "textColor4": "a9a7a8"
                          },
                          "artistName": "Tears for Fears",
                          "url": "https://music.apple.com/us/album/everybody-wants-to-rule-the-world-alternative-single/1440825207?app=music&at=1000l33QU&i=1440826582&mt=1",
                          "discNumber": 4,
                          "genreNames": [
                            "Pop",
                            "Music"
                          ],
                          "durationInMillis": 261013,
                          "releaseDate": "1985-02-17",
                          "name": "Everybody Wants To Rule the World (Alternative Single Version)",
                          "isrc": "GBUM71403885",
                          "albumName": "Songs From the Big Chair (Super Deluxe Version)",
                          "playParams": {
                            "id": "1440826582",
                            "kind": "song"
                          },
                          "trackNumber": 14,
                          "composerName": "Ian Stanley, Roland Orzabal & Christopher Merrick Hughes",
                          "isAppleDigitalMaster": true,
                          "hasLyrics": true
                        },
                        "musicbrainz": [
                          {
                            "id": "14379ff4-5128-4e0f-8d08-1a4e50f53187",
                            "score": 100,
                            "title": "Everybody Wants to Rule the World (alternate single version)",
                            "length": 261022,
                            "disambiguation": "",
                            "video": null,
                            "artist-credit": [
                              {
                                "name": "Tears for Fears",
                                "artist": {
                                  "id": "7c7f9c94-dee8-4903-892b-6cf44652e2de",
                                  "name": "Tears for Fears",
                                  "sort-name": "Tears for Fears"
                                }
                              }
                            ],
                            "releases": [
                              {
                                "id": "8b9c8913-0ebc-42ed-85d5-c426e5abdd6f",
                                "count": 4,
                                "title": "Songs From the Big Chair",
                                "status": "Official",
                                "disambiguation": "super deluxe edition",
                                "date": "",
                                "country": "",
                                "release-events": null,
                                "track-count": 59,
                                "media": [
                                  {
                                    "position": 4,
                                    "format": "Digital Media",
                                    "track": [
                                      {
                                        "id": "faf6d16c-4544-4c5e-a2b1-2766ff5058f0",
                                        "number": "14",
                                        "title": "Everybody Wants to Rule the World (alternative single version)",
                                        "length": 261022
                                      }
                                    ],
                                    "track-count": 14,
                                    "track-offset": 13
                                  }
                                ],
                                "artist-credit": [
                                  {
                                    "name": "Tears for Fears",
                                    "artist": {
                                      "id": "7c7f9c94-dee8-4903-892b-6cf44652e2de",
                                      "name": "Tears for Fears",
                                      "sort-name": "Tears for Fears",
                                      "disambiguation": ""
                                    }
                                  }
                                ],
                                "release-group": {
                                  "id": "475946e9-4b00-3f7c-9bd7-c11f55740262",
                                  "type-id": "f529b476-6e62-324f-b0aa-1f3e33d313fc",
                                  "title": "Songs From the Big Chair",
                                  "primary-type": "Album",
                                  "secondary-types": null
                                }
                              },
                              {
                                "id": "395aa652-774e-42b9-bba3-3051913767d5",
                                "count": 1,
                                "title": "Everybody Wants to Rule the World",
                                "status": "Official",
                                "date": "2025-03-21",
                                "country": "CZ",
                                "release-events": [
                                  {
                                    "date": "2025-03-21",
                                    "area": {
                                      "id": "51d34c28-61bf-3d21-849f-7492672a9d44",
                                      "name": "Czechia",
                                      "sort-name": "Czechia",
                                      "iso-3166-1-codes": [
                                        "CZ"
                                      ]
                                    }
                                  }
                                ],
                                "track-count": 10,
                                "media": [
                                  {
                                    "position": 1,
                                    "format": "Digital Media",
                                    "track": [
                                      {
                                        "id": "884c5660-6248-4940-ad13-c11c19d6444d",
                                        "number": "3",
                                        "title": "Everybody Wants to Rule the World (alternative single version)",
                                        "length": 261022
                                      }
                                    ],
                                    "track-count": 10,
                                    "track-offset": 2
                                  }
                                ],
                                "artist-credit": [
                                  {
                                    "name": "Tears for Fears",
                                    "artist": {
                                      "id": "7c7f9c94-dee8-4903-892b-6cf44652e2de",
                                      "name": "Tears for Fears",
                                      "sort-name": "Tears for Fears",
                                      "disambiguation": ""
                                    }
                                  }
                                ],
                                "release-group": {
                                  "id": "64b89ba1-db07-3569-828d-9d2fa7f955d2",
                                  "type-id": "d6038452-8ee0-3f68-affc-2de9a1ede0b9",
                                  "title": "Everybody Wants to Rule the World",
                                  "primary-type": "Single",
                                  "secondary-types": null
                                }
                              },
                              {
                                "id": "ad82cea0-a56e-4ba0-9ab6-2089fe9d00a0",
                                "count": 6,
                                "title": "Songs From the Big Chair",
                                "status": "Official",
                                "disambiguation": "super deluxe edition",
                                "date": "2014-11-07",
                                "country": "XE",
                                "release-events": [
                                  {
                                    "date": "2014-11-07",
                                    "area": {
                                      "id": "89a675c2-3e37-3518-b83c-418bad59a85a",
                                      "name": "Europe",
                                      "sort-name": "Europe",
                                      "iso-3166-1-codes": [
                                        "XE"
                                      ]
                                    }
                                  }
                                ],
                                "track-count": 102,
                                "media": [
                                  {
                                    "position": 4,
                                    "format": "CD",
                                    "track": [
                                      {
                                        "id": "484ca2ad-0586-4550-8e52-b01f594900f9",
                                        "number": "14",
                                        "title": "Everybody Wants to Rule the World (alternate single version)",
                                        "length": 263013
                                      }
                                    ],
                                    "track-count": 14,
                                    "track-offset": 13
                                  }
                                ],
                                "artist-credit": [
                                  {
                                    "name": "Tears for Fears",
                                    "artist": {
                                      "id": "7c7f9c94-dee8-4903-892b-6cf44652e2de",
                                      "name": "Tears for Fears",
                                      "sort-name": "Tears for Fears",
                                      "disambiguation": ""
                                    }
                                  }
                                ],
                                "release-group": {
                                  "id": "475946e9-4b00-3f7c-9bd7-c11f55740262",
                                  "type-id": "f529b476-6e62-324f-b0aa-1f3e33d313fc",
                                  "title": "Songs From the Big Chair",
                                  "primary-type": "Album",
                                  "secondary-types": null
                                }
                              },
                              {
                                "id": "fc34b623-cff1-40bb-80d7-716d0dfe4c6a",
                                "count": 4,
                                "title": "Songs From the Big Chair",
                                "status": "Official",
                                "disambiguation": "super deluxe version, mastered for iTunes",
                                "date": "2015-03-20",
                                "country": "US",
                                "release-events": [
                                  {
                                    "date": "2015-03-20",
                                    "area": {
                                      "id": "489ce91b-6658-3307-9877-795b68554c98",
                                      "name": "United States",
                                      "sort-name": "United States",
                                      "iso-3166-1-codes": [
                                        "US"
                                      ]
                                    }
                                  }
                                ],
                                "track-count": 59,
                                "media": [
                                  {
                                    "position": 4,
                                    "format": "Digital Media",
                                    "track": [
                                      {
                                        "id": "573f234b-a390-4120-8d08-400b8cdbc2c5",
                                        "number": "14",
                                        "title": "Everybody Wants to Rule the World (alternative single version)",
                                        "length": 261013
                                      }
                                    ],
                                    "track-count": 14,
                                    "track-offset": 13
                                  }
                                ],
                                "artist-credit": [
                                  {
                                    "name": "Tears for Fears",
                                    "artist": {
                                      "id": "7c7f9c94-dee8-4903-892b-6cf44652e2de",
                                      "name": "Tears for Fears",
                                      "sort-name": "Tears for Fears",
                                      "disambiguation": ""
                                    }
                                  }
                                ],
                                "release-group": {
                                  "id": "475946e9-4b00-3f7c-9bd7-c11f55740262",
                                  "type-id": "f529b476-6e62-324f-b0aa-1f3e33d313fc",
                                  "title": "Songs From the Big Chair",
                                  "primary-type": "Album",
                                  "secondary-types": null
                                }
                              }
                            ],
                            "isrcs": [
                              "GBUM71403885"
                            ],
                            "tags": null
                          }
                        ],
                        "spotify": {
                          "album": {
                            "name": "Songs From The Big Chair (Super Deluxe Edition)",
                            "artists": [
                              {
                                "name": "Tears For Fears",
                                "id": "4bthk9UfsYUYdcFyqxmSUU",
                                "uri": "spotify:artist:4bthk9UfsYUYdcFyqxmSUU",
                                "href": "https://api.spotify.com/v1/artists/4bthk9UfsYUYdcFyqxmSUU",
                                "external_urls": {
                                  "spotify": "https://open.spotify.com/artist/4bthk9UfsYUYdcFyqxmSUU"
                                }
                              }
                            ],
                            "album_group": "",
                            "album_type": "compilation",
                            "id": "3myPwaMYjdwhtq0nFgeG6W",
                            "uri": "spotify:album:3myPwaMYjdwhtq0nFgeG6W",
                            "available_markets": [
                              "AR",
                              "AU",
                              "AT",
                              "BE",
                              "BO",
                              "BR",
                              "BG",
                              "CA",
                              "CL",
                              "CO",
                              "CR",
                              "CY",
                              "CZ",
                              "DK",
                              "DO",
                              "DE",
                              "EC",
                              "EE",
                              "SV",
                              "FI",
                              "FR",
                              "GR",
                              "GT",
                              "HN",
                              "HK",
                              "HU",
                              "IS",
                              "IE",
                              "IT",
                              "LV",
                              "LT",
                              "LU",
                              "MY",
                              "MT",
                              "MX",
                              "NL",
                              "NZ",
                              "NI",
                              "NO",
                              "PA",
                              "PY",
                              "PE",
                              "PH",
                              "PL",
                              "PT",
                              "SG",
                              "SK",
                              "ES",
                              "SE",
                              "CH",
                              "TW",
                              "TR",
                              "UY",
                              "US",
                              "GB",
                              "AD",
                              "LI",
                              "MC",
                              "ID",
                              "JP",
                              "TH",
                              "VN",
                              "RO",
                              "IL",
                              "ZA",
                              "SA",
                              "AE",
                              "BH",
                              "QA",
                              "OM",
                              "KW",
                              "EG",
                              "MA",
                              "DZ",
                              "TN",
                              "LB",
                              "JO",
                              "PS",
                              "IN",
                              "BY",
                              "KZ",
                              "MD",
                              "UA",
                              "AL",
                              "BA",
                              "HR",
                              "ME",
                              "MK",
                              "RS",
                              "SI",
                              "KR",
                              "BD",
                              "PK",
                              "LK",
                              "GH",
                              "KE",
                              "NG",
                              "TZ",
                              "UG",
                              "AG",
                              "AM",
                              "BS",
                              "BB",
                              "BZ",
                              "BT",
                              "BW",
                              "BF",
                              "CV",
                              "CW",
                              "DM",
                              "FJ",
                              "GM",
                              "GE",
                              "GD",
                              "GW",
                              "GY",
                              "HT",
                              "JM",
                              "KI",
                              "LS",
                              "LR",
                              "MW",
                              "MV",
                              "ML",
                              "MH",
                              "FM",
                              "NA",
                              "NR",
                              "NE",
                              "PW",
                              "PG",
                              "WS",
                              "SM",
                              "ST",
                              "SN",
                              "SC",
                              "SL",
                              "SB",
                              "KN",
                              "LC",
                              "VC",
                              "SR",
                              "TL",
                              "TO",
                              "TT",
                              "TV",
                              "VU",
                              "AZ",
                              "BN",
                              "BI",
                              "KH",
                              "CM",
                              "TD",
                              "KM",
                              "GQ",
                              "SZ",
                              "GA",
                              "GN",
                              "KG",
                              "LA",
                              "MO",
                              "MR",
                              "MN",
                              "NP",
                              "RW",
                              "TG",
                              "UZ",
                              "ZW",
                              "BJ",
                              "MG",
                              "MU",
                              "MZ",
                              "AO",
                              "CI",
                              "DJ",
                              "ZM",
                              "CD",
                              "CG",
                              "IQ",
                              "LY",
                              "TJ",
                              "VE",
                              "ET",
                              "XK"
                            ],
                            "href": "https://api.spotify.com/v1/albums/3myPwaMYjdwhtq0nFgeG6W",
                            "images": [
                              {
                                "height": 640,
                                "width": 640,
                                "url": "https://i.scdn.co/image/ab67616d0000b27322463d6939fec9e17b2a6235"
                              },
                              {
                                "height": 300,
                                "width": 300,
                                "url": "https://i.scdn.co/image/ab67616d00001e0222463d6939fec9e17b2a6235"
                              },
                              {
                                "height": 64,
                                "width": 64,
                                "url": "https://i.scdn.co/image/ab67616d0000485122463d6939fec9e17b2a6235"
                              }
                            ],
                            "external_urls": {
                              "spotify": "https://open.spotify.com/album/3myPwaMYjdwhtq0nFgeG6W"
                            },
                            "release_date": "1985-02-25",
                            "release_date_precision": "day"
                          },
                          "external_ids": {
                            "isrc": "GBUM71403885"
                          },
                          "popularity": 36,
                          "is_playable": true,
                          "linked_from": null,
                          "artists": [
                            {
                              "name": "Tears For Fears",
                              "id": "4bthk9UfsYUYdcFyqxmSUU",
                              "uri": "spotify:artist:4bthk9UfsYUYdcFyqxmSUU",
                              "href": "https://api.spotify.com/v1/artists/4bthk9UfsYUYdcFyqxmSUU",
                              "external_urls": {
                                "spotify": "https://open.spotify.com/artist/4bthk9UfsYUYdcFyqxmSUU"
                              }
                            }
                          ],
                          "available_markets": [
                            "AR",
                            "AU",
                            "AT",
                            "BE",
                            "BO",
                            "BR",
                            "BG",
                            "CA",
                            "CL",
                            "CO",
                            "CR",
                            "CY",
                            "CZ",
                            "DK",
                            "DO",
                            "DE",
                            "EC",
                            "EE",
                            "SV",
                            "FI",
                            "FR",
                            "GR",
                            "GT",
                            "HN",
                            "HK",
                            "HU",
                            "IS",
                            "IE",
                            "IT",
                            "LV",
                            "LT",
                            "LU",
                            "MY",
                            "MT",
                            "NL",
                            "NZ",
                            "NI",
                            "NO",
                            "PA",
                            "PY",
                            "PE",
                            "PH",
                            "PL",
                            "PT",
                            "SG",
                            "SK",
                            "ES",
                            "SE",
                            "CH",
                            "TW",
                            "TR",
                            "UY",
                            "US",
                            "GB",
                            "AD",
                            "LI",
                            "MC",
                            "ID",
                            "JP",
                            "TH",
                            "VN",
                            "RO",
                            "IL",
                            "ZA",
                            "SA",
                            "AE",
                            "BH",
                            "QA",
                            "OM",
                            "KW",
                            "EG",
                            "MA",
                            "DZ",
                            "TN",
                            "LB",
                            "JO",
                            "PS",
                            "IN",
                            "BY",
                            "KZ",
                            "MD",
                            "UA",
                            "AL",
                            "BA",
                            "HR",
                            "ME",
                            "MK",
                            "RS",
                            "SI",
                            "KR",
                            "BD",
                            "PK",
                            "LK",
                            "GH",
                            "KE",
                            "NG",
                            "TZ",
                            "UG",
                            "AG",
                            "AM",
                            "BS",
                            "BB",
                            "BZ",
                            "BT",
                            "BW",
                            "BF",
                            "CV",
                            "CW",
                            "DM",
                            "FJ",
                            "GM",
                            "GE",
                            "GD",
                            "GW",
                            "GY",
                            "HT",
                            "JM",
                            "KI",
                            "LS",
                            "LR",
                            "MW",
                            "MV",
                            "ML",
                            "MH",
                            "FM",
                            "NA",
                            "NR",
                            "NE",
                            "PW",
                            "PG",
                            "WS",
                            "SM",
                            "ST",
                            "SN",
                            "SC",
                            "SL",
                            "SB",
                            "KN",
                            "LC",
                            "VC",
                            "SR",
                            "TL",
                            "TO",
                            "TT",
                            "TV",
                            "VU",
                            "AZ",
                            "BN",
                            "BI",
                            "KH",
                            "CM",
                            "TD",
                            "KM",
                            "GQ",
                            "SZ",
                            "GA",
                            "GN",
                            "KG",
                            "LA",
                            "MO",
                            "MR",
                            "MN",
                            "NP",
                            "RW",
                            "TG",
                            "UZ",
                            "ZW",
                            "BJ",
                            "MG",
                            "MU",
                            "MZ",
                            "AO",
                            "CI",
                            "DJ",
                            "ZM",
                            "CD",
                            "CG",
                            "IQ",
                            "LY",
                            "TJ",
                            "VE",
                            "ET",
                            "XK"
                          ],
                          "disc_number": 4,
                          "duration_ms": 261022,
                          "explicit": false,
                          "external_urls": {
                            "spotify": "https://open.spotify.com/track/5B9qVIyjqeWkeOAp2tJgqL"
                          },
                          "href": "https://api.spotify.com/v1/tracks/5B9qVIyjqeWkeOAp2tJgqL",
                          "id": "5B9qVIyjqeWkeOAp2tJgqL",
                          "name": "Everybody Wants To Rule The World - Alternative Single Version",
                          "preview_url": "https://p.scdn.co/mp3-preview/940337832c3fb5397834300ddf7738d732d380fb?cid=e44e7b8278114c7db211c00ea273ac69",
                          "track_number": 14,
                          "uri": "spotify:track:5B9qVIyjqeWkeOAp2tJgqL",
                          "type": "track"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/setCallbackUrl/": {
      "post": {
        "operationId": "setCallbackUrl",
        "summary": "Configure where AudD POSTs stream-recognition callbacks.",
        "tags": [
          "Streams"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "required": [
                  "api_token",
                  "url"
                ],
                "properties": {
                  "api_token": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Where AudD POSTs callbacks. Set to `https://audd.tech/empty/`\nif you only want longpoll. The URL itself can carry a\n`?return=apple_music,deezer` parameter to receive that\nmetadata in callbacks.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Callback URL set or rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StreamMutationSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Standard mutation-success response",
                    "value": {
                      "status": "success",
                      "result": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getCallbackUrl/": {
      "post": {
        "operationId": "getCallbackUrl",
        "summary": "Get the configured callback URL.",
        "tags": [
          "Streams"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "required": [
                  "api_token"
                ],
                "properties": {
                  "api_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the URL or — when no callback URL has ever been\nconfigured — error code 19 with message \"Internal error\".\n**The SDK uses this signal to short-circuit longpoll setup.**\n",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GetCallbackUrlSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "no_callback_configured": {
                    "value": {
                      "status": "error",
                      "error": {
                        "error_code": 19,
                        "error_message": "Getting the URL for callbacks failed: Internal error."
                      },
                      "request_params": {
                        "api_token": "d***e"
                      },
                      "request_api_method": "getCallbackUrl",
                      "request_http_method": "POST",
                      "see api documentation": "https://docs.audd.io",
                      "contact us": "api@audd.io"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addStream/": {
      "post": {
        "operationId": "addStream",
        "summary": "Add a stream for live recognition.",
        "tags": [
          "Streams"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "required": [
                  "api_token",
                  "url",
                  "radio_id"
                ],
                "properties": {
                  "api_token": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "description": "Stream URL — direct (DASH/Icecast/HLS/m3u/m3u8) or shortcut\n(`twitch:<channel>`, `youtube:<video_id>`, `youtube-ch:<channel_id>`).\n"
                  },
                  "radio_id": {
                    "type": "integer",
                    "description": "Caller-supplied identifier; must be unique per account."
                  },
                  "callbacks": {
                    "type": "string",
                    "enum": [
                      "before"
                    ],
                    "description": "Set to `before` to receive callbacks at song start.\nDefault is callbacks at song end (with total play length).\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stream added or rejected (e.g.,",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StreamMutationSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "error_slots_exhausted": {
                    "value": {
                      "status": "error",
                      "error": {
                        "error_code": 902,
                        "error_message": "Adding a stream stream failed: authorization failed: the limit was reached. (Please check if you have an active subscription for music recognition for audio streams on https://dashboard.audd.io/ or contact us to try it for free: api@audd.io)"
                      },
                      "request_params": {
                        "radio_id": "999001",
                        "api_token": "d***e",
                        "url": "https://npr-ice.streamguys1.com/live.mp3"
                      },
                      "request_api_method": "addStream",
                      "request_http_method": "POST",
                      "see api documentation": "https://docs.audd.io",
                      "contact us": "api@audd.io"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getStreams/": {
      "post": {
        "operationId": "getStreams",
        "summary": "List configured streams.",
        "tags": [
          "Streams"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "required": [
                  "api_token"
                ],
                "properties": {
                  "api_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the array of configured streams (may be empty).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GetStreamsSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "empty": {
                    "value": {
                      "status": "success",
                      "result": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/setStreamUrl/": {
      "post": {
        "operationId": "setStreamUrl",
        "summary": "Update an existing stream's URL.",
        "tags": [
          "Streams"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "required": [
                  "api_token",
                  "radio_id",
                  "url"
                ],
                "properties": {
                  "api_token": {
                    "type": "string"
                  },
                  "radio_id": {
                    "type": "integer"
                  },
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stream URL updated or rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StreamMutationSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Standard mutation-success response",
                    "value": {
                      "status": "success",
                      "result": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteStream/": {
      "post": {
        "operationId": "deleteStream",
        "summary": "Delete a stream.",
        "tags": [
          "Streams"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "required": [
                  "api_token",
                  "radio_id"
                ],
                "properties": {
                  "api_token": {
                    "type": "string"
                  },
                  "radio_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stream deleted or rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StreamMutationSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Standard mutation-success response",
                    "value": {
                      "status": "success",
                      "result": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/upload/": {
      "post": {
        "operationId": "customCatalogAdd",
        "summary": "Add a song to the caller's private fingerprint catalog (NOT for music recognition).",
        "description": "⚠ **This is NOT how you submit audio for music recognition.** For\nrecognition, use `POST /` (or `POST enterprise.audd.io/` to scan\nbeyond the first 12 seconds of a file). This endpoint adds a song to the caller's\nprivate fingerprint catalog so AudD can later identify it for the\ncaller's account only.\n\nRequires special access — contact api@audd.io to enable.\n\nCalling `upload` again with the same `audio_id` re-fingerprints that\nslot. There is no public list/delete endpoint; callers track\n`audio_id` ↔ song mappings on their side.\n",
        "tags": [
          "Custom catalog"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "required": [
                  "api_token",
                  "audio_id"
                ],
                "properties": {
                  "api_token": {
                    "type": "string"
                  },
                  "audio_id": {
                    "type": "integer",
                    "description": "Caller-supplied identifier returned alongside future\nrecognition results when this song is matched.\n"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "One of `url` or `file` is required."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catalog updated, or 904 if the caller's token doesn't have access.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CustomCatalogUploadSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Custom catalog updated",
                    "value": {
                      "status": "success",
                      "result": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/longpoll/": {
      "get": {
        "operationId": "longpoll",
        "summary": "Long-poll for new recognition events on a category.",
        "description": "Long-polls for new recognition events. The category can be derived\nlocally from the api_token + radio_id, or read from the\n`longpoll_category` field of `getStreams`.\n\n**Important DX caveat:** when no callback URL is configured for the\naccount (which the server signals via error #19 from `getCallbackUrl`),\nlongpoll silently returns timeout responses forever — events never\nfire. Every official SDK preflights `getCallbackUrl` and raises a\ndescriptive error if no callback URL is set. The check is bypassable\nvia a `skip_callback_check` flag.\n",
        "tags": [
          "Streams"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "category",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "9-char longpoll category — `longpoll_category` from `getStreams` or MD5(MD5(api_token)+str(radio_id))[:9]."
          },
          {
            "in": "query",
            "name": "timeout",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 90
            },
            "description": "Seconds to wait for events before returning the timeout response."
          },
          {
            "in": "query",
            "name": "since_time",
            "schema": {
              "type": "integer"
            },
            "description": "Server timestamp (ms) returned in the previous response — used to deduplicate events."
          }
        ],
        "responses": {
          "200": {
            "description": "Either a timeout response (no events) or an event response (one\nor more new recognitions/notifications).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LongpollResponse"
                },
                "examples": {
                  "timeout": {
                    "value": {
                      "timeout": "no events before timeout",
                      "timestamp": 1777901270049
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/enterprise/": {
      "post": {
        "operationId": "recognizeEnterprise",
        "summary": "Recognize music in large audio/video files (hours- or days-long).",
        "description": "Enterprise endpoint. Send an HTTPS URL or a multipart file (streamed,\nno in-memory buffering needed). The endpoint chunks the audio into\n12-second segments and counts each scanned chunk as 1 request.\n\nSDKs default to a 1-hour read timeout for this endpoint and enable TCP\nkeepalive on the transport.\n",
        "tags": [
          "Recognition"
        ],
        "servers": [
          {
            "url": "https://enterprise.audd.io"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "required": [
                  "api_token"
                ],
                "properties": {
                  "api_token": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "return": {
                    "type": "string",
                    "description": "Comma-separated metadata identifiers. Same as the standard\nendpoint — but **Spotify is NOT supported** on enterprise.\n"
                  },
                  "accurate_offsets": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "When 'true', return per-match start/end offsets within each 12-second chunk."
                  },
                  "skip": {
                    "type": "integer",
                    "description": "Number of 12-second chunks to skip after each scanned chunk."
                  },
                  "every": {
                    "type": "integer",
                    "description": "Number of consecutive chunks to scan."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Upper bound on the number of chunks to recognize. **Always\nset this in dev/test environments to control cost.**\n"
                  },
                  "skip_first_seconds": {
                    "type": "integer"
                  },
                  "use_timecode": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "When 'true', use the `t`/`time_continue`/`start` URL parameter\nof the source URL as `skip_first_seconds`. Mutually exclusive\nwith `skip_first_seconds`.\n"
                  },
                  "response_type": {
                    "type": "string",
                    "enum": [
                      "json",
                      "csv"
                    ],
                    "description": "Output format. Default json."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recognition processed. JSON or CSV depending on `response_type`.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EnterpriseSuccessResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "success_with_isrc_upc": {
                    "value": {
                      "status": "success",
                      "result": [
                        {
                          "songs": [
                            {
                              "score": 81,
                              "artist": "Tears For Fears",
                              "title": "Everybody Wants To Rule The World",
                              "album": "Songs From The Big Chair",
                              "release_date": "2014-11-10",
                              "label": "UMC (Universal Music Catalogue)",
                              "timecode": "00:57",
                              "isrc": "GBUM71403885",
                              "upc": "00602547037169",
                              "song_link": "https://lis.tn/NbkVb"
                            }
                          ],
                          "offset": "00:00"
                        }
                      ],
                      "execution_time": "159.226763ms"
                    }
                  },
                  "error_unauthorized": {
                    "value": {
                      "status": "error",
                      "error": {
                        "error_code": 904,
                        "error_message": "Music Recognition by URL on our enterprise endpoint is only available to paid users. If you're currently subscribed to one of our plans, please double-check the api_token parameter.Otherwise, please send a file by POST instead of the file URL or subscribe to one of our plans."
                      },
                      "requested_params": {
                        "url": "https://audd.tech/example.mp3",
                        "limit": "1",
                        "method": "recognize"
                      },
                      "see api documentation": "https://docs.audd.io",
                      "contact us": "api@audd.io",
                      "execution_time": "1.461903ms"
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "CSV when `response_type=csv`."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_token_form": {
        "type": "apiKey",
        "in": "header",
        "name": "api_token",
        "description": "AudD authentication uses the `api_token` parameter sent either as a\nmultipart/form-data field (POST) or as a query parameter (GET/POST).\nOpenAPI 3.1 has no first-class scheme for \"auth in request body\"; this\nentry documents the parameter for code generators that recognize it.\n"
      },
      "api_token_query": {
        "type": "apiKey",
        "in": "query",
        "name": "api_token",
        "description": "api_token sent as a query parameter (works on every endpoint)."
      }
    },
    "schemas": {
      "RecognitionResult": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "timecode"
        ],
        "description": "A single recognition result. Shape varies by which catalog matched:\n\n* Public-DB match — fields like `artist`, `title`, `album`,\n  `release_date`, `label`, `song_link` are populated; `audio_id` is\n  absent.\n* Custom-DB match (caller's private fingerprint catalog) — only\n  `timecode` and `audio_id` are populated; the public-DB fields are\n  absent.\n\nThe SDK exposes `is_custom_match` / `is_public_match` discriminator\nhelpers and a `thumbnail_url` helper that returns\n`{song_link}?thumb` only when the host of `song_link` is `lis.tn`.\n",
        "properties": {
          "timecode": {
            "type": "string",
            "pattern": "^\\d{2}:\\d{2}$",
            "description": "Position in the recognized song (MM:SS) at which the matched fragment plays."
          },
          "audio_id": {
            "type": "integer",
            "description": "Custom-DB match identifier. Mutually exclusive with the public-DB fields in practice."
          },
          "artist": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "album": {
            "type": "string"
          },
          "release_date": {
            "type": "string",
            "description": "Date in YYYY-MM-DD format."
          },
          "label": {
            "type": "string"
          },
          "song_link": {
            "type": "string",
            "format": "uri",
            "description": "Canonical AudD link to the song page. For lis.tn-hosted links,\nappending `?thumb` returns the cover-art image.\n"
          },
          "apple_music": {
            "$ref": "#/components/schemas/AppleMusicMetadata"
          },
          "spotify": {
            "$ref": "#/components/schemas/SpotifyMetadata"
[...]
