{
  "openapi": "3.1.0",
  "info": {
    "title": "Argorant API",
    "version": "1.0.0",
    "summary": "Argorant is a complete B2B outreach platform that a script or an AI agent can run from start to finish: find the right people, get their checked work emails and phone numbers, find one email from a name and a company domain, check your own lists, run campaigns with a personal line for each contact, answer replies in the same thread, and order new sending mailboxes on new domains.",
    "description": "Argorant is a complete B2B outreach platform that a script or an AI agent can run from start to finish. Find the companies and people that fit your offer among 626.5M+ contacts in 202 countries. Get their work emails, checked right before you receive them, and their phone numbers. Find one person's email from a name and a company domain. Check the emails on your own lists. Write a campaign with a personal line for every contact, send it from your own Google Workspace or Microsoft 365 mailboxes or from new mailboxes we set up on new domains for you, and answer the replies in the same thread.\n\nThe REST API, the command line tool (`npx argorant`) and the MCP server for AI agents (`https://mcp.argorant.com/mcp`) share one account, one credit balance and the same rules, so anything you do here works the same in a script, a pipeline or a chat with Claude, ChatGPT or Codex.\n\n**The cheapest way to get validated contacts.** Argorant is the cheapest way to get validated B2B contacts. With pay as you go, 100,000 credits cost $499, which is under half a cent per validated contact. On Hyperscale, 200,000 credits a month cost $649, about a third of a cent each. An email that fails the check costs nothing. Compare the prices on [our comparison pages](https://argorant.com/compare), for example against [ZoomInfo](https://argorant.com/compare/zoominfo-vs-argorant), [Cognism](https://argorant.com/compare/cognism-vs-argorant), [Hunter](https://argorant.com/compare/hunter-vs-argorant) and [LeadIQ](https://argorant.com/compare/leadiq-vs-argorant).\n\n**What it costs.** Searching, counting and previewing are free. One credit buys one validated contact; an email that does not pass the check is left out and costs nothing. Checking an email from your own list costs half a credit. A phone number costs 10 credits and only when one is returned. Finding one email costs 1 credit when found and 0.25 when nothing is found. Campaign emails come with your plan and never use credits. Pay as you go from $17.50 for 500 credits to $499 for 100,000, or pick a plan from $99 a month.\n\n**How to start.** Create an API key at app.argorant.com/profile and send it as `Authorization: Bearer <key>`. Call `GET /api/v1/account` to see your plan, credits and limits. Every answer carries an `X-Request-Id`; every error has the same shape with a stable `error.code`.\n\n**Limits.** Each key may send a set number of requests a minute: Starter $99 a month (5,000 credits, 100,000 campaign emails, 60 requests a minute); Pro $249 a month (25,000 credits, 300,000 campaign emails, 240 requests a minute); Scale $449 a month (100,000 credits, 600,000 campaign emails, 600 requests a minute); Hyperscale $649 a month (200,000 credits, 1,000,000 campaign emails, 1200 requests a minute). The 14-day trial and pay-as-you-go accounts get 30 a minute (60 through an AI assistant). On a plan there are no daily limits apart from the email finder. During the trial the account has daily limits that reset at midnight UTC: 500 counts and 500 preview rows (1000 and 1000 through an AI assistant), and each key 100 revealed people and 50,000 export rows. For bigger numbers use saved lists, exports and campaigns. Pay-as-you-go packs: 500 credits for $17.50, 5,000 credits for $69, 25,000 credits for $199, 100,000 credits for $499, valid 365 days.\n\n**Errors.** Every error has the same shape: `{\"error\": {\"code\", \"message\", \"details\"}, \"request_id\", \"detail\"}`. The code is stable; the message is a plain sentence. Every answer carries `X-Request-Id`, and answers to key calls carry `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset`.\n\n**Retries and pages.** Send an `Idempotency-Key` header on any write and a retry within 24 hours returns the first answer instead of doing the work twice. Lists take `limit` and `cursor` (or `offset`) and answer with `total`, `next_cursor` and `has_more`.",
    "contact": {
      "name": "Argorant support",
      "url": "https://help.argorant.com"
    },
    "termsOfService": "https://argorant.com/terms",
    "x-jentic-source-url": "https://docs.argorant.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://app.argorant.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "api-index",
        "summary": "API index",
        "description": "The name and version of the API, links to these docs and the OpenAPI document, and every public operation as method and path. Works without a key, so an agent can find its way around before it signs in.\n\n| Cost | What it does | Key scopes |\n| --- | --- | --- |\n| Free | Reads only | none |",
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "docs": {
                      "type": "string"
                    },
                    "openapi": {
                      "type": "string"
                    },
                    "authentication": {
                      "type": "string"
                    },
                    "operations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "operation_count": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "name": "Argorant API",
                  "version": "1",
                  "docs": "https://docs.argorant.com",
                  "openapi": "https://docs.argorant.com/openapi.json",
                  "authentication": "Send your API key as Authorization: Bearer <key>. Create one at https://app.argorant.com/profile.",
                  "operations": [
                    {
                      "method": "GET",
                      "path": "/api/v1/account"
                    },
                    {
                      "method": "GET",
                      "path": "/api/v1/people/count"
                    }
                  ],
                  "operation_count": 2
                }
              }
            }
          },
          "429": {
            "description": "429 Too many requests. `rate_limited` when too many requests this minute.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited (too many requests this minute)",
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests this minute.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Too many requests this minute."
                    }
                  }
                }
              }
            }
          }
        },
        "x-cost": "Free",
        "x-side-effect": "none",
        "x-scopes": [],
        "x-idempotent": false,
        "x-paginated": false,
        "security": []
      }
    },
    "/api/v1/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "get-me",
        "summary": "Who am I",
        "description": "The account this key acts as, its workspace and your role in that workspace (owner, admin, manager or member).\n\n| Cost | What it does | Key scopes |\n| --- | --- | --- |\n| Free | Reads only | none |",
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string"
                    },
                    "workspace_role": {
                      "type": "string"
                    },
                    "workspace_name": {
                      "type": "string"
                    },
                    "workspace_id": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "email": "maria@northgate-advisory.com",
                  "workspace_role": "owner",
                  "workspace_name": "Northgate Advisory",
                  "workspace_id": 1042
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized. `unauthorized` when the API key is missing, wrong or revoked.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized (the API key is missing, wrong or revoked)",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The API key is missing, wrong or revoked.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The API key is missing, wrong or revoked."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429 Too many requests. `rate_limited` when too many requests this minute.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited (too many requests this minute)",
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests this minute.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Too many requests this minute."
                    }
                  }
                }
              }
            }
          }
        },
        "x-cost": "Free",
        "x-side-effect": "none",
        "x-scopes": [],
        "x-idempotent": false,
        "x-paginated": false
      }
    },
    "/api/v1/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "get-account",
        "summary": "Account, credits and limits",
        "description": "Everything an agent should know before it spends: the plan, the credits available now and where they come from, this month's campaign email allowance, the requests per minute and per 10 seconds this key may send, the searches and counts a minute the account may run (shared by all its keys) and, during the trial, a day, the other daily limits per key, and the key's scopes. Call it before a large reveal, export or campaign.\n\n| Cost | What it does | Key scopes |\n| --- | --- | --- |\n| Free | Reads only | none |",
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                },
                "example": {
                  "email": "maria@northgate-advisory.com",
                  "workspace": {
                    "id": 1042,
                    "name": "Northgate Advisory",
                    "role": "owner"
                  },
                  "plan": {
                    "name": "Pro",
                    "status": "active",
                    "billing_interval": "month",
                    "renews_at": "2026-11-01T00:00:00+00:00",
                    "cancels_at_period_end": false
                  },
                  "credits": {
                    "available": 23140,
                    "from_plan": 22140,
                    "pay_as_you_go": 1000,
                    "free": 0,
                    "rules": "1 credit per validated contact (invalid ones cost nothing), 0.5 credit per email check, 10 credits per phone number returned."
                  },
                  "limits": {
                    "requests_per_minute": 240,
                    "burst_per_10_seconds": 60,
                    "searches_and_counts_per_minute": 60,
                    "daily": {
                      "counts": {
                        "limit": null,
                        "used_today": 12,
                        "remaining_today": null
                      },
                      "search_rows": {
                        "limit": null,
                        "used_today": 30,
                        "remaining_today": null
                      },
                      "reveals": {
                        "limit": 100,
                        "used_today": 0,
                        "remaining_today": 100
                      },
                      "export_rows": {
                        "limit": 50000,
                        "used_today": 500,
                        "remaining_today": 49500
                      },
                      "email_finds": {
                        "limit": 2000,
                        "used_today": 4,
                        "remaining_today": 1996
                      },
                      "email_checks": {
                        "limit": 200,
                        "used_today": 0,
                        "remaining_today": 200
                      }
                    },
                    "per_call": {
                      "search_rows": 10,
                      "reveals": 25
                    },
                    "resets": "daily limits reset at midnight UTC; the per-minute window every minute; the burst window every 10 seconds",
                    "shared": "counts, search rows and searches a minute are shared by every key of the account; requests a minute and the other daily limits are per key"
                  },
                  "scopes": [
                    "argorant:read_counts",
                    "argorant:search_segments",
                    "argorant:manage_lists",
                    "argorant:create_exports",
                    "argorant:unlock_contacts",
                    "argorant:verify_emails"
                  ],
                  "campaign_emails": {
                    "unlimited": false,
                    "allowance": 300000,
                    "used": 41210,
                    "remaining": 258790,
                    "period": "month",
                    "resets_on": "2026-11-01"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized. `unauthorized` when the API key is missing, wrong or revoked.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized (the API key is missing, wrong or revoked)",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The API key is missing, wrong or revoked.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The API key is missing, wrong or revoked."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429 Too many requests. `rate_limited` when too many requests this minute.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited (too many requests this minute)",
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests this minute.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Too many requests this minute."
                    }
                  }
                }
              }
            }
          }
        },
        "x-cost": "Free",
        "x-side-effect": "none",
        "x-scopes": [],
        "x-idempotent": false,
        "x-paginated": false
      }
    },
    "/api/v1/credits/packs": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "list-credit-packs",
        "summary": "Credit packs and prices",
        "description": "The four pay-as-you-go packs with their prices: 500 credits for $17.50, 5,000 for $69, 25,000 for $199 and 100,000 for $499 (or the euro prices). Pack credits are paid once, stay valid for 365 days and stay in the account if a plan is cancelled. One credit is one contact, half a credit one email check, 10 credits one phone number.\n\n| Cost | What it does | Key scopes |\n| --- | --- | --- |\n| Free | Reads only | none |",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "usd (default) or eur.",
            "schema": {
              "type": "string",
              "enum": [
                "usd",
                "eur"
              ],
              "default": "usd"
            },
            "example": "usd"
          },
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "packs"
                  ],
                  "properties": {
                    "packs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreditPack"
                      }
                    }
                  }
                },
                "example": {
                  "packs": [
                    {
                      "credits": 500,
                      "currency": "usd",
                      "amount_cents": 1750,
                      "price": "$17.50",
                      "per_credit": "$0.0350",
                      "max_contacts": 500,
                      "max_email_checks": 1000,
                      "valid_for_days": 365
                    },
                    {
                      "credits": 5000,
                      "currency": "usd",
                      "amount_cents": 6900,
                      "price": "$69.00",
                      "per_credit": "$0.0138",
                      "max_contacts": 5000,
                      "max_email_checks": 10000,
                      "valid_for_days": 365
                    },
                    {
                      "credits": 25000,
                      "currency": "usd",
                      "amount_cents": 19900,
                      "price": "$199.00",
                      "per_credit": "$0.0080",
                      "max_contacts": 25000,
                      "max_email_checks": 50000,
                      "valid_for_days": 365
                    },
                    {
                      "credits": 100000,
                      "currency": "usd",
                      "amount_cents": 49900,
                      "price": "$499.00",
                      "per_credit": "$0.0050",
                      "max_contacts": 100000,
                      "max_email_checks": 200000,
                      "valid_for_days": 365
                    }
                  ],
                  "rules": {
                    "contact": 1,
                    "email_check": 0.5,
                    "phone_number": 10,
                    "valid_for_days": 365
                  },
                  "total": 4,
                  "limit": 4,
                  "offset": 0,
                  "next_cursor": null,
                  "has_more": false,
                  "note": "Paid once, no subscription. Invalid emails, failed checks and empty results cost nothing."
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized. `unauthorized` when the API key is missing, wrong or revoked.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized (the API key is missing, wrong or revoked)",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The API key is missing, wrong or revoked.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The API key is missing, wrong or revoked."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429 Too many requests. `rate_limited` when too many requests this minute.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited (too many requests this minute)",
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests this minute.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Too many requests this minute."
                    }
                  }
                }
              }
            }
          }
        },
        "x-cost": "Free",
        "x-side-effect": "none",
        "x-scopes": [],
        "x-idempotent": false,
        "x-paginated": false
      }
    },
    "/api/v1/credits/quote": {
      "post": {
        "tags": [
          "Credits"
        ],
        "operationId": "quote-credits",
        "summary": "Quote a credit pack",
        "description": "Prices one pack and says how it would be paid. When the account owner allowed purchases with the saved card in the app (Settings > Billing, up to a monthly limit), the key or connection belongs to the owner and the price fits the limits, the quote names the card and the purchase is charged at once; otherwise the purchase returns a payment link the user pays themselves and `payment.saved_card.reason` says why. Nothing is charged here. Show the quote to the person who pays and buy only after their yes. A quote holds for 24 hours; a saved-card purchase must follow within 15 minutes.\n\n| Cost | What it does | Key scopes |\n| --- | --- | --- |\n| Free | Reads only | `argorant:manage_lists` |",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditQuote"
                },
                "example": {
                  "quote_id": "2f8a1b3c-4d5e-4f70-8192-a3b4c5d6e7f8",
                  "credits": 5000,
                  "currency": "usd",
                  "amount_cents": 6900,
                  "price": "$69.00",
                  "valid_for_days": 365,
                  "expires_at": "2026-10-08T12:00:00+00:00",
                  "summary": "5,000 credits for $69.00, paid once, no subscription. They stay valid for 365 days and work for contacts (1 credit each), email checks (0.5 credit) and phone numbers (10 credits).",
                  "payment": {
                    "saved_card": {
                      "usable": false,
                      "card": null,
                      "charge_before": null,
                      "reason": "The account owner has not allowed AI assistants to buy credits with the saved card. The owner can switch it on in Settings > Billing.",
                      "code": "not_opted_in"
                    },
                    "summary": "The purchase returns a payment link the user pays themselves. Nothing is charged before that payment."
                  },
                  "next_step": "Show this quote to the user and buy only after their explicit yes: POST /api/v1/credits/purchases with quote_id, confirmed=true and the user's own words in user_confirmation. You get a payment link to give to the user."
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized. `unauthorized` when the API key is missing, wrong or revoked.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized (the API key is missing, wrong or revoked)",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The API key is missing, wrong or revoked.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The API key is missing, wrong or revoked."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden. `scope_missing` when the key lacks argorant:manage_lists.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "scope_missing": {
                    "summary": "scope_missing (the key lacks argorant:manage_lists)",
                    "value": {
                      "error": {
                        "code": "scope_missing",
                        "message": "The key lacks argorant:manage_lists.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The key lacks argorant:manage_lists."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409 Conflict. `idempotency_conflict` when the Idempotency-Key was used with another body.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "idempotency_conflict": {
                    "summary": "idempotency_conflict (the Idempotency-Key was used with another body)",
                    "value": {
                      "error": {
                        "code": "idempotency_conflict",
                        "message": "The Idempotency-Key was used with another body.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The Idempotency-Key was used with another body."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Validation error. `validation_error` when a field has the wrong type or is missing.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "validation_error": {
                    "summary": "validation_error (a field has the wrong type or is missing)",
                    "value": {
                      "error": {
                        "code": "validation_error",
                        "message": "A field has the wrong type or is missing.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "A field has the wrong type or is missing."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429 Too many requests. `rate_limited` when too many requests this minute.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited (too many requests this minute)",
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests this minute.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Too many requests this minute."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "503 Unavailable. `unavailable` when buying credits is paused for a moment.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "unavailable": {
                    "summary": "unavailable (buying credits is paused for a moment)",
                    "value": {
                      "error": {
                        "code": "unavailable",
                        "message": "Buying credits is paused for a moment.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Buying credits is paused for a moment."
                    }
                  }
                }
              }
            }
          }
        },
        "x-cost": "Free",
        "x-side-effect": "none",
        "x-scopes": [
          "argorant:manage_lists"
        ],
        "x-idempotent": true,
        "x-paginated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "credits"
                ],
                "properties": {
                  "credits": {
                    "type": "integer",
                    "enum": [
                      500,
                      5000,
                      25000,
                      100000
                    ],
                    "description": "Credits in the pack: 500, 5000, 25000 or 100000.",
                    "example": 5000
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "usd",
                      "eur"
                    ],
                    "default": "usd",
                    "description": "usd (default) or eur."
                  }
                }
              },
              "example": {
                "credits": 5000,
                "currency": "usd"
              }
            }
          }
        }
      }
    },
    "/api/v1/credits/purchases": {
      "post": {
        "tags": [
          "Credits"
        ],
        "operationId": "buy-credits",
        "summary": "Buy a credit pack",
        "description": "Buys exactly what a quote showed. `confirmed: true` states that the person who pays said yes to that quote; pass their own words in `user_confirmation`. Every purchase records who confirmed it, when, through which key or connection, the amount and the quote. With `pay_with: auto` the saved card is charged right away when the account owner allowed it in the app and the amount fits the owner's monthly limit and the workspace's limits; the credits are added at once and a receipt is emailed. Otherwise you get `checkout_url`, a payment page the person pays themselves; the credits arrive with that payment. The quote id makes this safe to retry: the same quote is never charged twice, and a repeat returns the first answer with `replayed: true`.\n\n| Cost | What it does | Key scopes |\n| --- | --- | --- |\n| The pack price, charged only after the person who pays confirmed the quote | Charges money | `argorant:manage_lists` |",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "201": {
            "description": "Payment link or Paid with the saved card",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditPurchase"
                },
                "examples": {
                  "example1": {
                    "summary": "Payment link",
                    "value": {
                      "purchase_id": "2f8a1b3c-4d5e-4f70-8192-a3b4c5d6e7f8",
                      "status": "awaiting_payment",
                      "paid_with": "payment_link",
                      "checkout_url": "https://checkout.example.com/pay/cs_live_a1B2c3",
                      "credits": 5000,
                      "amount_cents": 6900,
                      "currency": "usd",
                      "message": "Not charged to the saved card: The account owner has not allowed AI assistants to buy credits with the saved card. The owner can switch it on in Settings > Billing. Send this payment link to the user. 5,000 credits for $69.00 are added as soon as they pay. Nothing is charged before that.",
                      "saved_card": {
                        "used": false,
                        "code": "not_opted_in",
                        "reason": "The account owner has not allowed AI assistants to buy credits with the saved card. The owner can switch it on in Settings > Billing."
                      }
                    }
                  },
                  "example2": {
                    "summary": "Paid with the saved card",
                    "value": {
                      "purchase_id": "2f8a1b3c-4d5e-4f70-8192-a3b4c5d6e7f8",
                      "status": "paid",
                      "paid_with": "saved_card",
                      "card": "card ending 4242",
                      "credits": 5000,
                      "amount_cents": 6900,
                      "currency": "usd",
                      "credits_added": 5000,
                      "checkout_url": null,
                      "message": "Charged $69.00 to the saved card ending 4242. 5,000 credits were added to the account and stay valid for 365 days. A receipt went to the account's email.",
                      "receipt_sent_to": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 Bad request. `confirmation_required` when confirmed is not true.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "confirmation_required": {
                    "summary": "confirmation_required (confirmed is not true)",
                    "value": {
                      "error": {
                        "code": "confirmation_required",
                        "message": "Confirmed is not true.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Confirmed is not true."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized. `unauthorized` when the API key is missing, wrong or revoked.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized (the API key is missing, wrong or revoked)",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The API key is missing, wrong or revoked.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The API key is missing, wrong or revoked."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden. `scope_missing` when the key lacks argorant:manage_lists.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "scope_missing": {
                    "summary": "scope_missing (the key lacks argorant:manage_lists)",
                    "value": {
                      "error": {
                        "code": "scope_missing",
                        "message": "The key lacks argorant:manage_lists.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The key lacks argorant:manage_lists."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not found. `quote_not_found` when the quote id is unknown or belongs to someone else.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "quote_not_found": {
                    "summary": "quote_not_found (the quote id is unknown or belongs to someone else)",
                    "value": {
                      "error": {
                        "code": "quote_not_found",
                        "message": "The quote id is unknown or belongs to someone else.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The quote id is unknown or belongs to someone else."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409 Conflict. `charge_in_progress` when this quote is being charged right now; `idempotency_conflict` when the Idempotency-Key was used with another body.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "charge_in_progress": {
                    "summary": "charge_in_progress (this quote is being charged right now)",
                    "value": {
                      "error": {
                        "code": "charge_in_progress",
                        "message": "This quote is being charged right now.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "This quote is being charged right now."
                    }
                  },
                  "idempotency_conflict": {
                    "summary": "idempotency_conflict (the Idempotency-Key was used with another body)",
                    "value": {
                      "error": {
                        "code": "idempotency_conflict",
                        "message": "The Idempotency-Key was used with another body.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The Idempotency-Key was used with another body."
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "410 Gone. `quote_expired` when the quote is older than 24 hours, or older than 15 minutes for the saved card.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "quote_expired": {
                    "summary": "quote_expired (the quote is older than 24 hours, or older than 15 minutes for the saved card)",
                    "value": {
                      "error": {
                        "code": "quote_expired",
                        "message": "The quote is older than 24 hours, or older than 15 minutes for the saved card.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The quote is older than 24 hours, or older than 15 minutes for the saved card."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Validation error. `validation_error` when a field has the wrong type or is missing.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "validation_error": {
                    "summary": "validation_error (a field has the wrong type or is missing)",
                    "value": {
                      "error": {
                        "code": "validation_error",
                        "message": "A field has the wrong type or is missing.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "A field has the wrong type or is missing."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429 Too many requests. `rate_limited` when too many requests this minute.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited (too many requests this minute)",
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests this minute.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Too many requests this minute."
                    }
                  }
                }
              }
            }
          }
        },
        "x-cost": "The pack price, charged only after the person who pays confirmed the quote",
        "x-side-effect": "charges money",
        "x-scopes": [
          "argorant:manage_lists"
        ],
        "x-idempotent": true,
        "x-paginated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "quote_id",
                  "confirmed"
                ],
                "properties": {
                  "quote_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The quote the person said yes to.",
                    "example": "2f8a1b3c-4d5e-4f70-8192-a3b4c5d6e7f8"
                  },
                  "confirmed": {
                    "type": "boolean",
                    "description": "true: the person who pays saw the quote and said yes.",
                    "example": true
                  },
                  "pay_with": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "link"
                    ],
                    "default": "auto",
                    "description": "auto: the saved card when allowed, else a payment link. link: always a payment link."
                  },
                  "user_confirmation": {
                    "type": "string",
                    "description": "The person's own words that said yes to the quote, quoted exactly (up to 1,000 characters). Recorded with the purchase; without it the record says confirmed=true.",
                    "example": "Yes, buy the 5,000 credits for $69"
                  }
                }
              },
              "example": {
                "quote_id": "2f8a1b3c-4d5e-4f70-8192-a3b4c5d6e7f8",
                "confirmed": true,
                "pay_with": "auto",
                "user_confirmation": "Yes, buy the 5,000 credits for $69"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "list-credit-purchases",
        "summary": "List credit purchases",
        "description": "Credit purchases made through the API and AI agents, newest first. A payment link shows paid once the user paid it, and expired when it ran out unpaid.\n\n| Cost | What it does | Key scopes |\n| --- | --- | --- |\n| Free | Reads only | `argorant:read_counts` |",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows per page, 1 to 100 (default 25).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "example": 25
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    {
                      "type": "object",
                      "required": [
                        "purchases"
                      ],
                      "properties": {
                        "purchases": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CreditPurchase"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "purchases": [
                    {
                      "purchase_id": "2f8a1b3c-4d5e-4f70-8192-a3b4c5d6e7f8",
                      "status": "paid",
                      "paid_with": "saved_card",
                      "credits": 5000,
                      "amount_cents": 6900,
                      "currency": "usd",
                      "price": "$69.00",
                      "created_at": "2026-10-07T12:01:00+00:00",
                      "updated_at": "2026-10-07T12:01:03+00:00",
                      "card": "card ending 4242",
                      "credits_added": 5000,
                      "checkout_url": null,
                      "message": "Charged $69.00 to the saved card ending 4242. 5,000 credits were added to the account and stay valid for 365 days."
                    }
                  ],
                  "total": 1,
                  "limit": 25,
                  "offset": 0,
                  "next_cursor": null,
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized. `unauthorized` when the API key is missing, wrong or revoked.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized (the API key is missing, wrong or revoked)",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The API key is missing, wrong or revoked.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The API key is missing, wrong or revoked."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden. `scope_missing` when the key lacks argorant:read_counts.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "scope_missing": {
                    "summary": "scope_missing (the key lacks argorant:read_counts)",
                    "value": {
                      "error": {
                        "code": "scope_missing",
                        "message": "The key lacks argorant:read_counts.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The key lacks argorant:read_counts."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Validation error. `validation_error` when a field has the wrong type or is missing.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "validation_error": {
                    "summary": "validation_error (a field has the wrong type or is missing)",
                    "value": {
                      "error": {
                        "code": "validation_error",
                        "message": "A field has the wrong type or is missing.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "A field has the wrong type or is missing."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429 Too many requests. `rate_limited` when too many requests this minute.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited (too many requests this minute)",
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests this minute.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Too many requests this minute."
                    }
                  }
                }
              }
            }
          }
        },
        "x-cost": "Free",
        "x-side-effect": "none",
        "x-scopes": [
          "argorant:read_counts"
        ],
        "x-idempotent": false,
        "x-paginated": true
      }
    },
    "/api/v1/credits/purchases/{purchase_id}": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "get-credit-purchase",
        "summary": "Get a credit purchase",
        "description": "One purchase, with whether it is paid, waiting for payment, not charged or expired, and how many credits it added.\n\n| Cost | What it does | Key scopes |\n| --- | --- | --- |\n| Free | Reads only | `argorant:read_counts` |",
        "parameters": [
          {
            "name": "purchase_id",
            "in": "path",
            "required": true,
            "description": "The purchase id (the same as its quote id).",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "2f8a1b3c-4d5e-4f70-8192-a3b4c5d6e7f8"
          },
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditPurchase"
                },
                "example": {
                  "purchase_id": "2f8a1b3c-4d5e-4f70-8192-a3b4c5d6e7f8",
                  "status": "paid",
                  "paid_with": "payment_link",
                  "credits": 5000,
                  "amount_cents": 6900,
                  "currency": "usd",
                  "price": "$69.00",
                  "created_at": "2026-10-07T12:01:00+00:00",
                  "updated_at": "2026-10-07T12:04:10+00:00",
                  "checkout_url": null,
                  "message": "Paid. 5,000 credits were added to the account."
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized. `unauthorized` when the API key is missing, wrong or revoked.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized (the API key is missing, wrong or revoked)",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The API key is missing, wrong or revoked.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The API key is missing, wrong or revoked."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden. `scope_missing` when the key lacks argorant:read_counts.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "scope_missing": {
                    "summary": "scope_missing (the key lacks argorant:read_counts)",
                    "value": {
                      "error": {
                        "code": "scope_missing",
                        "message": "The key lacks argorant:read_counts.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The key lacks argorant:read_counts."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 Not found. `not_found` when the item does not exist in your workspace.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "not_found": {
                    "summary": "not_found (the item does not exist in your workspace)",
                    "value": {
                      "error": {
                        "code": "not_found",
                        "message": "The item does not exist in your workspace.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The item does not exist in your workspace."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429 Too many requests. `rate_limited` when too many requests this minute.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited (too many requests this minute)",
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests this minute.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Too many requests this minute."
                    }
                  }
                }
              }
            }
          }
        },
        "x-cost": "Free",
        "x-side-effect": "none",
        "x-scopes": [
          "argorant:read_counts"
        ],
        "x-idempotent": false,
        "x-paginated": false
      }
    },
    "/api/v1/lookups/industries": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "lookup-industries",
        "summary": "Industries",
        "description": "Industry names with how many contacts carry each. Type plain words (saas) and get the exact names to use in the industries filter. Free.\n\n| Cost | What it does | Key scopes |\n| --- | --- | --- |\n| Free | Reads only | `argorant:read_counts` |",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "The start of a word or a few words.",
            "schema": {
              "type": "string"
            },
            "example": "soft"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "How many, 1 to 100 (default 25).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suggestion"
                },
                "example": {
                  "suggestions": [
                    {
                      "value": "Software Development",
                      "label": "Software Development",
                      "count": 18402551
                    },
                    {
                      "value": "IT Services and IT Consulting",
                      "label": "IT Services and IT Consulting",
                      "count": 11204889
                    }
                  ],
                  "total": 2,
                  "limit": 25,
                  "offset": 0,
                  "next_cursor": null,
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized. `unauthorized` when the API key is missing, wrong or revoked.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized (the API key is missing, wrong or revoked)",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The API key is missing, wrong or revoked.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The API key is missing, wrong or revoked."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden. `scope_missing` when the key lacks argorant:read_counts.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "scope_missing": {
                    "summary": "scope_missing (the key lacks argorant:read_counts)",
                    "value": {
                      "error": {
                        "code": "scope_missing",
                        "message": "The key lacks argorant:read_counts.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The key lacks argorant:read_counts."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Validation error. `validation_error` when a field has the wrong type or is missing.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "validation_error": {
                    "summary": "validation_error (a field has the wrong type or is missing)",
                    "value": {
                      "error": {
                        "code": "validation_error",
                        "message": "A field has the wrong type or is missing.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "A field has the wrong type or is missing."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429 Too many requests. `rate_limited` when too many requests this minute.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited (too many requests this minute)",
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests this minute.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Too many requests this minute."
                    }
                  }
                }
              }
            }
          }
        },
        "x-cost": "Free",
        "x-side-effect": "none",
        "x-scopes": [
          "argorant:read_counts"
        ],
        "x-idempotent": false,
        "x-paginated": false
      }
    },
    "/api/v1/lookups/countries": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "lookup-countries",
        "summary": "Countries",
        "description": "Country names with how many contacts live there. Germany and DE land on the same country. Free.\n\n| Cost | What it does | Key scopes |\n| --- | --- | --- |\n| Free | Reads only | `argorant:read_counts` |",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "The start of a word or a few words.",
            "schema": {
              "type": "string"
            },
            "example": "ger"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "How many, 1 to 100 (default 25).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suggestion"
                },
                "example": {
                  "suggestions": [
                    {
                      "value": "Germany",
                      "label": "Germany",
                      "count": 2516622
                    }
                  ],
                  "total": 1,
                  "limit": 25,
                  "offset": 0,
                  "next_cursor": null,
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized. `unauthorized` when the API key is missing, wrong or revoked.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized (the API key is missing, wrong or revoked)",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The API key is missing, wrong or revoked.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The API key is missing, wrong or revoked."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden. `scope_missing` when the key lacks argorant:read_counts.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "scope_missing": {
                    "summary": "scope_missing (the key lacks argorant:read_counts)",
                    "value": {
                      "error": {
                        "code": "scope_missing",
                        "message": "The key lacks argorant:read_counts.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The key lacks argorant:read_counts."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Validation error. `validation_error` when a field has the wrong type or is missing.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "validation_error": {
                    "summary": "validation_error (a field has the wrong type or is missing)",
                    "value": {
                      "error": {
                        "code": "validation_error",
                        "message": "A field has the wrong type or is missing.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "A field has the wrong type or is missing."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429 Too many requests. `rate_limited` when too many requests this minute.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited (too many requests this minute)",
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests this minute.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Too many requests this minute."
                    }
                  }
                }
              }
            }
          }
        },
        "x-cost": "Free",
        "x-side-effect": "none",
        "x-scopes": [
          "argorant:read_counts"
        ],
        "x-idempotent": false,
        "x-paginated": false
      }
    },
    "/api/v1/lookups/keywords": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "lookup-keywords",
        "summary": "Keywords",
        "description": "Keywords such as technologies, business models and niche tags, with how many contacts carry each. Keywords reach niches that have no industry of their own. Free.\n\n| Cost | What it does | Key scopes |\n| --- | --- | --- |\n| Free | Reads only | `argorant:read_counts` |",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "The start of a word or a few words.",
            "schema": {
              "type": "string"
            },
            "example": "buyout"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "How many, 1 to 100 (default 25).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suggestion"
                },
                "example": {
                  "suggestions": [
                    {
                      "value": "Buyout/LBO",
                      "count": 38211
                    },
                    {
                      "value": "Growth Equity",
                      "count": 21044
                    }
                  ],
                  "total": 2,
                  "limit": 25,
                  "offset": 0,
                  "next_cursor": null,
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized. `unauthorized` when the API key is missing, wrong or revoked.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized (the API key is missing, wrong or revoked)",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The API key is missing, wrong or revoked.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The API key is missing, wrong or revoked."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403 Forbidden. `scope_missing` when the key lacks argorant:read_counts.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "scope_missing": {
                    "summary": "scope_missing (the key lacks argorant:read_counts)",
                    "value": {
                      "error": {
                        "code": "scope_missing",
                        "message": "The key lacks argorant:read_counts.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The key lacks argorant:read_counts."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422 Validation error. `validation_error` when a field has the wrong type or is missing.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "validation_error": {
                    "summary": "validation_error (a field has the wrong type or is missing)",
                    "value": {
                      "error": {
                        "code": "validation_error",
                        "message": "A field has the wrong type or is missing.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "A field has the wrong type or is missing."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "429 Too many requests. `rate_limited` when too many requests this minute.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "rate_limited (too many requests this minute)",
                    "value": {
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests this minute.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "Too many requests this minute."
                    }
                  }
                }
              }
            }
          }
        },
        "x-cost": "Free",
        "x-side-effect": "none",
        "x-scopes": [
          "argorant:read_counts"
        ],
        "x-idempotent": false,
        "x-paginated": false
      }
    },
    "/api/v1/lookups/technologies": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "lookup-technologies",
        "summary": "Technologies",
        "description": "Technologies companies use, with how many contacts work at those companies. Free.\n\n| Cost | What it does | Key scopes |\n| --- | --- | --- |\n| Free | Reads only | `argorant:read_counts` |",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "The start of a word or a few words.",
            "schema": {
              "type": "string"
            },
            "example": "shopi"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "How many, 1 to 100 (default 25).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "$ref": "#/components/parameters/RequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suggestion"
                },
                "example": {
                  "suggestions": [
                    {
                      "value": "Shopify",
                      "count": 1840211
                    },
                    {
                      "value": "Shopify Plus",
                      "count": 210448
                    }
                  ],
                  "total": 2,
                  "limit": 25,
                  "offset": 0,
                  "next_cursor": null,
                  "has_more": false
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized. `unauthorized` when the API key is missing, wrong or revoked.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "unauthorized (the API key is missing, wrong or revoked)",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The API key is missing, wrong or revoked.",
                        "details": {}
                      },
                      "request_id": "req_8f2c1d9e0b7a4c3e9f1a2b3c4d5e6f70",
                      "detail": "The API key is missing, wrong or revoked."
                    }
                  }
[...]
