{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "suporte@klingo.com.br"
    },
    "description": "Klingo API Ferramentas",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://swagger.io/terms/",
    "title": "Klingo API Ferramentas",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/klingo/klingo-api-ferramentas/1.0.0"
  },
  "servers": [
    {
      "url": "https://api-externa.klingo.app/api/ferramentas"
    }
  ],
  "paths": {
    "/tarefa/criar": {
      "post": {
        "responses": {
          "200": {
            "description": "Json com os dados da tarefa criada."
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "tarefas"
        ],
        "description": "Dados da criação de tarefa.",
        "operationId": "tarefascriar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tarefa"
              }
            }
          },
          "description": "Dados da Chamada.",
          "required": true
        },
        "summary": "Criação de nova tarefa."
      }
    }
  },
  "components": {
    "schemas": {
      "tarefa": {
        "properties": {
          "descricao": {
            "description": "Descrição da Tarefa",
            "example": "Lorem Ipsum",
            "type": "string"
          },
          "id_medico": {
            "description": "Id do Médico para o qual a tarefa está sendo aberta",
            "example": 123,
            "type": "number"
          },
          "id_paciente": {
            "description": "Id do Paciente vinculado a tarefa (Opcional)",
            "example": 123,
            "type": "number"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "app_token": {
        "in": "header",
        "name": "X-APP-TOKEN",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "Tarefas",
      "name": "tarefas"
    }
  ],
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}