{
  "openapi": "3.2.0",
  "info": {
    "description": "REST API for Cavyro. All endpoints live under `/api/v1`.\n\n## Authentication\n\nCreate an API token in the Cavyro app (**Settings → API Tokens**) and send it\nas a bearer token on every request:\n\n```\nAuthorization: Bearer <your-api-token>\n```\n\nWorkspace-scoped endpoints additionally require the `X-Workspace-Id` header\nidentifying the workspace you are acting in.\n\nAPI tokens expire (7, 30 or 90 days, chosen at creation) and can be revoked at\nany time from the app.\n\n## Collections & pagination\n\nCollection endpoints share a common query contract — `page`, `limit`,\n`sort`, `direction`, plus per-route filters — and return pagination metadata\nin the `page-limit`, `current-page`, `total-count` and `total-pages`\nresponse headers.\n\n## Errors\n\nErrors use a consistent envelope:\n\n```json\n{\n  \"error\": {\n    \"code\": \"<machine_code>\",\n    \"message\": \"<human message>\",\n    \"details\": {},\n    \"request_id\": \"<request id>\"\n  }\n}\n```\n\n`code` is stable — branch on it, never on `message`. `details` is present\nonly when there is structured context (field errors, limits). Quote\n`request_id` when contacting support.\n\n## Webhooks\n\nSubscribe to domain events (deals, contacts, companies) via\n`POST /api/v1/webhook_subscriptions` — payloads, headers and the signature\nscheme are documented in the **Webhooks** section below.\n",
    "title": "Cavyro API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://cavyro.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.cavyro.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/ai-conversations": {
      "get": {
        "operationId": "get-ai-conversations",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "id": {
                        "example": 42,
                        "type": "integer"
                      },
                      "session_id": {
                        "type": "string"
                      },
                      "title": {
                        "example": "Acme",
                        "type": "string"
                      },
                      "updated_at": {
                        "example": "2026-01-15T09:30:00Z",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "session_id",
                      "title",
                      "updated_at"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          }
        },
        "summary": "List ai conversations",
        "tags": [
          "Ai Conversations"
        ]
      },
      "put": {
        "operationId": "put-ai-conversations",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "messages": {
                    "items": {
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "text": {
                          "type": "string"
                        },
                        "tools": {
                          "items": {
                            "properties": {
                              "count": {
                                "type": "integer"
                              },
                              "name": {
                                "example": "Acme",
                                "type": "string"
                              },
                              "resource": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "count",
                              "name",
                              "resource",
                              "status"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "id",
                        "role",
                        "text",
                        "tools"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "session_id": {
                    "type": "string"
                  },
                  "title": {
                    "example": "Acme",
                    "type": "string"
                  }
                },
                "required": [
                  "messages",
                  "session_id",
                  "title"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "created_at": {
                      "example": "2026-01-15T09:30:00Z",
                      "type": "string"
                    },
                    "id": {
                      "example": 42,
                      "type": "integer"
                    },
                    "messages": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "tools": {
                            "items": {
                              "properties": {
                                "count": {
                                  "type": "integer"
                                },
                                "name": {
                                  "example": "Acme",
                                  "type": "string"
                                },
                                "resource": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "count",
                                "name",
                                "resource",
                                "status"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "id",
                          "role",
                          "text",
                          "tools"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "session_id": {
                      "type": "string"
                    },
                    "title": {
                      "example": "Acme",
                      "type": "string"
                    },
                    "updated_at": {
                      "example": "2026-01-15T09:30:00Z",
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "messages",
                    "session_id",
                    "title",
                    "updated_at"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "created_at": {
                      "example": "2026-01-15T09:30:00Z",
                      "type": "string"
                    },
                    "id": {
                      "example": 42,
                      "type": "integer"
                    },
                    "messages": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "tools": {
                            "items": {},
                            "type": "array"
                          }
                        },
                        "required": [
                          "id",
                          "role",
                          "text",
                          "tools"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "session_id": {
                      "type": "string"
                    },
                    "title": {
                      "example": "Acme",
                      "type": "string"
                    },
                    "updated_at": {
                      "example": "2026-01-15T09:30:00Z",
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "messages",
                    "session_id",
                    "title",
                    "updated_at"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Created"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "details": {
                          "properties": {
                            "messages": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "session_id": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "details",
                        "message",
                        "request_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Unprocessable Content"
          }
        },
        "summary": "Upsert ai conversations",
        "tags": [
          "Ai Conversations"
        ]
      }
    },
    "/api/v1/ai-conversations/{id}": {
      "delete": {
        "operationId": "delete-ai-conversations-by-id",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "summary": "Delete an ai conversation",
        "tags": [
          "Ai Conversations"
        ]
      },
      "get": {
        "operationId": "get-ai-conversations-by-id",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "created_at": {
                      "example": "2026-01-15T09:30:00Z",
                      "type": "string"
                    },
                    "id": {
                      "example": 42,
                      "type": "integer"
                    },
                    "messages": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "tools": {
                            "items": {
                              "properties": {
                                "count": {
                                  "type": "integer"
                                },
                                "name": {
                                  "example": "Acme",
                                  "type": "string"
                                },
                                "resource": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "count",
                                "name",
                                "resource",
                                "status"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "id",
                          "role",
                          "text",
                          "tools"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "session_id": {
                      "type": "string"
                    },
                    "title": {
                      "example": "Acme",
                      "type": "string"
                    },
                    "updated_at": {
                      "example": "2026-01-15T09:30:00Z",
                      "type": "string"
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "messages",
                    "session_id",
                    "title",
                    "updated_at"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "summary": "Get an ai conversation",
        "tags": [
          "Ai Conversations"
        ]
      }
    },
    "/api/v1/attachments/{id}": {
      "delete": {
        "operationId": "delete-attachments-by-id",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "summary": "Delete an attachment",
        "tags": [
          "Attachments"
        ]
      }
    },
    "/api/v1/attachments/{id}/download": {
      "get": {
        "operationId": "get-attachments-by-id-download",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "302": {
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Found"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Unprocessable Content"
          }
        },
        "summary": "Download an attachment",
        "tags": [
          "Attachments"
        ]
      }
    },
    "/api/v1/automations": {
      "get": {
        "operationId": "get-automations",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "created_at": {
                        "example": "2026-01-15T09:30:00Z",
                        "type": "string"
                      },
                      "created_by": {
                        "type": "null"
                      },
                      "description": {
                        "type": "null"
                      },
                      "discarded_at": {
                        "type": "null"
                      },
                      "enabled": {
                        "type": "boolean"
                      },
                      "graph": {
                        "properties": {
                          "edges": {
                            "items": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "source": {
                                  "type": "string"
                                },
                                "target": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "source",
                                "target"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "nodes": {
                            "items": {
                              "properties": {
                                "config": {
                                  "properties": {
                                    "action_type": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "params": {
                                      "properties": {
                                        "message_template": {
                                          "type": "string"
                                        },
                                        "recipient_kind": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "message_template",
                                        "recipient_kind"
                                      ],
                                      "type": [
                                        "object",
                                        "null"
                                      ]
                                    },
                                    "trigger_type": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "type": "object"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "position": {
                                  "properties": {
                                    "x": {
                                      "type": "integer"
                                    },
                                    "y": {
                                      "type": "integer"
                                    }
                                  },
                                  "required": [
                                    "x",
                                    "y"
                                  ],
                                  "type": "object"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "config",
                                "id",
                                "position",
                                "type"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "schema_version": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "edges",
                          "nodes",
                          "schema_version"
                        ],
                        "type": "object"
                      },
                      "id": {
                        "example": 42,
                        "type": "integer"
                      },
                      "last_run_at": {
                        "type": "null"
                      },
                      "name": {
                        "example": "Acme",
                        "type": "string"
                      },
                      "run_counts": {
                        "properties": {
                          "failed": {
                            "type": "integer"
                          },
                          "succeeded": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "failed",
                          "succeeded"
                        ],
                        "type": "object"
                      },
                      "trigger_type": {
                        "type": "string"
                      },
                      "updated_at": {
                        "example": "2026-01-15T09:30:00Z",
                        "type": "string"
                      },
                      "version_number": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "created_at",
                      "created_by",
                      "description",
                      "discarded_at",
                      "enabled",
                      "graph",
                      "id",
                      "last_run_at",
                      "name",
                      "run_counts",
                      "trigger_type",
                      "updated_at",
                      "version_number"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                }
              },
              "page-limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                }
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "List automations",
        "tags": [
          "Automations"
        ]
      },
      "post": {
        "operationId": "post-automations",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "automation": {
                    "properties": {
                      "graph": {
                        "properties": {
                          "edges": {
                            "items": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "source": {
                                  "type": "string"
                                },
                                "target": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "source",
                                "target"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "nodes": {
                            "items": {
                              "properties": {
                                "config": {
                                  "properties": {
                                    "action_type": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "params": {
                                      "properties": {
                                        "message_template": {
                                          "type": "string"
                                        },
                                        "recipient_kind": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "message_template",
                                        "recipient_kind"
                                      ],
                                      "type": [
                                        "object",
                                        "null"
                                      ]
                                    },
                                    "trigger_type": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "type": "object"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "position": {
                                  "properties": {
                                    "x": {
                                      "type": "integer"
                                    },
                                    "y": {
                                      "type": "integer"
                                    }
                                  },
                                  "required": [
                                    "x",
                                    "y"
                                  ],
                                  "type": "object"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "config",
                                "id",
                                "position",
                                "type"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "schema_version": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "edges",
                          "nodes",
                          "schema_version"
                        ],
                        "type": "object"
                      },
                      "name": {
                        "example": "Acme",
                        "type": "string"
                      }
                    },
                    "required": [
                      "graph",
                      "name"
                    ],
                    "type": "object"
                  }
                },
                "required": [
                  "automation"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "created_at": {
                      "example": "2026-01-15T09:30:00Z",
                      "type": "string"
                    },
                    "created_by": {
                      "properties": {
                        "avatar_url": {
                          "type": "null"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "email": {
                          "example": "ana@example.com",
                          "type": "string"
                        },
                        "id": {
                          "example": 42,
                          "type": "integer"
                        }
                      },
                      "required": [
                        "avatar_url",
                        "display_name",
                        "email",
                        "id"
                      ],
                      "type": "object"
                    },
                    "description": {
                      "type": "null"
                    },
                    "discarded_at": {
                      "type": "null"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "graph": {
                      "properties": {
                        "edges": {
                          "items": {
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              },
                              "target": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "source",
                              "target"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "nodes": {
                          "items": {
                            "properties": {
                              "config": {
                                "properties": {
                                  "action_type": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "params": {
                                    "properties": {
                                      "message_template": {
                                        "type": "string"
                                      },
                                      "recipient_kind": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "message_template",
                                      "recipient_kind"
                                    ],
                                    "type": [
                                      "object",
                                      "null"
                                    ]
                                  },
                                  "trigger_type": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "type": "object"
                              },
                              "id": {
                                "type": "string"
                              },
                              "position": {
                                "properties": {
                                  "x": {
                                    "type": "integer"
                                  },
                                  "y": {
                                    "type": "integer"
                                  }
                                },
                                "required": [
                                  "x",
                                  "y"
                                ],
                                "type": "object"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "config",
                              "id",
                              "position",
                              "type"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "schema_version": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "edges",
                        "nodes",
                        "schema_version"
                      ],
                      "type": "object"
                    },
                    "id": {
                      "example": 42,
                      "type": "integer"
                    },
                    "last_run_at": {
                      "type": "null"
                    },
                    "name": {
                      "example": "Acme",
                      "type": "string"
                    },
                    "run_counts": {
                      "properties": {
                        "failed": {
                          "type": "integer"
                        },
                        "succeeded": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "failed",
                        "succeeded"
                      ],
                      "type": "object"
                    },
                    "trigger_type": {
                      "type": "string"
                    },
                    "updated_at": {
                      "example": "2026-01-15T09:30:00Z",
                      "type": "string"
                    },
                    "version_number": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "created_at",
                    "created_by",
                    "description",
                    "discarded_at",
                    "enabled",
                    "graph",
                    "id",
                    "last_run_at",
                    "name",
                    "run_counts",
                    "trigger_type",
                    "updated_at",
                    "version_number"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Created"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "details": {
                          "properties": {
                            "graph": {
                              "items": {
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "node_id": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "code",
                                  "message",
                                  "node_id"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "required": [
                            "graph"
                          ],
                          "type": "object"
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "details",
                        "message",
                        "request_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Unprocessable Content"
          }
        },
        "summary": "Create an automation",
        "tags": [
          "Automations"
        ]
      }
    },
    "/api/v1/automations/catalog": {
      "get": {
        "operationId": "get-automations-catalog",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "actions": {
                      "items": {
                        "properties": {
                          "action_type": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "label": {
                            "example": "Acme",
                            "type": "string"
                          },
                          "params": {
                            "items": {
                              "properties": {
                                "description": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "format": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "label": {
                                  "example": "Acme",
                                  "type": "string"
                                },
                                "name": {
                                  "example": "Acme",
                                  "type": "string"
                                },
                                "option_help": {
                                  "properties": {
                                    "admins": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "contact": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "deal_assignees": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "discord": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "generic": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "slack": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "type": [
                                    "object",
                                    "null"
                                  ]
                                },
                                "option_labels": {
                                  "properties": {
                                    "add": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "discord": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "generic": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "replace": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "slack": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "type": [
                                    "object",
                                    "null"
                                  ]
                                },
                                "option_links": {
                                  "properties": {
                                    "discord": {
                                      "type": "string"
                                    },
                                    "slack": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "discord",
                                    "slack"
                                  ],
                                  "type": [
                                    "object",
                                    "null"
                                  ]
                                },
                                "options": {
                                  "items": {
                                    "type": "string"
                                  },
                                  "type": [
                                    "array",
                                    "null"
                                  ]
                                },
                                "required": {
                                  "type": "boolean"
                                },
                                "required_when": {
                                  "properties": {
                                    "in": {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    },
                                    "param": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "in",
                                    "param"
                                  ],
                                  "type": [
                                    "object",
                                    "null"
                                  ]
                                },
                                "show_when": {
                                  "properties": {
                                    "in": {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    },
                                    "param": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "in",
                                    "param"
                                  ],
                                  "type": [
                                    "object",
                                    "null"
                                  ]
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "description",
                                "format",
                                "label",
                                "name",
                                "option_help",
                                "option_labels",
                                "option_links",
                                "options",
                                "required",
                                "required_when",
                                "show_when",
                                "type"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "subject_types": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "action_type",
                          "description",
                          "label",
                          "params",
                          "subject_types"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "array_operators": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "fields": {
                      "properties": {
                        "CalendarEvent": {
                          "items": {
                            "properties": {
                              "field_type": {
                                "type": "string"
                              },
                              "key": {
                                "type": "string"
                              },
                              "label": {
                                "example": "Acme",
                                "type": "string"
                              },
                              "options": {
                                "type": "null"
                              },
                              "options_source": {
                                "type": "null"
                              }
                            },
                            "required": [
                              "field_type",
                              "key",
                              "label",
                              "options",
                              "options_source"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Campaign": {
                          "items": {
                            "properties": {
                              "field_type": {
                                "type": "string"
                              },
                              "key": {
                                "type": "string"
                              },
                              "label": {
                                "example": "Acme",
                                "type": "string"
                              },
                              "options": {
                                "type": "null"
                              },
                              "options_source": {
                                "type": "null"
                              }
                            },
                            "required": [
                              "field_type",
                              "key",
                              "label",
                              "options",
                              "options_source"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Company": {
                          "items": {
                            "properties": {
                              "field_type": {
                                "type": "string"
                              },
                              "key": {
                                "type": "string"
                              },
                              "label": {
                                "example": "Acme",
                                "type": "string"
                              },
                              "options": {
                                "type": "null"
                              },
                              "options_source": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "field_type",
                              "key",
                              "label",
                              "options",
                              "options_source"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Contact": {
                          "items": {
                            "properties": {
                              "field_type": {
                                "type": "string"
                              },
                              "key": {
                                "type": "string"
                              },
                              "label": {
                                "example": "Acme",
                                "type": "string"
                              },
                              "options": {
                                "type": "null"
                              },
                              "options_source": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "field_type",
                              "key",
                              "label",
                              "options",
                              "options_source"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Deal": {
                          "items": {
                            "properties": {
                              "field_type": {
                                "type": "string"
                              },
                              "key": {
                                "type": "string"
                              },
                              "label": {
                                "example": "Acme",
                                "type": "string"
                              },
                              "options": {
                                "items": {
                                  "type": "string"
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "options_source": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "field_type",
                              "key",
                              "label",
                              "options",
                              "options_source"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Project": {
                          "items": {
                            "properties": {
                              "field_type": {
                                "type": "string"
                              },
                              "key": {
                                "type": "string"
                              },
                              "label": {
                                "example": "Acme",
                                "type": "string"
                              },
                              "options": {
                                "items": {
                                  "type": "string"
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "options_source": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "field_type",
                              "key",
                              "label",
                              "options",
                              "options_source"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Task": {
                          "items": {
                            "properties": {
                              "field_type": {
                                "type": "string"
                              },
                              "key": {
                                "type": "string"
                              },
                              "label": {
                                "example": "Acme",
                                "type": "string"
                              },
                              "options": {
                                "items": {
                                  "type": "string"
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "options_source": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "field_type",
                              "key",
                              "label",
                              "options",
                              "options_source"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "CalendarEvent",
                        "Campaign",
                        "Company",
                        "Contact",
                        "Deal",
                        "Project",
                        "Task"
                      ],
                      "type": "object"
                    },
                    "operators_by_type": {
                      "properties": {
                        "boolean": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "date": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "multi_select": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "number": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "select": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "text": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "boolean",
                        "date",
                        "multi_select",
                        "number",
                        "select",
                        "text"
                      ],
                      "type": "object"
                    },
                    "options": {
                      "properties": {
                        "company_industries": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "company_regions": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "company_sizes": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "members": {
                          "items": {
                            "properties": {
                              "display_name": {
                                "type": "string"
                              },
                              "email": {
                                "example": "ana@example.com",
                                "type": "string"
                              },
                              "id": {
                                "example": 42,
                                "type": "integer"
                              }
                            },
                            "required": [
                              "display_name",
                              "email",
                              "id"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "pipelines": {
                          "items": {},
                          "type": "array"
                        },
                        "stages": {
                          "items": {},
                          "type": "array"
                        },
                        "tags": {
                          "items": {},
                          "type": "array"
                        },
                        "template_docs": {
                          "items": {
                            "properties": {
                              "icon": {
                                "type": "null"
                              },
                              "id": {
                                "example": 42,
                                "type": "integer"
                              },
                              "title": {
                                "example": "Acme",
                                "type": "string"
                              }
                            },
                            "required": [
                              "icon",
                              "id",
                              "title"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "company_industries",
                        "company_regions",
                        "company_sizes",
                        "members",
                        "pipelines",
                        "stages",
                        "tags",
                        "template_docs"
                      ],
                      "type": "object"
                    },
                    "triggers": {
                      "items": {
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "fields": {
                            "items": {
                              "properties": {
                                "field_type": {
                                  "type": "string"
                                },
                                "key": {
                                  "type": "string"
                                },
                                "label": {
                                  "example": "Acme",
                                  "type": "string"
                                },
                                "options": {
                                  "items": {
                                    "type": "string"
                                  },
                                  "type": [
                                    "array",
                                    "null"
                                  ]
                                },
                                "options_source": {
                                  "type": "null"
                                }
                              },
                              "required": [
                                "field_type",
                                "key",
                                "label",
                                "options",
                                "options_source"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "kind": {
                            "type": "string"
                          },
                          "label": {
                            "example": "Acme",
                            "type": "string"
                          },
                          "params": {
                            "items": {
                              "properties": {
                                "description": {
                                  "type": "string"
                                },
                                "format": {
                                  "type": "null"
                                },
                                "label": {
                                  "example": "Acme",
                                  "type": "string"
                                },
                                "name": {
                                  "example": "Acme",
                                  "type": "string"
                                },
                                "option_help": {
                                  "type": "null"
                                },
                                "option_labels": {
                                  "type": "null"
                                },
                                "option_links": {
                                  "type": "null"
                                },
                                "options": {
                                  "type": "null"
                                },
                                "required": {
                                  "type": "boolean"
                                },
                                "required_when": {
                                  "type": "null"
                                },
                                "show_when": {
                                  "type": "null"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "description",
                                "format",
                                "label",
                                "name",
                                "option_help",
                                "option_labels",
                                "option_links",
                                "options",
                                "required",
                                "required_when",
                                "show_when",
                                "type"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "subject_type": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "variables": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "description",
                          "fields",
                          "kind",
                          "label",
                          "params",
                          "subject_type",
                          "type",
                          "variables"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "valueless_operators": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "variables": {
                      "properties": {
                        "CalendarEvent": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "Campaign": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "Company": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "Contact": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "Deal": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "Project": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "Task": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "CalendarEvent",
                        "Campaign",
                        "Company",
                        "Contact",
                        "Deal",
                        "Project",
                        "Task"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "actions",
                    "array_operators",
                    "fields",
                    "operators_by_type",
                    "options",
                    "triggers",
                    "valueless_operators",
                    "variables"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get the automations catalog",
        "tags": [
          "Automations"
        ]
      }
    },
    "/api/v1/automations/{automation_id}/runs": {
      "get": {
        "operationId": "get-automations-by-automation-id-runs",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "automation_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {},
                  "type": "array"
                }
              }
            },
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                }
              },
              "page-limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                }
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message",
                        "request_id"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "summary": "List automation runs",
        "tags": [
          "Automations"
        ]
      }
    },
    "/api/v1/automations/{automation_id}/runs/{id}": {
      "get": {
        "operationId": "get-automations-by-automation-id-runs-by-id",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "automation_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "automation_id": {
                      "example": 7,
                      "type": "integer"
                    },
                    "automation_version_id": {
                      "example": 7,
                      "type": "integer"
                    },
                    "created_at": {
                      "example": "2026-01-15T09:30:00Z",
                      "type": "string"
                    },
                    "depth": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "null"
                    },
                    "finished_at": {
                      "example": "2026-01-15T09:30:00Z",
                      "type": "string"
                    },
                    "id": {
                      "example": 42,
                      "type": "integer"
                    },
                    "resume_at": {
                      "type": "null"
                    },
                    "started_at": {
                      "example": "2026-01-15T09:30:00Z",
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "steps": {
                      "items": {
                        "properties": {
                          "action_type": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "attempt": {
                            "type": "integer"
                          },
                          "error": {
                            "type": "null"
                          },
                          "finished_at": {
                            "example": "2026-01-15T09:30:00Z",
                            "type": "string"
                          },
                          "id": {
                            "example": 42,
                            "type": "integer"
                          },
                          "input": {
                            "properties": {
                              "message_template": {
                                "type": "string"
                              },
                              "recipient_kind": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "message_template",
                              "recipient_kind"
                            ],
                            "type": [
                              "object",
                              "null"
                            ]
                          },
                          "node_id": {
                            "type": "string"
                          },
                          "node_type": {
                            "type": "string"
                          },
                          "output": {
                            "properties": {
                              "delivered_to": {
                                "items": {
                                  "type": "integer"
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "message": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "result": {
                                "type": [
                                  "boolean",
                                  "null"
                                ]
                              },
                              "rules": {
                                "items": {
                                  "properties": {
                                    "actual": {
                                      "type": "string"
                                    },
                                    "field": {
                                      "type": "string"
                                    },
                                    "operator": {
                                      "type": "string"
                                    },
                                    "result": {
                                      "type": "boolean"
                                    },
                                    "value": {
                                      "type": "null"
                                    }
                                  },
                                  "required": [
                                    "actual",
                                    "field",
                                    "operator",
                                    "result",
                                    "value"
                                  ],
                                  "type": "object"
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "warnings": {
                                "items": {},
                                "type": [
                                  "array",
                                  "null"
                                ]
                              }
                            },
                            "type": "object"
                          },
                          "started_at": {
                            "example": "2026-01-15T09:30:00Z",
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "action_type",
                          "attempt",
                          "error",
                          "finished_at",
                          "id",
                          "input",
                          "node_id",
                          "node_type",
                          "output",
                          "started_at",
                          "status"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "subject_id": {
                      "example": 7,
                      "type": "integer"
                    },
                    "subject_label": {
                      "type": "string"
                    },
                    "subject_type": {
                      "type": "string"
                    },
                    "test": {
                      "type": "boolean"
                    },
                    "trigger_event_type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "automation_id",
                    "automation_version_id",
                    "created_at",
                    "depth",
                    "error",
                    "finished_at",
                    "id",
                    "resume_at",
                    "started_at",
                    "status",
                    "steps",
                    "subject_id",
                    "subject_label",
                    "subject_type",
                    "test",
                    "trigger_event_type"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get an automation run",
        "tags": [
          "Automations"
        ]
      }
    },
    "/api/v1/automations/{id}": {
      "delete": {
        "operationId": "delete-automations-by-id",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Delete an automation",
        "tags": [
          "Automations"
        ]
      },
      "get": {
        "operationId": "get-automations-by-id",
        "parameters": [
          {
            "in": "header",
            "name": "X-Workspace-Id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
[...]
