{
  "openapi": "3.1.0",
  "info": {
    "title": "Zinc",
    "summary": "Zinc lets you search, buy, and return items from top online retailers with a single API.",
    "description": "Search, buy, and return items from top online retailers with a single API. Supports AI agent ordering via MPP (HTTP 402) — no account required. Supported retailers include 1-800-Flowers, Ace Hardware, Amazon, Amazon DE, Barnes & Noble, Best Buy, Chewy, Gap, Grainger, IBS, Lowe's, Macys, and 14 more. Ships to the US and 2 other countries (DE, IT). The listed retailers are the ones Zinc verifies with daily test orders, not the limit of what Zinc can buy from: checkout is attempted at most online stores, including Shopify-hosted ones. To ask about a specific store before ordering, call GET /retailers/check?url=... — it answers whether Zinc will attempt that URL.",
    "version": "2026-09-30",
    "x-logo": {
      "url": "https://mintlify.s3.us-west-1.amazonaws.com/zinc/logo/light.png"
    },
    "contact": {
      "name": "Zinc API Support",
      "email": "support@zinc.com",
      "url": "https://zinc.com/docs"
    },
    "x-guidance": "Zinc lets AI agents buy products from online retailers via a single API. Use POST /agent/orders to place an order — no Zinc account needed, payment is handled via MPP (HTTP 402 flow). Provide a product URL from a supported retailer, a shipping address, and max_price in cents. The API charges max_price + $1 API fee upfront and refunds the difference on completion. To find products first, the /agent/* data endpoints (search, products/search, products/offers, products/details) are MPP-paid at $0.01 per call; /agent/search returns orderable URLs to feed straight into /agent/orders. GET /retailers lists supported retailers for free (no payment or account). Authenticated equivalents (orders, products, managed-accounts) require a Bearer token (API key prefixed zn_); those orders are paid from a prefunded wallet — GET /wallet/me returns the spendable balance and per-order fee, so check it before POST /orders to avoid a 402. Orders are strict by default: if the gift option can't be applied or any item can't be bought, the whole order fails. When the user wants whatever can be shipped, send fulfillment: {\"gift\": \"best_effort\", \"items\": \"best_effort\"} and read fulfillment.concessions on the order to see what was relaxed. max_price is never relaxed. Docs: https://zinc.com/docs Supported retailers include 1-800-Flowers, Ace Hardware, Amazon, Amazon DE, Barnes & Noble, Best Buy, Chewy, Gap, Grainger, IBS, Lowe's, Macys, and 14 more, shipping to the US and 2 other countries (DE, IT). The listed retailers are the ones Zinc verifies with daily test orders, not the limit of what Zinc can buy from: checkout is attempted at most online stores, including Shopify-hosted ones. To ask about a specific store before ordering, call GET /retailers/check?url=... — it answers whether Zinc will attempt that URL.",
    "x-supported-retailers": [
      "1-800-Flowers",
      "Ace Hardware",
      "Amazon",
      "Amazon DE",
      "Barnes & Noble",
      "Best Buy",
      "Chewy",
      "Gap",
      "Grainger",
      "IBS",
      "Lowe's",
      "Macys",
      "McMaster-Carr",
      "Partstown",
      "Pokémon Center",
      "Sephora",
      "Target",
      "The Home Depot",
      "TikTok",
      "Uniqlo",
      "Walmart",
      "Wayfair",
      "Zinc",
      "eBay",
      "libraccio",
      "zazzle"
    ],
    "x-supported-countries": [
      "US",
      "DE",
      "IT"
    ],
    "x-jentic-source-url": "https://www.zinc.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.zinc.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/orders/bulk/validate": {
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Validate Bulk Upload",
        "description": "Dry-run a CSV upload: validate every row and report estimated spend.\n\nNo orders are placed. Use this to show the confirmation preview before\ncalling POST /orders/bulk.",
        "operationId": "validate_bulk_upload_orders_bulk_validate_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkValidateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orders/bulk": {
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Create Bulk Upload",
        "description": "Create a bulk-upload batch and place its rows asynchronously.",
        "operationId": "create_bulk_upload_orders_bulk_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkBatchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "List Bulk Uploads",
        "description": "List the current user's bulk-upload batches, newest first.",
        "operationId": "list_bulk_uploads_orders_bulk_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkBatchListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orders/bulk/{batch_id}": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Bulk Upload",
        "description": "Get a batch with per-row results and live order statuses.",
        "operationId": "get_bulk_upload_orders_bulk__batch_id__get",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Batch Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkBatchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orders/bulk/{batch_id}/results.csv": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Download Bulk Results",
        "description": "Download the batch results as a CSV (status + echoed custom columns).",
        "operationId": "download_bulk_results_orders_bulk__batch_id__results_csv_get",
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Batch Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV export: one row per uploaded row, with its order status and any echoed custom columns. Served as an attachment via Content-Disposition.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Create Order",
        "description": "Posts an order to a queue for processing",
        "operationId": "create_order_orders_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutOrderCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "List Orders",
        "description": "Get a list of orders for the current user",
        "operationId": "list_orders_orders_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Number of orders to return",
              "default": 50,
              "title": "Limit"
            },
            "description": "Number of orders to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of orders to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of orders to skip"
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by order ID (partial match)",
              "title": "Order Id"
            },
            "description": "Filter by order ID (partial match)"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Partial match on order ID OR tracking number",
              "title": "Search"
            },
            "description": "Partial match on order ID OR tracking number"
          },
          {
            "name": "merchant_order_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by the retailer's own order number (e.g. an Amazon `113-…` ID), matched exactly against any of the order's order-placing jobs. Exact, not partial — dashes in the term are matched both as typed and stripped.",
              "title": "Merchant Order Id"
            },
            "description": "Filter by the retailer's own order number (e.g. an Amazon `113-…` ID), matched exactly against any of the order's order-placing jobs. Exact, not partial — dashes in the term are matched both as typed and stripped."
          },
          {
            "name": "shipping_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by the shipping recipient's name, matched as a case-insensitive substring of `first_name last_name`.",
              "title": "Shipping Name"
            },
            "description": "Filter by the shipping recipient's name, matched as a case-insensitive substring of `first_name last_name`."
          },
          {
            "name": "status_filter",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by order status",
              "title": "Status Filter"
            },
            "description": "Filter by order status"
          },
          {
            "name": "tracking_status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to orders having at least one tracking number with this status",
              "title": "Tracking Status"
            },
            "description": "Filter to orders having at least one tracking number with this status"
          },
          {
            "name": "has_tracking",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "If true, only orders with at least one tracking number; if false, only orders with none",
              "title": "Has Tracking"
            },
            "description": "If true, only orders with at least one tracking number; if false, only orders with none"
          },
          {
            "name": "return_status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by return-request status. `open` → orders with at least one open return. `closed` → orders with at least one approved or denied return. Omit for no filter.",
              "title": "Return Status"
            },
            "description": "Filter by return-request status. `open` → orders with at least one open return. `closed` → orders with at least one approved or denied return. Omit for no filter."
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only orders created at/after this instant (inclusive)",
              "title": "Created After"
            },
            "description": "Only orders created at/after this instant (inclusive)"
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only orders created before this instant (exclusive)",
              "title": "Created Before"
            },
            "description": "Only orders created before this instant (exclusive)"
          },
          {
            "name": "metadata_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "description": "Top-level `metadata` key to match, e.g. `po_number`. Must be sent together with `metadata_value`. Nested paths are not supported.",
              "title": "Metadata Key"
            },
            "description": "Top-level `metadata` key to match, e.g. `po_number`. Must be sent together with `metadata_value`. Nested paths are not supported."
          },
          {
            "name": "metadata_value",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 500
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact value `metadata_key` must equal. Matching is exact, not partial, and case-sensitive. Must be sent together with `metadata_key`.",
              "title": "Metadata Value"
            },
            "description": "Exact value `metadata_key` must equal. Matching is exact, not partial, and case-sensitive. Must be sent together with `metadata_key`."
          },
          {
            "name": "user_email",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 320
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to orders placed by one org teammate, matched as a case-insensitive substring of their email. Only ever narrows within the caller's organization; a solo user can only match their own address.",
              "title": "User Email"
            },
            "description": "Filter to orders placed by one org teammate, matched as a case-insensitive substring of their email. Only ever narrows within the caller's organization; a solo user can only match their own address."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional expansions. `tracking_events` embeds the full carrier checkpoint timeline (and latest status) on each tracking number; omitted by default to keep list payloads small.",
              "title": "Include"
            },
            "description": "Optional expansions. `tracking_events` embeds the full carrier checkpoint timeline (and latest status) on each tracking number; omitted by default to keep list payloads small."
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orders/export": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Export Orders Csv",
        "description": "Stream the current user's orders as a CSV file.\n\nTakes the same filters as ``GET /orders`` (via the shared\n``_visible_orders_filter``) so an export always contains exactly the rows\nthe caller was looking at — but no ``limit``/``offset``: the export covers\nthe whole filtered set, paged internally so memory stays flat.",
        "operationId": "export_orders_csv_orders_export_get",
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by order ID (partial match)",
              "title": "Order Id"
            },
            "description": "Filter by order ID (partial match)"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Partial match on order ID OR tracking number",
              "title": "Search"
            },
            "description": "Partial match on order ID OR tracking number"
          },
          {
            "name": "status_filter",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by order status",
              "title": "Status Filter"
            },
            "description": "Filter by order status"
          },
          {
            "name": "merchant_order_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by the retailer's own order number (exact match)",
              "title": "Merchant Order Id"
            },
            "description": "Filter by the retailer's own order number (exact match)"
          },
          {
            "name": "shipping_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "description": "Shipping recipient's name (case-insensitive partial match)",
              "title": "Shipping Name"
            },
            "description": "Shipping recipient's name (case-insensitive partial match)"
          },
          {
            "name": "tracking_status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to orders having at least one tracking number with this status",
              "title": "Tracking Status"
            },
            "description": "Filter to orders having at least one tracking number with this status"
          },
          {
            "name": "has_tracking",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only orders with (true) or without (false) tracking",
              "title": "Has Tracking"
            },
            "description": "Only orders with (true) or without (false) tracking"
          },
          {
            "name": "return_status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "`open` or `closed` return requests; omit for no filter",
              "title": "Return Status"
            },
            "description": "`open` or `closed` return requests; omit for no filter"
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only orders created at/after this instant (inclusive)",
              "title": "Created After"
            },
            "description": "Only orders created at/after this instant (inclusive)"
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only orders created before this instant (exclusive)",
              "title": "Created Before"
            },
            "description": "Only orders created before this instant (exclusive)"
          },
          {
            "name": "metadata_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "description": "Top-level `metadata` key to match; send with `metadata_value`",
              "title": "Metadata Key"
            },
            "description": "Top-level `metadata` key to match; send with `metadata_value`"
          },
          {
            "name": "metadata_value",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 500
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact value `metadata_key` must equal; send with `metadata_key`",
              "title": "Metadata Value"
            },
            "description": "Exact value `metadata_key` must equal; send with `metadata_key`"
          },
          {
            "name": "user_email",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 320
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to orders placed by one org teammate, matched as a case-insensitive substring of their email. Only ever narrows within the caller's organization; a solo user can only match their own address.",
              "title": "User Email"
            },
            "description": "Filter to orders placed by one org teammate, matched as a case-insensitive substring of their email. Only ever narrows within the caller's organization; a solo user can only match their own address."
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file of the filtered orders.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orders/test-products": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "List Test Products",
        "description": "Get list of test products for sandbox testing.\n\nReturns list of test product URLs that can be used with test API keys\nto trigger different test scenarios.",
        "operationId": "list_test_products_orders_test_products_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response List Test Products Orders Test Products Get"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order",
        "description": "Retrieves an order by its ID",
        "operationId": "get_order_orders__order_id__get",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Order Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}/timeline": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order Timeline",
        "description": "Customer-facing lifecycle timeline for an order.\n\nDerived on read from existing data — no dedicated storage. Merges the\nplacement outcome (OrderLog) with carrier tracking state (TrackingNumber /\nTrackingCheckpoint) into an ordered list of milestones. This is the order's\nstory to the customer, distinct from the admin-only job/automation log.",
        "operationId": "get_order_timeline_orders__order_id__timeline_get",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Order Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderTimelineResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}/cancel": {
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Cancel Order",
        "description": "Cancel an order by its ID. Orders can only be cancelled if they are pending.",
        "operationId": "cancel_order_orders__order_id__cancel_post",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Order Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/products/search": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "Search Products",
        "description": "Search for products on a retailer.\n\n**Best Buy returns a partial page.** Best Buy server-renders only about 4 of\nthe ~24 products on a search page and loads the rest in the browser, so each\npage yields roughly 4 results rather than a full page. Ranking, pricing and\navailability are Best Buy's own; there are simply fewer items per page. Page\nthrough with `next_page` to collect more — `next_page` reflects whether Best\nBuy has further results, not how many came back in this response.\n\n**Shopify stores are their own retailer**: pass the store's domain as\n`retailer` (e.g. `retailer=yetch.studio`; any Shopify-powered storefront\nworks). Results are the store's own top matches (~10) and there is no\npagination, so `next_page` is always null and `page` must be omitted or 1.\n`product_id` is the store-scoped product handle to pass to the details\nendpoint with the same `retailer`.\n\n**Etsy search covers US shops, priced in USD.** Etsy sellers price in their\nown currency and a single page routinely mixes several, which makes `price`\nincomparable across a result set — so search is narrowed to US-located\nshops and any remaining non-USD listing is dropped. `currency_code` is set\non every result and is always `USD` here, and prices are never converted,\nso the number is what the seller charges. Because the currency check runs\nafter Etsy paginates, **a page can come back short while more results still\nexist** — page on with `next_page`. (Details is neither narrowed nor\nfiltered: it returns any listing, in its own currency.)\n\nEtsy results carry no `stars`/`num_reviews` — Etsy publishes a rating for\nthe *shop*, not the listing, and reporting a seller's rating as the\nproduct's would be misleading; `brand` carries the shop name, and the\ndetails endpoint reports the shop's rating explicitly. `product_id` is the\nnumeric listing id.\n\n**Billing.** This is a metered data call: $0.01 is drawn from your wallet per successful request, before any order is placed. An empty wallet gets `402` instead. Sandbox (`zn_test_`) calls are free and never touch the live wallet.",
        "operationId": "search_products_products_search_get",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search term",
              "title": "Query"
            },
            "description": "Search term"
          },
          {
            "name": "retailer",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Retailer identifier: amazon, walmart, bestbuy, etsy, or a Shopify store's domain (e.g. retailer=yetch.studio)",
              "title": "Retailer"
            },
            "description": "Retailer identifier: amazon, walmart, bestbuy, etsy, or a Shopify store's domain (e.g. retailer=yetch.studio)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Page number for pagination",
              "title": "Page"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "free_shipping",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only return items that ship for free (Walmart and Best Buy: ship price of 0). Currently a no-op for Amazon: the upstream search data under-reports Prime, so filtering on it would drop valid items — Amazon results are returned unfiltered. Filtering happens after pagination, so per-page counts vary; use `next_page` in the response to keep paging — an empty page with a non-null `next_page` is not the end of results. Rejected for Shopify stores: their search data carries no shipping information, so the filter cannot be honored.",
              "default": false,
              "title": "Free Shipping"
            },
            "description": "Only return items that ship for free (Walmart and Best Buy: ship price of 0). Currently a no-op for Amazon: the upstream search data under-reports Prime, so filtering on it would drop valid items — Amazon results are returned unfiltered. Filtering happens after pagination, so per-page counts vary; use `next_page` in the response to keep paging — an empty page with a non-null `next_page` is not the end of results. Rejected for Shopify stores: their search data carries no shipping information, so the filter cannot be honored."
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized search results. Common fields are always present; retailer-specific fields are null or omitted for other retailers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSearchResponse"
                },
                "example": {
                  "status": "completed",
                  "results": [
                    {
                      "product_id": "B000NPYY04",
                      "title": "Nature's Bounty Fish Oil, 1200 mg Omega-3, 200 Rapid Release Softgels",
                      "image": "https://m.media-amazon.com/images/I/51KGjV22PWL._AC_US218_.jpg",
                      "brand": "Nature's Bounty",
                      "price": 1248,
                      "stars": 4.5,
                      "num_reviews": 39510,
                      "num_offers_estimate": 12,
                      "num_sales": 30000,
                      "product_details": [
                        "200 Count (Pack of 1)"
                      ],
                      "fresh": false,
                      "prime": true,
                      "pantry": false,
                      "addon": false
                    },
                    {
                      "product_id": "B004U3Y9FU",
                      "title": "Nature Made Burpless Fish Oil 1000 mg Softgels, 150 Count",
                      "image": "https://m.media-amazon.com/images/I/516F1UWawAL._AC_US218_.jpg",
                      "brand": "Nature Made",
                      "price": 1299,
                      "stars": 4.7,
                      "num_reviews": 22087,
                      "num_offers_estimate": 8,
                      "num_sales": 20000,
                      "product_details": [
                        "150 Count (Pack of 1)"
                      ],
                      "fresh": false,
                      "prime": true,
                      "pantry": false,
                      "addon": false
                    }
                  ],
                  "next_page": 2
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient wallet balance for the data-API fee. Fund the wallet (or check `GET /wallet/me`) and retry. Postpaid plan customers are never gated here.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                },
                "example": {
                  "detail": "Insufficient wallet balance for data API call"
                }
              }
            }
          }
        },
        "x-metered": {
          "currency": "USD",
          "amount": "0.01",
          "unit": "call",
          "paid_from": "wallet"
        }
      }
    },
    "/products/{product_id}/offers": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "Get Product Offers",
        "description": "Get offers for a product from a retailer.\n\nNot available for Shopify stores: a storefront lists one seller (itself),\nso per-variant price and availability live on the details endpoint instead.\n\n**Billing.** This is a metered data call: $0.01 is drawn from your wallet per successful request, before any order is placed. An empty wallet gets `402` instead. Sandbox (`zn_test_`) calls are free and never touch the live wallet.",
        "operationId": "get_product_offers_products__product_id__offers_get",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Product Id"
            }
          },
          {
            "name": "retailer",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Retailer identifier: amazon, walmart, bestbuy, etsy, or a Shopify store's domain (e.g. retailer=yetch.studio)",
              "title": "Retailer"
            },
            "description": "Retailer identifier: amazon, walmart, bestbuy, etsy, or a Shopify store's domain (e.g. retailer=yetch.studio)"
          },
          {
            "name": "max_age",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 31
                },
                {
                  "type": "null"
                }
              ],
              "description": "Max response age in seconds, at least 31 (mutually exclusive with newer_than)",
              "title": "Max Age"
            },
            "description": "Max response age in seconds, at least 31 (mutually exclusive with newer_than)"
          },
          {
            "name": "newer_than",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum retrieval timestamp, as a unix time (mutually exclusive with max_age). Windows shorter than 31s are widened to it.",
              "title": "Newer Than"
            },
            "description": "Minimum retrieval timestamp, as a unix time (mutually exclusive with max_age). Windows shorter than 31s are widened to it."
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Return immediately with status=processing",
              "title": "Async"
            },
            "description": "Return immediately with status=processing"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Seller offers for the product, passed through from the retailer. `status` is always present; `offers` is populated when `status` is `completed`.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ProductOffers",
                  "type": "object",
                  "description": "Every seller's offer for the product, passed through from the retailer. Shopify stores and Etsy listings have a single seller, so they are rejected here and report price and availability on the details endpoint; Best Buy's per-condition prices are on the details endpoint too.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "processing",
                        "failed"
                      ],
                      "description": "`completed` when the payload below is populated. `processing` when `async=true` was passed and the fetch is still running — poll again. `failed` when the retailer returned an error; see `code` and `message`."
                    },
                    "code": {
                      "type": "string",
                      "description": "Only on `status: failed`. Machine-readable error code, e.g. `product_not_found`, `invalid_request`."
                    },
                    "message": {
                      "type": "string",
                      "description": "Only on `status: failed`. Human-readable explanation."
                    },
                    "retailer": {
                      "type": "string",
                      "description": "Retailer that served the offers, e.g. `amazon`."
                    },
                    "asin": {
                      "type": "string",
                      "description": "Amazon only. The product's ASIN."
                    },
                    "offers": {
                      "type": "array",
                      "items": {
                        "title": "ProductOffer",
                        "type": "object",
                        "properties": {
                          "offer_id": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Retailer's identifier for this offer. Amazon: the offer listing id."
                          },
                          "price": {
                            "type": "integer",
                            "description": "Item price in cents, excluding shipping."
                          },
                          "condition": {
                            "type": "string",
                            "description": "Item condition.",
                            "enum": [
                              "New",
                              "Refurbished",
                              "Used - Like New",
                              "Used - Very Good",
                              "Used - Good",
                              "Used - Acceptable",
                              "Unacceptable"
                            ]
                          },
                          "available": {
                            "type": "boolean",
                            "description": "Whether the offer can currently be bought."
                          },
                          "seller": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Retailer's seller id."
                              },
                              "name": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Seller display name."
                              },
                              "num_ratings": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Seller's lifetime rating count."
                              },
                              "percent_positive": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Share of positive seller ratings, 0–100."
                              },
                              "first_party": {
                                "type": "boolean",
                                "description": "Sold by the retailer itself (e.g. Amazon.com)."
                              }
                            },
                            "description": "Who is selling this offer."
                          },
                          "marketplace_fulfilled": {
                            "type": "boolean",
                            "description": "Shipped by the retailer rather than the seller. Amazon: the offer ships with Prime."
                          },
                          "prime_only": {
                            "type": "boolean",
                            "description": "Amazon only. Only Prime members can buy this offer."
                          },
                          "international": {
                            "type": "boolean",
                            "description": "Ships from outside the United States."
                          },
                          "addon": {
                            "type": "boolean",
                            "description": "Amazon only. Add-on item that can only be bought alongside other items."
                          },
                          "minimum_quantity": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Minimum order quantity, when the seller imposes one."
                          },
                          "handling_days": {
                            "type": "object",
                            "properties": {
                              "min": {
                                "type": "integer",
                                "description": "Minimum handling time in days."
                              },
                              "max": {
                                "type": "integer",
                                "description": "Maximum handling time in days."
                              }
                            },
                            "description": "Time before the seller ships."
                          },
                          "shipping_options": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Shipping speed, e.g. `standard`, `one-day`."
                                },
                                "price": {
                                  "type": "integer",
                                  "description": "Shipping price in cents."
                                },
                                "delivery_days": {
                                  "type": "object",
                                  "properties": {
                                    "min": {
                                      "type": "integer",
                                      "description": "Earliest delivery, in days."
                                    },
                                    "max": {
                                      "type": "integer",
                                      "description": "Latest delivery, in days."
                                    }
                                  }
                                }
                              }
                            },
                            "description": "Shipping methods offered by this seller."
                          }
                        }
                      },
                      "description": "One entry per seller offer. Empty when the product has no buyable offers."
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix time the offers were retrieved."
                    }
                  },
                  "required": [
                    "status"
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "amazon": {
                    "summary": "Amazon",
                    "value": {
                      "status": "completed",
                      "retailer": "amazon",
                      "asin": "B00KFP6NHO",
                      "offers": [
                        {
                          "offer_id": "5ZwHjTcqVwZHZmB3IOKCbwUmf5NmT1fnfGhbwOQ0B5",
                          "price": 799,
                          "condition": "New",
                          "available": true,
                          "seller": {
                            "id": "ATVPDKIKX0DER",
                            "name": "Amazon.com",
                            "first_party": true
                          },
                          "marketplace_fulfilled": true,
                          "prime_only": false,
                          "international": false,
                          "addon": false,
                          "handling_days": {
                            "min": 0,
                            "max": 0
                          },
                          "shipping_options": [
                            {
                              "name": "standard",
                              "price": 0,
                              "delivery_days": {
                                "min": 2,
                                "max": 5
                              }
                            },
                            {
                              "name": "one-day",
                              "price": 599,
                              "delivery_days": {
                                "min": 1,
                                "max": 1
                              }
                            }
                          ]
                        },
                        {
                          "offer_id": "eMLzuculxk",
                          "price": 628,
                          "condition": "Used - Very Good",
                          "available": true,
                          "seller": {
                            "id": "A2L77EE7U53NWQ",
                            "name": "Amazon Warehouse",
                            "num_ratings": 218432,
                            "percent_positive": 93,
                            "first_party": false
                          },
                          "marketplace_fulfilled": true,
                          "prime_only": false,
                          "international": false,
                          "addon": false,
                          "handling_days": {
                            "min": 0,
                            "max": 1
                          },
                          "shipping_options": [
                            {
                              "name": "standard",
                              "price": 0,
                              "delivery_days": {
                                "min": 4,
                                "max": 4
                              }
                            }
                          ]
                        }
                      ],
                      "timestamp": 1756425600
                    }
                  },
                  "processing": {
                    "summary": "Still fetching (async=true)",
                    "value": {
                      "status": "processing"
                    }
                  },
                  "failed": {
                    "summary": "Retailer error",
                    "value": {
                      "status": "failed",
                      "code": "product_not_found",
                      "message": "No product found for id B00KFP6NHO on amazon"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient wallet balance for the data-API fee. Fund the wallet (or check `GET /wallet/me`) and retry. Postpaid plan customers are never gated here.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                },
                "example": {
                  "detail": "Insufficient wallet balance for data API call"
                }
              }
            }
          }
        },
        "x-metered": {
          "currency": "USD",
          "amount": "0.01",
          "unit": "call",
          "paid_from": "wallet"
        }
      }
    },
    "/products/{product_id}": {
      "get": {
        "tags": [
          "products"
        ],
        "summary": "Get Product Details",
        "description": "Get details for a product from a retailer.\n\n**Best Buy is addressed by `bsin`**, not by the numeric SKU — the bsin is the\ntrailing id in a Best Buy product URL (`/product/{slug}/{bsin}`). Search\nresults return the SKU as `product_id` and also carry the bsin, so pass the\nbsin here. The response repeats the SKU as `sku` for cross-referencing.\n\nUnlike `/search`, a Best Buy detail response is complete: detail pages are\nfully server-rendered, so nothing is withheld for client-side loading.\n\n**Shopify is addressed by (store, handle)**: pass the store's domain as\n`retailer` (e.g. `retailer=yetch.studio`) and the product handle — the slug\nin `/products/{handle}`, returned as `product_id` by search — as\n`product_id`. The response includes per-variant price and availability.\n`async` is not supported for Shopify stores.\n\n**Etsy is addressed by the numeric listing id** (returned as `product_id` by\nsearch). `price` is in minor units of `currency_code`, not converted to USD.\n\nEtsy ratings are the **shop's**, reported as `shop_review_average` /\n`shop_review_count`, and both cover only the **past year** — an established\nshop with no recent sales reports 0, and an unrated shop reports a null\naverage rather than 0.0 stars. `stars` and `num_reviews` are deliberately\nnot set: they mean a product's rating everywhere else in this API, and a\nseller's rating is a different claim.\n\n`listing_type` is `physical`, `download` or `both` — a download has nothing\nto ship. `available` accounts for the shop being on vacation as well as\nstock, so it can be false on an in-stock active listing; `shop_is_vacation`\nsays which it was. `variants` is populated only when Etsy exposes a\nlisting's inventory matrix — check `has_variations` to tell \"no variants\"\nfrom \"variants not visible\". `taxonomy_id` is Etsy's raw category id; there\nis no category name yet. `async` is not supported for Etsy.\n\n**Billing.** This is a metered data call: $0.01 is drawn from your wallet per successful request, before any order is placed. An empty wallet gets `402` instead. Sandbox (`zn_test_`) calls are free and never touch the live wallet.",
        "operationId": "get_product_details_products__product_id__get",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Product Id"
            }
          },
          {
            "name": "retailer",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Retailer identifier: amazon, walmart, bestbuy, etsy, or a Shopify store's domain (e.g. retailer=yetch.studio)",
              "title": "Retailer"
            },
            "description": "Retailer identifier: amazon, walmart, bestbuy, etsy, or a Shopify store's domain (e.g. retailer=yetch.studio)"
          },
          {
            "name": "max_age",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 31
                },
                {
                  "type": "null"
                }
              ],
              "description": "Max response age in seconds, at least 31 (mutually exclusive with newer_than)",
              "title": "Max Age"
            },
            "description": "Max response age in seconds, at least 31 (mutually exclusive with newer_than)"
          },
          {
            "name": "newer_than",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum retrieval timestamp, as a unix time (mutually exclusive with max_age). Windows shorter than 31s are widened to it.",
              "title": "Newer Than"
            },
            "description": "Minimum retrieval timestamp, as a unix time (mutually exclusive with max_age). Windows shorter than 31s are widened to it."
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Return immediately with status=processing",
              "title": "Async"
            },
            "description": "Return immediately with status=processing"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details. The payload is the retailer's, passed through unmodified, so the exact field set depends on `retailer` — the schema below lists every field each retailer returns, and the example dropdown shows one real response per retailer. `status` is always present.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ProductDetails",
                  "type": "object",
                  "description": "Product details, passed through from the retailer. Common fields are listed first; fields marked with a retailer name are only present in that retailer's payload. Anything the retailer returns that is not listed here is passed through as well.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "processing",
                        "failed"
                      ],
                      "description": "`completed` when the payload below is populated. `processing` when `async=true` was passed and the fetch is still running — poll again. `failed` when the retailer returned an error; see `code` and `message`."
                    },
                    "code": {
                      "type": "string",
                      "description": "Only on `status: failed`. Machine-readable error code, e.g. `product_not_found`, `invalid_request`."
                    },
                    "message": {
                      "type": "string",
                      "description": "Only on `status: failed`. Human-readable explanation."
                    },
                    "retailer": {
                      "type": "string",
                      "description": "Retailer that served the payload: `amazon`, `walmart`, `bestbuy`, `etsy`, or `shopify` (with the store's hostname in `domain`)."
                    },
                    "product_id": {
                      "type": "string",
                      "description": "Identifier you passed in: ASIN (Amazon), item id (Walmart), bsin (Best Buy), product handle (Shopify), or listing id (Etsy)."
                    },
                    "title": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Product title."
                    },
                    "brand": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Brand or manufacturer. Shopify: the store's `vendor`. Etsy: not set — see `shop_name`."
                    },
                    "main_image": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "URL of the primary product image."
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "URLs of all product images."
                    },
                    "product_description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Long-form description (Amazon, Walmart, Best Buy). Shopify and Etsy use `description`."
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Long-form description (Shopify, Etsy). Plain text on Etsy; may contain HTML on Shopify."
                    },
                    "price": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Price in cents (minor units of `currency_code` on Etsy). Amazon: the buy-box price, which is not always present and is often not the cheapest offer — use the offers endpoint for pricing. Best Buy: the `New` condition price. Shopify: the default variant's price."
                    },
                    "stars": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Average product rating, 0–5 (Amazon, Walmart, Best Buy). Not set on Etsy — see `shop_review_average`."
                    },
                    "review_count": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Number of product reviews (Amazon, Walmart)."
                    },
                    "num_reviews": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Number of product reviews (Best Buy)."
                    },
                    "feature_bullets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Highlight bullets (Amazon, Walmart, Best Buy)."
                    },
                    "product_details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Specification lines, e.g. `Item model number: 5438` (Amazon, Walmart, Best Buy)."
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Category breadcrumb, broadest first (Amazon, Walmart, Best Buy)."
                    },
                    "variant_specifics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dimension": {
                            "type": "string",
                            "description": "Variant axis, e.g. `Color` or `Size`."
                          },
                          "value": {
                            "type": "string",
                            "description": "Value on that axis, e.g. `Black` or `Large`."
                          }
                        }
                      },
                      "description": "The variant axes and values that identify *this* product (Amazon, Walmart, Best Buy)."
                    },
                    "all_variants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "product_id": {
                            "type": "string",
                            "description": "Identifier of that variant."
                          },
                          "variant_specifics": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "dimension": {
                                  "type": "string",
                                  "description": "Variant axis, e.g. `Color` or `Size`."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Value on that axis, e.g. `Black` or `Large`."
                                }
                              }
                            },
                            "description": "Axis/value pairs for that variant."
                          }
                        }
                      },
                      "description": "Every sibling variant of this product and its identifier (Amazon, Walmart)."
                    },
                    "epids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Identifier type: `UPC`, `EAN`, `MPN`, …"
                          },
                          "value": {
                            "type": "string",
                            "description": "Identifier value."
                          }
                        }
                      },
                      "description": "External product identifiers (Amazon, Walmart, Best Buy)."
                    },
                    "epids_map": {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "The same identifiers keyed by type, e.g. `{\"UPC\": \"048526054381\"}` (Amazon, Walmart)."
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix time the retailer page was retrieved (Amazon, Walmart)."
                    },
                    "url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Canonical product URL (Shopify, Etsy)."
                    },
                    "available": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Whether the product can currently be bought (Shopify, Etsy). Etsy: false while the shop is on vacation even if stock exists — see `shop_is_vacation`."
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Merchant-assigned tags (Shopify, Etsy)."
                    },
                    "asin": {
                      "type": "string",
                      "description": "Amazon only. The product's ASIN."
                    },
                    "original_retail_price": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Amazon only. Crossed-out list price in cents, when the retailer shows one."
                    },
                    "ship_price": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Amazon only. Shipping price in cents."
                    },
                    "question_count": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Amazon only. Number of customer questions."
                    },
                    "package_dimensions": {
                      "type": "object",
                      "properties": {
                        "weight": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "description": "Numeric amount."
                            },
                            "unit": {
                              "type": "string",
                              "description": "Unit, e.g. `inches`, `ounces`, `pounds`."
                            }
                          }
                        },
                        "size": {
                          "type": "object",
                          "properties": {
                            "width": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number",
                                  "description": "Numeric amount."
                                },
                                "unit": {
                                  "type": "string",
                                  "description": "Unit, e.g. `inches`, `ounces`, `pounds`."
                                }
                              }
                            },
                            "depth": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number",
                                  "description": "Numeric amount."
                                },
                                "unit": {
                                  "type": "string",
                                  "description": "Unit, e.g. `inches`, `ounces`, `pounds`."
                                }
                              }
                            },
                            "length": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number",
                                  "description": "Numeric amount."
                                },
                                "unit": {
                                  "type": "string",
                                  "description": "Unit, e.g. `inches`, `ounces`, `pounds`."
                                }
                              }
                            }
                          }
                        }
                      },
                      "description": "Amazon only. Shipping weight and package size."
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Amazon only. Author names, for books."
                    },
                    "aplus_html": {
                      "type": "string",
                      "description": "Amazon only. `present` when the listing has A+ marketing content. The HTML itself is not returned."
                    },
                    "fresh": {
                      "type": "boolean",
                      "description": "Amazon only. Amazon Fresh item."
                    },
                    "pantry": {
                      "type": "boolean",
                      "description": "Amazon only. Amazon Pantry item."
                    },
                    "handmade": {
                      "type": "boolean",
                      "description": "Amazon only. Amazon Handmade item."
                    },
                    "digital": {
                      "type": "boolean",
                      "description": "Amazon only. Digital-only item (software, video, game codes). Zinc cannot order these."
                    },
                    "buyapi_hint": {
                      "type": "boolean",
                      "description": "Amazon only. `false` when the item cannot be ordered through Zinc; `true` when it might be."
                    },
                    "sku": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Best Buy only. Numeric SKU, for cross-referencing with search results (which return the SKU as `product_id`)."
                    },
                    "product_url": {
                      "type": "string",
                      "description": "Best Buy only. Canonical product URL."
                    },
                    "offers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "condition": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Best Buy's own label: `New`, `Open-Box Excellent`, …"
                          },
                          "price": {
                            "type": "integer",
                            "description": "Price in cents for this condition."
                          },
                          "availability": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "`InStock`, `OutOfStock`, `PreOrder`, …"
                          },
                          "new": {
                            "type": "boolean",
                            "description": "Whether this is the new-condition offer."
                          },
                          "seller": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "Seller name."
                          }
                        }
                      },
                      "description": "Best Buy only. Price per condition (new plus each open-box grade). For Amazon and Walmart offers use the offers endpoint."
                    },
                    "domain": {
                      "type": "string",
                      "description": "Shopify only. Store hostname you passed as `retailer`."
                    },
                    "handle": {
                      "type": "string",
                      "description": "Shopify only. Product handle (same value as `product_id`)."
                    },
                    "shopify_product_id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Shopify only. The store's numeric product id."
                    },
                    "product_type": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Shopify only. The store's product type."
                    },
                    "price_min": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Shopify only. Cheapest variant price in cents."
                    },
                    "price_max": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Shopify only. Most expensive variant price in cents."
                    },
                    "listing_id": {
                      "type": "string",
                      "description": "Etsy only. Listing id (same as `product_id`)."
                    },
                    "currency_code": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Etsy only. ISO 4217 currency of `price`, e.g. `USD`, `EUR`. Prices are not converted."
                    },
                    "quantity": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Etsy only. Units the shop has in stock."
                    },
                    "state": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Etsy only. Listing state: `active`, `inactive`, `sold_out`, `expired`, …"
                    },
                    "materials": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Etsy only. Materials listed by the shop."
                    },
                    "taxonomy_id": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Etsy only. Etsy's category id. No category name is returned."
                    },
                    "who_made": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Etsy only. `i_did`, `someone_else`, or `collective`."
                    },
                    "when_made": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Etsy only. Etsy's production-era bucket, e.g. `made_to_order`, `2020_2026`, `before_2006`."
                    },
                    "is_supply": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Etsy only. Craft supply, not a finished good."
                    },
                    "is_customizable": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Etsy only. Buyer can request customization."
                    },
                    "listing_type": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Etsy only. `physical`, `download`, or `both`. A download has nothing to ship."
                    },
                    "num_favorers": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Etsy only. Users who favorited the listing."
                    },
                    "views": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "null"
                        }
[...]
