{
  "openapi": "3.1.0",
  "info": {
    "title": "Scope API",
    "version": "1.1.0",
    "description": "REST surface for ELM, firm-OS, and external-system integration with Scope. Matter sync, dispatch creation and award, audit log, LEDES + audit exports, carrier feed, vendor roster, read/intelligence insights, and outbound webhooks. Every endpoint is tenant-scoped, rate-limited, and audit-logged. Auth: a PAT, an OAuth access token (authorization_code), or a partner client_credentials token. A partner token additionally sends X-Scope-On-Behalf-Of: <firm_org_id> and is gated by an explicit firm grant.",
    "x-jentic-source-url": "https://scope.bid/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://scope.bid",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/matters/sync": {
      "post": {
        "summary": "Sync a matter from an ELM / CMS",
        "description": "Upserts a Scope matter keyed on (tenant, external_matter_id). Re-syncing the same external id updates rather than duplicates. RBAC: matter.create.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "external_matter_id",
                  "matter_name"
                ],
                "properties": {
                  "integration_source": {
                    "type": "string",
                    "example": "TeamConnect_v6"
                  },
                  "external_matter_id": {
                    "type": "string"
                  },
                  "external_claim_number": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "matter_name": {
                    "type": "string"
                  },
                  "parties": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "jurisdiction": {
                    "type": "object",
                    "properties": {
                      "state": {
                        "type": "string"
                      },
                      "county": {
                        "type": "string"
                      },
                      "zip_code": {
                        "type": "string"
                      }
                    }
                  },
                  "assigned_users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "billing_guidelines_profile": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matter updated."
          },
          "201": {
            "description": "Matter created."
          },
          "400": {
            "description": "Missing required fields."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/dispatches": {
      "post": {
        "summary": "Create a dispatch on a matter",
        "description": "Sets the matter's service category, opens it, and runs the rate-card dispatcher. A dispatch requested through the API does NOT go out on its own: it parks for human approval and returns 409 (see responses). RBAC: the dispatch.create capability.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "scope_id",
                  "service_category"
                ],
                "properties": {
                  "scope_id": {
                    "type": "string",
                    "description": "Matter id (SC-XXXX or UUID)."
                  },
                  "service_category": {
                    "type": "string",
                    "description": "Service category slug."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The request was accepted; the outcome object says what happened, and it may be that nothing was dispatched. outcome.status 'no_coverage' means no qualified professional covers this matter (dispatch_id is null and nothing was sent); 'incomplete_intake' means required intake fields are missing (listed in missing_fields; nothing was sent). A dispatch that parks for approval or is held returns 409, not 201."
          },
          "400": {
            "description": "Missing fields or unknown category."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Scope not found."
          },
          "409": {
            "description": "Nothing was dispatched and nothing is committed by this request (committed: false). The body is one of: error 'approval_required' with outcome.status 'pending_approval' (a person at the firm must approve this professional at this price; the approver is notified with a release link and can release it from /approvals); error 'no_approver_at_firm' (the firm has no user on Scope to route the approval to); a spend-ceiling hold, outcome.status 'blocked_by_ceiling' (the dispatch crosses the firm's period spend ceiling and nothing was sent; it can go out once Scope raises the firm's ceiling, as the resolution field says: contact info@scope.bid); error 'records_card_incomplete' (no available records professional lists their at-cost rates on their rate card for this category); error 'already_engaged' (the matter already has a work order); error 'award_pending_approval' or 'award_being_released' (an award on this matter is waiting for approval, or is being committed, under its current service category, so the category was not changed; 'award_being_released' is retryable); or error 'requested_by_conflict' (requested_by_user_id names someone other than the matter's current contact; resend without it to dispatch). On 'approval_required', outcome.total_cents is the professional's price. Beside the professional's price, five fields say what the firm will be billed if it approves. firm_total_cents (integer or null): the estimated firm total, the professional's price plus Scope's fee line, computed with the invoice's own arithmetic on the terms on file now; null when Scope cannot determine the fee before the job is sent. scope_fee_cents (integer or null): Scope's fee line as it would be billed; null when firm_total_cents is null. scope_fee_label (string): the invoice line Scope's fee appears under, \"Service coordination and compliance record\". firm_total_is_estimate (boolean or null): true whenever firm_total_cents is a number, because the amount billed is set when the job is sent (for example, the professional's current rates apply then); null when firm_total_cents is null. billing_note (string): one sentence for a person: the estimated firm total with the invoice's two lines and why it can move; or the professional's price and the sentence that Scope's fee is added on the invoice; or, when Scope could not read the price, that sentence alone. These fields describe the bill; they do not change what is approved or sent. Only the 'approval_required' body carries these fields."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "Dispatch failed; nothing was sent."
          },
          "503": {
            "description": "A transient read failure stopped the approval step. Nothing was dispatched, nothing is committed, and nothing was parked (committed: false, retryable: true). Retry the request."
          }
        }
      }
    },
    "/api/v1/dispatches/{dispatch_id}": {
      "get": {
        "summary": "Read dispatch status",
        "parameters": [
          {
            "name": "dispatch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "PJ-XXXX or UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "Full dispatch state: the professional, pricing, lifecycle timestamps, UTBMS codes, recent audit events, and dashboard, the matter envelope (the same one scope_get_matter returns), whose data.execution is the matter's execution record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dispatch_id": {
                      "type": "string"
                    },
                    "scope_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": "string"
                    },
                    "vendor": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "vendor_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        }
                      }
                    },
                    "pricing": {
                      "type": "object",
                      "properties": {
                        "awarded_amount": {
                          "type": [
                            "number",
                            "null"
                          ]
                        }
                      }
                    },
                    "utbms": {
                      "type": "object",
                      "properties": {
                        "task_code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "activity_code": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "lifecycle": {
                      "type": "object",
                      "properties": {
                        "awarded_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "completed_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "confirmed_at": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        }
                      }
                    },
                    "recent_events": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "dashboard": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "The matter envelope for the dispatch's matter. Null when the dispatch has no matter or the envelope could not be built.",
                      "properties": {
                        "summary": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "matter"
                              ]
                            },
                            "title": {
                              "type": "string"
                            },
                            "totals": {
                              "type": "object"
                            },
                            "rows": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "metadata": {
                              "type": "object",
                              "description": "scope_id, display_id, status, dispatch_id, awarded_vendor_id, work_order_status, work_completed, work_accepted, work_disputed, unread_messages."
                            },
                            "execution": {
                              "type": [
                                "object",
                                "null"
                              ],
                              "description": "The matter's execution record, built by the same loader and builder as the firm's matter page, so the two never disagree. Null for a draft, or when the record or its work order could not be read; never a partial guess.",
                              "properties": {
                                "stages": {
                                  "type": "array",
                                  "description": "Every step of the record, in the order the firm's matter page shows them.",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "stage": {
                                        "type": "string",
                                        "enum": [
                                          "requested",
                                          "approval",
                                          "dispatched",
                                          "documents",
                                          "accepted",
                                          "started",
                                          "progress",
                                          "delivered",
                                          "checked",
                                          "review",
                                          "completed",
                                          "invoiced",
                                          "paid",
                                          "exception"
                                        ]
                                      },
                                      "key": {
                                        "type": "string"
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "state": {
                                        "type": "string",
                                        "enum": [
                                          "done",
                                          "current",
                                          "alert",
                                          "unknown",
                                          "reported",
                                          "superseded"
                                        ],
                                        "description": "done: recorded. current: in progress. alert: needs attention. unknown: not confirmed, or not checked (read check). reported: the professional's own report, not a fact Scope checked. superseded: it happened and does not hold for the live work order. Used for a CORE records milestone from an earlier work order, or from an earlier award of this work order (its note says which), and for the live run's 'Record checked' and 'Records checked' steps once a file the run now lists as checked was rejected, replaced or withdrawn. The marking is per run: the trail does not say which file a 'Record checked' step checked, so a check of an item the run later checked again with a new file reads by that new file."
                                      },
                                      "at": {
                                        "type": [
                                          "string",
                                          "null"
                                        ],
                                        "format": "date-time"
                                      },
                                      "note": {
                                        "type": [
                                          "string",
                                          "null"
                                        ]
                                      },
                                      "detail": {
                                        "type": [
                                          "string",
                                          "null"
                                        ]
                                      }
                                    }
                                  }
                                },
                                "next": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "The next expected step, when it is known."
                                },
                                "headline": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "Set when a professional came off the matter and nothing holds it now."
                                },
                                "check": {
                                  "type": [
                                    "object",
                                    "null"
                                  ],
                                  "description": "Records matters only. A person at Scope worked the CORE records run for the live work order and checked the records available against the firm's request: result checked means that person completed the run's check and every file it checked is still on the matter (not rejected, replaced or withdrawn). Nothing else is checked. Null on every other matter: serves, court runs and every other category carry no check step today (a serve's record states facts only, such as the attempts logged and a declaration signed in Scope, and none of them is a check), and a records matter with no run carries none either.",
                                  "properties": {
                                    "rule": {
                                      "type": [
                                        "string",
                                        "null"
                                      ],
                                      "enum": [
                                        "records",
                                        null
                                      ]
                                    },
                                    "result": {
                                      "type": "string",
                                      "enum": [
                                        "checked",
                                        "not_yet_checked",
                                        "not_checked",
                                        "unreadable"
                                      ],
                                      "description": "checked: a person at Scope completed the run's check and every file it checked is still on the matter. not_yet_checked: the run is open and the work order is not finished. not_checked: the work order finished with the run open, a file the run checked was rejected, replaced or withdrawn, or the run names no file for an item. unreadable: a read behind it failed."
                                    },
                                    "found": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "description": "Each fact Scope read that held."
                                    },
                                    "missing": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "description": "Full sentences: what is not there, or what could not be read."
                                    },
                                    "at": {
                                      "type": [
                                        "string",
                                        "null"
                                      ],
                                      "format": "date-time"
                                    }
                                  }
                                },
                                "exceptions": {
                                  "type": "array",
                                  "description": "Open exceptions: those that are still the latest word on the matter.",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string"
                                      },
                                      "label": {
                                        "type": "string"
                                      },
                                      "note": {
                                        "type": [
                                          "string",
                                          "null"
                                        ]
                                      },
                                      "at": {
                                        "type": [
                                          "string",
                                          "null"
                                        ],
                                        "format": "date-time"
                                      },
                                      "owner": {
                                        "type": "string",
                                        "enum": [
                                          "scope",
                                          "firm",
                                          "professional"
                                        ],
                                        "description": "Who acts next. scope only where Scope wrote the event or was alerted by it; never a promise that anyone is working on it."
                                      },
                                      "decision": {
                                        "type": [
                                          "object",
                                          "null"
                                        ],
                                        "description": "The decision needed from the firm, when one is.",
                                        "properties": {
                                          "text": {
                                            "type": "string"
                                          },
                                          "href": {
                                            "type": [
                                              "string",
                                              "null"
                                            ],
                                            "description": "A path on scope.bid, only where a page exists to make the decision."
                                          },
                                          "link_label": {
                                            "type": [
                                              "string",
                                              "null"
                                            ]
                                          }
                                        }
                                      },
                                      "contact": {
                                        "type": "string",
                                        "description": "How to reach Scope."
                                      }
                                    }
                                  }
                                },
                                "incomplete": {
                                  "type": "boolean",
                                  "description": "A read behind the record failed, so steps may be missing."
                                }
                              }
                            }
                          }
                        },
                        "render_hints": {
                          "type": "object"
                        },
                        "deep_link": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Dispatch not found."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/dispatches/{dispatch_id}/award": {
      "post": {
        "summary": "Award a dispatch to a vendor",
        "description": "Resolves vendor_name against the matter's qualified vendor set. An award requested through this endpoint does NOT commit the firm: it parks as a pending approval and returns 409, and the award commits when a person at the firm releases it from the approvals queue. A pre-authorization never covers a request made through this endpoint, so this holds whatever pre-authorized spending the firm has set. RBAC: the dispatch.award capability, or a partner token with the dispatch scope.",
        "parameters": [
          {
            "name": "dispatch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "vendor_name"
                ],
                "properties": {
                  "vendor_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Awarded. Not returned for an award requested through this endpoint today: the unconditional human-approval gate parks every such award (see 409), and the release happens from the firm's approvals queue, not by retrying this call."
          },
          "400": {
            "description": "vendor_name is required."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Dispatch not found."
          },
          "409": {
            "description": "Nothing was sent and nothing is committed. Parked for human approval is the ordinary outcome of a valid call: { error: 'approval_required', message, status: 'pending_approval', approval_id, committed: false, resolution } - a person at the firm is notified with a release link and releases it from /approvals. { error: 'no_approver_at_firm', status: 'no_approver_at_firm', approval_id: null } means the firm has no user on Scope to route the approval to: no approval exists and nobody was notified, and somebody has to join or claim the firm's workspace before re-running the award. A 409 with reason 'blocked_by_ceiling' means the firm's spend ceiling stopped the award before the approval gate: the body carries the ceiling detail instead of an approval, nothing was sent, and it can go out once Scope raises the firm's ceiling (contact info@scope.bid)."
          },
          "422": {
            "description": "vendor_name did not resolve to exactly one qualified vendor (no match or ambiguous; the body lists qualified_vendors), or the dispatch has no qualified vendors to award."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "A transient read failure stopped the approval step. Nothing was sent, nothing is committed, and nothing was parked (committed: false, retryable: true). Retry the request."
          }
        }
      }
    },
    "/api/v1/scopes/{scope_id}/audit": {
      "get": {
        "summary": "Paginated audit log for a matter",
        "parameters": [
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated audit events."
          },
          "404": {
            "description": "Scope not found."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/exports/ledes/{scope_id}": {
      "get": {
        "summary": "LEDES 1998B billing export",
        "description": "Returns a pipe-delimited LEDES 1998B file. RBAC: export.run.",
        "parameters": [
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1998B"
              ],
              "default": "1998B"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LEDES file.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Scope not found."
          }
        }
      }
    },
    "/api/v1/exports/audit/{scopefile}": {
      "get": {
        "summary": "Audit export (CSV or PDF)",
        "description": "The path is {scope_id}.csv or {scope_id}.pdf. Authorized by a carrier-feed token (query token) OR bearer/session with export.run.",
        "parameters": [
          {
            "name": "scopefile",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "SC-XXXX.csv or SC-XXXX.pdf"
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Carrier-feed token."
          }
        ],
        "responses": {
          "200": {
            "description": "CSV or PDF audit report.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "description": "Bad/expired/revoked token, or insufficient capability."
          },
          "404": {
            "description": "Scope not found."
          }
        }
      }
    },
    "/api/v1/scopes/{scope_id}/carrier-feed-token": {
      "post": {
        "summary": "Issue a carrier-feed token",
        "description": "RBAC: carrier_feed.issue (attorney or firm_admin).",
        "parameters": [
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ttl_days": {
                    "type": "integer",
                    "default": 30,
                    "maximum": 365
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token + feed_url + expiry."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "get": {
        "summary": "List carrier-feed tokens for a scope",
        "responses": {
          "200": {
            "description": "Token list."
          }
        }
      },
      "delete": {
        "summary": "Revoke a carrier-feed token",
        "parameters": [
          {
            "name": "scope_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked."
          }
        }
      }
    },
    "/api/v1/carrier-feed/{token}": {
      "get": {
        "summary": "Carrier feed (token-authorized)",
        "description": "No Scope account required. Returns scope metadata, every dispatch with its audit trail, spend totals, and signed links to the LEDES + audit exports.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Carrier feed JSON."
          },
          "403": {
            "description": "Bad/expired/revoked token."
          }
        }
      }
    },
    "/api/v1/vendors/roster": {
      "get": {
        "summary": "Vendor roster for the tenant",
        "description": "RBAC: roster.read.",
        "responses": {
          "200": {
            "description": "Roster entries."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Add or update a roster vendor",
        "description": "RBAC: roster.write.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "vendor_org_id",
                  "tier"
                ],
                "properties": {
                  "vendor_org_id": {
                    "type": "string"
                  },
                  "tier": {
                    "type": "string",
                    "enum": [
                      "primary",
                      "backup",
                      "excluded"
                    ]
                  },
                  "category_slug": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "locked_until": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upserted."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/vendors/roster/{vendor_id}": {
      "delete": {
        "summary": "Remove a vendor from the roster",
        "description": "RBAC: roster.write.",
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/insights/{kind}": {
      "get": {
        "summary": "Read/intelligence tools (REST parity with MCP)",
        "description": "Enveloped analytics: kind in spend, vendor-health, credential-alerts, conflict-log, market-rate, briefing. Returns summary + structured data + render_hints + deep link. Partner token needs the read scope. conflict-log requires party_name; market-rate requires category.",
        "parameters": [
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spend",
                "vendor-health",
                "credential-alerts",
                "conflict-log",
                "market-rate",
                "briefing"
              ]
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "spend: vendor|category|client|matter_type|jurisdiction|scope"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "days_ahead",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "party_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enveloped insight."
          },
          "400": {
            "description": "Missing required parameter."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/deliverables": {
      "get": {
        "summary": "List or search deliverables",
        "description": "scope_id lists a scope's deliverables; query searches the firm's vault. Partner token needs the read scope.",
        "parameters": [
          {
            "name": "scope_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deliverables."
          },
          "400": {
            "description": "Provide scope_id or query."
          }
        }
      }
    },
    "/api/v1/webhooks/subscriptions": {
      "post": {
        "summary": "Subscribe a callback URL to dispatch lifecycle events",
        "description": "HTTPS callback. Returns the signing secret once. Deliveries carry X-Scope-Signature (v1=HMAC_SHA256(secret, timestamp + '.' + body)), X-Scope-Event-Id (idempotency), X-Scope-Timestamp. The body is { id, type, occurred_at, tenant_id, scope_id, data }. For type 'dispatch.pending_approval', data carries scope_id, display_id, approval_id, triggered_rules, computed_price_cents (the professional's price), vendor_id (the professional's organization) and auto_escalate_after_minutes. Beside the professional's price, five fields say what the firm will be billed if it approves. firm_total_cents (integer or null): the estimated firm total, the professional's price plus Scope's fee line, computed with the invoice's own arithmetic on the terms on file now; null when Scope cannot determine the fee before the job is sent. scope_fee_cents (integer or null): Scope's fee line as it would be billed; null when firm_total_cents is null. scope_fee_label (string): the invoice line Scope's fee appears under, \"Service coordination and compliance record\". firm_total_is_estimate (boolean or null): true whenever firm_total_cents is a number, because the amount billed is set when the job is sent (for example, the professional's current rates apply then); null when firm_total_cents is null. billing_note (string): one sentence for a person: the estimated firm total with the invoice's two lines and why it can move; or the professional's price and the sentence that Scope's fee is added on the invoice; or, when Scope could not read the price, that sentence alone. These fields describe the bill; they do not change what is approved or sent.",
        "responses": {
          "201": {
            "description": "Created; secret returned once."
          },
          "400": {
            "description": "callback_url required / must be https."
          }
        }
      },
      "get": {
        "summary": "List this firm's webhook subscriptions",
        "responses": {
          "200": {
            "description": "Subscriptions."
          }
        }
      },
      "delete": {
        "summary": "Revoke a subscription",
        "description": "A partner token needs the read or govern scope and revokes only the subscriptions that partner created. A firm caller (session or PAT) needs settings.write or must be a firm admin. Revoking a subscription that is already revoked answers 200.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked."
          },
          "400": {
            "description": "id is required."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No subscription with this id at this firm (for a partner: none it created), including an id that is not a uuid. Nothing was revoked."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "Database error. Nothing was revoked."
          },
          "503": {
            "description": "Scope could not confirm the caller's role at the firm. Nothing was revoked. Retry."
          }
        }
      }
    },
    "/api/v1/webhooks/subscriptions/{id}/test": {
      "post": {
        "summary": "Send a test event to verify signature handling",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test event enqueued."
          },
          "404": {
            "description": "Subscription not found."
          }
        }
      }
    },
    "/api/v1/partner-authorizations": {
      "post": {
        "summary": "Firm grants a partner access on its behalf",
        "description": "Firm accounts only: a partner acts on behalf of a firm, so a professional account cannot grant. The caller (session or PAT) needs users.manage or must be a firm admin. A partner token cannot manage grants.",
        "responses": {
          "201": {
            "description": "Granted."
          },
          "400": {
            "description": "partner_id is missing, or is not a uuid. Nothing was granted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No partner with this partner_id. Nothing was granted."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "Database error. Nothing was granted."
          },
          "503": {
            "description": "Nothing was granted. With retryable: true, Scope could not confirm the account is a firm or the caller's role at the firm; retry. With migration_pending: true, this deployment does not have the partner tables; retrying will not help."
          }
        }
      },
      "get": {
        "summary": "List this firm's partner grants",
        "responses": {
          "200": {
            "description": "Grants."
          }
        }
      },
      "delete": {
        "summary": "Revoke a partner grant",
        "description": "The caller (session or PAT) needs users.manage or must be a firm admin. A partner token cannot manage grants. Also deactivates that partner's webhook subscriptions for this firm. Revoking a grant that is already revoked answers 200.",
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked."
          },
          "400": {
            "description": "partner_id is required."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "This firm has no grant to this partner (a partner_id that is not a uuid included). Nothing was revoked."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "description": "Either a database error left the grant unchanged, or the grant WAS revoked but the partner's webhook subscriptions for this firm were not deactivated (deliveries to them stop anyway). The error text says which; retrying deactivates the subscriptions."
          },
          "503": {
            "description": "Scope could not confirm the caller's role at the firm. Nothing was revoked. Retry."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 access token, or a personal access token (PAT) for CI and power users. Pass as Authorization: Bearer <token>. Every token resolves to exactly one tenant."
      }
    },
    "headers": {
      "RateLimitLimit": {
        "description": "Per-tenant request budget for the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitRemaining": {
        "description": "Requests remaining in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitReset": {
        "description": "Unix epoch seconds when the window resets.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid access token."
      },
      "RateLimited": {
        "description": "Per-tenant rate limit exceeded.",
        "headers": {
          "Retry-After": {
            "description": "Seconds until the window resets.",
            "schema": {
              "type": "integer"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The caller is not authorized: the caller's role does not grant the required capability, the partner token lacks the required scope, or the partner is not authorized to act for this firm."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}