{
  "openapi": "3.1.0",
  "info": {
    "title": "Upriver API",
    "description": "A social insights API for ad generation platforms. It provides structured signals, like psychographics, behavioral insights, trends, and audience language, to help AI models generate relevant, higher-converting ads.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.upriver.ai/api-reference/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.upriver.ai",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/v1/brand/research": {
      "post": {
        "tags": [
          "Brands"
        ],
        "summary": "Brand Research",
        "description": "Provides details for a brand including identity, target audience, and brand language. Returns structured data optimized for chaining into the Audience Insights endpoint.\n\n**Input Options:**\n- Provide `brand_name` and/or `brand_url`",
        "operationId": "brand_research",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandV2Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "x-agent-description": "Get brand identity, positioning, and brand language. Provide brand_url (brand website URL) or brand_name; at least one is required.",
        "x-agent-params": [
          "brand_url",
          "brand_name"
        ]
      }
    },
    "/v1/brand/products": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Products List",
        "description": "Returns a list of products associated with a brand. Requires **brand_url** on every request, including pagination requests that send **cursor**. When **cursor** is provided, **brand_url** must match the brand encoded in that cursor.\n\nResponse format:\n- **json**: Returns structured data with product list (default)\n- **text**: Returns natural language report\n\nReturns verified products and services; pricing plans, features, gift cards, documentation and signup actions are excluded. Use limit=1–20 and optionally filter by tier: primary or secondary. Products are discovered in bounded batches, with primary offerings preferred within each batch; this is not a global ranking or an exhaustive catalog. Continue with next_cursor and the same tier filter. A page may be empty while has_more is true.",
        "operationId": "brand_product",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandProductInput"
              },
              "examples": {
                "all": {
                  "summary": "All products",
                  "description": "Multiple products can be primary. Unfiltered results also include products whose relationship is unset; non-products are excluded. Change brand_url to the brand you want to research.",
                  "value": {
                    "brand_url": "https://glossier.com",
                    "limit": 5,
                    "include": [
                      "description",
                      "image_url"
                    ]
                  }
                },
                "all_next_page": {
                  "summary": "All products — next page",
                  "description": "Multiple products can be primary. Unfiltered results also include products whose relationship is unset; non-products are excluded. Replace cursor with next_cursor from the preceding response for this same brand and tier filter. Continue while has_more is true, even if products is empty.",
                  "value": {
                    "brand_url": "https://glossier.com",
                    "limit": 5,
                    "include": [
                      "description",
                      "image_url"
                    ],
                    "cursor": "REPLACE_WITH_NEXT_CURSOR"
                  }
                },
                "primary": {
                  "summary": "Primary products",
                  "description": "Multiple products can be primary. Unfiltered results also include products whose relationship is unset; non-products are excluded. Change brand_url to the brand you want to research.",
                  "value": {
                    "brand_url": "https://glossier.com",
                    "limit": 5,
                    "include": [
                      "description",
                      "image_url"
                    ],
                    "tier": "primary"
                  }
                },
                "primary_next_page": {
                  "summary": "Primary products — next page",
                  "description": "Multiple products can be primary. Unfiltered results also include products whose relationship is unset; non-products are excluded. Replace cursor with next_cursor from the preceding response for this same brand and tier filter. Continue while has_more is true, even if products is empty.",
                  "value": {
                    "brand_url": "https://glossier.com",
                    "limit": 5,
                    "include": [
                      "description",
                      "image_url"
                    ],
                    "tier": "primary",
                    "cursor": "REPLACE_WITH_NEXT_CURSOR"
                  }
                },
                "secondary": {
                  "summary": "Secondary products",
                  "description": "Multiple products can be primary. Unfiltered results also include products whose relationship is unset; non-products are excluded. Change brand_url to the brand you want to research.",
                  "value": {
                    "brand_url": "https://glossier.com",
                    "limit": 5,
                    "include": [
                      "description",
                      "image_url"
                    ],
                    "tier": "secondary"
                  }
                },
                "secondary_next_page": {
                  "summary": "Secondary products — next page",
                  "description": "Multiple products can be primary. Unfiltered results also include products whose relationship is unset; non-products are excluded. Replace cursor with next_cursor from the preceding response for this same brand and tier filter. Continue while has_more is true, even if products is empty.",
                  "value": {
                    "brand_url": "https://glossier.com",
                    "limit": 5,
                    "include": [
                      "description",
                      "image_url"
                    ],
                    "tier": "secondary",
                    "cursor": "REPLACE_WITH_NEXT_CURSOR"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandProductResponse"
                }
              }
            }
          },
          "404": {
            "description": "No results found for the given brand or product.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "No products found on https://example.com"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "x-agent-description": "Get a paginated list of products for a brand. Provide brand_url on every request, including when paging. Accepts limit=1–20 and an optional tier filter (primary, secondary). Non-products are excluded. Repeat the same tier filter with next_cursor. Ordering is local to discovery batches, not a global ranking; empty pages can still have a continuation.",
        "x-agent-params": [
          "brand_url",
          "limit",
          "cursor",
          "tier"
        ]
      }
    },
    "/v1/brand/product": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Product Details",
        "description": "Provides details for a specific product including description, features, and pricing. Provide as much information as you have — more context improves accuracy.\n\n**Input:**\n- **product_name**: Required.\n- **product_url**, **brand_url**, **brand_name**: Optional. At least one required to identify the brand.\n\n**Effort Levels:**\n- **low**: fast extraction from the product page.\n- **high**: includes competitive research (alternatives).",
        "operationId": "brand_product_detail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrandProductDetailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandProductDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "No results found for the given brand or product.",
            "content": {
              "application/json": {
                "example": {
                  "detail": "No products found on https://example.com"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "x-agent-description": "Get details for a specific product. Requires product_name and at least one of product_url, brand_url, or brand_name. Provide as much as you have — more context improves results. Use values from the /v1/brand/products response when chaining.",
        "x-agent-params": [
          "product_name",
          "product_url",
          "brand_url",
          "brand_name"
        ]
      }
    },
    "/v1/creators": {
      "get": {
        "tags": [
          "Creators"
        ],
        "summary": "Creator Profile by URL",
        "description": "Lookup a creator profile by known social profile URL.\n\nReturns the same payload shape as `GET /v1/creators/{creator_id}`. The only difference is the lookup key (`url` vs `creator_id`).\n\nUse this endpoint when you have a channel/profile URL and do not yet have a stored `creator_id`. Use `include` for optional expansions.",
        "operationId": "creator_get_by_url",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Known social media profile URL for the creator. Example: https://youtube.com/@handle",
              "title": "Url"
            },
            "description": "Known social media profile URL for the creator. Example: https://youtube.com/@handle"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional expansions to include in the response.\n\nThe same include options are available on `GET /v1/creators` (lookup by URL) and `GET /v1/creators/{creator_id}` (lookup by Upriver creator ID).\n\n**Include values and what each adds:**\n- `engagement_metrics`: Recent per-channel engagement performance (average views, likes, comments, engagement rate). Returned as `channels[].engagement_metrics`.\n- `video_metrics`: Per-channel upload cadence and duration-based inventory signals over a trailing 12-week window (YouTube). Returned as `channels[].video_metrics`.\n- `relative_metrics`: Per-channel public benchmark summaries compared with similar creators. Returned as `channels[].relative_metrics`.\n- `bio`: Creator summary and key context. Returned as top-level `bio`.\n- `audience`: Directional audience demographics (age, gender, geography). Returned as top-level `audience`.\n- `brand_safety`: Brand safety advisories with citations. Returned as top-level `brand_safety`.\n- `email`: Public contact email addresses the creator has published for business inquiries, gathered across their linked channels. Returned as top-level `emails`.\n- `location`: Current-location evidence reconciled across owned channels, with origin retained separately. With no current evidence, birthplace or nationality may provide a low-confidence fallback; strict country filters are unchanged. Reads stored evidence without new research or an enrichment charge. Returned as top-level `location`.\n- `creator_id`: Backward-compatible no-op; `creator_id` is always returned.\n\n**Format:**\n- Repeat params: `?include=engagement_metrics&include=bio`\n- CSV: `?include=engagement_metrics,bio`",
              "default": [],
              "title": "Include"
            },
            "description": "Optional expansions to include in the response.\n\nThe same include options are available on `GET /v1/creators` (lookup by URL) and `GET /v1/creators/{creator_id}` (lookup by Upriver creator ID).\n\n**Include values and what each adds:**\n- `engagement_metrics`: Recent per-channel engagement performance (average views, likes, comments, engagement rate). Returned as `channels[].engagement_metrics`.\n- `video_metrics`: Per-channel upload cadence and duration-based inventory signals over a trailing 12-week window (YouTube). Returned as `channels[].video_metrics`.\n- `relative_metrics`: Per-channel public benchmark summaries compared with similar creators. Returned as `channels[].relative_metrics`.\n- `bio`: Creator summary and key context. Returned as top-level `bio`.\n- `audience`: Directional audience demographics (age, gender, geography). Returned as top-level `audience`.\n- `brand_safety`: Brand safety advisories with citations. Returned as top-level `brand_safety`.\n- `email`: Public contact email addresses the creator has published for business inquiries, gathered across their linked channels. Returned as top-level `emails`.\n- `location`: Current-location evidence reconciled across owned channels, with origin retained separately. With no current evidence, birthplace or nationality may provide a low-confidence fallback; strict country filters are unchanged. Reads stored evidence without new research or an enrichment charge. Returned as top-level `location`.\n- `creator_id`: Backward-compatible no-op; `creator_id` is always returned.\n\n**Format:**\n- Repeat params: `?include=engagement_metrics&include=bio`\n- CSV: `?include=engagement_metrics,bio`"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorGetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-agent-description": "Lookup a creator profile by social media profile URL. Returns the same payload shape as /v1/creators/{creator_id}; only the lookup key differs. Use `include` for optional enrichments (`engagement_metrics`, `video_metrics`, `relative_metrics`, `bio`, `audience`, `brand_safety`, `location`)."
      }
    },
    "/v1/creators/{creator_id}": {
      "get": {
        "tags": [
          "Creators"
        ],
        "summary": "Creator Profile by ID",
        "description": "Lookup a creator profile by Upriver creator ID.\n\nReturns the same payload shape as `GET /v1/creators` (URL lookup). The only difference is the lookup key (`creator_id` vs `url`).\n\nIf the ID has been merged into another creator, the response includes a `redirect` object in the JSON body and the `X-Creator-Redirect` header. Clients should update any stored creator ID to `redirect.canonical_creator_id`.\n\nUse `include` for optional expansions.",
        "operationId": "creator_get_by_id",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "creator_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Creator Id"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional expansions to include in the response.\n\nThe same include options are available on `GET /v1/creators` (lookup by URL) and `GET /v1/creators/{creator_id}` (lookup by Upriver creator ID).\n\n**Include values and what each adds:**\n- `engagement_metrics`: Recent per-channel engagement performance (average views, likes, comments, engagement rate). Returned as `channels[].engagement_metrics`.\n- `video_metrics`: Per-channel upload cadence and duration-based inventory signals over a trailing 12-week window (YouTube). Returned as `channels[].video_metrics`.\n- `relative_metrics`: Per-channel public benchmark summaries compared with similar creators. Returned as `channels[].relative_metrics`.\n- `bio`: Creator summary and key context. Returned as top-level `bio`.\n- `audience`: Directional audience demographics (age, gender, geography). Returned as top-level `audience`.\n- `brand_safety`: Brand safety advisories with citations. Returned as top-level `brand_safety`.\n- `email`: Public contact email addresses the creator has published for business inquiries, gathered across their linked channels. Returned as top-level `emails`.\n- `location`: Current-location evidence reconciled across owned channels, with origin retained separately. With no current evidence, birthplace or nationality may provide a low-confidence fallback; strict country filters are unchanged. Reads stored evidence without new research or an enrichment charge. Returned as top-level `location`.\n- `creator_id`: Backward-compatible no-op; `creator_id` is always returned.\n\n**Format:**\n- Repeat params: `?include=engagement_metrics&include=bio`\n- CSV: `?include=engagement_metrics,bio`",
              "default": [],
              "title": "Include"
            },
            "description": "Optional expansions to include in the response.\n\nThe same include options are available on `GET /v1/creators` (lookup by URL) and `GET /v1/creators/{creator_id}` (lookup by Upriver creator ID).\n\n**Include values and what each adds:**\n- `engagement_metrics`: Recent per-channel engagement performance (average views, likes, comments, engagement rate). Returned as `channels[].engagement_metrics`.\n- `video_metrics`: Per-channel upload cadence and duration-based inventory signals over a trailing 12-week window (YouTube). Returned as `channels[].video_metrics`.\n- `relative_metrics`: Per-channel public benchmark summaries compared with similar creators. Returned as `channels[].relative_metrics`.\n- `bio`: Creator summary and key context. Returned as top-level `bio`.\n- `audience`: Directional audience demographics (age, gender, geography). Returned as top-level `audience`.\n- `brand_safety`: Brand safety advisories with citations. Returned as top-level `brand_safety`.\n- `email`: Public contact email addresses the creator has published for business inquiries, gathered across their linked channels. Returned as top-level `emails`.\n- `location`: Current-location evidence reconciled across owned channels, with origin retained separately. With no current evidence, birthplace or nationality may provide a low-confidence fallback; strict country filters are unchanged. Reads stored evidence without new research or an enrichment charge. Returned as top-level `location`.\n- `creator_id`: Backward-compatible no-op; `creator_id` is always returned.\n\n**Format:**\n- Repeat params: `?include=engagement_metrics&include=bio`\n- CSV: `?include=engagement_metrics,bio`"
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical creator payload. When a previously stored creator ID has been merged into another creator, the response still returns HTTP 200 with the canonical creator body, a `redirect` object in the JSON payload, and an `X-Creator-Redirect` response header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorGetResponse"
                },
                "examples": {
                  "merged_creator_id": {
                    "summary": "Merged creator ID resolved to canonical creator",
                    "value": {
                      "channels": [
                        {
                          "platform": "youtube",
                          "handle": "@creator",
                          "url": "https://www.youtube.com/@creator"
                        }
                      ],
                      "labels": [],
                      "tags": [],
                      "creator_id": "cb4f53f0-c905-4c0a-86df-9a6c7551c408",
                      "stable_creator_id": "cb4f53f0-c905-4c0a-86df-9a6c7551c408",
                      "redirect": {
                        "requested_creator_id": "97ca4d8c-c1b2-4c73-a4f0-7ac6bb05e0cf",
                        "canonical_creator_id": "cb4f53f0-c905-4c0a-86df-9a6c7551c408",
                        "reason": "merged"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Creator-Redirect": {
                "description": "Present when the requested creator ID was merged into another creator. Contains the canonical creator ID returned in the body.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-agent-description": "Lookup a creator profile by Upriver creator ID. Returns the same payload shape as /v1/creators; only the lookup key differs. Merged IDs return redirect metadata in the response body/header. Use `include` for optional enrichments (`engagement_metrics`, `video_metrics`, `relative_metrics`, `bio`, `audience`, `brand_safety`, `location`)."
      }
    },
    "/v1/creators/batch": {
      "post": {
        "tags": [
          "Creators"
        ],
        "summary": "Batch Creator Details",
        "description": "Provides creator profile information for multiple creators in a single request. Returns associated channels and labels for each URL.\n\n**Input:** Provide 1-10 social media profile URLs (e.g., https://youtube.com/@handle)\n\n**Note:** Engagement metrics are not available for batch requests.",
        "operationId": "creator_batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorBatchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorBatchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "x-agent-description": "Look up 1-10 creators at once by social media profile URL. Body takes a urls array of profile URLs (e.g., urls: ['https://...', ...]). Useful when checking multiple creators from sponsorship results or batch processing. Note: engagement metrics are not available in batch responses.",
        "x-agent-params": [
          "urls"
        ]
      }
    },
    "/v1/creators/search": {
      "post": {
        "tags": [
          "Creators"
        ],
        "summary": "Search",
        "description": "Unified creator search for exact, broad, and filter-only queries.\n\n**Exact lookup:** Provide `creator_url` (or an exact `query`) to quickly find the creator and linked channels.\n\n**Broad discovery:** Provide `query` with optional filters (platforms, category_ids, follower_bucket, follower range, country/language).\n\n**Filter-only browse:** Provide `category_ids` + `follower_bucket` without a text query to browse creators by category and size.\n\nPass `next_cursor` from any search response back as `cursor` with the same query and filters to fetch the next page.\n\nUse the `include` query parameter for optional expansions. In `/creators/search`, include expansions are supported only for exact `creator_url` lookups.",
        "operationId": "creator_search",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Optional expansions to include in the response.\n\nThe same include options are available on `GET /v1/creators` (lookup by URL) and `GET /v1/creators/{creator_id}` (lookup by Upriver creator ID).\n\n**Include values and what each adds:**\n- `engagement_metrics`: Recent per-channel engagement performance (average views, likes, comments, engagement rate). Returned as `channels[].engagement_metrics`.\n- `video_metrics`: Per-channel upload cadence and duration-based inventory signals over a trailing 12-week window (YouTube). Returned as `channels[].video_metrics`.\n- `relative_metrics`: Per-channel public benchmark summaries compared with similar creators. Returned as `channels[].relative_metrics`.\n- `bio`: Creator summary and key context. Returned as top-level `bio`.\n- `audience`: Directional audience demographics (age, gender, geography). Returned as top-level `audience`.\n- `brand_safety`: Brand safety advisories with citations. Returned as top-level `brand_safety`.\n- `email`: Public contact email addresses the creator has published for business inquiries, gathered across their linked channels. Returned as top-level `emails`.\n- `location`: Current-location evidence reconciled across owned channels, with origin retained separately. With no current evidence, birthplace or nationality may provide a low-confidence fallback; strict country filters are unchanged. Reads stored evidence without new research or an enrichment charge. Returned as top-level `location`.\n- `creator_id`: Backward-compatible no-op; `creator_id` is always returned.\n\n**Format:**\n- Repeat params: `?include=engagement_metrics&include=bio`\n- CSV: `?include=engagement_metrics,bio`\n\n**`/creators/search` modes:** `include=email` is available in every mode (broad query, filter-only browse, and exact `creator_url`), and may also be passed in the request body. The richer expansions (`engagement_metrics`, `video_metrics`, `relative_metrics`, `bio`, `audience`, `brand_safety`, `location`) are returned only for exact `creator_url` lookups; in broad/filter-only mode they are rejected — call `/creators` or `/creators/{creator_id}` to enrich a selected result.",
              "default": [],
              "title": "Include"
            },
            "description": "Optional expansions to include in the response.\n\nThe same include options are available on `GET /v1/creators` (lookup by URL) and `GET /v1/creators/{creator_id}` (lookup by Upriver creator ID).\n\n**Include values and what each adds:**\n- `engagement_metrics`: Recent per-channel engagement performance (average views, likes, comments, engagement rate). Returned as `channels[].engagement_metrics`.\n- `video_metrics`: Per-channel upload cadence and duration-based inventory signals over a trailing 12-week window (YouTube). Returned as `channels[].video_metrics`.\n- `relative_metrics`: Per-channel public benchmark summaries compared with similar creators. Returned as `channels[].relative_metrics`.\n- `bio`: Creator summary and key context. Returned as top-level `bio`.\n- `audience`: Directional audience demographics (age, gender, geography). Returned as top-level `audience`.\n- `brand_safety`: Brand safety advisories with citations. Returned as top-level `brand_safety`.\n- `email`: Public contact email addresses the creator has published for business inquiries, gathered across their linked channels. Returned as top-level `emails`.\n- `location`: Current-location evidence reconciled across owned channels, with origin retained separately. With no current evidence, birthplace or nationality may provide a low-confidence fallback; strict country filters are unchanged. Reads stored evidence without new research or an enrichment charge. Returned as top-level `location`.\n- `creator_id`: Backward-compatible no-op; `creator_id` is always returned.\n\n**Format:**\n- Repeat params: `?include=engagement_metrics&include=bio`\n- CSV: `?include=engagement_metrics,bio`\n\n**`/creators/search` modes:** `include=email` is available in every mode (broad query, filter-only browse, and exact `creator_url`), and may also be passed in the request body. The richer expansions (`engagement_metrics`, `video_metrics`, `relative_metrics`, `bio`, `audience`, `brand_safety`, `location`) are returned only for exact `creator_url` lookups; in broad/filter-only mode they are rejected — call `/creators` or `/creators/{creator_id}` to enrich a selected result."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorSearchInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON object containing associated social profiles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-agent-description": "Find creators by exact lookup or resolve one by name/handle, then narrow with filters. Provide one of: `creator_url` for an exact profile; `name_or_handle` to resolve a creator by handle or display name (matches exactly, by prefix, and by fuzzy substring — 'beast' finds 'MrBeast'); or filter-only browse, which requires `follower_bucket` plus `categories` or `category_ids`. `follower_bucket` takes one or more of: under_5k, 5k_10k, 10k_50k, 50k_100k, 100k_300k, 300k_1m, over_1m (combine to span a range). `categories` is free text; `category_ids` are exact taxonomy ids. Use the category/platform/follower filters for discovery — `name_or_handle` finds a specific creator, not a topic. All search modes return an opaque cursor when more ranked results are available.",
        "x-agent-params": [
          "creator_url",
          "name_or_handle",
          "content_query",
          "categories",
          "category_ids",
          "follower_bucket",
          "platforms",
          "creator_country",
          "audience_country",
          "creator_language",
          "cursor"
        ]
      }
    },
    "/v1/creators/similar": {
      "post": {
        "tags": [
          "Creators"
        ],
        "summary": "Find Similar Creators (Beta)",
        "description": "Find canonical creators who make content similar to an anchor creator.\n\nProvide either a `creator_id` returned by another creator endpoint for similarity across that creator's eligible channel cluster, or a known `channel_url` for channel-specific similarity. Each result may qualify through one coherent channel expression; every channel in a creator cluster does not need to match. Default ordering emphasizes shared niche and subject plus specific profession or life-role identity, with reach used only to separate otherwise close peers. Optional platform, category, reach, and country controls constrain which peers may appear. An empty `results` list is a complete answer; `incomplete_results` is true only when an internal time budget truncated the evaluation and a retry may return more. The first returned channel is the channel that qualified each creator.\n\nBeta: this endpoint is unlisted and its response shape may change without notice.",
        "operationId": "creator_similar_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorSimilarInput"
              },
              "examples": {
                "by_creator_id": {
                  "summary": "By creator ID",
                  "value": {
                    "creator_id": "cb4f53f0-c905-4c0a-86df-9a6c7551c408",
                    "limit": 10
                  }
                },
                "by_channel_url": {
                  "summary": "By channel URL",
                  "value": {
                    "channel_url": "https://www.youtube.com/@example",
                    "platforms": [
                      "youtube",
                      "tiktok"
                    ],
                    "limit": 10
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ordered canonical creator peers with factual match reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorSimilarResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or unsupported similarity platform.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/CreatorSimilarErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/CreatorSimilarValidationErrorResponse"
                    }
                  ],
                  "title": "Response 400 Creator Similar Search"
                },
                "examples": {
                  "invalid_fields": {
                    "summary": "Request fields failed validation",
                    "value": {
                      "detail": "Provide exactly one of creator_id or channel_url"
                    }
                  },
                  "invalid_similarity_request": {
                    "summary": "Invalid anchor or filter combination",
                    "value": {
                      "detail": {
                        "code": "invalid_similarity_request",
                        "message": "The similarity request is invalid."
                      }
                    }
                  },
                  "unsupported_platform": {
                    "summary": "Unsupported result platform",
                    "value": {
                      "detail": {
                        "code": "unsupported_platform",
                        "message": "Unsupported platform(s): x."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested creator or channel does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorSimilarErrorResponse"
                },
                "examples": {
                  "creator_not_found": {
                    "summary": "Creator ID was not found",
                    "value": {
                      "detail": {
                        "code": "creator_not_found",
                        "message": "The requested creator was not found."
                      }
                    }
                  },
                  "channel_not_found": {
                    "summary": "Channel URL was not found",
                    "value": {
                      "detail": {
                        "code": "channel_not_found",
                        "message": "The requested channel was not found."
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The channel anchor is ambiguous. Retry with the intended `creator_id` instead of the channel URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorSimilarErrorResponse"
                },
                "examples": {
                  "channel_anchor_ambiguous": {
                    "summary": "Channel maps to multiple creator records",
                    "value": {
                      "detail": {
                        "code": "channel_anchor_ambiguous",
                        "message": "The requested channel resolves to multiple creator records."
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Creator API quota exceeded."
          },
          "500": {
            "description": "Unexpected creator-similarity failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorSimilarErrorResponse"
                },
                "examples": {
                  "similarity_internal_error": {
                    "summary": "Unexpected server failure",
                    "value": {
                      "detail": {
                        "code": "similarity_internal_error",
                        "message": "Failed to find similar creators. Please try again later."
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Creator similarity is temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorSimilarErrorResponse"
                },
                "examples": {
                  "similarity_unavailable": {
                    "summary": "Similarity dependency is unavailable",
                    "value": {
                      "detail": {
                        "code": "similarity_unavailable",
                        "message": "Creator similarity is temporarily unavailable."
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Other authentication or request error."
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "x-agent-description": "Find canonical creators who make content similar to an anchor creator. Provide exactly one of: `creator_id` (from another creator endpoint) for similarity across that creator's channel cluster, or `channel_url` for a single channel. Optional `platforms` (instagram, tiktok, youtube), `category_ids`, `min_followers`/`max_followers`, and `creator_country` constrain the peers. Results are ordered by shared niche and audience fit; the first channel on each result is the one that qualified it. An empty `results` list is a complete answer unless `incomplete_results` is true (internal time budget truncated the evaluation; retry may return more). Beta: the response shape may change."
      }
    },
    "/v3/audience_insights": {
      "post": {
        "tags": [
          "Audience"
        ],
        "summary": "Personas (v3)",
        "description": "Get detailed audience personas for a brand.\n\n**Input:** Brand URL, optional query and effort level.\n\n**Output:** Personas with purchase triggers, barriers, behaviors, language patterns, and optional real world citations.",
        "operationId": "audience_insights_v3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroundedInsightsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Audience personas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceInsightsResponseV3"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "x-mint": {
          "metadata": {
            "tag": "BETA"
          }
        },
        "x-agent-description": "Generate a list of audience personas for a brand, grounded in real online conversations. Provide brand_url. Each persona includes purchase triggers, barriers, behaviors, language patterns, and real-world citations. include_citations defaults to true (set false to omit); query is an optional focus hint; set effort=high for broader, deeper research (default auto). Generation can take roughly 15-25s.",
        "x-agent-params": [
          "brand_url",
          "query",
          "include_citations",
          "effort"
        ]
      }
    },
    "/v1/sponsors": {
      "get": {
        "tags": [
          "Sponsorships"
        ],
        "summary": "Sponsors",
        "description": "Search for brands that recently sponsored media channels/publications.\n\nProvide exactly one scope filter: `categories` or `publication_url`.\n\n- `categories`: Find sponsors active in those content verticals.\n- `publication_url`: Find sponsors for a specific creator/publication.\n\nUse `platforms`, date range, and confidence parameters to refine results.",
        "operationId": "sponsors",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 3
                },
                {
                  "type": "null"
                }
              ],
              "description": "Content-vertical phrases or keywords (e.g. 'consumer tech', 'startup tools', 'personal finance'). Not brand or company names. Free-form strings are normalized to our standard category taxonomy and used to scope the search. Mutually exclusive with publication_url.",
              "examples": [
                [
                  "consumer tech",
                  "startup tools"
                ]
              ],
              "title": "Categories"
            },
            "description": "Content-vertical phrases or keywords (e.g. 'consumer tech', 'startup tools', 'personal finance'). Not brand or company names. Free-form strings are normalized to our standard category taxonomy and used to scope the search. Mutually exclusive with publication_url.",
            "example": [
              "consumer tech",
              "startup tools"
            ]
          },
          {
            "name": "publication_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "A creator's publication URL (YouTube channel, Substack newsletter, podcast, etc.) to find its sponsors. Mutually exclusive with categories.",
              "examples": [
                "https://techweekly.substack.com"
              ],
              "title": "Publication Url"
            },
            "description": "A creator's publication URL (YouTube channel, Substack newsletter, podcast, etc.) to find its sponsors. Mutually exclusive with categories."
          },
          {
            "name": "platforms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "beehiiv",
                      "ghost",
                      "instagram",
                      "newsletter",
                      "podcast",
                      "substack",
                      "tiktok",
                      "youtube"
                    ]
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platforms to include when searching for sponsors. Repeat this parameter to provide multiple values. If omitted, results include all available platforms.",
              "examples": [
                [
                  "substack",
                  "podcast"
                ]
              ],
              "title": "Platforms"
            },
            "description": "Platforms to include when searching for sponsors. Repeat this parameter to provide multiple values. If omitted, results include all available platforms."
          },
          {
            "name": "confidence_threshold",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 1,
              "minimum": 0,
              "description": "Minimum sponsorship confidence threshold",
              "default": 0.5,
              "title": "Confidence Threshold"
            },
            "description": "Minimum sponsorship confidence threshold"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "Maximum number of results per page. Requesting more than 20 results requires a credits-based plan.",
              "default": 20,
              "title": "Limit"
            },
            "description": "Maximum number of results per page. Requesting more than 20 results requires a credits-based plan."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination cursor from next_cursor. To continue a paginated activity request, pass it with the same filters and omit activity_after and sync_token.",
              "title": "Cursor"
            },
            "description": "Pagination cursor from next_cursor. To continue a paginated activity request, pass it with the same filters and omit activity_after and sync_token."
          },
          {
            "name": "include_evidence",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include structured evidence for the most recent ad (source, excerpt, and transcript offset when available)",
              "default": false,
              "title": "Include Evidence"
            },
            "description": "Include structured evidence for the most recent ad (source, excerpt, and transcript offset when available)"
          },
          {
            "name": "sponsor_types",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only return sponsors with a placement whose sponsor_type is one of these values. When omitted, defaults to ['explicit_ad', 'implicit_ad', 'affiliate', 'promotion', 'unknown']. Other valid values include: 'merch_store', 'self_promotion'.",
              "examples": [
                [
                  "explicit_ad",
                  "implicit_ad",
                  "affiliate",
                  "promotion",
                  "unknown"
                ]
              ],
              "title": "Sponsor Types"
            },
            "description": "Only return sponsors with a placement whose sponsor_type is one of these values. When omitted, defaults to ['explicit_ad', 'implicit_ad', 'affiliate', 'promotion', 'unknown']. Other valid values include: 'merch_store', 'self_promotion'."
          },
          {
            "name": "sponsor_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alternate name for sponsor_types; accepts one or more values.",
              "title": "Sponsor Type"
            },
            "description": "Alternate name for sponsor_types; accepts one or more values."
          },
          {
            "name": "days_back",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 365,
              "minimum": 1,
              "description": "Time window in days (default 90). Ignored when since is provided.",
              "default": 90,
              "title": "Days Back"
            },
            "description": "Time window in days (default 90). Ignored when since is provided."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start date (YYYY-MM-DD, inclusive). Overrides days_back. Required when until is provided.",
              "title": "Since"
            },
            "description": "Start date (YYYY-MM-DD, inclusive). Overrides days_back. Required when until is provided."
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End date (YYYY-MM-DD, inclusive). Defaults to today when only since is provided.",
              "title": "Until"
            },
            "description": "End date (YYYY-MM-DD, inclusive). Defaults to today when only since is provided."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "total_ads",
                "recent"
              ],
              "type": "string",
              "description": "Sort order for results. 'total_ads' (default) ranks brands by number of placements. 'recent' ranks by most recent ad date. For activity searches, these rank only sponsorships in the requested activity.",
              "default": "total_ads",
              "title": "Sort By"
            },
            "description": "Sort order for results. 'total_ads' (default) ranks brands by number of placements. 'recent' ranks by most recent ad date. For activity searches, these rank only sponsorships in the requested activity."
          },
          {
            "name": "activity_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start a sponsor activity request after this ISO-8601 datetime. Requires platforms. Earlier values use the first supported activity time. For later requests, save next_sync_token from a response and send it as sync_token.",
              "title": "Activity After"
            },
            "description": "Start a sponsor activity request after this ISO-8601 datetime. Requires platforms. Earlier values use the first supported activity time. For later requests, save next_sync_token from a response and send it as sync_token."
          },
          {
            "name": "sync_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque checkpoint returned as next_sync_token by an earlier activity request. Use it instead of activity_after to start the next request.",
              "title": "Sync Token"
            },
            "description": "Opaque checkpoint returned as next_sync_token by an earlier activity request. Use it instead of activity_after to start the next request."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplifiedPartnerSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-agent-description": "Discover brands that recently sponsored content. Provide exactly one scope filter: categories (free text, matched to the nearest vertical and echoed back as industry_category) or publication_url (a specific creator's channel or newsletter). Optionally narrow by platforms, sponsor_type, and a date window (since/until as YYYY-MM-DD; defaults to the last 90 days). Set include_evidence=true for the ad excerpt. Returns matching brands, each with an example of their latest placement. Use /v1/sponsorships for individual placement rows.",
        "x-agent-params": [
          "categories",
          "publication_url",
          "platforms",
          "sponsor_type",
          "include_evidence",
          "since",
          "until",
          "activity_after",
          "sync_token",
          "limit",
          "cursor"
        ],
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X GET 'https://api.upriver.ai/v1/sponsors?industry=tech' \\\n  -H 'X-API-Key: YOUR_API_KEY'"
          }
        ]
      }
    },
    "/v1/sponsors/{sponsor_id}/channels": {
      "get": {
        "tags": [
          "Sponsorships"
        ],
        "summary": "Sponsor channels",
        "description": "List the social accounts publicly associated with a sponsor.",
        "operationId": "sponsor_channels_list",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sponsor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Identifier of the sponsor whose social accounts to list. Sponsor identifiers appear in the sponsor_id field of sponsorship results.",
              "title": "Sponsor Id"
            },
            "description": "Identifier of the sponsor whose social accounts to list. Sponsor identifiers appear in the sponsor_id field of sponsorship results."
          },
          {
            "name": "platforms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "instagram",
                      "tiktok",
                      "youtube"
                    ]
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platforms to include (e.g. instagram, tiktok, youtube). Repeat this parameter to provide multiple values. If omitted, includes all.",
              "title": "Platforms"
            },
            "description": "Platforms to include (e.g. instagram, tiktok, youtube). Repeat this parameter to provide multiple values. If omitted, includes all."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "Maximum number of accounts to return per page.",
              "default": 20,
              "title": "Limit"
            },
            "description": "Maximum number of accounts to return per page."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination cursor from a previous response's next_cursor.",
              "title": "Cursor"
            },
            "description": "Pagination cursor from a previous response's next_cursor."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SponsorChannelsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sponsorships": {
      "get": {
        "tags": [
          "Sponsorships"
        ],
        "summary": "Sponsorships",
        "description": "Return individual sponsored placements (content-level rows).\n\nProvide at least one of `sponsor_name`, `sponsor_id`, `sponsor_channel_id`, `brand_id`, `publication_url`, or `categories`. These can be combined, except `publication_url` and `categories` cannot be used together.",
        "operationId": "sponsorships",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "brand_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Deprecated: use sponsor_id.",
              "deprecated": true,
              "title": "Brand Id"
            },
            "description": "Deprecated: use sponsor_id.",
            "deprecated": true
          },
          {
            "name": "sponsor_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to placements from the sponsor with this identifier. Sponsor identifiers appear in the sponsor_id field of results.",
              "title": "Sponsor Id"
            },
            "description": "Filter to placements from the sponsor with this identifier. Sponsor identifiers appear in the sponsor_id field of results."
          },
          {
            "name": "sponsor_channel_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to placements attributed to this sponsor-owned social account, given as a channel_id from the sponsor channels endpoints. Combine with sponsor_id to intersect the two filters.",
              "title": "Sponsor Channel Id"
            },
            "description": "Filter to placements attributed to this sponsor-owned social account, given as a channel_id from the sponsor channels endpoints. Combine with sponsor_id to intersect the two filters."
          },
          {
            "name": "brand_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Deprecated. Same as sponsor_name - filter placements by sponsor/brand name",
              "title": "Brand Name"
            },
            "description": "Deprecated. Same as sponsor_name - filter placements by sponsor/brand name",
            "example": "Notion"
          },
          {
            "name": "sponsor_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Convenience filter for finding a sponsor by display name. Use the sponsor_id returned in results for later sponsor-specific requests because names can vary. Preferred over deprecated brand_name.",
              "title": "Sponsor Name"
            },
            "description": "Convenience filter for finding a sponsor by display name. Use the sponsor_id returned in results for later sponsor-specific requests because names can vary. Preferred over deprecated brand_name."
          },
          {
            "name": "publication_url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter placements by a creator's publication URL (YouTube channel, Substack newsletter, podcast, etc.). Cannot be combined with categories.",
              "title": "Publication Url"
            },
            "description": "Filter placements by a creator's publication URL (YouTube channel, Substack newsletter, podcast, etc.). Cannot be combined with categories."
          },
          {
            "name": "platforms",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "beehiiv",
                      "ghost",
                      "instagram",
                      "newsletter",
                      "podcast",
                      "substack",
                      "tiktok",
                      "youtube"
                    ]
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platforms to include (e.g., substack, podcast, youtube). If omitted, includes all. Repeat platforms to provide multiple values.",
              "title": "Platforms"
            },
            "description": "Platforms to include (e.g., substack, podcast, youtube). If omitted, includes all. Repeat platforms to provide multiple values.",
            "example": [
              "youtube"
            ]
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "beehiiv",
                      "ghost",
                      "instagram",
                      "newsletter",
                      "podcast",
                      "substack",
                      "tiktok",
                      "youtube"
                    ]
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias for platforms. Prefer platforms; repeat platforms to provide multiple values.",
              "title": "Platform"
            },
            "description": "Alias for platforms. Prefer platforms; repeat platforms to provide multiple values."
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 3
                },
                {
                  "type": "null"
                }
              ],
              "description": "Content-vertical phrases or keywords (e.g. 'consumer tech', 'startup tools'). Not brand or company names. Free-form strings are normalized to our standard category taxonomy and matched against publication categories. Cannot be combined with publication_url.",
              "title": "Categories"
            },
            "description": "Content-vertical phrases or keywords (e.g. 'consumer tech', 'startup tools'). Not brand or company names. Free-form strings are normalized to our standard category taxonomy and matched against publication categories. Cannot be combined with publication_url."
          },
          {
            "name": "sponsor_types",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only return placements whose sponsor_type is one of these values. Use monetization_type and disclosure_tier to filter by those fields. Defaults to ['explicit_ad', 'implicit_ad', 'affiliate', 'promotion', 'unknown'].",
              "title": "Sponsor Types"
            },
            "description": "Only return placements whose sponsor_type is one of these values. Use monetization_type and disclosure_tier to filter by those fields. Defaults to ['explicit_ad', 'implicit_ad', 'affiliate', 'promotion', 'unknown']."
          },
          {
            "name": "sponsor_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alternate name for sponsor_types; accepts one or more values.",
              "title": "Sponsor Type"
            },
            "description": "Alternate name for sponsor_types; accepts one or more values."
          },
          {
            "name": "monetization_types",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only return placements whose monetization_type is one of these values (paid_partnership, affiliate, gifted, or unknown; some older placements carry promotion, self_promotion, or merch_store). Matches only placements where the field is populated. If omitted, does not filter.",
              "title": "Monetization Types"
            },
            "description": "Only return placements whose monetization_type is one of these values (paid_partnership, affiliate, gifted, or unknown; some older placements carry promotion, self_promotion, or merch_store). Matches only placements where the field is populated. If omitted, does not filter."
          },
          {
            "name": "monetization_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alternate name for monetization_types; accepts one or more values.",
              "title": "Monetization Type"
            },
            "description": "Alternate name for monetization_types; accepts one or more values."
          },
          {
            "name": "disclosure_tiers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only return placements whose disclosure_tier is one of these values (platform_verified, creator_disclosed, commercial_signal, or inferred). Matches only placements where the field is populated. Requesting inferred includes inferred placements without setting include_inferred. If omitted, does not filter.",
              "title": "Disclosure Tiers"
            },
            "description": "Only return placements whose disclosure_tier is one of these values (platform_verified, creator_disclosed, commercial_signal, or inferred). Matches only placements where the field is populated. Requesting inferred includes inferred placements without setting include_inferred. If omitted, does not filter."
          },
          {
            "name": "disclosure_tier",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alternate name for disclosure_tiers; accepts one or more values.",
              "title": "Disclosure Tier"
            },
            "description": "Alternate name for disclosure_tiers; accepts one or more values."
          },
          {
            "name": "is_first_party",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by counterparty. true returns only placements promoting the creator's own product, service, or store, which are excluded by default. false excludes those placements. If omitted, does not filter.",
              "title": "Is First Party"
            },
            "description": "Filter by counterparty. true returns only placements promoting the creator's own product, service, or store, which are excluded by default. false excludes those placements. If omitted, does not filter."
          },
          {
            "name": "confidence_threshold",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 1,
              "minimum": 0,
              "description": "Only return placements with at least this sponsorship confidence (0-1). Defaults to 0.5, which excludes lower-confidence matches.",
              "default": 0.5,
              "title": "Confidence Threshold"
            },
            "description": "Only return placements with at least this sponsorship confidence (0-1). Defaults to 0.5, which excludes lower-confidence matches."
          },
          {
            "name": "days_back",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 365,
              "minimum": 1,
              "description": "Time window in days (default 90). Ignored when since is provided.",
              "default": 90,
              "title": "Days Back"
            },
            "description": "Time window in days (default 90). Ignored when since is provided."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start date (YYYY-MM-DD, inclusive). Overrides days_back. Required when until is provided.",
              "title": "Since"
            },
            "description": "Start date (YYYY-MM-DD, inclusive). Overrides days_back. Required when until is provided.",
            "example": "2024-04-01"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End date (YYYY-MM-DD, inclusive). Defaults to today when only since is provided.",
              "title": "Until"
            },
            "description": "End date (YYYY-MM-DD, inclusive). Defaults to today when only since is provided.",
            "example": "2024-09-30"
          },
          {
            "name": "activity_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start a sponsorship activity request after this ISO-8601 datetime. Requires platforms. Earlier values use the first supported activity time. For later requests, save next_sync_token from a response and send it as sync_token.",
              "title": "Activity After"
            },
            "description": "Start a sponsorship activity request after this ISO-8601 datetime. Requires platforms. Earlier values use the first supported activity time. For later requests, save next_sync_token from a response and send it as sync_token."
          },
          {
            "name": "sync_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque checkpoint returned as next_sync_token by an earlier activity request. Use it instead of activity_after to start the next request.",
              "title": "Sync Token"
            },
            "description": "Opaque checkpoint returned as next_sync_token by an earlier activity request. Use it instead of activity_after to start the next request."
          },
          {
            "name": "include_evidence",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include structured evidence (source, excerpt, transcript offset) when available.",
              "default": false,
              "title": "Include Evidence"
            },
            "description": "Include structured evidence (source, excerpt, transcript offset) when available."
          },
          {
            "name": "include_inferred",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include placements where the sponsorship was inferred rather than explicitly disclosed or verified. These are lower-confidence and are excluded by default. Each result's disclosure_tier and partner_confidence let you filter further.",
              "default": false,
              "title": "Include Inferred"
            },
            "description": "Include placements where the sponsorship was inferred rather than explicitly disclosed or verified. These are lower-confidence and are excluded by default. Each result's disclosure_tier and partner_confidence let you filter further."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "Maximum number of results per page. Requesting more than 20 results requires a credits-based plan.",
              "default": 20,
              "title": "Limit"
            },
            "description": "Maximum number of results per page. Requesting more than 20 results requires a credits-based plan."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination cursor. To continue a paginated activity request, pass this cursor with the same filters and omit activity_after and sync_token.",
              "title": "Cursor"
            },
            "description": "Pagination cursor. To continue a paginated activity request, pass this cursor with the same filters and omit activity_after and sync_token."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SponsorshipsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-agent-description": "Return individual sponsored placements (content-level rows). Provide at least one selector: sponsor_name, sponsor_id, sponsor_channel_id, publication_url, or categories (free text, matched to the nearest vertical). These can be combined, except publication_url and categories cannot be used together. Optionally narrow by platforms, sponsor_type, monetization_type, disclosure_tier, and a date window (since/until as YYYY-MM-DD; defaults to the last 90 days). Set include_evidence=true for the ad excerpt.",
        "x-agent-params": [
          "sponsor_name",
          "sponsor_id",
          "sponsor_channel_id",
          "publication_url",
          "categories",
          "platforms",
          "sponsor_type",
          "monetization_type",
          "disclosure_tier",
          "is_first_party",
          "include_evidence",
          "include_inferred",
          "since",
          "until",
          "activity_after",
          "sync_token",
          "limit",
          "cursor"
        ],
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -X GET 'https://api.upriver.ai/v1/sponsorships?brand_name=Notion&platforms=youtube&since=2024-04-01&until=2024-09-30' \\\n  -H 'X-API-Key: YOUR_API_KEY'"
          }
        ]
      }
    },
    "/v2/trends/broad": {
      "post": {
        "tags": [
          "Trends"
        ],
        "summary": "Trends List",
        "description": "Get the latest trending formats.",
        "operationId": "trends_broad_v2",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "commercial_music_status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "const": "approved",
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "When set to 'approved', returns only sound trends whose attached music was explicitly approved by the platform for commercial/business use. Trends without a known approval signal are excluded.",
              "title": "Commercial Music Status"
            },
            "description": "When set to 'approved', returns only sound trends whose attached music was explicitly approved by the platform for commercial/business use. Trends without a known approval signal are excluded."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/TrendsBroadInput"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Data"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON object containing broad trends",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendsBroadResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-agent-description": "Get the latest trending TikTok video formats and templates — the primary endpoint for trend discovery. Trends are sourced from TikTok but are useful for ideation across platforms (Instagram Reels, YouTube Shorts, etc.). Filter by uses_specific_sound, participation_type, content_structure, has_text_template, include/exclude tags (e.g., exclude_tags=['nsfw']), and duration range. Each trend in the response has an id field — use it as the trend_id path parameter for the trend details, media, and playback endpoints.",
        "x-agent-params": [
          "commercial_music_status",
          "uses_specific_sound",
          "participation_type",
          "content_structure",
          "sort_by",
          "has_text_template",
          "tags",
          "exclude_tags",
          "min_duration",
          "max_duration",
          "cursor"
        ]
      }
    },
    "/v2/trends/{trend_id}": {
      "get": {
        "tags": [
          "Trends"
        ],
        "summary": "Trend Details",
        "description": "Get a specific trend by its id. Use the /trends/{id}/playback endpoint to get a refreshed audio playback URL.",
        "operationId": "get_trend_by_id_v2",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "trend_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Trend Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trend details with title, summary, samples, and timeliness.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendDetailResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-agent-description": "Get full details for a specific trend by ID, including description, metrics, and metadata. Use after discovering trends via /v2/trends/broad."
      }
    },
    "/v2/trends/{trend_id}/media": {
      "get": {
        "tags": [
          "Trends"
        ],
        "summary": "Media Samples",
        "description": "Returns video and audio url samples for a trend",
        "operationId": "trends_media_v2",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "trend_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Trend Id"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Kind"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing media items",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-agent-description": "Get video samples for a trend — returns URLs to example TikTok videos demonstrating the trend. Filter by kind (video, audio) and limit the number of samples."
      }
    },
    "/v2/trends/{trend_id}/playback": {
      "get": {
        "tags": [
          "Trends"
        ],
        "summary": "Audio Playback",
        "description": "Return a playback URL for a trend's audio media",
        "operationId": "trends_playback_v2",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "trend_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Trend Id"
            }
          },
          {
            "name": "media_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Media Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing a playback URL",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-agent-description": "Get the top associated audio playback URL for a trend's sound. Use when the user wants the audio/music behind a trend rather than full video samples."
      }
    },
    "/v2/trends/{trend_id}/similar": {
      "get": {
        "tags": [
          "Trends"
        ],
        "summary": "Similar Trends",
        "description": "Find trends similar to a given trend via embedding similarity",
        "operationId": "trends_similar_v2",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "trend_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Trend Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20,
              "minimum": 1,
              "default": 5,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimilarTrendsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-agent-description": "Find trends similar to a given trend. Use a trend_id from /v2/trends/broad results. Returns up to limit (default 5, max 20) related trends ranked by similarity."
      }
    },
    "/v2/trends/{trend_id}/traction": {
      "get": {
        "tags": [
          "Trends"
        ],
        "summary": "Traction Graph",
        "description": "Pre-computed traction graph points for a trend. Returns both 'all' and 'recent' windows with estimated curves plus separate blended activity curves.",
        "operationId": "get_trend_traction_v2",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "trend_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Trend Id"
            }
          },
          {
            "name": "metadata_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(basic|debug)$",
              "description": "How much traction metadata to include. 'basic' returns only precomputed series; 'debug' also returns raw evidence and diagnostics.",
              "default": "basic",
              "title": "Metadata Mode"
            },
            "description": "How much traction metadata to include. 'basic' returns only precomputed series; 'debug' also returns raw evidence and diagnostics."
          }
        ],
        "responses": {
          "200": {
            "description": "Traction graph with all and recent windows",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-agent-description": "Get the traction graph for a trend — returns pre-computed estimated traction curves, plus the underlying blended activity curves, for both the full time range and a focused recent window."
      }
    },
    "/v1/entities/breakout": {
      "get": {
        "tags": [
          "Breakout Topics"
        ],
        "summary": "List Breakout Entities",
        "description": "List breaking entities (players or teams) for a vertical.",
        "operationId": "list_breakout_entities",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "entity_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Entity kind to rank: 'player' or 'team'",
              "title": "Entity Type"
            },
            "description": "Entity kind to rank: 'player' or 'team'"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Ranking mode: 'recommended' (default, balanced), 'rising' (biggest movers vs own baseline), 'top' (highest absolute volume), or 'newest' (most recently appeared). Legacy aliases (blended, hot, momentum, emerging, importance, recent, new) are accepted.",
              "default": "recommended",
              "title": "Sort"
            },
            "description": "Ranking mode: 'recommended' (default, balanced), 'rising' (biggest movers vs own baseline), 'top' (highest absolute volume), or 'newest' (most recently appeared). Legacy aliases (blended, hot, momentum, emerging, importance, recent, new) are accepted."
          },
          {
            "name": "vertical",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Vertical; only 'sports'",
              "default": "sports",
              "title": "Vertical"
            },
            "description": "Vertical; only 'sports'"
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to entities carrying this tag (e.g. a sport). Use a tag value from the /entities/breakout/tags endpoint.",
              "title": "Tag"
            },
            "description": "Filter to entities carrying this tag (e.g. a sport). Use a tag value from the /entities/breakout/tags endpoint."
          },
          {
[...]
