{
  "openapi": "3.0.3",
  "info": {
    "title": "PolicyForge API",
    "description": "AI-assisted policy workflow API. Generate, retrieve, update, and host policy drafts programmatically, and manage consent records. Generated content is not legal advice and should be reviewed before publication.\n\n## Authentication\nOperations require a Bearer token unless they explicitly declare no security requirement. Generate an API key from your [PolicyForge API Dashboard](https://policyforge.co/api-dashboard). Keys are prefixed with `pf_live_`.\n\n## Rate Limits\n| Tier | Requests/min | Requests/day |\n|------|-------------|-------------|\n| Free | 10 | 100 |\n| Pro | 60 | 5,000 |\n| Enterprise | 300 | 50,000 |\n\nRate limit headers (`X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`) are included in every response.",
    "version": "1.0.0",
    "contact": {
      "name": "PolicyForge Support",
      "url": "https://policyforge.co",
      "email": "support@policyforge.co"
    },
    "license": {
      "name": "Proprietary"
    },
    "x-jentic-source-url": "https://policyforge.co/openapi.json"
  },
  "servers": [
    {
      "url": "https://policyforge.co",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/policies": {
      "post": {
        "operationId": "createPolicy",
        "summary": "Generate a policy draft",
        "description": "Generate a policy draft from the supplied business facts and jurisdiction choice. The policy is saved, hosted at a public URL by default, and returned in the response. Review generated content before publication.",
        "tags": [
          "Policies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyCreateRequest"
              },
              "examples": {
                "saas_privacy_policy": {
                  "summary": "SaaS Privacy Policy",
                  "value": {
                    "type": "privacy_policy",
                    "business_type": "saas",
                    "jurisdiction": "gdpr",
                    "company_name": "Acme Inc",
                    "contact_email": "privacy@acme.com",
                    "website_url": "https://acme.com",
                    "service_description": "Project management SaaS platform",
                    "data_collection": [
                      "name",
                      "email",
                      "usage_data",
                      "payment_info"
                    ],
                    "third_party_integrations": [
                      "Stripe",
                      "Google Analytics",
                      "Intercom"
                    ],
                    "data_retention": "2 years after account deletion",
                    "user_accounts": true,
                    "payments": true,
                    "marketing": true,
                    "analytics": true,
                    "cookies": true
                  }
                },
                "ecommerce_terms": {
                  "summary": "E-commerce Terms of Service",
                  "value": {
                    "type": "terms_of_service",
                    "business_type": "e-commerce",
                    "jurisdiction": "ccpa",
                    "company_name": "ShopDirect LLC",
                    "contact_email": "legal@shopdirect.com",
                    "website_url": "https://shopdirect.com",
                    "payments": true,
                    "user_accounts": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Policy created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "Monthly policy quota exhausted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionLimitError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "get": {
        "operationId": "listPolicies",
        "summary": "List all policies",
        "description": "Retrieve policies created by the authenticated user. Returns policy metadata (not full content). Supports filtering, sorting, and offset pagination.",
        "tags": [
          "Policies"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Page size (1–100)."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Number of results to skip."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "published",
                "archived"
              ]
            },
            "description": "Filter by lifecycle status."
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "privacy_policy",
                "terms_of_service",
                "cookie_policy",
                "refund"
              ]
            },
            "description": "Filter by policy type (same values as POST)."
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt",
                "name"
              ],
              "default": "updatedAt"
            },
            "description": "Sort field."
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction."
          }
        ],
        "responses": {
          "200": {
            "description": "List of policies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/policies/{policyId}": {
      "parameters": [
        {
          "name": "policyId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The unique identifier of the policy"
        }
      ],
      "get": {
        "operationId": "getPolicy",
        "summary": "Get a policy",
        "description": "Retrieve full details of a specific policy including its content, hosting information, and metadata.",
        "tags": [
          "Policies"
        ],
        "responses": {
          "200": {
            "description": "Policy details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyDetailResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updatePolicy",
        "summary": "Update a policy",
        "description": "Update fields of an existing policy. Only provided fields will be updated. You can update the title, content, status, or hosting settings.",
        "tags": [
          "Policies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyDetailResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deletePolicy",
        "summary": "Delete a policy",
        "description": "Permanently delete a policy and its hosted page. Pass delete_consent_records=true to also delete the consent records linked to this policy.",
        "tags": [
          "Policies"
        ],
        "parameters": [
          {
            "name": "delete_consent_records",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Also delete the consent records linked to this policy before deleting it"
          }
        ],
        "responses": {
          "200": {
            "description": "Policy deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Policy deleted successfully"
                    },
                    "deleted_consent_records": {
                      "type": "integer",
                      "description": "Only present when delete_consent_records=true",
                      "example": 12
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/consent": {
      "post": {
        "operationId": "recordConsent",
        "summary": "Record user consent",
        "description": "Record a website visitor's consent preferences. Use this to track which cookie/data categories a visitor has accepted or rejected. The consent record is stored and can be retrieved later for compliance audits.",
        "tags": [
          "Consent"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentCreateRequest"
              },
              "examples": {
                "tos_at_checkout": {
                  "summary": "ToS at checkout (linked to a specific policy)",
                  "value": {
                    "user_id": "user_47821",
                    "policy_version": "v2.1",
                    "policy_id": "8331bf67-3748-471f-b595-9ba55a972cd5",
                    "consents": {
                      "tos": true,
                      "marketing": false
                    },
                    "ip_address": "203.0.113.42",
                    "user_agent": "Mozilla/5.0..."
                  }
                },
                "full_consent": {
                  "summary": "Visitor accepts all cookie categories",
                  "value": {
                    "user_id": "visitor_abc123",
                    "policy_version": "v2.1",
                    "consents": {
                      "essential": true,
                      "analytics": true,
                      "marketing": true
                    },
                    "ip_address": "203.0.113.42",
                    "user_agent": "Mozilla/5.0..."
                  }
                },
                "partial_consent": {
                  "summary": "Visitor accepts only essential",
                  "value": {
                    "user_id": "visitor_xyz789",
                    "policy_version": "v2.1",
                    "consents": {
                      "essential": true,
                      "analytics": false,
                      "marketing": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consent recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "operationId": "listConsent",
        "summary": "List consent records",
        "description": "List all consent records for the authenticated API key owner, paginated and filterable. Returns consents recorded via both the embeddable banner (`source: \"banner\"`) and the POST /api/v1/consent API (`source: \"api\"`). Use the cursor returned in `next_cursor` to page.",
        "tags": [
          "Consent"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Lower bound on `recorded_at` (ISO 8601). Inclusive."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Upper bound on `recorded_at` (ISO 8601). Inclusive."
          },
          {
            "name": "end_user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter to a single end-user. Equivalent to GET /api/v1/consent/{userId} but with the same paginated shape."
          },
          {
            "name": "policy_version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by the `policy_version` stamp recorded with each consent."
          },
          {
            "name": "policy_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter to consents for a specific policy. Set on banner consents (when the banner is linked to a cookie policy), hosted-policy 'I Agree' clicks, and API-recorded consents that included a policy_id."
          },
          {
            "name": "banner_config_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter to consents recorded via a specific consent banner."
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "banner",
                "api"
              ]
            },
            "description": "Filter by source. `banner` = recorded via the embeddable cookie banner. `api` = recorded via POST /api/v1/consent (e.g. ToS-at-checkout)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Page size. Max 200."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor returned as `next_cursor` in the previous page. Pass it back to fetch the next page. Stable across same-timestamp rows."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of consent records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "consent_records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConsentRecord"
                      }
                    },
                    "page_size": {
                      "type": "integer",
                      "description": "Number of records returned in this page."
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Limit applied to this query."
                    },
                    "total_count": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Total matching records across all pages."
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Cursor to pass back as `?cursor=` for the next page. `null` when there are no more pages."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/consent/{userId}": {
      "get": {
        "operationId": "getConsent",
        "summary": "Get consent records for a user",
        "description": "Retrieve all consent records for a specific website visitor. Use this for compliance audits to prove consent was obtained.",
        "tags": [
          "Consent"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The website visitor's identifier (as provided when recording consent)"
          }
        ],
        "responses": {
          "200": {
            "description": "Consent records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "User ID required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "deleteConsentRecord",
        "summary": "Delete a consent record",
        "description": "Permanently delete one consent record owned by your account, for example to honour an erasure request. For this method the path segment is the consent record id (UUID) returned when the consent was recorded or listed, not the end user id.",
        "tags": [
          "Consent"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The consent record id (UUID)"
          }
        ],
        "responses": {
          "200": {
            "description": "Consent record deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Record id missing or not a UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/consent/policy/{policyId}/record": {
      "post": {
        "operationId": "recordHostedPolicyConsent",
        "summary": "Record hosted-policy consent (public, no API key)",
        "description": "Records a consent event for a hosted policy. This is the same endpoint our hosted-policy 'I Agree' button calls; it is also useful for custom checkout pages that link out to your hosted policy and want to log the consent without minting an API key on the client.\n\n**No authentication required.** The owner is discovered from the policy itself. CORS is fully open. The policy must have hosting enabled.\n\nRecords land in the unified `consent_records` table and are retrievable via `GET /api/v1/consent?policy_id=...`.",
        "tags": [
          "Consent"
        ],
        "security": [],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of a published, hosting-enabled policy."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "end_user_id": {
                    "type": "string",
                    "description": "Stable visitor identifier. If omitted, a UUID is generated server-side. Persist this client-side (e.g. localStorage) so re-visits stitch."
                  },
                  "consents": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "boolean"
                    },
                    "description": "Defaults to `{ \"policy\": true }`. Override for finer-grained consent boxes."
                  },
                  "policy_version": {
                    "type": "string",
                    "description": "Defaults to a slug derived from `policies.updated_at`, tying the record to the wording in force at click time (GDPR Art. 7(1))."
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Default I Agree click",
                  "value": {
                    "end_user_id": "eu-l8g4q7y2-x9k3p1m"
                  }
                },
                "with_granular_consents": {
                  "summary": "Granular consent (custom checkout flow)",
                  "value": {
                    "end_user_id": "user_47821",
                    "consents": {
                      "tos": true,
                      "marketing": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consent recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "end_user_id": {
                      "type": "string"
                    },
                    "recorded_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "policy_version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid policy ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Policy is not hosted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Policy not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key from your PolicyForge dashboard. Keys are prefixed with `pf_`. Example: `pf_abc123def456...`"
      }
    },
    "schemas": {
      "PolicyCreateRequest": {
        "type": "object",
        "required": [
          "type",
          "business_type",
          "jurisdiction",
          "contact_email",
          "company_name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "privacy_policy",
              "terms_of_service",
              "cookie_policy",
              "refund"
            ],
            "description": "The type of policy to generate"
          },
          "business_type": {
            "type": "string",
            "enum": [
              "e-commerce",
              "saas",
              "healthcare",
              "education",
              "financial",
              "real-estate",
              "non-profit",
              "consulting",
              "media",
              "other"
            ],
            "description": "Your business category"
          },
          "jurisdiction": {
            "type": "string",
            "enum": [
              "gdpr",
              "ccpa",
              "pipeda",
              "us",
              "eu",
              "ca",
              "uk",
              "global"
            ],
            "description": "Primary legal jurisdiction for compliance"
          },
          "company_name": {
            "type": "string",
            "description": "Your company or organization name",
            "example": "Acme Inc"
          },
          "contact_email": {
            "type": "string",
            "format": "email",
            "description": "Contact email for privacy/legal inquiries",
            "example": "privacy@acme.com"
          },
          "website_url": {
            "type": "string",
            "format": "uri",
            "description": "Your website URL",
            "example": "https://acme.com"
          },
          "service_description": {
            "type": "string",
            "description": "Brief description of your service or product",
            "example": "Project management SaaS platform for remote teams"
          },
          "data_collection": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Types of data your service collects",
            "example": [
              "name",
              "email",
              "usage_data",
              "payment_info"
            ]
          },
          "third_party_integrations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Third-party services you integrate with",
            "example": [
              "Stripe",
              "Google Analytics",
              "Intercom"
            ]
          },
          "data_retention": {
            "type": "string",
            "description": "How long you retain user data",
            "example": "2 years after account deletion"
          },
          "user_accounts": {
            "type": "boolean",
            "default": false,
            "description": "Whether your service has user accounts"
          },
          "payments": {
            "type": "boolean",
            "default": false,
            "description": "Whether your service processes payments"
          },
          "marketing": {
            "type": "boolean",
            "default": false,
            "description": "Whether you send marketing communications"
          },
          "analytics": {
            "type": "boolean",
            "default": false,
            "description": "Whether you use analytics tracking"
          },
          "cookies": {
            "type": "boolean",
            "default": true,
            "description": "Whether your website uses cookies"
          },
          "children_data": {
            "type": "boolean",
            "default": false,
            "description": "Whether your service collects data from children under 13"
          },
          "hosting_enabled": {
            "type": "boolean",
            "default": true,
            "description": "Whether to host the policy at a public URL"
          }
        }
      },
      "PolicyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique policy identifier"
          },
          "type": {
            "type": "string",
            "description": "Policy type (privacy, terms, cookies, refund)"
          },
          "policy_type": {
            "type": "string",
            "description": "Alias of `type` (same value), for naming consistency with the list endpoint"
          },
          "title": {
            "type": "string",
            "description": "Generated policy title",
            "example": "Privacy Policy - Acme Inc"
          },
          "content": {
            "type": "string",
            "description": "Full policy content in HTML format"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "archived"
            ],
            "description": "Policy publication status"
          },
          "hosting_enabled": {
            "type": "boolean"
          },
          "hosted_url": {
            "type": "string",
            "format": "uri",
            "description": "Public URL where the policy is hosted (if hosting is enabled)",
            "example": "https://policyforge.co/policy/privacy-acme-inc"
          },
          "url_slug": {
            "type": "string",
            "description": "URL slug for the hosted policy",
            "example": "privacy-acme-inc"
          },
          "metadata": {
            "type": "object",
            "description": "Generation metadata (word count, compliance level, etc.)"
          },
          "subscription_info": {
            "$ref": "#/components/schemas/SubscriptionInfo"
          }
        }
      },
      "PolicyListResponse": {
        "type": "object",
        "properties": {
          "policies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "type": {
                  "type": "string"
                },
                "policy_type": {
                  "type": "string",
                  "description": "Alias of `type` (same value)"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of policies matching the query"
          },
          "limit": {
            "type": "integer",
            "description": "Page size applied to this query"
          },
          "offset": {
            "type": "integer",
            "description": "Offset applied to this query"
          },
          "subscription_info": {
            "$ref": "#/components/schemas/SubscriptionInfo"
          }
        }
      },
      "PolicyDetailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string"
          },
          "policy_type": {
            "type": "string",
            "description": "Alias of `type` (same value)"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "published_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "effective_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "hosting_enabled": {
            "type": "boolean"
          },
          "hosted_url": {
            "type": "string",
            "format": "uri"
          },
          "url_slug": {
            "type": "string"
          }
        }
      },
      "PolicyUpdateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "archived"
            ]
          },
          "hosting_enabled": {
            "type": "boolean"
          }
        }
      },
      "ConsentCreateRequest": {
        "type": "object",
        "required": [
          "user_id",
          "policy_version",
          "consents"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Your website visitor's unique identifier",
            "example": "visitor_abc123"
          },
          "policy_version": {
            "type": "string",
            "description": "Version of the privacy policy the consent applies to",
            "example": "v2.1"
          },
          "consents": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Map of consent categories to accepted/rejected status",
            "example": {
              "essential": true,
              "analytics": true,
              "marketing": false
            }
          },
          "ip_address": {
            "type": "string",
            "description": "Visitor's IP address (for audit trail)"
          },
          "user_agent": {
            "type": "string",
            "description": "Visitor's browser user agent (for audit trail)"
          },
          "policy_id": {
            "type": "string",
            "format": "uuid",
            "description": "Optional. UUID of a PolicyForge policy this consent ties to. Must be a policy owned by the same account as the API key, or the request returns 404. Setting this lets the consent show up under the policy's analytics card and be filterable via `GET /api/v1/consent?policy_id=...`."
          }
        }
      },
      "ConsentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "policy_version": {
            "type": "string"
          },
          "policy_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Echoes the policy_id from the request, or null if none was provided."
          },
          "consents": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "recorded_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "example": "recorded"
          }
        }
      },
      "ConsentRecord": {
        "type": "object",
        "description": "A single consent record as returned by the list endpoint.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "user_id": {
            "type": "string",
            "description": "End-user / visitor identifier (this is `end_user_id` in the database)."
          },
          "policy_version": {
            "type": "string",
            "description": "Policy version stamp captured at consent time."
          },
          "consents": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          },
          "ip_address": {
            "type": "string",
            "nullable": true
          },
          "user_agent": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "enum": [
              "banner",
              "api"
            ],
            "description": "`banner` = recorded via the embeddable cookie banner. `api` = recorded via POST /api/v1/consent or a hosted-policy 'I Agree' click."
          },
          "banner_config_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Set when `source` is `banner`. `null` for API-recorded consents."
          },
          "policy_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Set when the consent is tied to a specific PolicyForge policy (cookie banner with a linked policy, hosted-policy 'I Agree', or API consent that included a policy_id)."
          },
          "recorded_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ConsentListResponse": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "consent_records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConsentResponse"
            }
          },
          "total_records": {
            "type": "integer"
          }
        }
      },
      "SubscriptionInfo": {
        "type": "object",
        "properties": {
          "tier": {
            "type": "string",
            "enum": [
              "free",
              "pro",
              "enterprise"
            ]
          },
          "can_create_more": {
            "type": "boolean"
          },
          "remaining_policies": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "description": "Additional error details (string or array of strings)"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Request validation failed"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Missing required field: type",
              "Invalid business type: unknown"
            ]
          }
        }
      },
      "SubscriptionLimitError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Monthly policy quota exhausted. Upgrade to continue."
          },
          "details": {
            "type": "object",
            "properties": {
              "tier": {
                "type": "string",
                "example": "free"
              },
              "limit": {
                "type": "integer",
                "example": 2
              },
              "used": {
                "type": "integer",
                "example": 2
              },
              "resets_at": {
                "type": "string",
                "nullable": true,
                "example": "2026-06-01"
              }
            }
          }
        }
      },
      "RateLimitError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Rate limit exceeded"
          },
          "retry_after": {
            "type": "integer",
            "description": "Seconds until the rate limit resets"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Missing or invalid API key"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Policy not found"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            },
            "description": "Maximum requests per window"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            },
            "description": "Remaining requests in current window"
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp when the rate limit resets"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RateLimitError"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "Internal server error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Policies",
      "description": "Generate, manage, and host compliance policies"
    },
    {
      "name": "Consent",
      "description": "Record and retrieve user consent for compliance audits"
    }
  ]
}