{
  "openapi": "3.1.0",
  "info": {
    "title": "Answerline API",
    "description": "Answerline tracks how AI assistants and search engines answer, across providers and regions. Each request comes back as structured JSON holding the engine's answer: the parsed text, its cited sources and whatever else the engine returned with them, geo-targeted to a country you choose (which countries are available depends on the engine; see [coverage](/docs/coverage)).\n\n## Authentication\n\nPass your API key in the header `Authorization: Bearer <key>`. You can create keys yourself at https://dashboard.answerline.dev/keys, and each new account begins on a free tier with 500 one-time credits. A single key works for all endpoints; keys cannot currently be limited to particular scopes.\n\n## Versioning and deprecation\n\nThe URL path carries the version. All endpoints sit under `/v1/`; no header or query parameter selects a version.\n\nChanges inside a version only add things: new endpoints, optional request fields and response fields may be introduced at any moment. Clients have to skip response fields they don't know. Anything breaking ships under a new path (`/v2/`) and never replaces an existing version.\n\nDeprecation is announced in the endpoint's responses themselves, not just in a changelog: the `Deprecation` header (RFC 9745) gives the date it became deprecated, `Sunset` (RFC 8594) gives the date it will stop answering, and the replacement is given by a `Link` header carrying `rel=\"deprecation\"`. For generally available endpoints, those two dates are at least six months apart. No endpoint is currently deprecated.\n\n## Rate limits\n\nEach response reports the current limit state, letting a client pace itself using the response in hand: `X-RateLimit-Limit` and `X-RateLimit-Remaining`, plus the headers for concurrency and credits. Rate limiting uses a one-second window, so a `429` caused by it goes away almost at once; a `429` caused by the concurrency limit goes away once your running jobs complete. `Retry-After` is not set on either, and no IETF `RateLimit-*` headers are sent.\n\n## Errors\n\nAll 4xx and 5xx responses share the `Error` envelope: `{ \"error\": { \"code\", \"message\", \"details\", \"timestamp\" } }`. Clients should branch on `code`, a stable identifier meant for machines; `message` is meant for people reading logs.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.0.0",
    "contact": {
      "name": "answerline support",
      "email": "support@answerline.dev"
    },
    "termsOfService": "https://answerline.dev/legal/terms",
    "x-jentic-source-url": "https://answerline.dev/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.answerline.dev",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/monitor/chatgpt": {
      "post": {
        "summary": "Track ChatGPT answers",
        "description": "Get structured output from ChatGPT for any prompt in supported regions: the answer, its cited sources, ads, shopping cards and brand entities",
        "operationId": "monitorChatgpt",
        "requestBody": {
          "description": "Parameters for a ChatGPT monitoring request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatGPTMonitorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ChatGPT monitoring result (success)",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 3
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 7
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 1
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 3420
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatGPTMonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing permissions or not enough credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No such route",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - the resource is in a conflicting state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the request went over a rate limit or concurrency limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 11
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 12
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConcurrentLimitError"
                }
              }
            }
          },
          "499": {
            "description": "Client Closed Request - the client cancelled the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanceledError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - an upstream service failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitor/gemini": {
      "post": {
        "summary": "Track Gemini answers",
        "description": "Get structured output from Google Gemini for any prompt: the generated answer and the sources it cites, exportable as Markdown",
        "operationId": "monitorGemini",
        "requestBody": {
          "description": "Parameters for a Gemini monitoring request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiMonitorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Gemini monitoring result (success)",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 3
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 7
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 1
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 3420
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiMonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing permissions or not enough credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No such route",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - the resource is in a conflicting state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the request went over a rate limit or concurrency limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 11
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 12
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConcurrentLimitError"
                }
              }
            }
          },
          "499": {
            "description": "Client Closed Request - the client cancelled the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanceledError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - an upstream service failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitor/grok": {
      "post": {
        "summary": "Track Grok answers",
        "description": "Get structured output from Grok for any prompt in supported regions: the answer and the sources it cites, X/Twitter posts included",
        "operationId": "monitorGrok",
        "requestBody": {
          "description": "Parameters for a Grok monitoring request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrokMonitorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Grok monitoring result (success)",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 3
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 7
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 3
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 3420
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrokMonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing permissions or not enough credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No such route",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - the resource is in a conflicting state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the request went over a rate limit or concurrency limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 11
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 12
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConcurrentLimitError"
                }
              }
            }
          },
          "499": {
            "description": "Client Closed Request - the client cancelled the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanceledError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - an upstream service failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitor/google": {
      "post": {
        "summary": "Track Google Search results",
        "description": "Get structured output from Google Search: organic listings, related searches, People Also Ask and, optionally, the AI Overview",
        "operationId": "monitorGoogle",
        "requestBody": {
          "description": "Parameters for a Google search monitoring request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleMonitorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Google monitoring result (success)",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 3
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 7
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 997
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 3
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 3420
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleMonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - one or more parameters are not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key absent or not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - not enough credits, or access was refused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No such route",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - the resource is in a conflicting state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the request went over a rate limit or concurrency limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 11
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 12
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConcurrentLimitError"
                }
              }
            }
          },
          "499": {
            "description": "Client Closed Request - the client cancelled the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanceledError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - an upstream service failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitor/google/goto": {
      "post": {
        "summary": "Get the target of a Google redirect link",
        "description": "Returns the destination URL of a single Google redirect link. Pass the `redirectLink` value that accompanies each resolved link in a Google Search, Google News or AI Mode response; the reply contains the URL it leads to.\n\nFree of credit charges and takes no concurrency slot, but it counts toward the per-second rate limit the same way other calls do. One link is resolved per request, and Google is given up to 10 seconds to respond.",
        "operationId": "resolveGoogleGoto",
        "requestBody": {
          "description": "Google redirect link that should be resolved",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleGotoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Target URL that the redirect link leads to",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleGotoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - url is absent, badly formed, or not a /goto or /url link on google.com",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key absent or not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the request went over a rate limit or concurrency limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - Google's reply was not a redirect, or calling Google failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitor/google/news": {
      "post": {
        "summary": "Track Google News results",
        "description": "Get structured articles from Google News: title, link, snippet, source, date and thumbnail for each",
        "operationId": "monitorGoogleNews",
        "requestBody": {
          "description": "Parameters for a Google News monitoring request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleNewsMonitorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Google News monitoring result (success)",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 3
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 7
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 997
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 3
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 3420
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleNewsMonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - one or more parameters are not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key absent or not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - not enough credits, or access was refused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No such route",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - the resource is in a conflicting state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the request went over a rate limit or concurrency limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 11
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 12
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConcurrentLimitError"
                }
              }
            }
          },
          "499": {
            "description": "Client Closed Request - the client cancelled the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanceledError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - an upstream service failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitor/copilot": {
      "post": {
        "summary": "Track Copilot answers",
        "description": "Get structured output from Microsoft Copilot on your brand, your products or any other topic, in many regions",
        "operationId": "monitorCopilot",
        "requestBody": {
          "description": "Parameters for a Copilot monitoring request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopilotMonitorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Copilot monitoring result (success)",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 3
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 7
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 5
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 3420
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopilotMonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing permissions or not enough credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No such route",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - the resource is in a conflicting state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the request went over a rate limit or concurrency limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 11
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 12
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConcurrentLimitError"
                }
              }
            }
          },
          "499": {
            "description": "Client Closed Request - the client cancelled the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanceledError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - an upstream service failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitor/perplexity": {
      "post": {
        "summary": "Track Perplexity answers",
        "description": "Get structured output from Perplexity AI on your brand, your products or any other topic, in many regions",
        "operationId": "monitorPerplexity",
        "requestBody": {
          "description": "Parameters for a Perplexity monitoring request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerplexityMonitorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Perplexity monitoring result (success)",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 3
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 7
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 5
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 3420
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerplexityMonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing permissions or not enough credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No such route",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - the resource is in a conflicting state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the request went over a rate limit or concurrency limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 11
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 12
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConcurrentLimitError"
                }
              }
            }
          },
          "499": {
            "description": "Client Closed Request - the client cancelled the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanceledError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - an upstream service failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitor/aimode": {
      "post": {
        "summary": "Track AI Mode answers",
        "description": "Get structured output from AI Mode on your brand, your products or any other topic, in many regions",
        "operationId": "monitorAiMode",
        "requestBody": {
          "description": "Parameters for an AI Mode monitoring request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiModeMonitorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "AI Mode monitoring result (success)",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 3
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 7
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 5
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 3420
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiModeMonitorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - the request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing permissions or not enough credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No such route",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - the resource is in a conflicting state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the request went over a rate limit or concurrency limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-Concurrent-Limit": {
                "description": "Upper limit on requests running at once",
                "schema": {
                  "type": "integer",
                  "example": 10
                }
              },
              "X-Concurrent-Current": {
                "description": "How many requests are running concurrently now",
                "schema": {
                  "type": "integer",
                  "example": 11
                }
              },
              "X-Concurrent-Remaining": {
                "description": "Concurrency slots still free",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Credits-Remaining": {
                "description": "Credits left on the account balance",
                "schema": {
                  "type": "integer",
                  "example": 4
                }
              },
              "X-Credits-Charged": {
                "description": "Credits this request cost",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Latency-Ms": {
                "description": "Time the server spent handling this request, in milliseconds, not counting network transit.",
                "schema": {
                  "type": "integer",
                  "example": 12
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConcurrentLimitError"
                }
              }
            }
          },
          "499": {
            "description": "Client Closed Request - the client cancelled the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanceledError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - an upstream service failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalServiceError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/countries": {
      "get": {
        "summary": "Array of countries",
        "description": "Lists every supported country code in ISO 3166-1 alpha-2 format. Filter by model to see which countries a given AI provider supports.",
        "operationId": "getCountries",
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "description": "Limit the list to countries a given model supports",
            "schema": {
              "type": "string",
              "enum": [
                "aimode",
                "aioverview",
                "chatgpt",
                "copilot",
                "gemini",
                "google",
                "grok",
                "perplexity"
              ]
            },
            "example": "chatgpt"
          }
        ],
        "responses": {
          "200": {
            "description": "Country codes that are supported",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "AF",
                    "AX",
                    "AL",
                    "DZ",
                    "AS"
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            }
          },
          "400": {
            "description": "Bad Request - the model parameter is not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No such route",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the API key went over its rate limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/async/task": {
      "post": {
        "summary": "Submit an async task",
        "description": "Queue a task to run asynchronously in the background. The response contains a task ID you can poll for the result, or the result can be delivered by webhook.",
        "operationId": "createAsyncTask",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchTaskRequest"
              },
              "example": {
                "taskType": "CHATGPT",
                "priority": 5,
                "idempotencyKey": "your-custom-identifier-123",
                "webhook": {
                  "url": "https://your-app.com/webhook-handler"
                },
                "payload": {
                  "prompt": "Which museums in Chicago are free on weekdays?",
                  "country": "US"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created. The response includes its ID and starting status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskCreateResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing permissions, or too few credits left to pay for this task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - a task already uses this idempotencyKey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error - the body of the request is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Queue Limit Exceeded - your organization already has the maximum number of queued tasks. This status is also returned when the API key's rate limit is hit and when the API sheds load (`SERVICE_OVERLOADED`, sent with `Retry-After` and without limit headers)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueLimitError"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/async/task/batch": {
      "post": {
        "summary": "Submit async tasks in a batch",
        "description": "Create as many as 500 async tasks in a single request. Tasks are validated one by one, so an invalid task does not stop the others from being accepted. The response lists a result for each task.",
        "operationId": "createBatchAsyncTasks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "minItems": 1,
                "maxItems": 500,
                "description": "Tasks to create, one object each.",
                "items": {
                  "$ref": "#/components/schemas/BatchTaskRequest"
                }
              },
              "example": [
                {
                  "taskType": "CHATGPT",
                  "priority": 5,
                  "idempotencyKey": "batch-chatgpt-001",
                  "webhook": {
                    "url": "https://your-app.com/webhook-handler"
                  },
                  "payload": {
                    "prompt": "How is Northwind Traders reviewed by customers?",
                    "country": "US"
                  }
                },
                {
                  "taskType": "PERPLEXITY",
                  "priority": 3,
                  "idempotencyKey": "batch-perplexity-001",
                  "payload": {
                    "prompt": "Recent announcements from Northwind Traders",
                    "country": "US"
                  }
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "The batch was processed. See the summary and each task's result to learn which tasks succeeded or failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchTaskResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error - the body of the request is empty or not a proper array",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Queue Limit Exceeded - no task in the batch is accepted, because together they would take your organization beyond its queue capacity. This status is also returned when the API key's rate limit is hit and when the API sheds load (`SERVICE_OVERLOADED`, sent with `Retry-After` and without limit headers)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueLimitError"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/async/task/{taskId}": {
      "get": {
        "summary": "Check an async task's status",
        "description": "Look up an asynchronous task by ID and get its state, plus the complete structured result payload once it finishes.",
        "operationId": "getTaskStatus",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "Identifier of the task you want to retrieve.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success: the task's status, plus its result once finished.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No such task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the API key went over its rate limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/async/status": {
      "get": {
        "summary": "Check the async queue",
        "description": "Returns async queue metrics for the whole organization: how many tasks are queued and processing, plus concurrency in use.",
        "operationId": "getAsyncStatus",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success: queue metrics returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncStatusResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the API key went over its rate limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/async/queue": {
      "delete": {
        "summary": "Remove queued async tasks",
        "description": "Removes all of the authenticated organization's tasks that are still `QUEUED`, so a pending backlog can be emptied with a single request rather than through support. `PROCESSING` tasks are already running and stay as they are, and so do `COMPLETED` and `FAILED` ones. No credits were charged for queued tasks, so removing them leaves your credit balance unchanged. Repeating the call is harmless: with nothing queued it returns `cleared: 0`.",
        "operationId": "clearAsyncQueue",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Queue emptied. The response reports how many queued tasks were deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearQueueResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the API key went over its rate limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/credits": {
      "get": {
        "summary": "Read the credit balance",
        "description": "Get the credit balance and billing cycle currently on your organization's account. This lets you check the balance from code — even for workloads that only use async — without sending a sync /v1/monitor/* request merely to read the X-Credits-Remaining header. The definitive check still happens at the time each task is billed.",
        "operationId": "getCredits",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The credit balance as of now, with the billing cycle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the API key went over its rate limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/states": {
      "get": {
        "summary": "Array of states",
        "description": "Lists US state codes usable for state-level geo-targeting. That feature is not available yet: until it launches, a request that includes a state is rejected as a validation error. States exist only for the US; any other country value yields an empty array.",
        "operationId": "getStates",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Country as an ISO 3166-1 alpha-2 code. Results are available only for \"US\".",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Z]{2}$"
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "States that are supported",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "Two-letter state abbreviation as defined by USPS",
                        "example": "CA"
                      },
                      "name": {
                        "type": "string",
                        "description": "State name written out in full",
                        "example": "California"
                      }
                    },
                    "required": [
                      "code",
                      "name"
                    ]
                  },
                  "example": [
                    {
                      "code": "AL",
                      "name": "Alabama"
                    },
                    {
                      "code": "AK",
                      "name": "Alaska"
                    },
                    {
                      "code": "AZ",
                      "name": "Arizona"
                    },
                    {
                      "code": "CA",
                      "name": "California"
                    },
                    {
                      "code": "DC",
                      "name": "District of Columbia"
                    },
                    {
                      "code": "NY",
                      "name": "New York"
                    },
                    {
                      "code": "TX",
                      "name": "Texas"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            }
          },
          "400": {
            "description": "Bad Request — country parameter absent or not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - the API key went over its rate limit, or the service dropped the request because it was overloaded (`SERVICE_OVERLOADED`); that case returns `Retry-After` without any limit headers",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AsyncTaskSummary": {
        "type": "object",
        "required": [
          "id",
          "taskType",
          "status",
          "priority",
          "createdAt"
        ],
        "description": "Summary fields that every async task response includes.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifier unique to the task.",
            "example": "b27a21e1-7c39-4aa2-a347-23e828c426f9"
          },
          "taskType": {
            "type": "string",
            "enum": [
              "AIMODE",
              "GOOGLE",
              "GOOGLE_NEWS",
              "GEMINI",
              "CHATGPT",
              "COPILOT",
              "PERPLEXITY",
              "GROK"
            ],
            "description": "AI provider that handles this task.",
            "example": "CHATGPT"
          },
          "status": {
            "type": "string",
            "enum": [
              "QUEUED",
              "PROCESSING",
              "COMPLETED",
              "FAILED"
            ],
            "description": "Status of the task right now.",
            "example": "QUEUED"
          },
          "priority": {
            "type": "integer",
            "description": "Priority of the task, from 1 to 10; tasks with higher numbers run first. Default: 1.",
            "minimum": 1,
            "maximum": 10,
            "example": 1
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time of the task.",
            "example": "2026-04-09T15:00:00.000Z"
          },
          "latencyMs": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Time spent processing, in milliseconds, measured from the first pickup until the final outcome. The initial wait in the queue is not counted, but for a retried task it spans all attempts plus the backoff in between. Null for tasks in `QUEUED` or `PROCESSING` state, and for tasks that failed before processing began.",
            "example": null
          },
          "idempotencyKey": {
            "type": [
              "string",
              "null"
            ],
            "description": "Idempotency key supplied with the request, if any.",
            "example": "batch-chatgpt-001"
          }
        }
      },
      "AsyncTaskCredits": {
        "type": "object",
        "required": [
          "creditsToCharge",
          "creditsCharged"
        ],
        "description": "Credit details for one async task.",
        "properties": {
          "creditsToCharge": {
            "type": "number",
            "description": "Credits held back for this task.",
            "example": 10
          },
          "creditsCharged": {
            "type": [
              "number",
              "null"
            ],
            "description": "Credits billed for the task; null while it has not finished.",
            "example": null
          }
        }
      },
      "AsyncTaskCreateResponse": {
        "type": "object",
        "required": [
          "success",
          "task",
          "credits"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "task": {
            "$ref": "#/components/schemas/AsyncTaskSummary"
          },
          "credits": {
            "$ref": "#/components/schemas/AsyncTaskCredits"
          }
        }
      },
      "TaskStatusResponse": {
        "type": "object",
        "required": [
          "task",
          "credits"
        ],
        "properties": {
          "task": {
            "$ref": "#/components/schemas/AsyncTaskSummary"
          },
          "credits": {
            "$ref": "#/components/schemas/AsyncTaskCredits"
          },
          "response": {
            "type": "object",
            "description": "Complete response payload; included only once the task status is COMPLETED or FAILED."
          }
        }
      },
      "AsyncStatusResponse": {
        "type": "object",
        "required": [
          "queuedTasks",
          "processingTasks",
          "priorityBreakdown"
        ],
        "properties": {
          "queuedTasks": {
            "type": "integer",
            "description": "Tasks this organization currently has waiting in the queue.",
            "example": 3
          },
          "processingTasks": {
            "type": "integer",
            "description": "Tasks this organization has in progress right now.",
            "example": 2
          },
          "priorityBreakdown": {
            "type": "array",
            "description": "Number of queued tasks for each priority level, highest priority first. Priority levels with no queued tasks are left out.",
            "items": {
              "type": "object",
              "required": [
                "priority",
                "count"
              ],
              "properties": {
                "priority": {
                  "type": "integer",
                  "description": "Priority on a scale of 1-10.",
                  "minimum": 1,
                  "maximum": 10,
                  "example": 5
                },
                "count": {
                  "type": "integer",
                  "description": "Tasks waiting in the queue at this priority.",
                  "example": 2
                }
              }
            }
          },
          "concurrency": {
            "type": "object",
            "nullable": true,
            "description": "Concurrency in use right now; null when it could not be read.",
            "properties": {
              "used": {
                "type": "integer",
                "description": "Concurrency slots occupied right now.",
                "example": 2
              },
              "max": {
                "type": "integer",
                "description": "Highest number of tasks this organization may run concurrently.",
                "example": 5
              }
            }
          }
        }
      },
      "CreditsResponse": {
        "type": "object",
        "required": [
          "remaining",
          "perCycle",
          "cycleResetsAt"
        ],
        "properties": {
          "remaining": {
            "type": "integer",
            "description": "Your organization's credit balance right now.",
            "example": 48210
          },
          "perCycle": {
            "type": "integer",
            "nullable": true,
[...]
