{
  "openapi": "3.1.0",
  "info": {
    "title": "RouterPlex API",
    "version": "1.0.0",
    "description": "RouterPlex is an AI gateway that exposes OpenAI-compatible chat completions and image generation, a Responses route for Codex custom providers, and Anthropic-compatible messages through a RouterPlex API key.",
    "contact": {
      "url": "https://docs.routerplex.com/"
    },
    "x-jentic-source-url": "https://routerplex.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.routerplex.com/v1",
      "description": "RouterPlex production API"
    }
  ],
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "Create an OpenAI-compatible chat completion",
        "operationId": "createChatCompletion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "A model ID from the RouterPlex catalog."
                  },
                  "messages": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completion response, or a streaming response when stream is true."
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Prepaid balance or trial credit used up; the error message links to billing."
          },
          "403": {
            "description": "This key reached the spending limit set on it."
          },
          "429": {
            "description": "Rate limit reached; retry with backoff."
          }
        }
      }
    },
    "/images/generations": {
      "post": {
        "summary": "Create an OpenAI-compatible image generation",
        "operationId": "createImageGeneration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "A supported image-generation model ID, such as gpt-image-2."
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "An image size supported by the selected model."
                  },
                  "quality": {
                    "type": "string",
                    "description": "An image quality supported by the selected model."
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image response with base64 image data."
          },
          "400": {
            "description": "Malformed request or unsupported image option."
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Prepaid balance or trial credit used up; the error message links to billing."
          },
          "403": {
            "description": "This key reached the spending limit set on it."
          },
          "429": {
            "description": "Rate limit reached; retry with backoff."
          }
        }
      }
    },
    "/responses": {
      "post": {
        "summary": "Create an OpenAI Responses API response for Codex",
        "operationId": "createCodexResponse",
        "description": "Use this compatibility route for Codex custom model providers. Other OpenAI-compatible clients should use Chat Completions unless their client requires Responses.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "A model ID from the RouterPlex catalog."
                  },
                  "input": {
                    "description": "Responses API input."
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses API response, or a streaming response when stream is true."
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Prepaid balance or trial credit used up; the error message links to billing."
          },
          "403": {
            "description": "This key reached the spending limit set on it."
          },
          "429": {
            "description": "Rate limit reached; retry with backoff."
          }
        }
      }
    },
    "/messages": {
      "post": {
        "summary": "Create an Anthropic-compatible message",
        "operationId": "createMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "A model ID from the RouterPlex catalog."
                  },
                  "messages": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "max_tokens": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message response, or a streaming response when stream is true."
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Prepaid balance or trial credit used up; the error message links to billing."
          },
          "403": {
            "description": "This key reached the spending limit set on it."
          },
          "429": {
            "description": "Rate limit reached; retry with backoff."
          }
        }
      }
    },
    "/models": {
      "get": {
        "summary": "List models available to the authenticated API key",
        "operationId": "listModels",
        "responses": {
          "200": {
            "description": "Available model IDs and metadata."
          },
          "401": {
            "description": "Missing or invalid API key."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "RouterPlexApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "RouterPlex API key",
        "description": "Create and manage API keys in the RouterPlex dashboard."
      }
    }
  },
  "security": [
    {
      "RouterPlexApiKey": []
    }
  ]
}