{
  "openapi": "3.1.0",
  "info": {
    "title": "Daystruct API",
    "version": "1.0.0",
    "description": "Read-only access to pre-refined, provenance-backed evidence, plus authenticated management of developer-owned agent identities. Registered capabilities are declarations only: registered agents are not routable and this API has no task-dispatch surface. Resolved values are best-supported current interpretations, not guarantees of complete or absolute truth.",
    "x-jentic-source-url": "https://api.daystruct.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.daystruct.ai"
    }
  ],
  "paths": {
    "/api/v1/project-development/plan": {
      "post": {
        "tags": [
          "Discovery"
        ],
        "summary": "Plan the next project development stage",
        "security": [],
        "description": "Select up to four actual acquirable catalog releases for start/build/verify/resume. Outcomes remain caller-reported. No acquisition, execution, project storage or scheduled reminders. Send only a minimal caller-approved projection; keep full context, source and credentials local. MCP equivalent: plan_project_development.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "stage",
                  "goal"
                ],
                "properties": {
                  "stage": {
                    "type": "string",
                    "enum": [
                      "start",
                      "build",
                      "verify",
                      "resume"
                    ]
                  },
                  "goal": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "stack": {
                    "type": "array",
                    "maxItems": 12,
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 60
                    }
                  },
                  "features": {
                    "type": "array",
                    "maxItems": 4,
                    "items": {
                      "type": "string",
                      "enum": [
                        "auth",
                        "webhooks",
                        "browser",
                        "dependencies"
                      ]
                    }
                  },
                  "hasContext": {
                    "type": "boolean",
                    "default": false
                  },
                  "scopeNeedsDecision": {
                    "type": "boolean",
                    "default": false
                  },
                  "currentSourceRevision": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{64}$"
                  },
                  "contextSourceRevision": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{64}$"
                  },
                  "pending": {
                    "type": "array",
                    "maxItems": 20,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "taskId",
                        "title",
                        "action"
                      ],
                      "properties": {
                        "taskId": {
                          "type": "string",
                          "pattern": "^[A-Za-z0-9_-]{1,80}$"
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "action": {
                          "type": "string",
                          "enum": [
                            "implement_and_verify",
                            "verify_at_current_revision",
                            "repair_and_retest",
                            "resolve_issue",
                            "review_scope_change"
                          ]
                        }
                      }
                    }
                  },
                  "checks": {
                    "type": "array",
                    "maxItems": 20,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "id",
                        "taskId",
                        "title",
                        "result",
                        "sourceRevision",
                        "artifactPath",
                        "artifactDigest"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[A-Za-z0-9_-]{1,80}$"
                        },
                        "taskId": {
                          "type": "string",
                          "pattern": "^[A-Za-z0-9_-]{1,80}$"
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "result": {
                          "type": "string",
                          "enum": [
                            "passed",
                            "failed",
                            "unknown"
                          ]
                        },
                        "sourceRevision": {
                          "type": "string",
                          "pattern": "^[a-f0-9]{64}$"
                        },
                        "artifactPath": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 240
                        },
                        "artifactDigest": {
                          "type": "string",
                          "pattern": "^[a-f0-9]{64}$"
                        }
                      }
                    }
                  },
                  "needs": {
                    "type": "array",
                    "maxItems": 4,
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 120
                    },
                    "description": "Optional explicit part needs; does not bypass exclusions in the project goal."
                  },
                  "impact": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "sourceRevision",
                      "features",
                      "coverageGaps"
                    ],
                    "properties": {
                      "sourceRevision": {
                        "type": "string",
                        "pattern": "^[a-f0-9]{64}$"
                      },
                      "features": {
                        "type": "array",
                        "maxItems": 4,
                        "items": {
                          "type": "string",
                          "enum": [
                            "auth",
                            "webhooks",
                            "browser",
                            "dependencies"
                          ]
                        }
                      },
                      "coverageGaps": {
                        "type": "array",
                        "maxItems": 20,
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        }
                      }
                    },
                    "description": "Caller-reviewed minimal result from local change-impact selection. Keep diff, paths, manifest and commands local. Stale or unknown current revisions cannot support affected-feature recommendations."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recommendations with exact release metadata, gaps, evidence-referenced next actions and an optional return suggestion. executionVerified and projectComplete are false."
          },
          "400": {
            "description": "Unsupported or invalid project projection"
          },
          "405": {
            "description": "Use POST"
          },
          "429": {
            "description": "Read quota exceeded"
          }
        }
      }
    },
    "/api/v1/monitor/capability-refinery": {
      "get": {
        "tags": [
          "Operator capability refinery"
        ],
        "summary": "Discover durable repo intake, owner handles, builder status and remote commands",
        "security": [
          {
            "monitorBasic": []
          }
        ],
        "responses": {
          "200": {
            "description": "Candidate progress, blockers, summaries, checks and published URL in a data envelope"
          },
          "401": {
            "description": "Monitor Basic authentication required"
          },
          "409": {
            "description": "Idempotency conflict or action not allowed for this stage"
          }
        }
      }
    },
    "/api/v1/monitor/capability-refinery/candidates": {
      "get": {
        "tags": [
          "Operator capability refinery"
        ],
        "summary": "List recent repository candidates",
        "security": [
          {
            "monitorBasic": []
          }
        ],
        "responses": {
          "200": {
            "description": "Candidate progress, blockers, summaries, checks and published URL in a data envelope"
          },
          "401": {
            "description": "Monitor Basic authentication required"
          },
          "409": {
            "description": "Idempotency conflict or action not allowed for this stage"
          }
        }
      },
      "post": {
        "tags": [
          "Operator capability refinery"
        ],
        "summary": "Save an open-source capability candidate without invoking the orchestrator model",
        "description": "Acceptance persists a candidate even if model configuration or build budget is unavailable. Missing ownership remains needs_details. autoBuild dispatches through the existing isolated build/test/review engine. publishWhenReady is explicit. Never treat HTTP 202 as publication.",
        "security": [
          {
            "monitorBasic": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "repoUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Public https://github.com/owner/repository"
                  },
                  "suggestedHandle": {
                    "type": "string",
                    "description": "@owner/slug; dotted suggested slugs are normalized to hyphens"
                  },
                  "ownerHandle": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string",
                    "maxLength": 10000
                  },
                  "category": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "source_package"
                    ]
                  },
                  "sourceRef": {
                    "type": "string"
                  },
                  "sourcePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 30
                  },
                  "conversationRef": {
                    "type": "string"
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 120
                  },
                  "autoBuild": {
                    "type": "boolean",
                    "default": true
                  },
                  "publishWhenReady": {
                    "type": "boolean",
                    "default": false
                  },
                  "maxCostUsd": {
                    "type": "number",
                    "minimum": 3,
                    "maximum": 10,
                    "default": 3
                  }
                },
                "required": [
                  "repoUrl",
                  "notes",
                  "idempotencyKey"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate progress, blockers, summaries, checks and published URL in a data envelope"
          },
          "202": {
            "description": "Durably accepted; poll the returned candidate link"
          },
          "401": {
            "description": "Monitor Basic authentication required"
          },
          "409": {
            "description": "Idempotency conflict or action not allowed for this stage"
          }
        }
      }
    },
    "/api/v1/monitor/capability-refinery/candidates/{id}": {
      "get": {
        "tags": [
          "Operator capability refinery"
        ],
        "summary": "Read candidate progress, blocker, next action, summary and publication",
        "security": [
          {
            "monitorBasic": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ci_[a-f0-9-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Candidate progress, blockers, summaries, checks and published URL in a data envelope"
          },
          "401": {
            "description": "Monitor Basic authentication required"
          },
          "409": {
            "description": "Idempotency conflict or action not allowed for this stage"
          }
        }
      }
    },
    "/api/v1/monitor/capability-refinery/candidates/{id}/retry": {
      "post": {
        "tags": [
          "Operator capability refinery"
        ],
        "summary": "retry a capability candidate",
        "description": "Explicitly authorize a new build attempt and reservation after resolving the prior failure. Reuse action idempotencyKey only for exact retries.",
        "security": [
          {
            "monitorBasic": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ci_[a-f0-9-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idempotencyKey": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 120
                  }
                },
                "required": [
                  "idempotencyKey"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate progress, blockers, summaries, checks and published URL in a data envelope"
          },
          "401": {
            "description": "Monitor Basic authentication required"
          },
          "409": {
            "description": "Idempotency conflict or action not allowed for this stage"
          }
        }
      }
    },
    "/api/v1/monitor/capability-refinery/candidates/{id}/revise": {
      "post": {
        "tags": [
          "Operator capability refinery"
        ],
        "summary": "revise a capability candidate",
        "description": "Existing build tests and exact-digest publication checks remain enforced.",
        "security": [
          {
            "monitorBasic": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ci_[a-f0-9-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "repoUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Public https://github.com/owner/repository"
                  },
                  "suggestedHandle": {
                    "type": "string",
                    "description": "@owner/slug; dotted suggested slugs are normalized to hyphens"
                  },
                  "ownerHandle": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string",
                    "maxLength": 10000
                  },
                  "category": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "source_package"
                    ]
                  },
                  "sourceRef": {
                    "type": "string"
                  },
                  "sourcePaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 30
                  },
                  "conversationRef": {
                    "type": "string"
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 120
                  },
                  "autoBuild": {
                    "type": "boolean",
                    "default": true
                  },
                  "publishWhenReady": {
                    "type": "boolean",
                    "default": false
                  },
                  "maxCostUsd": {
                    "type": "number",
                    "minimum": 3,
                    "maximum": 10,
                    "default": 3
                  }
                },
                "required": [
                  "idempotencyKey"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate progress, blockers, summaries, checks and published URL in a data envelope"
          },
          "401": {
            "description": "Monitor Basic authentication required"
          },
          "409": {
            "description": "Idempotency conflict or action not allowed for this stage"
          }
        }
      }
    },
    "/api/v1/monitor/capability-refinery/candidates/{id}/cancel": {
      "post": {
        "tags": [
          "Operator capability refinery"
        ],
        "summary": "cancel a capability candidate",
        "description": "Existing build tests and exact-digest publication checks remain enforced.",
        "security": [
          {
            "monitorBasic": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ci_[a-f0-9-]+$"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate progress, blockers, summaries, checks and published URL in a data envelope"
          },
          "401": {
            "description": "Monitor Basic authentication required"
          },
          "409": {
            "description": "Idempotency conflict or action not allowed for this stage"
          }
        }
      }
    },
    "/api/v1/monitor/capability-refinery/candidates/{id}/publish": {
      "post": {
        "tags": [
          "Operator capability refinery"
        ],
        "summary": "publish a capability candidate",
        "description": "Existing build tests and exact-digest publication checks remain enforced.",
        "security": [
          {
            "monitorBasic": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ci_[a-f0-9-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "digest": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{64}$"
                  }
                },
                "required": [
                  "digest"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate progress, blockers, summaries, checks and published URL in a data envelope"
          },
          "401": {
            "description": "Monitor Basic authentication required"
          },
          "409": {
            "description": "Idempotency conflict or action not allowed for this stage"
          }
        }
      }
    },
    "/api/v1/pricing": {
      "get": {
        "summary": "Published call prices and margin-policy quote",
        "parameters": [
          {
            "name": "operation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "task.resolve, native:CAPABILITY_ID or source_kit:CAPABILITY_ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit prices, optional operation quote and estimate basis"
          }
        }
      }
    },
    "/api/v1/capabilities/resolve": {
      "post": {
        "tags": [
          "Task sessions"
        ],
        "summary": "Progressive or full capability selection; session_id requires read + requests:write and request_id",
        "security": [
          {},
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "session_id": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "request_id": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 120
                  },
                  "intent": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 1000
                  },
                  "capabilities": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "maxLength": 120
                    }
                  },
                  "bundle_id": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "delivery": {
                    "enum": [
                      "progressive",
                      "full"
                    ],
                    "default": "progressive"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 3
                  },
                  "include_repeat": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task context or selected capability descriptors in a data envelope"
          },
          "400": {
            "description": "Invalid contract"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing read or requests:write scope"
          },
          "404": {
            "description": "Unavailable resource or another principal session"
          },
          "409": {
            "description": "Idempotency conflict, expired session or invalid progression"
          },
          "429": {
            "description": "Bounded session/event limit reached"
          }
        }
      }
    },
    "/api/v1/sessions": {
      "post": {
        "tags": [
          "Task sessions"
        ],
        "summary": "Create optional compact task context; requires read + requests:write",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "request_id": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 120
                  },
                  "intent": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 1000
                  },
                  "current_stage": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "steps": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "id",
                        "capability"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "pattern": "^[a-z0-9_-]{1,50}$"
                        },
                        "capability": {
                          "type": "string",
                          "maxLength": 120
                        },
                        "depends_on": {
                          "type": "array",
                          "maxItems": 20,
                          "items": {
                            "type": "string",
                            "maxLength": 50
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "request_id",
                  "intent"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task context or selected capability descriptors in a data envelope"
          },
          "400": {
            "description": "Invalid contract"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing read or requests:write scope"
          },
          "404": {
            "description": "Unavailable resource or another principal session"
          },
          "409": {
            "description": "Idempotency conflict, expired session or invalid progression"
          },
          "429": {
            "description": "Bounded session/event limit reached"
          }
        }
      }
    },
    "/api/v1/sessions/{id}": {
      "get": {
        "tags": [
          "Task sessions"
        ],
        "summary": "Read account- and optionally agent-scoped task context; read scope required",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ts_[a-f0-9-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task context or selected capability descriptors in a data envelope"
          },
          "400": {
            "description": "Invalid contract"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing read or requests:write scope"
          },
          "404": {
            "description": "Unavailable resource or another principal session"
          },
          "409": {
            "description": "Idempotency conflict, expired session or invalid progression"
          },
          "429": {
            "description": "Bounded session/event limit reached"
          }
        }
      }
    },
    "/api/v1/sessions/{id}/next": {
      "get": {
        "tags": [
          "Task sessions"
        ],
        "summary": "Preview ready next descriptors without delivery or extending TTL",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ts_[a-f0-9-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task context or selected capability descriptors in a data envelope"
          },
          "400": {
            "description": "Invalid contract"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing read or requests:write scope"
          },
          "404": {
            "description": "Unavailable resource or another principal session"
          },
          "409": {
            "description": "Idempotency conflict, expired session or invalid progression"
          },
          "429": {
            "description": "Bounded session/event limit reached"
          }
        }
      }
    },
    "/api/v1/sessions/{id}/events": {
      "post": {
        "tags": [
          "Task sessions"
        ],
        "summary": "Report compact capability outcomes or stage; requires read + requests:write",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "request_id": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 120
                  },
                  "type": {
                    "enum": [
                      "viewed",
                      "called",
                      "succeeded",
                      "failed",
                      "skipped",
                      "stage"
                    ]
                  },
                  "capability": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "summary": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "current_stage": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "reported_tool_turns": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 10000
                  },
                  "reported_cost_usd": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 10000
                  }
                },
                "required": [
                  "request_id",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task context or selected capability descriptors in a data envelope"
          },
          "400": {
            "description": "Invalid contract"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing read or requests:write scope"
          },
          "404": {
            "description": "Unavailable resource or another principal session"
          },
          "409": {
            "description": "Idempotency conflict, expired session or invalid progression"
          },
          "429": {
            "description": "Bounded session/event limit reached"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ts_[a-f0-9-]+$"
            }
          }
        ]
      }
    },
    "/api/v1/sessions/{id}/close": {
      "post": {
        "tags": [
          "Task sessions"
        ],
        "summary": "Close with client-reported outcome; requires read + requests:write",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "request_id": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 120
                  },
                  "outcome": {
                    "enum": [
                      "completed",
                      "abandoned",
                      "failed"
                    ]
                  },
                  "summary": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "request_id",
                  "outcome"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task context or selected capability descriptors in a data envelope"
          },
          "400": {
            "description": "Invalid contract"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing read or requests:write scope"
          },
          "404": {
            "description": "Unavailable resource or another principal session"
          },
          "409": {
            "description": "Idempotency conflict, expired session or invalid progression"
          },
          "429": {
            "description": "Bounded session/event limit reached"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ts_[a-f0-9-]+$"
            }
          }
        ]
      }
    },
    "/api/v1/frontier/guidance": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Read reviewed, unexpired Frontier guidance for an exact task/model scope",
        "parameters": [
          {
            "name": "databank",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskFamily",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scoped guidance and bounded evidence; no private fixtures"
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "API introduction and discovery links",
        "responses": {
          "200": {
            "description": "Discovery document"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Service and database readiness",
        "responses": {
          "200": {
            "description": "Healthy service"
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Sanitized public service and dataset status",
        "responses": {
          "200": {
            "description": "Public status"
          }
        }
      }
    },
    "/manifest": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Machine-readable Daystruct capabilities and links",
        "responses": {
          "200": {
            "description": "Daystruct manifest"
          }
        }
      }
    },
    "/.well-known/ard.json": {
      "get": {
        "operationId": "ardPublisherManifest",
        "summary": "Read Daystruct's static ARD publisher manifest",
        "description": "Raw ARD entries referencing the native OpenAPI and A2A artifacts. Tested against pinned v0.91 proposal metadata; not a registry search endpoint or proof of external indexing.",
        "security": [],
        "responses": {
          "200": {
            "description": "Raw JSON document with an entries array (no API envelope)"
          }
        }
      }
    },
    "/.well-known/agent-card.json": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "A2A 1.0 Agent Card for the read-only evidence agent",
        "responses": {
          "200": {
            "description": "A2A Agent Card"
          }
        }
      }
    },
    "/a2a": {
      "post": {
        "tags": [
          "Data",
          "Provenance"
        ],
        "summary": "Read evidence through A2A JSON-RPC",
        "responses": {
          "200": {
            "description": "A2A JSON-RPC response"
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "tags": [
          "Data",
          "Provenance"
        ],
        "summary": "Use public evidence and key-scoped request/provider MCP tools over Streamable HTTP",
        "responses": {
          "200": {
            "description": "MCP response"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "This OpenAPI contract",
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document"
          }
        }
      }
    },
    "/api/v1/agents": {
      "get": {
        "tags": [
          "Registered Agents"
        ],
        "summary": "List agents linked to the authenticating API key",
        "description": "Returns only identities explicitly linked to this key, even when another key belongs to the same account.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-daystruct-required-scopes": [
          "read",
          "agents:write"
        ],
        "responses": {
          "200": {
            "description": "Key-linked registered agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperAgentListEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "A valid API key is required"
          },
          "403": {
            "description": "The key lacks read or agents:write"
          }
        }
      }
    },
    "/api/v1/agents/register": {
      "post": {
        "tags": [
          "Registered Agents"
        ],
        "summary": "Register and link a durable developer agent identity",
        "description": "An exact retry from the already-linked key returns the stable identity, including when the account is at its non-archived registration limit. Another key cannot claim the same account slug, archived slugs remain reserved, and a differing registration for that slug conflicts. Credentials rotate without moving the identity: the account owner authorizes additional keys for an existing agent in the developer portal, and a key can never link itself. Capabilities remain declared and routable is always false.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-daystruct-required-scopes": [
          "read",
          "agents:write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeveloperAgentRegistration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact retry by the linked key; stable identity returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperAgentRegistrationEnvelope"
                }
              }
            }
          },
          "201": {
            "description": "Registered identity created and linked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperAgentRegistrationEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid structured registration"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "403": {
            "description": "The key lacks read or agents:write"
          },
          "409": {
            "description": "The account slug conflicts or the non-archived registration limit was reached"
          }
        }
      }
    },
    "/api/v1/agents/{id}": {
      "get": {
        "tags": [
          "Registered Agents"
        ],
        "summary": "Read a registered agent linked to this API key",
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-daystruct-required-scopes": [
          "read",
          "agents:write"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key-linked registered agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperAgentEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "A valid API key is required"
          },
          "403": {
            "description": "The key lacks read or agents:write"
          },
          "404": {
            "description": "Not found, archived, or not linked to this key"
          }
        }
      },
      "patch": {
        "tags": [
          "Registered Agents"
        ],
        "summary": "Update a registered agent linked to this API key",
        "description": "Updates lifecycle state, descriptive fields, or declared capabilities. The slug and owner are immutable; this operation does not make the agent routable. Archived identities are owner-history records and cannot be changed by API keys.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-daystruct-required-scopes": [
          "read",
          "agents:write"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeveloperAgentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registered agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperAgentEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid structured update"
          },
          "401": {
            "description": "A valid API key is required"
          },
          "403": {
            "description": "The key lacks read or agents:write"
          },
          "404": {
            "description": "Not found, archived, or not linked to this key"
          }
        }
      }
    },
    "/api/v1/agent-requests": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Ask Daystruct on behalf of your account",
        "description": "An API key with requests:write (and baseline read) is sufficient. No community agent is created. Optional X-Daystruct-Agent-Id attributes the request to a linked active agent authorized for this key. Without attribution, routing excludes this account's providers. Existing agent-attributed collaboration is preserved.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "X-Daystruct-Agent-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequestSubmission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request persisted without an eligible route"
          },
          "201": {
            "description": "Request persisted and dispatched"
          },
          "402": {
            "description": "Insufficient credits; nothing submitted"
          },
          "409": {
            "description": "Price exceeds the approved ceiling; nothing submitted"
          }
        }
      },
      "get": {
        "tags": [
          "Requests"
        ],
        "summary": "Read your requests or your linked provider inbox",
        "description": "Defaults to requester history owned by the authenticated account. An explicit linked agent filters attribution. role=provider requires work:accept and a verified linked agent. Requester history requires requests:write.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authorized request history"
          }
        }
      }
    },
    "/api/v1/agent-requests/quote": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Preview the inferred capability, eligible provider and current credit price",
        "description": "Uses the same inference, eligibility and pricing as submission. Does not submit work or reserve credits. Null price means no applicable quote, not a zero-credit price. Provider selection can change; submit maxPriceCredits to enforce the approved ceiling.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequestSubmission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview with price or null, capability and eligible provider count"
          }
        }
      }
    },
    "/api/v1/agent-requests/{id}": {
      "get": {
        "tags": [
          "Requests"
        ],
        "summary": "Retrieve an owned request and its result",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account-owned request or authorized linked-provider work"
          },
          "404": {
            "description": "Not visible to this caller"
          }
        }
      }
    },
    "/api/v1/network/pulse": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "The network's pulse, aggregate and anonymised",
        "description": "Request counts and outcomes over the last five minutes and day, by capability category and provider kind, settlement totals, public reads per minute, and the last forty requests as category, outcome, provider kind, cross-account flag, latency and attempt count. Never a request body, a requester, a provider identity, an account id, an evidence payload or a balance.",
        "responses": {
          "200": {
            "description": "Network pulse"
          }
        }
      }
    },
    "/api/v1/library": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Search your saved and owned capabilities and bundles",
        "description": "Account-scoped library. A saved resource is a reference, not an acquisition or execution grant. Search returns a shortlist of three by default. Private resources are visible only to their owner; revoked references remain unavailable placeholders.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "saved",
                "owned",
                "library"
              ],
              "default": "saved"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "capability",
                "bundle"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Items, total matches and scope"
          },
          "401": {
            "description": "Active account key required"
          }
        }
      }
    },
    "/api/v1/bundles": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Discover public capability bundles",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "owned"
              ]
            },
            "description": "With an account key, list your own bundles instead."
          }
        ],
        "description": "Lists every public bundle, each with a kind and a state. Compatibility bundles (kind compatibility) are verified when the exact member set of their latest lock passed the bundle's integration suite, and unverified otherwise; each member carries its pinned version, digest and licensing. Curated bundles (kind curated, state curated) are compositions whose compatibility has not been tested. With scope=owned, lists only your own curated bundles.",
        "responses": {
          "200": {
            "description": "Compatibility and curated bundles, each with kind and state; performance is not inferred"
          }
        }
      }
    },
    "/api/v1/bundles/{id}": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Resolve a bundle and its version-pinned members",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Public bundles may be read anonymously. Private bundles require the owner's account key. Each member is rechecked for access and availability. A compatibility bundle id returns its state, latest verified lock version and pinned members; read its locks under /api/v1/compat/bundles. No code executes and no credits are charged.",
        "responses": {
          "200": {
            "description": "Bundle revision and members with version, digest, availability and profile"
          },
          "404": {
            "description": "Unknown or inaccessible bundle"
          }
        }
      }
    },
    "/api/v1/compat/check": {
      "post": {
        "tags": [
          "Compatibility"
        ],
        "summary": "Check whether a set of capabilities works together",
        "description": "Send capabilities (id and semver range, up to 25) or a bundle reference (bundle@latest-verified or bundle@x.y.z), not both. Optionally send a project manifest to check the set against your runtime and packages, and a verifyReportId from a passing local verify of this exact set. Returns the resolved versions and digests, conflicts with reasons, advisories, each member's licensing status and verified-lock memberships, and the scope of what was checked. Public; no account needed and no credits charged.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "capabilities": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 25,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "@daystruct/security-gitleaks"
                        },
                        "range": {
                          "type": "string",
                          "default": "*"
                        }
                      }
                    }
                  },
                  "bundle": {
                    "type": "string",
                    "example": "security-scanners@latest-verified"
                  },
                  "project": {
                    "type": "object",
                    "description": "Project manifest: runtime and declared packages"
                  },
                  "verifyReportId": {
                    "type": "string",
                    "pattern": "^cvr_[a-f0-9]{24}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolved set, conflicts, advisories, member licensing, verified-lock memberships and check scope"
          },
          "400": {
            "description": "Malformed request"
          },
          "404": {
            "description": "Unknown capability or bundle"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/v1/compat/verify-kit": {
      "post": {
        "tags": [
          "Compatibility"
        ],
        "summary": "Get a kit to verify an exact set in your own environment",
        "description": "For exact member versions (up to 25), returns the set digest, the member digests and the steps to run their tests locally and produce a verify report. Nothing runs on Daystruct.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "members"
                ],
                "properties": {
                  "members": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 25,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "id",
                        "version"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string",
                          "pattern": "^\\d+\\.\\d+\\.\\d+$"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Set digest, member digests and kit steps"
          },
          "400": {
            "description": "Malformed request"
          },
          "404": {
            "description": "Unknown capability or version"
          }
        }
      }
    },
    "/api/v1/compat/verify-reports": {
      "post": {
        "tags": [
          "Compatibility"
        ],
        "summary": "Submit a local verify report",
        "description": "A strict report of pass, fail or incomplete for one set digest, with per-member test counts and an environment summary. It carries no free text. A passing report can be cited by verifyReportId in compat.check. An API key is optional; with one, the report is attributed to your account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "schemaVersion",
                  "setDigest",
                  "result",
                  "members"
                ],
                "properties": {
                  "schemaVersion": {
                    "type": "integer",
                    "enum": [
                      1
                    ]
                  },
                  "setDigest": {
                    "type": "string"
                  },
                  "result": {
                    "type": "string",
                    "enum": [
                      "pass",
                      "fail",
                      "incomplete"
                    ]
                  },
                  "members": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report recorded, with its cvr_ id"
          },
          "400": {
            "description": "Malformed report"
          }
        }
      },
      "get": {
        "tags": [
          "Compatibility"
        ],
        "summary": "Read the verify reports for one set",
        "parameters": [
          {
            "name": "set",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The set digest"
          }
        ],
        "responses": {
          "200": {
            "description": "Reports for the set, newest first"
          }
        }
      }
    },
    "/api/v1/compat/bundles": {
      "get": {
        "tags": [
          "Compatibility"
        ],
        "summary": "List compatibility bundles and their state",
        "responses": {
          "200": {
            "description": "Each bundle's id, description, state (verified or unverified), latest verified lock version and flags"
          }
        }
      }
    },
    "/api/v1/compat/bundles/{id}": {
      "get": {
        "tags": [
          "Compatibility"
        ],
        "summary": "Read a compatibility bundle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manifest, latest verified lock with member licensing, state, flags (failed float, awaiting approval, advisory) and recent floats"
          },
          "404": {
            "description": "Unknown bundle"
          }
        }
      }
    },
    "/api/v1/compat/bundles/{id}/locks": {
      "get": {
        "tags": [
          "Compatibility"
        ],
        "summary": "List a bundle's verified locks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Every lock, with exact member versions, digests and licensing"
          },
          "404": {
            "description": "Unknown bundle"
          }
        }
      }
    },
    "/api/v1/compat/bundles/{id}/locks/{version}": {
      "get": {
        "tags": [
          "Compatibility"
        ],
        "summary": "Read one verified lock",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1.0.1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The lock: member versions, digests, licensing, integration run and set digest"
          },
          "404": {
            "description": "Unknown bundle or lock"
          }
        }
      }
    },
    "/api/v1/capabilities": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "List capabilities on the network",
        "description": "Published capabilities carry a stable public handle (@owner/slug), an internal cap_ ID and a routing ID; declared-but-unpublished capabilities are listed too, marked published: false. Public, no key. Filter with ?q=. Each source-package row carries a concise licensing summary: declaredLicense is what the publisher wrote, publicationStatus is what the policy found when the release published, and status is how it reads under the policy in force now. These are reported separately on purpose and are evidence against a configured policy, not legal advice; full receipts live on the capability profile. Licensing filters are optional, and a filtered response withholds entries that carry no licensing evidence rather than passing them through.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Task-oriented lexical ranking across identifiers, descriptions, contents and reviewed topics. Search matches include their terms; relevance is not proof of suitability."
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "full",
                "compact"
              ]
            },
            "description": "compact returns the first eight ranked descriptors with prerequisites, limitations, pricing and profile links, without test logs. meta.matched and fullResults identify truncation. Default full preserves catalog metadata."
          },
          {
            "name": "licenseStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated: validated, review_required, blocked, legacy_unvalidated. Matches the interpretation in force under the current policy."
          },
          {
            "name": "licenseSpdx",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated SPDX identifiers the licensing evidence established, e.g. MIT,Apache-2.0. Not the publisher's declared string."
          },
          {
            "name": "licenseEvidence",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated permission bases: verified-text, verified-upstream-api, declared, unverified."
          },
          {
            "name": "licensePolicyState",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated: current, policy_outdated, legacy_unvalidated. policy_outdated means the stored receipt was decided under a different policy version; it is not a re-evaluation."
          },
          {
            "name": "licenseUnresolved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "none"
              ]
            },
            "description": "none returns only releases with no unresolved licensing items."
          },
          {
            "name": "licenseReciprocal",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude",
                "only"
              ]
            },
            "description": "Whether reciprocal or copyleft terms were found in the licensing evidence."
          },
          {
            "name": "bundleMembers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all_validated"
              ]
            },
            "description": "Bundles whose pinned members each carried a validated receipt when the bundle published. Recorded evidence, not a live re-check of member state."
          }
        ],
        "responses": {
          "200": {
            "description": "Capability list"
          }
        }
      }
    },
    "/api/v1/capabilities/index": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Slim catalog index of published parts",
        "description": "One short row per published part: handle, one-line summary, delivery mode, version, price, digest, licensing status and its basis (receipt, legacy-reading, none, or not-distributed), the stored compatibility contract's state and source, and the verified bundle locks that pin this exact version. Full evidence, test summaries and log links stay on the profile. Public; no credits charged.",
        "responses": {
          "200": {
            "description": "Index rows, with field notes in meta"
          }
        }
      }
    },
    "/api/v1/capabilities/guides": {
      "get": {
        "operationId": "capabilityTaskGuides",
        "summary": "Evaluate curated capability workflows without an account",
        "description": "Selected task guides with runnable read-only JavaScript examples, expected outputs, caller requirements, limitations, live release price/version/digest, licensing evidence and signup/key handoff. Uses public catalog visibility and task ranking. Empty results do not imply no match in the full catalog. No acquisition or execution occurs.",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Task sentence or tool name"
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope with matching curated guides and coverage limitations"
          }
        }
      }
    },
    "/api/v1/capabilities/bundle": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Prepare a group of capability profiles without execution or purchase",
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 6,
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Plan-only profiles, unresolved references and unchecked compatibility"
          },
          "400": {
            "description": "Invalid reference list"
          }
        }
      }
    },
    "/api/v1/capabilities/{ref}/acquire": {
      "post": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Acquire an inspected source implementation version",
        "description": "Requires read and requests:write. Charges the offered price once per version, bounded by maxPriceCredits and the key ceiling. Exact version and digest required. Retries return the same account receipt. No code executes.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "version",
                  "digest"
                ],
                "properties": {
                  "version": {
                    "type": "string"
                  },
                  "digest": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{64}$"
                  },
                  "maxPriceCredits": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100000,
                    "default": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access receipt and artifact URL"
          },
          "400": {
            "description": "Invalid version/digest or unsupported price"
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "404": {
            "description": "Package unavailable"
          },
          "409": {
            "description": "Not inspected or version mismatch"
          },
          "503": {
            "description": "Artifact integrity failure"
          }
        }
      }
    },
    "/api/v1/capabilities/{ref}/artifact": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Download source acquired by this account",
        "description": "Requires read scope and this account's acquisition. Returns an artifact string; verify SHA-256 over its exact UTF-8 bytes before parsing. Private and no-store.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Exact acquired version; defaults to the most recently acquired active version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Version, digest and private artifact string"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "No acquisition for this account"
          },
          "503": {
            "description": "Artifact integrity failure"
          }
        }
      }
    },
    "/api/v1/capabilities/{ref}": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Read one capability profile by any of its names",
        "description": "ref is the cap_ internal ID, the @owner/slug handle (URL-encoded or raw), or the routing ID an agent declares. The response leads with what a person needs (name, one sentence, typical result, who serves it, how to use it) and carries schemas, examples and identifiers under developer. Provider identities appear only for accounts that have claimed a public handle.",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Capability profile"
          },
          "404": {
            "description": "No published or declared capability matches"
          }
        }
      }
    },
    "/api/v1/databanks": {
      "get": {
        "summary": "List databanks",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "X-Daystruct-Client-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Declared client identifier recorded in aggregate request telemetry."
          },
          {
            "name": "X-Daystruct-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Optional declared agent name."
          },
          {
            "name": "X-Daystruct-Use-Case",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 300
            },
            "description": "Optional declared use case."
          },
          {
            "name": "X-Daystruct-Agent-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Optional durable registered-agent identity. It is accepted only with an active API key linked to that active agent; verified use updates lastSeenAt and request attribution. When accepted, Daystruct returns the exact ID in X-Daystruct-Verified-Agent-Id. It is not a routing instruction."
          }
        ],
        "responses": {
          "200": {
            "description": "A bounded JSON envelope with pagination metadata."
          },
          "400": {
            "description": "Invalid query."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/api/v1/databanks/{slug}": {
      "get": {
        "summary": "Get a databank",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Databank"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/v1/software/claims": {
      "get": {
        "summary": "Query version-scoped software compatibility and API claims",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "package",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runtime",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runtime_version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "predicate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Daystruct-Client-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Declared client identifier recorded in aggregate request telemetry."
          },
          {
            "name": "X-Daystruct-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Optional declared agent name."
          },
          {
            "name": "X-Daystruct-Use-Case",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 300
            },
            "description": "Optional declared use case."
          },
          {
            "name": "X-Daystruct-Agent-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Optional durable registered-agent identity. It is accepted only with an active API key linked to that active agent; verified use updates lastSeenAt and request attribution. When accepted, Daystruct returns the exact ID in X-Daystruct-Verified-Agent-Id. It is not a routing instruction."
          }
        ],
        "responses": {
          "200": {
            "description": "A bounded JSON envelope with pagination metadata."
          },
          "400": {
            "description": "Invalid query."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/api/v1/capabilities/asset.validate_gltf/run": {
      "post": {
        "summary": "Validate supplied glTF 2.0 JSON or GLB bytes and explicit resources; return bounded issues, asset statistics and hashes without downloads.",
        "operationId": "asset_validate_gltf",
        "description": "data.status completed means the validator ran. Inspect result.status: valid, invalid, indeterminate. Missing resources, unsupported extensions or truncated reports are indeterminate, never valid. Rejected input is 400; execution failure is 503.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "format",
                  "dataBase64"
                ],
                "properties": {
                  "format": {
                    "type": "string",
                    "enum": [
                      "gltf",
                      "glb"
                    ]
                  },
                  "dataBase64": {
                    "type": "string",
                    "maxLength": 700000,
                    "description": "Canonical padded base64 of exact glTF JSON or GLB bytes"
                  },
                  "resources": {
                    "type": "array",
                    "maxItems": 32,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "uri",
                        "dataBase64"
                      ],
                      "properties": {
                        "uri": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 2048
                        },
                        "dataBase64": {
                          "type": "string",
                          "maxLength": 700000
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution completed; inspect data.result.status"
          },
          "400": {
            "description": "Rejected input"
          },
          "401": {
            "description": "Invalid or missing key"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "429": {
            "description": "Capacity or rate limit"
          },
          "503": {
            "description": "Execution failed or unavailable"
          }
        }
      }
    },
    "/api/v1/capabilities/design.validate_token_refs/run": {
      "post": {
        "summary": "Check supplied token JSON for duplicate definitions, missing exact references and reference cycles.",
        "operationId": "design_validate_token_refs",
        "description": "data contains invocationId, capabilityId, status, result, provenance and economics. completed means validation ran; inspect result.status (passed/failed). rejected is invalid input; failed is an execution failure.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "documents"
                ],
                "properties": {
                  "documents": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "name",
                        "json"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        },
                        "json": {
                          "type": "string",
                          "maxLength": 500000
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution completed; inspect data.result.status"
          },
          "400": {
            "description": "Rejected input"
          },
          "401": {
            "description": "Invalid or missing key"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "429": {
            "description": "Capacity or rate limit"
          },
          "503": {
            "description": "Execution failed or unavailable"
          }
        }
      }
    },
    "/api/v1/capabilities/web.extract_evidence/run": {
      "post": {
        "summary": "Extract readable text from supplied HTML, with an explicit generic fallback and exact input provenance. Does not fetch the source URL.",
        "operationId": "web_extract_evidence",
        "description": "data.status completed means extraction ran; inspect result.status (extracted or empty), result.extractor.selected and warnings. Empty is not proof there is no useful content. Rejected inputs return 400; extraction or worker failure returns 503.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "html",
                  "sourceUrl",
                  "capturedAt"
                ],
                "properties": {
                  "html": {
                    "type": "string",
                    "maxLength": 1000000
                  },
                  "sourceUrl": {
                    "type": "string",
                    "maxLength": 4096,
                    "description": "HTTP(S) URL without credentials; caller asserted, never fetched"
                  },
                  "capturedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Valid UTC timestamp with optional three-digit milliseconds"
                  },
                  "maxInputBytes": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution completed; inspect data.result.status"
          },
          "400": {
            "description": "Rejected input"
          },
          "401": {
            "description": "Invalid or missing key"
          },
          "403": {
            "description": "Insufficient scope"
          },
          "429": {
            "description": "Capacity or rate limit"
          },
          "503": {
            "description": "Execution failed or unavailable"
          }
        }
      }
    },
    "/api/v1/capabilities/companion.conversation_runtime/source": {
      "get": {
        "summary": "Download source kit: Conversation runtime for voice companions",
        "operationId": "companion_conversation_runtime_source",
        "description": "Download only. Daystruct does not execute, install or configure this code, and the download opens no microphone, window or paid provider. Your agent integrates it; you review it. Returns every file (or only those named by path) with sha256 hashes and the kit digest.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Return only these kit files, e.g. README.md. Repeatable.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Kit files, hashes and digest"
          },
          "400": {
            "description": "A requested path is not in the kit"
          },
          "401": {
            "description": "Invalid or missing key"
          },
          "403": {
            "description": "Key lacks read scope"
          },
          "503": {
            "description": "Kit files do not match their pinned lock"
          }
        }
      }
    },
    "/api/v1/capabilities/companion.controls/source": {
      "get": {
        "summary": "Download source kit: Voice command routing for companions",
        "operationId": "companion_controls_source",
        "description": "Download only. Daystruct does not execute, install or configure this code, and the download opens no microphone, window or paid provider. Your agent integrates it; you review it. Returns every file (or only those named by path) with sha256 hashes and the kit digest.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Return only these kit files, e.g. README.md. Repeatable.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Kit files, hashes and digest"
          },
          "400": {
            "description": "A requested path is not in the kit"
          },
          "401": {
            "description": "Invalid or missing key"
          },
          "403": {
            "description": "Key lacks read scope"
          },
          "503": {
            "description": "Kit files do not match their pinned lock"
          }
        }
      }
    },
    "/api/v1/capabilities/companion.desktop_overlay/source": {
      "get": {
        "summary": "Download source kit: Always-on-top companion overlay",
        "operationId": "companion_desktop_overlay_source",
        "description": "Download only. Daystruct does not execute, install or configure this code, and the download opens no microphone, window or paid provider. Your agent integrates it; you review it. Returns every file (or only those named by path) with sha256 hashes and the kit digest.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Return only these kit files, e.g. README.md. Repeatable.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Kit files, hashes and digest"
          },
          "400": {
            "description": "A requested path is not in the kit"
          },
          "401": {
            "description": "Invalid or missing key"
          },
          "403": {
            "description": "Key lacks read scope"
          },
          "503": {
            "description": "Kit files do not match their pinned lock"
          }
        }
      }
    },
    "/api/v1/capabilities/companion.avatar_presence/source": {
      "get": {
        "summary": "Download source kit: VRM avatar presence",
        "operationId": "companion_avatar_presence_source",
        "description": "Download only. Daystruct does not execute, install or configure this code, and the download opens no microphone, window or paid provider. Your agent integrates it; you review it. Returns every file (or only those named by path) with sha256 hashes and the kit digest.",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Return only these kit files, e.g. README.md. Repeatable.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Kit files, hashes and digest"
          },
          "400": {
            "description": "A requested path is not in the kit"
          },
          "401": {
            "description": "Invalid or missing key"
          },
          "403": {
            "description": "Key lacks read scope"
          },
          "503": {
            "description": "Kit files do not match their pinned lock"
          }
        }
      }
    },
    "/api/v1/software/answer": {
      "get": {
        "tags": [
          "Data",
          "Provenance"
        ],
        "summary": "Resolve several paired software questions and a compatibility check in one sourced response",
        "description": "Repeat package and api in matching order (up to four pairs). Optional runtime_package, runtime, and runtime_version must be supplied together.",
        "parameters": [
          {
            "name": "package",
            "in": "query",
            "required": true,
            "description": "Repeat in the same order as api, for example next then react.",
            "schema": {
              "type": "array",
              "maxItems": 4,
              "items": {
                "type": "string"
              }
            },
            "example": [
              "next",
              "react"
            ],
            "style": "form",
            "explode": true
          },
          {
            "name": "api",
            "in": "query",
            "required": true,
            "description": "Claim target paired positionally with package.",
            "schema": {
              "type": "array",
              "maxItems": 4,
              "items": {
                "type": "string"
              }
            },
            "example": [
              "cache components",
              "server components"
            ],
            "style": "form",
            "explode": true
          },
          {
            "name": "runtime_package",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runtime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runtime_version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Daystruct-Client-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Declared client identifier recorded in aggregate request telemetry."
          },
          {
            "name": "X-Daystruct-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Optional declared agent name."
          },
          {
            "name": "X-Daystruct-Use-Case",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 300
            },
            "description": "Optional declared use case."
          },
          {
            "name": "X-Daystruct-Agent-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
[...]
