{
  "openapi": "3.1.0",
  "info": {
    "title": "CliniAtlas Evidence",
    "version": "0.1.0",
    "description": "Authenticated CliniAtlas Evidence pilot. Cited literature search, reviewed briefs and full agent answers. API keys are issued by hello@discensmachina.com. No patient identifiers. General health education only. See https://cliniatlas.com/developers/evidence/ for credits and integration guidance.",
    "x-jentic-source-url": "https://ydjbww4h7sfqc3sf2wcf26mfbq0bwvfu.lambda-url.eu-central-1.on.aws/openapi.json"
  },
  "servers": [
    {
      "url": "https://ydjbww4h7sfqc3sf2wcf26mfbq0bwvfu.lambda-url.eu-central-1.on.aws"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/account": {
      "get": {
        "summary": "Account",
        "operationId": "account_v1_account_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/evidence/search": {
      "post": {
        "summary": "Search",
        "operationId": "search_v1_evidence_search_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvidenceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/evidence/brief": {
      "post": {
        "summary": "Brief",
        "operationId": "brief_v1_evidence_brief_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvidenceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/evidence/agent-answer": {
      "post": {
        "summary": "Agent Answer",
        "operationId": "agent_answer_v1_evidence_agent_answer_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentEvidenceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceOutput"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/billing/checkout": {
      "post": {
        "summary": "Checkout",
        "operationId": "checkout_v1_billing_checkout_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/billing/webhook": {
      "post": {
        "summary": "Webhook",
        "operationId": "webhook_v1_billing_webhook_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/billing/orders/{order_id}": {
      "get": {
        "summary": "Purchase",
        "operationId": "purchase_v1_billing_orders__order_id__get",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Order Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AgentEvidenceRequest": {
        "properties": {
          "question": {
            "type": "string",
            "maxLength": 4000,
            "minLength": 8,
            "title": "Question"
          },
          "request_id": {
            "type": "string",
            "maxLength": 100,
            "minLength": 8,
            "pattern": "^[A-Za-z0-9_-]+$",
            "title": "Request Id"
          },
          "locale": {
            "type": "string",
            "pattern": "^[a-z]{2,3}(?:-[A-Za-z]{2,4})?$",
            "title": "Locale",
            "default": "en"
          },
          "max_sources": {
            "type": "integer",
            "maximum": 12.0,
            "minimum": 1.0,
            "title": "Max Sources",
            "default": 8
          },
          "max_credits": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Max Credits",
            "description": "Maximum credits the caller authorizes for this task."
          },
          "audience": {
            "type": "string",
            "enum": [
              "patient",
              "professional"
            ],
            "title": "Audience",
            "default": "patient"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "question",
          "request_id",
          "max_credits"
        ],
        "title": "AgentEvidenceRequest"
      },
      "AgentWorkflow": {
        "properties": {
          "harness": {
            "type": "string",
            "const": "three_pass_v1",
            "title": "Harness",
            "default": "three_pass_v1"
          },
          "variant": {
            "type": "string",
            "const": "full",
            "title": "Variant",
            "default": "full"
          },
          "release_status": {
            "type": "string",
            "enum": [
              "released",
              "withheld"
            ],
            "title": "Release Status"
          },
          "reviewer_verdict": {
            "type": "string",
            "title": "Reviewer Verdict"
          },
          "tool_calls": {
            "type": "integer",
            "title": "Tool Calls",
            "default": 0
          },
          "investigations_completed": {
            "type": "integer",
            "title": "Investigations Completed",
            "default": 0
          },
          "stages_completed": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Stages Completed",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "release_status",
          "reviewer_verdict"
        ],
        "title": "AgentWorkflow"
      },
      "CheckoutRequest": {
        "properties": {
          "request_id": {
            "type": "string",
            "maxLength": 100,
            "minLength": 8,
            "pattern": "^[A-Za-z0-9_-]+$",
            "title": "Request Id"
          }
        },
        "type": "object",
        "required": [
          "request_id"
        ],
        "title": "CheckoutRequest"
      },
      "Claim": {
        "properties": {
          "text": {
            "type": "string",
            "title": "Text"
          },
          "citations": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "title": "Citations"
          }
        },
        "type": "object",
        "required": [
          "text",
          "citations"
        ],
        "title": "Claim"
      },
      "EvidenceOutput": {
        "properties": {
          "schema_version": {
            "type": "string",
            "title": "Schema Version",
            "default": "1.1"
          },
          "request_id": {
            "type": "string",
            "title": "Request Id"
          },
          "operation": {
            "type": "string",
            "enum": [
              "search",
              "brief",
              "agent",
              "answer"
            ],
            "title": "Operation"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "insufficient_evidence",
              "withheld",
              "refused",
              "urgent_guidance"
            ],
            "title": "Status"
          },
          "retrieved_at": {
            "type": "string",
            "title": "Retrieved At"
          },
          "answer_markdown": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Answer Markdown"
          },
          "claims": {
            "items": {
              "$ref": "#/components/schemas/Claim"
            },
            "type": "array",
            "title": "Claims",
            "default": []
          },
          "sources": {
            "items": {
              "$ref": "#/components/schemas/Source"
            },
            "type": "array",
            "title": "Sources",
            "default": []
          },
          "limitations": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Limitations",
            "default": []
          },
          "quality": {
            "additionalProperties": true,
            "type": "object",
            "title": "Quality",
            "default": {}
          },
          "audience": {
            "type": "string",
            "enum": [
              "patient",
              "professional"
            ],
            "title": "Audience",
            "default": "professional"
          },
          "follow_up_question": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Follow Up Question"
          },
          "safety_notice": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SafetyNotice"
              },
              {
                "type": "null"
              }
            ]
          },
          "agent_workflow": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AgentWorkflow"
              },
              {
                "type": "null"
              }
            ]
          },
          "display_instructions": {
            "type": "string",
            "title": "Display Instructions",
            "default": "Display safety_notice first when present. Show intended_use alongside the answer. Preserve the complete answer, citations and limitations. Do not turn general evidence into individualized care instructions."
          },
          "credits_charged": {
            "type": "integer",
            "title": "Credits Charged",
            "default": 0
          },
          "cached": {
            "type": "boolean",
            "title": "Cached",
            "default": false
          },
          "attribution": {
            "type": "string",
            "title": "Attribution",
            "default": "Evidence supplied by CliniAtlas. Preserve numbered citations and source links."
          },
          "intended_use": {
            "type": "string",
            "title": "Intended Use",
            "default": "Medical literature research and education; clinician review is required."
          }
        },
        "type": "object",
        "required": [
          "request_id",
          "operation",
          "status",
          "retrieved_at"
        ],
        "title": "EvidenceOutput"
      },
      "EvidenceRequest": {
        "properties": {
          "question": {
            "type": "string",
            "maxLength": 4000,
            "minLength": 8,
            "title": "Question"
          },
          "request_id": {
            "type": "string",
            "maxLength": 100,
            "minLength": 8,
            "pattern": "^[A-Za-z0-9_-]+$",
            "title": "Request Id"
          },
          "locale": {
            "type": "string",
            "pattern": "^[a-z]{2,3}(?:-[A-Za-z]{2,4})?$",
            "title": "Locale",
            "default": "en"
          },
          "max_sources": {
            "type": "integer",
            "maximum": 12.0,
            "minimum": 1.0,
            "title": "Max Sources",
            "default": 8
          },
          "max_credits": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Max Credits",
            "description": "Maximum credits the caller authorizes for this task."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "question",
          "request_id",
          "max_credits"
        ],
        "title": "EvidenceRequest"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "SafetyNotice": {
        "properties": {
          "category": {
            "type": "string",
            "title": "Category"
          },
          "message": {
            "type": "string",
            "title": "Message"
          },
          "urgent": {
            "type": "boolean",
            "title": "Urgent",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "category",
          "message"
        ],
        "title": "SafetyNotice"
      },
      "Source": {
        "properties": {
          "citation_id": {
            "type": "integer",
            "title": "Citation Id"
          },
          "provider": {
            "type": "string",
            "title": "Provider"
          },
          "source_id": {
            "type": "string",
            "title": "Source Id"
          },
          "title": {
            "type": "string",
            "title": "Title"
          },
          "authors": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Authors"
          },
          "journal": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Journal"
          },
          "publication_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Publication Date"
          },
          "year": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Year"
          },
          "doi": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Doi"
          },
          "url": {
            "type": "string",
            "title": "Url"
          },
          "document_type": {
            "type": "string",
            "title": "Document Type"
          },
          "evidence_level": {
            "type": "string",
            "title": "Evidence Level"
          },
          "context_used": {
            "type": "string",
            "title": "Context Used"
          },
          "license_code": {
            "type": "string",
            "title": "License Code"
          },
          "is_open_access": {
            "type": "boolean",
            "title": "Is Open Access"
          },
          "has_full_text": {
            "type": "boolean",
            "title": "Has Full Text"
          }
        },
        "type": "object",
        "required": [
          "citation_id",
          "provider",
          "source_id",
          "title",
          "authors",
          "journal",
          "publication_date",
          "year",
          "doi",
          "url",
          "document_type",
          "evidence_level",
          "context_used",
          "license_code",
          "is_open_access",
          "has_full_text"
        ],
        "title": "Source"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    }
  }
}