{
  "openapi": "3.1.0",
  "info": {
    "title": "DecimalAI Platform",
    "description": "Agent Dataset Lifecycle Platform — Backend API",
    "version": "0.1.0",
    "x-jentic-source-url": "https://docs.decimal.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.decimal.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/agents": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "List agents",
        "description": "List distinct agents with summary stats.\n\nReturns each agent's name, trace count, latest manifest info,\nand unreviewed trace count. Also discovers sub-agents from\nLlmCall.agent_name that don't have their own top-level traces.\n\nResults are workspace-scoped: filters by workspace_id when available,\nwith fallback for pre-workspace data (workspace_id IS NULL).",
        "operationId": "list_agents_api_v1_agents_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 1000,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional cap on returned agents. Default (None) returns the full list — preserves backward compat. Max 1000.",
              "title": "Limit"
            },
            "description": "Optional cap on returned agents. Default (None) returns the full list — preserves backward compat. Max 1000."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Optional offset for pagination. Ignored when limit is None.",
              "default": 0,
              "title": "Offset"
            },
            "description": "Optional offset for pagination. Ignored when limit is None."
          },
          {
            "name": "include_fixtures",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "When False (the default), agents whose name begins with `__` are omitted. That prefix is the convention for throwaway agents created by test and smoke-test runs, which would otherwise crowd out your real agents. Set True to list every agent, including those fixtures.",
              "default": false,
              "title": "Include Fixtures"
            },
            "description": "When False (the default), agents whose name begins with `__` are omitted. That prefix is the convention for throwaway agents created by test and smoke-test runs, which would otherwise crowd out your real agents. Set True to list every agent, including those fixtures."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "agents": [
                    {
                      "agent_name": "travel-planner",
                      "trace_count": 1250,
                      "is_subagent": false,
                      "latest_manifest": {
                        "id": "mfst_001",
                        "version_label": "v2.1"
                      },
                      "unreviewed_count": 42
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "import httpx\n\nresp = httpx.get(\n    \"https://api.decimal.ai/api/v1/agents\",\n    headers={\"Authorization\": \"Bearer dai_sk_...\"},\n)\nresp.raise_for_status()\nfor agent in resp.json()[\"agents\"]:\n    print(agent[\"agent_name\"], agent[\"trace_count\"])"
          }
        ]
      },
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Create an agent",
        "description": "Create an agent by registering its baseline manifest.\n\nReturns 201 with the new agent's id, the baseline manifest it was created\nfrom, and how many of the requested skills were assigned. A skill that\ncan't be attached — unknown id, seeded demo data, or the plan's\nlinked-skill allowance used up — is reported in ``skills_failed``\nrather than failing the whole create: the agent is the thing being made\nhere, and losing it because one skill id was stale would be the wrong\ntrade. ``skills_failed_detail`` carries the reason, and for a plan refusal\nan ``error_code`` the UI can key an upgrade prompt off.\n\n``skill_ids`` may name your own skills OR public registry skills. Attaching\na registry skill here is free on every plan (2026-08-22 pricing decision:\nthe moment that demonstrates the product isn't paywalled) — the ``Pro+``\ngate applies to curating an agent's skills afterwards, not to this. The\nquantity cap is unchanged either way.",
        "operationId": "create_agent_api_v1_agents_post",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Create Agent Api V1 Agents Post"
                },
                "example": {
                  "agent_name": "travel-planner",
                  "agent_id": "5f2c1a90-0f1e-4b6c-9a11-2b3c4d5e6f70",
                  "manifest_id": "9c8b7a60-1122-4c33-8d44-55e66f778899",
                  "version_label": "v1",
                  "skills_assigned": 2,
                  "skills_failed": []
                }
              }
            }
          },
          "400": {
            "description": "Invalid agent_name."
          },
          "409": {
            "description": "An agent with this name already exists in this org."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/setup": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get Agent Setup",
        "operationId": "get_agent_setup_api_v1_agents__agent_name__setup_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Agent Setup Api V1 Agents  Agent Name  Setup Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/setup/checks": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Start Setup Check",
        "operationId": "start_setup_check_api_v1_agents__agent_name__setup_checks_post",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckStart"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/setup/checks/{check_id}/result": {
      "put": {
        "tags": [
          "agents"
        ],
        "summary": "Finish Setup Check",
        "operationId": "finish_setup_check_api_v1_agents__agent_name__setup_checks__check_id__result_put",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "check_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Check Id"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckResult"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/setup/checks/{check_id}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get Setup Check",
        "operationId": "get_setup_check_api_v1_agents__agent_name__setup_checks__check_id__get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "check_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Check Id"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/setup/checks/{check_id}/trace-viewed/{trace_id}": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "View Setup Check Trace",
        "operationId": "view_setup_check_trace_api_v1_agents__agent_name__setup_checks__check_id__trace_viewed__trace_id__post",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "check_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Check Id"
            }
          },
          {
            "name": "trace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Trace Id"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/setup/retry-skills": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Retry Initial Skills",
        "description": "Retry only unfinished original assignments; this cannot add new skills.\n\nReuses the create-time allowance and the existing idempotent writers, including\nsafety, ownership and quantity checks. Successful assignments are not replayed.",
        "operationId": "retry_initial_skills_api_v1_agents__agent_name__setup_retry_skills_post",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Retry Initial Skills Api V1 Agents  Agent Name  Setup Retry Skills Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/topology": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get the multi-agent topology for an agent",
        "description": "Get the multi-agent topology for an agent.\n\nReturns:\n    - orchestrator: the parent agent info\n    - subagents: list of sub-agent nodes with drift status\n    - edges: parent→child connections\n\nScoped to the caller's org — agents sharing a name across orgs are\nisolated from each other's manifests, traces and topology.\n(Phrased as the property, not as a change: \"no longer\" published the fact\nthat it once was not, and this docstring is the public API description.)",
        "operationId": "get_agent_topology_api_v1_agents__agent_name__topology_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/generate-prompts": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Generate synthetic prompts for an agent",
        "description": "Generate synthetic prompts for an agent.\n\nBody (all optional):\n- count: number of prompts to generate (default 20, max 100)\n- categories: list of categories from [\"normal\", \"edge_cases\", \"multi_tool\", \"adversarial\"]",
        "operationId": "generate_prompts_api_v1_agents__agent_name__generate_prompts_post",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "default": {},
                "title": "Payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/eval-policy": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get agent eval policy (deprecated)",
        "description": "DEPRECATED — Use GET /api/v1/evaluators?agent_name=... instead.",
        "operationId": "get_eval_policy_deprecated_api_v1_agents__agent_name__eval_policy_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "agent_name": "my-agent",
                  "deprecated": true,
                  "message": "EvalPolicy is deprecated. Configure evaluators via /api/v1/evaluators."
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "agents"
        ],
        "summary": "Upsert agent eval policy (deprecated)",
        "description": "DEPRECATED — Use POST /api/v1/evaluators instead.",
        "operationId": "upsert_eval_policy_deprecated_api_v1_agents__agent_name__eval_policy_put",
        "deprecated": true,
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "agent_name": "my-agent",
                  "deprecated": true,
                  "message": "EvalPolicy is deprecated. Configure evaluators via /api/v1/evaluators."
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/eval-budget": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get per-agent eval budget (deprecated)",
        "description": "**Deprecated.** Per-agent budgets are no longer enforced — LLM-judge usage is tracked at the org level via billing. This endpoint returns a stub for backward compatibility and will be removed in a future release. Use `GET /api/v1/billing/usage` instead.",
        "operationId": "get_eval_budget_deprecated_api_v1_agents__agent_name__eval_budget_get",
        "deprecated": true,
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/skill-suggestions": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Ranked skill suggestions for this agent",
        "description": "Return a ranked list of skills to install on, or remove from, this agent.\n\nSignals (each with structured `evidence` for the UI to render \"why\"):\n  - `install`           — uncovered tool calls (rule-based)\n  - `remove`            — menu-bloat skills (rule-based)\n  - `install_category`  — category gap relative to registry leaders (rule-based)\n  - `install_rater`     — skill the agent struggled without, per Skill\n                          Rater output (evidence-based)\n\nOrg-scoped and agent-scoped. Empty list when nothing trips the\nthresholds — the UI renders a \"no suggestions right now\" placeholder\nrather than a fake recommendation.\n\nTwo signal sources feed one list: the rule-based detectors above and\nRater-driven recommendations, returned in the same response shape so a\nclient doesn't have to know which produced a given row. Both coexist\ntoday, and the Rater-driven ones rank higher when present.",
        "operationId": "get_skill_suggestions_api_v1_agents__agent_name__skill_suggestions_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "window_days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 90,
              "minimum": 1,
              "default": 30,
              "title": "Window Days"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20,
              "minimum": 1,
              "default": 8,
              "title": "Limit"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/subagent-health": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get health metrics for each sub-agent of an orchestrator",
        "description": "Get health metrics for each sub-agent of an orchestrator.\n\nReturns per-subagent: success rate, avg latency, error count, trace count,\nand drift status. Only includes sub-agents that appear in the orchestrator's\nlatest manifest as 'subagent' components or that have parent_trace_id links.\n\nQuery params:\n- days: lookback window (default 7)",
        "operationId": "get_subagent_health_api_v1_agents__agent_name__subagent_health_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 90,
              "minimum": 1,
              "default": 7,
              "title": "Days"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/delegation-stats": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get delegation analytics for an orchestrator agent",
        "description": "Get delegation analytics for an orchestrator agent.\n\nReturns:\n- frequency: per-subagent delegation count + percentage\n- per_trace: avg/max sub-agents per orchestrator trace\n- error_rate: fraction of traces with at least one child error\n- by_day: delegation count per day over the lookback window",
        "operationId": "get_delegation_stats_api_v1_agents__agent_name__delegation_stats_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 180,
              "minimum": 1,
              "default": 30,
              "title": "Days"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/cost-trend": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Daily token+cost trend for an agent over a lookback window",
        "description": "Return per-day {trace_count, total_tokens, total_cost_usd} for an agent.\n\nAggregates LlmCall rows for traces of this agent in the org over the\nlast `days` days; cost is computed via `pricing.estimate_cost` per call.\nUsed by the agent-detail cost burn-rate widget.",
        "operationId": "get_cost_trend_api_v1_agents__agent_name__cost_trend_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 180,
              "minimum": 1,
              "default": 30,
              "title": "Days"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/compat-summary": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get compatibility summary for an agent's latest manifest transition",
        "description": "Get compatibility summary for an agent's latest manifest transition.\n\nReturns keep/repair/replay/drop counts, the manifest versions involved,\nand the overall recommended action. Used by `decimalai compat-check` CLI.\n\nIf a stored CompatibilityReport exists, returns it. Otherwise (or if\nrecompute=true), runs a fresh analysis.",
        "operationId": "get_compat_summary_api_v1_agents__agent_name__compat_summary_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "recompute",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Force a fresh compatibility analysis",
              "default": false,
              "title": "Recompute"
            },
            "description": "Force a fresh compatibility analysis"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/impact-report": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Aggregate Impact Report for an agent — composes compat-summary",
        "description": "Aggregate Impact Report for an agent.\n\nReturns ONE response containing everything the frontend ImpactReport\nsurfaces, eliminating the count drift that came from composing\nmultiple endpoints client-side. Includes:\n\n  - surface_changes  : diff of tools / prompts / models / etc.\n  - compat_summary   : per-trace keep/repair/replay/drop counts\n  - affected_trace_count : canonical \"N traces\" number (sum of compat)\n  - sample_traces    : up to 10 trace IDs to drill into\n  - severity / severity_reason : verdict from compute_impact\n  - human_summary: single-line natural-language diff\n\nFor backward compat, the legacy compat-summary fields (`keep`, `repair`,\netc.), the `buckets` alias, and `manifest_count`/`trace_count` are\nstill included so existing callers don't break.",
        "operationId": "get_impact_report_api_v1_agents__agent_name__impact_report_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "manifest_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Manifest Id"
            }
          },
          {
            "name": "baseline_manifest_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Baseline Manifest Id"
            }
          },
          {
            "name": "recompute",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Recompute"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}": {
      "delete": {
        "tags": [
          "agents"
        ],
        "summary": "Cascade-delete an agent and all dependent data",
        "description": "Cascade-delete an agent and all of its dependent data.\n\nIntended for test and cleanup flows. Guard rail: the agent name must begin\nwith `__` (the throwaway/smoke-test naming convention) OR the agent must\nhave fewer than 100 traces — so a stray call cannot wipe a busy production\nagent.\n\nScoped to the caller's organization: an agent in another org is not visible\nto this endpoint and cannot be deleted through it, whatever name is passed.\n\nThe agent's identity record is archived rather than dropped, so its name\nbecomes available again immediately: you can create a new agent with the\nsame name straight after deleting one. Agent-scoped skill assignments and\nthe agent-scoped compatibility policy are cleared, so the new agent does not\ninherit the old one's skills or its guardrails.",
        "operationId": "delete_agent_api_v1_agents__agent_name__delete",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/suggestions": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get contextual cross-pillar suggestions for an agent",
        "description": "Get contextual cross-pillar suggestions for an agent.\n\nEvaluates usage patterns and returns up to 3 suggestions for\nadjacent platform features the user hasn't discovered yet.",
        "operationId": "get_cross_pillar_suggestions_api_v1_agents__agent_name__suggestions_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Cross Pillar Suggestions Api V1 Agents  Agent Name  Suggestions Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/suggestions/global": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get org-wide cross-pillar suggestions (not scoped to any agent)",
        "description": "Get org-wide cross-pillar suggestions (not scoped to any agent).\n\nUsed by the home dashboard to show suggestions that span all agents.",
        "operationId": "get_global_suggestions_api_v1_agents_suggestions_global_get",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Global Suggestions Api V1 Agents Suggestions Global Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/rename": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Rename an agent. The old name continues to resolve via the alias table.",
        "description": "Rename ``agent_name`` to ``payload[\"new_name\"]`` for the caller's org.\n\nWrites a forwarding alias so URLs that referenced the old name\nkeep working — a lookup that misses on the primary name falls back\nto the alias, so existing links and saved dashboards do not break.",
        "operationId": "rename_agent_endpoint_api_v1_agents__agent_name__rename_post",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renamed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Rename Agent Endpoint Api V1 Agents  Agent Name  Rename Post"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or name clash."
          },
          "404": {
            "description": "Agent not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/skills": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "List skills assigned to this agent",
        "description": "Return all skill subscriptions for the given agent.\n\nEach row includes the skill's identity + the pinned version (or null\nfor \"always latest\"). The skill's full metadata (description, body,\netc.) is not returned here — call `/api/v1/skills/{name}` for that.",
        "operationId": "list_agent_skills_api_v1_agents__agent_name__skills_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response List Agent Skills Api V1 Agents  Agent Name  Skills Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/skills/{skill_id}": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Assign a skill to this agent (optionally pinned to a specific version)",
        "description": "Subscribe the agent to the skill, idempotent.\n\nRe-assigning an existing pair updates `pinned_version_id`. Equivalent\nto `POST /skills/{skill_name}/subscribe` but addressed by agent_name\n+ skill_id for the agent-centric workflow (e.g. a \"Skills\" tab on\nthe agent dashboard).",
        "operationId": "assign_skill_to_agent_api_v1_agents__agent_name__skills__skill_id__post",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Skill Id"
            }
          },
          {
            "name": "pin_version_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional skill_version.id to pin. Null = follow the skill's latest version.",
              "title": "Pin Version Id"
            },
            "description": "Optional skill_version.id to pin. Null = follow the skill's latest version."
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Assign Skill To Agent Api V1 Agents  Agent Name  Skills  Skill Id  Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "agents"
        ],
        "summary": "Unassign a skill from this agent",
        "description": "Remove the (agent_name, skill_id) subscription.\n\nIdempotent: returns `{status: \"ok\", action: \"noop\"}` if there was\nnothing to remove.",
        "operationId": "unassign_skill_from_agent_api_v1_agents__agent_name__skills__skill_id__delete",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Skill Id"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Unassign Skill From Agent Api V1 Agents  Agent Name  Skills  Skill Id  Delete"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/skills/batch-assign": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Assign many skills to many agents in a single request",
        "description": "Batch equivalent of ``POST /{agent_name}/skills/{skill_id}``.\n\nIdempotent per pair (re-assigning an existing pair updates its pin). One\nunknown/foreign skill or a single bad pair does NOT fail the batch — it's\nreported as an error item so the caller can surface a partial result, the\nsame way the old client-side loop tolerated per-agent failures.",
        "operationId": "batch_assign_skills_to_agents_api_v1_agents_skills_batch_assign_post",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchAssignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Batch Assign Skills To Agents Api V1 Agents Skills Batch Assign Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/prompt": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get this agent's configured system prompt",
        "description": "Return the agent's configured system prompt, or `null` if none is set.\n\n`null` is a REAL state, not an error: `system_prompt` is optional at\ncreation. It is produced in exactly three cases — the agent exists but has\nno `agent` row (pre-migration-059), there is no `agent_prompt` row, or the\nrow's effective pointer is NULL (never set, or cleared by\n`DELETE /{agent_name}/prompt`). Every version-scoped field is `null`\nalongside it.\n\nReturns the prompt ONLY. There is no combined `/config` route: skills are\nauto-injected and already served by `GET /{agent_name}/skills`, and merging\nthe two would tempt the SDK into auto-injecting the prompt too.",
        "operationId": "get_agent_prompt_api_v1_agents__agent_name__prompt_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Return this historical version instead of the effective one.",
              "title": "Version"
            },
            "description": "Return this historical version instead of the effective one."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "If-None-Match"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "agent_name": "support-agent",
                  "agent_id": "5f2c1a90-0f1e-4b6c-9a11-2b3c4d5e6f70",
                  "system_prompt": "You are a support agent for Acme…",
                  "version_id": "9c1f0b22-3344-4d55-8e66-77f8899aabbc",
                  "version_number": 3,
                  "content_hash": "b7f4c1…",
                  "label": "tightened refund wording",
                  "provenance": "ui",
                  "created_at": "2026-08-25T10:14:02.113Z",
                  "updated_at": "2026-08-25T10:14:02.113Z",
                  "version_mode": "latest"
                }
              }
            }
          },
          "304": {
            "description": "If-None-Match matched the current content_hash."
          },
          "404": {
            "description": "No such agent in this org, or no such version."
          },
          "409": {
            "description": "The pinned version cannot be resolved."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "import decimalai\n\n# Explicit, never auto-injected: the prompt comes back as data and YOUR code\n# decides what to do with it. (Skills ARE auto-injected — a menu is additive,\n# a system prompt is not.) Fetched at runtime, so editing it in the dashboard\n# takes effect without a redeploy.\nagent = decimalai.load_agent(\"support-agent\")\nprint(agent.system_prompt)"
          }
        ]
      },
      "put": {
        "tags": [
          "agents"
        ],
        "summary": "Set this agent's system prompt",
        "description": "Set or edit the agent's system prompt. A new version only if it changed.\n\nAlways 200 on success — callers read `action`, not the status code.\n\n`action: \"unchanged\"` is the most important field in this API. The whole\nreason Phase 3c exists is that the same edit through the manifest hashed\nidentically, deduped, and returned 200 having discarded the write. A no-op\nthat reports itself is fine; a change that reports success and does nothing\nis the failure mode.\n\n`pinned_warning` does the same job for the pin case: editing while pinned\nwrites the version, KEEPS the pin, and says so — rather than silently\nun-pinning (breaking version stability) or silently no-op'ing.",
        "operationId": "set_agent_prompt_api_v1_agents__agent_name__prompt_put",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetAgentPromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Set Agent Prompt Api V1 Agents  Agent Name  Prompt Put"
                }
              }
            }
          },
          "400": {
            "description": "Empty, whitespace-only, or oversized prompt."
          },
          "404": {
            "description": "No such agent in this org."
          },
          "409": {
            "description": "if_match_content_hash did not match (prompt_stale)."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "agents"
        ],
        "summary": "Clear this agent's system prompt (history is retained)",
        "description": "Return the agent to \"no prompt set\" without destroying its history.\n\nThe `agent_prompt` row and EVERY version row survive; only the pointers go\nNULL. That is what gives \"no prompt set\" exactly ONE spelling —\n`latest_version_id IS NULL` — whether the agent never had a prompt or the\nuser cleared one, which is what the null contract on the read route needs.\nA later PUT continues from `MAX(version_number) + 1`, so history stays\ncontiguous. Clearing also clears the pin: there is nothing left to pin to.",
        "operationId": "clear_agent_prompt_api_v1_agents__agent_name__prompt_delete",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Clear Agent Prompt Api V1 Agents  Agent Name  Prompt Delete"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/prompt/versions": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "List this agent's system-prompt version history",
        "description": "Newest first. An agent with no prompt is `{\"versions\": [], \"total\": 0}`.\n\nDeliberately WITHOUT `content`. 50 × 100KB of TOASTed `Text` detoasted into\none response is the shape that made `/skills` take 34s and OOM the\nleaderboard; the body is one `GET …/prompt?version=N` away. `char_count`\ncarries the only thing a history list actually needs it for.",
        "operationId": "list_agent_prompt_versions_api_v1_agents__agent_name__prompt_versions_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response List Agent Prompt Versions Api V1 Agents  Agent Name  Prompt Versions Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/prompt/versions/{version_number}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get one historical version of this agent's system prompt",
        "description": "One version's full content — a single probe on the (prompt, number) unique.\n\n404 for an unknown agent OR an unknown version number, with distinct\n`detail` strings so a caller can tell the two apart.",
        "operationId": "get_agent_prompt_version_api_v1_agents__agent_name__prompt_versions__version_number__get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "version_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Version Number"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Agent Prompt Version Api V1 Agents  Agent Name  Prompt Versions  Version Number  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/prompt/pin": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Pin this agent's prompt to a version, or track latest",
        "description": "Set `version_mode` and the pin together, in one UPDATE.\n\nSeparate from PUT on purpose: folding them would let a content edit silently\nchange resolution mode.\n\nThe target is a `version_number` resolved within THIS agent's prompt, so a\nnumber belonging to another agent 404s rather than pinning across a tenancy\nboundary. `version_mode` and `pinned_version_id` are assigned together so\n`ck_agent_prompt_pin_consistent` is never transiently violated — a CHECK\nviolation would be a 500, so this validates first and the CHECK is the\nbackstop.",
        "operationId": "pin_agent_prompt_api_v1_agents__agent_name__prompt_pin_post",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PinPromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Pin Agent Prompt Api V1 Agents  Agent Name  Prompt Pin Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/trial-runs": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Trial Availability",
        "operationId": "trial_availability_api_v1_agents__agent_name__trial_runs_get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Create Trial",
        "operationId": "create_trial_api_v1_agents__agent_name__trial_runs_post",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agent_name}/trial-runs/{run_id}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get Trial",
        "operationId": "get_trial_api_v1_agents__agent_name__trial_runs__run_id__get",
        "parameters": [
          {
            "name": "agent_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Name"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Run Id"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/registry/packs/support/claim": {
      "post": {
        "tags": [
          "registry"
        ],
        "summary": "Save a reviewed public starter into your workspace",
        "operationId": "claim_support_starter_api_v1_registry_packs_support_claim_post",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "X-Workspace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Workspace-Id"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Decimal Session"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StarterClaimRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/registry/packs/{pack_slug}/example": {
      "get": {
        "tags": [
          "registry"
        ],
        "summary": "Read a recorded public skill example, without model inference",
        "operationId": "get_pack_example_api_v1_registry_packs__pack_slug__example_get",
        "parameters": [
          {
            "name": "pack_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Pack Slug"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/traces/{trace_id}/annotations": {
      "post": {
        "tags": [
          "annotations"
        ],
        "summary": "Add a human annotation/label to a trace",
        "description": "Add a human annotation/label to a trace.",
        "operationId": "create_annotation_api_v1_traces__trace_id__annotations_post",
        "parameters": [
          {
            "name": "trace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Trace Id"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          },
          {
            "name": "decimal_session",
            "in": "cookie",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
[...]
