{
  "openapi": "3.0.3",
  "info": {
    "title": "API APP SARTET",
    "version": "1.0.0",
    "description": "API para la PWA del SARTET en su primera etapa. El alcance de esta APi es para cubrir los requerimientos de autenticación del afiliado, consulta de resumen de saldos, listado de solicitudes y datos personales.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/sartet/AppSARTET/1.0.0"
  },
  "servers": [
    {
      "url": "https://snteseccion30sartet.org.mx/appsartet",
      "description": "Producción"
    },
    {
      "url": "https://snteseccion30sartet.org.mx/appsartet-dev",
      "description": "Desarrollo"
    }
  ],
  "paths": {
    "/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login de afiliado",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Autenticación exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/v1/afiliados/me": {
      "get": {
        "tags": [
          "Afiliados"
        ],
        "summary": "Consultar información del afiliado autenticado",
        "responses": {
          "200": {
            "description": "Información del afiliado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AfiliadoDetalle"
                }
              }
            }
          },
          "401": {
            "description": "No autenticado"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "patch": {
        "tags": [
          "Afiliados"
        ],
        "summary": "Actualizar datos parciales del afiliado autenticado",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AfiliadoActualizacion"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Datos actualizados correctamente"
          },
          "400": {
            "description": "Datos inválidos"
          },
          "401": {
            "description": "No autenticado"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/v1/afiliados/bloqueos/me": {
      "get": {
        "tags": [
          "Afiliados"
        ],
        "summary": "Consultar información de los bloqueos del afiliado autenticado",
        "responses": {
          "200": {
            "description": "Información de los bloqueos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BloqueoDetalle"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autenticado"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/v1/prestamos/saldos/me": {
      "get": {
        "tags": [
          "Prestamos"
        ],
        "summary": "Consultar los saldos de los préstamos del afiliado autenticado",
        "responses": {
          "200": {
            "description": "Lista de saldos de préstamos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PrestamoResumen"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autenticado"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/v1/prestamos/solicitudes/me": {
      "get": {
        "tags": [
          "Prestamos"
        ],
        "summary": "Consultar las solicitudes de los préstamos del afiliado autenticado",
        "responses": {
          "200": {
            "description": "Lista de las solicitudes de préstamos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PrestamoSolicitudResumen"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autenticado"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/v1/prestamos/calculadora": {
      "get": {
        "tags": [
          "Prestamos"
        ],
        "summary": "Consultar los parámetros para el cálculo de préstamos",
        "responses": {
          "200": {
            "description": "Parámetros para el calculo de préstamos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculadoraParametros"
                }
              }
            }
          },
          "401": {
            "description": "No autenticado"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/v1/aportaciones/saldos/me": {
      "get": {
        "tags": [
          "Aportaciones"
        ],
        "summary": "Consultar los saldos de las aportaciones del afiliado autenticado",
        "responses": {
          "200": {
            "description": "Lista de Aportaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AportacionesResumen"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autenticado"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/v1/reintegros/solicitudes/me": {
      "get": {
        "tags": [
          "Reintegros"
        ],
        "summary": "Consultar las solicitudes de los reintegros del afiliado autenticado",
        "responses": {
          "200": {
            "description": "Lista de las solicitudes de reintegros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReintegroSolicitudResumen"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autenticado"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/v1/retiros/solicitudes/me": {
      "get": {
        "tags": [
          "Retiros"
        ],
        "summary": "Consultar las solicitudes de los retiros del afiliado autenticado",
        "responses": {
          "200": {
            "description": "Lista de las solicitudes de retiros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RetiroSolicitudResumen"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autenticado"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "AppKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-App-Key",
        "description": "Clave privada de la aplicación PWA"
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "usuario",
          "password"
        ],
        "properties": {
          "usuario": {
            "type": "string",
            "maxLength": 13
          },
          "password": {
            "type": "string",
            "maxLength": 20
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          },
          "idSartet": {
            "type": "integer"
          },
          "idUsuario": {
            "type": "integer"
          },
          "tiposPlazas": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "nombre": {
            "type": "string",
            "maxLength": 40
          }
        }
      },
      "AfiliadoDetalle": {
        "type": "object",
        "properties": {
          "nombreCompleto": {
            "type": "string",
            "maxLength": 100
          },
          "curp": {
            "type": "string",
            "maxLength": 18
          },
          "rfc": {
            "type": "string",
            "maxLength": 13
          },
          "noEmpleado": {
            "type": "integer"
          },
          "direccion": {
            "type": "string",
            "maxLength": 500
          },
          "cp": {
            "type": "integer"
          },
          "activoDesde": {
            "type": "string",
            "format": "date"
          },
          "telefono": {
            "type": "string",
            "maxLength": 10
          },
          "correo": {
            "type": "string",
            "maxLength": 100
          },
          "dOct": {
            "type": "string",
            "maxLength": 10
          }
        }
      },
      "AfiliadoActualizacion": {
        "type": "object",
        "required": [
          "telefono",
          "correo",
          "dOct"
        ],
        "properties": {
          "telefono": {
            "type": "string",
            "maxLength": 10
          },
          "correo": {
            "type": "string",
            "maxLength": 100
          },
          "dOct": {
            "type": "string",
            "maxLength": 10
          }
        }
      },
      "BloqueoDetalle": {
        "type": "object",
        "properties": {
          "fecha": {
            "type": "string",
            "format": "date"
          },
          "tipoBloqueo": {
            "type": "string",
            "maxLength": 40
          },
          "mensaje": {
            "type": "string",
            "maxLength": 1000
          }
        }
      },
      "CalculadoraParametros": {
        "type": "object",
        "properties": {
          "tasa": {
            "type": "number",
            "format": "decimal"
          },
          "deducciones": {
            "type": "number",
            "format": "decimal"
          }
        }
      },
      "PrestamoResumen": {
        "type": "object",
        "properties": {
          "tipoPrestamo": {
            "type": "string",
            "maxLength": 100
          },
          "saldo": {
            "type": "number",
            "format": "decimal"
          },
          "fecha": {
            "type": "string",
            "format": "date"
          },
          "fechaFin": {
            "type": "string",
            "format": "date"
          },
          "primerAbono": {
            "type": "string",
            "format": "date"
          },
          "ultimoAbono": {
            "type": "string",
            "format": "date"
          },
          "abono": {
            "type": "number",
            "format": "decimal"
          },
          "plazo": {
            "type": "string",
            "maxLength": 50
          },
          "tipoPlaza": {
            "type": "string",
            "maxLength": 30
          },
          "codigoDescuento": {
            "type": "string",
            "maxLength": 5
          }
        }
      },
      "PrestamoSolicitudResumen": {
        "type": "object",
        "properties": {
          "folio": {
            "type": "integer"
          },
          "tipoPrestamo": {
            "type": "string",
            "maxLength": 100
          },
          "estatus": {
            "type": "string",
            "maxLength": 50
          },
          "fecha": {
            "type": "string",
            "format": "date"
          },
          "montoSolicitado": {
            "type": "number",
            "format": "decimal"
          },
          "montoNeto": {
            "type": "number",
            "format": "decimal"
          },
          "plazo": {
            "type": "string",
            "maxLength": 50
          },
          "tipoPlaza": {
            "type": "string",
            "maxLength": 30
          },
          "fechaCobro": {
            "type": "string",
            "format": "date"
          },
          "codigoDescuento": {
            "type": "string",
            "maxLength": 5
          }
        }
      },
      "ReintegroSolicitudResumen": {
        "type": "object",
        "properties": {
          "tipoReintegro": {
            "type": "string",
            "maxLength": 200
          },
          "estatus": {
            "type": "string",
            "maxLength": 20
          },
          "folio": {
            "type": "integer"
          },
          "fecha": {
            "type": "string",
            "format": "date"
          },
          "quincenasAfectadas": {
            "type": "string",
            "maxLength": 100
          },
          "monto": {
            "type": "number",
            "format": "decimal"
          },
          "tipoPlaza": {
            "type": "string",
            "maxLength": 30
          },
          "nota": {
            "type": "string",
            "maxLength": 500
          }
        }
      },
      "RetiroSolicitudResumen": {
        "type": "object",
        "properties": {
          "tipoRetiro": {
            "type": "string",
            "maxLength": 200
          },
          "estatus": {
            "type": "string",
            "maxLength": 20
          },
          "folio": {
            "type": "integer"
          },
          "fechaSolicitud": {
            "type": "string",
            "format": "date"
          },
          "fechaIngreso": {
            "type": "string",
            "format": "date"
          },
          "fechaBaja": {
            "type": "string",
            "format": "date"
          },
          "fechaCobro": {
            "type": "string",
            "format": "date"
          },
          "tipoPlaza": {
            "type": "string",
            "maxLength": 30
          }
        }
      },
      "AportacionesResumen": {
        "type": "object",
        "properties": {
          "tipoPrograma": {
            "type": "string",
            "maxLength": 100
          },
          "saldo": {
            "type": "number",
            "format": "decimal"
          },
          "rfc": {
            "type": "string",
            "maxLength": 13
          },
          "aportacion": {
            "type": "number",
            "format": "decimal"
          },
          "primerAportacion": {
            "type": "string",
            "format": "date"
          },
          "ultimaAportacion": {
            "type": "string",
            "format": "date"
          },
          "tipoPlaza": {
            "type": "string",
            "maxLength": 30
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": [],
      "AppKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Autenticación"
    },
    {
      "name": "Afiliados",
      "description": "Operaciones relacionadas con los afiliado"
    },
    {
      "name": "Prestamos",
      "description": "Operaciones relacionadas con los préstamos"
    },
    {
      "name": "Aportaciones",
      "description": "Operaciones relacionadas con las aportaciones"
    },
    {
      "name": "Reintegros",
      "description": "Operaciones relacionadas con los reintegros"
    },
    {
      "name": "Retiros",
      "description": "Operaciones relacionadas con los retiros"
    }
  ]
}