{
  "openapi": "3.1.0",
  "info": {
    "title": "rombik API",
    "version": "1.3.5",
    "description": "Генерація блок-схем алгоритмів з коду за ДСТУ. Той самий рушій, що й на сайті rombik, по HTTP. Авторизація — API-ключем (rk_…) у заголовку X-API-Key або Authorization: Bearer. Рендер за ключем — у тарифі Pro; кожен експортований файл іде в місячний ліміт тарифу. Стороннім застосункам доступний вхід «через rombik» — OAuth 2.0 з PKCE + OIDC: див. /oauth/token.",
    "x-jentic-source-url": "https://rombik.app/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://rombik.app/api/v1"
    }
  ],
  "paths": {
    "/render": {
      "post": {
        "summary": "Рендер блок-схеми з коду",
        "description": "Код → блок-схема у вибраному форматі. Потрібен тариф Pro (інакше 402 pro_required); 1 файл — 1 експорт місячного ліміту, інший формат того самого файлу безкоштовний (понад ліміт — 402 fair_use). Тіло — JSON {code,lang,…} або multipart-файл (-F file=@…). Типово повертає файл; з ?json=1 — JSON із полем content.",
        "parameters": [
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Повернути JSON {content} замість файлу"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenderRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Файл вихідного коду (мова — за розширенням)"
                  },
                  "format": {
                    "type": "string"
                  },
                  "lang": {
                    "type": "string"
                  },
                  "fn": {
                    "type": "string"
                  },
                  "scale": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Схема — файл або JSON (за ?json=1)",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenderJSONResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/render/batch": {
      "post": {
        "summary": "Пакетний рендер кількох джерел за один виклик",
        "description": "Багато елементів (code або url) → один результат. Потрібен тариф Pro. Зараховує по одному експорту за кожен успішний елемент; у ліміті місяця має лишатись щонайменше стільки, скільки елементів (1..100). format=pdf (і не bundle=zip) → один багатосторінковий PDF (сторінка на елемент); інші формати → zip із файлом на елемент. З ?json=1 — звіт по кожному елементу + bundle у base64; інакше — файл (pdf|zip) із заголовками X-Rombik-Rendered та X-Rombik-Failed.",
        "parameters": [
          {
            "name": "json",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Повернути JSON-звіт {items,content} замість файлу"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bundle (pdf|zip) або JSON-звіт (за ?json=1)",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/me": {
      "get": {
        "summary": "Тариф і ліміт місяця за ключем",
        "responses": {
          "200": {
            "description": "Тариф, до коли діє, використання ліміту місяця",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/topup": {
      "post": {
        "summary": "Оплата тарифу — лінк на оплату (лише Україна, грн)",
        "description": "Створює pending-платіж і повертає посилання на оплату plata by mono (картка / Apple·Google Pay). ⚠️ УВАГА: оплата тут — ЛИШЕ для України (у гривні). Міжнародним користувачам: оформлюйте тариф на сайті rombik.app — там є оплата карткою в USD (Paddle), а API-ключем далі користуйтесь як завжди (тариф той самий). Тіло: {kind: plan, id} — id особистого тарифу з /products. 409 plan_conflict — Студент, поки діє Pro.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Лінк на оплату",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/products": {
      "get": {
        "summary": "Каталог тарифів",
        "responses": {
          "200": {
            "description": "Каталог цін",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Products"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/r": {
      "post": {
        "summary": "Тимчасовий публічний лінк на результат (1 година)",
        "description": "Кладе готовий файл у тимчасове сховище і повертає посилання на нього — для клієнтів, які не показують файли (чат-боти, вебхуки, листи). Тіло запиту — САМ файл (байти з /render), Content-Type — його MIME. Посилання живе годину; картинки й PDF відкриваються в браузері, решта віддається на завантаження. У CLI те саме робить прапорець --link.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Імʼя файлу для завантаження (напр. schema.pdf)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Посилання на результат",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempLink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/r/{token}": {
      "get": {
        "summary": "Забрати результат за тимчасовим лінком",
        "description": "Публічно (без ключа) — посилання й є секретом. Після спливання години повертає 404.",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Токен із відповіді POST /r"
          }
        ],
        "responses": {
          "200": {
            "description": "Файл із тим самим MIME, що клали",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Лінк недійсний або протермінований"
          }
        }
      }
    },
    "/skill.md": {
      "get": {
        "summary": "Готовий скіл для AI-агентів (Markdown)",
        "description": "Уся довідка по API одним файлом у форматі Agent Skills — постав його агенту, і той працюватиме з rombik без додаткових пояснень. Мова — за ?lang (uk|en), ?download=1 віддає як файл.",
        "security": [],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "uk",
                "en"
              ]
            }
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Віддати як файл (Content-Disposition: attachment)"
          }
        ],
        "responses": {
          "200": {
            "description": "Скіл",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/rombik-format.md": {
      "get": {
        "summary": "Специфікація рідного формату (astJSON)",
        "description": "Види вузлів і поля дерева схеми для lang=rombik — той самий текст, що всередині skill.md. Дай його своїй моделі, щоб вона будувала схеми для мов, яких у списку немає.",
        "security": [],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "uk",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Специфікація",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/cli/version": {
      "get": {
        "summary": "Найновіша версія CLI",
        "description": "Джерело правди для автооновлення (rombik update) і для власних інсталяторів чи дзеркал.",
        "security": [],
        "responses": {
          "200": {
            "description": "Версія",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cli/dl/{name}": {
      "get": {
        "summary": "Завантажити бінарник CLI",
        "description": "Готові збірки під платформу: rombik-linux-amd64, rombik-linux-arm64, rombik-darwin-amd64, rombik-darwin-arm64, rombik-windows-amd64.exe, rombik-windows-arm64.exe.",
        "security": [],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Імʼя бінарника"
          }
        ],
        "responses": {
          "200": {
            "description": "Виконуваний файл",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "Обмін коду авторизації на токен",
        "description": "Вхід «через rombik» у три кроки. 1) Опублікуй на своєму домені JSON-документ метаданих клієнта (CIMD) {\"client_id\": \"<URL цього документа>\", \"client_name\": \"…\", \"redirect_uris\": [\"https://…/callback\"]} — його https-URL і є client_id, реєстрація не потрібна; користувач на сторінці згоди бачить домен застосунку. Конфіденційного клієнта з секретом видає адміністрація rombik на запит. 2) Відправ користувача на https://rombik.app/oauth/authorize?response_type=code&client_id=…&redirect_uri=…&scope=openid+email+api&state=…&code_challenge=…&code_challenge_method=S256. 3) Обміняй code тут. Метадані: https://rombik.app/.well-known/oauth-authorization-server, OIDC — https://rombik.app/.well-known/openid-configuration. RFC 6749; тіло — application/x-www-form-urlencoded. Секрет конфіденційного клієнта передається у формі (client_secret) або в HTTP Basic. CIMD-клієнт секрета не має і зобов’язаний використати PKCE S256, redirect_uri мусить збігатися з тим, що був в authorize. Отриманий access_token — це звичайний ключ API rombik (rk_…): ним викликають /render і решту ендпоінтів, а рендер іде за тарифом користувача, який дав згоду (потрібен Pro). Термін дії не обмежений; користувач відкликає доступ у своєму акаунті (ключ зникає). Зі scope openid у відповіді додатково приходить id_token (RS256; ключі — GET /oauth/jwks).",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OAuthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Токен доступу (плюс id_token за scope openid)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/OAuthError"
          },
          "401": {
            "$ref": "#/components/responses/OAuthError"
          }
        }
      }
    },
    "/oauth/userinfo": {
      "get": {
        "summary": "Хто цей користувач (OIDC userinfo)",
        "description": "Ідентичність власника токена. Токен — у заголовку Authorization: Bearer.",
        "security": [
          {
            "OAuth2": [
              "openid"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Профіль користувача",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/OAuthError"
          }
        }
      }
    },
    "/oauth/jwks": {
      "get": {
        "summary": "Публічні ключі для перевірки id_token (JWKS)",
        "description": "Набір ключів RFC 7517. Перевіряй підпис id_token за kid із його заголовка.",
        "security": [],
        "responses": {
          "200": {
            "description": "Набір ключів",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWKS"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "Ця специфікація",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI-документ"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "«Увійти через rombik»: користувач дає згоду у своєму акаунті, а застосунок отримує ключ до API від його імені. PKCE S256 обов’язковий для клієнтів без секрета.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://rombik.app/oauth/authorize",
            "tokenUrl": "https://rombik.app/api/v1/oauth/token",
            "scopes": {
              "api": "виклики API від імені користувача (за його тарифом)",
              "openid": "видати id_token з ідентичністю",
              "email": "пошта користувача",
              "profile": "ім’я користувача"
            }
          }
        }
      }
    },
    "responses": {
      "OAuthError": {
        "description": "Помилка OAuth (RFC 6749 §5.2)",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "код помилки: invalid_request, invalid_client, invalid_grant, unsupported_grant_type, invalid_client_metadata, invalid_redirect_uri, server_error",
                  "enum": [
                    "invalid_request",
                    "invalid_client",
                    "invalid_grant",
                    "unsupported_grant_type",
                    "invalid_client_metadata",
                    "invalid_redirect_uri",
                    "invalid_token",
                    "server_error"
                  ]
                },
                "error_description": {
                  "type": "string",
                  "description": "людський опис"
                }
              }
            }
          }
        }
      },
      "Error": {
        "description": "Помилка",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "людський опис"
                },
                "code": {
                  "type": "string",
                  "description": "машиночитаний код (стабільний; гілкуйся по ньому, не по тексту): unauthorized, pro_required, no_credits, fair_use, plan_conflict, unknown_format, unknown_lang, bad_request, bad_source, render_failed, rate_limited, payment_unavailable, server_error, busy, chart_too_large",
                  "enum": [
                    "unauthorized",
                    "pro_required",
                    "no_credits",
                    "fair_use",
                    "plan_conflict",
                    "unknown_format",
                    "unknown_lang",
                    "bad_request",
                    "bad_source",
                    "render_failed",
                    "rate_limited",
                    "payment_unavailable",
                    "server_error",
                    "busy",
                    "chart_too_large"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "TempLink": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Публічне посилання на файл"
          },
          "expiresIn": {
            "type": "integer",
            "description": "Скільки секунд житиме посилання (3600)"
          }
        }
      },
      "OAuthTokenRequest": {
        "type": "object",
        "required": [
          "grant_type",
          "code",
          "redirect_uri",
          "client_id"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "authorization_code"
            ]
          },
          "code": {
            "type": "string",
            "description": "одноразовий код зі сторінки згоди; живе 10 хвилин"
          },
          "redirect_uri": {
            "type": "string",
            "description": "той самий, що в authorize-запиті"
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string",
            "description": "для конфіденційного клієнта, якщо не передано в HTTP Basic"
          },
          "code_verifier": {
            "type": "string",
            "description": "PKCE: рядок, чий S256-хеш дорівнює code_challenge з authorize"
          }
        }
      },
      "OAuthTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "ключ API rombik (rk_…) — ним викликають /render та інші ендпоінти"
          },
          "token_type": {
            "type": "string",
            "enum": [
              "bearer"
            ]
          },
          "scope": {
            "type": "string",
            "description": "видані області, розділені пробілом"
          },
          "id_token": {
            "type": "string",
            "description": "JWT RS256 з ідентичністю (лише зі scope openid): iss, sub, aud, exp, email, email_verified, name, nonce"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string",
            "description": "стабільний ідентифікатор користувача в rombik"
          },
          "email": {
            "type": "string"
          },
          "email_verified": {
            "type": "boolean",
            "description": "завжди true: вхід лише через провайдерів із підтвердженою поштою або через лист-посилання"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "JWKS": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kty": {
                  "type": "string"
                },
                "use": {
                  "type": "string"
                },
                "alg": {
                  "type": "string"
                },
                "kid": {
                  "type": "string"
                },
                "n": {
                  "type": "string"
                },
                "e": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "RenderRequest": {
        "type": "object",
        "required": [
          "lang"
        ],
        "description": "Потрібно або code, або url (взаємовиключно).",
        "properties": {
          "code": {
            "type": "string",
            "description": "Вихідний код програми (або задай url)"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Завантажити код за посиланням замість code. Дозволені хости: raw.githubusercontent.com, gist.githubusercontent.com, gitlab.com, bitbucket.org, codeberg.org (github.com/.../blob/... авто-нормалізується в raw). Мова — за розширенням у URL, якщо lang не заданий."
          },
          "lang": {
            "type": "string",
            "enum": [
              "python",
              "cpp",
              "c",
              "java",
              "csharp",
              "pascal",
              "javascript",
              "typescript",
              "php",
              "go",
              "rombik"
            ],
            "description": "Мова коду. Окреме значення \"rombik\" — рідний формат: замість коду поле code несе astJSON-дерево схеми (див. GET /rombik-format.md). ПОТРЕБУЄ активної Pro-підписки — інакше 402 pro_required."
          },
          "format": {
            "type": "string",
            "enum": [
              "docx",
              "visio",
              "drawio",
              "typst",
              "excalidraw",
              "svg",
              "png",
              "jpeg",
              "webp",
              "gif",
              "gif_anim",
              "html",
              "pdf",
              "json",
              "poster"
            ],
            "default": "svg",
            "description": "jpeg/webp/gif — той самий растр, що png, в іншому контейнері (webp — без втрат); gif_anim — анімований GIF, схема малюється блок за блоком; html — самодостатня сторінка: схема (вбудований SVG) + вихідний код із номерами рядків; з fragment=true — лише <div> зі схемою для вставки в готову сторінку"
          },
          "mode": {
            "type": "string",
            "enum": [
              "flow",
              "nsd"
            ],
            "description": "вид діаграми: flow — блок-схема (типово); nsd — структограма Насі-Шнайдермана"
          },
          "split": {
            "type": "boolean",
            "default": true,
            "description": "розбивати високі схеми на частини конекторами А/Б; дефолт true для docx, pdf (багатосторінковий) і Typst-документа, явне true вмикає й для svg/png/excalidraw (false — суцільна, один аркуш)"
          },
          "fn": {
            "type": "string",
            "description": "Рендерити лише функцію з цим іменем"
          },
          "perFunc": {
            "type": "boolean",
            "description": "Кожна функція окремим файлом формату format, усе разом у ZIP (application/zip, імена 01-<функція>.<розширення>). Рахується як один експорт. З fn ігнорується; для poster недоступно"
          },
          "scale": {
            "type": "integer",
            "description": "PNG/JPEG/WebP/GIF: масштаб (zoom), типово 3"
          },
          "fragment": {
            "type": "boolean",
            "description": "Typst: фрагмент CeTZ без преамбули; html: лише <div> із вбудованим SVG (без сторінки й CSS) — для вставки в готову сторінку"
          },
          "font": {
            "type": "string",
            "description": "Шрифт SVG (з allowlist)"
          },
          "json": {
            "type": "boolean",
            "description": "Відповідь JSON замість файлу"
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          },
          "poster": {
            "$ref": "#/components/schemas/Poster"
          }
        }
      },
      "Poster": {
        "type": "object",
        "description": "Оформлення для format=poster: код ліворуч, схема праворуч, однією картинкою (PNG). Схему бере той самий конвеєр, тож mode=nsd дає постер зі структограми, а options.locale міняє мову підписів САМОЇ схеми. Усі поля необов'язкові.",
        "properties": {
          "preset": {
            "type": "string",
            "enum": [
              "post",
              "story",
              "slide",
              "doc"
            ],
            "default": "post",
            "description": "post 1200×630 (OG/LinkedIn) · story 1080×1350 (вертикальний) · slide 1920×1080 · doc 1600×900 (світлий, під друк)"
          },
          "chrome": {
            "type": "string",
            "enum": [
              "mac",
              "win",
              "linux",
              "retro",
              "none"
            ],
            "default": "mac",
            "description": "Стиль «вікна» навколо коду"
          },
          "bgStyle": {
            "type": "string",
            "enum": [
              "gradient",
              "solid",
              "none"
            ],
            "default": "gradient",
            "description": "none — прозорий фон, коли постер лягає на власне тло (слайд, сторінка методички)"
          },
          "accent": {
            "type": "string",
            "description": "Акцент фону, лише #rgb або #rrggbb. Інші значення ігноруються (поле йде в атрибут SVG)."
          },
          "title": {
            "type": "string",
            "description": "Підпис зверху, до 120 символів"
          },
          "desc": {
            "type": "string",
            "description": "Абзац під панелями, до 600 символів. Переноситься автоматично; якщо не влазить — ріжеться з «…», щоб не зламати розкладку."
          },
          "source": {
            "type": "string",
            "description": "Рядок «джерело» знизу зліва. Порожньо → «Джерело: rombik.app» мовою uiLang."
          },
          "file": {
            "type": "string",
            "description": "Напис на вікні коду. Порожньо → main.<розширення мови>."
          },
          "uiLang": {
            "type": "string",
            "enum": [
              "uk",
              "en"
            ],
            "default": "uk",
            "description": "Мова написів НА КАРТИНЦІ — мова глядача. Не плутати з options.locale, що керує підписами самої схеми."
          },
          "columns": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1,
            "description": "Розкласти високу схему в кілька колонок (частини сполучаються конекторами А/Б). Блок-схема висока й вузька, тож у горизонтальному постері стискається до нечитабельного — колонки це лікують. Опція, а не автоматика: вона міняє вигляд схеми, і це рішення автора."
          }
        }
      },
      "Options": {
        "type": "object",
        "description": "Опції рушія (усі необов'язкові; порожні → ДСТУ-замовчування). Кастомні текстові значення (свої підписи гілок, слова вводу/виводу, термінатори, returnWord, forEachWord, capWord, capFormat, forFormat) потребують активного Pro на акаунті — інакше 402 pro_required. Тумблери, locale, font, scale, figStart — безкоштовні.",
        "properties": {
          "locale": {
            "type": "string",
            "enum": [
              "uk",
              "en"
            ],
            "default": "uk",
            "description": "Мова написів за замовчуванням"
          },
          "forFormat": {
            "type": "string",
            "enum": [
              "comma",
              "range",
              "verbose"
            ],
            "description": "Формат лічильника циклу for. comma: i = 0, 9, 1; range: i = 0..9; verbose: i: 0 → 9"
          },
          "labels": {
            "type": "string",
            "enum": [
              "code",
              "math",
              "words"
            ],
            "description": "Текст блоків. code (дефолт): як у коді; math: без синтаксису мови — d = 0, b² − 4ac, √d, і/або; words: словами — «d дорівнює 0», «a менше 20», «Замінити a на b». Для lang rombik не застосовується: текст вузлів лишається як написано."
          },
          "singleEnd": {
            "type": "boolean",
            "description": "Зводити всі кінці (return/break) до одного термінатора «Кінець». Типово вимкнено й це рекомендований режим: зі спільним «Кінцем» лінія раннього return усередині циклу мусить перетнути дугу повернення циклу (ДСТУ дозволяє обидва варіанти)"
          },
          "mainOnlyTerminators": {
            "type": "boolean",
            "description": "Показувати термінатори «Початок/Кінець» тільки для функції main, для інших — ховати"
          },
          "callAsProcess": {
            "type": "boolean",
            "description": "Малювати виклики функцій як звичайні прямокутники (процес) замість прямокутників із подвійними краями (підпрограма)"
          },
          "stripTypes": {
            "type": "boolean",
            "description": "Видаляти типи даних із коду всередині блоків (напр., int x = 5 → x = 5)"
          },
          "returnAsIO": {
            "type": "boolean",
            "description": "Малювати return як паралелограм (вивід) замість термінатора"
          },
          "forAsWhile": {
            "type": "boolean",
            "description": "Цикл for без шестикутника: блок ініціалізації, ромб з умовою, тіло і блок кроку (як while)"
          },
          "doWhileLoopOnYes": {
            "type": "boolean",
            "description": "Цикл do…while з умовою як у коді: гілка «Так» повертає в цикл, «Ні» — вихід. Типово ромб показує умову виходу («Так» — далі, «Ні» — повторити). Діє для C/C++, Java, C#, JS/TS, PHP; у lang rombik те саме задає поле вузла loopOnYes"
          },
          "yes": {
            "type": "string",
            "description": "Текст над гілкою true (типово «Так»)"
          },
          "no": {
            "type": "string",
            "description": "Текст над гілкою false (типово «Ні»)"
          },
          "inWord": {
            "type": "string",
            "description": "Слово для операцій вводу (напр. cin >> x). Типово «Ввід»"
          },
          "outWord": {
            "type": "string",
            "description": "Слово для операцій виводу. Типово «Вивід»"
          },
          "startText": {
            "type": "string",
            "description": "Текст початкового термінатора для main (типово «Початок»)"
          },
          "endText": {
            "type": "string",
            "description": "Текст кінцевого термінатора для main (типово «Кінець»)"
          },
          "entryText": {
            "type": "string",
            "description": "Текст початкового термінатора для функцій (типово назва функції)"
          },
          "exitText": {
            "type": "string",
            "description": "Текст кінцевого термінатора для функцій (типово «Кінець»)"
          },
          "returnWord": {
            "type": "string",
            "description": "Слово в блоці return (типово «Повернути»)"
          },
          "forEachWord": {
            "type": "string",
            "description": "Знак/слово для ітераторів (типово «∈»)"
          },
          "capWord": {
            "type": "string",
            "description": "Слово підпису фігури (типово «Рисунок»)"
          },
          "capFormat": {
            "type": "string",
            "description": "Формат підпису (типово «Рисунок %d. %s»)"
          },
          "figStart": {
            "type": "integer",
            "description": "Номер першого рисунка (типово 1)"
          }
        }
      },
      "RenderJSONResponse": {
        "type": "object",
        "properties": {
          "format": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "encoding": {
            "type": "string",
            "enum": [
              "utf-8",
              "base64"
            ]
          },
          "content": {
            "type": "string",
            "description": "SVG/Typst/Excalidraw/HTML — рядок; PNG/JPEG/WebP/GIF/PDF — base64"
          },
          "creditsLeft": {
            "type": "integer",
            "description": "Скільки експортів лишилось цього місяця (назва поля — для сумісності)"
          }
        }
      },
      "BatchItem": {
        "type": "object",
        "description": "Одне джерело. Потрібно code або url.",
        "properties": {
          "code": {
            "type": "string",
            "description": "Вихідний код (або url)"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Код за посиланням (ті самі allowlist-хости, що й у /render)"
          },
          "lang": {
            "type": "string",
            "enum": [
              "python",
              "cpp",
              "c",
              "java",
              "csharp",
              "pascal",
              "javascript",
              "typescript",
              "php",
              "go",
              "rombik"
            ],
            "description": "Опційно; для url вгадується за розширенням. \"rombik\" (рідний astJSON) потребує Pro — інакше 402 pro_required."
          },
          "fn": {
            "type": "string",
            "description": "Рендерити лише функцію з цим іменем"
          },
          "name": {
            "type": "string",
            "description": "Імʼя файлу в zip (інакше rombik-N)"
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/BatchItem"
            }
          },
          "format": {
            "type": "string",
            "enum": [
              "svg",
              "png",
              "jpeg",
              "webp",
              "gif",
              "gif_anim",
              "html",
              "pdf",
              "typst",
              "excalidraw"
            ],
            "default": "svg"
          },
          "bundle": {
            "type": "string",
            "enum": [
              "pdf",
              "zip"
            ],
            "description": "Пакування. Типово: pdf для format=pdf, інакше zip. bundle=zip із format=pdf → zip окремих PDF."
          },
          "scale": {
            "type": "integer",
            "description": "PNG: масштаб (zoom)"
          },
          "fragment": {
            "type": "boolean",
            "description": "Typst: фрагмент CeTZ без преамбули; html: лише <div> із вбудованим SVG (без сторінки й CSS) — для вставки в готову сторінку"
          },
          "font": {
            "type": "string",
            "description": "Шрифт SVG (з allowlist)"
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "description": "Відповідь у режимі ?json=1.",
        "properties": {
          "format": {
            "type": "string"
          },
          "bundle": {
            "type": "string",
            "enum": [
              "pdf",
              "zip"
            ]
          },
          "count": {
            "type": "integer",
            "description": "Скільки елементів надіслано"
          },
          "rendered": {
            "type": "integer",
            "description": "Скільки елементів успішно"
          },
          "credits": {
            "type": "integer",
            "description": "Скільки експортів зараховано (= кількості успішних елементів)"
          },
          "creditsLeft": {
            "type": "integer",
            "description": "Скільки експортів лишилось цього місяця (назва поля — для сумісності)"
          },
          "filename": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "ok": {
                  "type": "boolean"
                },
                "error": {
                  "type": "string",
                  "description": "присутнє лише якщо ok=false"
                }
              }
            }
          },
          "encoding": {
            "type": "string",
            "enum": [
              "base64"
            ]
          },
          "content": {
            "type": "string",
            "description": "Bundle (pdf|zip) у base64"
          }
        }
      },
      "Me": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "student",
              "pro"
            ],
            "description": "Чинний тариф"
          },
          "planUntil": {
            "type": [
              "string",
              "null"
            ],
            "description": "RFC3339 — до коли діє тариф (null для безкоштовного)"
          },
          "exportsUsed": {
            "type": "integer",
            "description": "Експортів цього місяця"
          },
          "exportsLimit": {
            "type": "integer",
            "description": "Межа місяця для тарифу"
          },
          "exportsLeft": {
            "type": "integer"
          },
          "credits": {
            "type": "integer",
            "description": "= exportsLeft (сумісність зі старими клієнтами)"
          },
          "pro": {
            "type": "boolean"
          },
          "proUntil": {
            "type": "string",
            "description": "RFC3339 або \"\" якщо без Pro"
          }
        }
      },
      "TopupRequest": {
        "type": "object",
        "required": [
          "kind",
          "id"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "plan"
            ]
          },
          "id": {
            "type": "integer",
            "description": "id особистого тарифу (Студент або Pro) з /products"
          },
          "provider": {
            "type": "string",
            "enum": [
              "plata",
              "jar",
              "paddle"
            ],
            "description": "необов'язково: paddle → оплата в USD через Paddle (міжнародна); порожньо → серверний дефолт (plata/jar, ₴)"
          }
        }
      },
      "TopupResponse": {
        "type": "object",
        "description": "ЄДИНА форма для всіх провайдерів — ключі однакові, різняться лише значення (гілкуйся по provider, а не по наявності полів). plata by mono (активний): payUrl — платіжна сторінка, iframe=true у вебі. jar (запасний): payUrl — банка, iframe=false, invoiceId порожній, code — коментар для ручного переказу.",
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "plata",
              "jar"
            ],
            "description": "Провайдер оплати: plata by mono (картка / Apple·Google Pay) або jar (monobank-банка)"
          },
          "payUrl": {
            "type": "string",
            "description": "Посилання на оплату — відкрий у браузері (plata: сторінка; jar: банка з готовими сумою+кодом)"
          },
          "iframe": {
            "type": "boolean",
            "description": "Чи можна вбудувати payUrl в iframe (plata у вебі → true; CLI/API та jar → false — відкривай лінком)"
          },
          "invoiceId": {
            "type": "string",
            "description": "id інвойса для звірки статусу/повернення (plata; для jar — порожній рядок)"
          },
          "code": {
            "type": "string",
            "description": "Код платежу для звірки статусу через /pay/verify (для jar — ще й коментар до ручного переказу)"
          },
          "label": {
            "type": "string",
            "description": "Людська назва покупки (напр. «Студент · місяць (30 дн.)»)"
          },
          "plan": {
            "type": "string",
            "enum": [
              "student",
              "pro"
            ]
          },
          "days": {
            "type": "integer",
            "description": "Скільки днів тарифу дасть оплата"
          },
          "amountKop": {
            "type": "integer",
            "description": "Сума в копійках"
          },
          "amountUah": {
            "type": "number",
            "description": "Сума в гривнях"
          }
        }
      },
      "Products": {
        "type": "object",
        "properties": {
          "plans": {
            "type": "array",
            "description": "Тарифи (id — для topup kind=plan; chat=true — тарифи Telegram-чату, купуються в боті)",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "code": {
                  "type": "string",
                  "enum": [
                    "student",
                    "pro",
                    "group",
                    "stream"
                  ]
                },
                "days": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "nameEn": {
                  "type": "string"
                },
                "chat": {
                  "type": "boolean"
                },
                "uah": {
                  "type": "number"
                },
                "usd": {
                  "type": "number",
                  "description": "Ціна в USD (0 = не задано)"
                },
                "paddle": {
                  "type": "boolean",
                  "description": "Чи можна оплатити в USD через Paddle"
                }
              }
            }
          },
          "freeExportsMonthly": {
            "type": "integer"
          },
          "fairUseMonthly": {
            "type": "integer"
          },
          "proFairUseMonthly": {
            "type": "integer"
          },
          "available": {
            "type": "boolean"
          },
          "provider": {
            "type": "string"
          },
          "paddle": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "x-rate-limit": "/render — без ліміту запитів (обмежений місячним лімітом тарифу). /me, /topup, /products — 60 запитів/хв на ключ; при перевищенні — 429 із заголовком Retry-After."
}