{
  "openapi": "3.1.0",
  "info": {
    "title": "Racing Alpha Signals API",
    "version": "1.0.0",
    "description": "Derived horse-racing signals for GB & IRE. All values are Racing Alpha computations (derived signals) — not a raw racecards/odds feed. Free tier requires attribution ('Signals by Racing Alpha' linked to racingalpha.co.uk). Not for betting operators. Full public track record, including losses, at /performance.",
    "contact": {
      "url": "https://racingalpha.co.uk/developers"
    },
    "license": {
      "name": "Racing Alpha API terms (free with attribution)",
      "url": "https://racingalpha.co.uk/developers#terms"
    },
    "x-jentic-source-url": "https://racingalpha.co.uk/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://racingalpha.co.uk"
    }
  ],
  "paths": {
    "/api/v1/meta": {
      "get": {
        "operationId": "getMeta",
        "summary": "Service metadata, limits, terms",
        "responses": {
          "200": {
            "description": "OK"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/v1/today": {
      "get": {
        "operationId": "getTodayRaces",
        "summary": "Today's GB & IRE races with Racing Alpha model picks (frozen advised prices)",
        "responses": {
          "200": {
            "description": "OK"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/v1/races/{raceId}": {
      "get": {
        "operationId": "getRaceSignals",
        "summary": "Per-runner AI scores, fair prices, value vs fair, draw bias for one race",
        "parameters": [
          {
            "name": "raceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "rac_32294027584"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Unknown or abandoned race"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/v1/ledger": {
      "get": {
        "operationId": "getTipsLedger",
        "summary": "Racing Alpha's public database-frozen tips ledger + CLV summary",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/v1/draw-bias": {
      "get": {
        "operationId": "getDrawBias",
        "summary": "3-year draw-bias aggregates (IV / A-E / PRB) by course, surface, distance band",
        "parameters": [
          {
            "name": "course",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "lingfield"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/v1/combos": {
      "get": {
        "operationId": "getComboStats",
        "summary": "Trainer×jockey combo strike rates (settled races in our archive)",
        "parameters": [
          {
            "name": "min_runs",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/v1/keys": {
      "post": {
        "operationId": "createApiKey",
        "summary": "Create a free API key (1,000 req/day). Re-requesting rotates the key.",
        "security": [
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key created (shown once + emailed)"
          },
          "400": {
            "description": "Invalid body"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "ra_live_… key. Optional: keyless callers get 50 req/day/IP."
      }
    }
  },
  "security": [
    {
      "bearer": []
    },
    {}
  ],
  "x-attribution": "Signals by Racing Alpha — https://racingalpha.co.uk (required on the free tier)"
}