{
  "openapi": "3.1.0",
  "info": {
    "title": "Spoonjoy API",
    "version": "v1",
    "description": "Spoonjoy's public-by-default Chef graph plus authenticated token and shopping-list APIs.",
    "x-jentic-source-url": "https://spoonjoy.app/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://spoonjoy.app"
    }
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "operationId": "getApiV1Root",
        "tags": [
          "Discovery"
        ],
        "summary": "Discover the Spoonjoy API",
        "x-auth": "optional",
        "x-scopes": [],
        "x-accepted-oauth-scopes": [],
        "x-credential-modes": [
          "anonymous",
          "session",
          "bearer"
        ],
        "x-retry-policy": {
          "retryOn": [
            "network_timeout",
            "429",
            "5xx"
          ],
          "retryAfterHeader": "Retry-After",
          "preserveClientMutationId": false,
          "doNotRetryUnchanged": [
            "validation_error",
            "invalid_cursor",
            "insufficient_scope"
          ]
        },
        "security": [
          {}
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional client-generated request id. Spoonjoy echoes it in X-Request-Id and the REST envelope for logs, retries, and support.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryEnvelope"
                },
                "examples": {
                  "example": {
                    "value": {
                      "ok": true,
                      "requestId": "req_example",
                      "data": {
                        "app": "spoonjoy",
                        "version": "v1",
                        "status": "ok",
                        "docsUrl": "https://spoonjoy.app/api",
                        "openapiUrl": "/api/v1/openapi.json",
                        "sdkOpenapiUrl": "/api/v1/openapi.sdk.json",
                        "connectorOpenapiUrl": "/api/v1/openapi.connector.json",
                        "resources": [
                          {
                            "name": "root",
                            "path": "/api/v1",
                            "methods": [
                              "GET"
                            ],
                            "auth": "optional",
                            "scopes": []
                          },
                          {
                            "name": "health",
                            "path": "/api/v1/health",
                            "methods": [
                              "GET"
                            ],
                            "auth": "optional",
                            "scopes": []
                          },
                          {
                            "name": "openapi",
                            "path": "/api/v1/openapi.json",
                            "methods": [
                              "GET"
                            ],
                            "auth": "optional",
                            "scopes": []
                          },
                          {
                            "name": "openapi-sdk",
                            "path": "/api/v1/openapi.sdk.json",
                            "methods": [
                              "GET"
                            ],
                            "auth": "optional",
                            "scopes": []
                          },
                          {
                            "name": "openapi-connector",
                            "path": "/api/v1/openapi.connector.json",
                            "methods": [
                              "GET"
                            ],
                            "auth": "optional",
                            "scopes": []
                          },
                          {
                            "name": "auth-apple-native",
                            "path": "/api/v1/auth/apple/native",
                            "methods": [
                              "POST"
                            ],
                            "auth": "optional",
                            "scopes": []
                          },
                          {
                            "name": "auth-password-native",
                            "path": "/api/v1/auth/password/native",
                            "methods": [
                              "POST"
                            ],
                            "auth": "optional",
                            "scopes": []
                          },
                          {
                            "name": "native-telemetry",
                            "path": "/api/v1/native/telemetry",
                            "methods": [
                              "POST"
                            ],
                            "auth": "optional",
                            "scopes": []
                          },
                          {
                            "name": "search",
                            "path": "/api/v1/search",
                            "methods": [
                              "GET"
                            ],
                            "auth": "optional",
                            "scopes": []
                          },
                          {
                            "name": "recipes",
                            "path": "/api/v1/recipes",
                            "methods": [
                              "GET"
                            ],
                            "auth": "optional",
                            "scopes": [
                              "recipes:read"
                            ]
                          },
                          {
                            "name": "recipe-create",
                            "path": "/api/v1/recipes",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe",
                            "path": "/api/v1/recipes/{id}",
                            "methods": [
                              "GET"
                            ],
                            "auth": "optional",
                            "scopes": [
                              "recipes:read"
                            ]
                          },
                          {
                            "name": "recipe-write",
                            "path": "/api/v1/recipes/{id}",
                            "methods": [
                              "PATCH",
                              "DELETE"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-fork",
                            "path": "/api/v1/recipes/{id}/fork",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-import",
                            "path": "/api/v1/recipes/import",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-steps",
                            "path": "/api/v1/recipes/{id}/steps",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-step",
                            "path": "/api/v1/recipes/{id}/steps/{stepId}",
                            "methods": [
                              "PATCH",
                              "DELETE"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-step-reorder",
                            "path": "/api/v1/recipes/{id}/steps/reorder",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-step-ingredients",
                            "path": "/api/v1/recipes/{id}/steps/{stepId}/ingredients",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-step-ingredient",
                            "path": "/api/v1/recipes/{id}/steps/{stepId}/ingredients/{ingredientId}",
                            "methods": [
                              "DELETE"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-step-output-uses",
                            "path": "/api/v1/recipes/{id}/step-output-uses",
                            "methods": [
                              "PUT"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-spoons",
                            "path": "/api/v1/recipes/{id}/spoons",
                            "methods": [
                              "GET"
                            ],
                            "auth": "optional",
                            "scopes": [
                              "recipes:read"
                            ]
                          },
                          {
                            "name": "recipe-spoons-create",
                            "path": "/api/v1/recipes/{id}/spoons",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-spoon",
                            "path": "/api/v1/recipes/{id}/spoons/{spoonId}",
                            "methods": [
                              "PATCH",
                              "DELETE"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-image",
                            "path": "/api/v1/recipes/{id}/image",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-covers",
                            "path": "/api/v1/recipes/{id}/covers",
                            "methods": [
                              "GET",
                              "POST",
                              "PATCH"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-cover",
                            "path": "/api/v1/recipes/{id}/covers/{coverId}",
                            "methods": [
                              "PATCH",
                              "DELETE"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-cover-generate",
                            "path": "/api/v1/recipes/{id}/covers/generate",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-cover-regenerate",
                            "path": "/api/v1/recipes/{id}/covers/regenerate",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "recipe-cover-from-spoon",
                            "path": "/api/v1/recipes/{id}/covers/from-spoon/{spoonId}",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "cookbooks",
                            "path": "/api/v1/cookbooks",
                            "methods": [
                              "GET"
                            ],
                            "auth": "optional",
                            "scopes": [
                              "cookbooks:read"
                            ]
                          },
                          {
                            "name": "cookbooks-create",
                            "path": "/api/v1/cookbooks",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "cookbook",
                            "path": "/api/v1/cookbooks/{id}",
                            "methods": [
                              "GET"
                            ],
                            "auth": "optional",
                            "scopes": [
                              "cookbooks:read"
                            ]
                          },
                          {
                            "name": "cookbook-mutate",
                            "path": "/api/v1/cookbooks/{id}",
                            "methods": [
                              "PATCH",
                              "DELETE"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "cookbook-recipes",
                            "path": "/api/v1/cookbooks/{id}/recipes/{recipeId}",
                            "methods": [
                              "POST",
                              "DELETE"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:write"
                            ]
                          },
                          {
                            "name": "me",
                            "path": "/api/v1/me",
                            "methods": [
                              "GET",
                              "PATCH"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "account:read",
                              "account:write"
                            ]
                          },
                          {
                            "name": "me-sync",
                            "path": "/api/v1/me/sync",
                            "methods": [
                              "GET"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "account:read",
                              "kitchen:read"
                            ]
                          },
                          {
                            "name": "me-chefs",
                            "path": "/api/v1/me/chefs",
                            "methods": [
                              "GET"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "kitchen:read"
                            ]
                          },
                          {
                            "name": "me-photo",
                            "path": "/api/v1/me/photo",
                            "methods": [
                              "POST",
                              "DELETE"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "account:write"
                            ]
                          },
                          {
                            "name": "me-notification-preferences",
                            "path": "/api/v1/me/notification-preferences",
                            "methods": [
                              "GET",
                              "PATCH"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "account:read",
                              "account:write"
                            ]
                          },
                          {
                            "name": "me-apns-devices",
                            "path": "/api/v1/me/apns-devices",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "account:write"
                            ]
                          },
                          {
                            "name": "me-apns-device",
                            "path": "/api/v1/me/apns-devices/{deviceId}",
                            "methods": [
                              "DELETE"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "account:write"
                            ]
                          },
                          {
                            "name": "me-connections",
                            "path": "/api/v1/me/connections",
                            "methods": [
                              "GET"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "tokens:read"
                            ]
                          },
                          {
                            "name": "me-connection",
                            "path": "/api/v1/me/connections/{connectionId}",
                            "methods": [
                              "DELETE"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "tokens:write"
                            ]
                          },
                          {
                            "name": "shopping-list",
                            "path": "/api/v1/shopping-list",
                            "methods": [
                              "GET"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "shopping_list:read"
                            ]
                          },
                          {
                            "name": "shopping-list-sync",
                            "path": "/api/v1/shopping-list/sync",
                            "methods": [
                              "GET"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "shopping_list:read"
                            ]
                          },
                          {
                            "name": "shopping-list-items",
                            "path": "/api/v1/shopping-list/items",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "shopping_list:write"
                            ]
                          },
                          {
                            "name": "shopping-list-item",
                            "path": "/api/v1/shopping-list/items/{itemId}",
                            "methods": [
                              "PATCH",
                              "DELETE"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "shopping_list:write"
                            ]
                          },
                          {
                            "name": "shopping-list-add-from-recipe",
                            "path": "/api/v1/shopping-list/add-from-recipe",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "shopping_list:write"
                            ]
                          },
                          {
                            "name": "shopping-list-clear-completed",
                            "path": "/api/v1/shopping-list/clear-completed",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "shopping_list:write"
                            ]
                          },
                          {
                            "name": "shopping-list-clear-all",
                            "path": "/api/v1/shopping-list/clear-all",
                            "methods": [
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "shopping_list:write"
                            ]
                          },
                          {
                            "name": "tokens",
                            "path": "/api/v1/tokens",
                            "methods": [
                              "GET",
                              "POST"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "tokens:read",
                              "tokens:write"
                            ]
                          },
                          {
                            "name": "token",
                            "path": "/api/v1/tokens/{credentialId}",
                            "methods": [
                              "DELETE"
                            ],
                            "auth": "bearer",
                            "scopes": [
                              "tokens:write"
                            ]
                          }
                        ],
                        "photoVariants": {
                          "queryParameter": "w",
                          "widths": [
                            256,
                            512,
                            1024,
                            1536
                          ],
                          "contentType": "image/webp",
                          "note": "Append ?w=<display width in pixels> to a Spoonjoy-hosted /photos/ URL to get the smallest stored WebP at least that wide (capped at the largest). Until a new photo's variants exist, the original is served with a short cache lifetime. Responses carry an ETag and answer If-None-Match with 304."
                        },
                        "auth": {
                          "modes": [
                            "anonymous",
                            "session",
                            "bearer",
                            "oauth_pkce",
                            "delegated_agent",
                            "mcp"
                          ],
                          "tokenUrl": "/api/v1/tokens",
                          "revokeUrl": "/api/v1/tokens/{credentialId}",
                          "public": {
                            "anonymous": true,
                            "note": "Public recipe and cookbook reads can be called without credentials."
                          },
                          "session": {
                            "tokenUrl": "/api/v1/tokens",
                            "note": "Same-origin Spoonjoy browser sessions can create personal bearer credentials."
                          },
                          "native": {
                            "appleSignInUrl": "/api/v1/auth/apple/native",
                            "passwordSignInUrl": "/api/v1/auth/password/native",
                            "note": "First-party Spoonjoy Apple apps can exchange native Apple credentials or Spoonjoy username/password credentials for the app's rotating token session. Third-party clients must use OAuth/PKCE or delegated approval instead."
                          },
                          "bearer": {
                            "header": "Authorization: Bearer sj_...",
                            "tokenUrl": "/api/v1/tokens",
                            "revokeUrl": "/api/v1/tokens/{credentialId}"
                          },
                          "oauth": {
                            "register": "/oauth/register",
                            "authorize": "/oauth/authorize",
                            "token": "/oauth/token",
                            "revoke": "/oauth/revoke"
                          },
                          "mcp": {
                            "endpoint": "/mcp",
                            "startAgentConnection": "/api/tools/start_agent_connection",
                            "pollAgentConnection": "/api/tools/poll_agent_connection"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors: validation_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "validation_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "validation_error",
                        "message": "Request validation failed",
                        "status": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Errors: invalid_token",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_token": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid API token",
                        "status": 401
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Errors: method_not_allowed",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "method_not_allowed": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "method_not_allowed",
                        "message": "Method not allowed",
                        "status": 405
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Errors: rate_limited",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying the rate-limited or still-running idempotent request.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests",
                        "status": 429
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Errors: internal_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "internal_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "internal_error",
                        "message": "Internal error",
                        "status": 500
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "operationId": "getApiV1Health",
        "tags": [
          "Discovery"
        ],
        "summary": "Check API health",
        "x-auth": "optional",
        "x-scopes": [],
        "x-accepted-oauth-scopes": [],
        "x-credential-modes": [
          "anonymous",
          "session",
          "bearer"
        ],
        "x-retry-policy": {
          "retryOn": [
            "network_timeout",
            "429",
            "5xx"
          ],
          "retryAfterHeader": "Retry-After",
          "preserveClientMutationId": false,
          "doNotRetryUnchanged": [
            "validation_error",
            "invalid_cursor",
            "insufficient_scope"
          ]
        },
        "security": [
          {}
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional client-generated request id. Spoonjoy echoes it in X-Request-Id and the REST envelope for logs, retries, and support.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthEnvelope"
                },
                "examples": {
                  "example": {
                    "value": {
                      "ok": true,
                      "requestId": "req_example",
                      "data": {
                        "ok": true,
                        "version": "v1",
                        "sourceSha": "1a2b3c4d5e6f708192a3b4c5d6e7f8091a2b3c4d",
                        "deployment": {
                          "id": "c0ffee00-1234-4a5b-8c9d-000000000000",
                          "tag": "",
                          "timestamp": "2026-01-01T00:00:00.000Z"
                        },
                        "authenticated": true,
                        "principal": {
                          "id": "chef_1",
                          "username": "ari",
                          "source": "bearer"
                        },
                        "scopes": [
                          "recipes:read"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors: validation_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "validation_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "validation_error",
                        "message": "Request validation failed",
                        "status": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Errors: invalid_token",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_token": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid API token",
                        "status": 401
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Errors: method_not_allowed",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "method_not_allowed": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "method_not_allowed",
                        "message": "Method not allowed",
                        "status": 405
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Errors: rate_limited",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying the rate-limited or still-running idempotent request.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests",
                        "status": 429
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Errors: internal_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "internal_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "internal_error",
                        "message": "Internal error",
                        "status": 500
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/openapi.json": {
      "get": {
        "operationId": "getApiV1OpenApi",
        "tags": [
          "Discovery"
        ],
        "summary": "Fetch the OpenAPI document",
        "x-auth": "optional",
        "x-scopes": [],
        "x-accepted-oauth-scopes": [],
        "x-credential-modes": [
          "anonymous",
          "session",
          "bearer"
        ],
        "x-retry-policy": {
          "retryOn": [
            "network_timeout",
            "429",
            "5xx"
          ],
          "retryAfterHeader": "Retry-After",
          "preserveClientMutationId": false,
          "doNotRetryUnchanged": [
            "validation_error",
            "invalid_cursor",
            "insufficient_scope"
          ]
        },
        "security": [
          {}
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional client-generated request id. Spoonjoy echoes it in X-Request-Id and the REST envelope for logs, retries, and support.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                },
                "examples": {
                  "example": {
                    "value": {
                      "openapi": "3.1.0",
                      "info": {
                        "title": "Spoonjoy API",
                        "version": "v1",
                        "description": "Spoonjoy's public-by-default Chef graph plus authenticated token and shopping-list APIs."
                      },
                      "servers": [
                        {
                          "url": "https://spoonjoy.app"
                        }
                      ],
                      "paths": {
                        "/api/v1/openapi.json": {
                          "get": {
                            "operationId": "getApiV1OpenApi"
                          }
                        }
                      },
                      "components": {
                        "schemas": {
                          "OpenApiDocument": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors: validation_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "validation_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "validation_error",
                        "message": "Request validation failed",
                        "status": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Errors: invalid_token",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_token": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid API token",
                        "status": 401
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Errors: method_not_allowed",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "method_not_allowed": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "method_not_allowed",
                        "message": "Method not allowed",
                        "status": 405
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Errors: rate_limited",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying the rate-limited or still-running idempotent request.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests",
                        "status": 429
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Errors: internal_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "internal_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "internal_error",
                        "message": "Internal error",
                        "status": 500
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/openapi.sdk.json": {
      "get": {
        "operationId": "getApiV1SdkOpenApi",
        "tags": [
          "Discovery"
        ],
        "summary": "Fetch the SDK OpenAPI profile",
        "x-auth": "optional",
        "x-scopes": [],
        "x-accepted-oauth-scopes": [],
        "x-credential-modes": [
          "anonymous",
          "session",
          "bearer"
        ],
        "x-retry-policy": {
          "retryOn": [
            "network_timeout",
            "429",
            "5xx"
          ],
          "retryAfterHeader": "Retry-After",
          "preserveClientMutationId": false,
          "doNotRetryUnchanged": [
            "validation_error",
            "invalid_cursor",
            "insufficient_scope"
          ]
        },
        "security": [
          {}
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional client-generated request id. Spoonjoy echoes it in X-Request-Id and the REST envelope for logs, retries, and support.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SdkOpenApiDocument"
                },
                "examples": {
                  "example": {
                    "value": {
                      "openapi": "3.1.0",
                      "info": {
                        "title": "Spoonjoy API v1 SDK Profile",
                        "version": "v1",
                        "description": "REST-only Spoonjoy API profile for generated SDKs. Browser OAuth redirects, MCP JSON-RPC, connector helpers, cookie auth, and raw spec endpoints are intentionally omitted."
                      },
                      "servers": [
                        {
                          "url": "https://spoonjoy.app"
                        }
                      ],
                      "paths": {
                        "/api/v1/recipes": {
                          "get": {
                            "operationId": "getApiV1Recipes"
                          }
                        }
                      },
                      "components": {
                        "schemas": {
                          "RecipeListEnvelope": {
                            "type": "object"
                          }
                        }
                      },
                      "x-sdk-profile": {
                        "source": "/api/v1/openapi.json"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors: validation_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "validation_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "validation_error",
                        "message": "Request validation failed",
                        "status": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Errors: invalid_token",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_token": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid API token",
                        "status": 401
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Errors: method_not_allowed",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "method_not_allowed": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "method_not_allowed",
                        "message": "Method not allowed",
                        "status": 405
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Errors: rate_limited",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying the rate-limited or still-running idempotent request.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests",
                        "status": 429
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Errors: internal_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "internal_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "internal_error",
                        "message": "Internal error",
                        "status": 500
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/openapi.connector.json": {
      "get": {
        "operationId": "getApiV1ConnectorOpenApi",
        "tags": [
          "Discovery"
        ],
        "summary": "Fetch the no-code connector OpenAPI profile",
        "x-auth": "optional",
        "x-scopes": [],
        "x-accepted-oauth-scopes": [],
        "x-credential-modes": [
          "anonymous",
          "session",
          "bearer"
        ],
        "x-retry-policy": {
          "retryOn": [
            "network_timeout",
            "429",
            "5xx"
          ],
          "retryAfterHeader": "Retry-After",
          "preserveClientMutationId": false,
          "doNotRetryUnchanged": [
            "validation_error",
            "invalid_cursor",
            "insufficient_scope"
          ]
        },
        "security": [
          {}
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional client-generated request id. Spoonjoy echoes it in X-Request-Id and the REST envelope for logs, retries, and support.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectorOpenApiDocument"
                },
                "examples": {
                  "example": {
                    "value": {
                      "openapi": "3.0.3",
                      "info": {
                        "title": "Spoonjoy API v1 Connector Profile",
                        "version": "v1",
                        "description": "REST-only Spoonjoy API profile for no-code connector imports."
                      },
                      "servers": [
                        {
                          "url": "https://spoonjoy.app"
                        }
                      ],
                      "paths": {
                        "/api/v1/shopping-list/sync": {
                          "get": {
                            "operationId": "getApiV1ShoppingListSync"
                          }
                        }
                      },
                      "components": {
                        "schemas": {
                          "ShoppingListSyncEnvelope": {
                            "type": "object"
                          }
                        }
                      },
                      "x-connector-profile": {
                        "source": "/api/v1/openapi.json"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors: validation_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "validation_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "validation_error",
                        "message": "Request validation failed",
                        "status": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Errors: invalid_token",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_token": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid API token",
                        "status": 401
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Errors: method_not_allowed",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "method_not_allowed": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "method_not_allowed",
                        "message": "Method not allowed",
                        "status": 405
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Errors: rate_limited",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying the rate-limited or still-running idempotent request.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests",
                        "status": 429
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Errors: internal_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "internal_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "internal_error",
                        "message": "Internal error",
                        "status": 500
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/apple/native": {
      "post": {
        "operationId": "postApiV1AuthAppleNative",
        "tags": [
          "Auth"
        ],
        "summary": "Exchange a native Sign in with Apple credential for Spoonjoy app tokens",
        "x-auth": "optional",
        "x-scopes": [],
        "x-accepted-oauth-scopes": [],
        "x-credential-modes": [
          "anonymous",
          "session",
          "bearer"
        ],
        "x-retry-policy": {
          "retryOn": [
            "network_timeout",
            "429",
            "5xx"
          ],
          "retryAfterHeader": "Retry-After",
          "preserveClientMutationId": false,
          "doNotRetryUnchanged": [
            "validation_error",
            "invalid_cursor",
            "insufficient_scope"
          ]
        },
        "security": [
          {}
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional client-generated request id. Spoonjoy echoes it in X-Request-Id and the REST envelope for logs, retries, and support.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NativeAppleSignInRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "identityToken": "eyJraWQiOiJhcHBsZS1rZXkifQ.eyJpc3MiOiJodHRwczovL2FwcGxlaWQuYXBwbGUuY29tIn0.signature",
                    "rawNonce": "native-nonce-uuid",
                    "email": "ari@spoonjoy.app",
                    "fullName": "Ari"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeAppleSignInEnvelope"
                },
                "examples": {
                  "example": {
                    "value": {
                      "ok": true,
                      "requestId": "req_example",
                      "data": {
                        "action": "user_logged_in",
                        "userId": "chef_1",
                        "client_id": "spoonjoy-apple-native",
                        "access_token": "sj_secret",
                        "refresh_token": "ort_secret",
                        "token_type": "Bearer",
                        "expires_in": 900,
                        "scope": "kitchen:read kitchen:write shopping_list:read shopping_list:write account:read account:write"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors: invalid_json, validation_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_json": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "invalid_json",
                        "message": "Invalid JSON body",
                        "status": 400
                      }
                    }
                  },
                  "validation_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "validation_error",
                        "message": "Request validation failed",
                        "status": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Errors: invalid_token",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_token": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid API token",
                        "status": 401
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Errors: method_not_allowed",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "method_not_allowed": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "method_not_allowed",
                        "message": "Method not allowed",
                        "status": 405
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Errors: rate_limited",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying the rate-limited or still-running idempotent request.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests",
                        "status": 429
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Errors: internal_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "internal_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "internal_error",
                        "message": "Internal error",
                        "status": 500
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/password/native": {
      "post": {
        "operationId": "postApiV1AuthPasswordNative",
        "tags": [
          "Auth"
        ],
        "summary": "Exchange first-party native Spoonjoy username/password credentials for app tokens",
        "x-auth": "optional",
        "x-scopes": [],
        "x-accepted-oauth-scopes": [],
        "x-credential-modes": [
          "anonymous",
          "session",
          "bearer"
        ],
        "x-retry-policy": {
          "retryOn": [
            "network_timeout",
            "429",
            "5xx"
          ],
          "retryAfterHeader": "Retry-After",
          "preserveClientMutationId": false,
          "doNotRetryUnchanged": [
            "validation_error",
            "invalid_cursor",
            "insufficient_scope"
          ]
        },
        "security": [
          {}
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional client-generated request id. Spoonjoy echoes it in X-Request-Id and the REST envelope for logs, retries, and support.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NativePasswordSignInRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "emailOrUsername": "ari@spoonjoy.app",
                    "password": "correct horse battery staple"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativePasswordSignInEnvelope"
                },
                "examples": {
                  "example": {
                    "value": {
                      "ok": true,
                      "requestId": "req_example",
                      "data": {
                        "action": "user_logged_in",
                        "userId": "chef_1",
                        "client_id": "spoonjoy-apple-native",
                        "access_token": "sj_secret",
                        "refresh_token": "ort_secret",
                        "token_type": "Bearer",
                        "expires_in": 900,
                        "scope": "kitchen:read kitchen:write shopping_list:read shopping_list:write account:read account:write"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors: invalid_json, validation_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_json": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "invalid_json",
                        "message": "Invalid JSON body",
                        "status": 400
                      }
                    }
                  },
                  "validation_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "validation_error",
                        "message": "Request validation failed",
                        "status": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Errors: invalid_token",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_token": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "invalid_token",
                        "message": "Invalid API token",
                        "status": 401
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Errors: method_not_allowed",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "method_not_allowed": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "method_not_allowed",
                        "message": "Method not allowed",
                        "status": 405
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Errors: rate_limited",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying the rate-limited or still-running idempotent request.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "rate_limited",
                        "message": "Too many requests",
                        "status": 429
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Errors: internal_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "internal_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "internal_error",
                        "message": "Internal error",
                        "status": 500
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/native/telemetry": {
      "post": {
        "operationId": "postApiV1NativeTelemetry",
        "tags": [
          "Native"
        ],
        "summary": "Capture redacted first-party native app diagnostics",
        "x-auth": "optional",
        "x-scopes": [],
        "x-accepted-oauth-scopes": [],
        "x-credential-modes": [
          "anonymous",
          "session",
          "bearer"
        ],
        "x-retry-policy": {
          "retryOn": [
            "network_timeout",
            "429",
            "5xx"
          ],
          "retryAfterHeader": "Retry-After",
          "preserveClientMutationId": false,
          "doNotRetryUnchanged": [
            "validation_error",
            "invalid_cursor",
            "insufficient_scope"
          ]
        },
        "security": [
          {}
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional client-generated request id. Spoonjoy echoes it in X-Request-Id and the REST envelope for logs, retries, and support.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NativeTelemetryRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "event": "search_completed",
                    "stage": "search",
                    "environment": "production",
                    "platform": "ios",
                    "appVersion": "1.0",
                    "buildNumber": "42",
                    "route": "search",
                    "accountBound": true,
                    "searchScope": "all",
                    "searchQueryLength": 12,
                    "searchResultCount": 4,
                    "durationMilliseconds": 184
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NativeTelemetryEnvelope"
                },
                "examples": {
                  "example": {
                    "value": {
                      "ok": true,
                      "requestId": "req_example",
                      "data": {
                        "accepted": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Errors: invalid_json, validation_error",
            "headers": {
              "X-Request-Id": {
                "description": "Request identifier generated by Spoonjoy or echoed from the request.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Error envelopes are not cacheable.",
                "schema": {
                  "type": "string",
                  "example": "private, no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "examples": {
                  "invalid_json": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "invalid_json",
                        "message": "Invalid JSON body",
                        "status": 400
                      }
                    }
                  },
                  "validation_error": {
                    "value": {
                      "ok": false,
                      "requestId": "req_example",
                      "error": {
                        "code": "validation_error",
                        "message": "Request validation failed",
                        "status": 400
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
[...]
