{
  "openapi": "3.1.0",
  "info": {
    "title": "FileType Converters API",
    "version": "1.0.0",
    "description": "HTTP API for checking file conversion pairs, converting files, polling jobs, creating batches, downloading outputs, and reading usage.",
    "x-jentic-source-url": "https://filetypeconverters.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://filetypeconverters.com"
    }
  ],
  "paths": {
    "/api/v1/convert": {
      "post": {
        "summary": "Convert a file",
        "description": "Accepts multipart file uploads or JSON URL inputs. Use async=1 to queue a job. URL requests may omit from when the fetched filename or content type can be detected.",
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "description": "Return 202 and queue the job."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "from",
                  "to"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "from": {
                    "type": "string",
                    "example": "csv"
                  },
                  "to": {
                    "type": "string",
                    "example": "json"
                  },
                  "vision": {
                    "type": "boolean",
                    "default": false
                  },
                  "options": {
                    "type": "string",
                    "description": "JSON object string."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "to"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "from": {
                    "type": "string",
                    "description": "Optional when the URL can be detected."
                  },
                  "to": {
                    "type": "string"
                  },
                  "vision": {
                    "type": "boolean",
                    "default": false
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Converted file stream",
            "headers": {
              "Content-Disposition": {
                "description": "Attachment filename for the converted output.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Conversion-Id": {
                "description": "Conversion id recorded for the request.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-Conversion-Ms": {
                "description": "Server conversion duration in milliseconds.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Warnings": {
                "description": "Percent-encoded JSON array of warning strings.",
                "schema": {
                  "type": "string",
                  "example": "%5B%5D"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "202": {
            "description": "Queued conversion job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedJob"
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pairs": {
      "get": {
        "summary": "Check conversion pairs",
        "security": [],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Format id, extension, or common name."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Format id, extension, or common name."
          }
        ],
        "responses": {
          "200": {
            "description": "Pair list, supported pair, or unsupported pair with alternatives.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PairsList"
                    },
                    {
                      "$ref": "#/components/schemas/PairSupported"
                    },
                    {
                      "$ref": "#/components/schemas/PairUnsupported"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/formats": {
      "get": {
        "summary": "List formats and enabled pairs",
        "security": [],
        "responses": {
          "200": {
            "description": "Format catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/jobs/{id}": {
      "get": {
        "summary": "Get job status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/jobs/{id}/download": {
      "get": {
        "summary": "Download job output",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Converted output",
            "headers": {
              "Content-Disposition": {
                "description": "Attachment filename for the converted output.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "302": {
            "description": "Redirect to short-lived object storage URL."
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/batches": {
      "post": {
        "summary": "Create a batch",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "from",
                  "to"
                ],
                "properties": {
                  "file": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "from": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Queued batch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedBatch"
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/batches/{id}": {
      "get": {
        "summary": "Get batch status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/batches/{id}/download": {
      "get": {
        "summary": "Download batch ZIP",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch archive",
            "headers": {
              "Content-Disposition": {
                "description": "Attachment filename for the converted output.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "302": {
            "description": "Redirect to short-lived object storage URL."
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/usage": {
      "get": {
        "summary": "Get usage and entitlements",
        "responses": {
          "200": {
            "description": "Usage and entitlement data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          },
          "401": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "string",
                  "example": "60"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/openapi.json": {
      "get": {
        "summary": "Get OpenAPI schema",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "ftc"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "ErrorCode": {
        "type": "string",
        "enum": [
          "BAD_REQUEST",
          "BAD_URL",
          "UNKNOWN_FORMAT",
          "UNAUTHORIZED",
          "VISION_CREDITS_REQUIRED",
          "FORBIDDEN",
          "API_ACCESS_REQUIRED",
          "MCP_ACCESS_REQUIRED",
          "NOT_FOUND",
          "PAYLOAD_TOO_LARGE",
          "TOO_LARGE",
          "BATCH_TOO_LARGE",
          "INVALID_FILE",
          "UNSUPPORTED_MEDIA_TYPE",
          "UNSUPPORTED_PAIR",
          "LIMIT_EXCEEDED",
          "DAILY_LIMIT_EXCEEDED",
          "MONTHLY_LIMIT_EXCEEDED",
          "RATE_LIMITED",
          "FETCH_FAILED",
          "ENGINE_URL_MISSING",
          "ENGINE_ERROR",
          "CONVERSION_FAILED",
          "MAX_SIZE_EXCEEDED",
          "TIMEOUT"
        ]
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "OptionSpec": {
        "type": "object",
        "required": [
          "key",
          "type",
          "default",
          "appliesTo"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "select",
              "boolean",
              "string",
              "number"
            ]
          },
          "default": {},
          "choices": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "appliesTo": {
            "type": "string",
            "enum": [
              "read",
              "write"
            ]
          }
        }
      },
      "PairDescriptor": {
        "type": "object",
        "required": [
          "from",
          "to",
          "slug",
          "page",
          "engine",
          "engineLabel",
          "mode",
          "options"
        ],
        "properties": {
          "from": {
            "type": "string",
            "example": "csv"
          },
          "to": {
            "type": "string",
            "example": "json"
          },
          "slug": {
            "type": "string",
            "example": "csv-to-json"
          },
          "page": {
            "type": "string",
            "format": "uri"
          },
          "engine": {
            "type": "string",
            "example": "table"
          },
          "engineLabel": {
            "type": "string",
            "example": "Table engine"
          },
          "mode": {
            "type": "string",
            "enum": [
              "standard",
              "ai_deep_read",
              "either"
            ]
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OptionSpec"
            }
          }
        }
      },
      "PairsList": {
        "type": "object",
        "required": [
          "count",
          "pairs"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "example": 490
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "pairs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PairDescriptor"
            }
          }
        }
      },
      "PairSupported": {
        "type": "object",
        "required": [
          "supported",
          "pair"
        ],
        "properties": {
          "supported": {
            "type": "boolean",
            "const": true
          },
          "pair": {
            "$ref": "#/components/schemas/PairDescriptor"
          }
        }
      },
      "PairUnsupported": {
        "type": "object",
        "required": [
          "supported",
          "from",
          "to",
          "reason",
          "alternatives"
        ],
        "properties": {
          "supported": {
            "type": "boolean",
            "const": false
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "to",
                "name",
                "slug"
              ],
              "properties": {
                "to": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Format": {
        "type": "object",
        "required": [
          "id",
          "name",
          "extensions",
          "mimeTypes",
          "hub",
          "browserCapable",
          "description"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "extensions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "mimeTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hub": {
            "type": "string"
          },
          "family": {
            "type": "string"
          },
          "browserCapable": {
            "type": "boolean"
          },
          "officialSpecUrl": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "FormatPair": {
        "type": "object",
        "required": [
          "from",
          "to",
          "slug",
          "resolution"
        ],
        "properties": {
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "resolution": {
            "type": "object",
            "properties": {
              "engine": {
                "type": "string"
              },
              "phase": {
                "type": "integer"
              },
              "enabled": {
                "type": "boolean"
              },
              "runsInBrowser": {
                "type": "boolean"
              },
              "requiresVision": {
                "type": "boolean"
              },
              "supportsVision": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "FormatsResponse": {
        "type": "object",
        "required": [
          "formats",
          "pairs"
        ],
        "properties": {
          "formats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Format"
            }
          },
          "pairs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormatPair"
            }
          }
        }
      },
      "QueuedJob": {
        "type": "object",
        "required": [
          "jobId",
          "statusUrl"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid"
          },
          "statusUrl": {
            "type": "string"
          }
        }
      },
      "Job": {
        "type": "object",
        "required": [
          "id",
          "status",
          "from",
          "to"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "message": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "downloadUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "QueuedBatch": {
        "type": "object",
        "required": [
          "batchId",
          "statusUrl"
        ],
        "properties": {
          "batchId": {
            "type": "string",
            "format": "uuid"
          },
          "statusUrl": {
            "type": "string"
          }
        }
      },
      "Batch": {
        "type": "object",
        "required": [
          "id",
          "status",
          "total",
          "succeeded",
          "failed"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "total": {
            "type": "integer"
          },
          "succeeded": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "downloadUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "planId": {
            "type": "string"
          },
          "monthlyConversions": {
            "type": "integer"
          },
          "dailyConversions": {
            "type": [
              "integer",
              "null"
            ]
          },
          "maxFileMb": {
            "type": "integer"
          },
          "maxFileBytes": {
            "type": "integer"
          },
          "batchMax": {
            "type": "integer",
            "description": "-1 means unlimited."
          },
          "apiAccess": {
            "type": "boolean"
          },
          "mcpAccess": {
            "type": "boolean"
          },
          "visionCreditsMonthly": {
            "type": "integer"
          },
          "remainingConversions": {
            "type": "integer",
            "description": "-1 means unlimited."
          },
          "visionCreditBalance": {
            "type": "integer"
          },
          "entitlements": {
            "type": "object"
          },
          "month": {
            "type": "object",
            "required": [
              "conversions",
              "apiRequests",
              "start"
            ],
            "properties": {
              "conversions": {
                "type": "integer"
              },
              "apiRequests": {
                "type": "integer"
              },
              "start": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyAuth": []
    }
  ]
}