{
  "openapi": "3.0.3",
  "info": {
    "title": "DomScan",
    "description": "DomScan is a domain intelligence API providing domain analysis tools.\n\n**Core Features:**\n- Domain Availability: Check single or bulk domains using RDAP with 1,100+ TLDs supported\n- Domain Intelligence: AI suggestions, valuations, health checks, typosquatting detection\n- OSINT Tools: DNS lookup, WHOIS/RDAP, SSL certificates, subdomain discovery, IP geolocation, tech stack detection\n- Social & Branding: Social handle checker, brand name scoring\n- Phone Intelligence: Privacy-first phone number validation, normalization, and classification\n- Pricing: Scheduled standard-TLD tables from verified official registrar sources, plus separate credential-backed exact-domain quotes\n- Watchlist: Domain monitoring for expiration and availability alerts\n\n**Authentication:**\nMost API endpoints require authentication. Pass your API key via the x-api-key header or Authorization: Bearer header. Operations marked with an empty security requirement are intentionally public, including API specifications and selected catalog endpoints. Get your free API key at https://domscan.net/dashboard. Logged-in users on domscan.net tools pages are authenticated automatically via session cookie.\n\n**Rate Limits:**\nFree accounts can sustain 120 requests per minute per account, with a burst capacity of 60. All API keys and dashboard sessions belonging to the same free account share this budget.\n\nBulk endpoints have an additional free-tier budget of 20 HTTP requests per minute per account across all bulk endpoints. Free-tier bulk traffic is also capped at 100 requests per minute per IPv4 address or IPv6 /56 network. Platform-wide edge protections still apply to every tier.\n\nPaid accounts can sustain 600 requests per minute, with a burst capacity of 120. API-key requests are counted per key; browser-session requests are counted per IP. Paid accounts do not receive the additional free-tier bulk budget.\n\nEvery authenticated response includes X-RateLimit-Plan, X-RateLimit-Limit, X-RateLimit-Remaining, and X-RateLimit-Policy. X-RateLimit-Limit and X-RateLimit-Remaining describe the immediate burst bucket; X-RateLimit-Policy also states the sustained per-minute rate, scope, and any free bulk limits. Exceeding a limit returns HTTP 429 with Retry-After. Retry only after the indicated delay.\n\n**Credits System:**\nAPI calls consume credits based on endpoint complexity. Sign up for free to receive 10,000 credits monthly.\n- 1 credit: Status checks, DNS lookups, tool builders\n- 2-5 credits: Health checks, valuations, OSINT tools\n- Bulk endpoints: standard per-item rate for batching multiple items into fewer HTTP requests.\n- 6-25 credits: Recipe compound operations\n\nWhen credits reach zero, the API returns HTTP 402 with credits_remaining, credits_required, and a purchase_url. API responses include X-Credits-Requested, X-Credits-Charged, and X-Credits-Refunded. Authenticated responses also include X-Credits-Remaining. Free credits refresh monthly on the account's signup anniversary.\n\n**Error Handling:**\nStandardized API errors return JSON with type, code, message, status, retryable, request_id, and docs_url. Temporary errors can also include retry_after. Some endpoints include additional fields such as suggestion, details, login_url, or credit details. Handle HTTP 200, 201, 400, 401, 402, 403, 404, 422, 429, 500, 502, 503, and 504 in your client. Common error codes: BAD_REQUEST, UNAUTHORIZED, FORBIDDEN, INSUFFICIENT_CREDITS, RATE_LIMIT_EXCEEDED, NOT_FOUND, TIMEOUT, INTERNAL.",
    "version": "2.15.0",
    "contact": {
      "name": "DomScan Support",
      "url": "https://domscan.net",
      "email": "support@domscan.net"
    },
    "termsOfService": "https://domscan.net/legal/terms",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-jentic-source-url": "https://domscan.net/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://domscan.net",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/status": {
      "get": {
        "tags": [
          "Domain Availability"
        ],
        "summary": "Check domain availability",
        "description": "Check if a domain name is available for registration across multiple TLDs. Uses RDAP for authoritative results. Provide either the primary `name` + `tlds` format, or the single-domain shortcut `domain=example.com`.",
        "operationId": "checkDomainAvailability",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Domain name without TLD. Use together with tlds (e.g., \"example\" for example.com)",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 63,
              "example": "mycompany"
            }
          },
          {
            "name": "tlds",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of TLDs to check (max 50). Use together with name.",
            "schema": {
              "type": "string",
              "example": "com,net,org,io"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "Single-domain shortcut for one TLD, for example \"mycompany.com\"",
            "schema": {
              "type": "string",
              "example": "mycompany.com"
            }
          },
          {
            "name": "prefer_cache",
            "in": "query",
            "description": "Return cached results if available (faster)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability check results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                },
                "example": {
                  "name": "mycompany",
                  "results": [
                    {
                      "domain": "mycompany.com",
                      "tld": "com",
                      "available": false,
                      "source": "rdap",
                      "latency_ms": 45
                    },
                    {
                      "domain": "mycompany.io",
                      "tld": "io",
                      "available": true,
                      "source": "rdap",
                      "latency_ms": 67
                    }
                  ],
                  "meta": {
                    "total_checked": 2,
                    "available_count": 1,
                    "duration_ms": 120
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 1
        }
      }
    },
    "/v1/status/bulk": {
      "post": {
        "tags": [
          "Domain Availability"
        ],
        "summary": "Bulk domain availability check",
        "description": "Check availability of multiple full domain names at once. Domains are checked in parallel for optimal performance. Results include availability status, source (RDAP or cache), and latency.\n\n**Credits:** 1 credit per domain. Example: 10 domains = 10 credits, 50 domains = 50 credits.",
        "operationId": "bulkCheckDomains",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domains"
                ],
                "properties": {
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 50,
                    "description": "Array of full domain names to check",
                    "example": [
                      "example.com",
                      "startup.io",
                      "brand.ai"
                    ]
                  },
                  "prefer_cache": {
                    "type": "boolean",
                    "default": false,
                    "description": "Return cached results if available (faster but may be stale)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk check results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkStatusResponse"
                },
                "example": {
                  "results": [
                    {
                      "domain": "example.com",
                      "tld": "com",
                      "available": false,
                      "source": "rdap",
                      "latency_ms": 45
                    },
                    {
                      "domain": "startup.io",
                      "tld": "io",
                      "available": true,
                      "source": "rdap",
                      "latency_ms": 67
                    },
                    {
                      "domain": "brand.ai",
                      "tld": "ai",
                      "available": true,
                      "source": "cache",
                      "latency_ms": 2
                    }
                  ],
                  "meta": {
                    "total_checked": 3,
                    "available_count": 2,
                    "duration_ms": 120
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 1
        }
      }
    },
    "/v1/openapi.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Download the OpenAPI 3.0 specification",
        "description": "Returns the machine-readable OpenAPI 3.0 document for the DomScan API.",
        "operationId": "getOpenApiSpec",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.0 specification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 0
        }
      }
    },
    "/v1/swagger.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Download the Swagger 2.0 specification",
        "description": "Returns the Swagger 2.0 version of the API specification for tools that prefer Swagger over OpenAPI 3.",
        "operationId": "getSwaggerSpec",
        "security": [],
        "responses": {
          "200": {
            "description": "Swagger 2.0 specification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/postman.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Download the Postman collection",
        "description": "Returns the Postman collection for importing the DomScan API into Postman or compatible API clients.",
        "operationId": "getPostmanCollection",
        "security": [],
        "responses": {
          "200": {
            "description": "Postman collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/rapidapi.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Download the RapidAPI marketplace specification",
        "description": "Returns the filtered OpenAPI 3.0 contract for importing supported stateless DomScan operations into RapidAPI Studio.",
        "operationId": "getRapidApiSpec",
        "security": [],
        "responses": {
          "200": {
            "description": "RapidAPI marketplace OpenAPI specification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/suggest": {
      "get": {
        "tags": [
          "Domain Suggestions"
        ],
        "summary": "Get AI domain suggestions",
        "description": "Generate AI-powered domain name suggestions based on keywords, with optional availability checking",
        "operationId": "suggestDomains",
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "required": true,
            "description": "Comma-separated keywords (max 10)",
            "schema": {
              "type": "string",
              "example": "crypto,wallet,finance"
            }
          },
          {
            "name": "tlds",
            "in": "query",
            "description": "Target TLDs (default: com,io,ai,co,app)",
            "schema": {
              "type": "string",
              "example": "com,io"
            }
          },
          {
            "name": "style",
            "in": "query",
            "description": "Suggestion style preference",
            "schema": {
              "type": "string",
              "enum": [
                "brandable",
                "keyword-rich",
                "short",
                "pronounceable",
                "techy",
                "playful",
                "professional",
                "minimal"
              ],
              "default": "brandable"
            }
          },
          {
            "name": "industry",
            "in": "query",
            "description": "Industry for targeted suggestions",
            "schema": {
              "type": "string",
              "enum": [
                "tech",
                "finance",
                "health",
                "ecommerce",
                "education",
                "media",
                "saas",
                "crypto",
                "ai",
                "gaming"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language for prefixes/suffixes (romanized for non-Latin scripts). 30 languages supported.",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "zh",
                "es",
                "ja",
                "de",
                "fr",
                "pt",
                "it",
                "ko",
                "ru",
                "ar",
                "hi",
                "bn",
                "id",
                "ms",
                "th",
                "vi",
                "tr",
                "pl",
                "nl",
                "sv",
                "da",
                "no",
                "fi",
                "el",
                "cs",
                "hu",
                "ro",
                "uk",
                "he"
              ],
              "default": "en",
              "example": "es"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max suggestions (1-100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "check",
            "in": "query",
            "description": "Check availability of suggestions",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 5,
          "variants": [
            {
              "parameter": "check",
              "equals": false,
              "credits": 2
            }
          ],
          "note": "2 credits when check=false; 5 credits when availability is checked."
        }
      }
    },
    "/v1/lifecycle": {
      "get": {
        "tags": [
          "Domain Lifecycle"
        ],
        "summary": "Domain lifecycle information",
        "description": "Get domain lifecycle information including registration date, expiration date, age, days until expiry, and current lifecycle phase. Supports compound public suffix domains such as co.uk and com.au. Returns Fastly-style status flags.",
        "operationId": "getDomainLifecycle",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to check lifecycle for",
            "schema": {
              "type": "string",
              "example": "bbc.co.uk"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lifecycle information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LifecycleResponse"
                },
                "example": {
                  "domain": "bbc.co.uk",
                  "tld": "co.uk",
                  "registered": "1997-08-01T00:00:00Z",
                  "expires": "2026-08-01T00:00:00Z",
                  "updated": "2024-08-01T00:00:00Z",
                  "age_days": 10515,
                  "expires_in_days": 474,
                  "phase": "active",
                  "status_flags": [
                    "clientTransferProhibited",
                    "serverTransferProhibited"
                  ],
                  "status": "clientTransferProhibited serverTransferProhibited",
                  "events": [
                    {
                      "action": "registration",
                      "date": "1997-08-01T00:00:00Z"
                    },
                    {
                      "action": "last changed",
                      "date": "2024-08-01T00:00:00Z"
                    },
                    {
                      "action": "expiration",
                      "date": "2026-08-01T00:00:00Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "description": "RDAP provider returned an unreachable or invalid response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "RDAP provider rate limited the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 2
        }
      }
    },
    "/v1/health": {
      "get": {
        "tags": [
          "Domain Health"
        ],
        "summary": "Full domain health check",
        "description": "Comprehensive health analysis: DNS configuration, SSL certificates, email authentication records, security headers, and more. Accepts a subdomain (e.g. blog.example.com) as well as a registrable domain. Host-based checks run against the exact hostname, while registration and age data reflect the parent domain. Deprecated SMTP port probing is no longer performed.",
        "operationId": "getDomainHealth",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain or subdomain to analyze (e.g. example.com or blog.example.com)",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          },
          {
            "name": "details",
            "in": "query",
            "description": "Include detailed breakdown",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Health check results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "example": {
                  "domain": "cloudflare.com",
                  "health_score": 94,
                  "grade": "A",
                  "checks": {
                    "dns_configured": true,
                    "ssl_valid": true,
                    "email_deliverable": true,
                    "blacklist_status": "clean",
                    "age_years": 15,
                    "registration_stable": true,
                    "dnssec_enabled": true
                  },
                  "enriched": {
                    "tls": {
                      "grade": "A+",
                      "protocol": "TLSv1.3",
                      "cipher": "TLS_AES_256_GCM_SHA384",
                      "chain_valid": true,
                      "days_to_expiry": 72,
                      "hostname_match": true,
                      "ocsp_stapling": true,
                      "grade_reasons": [
                        "TLS 1.3 enabled",
                        "Valid certificate chain"
                      ]
                    },
                    "http_versions": {
                      "http1_1": true,
                      "http2": true,
                      "http3": true,
                      "alt_svc": "h3=\":443\"; ma=86400",
                      "http3_advertised": true,
                      "alt_svc_protocols": [
                        "h3"
                      ],
                      "curl_http3_supported": true,
                      "h2_alpn_accepted": "h2",
                      "h3_alpn_accepted": "h3"
                    },
                    "hsts": {
                      "reachable": true,
                      "final_url": "https://cloudflare.com/",
                      "status_code": 200,
                      "header_present": true,
                      "hsts_header": "max-age=31536000; includeSubDomains",
                      "max_age": 31536000,
                      "include_subdomains": true,
                      "preload_directive": false,
                      "preload_eligible": true,
                      "preload_status": "preloaded",
                      "preloaded_domain": "cloudflare.com",
                      "preload_bulk": false,
                      "issues": [
                        "missing preload directive"
                      ],
                      "errors": []
                    }
                  },
                  "warnings": [],
                  "recommendations": [
                    "Publish the HSTS preload directive if you want preload-list eligibility."
                  ],
                  "checked_at": "2026-04-18T21:00:00Z",
                  "details": {
                    "dns": {
                      "has_a_record": true,
                      "has_aaaa_record": true,
                      "has_nameservers": true,
                      "has_mx_record": true,
                      "nameservers": [
                        "ns3.cloudflare.com",
                        "ns5.cloudflare.com"
                      ],
                      "mx_records": [
                        "route1.mx.cloudflare.net"
                      ],
                      "a_records": [
                        "104.16.132.229",
                        "104.16.133.229"
                      ],
                      "aaaa_records": [
                        "2606:4700::6810:84e5",
                        "2606:4700::6810:85e5"
                      ]
                    },
                    "ssl": {
                      "https_works": true,
                      "certificate_valid": true,
                      "days_until_expiry": 72,
                      "issuer": "Google Trust Services"
                    },
                    "email": {
                      "has_mx": true,
                      "has_spf": true,
                      "has_dmarc": true,
                      "has_dkim_selector": true,
                      "spf_record": "v=spf1 include:_spf.google.com ~all",
                      "dmarc_policy": "reject",
                      "mx_hosts": [
                        "route1.mx.cloudflare.net"
                      ]
                    },
                    "security": {
                      "dnssec_enabled": true,
                      "has_caa_record": true,
                      "caa_issuers": [
                        "digicert.com",
                        "letsencrypt.org"
                      ],
                      "http_to_https_redirect": true,
                      "has_security_txt": true,
                      "security_txt_fields": [
                        "Contact",
                        "Expires",
                        "Preferred-Languages"
                      ],
                      "security_headers": {
                        "has_hsts": true,
                        "hsts_max_age": 31536000,
                        "has_csp": true,
                        "has_x_frame_options": true,
                        "has_x_content_type_options": true,
                        "has_referrer_policy": true,
                        "has_permissions_policy": true,
                        "score": 92
                      }
                    },
                    "age": {
                      "registration_date": "2010-07-06T00:00:00Z",
                      "expiration_date": "2030-07-06T00:00:00Z",
                      "last_updated": "2025-07-06T00:00:00Z",
                      "age_days": 5766,
                      "age_years": 15,
                      "days_until_expiry": 1540,
                      "registrar": "Cloudflare Registrar"
                    },
                    "blacklist": {
                      "clean": true,
                      "status": "clean",
                      "listed_on": [],
                      "checked_lists": [
                        "spamhaus",
                        "surbl"
                      ],
                      "domain_listed_on": [],
                      "ip_listed_on": [],
                      "check_type": "mixed"
                    }
                  },
                  "health_checks": [
                    {
                      "category": "dns",
                      "name": "Authoritative DNS records present",
                      "passed": true,
                      "score": 100,
                      "weight": 15
                    }
                  ],
                  "meta": {
                    "check_duration_ms": 248,
                    "served_by": "pop=MAD country=ES"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 3
        }
      }
    },
    "/v1/health/quick": {
      "get": {
        "tags": [
          "Domain Health"
        ],
        "summary": "Quick health check",
        "description": "Fast health check focusing on DNS resolution and SSL certificate status. Accepts a subdomain (e.g. blog.example.com) as well as a registrable domain.",
        "operationId": "getQuickHealth",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain or subdomain to check (e.g. example.com or blog.example.com)",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quick health results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickHealthResponse"
                },
                "example": {
                  "domain": "example.com",
                  "dns_ok": true,
                  "https_ok": true,
                  "checked_at": "2026-04-18T21:00:00Z",
                  "meta": {
                    "check_duration_ms": 89
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 1
        }
      }
    },
    "/v1/health/bulk": {
      "post": {
        "tags": [
          "Domain Health"
        ],
        "summary": "Bulk health check",
        "description": "Check health of multiple domains at once. Use quick=true for faster results with basic DNS/SSL checks only.\n\n**Credits:** 3 credits per domain. Example: 10 domains = 30 credits.",
        "operationId": "bulkHealthCheck",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domains"
                ],
                "properties": {
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 10,
                    "description": "Array of domains or subdomains to check (max 10)",
                    "example": [
                      "example.com",
                      "google.com"
                    ]
                  },
                  "quick": {
                    "type": "boolean",
                    "default": false,
                    "description": "Use quick check mode (DNS + SSL only)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk health results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkHealthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 3
        }
      }
    },
    "/v1/value": {
      "get": {
        "tags": [
          "Domain Valuation"
        ],
        "summary": "Estimate domain value",
        "description": "Algorithmic intrinsic domain valuation based on length, effective public suffix tier, dictionary words, brandability, semantic segmentation, and market comparable buckets. Compound suffixes such as `co.uk` and `ind.br` are parsed as one suffix. Excludes website traffic, revenue, and business/company value.",
        "operationId": "getDomainValue",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Registrable domain to value. Compound public suffixes are supported; subdomains are rejected.",
            "schema": {
              "type": "string",
              "example": "empresa.ind.br"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Valuation estimate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValuationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 2
        }
      }
    },
    "/v1/value/bulk": {
      "post": {
        "tags": [
          "Domain Valuation"
        ],
        "summary": "Bulk domain valuation",
        "description": "Valuate multiple domains at once (max 100) using the same intrinsic-domain logic as `/v1/value`.\n\n**Credits:** 2 credits per domain. Example: 10 domains = 20 credits.",
        "operationId": "bulkDomainValue",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domains"
                ],
                "properties": {
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk valuation results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkValuationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 2
        }
      }
    },
    "/v1/typos": {
      "get": {
        "tags": [
          "Typosquatting"
        ],
        "summary": "Detect typosquatting threats",
        "description": "Generate typosquatting permutations using multiple techniques (character swap, missing char, extra char, homoglyphs, etc.) and optionally check which are registered. Includes risk scoring based on similarity to original domain.",
        "operationId": "getTyposquatting",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to analyze for typosquatting risks",
            "schema": {
              "type": "string",
              "example": "google.com"
            }
          },
          {
            "name": "check_registered",
            "in": "query",
            "description": "Check if generated typos are actually registered. Disabled by default and capped for faster responses.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum permutations to generate and check",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 10,
              "maximum": 500
            }
          },
          {
            "name": "include_tld_swap",
            "in": "query",
            "description": "Include TLD variation permutations (e.g., .co instead of .com)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Typosquatting analysis with risk summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TyposResponse"
                },
                "example": {
                  "domain": "google.com",
                  "name": "google",
                  "tld": "com",
                  "permutations_generated": 100,
                  "permutations_checked": 95,
                  "registered_typos": [
                    {
                      "domain": "gooogle.com",
                      "type": "extra_char",
                      "risk": "high",
                      "registered": true
                    },
                    {
                      "domain": "goggle.com",
                      "type": "char_swap",
                      "risk": "critical",
                      "registered": true
                    }
                  ],
                  "available_typos": 50,
                  "risk_summary": {
                    "critical": 2,
                    "high": 5,
                    "medium": 10,
                    "low": 28
                  },
                  "threat_level": "high",
                  "checked_at": "2024-01-15T12:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 2,
          "variants": [
            {
              "parameter": "check_registered",
              "equals": true,
              "credits": 3
            }
          ],
          "note": "2 credits by default; 3 credits when check_registered=true."
        }
      }
    },
    "/v1/typos/threats": {
      "get": {
        "tags": [
          "Typosquatting"
        ],
        "summary": "Run a live typosquatting threat scan",
        "description": "Generate up to the requested number of typo variants, then check at most 75 supported variants for live registration and DNS activity. scan_summary reports the live-check limit and whether coverage was truncated.",
        "operationId": "analyzeTyposquattingThreats",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to analyze",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum variants to generate. Live registration checks are capped at 75.",
            "schema": {
              "type": "integer",
              "minimum": 50,
              "maximum": 500,
              "default": 200
            }
          },
          {
            "name": "include_tld_swap",
            "in": "query",
            "description": "Include alternate-TLD variants",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live typosquatting threat analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TyposThreatAnalysisResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Threat analysis failed"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 12
        }
      }
    },
    "/v1/typos/report": {
      "get": {
        "tags": [
          "Typosquatting"
        ],
        "summary": "Generate a brand protection report",
        "description": "Generate up to 300 variants, live-check at most 60 supported variants, and return an executive summary, coverage metadata, defensive registration priorities, and monitoring recommendations.",
        "operationId": "generateTyposquattingReport",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to analyze",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Brand protection report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandProtectionReportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Report generation failed"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 18
        }
      }
    },
    "/v1/typos/quick": {
      "get": {
        "tags": [
          "Typosquatting"
        ],
        "summary": "Find registered typo domains quickly",
        "description": "Check a smaller typo set and return only registered variants with their permutation type and risk level.",
        "operationId": "quickTyposquattingCheck",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to analyze",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum variants to check",
            "schema": {
              "type": "integer",
              "minimum": 20,
              "maximum": 200,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registered typo domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickTyposResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Quick threat check failed"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 6
        }
      }
    },
    "/v1/typos/permutations": {
      "get": {
        "tags": [
          "Typosquatting"
        ],
        "summary": "Generate typo permutations",
        "description": "Generate typosquatting permutations without checking registration status. Faster endpoint for generating variations only, useful for proactive brand protection planning.",
        "operationId": "getTypoPermutations",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to generate permutations for",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum permutations to generate",
            "schema": {
              "type": "integer",
              "default": 200,
              "minimum": 10,
              "maximum": 1000
            }
          },
          {
            "name": "include_tld_swap",
            "in": "query",
            "description": "Include TLD variation permutations",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated permutations grouped by type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermutationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 1
        }
      }
    },
    "/v1/typos/score": {
      "get": {
        "tags": [
          "Typosquatting"
        ],
        "summary": "Calculate protection score",
        "description": "Calculate a typosquatting protection score for a domain. Shows how vulnerable the domain is based on name characteristics and optionally factors in registered typos.",
        "operationId": "getProtectionScore",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to score",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          },
          {
            "name": "check_registered",
            "in": "query",
            "description": "Factor in registered typos when calculating score (slower)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Protection score analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtectionScoreResponse"
                },
                "example": {
                  "domain": "example.com",
                  "name": "example",
                  "tld": "com",
                  "protection": {
                    "score": 65,
                    "grade": "C",
                    "factors": {
                      "length_score": 70,
                      "uniqueness_score": 60,
                      "keyboard_proximity_score": 55
                    },
                    "recommendations": [
                      "Consider registering common typo variations",
                      "Monitor for homoglyph attacks"
                    ]
                  },
                  "checked_at": "2024-01-15T12:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 1
        }
      }
    },
    "/v1/dns": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "DNS record lookup",
        "description": "Query specific DNS record types for a domain. Returns records with TTL, DNSSEC validation status, semantic TXT classification, additive warnings, and query timing.",
        "operationId": "getDnsRecords",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to query DNS records for",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "DNS record type to query",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "AAAA",
                "MX",
                "NS",
                "TXT",
                "SOA",
                "CNAME",
                "CAA",
                "PTR",
                "SRV"
              ],
              "default": "A"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records for the specified type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsResponse"
                },
                "example": {
                  "domain": "google.com",
                  "record_type": "TXT",
                  "records": [
                    {
                      "type": "TXT",
                      "name": "google.com",
                      "data": "v=spf1 include:_spf.google.com ~all",
                      "ttl": 300,
                      "classification": "spf"
                    },
                    {
                      "type": "TXT",
                      "name": "google.com",
                      "data": "google-site-verification=abc123",
                      "ttl": 300,
                      "classification": "verification"
                    }
                  ],
                  "status": "success",
                  "dnssec_validated": false,
                  "query_time_ms": 37,
                  "checked_at": "2026-04-18T21:00:00Z",
                  "warnings": [
                    {
                      "code": "TXT_MULTIPLE_RESPONSES",
                      "message": "Domain publishes multiple TXT records; use classification to isolate the security ones.",
                      "severity": "info"
                    }
                  ],
                  "meta": {
                    "served_by": "pop=unknown country=unknown"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 1
        }
      }
    },
    "/v1/dns/bulk": {
      "post": {
        "tags": [
          "DNS"
        ],
        "summary": "Bulk DNS record lookup",
        "description": "Query one DNS record type across multiple domains in a single request.\n\n**Credits:** 1 credit per domain. Max 25 domains per request.",
        "operationId": "bulkDnsLookup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domains"
                ],
                "properties": {
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 25,
                    "description": "Array of domains to query",
                    "example": [
                      "example.com",
                      "cloudflare.com"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "A",
                      "AAAA",
                      "NS",
                      "MX",
                      "TXT",
                      "CAA",
                      "SOA",
                      "CNAME",
                      "PTR",
                      "SRV",
                      "HTTPS",
                      "SVCB"
                    ],
                    "default": "A",
                    "description": "DNS record type to query for every domain"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk DNS lookup results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDnsResponse"
                },
                "example": {
                  "results": [
                    {
                      "domain": "example.com",
                      "record_type": "A",
                      "records": [
                        {
                          "type": "A",
                          "name": "example.com",
                          "data": "93.184.216.34",
                          "ttl": 300
                        }
                      ],
                      "status": "success",
                      "dnssec_validated": true,
                      "query_time_ms": 22,
                      "checked_at": "2024-01-15T12:00:00Z"
                    },
                    {
                      "domain": "missing.invalid",
                      "record_type": "A",
                      "records": [],
                      "status": "error",
                      "dnssec_validated": false,
                      "query_time_ms": 0,
                      "checked_at": "2024-01-15T12:00:00Z",
                      "error": {
                        "code": "INVALID_DOMAIN",
                        "message": "Invalid domain format"
                      }
                    }
                  ],
                  "summary": {
                    "total": 2,
                    "successful": 1,
                    "nxdomain": 0,
                    "errors": 1,
                    "query_time_ms": 31
                  },
                  "meta": {
                    "served_by": "pop=MAD country=ES",
                    "record_type": "A"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 1
        }
      }
    },
    "/v1/dns/all": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "Get all DNS records",
        "description": "Query all common DNS record types (A, AAAA, NS, MX, TXT, CAA, SOA, HTTPS, SVCB) in parallel. Returns a comprehensive view of domain DNS configuration plus optional additive signals (IPv6 parity, MX priority sanity, private-IP leaks, TXT classification, wildcard probe).",
        "operationId": "getAllDnsRecords",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to query",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          },
          {
            "name": "wildcard_probe",
            "in": "query",
            "required": false,
            "description": "When set to 1, perform a random-label probe to detect wildcard DNS. Adds one extra DoH lookup.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All DNS records grouped by type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsAllResponse"
                },
                "example": {
                  "domain": "openai.com",
                  "records": {
                    "A": [
                      {
                        "type": "A",
                        "name": "openai.com",
                        "data": "104.18.33.45",
                        "ttl": 300
                      }
                    ],
                    "AAAA": [
                      {
                        "type": "AAAA",
                        "name": "openai.com",
                        "data": "2606:4700::6812:212d",
                        "ttl": 300
                      }
                    ],
                    "MX": [
                      {
                        "type": "MX",
                        "name": "openai.com",
                        "data": "aspmx.l.google.com",
                        "ttl": 300,
                        "priority": 1
                      }
                    ],
                    "NS": [
                      {
                        "type": "NS",
                        "name": "openai.com",
                        "data": "ns1-02.azure-dns.com",
                        "ttl": 172800
                      },
                      {
                        "type": "NS",
                        "name": "openai.com",
                        "data": "ns2-02.azure-dns.net",
                        "ttl": 172800
                      }
                    ],
                    "TXT": [
                      {
                        "type": "TXT",
                        "name": "openai.com",
                        "data": "v=spf1 include:_spf.google.com ~all",
                        "ttl": 300,
                        "classification": "spf"
                      },
                      {
                        "type": "TXT",
                        "name": "openai.com",
                        "data": "v=TLSRPTv1; rua=mailto:tlsrpt@openai.com",
                        "ttl": 300,
                        "classification": "tls_rpt"
                      }
                    ]
                  },
                  "summary": {
                    "has_a": true,
                    "has_aaaa": true,
                    "has_ns": true,
                    "has_mx": true,
                    "has_txt": true,
                    "has_https": false,
                    "has_svcb": false,
                    "ipv6_parity": "full"
                  },
                  "warnings": [
                    {
                      "code": "MX_PRIORITY_SHARED",
                      "message": "Multiple MX hosts share the same priority.",
                      "severity": "info"
                    }
                  ],
                  "wildcard": {
                    "suspected": false,
                    "probe_label": "_domscan-probe-4f6a2c.openai.com"
                  },
                  "query_time_ms": 82,
                  "checked_at": "2026-04-18T21:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 2
        }
      }
    },
    "/v1/dns/security": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "DNS security analysis",
        "description": "Comprehensive DNS security analysis including DNSSEC validation, CAA, SPF/DKIM/DMARC, MTA-STS and TLS-RPT policy inspection, cross-resolver latency, and AXFR exposure checks.",
        "operationId": "getDnsSecurity",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to analyze",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS security analysis results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsSecurityResponse"
                },
                "example": {
                  "domain": "google.com",
                  "security_score": 97,
                  "security_grade": "A+",
                  "spf": {
                    "exists": true,
                    "record": "v=spf1 include:_spf.google.com ~all",
                    "valid": true,
                    "policy": "softfail",
                    "includes": [
                      "_spf.google.com"
                    ],
                    "dns_lookup_count": 1,
                    "dns_lookup_limit_exceeded": false,
                    "include_tree": [
                      {
                        "domain": "_spf.google.com",
                        "lookups": 1
                      }
                    ],
                    "lookup_walk_count": 1,
                    "macros_present": false,
                    "macro_references": [],
                    "walk": [
                      {
                        "domain": "google.com",
                        "depth": 0,
                        "record": "v=spf1 include:_spf.google.com ~all",
                        "mechanisms": [
                          "include:_spf.google.com",
                          "~all"
                        ],
                        "includes": [
                          "_spf.google.com"
                        ],
                        "redirect": null,
                        "direct_lookup_count": 1,
                        "total_lookup_count": 1,
                        "macros_present": false,
                        "macro_references": [],
                        "multiple_records": 1
                      }
                    ],
                    "walk_errors": [],
                    "issues": []
                  },
                  "dkim": {
                    "exists": true,
                    "selectors_checked": [
                      "google",
                      "selector1",
                      "selector2"
                    ],
                    "selectors_found": [
                      "google"
                    ],
                    "valid": true
                  },
                  "dmarc": {
                    "exists": true,
                    "record": "v=DMARC1; p=reject; rua=mailto:mailauth-reports@google.com",
                    "valid": true,
                    "policy": "reject",
                    "subdomain_policy": "reject",
                    "percentage": 100,
                    "rua": [
                      "mailto:mailauth-reports@google.com"
                    ],
                    "ruf": [],
                    "issues": []
                  },
                  "bimi": {
                    "exists": true,
                    "record": "v=BIMI1; l=https://example.com/logo.svg; a=https://example.com/vmc.pem",
                    "logo_url": "https://example.com/logo.svg",
                    "authority_url": "https://example.com/vmc.pem",
                    "valid": true,
                    "logo_fetch_ok": true,
                    "logo_http_status": 200,
                    "logo_content_type": "image/svg+xml",
                    "logo_bytes": 2048,
                    "logo_svg_detected": true,
                    "vmc_present": true,
                    "vmc_fetched": true,
                    "vmc_http_status": 200,
                    "vmc_content_type": "application/x-pem-file",
                    "vmc_certificate_valid": true,
                    "vmc_subject": "/CN=Example Inc VMC",
                    "vmc_issuer": "/CN=Example Issuer",
                    "vmc_not_before": "2026-01-01T00:00:00Z",
                    "vmc_not_after": "2027-01-01T00:00:00Z",
                    "vmc_days_to_expiry": 258,
                    "vmc_fingerprint_sha256": "AA:BB:CC:DD",
                    "vmc_san_domains": [
                      "google.com"
                    ],
                    "errors": []
                  },
                  "dnssec": {
                    "enabled": true,
                    "valid": true,
                    "algorithm": "ECDSAP256SHA256",
                    "key_tag": 12345,
                    "validation_status": "secure",
                    "validated_by_proxy": true,
                    "validation_reason": "chain validated via delv",
                    "ds_records": [
                      "12345 13 2 1a2b3c4d5e6f"
                    ],
                    "dnskey_records": [
                      "256 3 13 AbCdEfGhIjKlMnOp"
                    ],
                    "rrsig_present": true,
                    "resolver": "127.0.0.1",
                    "mismatch_detail": {
                      "checked": true,
                      "mismatch_detected": false,
                      "reason": "chain validated via delv",
                      "ds_record_count": 1,
                      "dnskey_record_count": 1,
                      "rrsig_present": true,
                      "validation_status": "secure",
                      "resolver": "127.0.0.1"
                    }
                  },
                  "caa": {
                    "exists": true,
                    "records": [
                      {
                        "flags": 0,
                        "tag": "issue",
                        "value": "pki.goog"
                      }
                    ],
                    "issuers": [
                      "pki.goog"
                    ],
                    "issue_wild": [],
                    "iodef": "mailto:security@google.com"
                  },
                  "issuance_readiness": {
                    "caa": {
                      "exists": true,
                      "records": [
                        {
                          "flags": 0,
                          "tag": "issue",
                          "value": "pki.goog"
                        },
                        {
                          "flags": 0,
                          "tag": "iodef",
                          "value": "mailto:security@google.com"
                        }
                      ],
                      "issue_issuers": [
                        "pki.goog"
                      ],
                      "issuewild_issuers": [],
                      "iodef": "mailto:security@google.com",
                      "letsencrypt_allowed": false,
                      "google_trust_services_allowed": true
                    },
                    "http01": {
                      "challenge_path": "/.well-known/acme-challenge/domscan-probe-1713474000",
                      "reachable": true,
                      "ready": true,
                      "status_code": 404,
                      "final_url": "http://google.com/.well-known/acme-challenge/domscan-probe-1713474000",
                      "redirects": 0,
                      "error": null
                    },
                    "checked_at": "2026-04-18T21:00:00Z"
                  },
                  "authoritative_consistency": {
                    "record_type": "SOA",
                    "all_authoritative": true,
                    "answer_sets_match": true,
                    "inconsistent_nameservers": [],
                    "consistent_serial": true,
                    "serials": [
                      {
                        "host": "ns1.google.com",
                        "udp_soa_serial": "2026041801",
                        "tcp_soa_serial": "2026041801"
                      }
                    ],
                    "reference_answers": [
                      "google.com. 60 IN SOA ns1.google.com. dns-admin.google.com. 2026041801 900 900 1800 60"
                    ]
                  },
                  "delegation_health": {
                    "nameservers": [
                      {
                        "host": "ns1.google.com",
                        "addresses": [
                          "216.239.32.10"
                        ],
                        "in_bailiwick": false,
                        "glue_required": false,
                        "udp": {
                          "authoritative": true,
                          "status": "NOERROR",
                          "query_ms": 14,
                          "answer_count": 1,
                          "answers": [
                            "google.com. 60 IN SOA ns1.google.com. dns-admin.google.com. 2026041801 900 900 1800 60"
                          ],
                          "soa_serial": "2026041801",
                          "truncated": false,
                          "error": null
                        },
                        "tcp": {
                          "authoritative": true,
                          "status": "NOERROR",
                          "query_ms": 18,
                          "answer_count": 1,
                          "answers": [
                            "google.com. 60 IN SOA ns1.google.com. dns-admin.google.com. 2026041801 900 900 1800 60"
                          ],
                          "soa_serial": "2026041801",
                          "truncated": false,
                          "error": null
                        },
                        "lame": false,
                        "issues": []
                      }
                    ],
                    "in_bailiwick_nameservers": [],
                    "glue_required_count": 0,
                    "all_in_bailiwick_resolve": true,
                    "missing_addresses": [],
                    "lame_nameservers": []
                  },
                  "dns_transport": {
                    "udp_working": true,
                    "tcp_working": true,
                    "tcp_supported_nameservers": [
                      "ns1.google.com"
                    ],
                    "tcp_failed_nameservers": [],
                    "truncation_tested": true,
                    "truncation_nameserver": "ns1.google.com",
                    "truncation_record_type": "DNSKEY",
                    "truncation_observed": false,
                    "tcp_fallback_ready": null
                  },
                  "nameserver_drift": {
                    "checked": true,
                    "drift_detected": false,
                    "public_nameservers": [
                      "ns1.google.com"
                    ],
                    "authoritative_nameservers": [
                      "ns1.google.com"
                    ],
                    "missing_from_authority": [],
                    "extra_at_authority": [],
                    "inconsistent_nameservers": [],
                    "serial_mismatch_detected": false
                  },
                  "mta_sts": {
                    "exists": true,
                    "record": "v=STSv1; id=2024010101Z",
                    "valid": true,
                    "policy_id": "2024010101Z",
                    "policy_fetch_ok": true,
                    "policy_http_status": 200,
                    "mode": "enforce",
                    "max_age": 86400,
                    "mx_hosts": [
                      "*.google.com"
                    ],
                    "mx_records": [
                      "aspmx.l.google.com",
                      "alt1.aspmx.l.google.com"
                    ],
                    "policy_matches_mx": true,
                    "uncovered_mx": [],
                    "errors": []
                  },
                  "tls_rpt": {
                    "exists": true,
                    "record": "v=TLSRPTv1; rua=mailto:sts-reports@google.com",
                    "valid": true,
                    "rua": [
                      "mailto:sts-reports@google.com"
                    ],
                    "errors": []
                  },
                  "resolver_latency": {
                    "record_type": "MX",
                    "resolvers": [
                      {
                        "resolver": "1.1.1.1",
                        "label": "Cloudflare",
                        "query_ms": 22,
                        "status": "NOERROR",
                        "answer_count": 5,
                        "answers": [
                          "aspmx.l.google.com"
                        ],
                        "server": "1.1.1.1#53",
                        "error": null
                      },
                      {
                        "resolver": "8.8.8.8",
                        "label": "Google Public DNS",
                        "query_ms": 3,
                        "status": "NOERROR",
                        "answer_count": 5,
                        "answers": [
                          "aspmx.l.google.com"
                        ],
                        "server": "8.8.8.8#53",
                        "error": null
                      }
                    ],
                    "min_ms": 3,
                    "max_ms": 22,
                    "avg_ms": 12.5
                  },
                  "zone_transfer": {
                    "exposed": false,
                    "nameservers": [
                      {
                        "host": "ns1.google.com",
                        "exposed": false,
                        "query_ms": 18,
                        "records_returned": 0,
                        "soa_seen": false,
                        "reason": "transfer failed",
                        "sample_records": []
                      }
                    ]
                  },
                  "blacklist": {
                    "domain": "google.com",
                    "listed": false,
                    "threat_level": "none",
                    "check_type": "domain",
                    "checked_at": "2026-04-18T21:00:00Z"
                  },
                  "edge_summary": {
                    "relay_configured": true,
                    "evidence_sources": [
                      "dnssec_validate",
                      "axfr_check",
                      "dns_authority_health",
                      "dns_latency",
                      "issuance_readiness",
                      "mail_policies",
                      "bimi_audit",
                      "spf_walk"
                    ],
                    "secure_dns_chain": true,
                    "zone_transfer_exposed": false,
                    "authoritative_consistency_ok": true,
                    "nameserver_drift_detected": false,
                    "lame_nameserver_count": 0,
                    "tcp_fallback_ready": null,
                    "avg_resolver_latency_ms": 12.5,
                    "fastest_resolver": "Google Public DNS",
                    "slowest_resolver": "Cloudflare",
                    "issuance_http01_ready": true,
                    "caa_restricts_issuers": true,
                    "bimi_vmc_valid": true,
                    "mta_sts_enforced": true,
                    "tls_rpt_configured": true,
                    "spf_lookup_limit_exceeded": false
                  },
                  "recommendations": [],
                  "checked_at": "2026-04-18T21:00:00Z",
                  "check_duration_ms": 312
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 3
        }
      }
    },
    "/v1/dns/propagation": {
      "get": {
        "tags": [
          "DNS"
        ],
        "summary": "Compare public recursive resolver answers",
        "description": "Compare answers from DomScan's configured public recursive resolvers. Without expected, propagation_percentage is the share represented by the largest identical-answer cohort. With expected, it is the share whose answer matches the expected value. This is not a geographic or worldwide propagation measurement.",
        "operationId": "getDnsPropagation",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain whose recursive-resolver answers should be compared",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "DNS record type to check",
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "AAAA",
                "CNAME",
                "MX",
                "TXT",
                "NS",
                "SOA"
              ],
              "default": "A"
            }
          },
          {
            "name": "expected",
            "in": "query",
            "description": "Optional exact value to match after DNS-type normalization. When supplied, propagation_percentage measures expected-value matches instead of resolver convergence.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comparison across the configured public recursive resolvers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsPropagationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_request",
          "default": 2
        }
      }
    },
    "/v1/dns/propagation/bulk": {
      "post": {
        "operationId": "bulkDnsPropagation",
        "summary": "Compare resolver answers for multiple domains",
        "description": "Compare one DNS record type across the configured public recursive resolvers for multiple domains. This is not a worldwide geographic propagation measurement. Accepts up to 10 items, preserves input order, and uses bounded concurrency. The outer response is HTTP 200 when the batch is accepted, so inspect each result for data or an error. Billing is 2 credits per validated item with no bulk discount, including items that return a per-item lookup error.",
        "tags": [
          "DNS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domains"
                ],
                "properties": {
                  "domains": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "format": "hostname"
                    }
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "A",
                      "AAAA",
                      "CNAME",
                      "MX",
                      "TXT",
                      "NS",
                      "SOA"
                    ],
                    "default": "A"
                  },
                  "expected": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "domains": [
                  "example.com",
                  "cloudflare.com"
                ],
                "type": "A"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch accepted. Each ordered result contains either data or a per-item error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLookupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 2
        }
      }
    },
    "/v1/certificates/bulk": {
      "post": {
        "operationId": "bulkGetCertificates",
        "summary": "Search certificates for multiple domains",
        "description": "Search public Certificate Transparency data for multiple domains with shared filtering options. Accepts up to 10 items, preserves input order, and uses bounded concurrency. The outer response is HTTP 200 when the batch is accepted, so inspect each result for data or an error. Billing is 2 credits per validated item with no bulk discount, including items that return a per-item lookup error.",
        "tags": [
          "Security",
          "SSL"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domains"
                ],
                "properties": {
                  "domains": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "format": "hostname"
                    }
                  },
                  "include_subdomains": {
                    "type": "boolean",
                    "default": true
                  },
                  "include_expired": {
                    "type": "boolean",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000,
                    "default": 100
                  }
                }
              },
              "example": {
                "domains": [
                  "example.com",
                  "cloudflare.com"
                ],
                "include_subdomains": true,
                "limit": 100
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch accepted. Each ordered result contains either data or a per-item error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLookupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 2
        }
      }
    },
    "/v1/subdomains/bulk": {
      "post": {
        "operationId": "bulkGetSubdomains",
        "summary": "Discover subdomains for multiple domains",
        "description": "Run the best-effort passive hostname evidence pipeline for multiple root domains. Discovery coverage is incomplete and result entries retain source labels. Accepts up to 10 items, preserves input order, and uses bounded concurrency. The outer response is HTTP 200 when the batch is accepted, so inspect each result for data or an error. Billing is 4 credits per validated item by default, or 5 credits per item when verify=true, with no bulk discount. Items that return a per-item lookup error are still billed.",
        "tags": [
          "Security",
          "OSINT"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domains"
                ],
                "properties": {
                  "domains": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "format": "hostname"
                    }
                  },
                  "verify": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_wildcards": {
                    "type": "boolean",
                    "default": false
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 500
                  }
                }
              },
              "example": {
                "domains": [
                  "example.com",
                  "cloudflare.com"
                ],
                "verify": false,
                "limit": 500
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch accepted. Each ordered result contains either data or a per-item error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLookupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 4,
          "variants": [
            {
              "parameter": "verify",
              "equals": true,
              "credits": 5
            }
          ],
          "note": "4 credits per item by default; 5 credits per item when verify=true."
        }
      }
    },
    "/v1/email-auth/bulk": {
      "post": {
        "operationId": "bulkGetEmailAuth",
        "summary": "Audit email authentication for multiple domains",
        "description": "Check SPF, DKIM, DMARC, MTA-STS, TLS-RPT, and recursive SPF behavior for multiple domains with an optional shared DKIM selector list. Accepts up to 10 items, preserves input order, and uses bounded concurrency. The outer response is HTTP 200 when the batch is accepted, so inspect each result for data or an error. Billing is 3 credits per validated item with no bulk discount, including items that return a per-item lookup error.",
        "tags": [
          "Security",
          "Email"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domains"
                ],
                "properties": {
                  "domains": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "format": "hostname"
                    }
                  },
                  "selectors": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "domains": [
                  "example.com",
                  "cloudflare.com"
                ],
                "selectors": [
                  "selector1",
                  "selector2"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch accepted. Each ordered result contains either data or a per-item error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLookupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 3
        }
      }
    },
    "/v1/hosting/bulk": {
      "post": {
        "operationId": "bulkGetHosting",
        "summary": "Detect infrastructure for multiple domains",
        "description": "Detect hosting, CDN, WAF, DNS, and email infrastructure for multiple domains. Accepts up to 10 items, preserves input order, and uses bounded concurrency. The outer response is HTTP 200 when the batch is accepted, so inspect each result for data or an error. Billing is 3 credits per validated item with no bulk discount, including items that return a per-item lookup error.",
        "tags": [
          "Web Intelligence",
          "Infrastructure"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domains"
                ],
                "properties": {
                  "domains": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "format": "hostname"
                    }
                  }
                }
              },
              "example": {
                "domains": [
                  "example.com",
                  "cloudflare.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch accepted. Each ordered result contains either data or a per-item error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLookupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 3
        }
      }
    },
    "/v1/profile/bulk": {
      "post": {
        "operationId": "bulkGetDomainProfile",
        "summary": "Get registration profiles for multiple domains",
        "description": "Get normalized RDAP registration profiles for multiple domains with bounded concurrency and ordered per-domain results. Accepts up to 10 items, preserves input order, and uses bounded concurrency. The outer response is HTTP 200 when the batch is accepted, so inspect each result for data or an error. Billing is 3 credits per validated item with no bulk discount, including items that return a per-item lookup error.",
        "tags": [
          "WHOIS/RDAP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domains"
                ],
                "properties": {
                  "domains": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "format": "hostname"
                    }
                  }
                }
              },
              "example": {
                "domains": [
                  "example.com",
                  "cloudflare.com"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch accepted. Each ordered result contains either data or a per-item error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkLookupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-domscan-credits": {
          "model": "per_item",
          "default": 3
        }
      }
    },
    "/v1/rdap/bulk": {
      "post": {
        "operationId": "bulkGetRdap",
        "summary": "Run multiple raw RDAP lookups",
        "description": "Get raw RDAP data for a homogeneous batch of domains, IP addresses, CIDR ranges, or autonomous system numbers. One type applies to the entire batch. Accepts up to 10 items, preserves input order, and uses bounded concurrency. The outer response is HTTP 200 when the batch is accepted, so inspect each result for data or an error. Billing is 2 credits per validated item with no bulk discount, including items that return a per-item lookup error.",
        "tags": [
          "OSINT",
          "RDAP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
[...]
