{
  "openapi": "3.1.0",
  "info": {
    "title": "Link Center API",
    "version": "1.0.0",
    "description": "Create dynamic, editable QR codes and short links, pull scan analytics, and render branded QR images — programmatically. The QR encodes a stable short URL, so you can change the destination anytime without reprinting the code.",
    "x-jentic-source-url": "https://mylink.center/api/openapi.json"
  },
  "servers": [
    {
      "url": "https://mylink.center"
    }
  ],
  "paths": {
    "/api/v1/links": {
      "get": {
        "operationId": "listLinks",
        "summary": "List links",
        "description": "Return every link on the authenticated account.",
        "responses": {
          "200": {
            "description": "The account's links.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLink",
        "summary": "Create a link",
        "description": "Create a dynamic QR / short link. Only destinationUrl is required; name defaults to the destination's hostname. slug, logoUrl, and style are optional branding. Each create costs 1 credit (reads are free).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "destinationUrl"
                ],
                "properties": {
                  "destinationUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "name": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "slug": {
                    "type": "string",
                    "description": "Pro: custom short code (a–z, 0–9, hyphens; 3–48 chars)."
                  },
                  "logoUrl": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Pro: center logo (https URL or base64 image data URL ≤64KB). Omit the field to inherit the account's default branding logo (if set); pass null for no logo."
                  },
                  "style": {
                    "type": "object",
                    "description": "Pro QR branding. Omit for the default black-on-white style.",
                    "properties": {
                      "dotColor": {
                        "type": "string",
                        "description": "Hex color for the data dots, e.g. #0a0a0a."
                      },
                      "cornerColor": {
                        "type": "string",
                        "description": "Hex color for the three markers (finder patterns)."
                      },
                      "backgroundColor": {
                        "type": "string",
                        "description": "Hex background color."
                      },
                      "dotType": {
                        "type": "string",
                        "enum": [
                          "rounded",
                          "dots",
                          "classy",
                          "classy-rounded",
                          "square",
                          "extra-rounded"
                        ],
                        "description": "Dot shape."
                      },
                      "cornerSquareType": {
                        "type": "string",
                        "enum": [
                          "square",
                          "rounded",
                          "dot"
                        ],
                        "description": "Marker (finder pattern) shape — applied to the frame and centre."
                      },
                      "transparentBackground": {
                        "type": "boolean",
                        "description": "When true, the QR has no background fill (overrides backgroundColor)."
                      }
                    },
                    "additionalProperties": false
                  },
                  "brandingTemplateId": {
                    "type": "string",
                    "description": "Pro: apply a saved branding template (from GET /api/v1/branding-templates); its style/logo fill fields not set inline. Omit to inherit the account default branding."
                  },
                  "note": {
                    "type": "string",
                    "description": "Private internal note (≤2000 chars)."
                  },
                  "expiresAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Expiry (ISO 8601, UTC). Or use expiresIn."
                  },
                  "expiresIn": {
                    "type": "string",
                    "description": "Expiry as a duration from now, e.g. \"30d\", \"12h\", \"1y\". Wins over expiresAt."
                  },
                  "expiredBehavior": {
                    "type": "string",
                    "enum": [
                      "show_expired_page",
                      "redirect_fallback",
                      "gone"
                    ],
                    "description": "What happens after expiry (default show_expired_page). For QR links prefer redirect_fallback."
                  },
                  "expiredRedirectUrl": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Fallback destination for expiredBehavior=redirect_fallback."
                  },
                  "password": {
                    "type": "string",
                    "description": "Pro: password-protect the link. Hashed server-side; never returned."
                  },
                  "ogMode": {
                    "type": "string",
                    "enum": [
                      "none",
                      "custom"
                    ],
                    "description": "Pro: custom social preview mode."
                  },
                  "ogTitle": {
                    "type": "string",
                    "description": "Pro: custom preview title."
                  },
                  "ogDescription": {
                    "type": "string",
                    "description": "Pro: custom preview description."
                  },
                  "ogImageUrl": {
                    "type": "string",
                    "description": "Pro: custom preview image (https URL)."
                  },
                  "rules": {
                    "type": "array",
                    "description": "Pro: routing rules (ordered, first match wins).",
                    "items": {
                      "$ref": "#/components/schemas/LinkRule"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits — each create costs 1 credit. Buy more at /settings/billing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The requested custom slug is already taken.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input (destination, slug, or logo).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/links/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "getLink",
        "summary": "Get a link",
        "responses": {
          "200": {
            "description": "The link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Link not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateLink",
        "summary": "Update a link",
        "description": "Update any of name, destinationUrl (retarget the QR), tags, active, logoUrl, or style. The slug is immutable. Pass logoUrl/style as null to clear them.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "destinationUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "logoUrl": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "style": {
                    "oneOf": [
                      {
                        "type": "object",
                        "description": "Pro QR branding. Omit for the default black-on-white style.",
                        "properties": {
                          "dotColor": {
                            "type": "string",
                            "description": "Hex color for the data dots, e.g. #0a0a0a."
                          },
                          "cornerColor": {
                            "type": "string",
                            "description": "Hex color for the three markers (finder patterns)."
                          },
                          "backgroundColor": {
                            "type": "string",
                            "description": "Hex background color."
                          },
                          "dotType": {
                            "type": "string",
                            "enum": [
                              "rounded",
                              "dots",
                              "classy",
                              "classy-rounded",
                              "square",
                              "extra-rounded"
                            ],
                            "description": "Dot shape."
                          },
                          "cornerSquareType": {
                            "type": "string",
                            "enum": [
                              "square",
                              "rounded",
                              "dot"
                            ],
                            "description": "Marker (finder pattern) shape — applied to the frame and centre."
                          },
                          "transparentBackground": {
                            "type": "boolean",
                            "description": "When true, the QR has no background fill (overrides backgroundColor)."
                          }
                        },
                        "additionalProperties": false
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "brandingTemplateId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Apply a saved branding template (its style/logo fill gaps; existing values win), or null to detach."
                  },
                  "note": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Private internal note; null clears it."
                  },
                  "expiresAt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "Set expiry (ISO 8601, UTC) or null to clear it. Or use expiresIn."
                  },
                  "expiresIn": {
                    "type": "string",
                    "description": "Set expiry as a duration from now, e.g. \"30d\"."
                  },
                  "expiredBehavior": {
                    "type": "string",
                    "enum": [
                      "show_expired_page",
                      "redirect_fallback",
                      "gone"
                    ],
                    "description": "What happens after expiry."
                  },
                  "expiredRedirectUrl": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Fallback for redirect_fallback."
                  },
                  "password": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Pro: set a password, or null to remove protection. Never returned."
                  },
                  "ogMode": {
                    "type": "string",
                    "enum": [
                      "none",
                      "custom"
                    ],
                    "description": "Pro: custom social preview mode; none clears it."
                  },
                  "ogTitle": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Pro: custom preview title; null clears."
                  },
                  "ogDescription": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Pro: custom preview description; null clears."
                  },
                  "ogImageUrl": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Pro: custom preview image (https URL); null clears."
                  },
                  "rules": {
                    "type": "array",
                    "description": "Pro: replace the link's routing rules (authoritative array); [] clears.",
                    "items": {
                      "$ref": "#/components/schemas/LinkRule"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Link not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteLink",
        "summary": "Delete a link",
        "description": "Permanently delete the link and its short URL. The QR stops resolving.",
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Link not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/links/{id}/stats": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "getLinkStats",
        "summary": "Get 30-day scan analytics",
        "description": "Daily scan series plus country and device breakdowns for the last 30 days.",
        "responses": {
          "200": {
            "description": "Scan analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "linkId": {
                      "type": "string"
                    },
                    "totalScans": {
                      "type": "integer",
                      "description": "All-time scans."
                    },
                    "window": {
                      "type": "string",
                      "examples": [
                        "30d"
                      ]
                    },
                    "total30d": {
                      "type": "integer"
                    },
                    "days": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "count": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "byCountry": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "byDevice": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Link not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/links/{id}/qr": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "getLinkQr",
        "summary": "Render the link's QR image",
        "description": "Return the link's styled QR code (encodes the short URL). Public — no auth required — so the URL can be opened in a browser or embedded in an <img> tag.",
        "security": [],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "svg"
              ],
              "default": "png"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The QR image.",
            "content": {
              "image/png": {},
              "image/svg+xml": {}
            }
          },
          "404": {
            "description": "Link not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/branding-templates": {
      "get": {
        "operationId": "listBrandingTemplates",
        "summary": "List branding templates",
        "description": "Return every reusable QR branding preset on the account.",
        "responses": {
          "200": {
            "description": "The account's branding templates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BrandingTemplate"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBrandingTemplate",
        "summary": "Create a branding template",
        "description": "Save a reusable QR branding preset (Pro). Body: { name, style?, logoUrl? }.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "style": {
                    "type": "object",
                    "description": "Pro QR branding. Omit for the default black-on-white style.",
                    "properties": {
                      "dotColor": {
                        "type": "string",
                        "description": "Hex color for the data dots, e.g. #0a0a0a."
                      },
                      "cornerColor": {
                        "type": "string",
                        "description": "Hex color for the three markers (finder patterns)."
                      },
                      "backgroundColor": {
                        "type": "string",
                        "description": "Hex background color."
                      },
                      "dotType": {
                        "type": "string",
                        "enum": [
                          "rounded",
                          "dots",
                          "classy",
                          "classy-rounded",
                          "square",
                          "extra-rounded"
                        ],
                        "description": "Dot shape."
                      },
                      "cornerSquareType": {
                        "type": "string",
                        "enum": [
                          "square",
                          "rounded",
                          "dot"
                        ],
                        "description": "Marker (finder pattern) shape — applied to the frame and centre."
                      },
                      "transparentBackground": {
                        "type": "boolean",
                        "description": "When true, the QR has no background fill (overrides backgroundColor)."
                      }
                    },
                    "additionalProperties": false
                  },
                  "logoUrl": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Centre logo: https URL or base64 image data URL (≤64KB), or null."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingTemplate"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input (name or logo).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/branding-templates/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "getBrandingTemplate",
        "summary": "Get a branding template",
        "responses": {
          "200": {
            "description": "The template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingTemplate"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Template not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateBrandingTemplate",
        "summary": "Update a branding template",
        "description": "Update any of name, style, logoUrl. Pass style/logoUrl as null to clear them.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "style": {
                    "oneOf": [
                      {
                        "type": "object",
                        "description": "Pro QR branding. Omit for the default black-on-white style.",
                        "properties": {
                          "dotColor": {
                            "type": "string",
                            "description": "Hex color for the data dots, e.g. #0a0a0a."
                          },
                          "cornerColor": {
                            "type": "string",
                            "description": "Hex color for the three markers (finder patterns)."
                          },
                          "backgroundColor": {
                            "type": "string",
                            "description": "Hex background color."
                          },
                          "dotType": {
                            "type": "string",
                            "enum": [
                              "rounded",
                              "dots",
                              "classy",
                              "classy-rounded",
                              "square",
                              "extra-rounded"
                            ],
                            "description": "Dot shape."
                          },
                          "cornerSquareType": {
                            "type": "string",
                            "enum": [
                              "square",
                              "rounded",
                              "dot"
                            ],
                            "description": "Marker (finder pattern) shape — applied to the frame and centre."
                          },
                          "transparentBackground": {
                            "type": "boolean",
                            "description": "When true, the QR has no background fill (overrides backgroundColor)."
                          }
                        },
                        "additionalProperties": false
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "logoUrl": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandingTemplate"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Template not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBrandingTemplate",
        "summary": "Delete a branding template",
        "description": "Delete the preset. Links keep their baked colors; any sharing its logo lose it. Cannot be undone.",
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Template not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/qr": {
      "post": {
        "operationId": "renderQr",
        "summary": "Render an ad-hoc QR",
        "description": "Render a QR for an arbitrary value WITHOUT creating a link (a static, untracked code — useful for previews or one-offs). Defaults to JSON with a PNG data URL + SVG; format=png|svg returns raw image bytes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Text/URL to encode (≤2048 chars)."
                  },
                  "style": {
                    "type": "object",
                    "description": "Pro QR branding. Omit for the default black-on-white style.",
                    "properties": {
                      "dotColor": {
                        "type": "string",
                        "description": "Hex color for the data dots, e.g. #0a0a0a."
                      },
                      "cornerColor": {
                        "type": "string",
                        "description": "Hex color for the three markers (finder patterns)."
                      },
                      "backgroundColor": {
                        "type": "string",
                        "description": "Hex background color."
                      },
                      "dotType": {
                        "type": "string",
                        "enum": [
                          "rounded",
                          "dots",
                          "classy",
                          "classy-rounded",
                          "square",
                          "extra-rounded"
                        ],
                        "description": "Dot shape."
                      },
                      "cornerSquareType": {
                        "type": "string",
                        "enum": [
                          "square",
                          "rounded",
                          "dot"
                        ],
                        "description": "Marker (finder pattern) shape — applied to the frame and centre."
                      },
                      "transparentBackground": {
                        "type": "boolean",
                        "description": "When true, the QR has no background fill (overrides backgroundColor)."
                      }
                    },
                    "additionalProperties": false
                  },
                  "logoUrl": {
                    "type": "string"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "png",
                      "svg"
                    ],
                    "description": "Omit for JSON."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The rendered QR (JSON, or raw image bytes when format is set).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "png": {
                      "type": "string",
                      "description": "PNG data URL."
                    },
                    "svg": {
                      "type": "string"
                    }
                  }
                }
              },
              "image/png": {},
              "image/svg+xml": {}
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid value or logo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your API key from Settings → API keys. Send 'Authorization: Bearer <key>'."
      }
    },
    "schemas": {
      "Link": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "The short code. Immutable after creation."
          },
          "shortUrl": {
            "type": "string",
            "format": "uri",
            "description": "The scannable/shareable URL the QR encodes."
          },
          "destinationUrl": {
            "type": "string",
            "format": "uri",
            "description": "Where scans currently redirect (editable)."
          },
          "active": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "totalScans": {
            "type": "integer"
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "lastScanAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "logoUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "style": {
            "oneOf": [
              {
                "type": "object",
                "description": "Pro QR branding. Omit for the default black-on-white style.",
                "properties": {
                  "dotColor": {
                    "type": "string",
                    "description": "Hex color for the data dots, e.g. #0a0a0a."
                  },
                  "cornerColor": {
                    "type": "string",
                    "description": "Hex color for the three markers (finder patterns)."
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "Hex background color."
                  },
                  "dotType": {
                    "type": "string",
                    "enum": [
                      "rounded",
                      "dots",
                      "classy",
                      "classy-rounded",
                      "square",
                      "extra-rounded"
                    ],
                    "description": "Dot shape."
                  },
                  "cornerSquareType": {
                    "type": "string",
                    "enum": [
                      "square",
                      "rounded",
                      "dot"
                    ],
                    "description": "Marker (finder pattern) shape — applied to the frame and centre."
                  },
                  "transparentBackground": {
                    "type": "boolean",
                    "description": "When true, the QR has no background fill (overrides backgroundColor)."
                  }
                },
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "brandingTemplateId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The branding template this link's style/logo came from, or null."
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "description": "Private internal note about the link."
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the link expires (ISO 8601, UTC), or null for never."
          },
          "expiredBehavior": {
            "type": [
              "string",
              "null"
            ],
            "description": "After expiry: show_expired_page | redirect_fallback | gone (null when no expiry)."
          },
          "expiredRedirectUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Fallback destination for expiredBehavior=redirect_fallback, or null."
          },
          "passwordProtected": {
            "type": "boolean",
            "description": "Whether a password is required before redirecting. The hash is never returned."
          },
          "ogMode": {
            "type": "string",
            "description": "Custom social preview mode: none | custom."
          },
          "ogTitle": {
            "type": [
              "string",
              "null"
            ],
            "description": "Custom preview title, or null."
          },
          "ogDescription": {
            "type": [
              "string",
              "null"
            ],
            "description": "Custom preview description, or null."
          },
          "ogImageUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Custom preview image (https URL), or null."
          },
          "rules": {
            "type": "array",
            "description": "Routing rules (Pro), evaluated in order — first match wins, else the default destination.",
            "items": {
              "$ref": "#/components/schemas/LinkRule"
            }
          },
          "qr": {
            "type": "object",
            "description": "Auth-required URLs that render the styled QR image on demand.",
            "properties": {
              "pngUrl": {
                "type": "string",
                "format": "uri"
              },
              "svgUrl": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "QrStyle": {
        "type": "object",
        "description": "Pro QR branding. Omit for the default black-on-white style.",
        "properties": {
          "dotColor": {
            "type": "string",
            "description": "Hex color for the data dots, e.g. #0a0a0a."
          },
          "cornerColor": {
            "type": "string",
            "description": "Hex color for the three markers (finder patterns)."
          },
          "backgroundColor": {
            "type": "string",
            "description": "Hex background color."
          },
          "dotType": {
            "type": "string",
            "enum": [
              "rounded",
              "dots",
              "classy",
              "classy-rounded",
              "square",
              "extra-rounded"
            ],
            "description": "Dot shape."
          },
          "cornerSquareType": {
            "type": "string",
            "enum": [
              "square",
              "rounded",
              "dot"
            ],
            "description": "Marker (finder pattern) shape — applied to the frame and centre."
          },
          "transparentBackground": {
            "type": "boolean",
            "description": "When true, the QR has no background fill (overrides backgroundColor)."
          }
        },
        "additionalProperties": false
      },
      "LinkRule": {
        "type": "object",
        "description": "A routing rule. Evaluated in array order; the first rule whose conditions all match (and whose time window is open) serves its destination.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable id; omit on create (minted server-side), keep to preserve analytics history."
          },
          "name": {
            "type": "string",
            "description": "Optional label shown in analytics."
          },
          "destination": {
            "type": "string",
            "format": "uri",
            "description": "Where this rule sends the visitor."
          },
          "conditions": {
            "type": "array",
            "description": "AND-combined; an empty array matches any request (catch-all).",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "enum": [
                    "country",
                    "region",
                    "device",
                    "os",
                    "language",
                    "referrer",
                    "channel"
                  ]
                },
                "operator": {
                  "type": "string",
                  "enum": [
                    "equals",
                    "in",
                    "contains",
                    "starts_with"
                  ]
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "field",
                "operator",
                "values"
              ]
            }
          },
          "window": {
            "type": "object",
            "description": "Optional schedule (epoch ms, UTC): eligible while afterDate <= now < beforeDate.",
            "properties": {
              "afterDate": {
                "type": "number"
              },
              "beforeDate": {
                "type": "number"
              }
            }
          },
          "weight": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "description": "A/B weighted-random share (1–100). Give two or more catch-all rules a weight each to split traffic, drawn per request proportional to the weights (need not sum to 100)."
          }
        },
        "required": [
          "destination",
          "conditions"
        ],
        "additionalProperties": false
      },
      "BrandingTemplate": {
        "type": "object",
        "description": "A reusable Pro QR branding preset (logo + colors + shapes).",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "style": {
            "oneOf": [
              {
                "type": "object",
                "description": "Pro QR branding. Omit for the default black-on-white style.",
                "properties": {
                  "dotColor": {
                    "type": "string",
                    "description": "Hex color for the data dots, e.g. #0a0a0a."
                  },
                  "cornerColor": {
                    "type": "string",
                    "description": "Hex color for the three markers (finder patterns)."
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "Hex background color."
                  },
                  "dotType": {
                    "type": "string",
                    "enum": [
                      "rounded",
                      "dots",
                      "classy",
                      "classy-rounded",
                      "square",
                      "extra-rounded"
                    ],
                    "description": "Dot shape."
                  },
                  "cornerSquareType": {
                    "type": "string",
                    "enum": [
                      "square",
                      "rounded",
                      "dot"
                    ],
                    "description": "Marker (finder pattern) shape — applied to the frame and centre."
                  },
                  "transparentBackground": {
                    "type": "boolean",
                    "description": "When true, the QR has no background fill (overrides backgroundColor)."
                  }
                },
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "logoUrl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Centre-logo image URL, or null."
          },
          "isDefault": {
            "type": "boolean",
            "description": "Seeds new links that don't specify their own branding."
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable code to branch on."
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}