{
  "openapi": "3.1.0",
  "info": {
    "title": "BusyBoard API",
    "version": "1.1.0",
    "description": "REST API for programmatic access to BusyBoard availability data.\nThe API exposes cross-person busy/free data while keeping event details private.\n\nKeyless alternative: any BusyBoard share link (`/a/{slug}/{token}`) serves the\nsame structured availability JSON when requested with\n`Accept: application/json` — or with `?format=json` appended for clients that\ncan't set headers. The token in the URL is the credential; see\n`/.well-known/busyboard.json` for details.\n",
    "contact": {
      "url": "https://busyboard.app"
    },
    "license": {
      "name": "MIT"
    },
    "x-jentic-source-url": "https://busyboard.app/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://busyboard.app/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "summary": "Get current user profile",
        "operationId": "getMe",
        "description": "**Required scope:** none — any valid API key can call this.",
        "responses": {
          "200": {
            "description": "User profile with plan, limits, and usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "email": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    },
                    "imageUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "timezone": {
                      "type": "string",
                      "nullable": true
                    },
                    "showWeekends": {
                      "type": "boolean"
                    },
                    "workingHours": {
                      "type": "object",
                      "nullable": true
                    },
                    "plan": {
                      "type": "string",
                      "enum": [
                        "free",
                        "pro"
                      ]
                    },
                    "limits": {
                      "type": "object"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "activeCalendars": {
                          "type": "integer"
                        },
                        "groups": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/people": {
      "get": {
        "summary": "List accessible people",
        "operationId": "getPeople",
        "description": "Returns org members grouped by org, external connections, and a flat deduplicated list for name matching.\n\n**Required scope:** `read:people` (free plan).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "People list with pagination on the flat `data` array",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orgs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orgId": {
                            "type": "string"
                          },
                          "orgName": {
                            "type": "string"
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Person"
                            }
                          }
                        }
                      }
                    },
                    "connections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "connectionId": {
                            "type": "string"
                          },
                          "user": {
                            "$ref": "#/components/schemas/Person"
                          }
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Person"
                      },
                      "description": "Flat deduplicated list of all people (paginated)"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "summary": "List user's groups",
        "operationId": "getGroups",
        "description": "**Required scope:** `read:people` (free plan).",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Groups with member counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Group"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/availability": {
      "get": {
        "summary": "Get busy blocks for users",
        "operationId": "getAvailability",
        "description": "Returns busy blocks for specified users. Own blocks include full detail (responseStatus);\nother users' blocks show busy/free only (dual-detail privacy model).\n\n**Date interpretation:** `startDate` and `endDate` are interpreted as full calendar\ndays in the API key owner's timezone (NOT UTC). For example, a Bratislava user\npassing `startDate=2026-04-08&endDate=2026-04-08` queries the entire day of\nApril 8 in CET/CEST.\n\n**Required scope:** `read:freebusy` (free plan).\n",
        "parameters": [
          {
            "name": "userIds",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated user IDs (defaults to self)"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "YYYY-MM-DD; interpreted in the API key owner's timezone."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "YYYY-MM-DD; interpreted in the API key owner's timezone (inclusive end-of-day)."
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Busy blocks with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Block"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/availability/summary": {
      "get": {
        "summary": "Get availability summary",
        "operationId": "getAvailabilitySummary",
        "description": "Natural language summary with busyness score for the authenticated user.\n\n**Date interpretation:** `date` is interpreted in the API key owner's timezone\n(NOT UTC). When `range=week`, the Sunday-anchored week containing `date` is used.\n\n**Required scope:** `read:freebusy` (free plan).\n",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Target date YYYY-MM-DD, interpreted in the API key owner's timezone (defaults to today)."
          },
          {
            "name": "range",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week"
              ],
              "default": "day"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Summary with busyness score",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "range": {
                      "type": "string"
                    },
                    "startDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "endDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "meetingCount": {
                      "type": "integer"
                    },
                    "totalBusyHours": {
                      "type": "number"
                    },
                    "totalWorkingHours": {
                      "type": "number"
                    },
                    "busynessScore": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "nextFreeAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "summary": {
                      "type": "string",
                      "description": "Natural language summary"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/find-time": {
      "get": {
        "summary": "Find mutual free time",
        "operationId": "findTime",
        "description": "Find available time slots when multiple people are all free.\n\n**Date interpretation:** `startDate` and `endDate` are interpreted as full calendar\ndays in the API key owner's timezone (NOT UTC).\n\nAt least one of `userIds` or `externalConnectionIds` is required.\n\n**Required scope:** `read:freebusy` (free plan).\n",
        "parameters": [
          {
            "name": "userIds",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated user IDs (org members). At least one of userIds or externalConnectionIds is required."
          },
          {
            "name": "externalConnectionIds",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated external connection IDs (from `/people` `connections[].connectionId`). Their connected users' busy blocks and working hours are included."
          },
          {
            "name": "durationMinutes",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 5,
              "maximum": 480,
              "default": 30
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "YYYY-MM-DD; interpreted in the API key owner's timezone."
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "YYYY-MM-DD; interpreted in the API key owner's timezone (inclusive end-of-day)."
          },
          {
            "name": "withinWorkingHours",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available time slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slots": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Slot"
                      }
                    },
                    "durationMinutes": {
                      "type": "integer"
                    },
                    "userIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "externalConnectionIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "withinWorkingHours": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calendars": {
      "get": {
        "summary": "List connected calendar accounts",
        "operationId": "getCalendars",
        "description": "Returns calendar accounts with nested calendars. Never exposes OAuth tokens.\n\n**Required scope:** `read:freebusy` (free plan).\n",
        "responses": {
          "200": {
            "description": "Calendar accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string",
                            "enum": [
                              "google",
                              "outlook",
                              "apple"
                            ]
                          },
                          "email": {
                            "type": "string"
                          },
                          "syncStatus": {
                            "type": "string",
                            "enum": [
                              "active",
                              "syncing",
                              "paused",
                              "error",
                              "disconnected"
                            ]
                          },
                          "lastSyncAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "calendars": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "color": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "isPrimary": {
                                  "type": "boolean"
                                },
                                "isEnabled": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/working-hours": {
      "get": {
        "summary": "Get working hours configuration",
        "operationId": "getWorkingHours",
        "description": "Returns working hours for self or specified users (gated by shared org membership).\n\n**Required scope:** `read:freebusy` (free plan).\n",
        "parameters": [
          {
            "name": "userIds",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated user IDs (defaults to self)"
          }
        ],
        "responses": {
          "200": {
            "description": "Working hours configurations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workingHours": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string"
                          },
                          "workingHours": {
                            "type": "object",
                            "nullable": true
                          },
                          "timezone": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/booking-proposals": {
      "post": {
        "summary": "Propose a meeting time",
        "operationId": "createBookingProposal",
        "description": "Proposes a booking on someone's availability. Rides the same approval\ninfrastructure as public booking: this creates a `booking_requests`\nrow that lands in the sharer's notification bell exactly like a\nrequest from a human visiting their share page. The sharer approves\nor declines (or the booking confirms instantly if they've enabled\nauto-accept on that share). There is no confirm/write-through scope\nin v1 — confirmation always stays with a human.\n\nAuthorize the target with exactly one of `shareToken` (the token\nsegment from a share URL — the same trust as a human holding the\nlink) or `connectionId` (one of the caller's own external\nconnections, from `/people` `connections[].connectionId`).\n\nSlots are re-verified server-side inside a per-user advisory lock at\nwrite time; a slot taken between your availability read and this\ncall returns `409 slot_unavailable` — re-fetch and retry with a new\n`idempotencyKey`.\n\n**Idempotency:** `idempotencyKey` is required. Retrying the same\nrequest with the same key returns the original outcome (status code\nincluded) with the `X-Idempotency-Replayed: true` header instead of\ncreating a second proposal — safe for agents that retry on timeout.\n\n**Required scope:** `propose:booking` (Pro plan — this is a write\nscope, gated per the scope model above).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookingProposalRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Proposal created. `status` is `confirmed` when the share has\nauto-accept enabled (the booking is already on the sharer's\ncalendar), or `pending` when it's awaiting the sharer's approval\nfrom their notification bell.\n",
            "headers": {
              "X-Idempotency-Replayed": {
                "$ref": "#/components/headers/X-Idempotency-Replayed"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingProposalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, or the requested slot fails validation\n(not aligned to 15 minutes, inside the 1-hour minimum notice, or\npast the 28-day horizon) — `code` is `invalid_body` or\n`invalid_slot`. Also returned for `self_booking` (proposing\nagainst your own share/connection).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The API key is missing the `propose:booking` scope\n(`code: \"insufficient_scope\"`), or the caller's plan doesn't\ninclude API write access (`code: \"plan_required\"` — propose is\nPro-only per the scope model).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The share token or connection doesn't resolve, or booking isn't\nenabled on that share — always `code: \"not_found\"` (deliberately\nnot distinguished, no oracle for probing share state).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`code: \"slot_unavailable\"` — the slot was taken between your\nread and this call; re-fetch availability and retry with a new\n`idempotencyKey`. `code: \"duplicate_pending\"` — a pending\nrequest for this exact time already exists in the sharer's\nqueue. `code: \"unavailable\"` — booking is temporarily\nunavailable (e.g. no destination calendar resolved).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`code: \"rate_limited\"` — proposals are limited to 10/minute per\nuser (see `Retry-After`). `code: \"daily_cap\"` — the sharer's\nrolling 24h booking capacity is exhausted; try again tomorrow.\n",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until the rate limit resets (present on `rate_limited` only)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key with `bb_live_` prefix. Create at Settings > API & Integrations.\n\n**Scopes** (agent-readiness A2.1): every key carries a set of scopes.\n`read:freebusy` and `read:people` are read scopes, available on the\n**free plan**. `propose:booking` and `manage:preferences` (reserved,\nnot yet a live feature) are write scopes and require a **Pro plan**.\nNew keys default to read-only. OpenAPI's HTTP-bearer auth has no\nformal scope field, so each path below states the scope it requires\nin its description. `GET /me` needs no scope — any valid key can call\nit. A request with a key missing the required scope receives `403`\nwith `code: \"insufficient_scope\"`.\n"
      }
    },
    "schemas": {
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "nullable": true,
            "example": "Europe/Prague"
          }
        }
      },
      "Block": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "isAllDay": {
            "type": "boolean"
          },
          "responseStatus": {
            "type": "string",
            "enum": [
              "accepted",
              "tentative",
              "needsAction"
            ],
            "description": "Only included for own blocks (dual-detail model)"
          },
          "mergedCount": {
            "type": "integer"
          }
        }
      },
      "Slot": {
        "type": "object",
        "properties": {
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "emoji": {
            "type": "string",
            "nullable": true
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "memberCount": {
            "type": "integer"
          },
          "memberIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "example": "validation_error"
          },
          "hint": {
            "type": "string",
            "nullable": true,
            "description": "Machine-readable remediation guidance (agent-readiness §A2.2/§A4\nstructured-error convention). Present on newer endpoints\n(`/booking-proposals`); older v1 routes may omit it.\n"
          }
        }
      },
      "BookingProposalRequest": {
        "type": "object",
        "description": "Exactly one of `shareToken` or `connectionId` must be provided.\n",
        "required": [
          "startTime",
          "durationMinutes",
          "idempotencyKey"
        ],
        "properties": {
          "shareToken": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "description": "The token segment from a share URL (`/a/{slug}/{token}`) — same trust as a human holding the link."
          },
          "connectionId": {
            "type": "string",
            "format": "uuid",
            "description": "One of the caller's own external connections (see `/people` `connections[].connectionId`)."
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 with offset. Must align to 15 minutes, be at least 1 hour out, and within 28 days."
          },
          "durationMinutes": {
            "type": "integer",
            "minimum": 15,
            "maximum": 120
          },
          "note": {
            "type": "string",
            "maxLength": 500
          },
          "idempotencyKey": {
            "type": "string",
            "minLength": 8,
            "maxLength": 128,
            "description": "Required. Caller-generated key scoping a retry-safe request. A\nreplayed call with the same key returns the original outcome\nwith the `X-Idempotency-Replayed: true` response header instead\nof creating a duplicate proposal.\n"
          }
        }
      },
      "BookingProposalResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "pending"
            ],
            "description": "`confirmed` when the sharer's share has auto-accept on; `pending` when it lands in the sharer's notification bell awaiting approval."
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "durationMinutes": {
            "type": "integer"
          },
          "with": {
            "type": "string",
            "description": "The sharer's display name"
          },
          "hint": {
            "type": "string",
            "nullable": true,
            "description": "Present when `status` is `pending` — explains the approval step."
          }
        }
      }
    },
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "Number of items to return"
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        },
        "description": "Number of items to skip"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "schema": {
          "type": "integer",
          "example": 100
        },
        "description": "Requests allowed per minute"
      },
      "X-RateLimit-Remaining": {
        "schema": {
          "type": "integer"
        },
        "description": "Requests remaining in current window"
      },
      "X-RateLimit-Reset": {
        "schema": {
          "type": "integer"
        },
        "description": "Unix timestamp (seconds) when the rate limit resets"
      },
      "X-Request-Id": {
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Unique request ID for tracing. Echoed if provided by client."
      },
      "X-Idempotency-Replayed": {
        "schema": {
          "type": "string",
          "enum": [
            "true"
          ]
        },
        "description": "Present (value `\"true\"`) when a response was served from a prior\nidempotent call with the same `idempotencyKey`, rather than newly\nexecuted. Absent on a fresh execution.\n"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}