{
  "openapi": "3.1.0",
  "info": {
    "title": "SwingFactor API",
    "version": "1.0.0",
    "description": "The SwingFactor API: the same versioned contract the SwingFactor web app runs on.\n\n## Base URL\n\nEvery path in this reference is relative to `https://api.swingfactor.ai/v1` — `GET /me` is `GET https://api.swingfactor.ai/v1/me`.\n\n## Authentication\n\nSend a token on every request, as a bearer token:\n\n```\nAuthorization: Bearer swingfactor_sk_…\n```\n\nThe token is either an **API key** — `swingfactor_sk_` then 43 characters — or a signed-in session's access token. A person\ncreates a key in the SwingFactor app, under **Settings → API**; it is shown once, when it is made, and never again. `GET\n/me/api-keys` lists the caller's keys without their secrets, and `DELETE /me/api-keys/{id}` revokes one.\n\nA key acts as the person who made it, with exactly their access — every workspace they belong to, in the role they hold\nthere — and nothing else: it has no scopes. Three things need the person themselves rather than a key: finishing\nonboarding, closing the account and issuing a key. A missing, malformed or revoked token is `401 unauthorized`.\n\nOnly `/openapi.json` and `/docs` need no token.\n\n## Try it\n\n```bash\ncurl https://api.swingfactor.ai/v1/me -H \"Authorization: Bearer $API_KEY\"\ncurl https://api.swingfactor.ai/v1/workspaces -H \"Authorization: Bearer $API_KEY\"\n```\n\n`GET /workspaces` gives the ids every other path is built from.\n\n## Requests and responses\n\n- Bodies are JSON (`Content-Type: application/json`), and so is every answer except a `204`.\n- Ids are UUIDs, and times ISO 8601 strings in UTC.\n- A resource carries `links`: the `/v1/…` paths of itself and what it relates to.\n- A list is `{ \"items\": [...], \"total\", \"offset\", \"limit\" }`. Every list is complete today, in one page.\n- Every answer carries `X-Request-Id`. Quote it when something goes wrong.\n\n## Errors\n\nAnything but a `2xx` is one envelope:\n\n```json\n{ \"error\": { \"code\": \"workspace_not_found\", \"message\": \"No such workspace.\", \"details\": {} } }\n```\n\n`code` is stable and meant for code; `message` is for a person; `details` is optional. The status follows the\ncode:\n\n| Status | Means |\n| --- | --- |\n| `400` | The request is wrong: a bad path, query or header, or something the plan does not allow (`plan_limit`, `seat_limit`). |\n| `401` | No valid token (`unauthorized`). |\n| `403` | The token is valid, but its person may not do this (`forbidden`) — a viewer editing, say. |\n| `404` | It does not exist, or the caller cannot see it (`*_not_found`). |\n| `409` | It already exists, or conflicts with what does (`*_exists`, `idempotency_key_reused`). |\n| `422` | The body cannot be taken as it is. `details.fields` has a message per field (`invalid_*`, `*_required`). |\n| `429` | Too many requests (`rate_limited`). Wait, then retry. |\n| `503` | A service this depends on is not configured. |\n\n## Retrying a create\n\nA `POST` may carry an `Idempotency-Key` header — any unique string, a UUID say. Sent again with the same key, method,\npath and body within 24 hours, it answers with the first response rather than creating twice, and says so with\n`Idempotency-Replayed: true`. The same key on a different request is `409 idempotency_key_reused`. Only a success is\nremembered, so a failed first attempt may simply be retried.\n\n## Versions\n\nThe major version is in the path (`/v1`). Every answer says which version served it in `SwingFactor-Version`. A\nrequest may send `SwingFactor-Version` to pin one; asking for another major is `400 version_mismatch`, because crossing\na major changes the URL.\n\n## What SwingFactor holds\n\nA **workspace** asks **questions**. A question chooses between **options**, and may be tested under **scenarios** —\nwhat could happen to whoever chooses. It is broken into **propositions** (claims), each with **evidence** that\nsupports, contradicts or qualifies it. **Dependencies** say which propositions rest on which. A proposition's uncertain\nquantities are **variables**; each party's plausible **range** for one is an **estimate**, and a **break-even** is the\nvalue at which a named consequence changes. **Challenges** object to any part of it, and the **history** records every\nchange. SwingFactor computes, in SQL, what could change the choice — the **investigation** — and never scores or ranks\nan option.\n\n## Only a person accepts\n\nEverything written through the API — or by SwingFactor's drafting — arrives `proposed`. It counts for nothing until a\nperson decides it: `POST …/decision` with `{ \"status\": \"accepted\" }` (or `rejected`, or `proposed` to reopen),\nand optionally a `reason`. Everything that computes — propagation, the investigation, the briefing — reads accepted\nrows alone. New words on a decided row reopen it.\n\n## Where to start\n\n1. `GET /workspaces` — the workspace id, and your role in it.\n2. `GET /questions?workspace={id}` — its questions, then every public one.\n3. `GET /workspaces/{id}/questions/{questionId}/briefing` — one question, whole: the model and what the database\n   concludes from it. `…/investigation` is what could change the choice, and why.\n4. `GET /workspaces/{id}/review` — what waits on a person across the workspace.\n\nTo ask a question, `POST /workspaces/{id}/questions` with a `title` and the `options` it chooses\nbetween (`[{ \"label\": \"…\" }]`, two at least to be worth modelling); asking one spends the month's allowance, and Observer asks none. `POST\n…/questions/{questionId}/drafts` has SwingFactor draft its model; `GET /workspaces/{id}/question-status` says how far\nit has got.\n\nIds come from the lists; each resource's `links` give the paths to what hangs off it.",
    "x-jentic-source-url": "https://api.swingfactor.ai/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.swingfactor.ai/v1",
      "description": "SwingFactor API, v1"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "me"
        ],
        "summary": "The signed-in person",
        "responses": {
          "200": {
            "description": "Their profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "None yet: onboarding has not saved one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getMe"
      },
      "put": {
        "tags": [
          "me"
        ],
        "summary": "Save the two names and the picture",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The saved profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "putMe"
      }
    },
    "/me/api-keys": {
      "get": {
        "tags": [
          "me"
        ],
        "summary": "The caller's API keys, without their secrets",
        "responses": {
          "200": {
            "description": "The keys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyList"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getMeApiKeys"
      }
    },
    "/me/api-keys/{id}": {
      "delete": {
        "tags": [
          "me"
        ],
        "summary": "Revoke a key",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The api-key's id (a UUID)."
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "deleteMeApiKey"
      }
    },
    "/me/invitations/{token}/accept": {
      "post": {
        "tags": [
          "me"
        ],
        "summary": "Accept an invitation into a workspace",
        "description": "Refused unless the caller is signed in with the address it was sent to.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "token",
            "in": "path",
            "description": "The invitation's token."
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Any unique string. The same key, method, path and body within 24 hours answers with the first response instead of creating again; the same key on a different request is 409 `idempotency_key_reused`."
          }
        ],
        "responses": {
          "200": {
            "description": "The workspace joined.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Joined"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sent to somebody else.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such invitation, or it has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postMeInvitationAccept"
      }
    },
    "/workspaces": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "The workspaces the caller can see, with their role in each",
        "responses": {
          "200": {
            "description": "Them.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceList"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaces"
      },
      "post": {
        "tags": [
          "workspaces"
        ],
        "summary": "Create a workspace; the caller owns it",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Any unique string. The same key, method, path and body within 24 hours answers with the first response instead of creating again; the same key on a different request is 409 `idempotency_key_reused`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The plan holds no more.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaces"
      }
    },
    "/workspaces/{id}": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "One workspace, with the caller's role in it",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "It.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such one, or not yours to see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspace"
      },
      "patch": {
        "tags": [
          "workspaces"
        ],
        "summary": "Rename a workspace",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspacePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renamed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "patchWorkspace"
      },
      "delete": {
        "tags": [
          "workspaces"
        ],
        "summary": "Delete a workspace and everything in it (owner only)",
        "description": "Any subscription it has is cancelled first; if that fails, nothing is deleted.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Owner only.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "deleteWorkspace"
      }
    },
    "/workspaces/{id}/export": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "Everything SwingFactor holds for this workspace",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "A download.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Export"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceExport"
      }
    },
    "/workspaces/{id}/transfer": {
      "post": {
        "tags": [
          "workspaces"
        ],
        "summary": "Hand a workspace to somebody else (owner only)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceTransfer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Handed over.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Owner only.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Nobody with that address has an account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceTransfer"
      }
    },
    "/workspaces/{id}/members": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "Everybody with access, the owner included. Any member may read it.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "The members.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberList"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceMembers"
      }
    },
    "/workspaces/{id}/members/{userId}": {
      "patch": {
        "tags": [
          "workspaces"
        ],
        "summary": "Change somebody's role (owner only)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "userId",
            "in": "path",
            "description": "The member's user id (a UUID)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleBody"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content."
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Owner only.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "patchWorkspaceMember"
      },
      "delete": {
        "tags": [
          "workspaces"
        ],
        "summary": "Remove somebody (owner only)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "userId",
            "in": "path",
            "description": "The member's user id (a UUID)."
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Owner only.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "deleteWorkspaceMember"
      }
    },
    "/workspaces/{id}/invitations": {
      "get": {
        "tags": [
          "workspaces"
        ],
        "summary": "Invitations still waiting (owner only)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "Them.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationList"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Owner only.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceInvitations"
      },
      "post": {
        "tags": [
          "workspaces"
        ],
        "summary": "Invite somebody by email (owner only)",
        "description": "Only the person signed in with that address can accept it. A pending invitation holds a seat.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Any unique string. The same key, method, path and body within 24 hours answers with the first response instead of creating again; the same key on a different request is 409 `idempotency_key_reused`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The invitation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Owner only, or no seat left.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceInvitations"
      }
    },
    "/workspaces/{id}/invitations/{invitationId}": {
      "delete": {
        "tags": [
          "workspaces"
        ],
        "summary": "Withdraw an invitation (owner only)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "invitationId",
            "in": "path",
            "description": "The invitation's id (a UUID)."
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "deleteWorkspaceInvitation"
      }
    },
    "/workspaces/{id}/entitlements": {
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "What this workspace's plan allows, and how much of it is used",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "The plan, its status, its limits and the counts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entitlements"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceEntitlements"
      }
    },
    "/workspaces/{id}/checkout": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "Start paying for a plan",
        "description": "Refused with 409 `already_subscribed` while a subscription is live: a second checkout would start a second subscription, and the first would go on billing. Change plan instead.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Where to send the browser.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectUrl"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Only the owner manages billing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Already subscribed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceCheckout"
      }
    },
    "/workspaces/{id}/plan": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "Move plan, cadence or quantity",
        "description": "Up is immediate and prorated; down — a smaller plan, fewer units, annual to monthly, or cancelling to the free plan — waits for the end of the period already paid for. With no live subscription it answers with a checkout.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What the change came to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanChangeResult"
                }
              }
            }
          },
          "400": {
            "description": "Billing is in a state this cannot change.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Only the owner manages billing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "More in use than the target holds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspacePlan"
      }
    },
    "/workspaces/{id}/plan/preview": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "What a change would cost today",
        "description": "Changes nothing. A change that waits is nothing due today — the period is already paid for.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The amount due today, or null.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanChangePreview"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Only the owner manages billing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspacePlanPreview"
      }
    },
    "/workspaces/{id}/cancel": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "Stop at the end of the period already paid for",
        "description": "Nothing changes until then, and nothing is deleted after: what was made stays readable, and buying again picks up where it stopped. The subscription says so from the next webhook on.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "responses": {
          "204": {
            "description": "It will stop at the end of the period."
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Only the owner manages billing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "There is no subscription running to stop.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceCancel"
      }
    },
    "/workspaces/{id}/billing-portal": {
      "post": {
        "tags": [
          "billing"
        ],
        "summary": "Stripe's billing portal — payment method, invoices, cancelling",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "Where to send the browser.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectUrl"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Only the owner manages billing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Never billed, so there is nothing to manage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceBillingPortal"
      }
    },
    "/workspaces/{id}/invoices": {
      "get": {
        "tags": [
          "billing"
        ],
        "summary": "What has been paid, newest first",
        "description": "Each links to Stripe's hosted page, which is where the VAT invoice lives.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "Newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentList"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Only the owner manages billing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceInvoices"
      }
    },
    "/workspaces/{id}/files": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Start an upload",
        "description": "Creates the file, pending, and signs where its bytes go. Refused before anything is stored when the kind does not take its type or size, or the plan does not allow another.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Any unique string. The same key, method, path and body within 24 hours answers with the first response instead of creating again; the same key on a different request is 409 `idempotency_key_reused`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The pending file, and where to send its bytes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileCreated"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not an editor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A type, a size or a plan limit refused it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceFiles"
      },
      "get": {
        "tags": [
          "files"
        ],
        "summary": "The ready files, newest first",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "sources"
              ],
              "description": "Only files of this kind. Absent: every kind."
            },
            "required": false,
            "description": "Only files of this kind. Absent: every kind.",
            "name": "kind",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The files.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceFiles"
      }
    },
    "/workspaces/{id}/files/{fileId}/upload": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Sign again where a pending file’s bytes go",
        "description": "For a retry, or an upload URL that expired. A ready file has nothing left to upload.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "fileId",
            "in": "path",
            "description": "The file's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "Where to send the bytes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Upload"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Already uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceFileUpload"
      }
    },
    "/workspaces/{id}/files/{fileId}/complete": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Say the bytes have arrived",
        "description": "Checks what Storage holds — its size and type, and that its first bytes are what the type says — and makes the file ready. A file that fails is removed, row and bytes. Idempotent.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "fileId",
            "in": "path",
            "description": "The file's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "The ready file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The bytes have not arrived.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "What arrived is not what the file said it was; it has been removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceFileComplete"
      }
    },
    "/workspaces/{id}/files/{fileId}": {
      "get": {
        "tags": [
          "files"
        ],
        "summary": "One file",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "fileId",
            "in": "path",
            "description": "The file's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "The file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceFile"
      },
      "delete": {
        "tags": [
          "files"
        ],
        "summary": "Delete a file, and its bytes",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "fileId",
            "in": "path",
            "description": "The file's id (a UUID)."
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "deleteWorkspaceFile"
      }
    },
    "/workspaces/{id}/files/{fileId}/text": {
      "get": {
        "tags": [
          "files"
        ],
        "summary": "A file’s text, as it was read out",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "fileId",
            "in": "path",
            "description": "The file's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "Its text, in order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileText"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceFileText"
      }
    },
    "/workspaces/{id}/files/{fileId}/read": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Read a file’s text out again",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "fileId",
            "in": "path",
            "description": "The file's id (a UUID)."
          }
        ],
        "responses": {
          "202": {
            "description": "It is waiting to be read.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No ready file of a kind that is read.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceFileRead"
      }
    },
    "/workspaces/{id}/files/{fileId}/download": {
      "get": {
        "tags": [
          "files"
        ],
        "summary": "Where to fetch a file’s bytes",
        "description": "Signed when asked for, for five minutes. A download, named after the file — or, with `inline=true`, shown in place, for a type that cannot run script (raster images, PDF, plain text); any other type is still a download.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "fileId",
            "in": "path",
            "description": "The file's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "description": "true: shown in place where the type allows. Absent or false: a download."
            },
            "required": false,
            "description": "true: shown in place where the type allows. Absent or false: a download.",
            "name": "inline",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A signed URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Download"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Not uploaded yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceFileDownload"
      }
    },
    "/workspaces/{id}/suggestions": {
      "post": {
        "tags": [
          "questions"
        ],
        "summary": "Suggest options or scenarios for a question being asked",
        "description": "For the new-question wizard: SwingFactor suggests options, or scenarios, from the question as it stands. Nothing is saved; what the person keeps is sent with the question when it is asked, marked suggested, and what they reject is kept rejected. An editor on a plan that asks.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What it suggests, less anything the question already has or was rejected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suggestions"
                }
              }
            }
          },
          "400": {
            "description": "The plan does not ask: `plan_limit`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Only the workspace’s editors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "No model is configured, or none may take a private question: `ai_unavailable`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceSuggestions"
      }
    },
    "/questions": {
      "get": {
        "tags": [
          "questions"
        ],
        "summary": "What a workspace sees: its own questions, then every public one",
        "description": "Readable on every plan. With `workspace`, that workspace’s questions come first, whatever their visibility — so a workspace that moves down still sees what it asked — then public questions from everywhere else. Without it, the public ones alone. Each links to its own workspace, where it can be read too.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "A workspace whose own questions come first. Absent: public questions alone."
            },
            "required": false,
            "description": "A workspace whose own questions come first. Absent: public questions alone.",
            "name": "workspace",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The questions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisibleQuestionList"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getQuestions"
      }
    },
    "/workspaces/{id}/questions": {
      "get": {
        "tags": [
          "questions"
        ],
        "summary": "List a workspace’s questions (newest first)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "The questions the caller may read.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionList"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceQuestions"
      },
      "post": {
        "tags": [
          "questions"
        ],
        "summary": "Ask a question",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Any unique string. The same key, method, path and body within 24 hours answers with the first response instead of creating again; the same key on a different request is 409 `idempotency_key_reused`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AskQuestionBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The question, with whatever it was asked with.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          },
          "400": {
            "description": "The plan does not allow it: `plan_limit`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Viewers cannot ask.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceQuestions"
      }
    },
    "/workspaces/{id}/questions/{questionId}": {
      "get": {
        "tags": [
          "questions"
        ],
        "summary": "One question",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "The question.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such question, or not one the caller may read.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceQuestion"
      },
      "patch": {
        "tags": [
          "questions"
        ],
        "summary": "Update a question",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionPatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated question.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          },
          "400": {
            "description": "The plan does not allow a private question: `plan_limit`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such question.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "patchWorkspaceQuestion"
      },
      "delete": {
        "tags": [
          "questions"
        ],
        "summary": "Delete a question and everything under it",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "deleteWorkspaceQuestion"
      }
    },
    "/workspaces/{id}/asking": {
      "post": {
        "tags": [
          "questions"
        ],
        "summary": "Start asking a question, a step at a time",
        "description": "The wizard’s first step, left: the question is written, still being asked, and the month’s allowance spent. Its workspace’s alone, and not drafted, until it is asked.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Any unique string. The same key, method, path and body within 24 hours answers with the first response instead of creating again; the same key on a different request is 409 `idempotency_key_reused`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveAskingBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The question being asked, and what the wizard holds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asking"
                }
              }
            }
          },
          "400": {
            "description": "The plan does not allow it: `plan_limit`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Viewers cannot ask.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceAsking"
      }
    },
    "/workspaces/{id}/questions/{questionId}/asking": {
      "get": {
        "tags": [
          "questions"
        ],
        "summary": "A question being asked, as the wizard picks it up again",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "The question, its options and scenarios, the suggestions rejected, and its sources.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asking"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such question in a workspace the caller belongs to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceQuestionAsking"
      },
      "put": {
        "tags": [
          "questions"
        ],
        "summary": "Save a step of asking a question",
        "description": "Each part sent is set whole — the options listed are the options, and one left out is deleted — through the same checks as one at a time. A refusal leaves the step as it was.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveAskingBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The question being asked, and what the wizard holds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asking"
                }
              }
            }
          },
          "400": {
            "description": "It is asked already: `question_asked`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such question.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "putWorkspaceQuestionAsking"
      }
    },
    "/workspaces/{id}/questions/{questionId}/asking/finish": {
      "post": {
        "tags": [
          "questions"
        ],
        "summary": "Ask a question the wizard has built",
        "description": "It leaves the wizard: it can be drafted, and a public one is read by anybody signed in. Asking one asked already changes nothing.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "The question, asked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such question.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Fewer than two options: `options_required`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceQuestionAskingFinish"
      }
    },
    "/workspaces/{id}/questions/{questionId}/options": {
      "get": {
        "tags": [
          "questions"
        ],
        "summary": "A question’s options, in order",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "The options.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionOptionList"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceQuestionOptions"
      },
      "post": {
        "tags": [
          "questions"
        ],
        "summary": "Add an option",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Any unique string. The same key, method, path and body within 24 hours answers with the first response instead of creating again; the same key on a different request is 409 `idempotency_key_reused`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionOptionBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The option.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionOption"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such question.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceQuestionOptions"
      }
    },
    "/workspaces/{id}/questions/{questionId}/options/{optionId}": {
      "patch": {
        "tags": [
          "questions"
        ],
        "summary": "Update an option",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "optionId",
            "in": "path",
            "description": "The option's id (a UUID)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionOptionPatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated option.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionOption"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such option.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "patchWorkspaceQuestionOption"
      },
      "delete": {
        "tags": [
          "questions"
        ],
        "summary": "Delete an option",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "optionId",
            "in": "path",
            "description": "The option's id (a UUID)."
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "deleteWorkspaceQuestionOption"
      }
    },
    "/workspaces/{id}/questions/{questionId}/options/{optionId}/move": {
      "post": {
        "tags": [
          "questions"
        ],
        "summary": "Move an option one place",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "optionId",
            "in": "path",
            "description": "The option's id (a UUID)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The options, in their new order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionOptionOrder"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such option.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceQuestionOptionMove"
      }
    },
    "/workspaces/{id}/questions/{questionId}/scenarios": {
      "get": {
        "tags": [
          "questions"
        ],
        "summary": "The scenarios a question is tested under",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          }
        ],
        "responses": {
          "200": {
            "description": "The scenarios.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionScenarioList"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getWorkspaceQuestionScenarios"
      },
      "post": {
        "tags": [
          "questions"
        ],
        "summary": "Add a scenario",
        "description": "A case the question is tested under. Propositions and ranges may hold under it.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Any unique string. The same key, method, path and body within 24 hours answers with the first response instead of creating again; the same key on a different request is 409 `idempotency_key_reused`."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionScenarioBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The scenario.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionScenario"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such question.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "postWorkspaceQuestionScenarios"
      }
    },
    "/workspaces/{id}/questions/{questionId}/scenarios/{scenarioId}": {
      "patch": {
        "tags": [
          "questions"
        ],
        "summary": "Update a scenario",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "scenarioId",
            "in": "path",
            "description": "The scenario's id (a UUID)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionScenarioPatchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated scenario.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionScenario"
                }
              }
            }
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such scenario.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "patchWorkspaceQuestionScenario"
      },
      "delete": {
        "tags": [
          "questions"
        ],
        "summary": "Delete a scenario",
        "description": "What held under it then holds under none; the history says so.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "description": "The workspace's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "questionId",
            "in": "path",
            "description": "The question's id (a UUID)."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "scenarioId",
            "in": "path",
            "description": "The scenario's id (a UUID)."
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "401": {
            "description": "No token, or not a valid one: `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such scenario.",
            "content": {
              "application/json": {
                "schema": {
[...]
