{
  "openapi": "3.1.0",
  "info": {
    "title": "MACH Base",
    "version": "1.0.0",
    "description": "Fast, low-cost Base data for autonomous agents. No API keys, no subscriptions; pay per call with USDC over x402.",
    "contact": {
      "name": "MACH API",
      "email": "api@mach.gallery",
      "url": "https://api.mach.gallery/brand"
    },
    "x-jentic-source-url": "https://api.mach.gallery/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.mach.gallery"
    }
  ],
  "paths": {
    "/api/base/block-number": {
      "get": {
        "operationId": "getbase_block_number",
        "summary": "Get the current Base mainnet block number (latest chain height) for an autonomous agent.",
        "description": "Get the current Base mainnet block number (latest chain height) for an autonomous agent.",
        "tags": [
          "base",
          "blockchain",
          "block-height",
          "onchain",
          "rpc"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        }
      }
    },
    "/api/base/gas-price": {
      "get": {
        "operationId": "getbase_gas_price",
        "summary": "Get the current gas price on Base mainnet in wei for transaction fee estimation.",
        "description": "Get the current gas price on Base mainnet in wei for transaction fee estimation.",
        "tags": [
          "base",
          "gas",
          "fees",
          "onchain",
          "rpc"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        }
      }
    },
    "/api/base/wallet-balance": {
      "post": {
        "operationId": "postbase_wallet_balance",
        "summary": "Check the native ETH balance of a wallet or address on Base mainnet.",
        "description": "Check the native ETH balance of a wallet or address on Base mainnet.",
        "tags": [
          "base",
          "wallet",
          "balance",
          "onchain",
          "rpc"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Wallet or account address on Base mainnet."
                  }
                },
                "required": [
                  "address"
                ]
              },
              "example": {
                "address": "0x0000000000000000000000000000000000000001"
              }
            }
          }
        }
      }
    },
    "/api/base/erc20-balance": {
      "post": {
        "operationId": "postbase_erc20_balance",
        "summary": "Check a USDC or other ERC-20 token balance for a wallet on Base mainnet.",
        "description": "Check a USDC or other ERC-20 token balance for a wallet on Base mainnet.",
        "tags": [
          "base",
          "erc20",
          "token",
          "balance",
          "onchain"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "ERC-20 or token contract address on Base mainnet."
                  },
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Wallet or account address on Base mainnet."
                  }
                },
                "required": [
                  "token",
                  "address"
                ]
              },
              "example": {
                "token": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "address": "0x0000000000000000000000000000000000000001"
              }
            }
          }
        }
      }
    },
    "/api/base/nonce": {
      "post": {
        "operationId": "postbase_nonce",
        "summary": "Get the current transaction nonce for a Base wallet before broadcasting a transaction.",
        "description": "Get the current transaction nonce for a Base wallet before broadcasting a transaction.",
        "tags": [
          "base",
          "wallet",
          "nonce",
          "onchain",
          "rpc"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Wallet or account address on Base mainnet."
                  }
                },
                "required": [
                  "address"
                ]
              },
              "example": {
                "address": "0x0000000000000000000000000000000000000001"
              }
            }
          }
        }
      }
    },
    "/api/base/contract-code": {
      "post": {
        "operationId": "postbase_contract_code",
        "summary": "Check whether an address is a smart contract or EOA on Base mainnet by reading deployed bytecode.",
        "description": "Check whether an address is a smart contract or EOA on Base mainnet by reading deployed bytecode.",
        "tags": [
          "base",
          "contract",
          "bytecode",
          "onchain",
          "verification"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Wallet or account address on Base mainnet."
                  }
                },
                "required": [
                  "address"
                ]
              },
              "example": {
                "address": "0x4200000000000000000000000000000000000006"
              }
            }
          }
        }
      }
    },
    "/api/base/allowance": {
      "post": {
        "operationId": "postbase_allowance",
        "summary": "Check an ERC-20 token allowance on Base for an owner and spender.",
        "description": "Check an ERC-20 token allowance on Base for an owner and spender.",
        "tags": [
          "base",
          "erc20",
          "allowance",
          "approvals",
          "onchain"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "ERC-20 or token contract address on Base mainnet."
                  },
                  "owner": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "ERC-20 token owner address on Base mainnet."
                  },
                  "spender": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "ERC-20 spender address whose allowance is being checked."
                  }
                },
                "required": [
                  "token",
                  "owner",
                  "spender"
                ]
              },
              "example": {
                "token": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "owner": "0x0000000000000000000000000000000000000001",
                "spender": "0x0000000000000000000000000000000000000002"
              }
            }
          }
        }
      }
    },
    "/api/base/receipt": {
      "post": {
        "operationId": "postbase_receipt",
        "summary": "Check whether a Base transaction succeeded, get its receipt, and count current confirmations.",
        "description": "Check whether a Base transaction succeeded, get its receipt, and count current confirmations.",
        "tags": [
          "base",
          "transaction",
          "receipt",
          "confirmations",
          "onchain"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tx_hash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte Base transaction hash."
                  }
                },
                "required": [
                  "tx_hash"
                ]
              },
              "example": {
                "tx_hash": "0x0000000000000000000000000000000000000000000000000000000000000000"
              }
            }
          }
        }
      }
    },
    "/api/base/transaction-context": {
      "post": {
        "operationId": "postbase_transaction_context",
        "summary": "Verify an onchain payment or investigate a failed Base transaction in one call with transaction, receipt, success status, confirmations, gas and fee context.",
        "description": "Verify an onchain payment or investigate a failed Base transaction in one call with transaction, receipt, success status, confirmations, gas and fee context.",
        "tags": [
          "base",
          "transaction",
          "payment",
          "confirmations",
          "debugging"
        ],
        "x-mach-price": "$0.008",
        "x-price-usd": "$0.008",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tx_hash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte Base transaction hash."
                  }
                },
                "required": [
                  "tx_hash"
                ],
                "additionalProperties": false
              },
              "example": {
                "tx_hash": "0x0000000000000000000000000000000000000000000000000000000000000000"
              }
            }
          }
        }
      }
    },
    "/api/base/logs": {
      "post": {
        "operationId": "postbase_logs",
        "summary": "Query smart-contract event logs on Base by contract address, topics and bounded block range.",
        "description": "Query smart-contract event logs on Base by contract address, topics and bounded block range.",
        "tags": [
          "base",
          "events",
          "logs",
          "contracts",
          "onchain"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Smart-contract address on Base mainnet."
                  },
                  "from_block": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "First Base block to include in the log query."
                  },
                  "to_block": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Last Base block to include in the log query."
                  },
                  "topics": {
                    "type": "array",
                    "maxItems": 4,
                    "items": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Ethereum log topic or null wildcard."
                    }
                  }
                },
                "required": [
                  "address"
                ]
              },
              "example": {
                "address": "0x4200000000000000000000000000000000000006",
                "from_block": 35999000,
                "to_block": 36000000,
                "topics": []
              }
            }
          }
        }
      }
    },
    "/api/base/eth-call": {
      "post": {
        "operationId": "postbase_eth_call",
        "summary": "Make a read-only smart-contract call on Base with eth_call without sending a transaction.",
        "description": "Make a read-only smart-contract call on Base with eth_call without sending a transaction.",
        "tags": [
          "base",
          "contract",
          "eth-call",
          "onchain",
          "rpc"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Smart-contract address on Base mainnet."
                  },
                  "data": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]*$",
                    "maxLength": 32770,
                    "description": "0x-prefixed ABI calldata for a read-only eth_call."
                  },
                  "block": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": 0
                      }
                    ],
                    "description": "Base block selector: block number or tag such as latest, safe, finalized, pending or earliest."
                  }
                },
                "required": [
                  "to",
                  "data"
                ]
              },
              "example": {
                "to": "0x4200000000000000000000000000000000000006",
                "data": "0x",
                "block": "latest"
              }
            }
          }
        }
      }
    },
    "/api/base/transaction": {
      "post": {
        "operationId": "postbase_transaction",
        "summary": "Get a full Base transaction by hash, including sender, recipient, value, calldata and live transaction details.",
        "description": "Get a full Base transaction by hash, including sender, recipient, value, calldata and live transaction details.",
        "tags": [
          "base",
          "transaction",
          "details",
          "onchain",
          "rpc"
        ],
        "x-mach-price": "$0.008",
        "x-price-usd": "$0.008",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tx_hash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$",
                    "description": "32-byte Base transaction hash."
                  }
                },
                "required": [
                  "tx_hash"
                ]
              },
              "example": {
                "tx_hash": "0x0000000000000000000000000000000000000000000000000000000000000000"
              }
            }
          }
        }
      }
    },
    "/api/base/block": {
      "post": {
        "operationId": "postbase_block",
        "summary": "Get a Base block by number or tag with its header and transaction hashes.",
        "description": "Get a Base block by number or tag with its header and transaction hashes.",
        "tags": [
          "base",
          "block",
          "transactions",
          "onchain",
          "rpc"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "block": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": 0
                      }
                    ],
                    "description": "Base block selector: block number or tag such as latest, safe, finalized, pending or earliest."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "block": "latest"
              }
            }
          }
        }
      }
    },
    "/api/base/wallet-snapshot": {
      "post": {
        "operationId": "postbase_wallet_snapshot",
        "summary": "Take a Base wallet snapshot in one call: native ETH plus up to 10 supplied ERC-20 token balances.",
        "description": "Take a Base wallet snapshot in one call: native ETH plus up to 10 supplied ERC-20 token balances.",
        "tags": [
          "base",
          "wallet",
          "balances",
          "erc20",
          "onchain"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Wallet or account address on Base mainnet."
                  },
                  "tokens": {
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "pattern": "^0x[0-9a-fA-F]{40}$",
                      "description": "ERC-20 or token contract address on Base mainnet."
                    },
                    "description": "Up to ten token contract addresses whose balances should be included."
                  }
                },
                "required": [
                  "address"
                ],
                "additionalProperties": false
              },
              "example": {
                "address": "0x0000000000000000000000000000000000000001",
                "tokens": [
                  "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
                ]
              }
            }
          }
        }
      }
    },
    "/api/base/total-supply": {
      "post": {
        "operationId": "postbase_total_supply",
        "summary": "Get total supply for an ERC-20 token or ERC-721 NFT contract on Base.",
        "description": "Get total supply for an ERC-20 token or ERC-721 NFT contract on Base.",
        "tags": [
          "base",
          "token",
          "supply",
          "erc20",
          "onchain"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "ERC-20 or token contract address on Base mainnet."
                  }
                },
                "required": [
                  "token"
                ],
                "additionalProperties": false
              },
              "example": {
                "token": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
              }
            }
          }
        }
      }
    },
    "/api/base/contract-info": {
      "post": {
        "operationId": "postbase_contract_info",
        "summary": "Inspect a Base smart contract and get token metadata, bytecode size and common interface detection in one call.",
        "description": "Inspect a Base smart contract and get token metadata, bytecode size and common interface detection in one call.",
        "tags": [
          "base",
          "contract",
          "metadata",
          "erc20",
          "verification"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Wallet or account address on Base mainnet."
                  }
                },
                "required": [
                  "address"
                ],
                "additionalProperties": false
              },
              "example": {
                "address": "0x4200000000000000000000000000000000000006"
              }
            }
          }
        }
      }
    },
    "/api/base/erc20-transfers": {
      "post": {
        "operationId": "postbase_erc20_transfers",
        "summary": "Find recent ERC-20 transfers on Base, optionally filtered to transfers from or to a specific wallet.",
        "description": "Find recent ERC-20 transfers on Base, optionally filtered to transfers from or to a specific wallet.",
        "tags": [
          "base",
          "erc20",
          "transfers",
          "events",
          "onchain"
        ],
        "x-mach-price": "$0.005",
        "x-price-usd": "$0.005",
        "x-x402-network": "eip155:8453",
        "x-x402-payment": "USDC exact payment via x402 v2",
        "responses": {
          "200": {
            "description": "Paid result."
          },
          "402": {
            "description": "x402 payment required.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64-encoded x402 v2 payment requirements.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or unsupported request."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "20-byte EVM address on Base."
                  },
                  "from_address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "20-byte EVM address on Base."
                  },
                  "to_address": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Smart-contract address on Base mainnet."
                  },
                  "from_block": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "First Base block to include in the log query."
                  },
                  "to_block": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Last Base block to include in the log query."
                  }
                },
                "required": [
                  "token"
                ],
                "additionalProperties": false
              },
              "example": {
                "token": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "from_block": 35999000,
                "to_block": 36000000
              }
            }
          }
        }
      }
    },
    "/api/choose": {
      "get": {
        "operationId": "chooseMachCapability",
        "summary": "Free deterministic selection preview for a Base job.",
        "description": "Maps an agent goal to the narrowest paid MACH capability, exact price, expected fields and exact next request without returning live paid chain data.",
        "tags": [
          "discovery",
          "selection"
        ],
        "parameters": [
          {
            "name": "goal",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Decision preview and exact next paid request."
          },
          "422": {
            "description": "Goal is missing or invalid; no payment challenge is produced."
          }
        }
      },
      "post": {
        "operationId": "chooseMachCapabilityPost",
        "summary": "Free deterministic selection preview for a Base job.",
        "tags": [
          "discovery",
          "selection"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "goal": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  }
                },
                "required": [
                  "goal"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decision preview and exact next paid request."
          },
          "422": {
            "description": "Goal is missing or invalid; no payment challenge is produced."
          }
        }
      }
    },
    "/proof-before-purchase.json": {
      "get": {
        "operationId": "getMachProofBeforePurchase",
        "summary": "Free proof and exact purchase-flow examples without live paid results.",
        "tags": [
          "discovery",
          "proof",
          "buyer-preflight"
        ],
        "responses": {
          "200": {
            "description": "Proof-before-purchase job examples and payment flow."
          }
        }
      }
    },
    "/api/evaluate": {
      "get": {
        "operationId": "getMachLiveEvaluation",
        "summary": "Free bounded live MACH Base evaluation sample.",
        "tags": [
          "discovery",
          "evaluation",
          "live"
        ],
        "responses": {
          "200": {
            "description": "Live block/gas sample plus next buyer steps; does not bypass paid arbitrary-query capabilities."
          },
          "503": {
            "description": "Live evaluation temporarily unavailable."
          }
        }
      }
    },
    "/api/preflight": {
      "get": {
        "operationId": "getMachBuyerPreflight",
        "summary": "Free buyer decision profile before payment.",
        "tags": [
          "discovery",
          "buyer-preflight"
        ],
        "responses": {
          "200": {
            "description": "Capability, price, compatibility, payment-path and trust information. No paid result."
          }
        }
      }
    },
    "/api/trust": {
      "get": {
        "operationId": "getMachTrust",
        "summary": "Machine-readable trust and reputation evidence policy.",
        "tags": [
          "discovery",
          "trust"
        ],
        "responses": {
          "200": {
            "description": "Live verification links and externally-verifiable reputation policy."
          }
        }
      }
    },
    "/api/reliability": {
      "get": {
        "operationId": "getMachReliability",
        "summary": "Machine-readable MACH production reliability profile.",
        "tags": [
          "discovery",
          "reliability"
        ],
        "responses": {
          "200": {
            "description": "Current production reliability profile."
          }
        }
      }
    },
    "/proof.json": {
      "get": {
        "operationId": "getMachProof",
        "summary": "Machine-readable production identity and proof links.",
        "tags": [
          "discovery",
          "proof"
        ],
        "responses": {
          "200": {
            "description": "Current production identity and proof links."
          }
        }
      }
    }
  }
}