{
  "openapi": "3.0.0",
  "info": {
    "title": "Hubble Platform API",
    "description": "The Hubble platform is built API-first. Use our Cloud API to manage your devices\nand access device data programmatically. \nWe've designed our API following RESTful principles. \nEach endpoint returns standard HTTP status codes and may include JSON payloads.\n\n---\n\n## API Access\nUse API Keys to authenticate with the Hubble Cloud API for your organization. \n\n### Generate an API Key\nLog in to your Hubble dashboard. Navigate to **Developer Tools > API Tokens** to create a new API Key. \nProvide a name for the token, and set an appropriate expiration date for temporary access.\n\n### Organization ID\nYou will need `org_id` to make API requests. From your Hubble dashboard, navigate to \n**Developer Tooks > API Tokens**, or **Organization Settings**, to find your Organization ID. \n\n### Authorization Scopes\nAPI endpoints require specific authorization scopes to perform the intended operation. \n**Required Scope** is always provided in the API documentation.\n\nAPI Keys can be created with specific authorization scopes that control what operations the key can perform. \nIf no scopes are specified, the key will be created with all available scopes (admin-level access).\n\n| **Scope**                   | **Access**                                     |\n|------------------------------|-------------------------------------------------|\n| **read-api-keys**            | View API keys and their metadata               |\n| **write-api-keys**           | Create, update, and delete API keys            |\n| **read-users**               | View user information and roles                |\n| **write-users**              | Add, update, and remove users from the organization |\n| **read-organization-metadata** | View organization details and settings       |\n| **write-organization-metadata** | Update organization information            |\n| **read-devices**             | View device information and status             |\n| **write-devices**            | Register and manage devices                    |\n| **read-invitations**         | View pending invitations                       |\n| **write-invitations**        | Create and revoke user invitations             |\n| **read-packets**             | Access packet data and retrieval endpoints     |\n| **read-platform-metrics**    | View platform metrics and analytics            |\n| **read-billing-usage**       | View billing usage information                 |\n| **read-billing-invoices**    | View billing invoices                          |\n| **read-webhooks**            | View webhook configurations                    |\n| **write-webhooks**           | Create and manage webhook endpoints            |\n| **read-satellites**          | View satellite ephemeris and pass data         |\n    \n**Example Scope Combinations**\n- Create a key with read-only access: `[\"read-api-keys\", \"read-users\", \"read-devices\"]`\n- Create a key for device management: `[\"read-devices\", \"write-devices\"]`\n- Create a key for user management: `[\"read-users\", \"write-users\", \"read-invitations\", \"write-invitations\"]`\n    \n**Best Practices for Data Security**\n- Create keys with the minimum required scopes for your use case\n- Regularly review and rotate API keys\n- Use descriptive names for your keys to track their purpose\n- Set appropriate expiration dates for temporary access    \n\n---\n\n## Import API Definition\nYou can quickly import the Hubble Cloud API into your preferred developer environment (such as Postman or Insomnia) using our **public OpenAPI definition**.\nSimply download or import the YAML file directly:\n\n[https://hubble.com/docs/openapi.yaml](https://hubble.com/docs/openapi.yaml)\n\n---\n\n## Pagination\nWhen the number of objects requested exceeds the maximum page size for an endpoint, the API response will be paginated. \nThis means you will receive a subset of the total results, along with a `Continuation-Token` in the Response Header that can be used to fetch subsequent subsets.\n\nTo retrieve the next set of data, you must use the provided `Continuation-Token` in the Request Header of your next API call to the same endpoint. \nContinue using the provided token in each successive request until no `Continuation-Token` is returned, which indicates you have retrieved all available data.\n\n---\n\n## Rate Limits\nThe Hubble Cloud API follows a leaky bucket approach to rate limiting. Endpoints are rate limited to three (3) requests per second. \nYour organization is limited to a total of 15 requests per second. \nIf you exceed this limit, you will receive a 429 status code. \nWe recommend backoff retry logic to stay within the limit.\n\n---\n\n## Request Headers\nAll HTTP responses will include a `X-Request-ID` header that is logged internally and can be used for tracing/debugging a particular API request.\nAll HTTP requests can include a `X-Request-ID` header which will be logged and mapped to the responses' `X-Request-ID` header.\n\nShare Request Headers whenever troubleshooting an API issue with Hubble Support.\n\n---\n\n## Status Codes\nThe Hubble Cloud API returns the following HTTP status codes: `200`, `400`, `401`, `403`, `404`, `413`, `429` and `500`.\nUse the tailored message returned with each status code for insight in the specific context of the endpoint you are attempting to access.\n\n---\n\n## Versioning\nOur cloud backend follows a rolling release model. This means:\n- **Continuous Deployment**: New features, security updates, and performance improvements are automatically rolled out.\n- **Backward Compatibility**: Cloud updates are designed to be compatible with devices running firmware/SDK versions within our active or maintained support windows.\n- **Transparent Change Management**: Release notes and changelogs are published regularly so you can track enhancements and understand any adjustments that might affect integrations.\n- **Versioned Public API**: The Cloud API uses basic major versioning in the url paths (`/v1/...`, `/v2/...` etc.). Major backwards incompatible changes will be made by creating a version of the endpoint with a higher version and communicating with customers to migrate. The legacy `/api/...` and `/api/v2/...` paths remain fully supported as aliases for `/v1/...` and `/v2/...` respectively, so previous versions will be supported for a minimum of 1 year.\n\n---\n",
    "version": "1.0.0",
    "x-jentic-source-url": "https://hubble.com/docs/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.hubble.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/org/{org_id}/check": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "operationId": "validate-api-key",
        "x-criticality": "high",
        "summary": "Validate an API Key",
        "description": "Confirm your API key is valid.",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "API key validated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "org_id": {
                      "$ref": "#/components/schemas/orgId"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/key": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "operationId": "provision-api-key",
        "x-criticality": "high",
        "summary": "Provision an API Key",
        "description": "Provision a new API Key for your organization.\n\n**Required Scope:** `write-api-keys`\n\n### Authorization Scopes\nAPI Keys can be created with specific authorization scopes that control what operations the key can perform. \nIf no scopes are specified, the key will be created with all available scopes (admin-level access).\nSee the Cloud API \"Introduction\" for a complete list authorization scopes.\n\n### Expiration Date\nSet an appropriate expiration date for temporary API access. For no expiration, set to `0`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/contentTypeJsonHeader"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/apiKeyName"
                  },
                  "expires_at_seconds": {
                    "$ref": "#/components/schemas/apiKeyExpiration"
                  },
                  "scopes": {
                    "$ref": "#/components/schemas/authScope",
                    "example": [
                      "read-api-keys",
                      "read-users",
                      "read-devices"
                    ]
                  }
                }
              },
              "example": {
                "name": "Warehouse Inventory Sync",
                "expires_at_seconds": 1767225600,
                "scopes": [
                  "read-devices",
                  "read-packets"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/apiKeyItem"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "$ref": "#/components/schemas/apiKey"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "key_id": "6ea53e36-b7fb-429f-8c2e-d536cab71089",
                  "key_name": "Warehouse Inventory Sync",
                  "created_at": 1704067200,
                  "expires_at_seconds": 1767225600,
                  "scopes": [
                    "read-devices",
                    "read-packets"
                  ],
                  "key": "<shown once, at creation time>"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "get": {
        "tags": [
          "API Keys"
        ],
        "operationId": "list-api-keys",
        "x-criticality": "high",
        "summary": "List all API Keys",
        "description": "List all valid API Keys for your organization.\n\n**Required Scope:** `read-api-keys`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/apiKeyItem"
                      }
                    }
                  }
                },
                "example": {
                  "keys": [
                    {
                      "key_id": "6ea53e36-b7fb-429f-8c2e-d536cab71089",
                      "key_name": "Warehouse Inventory Sync",
                      "created_at": 1704067200,
                      "expires_at_seconds": 1767225600,
                      "scopes": [
                        "read-devices",
                        "read-packets"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/key/{key_id}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "operationId": "delete-api-key",
        "x-criticality": "high",
        "summary": "Delete an API Key",
        "description": "Permanently delete an API Key from your organization.\n\n**Required Scope:** `write-api-keys`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/apiKeyId"
            },
            "description": "API key ID"
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key_id": {
                      "$ref": "#/components/schemas/apiKeyId"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "patch": {
        "tags": [
          "API Keys"
        ],
        "operationId": "update-api-key",
        "x-criticality": "high",
        "summary": "Update an API Key",
        "description": "Update metadata for an API key, including name, authorization scopes, and expiration time.\n\n**Required Scope:** `write-api-keys`\n\n### Authorization Scopes\nYou may update the scopes assigned to an API key to change its permissions. See the Cloud API \"Introduction\" for a complete list authorization scopes.\n\n### Expiration Time\nYou may update the expiration time for an API key. Set to 0 to remove expiration (key will never expire).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/apiKeyId"
            },
            "description": "API key ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "set_name": {
                    "$ref": "#/components/schemas/apiKeyName"
                  },
                  "set_scopes": {
                    "$ref": "#/components/schemas/authScope",
                    "example": [
                      "read-api-keys",
                      "read-users",
                      "read-devices"
                    ]
                  },
                  "set_expires_at_seconds": {
                    "$ref": "#/components/schemas/apiKeyExpiration"
                  }
                }
              },
              "example": {
                "set_name": "Warehouse Inventory Sync (production)",
                "set_expires_at_seconds": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API Key Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiKeyItem"
                },
                "example": {
                  "key_id": "6ea53e36-b7fb-429f-8c2e-d536cab71089",
                  "key_name": "Warehouse Inventory Sync (production)",
                  "created_at": 1704067200,
                  "expires_at_seconds": 0,
                  "scopes": [
                    "read-devices",
                    "read-packets"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/key_scopes": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "operationId": "list-key-scopes",
        "x-criticality": "high",
        "summary": "List Key Scopes",
        "description": "Retrieve a list of all available authorization scopes that can be assigned to API keys.\nThis endpoint returns scope IDs and human-readable display names.\n\n**Required Scope:** `read-api-keys`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of available scopes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "scope_id": {
                            "$ref": "#/components/schemas/authScope",
                            "description": "The scope identifier used in API requests"
                          },
                          "display_name": {
                            "type": "string",
                            "description": "Human-readable name for the scope"
                          }
                        },
                        "required": [
                          "scope_id",
                          "display_name"
                        ]
                      },
                      "description": "List of all available authorization scopes"
                    }
                  }
                },
                "example": {
                  "scopes": [
                    {
                      "scope_id": "read-api-keys",
                      "display_name": "Read API Keys"
                    },
                    {
                      "scope_id": "read-devices",
                      "display_name": "Read Devices"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}": {
      "patch": {
        "tags": [
          "Organizations"
        ],
        "operationId": "update-organization-metadata",
        "x-criticality": "medium",
        "summary": "Update Organization Metadata",
        "description": "Update metadata for an organization.\n\n**Required Scope:** `write-organization-metadata`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "All of the potential update operations. \nEach field is optional but the request must have at least one field set to perform an update.\n",
                "properties": {
                  "set_name": {
                    "$ref": "#/components/schemas/organizationName"
                  },
                  "set_address": {
                    "$ref": "#/components/schemas/address"
                  },
                  "set_contact_info": {
                    "$ref": "#/components/schemas/contactInfo"
                  },
                  "set_timezone": {
                    "$ref": "#/components/schemas/timezone"
                  }
                }
              },
              "example": {
                "set_address": {
                  "street_address": "Your Address",
                  "street_address_line_two": "Suite 200",
                  "city": "Seattle",
                  "state": "WA",
                  "country": "840"
                },
                "set_contact_info": {
                  "email": "ops@yourdomain.com",
                  "phone_number": "+13334445555"
                },
                "set_timezone": "Europe/Berlin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "retrieve-organization-metadata",
        "x-criticality": "medium",
        "summary": "Retrieve Organization Metadata",
        "description": "Retrieve metadata for an organization.\n\n**Required Scope:** `read-organization-metadata`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "An Organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v2/org/{org_id}/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "operationId": "list-devices",
        "x-criticality": "high",
        "summary": "List Devices",
        "description": "Returns all devices for your organization.\n\n**Required Scope:** `read-devices`\n\n## Overview\nUse this endpoint to manage your device inventory and map Hubble-registered devices to your system. \n(To consume a stream of incoming data, use the **Retrieve Organization Packets** endpoint.)\n\n## Query Parameters\n\n### Timestamp Filters\nUse timestamp filters to trim down the search results.\n* For simpliticy, we support the `between:{after_timestamp}:{before_timestamp}` operator.\n* The `after_timestamp` value is inclusive and the `before_timestamp` value is exclusive.\n\n### Recent Packet\nEach device may return a `most_recent_packet` object. This is a sample packet that is periodically refreshed.\n* **Latency:** provided data is not updated in real-time or atomically with packet data.\n* **Availability:** registered devices that have never sent a packet will have an empty `most_recent_packet` field.\n\n:::warning\n**This endpoint should not be used to request packet data.** See \"Retrieve Organization Packets\". \n:::\n\nWhen sorting by `most_recent_packet`,\n- Devices that have never sent a packet are included in results and sort to the beginning (ascending) or end (descending) of the page.\n- If `sort_ascending` is true, the pagination may return duplicate values since a device with a new `most_recent_packet` could be returned in subsequent pages.\n- If `sort_ascending` is false, the pagination may skip devices that receive new `most_recent_packet` data during the pagination.\n\n## Example Queries\n- **Unused devices:** `filter_most_recent_packet_ts=between:0:1`\n- **Recently Active Devices:** `filter_most_recent_packet_ts=between:{timestamp_one_day_ago}:{timestamp_now}`\n- **Inactive Devices:** `filter_most_recent_packet_ts=between:1:{timestamp_one_week_ago}`\n- **Recently Registered Devices:** `filter_created_ts=between:{timestamp_one_day_ago}:{timestamp_now}`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/limitQueryParam"
          },
          {
            "$ref": "#/components/parameters/filterCreatedTSQueryParam"
          },
          {
            "$ref": "#/components/parameters/filterMostRecentPacketTSQueryParam"
          },
          {
            "$ref": "#/components/parameters/sortFieldQueryParam"
          },
          {
            "$ref": "#/components/parameters/sortAscendingQueryParam"
          },
          {
            "$ref": "#/components/parameters/continuationTokenHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Device Pages",
            "headers": {
              "Continuation-Token": {
                "$ref": "#/components/headers/ContinuationTokenHeader"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "devices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/organizationDevice"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "patch": {
        "tags": [
          "Devices"
        ],
        "operationId": "batch-update-devices",
        "x-criticality": "high",
        "summary": "Batch Update Devices",
        "description": "Update multiple registered devices belonging to your organization in a single request.\n\n**Required Scope:** `write-devices`\n\n## Overview\n- A maximum of 1000 devices can be updated in a single request.\n- Each update is idempotent. In the event of an internal error (i.e. `5xx`) some updates may be applied and others may not. Each update is idempotent and the whole request can be retried again to ensure a consistent update across the batch.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "updates"
                ],
                "properties": {
                  "updates": {
                    "type": "array",
                    "description": "Array of device update operations, up to 1000.",
                    "items": {
                      "type": "object",
                      "required": [
                        "device_id"
                      ],
                      "properties": {
                        "device_id": {
                          "$ref": "#/components/schemas/deviceId"
                        },
                        "set_name": {
                          "$ref": "#/components/schemas/deviceName",
                          "description": "Set the device name"
                        },
                        "set_tags": {
                          "$ref": "#/components/schemas/deviceTags",
                          "description": "Set the device tags"
                        },
                        "set_install_location": {
                          "$ref": "#/components/schemas/installLocation"
                        },
                        "set_destination_org_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Reassign this device to another organization. The destination\nmust be this organization's paired Staging/Production partner\n(created via the create-staging-org flow).\n\nCannot be combined with `set_name`, `set_tags`,\n`set_install_location`, or `set_deploy` on the same update\nitem.\n\nPackets are **not** moved with the device. If the destination\nis the Staging org, its device-count cap is enforced across\nall reassignments targeting it within the same batch request.\n",
                          "example": "123e4567-e89b-12d3-a456-426614174000"
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "updateNames": {
                  "value": {
                    "updates": [
                      {
                        "device_id": "6ea53e36-b7fb-429f-8c2e-d536cab71089",
                        "set_name": "Your Device 1"
                      },
                      {
                        "device_id": "7fb64f47-c8ec-530e-9d3f-e647dbc8219a",
                        "set_name": "Your Device 2"
                      }
                    ]
                  }
                },
                "updateTags": {
                  "value": {
                    "updates": [
                      {
                        "device_id": "6ea53e36-b7fb-429f-8c2e-d536cab71089",
                        "set_tags": {
                          "location": "warehouse-a"
                        }
                      },
                      {
                        "device_id": "7fb64f47-c8ec-530e-9d3f-e647dbc8219a",
                        "set_tags": {
                          "location": "warehouse-b"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Devices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "devices"
                  ],
                  "properties": {
                    "devices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/organizationDevice"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "devices": [
                        {
                          "id": "6ea53e36-b7fb-429f-8c2e-d536cab71089",
                          "name": "Your Device 1",
                          "created_ts": 1609459200,
                          "tags": {
                            "location": "warehouse-a"
                          },
                          "most_recent_packet": {}
                        },
                        {
                          "id": "7fb64f47-c8ec-530e-9d3f-e647dbc8219a",
                          "name": "Your Device 2",
                          "created_ts": 1609459200,
                          "tags": {
                            "location": "warehouse-b"
                          },
                          "most_recent_packet": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "operationId": "batch-delete-devices",
        "x-criticality": "high",
        "summary": "Batch Delete Devices",
        "description": "Delete multiple registered devices from your organization in a single request.\n\n**Required Scope:** `write-devices`\n\n## Overview\n- A maximum of 1000 devices can be deleted in a single request.\n- Each delete is idempotent. In the event of an internal error (i.e. `5xx`) some deletions may be applied and others may not. The whole request can be retried again to ensure a consistent deletion across the batch.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "device_ids"
                ],
                "properties": {
                  "device_ids": {
                    "type": "array",
                    "description": "Array of device IDs to delete, up to 1000.",
                    "items": {
                      "$ref": "#/components/schemas/deviceId"
                    }
                  }
                }
              },
              "examples": {
                "deleteMultipleDevices": {
                  "value": {
                    "device_ids": [
                      "6ea53e36-b7fb-429f-8c2e-d536cab71089",
                      "7fb64f47-c8ec-530e-9d3f-e647dbc8219a",
                      "8ec75e58-d9bd-641b-0e4e-f758ecd932b0"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "operationId": "register-new-devices",
        "x-criticality": "high",
        "summary": "Register New Devices",
        "description": "Register one or more devices to your organization.\n\n**Required Scope:** `write-devices`\n\n## Overview\nThis endpoint supports bulk device registration with specified encryption mode, and custom naming and tagging.\n\n## Device Encryption Modes\n\n### Set Key Length\nSet encryption key length to match your device firmware's encryption library requirement:\n* **256-bit key** (32 bytes): set `encryption` to \"AES-256-CTR\"\n* **128-bit key** (16 bytes): set `encryption` to \"AES-128-CTR\"\n* **128-bit key, IN100 protocol** (16 bytes): set `encryption` to \"AES-128-EAX\"\n\n### Set Counter Source for EID Rotation\nThe Hubble Device SDK rotates through ephemeral IDs (EID) so that devices are anonymous on the network.\nSpecify the `counter_source` based on your hardware capabilities:      \n* Use \"UNIX_TIME\" for **time-based encryption**, e.g. for devices with a real time clock (RTC). **This is the default value.**\n* Use \"DEVICE_UPTIME\" for **timeless encryption**, e.g. using the device uptime counter to rotate EIDs.\n\n### Set EID Rotation Period (AES-128-EAX only)\nFor the IN100 protocol (`encryption` of \"AES-128-EAX\"), you may optionally override the EID rotation period with `eid_rotation.period_exponent`: the base-2 exponent of the rotation period in seconds (matches the IN100 configuration field). \nMust be between 10 and 15 inclusive. \nThe period defaults to `period_exponent: 15`, corresponding to 32,768 seconds (~9 hours).\n\n## Device Metadata\nYou can optionally provide `names` and `tags` for each device being provisioned:\n* `names`: An array of device names.\n* `tags`: An array of device tags.\n\n## Device Key\nBy default `device.key` is returned encoded in standard Base64 format, and is automatically compatible with the Hubble Device SDK. \nPass `key_format=hex` to receive device.key as a lowercase hexadecimal string instead.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/deviceKeyFormatQueryParam"
          },
          {
            "$ref": "#/components/parameters/contentTypeJsonHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "encryption"
                ],
                "properties": {
                  "n_devices": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000,
                    "default": 1,
                    "description": "Number of devices to provision"
                  },
                  "encryption": {
                    "$ref": "#/components/schemas/deviceEncryption"
                  },
                  "names": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/deviceName"
                    },
                    "description": "Optional array of device names. \nIf provided, the length must match the number of devices being provisioned.\n"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/deviceTags"
                    },
                    "description": "Optional array of tag maps for each device. \nIf provided, the length must match the number of devices being provisioned.\n"
                  },
                  "eid_rotation": {
                    "$ref": "#/components/schemas/eidRotation",
                    "description": "Ephemeral ID (EID) rotation configuration for provisioned devices.\n`counter_source` default is \"UNIX_TIME\".\n"
                  },
                  "install_locations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/installLocation"
                    },
                    "description": "Optional array of install locations for each provisioned device.\nIf provided, the length must match the number of devices being provisioned.\n"
                  }
                },
                "example": {
                  "n_devices": 1,
                  "encryption": "AES-256-CTR",
                  "names": [
                    "my-device"
                  ]
                }
              },
              "examples": {
                "encryptedProtocolUnixTime": {
                  "summary": "AES-CTR + UNIX_TIME eid_rotation",
                  "description": "Default-style encrypted device. Omit `eid_rotation` or set only `counter_source` to `UNIX_TIME`.\n",
                  "value": {
                    "n_devices": 1,
                    "encryption": "AES-256-CTR",
                    "names": [
                      "sensor-001"
                    ]
                  }
                },
                "encryptedProtocolDeviceUptime": {
                  "summary": "AES-CTR + DEVICE_UPTIME eid_rotation",
                  "description": "Configure a device to leverage its uptime as the EID rotation counter source used for encryption.\n",
                  "value": {
                    "n_devices": 1,
                    "encryption": "AES-128-CTR",
                    "names": [
                      "uptime-sensor"
                    ],
                    "eid_rotation": {
                      "counter_source": "DEVICE_UPTIME"
                    }
                  }
                },
                "encryptedProtocolIN100": {
                  "summary": "AES-128-EAX (IN100 protocol) with DEVICE_UPTIME",
                  "description": "Provision a device using the IN100 protocol (AES-EAX authenticated encryption).\n",
                  "value": {
                    "n_devices": 1,
                    "encryption": "AES-128-EAX",
                    "names": [
                      "in100-sensor"
                    ],
                    "eid_rotation": {
                      "counter_source": "DEVICE_UPTIME",
                      "period_exponent": 15
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Devices provisioned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "devices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "device_id": {
                            "$ref": "#/components/schemas/deviceId"
                          },
                          "name": {
                            "$ref": "#/components/schemas/deviceName"
                          },
                          "created_ts": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unix timestamp (in seconds) when the device was created"
                          },
                          "tags": {
                            "$ref": "#/components/schemas/deviceTags"
                          },
                          "protocol": {
                            "type": "object",
                            "description": "Protocol configuration for the device",
                            "properties": {
                              "terrestrial": {
                                "type": "object",
                                "properties": {
                                  "version": {
                                    "type": "integer",
                                    "format": "uint8",
                                    "description": "Protocol version number"
                                  }
                                }
                              }
                            }
                          },
                          "eid_rotation": {
                            "$ref": "#/components/schemas/eidRotation",
                            "description": "EID rotation configuration for the device"
                          },
                          "network_id": {
                            "type": "integer",
                            "description": "Network ID for the device, if applicable"
                          },
                          "key": {
                            "type": "string",
                            "description": "Encryption key for the device, when applicable.\nDefault Base64-encoded bytes (when key_format omitted or key_format=base64).\nWith key_format=hex: lowercase hexadecimal string.\n"
                          },
                          "install_location": {
                            "$ref": "#/components/schemas/installLocation"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "encryptedProtocolUnixTime": {
                    "summary": "Matches AES-CTR + UNIX_TIME eid_rotation",
                    "value": {
                      "devices": [
                        {
                          "device_id": "6ea53e36-b7fb-429f-8c2e-d536cab71089",
                          "name": "sensor-001",
                          "created_ts": 1734567890,
                          "tags": {
                            "_env": "production"
                          },
                          "protocol": {
                            "terrestrial": {
                              "version": 0
                            }
                          },
                          "eid_rotation": {
                            "counter_source": "UNIX_TIME"
                          },
                          "key": "YWJjZGVmZw=="
                        }
                      ]
                    }
                  },
                  "encryptedProtocolDeviceUptime": {
                    "summary": "Matches AES-CTR + DEVICE_UPTIME eid_rotation",
                    "value": {
                      "devices": [
                        {
                          "device_id": "7fb53e36-b7fb-429f-8c2e-d536cab71090",
                          "name": "uptime-sensor",
                          "created_ts": 1734567891,
                          "tags": {
                            "_env": "production"
                          },
                          "protocol": {
                            "terrestrial": {
                              "version": 0
                            }
                          },
                          "eid_rotation": {
                            "counter_source": "DEVICE_UPTIME"
                          },
                          "key": "YWJjZGVmZw=="
                        }
                      ]
                    }
                  },
                  "encryptedProtocolIN100": {
                    "summary": "Matches AES-128-EAX (IN100 protocol) with DEVICE_UPTIME",
                    "value": {
                      "devices": [
                        {
                          "device_id": "8ab53e36-b7fb-429f-8c2e-d536cab71091",
                          "name": "in100-sensor",
                          "created_ts": 1734567892,
                          "tags": {
                            "_env": "production"
                          },
                          "protocol": {
                            "terrestrial": {
                              "version": 2
                            }
                          },
                          "eid_rotation": {
                            "counter_source": "DEVICE_UPTIME",
                            "period_exponent": 15
                          },
                          "key": "YWJjZGVmZw=="
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v2/org/{org_id}/devices/{device_id}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "operationId": "get-device",
        "x-criticality": "high",
        "summary": "Get Device",
        "description": "Return a specific registered device belonging to your organization.\n\n**Required Scope:** `read-devices`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/deviceIdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Device",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organizationDevice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "patch": {
        "tags": [
          "Devices"
        ],
        "operationId": "update-device",
        "x-criticality": "high",
        "summary": "Update Device",
        "description": "Update a registered device belonging to your organization.\n\n**Required Scope:** `write-devices`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/deviceIdPathParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "set_name": {
                    "$ref": "#/components/schemas/deviceName"
                  },
                  "set_tags": {
                    "$ref": "#/components/schemas/deviceTags"
                  },
                  "set_install_location": {
                    "$ref": "#/components/schemas/installLocation"
                  },
                  "set_destination_org_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Reassign this device to another organization. The destination\nmust be this organization's paired Staging/Production partner\n(created via the create-staging-org flow).\n\nCannot be combined with `set_name`, `set_tags`,\n`set_install_location`, or `set_deploy` in the same request.\n\nPackets are **not** moved with the device. If the destination\nis the Staging org, its device-count cap is enforced.\n",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Device",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organizationDevice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "delete": {
        "tags": [
          "Devices"
        ],
        "operationId": "delete-device",
        "x-criticality": "high",
        "summary": "Delete Device",
        "description": "Delete a registered device from your organization.\n\n**Required Scope:** `write-devices`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/deviceIdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/packets": {
      "get": {
        "tags": [
          "Packets"
        ],
        "operationId": "retrieve-organization-packets",
        "x-criticality": "high",
        "summary": "Retrieve Packets",
        "description": "Stream or query packets for your organization.\n\n**Required Scope:** `read-packets`\n\n## Overview\nThis endpoint acts as a data stream. Use the `Continuation-Token` to track your consumer's position in the stream and ingest incrementally.\nPackets are returned in ascending order based on when they were detected by Hubble Network.\n\n## Pagination and Streaming\nUse the `Continuation-Token` to capture new packets incrementally. \nIf provided, all other query parameters are ignored, as the token persists the initial query's configuration.\n\n### Response Headers\n* `Continuation-Token`: an opaque cursor for your position in the stream. The max page size is 1,000 packets.\n  * If you supplied an `end` time, an empty string indicates you have reached that end time and there is no more data in the requested window.\n  * If you left `end` open, the token never goes empty, since the stream has no end to reach — it always points at your current position, whether or not new packets are waiting there.\n* `Retry-After`: the recommended number of seconds to wait before your next poll request (max value is 300 seconds). This is the signal to watch on an open stream: its presence means you are caught up to the live edge, so treat it as your polling backoff rather than looking for an empty `Continuation-Token`.\n\n## Query Parameters (Initial Request)\nWhen starting a new stream (no `Continuation-Token` exists) or to query for data from a period of time, use these parameters to begin polling:\n\n### Time Period (UTC, in seconds)\n* `start` time defaults to 7 days ago when not specified.\n* Omit `end` time to leave the stream open and poll for new packets indefinitely.\n* Supply an `end` time if your consumer needs a terminating, empty-token stop condition.\n\n:::tip\nGranular packet data is available up to **30 days** in the past.\n:::\n\n### Device Filtering\n* When `device_id` is provided, only packets from that device will be returned. \n* Note: you cannot page indefinitely for single-device queries. The stream closes when it reaches current time.\n\n:::warning\nDevice filtering is provided for troubleshooting. It should not be used for high-volume data retrieval.\n:::\n\n---\n\n## Packet Data Definitions (Response)\n\n### Location Object\nFor **TERRESTRIAL** packets, all `location` fields represent the scanning gateway's most recent GPS lock:\n* `location.timestamp` is the timestamp of the location lock.\n* `location.latitude` and `location.longitude` are the location coordinates.\n* `location.horizontal_accuracy` and `location.vertical_accuracy` represent accuracy variance in meters.\n\nFor **SATELLITE** packets, `location.timestamp` and `device.timestamp` are identical: both represent the time the packet was detected by the satellite.\n\n### Device Object\nFor **TERRESTRIAL** packets,\n* `device.timestamp` is the timestamp when the data packet was detected by the gateway.\n* `device.rssi` is the received signal strength measured by the gateway.\n\n### Gateway Object\nFor **self-provided** packets (packets your organization contributed and is also reading back, i.e. `provider_id == org_id`), the response optionally includes a top-level `gateway` object. These fields describe the **scanning gateway** that received the BLE advertisement.\n* `gateway.gateway_id` is the stable gateway UUID issued by Hubble when you register using the Gateway API.\n* `gateway.service_id` is the normalized 16-bit service UUID from the scanned BLE advertisement (e.g. `fca6`).\n\n:::note\nThe `gateway` block is **omitted entirely** for packets sourced from a different organization (e.g. third-party crowdsourced traffic), and is also omitted on self-provided packets when no gateway context was attached at ingest.\n:::\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/continuationTokenHeader"
          },
          {
            "$ref": "#/components/parameters/startQueryParam"
          },
          {
            "$ref": "#/components/parameters/endQueryParam"
          },
          {
            "$ref": "#/components/parameters/deviceIdQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of packets",
            "headers": {
              "Continuation-Token": {
                "$ref": "#/components/headers/ContinuationTokenHeader"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfterHeader"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/packetBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "429": {
            "description": "An error when too many requests have been made to retrieve packets",
            "headers": {
              "Continuation-Token": {
                "$ref": "#/components/headers/ContinuationTokenHeader"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfterHeader"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/packets/decode": {
      "post": {
        "tags": [
          "Packets"
        ],
        "operationId": "decode-packets",
        "x-criticality": "high",
        "summary": "Decode Packets",
        "description": "Synchronously decode and decrypt a small batch of BLE advertisement packets for your organization.\n\n**Required Scope:** `read-packets`\n\nThe input advertisements are also forwarded to the asynchronous ingest pipeline (the same\npipeline used by `GET /v1/org/{org_id}/packets`) so that packets are persisted regardless of\nthe synchronous decode outcome.\n\nOnly packets that successfully decode and that belong to the calling organization are\nreturned in the response. Packets that fail to decode, or that belong to a different\norganization, are omitted from the response and are instead handled by the asynchronous\npipeline.\n\n## Limits\n* Maximum **25** advertisements per request.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/contentTypeJsonHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/decodePacketsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A batch of decoded packets belonging to the calling organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/synchronousDecodePacketBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/webhook/testBatch": {
      "post": {
        "tags": [
          "Packets"
        ],
        "operationId": "packet-webhook-example",
        "x-criticality": "high",
        "summary": "Packet Webhook Example",
        "description": "This endpoint is an example webhook endpoint that each organization can implement in order to receive packet data.\nPacket data that has been decrypted for your organization will be forwarded to these webhooks.\n\n### Batching\nPackets are sent in batches to minimize HTTP overhead from sending packets individually.\nBatch sizes are configurable per webhook endpoint. \nThe actual number of packets per request will range between 1 and the configured `max_batch_size`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/contentTypeJsonHeader"
          },
          {
            "$ref": "#/components/parameters/webhookSecretHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/packetBatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message delivered."
          },
          "500": {
            "description": "Internal Server Error. Please Retry."
          }
        }
      }
    },
    "/v1/org/{org_id}/api_metrics": {
      "get": {
        "tags": [
          "Platform Metrics"
        ],
        "operationId": "get-api-metrics",
        "x-criticality": "medium",
        "summary": "Get Organization API Metrics",
        "description": "Retrieves API request metrics including total requests, success rate, and time interval-based breakdowns.\n\n**Required Scope:** `read-platform-metrics`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/metricsDaysBackQueryParam"
          },
          {
            "$ref": "#/components/parameters/metricsTimeIntervalQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved API metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_requests": {
                      "type": "integer",
                      "description": "Total number of API requests in the time period"
                    },
                    "success_rate": {
                      "$ref": "#/components/schemas/metricsSuccessRate"
                    },
                    "buckets": {
                      "type": "array",
                      "description": "A breakdown of metrics per time_interval",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start of the interval in ISO 8601 format"
                          },
                          "total_requests": {
                            "type": "integer",
                            "description": "Number of requests in this time_interval"
                          },
                          "success_rate": {
                            "$ref": "#/components/schemas/metricsSuccessRate"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/packet_metrics": {
      "get": {
        "tags": [
          "Platform Metrics"
        ],
        "operationId": "get-packet-metrics",
        "x-criticality": "medium",
        "summary": "Get Organization Packet Metrics",
        "description": "Retrieves packet metrics across a time range providing totals and time interval-based breakdowns.\n\n**Required Scope:** `read-platform-metrics`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/metricsDaysBackQueryParam"
          },
          {
            "$ref": "#/components/parameters/metricsTimeIntervalQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved packet metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_packets": {
                      "type": "integer",
                      "description": "Total number of packets in the time period"
                    },
                    "buckets": {
                      "type": "array",
                      "description": "A breakdown of packet metrics per time_interval",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "$ref": "#/components/schemas/formattedTimestamp"
                          },
                          "total_packets": {
                            "type": "integer",
                            "description": "Number of packets in this time_interval"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/webhook_metrics": {
      "get": {
        "tags": [
          "Platform Metrics"
        ],
        "operationId": "get-webhook-metrics",
        "x-criticality": "medium",
        "summary": "Get Organization Webhook Metrics",
        "description": "Retrieves webhook metrics including total requests, success rate, and time interval-based breakdowns for webhook events.\n\n**Required Scope:** `read-platform-metrics`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/metricsDaysBackQueryParam"
          },
          {
            "$ref": "#/components/parameters/metricsTimeIntervalQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved webhook metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_requests": {
                      "type": "integer",
                      "description": "Total number of webhook requests in the time period"
                    },
                    "success_rate": {
                      "$ref": "#/components/schemas/metricsSuccessRate"
                    },
                    "buckets": {
                      "type": "array",
                      "description": "A breakdown of webhook metrics per time_interval",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "$ref": "#/components/schemas/formattedTimestamp"
                          },
                          "total_requests": {
                            "type": "integer",
                            "description": "Number of webhook requests in this time_interval"
                          },
                          "success_rate": {
                            "$ref": "#/components/schemas/metricsSuccessRate"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/device_metrics": {
      "get": {
        "tags": [
          "Platform Metrics"
        ],
        "operationId": "get-device-metrics",
        "x-criticality": "medium",
        "summary": "Get Organization Device Metrics",
        "description": "Retrieves metrics for active, never active, and total registered devices over time.\n\n### Most Recent/Partial Bucket \nThe most recent bucket, the partial bucket, is not calculated on this endpoint except for when using the hourly time interval.\nFor parsing/syntax consistency, this bucket is still returned with a timestamp and empty values for the active, registered, and never active devices values.\n\n**Required Scope:** `read-platform-metrics`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/metricsDaysBackQueryParam"
          },
          {
            "$ref": "#/components/parameters/metricsTimeIntervalQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved device metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "buckets": {
                      "type": "array",
                      "description": "A breakdown of device metrics per time_interval",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "$ref": "#/components/schemas/formattedTimestamp"
                          },
                          "registered_devices": {
                            "type": "integer",
                            "description": "The total number of registered devices at the end of this interval.\n"
                          },
                          "active_devices": {
                            "type": "number",
                            "description": "The number of active devices during this interval.\nActive devices are those that have successfully transmitted a packet.\nBecause of the ingestion delays, recent windows metrics may still be accumulating new active devices.\n"
                          },
                          "never_active_devices": {
                            "type": "number",
                            "description": "The number of never active devices during this interval.\nNever active devices are devices registered to your organization awaiting first transmission.\n"
                          }
                        }
                      }
                    },
                    "total_active_devices": {
                      "type": "number",
                      "description": "The total number of active devices across the queried time range.\nActive devices are those that have successfully transmitted a packet.\n"
                    },
                    "total_registered_devices": {
                      "type": "number",
                      "description": "The total number of devices registered for the organization.\n"
                    },
                    "total_never_active_devices": {
                      "type": "number",
                      "description": "The total number of never active devices across the queried time range.\nNever active devices are devices registered to your organization awaiting first transmission.\n"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/users": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "list-users-in-organization",
        "x-criticality": "medium",
        "summary": "List Organization Users",
        "description": "Page through users in an organization.\n\n**Required Scope:** `read-users`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/pageNumberQueryParam"
          },
          {
            "$ref": "#/components/parameters/pageSizeQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of users from an organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/organizationUser"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "operationId": "add-user-to-organization",
        "x-criticality": "medium",
        "summary": "Add User to Organization",
        "description": "Add a user to the organization. \nThis endpoint directly adds the user to the organization and does not create an invitation.\n\n**Required Scope:** `write-users`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/contentTypeJsonHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "role"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the user to add"
                  },
                  "role": {
                    "$ref": "#/components/schemas/userRole",
                    "description": "Role to assign to the user in the organization"
                  }
                },
                "example": {
                  "email": "newuser@example.com",
                  "role": "member"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organizationUser"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/users/{user_id}": {
      "patch": {
        "tags": [
          "Organizations"
        ],
        "operationId": "update-user-in-organization",
        "x-criticality": "medium",
        "summary": "Update User in Organization",
        "description": "Update a user's metadata and/or role in the organization.\n\n**Required Scope:** `write-users`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/userIdPathParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request body for updating a user in an organization",
                "properties": {
                  "set_first_name": {
                    "type": "string",
                    "maxLength": 250,
                    "description": "Update the user's first name"
                  },
                  "set_last_name": {
                    "type": "string",
                    "maxLength": 250,
                    "description": "Update the user's last name"
                  },
                  "set_role": {
                    "$ref": "#/components/schemas/userRole",
                    "description": "Update the user's role in the organization"
                  }
                },
                "example": {
                  "set_first_name": "John",
                  "set_last_name": "Doe",
                  "set_role": "admin"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organizationUser"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "delete": {
        "tags": [
          "Organizations"
        ],
        "operationId": "delete-user-from-organization",
        "x-criticality": "medium",
        "summary": "Delete User from Organization",
        "description": "Remove a user from the organization.\n\n**Required Scope:** `write-users`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/userIdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "User successfully deleted from organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Empty response object",
                  "example": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/invitations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "list-pending-invites",
        "x-criticality": "medium",
        "summary": "List Pending Invites",
        "description": "Page through pending invites to an organization.\n\n**Required Scope:** `read-invitations`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/pageNumberQueryParam"
          },
          {
            "$ref": "#/components/parameters/pageSizeQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of pending invites from an organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invites": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/invitation"
                      }
                    },
                    "total_invites": {
                      "type": "integer",
                      "description": "Total number of pending invites"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "operationId": "invite-user-to-organization",
        "x-criticality": "medium",
        "summary": "Invite User to Organization",
        "description": "Invite a user to join the organization.\n\n**Required Scope:** `write-invitations`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/contentTypeJsonHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "invitee_email",
                  "role"
                ],
                "properties": {
                  "invitee_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the user to invite"
                  },
                  "role": {
                    "$ref": "#/components/schemas/userRole",
                    "description": "Role to assign to the invited user"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invitation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "delete": {
        "tags": [
          "Organizations"
        ],
        "operationId": "delete-invitation",
        "x-criticality": "medium",
        "summary": "Delete Invitation",
        "description": "Revoke a pending invitation to the organization.\n\n**Required Scope:** `write-invitations`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/contentTypeJsonHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "invitee_email"
                ],
                "properties": {
                  "invitee_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the user whose invitation to revoke"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation successfully revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/ErrorUnauthorized"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/webhooks": {
      "post": {
        "tags": [
          "Packet Webhooks"
        ],
        "operationId": "create-webhook-endpoint",
        "x-criticality": "high",
        "summary": "Create a Webhook Endpoint",
        "description": "Register an endpoint that can receive webhook events for packet data.\n\n**Required Scope:** `write-webhooks`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "$ref": "#/components/schemas/webhookURL"
                  },
                  "max_batch_size": {
                    "$ref": "#/components/schemas/webhookMaxBatchSize"
                  },
                  "name": {
                    "$ref": "#/components/schemas/webhookName"
                  }
                }
              },
              "example": {
                "url": "https://api.yourdomain.com/webhooks/hubble",
                "name": "Warehouse Packet Delivery",
                "max_batch_size": 25
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A registered webhook endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhookWithSecret"
                },
                "example": {
                  "webhook_id": "6ea53e36-b7fb-429f-8c2e-d536cab71089",
                  "org_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Warehouse Packet Delivery",
                  "url": "https://api.yourdomain.com/webhooks/hubble",
                  "max_batch_size": 25,
                  "secret": "<shown once, at creation time>"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "get": {
        "tags": [
          "Packet Webhooks"
        ],
        "operationId": "list-registered-webhooks",
        "x-criticality": "high",
        "summary": "List Registered Webhooks",
        "description": "Retrieve a list of registered webhooks.\n\n**Required Scope:** `read-webhooks`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of registered webhook endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/basicWebhook"
                      }
                    }
                  }
                },
                "example": {
                  "webhooks": [
                    {
                      "webhook_id": "6ea53e36-b7fb-429f-8c2e-d536cab71089",
                      "org_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "name": "Warehouse Packet Delivery",
                      "url": "https://api.yourdomain.com/webhooks/hubble",
                      "max_batch_size": 11
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/webhooks/{webhook_id}": {
      "patch": {
        "tags": [
          "Packet Webhooks"
        ],
        "operationId": "update-webhook-endpoint",
        "x-criticality": "high",
        "summary": "Update a Webhook Endpoint",
        "description": "Update certain fields of a webhook endpoint.\n\n**Required Scope:** `write-webhooks`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/webhookIdPathParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "set_name": {
                    "$ref": "#/components/schemas/webhookName"
                  },
                  "set_max_batch_size": {
                    "$ref": "#/components/schemas/webhookMaxBatchSize"
                  },
                  "set_url": {
                    "$ref": "#/components/schemas/webhookURL"
                  }
                }
              },
              "example": {
                "set_name": "Warehouse Packet Delivery",
                "set_max_batch_size": 11
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated webhook endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/basicWebhook"
                },
                "example": {
                  "webhook_id": "6ea53e36-b7fb-429f-8c2e-d536cab71089",
                  "org_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "name": "Warehouse Packet Delivery",
                  "url": "https://api.yourdomain.com/webhooks/hubble",
                  "max_batch_size": 11
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "413": {
            "$ref": "#/components/responses/ErrorRequestEntityTooLarge"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      },
      "delete": {
        "tags": [
          "Packet Webhooks"
        ],
        "operationId": "delete-webhook-endpoint",
        "x-criticality": "high",
        "summary": "Delete a Webhook Endpoint",
        "description": "Delete a webhook endpoint.\n\n**Required Scope:** `write-webhooks`\nDelete a webhook endpoint so that it will stop receiving traffic.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/webhookIdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The webhook has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "an empty object for now"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/webhooks/{webhook_id}/test": {
      "post": {
        "tags": [
          "Packet Webhooks"
        ],
        "operationId": "test-webhook-endpoint",
        "x-criticality": "high",
        "summary": "Send a Test Webhook",
        "description": "Send an example packet batch to the configured webhook URL to test webhook delivery\n(connectivity, authentication, and response handling). Uses the same request shape as\nlive delivery (JSON packet batch plus `HTTP-X-HUBBLE-TOKEN` when a secret is configured).\nThe example packet is ephemeral and is not persisted after one attempt.\n\n**Required Scope:** `write-webhooks`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "$ref": "#/components/parameters/webhookIdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Result of the test webhook delivery attempt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/testWebhookResponse"
                },
                "example": {
                  "success": true,
                  "status_code": 200
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "404": {
            "$ref": "#/components/responses/ErrorNotFound"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/billing/invoices": {
      "get": {
        "tags": [
          "Billing"
        ],
        "operationId": "get-recent-invoices",
        "x-criticality": "medium",
        "summary": "Get Recent Invoices",
        "description": "Retrieve the most recent invoices for your organization.\n\n**Required Scope:** `read-billing-invoices`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "invoice_id": {
                            "type": "string",
                            "description": "the primary id for the invoice"
                          },
                          "invoice_number": {
                            "type": "string",
                            "description": "Customer-facing invoice number (e.g. Stripe `number`), matching what appears on the PDF.\n"
                          },
                          "issue_timestamp": {
                            "$ref": "#/components/schemas/utcTimestampNumber"
                          },
                          "due_timestamp": {
                            "$ref": "#/components/schemas/utcTimestampNumber"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "DRAFT",
                              "PENDING",
                              "COMPLETED"
                            ],
                            "description": "A status for the invoice. \nThe invoice starts as a DRAFT and then transitions to PENDING when it is ready to be paid.\nA fully paid invoice is then COMPLETED.\n"
                          },
                          "total_balance": {
                            "type": "number",
                            "format": "float",
                            "description": "The total balance amount on the invoice. The value is based on the organization's currency.\n"
                          },
                          "remaining_balance": {
                            "type": "number",
                            "format": "float",
                            "description": "The remaining balance due on the invoice. The value is based on the organization's currency.\n"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/billing/invoices/{invoice_id}/pdf": {
      "get": {
        "tags": [
          "Billing"
        ],
        "operationId": "get-invoice-pdf",
        "x-criticality": "medium",
        "summary": "Get Invoice PDF",
        "description": "Retrieve an invoice PDF.\n\n**Required Scope:** `read-billing-invoices`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
          },
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The primary key for an invoice"
          }
        ],
        "responses": {
          "200": {
            "description": "A PDF document for an invoice",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "the PDF contents"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorBadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ErrorInternalServer"
          }
        }
      }
    },
    "/v1/org/{org_id}/billing/usage": {
      "get": {
        "tags": [
          "Billing"
        ],
        "operationId": "get-billing-usage",
        "x-criticality": "medium",
        "summary": "Get Billing Usage",
        "description": "Retrieve the most recent billing usage for your organization.\n\n**Required Scope:** `read-billing-usage`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/orgIdPathParam"
[...]
