{
  "swagger": "2.0",
  "info": {
    "description": "Klingo API Telefonia",
    "version": "1.0.0",
    "title": "Klingo API Telefonia",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "suporte@klingo.com.br"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/agsx30/klingo-api-telefonia/1.0.0"
  },
  "host": "api-externa.klingo.app",
  "basePath": "/api/telefonia",
  "tags": [
    {
      "name": "teste",
      "description": "Teste da API."
    },
    {
      "name": "chamada",
      "description": "Entrada de Chamada."
    },
    {
      "name": "confirmação",
      "description": "Confirmação de Agendamento."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/live": {
      "get": {
        "tags": [
          "teste"
        ],
        "summary": "Verifica se a API está no ar.",
        "security": [
          {
            "app_token": []
          }
        ],
        "description": "Verifica se a API está no ar e exibe a versão.",
        "operationId": "versao",
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/entrada": {
      "post": {
        "tags": [
          "chamada"
        ],
        "summary": "Informação de entrada de chamada para marcação.",
        "security": [
          {
            "app_token": []
          }
        ],
        "description": "Informação de entrada de chamada para marcação.",
        "operationId": "entrada-chamada",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Dados da Chamada.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "chamador": {
                  "type": "string",
                  "example": "71999999999",
                  "description": "Número de entrada"
                },
                "ramal": {
                  "type": "string",
                  "example": "0001",
                  "description": "Ramal de entrada"
                },
                "user": {
                  "type": "string",
                  "example": "0001",
                  "description": "Identificação do usuário no sistema da telefonia"
                },
                "callid": {
                  "type": "string",
                  "example": "1234",
                  "description": "Id da Chamada"
                },
                "cpf": {
                  "type": "string",
                  "example": "12345678901",
                  "description": "CPF coletado na URA (opcional)"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/lista/{data}": {
      "get": {
        "tags": [
          "confirmação"
        ],
        "summary": "Lista de Marcações para Confirmação.",
        "security": [
          {
            "app_token": []
          }
        ],
        "description": "Informação de entrada de chamada para marcação.",
        "operationId": "lista-confirmacao",
        "parameters": [
          {
            "in": "path",
            "name": "data",
            "required": true,
            "type": "string",
            "description": "Data no formato YYYY-MM-DD"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Parâmetros.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "ate": {
                  "type": "string",
                  "example": "2000-01-01",
                  "description": "Data final de busca, para busca por período. Máximo de 7 dias."
                },
                "atendidos": {
                  "type": "boolean",
                  "example": true,
                  "description": "Indica se devem ser buscadas apenas as marcações atendidas."
                },
                "cancelados": {
                  "type": "boolean",
                  "example": true,
                  "description": "Indica se as marcações canceladas devem ser retornadas na busca."
                },
                "endereco_unidade": {
                  "type": "boolean",
                  "example": false,
                  "description": "Indica se as marcações serão listas com o endereço da unidade da marcação."
                },
                "links": {
                  "type": "boolean",
                  "example": false,
                  "description": "Indica se as marcações serão listas com os links de telemedicina e NPS."
                },
                "instrucao_medico": {
                  "type": "boolean",
                  "example": false,
                  "description": "Indica se a instrução do médico será retornada na lista."
                },
                "autorizacao": {
                  "type": "boolean",
                  "example": false,
                  "description": "Indica se o status da autorização será retornada na lista."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/marcacao"
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/{id}": {
      "get": {
        "tags": [
          "confirmação"
        ],
        "summary": "Retorna a Marcação Selecionada.",
        "security": [
          {
            "app_token": []
          }
        ],
        "description": "Informação da marcação.",
        "operationId": "item-marcacao",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Id da Marcação"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "item": {
                  "$ref": "#/definitions/marcacao"
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/confirmar": {
      "post": {
        "tags": [
          "confirmação"
        ],
        "summary": "Retorno de confirmação de marcação.",
        "security": [
          {
            "app_token": []
          }
        ],
        "description": "Retorno de confirmação de marcação.",
        "operationId": "confirmar",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Dados da Chamada.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id_marcacao": {
                  "type": "number",
                  "example": 1234,
                  "description": "Id da marcação sendo confirmada."
                },
                "status": {
                  "type": "string",
                  "example": "C",
                  "description": "Id da marcação sendo confirmada. C - Confirmado, S - Sem Resposta ou N - Não Confirmada. A opção N cancela o marcação."
                },
                "obs": {
                  "type": "string",
                  "example": "Texto de Observação",
                  "description": "Texto de Observação"
                },
                "callid": {
                  "type": "string",
                  "example": "1234",
                  "description": "Id da Chamada"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/nps": {
      "post": {
        "tags": [
          "nps"
        ],
        "summary": "Atualização da nota NPS de avaliação do atendimento.",
        "security": [
          {
            "app_token": []
          }
        ],
        "description": "Atualização da nota NPS de avaliação do atendimento.",
        "operationId": "nps",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Dados da Chamada.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id_marcacao": {
                  "type": "number",
                  "example": 1234,
                  "description": "Id da marcação sendo confirmada."
                },
                "nota": {
                  "type": "number",
                  "example": 10,
                  "description": "Nota do NPS: de 0 a 10."
                },
                "obs": {
                  "type": "string",
                  "example": "Comentário do paciente",
                  "description": "Comentário do paciente"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/lista_ultimo_por_cpf": {
      "get": {
        "tags": [
          "outros"
        ],
        "summary": "Lista o último atendimento da lista de CPFs.",
        "security": [
          {
            "app_token": []
          }
        ],
        "description": "Lista o último atendimento da lista de CPFs.",
        "operationId": "lista_ultimo",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Lista de CPFs.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cpfs": {
                  "type": "array",
                  "items": {
                    "properties": null
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/bloqueios": {
      "get": {
        "tags": [
          "outros"
        ],
        "summary": "Lista os bloqueios realizados de agenda.",
        "security": [
          {
            "app_token": []
          }
        ],
        "description": "Lista os bloqueios realizados de agenda.",
        "operationId": "bloqueios",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Filtros da Busca. Todos opcionais.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id_medico": {
                  "type": "number",
                  "example": 1234,
                  "description": "id do médico. se não passado, busca todos."
                },
                "de": {
                  "type": "string",
                  "example": "2000-01-01",
                  "description": "Data inicial: 2000-01-01. Default Data Atual."
                },
                "ate": {
                  "type": "string",
                  "example": "2000-01-01",
                  "description": "Data final: 2000-01-01. Default Data Atual."
                },
                "ref": {
                  "type": "string",
                  "example": "I",
                  "description": "Referência da data: I (Default) pelo período do intervalo do bloqueio, ou R pelo período de cadastro do bloqueio."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "app_token": {
      "type": "apiKey",
      "name": "X-APP-TOKEN",
      "in": "header"
    }
  },
  "definitions": {
    "marcacao": {
      "type": "object",
      "properties": {
        "id_paciente": {
          "type": "string",
          "description": "id do paciente",
          "example": "1234"
        },
        "id_marcacao": {
          "type": "string",
          "description": "id da marcação",
          "example": "1234"
        },
        "nome": {
          "type": "string",
          "description": "nome do paciente",
          "example": "FULANO DA SILVA"
        },
        "telefone": {
          "type": "string",
          "description": "Telefone do paciente",
          "example": "7133333333"
        },
        "celular": {
          "type": "string",
          "description": "Celular do paciente",
          "example": "7199999999"
        },
        "cpf": {
          "type": "string",
          "description": "CPF do paciente",
          "example": "11111111111"
        },
        "data": {
          "type": "string",
          "description": "data para quando foi marcado no formato YYYY-MM-DD",
          "example": "2020-01-01 10:00"
        },
        "hora": {
          "type": "string",
          "description": "hora para quando foi marcado no formato HH:MM",
          "example": "10:00"
        },
        "dt_atendimento": {
          "type": "string",
          "description": "data/hora do atendimento no formato YYYY-MM-DD hh:mm",
          "example": "2020-01-01 10:00"
        },
        "dt_fim_atendimento": {
          "type": "string",
          "description": "data/hora da finalização do atendimento no formato YYYY-MM-DD hh:mm",
          "example": "2020-01-01 10:00"
        },
        "procedimento": {
          "type": "string",
          "description": "Nome do Procedimento",
          "example": "CONSULTA MEDICA"
        },
        "medico": {
          "type": "string",
          "description": "Nome do Profissional",
          "example": "BELTRANO DA SILVA"
        },
        "unidade": {
          "type": "string",
          "description": "Unidade",
          "example": "Central"
        },
        "unidade_id": {
          "type": "number",
          "description": "Id da Unidade",
          "example": 123
        },
        "status": {
          "type": "string",
          "description": "Status: A - Aberto / C - Cancelamento / B - Bloqueada",
          "example": "Confirmado"
        },
        "status_confirmacao": {
          "type": "string",
          "description": "Status de Confirmação",
          "example": "Confirmado"
        },
        "status_confirmacao_id": {
          "type": "string",
          "description": "Id do Status de Confirmação",
          "example": "2"
        },
        "data_confirmacao": {
          "type": "string",
          "description": "Data da confirmação quando tiver confirmado",
          "example": "2000-01-01 00:00"
        },
        "responsavel_confirmacao": {
          "type": "string",
          "description": "Responsável da confirmação quando tiver confirmado",
          "example": "administrador"
        },
        "origem_confirmacao": {
          "type": "string",
          "description": "Origem quando tiver confirmado",
          "example": "telefonia"
        },
        "obs_confirmacao": {
          "type": "string",
          "description": "Observação da confirmação",
          "example": "..."
        },
        "codigo_reserva": {
          "type": "string",
          "description": "Código da Reserva",
          "example": "REJDSK"
        },
        "id_atendimento": {
          "type": "string",
          "description": "Número do atendimento, se o atendimento foi realizado.",
          "example": 123
        },
        "instrucao": {
          "type": "string",
          "description": "Instrução do Procedimento",
          "example": "Fazer em jejum"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}
