{
  "openapi": "3.1.0",
  "info": {
    "title": "GreenCalculus API",
    "version": "v1",
    "description": "Sourced greenhouse-gas emission factors and audit-traced carbon calculations. Every value returns with its exact source reference and data version — reproducible and citable. Free key at https://greencalculus.com/developers/.\n\nSCOPE: this document describes every endpoint we publish a callable example for — the data, calculation, discovery and watch endpoints. It deliberately excludes the control plane behind greencalculus.com (billing, sign-in, key management, admin), which is not a customer contract and is free to change, and /v1/account/webhook, whose configuration is session-only by design and therefore cannot be exercised with the bearer token this document describes. Those exclusions are enumerated and enforced by scripts/check-openapi-drift.mjs, so an endpoint is absent here because it was excluded, never because it was forgotten.",
    "contact": {
      "name": "GreenCalculus",
      "url": "https://greencalculus.com/developers/",
      "email": "jeremiah@greencalculus.com"
    },
    "license": {
      "name": "Attribution required except on Enterprise",
      "url": "https://greencalculus.com/developers/docs/#attribution"
    },
    "x-jentic-source-url": "https://api.greencalculus.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.greencalculus.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "tags": [
          "Factors"
        ],
        "summary": "Service health",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/v1/factors/{key}": {
      "get": {
        "tags": [
          "Factors"
        ],
        "summary": "Resolve one factor by canonical key (value + full provenance)",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "grid.gbr.electricity.location_based"
          },
          {
            "name": "as_of",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026.175"
            },
            "description": "Serve this factor as it stood at an ARCHIVED data version. On a hit you get the archived row, served_version is the version you asked for, and version_pin reports matched: true, reproducible: true. Two misses, and they behave differently. (1) The version is NOT in the archive: 200 carrying the CURRENT row, with version_pin.matched: false naming as_of_requested and listing every archived version available — unlike POST /v1/calculate/*?as_of=, which 400s instead. So read version_pin before treating a response as pinned; do not infer it from the status code. (2) The version IS archived but holds no row for this key — it did not exist yet, or was withdrawn at or before it: 404 not_found, naming the key and the version, and saying whether the key is in the CURRENT corpus so a real absence is distinguishable from a mistyped key. GET /v1/factors/{key}/history lists every version that recorded it. Case (2) returned 200 with the current value in a browse envelope until 2026-09-10; it now refuses, because serving a current value under a past version label is the one answer this endpoint must never give."
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Factor with value, source id, source reference, data version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactorLookup"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown key, or a key with no row at the requested ?as_of= version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactorMiss"
                }
              }
            }
          }
        }
      }
    },
    "/v1/factors/{key}/history": {
      "get": {
        "tags": [
          "Factors"
        ],
        "summary": "Version history — what this factor has been",
        "description": "Every version the reproducibility archive holds for one key, with the value each version served and whether it was a change or a withdrawal. Derived from the same per-key archive index and the same read that answers ?as_of=, so it cannot disagree with the archive. Requires a key (any tier). History begins at the delta watershed; a short list means a stable factor, and the payload says so.",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "grid.gbr.electricity.location_based"
          }
        ],
        "responses": {
          "200": {
            "description": "Current row + per-version history entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactorHistory"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Key unknown to both the corpus and the archive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/factors": {
      "get": {
        "tags": [
          "Factors"
        ],
        "summary": "Browse/search the corpus (open — no key, values included)",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "UK electricity",
            "description": "Free text. Every whitespace-separated word must appear in the row name or canonical key (dots/underscores/hyphens read as separators, so a pasted canonical key finds its own row). Results are relevance-ranked."
          },
          {
            "name": "section",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "grid"
          },
          {
            "name": "key_prefix",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "grid.gbr",
            "description": "Anchors at the START of the dotted key — \"electricity\" matches nothing; use search for words appearing anywhere."
          },
          {
            "name": "family",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "grid-electricity",
            "description": "Taxonomy family slug (hyphenated). An unknown value returns 200 with an empty result and the valid families listed in meta.warnings."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "base64(canonical_key) from meta.next_cursor. Preferred over offset — stable across data-version bumps, and required for paging relevance-ordered search results."
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Matching factor keys, names, sections. meta.warnings explains any filter that matched nothing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactorList"
                }
              }
            }
          },
          "400": {
            "description": "gc_unknown_param — a query parameter this endpoint does not accept. The message names the offender and lists the accepted set. Other 400s: gc_limit_too_large, gc_offset_invalid, gc_cursor_invalid, gc_section_conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calculate/ghg-activity": {
      "post": {
        "tags": [
          "Calculate"
        ],
        "summary": "Activity → emissions (activity × factor, with unit conversion + working + scope)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "as_of",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026.175"
            },
            "description": "Run this calculation against an ARCHIVED data version. Every factor used is the row as it stood at that version, and meta.gc_version, meta.version_pin, the citation and the receipt all report it. Unlike GET /v1/factors/{key}?as_of=, an unavailable version is REFUSED (400) rather than served from current data with a label: a calculation returns a single figure that goes into a report under a receipt, so it must be the version it claims. A factor key that did not exist yet at that version is refused for the same reason. Archived versions are listed in the error, and by GET /v1/factors/{key}?as_of= on a miss."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "activity",
                  "factor_key"
                ],
                "properties": {
                  "activity": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number"
                      },
                      "unit": {
                        "type": "string",
                        "example": "MWh"
                      }
                    }
                  },
                  "factor_key": {
                    "type": "string",
                    "example": "grid.gbr.electricity.location_based"
                  },
                  "country": {
                    "type": "string",
                    "description": "Optional. The country the ACTIVITY belongs to — ISO3, ISO2 or a name (\"deu\", \"DE\", \"Germany\"). When given, the response carries factor.resolution stating whether the factor used is published for that country (tier: exact), is a global figure applied to it (global), or belongs to a different country (proxy, with proxy_of naming which). Omit it and no geography claim is made — the response is unchanged. A country we do not recognise yields no claim rather than a wrong one.",
                    "example": "deu"
                  }
                }
              },
              "example": {
                "activity": {
                  "value": 5,
                  "unit": "MWh"
                },
                "factor_key": "grid.gbr.electricity.location_based"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Emissions + working + scope + source",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calculation"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unknown factor or incompatible units",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calculate/embodied": {
      "post": {
        "tags": [
          "Calculate"
        ],
        "summary": "Whole-life embodied carbon (EN 15978 modular, boundary-aware)",
        "description": "Version pinning is NOT available on this engine: the pin resolves keys named `*factor_key`, and this endpoint is addressed by `material_key` (and its per-module rows). Sending ?as_of= here is a 400 rather than a silent fall back to current data — a calculation that carries a receipt has to be the version it claims.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "materials"
                ],
                "properties": {
                  "materials": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "material_key": {
                          "type": "string",
                          "example": "materials.concrete.ready_mix.c8_10.module_a1_a3"
                        },
                        "quantity": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number"
                            },
                            "unit": {
                              "type": "string",
                              "example": "m3"
                            }
                          }
                        },
                        "boundary": {
                          "type": "string",
                          "enum": [
                            "A1-A3",
                            "A1-A4",
                            "A1-A5",
                            "A1-C"
                          ],
                          "default": "A1-A3"
                        },
                        "country": {
                          "type": "string",
                          "description": "Optional. The country the ACTIVITY belongs to — ISO3, ISO2 or a name (\"deu\", \"DE\", \"Germany\"). When given, the response carries factor.resolution stating whether the factor used is published for that country (tier: exact), is a global figure applied to it (global), or belongs to a different country (proxy, with proxy_of naming which). Omit it and no geography claim is made — the response is unchanged. A country we do not recognise yields no claim rather than a wrong one.",
                          "example": "deu"
                        }
                      }
                    }
                  },
                  "country": {
                    "type": "string",
                    "description": "Optional. The country the ACTIVITY belongs to — ISO3, ISO2 or a name (\"deu\", \"DE\", \"Germany\"). When given, the response carries factor.resolution stating whether the factor used is published for that country (tier: exact), is a global figure applied to it (global), or belongs to a different country (proxy, with proxy_of naming which). Omit it and no geography claim is made — the response is unchanged. A country we do not recognise yields no claim rather than a wrong one.",
                    "example": "deu"
                  }
                }
              },
              "example": {
                "materials": [
                  {
                    "id": "slab",
                    "material_key": "materials.concrete.ready_mix.c8_10",
                    "quantity": {
                      "value": 12,
                      "unit": "m3"
                    },
                    "boundary": "A1-A3"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-stage embodied carbon + boundary total; module D separate; data gaps flagged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbodiedCalculation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calculate/pcaf": {
      "post": {
        "tags": [
          "Calculate"
        ],
        "summary": "PCAF Part A financed emissions (attribution + audit trail)",
        "description": "Version pinning is NOT available on this engine: the pin resolves keys named `*factor_key`, and this endpoint is addressed by `sector_key`, or by caller-supplied emissions with no factor at all. Sending ?as_of= here is a 400 rather than a silent fall back to current data — a calculation that carries a receipt has to be the version it claims.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "holdings"
                ],
                "properties": {
                  "asset_class": {
                    "type": "string"
                  },
                  "holdings": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Each holding may carry its own optional `country`, overriding the request-level one — a portfolio routinely spans economies, and the spend-based intensity used for one borrower may come from a different country than the next."
                  },
                  "country": {
                    "type": "string",
                    "description": "Optional. The country the ACTIVITY belongs to — ISO3, ISO2 or a name (\"deu\", \"DE\", \"Germany\"). When given, the response carries factor.resolution stating whether the factor used is published for that country (tier: exact), is a global figure applied to it (global), or belongs to a different country (proxy, with proxy_of naming which). Omit it and no geography claim is made — the response is unchanged. A country we do not recognise yields no claim rather than a wrong one.",
                    "example": "deu"
                  }
                }
              },
              "example": {
                "asset_class": "listed_equity",
                "holdings": [
                  {
                    "id": "acme-plc",
                    "outstanding_amount": 5000000,
                    "denominator": {
                      "type": "evic",
                      "value": 120000000
                    },
                    "company_emissions": {
                      "value": 42000,
                      "unit": "tCO2e"
                    },
                    "data_quality_score": 2
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Financed emissions + weighted data-quality score + audit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PcafCalculation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calculate/electricity": {
      "post": {
        "tags": [
          "Calculate"
        ],
        "summary": "Scope 2 electricity — location + market (dual reporting)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "as_of",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026.175"
            },
            "description": "Run this calculation against an ARCHIVED data version. Every factor used is the row as it stood at that version, and meta.gc_version, meta.version_pin, the citation and the receipt all report it. Unlike GET /v1/factors/{key}?as_of=, an unavailable version is REFUSED (400) rather than served from current data with a label: a calculation returns a single figure that goes into a report under a receipt, so it must be the version it claims. A factor key that did not exist yet at that version is refused for the same reason. Archived versions are listed in the error, and by GET /v1/factors/{key}?as_of= on a miss."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "consumption",
                  "location_factor_key"
                ],
                "properties": {
                  "consumption": {
                    "type": "object",
                    "description": "Electricity consumed.",
                    "properties": {
                      "value": {
                        "type": "number"
                      },
                      "unit": {
                        "type": "string",
                        "example": "kWh",
                        "description": "kWh | MWh | GWh"
                      }
                    }
                  },
                  "location_factor_key": {
                    "type": "string",
                    "example": "grid.gbr.electricity.location_based"
                  },
                  "market_factor_key": {
                    "type": "string",
                    "description": "Optional. Market-based factor (e.g. residual mix) for dual reporting.",
                    "example": "grid.gbr.electricity.residual_mix"
                  },
                  "supplier_factor": {
                    "type": "object",
                    "description": "Optional contractual factor (green tariff / REC = 0). Wins over market_factor_key.",
                    "properties": {
                      "value": {
                        "type": "number"
                      },
                      "unit": {
                        "type": "string",
                        "example": "kg CO2e per kWh"
                      }
                    }
                  },
                  "country": {
                    "type": "string",
                    "description": "Optional. The country the ACTIVITY belongs to — ISO3, ISO2 or a name (\"deu\", \"DE\", \"Germany\"). When given, the response carries factor.resolution stating whether the factor used is published for that country (tier: exact), is a global figure applied to it (global), or belongs to a different country (proxy, with proxy_of naming which). Omit it and no geography claim is made — the response is unchanged. A country we do not recognise yields no claim rather than a wrong one.",
                    "example": "deu"
                  }
                }
              },
              "example": {
                "consumption": {
                  "value": 10000,
                  "unit": "kWh"
                },
                "location_factor_key": "grid.gbr.electricity.location_based"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location- and (if given) market-based emissions + working + source",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElectricityCalculation"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unknown factor or incompatible units",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calculate/freight": {
      "post": {
        "tags": [
          "Calculate"
        ],
        "summary": "Freight (GLEC) — the factor's denominator picks the method: mass × distance (tonne-km) or TEU × distance (TEU-km)",
        "description": "Send `mass` for a factor denominated per tonne-km, `teu` for one denominated per TEU-km (the sea-container family — a TEU is a twenty-foot container slot, not a mass). Sending the wrong one is refused with 422 `gc_freight_basis_mismatch` rather than silently multiplied.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "as_of",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026.175"
            },
            "description": "Run this calculation against an ARCHIVED data version. Every factor used is the row as it stood at that version, and meta.gc_version, meta.version_pin, the citation and the receipt all report it. Unlike GET /v1/factors/{key}?as_of=, an unavailable version is REFUSED (400) rather than served from current data with a label: a calculation returns a single figure that goes into a report under a receipt, so it must be the version it claims. A factor key that did not exist yet at that version is refused for the same reason. Archived versions are listed in the error, and by GET /v1/factors/{key}?as_of= on a miss."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "distance",
                  "factor_key"
                ],
                "properties": {
                  "mass": {
                    "type": "object",
                    "description": "Required for a per-tonne-km factor. Mutually exclusive with teu.",
                    "properties": {
                      "value": {
                        "type": "number"
                      },
                      "unit": {
                        "type": "string",
                        "example": "t"
                      }
                    }
                  },
                  "teu": {
                    "type": "object",
                    "description": "Required for a per-TEU-km factor (container shipping). A forty-foot box is 2 TEU. Mutually exclusive with mass.",
                    "properties": {
                      "value": {
                        "type": "number",
                        "example": 2
                      },
                      "unit": {
                        "type": "string",
                        "example": "teu"
                      }
                    }
                  },
                  "distance": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number"
                      },
                      "unit": {
                        "type": "string",
                        "example": "km"
                      }
                    }
                  },
                  "factor_key": {
                    "type": "string",
                    "example": "freight.road_hgv.tonne_km"
                  },
                  "country": {
                    "type": "string",
                    "description": "Optional. The country the ACTIVITY belongs to — ISO3, ISO2 or a name (\"deu\", \"DE\", \"Germany\"). When given, the response carries factor.resolution stating whether the factor used is published for that country (tier: exact), is a global figure applied to it (global), or belongs to a different country (proxy, with proxy_of naming which). Omit it and no geography claim is made — the response is unchanged. A country we do not recognise yields no claim rather than a wrong one.",
                    "example": "deu"
                  }
                }
              },
              "example": {
                "mass": {
                  "value": 12,
                  "unit": "t"
                },
                "distance": {
                  "value": 300,
                  "unit": "km"
                },
                "factor_key": "freight.road_hgv.tonne_km"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tonne-km or TEU-km emissions + working + source",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calculation"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unknown factor, or the activity input does not match the factor's denominator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calculate/spend-based": {
      "post": {
        "tags": [
          "Calculate"
        ],
        "summary": "Spend-based EEIO — spend × intensity (currency-matched, no FX)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "as_of",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026.175"
            },
            "description": "Run this calculation against an ARCHIVED data version. Every factor used is the row as it stood at that version, and meta.gc_version, meta.version_pin, the citation and the receipt all report it. Unlike GET /v1/factors/{key}?as_of=, an unavailable version is REFUSED (400) rather than served from current data with a label: a calculation returns a single figure that goes into a report under a receipt, so it must be the version it claims. A factor key that did not exist yet at that version is refused for the same reason. Archived versions are listed in the error, and by GET /v1/factors/{key}?as_of= on a miss."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "spend",
                  "factor_key"
                ],
                "properties": {
                  "spend": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number"
                      },
                      "currency": {
                        "type": "string",
                        "example": "USD"
                      }
                    }
                  },
                  "factor_key": {
                    "type": "string",
                    "example": "spend_based.us.naics6.541511.custom_computer_programming_services"
                  },
                  "country": {
                    "type": "string",
                    "description": "Optional. The country the ACTIVITY belongs to — ISO3, ISO2 or a name (\"deu\", \"DE\", \"Germany\"). When given, the response carries factor.resolution stating whether the factor used is published for that country (tier: exact), is a global figure applied to it (global), or belongs to a different country (proxy, with proxy_of naming which). Omit it and no geography claim is made — the response is unchanged. A country we do not recognise yields no claim rather than a wrong one.",
                    "example": "deu"
                  }
                }
              },
              "example": {
                "spend": {
                  "value": 50000,
                  "currency": "USD"
                },
                "factor_key": "spend_based.us.naics6.541511.custom_computer_programming_services"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spend-based emissions + working + source",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calculation"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Currency mismatch or unknown factor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calculate/business-travel": {
      "post": {
        "tags": [
          "Calculate"
        ],
        "summary": "Business travel — distance × passengers × factor",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "as_of",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026.175"
            },
            "description": "Run this calculation against an ARCHIVED data version. Every factor used is the row as it stood at that version, and meta.gc_version, meta.version_pin, the citation and the receipt all report it. Unlike GET /v1/factors/{key}?as_of=, an unavailable version is REFUSED (400) rather than served from current data with a label: a calculation returns a single figure that goes into a report under a receipt, so it must be the version it claims. A factor key that did not exist yet at that version is refused for the same reason. Archived versions are listed in the error, and by GET /v1/factors/{key}?as_of= on a miss."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "distance",
                  "factor_key"
                ],
                "properties": {
                  "distance": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number"
                      },
                      "unit": {
                        "type": "string",
                        "example": "km"
                      }
                    }
                  },
                  "passengers": {
                    "type": "integer",
                    "default": 1
                  },
                  "factor_key": {
                    "type": "string",
                    "example": "business_travel.air.short_haul.average.with_rf"
                  },
                  "country": {
                    "type": "string",
                    "description": "Optional. The country the ACTIVITY belongs to — ISO3, ISO2 or a name (\"deu\", \"DE\", \"Germany\"). When given, the response carries factor.resolution stating whether the factor used is published for that country (tier: exact), is a global figure applied to it (global), or belongs to a different country (proxy, with proxy_of naming which). Omit it and no geography claim is made — the response is unchanged. A country we do not recognise yields no claim rather than a wrong one.",
                    "example": "deu"
                  }
                }
              },
              "example": {
                "distance": {
                  "value": 800,
                  "unit": "km"
                },
                "passengers": 2,
                "factor_key": "business_travel.air.short_haul.average.with_rf"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Travel emissions + working + source",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calculation"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unknown factor or incompatible units",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calculate/batch": {
      "post": {
        "tags": [
          "Calculate"
        ],
        "summary": "Batch — up to 100 mixed-methodology calculations in one call",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "as_of",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2026.175"
            },
            "description": "Run this calculation against an ARCHIVED data version. Every factor used is the row as it stood at that version, and meta.gc_version, meta.version_pin, the citation and the receipt all report it. Unlike GET /v1/factors/{key}?as_of=, an unavailable version is REFUSED (400) rather than served from current data with a label: a calculation returns a single figure that goes into a report under a receipt, so it must be the version it claims. A factor key that did not exist yet at that version is refused for the same reason. Archived versions are listed in the error, and by GET /v1/factors/{key}?as_of= on a miss."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "properties": {
                        "methodology": {
                          "type": "string",
                          "example": "ghg-activity"
                        },
                        "input": {
                          "type": "object"
                        }
                      }
                    },
                    "description": "Each item is dispatched to the same handler as its standalone endpoint, so an item may carry its own optional `country` and gets the same factor.resolution back. There is no batch-level country — items in one batch routinely belong to different countries."
                  }
                }
              },
              "example": {
                "items": [
                  {
                    "methodology": "ghg-activity",
                    "input": {
                      "activity": {
                        "value": 5,
                        "unit": "MWh"
                      },
                      "factor_key": "grid.gbr.electricity.location_based"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-item results + summed total",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchCalculation"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "A malformed item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Shared calculation capacity full — a deliberate global concurrency cap protecting the origin, not an outage. Honour Retry-After. Identical repeat calls are served from a deterministic cache and never consume capacity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calculate/resolve": {
      "post": {
        "tags": [
          "Calculate"
        ],
        "summary": "Resolve — plain-text description → ranked factor keys + confidence",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "description"
                ],
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "uk grid electricity",
                    "description": "Plain-language description of the factor you need."
                  },
                  "section": {
                    "type": "string",
                    "example": "fuels",
                    "description": "Optional. Restrict candidates to one MB section."
                  },
                  "limit": {
                    "type": "integer",
                    "default": 5,
                    "minimum": 1,
                    "maximum": 20,
                    "description": "Optional. Number of ranked candidates to return."
                  }
                }
              },
              "example": {
                "description": "diesel delivery van"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked candidate factor keys with confidence scores. Each match carries country_iso3 and geo_match (\"exact\" | \"global\" | \"proxy\"); a \"proxy\" match is a factor from a different country than the one asked for, and its confidence is discounted accordingly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resolve"
                }
              }
            }
          },
          "400": {
            "description": "Missing \"description\"",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/status": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Status — current health and measured uptime",
        "security": [],
        "description": "Open (no key). Current operational state, uptime over 24h/7d/30d, and a log of healthy/degraded transitions. Measured by a probe running every ~5 minutes against the edge factor store, the WordPress origin and a real calculation round-trip. The probe runs INSIDE this Worker and therefore cannot observe the Worker being entirely down — the response says so rather than implying total coverage.",
        "responses": {
          "200": {
            "description": "Status, uptime percentages, transitions, caveat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          }
        }
      }
    },
    "/v1/changes": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Change feed — what each data release changed",
        "security": [],
        "description": "Open (no key). Data releases newest first, each with added/changed/withdrawn counts and a link to its per-release record. Derived at publish time from the same delta the reproducibility archive stores, so this feed cannot disagree with ?as_of= about a release. Records begin at the delta watershed (meta.record_begins); earlier versions remain archived and pinnable but are not summarised.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "example": 20
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2026.183",
            "description": "A version from a previous page's next_cursor; resumes after it. Must be at or after meta.record_begins — an earlier version is archived and pinnable but was never summarised, so it cannot be resumed from."
          }
        ],
        "responses": {
          "200": {
            "description": "Releases, newest first, with counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangesList"
                }
              }
            }
          },
          "400": {
            "description": "Unknown parameter, bad limit, or unknown cursor — named in the error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/changes/{version}": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "One release — every row it added, changed or withdrew",
        "security": [],
        "description": "Open (no key). The full entry list for one data release. Each entry is checkable at verify.greencalculus.com/{key}@{version} without an account. A version older than the record (or never published) is a 404 that says which releases are recorded.",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2026.183"
          }
        ],
        "responses": {
          "200": {
            "description": "The release record: counts + entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangesRelease"
                }
              }
            }
          },
          "404": {
            "description": "No change record for that version — the error names the recorded range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/openapi.json": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "This document",
        "description": "Open (no key). Also served at /openapi.json. Point a generator, Postman or your editor at it.",
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI 3.1 description of this API",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                }
              }
            }
          }
        }
      }
    },
    "/v1/roadmap": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "The sourcing queue — factor gaps the telemetry actually recorded",
        "description": "Open (no key). Rebuilt daily from 90 days of misses, never hand-edited. A key appears only after crossing meta.floor requests, which is what separates demand from one-off probes; naming misses the API recovered with suggestions are excluded as discovery bugs rather than data gaps. An empty list is a statement about the record, not about demand, and meta.note says which.",
        "security": [],
        "responses": {
          "200": {
            "description": "Recorded gaps, most-requested first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Roadmap"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/watch": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "The factor keys this account is alerted on",
        "description": "Bearer key or signed-in session.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The current watchlist and its cap",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchList"
                }
              }
            }
          },
          "401": {
            "description": "No valid key or session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Watch a factor key",
        "description": "A release that touches the key emails old to new with the versioned verify link. A key that is not in the corpus is REFUSED with 422 rather than accepted as an alert that could never fire.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "A canonical factor key.",
                    "example": "grid.gbr.electricity.location_based"
                  }
                }
              },
              "example": {
                "key": "grid.gbr.electricity.location_based"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The watchlist after the addition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchMutation"
                }
              }
            }
          },
          "400": {
            "description": "No key in the body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No valid key or session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The key is not in the corpus, so watching it would never alert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/watch/remove": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Stop watching a factor key",
        "description": "POST rather than DELETE: credentialed CORS on this API allows GET and POST only.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "example": "grid.gbr.electricity.location_based"
                  }
                }
              },
              "example": {
                "key": "grid.gbr.electricity.location_based"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The watchlist after the removal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchMutation"
                }
              }
            }
          },
          "400": {
            "description": "No key in the body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No valid key or session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/watch/diff": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "What changed for your watched keys between two dates",
        "description": "The reporting-period question, answered directly: per key, the value at each boundary, whether it moved, the versions that touched it, and a proof link per side — the evidence a restatement decision needs. A `from` older than the change record clamps to the archive watershed and the response says so.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-01-01"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Defaults to today.",
            "example": "2026-12-31"
          }
        ],
        "responses": {
          "200": {
            "description": "Per-key boundary values and proof links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchDiff"
                }
              }
            }
          },
          "400": {
            "description": "Missing or malformed from/to",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No valid key or session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/watch/digest": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Read the summary cadence",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The current cadence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Digest"
                }
              }
            }
          },
          "401": {
            "description": "No valid key or session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Set the summary cadence",
        "description": "Off by default. Each edition covers exactly the period since the last one — anchored to itself, so it fits any financial year with no configuration. Quiet periods still send: \"your saved figures stand\" is the answer a reporting team needs.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cadence"
                ],
                "properties": {
                  "cadence": {
                    "type": "string",
                    "enum": [
                      "off",
                      "monthly",
                      "quarterly"
                    ]
                  }
                }
              },
              "example": {
                "cadence": "monthly"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The cadence after the change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Digest"
                }
              }
            }
          },
          "400": {
            "description": "cadence must be off, monthly or quarterly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No valid key or session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coverage": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Coverage — which countries we hold data for, and how much",
        "security": [],
        "description": "Open (no key). Per country: how many of 13 inventory families we hold, the row count in each, and a band (complete / partial / minimal). Answer \"do you cover my country?\" before integrating. Derived from the live corpus at request time, so it cannot drift from the data. Measures PRESENCE, not sufficiency — a country showing fuel:7 has seven fuel rows, which may not answer a given question; the response repeats this in a caveat field. Returns counts only, never factor values.",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "gbr,usa",
            "description": "One or more ISO-3166 alpha-3 codes, comma-separated."
          },
          {
            "name": "family",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "wtt",
            "description": "Only countries holding data in this family."
          },
          {
            "name": "min_score",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": 10,
            "description": "Only countries covering at least this many of the 13 families."
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage matrix + meta (families, bands, filters) + caveat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coverage"
                }
              }
            }
          },
          "400": {
            "description": "Unknown parameter or unknown family — named in the error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/check": {
      "post": {
        "tags": [
          "Discovery"
        ],
        "summary": "Check — which published factor is each of your numbers, and is it still right?",
        "security": [],
        "description": "Open (no key), up to 25 rows per request, limited per IP. Send the factors your inventory already uses, each as a description, the value AS TYPED (a string keeps its precision: \"0.207\" matches anything that rounds to it) and the unit as written. Each row comes back with the published factor it matches (source, edition, line), a status (current, outdated, fix, review, unverifiable, notcomparable), findings such as an old edition, old IPCC warming values, a 1,000x unit slip, net instead of gross calorific value or an upstream (WTT) factor used for combustion, and the current value to use instead. UK government factors carry every edition 2019-2026 except 2021; other sources are current-edition only, so a non-UK value can be identified but not yet called out of date. Nothing is substituted, and the request body is neither logged nor stored.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rows"
                ],
                "properties": {
                  "example": {
                    "type": "boolean",
                    "description": "Optional. Marks a request as a demonstration (our own page sends it for its worked example) so it is not counted as a check."
                  },
                  "rows": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 25,
                    "items": {
                      "type": "object",
                      "required": [
                        "description",
                        "value",
                        "unit"
                      ],
                      "properties": {
                        "description": {
                          "type": "string",
                          "example": "Purchased electricity",
                          "description": "As written in your sheet."
                        },
                        "value": {
                          "type": "string",
                          "example": "0.19338",
                          "description": "As typed. Send a string to keep trailing zeros."
                        },
                        "unit": {
                          "type": "string",
                          "example": "kgCO2e/kWh",
                          "description": "As written, e.g. kgCO2e/kWh, kg CO2e per litre, kgCO2e/pkm, GWP."
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "rows": [
                  {
                    "description": "Purchased electricity",
                    "value": "0.19338",
                    "unit": "kgCO2e/kWh"
                  },
                  {
                    "description": "R-410A",
                    "value": "2088",
                    "unit": "GWP"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One verdict per row, a status summary, the index the check ran against and its coverage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Check"
                }
              }
            }
          },
          "400": {
            "description": "Body is not JSON, rows is empty, or more than 25 rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many checks from this address; Retry-After says when to try again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/absence": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Absence — why a factor is NOT in the corpus",
        "security": [],
        "description": "Open (no key). The reasoned counterpart to /v1/coverage: where that reports a zero, this reports why. Each record carries the subject, the publisher we checked, the route we tried, a confidence and a review date. Five classifications: \"structural\" (no publisher issues this anywhere — stop retrying), \"not_yet_sourced\" (a publisher exists and is named; our backlog), \"refused\" (we found it and declined; the reason is stated), \"held_not_counted\" (we DO hold it — see we_hold for the key — and the coverage metric cannot see it), and \"coupled\" (zero only because another family is zero). These are authored judgements about what the world publishes, not values derived from our corpus, so each carries a review date and reports stale:true once past it.",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "can",
            "description": "ISO-3166 alpha-3 code."
          },
          {
            "name": "family",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "water",
            "description": "Inventory family, as used by /v1/coverage."
          },
          {
            "name": "classification",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "structural",
            "description": "structural | not_yet_sourced | refused | held_not_counted | coupled."
          }
        ],
        "responses": {
          "200": {
            "description": "Absence records + the classification legend + caveat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Absence"
                }
              }
            }
          },
          "400": {
            "description": "Unknown classification — the valid set is named in the error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/{id}": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Source feed — one publisher's dataset, whole",
        "security": [],
        "description": "Open (no key). Every row we hold from one public-domain publisher, with that publisher's licence, issuing body and retrieval date, and the exact source reference behind each value. Feeds exist for a NAMED SET of sources, not for every source id in the corpus — a source we have not cleared for republication has no feed, and asks for one are refused rather than quietly answered from somewhere else. The id is case-insensitive. Everything else in the corpus is readable through GET /v1/factors, which carries the same values, provenance and licence per row.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "defra_2026",
            "description": "Source id, case-insensitive. Currently DEFRA_2026, DEFRA_2025, EMBER_YEARLY_ELECTRICITY_2025."
          }
        ],
        "responses": {
          "200": {
            "description": "The publisher record plus every factor transcribed from it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceFeed"
                }
              }
            }
          },
          "404": {
            "description": "No feed for that source id. The error names the ids that do have one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/corpus": {
      "get": {
        "tags": [
          "Bulk"
        ],
        "summary": "Full consolidated factor feed (Business plan and above)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "All factors with values + provenance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Corpus"
                }
              }
            }
          },
          "403": {
            "description": "Requires Business plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "description": "The single error envelope, on every non-2xx response from every endpoint. Stated on /developers/docs and enforced at the gateway for origin-raised errors too — read the code from error.code.",
        "required": [
          "error"
        ],
        "additionalProperties": true,
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "additionalProperties": true,
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable code. Transport-level: unauthorized, forbidden_tier, not_found, rate_limited, quota_exceeded, overage_cap_reached, busy, origin_unavailable, invalid_request. Validation codes are namespaced gc_* and named per endpoint (gc_unknown_param, gc_limit_too_large, gc_offset_invalid, gc_cursor_invalid, gc_section_conflict, and the per-engine gc_<engine>_* set).",
                "example": "gc_unknown_param"
              },
              "message": {
                "type": "string",
                "description": "Human-readable and specific — a 4xx names the offending parameter and lists the accepted set.",
                "example": "Unknown query parameter: bogus. This endpoint accepts: offset, cursor, limit, section, key_prefix, family, search. Free-text lookup is ?search=."
              },
              "docs": {
                "type": "string",
                "format": "uri",
                "example": "https://greencalculus.com/developers/docs/#errors"
              },
              "details": {
                "type": "object",
                "additionalProperties": true,
                "description": "Present only when the failing endpoint attached structured detail beyond the HTTP status."
              }
            }
          }
        }
      },
      "Receipt": {
        "type": "object",
        "description": "Deterministic tamper-evidence. To verify: remove the `receipt` and `attribution` keys from the response, sort every object's keys recursively, serialise to JSON with slashes and Unicode unescaped, and SHA-256 the result — it equals `receipt.id` with the `gcr_` prefix stripped. The receipt's own `verify` field states the same recipe.",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string",
            "example": "gcr_5a7b64dfa501bfea508cba7d0e5d8d03…"
          },
          "algorithm": {
            "type": "string",
            "example": "sha256"
          },
          "mb_version": {
            "type": "string",
            "example": "2026.180"
          },
          "verify": {
            "type": "string",
            "description": "Plain-language instructions for recomputing the digest."
          }
        }
      },
      "Uncertainty": {
        "type": [
          "object",
          "null"
        ],
        "additionalProperties": true,
        "description": "The publisher's own stated range, never derived by us. null means NOT RECORDED — explicitly not a claim that no uncertainty exists.",
        "properties": {
          "low": {
            "type": [
              "number",
              "null"
            ]
          },
          "high": {
            "type": [
              "number",
              "null"
            ]
          },
          "basis": {
            "type": [
              "string",
              "null"
            ],
            "example": "published"
          },
          "published_as": {
            "type": [
              "string",
              "null"
            ],
            "description": "The publisher's exact wording, e.g. \"±30-50%\"."
          }
        }
      },
      "Citation": {
        "type": "object",
        "description": "A ready-to-paste citation assembled from the source registry.",
        "additionalProperties": true,
        "properties": {
          "text": {
            "type": "string"
          },
          "source_id": {
            "type": "string",
            "example": "DEFRA_2026"
          },
          "source_name": {
            "type": "string"
          },
          "cell_ref": {
            "type": "string",
            "example": "'UK electricity'!E25"
          },
          "licence": {
            "type": "string"
          },
          "mb_version": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "FactorCitation": {
        "type": "object",
        "description": "The canonical citation for one factor row, built by the API (src/citation.ts) and printed VERBATIM by every official client (Sheets add-in, JS and Python SDKs, MCP). Format: \"<factor name>. <source name> — <publisher>, cell <cell_ref>, retrieved <date>. via GreenCalculus data version <version>, factor <key>. <proof URL>\". On GET /v1/factors/{key} the version is the one actually SERVED, so a ?as_of= lookup cites the pin. Present on rows from 2026-09-09. The format is a published specification, free for anyone to implement against their own data: https://greencalculus.com/developers/citation/",
        "externalDocs": {
          "description": "The factor citation specification",
          "url": "https://greencalculus.com/developers/citation/"
        },
        "additionalProperties": true,
        "properties": {
          "text": {
            "type": "string",
            "example": "UK grid electricity — location-based (generation). UK Government GHG Conversion Factors 2026 — Department for Energy Security and Net Zero (DESNZ), cell 'UK electricity'!E25, retrieved 2026-06-18. via GreenCalculus data version 2026.186, factor grid.gbr.electricity.location_based. https://verify.greencalculus.com/grid.gbr.electricity.location_based@2026.186"
          },
          "source_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "DEFRA_2026"
          },
          "cell_ref": {
            "type": [
              "string",
              "null"
            ],
            "example": "'UK electricity'!E25"
          },
          "version": {
            "type": [
              "string",
              "null"
            ],
            "example": "2026.186"
          },
          "proof_url": {
            "type": [
              "string",
              "null"
            ],
            "example": "https://verify.greencalculus.com/grid.gbr.electricity.location_based@2026.186"
          }
        }
      },
      "SourceRef": {
        "type": "object",
        "description": "Provenance to the line. Carried on 100% of rows — where in the source document the value was read, not just which document. A workbook cell where the publisher ships a workbook (DEFRA); otherwise the table, annex clause or page they did ship (IPCC, CBAM, ECCC).",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string",
            "example": "DEFRA_2026"
          },
          "cell_ref": {
            "type": "string",
            "example": "'UK electricity'!E25"
          },
          "retrieved": {
            "type": "string",
            "format": "date",
            "example": "2026-06-18"
          }
        }
      },
      "FactorRow": {
        "type": "object",
        "description": "One corpus row as returned by browse/search. Carries the full row INCLUDING factor.value — the browse endpoint is open and unmetered by design, because our data is overwhelmingly open-licensed at source and gating it would make this API worse than the original publisher. What a paid plan adds is the right to REDISTRIBUTE, not the ability to read. (Note: the MCP search_factors tool DOES project rows down to key/name/section — that projection is deliberate and specific to that tool.)",
        "additionalProperties": true,
        "properties": {
          "key": {
            "type": "string",
            "example": "grid.gbr.electricity.location_based"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "section": {
            "type": [
              "string",
              "null"
            ],
            "example": "grid"
          },
          "activity_type": {
            "type": [
              "string",
              "null"
            ],
            "example": "purchased_energy"
          },
          "factor": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "value": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "unit": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "kg CO2e per kWh"
              },
              "gas": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "CO2e"
              },
              "basis": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "gwp_set": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "AR5_100"
              },
              "gwp_set_basis": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "How we know the GWP set — \"published\" where the source states it, \"inferred\" where we deduced it. null means not recorded, which is deliberately NOT the same as published."
              },
              "country_iso3": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "gbr"
              },
              "uncertainty": {
                "$ref": "#/components/schemas/Uncertainty"
              },
              "uncertainty_basis": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "\"none_published\" means the publisher states plainly that no range exists. null means not recorded — a different fact from silence."
              }
            }
          },
          "source": {
            "$ref": "#/components/schemas/SourceRef"
          },
          "scope": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true,
            "properties": {
              "ghg_protocol": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "scope2"
              },
              "category": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "components": {
            "type": [
              "object",
              "null"
            ],
            "description": "Per-gas decomposition keyed by gas (co2, ch4, n2o…), each with its own cell_ref. Lets a consumer re-base AR5↔AR6 without us.",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "description": "Includes what the publisher did NOT provide, stated verbatim."
          },
          "citation": {
            "$ref": "#/components/schemas/FactorCitation"
          },
          "licence": {
            "type": "object",
            "additionalProperties": true,
            "description": "The licence this row is published under, and whether the Business redistribution grant covers it. Present on the open browse from MB v2026.181 — the full terms, the required credit and the publisher are listed once per source under meta.licences. Absent (not empty) where no licence is on record: an empty value would read as \"no licence applies\".",
            "properties": {
              "name": {
                "type": "string",
                "example": "Open Government Licence v3.0"
              },
              "redistributable": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "FactorList": {
        "type": "object",
        "description": "Browse/search results. Open — no key, no quota. Values ARE returned on this route. Use /v1/factors/{key} when you want one row plus its audit envelope (provenance, licence, verification) or a version pin via ?as_of=.",
        "required": [
          "meta",
          "factors"
        ],
        "additionalProperties": true,
        "properties": {
          "meta": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "gc_version": {
                "type": "string",
                "example": "2026.180"
              },
              "gc_updated": {
                "type": "string",
                "format": "date",
                "example": "2026-08-19"
              },
              "total": {
                "type": "integer",
                "description": "Rows matching the filter.",
                "example": 82
              },
              "canonical_total": {
                "type": "integer",
                "description": "Rows in the whole corpus at this version.",
                "example": 16554
              },
              "returned": {
                "type": "integer"
              },
              "offset": {
                "type": "integer"
              },
              "next_cursor": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "base64(canonical_key). Prefer this over offset — stable across data-version bumps, and required to page relevance-ordered search results."
              },
              "filters": {
                "type": "object",
                "additionalProperties": true,
                "description": "The filters as the endpoint understood them — echoed back so a silent mismatch is visible."
              },
              "warnings": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Why a filter matched nothing. A 200 with an empty array and a warning is the normal way this endpoint says \"no such thing\"."
              },
              "licences": {
                "type": "object",
                "description": "One record per DISTINCT source on this page, keyed by source id — so the licence detail is carried once rather than repeated on every row. Join via factors[].source.id. `attribution` is present ONLY where the licence grants redistribution and requires a credit; its absence on a non-redistributable row is deliberate.",
                "additionalProperties": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "redistributable": {
                      "type": "boolean"
                    },
                    "basis": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "publisher": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "attribution": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "factors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FactorRow"
            }
          }
        }
      },
      "Provenance": {
        "type": "object",
        "description": "Where the number came from and whether you may republish it. Built from the source registry — src/envelope.ts.",
        "additionalProperties": true,
        "properties": {
          "source_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "publisher": {
            "type": [
              "string",
              "null"
            ],
            "description": "The organisation, in one spelling (MB `publisher`)."
          },
          "issuer": {
            "type": "string",
            "description": "The issuing descriptor of this edition (MB `body`), present only when it differs from publisher."
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          },
          "cell_ref": {
            "type": [
              "string",
              "null"
            ]
          },
          "retrieved": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "licence": {
            "type": [
              "string",
              "null"
            ]
          },
          "redistributable": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the Business redistribution grant covers this row. Fails closed — a source whose licence has not been assessed is false, not null."
          },
          "redistributable_basis": {
            "type": [
              "string",
              "null"
            ]
          },
          "update_cadence": {
            "type": [
              "string",
              "null"
            ]
          },
          "overrides_source": {
            "type": "object",
            "description": "Present only when this row carries a licence its source does not (a publisher republishing third-party data under its own terms, e.g. CBAM Annex II). licence, redistributable and redistributable_basis above are then the ROW's; this block keeps the source's own answer beside them.",
            "properties": {
              "source_redistributable": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "since": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Data version at which the row-level answer was recorded."
              },
              "attribution_required": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "source_ref": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Where the restricting text was read."
              }
            }
          }
        }
      },
      "Verification": {
        "type": "object",
        "description": "What was actually checked — computed at serve time, not asserted.",
        "additionalProperties": true,
        "properties": {
          "components_sum_to_value": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the per-gas components sum to the headline. null where the row carries no components — the absence of a check is not a failed check."
          },
          "gwp_set": {
            "type": [
              "string",
              "null"
            ]
          },
          "gwp_set_basis": {
            "type": [
              "string",
              "null"
            ]
          },
          "uncertainty": {
            "$ref": "#/components/schemas/Uncertainty"
          },
          "uncertainty_basis": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_note": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "FactorLookup": {
        "type": "object",
        "description": "One factor with its value and the full audit envelope. Served from the edge KV store.",
        "additionalProperties": true,
        "properties": {
          "meta": {
            "type": "object",
            "additionalProperties": true
          },
          "value": {
            "type": [
              "number",
              "null"
            ],
            "description": "Convenience top-level copy of factor.factor.value."
          },
          "unit": {
            "type": [
              "string",
              "null"
            ]
          },
          "gas": {
            "type": [
              "string",
              "null"
            ]
          },
          "factor": {
            "$ref": "#/components/schemas/FactorRow",
            "description": "The full row. Its `citation` is built at served_version, so a pinned lookup cites the pin."
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "verification": {
            "$ref": "#/components/schemas/Verification"
          },
          "served_from": {
            "type": "string",
            "example": "edge"
          },
          "served_version": {
            "type": "string",
            "example": "2026.180"
          },
          "version_pin": {
            "type": "object",
            "additionalProperties": true,
            "description": "Present only when ?as_of= was sent — and not even then if the key did not exist at an archived version you asked for, which falls back to the browse envelope instead. `matched: false` means the requested version is not in the archive and the CURRENT value was served — check it before treating a response as pinned."
          },
          "attribution": {
            "$ref": "#/components/schemas/Attribution"
          },
          "proof_urls": {
            "$ref": "#/components/schemas/ProofUrls"
          }
        }
      },
      "Attribution": {
        "type": [
          "object",
          "null"
        ],
        "description": "The credit the licence requires, or null on a plan that waives it. Was a bare STRING before 2026-08-25; the original string is preserved unchanged at `text`. `html` is a ready-to-paste anchor so that complying is less work than not complying, and `url` points at the public proof page for the exact factor and data version this answer used — your own audit evidence, not a marketing link.",
        "properties": {
          "text": {
            "type": "string",
            "description": "The plain credit line. Identical to the string this field used to be."
          },
          "html": {
            "type": "string",
            "description": "A single anchor, no classes and no styling, ready to paste."
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Proof page for the factor this answer used, pinned to the data version — e.g. https://verify.greencalculus.com/grid.gbr.electricity.location_based@2026.181. Null where no single factor identifies the answer. The version is deliberate: an unversioned link would silently re-point at whatever the figure becomes."
          },
          "required": {
            "type": "boolean",
            "description": "Whether this plan must display the credit. Reports the licence position, not a technical control."
          }
        }
      },
      "ProofUrls": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "description": "Every factor used by this answer, as a public proof URL pinned to the data version. A portfolio calculation may list many; cite per line from here. Contains no request data — each URL is a fact about the GreenCalculus corpus and is identical for every caller."
      },
      "FactorMiss": {
        "type": "object",
        "description": "A key that does not exist. Carries candidate keys rather than a bare 404 — most misses are a naming difference, not a coverage gap. The documented error envelope is present alongside the bespoke fields.",
        "additionalProperties": true,
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          },
          "found": {
            "type": "boolean",
            "example": false
          },
          "requested_key": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "suggestions": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "key": {
                  "type": "string"
                },
                "name": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "section": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              }
            }
          },
          "docs": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Calculation": {
        "type": "object",
[...]
