{
  "openapi": "3.1.0",
  "info": {
    "title": "Court Rules API",
    "description": "Deterministic court rules compliance checking for federal filings",
    "version": "0.1.0",
    "x-jentic-source-url": "https://api.courtrules.app/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.courtrules.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:3001",
      "description": "Local development"
    }
  ],
  "paths": {
    "/api/v1/courts/{district_id}/holidays": {
      "get": {
        "operationId": "getCourtHolidays",
        "summary": "Get holidays for a court",
        "description": "Returns court holidays and closure dates for a single court. Filter by calendar year or date range.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Court identifier",
              "example": "edny"
            },
            "required": true,
            "description": "Court identifier",
            "name": "district_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1900,
              "maximum": 2200,
              "description": "Calendar year",
              "example": 2026
            },
            "required": false,
            "description": "Calendar year",
            "name": "year",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Only include holidays on or after this date",
              "example": "2026-01-01"
            },
            "required": false,
            "description": "Only include holidays on or after this date",
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Only include holidays on or before this date",
              "example": "2026-12-31"
            },
            "required": false,
            "description": "Only include holidays on or before this date",
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100,
              "description": "Maximum number of holidays to return",
              "example": 100
            },
            "required": false,
            "description": "Maximum number of holidays to return",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Court holidays for the requested district",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtHolidaysResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters"
          },
          "404": {
            "description": "District not found"
          },
          "429": {
            "description": "Rate limit exceeded (300 requests per minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch holiday data"
          }
        }
      }
    },
    "/api/v1/courts": {
      "get": {
        "operationId": "listCourts",
        "summary": "List all courts",
        "description": "Returns every court we map, with its circuit, state, status, and roster size. Courts with status live have rules you can read with /rules and /extracted-rules. The full list is returned in one response.",
        "responses": {
          "200": {
            "description": "Court list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "courts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CourtInfo"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_districts": {
                          "type": "integer",
                          "description": "Number of courts in the list",
                          "example": 1052
                        },
                        "districts_with_data": {
                          "type": "integer",
                          "description": "Number of courts with rules (status live)",
                          "example": 51
                        },
                        "total_judges_mapped": {
                          "type": "integer",
                          "description": "Sum of judges_mapped across all courts",
                          "example": 3232
                        }
                      },
                      "required": [
                        "total_districts",
                        "districts_with_data",
                        "total_judges_mapped"
                      ]
                    }
                  },
                  "required": [
                    "courts",
                    "meta"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (300 requests per minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch data from database"
          }
        }
      }
    },
    "/api/v1/courts/{district_id}": {
      "get": {
        "operationId": "getCourt",
        "summary": "Get court details",
        "description": "Returns details for one court: circuit, state, status, and roster size.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Court identifier (e.g. edny, sdny, ca-los-angeles-superior)",
              "example": "edny"
            },
            "required": true,
            "description": "Court identifier (e.g. edny, sdny, ca-los-angeles-superior)",
            "name": "district_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Court details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtInfo"
                }
              }
            }
          },
          "404": {
            "description": "Court not found"
          },
          "429": {
            "description": "Rate limit exceeded (300 requests per minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch data from database"
          }
        }
      }
    },
    "/api/v1/holidays": {
      "get": {
        "operationId": "listCourtHolidays",
        "summary": "List court holidays",
        "description": "Returns court holidays and closure dates. Filter by court, calendar year, or date range.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Court identifier",
              "example": "edny"
            },
            "required": false,
            "description": "Court identifier",
            "name": "district_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1900,
              "maximum": 2200,
              "description": "Calendar year",
              "example": 2026
            },
            "required": false,
            "description": "Calendar year",
            "name": "year",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Only include holidays on or after this date",
              "example": "2026-01-01"
            },
            "required": false,
            "description": "Only include holidays on or after this date",
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Only include holidays on or before this date",
              "example": "2026-12-31"
            },
            "required": false,
            "description": "Only include holidays on or before this date",
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100,
              "description": "Maximum number of holidays to return",
              "example": 100
            },
            "required": false,
            "description": "Maximum number of holidays to return",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Court holidays",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtHolidaysResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters"
          },
          "404": {
            "description": "District not found"
          },
          "429": {
            "description": "Rate limit exceeded (300 requests per minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch holiday data"
          }
        }
      }
    },
    "/api/v1/extracted-rules": {
      "get": {
        "operationId": "listExtractedRules",
        "summary": "Search extracted filing rules",
        "description": "Returns validated extracted filing rules from active source documents, newest first. Use this for e-filing, service, fee, timing, courtesy copy, and courtroom preference rules in any court we cover. Results are paged: meta.total is the number of matching rules, and meta.next_offset is the offset of the next page (null on the last page). Searches with q or case_type examine at most 10,000 candidate rules, which covers any single court; narrow broader searches with district_id, judge_slug, logic_type, or workflow_phase.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Court identifier",
              "example": "il-cook-circuit"
            },
            "required": false,
            "description": "Court identifier",
            "name": "district_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Judge, calendar, department, or courtroom slug. Court-level rules use \"court\".",
              "example": "il-cook-reilly-eve-m"
            },
            "required": false,
            "description": "Judge, calendar, department, or courtroom slug. Court-level rules use \"court\".",
            "name": "judge_slug",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": true,
              "description": "When judge_slug is supplied, also include court-level rules where judge_slug is \"court\".",
              "example": true
            },
            "required": false,
            "description": "When judge_slug is supplied, also include court-level rules where judge_slug is \"court\".",
            "name": "include_court_rules",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "CourtesyCopyRule",
                "PageWordLimitRule",
                "PreMotionConferenceRule",
                "AdjournmentRequirementRule",
                "BundlingRule",
                "FormatConstraint",
                "DocumentRequirement",
                "CommunicationRule",
                "SealingProcedure",
                "ElectronicFilingRule",
                "FilingTimingRule",
                "ServiceRule",
                "FilingFeeRule",
                "JuniorLawyerIncentive"
              ],
              "description": "Filter by structured filing rule type",
              "example": "ElectronicFilingRule"
            },
            "required": false,
            "description": "Filter by structured filing rule type",
            "name": "logic_type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "FILING",
                "CASE_INITIATION",
                "MOTION_PRACTICE",
                "TRIAL_PREP",
                "POST_JUDGMENT"
              ],
              "description": "Filter by workflow phase",
              "example": "FILING"
            },
            "required": false,
            "description": "Filter by workflow phase",
            "name": "workflow_phase",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "civil",
                "criminal",
                "habeas",
                "prisoner",
                "social_security",
                "bankruptcy",
                "pro_se",
                "general",
                "family",
                "probate",
                "small_claims",
                "unlawful_detainer",
                "traffic",
                "juvenile",
                "mental_health",
                "limited_civil",
                "unlimited_civil",
                "civil_limited",
                "civil_unlimited",
                "complex_civil",
                "chancery",
                "law",
                "municipal",
                "domestic_relations",
                "domestic_violence",
                "county",
                "commercial",
                "foreclosure"
              ],
              "description": "Filter by case type. General rules and rules without a case-type limit are included.",
              "example": "civil"
            },
            "required": false,
            "description": "Filter by case type. General rules and rules without a case-type limit are included.",
            "name": "case_type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200,
              "description": "Search summary, source text, tags, and structured data",
              "example": "rejected cure"
            },
            "required": false,
            "description": "Search summary, source text, tags, and structured data",
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100,
              "description": "Maximum number of rules to return in this page",
              "example": 100
            },
            "required": false,
            "description": "Maximum number of rules to return in this page",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0,
              "default": 0,
              "description": "Number of matching rules to skip. Use meta.next_offset to fetch the next page.",
              "example": 0
            },
            "required": false,
            "description": "Number of matching rules to skip. Use meta.next_offset to fetch the next page.",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Extracted filing rules with source provenance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractedRulesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters"
          },
          "404": {
            "description": "District not found"
          },
          "422": {
            "description": "A q or case_type search matched too many candidate rules; add filters"
          },
          "429": {
            "description": "Rate limit exceeded (300 requests per minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch or validate extracted rules"
          }
        }
      }
    },
    "/api/v1/judges": {
      "get": {
        "operationId": "listJudges",
        "summary": "List judges",
        "description": "Returns the current judges (and, in some state courts, departments or courtrooms) for a court. Use a judge's slug with /rules and /extracted-rules.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Court identifier",
              "example": "ca-los-angeles-superior"
            },
            "required": true,
            "description": "Court identifier",
            "name": "district_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Judge list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "district_id": {
                      "type": "string"
                    },
                    "judges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "example": "nicholas-g-garaufis"
                          },
                          "name": {
                            "type": "string",
                            "example": "Nicholas G. Garaufis"
                          },
                          "has_profile": {
                            "type": "boolean",
                            "description": "Whether this judge has a compliance profile used by /check"
                          },
                          "has_rules": {
                            "type": "boolean",
                            "description": "Whether we hold this judge's own rules (standing orders, individual practices)"
                          },
                          "status": {
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "active",
                              "coming_soon"
                            ],
                            "description": "active = on the court's current roster, coming_soon = on the roster but none of the judge's own documents are processed yet. Null when the roster has no record for the judge."
                          },
                          "judge_type": {
                            "type": "string",
                            "nullable": true
                          },
                          "bio": {
                            "type": "string",
                            "nullable": true
                          },
                          "chambers": {
                            "type": "string",
                            "nullable": true
                          },
                          "profile_url": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "slug",
                          "name",
                          "has_profile",
                          "has_rules",
                          "status",
                          "judge_type",
                          "bio",
                          "chambers",
                          "profile_url"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Number of judges returned"
                        },
                        "profiled": {
                          "type": "integer",
                          "description": "Judges with compliance profiles"
                        },
                        "with_rules": {
                          "type": "integer",
                          "description": "Judges whose own rules we hold"
                        },
                        "court_level_rules": {
                          "type": "boolean",
                          "description": "Whether the court has court-wide rules, served under judge_slug \"court\" by /extracted-rules"
                        }
                      },
                      "required": [
                        "total",
                        "profiled",
                        "with_rules",
                        "court_level_rules"
                      ]
                    }
                  },
                  "required": [
                    "district_id",
                    "judges",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid district_id"
          },
          "404": {
            "description": "Court not found"
          },
          "429": {
            "description": "Rate limit exceeded (300 requests per minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch data from database"
          }
        }
      }
    },
    "/api/v1/rules": {
      "get": {
        "operationId": "getRules",
        "summary": "Get rules for a judge",
        "description": "Returns the rules that apply to a judge. For courts with compliance profiles (edny today), returns the hierarchical rule set (FRCP, Local Rules, Standing Order), optionally filtered by document scope and motion type. For every other court, returns the court-wide rules and the judge's own rules with their source quotes; document_scope and motion_type do not apply there.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Judge slug identifier",
              "example": "nicholas-g-garaufis"
            },
            "required": true,
            "description": "Judge slug identifier",
            "name": "judge_slug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "District identifier",
              "example": "edny"
            },
            "required": true,
            "description": "District identifier",
            "name": "district_id",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/DocumentScope"
            },
            "required": false,
            "description": "Filter rules relevant to this document type",
            "name": "document_scope",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/MotionType"
            },
            "required": false,
            "description": "Filter rules relevant to this motion type",
            "name": "motion_type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "ComplianceRuleSet for courts with compliance profiles, JudgeExtractedRules for every other court",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ComplianceRuleSet"
                    },
                    {
                      "$ref": "#/components/schemas/JudgeExtractedRules"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters, or document_scope or motion_type sent for a court without compliance profiles"
          },
          "404": {
            "description": "Court or judge not found"
          },
          "429": {
            "description": "Rate limit exceeded (300 requests per minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch data from database"
          }
        }
      }
    },
    "/api/v1/profile": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get judge profile with citations",
        "description": "For courts with compliance profiles (edny today), returns the judge's full compliance profile, including verbatim source citations from standing order PDFs. For every other court, returns the court-wide rules and the judge's own rules with their source quotes, the same data as /rules.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Judge URL slug",
              "example": "carol-bagley-amon"
            },
            "required": true,
            "description": "Judge URL slug",
            "name": "judge_slug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Court identifier",
              "example": "edny"
            },
            "required": true,
            "description": "Court identifier",
            "name": "district_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "JudgeProfile for courts with compliance profiles, JudgeExtractedRules for every other court",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/JudgeProfile"
                    },
                    {
                      "$ref": "#/components/schemas/JudgeExtractedRules"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing required query parameters"
          },
          "404": {
            "description": "Court or judge not found"
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch data from database"
          }
        }
      }
    },
    "/api/v1/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List source documents for a judge",
        "description": "Returns the current source documents (standing orders, individual practices, court rules pages) for a judge, with metadata and document version IDs. Use judge_slug \"court\" for a court's court-wide documents. Documents with mime_type application/pdf can be downloaded from /documents/{id}/pdf; read other formats at their source_url.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Judge URL slug",
              "example": "carol-bagley-amon"
            },
            "required": true,
            "description": "Judge URL slug",
            "name": "judge_slug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Court identifier",
              "example": "edny"
            },
            "required": true,
            "description": "Court identifier",
            "name": "district_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Document list (empty when we hold no current documents for the judge)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "judge_slug": {
                      "type": "string"
                    },
                    "district_id": {
                      "type": "string"
                    },
                    "documents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Document version ID (use for /documents/:id/pdf)"
                          },
                          "doc_kind": {
                            "type": "string",
                            "nullable": true
                          },
                          "content_hash": {
                            "type": "string"
                          },
                          "fetched_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "document_date": {
                            "type": "string",
                            "nullable": true
                          },
                          "mime_type": {
                            "type": "string",
                            "nullable": true,
                            "description": "File type of the stored document, e.g. application/pdf or text/html"
                          },
                          "source_url": {
                            "type": "string"
                          },
                          "source_url_key": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "doc_kind",
                          "content_hash",
                          "fetched_at",
                          "document_date",
                          "mime_type",
                          "source_url",
                          "source_url_key"
                        ]
                      }
                    }
                  },
                  "required": [
                    "judge_slug",
                    "district_id",
                    "documents"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Court not found"
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch data from database"
          }
        }
      }
    },
    "/api/v1/documents/{id}/pdf": {
      "get": {
        "operationId": "getDocumentPdf",
        "summary": "Get source PDF",
        "description": "Returns the stored PDF for a document version. Documents stored in another format (HTML pages, Word files) return 415 with the source_url to read instead.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Document version ID"
            },
            "required": true,
            "description": "Document version ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file content",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          },
          "415": {
            "description": "The document is not a PDF; read it at source_url"
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/documents/reference/{key}/pdf": {
      "get": {
        "operationId": "getReferencePdf",
        "summary": "Get reference PDF (FRCP or local rules)",
        "description": "Returns a reference PDF (Federal Rules of Civil Procedure or district local rules).",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "frcp",
                "edny-local"
              ],
              "description": "Reference document key"
            },
            "required": true,
            "description": "Reference document key",
            "name": "key",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file content",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Reference document not found"
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/check": {
      "post": {
        "operationId": "checkDocument",
        "summary": "Check document compliance",
        "description": "Runs the deterministic lint engine against the provided document metadata and filing context.\nReturns structured compliance results with per-rule pass/fail status.\n\nOnly `page_count` and `word_count` are required in the document object.\nOmitted optional sections cause their corresponding checks to be silently skipped.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compliance check results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "judge": {
                      "$ref": "#/components/schemas/JudgeSummary"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "COMPLIANT",
                            "REVIEW",
                            "NON_COMPLIANT"
                          ],
                          "description": "Overall compliance status"
                        },
                        "failures": {
                          "type": "integer"
                        },
                        "warnings": {
                          "type": "integer"
                        },
                        "passes": {
                          "type": "integer"
                        },
                        "action_items": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "status",
                        "failures",
                        "warnings",
                        "passes",
                        "action_items"
                      ]
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LintResult"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "checks_run": {
                          "type": "integer"
                        },
                        "checks_skipped": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "checks_run",
                        "checks_skipped"
                      ]
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Conditions that may affect result completeness. Present only when something noteworthy occurred."
                    }
                  },
                  "required": [
                    "judge",
                    "summary",
                    "results",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "404": {
            "description": "Court or judge not found"
          },
          "422": {
            "description": "The court has no compliance profile yet; read its rules with /rules or /extracted-rules"
          },
          "429": {
            "description": "Rate limit exceeded (60 requests per minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch data from database"
          }
        }
      }
    },
    "/api/v1/classify": {
      "post": {
        "operationId": "classifyDocument",
        "summary": "Classify a PDF document for compliance checking",
        "description": "Upload a PDF and receive document classification (scope, motion type) plus a partial request body for POST /check. The response includes a `supported` boolean: `true` for classifiable federal court filings, `false` (with `confidence: \"low\"`) for state court forms, blank templates, or non-legal documents. The check_request includes judge, district, scope, and document metadata; you must add is_pro_se, pmc_completed, opposing_party_pro_se, and filing_role before sending to /check.\n\nMay take 10-30 seconds to respond.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Classification results with partial check request (add filing context fields before sending to /check)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "404": {
            "description": "Court not found"
          },
          "422": {
            "description": "The court has no compliance profile yet (read its rules with /rules or /extracted-rules), or the PDF could not be read: it is password-protected, is not a valid PDF, or has scanned pages that text recognition rejected. `scanned_pages` lists the 1-based page numbers that needed text recognition."
          },
          "429": {
            "description": "Rate limit exceeded (5 requests per minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal error while reading the PDF"
          },
          "502": {
            "description": "Document classification service temporarily unavailable"
          },
          "503": {
            "description": "The PDF has scanned pages and text recognition is unavailable. Text-based PDFs are not affected. `scanned_pages` lists the 1-based page numbers that needed it."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key provided in the console dashboard (e.g. crm_prod_...)"
      }
    },
    "schemas": {
      "CourtHoliday": {
        "type": "object",
        "properties": {
          "district_id": {
            "type": "string",
            "description": "Court identifier",
            "example": "edny"
          },
          "calendar_year": {
            "type": "integer",
            "description": "Calendar year",
            "example": 2026
          },
          "holiday_date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Holiday date in YYYY-MM-DD format",
            "example": "2026-01-01"
          },
          "holiday_name": {
            "type": "string",
            "description": "Court holiday or closure name",
            "example": "New Year's Day"
          },
          "source_url": {
            "type": "string",
            "format": "uri",
            "description": "Official source URL for the holiday schedule",
            "example": "https://www.nyed.uscourts.gov/holiday-schedule"
          },
          "last_checked_at": {
            "type": "string",
            "description": "Timestamp when Court Rules last checked the source",
            "example": "2026-05-13T12:00:00.000Z"
          }
        },
        "required": [
          "district_id",
          "calendar_year",
          "holiday_date",
          "holiday_name",
          "source_url",
          "last_checked_at"
        ]
      },
      "CourtHolidaysResponse": {
        "type": "object",
        "properties": {
          "holidays": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourtHoliday"
            },
            "description": "Court holidays and closure dates"
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Number of holidays returned",
                "example": 12
              },
              "district_id": {
                "type": "string",
                "description": "District filter applied to the response",
                "example": "edny"
              },
              "year": {
                "type": "integer",
                "description": "Calendar year filter applied to the response",
                "example": 2026
              },
              "date_from": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "Lower date bound applied to the response",
                "example": "2026-01-01"
              },
              "date_to": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "Upper date bound applied to the response",
                "example": "2026-01-01"
              },
              "limit": {
                "type": "integer",
                "description": "Maximum number of holidays requested",
                "example": 100
              }
            },
            "required": [
              "total",
              "limit"
            ]
          }
        },
        "required": [
          "holidays",
          "meta"
        ]
      },
      "RateLimitError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Rate limit exceeded"
          },
          "suggestion": {
            "type": "string",
            "example": "Wait 30 seconds before retrying. See rate limit headers for usage details."
          },
          "docs_url": {
            "type": "string",
            "example": "https://docs.courtrules.app/api-reference/rate-limits"
          },
          "contact": {
            "type": "string",
            "example": "api@courtrules.app"
          }
        },
        "required": [
          "error",
          "suggestion",
          "docs_url",
          "contact"
        ]
      },
      "CourtInfo": {
        "type": "object",
        "properties": {
          "district_id": {
            "type": "string",
            "description": "Short court identifier",
            "example": "edny"
          },
          "name": {
            "type": "string",
            "description": "Full court name",
            "example": "Eastern District of New York"
          },
          "circuit": {
            "type": "string",
            "nullable": true,
            "description": "Federal circuit. Null for state and local courts.",
            "example": "2nd Circuit"
          },
          "state": {
            "type": "string",
            "nullable": true,
            "description": "State or territory. Null for courts not tied to one state.",
            "example": "New York"
          },
          "status": {
            "type": "string",
            "enum": [
              "live",
              "coming_soon"
            ],
            "description": "live = rules are available for this court, coming_soon = the court is mapped but has no rules yet"
          },
          "judges_mapped": {
            "type": "integer",
            "description": "Number of current judges and courtrooms on the court's roster"
          },
          "judges_profiled": {
            "type": "integer",
            "description": "Number of judges with compliance profiles used by /check. Present only for courts with compliance profiles."
          }
        },
        "required": [
          "district_id",
          "name",
          "circuit",
          "state",
          "status",
          "judges_mapped"
        ]
      },
      "ExtractedRuleLogicType": {
        "type": "string",
        "enum": [
          "CourtesyCopyRule",
          "PageWordLimitRule",
          "PreMotionConferenceRule",
          "AdjournmentRequirementRule",
          "BundlingRule",
          "FormatConstraint",
          "DocumentRequirement",
          "CommunicationRule",
          "SealingProcedure",
          "ElectronicFilingRule",
          "FilingTimingRule",
          "ServiceRule",
          "FilingFeeRule",
          "JuniorLawyerIncentive"
        ],
        "description": "Structured filing rule type"
      },
      "ExtractedRuleWorkflowPhase": {
        "type": "string",
        "enum": [
          "FILING",
          "CASE_INITIATION",
          "MOTION_PRACTICE",
          "TRIAL_PREP",
          "POST_JUDGMENT"
        ],
        "description": "Litigation workflow phase"
      },
      "ExtractedRuleCaseType": {
        "type": "string",
        "enum": [
          "civil",
          "criminal",
          "habeas",
          "prisoner",
          "social_security",
          "bankruptcy",
          "pro_se",
          "general",
          "family",
          "probate",
          "small_claims",
          "unlawful_detainer",
          "traffic",
          "juvenile",
          "mental_health",
          "limited_civil",
          "unlimited_civil",
          "civil_limited",
          "civil_unlimited",
          "complex_civil",
          "chancery",
          "law",
          "municipal",
          "domestic_relations",
          "domestic_violence",
          "county",
          "commercial",
          "foreclosure"
        ],
        "description": "Case type named by the source rule"
      },
      "ExtractedRuleCitationSource": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "description": "Source page when available"
          },
          "section": {
            "type": "string",
            "description": "Source section when available"
          },
          "paragraph": {
            "type": "string",
            "description": "Source paragraph when available"
          },
          "sentence": {
            "type": "string",
            "description": "Source sentence when available"
          }
        }
      },
      "ExtractedRuleContent": {
        "type": "object",
        "properties": {
          "source_text": {
            "type": "string",
            "description": "Verbatim source text supporting the extracted rule"
          },
          "summary": {
            "type": "string",
            "description": "Plain-English summary of the rule"
          },
          "document_type": {
            "type": "string",
            "description": "Document type named by the source rule"
          },
          "case_type_applicability": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExtractedRuleCaseType"
            },
            "description": "Case types explicitly named by the source rule"
          },
          "rule_tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Short filing workflow tags"
          },
          "workflow_phase": {
            "$ref": "#/components/schemas/ExtractedRuleWorkflowPhase"
          },
          "visual_severity": {
            "type": "string",
            "enum": [
              "CRITICAL",
              "WARNING",
              "INFO"
            ],
            "description": "Operational importance of the rule"
          },
          "structured_data": {
            "type": "object",
            "properties": {
              "logic_type": {
                "$ref": "#/components/schemas/ExtractedRuleLogicType"
              }
            },
            "required": [
              "logic_type"
            ],
            "description": "Structured rule payload. Shape depends on logic_type. Omitted fields are not stated in the source quote; they do not imply defaults or negative values."
          },
          "citation_source": {
            "$ref": "#/components/schemas/ExtractedRuleCitationSource"
          }
        },
        "required": [
          "source_text",
          "summary",
          "rule_tags",
          "workflow_phase",
          "visual_severity",
          "structured_data"
        ]
      },
      "ExtractedRule": {
        "type": "object",
        "properties": {
          "rule_id": {
            "type": "string",
            "format": "uuid",
            "description": "Stable rule row identifier"
          },
          "district_id": {
            "type": "string",
            "description": "Court identifier",
            "example": "il-cook-circuit"
          },
          "judge_slug": {
            "type": "string",
            "description": "Court, judge, calendar, department, or courtroom slug. Court-level rules use \"court\".",
            "example": "il-cook-reilly-eve-m"
          },
          "source_url": {
            "type": "string",
            "format": "uri",
            "description": "Official source URL for this rule"
          },
          "source_url_key": {
            "type": "string",
            "description": "Stable source URL key"
          },
          "document_version_id": {
            "type": "string",
            "format": "uuid",
            "description": "Source document version used for extraction"
          },
          "doc_kind": {
            "type": "string",
            "nullable": true,
            "description": "Classified document kind, such as local rules or standing order"
          },
          "logic_type": {
            "$ref": "#/components/schemas/ExtractedRuleLogicType"
          },
          "workflow_phase": {
            "$ref": "#/components/schemas/ExtractedRuleWorkflowPhase"
          },
          "content": {
            "$ref": "#/components/schemas/ExtractedRuleContent"
          }
        },
        "required": [
          "rule_id",
          "district_id",
          "judge_slug",
          "source_url",
          "source_url_key",
          "document_version_id",
          "doc_kind",
          "logic_type",
          "workflow_phase",
          "content"
        ]
      },
      "ExtractedRulesResponse": {
        "type": "object",
        "properties": {
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExtractedRule"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Number of rules matching the filters, across all pages",
                "example": 253
              },
              "returned": {
                "type": "integer",
                "description": "Number of rules in this page",
                "example": 100
              },
              "limit": {
                "type": "integer",
                "description": "Maximum number of rules requested per page",
                "example": 100
              },
              "offset": {
                "type": "integer",
                "description": "Number of matching rules skipped",
                "example": 0
              },
              "next_offset": {
                "type": "integer",
                "nullable": true,
                "description": "Offset of the next page, or null when this is the last page",
                "example": 100
              },
              "district_id": {
                "type": "string",
                "description": "Court filter applied to the response",
                "example": "il-cook-circuit"
              },
              "judge_slug": {
                "type": "string",
                "description": "Judge or court unit filter applied to the response",
                "example": "il-cook-reilly-eve-m"
              },
              "include_court_rules": {
                "type": "boolean",
                "description": "Whether court-level rules with judge_slug \"court\" were included",
                "example": true
              },
              "logic_type": {
                "$ref": "#/components/schemas/ExtractedRuleLogicType"
              },
              "workflow_phase": {
                "$ref": "#/components/schemas/ExtractedRuleWorkflowPhase"
              },
              "case_type": {
                "$ref": "#/components/schemas/ExtractedRuleCaseType"
              },
              "q": {
                "type": "string",
                "description": "Full-text filter applied to summary and source text"
              }
            },
            "required": [
              "total",
              "returned",
              "limit",
              "offset",
              "next_offset",
              "include_court_rules"
            ]
          }
        },
        "required": [
          "rules",
          "meta"
        ]
      },
      "JudgeSummary": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "description": "URL-safe judge identifier",
            "example": "nicholas-g-garaufis"
          },
          "name": {
            "type": "string",
            "description": "Full display name",
            "example": "Nicholas G. Garaufis"
          }
        },
        "required": [
          "slug",
          "name"
        ]
      },
      "DisplayRule": {
        "type": "object",
        "properties": {
          "rule_key": {
            "type": "string",
            "description": "Unique rule identifier",
            "example": "FormatConstraint:caption"
          },
          "citation": {
            "type": "string",
            "description": "Formal citation to the source rule",
            "example": "FRCP 10(a)"
          },
          "label": {
            "type": "string",
            "description": "Human-readable source name",
            "example": "Federal Rules of Civil Procedure"
          },
          "summary": {
            "type": "string",
            "description": "Plain-language description of the requirement",
            "example": "Every pleading must include a caption with court name, case title, docket number, and document designation."
          },
          "severity": {
            "type": "string",
            "enum": [
              "CRITICAL",
              "WARNING",
              "INFO"
            ],
            "description": "How strictly the rule is enforced"
          },
          "url": {
            "type": "string",
            "description": "Link to the full rule text"
          },
          "applies_to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Document scopes this rule applies to"
          }
        },
        "required": [
          "rule_key",
          "citation",
          "label",
          "summary",
          "severity"
        ]
      },
      "StandingOrderRule": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Rule category from the judge's standing order",
            "example": "PAGE_LIMIT"
          },
          "summary": {
            "type": "string",
            "description": "Plain-language description of the requirement",
            "example": "Support briefs limited to 25 pages"
          },
          "source": {
            "type": "string",
            "description": "Citation to the standing order section",
            "example": "Garaufis SO §IV.B"
          }
        },
        "required": [
          "category",
          "summary",
          "source"
        ]
      },
      "ComplianceRuleSet": {
        "type": "object",
        "properties": {
          "judge": {
            "$ref": "#/components/schemas/JudgeSummary"
          },
          "rules": {
            "type": "object",
            "properties": {
              "frcp": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DisplayRule"
                }
              },
              "local_rules": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DisplayRule"
                }
              },
              "standing_order": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StandingOrderRule"
                }
              }
            },
            "required": [
              "frcp",
              "local_rules"
            ]
          },
          "meta": {
            "type": "object",
            "properties": {
              "total_rules": {
                "type": "integer"
              }
            },
            "required": [
              "total_rules"
            ]
          }
        },
        "required": [
          "judge",
          "rules",
          "meta"
        ]
      },
      "JudgeExtractedRules": {
        "type": "object",
        "properties": {
          "judge": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string",
                "example": "judge-teresa-a-beaudet"
              },
              "name": {
                "type": "string",
                "example": "Teresa A. Beaudet"
              },
              "status": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "active",
                  "coming_soon",
                  "inactive",
                  "retired"
                ],
                "description": "Roster status. inactive or retired means the judge is no longer on the court roster, so there are no current rules. Null for judge_slug \"court\"."
              }
            },
            "required": [
              "slug",
              "name",
              "status"
            ]
          },
          "district_id": {
            "type": "string",
            "example": "ca-los-angeles-superior"
          },
          "rules": {
            "type": "object",
            "properties": {
              "court": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ExtractedRule"
                },
                "description": "Court-wide rules that apply in every courtroom of this court"
              },
              "judge": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ExtractedRule"
                },
                "description": "The judge's own rules: standing orders, individual practices, courtroom rules"
              }
            },
            "required": [
              "court",
              "judge"
            ]
          },
          "meta": {
            "type": "object",
            "properties": {
              "total_rules": {
                "type": "integer",
                "example": 253
              },
              "court_rules": {
                "type": "integer",
                "example": 188
              },
              "judge_rules": {
                "type": "integer",
                "example": 65
              }
            },
            "required": [
              "total_rules",
              "court_rules",
              "judge_rules"
            ]
          }
        },
        "required": [
          "judge",
          "district_id",
          "rules",
          "meta"
        ]
      },
      "DocumentScope": {
        "type": "string",
        "enum": [
          "brief_support",
          "brief_reply",
          "brief_opposition",
          "reconsideration_support",
          "reconsideration_reply",
          "letter",
          "discovery_letter",
          "proposed_findings",
          "affidavit",
          "settlement_statement",
          "objection_response",
          "rule_56_1_statement"
        ],
        "description": "Filter rules relevant to this document type"
      },
      "MotionType": {
        "type": "string",
        "enum": [
          "Rule_12",
          "Rule_56",
          "Rule_50",
          "Rule_59",
          "Rule_60",
          "Daubert",
          "TRO",
          "preliminary_injunction",
          "reconsideration",
          "discovery",
          "motion_to_amend",
          "motion_in_limine",
          "general"
        ],
        "description": "Filter rules relevant to this motion type"
      },
      "JudgeProfile": {
        "type": "object",
        "properties": {
          "judge_slug": {
            "type": "string"
          },
          "profile": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "baseline": {
            "type": "boolean",
            "description": "True when judge has no individual standing order"
          }
        },
        "required": [
          "judge_slug",
          "profile",
          "baseline"
        ]
      },
      "LintResult": {
        "type": "object",
        "properties": {
          "severity": {
            "type": "string",
            "enum": [
              "CRITICAL",
              "WARNING",
              "INFO"
            ],
            "description": "Impact level of this check result"
          },
          "category": {
            "type": "string",
            "description": "Check category (e.g. PAGE_LIMIT, WORD_LIMIT, CAPTION, SIGNATURE, PMC, FORMAT)",
            "example": "PAGE_LIMIT"
          },
          "message": {
            "type": "string",
            "description": "Human-readable result explaining the pass, fail, or action needed",
            "example": "22pp exceeds 25pp limit"
          },
          "source": {
            "type": "string",
            "description": "Rule citation this check is based on",
            "example": "Garaufis SO §IV.B"
          },
          "status": {
            "type": "string",
            "enum": [
              "FAIL",
              "PASS",
              "ACTION_REQUIRED"
            ],
            "description": "Whether the document passed this check"
          }
        },
        "required": [
          "severity",
          "category",
          "message",
          "source",
          "status"
        ]
      },
      "CheckRequest": {
        "type": "object",
        "properties": {
          "judge_slug": {
            "type": "string",
            "description": "URL-safe judge identifier",
            "example": "nicholas-g-garaufis"
          },
          "district_id": {
            "type": "string",
            "description": "Federal district identifier",
            "example": "edny"
          },
          "document_scope": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DocumentScope"
              },
              {
                "description": "Type of document being filed"
              }
            ]
          },
          "motion_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MotionType"
              },
              {
                "description": "Omit if the filing is not motion-related"
              }
            ]
          },
          "is_pro_se": {
            "type": "boolean",
            "description": "Whether the filing party is self-represented"
          },
          "pmc_completed": {
            "type": "boolean",
            "description": "Whether a pre-motion conference was held or waived for this motion"
          },
          "opposing_party_pro_se": {
            "type": "boolean",
            "description": "Whether the opposing party is self-represented (affects Rule 56 notice requirements)"
          },
          "filing_role": {
            "type": "string",
            "enum": [
              "movant",
              "opponent",
              "reply"
            ],
            "description": "Filer's role in the motion sequence"
          },
          "document": {
            "type": "object",
            "properties": {
              "page_count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "description": "Body page count (excludes front/back matter like TOC, TOA, cert of service)"
              },
              "word_count": {
                "type": "integer",
                "minimum": 0,
                "description": "Total word count of the filed document"
              },
              "caption": {
                "type": "object",
                "properties": {
                  "present": {
                    "type": "boolean",
                    "description": "Whether the document includes a caption block"
                  },
                  "has_court_name": {
                    "type": "boolean",
                    "description": "Caption includes full court name"
                  },
                  "has_case_title": {
                    "type": "boolean",
                    "description": "Caption includes case title (parties)"
                  },
                  "has_docket_number": {
                    "type": "boolean",
                    "description": "Caption includes docket/case number"
                  },
                  "has_document_designation": {
                    "type": "boolean",
                    "description": "Caption includes document type designation"
                  }
                },
                "required": [
                  "present",
                  "has_court_name",
                  "has_case_title",
                  "has_docket_number",
                  "has_document_designation"
                ],
                "description": "Caption block analysis per FRCP 10(a)"
              },
              "signature_block": {
                "type": "object",
                "properties": {
                  "present": {
                    "type": "boolean",
                    "description": "Whether the document includes a signature block"
                  },
                  "has_attorney_name": {
                    "type": "boolean",
                    "description": "Signature block includes attorney name"
                  },
                  "has_firm_name": {
                    "type": "boolean",
                    "description": "Signature block includes firm name"
                  },
                  "has_address": {
                    "type": "boolean",
                    "description": "Signature block includes mailing address"
                  },
                  "has_email": {
                    "type": "boolean",
                    "description": "Signature block includes email address"
                  },
                  "has_phone": {
                    "type": "boolean",
                    "description": "Signature block includes phone number"
                  },
                  "is_electronic_signature": {
                    "type": "boolean",
                    "description": "Signature is /s/ electronic format"
                  }
                },
                "required": [
                  "present",
                  "has_attorney_name",
                  "has_firm_name",
                  "has_address",
                  "has_email",
                  "has_phone",
                  "is_electronic_signature"
                ],
                "description": "Signature block analysis per FRCP 11"
              },
              "sections": {
                "type": "object",
                "properties": {
                  "has_toc": {
                    "type": "boolean",
                    "description": "Document includes a table of contents"
                  },
                  "has_toa": {
                    "type": "boolean",
                    "description": "Document includes a table of authorities"
                  },
                  "has_certificate_of_compliance": {
                    "type": "boolean",
                    "description": "Includes word count certificate of compliance"
                  },
                  "certificate_word_count": {
                    "type": "number",
                    "description": "Word count stated in the certificate"
                  },
                  "has_certificate_of_service": {
                    "type": "boolean",
                    "description": "Includes certificate of service"
                  },
                  "has_numbered_paragraphs": {
                    "type": "boolean",
                    "description": "Uses numbered paragraphs"
                  },
                  "has_56_1_statement": {
                    "type": "boolean",
                    "description": "Includes Rule 56.1 statement of material facts"
                  },
                  "has_56_1_counterstatement": {
                    "type": "boolean",
                    "description": "Includes Rule 56.1 counterstatement"
                  },
                  "has_proposed_amended_pleading": {
                    "type": "boolean",
                    "description": "Includes proposed amended pleading as exhibit"
                  },
                  "has_verbatim_discovery_text": {
                    "type": "boolean",
                    "description": "Includes verbatim text of disputed discovery"
                  },
                  "has_conferral_certification": {
                    "type": "boolean",
                    "description": "Includes good-faith conferral certification"
                  },
                  "has_notice_of_motion": {
                    "type": "boolean",
                    "description": "Includes notice of motion"
                  },
                  "has_memorandum_of_law": {
                    "type": "boolean",
                    "description": "Includes memorandum of law"
                  },
                  "has_supporting_affidavits": {
                    "type": "boolean",
                    "description": "Includes supporting declarations or affidavits"
                  },
                  "has_pro_se_sj_notice": {
                    "type": "boolean",
                    "description": "Includes Rand/Local Rule 56.2 notice to pro se opposing party"
                  }
                },
                "required": [
                  "has_toc",
                  "has_toa",
                  "has_certificate_of_compliance",
                  "has_certificate_of_service",
                  "has_numbered_paragraphs",
                  "has_56_1_statement",
                  "has_56_1_counterstatement",
                  "has_proposed_amended_pleading",
                  "has_verbatim_discovery_text",
                  "has_conferral_certification",
                  "has_notice_of_motion",
                  "has_memorandum_of_law",
                  "has_supporting_affidavits",
                  "has_pro_se_sj_notice"
                ],
                "description": "Required and optional document sections"
              },
              "format": {
                "type": "object",
                "properties": {
                  "primary_font_size_pt": {
                    "type": "number",
                    "description": "Body text font size in points"
                  },
                  "footnote_font_size_pt": {
                    "type": "number",
                    "description": "Footnote font size in points"
                  },
                  "margin_inches": {
                    "type": "number",
                    "description": "Page margin width in inches"
                  },
                  "line_spacing": {
                    "type": "string",
                    "enum": [
                      "single",
                      "1.5",
                      "double"
                    ],
                    "description": "Line spacing setting"
                  }
                },
                "required": [
                  "primary_font_size_pt",
                  "margin_inches",
                  "line_spacing"
                ],
                "description": "Document formatting details"
              },
              "privacy": {
                "type": "object",
                "properties": {
                  "contains_full_ssn": {
                    "type": "boolean",
                    "description": "Document contains an unredacted Social Security number"
                  },
                  "contains_full_dob": {
                    "type": "boolean",
                    "description": "Document contains a full date of birth"
                  },
                  "contains_minor_full_name": {
                    "type": "boolean",
                    "description": "Document contains an unredacted minor's name"
                  },
                  "contains_full_financial_account": {
                    "type": "boolean",
                    "description": "Document contains a full financial account number"
                  }
                },
                "required": [
                  "contains_full_ssn",
                  "contains_full_dob",
                  "contains_minor_full_name",
                  "contains_full_financial_account"
                ],
                "description": "Privacy redaction check per FRCP 5.2"
              }
            },
            "required": [
              "page_count",
              "word_count"
            ],
            "description": "Document metadata and structural analysis. Only page_count and word_count are required; omitted sections cause their checks to be skipped."
          }
        },
        "required": [
          "judge_slug",
          "district_id",
          "document_scope",
          "is_pro_se",
          "pmc_completed",
          "opposing_party_pro_se",
          "filing_role",
          "document"
        ]
      },
      "ClassifyResponse": {
        "type": "object",
        "properties": {
          "classification": {
            "type": "object",
            "properties": {
              "document_scope": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DocumentScope"
                  },
                  {
                    "description": "Type of filing detected. Omitted when the document is not a supported federal court filing."
                  }
                ]
              },
              "motion_type": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/MotionType"
                  },
                  {
                    "description": "Federal Rule governing the motion"
                  }
                ]
              },
              "confidence": {
                "type": "string",
                "enum": [
                  "high",
                  "medium",
                  "low"
                ],
                "description": "Confidence in the classification"
              },
              "supported": {
                "type": "boolean",
                "description": "Whether the document is a supported federal court filing. False for state court forms, templates, or non-legal documents."
              },
              "reasoning": {
                "type": "string",
                "description": "Brief explanation of how the document was classified"
              }
            },
            "required": [
              "confidence",
              "supported",
              "reasoning"
            ],
            "description": "Automated document classification"
          },
          "document": {
            "type": "object",
            "properties": {
              "page_count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "description": "Body page count (excludes front/back matter like TOC, TOA, cert of service)"
              },
              "word_count": {
                "type": "integer",
                "minimum": 0,
                "description": "Total word count of the filed document"
              },
              "caption": {
                "type": "object",
                "properties": {
                  "present": {
                    "type": "boolean",
                    "description": "Whether the document includes a caption block"
                  },
                  "has_court_name": {
                    "type": "boolean",
                    "description": "Caption includes full court name"
                  },
                  "has_case_title": {
                    "type": "boolean",
                    "description": "Caption includes case title (parties)"
                  },
                  "has_docket_number": {
                    "type": "boolean",
                    "description": "Caption includes docket/case number"
                  },
                  "has_document_designation": {
                    "type": "boolean",
                    "description": "Caption includes document type designation"
                  }
                },
                "required": [
                  "present",
                  "has_court_name",
                  "has_case_title",
                  "has_docket_number",
                  "has_document_designation"
                ],
                "description": "Caption block analysis per FRCP 10(a)"
              },
              "signature_block": {
                "type": "object",
                "properties": {
                  "present": {
                    "type": "boolean",
                    "description": "Whether the document includes a signature block"
                  },
                  "has_attorney_name": {
                    "type": "boolean",
                    "description": "Signature block includes attorney name"
                  },
                  "has_firm_name": {
                    "type": "boolean",
                    "description": "Signature block includes firm name"
                  },
                  "has_address": {
                    "type": "boolean",
                    "description": "Signature block includes mailing address"
                  },
                  "has_email": {
                    "type": "boolean",
                    "description": "Signature block includes email address"
                  },
                  "has_phone": {
                    "type": "boolean",
                    "description": "Signature block includes phone number"
                  },
                  "is_electronic_signature": {
                    "type": "boolean",
                    "description": "Signature is /s/ electronic format"
                  }
                },
                "required": [
                  "present",
                  "has_attorney_name",
                  "has_firm_name",
                  "has_address",
                  "has_email",
                  "has_phone",
                  "is_electronic_signature"
                ],
                "description": "Signature block analysis per FRCP 11"
              },
              "sections": {
                "type": "object",
                "properties": {
                  "has_toc": {
                    "type": "boolean",
                    "description": "Document includes a table of contents"
                  },
                  "has_toa": {
                    "type": "boolean",
                    "description": "Document includes a table of authorities"
                  },
                  "has_certificate_of_compliance": {
                    "type": "boolean",
                    "description": "Includes word count certificate of compliance"
                  },
                  "certificate_word_count": {
                    "type": "number",
                    "description": "Word count stated in the certificate"
                  },
                  "has_certificate_of_service": {
                    "type": "boolean",
                    "description": "Includes certificate of service"
                  },
                  "has_numbered_paragraphs": {
                    "type": "boolean",
                    "description": "Uses numbered paragraphs"
                  },
                  "has_56_1_statement": {
                    "type": "boolean",
                    "description": "Includes Rule 56.1 statement of material facts"
                  },
                  "has_56_1_counterstatement": {
                    "type": "boolean",
                    "description": "Includes Rule 56.1 counterstatement"
                  },
                  "has_proposed_amended_pleading": {
                    "type": "boolean",
                    "description": "Includes proposed amended pleading as exhibit"
                  },
                  "has_verbatim_discovery_text": {
                    "type": "boolean",
                    "description": "Includes verbatim text of disputed discovery"
                  },
                  "has_conferral_certification": {
                    "type": "boolean",
                    "description": "Includes good-faith conferral certification"
                  },
                  "has_notice_of_motion": {
                    "type": "boolean",
                    "description": "Includes notice of motion"
                  },
                  "has_memorandum_of_law": {
                    "type": "boolean",
                    "description": "Includes memorandum of law"
                  },
                  "has_supporting_affidavits": {
                    "type": "boolean",
                    "description": "Includes supporting declarations or affidavits"
                  },
                  "has_pro_se_sj_notice": {
                    "type": "boolean",
                    "description": "Includes Rand/Local Rule 56.2 notice to pro se opposing party"
                  }
                },
                "required": [
                  "has_toc",
                  "has_toa",
                  "has_certificate_of_compliance",
                  "has_certificate_of_service",
                  "has_numbered_paragraphs",
                  "has_56_1_statement",
                  "has_56_1_counterstatement",
                  "has_proposed_amended_pleading",
                  "has_verbatim_discovery_text",
                  "has_conferral_certification",
                  "has_notice_of_motion",
                  "has_memorandum_of_law",
                  "has_supporting_affidavits",
                  "has_pro_se_sj_notice"
                ],
                "description": "Required and optional document sections"
              },
              "format": {
                "type": "object",
                "properties": {
                  "primary_font_size_pt": {
                    "type": "number",
                    "description": "Body text font size in points"
                  },
                  "footnote_font_size_pt": {
                    "type": "number",
                    "description": "Footnote font size in points"
                  },
                  "margin_inches": {
                    "type": "number",
                    "description": "Page margin width in inches"
                  },
                  "line_spacing": {
                    "type": "string",
                    "enum": [
                      "single",
                      "1.5",
                      "double"
                    ],
                    "description": "Line spacing setting"
                  }
                },
                "required": [
                  "primary_font_size_pt",
                  "margin_inches",
                  "line_spacing"
                ],
                "description": "Document formatting details"
              },
              "privacy": {
                "type": "object",
                "properties": {
                  "contains_full_ssn": {
                    "type": "boolean",
                    "description": "Document contains an unredacted Social Security number"
                  },
                  "contains_full_dob": {
                    "type": "boolean",
                    "description": "Document contains a full date of birth"
                  },
                  "contains_minor_full_name": {
                    "type": "boolean",
                    "description": "Document contains an unredacted minor's name"
                  },
                  "contains_full_financial_account": {
                    "type": "boolean",
                    "description": "Document contains a full financial account number"
                  }
                },
                "required": [
                  "contains_full_ssn",
                  "contains_full_dob",
                  "contains_minor_full_name",
                  "contains_full_financial_account"
                ],
                "description": "Privacy redaction check per FRCP 5.2"
              }
            },
            "required": [
              "page_count",
              "word_count"
            ],
            "description": "Extracted document metadata"
          },
          "check_request": {
            "type": "object",
            "properties": {
              "judge_slug": {
                "type": "string",
                "description": "URL-safe judge identifier"
              },
              "district_id": {
                "type": "string",
                "description": "Federal district identifier"
              },
              "document_scope": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DocumentScope"
                  },
                  {
                    "description": "Type of document being filed"
                  }
                ]
              },
              "motion_type": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/MotionType"
                  },
                  {
                    "description": "Federal Rule governing the motion"
                  }
                ]
              },
              "document": {
                "type": "object",
                "properties": {
                  "page_count": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true,
                    "description": "Body page count (excludes front/back matter like TOC, TOA, cert of service)"
                  },
                  "word_count": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Total word count of the filed document"
                  },
                  "caption": {
                    "type": "object",
                    "properties": {
                      "present": {
                        "type": "boolean",
                        "description": "Whether the document includes a caption block"
                      },
                      "has_court_name": {
                        "type": "boolean",
                        "description": "Caption includes full court name"
                      },
                      "has_case_title": {
                        "type": "boolean",
                        "description": "Caption includes case title (parties)"
                      },
                      "has_docket_number": {
                        "type": "boolean",
                        "description": "Caption includes docket/case number"
                      },
                      "has_document_designation": {
                        "type": "boolean",
                        "description": "Caption includes document type designation"
                      }
                    },
                    "required": [
                      "present",
                      "has_court_name",
                      "has_case_title",
                      "has_docket_number",
                      "has_document_designation"
                    ],
                    "description": "Caption block analysis per FRCP 10(a)"
                  },
                  "signature_block": {
                    "type": "object",
                    "properties": {
                      "present": {
                        "type": "boolean",
                        "description": "Whether the document includes a signature block"
                      },
                      "has_attorney_name": {
                        "type": "boolean",
                        "description": "Signature block includes attorney name"
                      },
                      "has_firm_name": {
                        "type": "boolean",
                        "description": "Signature block includes firm name"
                      },
                      "has_address": {
                        "type": "boolean",
                        "description": "Signature block includes mailing address"
                      },
                      "has_email": {
                        "type": "boolean",
                        "description": "Signature block includes email address"
                      },
                      "has_phone": {
                        "type": "boolean",
                        "description": "Signature block includes phone number"
                      },
                      "is_electronic_signature": {
                        "type": "boolean",
                        "description": "Signature is /s/ electronic format"
                      }
                    },
                    "required": [
                      "present",
                      "has_attorney_name",
                      "has_firm_name",
                      "has_address",
                      "has_email",
                      "has_phone",
                      "is_electronic_signature"
                    ],
                    "description": "Signature block analysis per FRCP 11"
                  },
                  "sections": {
                    "type": "object",
                    "properties": {
                      "has_toc": {
                        "type": "boolean",
                        "description": "Document includes a table of contents"
                      },
                      "has_toa": {
                        "type": "boolean",
                        "description": "Document includes a table of authorities"
                      },
                      "has_certificate_of_compliance": {
                        "type": "boolean",
                        "description": "Includes word count certificate of compliance"
                      },
                      "certificate_word_count": {
                        "type": "number",
                        "description": "Word count stated in the certificate"
                      },
                      "has_certificate_of_service": {
                        "type": "boolean",
                        "description": "Includes certificate of service"
                      },
                      "has_numbered_paragraphs": {
                        "type": "boolean",
                        "description": "Uses numbered paragraphs"
                      },
                      "has_56_1_statement": {
                        "type": "boolean",
                        "description": "Includes Rule 56.1 statement of material facts"
                      },
                      "has_56_1_counterstatement": {
                        "type": "boolean",
                        "description": "Includes Rule 56.1 counterstatement"
                      },
                      "has_proposed_amended_pleading": {
                        "type": "boolean",
                        "description": "Includes proposed amended pleading as exhibit"
                      },
                      "has_verbatim_discovery_text": {
                        "type": "boolean",
                        "description": "Includes verbatim text of disputed discovery"
                      },
                      "has_conferral_certification": {
                        "type": "boolean",
                        "description": "Includes good-faith conferral certification"
                      },
                      "has_notice_of_motion": {
                        "type": "boolean",
                        "description": "Includes notice of motion"
                      },
                      "has_memorandum_of_law": {
                        "type": "boolean",
                        "description": "Includes memorandum of law"
                      },
                      "has_supporting_affidavits": {
                        "type": "boolean",
                        "description": "Includes supporting declarations or affidavits"
                      },
                      "has_pro_se_sj_notice": {
                        "type": "boolean",
                        "description": "Includes Rand/Local Rule 56.2 notice to pro se opposing party"
                      }
                    },
                    "required": [
                      "has_toc",
                      "has_toa",
                      "has_certificate_of_compliance",
                      "has_certificate_of_service",
                      "has_numbered_paragraphs",
                      "has_56_1_statement",
                      "has_56_1_counterstatement",
                      "has_proposed_amended_pleading",
                      "has_verbatim_discovery_text",
                      "has_conferral_certification",
                      "has_notice_of_motion",
                      "has_memorandum_of_law",
                      "has_supporting_affidavits",
                      "has_pro_se_sj_notice"
                    ],
                    "description": "Required and optional document sections"
                  },
                  "format": {
                    "type": "object",
                    "properties": {
                      "primary_font_size_pt": {
                        "type": "number",
                        "description": "Body text font size in points"
                      },
                      "footnote_font_size_pt": {
                        "type": "number",
                        "description": "Footnote font size in points"
[...]
