{
  "openapi": "3.1.0",
  "info": {
    "title": "ipgeolocationapi.io API",
    "description": "Free, fast IP intelligence: geolocation, security/VPN detection, timezone, currency, astronomy, user-agent parsing, ASN and abuse contacts. Drop-in compatible with ipwho.is responses. 5,000 free requests/day, no credit card.",
    "version": "2.0.0",
    "contact": {
      "name": "support",
      "email": "support@ipgeolocationapi.io",
      "url": "https://ipgeolocationapi.io"
    },
    "license": {
      "name": "Commercial",
      "url": "https://ipgeolocationapi.io/terms"
    },
    "x-jentic-source-url": "https://ipgeolocationapi.io/openapi.json"
  },
  "servers": [
    {
      "url": "https://ipgeolocationapi.io"
    }
  ],
  "paths": {
    "/{ip}": {
      "get": {
        "tags": [
          "Geolocation"
        ],
        "summary": "IP geolocation lookup",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IPv4/IPv6, or omit for caller IP on /"
          },
          {
            "name": "security",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Include security/VPN block (paid)"
          },
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Include company/hostname block (paid)"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma list, dot notation: ip,country,connection.asn"
          },
          {
            "name": "excludes",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma list of fields to drop"
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Localized country name"
          },
          {
            "name": "output",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv"
              ]
            }
          },
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "API key (or X-API-Key header)"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup result"
          },
          "403": {
            "description": "Restricted key / paid param on free tier"
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "Geolocation"
        ],
        "summary": "Caller IP lookup",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Your IP's data"
          }
        }
      }
    },
    "/timezone/convert": {
      "get": {
        "tags": [
          "Timezone"
        ],
        "summary": "Convert time between IANA timezones",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "America/New_York"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Asia/Kabul"
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2026-12-08 11:00",
            "description": "Defaults to now"
          }
        ],
        "responses": {
          "200": {
            "description": "original_time, converted_time, diff_hour, diff_min"
          }
        }
      }
    },
    "/astronomy": {
      "get": {
        "tags": [
          "Astronomy"
        ],
        "summary": "Sun/moon events for an IP or coordinates",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "sunrise, sunset, twilights, golden/blue hours, moonrise/set, sun+moon position"
          }
        }
      }
    },
    "/useragent": {
      "get": {
        "tags": [
          "User Agent"
        ],
        "summary": "Parse a user-agent string",
        "parameters": [
          {
            "name": "ua",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "browser/os/device/is_bot"
          }
        }
      }
    },
    "/asn": {
      "get": {
        "tags": [
          "ASN"
        ],
        "summary": "ASN lookup: org, type, route counts, prefixes",
        "parameters": [
          {
            "name": "asn",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "13335"
          }
        ],
        "responses": {
          "200": {
            "description": "AS info"
          },
          "404": {
            "description": "Unknown ASN"
          }
        }
      }
    },
    "/abuse": {
      "get": {
        "tags": [
          "Abuse"
        ],
        "summary": "Abuse contact for an IP (RDAP)",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "abuse emails/phones/org"
          }
        }
      }
    },
    "/bulk": {
      "get": {
        "tags": [
          "Bulk"
        ],
        "summary": "Bulk lookup up to 100 IPs (paid)",
        "parameters": [
          {
            "name": "ips",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated IPs, up to 100"
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Business or Max API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of lookups"
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Geolocation"
    },
    {
      "name": "Security"
    },
    {
      "name": "Timezone"
    },
    {
      "name": "Astronomy"
    },
    {
      "name": "User Agent"
    },
    {
      "name": "ASN"
    },
    {
      "name": "Abuse"
    },
    {
      "name": "Bulk"
    },
    {
      "name": "Account"
    }
  ]
}