{
  "openapi": "3.1.0",
  "info": {
    "title": "fxapis",
    "version": "0.1.0",
    "description": "fxapis is the MetaTrader 5 API. Connect an MT5 account once, then trade it, read its positions\nand its history over plain HTTP. Choose whether each account stays connected or comes online\nonly when you need it.\n\n### Conventions\n\n- Every successful response is `{ \"data\": … }`; every failure is `{ \"error\": { \"code\", \"message\" } }`.\n  Match on `code`, which is stable. `message` is written for a human and may change.\n- Every response carries `requestId`. Quote it in a support request and the entire call can be found.\n- Times are RFC 3339 in UTC. Money and prices are never floats in a request body.\n\n### Bringing an account online is not instant\n\nA broker login takes as long as the broker takes — usually seconds, occasionally much longer.\n`POST /accounts/{id}/warm` brings an account online and returns **202** with a `pollUrl` rather than\nholding the request open, so your client's timeout never becomes a question about someone else's\nnetwork. Poll `GET /accounts/{id}/status` until `state` is `ready`.\n\n### Credentials\n\nThe MT5 password you send is encrypted before it is stored, with a data key that is bound to that\none account, and is never returned by any endpoint, written to the account record or included in\na log line. We cannot show it back to you — if it is lost, it is reset at the broker.",
    "x-jentic-source-url": "https://api.fxapis.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.fxapis.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "summary": "Liveness",
        "tags": [
          "Health"
        ],
        "description": "Says the fxapis API process is up, for liveness probes and uptime monitors. Checks nothing else and never returns anything but 200; use /readyz to know whether it can serve traffic.",
        "security": [],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "summary": "Readiness",
        "tags": [
          "Health"
        ],
        "description": "Says the API can serve traffic right now, including storing and using account credentials. Returns 503 when it cannot.",
        "security": [],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "checks": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "checks": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts": {
      "get": {
        "summary": "List connected accounts",
        "tags": [
          "Accounts"
        ],
        "description": "Every account in this workspace, newest first.",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "label": {
                            "type": [
                              "null",
                              "string"
                            ],
                            "description": "Yours, for telling accounts apart."
                          },
                          "login": {
                            "type": "string",
                            "description": "The MT5 account number."
                          },
                          "server": {
                            "type": "string",
                            "description": "The broker server name, exactly as MetaTrader shows it."
                          },
                          "mode": {
                            "type": "string",
                            "enum": [
                              "always_on",
                              "warm_on_demand",
                              "cold"
                            ]
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "created",
                              "provisioning",
                              "standby",
                              "starting",
                              "connecting",
                              "synchronizing",
                              "ready",
                              "executing",
                              "cooling",
                              "offline",
                              "degraded",
                              "reconnecting",
                              "invalid_credentials",
                              "trading_disabled",
                              "needs_2fa",
                              "needs_certificate",
                              "error"
                            ],
                            "description": "Online: `ready` (can trade) and `executing` (an order is in flight). Connecting: `provisioning`, `starting`, `connecting`, `synchronizing`, `reconnecting` — poll until `ready`. Offline: `created`, `standby`, `cooling` (going offline) and `offline` (after a disconnect, send the account's credentials again to reconnect). `degraded`: online but misbehaving — restart the connection. Need a human: `invalid_credentials`, `needs_2fa`, `needs_certificate`, `trading_disabled`. `error`: see `stateDetail`."
                          },
                          "stateDetail": {
                            "type": [
                              "null",
                              "string"
                            ],
                            "description": "Why it is in that state, when there is more to say."
                          },
                          "stateChangedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "problem": {
                            "type": [
                              "null",
                              "object"
                            ],
                            "description": "Set when the account needs you, null otherwise: what is wrong in words, what the broker said, and what fixes it. For a refused login it names the broker's other servers, most likely first — a login only works on the server it was opened on.",
                            "properties": {
                              "code": {
                                "type": "string",
                                "enum": [
                                  "LOGIN_REFUSED",
                                  "TRADING_DISABLED",
                                  "NEEDS_2FA",
                                  "NEEDS_CERTIFICATE",
                                  "CONNECTION_FAILED"
                                ]
                              },
                              "title": {
                                "type": "string",
                                "examples": [
                                  "The broker refused the login"
                                ]
                              },
                              "explanation": {
                                "type": "string"
                              },
                              "detail": {
                                "type": [
                                  "null",
                                  "string"
                                ],
                                "description": "What the broker or terminal reported, verbatim."
                              },
                              "otherServers": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "examples": [
                                  [
                                    "JustMarkets-Demo",
                                    "JustMarkets-Demo2"
                                  ]
                                ]
                              },
                              "actions": {
                                "type": "array",
                                "description": "`switch_server`: `POST /v1/accounts/{id}/server` with that server. `replace_credentials`: send the account's corrected credentials (see Accounts in the reference). `connect`: `POST /v1/accounts/{id}/warm`. `contact_support`: write to support.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "kind": {
                                      "type": "string",
                                      "enum": [
                                        "switch_server",
                                        "replace_credentials",
                                        "connect",
                                        "contact_support"
                                      ]
                                    },
                                    "server": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "kind"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "code",
                              "title",
                              "explanation",
                              "detail",
                              "otherServers",
                              "actions"
                            ]
                          },
                          "currency": {
                            "type": [
                              "null",
                              "string"
                            ]
                          },
                          "leverage": {
                            "type": [
                              "null",
                              "integer"
                            ]
                          },
                          "marginMode": {
                            "type": [
                              "null",
                              "string"
                            ]
                          },
                          "tradeAllowed": {
                            "type": [
                              "null",
                              "boolean"
                            ]
                          },
                          "brokerName": {
                            "type": [
                              "null",
                              "string"
                            ]
                          },
                          "environment": {
                            "type": [
                              "null",
                              "string"
                            ],
                            "enum": [
                              "demo",
                              "contest",
                              "live",
                              null
                            ],
                            "description": "Demo, contest or live — from the terminal once it has logged in, or from the server's name until then. Plans give demo accounts free up to an allowance; a trial connects demo accounts only."
                          },
                          "tradingDisabled": {
                            "type": "boolean",
                            "description": "Set by us or by the broker. No order is accepted while true."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Connect an MT5 account",
        "tags": [
          "Accounts"
        ],
        "description": "Stores the account and encrypts its password. It does **not** log in: the account lands in `created`, and connects when you bring it online or when the first order arrives on a `warm_on_demand` account.\n\n**Reconnecting.** If this login and server were connected before and then disconnected, the same account comes back — its id and history kept — with the new password, and the answer is `200` instead of `201`. If they are still connected, the answer is `409 ACCOUNT_EXISTS` with the account's id; to change its password, use `POST /v1/accounts/{id}/password`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "login",
                  "server",
                  "password"
                ],
                "properties": {
                  "platform": {
                    "type": "string",
                    "enum": [
                      "mt5"
                    ],
                    "default": "mt5"
                  },
                  "login": {
                    "type": "string",
                    "pattern": "^\\d+$",
                    "minLength": 1,
                    "maxLength": 32,
                    "description": "The MT5 account number.",
                    "example": "26177561"
                  },
                  "server": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Broker server name, e.g. `ICMarkets-Demo`.",
                    "example": "VantageMarkets-Demo"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "description": "The MT5 password. Encrypted on arrival and never returned or logged. Send the *trading* password, not the investor password: an investor password can read the account but cannot place an order.",
                    "example": "your-mt5-trading-password"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "always_on",
                      "warm_on_demand",
                      "cold"
                    ],
                    "default": "cold",
                    "description": "`always_on`: the account stays connected. `warm_on_demand`: it connects on demand (the first order, or a prepare) and goes offline by itself when idle. `cold`: it connects only when you ask. Orders are fastest in that order; cost runs the other way."
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 120,
                    "example": "Demo — strategy A"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "label": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "description": "Yours, for telling accounts apart."
                        },
                        "login": {
                          "type": "string",
                          "description": "The MT5 account number."
                        },
                        "server": {
                          "type": "string",
                          "description": "The broker server name, exactly as MetaTrader shows it."
                        },
                        "mode": {
                          "type": "string",
                          "enum": [
                            "always_on",
                            "warm_on_demand",
                            "cold"
                          ]
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "created",
                            "provisioning",
                            "standby",
                            "starting",
                            "connecting",
                            "synchronizing",
                            "ready",
                            "executing",
                            "cooling",
                            "offline",
                            "degraded",
                            "reconnecting",
                            "invalid_credentials",
                            "trading_disabled",
                            "needs_2fa",
                            "needs_certificate",
                            "error"
                          ],
                          "description": "Online: `ready` (can trade) and `executing` (an order is in flight). Connecting: `provisioning`, `starting`, `connecting`, `synchronizing`, `reconnecting` — poll until `ready`. Offline: `created`, `standby`, `cooling` (going offline) and `offline` (after a disconnect, send the account's credentials again to reconnect). `degraded`: online but misbehaving — restart the connection. Need a human: `invalid_credentials`, `needs_2fa`, `needs_certificate`, `trading_disabled`. `error`: see `stateDetail`."
                        },
                        "stateDetail": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "description": "Why it is in that state, when there is more to say."
                        },
                        "stateChangedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "problem": {
                          "type": [
                            "null",
                            "object"
                          ],
                          "description": "Set when the account needs you, null otherwise: what is wrong in words, what the broker said, and what fixes it. For a refused login it names the broker's other servers, most likely first — a login only works on the server it was opened on.",
                          "properties": {
                            "code": {
                              "type": "string",
                              "enum": [
                                "LOGIN_REFUSED",
                                "TRADING_DISABLED",
                                "NEEDS_2FA",
                                "NEEDS_CERTIFICATE",
                                "CONNECTION_FAILED"
                              ]
                            },
                            "title": {
                              "type": "string",
                              "examples": [
                                "The broker refused the login"
                              ]
                            },
                            "explanation": {
                              "type": "string"
                            },
                            "detail": {
                              "type": [
                                "null",
                                "string"
                              ],
                              "description": "What the broker or terminal reported, verbatim."
                            },
                            "otherServers": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "examples": [
                                [
                                  "JustMarkets-Demo",
                                  "JustMarkets-Demo2"
                                ]
                              ]
                            },
                            "actions": {
                              "type": "array",
                              "description": "`switch_server`: `POST /v1/accounts/{id}/server` with that server. `replace_credentials`: send the account's corrected credentials (see Accounts in the reference). `connect`: `POST /v1/accounts/{id}/warm`. `contact_support`: write to support.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "switch_server",
                                      "replace_credentials",
                                      "connect",
                                      "contact_support"
                                    ]
                                  },
                                  "server": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind"
                                ]
                              }
                            }
                          },
                          "required": [
                            "code",
                            "title",
                            "explanation",
                            "detail",
                            "otherServers",
                            "actions"
                          ]
                        },
                        "currency": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "leverage": {
                          "type": [
                            "null",
                            "integer"
                          ]
                        },
                        "marginMode": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "tradeAllowed": {
                          "type": [
                            "null",
                            "boolean"
                          ]
                        },
                        "brokerName": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "environment": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "enum": [
                            "demo",
                            "contest",
                            "live",
                            null
                          ],
                          "description": "Demo, contest or live — from the terminal once it has logged in, or from the server's name until then. Plans give demo accounts free up to an allowance; a trial connects demo accounts only."
                        },
                        "tradingDisabled": {
                          "type": "boolean",
                          "description": "Set by us or by the broker. No order is accepted while true."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "label": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "description": "Yours, for telling accounts apart."
                        },
                        "login": {
                          "type": "string",
                          "description": "The MT5 account number."
                        },
                        "server": {
                          "type": "string",
                          "description": "The broker server name, exactly as MetaTrader shows it."
                        },
                        "mode": {
                          "type": "string",
                          "enum": [
                            "always_on",
                            "warm_on_demand",
                            "cold"
                          ]
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "created",
                            "provisioning",
                            "standby",
                            "starting",
                            "connecting",
                            "synchronizing",
                            "ready",
                            "executing",
                            "cooling",
                            "offline",
                            "degraded",
                            "reconnecting",
                            "invalid_credentials",
                            "trading_disabled",
                            "needs_2fa",
                            "needs_certificate",
                            "error"
                          ],
                          "description": "Online: `ready` (can trade) and `executing` (an order is in flight). Connecting: `provisioning`, `starting`, `connecting`, `synchronizing`, `reconnecting` — poll until `ready`. Offline: `created`, `standby`, `cooling` (going offline) and `offline` (after a disconnect, send the account's credentials again to reconnect). `degraded`: online but misbehaving — restart the connection. Need a human: `invalid_credentials`, `needs_2fa`, `needs_certificate`, `trading_disabled`. `error`: see `stateDetail`."
                        },
                        "stateDetail": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "description": "Why it is in that state, when there is more to say."
                        },
                        "stateChangedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "problem": {
                          "type": [
                            "null",
                            "object"
                          ],
                          "description": "Set when the account needs you, null otherwise: what is wrong in words, what the broker said, and what fixes it. For a refused login it names the broker's other servers, most likely first — a login only works on the server it was opened on.",
                          "properties": {
                            "code": {
                              "type": "string",
                              "enum": [
                                "LOGIN_REFUSED",
                                "TRADING_DISABLED",
                                "NEEDS_2FA",
                                "NEEDS_CERTIFICATE",
                                "CONNECTION_FAILED"
                              ]
                            },
                            "title": {
                              "type": "string",
                              "examples": [
                                "The broker refused the login"
                              ]
                            },
                            "explanation": {
                              "type": "string"
                            },
                            "detail": {
                              "type": [
                                "null",
                                "string"
                              ],
                              "description": "What the broker or terminal reported, verbatim."
                            },
                            "otherServers": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "examples": [
                                [
                                  "JustMarkets-Demo",
                                  "JustMarkets-Demo2"
                                ]
                              ]
                            },
                            "actions": {
                              "type": "array",
                              "description": "`switch_server`: `POST /v1/accounts/{id}/server` with that server. `replace_credentials`: send the account's corrected credentials (see Accounts in the reference). `connect`: `POST /v1/accounts/{id}/warm`. `contact_support`: write to support.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "switch_server",
                                      "replace_credentials",
                                      "connect",
                                      "contact_support"
                                    ]
                                  },
                                  "server": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind"
                                ]
                              }
                            }
                          },
                          "required": [
                            "code",
                            "title",
                            "explanation",
                            "detail",
                            "otherServers",
                            "actions"
                          ]
                        },
                        "currency": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "leverage": {
                          "type": [
                            "null",
                            "integer"
                          ]
                        },
                        "marginMode": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "tradeAllowed": {
                          "type": [
                            "null",
                            "boolean"
                          ]
                        },
                        "brokerName": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "environment": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "enum": [
                            "demo",
                            "contest",
                            "live",
                            null
                          ],
                          "description": "Demo, contest or live — from the terminal once it has logged in, or from the server's name until then. Plans give demo accounts free up to an allowance; a trial connects demo accounts only."
                        },
                        "tradingDisabled": {
                          "type": "boolean",
                          "description": "Set by us or by the broker. No order is accepted while true."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{id}": {
      "get": {
        "summary": "Fetch one account",
        "tags": [
          "Accounts"
        ],
        "description": "One connected account: its login, server, label, mode, current state and when it last changed. The password is never included. Another workspace's account is 404.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "label": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "description": "Yours, for telling accounts apart."
                        },
                        "login": {
                          "type": "string",
                          "description": "The MT5 account number."
                        },
                        "server": {
                          "type": "string",
                          "description": "The broker server name, exactly as MetaTrader shows it."
                        },
                        "mode": {
                          "type": "string",
                          "enum": [
                            "always_on",
                            "warm_on_demand",
                            "cold"
                          ]
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "created",
                            "provisioning",
                            "standby",
                            "starting",
                            "connecting",
                            "synchronizing",
                            "ready",
                            "executing",
                            "cooling",
                            "offline",
                            "degraded",
                            "reconnecting",
                            "invalid_credentials",
                            "trading_disabled",
                            "needs_2fa",
                            "needs_certificate",
                            "error"
                          ],
                          "description": "Online: `ready` (can trade) and `executing` (an order is in flight). Connecting: `provisioning`, `starting`, `connecting`, `synchronizing`, `reconnecting` — poll until `ready`. Offline: `created`, `standby`, `cooling` (going offline) and `offline` (after a disconnect, send the account's credentials again to reconnect). `degraded`: online but misbehaving — restart the connection. Need a human: `invalid_credentials`, `needs_2fa`, `needs_certificate`, `trading_disabled`. `error`: see `stateDetail`."
                        },
                        "stateDetail": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "description": "Why it is in that state, when there is more to say."
                        },
                        "stateChangedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "problem": {
                          "type": [
                            "null",
                            "object"
                          ],
                          "description": "Set when the account needs you, null otherwise: what is wrong in words, what the broker said, and what fixes it. For a refused login it names the broker's other servers, most likely first — a login only works on the server it was opened on.",
                          "properties": {
                            "code": {
                              "type": "string",
                              "enum": [
                                "LOGIN_REFUSED",
                                "TRADING_DISABLED",
                                "NEEDS_2FA",
                                "NEEDS_CERTIFICATE",
                                "CONNECTION_FAILED"
                              ]
                            },
                            "title": {
                              "type": "string",
                              "examples": [
                                "The broker refused the login"
                              ]
                            },
                            "explanation": {
                              "type": "string"
                            },
                            "detail": {
                              "type": [
                                "null",
                                "string"
                              ],
                              "description": "What the broker or terminal reported, verbatim."
                            },
                            "otherServers": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "examples": [
                                [
                                  "JustMarkets-Demo",
                                  "JustMarkets-Demo2"
                                ]
                              ]
                            },
                            "actions": {
                              "type": "array",
                              "description": "`switch_server`: `POST /v1/accounts/{id}/server` with that server. `replace_credentials`: send the account's corrected credentials (see Accounts in the reference). `connect`: `POST /v1/accounts/{id}/warm`. `contact_support`: write to support.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "switch_server",
                                      "replace_credentials",
                                      "connect",
                                      "contact_support"
                                    ]
                                  },
                                  "server": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind"
                                ]
                              }
                            }
                          },
                          "required": [
                            "code",
                            "title",
                            "explanation",
                            "detail",
                            "otherServers",
                            "actions"
                          ]
                        },
                        "currency": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "leverage": {
                          "type": [
                            "null",
                            "integer"
                          ]
                        },
                        "marginMode": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "tradeAllowed": {
                          "type": [
                            "null",
                            "boolean"
                          ]
                        },
                        "brokerName": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "environment": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "enum": [
                            "demo",
                            "contest",
                            "live",
                            null
                          ],
                          "description": "Demo, contest or live — from the terminal once it has logged in, or from the server's name until then. Plans give demo accounts free up to an allowance; a trial connects demo accounts only."
                        },
                        "tradingDisabled": {
                          "type": "boolean",
                          "description": "Set by us or by the broker. No order is accepted while true."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an account and its history",
        "tags": [
          "Accounts"
        ],
        "description": "Removes the account for good: its terminal is stopped, its password erased, and the record deleted with its orders, deals and positions. **This cannot be undone.** To stop trading on an account but keep its history readable, disconnect it instead.\n\nRefused with `409` while an order is in flight (`ACCOUNT_EXECUTING`), while a multi-account order that includes it has not finished (`ACCOUNT_IN_WAVE`), and when our last look found open positions (`ACCOUNT_HAS_POSITIONS`): those stay open at the broker with their stops, but could no longer be shown or closed here. Close them first, or send `force=true` to delete anyway.\n\nAlert hooks stop sending to the account; a hook left with no accounts is switched off. This month's usage is unaffected. The same login and server can be connected again afterwards, as a new account.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "in": "query",
            "name": "force",
            "required": false,
            "description": "`true` deletes even with open positions, which stay open at the broker."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "accountId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "deleted": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "removed": {
                          "type": "object",
                          "description": "What went with it.",
                          "properties": {
                            "orders": {
                              "type": "integer"
                            },
                            "deals": {
                              "type": "integer"
                            },
                            "positions": {
                              "type": "integer"
                            },
                            "alertHooksUpdated": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{id}/status": {
      "get": {
        "summary": "Poll lifecycle state",
        "tags": [
          "Accounts"
        ],
        "description": "The endpoint to poll after bringing an account online. Cheap enough to call every second or two; `state` reaches `ready` when the account is logged in and ready to trade.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "created",
                            "provisioning",
                            "standby",
                            "starting",
                            "connecting",
                            "synchronizing",
                            "ready",
                            "executing",
                            "cooling",
                            "offline",
                            "degraded",
                            "reconnecting",
                            "invalid_credentials",
                            "trading_disabled",
                            "needs_2fa",
                            "needs_certificate",
                            "error"
                          ],
                          "description": "Online: `ready` (can trade) and `executing` (an order is in flight). Connecting: `provisioning`, `starting`, `connecting`, `synchronizing`, `reconnecting` — poll until `ready`. Offline: `created`, `standby`, `cooling` (going offline) and `offline` (after a disconnect, send the account's credentials again to reconnect). `degraded`: online but misbehaving — restart the connection. Need a human: `invalid_credentials`, `needs_2fa`, `needs_certificate`, `trading_disabled`. `error`: see `stateDetail`."
                        },
                        "detail": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "since": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "mode": {
                          "type": "string",
                          "enum": [
                            "always_on",
                            "warm_on_demand",
                            "cold"
                          ]
                        },
                        "tradingDisabled": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{id}/password": {
      "post": {
        "summary": "Replace an account's password",
        "tags": [
          "Accounts"
        ],
        "description": "Gives a connected account a new trading password — after the member changed it at the broker, or when the account is in `invalid_credentials` because the one it had was wrong. Send `server` as well to correct the server name.\n\nThe account is taken offline first (refused with `409` while an order is in flight), the new password is encrypted and stored, and only then is the old one erased — a failure leaves the old credential in place. The account lands in `created` and comes online on the next order or when you bring it online; bring it online straight away to check the new password while the member is still there. The password is never returned or logged.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "description": "The account's **trading** password, not the investor password.",
                    "example": "the-members-new-trading-password"
                  },
                  "server": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Optional: a corrected server name, exactly as MetaTrader shows it.",
                    "example": "VantageMarkets-Live"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "label": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "description": "Yours, for telling accounts apart."
                        },
                        "login": {
                          "type": "string",
                          "description": "The MT5 account number."
                        },
                        "server": {
                          "type": "string",
                          "description": "The broker server name, exactly as MetaTrader shows it."
                        },
                        "mode": {
                          "type": "string",
                          "enum": [
                            "always_on",
                            "warm_on_demand",
                            "cold"
                          ]
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "created",
                            "provisioning",
                            "standby",
                            "starting",
                            "connecting",
                            "synchronizing",
                            "ready",
                            "executing",
                            "cooling",
                            "offline",
                            "degraded",
                            "reconnecting",
                            "invalid_credentials",
                            "trading_disabled",
                            "needs_2fa",
                            "needs_certificate",
                            "error"
                          ],
                          "description": "Online: `ready` (can trade) and `executing` (an order is in flight). Connecting: `provisioning`, `starting`, `connecting`, `synchronizing`, `reconnecting` — poll until `ready`. Offline: `created`, `standby`, `cooling` (going offline) and `offline` (after a disconnect, send the account's credentials again to reconnect). `degraded`: online but misbehaving — restart the connection. Need a human: `invalid_credentials`, `needs_2fa`, `needs_certificate`, `trading_disabled`. `error`: see `stateDetail`."
                        },
                        "stateDetail": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "description": "Why it is in that state, when there is more to say."
                        },
                        "stateChangedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "problem": {
                          "type": [
                            "null",
                            "object"
                          ],
                          "description": "Set when the account needs you, null otherwise: what is wrong in words, what the broker said, and what fixes it. For a refused login it names the broker's other servers, most likely first — a login only works on the server it was opened on.",
                          "properties": {
                            "code": {
                              "type": "string",
                              "enum": [
                                "LOGIN_REFUSED",
                                "TRADING_DISABLED",
                                "NEEDS_2FA",
                                "NEEDS_CERTIFICATE",
                                "CONNECTION_FAILED"
                              ]
                            },
                            "title": {
                              "type": "string",
                              "examples": [
                                "The broker refused the login"
                              ]
                            },
                            "explanation": {
                              "type": "string"
                            },
                            "detail": {
                              "type": [
                                "null",
                                "string"
                              ],
                              "description": "What the broker or terminal reported, verbatim."
                            },
                            "otherServers": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "examples": [
                                [
                                  "JustMarkets-Demo",
                                  "JustMarkets-Demo2"
                                ]
                              ]
                            },
                            "actions": {
                              "type": "array",
                              "description": "`switch_server`: `POST /v1/accounts/{id}/server` with that server. `replace_credentials`: send the account's corrected credentials (see Accounts in the reference). `connect`: `POST /v1/accounts/{id}/warm`. `contact_support`: write to support.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "switch_server",
                                      "replace_credentials",
                                      "connect",
                                      "contact_support"
                                    ]
                                  },
                                  "server": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind"
                                ]
                              }
                            }
                          },
                          "required": [
                            "code",
                            "title",
                            "explanation",
                            "detail",
                            "otherServers",
                            "actions"
                          ]
                        },
                        "currency": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "leverage": {
                          "type": [
                            "null",
                            "integer"
                          ]
                        },
                        "marginMode": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "tradeAllowed": {
                          "type": [
                            "null",
                            "boolean"
                          ]
                        },
                        "brokerName": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "environment": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "enum": [
                            "demo",
                            "contest",
                            "live",
                            null
                          ],
                          "description": "Demo, contest or live — from the terminal once it has logged in, or from the server's name until then. Plans give demo accounts free up to an allowance; a trial connects demo accounts only."
                        },
                        "tradingDisabled": {
                          "type": "boolean",
                          "description": "Set by us or by the broker. No order is accepted while true."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Stable, machine-readable. Match on this, not on the message."
                        },
                        "message": {
                          "type": "string",
                          "description": "For a human. May change between releases."
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Also on every response. Quote it in a support request and the whole call can be found."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{id}/server": {
      "post": {
        "summary": "Move an account to another server",
        "tags": [
          "Accounts"
        ],
        "description": "For a login refused because it was added under the wrong server name: keeps the stored password and tries it on `server` instead, so the password is not sent again. The broker's likely servers are in the account's `problem.otherServers`. With `connect: true` (the default) the account is brought online straight away, so the answer comes back in seconds — watch `state`, or the account's events.\n\n`409 ACCOUNT_EXISTS` when that login is already connected on that server here; `409 NO_PASSWORD` when no password is stored (send one to `/password` instead).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "server"
                ],
                "properties": {
                  "server": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Exactly as MetaTrader shows it.",
                    "example": "JustMarkets-Demo"
                  },
                  "connect": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "label": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "description": "Yours, for telling accounts apart."
                        },
                        "login": {
                          "type": "string",
                          "description": "The MT5 account number."
                        },
                        "server": {
                          "type": "string",
                          "description": "The broker server name, exactly as MetaTrader shows it."
                        },
                        "mode": {
                          "type": "string",
                          "enum": [
                            "always_on",
                            "warm_on_demand",
                            "cold"
                          ]
                        },
                        "state": {
                          "type": "string",
                          "enum": [
                            "created",
                            "provisioning",
                            "standby",
                            "starting",
                            "connecting",
                            "synchronizing",
                            "ready",
                            "executing",
                            "cooling",
                            "offline",
                            "degraded",
                            "reconnecting",
                            "invalid_credentials",
                            "trading_disabled",
                            "needs_2fa",
                            "needs_certificate",
                            "error"
                          ],
                          "description": "Online: `ready` (can trade) and `executing` (an order is in flight). Connecting: `provisioning`, `starting`, `connecting`, `synchronizing`, `reconnecting` — poll until `ready`. Offline: `created`, `standby`, `cooling` (going offline) and `offline` (after a disconnect, send the account's credentials again to reconnect). `degraded`: online but misbehaving — restart the connection. Need a human: `invalid_credentials`, `needs_2fa`, `needs_certificate`, `trading_disabled`. `error`: see `stateDetail`."
                        },
                        "stateDetail": {
                          "type": [
                            "null",
                            "string"
                          ],
                          "description": "Why it is in that state, when there is more to say."
                        },
                        "stateChangedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "problem": {
                          "type": [
                            "null",
                            "object"
                          ],
                          "description": "Set when the account needs you, null otherwise: what is wrong in words, what the broker said, and what fixes it. For a refused login it names the broker's other servers, most likely first — a login only works on the server it was opened on.",
                          "properties": {
                            "code": {
                              "type": "string",
                              "enum": [
                                "LOGIN_REFUSED",
                                "TRADING_DISABLED",
                                "NEEDS_2FA",
                                "NEEDS_CERTIFICATE",
                                "CONNECTION_FAILED"
                              ]
                            },
                            "title": {
                              "type": "string",
                              "examples": [
                                "The broker refused the login"
                              ]
                            },
                            "explanation": {
                              "type": "string"
                            },
                            "detail": {
                              "type": [
                                "null",
                                "string"
                              ],
                              "description": "What the broker or terminal reported, verbatim."
                            },
                            "otherServers": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "examples": [
                                [
                                  "JustMarkets-Demo",
                                  "JustMarkets-Demo2"
                                ]
                              ]
                            },
                            "actions": {
                              "type": "array",
                              "description": "`switch_server`: `POST /v1/accounts/{id}/server` with that server. `replace_credentials`: send the account's corrected credentials (see Accounts in the reference). `connect`: `POST /v1/accounts/{id}/warm`. `contact_support`: write to support.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "switch_server",
                                      "replace_credentials",
                                      "connect",
                                      "contact_support"
                                    ]
                                  },
                                  "server": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "kind"
                                ]
                              }
                            }
                          },
                          "required": [
                            "code",
                            "title",
                            "explanation",
                            "detail",
                            "otherServers",
                            "actions"
                          ]
                        },
                        "currency": {
                          "type": [
                            "null",
                            "string"
                          ]
                        },
                        "leverage": {
                          "type": [
                            "null",
                            "integer"
                          ]
                        },
                        "marginMode": {
                          "type": [
                            "null",
                            "string"
                          ]
[...]
