{
  "swagger": "2.0",
  "info": {
    "title": "Karo device file interaction api",
    "description": "Api for file uploads by cash -register devices",
    "version": "1.2.0",
    "contact": {
      "email": "kassenarchiv@datev.de"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DEV_152/karo-device-file-interaction-api/1.2.0"
  },
  "securityDefinitions": {
    "datev-business-openid-hybridflow": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://meinfiskal.de/openid/authorize",
      "tokenUrl": "https://api.datev.de/token",
      "scopes": {
        "openid business:karo:cashregisterimport": "Import cash point files"
      }
    },
    "datev-business-openid-deviceflow": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.datev-business.de/token/cash-register",
      "tokenUrl": "https://api.datev-business.de/token/cash-register",
      "scopes": {
        "openid business:karo:cashregisterimport": "Import cash point files"
      }
    }
  },
  "security": [
    {
      "datev-business-openid-hybridflow": [
        "openid business:karo:cashregisterimport"
      ]
    },
    {
      "datev-business-openid-deviceflow": [
        "openid business:karo:cashregisterimport"
      ]
    }
  ],
  "host": "api.datev-business.de",
  "schemes": [
    "https"
  ],
  "basePath": "/karo/api/cash-register/v1",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/tenants": {
      "get": {
        "operationId": "getTenants",
        "summary": "Get list of registered tenants",
        "description": "This call returns a list of tenants that are associated with the user who performed the registration of the device. We recommend to retrieve the tenants right after a successful registration of a device in order to test the connection and the correct registration. Furthermore it is an possibility to show the user either the selection tenants he can choose from (if there is more than one tenant returned)or a success response stating the name of the tenant the device is now connected to. Example: ```GET /karo/api/cash-register/v1/tenants HTTP/1.1``` ```Host: api.datev-business.de``` ```Accept: application/json``` ```Request-Id: 2a80020d-339c-4d07-b93a-64903b573a07``` ```Authorization: Bearer ZGVmNGQxZjItMGE2Zi00ZmMzLWFmZTYtYjY3NzY2ZjMyOTU5O2s5eTBaVzNnS2R6WXl0SFh6TEtncXlOU2VOTExUTmQxSnMzeTMxNHljOUU9O1QwcG1UUXN6TG9sdGFIbmQ0dmlRNEhhZFl6U3pEMmxodzhpWTdLVERRRVk9```\n",
        "tags": [
          "cash_register_tenants"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/request-id"
          }
        ],
        "responses": {
          "200": {
            "description": "list of registered tenants",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tenant"
              }
            }
          },
          "400": {
            "description": "Request did not match specification",
            "schema": {
              "$ref": "#/definitions/error-message"
            }
          },
          "401": {
            "description": "Device could not be successfully authenticated."
          },
          "403": {
            "description": "Retrieval of tenants is not allowed. This can be caused by the device not having been granted the correct scopes or by a missing contract.\n"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/error-message"
            }
          }
        }
      }
    },
    "/tenants/{tenant-id}/files/import": {
      "post": {
        "operationId": "importFile",
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "Import file from cash-register to archive",
        "tags": [
          "cash_register_import"
        ],
        "description": "Device uploads a file that needs to be imported and cash -register metadata using this endpoint\n",
        "parameters": [
          {
            "$ref": "#/parameters/request-id"
          },
          {
            "$ref": "#/parameters/tenant-id"
          },
          {
            "name": "metadata",
            "in": "formData",
            "type": "file",
            "x-schema-type": "#/definitions/metadata",
            "required": true,
            "description": "The metadata for describing the file to be imported and the cash_register uploading the given files.<br/> The file should be in UTF -8 encoding.<br/> Example metadata CASH_REGISTER:<br/> ``` Content-Disposition: form-data; name=\"metadata\"; filename=\"metadata.json\" Content-Type: application/json { \"document_type\": \"CASH_REGISTER_TRANSACTIONS\", \"note\" : \"Notes about the imported file\", \"extensions\" : { \"date_from\" : \"2017-07-13\", \"date_to\" : \"2017-07-14\", \"cash_register\" : { \"serial_number\": \"Serial number of cash-register\", \"manufacturer\": \"Manufacturer of cash-register\", \"model_type\": \"Model of cash-register\", \"name\": \"Name of the cash-register\", \"description\": \"Some additional information abou t the cash-register\", \"address\": { \"street\": \"Street and street-number where the cash-register is based\", \"postal_code\": \"Postal code of cash -register\", \"city\": \"City where the cash-register is based\", \"country_code\": \"DE\" } }, \"client_application\": { \"client_application_name\" : \"Name of the software\", \"client_application_vendor\" : \"Manufacturer of the software\", \"client_application_version\" : \"Version105\" } } } ```<br/> OR<br/> Example metadata TSE:<br/> ``` Content-Disposition: form-data; name=\"metadata\"; filename=\"metadata.json\" Content-Type: application/json { \"document_type\": \"TSE\", \"note\" : \"Notes about the imported file\", \"extensions\" : { \"date_from\" : \"2019-08-27\", \"date_to\" : \"2019-08-27\", \"tse_properties\" : { \"serial_number\":\"1234512345123451234512345123451234512345123451234512345123451234\", \"manufacturer\": \"Manufacturer of TSE\", \"model_type\": \"Model of TSE\", \"name\": \"myTseFolder\", \"connected_cash_registers\" : [\"124985473984\", \"224985473984\",\"324985473984\"] }, \"client_application\": { \"client_application_name\":\"someName\", \"client_application_vendor\":\"someVendor\", \"client_application_version\":\"someVersion\" } } } ```<br> Content-Type: application/json<br> Max allowed size: 10 kb.<br> The metadata formData part needs to be sent before the file -part the request will otherwise be rejected.\n"
          },
          {
            "name": "file",
            "in": "formData",
            "type": "file",
            "required": true,
            "description": "File to import - Max allowed size: 200MB. The file should be in UTF -8 encoding. Assumed content-type for storage is application/octet-stream as long as the file is not identified as a valid taxonomy file. For security reasons all files are subject to scans(e.g. virus-scan, magic-byte-check). If you have multiple files representing one TRANSACTION or one CASH_POINT_CLOSING then we recommend to zip these files and import them as one file. This will reduce the number of files the customer has to monitor. This formData part needs to be sent after the metadata formData part has been sent otherwise the request will be rejected.\n\nUpload file with curl (for testing purposes): ```curl --location --request POST 'https://sandbox-api.datevbusiness.de/karo/api/cash-register/v1/tenants/bd8bba82-fc2a-443e-b1e1-1a41a55118f5/files/import'```\n```--header 'Accept: application/json'```\n\n```--header 'Authorization: Bearer ZGVmNGQxZjItMGE2Zi00ZmMzLWFmZTYtYjY3NzY2ZjMyOTU5O2s5eTBaVzNnS2R6WXl0SFh6TEtncXlOU2VOTExUTmQxSnMzeTMxNHljOUU9O1QwcG1UUXN6TG9sdGFIbmQ0dmlRNEhhZFl6U3pEMmxodzhpWTdLVERRRVk9'```\n\n```--header 'request-id: 1580132356949'```\n\n```--header 'Content-Type: multipart/form-data'```\n\n```--form 'metadata={ \"document_type\": \"TSE\", \"note\" : \"Notes about the imported file\", \"extensions\" : { \"date_from\" : \"2020-01-09\", \"date_to\" : \"2020-01-09\", \"tse_properties\" : { \"serial_number\": \"1234512345123451234512345123451234512345123451234512345123451231\",  \"manufacturer\": \"TSE_MANUFACTURER\", \"model_type\": \"TSE_CARD\", \"name\": \"myTseFolder\", \"connected_cash_registers\" : [\"1234567\"] }, \"client_application\": { \"client_application_name\":\"Test Dev\", \"client_application_vendor\":\"Test Systems AG\", \"client_application_version\":\"0.0.1\" } } }'```\n```--form 'file=@20200113-120852_taxonomie_8_20200109-103108.json'```\n"
          }
        ],
        "responses": {
          "202": {
            "description": "File has been sucessfully received and is now being processed. The file will be deleted should it be infected by viruses or contain malicious bytecode and the user will be contacted via email and be in formed about the incident.\n"
          },
          "400": {
            "description": "Request did not match specification",
            "schema": {
              "$ref": "#/definitions/error-message"
            }
          },
          "401": {
            "description": "Device could not be successfully authenticated."
          },
          "403": {
            "description": "File can not be imported because the device does not have the required permission. This can be caused by the device not having been granted the correct scopes or by a missing contract.\n"
          },
          "402": {
            "description": "File can not be upload as extension to an existing contract is required. Further information is provided as error-message.\n",
            "schema": {
              "$ref": "#/definitions/error-message"
            }
          },
          "404": {
            "description": "The tenant corresponding to the given tenant-id could not be found. This might indicate that the tenant-id is wrong, incomplete or not valid anymore.\n"
          },
          "413": {
            "description": "File import failed as the file exceeds the maximum size additional information about the affected part and the max imum size is provided as error-message\n",
            "schema": {
              "$ref": "#/definitions/error-message"
            }
          },
          "422": {
            "description": "File import failed because the provided data is not valid. Information about the invalid part is provided as error-message",
            "schema": {
              "$ref": "#/definitions/error-message"
            }
          },
          "423": {
            "description": "File can not be imported with the given serial-number as the corresponding folder has been deactivated. Please reactivate the folder in the web -ui, before attempting to upload the file again.\n"
          },
          "default": {
            "description": "Unexpected error occured",
            "schema": {
              "$ref": "#/definitions/error-message"
            }
          }
        }
      }
    },
    "/tenants/{tenant-id}/tselogs/{serial-number}": {
      "get": {
        "operationId": "getTselogsInfo",
        "summary": "Info about processed tselogs for one tse with serial_number of the given tenant, e.g. last processed signature counter",
        "description": "This call returns infos about uploaded tselogs, eg. the signature counter and the optional given custom field from the uploaded and processed tar files\n",
        "tags": [
          "tselog_info"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/tenant-id"
          },
          {
            "$ref": "#/parameters/serial-number"
          },
          {
            "$ref": "#/parameters/request-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Infos about uploaded tselogs",
            "schema": {
              "$ref": "#/definitions/tseloginfo"
            }
          },
          "400": {
            "description": "Request did not match specification",
            "schema": {
              "$ref": "#/definitions/error-message"
            }
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Retrieval of info is not allowed, e.g. not granted the correct scopes.\n"
          },
          "404": {
            "description": "No data for serial_number available.\n"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-message"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "tenant": {
      "title": "Registered tenant",
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "maxLength": 64
        },
        "name": {
          "type": "string",
          "minLength": 0,
          "maxLength": 32
        },
        "metadata": {
          "title": "Metadata corresponding to an import request",
          "type": "object",
          "description": "Contains information about the imported file and the uploading cash-register In case of document_type being CASH_REGISTER_TRANSACTIONS, CASH_POINT_CLOSING or TSE the value date_to becomes mandatory\n",
          "required": [
            "document_type",
            "extensions"
          ],
          "properties": {
            "document_type": {
              "type": "string",
              "enum": [
                "CASH_REGISTER_TRANSACTIONS",
                "CASH_POINT_CLOSING",
                "CASH_REGISTER_MISC_DOCUMENT",
                "TSE"
              ],
              "description": "Type of imported file"
            },
            "note": {
              "type": "string",
              "description": "Notes for the imported file.\nOptional field.\n"
            },
            "extensions": {
              "type": "object",
              "description": "Additional required Information about the imported document. In case of document_type being CASH_REGISTER_TRANSACTIONS, CASH_POINT_CLOSING or TSE the value date_to becomes mandatory  The property cash_register or tse_properties must be set\n",
              "required": [
                "date_from",
                "client_application"
              ],
              "properties": {
                "cash_register": {
                  "$ref": "#/definitions/cash_register_metadata"
                },
                "tse_properties": {
                  "$ref": "#/definitions/tse_properties"
                },
                "client_application": {
                  "$ref": "#/definitions/client_application"
                },
                "date_from": {
                  "type": "string",
                  "format": "date",
                  "description": "Date following JSON-Format e.g. 2017-09-18 (see ISO8601). Defines from which date onwards this file is valid and determines the first date covered by its contents\n"
                },
                "date_to": {
                  "type": "string",
                  "format": "date",
                  "description": "Date following JSON-Format e.g. 2017-09-18 (see ISO8601). Defines until which date this file is evalid and determines the last date covered by its contents. This field is mandatory for CASH_POINT_CLOSING, TRANSACTIONS and TSE. In case of MISC_DOCUMENT it can be left blank to signal that no date can be determined by which this file is not relevant anymore.\n"
                }
              }
            }
          }
        }
      }
    },
    "cash_register_metadata": {
      "properties": {
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the cash register",
          "maxLength": 255,
          "minLength": 1,
          "pattern": "^.*[^\\s]+.*$"
        },
        "model_type": {
          "type": "string",
          "description": "Model",
          "maxLength": 255,
          "minLength": 1,
          "pattern": "^.*[^\\s]+.*$"
        },
        "name": {
          "type": "string",
          "maxLength": 40,
          "pattern": "^.*[^\\s]+.*$",
          "description": "Name of the cash-register if known to the device\n"
        },
        "description": {
          "type": "string",
          "description": "Free description text for individual comments of the user",
          "maxLength": 255,
          "minLength": 1,
          "pattern": "^.*[^\\\\s]+.*$"
        },
        "serial_number": {
          "type": "string",
          "description": "Serial number of the cash register according to the manufacturer. To import data, the field must be filled and can then no longer be changed\n",
          "maxLength": 50,
          "minLength": 1,
          "pattern": "^.*[^\\s]+.*$"
        },
        "address": {
          "type": "object",
          "title": "CashRegisterAddress",
          "required": [
            "street",
            "country_code",
            "postal_code",
            "city"
          ],
          "properties": {
            "street": {
              "type": "string",
              "description": "Street name with street numb er",
              "maxLength": 41,
              "minLength": 1,
              "pattern": "^.*[^\\s]+.*$"
            },
            "postal_code": {
              "type": "string",
              "description": "Postal-Code of cash-register",
              "maxLength": 5,
              "minLength": 5,
              "pattern": "^\\d{5}$"
            },
            "city": {
              "type": "string",
              "description": "Name of city the cash-register is based in",
              "maxLength": 62,
              "minLength": 1,
              "pattern": "^.*[^\\s]+.*$"
            },
            "country_code": {
              "description": "Country the cash-register is based in, following ISO3166-Alpha2",
              "type": "string",
              "enum": [
                "DE"
              ],
              "required": [
                "address",
                "serial_number"
              ]
            }
          }
        }
      }
    },
    "tse_properties": {
      "properties": {
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the cash register",
          "maxLength": 255,
          "minLength": 1,
          "pattern": "^.*[^\\s]+.*$"
        },
        "model_type": {
          "type": "string",
          "description": "Model",
          "maxLength": 255,
          "minLength": 1,
          "pattern": "^.*[^\\s]+.*$"
        },
        "name": {
          "type": "string",
          "maxLength": 40,
          "pattern": "^.*[^\\s]+.*$",
          "description": "Name of the cash-register if known to the device\n"
        },
        "serial_number": {
          "type": "string",
          "minLength": 64,
          "maxLength": 64,
          "pattern": "^.*[^\\s]+.*$",
          "description": "Permanent identification of the tse that created the file.\nMust be unique in combination with manufacturer.\n"
        },
        "connected_cash_registers": {
          "type": "array",
          "minItems": 1,
          "maxItems": 50,
          "items": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "description": "Serial number of the connected cash registers of the TSE. Maximum is 50 items in the array with a length of 50.\n"
          }
        },
        "custom_field": {
          "type": "string",
          "description": "Custom information about the tse",
          "maxLength": 255,
          "minLength": 1,
          "pattern": "^.*[^\\s]+.*$"
        }
      },
      "required": [
        "manufacturer",
        "serial_number"
      ]
    },
    "client_application": {
      "type": "object",
      "title": "Metadata for the client software submitting data",
      "description": "Metadata containing information about the client software that is interacting with the server. This metadata refers to the software that requested the token from the authentication server and submitted (not necessarily created) the uploaded data.\n",
      "required": [
        "client_application_vendor",
        "client_application_name",
        "client_application_version"
      ],
      "properties": {
        "client_application_vendor": {
          "type": "string",
          "pattern": "^.*[^\\s]+.*$",
          "maxLength": 255,
          "description": "The manufacturer of the software used to communicate with the server\n"
        },
        "client_application_name": {
          "type": "string",
          "pattern": "^.*[^\\s]+.*$",
          "maxLength": 255,
          "description": "The name of the sofrware used to communicate with the server\n"
        },
        "client_application_version": {
          "type": "string",
          "pattern": "^.*[^\\s]+.*$",
          "maxLength": 255,
          "description": "The version of the software used to communicate with the server\n"
        }
      }
    },
    "tseloginfo": {
      "title": "info about uploaded tselogs",
      "type": "object",
      "required": [
        "serial_number"
      ],
      "properties": {
        "serial_number": {
          "type": "string",
          "maxLength": 64,
          "description": "serial number of tse\n"
        },
        "max_signature_counter": {
          "type": "integer",
          "format": "int64",
          "description": "Highest signatur counter of all uploaded and processed tselogs for one tse.\nCan be empty if no tar files were finally successfully processed.\n"
        },
        "custom_field": {
          "type": "string",
          "maxLength": 255,
          "description": "Value of custom field uploaded with tar file which belongs to max_signature_count er.\nCan be empty if no tar files were finally successfully processed.\nAlways the custom_field of the uploaded file with the highest signature_counter is used, independently of upload time.\n"
        }
      }
    },
    "error-message": {
      "title": "An error response",
      "type": "object",
      "required": [
        "error"
      ],
      "properties": {
        "error": {
          "description": "Unique identifier of this error.",
          "type": "string"
        },
        "error_description": {
          "type": "string"
        },
        "error_uri": {
          "description": "URL pointing to a resource which can provide additional information about this error.",
          "type": "string"
        },
        "request_id": {
          "type": "string"
        },
        "additional_messages": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "message id"
              },
              "description": {
                "type": "string",
                "description": "message text"
              },
              "severity": {
                "type": "string",
                "description": "error, warning, information"
              },
              "help_uri": {
                "type": "string",
                "description": "http://www.datev.de/info -db/123456"
              },
              "path": {
                "type": "string",
                "description": "Path information about affected resource."
              },
              "affected_fields": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "field name ( e.g. json field name )"
                }
              }
            },
            "required": [
              "id",
              "severity"
            ]
          }
        }
      }
    }
  },
  "parameters": {
    "request-id": {
      "name": "Request-Id",
      "description": "Unique Id of incoming request. It should be a UUID in its canonical textual representation (For example 123e4567-e89b-12d3-a456-426655440000) and generated by manufacturer. The id will be used for tracing purposes. (Id -generating sample code (Java) String requestId = java.util.UUID.randomUUID().toString();)",
      "in": "header",
      "required": true,
      "type": "string"
    },
    "tenant-id": {
      "type": "string",
      "name": "tenant-id",
      "in": "path",
      "description": "ID of the tenant associated with the file",
      "required": true
    },
    "serial-number": {
      "name": "serial-number",
      "type": "string",
      "maxLength": 64,
      "in": "path",
      "description": "serial number of tse.",
      "required": true
    }
  }
}
