{
  "openapi": "3.1.0",
  "info": {
    "title": "MIDAX402",
    "version": "1.0.0",
    "description": "MIDAX402 — Independent verification for x402 services: we probe an endpoint, judge it against the x402 spec and sign the verdict so its signature is verifiable without asking us. Also pay-per-query intelligence over a curated x402 corpus, payable on Base Mainnet, Algorand Mainnet and Solana Mainnet. Non-personalized analysis of x402 ecosystem data, not financial advice.",
    "x-guidance": "How to use MIDAX402 (x402, pay per call, no account and no API key): an unpaid request to a paid route returns HTTP 402 with the payment requirements in the PAYMENT-REQUIRED header; pay with an x402 client and retry the same request with the PAYMENT-SIGNATURE header (some SDKs send X-PAYMENT). Payable on Base Mainnet, Algorand Mainnet and Solana Mainnet. Paid resources, in families that never mix: (1) intelligence tiers over the curated x402 corpus; GET ?query=... or POST JSON {\"query\": \"...\"}: /midas-ops/basic $0.03, /midas-ops/standard $0.05, /midas-ops/premium $0.07, /midas-ops/market_brief $0.15; (2) verifier ladder, judging any third-party x402 endpoint you name; GET ?url=... or POST JSON {\"url\": \"...\"}: /midas-ops/pulse $0.001 (is it live and charging), /midas-ops/verify $0.10 (full conformance check, private), /midas-ops/attest $0.50 (same check, signed and published); (3) authenticity report: the already-measured signed verdict for a target, never a fresh measurement; GET ?url=... or POST JSON {\"url\": \"...\"}: /midas-ops/authenticity-report $5; (4) challenge-readiness check: the five official Global Challenge requirements measured on one participant endpoint, signed, describing one instant; GET ?url=... or POST JSON {\"url\": \"...\"}: /midas-ops/challenge-check $1; (5) board position on the public verification board: it buys position only, never a verdict; GET ?target_url=... or POST JSON {\"target_url\": \"...\"}: /midas-ops/rank/1 $1, /midas-ops/rank/2 $2, /midas-ops/rank/5 $5, /midas-ops/rank/10 $10, /midas-ops/rank/25 $25, /midas-ops/rank/50 $50, /midas-ops/rank/100 $100. Free: /midas-ops/verify-before-pay?url=..., /.well-known/x402, /llms.txt. Allow a client timeout of at least 180 s for the intelligence tiers; a retry with the same payment is served idempotently.",
    "contact": {
      "name": "MIDAX402",
      "email": "hello@midax402.com",
      "url": "https://midax402.com"
    },
    "x-jentic-source-url": "https://midax402.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://midax402.com",
      "description": "Public origin for MIDAX402"
    }
  ],
  "paths": {
    "/midas-ops/basic": {
      "post": {
        "summary": "Basic tier analysis",
        "description": "Fast non-personalized business model analysis. Paid tiers run multi-model synthesis; allow a client timeout of at least 180 seconds. Do not retry before the response returns — retries reuse the same payment and are served idempotently.",
        "operationId": "midasOpsBasic",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-recommended-timeout-seconds": 180,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.03"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TierQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structured operations-intelligence response."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "30000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "30000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73k",
                      "asset": "31566704",
                      "amount": "30000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "amount": "30000",
                      "payTo": "HZJnshSNsvXQkASWjpP8AndJqtUv4cFoACwPcH5tyU73",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    }
                  ],
                  "resource": {
                    "url": "https://midax402.com/midas-ops/basic",
                    "description": "MIDAX402: x402 ecosystem intelligence -- protocols, facilitators, services, market trends and agent commerce. We do not grade our own answer: the verdict is answered or needs_more_data (grounded in the corpus or not); evidence_grade (thin/moderate/broad) grades that evidence, auditable via retrieved_corpus_ids. confidence_score is DEPRECATED, still served as a band projection.",
                    "mimeType": "application/json"
                  },
                  "extensions": {
                    "bazaar": {
                      "info": {
                        "input": {
                          "type": "http",
                          "bodyType": "json",
                          "body": {
                            "query": "Analyze the x402 payment flow, facilitator options, security mitigations, or integration patterns for agent commerce."
                          }
                        },
                        "output": {
                          "type": "json",
                          "example": {
                            "endpoint": "MIDAX402",
                            "tier": "basic",
                            "verdict": "answered",
                            "evidence_grade": "broad",
                            "summary": "The CDP Facilitator processes ~N requests/day across known x402 services. Top categories: crypto_data, storage, social_intelligence.",
                            "disclaimer": "Non-personalized analysis of x402 ecosystem data, not financial advice."
                          }
                        }
                      },
                      "schema": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "http"
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "POST",
                                  "PUT",
                                  "PATCH"
                                ]
                              },
                              "bodyType": {
                                "type": "string",
                                "enum": [
                                  "json",
                                  "form-data",
                                  "text"
                                ]
                              },
                              "body": {
                                "type": "object",
                                "properties": {
                                  "query": {
                                    "type": "string",
                                    "description": "x402 ecosystem question. Supported domains: payment flow and headers, facilitator comparison (CDP/XPay/Circle Nano/thirdweb/Agenticpay/x402-rs), security mitigations (Five Attacks, PII, prompt injection), standards (MCP, A2A, ERC-8004), micropayments/pricing, SDK integration, and infrastructure analysis across the x402 ecosystem."
                                  }
                                },
                                "required": [
                                  "query"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "method",
                              "bodyType",
                              "body"
                            ],
                            "additionalProperties": false
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "example": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        },
                        "required": [
                          "input"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Basic tier analysis",
        "description": "Fast non-personalized business model analysis. Paid tiers run multi-model synthesis; allow a client timeout of at least 180 seconds. Do not retry before the response returns — retries reuse the same payment and are served idempotently.",
        "operationId": "midasOpsBasicGet",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-recommended-timeout-seconds": 180,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.03"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "responses": {
          "200": {
            "description": "Structured operations-intelligence response."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "30000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "30000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73k",
                      "asset": "31566704",
                      "amount": "30000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "amount": "30000",
                      "payTo": "HZJnshSNsvXQkASWjpP8AndJqtUv4cFoACwPcH5tyU73",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    }
                  ],
                  "resource": {
                    "url": "https://midax402.com/midas-ops/basic",
                    "description": "MIDAX402: x402 ecosystem intelligence -- protocols, facilitators, services, market trends and agent commerce. We do not grade our own answer: the verdict is answered or needs_more_data (grounded in the corpus or not); evidence_grade (thin/moderate/broad) grades that evidence, auditable via retrieved_corpus_ids. confidence_score is DEPRECATED, still served as a band projection.",
                    "mimeType": "application/json"
                  },
                  "extensions": {
                    "bazaar": {
                      "info": {
                        "input": {
                          "type": "http",
                          "bodyType": "json",
                          "body": {
                            "query": "Analyze the x402 payment flow, facilitator options, security mitigations, or integration patterns for agent commerce."
                          }
                        },
                        "output": {
                          "type": "json",
                          "example": {
                            "endpoint": "MIDAX402",
                            "tier": "basic",
                            "verdict": "answered",
                            "evidence_grade": "broad",
                            "summary": "The CDP Facilitator processes ~N requests/day across known x402 services. Top categories: crypto_data, storage, social_intelligence.",
                            "disclaimer": "Non-personalized analysis of x402 ecosystem data, not financial advice."
                          }
                        }
                      },
                      "schema": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "http"
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "POST",
                                  "PUT",
                                  "PATCH"
                                ]
                              },
                              "bodyType": {
                                "type": "string",
                                "enum": [
                                  "json",
                                  "form-data",
                                  "text"
                                ]
                              },
                              "body": {
                                "type": "object",
                                "properties": {
                                  "query": {
                                    "type": "string",
                                    "description": "x402 ecosystem question. Supported domains: payment flow and headers, facilitator comparison (CDP/XPay/Circle Nano/thirdweb/Agenticpay/x402-rs), security mitigations (Five Attacks, PII, prompt injection), standards (MCP, A2A, ERC-8004), micropayments/pricing, SDK integration, and infrastructure analysis across the x402 ecosystem."
                                  }
                                },
                                "required": [
                                  "query"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "method",
                              "bodyType",
                              "body"
                            ],
                            "additionalProperties": false
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "example": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        },
                        "required": [
                          "input"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/midas-ops/standard": {
      "post": {
        "summary": "Standard tier analysis",
        "description": "Deeper non-personalized analysis with stronger synthesis. Paid tiers run multi-model synthesis; allow a client timeout of at least 180 seconds. Do not retry before the response returns — retries reuse the same payment and are served idempotently.",
        "operationId": "midasOpsStandard",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-recommended-timeout-seconds": 180,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TierQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structured operations-intelligence response."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "50000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "50000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73k",
                      "asset": "31566704",
                      "amount": "50000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "amount": "50000",
                      "payTo": "HZJnshSNsvXQkASWjpP8AndJqtUv4cFoACwPcH5tyU73",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    }
                  ],
                  "resource": {
                    "url": "https://midax402.com/midas-ops/standard",
                    "description": "MIDAX402: x402 intelligence with dual-LLM cross-validation -- facilitators, market signals, agent commerce and multi-model synthesis. We do not grade our own answer: the verdict is answered or needs_more_data (grounded in the corpus or not); evidence_grade (thin/moderate/broad) grades that evidence, auditable via retrieved_corpus_ids. confidence_score is DEPRECATED, still served as a band projection.",
                    "mimeType": "application/json"
                  },
                  "extensions": {
                    "bazaar": {
                      "info": {
                        "input": {
                          "type": "http",
                          "bodyType": "json",
                          "body": {
                            "query": "Analyze the x402 payment flow, facilitator options, security mitigations, or integration patterns for agent commerce."
                          }
                        },
                        "output": {
                          "type": "json",
                          "example": {
                            "endpoint": "MIDAX402",
                            "tier": "standard",
                            "verdict": "answered",
                            "evidence_grade": "broad",
                            "summary": "The CDP Facilitator processes ~N requests/day across known x402 services. Top categories: crypto_data, storage, social_intelligence.",
                            "disclaimer": "Non-personalized analysis of x402 ecosystem data, not financial advice."
                          }
                        }
                      },
                      "schema": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "http"
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "POST",
                                  "PUT",
                                  "PATCH"
                                ]
                              },
                              "bodyType": {
                                "type": "string",
                                "enum": [
                                  "json",
                                  "form-data",
                                  "text"
                                ]
                              },
                              "body": {
                                "type": "object",
                                "properties": {
                                  "query": {
                                    "type": "string",
                                    "description": "x402 ecosystem question. Supported domains: payment flow and headers, facilitator comparison (CDP/XPay/Circle Nano/thirdweb/Agenticpay/x402-rs), security mitigations (Five Attacks, PII, prompt injection), standards (MCP, A2A, ERC-8004), micropayments/pricing, SDK integration, and infrastructure analysis across the x402 ecosystem."
                                  }
                                },
                                "required": [
                                  "query"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "method",
                              "bodyType",
                              "body"
                            ],
                            "additionalProperties": false
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "example": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        },
                        "required": [
                          "input"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Standard tier analysis",
        "description": "Deeper non-personalized analysis with stronger synthesis. Paid tiers run multi-model synthesis; allow a client timeout of at least 180 seconds. Do not retry before the response returns — retries reuse the same payment and are served idempotently.",
        "operationId": "midasOpsStandardGet",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-recommended-timeout-seconds": 180,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "responses": {
          "200": {
            "description": "Structured operations-intelligence response."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "50000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "50000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73k",
                      "asset": "31566704",
                      "amount": "50000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "amount": "50000",
                      "payTo": "HZJnshSNsvXQkASWjpP8AndJqtUv4cFoACwPcH5tyU73",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    }
                  ],
                  "resource": {
                    "url": "https://midax402.com/midas-ops/standard",
                    "description": "MIDAX402: x402 intelligence with dual-LLM cross-validation -- facilitators, market signals, agent commerce and multi-model synthesis. We do not grade our own answer: the verdict is answered or needs_more_data (grounded in the corpus or not); evidence_grade (thin/moderate/broad) grades that evidence, auditable via retrieved_corpus_ids. confidence_score is DEPRECATED, still served as a band projection.",
                    "mimeType": "application/json"
                  },
                  "extensions": {
                    "bazaar": {
                      "info": {
                        "input": {
                          "type": "http",
                          "bodyType": "json",
                          "body": {
                            "query": "Analyze the x402 payment flow, facilitator options, security mitigations, or integration patterns for agent commerce."
                          }
                        },
                        "output": {
                          "type": "json",
                          "example": {
                            "endpoint": "MIDAX402",
                            "tier": "standard",
                            "verdict": "answered",
                            "evidence_grade": "broad",
                            "summary": "The CDP Facilitator processes ~N requests/day across known x402 services. Top categories: crypto_data, storage, social_intelligence.",
                            "disclaimer": "Non-personalized analysis of x402 ecosystem data, not financial advice."
                          }
                        }
                      },
                      "schema": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "http"
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "POST",
                                  "PUT",
                                  "PATCH"
                                ]
                              },
                              "bodyType": {
                                "type": "string",
                                "enum": [
                                  "json",
                                  "form-data",
                                  "text"
                                ]
                              },
                              "body": {
                                "type": "object",
                                "properties": {
                                  "query": {
                                    "type": "string",
                                    "description": "x402 ecosystem question. Supported domains: payment flow and headers, facilitator comparison (CDP/XPay/Circle Nano/thirdweb/Agenticpay/x402-rs), security mitigations (Five Attacks, PII, prompt injection), standards (MCP, A2A, ERC-8004), micropayments/pricing, SDK integration, and infrastructure analysis across the x402 ecosystem."
                                  }
                                },
                                "required": [
                                  "query"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "method",
                              "bodyType",
                              "body"
                            ],
                            "additionalProperties": false
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "example": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        },
                        "required": [
                          "input"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/midas-ops/premium": {
      "post": {
        "summary": "Premium tier analysis",
        "description": "Evidence+ analysis with a local risk brief and action plan. Paid tiers run multi-model synthesis; allow a client timeout of at least 180 seconds. Do not retry before the response returns — retries reuse the same payment and are served idempotently.",
        "operationId": "midasOpsPremium",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-recommended-timeout-seconds": 180,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.07"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TierQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structured operations-intelligence response."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "70000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "70000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73k",
                      "asset": "31566704",
                      "amount": "70000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "amount": "70000",
                      "payTo": "HZJnshSNsvXQkASWjpP8AndJqtUv4cFoACwPcH5tyU73",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    }
                  ],
                  "resource": {
                    "url": "https://midax402.com/midas-ops/premium",
                    "description": "MIDAX402: Evidence+ x402 intelligence with expanded corpus retrieval, local risk brief, contradiction scan and concrete action plan. We do not grade our own answer: the verdict is answered or needs_more_data (grounded in the corpus or not); evidence_grade (thin/moderate/broad) grades that evidence, auditable via retrieved_corpus_ids. confidence_score is DEPRECATED, still served as a band projection.",
                    "mimeType": "application/json"
                  },
                  "extensions": {
                    "bazaar": {
                      "info": {
                        "input": {
                          "type": "http",
                          "bodyType": "json",
                          "body": {
                            "query": "Analyze the x402 payment flow, facilitator options, security mitigations, or integration patterns for agent commerce."
                          }
                        },
                        "output": {
                          "type": "json",
                          "example": {
                            "endpoint": "MIDAX402",
                            "tier": "premium",
                            "verdict": "answered",
                            "evidence_grade": "broad",
                            "summary": "The CDP Facilitator processes ~N requests/day across known x402 services. Top categories: crypto_data, storage, social_intelligence.",
                            "disclaimer": "Non-personalized analysis of x402 ecosystem data, not financial advice."
                          }
                        }
                      },
                      "schema": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "http"
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "POST",
                                  "PUT",
                                  "PATCH"
                                ]
                              },
                              "bodyType": {
                                "type": "string",
                                "enum": [
                                  "json",
                                  "form-data",
                                  "text"
                                ]
                              },
                              "body": {
                                "type": "object",
                                "properties": {
                                  "query": {
                                    "type": "string",
                                    "description": "x402 ecosystem question. Supported domains: payment flow and headers, facilitator comparison (CDP/XPay/Circle Nano/thirdweb/Agenticpay/x402-rs), security mitigations (Five Attacks, PII, prompt injection), standards (MCP, A2A, ERC-8004), micropayments/pricing, SDK integration, and infrastructure analysis across the x402 ecosystem."
                                  }
                                },
                                "required": [
                                  "query"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "method",
                              "bodyType",
                              "body"
                            ],
                            "additionalProperties": false
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "example": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        },
                        "required": [
                          "input"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Premium tier analysis",
        "description": "Evidence+ analysis with a local risk brief and action plan. Paid tiers run multi-model synthesis; allow a client timeout of at least 180 seconds. Do not retry before the response returns — retries reuse the same payment and are served idempotently.",
        "operationId": "midasOpsPremiumGet",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-recommended-timeout-seconds": 180,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.07"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "responses": {
          "200": {
            "description": "Structured operations-intelligence response."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "70000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "70000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73k",
                      "asset": "31566704",
                      "amount": "70000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "amount": "70000",
                      "payTo": "HZJnshSNsvXQkASWjpP8AndJqtUv4cFoACwPcH5tyU73",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    }
                  ],
                  "resource": {
                    "url": "https://midax402.com/midas-ops/premium",
                    "description": "MIDAX402: Evidence+ x402 intelligence with expanded corpus retrieval, local risk brief, contradiction scan and concrete action plan. We do not grade our own answer: the verdict is answered or needs_more_data (grounded in the corpus or not); evidence_grade (thin/moderate/broad) grades that evidence, auditable via retrieved_corpus_ids. confidence_score is DEPRECATED, still served as a band projection.",
                    "mimeType": "application/json"
                  },
                  "extensions": {
                    "bazaar": {
                      "info": {
                        "input": {
                          "type": "http",
                          "bodyType": "json",
                          "body": {
                            "query": "Analyze the x402 payment flow, facilitator options, security mitigations, or integration patterns for agent commerce."
                          }
                        },
                        "output": {
                          "type": "json",
                          "example": {
                            "endpoint": "MIDAX402",
                            "tier": "premium",
                            "verdict": "answered",
                            "evidence_grade": "broad",
                            "summary": "The CDP Facilitator processes ~N requests/day across known x402 services. Top categories: crypto_data, storage, social_intelligence.",
                            "disclaimer": "Non-personalized analysis of x402 ecosystem data, not financial advice."
                          }
                        }
                      },
                      "schema": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "http"
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "POST",
                                  "PUT",
                                  "PATCH"
                                ]
                              },
                              "bodyType": {
                                "type": "string",
                                "enum": [
                                  "json",
                                  "form-data",
                                  "text"
                                ]
                              },
                              "body": {
                                "type": "object",
                                "properties": {
                                  "query": {
                                    "type": "string",
                                    "description": "x402 ecosystem question. Supported domains: payment flow and headers, facilitator comparison (CDP/XPay/Circle Nano/thirdweb/Agenticpay/x402-rs), security mitigations (Five Attacks, PII, prompt injection), standards (MCP, A2A, ERC-8004), micropayments/pricing, SDK integration, and infrastructure analysis across the x402 ecosystem."
                                  }
                                },
                                "required": [
                                  "query"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "method",
                              "bodyType",
                              "body"
                            ],
                            "additionalProperties": false
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "example": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        },
                        "required": [
                          "input"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/midas-ops/market_brief": {
      "post": {
        "summary": "Market_Brief tier analysis",
        "description": "Dual-model cross-validated market brief with synthesis verdict. Paid tiers run multi-model synthesis; allow a client timeout of at least 180 seconds. Do not retry before the response returns — retries reuse the same payment and are served idempotently.",
        "operationId": "midasOpsMarket_Brief",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-recommended-timeout-seconds": 180,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.15"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TierQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structured operations-intelligence response."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "150000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "150000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73k",
                      "asset": "31566704",
                      "amount": "150000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "amount": "150000",
                      "payTo": "HZJnshSNsvXQkASWjpP8AndJqtUv4cFoACwPcH5tyU73",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    }
                  ],
                  "resource": {
                    "url": "https://midax402.com/midas-ops/market_brief",
                    "description": "MIDAX402: Executive market brief. Claude + GPT cross-validated, then synthesized into one verdict with (dis)agreement points and risk flags, on top services by volume, pricing, opportunities, protocol state. We do not grade our own answer: the verdict is answered or needs_more_data (grounded in the corpus or not); evidence_grade (thin/moderate/broad) grades that evidence, auditable via retrieved_corpus_ids. confidence_score is DEPRECATED, still served as a band projection.",
                    "mimeType": "application/json"
                  },
                  "extensions": {
                    "bazaar": {
                      "info": {
                        "input": {
                          "type": "http",
                          "bodyType": "json",
                          "body": {
                            "query": "Analyze the x402 payment flow, facilitator options, security mitigations, or integration patterns for agent commerce."
                          }
                        },
                        "output": {
                          "type": "json",
                          "example": {
                            "endpoint": "MIDAX402",
                            "tier": "market_brief",
                            "verdict": "answered",
                            "evidence_grade": "broad",
                            "summary": "The CDP Facilitator processes ~N requests/day across known x402 services. Top categories: crypto_data, storage, social_intelligence.",
                            "disclaimer": "Non-personalized analysis of x402 ecosystem data, not financial advice."
                          }
                        }
                      },
                      "schema": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "http"
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "POST",
                                  "PUT",
                                  "PATCH"
                                ]
                              },
                              "bodyType": {
                                "type": "string",
                                "enum": [
                                  "json",
                                  "form-data",
                                  "text"
                                ]
                              },
                              "body": {
                                "type": "object",
                                "properties": {
                                  "query": {
                                    "type": "string",
                                    "description": "x402 ecosystem question. Supported domains: payment flow and headers, facilitator comparison (CDP/XPay/Circle Nano/thirdweb/Agenticpay/x402-rs), security mitigations (Five Attacks, PII, prompt injection), standards (MCP, A2A, ERC-8004), micropayments/pricing, SDK integration, and infrastructure analysis across the x402 ecosystem."
                                  }
                                },
                                "required": [
                                  "query"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "method",
                              "bodyType",
                              "body"
                            ],
                            "additionalProperties": false
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "example": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        },
                        "required": [
                          "input"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Market_Brief tier analysis",
        "description": "Dual-model cross-validated market brief with synthesis verdict. Paid tiers run multi-model synthesis; allow a client timeout of at least 180 seconds. Do not retry before the response returns — retries reuse the same payment and are served idempotently.",
        "operationId": "midasOpsMarket_BriefGet",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-recommended-timeout-seconds": 180,
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.15"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "responses": {
          "200": {
            "description": "Structured operations-intelligence response."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "150000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "150000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73k",
                      "asset": "31566704",
                      "amount": "150000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "amount": "150000",
                      "payTo": "HZJnshSNsvXQkASWjpP8AndJqtUv4cFoACwPcH5tyU73",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    }
                  ],
                  "resource": {
                    "url": "https://midax402.com/midas-ops/market_brief",
                    "description": "MIDAX402: Executive market brief. Claude + GPT cross-validated, then synthesized into one verdict with (dis)agreement points and risk flags, on top services by volume, pricing, opportunities, protocol state. We do not grade our own answer: the verdict is answered or needs_more_data (grounded in the corpus or not); evidence_grade (thin/moderate/broad) grades that evidence, auditable via retrieved_corpus_ids. confidence_score is DEPRECATED, still served as a band projection.",
                    "mimeType": "application/json"
                  },
                  "extensions": {
                    "bazaar": {
                      "info": {
                        "input": {
                          "type": "http",
                          "bodyType": "json",
                          "body": {
                            "query": "Analyze the x402 payment flow, facilitator options, security mitigations, or integration patterns for agent commerce."
                          }
                        },
                        "output": {
                          "type": "json",
                          "example": {
                            "endpoint": "MIDAX402",
                            "tier": "market_brief",
                            "verdict": "answered",
                            "evidence_grade": "broad",
                            "summary": "The CDP Facilitator processes ~N requests/day across known x402 services. Top categories: crypto_data, storage, social_intelligence.",
                            "disclaimer": "Non-personalized analysis of x402 ecosystem data, not financial advice."
                          }
                        }
                      },
                      "schema": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "type": "object",
                        "properties": {
                          "input": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "http"
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "POST",
                                  "PUT",
                                  "PATCH"
                                ]
                              },
                              "bodyType": {
                                "type": "string",
                                "enum": [
                                  "json",
                                  "form-data",
                                  "text"
                                ]
                              },
                              "body": {
                                "type": "object",
                                "properties": {
                                  "query": {
                                    "type": "string",
                                    "description": "x402 ecosystem question. Supported domains: payment flow and headers, facilitator comparison (CDP/XPay/Circle Nano/thirdweb/Agenticpay/x402-rs), security mitigations (Five Attacks, PII, prompt injection), standards (MCP, A2A, ERC-8004), micropayments/pricing, SDK integration, and infrastructure analysis across the x402 ecosystem."
                                  }
                                },
                                "required": [
                                  "query"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "type",
                              "method",
                              "bodyType",
                              "body"
                            ],
                            "additionalProperties": false
                          },
                          "output": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "example": {
                                "type": "object"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        },
                        "required": [
                          "input"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ]
      }
    },
    "/midas-ops/pulse": {
      "get": {
        "summary": "Pulse — x402 verifier ladder",
        "description": "MIDAX402 Pulse: is this x402 endpoint live and charging RIGHT NOW? You get a verdict (x402_live / x402_challenge_malformed / inconclusive / unreachable), the HTTP status, and checked_at + age_seconds, for ANY endpoint you name. PAYING BUYS THE CURRENT ANSWER, NOT A FRESH PROBE: cached per target up to 60s, so a busy endpoint is never hammered. One unpaid GET: it does NOT analyse the challenge, check price coherence or give a reasoned verdict (that is /midas-ops/verify).",
        "operationId": "midasOpsPulse",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "responses": {
          "200": {
            "description": "Verdict, evidence and scope note."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "1000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "1000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73k",
                      "asset": "31566704",
                      "amount": "1000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "amount": "1000",
                      "payTo": "HZJnshSNsvXQkASWjpP8AndJqtUv4cFoACwPcH5tyU73",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    }
                  ],
                  "resource": {
                    "url": "https://midax402.com/midas-ops/pulse",
                    "description": "MIDAX402 Pulse: is this x402 endpoint live and charging RIGHT NOW? You get a verdict (x402_live / x402_challenge_malformed / inconclusive / unreachable), the HTTP status, and checked_at + age_seconds, for ANY endpoint you name. PAYING BUYS THE CURRENT ANSWER, NOT A FRESH PROBE: cached per target up to 60s, so a busy endpoint is never hammered. One unpaid GET: it does NOT analyse the challenge, check price coherence or give a reasoned verdict (that is /midas-ops/verify).",
                    "mimeType": "application/json"
                  },
                  "extensions": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The https:// URL of the x402 endpoint to check. Required -- there is no default: a missing or malformed url returns 400 with the accepted shape, never a silent substitution. Sent as {\"url\": \"...\"} in the JSON body, as ?url= in the query string, or as \"target_url\" (alias) in either."
          }
        ]
      },
      "post": {
        "summary": "Pulse — x402 verifier ladder",
        "description": "MIDAX402 Pulse: is this x402 endpoint live and charging RIGHT NOW? You get a verdict (x402_live / x402_challenge_malformed / inconclusive / unreachable), the HTTP status, and checked_at + age_seconds, for ANY endpoint you name. PAYING BUYS THE CURRENT ANSWER, NOT A FRESH PROBE: cached per target up to 60s, so a busy endpoint is never hammered. One unpaid GET: it does NOT analyse the challenge, check price coherence or give a reasoned verdict (that is /midas-ops/verify).",
        "operationId": "midasOpsPulse",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "responses": {
          "200": {
            "description": "Verdict, evidence and scope note."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "1000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "1000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73k",
                      "asset": "31566704",
                      "amount": "1000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "amount": "1000",
                      "payTo": "HZJnshSNsvXQkASWjpP8AndJqtUv4cFoACwPcH5tyU73",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    }
                  ],
                  "resource": {
                    "url": "https://midax402.com/midas-ops/pulse",
                    "description": "MIDAX402 Pulse: is this x402 endpoint live and charging RIGHT NOW? You get a verdict (x402_live / x402_challenge_malformed / inconclusive / unreachable), the HTTP status, and checked_at + age_seconds, for ANY endpoint you name. PAYING BUYS THE CURRENT ANSWER, NOT A FRESH PROBE: cached per target up to 60s, so a busy endpoint is never hammered. One unpaid GET: it does NOT analyse the challenge, check price coherence or give a reasoned verdict (that is /midas-ops/verify).",
                    "mimeType": "application/json"
                  },
                  "extensions": {}
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The https:// URL of the x402 endpoint to check. Required -- there is no default: a missing or malformed url returns 400 with the accepted shape, never a silent substitution. Sent as {\"url\": \"...\"} in the JSON body, as ?url= in the query string, or as \"target_url\" (alias) in either."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        }
      }
    },
    "/midas-ops/verify": {
      "get": {
        "summary": "Verify — x402 verifier ladder",
        "description": "MIDAX402 Verifier: x402 conformance check of ANY endpoint. Verdict, raw evidence and fix list, INLINE AND PRIVATE: nothing is signed, published or recorded publicly. Scope: 402 conformance and price coherence vs the target's discovery doc; M1/M3/M5 hygiene is DECLARED posture only (enforcement untested); network ids NOT validated; quality, uptime, volume NOT measured. A LOW SCORE MEANS LESS VERIFIABLE SURFACE, NOT A BAD SERVICE. Full scope_note in this 402's bazaar example.",
        "operationId": "midasOpsVerify",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "responses": {
          "200": {
            "description": "Verdict, evidence and scope note."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "100000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "100000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73k",
                      "asset": "31566704",
                      "amount": "100000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "amount": "100000",
                      "payTo": "HZJnshSNsvXQkASWjpP8AndJqtUv4cFoACwPcH5tyU73",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    }
                  ],
                  "resource": {
                    "url": "https://midax402.com/midas-ops/verify",
                    "description": "MIDAX402 Verifier: x402 conformance check of ANY endpoint. Verdict, raw evidence and fix list, INLINE AND PRIVATE: nothing is signed, published or recorded publicly. Scope: 402 conformance and price coherence vs the target's discovery doc; M1/M3/M5 hygiene is DECLARED posture only (enforcement untested); network ids NOT validated; quality, uptime, volume NOT measured. A LOW SCORE MEANS LESS VERIFIABLE SURFACE, NOT A BAD SERVICE. Full scope_note in this 402's bazaar example.",
                    "mimeType": "application/json"
                  },
                  "extensions": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The https:// URL of the x402 endpoint to check. Required -- there is no default: a missing or malformed url returns 400 with the accepted shape, never a silent substitution. Sent as {\"url\": \"...\"} in the JSON body, as ?url= in the query string, or as \"target_url\" (alias) in either."
          }
        ]
      },
      "post": {
        "summary": "Verify — x402 verifier ladder",
        "description": "MIDAX402 Verifier: x402 conformance check of ANY endpoint. Verdict, raw evidence and fix list, INLINE AND PRIVATE: nothing is signed, published or recorded publicly. Scope: 402 conformance and price coherence vs the target's discovery doc; M1/M3/M5 hygiene is DECLARED posture only (enforcement untested); network ids NOT validated; quality, uptime, volume NOT measured. A LOW SCORE MEANS LESS VERIFIABLE SURFACE, NOT A BAD SERVICE. Full scope_note in this 402's bazaar example.",
        "operationId": "midasOpsVerify",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "responses": {
          "200": {
            "description": "Verdict, evidence and scope note."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "100000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "100000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73k",
                      "asset": "31566704",
                      "amount": "100000",
                      "payTo": "XFVBA5GJAXJBRWLERVOTZH57NEGPCOP276U4N2E2LCMYWVVESQQPAPBODQ",
                      "maxTimeoutSeconds": 120,
                      "extra": {
                        "decimals": 6,
                        "feePayer": "ZMFK2OI7ZBD2U27ISERZC4S6LKM6WMFJPZQ4MYNJDZ2VNBNMBA67RA22AA",
                        "tag": "x402-global-challenge",
                        "name": "USDC",
                        "genesisHash": "wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                        "genesisId": "mainnet-v1.0"
                      }
                    },
                    {
                      "scheme": "exact",
                      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                      "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                      "amount": "100000",
                      "payTo": "HZJnshSNsvXQkASWjpP8AndJqtUv4cFoACwPcH5tyU73",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    }
                  ],
                  "resource": {
                    "url": "https://midax402.com/midas-ops/verify",
                    "description": "MIDAX402 Verifier: x402 conformance check of ANY endpoint. Verdict, raw evidence and fix list, INLINE AND PRIVATE: nothing is signed, published or recorded publicly. Scope: 402 conformance and price coherence vs the target's discovery doc; M1/M3/M5 hygiene is DECLARED posture only (enforcement untested); network ids NOT validated; quality, uptime, volume NOT measured. A LOW SCORE MEANS LESS VERIFIABLE SURFACE, NOT A BAD SERVICE. Full scope_note in this 402's bazaar example.",
                    "mimeType": "application/json"
                  },
                  "extensions": {}
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The https:// URL of the x402 endpoint to check. Required -- there is no default: a missing or malformed url returns 400 with the accepted shape, never a silent substitution. Sent as {\"url\": \"...\"} in the JSON body, as ?url= in the query string, or as \"target_url\" (alias) in either."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        }
      }
    },
    "/midas-ops/attest": {
      "get": {
        "summary": "Attest — x402 verifier ladder",
        "description": "MIDAX402 Verifier: signed attestation of an endpoint you name. PUBLISHES A PERMANENT PUBLIC RECORD at /midas-ops/attestations (EIP-712 off-chain, MIDAX's ERC-8004 identity), independently verifiable. PUBLISHES WHATEVER IT FINDS: non-conformant or unreachable too, never deleted or rewritten. See it privately first: buy /midas-ops/verify (same check). Scope as /verify: Full scope_note in this 402's bazaar example. A LOW SCORE MEANS LESS VERIFIABLE SURFACE, NOT A BAD SERVICE.",
        "operationId": "midasOpsAttest",
        "security": [
          {
            "x402Payment": []
          }
        ],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.50"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954"
        },
        "responses": {
          "200": {
            "description": "Verdict, evidence and scope note."
          },
          "402": {
            "description": "Payment required via x402.",
            "content": {
              "application/json": {
                "example": {
                  "x402Version": 2,
                  "error": "Payment Required",
                  "accepts": [
                    {
                      "scheme": "exact",
                      "network": "eip155:8453",
                      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                      "amount": "500000",
                      "payTo": "0xA4775ef07d967d56D6d6F19AeE3a0DE7E26Ed954",
                      "maxTimeoutSeconds": 120,
                      "extra": {}
                    },
                    {
                      "scheme": "exact",
                      "network": "algorand:wGHE2Pwdvd7S12BL5FaOP20EGYesN73ktiC1qzkkit8=",
                      "asset": "31566704",
                      "amount": "500000",
[...]
