{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "apisupport@mercantilbanco.com",
      "name": "Soporte para los API de Mercantil Banco C.A.",
      "url": "https://www.mercantilbanco.com/mercprod/apiportal/support/index.html"
    },
    "description": "Esta API le permite realizar búsquedas de todas las transferencias recibidas de forma fácil y rápida.",
    "title": "Búsqueda de Transferencias",
    "version": "1.0.0",
    "x-ibm-name": "api-transfer-search",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/tms-3b9/busqueda-de-transferencias/1.0.0"
  },
  "servers": [
    {
      "url": "https://apimbu.mercantilbanco.com/mercantil-banco/prod/v1/payment"
    }
  ],
  "paths": {
    "/transfer-search": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            },
            "description": "200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "400 Bad Request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          },
          "required": true
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ClientIdentify": {
        "additionalProperties": false,
        "description": "Información asociada a identificar el dispositivo utilizado por el cliente",
        "properties": {
          "browserAgent": {
            "description": "User Agent en caso de que el cliente realizo el pago vía browser",
            "example": "Chrome 18.1.3",
            "type": "string"
          },
          "ipAddress": {
            "description": "IP Address del cliente",
            "example": "10.0.0.1",
            "type": "string"
          },
          "mobile": {
            "$ref": "#/components/schemas/Mobile",
            "description": "Informacion asociada a los datos del dispositivo"
          }
        },
        "required": [
          "ipAddress"
        ],
        "type": "object"
      },
      "ErrorList": {
        "additionalProperties": false,
        "description": "Contiene la lista de errores del API",
        "properties": {
          "description": {
            "description": "Descripcion del Error",
            "example": "No hay transacciones para ese criterio de busqueda",
            "type": "string"
          },
          "errorCode": {
            "description": "Codigo de error",
            "example": "9033",
            "type": "string"
          }
        },
        "required": [
          "errorCode",
          "description"
        ],
        "type": "object"
      },
      "Location": {
        "additionalProperties": false,
        "description": "Informacion  asociada a la geolocalizacion del dispositivo móvil",
        "properties": {
          "lat": {
            "description": "Geo localizacion latitud",
            "example": 37.422476,
            "format": "double",
            "type": "number"
          },
          "lng": {
            "description": "Geo localizacion longitud",
            "example": 122.08425,
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "lat",
          "lng"
        ],
        "type": "object"
      },
      "MerchantIdentify": {
        "additionalProperties": false,
        "description": "Informacion asociada a la identificacion del comercio",
        "properties": {
          "integratorId": {
            "description": "Codigo de integrador asignado por Mercantil Banco, si es un  integrador de comercios el valor debe ser 1",
            "example": "1",
            "format": "int32",
            "type": "integer"
          },
          "merchantId": {
            "description": "Codigo de comercio entregado por Mercantil junto a la clave  de cifrado que utilizará para cifrar la data sensible",
            "example": "150332",
            "format": "int32",
            "type": "integer"
          },
          "terminalId": {
            "description": "Codigo de terminal asignado por Mercantil Banco, si el Mercantil  Banco no le suministra código de terminal debe colocar el valor 1",
            "example": "1",
            "type": "string"
          }
        },
        "required": [
          "integratorId",
          "merchantId",
          "terminalId"
        ],
        "type": "object"
      },
      "Mobile": {
        "additionalProperties": false,
        "description": "Información asociada a los datos del dispositivo móvil",
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location",
            "description": "Información  asociada a la geolocalización del dispositivo movil"
          },
          "manufacturer": {
            "description": "Marca del dispositivo movil",
            "example": "Samsung",
            "type": "string"
          },
          "model": {
            "description": "Modelo del dispositivo movil",
            "example": "S9",
            "type": "string"
          },
          "osVersion": {
            "description": "Sistema operativo Modelo del dispositivo movil",
            "example": "Oreo 9.1",
            "type": "string"
          }
        },
        "required": [
          "manufacturer"
        ],
        "type": "object"
      },
      "SearchErrorResponse": {
        "additionalProperties": false,
        "description": "Response de Error cuando hay alguna falla en la consulta.",
        "properties": {
          "errorList": {
            "items": {
              "$ref": "#/components/schemas/ErrorList"
            },
            "type": "array"
          },
          "merchantIdentify": {
            "$ref": "#/components/schemas/MerchantIdentify"
          },
          "processingDate": {
            "description": "Fecha en que fue realizada la transacción",
            "example": "2023-09-05 16:07:53 VET",
            "type": "string"
          }
        },
        "required": [
          "processingDate",
          "merchantIdentify",
          "errorList"
        ],
        "type": "object"
      },
      "SearchRequest": {
        "additionalProperties": false,
        "properties": {
          "clientIdentify": {
            "$ref": "#/components/schemas/ClientIdentify"
          },
          "merchantIdentify": {
            "$ref": "#/components/schemas/MerchantIdentify"
          },
          "transferSearchBy": {
            "$ref": "#/components/schemas/TransferSearchBy"
          }
        },
        "required": [
          "merchantIdentify",
          "clientIdentify",
          "transferSearchBy"
        ],
        "type": "object"
      },
      "SearchResponse": {
        "additionalProperties": false,
        "properties": {
          "merchantIdentify": {
            "$ref": "#/components/schemas/MerchantIdentify"
          },
          "processingDate": {
            "description": "Fecha en que fue realizada la transacción",
            "example": "2023-09-05 16:07:53 VET",
            "type": "string"
          },
          "transferSearchList": {
            "description": "Lista de transferencias",
            "items": {
              "$ref": "#/components/schemas/TransferDetail"
            },
            "type": "array"
          }
        },
        "required": [
          "processingDate",
          "merchantIdentify",
          "transferSearchList"
        ],
        "type": "object"
      },
      "TransferDetail": {
        "additionalProperties": false,
        "description": "Informacion asociada a la transaccion financiera",
        "properties": {
          "channel": {
            "description": "Canal por donde se ejecuto la transaccion",
            "example": "INTERNET",
            "type": "string"
          },
          "currency": {
            "description": "Tipo de moneda",
            "example": "VES",
            "type": "string"
          },
          "issuerCustomerId": {
            "description": "Número de cedula o rif de quien realizo la transferencia",
            "example": "0RPdh6FxGFFcio2P8uxNxg==",
            "type": "string"
          },
          "issuerCustomerName": {
            "description": "Nombre de la empresa - persona que realizo la transferencia",
            "example": "Hii5FFH00E9bpVHpvQA0HA==",
            "type": "string"
          },
          "paymentReference": {
            "description": "Número de referencia de la transaccion",
            "example": "80048336",
            "type": "string"
          },
          "previouslySearched": {
            "description": "Indica si la busqueda fue realizada anteriormente.",
            "example": "N",
            "type": "string"
          },
          "trxStatus": {
            "description": "Estatus de la transferencia",
            "example": "A",
            "type": "string"
          },
          "trxTime": {
            "description": "Hora en que se ejecuto la transaccion. Formato HH:mm:ss",
            "example": "13:24:00",
            "type": "string"
          },
          "trxValueDate": {
            "description": "Fecha valor de la transferencia",
            "example": "2023-08-25",
            "type": "string"
          }
        },
        "required": [
          "trxTime",
          "currency",
          "trxStatus",
          "issuerCustomerId",
          "channel",
          "trxValueDate",
          "previouslySearched",
          "issuerCustomerName",
          "paymentReference"
        ],
        "type": "object"
      },
      "TransferSearchBy": {
        "additionalProperties": false,
        "properties": {
          "account": {
            "description": "Numero de cuenta receptora",
            "example": "D2BWLC5gM34I405M4KXKm6VCHl/yDO/Mar5Oo2Xs1hw=",
            "type": "string"
          },
          "amount": {
            "description": "Monto de la transaccion. El separador decimal es \".\" Ejemplo si el monto en ves es 2525,33 el valor a ser colocado en este campo es 2525.33",
            "example": 2525.33,
            "format": "float",
            "type": "number"
          },
          "issuerBankId": {
            "description": "Codigo de banco de donde se realizo la transferencia",
            "example": "105",
            "format": "int32",
            "type": "integer"
          },
          "issuerCustomerId": {
            "description": "Numero de cedula o rif de quien realizo la transferencia",
            "example": "0ftcG45wRLoD6s6fK/5xSQ==",
            "type": "string"
          },
          "paymentReference": {
            "description": "Número de referencia de la transaccion",
            "example": "80048336",
            "type": "string"
          },
          "transactionType": {
            "description": "Tipo de transaccion",
            "example": "1",
            "format": "int32",
            "type": "integer"
          },
          "trxDate": {
            "description": "Fecha en que se ejecuto la transaccion. Formato AAAA-MM-DD",
            "example": "2023-08-25",
            "type": "string"
          }
        },
        "required": [
          "account",
          "issuerCustomerId",
          "trxDate",
          "issuerBankId",
          "transactionType",
          "paymentReference",
          "amount"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "clientId": {
        "in": "header",
        "name": "X-IBM-Client-Id",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "clientId": []
    }
  ],
  "tags": [
    {
      "name": "Transferencias"
    },
    {
      "name": "Consulta"
    }
  ],
  "externalDocs": {
    "description": "Detalle técnico de como se realiza la implementación o uso del API para búsqueda de transferencias.",
    "url": "https://github.com/apimercantil/postman-project"
  },
  "x-ibm-configuration": {
    "servers": [
      {
        "description": "",
        "type": [
          "production",
          "development"
        ],
        "url": "https://apimbu.mercantilbanco.com/mercantil-banco/prod/v1/payment"
      },
      {
        "description": "",
        "type": [
          "production",
          "development"
        ],
        "url": "https://apimbu.mercantilbanco.com/mercantil-banco/prod/v1/payment"
      },
      {
        "description": "",
        "type": [
          "production",
          "development"
        ],
        "url": "https://gw.3be3-22336bfa.us-east.apiconnect.appdomain.cloud/mercantil-banco/prod/v1/payment"
      }
    ],
    "cors": {
      "enabled": true
    },
    "enforced": true,
    "phase": "realized",
    "testable": true
  }
}