{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "suporte@klingo.com.br"
    },
    "description": "Klingo API Telefonia",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://swagger.io/terms/",
    "title": "Klingo API Telefonia",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/agsx30/klingo-api-telefonia/1.0.0"
  },
  "servers": [
    {
      "url": "https://api-externa.klingo.app/api/telefonia"
    }
  ],
  "paths": {
    "/bloqueios": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "outros"
        ],
        "description": "Lista os bloqueios realizados de agenda.",
        "operationId": "bloqueios",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "ate": {
                    "description": "Data final: 2000-01-01. Default Data Atual.",
                    "example": "2000-01-01",
                    "type": "string"
                  },
                  "de": {
                    "description": "Data inicial: 2000-01-01. Default Data Atual.",
                    "example": "2000-01-01",
                    "type": "string"
                  },
                  "id_medico": {
                    "description": "id do médico. se não passado, busca todos.",
                    "example": 1234,
                    "type": "number"
                  },
                  "ref": {
                    "description": "Referência da data: I (Default) pelo período do intervalo do bloqueio, ou R pelo período de cadastro do bloqueio.",
                    "example": "I",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Filtros da Busca. Todos opcionais.",
          "required": true
        },
        "summary": "Lista os bloqueios realizados de agenda."
      }
    },
    "/confirmar": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "confirmação"
        ],
        "description": "Retorno de confirmação de marcação.",
        "operationId": "confirmar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "callid": {
                    "description": "Id da Chamada",
                    "example": "1234",
                    "type": "string"
                  },
                  "id_marcacao": {
                    "description": "Id da marcação sendo confirmada.",
                    "example": 1234,
                    "type": "number"
                  },
                  "obs": {
                    "description": "Texto de Observação",
                    "example": "Texto de Observação",
                    "type": "string"
                  },
                  "status": {
                    "description": "Id da marcação sendo confirmada. C - Confirmado, S - Sem Resposta ou N - Não Confirmada. A opção N cancela o marcação.",
                    "example": "C",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Dados da Chamada.",
          "required": true
        },
        "summary": "Retorno de confirmação de marcação."
      }
    },
    "/entrada": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "chamada"
        ],
        "description": "Informação de entrada de chamada para marcação.",
        "operationId": "entrada-chamada",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "callid": {
                    "description": "Id da Chamada",
                    "example": "1234",
                    "type": "string"
                  },
                  "chamador": {
                    "description": "Número de entrada",
                    "example": "71999999999",
                    "type": "string"
                  },
                  "cpf": {
                    "description": "CPF coletado na URA (opcional)",
                    "example": "12345678901",
                    "type": "string"
                  },
                  "ramal": {
                    "description": "Ramal de entrada",
                    "example": "0001",
                    "type": "string"
                  },
                  "user": {
                    "description": "Identificação do usuário no sistema da telefonia",
                    "example": "0001",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Dados da Chamada.",
          "required": true
        },
        "summary": "Informação de entrada de chamada para marcação."
      }
    },
    "/lista/{data}": {
      "get": {
        "parameters": [
          {
            "description": "Data no formato YYYY-MM-DD",
            "in": "path",
            "name": "data",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/marcacao"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "confirmação"
        ],
        "description": "Informação de entrada de chamada para marcação.",
        "operationId": "lista-confirmacao",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "ate": {
                    "description": "Data final de busca, para busca por período. Máximo de 7 dias.",
                    "example": "2000-01-01",
                    "type": "string"
                  },
                  "atendidos": {
                    "description": "Indica se devem ser buscadas apenas as marcações atendidas.",
                    "example": true,
                    "type": "boolean"
                  },
                  "autorizacao": {
                    "description": "Indica se o status da autorização será retornada na lista.",
                    "example": false,
                    "type": "boolean"
                  },
                  "cancelados": {
                    "description": "Indica se as marcações canceladas devem ser retornadas na busca.",
                    "example": true,
                    "type": "boolean"
                  },
                  "endereco_unidade": {
                    "description": "Indica se as marcações serão listas com o endereço da unidade da marcação.",
                    "example": false,
                    "type": "boolean"
                  },
                  "instrucao_medico": {
                    "description": "Indica se a instrução do médico será retornada na lista.",
                    "example": false,
                    "type": "boolean"
                  },
                  "links": {
                    "description": "Indica se as marcações serão listas com os links de telemedicina e NPS.",
                    "example": false,
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Parâmetros."
        },
        "summary": "Lista de Marcações para Confirmação."
      }
    },
    "/lista_ultimo_por_cpf": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "outros"
        ],
        "description": "Lista o último atendimento da lista de CPFs.",
        "operationId": "lista_ultimo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "cpfs": {
                    "items": {
                      "properties": null,
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Lista de CPFs.",
          "required": true
        },
        "summary": "Lista o último atendimento da lista de CPFs."
      }
    },
    "/live": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "teste"
        ],
        "description": "Verifica se a API está no ar e exibe a versão.",
        "operationId": "versao",
        "summary": "Verifica se a API está no ar."
      }
    },
    "/nps": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "nps"
        ],
        "description": "Atualização da nota NPS de avaliação do atendimento.",
        "operationId": "nps",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id_marcacao": {
                    "description": "Id da marcação sendo confirmada.",
                    "example": 1234,
                    "type": "number"
                  },
                  "nota": {
                    "description": "Nota do NPS: de 0 a 10.",
                    "example": 10,
                    "type": "number"
                  },
                  "obs": {
                    "description": "Comentário do paciente",
                    "example": "Comentário do paciente",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Dados da Chamada.",
          "required": true
        },
        "summary": "Atualização da nota NPS de avaliação do atendimento."
      }
    },
    "/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Id da Marcação",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "item": {
                      "$ref": "#/components/schemas/marcacao"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "app_token": []
          }
        ],
        "tags": [
          "confirmação"
        ],
        "description": "Informação da marcação.",
        "operationId": "item-marcacao",
        "summary": "Retorna a Marcação Selecionada."
      }
    }
  },
  "components": {
    "schemas": {
      "marcacao": {
        "properties": {
          "celular": {
            "description": "Celular do paciente",
            "example": "7199999999",
            "type": "string"
          },
          "codigo_reserva": {
            "description": "Código da Reserva",
            "example": "REJDSK",
            "type": "string"
          },
          "cpf": {
            "description": "CPF do paciente",
            "example": "11111111111",
            "type": "string"
          },
          "data": {
            "description": "data para quando foi marcado no formato YYYY-MM-DD",
            "example": "2020-01-01 10:00",
            "type": "string"
          },
          "data_confirmacao": {
            "description": "Data da confirmação quando tiver confirmado",
            "example": "2000-01-01 00:00",
            "type": "string"
          },
          "dt_atendimento": {
            "description": "data/hora do atendimento no formato YYYY-MM-DD hh:mm",
            "example": "2020-01-01 10:00",
            "type": "string"
          },
          "dt_fim_atendimento": {
            "description": "data/hora da finalização do atendimento no formato YYYY-MM-DD hh:mm",
            "example": "2020-01-01 10:00",
            "type": "string"
          },
          "hora": {
            "description": "hora para quando foi marcado no formato HH:MM",
            "example": "10:00",
            "type": "string"
          },
          "id_atendimento": {
            "description": "Número do atendimento, se o atendimento foi realizado.",
            "example": 123,
            "type": "string"
          },
          "id_marcacao": {
            "description": "id da marcação",
            "example": "1234",
            "type": "string"
          },
          "id_paciente": {
            "description": "id do paciente",
            "example": "1234",
            "type": "string"
          },
          "instrucao": {
            "description": "Instrução do Procedimento",
            "example": "Fazer em jejum",
            "type": "string"
          },
          "medico": {
            "description": "Nome do Profissional",
            "example": "BELTRANO DA SILVA",
            "type": "string"
          },
          "nome": {
            "description": "nome do paciente",
            "example": "FULANO DA SILVA",
            "type": "string"
          },
          "obs_confirmacao": {
            "description": "Observação da confirmação",
            "example": "...",
            "type": "string"
          },
          "origem_confirmacao": {
            "description": "Origem quando tiver confirmado",
            "example": "telefonia",
            "type": "string"
          },
          "procedimento": {
            "description": "Nome do Procedimento",
            "example": "CONSULTA MEDICA",
            "type": "string"
          },
          "responsavel_confirmacao": {
            "description": "Responsável da confirmação quando tiver confirmado",
            "example": "administrador",
            "type": "string"
          },
          "status": {
            "description": "Status: A - Aberto / C - Cancelamento / B - Bloqueada",
            "example": "Confirmado",
            "type": "string"
          },
          "status_confirmacao": {
            "description": "Status de Confirmação",
            "example": "Confirmado",
            "type": "string"
          },
          "status_confirmacao_id": {
            "description": "Id do Status de Confirmação",
            "example": "2",
            "type": "string"
          },
          "telefone": {
            "description": "Telefone do paciente",
            "example": "7133333333",
            "type": "string"
          },
          "unidade": {
            "description": "Unidade",
            "example": "Central",
            "type": "string"
          },
          "unidade_id": {
            "description": "Id da Unidade",
            "example": 123,
            "type": "number"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "app_token": {
        "in": "header",
        "name": "X-APP-TOKEN",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "Teste da API.",
      "name": "teste"
    },
    {
      "description": "Entrada de Chamada.",
      "name": "chamada"
    },
    {
      "description": "Confirmação de Agendamento.",
      "name": "confirmação"
    }
  ],
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}