{
  "openapi": "3.1.0",
  "info": {
    "title": "Autoposting API",
    "description": "Schedule, publish, and AI-enhance social content across X, LinkedIn, Instagram, Threads, and YouTube. All responses use the `{ \"success\": boolean, \"data\": ... }` envelope. Authenticate with an API key (`Authorization: Bearer sk-social-...` or `x-api-key: sk-social-...`).",
    "version": "1.0.0",
    "x-jentic-source-url": "https://autoposting.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://app.autoposting.ai/api-proxy",
      "description": "Production"
    }
  ],
  "paths": {
    "/agents": {
      "post": {
        "tags": [
          "Agents"
        ],
        "operationId": "createAgent",
        "summary": "Create an AI agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "brandSlug",
                  "platforms"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the agent."
                  },
                  "brandSlug": {
                    "type": "string",
                    "description": "Brand the agent posts on behalf of."
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "x",
                        "linkedin",
                        "instagram",
                        "threads",
                        "youtube",
                        "facebook"
                      ]
                    },
                    "description": "Target platforms."
                  },
                  "schedule": {
                    "type": "string",
                    "description": "Cron expression defining when the agent runs (UTC). Example: \"0 9 * * 1-5\" runs at 9 AM UTC Monday-Friday."
                  },
                  "knowledgeBaseId": {
                    "type": "string",
                    "description": "ID of the knowledge base the agent draws content ideas from."
                  },
                  "postsPerRun": {
                    "type": "integer",
                    "default": 1,
                    "description": "Number of posts to generate per run."
                  },
                  "tone": {
                    "type": "string",
                    "enum": [
                      "professional",
                      "casual",
                      "educational",
                      "inspirational",
                      "humorous"
                    ],
                    "description": "Writing tone."
                  },
                  "instructions": {
                    "type": "string",
                    "description": "Custom instructions for the agent (e.g., \"Always end with a question to boost engagement\")."
                  },
                  "autoPublish": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the agent publishes posts immediately. If false, posts are saved as drafts for review."
                  }
                }
              },
              "example": {
                "name": "Daily LinkedIn Poster",
                "brandSlug": "acme-corp",
                "platforms": [
                  "linkedin"
                ],
                "schedule": "0 9 * * 1-5",
                "knowledgeBaseId": "kb_01HXYZ",
                "postsPerRun": 1,
                "tone": "professional"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "agent_01HXYZ",
                    "name": "Daily LinkedIn Poster",
                    "brandSlug": "acme-corp",
                    "platforms": [
                      "linkedin"
                    ],
                    "schedule": "0 9 * * 1-5",
                    "enabled": true,
                    "autoPublish": false,
                    "createdAt": "2024-01-01T00:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Authentication required."
                }
              }
            }
          }
        },
        "description": "Create an AI agent."
      },
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "listAgents",
        "summary": "List agents",
        "parameters": [
          {
            "name": "brandSlug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter agents by brand."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            },
            "description": "Items per page. Default: 50, max: 100."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Items to skip. Default: 0."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of agents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "agents": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Agent"
                          }
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "agents": [
                      {
                        "id": "agent_01HXYZ",
                        "name": "Daily LinkedIn Poster",
                        "brandSlug": "acme-corp",
                        "platforms": [
                          "linkedin"
                        ],
                        "enabled": true,
                        "lastRunAt": "2024-01-10T09:00:00Z",
                        "nextRunAt": "2024-01-11T09:00:00Z"
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Authentication required."
                }
              }
            }
          }
        },
        "description": "List agents."
      }
    },
    "/agents/{agentId}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "getAgent",
        "summary": "Get an agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID.",
            "example": "agent_01HXYZ"
          }
        ],
        "responses": {
          "200": {
            "description": "The agent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "agent_01HXYZ",
                    "name": "Daily LinkedIn Poster",
                    "brandSlug": "acme-corp",
                    "platforms": [
                      "linkedin"
                    ],
                    "schedule": "0 9 * * 1-5",
                    "enabled": true,
                    "autoPublish": false,
                    "tone": "professional",
                    "instructions": null,
                    "knowledgeBaseId": "kb_01HXYZ",
                    "postsPerRun": 1,
                    "lastRunAt": "2024-01-10T09:00:00Z",
                    "nextRunAt": "2024-01-11T09:00:00Z",
                    "createdAt": "2024-01-01T00:00:00Z",
                    "updatedAt": "2024-01-01T00:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Authentication required."
                }
              }
            }
          }
        },
        "description": "Get an agent."
      },
      "patch": {
        "tags": [
          "Agents"
        ],
        "operationId": "updateAgent",
        "summary": "Update an agent",
        "description": "All body fields are optional; only provided fields are updated.",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID.",
            "example": "agent_01HXYZ"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Updated name."
                  },
                  "schedule": {
                    "type": "string",
                    "description": "Updated cron schedule."
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "x",
                        "linkedin",
                        "instagram",
                        "threads",
                        "youtube",
                        "facebook"
                      ]
                    },
                    "description": "Updated target platforms."
                  },
                  "tone": {
                    "type": "string",
                    "enum": [
                      "professional",
                      "casual",
                      "educational",
                      "inspirational",
                      "humorous"
                    ],
                    "description": "Updated tone."
                  },
                  "instructions": {
                    "type": "string",
                    "description": "Updated instructions."
                  },
                  "autoPublish": {
                    "type": "boolean",
                    "description": "Updated auto-publish setting."
                  },
                  "postsPerRun": {
                    "type": "integer",
                    "description": "Updated posts per run count."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated agent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Authentication required."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "operationId": "deleteAgent",
        "summary": "Delete an agent",
        "description": "Deleting an agent does not delete its previously generated outputs or posts.",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID.",
            "example": "agent_01HXYZ"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "deleted": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "agent_01HXYZ",
                    "deleted": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Authentication required."
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentId}/toggle": {
      "post": {
        "tags": [
          "Agents"
        ],
        "operationId": "toggleAgent",
        "summary": "Enable or disable an agent",
        "description": "Enable or disable the agent's scheduled runs.",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID.",
            "example": "agent_01HXYZ"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "enabled"
                ],
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "true to enable, false to disable."
                  }
                }
              },
              "example": {
                "enabled": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Toggle result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "agent_01HXYZ",
                    "enabled": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Authentication required."
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentId}/run": {
      "post": {
        "tags": [
          "Agents"
        ],
        "operationId": "runAgent",
        "summary": "Trigger an immediate agent run",
        "description": "Bypasses the schedule and triggers an agent run immediately.",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID.",
            "example": "agent_01HXYZ"
          }
        ],
        "responses": {
          "200": {
            "description": "Run queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "runId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "queued",
                            "running",
                            "completed",
                            "failed"
                          ]
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "runId": "run_01HXYZ",
                    "status": "queued",
                    "startedAt": "2024-01-10T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Authentication required."
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentId}/runs": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "listAgentRuns",
        "summary": "List agent runs",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID.",
            "example": "agent_01HXYZ"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of agent runs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "runs": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AgentRun"
                          }
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "runs": [
                      {
                        "id": "run_01HXYZ",
                        "agentId": "agent_01HXYZ",
                        "status": "completed",
                        "postsGenerated": 1,
                        "startedAt": "2024-01-10T09:00:00Z",
                        "completedAt": "2024-01-10T09:00:45Z"
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Authentication required."
                }
              }
            }
          }
        },
        "description": "List agent runs."
      }
    },
    "/agents/{agentId}/runs/{runId}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "getAgentRun",
        "summary": "Get a specific run",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID.",
            "example": "agent_01HXYZ"
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Run ID.",
            "example": "run_01HXYZ"
          }
        ],
        "responses": {
          "200": {
            "description": "The agent run.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AgentRun"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "run_01HXYZ",
                    "agentId": "agent_01HXYZ",
                    "status": "completed",
                    "postsGenerated": 1,
                    "tokensUsed": 850,
                    "error": null,
                    "startedAt": "2024-01-10T09:00:00Z",
                    "completedAt": "2024-01-10T09:00:45Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Authentication required."
                }
              }
            }
          }
        },
        "description": "Get a specific run."
      }
    },
    "/agents/{agentId}/outputs": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "listAgentOutputs",
        "summary": "List agent outputs",
        "description": "Returns the posts generated by this agent across all runs.",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID.",
            "example": "agent_01HXYZ"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Items per page. Default: 50."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Items to skip. Default: 0."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of agent outputs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "outputs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "runId": {
                                "type": "string"
                              },
                              "text": {
                                "type": "string"
                              },
                              "platforms": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "x",
                                    "linkedin",
                                    "instagram",
                                    "threads",
                                    "youtube",
                                    "facebook"
                                  ]
                                }
                              },
                              "status": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "outputs": [
                      {
                        "id": "post_01HXYZ",
                        "runId": "run_01HXYZ",
                        "text": "5 lessons I learned building a SaaS in public...",
                        "platforms": [
                          "linkedin"
                        ],
                        "status": "draft",
                        "createdAt": "2024-01-10T09:00:45Z"
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Authentication required."
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentId}/stats": {
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "getAgentStats",
        "summary": "Get agent statistics",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent ID.",
            "example": "agent_01HXYZ"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent statistics.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "agentId": {
                          "type": "string"
                        },
                        "totalRuns": {
                          "type": "integer"
                        },
                        "successfulRuns": {
                          "type": "integer"
                        },
                        "failedRuns": {
                          "type": "integer"
                        },
                        "totalPostsGenerated": {
                          "type": "integer"
                        },
                        "totalPostsPublished": {
                          "type": "integer"
                        },
                        "averageRunDurationMs": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "agentId": "agent_01HXYZ",
                    "totalRuns": 30,
                    "successfulRuns": 28,
                    "failedRuns": 2,
                    "totalPostsGenerated": 28,
                    "totalPostsPublished": 24,
                    "averageRunDurationMs": 38000
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Authentication required."
                }
              }
            }
          }
        },
        "description": "Get agent statistics."
      }
    },
    "/api-keys": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create an API key",
        "description": "Creates a new org-scoped API key. The full `key` value is returned only once in this response.",
        "operationId": "createApiKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "scopes"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable label for the key.",
                    "example": "CI/CD Pipeline Key"
                  },
                  "scopes": {
                    "type": "array",
                    "description": "Permission scopes granted to this key.",
                    "items": {
                      "type": "string",
                      "enum": [
                        "posts:read",
                        "posts:write",
                        "brands:read",
                        "brands:write",
                        "clips:read",
                        "clips:write",
                        "carousels:read",
                        "carousels:write",
                        "agents:read",
                        "agents:write",
                        "kbs:read",
                        "kbs:write",
                        "usage:read"
                      ]
                    },
                    "example": [
                      "posts:read",
                      "posts:write",
                      "brands:read"
                    ]
                  },
                  "expiresAt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "ISO 8601 expiry datetime. If omitted, the key does not expire."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/ApiKey"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "key_01HXYZ",
                    "name": "CI/CD Pipeline Key",
                    "key": "ap_live_abc123xyz789...",
                    "scopes": [
                      "posts:read",
                      "posts:write",
                      "brands:read"
                    ],
                    "expiresAt": null,
                    "createdAt": "2024-01-01T00:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeysError"
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Missing or invalid API key."
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "Lists API keys for the active organization. Responses include `keyHint` rather than the full key value.",
        "operationId": "listApiKeys",
        "responses": {
          "200": {
            "description": "List of API keys.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "key_01HXYZ",
                      "name": "CI/CD Pipeline Key",
                      "keyHint": "ap_live_abc1...xyz7",
                      "scopes": [
                        "posts:read",
                        "posts:write",
                        "brands:read"
                      ],
                      "lastUsedAt": "2024-01-10T08:00:00Z",
                      "expiresAt": null,
                      "createdAt": "2024-01-01T00:00:00Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeysError"
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Missing or invalid API key."
                }
              }
            }
          }
        }
      }
    },
    "/api-keys/{keyId}": {
      "patch": {
        "tags": [
          "API Keys"
        ],
        "summary": "Update an API key",
        "description": "Updates the name or expiry of an existing key. Scopes cannot be changed after creation.",
        "operationId": "updateApiKey",
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "Identifier of the API key.",
            "schema": {
              "type": "string",
              "example": "key_01HXYZ"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New display name.",
                    "example": "Updated Key Name"
                  },
                  "expiresAt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "New expiry datetime. Set to null to remove expiry.",
                    "example": "2025-01-01T00:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/ApiKey"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "key_01HXYZ",
                    "name": "Updated Key Name",
                    "scopes": [
                      "posts:read",
                      "posts:write",
                      "brands:read"
                    ],
                    "expiresAt": "2025-01-01T00:00:00Z",
                    "updatedAt": "2024-01-10T00:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeysError"
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Missing or invalid API key."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke an API key",
        "description": "Immediately invalidates the key. In-flight requests using this key receive 401 Unauthorized.",
        "operationId": "revokeApiKey",
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "Identifier of the API key.",
            "schema": {
              "type": "string",
              "example": "key_01HXYZ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {}
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeysError"
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Missing or invalid API key."
                }
              }
            }
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "operationId": "signup",
        "summary": "Sign up",
        "description": "Create a new user account with email and password. Rate limited to 5 requests per IP per hour.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User's email address.",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "Account password.",
                    "example": "SecurePass123!"
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name for the user.",
                    "example": "Jane Doe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthSession"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "loginWithPassword",
        "summary": "Log in",
        "description": "Authenticate with email and password to receive a session token.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "User's email address.",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "Account password.",
                    "example": "SecurePass123!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthSession"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Log out",
        "description": "Invalidate the current session token.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Session ended.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "example": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify-email": {
      "post": {
        "operationId": "verifyEmailWithOtp",
        "summary": "Verify email with OTP",
        "description": "Verify an email address using the 6-digit OTP code sent to the email.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "code"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address to verify.",
                    "example": "user@example.com"
                  },
                  "code": {
                    "type": "string",
                    "description": "6-digit OTP code sent to the email.",
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "verifyEmailWithToken",
        "summary": "Verify email via token link",
        "description": "Verify an email address via the token link sent to the user. Used by the email verification link.",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Verification token from the email link.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email verified.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verify-email": {
      "get": {
        "operationId": "verifyEmailWithTokenAlias",
        "summary": "Verify email via token link (alias)",
        "description": "Backward-compatible alias for token-based email verification.",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Verification token from the email link.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email verified.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/resend-verification": {
      "post": {
        "operationId": "resendVerification",
        "summary": "Resend verification email",
        "description": "Resend the verification email to the given address.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address to resend verification to.",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification email sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "operationId": "forgotPassword",
        "summary": "Request password reset",
        "description": "Request a password reset email for the given address.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address to send the reset link to.",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset email sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "operationId": "resetPassword",
        "summary": "Reset password",
        "description": "Reset the account password using a token from the reset email link.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "password"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Reset token from the email link."
                  },
                  "password": {
                    "type": "string",
                    "description": "New password.",
                    "example": "SecurePass123!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/change-password": {
      "post": {
        "operationId": "changePassword",
        "summary": "Change password",
        "description": "Change the password for the authenticated account.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currentPassword",
                  "newPassword"
                ],
                "properties": {
                  "currentPassword": {
                    "type": "string",
                    "description": "Current account password."
                  },
                  "newPassword": {
                    "type": "string",
                    "description": "New password."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/social/{provider}": {
      "get": {
        "operationId": "initiateSocialLogin",
        "summary": "Initiate social OAuth",
        "description": "Redirect the user to this URL to begin the OAuth flow for the given provider.",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "OAuth provider.",
            "schema": {
              "type": "string",
              "enum": [
                "google",
                "github"
              ],
              "example": "google"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth flow initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/social/exchange": {
      "post": {
        "operationId": "exchangeSocialCode",
        "summary": "Exchange OAuth code",
        "description": "Exchange an OAuth authorization code for a session token.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "code"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "OAuth provider: google or github.",
                    "enum": [
                      "google",
                      "github"
                    ],
                    "example": "google"
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code from the OAuth redirect."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthSession"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/social/complete": {
      "post": {
        "operationId": "completeSocialLogin",
        "summary": "Complete social login",
        "description": "Complete a social login or link a social account to the authenticated account.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Social account linked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get current user profile",
        "description": "Get the profile of the currently authenticated user.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Current user profile.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateProfile",
        "summary": "Update user profile",
        "description": "Update the authenticated user's profile fields.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name.",
                    "example": "Jane Doe"
                  },
                  "avatarUrl": {
                    "type": "string",
                    "description": "URL to the user's avatar image.",
                    "example": "https://cdn.example.com/avatar.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/email-change/initiate": {
      "post": {
        "operationId": "initiateEmailChange",
        "summary": "Initiate email change",
        "description": "Start the email change flow. Sends an OTP to the current email address.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "newEmail"
                ],
                "properties": {
                  "newEmail": {
                    "type": "string",
                    "description": "The new email address to change to.",
                    "example": "new@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent to current email.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/email-change/verify-current": {
      "post": {
        "operationId": "verifyCurrentEmail",
        "summary": "Verify current email OTP",
        "description": "Step 2 of email change: verify the OTP sent to the current email address.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "OTP sent to the current email.",
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current email verified.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/email-change/verify-new": {
      "post": {
        "operationId": "verifyNewEmail",
        "summary": "Verify new email OTP",
        "description": "Step 3 of email change: verify the OTP sent to the new email address.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "OTP sent to the new email address.",
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New email verified and applied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sessions": {
      "get": {
        "operationId": "listSessions",
        "summary": "List active sessions",
        "description": "List the authenticated user's active sessions.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Active sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Session"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sessions/{id}": {
      "delete": {
        "operationId": "revokeSession",
        "summary": "Revoke a session",
        "description": "Revoke a specific session by its ID.",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Session ID to revoke.",
            "schema": {
              "type": "string",
              "example": "session_01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sessions/revoke-all": {
      "post": {
        "operationId": "revokeAllSessions",
        "summary": "Revoke all other sessions",
        "description": "Invalidate all sessions except the current one.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Other sessions revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing/checkout": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Create checkout session",
        "description": "Creates a mixed checkout: a $1 setup fee plus a subscription with a 3-day free trial. The $1 setup fee is automatically detected and refunded by the DodoPayments webhook handler after checkout completes.",
        "operationId": "createBillingCheckout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planId": {
                    "type": "string",
                    "description": "ID of the subscription plan to purchase."
                  },
                  "successUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to redirect to after successful checkout."
                  },
                  "cancelUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to redirect to if checkout is cancelled."
                  }
                },
                "required": [
                  "planId",
                  "successUrl",
                  "cancelUrl"
                ]
              },
              "example": {
                "planId": "plan_pro",
                "successUrl": "https://app.acme.com/billing/success",
                "cancelUrl": "https://app.acme.com/billing/cancel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/CheckoutSession"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "checkoutUrl": "https://checkout.dodopayments.com/c/pay_abc123",
                    "sessionId": "cs_abc123"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Missing or invalid API key."
                }
              }
            }
          },
          "403": {
            "description": "Billing suspended. Subscription expired, cancelled, or past due.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "billing_suspended",
                  "message": "Subscription expired, cancelled, or past due."
                }
              }
            }
          }
        }
      }
    },
    "/billing/verify-checkout": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Verify checkout and activate trial",
        "description": "Call this after the user returns from checkout to confirm payment and activate the trial state.",
        "operationId": "verifyBillingCheckout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "description": "Checkout session ID returned from the checkout endpoint."
                  }
                },
                "required": [
                  "sessionId"
                ]
              },
              "example": {
                "sessionId": "cs_abc123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout verified and trial activated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/VerifyCheckoutResult"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "status": "trialing",
                    "trialEnd": "2024-01-04T00:00:00Z",
                    "planId": "plan_pro"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Missing or invalid API key."
                }
              }
            }
          },
          "403": {
            "description": "Billing suspended. Subscription expired, cancelled, or past due.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "billing_suspended",
                  "message": "Subscription expired, cancelled, or past due."
                }
              }
            }
          }
        }
      }
    },
    "/billing/status": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get current billing status",
        "operationId": "getBillingStatus",
        "responses": {
          "200": {
            "description": "Current billing status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/BillingStatus"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "examples": {
                  "active": {
                    "summary": "Active subscription",
                    "value": {
                      "success": true,
                      "data": {
                        "status": "active",
                        "planId": "plan_pro",
                        "planName": "Pro",
                        "isTrialing": false,
                        "trialEnd": null,
                        "currentPeriodEnd": "2024-02-01T00:00:00Z",
                        "cancelAtPeriodEnd": false,
                        "pendingPlanChange": null
                      }
                    }
                  },
                  "trialing": {
                    "summary": "Trialing",
                    "value": {
                      "success": true,
                      "data": {
                        "status": "trialing",
                        "planId": "plan_pro",
                        "planName": "Pro",
                        "isTrialing": true,
                        "trialEnd": "2024-01-04T00:00:00Z",
                        "currentPeriodEnd": "2024-02-01T00:00:00Z"
                      }
                    }
                  },
                  "suspended": {
                    "summary": "Suspended",
                    "value": {
                      "success": true,
                      "data": {
                        "status": "suspended",
                        "planId": null,
                        "isTrialing": false
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Missing or invalid API key."
                }
              }
            }
          }
        },
        "description": "Get current billing status."
      }
    },
    "/billing/change-plan": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Change subscription plan",
        "description": "Schedule a plan change at the end of the current billing period.",
        "operationId": "changeBillingPlan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planId": {
                    "type": "string",
                    "description": "New plan ID to switch to."
                  }
                },
                "required": [
                  "planId"
                ]
              },
              "example": {
                "planId": "plan_business"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan change scheduled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/PlanChangeResult"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "currentPlanId": "plan_pro",
                    "pendingPlanId": "plan_business",
                    "effectiveAt": "2024-02-01T00:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Missing or invalid API key."
                }
              }
            }
          },
          "403": {
            "description": "Billing suspended. Subscription expired, cancelled, or past due.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "billing_suspended",
                  "message": "Subscription expired, cancelled, or past due."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Billing"
        ],
        "summary": "Cancel a pending plan change",
        "description": "Reverts a scheduled plan change before it takes effect.",
        "operationId": "cancelBillingPlanChange",
        "responses": {
          "200": {
            "description": "Pending plan change reverted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "cancelled": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "cancelled"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "cancelled": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "unauthorized",
                  "message": "Missing or invalid API key."
                }
              }
            }
          },
          "403": {
            "description": "Billing suspended. Subscription expired, cancelled, or past due.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "billing_suspended",
                  "message": "Subscription expired, cancelled, or past due."
                }
[...]
