{
  "openapi": "3.1.0",
  "info": {
    "title": "JENRIKS public API",
    "version": "1.1.0",
    "summary": "Read-only JSON API, NLWeb endpoint and MCP server for the JENRIKS daily photoblog (one photo per day since 2006).",
    "description": "Everything here is public, read-only and free: no API key, no OAuth, no accounts, no write operations. Stable REST operations carry a major version in the path (/api/v1). Backward-compatible fields may be added within v1; breaking changes get a new major path. Before a version is removed, JENRIKS publishes a migration note at /developers/#versioning and signals it with RFC 9745 Deprecation and Link headers; a dated Sunset header is announced at least 90 days ahead. No sunset is scheduled. Search results page by offset or by an opaque cursor (next_cursor); POST /api/v1/batch runs up to 20 GET requests in one call. Every error is an RFC 9457 problem document (application/problem+json) with a stable code and a resolution hint. Quota: 120 requests per minute per client IP on /api, /mcp and /ask, advertised through RateLimit headers; a 429 carries Retry-After. Every page URL /x/y/ has a Markdown twin at /x/y.md (the homepage at /index.md); Accept: text/markdown or ?mode=agent on the page URL returns the same text, and machine documents wrap as /openapi.json.md, /server.json.md, /api/v1.md or /.well-known/<doc>.md. Photographs are copyrighted: credit the photographer and link the page; licensing via https://jenriks.com/contact/.",
    "termsOfService": "https://jenriks.com/developers/#licensing",
    "contact": {
      "name": "JENRIKS",
      "url": "https://jenriks.com/contact/",
      "email": "jenriks@gmail.com"
    },
    "license": {
      "name": "Photographs: all rights reserved. API documents: may be copied freely.",
      "url": "https://jenriks.com/developers/#licensing"
    },
    "x-jentic-source-url": "https://jenriks.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://jenriks.com",
      "description": "JENRIKS production"
    }
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "operationId": "getApiIndex",
        "tags": [
          "Site"
        ],
        "summary": "API index",
        "description": "Lists every v1 endpoint with its parameters, plus links to the documentation, the OpenAPI document and the MCP server.",
        "security": [],
        "responses": {
          "200": {
            "description": "Endpoint index",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiIndex"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests per minute per client IP)",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, as an RFC 9457 problem document",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/photos": {
      "get": {
        "operationId": "searchPhotos",
        "tags": [
          "Photos"
        ],
        "summary": "Search photos",
        "description": "Search the whole archive, newest first. Without parameters it returns the latest photos. Page with offset, or with cursor=<next_cursor> from the previous page (cursor wins when both are sent; an unknown cursor is a 400 invalid_parameter).",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Free text matched against title, place, categories, tags and photographer (case-insensitive substring)",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "example": "fog"
          },
          {
            "name": "photographer",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Erik",
                "Jens"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Abstract, Architecture, B&W, Humans, Landscapes, Macro, Nature, News, Street, Studio, Time exposure",
            "schema": {
              "type": "string",
              "maxLength": 40
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Four-digit publication year",
            "schema": {
              "type": "integer",
              "minimum": 2005,
              "maximum": 2100
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "City or country name (substring)",
            "schema": {
              "type": "string",
              "maxLength": 120
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Row offset for offset paging; ignored when cursor is sent",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching photos, with has_more, next_cursor and links.next for the following page",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter or cursor",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests per minute per client IP)",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, as an RFC 9457 problem document",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/photos/latest": {
      "get": {
        "operationId": "getLatestPhoto",
        "tags": [
          "Photos"
        ],
        "summary": "Today's photo",
        "description": "The newest post, or the newest post by one photographer. A new photo appears every day at 00:00 Europe/Berlin.",
        "security": [],
        "parameters": [
          {
            "name": "photographer",
            "in": "query",
            "description": "Newest post by this photographer; omit for the newest post overall",
            "schema": {
              "type": "string",
              "enum": [
                "Erik",
                "Jens"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The latest photo",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Invalid photographer",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests per minute per client IP)",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, as an RFC 9457 problem document",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/photos/random": {
      "get": {
        "operationId": "getRandomPhoto",
        "tags": [
          "Photos"
        ],
        "summary": "Random photo",
        "description": "One random photo, optionally limited to a photographer, category or year.",
        "security": [],
        "parameters": [
          {
            "name": "photographer",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Erik",
                "Jens"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Abstract, Architecture, B&W, Humans, Landscapes, Macro, Nature, News, Street, Studio, Time exposure",
            "schema": {
              "type": "string",
              "maxLength": 40
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Four-digit publication year",
            "schema": {
              "type": "integer",
              "minimum": 2005,
              "maximum": 2100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A random photo (found=false when no photo matches the filters)",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RandomPhotoResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests per minute per client IP)",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, as an RFC 9457 problem document",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/photos/{date}": {
      "get": {
        "operationId": "getPhotoByDate",
        "tags": [
          "Photos"
        ],
        "summary": "Photo by publication date",
        "description": "One post per day exists from 2006-01-01 to today.",
        "security": [],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "description": "YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
            },
            "example": "2026-09-04"
          }
        ],
        "responses": {
          "200": {
            "description": "The photo published on that date",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed date",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No post on that date",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests per minute per client IP)",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, as an RFC 9457 problem document",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/overview": {
      "get": {
        "operationId": "getSiteOverview",
        "tags": [
          "Site"
        ],
        "summary": "Site overview",
        "description": "Totals, photographers, categories with counts, posts per year, section URLs, URL pattern and license terms. include=categories,years keeps only the named blocks next to the totals and dates.",
        "security": [],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": false,
            "description": "Comma-separated blocks to keep next to site, description, totals and dates; omit for the full overview",
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "photographers",
                  "categories",
                  "years",
                  "sections",
                  "license"
                ]
              }
            },
            "example": [
              "categories",
              "years"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Overview",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteOverview"
                }
              }
            }
          },
          "400": {
            "description": "Unknown include value",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests per minute per client IP)",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, as an RFC 9457 problem document",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/batch": {
      "post": {
        "operationId": "batchGet",
        "tags": [
          "Site"
        ],
        "summary": "Run up to 20 read-only GET requests in one call",
        "security": [],
        "description": "Body: requests[] of {id, method, path}; only GET and paths under /api/v1/ (with a query string if needed) are allowed, and /api/v1/batch cannot be nested. The reply lists responses[] in request order with the sub-request's status and JSON body; a failing sub-request carries its RFC 9457 problem object as body while the outer status stays 200. One batch counts as one request against the rate limit. The endpoint is read-only, so a retry with the same Idempotency-Key returns fresh identical data; the key is echoed back for correlation only, nothing is stored.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              },
              "example": {
                "requests": [
                  {
                    "id": "latest",
                    "method": "GET",
                    "path": "/api/v1/photos/latest"
                  },
                  {
                    "id": "jens",
                    "method": "GET",
                    "path": "/api/v1/photos?photographer=Jens&limit=3"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-item status and body; the outer status is 200 even when items fail",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "Idempotency-Key": {
                "description": "Echo of the request header, when one was sent",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed batch: invalid JSON, empty or more than 20 requests, non-GET method, path outside /api/v1/ or /api/v1/batch inside a batch",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "Body larger than 64 KB",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "415": {
            "description": "Content-Type is not application/json",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests per minute per client IP)",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, as an RFC 9457 problem document",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "operationId": "getApiHealth",
        "tags": [
          "Site"
        ],
        "summary": "API and MCP health",
        "security": [],
        "responses": {
          "200": {
            "description": "Healthy",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              },
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "503": {
            "description": "Photo index unavailable",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests per minute per client IP)",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, as an RFC 9457 problem document",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/ask": {
      "get": {
        "operationId": "nlwebAskGet",
        "tags": [
          "NLWeb"
        ],
        "summary": "Natural-language search (NLWeb 0.55, flat query parameters)",
        "security": [],
        "description": "NLWeb /ask over the photo archive: the query is matched as free text against title, place, categories, tags and photographer, newest first, scored 100 down by rank. JSON answer by default; server-sent events with streaming=true or Accept: text/event-stream.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Natural-language query; substring match over the archive, falling back to all-tokens-must-match",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "example": "fog barcelona"
          },
          {
            "name": "site",
            "in": "query",
            "description": "Accepted for protocol compatibility; only jenriks.com is searched",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "streaming",
            "in": "query",
            "description": "true or 1 switches the response to server-sent events; Accept: text/event-stream does the same",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "list"
              ],
              "default": "list"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NLWeb answer (JSON by default; text/event-stream with start, result and complete events when streaming was requested). Zero matches are a 200 failure object with code NO_RESULTS.",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NlwebAnswer"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "event: start, then one event: result per item ({index, item}), then event: complete; event: error before complete on failure"
                }
              }
            }
          },
          "400": {
            "description": "Missing or empty query, or a malformed body",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests per minute per client IP)",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, as an RFC 9457 problem document",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "nlwebAsk",
        "tags": [
          "NLWeb"
        ],
        "summary": "Natural-language search (NLWeb 0.55, structured body)",
        "security": [],
        "description": "Same search as GET /ask. Accepts the NLWeb 0.55 body ({query: {text, site}, context: {prev}, prefer: {streaming, mode}, meta: {version}}) or the flat legacy fields as JSON or form data. Streams when prefer.streaming is true or Accept contains text/event-stream.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NlwebRequest"
              },
              "example": {
                "query": {
                  "text": "fog barcelona",
                  "site": "jenriks.com"
                },
                "prefer": {
                  "streaming": false,
                  "mode": "list"
                },
                "meta": {
                  "version": "0.55"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NlwebRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NLWeb answer (JSON by default; text/event-stream with start, result and complete events when streaming was requested). Zero matches are a 200 failure object with code NO_RESULTS.",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NlwebAnswer"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "event: start, then one event: result per item ({index, item}), then event: complete; event: error before complete on failure"
                }
              }
            }
          },
          "400": {
            "description": "Missing or empty query, or a malformed body",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Allow": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (120 requests per minute per client IP)",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, as an RFC 9457 problem document",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "operationId": "mcp",
        "tags": [
          "MCP"
        ],
        "summary": "MCP server (JSON-RPC 2.0 over Streamable HTTP, JSON responses)",
        "security": [],
        "description": "Methods: initialize, ping, tools/list, tools/call, resources/list, resources/read. Tools: search_photos (offset or opaque cursor paging), get_photo, get_latest_photo (optional photographer), random_photo, get_site_overview (optional include list); each declares an outputSchema and every photo carries geo coordinates or null. Stateless: no sessions, no server-initiated event stream. Server card: /.well-known/mcp/server-card.json; registry manifest: /server.json.",
        "parameters": [
          {
            "name": "MCP-Protocol-Version",
            "in": "header",
            "required": false,
            "description": "MCP protocol version negotiated during initialize (2025-06-18, 2025-03-26 or 2024-11-05); echoed in the response header of the same name",
            "schema": {
              "type": "string",
              "enum": [
                "2025-06-18",
                "2025-03-26",
                "2024-11-05"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/JsonRpcRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/JsonRpcRequest"
                    },
                    "maxItems": 20
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response (array when the request was a batch)",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              },
              "MCP-Protocol-Version": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JsonRpcResponse"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/JsonRpcResponse"
                      }
                    }
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Notification accepted (JSON-RPC notification without id). This is an acknowledgement, not an asynchronous job: nothing is queued and there is nothing to poll.",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit-Limit": {
                "description": "Compatibility form of the quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Compatibility form of the remaining quota",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the window resets",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Body is not valid JSON (JSON-RPC parse error) or an invalid request",
            "headers": {
              "RateLimit-Policy": {
                "description": "Quota policy, IETF RateLimit structured field: \"public-read\";q=120;w=60",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "Remaining quota and seconds until reset: \"public-read\";r=57;t=41",
                "schema": {
                  "type": "string"
                }
              },
[...]
