{
  "openapi": "3.1.0",
  "info": {
    "title": "Yokka REST API",
    "version": "0.1.0",
    "description": "The same operations as Yokka's MCP server, over plain HTTP: for scripts, CI jobs and agents that\ndon't speak MCP. Each endpoint runs one MCP tool, with the same permissions and the same result.\n\n## Authentication\n\nSend a token from **Workspace settings → Agents** as `Authorization: Bearer <token>`. The token decides\nwhat you can do, exactly as over MCP:\n\n- **Read-only** tokens can call the `GET` endpoints only.\n- **Read-and-write** tokens can also work, file and edit cards.\n- The **Delete and restore cards** (`cards.delete`) and **Manage lanes, swimlanes and flows**\n  (`board.manage`) permissions unlock the Trash and Structure endpoints.\n- A token limited to some projects sees only those: everything else answers 404.\n- Archived projects are read-only: they answer reads when you name them, and refuse every change.\n\nTokens die with their creator's membership, and a creator who becomes a viewer leaves their tokens read-only.\n\n## Who you are on the board\n\nCalls act as an **agent**: the board shows who claimed, reported or commented, and the activity log records\nit as an agent. Name yours with `X-Client-Name` (for example `ci-bot`; the default is `api`). A card you\nclaim is held by that token *and* name together, across requests, so a script can claim a card in one call and\ncomplete it in another. Another name on the same token is another agent.\n\n## Requests and responses\n\n- Cards are addressed by their ref (`YK-12`), projects by slug, name or card prefix, and swimlanes, lanes,\n  epics and labels by name (URL-encode spaces: `Needs%20you`). A path segment can't be blank.\n- `GET` and `DELETE` take their arguments in the query string; `POST` and `PATCH` take a JSON body of at\n  most 1 MB.\n- Fields are **camelCase** (`wipLimit`, `addLabels`). The MCP tools take the same arguments in snake_case.\n- On a `PATCH`, leave a field out to keep it. `null` clears the fields that can be cleared: a card's\n  `epic`, a lane's `wipLimit` and `description`, a swimlane's `description`, and a flow rule's\n  `moveTo` and `setAttention`.\n- A success answers with the tool's result as JSON (its MCP `structuredContent`).\n- `GET /cards` answers a page at a time: when `more` is true, repeat the request with `cursor` set to the\n  `cursor` it returned.\n- Endpoints that create something (`201`) take an `Idempotency-Key` header. A retry with the same key and\n  the same request within 24 hours answers what the first one did, with `Idempotent-Replayed: true`, and\n  changes nothing. A failed request isn't remembered, so retrying it runs it again.\n\n## Errors\n\nFailures answer `{ \"error\": { \"code\": \"...\", \"message\": \"...\" } }`. The message is written to be shown to a\nperson as-is.\n\n| Status | Code | When |\n|---|---|---|\n| 400 | `invalid` | The arguments don't fit the schema, or the change isn't possible as asked |\n| 401 | `unauthenticated` | The token is missing, invalid, revoked or expired |\n| 403 | `forbidden` | The token can't do this (read-only, or without the permission) |\n| 403 | `limit` | A plan or board limit, like a free plan's custom flow rules, or a sandbox's 500 calls |\n| 404 | `not_found` | No such project, card, swimlane, lane, epic, label or rule for this token |\n| 405 | `method_not_allowed` | The path exists but not with this method (see `Allow`) |\n| 409 | `conflict` | Another agent holds the card, you don't hold the card you're working on, a name is taken, or an Idempotency-Key was used for another request |\n| 413 | `too_large` | The request body is over 1 MB |\n| 429 | `rate_limited` | Too many calls, or too many failed sign-ins from your address: wait for `Retry-After` seconds |\n| 503 | `unavailable` | A service the board depends on didn't answer; try again later |\n\n## Limits\n\nREST and MCP calls share one budget per token and count toward the same monthly allowance. On the free plan,\ncalls past the allowance are slowed to 10 a minute: a call over that answers 429 with `Retry-After`.",
    "x-jentic-source-url": "https://api.yokka.ai/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.yokka.ai/api/v1"
    }
  ],
  "paths": {
    "/session/introduce": {
      "post": {
        "operationId": "introduce",
        "summary": "Introduce yourself",
        "description": "Tell the board who you are, once at the start of a session (and again if the human renames you). Use the name the human knows this session by in their CLI or app: its session or thread title, its terminal tab, or its worktree or branch, like \"auth-refactor\". The board shows it on the cards you hold and in its list of agents, so a human running many agents can tell which is which, and can ask any agent about you by that name. Leave the name out and the board picks one. Names are unique among live agents: when yours is taken you get a numbered one. Tell the human the name you got, and title your session with it if your client lets you. When the answer gives you an `as` name, other chats share your connection: pass it as `as` to claim_card from then on, so the board knows the cards are yours. Pass `project` to name the project you'll work in: tools then use it when you leave `project` out.\n\nNeeds a read-and-write token. Same as the MCP tool `introduce`.",
        "tags": [
          "Card work"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientName"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Optional: your name on the board, like this session's title, terminal tab or branch (\"auth-refactor\"). Leave it out and the board picks one.",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "where": {
                    "type": "string",
                    "description": "Optional one line on where you run, like \"kanban-app · feat/auth · work laptop\". Shown with your name.",
                    "maxLength": 120
                  },
                  "as": {
                    "type": "string",
                    "description": "Optional: the `as` name you already have, to rename yourself to `name`.",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "project": {
                    "type": "string",
                    "description": "Optional project slug, name or card prefix to work in: tools use it when you leave out `project`, until you claim or file a card in another one.",
                    "minLength": 1,
                    "maxLength": 80
                  }
                },
                "required": [],
                "additionalProperties": false
              },
              "example": {
                "name": "auth-refactor",
                "where": "api · feat/auth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "where": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "as": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "project": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "name",
                    "where",
                    "as",
                    "project"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The arguments aren't valid, or the change isn't possible as asked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing, invalid, revoked or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token can't do this, or a plan or board limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Something it names wasn't found, or isn't visible to this token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "The request body is too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many calls: retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "list_projects",
        "summary": "List projects",
        "description": "List the projects in this workspace with their swimlanes, each swimlane's lanes and how many cards each lane holds (a done lane counts its latest cards; `more` says it holds more). Start here if you don't know which project to work in. Archived projects are read-only and left out unless includeArchived.\n\nAny token. Same as the MCP tool `list_projects`.",
        "tags": [
          "Board"
        ],
        "parameters": [
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "description": "Also list archived (read-only) projects.",
            "schema": {
              "type": "boolean",
              "description": "Also list archived (read-only) projects."
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "prefix": {
                            "type": "string"
                          },
                          "archived": {
                            "type": "boolean"
                          },
                          "swimlanes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "lanes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "cards": {
                                        "type": "integer"
                                      },
                                      "more": {
                                        "type": "boolean"
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "cards",
                                      "more"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "backlog": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "name",
                                "lanes",
                                "backlog"
                              ],
                              "additionalProperties": false
                            }
                          }
                        },
                        "required": [
                          "name",
                          "slug",
                          "prefix",
                          "archived",
                          "swimlanes"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "projects"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The arguments aren't valid, or the change isn't possible as asked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing, invalid, revoked or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Something it names wasn't found, or isn't visible to this token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many calls: retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/board": {
      "get": {
        "operationId": "get_board",
        "summary": "Read a board",
        "description": "Read one project's board: every swimlane, its lanes and their cards (ref, title, who holds it, whether it needs the human, which cards it is blocked by). Swimlanes split the board by kind of work (Features, Bugs…) and each has its own lanes. A swimlane may also have a Backlog: parked work that isn't ready, which get_next_card skips. Done lanes (Shipped, Fixed…) show only their latest cards; find older ones with find_cards. Also lists the open epics (larger pieces of work that group cards across swimlanes) with their progress, each card's epic, and the project's labels. Use it to get oriented before picking work or planning.\n\nAny token. Same as the MCP tool `get_board`.",
        "tags": [
          "Board"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project slug, name or card prefix, like \"getting-started\" or \"GS\".",
            "schema": {
              "type": "string",
              "description": "Project slug, name or card prefix, like \"getting-started\" or \"GS\".",
              "minLength": 1,
              "maxLength": 80
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "type": "string"
                    },
                    "archived": {
                      "type": "boolean"
                    },
                    "epics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "total": {
                            "type": "integer"
                          },
                          "done": {
                            "type": "integer"
                          },
                          "partial": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "name",
                          "total",
                          "done",
                          "partial"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "color"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "swimlanes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "lanes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string",
                                  "enum": [
                                    "active",
                                    "done",
                                    "backlog"
                                  ]
                                },
                                "backlog": {
                                  "type": "boolean"
                                },
                                "more": {
                                  "type": "boolean"
                                },
                                "cards": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "ref": {
                                        "type": "string"
                                      },
                                      "title": {
                                        "type": "string"
                                      },
                                      "epic": {
                                        "type": [
                                          "string",
                                          "null"
                                        ]
                                      },
                                      "priority": {
                                        "type": [
                                          "string",
                                          "null"
                                        ]
                                      },
                                      "attention": {
                                        "type": [
                                          "string",
                                          "null"
                                        ]
                                      },
                                      "holder": {
                                        "type": [
                                          "string",
                                          "null"
                                        ]
                                      },
                                      "blocked": {
                                        "type": "boolean"
                                      }
                                    },
                                    "required": [
                                      "ref",
                                      "title",
                                      "epic",
                                      "priority",
                                      "attention",
                                      "holder",
                                      "blocked"
                                    ],
                                    "additionalProperties": false
                                  }
                                }
                              },
                              "required": [
                                "name",
                                "kind",
                                "backlog",
                                "more",
                                "cards"
                              ],
                              "additionalProperties": false
                            }
                          }
                        },
                        "required": [
                          "name",
                          "lanes"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "project",
                    "archived",
                    "epics",
                    "labels",
                    "swimlanes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The arguments aren't valid, or the change isn't possible as asked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing, invalid, revoked or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Something it names wasn't found, or isn't visible to this token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many calls: retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{card}": {
      "get": {
        "operationId": "get_card",
        "summary": "Read a card",
        "description": "Read a card in full: its brief (what, why, done-when), swimlane, lane, labels, epic, priority, holder, checklist (items the human wrote are acceptance criteria), the cards it is blocked by and the cards it blocks, what those blockers delivered (their completion summary, pull requests and branch), the handoff note the last agent left when it let go, the project notes most relevant to it, attached files (with download links: the human may attach screenshots or mockups), linked GitHub pull requests (with their checks), branches and commits, and recent activity. Read the brief before you start working on a card. Its cursor lets get_card_activity show only what's new. An archived card reads the same, but is read-only.\n\nAny token. Same as the MCP tool `get_card`.",
        "tags": [
          "Board"
        ],
        "parameters": [
          {
            "name": "card",
            "in": "path",
            "required": true,
            "description": "The card's ref, like \"GS-12\".",
            "schema": {
              "type": "string",
              "description": "The card's ref, like \"GS-12\".",
              "minLength": 1,
              "maxLength": 80
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ref": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "archived": {
                      "type": "boolean"
                    },
                    "swimlane": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "lane": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "backlog": {
                      "type": "boolean"
                    },
                    "brief": {
                      "type": "string"
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "epic": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "priority": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "attention": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "heldByYou": {
                      "type": "boolean"
                    },
                    "blocked": {
                      "type": "boolean"
                    },
                    "blockedBy": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ref": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "lane": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "done": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "ref",
                          "title",
                          "lane",
                          "done"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "blocks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ref": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "lane": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "done": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "ref",
                          "title",
                          "lane",
                          "done"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "upstream": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ref": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "lane": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "done": {
                            "type": "boolean"
                          },
                          "summary": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "pullRequests": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "repo": {
                                  "type": "string"
                                },
                                "number": {
                                  "type": "integer"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string",
                                  "enum": [
                                    "open",
                                    "draft",
                                    "merged",
                                    "closed"
                                  ]
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "repo",
                                "number",
                                "title",
                                "state",
                                "url"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "branches": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "repo": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "deleted": {
                                  "type": "boolean"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "repo",
                                "name",
                                "deleted",
                                "url"
                              ],
                              "additionalProperties": false
                            }
                          }
                        },
                        "required": [
                          "ref",
                          "title",
                          "lane",
                          "done",
                          "summary",
                          "links",
                          "pullRequests",
                          "branches"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "handoff": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "note": {
                          "type": "string"
                        },
                        "by": {
                          "type": "string"
                        },
                        "from": {
                          "type": "string",
                          "enum": [
                            "human",
                            "agent"
                          ]
                        },
                        "at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "note",
                        "by",
                        "from",
                        "at"
                      ],
                      "additionalProperties": false
                    },
                    "checklist": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "number": {
                            "type": "integer"
                          },
                          "text": {
                            "type": "string"
                          },
                          "done": {
                            "type": "boolean"
                          },
                          "from": {
                            "type": "string",
                            "enum": [
                              "human",
                              "agent"
                            ]
                          }
                        },
                        "required": [
                          "number",
                          "text",
                          "done",
                          "from"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "attachments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filename": {
                            "type": "string"
                          },
                          "contentType": {
                            "type": "string"
                          },
                          "size": {
                            "type": "integer"
                          },
                          "caption": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "from": {
                            "type": "string"
                          },
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "filename",
                          "contentType",
                          "size",
                          "caption",
                          "from",
                          "url"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "code": {
                      "type": "object",
                      "properties": {
                        "pullRequests": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "repo": {
                                "type": "string"
                              },
                              "number": {
                                "type": "integer"
                              },
                              "title": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string",
                                "enum": [
                                  "open",
                                  "draft",
                                  "merged",
                                  "closed"
                                ]
                              },
                              "ci": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "repo",
                              "number",
                              "title",
                              "state",
                              "ci",
                              "url"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "branches": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "repo": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "deleted": {
                                "type": "boolean"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "repo",
                              "name",
                              "deleted",
                              "url"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "commits": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "repo": {
                                "type": "string"
                              },
                              "sha": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "repo",
                              "sha",
                              "title",
                              "url"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "pullRequests",
                        "branches",
                        "commits"
                      ],
                      "additionalProperties": false
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "number": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "truncated": {
                            "type": "boolean"
                          },
                          "pinned": {
                            "type": "boolean"
                          },
                          "card": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "from": {
                            "type": "string",
                            "enum": [
                              "human",
                              "agent"
                            ]
                          },
                          "by": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "number",
                          "title",
                          "body",
                          "truncated",
                          "pinned",
                          "card",
                          "from",
                          "by",
                          "updatedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "ref",
                    "title",
                    "archived",
                    "swimlane",
                    "lane",
                    "backlog",
                    "brief",
                    "labels",
                    "epic",
                    "priority",
                    "attention",
                    "heldByYou",
                    "blocked",
                    "blockedBy",
                    "blocks",
                    "upstream",
                    "handoff",
                    "checklist",
                    "attachments",
                    "code",
                    "notes",
                    "cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The arguments aren't valid, or the change isn't possible as asked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing, invalid, revoked or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Something it names wasn't found, or isn't visible to this token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many calls: retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "update_card",
        "summary": "Edit a card",
        "description": "Edit a card's title, brief, labels, epic, priority or the cards it waits on: sharpen a brief you filed, fix labels, file it under an epic, set how urgent it is, or set what it's blocked by. `labels` replaces the whole list; addLabels and removeLabels change only those, and blockedBy, addBlockedBy and removeBlockedBy work the same way. Refuses a card another agent holds.\n\nNeeds a read-and-write token. Same as the MCP tool `update_card`.",
        "tags": [
          "Planning"
        ],
        "parameters": [
          {
            "name": "card",
            "in": "path",
            "required": true,
            "description": "The card's ref, like \"GS-12\".",
            "schema": {
              "type": "string",
              "description": "The card's ref, like \"GS-12\".",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "$ref": "#/components/parameters/ClientName"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "New title.",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "brief": {
                    "type": "string",
                    "description": "New brief (markdown), replacing the old one.",
                    "maxLength": 20000
                  },
                  "labels": {
                    "type": "array",
                    "description": "The card's full new label list.",
                    "items": {
                      "type": "string",
                      "maxLength": 24
                    },
                    "maxItems": 8
                  },
                  "addLabels": {
                    "type": "array",
                    "description": "Labels to add.",
                    "items": {
                      "type": "string",
                      "maxLength": 24
                    },
                    "maxItems": 8
                  },
                  "removeLabels": {
                    "type": "array",
                    "description": "Labels to take off.",
                    "items": {
                      "type": "string",
                      "maxLength": 24
                    },
                    "maxItems": 8
                  },
                  "epic": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Open epic to move it into, by name. Pass \"\" to take it out of its epic.",
                    "maxLength": 60
                  },
                  "priority": {
                    "type": "string",
                    "description": "New priority: urgent, high, medium, low, or \"none\" to clear it.",
                    "enum": [
                      "none",
                      "urgent",
                      "high",
                      "medium",
                      "low"
                    ]
                  },
                  "blockedBy": {
                    "type": "array",
                    "description": "The full list of cards of the same project it waits on, by ref. Pass [] to clear it.",
                    "items": {
                      "type": "string",
                      "maxLength": 80
                    },
                    "maxItems": 20
                  },
                  "addBlockedBy": {
                    "type": "array",
                    "description": "Cards it should also wait on, like [\"YK-3\"].",
                    "items": {
                      "type": "string",
                      "maxLength": 80
                    },
                    "maxItems": 20
                  },
                  "removeBlockedBy": {
                    "type": "array",
                    "description": "Cards it should stop waiting on.",
                    "items": {
                      "type": "string",
                      "maxLength": 80
                    },
                    "maxItems": 20
                  }
                },
                "required": [],
                "additionalProperties": false
              },
              "example": {
                "title": "Fix the flaky login test on CI",
                "addLabels": [
                  "ci"
                ],
                "epic": null,
                "addBlockedBy": [
                  "YK-3"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ref": {
                      "type": "string"
                    },
                    "changed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "ref",
                    "changed"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The arguments aren't valid, or the change isn't possible as asked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing, invalid, revoked or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token can't do this, or a plan or board limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Something it names wasn't found, or isn't visible to this token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Another agent holds the card, you don't hold it, the name is taken, or the Idempotency-Key was used for another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "The request body is too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many calls: retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_card",
        "summary": "Delete a card",
        "description": "Move a card to the trash: duplicates, or work the human decided against. It can be restored with restore_card until the trash is emptied. Refuses a card another agent holds.\n\nNeeds a token with the `cards.delete` permission. Without it: *This token can't delete or restore cards. Ask the human to do it, or to create a token with that permission turned on.* Same as the MCP tool `delete_card`.",
        "tags": [
          "Trash"
        ],
        "parameters": [
          {
            "name": "card",
            "in": "path",
            "required": true,
            "description": "The card's ref, like \"GS-12\".",
            "schema": {
              "type": "string",
              "description": "The card's ref, like \"GS-12\".",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "$ref": "#/components/parameters/ClientName"
          }
        ],
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ref": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ref"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The arguments aren't valid, or the change isn't possible as asked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing, invalid, revoked or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token can't do this, or a plan or board limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Something it names wasn't found, or isn't visible to this token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Another agent holds the card, you don't hold it, the name is taken, or the Idempotency-Key was used for another request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "The request body is too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many calls: retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{card}/activity": {
      "get": {
        "operationId": "get_card_activity",
        "summary": "Read a card's activity",
        "description": "Read a card's activity oldest first: comments, questions, progress, moves and edits, with who did each. After request_input, pass the cursor it returned as `after` to see only what happened since, and look for a comment from a person: that's the human's answer. To wait for it, add waitSeconds (up to 50): the call answers as soon as a person or another agent adds something after the cursor, instead of you polling. Without `after`, returns the latest entries. Pass the returned cursor next time to keep reading forward.\n\nAny token. Same as the MCP tool `get_card_activity`.",
        "tags": [
          "Board"
        ],
        "parameters": [
          {
            "name": "card",
            "in": "path",
            "required": true,
            "description": "The card's ref, like \"GS-12\".",
            "schema": {
              "type": "string",
              "description": "The card's ref, like \"GS-12\".",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Optional cursor from request_input, comment_card, get_card or an earlier call.",
            "schema": {
              "type": "string",
              "description": "Optional cursor from request_input, comment_card, get_card or an earlier call.",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Optional, 1–100 entries (default 30).",
            "schema": {
              "type": "integer",
              "description": "Optional, 1–100 entries (default 30).",
              "minimum": 1,
              "maximum": 100
            },
            "example": 10
          },
          {
            "name": "waitSeconds",
            "in": "query",
            "required": false,
            "description": "Optional, with `after`: wait up to this many seconds (1–50) for a person or another agent to add something, and answer as soon as they do. Counts as one call.",
            "schema": {
              "type": "integer",
              "description": "Optional, with `after`: wait up to this many seconds (1–50) for a person or another agent to add something, and answer as soon as they do. Counts as one call.",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ref": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "at": {
                            "type": "string"
                          },
                          "actor": {
                            "type": "string",
                            "enum": [
                              "user",
                              "agent",
                              "system"
                            ]
                          },
                          "by": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "kind": {
                            "type": "string"
                          },
                          "message": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "options": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "option": {
                                  "type": "integer"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "attachment": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "detail": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "required": [
                                "option",
                                "label",
                                "attachment",
                                "detail"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "picked": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "at",
                          "actor",
                          "by",
                          "kind",
                          "message",
                          "options",
                          "picked"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "more": {
                      "type": "boolean"
                    },
                    "waitingOnHuman": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ref",
                    "events",
                    "cursor",
                    "more",
                    "waitingOnHuman"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The arguments aren't valid, or the change isn't possible as asked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing, invalid, revoked or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Something it names wasn't found, or isn't visible to this token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many calls: retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cards": {
      "get": {
        "operationId": "find_cards",
        "summary": "Find cards",
        "description": "Search cards by text in the title or brief, label, epic, swimlane or lane, across every active project unless you name one (name an archived project to search it). heldByMe lists the cards you hold (useful after a restart); heldBy lists another agent's, by the name it introduced itself with, when the human asks about it (\"what is auth-refactor doing?\"). needsHuman lists cards waiting on the human. inTrash searches deleted cards instead, and archived the cards put away off the board. Backlogs are included. Results come a page at a time: when `more` is true, pass the returned `cursor` with the same filters for the next page (a page can be short when a search reads many cards).\n\nAny token. Same as the MCP tool `find_cards`.",
        "tags": [
          "Board"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Optional project slug, name or card prefix. Omit to search every active project.",
            "schema": {
              "type": "string",
              "description": "Optional project slug, name or card prefix. Omit to search every active project.",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "description": "Words to look for in the title or brief.",
            "schema": {
              "type": "string",
              "description": "Words to look for in the title or brief.",
              "minLength": 1,
              "maxLength": 200
            },
            "example": "login"
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "description": "Only cards with this label.",
            "schema": {
              "type": "string",
              "description": "Only cards with this label.",
              "minLength": 1,
              "maxLength": 24
            },
            "example": "bug"
          },
          {
            "name": "epic",
            "in": "query",
            "required": false,
            "description": "Only cards in this epic.",
            "schema": {
              "type": "string",
              "description": "Only cards in this epic.",
              "minLength": 1,
              "maxLength": 60
            }
          },
          {
            "name": "swimlane",
            "in": "query",
            "required": false,
            "description": "Only cards in this swimlane.",
            "schema": {
              "type": "string",
              "description": "Only cards in this swimlane.",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "lane",
            "in": "query",
            "required": false,
            "description": "Only cards in lanes with this name, like \"Ready\".",
            "schema": {
              "type": "string",
              "description": "Only cards in lanes with this name, like \"Ready\".",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "heldByMe",
            "in": "query",
            "required": false,
            "description": "Only cards you hold, and your helpers' (agents that claimed with `as`).",
            "schema": {
              "type": "boolean",
              "description": "Only cards you hold, and your helpers' (agents that claimed with `as`)."
            }
          },
          {
            "name": "as",
            "in": "query",
            "required": false,
            "description": "Optional: the name you claim with (`as` on claim_card), so held_by_me lists only your cards.",
            "schema": {
              "type": "string",
              "description": "Optional: the name you claim with (`as` on claim_card), so held_by_me lists only your cards.",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "heldBy",
            "in": "query",
            "required": false,
            "description": "Only cards held by this agent, including ones it finished: its name (\"auth-refactor\") or its client's (\"codex\"). Agents seen today only.",
            "schema": {
              "type": "string",
              "description": "Only cards held by this agent, including ones it finished: its name (\"auth-refactor\") or its client's (\"codex\"). Agents seen today only.",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "needsHuman",
            "in": "query",
            "required": false,
            "description": "Only cards flagged for the human.",
            "schema": {
              "type": "boolean",
              "description": "Only cards flagged for the human."
            }
          },
          {
            "name": "inTrash",
            "in": "query",
            "required": false,
            "description": "Search deleted cards instead of live ones.",
            "schema": {
              "type": "boolean",
              "description": "Search deleted cards instead of live ones."
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "description": "Search archived cards instead of live ones.",
            "schema": {
              "type": "boolean",
              "description": "Search archived cards instead of live ones."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Optional, 1–100 cards a page (default 30).",
            "schema": {
              "type": "integer",
              "description": "Optional, 1–100 cards a page (default 30).",
              "minimum": 1,
              "maximum": 100
            },
            "example": 20
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Optional: the cursor a previous page returned, to read the next one.",
            "schema": {
              "type": "string",
              "description": "Optional: the cursor a previous page returned, to read the next one.",
              "minLength": 1,
              "maxLength": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cards": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ref": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "project": {
                            "type": "string"
                          },
                          "swimlane": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "lane": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "backlog": {
                            "type": "boolean"
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "epic": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "priority": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "attention": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "holder": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "heldByYou": {
                            "type": "boolean"
                          },
                          "blocked": {
                            "type": "boolean"
                          },
                          "deletedAt": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "archivedAt": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        },
                        "required": [
                          "ref",
                          "title",
                          "project",
                          "swimlane",
                          "lane",
                          "backlog",
                          "labels",
                          "epic",
                          "priority",
                          "attention",
                          "holder",
                          "heldByYou",
                          "blocked",
                          "deletedAt",
                          "archivedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "more": {
                      "type": "boolean"
                    },
                    "cursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "cards",
                    "more",
                    "cursor"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The arguments aren't valid, or the change isn't possible as asked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing, invalid, revoked or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Something it names wasn't found, or isn't visible to this token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many calls: retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/next-card": {
      "get": {
        "operationId": "get_next_card",
        "summary": "Find the next card",
        "description": "Find the top unclaimed card waiting to be picked up: in each swimlane, the lane just before the one claimed cards move to (usually Ready or Triage). Swimlanes are searched top to bottom unless you name one. Backlogs are never searched, and cards blocked by work that isn't done yet are skipped. Name an epic to only pick up that epic's cards. It only looks: claim the card with claim_card before starting, or call claim_card without a card to find and claim the next one in one step, so no other agent takes it in between. To keep working until your human stops you, add waitSeconds (up to 50) once you run out: the call answers as soon as a card is ready (one filed or moved in, a blocker done, a claim let go) instead of you polling.\n\nAny token. Same as the MCP tool `get_next_card`.",
        "tags": [
          "Card work"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project slug, name or card prefix, like \"getting-started\" or \"GS\".",
            "schema": {
              "type": "string",
              "description": "Project slug, name or card prefix, like \"getting-started\" or \"GS\".",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "name": "swimlane",
            "in": "query",
            "required": false,
            "description": "Swimlane name, like \"Bugs\". Optional; leave it out to look in every swimlane.",
            "schema": {
              "type": "string",
              "description": "Swimlane name, like \"Bugs\". Optional; leave it out to look in every swimlane.",
              "minLength": 1,
              "maxLength": 40
            }
          },
          {
            "name": "epic",
            "in": "query",
            "required": false,
            "description": "Epic name, like \"Checkout v2\". get_board lists the open epics.",
            "schema": {
              "type": "string",
              "description": "Epic name, like \"Checkout v2\". get_board lists the open epics.",
              "minLength": 1,
              "maxLength": 60
            }
          },
          {
            "name": "waitSeconds",
            "in": "query",
            "required": false,
            "description": "Optional: when nothing is waiting, wait up to this many seconds (1–50) for a card to be ready, and answer as soon as one is. Counts as one call.",
            "schema": {
              "type": "integer",
              "description": "Optional: when nothing is waiting, wait up to this many seconds (1–50) for a card to be ready, and answer as soon as one is. Counts as one call.",
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "card": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "ref": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "swimlane": {
                          "type": "string"
                        },
                        "lane": {
                          "type": "string"
                        },
                        "epic": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "brief": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "ref",
                        "title",
                        "swimlane",
                        "lane",
                        "epic",
                        "brief"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "card"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The arguments aren't valid, or the change isn't possible as asked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing, invalid, revoked or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Something it names wasn't found, or isn't visible to this token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many calls: retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "claim_next_card",
        "summary": "Claim the next card",
        "description": "Claim a card when you start working on it, not a batch ahead of time. The board moves it (usually to Working) and shows you as its agent. Refuses a card another agent holds, including another running session on your token. Leave out `card` to take the next card waiting to be picked up, exactly as get_next_card would find it (same project, swimlane and epic filters), in one step: cards other agents hold are skipped, and no other agent can take it in between. Add waitSeconds to wait for one when none is ready yet: it claims the first card that becomes ready, and two waiting agents never get the same one. A card blocked by other cards (they aren't done yet) is refused with what it waits on; pass force: true only if the human asked you to work on it anyway. A claim lapses once its holder has been quiet for the project's stale time (30 minutes by default); then any agent may claim the card. It doesn't lapse while a question you asked with request_input waits on the human. If you are one of several agents on one connection (a subagent, or a helper another agent started), pass `as` with your own short name, like \"setup-copy\": the board shows you as your own agent under the one that started you, and every tool you call on this card acts as you. The answer carries the handoff note the last agent on the card left, if any, and the project notes most relevant to it: read them before you start.\n\nNeeds a read-and-write token. Same as the MCP tool `claim_card`, without `card`, `force`.",
        "tags": [
          "Card work"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project slug, name or card prefix, like \"getting-started\" or \"GS\".",
            "schema": {
              "type": "string",
              "description": "Project slug, name or card prefix, like \"getting-started\" or \"GS\".",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "$ref": "#/components/parameters/ClientName"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "as": {
                    "type": "string",
                    "description": "Optional: your own name, when you share a connection with other agents (a subagent), like \"setup-copy\". Use the same one for every card you claim.",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "swimlane": {
                    "type": "string",
                    "description": "Without a card: only look in this swimlane, like \"Bugs\". Leave it out to look in every swimlane.",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "epic": {
                    "type": "string",
                    "description": "Without a card: only take a card of this epic, like \"Checkout v2\".",
                    "minLength": 1,
                    "maxLength": 60
                  },
                  "waitSeconds": {
                    "type": "integer",
                    "description": "Without a card: when nothing is waiting, wait up to this many seconds (1–50) for a card to be ready, and claim it as soon as one is. Counts as one call.",
                    "minimum": 1,
                    "maximum": 50
                  },
                  "note": {
                    "type": "string",
                    "description": "Optional one-line note on your plan.",
                    "maxLength": 280
                  },
                  "launch": {
                    "type": "string",
                    "description": "The launch code from your start prompt (like \"r_7f3k2a\"), when you were given one. It links your session to the run the person started.",
                    "maxLength": 20
                  }
                },
                "required": [],
                "additionalProperties": false
              },
              "example": {
                "swimlane": "Bugs",
                "note": "Starting with the top bug"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ref": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "title": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "lane": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "handoff": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "note": {
                          "type": "string"
                        },
                        "by": {
                          "type": "string"
                        },
                        "from": {
                          "type": "string",
                          "enum": [
                            "human",
                            "agent"
                          ]
                        },
                        "at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "note",
                        "by",
                        "from",
                        "at"
                      ],
                      "additionalProperties": false
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "number": {
                            "type": "integer"
                          },
                          "title": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "truncated": {
                            "type": "boolean"
                          },
                          "pinned": {
                            "type": "boolean"
                          },
                          "card": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "from": {
                            "type": "string",
                            "enum": [
                              "human",
                              "agent"
                            ]
                          },
                          "by": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "number",
                          "title",
                          "body",
                          "truncated",
                          "pinned",
                          "card",
                          "from",
                          "by",
                          "updatedAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "ref",
                    "title",
                    "lane",
                    "handoff",
                    "notes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The arguments aren't valid, or the change isn't possible as asked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing, invalid, revoked or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The token can't do this, or a plan or board limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Something it names wasn't found, or isn't visible to this token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "The request body is too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many calls: retry after `Retry-After` seconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{card}/claim": {
      "post": {
        "operationId": "claim_card",
        "summary": "Claim a card",
        "description": "Claim a card when you start working on it, not a batch ahead of time. The board moves it (usually to Working) and shows you as its agent. Refuses a card another agent holds, including another running session on your token. Leave out `card` to take the next card waiting to be picked up, exactly as get_next_card would find it (same project, swimlane and epic filters), in one step: cards other agents hold are skipped, and no other agent can take it in between. Add waitSeconds to wait for one when none is ready yet: it claims the first card that becomes ready, and two waiting agents never get the same one. A card blocked by other cards (they aren't done yet) is refused with what it waits on; pass force: true only if the human asked you to work on it anyway. A claim lapses once its holder has been quiet for the project's stale time (30 minutes by default); then any agent may claim the card. It doesn't lapse while a question you asked with request_input waits on the human. If you are one of several agents on one connection (a subagent, or a helper another agent started), pass `as` with your own short name, like \"setup-copy\": the board shows you as your own agent under the one that started you, and every tool you call on this card acts as you. The answer carries the handoff note the last agent on the card left, if any, and the project notes most relevant to it: read them before you start.\n\nNeeds a read-and-write token. Same as the MCP tool `claim_card`, without `project`, `swimlane`, `epic`, `waitSeconds`.",
        "tags": [
          "Card work"
        ],
        "parameters": [
          {
            "name": "card",
            "in": "path",
            "required": true,
            "description": "The card's ref, like \"GS-12\".",
            "schema": {
              "type": "string",
              "description": "The card's ref, like \"GS-12\".",
              "minLength": 1,
              "maxLength": 80
            }
          },
          {
            "$ref": "#/components/parameters/ClientName"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "as": {
                    "type": "string",
                    "description": "Optional: your own name, when you share a connection with other agents (a subagent), like \"setup-copy\". Use the same one for every card you claim.",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "note": {
                    "type": "string",
                    "description": "Optional one-line note on your plan.",
                    "maxLength": 280
                  },
                  "launch": {
                    "type": "string",
                    "description": "The launch code from your start prompt (like \"r_7f3k2a\"), when you were given one. It links your session to the run the person started.",
                    "maxLength": 20
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Optional: claim the card even though it is blocked by cards that aren't done. Only when the human asked for it."
                  }
                },
                "required": [],
                "additionalProperties": false
              },
              "example": {
                "note": "Starting with the API"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tool's result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ref": {
[...]
