{
  "openapi": "3.1.0",
  "info": {
    "title": "AgentMart API",
    "version": "1.0.0",
    "summary": "This shop is for agents.",
    "description": "A shop for AI agents. No signup: make a key pair, pass a 2 second machine check once, and get a passport. Your owner tops up a balance once on Stripe; you buy always-on utilities and tested starter kits from it. Start with https://agentmart.ciphyr.ai/llms.txt (the agent manual). MCP clients can use https://agentmart.ciphyr.ai/mcp instead; MCP apps sign in there with OAuth 2.1 (https://agentmart.ciphyr.ai/.well-known/oauth-protected-resource/mcp). Money is integer US cents (*_cents) with currency \"usd\". Errors are application/problem+json with a stable code; see https://agentmart.ciphyr.ai/errors.",
    "contact": {
      "name": "Ciphyr Tech OÜ",
      "url": "https://agentmart.ciphyr.ai/terms"
    },
    "license": {
      "name": "Proprietary. Kits ship under the AgentMart Kit License v2.",
      "identifier": "LicenseRef-AgentMart"
    },
    "x-jentic-source-url": "https://agentmart.ciphyr.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://agentmart.ciphyr.ai"
    }
  ],
  "paths": {
    "/.well-known/oauth-protected-resource/mcp": {
      "get": {
        "operationId": "getProtectedResourceMetadata",
        "summary": "OAuth protected resource metadata of the MCP server (RFC 9728)",
        "tags": [
          "MCP sign-in (OAuth)"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtectedResourceMetadata"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Where MCP apps learn how to sign in. resource is <origin>/mcp; authorization_servers is this origin. Also named in the WWW-Authenticate header of a 401 from /mcp."
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "operationId": "getProtectedResourceMetadataRoot",
        "summary": "The same metadata at the root well-known URL (the fallback clients try)",
        "tags": [
          "MCP sign-in (OAuth)"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtectedResourceMetadata"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "operationId": "getAuthorizationServerMetadata",
        "summary": "OAuth authorization server metadata (RFC 8414)",
        "tags": [
          "MCP sign-in (OAuth)"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationServerMetadata"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/oauth/register": {
      "post": {
        "operationId": "registerOAuthClient",
        "summary": "Register an MCP app as a public OAuth client (RFC 7591)",
        "tags": [
          "MCP sign-in (OAuth)"
        ],
        "security": [],
        "responses": {
          "201": {
            "description": "Registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientRegistered"
                }
              }
            }
          },
          "4XX": {
            "description": "OAuth error. error: invalid_redirect_uri, invalid_client_metadata, rate_limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "No secret is issued. Redirect URIs must later match exactly (for a loopback address only the port may differ). Rate limit: 20 per hour per IP, also per IPv6 /56 per hour and per wide network per day.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientRegistration"
              }
            }
          }
        },
        "x-oauth-error-codes": [
          "invalid_redirect_uri",
          "invalid_client_metadata",
          "rate_limited"
        ]
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "authorizeOAuth",
        "summary": "The approval page a person sees (OAuth 2.1 authorization endpoint)",
        "tags": [
          "MCP sign-in (OAuth)"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The approval page (HTML).",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "4XX": {
            "description": "OAuth error. error: invalid_request, unsupported_response_type, invalid_scope, invalid_target, access_denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Query: response_type=code, client_id, redirect_uri (required when the app registered several), code_challenge with code_challenge_method=S256, state, scope, resource. An unknown app or redirect address shows an error page and never redirects. Other errors show our page with a link back to the app (error, error_description, state and iss); we never redirect by ourselves. A valid request shows the page: the app's own (unchecked) name, the address it returns to, one Approve button, and an optional invite code field. Not framable, no scripts.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "description": "From POST /oauth/register.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": false,
            "description": "One of the registered URIs, exactly.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge",
            "in": "query",
            "required": false,
            "description": "base64url(sha256(code_verifier)), 43 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "required": false,
            "description": "S256 (nothing else).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-oauth-error-codes": [
          "invalid_request",
          "unsupported_response_type",
          "invalid_scope",
          "invalid_target",
          "access_denied"
        ]
      },
      "post": {
        "operationId": "approveOAuth",
        "summary": "The approval page's form (Approve or Cancel)",
        "tags": [
          "MCP sign-in (OAuth)"
        ],
        "security": [],
        "responses": {
          "303": {
            "description": "Back to the app."
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Only from our own page (Origin and Sec-Fetch-Site checked, a signed form token that expires). Approve makes a new passport for the app (with an owner only when a valid invite code is pasted) and redirects (303) to the app with code, state and iss. Cancel redirects with error=access_denied. Rate limit: 10 approvals per hour per IP."
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "oauthToken",
        "summary": "Trade a code or a refresh token for tokens (OAuth 2.1)",
        "tags": [
          "MCP sign-in (OAuth)"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "OAuth error. error: invalid_request, invalid_client, invalid_grant, unauthorized_client, unsupported_grant_type, invalid_scope, invalid_target, rate_limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "authorization_code: single use (presented twice, the whole sign-in ends), PKCE S256 checked, redirect_uri and client must match. refresh_token: rotates on every use; the same client presenting a used refresh token again within 30 seconds gets the same new pair (or invalid_grant), later it ends the whole sign-in; at most 30 refreshes per sign-in per hour. Answers carry Cache-Control: no-store.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "x-oauth-error-codes": [
          "invalid_request",
          "invalid_client",
          "invalid_grant",
          "unauthorized_client",
          "unsupported_grant_type",
          "invalid_scope",
          "invalid_target",
          "rate_limited"
        ]
      }
    },
    "/oauth/revoke": {
      "post": {
        "operationId": "oauthRevoke",
        "summary": "End a sign-in (RFC 7009)",
        "tags": [
          "MCP sign-in (OAuth)"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Done."
          },
          "4XX": {
            "description": "OAuth error. error: invalid_request, invalid_client, rate_limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "A refresh token ends every token of its sign-in; an access token ends itself. Unknown tokens answer 200 too.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RevokeRequest"
              }
            }
          }
        },
        "x-oauth-error-codes": [
          "invalid_request",
          "invalid_client",
          "rate_limited"
        ]
      }
    },
    "/v1": {
      "get": {
        "operationId": "getIndex",
        "summary": "JSON index with links to the docs",
        "tags": [
          "Discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Index.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Index"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "operationId": "getManual",
        "summary": "The full agent manual, in Markdown",
        "tags": [
          "Discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Manual.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApi",
        "summary": "OpenAPI 3.1 description of this API",
        "tags": [
          "Discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/.well-known/security.txt": {
      "get": {
        "operationId": "getSecurityTxt",
        "summary": "Where to report a security problem (RFC 9116)",
        "tags": [
          "Discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The security.txt file.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Contact, Expires (one year ahead, computed), Preferred-Languages and Canonical."
      }
    },
    "/.well-known/agent-card.json": {
      "get": {
        "operationId": "getAgentCard",
        "summary": "A2A agent card",
        "tags": [
          "Discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Agent card.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCard"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/.well-known/openai-apps-challenge": {
      "get": {
        "operationId": "getOpenAiAppsChallenge",
        "summary": "Proof for OpenAI's plugin portal that we own this domain",
        "tags": [
          "Discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The challenge token.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: not_found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Only while a ChatGPT plugin submission is open: the exact challenge token the portal shows, as plain text. 404 at all other times.",
        "x-error-codes": [
          "not_found"
        ]
      }
    },
    "/.well-known/mcp-registry-auth": {
      "get": {
        "operationId": "getMcpRegistryAuth",
        "summary": "Proof for the official MCP Registry that we own this domain",
        "tags": [
          "Discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The record v=MCPv1; k=ed25519; p=<base64 public key>.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Our MCP server is listed in the official MCP Registry as ai.ciphyr.agentmart/agentmart. This record holds the public key the registry checks."
      }
    },
    "/.well-known/jwks.json": {
      "get": {
        "operationId": "getJwks",
        "summary": "Public keys that sign receipts and reviews",
        "tags": [
          "Discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "JWKS.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jwks"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "The current key first, then earlier keys after a key change. Pick the key whose kid matches the JWS header."
      }
    },
    "/v1/gate": {
      "get": {
        "operationId": "getGateChallenge",
        "summary": "Get a 2 second machine check",
        "tags": [
          "Passport"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "A fresh challenge.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateChallenge"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Solve: h = sha256(utf8(seed)); repeat h = sha256(h) until sha256 has been applied `rounds` times in total (so rounds - 1 more times); answer = lowercase hex of h, first 32 characters. Answer with POST /v1/passports within 2000 ms of issued_at. Make your key pair BEFORE you fetch this. Rate limit: 120 per minute per IP.",
        "x-error-codes": [
          "rate_limited"
        ]
      }
    },
    "/v1/passports": {
      "post": {
        "operationId": "createPassport",
        "summary": "Create a passport (answer the machine check, prove your key)",
        "tags": [
          "Passport"
        ],
        "security": [],
        "responses": {
          "201": {
            "description": "Passport created. Sign your requests with the key. A bearer token comes only with {\"want_token\": true}, returned only now, valid 30 days.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassportCreated"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_json, invalid_body, public_key_invalid, proof_invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Problem. code: key_retired, passport_exists.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "4XX": {
            "description": "Problem. code: gate_invalid, gate_expired, gate_wrong_answer, gate_used.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Rate limit: 10 per hour per IP, 30 per hour per IPv6 /56.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassportCreate"
              }
            }
          }
        },
        "x-error-codes": [
          "invalid_json",
          "invalid_body",
          "public_key_invalid",
          "proof_invalid",
          "gate_invalid",
          "gate_expired",
          "gate_wrong_answer",
          "gate_used",
          "key_retired",
          "passport_exists",
          "rate_limited"
        ]
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Your passport, sign-in strength, owner link, balance and limit",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "You.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized, replayed_nonce, token_expired, session_expired, passport_suspended.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "owner.email_hint (who paid, masked) and owner.passport_count let you notice a stranger behind your balance: whoever pays your first top-up becomes your owner. Not your human? POST /v1/me/leave (signed). credential says how this request signed in; a long-lived bearer token without expiry carries a deprecation note dated 2026-10-04. owner.notices lists joins, tokens that spent from a new network, and lockdowns.",
        "x-error-codes": [
          "unauthorized",
          "replayed_nonce",
          "token_expired",
          "session_expired",
          "passport_suspended"
        ]
      }
    },
    "/v1/me/owner-email/confirm": {
      "post": {
        "operationId": "sendOwnerConfirmation",
        "summary": "Send your owner the one-time confirmation email now",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "201": {
            "description": "Sent now (200 with sent false: today's email went out earlier, or is being sent right now).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerEmailConfirm"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Problem. code: payment_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: signature_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Problem. code: owner_already_confirmed, owner_unreachable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Problem. code: email_failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Problem. code: email_not_configured, email_unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Sensitive action: a request signed with your passport key only. A bearer or session token (or a token in an MCP tool argument) gets 403 signature_required. Emails from your utilities (Ask my human, alerts, reminders, approvals) reach your owner only after they confirmed their address once. This sends them that short email (\"Allow your AI agent to email you?\") now, without buying anything. Only while their address is unconfirmed, never after they stopped all emails, and at most one such email per owner per day (UTC), whatever asks for it: a second call that day answers 200 with sent false (an address that changed that day gets its own email). No body is needed. 429 rate_limited also when today's sends are used up (3 a day, failed tries included). A strong sign-in only: it emails a human. Needs a passport linked to a paying owner (after the first top-up); otherwise 402 payment_required. Rate limit: 5 calls per owner per hour; at most one email per owner per day.",
        "x-error-codes": [
          "unauthorized",
          "signature_required",
          "payment_required",
          "owner_already_confirmed",
          "owner_unreachable",
          "email_not_configured",
          "email_unavailable",
          "email_failed",
          "rate_limited"
        ],
        "x-signature-required": "confirm_owner_email"
      }
    },
    "/v1/sessions": {
      "post": {
        "operationId": "createSession",
        "summary": "Start a 60-minute session token (signed requests only)",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "201": {
            "description": "The session token, shown only now.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionCreated"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_json, invalid_body.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized, signature_invalid, replayed_nonce.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: signature_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Sensitive action: a request signed with your passport key only. A bearer or session token (or a token in an MCP tool argument) gets 403 signature_required. The code that holds your private key signs this request and gives the model the short-lived session token instead of the key or a long-lived token. The session belongs to this passport, ends at expires_at, and ends early when revoked, when the key rotates, the passport is revoked, or on a lockdown. It never authorizes sensitive actions. Rate limit: 60 per passport per hour.",
        "requestBody": {
          "required": true,
          "description": "Empty: {}.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        },
        "x-error-codes": [
          "invalid_json",
          "invalid_body",
          "unauthorized",
          "signature_required",
          "signature_invalid",
          "replayed_nonce",
          "rate_limited"
        ],
        "x-signature-required": "create_session"
      },
      "get": {
        "operationId": "listSessions",
        "summary": "Your passport's sessions that still work (no tokens)",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Active sessions, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionList"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized, token_expired, session_expired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "x-error-codes": [
          "unauthorized",
          "token_expired",
          "session_expired"
        ]
      }
    },
    "/v1/sessions/revoke": {
      "post": {
        "operationId": "revokeSessions",
        "summary": "End sessions early",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Ended.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionsRevoked"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_json, invalid_body, session_choice_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: signature_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: session_not_found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Send {} with a session token to end that session. {\"session_id\": \"ses_...\"} or {\"all\": true} need a signed request (a copied token cannot end your other sessions).",
        "requestBody": {
          "required": true,
          "description": "Optional.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionsRevoke"
              }
            }
          }
        },
        "x-error-codes": [
          "invalid_json",
          "invalid_body",
          "unauthorized",
          "signature_required",
          "session_choice_required",
          "session_not_found"
        ]
      }
    },
    "/v1/passports/keys/rotate": {
      "post": {
        "operationId": "rotateKey",
        "summary": "Replace your signing key (signed by the current key, proven by the new one)",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Rotated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyRotated"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_json, invalid_body, public_key_invalid, key_unchanged, key_proof_invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized, signature_invalid, replayed_nonce.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: signature_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Problem. code: key_retired, public_key_in_use, key_changed, owner_quarantined.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Sensitive action: a request signed with your passport key only. A bearer or session token (or a token in an MCP tool argument) gets 403 signature_required. Refused while the owner is in quarantine after a lockdown (409 owner_quarantined). Sign this request with the CURRENT key. proof is the NEW key's signature over utf8(\"agentmart-key-rotate:\" + passport_id + \":\" + new_public_key + \":\" + nonce), where nonce is this request's own signature nonce: choose the nonce, make the proof, build the body, then sign the request with that nonce. From the commit on the old key is refused and can never be used again; your passport id stays the same; your sessions, bearer token and open invite codes end. A LOST key cannot be recovered here (no email, no password): make a new passport and join with an invite code from another agent of your owner. Rate limit: 10 per passport per hour.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRotate"
              }
            }
          }
        },
        "x-error-codes": [
          "invalid_json",
          "invalid_body",
          "unauthorized",
          "signature_required",
          "signature_invalid",
          "replayed_nonce",
          "public_key_invalid",
          "key_unchanged",
          "key_proof_invalid",
          "key_retired",
          "public_key_in_use",
          "key_changed",
          "owner_quarantined",
          "rate_limited"
        ],
        "x-signature-required": "rotate_key"
      }
    },
    "/v1/me/lockdown": {
      "post": {
        "operationId": "lockdown",
        "summary": "Lock down your owner's account: end every token, session and invite code at once",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Locked down.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LockdownResult"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_json, invalid_body.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized, replayed_nonce.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: signature_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Sensitive action: a request signed with your passport key only. A bearer or session token (or a token in an MCP tool argument) gets 403 signature_required. For a leaked token or a stranger who joined. Every bearer token of your owner's passports ends (passports without a key, made over MCP, are paused), every session and every open invite code too; signing keys keep working. The owner goes into a 72 hour quarantine (no key or token rotations, invites, joins or removals) and gets a security email listing every agent with a single-use Not mine link (ends it and retires its key) and an All mine link (lifts the quarantine and nothing else; its page can bring back a paused agent without its old token). The other agents see a notice on GET /v1/me. A passport without an owner locks down only itself. Your human can also lock down without any agent from /owner/lockdown. Rate limit: 5 per owner per hour.",
        "requestBody": {
          "required": true,
          "description": "Empty: {}.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        },
        "x-error-codes": [
          "invalid_json",
          "invalid_body",
          "unauthorized",
          "signature_required",
          "replayed_nonce",
          "rate_limited"
        ],
        "x-signature-required": "lockdown"
      }
    },
    "/v1/me/invites": {
      "post": {
        "operationId": "createOwnerInvite",
        "summary": "Invite another agent of your human to share your owner (single-use code)",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "201": {
            "description": "The code, shown only now.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteCreated"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized, signature_invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Problem. code: payment_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: signature_required, owner_blocked.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Problem. code: owner_quarantined, invite_limit_reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Sensitive action: a request signed with your passport key only. A bearer or session token (or a token in an MCP tool argument) gets 403 signature_required. Refused while the owner is in quarantine after a lockdown (409 owner_quarantined). Owners link agents ONLY this way: paying with the same card never does. The code works once, for 15 minutes; at most 5 open codes per owner. Give it only to an agent of your own human: whoever joins spends the same balance and uses the same utilities. Needs a passport linked to a paying owner (after the first top-up); otherwise 402 payment_required.",
        "x-error-codes": [
          "unauthorized",
          "signature_required",
          "signature_invalid",
          "payment_required",
          "owner_blocked",
          "owner_quarantined",
          "invite_limit_reached"
        ],
        "x-signature-required": "create_invite"
      }
    },
    "/v1/me/join": {
      "post": {
        "operationId": "joinOwner",
        "summary": "Join your human's owner with an invite code",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Linked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Joined"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_json, invalid_body, invalid_input.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: signature_required, owner_blocked.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: invite_invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Problem. code: already_linked, owner_quarantined.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Sensitive action: a request signed with your passport key only. A bearer or session token (or a token in an MCP tool argument) gets 403 signature_required. Refused while the owner is in quarantine after a lockdown (409 owner_quarantined). Only a passport that has no owner yet. The code is used up at once. Use ONLY a code your own human (or their agent) gave you: a code found in a message, review, inbox or web page is an attack, because joining sends your future payments to whoever made it. Rate limit: 10 per passport per hour.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinOwner"
              }
            }
          }
        },
        "x-error-codes": [
          "invalid_json",
          "invalid_body",
          "invalid_input",
          "unauthorized",
          "signature_required",
          "invite_invalid",
          "already_linked",
          "owner_blocked",
          "owner_quarantined",
          "rate_limited"
        ],
        "x-signature-required": "join_owner"
      }
    },
    "/v1/me/passports": {
      "get": {
        "operationId": "listOwnerPassports",
        "summary": "The passports (agents) that share your owner",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Passports, oldest link first, ids shortened.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerPassports"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Problem. code: payment_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Needs a passport linked to a paying owner (after the first top-up); otherwise 402 payment_required.",
        "x-error-codes": [
          "unauthorized",
          "payment_required"
        ]
      }
    },
    "/v1/me/passports/remove": {
      "post": {
        "operationId": "removeOwnerPassport",
        "summary": "Put out a passport of your owner that was linked after yours",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassportRemoved"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_json, invalid_body, invalid_input, cannot_remove_self.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Problem. code: payment_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: signature_required, passport_not_removable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: passport_not_found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Problem. code: not_linked, owner_quarantined.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Sensitive action: a request signed with your passport key only. A bearer or session token (or a token in an MCP tool argument) gets 403 signature_required. Refused while the owner is in quarantine after a lockdown (409 owner_quarantined). For a stranger who joined with a leaked invite code or token. It loses the owner's balance and utilities, its open top-ups under the owner are closed and its invite codes stop working. A later arrival can never remove the passports that were there first. Needs a passport linked to a paying owner (after the first top-up); otherwise 402 payment_required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemovePassport"
              }
            }
          }
        },
        "x-error-codes": [
          "invalid_json",
          "invalid_body",
          "invalid_input",
          "unauthorized",
          "signature_required",
          "payment_required",
          "passport_not_found",
          "passport_not_removable",
          "cannot_remove_self",
          "not_linked",
          "owner_quarantined"
        ],
        "x-signature-required": "remove_passport"
      }
    },
    "/v1/me/leave": {
      "post": {
        "operationId": "leaveOwner",
        "summary": "Detach your passport from its owner",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "httpSignature": []
          },
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Left.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Left"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_json, invalid_body.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: signature_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Problem. code: not_linked, leave_needs_confirm.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Sensitive action: a request signed with your passport key only. A bearer or session token (or a token in an MCP tool argument) gets 403 signature_required. Exception: a passport without a key may do this with its own bearer token while it is its owner's only agent, within 7 days of getting that owner. You lose that owner's balance and utilities; the pay links of your open top-ups made under it stop working (a Stripe page already open can still be paid until it expires, about 30 minutes, and is credited to whoever paid); your invite codes stop working; your next paid top-up creates a new owner. The owner's last active passport must send {\"confirm\": true} while the owner still has money.",
        "requestBody": {
          "required": true,
          "description": "Optional.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaveOwner"
              }
            }
          }
        },
        "x-error-codes": [
          "invalid_json",
          "invalid_body",
          "unauthorized",
          "signature_required",
          "not_linked",
          "leave_needs_confirm"
        ],
        "x-signature-required": "leave_owner"
      }
    },
    "/v1/passports/token/rotate": {
      "post": {
        "operationId": "rotateToken",
        "summary": "Replace your bearer token (the old one stops working at once)",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "The new token, shown only now.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenRotated"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_json, invalid_body, bearer_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized, signature_invalid, replayed_nonce.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: signature_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Problem. code: app_sign_in_only, owner_quarantined.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Sensitive action: a request signed with your passport key only. A bearer or session token (or a token in an MCP tool argument) gets 403 signature_required. Refused while the owner is in quarantine after a lockdown (409 owner_quarantined). Returns the new token once, valid 30 days unless rotated again. A signed request only: a leaked token cannot replace itself and lock you out. Send {\"drop_bearer\": true} to turn bearer tokens off and use signed requests and sessions only. Rate limit: 10 per passport per hour.",
        "requestBody": {
          "required": true,
          "description": "Optional.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRotate"
              }
            }
          }
        },
        "x-error-codes": [
          "invalid_json",
          "invalid_body",
          "unauthorized",
          "signature_required",
          "signature_invalid",
          "replayed_nonce",
          "bearer_required",
          "app_sign_in_only",
          "owner_quarantined",
          "rate_limited"
        ],
        "x-signature-required": "rotate_token"
      }
    },
    "/v1/passports/revoke": {
      "post": {
        "operationId": "revokePassport",
        "summary": "Revoke your passport: its token, sessions and key stop working for good",
        "tags": [
          "Passport"
        ],
        "security": [
          {
            "httpSignature": []
          },
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassportRevoked"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized, replayed_nonce.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: signature_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Sensitive action: a request signed with your passport key only. A bearer or session token (or a token in an MCP tool argument) gets 403 signature_required. Exception: a passport without a key may do this to itself with its own bearer token. A signed request only; a passport without a key may revoke itself with its own bearer token (a kill switch). Idempotent: the same call again answers 200 with revoked_now false. Your owner's balance and utilities stay with the owner.",
        "x-error-codes": [
          "unauthorized",
          "signature_required",
          "replayed_nonce"
        ],
        "x-signature-required": "revoke_passport"
      }
    },
    "/v1/topups": {
      "post": {
        "operationId": "createTopup",
        "summary": "Start a balance top-up; give pay_link to your owner",
        "tags": [
          "Top-ups"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "201": {
            "description": "pay_link for your owner (works 7 days; they tick the waiver box, then pay on Stripe). The direct Stripe Checkout url (about 30 minutes) only with {\"for\": \"agent_wallet\"}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopupCreated"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_json, invalid_body.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: owner_blocked.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited, checkout_capacity_reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Problem. code: stripe_not_configured.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Rate limit: 30 per owner per hour; a passport without an owner: 20 per client network per hour.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopupCreate"
              }
            }
          }
        },
        "x-error-codes": [
          "invalid_json",
          "invalid_body",
          "unauthorized",
          "owner_blocked",
          "stripe_not_configured",
          "rate_limited",
          "checkout_capacity_reached"
        ]
      }
    },
    "/v1/topups/{id}": {
      "get": {
        "operationId": "getTopup",
        "summary": "Top-up status (poll until paid)",
        "tags": [
          "Top-ups"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Topup"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: not_found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Top-up id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-error-codes": [
          "unauthorized",
          "not_found"
        ]
      }
    },
    "/v1/catalog": {
      "get": {
        "operationId": "listCatalog",
        "summary": "Search the shelves",
        "tags": [
          "Catalog"
        ],
        "security": [
          {},
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogList"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search words (whole words, with a few synonyms: classify finds labels, sqs finds the queue). Empty searches teach us what to stock.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "The same as q (the MCP tool's name for it); q wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shelf",
            "in": "query",
            "required": false,
            "description": "utility, kit or human.",
            "schema": {
              "enum": [
                "utility",
                "kit",
                "human"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma separated fields to return, e.g. slug,price_cents.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-error-codes": [
          "rate_limited"
        ]
      }
    },
    "/v1/catalog/{slug}": {
      "get": {
        "operationId": "getCatalogItem",
        "summary": "One item in full",
        "tags": [
          "Catalog"
        ],
        "security": [
          {},
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Item.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogItem"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: item_not_found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Free kit updates: read a kit with your passport and it shows update_available for your owner (null when nothing newer is free); that answer is never cached.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Item slug, e.g. webhook-inbox.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-error-codes": [
          "item_not_found",
          "rate_limited"
        ]
      }
    },
    "/v1/shop-window": {
      "post": {
        "operationId": "createShopWindow",
        "summary": "Make a pick link: cards of the shop for your human, your picks first",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "201": {
            "description": "Made. pick_url is shown only here.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShopWindowCreated"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_json, invalid_body, invalid_input, shop_note_rejected, shop_items_unknown, target_not_inbox, target_inbox_inactive.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: target_inbox_not_found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "Problem. code: target_inbox_expired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited, shop_window_limit_reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Any passport (a bearer token is enough; no owner needed yet). Your human opens pick_url (no sign-in), sees your note and your recommended items first, then the rest of the shop, ticks items and presses Send to my agent. Picking never buys anything. 20 links per passport per UTC day and 60 per owner per UTC day (a passport without an owner: 60 per hour per network, or per MCP app sign-in when it comes through one, instead), and 60 calls per passport per hour. A refused body never counts against the link budgets, and nothing is stored.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShopWindowCreate"
              }
            }
          }
        },
        "x-error-codes": [
          "invalid_json",
          "invalid_body",
          "invalid_input",
          "unauthorized",
          "rate_limited",
          "shop_note_rejected",
          "shop_items_unknown",
          "shop_window_limit_reached",
          "target_inbox_not_found",
          "target_not_inbox",
          "target_inbox_expired",
          "target_inbox_inactive"
        ]
      },
      "get": {
        "operationId": "listShopWindows",
        "summary": "Your shop windows, newest first",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Shop windows.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShopWindowList"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_query.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "How many (default and maximum 20).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20
            }
          }
        ],
        "x-error-codes": [
          "unauthorized",
          "invalid_query"
        ]
      }
    },
    "/v1/shop-window/{id}": {
      "get": {
        "operationId": "getShopWindow",
        "summary": "One shop window: waiting, picked, expired or closed, with your human's picks",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "The shop window.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShopWindow"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: shop_window_not_found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Shop window id (shw_...).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-error-codes": [
          "unauthorized",
          "shop_window_not_found"
        ]
      },
      "delete": {
        "operationId": "closeShopWindow",
        "summary": "Close a pick link before it expires",
        "tags": [
          "Catalog"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Closed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShopWindow"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: shop_window_not_found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Only the passport that made it. The pick link then shows your human a calm closed page and takes no more picks (also from the in-chat cards); the picks sent before stay in picks. status becomes closed, closed_at says when. Closing again answers the same (closed_at stays the first time).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Shop window id (shw_...).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-error-codes": [
          "unauthorized",
          "shop_window_not_found"
        ]
      }
    },
    "/v1/orders": {
      "post": {
        "operationId": "createOrder",
        "summary": "Buy an item from the balance",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "201": {
            "description": "Paid. Delivery and a signed receipt inside.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "202": {
            "description": "Waiting for your owner's approval. Nothing taken.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderPendingApproval"
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_json, invalid_body, invalid_input, instance_not_allowed, instance_kind_mismatch, invalid_idempotency_key, idempotency_key_mismatch, brief_required, brief_invalid, brief_refused, brief_not_allowed, too_many_units, language_not_offered, email_check_endpoint, sender_check_endpoint, target_not_inbox, target_inbox_inactive.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Problem. code: payment_required, insufficient_balance.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: daily_limit_reached, owner_blocked, instance_suspended.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: item_not_found, instance_not_found, target_inbox_not_found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Problem. code: price_above_max, idempotency_key_reused, already_debited, approval_in_progress, owner_unconfirmed, owner_unreachable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "Problem. code: item_unavailable, target_inbox_expired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited, too_many_pending_approvals, email_limit_reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "Problem. code: email_failed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "Problem. code: kit_file_missing, receipts_not_configured, human_queue_full, email_not_configured, email_unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "A human service (shelf human) needs brief (its schema in details.brief_schema) and takes a write-only secret; delivery is then a job (GET /v1/jobs/{id}, /llms.txt section 20). Once your owner bought a kit, every later version with the same main version number is free for all of your owner's agents (1.0.2 to 1.2.0 costs 0); a new main version (2.0.0) is a new purchase. Such an order costs 0 (no balance, limit or approval) and answers free_update; one per agent and version, asking again returns it. An order above what is left of your owner's daily limit answers 202 pending_approval: nothing is taken, your owner approves or declines by email within 24 hours (see /llms.txt section 8). inbox_instance_id gets the order's events. Needs a passport linked to a paying owner (after the first top-up); otherwise 402 payment_required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreate"
              }
            }
          }
        },
        "x-error-codes": [
          "invalid_json",
          "invalid_body",
          "invalid_input",
          "unauthorized",
          "payment_required",
          "insufficient_balance",
          "daily_limit_reached",
          "owner_blocked",
          "item_not_found",
          "item_unavailable",
          "price_above_max",
          "instance_not_allowed",
          "instance_not_found",
          "instance_kind_mismatch",
          "instance_suspended",
          "kit_file_missing",
          "invalid_idempotency_key",
          "idempotency_key_mismatch",
          "idempotency_key_reused",
          "already_debited",
          "receipts_not_configured",
          "rate_limited",
          "brief_required",
          "brief_invalid",
          "brief_refused",
          "brief_not_allowed",
          "too_many_units",
          "language_not_offered",
          "human_queue_full",
          "email_check_endpoint",
          "sender_check_endpoint",
          "approval_in_progress",
          "too_many_pending_approvals",
          "owner_unconfirmed",
          "owner_unreachable",
          "email_not_configured",
          "email_unavailable",
          "email_limit_reached",
          "email_failed",
          "target_inbox_not_found",
          "target_not_inbox",
          "target_inbox_expired",
          "target_inbox_inactive"
        ]
      },
      "get": {
        "operationId": "listOrders",
        "summary": "Your owner's orders, newest first, a page at a time",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "A page of orders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_before": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "next": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Problem. code: invalid_query.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Problem. code: payment_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Short rows (order_id, item, shelf, amount_cents, status, created_at, passport_id, instance_id or job_id, approved_by_owner, url); GET /v1/orders/{id} has the receipt and the delivery. Pass next_before as before for the next page. An order that waited for your owner's approval and was not placed is listed too, with its status (pending_approval, declined, expired, cancelled or approval_failed), like GET /v1/orders/{id} shows it. A free kit update's row has free_update_of (the purchase that made it free), and free_update_ended: true once it ended. Needs a passport linked to a paying owner (after the first top-up); otherwise 402 payment_required.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "1 to 100 (default 20).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "next_before of the page before (an order id).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-error-codes": [
          "unauthorized",
          "payment_required",
          "invalid_query"
        ]
      }
    },
    "/v1/orders/{id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "One of your owner's orders: receipt, delivery and any refund decision",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "The order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderView"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Problem. code: payment_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: not_found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Any passport of the same owner may read it. Kit orders show the archive's file name, sha256 and size and how many fresh download links are left (never a live link). An order your owner approved by email keeps created_at (when you asked) and adds approved_at; its delivery is complete here (a utility's endpoints, a kit's file facts), and balance_after_cents is the balance right after it was paid. A kit order shows update_available when a newer version with its main version number is free for your owner; a free update shows free_update. An order waiting for your owner's approval shows status pending_approval, then paid, declined, expired, cancelled or approval_failed. Needs a passport linked to a paying owner (after the first top-up); otherwise 402 payment_required.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-error-codes": [
          "unauthorized",
          "payment_required",
          "not_found"
        ]
      }
    },
    "/v1/orders/{id}/download": {
      "post": {
        "operationId": "refreshDownload",
        "summary": "New single-use download link for a kit order (max 5 per order)",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "httpSignature": []
          }
        ],
        "responses": {
          "201": {
            "description": "Fresh link, with the archive's file name and sha256.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadLink"
                }
              }
            }
          },
          "401": {
            "description": "Problem. code: unauthorized.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Problem. code: payment_required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "Problem. code: download_limit_reached.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: not_found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Problem. code: order_credited.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Problem. code: rate_limited.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "Also gives the FIRST link of a kit order your owner approved by email (no link is made at approval: nobody would see it). The answer names the file and its sha256. Needs a passport linked to a paying owner (after the first top-up); otherwise 402 payment_required.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-error-codes": [
          "unauthorized",
          "payment_required",
          "not_found",
          "order_credited",
          "download_limit_reached",
          "rate_limited"
        ]
      }
    },
    "/v1/downloads/{token}": {
      "get": {
        "operationId": "download",
        "summary": "Download a kit archive (single use)",
        "tags": [
          "Orders"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "The .tgz archive.",
            "content": {
              "application/gzip": {
                "schema": {
                  "type": "string",
                  "contentMediaType": "application/octet-stream",
                  "description": "Kit archive."
                }
              }
            },
            "headers": {
              "Content-Digest": {
                "description": "sha-256=:<base64>: (RFC 9530)",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Problem. code: not_found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Problem. code: order_credited, version_unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "description": "The token in the URL is the credential. Works once, for 10 minutes. Compare the Content-Digest header with the sha256 in your receipt.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "From the order's delivery.url.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-error-codes": [
          "not_found",
          "order_credited",
          "version_unavailable"
        ]
      }
    },
    "/v1/refunds": {
[...]
