{
  "openapi": "3.1.0",
  "info": {
    "title": "Compelling API",
    "version": "1.0.0",
    "description": "The Compelling API lets you programmatically manage workspaces, lists, accounts,\ncontacts, AI-powered insights, research workflows, exports, and CRM integrations.\n\nAll endpoints are versioned under `/v1`. Standard HTTP conventions apply:\n- `GET` — read a resource\n- `POST` — create a resource or trigger an action\n- `PATCH` — partial update\n- `PUT` — full replacement\n- `DELETE` — remove or cancel\n\nAuthentication uses a Bearer token issued from your workspace settings.\n",
    "contact": {
      "name": "Compelling",
      "url": "https://compelling.ai"
    },
    "x-jentic-source-url": "https://docs.compelling.ai/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.compelling.ai/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/workspaces": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Create a workspace",
        "operationId": "createWorkspace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Acme Corp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/workspaces/{workspace_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        }
      ],
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get a workspace",
        "operationId": "getWorkspace",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Update a workspace",
        "operationId": "updateWorkspace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Acme Corp (Renamed)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/reset": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        }
      ],
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Reset a workspace",
        "description": "Destructively clears all lists, accounts, contacts, and insights in the workspace. The workspace itself is preserved. **This action is irreversible.**\n",
        "operationId": "resetWorkspace",
        "responses": {
          "204": {
            "description": "Reset complete"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        }
      ],
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "List all lists",
        "operationId": "getLists",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/List"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Create a list",
        "operationId": "createList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Series B SaaS Companies"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        }
      ],
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get a list",
        "operationId": "getList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Lists"
        ],
        "summary": "Update a list",
        "operationId": "updateList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Lists"
        ],
        "summary": "Archive a list",
        "operationId": "archiveList",
        "responses": {
          "204": {
            "description": "Archived"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/filtered-copy": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        }
      ],
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Create a filtered copy",
        "description": "Creates a new list containing only the accounts that match the provided filters.",
        "operationId": "filteredCopyList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "filters"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Series B SaaS — US Only"
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Filter"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New list created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/views": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        }
      ],
      "get": {
        "tags": [
          "Views"
        ],
        "summary": "List views",
        "operationId": "getViews",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/View"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Views"
        ],
        "summary": "Create a view",
        "operationId": "createView",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/views/{view_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/view_id"
        }
      ],
      "get": {
        "tags": [
          "Views"
        ],
        "summary": "Get a view",
        "operationId": "getView",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Views"
        ],
        "summary": "Update a view",
        "description": "Update filters, visible columns, or sorting. Only provided fields are changed.",
        "operationId": "updateView",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Views"
        ],
        "summary": "Delete a view",
        "operationId": "deleteView",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/accounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        }
      ],
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts",
        "description": "Returns paginated account rows for the list. Pass `view_id` to apply the view's filters and sort order.\n",
        "operationId": "getAccounts",
        "parameters": [
          {
            "name": "view_id",
            "in": "query",
            "description": "Apply filters and sorting from this view.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAccounts"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Add an account",
        "description": "Manually add a single account to the list by domain or name.",
        "operationId": "addAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "example": "acme.com"
                  },
                  "name": {
                    "type": "string",
                    "example": "Acme Inc."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "409": {
            "description": "Account already exists in this list"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/accounts/{account_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get an account",
        "description": "Fetch a single account and its insight values by ID. Useful for webhook-driven lookups.",
        "operationId": "getAccount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Remove an account",
        "description": "Removes the account from the list.",
        "operationId": "removeAccount",
        "responses": {
          "204": {
            "description": "Removed"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/accounts/insights": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        }
      ],
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Add an insight column",
        "description": "Adds a new AI research question as a column on all accounts in this list.",
        "operationId": "addAccountInsight",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsightInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Insight column created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insight"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/accounts/insights/{insight_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/insight_id"
        }
      ],
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update an insight column",
        "operationId": "updateAccountInsight",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsightInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insight"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Remove an insight column",
        "operationId": "deleteAccountInsight",
        "responses": {
          "204": {
            "description": "Removed"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/accounts/insights/{insight_id}/answers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/insight_id"
        }
      ],
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Generate answers for an insight",
        "description": "Triggers AI research to fill in the insight column for all accounts in the list.",
        "operationId": "generateAccountInsightAnswers",
        "responses": {
          "202": {
            "description": "Generation started",
            "headers": {
              "Location": {
                "description": "URL to poll for job status.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/contacts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        }
      ],
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts",
        "description": "Returns paginated contact rows for the list. Pass `view_id` to apply the view's filters and sort order.\n",
        "operationId": "getContacts",
        "parameters": [
          {
            "name": "view_id",
            "in": "query",
            "description": "Apply filters and sorting from this view.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedContacts"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Generate contacts",
        "description": "Triggers AI-powered contact discovery for all accounts in the list.",
        "operationId": "generateContacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "CEO",
                      "CTO",
                      "VP Engineering"
                    ],
                    "description": "Target job roles or titles to find."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Generation started",
            "headers": {
              "Location": {
                "description": "URL to poll for job status.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/contacts/{contact_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/contact_id"
        }
      ],
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a contact",
        "description": "Fetch a single contact and its insight values by ID. Useful for webhook-driven lookups.",
        "operationId": "getContact",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/contacts/pending": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        }
      ],
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Cancel contact generation",
        "operationId": "cancelContactGeneration",
        "responses": {
          "204": {
            "description": "Cancelled"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/contacts/insights": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        }
      ],
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add a contact insight column",
        "operationId": "addContactInsight",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsightInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Insight column created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insight"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/contacts/insights/{insight_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/insight_id"
        }
      ],
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact insight column",
        "operationId": "updateContactInsight",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsightInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insight"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Remove a contact insight column",
        "operationId": "deleteContactInsight",
        "responses": {
          "204": {
            "description": "Removed"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/contacts/insights/{insight_id}/answers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/insight_id"
        }
      ],
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Generate answers for a contact insight",
        "description": "Triggers AI research to fill in the insight column for all contacts in the list.",
        "operationId": "generateContactInsightAnswers",
        "responses": {
          "202": {
            "description": "Generation started",
            "headers": {
              "Location": {
                "description": "URL to poll for job status.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/workflows": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        }
      ],
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "List workflows",
        "operationId": "getWorkflows",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workflow"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Create a workflow",
        "operationId": "createWorkflow",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "ICP Enrichment Pipeline"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/workflows/{workflow_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/workflow_id"
        }
      ],
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get a workflow",
        "operationId": "getWorkflow",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Workflows"
        ],
        "summary": "Update a workflow",
        "operationId": "updateWorkflow",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workflows"
        ],
        "summary": "Delete a workflow",
        "operationId": "deleteWorkflow",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/workflows/{workflow_id}/run": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/workflow_id"
        }
      ],
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Run a workflow",
        "description": "Executes all steps in the workflow sequentially against the list's accounts and contacts.",
        "operationId": "runWorkflow",
        "responses": {
          "202": {
            "description": "Run started",
            "headers": {
              "Location": {
                "description": "URL to poll for job status.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/workflows/{workflow_id}/pending": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/workflow_id"
        }
      ],
      "delete": {
        "tags": [
          "Workflows"
        ],
        "summary": "Cancel a running workflow",
        "operationId": "cancelWorkflow",
        "responses": {
          "204": {
            "description": "Cancelled"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/workflows/{workflow_id}/steps": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/workflow_id"
        }
      ],
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "List steps",
        "operationId": "getSteps",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Step"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Add a step",
        "operationId": "createStep",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StepInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Step"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/workflows/{workflow_id}/steps/reorder": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/workflow_id"
        }
      ],
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Reorder steps",
        "operationId": "reorderSteps",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "step_ids"
                ],
                "properties": {
                  "step_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Full ordered list of step IDs representing the desired sequence.",
                    "example": [
                      "stp_03",
                      "stp_01",
                      "stp_02"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reordered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Step"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/workflows/{workflow_id}/steps/{step_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "$ref": "#/components/parameters/workflow_id"
        },
        {
          "$ref": "#/components/parameters/step_id"
        }
      ],
      "patch": {
        "tags": [
          "Workflows"
        ],
        "summary": "Update a step",
        "operationId": "updateStep",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StepInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Step"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workflows"
        ],
        "summary": "Remove a step",
        "operationId": "deleteStep",
        "responses": {
          "204": {
            "description": "Removed"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/exports": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        }
      ],
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "List exports",
        "operationId": "getExports",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Export"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/exports/{target}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "name": "target",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "file",
              "hubspot",
              "pipedrive",
              "google-sheets"
            ]
          }
        }
      ],
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Create an export",
        "description": "Export list data to a file download, push rows to a CRM, or sync to Google Sheets. For `file` exports a download link is provided once complete.\n",
        "operationId": "createExport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "format": {
                    "type": "string",
                    "enum": [
                      "csv",
                      "xlsx"
                    ],
                    "description": "File format — only applies to `file` target."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Export started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Export"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/lists/{list_id}/exports/{export_id}/download": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/list_id"
        },
        {
          "name": "export_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Download export file",
        "description": "Returns the file for a completed `file` export.",
        "operationId": "downloadExport",
        "responses": {
          "200": {
            "description": "File download",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/credits": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        }
      ],
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "Get credit balance",
        "description": "Returns the current credit balance and a usage summary for the billing period.",
        "operationId": "getCredits",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalance"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/credits/transactions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        }
      ],
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "List credit transactions",
        "description": "Paginated history of credit consumption events.",
        "operationId": "getCreditTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCreditTransactions"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/jobs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        }
      ],
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List jobs",
        "description": "Returns all async jobs for the workspace. Filter by `list_id` to see only jobs for a specific list.\n",
        "operationId": "getJobs",
        "parameters": [
          {
            "name": "list_id",
            "in": "query",
            "description": "Filter jobs by list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "running",
                "complete",
                "failed"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedJobs"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/jobs/{job_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/job_id"
        }
      ],
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get a job",
        "description": "Poll this endpoint to check the status of an async operation.",
        "operationId": "getJob",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/integrations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List integrations",
        "description": "Returns the connection state of all supported providers for this workspace.",
        "operationId": "getIntegrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/integrations/{provider}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/provider"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Get integration state",
        "operationId": "getIntegration",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "Disconnect provider",
        "description": "Disconnects the integration and deletes all associated mappings.",
        "operationId": "disconnectIntegration",
        "responses": {
          "204": {
            "description": "Disconnected"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/integrations/{provider}/validate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/provider"
        }
      ],
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Validate credentials",
        "description": "Tests provider credentials before connecting. Useful for API-key–based providers.",
        "operationId": "validateIntegration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Provider-specific credential payload (e.g. `{ \"api_key\": \"...\" }`).",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credentials valid"
          },
          "422": {
            "description": "Credentials invalid"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/integrations/{provider}/account-mappings": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/provider"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List account mappings",
        "description": "Field mappings between provider account fields and Compelling account properties.",
        "operationId": "getAccountMappings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldMapping"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create account mapping",
        "operationId": "createAccountMapping",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldMappingInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMapping"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/integrations/{provider}/account-mappings/{mapping_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/provider"
        },
        {
          "$ref": "#/components/parameters/mapping_id"
        }
      ],
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "Delete account mapping",
        "operationId": "deleteAccountMapping",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/integrations/{provider}/account-question-mappings": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/provider"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List account question mappings",
        "description": "Mappings between provider fields and account insight columns.",
        "operationId": "getAccountQuestionMappings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldMapping"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create account question mapping",
        "operationId": "createAccountQuestionMapping",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldMappingInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMapping"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/integrations/{provider}/account-question-mappings/{mapping_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/provider"
        },
        {
          "$ref": "#/components/parameters/mapping_id"
        }
      ],
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "Delete account question mapping",
        "operationId": "deleteAccountQuestionMapping",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/integrations/{provider}/contact-mappings": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/provider"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List contact mappings",
        "description": "Field mappings between provider contact fields and Compelling contact properties.",
        "operationId": "getContactMappings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldMapping"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create contact mapping",
        "operationId": "createContactMapping",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldMappingInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMapping"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/integrations/{provider}/contact-mappings/{mapping_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/provider"
        },
        {
          "$ref": "#/components/parameters/mapping_id"
        }
      ],
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "Delete contact mapping",
        "operationId": "deleteContactMapping",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/integrations/{provider}/contact-question-mappings": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/provider"
        }
      ],
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List contact question mappings",
        "description": "Mappings between provider fields and contact insight columns.",
        "operationId": "getContactQuestionMappings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldMapping"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create contact question mapping",
        "operationId": "createContactQuestionMapping",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldMappingInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMapping"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/integrations/{provider}/contact-question-mappings/{mapping_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        },
        {
          "$ref": "#/components/parameters/provider"
        },
        {
          "$ref": "#/components/parameters/mapping_id"
        }
      ],
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "Delete contact question mapping",
        "operationId": "deleteContactQuestionMapping",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search accounts",
        "description": "Searches for accounts matching a natural-language query and optional filters. Results can be added directly to a list.\n",
        "operationId": "search",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "example": "B2B SaaS companies in Berlin with 50–200 employees"
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Filter"
                    }
                  },
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "integer",
                    "default": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key issued from your workspace settings. Pass as `Authorization: Bearer <token>`."
      }
    },
    "parameters": {
      "workspace_id": {
        "name": "workspace_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "ws_01HX"
      },
      "list_id": {
        "name": "list_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "lst_01HX"
      },
      "view_id": {
        "name": "view_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "viw_01HX"
      },
      "insight_id": {
        "name": "insight_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "ins_01HX"
      },
      "workflow_id": {
        "name": "workflow_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "wfl_01HX"
      },
      "step_id": {
        "name": "step_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "stp_01HX"
      },
      "provider": {
        "name": "provider",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "hubspot",
            "pipedrive",
            "google-sheets"
          ]
        }
      },
      "account_id": {
        "name": "account_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "acc_01HX"
      },
      "contact_id": {
        "name": "contact_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "con_01HX"
      },
      "job_id": {
        "name": "job_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "job_01HX"
      },
      "mapping_id": {
        "name": "mapping_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "map_01HX"
      },
      "page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1
        }
      },
      "size": {
        "name": "size",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 25,
          "maximum": 100
        }
      }
    },
    "responses": {
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "resource_not_found"
          },
          "message": {
            "type": "string",
            "example": "The requested resource could not be found."
          }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ws_01HX"
          },
          "name": {
            "type": "string",
            "example": "Acme Corp"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "lst_01HX"
          },
          "workspace_id": {
            "type": "string",
            "example": "ws_01HX"
          },
          "name": {
            "type": "string",
            "example": "Series B SaaS Companies"
          },
          "account_count": {
            "type": "integer",
            "example": 342
          },
          "contact_count": {
            "type": "integer",
            "example": 1028
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "View": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "viw_01HX"
          },
          "list_id": {
            "type": "string",
            "example": "lst_01HX"
          },
          "name": {
            "type": "string",
            "example": "US Only — Funded"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "name",
              "domain",
              "employee_count",
              "funding_stage",
              "country"
            ]
          },
          "sorting": {
            "$ref": "#/components/schemas/Sorting"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ViewInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "US Only — Funded"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sorting": {
            "$ref": "#/components/schemas/Sorting"
          }
        }
      },
      "Sorting": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "example": "employee_count"
          },
          "direction": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "example": "desc"
          }
        }
      },
      "Filter": {
        "type": "object",
        "required": [
          "field",
          "operator",
          "value"
        ],
        "properties": {
          "field": {
            "type": "string",
            "example": "country"
          },
          "operator": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "contains",
              "gt",
              "lt",
              "in",
              "not_in"
            ],
            "example": "eq"
          },
          "value": {
            "example": "US"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "acc_01HX"
          },
          "list_id": {
            "type": "string",
            "example": "lst_01HX"
          },
          "name": {
            "type": "string",
            "example": "Acme Inc."
          },
          "domain": {
            "type": "string",
            "example": "acme.com"
          },
          "employee_count": {
            "type": "integer",
            "example": 120
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "industry": {
            "type": "string",
            "example": "Software"
          },
          "funding_stage": {
            "type": "string",
            "example": "Series B"
          },
          "insights": {
            "type": "object",
            "additionalProperties": true,
            "description": "Dynamic key/value map of AI-generated insight column answers.",
            "example": {
              "gtm_motion": "Product-led growth",
              "icp_fit": "High"
            }
          }
        }
      },
      "PaginatedAccounts": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "con_01HX"
          },
          "account_id": {
            "type": "string",
            "example": "acc_01HX"
          },
          "list_id": {
            "type": "string",
            "example": "lst_01HX"
          },
          "name": {
            "type": "string",
            "example": "Jane Smith"
          },
          "title": {
            "type": "string",
            "example": "VP of Engineering"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane@acme.com"
          },
          "linkedin_url": {
            "type": "string",
            "example": "https://linkedin.com/in/janesmith"
          },
          "insights": {
            "type": "object",
            "additionalProperties": true,
            "description": "Dynamic key/value map of AI-generated insight column answers."
          }
        }
      },
      "PaginatedContacts": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Insight": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ins_01HX"
          },
          "list_id": {
            "type": "string"
          },
          "question": {
            "type": "string",
            "example": "What is the company's primary go-to-market motion?"
          },
          "column_name": {
            "type": "string",
            "example": "gtm_motion"
          },
          "status": {
            "type": "string",
            "enum": [
              "idle",
              "running",
              "complete",
              "failed"
            ]
          }
        }
      },
      "InsightInput": {
        "type": "object",
        "required": [
          "question",
          "column_name"
        ],
        "properties": {
          "question": {
            "type": "string",
            "example": "What is the company's primary go-to-market motion?"
          },
          "column_name": {
            "type": "string",
            "example": "gtm_motion"
          }
        }
      },
      "Workflow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "wfl_01HX"
          },
          "list_id": {
            "type": "string",
            "example": "lst_01HX"
          },
          "name": {
            "type": "string",
            "example": "ICP Enrichment Pipeline"
          },
          "status": {
            "type": "string",
            "enum": [
              "idle",
              "running",
              "complete",
              "failed"
            ]
          },
          "step_count": {
            "type": "integer",
            "example": 3
          },
          "last_run_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Step": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "stp_01HX"
          },
          "workflow_id": {
            "type": "string",
            "example": "wfl_01HX"
          },
          "order": {
            "type": "integer",
            "example": 1
          },
          "type": {
            "type": "string",
            "enum": [
              "generate_contacts",
              "account_insight",
              "contact_insight"
            ]
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "description": "Step-type-specific configuration (e.g. question text for insight steps)."
          }
        }
      },
      "StepInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "generate_contacts",
              "account_insight",
              "contact_insight"
            ]
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "question": "What is the company's primary ICP segment?",
              "column_name": "icp_segment"
            }
          }
        }
      },
      "Export": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "exp_01HX"
          },
          "list_id": {
            "type": "string"
          },
          "target": {
            "type": "string",
            "enum": [
              "file",
              "hubspot",
              "pipedrive",
              "google-sheets"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "complete",
              "failed"
            ]
          },
          "download_url": {
            "type": "string",
            "nullable": true,
            "description": "Populated for completed `file` exports."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "example": "job_01HX"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "running",
              "complete",
              "failed"
            ],
            "example": "running"
          },
          "type": {
            "type": "string",
            "enum": [
              "contact_generation",
              "account_insight_answers",
              "contact_insight_answers",
              "workflow_run"
            ],
            "example": "contact_generation"
          },
          "list_id": {
            "type": "string",
            "example": "lst_01HX"
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Error message if status is `failed`."
          },
          "result": {
            "type": "object",
            "nullable": true,
            "description": "Summary or result data when status is `complete`.",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedJobs": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "CreditBalance": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "integer",
            "description": "Remaining credits.",
            "example": 4200
          },
          "used_this_period": {
            "type": "integer",
            "example": 800
          },
          "total_this_period": {
            "type": "integer",
            "example": 5000
          },
          "resets_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreditTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "integer",
            "description": "Credits consumed (negative) or added (positive).",
            "example": -5
          },
          "operation": {
            "type": "string",
            "example": "account_insight_answer"
          },
          "list_id": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedCreditTransactions": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreditTransaction"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Integration": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "example": "hubspot"
          },
          "status": {
            "type": "string",
            "enum": [
              "connected",
              "disconnected",
              "error"
            ]
          },
          "connected_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "FieldMapping": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "map_01HX"
          },
          "provider_field": {
            "type": "string",
            "example": "hs_company_size"
          },
          "compelling_field": {
            "type": "string",
            "example": "employee_count"
          },
          "direction": {
            "type": "string",
            "enum": [
              "import",
              "export",
              "both"
            ]
          }
        }
      },
      "FieldMappingInput": {
        "type": "object",
        "required": [
          "provider_field",
          "compelling_field",
          "direction"
        ],
        "properties": {
          "provider_field": {
            "type": "string",
            "example": "hs_company_size"
          },
          "compelling_field": {
            "type": "string",
            "example": "employee_count"
          },
          "direction": {
            "type": "string",
            "enum": [
              "import",
              "export",
              "both"
            ]
          }
        }
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "example": 1
          },
          "size": {
            "type": "integer",
            "example": 25
          },
          "total": {
            "type": "integer",
            "example": 342
          },
          "total_pages": {
            "type": "integer",
            "example": 14
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Workspaces",
      "description": "Top-level organizational unit. All resources belong to a workspace."
    },
    {
      "name": "Lists",
      "description": "A targeted list of accounts built from search or manual input."
    },
    {
      "name": "Views",
      "description": "Saved filter, column, and sort configurations on a list."
    },
    {
      "name": "Accounts",
      "description": "Company records within a list, along with AI-generated insight columns."
    },
    {
      "name": "Contacts",
      "description": "People associated with accounts, along with AI-generated insight columns."
    },
    {
      "name": "Workflows",
      "description": "Ordered research pipelines that run a series of enrichment steps against a list."
    },
    {
      "name": "Exports",
      "description": "Export list data to a file or push to a CRM / Google Sheets."
    },
    {
      "name": "Credits",
      "description": "AI usage credits consumed by research and generation operations."
    },
    {
      "name": "Integrations",
      "description": "CRM and third-party integrations with field mapping configuration."
    },
    {
      "name": "Jobs",
      "description": "Async job tracking for long-running operations like insight generation, contact discovery, and workflow runs."
    },
    {
      "name": "Search",
      "description": "Cross-workspace account and contact discovery."
    }
  ]
}