{
  "openapi": "3.0.3",
  "info": {
    "title": "Superfuds API Externa",
    "description": "# API Externa de Superfuds\n\nBienvenido a la API Externa de Superfuds. Esta API te permite acceder a información sobre auditorías, usuarios, rutas de trabajo, tiendas, marcas y cadenas de retail desde sistemas externos como Sasha.\n\n## ¿Qué puedes hacer con esta API?\n\n- **Consultar auditorías**: Obtener información detallada sobre las auditorías realizadas por los usuarios, incluyendo su estado, ubicación, marcas involucradas y más.\n- **Consultar filtros para auditorías**: Obtener listados de marcas, cadenas de retail y tiendas disponibles en el sistema con los ids para poder filtrar las auditorías.\n- **Consultar usuarios**: Consultar información de usuarios, sus auditorías y las rutas asignadas.\n- **Consultar rutas**: Ver las rutas de trabajo asignadas a los usuarios, incluyendo las tiendas que deben visitar cada día de la semana.\n\n## Autenticación\n\nPara usar esta API, necesitas autenticarte primero. El proceso es muy simple:\n\n### Paso 1: Obtener tu token de acceso\nRealiza una petición POST al endpoint `/auth/token` enviando tus credenciales:\n- `client_id`: Tu identificador de cliente (te lo proporciona Pandoty)\n- `client_secret`: Tu clave secreta (te la proporciona Pandoty)\n\n### Paso 2: Usar el token en tus peticiones\nUna vez que obtengas el token, deberás incluirlo en todas las peticiones a los demás endpoints. Agrega el siguiente header en cada petición:\n```\nAuthorization: Bearer {tu_access_token}\n```\nReemplaza `{tu_access_token}` con el valor del campo `access_token` que recibiste en el Paso 1.\n\n### Importante sobre los tokens\n- Los tokens tienen una vigencia limitada (el tiempo de expiración se indica en `expires_in` en segundos).\n- Si recibes un error `401 Unauthorized`, significa que tu token ha expirado o es inválido.\n- En ese caso, simplemente solicita un nuevo token siguiendo el Paso 1 nuevamente.\n\n## Formato de las respuestas\n\nTodas las respuestas de la API están en formato JSON y siguen una estructura consistente:\n\n### Respuestas exitosas\nCuando una petición es exitosa, recibirás una respuesta con esta estructura:\n```json\n{\n  \"success\": true,\n  \"message\": \"Mensaje descriptivo de la operación\",\n  \"data\": { ... }\n}\n```\nEl campo `data` contiene la información solicitada según el endpoint que hayas llamado.\n\n### Respuestas de error\nCuando ocurre un error, recibirás:\n```json\n{\n  \"success\": false,\n  \"message\": \"Descripción del error\"\n}\n```\n\n### Errores de validación (422)\nSi envías datos incorrectos o faltantes, recibirás un error de validación con detalles por campo:\n```json\n{\n  \"success\": false,\n  \"message\": \"Mensaje general del error\",\n  \"errors\": {\n    \"campo\": [\"Descripción del error específico\"]\n  }\n}\n```\n\n## Paginación\n\nMuchos endpoints devuelven listados paginados para manejar grandes cantidades de datos de manera eficiente.\n\n### Parámetros de paginación\n- `page`: Número de página que deseas consultar (por defecto: 1)\n- `per_page`: Cantidad de elementos por página (por defecto: 20, máximo: 100)\n\n### Información de paginación en la respuesta\nCuando consultes un listado paginado, recibirás información adicional que te ayudará a navegar:\n- `current_page`: Página actual que estás viendo\n- `last_page`: Número de la última página disponible\n- `per_page`: Cantidad de elementos por página\n- `total`: Total de elementos disponibles\n- `from`: Número del primer elemento en la página actual\n- `to`: Número del último elemento en la página actual\n- `first_page_url`: URL para acceder a la primera página\n- `last_page_url`: URL para acceder a la última página\n- `links`: Array con enlaces para navegar entre páginas\n\n### Ejemplo de uso\nSi quieres ver la página 2 con 50 elementos por página, usa los siguientes query parameters:\n```\nGET /audits?page=2&per_page=50\n```\n",
    "version": "1.0.0",
    "contact": {
      "name": "Soporte Superfuds"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/pandotyinc/superfuds-sasha-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://superfuds.pandoty.com/api/v1/external",
      "description": "Producción"
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "summary": "Obtener token de acceso",
        "description": "Este es el primer endpoint que debes llamar antes de usar cualquier otro endpoint de la API.\n\n**¿Qué hace este endpoint?**\nTe proporciona un token de acceso (access_token) que necesitarás incluir en todas las demás peticiones para autenticarte.\n\n**¿Cuándo debo usarlo?**\n- La primera vez que uses la API\n- Cuando tu token actual haya expirado (recibirás un error 401)\n- Cuando necesites renovar tu sesión\n\n**¿Qué necesito enviar?**\nDebes enviar tus credenciales de cliente:\n- `client_id`: Tu identificador único de cliente (te lo proporciona Pandoty)\n- `client_secret`: Tu clave secreta (te la proporciona Pandoty)\n\nPuedes enviar estos datos en formato JSON o como formulario (application/x-www-form-urlencoded).\n\n**¿Qué recibiré?**\nSi tus credenciales son correctas, recibirás:\n- `access_token`: El token que usarás en las demás peticiones\n- `token_type`: Siempre será \"Bearer\"\n- `expires_in`: Tiempo en segundos hasta que el token expire\n\n**Importante:** Este endpoint NO requiere autenticación previa, es el único que puedes llamar sin token.\n",
        "operationId": "getToken",
        "tags": [
          "Autenticación"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              },
              "example": {
                "client_id": "tu-client-id",
                "client_secret": "tu-client-secret"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "✅ **Token obtenido exitosamente**\n\nRecibirás un objeto con el token de acceso y su información de expiración.\nGuarda el `access_token` y úsalo en el header `Authorization: Bearer {access_token}` \nde todas tus próximas peticiones.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenSuccessResponse"
                }
              }
            }
          },
          "422": {
            "description": "❌ **Error de validación**\n\nLos datos enviados no son válidos. Esto puede ocurrir si:\n- Falta el campo `client_id`\n- Falta el campo `client_secret`\n- Los campos están vacíos\n\nRevisa el objeto `errors` en la respuesta para ver detalles específicos de qué campo tiene problemas.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/audits": {
      "get": {
        "summary": "Listado de auditorías",
        "description": "Este endpoint te permite consultar todas las auditorías realizadas en el sistema con múltiples opciones de filtrado.\n\n**¿Qué es una auditoría?**\nUna auditoría es un registro de una visita realizada por un usuario a una tienda, donde se documenta información sobre productos, marcas, ubicación, comentarios y observaciones.\n\n**¿Qué información incluye cada auditoría?**\n- Datos básicos: ID, fecha y hora de creación\n- Estado: Pendiente, Aprobada o Rechazada\n- Usuario: Información del usuario que realizó la auditoría\n- Tienda: Información de la tienda visitada y su cadena de retail\n- Marcas: Lista de marcas involucradas en la auditoría\n- Ubicación: Coordenadas GPS (latitud y longitud) si están disponibles\n- Comentarios: Notas adicionales sobre la auditoría por el mercaderista\n- Observaciones: Notas adicionales sobre la auditoría por el supervisor\n- Imagen: URL de la imagen asociada\n\n**Filtrado por defecto**\n⚠️ **Importante:** Por defecto, este endpoint solo devuelve auditorías con estado **\"Aprobada\"**. \nSi necesitas ver auditorías pendientes o rechazadas, debes usar el parámetro `status`.\n\n**Opciones de filtrado disponibles:**\n- `status`: Filtrar por estado de auditoría\n  - `1` = Pendiente (aún no revisada)\n  - `2` = Aprobada (revisada y aprobada)\n  - `3` = Rechazada (revisada y rechazada)\n- `email`: Buscar auditorías de un usuario específico por su email (búsqueda parcial)\n- `brand_id`: Filtrar por marca específica (usa el ID que obtienes del endpoint `/brands`)\n- `retail_chain_id`: Filtrar por cadena de retail (usa el ID que obtienes del endpoint `/retail-chains`)\n- `store_id`: Filtrar por tienda específica (usa el ID que obtienes del endpoint `/stores`)\n- `page`: Número de página (por defecto: 1)\n- `per_page`: Elementos por página (por defecto: 20, máximo: 100)\n\n**Ejemplo de uso con query parameters:**\n```\nGET /audits?status=2&email=usuario@ejemplo.com&brand_id=100&retail_chain_id=1&store_id=5&page=1&per_page=20\n```\n\n**Respuesta paginada:**\nLa respuesta incluye información de paginación que te permite navegar entre páginas de resultados.\n",
        "operationId": "getAudits",
        "tags": [
          "Auditorías"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/email"
          },
          {
            "$ref": "#/components/parameters/brand_id"
          },
          {
            "$ref": "#/components/parameters/retail_chain_id"
          },
          {
            "$ref": "#/components/parameters/store_id"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "✅ **Listado de auditorías obtenido exitosamente**\n\nRecibirás un objeto paginado con las auditorías que coinciden con tus filtros.\nCada auditoría incluye información completa sobre el usuario, tienda, marcas, estado y más.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditsListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Parámetros de filtro inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/brands": {
      "get": {
        "summary": "Listado de marcas",
        "description": "Este endpoint te permite obtener un listado completo de todas las marcas disponibles en el sistema.\n\n**¿Qué es una marca?**\nUna marca representa un producto o línea de productos que puede ser auditada en las tiendas. Por ejemplo: \"Limonar\", \"MLÉ\", \"HAVVA\", etc.\n\n**¿Qué información incluye cada marca?**\n- `id`: Identificador único de la marca\n- `name`: Nombre de la marca\n\n**¿Para qué sirve este endpoint?**\nEste endpoint es especialmente útil cuando necesitas:\n- Obtener el ID de una marca para filtrar auditorías por marca específica\n- Mostrar un listado de marcas disponibles en tu sistema\n- Validar si una marca existe antes de hacer consultas relacionadas\n\n**⚠️ Importante sobre el ID:**\n**Debes usar este mismo ID** cuando quieras filtrar auditorías usando el parámetro `brand_id` \nen el endpoint `/audits`.\n\n**Ejemplo de uso:**\n1. Primero obtén el listado de marcas: `GET /brands`\n2. Encuentra la marca que necesitas y copia su `id`\n3. Usa ese `id` para filtrar auditorías: `GET /audits?brand_id=100`\n",
        "operationId": "getBrands",
        "tags": [
          "Filtros para auditorías"
        ],
        "responses": {
          "200": {
            "description": "✅ **Listado de marcas obtenido exitosamente**\n\nRecibirás un array con todas las marcas disponibles. Cada marca incluye su ID y nombre.\nUsa estos IDs para filtrar auditorías por marca específica.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandsListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/retail-chains": {
      "get": {
        "summary": "Listado de cadenas de retail",
        "description": "Este endpoint te permite obtener un listado completo de todas las cadenas de retail (supermercados) disponibles en el sistema.\n\n**¿Qué es una cadena de retail?**\nUna cadena de retail es una empresa que opera múltiples tiendas. Por ejemplo: \"Éxito\", \"Carulla\", \"Jumbo\", etc.\n\n**¿Qué información incluye cada cadena?**\n- `id`: Identificador único de la cadena de retail\n- `name`: Nombre de la cadena de retail\n\n**¿Para qué sirve este endpoint?**\nEste endpoint es útil cuando necesitas:\n- Obtener el ID de una cadena para filtrar auditorías o tiendas\n- Mostrar un listado de cadenas disponibles en tu sistema\n- Filtrar tiendas por cadena específica\n\n**¿Cómo usar el ID?**\nEl `id` que recibes aquí puedes usarlo en dos lugares:\n1. **Para filtrar auditorías:** Usa `retail_chain_id` en el endpoint `/audits`\n   - Ejemplo: `GET /audits?retail_chain_id=1`\n2. **Para filtrar tiendas:** Usa `retail_chain_id` en el endpoint `/stores`\n   - Ejemplo: `GET /stores?retail_chain_id=1`\n\n**Ejemplo de flujo de trabajo:**\n1. Obtén el listado de cadenas: `GET /retail-chains`\n2. Selecciona la cadena que necesitas (por ejemplo, ID = 1)\n3. Filtra tiendas de esa cadena: `GET /stores?retail_chain_id=1`\n4. O filtra auditorías de tiendas de esa cadena: `GET /audits?retail_chain_id=1`\n",
        "operationId": "getRetailChains",
        "tags": [
          "Filtros para auditorías"
        ],
        "responses": {
          "200": {
            "description": "✅ **Listado de cadenas de retail obtenido exitosamente**\n\nRecibirás un array con todas las cadenas de retail disponibles. Cada cadena incluye su ID y nombre.\nUsa estos IDs para filtrar tiendas y auditorías por cadena específica.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailChainsListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/stores": {
      "get": {
        "summary": "Listado de tiendas",
        "description": "Este endpoint te permite obtener un listado completo de todas las tiendas disponibles en el sistema, con la opción de filtrarlas por cadena de retail.\n\n**¿Qué es una tienda?**\nUna tienda es un punto de venta físico donde se realizan las auditorías. Cada tienda pertenece a una cadena de retail específica.\n\n**¿Qué información incluye cada tienda?**\n- `id`: Identificador único de la tienda\n- `name`: Nombre de la tienda\n- `retail_chain_id`: ID de la cadena de retail a la que pertenece\n- `retail_chain`: Objeto con información de la cadena (id y nombre)\n\n**Opciones de filtrado:**\n- `retail_chain_id` (opcional): Si lo envías, solo recibirás tiendas que pertenezcan a esa cadena específica\n  - Ejemplo: `GET /stores?retail_chain_id=1` devuelve solo tiendas de la cadena con ID 1\n\n**¿Para qué sirve este endpoint?**\nEste endpoint es útil cuando necesitas:\n- Obtener el ID de una tienda para filtrar auditorías por tienda específica\n- Mostrar un listado de tiendas disponibles (todas o filtradas por cadena)\n- Ver qué tiendas pertenecen a una cadena de retail específica\n\n**¿Cómo usar el ID de tienda?**\nEl `id` que recibes aquí puedes usarlo para filtrar auditorías en el endpoint `/audits`:\n- Ejemplo: `GET /audits?store_id=5` devuelve solo auditorías realizadas en la tienda con ID 5\n\n**Ejemplo de flujo de trabajo:**\n1. Obtén todas las tiendas: `GET /stores`\n2. O filtra por cadena: `GET /stores?retail_chain_id=1`\n3. Selecciona una tienda específica (por ejemplo, ID = 5)\n4. Filtra auditorías de esa tienda: `GET /audits?store_id=5`\n",
        "operationId": "getStores",
        "tags": [
          "Filtros para auditorías"
        ],
        "parameters": [
          {
            "name": "retail_chain_id",
            "in": "query",
            "required": false,
            "description": "Filtrar tiendas por cadena de retail (id)",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "✅ **Listado de tiendas obtenido exitosamente**\n\nRecibirás un array con todas las tiendas que coinciden con tus filtros. \nCada tienda incluye su ID, nombre e información de la cadena de retail a la que pertenece.\nUsa estos IDs para filtrar auditorías por tienda específica.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoresListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "❌ **Error de validación**\n\nEl parámetro `retail_chain_id` tiene un formato inválido. Debe ser un número entero positivo.\nSi estás enviando un ID que no existe, la respuesta será exitosa pero con un array vacío.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "Listado de usuarios",
        "description": "Este endpoint te permite obtener un listado completo de todos los usuarios del sistema con información resumida sobre sus auditorías.\n\n**¿Qué información incluye cada usuario?**\n- **Datos básicos:**\n  - `id`: Identificador único del usuario\n  - `email`: Correo electrónico del usuario\n  - `name`: Nombre completo del usuario (puede ser null)\n  - `document_number`: Número de documento del usuario (puede ser null)\n\n- **Estadísticas de auditorías:**\n  - `audits_count`: Total de auditorías realizadas por el usuario\n  - `audits_approved_count`: Cantidad de auditorías aprobadas\n  - `audits_rejected_count`: Cantidad de auditorías rechazadas\n  - `audits_pending_count`: Cantidad de auditorías pendientes de revisión\n\n**Opciones de filtrado:**\n- `email` (opcional): Buscar un usuario específico por su email (coincidencia exacta)\n  - Ejemplo: `GET /users?email=usuario@ejemplo.com`\n- `name` (opcional): Buscar usuarios por nombre (búsqueda parcial)\n  - Ejemplo: `GET /users?name=Juan` encontrará usuarios con nombres como \"Juan\", \"Juan Carlos\", etc.\n- `document_number` (opcional): Buscar un usuario por número de documento (coincidencia exacta)\n  - Ejemplo: `GET /users?document_number=1234567890`\n- `page` (opcional): Número de página (por defecto: 1)\n- `per_page` (opcional): Elementos por página (por defecto: 20, máximo: 100)\n\n**¿Para qué sirve este endpoint?**\nEste endpoint es útil cuando necesitas:\n- Ver un resumen de todos los usuarios y su actividad\n- Buscar un usuario específico por email, nombre o documento\n- Obtener estadísticas rápidas sobre las auditorías de cada usuario\n- Navegar por usuarios paginados para mostrar en una interfaz\n\n**Ejemplo de uso con query parameters:**\n```\nGET /users?email=usuario@ejemplo.com&name=María&page=1&per_page=20\n```\n\n**Nota:** Este endpoint NO incluye información sobre las rutas asignadas. Si necesitas esa información, usa el endpoint `/users/{id}` para obtener el detalle completo de un usuario específico.\n",
        "operationId": "getUsers",
        "tags": [
          "Usuarios"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Filtrar por email (coincidencia exacta)",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filtrar por nombre (búsqueda parcial en el perfil)",
            "schema": {
              "type": "string",
              "maxLength": 255
            }
          },
          {
            "name": "document_number",
            "in": "query",
            "required": false,
            "description": "Filtrar por número de documento (coincidencia exacta)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "✅ **Listado de usuarios obtenido exitosamente**\n\nRecibirás un objeto paginado con los usuarios que coinciden con tus filtros.\nCada usuario incluye sus datos básicos y estadísticas completas de auditorías.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Parámetros de filtro inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "Detalle de un usuario",
        "description": "Este endpoint te permite obtener información detallada de un usuario específico, incluyendo su ruta de trabajo asignada.\n\n**¿Qué información incluye?**\n- **Datos básicos del usuario:**\n  - `id`: Identificador único del usuario\n  - `email`: Correo electrónico\n  - `name`: Nombre completo (puede ser null)\n  - `document_number`: Número de documento (puede ser null)\n\n- **Estadísticas de auditorías:**\n  - `audits_count`: Total de auditorías realizadas\n  - `audits_approved_count`: Cantidad aprobadas\n  - `audits_rejected_count`: Cantidad rechazadas\n  - `audits_pending_count`: Cantidad pendientes\n\n- **Ruta asignada:**\n  - `route`: Información sobre la ruta de trabajo del usuario\n    - `name`: Nombre de la ruta\n    - `date_start`: Fecha de inicio de la ruta (formato: YYYY-MM-DD)\n    - `date_end`: Fecha de fin de la ruta (formato: YYYY-MM-DD)\n    - `stores_count`: Cantidad de tiendas en la ruta\n  - ⚠️ **Importante:** Si el usuario tiene una ruta vigente (hoy está entre `date_start` y `date_end`), se devuelve esa. \n    Si no tiene ruta vigente, se devuelve la más reciente. Si no tiene ninguna ruta, `route` será `null`.\n\n**Parámetros:**\n- `id` (requerido): ID del usuario que deseas consultar\n  - Debe ser un número entero positivo\n  - Ejemplo: `GET /users/1` consulta el usuario con ID 1\n\n**¿Para qué sirve este endpoint?**\nEste endpoint es útil cuando necesitas:\n- Ver información completa de un usuario específico\n- Conocer qué ruta tiene asignada un usuario actualmente\n- Ver estadísticas detalladas de auditorías de un usuario\n- Validar si un usuario existe antes de hacer otras consultas\n\n**Ejemplo de uso:**\n`GET /users/1` devuelve toda la información del usuario con ID 1, incluyendo su ruta asignada.\n",
        "operationId": "getUserDetail",
        "tags": [
          "Usuarios"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del usuario",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "✅ **Detalle de usuario obtenido exitosamente**\n\nRecibirás un objeto con toda la información del usuario, incluyendo sus estadísticas de auditorías \ny su ruta de trabajo asignada (si tiene una).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetailResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Usuario no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/users/{id}/audits": {
      "get": {
        "summary": "Auditorías de un usuario",
        "description": "Este endpoint te permite obtener todas las auditorías realizadas por un usuario específico, junto con un resumen del usuario.\n\n**¿Qué información incluye la respuesta?**\n\n- **Resumen del usuario:**\n  - Incluye los mismos datos que el endpoint `/users/{id}`: datos básicos y estadísticas de auditorías\n  - ⚠️ **Nota:** Este resumen NO incluye la ruta asignada. Si necesitas la ruta, usa `/users/{id}`\n\n- **Listado paginado de auditorías:**\n  - Todas las auditorías realizadas por este usuario\n  - Cada auditoría tiene la misma estructura completa que en el endpoint `/audits`:\n    - Datos básicos (id, fecha, comentarios, observaciones)\n    - Estado (Pendiente, Aprobada, Rechazada)\n    - Información de la tienda visitada\n    - Marcas involucradas\n    - Ubicación GPS\n    - URL de imagen\n\n**Parámetros:**\n- `id` (requerido): ID del usuario cuyas auditorías deseas consultar\n- `status` (opcional): Filtrar por estado de auditoría\n  - `1` = Pendiente\n  - `2` = Aprobada\n  - `3` = Rechazada\n  - Si no envías este parámetro, recibirás auditorías de todos los estados\n- `page` (opcional): Número de página (por defecto: 1)\n- `per_page` (opcional): Elementos por página (por defecto: 20, máximo: 100)\n\n**¿Para qué sirve este endpoint?**\nEste endpoint es útil cuando necesitas:\n- Ver todas las auditorías de un usuario específico\n- Filtrar las auditorías de un usuario por estado (solo aprobadas, solo pendientes, etc.)\n- Obtener un historial completo de las actividades de auditoría de un usuario\n- Mostrar en una interfaz las auditorías realizadas por un usuario\n\n**Ejemplo de uso con query parameters:**\n```\nGET /users/1/audits?status=2&page=1&per_page=20\n```\n\n**Diferencia con `/audits`:**\n- `/audits` te permite filtrar por múltiples criterios (marca, tienda, cadena, etc.) pero de todos los usuarios\n- `/users/{id}/audits` te muestra solo las auditorías de un usuario específico, pero con menos opciones de filtrado\n",
        "operationId": "getUserAudits",
        "tags": [
          "Usuarios",
          "Auditorías"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del usuario",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "✅ **Auditorías del usuario obtenidas exitosamente**\n\nRecibirás un objeto con dos partes:\n1. `user`: Resumen del usuario con sus estadísticas de auditorías\n2. `audits`: Listado paginado con todas las auditorías del usuario que coinciden con los filtros\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAuditsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Usuario no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Parámetro status inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/users/{id}/routes": {
      "get": {
        "summary": "Rutas de un usuario",
        "description": "Este endpoint te permite obtener todas las rutas de trabajo asignadas a un usuario específico, incluyendo información detallada sobre qué tiendas debe visitar cada día de la semana.\n\n**¿Qué es una ruta?**\nUna ruta es un plan de trabajo que define qué tiendas debe visitar un usuario durante un período específico. \nCada ruta tiene fechas de inicio y fin, y las tiendas están organizadas por día de la semana.\n\n**¿Qué información incluye la respuesta?**\n\n- **Resumen del usuario:**\n  - `id`, `email`, `name`, `document_number`\n  - `route`: La ruta asignada actualmente (vigente o la más reciente)\n  - ⚠️ **Nota:** Este resumen NO incluye los conteos de auditorías. Si los necesitas, usa `/users/{id}`\n\n- **Listado paginado de rutas:**\n  Cada ruta incluye:\n  - `id`: Identificador único de la ruta\n  - `name`: Nombre de la ruta\n  - `date_start`: Fecha de inicio (formato: YYYY-MM-DD)\n  - `date_end`: Fecha de fin (formato: YYYY-MM-DD)\n  - `stores_count`: Cantidad total de tiendas en la ruta\n  - `route_stores`: Array con las tiendas agrupadas por día de la semana\n    - Cada elemento representa un día y contiene:\n      - `day_of_week`: Número del día (1 = lunes, 2 = martes, ..., 7 = domingo)\n      - `stores`: Array de tiendas que debe visitar ese día, ordenadas por `visit_order`\n        - Cada tienda incluye: `id`, `name`, `retail_chain_id`, y `retail_chain`\n\n**Parámetros:**\n- `id` (requerido): ID del usuario cuyas rutas deseas consultar\n- `day_of_week` (opcional): Filtrar por día de la semana específico\n  - `1` = Lunes\n  - `2` = Martes\n  - `3` = Miércoles\n  - `4` = Jueves\n  - `5` = Viernes\n  - `6` = Sábado\n  - `7` = Domingo\n  - Si envías este parámetro:\n    - Solo recibirás rutas que tengan tiendas asignadas para ese día\n    - En `route_stores` solo aparecerá ese día específico\n    - `stores_count` reflejará solo las tiendas de ese día\n- `page` (opcional): Número de página (por defecto: 1)\n- `per_page` (opcional): Elementos por página (por defecto: 20, máximo: 100)\n\n**¿Para qué sirve este endpoint?**\nEste endpoint es útil cuando necesitas:\n- Ver todas las rutas históricas de un usuario\n- Saber qué tiendas debe visitar un usuario en un día específico\n- Planificar visitas basándote en las rutas asignadas\n- Ver la secuencia de visitas (orden de tiendas) para cada día\n\n**Ejemplo de uso con query parameters:**\n```\nGET /users/1/routes?day_of_week=1&page=1&per_page=20\n```\n\n**Orden de las tiendas:**\nLas tiendas dentro de cada día están ordenadas por `visit_order`, que indica el orden en que \nel usuario debe visitarlas. La tienda con `visit_order = 1` es la primera, `visit_order = 2` es la segunda, etc.\n",
        "operationId": "getUserRoutes",
        "tags": [
          "Usuarios",
          "Rutas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del usuario",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "day_of_week",
            "in": "query",
            "required": false,
            "description": "Filtrar por día de la semana (1 = lunes, 7 = domingo). Solo rutas con tiendas ese día.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 7,
              "example": 1
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "✅ **Rutas del usuario obtenidas exitosamente**\n\nRecibirás un objeto con dos partes:\n1. `user`: Resumen del usuario con su ruta asignada actual\n2. `routes`: Listado paginado con todas las rutas del usuario, incluyendo las tiendas \n   organizadas por día de la semana y ordenadas por orden de visita.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRoutesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Usuario no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "❌ **Error de validación**\n\nEl parámetro `day_of_week` tiene un valor inválido. Debe ser un número entero entre 1 y 7:\n- 1 = Lunes\n- 2 = Martes\n- 3 = Miércoles\n- 4 = Jueves\n- 5 = Viernes\n- 6 = Sábado\n- 7 = Domingo\n\nRevisa el objeto `errors` en la respuesta para ver detalles específicos.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Token obtenido con POST /auth/token (client_credentials). Header `Authorization: Bearer {access_token}`."
      }
    },
    "parameters": {
      "status": {
        "name": "status",
        "in": "query",
        "required": false,
        "description": "Filtra las auditorías por su estado de revisión.\n\n**Valores posibles:**\n- `1` = Pendiente: La auditoría fue creada pero aún no ha sido revisada\n- `2` = Aprobada: La auditoría fue revisada y aprobada\n- `3` = Rechazada: La auditoría fue revisada y rechazada\n\n**Comportamiento especial en `/audits`:**\nSi NO envías este parámetro en el endpoint `/audits`, por defecto solo recibirás auditorías con estado \"Aprobada\" (2).\nSi quieres ver todas las auditorías o solo las pendientes/rechazadas, debes especificar el parámetro `status`.\n\n**Ejemplos:**\n- Ver solo aprobadas: `?status=2`\n- Ver solo pendientes: `?status=1`\n- Ver solo rechazadas: `?status=3`\n",
        "schema": {
          "type": "integer",
          "enum": [
            1,
            2,
            3
          ],
          "example": 2
        }
      },
      "email": {
        "name": "email",
        "in": "query",
        "required": false,
        "description": "Filtra las auditorías por el correo electrónico del usuario que las realizó.\n\n**Tipo de búsqueda:** Búsqueda parcial (no necesita coincidencia exacta)\n- Si envías \"juan\", encontrará usuarios con emails como \"juan@ejemplo.com\", \"juan.carlos@ejemplo.com\", etc.\n\n**Uso en diferentes endpoints:**\n- En `/audits`: Filtra auditorías de usuarios cuyo email contenga el texto enviado\n- En `/users`: Busca usuarios con coincidencia exacta del email\n\n**Ejemplo:**\n`?email=juan` encontrará auditorías de usuarios con emails que contengan \"juan\"\n",
        "schema": {
          "type": "string",
          "format": "email"
        }
      },
      "brand_id": {
        "name": "brand_id",
        "in": "query",
        "required": false,
        "description": "Filtra las auditorías por una marca específica.\n\n**¿Cómo obtener el ID de marca?**\n1. Llama al endpoint `GET /brands` para obtener el listado de todas las marcas\n2. Encuentra la marca que necesitas en la respuesta\n3. Usa el campo `id` de esa marca como valor para este parámetro\n\n**Ejemplo:**\nSi `/brands` devuelve `{\"id\": 100, \"name\": \"Limonar\"}`, usa `?brand_id=100` para filtrar auditorías de esa marca\n",
        "schema": {
          "type": "integer",
          "example": 100
        }
      },
      "retail_chain_id": {
        "name": "retail_chain_id",
        "in": "query",
        "required": false,
        "description": "Filtra las auditorías por cadena de retail (supermercado, tienda, etc.).\n\n**¿Qué hace este filtro?**\nSolo devuelve auditorías que fueron realizadas en tiendas que pertenecen a la cadena de retail especificada.\n\n**¿Cómo obtener el ID de cadena?**\n1. Llama al endpoint `GET /retail-chains` para obtener el listado de todas las cadenas\n2. Encuentra la cadena que necesitas en la respuesta\n3. Usa el campo `id` de esa cadena como valor para este parámetro\n\n**Ejemplo:**\nSi `/retail-chains` devuelve `{\"id\": 1, \"name\": \"Éxito\"}`, usa `?retail_chain_id=1` para filtrar auditorías realizadas en tiendas de Éxito\n",
        "schema": {
          "type": "integer",
          "example": 1
        }
      },
      "store_id": {
        "name": "store_id",
        "in": "query",
        "required": false,
        "description": "Filtra las auditorías por una tienda específica.\n\n**¿Cómo obtener el ID de tienda?**\n1. Llama al endpoint `GET /stores` para obtener el listado de todas las tiendas\n2. Opcionalmente, puedes filtrar por cadena: `GET /stores?retail_chain_id=1`\n3. Encuentra la tienda que necesitas en la respuesta\n4. Usa el campo `id` de esa tienda como valor para este parámetro\n\n**Ejemplo:**\nSi `/stores` devuelve `{\"id\": 5, \"name\": \"Éxito Centro\", \"retail_chain_id\": 1}`, usa `?store_id=5` para filtrar auditorías realizadas solo en esa tienda específica\n",
        "schema": {
          "type": "integer",
          "example": 5
        }
      },
      "page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Especifica qué página de resultados deseas ver.\n\n**Valor por defecto:** `1` (primera página)\n\n**Uso:**\n- `page=1` muestra la primera página\n- `page=2` muestra la segunda página\n- Y así sucesivamente...\n\n**Importante:** \n- Debe ser un número entero positivo (1, 2, 3, ...)\n- Si envías un número mayor al total de páginas disponibles, recibirás un array vacío\n- Usa junto con `per_page` para controlar la cantidad de elementos por página\n\n**Ejemplos:**\n- Ver la página 3: `?page=3`\n- Ver página 2 con 50 elementos: `?page=2&per_page=50`\n",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1,
          "example": 1
        }
      },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "required": false,
        "description": "Especifica cuántos elementos deseas recibir en cada página de resultados.\n\n**Valor por defecto:** `20` elementos por página\n**Valor máximo:** `100` elementos por página\n\n**Uso:**\n- Si no especificas este parámetro, recibirás 20 elementos por defecto\n- Puedes aumentar este número hasta 100 para recibir más elementos por página\n- Valores mayores a 100 serán rechazados con un error de validación\n\n**Recomendaciones:**\n- Para listados pequeños, usa valores pequeños (10-20) para mejor rendimiento\n- Para listados grandes, puedes usar valores mayores (50-100) para reducir el número de peticiones\n- Usa junto con `page` para navegar entre páginas\n\n**Ejemplos:**\n- Ver 10 elementos por página: `?per_page=10`\n- Ver 50 elementos en la página 1: `?page=1&per_page=50`\n- Ver 100 elementos (máximo): `?per_page=100`\n",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20,
          "example": 20
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Token ausente o inválido. Obtén uno nuevo con POST /auth/token.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "message": "Unauthenticated."
            }
          }
        }
      },
      "InternalError": {
        "description": "Error interno del servidor",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "TokenRequest": {
        "type": "object",
        "required": [
          "client_id",
          "client_secret"
        ],
        "properties": {
          "client_id": {
            "type": "string",
            "description": "Tu identificador único de cliente OAuth.\n\n**¿Dónde lo obtengo?**\nEste valor te lo proporciona Superfuds cuando te registras para usar la API externa.\nEs un identificador único que te identifica como cliente autorizado.\n\n**Ejemplo:** `\"abc123xyz789\"`\n\n**⚠️ Importante:** Mantén este valor seguro y no lo compartas públicamente.\n"
          },
          "client_secret": {
            "type": "string",
            "description": "Tu clave secreta de cliente OAuth.\n\n**¿Dónde la obtengo?**\nEste valor te lo proporciona Superfuds junto con tu `client_id` cuando te registras.\nEs una clave secreta que demuestra que eres el propietario legítimo del `client_id`.\n\n**Ejemplo:** `\"secret_key_xyz123\"`\n\n**⚠️ MUY IMPORTANTE:** \n- Esta es información sensible y confidencial\n- NUNCA la compartas públicamente\n- NUNCA la incluyas en código que pueda ser visto por otros\n- Si crees que ha sido comprometida, contacta a Superfuds inmediatamente\n"
          }
        }
      },
      "TokenSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Token emitido correctamente"
          },
          "data": {
            "type": "object",
            "description": "Respuesta del servidor OAuth",
            "properties": {
              "token_type": {
                "type": "string",
                "example": "Bearer"
              },
              "expires_in": {
                "type": "integer",
                "description": "Tiempo de vida del token en segundos.\n\n**¿Qué significa esto?**\nIndica cuántos segundos durará válido el token antes de que expire.\nPor ejemplo, si `expires_in` es `3600`, el token expirará en 1 hora (3600 segundos).\n\n**¿Qué hacer cuando expire?**\nCuando el token expire, recibirás un error `401 Unauthorized` en tus peticiones.\nEn ese momento, simplemente solicita un nuevo token usando el endpoint `/auth/token` nuevamente.\n\n**Ejemplo:** `3600` (1 hora)\n"
              },
              "access_token": {
                "type": "string",
                "description": "El token de acceso que debes usar para autenticarte en todas las demás peticiones.\n\n**¿Cómo usarlo?**\nInclúyelo en el header `Authorization` de todas tus peticiones a otros endpoints:\n```\nAuthorization: Bearer {access_token}\n```\nReemplaza `{access_token}` con el valor completo que recibes aquí.\n\n**⚠️ Importante:**\n- Este token es sensible, no lo compartas públicamente\n- Guárdalo de forma segura en tu aplicación\n- Cuando expire, solicita uno nuevo con `/auth/token`\n\n**Ejemplo:** `\"eyJ0eXAiOiJKV1QiLCJhbGc...\"` (token largo)\n"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Ocurrió un error, inténtalo nuevamente o comunícate con el administrador"
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": {
              "client_id": [
                "El campo client id es obligatorio."
              ]
            }
          }
        }
      },
      "NotFoundResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Usuario no encontrado"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha y hora en que se creó la auditoría.\n\n**Formato:** `YYYY-MM-DD HH:MM:SS` (año-mes-día hora:minuto:segundo)\n**Timezone:** Hora del servidor (no incluye información de zona horaria)\n\n**Ejemplo:** `\"2026-02-18 14:30:00\"` (18 de febrero de 2026 a las 2:30 PM)\n"
          },
          "comment": {
            "type": "string",
            "nullable": true,
            "description": "Comentario adicional sobre la auditoría.\n\nPuede contener notas, observaciones o información adicional que el usuario quiso agregar.\nSi no hay comentario, este campo será `null`.\n\n**Ejemplo:** `\"Producto bien ubicado en góndola principal\"`\n"
          },
          "observation": {
            "type": "string",
            "nullable": true,
            "description": "Observación sobre la auditoría.\n\nSimilar al comentario, pero puede tener un propósito específico según el contexto de la auditoría.\nSi no hay observación, este campo será `null`.\n\n**Ejemplo:** `\"Falta rotación de producto\"`\n"
          },
          "status": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string",
                "enum": [
                  "Pendiente",
                  "Aprobada",
                  "Rechazada"
                ]
              }
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number",
                "nullable": true
              },
              "longitude": {
                "type": "number",
                "nullable": true
              }
            }
          },
          "user": {
            "$ref": "#/components/schemas/UserInAudit"
          },
          "store": {
            "$ref": "#/components/schemas/StoreInAudit"
          },
          "brands": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Identificador único de la marca"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "image_url": {
            "type": "string",
            "nullable": true,
            "description": "URL completa de la imagen asociada a la auditoría.\n\n**¿Qué contiene?**\nUna URL que apunta a una imagen tomada durante la auditoría. Puede ser una foto del producto, \nde la ubicación, o cualquier otra imagen relevante.\n\n**Formato:** URL completa (ej: `https://ejemplo.com/imagenes/auditoria-123.jpg`)\n\n**Nota:** Si la auditoría no tiene imagen asociada, este campo será `null`.\n\n**Ejemplo:** `\"https://superfuds.com/storage/audits/image-12345.jpg\"`\n"
          }
        }
      },
      "UserInAudit": {
        "type": "object",
        "nullable": true,
        "description": "Información del usuario que realizó la auditoría.\n\nEste objeto aparece dentro de cada auditoría para identificar quién la realizó.\nSi por alguna razón el usuario no está disponible, este campo será `null`.\n",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único del usuario"
          },
          "email": {
            "type": "string",
            "description": "Correo electrónico del usuario"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Nombre completo del usuario (puede ser null si no está disponible)"
          },
          "document_number": {
            "type": "string",
            "nullable": true,
            "description": "Número de documento del usuario (puede ser null si no está disponible)"
          }
        }
      },
      "StoreInAudit": {
        "type": "object",
        "nullable": true,
        "description": "Información de la tienda donde se realizó la auditoría.\n\nEste objeto aparece dentro de cada auditoría para identificar en qué tienda se realizó.\nSi por alguna razón la tienda no está disponible, este campo será `null`.\n",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único de la tienda"
          },
          "name": {
            "type": "string",
            "description": "Nombre de la tienda"
          },
          "retail_chain_id": {
            "type": "integer",
            "description": "ID de la cadena de retail a la que pertenece la tienda"
          },
          "retail_chain": {
            "type": "object",
            "nullable": true,
            "description": "Información completa de la cadena de retail (puede ser null)",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID de la cadena de retail"
              },
              "name": {
                "type": "string",
                "description": "Nombre de la cadena de retail"
              }
            }
          }
        }
      },
      "AuditsListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Auditorías obtenidas correctamente"
          },
          "data": {
            "$ref": "#/components/schemas/PaginatedAudits"
          }
        }
      },
      "PaginatedAudits": {
        "type": "object",
        "description": "Objeto de paginación que contiene las auditorías y metadatos para navegar entre páginas.\n\nEste es el formato estándar de paginación usado en todos los endpoints que devuelven listados paginados.\nTe permite saber cuántos elementos hay en total, en qué página estás, y cómo navegar a otras páginas.\n",
        "properties": {
          "current_page": {
            "type": "integer",
            "description": "Número de la página actual que estás viendo"
          },
          "data": {
            "type": "array",
            "description": "Array con las auditorías de la página actual",
            "items": {
              "$ref": "#/components/schemas/Audit"
            }
          },
          "first_page_url": {
            "type": "string",
            "description": "URL para acceder directamente a la primera página"
          },
          "from": {
            "type": "integer",
            "nullable": true,
            "description": "Número del primer elemento en la página actual (null si la página está vacía)"
          },
          "last_page": {
            "type": "integer",
            "description": "Número de la última página disponible"
          },
          "last_page_url": {
            "type": "string",
            "description": "URL para acceder directamente a la última página"
          },
          "links": {
            "type": "array",
            "description": "Array con enlaces para navegar entre páginas (anterior, siguiente, etc.)"
          },
          "path": {
            "type": "string",
            "description": "URL base del endpoint (sin parámetros de paginación)"
          },
          "per_page": {
            "type": "integer",
            "description": "Cantidad de elementos por página que solicitaste"
          },
          "to": {
            "type": "integer",
            "nullable": true,
            "description": "Número del último elemento en la página actual (null si la página está vacía)"
          },
          "total": {
            "type": "integer",
            "description": "Total de elementos disponibles en todas las páginas"
          }
        }
      },
      "BrandItem": {
        "type": "object",
        "description": "Representa una marca individual en el listado de marcas.\n\nCada marca tiene un ID único que debes usar cuando quieras filtrar auditorías por marca.\n",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único de la marca.\n\n**⚠️ Importante:** Usa este mismo ID cuando quieras filtrar auditorías usando el parámetro `brand_id`.\n\n**Ejemplo:** `100`\n"
          },
          "name": {
            "type": "string",
            "description": "Nombre de la marca (ej: Vérmora, A De Coco, After By Lit)"
          }
        }
      },
      "BrandsListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Marcas obtenidas correctamente"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BrandItem"
            }
          }
        }
      },
      "RetailChainItem": {
        "type": "object",
        "description": "Representa una cadena de retail individual en el listado de cadenas.\n\nCada cadena tiene un ID único que puedes usar para filtrar tiendas y auditorías.\n",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único de la cadena de retail.\n\nUsa este ID cuando quieras filtrar tiendas o auditorías por cadena específica.\n\n**Ejemplo:** `1`\n"
          },
          "name": {
            "type": "string",
            "description": "Nombre de la cadena de retail (ej: Éxito, Carulla, Jumbo)"
          }
        }
      },
      "RetailChainsListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Cadenas de retail obtenidas correctamente"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RetailChainItem"
            }
          }
        }
      },
      "StoreItem": {
        "type": "object",
        "description": "Representa una tienda individual en el listado de tiendas.\n\nCada tienda tiene un ID único y pertenece a una cadena de retail específica.\n",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único de la tienda.\n\nUsa este ID cuando quieras filtrar auditorías por tienda específica.\n\n**Ejemplo:** `5`\n"
          },
          "name": {
            "type": "string",
            "description": "Nombre de la tienda (ej: Pinal del rio, Quinta camacho)"
          },
          "retail_chain_id": {
            "type": "integer",
            "description": "ID de la cadena de retail a la que pertenece esta tienda"
          },
          "retail_chain": {
            "type": "object",
            "nullable": true,
            "description": "Información completa de la cadena de retail (puede ser null si no está disponible)",
            "properties": {
              "id": {
                "type": "integer",
                "description": "ID de la cadena de retail"
              },
              "name": {
                "type": "string",
                "description": "Nombre de la cadena de retail"
              }
            }
          }
        }
      },
      "StoresListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Tiendas obtenidas correctamente"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StoreItem"
            }
          }
        }
      },
      "UserSummary": {
        "type": "object",
        "description": "Resumen de un usuario con sus datos básicos y estadísticas de auditorías.\n\nEste objeto aparece en los listados de usuarios y proporciona una vista rápida de la actividad del usuario.\n",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador único del usuario"
          },
          "email": {
            "type": "string",
            "description": "Correo electrónico del usuario"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Nombre completo del usuario (puede ser null si no está disponible)"
          },
          "document_number": {
            "type": "string",
            "nullable": true,
            "description": "Número de documento del usuario (puede ser null si no está disponible)"
          },
          "audits_count": {
            "type": "integer",
            "description": "Total de auditorías realizadas por este usuario"
          },
          "audits_approved_count": {
            "type": "integer",
            "description": "Cantidad de auditorías que han sido aprobadas"
          },
          "audits_rejected_count": {
            "type": "integer",
            "description": "Cantidad de auditorías que han sido rechazadas"
          },
          "audits_pending_count": {
            "type": "integer",
            "description": "Cantidad de auditorías que están pendientes de revisión"
          }
        }
      },
      "UserSummaryWithRoute": {
        "allOf": [
          {
            "$ref": "#/components/schemas/UserSummary"
          },
          {
            "type": "object",
            "properties": {
              "route": {
                "$ref": "#/components/schemas/AssignedRoute"
              }
            }
          }
        ]
      },
      "AssignedRoute": {
        "type": "object",
        "nullable": true,
        "description": "Ruta de trabajo asignada al usuario.\n\n**Lógica de selección:**\n- Si el usuario tiene una ruta vigente (la fecha actual está entre `date_start` y `date_end`), se devuelve esa.\n- Si no tiene ruta vigente, se devuelve la más reciente (la que tiene la fecha de fin más cercana al presente).\n- Si el usuario no tiene ninguna ruta asignada, este campo será `null`.\n",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nombre de la ruta (ej: Ruta Barranquilla)"
          },
          "date_start": {
            "type": "string",
            "format": "date",
            "description": "Fecha de inicio de la ruta en formato YYYY-MM-DD",
            "example": "2026-02-01"
          },
          "date_end": {
            "type": "string",
            "format": "date",
            "description": "Fecha de fin de la ruta en formato YYYY-MM-DD",
            "example": "2026-02-28"
          },
          "stores_count": {
            "type": "integer"
          }
        }
      },
      "UsersListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Usuarios obtenidos correctamente"
          },
          "data": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserSummary"
                }
              },
              "first_page_url": {
                "type": "string"
              },
              "from": {
                "type": "integer",
                "nullable": true
              },
              "last_page": {
                "type": "integer"
              },
              "last_page_url": {
                "type": "string"
              },
              "links": {
                "type": "array"
              },
              "path": {
                "type": "string"
              },
              "per_page": {
                "type": "integer"
              },
              "to": {
                "type": "integer",
                "nullable": true
              },
              "total": {
                "type": "integer"
              }
            }
          }
        }
      },
      "UserDetailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Detalle de usuario obtenido correctamente"
          },
          "data": {
            "$ref": "#/components/schemas/UserSummaryWithRoute"
          }
        }
      },
      "UserAuditsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Auditorías del usuario obtenidas correctamente"
          },
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "$ref": "#/components/schemas/UserSummary"
              },
              "audits": {
                "$ref": "#/components/schemas/PaginatedAudits"
              }
            }
          }
        }
      },
      "RouteStoreDay": {
        "type": "object",
        "description": "Tiendas de una ruta agrupadas por día de la semana",
        "properties": {
          "day_of_week": {
            "type": "integer",
            "description": "1 = lunes, 7 = domingo"
          },
          "stores": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "visit_order": {
                  "type": "integer",
                  "description": "Orden en que el usuario debe visitar esta tienda durante el día.\n\n**¿Qué significa?**\nLas tiendas están ordenadas por este número. La tienda con `visit_order = 1` es la primera \nque debe visitar, `visit_order = 2` es la segunda, y así sucesivamente.\n\n**Ejemplo:** `3` (esta es la tercera tienda que debe visitar ese día)\n"
                },
                "store": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "retail_chain_id": {
                      "type": "integer"
                    },
                    "retail_chain": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RouteItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "date_start": {
            "type": "string",
            "format": "date"
          },
          "date_end": {
            "type": "string",
            "format": "date"
          },
          "stores_count": {
            "type": "integer"
          },
          "route_stores": {
            "type": "array",
            "description": "Agrupado por day_of_week; si se filtró por day_of_week solo aparece ese día",
            "items": {
              "$ref": "#/components/schemas/RouteStoreDay"
            }
          }
        }
      },
      "UserRoutesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Rutas del usuario obtenidas correctamente"
          },
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "$ref": "#/components/schemas/UserSummaryWithRoute"
              },
              "routes": {
                "type": "object",
                "properties": {
                  "current_page": {
                    "type": "integer"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RouteItem"
                    }
                  },
                  "first_page_url": {
                    "type": "string"
                  },
                  "from": {
                    "type": "integer",
                    "nullable": true
                  },
                  "last_page": {
                    "type": "integer"
                  },
                  "last_page_url": {
                    "type": "string"
                  },
                  "links": {
                    "type": "array"
                  },
                  "path": {
                    "type": "string"
                  },
                  "per_page": {
                    "type": "integer"
                  },
                  "to": {
                    "type": "integer",
                    "nullable": true
                  },
                  "total": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}