{
  "openapi": "3.1.0",
  "info": {
    "title": "RecallRadar API",
    "version": "1.0.0",
    "description": "US product recalls from FDA, USDA FSIS, and CPSC in one schema. RecallRadar indexes public recall notices from the FDA, USDA FSIS, and CPSC. The official agency notice is the authoritative source. Always confirm details at the linked source before acting. Every row's source_url is the authoritative notice.",
    "x-jentic-source-url": "https://recallradar.withglint.app/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://recallradar.withglint.app"
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "Readiness: DB reachable, and which surfaces are enabled",
        "security": [],
        "responses": {
          "200": {
            "description": "Ready"
          },
          "503": {
            "description": "Database unreachable"
          }
        }
      }
    },
    "/v1/freshness": {
      "get": {
        "summary": "Per-agency counts, newest dates, last successful run, alerts",
        "security": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/openapi.json": {
      "get": {
        "summary": "This document",
        "security": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/agencies": {
      "get": {
        "summary": "Agencies indexed and what each covers",
        "security": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/recalls": {
      "get": {
        "summary": "Search recalls, newest published first",
        "description": "x402 scheme upto: cap = base + limit × row price, settled on rows returned. API key: metered max(40, rows) row units.",
        "parameters": [
          {
            "name": "brand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Whole-word match on normalized brand, firm, or product text. Repeatable."
          },
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Company slug or name (firm, else brand)."
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Free text over product, reason, firm (web search syntax)."
          },
          {
            "name": "agency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "fda_food",
                "fda_drug",
                "fda_device",
                "fsis",
                "cpsc"
              ]
            }
          },
          {
            "name": "class",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "I",
                  "II",
                  "III",
                  "PHA"
                ]
              }
            },
            "style": "form",
            "explode": true,
            "description": "Rows without a class (CPSC) always match."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ongoing",
                "terminated",
                "completed",
                "unknown"
              ]
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Ongoing, or unknown for agencies without lifecycle status."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "next_cursor from the previous page."
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "published_at >= since"
          },
          {
            "name": "until",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "published_at <= until"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "x402": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecallList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. PAYMENT-REQUIRED header (x402 v2) plus api_key hints in the body."
          },
          "403": {
            "description": "Plan inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/recalls/{id}": {
      "get": {
        "summary": "One recall with raw_payload and status_history",
        "description": "id is the 32-hex id or the page slug. x402 scheme exact.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "x402": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid filter or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. PAYMENT-REQUIRED header (x402 v2) plus api_key hints in the body."
          },
          "403": {
            "description": "Plan inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/diff": {
      "get": {
        "summary": "Rows created or updated in (since, now], oldest change first",
        "description": "Each row carries change = created | updated. meta.until is the upper bound: pass it as the next since. A truncated window continues with next_cursor. x402 scheme exact (fixed price per call). API key: metered max(40, rows) row units.",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Whole-word match on normalized brand, firm, or product text. Repeatable."
          },
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Company slug or name (firm, else brand)."
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Free text over product, reason, firm (web search syntax)."
          },
          {
            "name": "agency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "fda_food",
                "fda_drug",
                "fda_device",
                "fsis",
                "cpsc"
              ]
            }
          },
          {
            "name": "class",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "I",
                  "II",
                  "III",
                  "PHA"
                ]
              }
            },
            "style": "form",
            "explode": true,
            "description": "Rows without a class (CPSC) always match."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ongoing",
                "terminated",
                "completed",
                "unknown"
              ]
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Ongoing, or unknown for agencies without lifecycle status."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "next_cursor from the previous page."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "x402": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecallList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unknown or revoked key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. PAYMENT-REQUIRED header (x402 v2) plus api_key hints in the body."
          },
          "403": {
            "description": "Plan inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/export": {
      "get": {
        "summary": "Bulk NDJSON export ordered by updated_at (API key only)",
        "description": "One recall per line. Omit since for full history. Continue with the X-Next-Cursor header value (also in Link rel=next) until it is absent. Metered on rows returned.",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 10000
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "NDJSON",
            "content": {
              "application/x-ndjson": {}
            }
          },
          "401": {
            "description": "API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Plan inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/watchlists": {
      "get": {
        "summary": "List watchlists",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Plan inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a watchlist",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid watchlist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Plan inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Watchlist"
              }
            }
          }
        }
      }
    },
    "/v1/watchlists/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get a watchlist",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Plan inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update name, filters, channels, or muted",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Invalid watchlist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Plan inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Watchlist"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a watchlist",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Plan inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/rotate": {
      "post": {
        "summary": "Revoke the calling key and return a new one (shown once)",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "New key"
          },
          "401": {
            "description": "API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Plan inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "rk_… key from /account. Metered per request plus rows returned."
      },
      "x402": {
        "type": "apiKey",
        "in": "header",
        "name": "PAYMENT-SIGNATURE",
        "description": "x402 v2 payment payload, base64 JSON. exact for single recalls, upto for lists."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "retryable"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "disclaimer": {
            "type": "string"
          },
          "freshness_url": {
            "type": "string"
          }
        }
      },
      "Recall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "company_slug": {
            "type": [
              "string",
              "null"
            ]
          },
          "agency": {
            "type": "string"
          },
          "official_id": {
            "type": "string"
          },
          "class": {
            "type": [
              "string",
              "null"
            ]
          },
          "product_raw": {
            "type": "string"
          },
          "brand_norm": {
            "type": [
              "string",
              "null"
            ]
          },
          "firm_norm": {
            "type": [
              "string",
              "null"
            ]
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string"
          },
          "initiated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "published_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "geography": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "identifiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          },
          "source_url": {
            "type": "string",
            "description": "The official agency notice. Authoritative."
          },
          "url": {
            "type": "string"
          },
          "company_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "transform_version": {
            "type": "string"
          },
          "first_seen_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "ingested_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RecallList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recall"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "Watchlist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "brands": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "agencies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "channels": {
            "type": "object",
            "properties": {
              "email": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                }
              },
              "telegram": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "string"
                  }
                },
                "description": "Set by the Telegram link flow on /account."
              },
              "discord": {
                "type": "object",
                "properties": {
                  "webhook_url": {
                    "type": "string",
                    "pattern": "^https://discord.com/api/webhooks/"
                  }
                }
              },
              "slack": {
                "type": "object",
                "properties": {
                  "webhook_url": {
                    "type": "string",
                    "pattern": "^https://hooks.slack.com/services/"
                  }
                }
              }
            }
          },
          "muted": {
            "type": "boolean"
          },
          "cursor_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}