{
  "openapi": "3.1.0",
  "info": {
    "title": "InsightSocial API",
    "version": "2.0.0",
    "description": "Public social data from 25 platforms through one key and one credit balance. Schema 2: one response shape per entity on every platform.",
    "x-jentic-source-url": "https://insightsocial.app/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.insightsocial.app"
    }
  ],
  "paths": {
    "/v1/bluesky/profile": {
      "get": {
        "operationId": "bluesky_profile",
        "summary": "Profile",
        "description": "Returns a Bluesky user's public profile: handle, display name, avatar, description, follower and follows counts, post count, created date, and verification status.\n\nUse it when you have a handle and want the profile only; use user/posts for that account's posts.\n\n**10 credits** per call.",
        "tags": [
          "bluesky"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Bluesky handle (e.g. `espn.com`).",
            "schema": {
              "type": "string",
              "example": "espn.com"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 10,
        "x-group": "Profile",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ProfileOne"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/bluesky/user/posts": {
      "get": {
        "operationId": "bluesky_user_posts",
        "summary": "User › Posts",
        "description": "Returns a feed of posts for a Bluesky user: text, author info, embeds, reply/repost/like/quote counts, and when each was indexed.\n\nUse it when you already have a handle or did and want that account's own posts; use search to find posts by keyword instead.\n\n**10 credits** per call.",
        "tags": [
          "bluesky"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "description": "Bluesky handle. Provide at least one of: `handle`, `user_id`.",
            "schema": {
              "type": "string",
              "example": "espn.com"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "description": "Bluesky `did` (Bluesky's internal user ID format, e.g. `did:plc:x7d6j54pm22ufehkes6jo4jf`). Provide at least one of: `handle`, `user_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 10,
        "x-group": "User",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/bluesky/post": {
      "get": {
        "operationId": "bluesky_post",
        "summary": "Post",
        "description": "Returns one Bluesky post: its record text, author info, embeds, reply count, repost count, like count, quote count, and a threaded replies array.\n\nUse it when you have a post URL; use user/posts to list everything one account has posted.\n\n**10 credits** per call.",
        "tags": [
          "bluesky"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Bluesky post URL.",
            "schema": {
              "type": "string",
              "example": "https://bsky.app/profile/espn.com/post/3lqdfq7fkvm2g"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 10,
        "x-group": "Post",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostOne"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/bluesky/search": {
      "get": {
        "operationId": "bluesky_search",
        "summary": "Search",
        "description": "Returns Bluesky posts matching a keyword, up to 100 per page, each with its text, author, like/comment/share counts, and when it was written.\n\nUse it to find posts by keyword across all of Bluesky; use user/posts when you already know the account.\n\n**10 credits** per call.",
        "tags": [
          "bluesky"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search terms matched against post text.",
            "schema": {
              "type": "string",
              "example": "espresso"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "`latest` (newest first, the default) or `top` (Bluesky's own top ranking, which favours popular posts over recent ones).",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "top"
              ]
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Only posts written at or after this time. ISO 8601 date (`2026-09-01`) or datetime with a timezone (`2026-09-01T00:00:00Z`); any other shape is rejected with a free 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "description": "Only posts written before this time. Same format as `since`. Set it to the oldest `published_at` of your last call to fetch the next older batch; the boundary is compared to the second, so a post from that same second can repeat, and deduplicating on `post.id` removes it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Only posts tagged with this language, as a code such as `en`, `ja` or `ko`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "description": "Only posts by this account: a handle such as `espn.com` or a `did` such as `did:plc:...`. An account that does not exist returns an empty list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 10,
        "x-group": "Search",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/douyin/search": {
      "get": {
        "operationId": "douyin_search",
        "summary": "Search",
        "description": "Returns Douyin videos matching a keyword: caption, creator, likes, comments, shares, saves, hashtags, music, cover image, and duration.\n\nUse it to find videos by keyword; use search/users to find creators instead.\n\n**Metered: 50–1250 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.",
        "tags": [
          "douyin"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search keywords, for example 美食 or coffee.",
            "schema": {
              "type": "string",
              "example": "美食"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows to return, 1 to 25. Default 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Result ordering: relevance, most_liked, or latest. Default relevance.",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "most_liked",
                "latest"
              ]
            }
          },
          {
            "name": "published",
            "in": "query",
            "required": false,
            "description": "Recency window: all, day, week, or half_year. Default all.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "day",
                "week",
                "half_year"
              ]
            }
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "description": "Length filter: all, under_1m, one_to_five_m, or over_5m. Default all.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "under_1m",
                "one_to_five_m",
                "over_5m"
              ]
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": {
          "min": 50,
          "max": 1250
        },
        "x-group": "Search",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/douyin/profile": {
      "get": {
        "operationId": "douyin_profile",
        "summary": "Profile",
        "description": "Returns a Douyin creator's profile: nickname, Douyin ID, bio, avatar, follower and following counts, total likes received, video count, region, and verification.\n\nUse it to check a creator's follower count cheaply; use profile/posts for their videos.\n\n**60 credits** per call.",
        "tags": [
          "douyin"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "description": "Douyin sec_uid, the MS4wLjAB... string in a profile URL, or the numeric user ID. Provide at least one of: `handle`, `url`, `id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full Douyin profile URL, for example https://www.douyin.com/user/MS4wLjABAAAA... Provide at least one of: `handle`, `url`, `id`.",
            "schema": {
              "type": "string",
              "example": "https://www.douyin.com/user/MS4wLjABAAAAtxsy7VmVkU3RN9oIX0vdkh_6-LlQAb0gwI-tDf-bYNg"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric Douyin user ID. Provide at least one of: `handle`, `url`, `id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 60,
        "x-group": "Profile",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ProfileOne"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/douyin/profile/posts": {
      "get": {
        "operationId": "douyin_profile_posts",
        "summary": "Profile › Posts",
        "description": "Returns a Douyin creator's recent videos, newest first: caption, likes, comments, shares, saves, hashtags, music, and cover image.\n\nUse it to pull a creator's recent videos; use profile when you only need their follower count.\n\n**Metered: 50–1250 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.",
        "tags": [
          "douyin"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "description": "Douyin sec_uid, the MS4wLjAB... string in a profile URL, or the numeric user ID. Provide at least one of: `handle`, `url`, `id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full Douyin profile URL. Provide at least one of: `handle`, `url`, `id`.",
            "schema": {
              "type": "string",
              "example": "https://www.douyin.com/user/MS4wLjABAAAAtxsy7VmVkU3RN9oIX0vdkh_6-LlQAb0gwI-tDf-bYNg"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric Douyin user ID. Provide at least one of: `handle`, `url`, `id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows to return, 1 to 25. Default 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25
            }
          },
          {
            "name": "recent_days",
            "in": "query",
            "required": false,
            "description": "Only return videos published in the last N days. Leave unset for the newest regardless of age.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3650
            }
          },
          {
            "name": "exclude_pinned",
            "in": "query",
            "required": false,
            "description": "Set true to skip videos pinned to the top of the profile, which can be old.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": {
          "min": 50,
          "max": 1250
        },
        "x-group": "Profile",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/douyin/post": {
      "get": {
        "operationId": "douyin_post",
        "summary": "Post",
        "description": "Returns one Douyin video: caption, creator, likes, comments, shares, saves, hashtags, music, duration, dimensions, cover image, and tagged place when set.\n\nUse it when you have a video URL or aweme ID and need the full record; search returns only a summary row.\n\n**100 credits** per call.",
        "tags": [
          "douyin"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Douyin video URL, for example https://www.douyin.com/video/7681266289940544369, or the bare numeric aweme ID.",
            "schema": {
              "type": "string",
              "example": "https://www.douyin.com/video/7681266289940544369"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 100,
        "x-group": "Post",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostOne"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/douyin/post/comments": {
      "get": {
        "operationId": "douyin_post_comments",
        "summary": "Post › Comments",
        "description": "Returns top-level comments on a Douyin video: text, commenter, like count, reply count, IP region, and whether the creator liked it.\n\nUse it to read a video's top-level comments; use comment/replies for the thread under one of them.\n\n**Metered: 20–1000 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.",
        "tags": [
          "douyin"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Douyin video URL or the bare numeric aweme ID.",
            "schema": {
              "type": "string",
              "example": "https://www.douyin.com/video/7681266289940544369"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Comments to return, 1 to 100. Default 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": {
          "min": 20,
          "max": 1000
        },
        "x-group": "Post",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CommentPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/douyin/comment/replies": {
      "get": {
        "operationId": "douyin_comment_replies",
        "summary": "Comment › Replies",
        "description": "Returns the reply thread under one Douyin comment: text, replier, like count, IP region, and verification, each tagged with the parent comment id.\n\nUse it after post/comments, passing a comment id whose reply count is above zero.\n\n**Metered: 50–2500 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](https://www.insightsocial.app/docs/pagination).",
        "tags": [
          "douyin"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Douyin video URL or the bare numeric aweme ID the comment sits under.",
            "schema": {
              "type": "string",
              "example": "https://www.douyin.com/video/7681266289940544369"
            }
          },
          {
            "name": "comment_id",
            "in": "query",
            "required": true,
            "description": "The comment to expand, taken from the id field of a GET /v1/douyin/post/comments row. Only comments with a non-zero engagement.replies have a thread.",
            "schema": {
              "type": "string",
              "example": "7682735175344833317"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Replies to return, 1 to 50. Default 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Continuation token from a previous response's pagination block. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": {
          "min": 50,
          "max": 2500
        },
        "x-group": "Comment",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CommentPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/douyin/search/users": {
      "get": {
        "operationId": "douyin_search_users",
        "summary": "Search › Users",
        "description": "Returns Douyin creators matching a keyword: nickname, Douyin ID, bio, follower count, total likes received, avatar, profile URL, and verification label.\n\nUse it to shortlist creators by keyword, follower band, or account type; use search to find videos instead.\n\n**Metered: 50–1250 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](https://www.insightsocial.app/docs/pagination).",
        "tags": [
          "douyin"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search keywords, for example 美食 or a brand name.",
            "schema": {
              "type": "string",
              "example": "美食"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows to return, 1 to 25. Default 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Continuation token from a previous response's pagination block. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "followers",
            "in": "query",
            "required": false,
            "description": "Follower band: all, under_1k, 1k_to_10k, 10k_to_100k, 100k_to_1m, or over_1m. Default all.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "under_1k",
                "1k_to_10k",
                "10k_to_100k",
                "100k_to_1m",
                "over_1m"
              ]
            }
          },
          {
            "name": "user_type",
            "in": "query",
            "required": false,
            "description": "Account type: all, regular_user, enterprise_verified, or individual_verified. Default all.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "regular_user",
                "enterprise_verified",
                "individual_verified"
              ]
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": {
          "min": 50,
          "max": 1250
        },
        "x-group": "Search",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ProfilePage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/douyin/trending": {
      "get": {
        "operationId": "douyin_trending",
        "summary": "Trending",
        "description": "Returns the live Douyin hot-search board: roughly 50 trending topics with rank, hot value, view count, video count, and the time each topic broke.\n\nUse it to see what is trending across Douyin right now; there is no keyword filter, the whole board comes back in one call.\n\n**250 credits** per call.",
        "tags": [
          "douyin"
        ],
        "parameters": [
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 250,
        "x-group": "Trending",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ConventionsData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "beta"
      }
    },
    "/v1/facebook/profile": {
      "get": {
        "operationId": "facebook_profile",
        "summary": "Profile",
        "description": "Returns a Facebook page's public profile: page id, display name, profile image, bio, follower count, and page-like count.\n\nUse it when you have a page URL and want a quick snapshot before pulling that page's posts, photos, or reels.\n\n**10 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the Facebook page or profile",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta"
            }
          },
          {
            "name": "get_business_hours",
            "in": "query",
            "required": false,
            "description": "Get the business's hours",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 10,
        "x-group": "Profile",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ProfileOne"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/profile/posts": {
      "get": {
        "operationId": "facebook_profile_posts",
        "summary": "Profile › Posts",
        "description": "Returns recent posts from a Facebook page or profile, each with the post text, like and comment counts, the per-reaction breakdown, media, and publish time. Share counts are null on a plain call.\n\nUse it to pull a page's recent content by url or pageId. The optional include=engagement fills each row's share count, and a reel's exact views and duration, in the same call.\n\n**Metered: 10–40 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](https://www.insightsocial.app/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full URL of the Facebook page or profile to fetch posts for. Provide at least one of: `url`, `pageId`.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta"
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "required": false,
            "description": "Facebook profile page id. Provide at least one of: `url`, `pageId`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Only posts published on or after this date: YYYY-MM-DD (midnight UTC) or an ISO 8601 timestamp. Older posts are left off the page, and the page that reaches one ends the walk: `next_cursor` is not returned and `pagination.stopped_at` is `since`. Pinned posts sit out of date order and never end the walk. The page still costs what a page costs, so a daily poll pays for the pages it walks and no more.",
            "schema": {
              "type": "string",
              "example": "2026-09-01"
            }
          },
          {
            "name": "stop_at_id",
            "in": "query",
            "required": false,
            "description": "The id (`post.id`) or URL (`post.url`) of the newest post you already hold. The page stops just before it: that post and everything after it are left off, `next_cursor` is not returned, and `pagination.stopped_at` is `known_id`. A pinned post never counts as the stop point. If it is not on this page the page is returned in full with its cursor, so keep walking. `pagination.stopped_at` is `end` when the list ran out first and `null` while there is more to walk.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "To paginate through the posts",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Set to `engagement` (one token only) to fill `post.engagement.shares` on every row, and `post.engagement.views` and `post.content.duration_seconds` on reels, in this one call. A row that links to an event rather than a post is not looked up. Without it the call is unchanged.",
            "schema": {
              "type": "string",
              "enum": [
                "engagement"
              ]
            }
          },
          {
            "name": "recent_days",
            "in": "query",
            "required": false,
            "description": "Keep only posts published in the last N days (1 to 3650) and stop pagination once a page reaches older posts. Does not change the price of a page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3650
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": {
          "min": 10,
          "max": 40
        },
        "x-group": "Profile",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/post": {
      "get": {
        "operationId": "facebook_post",
        "summary": "Post",
        "description": "Returns one Facebook post in full: the post text, like, comment and share counts, a reactions breakdown, media attachments, and author info.\n\nUse it when you have a single post URL and need more than profile/posts gives, such as the reactions breakdown.\n\n**10 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the Facebook post",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta/posts/pfbid0kPiRpqdc4HcL5ZMP6ANbkTWvjKYTs1hGKdZwHbYjTo4SNX8hM2UvjQmHBjq4r3cvl"
            }
          },
          {
            "name": "get_comments",
            "in": "query",
            "required": false,
            "description": "Accepted for backwards compatibility and currently a NO-OP: this endpoint returns the same body with or without it.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "get_transcript",
            "in": "query",
            "required": false,
            "description": "Accepted for backwards compatibility and currently a NO-OP: this endpoint returns the same body with or without it. Use `/v1/facebook/post/transcript` for a video transcript.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 10,
        "x-group": "Post",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostOne"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/post/comments": {
      "get": {
        "operationId": "facebook_post_comments",
        "summary": "Post › Comments",
        "description": "Returns comments on a Facebook post, each with the commenter's name, comment text, like count, reply count, and creation time.\n\nUse it to read a post's discussion; it also returns the feedback_id and expansion_token that post/comment/replies needs.\n\n**10 credits** per call.\n\nPaginates by `cursor`: see [Pagination](https://www.insightsocial.app/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full URL of the Facebook post to fetch comments for. Provide at least one of: `url`, `feedback_id`.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta/videos/a-slightly-life-changing-story/1459847961114516/"
            }
          },
          {
            "name": "feedback_id",
            "in": "query",
            "required": false,
            "description": "Using feedback_id (instead of url) will *really* speed up the request. You can get the feedback_id when you make a request to /v1/facebook/post. Provide at least one of: `url`, `feedback_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to get more comments. Get 'cursor' from previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 10,
        "x-group": "Post",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CommentPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/group/posts": {
      "get": {
        "operationId": "facebook_group_posts",
        "summary": "Group › Posts",
        "description": "Returns posts from a Facebook group, 3 to 4 per page, each with the post text, reaction count, comment count, the per-reaction breakdown, and author info.\n\nUse it for group content, since profile/posts covers pages only. Facebook serves a group 3 to 4 posts per page, so a long history is many pages. Each page is billed as one call: quote a long walk with dry_run first. Send next_cursor back as cursor for older posts; each post's url works as the input to post and post/comments. Share counts are not on this surface; read one with post.\n\n**10 credits** per call.\n\nPaginates by `cursor`: see [Pagination](https://www.insightsocial.app/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full URL of the Facebook group. Provide at least one of: `url`, `group_id`.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/groups/2204685680"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "description": "The ID of the group. Provide at least one of: `url`, `group_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "How to sort the posts",
            "schema": {
              "type": "string",
              "enum": [
                "TOP_POSTS",
                "RECENT_ACTIVITY",
                "CHRONOLOGICAL",
                "CHRONOLOGICAL_LISTINGS"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to get the next page of posts. Take it from `pagination.next_cursor` on the previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 10,
        "x-group": "Group",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/group": {
      "get": {
        "operationId": "facebook_group",
        "summary": "Group",
        "description": "Returns a Facebook group's public record: name, description, member count, privacy, visibility, and creation date.\n\nUse it to identify a group by URL or group_id before calling group/posts for the recent posts.\n\n**10 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full URL of the Facebook group. Provide at least one of: `url`, `group_id`.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/groups/2204685680"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "description": "Numeric Facebook group id. Provide at least one of: `url`, `group_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 10,
        "x-group": "Group",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ProfileOne"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/post/transcript": {
      "get": {
        "operationId": "facebook_post_transcript",
        "summary": "Post › Transcript",
        "description": "Returns the spoken words of a Facebook video post as a transcript, using Facebook's auto-generated captions.\n\nUse it when you need what was said in a video; post returns the caption text and engagement but not the speech.\n\n**100 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the Facebook video post",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta/videos/a-slightly-life-changing-story/1459847961114516/"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 100,
        "x-group": "Post",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/TranscriptOne"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/profile/photos": {
      "get": {
        "operationId": "facebook_profile_photos",
        "summary": "Profile › Photos",
        "description": "Returns a page or profile's photos, each with a photo id, permalink, full-size image URL, thumbnail, and accessibility caption when available.\n\nUse it for a page's photo gallery. The plain row carries no author, engagement or publish time, so add the optional include=details to fill them from each photo's own post in the same call.\n\n**Metered: 10–90 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](https://www.insightsocial.app/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the Facebook page or profile",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Set to `details` (one token only) to fill `post.author.display_name`, `post.author.avatar_url`, `author.id`, `post.engagement.likes`, `.comments` and `.shares`, and `post.published_at` on every photo in this one call. A photo inside a multi-photo post carries its own counts, not the post's. Without it the call is unchanged.",
            "schema": {
              "type": "string",
              "enum": [
                "details"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "The `pagination.next_cursor` from the previous page, sent back unchanged. Omit it for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": {
          "min": 10,
          "max": 90
        },
        "x-group": "Profile",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/profile/reels": {
      "get": {
        "operationId": "facebook_profile_reels",
        "summary": "Profile › Reels",
        "description": "Returns a page or profile's reels, each with a reel id, description, thumbnail, permalink, publish time, and a rounded public view count.\n\nUse it for a cheap reel listing; when you need exact views plus likes, comments, and shares, use profile/reels/full instead.\n\n**10 credits** per call.\n\nPaginates by `cursor`: see [Pagination](https://www.insightsocial.app/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the Facebook page or profile",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/Meta"
            }
          },
          {
            "name": "recent_days",
            "in": "query",
            "required": false,
            "description": "Keep only reels published in the last N days (1 to 3650) and stop pagination once a page reaches older reels. Does not change the price of a page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 3650
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "The `pagination.next_cursor` from the previous page, sent back unchanged. Omit it for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 10,
        "x-group": "Profile",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/adlibrary/ad": {
      "get": {
        "operationId": "facebook_adlibrary_ad",
        "summary": "Adlibrary › Ad",
        "description": "Returns one ad from the Facebook Ad Library: creative, CTA and link, run dates, display format, and the advertiser's page URL, likes and categories.\n\nUse it when you have an ad id or URL. Spend and reach are political-ads-only, and Facebook publishes no per-ad impression count.\n\n**50 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Facebook Ad Library ad ID. Ad ids rotate as campaigns end, so take a current one from `/v1/facebook/adlibrary/company/ads` or `/v1/facebook/adlibrary/search/ads` rather than reusing an old one. Provide at least one of: `id`, `url`.",
            "schema": {
              "type": "string",
              "example": "1702938977100376"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Facebook Ad Library URL for the ad (`https://www.facebook.com/ads/library?id=...`). A page URL is rejected with a 400. Provide at least one of: `id`, `url`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true for a trimmed down version of the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 50,
        "x-group": "Adlibrary",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostOne"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/adlibrary/company/ads": {
      "get": {
        "operationId": "facebook_adlibrary_company_ads",
        "summary": "Adlibrary › Company › Ads",
        "description": "Returns the ads one company or page is running in the Facebook Ad Library, each with its creative, status, spend, and targeting info.\n\nUse it when you know the advertiser by pageId or company name; to find ads by keyword across advertisers, use adlibrary/search/ads.\n\n**Metered: 50–350 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](https://www.insightsocial.app/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "query",
            "required": false,
            "description": "Facebook page ID of the advertiser. Provide at least one of: `pageId`, `companyName`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "required": false,
            "description": "The name of the company. Can either use this or pageId. Provide at least one of: `pageId`, `companyName`.",
            "schema": {
              "type": "string",
              "example": "Lululemon"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "This can only be one country. It has to be the 2 letter code for the country. It defaults to ALL.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status of the ad. Defaults to ACTIVE.",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "ACTIVE",
                "INACTIVE"
              ]
            }
          },
          {
            "name": "media_type",
            "in": "query",
            "required": false,
            "description": "Media type of the ad. Defaults to ALL. Meme refers to ads with image and text. Not sure why they call it meme.",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "IMAGE",
                "VIDEO",
                "MEME",
                "IMAGE_AND_MEME",
                "NONE"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Language to filter ads on. Needs to be 2 letter language code, ie EN, ES, FR, etc",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort by impressions (high to low), or Most Recent (relevancy_monthly_grouped). Defaults to impressions.",
            "schema": {
              "type": "string",
              "enum": [
                "total_impressions",
                "relevancy_monthly_grouped"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date to search for. Format: YYYY-MM-DD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date to search for. Format: YYYY-MM-DD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to paginate through results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true for a trimmed down version of the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Set to `audience` (one token only) to fill, on every ad that ran in the EU, `post.ext.ad.eu_total_reach`, `post.ext.ad.eu_reach_breakdown` (reach per EU country by age band and gender), `post.ext.ad.targets_eu`, `target_ages`, `target_gender` and `target_locations`. Without it the call is unchanged.",
            "schema": {
              "type": "string",
              "enum": [
                "audience"
              ]
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": {
          "min": 50,
          "max": 350
        },
        "x-group": "Adlibrary",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/adlibrary/search/ads": {
      "get": {
        "operationId": "facebook_adlibrary_search_ads",
        "summary": "Adlibrary › Search › Ads",
        "description": "Returns Facebook Ad Library ads matching a keyword, each with its creative text, images, sponsor info, and running status.\n\nUse it to find ads across all advertisers by keyword; if you already know the advertiser, adlibrary/company/ads is more direct.\n\n**50 credits** per call.\n\nPaginates by `cursor`: see [Pagination](https://www.insightsocial.app/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search keyword or phrase to find ads in the Facebook Ad Library",
            "schema": {
              "type": "string",
              "example": "artificial intelligence"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort by impressions (high to low), or Most Recent (relevancy_monthly_grouped). Defaults to impressions.",
            "schema": {
              "type": "string",
              "enum": [
                "total_impressions",
                "relevancy_monthly_grouped"
              ]
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "description": "If you want to search by exact phrase or not",
            "schema": {
              "type": "string",
              "enum": [
                "keyword_unordered",
                "keyword_exact_phrase"
              ]
            }
          },
          {
            "name": "ad_type",
            "in": "query",
            "required": false,
            "description": "Search for all ads or only political and issue ads",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "political_and_issue_ads"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "This can only be one country. It has to be the 2 letter code for the country. It defaults to ALL.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Status of the ad. Defaults to ACTIVE.",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "ACTIVE",
                "INACTIVE"
              ]
            }
          },
          {
            "name": "media_type",
            "in": "query",
            "required": false,
            "description": "Media type of the ad. Defaults to ALL. Meme just means the ad has text and an image. No clue why they call it meme.",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "IMAGE",
                "VIDEO",
                "MEME",
                "IMAGE_AND_MEME",
                "NONE"
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Impressions start date. Needs to be in YYYY-MM-DD format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Impressions end date. Needs to be in YYYY-MM-DD format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to paginate through results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true for a trimmed down version of the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 50,
        "x-group": "Adlibrary",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ConventionsData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "beta"
      }
    },
    "/v1/facebook/adlibrary/search/companies": {
      "get": {
        "operationId": "facebook_adlibrary_search_companies",
        "summary": "Adlibrary › Search › Companies",
        "description": "Returns advertiser pages in the Facebook Ad Library matching a name, each with its page id, name, handle, verification badge and follower count.\n\nUse it to find an advertiser's pageId first, then pass that pageId to adlibrary/company/ads, which is also where you count their ads.\n\n**50 credits** per call.",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search keyword or phrase to find companies in the Facebook Ad Library",
            "schema": {
              "type": "string",
              "example": "Nike"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": 50,
        "x-group": "Adlibrary",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ProfilePage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/profile/events": {
      "get": {
        "operationId": "facebook_profile_events",
        "summary": "Profile › Events",
        "description": "Returns a Facebook page's upcoming and past events, each with a title, link, the start time, the venue, the city, the rendered time line, and the cancelled, past and online flags.\n\nUse it for one page's own events; events covers a city. The start time sits on published_at and is often in the future. Optional include=details adds the description, hosts, cover and RSVP counts.\n\n**Metered: 10–90 credits.** We reserve the ceiling when the call starts and charge what it actually used when it finishes.\n\nPaginates by `cursor`: see [Pagination](https://www.insightsocial.app/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Full URL of the public Facebook page.",
            "schema": {
              "type": "string",
              "example": "https://www.facebook.com/brickyardoldtown"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Cursor returned by the previous response for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Set to `details` (one token only) to fill, on every event in this one call, `post.ext.event.description`, `address`, `latitude`, `longitude`, `hosts`, `host_context_text`, `category`, `privacy`, `attendance_count`, `interested_count` and `going_count`, the cover image on `post.content.thumbnail_url`, and the RSVP counts on `post.engagement.views` (interested) and `.likes` (going). Without it the call is unchanged.",
            "schema": {
              "type": "string",
              "enum": [
                "details"
              ]
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Set to 1 to get the price of this call without making it: data.dry_run carries credits_min and credits_max. Nothing is charged.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "x-credits": {
          "min": 10,
          "max": 90
        },
        "x-group": "Profile",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope2"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PostPage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-stability": "stable"
      }
    },
    "/v1/facebook/post/comment/replies": {
      "get": {
        "operationId": "facebook_post_comment_replies",
        "summary": "Post › Comment › Replies",
        "description": "Returns the replies under a single Facebook comment, each with the author name, reply text, like count, and creation time.\n\nUse it after post/comments: pass that response's feedback_id and expansion_token, which are not the comment id.\n\n**10 credits** per call.\n\nPaginates by `cursor`: see [Pagination](https://www.insightsocial.app/docs/pagination).",
        "tags": [
          "facebook"
        ],
        "parameters": [
          {
            "name": "feedback_id",
            "in": "query",
            "required": true,
            "description": "`feedback_id` from `/v1/facebook/post/comments` for the parent comment (this is NOT the comment ID).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expansion_token",
            "in": "query",
            "required": true,
            "description": "`expansion_token` from `/v1/facebook/post/comments` for the parent comment.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
[...]
