{
  "openapi": "3.1.0",
  "info": {
    "title": "PDFBolt API",
    "version": "1.0.0",
    "summary": "PDF generation and reusable template management API",
    "description": "PDFBolt provides REST APIs for generating PDFs from Base64-encoded HTML,\nHTTPS URLs, and published templates with JSON data, and for managing reusable templates.\n\nThe Conversion API has three modes:\nDirect returns the generated PDF in the HTTP response, Sync returns a\ntemporary download URL, and Async accepts a background job and delivers the\nfinal result to your webhook.\n\nThe Template API lets\nyou create and manage reusable templates programmatically using a\nPersonal&nbsp;Access&nbsp;Token.\n\nOutbound URL fetching, webhook delivery, and custom S3 uploads use PDFBolt's\nstatic outbound IP addresses. See [IP Addresses](https://pdfbolt.com/docs/ip-addresses).\n\nOpen the raw OpenAPI YAML: [openapi.yaml](/openapi.yaml).\n",
    "contact": {
      "name": "PDFBolt",
      "email": "contact@pdfbolt.com",
      "url": "https://pdfbolt.com/contact"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://pdfbolt.com/terms"
    },
    "x-jentic-source-url": "https://pdfbolt.com/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.pdfbolt.com",
      "description": "PDFBolt API"
    }
  ],
  "paths": {
    "/v1/direct": {
      "post": {
        "tags": [
          "Conversion API"
        ],
        "operationId": "convertDirect",
        "summary": "Generate a PDF and return it in the response body",
        "description": "Generates a PDF from a URL, Base64-encoded HTML, or a published template\nID with template data, then returns the generated document directly in\nthe HTTP response body. Use this endpoint when your application needs the\nPDF immediately.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectConversionRequest"
              },
              "examples": {
                "url": {
                  "summary": "Convert a URL to PDF",
                  "value": {
                    "url": "https://example.com"
                  }
                },
                "html": {
                  "summary": "Convert Base64 HTML to PDF",
                  "value": {
                    "html": "PGh0bWw+PGJvZHk+PGgxPkludm9pY2UgIzEwNDI8L2gxPjxwPkFtb3VudDogJDI1MC4wMDwvcD48L2JvZHk+PC9odG1sPg=="
                  }
                },
                "template": {
                  "summary": "Convert a template to PDF",
                  "value": {
                    "templateId": "00000000-0000-0000-0000-000000000000",
                    "templateData": {
                      "invoice_number": "INV-2026-0112",
                      "total": "$250.00"
                    }
                  }
                },
                "encoded": {
                  "summary": "Return the PDF as Base64 text",
                  "value": {
                    "url": "https://example.com",
                    "isEncoded": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated PDF returned as binary PDF or Base64-encoded text.",
            "headers": {
              "x-pdfbolt-conversion-cost": {
                "$ref": "#/components/headers/ConversionCost"
              },
              "x-pdfbolt-limit-minute": {
                "$ref": "#/components/headers/RateLimitMinute"
              },
              "x-pdfbolt-remaining-minute": {
                "$ref": "#/components/headers/RateLimitRemainingMinute"
              },
              "x-pdfbolt-limit-hour": {
                "$ref": "#/components/headers/RateLimitHour"
              },
              "x-pdfbolt-remaining-hour": {
                "$ref": "#/components/headers/RateLimitRemainingHour"
              },
              "x-pdfbolt-limit-day": {
                "$ref": "#/components/headers/RateLimitDay"
              },
              "x-pdfbolt-remaining-day": {
                "$ref": "#/components/headers/RateLimitRemainingDay"
              },
              "Content-Disposition": {
                "$ref": "#/components/headers/ContentDisposition"
              }
            },
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/PdfBinaryResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PdfBase64Response"
                },
                "examples": {
                  "Base64 PDF": {
                    "summary": "Base64-encoded PDF response",
                    "value": "JVBERi0xLjQKJcfs..."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "408": {
            "$ref": "#/components/responses/ConversionTimeout"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "499": {
            "$ref": "#/components/responses/ClientDisconnected"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/sync": {
      "post": {
        "tags": [
          "Conversion API"
        ],
        "operationId": "convertSync",
        "summary": "Generate a PDF and return a temporary download URL",
        "description": "Generates a PDF from a URL, Base64-encoded HTML, or a published template\nID with template data, then returns a JSON response with a downloadable\ndocument URL. By default, files stored in PDFBolt's temporary storage\nexpire after 24 hours. You can provide `customS3PresignedUrl` to upload\nthe PDF directly to your own S3-compatible bucket.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncConversionRequest"
              },
              "examples": {
                "url": {
                  "summary": "Convert a URL to PDF and receive a download URL",
                  "value": {
                    "url": "https://example.com"
                  }
                },
                "html": {
                  "summary": "Convert Base64 HTML to PDF and receive a download URL",
                  "value": {
                    "html": "PGh0bWw+PGJvZHk+PGgxPkludm9pY2UgIzEwNDI8L2gxPjxwPkFtb3VudDogJDI1MC4wMDwvcD48L2JvZHk+PC9odG1sPg=="
                  }
                },
                "template": {
                  "summary": "Convert a template to PDF and receive a download URL",
                  "value": {
                    "templateId": "00000000-0000-0000-0000-000000000000",
                    "templateData": {
                      "invoice_number": "INV-2026-0112",
                      "total": "$250.00"
                    }
                  }
                },
                "customS3": {
                  "summary": "Upload the generated PDF to a custom S3-compatible bucket",
                  "value": {
                    "url": "https://example.com",
                    "customS3PresignedUrl": "https://your-bucket.s3.amazonaws.com/document.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=example"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF generated successfully. The response contains the conversion result.",
            "headers": {
              "x-pdfbolt-conversion-cost": {
                "$ref": "#/components/headers/ConversionCost"
              },
              "x-pdfbolt-limit-minute": {
                "$ref": "#/components/headers/RateLimitMinute"
              },
              "x-pdfbolt-remaining-minute": {
                "$ref": "#/components/headers/RateLimitRemainingMinute"
              },
              "x-pdfbolt-limit-hour": {
                "$ref": "#/components/headers/RateLimitHour"
              },
              "x-pdfbolt-remaining-hour": {
                "$ref": "#/components/headers/RateLimitRemainingHour"
              },
              "x-pdfbolt-limit-day": {
                "$ref": "#/components/headers/RateLimitDay"
              },
              "x-pdfbolt-remaining-day": {
                "$ref": "#/components/headers/RateLimitRemainingDay"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncResponse"
                },
                "examples": {
                  "Default storage": {
                    "$ref": "#/components/examples/SyncSuccess"
                  },
                  "Custom S3 upload": {
                    "$ref": "#/components/examples/SyncCustomS3Success"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SyncBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "408": {
            "$ref": "#/components/responses/ConversionTimeout"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "499": {
            "$ref": "#/components/responses/ClientDisconnected"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/async": {
      "post": {
        "tags": [
          "Conversion API"
        ],
        "operationId": "createAsyncConversion",
        "summary": "Generate a PDF and deliver the result by webhook",
        "description": "Generates a PDF in the background, immediately returns a `requestId`, and\ndelivers the final result to your HTTPS webhook URL once the job succeeds\nor permanently fails. The `webhook` parameter is required. You can provide\n`customS3PresignedUrl` to upload the PDF directly to your own\nS3-compatible bucket. This endpoint is available on paid plans.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncConversionRequest"
              },
              "examples": {
                "url": {
                  "summary": "Generate a PDF from a URL and receive the result by webhook",
                  "value": {
                    "url": "https://example.com",
                    "webhook": "https://your-app.com/webhook"
                  }
                },
                "html": {
                  "summary": "Generate a PDF from Base64 HTML and receive the result by webhook",
                  "value": {
                    "html": "PGh0bWw+PGJvZHk+PGgxPkludm9pY2UgIzEwNDI8L2gxPjxwPkFtb3VudDogJDI1MC4wMDwvcD48L2JvZHk+PC9odG1sPg==",
                    "webhook": "https://your-app.com/webhook"
                  }
                },
                "template": {
                  "summary": "Generate a PDF from a template and receive the result by webhook",
                  "value": {
                    "templateId": "00000000-0000-0000-0000-000000000000",
                    "templateData": {
                      "invoice_number": "INV-2026-0112",
                      "total": "$250.00"
                    },
                    "webhook": "https://your-app.com/webhook"
                  }
                },
                "customS3": {
                  "summary": "Generate a PDF from a URL and upload it to a custom S3-compatible bucket",
                  "value": {
                    "url": "https://example.com",
                    "webhook": "https://your-app.com/webhook",
                    "customS3PresignedUrl": "https://your-bucket.s3.amazonaws.com/document.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=example"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async request accepted for background processing.",
            "headers": {
              "x-pdfbolt-limit-minute": {
                "$ref": "#/components/headers/RateLimitMinute"
              },
              "x-pdfbolt-remaining-minute": {
                "$ref": "#/components/headers/RateLimitRemainingMinute"
              },
              "x-pdfbolt-limit-hour": {
                "$ref": "#/components/headers/RateLimitHour"
              },
              "x-pdfbolt-remaining-hour": {
                "$ref": "#/components/headers/RateLimitRemainingHour"
              },
              "x-pdfbolt-limit-day": {
                "$ref": "#/components/headers/RateLimitDay"
              },
              "x-pdfbolt-remaining-day": {
                "$ref": "#/components/headers/RateLimitRemainingDay"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncResponse"
                },
                "examples": {
                  "Accepted": {
                    "$ref": "#/components/examples/AsyncAccepted"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AsyncBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/RequestPayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "499": {
            "$ref": "#/components/responses/ClientDisconnected"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "operationId": "getUsage",
        "summary": "Get current plan and remaining conversions",
        "description": "Returns the authenticated account's current plan, recurring conversion\ndetails, one-time conversion packages, remaining conversions, overage,\nand expiration dates. Use the same `API-KEY` header as the Conversion API\nendpoints. Use it to track conversion usage, not API request limits.\n",
        "responses": {
          "200": {
            "description": "Usage details returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                },
                "examples": {
                  "Usage": {
                    "$ref": "#/components/examples/UsageSuccess"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/templates/contract": {
      "get": {
        "tags": [
          "Template API"
        ],
        "security": [],
        "operationId": "getTemplateContract",
        "summary": "Get the public Template Contract",
        "description": "Returns the current Template Contract. It covers supported fields, defaults, rendering guidance, limits, errors, and the recommended workflow for creating and publishing templates. Use it for PDFBolt-specific template rules and this OpenAPI document for exact request and response schemas. No authentication is required.\n",
        "responses": {
          "200": {
            "description": "Template Contract returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateContract"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "head": {
        "tags": [
          "Template API"
        ],
        "security": [],
        "operationId": "headTemplateContract",
        "summary": "Check the public Template Contract endpoint",
        "description": "Returns the same status and response headers as GET /v1/templates/contract without a response body. No authentication is required.\n",
        "responses": {
          "200": {
            "description": "Template Contract endpoint is available. The response has no body."
          },
          "503": {
            "description": "The service is temporarily unavailable. The response has no body."
          }
        }
      }
    },
    "/v1/templates": {
      "get": {
        "tags": [
          "Template API"
        ],
        "security": [
          {
            "personalAccessTokenAuth": []
          }
        ],
        "operationId": "listTemplates",
        "summary": "List templates",
        "description": "Returns the current team's templates with published and draft version details, excluding deleted templates. Results are ordered by the latest version update, newest first, and are not paginated.\n",
        "responses": {
          "200": {
            "description": "Templates returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateApiListResponse"
                },
                "example": {
                  "templates": [
                    {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "name": "Invoice",
                      "description": "Monthly invoice template",
                      "templateEngine": "HANDLEBARS",
                      "hasDraft": true,
                      "publishedVersion": {
                        "id": 381,
                        "status": "PUBLISHED",
                        "versionNumber": 1,
                        "createdTime": "2026-07-20T10:00:00Z",
                        "modifiedTime": "2026-07-20T10:05:00Z"
                      },
                      "draftVersion": {
                        "id": 382,
                        "status": "DRAFT",
                        "versionNumber": 2,
                        "createdTime": "2026-07-21T09:00:00Z",
                        "modifiedTime": "2026-07-21T09:30:00Z"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/TemplateApiUnauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TemplateApiTooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/templates/{templateId}": {
      "get": {
        "tags": [
          "Template API"
        ],
        "security": [
          {
            "personalAccessTokenAuth": []
          }
        ],
        "operationId": "getTemplate",
        "summary": "Get template details",
        "description": "Returns details for the template identified by `templateId`, including its content, sample data, PDF parameters, and metadata for the active draft and latest published version. If an active draft exists, the content, sample data, and PDF parameters come from it. Otherwise, they come from the latest published version.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Template details returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateApiTemplate"
                },
                "example": {
                  "id": "00000000-0000-0000-0000-000000000000",
                  "name": "Invoice",
                  "description": "Monthly invoice template",
                  "templateEngine": "HANDLEBARS",
                  "hasDraft": true,
                  "content": "PCFET0NUWVBFIGh0bWw+PGh0bWw+PGJvZHk+PGgxPkludm9pY2Uge3tpbnZvaWNlTnVtYmVyfX08L2gxPjxwPnt7Y3VzdG9tZXJOYW1lfX08L3A+PC9ib2R5PjwvaHRtbD4=",
                  "sampleData": {
                    "invoiceNumber": "INV-1001",
                    "customerName": "Acme Inc."
                  },
                  "parameters": {
                    "format": "A4",
                    "landscape": false,
                    "waitUntil": "load",
                    "footerTemplate": "PGRpdj48c3BhbiBjbGFzcz0icGFnZU51bWJlciI+PC9zcGFuPjwvZGl2Pg==",
                    "headerTemplate": "PGRpdj48L2Rpdj4=",
                    "printBackground": true,
                    "waitForFunction": "() => document.readyState === 'complete'",
                    "displayHeaderFooter": true
                  },
                  "publishedVersion": {
                    "id": 381,
                    "status": "PUBLISHED",
                    "versionNumber": 3,
                    "createdTime": "2026-06-20T10:12:34Z",
                    "modifiedTime": "2026-06-20T10:12:34Z"
                  },
                  "draftVersion": {
                    "id": 382,
                    "status": "DRAFT",
                    "versionNumber": 4,
                    "createdTime": "2026-06-20T11:03:12Z",
                    "modifiedTime": "2026-06-20T11:08:41Z"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/TemplateApiInvalidIdBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/TemplateApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/TemplateApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TemplateApiTooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "delete": {
        "tags": [
          "Template API"
        ],
        "security": [
          {
            "personalAccessTokenAuth": []
          }
        ],
        "operationId": "deleteTemplate",
        "summary": "Delete a template",
        "description": "Removes the entire template from the team's active templates. Its draft and published versions can no longer be accessed through the Template API or used for new conversions. This API does not provide a restore operation. Already generated PDFs are unaffected, and a conversion that has already loaded the template may finish. Returns 404 for missing, previously deleted, or another team's templates. Does not consume conversion credits. Management rate limits apply.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Template deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateApiDeleteResponse"
                },
                "example": {
                  "templateId": "2b1124e7-7f8d-4fd9-9d0a-4f8cf0c58f98"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/TemplateApiInvalidIdBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/TemplateApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/TemplateApiNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TemplateApiTooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/templates/validate": {
      "post": {
        "tags": [
          "Template API"
        ],
        "security": [
          {
            "personalAccessTokenAuth": []
          }
        ],
        "operationId": "validateTemplatePayload",
        "summary": "Validate a template payload",
        "description": "Validates a template payload without saving it or rendering a PDF. It checks required fields, Base64 content, payload size limits, the template engine, Handlebars syntax and evaluation, and supported PDF parameters. Handlebars placeholders without matching values in `sampleData` render as empty text and do not cause validation to fail. Use it before previewing or saving a draft.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateApiTemplatePayload"
              },
              "example": {
                "templateEngine": "HANDLEBARS",
                "content": "PCFkb2N0eXBlIGh0bWw+PGh0bWw+PGJvZHk+PGgxPkludm9pY2Uge3tpbnZvaWNlTnVtYmVyfX08L2gxPjwvYm9keT48L2h0bWw+",
                "sampleData": {
                  "invoiceNumber": "INV-1001"
                },
                "parameters": {
                  "format": "A4",
                  "waitUntil": "networkidle",
                  "printBackground": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template payload passed validation."
          },
          "400": {
            "$ref": "#/components/responses/TemplateApiValidateBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/TemplateApiUnauthorized"
          },
          "413": {
            "$ref": "#/components/responses/TemplateApiValidatePayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/TemplateApiUnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TemplateApiTooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/templates/preview": {
      "post": {
        "tags": [
          "Template API"
        ],
        "security": [
          {
            "personalAccessTokenAuth": []
          }
        ],
        "operationId": "previewTemplatePayload",
        "summary": "Preview a template payload",
        "description": "Renders a template payload as a PDF without saving it as a template or draft. Each successful preview render counts toward your available document conversions.",
        "parameters": [
          {
            "name": "responseFormat",
            "in": "query",
            "required": false,
            "description": "Response format. Defaults to `url`, which returns a temporary `documentUrl`, `expiresAt`, and `documentSizeMb`. Use `pdf` to return raw PDF bytes or `json` to return `pdfBase64` and `documentSizeMb`. Every format returns the conversion cost in the `x-pdfbolt-conversion-cost` response header.",
            "schema": {
              "type": "string",
              "enum": [
                "pdf",
                "json",
                "url"
              ],
              "default": "url"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateApiTemplatePayload"
              },
              "example": {
                "templateEngine": "HANDLEBARS",
                "content": "PCFkb2N0eXBlIGh0bWw+PGh0bWw+PGJvZHk+PGgxPkludm9pY2Uge3tpbnZvaWNlTnVtYmVyfX08L2gxPjwvYm9keT48L2h0bWw+",
                "sampleData": {
                  "invoiceNumber": "INV-1001"
                },
                "parameters": {
                  "format": "A4",
                  "waitUntil": "networkidle",
                  "printBackground": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview rendered successfully.",
            "headers": {
              "x-pdfbolt-conversion-cost": {
                "$ref": "#/components/headers/ConversionCost"
              },
              "x-pdfbolt-limit-minute": {
                "$ref": "#/components/headers/RateLimitMinute"
              },
              "x-pdfbolt-remaining-minute": {
                "$ref": "#/components/headers/RateLimitRemainingMinute"
              },
              "x-pdfbolt-limit-hour": {
                "$ref": "#/components/headers/RateLimitHour"
              },
              "x-pdfbolt-remaining-hour": {
                "$ref": "#/components/headers/RateLimitRemainingHour"
              },
              "x-pdfbolt-limit-day": {
                "$ref": "#/components/headers/RateLimitDay"
              },
              "x-pdfbolt-remaining-day": {
                "$ref": "#/components/headers/RateLimitRemainingDay"
              }
            },
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateApiPreviewPdfResponse"
                }
              },
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TemplateApiPreviewUrlResponse"
                    },
                    {
                      "$ref": "#/components/schemas/TemplateApiPreviewJsonResponse"
                    }
                  ]
                },
                "examples": {
                  "Default temporary URL response": {
                    "value": {
                      "documentUrl": "https://s3.pdfbolt.com/pdfbolt_ec2950a1-f835-4be6-bab2-69490b53b1f9_2026-08-18T22-30-00Z.pdf",
                      "expiresAt": "2026-08-19T22:30:00Z",
                      "documentSizeMb": 0.01
                    }
                  },
                  "Base64 JSON response": {
                    "value": {
                      "documentSizeMb": 0.01,
                      "pdfBase64": "JVBERi0xLjQKJSVFT0YK"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/TemplateApiPreviewBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/TemplateApiUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TemplateApiConversionForbidden"
          },
          "408": {
            "$ref": "#/components/responses/TemplateApiConversionTimeout"
          },
          "413": {
            "$ref": "#/components/responses/TemplateApiPreviewPayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/TemplateApiRenderingUnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/TemplateApiUnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "499": {
            "$ref": "#/components/responses/ClientDisconnected"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/templates/{templateId}/diff": {
      "post": {
        "tags": [
          "Template API"
        ],
        "security": [
          {
            "personalAccessTokenAuth": []
          }
        ],
        "operationId": "diffTemplatePayload",
        "summary": "Compare proposed changes with the published version",
        "description": "The template must have a published version. The endpoint renders the published version as `before` and the supplied template payload as `after` for visual comparison without saving the changes. The conversion cost is calculated separately for each successfully rendered side.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateId"
          },
          {
            "name": "responseFormat",
            "in": "query",
            "required": false,
            "description": "Response format. Defaults to `url`, which returns temporary `documentUrl` and `expiresAt` values. Use `json` to return each rendered PDF as `pdfBase64` instead. Both formats include `documentSizeMb` and `error` for each side and report the conversion cost in the `x-pdfbolt-conversion-cost` response header.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "url"
              ],
              "default": "url"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateApiDiffRequest"
              },
              "example": {
                "templateEngine": "HANDLEBARS",
                "content": "PCFkb2N0eXBlIGh0bWw+PGh0bWw+PGJvZHk+PGgxPkludm9pY2Uge3tpbnZvaWNlTnVtYmVyfX08L2gxPjwvYm9keT48L2h0bWw+",
                "sampleData": {
                  "invoiceNumber": "INV-1001"
                },
                "parameters": {
                  "format": "A4",
                  "waitUntil": "networkidle",
                  "printBackground": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comparison completed. Rendering failures are returned in `before.error` or `after.error` while the response remains HTTP 200.",
            "headers": {
              "x-pdfbolt-conversion-cost": {
                "$ref": "#/components/headers/ConversionCost"
              },
              "x-pdfbolt-limit-minute": {
                "$ref": "#/components/headers/RateLimitMinute"
              },
              "x-pdfbolt-remaining-minute": {
                "$ref": "#/components/headers/RateLimitRemainingMinute"
              },
              "x-pdfbolt-limit-hour": {
                "$ref": "#/components/headers/RateLimitHour"
              },
              "x-pdfbolt-remaining-hour": {
                "$ref": "#/components/headers/RateLimitRemainingHour"
              },
              "x-pdfbolt-limit-day": {
                "$ref": "#/components/headers/RateLimitDay"
              },
              "x-pdfbolt-remaining-day": {
                "$ref": "#/components/headers/RateLimitRemainingDay"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TemplateApiDiffUrlResponse"
                    },
                    {
                      "$ref": "#/components/schemas/TemplateApiDiffResponse"
                    }
                  ]
                },
                "examples": {
                  "Default temporary URL response": {
                    "value": {
                      "before": {
                        "documentUrl": "https://s3.pdfbolt.com/pdfbolt_06192879-a2fc-490a-9f19-cc14c8baa7f7_2026-08-18T22-30-00Z.pdf",
                        "expiresAt": "2026-08-19T22:30:00Z",
                        "documentSizeMb": 0.01,
                        "error": null
                      },
                      "after": {
                        "documentUrl": "https://s3.pdfbolt.com/pdfbolt_5d9c6d2f-c205-42c4-9038-2165061cba63_2026-08-18T22-30-01Z.pdf",
                        "expiresAt": "2026-08-19T22:30:01Z",
                        "documentSizeMb": 0.01,
                        "error": null
                      }
                    }
                  },
                  "Base64 JSON response": {
                    "value": {
                      "before": {
                        "documentSizeMb": 0.01,
                        "pdfBase64": "JVBERi0xLjQKJSVFT0YK",
                        "error": null
                      },
                      "after": {
                        "documentSizeMb": 0.01,
                        "pdfBase64": "JVBERi0xLjQKJSVFT0YK",
                        "error": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/TemplateApiDiffBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/TemplateApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/TemplateApiDiffNotFound"
          },
          "413": {
            "$ref": "#/components/responses/TemplateApiDiffPayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/TemplateApiRenderingUnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/templates/drafts": {
      "post": {
        "tags": [
          "Template API"
        ],
        "security": [
          {
            "personalAccessTokenAuth": []
          }
        ],
        "operationId": "saveTemplateDraft",
        "summary": "Create or update a template draft",
        "description": "Creates a new template and its first draft when `templateId` is omitted. When `templateId` is provided, the endpoint updates only the supplied fields, using the active draft as the base or the published version if no active draft exists. Supplied `content` and `sampleData` replace their complete stored values. For `parameters`, only the fields you provide are updated. Every save validates the complete draft, including fields preserved during an update, without rendering a PDF or consuming conversion credits.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateApiSaveDraftRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Draft saved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateApiSaveDraftResponse"
                },
                "examples": {
                  "TemplateCreated": {
                    "summary": "New template created",
                    "value": {
                      "templateId": "00000000-0000-0000-0000-000000000000",
                      "draftVersionId": 2038,
                      "versionNumber": 1,
                      "createdTemplate": true
                    }
                  },
                  "ExistingTemplateDraftSaved": {
                    "summary": "Draft saved for existing template",
                    "value": {
                      "templateId": "00000000-0000-0000-0000-000000000000",
                      "draftVersionId": 2038,
                      "versionNumber": 1,
                      "createdTemplate": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/TemplateApiSaveDraftBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/TemplateApiUnauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TemplateApiTemplateLimitForbidden"
          },
          "404": {
            "$ref": "#/components/responses/TemplateApiNotFound"
          },
          "413": {
            "$ref": "#/components/responses/TemplateApiPayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/TemplateApiUnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TemplateApiTooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/templates/{templateId}/publish": {
      "post": {
        "tags": [
          "Template API"
        ],
        "security": [
          {
            "personalAccessTokenAuth": []
          }
        ],
        "operationId": "publishTemplateDraft",
        "summary": "Publish a template draft",
        "description": "Publishes the template's active draft. You can then generate PDFs from the published template by sending its `templateId` and `templateData` to a Conversion API endpoint. Wait for any save request for this template to finish before publishing it.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateApiPublishRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template draft published successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateApiPublishResponse"
                },
                "example": {
                  "templateId": "00000000-0000-0000-0000-000000000000",
                  "publishedVersionId": 2038,
                  "versionNumber": 1
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/TemplateApiPublishBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/TemplateApiUnauthorized"
          },
          "404": {
            "$ref": "#/components/responses/TemplateApiNotFound"
          },
          "413": {
            "$ref": "#/components/responses/TemplateApiPublishPayloadTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/TemplateApiUnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/TemplateApiTooManyRequests"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "webhooks": {
    "asyncConversionResult": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "security": [],
        "operationId": "receiveAsyncConversionResult",
        "summary": "Receive async result",
        "description": "PDFBolt sends this webhook to the URL provided in the `webhook`\nparameter of an async conversion request. PDFBolt attempts one callback\nfor each accepted async conversion: after the conversion succeeds or\nafter all configured conversion retries fail. Verify the\n`x-pdfbolt-signature` header with your webhook signature key before\ntrusting the payload.\n",
        "parameters": [
          {
            "name": "x-pdfbolt-signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 signature of the raw webhook request body, prefixed with `sha256=` and encoded as lowercase hex. Verify the exact bytes received in the HTTP body before parsing or re-serializing JSON.",
            "schema": {
              "type": "string",
              "pattern": "^sha256=[a-f0-9]{64}$",
              "examples": [
                "sha256=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
              ]
            }
          },
          {
            "name": "x-pdfbolt-conversion-cost",
            "in": "header",
            "required": true,
            "description": "Number of document credits charged for the conversion. For failed conversions, PDFBolt sends `0`.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "examples": [
                1
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncWebhookRequest"
              },
              "examples": {
                "Success": {
                  "$ref": "#/components/examples/AsyncWebhookSuccess"
                },
                "Failure": {
                  "$ref": "#/components/examples/AsyncWebhookFailure"
                }
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Your webhook endpoint should return a successful 2xx response after accepting the callback."
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "TemplateId": {
        "name": "templateId",
        "in": "path",
        "required": true,
        "description": "UUID of a PDFBolt template.",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "API-KEY",
        "description": "API key from the API Credentials page in the PDFBolt Dashboard"
      },
      "personalAccessTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "PERSONAL-ACCESS-TOKEN",
        "description": "Personal Access Token from the API Credentials page in the PDFBolt Dashboard. Used by Template API endpoints."
      }
    },
    "headers": {
      "ConversionCost": {
        "description": "Document credits charged for the request.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "examples": [
            1
          ]
        }
      },
      "ContentDisposition": {
        "description": "Controls inline vs attachment delivery and includes a filename when provided.",
        "schema": {
          "type": "string",
          "examples": [
            "inline",
            "attachment; filename=\"custom_file_name.pdf\""
          ]
        }
      },
      "RateLimitMinute": {
        "description": "Request limit for the current rolling minute.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "RateLimitRemainingMinute": {
        "description": "Requests remaining in the current rolling minute.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "RateLimitHour": {
        "description": "Request limit for the current rolling hour.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "RateLimitRemainingHour": {
        "description": "Requests remaining in the current rolling hour.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "RateLimitDay": {
        "description": "Request limit for the current rolling 24-hour window.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "RateLimitRemainingDay": {
        "description": "Requests remaining in the current rolling 24-hour window.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "RetryAfter": {
        "description": "Approximate number of whole seconds until a slot becomes available in the rolling window that rejected the request. Fractional seconds are rounded up.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "examples": [
            2
          ]
        }
      },
      "Accept": {
        "description": "Media types supported for the request body.",
        "schema": {
          "type": "string",
          "examples": [
            "application/json, application/*+json"
          ]
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid JSON, invalid parameter values, or a problem with the conversion source.",
        "headers": {
          "x-pdfbolt-conversion-cost": {
            "$ref": "#/components/headers/ConversionCost"
          },
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DirectBadRequestApiError"
            },
            "examples": {
              "Bad request": {
                "$ref": "#/components/examples/BadRequestError"
              },
              "Target closed": {
                "$ref": "#/components/examples/TargetClosedError"
              },
              "No browser context": {
                "$ref": "#/components/examples/NoBrowserContextError"
              },
              "URL not resolved": {
                "$ref": "#/components/examples/UrlNotResolvedError"
              },
              "PDF printing failed": {
                "$ref": "#/components/examples/PdfPrintingFailedError"
              },
              "Template evaluation error": {
                "$ref": "#/components/examples/TemplateEvalError"
              },
              "Invalid credentials": {
                "$ref": "#/components/examples/InvalidCredentialsError"
              },
              "HTTP response failure": {
                "$ref": "#/components/examples/HttpResponseFailureError"
              },
              "Unexpected error": {
                "$ref": "#/components/examples/UnexpectedError"
              }
            }
          }
        }
      },
      "SyncBadRequest": {
        "description": "Invalid JSON, invalid parameter values, a problem with the conversion source, or a custom S3 upload error.",
        "headers": {
          "x-pdfbolt-conversion-cost": {
            "$ref": "#/components/headers/ConversionCost"
          },
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SyncBadRequestApiError"
            },
            "examples": {
              "Bad request": {
                "$ref": "#/components/examples/BadRequestError"
              },
              "Target closed": {
                "$ref": "#/components/examples/TargetClosedError"
              },
              "No browser context": {
                "$ref": "#/components/examples/NoBrowserContextError"
              },
              "URL not resolved": {
                "$ref": "#/components/examples/UrlNotResolvedError"
              },
              "PDF printing failed": {
                "$ref": "#/components/examples/PdfPrintingFailedError"
              },
              "Template evaluation error": {
                "$ref": "#/components/examples/TemplateEvalError"
              },
              "Invalid credentials": {
                "$ref": "#/components/examples/InvalidCredentialsError"
              },
              "HTTP response failure": {
                "$ref": "#/components/examples/HttpResponseFailureError"
              },
              "Custom S3 upload error": {
                "$ref": "#/components/examples/CustomS3UploadError"
              },
              "Unexpected error": {
                "$ref": "#/components/examples/UnexpectedError"
              }
            }
          }
        }
      },
      "AsyncBadRequest": {
        "description": "Invalid JSON, invalid field types, or invalid parameter values.",
        "headers": {
          "x-pdfbolt-conversion-cost": {
            "$ref": "#/components/headers/ConversionCost"
          },
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AsyncBadRequestApiError"
            },
            "examples": {
              "Bad request": {
                "$ref": "#/components/examples/BadRequestError"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication failed because the API key is missing, invalid, or blocked.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedApiError"
            },
            "examples": {
              "Unauthorized": {
                "$ref": "#/components/examples/UnauthorizedError"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The API key is valid, but the account cannot perform this action.",
        "headers": {
          "x-pdfbolt-conversion-cost": {
            "$ref": "#/components/headers/ConversionCost"
          },
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenApiError"
            },
            "examples": {
              "Forbidden": {
                "$ref": "#/components/examples/ForbiddenError"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested API endpoint could not be found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundApiError"
            },
            "examples": {
              "Not found": {
                "$ref": "#/components/examples/NotFoundError"
              }
            }
          }
        }
      },
      "ConversionTimeout": {
        "description": "Conversion process timed out.",
        "headers": {
          "x-pdfbolt-conversion-cost": {
            "$ref": "#/components/headers/ConversionCost"
          },
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ConversionTimeoutApiError"
            },
            "examples": {
              "Conversion timeout": {
                "$ref": "#/components/examples/ConversionTimeoutError"
              }
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "The request payload or generated PDF exceeds the allowed size.",
        "headers": {
          "x-pdfbolt-conversion-cost": {
            "$ref": "#/components/headers/ConversionCost"
          },
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PayloadTooLargeApiError"
            },
            "examples": {
              "Payload too large": {
                "$ref": "#/components/examples/PayloadTooLargeError"
              },
              "PDF size too large": {
                "$ref": "#/components/examples/PdfSizeTooLargeError"
              }
            }
          }
        }
      },
      "RequestPayloadTooLarge": {
        "description": "The request payload exceeds the allowed size.",
        "headers": {
          "x-pdfbolt-conversion-cost": {
            "$ref": "#/components/headers/ConversionCost"
          },
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RequestPayloadTooLargeApiError"
            },
            "examples": {
              "Payload too large": {
                "$ref": "#/components/examples/PayloadTooLargeError"
              }
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "The request could not be processed correctly.",
        "headers": {
          "x-pdfbolt-conversion-cost": {
            "$ref": "#/components/headers/ConversionCost"
          },
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnprocessableEntityApiError"
            },
            "examples": {
              "Unprocessable entity": {
                "$ref": "#/components/examples/UnprocessableEntityError"
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "The account exceeded minute, hour, day, or concurrent request limits.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequestsApiError"
            },
            "examples": {
              "Too many requests": {
                "$ref": "#/components/examples/TooManyRequestsError"
              }
            }
          }
        }
      },
      "TemplateApiUnsupportedMediaType": {
        "description": "The request's `Content-Type` is not supported by this endpoint.",
        "headers": {
          "Accept": {
            "$ref": "#/components/headers/Accept"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnsupportedMediaTypeApiError"
            },
            "examples": {
              "Unsupported media type": {
                "$ref": "#/components/examples/TemplateApiUnsupportedMediaTypeError"
              }
            }
          }
        }
      },
      "TemplateApiRenderingUnsupportedMediaType": {
        "description": "The request's `Content-Type` is not supported by this endpoint.",
        "headers": {
          "Accept": {
            "$ref": "#/components/headers/Accept"
          },
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnsupportedMediaTypeApiError"
            },
            "examples": {
              "Unsupported media type": {
                "$ref": "#/components/examples/TemplateApiUnsupportedMediaTypeError"
              }
            }
          }
        }
      },
      "TemplateApiPublishBadRequest": {
        "description": "The request is invalid or the template has no active draft to publish.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestApiError"
            },
            "examples": {
              "No active draft": {
                "$ref": "#/components/examples/TemplateApiNoActiveDraftError"
              }
            }
          }
        }
      },
      "TemplateApiSaveDraftBadRequest": {
        "description": "The request body is malformed or the draft payload failed validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestApiError"
            },
            "examples": {
              "Missing template name": {
                "$ref": "#/components/examples/TemplateApiSaveDraftMissingNameError"
              },
              "Null template id": {
                "$ref": "#/components/examples/TemplateApiSaveDraftNullTemplateIdError"
              },
              "Null update field": {
                "$ref": "#/components/examples/TemplateApiSaveDraftNullSampleDataError"
              },
              "Null parameters field": {
                "$ref": "#/components/examples/TemplateApiSaveDraftNullParametersError"
              },
              "No update changes": {
                "$ref": "#/components/examples/TemplateApiSaveDraftNoChangesError"
              }
            }
          }
        }
      },
      "TemplateApiValidateBadRequest": {
        "description": "The request body is malformed or the template payload failed validation. Check the required fields, Base64 content, `sampleData`, the template engine, Handlebars syntax and evaluation, and PDF parameters.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestApiError"
            },
            "examples": {
              "Missing parameters": {
                "$ref": "#/components/examples/TemplateApiMissingParametersError"
              }
            }
          }
        }
      },
      "TemplateApiInvalidIdBadRequest": {
        "description": "The `templateId` path parameter is not a valid UUID.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestApiError"
            },
            "examples": {
              "Invalid template id": {
                "$ref": "#/components/examples/TemplateApiInvalidIdError"
              }
            }
          }
        }
      },
      "TemplateApiPreviewBadRequest": {
        "description": "The request body is malformed, `responseFormat` is unsupported, the template payload failed validation, or PDF rendering failed before the preview could be returned.",
        "headers": {
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TemplateApiPreviewBadRequestApiError"
            },
            "examples": {
              "Missing parameters": {
                "$ref": "#/components/examples/TemplateApiMissingParametersError"
              }
            }
          }
        }
      },
      "TemplateApiDiffBadRequest": {
        "description": "The `templateId` path parameter is invalid, `responseFormat` is unsupported, the request body is malformed, or template validation failed before rendering.",
        "headers": {
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestApiError"
            },
            "examples": {
              "Missing parameters": {
                "$ref": "#/components/examples/TemplateApiMissingParametersError"
              }
            }
          }
        }
      },
      "TemplateApiUnauthorized": {
        "description": "Authentication failed because the Personal Access Token is missing, invalid, inactive, or blocked.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedApiError"
            },
            "examples": {
              "Unauthorized": {
                "$ref": "#/components/examples/TemplateApiUnauthorizedError"
              }
            }
          }
        }
      },
      "TemplateApiTemplateLimitForbidden": {
        "description": "A new template could not be created because your team has reached the template limit for its current plan.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenApiError"
            },
            "examples": {
              "Template limit reached": {
                "$ref": "#/components/examples/TemplateApiTemplateLimitError"
              }
            }
          }
        }
      },
      "TemplateApiConversionForbidden": {
        "description": "The preview could not be rendered because PDF conversion is unavailable.",
        "headers": {
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenApiError"
            },
            "examples": {
              "Conversion credits unavailable": {
                "$ref": "#/components/examples/TemplateApiConversionCreditsError"
              },
              "PDF conversions disabled": {
                "$ref": "#/components/examples/TemplateApiConversionDisabledError"
              }
            }
          }
        }
      },
      "TemplateApiNotFound": {
        "description": "The template does not exist or does not belong to your current team.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundApiError"
            },
            "examples": {
              "Template not found": {
                "$ref": "#/components/examples/TemplateApiNotFoundError"
              }
            }
          }
        }
      },
      "TemplateApiDiffNotFound": {
        "description": "The template does not exist, does not belong to your current team, or has no published version.",
        "headers": {
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundApiError"
            },
            "examples": {
              "Template not found": {
                "$ref": "#/components/examples/TemplateApiNotFoundError"
              }
            }
          }
        }
      },
      "TemplateApiPayloadTooLarge": {
        "description": "One of `content`, `sampleData`, or `parameters` exceeds its size limit.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RequestPayloadTooLargeApiError"
            },
            "examples": {
              "Template payload too large": {
                "$ref": "#/components/examples/TemplateApiPayloadTooLargeError"
              }
            }
          }
        }
      },
      "TemplateApiPublishPayloadTooLarge": {
        "description": "One of the active draft fields (`content`, `sampleData`, or `parameters`) exceeds its size limit.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RequestPayloadTooLargeApiError"
            },
            "examples": {
              "Active draft too large": {
                "$ref": "#/components/examples/TemplateApiPayloadTooLargeError"
              }
            }
          }
        }
      },
      "TemplateApiValidatePayloadTooLarge": {
        "description": "The request exceeds the applicable size limit for decoded HTML content, `sampleData`, or `parameters`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RequestPayloadTooLargeApiError"
            },
            "examples": {
              "Template content too large": {
                "$ref": "#/components/examples/TemplateApiValidatePayloadTooLargeError"
              }
            }
          }
        }
      },
      "TemplateApiDiffPayloadTooLarge": {
        "description": "One of `content`, `sampleData`, or `parameters` exceeds its size limit before rendering.",
        "headers": {
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RequestPayloadTooLargeApiError"
            },
            "examples": {
              "Template payload too large": {
                "$ref": "#/components/examples/TemplateApiPayloadTooLargeError"
              }
            }
          }
        }
      },
      "TemplateApiPreviewPayloadTooLarge": {
        "description": "The template payload or generated preview PDF exceeds the applicable size limit.",
        "headers": {
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PayloadTooLargeApiError"
            },
            "examples": {
              "Template payload too large": {
                "$ref": "#/components/examples/TemplateApiPayloadTooLargeError"
              },
              "PDF size too large": {
                "$ref": "#/components/examples/TemplateApiPdfSizeTooLargeError"
              }
            }
          }
        }
      },
      "TemplateApiConversionTimeout": {
        "description": "Preview rendering timed out.",
        "headers": {
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ConversionTimeoutApiError"
            },
            "examples": {
              "Conversion timeout": {
                "$ref": "#/components/examples/TemplateApiConversionTimeoutError"
              }
            }
          }
        }
      },
      "TemplateApiUnprocessableEntity": {
        "description": "The request could not be processed correctly.",
        "headers": {
          "x-pdfbolt-limit-minute": {
            "$ref": "#/components/headers/RateLimitMinute"
          },
          "x-pdfbolt-remaining-minute": {
            "$ref": "#/components/headers/RateLimitRemainingMinute"
          },
          "x-pdfbolt-limit-hour": {
            "$ref": "#/components/headers/RateLimitHour"
          },
          "x-pdfbolt-remaining-hour": {
            "$ref": "#/components/headers/RateLimitRemainingHour"
          },
          "x-pdfbolt-limit-day": {
            "$ref": "#/components/headers/RateLimitDay"
          },
          "x-pdfbolt-remaining-day": {
            "$ref": "#/components/headers/RateLimitRemainingDay"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnprocessableEntityApiError"
            },
            "examples": {
              "Unprocessable entity": {
                "$ref": "#/components/examples/TemplateApiUnprocessableEntityError"
              }
            }
          }
        }
      },
      "TemplateApiTooManyRequests": {
        "description": "You have exceeded a Template API management rate limit. See [Rate Limits](https://pdfbolt.com/docs/rate-limits) for current limits.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequestsApiError"
            },
            "examples": {
              "Too many requests": {
                "$ref": "#/components/examples/TemplateApiTooManyRequestsError"
              }
            }
          }
        }
      },
      "ClientDisconnected": {
        "description": "PDFBolt detected that the client disconnected before the response could be fully delivered. The standard JSON body is documented for consistency, but the client will not receive it if the connection is already closed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ClientDisconnectedApiError"
            },
            "examples": {
              "Client disconnected": {
                "$ref": "#/components/examples/ClientDisconnectedError"
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service temporarily unavailable. Infrastructure-generated responses may not follow PDFBolt's standard JSON error format."
      },
      "GatewayTimeout": {
        "description": "Gateway timeout. Infrastructure-generated responses may not follow PDFBolt's standard JSON error format."
      }
    },
    "x-apiErrorShared": {
      "required": [
        "timestamp",
        "httpErrorCode",
        "errorCode",
        "errorMessage"
      ],
      "timestamp": {
        "type": "string",
        "format": "date-time",
        "description": "Date and time when the error occurred."
      },
      "httpErrorCode": {
        "type": "integer",
        "description": "HTTP status code of the error."
      },
      "errorMessage": {
        "type": "string",
        "description": "Descriptive message explaining the error."
      }
    },
    "schemas": {
      "DirectConversionRequest": {
        "oneOf": [
          {
            "title": "URL",
            "type": "object",
            "additionalProperties": false,
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "$ref": "#/components/schemas/HttpsUrl"
              },
              "html": {
                "type": "null"
              },
              "templateId": {
                "type": "null"
              },
              "templateData": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true,
                "description": "Only used with `templateId`. JSON data used to fill variables in the published template."
              },
              "isEncoded": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": false,
                "description": "When `true`, returns the generated PDF as Base64 text instead of binary PDF."
              },
              "emulateMediaType": {
                "$ref": "#/components/schemas/EmulateMediaType"
              },
              "javaScriptEnabled": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": true,
                "description": "Whether JavaScript execution is enabled while rendering the source content."
              },
              "httpCredentials": {
                "$ref": "#/components/schemas/HttpCredentials"
              },
              "viewportSize": {
                "$ref": "#/components/schemas/ViewportSize"
              },
              "isMobile": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": false,
                "description": "Enables mobile device emulation, including mobile viewport behavior and touch events."
              },
              "deviceScaleFactor": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 1,
                "maximum": 4,
                "default": 1,
                "description": "Pixel density used when rendering the page. Higher values can produce sharper output."
              },
              "extraHTTPHeaders": {
                "$ref": "#/components/schemas/HeaderMap",
                "description": "Custom HTTP headers sent while PDFBolt loads the source content and page resources. Maximum 10 headers."
              },
              "applyExtraHTTPHeadersToAllResources": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": true,
                "description": "Whether `extraHTTPHeaders` are sent with all resource requests or only with the main page request."
              },
              "cookies": {
                "type": [
                  "array",
                  "null"
                ],
                "maxItems": 10,
                "items": {
                  "$ref": "#/components/schemas/Cookie"
                },
                "description": "Cookies sent while rendering the source content. Each cookie must include name, value, and either url or both domain and path. Optional fields are expires, httpOnly, and secure. Maximum 10 cookies."
              },
              "waitUntil": {
                "$ref": "#/components/schemas/WaitUntil"
              },
              "waitForFunction": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 4096,
                "description": "JavaScript function evaluated in the page context. PDF generation continues when it returns true."
              },
              "waitForSelector": {
                "$ref": "#/components/schemas/WaitForSelector"
              },
              "timeout": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 1,
                "default": 30000,
                "description": "Maximum render wait time in milliseconds. The allowed maximum depends on your plan."
              },
              "format": {
                "$ref": "#/components/schemas/Format"
              },
              "landscape": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": false,
                "description": "Page orientation for the generated PDF."
              },
              "width": {
                "$ref": "#/components/schemas/PageDimension",
                "description": "Custom page width for the generated PDF. Used when format is not provided. Accepts a number of pixels or a string with px, in, cm, or mm units."
              },
              "height": {
                "$ref": "#/components/schemas/PageDimension",
                "description": "Custom page height for the generated PDF. Used when format is not provided. Accepts a number of pixels or a string with px, in, cm, or mm units."
              },
              "margin": {
                "$ref": "#/components/schemas/Margin"
              },
              "pageRanges": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^\\s*[1-9]\\d*(?:-[1-9]\\d*)?(?:\\s*,\\s*[1-9]\\d*(?:-[1-9]\\d*)?)*\\s*$",
                "description": "Comma-separated page ranges such as `1-3,5,8-11`. Omit to include all pages."
              },
              "preferCssPageSize": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": false,
                "description": "Whether to use the CSS `@page` size when generating the PDF."
              },
              "printBackground": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": false,
                "description": "Whether to include CSS background colors, gradients, and images."
              },
              "scale": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0.1,
                "maximum": 2,
                "default": 1,
                "description": "Scaling factor for rendering the content in the generated PDF."
              },
              "displayHeaderFooter": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": false,
                "description": "Whether to render the `headerTemplate` and `footerTemplate` content in the generated PDF."
              },
              "headerTemplate": {
                "type": [
                  "string",
                  "null"
                ],
                "contentEncoding": "base64",
                "description": "Base64-encoded HTML for the page header. Used when `displayHeaderFooter` is `true`. Available classes: `pageNumber`, `totalPages`, `title`, `url`, `date`."
              },
              "footerTemplate": {
                "type": [
                  "string",
                  "null"
                ],
                "contentEncoding": "base64",
                "description": "Base64-encoded HTML for the page footer. Used when `displayHeaderFooter` is `true`. Available classes: `pageNumber`, `totalPages`, `title`, `url`, `date`."
              },
              "tagged": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": false,
                "description": "Whether to generate a tagged PDF with structural information for accessibility tools."
              },
              "printProduction": {
                "$ref": "#/components/schemas/PrintProduction"
              },
              "contentDisposition": {
                "$ref": "#/components/schemas/ContentDisposition"
              },
              "filename": {
                "type": [
                  "string",
                  "null"
                ],
                "minLength": 1,
                "maxLength": 255,
                "pattern": "^[a-zA-Z0-9._-]+$",
                "description": "Filename embedded in the `Content-Disposition` header. Allowed\ncharacters are letters, numbers, dots, underscores, and hyphens. If\n`.pdf` is omitted, PDFBolt adds it automatically.\n"
              },
              "compression": {
                "$ref": "#/components/schemas/CompressionLevel"
              }
            }
          },
          {
            "title": "HTML",
            "type": "object",
            "additionalProperties": false,
            "required": [
              "html"
            ],
            "properties": {
              "html": {
                "type": "string",
                "contentEncoding": "base64",
                "description": "Base64-encoded HTML content to convert into a PDF."
              },
              "url": {
                "type": "null"
              },
              "templateId": {
                "type": "null"
              },
              "templateData": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": true,
                "description": "Only used with `templateId`. JSON data used to fill variables in the published template."
              },
              "isEncoded": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": false,
                "description": "When `true`, returns the generated PDF as Base64 text instead of binary PDF."
              },
              "emulateMediaType": {
                "$ref": "#/components/schemas/EmulateMediaType"
              },
              "javaScriptEnabled": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": true,
                "description": "Whether JavaScript execution is enabled while rendering the source content."
              },
              "httpCredentials": {
                "$ref": "#/components/schemas/HttpCredentials"
              },
              "viewportSize": {
                "$ref": "#/components/schemas/ViewportSize"
              },
              "isMobile": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": false,
                "description": "Enables mobile device emulation, including mobile viewport behavior and touch events."
              },
              "deviceScaleFactor": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 1,
                "maximum": 4,
                "default": 1,
                "description": "Pixel density used when rendering the page. Higher values can produce sharper output."
              },
              "extraHTTPHeaders": {
                "$ref": "#/components/schemas/HeaderMap",
                "description": "Custom HTTP headers sent while PDFBolt loads the source content and page resources. Maximum 10 headers."
              },
              "applyExtraHTTPHeadersToAllResources": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": true,
                "description": "Whether `extraHTTPHeaders` are sent with all resource requests or only with the main page request."
              },
              "cookies": {
                "type": [
                  "array",
                  "null"
                ],
                "maxItems": 10,
                "items": {
                  "$ref": "#/components/schemas/Cookie"
                },
                "description": "Cookies sent while rendering the source content. Each cookie must include name, value, and either url or both domain and path. Optional fields are expires, httpOnly, and secure. Maximum 10 cookies."
              },
              "waitUntil": {
                "$ref": "#/components/schemas/WaitUntil"
              },
              "waitForFunction": {
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 4096,
                "description": "JavaScript function evaluated in the page context. PDF generation continues when it returns true."
              },
              "waitForSelector": {
                "$ref": "#/components/schemas/WaitForSelector"
              },
              "timeout": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 1,
                "default": 30000,
                "description": "Maximum render wait time in milliseconds. The allowed maximum depends on your plan."
              },
              "format": {
                "$ref": "#/components/schemas/Format"
              },
              "landscape": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": false,
                "description": "Page orientation for the generated PDF."
              },
              "width": {
                "$ref": "#/components/schemas/PageDimension",
                "description": "Custom page width for the generated PDF. Used when format is not provided. Accepts a number of pixels or a string with px, in, cm, or mm units."
              },
              "height": {
                "$ref": "#/components/schemas/PageDimension",
                "description": "Custom page height for the generated PDF. Used when format is not provided. Accepts a number of pixels or a string with px, in, cm, or mm units."
              },
              "margin": {
                "$ref": "#/components/schemas/Margin"
              },
              "pageRanges": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^\\s*[1-9]\\d*(?:-[1-9]\\d*)?(?:\\s*,\\s*[1-9]\\d*(?:-[1-9]\\d*)?)*\\s*$",
                "description": "Comma-separated page ranges such as `1-3,5,8-11`. Omit to include all pages."
              },
              "preferCssPageSize": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": false,
                "description": "Whether to use the CSS `@page` size when generating the PDF."
              },
              "printBackground": {
                "type": [
                  "boolean",
                  "null"
                ],
                "default": false,
                "description": "Whether to include CSS background colors, gradients, and images."
              },
              "scale": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0.1,
                "maximum": 2,
                "default": 1,
[...]
