{
  "openapi": "3.1.0",
  "info": {
    "title": "Comma API",
    "version": "1.0.0",
    "description": "REST API for Comma (commareports.com): publish HTML reports, edit them in place with full revision history, comment with anchors, share, attach assets, run AI reviewers, and schedule regeneration with routines, skills, and connectors.\n\n**Authentication.** Every endpoint (except this spec) takes a Comma personal API token as `Authorization: Bearer comma_sk_…`. Tokens are minted in Settings → API tokens, carry granular scopes (`reports:read`, `reports:write`, `comments:read`, `comments:write`, `routines`, `connections`, `sharing`; `*` = full access), can expire, and are revocable. Each operation below lists the scope it requires.\n\n**Rate limits.** Rate limit: per-token sliding window (plan-aware — Free 60 req/min, Pro 600, Team/Enterprise 6000 by default); 429 responses carry a Retry-After header.\n\n**Errors.** Errors are JSON: `{ \"error\": \"…\" }` — 401 bad/missing token, 403 missing scope or no access to the resource, 404 not found (also used instead of 403 where existence must not leak), 429 rate limited.\n\n**MCP mirror.** The Model Context Protocol server at `https://commareports.com/api/mcp` (Streamable HTTP transport) exposes this same surface as tools (`create_report`, `add_comment`, `run_routine`, …) for Claude Code, Cursor, and VS Code. It authenticates with the same `comma_sk_…` Bearer token, and scope, revocation, expiry, and rate limiting behave identically across both transports.\n\nA handful of operations (`/skills*`, `/connectors*`, `/routines/{id}/run`, `/me/*`) alternatively accept a signed-in Supabase user-session JWT as the Bearer token — that is the browser UI's path; agents should always use `comma_sk_…` tokens.",
    "contact": {
      "url": "https://commareports.com/contact"
    },
    "x-jentic-source-url": "https://commareports.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://commareports.com/api/v1"
    }
  ],
  "paths": {
    "/openapi.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "operationId": "getOpenApiSpec",
        "summary": "This OpenAPI 3.1 document",
        "description": "Public — no authentication required. Cached for up to an hour.",
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/reports": {
      "post": {
        "tags": [
          "Reports"
        ],
        "operationId": "createReport",
        "summary": "Create a report",
        "description": "Upload an HTML report on behalf of the token's owner. Defaults to `visibility: public` with `public_permission: comment` (anyone with the link can read; commenting needs a free sign-in) so the returned share URL works out of the box; pass `visibility: private` to keep it unlisted (link permission is then forced to `none`). Optional inline `assets` are uploaded and relative references in the HTML (src/href/srcset/url(...)) are rewritten to stored URLs. Scope: `reports:write`. Rate limit: per-token sliding window (plan-aware — Free 60 req/min, Pro 600, Team/Enterprise 6000 by default); 429 responses carry a Retry-After header.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reports/search": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "searchReports",
        "summary": "Full-text search reports",
        "description": "Trigram search across reports the token's owner owns, was invited to, or shares with their team (other people's public share links are not searchable). Scope: `reports:read`.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Free-text query."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 5
            }
          },
          {
            "name": "include_html",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "1"
              ]
            },
            "description": "If set, hydrates `html` for the top 3 results."
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked matches.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchResult"
                      }
                    }
                  },
                  "required": [
                    "results"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reports/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ReportId"
        }
      ],
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "getReport",
        "summary": "Fetch a report",
        "description": "Report metadata plus the stored HTML. Access is gated by the same rule as the app (`can_view_report`); reports you can't view return 404, not 403. Encrypted (`user_passphrase`) reports return 409 — API tokens cannot decrypt them. Scope: `reports:read`.",
        "responses": {
          "200": {
            "description": "The report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Report is end-to-end encrypted; plaintext read is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Reports"
        ],
        "operationId": "updateReport",
        "summary": "Update a report in place",
        "description": "Update `title`, `description`, and/or `html` (plus producer attribution fields). New HTML appends a revision — the share URL is stable. Requires edit access (`can_edit_report`: owner, admin, or editor) — 403 otherwise. Encrypted reports return 409. Scope: `reports:write`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated report summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportPatched"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Report is encrypted; use the ciphertext endpoints instead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reports/{id}/revisions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ReportId"
        }
      ],
      "get": {
        "tags": [
          "Revisions"
        ],
        "operationId": "listRevisions",
        "summary": "List revisions",
        "description": "Revision history, newest first (ids, content hashes, authorship, timestamps). Scope: `reports:read`.",
        "responses": {
          "200": {
            "description": "Revision list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revisions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Revision"
                      }
                    }
                  },
                  "required": [
                    "revisions"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reports/{id}/revisions/{rev}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ReportId"
        },
        {
          "name": "rev",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Revision id."
        }
      ],
      "get": {
        "tags": [
          "Revisions"
        ],
        "operationId": "getRevision",
        "summary": "Fetch a single revision's content",
        "description": "The snapshot HTML plus metadata for one revision. The revision must belong to the report in the URL. Scope: `reports:read`.",
        "responses": {
          "200": {
            "description": "The revision.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevisionWithHtml"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reports/{id}/diff": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ReportId"
        }
      ],
      "get": {
        "tags": [
          "Revisions"
        ],
        "operationId": "diffRevisions",
        "summary": "Line-level diff between two revisions",
        "description": "Classifies lines via an LCS walk into `added`, `removed`, and `unchanged`. Both revisions must belong to the report; missing/unauthorized returns 404. Scope: `reports:read`.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The diff.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Diff"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reports/{id}/share": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ReportId"
        }
      ],
      "get": {
        "tags": [
          "Sharing"
        ],
        "operationId": "getShareSettings",
        "summary": "Read share settings",
        "description": "Current visibility, link permission, whether a link password is set, staged-publishing state, and embed settings. Scope: `reports:read`.",
        "responses": {
          "200": {
            "description": "Share settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareSettings"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Sharing"
        ],
        "operationId": "updateShareSettings",
        "summary": "Publish / unpublish and set the link audience",
        "description": "Change `visibility` (`private`, `team`, `registered`, `domain`, `public`), `public_permission` (`none`, `view`, `comment`, `edit`), `show_approved_only` (staged publishing: view-only audiences see the last approved revision), and/or `allowed_embed_origins` (the origins allowed to iframe the report via `/embed/{id}`; `[]` or `null` turns embedding off). `domain` (anyone signed in with a verified email on a listed domain) requires `allowed_email_domains`, e.g. `[\"acme.com\"]`; send it again with the full list to change it. Requires manage access (`can_manage_report`: owner or admin) — an editor cannot flip a private report public. Scope: `sharing`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SharePutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated share settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareUpdated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reports/{id}/password": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ReportId"
        }
      ],
      "post": {
        "tags": [
          "Sharing"
        ],
        "operationId": "setSharePassword",
        "summary": "Set or change the share-link password",
        "description": "Owner only. NOTE: unlike the rest of this API, the password endpoints authenticate with a Supabase user-session JWT (the signed-in browser path), not a `comma_sk_…` API token — an API token gets 401 here.",
        "security": [
          {
            "supabaseSessionJwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "Minimum length enforced server-side."
                  }
                },
                "required": [
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Sharing"
        ],
        "operationId": "clearSharePassword",
        "summary": "Clear the share-link password",
        "description": "Owner only; authenticates with a Supabase user-session JWT (see POST).",
        "security": [
          {
            "supabaseSessionJwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Password cleared.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reports/{id}/comments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ReportId"
        }
      ],
      "get": {
        "tags": [
          "Comments"
        ],
        "operationId": "listComments",
        "summary": "List comment threads",
        "description": "All comments with replies, anchors, and resolve state, oldest first. Cursor-paginated: pass the previous page's opaque `nextCursor` to fetch the next page. Each comment embeds up to 50 replies; `replies_truncated` marks a thread with more (read it via `GET /comments/{id}/replies`). Scope: `comments:read`.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque `nextCursor` from the previous page."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of comments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentsPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "operationId": "createComment",
        "summary": "Leave a comment",
        "description": "Create a top-level comment, optionally anchored to a text range (`anchor_text` + `anchor_prefix`/`anchor_suffix`) or a block (`block_id`). Requires comment access on the report (`can_comment_report`) — 403 otherwise. Fires `comment.created` (and `comment.mentioned` per unique @handle) webhooks. Scope: `comments:write`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/comments/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CommentId"
        }
      ],
      "patch": {
        "tags": [
          "Comments"
        ],
        "operationId": "setCommentStatus",
        "summary": "Resolve or reopen a thread",
        "description": "Set `status` to `open` or `resolved`. Allowed for the comment's author, the report's owner, or a report admin — 403 otherwise. Scope: `comments:write`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "open",
                      "resolved"
                    ]
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "open",
                        "resolved"
                      ]
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "status",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/comments/{id}/replies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CommentId"
        }
      ],
      "get": {
        "tags": [
          "Comments"
        ],
        "operationId": "listReplies",
        "summary": "List replies in a thread",
        "description": "Replies oldest first, capped at 200. Scope: `comments:read`.",
        "responses": {
          "200": {
            "description": "Replies.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "replies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Reply"
                      }
                    }
                  },
                  "required": [
                    "replies"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "operationId": "createReply",
        "summary": "Reply to a thread",
        "description": "Requires comment access on the parent report. Scope: `comments:write`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string"
                  }
                },
                "required": [
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reply created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "body": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "body",
                    "created_at"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reports/{id}/assets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ReportId"
        }
      ],
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "listAssets",
        "summary": "List a report's assets",
        "description": "Each asset has a stable public URL suitable for referencing from the report HTML. Scope: `reports:read`.",
        "responses": {
          "200": {
            "description": "Assets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    }
                  },
                  "required": [
                    "assets"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "operationId": "uploadAsset",
        "summary": "Upload one asset",
        "description": "Binary content travels base64-encoded in `content_base64` (a `data:` URL prefix is tolerated). Re-uploading the same `relative_path` replaces the prior asset. Limits: 25 MB per file (413), 250 MB total per report (413), 500 files per report (422). Requires edit access. Scope: `reports:write`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reports/{id}/assets/{assetId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ReportId"
        },
        {
          "name": "assetId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "delete": {
        "tags": [
          "Assets"
        ],
        "operationId": "deleteAsset",
        "summary": "Remove an asset",
        "description": "Requires edit access. Scope: `reports:write`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reports/{id}/review": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ReportId"
        }
      ],
      "post": {
        "tags": [
          "Reviews"
        ],
        "operationId": "runReviewers",
        "summary": "Run reviewer agents against the head revision",
        "description": "Manually trigger a single reviewer (`reviewer_id`) or every enabled reviewer for this report. Owner only (403 otherwise); 409 if the report has no revisions yet. Body is optional. Scope: `reports:write`.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reviewer_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-reviewer run outcomes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "runs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ReviewRun"
                      }
                    }
                  },
                  "required": [
                    "runs"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Report has no revisions yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reviews": {
      "post": {
        "tags": [
          "Reviews"
        ],
        "operationId": "createReviewSession",
        "summary": "Start a Claude Code review session",
        "description": "Creates a private report plus a pending review session and returns a `review_url` for a human to open; the caller then polls `GET /reviews/{id}` until `status` flips to `submitted` or `cancelled`, and fetches feedback via `GET /reports/{id}/comments`. Scope: `reports:write`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "html": {
                    "type": "string",
                    "description": "Required. Max 5 MB."
                  },
                  "title": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "source_file": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "html"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review session created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewSessionCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reviews/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Review session id."
        }
      ],
      "get": {
        "tags": [
          "Reviews"
        ],
        "operationId": "getReviewSession",
        "summary": "Poll a review session",
        "description": "Only the token that created the session can read it (others get 404). Scope: `reports:read`.",
        "responses": {
          "200": {
            "description": "Session state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewSession"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reviewers": {
      "get": {
        "tags": [
          "Reviewers"
        ],
        "operationId": "listReviewers",
        "summary": "List reviewer agents",
        "description": "The token owner's reviewers, newest first (max 200). Scope: `routines`.",
        "responses": {
          "200": {
            "description": "Reviewers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reviewers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Reviewer"
                      }
                    }
                  },
                  "required": [
                    "reviewers"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Reviewers"
        ],
        "operationId": "createReviewer",
        "summary": "Register a reviewer agent",
        "description": "Pin a reviewer to one report (`report_id`, you must own it) or omit `report_id` for owner-wide review. `reviewer_auth_header` is encrypted at rest and never returned. Scope: `routines`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewerCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reviewer created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reviewer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/reviewers/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Reviewers"
        ],
        "operationId": "getReviewer",
        "summary": "Fetch one reviewer",
        "description": "Owner-scoped. Scope: `routines`.",
        "responses": {
          "200": {
            "description": "The reviewer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reviewer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Reviewers"
        ],
        "operationId": "updateReviewer",
        "summary": "Update a reviewer",
        "description": "Any subset of the create fields (except `report_id`). Scope: `routines`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewerPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated reviewer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reviewer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Reviewers"
        ],
        "operationId": "deleteReviewer",
        "summary": "Delete a reviewer",
        "description": "Comments the reviewer produced are kept. Scope: `routines`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/routines": {
      "get": {
        "tags": [
          "Routines"
        ],
        "operationId": "listRoutines",
        "summary": "List routines",
        "description": "The token owner's routines, newest first (max 200). Scope: `routines`.",
        "responses": {
          "200": {
            "description": "Routines.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "routines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Routine"
                      }
                    }
                  },
                  "required": [
                    "routines"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Routines"
        ],
        "operationId": "createRoutine",
        "summary": "Create a routine",
        "description": "Schedule regeneration of a report on a 5-field cron. Provide `trigger_url` (webhook mode — Comma calls your endpoint on each tick) and/or `skill_id` (in-Comma run mode — the skill executes and appends a revision); at least one is required. Requires edit access on `report_id`. Plan ceilings (max routines / schedule floor) return 422. Scope: `routines`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoutineCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Routine created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Routine"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/routines/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Routines"
        ],
        "operationId": "getRoutine",
        "summary": "Fetch one routine",
        "description": "Owner-scoped. Scope: `routines`.",
        "responses": {
          "200": {
            "description": "The routine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Routine"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Routines"
        ],
        "operationId": "updateRoutine",
        "summary": "Update a routine",
        "description": "Any subset of the create fields (except `report_id`). Changing `schedule_cron` recomputes `next_run_at`. Scope: `routines`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoutinePatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated routine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Routine"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Routines"
        ],
        "operationId": "deleteRoutine",
        "summary": "Delete a routine",
        "description": "Also drops its run history. Scope: `routines`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/routines/{id}/run": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "tags": [
          "Routines"
        ],
        "operationId": "runRoutine",
        "summary": "Run a routine immediately",
        "description": "Executes the routine outside its schedule. Also accepts a Supabase user-session JWT (the in-app \"Run now\" button). Responses: 200 synchronous success, 202 accepted (skill run dispatched to a background workflow — poll `GET /routines/{id}` for the outcome), 402 AI-compute cap exceeded, 502 the run or workflow dispatch failed. Scope: `routines`.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Run completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutineRunResult"
                }
              }
            }
          },
          "202": {
            "description": "Run accepted; executing asynchronously.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutineRunResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "Plan / prepaid-credit compute cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutineRunResult"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "description": "The run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutineRunResult"
                }
              }
            }
          }
        }
      }
    },
    "/skills": {
      "get": {
        "tags": [
          "Skills"
        ],
        "operationId": "listSkills",
        "summary": "List skills",
        "description": "The token owner's skills, newest first (max 200). Also accepts a Supabase user-session JWT. Scope: `routines`.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Skills.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "skills": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Skill"
                      }
                    }
                  },
                  "required": [
                    "skills"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Skills"
        ],
        "operationId": "createSkill",
        "summary": "Create a skill",
        "description": "Three source paths: JSON with an inline `prompt`; JSON with `source_kind: \"github\"` and `source_ref: \"owner/repo[@sha-or-branch][:path/to/SKILL.md]\"` (public repos; the ref is pinned to a commit SHA); or `multipart/form-data` with a `file` field holding a .zip bundle (< 1 MB) that contains a SKILL.md. Also accepts a Supabase user-session JWT. Scope: `routines`.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SkillCreateInline"
                  },
                  {
                    "$ref": "#/components/schemas/SkillCreateGithub"
                  }
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": ".zip bundle containing SKILL.md (max 1,000,000 bytes)."
                  },
                  "name": {
                    "type": "string",
                    "description": "Override the name parsed from SKILL.md frontmatter."
                  },
                  "description": {
                    "type": "string",
                    "description": "Override the description parsed from SKILL.md frontmatter."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Skill created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skill"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/skills/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Skills"
        ],
        "operationId": "getSkill",
        "summary": "Fetch one skill",
        "description": "Owner-scoped. Also accepts a Supabase user-session JWT. Scope: `routines`.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "The skill.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skill"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Skills"
        ],
        "operationId": "updateSkill",
        "summary": "Update a skill",
        "description": "Any subset of { name, description, prompt, required_tools, source_kind, source_ref, model }. Scope: `routines`.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated skill.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skill"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Skills"
        ],
        "operationId": "deleteSkill",
        "summary": "Delete a skill",
        "description": "Routines referencing it keep running in webhook mode (their `skill_id` becomes null). Scope: `routines`.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/connectors": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "operationId": "listConnectors",
        "summary": "List connectors",
        "description": "The token owner's connectors (never includes secret material) plus the `definitions` catalog of supported kinds and their config/secret fields. Also accepts a Supabase user-session JWT. Scope: `connections`.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Connectors + catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Connector"
                      }
                    },
                    "definitions": {
                      "type": "object",
                      "description": "Catalog of connector kinds keyed by kind (config/secret field schemas for the create wizard).",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "connectors",
                    "definitions"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Connectors"
        ],
        "operationId": "createConnector",
        "summary": "Create a connector",
        "description": "The `secret` object (keyed per the kind's definition, e.g. `{ \"token\": \"…\" }`) is encrypted at rest and never returned by any endpoint. 409 on a duplicate kind + label. Also accepts a Supabase user-session JWT. Scope: `connections`.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Connector created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connector"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "A connector with this kind + label already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/connectors/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Connectors"
        ],
        "operationId": "getConnector",
        "summary": "Fetch one connector",
        "description": "Never includes secret material. Also accepts a Supabase user-session JWT. Scope: `connections`.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "The connector.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connector"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Connectors"
        ],
        "operationId": "updateConnector",
        "summary": "Update a connector",
        "description": "Update `label`, `config`, and/or rotate `secret` (re-encrypted with a fresh IV; clears the last verification status). Scope: `connections`.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated connector.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connector"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Connectors"
        ],
        "operationId": "deleteConnector",
        "summary": "Delete a connector",
        "description": "Scope: `connections`.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/connectors/{id}/test": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "tags": [
          "Connectors"
        ],
        "operationId": "testConnector",
        "summary": "Verify a connector's credentials",
        "description": "Decrypts the secret server-side and runs a per-kind reachability probe (\"who am I\" call) with a 5s timeout. Returns the connector with refreshed `last_verified_*` fields — 200 when the probe passed, 400 when it failed (the body still carries the connector, with `last_verified_error` set). Scope: `connections`.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Credentials verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connector"
                }
              }
            }
          },
          "400": {
            "description": "Verification failed; see `last_verified_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connector"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "listNotificationSubscriptions",
        "summary": "List notification subscriptions",
        "description": "The token owner's webhook subscriptions, newest first (max 200). Scope: `routines`.",
        "responses": {
          "200": {
            "description": "Subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NotificationSubscription"
                      }
                    }
                  },
                  "required": [
                    "subscriptions"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Notifications"
        ],
        "operationId": "createNotificationSubscription",
        "summary": "Create a subscription",
        "description": "Subscribe a webhook to report events. Omit `report_id` to match every report the owner owns, was invited to, or shares with their team (public link access doesn't count). `signing_secret` (encrypted at rest, never returned) enables HMAC-signed deliveries. Scope: `routines`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSubscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/notifications/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "getNotificationSubscription",
        "summary": "Fetch one subscription",
        "description": "Owner-scoped. Scope: `routines`.",
        "responses": {
          "200": {
            "description": "The subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSubscription"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Notifications"
        ],
        "operationId": "updateNotificationSubscription",
        "summary": "Update a subscription",
        "description": "Any subset of { name, webhook_url, signing_secret, events, format, enabled, report_id }. Scope: `routines`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSubscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Notifications"
        ],
        "operationId": "deleteNotificationSubscription",
        "summary": "Delete a subscription",
        "description": "Scope: `routines`.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/notifications/{id}/test": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "tags": [
          "Notifications"
        ],
        "operationId": "testNotificationSubscription",
        "summary": "Send a synthetic test event",
        "description": "Delivers a fake `revision.created` event through the real sign/format/deliver pipeline so you can verify the webhook wiring. 200 when the target accepted it, 502 when delivery failed. Scope: `routines`.",
        "responses": {
          "200": {
            "description": "Delivered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationTestResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "description": "Delivery failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationTestResult"
                }
              }
            }
          }
        }
      }
    },
    "/me/usage": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getUsage",
        "summary": "Current-month routine usage + credit balance",
        "description": "Raw AI-compute cost, the billable figure (raw × (1 + markup)), prepaid credit balance, and a per-skill breakdown for the current UTC month. Any valid token works (no specific scope). Also accepts a Supabase user-session JWT.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/me/plan-caps": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getPlanCaps",
        "summary": "Plan limits and AI-compute cost rails",
        "description": "The owner's plan, routine ceilings, per-run and monthly USD caps, markup, and month-to-date usage/headroom. Any valid token works (no specific scope). Also accepts a Supabase user-session JWT.",
        "security": [
          {
            "commaApiToken": []
          },
          {
            "supabaseSessionJwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Plan caps.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanCaps"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "commaApiToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "comma_sk_…",
        "description": "Comma personal API token (Settings → API tokens). Scoped, revocable, optionally expiring. The same token also authenticates the MCP server at /api/mcp."
      },
      "supabaseSessionJwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase user-session access token — the signed-in browser path. Only accepted where an operation explicitly lists it."
      }
    },
    "parameters": {
      "ReportId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Report id."
      },
      "CommentId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Comment id."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed body or invalid field.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, invalid, revoked, or expired token.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Token missing the required scope, or no access to the resource.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found (also returned instead of 403 where existence must not leak).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "Payload exceeds a size limit (HTML > 5 MB; asset > 25 MB per file or > 250 MB per report).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Semantically invalid (e.g. plan ceiling exceeded, per-report asset count over 500).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Rate limit: per-token sliding window (plan-aware — Free 60 req/min, Pro 600, Team/Enterprise 6000 by default); 429 responses carry a Retry-After header.",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds to wait before retrying."
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServerError": {
        "description": "Unexpected server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Deleted": {
        "description": "Deleted.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "deleted": {
                  "type": "boolean",
                  "const": true
                }
              },
              "required": [
                "deleted"
              ]
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "InlineAssetInput": {
        "type": "object",
        "properties": {
          "relative_path": {
            "type": "string",
            "description": "POSIX-style path the HTML references, e.g. 'images/hero.png'. No leading slash, no '.'/'..' segments, no '%', '?' or '#'."
          },
          "content_base64": {
            "type": "string",
            "description": "Base64 file contents ('data:' URL prefix tolerated)."
          },
          "content_type": {
            "type": "string",
            "description": "MIME type; defaults to application/octet-stream."
          }
        },
        "required": [
          "relative_path",
          "content_base64"
        ]
      },
      "UploadedAsset": {
        "type": "object",
        "properties": {
          "relative_path": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "mime": {
            "type": "string"
          },
          "size_bytes": {
            "type": "integer"
          }
        },
        "required": [
          "relative_path",
          "url",
          "mime",
          "size_bytes"
        ]
      },
      "ReportCreateRequest": {
        "type": "object",
        "properties": {
          "html": {
            "type": "string",
            "description": "Required. Max 5 MB (413 above that)."
          },
          "title": {
            "type": "string",
            "description": "Defaults to 'Untitled report'."
          },
          "description": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "registered",
              "public"
            ],
            "default": "public",
            "description": "'team' and 'domain' cannot be set at create time — use PUT /reports/{id}/share."
          },
          "public_permission": {
            "type": "string",
            "enum": [
              "none",
              "view",
              "comment",
              "edit"
            ],
            "default": "comment",
            "description": "Link permission for /p/:id. Forced to 'none' when visibility is 'private'."
          },
          "producer_name": {
            "type": "string",
            "maxLength": 80,
            "description": "Attribution chip on the public view."
          },
          "producer_url": {
            "type": "string",
            "format": "uri",
            "description": "http(s) only; anything else is dropped."
          },
          "producer_icon_url": {
            "type": "string",
            "format": "uri",
            "description": "http(s) only; anything else is dropped."
          },
          "source_recipe": {
            "type": "object",
            "description": "Arbitrary JSON object powering the 'Continue this run' modal (.prompt, .tools)."
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InlineAssetInput"
            },
            "description": "Inline assets; relative references in the HTML are rewritten to stored URLs."
          }
        },
        "required": [
          "html"
        ]
      },
      "ReportCreated": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "edit_url": {
            "type": "string",
            "format": "uri",
            "description": "Absolute editor URL (/r/:id)."
          },
          "share_url": {
            "type": "string",
            "format": "uri",
            "description": "Absolute public share URL (/p/:id)."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Same as share_url."
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UploadedAsset"
            }
          }
        },
        "required": [
          "id",
          "title",
          "created_at",
          "edit_url",
          "share_url",
          "url",
          "assets"
        ]
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "owner_id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "html": {
            "type": "string",
            "description": "Rendered HTML (falls back to the original upload)."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "team",
              "registered",
              "public",
              "domain"
            ]
          },
          "public_permission": {
            "type": "string",
            "enum": [
              "none",
              "view",
              "comment",
              "edit"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "producer_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "producer_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "producer_icon_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_recipe": {
            "type": [
              "object",
              "null"
            ]
          },
          "edit_url": {
            "type": "string"
          },
          "share_url": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "owner_id",
          "title",
          "html",
          "visibility",
          "public_permission",
          "created_at",
          "updated_at",
          "edit_url",
          "share_url"
        ]
      },
      "ReportPatchRequest": {
        "type": "object",
        "description": "At least one property must be present.",
        "minProperties": 1,
        "properties": {
          "title": {
            "type": "string",
            "description": "Non-empty."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "null clears it."
          },
          "html": {
            "type": "string",
            "description": "Non-empty, max 5 MB. Appends a revision (deduped when the content hash is unchanged)."
          },
          "producer_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 80
          },
          "producer_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "http(s) only."
          },
          "producer_icon_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "http(s) only."
          },
          "source_recipe": {
            "type": [
              "object",
              "null"
            ]
          }
        }
      },
      "ReportPatched": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "head_revision_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "edit_url": {
            "type": "string"
          },
          "share_url": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "title",
          "updated_at",
          "edit_url",
          "share_url"
        ]
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "snippet": {
            "type": [
              "string",
              "null"
            ]
          },
          "similarity": {
            "type": "number"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Absolute public URL."
          },
          "share_url": {
            "type": "string",
            "format": "uri",
            "description": "Absolute /p/:id URL."
          },
          "html": {
            "type": "string",
            "description": "Present on the top 3 results when include_html was set."
          }
        },
        "required": [
          "id",
          "similarity",
          "url",
          "share_url"
        ]
      },
      "Revision": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "parent_revision_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "content_hash": {
            "type": "string"
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "created_via": {
            "type": [
              "string",
              "null"
            ],
            "description": "e.g. 'api', 'editor', 'routine'."
          }
        },
        "required": [
          "id",
          "content_hash",
          "created_at"
        ]
      },
      "RevisionWithHtml": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Revision"
          },
          {
            "type": "object",
            "properties": {
              "report_id": {
                "type": "string",
                "format": "uuid"
              },
              "html": {
                "type": "string"
              }
            },
            "required": [
              "report_id",
              "html"
            ]
          }
        ]
      },
      "Diff": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
[...]
