{
  "openapi": "3.0.3",
  "info": {
    "title": "Sudoku100 API",
    "version": "1.0.0",
    "description": "Free Sudoku puzzle generation API — no registration, no API key required.\n\nGenerate Sudoku puzzles as images (PNG / WebP / SVG / JPG) in six difficulty\nlevels, or fetch a specific puzzle by ID. Every puzzle is generated in real\ntime with a guaranteed unique solution.\n\n- 6 difficulty levels: beginner, easy, medium, hard, expert, extreme\n- 4 image formats: PNG, WebP, SVG, JPG\n- Custom image width: 100–1000 px\n- Deterministic puzzles by ID: 1–10000\n- Multi-language documentation (41 languages)\n",
    "license": {
      "name": "MIT",
      "url": "https://github.com/sudoku100com-create/Sudoku-generate-API/blob/main/LICENSE"
    },
    "contact": {
      "name": "Sudoku100",
      "url": "https://www.sudoku100.com"
    },
    "x-logo": {
      "url": "https://www.sudoku100.com/sudoku-img?width=400&format=png"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/sudoku100com-create/Sudoku-generate-API/main/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://www.sudoku100.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/sudoku-img": {
      "get": {
        "tags": [
          "Sudoku"
        ],
        "summary": "Generate a random Sudoku puzzle image",
        "description": "Generates a Sudoku puzzle image at a random difficulty. Optionally pass\n`width` and `format` query parameters to customize the output.\n",
        "operationId": "generateRandomSudoku",
        "parameters": [
          {
            "name": "width",
            "in": "query",
            "description": "Image width in pixels (100–1000).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 100,
              "maximum": 1000,
              "default": 500
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output image format.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "webp",
                "svg",
                "jpg"
              ],
              "default": "png"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Sudoku puzzle image.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/sudoku-img/{difficulty}": {
      "get": {
        "tags": [
          "Sudoku"
        ],
        "summary": "Generate a Sudoku puzzle image at a specific difficulty",
        "description": "Generates a Sudoku puzzle image at the requested difficulty level.\nDifficulty controls the number of pre-filled clues (and thus how hard\nthe puzzle is to solve).\n\n| Difficulty | Clues |\n|---|---|\n| beginner | 45–50 |\n| easy | 38–44 |\n| medium | 32–37 |\n| hard | 26–31 |\n| expert | 20–25 |\n| extreme | 17–19 |\n",
        "operationId": "generateSudokuByDifficulty",
        "parameters": [
          {
            "name": "difficulty",
            "in": "path",
            "required": true,
            "description": "Sudoku difficulty level.",
            "schema": {
              "type": "string",
              "enum": [
                "beginner",
                "easy",
                "medium",
                "hard",
                "expert",
                "extreme"
              ]
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Image width in pixels (100–1000).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 100,
              "maximum": 1000,
              "default": 500
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output image format.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "webp",
                "svg",
                "jpg"
              ],
              "default": "png"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Sudoku puzzle image at the requested difficulty.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid difficulty value."
          }
        }
      }
    },
    "/img-id/{id}": {
      "get": {
        "tags": [
          "Sudoku"
        ],
        "summary": "Get a specific Sudoku puzzle image by ID",
        "description": "Returns a deterministic Sudoku puzzle image. The same ID always returns\nthe same puzzle, making it suitable for sharing, linking, or repeated\npractice.\n",
        "operationId": "getSudokuById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sudoku puzzle ID (1–10000).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Image width in pixels (100–1000).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 100,
              "maximum": 1000,
              "default": 500
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output image format.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "webp",
                "svg",
                "jpg"
              ],
              "default": "png"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Sudoku puzzle image.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Puzzle ID not found."
          }
        }
      }
    },
    "/sudoku-solver": {
      "get": {
        "tags": [
          "Sudoku"
        ],
        "summary": "Solve a Sudoku puzzle",
        "description": "Returns the solution for a Sudoku puzzle. Pass an `id` to solve a\nspecific puzzle by its ID.\n",
        "operationId": "solveSudoku",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Sudoku puzzle ID to solve (1–10000).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The solved Sudoku puzzle.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Sudoku",
      "description": "Sudoku puzzle generation endpoints"
    }
  ],
  "externalDocs": {
    "description": "GitHub Repository",
    "url": "https://github.com/sudoku100com-create/Sudoku-generate-API"
  }
}