{
  "openapi": "3.1.0",
  "info": {
    "title": "MerchantWords API",
    "version": "2.0",
    "description": "Amazon keyword data, ASIN analytics, and SERP intelligence.",
    "contact": {
      "email": "hello@merchantwords.com",
      "url": "https://www.merchantwords.com/api"
    },
    "x-jentic-source-url": "https://api.merchantwords.com/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.merchantwords.com/v2"
    }
  ],
  "paths": {
    "/keyword": {
      "post": {
        "operationId": "searchKeyword",
        "summary": "Keyword volume lookup",
        "description": "Returns search volume, depth, trend, seasonality, and monthly history for a keyword.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "keyword"
                ],
                "properties": {
                  "keyword": {
                    "type": "string",
                    "description": "The keyword phrase to look up.",
                    "example": "bluetooth speaker"
                  },
                  "country": {
                    "type": "string",
                    "default": "us",
                    "description": "Two-letter marketplace code.",
                    "example": "us"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keyword data found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keyword": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "found": {
                      "type": "boolean"
                    },
                    "volume": {
                      "type": "integer",
                      "description": "Monthly search volume estimate."
                    },
                    "depth": {
                      "type": "integer",
                      "description": "Autocomplete depth (1 = most competitive)."
                    },
                    "trend": {
                      "0": null,
                      "type": "integer",
                      "description": "Volume trend direction (-1",
                      "1).": null
                    },
                    "avg3m": {
                      "type": "integer",
                      "description": "3-month average volume."
                    },
                    "avg12m": {
                      "type": "integer",
                      "description": "12-month average volume."
                    },
                    "strength": {
                      "type": "integer"
                    },
                    "prominence": {
                      "type": "integer"
                    },
                    "appearance": {
                      "type": "string",
                      "enum": [
                        "evergreen",
                        "seasonal",
                        "unknown"
                      ]
                    },
                    "monthlyVolumes": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "description": "Last 12 months",
                      "newest first.": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/asin": {
      "post": {
        "operationId": "lookupAsin",
        "summary": "ASIN product lookup",
        "description": "Returns product details and top keywords for an Amazon ASIN.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asin"
                ],
                "properties": {
                  "asin": {
                    "type": "string",
                    "pattern": "^B0[A-Z0-9]{8}$",
                    "example": "B0DGHMNQ5Z"
                  },
                  "country": {
                    "type": "string",
                    "default": "us"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ASIN data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "asin": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "found": {
                      "type": "boolean"
                    },
                    "title": {
                      "type": "string"
                    },
                    "brand": {
                      "type": "string"
                    },
                    "price": {
                      "type": "string"
                    },
                    "stars": {
                      "type": "number"
                    },
                    "reviews": {
                      "type": "integer"
                    },
                    "imageUrl": {
                      "type": "string"
                    },
                    "keywordCount": {
                      "type": "integer"
                    },
                    "topKeywords": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "type": "string"
                          },
                          "volume": {
                            "type": "integer"
                          },
                          "position": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ranked-keywords": {
      "post": {
        "operationId": "rankedKeywords",
        "summary": "Reverse ASIN search",
        "description": "All keywords an ASIN ranks for, with position, volume, and trend data. Paginated.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asin"
                ],
                "properties": {
                  "asin": {
                    "type": "string",
                    "example": "B0DGHMNQ5Z"
                  },
                  "country": {
                    "type": "string",
                    "default": "us"
                  },
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "sort": {
                    "type": "string",
                    "default": "volume-desc",
                    "enum": [
                      "volume-desc",
                      "volume-asc",
                      "position-asc",
                      "position-desc",
                      "keyword-asc",
                      "keyword-desc"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated keyword rankings."
          }
        }
      }
    },
    "/serp": {
      "post": {
        "operationId": "getSerpResults",
        "summary": "SERP products",
        "description": "Returns all products on page 1 of Amazon search results for a keyword.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "keyword"
                ],
                "properties": {
                  "keyword": {
                    "type": "string",
                    "example": "wireless headphones"
                  },
                  "country": {
                    "type": "string",
                    "default": "us"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SERP product list."
          }
        }
      }
    },
    "/keyword-search": {
      "post": {
        "operationId": "keywordSearch",
        "summary": "Keyword search",
        "description": "Search for keywords matching a phrase. Returns keywords containing the search terms, sorted by volume. Same engine as Classic Search.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "keyword"
                ],
                "properties": {
                  "keyword": {
                    "type": "string",
                    "example": "dog toys"
                  },
                  "country": {
                    "type": "string",
                    "default": "us"
                  },
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "sort": {
                    "type": "string",
                    "default": "volume-desc",
                    "enum": [
                      "volume-desc",
                      "volume-asc",
                      "depth-desc",
                      "depth-asc",
                      "keyword-asc",
                      "keyword-desc"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching keywords with volume, depth, trend, strength."
          }
        }
      }
    },
    "/related-keywords": {
      "post": {
        "operationId": "relatedKeywords",
        "summary": "Related keywords (SERP overlap)",
        "description": "Discover behaviorally related keywords via SERP overlap. Finds keywords that share product rankings with the seed keyword — even if they share no words.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "keyword"
                ],
                "properties": {
                  "keyword": {
                    "type": "string",
                    "example": "baking dish"
                  },
                  "country": {
                    "type": "string",
                    "default": "us"
                  },
                  "minVolume": {
                    "type": "integer",
                    "default": 0,
                    "description": "Minimum search volume filter"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Max results (default is tier cap)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Related keywords with overlap scores and volume."
          }
        }
      }
    },
    "/bulk-keywords": {
      "post": {
        "operationId": "bulkKeywords",
        "summary": "Bulk keyword lookup",
        "description": "Look up volume and depth for up to 1000 keywords in one call.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "keywords"
                ],
                "properties": {
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 1000,
                    "example": [
                      "bluetooth speaker",
                      "wireless headphones",
                      "phone charger"
                    ]
                  },
                  "country": {
                    "type": "string",
                    "default": "us"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Volume data for each keyword."
          }
        }
      }
    },
    "/bulk-asins": {
      "post": {
        "operationId": "bulkAsins",
        "summary": "Bulk ASIN lookup",
        "description": "Look up product details for multiple ASINs in one call.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asins"
                ],
                "properties": {
                  "asins": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "B0DJ19VGDD",
                      "B08HW1L75J"
                    ]
                  },
                  "country": {
                    "type": "string",
                    "default": "us"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product data for each ASIN."
          }
        }
      }
    },
    "/markets": {
      "get": {
        "operationId": "listMarkets",
        "summary": "Supported marketplaces",
        "description": "Returns the list of Amazon marketplaces with data coverage details.",
        "responses": {
          "200": {
            "description": "Market list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "us"
                          },
                          "name": {
                            "type": "string",
                            "example": "United States"
                          },
                          "domain": {
                            "type": "string",
                            "example": "amazon.com"
                          },
                          "hasSerp": {
                            "type": "boolean"
                          },
                          "hasHistory": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Account, usage, and plans",
        "description": "Returns the caller's current plan, live rate-limit and bulk-quota usage, and the full list of plans with prices and limits. Read-only — never changes billing. Use it to check remaining quota before a large job or to show the user which upgrade unlocks more.",
        "responses": {
          "200": {
            "description": "Current plan, live usage, and the full plan ladder.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string"
                        },
                        "plan": {
                          "type": "string",
                          "example": "pro"
                        },
                        "plan_display": {
                          "type": "string",
                          "example": "Pro"
                        },
                        "key_created": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "last_used": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      }
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "requests_per_minute": {
                          "type": "integer",
                          "example": 10
                        },
                        "search_results_cap": {
                          "type": "integer",
                          "example": 200
                        },
                        "bulk_keywords_per_call": {
                          "type": "integer",
                          "example": 200
                        },
                        "bulk_asins_per_call": {
                          "type": "integer",
                          "example": 25
                        },
                        "bulk_keywords_per_month": {
                          "type": "integer",
                          "nullable": true,
                          "example": 50000
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "rate_limit": {
                          "type": "object",
                          "properties": {
                            "limit_per_minute": {
                              "type": "integer"
                            },
                            "used_this_minute": {
                              "type": "integer"
                            },
                            "remaining_this_minute": {
                              "type": "integer"
                            },
                            "resets_at": {
                              "type": "integer",
                              "description": "Unix timestamp (seconds)"
                            }
                          }
                        },
                        "bulk_quota": {
                          "type": "object",
                          "properties": {
                            "month": {
                              "type": "string",
                              "example": "2026-07"
                            },
                            "limit": {
                              "type": "integer",
                              "nullable": true
                            },
                            "used": {
                              "type": "integer"
                            },
                            "remaining": {
                              "type": "integer",
                              "nullable": true
                            }
                          }
                        }
                      }
                    },
                    "plans": {
                      "type": "array",
                      "description": "All available plans with prices, rate limits, and quotas.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "plan": {
                            "type": "string",
                            "example": "pro"
                          },
                          "plan_display": {
                            "type": "string",
                            "example": "Pro"
                          },
                          "price_monthly_usd": {
                            "type": "number",
                            "example": 499
                          },
                          "price_annual_usd": {
                            "type": "number",
                            "nullable": true,
                            "example": 4990
                          },
                          "requests_per_minute": {
                            "type": "integer",
                            "example": 10
                          },
                          "search_results_cap": {
                            "type": "integer",
                            "example": 200
                          },
                          "bulk_keywords_per_call": {
                            "type": "integer",
                            "example": 200
                          },
                          "bulk_keywords_per_month": {
                            "type": "integer",
                            "nullable": true,
                            "example": 50000
                          },
                          "best_for": {
                            "type": "string"
                          },
                          "current": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "upgrade_url": {
                      "type": "string",
                      "example": "https://www.merchantwords.com/my-account"
                    },
                    "docs_url": {
                      "type": "string",
                      "example": "https://www.merchantwords.com/api/docs"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your MerchantWords API key (mw_live_...). No signup needed to try it: use the public sample key `mw_live_sampledemopublickeyreadonly2026x`, which returns real data for a fixed set of demo keywords (e.g. \"bluetooth speaker\", \"yoga mat\", \"nintendo switch\") and ASINs (e.g. B0DGHMNQ5Z, B004U3Y8OM). Sign up free at https://www.merchantwords.com/api for a key that queries any keyword or ASIN."
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}