{
  "openapi": "3.0.3",
  "info": {
    "title": "Lusha API Documentation",
    "version": "",
    "x-logo": {
      "url": "https://www.lusha.com/logo.png"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://lusha.com/legal/terms"
    },
    "description": "<blockquote class=\"callout\">\n\n **This is the Lusha API V3 documentation.** \n \n V3 introduces a new search-then-enrich pattern, bulk operations, AI-powered lookalikes, and richer filter capabilities. All endpoints are under `https://api.lusha.com/v3/`.\n\n  For more information on V3, refer to the [Migration Guide](/tutorials/v3-migration-guide).\n\n</blockquote>\n\n  --- \n\nLusha provides a RESTful API for querying a comprehensive dataset of business profiles and company information. Built for teams running prospecting, enrichment, automation, and analytics workflows that need accurate, continuously updated business data. The API supports both real-time and bulk use cases.\n\nUse the Lusha API to **search for new prospects**, **enrich existing records**, **react to real-world changes**, and **expand coverage** with AI-powered lookalike recommendations.\n\n> All API requests must be made over **HTTPS**. All responses are returned in **JSON** format.\n\n--- \n## Available Endpoints\n\n| Category | Description |\n|---|---|\n| [**Search**](#tag/Search) | Find contacts or companies using known identifiers |\n| [**Enrich**](#tag/Enrich) | Retrieve full profile data for contacts or companies by ID |\n| [**Search & Enrich**](#tag/Search-and-Enrich) | Find and retrieve full contact or company data in a single call |\n| [**Prospecting**](#tag/Prospecting) | Filter-based search across contacts and companies |\n| [**Lookalikes**](#tag/Lookalikes) | AI-powered recommendations for similar contacts and companies |\n| [**Buying Group**](#tag/Buying-Group) | Identify decision makers, champions, and end users within target accounts |\n| [**Contacts Tables**](#tag/Contacts-Tables) | Persist, organize, and enrich contacts in reusable tables |\n| [**Companies Tables**](#tag/Companies-Tables) | Persist, organize, and enrich companies in reusable tables |\n| [**Signals**](#tag/Signals) | Real-world activity data for contacts and companies |\n| [**Website Visitors**](#tag/Website-Visits) | Companies ranked by website-visit signals for your tracked domains |\n| [**Conversations**](#tag/Conversations) | Search recorded sales conversations and fetch their transcripts |\n| [**Filters**](#tag/Filters) | Discover valid filter values for prospecting |\n| [**Webhooks**](#tag/Webhooks) | Real-time signal notifications via HTTP callbacks |\n| [**Account**](#tag/Account) | Usage, credits, rate limits, and pricing |\n\n<blockquote class=\"callout\">\n\n **Waterfall Reveal for Contact Enrichment.**\n\n  Enrich Contacts now supports `waterfallEnabled`. Fall through to your enabled third-party providers when Lusha's own data has no match, for extra reach on hard-to-match contacts. On by default once your account has it turned on - pass `waterfallEnabled: false` to opt a specific call out. [See Enrich Contacts](#operation/enrichContacts).\n\n</blockquote>\n\n---\n\n## Data Source and Privacy\n\n**Lusha is a search platform.** The data provided is not created or directly managed by Lusha. It is sourced from publicly available information and trusted business partners.\n\nFor more details on how we collect and handle data, see our [Privacy Policy](https://lusha.com/legal/privacy-notice/).\n\n---\n\n## Legal Notices\n\n(a) Data brokers and other third-party platforms may not embed, expose, or otherwise provide access to the Lusha API, or to Data obtained through it, on or through their own website, product, or service, without Lusha's prior written consent.\n\n(b) Data obtained through the API may not be used to train or develop AI/ML systems, subject to the terms and exceptions outlined in the [Terms and Conditions](https://lusha.com/legal/terms).\n\n---\n\n## Authentication\n\nAll API requests require an **API key** linked to your Lusha account and plan. Pass your key in the `api_key` request header on every call.\n\n> Generate and manage your API key in the [Lusha dashboard](https://dashboard.lusha.com/enrich/api).\n\nStore your API key securely and use it only in **server-side environments**.\n\n---\n\n## Rate Limiting\n\nLusha enforces rate limits on a per-plan basis to ensure fair usage and platform stability. Limits are applied across multiple time windows (per minute, per hour, and per day), and vary depending on your account plan.\n\nRate limits for the **Credit Usage API** differ from standard endpoint limits.\n\n> **Note:** To check your current plan's limits, visit the [Lusha Help Center](https://info.lusha.com/en/articles/163856-all-there-is-to-know-about-lusha-s-api) or contact your account manager.\n\n**Rate Limit Response Headers**\n\n| Header | Description |\n|--------|-------------|\n| `x-rate-limit-daily` | Total requests allowed per day |\n| `x-daily-requests-left` | Requests remaining in your daily quota |\n| `x-daily-usage` | Requests made in the current daily period |\n| `x-rate-limit-hourly` | Total requests allowed per hour |\n| `x-hourly-requests-left` | Requests remaining in your hourly quota |\n| `x-hourly-usage` | Requests made in the current hourly period |\n| `x-rate-limit-minute` | Total requests allowed per minute |\n| `x-minute-requests-left` | Requests remaining in the current minute window |\n| `x-minute-usage` | Requests made in the current minute window |\n\n---\n## Error Codes\n\nLusha uses standard HTTP status codes to indicate the result of each request.\n\n| Code | Name | Description |\n|------|------|-------------|\n| `200` | OK | Request was successful |\n| `400` | Bad Request | Request is malformed or missing required fields |\n| `401` | Unauthorized | API key is missing or invalid |\n| `402` | Payment Required | Insufficient credits or payment needed |\n| `403` | Forbidden | Account is inactive. Contact support@lusha.com |\n| `404` | Not Found | Endpoint or resource does not exist |\n| `429` | Too Many Requests | Rate limit or daily quota exceeded |\n| `451` | Unavailable For Legal Reasons | Request blocked due to GDPR regulations |\n| `499` | Client Closed Request | Request timed out before completing |\n| `5XX` | Server Error | Issue on Lusha's end. Retry with exponential backoff |\n\n**Error Response Format**\n\n```json\n{\n  \"statusCode\": 400,\n  \"message\": \"Invalid request parameters\"\n}\n```\n\n**Tables-specific error codes**\n\n| Code | Status | Meaning |\n|---|---|---|\n| `TABLE_NOT_FOUND` | 404 | The `table_id` does not exist or is not accessible to this account |\n| `COLUMN_NOT_FOUND` | 404 | The `column_id` does not exist on the given table |\n| `TABLE_NAME_CONFLICT` | 409 | A table with this name already exists |\n\nTables error bodies use the shape `{ \"message\": \"...\", \"code\": <status>, ... }` rather than the `statusCode`/`errors` shape used elsewhere in this doc.\n\n**Limits:** up to 500 entity IDs per add/remove call · max 50,000 entities per table · max 500 tables per account · `page` 0–100 · `size` default 100.\n\n**Tips for Handling Errors**\n\n- Verify your API key is correct and active\n- Read the `message` field for specific troubleshooting details\n- For `429` errors, wait before retrying\n- For `5XX` errors, use exponential backoff before retrying\n",
    "contact": {
      "name": "Lusha Support",
      "url": "https://api.lusha.com",
      "email": "support@lusha.com"
    },
    "termsOfService": "https://lusha.com/legal/terms",
    "x-privacy-policy": {
      "name": "Privacy Policy",
      "url": "https://lusha.com/legal/privacy-notice/"
    },
    "x-jentic-source-url": "https://docs.lusha.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.lusha.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v3/contacts/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search Contacts",
        "operationId": "searchContacts",
        "description": "Look up contacts by identifier. Returns a non-PII preview of each profile - no emails or phone numbers.\n\n**Accepted identifiers (one required per contact):**\n- Lusha contact `id`\n- `linkedinUrl`\n- `email`\n- `firstName` + `lastName` + `companyName` or `companyDomain`\n\nUp to 100 contacts per request. Each result includes:\n- `has` - data points available on this profile\n- `canReveal` - what you can unlock via Enrich Contacts, and the credit cost\n\nPass a `signals` filter to narrow results to contacts with recent activity (e.g. promotion, job change).\n\n> **Billing:** Charged per successful result via the `api_search` action.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3ContactsSearchRequest"
              },
              "example": {
                "contacts": [
                  {
                    "clientReferenceId": "my-ref-1",
                    "firstName": "Orit",
                    "lastName": "Shilvock",
                    "companyName": "Lusha",
                    "companyDomain": "lusha.com"
                  },
                  {
                    "clientReferenceId": "my-ref-2",
                    "linkedinUrl": "https://www.linkedin.com/in/shmulikwillinger"
                  },
                  {
                    "clientReferenceId": "my-ref-3",
                    "email": "gal.ashkelon@lusha.com"
                  },
                  {
                    "clientReferenceId": "my-ref-4",
                    "id": "12345"
                  }
                ],
                "options": {
                  "includePartialProfiles": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3ContactsSearchResponse"
                },
                "example": {
                  "requestId": "6e4b1192-9440-42c4-9a3e-793ddef6d73c",
                  "results": [
                    {
                      "clientReferenceId": "my-ref-1",
                      "id": "4415824633",
                      "firstName": "Orit",
                      "lastName": "Shilvock",
                      "jobTitle": {
                        "title": "Vice President of Partnerships",
                        "departments": [
                          "Business Development"
                        ],
                        "seniority": "Vice President"
                      },
                      "company": {
                        "id": "16303253",
                        "name": "Lusha",
                        "domain": "www.lusha.com",
                        "industry": "Technology, Information & Media"
                      },
                      "location": {
                        "country": "Israel",
                        "city": "Tel Aviv"
                      },
                      "socialLinks": {
                        "linkedin": "https://www.linkedin.com/in/orit-shilvock-6243bb5"
                      },
                      "has": [
                        "firstName",
                        "lastName",
                        "jobTitle",
                        "location",
                        "socialLinks",
                        "emails"
                      ],
                      "canReveal": [
                        {
                          "field": "emails",
                          "credits": 1
                        }
                      ]
                    },
                    {
                      "clientReferenceId": "my-ref-2",
                      "id": "4415824679",
                      "firstName": "Shmulik",
                      "lastName": "Willinger",
                      "jobTitle": {
                        "title": "Chief Architect",
                        "departments": [
                          "Engineering & Technical"
                        ],
                        "seniority": "C-Suite"
                      },
                      "company": {
                        "id": "16303253",
                        "name": "Lusha",
                        "domain": "www.lusha.com",
                        "industry": "Technology, Information & Media"
                      },
                      "location": {
                        "country": "Israel",
                        "city": "Tel Aviv"
                      },
                      "socialLinks": {
                        "linkedin": "https://www.linkedin.com/in/shmulikwillinger"
                      },
                      "has": [
                        "firstName",
                        "lastName",
                        "jobTitle",
                        "location",
                        "socialLinks",
                        "emails"
                      ],
                      "canReveal": [
                        {
                          "field": "emails",
                          "credits": 1
                        }
                      ]
                    },
                    {
                      "clientReferenceId": "my-ref-3",
                      "id": "4415824664",
                      "firstName": "Gal",
                      "lastName": "Ashkelon",
                      "jobTitle": {
                        "title": "Global Partner Program Manager",
                        "departments": [
                          "Business Development"
                        ],
                        "seniority": "Manager"
                      },
                      "company": {
                        "id": "16303253",
                        "name": "Lusha",
                        "domain": "www.lusha.com",
                        "industry": "Technology, Information & Media"
                      },
                      "location": {
                        "country": "Israel",
                        "city": "Tel Aviv"
                      },
                      "socialLinks": {
                        "linkedin": "https://www.linkedin.com/in/gal-ashkelon-39408557"
                      },
                      "has": [
                        "firstName",
                        "lastName",
                        "jobTitle",
                        "location",
                        "socialLinks",
                        "emails"
                      ],
                      "canReveal": [
                        {
                          "field": "emails",
                          "credits": 1
                        }
                      ]
                    },
                    {
                      "clientReferenceId": "my-ref-4",
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Contact not found"
                      }
                    }
                  ],
                  "billing": {
                    "creditsCharged": 1,
                    "resultsReturned": 3
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/contacts/enrich": {
      "post": {
        "tags": [
          "Enrich"
        ],
        "summary": "Enrich Contacts",
        "operationId": "enrichContacts",
        "description": "Reveal full contact data for contacts you've already found via Search Contacts.\n\nPass up to 100 contact `ids` (from the search response). Use the `reveal` field to control what gets unlocked:\n- `emails` - work and personal email addresses\n- `phones` - mobile and direct phone numbers\n- Omit `reveal` to get both by default\n\n---\n\n###  Waterfall Reveal\nFall through to your enabled third-party providers when Lusha's own data has no match, for extra reach on hard-to-match contacts.\n\nIf **Data Waterfall** is enabled on your account, with specific providers turned on under **Account > Waterfall**, the waterfall runs automatically on every Enrich Contacts call - you don't need to pass anything to trigger it.\n\n\nPass `waterfallEnabled: false` to opt a specific call out:\n\n  ```json\n                  \"reveal\": [\"emails\", \"phones\"],\n                  \"waterfallEnabled\": false\n  ```\n\n- `reveal` controls **which fields** come back.\n- `waterfallEnabled` controls whether the waterfall runs for this call at all. Defaults to `true` whenever Data Waterfall is enabled on your account; pass `false` to disable it just for this call.\n- Provider order isn't configurable - Lusha manages that internally.\n- If Data Waterfall is off or no providers are enabled on your account, `waterfallEnabled` has no effect either way.\n\nWhen the waterfall runs, the response adds `status`, `statusDescription` and (when a field is empty because the waterfall did not run) `statusReason`. Each email and phone carries `dataSource` (`lusha` or `<providerId>`), plus `credits` when an external provider delivered it. Contacts with unresolved data points list them in `missingDataPoints`. These fields are omitted when the waterfall did not run, so a Lusha-only response keeps its usual shape.\n\n### Async results (`job`)\nFast providers answer inside this call. A slower provider does not hold the request open: the response returns what is already known, plus a `job`.\n\n1. If the response has no `job`, it is final.\n2. If `job` is present, wait `job.retryAfter` seconds, then call [Get Contacts Enrich Job](#operation/getContactsEnrichJob) with `job.id`.\n3. While the job `status` is `processing`, wait `retryAfter` seconds and poll again.\n4. On `complete`, merge the job's `contacts` into your enrich results by `id`. Do not replace the whole enrich payload.\n5. On `expired` or `failed`, stop and keep what Enrich Contacts already returned.\n\nBranch on whether `job` is present, and then on the job `status`. Don't infer that work is still running because an email or phone is empty.\n\nPolling is free. A data point is billed once, by whichever call delivered it.\n---\n> **Tip:** If `canReveal.credits` is `0` in the search response, that data has already been revealed for your account - re-enriching it is free.\n\n> **Billing:** Charged per revealed field (email or phone) via per-datapoint pricing.\n\n> **Persisting to a table:** Pass `tableId` to also add these contacts to an existing table and populate the Work email / Phone columns. See [Contacts Tables](#tag/Contacts-Tables).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3ContactsEnrichRequest"
              },
              "examples": {
                "standard": {
                  "summary": "Standard reveal (waterfall runs automatically if enabled on your account)",
                  "value": {
                    "ids": [
                      "4389064654",
                      "4389064624"
                    ],
                    "reveal": [
                      "emails",
                      "phones"
                    ]
                  }
                },
                "waterfallDisabled": {
                  "summary": "Opt this call out of the waterfall",
                  "value": {
                    "ids": [
                      "4389064654",
                      "4389064624"
                    ],
                    "reveal": [
                      "emails",
                      "phones"
                    ],
                    "waterfallEnabled": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3ContactsEnrichResponse"
                },
                "examples": {
                  "final": {
                    "summary": "Final response (no job)",
                    "value": {
                      "requestId": "71581363-f73d-46e1-9115-ecbd771b964b",
                      "results": [
                        {
                          "id": "4389064654",
                          "firstName": "Daniel",
                          "lastName": "Turgeman",
                          "fullName": "Daniel Turgeman",
                          "jobTitle": {
                            "title": "Technical Product Manager",
                            "departments": [
                              "Product"
                            ],
                            "seniority": "Manager"
                          },
                          "location": {
                            "country": "Israel",
                            "countryIso2": "IL",
                            "city": "Tel Aviv",
                            "continent": "Asia",
                            "coordinates": [
                              34.78057098388672,
                              32.08087921142578
                            ],
                            "isEuContact": false
                          },
                          "tags": [],
                          "emails": [
                            {
                              "email": "daniel.t@lusha.com",
                              "type": "work",
                              "confidence": "A+",
                              "updateDate": "2026-04-23"
                            }
                          ],
                          "phones": [],
                          "company": {
                            "id": "16303253",
                            "name": "Lusha",
                            "domain": "www.lusha.com",
                            "industry": "Technology, Information & Media"
                          },
                          "socialLinks": {
                            "linkedin": "https://www.linkedin.com/in/daniel-turgeman-49676b161"
                          },
                          "previousEmployment": [],
                          "updateDate": "2026-04-23"
                        }
                      ],
                      "billing": {
                        "creditsCharged": 2,
                        "resultsReturned": 2
                      }
                    }
                  },
                  "asyncJob": {
                    "summary": "Partial response with an async job to poll",
                    "value": {
                      "requestId": "c3d4e5f6-a7b8-9012-cdef-345678901234",
                      "results": [
                        {
                          "id": "v1.AbCdEfGhIjKlMnOpQrStUvWxYz012345",
                          "firstName": "John",
                          "lastName": "Doe",
                          "emails": [
                            {
                              "email": "john.doe@example.com",
                              "type": "work",
                              "confidence": "A+",
                              "dataSource": "lusha"
                            }
                          ]
                        }
                      ],
                      "billing": {
                        "creditsCharged": 1,
                        "resultsReturned": 1
                      },
                      "status": "partial",
                      "statusDescription": "Some requested data points are still being retrieved.",
                      "job": {
                        "id": "wf_3f2b9c1e-4a7d-4f3b-9c2e-1d6a5b8c7e90",
                        "status": "processing",
                        "expiresAt": "2026-01-15T10:30:00Z",
                        "retryAfter": 5
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/contacts/search-and-enrich": {
      "post": {
        "tags": [
          "Search & Enrich"
        ],
        "summary": "Search and Enrich Contacts",
        "operationId": "searchAndEnrichContacts",
        "description": "Find contacts and reveal their full data in a single call. Combines Search and Enrich into one request.\n\nProvide contact identifiers the same way you would for Search Contacts. Use the `reveal` field to control what gets unlocked (`emails`, `phones`, or both).\n\nUp to 100 contacts per request.\n\n> **Billing:** Two charges apply - one for the search (`api_search`) and one per revealed field. The `billing.creditsCharged` in the response reflects the total.\n\n> **Data Waterfall:** runs automatically for the requested `reveal` fields when enabled on your account. There is no `waterfallEnabled` flag on this request. The response can include the same `status`, `statusDescription` and `statusReason` values as Enrich Contacts, plus `dataSource`, `credits` and `missingDataPoints`. It never returns a `job`, so there is nothing to poll.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3ContactsSearchAndEnrichRequest"
              },
              "example": {
                "contacts": [
                  {
                    "clientReferenceId": "my-ref-1",
                    "firstName": "Orit",
                    "lastName": "Shilvock",
                    "companyName": "Lusha",
                    "companyDomain": "lusha.com"
                  },
                  {
                    "clientReferenceId": "my-ref-2",
                    "linkedinUrl": "https://www.linkedin.com/in/shmulikwillinger"
                  }
                ],
                "reveal": [
                  "emails",
                  "phones"
                ],
                "options": {
                  "includePartialProfiles": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3ContactsSearchAndEnrichResponse"
                },
                "example": {
                  "requestId": "211ee5da-3c0d-4621-9fa5-140e393a3ced",
                  "results": [
                    {
                      "clientReferenceId": "my-ref-1",
                      "id": "4389064704",
                      "firstName": "Orit",
                      "lastName": "Shilvock",
                      "fullName": "Orit Shilvock",
                      "emails": [
                        {
                          "email": "orit.shilvock@lusha.com",
                          "type": "work",
                          "confidence": "A+",
                          "updateDate": "2026-04-23"
                        }
                      ],
                      "phones": [],
                      "tags": [],
                      "previousEmployment": [],
                      "updateDate": "2026-04-23"
                    }
                  ],
                  "billing": {
                    "creditsCharged": 2,
                    "resultsReturned": 2
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/companies/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search Companies",
        "operationId": "searchCompanies",
        "description": "Look up companies by identifier. Returns a preview of each company profile.\n\n**Accepted identifiers (at least one required per company):**\n- Lusha company `id`\n- `name`\n- `domain`\n\nUp to 100 companies per request. Each result includes a `has` field listing the data available via Enrich Companies.\n\nPass a `signals` filter to narrow results to companies showing specific activity (e.g. headcount growth, hiring surge).\n\n> **Billing:** Charged per successful result via the `api_search` action.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3CompaniesSearchRequest"
              },
              "example": {
                "companies": [
                  {
                    "clientReferenceId": "comp-ref-1",
                    "name": "Lusha"
                  },
                  {
                    "clientReferenceId": "comp-ref-2",
                    "domain": "salesforce.com"
                  },
                  {
                    "clientReferenceId": "comp-ref-3",
                    "id": "16303253"
                  }
                ],
                "options": {
                  "includePartialProfiles": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3CompaniesSearchResponse"
                },
                "example": {
                  "requestId": "abd4a213-d33b-4565-b9b6-55c19c65cc47",
                  "results": [
                    {
                      "clientReferenceId": "comp-ref-1",
                      "id": "16303253",
                      "name": "Lusha",
                      "domain": "www.lusha.com",
                      "employeeCount": {
                        "exact": 364,
                        "min": 201,
                        "max": 500
                      },
                      "industry": "Technology, Information & Media",
                      "location": {
                        "city": "Boston",
                        "state": "Massachusetts",
                        "country": "United States",
                        "countryIso2": "US",
                        "continent": "North America"
                      },
                      "socialLinks": {
                        "linkedin": "https://www.linkedin.com/company/lushadata"
                      },
                      "has": [
                        "alternativeName",
                        "alternativeDomains",
                        "description",
                        "companyType",
                        "yearFounded",
                        "subIndustry",
                        "specialities",
                        "sicCodes",
                        "naicsCodes",
                        "additionalLocations",
                        "linkedinFollowers",
                        "funding",
                        "popularityTier",
                        "logoUrl",
                        "employeesByDepartment",
                        "employeesByLocation",
                        "employeesBySeniority",
                        "competitors",
                        "businessModel",
                        "emails",
                        "keywords",
                        "socialLinks"
                      ],
                      "canReveal": [
                        {
                          "field": "employeesByDepartment",
                          "credits": 1
                        },
                        {
                          "field": "employeesByLocation",
                          "credits": 1
                        },
                        {
                          "field": "employeesBySeniority",
                          "credits": 1
                        },
                        {
                          "field": "competitors",
                          "credits": 1
                        }
                      ]
                    },
                    {
                      "clientReferenceId": "comp-ref-2",
                      "id": "12790225",
                      "name": "Salesforce",
                      "domain": "www.salesforce.com",
                      "employeeCount": {
                        "exact": 88711,
                        "min": 100001,
                        "max": 10000000
                      },
                      "industry": "Technology, Information & Media",
                      "location": {
                        "city": "San Francisco",
                        "state": "California",
                        "country": "United States",
                        "countryIso2": "US",
                        "continent": "North America"
                      },
                      "socialLinks": {
                        "linkedin": "https://www.linkedin.com/company/salesforce"
                      },
                      "has": [
                        "alternativeName",
                        "alternativeDomains",
                        "description",
                        "companyType",
                        "subIndustry",
                        "sicCodes",
                        "naicsCodes",
                        "additionalLocations",
                        "linkedinFollowers",
                        "revenueRange",
                        "intent",
                        "popularityTier",
                        "logoUrl",
                        "employeesByDepartment",
                        "employeesByLocation",
                        "employeesBySeniority",
                        "competitors",
                        "phones",
                        "emails",
                        "socialLinks"
                      ],
                      "canReveal": [
                        {
                          "field": "employeesByDepartment",
                          "credits": 1
                        },
                        {
                          "field": "employeesByLocation",
                          "credits": 1
                        },
                        {
                          "field": "employeesBySeniority",
                          "credits": 1
                        },
                        {
                          "field": "competitors",
                          "credits": 1
                        },
                        {
                          "field": "intent",
                          "credits": 0
                        }
                      ]
                    }
                  ],
                  "billing": {
                    "creditsCharged": 1,
                    "resultsReturned": 3
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/companies/enrich": {
      "post": {
        "tags": [
          "Enrich"
        ],
        "summary": "Enrich Companies",
        "operationId": "enrichCompanies",
        "description": "Reveal full company data for companies you've already found via Search Companies.\n\nPass up to 100 company `ids` (from the search response). Each enriched result includes:\n- Firmographics: size, revenue range, year founded, company type\n- Industry: primary industry, sub-industry, SIC/NAICS codes\n- Locations: HQ and additional office sites\n- Technologies, funding rounds, buyer intent topics\n- LinkedIn followers, logo URL, social links (LinkedIn, Facebook, X, Instagram, YouTube, TikTok)\n- Open job posting counts: total and breakdowns by department, location, and seniority\n- Ownership: immediate parent (`directParent`) and top of the ownership tree (`ultimateParent`)\n\n> **Billing:** Charged per successful result via the `reveal_company` action.\n\n> **Persisting to a table:** Pass `tableId` to also add these companies to an existing table and populate the relevant enrichment columns. See [Companies Tables](#tag/Companies-Tables).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3CompaniesEnrichRequest"
              },
              "example": {
                "ids": [
                  "16303253",
                  "12790225",
                  "18654301"
                ],
                "reveal": [
                  "employeesByLocation",
                  "employeesByDepartment",
                  "employeesBySeniority",
                  "competitors",
                  "intent",
                  "openJobsTotal",
                  "openJobsByDepartment",
                  "directParent",
                  "ultimateParent"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3CompaniesEnrichResponse"
                },
                "example": {
                  "requestId": "5e8f5993-a0a3-4510-bc90-7b4506272c68",
                  "results": [
                    {
                      "id": "16303253",
                      "name": "Lusha",
                      "alternativeName": "lusha",
                      "domain": "www.lusha.com",
                      "alternativeDomains": [
                        "lusha.com"
                      ],
                      "description": "Lusha is the leader in Sales Streaming – a new sales paradigm that streams top leads straight to salespeople and handles all the outreach, so they can escape the lead grind and just sell.",
                      "companyType": "Private Company",
                      "yearFounded": 2016,
                      "employeeCount": {
                        "exact": 364,
                        "min": 201,
                        "max": 500
                      },
                      "industry": "Technology, Information & Media",
                      "subIndustry": "Software Development",
                      "specialities": [
                        "data accuracy",
                        "data enrichment",
                        "lead discovery",
                        "lead generation",
                        "prospecting",
                        "sales enablement",
                        "sales intelligence",
                        "software development"
                      ],
                      "sicCodes": [
                        {
                          "code": 7371,
                          "description": "Custom computer programming services"
                        }
                      ],
                      "naicsCodes": [
                        {
                          "code": 541511,
                          "description": "Custom Computer Programming Services"
                        }
                      ],
                      "location": {
                        "city": "Boston",
                        "state": "Massachusetts",
                        "country": "United States",
                        "countryIso2": "US",
                        "continent": "North America",
                        "zipCode": "02199"
                      },
                      "additionalLocations": [
                        {
                          "city": "New York City",
                          "state": "New York",
                          "country": "United States",
                          "countryIso2": "US",
                          "continent": "North America"
                        }
                      ],
                      "socialLinks": {
                        "linkedin": "https://www.linkedin.com/company/lushadata",
                        "facebook": "https://www.facebook.com/lusha",
                        "x": "https://x.com/lusha",
                        "instagram": [
                          "https://www.instagram.com/lusha"
                        ],
                        "youtube": [
                          "https://www.youtube.com/c/lushadata"
                        ],
                        "tiktok": [
                          "https://www.tiktok.com/@lusha"
                        ]
                      },
                      "linkedinFollowers": 64339,
                      "funding": {
                        "rounds": [
                          {
                            "currency": "USD",
                            "roundAmount": 205000000,
                            "roundType": "Private Equity Round",
                            "roundDate": "Nov 10, 2021"
                          },
                          {
                            "currency": "USD",
                            "roundAmount": 40000000,
                            "roundType": "Private Equity Round",
                            "roundDate": "Feb 10, 2021"
                          }
                        ],
                        "totalRounds": 2,
                        "totalRoundsAmount": 245000000,
                        "currency": "USD",
                        "isIpo": false,
                        "lastRoundType": "Private Equity Round",
                        "lastRoundAmount": 205000000,
                        "lastRoundDate": "Nov 10, 2021"
                      },
                      "technologies": [
                        "amazon",
                        "google analytics"
                      ],
                      "popularityTier": 1,
                      "logoUrl": "https://logo.lusha.co/brightdata/year=2024/month=05/day=03/j_lvq47h0g13te1b3wpu.e7b0795e7affc9953dadd43e6fce99a2c5260043.file_lvq4cfwv17kcb9m4ej.logo_cached.jpg",
                      "employeesByDepartment": [
                        {
                          "department": "Business Development",
                          "count": 14
                        },
                        {
                          "department": "Consulting",
                          "count": 10
                        },
                        {
                          "department": "Customer Service",
                          "count": 28
                        },
                        {
                          "department": "Engineering & Technical",
                          "count": 95
                        },
                        {
                          "department": "Finance",
                          "count": 14
                        },
                        {
                          "department": "General Management",
                          "count": 41
                        },
                        {
                          "department": "Human Resources",
                          "count": 16
                        },
                        {
                          "department": "Information Technology",
                          "count": 13
                        },
                        {
                          "department": "Legal",
                          "count": 7
                        },
                        {
                          "department": "Marketing",
                          "count": 31
                        },
                        {
                          "department": "Operations",
                          "count": 22
                        },
                        {
                          "department": "Other",
                          "count": 35
                        },
                        {
                          "department": "Product",
                          "count": 38
                        },
                        {
                          "department": "Research & Analytics",
                          "count": 42
                        },
                        {
                          "department": "Sales",
                          "count": 72
                        }
                      ],
                      "employeesByLocation": [
                        {
                          "country": "Israel",
                          "state": null,
                          "count": 301
                        },
                        {
                          "country": "United States",
                          "state": null,
                          "count": 45
                        },
                        {
                          "country": "United States",
                          "state": "Massachusetts",
                          "count": 30
                        },
                        {
                          "country": "Brazil",
                          "state": null,
                          "count": 22
                        },
                        {
                          "country": "France",
                          "state": null,
                          "count": 10
                        }
                      ],
                      "employeesBySeniority": [
                        {
                          "seniority": "C-Suite",
                          "count": 12
                        },
                        {
                          "seniority": "Director",
                          "count": 35
                        },
                        {
                          "seniority": "Founder",
                          "count": 33
                        },
                        {
                          "seniority": "Intern",
                          "count": 1
                        },
                        {
                          "seniority": "Manager",
                          "count": 141
                        },
                        {
                          "seniority": "Non-Manager",
                          "count": 163
                        },
                        {
                          "seniority": "Partner",
                          "count": 6
                        },
                        {
                          "seniority": "Senior",
                          "count": 59
                        },
                        {
                          "seniority": "Vice President",
                          "count": 9
                        }
                      ],
                      "competitors": [
                        {
                          "id": "2497917",
                          "name": "Clearbit",
                          "domain": "clearbit.com"
                        },
                        {
                          "id": "9781263",
                          "name": "Hunter.io",
                          "domain": "hunter.io"
                        },
                        {
                          "id": "40857684",
                          "name": "MCJ Solutions Inc",
                          "domain": "zoominfo.com"
                        },
                        {
                          "id": "157961346",
                          "name": "PMc",
                          "domain": "apollo.io"
                        }
                      ],
                      "businessModel": [
                        "B2B"
                      ],
                      "emails": [
                        {
                          "email": "Support@Lusha.com"
                        }
                      ],
                      "keywords": [
                        "contact information",
                        "data accuracy",
                        "data enrichment",
                        "lead discovery",
                        "lead generation",
                        "prospecting",
                        "sales cadence",
                        "sales enablement",
                        "sales intelligence",
                        "sales playlist",
                        "sales streaming",
                        "software development"
                      ],
                      "openJobs": {
                        "total": 47,
                        "byDepartment": [
                          {
                            "department": "Engineering & Technical",
                            "count": 21
                          },
                          {
                            "department": "Sales",
                            "count": 9
                          }
                        ]
                      },
                      "directParent": null,
                      "ultimateParent": null
                    },
                    {
                      "id": "12790225",
                      "name": "Salesforce",
                      "alternativeName": "salesforce",
                      "domain": "www.salesforce.com",
                      "alternativeDomains": [
                        "salesforce.com"
                      ],
                      "description": "We're the #1 AI CRM-where humans with agents drive customer success together with AI, data, and Customer 360 apps on one platform.",
                      "companyType": "Public Company",
                      "employeeCount": {
                        "exact": 88711,
                        "min": 100001,
                        "max": 10000000
                      },
                      "industry": "Technology, Information & Media",
                      "subIndustry": "Software Development",
                      "sicCodes": [
                        {
                          "code": 7371,
                          "description": "Custom computer programming services"
                        }
                      ],
                      "naicsCodes": [
                        {
                          "code": 541511,
                          "description": "Custom Computer Programming Services"
                        }
                      ],
                      "location": {
                        "city": "San Francisco",
                        "state": "California",
                        "country": "United States",
                        "countryIso2": "US",
                        "continent": "North America",
                        "zipCode": "94105"
                      },
                      "additionalLocations": [
                        {
                          "country": "United States",
                          "countryIso2": "US",
                          "continent": "North America"
                        },
                        {
                          "city": "Chicago",
                          "state": "Illinois",
                          "country": "United States",
                          "countryIso2": "US",
                          "continent": "North America"
                        },
                        {
                          "city": "London",
                          "country": "United Kingdom",
                          "countryIso2": "GB",
                          "continent": "Europe"
                        },
                        {
                          "city": "Tel Aviv",
                          "country": "Israel",
                          "countryIso2": "IL",
                          "continent": "Asia"
                        }
                      ],
                      "socialLinks": {
                        "linkedin": "https://www.linkedin.com/company/salesforce"
                      },
                      "linkedinFollowers": 6417067,
                      "revenueRange": {
                        "min": 10000000000,
                        "max": 100000000000
                      },
                      "intent": {
                        "detectedTopics": [
                          {
                            "topicName": "Cognism Limited",
                            "metadata": {
                              "topicScore": 85,
                              "topicTrend": "+24"
                            }
                          }
                        ],
                        "topicCount": 1
                      },
                      "technologies": [
                        "amazon",
                        "paypal",
                        "google analytics"
                      ],
                      "popularityTier": 1,
                      "logoUrl": "https://logo.lusha.co/brightdata/year=2024/month=05/day=20/j_lwej8xik12ncr6ge4u.9e1ec373903019beff129694cb926761f065e9af.file_lwejc8mispkz3m1ng.logo_cached.jpg",
                      "employeesByDepartment": [
                        {
                          "department": "Business Development",
                          "count": 2820
                        },
                        {
                          "department": "Consulting",
                          "count": 4963
                        },
                        {
                          "department": "Engineering & Technical",
                          "count": 29167
                        },
                        {
                          "department": "Finance",
                          "count": 2126
                        },
                        {
                          "department": "Marketing",
                          "count": 4793
                        },
                        {
                          "department": "Operations",
                          "count": 6117
                        },
                        {
                          "department": "Sales",
                          "count": 22316
                        }
                      ],
                      "employeesByLocation": [
                        {
                          "country": "United States",
                          "state": null,
                          "count": 46090
                        },
                        {
                          "country": "United States",
                          "state": "California",
                          "count": 9928
                        },
                        {
                          "country": "India",
                          "state": null,
                          "count": 18527
                        },
                        {
                          "country": "United Kingdom",
                          "state": null,
                          "count": 3682
                        },
                        {
                          "country": "Ireland",
                          "state": null,
                          "count": 3226
                        }
                      ],
                      "employeesBySeniority": [
                        {
                          "seniority": "C-Suite",
                          "count": 1039
                        },
                        {
                          "seniority": "Director",
                          "count": 11538
                        },
                        {
                          "seniority": "Manager",
                          "count": 18836
                        },
                        {
                          "seniority": "Non-Manager",
                          "count": 49493
                        },
                        {
                          "seniority": "Senior",
                          "count": 20509
                        },
                        {
                          "seniority": "Vice President",
                          "count": 3104
                        }
                      ],
                      "competitors": [
                        {
                          "id": "4269625",
                          "name": "iGroup Vietnam - Solutions for Enterprise",
                          "domain": "monday.com"
                        },
                        {
                          "id": "7237482",
                          "name": "Pipedrive",
                          "domain": "pipedrive.com"
                        },
                        {
                          "id": "9740086",
                          "name": "Microsoft",
                          "domain": "microsoft.com"
                        },
                        {
                          "id": "156097472",
                          "name": "Hub Spot",
                          "domain": "hubspot.com"
                        }
                      ],
                      "phones": [
                        {
                          "number": "+1 800-420-7332"
                        }
                      ],
                      "emails": [
                        {
                          "email": "datasubjectrequest@salesforce.com"
                        }
                      ],
                      "directParent": null,
                      "ultimateParent": null
                    },
                    {
                      "id": "18654301",
                      "name": "4D",
                      "domain": "4d.com",
                      "companyType": "Subsidiary",
                      "directParent": {
                        "lushaCompanyId": "v1.XyZw...",
                        "name": "Volaris Group",
                        "domain": "volarisgroup.com"
                      },
                      "ultimateParent": {
                        "lushaCompanyId": "v1.QrSt...",
                        "name": "Constellation Software Inc.",
                        "domain": "csisoftware.com",
                        "hqCountry": "Canada"
                      }
                    }
                  ],
                  "billing": {
                    "creditsCharged": 14,
                    "resultsReturned": 3
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/companies/search-and-enrich": {
      "post": {
        "tags": [
          "Search & Enrich"
        ],
        "summary": "Search and Enrich Companies",
        "operationId": "searchAndEnrichCompanies",
        "description": "Find companies and reveal their full data in a single call. Combines Search and Enrich into one request.\n\nProvide company identifiers the same way you would for Search Companies. Up to 100 companies per request.\n\nUse the `reveal` field to control which premium data points are unlocked, exactly as you would on Enrich Companies. Premium fields - including `directParent` and `ultimateParent` - are returned only when you name them in `reveal`; they are never included by default.\n\n> **Billing:** Same as Enrich Companies - charged per successful result via the `reveal_company` action, plus one charge per revealed field.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3CompaniesSearchAndEnrichRequest"
              },
              "example": {
                "companies": [
                  {
                    "clientReferenceId": "comp-ref-1",
                    "name": "Lusha"
                  },
                  {
                    "clientReferenceId": "comp-ref-2",
                    "domain": "salesforce.com"
                  },
                  {
                    "clientReferenceId": "comp-ref-3",
                    "domain": "4d.com"
                  }
                ],
                "reveal": [
                  "directParent",
                  "ultimateParent"
                ],
                "options": {
                  "includePartialProfiles": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3CompaniesSearchAndEnrichResponse"
                },
                "example": {
                  "requestId": "21fe0733-65d6-436a-8d0c-2c9ac6f263f8",
                  "results": [
                    {
                      "clientReferenceId": "comp-ref-1",
                      "id": "16303253",
                      "name": "Lusha",
                      "alternativeName": "lusha",
                      "domain": "www.lusha.com",
                      "alternativeDomains": [
                        "lusha.com"
                      ],
                      "description": "Lusha is the leader in Sales Streaming – a new sales paradigm that streams top leads straight to salespeople and handles all the outreach, so they can escape the lead grind and just sell.",
                      "companyType": "Private Company",
                      "yearFounded": 2016,
                      "employeeCount": {
                        "exact": 364,
                        "min": 201,
                        "max": 500
                      },
                      "industry": "Technology, Information & Media",
                      "subIndustry": "Software Development",
                      "specialities": [
                        "data accuracy",
                        "data enrichment",
                        "lead discovery",
                        "lead generation",
                        "prospecting",
                        "sales enablement",
                        "sales intelligence",
                        "software development"
                      ],
                      "sicCodes": [
                        {
                          "code": 7371,
                          "description": "Custom computer programming services"
                        }
                      ],
                      "naicsCodes": [
                        {
                          "code": 541511,
                          "description": "Custom Computer Programming Services"
                        }
                      ],
                      "location": {
                        "city": "Boston",
                        "state": "Massachusetts",
                        "country": "United States",
                        "countryIso2": "US",
                        "continent": "North America",
                        "zipCode": "02199"
                      },
                      "additionalLocations": [
                        {
                          "city": "New York City",
                          "state": "New York",
                          "country": "United States",
                          "countryIso2": "US",
                          "continent": "North America"
                        }
                      ],
                      "socialLinks": {
                        "linkedin": "https://www.linkedin.com/company/lushadata"
                      },
                      "linkedinFollowers": 64339,
                      "funding": {
                        "rounds": [
                          {
                            "currency": "USD",
                            "roundAmount": 205000000,
                            "roundType": "Private Equity Round",
                            "roundDate": "Nov 10, 2021"
                          },
                          {
                            "currency": "USD",
                            "roundAmount": 40000000,
                            "roundType": "Private Equity Round",
                            "roundDate": "Feb 10, 2021"
                          }
                        ],
                        "totalRounds": 2,
                        "totalRoundsAmount": 245000000,
                        "currency": "USD",
                        "isIpo": false,
                        "lastRoundType": "Private Equity Round",
                        "lastRoundAmount": 205000000,
                        "lastRoundDate": "Nov 10, 2021"
                      },
                      "technologies": [
                        "amazon",
                        "google analytics"
                      ],
                      "popularityTier": 1,
                      "logoUrl": "https://logo.lusha.co/brightdata/year=2024/month=05/day=03/j_lvq47h0g13te1b3wpu.e7b0795e7affc9953dadd43e6fce99a2c5260043.file_lvq4cfwv17kcb9m4ej.logo_cached.jpg",
                      "businessModel": [
                        "B2B"
                      ],
                      "emails": [
                        {
                          "email": "Support@Lusha.com"
                        }
                      ],
                      "keywords": [
                        "contact information",
                        "data accuracy",
                        "data enrichment",
                        "lead discovery",
                        "lead generation",
                        "prospecting",
                        "sales enablement",
                        "sales intelligence",
                        "software development"
                      ]
                    },
                    {
                      "clientReferenceId": "comp-ref-2",
                      "id": "12790225",
                      "name": "Salesforce",
                      "alternativeName": "salesforce",
                      "domain": "www.salesforce.com",
                      "alternativeDomains": [
                        "salesforce.com"
                      ],
                      "description": "We're the #1 AI CRM-where humans with agents drive customer success together with AI, data, and Customer 360 apps on one platform.",
                      "companyType": "Public Company",
                      "employeeCount": {
                        "exact": 88711,
                        "min": 100001,
                        "max": 10000000
                      },
                      "industry": "Technology, Information & Media",
                      "subIndustry": "Software Development",
                      "sicCodes": [
                        {
                          "code": 7371,
                          "description": "Custom computer programming services"
                        }
                      ],
                      "naicsCodes": [
                        {
                          "code": 541511,
                          "description": "Custom Computer Programming Services"
                        }
                      ],
                      "location": {
                        "city": "San Francisco",
                        "state": "California",
                        "country": "United States",
                        "countryIso2": "US",
                        "continent": "North America",
                        "zipCode": "94105"
                      },
                      "additionalLocations": [
                        {
                          "country": "United States",
                          "countryIso2": "US",
                          "continent": "North America"
                        },
                        {
                          "city": "Chicago",
                          "state": "Illinois",
                          "country": "United States",
                          "countryIso2": "US",
                          "continent": "North America"
                        },
                        {
                          "city": "London",
                          "country": "United Kingdom",
                          "countryIso2": "GB",
                          "continent": "Europe"
                        },
                        {
                          "city": "Tel Aviv",
                          "country": "Israel",
                          "countryIso2": "IL",
                          "continent": "Asia"
                        }
                      ],
                      "socialLinks": {
                        "linkedin": "https://www.linkedin.com/company/salesforce"
                      },
                      "linkedinFollowers": 6417067,
                      "revenueRange": {
                        "min": 10000000000,
                        "max": 100000000000
                      },
                      "intent": {
                        "detectedTopics": [
                          {
                            "topicName": "Cognism Limited",
                            "metadata": {
                              "topicScore": 85,
                              "topicTrend": "+24"
                            }
                          }
                        ],
                        "topicCount": 1
                      },
                      "technologies": [
                        "amazon",
                        "paypal",
                        "google analytics"
                      ],
                      "popularityTier": 1,
                      "logoUrl": "https://logo.lusha.co/brightdata/year=2024/month=05/day=20/j_lwej8xik12ncr6ge4u.9e1ec373903019beff129694cb926761f065e9af.file_lwejc8mispkz3m1ng.logo_cached.jpg",
                      "phones": [
                        {
                          "number": "+1 800-420-7332"
                        }
                      ],
                      "emails": [
                        {
                          "email": "datasubjectrequest@salesforce.com"
                        }
                      ],
                      "directParent": null,
                      "ultimateParent": null
                    },
                    {
                      "clientReferenceId": "comp-ref-3",
                      "id": "18654301",
                      "name": "4D",
                      "domain": "4d.com",
                      "companyType": "Subsidiary",
                      "directParent": {
                        "lushaCompanyId": "v1.XyZw...",
                        "name": "Volaris Group",
                        "domain": "volarisgroup.com"
                      },
                      "ultimateParent": {
                        "lushaCompanyId": "v1.QrSt...",
                        "name": "Constellation Software Inc.",
                        "domain": "csisoftware.com",
                        "hqCountry": "Canada"
                      }
                    }
                  ],
                  "billing": {
                    "creditsCharged": 5,
                    "resultsReturned": 3
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/contacts/prospecting": {
      "post": {
        "tags": [
          "Prospecting"
        ],
        "summary": "Prospecting Contacts",
        "operationId": "prospectingContacts",
        "description": "Search for contacts that match your Ideal Customer Profile using rich filter criteria.\n\n**Filter by contact attributes:**\n- Job title, seniority, department\n- Location (city, state, country, continent)\n- Existing data points (e.g. only contacts with a known work email)\n- Signal activity (promotion, job change)\n\n**Filter by company attributes:**\n- Size, revenue, industry, technologies\n- Location, intent topics, funding\n\nUse `options.maxContactsPerCompany` (1–20) to cap how many contacts are returned per company; `pagination.size` still controls the page size. \n\nUse the returned contact `id` values with Enrich Contacts to reveal emails and phones.\n\n> **Billing:** Charged per result via `api_search`. If signals are requested, an additional charge applies per matched signal per result.\n\n> **Persisting to a table:** Pass `tableId` to also persist matching results into an existing table. This is additive - the primary response is unchanged, and a `tableWrite` object is added showing what happened on the table side. See [Contacts Tables](#tag/Contacts-Tables).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3ProspectingContactsRequest"
              },
              "example": {
                "pagination": {
                  "page": 0,
                  "size": 100
                },
                "filters": {
                  "contacts": {
                    "include": {
                      "departments": [
                        "Sales"
                      ],
                      "locations": [
                        {
                          "country": "United States"
                        }
                      ],
                      "existingDataPoints": [
                        "work_email"
                      ]
                    }
                  },
                  "companies": {
                    "include": {
                      "locations": [
                        {
                          "country": "United States"
                        }
                      ],
                      "foundedYear": [
                        {
                          "min": 2000
                        }
                      ],
                      "businessModel": [
                        "B2B"
                      ],
                      "companyType": [
                        "Public Company"
                      ],
                      "linkedinUrls": [
                        "https://www.linkedin.com/company/google"
                      ],
                      "keywords": [
                        "fintech"
                      ]
                    },
                    "exclude": {
                      "domains": [
                        "competitor.com"
                      ],
                      "companyType": [
                        "Self Employed"
                      ]
                    }
                  }
                },
                "tableId": "482910",
                "options": {
                  "includePartialProfiles": true,
                  "excludeDnc": false,
                  "maxContactsPerCompany": 2
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3ProspectingContactsResponse"
                },
                "example": {
                  "requestId": "fa828378-7a8e-4e5d-9f72-0270e7f7ab51",
                  "pagination": {
                    "page": 0,
                    "size": 50,
                    "total": 670550,
                    "totalGuaranteed": true,
                    "totalDescription": "Exact contact count (up to 2 per company)"
                  },
                  "results": [
                    {
                      "id": "670138733",
                      "firstName": "Ting",
                      "lastName": "Tsou"
                    }
                  ],
                  "tableWrite": {
                    "tableId": "482910",
                    "added": 48,
                    "alreadyPresent": 2,
                    "columnsCreated": [],
                    "rowsProcessed": 50,
                    "rowsCharged": 48,
                    "rowsAlreadyPaidInTable": 2
                  },
                  "billing": {
                    "creditsCharged": 2,
                    "resultsReturned": 50
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/companies/prospecting": {
      "post": {
        "tags": [
          "Prospecting"
        ],
        "summary": "Prospecting Companies",
        "operationId": "prospectingCompanies",
        "description": "Search for companies that match your target market using rich filter criteria.\n\n**Filter by:**\n- Size, revenue range, industry, sub-industry\n- Technologies in use\n- Locations (HQ country, state, city)\n- SIC and NAICS codes\n- Buyer intent topics\n- Signal activity (headcount changes, hiring surges, news events, LinkedIn activity intent)\n\nUse the returned company `id` values with Enrich Companies to get full firmographic data.\n\n> **Billing:** Charged per result via `api_search`. If signals are requested, an additional charge applies per matched signal per result.\n\n> **Persisting to a table:** Pass `tableId` to also persist matching results into an existing table. This is additive - the primary response is unchanged, and a `tableWrite` object is added showing what happened on the table side. See [Companies Tables](#tag/Companies-Tables).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3ProspectingCompaniesRequest"
              },
              "example": {
                "pagination": {
                  "page": 0,
                  "size": 25
                },
                "filters": {
                  "companies": {
                    "include": {
                      "sizes": [
                        {
                          "min": 1,
                          "max": 1000
                        }
                      ],
                      "revenues": [
                        {
                          "min": 10000000
                        }
                      ],
                      "locations": [
                        {
                          "country": "United States"
                        }
                      ],
                      "technologies": [
                        "React",
                        "Node.js"
                      ],
                      "technologiesCondition": "or",
                      "mainIndustriesIds": [
                        1,
                        5
                      ],
                      "intentTopics": [
                        "Cloud Migration"
                      ],
                      "foundedYear": [
                        {
                          "min": 1990,
                          "max": 2020
                        }
                      ],
                      "businessModel": [
                        "B2B",
                        "B2G"
                      ],
                      "companyType": [
                        "Public Company",
                        "Private Company"
                      ],
                      "linkedinUrls": [
                        "https://www.linkedin.com/company/microsoft"
                      ],
                      "keywords": [
                        "cloud",
                        "artificial intelligence"
                      ],
                      "signals": {
                        "types": [
                          "headcountIncrease3m",
                          "surgeInHiring"
                        ],
                        "startDate": "2025-01-01"
                      }
                    },
                    "exclude": {
                      "domains": [
                        "competitor.com"
                      ],
                      "businessModel": [
                        "B2C"
                      ],
                      "companyType": [
                        "Non Profit"
                      ],
                      "keywords": [
                        "staffing"
                      ]
                    }
                  }
                },
                "tableId": "583021",
                "options": {
                  "includePartialProfiles": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3ProspectingCompaniesResponse"
                },
                "example": {
                  "requestId": "f6a7b8c9-d0e1-2345-fabc-678901234567",
                  "results": [
                    {
                      "id": "16303253",
                      "name": "Lusha",
                      "domain": "lusha.com"
                    }
                  ],
                  "pagination": {
                    "page": 0,
                    "size": 25,
                    "total": 87
                  },
                  "tableWrite": {
                    "tableId": "583021",
                    "added": 1,
                    "alreadyPresent": 0,
                    "columnsCreated": [],
                    "rowsProcessed": 1,
                    "rowsCharged": 1,
                    "rowsAlreadyPaidInTable": 0
                  },
                  "billing": {
                    "creditsCharged": 1,
                    "resultsReturned": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v3/contacts/lookalike": {
      "post": {
        "tags": [
          "Lookalikes"
        ],
        "summary": "Contact Lookalikes",
        "operationId": "getContactLookalikes",
        "description": "Find contacts similar to a set of seed contacts using AI-powered recommendations.\n\nProvide seed contacts via LinkedIn URLs, emails, Lusha IDs, or name + company. The API returns contacts who share similar roles, seniority, and company profiles.\n\n> **Required: 5–100 seeds.** `seeds` must contain **at least 5** and **at most 100** contacts in total, counted across *all* identifier types combined (`linkedinUrls` + `emails` + `ids` + `contactIds` + `contacts`). A request with fewer than 5 total seeds is rejected with `400`. Fewer than 5 seeds does not give the model enough signal to produce useful lookalikes.\n\n**Pagination without duplicates:**\nOn your first request, omit `dedupeSessionId` - the server generates one and returns it. Pass it on every subsequent request to get more results without repeating contacts already seen. Sessions are retained for 30 days.\n\nUse the `exclude` field to always filter out specific contacts (e.g. existing customers).\n\nResults are lightweight previews. Use Enrich Contacts with the returned `id` to get emails and phones.\n\n> **Billing:** Charged per result via the `lookalikeContact` action.\n\n> **Persisting to a table:** Pass `tableId` to also persist matching results into an existing table. See [Contacts Tables](#tag/Contacts-Tables).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactLookalikesRequest"
              },
              "examples": {
                "firstRequest": {
                  "summary": "First request - 6 seeds across three identifier types (server generates dedupeSessionId)",
                  "value": {
                    "seeds": {
                      "linkedinUrls": [
                        "https://www.linkedin.com/in/orit-shilvock-6243bb5",
                        "https://www.linkedin.com/in/shmulikwillinger"
                      ],
                      "emails": [
                        "gal.ashkelon@lusha.com",
                        "miri.tamir@lusha.com"
                      ],
                      "ids": [
                        "1234",
                        "4567"
                      ]
                    },
                    "exclude": {
                      "emails": [
                        "existing@customer.com"
                      ]
                    },
                    "limit": 25
                  }
                },
                "secondRequest": {
                  "summary": "Second request - same 6 seeds, paginating with dedupeSessionId",
                  "value": {
                    "dedupeSessionId": "58adaa77-7a6e-4c9b-8c2d-820a6538e613",
                    "seeds": {
                      "linkedinUrls": [
                        "https://www.linkedin.com/in/orit-shilvock-6243bb5",
                        "https://www.linkedin.com/in/shmulikwillinger"
                      ],
                      "emails": [
                        "gal.ashkelon@lusha.com",
                        "miri.tamir@lusha.com"
                      ],
                      "ids": [
                        "1234",
                        "4567"
                      ]
                    },
                    "limit": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved contact lookalikes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactLookalikesResponse"
                },
                "example": {
                  "dedupeSessionId": "58adaa77-7a6e-4c9b-8c2d-820a6538e613",
                  "results": [
                    {
                      "id": "9659196",
                      "firstName": "Sarah",
                      "lastName": "Johnson"
                    }
                  ],
                  "meta": {
                    "returned": 1,
                    "hasMore": true
                  },
                  "billing": {
                    "creditsCharged": 3,
                    "resultsReturned": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "410": {
            "description": "dedupeSessionId is invalid or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedupeSessionInvalidError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v3/companies/lookalike": {
      "post": {
        "tags": [
          "Lookalikes"
        ],
        "summary": "Company Lookalikes",
        "operationId": "getCompanyLookalikes",
        "description": "Find companies similar to a set of seed companies using AI-powered recommendations.\n\nProvide seed companies via domains or LinkedIn URLs. The API returns companies with similar size, industry, and profile.\n\n> **Required: 5–100 seeds.** `seeds` must contain **at least 5** and **at most 100** companies in total, counted across *all* identifier types combined (`domains` + `linkedinUrls`). A request with fewer than 5 total seeds is rejected with `400`.\n\n**Pagination without duplicates:**\nOn your first request, omit `dedupeSessionId` - the server generates one and returns it. Pass it on every subsequent request to get more results without repeating companies already seen. Sessions are retained for 30 days.\n\nUse the `exclude` field to always filter out specific companies (e.g. existing customers or competitors).\n\nResults are lightweight previews. Use Enrich Companies with the returned `id` to get full firmographic data.\n\n> **Billing:** Charged per result via the `lookalikeCompany` action.\n\n> **Persisting to a table:** Pass `tableId` to also persist matching results into an existing table. See [Companies Tables](#tag/Companies-Tables).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyLookalikesRequest"
              },
              "examples": {
                "firstRequest": {
                  "summary": "First request - 6 seeds across both identifier types (server generates dedupeSessionId)",
                  "value": {
                    "seeds": {
                      "domains": [
                        "sap.com",
                        "oracle.com",
                        "workday.com",
                        "servicenow.com"
                      ],
                      "linkedinUrls": [
                        "https://www.linkedin.com/company/google",
                        "https://www.linkedin.com/company/microsoft"
                      ]
                    },
                    "exclude": {
                      "domains": [
                        "existingcustomer.com"
                      ]
                    },
                    "limit": 100
                  }
                },
                "secondRequest": {
                  "summary": "Second request - same 6 seeds, paginating with dedupeSessionId",
                  "value": {
                    "dedupeSessionId": "58adaa77-7a6e-4c9b-8c2d-820a6538e613",
                    "seeds": {
                      "domains": [
                        "sap.com",
                        "oracle.com",
                        "workday.com",
                        "servicenow.com"
                      ],
                      "linkedinUrls": [
                        "https://www.linkedin.com/company/google",
                        "https://www.linkedin.com/company/microsoft"
                      ]
                    },
                    "limit": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved company lookalikes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyLookalikesResponse"
                },
                "example": {
                  "dedupeSessionId": "58adaa77-7a6e-4c9b-8c2d-820a6538e613",
                  "results": [
                    {
                      "id": "12345",
                      "name": "Marriott International",
                      "domain": "marriott.com"
                    }
                  ],
                  "meta": {
                    "returned": 1,
                    "hasMore": true
                  },
                  "billing": {
                    "creditsCharged": 3,
                    "resultsReturned": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "Insufficient credits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "410": {
            "description": "dedupeSessionId is invalid or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v3/contacts/buying-group": {
      "post": {
        "tags": [
          "Buying Group"
        ],
        "summary": "Get Buying Group Contacts",
        "operationId": "getContactsBuyingGroup",
        "description": "Identify the buying group within a set of target companies. Supply companies by `domain` or Lusha company `id` - the model scores and labels each returned contact with a persona role.\n\n**Personas:**\n- `decision_maker` - has budget or sign-off authority\n- `potential_champion` - likely internal advocate for the purchase\n- `end_user` - likely day-to-day user of the product\n\nPass `personas` to filter to specific roles, or omit it to get all three. Use `contactsLimit` to cap how many contacts are returned per company (default 60).\n\nResults are lightweight previews grouped by company. Each contact includes a `has` field listing available data points, a `canReveal` field showing what can be unlocked via Enrich, a `roles` array with the assigned persona(s), and a `score` (0-1) reflecting relevance to the assigned role.\n\nUse Enrich Contacts with the returned contact `id` to reveal emails and phones.\n\n> **Billing:** Charged per contact returned via the `buyingGroupContact` action.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V3BuyingGroupRequest"
              },
              "example": {
                "companies": [
                  {
                    "clientReferenceId": "comp-ref-1",
                    "domain": "acme.com"
                  },
                  {
                    "clientReferenceId": "comp-ref-2",
                    "id": "v1.AbCdEfGhIjKlMnOpQrStUvWxYz012345"
                  }
                ],
                "personas": [
                  "decision_maker",
                  "potential_champion"
                ],
                "contactsLimit": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V3BuyingGroupResponse"
                },
                "example": {
                  "requestId": "951d46da-24f9-4608-84bf-5e70a10bf851",
                  "results": [
                    {
                      "companyId": "v1.ocoj3UrkPqHcR8yAEosYFTuVXTH282LP",
                      "contacts": [
                        {
                          "id": "v1.VdKU4HkaDb7CE4CEImoUcm7bxUGUUz-aOQ",
                          "firstName": "Mohammed",
                          "lastName": "Alam",
                          "jobTitle": {
                            "title": "RF/Analog IC Design Engineer",
                            "departments": [
                              "Engineering & Technical"
                            ],
                            "seniority": "Non-Manager"
                          },
                          "company": {
                            "id": "v1.ocoj3UrkPqHcR8yAEosYFTuVXTH282LP",
                            "name": "Intel",
                            "domain": "www.intel.com"
                          },
                          "location": {
                            "country": "United States",
                            "state": "Arizona",
                            "city": "Chandler"
                          },
                          "socialLinks": {
                            "linkedin": "https://www.linkedin.com/in/mohammed-alam-83759111"
                          },
                          "has": [
                            "firstName",
                            "lastName",
                            "jobTitle",
                            "company",
                            "location",
                            "socialLinks",
                            "phones",
                            "previousEmployment",
                            "jobStartDate"
                          ],
                          "canReveal": [
                            {
                              "field": "phones",
                              "credits": 5
                            }
                          ],
                          "roles": [
                            "potential_champion"
                          ],
[...]
