{
  "openapi": "3.0.0",
  "info": {
    "title": "Zuplo Developer API",
    "version": "1.0.0",
    "termsOfService": "https://zuplo.com/legal/terms",
    "contact": {
      "name": "Zuplo",
      "url": "https://zuplo.com/",
      "email": "support@zuplo.com"
    },
    "description": "Manage Zuplo accounts, projects, deployments, API Key Service resources, metering, and analytics. Authenticate with a scoped Zuplo account API key in the `Authorization: Bearer <key>` header. Create account API keys in [Account Settings](https://portal.zuplo.com/+/account/settings/api-keys). Zuplo account API keys are distinct from the consumer credentials issued through the Zuplo API Key Service. Create a separate account API key for each agent or automation, and restrict it to only the projects, environments, project permissions, and account permissions that task requires.",
    "x-jentic-source-url": "https://zuplo.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://developer-api-main-8600723.self.zuplo.com"
    }
  ],
  "paths": {
    "/mcp": {
      "post": {
        "operationId": "developerApiMcpServer",
        "summary": "Zuplo Platform MCP Server",
        "description": "Exposes the public Zuplo Developer API operations as MCP tools.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "tags": [
          "MCP Servers"
        ],
        "x-mcp-server": {
          "name": "com.zuplo/platform",
          "version": "1.0.0"
        }
      }
    },
    "/mcp/docs": {
      "post": {
        "operationId": "docsMcpPost",
        "summary": "Docs MCP Server",
        "description": "Public Streamable HTTP MCP server for Zuplo documentation tools and stable agent resources.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "tags": [
          "MCP Servers"
        ],
        "security": [
          {}
        ],
        "x-mcp-server": {
          "name": "com.zuplo/docs",
          "version": "1.0.0",
          "tools": [
            {
              "name": "search-zuplo-docs",
              "description": "Use this tool to do a semantic search for reference content related to Zuplo. The results provided will be extracts from documentation sites and other public sources like GitHub. The content may not fully answer your question -- be circumspect when reviewing and interpreting these extracts before using them in your response."
            },
            {
              "name": "ask-question-about-zuplo",
              "description": "Use this tool to ask a question about Zuplo to an AI Support Agent that is knowledgeable about Zuplo. Use this tool to ask specific troubleshooting, feature capability, or conceptual questions. Be specific and provide the minimum context needed to address your question in full"
            }
          ]
        }
      },
      "get": {
        "operationId": "docsMcpGet",
        "summary": "Docs MCP Server stream",
        "description": "Returns HTTP 405 because this stateless MCP server does not offer a standalone server-sent event stream.",
        "parameters": [],
        "responses": {
          "405": {
            "description": "Client error",
            "headers": {
              "Allow": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "POST"
                  ]
                }
              }
            },
            "content": {
              "text/plain; charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "MCP Servers"
        ],
        "security": [
          {}
        ]
      },
      "delete": {
        "operationId": "docsMcpDelete",
        "summary": "Docs MCP Server session termination",
        "description": "Returns HTTP 405 because this MCP server is stateless and does not create protocol sessions.",
        "parameters": [],
        "responses": {
          "405": {
            "description": "Client error",
            "headers": {
              "Allow": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "POST"
                  ]
                }
              }
            },
            "content": {
              "text/plain; charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "MCP Servers"
        ],
        "security": [
          {}
        ]
      }
    },
    "/mcp/docs/server-card": {
      "get": {
        "operationId": "docsMcpServerCard",
        "summary": "Docs MCP Server Card",
        "description": "Experimental MCP Server Card describing the public Docs MCP endpoint and its supported protocol versions.",
        "parameters": [
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "Content-Type, If-None-Match"
                  ]
                }
              },
              "Access-Control-Allow-Methods": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "GET"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              },
              "Access-Control-Expose-Headers": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "ETag"
                  ]
                }
              },
              "Cache-Control": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "public, max-age=3600"
                  ]
                }
              },
              "ETag": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/mcp-server-card+json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.MCP.McpServerCardDocument"
                }
              }
            }
          },
          "304": {
            "description": "The client has made a conditional request and the resource has not been modified.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "Content-Type, If-None-Match"
                  ]
                }
              },
              "Access-Control-Allow-Methods": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "GET"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              },
              "Access-Control-Expose-Headers": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "ETag"
                  ]
                }
              },
              "Cache-Control": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "public, max-age=3600"
                  ]
                }
              },
              "ETag": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "MCP Servers"
        ],
        "security": [
          {}
        ]
      }
    },
    "/mcp/server-card": {
      "get": {
        "operationId": "platformMcpServerCard",
        "summary": "Platform MCP Server Card",
        "description": "Experimental MCP Server Card describing the authenticated Zuplo Platform MCP endpoint.",
        "parameters": [
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "Content-Type, If-None-Match"
                  ]
                }
              },
              "Access-Control-Allow-Methods": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "GET"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              },
              "Access-Control-Expose-Headers": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "ETag"
                  ]
                }
              },
              "Cache-Control": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "public, max-age=3600"
                  ]
                }
              },
              "ETag": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/mcp-server-card+json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.MCP.McpServerCardDocument"
                }
              }
            }
          },
          "304": {
            "description": "The client has made a conditional request and the resource has not been modified.",
            "headers": {
              "Access-Control-Allow-Headers": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "Content-Type, If-None-Match"
                  ]
                }
              },
              "Access-Control-Allow-Methods": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "GET"
                  ]
                }
              },
              "Access-Control-Allow-Origin": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "*"
                  ]
                }
              },
              "Access-Control-Expose-Headers": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "ETag"
                  ]
                }
              },
              "Cache-Control": {
                "required": true,
                "schema": {
                  "type": "string",
                  "enum": [
                    "public, max-age=3600"
                  ]
                }
              },
              "ETag": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "MCP Servers"
        ],
        "security": [
          {}
        ]
      }
    },
    "/openapi": {
      "get": {
        "operationId": "openApi",
        "summary": "OpenAPI Specification",
        "description": "Returns the OpenAPI V3 spec for Zuplo's Developer API",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.OpenApiRoute.ApiSpec"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/accounts": {
      "get": {
        "operationId": "AccountService_list",
        "summary": "Lists accounts",
        "description": "Lists the accounts for the user or api key.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.Accounts.AccountsList"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountName}/audit-logs": {
      "get": {
        "operationId": "AuditLogsService_list",
        "summary": "Query audit logs",
        "description": "Retrieves audit logs with optional filtering and pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.AuditLogs.AuditLogsQuery.limit"
          },
          {
            "$ref": "#/components/parameters/Zuplo.AuditLogs.AuditLogsQuery.offset"
          },
          {
            "$ref": "#/components/parameters/Zuplo.AuditLogs.AuditLogsQuery.action"
          },
          {
            "$ref": "#/components/parameters/Zuplo.AuditLogs.AuditLogsQuery.startDate"
          },
          {
            "$ref": "#/components/parameters/Zuplo.AuditLogs.AuditLogsQuery.endDate"
          },
          {
            "$ref": "#/components/parameters/Zuplo.AuditLogs.AuditLogsQuery.actor"
          },
          {
            "$ref": "#/components/parameters/Zuplo.AuditLogs.AuditLogsQuery.success"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.AuditLogs.AuditLogsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Audit Logs"
        ]
      }
    },
    "/v1/accounts/{accountName}/client-mtls-ca-certificates": {
      "post": {
        "operationId": "ClientMtlsCaCertificatesService_create",
        "summary": "Create Client mTLS CA Certificate",
        "description": "Creates a client mTLS CA certificate for an account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          }
        ],
        "responses": {
          "201": {
            "description": "The request has succeeded and a new resource has been created as a result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ClientMtlsCaCertificates.ClientMtlsCaCertificate"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Client mTLS CA Certificates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.ClientMtlsCaCertificates.ClientMtlsCaCertificateCreateBody"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "ClientMtlsCaCertificatesService_list",
        "summary": "List Client mTLS CA Certificates",
        "description": "Lists client mTLS CA certificates for an account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ClientMtlsCaCertificates.ClientMtlsCaCertificateListResponse"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Client mTLS CA Certificates"
        ]
      }
    },
    "/v1/accounts/{accountName}/client-mtls-ca-certificates/{id}": {
      "patch": {
        "operationId": "ClientMtlsCaCertificatesService_update",
        "summary": "Update Client mTLS CA Certificate",
        "description": "Updates a client mTLS CA certificate.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ClientMtlsCaCertificates.ClientMtlsCaCertificateParams"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ClientMtlsCaCertificates.ClientMtlsCaCertificate"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Client mTLS CA Certificates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.ClientMtlsCaCertificates.ClientMtlsCaCertificateUpdateBody"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "ClientMtlsCaCertificatesService_delete",
        "summary": "Delete Client mTLS CA Certificate",
        "description": "Deletes a client mTLS CA certificate.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ClientMtlsCaCertificates.ClientMtlsCaCertificateParams"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Client mTLS CA Certificates"
        ]
      }
    },
    "/v1/accounts/{accountName}/custom-domains": {
      "get": {
        "operationId": "CustomDomainsService_list",
        "summary": "Get Custom Domains",
        "description": "Gets the account custom domains",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.CustomDomains.CustomDomainsList"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Custom Domains"
        ]
      },
      "post": {
        "operationId": "CustomDomainsService_create",
        "summary": "Create Custom Domain",
        "description": "Creates a custom domain",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.CustomDomains.CustomDomainMutationResult"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Custom Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.CustomDomains.CustomDomainCreateBody"
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "CustomDomainsService_update",
        "summary": "Update a Custom Domain",
        "description": "Updates a custom domain",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.CustomDomains.CustomDomainMutationResult"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Custom Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.CustomDomains.CustomDomainUpdateBody"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "CustomDomainsService_delete",
        "summary": "Delete a Custom Domain",
        "description": "Delete a custom domain",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.CustomDomains.CustomDomainDeleteQuery.hostname"
          },
          {
            "$ref": "#/components/parameters/Zuplo.CustomDomains.CustomDomainDeleteQuery.deploymentName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Custom Domains"
        ]
      }
    },
    "/v1/accounts/{accountName}/key-buckets": {
      "get": {
        "operationId": "ApiKeyBucketsService_list",
        "summary": "Lists buckets",
        "description": "Lists all buckets belonging to this account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.Buckets"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Buckets"
        ]
      },
      "post": {
        "operationId": "ApiKeyBucketsService_create",
        "summary": "Creates a bucket",
        "description": "Creates a new bucket for this account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.Bucket"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Buckets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.ApiKeys.BucketCreateBody"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountName}/key-buckets/{bucketName}": {
      "get": {
        "operationId": "ApiKeyBucketsService_read",
        "summary": "Gets a bucket",
        "description": "Returns the details for a bucket, including the token used to connect to the bucket.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.Bucket"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Buckets"
        ]
      },
      "patch": {
        "operationId": "ApiKeyBucketsService_update",
        "summary": "Updates a bucket",
        "description": "Updates a bucket, and returns the updated value.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.Bucket"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Buckets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.ApiKeys.BucketUpdateBody"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "ApiKeyBucketsService_delete",
        "summary": "Deletes a bucket",
        "description": "Deletes a bucket and any related resources",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Buckets"
        ]
      }
    },
    "/v1/accounts/{accountName}/key-buckets/{bucketName}/consumers": {
      "get": {
        "operationId": "ApiKeyConsumersService_list",
        "summary": "Lists consumers",
        "description": "Lists all consumers belonging to this account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "The maximum number of entries to return. If the value exceeds the maximum, then the maximum value will be used. Default: 1000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "explode": false
          },
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "description": "The offset of the first item returned in the collection. Default: 0",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "explode": false
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.IncludeApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.IncludeManagerInvitesParam"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.IncludeManagerParam"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.KeyFormatQueryParam"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ManagerEmailQueryParam"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.TagQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.Consumers"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Consumers"
        ]
      },
      "post": {
        "operationId": "ApiKeyConsumersService_create",
        "summary": "Creates a consumer",
        "description": "Creates a new consumer for this account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.WithApiKeyQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.Consumer"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Consumers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.ApiKeys.ConsumerCreateBody"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountName}/key-buckets/{bucketName}/consumers/{consumerName}": {
      "get": {
        "operationId": "ApiKeyConsumersService_read",
        "summary": "Gets a consumer",
        "description": "Gets a consumer given a bucket name and the consumer's name or ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.IncludeApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.KeyFormatQueryParam"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.IncludeManagerParam"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.IncludeManagerInvitesParam"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.TagQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.Consumer"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Consumers"
        ]
      },
      "patch": {
        "operationId": "ApiKeyConsumersService_update",
        "summary": "Updates a consumer",
        "description": "Update the consumer with the matching consumer name or ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.TagQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.Consumer"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Consumers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.ApiKeys.ConsumerUpdateBody"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "ApiKeyConsumersService_delete",
        "summary": "Deletes a consumer",
        "description": "Deletes the consumer with the matching name or ID, and any related resources.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.TagQueryParam"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Consumers"
        ]
      }
    },
    "/v1/accounts/{accountName}/key-buckets/{bucketName}/consumers/{consumerName}/keys": {
      "get": {
        "operationId": "ApiKeyKeysService_list",
        "summary": "Lists keys",
        "description": "Lists all keys for this consumer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "The maximum number of entries to return. If the value exceeds the maximum, then the maximum value will be used. Default: 1000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "explode": false
          },
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "description": "The offset of the first item returned in the collection. Default: 0",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "explode": false
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.KeyFormatQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.ApiKeys"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Keys"
        ]
      },
      "post": {
        "operationId": "ApiKeyKeysService_create",
        "summary": "Creates an API key",
        "description": "Creates a new API key for this consumer. New API keys will automatically have [API Key Leak Detection](https://zuplo.com/docs/articles/api-key-leak-detection) enabled.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.ApiKey"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.ApiKeys.ApiKeyCreateOrUpdateBody"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountName}/key-buckets/{bucketName}/consumers/{consumerName}/keys/$bulk": {
      "post": {
        "operationId": "ApiKeyKeysService_bulkCreate",
        "summary": "Creates multiple API keys",
        "description": "Creates multiple new API keys for this consumer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.ApiKeys"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyBulkCreateOrUpdateBody"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountName}/key-buckets/{bucketName}/consumers/{consumerName}/keys/{keyId}": {
      "get": {
        "operationId": "ApiKeyKeysService_get",
        "summary": "Gets an API key",
        "description": "Retrieves an API key for this consumer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ApiKeyParams.keyId"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.KeyFormatQueryParam"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.TagQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.ApiKey"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Keys"
        ]
      },
      "patch": {
        "operationId": "ApiKeyKeysService_update",
        "summary": "Updates an API key",
        "description": "Updates an API key for this consumer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ApiKeyParams.keyId"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.TagQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.ApiKey"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.ApiKeys.ApiKeyCreateOrUpdateBody"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "ApiKeyKeysService_delete",
        "summary": "Deletes an API key",
        "description": "Deletes an API key for this consumer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ApiKeyParams.keyId"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.TagQueryParam"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Keys"
        ]
      }
    },
    "/v1/accounts/{accountName}/key-buckets/{bucketName}/consumers/{consumerName}/managers": {
      "get": {
        "operationId": "ApiKeyConsumerManagers_list",
        "summary": "Lists managers",
        "description": "Lists all managers belonging to a consumer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "The maximum number of entries to return. If the value exceeds the maximum, then the maximum value will be used. Default: 1000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "explode": false
          },
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "description": "The offset of the first item returned in the collection. Default: 0",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.Managers"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Managers"
        ]
      },
      "post": {
        "operationId": "ApiKeyConsumerManagers_create",
        "summary": "Creates a manager",
        "description": "Creates a new manager for a consumer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.ApiKeys.Manager"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Managers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.ApiKeys.ManagerCreateBody"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountName}/key-buckets/{bucketName}/consumers/{consumerName}/managers/{managerId}": {
      "delete": {
        "operationId": "ApiKeyConsumerManagers_delete",
        "summary": "Deletes a manager",
        "description": "Deletes a manager record",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ManagerParams.managerId"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Managers"
        ]
      }
    },
    "/v1/accounts/{accountName}/key-buckets/{bucketName}/consumers/{consumerName}/roll-key": {
      "post": {
        "operationId": "ApiKeyConsumersService_rollKey",
        "summary": "Roll consumer keys",
        "description": "Sets an expiration date on keys that have none and creates a new key for the consumer with the matching name or ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.BucketParams.bucketName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.ConsumerParams.consumerName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.ApiKeys.TagQueryParam"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitWithRetryAfter"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys - Consumers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.Common.ExpiresOnField"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountName}/projects/{projectName}/branches/{branchName}/variables": {
      "post": {
        "operationId": "VariablesService_create",
        "summary": "Creates a variable",
        "description": "Creates a new environment variable in a branch for a given project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountProjectParams.projectName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.Common.BranchParams"
          }
        ],
        "responses": {
          "201": {
            "description": "The request has succeeded and a new resource has been created as a result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.Variables.Variable"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Variables"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.Variables.VariableCreateBody"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountName}/projects/{projectName}/branches/{branchName}/variables/{variableName}": {
      "patch": {
        "operationId": "VariablesService_update",
        "summary": "Updates a variable",
        "description": "Update the value of a variable in a branch for a given project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountProjectParams.projectName"
          },
          {
            "$ref": "#/components/parameters/Zuplo.Common.BranchParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.Common.VariableParams"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.Variables.Variable"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Variables"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.Variables.VariableUpdateBody"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountName}/projects/{projectName}/deployment-status/{statusId}": {
      "get": {
        "operationId": "V1_deploymentStatus",
        "summary": "Gets a deployment status",
        "description": "Gets the deployment status of your upload. Use the UUID of the uploaded sources as the `statusId`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountProjectParams.projectName"
          },
          {
            "name": "statusId",
            "in": "path",
            "required": true,
            "description": "The UUID of the uploaded sources.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.DeploymentStatus.DeploymentStatus"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.NotFoundProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Deployments"
        ]
      }
    },
    "/v1/accounts/{accountName}/projects/{projectName}/deployments": {
      "get": {
        "operationId": "DeploymentsService_list",
        "summary": "Lists deployments",
        "description": "Lists the deployments for the specified account and project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountProjectParams.projectName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.Deployments.DeploymentsList"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Deployments"
        ]
      }
    },
    "/v1/accounts/{accountName}/tunnels": {
      "get": {
        "operationId": "TunnelService_list",
        "summary": "Lists tunnels",
        "description": "Lists all tunnels belonging to this account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.Tunnels.TunnelList"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Tunnels"
        ]
      },
      "post": {
        "operationId": "TunnelService_create",
        "summary": "Creates a tunnel",
        "description": "Creates a new tunnel for this account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          }
        ],
        "responses": {
          "201": {
            "description": "The request has succeeded and a new resource has been created as a result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.Tunnels.Tunnel"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.BadRequestProblemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Access is unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.UnauthorizedProblemResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.HttpProblemDetails.InternalServerErrorProblemResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Tunnels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Zuplo.Tunnels.Tunnel"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountName}/tunnels/{tunnelId}": {
      "get": {
        "operationId": "TunnelService_read",
        "summary": "Gets a tunnel",
        "description": "Returns the details for a tunnel, including the token used to connect to the tunnel.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Zuplo.Common.AccountParams"
          },
          {
            "$ref": "#/components/parameters/Zuplo.Tunnels.TunnelIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zuplo.Tunnels.Tunnel"
                }
              }
            }
          },
          "400": {
            "description": "The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
[...]
