{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "help@smartkasa.ua",
      "name": "SmartKasa Support",
      "url": "https://smartkasa.ua/"
    },
    "description": "RESTful json API",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://smartkasa.ua/",
    "title": "SmartKasa API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/smartkasa/open-api_specification/1.0.0"
  },
  "servers": [
    {
      "url": "https://apidev.smartcasa.com.ua/"
    }
  ],
  "paths": {
    "/api/v1/assets/endpoints": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "fields": {
                          "Content-Disposition": "inline; filename=\"test.png\"",
                          "Content-Type": "image/png",
                          "Expires": "Wed, 11 Mar 2026 20:12:56 GMT",
                          "key": "uploads/cache/5daab619-8a09-4e24-a635-4e756c529493/778caf7d8d81a7ff8041003ef01afe00a85750d15086a3cb267fd8d23d8dd285.png",
                          "policy": "eyJleHBpcmF0aW9uIjoiMjAyNi0wMy0xMVQyMTowNzo1NloiLCJjb25kaXRpb25zIjpbeyJidWNrZXQiOiJ0ZXN0In0seyJrZXkiOiJ1cGxvYWRzL2NhY2hlLzVkYWFiNjE5LThhMDktNGUyNC1hNjM1LTRlNzU2YzUyOTQ5My83NzhjYWY3ZDhkODFhN2ZmODA0MTAwM2VmMDFhZmUwMGE4NTc1MGQxNTA4NmEzY2IyNjdmZDhkMjNkOGRkMjg1LnBuZyJ9LHsiRXhwaXJlcyI6IldlZCwgMTEgTWFyIDIwMjYgMjA6MTI6NTYgR01UIn0seyJzdWNjZXNzX2FjdGlvbl9zdGF0dXMiOiIyMDEifSx7IkNvbnRlbnQtRGlzcG9zaXRpb24iOiJpbmxpbmU7IGZpbGVuYW1lPVwidGVzdC5wbmdcIiJ9LHsiQ29udGVudC1UeXBlIjoiaW1hZ2UvcG5nIn0sWyJjb250ZW50LWxlbmd0aC1yYW5nZSIsMCw1MjQyODgwMF0seyJ4LWFtei1jcmVkZW50aWFsIjoidGVzdC8yMDI2MDMxMS9ldS1jZW50cmFsLTEvczMvYXdzNF9yZXF1ZXN0In0seyJ4LWFtei1hbGdvcml0aG0iOiJBV1M0LUhNQUMtU0hBMjU2In0seyJ4LWFtei1kYXRlIjoiMjAyNjAzMTFUMjAwNzU2WiJ9XX0=",
                          "success_action_status": "201",
                          "x-amz-algorithm": "AWS4-HMAC-SHA256",
                          "x-amz-credential": "test/20260311/eu-central-1/s3/aws4_request",
                          "x-amz-date": "20260311T200756Z",
                          "x-amz-signature": "db3dcb157988dadfc7ea62eeb20142ba9bb6b259fb31d35ab0d6235cf0196701"
                        },
                        "id": 0,
                        "method": "post",
                        "url": "https://test.s3.eu-central-1.amazonaws.com"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": {
                        "filename": [
                          {
                            "error": "blank"
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Error",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ],
        "tags": [
          "Assets"
        ],
        "deprecated": false,
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "properties": {
                  "asset": {
                    "properties": {
                      "filename": {
                        "description": "Filename",
                        "example": "test.png",
                        "type": "string"
                      },
                      "type": {
                        "description": "Type",
                        "example": "image/png",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": ""
      }
    },
    "/api/v1/auth/passwords": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": 14,
                        "name": "phone_number",
                        "public_token": "f92775d3-b558-4f3f-9d78-30658f35bd7d",
                        "state": 0,
                        "value": "380960000001"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": {
                        "phone_number": [
                          {
                            "error": "not_found"
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Error",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Auth"
        ],
        "deprecated": false,
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "properties": {
                  "user": {
                    "properties": {
                      "phone_number": {
                        "description": "Phone number",
                        "example": "380960000001",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": ""
      }
    },
    "/api/v1/auth/passwords/{id}": {
      "put": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": 654
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": {
                        "code": [
                          {
                            "error": "invalid"
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Error",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Auth"
        ],
        "deprecated": false,
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "properties": {
                  "user": {
                    "properties": {
                      "code": {
                        "description": "Code",
                        "example": "b286bf43c1976edcf681a3bb",
                        "type": "string"
                      },
                      "new_password": {
                        "description": "New password",
                        "example": "qwertyuiop",
                        "type": "string"
                      },
                      "new_password_confirmation": {
                        "description": "New password confirmation",
                        "example": "qwertyuiop",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": ""
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "access": "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3NzMyNjMyNzYsInVzZXJfdHlwZV9pZCI6MSwib3duZXJfaWQiOjY1Niwicm9sZV9pZCI6bnVsbCwic2Vzc2lvbl90b2tlbiI6IjIzN2E4NjJhLWQ2YmEtNDE1YS04OGNhLTdiYTljNGNiMjVjZCIsInVzZXJfaWQiOjY1NiwidWlkIjoiODU4YzdhNmYtMTljNC00YTM2LWJjZTMtMmQzYzQ1YzM3YTg5IiwiZXhwIjoxNzc1ODg5NDIyfQ.nd8k3RUpYM9q2Z97YMrXzC8vagCwwnH4GsqR_HEGhgc",
                        "access_expires_at": "2026-04-11T06:37:02.000+00:00",
                        "csrf": "Q/5YW7HGqu3xFQ8vIENiNh0x48FTJEPokdoLVzn6/LEmUOYv55h2yPFrXdT8zck+8ppSkFsdlu1/IxJ0SqmZ6g==",
                        "id": null,
                        "refresh": "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3NzMyNjMyNzYsInNlc3Npb25fdG9rZW4iOiIyMzdhODYyYS1kNmJhLTQxNWEtODhjYS03YmE5YzRjYjI1Y2QiLCJ1c2VyX2lkIjo2NTYsInVpZCI6Ijg0OTAwMWY4LTEyNzItNDMzYy05ZDRjLTQ3NDNiNWMzZTc2OCIsImV4cCI6MTc3NTg4OTQyMn0.U5-TB4QAkV2IDJ_OPANPTE0uvsptP36AwJeql0oQOgs",
                        "refresh_expires_at": "2026-04-11T06:37:02.000+00:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "message": "Unauthorized"
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Error refresh access token",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Auth"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/auth/sessions": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "access": "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3NzMyNjMyNzYsInVzZXJfdHlwZV9pZCI6MSwib3duZXJfaWQiOjY1OCwicm9sZV9pZCI6bnVsbCwic2Vzc2lvbl90b2tlbiI6ImM3OWMwNzY0LTQ0NDctNDQ4ZS1hNGM0LTgxMWE5ODZjMjdhMiIsInVzZXJfaWQiOjY1OCwidWlkIjoiZTAxMmE1NGMtNjc1ZC00MzExLWFmMjctYzlkZTIzMDY3YTVlIiwiZXhwIjoxNzc1ODg5NDIyfQ.m3hJGrHgs1ueu9N0DfzbV_KY2-ppxy-UjpzBcu31zUE",
                        "access_expires_at": "2026-04-11T06:37:02.000+00:00",
                        "csrf": "GifiehcoH0zwnsNwL/RNlcQ/aO6EvxaZKxlYebL5NYzg2S309UlSeVvog33LYUiPIR7tHgwo+CxdqLzQj4Jkhg==",
                        "id": null,
                        "refresh": "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3NzMyNjMyNzYsInNlc3Npb25fdG9rZW4iOiJjNzljMDc2NC00NDQ3LTQ0OGUtYTRjNC04MTFhOTg2YzI3YTIiLCJ1c2VyX2lkIjo2NTgsInVpZCI6ImRiYjkzMWIxLWFiZDItNDE2YS1iOTA2LTRkZmUzNmRlNGUzMSIsImV4cCI6MTc3NTg4OTQyMn0.nMWogZDu0O8V6kb6jnZMDxNLLL4yVR6UXqLsjJrkuQE",
                        "refresh_expires_at": "2026-04-11T06:37:02.000+00:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Create new user session",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": {
                        "base": [
                          {
                            "error": "phone_number_or_password_invalid"
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Error create new session",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Auth"
        ],
        "deprecated": false,
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "properties": {
                  "session": {
                    "properties": {
                      "password": {
                        "description": "Password",
                        "example": "123456789",
                        "type": "string"
                      },
                      "phone_number": {
                        "description": "Phone number",
                        "example": "380960000006",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": ""
      }
    },
    "/api/v1/auth/sessions/logout": {
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": "2c18957b-96a4-4c6f-a187-7497099820a1"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "message": "Unauthorized"
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Error",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Auth"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/banks": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "acquiring_percent": 66.6,
                          "id": 74,
                          "sort_order": 0,
                          "state": 1,
                          "title": "Qui optio pariatur ex."
                        }
                      ],
                      "meta": {
                        "current_page": 1,
                        "limit_value": 25,
                        "next_page": null,
                        "offset_value": 0,
                        "prev_page": null,
                        "total_count": 1,
                        "total_pages": 1
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get banks",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Banks"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/banks/{bank_id}/acquiring_providers": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "bank_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "fee": 2,
                          "id": 3,
                          "name": "Mastercard",
                          "provider_type_id": 1,
                          "sort_order": 1
                        }
                      ],
                      "meta": {
                        "total_count": 1
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get bank providers",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Banks"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/banks/{bank_id}/acquiring_providers/{id}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "bank_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "fee": 2,
                        "id": 4,
                        "name": "Mastercard",
                        "provider_type_id": 1,
                        "sort_order": 1
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get provider info",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Banks"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/banks/{bank_id}/acquiring_rules": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "bank_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "fee": 2,
                          "id": 3,
                          "sort_order": 1,
                          "state": 0,
                          "title": "Mastercard"
                        }
                      ],
                      "meta": {
                        "total_count": 1
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get bank acquiring rules",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Banks"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/banks/{bank_id}/acquiring_rules/{id}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "bank_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "fee": 2,
                        "id": 4,
                        "sort_order": 1,
                        "state": 0,
                        "title": "Mastercard"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get rule info",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Banks"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/banks/{bank_id}/departments": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "bank_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "address": "площа Стрийська, 144",
                          "city_id": 1,
                          "created_at": "2026-03-11T22:07:57.918+00:00",
                          "id": 16,
                          "latitude": null,
                          "longitude": null,
                          "region_id": 1,
                          "title": "Test shop",
                          "updated_at": "2026-03-11T22:07:57.918+00:00",
                          "working_hours": "9:00-18:00"
                        }
                      ],
                      "meta": {
                        "current_page": 1,
                        "limit_value": 25,
                        "next_page": null,
                        "offset_value": 0,
                        "prev_page": null,
                        "total_count": 1,
                        "total_pages": 1
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Banks"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/banks/{bank_id}/departments/{id}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "bank_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "address": "проспект Ліста, 6",
                        "city_id": 1,
                        "created_at": "2026-03-11T22:07:57.953+00:00",
                        "id": 17,
                        "latitude": null,
                        "longitude": null,
                        "region_id": 1,
                        "title": "Test shop",
                        "updated_at": "2026-03-11T22:07:57.953+00:00",
                        "working_hours": "9:00-18:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Banks"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/banks/{id}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "acquiring_percent": 66.6,
                        "created_at": "2026-03-11T22:07:56.779+00:00",
                        "id": 75,
                        "sort_order": 0,
                        "state": 1,
                        "title": "In sit sequi nostrum.",
                        "updated_at": "2026-03-11T22:07:56.779+00:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "View bank",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "message": "Resource not found"
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Should return 404 if wrong id passed",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Banks"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/balance": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "created_at": "2026-03-11T22:07:56.828+00:00",
                        "id": 661,
                        "owner_id": 661,
                        "total": "0.99",
                        "updated_at": "2026-03-11T22:07:56.828+00:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get balance",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/balance/credit": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "amount": "99.99",
                        "id": 34,
                        "invoice_type_id": 11,
                        "number": "3974387531618738",
                        "order_id": null,
                        "paid_at": null,
                        "state": 0,
                        "subscription_id": null,
                        "wayforpay": {
                          "amount": "99.99",
                          "authorizationType": "SimpleSignature",
                          "clientEmail": "danweber@wyman.net",
                          "clientFirstName": "Агапія",
                          "clientLastName": "Гордіївна Карпух",
                          "clientPhone": "380960000010",
                          "currency": "UAH",
                          "language": "UA",
                          "merchantAccount": "test",
                          "merchantDomainName": "test.com",
                          "merchantSignature": "859044f6192f90dc6a994f24a567c544",
                          "merchantTransactionSecureType": "AUTO",
                          "orderDate": 1773259676,
                          "orderLifetime": 31536000,
                          "orderNo": null,
                          "orderReference": "3974387531618738",
                          "orderTimeout": 31536000,
                          "productCount": [
                            1
                          ],
                          "productName": [
                            "Invoice 3974387531618738"
                          ],
                          "productPrice": [
                            "99.99"
                          ],
                          "serviceUrl": "http://localhost/payments/callbacks/3974387531618738"
                        }
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Create invoice",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/cards": {
      "get": {
        "parameters": [
          {
            "description": "Invoice State id/code",
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Invoice States id/code (comma-separated or array)",
            "in": "query",
            "name": "states",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Invoice Type id/code",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Invoice Type id/code (comma-separated or array)",
            "in": "query",
            "name": "types",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Per page",
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Skip pagination",
            "in": "query",
            "name": "skip_pagination",
            "required": false,
            "schema": {
              "type": "trueclass | falseclass"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "card_type": "visa",
                          "email": "setsukohoeger@west.net",
                          "id": 6,
                          "is_primary": false,
                          "masked_pan": "*1234"
                        }
                      ],
                      "meta": {
                        "total_count": 1
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get verified cards",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/cards/new": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "amount": "1.0",
                        "id": 35,
                        "invoice_type_id": 10,
                        "number": "1375465524281164",
                        "order_id": null,
                        "paid_at": null,
                        "state": 0,
                        "subscription_id": null,
                        "wayforpay": {
                          "amount": 1,
                          "clientEmail": "lynettedickens@nolan.org",
                          "clientFirstName": "Дзюба",
                          "clientLastName": "Владислав",
                          "clientPhone": "380960000012",
                          "currency": "UAH",
                          "language": "UA",
                          "merchantAccount": "test",
                          "merchantAuthType": "simpleSignature",
                          "merchantDomainName": "test.com",
                          "merchantSignature": "5e7346f802158abb50dab458bfcba78f",
                          "merchantTransactionSecureType": "AUTO",
                          "orderReference": "1375465524281164",
                          "paymentSystem": "card",
                          "requestType": "VERIFY",
                          "serviceUrl": "http://localhost/payments/callbacks/1375465524281164",
                          "verifyType": "simple"
                        }
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get data for card verification request",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/cards/{id}": {
      "put": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "card_type": "visa",
                        "email": "kurt@dickinsonmayert.name",
                        "id": 8,
                        "is_primary": true,
                        "masked_pan": "*1234"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Set card as primary",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/invoices": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "amount": "100.0",
                          "id": 36,
                          "invoice_type_id": 0,
                          "number": "32ee27a0-8d44-4650-a986-e3d84cafd3e6",
                          "order_id": 84,
                          "paid_at": null,
                          "state": 0,
                          "subscription_id": null,
                          "wayforpay": {
                            "amount": "100.0",
                            "authorizationType": "SimpleSignature",
                            "clientEmail": "tera@hintz.biz",
                            "clientFirstName": "Кордун",
                            "clientLastName": "Тур",
                            "clientPhone": "380960000015",
                            "currency": "UAH",
                            "language": "UA",
                            "merchantAccount": "test",
                            "merchantDomainName": "test.com",
                            "merchantSignature": "cf7af97314c5dfc3c4399dd4988f2902",
                            "merchantTransactionSecureType": "AUTO",
                            "orderDate": 1773266877,
                            "orderLifetime": 31536000,
                            "orderNo": null,
                            "orderReference": "32ee27a0-8d44-4650-a986-e3d84cafd3e6",
                            "orderTimeout": 31536000,
                            "productCount": [
                              1
                            ],
                            "productName": [
                              "Invoice 32ee27a0-8d44-4650-a986-e3d84cafd3e6"
                            ],
                            "productPrice": [
                              "100.0"
                            ],
                            "serviceUrl": "http://localhost/payments/callbacks/32ee27a0-8d44-4650-a986-e3d84cafd3e6"
                          }
                        }
                      ],
                      "meta": {
                        "current_page": 1,
                        "limit_value": 25,
                        "next_page": null,
                        "offset_value": 0,
                        "prev_page": null,
                        "total_count": 1,
                        "total_pages": 1
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get invoices",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/invoices/{id}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "amount": "100.0",
                        "id": 37,
                        "invoice_type_id": 0,
                        "number": "93da52fb-1551-4372-bb85-7ec9815fb4be",
                        "order_id": 85,
                        "paid_at": null,
                        "state": 0,
                        "subscription_id": null,
                        "wayforpay": {
                          "amount": "100.0",
                          "authorizationType": "SimpleSignature",
                          "clientEmail": "donnell@ondricka.co",
                          "clientFirstName": "Зінкевич",
                          "clientLastName": "Всеслав Олексійович",
                          "clientPhone": "380960000018",
                          "currency": "UAH",
                          "language": "UA",
                          "merchantAccount": "test",
                          "merchantDomainName": "test.com",
                          "merchantSignature": "a1280dd698ed2c069569c779f8aa5801",
                          "merchantTransactionSecureType": "AUTO",
                          "orderDate": 1773266877,
                          "orderLifetime": 31536000,
                          "orderNo": null,
                          "orderReference": "93da52fb-1551-4372-bb85-7ec9815fb4be",
                          "orderTimeout": 31536000,
                          "productCount": [
                            1
                          ],
                          "productName": [
                            "Invoice 93da52fb-1551-4372-bb85-7ec9815fb4be"
                          ],
                          "productPrice": [
                            "100.0"
                          ],
                          "serviceUrl": "http://localhost/payments/callbacks/93da52fb-1551-4372-bb85-7ec9815fb4be"
                        }
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Invoice details",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/plans": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [],
                      "meta": {
                        "total_count": 0
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get tariff plans",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/plans/{id}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "amount_annually": "1000.0",
                        "amount_monthly": "100.0",
                        "amount_trial": "10.0",
                        "bookmark_ids": null,
                        "id": 25,
                        "sort_order": 1,
                        "state": 2,
                        "title": "Test partner",
                        "trial_period": 2
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get tariff plan info",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/service_plan": {
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "activated_at": "2026-03-11T20:06:57.576+00:00",
                        "active_until": "2026-04-11T19:07:57.576+00:00",
                        "created_at": "2026-03-11T20:07:57.577+00:00",
                        "days_left": 31,
                        "id": 23,
                        "invoice_url": null,
                        "is_active": true,
                        "is_pay_per_teminal": false,
                        "owner_id": 1,
                        "plan": {
                          "billing_period": 31,
                          "created_at": "2026-03-11T20:07:57.570+00:00",
                          "description": "Ex optio voluptatem. Qui consequatur ut. Dolorum quia quisquam.",
                          "id": 40,
                          "is_pay_per_teminal": false,
                          "is_recurrent": true,
                          "is_visible": true,
                          "price": "282.27",
                          "sort_order": 0,
                          "state": 1,
                          "title": "Ad optio ipsam odio.",
                          "updated_at": "2026-03-11T20:07:57.570+00:00"
                        },
                        "plan_id": 40,
                        "price": "9.99",
                        "state": 1,
                        "updated_at": "2026-03-11T20:07:57.577+00:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "finalize service plan",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "activated_at": "2026-03-11T20:06:57.549+00:00",
                        "active_until": "2026-04-11T19:07:57.549+00:00",
                        "created_at": "2026-03-11T20:07:57.549+00:00",
                        "days_left": 31,
                        "id": 22,
                        "invoice_url": null,
                        "is_active": true,
                        "is_pay_per_teminal": false,
                        "owner_id": 1,
                        "plan": {
                          "billing_period": 31,
                          "created_at": "2026-03-11T20:07:57.544+00:00",
                          "description": "Culpa sint molestiae. Sequi eos repudiandae. Cum corrupti eius.",
                          "id": 38,
                          "is_pay_per_teminal": false,
                          "is_recurrent": true,
                          "is_visible": true,
                          "price": "182.79",
                          "sort_order": 0,
                          "state": 1,
                          "title": "Sunt illo voluptas inventore.",
                          "updated_at": "2026-03-11T20:07:57.544+00:00"
                        },
                        "plan_id": 38,
                        "price": "9.99",
                        "state": 1,
                        "updated_at": "2026-03-11T20:07:57.549+00:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "current service plan",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "activated_at": "2026-03-11T20:06:57.522+00:00",
                        "active_until": "2026-04-11T19:07:57.522+00:00",
                        "created_at": "2026-03-11T20:07:57.522+00:00",
                        "days_left": 31,
                        "id": 21,
                        "invoice_url": null,
                        "is_active": true,
                        "is_pay_per_teminal": false,
                        "owner_id": 1,
                        "plan": {
                          "billing_period": 31,
                          "created_at": "2026-03-11T20:07:57.516+00:00",
                          "description": "Dolores accusantium fugit. Harum maiores praesentium. Voluptatum ex quasi.",
                          "id": 36,
                          "is_pay_per_teminal": false,
                          "is_recurrent": true,
                          "is_visible": true,
                          "price": "660.02",
                          "sort_order": 0,
                          "state": 1,
                          "title": "Ratione rerum numquam et.",
                          "updated_at": "2026-03-11T20:07:57.516+00:00"
                        },
                        "plan_id": 36,
                        "price": "9.99",
                        "state": 1,
                        "updated_at": "2026-03-11T20:07:57.522+00:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "change to current service plan",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          },
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "activated_at": "2026-03-11T20:07:57.395+00:00",
                        "active_until": "2026-04-11T19:07:57.398+00:00",
                        "created_at": "2026-03-11T20:07:57.364+00:00",
                        "days_left": 31,
                        "id": 18,
                        "invoice_url": null,
                        "is_active": true,
                        "is_pay_per_teminal": false,
                        "owner_id": 1,
                        "plan": {
                          "billing_period": 31,
                          "created_at": "2026-03-11T20:07:57.323+00:00",
                          "description": "Molestiae ut vel. Ut necessitatibus voluptas. Fugit iure necessitatibus.",
                          "id": 32,
                          "is_pay_per_teminal": false,
                          "is_recurrent": true,
                          "is_visible": true,
                          "price": "491.84",
                          "sort_order": 0,
                          "state": 1,
                          "title": "Expedita sunt enim in.",
                          "updated_at": "2026-03-11T20:07:57.323+00:00"
                        },
                        "plan_id": 32,
                        "price": "491.84",
                        "state": 1,
                        "updated_at": "2026-03-11T20:07:57.402+00:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "activate service plan",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/service_plan/history": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "activated_at": "2026-03-11T20:06:57.618+00:00",
                          "active_until": "2026-04-11T19:07:57.618+00:00",
                          "created_at": "2026-03-11T20:07:57.618+00:00",
                          "days_left": 31,
                          "id": 24,
                          "invoice_url": null,
                          "is_active": true,
                          "is_pay_per_teminal": false,
                          "owner_id": 1,
                          "plan_id": 42,
                          "price": "9.99",
                          "state": 1,
                          "updated_at": "2026-03-11T20:07:57.618+00:00"
                        }
                      ],
                      "meta": {
                        "total_count": 1
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get tariff plan info",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/services": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "created_at": "2026-03-11T22:07:57.660+00:00",
                          "id": 11,
                          "owner": {
                            "email": "mickiebernhard@kohler.info",
                            "id": 676,
                            "name": "Мстислава Альбертівна Шухевич",
                            "phone_number": "380960000024",
                            "role_id": null
                          },
                          "owner_id": 676,
                          "price": "407.79",
                          "service": {
                            "created_at": "2026-03-11T20:07:57.650+00:00",
                            "description": "Distinctio ut ea. Est dignissimos tempore. Excepturi sed quisquam.",
                            "id": 22,
                            "price": "407.79",
                            "service_type_id": 0,
                            "sort_order": 0,
                            "state": 1,
                            "title": "Ut omnis qui est.",
                            "updated_at": "2026-03-11T20:07:57.650+00:00"
                          },
                          "service_id": 22,
                          "state": 1,
                          "updated_at": "2026-03-11T22:07:57.660+00:00"
                        }
                      ],
                      "meta": {
                        "current_page": 1,
                        "limit_value": 25,
                        "next_page": null,
                        "offset_value": 0,
                        "prev_page": null,
                        "total_count": 1,
                        "total_pages": 1
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "services list",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "created_at": "2026-03-11T20:07:57.733+00:00",
                        "id": 13,
                        "owner": {
                          "email": "rockylebsack@mosciskischmeler.org",
                          "id": 678,
                          "name": "В’ячеслав Звенимирович Витребенько",
                          "phone_number": "380960000026",
                          "role_id": null
                        },
                        "owner_id": 678,
                        "payload": {
                          "invoiceUrl": "https://secure.wayforpay.com/invoice/icd530506ad56",
                          "qrCode": "https://wayforpay.com/qr/img/icd530506ad56?type=i&size=200"
                        },
                        "price": "202.73",
                        "service": {
                          "created_at": "2026-03-11T20:07:57.704+00:00",
                          "description": "Est odit qui. Porro qui veritatis. Commodi iusto totam.",
                          "id": 24,
                          "price": "202.73",
                          "service_type_id": 0,
                          "sort_order": 0,
                          "state": 1,
                          "title": "Beatae et quasi veritatis.",
                          "updated_at": "2026-03-11T20:07:57.704+00:00"
                        },
                        "service_id": 24,
                        "state": 0,
                        "updated_at": "2026-03-11T20:07:57.769+00:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Create service",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": {
                        "service_id": [
                          {
                            "error": "not_found"
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Request hidden service",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/billing/services/{id}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "created_at": "2026-03-11T22:07:57.837+00:00",
                        "id": 15,
                        "owner": {
                          "email": "marjorie@hermanngrady.io",
                          "id": 682,
                          "name": "Паращук Братомил Альбертович",
                          "phone_number": "380960000030",
                          "role_id": null
                        },
                        "owner_id": 682,
                        "price": "953.38",
                        "service": {
                          "created_at": "2026-03-11T20:07:57.831+00:00",
                          "description": "Eos sunt occaecati. Non nulla qui. Veritatis sapiente est.",
                          "id": 28,
                          "price": "953.38",
                          "service_type_id": 0,
                          "sort_order": 0,
                          "state": 1,
                          "title": "Repellendus officiis aut quia.",
                          "updated_at": "2026-03-11T20:07:57.831+00:00"
                        },
                        "service_id": 28,
                        "state": 1,
                        "updated_at": "2026-03-11T22:07:57.837+00:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Service view",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Billing"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/cities": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "id": 12,
                          "region_id": 24,
                          "sort_order": 0,
                          "title": "Omnis temporibus placeat voluptate."
                        }
                      ],
                      "meta": {
                        "current_page": 1,
                        "limit_value": 25,
                        "next_page": null,
                        "offset_value": 0,
                        "prev_page": null,
                        "total_count": 1,
                        "total_pages": 1
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get all cities",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Cities"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/device/employees": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "employees": []
                      },
                      "meta": {
                        "total_count": 0
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Device"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/device/faq/categories": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "id": 23,
                          "is_popular": false,
                          "is_visible": true,
                          "picture": null,
                          "questions": [
                            {
                              "description": "Voluptas eos ad officia.",
                              "id": 19,
                              "is_visible": true,
                              "sort_order": 1,
                              "title": "Quae quam quia odio."
                            }
                          ],
                          "sort_order": 1,
                          "title": "Et commodi optio architecto."
                        }
                      ],
                      "meta": {
                        "total_count": 1
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get gategories",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Device / FAQ"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/device/faq/questions": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "description": "Sed ab minus ipsa.",
                          "id": 20,
                          "is_visible": true,
                          "sort_order": 1,
                          "title": "Aut quia et et."
                        }
                      ],
                      "meta": {
                        "total_count": 1
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Get questions",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Device / FAQ"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/device/feedbacks/messages": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "content": "Qui autem et omnis.",
                        "created_at": "2026-03-11T20:07:58.231+00:00",
                        "email": "loyd@weinatwehner.net",
                        "id": 7,
                        "name": "Ялюк Михайло",
                        "phone_number": "380939097141",
                        "platform_type_id": 2,
                        "serial_number": "106239392332422",
                        "state": 0
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Create new feedback message",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": {
                        "name": [
                          {
                            "error": "blank"
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Error create new message",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Device / Feedbacks"
        ],
        "deprecated": false,
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "properties": {
                  "message": {
                    "properties": {
                      "content": {
                        "description": "Content",
                        "example": "Qui autem et omnis.",
                        "type": "string"
                      },
                      "email": {
                        "description": "Email",
                        "example": "loyd@weinatwehner.net",
                        "type": "string"
                      },
                      "name": {
                        "description": "Name",
                        "example": "Ялюк Михайло",
                        "type": "string"
                      },
                      "phone_number": {
                        "description": "Phone number",
                        "example": "(093) 909-71-41",
                        "type": "string"
                      },
                      "platform_type_id": {
                        "description": "Platform type",
                        "type": "nilclass | integer"
                      },
                      "serial_number": {
                        "description": "Serial number",
                        "type": "string"
                      },
                      "state": {
                        "description": "State",
                        "type": "integer"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": ""
      }
    },
    "/api/v1/device/inventory/categories": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [],
                      "meta": {
                        "total_count": 0
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Device"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "color_id": null,
                        "created_at": "2026-03-11T20:07:58.345+00:00",
                        "id": "5508a753-9d7f-481d-931c-1d47d479810a",
                        "parent_id": null,
                        "products_count": 0,
                        "shop_ids": [],
                        "title": "Culpa et veniam accusamus.",
                        "updated_at": "2026-03-11T20:07:58.345+00:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": {
                        "title": [
                          {
                            "error": "blank"
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Invalid params",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Device"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/device/inventory/categories/batch": {
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "color_id": 0,
                          "created_at": "2026-03-11T22:07:58.603+00:00",
                          "id": "ce37bd9f-5603-4fdb-9bd6-f563b827233a",
                          "parent_id": null,
                          "products_count": 0,
                          "shop_ids": [],
                          "title": "Dolorem sunt alias temporibus.",
                          "updated_at": "2026-03-11T22:07:58.603+00:00"
                        },
                        {
                          "color_id": 0,
                          "created_at": "2026-03-11T22:07:58.613+00:00",
                          "id": "1df9e866-d26a-42a9-98dd-778ed89a0e49",
                          "parent_id": null,
                          "products_count": 0,
                          "shop_ids": [],
                          "title": "Aut debitis ipsa aspernatur.",
                          "updated_at": "2026-03-11T22:07:58.613+00:00"
                        },
                        {
                          "color_id": 0,
                          "created_at": "2026-03-11T22:07:58.627+00:00",
                          "id": "c5200ec8-ec7f-41ff-835a-596be36eb4d7",
                          "parent_id": null,
                          "products_count": 0,
                          "shop_ids": [],
                          "title": "Eum placeat et rerum.",
                          "updated_at": "2026-03-11T22:07:58.627+00:00"
                        }
                      ],
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Device"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "color_id": null,
                          "created_at": "2026-03-11T20:07:58.532+00:00",
                          "id": "81914d35-e985-4b14-bb82-cee070e0e665",
                          "parent_id": null,
                          "products_count": 0,
                          "shop_ids": [],
                          "title": "Ut reiciendis velit officiis.",
                          "updated_at": "2026-03-11T20:07:58.532+00:00"
                        },
                        {
                          "color_id": null,
                          "created_at": "2026-03-11T20:07:58.532+00:00",
                          "id": "9867ffa2-a51e-42f7-91a4-f8f786e2864a",
                          "parent_id": null,
                          "products_count": 0,
                          "shop_ids": [],
                          "title": "Pariatur molestiae ut id.",
                          "updated_at": "2026-03-11T20:07:58.532+00:00"
                        },
                        {
                          "color_id": null,
                          "created_at": "2026-03-11T20:07:58.532+00:00",
                          "id": "98e3b5fb-6bd6-4a11-829e-a745fa4eea0d",
                          "parent_id": null,
                          "products_count": 0,
                          "shop_ids": [],
                          "title": "Suscipit minus quibusdam vel.",
                          "updated_at": "2026-03-11T20:07:58.532+00:00"
                        }
                      ],
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": {
                        "categories": [
                          {
                            "error": "invalid"
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Invalid params",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Device"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      }
    },
    "/api/v1/device/inventory/categories/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "color_id": 0,
                        "created_at": "2026-03-11T22:07:58.460+00:00",
                        "id": "5751f05d-e99e-47fb-b1c8-3639dab1e5e8",
                        "parent_id": null,
                        "products_count": 0,
                        "shop_ids": [],
                        "title": "Officia neque esse ipsa.",
                        "updated_at": "2026-03-11T22:07:58.460+00:00"
                      },
                      "meta": {}
                    }
                  }
                },
                "schema": {
                  "description": "",
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "Success",
            "headers": {
              "Content-Type": {
                "description": "",
                "schema": {
                  "type": "string"
                },
                "x-example-value": "application/json; charset=utf-8"
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Device"
        ],
        "deprecated": false,
        "description": "",
        "summary": ""
      },
      "put": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "color_id": 0,
                        "created_at": "2026-03-11T22:07:58.381+00:00",
                        "id": "fcd040fa-e8a2-40ad-ac70-0b3c6fca6ad9",
                        "parent_id": null,
                        "products_count": 0,
                        "shop_ids": [],
[...]
