{
  "openapi": "3.0.0",
  "info": {
    "title": "PGS Payment API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/MR142/PGS_PreProd/1.0.0"
  },
  "servers": [
    {
      "url": "https://pm.preprod.parking.scheidt-bachmann.net:443/pgs/public/api/payment"
    }
  ],
  "paths": {
    "/card/{tenant}/{clientHandle}": {
      "get": {
        "parameters": [
          {
            "description": "This is the tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testTelecash",
              "enum": [
                "pgs-test",
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testTrustCommerce",
                "pgs-testPayVision",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testNMI",
                "pgs-testCCV",
                "pgs-testCCV-ShowRoom",
                "pgs-testDummy",
                "AU-MELBERN-ShopCenter-PH-DE-999222-SmartWebPay",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "US-WashingtonDC-ParkAmerica-CityCenter-SmartWebPay",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Berlin-Berlin-125869258-SmartWebPay",
                "DE-Berlin-invoicing_preprod-Berlin-SmartWebPay",
                "DE-Berlin-Invoicing_dummy-evoparkGO",
                "DE-Munich-aupark-98571516-SmartWebPay",
                "DE-Moenchengladbach-Borussia-1-SmartWebPay",
                "DE-Zilina-test-SmartWebPay",
                "NL-Zilina-testWorldline-Dummy-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-Breda-test-evoparkGO",
                "NL-Breda-testWorldline-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "NL-Mnchengladbach-dummyQAcore-SmartWebPay",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "DE-Zilina-Payment_for_telecash-ASDFG-SmartWebPay",
                "NL-MG-Test_Worldline-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          },
          {
            "description": "This is the generated token of the api-call",
            "example": "ac1e7c8a-6ef9-4b66-b5c3-6e03f371d377",
            "in": "path",
            "name": "clientHandle",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenizationCardData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TokenizationCardData"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenizationCardError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TokenizationCardError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenizationCardError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TokenizationCardError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenizationCardError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TokenizationCardError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "getTokenizationCardData",
        "summary": "This method gets the card data of the given client handle."
      }
    },
    "/paymentcart/{tenant}": {
      "put": {
        "parameters": [
          {
            "description": "This is the tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testTelecash",
              "enum": [
                "pgs-test",
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testTrustCommerce",
                "pgs-testPayVision",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testNMI",
                "pgs-testCCV",
                "pgs-testCCV-ShowRoom",
                "pgs-testDummy",
                "AU-MELBERN-ShopCenter-PH-DE-999222-SmartWebPay",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "US-WashingtonDC-ParkAmerica-CityCenter-SmartWebPay",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Berlin-invoicing_preprod-Berlin-SmartWebPay",
                "DE-Berlin-Berlin-125869258-SmartWebPay",
                "DE-Berlin-Invoicing_dummy-evoparkGO",
                "DE-Munich-aupark-98571516-SmartWebPay",
                "DE-Moenchengladbach-Borussia-1-SmartWebPay",
                "DE-Zilina-test-SmartWebPay",
                "NL-Zilina-testWorldline-Dummy-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-Breda-test-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "NL-Mnchengladbach-dummyQAcore-SmartWebPay",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "DE-Zilina-Payment_for_telecash-ASDFG-SmartWebPay",
                "NL-MG-Test_Worldline-evoparkGO",
                "NL-Breda-testWorldline-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "createShoppingCart",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCartRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateCartRequest"
              }
            }
          },
          "required": true
        },
        "summary": "This method creates a new shopping cart for a tenant."
      }
    },
    "/paymenttypes/{tenant}/{cartId}/{correlationId}/{requestor}/{locale}": {
      "get": {
        "parameters": [
          {
            "description": "This is the tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testTelecash",
              "enum": [
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testTrustCommerce",
                "pgs-testPayVision",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testNMI",
                "pgs-testCCV",
                "pgs-testCCV-ShowRoom",
                "pgs-testDummy",
                "AU-MELBERN-ShopCenter-PH-DE-999222-SmartWebPay",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "US-WashingtonDC-ParkAmerica-CityCenter-SmartWebPay",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Munich-aupark-98571516-SmartWebPay",
                "DE-Moenchengladbach-Borussia-1-SmartWebPay",
                "DE-Zilina-test-SmartWebPay",
                "NL-Zilina-testWorldline-Dummy-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-Breda-test-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "DE-Berlin-invoicing_preprod-Berlin-SmartWebPay",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "DE-Zilina-Payment_for_telecash-ASDFG-SmartWebPay",
                "NL-MG-Test_Worldline-evoparkGO",
                "NL-Mnchengladbach-dummyQAcore-SmartWebPay",
                "NL-Breda-testWorldline-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          },
          {
            "description": "This is the shopping cart id.",
            "example": "6d551b6a-9e02-476a-92b6-612d9154c979",
            "in": "path",
            "name": "cartId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This is the session id. There can be multiple purchases during one web session.",
            "example": "1231saasdfa-session-id",
            "in": "path",
            "name": "correlationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This is the client. It must remain constant during the user actions.",
            "example": "shop-naming",
            "in": "path",
            "name": "requestor",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This is the locale for internationalization (IETF-Standard/Http-Standard).",
            "example": "de-De",
            "in": "path",
            "name": "locale",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This is the cost center which is related to the tenant.",
            "example": "1234",
            "in": "query",
            "name": "costCenter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePaymentResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePaymentResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePaymentError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePaymentError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePaymentError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePaymentError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePaymentError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePaymentError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "getAvailablePaymentTypes",
        "summary": "This method gets available payment types for a regular payment."
      }
    },
    "/paymentwithtoken/{tenant}": {
      "put": {
        "parameters": [
          {
            "description": "The tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testTelecash",
              "enum": [
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testTrustCommerce",
                "pgs-testPayVision",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testNMI",
                "pgs-testCCV",
                "pgs-testCCV-ShowRoom",
                "pgs-testDummy",
                "AU-MELBERN-ShopCenter-PH-DE-999222-SmartWebPay",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "pgs-testUnknown",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Berlin-invoicing_preprod-Berlin-SmartWebPay",
                "DE-Berlin-Invoicing_dummy-evoparkGO",
                "DE-Munich-aupark-98571516-SmartWebPay",
                "DE-Moenchengladbach-Borussia-1-SmartWebPay",
                "DE-Zilina-test-SmartWebPay",
                "NL-Zilina-testWorldline-Dummy-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-Breda-test-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "NL-Mnchengladbach-dummyQAcore-SmartWebPay",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "DE-Zilina-Payment_for_telecash-ASDFG-SmartWebPay",
                "NL-MG-Test_Worldline-evoparkGO",
                "NL-Breda-testWorldline-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentWithTokenResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentWithTokenResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentWithTokenError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentWithTokenError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentWithTokenError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentWithTokenError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentWithTokenError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentWithTokenError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "paymentWithToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentWithTokenRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PaymentWithTokenRequest"
              }
            }
          },
          "required": true
        },
        "summary": "This method performs a payment with token."
      }
    },
    "/refund/full/{tenant}/{cartId}/{reason}": {
      "put": {
        "parameters": [
          {
            "description": "The tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testTelecash",
              "enum": [
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testTrustCommerce",
                "pgs-testPayVision",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testNMI",
                "pgs-testCCV",
                "pgs-testCCV-ShowRoom",
                "pgs-testDummy",
                "AU-MELBERN-ShopCenter-PH-DE-999222-SmartWebPay",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Berlin-invoicing_preprod-Berlin-SmartWebPay",
                "DE-Berlin-Invoicing_dummy-evoparkGO",
                "DE-Moenchengladbach-Borussia-1-SmartWebPay",
                "DE-Munich-aupark-98571516-SmartWebPay",
                "DE-Zilina-test-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-Breda-test-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "NL-Mnchengladbach-dummyQAcore-SmartWebPay",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "DE-Zilina-Payment_for_telecash-ASDFG-SmartWebPay",
                "NL-MG-Test_Worldline-evoparkGO",
                "NL-Breda-testWorldline-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          },
          {
            "description": "The shoppingcart id.",
            "example": "6d551b6a-9e02-476a-92b6-612d9154c979",
            "in": "path",
            "name": "cartId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The reason for the refund.",
            "example": "contract was terminated",
            "in": "path",
            "name": "reason",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Pending refund was made"
          },
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Already (partially) refunded"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Cart open/ No payment found for cart"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "refundFull",
        "summary": "This method performs a full refund for a given shopping-cart."
      }
    },
    "/refund/partial/{tenant}/{cartId}/{reason}/{amount}": {
      "put": {
        "parameters": [
          {
            "description": "The tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testTelecash",
              "enum": [
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testTrustCommerce",
                "pgs-testPayVision",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testNMI",
                "pgs-testCCV",
                "pgs-testCCV-ShowRoom",
                "pgs-testDummy",
                "AU-MELBERN-ShopCenter-PH-DE-999222-SmartWebPay",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Berlin-invoicing_preprod-Berlin-SmartWebPay",
                "DE-Berlin-Invoicing_dummy-evoparkGO",
                "DE-Moenchengladbach-Borussia-1-SmartWebPay",
                "DE-Zilina-test-SmartWebPay",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "DE-Zilina-Payment_for_telecash-ASDFG-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-MG-Test_Worldline-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "NL-Mnchengladbach-dummyQAcore-SmartWebPay",
                "NL-Breda-testWorldline-evoparkGO",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          },
          {
            "description": "The shoppingcart id.",
            "example": "6d551b6a-9e02-476a-92b6-612d9154c979",
            "in": "path",
            "name": "cartId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The reason for the refund.",
            "example": "contract was terminated",
            "in": "path",
            "name": "reason",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The amount to be refunded.",
            "example": "1000",
            "in": "path",
            "name": "amount",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Pending refund was made"
          },
          "204": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Amount exceeded"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Cart open/ No payment found for cart"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "refundPartial",
        "summary": "This method performs a partial refund for a given shopping-cart."
      }
    },
    "/refund/status/{tenant}/{cartId}/{subPayId}": {
      "get": {
        "parameters": [
          {
            "description": "The tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testTelecash",
              "enum": [
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testTrustCommerce",
                "pgs-testPayVision",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testNMI",
                "pgs-testCCV",
                "pgs-testCCV-ShowRoom",
                "pgs-testDummy",
                "AU-MELBERN-ShopCenter-PH-DE-999222-SmartWebPay",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Berlin-invoicing_preprod-Berlin-SmartWebPay",
                "DE-Berlin-Invoicing_dummy-evoparkGO",
                "DE-Moenchengladbach-Borussia-1-SmartWebPay",
                "DE-Munich-aupark-98571516-SmartWebPay",
                "DE-Zilina-test-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-Breda-test-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "DE-Zilina-Payment_for_telecash-ASDFG-SmartWebPay",
                "NL-MG-Test_Worldline-evoparkGO",
                "NL-Mnchengladbach-dummyQAcore-SmartWebPay",
                "NL-Breda-testWorldline-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          },
          {
            "description": "The shoppingcart id.",
            "example": "6d551b6a-9e02-476a-92b6-612d9154c979",
            "in": "path",
            "name": "cartId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "example": "1",
            "in": "path",
            "name": "subPayId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "enum": [
                    "SUCCESS",
                    "AMOUNT_OVERFLOW",
                    "REFUSED",
                    "UNCERTAIN",
                    "PENDING",
                    "INTERNAL_ERROR",
                    "OTHER_ERROR"
                  ],
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "enum": [
                    "SUCCESS",
                    "AMOUNT_OVERFLOW",
                    "REFUSED",
                    "UNCERTAIN",
                    "PENDING",
                    "INTERNAL_ERROR",
                    "OTHER_ERROR"
                  ],
                  "type": "string"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Cart open/ No payment found for cart"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RefundError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "status",
        "summary": "This method gets the current refund status"
      }
    },
    "/status/{tenant}/{cartId}/{correlationId}/{requestor}": {
      "get": {
        "parameters": [
          {
            "description": "The tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testTelecash",
              "enum": [
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testTrustCommerce",
                "pgs-testPayVision",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testNMI",
                "pgs-testCCV",
                "pgs-testCCV-ShowRoom",
                "pgs-testDummy",
                "AU-MELBERN-ShopCenter-PH-DE-999222-SmartWebPay",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Berlin-invoicing_preprod-Berlin-SmartWebPay",
                "DE-Berlin-Invoicing_dummy-evoparkGO",
                "DE-Moenchengladbach-Borussia-1-SmartWebPay",
                "DE-Zilina-test-SmartWebPay",
                "NL-Breda-test-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "DE-Zilina-Payment_for_telecash-ASDFG-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-MG-Test_Worldline-evoparkGO",
                "NL-Mnchengladbach-dummyQAcore-SmartWebPay",
                "NL-Breda-testWorldline-evoparkGO",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          },
          {
            "description": "This is the shopping cart id.",
            "example": "6d551b6a-9e02-476a-92b6-612d9154c979",
            "in": "path",
            "name": "cartId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This is the session id.",
            "example": "1231saasdfa-session-id",
            "in": "path",
            "name": "correlationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This is the client. It must remain constant during the user actions.",
            "example": "shop-naming",
            "in": "path",
            "name": "requestor",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingCartStatusResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingCartStatusResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingCartStatusError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingCartStatusError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingCartStatusError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingCartStatusError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingCartStatusError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingCartStatusError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "getShoppingCartStatus",
        "summary": "This method gets the current status of the given shopping cart."
      }
    },
    "/tokencart/{tenant}": {
      "put": {
        "parameters": [
          {
            "description": "This is the tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testTelecash",
              "enum": [
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testTrustCommerce",
                "pgs-testPayVision",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testNMI",
                "pgs-testCCV",
                "pgs-testCCV-ShowRoom",
                "pgs-testDummy",
                "AU-MELBERN-ShopCenter-PH-DE-999222-SmartWebPay",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Berlin-invoicing_preprod-Berlin-SmartWebPay",
                "DE-Berlin-Invoicing_dummy-evoparkGO",
                "DE-Moenchengladbach-Borussia-1-SmartWebPay",
                "DE-Munich-aupark-98571516-SmartWebPay",
                "DE-Zilina-test-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-Breda-test-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "NL-Mnchengladbach-dummyQAcore-SmartWebPay",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "DE-Zilina-Payment_for_telecash-ASDFG-SmartWebPay",
                "NL-MG-Test_Worldline-evoparkGO",
                "NL-Breda-testWorldline-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartResponse"
                }
              }
            },
            "description": "Success."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCartError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "createShoppingCartForPaymentWithToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCartForPaymentWithTokenRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateCartForPaymentWithTokenRequest"
              }
            }
          },
          "required": true
        },
        "summary": "This method creates a new shopping cart for a payment with token."
      }
    },
    "/tokendelete/{tenant}": {
      "delete": {
        "parameters": [
          {
            "description": "The tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testNMI",
              "enum": [
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testNMI",
                "pgs-testPayVision",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTrustCommerce",
                "pgs-testCCV",
                "pgs-testCCV-ShowRoom",
                "pgs-testDummy",
                "AU-MELBERN-ShopCenter-PH-DE-999222-SmartWebPay",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Berlin-Invoicing_dummy-evoparkGO",
                "DE-Moenchengladbach-Borussia-1-SmartWebPay",
                "DE-Zilina-test-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-Breda-test-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "NL-Mnchengladbach-dummyQAcore-SmartWebPay",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "DE-Zilina-Payment_for_telecash-ASDFG-SmartWebPay",
                "NL-MG-Test_Worldline-evoparkGO",
                "NL-Breda-testWorldline-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDeleteResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDeleteResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDeleteError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDeleteError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDeleteError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDeleteError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDeleteError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDeleteError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "tokenDelete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenDeleteRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TokenDeleteRequest"
              }
            }
          },
          "required": true
        },
        "summary": "This method delete previously created payment token from PGS as well as PSP* (*if supported)"
      }
    },
    "/tokenization/{tenant}": {
      "put": {
        "parameters": [
          {
            "description": "This is the tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testTelecash",
              "enum": [
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testTrustCommerce",
                "pgs-testPayVision",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testNMI",
                "pgs-testCCV",
                "pgs-testCCV-ShowRoom",
                "pgs-testDummy",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Berlin-invoicing_preprod-Berlin-SmartWebPay",
                "DE-Berlin-Invoicing_dummy-evoparkGO",
                "DE-Zilina-test-SmartWebPay",
                "DE-Moenchengladbach-Borussia-1-SmartWebPay",
                "NL-Breda-test-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "DE-Zilina-Payment_for_telecash-ASDFG-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-MG-Test_Worldline-evoparkGO",
                "NL-Breda-testWorldline-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTokenResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTokenResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTokenError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTokenError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTokenError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTokenError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTokenError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTokenError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "createPaymentToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTokenRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateTokenRequest"
              }
            }
          },
          "required": true
        },
        "summary": "This method creates a new payment token."
      }
    },
    "/tokenizationtypes/{tenant}/{clientHandle}/{correlationId}/{requestor}/{locale}": {
      "get": {
        "parameters": [
          {
            "description": "This is the tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testTelecash",
              "enum": [
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testTrustCommerce",
                "pgs-testPayVision",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testNMI",
                "pgs-testCCV",
                "pgs-testCCV-ShowRoom",
                "pgs-testDummy",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Berlin-invoicing_preprod-Berlin-SmartWebPay",
                "DE-Berlin-Invoicing_dummy-evoparkGO",
                "DE-Moenchengladbach-Borussia-1-SmartWebPay",
                "DE-Munich-aupark-98571516-SmartWebPay",
                "DE-Zilina-test-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-Breda-test-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "DE-Zilina-Payment_for_telecash-ASDFG-SmartWebPay",
                "NL-MG-Test_Worldline-evoparkGO",
                "NL-Breda-testWorldline-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          },
          {
            "description": "This is the generated token of the api-call",
            "example": "ac1e7c8a-6ef9-4b66-b5c3-6e03f371d377",
            "in": "path",
            "name": "clientHandle",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This is the session id. There are multiple purchases possible during one web session.",
            "example": "1231saasdfa-session-id",
            "in": "path",
            "name": "correlationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This is the client. It must remain constant during the user actions.",
            "example": "shop-naming",
            "in": "path",
            "name": "requestor",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This is the locale for internationalization.",
            "example": "de-DE",
            "in": "path",
            "name": "locale",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The cost center id.",
            "example": "1234",
            "in": "query",
            "name": "costCenter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableTokenizationResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableTokenizationResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableTokenizationError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableTokenizationError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableTokenizationError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableTokenizationError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableTokenizationError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableTokenizationError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "getAvailableTokenizationTypes",
        "summary": "Find available tokenization types by tenant and token"
      }
    },
    "/tokenvalidity/{tenant}": {
      "put": {
        "parameters": [
          {
            "description": "The tenant id.",
            "in": "path",
            "name": "tenant",
            "required": true,
            "schema": {
              "default": "pgs-testTelecash",
              "enum": [
                "pgs-testAdvam",
                "pgs-testMoneris",
                "pgs-testWorldline",
                "pgs-testTrustCommerce",
                "pgs-testPayVision",
                "pgs-testWeb2Pay",
                "pgs-testPlanet",
                "pgs-testTelecash",
                "pgs-testTelecash-508",
                "pgs-testTelecash-744",
                "pgs-testTelecashSWP",
                "pgs-testTelecashDACH",
                "pgs-testNMI",
                "pgs-testCCV",
                "pgs-testDummy",
                "AU-MELBERN-ShopCenter-PH-DE-999222-SmartWebPay",
                "CA-Zilina-testMoneris-1-evoparkGO",
                "pgs-testCCV-ShowRoom",
                "PL-MG-testPlanet-SmartWebPay",
                "PL-Bytca-SK-DBF-SmartWebPay",
                "DE-Berlin-invoicing_preprod-Berlin-SmartWebPay",
                "DE-Berlin-Invoicing_dummy-evoparkGO",
                "DE-Munich-aupark-98571516-SmartWebPay",
                "DE-Zilina-test-SmartWebPay",
                "NL-Zilina-testWorldline-Dummy-SmartWebPay",
                "NL-City-City_description-evoparkGO",
                "NL-Breda-test-evoparkGO",
                "NL-MG-testWorldline-evoparkGO",
                "NL-Mnchengladbach-dummyQAcore-SmartWebPay",
                "DE-MG-test-evoparkGO",
                "DE-MG-test1-evoparkGO",
                "NL-MG-Test_Worldline-evoparkGO",
                "NL-Worldline-EvoparkGo_Worldline-1-evoparkGO",
                "NL-Breda-testWorldline-evoparkGO",
                "CH-Bern-testWorldline-evoparkGO",
                "DE-Zilina-swp_telecach_sbparks-SmartWebPay",
                "DE-Zilina-testTelecash-SmartWebPay",
                "UK-ZA-TestPanet-SmartWebPay"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenValidityResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TokenValidityResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenValidityError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TokenValidityError"
                }
              }
            },
            "description": "Invalid or incomplete request."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenValidityError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TokenValidityError"
                }
              }
            },
            "description": "Tenant not supported."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenValidityError"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TokenValidityError"
                }
              }
            },
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "description": "",
        "operationId": "tokenValidity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenValidityRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TokenValidityRequest"
              }
            }
          },
          "required": true
        },
        "summary": "This method return status of validity for previously created payment token."
      }
    }
  },
  "components": {
    "schemas": {
      "AvailablePaymentError": {
        "properties": {
          "errorCode": {
            "description": "A technical error code.",
            "example": "E0001",
            "type": "string"
          },
          "errorDetails": {
            "description": "Further explanatory error details.",
            "example": "Parameter x, y, z are missing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "errorReason": {
            "description": "A reason that caused the error.",
            "example": "cart not found",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AvailablePaymentResponse": {
        "properties": {
          "offeredPaymentTypes": {
            "description": "A list of payment types with information of further interaction",
            "example": "DummyPSP directPAY, https://preprod-pgs.scheidt-bachmann.net:8443/pgsweb/public/web/form/payment.xhtml?shoppingCartUuid=6d551b6a-9e02-476a-92b6-612d9154c979&paymentTypeUuid=66250ada-19bb-4932-91cf-0543026fa0b3&tenantId=*provider&correlationId=123125saasdfa-session-id&locale=de-De&requestor=shop-naming&hash=39258aa76656d5bb90a722ab7443492779bdca32, fee 0",
            "items": {
              "$ref": "#/components/schemas/OfferedPaymentTypes"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AvailableTokenization": {
        "properties": {
          "fee": {
            "description": "Optional fees of the payment type",
            "example": "0",
            "type": "integer"
          },
          "formUrl": {
            "description": "URL to the form",
            "example": "https://preprod-pgs.scheidt-bachmann.net:8443/pgsweb/public/web/form/tokenization.xhtml?paymentTypeUuid=66250ada-19bb-4932-91cf-0543026fa0b3&tenantId=*provider&correlationId=123125saasdfa-session-id&clientHandle=f92923cc-af2f-4694-b3af-78459f0b3904&locale=de-DE&requestor=shop-naming&hash=4d8aac56a5174a1832c95de62fb28c31743bb3ca",
            "type": "string"
          },
          "imageUrl": {
            "description": "URL with image icon, default size: 128x128 and default extension is .png (if is missing)",
            "example": "https://preprod-pgs.scheidt-bachmann.net:8443/pgsweb/public/web/form/images/creditcard.png",
            "type": "string"
          },
          "name": {
            "description": "Name of the payment type for the Tokenization.",
            "example": "DummyPSP directPAY",
            "type": "string"
          },
          "paymentId": {
            "description": "The unique payment type id (UUID)",
            "example": "66250ada-19bb-4932-91cf-0543026fa0b3",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AvailableTokenizationError": {
        "properties": {
          "errorCode": {
            "description": "A technical error code.",
            "example": "E0001",
            "type": "string"
          },
          "errorDetails": {
            "description": "Further explanatory error details.",
            "example": "Parameter x, y, z are missing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "errorReason": {
            "description": "A reason that caused the error.",
            "example": "cart not found",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AvailableTokenizationResponse": {
        "properties": {
          "offeredTokenizations": {
            "description": "A list of payment types with information of further interaction",
            "example": "\"name\": \"DummyPSP directPAY\", \"paymentId\": \"66250ada-19bb-4932-91cf-0543026fa0b3\", \"formUrl\": \"https://preprod-pgs.scheidt-bachmann.net:8443/pgsweb/public/web/form/tokenization.xhtml?paymentTypeUuid=66250ada-19bb-4932-91cf-0543026fa0b3&tenantId=*provider&correlationId=123125saasdfa-session-id&clientHandle=1d20384b-0396-40b6-b56f-77ab18d780e2&locale=de-DE&requestor=shop-naming&hash=1bdc3d403f4c32ec4f3fa5a103de20f55ae53df7\", \"fee\": 0",
            "items": {
              "$ref": "#/components/schemas/AvailableTokenization"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CreateCartError": {
        "properties": {
          "errorCode": {
            "description": "A technical error code.",
            "example": "E0001",
            "type": "string"
          },
          "errorDetails": {
            "description": "Further explanatory error details.",
            "example": "Parameter x, y, z are missing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "errorReason": {
            "description": "A reason that caused the error.",
            "example": "cart not found",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateCartForPaymentWithTokenRequest": {
        "properties": {
          "amount": {
            "description": "A price with the decimal point removed.",
            "example": "600",
            "type": "string"
          },
          "correlationId": {
            "description": "The requesting session id.",
            "example": "1231saasdfa-session-id",
            "type": "string"
          },
          "currency": {
            "description": "A valid currency symbol.",
            "example": "EUR",
            "type": "string"
          },
          "reason": {
            "description": "The description of the cart content.",
            "example": "One day parking.",
            "type": "string"
          },
          "reference": {
            "description": "An external id referencing the cart. The defined name by Scheidt & Bachmann was contextID.",
            "example": "myshop-cart-id",
            "type": "string"
          },
          "requestor": {
            "description": "The requesting system. Should remain constant during user actions.",
            "example": "shop-naming",
            "type": "string"
          }
        },
        "required": [
          "amount",
          "correlationId",
          "currency",
          "reason",
          "requestor"
        ],
        "type": "object"
      },
      "CreateCartRequest": {
        "properties": {
          "amount": {
            "description": "A price with the decimal point removed.",
            "example": "600",
            "type": "string"
          },
          "correlationId": {
            "description": "The requesting session id.",
            "example": "1231saasdfa-session-id",
            "type": "string"
          },
          "currency": {
            "description": "A valid currency symbol.",
            "example": "EUR",
            "type": "string"
          },
          "customStyle": {
            "description": "This is the CSS style information to style the web page for available payment types.",
            "example": "input[type=\"submit\"] {\n    background-color: blue;\n}",
            "type": "string"
          },
          "failureCallbackUrl": {
            "description": "A URL that should be called after an unsuccessful purchase.",
            "example": "https://preprod-pgs.scheidt-bachmann.net:8443/pgsweb/internal/web/psp/dummyShop/status/payment/failure.xhtml?dswid=1",
            "type": "string"
          },
          "reason": {
            "description": "The description of the cart content.",
            "example": "One day parking.",
            "type": "string"
          },
          "reference": {
            "description": "An external id referencing the cart. The defined name by Scheidt & Bachmann was contextID.",
            "example": "myshop-cart-id",
            "type": "string"
          },
          "requestor": {
            "description": "The requesting system. Should remain constant during user actions.",
            "example": "shop-naming",
            "type": "string"
          },
          "successCallbackUrl": {
            "description": "A URL that should be called after a successful purchase.",
            "example": "https://preprod-pgs.scheidt-bachmann.net:8443/pgsweb/internal/web/psp/dummyShop/status/payment/success.xhtml?dswid=1",
            "type": "string"
          },
          "tokenRequired": {
            "$ref": "#/components/schemas/TokenRequired",
            "description": "info if card tokenization is required. Value can be \"true\" or \"false\". Default value is \"false\" .",
            "example": "false"
          }
        },
        "required": [
          "amount",
          "correlationId",
          "currency",
          "failureCallbackUrl",
          "reason",
          "requestor",
          "successCallbackUrl"
        ],
        "type": "object"
      },
      "CreateCartResponse": {
        "properties": {
          "cartId": {
            "description": "A unique id for a cart that may be used for further interaction.",
            "example": "6d551b6a-9e02-476a-92b6-612d9154c979",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateCartResponseWithToken": {
        "properties": {
          "cartId": {
            "description": "A unique id for a cart that may be used for further interaction.",
            "example": "6d551b6a-9e02-476a-92b6-612d9154c979",
            "type": "string"
          },
          "paymentToken": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateTokenError": {
        "properties": {
          "errorCode": {
            "description": "A technical error code.",
            "example": "E0001",
            "type": "string"
          },
          "errorDetails": {
            "description": "Further explanatory error details.",
            "example": "Parameter x, y, z are missing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "errorReason": {
            "description": "A reason that caused the error.",
            "example": "cart not found",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateTokenRequest": {
        "properties": {
          "correlationId": {
            "description": "The requesting session id.",
            "example": "1231saasdfa-session-id",
            "type": "string"
          },
          "customStyle": {
            "description": "This is the CSS style information to style the web page for available payment types.",
            "example": "input[type=\"submit\"] {\n    background-color: blue;\n}",
            "type": "string"
          },
          "failureCallbackUrl": {
            "description": "A URL that should be called after an unsuccessful tokenization.",
            "example": "https://preprod-pgs.scheidt-bachmann.net:8443/pgsweb/internal/web/psp/dummyShop/status/tokenization/failure.xhtml?dswid=1",
            "type": "string"
          },
          "locale": {
            "description": "The locale for internationalization (IETF-Standard/HTTP-Standard).",
            "example": "de-De",
            "type": "string"
          },
          "requestor": {
            "description": "The requesting system. Should remain constant during user actions.",
            "example": "shop-naming",
            "type": "string"
          },
          "successCallbackUrl": {
            "description": "A URL that should be called after an successful tokenization.",
            "example": "https://preprod-pgs.scheidt-bachmann.net:8443/pgsweb/internal/web/psp/dummyShop/status/tokenization/success.xhtml?dswid=1",
            "type": "string"
          }
        },
        "required": [
          "correlationId",
          "failureCallbackUrl",
          "locale",
          "requestor",
          "successCallbackUrl"
        ],
        "type": "object"
      },
      "CreateTokenResponse": {
        "properties": {
          "clientHandle": {
            "description": "Unique client handle to indicate that the tokenization was successful",
            "example": "f92923cc-af2f-4694-b3af-78459f0b3904",
            "type": "string"
          },
          "pgsToken": {
            "description": "Unique token for payment with token.",
            "example": "556abff4-d015-459d-9220-b815a347d82d",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OfferedPaymentTypes": {
        "properties": {
          "fee": {
            "description": "Optional fees of the payment type",
            "example": "fee 0",
            "format": "int32",
            "type": "integer"
          },
          "formUrl": {
            "description": "URL of the form",
            "example": "formUrl https://preprod-pgs.scheidt-bachmann.net:8443/pgsweb/public/web/form/payment.xhtmlshoppingCartUuid=6d551b6a-9e02-476a-92b6-612d9154c979&paymentTypeUuid=66250ada-19bb-4932-91cf-0543026fa0b3&tenantId=NL-Eindhoven-ParkingYou-Fellenoord&correlationId=123125saasdfa-session-id&locale=de-De&requestor=shop-naming&hash=39258aa76656d5bb90a722ab7443492779bdca32&dswid=1",
            "type": "string"
          },
          "imageUrl": {
            "description": "URL with image icon, default size: 128x128 and default extension is .png (if is missing)",
            "example": "http://localhost:8080/pgs/public/web/form/images/creditcard.png",
            "type": "string"
          },
          "name": {
            "description": "Name of the payment type.",
            "example": "DummyPSP directPAY©",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PaymentWithTokenError": {
        "properties": {
          "errorCode": {
            "description": "A technical error code.",
            "example": "E0001",
            "type": "string"
          },
          "errorDetails": {
            "description": "Further explanatory error details.",
            "example": "Parameter x, y, z are missing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "errorReason": {
            "description": "A reason that caused the error.",
            "example": "cart not found",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PaymentWithTokenRequest": {
        "properties": {
          "cartId": {
            "description": "This is the tokencart id of the shopping cart.",
            "example": "6d551b6a-9e02-476a-92b6-612d9154c979",
            "type": "string"
          },
          "correlationId": {
            "description": "The requesting session id.",
            "example": "1231%saasdfa-session-id",
            "type": "string"
          },
          "pgsToken": {
            "description": "This is the token for the payment.",
            "example": "ff54244e-15a9-4005-8df8-3d725561f95e",
            "type": "string"
          },
          "requestor": {
            "description": "The requesting system. Should remain constant during user actions.",
            "example": "shop-naming",
            "type": "string"
          }
        },
        "required": [
          "cartId",
          "correlationId",
          "pgsToken",
          "requestor"
        ],
        "type": "object"
      },
      "PaymentWithTokenResponse": {
        "properties": {
          "maskedMediaId": {
            "description": "The masked credit/debit/account number used for the payment",
            "example": "XXXXXXXXXXXX1111",
            "type": "string"
          },
          "mediaType": {
            "description": "The media type used for the payment",
            "example": "VISA",
            "type": "string"
          },
          "payId": {
            "description": "The PSP's pay id for this payment",
            "example": "SOME-ID-123456",
            "type": "string"
          },
          "status": {
            "description": "The status of the payment with token.",
            "example": "SUCCESS",
            "type": "string"
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      },
      "PspToken": {
        "properties": {
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "RefundError": {
        "properties": {
          "errorCode": {
            "description": "A technical error code.",
            "example": "E0001",
            "type": "string"
          },
          "errorDetails": {
            "description": "Further explanatory error details.",
            "example": "Parameter x, y, z are missing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "errorReason": {
            "description": "A reason that caused the error.",
            "example": "cart not found",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ShoppingCartPaymentData": {
        "properties": {
          "amount": {
            "description": "A price with the decimal point removed.",
            "example": "1299",
            "type": "string"
          },
          "cardNumber": {
            "description": "The masked credit/debit/account number used for the payment",
            "example": "411111XXXXXXX1111",
            "type": "string",
            "xml": {
              "name": "maskedMediaId"
            }
          },
          "currency": {
            "description": "A valid currency symbol.",
            "example": "EUR",
            "type": "string"
          },
          "mediaExpiryDate": {
            "description": "The card expiry date of the card number",
            "example": "mediaExpiryDate=12/23",
            "type": "string"
          },
          "mediaType": {
            "description": "The media type used for the payment",
            "example": "VISA",
            "type": "string"
          },
          "paymentId": {
            "description": "The payment id of the given shopping cart",
            "example": "3006657553",
            "type": "string",
            "xml": {
              "name": "payId"
            }
          },
          "reference": {
            "description": "An external id referencing the cart. The defined name by Scheidt & Bachmann was contextID.",
            "example": "myshop-cart-id",
            "type": "string"
          },
          "refundInfo": {
            "description": "Additional refund infos, e.g. price",
            "example": "1.00, eur",
            "type": "string",
            "xml": {
              "name": "refundedAmount"
            }
          }
        },
        "required": [
          "paymentId"
        ],
        "type": "object"
      },
      "ShoppingCartStatusError": {
        "properties": {
          "errorCode": {
            "description": "A technical error code.",
            "example": "E0001",
            "type": "string"
          },
          "errorDetails": {
            "description": "Further explanatory error details.",
            "example": "Parameter x, y, z are missing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "errorReason": {
            "description": "A reason that caused the error.",
            "example": "cart not found",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ShoppingCartStatusResponse": {
        "properties": {
          "shoppingCartPaymentData": {
            "$ref": "#/components/schemas/ShoppingCartPaymentData",
            "description": "The main payment data of the given shopping cart",
            "example": "payId=3006657553, maskedMediaId=411111XXXXXXX1111, mediaType=VISA, mediaExpiryDate: 12/23, amount: 1299,currency: EUR, reference: myshop-cart-id"
          },
          "status": {
            "description": "The status of the given shopping cart id.",
            "example": "COMPLETE",
            "type": "string"
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      },
      "TokenDeleteError": {
        "properties": {
          "errorCode": {
            "description": "A technical error code.",
            "example": "E0001",
            "type": "string"
          },
          "errorDetails": {
            "description": "Further explanatory error details.",
            "example": "Parameter x, y, z are missing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "errorReason": {
            "description": "A reason that caused the error.",
            "example": "token not found",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TokenDeleteRequest": {
        "properties": {
          "correlationId": {
            "description": "The requesting session id.",
            "example": "1231%saasdfa-session-id",
            "type": "string"
          },
          "pgsToken": {
            "description": "This is the token for the payment (previously created)",
            "example": "ff54244e-15a9-4005-8df8-3d725561f95e",
            "type": "string"
          },
          "requestor": {
            "description": "The requesting system. Should remain constant during user actions.",
            "example": "shop-naming",
            "type": "string"
          }
        },
        "required": [
          "requestor",
          "correlationId",
          "pgsToken"
        ],
        "type": "object"
      },
      "TokenDeleteResponse": {
        "properties": {
          "resultDetails": {
            "description": "Description from PGS (eventually from PSP)",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "status": {
            "description": "The status of the payment token. (DELETED, ERROR)",
            "example": "DELETED",
            "type": "string"
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      },
      "TokenRequired": {
        "properties": {
          "value": {
            "default": false,
            "type": "boolean"
          }
        },
        "type": "boolean"
      },
      "TokenValidityError": {
        "properties": {
          "errorCode": {
            "description": "A technical error code.",
            "example": "E0001",
            "type": "string"
          },
          "errorDetails": {
            "description": "Further explanatory error details.",
            "example": "Parameter x, y, z are missing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "errorReason": {
            "description": "A reason that caused the error.",
            "example": "token not found",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TokenValidityRequest": {
        "properties": {
          "correlationId": {
            "description": "The requesting session id.",
            "example": "1231%saasdfa-session-id",
            "type": "string"
          },
          "pgsToken": {
            "description": "This is the token for the payment.",
            "example": "ff54244e-15a9-4005-8df8-3d725561f95e",
            "type": "string"
          },
          "requestor": {
            "description": "The requesting system. Should remain constant during user actions.",
            "example": "shop-naming",
            "type": "string"
          },
          "validatePsp": {
            "description": "Validate token over Payment Service Provider. true = validate over PSP, false = validate just expiry date in PGS",
            "example": false,
            "type": "boolean"
          }
        },
        "required": [
          "requestor",
          "correlationId",
          "pgsToken",
          "validatePsp"
        ],
        "type": "object"
      },
      "TokenValidityResponse": {
        "properties": {
          "maskedMediaId": {
            "description": "The masked credit/debit/account number used for the payment",
            "example": "XXXXXXXXXXXX1111",
            "type": "string"
          },
          "mediaExpiryDate": {
            "description": "The media/card expiry date",
            "example": "12/23",
            "type": "string"
          },
          "mediaType": {
            "description": "The media type used for the payment",
            "example": "VISA",
            "type": "string"
          },
          "status": {
            "description": "The status of the payment token. (IDLE, PENDING, VALID, INVALID, DELETED, ERROR)",
            "example": "VALID",
            "type": "string"
          },
          "tokenExpiryDate": {
            "description": "The token expiry date MM/YY or DD/MM/YY",
            "example": "12/23",
            "type": "string"
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      },
      "TokenizationCardData": {
        "properties": {
          "cardExpiryDate": {
            "type": "string"
          },
          "cardNumber": {
            "type": "string"
          },
          "cardType": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "TokenizationCardError": {
        "properties": {
          "errorCode": {
            "description": "A technical error code.",
            "example": "E0001",
            "type": "string"
          },
          "errorDetails": {
            "description": "Further explanatory error details.",
            "example": "Parameter x, y, z are missing.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "errorReason": {
            "description": "A reason that caused the error.",
            "example": "cart not found",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TokenizationCardResponse": {
        "properties": {
          "cardExpiryDate": {
            "description": "The card expiry date of the given token",
            "example": "cardExpiryDate=1222",
            "type": "string"
          },
          "cardNumber": {
            "description": "The card number of the given token",
            "example": "cardNumber=12345XXX",
            "type": "string"
          },
          "pspToken": {
            "$ref": "#/components/schemas/PspToken",
            "description": "The corresponding PSP Token",
            "example": "BEA2D6B6-32A4-486C-A783-A5A2E36A7115"
          }
        },
        "required": [
          "pspToken"
        ],
        "type": "object"
      },
      "UnauthorizedError": {
        "properties": {
          "code": {
            "description": "Short description.",
            "example": "UNAUTHORIZED",
            "type": "string"
          },
          "corellationId": {
            "description": "UUID",
            "example": "f33d9744-6348-4c7f-9763-48299ec1d18b",
            "type": "string"
          },
          "id": {
            "description": "UUID",
            "example": "215e5761-6ade-4d48-9967-4adafd556b7a",
            "type": "string"
          },
          "status": {
            "description": "HTTP status code.",
            "example": "401",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp",
            "example": "2021-06-16T12:11:20.152Z",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "scheme": "basic",
        "type": "http"
      }
    }
  }
}