{
  "openapi": "3.1.0",
  "info": {
    "title": "Jabbertoon tools for AI assistants and developers",
    "version": "1",
    "summary": "Read Jabbertoon's guide, moves, characters and looks, check a cartoon, a move or a character you write, and make a jabbertoon.com link that opens a move or a character, or the cartoon in the studio.",
    "description": "The same tools as Jabbertoon's MCP server (https://jabbertoon.com/mcp), over plain HTTP. No key and no account. GET answers the read tools whose arguments are plain values; POST a JSON object of arguments to any tool. Nothing sent to validate or share_link is stored or logged; report_problem keeps its report for a person to read. Errors are {code, where, says, fix, url}, with did_you_mean and an RFC 6902 patch when the fix is certain. Making the video is done on your own computer, by the jabbertoon tool (preview, render_video). The block language: https://jabbertoon.com/docs/language/",
    "contact": {
      "name": "Jabbertoon",
      "email": "hello@jabbertoon.com",
      "url": "https://jabbertoon.com/for-ai/"
    },
    "license": {
      "name": "Proprietary, 1211 Holding LLC",
      "url": "https://jabbertoon.com/license/"
    },
    "x-jentic-source-url": "https://jabbertoon.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://jabbertoon.com"
    }
  ],
  "paths": {
    "/api/get_guide": {
      "get": {
        "operationId": "get_guide",
        "summary": "Read Jabbertoon's guide for writing a cartoon",
        "description": "Call this first. Returns one topic of Jabbertoon's guide as Markdown (under 20,000 characters): start (what it makes and the order of calls), cartoon (the JSON program: cast, scenes, lines, moves), text (the same cartoon as screenplay text), moves, characters, looks, voices, places, errors, limits. Units everywhere: x and y are shares of the stage (0 to 1, the ground at 0.92), times are seconds. Example: {\"topic\": \"cartoon\"}.",
        "security": [],
        "responses": {
          "200": {
            "description": "What get_guide answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "description": "The page on jabbertoon.com this topic comes from."
                    },
                    "topic": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "text": {
                      "type": "string",
                      "description": "The topic, as Markdown."
                    },
                    "characters": {
                      "type": "integer",
                      "description": "How long text is, in characters."
                    },
                    "topics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "topic": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Every topic, in order."
                    },
                    "as_of": {
                      "type": "string",
                      "description": "The date of the catalog the lists in it come from."
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "parameters": [
          {
            "name": "topic",
            "in": "query",
            "required": false,
            "description": "Leave it out for start, which names the others.",
            "schema": {
              "type": "string",
              "enum": [
                "start",
                "cartoon",
                "text",
                "moves",
                "characters",
                "looks",
                "voices",
                "places",
                "errors",
                "limits"
              ]
            }
          }
        ]
      },
      "post": {
        "operationId": "get_guide_post",
        "summary": "Read Jabbertoon's guide for writing a cartoon",
        "description": "Call this first. Returns one topic of Jabbertoon's guide as Markdown (under 20,000 characters): start (what it makes and the order of calls), cartoon (the JSON program: cast, scenes, lines, moves), text (the same cartoon as screenplay text), moves, characters, looks, voices, places, errors, limits. Units everywhere: x and y are shares of the stage (0 to 1, the ground at 0.92), times are seconds. Example: {\"topic\": \"cartoon\"}.",
        "security": [],
        "responses": {
          "200": {
            "description": "What get_guide answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "description": "The page on jabbertoon.com this topic comes from."
                    },
                    "topic": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "text": {
                      "type": "string",
                      "description": "The topic, as Markdown."
                    },
                    "characters": {
                      "type": "integer",
                      "description": "How long text is, in characters."
                    },
                    "topics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "topic": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Every topic, in order."
                    },
                    "as_of": {
                      "type": "string",
                      "description": "The date of the catalog the lists in it come from."
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "topic": {
                    "type": "string",
                    "enum": [
                      "start",
                      "cartoon",
                      "text",
                      "moves",
                      "characters",
                      "looks",
                      "voices",
                      "places",
                      "errors",
                      "limits"
                    ],
                    "description": "Leave it out for start, which names the others."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "topic": "cartoon"
              }
            }
          }
        }
      }
    },
    "/api/list_moves": {
      "get": {
        "operationId": "list_moves",
        "summary": "List Jabbertoon's ready-made cartoon moves",
        "description": "Lists the ready-made moves a character can do (walk in, wave hello, hop, bow, slump, talk...): id, name, length in seconds, the bodies it works on (two legs, four, none), its settings with units, page and links. A does block plays one: {\"op\": \"does\", \"who\": \"dog\", \"behaviour\": \"c4c:beh:wave_hello\"}. q keeps the moves whose words match or that do what a word means (dance finds Groove, scared finds Cower). Example: {\"q\": \"wave\"}.",
        "security": [],
        "responses": {
          "200": {
            "description": "What list_moves answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "description": "The page that lists every move."
                    },
                    "count": {
                      "type": "integer",
                      "description": "How many moves are listed here."
                    },
                    "total": {
                      "type": "integer",
                      "description": "How many moves there are in all."
                    },
                    "filters": {
                      "type": "object",
                      "description": "The filters this answer used, exactly as given."
                    },
                    "moves": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "slug",
                          "name",
                          "url"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The pack id, e.g. c4c:beh:wave_hello: what a does block's behaviour says."
                          },
                          "slug": {
                            "type": "string",
                            "description": "The last part of the move's page URL."
                          },
                          "pack_slug": {
                            "type": "string",
                            "description": "The short name used in #p= links, e.g. wave_hello."
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "seconds": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "How long the move's preview plays, in seconds."
                          },
                          "skeleton": {
                            "type": "boolean",
                            "description": "True for the moves that bend chains, reach with hands or turn between views."
                          },
                          "version": {
                            "type": "string"
                          },
                          "license": {
                            "type": "string"
                          },
                          "works_on": {
                            "type": "object",
                            "description": "bodies: two, four, none (legs), each with whether the move moves it; templates: the same for each ready-made character."
                          },
                          "suits": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The ready-made characters the move suits."
                          },
                          "params": {
                            "type": "array",
                            "description": "The settings a does block can give it (in params), each with its unit, default and what it does."
                          },
                          "url": {
                            "type": "string",
                            "description": "The move's page on jabbertoon.com."
                          },
                          "links": {
                            "type": "object",
                            "description": "Links that open the move: blocks (the block editor) and studio (the cartoon studio)."
                          }
                        }
                      }
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Words to look for (\"wave\", \"dance\"); leave it out for every move.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ]
      },
      "post": {
        "operationId": "list_moves_post",
        "summary": "List Jabbertoon's ready-made cartoon moves",
        "description": "Lists the ready-made moves a character can do (walk in, wave hello, hop, bow, slump, talk...): id, name, length in seconds, the bodies it works on (two legs, four, none), its settings with units, page and links. A does block plays one: {\"op\": \"does\", \"who\": \"dog\", \"behaviour\": \"c4c:beh:wave_hello\"}. q keeps the moves whose words match or that do what a word means (dance finds Groove, scared finds Cower). Example: {\"q\": \"wave\"}.",
        "security": [],
        "responses": {
          "200": {
            "description": "What list_moves answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "description": "The page that lists every move."
                    },
                    "count": {
                      "type": "integer",
                      "description": "How many moves are listed here."
                    },
                    "total": {
                      "type": "integer",
                      "description": "How many moves there are in all."
                    },
                    "filters": {
                      "type": "object",
                      "description": "The filters this answer used, exactly as given."
                    },
                    "moves": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "slug",
                          "name",
                          "url"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The pack id, e.g. c4c:beh:wave_hello: what a does block's behaviour says."
                          },
                          "slug": {
                            "type": "string",
                            "description": "The last part of the move's page URL."
                          },
                          "pack_slug": {
                            "type": "string",
                            "description": "The short name used in #p= links, e.g. wave_hello."
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "seconds": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "How long the move's preview plays, in seconds."
                          },
                          "skeleton": {
                            "type": "boolean",
                            "description": "True for the moves that bend chains, reach with hands or turn between views."
                          },
                          "version": {
                            "type": "string"
                          },
                          "license": {
                            "type": "string"
                          },
                          "works_on": {
                            "type": "object",
                            "description": "bodies: two, four, none (legs), each with whether the move moves it; templates: the same for each ready-made character."
                          },
                          "suits": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The ready-made characters the move suits."
                          },
                          "params": {
                            "type": "array",
                            "description": "The settings a does block can give it (in params), each with its unit, default and what it does."
                          },
                          "url": {
                            "type": "string",
                            "description": "The move's page on jabbertoon.com."
                          },
                          "links": {
                            "type": "object",
                            "description": "Links that open the move: blocks (the block editor) and studio (the cartoon studio)."
                          }
                        }
                      }
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "q": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Words to look for (\"wave\", \"dance\"); leave it out for every move."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "q": "wave"
              }
            }
          }
        }
      }
    },
    "/api/list_characters": {
      "get": {
        "operationId": "list_characters",
        "summary": "List Jabbertoon's ready-made cartoon characters and voices",
        "description": "Lists the six ready-made characters (person, kid, dog, cat, bird, monster): legs, views, the colour slots a cast entry's look.colors paints on each (a dog's fur is skin), options, page and links; the voices a line can use; and cartoon_example, a whole talking cartoon to copy. Call it to write a cast: {\"dog\": {\"name\": \"Biscuit\", \"look\": {\"template\": \"dog\", \"colors\": {\"skin\": \"#8d6e63\"}}, \"voice\": \"am_puck\"}}.",
        "security": [],
        "responses": {
          "200": {
            "description": "What list_characters answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "description": "The page that lists every character."
                    },
                    "count": {
                      "type": "integer"
                    },
                    "characters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "slug",
                          "name",
                          "template",
                          "url"
                        ],
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "id": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The character pack id (c4c:char:<slug>) when the pack is published, else null."
                          },
                          "name": {
                            "type": "string"
                          },
                          "template": {
                            "type": "string",
                            "description": "What a cast entry's look.template says to draw this character."
                          },
                          "legs": {
                            "type": "integer"
                          },
                          "views": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The views it is drawn in; the first is its own."
                          },
                          "colors": {
                            "type": "array",
                            "description": "The look.colors keys (body, skin, acc), what each paints on this character, and the default colour."
                          },
                          "options": {
                            "type": "array",
                            "description": "The look.options keys this character has, with their values."
                          },
                          "url": {
                            "type": "string",
                            "description": "The character's page on jabbertoon.com."
                          },
                          "links": {
                            "type": "object",
                            "description": "Links that open it: studio (put it in a cartoon) and create (start a new character from it)."
                          }
                        }
                      }
                    },
                    "voices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "The voices a cast entry's voice or a line's voice can name."
                    },
                    "cast_entry_example": {
                      "type": "object",
                      "description": "One cast entry that draws the first character: the value under a cast id, as in {\"cast\": {\"A\": <this>}}."
                    },
                    "cartoon_example": {
                      "type": "object",
                      "description": "A whole talking cartoon file ({cast, program}) to copy: give it to validate as cartoon."
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "parameters": []
      },
      "post": {
        "operationId": "list_characters_post",
        "summary": "List Jabbertoon's ready-made cartoon characters and voices",
        "description": "Lists the six ready-made characters (person, kid, dog, cat, bird, monster): legs, views, the colour slots a cast entry's look.colors paints on each (a dog's fur is skin), options, page and links; the voices a line can use; and cartoon_example, a whole talking cartoon to copy. Call it to write a cast: {\"dog\": {\"name\": \"Biscuit\", \"look\": {\"template\": \"dog\", \"colors\": {\"skin\": \"#8d6e63\"}}, \"voice\": \"am_puck\"}}.",
        "security": [],
        "responses": {
          "200": {
            "description": "What list_characters answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "description": "The page that lists every character."
                    },
                    "count": {
                      "type": "integer"
                    },
                    "characters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "slug",
                          "name",
                          "template",
                          "url"
                        ],
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "id": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The character pack id (c4c:char:<slug>) when the pack is published, else null."
                          },
                          "name": {
                            "type": "string"
                          },
                          "template": {
                            "type": "string",
                            "description": "What a cast entry's look.template says to draw this character."
                          },
                          "legs": {
                            "type": "integer"
                          },
                          "views": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The views it is drawn in; the first is its own."
                          },
                          "colors": {
                            "type": "array",
                            "description": "The look.colors keys (body, skin, acc), what each paints on this character, and the default colour."
                          },
                          "options": {
                            "type": "array",
                            "description": "The look.options keys this character has, with their values."
                          },
                          "url": {
                            "type": "string",
                            "description": "The character's page on jabbertoon.com."
                          },
                          "links": {
                            "type": "object",
                            "description": "Links that open it: studio (put it in a cartoon) and create (start a new character from it)."
                          }
                        }
                      }
                    },
                    "voices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "The voices a cast entry's voice or a line's voice can name."
                    },
                    "cast_entry_example": {
                      "type": "object",
                      "description": "One cast entry that draws the first character: the value under a cast id, as in {\"cast\": {\"A\": <this>}}."
                    },
                    "cartoon_example": {
                      "type": "object",
                      "description": "A whole talking cartoon file ({cast, program}) to copy: give it to validate as cartoon."
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "example": {}
            }
          }
        }
      }
    },
    "/api/list_looks": {
      "get": {
        "operationId": "list_looks",
        "summary": "List Jabbertoon's art styles (looks) and body shapes",
        "description": "Lists the six art styles a character can be drawn in (flat, outlined, soft, storybook, bold, crayon), each with its page and a studio link, and the three body shapes (classic, big head, tall). A cast entry sets them as look.style and look.shape: {\"look\": {\"template\": \"cat\", \"style\": \"crayon\", \"shape\": \"bighead\"}}.",
        "security": [],
        "responses": {
          "200": {
            "description": "What list_looks answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "description": "The page that shows every look."
                    },
                    "count": {
                      "type": "integer"
                    },
                    "looks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "url"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "What look.style says."
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "description": "The look's page on jabbertoon.com."
                          },
                          "links": {
                            "type": "object",
                            "description": "studio: opens the cartoon studio in this look."
                          }
                        }
                      }
                    },
                    "body_shapes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "What look.shape says."
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "parameters": []
      },
      "post": {
        "operationId": "list_looks_post",
        "summary": "List Jabbertoon's art styles (looks) and body shapes",
        "description": "Lists the six art styles a character can be drawn in (flat, outlined, soft, storybook, bold, crayon), each with its page and a studio link, and the three body shapes (classic, big head, tall). A cast entry sets them as look.style and look.shape: {\"look\": {\"template\": \"cat\", \"style\": \"crayon\", \"shape\": \"bighead\"}}.",
        "security": [],
        "responses": {
          "200": {
            "description": "What list_looks answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "description": "The page that shows every look."
                    },
                    "count": {
                      "type": "integer"
                    },
                    "looks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "url"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "What look.style says."
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "description": "The look's page on jabbertoon.com."
                          },
                          "links": {
                            "type": "object",
                            "description": "studio: opens the cartoon studio in this look."
                          }
                        }
                      }
                    },
                    "body_shapes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "What look.shape says."
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "example": {}
            }
          }
        }
      }
    },
    "/api/get_move": {
      "get": {
        "operationId": "get_move",
        "summary": "Get one move's program and readable text",
        "description": "Returns one ready-made move: its block program as JSON, the same program as screenplay text, its length in seconds, what it works on, its settings with units, its page and links. Name it by id (c4c:beh:wave_hello), short name (wave_hello) or page slug. To write your own move, start from one, change it, then validate it. Example: {\"move\": \"wave_hello\"}.",
        "security": [],
        "responses": {
          "200": {
            "description": "What get_move answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "description": "The move's page on jabbertoon.com (the list of moves when the move is not found)."
                    },
                    "id": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "pack_slug": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "seconds": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "skeleton": {
                      "type": "boolean"
                    },
                    "version": {
                      "type": "string"
                    },
                    "license": {
                      "type": "string"
                    },
                    "content_hash": {
                      "type": "string"
                    },
                    "works_on": {
                      "type": "object"
                    },
                    "suits": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "params": {
                      "type": "array",
                      "description": "The settings a does block can give it, each with its unit, default and what it does."
                    },
                    "links": {
                      "type": "object"
                    },
                    "program": {
                      "type": "object",
                      "description": "The move's block program (JSON)."
                    },
                    "text": {
                      "type": "string",
                      "description": "The same program as screenplay text, one block per line."
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "parameters": [
          {
            "name": "move",
            "in": "query",
            "required": true,
            "description": "Its id, short name or page slug, as list_moves gives them.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ]
      },
      "post": {
        "operationId": "get_move_post",
        "summary": "Get one move's program and readable text",
        "description": "Returns one ready-made move: its block program as JSON, the same program as screenplay text, its length in seconds, what it works on, its settings with units, its page and links. Name it by id (c4c:beh:wave_hello), short name (wave_hello) or page slug. To write your own move, start from one, change it, then validate it. Example: {\"move\": \"wave_hello\"}.",
        "security": [],
        "responses": {
          "200": {
            "description": "What get_move answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "description": "The move's page on jabbertoon.com (the list of moves when the move is not found)."
                    },
                    "id": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "pack_slug": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "seconds": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "skeleton": {
                      "type": "boolean"
                    },
                    "version": {
                      "type": "string"
                    },
                    "license": {
                      "type": "string"
                    },
                    "content_hash": {
                      "type": "string"
                    },
                    "works_on": {
                      "type": "object"
                    },
                    "suits": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "params": {
                      "type": "array",
                      "description": "The settings a does block can give it, each with its unit, default and what it does."
                    },
                    "links": {
                      "type": "object"
                    },
                    "program": {
                      "type": "object",
                      "description": "The move's block program (JSON)."
                    },
                    "text": {
                      "type": "string",
                      "description": "The same program as screenplay text, one block per line."
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "move"
                ],
                "properties": {
                  "move": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Its id, short name or page slug, as list_moves gives them."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "move": "wave_hello"
              }
            }
          }
        }
      }
    },
    "/api/validate": {
      "post": {
        "operationId": "validate",
        "summary": "Check a Jabbertoon cartoon, scene, move, pack or character",
        "description": "Checks a cartoon, with the studio's own checks, before anyone sees it. Give one of cartoon, program, pack, character or file. Returns errors (it will not play as written: also a character or background the site lacks) and warnings, each {code, where, says, fix, url}, with did_you_mean and an RFC 6902 patch when certain; issues a viewer would see (off stage, overlapping, an empty stage, a line cut off) with a summary of who is where and says what when (seconds; x as a share of the stage); and, when ok, the canonical program and a link. repair: true also returns the program with every certain patch applied. Nothing you send is kept. Example: list_characters' cartoon_example.",
        "security": [],
        "responses": {
          "200": {
            "description": "What validate answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True when there are no errors."
                    },
                    "url": {
                      "type": "string",
                      "description": "The page that describes this format."
                    },
                    "checked": {
                      "type": "string",
                      "description": "What was checked: program, character, pack or cartoon."
                    },
                    "kind": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The program's kind (behaviour, scene, cartoon), character, or the pack's type."
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Problem"
                      },
                      "description": "The errors, in order: the first 50 at most (error_count says how many there are)."
                    },
                    "error_count": {
                      "type": "integer",
                      "description": "How many errors the checks found."
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Problem"
                      },
                      "description": "The warnings, in order: the first 50 at most (warning_count says how many there are)."
                    },
                    "warning_count": {
                      "type": "integer",
                      "description": "How many warnings the checks found."
                    },
                    "summary": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "What the cartoon shows: its length, its cast, and per scene who is where, who says what when and the captions (seconds; x as a share of the stage)."
                    },
                    "issues": {
                      "type": "array",
                      "description": "What a viewer would see go wrong, in time order: {code, at_s, who, says, fix, url}."
                    },
                    "checks_run": {
                      "type": "array",
                      "description": "Each check of issues: full, approximate (and why) or not_run (and why)."
                    },
                    "play_check": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "On your own computer: the cartoon played as a video would (ok, ran_s, cut, errors). Online: null."
                    },
                    "text": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The program as screenplay text (on your own computer; null online, and text_reason says why)."
                    },
                    "text_reason": {
                      "type": "string"
                    },
                    "program": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "The program that was checked, as canonical JSON (a cartoon file's cast and places merged in)."
                    },
                    "link": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "When ok: a jabbertoon.com link that opens it (share_link gives the same)."
                    },
                    "repaired": {
                      "type": "object",
                      "description": "With repair: true: {program, text (when the cartoon was sent as screenplay text, on the local door: the repaired program written as text), changes: [{code, where, from, to}], ok, error_count, warning_count}."
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cartoon": {
                    "type": [
                      "object",
                      "string"
                    ],
                    "description": "A cartoon: its program, a cartoon file {cast, program}, a project file, or its screenplay text (read only on your own computer)."
                  },
                  "program": {
                    "type": "object",
                    "description": "A move (get_move gives ready-made ones) or a scene program."
                  },
                  "pack": {
                    "type": "object",
                    "description": "A whole pack: its manifest and its content."
                  },
                  "character": {
                    "type": "object",
                    "description": "Your own character, {\"name\", \"content\"}, or a character pack."
                  },
                  "file": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "On your own computer only: a .json or .txt file's name in the output folder."
                  },
                  "repair": {
                    "type": "boolean",
                    "description": "true: also return repaired: the program with every certain patch applied, and the changes."
                  }
                },
                "minProperties": 1,
                "additionalProperties": false
              },
              "example": {
                "cartoon": {
                  "cast": {
                    "dog": {
                      "name": "Biscuit",
                      "look": {
                        "template": "dog",
                        "style": "outlined"
                      }
                    },
                    "cat": {
                      "name": "Mia",
                      "look": {
                        "template": "cat",
                        "style": "outlined"
                      },
                      "at": {
                        "x": 0.7,
                        "facing": -1
                      }
                    }
                  },
                  "program": {
                    "v": 1,
                    "kind": "cartoon",
                    "name": "Hello, Mia",
                    "scripts": [
                      {
                        "hat": {
                          "on": "scene",
                          "name": "Hello"
                        },
                        "body": [
                          {
                            "op": "enter",
                            "who": "dog",
                            "from": "left",
                            "x": 0.3
                          },
                          {
                            "op": "does",
                            "who": "dog",
                            "behaviour": "c4c:beh:wave_hello"
                          },
                          {
                            "op": "say",
                            "who": "dog",
                            "text": "Hi, Mia! Do you want to play?"
                          },
                          {
                            "op": "does",
                            "who": "cat",
                            "behaviour": "c4c:beh:bounce"
                          },
                          {
                            "op": "say",
                            "who": "cat",
                            "text": "Yes, please!",
                            "mood": "happy"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/share_link": {
      "post": {
        "operationId": "share_link",
        "summary": "Make a jabbertoon.com link that opens a cartoon, a move or a character",
        "description": "Turns a cartoon, a scene, a move or a character into a jabbertoon.com link: a move opens in the block editor, the rest in the studio. It all travels after the #: nothing is uploaded or kept. All but a character's end with &from=ai (the page says an AI helper wrote it). One with errors gets them instead. Give one of cartoon, program, character or file. Example: {\"program\": {\"v\": 1, \"kind\": \"behaviour\", \"scripts\": [{\"body\": [{\"op\": \"hop\"}]}]}}.",
        "security": [],
        "responses": {
          "200": {
            "description": "What share_link answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "description": "The jabbertoon.com page the link opens."
                    },
                    "kind": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "behaviour, scene, cartoon or character."
                    },
                    "link": {
                      "type": "string",
                      "description": "The link to give the person."
                    },
                    "links": {
                      "type": "object",
                      "description": "Every page that opens it: studio, blocks, create."
                    },
                    "code": {
                      "type": "string",
                      "description": "The share code after #c=: \"1.\", base64url of the raw DEFLATE of the UTF-8 canonical JSON, \".\", base64url of its CRC-32."
                    },
                    "length": {
                      "type": "integer",
                      "description": "The link's length in characters."
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Problem"
                      },
                      "description": "The errors, in order: the first 50 at most (error_count says how many there are)."
                    },
                    "error_count": {
                      "type": "integer",
                      "description": "How many errors the checks found."
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Problem"
                      },
                      "description": "The warnings, in order: the first 50 at most (warning_count says how many there are)."
                    },
                    "warning_count": {
                      "type": "integer",
                      "description": "How many warnings the checks found."
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cartoon": {
                    "type": [
                      "object",
                      "string"
                    ],
                    "description": "Its program, a cartoon file {cast, places?, program}, or its screenplay text (read on your own computer only)."
                  },
                  "program": {
                    "type": "object",
                    "description": "A move (kind \"behaviour\"), a scene or a cartoon program."
                  },
                  "character": {
                    "type": "object",
                    "description": "Your own character, {\"name\", \"content\"}, or a character pack."
                  },
                  "file": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "On your own computer only: a file's name in the output folder."
                  }
                },
                "minProperties": 1,
                "maxProperties": 1,
                "additionalProperties": false
              },
              "example": {
                "program": {
                  "v": 1,
                  "kind": "behaviour",
                  "name": "Happy bob",
                  "scripts": [
                    {
                      "body": [
                        {
                          "op": "bob",
                          "amp": 12
                        },
                        {
                          "op": "swingPart",
                          "part": "arms",
                          "deg": 30
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/report_problem": {
      "post": {
        "operationId": "report_problem",
        "summary": "Tell Jabbertoon something is wrong",
        "description": "Tells the people who make Jabbertoon something is wrong: a wrong answer, a check that refused a good cartoon or passed a bad one, a move that looks wrong, a link that does not open, wrong docs, or something missing. Unlike the other tools, it keeps what you send: the report (kind, tool, code, where, item, note) is saved for a person to read. Never put the cartoon, a name, an address or anything about the person you help in it. Example: {\"kind\": \"validator_wrong\", \"tool\": \"validate\", \"code\": \"op_unknown\", \"note\": \"say was refused in a cartoon\"}.",
        "security": [],
        "responses": {
          "200": {
            "description": "What report_problem answers. ok is false when what you sent has problems; they are listed with where, says and fix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "url"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "description": "The page about Jabbertoon's tools for AI assistants."
                    },
                    "status": {
                      "type": "string",
                      "description": "received"
                    },
                    "report_id": {
                      "type": "string"
                    },
                    "says": {
                      "type": "string"
                    },
                    "removed": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "What was taken out of the report before it was saved (an email address, for example)."
                    },
                    "engine": {
                      "$ref": "#/components/schemas/Engine"
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Problem"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/Problem"
          },
          "5XX": {
            "$ref": "#/components/responses/Problem"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kind"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "wrong_answer",
                      "validator_wrong",
                      "move_looks_wrong",
                      "link_does_not_open",
                      "docs_wrong",
                      "missing",
                      "other"
                    ],
                    "description": "What kind of problem it is."
                  },
                  "tool": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "The tool whose answer was wrong, e.g. validate."
                  },
                  "code": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "The error code it gave, e.g. op_unknown."
                  },
                  "where": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Where it pointed, e.g. scripts[0].body[2]."
                  },
                  "item": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "What it is about: a move, character or look (c4c:beh:bow, dog, crayon), or a page."
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "What was wrong, in a sentence or two. No cartoon, names or personal details."
                  },
                  "cli_version": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "Set by the jabbertoon tool."
                  },
                  "os": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "Set by the jabbertoon tool: win32, darwin or linux."
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "kind": "wrong_answer",
                "tool": "list_moves",
                "note": "The description of a move does not match what it does."
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Problem": {
        "type": "object",
        "required": [
          "code",
          "where",
          "says",
          "fix"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "where": {
            "type": [
              "string",
              "null"
            ]
          },
          "says": {
            "type": "string"
          },
          "fix": {
            "type": [
              "string",
              "null"
            ]
          },
          "url": {
            "type": "string",
            "description": "The code's entry on https://jabbertoon.com/docs/errors/."
          },
          "did_you_mean": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "patch": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "RFC 6902 operations on what you sent that make the fix, given only when the fix is certain."
          }
        }
      },
      "Engine": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "The block language's version."
          },
          "git": {
            "type": "string",
            "description": "The git tree id of the engine that answered (the same on every door)."
          }
        }
      }
    },
    "responses": {
      "Problem": {
        "description": "A request the server cannot use (400 bad_arguments, 404 not_found, 405, 413 too_large, 415, 503 busy or timeout: try again after Retry-After).",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "ok",
                "url",
                "error"
              ],
              "properties": {
                "ok": {
                  "const": false
                },
                "url": {
                  "type": "string"
                },
                "error": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [],
  "externalDocs": {
    "description": "Developers: quickstart in curl, Python and JavaScript",
    "url": "https://jabbertoon.com/developers/"
  },
  "x-mcp": {
    "url": "https://jabbertoon.com/mcp",
    "transport": "streamable-http"
  }
}