{
  "openapi": "3.1.0",
  "info": {
    "title": "EmailKind API",
    "version": "1.0.0",
    "description": "Classify email addresses and domains by provider and type (business, personal, disposable, education, role) using passive DNS analysis. No email is ever sent.",
    "contact": {
      "name": "EmailKind",
      "url": "https://emailkind.com/contact"
    },
    "license": {
      "name": "Proprietary"
    },
    "x-jentic-source-url": "https://emailkind.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://emailkind.com/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/signup": {
      "post": {
        "operationId": "signup",
        "summary": "Start a programmatic signup and get a free API key",
        "description": "Step 1 of 2. Emails a confirmation code to the address and stores nothing: no account exists until the code comes back. Send the code to /signup/confirm to receive a live free-tier API key (100 lookups/month). Intended for AI agents and scripts, which cannot use the HTML signup form. Limited to 5 requests per hour per IP and 3 codes per hour per address.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "A confirmation code was emailed. The response is identical whether or not the address already has an account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, invalid address, or a disposable domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many signups from this IP, or too many codes sent to this address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Signup temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/signup/confirm": {
      "post": {
        "operationId": "signupConfirm",
        "summary": "Exchange the confirmation code for an API key",
        "description": "Step 2 of 2. Creates the account if it does not exist and returns a live API key, shown once and not recoverable. The code expires 15 minutes after /signup and may be attempted 5 times before the signup is cancelled.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupConfirmRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account confirmed and API key issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupConfirmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Code incorrect, expired, or never issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The account already holds the maximum number of keys for its plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many incorrect codes; the signup was cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/classify": {
      "get": {
        "operationId": "classify",
        "summary": "Classify a single email address or domain",
        "description": "Provide either an email or a domain. Returns the detected provider, classification flags, MX records and a confidence score.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Email address to classify. Either email or domain is required.",
            "example": "ceo@stripe.com"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Domain to classify. Either email or domain is required.",
            "example": "stripe.com"
          },
          {
            "name": "enrich",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include company-name resolution for the domain."
          }
        ],
        "responses": {
          "200": {
            "description": "Classification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or monthly quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/classify/batch": {
      "post": {
        "operationId": "classifyBatch",
        "summary": "Classify up to 100 emails and/or domains in one call",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body or too many items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key issued in the dashboard, sent as 'Authorization: Bearer sk_live_...'."
      }
    },
    "schemas": {
      "SignupRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Where the confirmation code is sent. Must be a real, non-disposable address.",
            "example": "agent@example.com"
          },
          "lang": {
            "type": "string",
            "enum": [
              "en",
              "fr"
            ],
            "default": "en",
            "description": "Language of the confirmation email."
          }
        }
      },
      "SignupResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "request_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "verification_sent"
          },
          "expires_in": {
            "type": "integer",
            "description": "Seconds the code remains valid.",
            "example": 900
          },
          "next": {
            "type": "string",
            "example": "POST /v1/signup/confirm"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SignupConfirmRequest": {
        "type": "object",
        "required": [
          "email",
          "code"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "The same address used for /signup.",
            "example": "agent@example.com"
          },
          "code": {
            "type": "string",
            "description": "The code from the email. Case-insensitive; spaces and dashes are ignored.",
            "example": "K7M2QXAB"
          }
        }
      },
      "SignupConfirmResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "request_id": {
            "type": "string"
          },
          "api_key": {
            "type": "string",
            "description": "Live API key. Returned once and never again — store it as a secret.",
            "example": "sk_live_..."
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "monthly_limit": {
            "type": "integer",
            "description": "Lookups per month. 0 means unlimited.",
            "example": 100
          },
          "burst_limit": {
            "type": "integer",
            "description": "Requests per minute.",
            "example": 10
          },
          "docs": {
            "type": "string",
            "format": "uri"
          },
          "warning": {
            "type": "string"
          }
        }
      },
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "google_workspace"
          },
          "name": {
            "type": "string",
            "example": "Google Workspace"
          },
          "type": {
            "type": "string",
            "enum": [
              "business",
              "personal",
              "disposable",
              "education",
              "hosting",
              "self-hosted",
              "unknown"
            ]
          }
        }
      },
      "Classification": {
        "type": "object",
        "properties": {
          "is_business": {
            "type": "boolean"
          },
          "is_free": {
            "type": "boolean"
          },
          "is_disposable": {
            "type": "boolean"
          },
          "is_education": {
            "type": "boolean"
          },
          "is_custom_domain": {
            "type": "boolean"
          },
          "is_role": {
            "type": "boolean"
          }
        }
      },
      "Company": {
        "type": "object",
        "nullable": true,
        "properties": {
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "request_id": {
            "type": "string",
            "example": "req_a1b2c3d4e5f6"
          },
          "email": {
            "type": "string"
          },
          "normalized_email": {
            "type": "string"
          },
          "domain": {
            "type": "string",
            "example": "stripe.com"
          },
          "provider": {
            "$ref": "#/components/schemas/Provider"
          },
          "classification": {
            "$ref": "#/components/schemas/Classification"
          },
          "company": {
            "$ref": "#/components/schemas/Company"
          },
          "mx": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "example": 0.98
          },
          "cached": {
            "type": "boolean"
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "description": "At least one of emails or domains must be non-empty. Combined total capped at 100 items.",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "enrich": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "BatchResultItem": {
        "type": "object",
        "properties": {
          "input": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "domain": {
            "type": "string"
          },
          "normalized_email": {
            "type": "string"
          },
          "provider": {
            "$ref": "#/components/schemas/Provider"
          },
          "classification": {
            "$ref": "#/components/schemas/Classification"
          },
          "company": {
            "$ref": "#/components/schemas/Company"
          },
          "confidence": {
            "type": "number",
            "format": "float"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "request_id": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchResultItem"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "request_id": {
            "type": "string"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "MISSING_PARAMETER"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}