{
  "openapi": "3.1.0",
  "info": {
    "title": "DataEcho Public API",
    "version": "1.0.0",
    "description": "Publish any file or folder to a live, edge-served URL in seconds — no account, no sign-up — using ordinary HTTP. Plus private, versioned cloud Drives for agent memory, context, and handoff.",
    "contact": {
      "name": "DataEcho",
      "url": "https://dataecho.ai"
    },
    "x-jentic-source-url": "https://dataecho.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://dataecho.ai"
    }
  ],
  "paths": {
    "/api/auth/agent/request-code": {
      "post": {
        "summary": "Email a one-time sign-in code",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/auth/agent/verify-code": {
      "post": {
        "summary": "Verify code, return API key (creates account if new)",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/publish": {
      "post": {
        "summary": "Create a site; returns presigned uploads + finalizeUrl",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "path",
                        "size",
                        "contentType"
                      ],
                      "properties": {
                        "path": {
                          "type": "string"
                        },
                        "size": {
                          "type": "integer"
                        },
                        "contentType": {
                          "type": "string"
                        },
                        "hash": {
                          "type": "string",
                          "description": "SHA-256 hex; enables incremental deploys"
                        }
                      }
                    }
                  },
                  "ttlSeconds": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "spaMode": {
                    "type": "boolean"
                  },
                  "viewer": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ogImagePath": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created (anonymous adds claimToken/claimUrl/expiresAt)"
          }
        }
      }
    },
    "/api/v1/publish/{slug}": {
      "get": {
        "summary": "Site details + full manifest",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "put": {
        "summary": "Update site (new version)",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "delete": {
        "summary": "Hard delete site + files",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/publish/{slug}/finalize": {
      "post": {
        "summary": "Make the uploaded version live",
        "tags": [
          "Sites"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/publish/{slug}/uploads/refresh": {
      "post": {
        "summary": "Refresh expired presigned URLs",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/publish/{slug}/claim": {
      "post": {
        "summary": "Claim an anonymous site via claimToken",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/publish/{slug}/duplicate": {
      "post": {
        "summary": "Server-side copy under a new slug",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/publish/{slug}/metadata": {
      "patch": {
        "summary": "TTL, viewer, password, spaMode",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/publish/from-drive": {
      "post": {
        "summary": "Publish a Drive version as a site",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/publishes": {
      "get": {
        "summary": "List owned sites",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/publishes/search": {
      "get": {
        "summary": "Search owned sites (q, limit, cursor)",
        "tags": [
          "Sites"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/publishes/{slug}/data/{collection}": {
      "get": {
        "summary": "List records",
        "tags": [
          "Site Data"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "post": {
        "summary": "Create record",
        "tags": [
          "Site Data"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/publishes/{slug}/data/{collection}/{recordId}": {
      "get": {
        "summary": "Read record",
        "tags": [
          "Site Data"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "patch": {
        "summary": "Update record",
        "tags": [
          "Site Data"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "delete": {
        "summary": "Soft-delete record",
        "tags": [
          "Site Data"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/publishes/{slug}/analytics": {
      "get": {
        "summary": "Per-site analytics (range=24h|7d|30d|90d|all)",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/analytics": {
      "get": {
        "summary": "Account analytics rollups",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/domains": {
      "post": {
        "summary": "Add a custom domain",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "get": {
        "summary": "List domains",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/domains/{domain}": {
      "get": {
        "summary": "Status (triggers verification)",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "delete": {
        "summary": "Remove a domain",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/handle": {
      "post": {
        "summary": "Claim a subdomain handle",
        "tags": [
          "Handles"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "get": {
        "summary": "Get handle",
        "tags": [
          "Handles"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "patch": {
        "summary": "Rename handle",
        "tags": [
          "Handles"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "delete": {
        "summary": "Delete handle",
        "tags": [
          "Handles"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/links": {
      "post": {
        "summary": "Create/update a link",
        "tags": [
          "Links"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "get": {
        "summary": "List links",
        "tags": [
          "Links"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/links/{location}": {
      "get": {
        "summary": "Read a link (__root__ for root)",
        "tags": [
          "Links"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "patch": {
        "summary": "Update a link",
        "tags": [
          "Links"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "delete": {
        "summary": "Delete a link",
        "tags": [
          "Links"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/me/variables": {
      "get": {
        "summary": "List variable names (never values)",
        "tags": [
          "Variables"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/me/variables/{name}": {
      "put": {
        "summary": "Create/update a secret",
        "tags": [
          "Variables"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "delete": {
        "summary": "Delete a secret",
        "tags": [
          "Variables"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/profile": {
      "get": {
        "summary": "Read profile",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "patch": {
        "summary": "Update profile settings",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/profile/username": {
      "patch": {
        "summary": "Change username",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/profile/sites": {
      "get": {
        "summary": "List listed sites",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "post": {
        "summary": "Add a listed site",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/profile/sites/{slug}": {
      "delete": {
        "summary": "Remove a listed site",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/drives": {
      "post": {
        "summary": "Create a drive",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "get": {
        "summary": "List drives",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/drives/default": {
      "get": {
        "summary": "Get/create the default drive",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/drives/{driveId}/files": {
      "get": {
        "summary": "List files (prefix=)",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "patch": {
        "summary": "Atomic batch",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/drives/{driveId}/files/uploads": {
      "post": {
        "summary": "Stage a write (presigned PUT)",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/drives/{driveId}/files/finalize": {
      "post": {
        "summary": "Finalize a staged upload (ETag preconditions)",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/drives/{driveId}/files/move": {
      "post": {
        "summary": "Move a file",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/drives/{driveId}/files/{path}": {
      "get": {
        "summary": "Read a file",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "delete": {
        "summary": "Delete a file (If-Match)",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/drives/{driveId}/tokens": {
      "post": {
        "summary": "Mint a scoped drive token",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      },
      "get": {
        "summary": "List tokens",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    },
    "/api/v1/drives/{driveId}/tokens/{tokenId}": {
      "delete": {
        "summary": "Revoke a token",
        "tags": [
          "Drives"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "4XX": {
            "description": "Error (see error model)"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key or drive token (drv_live_…) where noted."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}