{
  "openapi": "3.1.0",
  "info": {
    "title": "User Intuition Public API",
    "description": "## Public Integration API\n\nProgrammatic access to User Intuition for external integrators: manage studies, participants, interviews, reports, and panels.\n\n### Authentication\n\nAll endpoints require a Bearer token — either an API key (prefixed `ui_sk_`, created in the dashboard) or a dashboard JWT:\n\n```\nAuthorization: Bearer <ui_sk_… or JWT>\n```\n\n### Base URLs\n\n- **Production:** `https://api.userintuition.ai`\n- **Staging:** `https://staging.userintuition.ai`\n\n### Support\n\nFor API support, contact support@userintuition.ai",
    "version": "1.0.0",
    "contact": {
      "name": "User Intuition Support",
      "email": "support@userintuition.ai"
    },
    "x-jentic-source-url": "https://api.userintuition.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.userintuition.ai",
      "description": "Production"
    },
    {
      "url": "https://staging.userintuition.ai",
      "description": "Staging"
    }
  ],
  "paths": {
    "/api/public/v1/studies/": {
      "get": {
        "tags": [
          "public-studies"
        ],
        "summary": "List Studies",
        "operationId": "listStudies",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            },
            "example": 1
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Page Size"
            },
            "example": 20
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by name",
              "title": "Name"
            },
            "description": "Filter by name",
            "example": "Appliance"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by provisioning status: draft, ready, provisioned",
              "title": "Status"
            },
            "description": "Filter by provisioning status: draft, ready, provisioned"
          },
          {
            "name": "recruiting_method",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by panel, byop, or synthetic_respondents",
              "title": "Recruiting Method"
            },
            "description": "Filter by panel, byop, or synthetic_respondents"
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Created After"
            }
          },
          {
            "name": "has_report",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Has Report"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStudyList"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "List studies visible to this account with pagination and optional filters."
      },
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Create Study",
        "operationId": "createStudy",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicStudyCreate"
              },
              "examples": {
                "Minimal draft": {
                  "summary": "Minimal draft",
                  "description": "Creates a BYOP draft. The response lists the settings still required before interviews can run.",
                  "value": {
                    "name": "Recent appliance purchases",
                    "study_type": "in-depth-interview",
                    "recruiting_method": "byop"
                  }
                },
                "Synthetic respondents": {
                  "summary": "Chat study with synthetic respondents",
                  "description": "synthetic_respondents uses AI respondents. interview_format defaults to chat when omitted; video and voice are rejected for this recruiting method.",
                  "value": {
                    "name": "AI research tool positioning",
                    "study_type": "in-depth-interview",
                    "recruiting_method": "synthetic_respondents",
                    "language": "en",
                    "expected_duration_seconds": 900,
                    "study_plan": {
                      "objectives": "Understand what triggers startup CEOs to evaluate AI-powered research tools, how they build a shortlist, and what proof makes a provider credible.",
                      "conversation_flow": "Discuss the last important customer-research decision, how the CEO gathered input, why they considered an AI tool, alternatives they compared, trust thresholds, and evidence needed to shortlist one.",
                      "background": "Research into the earliest evaluation stage for AI research tools."
                    }
                  }
                },
                "Single-select screener": {
                  "summary": "In-depth interview with single-select screener",
                  "description": "A five-minute BYOP chat study. Choosing No disqualifies the respondent.",
                  "value": {
                    "name": "Recent appliance purchases",
                    "study_type": "in-depth-interview",
                    "recruiting_method": "byop",
                    "interview_format": "chat",
                    "language": "en",
                    "expected_duration_seconds": 300,
                    "study_plan": {
                      "objectives": "Understand what triggered one recent blender or microwave purchase, which alternatives were considered, and how price and reliability affected the choice.",
                      "conversation_flow": "Ask for the participant's purchase story. Explore the need that triggered it, the closest alternative, the price-versus-reliability tradeoff, and satisfaction after using the appliance.",
                      "background": "Exploratory research into household appliance purchase decisions."
                    },
                    "screener_questions": [
                      {
                        "text": "Have you bought a blender or microwave in the past year?",
                        "type": "single_select",
                        "options": [
                          {
                            "text": "Yes",
                            "disqualify": false
                          },
                          {
                            "text": "No",
                            "disqualify": true
                          }
                        ]
                      }
                    ]
                  }
                },
                "Multi-select screener": {
                  "summary": "Concept test with multi-select screener",
                  "description": "Every multi-select option must set selection_rule. must_select is required, may_select is optional, and reject disqualifies when selected.",
                  "value": {
                    "name": "Analytics dashboard concept",
                    "study_type": "concept-test",
                    "recruiting_method": "byop",
                    "interview_format": "voice",
                    "voice": "female",
                    "language": "en",
                    "expected_duration_seconds": 900,
                    "study_plan": {
                      "objectives": "Learn how product managers interpret and prioritize a dashboard concept.",
                      "conversation_flow": "Discuss current reporting work, show the concept, and probe comprehension, value, and concerns."
                    },
                    "screener_questions": [
                      {
                        "text": "Which tools do you currently use for product analytics?",
                        "type": "multi_select",
                        "options": [
                          {
                            "text": "Amplitude",
                            "selection_rule": "must_select"
                          },
                          {
                            "text": "Mixpanel",
                            "selection_rule": "may_select"
                          },
                          {
                            "text": "I do not use analytics tools",
                            "selection_rule": "reject"
                          }
                        ]
                      }
                    ]
                  }
                },
                "Numeric text screener": {
                  "summary": "Voice study with numeric text screener",
                  "description": "An integers-only answer constrained to an inclusive age range. text_input questions have no options.",
                  "value": {
                    "name": "Home appliance ownership",
                    "study_type": "in-depth-interview",
                    "recruiting_method": "byop",
                    "interview_format": "voice",
                    "voice": "male",
                    "language": "en",
                    "expected_duration_seconds": 600,
                    "study_plan": {
                      "objectives": "Understand what triggered one recent blender or microwave purchase, which alternatives were considered, and how price and reliability affected the choice.",
                      "conversation_flow": "Ask for the participant's purchase story. Explore the need that triggered it, the closest alternative, the price-versus-reliability tradeoff, and satisfaction after using the appliance.",
                      "background": "Exploratory research into household appliance purchase decisions."
                    },
                    "screener_questions": [
                      {
                        "text": "What is your age?",
                        "type": "text_input",
                        "input_mode": "integers_only",
                        "numeric_ranges": [
                          {
                            "min": 25,
                            "max": 64
                          }
                        ]
                      }
                    ]
                  }
                },
                "Prototype video Panel": {
                  "summary": "Panel prototype test with catalog targeting",
                  "description": "Uses a video interview and panel targeting IDs. Look up current qualification_id and option_id values with GET /targeting-attributes before sending.",
                  "value": {
                    "name": "Checkout prototype test",
                    "study_type": "prototype-test",
                    "recruiting_method": "panel",
                    "interview_format": "video",
                    "voice": "female",
                    "language": "en",
                    "expected_duration_seconds": 1200,
                    "study_plan": {
                      "objectives": "Observe where startup leaders hesitate while evaluating a checkout prototype.",
                      "conversation_flow": "Establish context, ask the participant to use the prototype, then probe expectations and friction."
                    },
                    "targeting_attributes": [
                      {
                        "qualification_id": 89,
                        "allowed_options": [
                          1
                        ],
                        "disallowed_options": []
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStudy"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a draft study. Customize its plan before inviting participants or launching recruitment."
      }
    },
    "/api/public/v1/studies/{study_id}/concept-images": {
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Upload Concept Image",
        "description": "Upload a participant-facing image stimulus, up to 10 MB, to an owned study.",
        "operationId": "uploadConceptImage",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_uploadConceptImage"
              },
              "examples": {
                "Image file": {
                  "summary": "Attach an image file",
                  "description": "Send PNG, JPEG, GIF, or WebP bytes, up to 10 MB, with a participant-facing label.",
                  "value": {
                    "file": "<image binary>",
                    "label": "Concept A"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicConceptImage"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/concept-images/from-url": {
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Upload Concept Image From Url",
        "description": "Fetch a public image URL with redirect and private-network checks, then attach it to an owned study.",
        "operationId": "uploadConceptImageFromUrl",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicConceptImageUrlUpload"
              },
              "examples": {
                "Public image URL": {
                  "summary": "Attach an image by URL",
                  "description": "The API checks the URL and redirects before downloading a bounded image.",
                  "value": {
                    "url": "https://example.com/concept.png",
                    "label": "Concept A"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicConceptImage"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/customize-plan": {
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Customize Study Plan",
        "description": "Run one resumable turn through the same planning agent and tools used by\nthe dashboard's Customize Plan page.\n\nThe conversation id is stored on the study. Questions are returned to the\ncaller; completed plan markdown is persisted automatically.",
        "operationId": "customizeStudyPlan",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCustomizeStudyRequest"
              },
              "examples": {
                "Planning turn": {
                  "summary": "Planning instruction",
                  "description": "Send one natural-language turn. If response_type is question, answer it in the next call.",
                  "value": {
                    "message": "We want to understand how households choose a blender or microwave. Ask about one recent purchase, what triggered it, the closest alternative, and how they weighed price against reliability."
                  }
                },
                "Delegated research design": {
                  "summary": "Proceed with research-design assumptions",
                  "description": "The researcher delegated ordinary design choices. Keep draft-only workflow instructions out of the research message; this call does not launch fieldwork.",
                  "value": {
                    "message": "Understand why recent buyers abandoned checkout and what reassurance they needed.",
                    "decisions": "agent",
                    "execution_policy": "draft_only"
                  }
                },
                "Concept image": {
                  "summary": "Planning turn with concept image",
                  "description": "data_base64 contains image bytes only, without a data-URL prefix. Decoded files may be at most 10 MB.",
                  "value": {
                    "message": "Add this checkout screen to the plan and ask what the participant expects to happen next.",
                    "concept_image": {
                      "data_base64": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAAB",
                      "filename": "checkout.png",
                      "content_type": "image/png",
                      "label": "Checkout screen"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomizeStudyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/customize-plan/jobs": {
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Queue Customize Study Plan",
        "description": "Queue one planning turn and return immediately with a durable job ID.",
        "operationId": "queueCustomizeStudyPlan",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCustomizeStudyRequest"
              },
              "examples": {
                "Planning turn": {
                  "summary": "Queue a planning instruction",
                  "description": "Receive a job ID immediately, then poll the job for the next question or saved plan.",
                  "value": {
                    "message": "Understand why recent buyers abandoned checkout and what reassurance they needed.",
                    "decisions": "human",
                    "execution_policy": "review_before_fieldwork"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomizeStudyJob"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/customize-plan/jobs/{job_id}": {
      "get": {
        "tags": [
          "public-studies"
        ],
        "summary": "Get Customize Study Job",
        "operationId": "getCustomizeStudyJob",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            },
            "example": "66666666-7777-8888-9999-aaaaaaaaaaaa"
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCustomizeStudyJob"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Poll an asynchronous planning turn. A failed turn is not replayed automatically; inspect the saved study before retrying."
      }
    },
    "/api/public/v1/studies/create-with-participants": {
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Create Study With Participants",
        "description": "Create a BYOP study and its participant invitations in one request.",
        "operationId": "createStudyWithParticipants",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCreateWithParticipants"
              },
              "examples": {
                "Emailed and silent": {
                  "summary": "Create a provisioned study with emailed and silent invites",
                  "description": "silent false sends the invitation email; silent true creates the participant without sending it.",
                  "value": {
                    "study": {
                      "name": "AI research tool shortlist",
                      "study_type": "in-depth-interview",
                      "recruiting_method": "byop",
                      "interview_format": "voice",
                      "voice": "male",
                      "language": "en",
                      "expected_duration_seconds": 1080,
                      "study_plan": {
                        "objectives": "Understand what triggers startup CEOs to evaluate AI-powered research tools, how they build a shortlist, and what proof makes a provider credible.",
                        "conversation_flow": "Discuss the last important customer-research decision, how the CEO gathered input, why they considered an AI tool, alternatives they compared, trust thresholds, and evidence needed to shortlist one.",
                        "background": "Research into the earliest evaluation stage for AI research tools."
                      },
                      "byop_config": {
                        "incentive_amount": 123,
                        "is_incentives_enabled": true,
                        "auto_send_incentives": true
                      }
                    },
                    "participants": [
                      {
                        "email": "alex@example.com",
                        "silent": false
                      },
                      {
                        "email": "sam@example.com",
                        "silent": true
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCreateWithParticipantsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/create-and-launch-panel": {
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Create Study And Launch Panel",
        "description": "Preview a Panel study without creating or fielding it. Paid launch requires\na persisted study and a current estimate from the two-step launch flow.",
        "operationId": "createStudyAndLaunchPanel",
        "parameters": [
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCreateAndLaunch"
              },
              "examples": {
                "Targeted dry run": {
                  "summary": "Targeted cost estimate",
                  "description": "dry_run true validates the complete request and returns cost and timeline without creating or fielding a study.",
                  "value": {
                    "study": {
                      "name": "Startup CEO AI tool shortlist",
                      "study_type": "in-depth-interview",
                      "recruiting_method": "panel",
                      "interview_format": "voice",
                      "voice": "male",
                      "language": "en",
                      "expected_duration_seconds": 1200,
                      "study_plan": {
                        "objectives": "Understand what triggers startup CEOs to evaluate AI-powered research tools, how they build a shortlist, and what proof makes a provider credible.",
                        "conversation_flow": "Discuss the last important customer-research decision, how the CEO gathered input, why they considered an AI tool, alternatives they compared, trust thresholds, and evidence needed to shortlist one.",
                        "background": "Research into the earliest evaluation stage for AI research tools."
                      },
                      "targeting_attributes": [
                        {
                          "qualification_id": 89,
                          "allowed_options": [
                            1
                          ],
                          "disallowed_options": []
                        }
                      ],
                      "screener_questions": [
                        {
                          "text": "Are you the founder or CEO of a startup?",
                          "type": "single_select",
                          "options": [
                            {
                              "text": "Yes",
                              "disqualify": false
                            },
                            {
                              "text": "No",
                              "disqualify": true
                            }
                          ]
                        }
                      ]
                    },
                    "panel": {
                      "target": 20,
                      "incident_rate": 25,
                      "country_code": "US",
                      "frequency": "one-time",
                      "dry_run": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCreateAndLaunchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}": {
      "get": {
        "tags": [
          "public-studies"
        ],
        "summary": "Get Study",
        "operationId": "getStudy",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStudy"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieve the persisted study, including its current plan, status, and participant link."
      },
      "patch": {
        "tags": [
          "public-studies"
        ],
        "summary": "Patch Study",
        "description": "Partially update a study. Only provided fields change; screener_questions\nand targeting_attributes are patched independently (one doesn't wipe the other).",
        "operationId": "patchStudy",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicStudyUpdate"
              },
              "examples": {
                "Metadata only": {
                  "summary": "Change selected metadata",
                  "description": "PATCH changes only fields present in the body.",
                  "value": {
                    "name": "Updated appliance interviews",
                    "expected_duration_seconds": 600
                  }
                },
                "BYOP incentives": {
                  "summary": "Configure BYOP incentives",
                  "description": "BYOP incentive configuration belongs on study update, not study creation. Amount is USD and must be 5–500.",
                  "value": {
                    "byop_config": {
                      "incentive_amount": 25,
                      "is_incentives_enabled": true,
                      "auto_send_incentives": true
                    }
                  }
                },
                "Replace screeners": {
                  "summary": "Replace custom screeners",
                  "description": "Supplying screener_questions replaces the custom screener set without clearing panel targeting attributes.",
                  "value": {
                    "screener_questions": [
                      {
                        "text": "Which appliance types have you purchased in the past year?",
                        "type": "multi_select",
                        "options": [
                          {
                            "text": "Blender",
                            "selection_rule": "may_select"
                          },
                          {
                            "text": "Microwave",
                            "selection_rule": "may_select"
                          },
                          {
                            "text": "None of these",
                            "selection_rule": "reject"
                          }
                        ]
                      },
                      {
                        "text": "How many household appliances have you purchased in the past year?",
                        "type": "text_input",
                        "input_mode": "integers_only",
                        "numeric_ranges": [
                          {
                            "min": 1,
                            "max": 20
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStudy"
                }
              }
            }
          },
          "409": {
            "description": "Active panel must be paused or stopped before editing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStudyEditConflict"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "public-studies"
        ],
        "summary": "Delete Study",
        "operationId": "deleteStudy",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStudy"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Soft-delete a study and remove its linked research from normal reads."
      }
    },
    "/api/public/v1/studies/{study_id}/fielding-progress": {
      "get": {
        "tags": [
          "public-studies"
        ],
        "summary": "Get Fielding Progress",
        "description": "Show current target progress, quality grades, and a conservative finish estimate.",
        "operationId": "getFieldingProgress",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicFieldingProgress"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/embed-code": {
      "get": {
        "tags": [
          "public-studies"
        ],
        "summary": "Get Study Embed Code",
        "description": "Return copy-ready HTML that launches a study from another website.",
        "operationId": "getStudyEmbedCode",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "widget",
                "button"
              ],
              "type": "string",
              "description": "Return a full interview widget or a link styled as a button",
              "default": "widget",
              "title": "Type"
            },
            "description": "Return a full interview widget or a link styled as a button"
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStudyEmbedCode"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/pause": {
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Pause Study",
        "description": "Pause a study. Panel surveys, target cycles, and reward holds are preserved.",
        "operationId": "pauseStudy",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStudy"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/resume": {
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Resume Study",
        "description": "Resume a paused study. A preserved panel survey returns to fielding.",
        "operationId": "resumeStudy",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStudy"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/stop": {
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Stop Study",
        "description": "Stop recruitment and prevent additional interviews through study links.",
        "operationId": "stopStudy",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStudy"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/report": {
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Generate Report",
        "description": "Queue report analysis and return a job to poll; report.ready also fires on completion.",
        "operationId": "generateStudyReport",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicJob"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "public-studies"
        ],
        "summary": "Get Report",
        "operationId": "getStudyReport",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "overview",
                "full",
                "references",
                "study_findings",
                "participant_profiles",
                "participant_responses",
                "evidence_coverage",
                "recommended_next_steps"
              ],
              "type": "string",
              "description": "overview (default), full, or one report section",
              "default": "overview",
              "title": "View"
            },
            "description": "overview (default), full, or one report section",
            "example": "study_findings"
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicReport"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Read the latest persisted report. Choose an overview, one section, or the full report with view."
      }
    },
    "/api/public/v1/studies/{study_id}/report/jobs/{job_id}": {
      "get": {
        "tags": [
          "public-studies"
        ],
        "summary": "Get Report Job",
        "operationId": "getStudyReportJob",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            }
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicJob"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        },
        "description": "Poll an asynchronous report job until it succeeds or fails."
      }
    },
    "/api/public/v1/studies/{study_id}/estimate-panel": {
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Estimate Panel",
        "description": "Read-only estimate of one panel recruitment cycle, including balance and card hold.",
        "operationId": "estimatePanel",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicPanelCreate"
              },
              "examples": {
                "Read-only panel estimate": {
                  "summary": "Estimate one recruitment cycle",
                  "description": "Returns credit cost, available balance, participant reward, card hold, and a heuristic timeline without launching.",
                  "value": {
                    "target": 20,
                    "incident_rate": 25,
                    "country_code": "US",
                    "frequency": "one-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPanelResponse"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/launch-panel": {
      "post": {
        "tags": [
          "public-studies"
        ],
        "summary": "Launch Panel",
        "description": "Launch a paid panel for a Panel-type study (use ``dry_run`` for a cost estimate).",
        "operationId": "launchPanel",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            },
            "example": "11111111-2222-3333-4444-555555555555"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicPanelCreate"
              },
              "examples": {
                "Cost estimate": {
                  "summary": "Untargeted cost estimate",
                  "description": "Returns estimated price and timeline without starting recruitment.",
                  "value": {
                    "target": 20,
                    "incident_rate": 25,
                    "country_code": "US",
                    "frequency": "one-time",
                    "dry_run": true
                  }
                },
                "Fixed option targets": {
                  "summary": "Estimate with fixed option targets",
                  "description": "Reserves 8 interviews for option 1. Other qualifying options share the remaining 12 interviews.",
                  "value": {
                    "target": 20,
                    "incident_rate": 25,
                    "country_code": "US",
                    "frequency": "one-time",
                    "dry_run": true,
                    "targeting_attributes": [
                      {
                        "qualification_id": 2,
                        "option_targets": [
                          {
                            "option_id": 1,
                            "target": 8
                          }
                        ]
                      }
                    ]
                  }
                },
                "Option-target object map": {
                  "summary": "Option targets as an object map",
                  "description": "Direct API clients may key option_targets by option ID. This is equivalent to the array form.",
                  "value": {
                    "target": 20,
                    "incident_rate": 25,
                    "country_code": "US",
                    "frequency": "one-time",
                    "dry_run": true,
                    "targeting_attributes": [
                      {
                        "qualification_id": 2,
                        "option_targets": {
                          "1": 8
                        }
                      }
                    ]
                  }
                },
                "Paid launch": {
                  "summary": "Start paid recruitment",
                  "description": "Launch an already-provisioned Panel study with a current estimate_id from estimatePanel after approval.",
                  "value": {
                    "target": 20,
                    "incident_rate": 25,
                    "country_code": "US",
                    "frequency": "one-time",
                    "dry_run": false,
                    "estimate_id": "est_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPanelResponse"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/exports/interviews": {
      "post": {
        "tags": [
          "public-exports"
        ],
        "summary": "Queue Interview Export",
        "description": "Queue a private CSV or JSONL export for one page of a study's interviews.",
        "operationId": "queueInterviewExport",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "enum": [
                "csv",
                "jsonl"
              ],
              "type": "string",
              "description": "Export format",
              "title": "Format"
            },
            "description": "Export format"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page of at most 100 interviews",
              "default": 1,
              "title": "Page"
            },
            "description": "Page of at most 100 interviews"
          },
          {
            "name": "redact_pii",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Mask email, phone, and US SSN patterns and omit recording links",
              "default": true,
              "title": "Redact Pii"
            },
            "description": "Mask email, phone, and US SSN patterns and omit recording links"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicInterviewExportJob"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/exports/interviews/jobs/{job_id}": {
      "get": {
        "tags": [
          "public-exports"
        ],
        "summary": "Get Interview Export Job",
        "description": "Poll a private export and receive a fresh 15-minute URL when complete.",
        "operationId": "getInterviewExportJob",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            }
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicInterviewExportJob"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/exports/report-slides": {
      "post": {
        "tags": [
          "public-exports"
        ],
        "summary": "Queue Report Slide Export",
        "description": "Queue an editable PowerPoint deck from the latest saved study report.",
        "operationId": "queueReportSlideExport",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            }
          },
          {
            "name": "redact_pii",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Mask common identifiers in report text and quotes",
              "default": true,
              "title": "Redact Pii"
            },
            "description": "Mask common identifiers in report text and quotes"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Idempotency-Key"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicReportSlideExportJob"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/exports/report-slides/jobs/{job_id}": {
      "get": {
        "tags": [
          "public-exports"
        ],
        "summary": "Get Report Slide Export Job",
        "description": "Poll a slide export and receive a fresh private download URL.",
        "operationId": "getReportSlideExportJob",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            }
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicReportSlideExportJob"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/studies/{study_id}/external-panel": {
      "get": {
        "tags": [
          "public-external-panels"
        ],
        "summary": "Get Study External Panel",
        "description": "Get the external-panel entry link and outcome redirects for an owned BYOP study.",
        "operationId": "getStudyExternalPanel",
        "parameters": [
          {
            "name": "study_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Study Id"
            }
          },
          {
            "name": "X-UI-Organization-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 128
                },
                {
                  "type": "null"
                }
              ],
              "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet.",
              "title": "X-Ui-Organization-Id"
            },
            "description": "Platform admins only: choose an organization for scoped reads and writes. Required to change another organization's study or use its wallet."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicExternalPanelConfig"
                }
              }
            }
          },
          "422": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Public API error. X-Request-ID matches error.request_id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "public-external-panels"
        ],
        "summary": "Put Study External Panel",
[...]
