{
  "openapi": "3.0.3",
  "info": {
    "title": "Finero Public API",
    "version": "1.0.0",
    "description": "Tenant-scoped public API for Finero — AR / cash-flow automation. Authenticate every request with `Authorization: Bearer <API key>` (keys are created in Settings → API and are tenant-owned). All data belongs to the key's tenant; no request input can address another tenant. Two permissions exist: **admin** keys can call every operation; **readonly** keys only operations without side effects (`x-permission: readonly`). Lists are cursor-paginated (limit 1–100, follow pagination.next_cursor). Request bodies are capped at 64 KiB. Rate limits: 120/min per key and 600/min per tenant, both fixed 60-second windows. EVERY response that reached the limiter carries `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset` (seconds until the window resets) and `RateLimit-Policy` (both quotas, static), plus the same figures as the newer combined `RateLimit` field. Pace against them rather than waiting to be refused. The triple describes whichever quota is CLOSEST TO REFUSING, so a key that is fine may still show little headroom when the tenant is busy. The counters are shared server-side, not per-instance, so the numbers are exact rather than approximate. Requests rejected BEFORE the limiter — unknown path, bad credentials, wrong method — consume no quota and carry no rate-limit fields. 429 adds `Retry-After` in seconds (RFC 9110); waiting that long is enough, and retrying sooner is refused again. Failed-authentication attempts are limited separately per source IP; that quota is deliberately not published. The windows are FIXED rather than sliding, so a burst spanning a boundary can pass up to twice the limit before being refused — do not treat the limit as a hard ceiling over less than two windows. `RateLimit-Remaining` RISES when a window rolls, for the same reason; an increase is the quota refilling, not an error. Watch `RateLimit-Reset` jump upward to tell a roll from a miscount. A 503 is not the limiter: under extreme concurrency the platform sheds load before the request reaches Finero, so it carries neither rate-limit fields nor Retry-After. Back off and retry. Decimal money amounts are exact strings (never floats); *_minor amounts are integers in the currency's minor unit. Timestamps are ISO 8601 UTC.\n\n**There is a second way in.** This API is for systems and unattended automation, authenticated by a tenant API key that acts as the WORKSPACE. If instead a person is present and connecting an AI assistant to their own workspace, use the Finero MCP server at `https://app.getfinero.com/mcp` — Model Context Protocol over the Streamable HTTP transport (JSON-RPC 2.0, `MCP-Protocol-Version` 2026-07-28, 2025-11-25, 2025-06-18, 2025-03-26), authorized with OAuth 2.1 so the session acts as THAT PERSON. Its `server.json` manifest — the MCP registry's published format — is at `https://app.getfinero.com/mcp/server.json`. It is read-mostly — 24 tools (list_tasks, dismiss_task, summarize_aging, list_customer_aging, list_aging_installments, list_invoices, summarize_invoices, get_invoice, list_payment_integrations, list_payments, list_workflows, list_workflow_executions, list_erp_connections, list_sync_runs, get_sync_run, start_erp_sync, list_payment_links, get_payment_link, create_payment_links, list_scheduled_emails, update_scheduled_email, delete_scheduled_email, push_payment_receipts, deactivate_payment_link). An agent may do what its person may: issue payment links (one, or a split of up to 12) and withdraw them, and reschedule or cancel their emails; an admin's agent may also start an ERP sync and release held receipts to the ERP. It can never send email it has written, or take or move money. Its OAuth scopes are declared in RFC 9728 protected-resource metadata at `https://app.getfinero.com/mcp/.well-known/oauth-protected-resource`, which also names the authorization server. The two are not interchangeable: if you hold an API key, use this API.",
    "x-jentic-source-url": "https://api.getfinero.com/functions/v1/api/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.getfinero.com/functions/v1/api"
    }
  ],
  "paths": {
    "/v1/aging/customers": {
      "get": {
        "operationId": "listCustomerAging",
        "summary": "List customer aging balances",
        "description": "Current installment-level aging in the workspace timezone, read from the PAYMENT SCHEDULE rather than the invoice header. A row counts when the installment is live, still owes money, is not closed in the source, and has a due date; removed and retired records never count. The invoice's status is not consulted, so debt the ERP has locked is still counted; `collectible` on each row says whether Finero can act on it. Balances are the maintained ERP/Finero reconciled figures, aged by due date: today or future, 1–30, 31–60, 61–90, or over 90 days. Absent by design: an installment with NO due date, which cannot be aged, and a CREDIT balance, which Finero never allocates against a debt. No historical reconstruction or FX. Totals cover all matching rows, per currency. Summary aggregates into `totals` and carries NEITHER `data` nor `pagination`: it is not a list. Customer and installment lists carry both. Use customer_key and bucket for drilldown. Cursors require unchanged query and report revision; restart on invalid_cursor. Invoice-summary due filters select whole invoices, not installment aging.\n\nAvailable to **admin and readonly** API keys (no side effects).",
        "tags": [
          "Aging"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-permission": "readonly",
        "x-side-effects": false,
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Currency code, or UNKNOWN for missing currency. Omit for separate totals per currency; never sum currencies.",
            "schema": {
              "type": "string",
              "description": "Currency code, or UNKNOWN for missing currency. Omit for separate totals per currency; never sum currencies.",
              "pattern": "^([A-Za-z]{3}|UNKNOWN)$"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Literal, case-insensitive customer name or number search across the full report.",
            "schema": {
              "type": "string",
              "description": "Literal, case-insensitive customer name or number search across the full report.",
              "maxLength": 200
            }
          },
          {
            "name": "customer_key",
            "in": "query",
            "required": false,
            "description": "Stable key returned by customer aging: customer UUID, or unassigned:invoice UUID. Never group customers by name.",
            "schema": {
              "type": "string",
              "description": "Stable key returned by customer aging: customer UUID, or unassigned:invoice UUID. Never group customers by name.",
              "pattern": "^(unassigned:)?[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "description": "Installment bucket: current includes today; 1–30, 31–60, 61–90, over 90 are disjoint. The report holds positive balances only: an installment with no due date, or a credit balance, is not in it at all.",
            "schema": {
              "type": "string",
              "description": "Installment bucket: current includes today; 1–30, 31–60, 61–90, over 90 are disjoint. The report holds positive balances only: an installment with no due date, or a credit balance, is not in it at all.",
              "enum": [
                "current",
                "days_1_30",
                "days_31_60",
                "days_61_90",
                "over_90"
              ]
            }
          },
          {
            "name": "overdue_only",
            "in": "query",
            "required": false,
            "description": "Only positive balances with invoice or installment due dates before the workspace's current business day.",
            "schema": {
              "type": "boolean",
              "description": "Only positive balances with invoice or installment due dates before the workspace's current business day."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Customer ordering, default overdue_desc. Money ranks WITHIN a currency, never across two: rows group by currency, largest first inside each — filter by currency to rank one book. Breakdown always orders by due date, invoice and installment; unknown dates last.",
            "schema": {
              "type": "string",
              "description": "Customer ordering, default overdue_desc. Money ranks WITHIN a currency, never across two: rows group by currency, largest first inside each — filter by currency to rank one book. Breakdown always orders by due date, invoice and installment; unknown dates last.",
              "enum": [
                "overdue_desc",
                "outstanding_desc",
                "customer_asc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows per page, default 50, maximum 100. Totals cover all matching rows.",
            "schema": {
              "type": "integer",
              "description": "Rows per page, default 50, maximum 100. Totals cover all matching rows.",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Return next_cursor unchanged, with identical filters and limit. Do not parse or build one — the format may change. Restart without it on invalid_cursor.",
            "schema": {
              "type": "string",
              "description": "Return next_cursor unchanged, with identical filters and limit. Do not parse or build one — the format may change. Restart without it on invalid_cursor.",
              "maxLength": 1024
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report_date": {
                      "type": "string",
                      "description": "Current business day in workspace timezone; not a historical balance date.",
                      "format": "date"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "generated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "balance_basis": {
                      "type": "string",
                      "description": "Current maintained invoice or installment balance after existing ERP/Finero reconciliation. Includes debt Finero cannot currently collect, whatever blocks it: `collectible` on each row says whether it can be acted on. Always positive: a credit balance is not reported here, and Finero never nets one against a debt. No FX or historical reconstruction.",
                      "enum": [
                        "finero_reconciled_current"
                      ]
                    },
                    "revision": {
                      "type": "string",
                      "description": "Content hash of the rows behind this answer. It changes whenever they do, in every mode, so it is usable as a change token; a cursor also carries it, which is how a paged walk detects that the report moved underneath it."
                    },
                    "currencies": {
                      "type": "array",
                      "description": "The workspace's currencies, not this response's — a filter never removes one. Empty totals beside a full list means nothing matched, not that nothing is owed.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "data_updated_at": {
                      "type": "string",
                      "description": "Latest source record change, not proof that the ERP is fully synchronized.",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "totals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "outstanding": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "overdue": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "current": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "days_1_30": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "days_31_60": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "days_61_90": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "over_90": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          }
                        },
                        "required": [
                          "currency",
                          "outstanding",
                          "overdue",
                          "current",
                          "days_1_30",
                          "days_31_60",
                          "days_61_90",
                          "over_90"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "outstanding": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "overdue": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "current": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "days_1_30": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "days_31_60": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "days_61_90": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "over_90": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "customer_key": {
                            "type": "string"
                          },
                          "customer_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "customer_name": {
                            "type": "string"
                          },
                          "customer_number": {
                            "type": "string",
                            "nullable": true
                          },
                          "invoice_count": {
                            "type": "integer",
                            "description": "Invoices behind this row: those with an installment still owing a dated positive balance, after this report's filters. One collected in full is not among them — which is why `summarize_invoices.by_customer.invoice_count` can be HIGHER for the same customer: it counts invoices carrying money, owed or collected."
                          },
                          "installment_count": {
                            "type": "integer",
                            "description": "How many installments are behind this row — the same population `invoice_count` counts, one row deep. Not the size of an invoice's schedule: `invoice_installment_count` on the breakdown is that, and counts paid siblings too."
                          }
                        },
                        "required": [
                          "currency",
                          "outstanding",
                          "overdue",
                          "current",
                          "days_1_30",
                          "days_31_60",
                          "days_61_90",
                          "over_90",
                          "customer_key",
                          "customer_id",
                          "customer_name",
                          "customer_number",
                          "invoice_count",
                          "installment_count"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "integer",
                          "description": "How many rows match the filters, ignoring paging — customers and currencies in customer mode, invoice or installment targets in the breakdown. Not a count of invoices."
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "next_cursor": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "total_count",
                        "limit",
                        "next_cursor"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "report_date",
                    "timezone",
                    "generated_at",
                    "balance_basis",
                    "revision",
                    "currencies",
                    "data_updated_at",
                    "totals",
                    "data",
                    "pagination"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "report_date": "2026-09-10",
                  "timezone": "UTC",
                  "generated_at": "2026-09-10T12:00:00Z",
                  "balance_basis": "finero_reconciled_current",
                  "revision": "example",
                  "currencies": [
                    "USD"
                  ],
                  "data_updated_at": "2026-09-10T11:00:00Z",
                  "totals": [
                    {
                      "currency": "USD",
                      "outstanding": "300.00",
                      "overdue": "200.00",
                      "current": "100.00",
                      "days_1_30": "0.00",
                      "days_31_60": "200.00",
                      "days_61_90": "0.00",
                      "over_90": "0.00"
                    }
                  ],
                  "data": [
                    {
                      "currency": "USD",
                      "outstanding": "300.00",
                      "overdue": "200.00",
                      "current": "100.00",
                      "days_1_30": "0.00",
                      "days_31_60": "200.00",
                      "days_61_90": "0.00",
                      "over_90": "0.00",
                      "customer_key": "11111111-1111-4111-8111-111111111111",
                      "customer_id": "11111111-1111-4111-8111-111111111111",
                      "customer_name": "Example customer",
                      "customer_number": "C-001",
                      "invoice_count": 1,
                      "installment_count": 2
                    }
                  ],
                  "pagination": {
                    "total_count": 1,
                    "limit": 50,
                    "next_cursor": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_cursor` — The cursor is malformed, was issued for a different query, or (aging) the report changed. Restart without cursor, keeping the filters identical. `validation_failed` — The request failed schema validation. See error.details for field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_credentials` — The credential is malformed or does not match an active key. The response never reveals whether a key identifier exists. `missing_credentials` — No Authorization: Bearer header was sent. `revoked_credentials` — The presented key was revoked. Create a new key in Settings → API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`feature_unavailable` — The tenant's tier does not currently include API access. Feature rollout flags cannot grant this entitlement. `permission_denied` — The key's permission does not allow this operation (readonly keys cannot call admin-only operations).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found` — No such resource in YOUR tenant. Ids belonging to another tenant are indistinguishable from missing ones.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limit_exceeded` — Too many requests. Honor the Retry-After header (seconds) before retrying — waiting that long is enough. The RateLimit-* fields on every response say how much headroom is left before this happens; pace against them instead of retrying into a refusal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Unexpected server error. Safe to retry with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/aging/installments": {
      "get": {
        "operationId": "listAgingInstallments",
        "summary": "Explain aging with invoice installments",
        "description": "Current installment-level aging in the workspace timezone, read from the PAYMENT SCHEDULE rather than the invoice header. A row counts when the installment is live, still owes money, is not closed in the source, and has a due date; removed and retired records never count. The invoice's status is not consulted, so debt the ERP has locked is still counted; `collectible` on each row says whether Finero can act on it. Balances are the maintained ERP/Finero reconciled figures, aged by due date: today or future, 1–30, 31–60, 61–90, or over 90 days. Absent by design: an installment with NO due date, which cannot be aged, and a CREDIT balance, which Finero never allocates against a debt. No historical reconstruction or FX. Totals cover all matching rows, per currency. Summary aggregates into `totals` and carries NEITHER `data` nor `pagination`: it is not a list. Customer and installment lists carry both. Use customer_key and bucket for drilldown. Cursors require unchanged query and report revision; restart on invalid_cursor. Invoice-summary due filters select whole invoices, not installment aging.\n\nAvailable to **admin and readonly** API keys (no side effects).",
        "tags": [
          "Aging"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-permission": "readonly",
        "x-side-effects": false,
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Currency code, or UNKNOWN for missing currency. Omit for separate totals per currency; never sum currencies.",
            "schema": {
              "type": "string",
              "description": "Currency code, or UNKNOWN for missing currency. Omit for separate totals per currency; never sum currencies.",
              "pattern": "^([A-Za-z]{3}|UNKNOWN)$"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Literal, case-insensitive customer name or number search across the full report.",
            "schema": {
              "type": "string",
              "description": "Literal, case-insensitive customer name or number search across the full report.",
              "maxLength": 200
            }
          },
          {
            "name": "customer_key",
            "in": "query",
            "required": false,
            "description": "Stable key returned by customer aging: customer UUID, or unassigned:invoice UUID. Never group customers by name.",
            "schema": {
              "type": "string",
              "description": "Stable key returned by customer aging: customer UUID, or unassigned:invoice UUID. Never group customers by name.",
              "pattern": "^(unassigned:)?[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "description": "Installment bucket: current includes today; 1–30, 31–60, 61–90, over 90 are disjoint. The report holds positive balances only: an installment with no due date, or a credit balance, is not in it at all.",
            "schema": {
              "type": "string",
              "description": "Installment bucket: current includes today; 1–30, 31–60, 61–90, over 90 are disjoint. The report holds positive balances only: an installment with no due date, or a credit balance, is not in it at all.",
              "enum": [
                "current",
                "days_1_30",
                "days_31_60",
                "days_61_90",
                "over_90"
              ]
            }
          },
          {
            "name": "overdue_only",
            "in": "query",
            "required": false,
            "description": "Only positive balances with invoice or installment due dates before the workspace's current business day.",
            "schema": {
              "type": "boolean",
              "description": "Only positive balances with invoice or installment due dates before the workspace's current business day."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Customer ordering, default overdue_desc. Money ranks WITHIN a currency, never across two: rows group by currency, largest first inside each — filter by currency to rank one book. Breakdown always orders by due date, invoice and installment; unknown dates last.",
            "schema": {
              "type": "string",
              "description": "Customer ordering, default overdue_desc. Money ranks WITHIN a currency, never across two: rows group by currency, largest first inside each — filter by currency to rank one book. Breakdown always orders by due date, invoice and installment; unknown dates last.",
              "enum": [
                "overdue_desc",
                "outstanding_desc",
                "customer_asc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows per page, default 50, maximum 100. Totals cover all matching rows.",
            "schema": {
              "type": "integer",
              "description": "Rows per page, default 50, maximum 100. Totals cover all matching rows.",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Return next_cursor unchanged, with identical filters and limit. Do not parse or build one — the format may change. Restart without it on invalid_cursor.",
            "schema": {
              "type": "string",
              "description": "Return next_cursor unchanged, with identical filters and limit. Do not parse or build one — the format may change. Restart without it on invalid_cursor.",
              "maxLength": 1024
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report_date": {
                      "type": "string",
                      "description": "Current business day in workspace timezone; not a historical balance date.",
                      "format": "date"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "generated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "balance_basis": {
                      "type": "string",
                      "description": "Current maintained invoice or installment balance after existing ERP/Finero reconciliation. Includes debt Finero cannot currently collect, whatever blocks it: `collectible` on each row says whether it can be acted on. Always positive: a credit balance is not reported here, and Finero never nets one against a debt. No FX or historical reconstruction.",
                      "enum": [
                        "finero_reconciled_current"
                      ]
                    },
                    "revision": {
                      "type": "string",
                      "description": "Content hash of the rows behind this answer. It changes whenever they do, in every mode, so it is usable as a change token; a cursor also carries it, which is how a paged walk detects that the report moved underneath it."
                    },
                    "currencies": {
                      "type": "array",
                      "description": "The workspace's currencies, not this response's — a filter never removes one. Empty totals beside a full list means nothing matched, not that nothing is owed.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "data_updated_at": {
                      "type": "string",
                      "description": "Latest source record change, not proof that the ERP is fully synchronized.",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "totals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "outstanding": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "overdue": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "current": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "days_1_30": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "days_31_60": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "days_61_90": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "over_90": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          }
                        },
                        "required": [
                          "currency",
                          "outstanding",
                          "overdue",
                          "current",
                          "days_1_30",
                          "days_31_60",
                          "days_61_90",
                          "over_90"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customer_key": {
                            "type": "string"
                          },
                          "customer_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "customer_name": {
                            "type": "string"
                          },
                          "customer_number": {
                            "type": "string",
                            "nullable": true
                          },
                          "installment_id": {
                            "type": "string",
                            "nullable": true,
                            "format": "uuid"
                          },
                          "invoice_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "invoice_number": {
                            "type": "string"
                          },
                          "sequence_number": {
                            "type": "integer",
                            "nullable": true
                          },
                          "invoice_installment_count": {
                            "type": "integer",
                            "description": "Zero in invoice-only mode. Otherwise all non-removed installments of this invoice, including paid and filtered-out siblings. Use to distinguish single-installment invoices.",
                            "minimum": 0
                          },
                          "due_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date"
                          },
                          "days_overdue": {
                            "type": "integer",
                            "nullable": true
                          },
                          "amount": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "bucket": {
                            "type": "string",
                            "enum": [
                              "current",
                              "days_1_30",
                              "days_31_60",
                              "days_61_90",
                              "over_90"
                            ]
                          },
                          "collectible": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "customer_key",
                          "customer_id",
                          "customer_name",
                          "customer_number",
                          "installment_id",
                          "invoice_id",
                          "invoice_number",
                          "sequence_number",
                          "invoice_installment_count",
                          "due_date",
                          "days_overdue",
                          "amount",
                          "currency",
                          "bucket",
                          "collectible"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "integer",
                          "description": "How many rows match the filters, ignoring paging — customers and currencies in customer mode, invoice or installment targets in the breakdown. Not a count of invoices."
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "next_cursor": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "total_count",
                        "limit",
                        "next_cursor"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "report_date",
                    "timezone",
                    "generated_at",
                    "balance_basis",
                    "revision",
                    "currencies",
                    "data_updated_at",
                    "totals",
                    "data",
                    "pagination"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "report_date": "2026-09-10",
                  "timezone": "UTC",
                  "generated_at": "2026-09-10T12:00:00Z",
                  "balance_basis": "finero_reconciled_current",
                  "revision": "example",
                  "currencies": [
                    "USD"
                  ],
                  "data_updated_at": "2026-09-10T11:00:00Z",
                  "totals": [
                    {
                      "currency": "USD",
                      "outstanding": "300.00",
                      "overdue": "200.00",
                      "current": "100.00",
                      "days_1_30": "0.00",
                      "days_31_60": "200.00",
                      "days_61_90": "0.00",
                      "over_90": "0.00"
                    }
                  ],
                  "data": [
                    {
                      "customer_key": "11111111-1111-4111-8111-111111111111",
                      "customer_id": "11111111-1111-4111-8111-111111111111",
                      "customer_name": "Example customer",
                      "customer_number": "C-001",
                      "invoice_id": "22222222-2222-4222-8222-222222222222",
                      "invoice_number": "INV-100",
                      "installment_id": "33333333-3333-4333-8333-333333333333",
                      "sequence_number": 1,
                      "invoice_installment_count": 2,
                      "amount": "200.00",
                      "currency": "USD",
                      "due_date": "2026-07-27",
                      "days_overdue": 45,
                      "bucket": "days_31_60",
                      "collectible": true
                    },
                    {
                      "customer_key": "11111111-1111-4111-8111-111111111111",
                      "customer_id": "11111111-1111-4111-8111-111111111111",
                      "customer_name": "Example customer",
                      "customer_number": "C-001",
                      "invoice_id": "22222222-2222-4222-8222-222222222222",
                      "invoice_number": "INV-100",
                      "installment_id": "44444444-4444-4444-8444-444444444444",
                      "sequence_number": 2,
                      "invoice_installment_count": 2,
                      "amount": "100.00",
                      "currency": "USD",
                      "due_date": "2026-10-10",
                      "days_overdue": 0,
                      "bucket": "current",
                      "collectible": true
                    }
                  ],
                  "pagination": {
                    "total_count": 2,
                    "limit": 50,
                    "next_cursor": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_cursor` — The cursor is malformed, was issued for a different query, or (aging) the report changed. Restart without cursor, keeping the filters identical. `validation_failed` — The request failed schema validation. See error.details for field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_credentials` — The credential is malformed or does not match an active key. The response never reveals whether a key identifier exists. `missing_credentials` — No Authorization: Bearer header was sent. `revoked_credentials` — The presented key was revoked. Create a new key in Settings → API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`feature_unavailable` — The tenant's tier does not currently include API access. Feature rollout flags cannot grant this entitlement. `permission_denied` — The key's permission does not allow this operation (readonly keys cannot call admin-only operations).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found` — No such resource in YOUR tenant. Ids belonging to another tenant are indistinguishable from missing ones.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limit_exceeded` — Too many requests. Honor the Retry-After header (seconds) before retrying — waiting that long is enough. The RateLimit-* fields on every response say how much headroom is left before this happens; pace against them instead of retrying into a refusal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Unexpected server error. Safe to retry with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/aging/summary": {
      "get": {
        "operationId": "summarizeAging",
        "summary": "Summarize installment aging",
        "description": "Current installment-level aging in the workspace timezone, read from the PAYMENT SCHEDULE rather than the invoice header. A row counts when the installment is live, still owes money, is not closed in the source, and has a due date; removed and retired records never count. The invoice's status is not consulted, so debt the ERP has locked is still counted; `collectible` on each row says whether Finero can act on it. Balances are the maintained ERP/Finero reconciled figures, aged by due date: today or future, 1–30, 31–60, 61–90, or over 90 days. Absent by design: an installment with NO due date, which cannot be aged, and a CREDIT balance, which Finero never allocates against a debt. No historical reconstruction or FX. Totals cover all matching rows, per currency. Summary aggregates into `totals` and carries NEITHER `data` nor `pagination`: it is not a list. Customer and installment lists carry both. Use customer_key and bucket for drilldown. Cursors require unchanged query and report revision; restart on invalid_cursor. Invoice-summary due filters select whole invoices, not installment aging.\n\nAvailable to **admin and readonly** API keys (no side effects).",
        "tags": [
          "Aging"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-permission": "readonly",
        "x-side-effects": false,
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Currency code, or UNKNOWN for missing currency. Omit for separate totals per currency; never sum currencies.",
            "schema": {
              "type": "string",
              "description": "Currency code, or UNKNOWN for missing currency. Omit for separate totals per currency; never sum currencies.",
              "pattern": "^([A-Za-z]{3}|UNKNOWN)$"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Literal, case-insensitive customer name or number search across the full report.",
            "schema": {
              "type": "string",
              "description": "Literal, case-insensitive customer name or number search across the full report.",
              "maxLength": 200
            }
          },
          {
            "name": "customer_key",
            "in": "query",
            "required": false,
            "description": "Stable key returned by customer aging: customer UUID, or unassigned:invoice UUID. Never group customers by name.",
            "schema": {
              "type": "string",
              "description": "Stable key returned by customer aging: customer UUID, or unassigned:invoice UUID. Never group customers by name.",
              "pattern": "^(unassigned:)?[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "description": "Installment bucket: current includes today; 1–30, 31–60, 61–90, over 90 are disjoint. The report holds positive balances only: an installment with no due date, or a credit balance, is not in it at all.",
            "schema": {
              "type": "string",
              "description": "Installment bucket: current includes today; 1–30, 31–60, 61–90, over 90 are disjoint. The report holds positive balances only: an installment with no due date, or a credit balance, is not in it at all.",
              "enum": [
                "current",
                "days_1_30",
                "days_31_60",
                "days_61_90",
                "over_90"
              ]
            }
          },
          {
            "name": "overdue_only",
            "in": "query",
            "required": false,
            "description": "Only positive balances with invoice or installment due dates before the workspace's current business day.",
            "schema": {
              "type": "boolean",
              "description": "Only positive balances with invoice or installment due dates before the workspace's current business day."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Customer ordering, default overdue_desc. Money ranks WITHIN a currency, never across two: rows group by currency, largest first inside each — filter by currency to rank one book. Breakdown always orders by due date, invoice and installment; unknown dates last.",
            "schema": {
              "type": "string",
              "description": "Customer ordering, default overdue_desc. Money ranks WITHIN a currency, never across two: rows group by currency, largest first inside each — filter by currency to rank one book. Breakdown always orders by due date, invoice and installment; unknown dates last.",
              "enum": [
                "overdue_desc",
                "outstanding_desc",
                "customer_asc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows per page, default 50, maximum 100. Totals cover all matching rows.",
            "schema": {
              "type": "integer",
              "description": "Rows per page, default 50, maximum 100. Totals cover all matching rows.",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Return next_cursor unchanged, with identical filters and limit. Do not parse or build one — the format may change. Restart without it on invalid_cursor.",
            "schema": {
              "type": "string",
              "description": "Return next_cursor unchanged, with identical filters and limit. Do not parse or build one — the format may change. Restart without it on invalid_cursor.",
              "maxLength": 1024
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "report_date": {
                      "type": "string",
                      "description": "Current business day in workspace timezone; not a historical balance date.",
                      "format": "date"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "generated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "balance_basis": {
                      "type": "string",
                      "description": "Current maintained invoice or installment balance after existing ERP/Finero reconciliation. Includes debt Finero cannot currently collect, whatever blocks it: `collectible` on each row says whether it can be acted on. Always positive: a credit balance is not reported here, and Finero never nets one against a debt. No FX or historical reconstruction.",
                      "enum": [
                        "finero_reconciled_current"
                      ]
                    },
                    "revision": {
                      "type": "string",
                      "description": "Content hash of the rows behind this answer. It changes whenever they do, in every mode, so it is usable as a change token; a cursor also carries it, which is how a paged walk detects that the report moved underneath it."
                    },
                    "currencies": {
                      "type": "array",
                      "description": "The workspace's currencies, not this response's — a filter never removes one. Empty totals beside a full list means nothing matched, not that nothing is owed.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "data_updated_at": {
                      "type": "string",
                      "description": "Latest source record change, not proof that the ERP is fully synchronized.",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "totals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "outstanding": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "overdue": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "current": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "days_1_30": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "days_31_60": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "days_61_90": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          },
                          "over_90": {
                            "type": "string",
                            "description": "Exact decimal amount in major currency units. Outstanding sums the positive balances the report holds; credits are not among them.",
                            "pattern": "^-?[0-9]+(\\.[0-9]+)?$"
                          }
                        },
                        "required": [
                          "currency",
                          "outstanding",
                          "overdue",
                          "current",
                          "days_1_30",
                          "days_31_60",
                          "days_61_90",
                          "over_90"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "report_date",
                    "timezone",
                    "generated_at",
                    "balance_basis",
                    "revision",
                    "currencies",
                    "data_updated_at",
                    "totals"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "report_date": "2026-09-10",
                  "timezone": "UTC",
                  "generated_at": "2026-09-10T12:00:00Z",
                  "balance_basis": "finero_reconciled_current",
                  "revision": "example",
                  "currencies": [
                    "USD"
                  ],
                  "data_updated_at": "2026-09-10T11:00:00Z",
                  "totals": [
                    {
                      "currency": "USD",
                      "outstanding": "300.00",
                      "overdue": "200.00",
                      "current": "100.00",
                      "days_1_30": "0.00",
                      "days_31_60": "200.00",
                      "days_61_90": "0.00",
                      "over_90": "0.00"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`invalid_cursor` — The cursor is malformed, was issued for a different query, or (aging) the report changed. Restart without cursor, keeping the filters identical. `validation_failed` — The request failed schema validation. See error.details for field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_credentials` — The credential is malformed or does not match an active key. The response never reveals whether a key identifier exists. `missing_credentials` — No Authorization: Bearer header was sent. `revoked_credentials` — The presented key was revoked. Create a new key in Settings → API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`feature_unavailable` — The tenant's tier does not currently include API access. Feature rollout flags cannot grant this entitlement. `permission_denied` — The key's permission does not allow this operation (readonly keys cannot call admin-only operations).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found` — No such resource in YOUR tenant. Ids belonging to another tenant are indistinguishable from missing ones.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limit_exceeded` — Too many requests. Honor the Retry-After header (seconds) before retrying — waiting that long is enough. The RateLimit-* fields on every response say how much headroom is left before this happens; pace against them instead of retrying into a refusal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Unexpected server error. Safe to retry with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/erp-connections": {
      "get": {
        "operationId": "listErpConnections",
        "summary": "List ERP connections",
        "description": "Lists the tenant's ERP connections (safe status metadata only — never credentials, hosts, or configuration). Connecting a new ERP and configuring what it syncs are managed inside the Finero app; starting a pull and changing the pull cadence can be done here.\n\nAvailable to **admin and readonly** API keys (no side effects).",
        "tags": [
          "ERP sync"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-permission": "readonly",
        "x-side-effects": false,
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size, 1–100. Default 25.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from a previous response's pagination.next_cursor.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 400
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort direction. Ordering is ALWAYS by when the record was CREATED in Finero, never by when it changed — `updated_since` narrows the set but does not reorder it, so the most recently updated row is not necessarily first. Creation time is immutable, which is what lets the cursor stay stable: ordering by a value that changes would move a row mid-walk and make a page skip or repeat it. Default desc (newest first by creation time).",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "include_total",
            "in": "query",
            "required": false,
            "description": "Return pagination.total_count — the number of rows matching the filters, ignoring paging. It is the SAME number on every page, including alongside a cursor. Off by default: an exact count scans the whole filtered set, so asking on each page pays repeatedly for an answer that does not change — ask on the first request and keep it.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "ERP connections.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ERP connection id — use as connection_id when starting a sync run.",
                            "format": "uuid"
                          },
                          "provider": {
                            "type": "string",
                            "description": "ERP system this connection syncs from.",
                            "enum": [
                              "oracle_fusion"
                            ]
                          },
                          "pull_mode": {
                            "type": "string",
                            "description": "How invoices are read from the ERP. `rest_api` reads the receivables REST resource with its payment schedules; `publisher_report` reads invoice headers from an Analytics Publisher report, so every invoice from that connection is collected as a whole — installments and contact names are never present. Both methods sync incrementally (changes since the last sync) and run a complete pass at least once a day, which is when an invoice that vanished from the ERP or from the report is marked no longer present. Read-only: the method is chosen when a workspace admin connects the ERP.",
                            "enum": [
                              "rest_api",
                              "publisher_report"
                            ]
                          },
                          "payment_push_transport": {
                            "type": "string",
                            "description": "HOW a payment's receipt is pushed to the ERP. `rest` — the receivables REST resource. `soap` — the ERP's receipt SOAP services, offered only on a `publisher_report` connection, which then uses its report's SOAP user for everything and holds no OAuth client. Either way an accepted receipt reads `erp_push_status: posted`. Read-only: the transport is chosen when a workspace admin connects the ERP.",
                            "enum": [
                              "rest",
                              "soap"
                            ]
                          },
                          "payment_push_mode": {
                            "type": "string",
                            "description": "WHEN a payment collected through Finero is pushed to the ERP as a receipt. `auto` — right after the payment settles, without anyone acting. `manual` — the receipt is created at settlement but HELD until a workspace admin releases it, one or many at a time (POST /v1/payments/erp-push); a held payment reads `erp_push_status: held`. Releasing pushes each receipt on its own, so one failure never affects another. Switching from manual to auto releases everything held on the connection. Set with POST /v1/erp-connections/{connectionId}/payment-push-mode.",
                            "enum": [
                              "auto",
                              "manual"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "description": "Connection health, and therefore whether the invoice data you are reading is CURRENT. `connected` means pulls are working. `requires_reauthentication` means the credential is missing, expired or revoked: scheduled pulls pause until a workspace admin reconnects it in the Finero app, so nothing new arrives and every figure is only as fresh as `last_successful_sync_at` - say so when you report numbers. `temporarily_unavailable` is the ERP being unreachable and usually clears itself. `disconnected` means the connection is switched off. In any state but `connected`, compare `last_successful_sync_at` against `last_sync_at`: a LATER `last_sync_at` means runs are still happening and not completing.",
                            "enum": [
                              "connected",
                              "requires_reauthentication",
                              "temporarily_unavailable",
                              "disconnected"
                            ]
                          },
                          "last_sync_at": {
                            "type": "string",
                            "description": "When a sync run last finished, whatever its outcome. Use last_successful_sync_at to judge freshness (ISO 8601 UTC).",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "last_successful_sync_at": {
                            "type": "string",
                            "description": "When a sync run last completed its walk of the ERP: a `success` run, or a `partial` one that only skipped invoices (its `error_summary` is null). Freshness of the imported data (ISO 8601 UTC).",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "auto_sync_enabled": {
                            "type": "boolean",
                            "description": "Whether scheduled auto-sync is on. False is the workspace's \"off\" choice - manual pulls still work, and `auto_sync_interval_minutes` keeps the cadence that applies when it is turned back on. True still requires connected health and a stored credential; reconnection restores the retained schedule after a missing-credential failure."
                          },
                          "auto_sync_interval_minutes": {
                            "type": "integer",
                            "description": "How often Finero pulls this connection automatically, in minutes. A workspace admin chooses it: 10 to 1440 (24 hours). Read it together with `auto_sync_enabled` - when that is false there is no automatic pull at all and this value is simply the setting kept for when it is turned back on. It is a FLOOR rather than an appointment: a connection is pulled on the first scheduled check after this much time has passed, typically within a minute of it."
                          },
                          "pull_invoice_date_from": {
                            "type": "string",
                            "description": "Oldest invoice date this connection imports, inclusive. null means no limit. This is why an invoice that exists in the ERP may be absent here: it is dated before the limit. Changing it never deletes invoices already imported (YYYY-MM-DD).",
                            "nullable": true,
                            "format": "date"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation time (ISO 8601 UTC).",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "provider",
                          "pull_mode",
                          "payment_push_transport",
                          "payment_push_mode",
                          "status",
                          "last_sync_at",
                          "last_successful_sync_at",
                          "auto_sync_enabled",
                          "auto_sync_interval_minutes",
                          "pull_invoice_date_from",
                          "created_at"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_cursor": {
                          "type": "string",
                          "description": "Opaque cursor for the next page — pass as ?cursor=. Null when there are no further results.",
                          "nullable": true
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "Whether another page exists."
                        },
                        "limit": {
                          "type": "integer",
                          "description": "The page size that was applied."
                        },
                        "total_count": {
                          "type": "integer",
                          "description": "Total rows matching the filters, ignoring paging. Present ONLY when the request passed ?include_total=true."
                        }
                      },
                      "required": [
                        "next_cursor",
                        "has_more",
                        "limit"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "id": "1a2b3c4d-5e6f-4a80-91b2-c3d4e5f60718",
                      "provider": "oracle_fusion",
                      "pull_mode": "rest_api",
                      "payment_push_transport": "rest",
                      "payment_push_mode": "auto",
                      "status": "connected",
                      "last_sync_at": "2026-07-14T05:00:04+00:00",
                      "last_successful_sync_at": "2026-07-14T05:00:04+00:00",
                      "auto_sync_enabled": true,
                      "auto_sync_interval_minutes": 60,
                      "pull_invoice_date_from": "2024-01-01",
                      "created_at": "2026-06-20T11:00:00+00:00"
                    }
                  ],
                  "pagination": {
                    "next_cursor": null,
                    "has_more": false,
                    "limit": 25
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_cursor` — The cursor is malformed, was issued for a different query, or (aging) the report changed. Restart without cursor, keeping the filters identical. `validation_failed` — The request failed schema validation. See error.details for field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_credentials` — The credential is malformed or does not match an active key. The response never reveals whether a key identifier exists. `missing_credentials` — No Authorization: Bearer header was sent. `revoked_credentials` — The presented key was revoked. Create a new key in Settings → API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`feature_unavailable` — The tenant's tier does not currently include API access. Feature rollout flags cannot grant this entitlement. `permission_denied` — The key's permission does not allow this operation (readonly keys cannot call admin-only operations).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found` — No such resource in YOUR tenant. Ids belonging to another tenant are indistinguishable from missing ones.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limit_exceeded` — Too many requests. Honor the Retry-After header (seconds) before retrying — waiting that long is enough. The RateLimit-* fields on every response say how much headroom is left before this happens; pace against them instead of retrying into a refusal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Unexpected server error. Safe to retry with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/erp-connections/{connectionId}/payment-push-mode": {
      "post": {
        "operationId": "setErpPaymentPushMode",
        "summary": "Set when payments are pushed to the ERP",
        "description": "Sets whether a payment collected through Finero is pushed to the ERP right after it settles (`auto`, the default) or held until a workspace admin releases it (`manual`, via POST /v1/payments/erp-push). Returns the updated connection. Switching from manual to auto releases every payment currently held on the connection, in the same call. Switching from auto to manual changes nothing already queued — a push on its way still lands. This is the same setting a workspace admin changes in the Finero app; both go through one rule.\n\nRequires an **admin** API key (has side effects).",
        "tags": [
          "ERP sync"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-permission": "admin",
        "x-side-effects": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "description": "ERP connection id (from GET /v1/erp-connections).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ERP connection id — use as connection_id when starting a sync run.",
                      "format": "uuid"
                    },
                    "provider": {
                      "type": "string",
                      "description": "ERP system this connection syncs from.",
                      "enum": [
                        "oracle_fusion"
                      ]
                    },
                    "pull_mode": {
                      "type": "string",
                      "description": "How invoices are read from the ERP. `rest_api` reads the receivables REST resource with its payment schedules; `publisher_report` reads invoice headers from an Analytics Publisher report, so every invoice from that connection is collected as a whole — installments and contact names are never present. Both methods sync incrementally (changes since the last sync) and run a complete pass at least once a day, which is when an invoice that vanished from the ERP or from the report is marked no longer present. Read-only: the method is chosen when a workspace admin connects the ERP.",
                      "enum": [
                        "rest_api",
                        "publisher_report"
                      ]
                    },
                    "payment_push_transport": {
                      "type": "string",
                      "description": "HOW a payment's receipt is pushed to the ERP. `rest` — the receivables REST resource. `soap` — the ERP's receipt SOAP services, offered only on a `publisher_report` connection, which then uses its report's SOAP user for everything and holds no OAuth client. Either way an accepted receipt reads `erp_push_status: posted`. Read-only: the transport is chosen when a workspace admin connects the ERP.",
                      "enum": [
                        "rest",
                        "soap"
                      ]
                    },
                    "payment_push_mode": {
                      "type": "string",
                      "description": "WHEN a payment collected through Finero is pushed to the ERP as a receipt. `auto` — right after the payment settles, without anyone acting. `manual` — the receipt is created at settlement but HELD until a workspace admin releases it, one or many at a time (POST /v1/payments/erp-push); a held payment reads `erp_push_status: held`. Releasing pushes each receipt on its own, so one failure never affects another. Switching from manual to auto releases everything held on the connection. Set with POST /v1/erp-connections/{connectionId}/payment-push-mode.",
                      "enum": [
                        "auto",
                        "manual"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "description": "Connection health, and therefore whether the invoice data you are reading is CURRENT. `connected` means pulls are working. `requires_reauthentication` means the credential is missing, expired or revoked: scheduled pulls pause until a workspace admin reconnects it in the Finero app, so nothing new arrives and every figure is only as fresh as `last_successful_sync_at` - say so when you report numbers. `temporarily_unavailable` is the ERP being unreachable and usually clears itself. `disconnected` means the connection is switched off. In any state but `connected`, compare `last_successful_sync_at` against `last_sync_at`: a LATER `last_sync_at` means runs are still happening and not completing.",
                      "enum": [
                        "connected",
                        "requires_reauthentication",
                        "temporarily_unavailable",
                        "disconnected"
                      ]
                    },
                    "last_sync_at": {
                      "type": "string",
                      "description": "When a sync run last finished, whatever its outcome. Use last_successful_sync_at to judge freshness (ISO 8601 UTC).",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "last_successful_sync_at": {
                      "type": "string",
                      "description": "When a sync run last completed its walk of the ERP: a `success` run, or a `partial` one that only skipped invoices (its `error_summary` is null). Freshness of the imported data (ISO 8601 UTC).",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "auto_sync_enabled": {
                      "type": "boolean",
                      "description": "Whether scheduled auto-sync is on. False is the workspace's \"off\" choice - manual pulls still work, and `auto_sync_interval_minutes` keeps the cadence that applies when it is turned back on. True still requires connected health and a stored credential; reconnection restores the retained schedule after a missing-credential failure."
                    },
                    "auto_sync_interval_minutes": {
                      "type": "integer",
                      "description": "How often Finero pulls this connection automatically, in minutes. A workspace admin chooses it: 10 to 1440 (24 hours). Read it together with `auto_sync_enabled` - when that is false there is no automatic pull at all and this value is simply the setting kept for when it is turned back on. It is a FLOOR rather than an appointment: a connection is pulled on the first scheduled check after this much time has passed, typically within a minute of it."
                    },
                    "pull_invoice_date_from": {
                      "type": "string",
                      "description": "Oldest invoice date this connection imports, inclusive. null means no limit. This is why an invoice that exists in the ERP may be absent here: it is dated before the limit. Changing it never deletes invoices already imported (YYYY-MM-DD).",
                      "nullable": true,
                      "format": "date"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Creation time (ISO 8601 UTC).",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "provider",
                    "pull_mode",
                    "payment_push_transport",
                    "payment_push_mode",
                    "status",
                    "last_sync_at",
                    "last_successful_sync_at",
                    "auto_sync_enabled",
                    "auto_sync_interval_minutes",
                    "pull_invoice_date_from",
                    "created_at"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "id": "1a2b3c4d-5e6f-4a80-91b2-c3d4e5f60718",
                  "provider": "oracle_fusion",
                  "pull_mode": "rest_api",
                  "payment_push_transport": "rest",
                  "payment_push_mode": "manual",
                  "status": "connected",
                  "last_sync_at": "2026-07-14T05:00:04+00:00",
                  "last_successful_sync_at": "2026-07-14T05:00:04+00:00",
                  "auto_sync_enabled": true,
                  "auto_sync_interval_minutes": 60,
                  "pull_invoice_date_from": "2024-01-01",
                  "created_at": "2026-06-20T11:00:00+00:00"
                }
              }
            }
          },
          "400": {
            "description": "`validation_failed` — The request failed schema validation. See error.details for field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_credentials` — The credential is malformed or does not match an active key. The response never reveals whether a key identifier exists. `missing_credentials` — No Authorization: Bearer header was sent. `revoked_credentials` — The presented key was revoked. Create a new key in Settings → API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "`feature_unavailable` — The tenant's tier does not currently include API access. Feature rollout flags cannot grant this entitlement. `permission_denied` — The key's permission does not allow this operation (readonly keys cannot call admin-only operations).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "`not_found` — No such resource in YOUR tenant. Ids belonging to another tenant are indistinguishable from missing ones.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`conflict` — State conflict — e.g. live payment links already cover the installment, or a concurrent identical request is in flight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "`payload_too_large` — The request body exceeds the 64 KiB limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "`rate_limit_exceeded` — Too many requests. Honor the Retry-After header (seconds) before retrying — waiting that long is enough. The RateLimit-* fields on every response say how much headroom is left before this happens; pace against them instead of retrying into a refusal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "`internal_error` — Unexpected server error. Safe to retry with the same Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_push_mode": {
                    "type": "string",
                    "description": "`auto` pushes each payment as it settles; `manual` holds it for an admin's release.",
                    "enum": [
                      "auto",
                      "manual"
                    ]
                  }
                },
                "required": [
                  "payment_push_mode"
                ],
                "additionalProperties": false
              },
              "example": {
                "payment_push_mode": "manual"
              }
            }
          }
        }
      }
    },
    "/v1/erp-connections/{connectionId}/sync": {
      "post": {
        "operationId": "startErpSync",
        "summary": "Start a pull from the ERP",
        "description": "Starts an invoice pull for this connection and returns immediately with the id of the run it reserved — the pull itself continues in the background. Poll that run until `status` is terminal. Only ONE run can be in flight per connection: if a scheduled or app-triggered pull is already running, this is REFUSED as a conflict rather than queueing a second one — list the connection's runs to find the one in flight and poll that. A `running` answer means the run was RESERVED and dispatched, NOT that the connection authenticated: a connection whose credential has expired accepts this call and the run fails seconds later. Check the connection's `status`, and poll the run to a terminal status before reporting success. Partial runs preserve progress; unresolved rows or schedules block completion. ERP read rate limits receive bounded retries within the pull deadline. This does not change the connection's schedule; the automatic cadence continues unchanged alongside it.\n\nRequires an **admin** API key (has side effects).",
        "tags": [
          "ERP sync"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-permission": "admin",
        "x-side-effects": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "description": "ERP connection id (from GET /v1/erp-connections).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Accepted. The pull runs in the background.",
                  "properties": {
                    "sync_run_id": {
                      "type": "string",
                      "description": "The run that was reserved — poll GET /v1/sync-runs/{syncRunId}.",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "description": "Always `running`: the run is reserved and the pull has been dispatched.",
                      "enum": [
                        "running"
                      ]
                    }
                  },
                  "required": [
                    "sync_run_id",
                    "status"
                  ],
                  "additionalProperties": false
                },
                "example": {
                  "sync_run_id": "3f2e1d0c-9b8a-4756-8493-21f0e9d8c7b6",
                  "status": "running"
                }
              }
            }
          },
          "400": {
            "description": "`validation_failed` — The request failed schema validation. See error.details for field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
[...]
