{
  "openapi": "3.1.0",
  "info": {
    "title": "Eagle Virtual API",
    "version": "1.3.0",
    "summary": "The on-chain record of stablecoin freezes, seizures and blacklists.",
    "description": "Every recorded action a stablecoin company took against an address on a public blockchain: blacklistings, freezes, balance seizures, and releases. Each one includes the chain, the token, the company, the block, and the transaction hash that executed it.\n\nTwo methods answer for one wallet. GET /v1/check/{address} returns the verdict: one of CLEAR, FROZEN, SEIZED or UNFROZEN, or null when the record cannot vouch for it right now. It comes with the date it applies to and the coverage behind it. GET /v1/address/{address} returns everything the wallet’s page at https://eaglevirtual.com/address/{address} shows: the verdict, the coverage for each chain, and every recorded event with its evidence. The evidence is the token and its contract, the company, the block, the transaction, the time, the amount with its basis, and the dollar figure with its basis.\n\nIt returns the record and nothing else. There is no score, no band, and no opinion about an address or the person behind it.\n\nEvery endpoint except this document needs an API key. Sign in at https://eaglevirtual.com/account to get one on the Free plan: 1 key, 1,000 calls a day and 1 a second, and every answer to it names a credit line (the x-ev-credit-line header). The Business plan has 5 keys, each with 25,000 calls a day and 10 a second. The two event-row routes answer on the Business and Enterprise plans. See https://eaglevirtual.com/pricing. Checking one address on the website stays free, with no account.\n\nAmounts: a measured amount appears only where it was measured, with its basis saying at which block. Absent means \"the record does not say\", not zero. USD appears only where certified pricing exists for that token at that block, as integer cents and as a formatted figure.",
    "contact": {
      "name": "Eagle Virtual",
      "email": "sales@eaglevirtual.com",
      "url": "https://eaglevirtual.com/api"
    },
    "license": {
      "name": "A Free plan key shows a credit line on every answer. Paid API use owes none. Bulk reuse of the record needs a written agreement. See /license",
      "url": "https://eaglevirtual.com/license"
    },
    "x-jentic-source-url": "https://eaglevirtual.com/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://eaglevirtual.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/openapi.json": {
      "get": {
        "tags": [
          "coverage"
        ],
        "summary": "This document.",
        "description": "Public. No key is required, so you can read the contract and generate a client from it before you have a key.",
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI document.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/check/{address}": {
      "get": {
        "tags": [
          "addresses"
        ],
        "summary": "The verdict for one address, and nothing more.",
        "description": "One of CLEAR, FROZEN, SEIZED or UNFROZEN. It is the same word the wallet’s page shows, by the same rule: a live seizure outranks a live freeze, which outranks a lifted one. When nothing is recorded and some of the chains this address can be on are behind, the verdict is still CLEAR for the chains that are current, and coverage.not_vouched_for names each chain that is behind. The verdict is null, with verdict_reason set, only when nothing is recorded and none of the chains this address can be on is current. A chain the address cannot be on (an EVM chain, for a TRON address) never decides its answer. Every answer includes as_of and the coverage behind it. It costs one call. Added 2026-09-02; CLEAR beside a behind chain since 1.3.0 (2026-09-28).",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The wallet address, in any format its chain uses. We check Ethereum-style addresses (used by Ethereum and many other chains), addresses on Tron, Solana, Stellar, TON, the XRP Ledger, Aptos, Starknet and Sui, and NEAR account names that end in .near.",
            "schema": {
              "type": "string",
              "maxLength": 120
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The verdict.",
            "headers": {
              "x-ev-credit-line": {
                "description": "Present on every successful answer to a Free plan key: the credit line the license asks for, and the page that states the terms. Absent on the Business and Enterprise plans, which owe no credit line.",
                "schema": {
                  "type": "string",
                  "const": "Data from Eagle Virtual, https://eaglevirtual.com/license"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResult"
                }
              }
            }
          },
          "400": {
            "description": "Not a wallet address we can check. It costs no calls. The error is not_an_address when the text is not a wallet address, and test_network_address when it is an address on a test network. Test networks use play money, so there is nothing to check. The error is no_blacklist_on_this_coin when it is an address on a coin that does not have a blacklist or freeze function, like Bitcoin, Litecoin or Dogecoin. There is nothing to check on those coins, and the message names the coin. The error is address_has_extra_text when the address has extra text on the front or the end: a prefix we do not recognize before an Ethereum-style address (foo:0x…), or a Stellar M… address, which adds an account number to the wallet. A known prefix, like eth:0x…, is read as the plain address. Send the wallet address on its own. The error is address_not_recognized when the text is a name with a dot in it that does not end in .near, like a website name or a mistyped email address, and the record holds no NEAR account by that name. NEAR account names end in .near, or are 64 characters of letters and numbers."
          },
          "401": {
            "description": "Missing or invalid key."
          },
          "403": {
            "description": "This key is on a plan this API does not know. Write to sales@eaglevirtual.com."
          },
          "429": {
            "description": "Over your plan’s limit. Retry-After says how long to wait."
          },
          "503": {
            "description": "The record is unavailable right now. We do not answer from stale data."
          }
        }
      }
    },
    "/v1/address/{address}": {
      "get": {
        "tags": [
          "addresses"
        ],
        "summary": "What the wallet’s page shows: the verdict, the coverage per chain, and every record with its evidence.",
        "description": "Returns the same verdict block as /v1/check, the Chain coverage grid (one row for each chain, with the block and time it was checked to and the Seize / Freeze / Unfreeze counts), one evidence object for each recorded event, the wallet’s verified ENS primary name if it has one, and the id and URL of the page’s Limitations and scope block. The values are the page’s values, from the same document. It costs one call. Added 2026-09-02.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The wallet address, in any format its chain uses. We check Ethereum-style addresses (used by Ethereum and many other chains), addresses on Tron, Solana, Stellar, TON, the XRP Ledger, Aptos, Starknet and Sui, and NEAR account names that end in .near.",
            "schema": {
              "type": "string",
              "maxLength": 120
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The page, as data.",
            "headers": {
              "x-ev-credit-line": {
                "description": "Present on every successful answer to a Free plan key: the credit line the license asks for, and the page that states the terms. Absent on the Business and Enterprise plans, which owe no credit line.",
                "schema": {
                  "type": "string",
                  "const": "Data from Eagle Virtual, https://eaglevirtual.com/license"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressResult"
                }
              }
            }
          },
          "400": {
            "description": "Not a wallet address we can check. It costs no calls. The error is not_an_address when the text is not a wallet address, and test_network_address when it is an address on a test network. Test networks use play money, so there is nothing to check. The error is no_blacklist_on_this_coin when it is an address on a coin that does not have a blacklist or freeze function, like Bitcoin, Litecoin or Dogecoin. There is nothing to check on those coins, and the message names the coin. The error is address_has_extra_text when the address has extra text on the front or the end: a prefix we do not recognize before an Ethereum-style address (foo:0x…), or a Stellar M… address, which adds an account number to the wallet. A known prefix, like eth:0x…, is read as the plain address. Send the wallet address on its own. The error is address_not_recognized when the text is a name with a dot in it that does not end in .near, like a website name or a mistyped email address, and the record holds no NEAR account by that name. NEAR account names end in .near, or are 64 characters of letters and numbers."
          },
          "401": {
            "description": "Missing or invalid key."
          },
          "403": {
            "description": "This key is on a plan this API does not know. Write to sales@eaglevirtual.com."
          },
          "429": {
            "description": "Over your plan’s limit. Retry-After says how long to wait."
          },
          "503": {
            "description": "The record is unavailable right now. We do not answer from stale data."
          }
        }
      }
    },
    "/v1/addresses/{address}": {
      "get": {
        "tags": [
          "addresses"
        ],
        "deprecated": true,
        "summary": "Alias of /v1/address/{address}, kept for existing keys.",
        "description": "Since 2026-09-02 this is an alias. It returns the 1.1.0 shape as it was (restriction_records is the raw per-address document, or null when none is recorded) with the 1.2.0 fields beside it: verdict, verdict_reason, as_of, record_count, name, url, limitations, address_family, coverage.chains_vouched, chain names and counts, and the evidence list as `evidence`. New integrations should call /v1/address/{address}. It costs one call.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The wallet address, in any format its chain uses. We check Ethereum-style addresses (used by Ethereum and many other chains), addresses on Tron, Solana, Stellar, TON, the XRP Ledger, Aptos, Starknet and Sui, and NEAR account names that end in .near.",
            "schema": {
              "type": "string",
              "maxLength": 120
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The record.",
            "headers": {
              "x-ev-credit-line": {
                "description": "Present on every successful answer to a Free plan key: the credit line the license asks for, and the page that states the terms. Absent on the Business and Enterprise plans, which owe no credit line.",
                "schema": {
                  "type": "string",
                  "const": "Data from Eagle Virtual, https://eaglevirtual.com/license"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressRecord"
                }
              }
            }
          },
          "400": {
            "description": "Not a wallet address we can check. It costs no calls. The error is not_an_address when the text is not a wallet address, and test_network_address when it is an address on a test network. Test networks use play money, so there is nothing to check. The error is no_blacklist_on_this_coin when it is an address on a coin that does not have a blacklist or freeze function, like Bitcoin, Litecoin or Dogecoin. There is nothing to check on those coins, and the message names the coin. The error is address_has_extra_text when the address has extra text on the front or the end: a prefix we do not recognize before an Ethereum-style address (foo:0x…), or a Stellar M… address, which adds an account number to the wallet. A known prefix, like eth:0x…, is read as the plain address. Send the wallet address on its own. The error is address_not_recognized when the text is a name with a dot in it that does not end in .near, like a website name or a mistyped email address, and the record holds no NEAR account by that name. NEAR account names end in .near, or are 64 characters of letters and numbers."
          },
          "401": {
            "description": "Missing or invalid key."
          },
          "403": {
            "description": "This key is on a plan this API does not know. Write to sales@eaglevirtual.com."
          },
          "429": {
            "description": "Over your plan’s limit. Retry-After says how long to wait."
          },
          "503": {
            "description": "The record is unavailable right now. We do not answer from stale data."
          }
        }
      }
    },
    "/v1/addresses/batch": {
      "post": {
        "tags": [
          "addresses"
        ],
        "deprecated": true,
        "summary": "The alias shape for many addresses in one call.",
        "description": "Up to 100 addresses in one request on every plan. Each address that gets a record costs one call against the daily limit. Invalid entries cost nothing and come back with an error in their place. Each result is the /v1/addresses/{address} alias shape (the 1.1.0 record plus the 2026-09-02 fields). It is kept for existing keys. There is no other batch route yet, so this one stays until one is built.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "addresses"
                ],
                "properties": {
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 120
                    },
                    "minItems": 1,
                    "maxItems": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One result per address, in request order: a record, or {input, error} for an entry that is not an address.",
            "headers": {
              "x-ev-credit-line": {
                "description": "Present on every successful answer to a Free plan key: the credit line the license asks for, and the page that states the terms. Absent on the Business and Enterprise plans, which owe no credit line.",
                "schema": {
                  "type": "string",
                  "const": "Data from Eagle Virtual, https://eaglevirtual.com/license"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/AddressRecord"
                          },
                          {
                            "$ref": "#/components/schemas/BatchItemError"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No addresses, or more than 100."
          },
          "401": {
            "description": "Missing or invalid key."
          },
          "403": {
            "description": "This key is on a plan this API does not know. Write to sales@eaglevirtual.com."
          },
          "429": {
            "description": "Over your plan’s limit. Retry-After says how long to wait."
          },
          "503": {
            "description": "The record is unavailable right now."
          }
        }
      }
    },
    "/v1/chains": {
      "get": {
        "tags": [
          "coverage"
        ],
        "summary": "Every chain covered, with its lane status and how current it is.",
        "responses": {
          "200": {
            "description": "The chains.",
            "headers": {
              "x-ev-credit-line": {
                "description": "Present on every successful answer to a Free plan key: the credit line the license asks for, and the page that states the terms. Absent on the Business and Enterprise plans, which owe no credit line.",
                "schema": {
                  "type": "string",
                  "const": "Data from Eagle Virtual, https://eaglevirtual.com/license"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chains": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Chain"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid key."
          },
          "403": {
            "description": "This key is on a plan this API does not know. Write to sales@eaglevirtual.com."
          },
          "429": {
            "description": "Over your plan’s limit."
          },
          "503": {
            "description": "Coverage data unavailable right now."
          }
        }
      }
    },
    "/v1/events/rows": {
      "get": {
        "tags": [
          "addresses"
        ],
        "summary": "Every recorded event of one month, with its wallet.",
        "description": "One whole recorded month of the event list: each freeze, seize, blacklisting and release with its wallet, coin, chain, issuer, date, transaction and certified US figure, in the order the site shows them. `totals` is the WHOLE month, whatever the rows say. Answers on the Business and Enterprise plans. Every row counts against the account’s 15,000 rows a day, shared with the download in the browser. Other callers get 403 with the reason. The site’s own signed-in session answers here too, so this route takes a key or that cookie. It was called /v1/events/wallets until 2026-09-16 and served only the wallet column; that path still answers, with this shape.",
        "security": [],
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
            },
            "description": "The month, as YYYY-MM."
          }
        ],
        "responses": {
          "200": {
            "description": "The month’s rows, and the month’s totals.",
            "headers": {
              "x-ev-credit-line": {
                "description": "Present on every successful answer to a Free plan key: the credit line the license asks for, and the page that states the terms. Absent on the Business and Enterprise plans, which owe no credit line.",
                "schema": {
                  "type": "string",
                  "const": "Data from Eagle Virtual, https://eaglevirtual.com/license"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "month": {
                      "type": "string"
                    },
                    "plan": {
                      "type": "string",
                      "enum": [
                        "business",
                        "enterprise"
                      ],
                      "description": "The plan these rows were answered on."
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "integer",
                            "description": "The row’s place in the month, 1-based: its identity there."
                          },
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "at": {
                            "type": "integer",
                            "description": "Seconds since the epoch."
                          },
                          "kind": {
                            "type": "string",
                            "enum": [
                              "freeze",
                              "seizure",
                              "release",
                              "blacklist"
                            ]
                          },
                          "chain_id": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "issuer": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The company that acted, or null where the record does not name one."
                          },
                          "issuer_id": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "cents": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Certified US cents as a decimal string, or null where no certified price exists for that token at that block. A string because the largest seizures exceed double precision. Null is \"the record does not say\", never zero."
                          },
                          "amount_raw": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The recorded quantity in the coin’s base units, as a decimal string, or null where the record holds none. Scale it by amount_decimals."
                          },
                          "amount_decimals": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "The decimals that scale amount_raw. Null whenever amount_raw is null."
                          },
                          "measured_zero": {
                            "type": "boolean",
                            "description": "True when the balance was read at the event’s block and was zero. That is a measurement, not a missing value: the quantity is 0 and the value is $0.00."
                          },
                          "already_restricted": {
                            "type": "boolean",
                            "description": "True when the wallet was already frozen when this event was recorded. cents and amount_raw are then the balance it held here and its value, and the row is left out of totals.usd_cents and totals.priced: the balance was counted on the earlier freeze."
                          },
                          "already_restricted_since": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "description": "The earlier freeze such a row was counted on: block_number and observed_at (UTC seconds). Null on every other row."
                          },
                          "tx": {
                            "type": "string",
                            "description": "The transaction that executed it; empty where the event has none."
                          },
                          "wallet": {
                            "type": "string",
                            "description": "The restricted wallet, in its display form."
                          }
                        }
                      }
                    },
                    "totals": {
                      "type": "object",
                      "description": "The whole month, not this page. A blacklisting counts as a freeze, as the site’s grid counts it.",
                      "properties": {
                        "events": {
                          "type": "integer"
                        },
                        "freezes": {
                          "type": "integer"
                        },
                        "seizures": {
                          "type": "integer"
                        },
                        "releases": {
                          "type": "integer"
                        },
                        "usd_cents": {
                          "type": "string",
                          "description": "The month’s certified US cents, as a decimal string."
                        },
                        "priced": {
                          "type": "integer",
                          "description": "How many of the events have a certified US figure."
                        }
                      }
                    },
                    "rows_today": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "Rows this account has read today, after this request. Null when the counter could not be read."
                    },
                    "rows_limit": {
                      "type": "integer",
                      "description": "The account’s rows a day, shared with the download."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The month is not YYYY-MM."
          },
          "403": {
            "description": "The event lists come with the Business plan. The message says so, and no rows are sent."
          },
          "404": {
            "description": "There is no record for that month."
          },
          "429": {
            "description": "Over the caller’s calls a day, requests a second, or rows a day. Retry-After says how long to wait."
          },
          "503": {
            "description": "The month’s events could not be matched to their wallets, so none are shown."
          }
        }
      }
    },
    "/v1/events/wallets": {
      "get": {
        "tags": [
          "addresses"
        ],
        "summary": "The former name of /v1/events/rows.",
        "description": "What /v1/events/rows was called until 2026-09-16. The same handler answers it with the same shape, so a caller written against the old path keeps working. Until that date it served only the wallet column of a month, and how old the month was decided who saw it. Nothing is cut by age now, and the event lists come with the Business plan. New callers should use /v1/events/rows.",
        "security": [],
        "deprecated": true,
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-(0[1-9]|1[0-2])$"
            },
            "description": "The month, as YYYY-MM."
          }
        ],
        "responses": {
          "200": {
            "description": "The same answer as /v1/events/rows.",
            "headers": {
              "x-ev-credit-line": {
                "description": "Present on every successful answer to a Free plan key: the credit line the license asks for, and the page that states the terms. Absent on the Business and Enterprise plans, which owe no credit line.",
                "schema": {
                  "type": "string",
                  "const": "Data from Eagle Virtual, https://eaglevirtual.com/license"
                }
              }
            }
          },
          "400": {
            "description": "The month is not YYYY-MM."
          },
          "403": {
            "description": "The event lists come with the Business plan. The message says so, and no rows are sent."
          },
          "404": {
            "description": "There is no record for that month."
          },
          "429": {
            "description": "Over the caller’s limit. Retry-After says how long to wait."
          },
          "503": {
            "description": "The month’s events could not be matched to their wallets, so none are shown."
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Calls made today against your plan’s daily limit.",
        "description": "Counters are approximate by design and reset at midnight UTC. Reading usage costs nothing. On the Business and Enterprise plans the counter is the key’s own. On the Free plan it is the account’s, shared by every way the account reaches the record (this API and the MCP server).",
        "responses": {
          "200": {
            "description": "Usage.",
            "headers": {
              "x-ev-credit-line": {
                "description": "Present on every successful answer to a Free plan key: the credit line the license asks for, and the page that states the terms. Absent on the Business and Enterprise plans, which owe no credit line.",
                "schema": {
                  "type": "string",
                  "const": "Data from Eagle Virtual, https://eaglevirtual.com/license"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plan": {
                      "type": "string",
                      "enum": [
                        "free",
                        "business",
                        "enterprise"
                      ],
                      "description": "The plan behind this key."
                    },
                    "day": {
                      "type": "string",
                      "format": "date",
                      "description": "The UTC day the counter covers."
                    },
                    "calls_today": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "Approximate calls so far today. Null when the counter could not be read."
                    },
                    "daily_limit": {
                      "type": "integer"
                    },
                    "requests_per_second": {
                      "type": "integer"
                    },
                    "credit_line_required": {
                      "type": "boolean",
                      "description": "True on the Free plan: every answer to this key must be shown with the credit line. False on a paid plan."
                    },
                    "credit_line": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The credit line to show, when required: the same value as the x-ev-credit-line header. Null on a paid plan."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid key."
          },
          "403": {
            "description": "This key is on a plan this API does not know. Write to sales@eaglevirtual.com."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A key from your account. It starts with ev_ so you can recognize one in a log."
      }
    },
    "schemas": {
      "CheckResult": {
        "type": "object",
        "description": "The verdict for one wallet, with the scope it applies to. Do not quote the word without as_of and the coverage beside it.",
        "properties": {
          "address": {
            "type": "string",
            "description": "The machine-normalized address (lowercase hex for EVM). A permanent identifier, safe to store and match on."
          },
          "address_display": {
            "type": "string",
            "description": "The address as its chain displays it (EIP-55 casing for EVM)."
          },
          "address_family": {
            "type": [
              "string",
              "null"
            ],
            "description": "Which family of chains the address belongs to: evm, tron, solana or stellar."
          },
          "verdict": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "CLEAR",
              "FROZEN",
              "SEIZED",
              "UNFROZEN",
              null
            ],
            "description": "The wallet’s current state on the record, by the page’s precedence: SEIZED when a balance was taken and not returned; FROZEN when any token or address restriction is still in force; UNFROZEN when every restriction on record was lifted; CLEAR when nothing is recorded on the chains we check that this address can be on and were current as of as_of. A CLEAR beside a non-empty coverage.not_vouched_for is the answer of the current chains: each chain listed there was behind, and a very recent action on it may not show yet. Null when nothing is recorded and none of the chains this address can be on was current (see verdict_reason). A recorded restriction still resolves to its word when a chain is behind. coverage.not_vouched_for then says which chain, and a later release there could be missing."
          },
          "verdict_reason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "coverage_unvouched",
              null
            ],
            "description": "Why verdict is null: none of the chains this address can be on was current at that moment (each was behind or never scanned), so an absence cannot be vouched for. Null when verdict is a word."
          },
          "as_of": {
            "type": "integer",
            "description": "When the verdict data was built, UTC seconds. The date the verdict applies to."
          },
          "checked_at": {
            "type": "integer",
            "description": "When this answer was produced, UTC seconds."
          },
          "record_count": {
            "type": "integer",
            "description": "How many events are recorded against the address, on every chain we check."
          },
          "coverage": {
            "$ref": "#/components/schemas/CoverageSummary"
          },
          "url": {
            "type": "string",
            "description": "The wallet’s page, in the form the page declares canonical."
          }
        }
      },
      "CoverageSummary": {
        "type": "object",
        "description": "What was checked. A CLEAR verdict with an empty not_vouched_for means every chain this address can be on was current. A CLEAR beside a non-empty not_vouched_for (since 1.3.0) is the answer of the chains that were current, and the list names the ones that were behind. chains_vouched counts every claimed chain, including chains this address cannot be on, so beside a CLEAR it can be lower than chains_claimed.",
        "properties": {
          "chains_claimed": {
            "type": "integer",
            "description": "How many chains this record claims to check."
          },
          "chains_vouched": {
            "type": "integer",
            "description": "How many of them were current enough to vouch for when the verdict data was built."
          },
          "as_of": {
            "type": "integer",
            "description": "When the verdict data was built, UTC seconds."
          },
          "not_vouched_for": {
            "type": "array",
            "description": "Chains this address can be on that this answer must not be trusted for right now. Empty when every one of them is current. A chain the address cannot be on is never listed.",
            "items": {
              "type": "object",
              "properties": {
                "chain_id": {
                  "type": "string"
                },
                "name": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "The chain’s display name, when published."
                },
                "last_verified_block": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "reason": {
                  "type": "string",
                  "enum": [
                    "never scanned",
                    "scan behind"
                  ]
                }
              }
            }
          }
        }
      },
      "AddressResult": {
        "type": "object",
        "description": "Everything the wallet’s page shows, as data: the verdict block, the coverage grid, the evidence for every recorded event, the verified name, and the limitations block.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CheckResult"
          },
          {
            "type": "object",
            "properties": {
              "coverage": {
                "$ref": "#/components/schemas/CoverageGrid"
              },
              "restriction_records": {
                "type": "array",
                "description": "One evidence object for each recorded event, newest first, in the order the document lists them. Empty when nothing is recorded.",
                "items": {
                  "$ref": "#/components/schemas/EvidenceRecord"
                }
              },
              "name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The wallet’s verified, current ENS primary name, or null. Never an alias, a label or a reported name. Only a primary that resolves both ways and was current at the last check is served (2026-09-02)."
              },
              "limitations": {
                "type": "object",
                "description": "The page’s Limitations and scope block, which sets the terms every answer here is read under. The id changes when the text changes.",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "limitations-2026-08-30"
                  },
                  "url": {
                    "type": "string",
                    "description": "The block on the wallet’s page."
                  }
                }
              }
            }
          }
        ]
      },
      "CoverageGrid": {
        "type": "object",
        "description": "The page’s Chain coverage grid: every claimed chain, the block it was checked to, and what was found there.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CoverageSummary"
          },
          {
            "type": "object",
            "properties": {
              "chains": {
                "type": "array",
                "description": "Every claimed chain, including chains the page hides for this address family (an EVM wallet’s page shows only EVM chains, plus any chain it has a record on).",
                "items": {
                  "$ref": "#/components/schemas/ChainRow"
                }
              }
            }
          }
        ]
      },
      "ChainRow": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The chain’s display name, when published."
          },
          "last_scanned_block": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The last block confirmed for this chain. Null when never scanned."
          },
          "last_scanned_at": {
            "type": [
              "integer",
              "null"
            ],
            "description": "When the scanner last checked in, UTC seconds. Null when never scanned."
          },
          "vouched": {
            "type": "boolean",
            "description": "Whether this chain was current enough to vouch for when the verdict data was built."
          },
          "counts": {
            "type": [
              "object",
              "null"
            ],
            "description": "The three counts the grid shows for this chain. Null (the grid’s dash) when the chain has no record and could not be vouched for. An absence nobody could check is not a zero.",
            "properties": {
              "seize": {
                "type": "integer",
                "description": "Balances taken."
              },
              "freeze": {
                "type": "integer",
                "description": "Freezes and blacklistings, address-level freezes and listings included."
              },
              "unfreeze": {
                "type": "integer",
                "description": "Restrictions lifted, whatever they reversed."
              }
            }
          }
        }
      },
      "EvidenceRecord": {
        "type": "object",
        "description": "One recorded on-chain action, with the evidence the page prints for it. The company is the actor, never the coin.",
        "properties": {
          "event_id": {
            "type": "string",
            "description": "Permanent identifier, stable across re-scans. Safe to store. The page’s anchor for this event is #event-{event_id}."
          },
          "subject_address": {
            "type": "string",
            "description": "The restricted wallet, machine-normalized."
          },
          "chain_id": {
            "type": "string"
          },
          "chain_name": {
            "type": "string"
          },
          "token": {
            "type": "object",
            "properties": {
              "symbol": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Null for an on-chain listing, which names no token."
              },
              "name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The token’s full name, from the record or the registry."
              },
              "canonical_id": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The registry key for this deployment: one contract on one chain."
              },
              "contract": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The contract that emitted the event, from the registry, matched on the same chain and deployment. Null when the registry has no row for it, never a guess from another chain."
              },
              "contract_note": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Why contract is null, when it is."
              }
            }
          },
          "company": {
            "type": [
              "string",
              "null"
            ],
            "description": "The company that acted, as the record attributes it. Null when the record does not attribute it, never resolved from a ticker."
          },
          "event": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string",
                "description": "The on-chain event signature that executed it."
              },
              "kind": {
                "type": "string",
                "enum": [
                  "Seize",
                  "Freeze",
                  "Address freeze",
                  "Address unfreeze",
                  "Unfreeze"
                ],
                "description": "The kind word the page prints on the event."
              },
              "category": {
                "type": "string",
                "description": "The decoded category, e.g. \"blacklist\" or \"freeze\"."
              },
              "is_seizure": {
                "type": "boolean",
                "description": "True when a balance was taken."
              },
              "is_release": {
                "type": "boolean",
                "description": "True when the restriction was lifted."
              }
            }
          },
          "block_number": {
            "type": [
              "integer",
              "null"
            ]
          },
          "tx_hash": {
            "type": [
              "string",
              "null"
            ],
            "description": "As the chain records it. Null when the source had none."
          },
          "observed_at": {
            "type": "integer",
            "description": "Block timestamp, UTC seconds."
          },
          "observed": {
            "type": "string",
            "description": "The same instant as ISO 8601 UTC."
          },
          "amount": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Amount"
              },
              {
                "type": "null"
              }
            ],
            "description": "The quantity, or null when the record has none. Absent is null, never zero: \"nothing was taken\" and \"the record does not say\" are different claims."
          },
          "usd": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Usd"
              },
              {
                "type": "null"
              }
            ],
            "description": "The certified dollar figure, or null where none exists. It is never $0.00."
          },
          "already_restricted": {
            "type": [
              "object",
              "null"
            ],
            "description": "Set when the wallet was already frozen when this event was recorded. amount and usd are the balance it held at this event and its value then, and neither is counted in any total: the balance was counted on the earlier freeze named here. Null on every other event. Skip these records when adding up usd.",
            "properties": {
              "counted_in_totals": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "since_block_number": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "The block of the earlier freeze, or null when the record does not name it."
              },
              "since_observed_at": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "When the earlier freeze was recorded, UTC seconds, or null."
              },
              "note": {
                "type": "string",
                "description": "The sentence the page prints beside the figure."
              }
            }
          },
          "scope": {
            "type": [
              "object",
              "null"
            ],
            "description": "Present only when one event restricted every token a control contract governs: what the address held in those tokens, as the document lists it."
          },
          "decision_group": {
            "type": [
              "object",
              "null"
            ],
            "description": "Present when this event is one enforcement of a single decision that hit several tokens at once; role is \"primary\" or \"member\"."
          },
          "identity": {
            "type": "object",
            "description": "The store’s identity for the deployment. Null fields mean the record does not say.",
            "properties": {
              "asset_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "asset_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "asset_symbol": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "issuer_id": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "issuer_kind": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "deployment_kind": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "\"native\", or \"bridged\" for a representation the issuer did not deploy."
              },
              "peg": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The quantity in the token’s own unit, as an exact decimal string, not a float."
          },
          "raw": {
            "type": [
              "string",
              "null"
            ],
            "description": "The smallest-unit integer as the document lists it. Null for a measured zero."
          },
          "decimals": {
            "type": [
              "integer",
              "null"
            ]
          },
          "unit": {
            "type": [
              "string",
              "null"
            ],
            "description": "The token symbol the quantity is in."
          },
          "measured": {
            "type": "boolean",
            "description": "True when the figure was measured on chain rather than copied from the event."
          },
          "measured_zero": {
            "type": "boolean",
            "description": "True when the balance was measured and was zero. That is a measurement, not a missing value."
          },
          "basis": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "logged",
              "balance_at_event",
              "balance_before_wipe",
              "balance_at_release",
              null
            ],
            "description": "Where the figure came from: as the event logged it; the balance at the event block (a freeze or blacklist); the balance in the block before (a seizure that destroyed it, or a freeze whose balance was destroyed later in the same block, shown as no more than the amount destroyed); the balance at the block a release was recorded in (the amount let go, never restricted money). Null for a measured zero, which names no basis."
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "description": "The measurement sentence the page prints under a measured figure. Null for a logged amount."
          }
        }
      },
      "Usd": {
        "type": "object",
        "properties": {
          "cents": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Integer cents. Null only when the figure is over 2^53. The formatted field is exact at any size."
          },
          "formatted": {
            "type": "string",
            "description": "The figure as $#,###.##: the sign, thousands separators, and two decimal places."
          },
          "basis": {
            "type": [
              "string",
              "null"
            ],
            "description": "The price source the producer named: peg, chainlink, chainlink_underlying, pyth, fixed_fx or issuer_nav (the coin’s own company’s published price)."
          },
          "basis_note": {
            "type": [
              "string",
              "null"
            ],
            "description": "The same basis in plain English."
          }
        }
      },
      "AddressRecord": {
        "type": "object",
        "description": "The alias shape: the 1.1.0 record as it was, plus the 2026-09-02 fields.",
        "properties": {
          "address": {
            "type": "string",
            "description": "The machine-normalized address (lowercase hex for EVM). A permanent identifier, safe to store and match on."
          },
          "address_display": {
            "type": "string",
            "description": "The address as its chain displays it (EIP-55 casing for EVM)."
          },
          "address_family": {
            "type": [
              "string",
              "null"
            ],
            "description": "evm, tron, solana or stellar."
          },
          "checked_at": {
            "type": "integer",
            "description": "When this answer was produced, UTC seconds."
          },
          "restriction_records": {
            "type": [
              "object",
              "null"
            ],
            "description": "The recorded events as the per-address document lists them, or null when none is recorded. The same events, with their evidence resolved, are in `evidence`.",
            "properties": {
              "events": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "names": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Names"
              },
              {
                "type": "null"
              }
            ],
            "description": "The wallet’s verified current ENS primary, or null when it has none."
          },
          "coverage": {
            "$ref": "#/components/schemas/CoverageGrid"
          },
          "verdict": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "CLEAR",
              "FROZEN",
              "SEIZED",
              "UNFROZEN",
              null
            ],
            "description": "As on /v1/check."
          },
          "verdict_reason": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "coverage_unvouched",
              null
            ]
          },
          "as_of": {
            "type": "integer"
          },
          "record_count": {
            "type": "integer"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "As on /v1/address."
          },
          "evidence": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvidenceRecord"
            },
            "description": "As restriction_records on /v1/address."
          },
          "limitations": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Names": {
        "type": "object",
        "description": "Only a verified, current ENS primary is ever served (2026-09-02). Aliases, labels and reported names are not. The alias fields stay in the shape, always empty, so a 1.1.0 client keeps parsing.",
        "properties": {
          "best_name": {
            "type": "string"
          },
          "best_name_tier": {
            "type": "string",
            "enum": [
              "primary"
            ]
          },
          "primary": {
            "type": "object",
            "description": "The primary record: name, name_system, state, first_seen_at, last_seen_at."
          },
          "aliases": {
            "type": "array",
            "maxItems": 0
          },
          "ambiguous": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "alias_count": {
            "type": "integer",
            "enum": [
              0
            ]
          },
          "as_of": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          }
        }
      },
      "Event": {
        "type": "object",
        "description": "One recorded on-chain action, as the document lists it. The company is the actor, never the coin.",
        "properties": {
          "event_id": {
            "type": "string",
            "description": "Permanent identifier, stable across re-scans. Safe to store."
          },
          "subject_address": {
            "type": "string"
          },
          "chain_id": {
            "type": "string"
          },
          "chain_name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "canonical_id": {
            "type": "string",
            "description": "The token across chains, e.g. \"usdt\"."
          },
          "event_signature": {
            "type": "string",
            "description": "The on-chain event signature that executed it."
          },
          "category": {
            "type": "string",
            "description": "What happened, e.g. \"blacklist\" or \"freeze\". Seizures and releases are flagged by is_seizure and is_release."
          },
          "is_seizure": {
            "type": "boolean",
            "description": "True when a balance was taken."
          },
          "is_release": {
            "type": "boolean",
            "description": "True when the restriction was lifted."
          },
          "observed_at": {
            "type": "integer",
            "description": "Block timestamp, UTC seconds."
          },
          "block_number": {
            "type": "integer"
          },
          "tx_hash": {
            "type": "string"
          },
          "amount_raw": {
            "type": "string",
            "description": "The measured amount in the token’s smallest unit, as a decimal string. Present only where a balance was measured. It is absent rather than zero, because \"nothing was taken\" and \"the record does not say\" are different claims. Scale by amount_decimals."
          },
          "amount_decimals": {
            "type": "integer"
          },
          "amount_derived": {
            "type": "boolean",
            "description": "True when the amount was measured on-chain rather than transcribed from the event."
          },
          "amount_basis": {
            "type": "string",
            "enum": [
              "balance_at_event",
              "balance_before_wipe",
              "balance_at_release"
            ],
            "description": "Which block the balance was read at: the event block for a freeze, the block before for a seizure that destroyed it, the release block for an unfreeze (the amount let go, never restricted money). A freeze whose balance was destroyed later in the same block is also read in the block before, and shows no more than the amount destroyed."
          },
          "measured_zero": {
            "type": "boolean",
            "description": "True when the balance was measured and was zero. That is a measurement, not a missing value."
          },
          "already_restricted": {
            "type": "boolean",
            "description": "True when the wallet was already frozen by an earlier freeze of the same coin. amount_raw and usd_cents are then the balance it held at this event and its value, counted in no total because the balance was counted on the earlier freeze."
          },
          "already_restricted_since": {
            "type": "object",
            "description": "The earlier freeze an already_restricted event was counted on. Absent when the record does not name it.",
            "properties": {
              "block_number": {
                "type": "integer"
              },
              "observed_at": {
                "type": "integer",
                "description": "UTC seconds."
              }
            }
          },
          "usd_cents": {
            "type": "string",
            "description": "USD value in cents, as a decimal string. Present only where certified pricing exists for that token at that block."
          },
          "usd_basis": {
            "type": "string",
            "description": "Where the price came from, e.g. \"peg\"."
          },
          "scope": {
            "type": "object",
            "description": "Present only when one event restricted every token a control contract governs."
          },
          "decision_group": {
            "type": "object",
            "description": "Present when this event is one enforcement of a decision that hit several tokens."
          },
          "asset_id": {
            "type": "string"
          },
          "asset_name": {
            "type": "string"
          },
          "asset_symbol": {
            "type": "string"
          },
          "issuer_id": {
            "type": "string"
          },
          "issuer_name": {
            "type": "string",
            "description": "The company that acted."
          },
          "issuer_kind": {
            "type": "string"
          },
          "deployment_kind": {
            "type": "string",
            "description": "\"native\", or \"bridged\" for a representation the issuer did not deploy."
          },
          "peg": {
            "type": "string"
          }
        }
      },
      "Coverage": {
        "type": "object",
        "description": "The 1.1.0 coverage block: what was checked and how current each chain was. An answer is a full all-clear when not_vouched_for is empty; it lists only chains this address can be on, each one behind at that moment. CoverageGrid replaces it and includes every field here.",
        "properties": {
          "chains_claimed": {
            "type": "integer",
            "description": "How many chains this record claims to check."
          },
          "as_of": {
            "type": "integer",
            "description": "When the verdict data was built, UTC seconds."
          },
          "not_vouched_for": {
            "type": "array",
            "description": "Chains this address can be on that this answer must not be trusted for right now. Empty when every one of them is current. A chain the address cannot be on is never listed.",
            "items": {
              "type": "object",
              "properties": {
                "chain_id": {
                  "type": "string"
                },
                "last_verified_block": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "reason": {
                  "type": "string",
                  "enum": [
                    "never scanned",
                    "scan behind"
                  ]
                }
              }
            }
          },
          "chains": {
            "type": "array",
            "description": "Every claimed chain and the block confirmed for it, so a no-record answer is visibly a checked answer.",
            "items": {
              "type": "object",
              "properties": {
                "chain_id": {
                  "type": "string"
                },
                "last_scanned_block": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "last_scanned_at": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "vouched": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "Chain": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The chain’s display name, when published."
          },
          "vouched_for": {
            "type": "boolean",
            "description": "False when the chain is behind. A chain that is behind says so."
          },
          "last_scanned_block": {
            "type": [
              "integer",
              "null"
            ]
          },
          "last_scanned_at": {
            "type": [
              "integer",
              "null"
            ],
            "description": "When the scanner last checked in, UTC seconds. Null when the chain has never been scanned."
          }
        }
      },
      "BatchItemError": {
        "type": "object",
        "properties": {
          "input": {
            "type": "string",
            "description": "The entry as it was sent."
          },
          "error": {
            "type": "string",
            "description": "not_an_address when the entry is not a wallet address; test_network_address when it is an address on a test network; no_blacklist_on_this_coin when it is an address on a coin that does not have a blacklist or freeze function, like Bitcoin; address_has_extra_text when the address has extra text on the front or the end, like foo:0x… or a Stellar M… address; address_not_recognized when it is a name with a dot in it that does not end in .near, like a website name, and the record holds no NEAR account by that name.",
            "example": "not_an_address"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "addresses"
    },
    {
      "name": "coverage"
    },
    {
      "name": "account"
    }
  ]
}