{
  "swagger": "2.0",
  "info": {
    "title": "SmartKasa API",
    "description": "RESTful json API",
    "termsOfService": "https://smartkasa.ua/",
    "contact": {
      "name": "SmartKasa Support",
      "url": "https://smartkasa.ua/",
      "email": "help@smartkasa.ua"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/smartkasa/open-api_specification/1.0.0"
  },
  "host": "apidev.smartcasa.com.ua",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/banks/{bank_id}/acquiring_providers": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bank_id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Get bank providers",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 3,
                    "fee": 2.0,
                    "name": "Mastercard",
                    "provider_type_id": 1,
                    "sort_order": 1
                  }
                ],
                "meta": {
                  "total_count": 1
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/banks/{bank_id}/acquiring_providers/{id}": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bank_id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Get provider info",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 4,
                  "fee": 2.0,
                  "name": "Mastercard",
                  "provider_type_id": 1,
                  "sort_order": 1
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/banks/{bank_id}/acquiring_rules": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bank_id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Get bank acquiring rules",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 3,
                    "fee": 2.0,
                    "sort_order": 1,
                    "state": 0,
                    "title": "Mastercard"
                  }
                ],
                "meta": {
                  "total_count": 1
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/banks/{bank_id}/acquiring_rules/{id}": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bank_id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Get rule info",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 4,
                  "fee": 2.0,
                  "sort_order": 1,
                  "state": 0,
                  "title": "Mastercard"
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/assets/endpoints": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "asset": {
                  "type": "object",
                  "properties": {
                    "filename": {
                      "type": "string",
                      "example": "test.png",
                      "description": "Filename"
                    },
                    "type": {
                      "type": "string",
                      "example": "image/png",
                      "description": "Type"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 0,
                  "fields": {
                    "key": "uploads/cache/5daab619-8a09-4e24-a635-4e756c529493/778caf7d8d81a7ff8041003ef01afe00a85750d15086a3cb267fd8d23d8dd285.png",
                    "Expires": "Wed, 11 Mar 2026 20:12:56 GMT",
                    "success_action_status": "201",
                    "Content-Disposition": "inline; filename=\"test.png\"",
                    "Content-Type": "image/png",
                    "policy": "eyJleHBpcmF0aW9uIjoiMjAyNi0wMy0xMVQyMTowNzo1NloiLCJjb25kaXRpb25zIjpbeyJidWNrZXQiOiJ0ZXN0In0seyJrZXkiOiJ1cGxvYWRzL2NhY2hlLzVkYWFiNjE5LThhMDktNGUyNC1hNjM1LTRlNzU2YzUyOTQ5My83NzhjYWY3ZDhkODFhN2ZmODA0MTAwM2VmMDFhZmUwMGE4NTc1MGQxNTA4NmEzY2IyNjdmZDhkMjNkOGRkMjg1LnBuZyJ9LHsiRXhwaXJlcyI6IldlZCwgMTEgTWFyIDIwMjYgMjA6MTI6NTYgR01UIn0seyJzdWNjZXNzX2FjdGlvbl9zdGF0dXMiOiIyMDEifSx7IkNvbnRlbnQtRGlzcG9zaXRpb24iOiJpbmxpbmU7IGZpbGVuYW1lPVwidGVzdC5wbmdcIiJ9LHsiQ29udGVudC1UeXBlIjoiaW1hZ2UvcG5nIn0sWyJjb250ZW50LWxlbmd0aC1yYW5nZSIsMCw1MjQyODgwMF0seyJ4LWFtei1jcmVkZW50aWFsIjoidGVzdC8yMDI2MDMxMS9ldS1jZW50cmFsLTEvczMvYXdzNF9yZXF1ZXN0In0seyJ4LWFtei1hbGdvcml0aG0iOiJBV1M0LUhNQUMtU0hBMjU2In0seyJ4LWFtei1kYXRlIjoiMjAyNjAzMTFUMjAwNzU2WiJ9XX0=",
                    "x-amz-credential": "test/20260311/eu-central-1/s3/aws4_request",
                    "x-amz-algorithm": "AWS4-HMAC-SHA256",
                    "x-amz-date": "20260311T200756Z",
                    "x-amz-signature": "db3dcb157988dadfc7ea62eeb20142ba9bb6b259fb31d35ab0d6235cf0196701"
                  },
                  "method": "post",
                  "url": "https://test.s3.eu-central-1.amazonaws.com"
                },
                "meta": {}
              }
            }
          },
          "422": {
            "description": "Error",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "errors": {
                  "filename": [
                    {
                      "error": "blank"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/api/v1/auth/passwords": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "phone_number": {
                      "type": "string",
                      "example": "380960000001",
                      "description": "Phone number"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 14,
                  "name": "phone_number",
                  "public_token": "f92775d3-b558-4f3f-9d78-30658f35bd7d",
                  "state": 0,
                  "value": "380960000001"
                },
                "meta": {}
              }
            }
          },
          "422": {
            "description": "Error",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "errors": {
                  "phone_number": [
                    {
                      "error": "not_found"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/auth/passwords/{id}": {
      "put": {
        "tags": [
          "Auth"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "b286bf43c1976edcf681a3bb",
                      "description": "Code"
                    },
                    "new_password": {
                      "type": "string",
                      "example": "qwertyuiop",
                      "description": "New password"
                    },
                    "new_password_confirmation": {
                      "type": "string",
                      "example": "qwertyuiop",
                      "description": "New password confirmation"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 654
                },
                "meta": {}
              }
            }
          },
          "422": {
            "description": "Error",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "errors": {
                  "code": [
                    {
                      "error": "invalid"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": null,
                  "access": "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3NzMyNjMyNzYsInVzZXJfdHlwZV9pZCI6MSwib3duZXJfaWQiOjY1Niwicm9sZV9pZCI6bnVsbCwic2Vzc2lvbl90b2tlbiI6IjIzN2E4NjJhLWQ2YmEtNDE1YS04OGNhLTdiYTljNGNiMjVjZCIsInVzZXJfaWQiOjY1NiwidWlkIjoiODU4YzdhNmYtMTljNC00YTM2LWJjZTMtMmQzYzQ1YzM3YTg5IiwiZXhwIjoxNzc1ODg5NDIyfQ.nd8k3RUpYM9q2Z97YMrXzC8vagCwwnH4GsqR_HEGhgc",
                  "access_expires_at": "2026-04-11T06:37:02.000+00:00",
                  "csrf": "Q/5YW7HGqu3xFQ8vIENiNh0x48FTJEPokdoLVzn6/LEmUOYv55h2yPFrXdT8zck+8ppSkFsdlu1/IxJ0SqmZ6g==",
                  "refresh": "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3NzMyNjMyNzYsInNlc3Npb25fdG9rZW4iOiIyMzdhODYyYS1kNmJhLTQxNWEtODhjYS03YmE5YzRjYjI1Y2QiLCJ1c2VyX2lkIjo2NTYsInVpZCI6Ijg0OTAwMWY4LTEyNzItNDMzYy05ZDRjLTQ3NDNiNWMzZTc2OCIsImV4cCI6MTc3NTg4OTQyMn0.U5-TB4QAkV2IDJ_OPANPTE0uvsptP36AwJeql0oQOgs",
                  "refresh_expires_at": "2026-04-11T06:37:02.000+00:00"
                },
                "meta": {}
              }
            }
          },
          "401": {
            "description": "Error refresh access token",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "message": "Unauthorized"
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/auth/sessions": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "session": {
                  "type": "object",
                  "properties": {
                    "phone_number": {
                      "type": "string",
                      "example": "380960000006",
                      "description": "Phone number"
                    },
                    "password": {
                      "type": "string",
                      "example": "123456789",
                      "description": "Password"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create new user session",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": null,
                  "access": "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3NzMyNjMyNzYsInVzZXJfdHlwZV9pZCI6MSwib3duZXJfaWQiOjY1OCwicm9sZV9pZCI6bnVsbCwic2Vzc2lvbl90b2tlbiI6ImM3OWMwNzY0LTQ0NDctNDQ4ZS1hNGM0LTgxMWE5ODZjMjdhMiIsInVzZXJfaWQiOjY1OCwidWlkIjoiZTAxMmE1NGMtNjc1ZC00MzExLWFmMjctYzlkZTIzMDY3YTVlIiwiZXhwIjoxNzc1ODg5NDIyfQ.m3hJGrHgs1ueu9N0DfzbV_KY2-ppxy-UjpzBcu31zUE",
                  "access_expires_at": "2026-04-11T06:37:02.000+00:00",
                  "csrf": "GifiehcoH0zwnsNwL/RNlcQ/aO6EvxaZKxlYebL5NYzg2S309UlSeVvog33LYUiPIR7tHgwo+CxdqLzQj4Jkhg==",
                  "refresh": "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3NzMyNjMyNzYsInNlc3Npb25fdG9rZW4iOiJjNzljMDc2NC00NDQ3LTQ0OGUtYTRjNC04MTFhOTg2YzI3YTIiLCJ1c2VyX2lkIjo2NTgsInVpZCI6ImRiYjkzMWIxLWFiZDItNDE2YS1iOTA2LTRkZmUzNmRlNGUzMSIsImV4cCI6MTc3NTg4OTQyMn0.nMWogZDu0O8V6kb6jnZMDxNLLL4yVR6UXqLsjJrkuQE",
                  "refresh_expires_at": "2026-04-11T06:37:02.000+00:00"
                },
                "meta": {}
              }
            }
          },
          "422": {
            "description": "Error create new session",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "errors": {
                  "base": [
                    {
                      "error": "phone_number_or_password_invalid"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/auth/sessions/logout": {
      "delete": {
        "tags": [
          "Auth"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "2c18957b-96a4-4c6f-a187-7497099820a1"
                },
                "meta": {}
              }
            }
          },
          "401": {
            "description": "Error",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "message": "Unauthorized"
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/banks": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get banks",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 74,
                    "acquiring_percent": 66.6,
                    "sort_order": 0,
                    "state": 1,
                    "title": "Qui optio pariatur ex."
                  }
                ],
                "meta": {
                  "current_page": 1,
                  "next_page": null,
                  "prev_page": null,
                  "total_pages": 1,
                  "total_count": 1,
                  "limit_value": 25,
                  "offset_value": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/banks/{id}": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "View bank",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 75,
                  "acquiring_percent": 66.6,
                  "created_at": "2026-03-11T22:07:56.779+00:00",
                  "sort_order": 0,
                  "state": 1,
                  "title": "In sit sequi nostrum.",
                  "updated_at": "2026-03-11T22:07:56.779+00:00"
                },
                "meta": {}
              }
            }
          },
          "404": {
            "description": "Should return 404 if wrong id passed",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "message": "Resource not found"
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/balance": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get balance",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "created_at": "2026-03-11T22:07:56.828+00:00",
                  "id": 661,
                  "owner_id": 661,
                  "total": "0.99",
                  "updated_at": "2026-03-11T22:07:56.828+00:00"
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/balance/credit": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Create invoice",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 34,
                  "amount": "99.99",
                  "invoice_type_id": 11,
                  "number": "3974387531618738",
                  "order_id": null,
                  "paid_at": null,
                  "state": 0,
                  "subscription_id": null,
                  "wayforpay": {
                    "language": "UA",
                    "clientFirstName": "Агапія",
                    "clientLastName": "Гордіївна Карпух",
                    "clientEmail": "danweber@wyman.net",
                    "clientPhone": "380960000010",
                    "merchantTransactionSecureType": "AUTO",
                    "merchantAccount": "test",
                    "merchantDomainName": "test.com",
                    "serviceUrl": "http://localhost/payments/callbacks/3974387531618738",
                    "orderReference": "3974387531618738",
                    "orderDate": 1773259676,
                    "orderNo": null,
                    "orderTimeout": 31536000,
                    "orderLifetime": 31536000,
                    "amount": "99.99",
                    "currency": "UAH",
                    "productName": [
                      "Invoice 3974387531618738"
                    ],
                    "productPrice": [
                      "99.99"
                    ],
                    "productCount": [
                      1
                    ],
                    "authorizationType": "SimpleSignature",
                    "merchantSignature": "859044f6192f90dc6a994f24a567c544"
                  }
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/cards": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "description": "Invoice State id/code",
            "required": false,
            "type": "string"
          },
          {
            "name": "states",
            "in": "query",
            "description": "Invoice States id/code (comma-separated or array)",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Invoice Type id/code",
            "required": false,
            "type": "string"
          },
          {
            "name": "types",
            "in": "query",
            "description": "Invoice Type id/code (comma-separated or array)",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Per page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "skip_pagination",
            "in": "query",
            "description": "Skip pagination",
            "required": false,
            "type": "trueclass | falseclass"
          }
        ],
        "responses": {
          "200": {
            "description": "Get verified cards",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 6,
                    "card_type": "visa",
                    "email": "setsukohoeger@west.net",
                    "is_primary": false,
                    "masked_pan": "*1234"
                  }
                ],
                "meta": {
                  "total_count": 1
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/cards/new": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get data for card verification request",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 35,
                  "amount": "1.0",
                  "invoice_type_id": 10,
                  "number": "1375465524281164",
                  "order_id": null,
                  "paid_at": null,
                  "state": 0,
                  "subscription_id": null,
                  "wayforpay": {
                    "language": "UA",
                    "clientFirstName": "Дзюба",
                    "clientLastName": "Владислав",
                    "clientEmail": "lynettedickens@nolan.org",
                    "clientPhone": "380960000012",
                    "merchantTransactionSecureType": "AUTO",
                    "merchantAccount": "test",
                    "merchantDomainName": "test.com",
                    "serviceUrl": "http://localhost/payments/callbacks/1375465524281164",
                    "requestType": "VERIFY",
                    "orderReference": "1375465524281164",
                    "currency": "UAH",
                    "amount": 1,
                    "verifyType": "simple",
                    "paymentSystem": "card",
                    "merchantAuthType": "simpleSignature",
                    "merchantSignature": "5e7346f802158abb50dab458bfcba78f"
                  }
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/cards/{id}": {
      "put": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Set card as primary",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 8,
                  "card_type": "visa",
                  "email": "kurt@dickinsonmayert.name",
                  "is_primary": true,
                  "masked_pan": "*1234"
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/invoices": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get invoices",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 36,
                    "amount": "100.0",
                    "invoice_type_id": 0,
                    "number": "32ee27a0-8d44-4650-a986-e3d84cafd3e6",
                    "order_id": 84,
                    "paid_at": null,
                    "state": 0,
                    "subscription_id": null,
                    "wayforpay": {
                      "language": "UA",
                      "clientFirstName": "Кордун",
                      "clientLastName": "Тур",
                      "clientEmail": "tera@hintz.biz",
                      "clientPhone": "380960000015",
                      "merchantTransactionSecureType": "AUTO",
                      "merchantAccount": "test",
                      "merchantDomainName": "test.com",
                      "serviceUrl": "http://localhost/payments/callbacks/32ee27a0-8d44-4650-a986-e3d84cafd3e6",
                      "orderReference": "32ee27a0-8d44-4650-a986-e3d84cafd3e6",
                      "orderDate": 1773266877,
                      "orderNo": null,
                      "orderTimeout": 31536000,
                      "orderLifetime": 31536000,
                      "amount": "100.0",
                      "currency": "UAH",
                      "productName": [
                        "Invoice 32ee27a0-8d44-4650-a986-e3d84cafd3e6"
                      ],
                      "productPrice": [
                        "100.0"
                      ],
                      "productCount": [
                        1
                      ],
                      "authorizationType": "SimpleSignature",
                      "merchantSignature": "cf7af97314c5dfc3c4399dd4988f2902"
                    }
                  }
                ],
                "meta": {
                  "current_page": 1,
                  "next_page": null,
                  "prev_page": null,
                  "total_pages": 1,
                  "total_count": 1,
                  "limit_value": 25,
                  "offset_value": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/invoices/{id}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 37,
                  "amount": "100.0",
                  "invoice_type_id": 0,
                  "number": "93da52fb-1551-4372-bb85-7ec9815fb4be",
                  "order_id": 85,
                  "paid_at": null,
                  "state": 0,
                  "subscription_id": null,
                  "wayforpay": {
                    "language": "UA",
                    "clientFirstName": "Зінкевич",
                    "clientLastName": "Всеслав Олексійович",
                    "clientEmail": "donnell@ondricka.co",
                    "clientPhone": "380960000018",
                    "merchantTransactionSecureType": "AUTO",
                    "merchantAccount": "test",
                    "merchantDomainName": "test.com",
                    "serviceUrl": "http://localhost/payments/callbacks/93da52fb-1551-4372-bb85-7ec9815fb4be",
                    "orderReference": "93da52fb-1551-4372-bb85-7ec9815fb4be",
                    "orderDate": 1773266877,
                    "orderNo": null,
                    "orderTimeout": 31536000,
                    "orderLifetime": 31536000,
                    "amount": "100.0",
                    "currency": "UAH",
                    "productName": [
                      "Invoice 93da52fb-1551-4372-bb85-7ec9815fb4be"
                    ],
                    "productPrice": [
                      "100.0"
                    ],
                    "productCount": [
                      1
                    ],
                    "authorizationType": "SimpleSignature",
                    "merchantSignature": "a1280dd698ed2c069569c779f8aa5801"
                  }
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/plans": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get tariff plans",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [],
                "meta": {
                  "total_count": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/plans/{id}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Get tariff plan info",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 25,
                  "amount_annually": "1000.0",
                  "amount_monthly": "100.0",
                  "amount_trial": "10.0",
                  "bookmark_ids": null,
                  "sort_order": 1,
                  "state": 2,
                  "title": "Test partner",
                  "trial_period": 2
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/service_plan": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "current service plan",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 22,
                  "activated_at": "2026-03-11T20:06:57.549+00:00",
                  "active_until": "2026-04-11T19:07:57.549+00:00",
                  "created_at": "2026-03-11T20:07:57.549+00:00",
                  "days_left": 31,
                  "invoice_url": null,
                  "is_active": true,
                  "is_pay_per_teminal": false,
                  "owner_id": 1,
                  "plan": {
                    "id": 38,
                    "billing_period": 31,
                    "created_at": "2026-03-11T20:07:57.544+00:00",
                    "description": "Culpa sint molestiae. Sequi eos repudiandae. Cum corrupti eius.",
                    "is_pay_per_teminal": false,
                    "is_recurrent": true,
                    "is_visible": true,
                    "price": "182.79",
                    "sort_order": 0,
                    "state": 1,
                    "title": "Sunt illo voluptas inventore.",
                    "updated_at": "2026-03-11T20:07:57.544+00:00"
                  },
                  "plan_id": 38,
                  "price": "9.99",
                  "state": 1,
                  "updated_at": "2026-03-11T20:07:57.549+00:00"
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "activate service plan",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 18,
                  "activated_at": "2026-03-11T20:07:57.395+00:00",
                  "active_until": "2026-04-11T19:07:57.398+00:00",
                  "created_at": "2026-03-11T20:07:57.364+00:00",
                  "days_left": 31,
                  "invoice_url": null,
                  "is_active": true,
                  "is_pay_per_teminal": false,
                  "owner_id": 1,
                  "plan": {
                    "id": 32,
                    "billing_period": 31,
                    "created_at": "2026-03-11T20:07:57.323+00:00",
                    "description": "Molestiae ut vel. Ut necessitatibus voluptas. Fugit iure necessitatibus.",
                    "is_pay_per_teminal": false,
                    "is_recurrent": true,
                    "is_visible": true,
                    "price": "491.84",
                    "sort_order": 0,
                    "state": 1,
                    "title": "Expedita sunt enim in.",
                    "updated_at": "2026-03-11T20:07:57.323+00:00"
                  },
                  "plan_id": 32,
                  "price": "491.84",
                  "state": 1,
                  "updated_at": "2026-03-11T20:07:57.402+00:00"
                },
                "meta": {}
              }
            }
          },
          "200": {
            "description": "change to current service plan",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 21,
                  "activated_at": "2026-03-11T20:06:57.522+00:00",
                  "active_until": "2026-04-11T19:07:57.522+00:00",
                  "created_at": "2026-03-11T20:07:57.522+00:00",
                  "days_left": 31,
                  "invoice_url": null,
                  "is_active": true,
                  "is_pay_per_teminal": false,
                  "owner_id": 1,
                  "plan": {
                    "id": 36,
                    "billing_period": 31,
                    "created_at": "2026-03-11T20:07:57.516+00:00",
                    "description": "Dolores accusantium fugit. Harum maiores praesentium. Voluptatum ex quasi.",
                    "is_pay_per_teminal": false,
                    "is_recurrent": true,
                    "is_visible": true,
                    "price": "660.02",
                    "sort_order": 0,
                    "state": 1,
                    "title": "Ratione rerum numquam et.",
                    "updated_at": "2026-03-11T20:07:57.516+00:00"
                  },
                  "plan_id": 36,
                  "price": "9.99",
                  "state": 1,
                  "updated_at": "2026-03-11T20:07:57.522+00:00"
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "delete": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "finalize service plan",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 23,
                  "activated_at": "2026-03-11T20:06:57.576+00:00",
                  "active_until": "2026-04-11T19:07:57.576+00:00",
                  "created_at": "2026-03-11T20:07:57.577+00:00",
                  "days_left": 31,
                  "invoice_url": null,
                  "is_active": true,
                  "is_pay_per_teminal": false,
                  "owner_id": 1,
                  "plan": {
                    "id": 40,
                    "billing_period": 31,
                    "created_at": "2026-03-11T20:07:57.570+00:00",
                    "description": "Ex optio voluptatem. Qui consequatur ut. Dolorum quia quisquam.",
                    "is_pay_per_teminal": false,
                    "is_recurrent": true,
                    "is_visible": true,
                    "price": "282.27",
                    "sort_order": 0,
                    "state": 1,
                    "title": "Ad optio ipsam odio.",
                    "updated_at": "2026-03-11T20:07:57.570+00:00"
                  },
                  "plan_id": 40,
                  "price": "9.99",
                  "state": 1,
                  "updated_at": "2026-03-11T20:07:57.577+00:00"
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/service_plan/history": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get tariff plan info",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 24,
                    "activated_at": "2026-03-11T20:06:57.618+00:00",
                    "active_until": "2026-04-11T19:07:57.618+00:00",
                    "created_at": "2026-03-11T20:07:57.618+00:00",
                    "days_left": 31,
                    "invoice_url": null,
                    "is_active": true,
                    "is_pay_per_teminal": false,
                    "owner_id": 1,
                    "plan_id": 42,
                    "price": "9.99",
                    "state": 1,
                    "updated_at": "2026-03-11T20:07:57.618+00:00"
                  }
                ],
                "meta": {
                  "total_count": 1
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/services": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "services list",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 11,
                    "created_at": "2026-03-11T22:07:57.660+00:00",
                    "owner": {
                      "id": 676,
                      "email": "mickiebernhard@kohler.info",
                      "name": "Мстислава Альбертівна Шухевич",
                      "phone_number": "380960000024",
                      "role_id": null
                    },
                    "owner_id": 676,
                    "price": "407.79",
                    "service": {
                      "id": 22,
                      "created_at": "2026-03-11T20:07:57.650+00:00",
                      "description": "Distinctio ut ea. Est dignissimos tempore. Excepturi sed quisquam.",
                      "price": "407.79",
                      "service_type_id": 0,
                      "sort_order": 0,
                      "state": 1,
                      "title": "Ut omnis qui est.",
                      "updated_at": "2026-03-11T20:07:57.650+00:00"
                    },
                    "service_id": 22,
                    "state": 1,
                    "updated_at": "2026-03-11T22:07:57.660+00:00"
                  }
                ],
                "meta": {
                  "current_page": 1,
                  "next_page": null,
                  "prev_page": null,
                  "total_pages": 1,
                  "total_count": 1,
                  "limit_value": 25,
                  "offset_value": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Create service",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 13,
                  "created_at": "2026-03-11T20:07:57.733+00:00",
                  "owner": {
                    "id": 678,
                    "email": "rockylebsack@mosciskischmeler.org",
                    "name": "В’ячеслав Звенимирович Витребенько",
                    "phone_number": "380960000026",
                    "role_id": null
                  },
                  "owner_id": 678,
                  "payload": {
                    "qrCode": "https://wayforpay.com/qr/img/icd530506ad56?type=i&size=200",
                    "invoiceUrl": "https://secure.wayforpay.com/invoice/icd530506ad56"
                  },
                  "price": "202.73",
                  "service": {
                    "id": 24,
                    "created_at": "2026-03-11T20:07:57.704+00:00",
                    "description": "Est odit qui. Porro qui veritatis. Commodi iusto totam.",
                    "price": "202.73",
                    "service_type_id": 0,
                    "sort_order": 0,
                    "state": 1,
                    "title": "Beatae et quasi veritatis.",
                    "updated_at": "2026-03-11T20:07:57.704+00:00"
                  },
                  "service_id": 24,
                  "state": 0,
                  "updated_at": "2026-03-11T20:07:57.769+00:00"
                },
                "meta": {}
              }
            }
          },
          "422": {
            "description": "Request hidden service",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "errors": {
                  "service_id": [
                    {
                      "error": "not_found"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/billing/services/{id}": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Service view",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 15,
                  "created_at": "2026-03-11T22:07:57.837+00:00",
                  "owner": {
                    "id": 682,
                    "email": "marjorie@hermanngrady.io",
                    "name": "Паращук Братомил Альбертович",
                    "phone_number": "380960000030",
                    "role_id": null
                  },
                  "owner_id": 682,
                  "price": "953.38",
                  "service": {
                    "id": 28,
                    "created_at": "2026-03-11T20:07:57.831+00:00",
                    "description": "Eos sunt occaecati. Non nulla qui. Veritatis sapiente est.",
                    "price": "953.38",
                    "service_type_id": 0,
                    "sort_order": 0,
                    "state": 1,
                    "title": "Repellendus officiis aut quia.",
                    "updated_at": "2026-03-11T20:07:57.831+00:00"
                  },
                  "service_id": 28,
                  "state": 1,
                  "updated_at": "2026-03-11T22:07:57.837+00:00"
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/cities": {
      "get": {
        "tags": [
          "Cities"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get all cities",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 12,
                    "region_id": 24,
                    "sort_order": 0,
                    "title": "Omnis temporibus placeat voluptate."
                  }
                ],
                "meta": {
                  "current_page": 1,
                  "next_page": null,
                  "prev_page": null,
                  "total_pages": 1,
                  "total_count": 1,
                  "limit_value": 25,
                  "offset_value": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/banks/{bank_id}/departments": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bank_id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 16,
                    "address": "площа Стрийська, 144",
                    "city_id": 1,
                    "created_at": "2026-03-11T22:07:57.918+00:00",
                    "latitude": null,
                    "longitude": null,
                    "region_id": 1,
                    "title": "Test shop",
                    "updated_at": "2026-03-11T22:07:57.918+00:00",
                    "working_hours": "9:00-18:00"
                  }
                ],
                "meta": {
                  "current_page": 1,
                  "next_page": null,
                  "prev_page": null,
                  "total_pages": 1,
                  "total_count": 1,
                  "limit_value": 25,
                  "offset_value": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/banks/{bank_id}/departments/{id}": {
      "get": {
        "tags": [
          "Banks"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bank_id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 17,
                  "address": "проспект Ліста, 6",
                  "city_id": 1,
                  "created_at": "2026-03-11T22:07:57.953+00:00",
                  "latitude": null,
                  "longitude": null,
                  "region_id": 1,
                  "title": "Test shop",
                  "updated_at": "2026-03-11T22:07:57.953+00:00",
                  "working_hours": "9:00-18:00"
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/device/employees": {
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "employees": []
                },
                "meta": {
                  "total_count": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/device/faq/categories": {
      "get": {
        "tags": [
          "Device / FAQ"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get gategories",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 23,
                    "is_popular": false,
                    "is_visible": true,
                    "picture": null,
                    "questions": [
                      {
                        "id": 19,
                        "description": "Voluptas eos ad officia.",
                        "is_visible": true,
                        "sort_order": 1,
                        "title": "Quae quam quia odio."
                      }
                    ],
                    "sort_order": 1,
                    "title": "Et commodi optio architecto."
                  }
                ],
                "meta": {
                  "total_count": 1
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/device/faq/questions": {
      "get": {
        "tags": [
          "Device / FAQ"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Get questions",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": 20,
                    "description": "Sed ab minus ipsa.",
                    "is_visible": true,
                    "sort_order": 1,
                    "title": "Aut quia et et."
                  }
                ],
                "meta": {
                  "total_count": 1
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/device/feedbacks/messages": {
      "post": {
        "tags": [
          "Device / Feedbacks"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": false,
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "message": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Ялюк Михайло",
                      "description": "Name"
                    },
                    "state": {
                      "type": "integer",
                      "description": "State"
                    },
                    "email": {
                      "type": "string",
                      "example": "loyd@weinatwehner.net",
                      "description": "Email"
                    },
                    "phone_number": {
                      "type": "string",
                      "example": "(093) 909-71-41",
                      "description": "Phone number"
                    },
                    "content": {
                      "type": "string",
                      "example": "Qui autem et omnis.",
                      "description": "Content"
                    },
                    "serial_number": {
                      "type": "string",
                      "description": "Serial number"
                    },
                    "platform_type_id": {
                      "type": "nilclass | integer",
                      "description": "Platform type"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create new feedback message",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": 7,
                  "content": "Qui autem et omnis.",
                  "created_at": "2026-03-11T20:07:58.231+00:00",
                  "email": "loyd@weinatwehner.net",
                  "name": "Ялюк Михайло",
                  "phone_number": "380939097141",
                  "platform_type_id": 2,
                  "serial_number": "106239392332422",
                  "state": 0
                },
                "meta": {}
              }
            }
          },
          "422": {
            "description": "Error create new message",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "errors": {
                  "name": [
                    {
                      "error": "blank"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/device/inventory/categories": {
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [],
                "meta": {
                  "total_count": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "5508a753-9d7f-481d-931c-1d47d479810a",
                  "color_id": null,
                  "created_at": "2026-03-11T20:07:58.345+00:00",
                  "parent_id": null,
                  "products_count": 0,
                  "shop_ids": [],
                  "title": "Culpa et veniam accusamus.",
                  "updated_at": "2026-03-11T20:07:58.345+00:00"
                },
                "meta": {}
              }
            }
          },
          "422": {
            "description": "Invalid params",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "errors": {
                  "title": [
                    {
                      "error": "blank"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/device/inventory/categories/{id}": {
      "put": {
        "tags": [
          "Device"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "fcd040fa-e8a2-40ad-ac70-0b3c6fca6ad9",
                  "color_id": 0,
                  "created_at": "2026-03-11T22:07:58.381+00:00",
                  "parent_id": null,
                  "products_count": 0,
                  "shop_ids": [],
                  "title": "Nihil eveniet voluptatem animi.",
                  "updated_at": "2026-03-11T20:07:58.412+00:00"
                },
                "meta": {}
              }
            }
          },
          "422": {
            "description": "Invalid params",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "errors": {
                  "title": [
                    {
                      "error": "blank"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "delete": {
        "tags": [
          "Device"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "5751f05d-e99e-47fb-b1c8-3639dab1e5e8",
                  "color_id": 0,
                  "created_at": "2026-03-11T22:07:58.460+00:00",
                  "parent_id": null,
                  "products_count": 0,
                  "shop_ids": [],
                  "title": "Officia neque esse ipsa.",
                  "updated_at": "2026-03-11T22:07:58.460+00:00"
                },
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/device/inventory/categories/batch": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": "81914d35-e985-4b14-bb82-cee070e0e665",
                    "color_id": null,
                    "created_at": "2026-03-11T20:07:58.532+00:00",
                    "parent_id": null,
                    "products_count": 0,
                    "shop_ids": [],
                    "title": "Ut reiciendis velit officiis.",
                    "updated_at": "2026-03-11T20:07:58.532+00:00"
                  },
                  {
                    "id": "9867ffa2-a51e-42f7-91a4-f8f786e2864a",
                    "color_id": null,
                    "created_at": "2026-03-11T20:07:58.532+00:00",
                    "parent_id": null,
                    "products_count": 0,
                    "shop_ids": [],
                    "title": "Pariatur molestiae ut id.",
                    "updated_at": "2026-03-11T20:07:58.532+00:00"
                  },
                  {
                    "id": "98e3b5fb-6bd6-4a11-829e-a745fa4eea0d",
                    "color_id": null,
                    "created_at": "2026-03-11T20:07:58.532+00:00",
                    "parent_id": null,
                    "products_count": 0,
                    "shop_ids": [],
                    "title": "Suscipit minus quibusdam vel.",
                    "updated_at": "2026-03-11T20:07:58.532+00:00"
                  }
                ],
                "meta": {}
              }
            }
          },
          "422": {
            "description": "Invalid params",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "errors": {
                  "categories": [
                    {
                      "error": "invalid"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "delete": {
        "tags": [
          "Device"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": "ce37bd9f-5603-4fdb-9bd6-f563b827233a",
                    "color_id": 0,
                    "created_at": "2026-03-11T22:07:58.603+00:00",
                    "parent_id": null,
                    "products_count": 0,
                    "shop_ids": [],
                    "title": "Dolorem sunt alias temporibus.",
                    "updated_at": "2026-03-11T22:07:58.603+00:00"
                  },
                  {
                    "id": "1df9e866-d26a-42a9-98dd-778ed89a0e49",
                    "color_id": 0,
                    "created_at": "2026-03-11T22:07:58.613+00:00",
                    "parent_id": null,
                    "products_count": 0,
                    "shop_ids": [],
                    "title": "Aut debitis ipsa aspernatur.",
                    "updated_at": "2026-03-11T22:07:58.613+00:00"
                  },
                  {
                    "id": "c5200ec8-ec7f-41ff-835a-596be36eb4d7",
                    "color_id": 0,
                    "created_at": "2026-03-11T22:07:58.627+00:00",
                    "parent_id": null,
                    "products_count": 0,
                    "shop_ids": [],
                    "title": "Eum placeat et rerum.",
                    "updated_at": "2026-03-11T22:07:58.627+00:00"
                  }
                ],
                "meta": {}
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/device/inventory/core/products": {
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [
                  {
                    "id": "d620908e-ad55-4231-b187-84e816c1a259",
                    "alter_number": null,
                    "alter_title": null,
                    "created_at": "2026-03-11T22:07:58.715+00:00",
                    "is_favorite": false,
                    "is_without_number": false,
                    "number": "1697223707",
                    "owner_id": null,
                    "price": "11.37",
                    "procurement_price": null,
                    "sold_by_weight": false,
                    "title": "Blanditiis dignissimos voluptates doloremque.",
                    "unit_type_id": 4926148,
                    "unit_type_name": null,
                    "updated_at": "2026-03-11T22:07:58.715+00:00",
                    "user_id": 0
                  }
                ],
                "meta": {
                  "current_page": 1,
                  "next_page": null,
                  "prev_page": null,
                  "total_pages": 1,
                  "total_count": 1,
                  "limit_value": 25,
                  "offset_value": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/device/inventory/products": {
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": [],
                "meta": {
                  "total_count": 0
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "2928ae39-51d2-4165-8268-817e9a87b43e",
                  "alter_number": null,
                  "alter_title": null,
                  "category_id": "587d4360-e492-4a09-8805-77a0db356b6e",
                  "classifier_code": "543210123456789",
                  "classifier_type_id": 2,
                  "created_at": "2026-03-11T20:07:58.917+00:00",
                  "is_favorite": false,
                  "is_free_price": false,
                  "is_without_number": false,
                  "number": "2593835386",
                  "owner_id": 698,
                  "price": "85.73",
                  "procurement_price": null,
                  "sold_by_weight": false,
                  "subgroup_id": null,
                  "tax_group_id": 1,
                  "title": "Animi perspiciatis voluptate itaque.",
                  "unit_type_id": 4745390,
                  "unit_type_name": "Quo volupta",
                  "updated_at": "2026-03-11T20:07:58.917+00:00",
                  "user_id": 199
                },
                "meta": {}
              }
            }
          },
          "422": {
            "description": "Invalid params",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "errors": {
                  "title": [
                    {
                      "error": "blank"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/api/v1/device/inventory/products/{id}": {
      "put": {
        "tags": [
          "Device"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "554ea30a-e84a-4e37-9ebf-45508ca6682d",
                  "alter_number": null,
                  "alter_title": null,
                  "category_id": "9cbb9044-af74-41e0-9391-b07c17289990",
                  "classifier_code": "543210123456789",
                  "classifier_type_id": 2,
                  "created_at": "2026-03-11T22:07:59.020+00:00",
                  "is_favorite": false,
                  "is_free_price": false,
                  "is_without_number": false,
                  "number": "7581732689",
                  "owner_id": 700,
                  "price": "62.32",
                  "procurement_price": "4859.5",
                  "sold_by_weight": false,
                  "subgroup_id": null,
                  "tax_group_id": 1,
                  "title": "Sequi occaecati ipsum corporis.",
                  "unit_type_id": 1052050,
                  "unit_type_name": "Ipsam et vo",
                  "updated_at": "2026-03-11T20:07:59.069+00:00",
                  "user_id": 700
                },
                "meta": {}
              }
            }
          },
          "422": {
            "description": "Invalid params",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "errors": {
                  "title": [
                    {
                      "error": "blank"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "delete": {
        "tags": [
          "Device"
        ],
        "summary": "",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {}
            },
            "headers": {
              "Content-Type": {
                "description": "",
                "type": "string",
                "x-example-value": "application/json; charset=utf-8"
              }
            },
            "examples": {
              "application/json": {
                "data": {
                  "id": "60cf7438-f570-423b-ba21-1b68a625635f",
                  "alter_number": null,
                  "alter_title": null,
                  "category_id": "976dd732-92ab-4232-b46c-1edaa9e8059f",
                  "classifier_code": "123456789012345",
                  "classifier_type_id": 1,
                  "created_at": "2026-03-11T22:07:59.178+00:00",
                  "is_favorite": false,
                  "is_free_price": false,
                  "is_without_number": false,
[...]
