{
  "openapi": "3.1.0",
  "info": {
    "title": "Frontera Signal API",
    "version": "1.3.0",
    "description": "Construction data for the Rio Grande Valley, Texas, paid per call: weekly permits, building-input prices, housing supply and labor for Hidalgo and Cameron counties; commercial projects, projects near an address, company track records with trade licenses, monthly housing permits and filed cost per square foot for Hidalgo, Cameron, Starr and Willacy; Hidalgo County parcel records; shelf prices for common building materials. Every value carries as_of, age_days, cadence and stale (weekly measures go stale after 14 days, monthly measures after 90). dark = the source published nothing that week; no_reading = we have no reading for it. Ranges are {low, high, unit}; approx marks a rounded reading. Not a quote, bid or appraisal. Terms: https://fronterasignal.com/terms/",
    "termsOfService": "https://fronterasignal.com/terms/",
    "contact": {
      "name": "Frontera Signal",
      "email": "hello@fronterasignal.com",
      "url": "https://fronterasignal.com/contact/"
    },
    "license": {
      "name": "Frontera Signal terms of use",
      "url": "https://fronterasignal.com/terms/"
    },
    "x-guidance": "Frontera Signal sells Rio Grande Valley (South Texas) construction data per call over x402: USDC on Base, no account, no API key.\n1. Read the free catalog first: GET https://fronterasignal.com/api/v1 lists every paid endpoint, its price, what it returns, its parameters and a free sample.\n2. Free samples: https://fronterasignal.com/data/v1/samples/<endpoint>.json is one real answer per paid endpoint. https://fronterasignal.com/data/v1/index.json carries the latest 4 weeks of each weekly series.\n3. Call a paid endpoint without payment: it answers 402 with a JSON body (price, returns, sample, docs, how_to_pay) and a PAYMENT-REQUIRED header (base64 JSON, x402 v2). Sign and retry with a PAYMENT-SIGNATURE header; a 200 carries PAYMENT-RESPONSE with the settlement.\n4. Bad or unknown parameters get a free 400 and a valid query with nothing to return gets a free 404, before any payment, as {ok, error, message, docs, allowed}. allowed lists every parameter and its valid values. A payment is never settled on a 4xx or 5xx. nearby and parcel look the address up after the payment is verified, so an address they cannot place is a 404 that is not settled; GET /api/v1/parcel/match checks a parcel address for free first.\nWhich endpoint: one city or the whole Valley this week -> /api/v1/snapshot. New commercial projects with owner, cost and dates -> /api/v1/projects. Projects within a radius of an address -> /api/v1/nearby. A company track record and its trade licenses -> /api/v1/companies. The Hidalgo County parcel record for an address -> /api/v1/parcel. Filed cost per square foot by county and type of work -> /api/v1/cost-per-sqft. Shelf prices for building materials -> /api/v1/materials. Monthly housing permits by structure type -> /api/v1/series/permits-monthly. Weekly history of permits, input prices, housing supply, labor or forecast grades -> /api/v1/series/<name>. The written weekly issue -> /api/v1/issue.\nEvery value carries as_of, age_days, cadence and stale. dark and no_reading rows say a week has no reading; nothing is filled with guesses.\nMCP clients: https://fronterasignal.com/mcp (Streamable HTTP) serves the catalog, the free samples, the paid URL and price for your parameters and the free series as free, read-only tools.",
    "x-mcp": {
      "url": "https://fronterasignal.com/mcp",
      "transport": "streamable-http",
      "price": "free",
      "tools": [
        "list_endpoints",
        "get_sample",
        "how_to_pay",
        "get_free_series"
      ],
      "about": "Free and read-only: the paid endpoints and prices, a real sample per endpoint, the exact paid URL for your parameters and the free latest-4-weeks series. Payment stays on the HTTP API."
    },
    "x-jentic-source-url": "https://fronterasignal.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://fronterasignal.com"
    }
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "operationId": "catalog",
        "summary": "Free catalog: every paid endpoint, its price, parameters and free sample.",
        "security": [],
        "responses": {
          "200": {
            "description": "Catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "operationId": "health",
        "summary": "Free health check. Never asks for payment.",
        "security": [],
        "responses": {
          "200": {
            "description": "Up, with the newest week of data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                },
                "example": {
                  "ok": true,
                  "version": "1.3.0",
                  "data_through_week": "2026-W40",
                  "generated_at": "2026-10-06T20:51:04.360Z"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/changelog.json": {
      "get": {
        "operationId": "changelog",
        "summary": "Free changelog of the v1 API.",
        "security": [],
        "responses": {
          "200": {
            "description": "Changes, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/parcel/match": {
      "get": {
        "operationId": "parcel_match",
        "summary": "Parcel match check",
        "description": "Use before /api/v1/parcel so you only pay for addresses that match. Same parameters, same matching, no charge. Whether /api/v1/parcel finds one parcel for the address: match count, parcel id and situs. A miss is a 404 with no_match or ambiguous. Free, 20 lookups a minute per IP address.",
        "security": [],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "Street address with house number, e.g. 800 S 10th St. A suite or unit is ignored.",
            "schema": {
              "type": "string",
              "minLength": 5,
              "maxLength": 120,
              "example": "800 S 10th St"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "A Hidalgo County city or town on the address, e.g. McAllen, Edinburg, Mission, Pharr, Weslaco. Other counties get a free 400.",
            "schema": {
              "type": "string",
              "enum": [
                "Alamo",
                "Alton",
                "Donna",
                "Edcouch",
                "Edinburg",
                "Elsa",
                "Granjeno",
                "Hargill",
                "Hidalgo",
                "La Joya",
                "La Villa",
                "Linn",
                "McAllen",
                "McCook",
                "Mercedes",
                "Mission",
                "Monte Alto",
                "Palmhurst",
                "Palmview",
                "Penitas",
                "Pharr",
                "Progreso",
                "Progreso Lakes",
                "San Carlos",
                "San Juan",
                "Sullivan City",
                "Weslaco"
              ],
              "example": "McAllen"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One parcel (or several units of one address) matches.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "matched": {
                      "type": "boolean"
                    },
                    "match_count": {
                      "type": "integer"
                    },
                    "parcel_id": {
                      "type": "string"
                    },
                    "parcel_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "situs": {
                      "type": "string"
                    },
                    "matched_by": {
                      "type": "string",
                      "enum": [
                        "situs_address",
                        "street_point_60m"
                      ]
                    },
                    "paid": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many free checks from one IP address. Retry after the Retry-After header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/snapshot": {
      "get": {
        "operationId": "snapshot",
        "summary": "City construction snapshot",
        "description": "Use to size up the construction market in one Rio Grande Valley city (McAllen, Edinburg, Mission, Pharr, San Juan, Weslaco, Donna, Mercedes, Brownsville, Harlingen) or the whole Valley before you lend, build, buy or sell there: permits, housing units by type, sales-tax trend, months of supply, home values, input and material prices, mortgage rate, labor. Every value is dated. Example: \"Is McAllen's housing market oversupplied and are building costs rising this week?\"\n\nReturns: One Valley city's (or the whole Valley's) latest permits, monthly housing permits by structure type, sales-tax receipts, housing supply, building-input and material prices, labor conditions, newest commercial projects and this morning's mortgage rate, 10-year yield and diesel price, every value dated.\n\nFree sample (a real answer to /api/v1/snapshot?city=McAllen): https://fronterasignal.com/data/v1/samples/snapshot.json\n\nGET /api answers exactly like this endpoint: same parameters, same price, same answer.",
        "externalDocs": {
          "description": "Free sample: a real answer to /api/v1/snapshot?city=McAllen",
          "url": "https://fronterasignal.com/data/v1/samples/snapshot.json"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "network": "eip155:8453",
          "asset": "USDC"
        },
        "security": [],
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "A Valley city. Omit for the whole Valley.",
            "schema": {
              "type": "string",
              "enum": [
                "McAllen",
                "Edinburg",
                "Mission",
                "Pharr",
                "San Juan",
                "Weslaco",
                "Donna",
                "Mercedes",
                "Brownsville",
                "Harlingen"
              ],
              "example": "McAllen"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One Valley city's (or the whole Valley's) latest permits, monthly housing permits by structure type, sales-tax receipts, housing supply, building-input and material prices, labor conditions, newest commercial projects and this morning's mortgage rate, 10-year yield and diesel price, every value dated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publisher": {
                      "type": "string"
                    },
                    "place": {
                      "type": "object",
                      "properties": {
                        "city": {
                          "type": "string"
                        },
                        "county": {
                          "type": "string"
                        },
                        "metro": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        }
                      },
                      "required": []
                    },
                    "data_through_week": {
                      "type": "string"
                    },
                    "generated_at": {
                      "type": "string"
                    },
                    "permits": {
                      "type": "object",
                      "properties": {
                        "latest_week": {
                          "type": "string"
                        },
                        "latest": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "week_id": {
                                "type": "string"
                              },
                              "measure": {
                                "type": "string"
                              },
                              "count": {
                                "type": [
                                  "integer",
                                  "null"
                                ]
                              },
                              "status": {
                                "type": "string"
                              },
                              "value_usd": {
                                "type": [
                                  "integer",
                                  "null"
                                ]
                              },
                              "as_of": {
                                "type": "string"
                              },
                              "age_days": {
                                "type": "integer"
                              },
                              "cadence": {
                                "type": "string"
                              },
                              "stale": {
                                "type": "boolean"
                              },
                              "source": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "week_id",
                              "measure",
                              "count",
                              "status",
                              "value_usd",
                              "as_of",
                              "age_days",
                              "cadence",
                              "stale",
                              "source"
                            ]
                          }
                        },
                        "history": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "week_id": {
                                "type": "string"
                              },
                              "measure": {
                                "type": "string"
                              },
                              "count": {
                                "type": [
                                  "integer",
                                  "null"
                                ]
                              },
                              "status": {
                                "type": "string"
                              },
                              "value_usd": {
                                "type": [
                                  "null",
                                  "integer"
                                ]
                              },
                              "as_of": {
                                "type": "string"
                              },
                              "age_days": {
                                "type": [
                                  "integer",
                                  "null"
                                ]
                              },
                              "cadence": {
                                "type": "string"
                              },
                              "stale": {
                                "type": "boolean"
                              },
                              "source": {
                                "type": "string"
                              },
                              "backfill": {
                                "type": "boolean"
                              },
                              "city": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "week_id",
                              "measure",
                              "count",
                              "status",
                              "value_usd",
                              "as_of",
                              "age_days",
                              "cadence",
                              "stale",
                              "source"
                            ]
                          }
                        },
                        "note": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "latest_week",
                        "latest",
                        "history",
                        "note"
                      ]
                    },
                    "housing_supply": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "geo": {
                            "type": "string"
                          },
                          "measure": {
                            "type": "string"
                          },
                          "value": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "low": {
                                    "type": "integer"
                                  },
                                  "high": {
                                    "type": "integer"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "low",
                                  "high",
                                  "unit"
                                ]
                              },
                              {
                                "type": "number"
                              }
                            ]
                          },
                          "unit": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "value_type": {
                            "type": "string"
                          },
                          "value_text": {
                            "type": "string"
                          },
                          "as_of": {
                            "type": "string"
                          },
                          "age_days": {
                            "type": "integer"
                          },
                          "cadence": {
                            "type": "string"
                          },
                          "stale": {
                            "type": "boolean"
                          },
                          "source": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "geo",
                          "measure",
                          "value",
                          "unit",
                          "value_type",
                          "as_of",
                          "age_days",
                          "cadence",
                          "stale",
                          "source"
                        ]
                      }
                    },
                    "construction_costs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "measure": {
                            "type": "string"
                          },
                          "direction": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "direction_detail": {
                            "type": "string"
                          },
                          "value": {
                            "type": [
                              "number",
                              "null",
                              "string"
                            ]
                          },
                          "unit": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "value_type": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "approx": {
                            "type": "boolean"
                          },
                          "value_text": {
                            "type": "string"
                          },
                          "as_of": {
                            "type": "string"
                          },
                          "age_days": {
                            "type": "integer"
                          },
                          "cadence": {
                            "type": "string"
                          },
                          "stale": {
                            "type": "boolean"
                          },
                          "source": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "measure",
                          "direction",
                          "value",
                          "unit",
                          "value_type",
                          "as_of",
                          "age_days",
                          "cadence",
                          "stale",
                          "source"
                        ]
                      }
                    },
                    "labor": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "measure": {
                            "type": "string"
                          },
                          "value": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "low": {
                                    "type": "integer"
                                  },
                                  "high": {
                                    "type": "integer"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "low",
                                  "high",
                                  "unit"
                                ]
                              },
                              {
                                "type": [
                                  "string",
                                  "integer"
                                ]
                              }
                            ]
                          },
                          "unit": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "value_type": {
                            "type": "string"
                          },
                          "value_text": {
                            "type": "string"
                          },
                          "as_of": {
                            "type": "string"
                          },
                          "age_days": {
                            "type": "integer"
                          },
                          "cadence": {
                            "type": "string"
                          },
                          "stale": {
                            "type": "boolean"
                          },
                          "source": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "measure",
                          "value",
                          "unit",
                          "value_type",
                          "as_of",
                          "age_days",
                          "cadence",
                          "stale",
                          "source"
                        ]
                      }
                    },
                    "housing_permits_monthly": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "latest": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "place": {
                                "type": "string"
                              },
                              "county": {
                                "type": "string"
                              },
                              "month": {
                                "type": "string"
                              },
                              "units_total": {
                                "type": "integer"
                              },
                              "buildings_total": {
                                "type": "integer"
                              },
                              "valuation_usd": {
                                "type": "integer"
                              },
                              "single_family_units": {
                                "type": "integer"
                              },
                              "two_unit_units": {
                                "type": "integer"
                              },
                              "three_four_unit_units": {
                                "type": "integer"
                              },
                              "five_plus_unit_units": {
                                "type": "integer"
                              },
                              "single_family_buildings": {
                                "type": "integer"
                              },
                              "two_unit_buildings": {
                                "type": "integer"
                              },
                              "three_four_unit_buildings": {
                                "type": "integer"
                              },
                              "five_plus_unit_buildings": {
                                "type": "integer"
                              },
                              "status": {
                                "type": "string"
                              },
                              "as_of": {
                                "type": "string"
                              },
                              "age_days": {
                                "type": "integer"
                              },
                              "cadence": {
                                "type": "string"
                              },
                              "stale": {
                                "type": "boolean"
                              },
                              "source": {
                                "type": "string"
                              },
                              "places_reporting": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "county",
                              "month",
                              "units_total",
                              "buildings_total",
                              "valuation_usd",
                              "single_family_units",
                              "two_unit_units",
                              "three_four_unit_units",
                              "five_plus_unit_units",
                              "single_family_buildings",
                              "two_unit_buildings",
                              "three_four_unit_buildings",
                              "five_plus_unit_buildings",
                              "status",
                              "as_of",
                              "age_days",
                              "cadence",
                              "stale",
                              "source"
                            ]
                          }
                        },
                        "note": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "source",
                        "latest"
                      ]
                    },
                    "sales_tax": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "latest": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "county": {
                                "type": "string"
                              },
                              "month": {
                                "type": "string"
                              },
                              "net_payment_usd": {
                                "type": "number"
                              },
                              "prior_year_payment_usd": {
                                "type": "number"
                              },
                              "yoy_pct": {
                                "type": "number"
                              },
                              "payments_to_date_usd": {
                                "type": "number"
                              },
                              "to_date_yoy_pct": {
                                "type": "number"
                              },
                              "as_of": {
                                "type": "string"
                              },
                              "age_days": {
                                "type": "integer"
                              },
                              "cadence": {
                                "type": "string"
                              },
                              "stale": {
                                "type": "boolean"
                              },
                              "source": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "city",
                              "county",
                              "month",
                              "net_payment_usd",
                              "prior_year_payment_usd",
                              "yoy_pct",
                              "payments_to_date_usd",
                              "to_date_yoy_pct",
                              "as_of",
                              "age_days",
                              "cadence",
                              "stale",
                              "source"
                            ]
                          }
                        },
                        "note": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "source",
                        "latest",
                        "note"
                      ]
                    },
                    "material_prices": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "latest": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "item_key": {
                                "type": "string"
                              },
                              "item": {
                                "type": "string"
                              },
                              "low_usd": {
                                "type": "number"
                              },
                              "high_usd": {
                                "type": "number"
                              },
                              "unit": {
                                "type": "string"
                              },
                              "stores": {
                                "type": "integer"
                              },
                              "as_of": {
                                "type": "string"
                              },
                              "age_days": {
                                "type": "integer"
                              },
                              "cadence": {
                                "type": "string"
                              },
                              "stale": {
                                "type": "boolean"
                              },
                              "source": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "item_key",
                              "item",
                              "low_usd",
                              "high_usd",
                              "unit",
                              "stores",
                              "as_of",
                              "age_days",
                              "cadence",
                              "stale",
                              "source"
                            ]
                          }
                        },
                        "note": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "source",
                        "latest",
                        "note"
                      ]
                    },
                    "new_commercial_projects": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string"
                        },
                        "as_of": {
                          "type": "string"
                        },
                        "cadence": {
                          "type": "string"
                        },
                        "matched": {
                          "type": "integer"
                        },
                        "latest": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "facility": {
                                "type": "string"
                              },
                              "address": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "county": {
                                "type": "string"
                              },
                              "zip": {
                                "type": "string"
                              },
                              "owner": {
                                "type": "string"
                              },
                              "design_firm": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "estimated_cost_usd": {
                                "type": "integer"
                              },
                              "square_feet": {
                                "type": "integer"
                              },
                              "estimated_start": {
                                "type": "string"
                              },
                              "estimated_end": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "type_of_work": {
                                "type": "string"
                              },
                              "scope_of_work": {
                                "type": "string"
                              },
                              "funding": {
                                "type": "string"
                              },
                              "registered": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "facility",
                              "address",
                              "city",
                              "county",
                              "zip",
                              "owner",
                              "design_firm",
                              "estimated_cost_usd",
                              "square_feet",
                              "estimated_start",
                              "estimated_end",
                              "status",
                              "type_of_work",
                              "scope_of_work",
                              "funding",
                              "registered",
                              "source"
                            ]
                          }
                        }
                      },
                      "required": [
                        "source",
                        "as_of",
                        "cadence",
                        "matched",
                        "latest"
                      ]
                    },
                    "latest_issue": {
                      "type": "object",
                      "properties": {
                        "week_id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "week_id",
                        "title",
                        "url"
                      ]
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "publisher",
                    "place",
                    "data_through_week",
                    "generated_at",
                    "permits",
                    "housing_supply",
                    "construction_costs",
                    "labor",
                    "housing_permits_monthly",
                    "sales_tax",
                    "material_prices",
                    "new_commercial_projects",
                    "latest_issue",
                    "disclaimer"
                  ]
                },
                "example": {
                  "publisher": "Frontera Signal",
                  "place": {
                    "city": "McAllen",
                    "county": "Hidalgo County, Texas",
                    "metro": "McAllen-Edinburg-Mission"
                  },
                  "data_through_week": "2026-W40",
                  "generated_at": "2026-10-06T20:51:04.360Z",
                  "permits": {
                    "latest_week": "2026-W40",
                    "latest": [
                      {
                        "week_id": "2026-W40",
                        "measure": "commercial_projects_registered_state",
                        "count": 1,
                        "status": "reported",
                        "value_usd": 300000,
                        "as_of": "2026-09-28",
                        "age_days": 8,
                        "cadence": "weekly",
                        "stale": false,
                        "source": "Frontera Signal"
                      },
                      {
                        "week_id": "2026-W40",
                        "measure": "housing_units_authorized_metro",
                        "count": 431,
                        "status": "reported",
                        "value_usd": null,
                        "as_of": "2026-08",
                        "age_days": 36,
                        "cadence": "monthly",
                        "stale": false,
                        "source": "Frontera Signal"
                      }
                    ],
                    "history": [
                      {
                        "week_id": "2026-W39",
                        "measure": "commercial_projects_registered_state",
                        "count": 3,
                        "status": "reported",
                        "value_usd": null,
                        "as_of": "2026-09-25",
                        "age_days": 11,
                        "cadence": "weekly",
                        "stale": false,
                        "source": "Frontera Signal"
                      },
                      {
                        "week_id": "2026-W39",
                        "measure": "housing_units_authorized_metro",
                        "count": 431,
                        "status": "reported",
                        "value_usd": null,
                        "as_of": "2026-08",
                        "age_days": 36,
                        "cadence": "monthly",
                        "stale": false,
                        "source": "Frontera Signal"
                      },
                      {
                        "week_id": "2026-W38",
                        "measure": "commercial_projects_registered_state",
                        "count": 3,
                        "status": "reported",
                        "value_usd": 6900000,
                        "as_of": "2026-09-20",
                        "age_days": 16,
                        "cadence": "weekly",
                        "stale": true,
                        "source": "Frontera Signal",
                        "backfill": true
                      }
                    ],
                    "note": "Reported rows first. dark = the city published nothing that week; no_reading = we have no reading for that city that week. Counts are what each city or the state made public; not every city reports every class."
                  },
                  "housing_supply": [
                    {
                      "geo": "McAllen",
                      "measure": "entry_price_per_sqft",
                      "value": {
                        "low": 186,
                        "high": 190,
                        "unit": "USD/sqft"
                      },
                      "unit": "USD/sqft",
                      "value_type": "range",
                      "value_text": "186-190",
                      "as_of": "2026-07",
                      "age_days": 67,
                      "cadence": "monthly",
                      "stale": false,
                      "source": "Frontera Signal"
                    },
                    {
                      "geo": "McAllen-Edinburg-Mission",
                      "measure": "active_listings",
                      "value": 3200,
                      "unit": null,
                      "value_type": "number",
                      "as_of": "2026-07-31",
                      "age_days": 67,
                      "cadence": "monthly",
                      "stale": false,
                      "source": "Frontera Signal"
                    },
                    {
                      "geo": "McAllen-Edinburg-Mission",
                      "measure": "closed_sales",
                      "value": 405,
                      "unit": null,
                      "value_type": "number",
                      "as_of": "2026-07-31",
                      "age_days": 67,
                      "cadence": "monthly",
                      "stale": false,
                      "source": "Frontera Signal"
                    }
                  ],
                  "construction_costs": [
                    {
                      "measure": "framing_lumber",
                      "direction": "up",
                      "direction_detail": "up_futures",
                      "value": 578.5,
                      "unit": "USD/MBF",
                      "value_type": "number",
                      "approx": true,
                      "value_text": "~578.50",
                      "as_of": "2026-09-11",
                      "age_days": 25,
                      "cadence": "weekly",
                      "stale": true,
                      "source": "Frontera Signal"
                    },
                    {
                      "measure": "osb_7_16_sheet",
                      "direction": "flat",
                      "value": 13.48,
                      "unit": "USD/sheet",
                      "value_type": "number",
                      "as_of": "2026-09-24",
                      "age_days": 12,
                      "cadence": "weekly",
                      "stale": false,
                      "source": "Frontera Signal"
                    },
                    {
                      "measure": "mortgage_rate_30y_fixed",
                      "direction": "up",
                      "value": 7.28,
                      "unit": "pct",
                      "value_type": "number",
                      "as_of": "2026-10-01",
                      "age_days": 5,
                      "cadence": "weekly",
                      "stale": false,
                      "source": "Freddie Mac"
                    }
                  ],
                  "labor": [
                    {
                      "measure": "build_time_2100sf",
                      "value": {
                        "low": 9,
                        "high": 11,
                        "unit": "months"
                      },
                      "unit": "months",
                      "value_type": "range",
                      "value_text": "9-11 months",
                      "as_of": "2026-07",
                      "age_days": 67,
                      "cadence": "monthly",
                      "stale": false,
                      "source": "Frontera Signal"
                    },
                    {
                      "measure": "enforcement_climate",
                      "value": "elevated",
                      "unit": null,
                      "value_type": "category",
                      "as_of": "2026-07-24",
                      "age_days": 74,
                      "cadence": "monthly",
                      "stale": false,
                      "source": "Frontera Signal"
                    },
                    {
                      "measure": "construction_loans_rgv",
                      "value": -30,
                      "unit": "pct vs 2025",
                      "value_type": "number",
                      "value_text": "-30pct vs 2025",
                      "as_of": "2026-01",
                      "age_days": 248,
                      "cadence": "monthly",
                      "stale": true,
                      "source": "Frontera Signal"
                    }
                  ],
                  "housing_permits_monthly": {
                    "source": "public permit statistics",
                    "latest": [
                      {
                        "place": "McAllen",
                        "county": "Hidalgo",
                        "month": "2026-08",
                        "units_total": 66,
                        "buildings_total": 54,
                        "valuation_usd": 11374705,
                        "single_family_units": 42,
                        "two_unit_units": 24,
                        "three_four_unit_units": 0,
                        "five_plus_unit_units": 0,
                        "single_family_buildings": 42,
                        "two_unit_buildings": 12,
                        "three_four_unit_buildings": 0,
                        "five_plus_unit_buildings": 0,
                        "status": "reported",
                        "as_of": "2026-08-31",
                        "age_days": 36,
                        "cadence": "monthly",
                        "stale": false,
                        "source": "public permit statistics"
                      }
                    ]
                  },
                  "sales_tax": {
                    "source": "state sales tax allocation records",
                    "latest": [
                      {
                        "city": "McAllen",
                        "county": "Hidalgo",
                        "month": "2026-09",
                        "net_payment_usd": 8646783.48,
                        "prior_year_payment_usd": 7978565.44,
                        "yoy_pct": 8.37,
                        "payments_to_date_usd": 81419238.95,
                        "to_date_yoy_pct": 7.78,
                        "as_of": "2026-09-30",
                        "age_days": 6,
                        "cadence": "monthly",
                        "stale": false,
                        "source": "state sales tax allocation records"
                      }
                    ],
                    "note": "Local sales tax the state sent the city in that month; a payment mostly reflects sales made two months earlier. yoy_pct compares with the same month a year before; payments_to_date_usd and to_date_yoy_pct run from January."
                  },
                  "material_prices": {
                    "source": "Frontera Signal",
                    "latest": [
                      {
                        "item_key": "stud_2x4_8ft",
                        "item": "2x4 stud, 8 ft",
                        "low_usd": 3.98,
                        "high_usd": 3.98,
                        "unit": "each",
                        "stores": 1,
                        "as_of": "2026-10-01",
                        "age_days": 5,
                        "cadence": "weekly",
                        "stale": false,
                        "source": "Frontera Signal"
                      },
                      {
                        "item_key": "osb_7_16_4x8",
                        "item": "OSB 7/16 in, 4x8 sheet",
                        "low_usd": 13.48,
                        "high_usd": 13.48,
                        "unit": "sheet",
                        "stores": 1,
                        "as_of": "2026-10-01",
                        "age_days": 5,
                        "cadence": "weekly",
                        "stale": false,
                        "source": "Frontera Signal"
                      },
                      {
                        "item_key": "drywall_1_2_4x8",
                        "item": "Drywall 1/2 in, 4x8 sheet",
                        "low_usd": 14.98,
                        "high_usd": 14.98,
                        "unit": "sheet",
                        "stores": 1,
                        "as_of": "2026-10-01",
                        "age_days": 5,
                        "cadence": "weekly",
                        "stale": false,
                        "source": "Frontera Signal"
                      }
                    ],
                    "note": "Shelf prices at Valley big-box stores and a local yard on the newest day each item was checked; low and high across the stores that priced it that day. /api/v1/materials has every store and item. Not a quote."
                  },
                  "new_commercial_projects": {
                    "source": "public state construction filing",
                    "as_of": "2026-10-04",
                    "cadence": "weekly",
                    "matched": 314,
                    "latest": [
                      {
                        "id": "FSP-806786d275",
                        "name": "GOMEZ CARDIOVASCULAR CLINIC",
                        "facility": "LINDBERG CENTER CONDOMINIUMS",
                        "address": "212 LINDBERG BUILDING A UNIT 1",
                        "city": "McAllen",
                        "county": "Hidalgo",
                        "zip": "78501",
                        "owner": "VELOCITY TRIPLE J",
                        "design_firm": "G.D. DRAFTING & DESIGNS",
                        "estimated_cost_usd": 165980,
                        "square_feet": 3192,
                        "estimated_start": "2026-10-19",
                        "estimated_end": "2027-02-26",
                        "status": "Review Complete",
                        "type_of_work": "Renovation/Alteration",
                        "scope_of_work": "Renovation of commercial unit",
                        "funding": "private",
                        "registered": "2026-10-01",
                        "source": "public state construction filing"
                      },
                      {
                        "id": "FSP-de511b28b3",
                        "name": "SH 336 (CSJ: 0921-00-092)",
                        "facility": "CSJ: 0921-00-092",
                        "address": "From: Tamarack Ave To: Fern Ave",
                        "city": "McAllen",
                        "county": "Hidalgo",
                        "zip": "78501",
                        "owner": "TxDOT District: Pharr",
                        "design_firm": "Pape-Dawson Engineers, Inc.",
                        "estimated_cost_usd": 1778952,
                        "square_feet": 77729,
                        "estimated_start": "2027-09-03",
                        "estimated_end": "2028-06-03",
                        "status": "Review Complete",
                        "type_of_work": "New Construction",
                        "scope_of_work": "For the construction of pedestrian sidewalks and curb ramps consisting of pedestrian infrastructure.",
                        "funding": "public",
                        "registered": "2026-09-29",
                        "source": "public state construction filing"
                      },
                      {
                        "id": "FSP-29d2598f2c",
                        "name": "Sol Suites",
                        "facility": "Sol Suites McAllen",
                        "address": "1629 N 10th St",
                        "city": "McAllen",
                        "county": "Hidalgo",
                        "zip": "78501",
                        "owner": "ELW Ventures LLC",
                        "design_firm": null,
                        "estimated_cost_usd": 300000,
                        "square_feet": 4800,
                        "estimated_start": "2026-10-05",
                        "estimated_end": "2027-01-04",
                        "status": "Project Registered",
                        "type_of_work": "Renovation/Alteration",
                        "scope_of_work": "Interior remodel",
                        "funding": "private",
                        "registered": "2026-09-25",
                        "source": "public state construction filing"
                      }
                    ]
                  },
                  "latest_issue": {
                    "week_id": "2026-W40",
                    "title": "Mortgage rate jumps to 7.28% as McAllen sits on 8.9 months of homes for sale",
                    "url": "https://fronterasignal.com/issues/2026-w40/"
                  },
                  "disclaimer": "Every value carries as_of, age_days, cadence and stale (weekly measures go stale after 14 days, monthly measures after 90). dark = the source published nothing that week; no_reading = we have no reading for it. Ranges are {low, high, unit}; approx marks a rounded reading. Not a quote, bid or appraisal. Terms: https://fronterasignal.com/terms/"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "Payment required. Free of charge to receive. The PAYMENT-REQUIRED header (base64 JSON, x402 v2) lists price, network, asset and payTo; retry with a PAYMENT-SIGNATURE header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON payment requirements (x402 v2).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                },
                "example": {
                  "error": "payment_required",
                  "price": "$0.02",
                  "returns": "One Valley city's (or the whole Valley's) latest permits, monthly housing permits by structure type, sales-tax receipts, housing supply, building-input and material prices, labor conditions, newest commercial projects and this morning's mortgage rate, 10-year yield and diesel price, every value dated.",
                  "sample": "https://fronterasignal.com/data/v1/samples/snapshot.json",
                  "docs": "https://fronterasignal.com/openapi.json",
                  "how_to_pay": "x402 v2, USDC on Base; retry with PAYMENT-SIGNATURE"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/projects": {
      "get": {
        "operationId": "projects",
        "summary": "New commercial projects",
        "description": "Use to find who is about to build what in the Rio Grande Valley, Texas (Hidalgo, Cameron, Starr, Willacy counties): commercial projects over $50,000 filed with the state before construction, with owner, design firm, estimated cost, square feet and dates. For suppliers, subcontractors, lenders and brokers chasing new work. Filter by city, county, since, min_cost or owner. Example: \"What commercial projects were registered in Hidalgo County since Sept 1, who owns them and how big are they?\"\n\nReturns: Commercial projects filed with the state before they build: name, address, owner, design firm, estimated cost, square feet, start and end dates, newest first.\n\nFree sample (a real answer to /api/v1/projects?city=McAllen&limit=5): https://fronterasignal.com/data/v1/samples/projects.json",
        "externalDocs": {
          "description": "Free sample: a real answer to /api/v1/projects?city=McAllen&limit=5",
          "url": "https://fronterasignal.com/data/v1/samples/projects.json"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.03"
          },
          "network": "eip155:8453",
          "asset": "USDC"
        },
        "security": [],
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "A Valley city with filed projects.",
            "schema": {
              "type": "string",
              "enum": [
                "Alamo",
                "Alton",
                "Austin",
                "Brownsville",
                "Cameron",
                "Combes",
                "Corpus Christi",
                "Donna",
                "Edcouch",
                "Edinburg",
                "Elsa",
                "Georgetown",
                "Harlingen",
                "Hidalgo",
                "La Feria",
                "La Joya",
                "La Villa",
                "Laguna Heights",
                "Laguna Vista",
                "Leander",
                "Los Fresnos",
                "Lyford",
                "McAllen",
                "Mercedes",
                "Mission",
                "Olmito",
                "Palmhurst",
                "Palmview",
                "Penitas",
                "Pharr",
                "Port Isabel",
                "Port Mansfield",
                "Primera",
                "Progreso",
                "Rancho Viejo",
                "Raymondville",
                "Rio Grande City",
                "Rio Hondo",
                "Roma",
                "San Antonio",
                "San Benito",
                "San Juan",
                "San Perlita",
                "Santa Maria",
                "Santa Rosa",
                "South Padre Island",
                "Starbase",
                "Von Ormy",
                "Weslaco"
              ],
              "example": "McAllen"
            }
          },
          {
            "name": "county",
            "in": "query",
            "required": false,
            "description": "Hidalgo, Cameron, Starr or Willacy (\"Hidalgo County\" also works).",
            "schema": {
              "type": "string",
              "enum": [
                "Hidalgo",
                "Cameron",
                "Starr",
                "Willacy"
              ],
              "example": "Hidalgo"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Registered on or after this date, YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-09-01"
            }
          },
          {
            "name": "min_cost",
            "in": "query",
            "required": false,
            "description": "Minimum filed cost in US dollars; projects with no cost filed are left out.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "example": 250000
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "description": "Part of the owner name, case-insensitive.",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 80,
              "example": "school"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "How many projects to return, 1-100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "example": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Commercial projects filed with the state before they build: name, address, owner, design firm, estimated cost, square feet, start and end dates, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publisher": {
                      "type": "string"
                    },
                    "dataset": {
                      "type": "string"
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer"
                        },
                        "city": {
                          "type": "string"
                        },
                        "county": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "limit"
                      ]
                    },
                    "source": {
                      "type": "string"
                    },
                    "as_of": {
                      "type": "string"
                    },
                    "cadence": {
                      "type": "string"
                    },
                    "coverage": {
                      "type": "object",
                      "properties": {
                        "counties": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "registered_since": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "counties",
                        "registered_since"
                      ]
                    },
                    "matched": {
                      "type": "integer"
                    },
                    "returned": {
                      "type": "integer"
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "facility": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "county": {
                            "type": "string"
                          },
                          "zip": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "string"
                          },
                          "design_firm": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "estimated_cost_usd": {
                            "type": "integer"
                          },
                          "square_feet": {
                            "type": "integer"
                          },
                          "estimated_start": {
                            "type": "string"
                          },
                          "estimated_end": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "type_of_work": {
                            "type": "string"
                          },
                          "scope_of_work": {
                            "type": "string"
                          },
                          "funding": {
                            "type": "string"
                          },
                          "registered": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "facility",
                          "address",
                          "city",
                          "county",
                          "zip",
                          "owner",
                          "design_firm",
                          "estimated_cost_usd",
                          "square_feet",
                          "estimated_start",
                          "estimated_end",
                          "status",
                          "type_of_work",
                          "scope_of_work",
                          "funding",
                          "registered",
                          "source"
                        ]
                      }
                    },
                    "note": {
                      "type": "string"
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "publisher",
                    "dataset",
                    "query",
                    "source",
                    "as_of",
                    "cadence",
                    "coverage",
                    "matched",
                    "returned",
                    "projects",
                    "note",
                    "disclaimer"
                  ]
                },
                "example": {
                  "publisher": "Frontera Signal",
                  "dataset": "projects",
                  "query": {
                    "limit": 5,
                    "city": "McAllen"
                  },
                  "source": "public state construction filing",
                  "as_of": "2026-10-04",
                  "cadence": "weekly",
                  "coverage": {
                    "counties": [
                      "Cameron",
                      "Hidalgo",
                      "Starr",
                      "Willacy"
                    ],
                    "registered_since": "2024-10-01"
                  },
                  "matched": 314,
                  "returned": 5,
                  "projects": [
                    {
                      "id": "FSP-806786d275",
                      "name": "GOMEZ CARDIOVASCULAR CLINIC",
                      "facility": "LINDBERG CENTER CONDOMINIUMS",
                      "address": "212 LINDBERG BUILDING A UNIT 1",
                      "city": "McAllen",
                      "county": "Hidalgo",
                      "zip": "78501",
                      "owner": "VELOCITY TRIPLE J",
                      "design_firm": "G.D. DRAFTING & DESIGNS",
                      "estimated_cost_usd": 165980,
                      "square_feet": 3192,
                      "estimated_start": "2026-10-19",
                      "estimated_end": "2027-02-26",
                      "status": "Review Complete",
                      "type_of_work": "Renovation/Alteration",
                      "scope_of_work": "Renovation of commercial unit",
                      "funding": "private",
                      "registered": "2026-10-01",
                      "source": "public state construction filing"
                    },
                    {
                      "id": "FSP-de511b28b3",
                      "name": "SH 336 (CSJ: 0921-00-092)",
                      "facility": "CSJ: 0921-00-092",
                      "address": "From: Tamarack Ave To: Fern Ave",
                      "city": "McAllen",
                      "county": "Hidalgo",
                      "zip": "78501",
                      "owner": "TxDOT District: Pharr",
                      "design_firm": "Pape-Dawson Engineers, Inc.",
                      "estimated_cost_usd": 1778952,
                      "square_feet": 77729,
                      "estimated_start": "2027-09-03",
                      "estimated_end": "2028-06-03",
                      "status": "Review Complete",
                      "type_of_work": "New Construction",
                      "scope_of_work": "For the construction of pedestrian sidewalks and curb ramps consisting of pedestrian infrastructure.",
                      "funding": "public",
                      "registered": "2026-09-29",
                      "source": "public state construction filing"
                    },
                    {
                      "id": "FSP-29d2598f2c",
                      "name": "Sol Suites",
                      "facility": "Sol Suites McAllen",
                      "address": "1629 N 10th St",
                      "city": "McAllen",
                      "county": "Hidalgo",
                      "zip": "78501",
                      "owner": "ELW Ventures LLC",
                      "design_firm": null,
                      "estimated_cost_usd": 300000,
                      "square_feet": 4800,
                      "estimated_start": "2026-10-05",
                      "estimated_end": "2027-01-04",
                      "status": "Project Registered",
                      "type_of_work": "Renovation/Alteration",
                      "scope_of_work": "Interior remodel",
                      "funding": "private",
                      "registered": "2026-09-25",
                      "source": "public state construction filing"
                    }
                  ],
                  "note": "Newest filing first. Estimated cost, square feet and dates are what the owner filed with the state; null = not filed. min_cost leaves out projects with no cost filed.",
                  "disclaimer": "Every value carries as_of, age_days, cadence and stale (weekly measures go stale after 14 days, monthly measures after 90). dark = the source published nothing that week; no_reading = we have no reading for it. Ranges are {low, high, unit}; approx marks a rounded reading. Not a quote, bid or appraisal. Terms: https://fronterasignal.com/terms/"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "Payment required. Free of charge to receive. The PAYMENT-REQUIRED header (base64 JSON, x402 v2) lists price, network, asset and payTo; retry with a PAYMENT-SIGNATURE header.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 JSON payment requirements (x402 v2).",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                },
                "example": {
                  "error": "payment_required",
                  "price": "$0.03",
                  "returns": "Commercial projects filed with the state before they build: name, address, owner, design firm, estimated cost, square feet, start and end dates, newest first.",
                  "sample": "https://fronterasignal.com/data/v1/samples/projects.json",
                  "docs": "https://fronterasignal.com/openapi.json",
                  "how_to_pay": "x402 v2, USDC on Base; retry with PAYMENT-SIGNATURE"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/companies": {
      "get": {
        "operationId": "companies",
        "summary": "Company track record",
        "description": "Use to vet a developer, owner, architecture firm or trade contractor in the Rio Grande Valley, Texas: projects filed since late 2024 (count, total and largest cost, cities, dates, newest projects) and state trade licenses held by the business (A/C, electrical, sign, elevator), current or expired. Pass part of the name (3+ characters). No match is a free 404. Example: \"How many projects has this developer filed in the Valley since 2024, and how large was the biggest one?\"\n\nReturns: For each matching owner, design firm or licensed contractor business: project count, total and largest filed cost, cities, first and last filing, its 10 newest projects and its state trade licenses (type, current or expired, expiry, county).\n\nFree sample (a real answer to /api/v1/companies?name=independent+school+district): https://fronterasignal.com/data/v1/samples/companies.json",
        "externalDocs": {
          "description": "Free sample: a real answer to /api/v1/companies?name=independent+school+district",
          "url": "https://fronterasignal.com/data/v1/samples/companies.json"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "network": "eip155:8453",
          "asset": "USDC"
        },
        "security": [],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Part of an owner or design-firm name, case-insensitive.",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 80,
              "example": "independent school district"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "For each matching owner, design firm or licensed contractor business: project count, total and largest filed cost, cities, first and last filing, its 10 newest projects and its state trade licenses (type, current or expired, expiry, county).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publisher": {
                      "type": "string"
                    },
                    "dataset": {
                      "type": "string"
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name"
                      ]
                    },
                    "source": {
                      "type": "string"
                    },
                    "as_of": {
                      "type": "string"
                    },
                    "cadence": {
                      "type": "string"
                    },
                    "coverage": {
                      "type": "object",
                      "properties": {
                        "counties": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "registered_since": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "counties",
                        "registered_since"
                      ]
                    },
                    "licenses_source": {
                      "type": "string"
                    },
                    "licenses_as_of": {
                      "type": "string"
                    },
                    "status_checked": {
                      "type": "string"
                    },
                    "matched_names": {
                      "type": "integer"
                    },
                    "companies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "project_count": {
                            "type": "integer"
                          },
                          "total_estimated_cost_usd": {
                            "type": "integer"
                          },
                          "largest_project_cost_usd": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "projects_with_cost": {
                            "type": "integer"
                          },
                          "cities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "counties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "first_seen": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "last_seen": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "latest_projects": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "facility": {
                                  "type": "string"
                                },
                                "address": {
                                  "type": "string"
                                },
                                "city": {
                                  "type": "string"
                                },
                                "county": {
                                  "type": "string"
                                },
                                "zip": {
                                  "type": "string"
                                },
                                "owner": {
                                  "type": "string"
                                },
                                "design_firm": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "estimated_cost_usd": {
                                  "type": "integer"
                                },
                                "square_feet": {
                                  "type": "integer"
                                },
                                "estimated_start": {
                                  "type": "string"
                                },
                                "estimated_end": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "type_of_work": {
                                  "type": "string"
                                },
                                "scope_of_work": {
                                  "type": "string"
                                },
                                "funding": {
                                  "type": "string"
                                },
                                "registered": {
                                  "type": "string"
                                },
                                "source": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "facility",
                                "address",
                                "city",
                                "county",
                                "zip",
                                "owner",
                                "design_firm",
                                "estimated_cost_usd",
                                "square_feet",
                                "estimated_start",
                                "estimated_end",
                                "status",
                                "type_of_work",
                                "scope_of_work",
                                "funding",
                                "registered",
                                "source"
                              ]
                            }
                          },
                          "licenses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "license_type": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "expires": {
                                  "type": "string"
                                },
                                "county": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name",
                                "license_type",
                                "status",
                                "expires",
                                "county"
                              ]
                            }
                          }
                        },
                        "required": [
                          "name",
                          "role",
                          "project_count",
                          "total_estimated_cost_usd",
                          "largest_project_cost_usd",
                          "projects_with_cost",
                          "cities",
                          "counties",
                          "first_seen",
                          "last_seen",
                          "latest_projects",
                          "licenses"
                        ]
                      }
                    },
                    "note": {
                      "type": "string"
                    },
                    "license_note": {
                      "type": "string"
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "publisher",
                    "dataset",
                    "query",
                    "source",
                    "as_of",
                    "cadence",
                    "coverage",
                    "licenses_source",
                    "licenses_as_of",
                    "status_checked",
                    "matched_names",
                    "companies",
                    "note",
                    "license_note",
                    "disclaimer"
                  ]
                },
                "example": {
                  "publisher": "Frontera Signal",
                  "dataset": "companies",
                  "query": {
                    "name": "independent school district"
                  },
                  "source": "public state construction filing",
                  "as_of": "2026-10-04",
                  "cadence": "weekly",
                  "coverage": {
                    "counties": [
                      "Cameron",
                      "Hidalgo",
                      "Starr",
                      "Willacy"
                    ],
                    "registered_since": "2024-10-01"
                  },
                  "licenses_source": "state license records",
                  "licenses_as_of": "2026-09-19",
                  "status_checked": "2026-10-06",
                  "matched_names": 10,
                  "companies": [
                    {
                      "name": "Weslaco Independent School District",
                      "role": "owner",
                      "project_count": 9,
                      "total_estimated_cost_usd": 3487542,
                      "largest_project_cost_usd": 2216000,
                      "projects_with_cost": 9,
                      "cities": [
                        "Weslaco"
                      ],
                      "counties": [
                        "Hidalgo"
                      ],
                      "first_seen": "2025-05-09",
                      "last_seen": "2025-12-09",
                      "latest_projects": [
                        {
                          "id": "FSP-d28b5d37e3",
                          "name": "Weslaco ISD-Security Vestibule at Joe Calvillo Cate Center",
                          "facility": "Joe Calvillo Cate Center",
                          "address": "3601 N. Mile 5 1/2 W.",
                          "city": "Weslaco",
                          "county": "Hidalgo",
                          "zip": "78596",
                          "owner": "Weslaco Independent School District",
                          "design_firm": "Sam Garcia Architects",
                          "estimated_cost_usd": 100000,
                          "square_feet": 100,
                          "estimated_start": "2025-12-01",
                          "estimated_end": "2026-02-01",
                          "status": "Review Complete",
                          "type_of_work": "Renovation/Alteration",
                          "scope_of_work": "New Storefront Installation enclosing a new security vestibule within the existing lobby area.",
                          "funding": "public",
                          "registered": "2025-12-09",
                          "source": "public state construction filing"
                        },
                        {
                          "id": "FSP-c736879179",
                          "name": "Weslaco ISD-Security Vestibule at Central Middle School",
                          "facility": "Central Middle School",
                          "address": "503 E. 6th St.",
                          "city": "Weslaco",
                          "county": "Hidalgo",
                          "zip": "78596",
                          "owner": "Weslaco Independent School District",
                          "design_firm": "Sam Garcia Architects",
                          "estimated_cost_usd": 100000,
                          "square_feet": 500,
                          "estimated_start": "2025-10-01",
                          "estimated_end": "2026-04-01",
                          "status": "Review Complete",
                          "type_of_work": "Renovation/Alteration",
                          "scope_of_work": "New Storefront Installation enclosing a new security vestibule within the existing area of lobby.",
                          "funding": "public",
                          "registered": "2025-08-26",
                          "source": "public state construction filing"
                        },
                        {
                          "id": "FSP-71f904db3e",
                          "name": "Weslaco ISD-Security Vestibule at Airport Elementary",
                          "facility": "Airport Elementary",
                          "address": "410 N. Airport Dr.",
                          "city": "Weslaco",
                          "county": "Hidalgo",
                          "zip": "78596",
                          "owner": "Weslaco Independent School District",
                          "design_firm": "Sam Garcia Architects",
                          "estimated_cost_usd": 250000,
                          "square_feet": 800,
                          "estimated_start": "2025-10-01",
                          "estimated_end": "2026-04-01",
                          "status": "Review Complete",
                          "type_of_work": "Renovation/Alteration",
                          "scope_of_work": "New 800 sf. Enclosed Security Vestibule and Reception Area",
                          "funding": "public",
                          "registered": "2025-08-26",
                          "source": "public state construction filing"
                        }
                      ],
                      "licenses": []
                    },
                    {
                      "name": "Donna Independent School District",
                      "role": "owner",
                      "project_count": 8,
                      "total_estimated_cost_usd": 21864000,
                      "largest_project_cost_usd": 20000000,
                      "projects_with_cost": 8,
                      "cities": [
                        "Alamo",
                        "Donna"
                      ],
                      "counties": [
                        "Hidalgo"
                      ],
                      "first_seen": "2024-10-16",
                      "last_seen": "2026-09-17",
                      "latest_projects": [
                        {
                          "id": "FSP-ffc6a9ca05",
                          "name": "Cool Schools Rio Grande Valley",
                          "facility": "M. RIVAS & J.W. CACERES ELEMENTARY SCHOOLS",
                          "address": "503 S Hutto Rd",
                          "city": "Donna",
                          "county": "Hidalgo",
                          "zip": "78537",
                          "owner": "Donna Independent School District",
                          "design_firm": "Studio Outside",
                          "estimated_cost_usd": 466000,
                          "square_feet": 137265,
                          "estimated_start": "2026-09-30",
                          "estimated_end": "2027-04-30",
                          "status": "Review Complete",
[...]
