{
  "openapi": "3.1.0",
  "info": {
    "title": "Lunium — crypto ⇄ PIX settlement (Brazil)",
    "version": "1.44.2",
    "summary": "Liquidação entre criptomoedas e PIX no Brasil.",
    "x-lunium-partners": {
      "name": "Lunium Partners — comunidade oficial de integradores",
      "url": "https://t.me/+FerOZMRRP_g5MDk5",
      "description": "Avisos operacionais, mudanças de contrato e troca entre parceiros. Nunca publique uma chave de API no grupo."
    },
    "description": "Lunium API: PIX collection, BRL custody, crypto delivery, external crypto-to-PIX and balance-funded PIX payouts. For custody send destino=saldo explicitly; the HTTP charge default remains cripto. A fixed settlement wallet is not required for custody. Asset/network availability, fees, limits and holds are dynamic: read the appropriate key, balance, catalog and preview endpoints. Payment completion, settlement and available balance are distinct states. Receipt/E2E fields are provided for PIX when available, not for every crypto transaction.\n\nSend X-API-Key. Use stable external_id and unchanged payload on retries. Public payment verification: GET /v1/verificar/{e2e}. Sandbox simulates cash-in, custody, crypto withdrawals, PIX payouts, internal transfers and cash-out. Confirm non-payable test PIX using POST /sandbox/cashin/{cashin_id}/pay. No bank, exchange or blockchain transaction is performed. See https://docs.luniumpay.com/sandbox . Errors include erro/acao/detail and request_id/agent_guidance when available; support unknown fields, events and error codes.\n\nMCP: https://api.luniumpay.com/mcp (discover with tools/list). Manual: https://docs.luniumpay.com/manual · English: https://docs.luniumpay.com/en/manual. This patch corrects documentation to match deployed behavior; financial request fields are unchanged.\n\nAI onboarding: https://docs.luniumpay.com/integrar-com-ia . Public test-only MCP: https://api.luniumpay.com/mcp/onboarding . Machine-readable integration plan: https://docs.luniumpay.com/integration.json .",
    "contact": {
      "name": "Lunium",
      "email": "contato@luniumpay.com",
      "url": "https://luniumpay.com/integrar?utm_source=openapi&utm_medium=spec"
    },
    "x-documentation-revision": "2026-09-17.4",
    "x-jentic-source-url": "https://docs.luniumpay.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.luniumpay.com",
      "description": "Produção"
    }
  ],
  "paths": {
    "/leads": {
      "post": {
        "tags": [
          "Contato"
        ],
        "operationId": "contactIntegrationTeam",
        "summary": "Encaminhar um caso comercial ou técnico para uma pessoa",
        "description": "Rota pública, sem chave. Use somente para preço por volume, contrato, parceria ou um caso que a documentação não resolve. O endereço precisa ter sido fornecido pela própria pessoa para este contato; não descubra, não raspe e não reutilize e-mail de outra finalidade. Para começar sem falar com ninguém, use `POST /keys/sandbox`.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "consentimento"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 200
                  },
                  "nome": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "empresa": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "whatsapp": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "mensagem": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "fluxo": {
                    "type": "string",
                    "enum": [
                      "cashin",
                      "cashout",
                      "cashin_cashout",
                      "payout",
                      "outro",
                      "custody"
                    ]
                  },
                  "volume_mensal": {
                    "type": "string",
                    "maxLength": 60
                  },
                  "prazo": {
                    "type": "string",
                    "maxLength": 60
                  },
                  "estagio_produto": {
                    "type": "string",
                    "maxLength": 60
                  },
                  "como_encontrou": {
                    "type": "string",
                    "description": "Fonte declarada pela pessoa, separada do UTM. Ex.: chatgpt, google, indicacao."
                  },
                  "consentimento": {
                    "type": "boolean",
                    "const": true,
                    "description": "Confirma que a pessoa forneceu o contato para receber resposta sobre esta solicitação."
                  },
                  "origem": {
                    "type": "string",
                    "description": "Página ou contexto onde a solicitação começou."
                  },
                  "utm_source": {
                    "type": "string"
                  },
                  "utm_medium": {
                    "type": "string"
                  },
                  "utm_campaign": {
                    "type": "string"
                  },
                  "utm_content": {
                    "type": "string"
                  },
                  "utm_term": {
                    "type": "string"
                  },
                  "ref_agent": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string",
                    "description": "Honeypot: clientes legítimos devem omitir ou enviar vazio."
                  }
                }
              },
              "examples": {
                "empresa_vinda_do_chatgpt": {
                  "value": {
                    "email": "integracao@empresa.com.br",
                    "empresa": "Empresa Exemplo",
                    "fluxo": "cashin_cashout",
                    "volume_mensal": "R$ 250 mil a R$ 1 milhão",
                    "prazo": "Neste mês",
                    "como_encontrou": "chatgpt",
                    "consentimento": true,
                    "utm_source": "chatgpt",
                    "utm_medium": "answer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contato existente atualizado dentro da janela de deduplicação. Com consentimento explícito, devolve um novo lead_token e invalida o anterior.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "lead_id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "lead_token": {
                      "type": "string",
                      "pattern": "^ldt_[A-Za-z0-9_-]{43}$",
                      "minLength": 47,
                      "maxLength": 47,
                      "description": "Opaque attribution token returned with explicit consent. Send only in POST /keys, POST /keys/sandbox or lunium_start_sandbox_demo. Never place it in URLs or logs."
                    },
                    "detail": {
                      "type": "string"
                    },
                    "integration_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Start the self-service integration immediately; human contact is optional."
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Contato recebido. Com consentimento explícito, lead_token liga este contato à chave criada em seguida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "lead_id"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "lead_id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "lead_token": {
                      "type": "string",
                      "pattern": "^ldt_[A-Za-z0-9_-]{43}$",
                      "minLength": 47,
                      "maxLength": 47,
                      "description": "Opaque attribution token returned with explicit consent. Send only in POST /keys, POST /keys/sandbox or lunium_start_sandbox_demo. Never place it in URLs or logs."
                    },
                    "detail": {
                      "type": "string"
                    },
                    "integration_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Start the self-service integration immediately; human contact is optional."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "E-mail ou corpo inválido.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "429": {
            "description": "Muitas tentativas pelo mesmo endereço.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "503": {
            "description": "Contato não pôde ser persistido; tente novamente ou use o e-mail publicado."
          }
        },
        "externalDocs": {
          "description": "Página para receber sandbox e falar com integração",
          "url": "https://luniumpay.com/integrar?utm_source=openapi&utm_medium=spec"
        }
      }
    },
    "/v1/verificar/{e2e}": {
      "get": {
        "tags": [
          "Verificação"
        ],
        "operationId": "verificarPagamento",
        "security": [],
        "summary": "Confirmar que um PIX aconteceu (aberto, sem chave)",
        "description": "Serve para checar um pagamento sem depender da palavra de quem diz ter pago. Não exige conta nem chave.\n\nNão devolve chave PIX, nome completo nem documento: prova o pagamento sem expor as partes.\n\nQuando não encontra, a resposta diz explicitamente que o PIX pode ter sido feito por outra instituição — ausência aqui não é prova de que não existiu.",
        "parameters": [
          {
            "name": "e2e",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador do Banco Central: E + 32 caracteres.",
            "example": "E37293930202607312006361894c4a82"
          }
        ],
        "responses": {
          "200": {
            "description": "Pagamento liquidado pela Lunium.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificado": {
                      "type": "boolean"
                    },
                    "pago": {
                      "type": "boolean"
                    },
                    "e2e": {
                      "type": "string",
                      "description": "Identificador end-to-end do Banco Central, ecoado (letra E + código do comprovante). Qualquer terceiro pode revalidá-lo neste mesmo endpoint."
                    },
                    "valor_brl": {
                      "type": "string"
                    },
                    "pago_em": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-08-01T22:35:49-03:00",
                      "description": "ISO 8601 COM offset (horario de Brasilia). Nunca suponha UTC nem hora local: o offset vem explicito. / (en) ISO 8601 with explicit offset (Brasilia time)."
                    },
                    "recebedor_iniciais": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "instituicao": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "liquidado_por": {
                      "type": "string"
                    },
                    "comprovante_url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Não liquidado pela Lunium (pode ter sido por outra instituição)."
          },
          "400": {
            "description": "Formato inválido."
          }
        },
        "x-lunium-capability": [
          "payment_verification"
        ],
        "x-lunium-intents": [
          "verify_payment",
          "prove_settlement"
        ],
        "x-lunium-agent-safe": true
      }
    },
    "/catalog": {
      "get": {
        "tags": [
          "Catálogo"
        ],
        "operationId": "obterCatalogo",
        "summary": "Ativos, redes e limites que liquidam agora",
        "description": "Catálogo de entrada cripto para cash-out. Use os pares retornados agora e seus mínimos, máximos e estimativas; não mantenha lista fixa de redes. fast, convert e dex descrevem trilhos distintos. A disponibilidade é diferente do catálogo de entrega /cashin/catalog. Se houver deposit_tag no aceite, ele deve acompanhar o depósito. stale=true indica contingência. Com chave lun_test_, DEPIX/liquid aparece em fast como simulação; use asset=DEPIX&network=liquid para filtrar.",
        "responses": {
          "200": {
            "description": "Catálogo vivo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Catalogo"
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cash-outs": {
      "post": {
        "tags": [
          "Cash-out"
        ],
        "operationId": "criarCotacao",
        "summary": "Cotar (passo 1 de 3)",
        "description": "Cria cotação de cripto externa para PIX; endereço de depósito vem somente no accept. Escolha um par do GET /catalog e um dos três modos: amount + pix_key, brl_amount + pix_key, ou br_code completo sem os demais campos de valor/destinatário. Valores são strings decimais. Leia limites por operação/chave em GET /keys/me e limites efetivos/recebedor na resposta. Mandate pode restringir a operação. A rota de br_code exige USDT/USDC compatível e pode retornar 503 br_code_indisponivel tanto na prévia quanto na criação. O sandbox é simulado e não comprova disponibilidade em produção. Produção responde 200 na criação; sandbox pode responder 201. Repita external_id somente com o mesmo pedido original; em conflito, consulte a ordem indicada em recovery_endpoint. DePix/Liquid também aceita amount ou brl_amount e exige CPF/CNPJ do beneficiário (payee_tax_number para chave Pix de e-mail, telefone ou aleatória); refund_address é opcional desde a 1.44.0: se a venda precisar ser devolvida e a ordem não tiver carteira, ela para em AWAITING_REFUND_ADDRESS (webhook cashout.awaiting_refund_address) até você informar a carteira Liquid do cliente em POST /cash-outs/{cashout_id}/refund-address. No sandbox, DePix usa paridade BRL e a tarifa de venda da chave; accept inicia depósito automático fictício e conclui em cerca de 14 segundos. Nunca envie moedas ao endereço SANDBOX:LIQUID:NAO_ENVIAR:. Guia: https://docs.luniumpay.com/sandbox#depix-pix.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asset",
                  "network"
                ],
                "properties": {
                  "asset": {
                    "type": "string",
                    "examples": [
                      "USDT",
                      "DEPIX"
                    ],
                    "description": "Ativo vendido. Use o id EXATO do GET /catalog (ex.: \"usdt\"). Combine com network — o par (asset, network) precisa existir no catálogo."
                  },
                  "network": {
                    "type": "string",
                    "description": "Rede de entrada cripto publicada em GET /catalog. Não confundir com as redes de entrega de /cashin/catalog.",
                    "examples": [
                      "polygon",
                      "liquid"
                    ]
                  },
                  "amount": {
                    "type": "string",
                    "description": "Quantidade de cripto em string decimal (\"50\"), nunca float. Não combine com brl_amount ou br_code. Na criação da ordem, este modo exige pix_key.",
                    "examples": [
                      "50"
                    ]
                  },
                  "brl_amount": {
                    "type": "string",
                    "description": "Alvo em reais para cotação reversa, em string decimal com até 2 casas (\"250.00\"). Não combine com amount ou br_code. Na criação da ordem, este modo exige pix_key. A resposta informa a quantidade exata de cripto a depositar e o valor efetivo em reais, que pode diferir do alvo por arredondamento. Mostre os valores retornados antes do aceite. Mínimos e limites dependem da rota, da chave e do recebedor; consulte os valores vigentes. (en) Target BRL amount; review the effective quoted BRL and exact crypto deposit amount before accepting.",
                    "examples": [
                      "250.00"
                    ]
                  },
                  "pix_key": {
                    "type": "string",
                    "description": "Chave que vai receber os reais. Formatos aceitos (normalizados pela API para o formato exato do liquidante; fora disso → 400 pix_key_invalida antes de existir depósito): CPF 11 dígitos · CNPJ 14 dígitos · telefone internacional +55DDDNÚMERO (+5548996005588) · e-mail · chave aleatória em UUID (6602ede6-b1a9-4e63-9178-c6883fd0095e).\n\n(en) Key that receives the reais. Accepted formats: CPF 11 digits · CNPJ 14 digits · phone +55 + area code + number · e-mail · random key as UUID."
                  },
                  "pix_key_type": {
                    "type": "string",
                    "enum": [
                      "cpf",
                      "cnpj",
                      "phone",
                      "email",
                      "random"
                    ],
                    "description": "Opcional: deduzido do formato da chave (e-mail, CNPJ, UUID, telefone com +55). So e obrigatorio quando a chave tem 11 digitos puros, onde CPF e telefone sao indistinguiveis — nesse caso a API recusa com erro tipo_ambiguo em vez de chutar."
                  },
                  "token_address": {
                    "type": "string",
                    "description": "Endereço/mint exato. Necessário para tokens do `/catalog/dex`, onde símbolos se repetem."
                  },
                  "external_id": {
                    "type": "string",
                    "description": "Identificador persistente por intenção, até 64 caracteres. Repetir o mesmo corpo reutiliza a ordem. Mudanca de rede, ativo, token, destino, tipo PIX, valor ou carteira de retorno e conflito 409; recuperar a original antes de decidir nova operação. Ordens antigas sem identidade verificavel podem exigir recuperacao por cashout_id/external_id.",
                    "maxLength": 64
                  },
                  "refund_address": {
                    "type": "string",
                    "description": "Carteira de retorno do cliente, compatível com a rede e confirmada por ele. Nao inferir a partir da origem on-chain. Sem carteira, o fluxo pode parar em AWAITING_REFUND_ADDRESS; consulte refund_asset, refund_network e refund_amount quando retornados. Na venda de DePix, opcional desde a 1.44.0 (antes era obrigatória); quando enviada, precisa ser um endereço Liquid válido (lq1…) do cliente, também no sandbox.",
                    "examples": [
                      "0x51e3d44172868acc60d68ca99591ce4230bc75e0"
                    ]
                  },
                  "br_code": {
                    "type": "string",
                    "description": "Copia e cola de cobrança PIX com valor definido, quando o recurso estiver disponível. USDT/USDC; substitui pix_key, amount e brl_amount. Pode retornar 503 br_code_indisponivel em produção. O amount cotado inclui colchão fixo de US$ 1,00 (1 USDT/USDC, campo copia_e_cola_buffer_usd) que garante o PIX no valor exato do QR; a sobra fica com a Lunium como reserva de correção e não é devolvida. Se o cliente colou ou escaneou um QR com valor — estático ou dinâmico — envie o br_code inteiro, nunca pix_key + brl_amount extraídos dele: só assim o PIX sai no valor exato e como pagamento daquela cobrança (com o txid). Pago por chave, o valor pode diferir em centavos e o recebedor não reconhece.",
                    "examples": [
                      "00020126330014br.gov.bcb.pix0111498113948905204000053039865406…6304ABCD"
                    ],
                    "minLength": 40,
                    "maxLength": 512
                  },
                  "sandbox_scenario": {
                    "type": "string",
                    "enum": [
                      "success",
                      "delayed",
                      "failed",
                      "expired",
                      "refunded",
                      "settlement_uncertain",
                      "provider_unavailable",
                      "route_unavailable",
                      "no_deposit"
                    ],
                    "description": "Somente DePix/Liquid no sandbox. Prevalece sobre gatilhos dos centavos. Sem cenário explícito, gatilhos .01 a .08 continuam ativos. Chave de produção retorna 403 sandbox_only. Veja GET /sandbox para cenários por fluxo."
                  },
                  "payee_tax_number": {
                    "type": "string",
                    "description": "DePix/Liquid: CPF (11 dígitos) ou CNPJ (14 dígitos) do recebedor. Obrigatório para chave PIX email, phone ou random. Para chave cpf/cnpj, usa-se o documento da própria chave. Nunca use documentos sintéticos em produção."
                  }
                },
                "oneOf": [
                  {
                    "required": [
                      "pix_key",
                      "amount"
                    ],
                    "not": {
                      "anyOf": [
                        {
                          "required": [
                            "brl_amount"
                          ]
                        },
                        {
                          "required": [
                            "br_code"
                          ]
                        }
                      ]
                    }
                  },
                  {
                    "required": [
                      "pix_key",
                      "brl_amount"
                    ],
                    "not": {
                      "anyOf": [
                        {
                          "required": [
                            "amount"
                          ]
                        },
                        {
                          "required": [
                            "br_code"
                          ]
                        }
                      ]
                    }
                  },
                  {
                    "required": [
                      "br_code"
                    ],
                    "not": {
                      "anyOf": [
                        {
                          "required": [
                            "amount"
                          ]
                        },
                        {
                          "required": [
                            "brl_amount"
                          ]
                        },
                        {
                          "required": [
                            "pix_key"
                          ]
                        },
                        {
                          "required": [
                            "pix_key_type"
                          ]
                        }
                      ]
                    }
                  }
                ]
              },
              "examples": {
                "usdt": {
                  "summary": "USDT na Polygon",
                  "value": {
                    "asset": "USDT",
                    "network": "polygon",
                    "amount": "50",
                    "pix_key": "12345678901",
                    "pix_key_type": "cpf",
                    "refund_address": "0x51e3d44172868acc60d68ca99591ce4230bc75e0",
                    "external_id": "saque-4471"
                  }
                },
                "reverso": {
                  "summary": "A partir do valor em reais (cotação reversa)",
                  "value": {
                    "asset": "USDT",
                    "network": "polygon",
                    "brl_amount": "250.00",
                    "pix_key": "vendas@loja.com.br",
                    "external_id": "pedido-9921"
                  }
                },
                "cobranca": {
                  "summary": "Pagar um QR code / copia e cola (USDT/USDC em qualquer rede do catálogo)",
                  "value": {
                    "asset": "USDC",
                    "network": "polygon",
                    "br_code": "00020126330014br.gov.bcb.pix0111498113948905204000053039865406…6304ABCD",
                    "refund_address": "0x51e3d44172868acc60d68ca99591ce4230bc75e0",
                    "external_id": "pedido-9922"
                  }
                },
                "depix_sandbox": {
                  "summary": "DePix → PIX fictício (somente chave lun_test_; substitua a carteira de devolução)",
                  "value": {
                    "asset": "DEPIX",
                    "network": "liquid",
                    "amount": "100.00",
                    "pix_key": "depix@example.invalid",
                    "pix_key_type": "email",
                    "payee_tax_number": "12345678901",
                    "refund_address": "SUA_CARTEIRA_LIQUID_DE_DEVOLUCAO",
                    "external_id": "sandbox-depix-pix-001",
                    "sandbox_scenario": "success"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cotacao criada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashOut"
                }
              }
            }
          },
          "200": {
            "description": "Cotação criada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido ou rede indisponível.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "409": {
            "description": "`external_id` já usado com outros parâmetros."
          },
          "422": {
            "description": "Parametros semanticamente invalidos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "403": {
            "description": "sandbox_scenario exige chave de teste; nenhuma ordem criada."
          },
          "503": {
            "description": "Serviço indisponível; no cenário de teste provider_unavailable, nenhuma ordem é criada."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-lunium-capability": [
          "usdt_to_pix",
          "usdc_to_pix",
          "crypto_to_pix"
        ],
        "x-lunium-intents": [
          "sell_crypto",
          "receive_fiat",
          "offramp",
          "cash_out"
        ],
        "x-lunium-reward-eligible": true
      },
      "get": {
        "tags": [
          "Cash-out"
        ],
        "operationId": "listarCashOuts",
        "summary": "Listar ordens",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "Recuperacao idempotente: devolve a operacao com este external_id (0 ou 1). Unico por chave e produto, case-sensitive, retido permanentemente."
          }
        ],
        "responses": {
          "200": {
            "description": "Ordens da sua chave, mais recentes primeiro."
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cash-outs/{cashout_id}/accept": {
      "post": {
        "tags": [
          "Cash-out"
        ],
        "operationId": "aceitarCotacao",
        "summary": "Aceitar e receber o endereço (passo 2 de 3)",
        "description": "Trava a cotação e devolve `deposit_address`. Envie **exatamente** a quantidade cotada.\n\nSe a rede exigir memo/tag, ele vem em `deposit_tag` — depósito sem o memo se perde.",
        "parameters": [
          {
            "name": "cashout_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endereço de depósito.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashOut"
                }
              }
            }
          },
          "404": {
            "description": "Ordem não encontrada."
          },
          "422": {
            "description": "Cotação expirada ou já aceita."
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cash-outs/{cashout_id}": {
      "get": {
        "tags": [
          "Cash-out"
        ],
        "operationId": "consultarCashOut",
        "summary": "Acompanhar (passo 3 de 3)",
        "description": "Prefira o webhook. Se consultar, use uma vez a cada 10–15 s: uma vez por segundo consome sozinho o limite de 60 requisições por minuto da chave. COMPLETED indica pagamento concluído; pix_e2e, pix_paid_at e os links de comprovante podem chegar depois. Apresente os campos disponíveis e acompanhe a mesma ordem ou o evento cashout.receipt_ready. A ausência momentânea de comprovante não é motivo para criar outro pagamento.",
        "parameters": [
          {
            "name": "cashout_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estado atual.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashOut"
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cashin/charge": {
      "post": {
        "tags": [
          "Cash-in"
        ],
        "operationId": "criarCobranca",
        "summary": "Gerar cobrança PIX para custódia BRL ou entrega de cripto",
        "description": "Gera PIX para custódia BRL (destino=saldo, sem carteira) ou entrega direta de cripto (destino=cripto, padrão). Informe o documento de quem pagará. Consulte GET /cashin/limits e as condições da chave. Limites, taxas e provedor determinam o mínimo efetivo; a criação revalida. Retenção pode ocorrer no provedor (held_hours/delay_until) ou localmente (hold_hours/liberar_em). PIX paid não significa entrega/crédito concluído: acompanhe settlement_status e o extrato. Sandbox cria QR nao pagavel; confirme com POST /sandbox/cashin/{cashin_id}/pay. Nao ha transacao bancaria.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount_cents",
                  "payer_tax_number"
                ],
                "properties": {
                  "amount_cents": {
                    "type": "integer",
                    "description": "Valor da cobrança em CENTAVOS de real, inteiro (ex.: 15000 = R$ 150,00). Consulte GET /cashin/limits antes de criar; ele publica as faixas sem retenção e com retenção vigentes para o pagador.",
                    "examples": [
                      25000
                    ]
                  },
                  "chain": {
                    "type": "string",
                    "default": "polygon",
                    "description": "Rede da rota de entrega. Use o network do catálogo neste campo chain."
                  },
                  "asset": {
                    "type": "string",
                    "default": "usdt",
                    "description": "Ativo da rota entregável em GET /cashin/catalog; não limitado a stablecoins."
                  },
                  "payout_address": {
                    "type": "string",
                    "description": "Carteira por cobrança para destino=cripto; se omitida, pode usar settlement_address da chave. Omitir para destino=saldo. Endereço deve corresponder à rede escolhida."
                  },
                  "payer_tax_number": {
                    "type": "string",
                    "description": "CPF (11 dígitos) ou CNPJ (14 dígitos) do pagador, somente números. Identifica o pagador e alimenta os limites e retenções anti-fraude publicados por GET /cashin/limits."
                  },
                  "external_id": {
                    "type": "string",
                    "description": "Identificador idempotente de até 64 caracteres. Mantenha o mesmo identificador e todos os parâmetros nos retries. A comparação de divergência varia por rota; não use o replay para alterar uma operação. 409 external_id_divergente sinaliza conflito detectado.",
                    "maxLength": 64
                  },
                  "destino": {
                    "type": "string",
                    "enum": [
                      "cripto",
                      "saldo"
                    ],
                    "default": "cripto",
                    "description": "saldo credita custódia BRL líquida das taxas, sem carteira. cripto (padrão) entrega na carteira informada ou configurada. Consulte taxas/carência em GET /saldo e retenção na cobrança/status."
                  },
                  "customer_ref": {
                    "type": "string",
                    "maxLength": 80,
                    "description": "Optional sub-account of the balance (your end customer id). With `destino: \"saldo\"`, the credit lands on this sub-account; GET /saldo?customer_ref= reads it and POST /payouts with the same `customer_ref` spends it. Omit to use the key's main balance."
                  },
                  "allow_hold": {
                    "type": "boolean",
                    "default": true,
                    "description": "false recusa quando a régua do pagador exige retenção. Não remove outras retenções/bloqueios da chave. true ou omitido permite a retenção aplicável. Leia held_hours E hold_hours/liberar_em."
                  },
                  "payout_tag": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Memo/tag do destino. OBRIGATORIO nas redes coletivas — XRP, XLM, TON, ATOM, HBAR, ALGO, EOS, KAVA, LUNA — onde a carteira de destino e compartilhada e o memo e quem identifica o dono. Sem ele a API responde 400 `memo_obrigatorio` antes de criar qualquer cobranca. Em XRP e a destination tag: inteiro de 0 a 4294967295. Aliases aceitos: `memo`, `tag`, `destination_tag`. O catalogo marca essas rotas com `memoRequired: true`. Aliases aceitos: memo, tag, destination_tag."
                  },
                  "payer_name": {
                    "type": "string",
                    "description": "Nome do pagador, quando informado."
                  },
                  "sandbox_scenario": {
                    "type": "string",
                    "enum": [
                      "success",
                      "delayed",
                      "held",
                      "expired",
                      "refunded",
                      "failed",
                      "payer_mismatch",
                      "settlement_failed",
                      "settlement_uncertain",
                      "route_unavailable",
                      "provider_unavailable"
                    ],
                    "description": "Only for a sandbox key. GET /sandbox provides the scenario matrix by flow. Omit in production. All prices, payments and withdrawals remain fictitious."
                  },
                  "delivery_mode": {
                    "type": "string",
                    "enum": [
                      "full",
                      "split"
                    ],
                    "default": "full",
                    "description": "Somente para chain=\"liquid\" (DePix). \"full\" (padrão) entrega o DePix direto na carteira informada, com o valor cheio — a taxa da chave não é descontada. \"split\" faz o caminho receber-e-repassar: a Lunium recebe o DePix, desconta a taxa da chave (fixa + percentual) e envia o líquido para payout_address; net_cents na resposta é exatamente o que o destinatário recebe. Em split, payout_address é obrigatório. Sem o campo, vale o padrão da sua chave."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cobrança criada: qr_copypaste é o PIX a mostrar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cobranca"
                }
              }
            }
          },
          "403": {
            "description": "Limite do pagador excedido (limite_do_pagador) ou pagador bloqueado pela Lunium para esta integração (pagador_bloqueado: nenhuma cobrança é criada; não repita com o mesmo CPF/CNPJ).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "400": {
            "description": "Parametros invalidos, valor fora dos limites, ou cash-in indisponivel para esta chave. · `valor_abaixo_do_minimo` — a moeda/rede escolhida tem mínimo próprio; a resposta traz `minimo_estimado_cents` (a partir de quanto dá). Conferido ANTES de tocar no dinheiro. · `memo_obrigatorio` — a rede exige memo/tag e ele nao veio (ou veio invalido).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "502": {
            "description": "provedor_indisponivel (acao: repetir) — o provedor de liquidação PIX não gerou o QR. NENHUMA cobrança foi criada: repita a MESMA chamada (mesmo external_id) em alguns minutos. Dois erros distintos usam este status e exigem acoes opostas: `provedor_indisponivel` (acao `repetir` ou `esperar`) e instabilidade do liquidante, passa sozinha; `config_provedor` (acao `falar_com_suporte`) e uma configuracao invalida do nosso lado — a chave PIX, a credencial ou a conta do provedor — e NAO se resolve esperando nem repetindo. Nenhuma cobranca e criada em nenhum dos dois casos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "503": {
            "description": "catalogo_indisponivel / cotacao_indisponivel — corretora sem cotação neste instante; repita.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "409": {
            "description": "external_id divergente."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-lunium-capability": [
          "pix_to_usdt",
          "pix_to_usdc"
        ],
        "x-lunium-intents": [
          "buy_crypto",
          "onramp",
          "fiat_to_crypto"
        ],
        "x-lunium-reward-eligible": true
      }
    },
    "/keys": {
      "post": {
        "tags": [
          "Conta"
        ],
        "operationId": "criarChave",
        "security": [],
        "summary": "Criar chave (self-service)",
        "description": "A chave aparece **uma única vez** — guarde no momento da criação, só o hash fica armazenado. A resposta traz também os grupos de acompanhamento, onde mudanças de contrato são anunciadas antes de irem ao ar.",
        "responses": {
          "201": {
            "description": "Chave criada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string",
                      "description": "A chave em claro — aparece SÓ nesta resposta (guardamos apenas o hash)."
                    },
                    "email_sent": {
                      "type": "boolean",
                      "description": "true quando uma cópia da chave foi enviada ao `email` informado. false se não houve e-mail ou o envio falhou."
                    },
                    "webhook_secret": {
                      "type": "string",
                      "description": "Presente quando `webhook_url` foi informado."
                    },
                    "key": {
                      "type": "object",
                      "description": "Visão pública da chave (prefix, name, flags)."
                    },
                    "limits": {
                      "type": "object",
                      "description": "Limites vigentes."
                    },
                    "monitor_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Monitor ao vivo, só-leitura, do fluxo desta chave."
                    },
                    "lead_attribution": {
                      "type": "object",
                      "description": "Resultado do elo de atribuicao quando um lead_token consentido e enviado. Nunca bloqueia a criacao da chave.",
                      "required": [
                        "requested",
                        "linked",
                        "status"
                      ],
                      "properties": {
                        "requested": {
                          "type": "boolean",
                          "description": "true se um lead_token foi enviado no corpo."
                        },
                        "linked": {
                          "type": "boolean",
                          "description": "true se a chave foi ligada a um lead consentido."
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "nao_solicitado",
                            "vinculado",
                            "token_invalido",
                            "indisponivel"
                          ],
                          "description": "Estado do vinculo."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Campos invalidos (name obrigatorio, webhook_url precisa ser https publica).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "429": {
            "description": "Limite de criacao de chaves por IP.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80,
                    "description": "Nome do negócio (aparece no painel e nos avisos)."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Recomendado: a chave recém-criada é enviada para este e-mail, além de aparecer na resposta."
                  },
                  "settlement_address": {
                    "type": "string",
                    "description": "Carteira EVM (Polygon) de liquidação. Opcional; pode ser definida depois."
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL HTTPS para os eventos. Opcional."
                  },
                  "lead_token": {
                    "type": "string",
                    "pattern": "^ldt_[A-Za-z0-9_-]{43}$",
                    "minLength": 47,
                    "maxLength": 47,
                    "description": "Token opaco `ldt_…` devolvido por POST /leads quando a pessoa autorizou contato tecnico (consentimento). Vincula esta chave ao lead. Somente no corpo, nunca na URL. Opcional; ausencia ou token invalido nao impede a criacao."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/keys/me": {
      "get": {
        "tags": [
          "Conta"
        ],
        "operationId": "consultarConta",
        "summary": "Limites vigentes e uso do dia",
        "description": "É o número que nunca envelhece: leia os limites daqui em vez de fixá-los no código.\n\n**Cash-out (venda de cripto):** R$ 6,00 a R$ 250.000,00 por transação, mais um teto diário de R$ 100.000,00 por CPF/CNPJ de quem RECEBE o PIX (por chave, quando a chave PIX não é um documento), que renova à meia-noite no horário de Brasília. O máximo efetivo é o MENOR dos dois e vem em `limits.max_brl_cents`; o teto por transação vem em `limits.max_brl_cents_por_transacao`. Não existe teto diário por chave de API na venda.\n\n**Cash-in e payouts:** também não há teto diário por chave (desde 10/09/2026): `limits.daily_limit_cents` vem `null`, `limits.tier` vem `\"Sem teto\"`, `limits.available_today_cents` e `limits.next_tier` vêm `null` e `limits.daily_limit_applies_to` vem `[]`. Cada cobrança vai de R$ 1,00 a R$ 6.000,00 (mínimo efetivo em `limits.per_operation.cashin.min_brl_cents`) e passa pela régua do pagador (`GET /cashin/limits`). O único teto diário por chave possível é o que a própria chave define em `mandate.max_diario_cents`.",
        "responses": {
          "200": {
            "description": "Sua chave e limites.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChaveMe"
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "patch": {
        "summary": "Atualiza a chave (nome, settlement, webhook, rotações)",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80
                  },
                  "settlement_address": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Endereço Polygon 0x…; null limpa."
                  },
                  "webhook_url": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "https pública; null limpa. Definir gera webhook_secret se a chave ainda não tem."
                  },
                  "rotate_webhook_secret": {
                    "type": "boolean",
                    "description": "true gira o segredo do webhook — aparece UMA vez na resposta."
                  },
                  "rotate_monitor_token": {
                    "type": "boolean",
                    "description": "true gira o token do monitor: a URL antiga deixa de mostrar dados a partir desta chamada; a nova vem em monitor_url."
                  },
                  "partner_fee_bps": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000,
                    "description": "Sub fee do parceiro em bps, somada à taxa da Lunium e paga pelo usuário final (100 = 1%; máximo 1000 = 10%). Vale para cobrança NOVA: cobrança aberta mantém a taxa congelada. 0 desliga."
                  },
                  "partner_cashout_fee_bps": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000,
                    "description": "Sub fee do parceiro na VENDA (cripto -> PIX), em basis points, POR CIMA da taxa da Lunium. Congelada em cada ordem no momento da criacao; vale para ordem nova. Nao se aplica a venda por QR copia e cola. 0 desliga."
                  },
                  "partner_saque_fee_bps": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000,
                    "description": "Sub fee do parceiro na SAIDA DA CUSTODIA (saque por PIX em POST /payouts e saque em cripto em POST /saldo/sacar-cripto), em basis points, debitada do saldo POR CIMA da taxa da Lunium. Credita quando o saque conclui. 0 desliga."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chave atualizada. Pode trazer webhook_secret (uma única vez) e monitor_url novo."
          },
          "400": {
            "description": "Campos inválidos ou nada para atualizar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "operationId": "updateMyKey"
      }
    },
    "/ping": {
      "get": {
        "tags": [
          "Conta"
        ],
        "operationId": "ping",
        "security": [],
        "summary": "Saúde da API",
        "responses": {
          "200": {
            "description": "pong"
          }
        }
      }
    },
    "/keys/sandbox": {
      "post": {
        "summary": "Get a sandbox API key — one call, no API key needed",
        "description": "Returns a lun_test_ key in one call: no approval, no API key and no wallet. `email` is required: the e-mail of the person who will test. About a minute later, LuniumPay support sends that address one message with what LuniumPay is, the 3-step integration, the manual and PDF, the flowchart and VendaCripto (a ready-made app to buy or sell crypto with PIX, no integration). One message per address, with an unsubscribe link. Missing or invalid email: 400 email_obrigatorio (acao=corrigir, campo=email). All six financial journeys are simulated with fictitious funds using the normal endpoints. GET /sandbox returns the supported flows, scenario matrix and simulation controls. POST /sandbox/cashin/{cashin_id}/pay confirms a non-payable test charge. Cash-in, custody and payouts are durable; cash-out retention is two hours. Signed webhooks use the normal delivery pipeline with sandbox:true. No financial provider is called. Catalogs and prices are synthetic snapshots, not live quotes. See https://docs.luniumpay.com/sandbox .",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 160,
                    "description": "Required. E-mail of the person who will test, e.g. you@company.com. LuniumPay support sends this address one message with the integration guide (what LuniumPay is, the 3 steps, manual and PDF, flowchart, VendaCripto). One message per address, with an unsubscribe link."
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional label to recognise the key later."
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Optional HTTPS webhook."
                  },
                  "lead_token": {
                    "type": "string",
                    "pattern": "^ldt_[A-Za-z0-9_-]{43}$",
                    "description": "Optional opaque token returned by consented POST /leads. Links this TEST key to the contact. Invalid or unavailable attribution never blocks key creation. Never put this token in a URL or log."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sandbox key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string",
                      "example": "lun_test_1df82296e3459819702c6a6087aab1c7"
                    },
                    "sandbox": {
                      "type": "boolean",
                      "const": true
                    },
                    "gatilhos": {
                      "type": "object",
                      "description": "The deterministic triggers, described above."
                    },
                    "diferencas_para_producao": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "lead_link": {
                      "type": "object",
                      "properties": {
                        "requested": {
                          "type": "boolean"
                        },
                        "linked": {
                          "type": "boolean"
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "email_obrigatorio: email missing or invalid. Send the e-mail of the person who will test, e.g. {\"email\": \"you@company.com\"}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "erro": "email_obrigatorio",
                  "acao": "corrigir",
                  "campo": "email",
                  "detail": "Informe o e-mail de quem vai testar: {\"email\": \"voce@empresa.com\"}. É por ele que mandamos o manual, o fluxograma e o passo a passo da integração."
                }
              }
            }
          },
          "429": {
            "description": "Too many keys from this IP today",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "operationId": "createSandboxKey"
      }
    },
    "/cashin/limits": {
      "get": {
        "summary": "How much this taxpayer can pay right now",
        "description": "Consulta orientativa de limites por CPF/CNPJ, uso e faixas sem retenção/retida. A criação revalida a operação e as condições da chave, inclusive custódia sem carência. max_amount_cents não substitui mínimos de taxa, rota/provedor ou gates contratuais. Retenção pode ocorrer no provedor ou localmente; confira held_hours, hold_hours e liberar_em na cobrança. Não fixe a régua no cliente.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "payer_tax",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([0-9]{11}|[0-9]{14})$"
            },
            "description": "CPF (11 digits) or CNPJ (14 digits), digits only."
          }
        ],
        "responses": {
          "200": {
            "description": "Current ladder state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payer_tax": {
                      "type": "string",
                      "description": "Masked back to you, never in full."
                    },
                    "stage": {
                      "enum": [
                        "first_transaction",
                        "first_24h",
                        "mature",
                        "disabled",
                        "desconhecido"
                      ]
                    },
                    "max_amount_cents": {
                      "type": "integer",
                      "description": "Faixa máxima orientativa do documento, incluindo eventual retenção; criação revalida chave, mínimos e disponibilidade."
                    },
                    "used_cents": {
                      "type": "integer"
                    },
                    "available_cents": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "What still clears without a hold at the current stage. Alias: instant_available_cents. Null quando a regra de limite estiver desativada (stage=disabled)."
                    },
                    "limit_cents": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": " Null quando a regra de limite estiver desativada (stage=disabled)."
                    },
                    "next_stage": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "When the ceiling rises and to what."
                    },
                    "instant_available_cents": {
                      "type": "integer",
                      "description": "Same as available_cents — what clears without a hold, spelled out."
                    },
                    "held_qr": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Condições da faixa com retenção quando aplicável. O provedor pode reter o valor ou a cobrança pode aplicar retenção local. Confira a resposta de criação/status.",
                      "properties": {
                        "stage": {
                          "type": "string",
                          "enum": [
                            "held_qr"
                          ]
                        },
                        "max_amount_cents": {
                          "type": "integer"
                        },
                        "used_cents": {
                          "type": "integer",
                          "description": "Paid + in-flight in the last 24h."
                        },
                        "available_cents": {
                          "type": "integer"
                        },
                        "hold_hours": {
                          "type": "integer"
                        },
                        "explicacao": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "operationId": "getCashinLimits"
      }
    },
    "/cashin/{cashin_id}/status": {
      "get": {
        "summary": "State of a PIX charge",
        "description": "Consulta estado do PIX e do crédito/entrega separadamente. paid não significa sozinho cripto entregue ou saldo disponível. settlement_status=sent conclui o crédito/entrega; em custódia confira disponível/bloqueado no saldo. delayed representa retenção pelo provedor; paid com liberar_em pode estar sob retenção local. Não peça novo pagamento porque a entrega ainda não concluiu. Prefira webhook; polling deve respeitar o rate limit da chave.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "cashin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estado atual com linha do tempo carimbada pelo servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCobranca"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "operationId": "getPixChargeStatus"
      }
    },
    "/payouts": {
      "post": {
        "summary": "Send a PIX directly (no crypto leg)",
        "description": "Envia PIX debitando somente saldo BRL disponível da casa ou subconta customer_ref, recebido por PIX. Confira payout.enabled em GET /keys/me, custodia_ativa, pix_rules e taxas em GET /saldo. Máximo R$ 6.000,00 por PIX, sujeito a limites menores da conta. CPF/CNPJ válido do recebedor é obrigatório; a API pode derivá-lo de uma chave CPF/CNPJ. Valor mais taxas são reservados antes de chamar o provedor; sem saldo, 402. Consulte a tarifa vigente na API e concilie fee_cents da operação. Limites e mandate da chave continuam aplicáveis. Use external_id estável e consulte a ordem original após timeout. Sandbox usa saldo fictício e calcula a tarifa publicada pela API; não há pagamento real. A carteira USDT é separada do saldo BRL: requer habilitação do projeto, recebe depósitos externos de USDT e não usa /payouts. Quando habilitada, usa funding_source=crypto_usdt; documento do recebedor não é exigido nesse fluxo. Seus limites vêm da cotação e das condições da API, não do teto de R$ 6.000 do saldo BRL. Não está disponível em sandbox.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount_cents": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Valor do PIX em CENTAVOS de real, inteiro (5000 = R$ 50,00). Máximo 600000 (R$ 6.000,00), sujeito a limite menor da conta. Taxas são debitadas além deste valor.",
                    "maximum": 600000
                  },
                  "pix_key": {
                    "type": "string",
                    "description": "Chave PIX de destino que recebe os reais (CPF, CNPJ, telefone +55, e-mail ou chave aleatória). Com 11 dígitos crus envie também pix_key_type (\"cpf\" ou \"phone\") — sem isso a API recusa com erro=tipo_ambiguo em vez de adivinhar."
                  },
                  "pix_key_type": {
                    "enum": [
                      "cpf",
                      "cnpj",
                      "phone",
                      "email",
                      "random"
                    ],
                    "description": "Opcional: deduzido do formato da chave (e-mail, CNPJ, UUID, telefone com +55). So e obrigatorio quando a chave tem 11 digitos puros, onde CPF e telefone sao indistinguiveis — nesse caso a API recusa com erro tipo_ambiguo em vez de chutar."
                  },
                  "tax_number": {
                    "type": "string",
                    "description": "CPF ou CNPJ válido do recebedor, com dígitos verificadores conferidos. Obrigatório para chave de e-mail, telefone ou aleatória. Para chave CPF/CNPJ válida, pode ser omitido: a API usa o documento da própria chave; se informado, deve coincidir. Não comprova titularidade da chave."
                  },
                  "beneficiary_name": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Optional. Beneficiary's full name, forwarded to the PIX provider as the end user's name. Not required — payouts to third-party PIX keys are allowed."
                  },
                  "external_id": {
                    "type": "string",
                    "description": "Identificador idempotente de até 64 caracteres. Nos retries, mantenha valor, chave PIX, tipo, documento, customer_ref e funding_source do pedido original. Conflito 409 external_id_divergente ou external_id_nao_verificavel retorna payout_id/recovery_endpoint para consultar a ordem original; não gere outro ID apenas para contornar o conflito.",
                    "maxLength": 64
                  },
                  "customer_ref": {
                    "type": "string",
                    "maxLength": 80,
                    "description": "Sub-account to debit (custody keys). Debited BEFORE the PIX is sent: amount + house fee (`saque_fee_bps`) + provider fee; on explicit provider refusal the debits are reversed. 402 `saldo_insuficiente` when available balance < amount + fees (`saque_fee_bps`, `saque_taxa_estimada_cents` in GET /saldo). Sub-account (e.g. the merchant) whose balance is debited. Same value used on the deposit."
                  },
                  "sandbox_scenario": {
                    "type": "string",
                    "enum": [
                      "success",
                      "delayed",
                      "held",
                      "expired",
                      "refunded",
                      "failed",
                      "payer_mismatch",
                      "settlement_failed",
                      "settlement_uncertain",
                      "route_unavailable",
                      "provider_unavailable"
                    ],
                    "description": "Only for a sandbox key. GET /sandbox provides the scenario matrix by flow. Omit in production. All prices, payments and withdrawals remain fictitious."
                  },
                  "funding_source": {
                    "type": "string",
                    "enum": [
                      "pix_brl"
                    ],
                    "description": "Opcional. Único valor aceito: pix_brl. Este endpoint debita saldo em reais recebido por PIX; nunca debita a carteira USDT."
                  }
                },
                "required": [
                  "amount_cents",
                  "pix_key"
                ]
              }
            }
          }
        },
        "responses": {
          "403": {
            "description": "Administrative kill switch or `custodia_desligada`. Production keys are enabled by default; if this response appears, stop and contact support instead of retrying. No PIX was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "409": {
            "description": "external_id_divergente ou external_id_nao_verificavel: consulte payout_id/recovery_endpoint da operação original. Não altere parâmetros nem gere novo ID para a mesma intenção. em_processamento: consulte a ordem em andamento, sem reenviar um novo pagamento.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Erro"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "payout_id": {
                          "type": "string",
                          "description": "Original payout identifier."
                        },
                        "recovery_endpoint": {
                          "type": "string",
                          "description": "Relative API path of the original payout."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "423": {
            "description": "carencia_primeiro_deposito — first-deposit hold (only keys with a contractual holding period; none by default since 2026-09-16): no withdrawal for this sub-account until `libera_em`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "erro": {
                      "type": "string",
                      "enum": [
                        "carencia_primeiro_deposito"
                      ]
                    },
                    "acao": {
                      "type": "string",
                      "enum": [
                        "esperar"
                      ]
                    },
                    "detail": {
                      "type": "string"
                    },
                    "libera_em": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "saque_indisponivel: financiamento/provedor indisponível; nenhuma nova reserva ou débito é feito nesta tentativa. idempotencia_indisponivel: não foi possível conferir a ordem anterior; nenhuma nova ordem é criada, mas a anterior pode existir. Aguarde e consulte o mesmo external_id; não gere outro ID."
          },
          "200": {
            "description": "Payout criado ou replay idempotente da operação original.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "description": "Recusa ou falha; leia erro, acao e detail quando presentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "402": {
            "description": "Recusa ou falha; leia erro, acao e detail quando presentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "500": {
            "description": "Recusa ou falha; leia erro, acao e detail quando presentes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "operationId": "createPixPayout"
      },
      "get": {
        "summary": "Lista os payouts desta chave",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "processing",
                "sent",
                "failed",
                "refunded"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "Recuperacao idempotente: devolve a operacao com este external_id (0 ou 1). Unico por chave e produto, case-sensitive, retido permanentemente."
          }
        ],
        "responses": {
          "200": {
            "description": "Lista (mais recentes primeiro). Lista vazia = 200, nunca 403.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payouts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payout"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "403": {
            "description": "Payout ainda nao liberado para esta chave.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "operationId": "listPixPayouts"
      }
    },
    "/payouts/{payout_id}": {
      "get": {
        "summary": "State of a payout",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "payout_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estado do saque.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "operationId": "getPixPayout"
      }
    },
    "/webhooks/deliveries": {
      "get": {
        "summary": "Historico de entregas de webhook desta chave",
        "description": "Diagnostico do que saiu, o que falhou e por que. Nao devolve o corpo do evento — para reenviar o corpo original use o retry.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "sent",
                "failed"
              ]
            }
          },
          {
            "name": "event",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "cashin.paid",
                "cashin.delayed",
                "cashin.held",
                "cashin.settled",
                "cashin.settlement_failed",
                "cashin.expired",
                "cashin.refunded",
                "cashin.failed",
                "cashout.awaiting_deposit",
                "cashout.deposit_detected",
                "cashout.confirming",
                "cashout.processing",
                "cashout.under_review",
                "cashout.awaiting_refund_address",
                "cashout.refunding",
                "cashout.completed",
                "cashout.receipt_ready",
                "cashout.refunded",
                "cashout.expired",
                "cashout.failed",
                "payout.sent",
                "payout.failed",
                "payout.refunded",
                "webhook.test",
                "saldo.liberado",
                "saldo.congelado",
                "saldo.transferido",
                "wallet.deposit_credited",
                "wallet.payment_completed",
                "wallet.payment_failed"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entregas, mais recentes primeiro.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deliveries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EntregaWebhook"
                      }
                    },
                    "failed_count": {
                      "type": "integer",
                      "description": "Quantas na resposta esgotaram as tentativas."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Filtro invalido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "operationId": "listWebhookDeliveries"
      }
    },
    "/webhooks/deliveries/{event_id}/retry": {
      "post": {
        "summary": "Reenviar um evento",
        "description": "Tenta entregar durante a própria chamada e responde com o resultado. Se falhar de novo, a entrega volta para a fila com 12 tentativas novas. Recusa reenviar o que ja foi confirmado com 2xx.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entregue agora.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event_id": {
                      "type": "string"
                    },
                    "delivered": {
                      "type": "boolean",
                      "const": true
                    },
                    "status_code": {
                      "type": "integer"
                    },
                    "ms": {
                      "type": "integer"
                    },
                    "delivery_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Nao entregue agora; recolocada na fila."
          },
          "404": {
            "description": "Nao encontrado para esta chave",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "409": {
            "description": "Ja entregue — reenviar duplicaria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "operationId": "retryWebhookDelivery"
      }
    },
    "/webhooks/test": {
      "post": {
        "summary": "Disparar um evento de teste agora",
        "description": "Envia um `webhook.test` para a sua webhook_url pelo MESMO transporte da producao e devolve o que o seu endpoint respondeu (status e latencia). Nenhum dinheiro se move e nada entra na fila. Use antes de ligar a primeira cobranca real. Maximo de 6 por minuto.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Seu endpoint respondeu 2xx.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "event_id": {
                      "type": "string"
                    },
                    "delivery_id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    },
                    "ms": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "webhook_url nao configurada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "429": {
            "description": "Mais de 6 testes por minuto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "502": {
            "description": "Seu endpoint nao respondeu 2xx — o corpo diz exatamente o que aconteceu.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente, desconhecida ou incorreta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "operationId": "testWebhook"
      }
    },
    "/cashin/charges": {
      "get": {
        "summary": "Lista/recupera cobrancas de cash-in desta chave",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "Recuperacao idempotente: devolve a operacao com este external_id (0 ou 1). Unico por chave e produto, case-sensitive, retido permanentemente."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista (mais recentes primeiro).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "charges": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Cobranca"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "X-API-Key ausente/invalida.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          },
          "403": {
            "description": "Listagem exige X-API-Key (nao publico).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                }
              }
            }
          }
        },
        "operationId": "listPixCharges"
      }
    },
    "/cashin/preview": {
      "post": {
        "summary": "Cotação de cash-in — não cria nada",
        "description": "Estimativa de conversão PIX/BRL para uma rota de entrega. Não cria QR nem fixa o câmbio até o pagamento. Leia min_brl_cents e os campos retornados pela rota. Não é uma prévia completa de saque custodial: a taxa de saque da casa é adicional.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount_cents"
                ],
                "properties": {
                  "amount_cents": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Valor BRL em centavos inteiros. Mínimo efetivo depende da chave, taxas e rota. Consulte GET /keys/me e min_brl_cents/limits retornados; não fixe o mínimo do exemplo."
                  },
                  "asset": {
                    "type": "string",
                    "default": "usdt",
                    "description": "Ativo da rota entregável em GET /cashin/catalog; não limitado a stablecoins."
                  },
                  "chain": {
                    "type": "string",
                    "default": "polygon",
                    "description": "Rede da rota de entrega. Use o network do catálogo neste campo chain."
                  },
                  "delivery_mode": {
                    "type": "string",
                    "enum": [
                      "full",
                      "split"
                    ],
                    "default": "full",
                    "description": "Somente para chain=\"liquid\" (DePix). \"full\" (padrão) entrega o DePix direto na carteira informada, com o valor cheio — a taxa da chave não é descontada. \"split\" faz o caminho receber-e-repassar: a Lunium recebe o DePix, desconta a taxa da chave (fixa + percentual) e envia o líquido para payout_address; net_cents na resposta é exatamente o que o destinatário recebe. Em split, payout_address é obrigatório. Sem o campo, vale o padrão da sua chave."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cotação com a taxa da chave aplicada.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "asset": {
                          "type": "string",
                          "description": "Ativo da entrega, ecoado do pedido (usdt, usdc, depix, btc…)."
                        },
                        "amount_cents": {
                          "type": "integer",
                          "description": "Valor da cobrança em centavos, ecoado do pedido."
                        },
                        "admin_fee_bps": {
                          "type": "integer"
                        },
                        "admin_fee_fixed_cents": {
                          "type": "integer"
                        },
                        "fee_total_cents": {
                          "type": "integer",
                          "description": "TUDO que saiu do bruto: taxa fixa + % da Lunium + sub fee do parceiro. Invariante: fee_total_cents + net_cents == amount_cents. Para saber de quem é cada parte, leia lunium_fee_cents e partner_fee_cents."
                        },
                        "net_cents": {
                          "type": "integer",
                          "description": "Valor líquido convertido em cripto para o usuário final, já descontada a sub fee do parceiro (se houver)."
                        },
                        "brl_per_usdt": {
                          "type": "string",
                          "description": "Cotação arredondada p/ leitura — o valor entregue usa a cotação cheia."
                        },
                        "usdt_amount": {
                          "type": "string",
                          "description": "Campo legado. No trilho da casa (DePix e entregas feitas pela carteira da própria Lunium) é a quantidade entregue; quando a entrega passa por conversão (BTC, ETH e demais pares do catálogo, inclusive stablecoins em algumas rotas), é o USDT usado na compra, NÃO o que o cliente recebe. Para exibir a cripto que chega na carteira, leia sempre asset_amount."
                        },
                        "chain": {
                          "type": "string",
                          "description": "Rede da entrega, ecoada do pedido (normalizada: sol → solana, trc20 → tron…)."
                        },
                        "asset_amount": {
                          "type": "string",
                          "description": "Quantidade de cripto que chega na carteira do cliente, já descontadas a taxa da chave, a sub fee do parceiro e, nas rotas convertidas, a comissão de compra e a taxa de saque da rede (withdraw_fee). É o número para mostrar como “você recebe”. Mesmo campo do sandbox. Estimativa: a entrega recalcula a cotação no pagamento."
                        },
                        "withdraw_fee": {
                          "type": "string",
[...]
