{
  "openapi": "3.1.0",
  "info": {
    "title": "Ironfang Render API",
    "version": "1.0.0",
    "summary": "Screenshots, PDFs, dynamic images and video through one API.",
    "description": "Ironfang Render renders web pages to images, PDFs and video. Give it a URL or a\nblock of HTML and get the finished asset without running a browser.\n\n## No attribution on your output\n\nNothing you render through the API carries an Ironfang badge or watermark,\nwhatever your billing state. Only the anonymous free tools on\nironfang.com mark their output.\n\n## Authentication\n\nEvery request carries an API key as a bearer token:\n\n```\nAuthorization: Bearer rw_live_...\n```\n\nKeys are created in the portal at https://portal.ironfang.com. They are shown\nonce at creation and stored only as a hash, so a lost key is replaced rather\nthan recovered.\n\n## Responses are bytes, not JSON\n\n`/v1/screenshot`, `/v1/pdf`, `/v1/image/{id}` and `/v1/video` return the\nrendered file directly. `/v1/site-preview` returns a multipart payload with\nthe poster and MP4. Only errors and the metadata endpoints return JSON.\n\n## Billing\n\nIronfang Render has no plans or credits. Usage is billed to your\norganisation's Ironfang billing account, which every product shares\n(`/billing/v1`, managed in the portal). Each kind of work counts against a\nmeter, and each meter has a monthly free allowance (UTC calendar months);\nbeyond it, usage is pay-as-you-go at graduated rates once paid usage is\nenabled on the billing account. The catalogue of meters, allowances and\nrates is `GET /billing/v1/catalogue`.\n\n| Work | Meter | Counts |\n| --- | --- | --- |\n| Screenshot, signed screenshot | `render.screenshot` | 1 per screenshot |\n| PDF | `render.pdf` | 1 per PDF of at most 100 pages |\n| Template image, signed image | `render.image` | 1 per image |\n| QR code | `render.qr` | 1 per code; a free utility, never charged |\n| Clip, 1080p (`vertical`, `landscape`) | `render.video_second_fhd` | output seconds, rounded up per clip |\n| Clip, `720p` or `square` | `render.video_second_hd` | output seconds, rounded up per clip |\n| Site preview | `render.site_preview_second` | output seconds, rounded up per preview |\n\nEvery billable request is admitted before any work starts: the most it\ncan count is reserved, and a request that cannot be admitted is refused\nwith nothing done. What the work actually produced is committed when it\nsucceeds - never more than was reserved - and a failure, a refused input\nor a cancellation commits nothing. A clip reserves its duration; a site\npreview reserves the 60 second limit and commits its real length. Billable\nresponses say what they counted in `X-Ironfang-Meter` and\n`X-Ironfang-Quantity`; `GET /v1/usage` reports the period.\n\nA billing refusal answers with a stable code in the usual error body:\n`free_allowance_exhausted`, `account_budget_exhausted` or\n`product_budget_exhausted` (429); `paid_usage_paused`, `payment_required`,\n`payment_action_required` or `account_restricted` (402);\n`product_not_eligible` (403); `account_closed` (410);\n`operation_too_large` (413); `billing_temporarily_unavailable` (503, with\n`Retry-After`). An API key on an account that belongs to no Ironfang\norganisation is `403 account_not_linked`.\n\nA PDF may have at most 100 pages. A longer document is refused with\n`422 pdf_too_long` and nothing is counted.\n\n## Caching\n\nAn identical request made again within **ten minutes** of the render that\nproduced it may be served from cache: `X-Ironfang-Cache: hit`,\n`X-Ironfang-Quantity: 0`, nothing reserved and nothing counted. The cache\nis per instance and bounded in size, so an entry can be evicted sooner and\na hit is never guaranteed; after ten minutes the same request is a new,\nbillable render. PDFs are never cached. Set `no_cache: true` to force a\nfresh render, which is billable; the flag is deliberately excluded from\nthe cache key, so two fresh requests do not hit each other's results.\n\n## Rate limits\n\nTwo rate limits apply, both per minute:\n\n- **120 renders per account**, and\n- **60 renders per target host**, counted across all customers.\n\nThe second protects the sites being rendered: one API call is a full page\nload, so a victim's exposure must not scale with our customer count. Both\nare checked after the cache and before admission, so a blocked call\nreserves and costs nothing.\n\n## Capacity limits\n\nThree more limits are the same for every account, and no billing setting\nlifts them. They are refused with Ironfang Render's own codes, never a\nbilling code, and a refused call reserves and costs nothing.\n\n- **2 browser operations in progress per account.** Screenshots, PDFs,\n  template images and site previews count together, however they\n  arrived: synchronous requests (signed URLs included) and durable jobs a\n  worker is running, across the whole service. A synchronous request\n  over the limit is `429 concurrency_limit` with `Retry-After`; a signed\n  URL, whose caller is a browser or a link-preview crawler, first waits\n  up to 10 seconds for one to finish. A durable job over it is not\n  refused: it waits in the queue until one of the account's operations\n  finishes. QR codes and clips use no browser and do\n  not count. A cache hit uses no browser either.\n- **1,000 unfinished jobs per account** (queued, running or being\n  cancelled). A job or a batch that would take the account past it is\n  `429 queue_full`, with `Retry-After`; a batch is refused whole, and no\n  job of it is created.\n\n## Bot protection\n\nIronfang Render does not attempt to circumvent bot protection, CAPTCHAs or\npaywalls. A challenge page renders as the challenge page. This is a\ndeliberate limit, not a bug.\n\n## For agents and tools\n\nThe canonical base URL is https://api.ironfang.com/render. Every operation\nhas a stable `operationId`. Every error an operation returns is JSON of the\nshape `{\"error\": {\"code\", \"message\", \"docs\"}, \"request_id\"}`: branch on\n`code` and the HTTP status, never on `message`. The machine-readable index\nof the Ironfang APIs is https://ironfang.com/.well-known/api-catalog, and\nhttps://ironfang.com/llms.txt is a plain-text map of them for a language\nmodel. Ironfang Render is also available as MCP tools at\nhttps://mcp.ironfang.com/mcp (see https://ironfang.com/docs/mcp). Renderwolf\nis the name the product launched under, not a separate product; its\n`/renderwolf` prefix and `X-Renderwolf-*` headers were retired on\n28 September 2026, and the prefix now answers `410`.\n",
    "contact": {
      "name": "Ironfang",
      "email": "hello@ironfang.com",
      "url": "https://ironfang.com"
    },
    "termsOfService": "https://ironfang.com/legal/terms",
    "license": {
      "name": "Proprietary - use governed by the Ironfang terms of service",
      "url": "https://ironfang.com/legal/terms"
    },
    "x-jentic-source-url": "https://api.ironfang.com/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.ironfang.com/render",
      "description": "Production"
    },
    {
      "url": "https://api.ironfang.com",
      "description": "Production, unpartitioned - retained for existing clients"
    }
  ],
  "paths": {
    "/v1/screenshot": {
      "post": {
        "tags": [
          "Render"
        ],
        "summary": "Render a screenshot",
        "description": "Supply exactly one of `url` or `html`. Returns the image bytes.\nCounts one `render.screenshot`.\n",
        "operationId": "createScreenshot",
        "parameters": [
          {
            "$ref": "#/components/parameters/SyncIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenshotRequest"
              },
              "examples": {
                "url": {
                  "summary": "A page, full length",
                  "value": {
                    "url": "https://example.com",
                    "width": 1280,
                    "full_page": true
                  }
                },
                "element": {
                  "summary": "One element, on a dark-mode page",
                  "value": {
                    "url": "https://example.com/pricing",
                    "selector": ".pricing-table",
                    "dark_mode": true
                  }
                },
                "html": {
                  "summary": "Your own markup, as JPEG",
                  "value": {
                    "html": "<h1 style=\"font:600 48px sans-serif\">Hello</h1>",
                    "width": 1200,
                    "height": 630,
                    "format": "jpeg",
                    "quality": 85
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Image"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "422": {
            "$ref": "#/components/responses/RenderFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "402": {
            "$ref": "#/components/responses/BillingRefused"
          },
          "503": {
            "$ref": "#/components/responses/BillingUnavailable"
          }
        }
      }
    },
    "/v1/qr": {
      "post": {
        "tags": [
          "Render"
        ],
        "summary": "Render a QR code",
        "description": "Styled, optionally logo-bearing QR codes, drawn natively and\n**verified before delivery**: every response is decoded and compared\nto `data` on the way out. A code that would not scan is a\n`422 unscannable` and nothing is counted - the guarantee is the\nfeature.\n\nA logo forces the highest error-correction level and is composited\nover the center on a knockout tile (`logo_pad`). Send it inline as a\n`data:` URI (`logo`) or by URL (`logo_url`); remote logos face the\nsame target guard and rate caps as screenshot URLs.\n\nQRs are deterministic, so identical requests hit the cache and cache\nhits count nothing. Each code counts one `render.qr`, a free utility:\nit shows in usage and is never charged. Output never carries a\nbadge - a mark inside a scannable symbol would corrupt it.\n\nTo place a QR inside a stored template render, use the `qr` object\non `POST /v1/image/{id}` instead - each entry becomes a\n`{{qr.<name>}}` variable holding a data URI.\n",
        "operationId": "createQr",
        "parameters": [
          {
            "$ref": "#/components/parameters/SyncIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QrRequest"
              },
              "examples": {
                "plain": {
                  "summary": "A link, defaults throughout",
                  "value": {
                    "data": "https://example.com/menu"
                  }
                },
                "branded": {
                  "summary": "Rounded style with a centered logo",
                  "value": {
                    "data": "https://example.com",
                    "size": 600,
                    "dots": "circle",
                    "dark": "#1b2a4a",
                    "logo_url": "https://example.com/logo.png",
                    "logo_size": 0.22
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Image"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "422": {
            "$ref": "#/components/responses/RenderFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "402": {
            "$ref": "#/components/responses/BillingRefused"
          },
          "503": {
            "$ref": "#/components/responses/BillingUnavailable"
          }
        }
      }
    },
    "/v1/pdf": {
      "post": {
        "tags": [
          "Render"
        ],
        "summary": "Render a PDF",
        "description": "Supply exactly one of `url` or `html`. Returns `application/pdf`.\n\n`header_html` and `footer_html` are Chromium print templates: they\nsupport the classes `date`, `title`, `url`, `pageNumber` and\n`totalPages`, which Chromium substitutes at print time.\n\nCounts one `render.pdf`. A PDF may have at most 100 pages; a document\nthat prints to more is refused with `422 pdf_too_long` and nothing is\ncounted. PDFs are never cached.\n",
        "operationId": "createPdf",
        "parameters": [
          {
            "$ref": "#/components/parameters/SyncIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfRequest"
              },
              "examples": {
                "invoice": {
                  "summary": "An invoice with a page footer",
                  "value": {
                    "html": "<h1>Invoice 1024</h1>",
                    "print_background": true,
                    "footer_html": "<div style=\"font-size:9px;margin:0 auto\"><span class=\"pageNumber\"></span> of <span class=\"totalPages\"></span></div>"
                  }
                },
                "page": {
                  "summary": "A page, landscape",
                  "value": {
                    "url": "https://example.com/report",
                    "landscape": true,
                    "print_background": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Pdf"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "422": {
            "$ref": "#/components/responses/RenderFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "402": {
            "$ref": "#/components/responses/BillingRefused"
          },
          "503": {
            "$ref": "#/components/responses/BillingUnavailable"
          }
        }
      }
    },
    "/v1/video": {
      "post": {
        "tags": [
          "Render"
        ],
        "summary": "Render a clip",
        "description": "A background, captions that appear on a schedule, an optional\nwatermark and an optional audio bed, encoded to MP4.\n\nRendered inside the request, so clips are capped at 60 seconds. A\nclip counts its output seconds, rounded up: `render.video_second_fhd`\nfor the 1080p sizes (`vertical`, `landscape`) and\n`render.video_second_hd` for `720p` and `square`. Its duration is\nreserved before the encode and committed when the clip is delivered;\na clip that fails to render counts nothing.\n\nEvery asset URL is fetched by us through the same guard a screenshot\ntarget faces, and each is capped at 64 MB.\n",
        "operationId": "createClip",
        "parameters": [
          {
            "$ref": "#/components/parameters/SyncIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClipRequest"
              },
              "examples": {
                "captioned": {
                  "summary": "A captioned vertical clip on a solid colour",
                  "value": {
                    "size": "vertical",
                    "duration": 15,
                    "colour": "#101820",
                    "captions": [
                      {
                        "text": "Ship it on Friday",
                        "from": 0,
                        "to": 5
                      },
                      {
                        "text": "Find out on Monday",
                        "from": 5,
                        "to": 10
                      },
                      {
                        "text": "Or gate the deploy",
                        "from": 10,
                        "to": 15
                      }
                    ]
                  }
                },
                "overBackground": {
                  "summary": "Over an image, with a logo and music",
                  "value": {
                    "size": "square",
                    "duration": 20,
                    "background": "https://example.com/backdrop.jpg",
                    "watermark": "https://example.com/logo.png",
                    "audio": "https://example.com/bed.m4a",
                    "captions": [
                      {
                        "text": "New in August",
                        "from": 1,
                        "to": 6
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Clip"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "422": {
            "$ref": "#/components/responses/RenderFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "402": {
            "$ref": "#/components/responses/BillingRefused"
          },
          "503": {
            "$ref": "#/components/responses/BillingUnavailable"
          },
          "501": {
            "description": "This deployment has no encoder configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/site-preview": {
      "post": {
        "tags": [
          "Render"
        ],
        "summary": "Render a scrolling website preview",
        "description": "Loads and settles a website, preloads lazy content, then records a\ntop-to-bottom browser motion at 30 frames per second. `per_page` moves\none viewport at a time and pauses for 750ms between steps.\n`single_sweep` makes one continuous eased pass. Sticky and fixed\nelements behave as they do in the browser.\n\nThe response is one `multipart/form-data` payload containing the first\nvideo frame as `poster.jpg` and the H.264 video as `preview.mp4`.\nIronfang Render calculates the duration from the page height and selected\nmotion, up to a 60 second hard limit. A preview counts its output\nseconds, rounded up, against `render.site_preview_second`: the 60\nsecond limit is reserved before the recording starts and the real\nlength is committed when the preview is delivered. Failed work counts\nnothing and cached repeats are free.\n\nThis endpoint is available on the product-partitioned Ironfang Render URL\nonly. It has no unprefixed `/v1/site-preview` compatibility route.\n",
        "operationId": "createSitePreview",
        "parameters": [
          {
            "$ref": "#/components/parameters/SyncIdempotencyKey"
          }
        ],
        "servers": [
          {
            "url": "https://api.ironfang.com/render",
            "description": "Production"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SitePreviewRequest"
              },
              "examples": {
                "showcase": {
                  "summary": "A showcase card preview",
                  "value": {
                    "url": "https://example.com",
                    "width": 672,
                    "height": 494,
                    "motion": "per_page"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SitePreview"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "422": {
            "$ref": "#/components/responses/RenderFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "402": {
            "$ref": "#/components/responses/BillingRefused"
          },
          "503": {
            "$ref": "#/components/responses/BillingUnavailable"
          },
          "501": {
            "description": "This deployment does not have browser video capture configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List templates",
        "operationId": "listTemplates",
        "description": "Paged newest first. Follow next_cursor until empty; `total` is the whole count and does not change between pages. summary=true returns an empty html field; fetch a template by ID to edit or render it.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 256
            },
            "description": "Opaque next_cursor from the previous page; empty means the first page."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum templates per page."
          },
          {
            "name": "summary",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Omit HTML bodies from the database read."
          }
        ],
        "responses": {
          "200": {
            "description": "Your templates, wrapped in a `templates` property - not a bare\narray. Clients that iterate must read `templates`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateList"
                },
                "example": {
                  "total": 1,
                  "next_cursor": "",
                  "templates": [
                    {
                      "id": "01a01c7c-682e-7b2a-95cd-ffb2f2a4d9be",
                      "name": "og-card",
                      "width": 1200,
                      "height": 630
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed cursor, repeated or unknown parameter, or limit outside 1-100."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Create a template",
        "description": "Store HTML containing `{{placeholders}}`. Render it with\n`POST /v1/image/{id}`, supplying values for the placeholders.\n",
        "operationId": "createTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateInput"
              },
              "examples": {
                "og": {
                  "summary": "An Open Graph card",
                  "value": {
                    "name": "og-card",
                    "html": "<div style=\"font:700 64px sans-serif;padding:80px\">{{title}}</div>",
                    "width": 1200,
                    "height": 630
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/templates/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TemplateId"
        }
      ],
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Fetch a template",
        "operationId": "getTemplate",
        "description": "Returns a stored rendering template belonging to the authenticated account, including its HTML and output dimensions.",
        "responses": {
          "200": {
            "description": "The template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Templates"
        ],
        "summary": "Replace a template",
        "operationId": "updateTemplate",
        "description": "Replaces the authenticated account's stored template with the supplied name, HTML and dimensions. Subsequent renders use the updated template.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Templates"
        ],
        "summary": "Delete a template",
        "operationId": "deleteTemplate",
        "description": "Removes a stored template from the authenticated account so it can no longer be used for new template renders.",
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/image/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TemplateId"
        }
      ],
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Render a template",
        "description": "Substitutes `vars` into the template's `{{placeholders}}` and renders it\nat the template's own width and height. Returns the image bytes.\n",
        "operationId": "renderTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenderTemplateRequest"
              },
              "examples": {
                "card": {
                  "value": {
                    "vars": {
                      "title": "Shipping UUIDv7 everywhere"
                    },
                    "format": "png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Image"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "422": {
            "$ref": "#/components/responses/RenderFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "402": {
            "$ref": "#/components/responses/BillingRefused"
          },
          "503": {
            "$ref": "#/components/responses/BillingUnavailable"
          }
        }
      }
    },
    "/v1/sign": {
      "post": {
        "tags": [
          "Signed URLs"
        ],
        "summary": "Mint a signed render URL",
        "description": "Returns a URL that renders on GET without an API key - safe to put in an\n`<img>` tag or an email. The URL is bound to your account, so renders\nthrough it are admitted and counted against your organisation's\nbilling account like any other.\n\nA signed URL expires after 30 days unless `ttl_hours` says otherwise:\nany number of hours, or `0` for a URL that never expires, which is\nwhat an `og:image` tag needs. The response says when the URL\nexpires.\n\nRequires signing to be configured on the deployment; returns `501`\notherwise.\n",
        "operationId": "createSignedUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignRequest"
              },
              "examples": {
                "screenshot": {
                  "value": {
                    "kind": "screenshot",
                    "url": "https://example.com",
                    "width": 1280,
                    "ttl_hours": 24
                  }
                },
                "template": {
                  "value": {
                    "kind": "image",
                    "template": "0193f0c4-1f4e-7a91-9c3e-2b6f5d8a1e77",
                    "vars": {
                      "title": "Hello"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The signed URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedUrl"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "501": {
            "description": "Signing is not configured on this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/r/{exp}/{sig}": {
      "get": {
        "tags": [
          "Signed URLs"
        ],
        "summary": "Render from a signed URL",
        "description": "The endpoint a signed URL points at. Takes no API key - the signature is\nthe credential - so it can be embedded directly in HTML or email. Call\n`POST /v1/sign` to mint one rather than constructing it by hand.\n",
        "operationId": "renderSignedUrl",
        "security": [],
        "parameters": [
          {
            "name": "exp",
            "in": "path",
            "required": true,
            "description": "Expiry, in unix seconds, part of the signed payload. `0` never\nexpires.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sig",
            "in": "path",
            "required": true,
            "description": "The signature.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Image"
          },
          "403": {
            "description": "Signature invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Signing is not configured on this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "402": {
            "$ref": "#/components/responses/BillingRefused"
          },
          "503": {
            "$ref": "#/components/responses/BillingUnavailable"
          }
        }
      }
    },
    "/v1/capabilities": {
      "get": {
        "tags": [
          "Account"
        ],
        "security": [],
        "summary": "What Ironfang Render does, is building and does not offer",
        "description": "A dated statement of capabilities with a status of `live`, `planned`\nor `not_offered`. Public and cacheable; the comparison pages are\nchecked against the same file, so nothing is advertised before it is\nlive.\n",
        "operationId": "getCapabilities",
        "responses": {
          "200": {
            "description": "The capability catalogue.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "type": "string"
                    },
                    "updated": {
                      "type": "string",
                      "format": "date"
                    },
                    "capabilities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "live",
                              "planned",
                              "not_offered"
                            ]
                          },
                          "since": {
                            "type": "string",
                            "format": "date"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Submit a durable render job",
        "description": "The same renders as the synchronous endpoints - `kind` is one of\n`screenshot`, `pdf`, `qr`, `image`, `clip` or `site_preview` and\n`request` is that endpoint's body (an `image` job names its\n`template` inside `request`) - accepted with `202` and run by a\nworker. Poll the job, or cancel it, then collect the result while it\nis hosted: 24 hours, private, through a signed link valid for 15\nminutes. A process restart after the `202` never loses the job.\n\nSend `Idempotency-Key` on every submission. The same key with the same\nrequest returns the existing job with `200`; the same key with a\ndifferent request is a `409 idempotency_conflict`. `external_id` is\nyour own reference, up to 120 characters.\n\nBilling: the most the job can count is reserved on your billing\naccount when it is accepted - in the same step, so a job you were told\nabout always holds its reservation, and a refusal leaves no job. The\none reservation is kept across retries of the job and committed, with\nwhat the job produced, when it succeeds; a site preview reserves the\n60 second limit and commits its real length. A job that fails,\nis cancelled while queued, or is cancelled while running without a\nusable output, counts nothing. The job's `usage` says what it holds:\n`{\"meter\", \"reserved\", \"committed\"}`.\n\nCapacity: an account may have 1,000 unfinished jobs (queued, running\nor being cancelled); a job past that is `429 queue_full` and is not\ncreated. A job that uses the browser runs in one of the account's 2\nbrowser slots, shared with its synchronous renders; while both are\nbusy it waits in the queue rather than being refused.\n",
        "operationId": "submitJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kind",
                  "request"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "screenshot",
                      "pdf",
                      "qr",
                      "image",
                      "clip",
                      "site_preview"
                    ]
                  },
                  "request": {
                    "type": "object",
                    "description": "The synchronous endpoint's request body for that kind."
                  },
                  "external_id": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "delivery": {
                    "$ref": "#/components/schemas/JobDelivery"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The job was accepted; the body is the job resource."
          },
          "200": {
            "description": "The same Idempotency-Key and request were seen before; this is that job."
          },
          "400": {
            "description": "Invalid submission."
          },
          "403": {
            "description": "The key carries no `render:render` scope, or is not account-backed."
          },
          "404": {
            "description": "The template named by an image job does not exist."
          },
          "409": {
            "description": "`idempotency_conflict`: the key was used with a different request."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "402": {
            "$ref": "#/components/responses/BillingRefused"
          },
          "503": {
            "$ref": "#/components/responses/BillingUnavailable"
          },
          "501": {
            "description": "This deployment cannot render clips or site previews."
          }
        }
      },
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List jobs",
        "description": "Newest first. `status` filters; `active` includes queued, running and cancellation_requested. `limit` up to 100; pass `next_cursor` back to continue.",
        "operationId": "listJobs",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Jobs and `next_cursor`."
          },
          "400": {
            "description": "`bad_request`: `cursor` is not one this endpoint issued."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The key carries no `render:render` scope, or is not account-backed."
          }
        }
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Poll a job",
        "description": "`status` is `queued`, `running`, `cancellation_requested`,\n`succeeded`, `failed` or `cancelled`. A succeeded job carries\n`result` with `content_type`, `bytes`, `sha256`, `expires_at` and,\nwhile hosted, a signed `url` valid for 15 minutes. A failed job\ncarries `error.code` and `error.message`. `usage` names the meter\nand the quantity reserved and committed. The submitted request is\nnever returned; `request_summary` is the redacted shape.\n",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The job resource."
          },
          "404": {
            "description": "No such job on this account."
          }
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "summary": "Cancel a job",
        "description": "A queued job is cancelled and its reservation released at once; a running one stops at its next safe point, and counts only if it had already produced a usable output.",
        "operationId": "cancelJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The job, cancelled or with cancellation requested."
          },
          "404": {
            "description": "No such job on this account."
          },
          "409": {
            "description": "`job_finished`: nothing left to cancel."
          }
        }
      }
    },
    "/v1/jobs/{id}/result": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Collect a job's result",
        "description": "Redirects (`302`) to a signed download link valid for 15 minutes; the\nlink needs no API key. The hosted result is kept for 24 hours after\nsuccess, privately, on Ironfang's side - not permanent hosting.\n",
        "operationId": "getJobResult",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the signed download link."
          },
          "404": {
            "description": "No such job on this account."
          },
          "409": {
            "description": "`result_not_ready`: the job has not succeeded."
          },
          "410": {
            "description": "`result_expired`: the hosted result is gone; run the job again."
          }
        }
      }
    },
    "/v1/results/{exp}/{sig}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "security": [],
        "summary": "Signed result download",
        "description": "The link a job's `result.url` points at. The signature is the authorisation; it expires after 15 minutes.",
        "operationId": "getSignedResult",
        "parameters": [
          {
            "name": "exp",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sig",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The result bytes with their recorded content type."
          },
          "403": {
            "description": "Bad or expired signature."
          },
          "410": {
            "description": "The hosted result has expired."
          }
        }
      }
    },
    "/v1/batches": {
      "get": {
        "operationId": "listBatches",
        "summary": "List batches",
        "description": "Tenant-scoped metadata, newest first by creation time and ID. Equal timestamps retain stable pagination. Newer insertions do not appear on subsequent pages; refresh the first page to see them. No input payloads or child job bodies in batch summaries. A final page has an empty next_cursor. Responses are no-store. The JWT portal twin has the same response and pagination contract.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 256
            },
            "description": "Pass next_cursor from the preceding page; empty means the first page."
          }
        ],
        "responses": {
          "200": {
            "description": "One bounded page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchList"
                }
              }
            }
          },
          "400": {
            "description": "Malformed cursor, repeated/unknown parameter or limit outside 1–100."
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "The caller cannot read this collection."
          },
          "500": {
            "description": "Storage unavailable."
          }
        }
      },
      "post": {
        "tags": [
          "Batches"
        ],
        "summary": "Submit up to 100 jobs together",
        "description": "One `default` request plus `items` that override parts of it, merged\none level deep: an item's field wins, everything else comes from the\ndefault. The default is written for the batch's `kind`, so it applies\nonly to items of that kind; an item that names a different kind stands\non its own request, and any item may carry its own `delivery`. Every item is validated as a single job would be,\nand an unknown field is refused rather than ignored, because a typo\nthat is silently dropped is a render spent on the wrong thing.\n\nThe batch is accepted or refused whole. Every item is validated before\nany is stored, and every item is admitted on your billing account in\none step, so a batch any item of which cannot be admitted is refused\nwith the billing code, reserves nothing and leaves no jobs behind.\nEach item then commits or releases on its own as its job finishes.\nA validation error names the item that was wrong. A batch that would\ntake the account past 1,000 unfinished jobs is refused whole the\nsame way, with `429 queue_full`.\n\nItems are ordinary jobs: poll them individually, or poll the batch for\nthe aggregate. There is no ZIP of results - configure a storage\ndestination if you want the output collected in one place.\n\nSend `Idempotency-Key` to make the submission safe to retry: the same\nkey returns the batch it first created, with its jobs and another\n`202`, instead of a second set of jobs and a second reservation. The\nrequest is not compared with the first. Poll the batch for its\ncurrent counts.\n",
        "operationId": "submitBatch",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "screenshot",
                      "pdf",
                      "qr",
                      "image",
                      "clip",
                      "site_preview"
                    ]
                  },
                  "default": {
                    "type": "object",
                    "description": "The request every item starts from."
                  },
                  "delivery": {
                    "$ref": "#/components/schemas/JobDelivery"
                  },
                  "external_id": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "items": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "properties": {
                        "kind": {
                          "type": "string"
                        },
                        "request": {
                          "type": "object"
                        },
                        "external_id": {
                          "type": "string",
                          "maxLength": 120
                        },
                        "delivery": {
                          "$ref": "#/components/schemas/JobDelivery"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The batch was accepted; the body carries the batch and one job per item."
          },
          "400": {
            "description": "Invalid submission, or `batch_too_large`. The message names the item."
          },
          "403": {
            "description": "The key carries no `render:render` scope, or is not account-backed."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "402": {
            "$ref": "#/components/responses/BillingRefused"
          },
          "503": {
            "$ref": "#/components/responses/BillingUnavailable"
          }
        }
      }
    },
    "/v1/batches/{id}": {
      "get": {
        "tags": [
          "Batches"
        ],
        "summary": "Poll a batch",
        "description": "`counts` totals the items by state and `done` is true once none of\nthem can change. `jobs` is the full job resource for every item.\n",
        "operationId": "getBatch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The batch, its counts and its jobs."
          },
          "404": {
            "description": "No such batch on this account."
          }
        }
      }
    },
    "/v1/destinations": {
      "post": {
        "tags": [
          "Destinations"
        ],
        "summary": "Register a delivery destination",
        "description": "A destination is created once and named by id from every job, so a\nsigning secret or a set of S3 keys is sent to us on one request and\nnever appears in a job body again.\n\nA `webhook` destination needs a public `https` URL. The response\ncarries `signing_secret` **once**: we keep only an encrypted copy,\nso there is no endpoint that can show it to you again.\n\n`signing_secret` is 64 hex characters: the hex encoding of a 32-byte\nkey. Each delivery carries `Ironfang-Signature: v1=<hex>`, the\nHMAC-SHA256 of `<Ironfang-Timestamp>.<raw body>` keyed with those 32\nbytes - decode the secret from hex before verifying, rather than\nusing its text. The SDKs' `verifyWebhook` / `verify_webhook` take\nthe secret as shown and decode it (from 3.0.1).\n\nAn `s3` destination needs `bucket`, `region`, `access_key` and\n`secret_key`; `endpoint` (for a non-AWS provider), `path_style` and\n`prefix` are optional. Scope the credentials to the prefix you give\nus. They are never returned after creation.\n\nNeeds the `render:destinations` scope, which maps to the\n`destinations.manage` permission.\n",
        "operationId": "createDestination",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "webhook",
                      "s3"
                    ]
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "webhook: a public https URL."
                  },
                  "endpoint": {
                    "type": "string",
                    "format": "uri"
                  },
                  "region": {
                    "type": "string"
                  },
                  "bucket": {
                    "type": "string"
                  },
                  "prefix": {
                    "type": "string",
                    "maxLength": 256
                  },
                  "path_style": {
                    "type": "boolean"
                  },
                  "access_key": {
                    "type": "string"
                  },
                  "secret_key": {
                    "type": "string"
                  },
                  "session_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The destination. A webhook also carries `signing_secret`, shown once: 64 hex characters encoding the 32-byte HMAC key. Decode hex before verifying signatures."
          },
          "400": {
            "description": "`bad_destination`: not a public https URL, or missing bucket credentials."
          },
          "403": {
            "description": "The key carries no `render:destinations` scope."
          },
          "501": {
            "description": "This deployment has no credential vault configured."
          }
        }
      },
      "get": {
        "tags": [
          "Destinations"
        ],
        "summary": "List destinations",
        "description": "Live destinations, newest first. Secrets and credentials are never included.",
        "operationId": "listDestinations",
        "responses": {
          "200": {
            "description": "The account's destinations."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The key carries no `render:destinations` scope, or is not account-backed."
          }
        }
      }
    },
    "/v1/destinations/{id}": {
      "get": {
        "tags": [
          "Destinations"
        ],
        "summary": "Get a destination",
        "operationId": "getDestination",
        "description": "Returns a delivery destination belonging to the authenticated account. Stored delivery credentials are not included in the response.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The destination."
          },
          "404": {
            "description": "No such destination on this account."
          }
        }
      },
      "patch": {
        "tags": [
          "Destinations"
        ],
        "summary": "Rename or enable a destination",
        "description": "`name` and `enabled` only. An address or a credential is not edited in\nplace - create a new destination and point your jobs at it, so a\ndelivery's history always says where it actually went. Re-enabling\nclears the failure count.\n",
        "operationId": "updateDestination",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The destination."
          },
          "404": {
            "description": "No such destination on this account."
          }
        }
      },
      "delete": {
        "tags": [
          "Destinations"
        ],
        "summary": "Remove a destination",
        "description": "It stops receiving anything and leaves the list. Its past deliveries\nstay, so history still reads true.\n",
        "operationId": "deleteDestination",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Removed."
          },
          "404": {
            "description": "No such destination on this account."
          }
        }
      }
    },
    "/v1/destinations/{id}/test": {
      "post": {
        "tags": [
          "Destinations"
        ],
        "summary": "Test a destination now",
        "description": "A webhook receives a signed `render.destination.test` event; a\nbucket has a uniquely named object written to it. Always `200`: the\nbody's `ok` says whether the destination answered, and `error` says\nwhat went wrong if it did not.\n",
        "operationId": "testDestination",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ok` and, on failure, `error`."
          },
          "404": {
            "description": "No such destination on this account."
          }
        }
      }
    },
    "/v1/requests": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Request history",
        "description": "One row per authenticated render in the last seven days, newest\nfirst, synchronous calls and jobs alike: kind, outcome, safe error\ncode, cache hit or miss, the `meter` it counted against and the\n`quantity` it committed (0 for a cache hit or a failure), response\nsize and type, duration, the target's origin and path, the names of\nthe option fields supplied, and the request id you can quote to\nsupport.\n\nIt is diagnostic, not replay. Nothing here can rebuild the request:\nheader and cookie values, HTML, template variables, URL query strings\nand signatures are never recorded. Retention is seven days for every\naccount.\n\n`id` matches the request id, a job id or your own `X-Request-ID`,\nwhich is how you arrive here from an error message.\n",
        "operationId": "listRequests",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "outcome",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ok",
                "error",
                "cancelled"
              ]
            }
          },
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "screenshot",
                "pdf",
                "qr",
                "image",
                "clip",
                "site_preview"
              ]
            }
          },
          {
            "name": "cache",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hit",
                "miss"
              ]
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "error",
            "in": "query",
            "description": "Safe error code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Request id, job id or your X-Request-ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`requests` and `retention_days`."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/deliveries": {
      "get": {
        "tags": [
          "Destinations"
        ],
        "summary": "List deliveries",
        "description": "Newest first, optionally for one `destination`. A delivery is\n`pending`, `delivering`, `delivered` or `failed`; `failed` means it\nused up its attempts. Delivery state never affects the job's own\noutcome. Filters apply before the cursor boundary. `pending` selects\npending deliveries with no attempts; `retrying` selects pending deliveries\nwith at least one attempt. `job_id` selects one owned job.\n",
        "operationId": "listDeliveries",
        "parameters": [
          {
            "name": "destination",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "job_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "retrying",
                "delivering",
                "delivered",
                "failed"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deliveries and next_cursor, with no-store caching.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid, repeated or unknown query parameter."
          }
        }
      }
    },
    "/v1/deliveries/{id}": {
      "get": {
        "tags": [
          "Destinations"
        ],
        "summary": "One delivery, with the body it posted",
        "description": "The list omits payloads because they are the largest part of a\ndelivery and are wanted one at a time, when something has gone wrong.\nThis returns the body exactly as it went on the wire, plus\n`payload_timestamp` and `payload_signature` - the two values the\nsignature is computed over - so you can reproduce the HMAC check\nagainst your own secret and see where it diverges.\n\n`response_body` is what your endpoint sent back, bounded to 4 KB.\n\nBodies are kept for `payload_retention_days` (7) after the attempt\nand then blanked; the delivery row itself stays, so the history of\nwhat was sent and how it went is not lost with it.\n",
        "operationId": "getDelivery",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The delivery. Payload is absent once purged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryRecord"
                }
              }
            }
          },
          "404": {
            "description": "No such delivery on this account."
          }
        }
      }
    },
    "/v1/deliveries/{id}/redeliver": {
      "post": {
        "tags": [
          "Destinations"
        ],
        "summary": "Send a delivery again",
        "description": "Puts a delivery back on the queue with a fresh attempt ladder, for\nafter you have fixed whatever was wrong. The webhook body is rebuilt\nat send time, so the result link in it is good for 15 minutes from\nthen rather than from the original attempt.\n",
        "operationId": "redeliverDelivery",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The delivery, queued again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryRecord"
                }
              }
            }
          },
          "404": {
            "description": "No such delivery on this account."
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Usage this period",
        "description": "This UTC calendar month's Ironfang Render usage from your\norganisation's billing account: for every Render meter, what was used,\nhow much of it the free allowance covered, what is held by work in\nflight, and what the settled usage costs before tax. The whole\naccount - every product, budgets, statements - is `/billing/v1`.\n\nAn env bootstrap key, or a deployment with billing off, is unmetered\nand answers `{\"unmetered\": true}`.\n",
        "operationId": "getUsage",
        "responses": {
          "200": {
            "description": "Current period usage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key from the portal, sent as `Authorization: Bearer rw_live_...`.\n"
      }
    },
    "parameters": {
      "TemplateId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Template id (UUIDv7).",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Makes a submission safe to retry. Any string up to 255 characters;\nsurrounding whitespace is ignored and a longer key is a `400\nbad_request`. A key is remembered per account for as long as the job\nit created exists, and has no expiry of its own. Jobs and batches\nkeep separate key spaces.\n\nA job submitted again under its key returns the existing job with\n`200` when the request is the same, and is a `409\nidempotency_conflict` when it differs. A batch submitted again under\nits key returns the batch the key first created, with its jobs and\n`202`; the request is not compared, so a batch has no conflict\nresponse.\n",
        "schema": {
          "type": "string",
          "maxLength": 255
        }
      },
      "SyncIdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Makes a synchronous render happen, and count, at most once. Any string\nup to 255 characters, remembered per account. The first request under\na key is admitted and rendered as usual; a synchronous result is not\nkept, so the same request again under the key is a `409\nidempotency_key_used` and reserves nothing - send a new key to render\nagain. A different request under a used key is a `409\nidempotency_conflict`. An identical request inside the cache window is\nstill served from cache.\n",
        "schema": {
          "type": "string",
          "maxLength": 255
        }
      }
    },
    "headers": {
      "Meter": {
        "description": "The billing meter this request counted against, e.g.\n`render.screenshot`. Present on every billable response, cache hits\nincluded.\n",
        "schema": {
          "type": "string"
        }
      },
      "Quantity": {
        "description": "The quantity this request committed to its meter: 1 for a unit\nrender, output seconds (rounded up) for video, `0` for a cache hit or\nan unmetered key. Read it to log usage per request without polling\n`/v1/usage`.\n",
        "schema": {
          "type": "integer"
        }
      }
    },
    "responses": {
      "Image": {
        "description": "The rendered image. `png` unless `format: jpeg` was requested.\n",
        "headers": {
          "X-Ironfang-Cache": {
            "description": "`hit` when served from cache, in which case it counted nothing.",
            "schema": {
              "type": "string",
              "enum": [
                "hit"
              ]
            }
          },
          "X-Ironfang-Meter": {
            "$ref": "#/components/headers/Meter"
          },
          "X-Ironfang-Quantity": {
            "$ref": "#/components/headers/Quantity"
          },
          "X-Ironfang-Render-Ms": {
            "description": "Render time in milliseconds, excluding any requested delay.",
            "schema": {
              "type": "integer"
            }
          },
          "X-Ironfang-Delay-Ms": {
            "description": "The `delay_ms` actually waited, when one was requested.",
            "schema": {
              "type": "integer"
            }
          },
          "X-Ironfang-Captured-At": {
            "description": "RFC 3339 timestamp of a fresh capture. Present only on\n`no_cache` renders, where the response is also `no-store` - the\npairing is what makes a capture usable as evidence.\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "content": {
          "image/png": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "image/jpeg": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      },
      "Clip": {
        "description": "The rendered clip.",
        "headers": {
          "X-Ironfang-Cache": {
            "schema": {
              "type": "string",
              "enum": [
                "hit"
              ]
            }
          },
          "X-Ironfang-Render-Ms": {
            "schema": {
              "type": "integer"
            }
          },
          "X-Ironfang-Meter": {
            "$ref": "#/components/headers/Meter"
          },
          "X-Ironfang-Quantity": {
            "$ref": "#/components/headers/Quantity"
          }
        },
        "content": {
          "video/mp4": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      },
      "SitePreview": {
        "description": "The poster image and scrolling MP4 returned as two file parts.",
        "headers": {
          "X-Ironfang-Cache": {
            "schema": {
              "type": "string",
              "enum": [
                "hit"
              ]
            }
          },
          "X-Ironfang-Render-Ms": {
            "schema": {
              "type": "integer"
            }
          },
          "X-Ironfang-Meter": {
            "$ref": "#/components/headers/Meter"
          },
          "X-Ironfang-Quantity": {
            "description": "Output seconds committed, rounded up; the poster is included. `0`\non a cache hit.\n",
            "schema": {
              "type": "integer"
            }
          },
          "X-Ironfang-Output-Seconds": {
            "description": "Calculated video length in seconds. Present on fresh renders.",
            "schema": {
              "type": "number"
            }
          }
        },
        "content": {
          "multipart/form-data": {
            "schema": {
              "type": "object",
              "required": [
                "poster",
                "video"
              ],
              "properties": {
                "poster": {
                  "type": "string",
                  "format": "binary",
                  "description": "JPEG first frame, suitable for a video poster."
                },
                "video": {
                  "type": "string",
                  "format": "binary",
                  "description": "H.264 MP4 with fast-start metadata."
                }
              }
            }
          }
        }
      },
      "Pdf": {
        "description": "The rendered PDF.",
        "headers": {
          "X-Ironfang-Meter": {
            "$ref": "#/components/headers/Meter"
          },
          "X-Ironfang-Quantity": {
            "$ref": "#/components/headers/Quantity"
          },
          "X-Ironfang-Render-Ms": {
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/pdf": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Malformed body, or neither/both of `url` and `html`.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, malformed, revoked or unknown API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "No such template, or not yours.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limits and exhausted billing allowances share this status,\nseparated by `error.code`:\n\n- `rate_limited` - your account exceeded 120 renders/minute\n- `target_rate_limited` - the site being rendered is being hit too hard\n  across all customers (60/minute per host)\n- `clip_busy`, `preview_busy` - every encoder or preview slot on the\n  worker is in use; `Retry-After` says when to come back\n- `concurrency_limit` - your account already has 2 browser\n  operations in progress, synchronous renders and running jobs\n  together; retry after `Retry-After`, or submit a durable job,\n  which waits for a free slot instead of being refused\n- `queue_full` - your account already has 1,000 unfinished jobs, or\n  the batch would take it past that; nothing was enqueued\n- `free_allowance_exhausted` - this month's free allowance for the\n  meter is used up and paid usage is not enabled\n- `account_budget_exhausted`, `product_budget_exhausted` - the\n  billing account's monthly limit, or Ironfang Render's, is reached\n- `exemption_limit_reached` - an exempt account's agreed limit is reached\n\nThe rate and capacity limits clear by themselves, so retry with\nbackoff, after `Retry-After` where it is sent. The billing codes do\nnot: enable paid usage or raise the limit in Billing, or wait for the\nmonth to roll over. Nothing was reserved or counted. Branch on the\ncode rather than the status.\n",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying, on the refusals that clear by themselves.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "`insufficient_scope` - the key does not carry the scope;\n`account_not_linked` - the key's account belongs to no Ironfang\norganisation, so its usage cannot be billed; `product_not_eligible` -\npaid use of Ironfang Render needs an eligible billing account.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "IdempotencyConflict": {
        "description": "`idempotency_key_used` - this Idempotency-Key already made its render\n(or is making it, or failed); nothing was reserved again.\n`idempotency_conflict` - the key was used for a different request.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BillingRefused": {
        "description": "Paid usage cannot be billed: `paid_usage_paused`, `payment_required`,\n`payment_action_required` or `account_restricted`. Resolve it in\nBilling; nothing was reserved or counted. The same body can also\ncarry `account_closed` (410) and `operation_too_large` (413).\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BillingUnavailable": {
        "description": "`billing_temporarily_unavailable` - the billing ledger could not admit\nthe request just now. Retry after `Retry-After` seconds; nothing was\nreserved.\n",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RenderFailed": {
        "description": "The page did not render: the host did not resolve, it never finished\nloading, it timed out, or it was blocked. Try `delay_ms`, and check the\ntarget loads in a normal browser.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "TemplateList": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "templates",
          "next_cursor",
          "total"
        ],
        "properties": {
          "templates": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          },
          "next_cursor": {
            "type": "string",
            "description": "Cursor for the next page; empty on the final page."
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "How many templates the account has in total, independent of this page. Read it rather than counting pages."
          }
        }
      },
      "BatchList": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "batches",
          "next_cursor"
        ],
        "properties": {
          "batches": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/BatchSummary"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        }
      },
      "BatchSummary": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "external_id",
          "item_count",
          "created_at",
          "completed_at",
          "counts",
          "done"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": "string"
          },
          "item_count": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "done": {
            "type": "boolean"
          },
          "counts": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "total",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled"
            ],
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "queued": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "running": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "succeeded": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "failed": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "cancelled": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable, safe to branch on. New codes may be added: treat a\ncode you do not recognise as a failure of the class its HTTP\nstatus indicates.\n",
                "enum": [
                  "bad_request",
                  "unauthorized",
                  "invalid_api_key",
                  "auth_failed",
                  "forbidden",
                  "billing_moved",
                  "not_found",
                  "rate_limited",
                  "target_rate_limited",
                  "render_failed",
                  "bad_signature",
                  "signing_disabled",
                  "account_gone",
                  "account_not_linked",
                  "account_required",
                  "admission_failed",
                  "bad_destination",
                  "bad_target",
                  "batch_plan_failed",
                  "batch_submit_failed",
                  "batch_too_large",
                  "bundle_failed",
                  "clip_busy",
                  "concurrency_limit",
                  "delegated_not_allowed",
                  "delivery_disabled",
                  "delivery_plan_failed",
                  "destination_disabled",
                  "idempotency_conflict",
                  "idempotency_key_used",
                  "insufficient_scope",
                  "invalid_token",
                  "job_finished",
                  "job_plan_failed",
                  "job_submit_failed",
                  "logo_fetch_failed",
                  "pdf_too_long",
                  "preview_busy",
                  "queue_full",
                  "result_expired",
                  "result_not_ready",
                  "result_read_failed",
                  "secret_failed",
                  "site_preview_disabled",
                  "store_failed",
                  "unknown_destination",
                  "unscannable",
                  "vault_failed",
                  "video_disabled",
                  "free_allowance_exhausted",
                  "account_budget_exhausted",
                  "product_budget_exhausted",
                  "paid_usage_paused",
                  "payment_required",
                  "payment_action_required",
                  "account_restricted",
                  "account_closed",
                  "product_not_eligible",
                  "exemption_limit_reached",
                  "operation_too_large",
                  "billing_temporarily_unavailable"
                ]
              },
              "message": {
                "type": "string",
                "description": "Human-readable. May change; do not match on it."
              },
              "docs": {
                "type": "string",
                "format": "uri",
                "description": "Where the error codes are documented."
              }
            }
          },
          "request_id": {
            "type": "string",
            "description": "The X-Ironfang-Request-ID of the failed request. Quote it to support."
          }
        },
        "example": {
          "error": {
            "code": "target_rate_limited",
            "message": "too many renders for that host, try again shortly",
            "docs": "https://ironfang.com/render/docs#errors"
          },
          "request_id": "01992f6e-7c1a-7b3e-9d52-4f0a6c8e2b17"
        }
      },
      "Cookie": {
        "type": "object",
        "required": [
          "name",
          "domain"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "domain": {
            "type": "string",
            "description": "Required. Chromium silently drops a domainless cookie set before\nnavigation, so the render would quietly come back logged out.\n"
          },
          "path": {
            "type": "string",
            "default": "/"
          }
        }
      },
      "Clip": {
        "type": "object",
        "description": "A rectangle in CSS pixels from the top left of the page.",
        "required": [
          "width",
          "height"
        ],
        "properties": {
          "x": {
            "type": "number",
            "default": 0
          },
          "y": {
            "type": "number",
            "default": 0
          },
          "width": {
            "type": "number",
            "maximum": 4096
          },
          "height": {
            "type": "number",
            "maximum": 4096
          }
        }
      },
      "Margin": {
        "type": "object",
        "description": "Page margins in inches. Omitted sides keep Chromium's default rather\nthan becoming zero - a PDF printed hard to the paper edge is rarely\nwhat leaving a field out was meant to mean.\n",
        "properties": {
          "top": {
            "type": "number"
          },
          "right": {
            "type": "number"
          },
          "bottom": {
            "type": "number"
          },
          "left": {
            "type": "number"
          }
        }
      },
      "PageAction": {
        "description": "One ordered pre-capture action. Selectors are CSS selectors in the main\npage. click and hover wait until the first matching element is\ninteractable; wait_for_selector waits for its presence (not visibility).\nAll actions share the remaining timeout_ms render budget.\n",
        "oneOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "type",
              "selector"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "click",
                  "hover",
                  "wait_for_selector"
                ]
              },
              "selector": {
                "type": "string",
                "minLength": 1,
                "maxLength": 1024,
                "description": "Non-blank CSS selector; at most 1024 UTF-8 bytes."
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "type",
              "duration_ms"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "delay"
                ]
              },
              "duration_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 10000,
                "description": "Delay in milliseconds; all action delays together may total at most 10000 ms."
              }
            }
          }
        ]
      },
      "RenderCommon": {
        "type": "object",
        "properties": {
          "no_cache": {
            "type": "boolean",
            "default": false,
            "description": "Force a fresh render instead of serving a cached one. Always\nbillable. Excluded from the cache key, so repeated fresh requests\ndo not collide.\n"
          },
          "block_ads": {
            "type": "boolean",
            "default": false,
            "description": "Drop requests to known ad and tracker networks before they load.\nStopped as network requests rather than hidden afterwards, so the\npage never spends time fetching them.\n"
          },
          "block_cookie_banners": {
            "type": "boolean",
            "default": false,
            "description": "Hide common consent banners, and undo the scroll lock they set -\nwithout which a full-page capture is one viewport tall.\n\nHidden, not accepted. Clicking \"accept\" would be a decision made\non the site owner's behalf and recorded as theirs.\n"
          },
          "hide_selectors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "CSS selectors to hide before capturing. Applied after load, so\nelements injected by script are covered.\n"
          },
          "css": {
            "type": "string",
            "maxLength": 65536,
            "example": ".chat-widget { display: none !important; }",
            "description": "Custom stylesheet, at most 65536 UTF-8 bytes. Applied after normal\nload/wait conditions and built-in hiding, before script, actions,\nsettling and capture. Supports screenshots and PDFs, including\n@media print rules. Malformed stylesheet syntax is a 400\nbad_request; Chromium determines supported properties and values.\n"
          },
          "script": {
            "type": "string",
            "maxLength": 16384,
            "example": "document.querySelector('#pricing')?.click();",
            "description": "JavaScript statements executed inside the target page's main-frame\ncontext after load/wait conditions and css, before actions and\ncapture. Runs as an async function body: use await or return a\npromise for asynchronous work. Completion is awaited; return values\nare discarded. At most 16384 UTF-8 bytes and 5000 ms execution,\nfurther bounded by the remaining timeout_ms budget. Syntax errors,\nexecution failures and timeouts return 422 render_failed with a\nsanitized message. Supports screenshots and PDFs; no browser-session\nor Playwright/Puppeteer APIs are exposed.\n"
          },
          "actions": {
            "type": "array",
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/PageAction"
            },
            "example": [
              {
                "type": "click",
                "selector": "#show-more"
              },
              {
                "type": "wait_for_selector",
                "selector": "#details"
              }
            ],
            "description": "Up to 20 actions, executed in order after css and script, before\nsettling and capture. Supports screenshots and PDFs. Missing or\nunready selectors and action timeouts fail with 422 render_failed,\nidentifying the zero-based action index and type. Invalid action\nshapes are 400 bad_request. An action failure stops the list and is\nnot retried in queued jobs. All options, including action order,\nare part of the screenshot cache key; use no_cache for a fresh run.\n"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Extra HTTP headers sent with every request for the page."
          },
          "cookies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cookie"
            },
            "description": "Cookies to set before navigating. Set beforehand because a session\ncookie that arrives after load has missed the request it was meant\nto authenticate.\n"
          },
          "authorization": {
            "type": "string",
            "description": "Sets the `Authorization` header - the common case, spelled once.\nAn explicit `Authorization` in `headers` wins over this.\n"
          },
          "user_agent": {
            "type": "string",
            "description": "Overrides the user agent, including any set by `device`.\n"
          },
          "wait_until": {
            "type": "string",
            "enum": [
              "load",
              "domcontentloaded",
              "networkidle"
            ],
            "default": "load",
            "description": "When the page counts as ready. `networkidle` waits for traffic to\nstop and is bounded by the render timeout, because a page with\npolling never truly idles.\n"
          },
          "wait_for_selector": {
            "type": "string",
            "description": "Wait for this element before capturing. Fails the render if it\nnever appears, rather than returning a half-drawn page.\n"
          },
          "timeout_ms": {
            "type": "integer",
            "description": "Per-render timeout. Clamped to the service maximum - it can lower\nthe ceiling but not raise it.\n"
          },
          "device_scale_factor": {
            "type": "number",
            "minimum": 1,
            "maximum": 3,
            "description": "Pixel density. 2 is retina: the same CSS size at twice the pixels.\n"
          }
[...]
