{
  "openapi": "3.1.0",
  "info": {
    "title": "Arklēon Data API",
    "version": "v1",
    "x-jentic-source-url": "https://arkleon.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://arkleon.com"
    }
  ],
  "paths": {
    "/v1/facts": {
      "get": {
        "operationId": "getFacts",
        "summary": "Point-in-time numeric facts",
        "description": "Only facts from filings filed on or before as_of. Optional filters combine with AND. Cursor pagination has stable total ordering by (accession_id, tag, taxonomy, period_end, duration_quarters, unit, segments, coreg).",
        "parameters": [
          {
            "name": "as_of",
            "in": "query",
            "required": true,
            "description": "Only filings filed on or before this date; no default. Datetime requires an explicit offset and normalizes to UTC milliseconds. Ordinary datetime filters accepted only. Attested date filters non-null filed <= as_of; attested datetime additionally requires non-null accepted <= as_of and filed <= UTC_DATE(as_of). Facts use submissions.filed; revisions use event-row filed and submissions.accepted.",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "string",
                  "format": "date-time"
                }
              ]
            }
          },
          {
            "name": "cik",
            "in": "query",
            "required": false,
            "description": "SEC Central Index Key, or a comma-separated set of at most 200 CIKs. Mutually exclusive with ticker.",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string",
                  "pattern": "^\\d+(,\\d+){1,199}$"
                }
              ]
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "description": "Not served in v1: returns 501 not_implemented. Mutually exclusive with cik.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "As-filed XBRL element name. Mutually exclusive with concept_alias.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taxonomy",
            "in": "query",
            "required": false,
            "description": "Taxonomy version qualifying tag, for example us-gaap/2024.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_start",
            "in": "query",
            "required": false,
            "description": "Inclusive lower bound on the fact period end date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "required": false,
            "description": "Inclusive upper bound on the fact period end date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "duration_quarters",
            "in": "query",
            "required": false,
            "description": "Period length: 0 instantaneous, 1 quarterly, 4 annual.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "description": "Unit of measure, for example USD, shares, or USD/shares.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "form",
            "in": "query",
            "required": false,
            "description": "Filing form type, resolved by filing join.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "concept_alias",
            "in": "query",
            "required": false,
            "description": "Plain-language concept mapped to ordered as-filed tags. Mutually exclusive with tag; unknown aliases return 400 invalid_request. Adds matched_tag to each fact and concept to the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum page size.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque next_cursor from the previous response; do not parse or modify. Resend the same as_of.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attested",
            "in": "query",
            "required": false,
            "description": "Opt-in signed cutoff. Requires as_of on every page; unknown or repeated parameters and mismatched cursors return 400 invalid_request.",
            "schema": {
              "type": "string",
              "enum": [
                "arkleon-cutoff-v1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, including an empty data array when nothing matches.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Arkleon-Corpus-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "SHA-256 of canonical certified-figures exports, not live corpus state."
              },
              "X-Arkleon-Content-Hash": {
                "schema": {
                  "type": "string"
                },
                "description": "SHA-256 of exact response body bytes."
              },
              "X-Arkleon-Cutoff-Attestation": {
                "schema": {
                  "type": "string"
                },
                "description": "Attested success only: base64url canonical JSON {statement, signature}. Signature is base64url Ed25519 over UTF-8 arkleon-cutoff-v1\n followed by the complete recursively key-sorted canonical JSON statement. Array order is preserved; no whitespace. key_id is the first 16 lowercase SHA-256 hex characters of the raw public key. served_at is server asserted."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactsResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: Invalid request",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized: Authentication required; invalid_api_key: Invalid API key",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "scope_insufficient: Access denied for this scope",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Not found",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "conflict: Ambiguous identifier",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "unprocessable: Request understood but cannot be processed",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: Rate limit reached; quota_exceeded: Daily quota exceeded",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds the client MUST wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal_error: Internal error; final row predicate violation or missing prepared cutoff.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "not_implemented: Feature specified but not served in this release",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "dependency_unavailable: Data dependency unavailable; attested signing infrastructure absent or unusable, with no ordinary-success fallback.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "upstream_timeout: Upstream timed out",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-arkleon-attested": {
          "scheme": "arkleon-cutoff-v1",
          "required_parameters": [
            "as_of"
          ],
          "unknown_parameters": "reject",
          "cache_control": "no-store, no-transform",
          "errors": {
            "invalid_request": 400,
            "not_implemented": 501,
            "internal_error": 500,
            "dependency_unavailable": 503
          },
          "registry": "/.well-known/arkleon-attestation.json",
          "statement_fields": [
            "scheme",
            "method",
            "service_authority",
            "endpoint",
            "canonical_query",
            "supplied_as_of",
            "as_of",
            "as_of_kind",
            "predicate_id",
            "field_sources",
            "response_status",
            "response_content_hash",
            "corpus_version",
            "served_at",
            "signature_algorithm",
            "key_id"
          ]
        }
      }
    },
    "/v1/ttm": {
      "get": {
        "operationId": "getTtm",
        "summary": "As-filed trailing-twelve-month value",
        "description": "Four fiscal quarters ending at the explicit fiscal_year and fiscal_quarter. Date as_of selects filed <= as_of; datetime as_of with an explicit offset selects accepted <= as_of. Fiscal periods require unique eligible filing metadata. Adjacent anchored period ends must be 2, 3 or 4 calendar months apart; the first and last of the four window ends, and the Q1 and Q4 ends of any fiscal year used to derive Q4, must be 8, 9 or 10 calendar months apart. Any other spacing is unavailable (422). Only 10-Q, 10-Q/A, 10-K and 10-K/A filings participate. Exact tag, taxonomy, unit, segments and coreg must agree. Omitted selectors must resolve to one series. Select the greatest (filed date, acceptance instant, accession) per period and duration; missing acceptance sorts first. Use discrete duration_quarters=1 facts, never cumulative YTD. Prefer reported Q4; otherwise subtract Q1, Q2 and Q3 from FY. Every quarter lists every contributing source, ordered FY then Q1 through Q3 for derived Q4. Identical inputs and source data produce byte-identical successful JSON. Malformed parameters return invalid_request; ambiguous selections return conflict; unavailable combinations return unprocessable. Scans exceeding 5000 eligible filings or 50000 matching facts return unprocessable, never a partial value.",
        "parameters": [
          {
            "name": "cik",
            "in": "query",
            "required": true,
            "description": "One SEC Central Index Key.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "description": "Exact as-filed XBRL element name.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "\\S"
            }
          },
          {
            "name": "taxonomy",
            "in": "query",
            "required": true,
            "description": "Exact taxonomy version; no cross-version mapping.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "\\S"
            }
          },
          {
            "name": "fiscal_year",
            "in": "query",
            "required": true,
            "description": "Fiscal year of the ending quarter, as recorded in filing metadata.",
            "schema": {
              "type": "integer",
              "minimum": 1001,
              "maximum": 9999
            }
          },
          {
            "name": "fiscal_quarter",
            "in": "query",
            "required": true,
            "description": "Ending fiscal quarter.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4
            }
          },
          {
            "name": "as_of",
            "in": "query",
            "required": true,
            "description": "Required filing date or acceptance datetime with offset. Datetimes normalize to UTC milliseconds as on /v1/facts.",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}(:\\d{2}(\\.\\d{1,9})?)?(Z|[+-]\\d{2}:\\d{2})$"
                }
              ]
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "description": "Exact unit; omit only when unambiguous.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "\\S"
            }
          },
          {
            "name": "segments",
            "in": "query",
            "required": false,
            "description": "Exact stored dimension string; empty selects unsegmented facts. No dimension normalization.",
            "schema": {
              "type": "string",
              "maxLength": 4096
            }
          },
          {
            "name": "coreg",
            "in": "query",
            "required": false,
            "description": "Exact stored co-registrant string; empty selects the registrant.",
            "schema": {
              "type": "string",
              "maxLength": 4096
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One TTM value with complete per-quarter derivation.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TtmResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: Invalid request",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized: Authentication required; invalid_api_key: Invalid API key",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "scope_insufficient: Access denied for this scope",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Not found",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "conflict: Ambiguous identifier",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "unprocessable: Request understood but cannot be processed",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: Rate limit reached; quota_exceeded: Daily quota exceeded",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds the client MUST wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal_error: Internal error",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "not_implemented: Feature specified but not served in this release",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "dependency_unavailable: Data dependency unavailable",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "upstream_timeout: Upstream timed out",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-arkleon-attested": {
          "supported": false,
          "status": 501,
          "error": "not_implemented"
        }
      }
    },
    "/v1/filings": {
      "get": {
        "operationId": "getFilings",
        "summary": "Submissions metadata",
        "description": "Filing activity and accession context, ordered by accession_id. accession_id is not a filter.",
        "parameters": [
          {
            "name": "cik",
            "in": "query",
            "required": false,
            "description": "SEC Central Index Key.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "description": "Not served in v1: returns 501 not_implemented. Mutually exclusive with cik.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "form",
            "in": "query",
            "required": false,
            "description": "Filing form type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filed_start",
            "in": "query",
            "required": false,
            "description": "Inclusive lower bound on filing date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filed_end",
            "in": "query",
            "required": false,
            "description": "Inclusive upper bound on filing date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "period_start",
            "in": "query",
            "required": false,
            "description": "Inclusive lower bound on filing period.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "period_end",
            "in": "query",
            "required": false,
            "description": "Inclusive upper bound on filing period.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "as_of",
            "in": "query",
            "required": false,
            "description": "Only filings filed on or before this date; no default.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum page size.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque next_cursor from the previous response; do not parse or modify. Resend the same as_of.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, including an empty data array when nothing matches.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: Invalid request",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized: Authentication required; invalid_api_key: Invalid API key",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "scope_insufficient: Access denied for this scope",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Not found",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "conflict: Ambiguous identifier",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "unprocessable: Request understood but cannot be processed",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: Rate limit reached; quota_exceeded: Daily quota exceeded",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds the client MUST wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal_error: Internal error",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "not_implemented: Feature specified but not served in this release",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "dependency_unavailable: Data dependency unavailable",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "upstream_timeout: Upstream timed out",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-arkleon-attested": {
          "supported": false,
          "status": 501,
          "error": "not_implemented"
        }
      }
    },
    "/v1/companies": {
      "get": {
        "operationId": "getCompanies",
        "summary": "Company identifier resolution",
        "description": "Companies are addressable by cik and company-name prefix. Ticker resolution is not served in v1.",
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": false,
            "description": "Not served in v1: returns 501 not_implemented. Mutually exclusive with cik.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cik",
            "in": "query",
            "required": false,
            "description": "SEC Central Index Key.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Company name prefix match.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "as_of",
            "in": "query",
            "required": false,
            "description": "Optional resolution date; currently does not change cik/name resolution in v1.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum page size.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque next_cursor from the previous response; do not parse or modify. Resend the same as_of.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, including an empty data array when nothing matches.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompaniesResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid_request: Invalid request",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized: Authentication required; invalid_api_key: Invalid API key",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "scope_insufficient: Access denied for this scope",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not_found: Not found",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "conflict: Ambiguous identifier",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "unprocessable: Request understood but cannot be processed",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "rate_limited: Rate limit reached; quota_exceeded: Daily quota exceeded",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              },
              "Retry-After": {
                "description": "Seconds the client MUST wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal_error: Internal error",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "not_implemented: Feature specified but not served in this release",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "dependency_unavailable: Data dependency unavailable",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "upstream_timeout: Upstream timed out",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Legacy ceiling for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Legacy requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Legacy reset time as Unix epoch seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-arkleon-attested": {
          "supported": false,
          "status": 501,
          "error": "not_implemented"
        }
      }
    },
    "/v1/revisions": {
      "get": {
        "operationId": "getRevisions",
        "summary": "Point-in-time revision timeline",
        "description": "Revision events for one company, with stable total ordering and as_of-stable cursor pagination. Omitting as_of returns the full timeline. A ticker request returns 501 not_implemented.",
        "parameters": [
          {
            "name": "cik",
            "in": "query",
            "required": true,
            "description": "SEC Central Index Key.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "concept",
            "in": "query",
            "required": false,
            "description": "XBRL element name; omit for all concepts reported by the company.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "as_of",
            "in": "query",
            "required": false,
            "description": "Only filings filed on or before this date; no default. Datetime requires an explicit offset and normalizes to UTC milliseconds. Ordinary datetime filters accepted only. Attested date filters non-null filed <= as_of; attested datetime additionally requires non-null accepted <= as_of and filed <= UTC_DATE(as_of). Facts use submissions.filed; revisions use event-row filed and submissions.accepted.",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "string",
                  "format": "date-time"
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum page size.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque next_cursor from the previous response; do not parse or modify. Resend the same as_of.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attested",
            "in": "query",
            "required": false,
            "description": "Opt-in signed cutoff. Requires as_of on every page; unknown or repeated parameters and mismatched cursors return 400 invalid_request.",
            "schema": {
              "type": "string",
              "enum": [
                "arkleon-cutoff-v1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, including an empty data array when nothing matches.",
            "headers": {
              "RateLimit-Limit": {
                "description": "Ceiling for the current per-credential window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "RateLimit-Reset": {
                "description": "Seconds until the current window resets.",
                "schema": {
[...]
