{
  "openapi": "3.0.3",
  "info": {
    "title": "Wraps Platform API",
    "description": "REST API for the Wraps email marketing platform. Send emails, manage contacts, trigger workflows, and process events.\n\n**Errors.** Every 4xx and 5xx response returns the `ApiError` object: branch on the stable `code`, show `error` to a person, quote `requestId` to support. The full list of codes is enumerated on the schema.\n\n**Rate limits.** Limited responses carry `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset` (seconds, not a timestamp) and `RateLimit-Policy`, plus `Retry-After` on a 429. See https://wraps.dev/docs/reference/rate-limits\n\n**Versioning.** Breaking changes ship as a new version; deprecations are announced with `Deprecation` and `Sunset` headers and a 6-month minimum notice. Policy: https://wraps.dev/docs/reference/versioning",
    "version": "1.0.0",
    "contact": {
      "name": "Wraps Support",
      "url": "https://wraps.dev",
      "email": "support@wraps.dev"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://wraps.dev/terms"
    },
    "termsOfService": "https://wraps.dev/terms",
    "x-jentic-source-url": "https://api.wraps.dev/swagger/json"
  },
  "servers": [
    {
      "url": "https://api.wraps.dev",
      "description": "Production API"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "description": "Health status",
                      "examples": [
                        "ok"
                      ],
                      "type": "string"
                    },
                    "timestamp": {
                      "description": "ISO 8601 timestamp",
                      "format": "date-time",
                      "type": "string"
                    },
                    "version": {
                      "description": "API version",
                      "examples": [
                        "1.0.0"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "timestamp",
                    "version"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "description": "Health status",
                      "examples": [
                        "ok"
                      ],
                      "type": "string"
                    },
                    "timestamp": {
                      "description": "ISO 8601 timestamp",
                      "format": "date-time",
                      "type": "string"
                    },
                    "version": {
                      "description": "API version",
                      "examples": [
                        "1.0.0"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "timestamp",
                    "version"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "description": "Health status",
                      "examples": [
                        "ok"
                      ],
                      "type": "string"
                    },
                    "timestamp": {
                      "description": "ISO 8601 timestamp",
                      "format": "date-time",
                      "type": "string"
                    },
                    "version": {
                      "description": "API version",
                      "examples": [
                        "1.0.0"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "timestamp",
                    "version"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "getHealth",
        "tags": [
          "health"
        ],
        "summary": "Health check",
        "description": "Returns the health status of the API"
      }
    },
    "/": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "description": "API name",
                      "type": "string"
                    },
                    "version": {
                      "description": "API version",
                      "type": "string"
                    },
                    "docs": {
                      "description": "Documentation URL",
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "version",
                    "docs"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "description": "API name",
                      "type": "string"
                    },
                    "version": {
                      "description": "API version",
                      "type": "string"
                    },
                    "docs": {
                      "description": "Documentation URL",
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "version",
                    "docs"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "description": "API name",
                      "type": "string"
                    },
                    "version": {
                      "description": "API version",
                      "type": "string"
                    },
                    "docs": {
                      "description": "Documentation URL",
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "version",
                    "docs"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "getIndex",
        "tags": [
          "health"
        ],
        "summary": "API info",
        "description": "Returns basic API information"
      }
    },
    "/v1/account/console-policy/{awsAccountId}/recheck": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 36
            },
            "in": "path",
            "name": "awsAccountId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentVersion": {
                      "type": "number"
                    },
                    "upToDate": {
                      "type": "boolean"
                    },
                    "checkedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "rechecked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "version",
                    "currentVersion",
                    "upToDate",
                    "checkedAt",
                    "rechecked"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentVersion": {
                      "type": "number"
                    },
                    "upToDate": {
                      "type": "boolean"
                    },
                    "checkedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "rechecked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "version",
                    "currentVersion",
                    "upToDate",
                    "checkedAt",
                    "rechecked"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentVersion": {
                      "type": "number"
                    },
                    "upToDate": {
                      "type": "boolean"
                    },
                    "checkedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "rechecked": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "version",
                    "currentVersion",
                    "upToDate",
                    "checkedAt",
                    "rechecked"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "postV1AccountConsole-policyByAwsAccountIdRecheck",
        "tags": [
          "account"
        ],
        "summary": "Re-probe one account's console-access policy version",
        "description": "Assumes the account's wraps-console-access-role and probes which version of the Wraps console policy it carries, then persists the reading. Exists so a customer who has just repaired their role sees it reflected immediately rather than waiting for the hourly sweep, which does not re-probe an account it checked within the last day. Rate limited to one probe per account per minute; inside that window, or when SES throttles the probe, the stored reading is returned with `rechecked: false`."
      }
    },
    "/v1/account/health": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "const": "healthy",
                          "type": "string"
                        },
                        {
                          "const": "at_risk",
                          "type": "string"
                        },
                        {
                          "const": "in_danger",
                          "type": "string"
                        },
                        {
                          "const": "unknown",
                          "type": "string"
                        }
                      ]
                    },
                    "checkedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "accountNumber",
                          "region",
                          "status",
                          "checkedAt",
                          "sandbox",
                          "productionAccessEnabled",
                          "sendingEnabled",
                          "enforcementStatus",
                          "quota",
                          "reputation",
                          "thresholds",
                          "reasons"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "accountNumber": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "status": {
                            "anyOf": [
                              {
                                "const": "healthy",
                                "type": "string"
                              },
                              {
                                "const": "at_risk",
                                "type": "string"
                              },
                              {
                                "const": "in_danger",
                                "type": "string"
                              },
                              {
                                "const": "unknown",
                                "type": "string"
                              }
                            ]
                          },
                          "checkedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "sandbox": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "productionAccessEnabled": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "sendingEnabled": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "enforcementStatus": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "quota": {
                            "type": "object",
                            "required": [
                              "max24Hour",
                              "sentLast24Hours",
                              "usedRatio",
                              "maxSendRate"
                            ],
                            "properties": {
                              "max24Hour": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "sentLast24Hours": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "usedRatio": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "maxSendRate": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            }
                          },
                          "reputation": {
                            "type": "object",
                            "required": [
                              "bounceRate",
                              "complaintRate"
                            ],
                            "properties": {
                              "bounceRate": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "complaintRate": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            }
                          },
                          "thresholds": {
                            "type": "object",
                            "required": [
                              "bounceReview",
                              "bouncePause",
                              "complaintReview",
                              "complaintPause",
                              "quotaWarn"
                            ],
                            "properties": {
                              "bounceReview": {
                                "type": "number"
                              },
                              "bouncePause": {
                                "type": "number"
                              },
                              "complaintReview": {
                                "type": "number"
                              },
                              "complaintPause": {
                                "type": "number"
                              },
                              "quotaWarn": {
                                "type": "number"
                              }
                            }
                          },
                          "reasons": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "checkedAt",
                    "accounts"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "const": "healthy",
                          "type": "string"
                        },
                        {
                          "const": "at_risk",
                          "type": "string"
                        },
                        {
                          "const": "in_danger",
                          "type": "string"
                        },
                        {
                          "const": "unknown",
                          "type": "string"
                        }
                      ]
                    },
                    "checkedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "accountNumber",
                          "region",
                          "status",
                          "checkedAt",
                          "sandbox",
                          "productionAccessEnabled",
                          "sendingEnabled",
                          "enforcementStatus",
                          "quota",
                          "reputation",
                          "thresholds",
                          "reasons"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "accountNumber": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "status": {
                            "anyOf": [
                              {
                                "const": "healthy",
                                "type": "string"
                              },
                              {
                                "const": "at_risk",
                                "type": "string"
                              },
                              {
                                "const": "in_danger",
                                "type": "string"
                              },
                              {
                                "const": "unknown",
                                "type": "string"
                              }
                            ]
                          },
                          "checkedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "sandbox": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "productionAccessEnabled": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "sendingEnabled": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "enforcementStatus": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "quota": {
                            "type": "object",
                            "required": [
                              "max24Hour",
                              "sentLast24Hours",
                              "usedRatio",
                              "maxSendRate"
                            ],
                            "properties": {
                              "max24Hour": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "sentLast24Hours": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "usedRatio": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "maxSendRate": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            }
                          },
                          "reputation": {
                            "type": "object",
                            "required": [
                              "bounceRate",
                              "complaintRate"
                            ],
                            "properties": {
                              "bounceRate": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "complaintRate": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            }
                          },
                          "thresholds": {
                            "type": "object",
                            "required": [
                              "bounceReview",
                              "bouncePause",
                              "complaintReview",
                              "complaintPause",
                              "quotaWarn"
                            ],
                            "properties": {
                              "bounceReview": {
                                "type": "number"
                              },
                              "bouncePause": {
                                "type": "number"
                              },
                              "complaintReview": {
                                "type": "number"
                              },
                              "complaintPause": {
                                "type": "number"
                              },
                              "quotaWarn": {
                                "type": "number"
                              }
                            }
                          },
                          "reasons": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "checkedAt",
                    "accounts"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "const": "healthy",
                          "type": "string"
                        },
                        {
                          "const": "at_risk",
                          "type": "string"
                        },
                        {
                          "const": "in_danger",
                          "type": "string"
                        },
                        {
                          "const": "unknown",
                          "type": "string"
                        }
                      ]
                    },
                    "checkedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "accountNumber",
                          "region",
                          "status",
                          "checkedAt",
                          "sandbox",
                          "productionAccessEnabled",
                          "sendingEnabled",
                          "enforcementStatus",
                          "quota",
                          "reputation",
                          "thresholds",
                          "reasons"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "accountNumber": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "status": {
                            "anyOf": [
                              {
                                "const": "healthy",
                                "type": "string"
                              },
                              {
                                "const": "at_risk",
                                "type": "string"
                              },
                              {
                                "const": "in_danger",
                                "type": "string"
                              },
                              {
                                "const": "unknown",
                                "type": "string"
                              }
                            ]
                          },
                          "checkedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "sandbox": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "productionAccessEnabled": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "sendingEnabled": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "enforcementStatus": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "quota": {
                            "type": "object",
                            "required": [
                              "max24Hour",
                              "sentLast24Hours",
                              "usedRatio",
                              "maxSendRate"
                            ],
                            "properties": {
                              "max24Hour": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "sentLast24Hours": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "usedRatio": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "maxSendRate": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            }
                          },
                          "reputation": {
                            "type": "object",
                            "required": [
                              "bounceRate",
                              "complaintRate"
                            ],
                            "properties": {
                              "bounceRate": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "complaintRate": {
                                "anyOf": [
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            }
                          },
                          "thresholds": {
                            "type": "object",
                            "required": [
                              "bounceReview",
                              "bouncePause",
                              "complaintReview",
                              "complaintPause",
                              "quotaWarn"
                            ],
                            "properties": {
                              "bounceReview": {
                                "type": "number"
                              },
                              "bouncePause": {
                                "type": "number"
                              },
                              "complaintReview": {
                                "type": "number"
                              },
                              "complaintPause": {
                                "type": "number"
                              },
                              "quotaWarn": {
                                "type": "number"
                              }
                            }
                          },
                          "reasons": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "checkedAt",
                    "accounts"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "getV1AccountHealth",
        "tags": [
          "account"
        ],
        "summary": "Org-wide SES health rollup",
        "description": "Returns the SES health verdict the hourly account-health sweep last persisted for every AWS account connected to this organization, plus the org-wide rollup (worst status wins; `unknown` outranks `healthy`). Zero AWS calls — this is Postgres-only, bounded by the freshness of the last hourly sweep (`checkedAt`)."
      }
    },
    "/v1/account/health/{awsAccountId}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 36
            },
            "in": "path",
            "name": "awsAccountId",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "accountNumber": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "status": {
                      "anyOf": [
                        {
                          "const": "healthy",
                          "type": "string"
                        },
                        {
                          "const": "at_risk",
                          "type": "string"
                        },
                        {
                          "const": "in_danger",
                          "type": "string"
                        },
                        {
                          "const": "unknown",
                          "type": "string"
                        }
                      ]
                    },
                    "checkedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "sandbox": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "productionAccessEnabled": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "sendingEnabled": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "enforcementStatus": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "quota": {
                      "type": "object",
                      "required": [
                        "max24Hour",
                        "sentLast24Hours",
                        "usedRatio",
                        "maxSendRate"
                      ],
                      "properties": {
                        "max24Hour": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "sentLast24Hours": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "usedRatio": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "maxSendRate": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      }
                    },
                    "reputation": {
                      "type": "object",
                      "required": [
                        "bounceRate",
                        "complaintRate"
                      ],
                      "properties": {
                        "bounceRate": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "complaintRate": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      }
                    },
                    "thresholds": {
                      "type": "object",
                      "required": [
                        "bounceReview",
                        "bouncePause",
                        "complaintReview",
                        "complaintPause",
                        "quotaWarn"
                      ],
                      "properties": {
                        "bounceReview": {
                          "type": "number"
                        },
                        "bouncePause": {
                          "type": "number"
                        },
                        "complaintReview": {
                          "type": "number"
                        },
                        "complaintPause": {
                          "type": "number"
                        },
                        "quotaWarn": {
                          "type": "number"
                        }
                      }
                    },
                    "reasons": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "accountNumber",
                    "region",
                    "status",
                    "checkedAt",
                    "sandbox",
                    "productionAccessEnabled",
                    "sendingEnabled",
                    "enforcementStatus",
                    "quota",
                    "reputation",
                    "thresholds",
                    "reasons"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "accountNumber": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "status": {
                      "anyOf": [
                        {
                          "const": "healthy",
                          "type": "string"
                        },
                        {
                          "const": "at_risk",
                          "type": "string"
                        },
                        {
                          "const": "in_danger",
                          "type": "string"
                        },
                        {
                          "const": "unknown",
                          "type": "string"
                        }
                      ]
                    },
                    "checkedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "sandbox": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "productionAccessEnabled": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "sendingEnabled": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "enforcementStatus": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "quota": {
                      "type": "object",
                      "required": [
                        "max24Hour",
                        "sentLast24Hours",
                        "usedRatio",
                        "maxSendRate"
                      ],
                      "properties": {
                        "max24Hour": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "sentLast24Hours": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "usedRatio": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "maxSendRate": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      }
                    },
                    "reputation": {
                      "type": "object",
                      "required": [
                        "bounceRate",
                        "complaintRate"
                      ],
                      "properties": {
                        "bounceRate": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "complaintRate": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      }
                    },
                    "thresholds": {
                      "type": "object",
                      "required": [
                        "bounceReview",
                        "bouncePause",
                        "complaintReview",
                        "complaintPause",
                        "quotaWarn"
                      ],
                      "properties": {
                        "bounceReview": {
                          "type": "number"
                        },
                        "bouncePause": {
                          "type": "number"
                        },
                        "complaintReview": {
                          "type": "number"
                        },
                        "complaintPause": {
                          "type": "number"
                        },
                        "quotaWarn": {
                          "type": "number"
                        }
                      }
                    },
                    "reasons": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "accountNumber",
                    "region",
                    "status",
                    "checkedAt",
                    "sandbox",
                    "productionAccessEnabled",
                    "sendingEnabled",
                    "enforcementStatus",
                    "quota",
                    "reputation",
                    "thresholds",
                    "reasons"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "accountNumber": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "status": {
                      "anyOf": [
                        {
                          "const": "healthy",
                          "type": "string"
                        },
                        {
                          "const": "at_risk",
                          "type": "string"
                        },
                        {
                          "const": "in_danger",
                          "type": "string"
                        },
                        {
                          "const": "unknown",
                          "type": "string"
                        }
                      ]
                    },
                    "checkedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "sandbox": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "productionAccessEnabled": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "sendingEnabled": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "enforcementStatus": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "quota": {
                      "type": "object",
                      "required": [
                        "max24Hour",
                        "sentLast24Hours",
                        "usedRatio",
                        "maxSendRate"
                      ],
                      "properties": {
                        "max24Hour": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "sentLast24Hours": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "usedRatio": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "maxSendRate": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      }
                    },
                    "reputation": {
                      "type": "object",
                      "required": [
                        "bounceRate",
                        "complaintRate"
                      ],
                      "properties": {
                        "bounceRate": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "complaintRate": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      }
                    },
                    "thresholds": {
                      "type": "object",
                      "required": [
                        "bounceReview",
                        "bouncePause",
                        "complaintReview",
                        "complaintPause",
                        "quotaWarn"
                      ],
                      "properties": {
                        "bounceReview": {
                          "type": "number"
                        },
                        "bouncePause": {
                          "type": "number"
                        },
                        "complaintReview": {
                          "type": "number"
                        },
                        "complaintPause": {
                          "type": "number"
                        },
                        "quotaWarn": {
                          "type": "number"
                        }
                      }
                    },
                    "reasons": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "accountNumber",
                    "region",
                    "status",
                    "checkedAt",
                    "sandbox",
                    "productionAccessEnabled",
                    "sendingEnabled",
                    "enforcementStatus",
                    "quota",
                    "reputation",
                    "thresholds",
                    "reasons"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "getV1AccountHealthByAwsAccountId",
        "tags": [
          "account"
        ],
        "summary": "SES health for one connected AWS account",
        "description": "Returns the persisted SES health verdict for a single AWS account connected to this organization. 404 if the account does not exist or does not belong to the authenticated organization."
      }
    },
    "/v1/connections/": {
      "post": {
        "parameters": [],
        "operationId": "postV1Connections",
        "tags": [
          "connections"
        ],
        "summary": "Register or update an AWS connection",
        "description": "Registers or updates the AWS account connection. Returns externalId for IAM role trust policy and webhookSecret for EventBridge configuration.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "region"
                ],
                "properties": {
                  "accountId": {
                    "description": "AWS account ID (12 digits)",
                    "type": "string"
                  },
                  "region": {
                    "description": "AWS region (e.g. us-east-1)",
                    "type": "string"
                  },
                  "name": {
                    "description": "Display name for the account",
                    "type": "string"
                  },
                  "features": {
                    "additionalProperties": true,
                    "description": "Service features config",
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "region"
                ],
                "properties": {
                  "accountId": {
                    "description": "AWS account ID (12 digits)",
                    "type": "string"
                  },
                  "region": {
                    "description": "AWS region (e.g. us-east-1)",
                    "type": "string"
                  },
                  "name": {
                    "description": "Display name for the account",
                    "type": "string"
                  },
                  "features": {
                    "additionalProperties": true,
                    "description": "Service features config",
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            },
            "text/plain": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "region"
                ],
                "properties": {
                  "accountId": {
                    "description": "AWS account ID (12 digits)",
                    "type": "string"
                  },
                  "region": {
                    "description": "AWS region (e.g. us-east-1)",
                    "type": "string"
                  },
                  "name": {
                    "description": "Display name for the account",
                    "type": "string"
                  },
                  "features": {
                    "additionalProperties": true,
                    "description": "Service features config",
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {},
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "get": {
        "operationId": "getV1Connections",
        "tags": [
          "connections"
        ],
        "summary": "List AWS connections",
        "description": "Returns all AWS account connections for the authenticated organization.",
        "responses": {
          "200": {},
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/connections/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Connection ID",
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ],
        "operationId": "deleteV1ConnectionsById",
        "tags": [
          "connections"
        ],
        "summary": "Disconnect an AWS account",
        "description": "Clears the webhook secret for the connection. The account record is preserved.",
        "responses": {
          "200": {},
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/domains/": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 36
            },
            "in": "query",
            "name": "awsAccountId",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "identity",
                          "identityType",
                          "sendingEnabled",
                          "verificationStatus",
                          "awsAccountId",
                          "region"
                        ],
                        "properties": {
                          "identity": {
                            "type": "string"
                          },
                          "identityType": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "sendingEnabled": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "verificationStatus": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "awsAccountId": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "accountId",
                          "region",
                          "reachable"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "reachable": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "data",
                    "accounts"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "identity",
                          "identityType",
                          "sendingEnabled",
                          "verificationStatus",
                          "awsAccountId",
                          "region"
                        ],
                        "properties": {
                          "identity": {
                            "type": "string"
                          },
                          "identityType": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "sendingEnabled": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "verificationStatus": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "awsAccountId": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "accountId",
                          "region",
                          "reachable"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "reachable": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "data",
                    "accounts"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "identity",
                          "identityType",
                          "sendingEnabled",
                          "verificationStatus",
                          "awsAccountId",
                          "region"
                        ],
                        "properties": {
                          "identity": {
                            "type": "string"
                          },
                          "identityType": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "sendingEnabled": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "verificationStatus": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "awsAccountId": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "accountId",
                          "region",
                          "reachable"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "reachable": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "data",
                    "accounts"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "getV1Domains",
        "tags": [
          "domains"
        ],
        "summary": "List sending identities",
        "description": "Lists SES sending identities (domains and email addresses) across the organization's connected AWS accounts, read live from SES. An account whose console-access role cannot be assumed is reported unreachable in `accounts` rather than failing the whole request."
      }
    },
    "/v1/domains/{identity}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 253
            },
            "in": "path",
            "name": "identity",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 36
            },
            "in": "query",
            "name": "awsAccountId",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "identity": {
                      "type": "string"
                    },
                    "identityType": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "verifiedForSending": {
                      "type": "boolean"
                    },
                    "verificationStatus": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "dkim": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "status",
                            "signingAttributesOrigin",
                            "tokens"
                          ],
                          "properties": {
                            "status": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "signingAttributesOrigin": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "tokens": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "mailFromDomain": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "domain",
                            "status"
                          ],
                          "properties": {
                            "domain": {
                              "type": "string"
                            },
                            "status": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "feedbackForwarding": {
                      "type": "boolean"
                    },
                    "configurationSet": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "awsAccountId": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "unreachableAccountIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "identity",
                    "identityType",
                    "verifiedForSending",
                    "verificationStatus",
                    "dkim",
                    "mailFromDomain",
                    "feedbackForwarding",
                    "configurationSet",
                    "awsAccountId",
                    "region",
                    "unreachableAccountIds"
                  ]
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "identity": {
                      "type": "string"
                    },
                    "identityType": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "verifiedForSending": {
                      "type": "boolean"
                    },
                    "verificationStatus": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "dkim": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "status",
                            "signingAttributesOrigin",
                            "tokens"
                          ],
                          "properties": {
                            "status": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "signingAttributesOrigin": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "tokens": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "mailFromDomain": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "domain",
                            "status"
                          ],
                          "properties": {
                            "domain": {
                              "type": "string"
                            },
                            "status": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "feedbackForwarding": {
                      "type": "boolean"
                    },
                    "configurationSet": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "awsAccountId": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "unreachableAccountIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "identity",
                    "identityType",
                    "verifiedForSending",
                    "verificationStatus",
                    "dkim",
                    "mailFromDomain",
                    "feedbackForwarding",
                    "configurationSet",
                    "awsAccountId",
                    "region",
                    "unreachableAccountIds"
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "identity": {
                      "type": "string"
                    },
                    "identityType": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "verifiedForSending": {
                      "type": "boolean"
                    },
                    "verificationStatus": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "dkim": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "status",
                            "signingAttributesOrigin",
                            "tokens"
                          ],
                          "properties": {
                            "status": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "signingAttributesOrigin": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "tokens": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "mailFromDomain": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "domain",
                            "status"
                          ],
                          "properties": {
                            "domain": {
                              "type": "string"
                            },
                            "status": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "feedbackForwarding": {
                      "type": "boolean"
                    },
                    "configurationSet": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "awsAccountId": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "unreachableAccountIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "identity",
                    "identityType",
[...]
