{
  "openapi": "3.1.0",
  "info": {
    "title": "CryptoN API для платформ",
    "description": "Приём оплаты в BTC, LTC, TRX, USDT TRC20. Документация содержит только эндпоинты, необходимые платформе для приёма платежей. Балансы магазинов, владельца и платформы просматриваются через Platform Bot.\n\n**Важно:** комиссия 2.5% отнимается от суммы, которую платформа выставляет в инвойсе.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/crypton-34a/crypton-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://websamart.xyz",
      "description": "Базовый URL (или другой домен, предоставленный владельцем)"
    }
  ],
  "paths": {
    "/api/v1/health": {
      "get": {
        "tags": [
          "Служебные"
        ],
        "summary": "Проверка доступности API",
        "description": "Проверка того, что API запущен и отвечает. Не требует API-ключа.",
        "operationId": "health_check",
        "responses": {
          "200": {
            "description": "API доступен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments": {
      "post": {
        "tags": [
          "Платежи"
        ],
        "summary": "Создать платёж",
        "description": "Создание платежа. Возвращает адрес для оплаты и сумму. Клиент переводит крипту на этот адрес; после подтверждения в сети статус изменится на confirmed. Инвойс действителен 60 минут. Для USDT TRC20 подтверждение — только через отправку хеша транзакции (verify). Комиссия 2.5% отнимается от суммы, которую платформа выставляет в инвойсе.",
        "operationId": "create_payment",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Платёж создан. Показывайте клиенту address и amount.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверные параметры (валюта, сумма и т.п.)."
          },
          "401": {
            "description": "Нет или невалидный X-API-Key."
          },
          "403": {
            "description": "Ключ валидный, но нет доступа к этому магазину (другая интеграция)."
          },
          "409": {
            "description": "Заказ с таким order_id уже существует. Используйте уникальный order_id."
          },
          "422": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Превышен rate limit; уменьшите частоту запросов."
          },
          "503": {
            "description": "Временная ошибка сервера."
          }
        }
      }
    },
    "/api/v1/payments/{order_id}/status": {
      "get": {
        "tags": [
          "Платежи"
        ],
        "summary": "Получить статус платежа",
        "description": "Получение статуса платежа по order_id. Возможные статусы: pending, partial, confirmed, partial_confirmed, failed, expired, cancelled. При partial в ответе есть amount_received и remaining_amount — показывайте клиенту недоплату. Для проверки статуса достаточно поллинга раз в 60 секунд. Для USDT TRC20 поллинг не используется — статус меняется только после отправки хеша через verify.",
        "operationId": "get_payment_status",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Идентификатор заказа в вашей системе"
          }
        ],
        "responses": {
          "200": {
            "description": "Статус платежа (order_id, status, amount, currency; при partial — amount_received, remaining_amount)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "amount_received": {
                      "type": "string"
                    },
                    "remaining_amount": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "confirmed": {
                    "summary": "Подтверждено",
                    "value": {
                      "order_id": "order-abc-123",
                      "status": "confirmed",
                      "amount": "0.005",
                      "amount_received": "0.005",
                      "currency": "LTC"
                    }
                  },
                  "partial": {
                    "summary": "Частичное зачисление",
                    "value": {
                      "order_id": "order-abc-123",
                      "status": "partial",
                      "amount": "0.005",
                      "currency": "LTC",
                      "amount_received": "0.003",
                      "remaining_amount": "0.002"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверные параметры."
          },
          "401": {
            "description": "Нет или невалидный X-API-Key."
          },
          "403": {
            "description": "Нет доступа к этому заказу (другая интеграция)."
          },
          "404": {
            "description": "Заказ не найден"
          },
          "422": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Превышен rate limit."
          },
          "503": {
            "description": "Временная ошибка сервера."
          }
        }
      }
    },
    "/api/v1/payments/{order_id}/cancel": {
      "post": {
        "tags": [
          "Платежи"
        ],
        "summary": "Отменить платёж",
        "description": "Отмена платежа в статусе pending. Отменённый платёж больше не попадает в автоматический поллинг. Если после отмены вызвать GET статуса, система один раз проверит адрес; если клиент успел перевести средства — статус может стать confirmed.",
        "operationId": "cancel_payment",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Платёж отменён (order_id, status: cancelled, amount, currency)"
          },
          "400": {
            "description": "Неверные параметры или платёж не в статусе pending."
          },
          "401": {
            "description": "Нет или невалидный X-API-Key."
          },
          "403": {
            "description": "Нет доступа к этому заказу."
          },
          "404": {
            "description": "Заказ не найден"
          },
          "422": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Превышен rate limit."
          },
          "503": {
            "description": "Временная ошибка сервера."
          }
        }
      }
    },
    "/api/v1/payments/{order_id}/verify": {
      "post": {
        "tags": [
          "Платежи"
        ],
        "summary": "Верификация по хешу транзакции (USDT TRC20)",
        "description": "Только для USDT_TRC20. Платежи в USDT TRC20 принимаются и проверяются только через отправку хеша транзакции. После перевода клиентом нужно получить из кошелька хеш (TxID, ID транзакции) и отправить его в этот эндпоинт — сумма будет проверена в сети TRON и зачислена. Поддерживаются частичные оплаты (несколько хешей для одного заказа).",
        "operationId": "verify_payment",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновлённый статус (partial или confirmed), при необходимости remaining_amount"
          },
          "400": {
            "description": "Неверные параметры или валюта не USDT TRC20."
          },
          "401": {
            "description": "Нет или невалидный X-API-Key."
          },
          "403": {
            "description": "Нет доступа к этому заказу."
          },
          "404": {
            "description": "Заказ не найден"
          },
          "422": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Превышен rate limit."
          },
          "503": {
            "description": "Временная ошибка сервера."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Ключ интеграции (выдаётся владельцем при создании интеграции). Обязателен для всех запросов к платежам."
      }
    },
    "schemas": {
      "Currency": {
        "type": "string",
        "enum": [
          "BTC",
          "LTC",
          "TRX",
          "USDT_TRC20"
        ],
        "description": "Поддерживаемые валюты"
      },
      "PaymentCreateRequest": {
        "type": "object",
        "required": [
          "store_number",
          "order_id",
          "amount",
          "currency"
        ],
        "properties": {
          "store_number": {
            "type": "integer",
            "minimum": 10000,
            "maximum": 99999,
            "description": "В админке платформы достаточно одного поля, куда магазин вводит этот номер. Номер магазин получает в @CryptoN_pay_bot (показывается как «ID магазина»). 5-значное число (10000–99999)."
          },
          "order_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Уникальный идентификатор заказа в вашей системе"
          },
          "amount": {
            "type": "string",
            "description": "Сумма для оплаты (строка, например \"0.001\")"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          }
        },
        "description": "Тело запроса на создание платежа"
      },
      "PaymentCreateResponse": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "Адрес для оплаты"
          },
          "amount": {
            "type": "string",
            "description": "Сумма"
          },
          "order_id": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "description": "Ответ: показывайте клиенту address и amount"
      },
      "PaymentVerifyRequest": {
        "type": "object",
        "required": [
          "tx_hash"
        ],
        "properties": {
          "tx_hash": {
            "type": "string",
            "minLength": 10,
            "maxLength": 100,
            "description": "Хеш транзакции (TxID) в сети TRON"
          }
        },
        "description": "Тело запроса верификации (только USDT TRC20)"
      },
      "HTTPValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "loc": {
            "type": "array"
          },
          "msg": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "APIKeyHeader": []
    }
  ]
}