{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "kassenarchiv@datev.de"
    },
    "description": "Api for file uploads by cash -register devices",
    "title": "Karo device file interaction api",
    "version": "1.2.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DEV_152/karo-device-file-interaction-api/1.2.0"
  },
  "servers": [
    {
      "url": "https://api.datev-business.de/karo/api/cash-register/v1"
    }
  ],
  "paths": {
    "/tenants": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/request-id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/tenant"
                  },
                  "type": "array"
                }
              }
            },
            "description": "list of registered tenants"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-message"
                }
              }
            },
            "description": "Request did not match specification"
          },
          "401": {
            "description": "Device could not be successfully authenticated."
          },
          "403": {
            "description": "Retrieval of tenants is not allowed. This can be caused by the device not having been granted the correct scopes or by a missing contract.\n"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-message"
                }
              }
            },
            "description": "unexpected error"
          }
        },
        "tags": [
          "cash_register_tenants"
        ],
        "description": "This call returns a list of tenants that are associated with the user who performed the registration of the device. We recommend to retrieve the tenants right after a successful registration of a device in order to test the connection and the correct registration. Furthermore it is an possibility to show the user either the selection tenants he can choose from (if there is more than one tenant returned)or a success response stating the name of the tenant the device is now connected to. Example: ```GET /karo/api/cash-register/v1/tenants HTTP/1.1``` ```Host: api.datev-business.de``` ```Accept: application/json``` ```Request-Id: 2a80020d-339c-4d07-b93a-64903b573a07``` ```Authorization: Bearer ZGVmNGQxZjItMGE2Zi00ZmMzLWFmZTYtYjY3NzY2ZjMyOTU5O2s5eTBaVzNnS2R6WXl0SFh6TEtncXlOU2VOTExUTmQxSnMzeTMxNHljOUU9O1QwcG1UUXN6TG9sdGFIbmQ0dmlRNEhhZFl6U3pEMmxodzhpWTdLVERRRVk9```\n",
        "operationId": "getTenants",
        "summary": "Get list of registered tenants"
      }
    },
    "/tenants/{tenant-id}/files/import": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/request-id"
          },
          {
            "$ref": "#/components/parameters/tenant-id"
          }
        ],
        "responses": {
          "202": {
            "description": "File has been sucessfully received and is now being processed. The file will be deleted should it be infected by viruses or contain malicious bytecode and the user will be contacted via email and be in formed about the incident.\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-message"
                }
              }
            },
            "description": "Request did not match specification"
          },
          "401": {
            "description": "Device could not be successfully authenticated."
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-message"
                }
              }
            },
            "description": "File can not be upload as extension to an existing contract is required. Further information is provided as error-message.\n"
          },
          "403": {
            "description": "File can not be imported because the device does not have the required permission. This can be caused by the device not having been granted the correct scopes or by a missing contract.\n"
          },
          "404": {
            "description": "The tenant corresponding to the given tenant-id could not be found. This might indicate that the tenant-id is wrong, incomplete or not valid anymore.\n"
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-message"
                }
              }
            },
            "description": "File import failed as the file exceeds the maximum size additional information about the affected part and the max imum size is provided as error-message\n"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-message"
                }
              }
            },
            "description": "File import failed because the provided data is not valid. Information about the invalid part is provided as error-message"
          },
          "423": {
            "description": "File can not be imported with the given serial-number as the corresponding folder has been deactivated. Please reactivate the folder in the web -ui, before attempting to upload the file again.\n"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-message"
                }
              }
            },
            "description": "Unexpected error occured"
          }
        },
        "tags": [
          "cash_register_import"
        ],
        "description": "Device uploads a file that needs to be imported and cash -register metadata using this endpoint\n",
        "operationId": "importFile",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "required": true
        },
        "summary": "Import file from cash-register to archive"
      }
    },
    "/tenants/{tenant-id}/tselogs/{serial-number}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/tenant-id"
          },
          {
            "$ref": "#/components/parameters/serial-number"
          },
          {
            "$ref": "#/components/parameters/request-id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tseloginfo"
                }
              }
            },
            "description": "Infos about uploaded tselogs"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-message"
                }
              }
            },
            "description": "Request did not match specification"
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Retrieval of info is not allowed, e.g. not granted the correct scopes.\n"
          },
          "404": {
            "description": "No data for serial_number available.\n"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error-message"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "tselog_info"
        ],
        "description": "This call returns infos about uploaded tselogs, eg. the signature counter and the optional given custom field from the uploaded and processed tar files\n",
        "operationId": "getTselogsInfo",
        "summary": "Info about processed tselogs for one tse with serial_number of the given tenant, e.g. last processed signature counter"
      }
    }
  },
  "components": {
    "parameters": {
      "request-id": {
        "description": "Unique Id of incoming request. It should be a UUID in its canonical textual representation (For example 123e4567-e89b-12d3-a456-426655440000) and generated by manufacturer. The id will be used for tracing purposes. (Id -generating sample code (Java) String requestId = java.util.UUID.randomUUID().toString();)",
        "in": "header",
        "name": "Request-Id",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "serial-number": {
        "description": "serial number of tse.",
        "in": "path",
        "name": "serial-number",
        "required": true,
        "schema": {
          "maxLength": 64,
          "type": "string"
        }
      },
      "tenant-id": {
        "description": "ID of the tenant associated with the file",
        "in": "path",
        "name": "tenant-id",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "cash_register_metadata": {
        "properties": {
          "address": {
            "properties": {
              "city": {
                "description": "Name of city the cash-register is based in",
                "maxLength": 62,
                "minLength": 1,
                "pattern": "^.*[^\\s]+.*$",
                "type": "string"
              },
              "country_code": {
                "description": "Country the cash-register is based in, following ISO3166-Alpha2",
                "enum": [
                  "DE"
                ],
                "required": [
                  "address",
                  "serial_number"
                ],
                "type": "string"
              },
              "postal_code": {
                "description": "Postal-Code of cash-register",
                "maxLength": 5,
                "minLength": 5,
                "pattern": "^\\d{5}$",
                "type": "string"
              },
              "street": {
                "description": "Street name with street numb er",
                "maxLength": 41,
                "minLength": 1,
                "pattern": "^.*[^\\s]+.*$",
                "type": "string"
              }
            },
            "required": [
              "street",
              "country_code",
              "postal_code",
              "city"
            ],
            "title": "CashRegisterAddress",
            "type": "object"
          },
          "description": {
            "description": "Free description text for individual comments of the user",
            "maxLength": 255,
            "minLength": 1,
            "pattern": "^.*[^\\\\s]+.*$",
            "type": "string"
          },
          "manufacturer": {
            "description": "Manufacturer of the cash register",
            "maxLength": 255,
            "minLength": 1,
            "pattern": "^.*[^\\s]+.*$",
            "type": "string"
          },
          "model_type": {
            "description": "Model",
            "maxLength": 255,
            "minLength": 1,
            "pattern": "^.*[^\\s]+.*$",
            "type": "string"
          },
          "name": {
            "description": "Name of the cash-register if known to the device\n",
            "maxLength": 40,
            "pattern": "^.*[^\\s]+.*$",
            "type": "string"
          },
          "serial_number": {
            "description": "Serial number of the cash register according to the manufacturer. To import data, the field must be filled and can then no longer be changed\n",
            "maxLength": 50,
            "minLength": 1,
            "pattern": "^.*[^\\s]+.*$",
            "type": "string"
          }
        },
        "type": "object"
      },
      "client_application": {
        "description": "Metadata containing information about the client software that is interacting with the server. This metadata refers to the software that requested the token from the authentication server and submitted (not necessarily created) the uploaded data.\n",
        "properties": {
          "client_application_name": {
            "description": "The name of the sofrware used to communicate with the server\n",
            "maxLength": 255,
            "pattern": "^.*[^\\s]+.*$",
            "type": "string"
          },
          "client_application_vendor": {
            "description": "The manufacturer of the software used to communicate with the server\n",
            "maxLength": 255,
            "pattern": "^.*[^\\s]+.*$",
            "type": "string"
          },
          "client_application_version": {
            "description": "The version of the software used to communicate with the server\n",
            "maxLength": 255,
            "pattern": "^.*[^\\s]+.*$",
            "type": "string"
          }
        },
        "required": [
          "client_application_vendor",
          "client_application_name",
          "client_application_version"
        ],
        "title": "Metadata for the client software submitting data",
        "type": "object"
      },
      "error-message": {
        "properties": {
          "additional_messages": {
            "items": {
              "properties": {
                "affected_fields": {
                  "items": {
                    "description": "field name ( e.g. json field name )",
                    "type": "string"
                  },
                  "type": "array"
                },
                "description": {
                  "description": "message text",
                  "type": "string"
                },
                "help_uri": {
                  "description": "http://www.datev.de/info -db/123456",
                  "type": "string"
                },
                "id": {
                  "description": "message id",
                  "type": "string"
                },
                "path": {
                  "description": "Path information about affected resource.",
                  "type": "string"
                },
                "severity": {
                  "description": "error, warning, information",
                  "type": "string"
                }
              },
              "required": [
                "id",
                "severity"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "error": {
            "description": "Unique identifier of this error.",
            "type": "string"
          },
          "error_description": {
            "type": "string"
          },
          "error_uri": {
            "description": "URL pointing to a resource which can provide additional information about this error.",
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "title": "An error response",
        "type": "object"
      },
      "tenant": {
        "properties": {
          "id": {
            "maxLength": 64,
            "type": "string"
          },
          "metadata": {
            "description": "Contains information about the imported file and the uploading cash-register In case of document_type being CASH_REGISTER_TRANSACTIONS, CASH_POINT_CLOSING or TSE the value date_to becomes mandatory\n",
            "properties": {
              "document_type": {
                "description": "Type of imported file",
                "enum": [
                  "CASH_REGISTER_TRANSACTIONS",
                  "CASH_POINT_CLOSING",
                  "CASH_REGISTER_MISC_DOCUMENT",
                  "TSE"
                ],
                "type": "string"
              },
              "extensions": {
                "description": "Additional required Information about the imported document. In case of document_type being CASH_REGISTER_TRANSACTIONS, CASH_POINT_CLOSING or TSE the value date_to becomes mandatory  The property cash_register or tse_properties must be set\n",
                "properties": {
                  "cash_register": {
                    "$ref": "#/components/schemas/cash_register_metadata"
                  },
                  "client_application": {
                    "$ref": "#/components/schemas/client_application"
                  },
                  "date_from": {
                    "description": "Date following JSON-Format e.g. 2017-09-18 (see ISO8601). Defines from which date onwards this file is valid and determines the first date covered by its contents\n",
                    "format": "date",
                    "type": "string"
                  },
                  "date_to": {
                    "description": "Date following JSON-Format e.g. 2017-09-18 (see ISO8601). Defines until which date this file is evalid and determines the last date covered by its contents. This field is mandatory for CASH_POINT_CLOSING, TRANSACTIONS and TSE. In case of MISC_DOCUMENT it can be left blank to signal that no date can be determined by which this file is not relevant anymore.\n",
                    "format": "date",
                    "type": "string"
                  },
                  "tse_properties": {
                    "$ref": "#/components/schemas/tse_properties"
                  }
                },
                "required": [
                  "date_from",
                  "client_application"
                ],
                "type": "object"
              },
              "note": {
                "description": "Notes for the imported file.\nOptional field.\n",
                "type": "string"
              }
            },
            "required": [
              "document_type",
              "extensions"
            ],
            "title": "Metadata corresponding to an import request",
            "type": "object"
          },
          "name": {
            "maxLength": 32,
            "minLength": 0,
            "type": "string"
          }
        },
        "required": [
          "id"
        ],
        "title": "Registered tenant",
        "type": "object"
      },
      "tse_properties": {
        "properties": {
          "connected_cash_registers": {
            "items": {
              "description": "Serial number of the connected cash registers of the TSE. Maximum is 50 items in the array with a length of 50.\n",
              "maxLength": 50,
              "minLength": 1,
              "type": "string"
            },
            "maxItems": 50,
            "minItems": 1,
            "type": "array"
          },
          "custom_field": {
            "description": "Custom information about the tse",
            "maxLength": 255,
            "minLength": 1,
            "pattern": "^.*[^\\s]+.*$",
            "type": "string"
          },
          "manufacturer": {
            "description": "Manufacturer of the cash register",
            "maxLength": 255,
            "minLength": 1,
            "pattern": "^.*[^\\s]+.*$",
            "type": "string"
          },
          "model_type": {
            "description": "Model",
            "maxLength": 255,
            "minLength": 1,
            "pattern": "^.*[^\\s]+.*$",
            "type": "string"
          },
          "name": {
            "description": "Name of the cash-register if known to the device\n",
            "maxLength": 40,
            "pattern": "^.*[^\\s]+.*$",
            "type": "string"
          },
          "serial_number": {
            "description": "Permanent identification of the tse that created the file.\nMust be unique in combination with manufacturer.\n",
            "maxLength": 64,
            "minLength": 64,
            "pattern": "^.*[^\\s]+.*$",
            "type": "string"
          }
        },
        "required": [
          "manufacturer",
          "serial_number"
        ],
        "type": "object"
      },
      "tseloginfo": {
        "properties": {
          "custom_field": {
            "description": "Value of custom field uploaded with tar file which belongs to max_signature_count er.\nCan be empty if no tar files were finally successfully processed.\nAlways the custom_field of the uploaded file with the highest signature_counter is used, independently of upload time.\n",
            "maxLength": 255,
            "type": "string"
          },
          "max_signature_counter": {
            "description": "Highest signatur counter of all uploaded and processed tselogs for one tse.\nCan be empty if no tar files were finally successfully processed.\n",
            "format": "int64",
            "type": "integer"
          },
          "serial_number": {
            "description": "serial number of tse\n",
            "maxLength": 64,
            "type": "string"
          }
        },
        "required": [
          "serial_number"
        ],
        "title": "info about uploaded tselogs",
        "type": "object"
      }
    },
    "securitySchemes": {
      "datev-business-openid-deviceflow": {
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.datev-business.de/token/cash-register",
            "scopes": {
              "openid business:karo:cashregisterimport": "Import cash point files"
            },
            "tokenUrl": "https://api.datev-business.de/token/cash-register"
          }
        },
        "type": "oauth2"
      },
      "datev-business-openid-hybridflow": {
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://meinfiskal.de/openid/authorize",
            "scopes": {
              "openid business:karo:cashregisterimport": "Import cash point files"
            },
            "tokenUrl": "https://api.datev.de/token"
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "datev-business-openid-hybridflow": [
        "openid business:karo:cashregisterimport"
      ]
    },
    {
      "datev-business-openid-deviceflow": [
        "openid business:karo:cashregisterimport"
      ]
    }
  ]
}