{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "vlocity@CenturyLink.com"
    },
    "description": "This API allow users to retrieve information about Fulfilment Request originated in Salesforce Marvel. This Swagger describes the API in ESP, since direct connection to Salesforce will not be supported",
    "title": "Fulfillment Request",
    "version": "1.0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CenturyLink_APIs/AUTOPILOT-adapter-vlocity/1.0.1"
  },
  "servers": [
    {
      "url": "https://api-dev2.centurylink.com/Customer/v1/Ordering"
    }
  ],
  "paths": {
    "/vlocityFulfilmentRequest/{fulfilmentRequestId}/items": {
      "get": {
        "parameters": [
          {
            "description": "18 digitis Salesforce ID of the fulfillment Request",
            "in": "path",
            "name": "fulfilmentRequestId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillmentRequest"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Invalid fulfillment request ID supplied"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Fulfillment Request not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unexpected Error"
          }
        },
        "security": [
          {
            "AppKey": []
          },
          {
            "Digest": []
          },
          {
            "DigestTime": []
          }
        ],
        "tags": [
          "fulfilmentRequest"
        ],
        "description": "Returns detail for a single fulfillment order",
        "operationId": "getFulfillmentRequestById",
        "summary": "Get fulfilment request (FR) data and its associated fullfilment request line items (FRL)"
      }
    }
  },
  "components": {
    "schemas": {
      "Attribute": {
        "description": "This entity represent a single comercial or technical attribute",
        "properties": {
          "code": {
            "description": "Unique Identifier of the Attribute",
            "example": [
              "ATT_Port_Speed",
              "ATT_Fulfil_Date"
            ],
            "type": "string"
          },
          "label": {
            "description": "Frindely name of the Attribute",
            "example": [
              "Port Speed",
              "Fulfil Date"
            ],
            "type": "string"
          },
          "value": {
            "description": "Value associated to the Attribute",
            "example": [
              "1 Gbps",
              "2019-10-18T14:58:11.047Z"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "AttributeCategory": {
        "description": "This entity represent a group of attributes",
        "properties": {
          "attributes": {
            "description": "List of Attributes",
            "items": {
              "$ref": "#/components/schemas/Attribute"
            },
            "type": "array"
          },
          "label": {
            "enum": [
              "Customer Info",
              "Dates",
              "Charges",
              "Additional Site"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "BillingAccount": {
        "properties": {
          "billingAccountNumber": {
            "description": "Kenan Identifier of the Billing Account",
            "type": "string"
          },
          "id": {
            "description": "18 digit Salesforce Id of the Billing Account",
            "type": "string"
          },
          "name": {
            "description": "Frindely name of the Billing Account sourced from Account Management",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Customer": {
        "description": "This entity represent the customer associated the order that originated the fulfilment Request",
        "properties": {
          "customerId": {
            "description": "BizOrg Id",
            "example": "1-ABCDER",
            "type": "string"
          },
          "id": {
            "description": "salesforce record id of the account in green field org",
            "example": "abb2h000000DDB0SSS",
            "type": "string"
          },
          "name": {
            "description": "Account name in salesforce that the order is associated",
            "example": "ACME Company",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "properties": {
          "code": {
            "description": "System Code that represents the error",
            "example": "400003",
            "type": "string"
          },
          "detail": {
            "description": "System message that describe in more detail the exception reason",
            "example": "Fulfilment Id {fulfilmentRequestId} Invalid fulfillment request ID supplied",
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP reponse code",
            "example": 400,
            "type": "integer"
          },
          "message": {
            "description": "System message that describe in high level the exception reason",
            "example": "Invalid fulfillment request ID supplied",
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "message"
        ],
        "type": "object"
      },
      "FulfillmentRequest": {
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "id": {
            "example": "aRC1h0000004CB0GAM",
            "type": "string"
          },
          "items": {
            "description": "List of Fulfilment Request Items that are part of the parent Fulfiment Request",
            "items": {
              "$ref": "#/components/schemas/FulfilmentRequestItem"
            },
            "type": "array"
          },
          "name": {
            "description": "Salesforce  Frindely  Name of the Fufilment Request",
            "example": "FR12345",
            "type": "string"
          },
          "orderId": {
            "description": "Salesforce 18 digit unique identifier of the order record in salesforce",
            "example": "abch0000004CB0XXX",
            "type": "string"
          },
          "previous": {
            "$ref": "#/components/schemas/Related"
          },
          "related": {
            "description": "Related Fulfilment Requests that were previous executed as part of Vlocity orchestration plan",
            "items": {
              "$ref": "#/components/schemas/Related"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "name",
          "customer",
          "items",
          "orderId"
        ],
        "type": "object"
      },
      "FulfilmentRequestItem": {
        "properties": {
          "action": {
            "description": "Indicate the action performed over the service: Add (New Service), Cancel (Cancel previos action associated to the same order), Disconnect (Disconnect an existing service), Modify (change on attributes od existing service, No Change (no action performed).",
            "enum": [
              "Add",
              "Cancel",
              "Disconnect",
              "Modify",
              "No Change"
            ],
            "type": "string"
          },
          "attributeCategories": {
            "items": {
              "$ref": "#/components/schemas/AttributeCategory"
            },
            "type": "array"
          },
          "billingAccount": {
            "$ref": "#/components/schemas/BillingAccount"
          },
          "id": {
            "description": "18 digit Salesforce Id of the Fufilment Request Item",
            "example": "aO91h000000CaSzCAK",
            "type": "string"
          },
          "mainOrderLineItemId": {
            "description": "Main order line item that gave origin to the fulfilment Request",
            "type": "string"
          },
          "name": {
            "description": "Salesforce  Frindely  Name of the Fufilment Request Item",
            "example": "FRL012345",
            "type": "string"
          },
          "product": {
            "$ref": "#/components/schemas/Product",
            "description": "Main Technical product associated to the Fufilment Request Item"
          },
          "productInstanceId": {
            "description": "Unique Frindely Identifier for the associated service, visible to the customer",
            "example": "VLC012345",
            "type": "string"
          },
          "serviceAccount": {
            "$ref": "#/components/schemas/ServiceAccount"
          },
          "serviceAlias": {
            "description": "Network service alias",
            "example": "CV/CMLD/23435",
            "type": "string"
          },
          "usageRates": {
            "description": "List of usage rates if the service has usage based charges",
            "items": {
              "$ref": "#/components/schemas/Rate"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "name",
          "mainOrderLineItemId",
          "product",
          "attributeCategories",
          "action"
        ],
        "type": "object"
      },
      "Product": {
        "description": "This entity holds information about the product been fufiled",
        "properties": {
          "code": {
            "description": "Product unique identifier to be shared between systems",
            "example": "SVC_LynkGroup",
            "type": "string"
          },
          "id": {
            "description": "18 digit Saleforce unique identifier of the product",
            "example": "01t3F000003vFwRQAU",
            "type": "string"
          },
          "name": {
            "description": "Friendly Name of the Product",
            "example": "LynkGroup Technical Product",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "code"
        ],
        "type": "object"
      },
      "Rate": {
        "properties": {
          "rateDescritpion": {
            "description": "Description of the usage range",
            "example": "1000Mbps Tier 1",
            "type": "string"
          },
          "ratePerUnit": {
            "description": "Charge per unit of mesure of the usage range",
            "example": 5.34,
            "format": "decimal",
            "type": "number"
          },
          "upperBound": {
            "description": "Upper limit of a usage range, if null there is no upper limit",
            "example": 240,
            "format": "decimal",
            "type": "number"
          }
        },
        "required": [
          "ratePerUnit",
          "rateDescritpion"
        ],
        "type": "object"
      },
      "Related": {
        "description": "This entity holds reference to another Fulfilment Request",
        "properties": {
          "id": {
            "description": "18 digit Salesforce identifier of the fulfilment request in Vlocity/Salesforce",
            "example": "aRC2h000000DDB0GAM",
            "type": "string"
          },
          "mainProduct": {
            "$ref": "#/components/schemas/Product"
          },
          "name": {
            "description": "Friendly identifier of the fulfilment request in Vlocity/Salesforce",
            "example": "FR0000048",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "mainProduct"
        ],
        "type": "object"
      },
      "ServiceAccount": {
        "description": "This entity is returned to services based on a location",
        "properties": {
          "glmPLId": {
            "description": "GLM Site identifier associated to the service account",
            "example": "PL0000293239",
            "type": "string"
          },
          "glmSLId": {
            "description": "GLM Service Location identifier associated to the service account",
            "example": "SL0000343552",
            "type": "string"
          },
          "id": {
            "description": "18 digit Salesforce Id of the Service Account",
            "example": "a451h22222CaSzEEE",
            "type": "string"
          },
          "name": {
            "description": "Frindely name of the Site/Service Location sourced from GLM",
            "example": "FLOOR 2 ROOM 1",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "AppKey": {
        "in": "header",
        "name": "X-Application-Key",
        "type": "apiKey"
      },
      "Digest": {
        "in": "header",
        "name": "X-Digest",
        "type": "apiKey"
      },
      "DigestTime": {
        "in": "header",
        "name": "X-Digest-Time",
        "type": "apiKey"
      }
    }
  }
}