{
  "openapi": "3.1.0",
  "info": {
    "title": "Trvlrr API",
    "version": "1.0.0",
    "description": "The API behind Trvlrr: a personal travel archive, trip planner and in-trip companion.\nEverything is scoped to the caller's account; a trip shared with the caller is readable (or editable) on its own.\n\nDates are `YYYY-MM-DD`. Times are local to where the thing happens, as written on the booking (`HH:MM`; an\narrival on a later day is `HH:MM +1`), with an IANA zone beside each and a derived UTC instant (`*_utc`).\nCountries: `country` on a trip place or stay is the readable name; every other country field is ISO 3166-1 alpha-2.\nPrices are text with a currency, e.g. `AUD 420.00`. SQLite booleans are `0` or `1`.\n\nTrvlrr Plus gates the planner, packing lists, photo search, faces, memories and voice: those routes answer 402\n`upgrade_required`; AI routes answer 402 `usage_limit_reached` when the month's allowance is spent.",
    "x-jentic-source-url": "https://trvlrr.app/api/openapi.json"
  },
  "servers": [
    {
      "url": "https://trvlrr.app",
      "description": "The public address. Reads are open; writes are accepted only from the website itself."
    },
    {
      "url": "https://travelog-api.sanjay-bhagia.workers.dev",
      "description": "The API origin the iOS app calls directly."
    }
  ],
  "paths": {
    "/api/email-address": {
      "get": {
        "tags": [
          "Email"
        ],
        "summary": "The address to forward booking emails to",
        "description": "Stable and unguessable per account; created on first ask.",
        "responses": {
          "200": {
            "description": "The forwarding address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailAddress"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/email-forwarding": {
      "get": {
        "tags": [
          "Email"
        ],
        "summary": "Forwarding address, activity and setup hints",
        "description": "The address, when mail last arrived, forwarding-verification emails from the last day, and a Gmail filter query plus rule hints for setting up automatic forwarding.",
        "responses": {
          "200": {
            "description": "Forwarding state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailForwarding"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Who am I, and what can I see",
        "description": "Drives the app's sign-in and invite-redeem gate. The one route (with POST /api/invites/redeem) a signed-in but unlinked identity may call.",
        "responses": {
          "200": {
            "description": "The caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/ai-usage": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "This month's AI usage and limits",
        "responses": {
          "200": {
            "description": "Usage by feature, the plan's limits, and what remains.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIUsage"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/device-token/revoke": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Revoke the device token making this request",
        "description": "Sign-out: the device destroys the credential it presented. Only ever deletes that exact token.",
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/device-token": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Mint a long-lived device token",
        "description": "For background uploads and the share extension, where a Clerk session token (which lives about a minute) is impractical. A token unused for 90 days is dropped.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "A label for the device."
            },
            "required": false,
            "description": "A label for the device.",
            "name": "name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The new token; store it securely.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceToken"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/people": {
      "post": {
        "tags": [
          "People"
        ],
        "summary": "Add a person",
        "description": "A name to travel with. An existing person of that name (case-insensitive) is returned instead of a duplicate.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80,
                    "description": "The person's name."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Already existed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonCreated"
                }
              }
            }
          },
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonCreated"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "People"
        ],
        "summary": "People in the account",
        "description": "Everyone who has travelled or been named, most-travelled first, with whether they have signed in.",
        "responses": {
          "200": {
            "description": "People.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/people/{id}": {
      "patch": {
        "tags": [
          "People"
        ],
        "summary": "Rename a person",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The id."
            },
            "required": true,
            "description": "The id.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80,
                    "description": "The person's name."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renamed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonRenamed"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/connections": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Connected apps",
        "description": "OAuth grants held by MCP clients, most recently used first.",
        "responses": {
          "200": {
            "description": "Connections.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connections": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Connection"
                      }
                    }
                  },
                  "required": [
                    "connections"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/connections/{id}": {
      "delete": {
        "tags": [
          "Connections"
        ],
        "summary": "Disconnect an app",
        "description": "Revokes the grant and every token issued under it.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The id."
            },
            "required": true,
            "description": "The id.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Disconnected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deleted"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/passport": {
      "get": {
        "tags": [
          "Passport"
        ],
        "summary": "Your public passport's settings",
        "description": "Whether the account's passport is published, at which handle, and a suggested handle when it isn't.",
        "responses": {
          "200": {
            "description": "The settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassportSettings"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Passport"
        ],
        "summary": "Publish or update your public passport",
        "description": "Publishes the account's passport at trvlrr.app/p/<handle>, or changes the handle, name or indexing. A handle given up is held for 30 days.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassportInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Published.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassportSettings"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Passport"
        ],
        "summary": "Unpublish your public passport",
        "description": "The page goes at once; the handle is held for this account for 30 days.",
        "responses": {
          "200": {
            "description": "Unpublished.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassportSettings"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/passport/preview": {
      "get": {
        "tags": [
          "Passport"
        ],
        "summary": "Preview your passport card",
        "description": "The card exactly as a published page would show it, published or not. holder overrides the name on it.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 40,
              "description": "The name to put on the card."
            },
            "required": false,
            "description": "The name to put on the card.",
            "name": "holder",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The card, or null when there is no travel to show yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassportPreview"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/passport/handle": {
      "get": {
        "tags": [
          "Passport"
        ],
        "summary": "Check a handle",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The handle to check."
            },
            "required": true,
            "description": "The handle to check.",
            "name": "handle",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Whether it can be used, and why not.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandleCheck"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/passport/image": {
      "put": {
        "tags": [
          "Passport"
        ],
        "summary": "Upload the passport's link-preview image",
        "description": "A PNG of the card (1200×630, drawn by the web app when you publish) shown when the page's link is shared. At most 2 MB.",
        "requestBody": {
          "description": "PNG bytes.",
          "content": {
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassportSettings"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "The upload is too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "The bytes are not a supported type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/passports/{handle}": {
      "get": {
        "tags": [
          "Passport"
        ],
        "summary": "A published passport",
        "description": "Public. The card's contents for a published passport: only travel that has happened, no dates, bookings or companions.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The passport's handle."
            },
            "required": true,
            "description": "The passport's handle.",
            "name": "handle",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The passport.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPassport"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/passports/{handle}/image": {
      "get": {
        "tags": [
          "Passport"
        ],
        "summary": "A published passport's link-preview image",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The passport's handle."
            },
            "required": true,
            "description": "The passport's handle.",
            "name": "handle",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The PNG."
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/passports": {
      "get": {
        "tags": [
          "Passport"
        ],
        "summary": "Published passports that may be indexed",
        "description": "Public. For the sitemap: each handle that allows search engines, and when it last changed.",
        "security": [],
        "responses": {
          "200": {
            "description": "The list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "passports": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "handle": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "handle",
                          "updated"
                        ]
                      }
                    }
                  },
                  "required": [
                    "passports"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/sharing": {
      "get": {
        "tags": [
          "Sharing"
        ],
        "summary": "Who has access, and outstanding invites",
        "description": "Account members, single-trip collaborators, the last 30 invite codes, and seats used against the plan's limit. Members only.",
        "responses": {
          "200": {
            "description": "Access to the account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharingInfo"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/invites": {
      "post": {
        "tags": [
          "Sharing"
        ],
        "summary": "Create an invite code",
        "description": "kind=member adds someone to the whole account (needs a free seat on the plan: 1 on Free, 2 on Plus); kind=trip shares one trip as editor or viewer. The code is redeemed with POST /api/invites/redeem.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The code to pass on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteCode"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Trvlrr Plus is required, or this month's AI allowance is used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/invites/revoke": {
      "post": {
        "tags": [
          "Sharing"
        ],
        "summary": "Revoke a pending invite code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteCode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoked (or was not pending).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/invites/redeem": {
      "post": {
        "tags": [
          "Sharing"
        ],
        "summary": "Redeem an invite code",
        "description": "Joins the inviting account (a member invite) or gains access to one trip (a trip invite). The one route besides GET /api/me that a signed-in but unlinked identity may call. Joining an account means leaving your own, which is refused while it holds trips.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteCode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access granted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Redeemed"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/members/remove": {
      "post": {
        "tags": [
          "Sharing"
        ],
        "summary": "Remove a member from the account",
        "description": "Owner only. What they added stays with the account; they leave with a fresh, empty account of their own.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A member's user id."
                  }
                },
                "required": [
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/collaborators/remove": {
      "post": {
        "tags": [
          "Sharing"
        ],
        "summary": "Remove a single-trip collaborator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The collaborator row id (from GET /api/sharing)."
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trips/{id}/visibility": {
      "get": {
        "tags": [
          "Sharing"
        ],
        "summary": "Which members can see this trip",
        "description": "The other members of the account, with whether the trip is hidden from each. You cannot hide a trip from yourself.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The trip id."
            },
            "required": true,
            "description": "The trip id.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Members.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VisibilityMember"
                      }
                    }
                  },
                  "required": [
                    "members"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sharing"
        ],
        "summary": "Hide a trip from a member, or show it again",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The trip id."
            },
            "required": true,
            "description": "The trip id.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisibilityChange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The member's view now.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "hidden": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok",
                    "hidden"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/backfill-times": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Fill in zones and instants across the account",
        "description": "Derives missing time zones (from airports, cities, coordinates or homes) and UTC instants for every place, segment, stay and activity.",
        "responses": {
          "200": {
            "description": "What was filled, and what could not be zoned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimesBackfilled"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/settings": {
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Photo AI and face storage switches",
        "description": "Turning photo AI off stops captioning and indexing; turning faces off refuses the face routes. Existing data is cleared with the DELETE routes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountSettingsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The settings now.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSettings"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/photo-ai-data": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Clear everything the photo AI wrote",
        "description": "Captions, tags, landmarks and visible text on every photo in the account.",
        "responses": {
          "200": {
            "description": "How many photos were cleared.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cleared"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/face-data": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete all face data",
        "description": "Every detected face and embedding in the account; photos are marked scanned so they are not re-scanned.",
        "responses": {
          "200": {
            "description": "How many faces were deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cleared"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/export": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Export everything",
        "description": "The whole account as one JSON document: members, people, homes, profile, master list, faces, invites, aliases, and every trip with all it holds (photos and documents by storage key, not bytes).",
        "responses": {
          "200": {
            "description": "The export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountExport"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/account": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete the account",
        "description": "Owner only. Access ends at once — members, identities, device tokens, shares, invites and the forwarding address go, and co-members get fresh empty accounts; files and rows are purged within 48 hours. Also revokes Sign in with Apple (when a fresh authorization code is given), deletes the RevenueCat customer and the Clerk user. Never cancels an Apple subscription; only the person can.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountDeleteInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted, with the outcome of each external revocation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDeleted"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/web": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Web checkout configuration",
        "description": "The RevenueCat public key the web app buys Plus with, or null while buying on the web is closed.",
        "responses": {
          "200": {
            "description": "The key to buy with.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebBilling"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/subscription": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "The subscription behind Plus",
        "description": "Where this account's Plus was bought and where to manage it, or null when there is no store subscription.",
        "responses": {
          "200": {
            "description": "The subscription, or null.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreSubscription"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/sync": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Sync the plan with the store",
        "description": "After a purchase or restore: asks RevenueCat whether a subscription is active and grants Plus if so. Sync only ever grants; taking Plus away is the store webhook's job.",
        "responses": {
          "200": {
            "description": "The plan now, and whether the store changed it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSync"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/art": {
      "get": {
        "tags": [
          "Art"
        ],
        "summary": "Poster art for a place",
        "description": "Generated artwork keyed by place, the same for everyone, so this is public and cached at the edge. size=card serves a small copy for lists. 404 until it has been generated.",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "\"Name, Country\" of a destination, as the trip's first place."
            },
            "required": true,
            "description": "\"Name, Country\" of a destination, as the trip's first place.",
            "name": "place",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "card"
              ],
              "description": "card for the small copy."
            },
            "required": false,
            "description": "card for the small copy.",
            "name": "size",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Ignored; cache-buster."
            },
            "required": false,
            "description": "Ignored; cache-buster.",
            "name": "v",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The image (JPEG)."
          },
          "400": {
            "description": "place is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not generated yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/art/generate": {
      "post": {
        "tags": [
          "Art"
        ],
        "summary": "Ask for a place's poster to be generated",
        "description": "Queued in the background; generation also fires when a trip is created. Never replaces an existing poster. Twenty requests a day per account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArtGenerate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Queued"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "A daily limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/faces/pending": {
      "get": {
        "tags": [
          "Faces"
        ],
        "summary": "Photos not yet scanned for faces",
        "description": "The phone runs face detection on thumbnails and posts the results to /api/faces/scan-result. Newest first; limit up to 100 (default 40).",
        "parameters": [
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "description": "Up to 100."
            },
            "required": false,
            "description": "Up to 100.",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Photo ids to scan, and how many remain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacesPending"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Trvlrr Plus is required, or this month's AI allowance is used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/faces/scan-result": {
      "post": {
        "tags": [
          "Faces"
        ],
        "summary": "Store one photo's face scan",
        "description": "Replaces any earlier scan of the photo. New faces are matched against confirmed faces and suggested a person where the embedding is close enough.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanResult"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "How many were stored and suggested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanStored"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Trvlrr Plus is required, or this month's AI allowance is used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/faces/overview": {
      "get": {
        "tags": [
          "Faces"
        ],
        "summary": "People with faces, and the review backlog",
        "responses": {
          "200": {
            "description": "People, a sample face each, and counts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacesOverview"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Trvlrr Plus is required, or this month's AI allowance is used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/faces/unassigned": {
      "get": {
        "tags": [
          "Faces"
        ],
        "summary": "Faces to review, clustered",
        "description": "Unassigned and suggested faces grouped by similarity, largest group first, so the person can answer \"who is this?\" once per group.",
        "responses": {
          "200": {
            "description": "Clusters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FaceCluster"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Trvlrr Plus is required, or this month's AI allowance is used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/faces/assign": {
      "post": {
        "tags": [
          "Faces"
        ],
        "summary": "Assign faces to a person",
        "description": "By person_id, or by name (creating the person if new). Confirms them, so they become references for future suggestions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FaceAssign"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assigned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaceAssigned"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Trvlrr Plus is required, or this month's AI allowance is used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/faces/reject": {
      "post": {
        "tags": [
          "Faces"
        ],
        "summary": "Not them, or not a face",
        "description": "Clears a suggestion; with ignore, hides the detection for good.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FaceReject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Done.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Trvlrr Plus is required, or this month's AI allowance is used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/faces/photo/{id}": {
      "get": {
        "tags": [
          "Faces"
        ],
        "summary": "The faces in one photo",
        "description": "With names where known. scanned says whether the photo has been through detection at all.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The id."
            },
            "required": true,
            "description": "The id.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Faces, largest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoFaces"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Trvlrr Plus is required, or this month's AI allowance is used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/faces/person/{id}/photos": {
      "get": {
        "tags": [
          "Faces"
        ],
        "summary": "Photos a person appears in",
        "description": "Newest first, up to 300.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The id."
            },
            "required": true,
            "description": "The id.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Photos.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PersonPhoto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Trvlrr Plus is required, or this month's AI allowance is used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trips": {
      "post": {
        "tags": [
          "Trips"
        ],
        "summary": "Create a trip",
        "description": "Status is worked out from the dates unless given. A destination becomes the trip's first place and its poster art is generated. Trips are unlimited on every plan.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TripCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new trip's id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Created"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Trips"
        ],
        "summary": "List trips",
        "description": "Every trip the caller can see, newest first: the caller's account's trips plus trips shared with them individually. Each carries its places, travellers and photo count.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "past",
                "planning",
                "booked",
                "active"
              ],
              "description": "Only trips with this status."
            },
            "required": false,
            "description": "Only trips with this status.",
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Trips, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TripSummary"
                  }
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trips/{id}": {
      "patch": {
        "tags": [
          "Trips"
        ],
        "summary": "Update a trip",
        "description": "Only the fields given change. traveler_ids replaces the traveller list; cover_photo_id \"\" clears the cover. Members of the owning account only.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The trip id."
            },
            "required": true,
            "description": "The trip id.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TripPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Trips"
        ],
        "summary": "Delete a trip and everything on it",
        "description": "Segments, stays, activities, expenses, photos, documents, plans and shares all go. Members of the owning account only.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The trip id."
            },
            "required": true,
            "description": "The trip id.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deleted"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Trips"
        ],
        "summary": "One trip in full",
        "description": "Places, travellers, every segment, stay and activity with its travellers, a preview of photos, documents, the checklist count and (with ?currency=) the trip's cost. Cancellations pending confirmation carry cancellation_state = \"pending\".",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The trip id."
            },
            "required": true,
            "description": "The trip id.",
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO currency to total the trip in, e.g. AUD."
            },
            "required": false,
            "description": "ISO currency to total the trip in, e.g. AUD.",
            "name": "currency",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripDetail"
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/trips/{id}/segments": {
      "post": {
        "tags": [
          "Transport"
        ],
        "summary": "Add a segment",
        "description": "A flight, train, bus, ferry, car rental, drive or other leg. Countries may be names or codes (stored as ISO alpha-2). Travellers default to the trip's. The UTC instants are derived from the local times and zones.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The trip id."
            },
            "required": true,
            "description": "The trip id.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new segment's id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Created"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No usable credential: a Clerk session token, a device token or an OAuth access token is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller may not do this to this account or trip.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such thing, or not one the caller can see.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/segments/{id}": {
      "patch": {
        "tags": [
          "Transport"
        ],
        "summary": "Update a segment",
        "description": "Only the fields given change. trip_id re-files it on another trip in the same account. Correcting the places or date of an inferred drive makes it a real leg.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The id."
            },
            "required": true,
            "description": "The id.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "description": "The request is malformed or fails validation.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidRequest"
                    }
                  ]
                }
              }
            }
          },
          "401": {
[...]
