{
  "openapi": "3.1.0",
  "info": {
    "title": "SignDocs Brasil External API",
    "version": "1.4.0",
    "description": "API B2B para assinatura eletrônica com biometria facial, OTP, clickwrap e certificado digital ICP-Brasil.\n\n## Autenticação\n\nTodas as rotas protegidas exigem um token JWT Bearer obtido via `POST /oauth2/token`\nusando o fluxo OAuth2 `client_credentials`.\n\n## 🔑 Como obter credenciais HML\n\nCredenciais de homologação são self-service via wizard de plano em [app.signdocs.com.br](https://app.signdocs.com.br) (requer conta PJ; use web ou Android — a opção Enterprise não aparece no iOS). Fluxo completo de ~3 min: [Guia de Início Rápido — §1.3](https://docs.signdocs.com.br/guias/inicio-rapido.html#13-como-obter-credenciais-hml-self-service-via-wizard-de-plano).\n\n> ⚠️ O `clientSecret` é exibido **uma única vez** no momento da provisão — copie imediatamente para um gerenciador de senhas. Se perder, é necessário reprovisionar (rotaciona o secret; `clientId` continua o mesmo).\n\n## Ambientes\n\n| Ambiente | URL |\n|----------|-----|\n| Produção | `https://api.signdocs.com.br` |\n| Homologação | `https://api-hml.signdocs.com.br` |\n| Produção (mTLS) | `https://mtls-api.signdocs.com.br` |\n| Homologação (mTLS) | `https://mtls-api-hml.signdocs.com.br` |\n\n## Feature Flags\n\nAlguns comportamentos da API dependem de feature flags habilitadas no tenant:\n\n| Flag | Efeito |\n|------|--------|\n| `documentExtractionEnabled` | Habilita o source `DOCUMENT_PHOTO` no enrollment biométrico. Permite extrair a face automaticamente de um documento (CNH/RG/passaporte). |\n| `hostedLivenessEnabled` | Habilita o modo de captura `HOSTED_PAGE` para etapas de liveness. |\n| `biometricRequired` | Torna obrigatório o envio de `geolocation` nas etapas biométricas (liveness, match, document photo match). |\n| `serpro.enabled` | Habilita etapas do tipo `SERPRO_IDENTITY_CHECK` para validação de identidade via SERPRO DataValid. |\n\nConsulte seu gerente de conta para ativar ou desativar essas flags.\n\n## Erros\n\nTodas as respostas de erro seguem o formato RFC 7807 Problem Details (`application/problem+json`).\n\n## Política de Uso Aceitável (AUP v1.2)\n\nO uso desta API está sujeito à [Política de Uso Aceitável v1.2](https://signdocs.com.br/aup.html), que cobre\nrotação de credenciais (12 meses), validação HMAC de webhooks, política de dados em sandbox (proibido\ndado pessoal real), rate limiting publicado em [docs.signdocs.com.br/guias/rate-limiting](https://docs.signdocs.com.br/guias/rate-limiting.html),\nobrigações LGPD do integrador como Controlador, e cláusula §7-A sobre uso de plataformas low-code de\norquestração (n8n, Make, Zapier, Power Automate, etc.). Abuso é reportado via `security@signdocs.com.br`.\n\n## SLA\n\nCompromissos de disponibilidade, tempos de resposta e créditos de serviço são exclusivos do plano\nEnterprise (99,9% de disponibilidade, crédito de até 30% da fatura), conforme o\n[Service Level Agreement](https://signdocs.com.br/sla.html). Nos planos Gratuito, Iniciante e Avançado,\na API opera em regime de melhor esforço, sem garantia de disponibilidade nem direito a crédito. O suporte\né por e-mail (`suporte@signdocs.com.br`), em horário comercial, para todos os planos; clientes Enterprise\ncontam ainda com gerente de conta dedicado e atendimento por telefone. Status público em\n`https://status.signdocs.com.br`.\n\n## Termos comerciais\n\nO uso desta API exige aceite dos [Termos de Uso v2.1.2](https://signdocs.com.br/termos-de-uso.html) — incluindo\na cláusula §5-A sobre aquisição via Marketplaces de Terceiros (Google Workspace Marketplace, Microsoft\nAppSource e similares) — e a assinatura do [DPA](https://signdocs.com.br/dpa.html). A\n[Política de Privacidade v2.1.1](https://signdocs.com.br/politica-de-privacidade.html) declara\nformalmente adesão ao regime de Limited Use da Google API Services User Data Policy (cláusula §9-A).\n",
    "license": {
      "name": "Proprietary",
      "url": "https://www.signdocs.com.br/termos-de-uso.html"
    },
    "contact": {
      "name": "SignDocs Brasil API Support",
      "email": "suporte@signdocs.com.br"
    },
    "x-jentic-source-url": "https://docs.signdocs.com.br/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.signdocs.com.br",
      "description": "Produção"
    },
    {
      "url": "https://api-hml.signdocs.com.br",
      "description": "Homologação"
    },
    {
      "url": "https://mtls-api.signdocs.com.br",
      "description": "Produção (mTLS)"
    },
    {
      "url": "https://mtls-api-hml.signdocs.com.br",
      "description": "Homologação (mTLS)"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "checkHealth",
        "tags": [
          "Health"
        ],
        "summary": "Verificar saúde da API",
        "description": "Retorna o status de saúde da API e de seus componentes internos (DynamoDB, S3, KMS, mTLS Truststore).\nRetorna `200` se todos os componentes estão operacionais, `503` se algum está indisponível.\n",
        "security": [],
        "responses": {
          "200": {
            "description": "API saudável — todos os componentes operacionais.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/health/history": {
      "get": {
        "operationId": "getHealthHistory",
        "tags": [
          "Health"
        ],
        "summary": "Consultar histórico de saúde",
        "description": "Retorna métricas históricas de disponibilidade da API, incluindo uptime por componente,\nincidentes e a última verificação realizada.\n",
        "security": [],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Período de consulta do histórico.",
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d"
              ],
              "default": "24h"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Histórico de saúde retornado com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthHistoryResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "operationId": "createToken",
        "tags": [
          "Authentication"
        ],
        "summary": "Obter token de acesso",
        "description": "Emite um token JWT de acesso usando o fluxo OAuth2 `client_credentials`.\nSuporta autenticação via `client_secret` ou via asserção JWT (`private_key_jwt`).\n\nO token retornado deve ser enviado no header `Authorization: Bearer <token>` nas chamadas protegidas.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token emitido com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/verify/document": {
      "post": {
        "operationId": "verifyDocument",
        "tags": [
          "Verification"
        ],
        "summary": "Verificar se um PDF está assinado",
        "description": "Recebe um PDF (base64) e informa se o documento **contém assinatura**,\nlistando as assinaturas encontradas. Útil para validar documentos de\nqualquer origem, sem necessidade de um identificador prévio.\n\nDetecção apenas de **assinaturas digitais embutidas** (PAdES/CAdES,\nvia dicionário de assinatura PKCS#7 com `/ByteRange`). Artefatos visuais\n(rubrica desenhada, carimbo, texto) **não** são considerados assinatura.\n**Não** extrai identidade do signatário (CPF/CNPJ), **não** valida cadeia\nde certificação ICP-Brasil nem revogação (OCSP/CRL), e **não** consulta\nregistros do SignDocs — é agnóstica ao provedor.\n\nO PDF é inspecionado em memória e descartado; nunca é armazenado.\n\nRequer scope `verification:write` e **credenciais de produção** — chaves\nde sandbox/homologação recebem `403`. Cada chamada consome uma unidade da\ncota `verification`.\n\nSuporta idempotência via header `X-Idempotency-Key`: reenviar a mesma\nchave com o mesmo PDF devolve a resposta original sem consumir cota\nnovamente.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documento inspecionado com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyDocumentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/verify/envelope/{envelopeId}": {
      "get": {
        "operationId": "verifyEnvelope",
        "tags": [
          "Verification"
        ],
        "summary": "Verificar envelope multi-signatário",
        "description": "Consulta pública de um envelope multi-signatário. Retorna o status\ndo envelope, lista de signatários (com `evidenceId` para drill-down\nem cada evidência), e URLs de download para artefatos consolidados\na nível de envelope.\n\n- `downloads.combinedSignedPdf`: presente quando o envelope é um\n  PDF e todos os signatários concluíram (PDF combinado com todas as\n  assinaturas embutidas).\n- `downloads.consolidatedSignature`: presente quando o envelope é\n  um documento não-PDF assinado com certificado digital e todos os\n  signatários concluíram. Contém o `.p7s` (PKCS#7 detached) com\n  todos os `SignerInfo` consolidados em um único arquivo.\n\nEnvelopes criados com `signerConfidentiality: true` não expõem\nsignatários, contagens nem downloads aqui — nem após a conclusão.\n",
        "security": [],
        "parameters": [
          {
            "name": "envelopeId",
            "in": "path",
            "required": true,
            "description": "Identificador único do envelope.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope encontrado.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvelopeVerificationResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/verify/{evidenceId}": {
      "get": {
        "operationId": "verifyEvidence",
        "tags": [
          "Verification"
        ],
        "summary": "Verificar evidência de assinatura",
        "description": "Consulta pública de uma evidência de assinatura. Permite que terceiros verifiquem\na autenticidade de uma transação pelo `evidenceId`, sem necessidade de autenticação.\n",
        "security": [],
        "parameters": [
          {
            "name": "evidenceId",
            "in": "path",
            "required": true,
            "description": "Identificador único da evidência.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evidência encontrada e verificada.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/verify/{evidenceId}/downloads": {
      "get": {
        "operationId": "getVerificationDownloads",
        "tags": [
          "Verification"
        ],
        "summary": "Obter downloads da evidência",
        "description": "Retorna URLs pré-assinadas para download dos artefatos de evidência:\npacote de evidência (.p7m), PDF assinado e PDF final com carimbo visual.\n",
        "security": [],
        "parameters": [
          {
            "name": "evidenceId",
            "in": "path",
            "required": true,
            "description": "Identificador único da evidência.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "URLs de download geradas com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationDownloadsResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/transactions": {
      "post": {
        "operationId": "createTransaction",
        "tags": [
          "Transactions"
        ],
        "summary": "Criar transação de assinatura",
        "description": "Cria uma nova transação de assinatura eletrônica. Opcionalmente inclui o documento\nem base64 no corpo da requisição. Suporta idempotência via header `X-Idempotency-Key`.\n\nRequer scope `transactions:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transação criada com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "Location": {
                "description": "URL do recurso criado.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "operationId": "listTransactions",
        "tags": [
          "Transactions"
        ],
        "summary": "Listar transações",
        "description": "Retorna uma lista paginada de transações do tenant autenticado.\nSuporta filtros por status, usuário, grupo de documentos e intervalo de datas.\n\nRequer scope `transactions:read`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filtrar por status da transação.",
            "schema": {
              "$ref": "#/components/schemas/TransactionStatus"
            }
          },
          {
            "name": "userExternalId",
            "in": "query",
            "description": "Filtrar por identificador externo do usuário.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentGroupId",
            "in": "query",
            "description": "Filtrar por grupo de documentos.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Data inicial do intervalo (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Data final do intervalo (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Número máximo de resultados por página (máximo 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Token de paginação retornado pela consulta anterior.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de transações retornada com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}": {
      "get": {
        "operationId": "getTransaction",
        "tags": [
          "Transactions"
        ],
        "summary": "Consultar transação",
        "description": "Retorna os detalhes completos de uma transação, incluindo signatário, etapas e metadados.\n\nRequer scope `transactions:read`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes da transação retornados com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionDetailResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "cancelTransaction",
        "tags": [
          "Transactions"
        ],
        "summary": "Cancelar transação",
        "description": "Cancela uma transação em andamento. Apenas transações que ainda não foram\nfinalizadas podem ser canceladas.\n\nRequer scope `transactions:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transação cancelada com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelTransactionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/finalize": {
      "post": {
        "operationId": "finalizeTransaction",
        "tags": [
          "Transactions"
        ],
        "summary": "Finalizar transação",
        "description": "Finaliza uma transação com todas as etapas concluídas, gerando o pacote de evidência\ncriptograficamente assinado (.p7m). O `evidenceId` retornado pode ser usado para\nverificação pública via `/v1/verify/{evidenceId}`.\n\nRequer scope `transactions:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transação finalizada e evidência gerada com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinalizeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/document": {
      "post": {
        "operationId": "uploadDocument",
        "tags": [
          "Documents"
        ],
        "summary": "Upload de documento (base64)",
        "description": "Envia o documento codificado em base64 diretamente no corpo da requisição. Suporta PDF, DOCX, XLSX, PPTX, ODT, imagens e outros formatos.\nPara documentos maiores, utilize o fluxo de upload pré-assinado\n(`presign` → upload direto ao S3 → `confirm`).\n\n### Validação de qualidade do PDF\n\nO documento é validado quanto à qualidade e integridade. Caso o PDF seja inválido,\ncorrompido, protegido por senha ou não atenda aos critérios mínimos de qualidade,\na API retorna `422 Unprocessable Entity` com detalhes do problema.\n\nRequer scope `transactions:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documento enviado com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentUploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/document/presign": {
      "post": {
        "operationId": "presignDocumentUpload",
        "tags": [
          "Documents"
        ],
        "summary": "Obter URL pré-assinada para upload",
        "description": "Gera uma URL pré-assinada do S3 para upload direto do documento.\nApós o upload, confirme com `POST /v1/transactions/{id}/document/confirm`.\n\nRecomendado para documentos maiores que 5 MB.\n\nRequer scope `transactions:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL pré-assinada gerada com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresignResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/document/confirm": {
      "post": {
        "operationId": "confirmDocumentUpload",
        "tags": [
          "Documents"
        ],
        "summary": "Confirmar upload pré-assinado",
        "description": "Confirma que o upload via URL pré-assinada foi concluído com sucesso.\nO `uploadToken` foi retornado na resposta de `presign`.\n\nApós a confirmação, o documento é validado quanto à qualidade e integridade (validação de qualidade aplica-se apenas a PDFs). Caso não\natenda aos critérios mínimos, retorna `422 Unprocessable Entity` com detalhes do problema.\n\nRequer scope `transactions:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload confirmado com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmDocumentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/download": {
      "get": {
        "operationId": "downloadDocument",
        "tags": [
          "Documents"
        ],
        "summary": "Obter URLs de download do documento",
        "description": "Retorna URLs pré-assinadas para download do documento original e do documento assinado.\nAs URLs expiram em 1 hora.\n\nRequer scope `transactions:read`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "URLs de download geradas com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentDownloadResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/steps": {
      "get": {
        "operationId": "listSteps",
        "tags": [
          "Steps"
        ],
        "summary": "Listar etapas da transação",
        "description": "Retorna todas as etapas de verificação de identidade vinculadas à transação,\ncom seus status, tentativas e resultados.\n\nRequer scope `steps:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de etapas retornada com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StepListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/steps/{stepId}/start": {
      "post": {
        "operationId": "startStep",
        "tags": [
          "Steps"
        ],
        "summary": "Iniciar etapa de verificação",
        "description": "Inicia uma etapa de verificação de identidade. A resposta varia conforme o tipo da etapa:\n\n- **BIOMETRIC_LIVENESS**: Retorna `livenessSessionId` (modo `BANK_APP`) ou `hostedUrl` (modo `HOSTED_PAGE`).\n- **OTP_CHALLENGE**: Envia o código OTP por e-mail e retorna mensagem de confirmação.\n- **OTP_VERIFY**: Retorna mensagem informando que o código já foi enviado.\n- **CLICK_ACCEPT**: Retorna mensagem com o termo a ser aceito.\n- **DOCUMENT_PHOTO_MATCH**: Retorna mensagem indicando prontidão para envio da foto do documento.\n- **SERPRO_IDENTITY_CHECK**: Retorna mensagem indicando prontidão para verificação SERPRO (requer `serpro.enabled`).\n- **DIGITAL_SIGN_A1**: Retorna mensagem indicando prontidão para assinatura digital.\n\n### Reenvio de OTP\n\nAo chamar `start` em uma etapa `OTP_CHALLENGE` quando `attempts > 1` (reenvio), a etapa\npareada `OTP_VERIFY` é automaticamente resetada caso esteja em status `FAILED` ou `STARTED`.\nIsso permite que o usuário tente novamente com um novo código sem necessidade de intervenção manual.\n\nRequer scope `steps:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "description": "Identificador único da etapa.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StepStartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Etapa iniciada com sucesso. A resposta varia conforme o tipo.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StepStartResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/steps/{stepId}/complete": {
      "post": {
        "operationId": "completeStep",
        "tags": [
          "Steps"
        ],
        "summary": "Concluir etapa de verificação",
        "description": "Submete os dados para conclusão de uma etapa de verificação. O corpo da requisição\nvaria conforme o tipo da etapa:\n\n- **BIOMETRIC_LIVENESS / BIOMETRIC_MATCH**: `{ \"livenessSessionId\": \"...\" }`\n- **BIOMETRIC_MATCH com referência por transação**: `{ \"referenceImage\": { \"source\": \"BASE64_IMAGE\", \"data\": \"<base64>\" } }` — compara o liveness com a imagem enviada em vez do enrollment do usuário. Requer a flag `perTransactionReferenceEnabled` no tenant. Exclusivo deste endpoint: em sessões de assinatura, a imagem por transação é enviada em `referenceImage.content` na criação da sessão.\n- **OTP_VERIFY**: `{ \"code\": \"123456\" }`\n- **CLICK_ACCEPT**: `{ \"accepted\": true }`\n- **DOCUMENT_PHOTO_MATCH**: `{ \"documentImage\": \"<base64>\", \"documentType\": \"CNH\" }` — Envia a foto do documento (base64, máx. 5MB). O tipo aceito é `RG`, `CNH`, `PASSPORT` ou `OTHER`. A face é extraída e comparada com a referência biométrica. Retorna `similarity` score.\n- **SERPRO_IDENTITY_CHECK**: `{ \"cpf\": \"12345678901\", \"name\": \"João da Silva\", \"birthDate\": \"1990-01-15\" }` — Valida identidade via SERPRO DataValid. Disponível apenas quando o tenant possui `serpro.enabled`.\n- **DIGITAL_SIGN_A1**: Não requer corpo (use o fluxo `/signing`).\n\n### Geolocalização condicional\n\nQuando o tenant possui a flag `biometricRequired` habilitada, o campo `geolocation`\né **obrigatório** para etapas biométricas (`BIOMETRIC_LIVENESS`, `BIOMETRIC_MATCH`, `DOCUMENT_PHOTO_MATCH`).\nFormato: `{ \"latitude\": -23.5505, \"longitude\": -46.6333 }`.\n\nRequer scope `steps:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "description": "Identificador único da etapa.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StepCompleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Etapa concluída (ou falhou). Verifique o campo `status` na resposta.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StepCompleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/signing/prepare": {
      "post": {
        "operationId": "prepareSigning",
        "tags": [
          "Signing"
        ],
        "summary": "Preparar assinatura digital",
        "description": "Prepara o documento para assinatura digital com certificado ICP-Brasil A1.\nRetorna o hash que deve ser assinado pelo certificado do cliente.\n\nO cliente deve enviar a cadeia de certificados PEM para que o servidor\nprepare o placeholder no PDF (para documentos PDF) ou compute o hash\ndo arquivo inteiro (para documentos genéricos — CAdES .p7s com conteúdo anexado).\n\nO formato é determinado automaticamente pelo `documentFormat` da transação,\ndefinido no momento do upload do documento.\n\nRequer scope `transactions:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrepareSigningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hash para assinatura gerado com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrepareSigningResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/signing/complete": {
      "post": {
        "operationId": "completeSigning",
        "tags": [
          "Signing"
        ],
        "summary": "Concluir assinatura digital",
        "description": "Submete a assinatura digital bruta (raw signature) gerada pelo certificado A1 do cliente.\n\n- Para documentos PDF: o servidor injeta a assinatura no PDF (PAdES).\n- Para documentos genéricos: o servidor gera um arquivo `.p7s` CAdES com o conteúdo do documento anexado (enveloping).\n\nConclui a etapa `DIGITAL_SIGN_A1`.\n\n**Carimbo do tempo (opcional, por contrato):** com o recurso habilitado no tenant, o servidor\nsolicita um carimbo do tempo RFC 3161 a uma Autoridade de Carimbo do Tempo (ACT) credenciada na\nICP-Brasil sobre o valor da assinatura e o embute nela (atributo não assinado\n`id-aa-signatureTimeStampToken`, PAdES-B-T / CAdES-T). A resposta traz então\n`result.digitalSignature.signatureTimestamp`. Se a ACT estiver indisponível, a resposta é `503`\ncom `code: TIMESTAMP_UNAVAILABLE`: a solicitação de assinatura continua pendente e pode ser\nreenviada com a mesma `rawSignatureBase64` até expirar.\n\nRequer scope `transactions:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteSigningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assinatura digital concluída com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SigningCompleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "description": "Carimbo do tempo indisponível (`code: TIMESTAMP_UNAVAILABLE`, `retryable: true`). Só ocorre em\ntenants com carimbo do tempo habilitado. A solicitação de assinatura continua pendente: reenvie\na mesma assinatura após `Retry-After` segundos.\n",
            "headers": {
              "Retry-After": {
                "description": "Segundos a aguardar antes de reenviar.",
                "schema": {
                  "type": "integer",
                  "example": 30
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                },
                "example": {
                  "type": "https://api.signdocs.com.br/errors/service-unavailable",
                  "title": "Service Unavailable",
                  "status": 503,
                  "detail": "O serviço de carimbo do tempo está indisponível no momento. Tente assinar novamente em instantes.",
                  "code": "TIMESTAMP_UNAVAILABLE",
                  "retryable": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/evidence": {
      "get": {
        "operationId": "getEvidence",
        "tags": [
          "Evidence"
        ],
        "summary": "Consultar evidência da transação",
        "description": "Retorna os metadados do pacote de evidência gerado para a transação,\nincluindo hash, chave KMS e URL de download pré-assinada.\n\nRequer scope `evidence:read`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "Identificador único da transação.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evidência retornada com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/users/enrollments": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Cadastra vários usuários numa requisição",
        "description": "Cadastra até **25** usuários de uma vez, para popular a base no dia da\nvirada sem disparar um `PUT` por funcionário.\n\n**Sucesso parcial é o comportamento pretendido.** Uma foto ruim entre\nvinte e cinco não pode reprovar as outras vinte e quatro, então cada\nlinha reporta o próprio resultado e a resposta é **200 mesmo quando há\nlinhas reprovadas**. Leia `results`, não o código HTTP — quem trata só o\nstatus considera aprovado um lote em que metade falhou.\n\n`userExternalId` repetido no mesmo lote é **400**: as linhas correriam\nsobre a mesma chave e a versão final ficaria imprevisível.\n\n**Limite real é o tamanho do corpo, não as 25 linhas.** A invocação\nsíncrona da Lambda corta em ~6 MB, e a imagem em base64 cresce um terço.\nMedido em HML: 25 fotos de 53 KB = 1,82 MB, aprovado em 5 s; 8 fotos de\n536 KB = 5,72 MB passa, 9 = 6,44 MB devolve **413**. Para usar as 25\nvagas, mantenha cada foto abaixo de ~175 KB — 640×640 com qualidade 82\ndá 53 KB e ainda detecta rosto com 99,99 de confiança.\n\nCadastrar **não** consome cota: nem de documento, nem de biometria. A\ncota é debitada quando a assinatura acontece, não quando o funcionário\nentra na base.\n",
        "operationId": "enrollUsersBatch",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "enrollments"
                ],
                "properties": {
                  "dryRun": {
                    "type": "boolean",
                    "default": false,
                    "description": "Inspeciona sem gravar. Cada linha é avaliada e devolvida com\nmétricas de qualidade, e **nada é persistido** — nenhuma\nimagem vai para o S3, nenhum registro para o DynamoDB, e o\nprazo de retenção de 90 dias não começa a correr.\n\nServe para conferir as fotos de referência **antes** de\ncadastrar. Uma foto escura, tremida ou de perfil é cadastrada\nsem reclamação e só falha na comparação facial meses depois,\nem produção, um funcionário por vez. Aqui ela volta como\naviso enquanto o lote ainda está na tela de alguém.\n\nCusta a mesma chamada de Rekognition por linha que cadastrar\ncustaria — a economia não é financeira, é não guardar\nbiometria que você já concluiu ser inservível.\n"
                  },
                  "enrollments": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 25,
                    "items": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "userExternalId"
                          ],
                          "properties": {
                            "userExternalId": {
                              "type": "string",
                              "description": "Identificador do usuário no seu sistema.",
                              "example": "matricula-4471"
                            }
                          }
                        },
                        {
                          "$ref": "#/components/schemas/EnrollmentRequest"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lote processado. Pode conter linhas reprovadas — confira `failed` e\no `status` de cada item em `results`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "submitted": {
                      "type": "integer",
                      "example": 25
                    },
                    "succeeded": {
                      "type": "integer",
                      "example": 24
                    },
                    "failed": {
                      "type": "integer",
                      "example": 1
                    },
                    "dryRun": {
                      "type": "boolean",
                      "description": "Presente e `true` quando a requisição foi uma inspeção."
                    },
                    "usable": {
                      "type": "integer",
                      "description": "`dryRun`: linhas boas, sem ressalva."
                    },
                    "marginal": {
                      "type": "integer",
                      "description": "`dryRun`: linhas que **cadastrariam normalmente** mas têm\nressalva. É a categoria que interessa — são justamente as\nque viram reprovação de comparação lá na frente.\n"
                    },
                    "rejected": {
                      "type": "integer",
                      "description": "`dryRun`: linhas que nem seriam cadastradas."
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "description": "Posição da linha no array enviado."
                          },
                          "referenceQuality": {
                            "type": "string",
                            "enum": [
                              "usable",
                              "marginal",
                              "rejected"
                            ],
                            "description": "**A foto serve como referência?** Separado do\n`status`, que diz o que aconteceu com a gravação.\nUma linha pode ser `status: enrolled` com\n`referenceQuality: marginal` — é a combinação que\ninteressa. Mesmo campo no `dryRun` e na gravação.\n"
                          },
                          "quality": {
                            "type": "object",
                            "description": "Medidas do Rekognition para o rosto detectado (0-100).\nVêm no `dryRun` **e** na gravação real — a foto é\nguardada de qualquer jeito, e `faceConfidence`\nsozinho não diz se ela é boa referência.\n",
                            "properties": {
                              "brightness": {
                                "type": "number",
                                "format": "double"
                              },
                              "sharpness": {
                                "type": "number",
                                "format": "double"
                              }
                            }
                          },
                          "pose": {
                            "type": "object",
                            "description": "`dryRun`: rotação da cabeça em graus.",
                            "properties": {
                              "yaw": {
                                "type": "number",
                                "format": "double"
                              },
                              "pitch": {
                                "type": "number",
                                "format": "double"
                              },
                              "roll": {
                                "type": "number",
                                "format": "double"
                              }
                            }
                          },
                          "faceCoverage": {
                            "type": "number",
                            "format": "double",
                            "description": "`dryRun`: área do rosto como fração do quadro (0-1).\nRosto pequeno num retrato largo é detectável e ainda\nassim é referência fraca.\n",
                            "example": 0.31
                          },
                          "warnings": {
                            "type": "array",
                            "description": "Ressalvas legíveis por máquina, no `dryRun` e na\ngravação real. Vêm mesmo quando não há nenhuma — o\narray vazio é a resposta.\n",
                            "items": {
                              "type": "string",
                              "enum": [
                                "LOW_BRIGHTNESS",
                                "LOW_SHARPNESS",
                                "FACE_TOO_SMALL",
                                "HEAD_TURNED"
                              ]
                            }
                          },
                          "userExternalId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "description": "`enrolled`/`failed` numa gravação real;\n`usable`/`marginal`/`rejected` num `dryRun`.\n",
                            "enum": [
                              "enrolled",
                              "failed",
                              "usable",
                              "marginal",
                              "rejected"
                            ]
                          },
                          "enrollmentVersion": {
                            "type": "integer"
                          },
                          "expiresAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Quando a imagem de referência é apagada."
                          },
                          "faceConfidence": {
                            "type": "number",
                            "format": "double"
                          },
                          "error": {
                            "type": "string",
                            "description": "Motivo, em pt-BR, quando `status` é `failed`."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Lote vazio, acima de 25 itens, ou `userExternalId` repetido.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/users/{userExternalId}/enrollment": {
      "get": {
        "operationId": "getEnrollment",
        "tags": [
          "Users"
        ],
        "summary": "Consultar o enrollment biométrico",
        "description": "Informa se o usuário tem enrollment e **até quando**.\n\nA imagem de referência é apagada por ciclo de vida do S3 90 dias após o\ncadastro, mas o registro do enrollment permanece. Quem só pergunta \"esse\nusuário está cadastrado?\" recebe sim muito depois da foto ter sumido, e\ndescobre o problema como um 422 no meio da assinatura. `expiresAt` e\n`expired` existem para permitir uma varredura de recadastramento antes\ndisso.\n\nO CPF volta mascarado: a rota é enumerável por `userExternalId`.\n\nRequer scope `transactions:read`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "userExternalId",
            "in": "path",
            "required": true,
            "description": "Identificador do usuário no sistema do integrador.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteEnrollment",
        "tags": [
          "Users"
        ],
        "summary": "Apagar o enrollment biométrico",
        "description": "Elimina a imagem de referência, a imagem original do documento quando o\ncadastro veio de uma, e o registro do enrollment.\n\nExiste para atender o direito de eliminação (LGPD art. 18): um\nfuncionário que sai da empresa não deveria esperar os 90 dias de\nretenção para a face dele desaparecer.\n\nOs objetos no S3 são removidos antes do registro, e cada remoção é\ngravada no log de acesso biométrico — essa entrada é a evidência de que\no apagamento aconteceu.\n\n**Transações em andamento que dependiam desse enrollment passam a falhar\na etapa de comparação com 422.** É a consequência esperada de um pedido\nde eliminação.\n\nRequer scope `transactions:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "userExternalId",
            "in": "path",
            "required": true,
            "description": "Identificador do usuário no sistema do integrador.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment apagado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userExternalId": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean"
                    },
                    "deletedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "enrollmentVersion": {
                      "type": "integer",
                      "description": "Versão que existia no momento do apagamento."
                    },
                    "objectsDeleted": {
                      "type": "integer",
                      "description": "Quantos objetos foram removidos (1, ou 2 com documento)."
                    },
                    "versionsDeleted": {
                      "type": "integer",
                      "description": "Quantas versões foram destruídas. O bucket é versionado, e\num DeleteObject comum só cria um marcador — os bytes\ncontinuariam recuperáveis por version id. Este número\nconta as versões efetivamente apagadas, e é o que\ncomprova a eliminação.\n"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "operationId": "enrollUser",
        "tags": [
          "Users"
        ],
        "summary": "Cadastrar ou atualizar enrollment biométrico",
        "description": "Registra ou atualiza a imagem de referência biométrica de um usuário.\nA imagem deve ser enviada em base64 (JPEG). O enrollment é versionado —\ncada chamada incrementa a versão.\n\n### Fontes de enrollment\n\n- **ORGANIZATION_PROVIDED** (padrão): foto vinda dos registros da organização — crachá,\n  ficha de RH. O antigo `BANK_PROVIDED` continua aceito e é normalizado na gravação.\n- **FIRST_LIVENESS**: Imagem capturada na primeira sessão de liveness.\n- **DOCUMENT_PHOTO**: Foto de documento (CNH/RG/passaporte). O rosto é extraído automaticamente.\n  Requer a feature flag `documentExtractionEnabled` habilitada no tenant.\n\n### CPF obrigatório\n\nO campo `cpf` é obrigatório e utilizado para vincular o enrollment à identidade do titular.\n\nRequer scope `transactions:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "userExternalId",
            "in": "path",
            "required": true,
            "description": "Identificador externo do usuário no sistema do integrador.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrollment realizado com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/document-groups/{groupId}/combined-stamp": {
      "post": {
        "operationId": "generateCombinedStamp",
        "tags": [
          "DocumentGroups"
        ],
        "summary": "Gerar carimbo combinado do grupo",
        "description": "Gera o documento com carimbo visual combinado para todas as assinaturas do grupo de documentos (PDF: carimbo visual; outros formatos: .p7s combinado).\nRetorna URL pré-assinada para download do PDF gerado.\n\nRequer scope `transactions:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "description": "Identificador do grupo de documentos.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Carimbo combinado gerado com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CombinedStampResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/webhooks": {
      "post": {
        "operationId": "registerWebhook",
        "tags": [
          "Webhooks"
        ],
        "summary": "Registrar webhook",
        "description": "Registra um novo endpoint de webhook para receber notificações de eventos.\nO `secret` retornado na resposta é exibido apenas neste momento — armazene-o\ncom segurança para validar as assinaturas HMAC-SHA256 dos payloads recebidos.\n\nUma URL que já tem um webhook `ACTIVE` no tenant é recusada com `409`, qualquer\nque seja a lista de eventos; o `webhookId` existente vem no `detail`. Para mudar\nos eventos, remova o registro (`DELETE /v1/webhooks/{webhookId}`) e registre a\nURL de novo — o novo registro recebe um novo `secret`.\n\nRequer scope `webhooks:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook registrado com sucesso. O `secret` é retornado apenas nesta resposta.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterWebhookResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "operationId": "listWebhooks",
        "tags": [
          "Webhooks"
        ],
        "summary": "Listar webhooks",
        "description": "Retorna todos os webhooks registrados pelo tenant autenticado.\n\nRequer scope `webhooks:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de webhooks retornada com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/webhooks/{webhookId}": {
      "delete": {
        "operationId": "deleteWebhook",
        "tags": [
          "Webhooks"
        ],
        "summary": "Remover webhook",
        "description": "Remove um webhook registrado. Após a remoção, nenhuma nova notificação será enviada\npara o endpoint.\n\nRequer scope `webhooks:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "Identificador único do webhook.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook removido com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/webhooks/{webhookId}/test": {
      "post": {
        "operationId": "testWebhook",
        "tags": [
          "Webhooks"
        ],
        "summary": "Testar webhook",
        "description": "Envia um payload de teste para o endpoint do webhook e retorna o resultado da entrega.\nÚtil para verificar conectividade e configuração do webhook.\n\nRequer scope `webhooks:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "Identificador único do webhook.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado do teste de entrega.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookTestResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/signing-sessions": {
      "post": {
        "operationId": "createSigningSession",
        "tags": [
          "SigningSessions"
        ],
        "summary": "Criar sessão de assinatura",
        "description": "Cria uma sessão de assinatura expressa (Assinatura Expressa). Cria atomicamente transação,\netapas, documento e token de embed. Retorna sessionId, url e clientSecret.\n\nO link entregue ao signatário é `{url}?cs={clientSecret}` — a `url` sozinha não abre,\nporque o `clientSecret` é a autenticação da sessão. Veja a descrição do campo `url`.\n\nRequer scope `transactions:write`.\n",
        "security": [
          {
            "bearerJwt": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSigningSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sessão de assinatura criada com sucesso.",
            "headers": {
              "Strict-Transport-Security": {
                "$ref": "#/components/headers/Strict-Transport-Security"
              },
              "X-Content-Type-Options": {
                "$ref": "#/components/headers/X-Content-Type-Options"
              },
              "X-Frame-Options": {
                "$ref": "#/components/headers/X-Frame-Options"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "API-Version": {
                "$ref": "#/components/headers/API-Version"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "Location": {
                "description": "URL do recurso criado.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSigningSessionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      },
      "get": {
[...]
