{
  "openapi": "3.1.0",
  "info": {
    "title": "loophole tape",
    "description": "Live rug checks for new pump.fun memecoins on Solana (calibrated rug probability and graduation odds, holders, creator record, rug flags) and Robinhood Chain pons launch and token risk cards, computed in real time from our own independent capture of every on-chain event (not resold third-party data). Pay per request in USDC on Solana or Base through x402 with no account: $0.001-$0.04 per data call, $5.00 per daily dataset file; prepaid keys ($0.10 trial, $2.00) serve clients without an x402 library. Responses report coverage, freshness and observed evidence.",
    "version": "0.9.0",
    "x-guidance": "Machine-payable pump.fun intelligence and Robinhood Chain (pons) launch structure. Call /v1/x402/resources or /llms.txt first. First step, no key and no payment: GET /v1/token_check/{mint} (any Solana mint or Robinhood Chain pons token, or its link) answers a verdict word, one reason and coverage. Paid GET routes return 402 with the x402 v2 PAYMENT-REQUIRED header (and the same JSON in the body); pay USDC on Solana mainnet (Coinbase CDP facilitator) or on Base (Coinbase CDP facilitator), exact scheme, and retry with PAYMENT-SIGNATURE. Without an x402 client, buy a prepaid key once (/v1/keys/trial $0.10 or /v1/keys/new $2.00 in a browser wallet, or GET /v1/keys/transfer to pay with a plain USDC transfer from any wallet or exchange) and send it as the X-API-Key header. Every response is {ok, schema_version, generated_at, coverage: full|thin, data, meta{feed_lag_s, is_stale, next}}. Compact checks cost $0.005 for one mint or $0.01 total for up to five; full coverage and feed lag <= 5 s required. Free: /v1/token_check/{mint}, /v1/radar, /v1/check/coverage, /v1/check/watch, /v1/market/regime, /v1/sample/*, /health, /v1/labels. MCP at /mcp.",
    "contact": {
      "name": "loophole tape",
      "url": "https://api.loopholetape.com",
      "email": "hello@loopholetape.com"
    },
    "termsOfService": "https://api.loopholetape.com/terms",
    "x-jentic-source-url": "https://api.loopholetape.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.loopholetape.com"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "List every route, price and payment rail of this API",
        "operationId": "index__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "this index",
        "tags": [
          "discovery"
        ],
        "security": []
      }
    },
    "/v1/calibration": {
      "get": {
        "summary": "Get the validation tables behind the calibrated probabilities",
        "description": "Validation tables behind the calibrated probabilities inside compact checks (free).",
        "operationId": "calibration_v1_calibration_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "tags": [
          "free"
        ],
        "security": []
      }
    },
    "/.well-known/x402": {
      "get": {
        "summary": "List the paid resources in the x402 discovery manifest",
        "description": "Union manifest: IETF draft-hawkins-x402-dns-discovery-03 keys + x402scan's minimal `version`/`resources` shape + payment terms per resource.",
        "operationId": "well_known_x402__well_known_x402_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "tags": [
          "discovery"
        ],
        "security": []
      }
    },
    "/health": {
      "get": {
        "summary": "Report feed health: lag behind the chain, last slot, counters",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "feed health: seconds behind the chain, last slot, mints tracked, counters",
        "tags": [
          "free"
        ],
        "security": []
      }
    },
    "/v1/labels": {
      "get": {
        "summary": "Get the meaning of every label, flag and field in the answers",
        "operationId": "labels_v1_labels_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "semantics of every label, flag and field (coverage, status, risk_label, confidence, rug flags, history, rhc)",
        "tags": [
          "discovery"
        ],
        "security": []
      }
    },
    "/v1/market/regime": {
      "get": {
        "summary": "Get the pump.fun market regime: launch rate, flow and rugs",
        "operationId": "market_regime_v1_market_regime_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "market-wide regime meter: launch rate, mayhem share, buy/sell flow, fail share, migrations vs true graduations, rug flags (free)",
        "tags": [
          "free"
        ],
        "security": []
      }
    },
    "/v1/sample/launches": {
      "get": {
        "summary": "Get a three-item sample of recent launches, 300 s delayed",
        "operationId": "sample_launches_v1_sample_launches_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "free 3-item sample of /v1/launches/recent, delayed >= 300 s",
        "tags": [
          "free"
        ],
        "security": []
      }
    },
    "/v1/sample/rugs": {
      "get": {
        "summary": "Get a three-item sample of recent rug flags, 300 s delayed",
        "operationId": "sample_rugs_v1_sample_rugs_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "free 3-item sample of /v1/rugs/recent, delayed >= 300 s",
        "tags": [
          "free"
        ],
        "security": []
      }
    },
    "/v1/sample/mint": {
      "get": {
        "summary": "Get one full risk card for a mint older than 300 seconds",
        "operationId": "sample_mint_v1_sample_mint_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "free full risk card of one mint aged >= 300 s (the exact paid shape)",
        "tags": [
          "free"
        ],
        "security": []
      }
    },
    "/v1/datasets": {
      "get": {
        "summary": "List the bulk dataset days with sizes, sha256 and links",
        "operationId": "datasets_index_v1_datasets_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "free index of the bulk datasets: days available, rows, bytes, sha256, sample and schema links, how to buy",
        "tags": [
          "free"
        ],
        "security": []
      }
    },
    "/v1/datasets/pumpfun_launches/{day}": {
      "get": {
        "summary": "Download one day of pump.fun memecoin launches as parquet",
        "description": "Use to backtest or train a rug or graduation model on one full UTC day of Solana token launches on pump.fun; not for live decisions (use the compact check or the delta feed). Every pump.fun launch our capture saw on that UTC day (about 15k-35k rows) with creator, dev buy and share, name/symbol/uri, outcomes as our label rules define them (graduated with migration delay, rugged with rug delay, creator first-sell delay, peak and terminal reserve) and the first feature snapshot under 10 s and between 10 and 60 s of age where sampled (dev/insider/bundle shares, creator prior, reserve, buys). Free 200-row sample and schema at /v1/datasets. HTTP returns the parquet bytes; the MCP tool returns a one-hour download URL. The last three days are rebuilt nightly as outcomes settle.",
        "operationId": "dataset",
        "parameters": [
          {
            "name": "day",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Day"
            },
            "description": "UTC day YYYY-MM-DD listed by GET /v1/datasets"
          }
        ],
        "responses": {
          "200": {
            "description": "Paid response: the parquet bytes (header PAYMENT-RESPONSE carries the settlement); the MCP tool returns a one-hour download URL",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2): header PAYMENT-REQUIRED = base64 of the body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          },
          "404": {
            "description": "not found or invalid: day is not uTC day YYYY-MM-DD listed by GET /v1/datasets ({ok:false, error, hint})"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "paid"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "5.00"
          },
          "protocols": [
            {
              "x402": {
                "x402Version": 2,
                "scheme": "exact",
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "amount": "5000000",
                    "payTo": "9HkwyUhDMyjbpSpnyu5xuZ9vRaFQeajnJsavhie7XcsT",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "feePayer": "D6ZhtNQ5nT9ZnTHUbqXZsTx5MH2rPFiBBggX4hY1WePM"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "amount": "5000000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "USD Coin",
                      "version": "2"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:4663",
                    "asset": "0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168",
                    "amount": "5000000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "Global Dollar",
                      "version": "1"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:196",
                    "asset": "0x779Ded0c9e1022225f8E0630b35a9b54bE713736",
                    "amount": "5000000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "USD₮0",
                      "version": "1"
                    }
                  }
                ],
                "facilitators": {
                  "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp": "https://api.cdp.coinbase.com/platform/v2/x402",
                  "eip155:8453": "https://api.cdp.coinbase.com/platform/v2/x402",
                  "eip155:4663": "https://facilitator.naven.network",
                  "eip155:196": "https://facilitator.payai.network"
                }
              }
            }
          ]
        },
        "x-latency-ms": {
          "full": 200
        },
        "x-freshness-s": {
          "full": 86400
        }
      }
    },
    "/v1/track-record": {
      "get": {
        "summary": "Get the radar's daily scorecard against observed outcomes",
        "description": "Free: the radar's calls scored against outcomes per complete UTC day (scorecard from chainstack/track_record.py).",
        "operationId": "track_record_view_v1_track_record_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "tags": [
          "free"
        ],
        "security": []
      }
    },
    "/v1/keys/new": {
      "get": {
        "summary": "Buy a prepaid API key with $2.00 of credit",
        "description": "Use when your client cannot sign an x402 payment on every call, or to pay many calls (rug checks, launch polls, wallet and creator cards) from one purchase; not needed if your client already pays x402. Each new payment here buys a new $2.00 key. One x402 payment of $2.00 (USDC on Solana or Base; by header, or in a browser with a wallet) returns a key lt_... holding $2.00 of credit. Send it as the X-API-Key header on any paid HTTP route and that route's price is deducted; no x402 client is needed after the purchase (the same header on POST /mcp pays the MCP tools). Free balance: GET /v1/keys/balance with the header. Credit does not expire; the key is a bearer secret. The key activates when the same request settles; the same signed payment retried before it settles returns the same key; the store keeps only a hash of the key, so a delivered key is shown once.",
        "operationId": "keys",
        "responses": {
          "200": {
            "description": "Paid response (header PAYMENT-RESPONSE carries the settlement)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "full": {
                    "value": {
                      "ok": true,
                      "schema_version": "2.0",
                      "coverage": "full",
                      "data": {
                        "key": "lt_exampleexampleexampleexample",
                        "credit_usd": 2,
                        "status": "active_on_settlement",
                        "use": {
                          "header": "X-API-Key: lt_...",
                          "balance": "/v1/keys/balance",
                          "routes": "every paid HTTP route and every paid MCP tool (the same header on POST /mcp)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2): header PAYMENT-REQUIRED = base64 of the body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        },
        "tags": [
          "paid"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "2.00"
          },
          "protocols": [
            {
              "x402": {
                "x402Version": 2,
                "scheme": "exact",
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "amount": "2000000",
                    "payTo": "9HkwyUhDMyjbpSpnyu5xuZ9vRaFQeajnJsavhie7XcsT",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "feePayer": "D6ZhtNQ5nT9ZnTHUbqXZsTx5MH2rPFiBBggX4hY1WePM"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "amount": "2000000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "USD Coin",
                      "version": "2"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:4663",
                    "asset": "0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168",
                    "amount": "2000000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "Global Dollar",
                      "version": "1"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:196",
                    "asset": "0x779Ded0c9e1022225f8E0630b35a9b54bE713736",
                    "amount": "2000000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "USD₮0",
                      "version": "1"
                    }
                  }
                ],
                "facilitators": {
                  "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp": "https://api.cdp.coinbase.com/platform/v2/x402",
                  "eip155:8453": "https://api.cdp.coinbase.com/platform/v2/x402",
                  "eip155:4663": "https://facilitator.naven.network",
                  "eip155:196": "https://facilitator.payai.network"
                }
              }
            }
          ]
        },
        "x-latency-ms": {
          "full": 50
        },
        "x-freshness-s": {
          "full": null
        }
      }
    },
    "/v1/keys/trial": {
      "get": {
        "summary": "Buy a $0.10 trial key worth about twenty rug checks",
        "description": "Use to try the prepaid-key path with a small budget before the $2.00 key; each new payment here buys a new $0.10 key. The same prepaid key as /v1/keys/new with $0.10 of credit (about twenty $0.005 rug checks or a hundred $0.001 launch polls): one x402 payment, then X-API-Key on any paid HTTP route. For trying the header path with a small agent budget. Free balance: GET /v1/keys/balance.",
        "operationId": "keys_trial",
        "responses": {
          "200": {
            "description": "Paid response (header PAYMENT-RESPONSE carries the settlement)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "full": {
                    "value": {
                      "ok": true,
                      "schema_version": "2.0",
                      "coverage": "full",
                      "data": {
                        "key": "lt_exampleexampleexampleexample",
                        "credit_usd": 0.1,
                        "status": "active_on_settlement",
                        "use": {
                          "header": "X-API-Key: lt_...",
                          "balance": "/v1/keys/balance",
                          "routes": "every paid HTTP route and every paid MCP tool (the same header on POST /mcp)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2): header PAYMENT-REQUIRED = base64 of the body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        },
        "tags": [
          "paid"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.10"
          },
          "protocols": [
            {
              "x402": {
                "x402Version": 2,
                "scheme": "exact",
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "amount": "100000",
                    "payTo": "9HkwyUhDMyjbpSpnyu5xuZ9vRaFQeajnJsavhie7XcsT",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "feePayer": "D6ZhtNQ5nT9ZnTHUbqXZsTx5MH2rPFiBBggX4hY1WePM"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "amount": "100000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "USD Coin",
                      "version": "2"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:4663",
                    "asset": "0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168",
                    "amount": "100000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "Global Dollar",
                      "version": "1"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:196",
                    "asset": "0x779Ded0c9e1022225f8E0630b35a9b54bE713736",
                    "amount": "100000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "USD₮0",
                      "version": "1"
                    }
                  }
                ],
                "facilitators": {
                  "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp": "https://api.cdp.coinbase.com/platform/v2/x402",
                  "eip155:8453": "https://api.cdp.coinbase.com/platform/v2/x402",
                  "eip155:4663": "https://facilitator.naven.network",
                  "eip155:196": "https://facilitator.payai.network"
                }
              }
            }
          ]
        },
        "x-latency-ms": {
          "full": 50
        },
        "x-freshness-s": {
          "full": null
        }
      }
    },
    "/v1/keys/balance": {
      "get": {
        "summary": "Read the status and remaining credit of a prepaid key",
        "operationId": "keys_balance_v1_keys_balance_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "description": "free: status and credit remaining on a prepaid key (X-API-Key header); without a key: usage and how to buy one",
        "tags": [
          "free"
        ],
        "security": []
      }
    },
    "/v1/radar": {
      "get": {
        "summary": "List new pump.fun memecoins ranked by rug and graduation odds",
        "description": "Free live radar: top rug risk (age < 30 s) and top graduation probability (age < 15 min), each row one click from the paid check.",
        "operationId": "radar_view_v1_radar_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 25,
              "minimum": 1,
              "default": 10,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "free"
        ],
        "security": []
      }
    },
    "/v1/mint/{mint}": {
      "get": {
        "summary": "Get a Solana token safety card for a pump.fun or any SPL mint",
        "operationId": "mint",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Mint"
            },
            "description": "base58 SPL mint address (32-44 chars); pump.fun mints usually end in 'pump' A pasted link works too: pump.fun/coin/<mint>, gmgn.ai/sol/token/<mint>, solscan.io/token/<mint>, birdeye.so/token/<mint>, a Jupiter swap link or solana:<mint>; a DexScreener, Axiom or Photon link only when its id is a mint we know (a pair address is refused 400 pair_address_not_mint). The link is resolved before the 402, which names the resolved mint; an unreadable link is refused 400 url_not_recognised, unpaid."
          }
        ],
        "responses": {
          "200": {
            "description": "Paid response (header PAYMENT-RESPONSE carries the settlement)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "full": {
                    "value": {
                      "ok": true,
                      "schema_version": "2.0",
                      "coverage": "full",
                      "data": {
                        "mint": "So11111111111111111111111111111111111111112",
                        "name": "Example",
                        "symbol": "EXM",
                        "creator": "…",
                        "created_at": 1788671800.2,
                        "age_s": 41.9,
                        "coverage": "full",
                        "status": "live_curve",
                        "risk_label": "concentrated",
                        "confidence": "medium",
                        "quote": {
                          "asset": "sol",
                          "mint": "11111111111111111111111111111111",
                          "modelled": true,
                          "is_sol": true,
                          "holder_rewards": false,
                          "basis": "curve_account",
                          "evidence": null,
                          "reason": null
                        },
                        "why": [
                          "top-5 holders own 62.1% of supply",
                          "create-slot bundle: 4 wallets hold 31.0%",
                          "curve 12.4 SOL (14.6% of the way to graduation), 3 buys / 1 sell in the last 60 s"
                        ],
                        "curve": {
                          "rs_sol": 12.4,
                          "peak_rs_sol": 18.9,
                          "progress": 0.146,
                          "drawdown_from_peak": 0.34,
                          "complete": false,
                          "migrated": false,
                          "graduated": null,
                          "is_mayhem": false,
                          "dev_buy_sol": 1.5,
                          "virtual_sol_reserves_sol": 42.4,
                          "virtual_token_reserves": 759198113207547
                        },
                        "market": {
                          "price_sol": 5.58484e-08,
                          "price_usd": 1.11697e-05,
                          "market_cap_sol": 55.8484,
                          "market_cap_usd": 11169.68,
                          "curve_liquidity_sol": 12.4,
                          "curve_liquidity_usd": 2480,
                          "sol_usd": 200,
                          "as_of": 1788671760,
                          "reason": null
                        },
                        "authorities": {
                          "mint_authority": false,
                          "freeze_authority": false,
                          "metadata_mutable": false,
                          "source": "pumpfun_rule"
                        },
                        "demand": {
                          "unique_buyers": 41,
                          "buys_60s": 13,
                          "sells_60s": 7,
                          "net_sol_60s": 1.9,
                          "inflow_stalled": false
                        },
                        "holders": {
                          "n_holders": 38,
                          "top5_share": 0.621,
                          "hhi": 0.12,
                          "dev_share": 0,
                          "bundle_share": 0.31,
                          "insider_share": 0.03,
                          "n_bundle_wallets": 4,
                          "bundle_dumped": false
                        },
                        "exit_signals": {
                          "creator_sold": false,
                          "top5_holder_sold_recent": true,
                          "inflow_stalled": false,
                          "progress_reversed": true
                        },
                        "creator_prior_at_launch": {
                          "n_launches": 12,
                          "n_resolved": 12,
                          "grad_rate": 0,
                          "rug_rate": 0.58,
                          "median_dev_sell_s": 14.2,
                          "is_first_time": false
                        },
                        "warm_launch": null,
                        "rug_flags": [],
                        "flags": {},
                        "base_rates": {
                          "window_days": 7,
                          "launches": 192354,
                          "grad_rate": 0.024,
                          "rug_rate": 0.652,
                          "dev_sold_rate": 0.645,
                          "reached_5_sol_rate": 0.195
                        },
                        "next": {
                          "creator": "/v1/creator/…",
                          "regime": "/v1/market/regime",
                          "rugs": "/v1/rugs/recent?window_s=600"
                        },
                        "cohorts": {
                          "version": "cohorts-1",
                          "top1_share": 0.1502,
                          "top10_share": 0.7043,
                          "union_share": 0.3512,
                          "slot_windows": {
                            "bundlers": [
                              0,
                              1
                            ],
                            "snipers": [
                              2,
                              8
                            ]
                          },
                          "basis": {
                            "slot_ms": 250,
                            "slot_ms_measured": 266.9,
                            "regime_from_slot": 447984000,
                            "regime_from": "2026-09-18T05:06:43Z",
                            "regime_by": "create_slot",
                            "bundle_max_offset": 1,
                            "sniper_window_s": 2,
                            "sniper_max_offset": 8,
                            "sniper_window_measured_s": 2.135
                          },
                          "unbooked_sol": 0,
                          "shares_complete": true,
                          "sol_complete": true,
                          "sol_reason": null,
                          "dev": {
                            "share_of_supply": 0,
                            "n_wallets": 1,
                            "n_holding": 0,
                            "buy_sol": 1.5,
                            "sell_sol": 1.62,
                            "net_sol": -0.12,
                            "wallets": [
                              {
                                "wallet": "…",
                                "share_of_supply": 0,
                                "first_slot_offset": 0,
                                "net_sol": -0.12,
                                "history": {
                                  "mints": 14,
                                  "bundled": 0,
                                  "quick_sells": 9,
                                  "settled": 11,
                                  "rugged": 8,
                                  "graduated": 0
                                }
                              }
                            ],
                            "source": "tape+funding_capture",
                            "reason": null,
                            "n_funded_by_creator": 0
                          },
                          "bundlers": {
                            "share_of_supply": 0.31,
                            "n_wallets": 4,
                            "n_holding": 4,
                            "buy_sol": 8.8,
                            "sell_sol": 0,
                            "net_sol": 8.8,
                            "wallets": [
                              {
                                "wallet": "…",
                                "share_of_supply": 0.1502,
                                "first_slot_offset": 0,
                                "net_sol": 3.4,
                                "history": {
                                  "mints": 41,
                                  "bundled": 38,
                                  "quick_sells": 37,
                                  "settled": 30,
                                  "rugged": 21,
                                  "graduated": 1
                                }
                              },
                              {
                                "wallet": "…",
                                "share_of_supply": 0.0791,
                                "first_slot_offset": 0,
                                "net_sol": 2.6,
                                "history": {
                                  "mints": 0,
                                  "bundled": 0,
                                  "quick_sells": 0,
                                  "settled": 0,
                                  "rugged": 0,
                                  "graduated": 0
                                }
                              },
                              {
                                "wallet": "…",
                                "share_of_supply": 0.0544,
                                "first_slot_offset": 1,
                                "net_sol": 1.9,
                                "history": {
                                  "mints": 6,
                                  "bundled": 5,
                                  "quick_sells": 4,
                                  "settled": 4,
                                  "rugged": 3,
                                  "graduated": 0
                                }
                              },
                              {
                                "wallet": "…",
                                "share_of_supply": 0.0263,
                                "first_slot_offset": 1,
                                "net_sol": 0.9,
                                "history": {
                                  "mints": 0,
                                  "bundled": 0,
                                  "quick_sells": 0,
                                  "settled": 0,
                                  "rugged": 0,
                                  "graduated": 0
                                }
                              }
                            ],
                            "source": "tape",
                            "reason": null
                          },
                          "snipers": {
                            "share_of_supply": 0.0412,
                            "n_wallets": 2,
                            "n_holding": 1,
                            "buy_sol": 1.95,
                            "sell_sol": 0.9,
                            "net_sol": 1.05,
                            "wallets": [
                              {
                                "wallet": "…",
                                "share_of_supply": 0.0412,
                                "first_slot_offset": 3,
                                "net_sol": 1.1,
                                "history": {
                                  "mints": 212,
                                  "bundled": 2,
                                  "quick_sells": 190,
                                  "settled": 160,
                                  "rugged": 101,
                                  "graduated": 4
                                }
                              },
                              {
                                "wallet": "…",
                                "share_of_supply": 0,
                                "first_slot_offset": 4,
                                "net_sol": -0.05,
                                "history": {
                                  "mints": 57,
                                  "bundled": 0,
                                  "quick_sells": 55,
                                  "settled": 44,
                                  "rugged": 30,
                                  "graduated": 1
                                }
                              }
                            ],
                            "source": "tape",
                            "reason": null
                          },
                          "fresh_wallets": {
                            "share_of_supply": null,
                            "n_wallets": null,
                            "n_holding": null,
                            "buy_sol": null,
                            "sell_sol": null,
                            "net_sol": null,
                            "wallets": null,
                            "source": "unavailable",
                            "reason": "not served: no store of ours records a wallet's first-ever activity; reputation.new_wallets_share is the share held by wallets new to our own tape (see /v1/labels, cohorts.fresh_wallets)"
                          },
                          "omitted": {
                            "insiders": "not served: buying before the token was publicly visible is not observable from our capture beyond the create transaction itself (see /v1/labels, cohorts.insiders)"
                          },
                          "reputation": {
                            "version": "reputation-1",
                            "status": "ready",
                            "known_dumpers_share": 0.2731,
                            "repeat_bundlers_share": 0.2046,
                            "new_wallets_share": 0.221,
                            "n_known_dumpers": 5,
                            "n_repeat_bundlers": 2,
                            "n_new_wallets": 14,
                            "n_holders": 38,
                            "basis": {
                              "tape_since": "2026-09-27T00:18:34Z",
                              "history_from": "2026-09-27T00:19:00Z",
                              "history_to": "2026-09-28T07:43:11Z",
                              "history_hours": 31.4,
                              "gaps": 0,
                              "store_lag_s": 0.8,
                              "quick_sell_s": 60,
                              "min_prior_mints": 3,
                              "retention": "history since tape_since; a wallet seen on one mint is forgotten 14 days after it was last seen; wallets on 2+ mints are kept (cap 2,000,000, least recently seen first)",
                              "labels": "/v1/labels (reputation)"
                            },
                            "reason": null
                          }
                        }
                      }
                    }
                  },
                  "thin": {
                    "value": {
                      "ok": true,
                      "schema_version": "2.0",
                      "coverage": "thin",
                      "data": {
                        "mint": "…pump",
                        "coverage": "thin",
                        "coverage_reason": "not in the live window; history + on-chain state only",
                        "status": "onchain_only",
                        "risk_label": "unknown",
                        "confidence": "low",
                        "quote": {
                          "asset": "sol",
                          "mint": "11111111111111111111111111111111",
                          "modelled": true,
                          "is_sol": true,
                          "holder_rewards": false,
                          "basis": "curve_account",
                          "evidence": null,
                          "reason": null
                        },
                        "why": [
                          "no live tape for this mint",
                          "bonding curve open: 5.42 SOL real, 20.7% of tokens sold",
                          "creator prior: 3 launches, 0 graduations, 2 rugged"
                        ],
                        "history": null,
                        "history_reason": "mint not in the available launch history",
                        "onchain": {
                          "slot": 445629740,
                          "exists": true,
                          "is_token_mint": true,
                          "token_program": "spl-token-2022",
                          "decimals": 6,
                          "supply_ui": 1000000000,
                          "mint_authority": null,
                          "freeze_authority": null,
                          "token2022_risks": [],
                          "metadata": {
                            "source": "token2022",
                            "update_authority": null,
                            "pointer_authority": null,
                            "mutable": false
                          },
                          "pump_fun": {
                            "is_pump_fun": true,
                            "bonding_curve": "…",
                            "complete": false,
                            "real_sol_reserves_sol": 5.417,
                            "virtual_sol_reserves_sol": 35.417,
                            "progress": 0.207,
                            "price_sol_per_token": 3.9e-08,
                            "market_cap_sol": 38.97,
                            "creator": "…",
                            "cashback_enabled": false,
                            "is_mayhem_supply": false,
                            "is_mayhem_mode": false
                          }
                        },
                        "market": {
                          "price_sol": 3.9e-08,
                          "price_usd": 7.8e-06,
                          "market_cap_sol": 39,
                          "market_cap_usd": 7800,
                          "curve_liquidity_sol": 5.417,
                          "curve_liquidity_usd": 1083.4,
                          "sol_usd": 200,
                          "as_of": 1788671760,
                          "reason": null
                        },
                        "authorities": {
                          "mint_authority": false,
                          "freeze_authority": false,
                          "metadata_mutable": false,
                          "source": "onchain"
                        },
                        "creator_prior": {
                          "n_launches": 3,
                          "grad_rate": 0,
                          "rug_rate": 0.667
                        },
                        "base_rates": {
                          "window_days": 7,
                          "launches": 192354,
                          "grad_rate": 0.024,
                          "rug_rate": 0.652
                        },
                        "next": {
                          "creator": "/v1/creator/…",
                          "regime": "/v1/market/regime"
                        },
                        "cohorts": null,
                        "cohorts_reason": "not in the live window: the cohort block needs our holder ledger and trade tape from the launch"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2): header PAYMENT-REQUIRED = base64 of the body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          },
          "404": {
            "description": "not found or invalid: mint is not base58 SPL mint address (32-44 chars); pump.fun mints usually end in 'pump' ({ok:false, error, hint})"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "description": "Use to check one Solana token in full: every measured field and calibrated odds for a pump.fun memecoin, a thin card for an older mint or any other SPL mint; for a quick pre-trade check use the $0.005 compact check (GET /v1/check/mint). Risk card for ONE pump.fun mint, always HTTP 200 for a valid base58 mint. coverage=full when the mint is in our live window: holders (count, top-5 share, HHI, create-slot bundle / insider / creator shares), rug/close flags with first-seen times, curve truth (graduation = curve witnessed >= 84 SOL), demand (unique buyers, buys/sells 60 s, net SOL), the creator's record at launch (no look-ahead), warm-launch (observed creator-funding links) label, exit signals, calibrated P(rug within 5 min) for young mints and P(true graduation). coverage=thin otherwise: our resolved launch record if any + current bonding-curve state and mint / freeze authority from RPC + creator prior. Any Solana SPL mint, not only pump.fun, gets the thin card: mint / freeze authority and the Token-2022 extensions that let someone seize, block or tax holders' tokens (permanent delegate, transfer hook, transfer fee). Every card carries status, risk_label, confidence, a why[] list and market base rates. Nulls carry a reason; nothing is guessed. Every card also carries market (USD price, market cap = price x total supply as pump.fun and DexScreener show it, the curve's SOL liquidity in SOL and USD, the SOL/USD used and its time) and authorities (mint, freeze and metadata mutability: the pump.fun program rule on live mints, read on-chain on thin cards). A full card also carries the cohorts block: the supply held by the dev, bundlers and snipers with their wallets and SOL in and out of the curve, and top-1 and top-10 share (/v1/labels, cohorts), with the holders' reputation across tokens: the share held by known dumpers, repeat bundlers and wallets new to our tape (/v1/labels, reputation).",
        "tags": [
          "paid"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.025"
          },
          "protocols": [
            {
              "x402": {
                "x402Version": 2,
                "scheme": "exact",
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "amount": "25000",
                    "payTo": "9HkwyUhDMyjbpSpnyu5xuZ9vRaFQeajnJsavhie7XcsT",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "feePayer": "D6ZhtNQ5nT9ZnTHUbqXZsTx5MH2rPFiBBggX4hY1WePM"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "amount": "25000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "USD Coin",
                      "version": "2"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:4663",
                    "asset": "0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168",
                    "amount": "25000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "Global Dollar",
                      "version": "1"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:196",
                    "asset": "0x779Ded0c9e1022225f8E0630b35a9b54bE713736",
                    "amount": "25000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "USD₮0",
                      "version": "1"
                    }
                  }
                ],
                "facilitators": {
                  "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp": "https://api.cdp.coinbase.com/platform/v2/x402",
                  "eip155:8453": "https://api.cdp.coinbase.com/platform/v2/x402",
                  "eip155:4663": "https://facilitator.naven.network",
                  "eip155:196": "https://facilitator.payai.network"
                }
              }
            }
          ]
        },
        "x-latency-ms": {
          "full": 15,
          "thin": 300
        },
        "x-query-form": {
          "url": "/v1/mint?mint={mint}",
          "served": "for the id named in the query, at this operation's price and with its validation"
        },
        "x-freshness-s": {
          "full": 2,
          "thin": 1
        }
      }
    },
    "/v1/mint/{mint}/holders": {
      "get": {
        "summary": "Get Solana token holder concentration for a pump.fun mint",
        "description": "Use to measure the holder concentration of a Solana token on pump.fun from our ledger of its curve trades: its largest wallets and the creator's and create-slot buyers' shares; for who bought and sold trade by trade use GET /v1/mint/{mint}/flow. Up to 100 holders of one covered pump.fun mint, largest first, from our own per-wallet ledger of its bonding-curve trades: rank, wallet, share of supply, tokens, first-buy slot and time, last trade time, how the first tokens moved, buy and sell counts, and the labels we observe (dev = the creator, bundle = first tokens in the create slot or the next one, mayhem_agent; insider, latency_bot or skilled when the wallet is ranked on our pump.fun leaderboard, otherwise none). The concentration block carries the holder count, top-5 and top-10 share, HHI and the dev, bundle and insider shares the compact check reports. A cohorts block groups the supply by launch role: dev (the creator and the wallets our funding capture saw it fund), bundlers (first tokens in the create slot or the next), snipers (after them, within 2 s of the create slot: slots 2-8 on today's slots), each with its share of supply, wallet count, SOL in and out of the curve and its largest wallets, plus top-1 and top-10 share; each holder row names its cohorts. Labels are observations, not a verdict on a wallet. Full live coverage and feed lag <= 5 s required; an uncovered mint or a stale feed is refused unpaid. After a migration the ledger stops at the curve. The cohorts block also carries the holders' reputation across tokens: the share of supply held now by known dumpers (wallets that sold within 60 s of their first buy on 3 or more other mints), by repeat bundlers (in the create-slot bundle on 3 or more other mints) and by wallets new to our tape, from our own trade tape since 2026-09-27T00:18:34Z; each holder row carries its history on other mints (mints, bundled, quick sells, settled, rugged, graduated).",
        "operationId": "mint_holders",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Mint"
            },
            "description": "A pump.fun mint with full live coverage; check /v1/check/coverage first. A pasted link works too: pump.fun/coin/<mint>, gmgn.ai/sol/token/<mint>, solscan.io/token/<mint>, birdeye.so/token/<mint>, a Jupiter swap link or solana:<mint>; a DexScreener, Axiom or Photon link only when its id is a mint we know (a pair address is refused 400 pair_address_not_mint). The link is resolved before the 402, which names the resolved mint; an unreadable link is refused 400 url_not_recognised, unpaid."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            },
            "description": "holder rows to return, largest first (1-100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paid response (header PAYMENT-RESPONSE carries the settlement)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "full": {
                    "value": {
                      "ok": true,
                      "schema_version": "2.0",
                      "coverage": "full",
                      "data": {
                        "mint": "73sfnFgqQzpSRZSimCC4sxpubqghRGYewYLmiUH2pump",
                        "name": "Memestock",
                        "symbol": "MEME",
                        "creator": "…",
                        "created_at": 1789228058.4,
                        "age_s": 95.2,
                        "migrated": false,
                        "supply_tokens": 1000000000,
                        "count": 3,
                        "limit": 50,
                        "n_holders": 38,
                        "untracked_wallets": 0,
                        "concentration": {
                          "n_holders": 38,
                          "top5_share": 0.2531,
                          "top10_share": 0.3544,
                          "hhi": 0.0712,
                          "dev_share": 0.051095,
                          "bundle_share": 0.094239,
                          "insider_share": 0.145334,
                          "n_bundle_wallets": 1,
                          "listed_share": 0.176356
                        },
                        "holders": [
                          {
                            "rank": 1,
                            "wallet": "…",
                            "balance_share": 0.094239,
                            "tokens": 94239055.852889,
                            "first_buy_slot": 449819861,
                            "first_buy_at": 1789228058.9,
                            "last_trade_at": 1789228058.9,
                            "route": "signer_wallet",
                            "buys": 1,
                            "sells": 0,
                            "labels": [
                              "bundle"
                            ],
                            "wallet_class": "bundle",
                            "leaderboard_rank": null,
                            "cohorts": [
                              "bundlers"
                            ],
                            "history": {
                              "mints": 27,
                              "bundled": 25,
                              "quick_sells": 24,
                              "settled": 20,
                              "rugged": 13,
                              "graduated": 0
                            }
                          },
                          {
                            "rank": 2,
                            "wallet": "…",
                            "balance_share": 0.051095,
                            "tokens": 51095238.095238,
                            "first_buy_slot": 449819860,
                            "first_buy_at": 1789228058.4,
                            "last_trade_at": 1789228058.4,
                            "route": "create_tx",
                            "buys": 1,
                            "sells": 0,
                            "labels": [
                              "dev"
                            ],
                            "wallet_class": "dev",
                            "leaderboard_rank": null,
                            "cohorts": [
                              "dev"
                            ],
                            "history": {
                              "mints": 2,
                              "bundled": 0,
                              "quick_sells": 0,
                              "settled": 2,
                              "rugged": 1,
                              "graduated": 0
                            }
                          },
                          {
                            "rank": 3,
                            "wallet": "…",
                            "balance_share": 0.031022,
                            "tokens": 31022480,
                            "first_buy_slot": 449819902,
                            "first_buy_at": 1789228075.1,
                            "last_trade_at": 1789228131.7,
                            "route": "signer_wallet",
                            "buys": 2,
                            "sells": 1,
                            "labels": [
                              "skilled"
                            ],
                            "wallet_class": "skilled",
                            "leaderboard_rank": 17,
                            "cohorts": [],
                            "history": {
                              "mints": 64,
                              "bundled": 0,
                              "quick_sells": 2,
                              "settled": 51,
                              "rugged": 30,
                              "graduated": 5
                            }
                          }
                        ],
                        "cohorts": {
                          "version": "cohorts-1",
                          "top1_share": 0.094239,
                          "top10_share": 0.3544,
                          "union_share": 0.163745,
                          "slot_windows": {
                            "bundlers": [
                              0,
                              1
                            ],
                            "snipers": [
                              2,
                              8
                            ]
                          },
                          "basis": {
                            "slot_ms": 250,
                            "slot_ms_measured": 266.9,
                            "regime_from_slot": 447984000,
                            "regime_from": "2026-09-18T05:06:43Z",
                            "regime_by": "create_slot",
                            "bundle_max_offset": 1,
                            "sniper_window_s": 2,
                            "sniper_max_offset": 8,
                            "sniper_window_measured_s": 2.135
                          },
                          "unbooked_sol": 0,
                          "shares_complete": true,
                          "sol_complete": true,
                          "sol_reason": null,
                          "dev": {
                            "share_of_supply": 0.051095,
                            "n_wallets": 1,
                            "n_holding": 1,
                            "buy_sol": 1.5,
                            "sell_sol": 0,
                            "net_sol": 1.5,
                            "wallets": [
                              {
                                "wallet": "…",
                                "share_of_supply": 0.051095,
                                "first_slot_offset": 0,
                                "net_sol": 1.5,
                                "history": {
                                  "mints": 2,
                                  "bundled": 0,
                                  "quick_sells": 0,
                                  "settled": 2,
                                  "rugged": 1,
                                  "graduated": 0
                                }
                              }
                            ],
                            "source": "tape+funding_capture",
                            "reason": null,
                            "n_funded_by_creator": 0
                          },
                          "bundlers": {
                            "share_of_supply": 0.094239,
                            "n_wallets": 1,
                            "n_holding": 1,
                            "buy_sol": 3.2,
                            "sell_sol": 0,
                            "net_sol": 3.2,
                            "wallets": [
                              {
                                "wallet": "…",
                                "share_of_supply": 0.094239,
                                "first_slot_offset": 1,
                                "net_sol": 3.2,
                                "history": {
                                  "mints": 27,
                                  "bundled": 25,
                                  "quick_sells": 24,
                                  "settled": 20,
                                  "rugged": 13,
                                  "graduated": 0
                                }
                              }
                            ],
                            "source": "tape",
                            "reason": null
                          },
                          "snipers": {
                            "share_of_supply": 0.018411,
                            "n_wallets": 3,
                            "n_holding": 2,
                            "buy_sol": 1.9,
                            "sell_sol": 0.72,
                            "net_sol": 1.18,
                            "wallets": [
                              {
                                "wallet": "…",
                                "share_of_supply": 0.012304,
                                "first_slot_offset": 3,
                                "net_sol": 0.6,
                                "history": {
                                  "mints": 0,
                                  "bundled": 0,
                                  "quick_sells": 0,
                                  "settled": 0,
                                  "rugged": 0,
                                  "graduated": 0
                                }
                              },
                              {
                                "wallet": "…",
                                "share_of_supply": 0.006107,
                                "first_slot_offset": 5,
                                "net_sol": 0.58,
                                "history": {
                                  "mints": 140,
                                  "bundled": 2,
                                  "quick_sells": 131,
                                  "settled": 112,
                                  "rugged": 70,
                                  "graduated": 3
                                }
                              },
                              {
                                "wallet": "…",
                                "share_of_supply": 0,
                                "first_slot_offset": 2,
                                "net_sol": 0,
                                "history": {
                                  "mints": 19,
                                  "bundled": 2,
                                  "quick_sells": 17,
                                  "settled": 15,
                                  "rugged": 9,
                                  "graduated": 0
                                }
                              }
                            ],
                            "source": "tape",
                            "reason": null
                          },
                          "fresh_wallets": {
                            "share_of_supply": null,
                            "n_wallets": null,
                            "n_holding": null,
                            "buy_sol": null,
                            "sell_sol": null,
                            "net_sol": null,
                            "wallets": null,
                            "source": "unavailable",
                            "reason": "not served: no store of ours records a wallet's first-ever activity; reputation.new_wallets_share is the share held by wallets new to our own tape (see /v1/labels, cohorts.fresh_wallets)"
                          },
                          "omitted": {
                            "insiders": "not served: buying before the token was publicly visible is not observable from our capture beyond the create transaction itself (see /v1/labels, cohorts.insiders)"
                          },
                          "reputation": {
                            "version": "reputation-1",
                            "status": "ready",
                            "known_dumpers_share": 0.1127,
                            "repeat_bundlers_share": 0.094239,
                            "new_wallets_share": 0.0862,
                            "n_known_dumpers": 4,
                            "n_repeat_bundlers": 1,
                            "n_new_wallets": 11,
                            "n_holders": 38,
                            "basis": {
                              "tape_since": "2026-09-27T00:18:34Z",
                              "history_from": "2026-09-27T00:19:00Z",
                              "history_to": "2026-09-28T07:43:11Z",
                              "history_hours": 31.4,
                              "gaps": 0,
                              "store_lag_s": 0.8,
                              "quick_sell_s": 60,
                              "min_prior_mints": 3,
                              "retention": "history since tape_since; a wallet seen on one mint is forgotten 14 days after it was last seen; wallets on 2+ mints are kept (cap 2,000,000, least recently seen first)",
                              "labels": "/v1/labels (reputation)"
                            },
                            "reason": null
                          }
                        },
                        "leaderboard": {
                          "built_at": 1790155807.4,
                          "window": 2,
                          "classes": [
                            "insider",
                            "latency_bot",
                            "skilled"
                          ],
                          "rules": "src/edge/leaderboard.py: insider = at least 30% of its positions entered in a create slot; latency_bot = median entry under 2 s with bursts of 3+ buys in 1 s; skilled = 10+ closed positions and a 40%+ win rate, ranked by realised result over the window"
                        },
                        "tape": {
                          "trades_on_tape": 61,
                          "dropped_oldest": 0,
                          "max_rows": 2000,
                          "complete_from_launch": true
                        },
                        "note": "Balances are our own per-wallet ledger of the mint's bonding-curve trades, booked to the signing wallet. Labels are observations from our capture and our leaderboard, not a verdict on any wallet; see /v1/labels (holders_flow)."
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2): header PAYMENT-REQUIRED = base64 of the body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          },
          "404": {
            "description": "not found or invalid: mint is not a pump.fun mint with full live coverage; check /v1/check/coverage first. ({ok:false, error, hint})"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "paid"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {
                "x402Version": 2,
                "scheme": "exact",
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "amount": "10000",
                    "payTo": "9HkwyUhDMyjbpSpnyu5xuZ9vRaFQeajnJsavhie7XcsT",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "feePayer": "D6ZhtNQ5nT9ZnTHUbqXZsTx5MH2rPFiBBggX4hY1WePM"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "amount": "10000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "USD Coin",
                      "version": "2"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:4663",
                    "asset": "0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168",
                    "amount": "10000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "Global Dollar",
                      "version": "1"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:196",
                    "asset": "0x779Ded0c9e1022225f8E0630b35a9b54bE713736",
                    "amount": "10000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "USD₮0",
                      "version": "1"
                    }
                  }
                ],
                "facilitators": {
                  "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp": "https://api.cdp.coinbase.com/platform/v2/x402",
                  "eip155:8453": "https://api.cdp.coinbase.com/platform/v2/x402",
                  "eip155:4663": "https://facilitator.naven.network",
                  "eip155:196": "https://facilitator.payai.network"
                }
              }
            }
          ]
        },
        "x-latency-ms": {
          "full": 20
        },
        "x-freshness-s": {
          "full": 5
        }
      }
    },
    "/v1/mint/{mint}/flow": {
      "get": {
        "summary": "List who bought and sold one pump.fun memecoin, by trade",
        "description": "Use when you need who bought and sold one pump.fun memecoin, trade by trade, or to poll its new trades with a cursor; for who holds it now use GET /v1/mint/{mint}/holders. Every bonding-curve buy and sell of one covered pump.fun mint from our own capture, in slot order, up to 500 per page: time, slot, index in the slot, transaction signature, wallet, side, SOL, tokens, how the tokens moved, whether it was the wallet's first buy, the wallet's label (dev, bundle, mayhem_agent, or insider, latency_bot or skilled when ranked on our leaderboard) and the running net SOL the curve has taken in since launch. A summary covers the last 60 s and 5 min: trades, unique buyers and sellers, buy, sell and net SOL, first buys, and the largest buyer's and seller's share of that SOL. A demand block (wash trading vs organic volume, from launch) splits the buy SOL by wallet label and gives the share the same wallets sold back and the share bought in crowded slots, and the holders answer's cohorts block (dev, bundlers, snipers, top-1 and top-10 share, the holders' reputation across tokens) rides on every page. Pass next_cursor back as since (a slot:index cursor, a slot or unix seconds); no trade after since, an uncovered mint or a stale feed is refused unpaid. Full live coverage and feed lag <= 5 s required.",
        "operationId": "mint_flow",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Mint"
            },
            "description": "A pump.fun mint with full live coverage; check /v1/check/coverage first. A pasted link works too: pump.fun/coin/<mint>, gmgn.ai/sol/token/<mint>, solscan.io/token/<mint>, birdeye.so/token/<mint>, a Jupiter swap link or solana:<mint>; a DexScreener, Axiom or Photon link only when its id is a mint we know (a pair address is refused 400 pair_address_not_mint). The link is resolved before the 402, which names the resolved mint; an unreadable link is refused 400 url_not_recognised, unpaid."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 40
                },
                {
                  "type": "null"
                }
              ],
              "title": "Since"
            },
            "description": "optional start, exclusive: next_cursor 'slot:index' of the previous page, a slot number, or unix seconds (values >= 1e9); omitted = from the launch"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 100,
              "title": "Limit"
            },
            "description": "trades per page (1-500)"
          }
        ],
        "responses": {
          "200": {
            "description": "Paid response (header PAYMENT-RESPONSE carries the settlement)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "full": {
                    "value": {
                      "ok": true,
                      "schema_version": "2.0",
                      "coverage": "full",
                      "data": {
                        "mint": "73sfnFgqQzpSRZSimCC4sxpubqghRGYewYLmiUH2pump",
                        "name": "Memestock",
                        "symbol": "MEME",
                        "creator": "…",
                        "created_at": 1789228058.4,
                        "migrated": false,
                        "since": null,
                        "order": "slot, index ascending",
                        "count": 2,
                        "items": [
                          {
                            "t": 1789228058.4,
                            "slot": 449819860,
                            "index": 212,
                            "sig": "…",
                            "wallet": "…",
                            "side": "buy",
                            "sol": 1.5,
                            "tokens": 51095238.095238,
                            "route": "create_tx",
                            "is_first_buy": true,
                            "wallet_class": "dev",
                            "running_net_sol": 1.5
                          },
                          {
                            "t": 1789228058.9,
                            "slot": 449819861,
                            "index": 37,
                            "sig": "…",
                            "wallet": "…",
                            "side": "buy",
                            "sol": 3.2,
                            "tokens": 94239055.852889,
                            "route": "signer_wallet",
                            "is_first_buy": true,
                            "wallet_class": "bundle",
                            "running_net_sol": 4.7
                          }
                        ],
                        "next_cursor": "449819861:37",
                        "more": true,
                        "next_url": "/v1/mint/{mint}/flow?since=449819861:37",
                        "summary": {
                          "last_60s": {
                            "window_s": 60,
                            "trades": 14,
                            "buys": 9,
                            "sells": 5,
                            "unique_buyers": 8,
                            "unique_sellers": 4,
                            "first_buys": 6,
                            "buy_sol": 4.81,
                            "sell_sol": 2.95,
                            "net_sol": 1.86,
                            "largest_buyer": {
                              "wallet": "…",
                              "sol": 1.2,
                              "share": 0.24948
                            },
                            "largest_seller": {
                              "wallet": "…",
                              "sol": 1.4,
                              "share": 0.474576
                            }
                          },
                          "last_300s": {
                            "window_s": 300,
                            "trades": 61,
                            "buys": 40,
                            "sells": 21,
                            "unique_buyers": 33,
                            "unique_sellers": 17,
                            "first_buys": 36,
                            "buy_sol": 21.4,
                            "sell_sol": 12.3,
                            "net_sol": 9.1,
                            "largest_buyer": {
                              "wallet": "…",
                              "sol": 3.2,
                              "share": 0.149533
                            },
                            "largest_seller": {
                              "wallet": "…",
                              "sol": 2.1,
                              "share": 0.170732
                            }
                          }
                        },
                        "demand": {
                          "buys": 88,
                          "unique_buyers": 61,
                          "buys_per_buyer": 1.443,
                          "buy_sol": 38.2,
                          "buy_share_by_class": {
                            "bundle": 0.21,
                            "dev": 0.039,
                            "none": 0.712,
                            "skilled": 0.039
                          },
                          "round_trip_wallets": 19,
                          "round_trip_share": 0.274,
                          "crowded_slot_min_buyers": 4,
                          "crowded_slot_buy_share": 0.18
                        },
                        "cohorts": {
                          "version": "cohorts-1",
                          "top1_share": 0.094239,
                          "top10_share": 0.3544,
                          "union_share": 0.163745,
                          "slot_windows": {
                            "bundlers": [
                              0,
                              1
                            ],
                            "snipers": [
                              2,
                              8
                            ]
                          },
                          "basis": {
                            "slot_ms": 250,
                            "slot_ms_measured": 266.9,
                            "regime_from_slot": 447984000,
                            "regime_from": "2026-09-18T05:06:43Z",
                            "regime_by": "create_slot",
                            "bundle_max_offset": 1,
                            "sniper_window_s": 2,
                            "sniper_max_offset": 8,
                            "sniper_window_measured_s": 2.135
                          },
                          "unbooked_sol": 0,
                          "shares_complete": true,
                          "sol_complete": true,
                          "sol_reason": null,
                          "dev": {
                            "share_of_supply": 0.051095,
                            "n_wallets": 1,
                            "n_holding": 1,
                            "buy_sol": 1.5,
                            "sell_sol": 0,
                            "net_sol": 1.5,
                            "wallets": [
                              {
                                "wallet": "…",
                                "share_of_supply": 0.051095,
                                "first_slot_offset": 0,
                                "net_sol": 1.5,
                                "history": {
                                  "mints": 2,
                                  "bundled": 0,
                                  "quick_sells": 0,
                                  "settled": 2,
                                  "rugged": 1,
                                  "graduated": 0
                                }
                              }
                            ],
                            "source": "tape+funding_capture",
                            "reason": null,
                            "n_funded_by_creator": 0
                          },
                          "bundlers": {
                            "share_of_supply": 0.094239,
                            "n_wallets": 1,
                            "n_holding": 1,
                            "buy_sol": 3.2,
                            "sell_sol": 0,
                            "net_sol": 3.2,
                            "wallets": [
                              {
                                "wallet": "…",
                                "share_of_supply": 0.094239,
                                "first_slot_offset": 1,
                                "net_sol": 3.2,
                                "history": {
                                  "mints": 27,
                                  "bundled": 25,
                                  "quick_sells": 24,
                                  "settled": 20,
                                  "rugged": 13,
                                  "graduated": 0
                                }
                              }
                            ],
                            "source": "tape",
                            "reason": null
                          },
                          "snipers": {
                            "share_of_supply": 0.018411,
                            "n_wallets": 3,
                            "n_holding": 2,
                            "buy_sol": 1.9,
                            "sell_sol": 0.72,
                            "net_sol": 1.18,
                            "wallets": [
                              {
                                "wallet": "…",
                                "share_of_supply": 0.012304,
                                "first_slot_offset": 3,
                                "net_sol": 0.6,
                                "history": {
                                  "mints": 0,
                                  "bundled": 0,
                                  "quick_sells": 0,
                                  "settled": 0,
                                  "rugged": 0,
                                  "graduated": 0
                                }
                              },
                              {
                                "wallet": "…",
                                "share_of_supply": 0.006107,
                                "first_slot_offset": 5,
                                "net_sol": 0.58,
                                "history": {
                                  "mints": 140,
                                  "bundled": 2,
                                  "quick_sells": 131,
                                  "settled": 112,
                                  "rugged": 70,
                                  "graduated": 3
                                }
                              },
                              {
                                "wallet": "…",
                                "share_of_supply": 0,
                                "first_slot_offset": 2,
                                "net_sol": 0,
                                "history": {
                                  "mints": 19,
                                  "bundled": 2,
                                  "quick_sells": 17,
                                  "settled": 15,
                                  "rugged": 9,
                                  "graduated": 0
                                }
                              }
                            ],
                            "source": "tape",
                            "reason": null
                          },
                          "fresh_wallets": {
                            "share_of_supply": null,
                            "n_wallets": null,
                            "n_holding": null,
                            "buy_sol": null,
                            "sell_sol": null,
                            "net_sol": null,
                            "wallets": null,
                            "source": "unavailable",
                            "reason": "not served: no store of ours records a wallet's first-ever activity; reputation.new_wallets_share is the share held by wallets new to our own tape (see /v1/labels, cohorts.fresh_wallets)"
                          },
                          "omitted": {
                            "insiders": "not served: buying before the token was publicly visible is not observable from our capture beyond the create transaction itself (see /v1/labels, cohorts.insiders)"
                          },
                          "reputation": {
                            "version": "reputation-1",
                            "status": "ready",
                            "known_dumpers_share": 0.1127,
                            "repeat_bundlers_share": 0.094239,
                            "new_wallets_share": 0.0862,
                            "n_known_dumpers": 4,
                            "n_repeat_bundlers": 1,
                            "n_new_wallets": 11,
                            "n_holders": 38,
                            "basis": {
                              "tape_since": "2026-09-27T00:18:34Z",
                              "history_from": "2026-09-27T00:19:00Z",
                              "history_to": "2026-09-28T07:43:11Z",
                              "history_hours": 31.4,
                              "gaps": 0,
                              "store_lag_s": 0.8,
                              "quick_sell_s": 60,
                              "min_prior_mints": 3,
                              "retention": "history since tape_since; a wallet seen on one mint is forgotten 14 days after it was last seen; wallets on 2+ mints are kept (cap 2,000,000, least recently seen first)",
                              "labels": "/v1/labels (reputation)"
                            },
                            "reason": null
                          }
                        },
                        "tape": {
                          "trades_on_tape": 61,
                          "dropped_oldest": 0,
                          "max_rows": 2000,
                          "complete_from_launch": true
                        },
                        "note": "Every booked bonding-curve trade from our own capture, in (slot, index) order; sol is what entered or left the curve in the transaction (fees paid outside the curve are not in it); running_net_sol is the SOL the curve holds after the trade."
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required (x402 v2): header PAYMENT-REQUIRED = base64 of the body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          },
          "404": {
            "description": "not found or invalid: mint is not a pump.fun mint with full live coverage; check /v1/check/coverage first. ({ok:false, error, hint})"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "paid"
        ],
        "security": [],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {
                "x402Version": 2,
                "scheme": "exact",
                "accepts": [
                  {
                    "scheme": "exact",
                    "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                    "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                    "amount": "10000",
                    "payTo": "9HkwyUhDMyjbpSpnyu5xuZ9vRaFQeajnJsavhie7XcsT",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "feePayer": "D6ZhtNQ5nT9ZnTHUbqXZsTx5MH2rPFiBBggX4hY1WePM"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:8453",
                    "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                    "amount": "10000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "USD Coin",
                      "version": "2"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:4663",
                    "asset": "0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168",
                    "amount": "10000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "Global Dollar",
                      "version": "1"
                    }
                  },
                  {
                    "scheme": "exact",
                    "network": "eip155:196",
                    "asset": "0x779Ded0c9e1022225f8E0630b35a9b54bE713736",
                    "amount": "10000",
                    "payTo": "0x25d408eF54e60F3006bD13d5A040d525E2F359c2",
                    "maxTimeoutSeconds": 60,
                    "extra": {
                      "name": "USD₮0",
                      "version": "1"
                    }
                  }
                ],
                "facilitators": {
                  "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp": "https://api.cdp.coinbase.com/platform/v2/x402",
                  "eip155:8453": "https://api.cdp.coinbase.com/platform/v2/x402",
                  "eip155:4663": "https://facilitator.naven.network",
                  "eip155:196": "https://facilitator.payai.network"
                }
              }
            }
          ]
        },
        "x-latency-ms": {
          "full": 20
        },
        "x-freshness-s": {
          "full": 5
        }
      }
    },
    "/v1/outcome/batch": {
      "get": {
        "summary": "Get outcome labels for up to 40 pump.fun mints, one payment",
        "description": "Use when you grade a list of your own rug or graduation calls or backtest a signal on pump.fun memecoins; for one mint the $0.001 single lookup costs less. One payment returns the outcome labels of one to 40 caller-selected pump.fun mints in the order asked with the fields and the fixed public rule of the single lookup GET /v1/outcome/{mint} and is charged once whatever the answers. Each item: rugged by the public rule and when, rugged within 300 s of launch, true graduation and migration time, the creator's first sell, peak and last curve SOL, the mayhem flag, whether each label is settled (resolved) and the rule version. A mint we never saw answers known:false; a list with no known mint, more than 40, a malformed or a repeated mint is refused unpaid. No probabilities and no opinions.",
        "operationId": "outcome_batch",
        "parameters": [
          {
            "name": "mints",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "One to 40 distinct mint addresses, comma-separated (MCP accepts an array).",
              "title": "Mints"
            },
            "description": "One to 40 distinct mint addresses, comma-separated (MCP accepts an array). A pasted link works too: pump.fun/coin/<mint>, gmgn.ai/sol/token/<mint>, solscan.io/token/<mint>, birdeye.so/token/<mint>, a Jupiter swap link or solana:<mint>; a DexScreener, Axiom or Photon link only when its id is a mint we know (a pair address is refused 400 pair_address_not_mint). The link is resolved before the 402, which names the resolved mint; an unreadable link is refused 400 url_not_recognised, unpaid."
          }
        ],
        "responses": {
          "200": {
            "description": "Paid response (header PAYMENT-RESPONSE carries the settlement)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "full": {
                    "value": {
                      "ok": true,
                      "schema_version": "2.0",
                      "coverage": "full",
                      "data": {
                        "count": 2,
                        "n_known": 1,
                        "n_resolved": 1,
                        "items": [
                          {
                            "mint": "73sfnFgqQzpSRZSimCC4sxpubqghRGYewYLmiUH2pump",
                            "known": true,
                            "source": "reputation",
                            "t0": 1788873631.485,
                            "launched_at": "2026-09-08T13:20:31Z",
                            "age_at_query_s": 1356368.5,
                            "creator": "4ESzFZUWUdr2GsgHBVeQKuzAmBWS5sRSaXw6PZH2EAau",
[...]
