{
  "openapi": "3.1.0",
  "info": {
    "title": "Anjal API",
    "version": "1.0.0",
    "description": "Anjal is a multi-tenant email API for AI agents.\n\nCreate inboxes on the default `@send.anjal.app` domain or your own custom\ndomains, send and receive mail, manage drafts, subscribe to real-time\nevents over WebSocket, and isolate resources across workspaces so your\nreseller customers can serve their own end-customers under a single\nbilling relationship.\n\nInstall the TypeScript SDK: `npm install anjal`\n([npm](https://www.npmjs.com/package/anjal))\n\nMCP server for Claude Desktop / Cursor: `npx -y anjal-mcp`\n([npm](https://www.npmjs.com/package/anjal-mcp))\n\n## Authentication\n\nEvery request is authenticated with the `X-API-Key` header (or\n`Authorization: Bearer <key>`). Four key prefixes, each with increasing\nscope:\n\n| Prefix   | Scope                                   | Use it for                              |\n|----------|-----------------------------------------|-----------------------------------------|\n| `sa_...` | Super admin                             | Tenant lifecycle (platform operator)    |\n| `tk_...` | Tenant master                           | Everything in your tenant across workspaces |\n| `wk_...` | Workspace master                        | One workspace only                      |\n| `ak_...` | Inbox (agent) scoped                    | One inbox — its messages, drafts, lists |\n\n## Resource hierarchy\n\n```\nTenant (billing root)\n└── Workspace  (isolation container)\n    ├── Inboxes\n    │   ├── Messages / Threads / Attachments\n    │   ├── Drafts\n    │   └── Lists\n    └── Domains\n```\n\n## Sending mail\n\nMail is sent via `POST /v1/inboxes/{id}/send`. Replies go through\n`/reply/{messageId}`, reply-all through `/reply-all/{messageId}`, and\nforwards through `/forward/{messageId}`. The `From` header always uses\nthe inbox's **primary alias** — add a custom-domain address with\n`POST /v1/inboxes/{id}/addresses` to change it.\n\n### Safe retries (Idempotency-Key)\n\nEvery send endpoint (`/send`, `/reply`, `/reply-all`, `/forward` and\n`POST /v1/inboxes/{id}/drafts/{did}/send`) accepts an `Idempotency-Key`\nheader. Send a unique value (a UUID works) and retry freely: the first\nrequest sends and stores its response; a retry with the same key and the\nidentical request returns that stored response with the header\n`Idempotent-Replayed: true` and sends nothing.\n\n| Situation | Result |\n|---|---|\n| Same key, different request (body, inbox or endpoint) | `409 IDEMPOTENCY_KEY_REUSED` |\n| Same key while the first request is still running | `409 IDEMPOTENCY_IN_PROGRESS` |\n| Header present but blank, or longer than 255 characters | `400 IDEMPOTENCY_KEY_INVALID` |\n| The first send failed (non-2xx) | The key is freed; retry with the same key |\n\nKeys are scoped to your account and expire after 24 hours.\n\n### Labels, open tracking, scheduled send\n\n- **Labels**: pass `labels` (array, or a comma-separated string) on any\n  send, reply, reply-all, forward or draft. Change them later with\n  `PATCH /v1/inboxes/{id}/messages/{messageId}` or\n  `PATCH /v1/inboxes/{id}/threads/{threadId}`, and filter lists with\n  `?labels=a,b`. Labels are stored lowercase and deduplicated; at most 32\n  per message, each at most 64 characters, no commas.\n- **Open tracking**: `trackOpens: true` on a send with an HTML body adds a\n  1x1 pixel (the stored copy never contains it). The first open fires\n  `message.opened`. Opens are a hint, not proof: Apple Mail Privacy\n  Protection fetches images on delivery, and clients that block images\n  never report an open.\n- **Scheduled send**: set `sendAt` on a draft and Anjal sends it at that\n  time. See the Drafts endpoints.\n- **Delivery status**: sent messages carry `deliveryStatus`\n  (`delivered`, `bounced`, `complained` or `rejected`; null until known)\n  and `deliveredAt`.\n\n## Receiving mail\n\nInbound mail arrives via SMTP on the default domain or any verified\ncustom domain. Subscribe to delivery events either by registering a\nwebhook (`POST /v1/webhooks`) or by opening a WebSocket\n(`wss://anjal.app/v1/ws`) — useful for in-line 2FA flows where\nthe agent doesn't have a public webhook receiver.\n",
    "x-jentic-source-url": "https://anjal.app/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://anjal.app",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/workspaces": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Create a workspace",
        "description": "Requires a tenant master key (`tk_...`). Workspaces are isolation containers — inboxes and domains created in one cannot be seen from another.",
        "operationId": "createWorkspace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Recruiter Corp"
                  },
                  "slug": {
                    "type": "string",
                    "example": "recruiter-corp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List workspaces",
        "operationId": "listWorkspaces",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workspace"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        }
      ],
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get a workspace",
        "operationId": "getWorkspace",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Delete a workspace",
        "description": "Cascades to all inboxes, domains, and scoped keys. Cannot delete the tenant's default workspace.",
        "operationId": "deleteWorkspace",
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{id}/keys": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        }
      ],
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Issue a workspace master key",
        "description": "Returns a `wk_...` key scoped to this workspace. The key is only shown in the response body — store it securely.",
        "operationId": "createWorkspaceKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceKey"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List workspace master keys",
        "operationId": "listWorkspaceKeys",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "prefix": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{id}/keys/{key_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        },
        {
          "name": "key_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Revoke a workspace master key",
        "operationId": "revokeWorkspaceKey",
        "responses": {
          "200": {
            "description": "Revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes": {
      "post": {
        "tags": [
          "Inboxes"
        ],
        "summary": "Create an inbox (idempotent on requested username)",
        "description": "Requires tenant master or workspace master key.\n\n## Username allocation\n- If `username` is set and your tenant **already** has an inbox at\n  `username@domain`, returns that inbox (HTTP **200**, body\n  contains `existed: true`). The call is idempotent — safe to\n  retry.\n- Otherwise tries to create `username@domain`. If the global\n  username is taken by another tenant, falls back to\n  `username1`, `username2`, … through `username99`. The actual\n  allocated username is in the response body.\n- Pass `?strict=true` to disable auto-fallback. With strict mode,\n  a global collision returns HTTP **409** with the conflicting\n  resource info instead of suffixing.\n\nIMAP/SMTP credentials — `apiKey` and `imapPassword` — are only\nreturned on first creation, never on idempotent returns.\n",
        "operationId": "createInbox",
        "parameters": [
          {
            "name": "strict",
            "in": "query",
            "description": "When `true`, the request fails with `409 USERNAME_TAKEN` if\nthe requested `username@domain` is already taken by another\ntenant. When omitted (default), we auto-fallback to\n`username1`, `username2`, etc.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Lowercase alphanumeric + `.-_`. Auto-generated from\nthe tenant name if omitted. **No tenant-id suffix is\nappended** — collisions are resolved via sequential\nnumeric fallback (e.g. `scout`, `scout1`, `scout2`).\n"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Defaults to anjal.app"
                  },
                  "workspaceId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "(Tenant master only) target workspace. Defaults to the tenant's default workspace."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idempotent return — your tenant already has an inbox at the\nrequested `username@domain`. `existed: true` is set on the\nbody. `apiKey` and `imapPassword` are NOT re-issued.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "201": {
            "description": "Newly created. `apiKey` and `imapPassword` are returned once — store them now.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "403": {
            "description": "Plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "`USERNAME_TAKEN` — only returned when `?strict=true` is set\nand `username@domain` is taken globally. Body includes\n`requestedUsername`, `attemptedUsername`, and `domain` for\nsingle-round-trip recovery. Default behavior auto-falls\nback without ever returning 409.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Inboxes"
        ],
        "summary": "List inboxes",
        "operationId": "listInboxes",
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "description": "Tenant master only — filter to a single workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inboxes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Inbox"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        }
      ],
      "get": {
        "tags": [
          "Inboxes"
        ],
        "summary": "Get an inbox",
        "description": "Returns the inbox detail including IMAP/SMTP credentials and the full address list.",
        "operationId": "getInbox",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Inboxes"
        ],
        "summary": "Update inbox display name or metadata",
        "description": "Username, domain, and canonical identity are immutable. Use `POST /v1/inboxes/{id}/addresses` to change the outbound From.",
        "operationId": "updateInbox",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Inboxes"
        ],
        "summary": "Delete an inbox",
        "description": "Soft-deletes the inbox, hard-deletes its alias rows, and removes the Stalwart principal. Prior threads and messages are preserved but hidden from listings.",
        "operationId": "deleteInbox",
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}/addresses": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        }
      ],
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Add an alias address",
        "description": "Attach another accepted address to this inbox. If `primary: true` (the default), it also becomes the outbound `From`. The domain must be either the default domain or a custom domain registered + verified to the same workspace.\n",
        "operationId": "addInboxAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "scout-abc123@delegated.cc"
                  },
                  "primary": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "address": {
                      "type": "string"
                    },
                    "isPrimary": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/v1/inboxes/{id}/addresses/{address}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "URL-encoded alias email"
        }
      ],
      "delete": {
        "tags": [
          "Addresses"
        ],
        "summary": "Remove an alias address",
        "description": "Cannot remove the canonical (initial) address. If the removed alias was primary, the canonical address becomes primary again.",
        "operationId": "removeInboxAddress",
        "responses": {
          "200": {
            "description": "Removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "address": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}/send": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        }
      ],
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send a message",
        "description": "Sends from this inbox. The `From` header is derived from the inbox's primary alias. Pass `verified: true` when you've validated the recipient domain out-of-band (e.g. via verify-email); otherwise, sends to an address that has never replied to this inbox are rejected as a deliverability safeguard.\n\nPass an `Idempotency-Key` header so a retry never sends twice. `labels` tags the sent message; `trackOpens: true` adds an open-tracking pixel to the HTML body. The `message.sent` webhook payload includes `labels`.\n",
        "operationId": "sendMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "subject"
                ],
                "properties": {
                  "to": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "cc": {
                    "description": "Cc recipient(s) — subject to the same MX + verified + abuse gates as `to`.",
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "bcc": {
                    "description": "Bcc recipient(s).",
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "subject": {
                    "type": "string"
                  },
                  "plainBody": {
                    "type": "string"
                  },
                  "htmlBody": {
                    "type": "string"
                  },
                  "replyTo": {
                    "type": "string",
                    "format": "email"
                  },
                  "verified": {
                    "type": "boolean",
                    "default": false
                  },
                  "labels": {
                    "$ref": "#/components/schemas/Labels"
                  },
                  "trackOpens": {
                    "type": "boolean",
                    "default": false,
                    "description": "Add an open-tracking pixel (HTML body only). See `SendExtras`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "threadId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "example": "sent"
                    },
                    "messageId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Inbox paused or plan limit reached"
          },
          "400": {
            "description": "Validation error, or IDEMPOTENCY_KEY_INVALID"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "502": {
            "description": "SMTP relay error"
          }
        }
      }
    },
    "/v1/inboxes/{id}/reply/{messageId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/MessageId"
        }
      ],
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Reply to a message",
        "description": "Replies preserve the thread (In-Reply-To + References) and the original recipient.",
        "operationId": "replyMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plainBody": {
                    "type": "string"
                  },
                  "htmlBody": {
                    "type": "string"
                  },
                  "cc": {
                    "description": "Extra Cc recipient(s) on top of the thread's original recipient.",
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "bcc": {
                    "description": "Bcc recipient(s).",
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "labels": {
                    "$ref": "#/components/schemas/Labels"
                  },
                  "trackOpens": {
                    "type": "boolean",
                    "default": false,
                    "description": "Add an open-tracking pixel (HTML body only). See `SendExtras`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sent"
          },
          "400": {
            "description": "Validation error, or IDEMPOTENCY_KEY_INVALID"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/v1/inboxes/{id}/reply-all/{messageId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/MessageId"
        }
      ],
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Reply-all to a message",
        "description": "Sends to the original sender plus every address in the original To list, with any of this inbox's own addresses filtered out.",
        "operationId": "replyAllMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plainBody": {
                    "type": "string"
                  },
                  "htmlBody": {
                    "type": "string"
                  },
                  "cc": {
                    "description": "Extra Cc recipient(s) on top of the auto-derived reply-all recipients.",
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "bcc": {
                    "description": "Bcc recipient(s).",
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "labels": {
                    "$ref": "#/components/schemas/Labels"
                  },
                  "trackOpens": {
                    "type": "boolean",
                    "default": false,
                    "description": "Add an open-tracking pixel (HTML body only). See `SendExtras`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sent"
          },
          "400": {
            "description": "Validation error, or IDEMPOTENCY_KEY_INVALID"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/v1/inboxes/{id}/forward/{messageId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/MessageId"
        }
      ],
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Forward a message",
        "description": "Prepends a \"Forwarded message\" header block and sends the combined body.",
        "operationId": "forwardMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to"
                ],
                "properties": {
                  "to": {
                    "oneOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "subject": {
                    "type": "string"
                  },
                  "plainBody": {
                    "type": "string"
                  },
                  "htmlBody": {
                    "type": "string"
                  },
                  "labels": {
                    "$ref": "#/components/schemas/Labels"
                  },
                  "trackOpens": {
                    "type": "boolean",
                    "default": false,
                    "description": "Add an open-tracking pixel (HTML body only). See `SendExtras`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sent"
          },
          "400": {
            "description": "Validation error, or IDEMPOTENCY_KEY_INVALID"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/v1/inboxes/{id}/threads": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        }
      ],
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "List threads",
        "description": "Newest first, each with its `labels`. `?labels=a,b` returns threads\nthat carry every label across their messages. Spam is left out unless\n`includeSpam=true`; a thread containing spam then carries `hasSpam: true`.\n",
        "operationId": "listThreads",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/OffsetQuery"
          },
          {
            "$ref": "#/components/parameters/LabelsQuery"
          },
          {
            "$ref": "#/components/parameters/IncludeSpamQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threads": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Thread"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}/threads/{threadId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "name": "threadId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get a thread with all messages",
        "operationId": "getThread",
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "Payload weight. `metadata` = no bodies; `snippet` = 200-char plain\nsnippet; `full` (default) = plainBody only; `raw` = plainBody +\nhtmlBody. htmlBody is ~95% of a thread's bytes — only request it\nwhen you actually need rendered HTML.\n",
            "schema": {
              "type": "string",
              "enum": [
                "metadata",
                "snippet",
                "full",
                "raw"
              ],
              "default": "full"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "threadId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "messageCount": {
                      "type": "integer"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Messages"
        ],
        "summary": "Update a thread",
        "description": "Applies to every message in the thread: labels (replace with `labels`,\nor change with `addLabels` / `removeLabels`), read, starred, archived\nand spam. Labelling a thread labels each of its messages.\n",
        "operationId": "updateThread",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "labels": {
                    "$ref": "#/components/schemas/Labels"
                  },
                  "addLabels": {
                    "$ref": "#/components/schemas/Labels"
                  },
                  "removeLabels": {
                    "$ref": "#/components/schemas/Labels"
                  },
                  "isRead": {
                    "type": "boolean"
                  },
                  "isStarred": {
                    "type": "boolean"
                  },
                  "isArchived": {
                    "type": "boolean"
                  },
                  "isSpam": {
                    "type": "boolean",
                    "description": "true moves the thread to Spam; false recovers it."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated": {
                      "type": "boolean"
                    },
                    "threadId": {
                      "type": "string"
                    },
                    "messageCount": {
                      "type": "integer"
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Messages"
        ],
        "summary": "Delete a thread",
        "description": "Soft-deletes every message in the thread (moves them to Trash), the same way deleting one message does.",
        "operationId": "deleteThread",
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "threadId": {
                      "type": "string"
                    },
                    "messageCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "List messages across inboxes",
        "description": "One list across every inbox the key can see (tenant, workspace, inbox or\nteammate scope). `?labels=a,b` returns messages carrying every label;\nwith `group=thread` it matches whole threads (a thread matches when any\nof its messages carries the labels) and each row carries the thread's\n`labels`.\n",
        "operationId": "listAllMessages",
        "parameters": [
          {
            "name": "folder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "inbox",
                "sent",
                "starred",
                "archived",
                "spam",
                "trash"
              ],
              "default": "inbox"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "`thread` returns one row per thread (its latest message).",
            "schema": {
              "type": "string",
              "enum": [
                "thread"
              ]
            }
          },
          {
            "name": "inboxId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/LabelsQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/OffsetQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/labels": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "List labels in use",
        "description": "Every label in use, with how many threads carry it. Same scoping as `GET /v1/messages`.",
        "operationId": "listLabels",
        "parameters": [
          {
            "name": "inboxId",
            "in": "query",
            "description": "Limit to one inbox.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "example": "needs-review"
                          },
                          "threads": {
                            "type": "integer",
                            "example": 4
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/search": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Search messages (full-text, cross-inbox)",
        "description": "Full-text search across every inbox the key can see (tenant-, workspace-,\nor inbox-scoped automatically by key tier). Matches subject, plain-text\nbody, and participant addresses. Returns lightweight hits — ids,\nparticipants, subject, receivedAt, hasAttachments, and a ~200-character\nsnippet centred on the match — never htmlBody, so results stay small\nenough for an agent to consume in one call, then fetch the winning\nmessage/thread in full.\n",
        "operationId": "searchMessages",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Full-text across subject, body, and participants.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inboxId",
            "in": "query",
            "description": "Scope to one inbox. Omit = all inboxes the key can see.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter by sender address or domain (substring match).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participant",
            "in": "query",
            "description": "Match from OR to OR cc (address or domain).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "inbound",
                "outbound"
              ]
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "hasAttachment",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "attachmentFilename",
            "in": "query",
            "description": "Match an attachment filename substring (e.g. `invoice`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/OffsetQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "messageId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "threadId": {
                            "type": "string",
                            "format": "uuid",
                            "nullable": true
                          },
                          "inboxId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "inboxUsername": {
                            "type": "string"
                          },
                          "inboxDomain": {
                            "type": "string"
                          },
                          "direction": {
                            "type": "string",
                            "enum": [
                              "inbound",
                              "outbound"
                            ]
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "receivedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "hasAttachments": {
                            "type": "boolean"
                          },
                          "snippet": {
                            "type": "string",
                            "description": "~200 chars of plain body centred on the match."
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    },
                    "nextOffset": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}/messages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        }
      ],
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "List messages",
        "description": "Lists messages in an inbox. Tracking fields (firstOpenedAt,\nopenCount, firstClickedAt, clickCount, etc.) are returned on every\nrow — no separate detail fetch needed for an engagement-aware view.\nEach row also carries a ~200-char plain-body `snippet` for triage\nwithout fetching the full message. Filters can be combined.\n\nEvery row carries `labels`, `isSpam` and, for sent mail,\n`deliveryStatus` and `deliveredAt`. Spam is left out unless\n`includeSpam=true`.\n",
        "operationId": "listMessages",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/OffsetQuery"
          },
          {
            "$ref": "#/components/parameters/LabelsQuery"
          },
          {
            "$ref": "#/components/parameters/IncludeSpamQuery"
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "inbound",
                "outbound"
              ]
            }
          },
          {
            "name": "opened",
            "in": "query",
            "description": "When true, return only messages with open_count > 0.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "clicked",
            "in": "query",
            "description": "When true, return only messages with click_count > 0. Useful for\ncadence engines listing engaged leads who haven't yet replied.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "engagedSince",
            "in": "query",
            "description": "ISO-8601 timestamp. Returns only messages whose lastOpenedAt OR\nlastClickedAt is at or after this time. Use for incremental\npolling — pass the timestamp of your last successful sync.\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}/messages/{messageId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/MessageId"
        }
      ],
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get a message",
        "description": "Returns full bodies plus attachment metadata. Also marks the message as read.\n\nSome mail clients paste a screenshot straight into the HTML as a `data:`\nURI, which can be hundreds of KB inside `htmlBody`. Pass\n`inlineImages=refs` to get each one replaced by `attachment:<id>`, the\nid of the attachment holding the same image, and that attachment marked\n`inline: true`. Fetch it from the attachments endpoint. The response then\nalso carries `inlineImages: { replaced, unmatched }`; `unmatched` counts\nimages that had no matching attachment and were removed with no pointer.\nWithout the parameter `htmlBody` is returned exactly as received.\n",
        "operationId": "getMessage",
        "parameters": [
          {
            "name": "inlineImages",
            "in": "query",
            "required": false,
            "description": "`refs` replaces inline `data:` images in `htmlBody` with `attachment:<id>` references.",
            "schema": {
              "type": "string",
              "enum": [
                "refs"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Messages"
        ],
        "summary": "Update a message",
        "description": "Change labels (replace with `labels`, or change with `addLabels` /\n`removeLabels`) and state (read, starred, archived, spam). Returns the\nmessage's labels after the change.\n",
        "operationId": "updateMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "labels": {
                    "$ref": "#/components/schemas/Labels"
                  },
                  "addLabels": {
                    "$ref": "#/components/schemas/Labels"
                  },
                  "removeLabels": {
                    "$ref": "#/components/schemas/Labels"
                  },
                  "isRead": {
                    "type": "boolean"
                  },
                  "isStarred": {
                    "type": "boolean"
                  },
                  "isArchived": {
                    "type": "boolean"
                  },
                  "isSpam": {
                    "type": "boolean",
                    "description": "true moves it to Spam; false recovers it."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "isRead": {
                      "type": "boolean"
                    },
                    "isStarred": {
                      "type": "boolean"
                    },
                    "isArchived": {
                      "type": "boolean"
                    },
                    "isSpam": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Messages"
        ],
        "summary": "Soft-delete a message",
        "description": "Sets `deleted_at`. The row stays so thread history doesn't renumber; list queries filter deleted messages out.",
        "operationId": "deleteMessage",
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/inboxes/{id}/messages/{messageId}/raw": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/MessageId"
        }
      ],
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Download raw .eml source",
        "description": "Returns the full RFC 5322 source as `message/rfc822`. Only available for inbound messages; outbound messages do not persist their raw source.",
        "operationId": "getMessageRaw",
        "responses": {
          "200": {
            "description": "Raw email source",
            "content": {
              "message/rfc822": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Raw source not available"
          }
        }
      }
    },
    "/v1/inboxes/{id}/messages/{messageId}/attachments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/MessageId"
        }
      ],
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "List attachments on a message",
        "operationId": "listAttachments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attachments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AttachmentMeta"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}/messages/{messageId}/attachments/{aid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/MessageId"
        },
        {
          "$ref": "#/components/parameters/AttachmentId"
        }
      ],
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Download an attachment",
        "description": "Streams the raw attachment bytes with the original `Content-Type` and `Content-Disposition` headers.\n\nA PNG, JPEG, GIF or WebP is read for hidden instructions before an API key\nor agent is given it, because a model can look at an image the way it reads\na body. If the text in it reads like instructions aimed at an AI, or it\ncannot be checked, this returns `403 IMAGE_HELD` and a person can still open\nit in the dashboard. `503 IMAGE_HELD` means it could not be checked right now\nand is worth retrying. A signed-in person in the dashboard is never held, and\nneither is an inbox or account that has turned mail protection off.\n",
        "operationId": "getAttachment",
        "responses": {
          "200": {
            "description": "Attachment bytes",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "description": "The image is held (`IMAGE_HELD`), or its message is quarantined (`QUARANTINED`)"
          },
          "503": {
            "description": "The image could not be checked right now (`IMAGE_HELD`); retry shortly"
          }
        }
      }
    },
    "/v1/inboxes/{id}/messages/{messageId}/attachments/{aid}/download-url": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/MessageId"
        },
        {
          "$ref": "#/components/parameters/AttachmentId"
        }
      ],
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Get a short-lived download link for an attachment",
        "description": "For a file too big to pass through an agent's context (a PDF as base64 is\nmillions of characters). Returns a link to fetch the file with a plain\n`GET`, no API key. The link works for one attachment only, for 10 minutes\nand 3 uses; a `HEAD` request does not spend a use. It is served as a\ndownload, never rendered, and active types such as HTML and SVG are sent\nas `application/octet-stream`. The content is untrusted: it was written\nby the sender.\n\nRefused with `403 QUARANTINED` for a message held for review, and with\n`403 IMAGE_HELD` for an image whose text looks like instructions to an AI or\nwhich could not be checked (see the attachment download). A link stops\nworking if its message is held after the link was issued.\n",
        "operationId": "createAttachmentDownloadUrl",
        "responses": {
          "201": {
            "description": "Link issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attachmentId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "filename": {
                      "type": "string"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "sizeBytes": {
                      "type": "integer"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Fetch with GET. The token in it is the credential."
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "expiresInMinutes": {
                      "type": "integer",
                      "example": 10
                    },
                    "maxUses": {
                      "type": "integer",
                      "example": 3
                    },
                    "howTo": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The message is held for review (`QUARANTINED`)"
          },
          "404": {
            "description": "No such attachment on this message"
          }
        }
      }
    },
    "/downloads/{downloadId}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Fetch an attachment through a download link",
        "description": "The receiver for links from `download-url`. Not under `/v1` and takes no\nAPI key: the `t` token in the query string is the credential. Every\nfailure, whether the token is wrong, the link expired, its uses ran out,\nor the message is held, returns the same `404`, so a wrong guess learns\nnothing about whether a link exists.\n",
        "operationId": "getAttachmentByDownloadLink",
        "security": [],
        "parameters": [
          {
            "name": "downloadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "t",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Link token"
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment bytes, as a download",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Not valid, expired, used up, or held"
          }
        }
      }
    },
    "/v1/inboxes/{id}/attachment-uploads": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        }
      ],
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Get a one-time URL to upload a file to",
        "description": "For attaching a real file without putting its bytes in a request an agent\nhas to write out. Returns an `uploadUrl`. `PUT` the raw file to it with no\nAPI key, then attach it by passing `{ \"uploadId\": \"...\" }` in `attachments`\non a send, reply, reply-all, forward or draft call. One file, up to 10 MB,\nvalid for 60 minutes, and single-use in both directions: it can be uploaded\nto once and attached once.\n",
        "operationId": "createAttachmentUpload",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "filename"
                ],
                "properties": {
                  "filename": {
                    "type": "string",
                    "example": "report.pdf"
                  },
                  "contentType": {
                    "type": "string",
                    "example": "application/pdf"
                  },
                  "sizeBytes": {
                    "type": "integer",
                    "description": "If known, so an oversized file is refused before upload."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upload slot created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploadId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "uploadUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "maxBytes": {
                      "type": "integer"
                    },
                    "filename": {
                      "type": "string"
                    },
                    "howTo": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/uploads/{uploadId}": {
      "put": {
        "tags": [
          "Messages"
        ],
        "summary": "Upload a file to a one-time URL",
        "description": "The receiver for URLs from `attachment-uploads`. No API key: the `t` token\nin the query string is the credential. The body is the raw file bytes.\nA second upload to the same URL is refused, and so is any wrong or expired\ntoken, with the same `404`.\n",
        "operationId": "uploadAttachmentFile",
        "security": [],
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "t",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Upload token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploaded": {
                      "type": "boolean"
                    },
                    "uploadId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "filename": {
                      "type": "string"
                    },
                    "sizeBytes": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Already used",
            "or empty": null
          },
          "404": {
            "description": "Not valid or expired"
          },
          "413": {
            "description": "Larger than the slot allows"
          }
        }
      }
    },
    "/v1/inboxes/{id}/drafts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        }
      ],
      "post": {
        "tags": [
          "Drafts"
        ],
        "summary": "Create a draft",
        "description": "`labels` are applied to the message when the draft is sent. Set\n`sendAt` to schedule the send: Anjal sends it at that time, no cron\nneeded.\n",
        "operationId": "createDraft",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          },
          "400": {
            "description": "Validation error, e.g. sendAt in the past, more than 90 days ahead, or a scheduled draft without recipients or a body"
          }
        }
      },
      "get": {
        "tags": [
          "Drafts"
        ],
        "summary": "List drafts",
        "description": "`scheduled=true` lists only drafts waiting to be sent, soonest first. A failed scheduled send shows `sendError`.",
        "operationId": "listDrafts",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/OffsetQuery"
          },
          {
            "name": "scheduled",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "drafts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Draft"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}/drafts/{did}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/DraftId"
        }
      ],
      "get": {
        "tags": [
          "Drafts"
        ],
        "summary": "Get a draft",
        "operationId": "getDraft",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Draft"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Drafts"
        ],
        "summary": "Update a draft",
        "description": "Merge-patch. Omitted fields are left as-is. Set `sendAt` to schedule or\nreschedule the send (this also clears `sendError`); `sendAt: null`\ncancels it.\n",
        "operationId": "updateDraft",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Draft"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "updated": {
                          "type": "boolean"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "tags": [
          "Drafts"
        ],
        "summary": "Delete a draft",
        "operationId": "deleteDraft",
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/inboxes/{id}/drafts/{did}/send": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/DraftId"
        }
      ],
      "post": {
        "tags": [
          "Drafts"
        ],
        "summary": "Send a draft",
        "description": "Sends the current draft contents now and deletes the draft atomically. If the draft has `replyToMessageId`, the sent message is threaded as a reply. The draft's `labels` are applied to the sent message. Accepts an `Idempotency-Key` header.",
        "operationId": "sendDraft",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "threadId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string"
                    },
                    "messageId": {
                      "type": "string"
                    },
                    "draftId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error, or IDEMPOTENCY_KEY_INVALID"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          }
        }
      }
    },
    "/v1/inboxes/{id}/lists": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        }
      ],
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "List lists",
        "operationId": "listLists",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/List"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Create a list",
        "operationId": "createList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inboxes/{id}/lists/{lid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/ListId"
        }
      ],
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get a list with entries",
        "operationId": "getList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Lists"
        ],
        "summary": "Delete a list",
        "operationId": "deleteList",
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/inboxes/{id}/lists/{lid}/entries": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/ListId"
        }
      ],
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Add a list entry",
        "operationId": "addListEntry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEntry"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/v1/inboxes/{id}/lists/{lid}/entries/{eid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/InboxId"
        },
        {
          "$ref": "#/components/parameters/ListId"
        },
        {
          "name": "eid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "delete": {
        "tags": [
          "Lists"
        ],
        "summary": "Remove a list entry",
        "operationId": "removeListEntry",
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/domains": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Register a custom domain",
        "description": "Returns the DNS records you need to set at your registrar. Domain starts in `pending` status until you call the verify endpoint.\n\n**Domains that already get mail elsewhere (Google Workspace, Microsoft 365).**\nIf the domain has MX records at another provider and you pass neither\n`sharedWith` nor `replaceMailProvider`, the call returns\n`422 DOMAIN_HAS_MAIL_PROVIDER` with `detectedProvider`, `mx` and a\n`fix` string, because pointing the MX at Anjal would cut off that mail.\nYou then have three options:\n\n1. **Keep the provider** (`sharedWith: \"google\" | \"microsoft\" | \"other\"`).\n   No MX record is returned: the provider stays the main mail server.\n   The SPF TXT record is merged into the domain's existing SPF (its\n   `note` says to replace the existing record, since a domain may have\n   only one). Anjal's DMARC record is only included if the domain has\n   none. The response includes `routingSteps` for the provider's admin\n   console: for Google, a Default routing rule that sends mail for\n   non-recognized addresses to the Anjal host; for Microsoft, setting\n   the Accepted domain to Internal relay plus an outbound connector to\n   the Anjal smart host. In this setup the provider forwards mail for\n   addresses it doesn't know, so it keeps its own users and Anjal\n   receives mail only for addresses the provider doesn't have.\n2. **Use a subdomain** such as `agents.example.com`, which has no MX\n   yet and can point at Anjal without touching the main domain's mail.\n3. **Move all mail to Anjal** (`replaceMailProvider: true`). The MX\n   record returned replaces the current provider's.\n",
        "operationId": "createDomain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "example": "mail.example.com"
                  },
                  "workspaceId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "(Tenant master only) target workspace."
                  },
                  "sharedWith": {
                    "type": "string",
                    "enum": [
                      "google",
                      "microsoft",
                      "other"
                    ],
                    "description": "Keep this provider as the domain's main mail server and add Anjal mailboxes alongside it (`shared_with` also works)."
                  },
                  "replaceMailProvider": {
                    "type": "boolean",
                    "description": "Move all mail for the domain to Anjal (the returned MX record replaces the current one)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Domain"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "The domain already receives mail at another provider",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "DOMAIN_HAS_MAIL_PROVIDER"
                    },
                    "detectedProvider": {
                      "type": "string",
                      "enum": [
                        "google",
                        "microsoft",
                        "other"
                      ]
                    },
                    "mx": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "aspmx.l.google.com"
                      ]
                    },
                    "fix": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List domains",
        "operationId": "listDomains",
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domains": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains/{domain}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DomainName"
        }
      ],
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get a domain",
        "operationId": "getDomain",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Delete a domain",
        "operationId": "deleteDomain",
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/domains/{domain}/verify": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DomainName"
        }
      ],
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Verify a domain",
        "description": "Re-checks DNS records with the upstream ESP. If the domain is now verified, Mission Control atomically adds the new address as a primary alias on the inbox (preserving thread history). The first time this sees the domain verified, the `domain.verified` webhook fires.",
        "operationId": "verifyDomain",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "verified",
                        "failed"
                      ]
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "dnsRecords": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DnsRecord"
                      }
                    },
                    "sharedWith": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "google",
                        "microsoft",
                        "other",
                        null
                      ]
                    },
                    "routingSteps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Present only for shared domains."
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains/{domain}/zone-file": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DomainName"
        }
      ],
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Export BIND zone file",
        "description": "Returns the current DNS records as a BIND-format zone file fragment. Convenient for pasting into a DNS editor that accepts zone-file imports.",
        "operationId": "getDomainZoneFile",
        "responses": {
          "200": {
            "description": "Zone file text",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook",
        "description": "Subscribe a URL to one or more events. See `WebhookEvent` for the full list and the newer payloads.",
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "events"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "$ref": "#/components/schemas/WebhookEvent"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get a webhook",
        "operationId": "getWebhook",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update a webhook",
        "description": "Change url, events, or enabled state.",
        "operationId": "updateWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "$ref": "#/components/schemas/WebhookEvent"
                    }
                  },
                  "isActive": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook",
        "operationId": "deleteWebhook",
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/metrics": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "summary": "Query metrics",
        "description": "Returns counts (sent, received, bounced) and resource totals (inboxes, domains) for a time window. Workspace master keys are locked to their own workspace; tenant master keys can scope with query params.",
        "operationId": "getMetrics",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO-8601 or epoch seconds/ms. Defaults to 30 days ago."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO-8601 or epoch seconds/ms. Defaults to now."
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "inbox",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
[...]
