{
  "openapi": "3.1.0",
  "info": {
    "title": "VideoGen API",
    "version": "1.0.0",
    "description": "Programmatically generate images, videos, voiceovers, sound effects, and avatar clips. All tool runs are asynchronous: `POST /v1/tools/...` returns a `toolExecutionId`; poll `GET /v1/tools/executions/{toolExecutionId}` until `status` is `succeeded`, `failed`, or `cancelled`, or subscribe to webhooks. Workflow runs use `workflowRunId` (`vg_work_...`); poll `GET /v1/workflows/runs/{workflowRunId}`. All IDs are prefixed strings (e.g. `vg_tool_...`, `vg_work_...`, `vg_file_...`). Store them as-is and do not parse them.",
    "x-jentic-source-url": "https://api.videogen.io/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.videogen.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/workflows/script-to-video": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "operationId": "scriptToVideo",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Script to video",
        "description": "Creates a project and generates a narrated video from a prompt or script. Returns immediately with a workflow run id; poll or subscribe to webhooks for completion.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScriptToVideoRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Workflow run accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartWorkflowRunResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/voiceover-to-video": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "operationId": "voiceoverToVideo",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Voiceover to video",
        "description": "Creates a project from an uploaded voiceover file and generates a video with matching b-roll. Upload the voiceover via the files API first.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceoverToVideoRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Workflow run accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartWorkflowRunResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/slideshow-to-video": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "operationId": "slideshowToVideo",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Slideshow to video",
        "description": "Creates a project from an uploaded PDF or PowerPoint file and generates an AI-narrated video walking through each slide. Upload the file via `POST /v1/files/upload` first.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlideshowToVideoRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Workflow run accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartWorkflowRunResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/prompt-to-video-clip": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "operationId": "promptToVideoClip",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Prompt to video clip",
        "description": "Creates a project from a text prompt and generates one short AI video clip (up to 30 seconds). VideoGen first generates an opening frame from the prompt (optionally guided by reference images), then animates that frame into a video. Returns immediately with a workflow run id; poll or subscribe to webhooks for completion. For a standalone clip without an editable project, use `POST /v1/tools/generate-video-clip` instead. For longer narrated multi-scene videos, use `POST /v1/workflows/script-to-video`. The generated clip is clamped to the selected quality's supported range.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptToVideoClipRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Workflow run accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartWorkflowRunResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/runs": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "operationId": "listWorkflowRuns",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "List workflow runs",
        "description": "List workflow runs started via the API, most recently created first. Use `selfOnly=true` to restrict results to the calling API key's user; otherwise all runs for the team are returned. Cursor-paginated; see the [Pagination](/pagination) guide.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          },
          {
            "$ref": "#/components/parameters/SelfOnlyQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of workflow runs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowRunListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/runs/{workflowRunId}": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "operationId": "getWorkflowRun",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Get workflow run status",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowRunIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Current workflow run state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowRun"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/runs/{workflowRunId}/cancel": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "operationId": "cancelWorkflowRun",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Cancel a workflow run",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorkflowRunIdPath"
          }
        ],
        "responses": {
          "202": {
            "description": "Cancellation request accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartWorkflowRunResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "listProjects",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "List projects",
        "description": "Returns projects, most recently updated first, including projects created in the dashboard. Use `selfOnly=true` to restrict results to the calling API key's user; otherwise all matching projects for the team are returned. Cursor-paginated; see the [Pagination](/pagination) guide.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          },
          {
            "$ref": "#/components/parameters/SelfOnlyQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProjectsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "getProject",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Get project metadata",
        "description": "Returns a simplified view of a project including its title, aspect ratio, status, and URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Project metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/export": {
      "post": {
        "tags": [
          "Projects"
        ],
        "operationId": "exportProject",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Export a project as MP4",
        "description": "Starts an export of a project to MP4. Returns immediately with an export id; the file becomes available when the export task completes. Exporting requires a paid plan in the app, but the API lets you export for free with a VideoGen watermark and a short 'Made with VideoGen' end screen appended to the video. A Pro plan lets you remove both by setting `watermarkMode` and `endScreenMode` to `NONE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdPath"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportProjectRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Export accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportProjectResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/exports": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "listProjectExports",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "List project exports",
        "description": "Returns a project's exports, newest first, as fully hydrated `ProjectExport` objects (status, signed download/thumbnail URLs, and the embedded `file`). Signed URLs are re-signed when within an hour of expiring, so they are always valid long enough to use. Cursor-paginated; see the [Pagination](/pagination) guide.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdPath"
          },
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Project exports.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProjectExportsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/exports/{exportId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "getProjectExport",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Get project export",
        "description": "Returns the current status of a project export started via `POST /v1/projects/{projectId}/export`, and — once `status` is `succeeded` — the signed download/thumbnail URLs and the hydrated export `file`. Poll this endpoint until `status` is `succeeded`, `failed`, or `cancelled`. The signed URLs are private and valid for 7 days; this endpoint automatically re-signs them when they are within an hour of expiring, so a caller always receives a URL valid long enough to use. Every endpoint that returns hydrated files auto-rehydrates this way — only the file endpoints (`GET /v1/files/{fileId}` and `POST /v1/files/{fileId}/hydrate`) are the explicit, on-demand hydration paths. Use `exportFileId` with `POST /v1/files/{fileId}/hydrate` if you need to re-sign the export file directly later.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdPath"
          },
          {
            "$ref": "#/components/parameters/ExportIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Export status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectExport"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/timeline-interchange": {
      "post": {
        "tags": [
          "Projects"
        ],
        "operationId": "createTimelineInterchange",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Create a timeline interchange",
        "description": "Starts a timeline interchange job that converts a project into an editor interchange document (Final Cut Pro FCPXML, Adobe Premiere Pro XML, OpenTimelineIO, or an SRT caption sidecar). Returns immediately with an interchange job id; the file becomes available when the job completes. Unlike `POST /v1/projects/{projectId}/export` (which renders a flattened MP4), this preserves the project as an editable timeline of separate clips, tracks, and captions so you can keep editing it in a desktop video editor. Choose `mediaDelivery` to control how the document references media: `REMOTE_URLS` produces a single document that links to signed media URLs, while `BUNDLE` produces a zip containing the document plus every referenced media file for durable offline relinking.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdPath"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTimelineInterchangeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Timeline interchange accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTimelineInterchangeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/timeline-interchange/{interchangeJobId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "getTimelineInterchange",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Get timeline interchange job",
        "description": "Returns the current status of a timeline interchange job started via `POST /v1/projects/{projectId}/timeline-interchange`, and, once `status` is `succeeded`, the signed download URL and the hydrated interchange `file`. Poll this endpoint until `status` is `succeeded`, `failed`, or `cancelled`. The signed URL is private and valid for 7 days; this endpoint automatically re-signs it when it is within an hour of expiring. Use `interchangeFileId` with `POST /v1/files/{fileId}/hydrate` if you need to re-sign the file directly later.",
        "parameters": [
          {
            "$ref": "#/components/parameters/InterchangeJobIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline interchange status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimelineInterchange"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/remix": {
      "post": {
        "tags": [
          "Projects"
        ],
        "operationId": "remixProject",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Apply remix actions to a project",
        "description": "Applies an ordered list of edits (background music, logo overlay, caption visibility/style) to a project. Each action runs asynchronously as its own remix action; the response returns one remix action id per action in order. Set `saveAsNewProject` to apply the edits to a copy and leave the original untouched. Poll `GET /v1/projects/{projectId}/remix-actions` for status.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemixProjectRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Remix actions accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemixProjectResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/remix-actions": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "listProjectRemixActions",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "List remix actions for a project",
        "description": "Returns remix actions applied to a project (via `POST /v1/projects/{projectId}/remix` or as a post-workflow step), most recent first, with each action's status and progress. Cursor-paginated; see the [Pagination](/pagination) guide.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdPath"
          },
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Remix actions for the project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRemixActionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/generate-image": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "generateImage",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Generate image",
        "description": "Generate an image from a text prompt, optionally guided by reference images and actor, product, or visual-style entity ids. When reference images are provided, the prompt describes the desired transformation. VideoGen automatically routes each request to the most effective state-of-the-art image model for your prompt, reference images, entities, and quality tier, so you don't pick a model.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateImageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/generate-video-clip": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "generateVideoClip",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Generate video clip",
        "description": "Generate a single short video clip (up to 30 seconds) from a text prompt, optionally guided by an opening-frame still, reference images, videos, and audio. At least one of `prompt`, `startFrameFileId`, `imageFileIds`, `videoFileIds`, `audioFileIds`, or `spokenDialogue` must be provided. VideoGen automatically routes each request to the most effective state-of-the-art video model for your inputs and settings, so you don't pick a model. This endpoint returns one standalone clip. For longer, higher-quality, professionally edited videos with narration, captions, music, and multiple scenes, use a video workflow such as [Script to video](/workflows) (`POST /v1/workflows/script-to-video`) instead.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateVideoClipRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/generate-motion-graphic": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "generateMotionGraphic",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Generate motion graphic",
        "description": "Generate an animated motion graphic video from a text prompt. This is an experimental, fully agentic alternative to a video workflow: VideoGen plans the animation, optionally generates or fetches supporting media, and renders a self-contained animated clip. It is especially well suited to precise text animations (e.g. a typing effect, animated captions, kinetic typography, lower thirds) that are hard to express with stock or generated footage. Optionally pass uploaded `fileIds` for reference media and `entityIds` for actors, products, or visual styles the animation should use. This endpoint returns one standalone video. For longer, narrated, multi-scene videos, use a video workflow such as [Script to video](/workflows) (`POST /v1/workflows/script-to-video`) instead.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateMotionGraphicRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/text-to-speech": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "textToSpeech",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Text to speech",
        "description": "Convert text into a spoken audio file. Only voices with `supportsDirectToolExecution` set to true can be used. Optionally choose a voice, language, speed, and pronunciation overrides.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToSpeechRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/generate-sound-effect": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "generateSoundEffect",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Generate sound effect",
        "description": "Generate a sound effect from a text description. Optionally control the duration and prompt influence. VideoGen automatically routes each request to the most effective state-of-the-art sound effect model for your prompt and settings, so you don't pick a model.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateSoundEffectRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/generate-music": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "generateMusic",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Generate music",
        "description": "Generate an instrumental music track from a text description. The returned track is approximately 30 seconds long. VideoGen automatically routes each request to the most effective state-of-the-art music model for your prompt, so you don't pick a model.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateMusicRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/generate-avatar": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "generateAvatar",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Generate avatar clip",
        "description": "Generate a talking-head avatar video by pairing an ACTOR entity with an audio file, typically from a prior text-to-speech result.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAvatarRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/vectorize-image": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "vectorizeImage",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Vectorize image",
        "description": "Convert any raster image into a scalable vector graphic (SVG). The output traces the shapes and colors of the input image.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageAssetRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/remove-image-background": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "removeImageBackground",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Remove background from an image",
        "description": "Remove the background from an image, returning a transparent-background PNG of the foreground subject.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageAssetRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/remove-video-background": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "removeVideoBackground",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Remove background from a video",
        "description": "Remove the background from a video, producing a transparent-background video of the foreground subject.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoAssetRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/upscale-image": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "upscaleImage",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Upscale an image",
        "description": "Increase the resolution of an image while preserving detail and sharpness.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageAssetRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/upscale-video": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "upscaleVideo",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Upscale a video",
        "description": "Increase the resolution of a video while preserving detail and sharpness.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoAssetRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/image-3d-effect": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "image3dEffect",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Add 3D motion to an image",
        "description": "Turn a still image into a short video clip with a 3D parallax motion effect, simulating camera movement through the scene.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageAssetRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Execution accepted; poll until complete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/executions/{toolExecutionId}/cancel": {
      "post": {
        "tags": [
          "Tools"
        ],
        "operationId": "cancelToolExecution",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Cancel tool execution",
        "description": "Request cancellation of a running tool execution. The execution transitions to `cancelled` if it has not already completed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ToolExecutionIdPath"
          }
        ],
        "responses": {
          "202": {
            "description": "Cancellation request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartToolExecutionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/executions": {
      "get": {
        "tags": [
          "Tools"
        ],
        "operationId": "listToolExecutions",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "List tool executions",
        "description": "List tool executions started via the API, most recently created first. Use `selfOnly=true` to restrict results to the calling API key's user; otherwise all executions for the team are returned. Cursor-paginated; see the [Pagination](/pagination) guide. Executions remain listable indefinitely (including those older than 7 days). For efficiency this list does not re-sign result download URLs, so `downloadUrl`/`thumbnailUrl` reflect the last time they were signed and may be expired (always check `downloadUrlExpiresAt`). To obtain a fresh signed URL, GET the individual execution (`GET /v1/tools/executions/{toolExecutionId}`) or hydrate the file (`GET /v1/files/{fileId}` / `POST /v1/files/{fileId}/hydrate`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          },
          {
            "$ref": "#/components/parameters/SelfOnlyQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of tool executions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolExecutionListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tools/executions/{toolExecutionId}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "operationId": "getToolExecutionInfo",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Get tool execution info",
        "description": "Retrieve the current status and result of a tool execution. Poll this endpoint until `status` is `succeeded`, `failed`, or `cancelled`. Each succeeded result carries signed `downloadUrl`/`thumbnailUrl` (with matching `*ExpiresAt` timestamps) alongside the full hydrated `file`. The signed URLs are private and valid for 7 days; this single-execution endpoint automatically re-signs them when they are within an hour of expiring, so a caller always receives a URL valid long enough to use. Results remain retrievable indefinitely, including executions older than 7 days. Note that list endpoints (e.g. `GET /v1/tools/executions`) do not re-sign URLs: they return the last-signed URL, which may already be expired (check `downloadUrlExpiresAt`). To refresh a URL, GET the individual execution here, or hydrate the file directly via `GET /v1/files/{fileId}` / `POST /v1/files/{fileId}/hydrate`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ToolExecutionIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Current execution state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutedTool"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "operationId": "getFiles",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "List files",
        "description": "List files accessible to your team. By default this returns standalone files (direct tool-call outputs and uploads) and omits two categories: export files (the raw output files of your exports) and project files (the generative files created within a project, e.g. each AI image and text-to-speech file in a script-to-video workflow output). Set `includeExportFiles` and/or `includeProjectFiles` to true to include them. Use `selfOnly=true` to restrict results to files created by the calling API key's user. Files are returned most recently updated first. Cursor-paginated; see the [Pagination](/pagination) guide.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          },
          {
            "$ref": "#/components/parameters/SelfOnlyQuery"
          },
          {
            "$ref": "#/components/parameters/IncludeExportFilesQuery"
          },
          {
            "$ref": "#/components/parameters/IncludeProjectFilesQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "File list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFilesResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/search": {
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "searchFiles",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Search files",
        "description": "Semantic vector search over your files. Embeds the query text and returns the closest matching files ranked by cosine similarity. Only files with indexed descriptions are searchable.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results ordered by descending similarity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchFilesResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/{fileId}": {
      "get": {
        "tags": [
          "Files"
        ],
        "operationId": "getFile",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Get file",
        "description": "Retrieve metadata for a single file by its id.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "File metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/upload": {
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "createFileUpload",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Create file upload",
        "description": "Create a new file and receive a pre-signed upload URL. PUT the file bytes to the returned URL, then poll `GET /v1/files/{fileId}` until the file is ready.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload instructions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/{fileId}/hydrate": {
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "hydrateFile",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Hydrate file",
        "description": "Generate fresh signed URLs for all available renditions of a file. Call this when source URLs are missing or expired. Returns the full file object with populated `downloadSource`, `thumbnailSource`, and `previewSource` (and the convenience root-level `downloadUrl` / `thumbnailUrl`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "File with hydrated sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/{fileId}/archive": {
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "archiveFile",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Archive file",
        "description": "Archive a file by setting its archived timestamp. Archived files are excluded from list results. Returns the updated file object.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Archived file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/{fileId}/enable-public-preview": {
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "enablePublicPreview",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Enable public preview",
        "description": "Enable public preview for a file. Works for any file type. Copies the file to a permanent public URL (`staticPublicPreviewSource`) and, for video and audio, registers a public embed playback id (`publicPlaybackId`) for use with `@videogen/player`. If streaming playback is still processing, the endpoint polls briefly and background processing finishes creating the embed playback id. Returns the updated file.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "File with public preview enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/{fileId}/disable-public-preview": {
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "disablePublicPreview",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Disable public preview",
        "description": "Disable public preview for a file. Removes the permanent public URL copy and revokes unauthenticated embed streaming access. Authenticated signed URLs remain functional. Returns the updated file.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FileIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "File with public preview disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities": {
      "get": {
        "tags": [
          "Entities"
        ],
        "operationId": "listEntities",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "List entities",
        "description": "List built-in actors, products, visual styles, and slideshow themes, followed by the entities available to your team. Built-in entities have `isBuiltIn: true` and cannot be updated or archived. Cursor-paginated; see the [Pagination](/pagination) guide.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityTypeQuery"
          },
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Entity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEntitiesResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities"
        ],
        "operationId": "createEntity",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Create entity",
        "description": "Create a new actor or visual style. Attach reference images with `POST /v1/entities/{entityId}/references`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEntityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/{entityId}": {
      "get": {
        "tags": [
          "Entities"
        ],
        "operationId": "getEntity",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Get entity",
        "description": "Retrieve a single entity by its id, including its reference images. Built-in catalog entities are included.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/{entityId}/update": {
      "post": {
        "tags": [
          "Entities"
        ],
        "operationId": "updateEntity",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Update entity",
        "description": "Update an entity's name or description. Provide at least one field. Built-in entities (`isBuiltIn: true`) cannot be updated.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEntityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/{entityId}/archive": {
      "post": {
        "tags": [
          "Entities"
        ],
        "operationId": "archiveEntity",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Archive entity",
        "description": "Archive an entity. Archived entities no longer appear in `GET /v1/entities` and can't be attached to new workflows. Built-in entities (`isBuiltIn: true`) cannot be archived.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Archive acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityArchiveResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/{entityId}/references": {
      "post": {
        "tags": [
          "Entities"
        ],
        "operationId": "addEntityReference",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Add entity reference",
        "description": "Attach an image file as a reference for the entity. Upload the image first via `POST /v1/files/upload`. Returns the updated entity. Built-in entities (`isBuiltIn: true`) cannot have references added.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddEntityReferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entities/{entityId}/references/remove": {
      "post": {
        "tags": [
          "Entities"
        ],
        "operationId": "removeEntityReference",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Remove entity reference",
        "description": "Detach a reference image from the entity. Returns the updated entity. Built-in entities (`isBuiltIn: true`) cannot have references removed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveEntityReferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/assistants": {
      "post": {
        "tags": [
          "Assistant"
        ],
        "operationId": "startAssistantChat",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Start an assistant chat",
        "description": "Creates a new project and sends the first message to the VideoGen AI assistant, exactly like typing into the assistant on a new project in the app. Asynchronous: the response contains the `messageId` of the assistant's pending reply (e.g. `vg_mesg_...`). Poll `GET /v1/assistant-messages/{messageId}` until `status` is `succeeded`, `failed`, or `cancelled`, or subscribe to `assistant_message.*` webhooks. Fetch the parent assistant with `GET /v1/assistants/{assistantId}` to list all messages in the chat.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartAssistantChatRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Assistant message accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartAssistantChatResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/assistants/{assistantId}": {
      "get": {
        "tags": [
          "Assistant"
        ],
        "operationId": "getAssistant",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Get an assistant chat",
        "description": "Returns the assistant chat identified by `assistantId`, including every message in it (user and assistant turns) in chronological order.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AssistantIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "The assistant chat and its messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssistantResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/assistants/{assistantId}/messages": {
      "post": {
        "tags": [
          "Assistant"
        ],
        "operationId": "sendAssistantMessage",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Send an assistant message",
        "description": "Sends a follow-up message to an existing assistant chat started with `POST /v1/assistants`. Asynchronous: the response contains the `messageId` of the assistant's pending reply. Poll `GET /v1/assistant-messages/{messageId}` until `status` is terminal, or subscribe to `assistant_message.*` webhooks.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AssistantIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendAssistantMessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Assistant message accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendAssistantMessageResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/assistants/{assistantId}/actions/{actionId}": {
      "post": {
        "tags": [
          "Assistant"
        ],
        "operationId": "actOnAssistantAction",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Act on an assistant action",
        "description": "Acts on an actionable widget the assistant offered on a prior turn. Reference the action by its `actionId` from a prior assistant message. `APPROVE` (the default) completes the action; `REJECT` records the rejection. Two kinds are actionable via the API: accepting a workflow suggestion (`APPROVE` applies the suggested workflow and immediately starts generating; the returned assistant message carries the workflow run in `generation`), and applying an assistant edit (an `APPLY_EDIT` action with `requiresApp` false, which applies the edit to the project). Actions with `requiresApp` set to true (plans, tools, and other app-only widgets) can only be completed in the web app: open the assistant's `projectUrl` instead. Asynchronous: the response contains the `messageId` of the resulting assistant message. Poll `GET /v1/assistant-messages/{messageId}` for its terminal state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AssistantIdPath"
          },
          {
            "name": "actionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `actionId` of the action to act on, from a prior assistant message."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActOnAssistantActionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Assistant action accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActOnAssistantActionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/assistant-messages/{messageId}": {
      "get": {
        "tags": [
          "Assistant"
        ],
        "operationId": "getAssistantMessage",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Get an assistant message",
        "description": "Returns a single assistant chat message by id. Poll after a POST that returned `messageId` until `status` is `succeeded`, `failed`, or `cancelled`. Also supported for `USER` messages (which reach terminal state as soon as they're accepted).",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "The assistant chat message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantMessage"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/text/generate": {
      "post": {
        "tags": [
          "Text"
        ],
        "operationId": "generateText",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Generate text",
        "description": "Generate text from a prompt using a general-purpose language model. Choose a quality tier with `quality` (`LOW`, `STANDARD`, `HIGH`, or `MAX`). Synchronous: the response includes the generated text. Useful for drafting scripts, titles, descriptions, and other short copy before generating a video.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated text.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTextResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/resources/tts-voices": {
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "listTtsVoices",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "List TTS voices",
        "description": "List available text-to-speech voices. Pass a `voiceId` or `displayName` from the response to the text-to-speech endpoint. Cursor-paginated; see the [Pagination](/pagination) guide. Pass `query` to filter by voice id, display name, language, accent, or description.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          },
          {
            "$ref": "#/components/parameters/IncludeDeprecatedVoicesQuery"
          },
          {
            "$ref": "#/components/parameters/CatalogueQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of TTS voices. Pass a `voiceId` or `displayName` to `POST /v1/tools/text-to-speech`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TtsVoiceListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/resources/languages": {
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "listLanguages",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "List supported languages",
        "description": "List the languages a project can be translated into. Pass a `languageCode` from the response to the `TRANSLATE_PROJECT` remix action. Returns the full catalogue in a single response (not paginated). Pass `query` to filter by language code or English name.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CatalogueQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "List of supported languages. Pass a `languageCode` to a `TRANSLATE_PROJECT` remix action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "listWebhookEndpoints",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "List webhooks",
        "description": "List configured webhook endpoints for your account. Cursor-paginated; see the [Pagination](/pagination) guide.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Configured endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "createWebhookEndpoint",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Create webhook",
        "description": "Register a new webhook endpoint to receive `tool_execution.*`, `workflow_run.*`, and `file.*` events. The signing secret is only returned in this response. Store it securely.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookEndpointRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created; `signingSecret` is only returned in this response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/endpoints/{endpointId}": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "deleteWebhookEndpoint",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Delete webhook",
        "description": "Remove a webhook endpoint. It will stop receiving events immediately.",
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookEndpointIdPath"
          }
        ],
        "responses": {
          "204": {
            "description": "Removed"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getMe",
        "x-fern-audiences": [
          "rest"
        ],
        "summary": "Get current account",
        "description": "Return the account and team behind the API key making the request. Takes no parameters. Call it as a connection test to confirm a key is valid and to discover the `teamId` and account `email` a key belongs to.",
        "responses": {
          "200": {
            "description": "The account and team for the authenticated API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "tool_execution.awaiting_approval": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "toolExecutionAwaitingApproval",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "tool_execution.awaiting_approval",
        "description": "Delivered when a generated tool result conflicts with newer project edits and needs explicit approval in the project's Tasks drawer. The result is retained; generation has not failed and the project has not been overwritten.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolExecutionWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "tool_execution.succeeded": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "toolExecutionSucceeded",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "tool_execution.succeeded",
        "description": "Delivered when a tool execution completes successfully.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolExecutionWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "tool_execution.failed": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "toolExecutionFailed",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "tool_execution.failed",
        "description": "Delivered when a tool execution fails.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolExecutionWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "tool_execution.cancelled": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "toolExecutionCancelled",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "tool_execution.cancelled",
        "description": "Delivered when a tool execution is cancelled.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolExecutionWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "workflow_run.awaiting_approval": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "workflowRunAwaitingApproval",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "workflow_run.awaiting_approval",
        "description": "Delivered when a retained workflow result conflicts with newer project edits and needs explicit approval in the project's Tasks drawer. This is not successful application or a generation failure.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowRunWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "workflow_run.succeeded": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "workflowRunSucceeded",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "workflow_run.succeeded",
        "description": "Delivered when a workflow run completes successfully.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowRunWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "workflow_run.failed": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "workflowRunFailed",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "workflow_run.failed",
        "description": "Delivered when a workflow run fails.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowRunWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "workflow_run.cancelled": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "workflowRunCancelled",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "workflow_run.cancelled",
        "description": "Delivered when a workflow run is cancelled.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowRunWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "project_export.succeeded": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "projectExportSucceeded",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "project_export.succeeded",
        "description": "Delivered when a project export started via the API completes successfully.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectExportWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "project_export.failed": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "projectExportFailed",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "project_export.failed",
        "description": "Delivered when a project export started via the API fails.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectExportWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "project_export.cancelled": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "projectExportCancelled",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "project_export.cancelled",
        "description": "Delivered when a project export started via the API is cancelled.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectExportWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "file.upload.completed": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "fileUploadCompleted",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "file.upload.completed",
        "description": "Delivered when a file upload finishes and the file is stored. Only fired for files uploaded via the API.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "file.upload.failed": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "fileUploadFailed",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "file.upload.failed",
        "description": "Delivered when a file upload fails. Only fired for files uploaded via the API.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "file.playback_ready": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "filePlaybackReady",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "file.playback_ready",
        "description": "Delivered when a file is ready for streaming playback. Only fired for files uploaded via the API.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "file.download_ready": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "fileDownloadReady",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "file.download_ready",
        "description": "Delivered when a file is ready for download. Only fired for files uploaded via the API.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "file.analysis_completed": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "fileAnalysisCompleted",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "file.analysis_completed",
        "description": "Delivered when file analysis (display name, description, transcript, embedding) completes. Only fired for files uploaded via the API. The file's display name may be replaced with a short name based on the content and the original filename.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "file.analysis_failed": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "fileAnalysisFailed",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "file.analysis_failed",
        "description": "Delivered when file analysis fails. Only fired for files uploaded via the API.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "assistant_message.succeeded": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "assistantMessageSucceeded",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "assistant_message.succeeded",
        "description": "Delivered when an assistant message completes successfully.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantMessageWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "assistant_message.failed": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "assistantMessageFailed",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "assistant_message.failed",
        "description": "Delivered when an assistant message fails.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantMessageWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    },
    "assistant_message.cancelled": {
      "post": {
        "tags": [
          "Webhook events"
        ],
        "operationId": "assistantMessageCancelled",
        "x-fern-audiences": [
          "webhook-events"
        ],
        "summary": "assistant_message.cancelled",
        "description": "Delivered when an assistant message is cancelled.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantMessageWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque",
        "description": "API key from [app.videogen.io/api](https://app.videogen.io/api). The full key is only shown once when you create it."
      }
    },
    "parameters": {
      "PaginationLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 50
        },
        "description": "Maximum number of items to return in the page. Defaults to 50; capped at 200. See [Pagination](/pagination)."
      },
      "PaginationCursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "schema": {
[...]
