{
  "openapi": "3.1.0",
  "info": {
    "title": "Disify API",
    "description": "REST API for disposable email detection, email validation, and MX record checking.\nCore checks work anonymously; API keys add account limits and plan features.\nPer-minute limits count HTTP requests. Daily/monthly quotas count validation\ninputs, with duplicates removed within each bulk request. Repeated requests count again.\nCheck HTTP status before interpreting validation fields. A successful check\ndoes not prove mailbox ownership or guarantee delivery.\nThis specification covers the primary routes; legacy path suffixes for\nbulk input, premium features, and downloads are described in the documentation.\n",
    "version": "2.2.0",
    "contact": {
      "name": "Disify",
      "url": "https://disify.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://disify.com/terms"
    },
    "x-jentic-source-url": "https://disify.com/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://disify.com/api",
      "description": "Production"
    }
  ],
  "paths": {
    "/email/{email}": {
      "get": {
        "tags": [
          "Email"
        ],
        "summary": "Validate email address",
        "description": "Check an email address for disposable indicators, including per-email alias detection.\nAlso validates format, DNS/MX records, and detects role accounts and free providers.\n",
        "operationId": "validateEmailGet",
        "parameters": [
          {
            "$ref": "#/components/parameters/Features"
          },
          {
            "$ref": "#/components/parameters/BlockPrivacyRelays"
          },
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "user@mailinator.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidationResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/email": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Validate email (POST)",
        "description": "Same as GET but accepts email in request body. Also supports bulk validation\nby passing bulk=1. Always handle both\nsynchronous and queued responses, including for small batches. Batches\nof at most 100 unique entries attempt synchronous processing; if their\nprocessing budget expires, the complete batch is queued instead.\n",
        "operationId": "validateEmailPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/Features"
          },
          {
            "$ref": "#/components/parameters/BlockPrivacyRelays"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Single email or comma/whitespace-separated bulk input. Bulk entries can mix emails and domains.",
                    "example": "user@tempmail.com"
                  },
                  "bulk": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "Set to true (bulk=1 in a form) to enable bulk mode."
                  },
                  "json": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "Send json=1 for per-entry results in a synchronous bulk response. Omit otherwise. Queued responses never include this map."
                  },
                  "block_privacy_relays": {
                    "type": "boolean",
                    "description": "Paid privacy relay policy override; omit to inherit key/account defaults."
                  },
                  "features": {
                    "type": "string",
                    "description": "Comma-separated premium features for single checks; ignored in bulk mode."
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result (single or bulk)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EmailValidationResult"
                    },
                    {
                      "$ref": "#/components/schemas/BulkValidationResult"
                    },
                    {
                      "$ref": "#/components/schemas/BulkWithResults"
                    },
                    {
                      "$ref": "#/components/schemas/BulkQueued"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/domain/{domain}": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Validate domain",
        "description": "Check a domain. Domain-only checks do not evaluate individual mailboxes or plus-aliases.",
        "operationId": "validateDomainGet",
        "parameters": [
          {
            "$ref": "#/components/parameters/Features"
          },
          {
            "$ref": "#/components/parameters/BlockPrivacyRelays"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mailinator.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidationResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/domain": {
      "post": {
        "tags": [
          "Domain"
        ],
        "summary": "Validate domain (POST)",
        "operationId": "validateDomainPost",
        "description": "Domain-only validation; bulk=1 enables mixed-input bulk processing with the same response behavior as POST /email.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Features"
          },
          {
            "$ref": "#/components/parameters/BlockPrivacyRelays"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "example": "mailinator.com"
                  },
                  "bulk": {
                    "type": "boolean",
                    "enum": [
                      true
                    ]
                  },
                  "json": {
                    "type": "boolean",
                    "enum": [
                      true
                    ],
                    "description": "Send json=1 for per-entry results only when the batch completes synchronously."
                  },
                  "block_privacy_relays": {
                    "type": "boolean",
                    "description": "Paid privacy relay policy override; omit to inherit key/account defaults."
                  },
                  "features": {
                    "type": "string",
                    "description": "Comma-separated premium features for single checks"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EmailValidationResult"
                    },
                    {
                      "$ref": "#/components/schemas/BulkValidationResult"
                    },
                    {
                      "$ref": "#/components/schemas/BulkWithResults"
                    },
                    {
                      "$ref": "#/components/schemas/BulkQueued"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "422": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    },
    "/view/{session}": {
      "get": {
        "tags": [
          "Bulk"
        ],
        "summary": "View bulk validation results",
        "description": "Retrieve temporary results within 15 minutes. Normally returns a plain-text\nlist of valid entries, not a JSON map of every verdict. Incomplete jobs\nreturn JSON progress; completed jobs without a result file can return\nJSON stats instead. Inspect Content-Type before parsing.\nUse the originating IP; job records can also authorize the submitting\nclient account. Viewing results consumes no validation quota but is still\nrequest-rate limited. Download/separator suffixes are described in the bulk guide.\n",
        "externalDocs": {
          "url": "https://docs.disify.com/api/bulk.html"
        },
        "operationId": "viewBulkResults",
        "parameters": [
          {
            "name": "session",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$",
              "example": "d117271ce938bf91bc718f6cfb7954de"
            },
            "description": "Session ID returned from bulk validation"
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk results",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BulkProgress"
                    },
                    {
                      "$ref": "#/components/schemas/BulkCompleted"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Session not found or expired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "Optional for core checks. Keep keys server-side."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Alternative API-key header. Use one authentication method per request."
      }
    },
    "parameters": {
      "BlockPrivacyRelays": {
        "name": "block_privacy_relays",
        "in": "query",
        "description": "Paid privacy relay rejection policy. Omit to inherit key/account defaults (system default false). Explicit true/false or 1/0 overrides stored policy. Unsupported entitlement returns 403; invalid values return 422 before validation. This does not change disposable.",
        "schema": {
          "type": "boolean"
        }
      },
      "Features": {
        "name": "features",
        "in": "query",
        "description": "Comma-separated features for single checks (spf,dkim,dmarc,domain_age,inbox_provider,deliverability). Denied features appear in requires_upgrade; smtp and catch_all are unsupported. Ignored in bulk mode; only core checks and automatic tier features such as spam_trap run there.",
        "schema": {
          "type": "string"
        },
        "example": "spf,dkim,dmarc"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Access denied, suspended account, unavailable paid policy, or bulk session ownership mismatch"
      },
      "PayloadTooLarge": {
        "description": "Bulk input exceeds 2,000,000 bytes",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InvalidInput": {
        "description": "Input exceeds the single-input length or per-tier bulk limit",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unavailable": {
        "description": "Required service or processing buffer unavailable. Respect supplied retry guidance and use bounded retries with jitter.",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait, when supplied",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Request rate, validation quota, invalid-key attempts, or bulk admission limit exceeded. Per-minute limits normally include retry_after and Retry-After; daily/monthly quotas use reset_at. Bulk errors may provide retry guidance only in the message.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds until rate limit resets, when supplied"
          },
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            },
            "description": "Requests allowed per minute"
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            },
            "description": "Requests remaining in current window"
          }
        }
      }
    },
    "schemas": {
      "Forwarding": {
        "type": "object",
        "description": "Automatically included for paid valid-format checks. False means no known match, not proof that forwarding is absent. Null means inconclusive DNS or mixed MX evidence.",
        "required": [
          "detected",
          "type",
          "provider",
          "matched_by"
        ],
        "properties": {
          "detected": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "privacy_alias",
              null
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "description": "Stable reviewed provider ID, or null when no positive match. New IDs may be added."
          },
          "matched_by": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "domain",
              "mx",
              null
            ]
          }
        }
      },
      "EmailValidationResult": {
        "type": "object",
        "required": [
          "format"
        ],
        "description": "format=false may omit subsequent decision fields. For format=true, require boolean disposable and dns before accepting a core check. Other fields are conditional; accept new additive fields and signal names.",
        "properties": {
          "format": {
            "type": "boolean",
            "description": "Whether the email/domain has valid format"
          },
          "domain": {
            "type": "string",
            "description": "Domain extracted from the email, or the submitted domain in domain mode",
            "example": "mailinator.com"
          },
          "disposable": {
            "type": "boolean",
            "description": "Final disposable verdict, including per-email detection. A domain whitelist does not override it."
          },
          "forwarding": {
            "$ref": "#/components/schemas/Forwarding"
          },
          "blocked": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Included for paid valid-format checks. True for disposable addresses or privacy relays rejected by the effective settings; false when neither applies; null when relay rejection is enabled and detection is inconclusive. Separate from format and DNS validity. Missing/null is not an allow verdict."
          },
          "dns": {
            "type": "boolean",
            "description": "Usable mail DNS found. A false value with the dns_indeterminate signal is inconclusive."
          },
          "whitelist": {
            "type": "boolean",
            "description": "Domain is trusted. Can coexist with disposable=true for an individual address."
          },
          "confidence": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Accumulated detection score (0-100). Use disposable as the disposable verdict instead of reconstructing it from this score."
          },
          "signals": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Detection and availability signals, including dns_indeterminate, alias_base_exact, and fresh_domain. The set can expand; omitted when empty."
          },
          "alias": {
            "type": "boolean",
            "description": "Present when an email contains a plus tag; not itself a disposable verdict"
          },
          "domain_info": {
            "type": "object",
            "properties": {
              "tld": {
                "type": "string"
              },
              "is_subdomain": {
                "type": "boolean"
              },
              "parent_domain": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "mx_info": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available MX hostnames; omitted when none are available"
          },
          "role": {
            "type": "boolean",
            "description": "Whether the local part is a role address (info@, admin@, etc.)"
          },
          "free": {
            "type": "boolean",
            "description": "Whether the domain is a free email provider (Gmail, Yahoo, etc.)"
          },
          "typo_suggestion": {
            "type": "string",
            "description": "Suggested correction if a likely typo was detected (e.g. gmial.com &rarr; gmail.com). Omitted when no suggestion is available.",
            "example": "gmail.com"
          },
          "email_auth": {
            "type": "object",
            "description": "Email authentication records (Pro tier)",
            "properties": {
              "spf": {
                "type": "string",
                "enum": [
                  "pass",
                  "neutral",
                  "softfail",
                  "hardfail",
                  "none"
                ],
                "description": "Summary of the SPF record's all policy, not an evaluation of a sending IP."
              },
              "spf_record": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "dkim_configured": {
                "type": "boolean",
                "description": "Records found at the probed DKIM selectors; false does not rule out other selectors."
              },
              "dkim_selectors_found": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "record": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "policy": {
                    "type": "string"
                  },
                  "subdomain_policy": {
                    "type": "string"
                  },
                  "pct": {
                    "type": "integer"
                  },
                  "rua": {
                    "type": "string"
                  },
                  "ruf": {
                    "type": "string"
                  },
                  "adkim": {
                    "type": "string"
                  },
                  "aspf": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "domain_age": {
            "type": "object",
            "description": "Domain age information (Pro tier), omitted when unavailable",
            "properties": {
              "age_days": {
                "type": "integer"
              },
              "registered": {
                "type": "string",
                "format": "date"
              },
              "fresh": {
                "type": "boolean"
              }
            }
          },
          "inbox_provider": {
            "type": "string",
            "description": "Detected inbox provider name (Pro tier), omitted when unidentified"
          },
          "deliverability_score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Score from available authentication, MX, and domain-age fields (Pro tier); not a delivery probability or mailbox-existence check"
          },
          "spam_trap": {
            "type": "object",
            "description": "Automatically included when the account tier supports it",
            "properties": {
              "is_trap": {
                "type": "boolean"
              },
              "type": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "reason": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "requires_upgrade": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Features that require a higher tier (only present when denied features were requested)"
          },
          "upgrade_url": {
            "type": "string",
            "format": "uri"
          },
          "upgrade_message": {
            "type": "string"
          },
          "unsupported_features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "unsupported_message": {
            "type": "string"
          },
          "temporarily_unavailable_features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Requested features to retry later; distinct from denied or unsupported features"
          }
        }
      },
      "BulkValidationResult": {
        "type": "object",
        "required": [
          "session",
          "total",
          "unique",
          "invalid_format",
          "invalid_dns",
          "disposable",
          "valid"
        ],
        "properties": {
          "session": {
            "type": "string",
            "description": "Session ID to retrieve results later",
            "example": "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6"
          },
          "total": {
            "type": "integer",
            "description": "Parsed input entries before de-duplication and filtering, including empty entries between repeated commas."
          },
          "unique": {
            "type": "integer",
            "description": "Distinct entries processed after removing duplicates, empty entries, and entries longer than 254 bytes."
          },
          "invalid_format": {
            "type": "integer"
          },
          "invalid_dns": {
            "type": "integer"
          },
          "disposable": {
            "type": "integer"
          },
          "valid": {
            "type": "integer",
            "description": "Valid-format, usable-DNS, non-disposable entries allowed by the effective policy."
          },
          "forwarding": {
            "type": "integer",
            "description": "Paid checks only. All known privacy relay matches; overlaps other counts."
          },
          "blocked_forwarding": {
            "type": "integer",
            "description": "Otherwise valid entries rejected by the privacy relay policy."
          },
          "policy_indeterminate": {
            "type": "integer",
            "description": "Otherwise valid entries with an inconclusive rejection policy, excluded from exports."
          }
        }
      },
      "BulkWithResults": {
        "type": "object",
        "required": [
          "session",
          "stats",
          "results"
        ],
        "properties": {
          "session": {
            "type": "string"
          },
          "stats": {
            "$ref": "#/components/schemas/BulkValidationResult"
          },
          "results": {
            "type": [
              "object",
              "array"
            ],
            "description": "Entry-to-verdict map. Empty results or sequential numeric input keys serialize as an array.",
            "items": {
              "$ref": "#/components/schemas/EmailValidationResult"
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/EmailValidationResult"
            }
          }
        }
      },
      "BulkQueued": {
        "type": "object",
        "required": [
          "session",
          "status",
          "email_count",
          "estimated_seconds"
        ],
        "properties": {
          "session": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "const": "pending"
          },
          "email_count": {
            "type": "integer",
            "description": "Unique email and domain entries in the job"
          },
          "estimated_seconds": {
            "type": "integer",
            "description": "Estimate, not a completion guarantee"
          }
        }
      },
      "BulkProgress": {
        "type": "object",
        "required": [
          "session",
          "status",
          "email_count",
          "processed_count"
        ],
        "properties": {
          "session": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "failed"
            ]
          },
          "email_count": {
            "type": "integer"
          },
          "processed_count": {
            "type": "integer"
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "BulkCompleted": {
        "type": "object",
        "required": [
          "status"
        ],
        "description": "Completed-job stats when no result file is available; counts may be absent.",
        "properties": {
          "status": {
            "type": "string",
            "const": "completed"
          },
          "total": {
            "type": "integer"
          },
          "unique": {
            "type": "integer"
          },
          "invalid_format": {
            "type": "integer"
          },
          "invalid_dns": {
            "type": "integer"
          },
          "disposable": {
            "type": "integer"
          },
          "valid": {
            "type": "integer",
            "description": "Valid-format, usable-DNS, non-disposable entries allowed by the effective policy."
          },
          "forwarding": {
            "type": "integer",
            "description": "Paid checks only. All known privacy relay matches; overlaps other counts."
          },
          "blocked_forwarding": {
            "type": "integer",
            "description": "Otherwise valid entries rejected by the privacy relay policy."
          },
          "policy_indeterminate": {
            "type": "integer",
            "description": "Otherwise valid entries with an inconclusive rejection policy, excluded from exports."
          },
          "session": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "example": "Maximum 25,000 unique emails allowed."
          },
          "format": {
            "type": "boolean",
            "description": "May accompany the single-input length error"
          },
          "retry_after": {
            "type": "integer",
            "description": "Seconds to wait, when supplied"
          },
          "reset_at": {
            "type": "string",
            "format": "date-time",
            "description": "Quota reset time, when supplied"
          },
          "upgrade_url": {
            "type": "string",
            "format": "uri"
          },
          "upgrade_message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {},
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Email",
      "description": "Email address validation"
    },
    {
      "name": "Domain",
      "description": "Domain validation"
    },
    {
      "name": "Bulk",
      "description": "Bulk validation and results"
    }
  ],
  "externalDocs": {
    "description": "Integration guide and API documentation",
    "url": "https://docs.disify.com/guide/agents.html"
  }
}