{
  "openapi": "3.1.0",
  "info": {
    "title": "Asterwise API",
    "description": "\nB2B astrology and divination API.\nVedic (sidereal) and Western (tropical) astrology, numerology, tarot, crystals, dreams, and\nhoroscopes. Send birth data, get accurate calculations as structured JSON. 117 endpoints,\n104 MCP tools, HMAC-signed responses.\n\n**[Get your free API key](https://asterwise.com)** · [Pricing](https://asterwise.com/pages/pricing.html) · [Support](mailto:support@asterwise.com)\n\n---\n\n## Authentication\n\nAdd your API key to every request:\n```\nAuthorization: Bearer YOUR_KEY_HERE\n```\n\nGet your key at **asterwise.com** — free, no credit card, instant.\n\n---\n\n## Your first call\n```bash\ncurl https://api.asterwise.com/v1/astro/natal \\\n  -H \"Authorization: Bearer YOUR_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"name\": \"Arjun Mehta\",\n    \"date\": \"1985-11-12\",\n    \"time\": \"06:45\",\n    \"location\": \"Mumbai\"\n  }'\n```\n\n---\n\n## Key concepts\n\n**`location`** — Any city name. Resolved automatically.\n\n**`ayanamsa`** — `lahiri` (default) · `raman` · `kp` · `tropical`\n\n---\n\n500 free calls/month\n\n[status.asterwise.com](https://status.asterwise.com) · [Error Reference](https://asterwise.com/pages/errors.html)\n",
    "contact": {
      "name": "Asterwise",
      "url": "https://asterwise.com/"
    },
    "license": {
      "name": "Commercial",
      "identifier": "LicenseRef-Commercial"
    },
    "version": "2026-03-01",
    "x-jentic-source-url": "https://api.asterwise.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.asterwise.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/astro/atmakaraka": {
      "post": {
        "tags": [
          "Astrology"
        ],
        "summary": "Jaimini Charakarakas",
        "description": "Computes all 8 Jaimini Charakarakas from the natal chart, from Atmakaraka to Darakaraka. The eight are Atmakaraka, Amatyakaraka, Bhratrikaraka, Matrikaraka, Pitrikaraka, Putrakaraka, Gnatikaraka, and Darakaraka. The planet with the highest degree in its sign becomes the Atmakaraka. Request JSON follows BirthInput: `name` (optional, default Chart), `date` (YYYY-MM-DD), `time` (HH:MM, required), either `location` or `latitude`/`longitude`/`timezone`, optional `ayanamsa` (lahiri|raman|kp|tropical).",
        "operationId": "get_atmakaraka_v1_astro_atmakaraka_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtmakarakaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_AtmakarakaResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Chart Analysis",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/astro/ashtakavarga": {
      "post": {
        "tags": [
          "Advanced"
        ],
        "summary": "Ashtakavarga",
        "description": "Computes the Ashtakavarga system for a given birth chart.\n\n**What is Ashtakavarga?**\nAshtakavarga is a Vedic system that assigns benefic points (bindus) to each \nhouse based on the positions of the 7 classical planets and the Lagna (ascendant). \nIt is used to assess the relative strength of each house and to time events \nthrough transit analysis — a planet transiting a house with more bindus produces \nbetter results.\n\n**What this endpoint returns:**\n\n- **bhinna** — Bhinna Ashtakavarga (BAV): the raw contribution table for each \n  planet and the Lagna. Each entry maps Sanskrit sign name (Mesha…Meena) to bindus \n  in that sign.\n\n- **bhinna_after_trikona** — BAV after Trikona Shodana (triangular reduction). \n  Points in trinal houses are equalised. Per-planet objects keyed by sign name.\n\n- **bhinna_after_ekadhipatya** — BAV after both Trikona and Ekadhipatya Shodana \n  (lordship reduction, BPHS Ch.70; a sign counts as occupied only when one of the \n  seven grahas is in it). The most refined per-planet table, keyed by sign name.\n\n- **sarva** — Sarva Ashtakavarga (SAV): the raw sum across all 7 planets. \n  Object keyed by sign name; 28+ bindus in a sign is considered strong.\n\n- **sarva_reduced** — SAV computed from the fully reduced planet tables. \n  More accurate for transit timing. Keyed by sign name.\n\n- **after_trikona** / **after_ekadhipatya** — legacy: the reductions applied to the \n  summed SAV, kept for backward compatibility. Not classical values (Shodhana is \n  applied per planet); prefer **sarva_reduced**.\n\n**How to use bindus for transit timing:**\nWhen a planet transits a house in its own Bhinna chart, the number of bindus \nin that house indicates how favourable the transit will be. 8 bindus is maximum, \n0 is minimum. In the SAV, 30+ bindus in a house indicates strong positive results \nduring transits through that house.\n\n**Ayanamsa:** All positions are sidereal. Default is Lahiri.\n\nReturns Bhinna Ashtakavarga (BAV) and Sarva Ashtakavarga (SAV) scores for all planets and houses.",
        "operationId": "ashtakavarga_v1_astro_ashtakavarga_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AshtakavargaRequest"
              },
              "examples": {
                "India — Arjun Mehta": {
                  "summary": "Birth chart for Arjun Mehta, Mumbai",
                  "value": {
                    "name": "Arjun Mehta",
                    "date": "1985-11-12",
                    "time": "06:45",
                    "location": "Mumbai",
                    "ayanamsa": "lahiri"
                  }
                },
                "Europe — Sofia Rossi": {
                  "summary": "Birth chart for Sofia Rossi, Rome",
                  "value": {
                    "name": "Sofia Rossi",
                    "date": "1990-06-21",
                    "time": "15:30",
                    "location": "Rome, Italy",
                    "ayanamsa": "lahiri"
                  }
                },
                "Americas — James Carter": {
                  "summary": "Birth chart for James Carter, New York",
                  "value": {
                    "name": "James Carter",
                    "date": "1983-03-08",
                    "time": "09:15",
                    "location": "New York, USA",
                    "ayanamsa": "lahiri"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_AshtakavargaResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Chart Analysis",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/astro/ashtottari": {
      "post": {
        "tags": [
          "Advanced"
        ],
        "summary": "Ashtottari Dasha",
        "description": "Computes Ashtottari Dasha periods for a given birth chart.\n\n**What is Ashtottari Dasha?**\nAshtottari Dasha is a 108-year dasha cycle using 8 planets (excluding Ketu).\nIt is considered applicable only for specific charts where Rahu occupies a\nKendra (1, 4, 7, 10) or Trikona (1, 5, 9) counted from the sign of the Lagna\nlord, but not the Lagna itself (BPHS Ch.46 v.17). For a Scorpio or Aquarius\nLagna the stronger co-lord is used, as in JHora.\n\n**Applicability check:**\nThis endpoint first checks whether Ashtottari applies to the given chart.\nIf the condition above is not met, the response will contain\n`applicable: false` and a reason string instead of dasha periods. The\npaksha/day-night condition is not evaluated.\n\n**Starting planet and balance:**\nCounting from Ardra, the nakshatras belong to the lords in groups of 4, 3, 4,\n3, 4, 3, 4, 3 (Sun, Moon, Mars, Mercury, Saturn — with Abhijit — Jupiter,\nRahu, Venus). The balance at birth is the lord's years times the share of its\nwhole nakshatra group still ahead of the Moon (JHora's method). The first\nperiod starts at birth; its sub-periods are the tail of the full period, and\nit carries `dasha_start_date` and `balance_years`.\n\n**Timeline length:** mahadashas follow in order and continue into the next\n108-year cycle until the timeline reaches at least age 120 (usually 10 or 11\nmahadashas). Before 2026-10-08 only the first 8 were returned.\n\n**The 8 planets and their durations:**\n- Sun — 6 years\n- Moon — 15 years\n- Mars — 8 years\n- Mercury — 17 years\n- Saturn — 10 years\n- Jupiter — 19 years\n- Rahu — 12 years\n- Venus — 21 years\n\n**Levels:**\n- `levels: 1` — returns Maha Dasha periods only\n- `levels: 2` — returns Maha Dasha with Antar Dasha sub-periods (default)\n- `levels: 3`–`5` — adds Pratyantar, Sookshma and Prana (same rule at every level)\n\n**Date format:** All dates are returned in DD/MM/YYYY format.\n\n**Ayanamsa:** Default is Lahiri; the request's `ayanamsa` is applied.",
        "operationId": "ashtottari_dasha_v1_astro_ashtottari_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AshtottariRequest"
              },
              "examples": {
                "Americas — James Carter": {
                  "summary": "Ashtottari Dasha for James Carter, New York",
                  "value": {
                    "name": "James Carter",
                    "date": "1983-03-08",
                    "time": "09:15",
                    "location": "New York, USA",
                    "ayanamsa": "lahiri"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_AshtottariEndpointResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Dashas",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/astro/chart": {
      "post": {
        "tags": [
          "Astrology"
        ],
        "summary": "Generate Kundali chart SVG",
        "description": "Generate Vedic astrological chart SVGs. Returns North Indian and South Indian style charts for both Lagna (D1) and Navamsa (D9), as SVG strings. Each planet shows abbreviation, degree°minutes', and superscripts for Vakri (ᴿ), Asta (ᶜ), and Vargottama (ᵛ). Returns North Indian (Uttar Bharatiya) and South Indian (Dakshina Bharatiya) Kundali charts as inline SVG. Also returns Navamsa (D9) chart. The response contains SVG strings for each chart style. To render them:\n\n1. In browser: create an HTML file,\n   paste the SVG string directly\n   into the body tag.\n\n2. In React/Vue/Angular: use\n   dangerouslySetInnerHTML or v-html\n   to render the SVG string.\n\n3. To preview instantly: copy the\n   lagna_north value and paste into\n   https://svgviewer.dev\n\nChart styles returned:\n- lagna_north: North Indian style\n  (diamond layout)\n- lagna_south: South Indian style\n  (square grid layout)\n- navamsa_north: D9 Navamsa chart\n  North Indian style\n- navamsa_south: D9 Navamsa chart\n  South Indian style\n- legend: R=Vakri(Retrograde)\n  C=Asta(Combust) V=Vargottama",
        "operationId": "get_chart_v1_astro_chart_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartRequest"
              },
              "examples": {
                "India — Arjun Mehta": {
                  "summary": "Birth chart for Arjun Mehta, Mumbai",
                  "value": {
                    "name": "Arjun Mehta",
                    "date": "1985-11-12",
                    "time": "06:45",
                    "location": "Mumbai",
                    "ayanamsa": "lahiri"
                  }
                },
                "Europe — Sofia Rossi": {
                  "summary": "Birth chart for Sofia Rossi, Rome",
                  "value": {
                    "name": "Sofia Rossi",
                    "date": "1990-06-21",
                    "time": "15:30",
                    "location": "Rome, Italy",
                    "ayanamsa": "lahiri"
                  }
                },
                "Americas — James Carter": {
                  "summary": "Birth chart for James Carter, New York",
                  "value": {
                    "name": "James Carter",
                    "date": "1983-03-08",
                    "time": "09:15",
                    "location": "New York, USA",
                    "ayanamsa": "lahiri"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chart SVG strings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_ChartResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Foundations",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/astro/natal": {
      "post": {
        "tags": [
          "Astrology"
        ],
        "summary": "Natal Chart — Janam Kundali",
        "description": "Calculate a complete Vedic natal chart using Swiss Ephemeris. Returns planet positions in sidereal zodiac, house placements (whole sign), ascendant, nakshatra data, Avakahada Chakra table, and optional classical Vedic interpretation for each planet placement. Also known as Janam Kundali or Janma Kundali. Returns planets (Grahas), houses (Bhavas), ascendant (Lagna), nakshatra positions, and avakahada table.",
        "operationId": "get_natal_chart_v1_astro_natal_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NatalRequest"
              },
              "examples": {
                "India — Arjun Mehta": {
                  "summary": "Birth chart for Arjun Mehta, Mumbai",
                  "value": {
                    "name": "Arjun Mehta",
                    "date": "1985-11-12",
                    "time": "06:45",
                    "location": "Mumbai",
                    "ayanamsa": "lahiri"
                  }
                },
                "Europe — Sofia Rossi": {
                  "summary": "Birth chart for Sofia Rossi, Rome",
                  "value": {
                    "name": "Sofia Rossi",
                    "date": "1990-06-21",
                    "time": "15:30",
                    "location": "Rome, Italy",
                    "ayanamsa": "lahiri"
                  }
                },
                "Americas — James Carter": {
                  "summary": "Birth chart for James Carter, New York",
                  "value": {
                    "name": "James Carter",
                    "date": "1983-03-08",
                    "time": "09:15",
                    "location": "New York, USA",
                    "ayanamsa": "lahiri"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Natal chart with planetary and house positions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_NatalResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Foundations",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/natal": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Natal Chart — Tropical",
        "description": "Calculate a complete Western natal chart using the tropical zodiac and Swiss Ephemeris. Returns 10 planet positions (Sun through Pluto) with tropical longitudes, Placidus (or chosen) house placements, sign-level dignity (dignity, dignity_score) and full traditional essential dignities after William Lilly (essential_dignities: domicile, exaltation, triplicity by the chart's day/night sect, term, face, detriment, fall, peregrine, total), all active aspects using standard modern Western orbs, and element/modality/hemisphere statistics. House system options: placidus (default), koch, equal, whole_sign.",
        "operationId": "get_western_natal_chart_v1_western_natal_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WesternNatalRequest"
              },
              "examples": {
                "Arjun Mehta — Mumbai": {
                  "summary": "Tropical natal chart, Arjun Mehta, Mumbai",
                  "value": {
                    "name": "Arjun Mehta",
                    "date": "1985-11-12",
                    "time": "06:45",
                    "location": "Mumbai",
                    "house_system": "placidus"
                  }
                },
                "Sofia Rossi — Rome": {
                  "summary": "Tropical natal chart, Sofia Rossi, Rome",
                  "value": {
                    "name": "Sofia Rossi",
                    "date": "1990-06-21",
                    "time": "15:30",
                    "location": "Rome, Italy",
                    "house_system": "placidus"
                  }
                },
                "James Carter — New York": {
                  "summary": "Tropical natal chart, James Carter, New York",
                  "value": {
                    "name": "James Carter",
                    "date": "1983-03-08",
                    "time": "09:15",
                    "location": "New York, USA",
                    "house_system": "placidus"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Western natal chart with tropical positions and dignities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_WesternNatalResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Foundations",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/moon/phase": {
      "get": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Moon Phase",
        "description": "Calculate the lunar phase for any date using the tropical zodiac, computed at 18:00 UTC on that date. Returns the phase name in Dane Rudhyar's eight 45-degree phases (New Moon, Waxing Crescent, First Quarter, Waxing Gibbous, Full Moon, Waning Gibbous, Last Quarter, Waning Crescent; each begins at its angle), phase angle, illumination percentage, moon age since the previous exact New Moon, the exact instant of the next principal phase, and principal_phase when a New Moon, First Quarter, Full Moon or Last Quarter falls on the UTC date. Defaults to today (UTC) if no date given.",
        "operationId": "get_moon_phase_v1_western_moon_phase_get",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Date in YYYY-MM-DD format, years 1-3000. Defaults to today (UTC).",
              "examples": [
                "2026-05-01"
              ],
              "title": "Date"
            },
            "description": "Date in YYYY-MM-DD format, years 1-3000. Defaults to today (UTC)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_MoonPhaseResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Moon and Cycles",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/moon/calendar": {
      "get": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Moon Phase Calendar",
        "description": "Returns lunar phase data for every day in a given month, each day computed at 18:00 UTC (same fields as the moon phase endpoint). The days of the month's New Moons, First Quarters, Full Moons and Last Quarters carry principal_phase and its exact instant (principal_phase_at, UTC): use those, not the 45-degree phase_name bands, to mark full and new moon dates. Defaults to current month (UTC) if no year/month given.",
        "operationId": "get_moon_calendar_v1_western_moon_calendar_get",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 3000,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Year (e.g. 2026), 1-3000. Defaults to the current year (UTC).",
              "title": "Year"
            },
            "description": "Year (e.g. 2026), 1-3000. Defaults to the current year (UTC)."
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 12,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Month number 1-12. Defaults to the current month (UTC).",
              "title": "Month"
            },
            "description": "Month number 1-12. Defaults to the current month (UTC)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_list_MoonPhaseResponse__"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Moon and Cycles",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/aspects": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Aspect Grid",
        "description": "Calculate all active aspects between any set of planetary positions. Provide a dictionary of body names to tropical ecliptic longitudes. Uses standard modern Western orbs by default: major aspects 5°, sextile 3°, minor aspects 1.5°. Custom orbs can be provided per aspect type.",
        "operationId": "get_western_aspects_v1_western_aspects_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WesternAspectsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_WesternAspectsResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Foundations",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/transits/daily": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Daily Transits",
        "description": "Transits for one day against the natal chart: all 10 planets with tropical longitudes and their active aspects to natal positions. Orbs are the standard modern Western transit orbs: major 3°, sextile 2°, minor 1°. Defaults to today (UTC) if no date is given.",
        "operationId": "get_daily_transits_v1_western_transits_daily_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WesternTransitRequest"
              },
              "examples": {
                "Arjun Mehta — daily transits": {
                  "summary": "Daily transits for Arjun Mehta",
                  "value": {
                    "name": "Arjun Mehta",
                    "date": "1985-11-12",
                    "time": "06:45",
                    "location": "Mumbai"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_DailyTransitResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Transits",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/transits/weekly": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Weekly Transits",
        "description": "7-day transit window vs natal chart. Returns day-by-day transit snapshots plus peak aspects (active 4+ days in the window). Use start_date to set the week start. Defaults to today.",
        "operationId": "get_weekly_transits_v1_western_transits_weekly_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WesternTransitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_WeeklyTransitResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Transits",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/transits/monthly": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Monthly Transits",
        "description": "30-day transit window vs natal chart. Returns day-by-day transit snapshots plus peak aspects (active 10+ days in the window). Use start_date to set the month start. Defaults to today.",
        "operationId": "get_monthly_transits_v1_western_transits_monthly_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WesternTransitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_MonthlyTransitResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Transits",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/synastry": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Synastry",
        "description": "Aspect grid between two natal charts using the tropical zodiac. Returns all inter-chart aspects using standard modern Western orbs. Useful for relationship compatibility analysis.",
        "operationId": "get_synastry_v1_western_synastry_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TwoPersonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_SynastryResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Synastry and Compatibility",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/composite": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Composite Chart",
        "description": "Midpoint composite chart for two people using modern Western midpoint technique. Each composite planet is the midpoint of the two natal positions. Returns composite planets with dignities and internal aspects.",
        "operationId": "get_composite_v1_western_composite_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TwoPersonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_CompositeResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Synastry and Compatibility",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/compatibility": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Compatibility Score",
        "description": "Overall compatibility score (0-100) between two natal charts. Scores element affinity, synastry aspects between personal planets (Sun, Moon, Venus, Mars), and Sun/Moon/rising sign comparisons.",
        "operationId": "get_compatibility_v1_western_compatibility_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TwoPersonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__response__ApiResponse_CompatibilityResponse___1"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Synastry and Compatibility",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/compatibility/zodiac": {
      "get": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Zodiac Sign Compatibility",
        "description": "Sign-to-sign compatibility without birth data. Based on element and modality affinity (Asterwise heuristic scores). Pass sign names as query parameters: ?sign1=Aries&sign2=Leo. Only the twelve English tropical sign names are accepted (case-insensitive); anything else returns 422.",
        "operationId": "get_zodiac_compatibility_v1_western_compatibility_zodiac_get",
        "parameters": [
          {
            "name": "sign1",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sign1"
            }
          },
          {
            "name": "sign2",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sign2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_ZodiacCompatibilityResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Synastry and Compatibility",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/solar-return": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Solar Return",
        "description": "Western solar return chart for a given year, cast for the exact moment the Sun returns to its natal tropical longitude. The chart is a complete Western natal chart for that moment at the birth location. Provide the year as an integer (e.g. 2026).",
        "operationId": "get_solar_return_v1_western_solar_return_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolarReturnRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_ReturnChartResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Returns",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/lunar-return": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Lunar Return",
        "description": "Western lunar return chart: the next moment after a given date that the Moon returns to its natal tropical longitude (about every 27.3 days). The chart is a complete Western natal chart for that moment at the birth location.",
        "operationId": "get_lunar_return_v1_western_lunar_return_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LunarReturnRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_ReturnChartResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Returns",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/planetary-return": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Planetary Return",
        "description": "Next return chart for any planet after a given date. Finds the exact moment the specified planet returns to its natal tropical longitude and builds a complete Western natal chart for that moment at the birth location. Supported planets: Sun, Moon, Mercury, Venus, Mars, Jupiter, Saturn, Uranus, Neptune, Pluto.",
        "operationId": "get_planetary_return_v1_western_planetary_return_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanetaryReturnRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_ReturnChartResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Returns",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/progressions/secondary": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Secondary Progressions",
        "description": "Secondary progressed chart using the day-for-a-year method. Each day after birth symbolises one year of life (1 ephemeris day = 1 tropical year = 365.2421904 days). Returns all 10 progressed planet positions, the solar arc, and the progressed angles: MC = natal MC + solar arc in longitude, Ascendant derived from that MC (its RAMC) at the birth latitude. Defaults to today if no target_date provided.",
        "operationId": "get_secondary_progressions_v1_western_progressions_secondary_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgressionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_SecondaryProgressionResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Progressions and Directions",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/western/progressions/solar-arc": {
      "post": {
        "tags": [
          "Western Astrology"
        ],
        "summary": "Western Solar Arc Directions",
        "description": "Solar Arc Directions for a target date. The solar arc (progressed Sun - natal Sun) is applied uniformly to every natal planet and angle. Unlike secondary progressions, all planets advance at the same rate (~1° per year). Returns directed positions for all 10 planets plus directed MC and ASC.",
        "operationId": "get_solar_arc_v1_western_progressions_solar_arc_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgressionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_SolarArcResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Progressions and Directions",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/astro/panchanga": {
      "post": {
        "tags": [
          "Astrology"
        ],
        "summary": "Daily Panchanga",
        "description": "Vedic Panchanga for a date and location. The top-level tithi, vara, nakshatra, yoga and karana are the limbs at sunrise (or at `time` when given). The rest describes the whole panchanga day, sunrise to next sunrise: every tithi, nakshatra, yoga and karana active in it with ISO start and end times and kshaya/vriddhi flags; sunrise, sunset, moonrise and moonset; Sun and Moon rashi; lunar month in amanta and purnimanta reckoning (with Adhik months); Vikram, Shaka and Gujarati samvat; ritu and ayana; and the day's timings: Rahu Kaal, Gulika, Yamaganda, Abhijit, Brahma Muhurta, Durmuhurta, Varjyam, Amrit Kaal, Bhadra, Panchaka, Pradosh and others.",
        "operationId": "panchanga_v1_astro_panchanga_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PanchangaRequest"
              },
              "examples": {
                "India — Arjun Mehta": {
                  "summary": "Birth chart for Arjun Mehta, Mumbai",
                  "value": {
                    "name": "Arjun Mehta",
                    "date": "1985-11-12",
                    "time": "06:45",
                    "location": "Mumbai",
                    "ayanamsa": "lahiri"
                  }
                },
                "Europe — Sofia Rossi": {
                  "summary": "Birth chart for Sofia Rossi, Rome",
                  "value": {
                    "name": "Sofia Rossi",
                    "date": "1990-06-21",
                    "time": "15:30",
                    "location": "Rome, Italy",
                    "ayanamsa": "lahiri"
                  }
                },
                "Americas — James Carter": {
                  "summary": "Birth chart for James Carter, New York",
                  "value": {
                    "name": "James Carter",
                    "date": "1983-03-08",
                    "time": "09:15",
                    "location": "New York, USA",
                    "ayanamsa": "lahiri"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse_PanchangaResponse_"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-subcategory": "Panchanga and Calendar",
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/astro/panchanga/choghadiya": {
      "post": {
        "tags": [
          "Astrology"
        ],
        "summary": "Choghadiya periods",
        "description": "Calculate all 16 Choghadiya periods (8 day + 8 night) for a given date and location. Each period is classified (e.g. highly auspicious for Amrit, good, beneficial, neutral, or inauspicious) with the ruling planet.",
        "operationId": "get_choghadiya_v1_astro_panchanga_choghadiya_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PanchangaExtRequest"
              },
              "examples": {
                "Mumbai": {
                  "summary": "Mumbai, India",
[...]
