{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "A simplified version of the HL7 FHIR API for Patient resources.",
    "title": "Patient API Cloud",
    "version": "4.0.1",
    "x-ibm-name": "patient-api-cloud",
    "x-ibm-summary": "This profile builds upon the US Core Patient profile. It is used to convey information about the patient who received the services described on the claim.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/BORISMCT2/patient-api-cloud/4.0.1"
  },
  "servers": [
    {
      "url": "https://esbndp-api2.bsc.bscal.com:443/bsc/fhir-sandbox/fhir-server/api/v4/cloud"
    }
  ],
  "paths": {
    "/patient-access/Patient": {
      "get": {
        "parameters": [
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A portion of the given name of the patient\r\n* [Practitioner](practitioner.html): A portion of the given name",
            "in": "query",
            "name": "given",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A patient identifier",
            "in": "query",
            "name": "identifier",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): The patient's date of birth\r\n* [Person](person.html): The person's date of birth\r\n* [RelatedPerson](relatedperson.html): The Related Person's date of birth",
            "in": "query",
            "name": "birthdate",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A server defined search that may match any of the string fields in the Address, including line, city, district, state, country, postalCode, and/or text\r\n* [Person](person.html): A server defined search that may match any of the string fields in the Address, including line, city, district, state, country, postalCode, and/or text\r\n* [Practitioner](practitioner.html): A server defined search that may match any of the string fields in the Address, including line, city, district, state, country, postalCode, and/or text\r\n* [RelatedPerson](relatedperson.html): A server defined search that may match any of the string fields in the Address, including line, city, district, state, country, postalCode, and/or text",
            "in": "query",
            "name": "address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This patient has been marked as deceased, or as a death date entered",
            "in": "query",
            "name": "deceased",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A state specified in an address\r\n* [Person](person.html): A state specified in an address\r\n* [Practitioner](practitioner.html): A state specified in an address\r\n* [RelatedPerson](relatedperson.html): A state specified in an address",
            "in": "query",
            "name": "address-state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): Gender of the patient\r\n* [Person](person.html): The gender of the person\r\n* [Practitioner](practitioner.html): Gender of the practitioner\r\n* [RelatedPerson](relatedperson.html): Gender of the related person",
            "in": "query",
            "name": "gender",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Patient's nominated general practitioner, not the organization that manages the record",
            "in": "query",
            "name": "general-practitioner",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "All patients linked to the given patient",
            "in": "query",
            "name": "link",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether the patient record is active",
            "in": "query",
            "name": "active",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Language code (irrespective of use value)",
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A postalCode specified in an address\r\n* [Person](person.html): A postal code specified in an address\r\n* [Practitioner](practitioner.html): A postalCode specified in an address\r\n* [RelatedPerson](relatedperson.html): A postal code specified in an address",
            "in": "query",
            "name": "address-postalcode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A country specified in an address\r\n* [Person](person.html): A country specified in an address\r\n* [Practitioner](practitioner.html): A country specified in an address\r\n* [RelatedPerson](relatedperson.html): A country specified in an address",
            "in": "query",
            "name": "address-country",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The date of death has been provided and satisfies this search value",
            "in": "query",
            "name": "death-date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A portion of either family or given name using some kind of phonetic matching algorithm\r\n* [Person](person.html): A portion of name using some kind of phonetic matching algorithm\r\n* [Practitioner](practitioner.html): A portion of either family or given name using some kind of phonetic matching algorithm\r\n* [RelatedPerson](relatedperson.html): A portion of name using some kind of phonetic matching algorithm",
            "in": "query",
            "name": "phonetic",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A value in a phone contact\r\n* [Person](person.html): A value in a phone contact\r\n* [Practitioner](practitioner.html): A value in a phone contact\r\n* [PractitionerRole](practitionerrole.html): A value in a phone contact\r\n* [RelatedPerson](relatedperson.html): A value in a phone contact",
            "in": "query",
            "name": "phone",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The organization that is the custodian of the patient record",
            "in": "query",
            "name": "organization",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A server defined search that may match any of the string fields in the HumanName, including family, give, prefix, suffix, suffix, and/or text",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A use code specified in an address\r\n* [Person](person.html): A use code specified in an address\r\n* [Practitioner](practitioner.html): A use code specified in an address\r\n* [RelatedPerson](relatedperson.html): A use code specified in an address",
            "in": "query",
            "name": "address-use",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): The value in any kind of telecom details of the patient\r\n* [Person](person.html): The value in any kind of contact\r\n* [Practitioner](practitioner.html): The value in any kind of contact\r\n* [PractitionerRole](practitionerrole.html): The value in any kind of contact\r\n* [RelatedPerson](relatedperson.html): The value in any kind of contact",
            "in": "query",
            "name": "telecom",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A city specified in an address\r\n* [Person](person.html): A city specified in an address\r\n* [Practitioner](practitioner.html): A city specified in an address\r\n* [RelatedPerson](relatedperson.html): A city specified in an address",
            "in": "query",
            "name": "address-city",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A portion of the family name of the patient\r\n* [Practitioner](practitioner.html): A portion of the family name",
            "in": "query",
            "name": "family",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Multiple Resources: \r\n\r\n* [Patient](patient.html): A value in an email contact\r\n* [Person](person.html): A value in an email contact\r\n* [Practitioner](practitioner.html): A value in an email contact\r\n* [PractitionerRole](practitionerrole.html): A value in an email contact\r\n* [RelatedPerson](relatedperson.html): A value in an email contact",
            "in": "query",
            "name": "email",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Profiles this resource claims to conform to",
            "in": "query",
            "name": "_profile",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When the resource version last changed",
            "in": "query",
            "name": "_lastUpdated",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tags applied to this resource",
            "in": "query",
            "name": "_tag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Security Labels applied to this resource",
            "in": "query",
            "name": "_security",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identifies where the resource comes from",
            "in": "query",
            "name": "_source",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Logical id of this artifact",
            "in": "query",
            "name": "_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            },
            "description": "Search Patient operation successful",
            "headers": {}
          }
        },
        "tags": [
          "Patient"
        ],
        "deprecated": false,
        "description": "Search for Patient resources",
        "operationId": "searchPatient",
        "summary": "searchPatient"
      }
    },
    "/patient-access/Patient/{id}": {
      "get": {
        "parameters": [
          {
            "description": "logical identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            },
            "description": "Read Patient operation successful",
            "headers": {}
          }
        },
        "tags": [
          "Patient"
        ],
        "deprecated": false,
        "description": "Read a Patient resource",
        "operationId": "readPatient",
        "summary": "readPatient"
      }
    },
    "/patient-access/Patient/{id}/_history": {
      "get": {
        "parameters": [
          {
            "description": "logical identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            },
            "description": "History Patient operation successful",
            "headers": {}
          }
        },
        "tags": [
          "Patient"
        ],
        "deprecated": false,
        "description": "Return the history of a Patient resource",
        "operationId": "historyPatient",
        "summary": "historyPatient"
      }
    },
    "/patient-access/Patient/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "description": "logical identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "version identifier",
            "in": "path",
            "name": "vid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            },
            "description": "Versioned read Patient operation successful",
            "headers": {}
          }
        },
        "tags": [
          "Patient"
        ],
        "deprecated": false,
        "description": "Read specific version of a Patient resource",
        "operationId": "vreadPatient",
        "summary": "vreadPatient"
      }
    },
    "/patient-access/Patient/{id}/{operation}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "operation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "properties": {
          "city": {
            "description": "The name of the city, town, suburb, village or other community or delivery center.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "country": {
            "description": "Country &ndash; a nation as commonly understood or generally accepted.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "district": {
            "description": "The name of the administrative area (county).",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "line": {
            "items": {
              "pattern": "[ \\r\\n\\t\\S]+",
              "type": "string"
            },
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "array"
          },
          "period": {
            "$ref": "#/components/schemas/Period"
          },
          "postalCode": {
            "description": "A postal code designating a region defined by the postal service.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "state": {
            "description": "Sub&ndash;unit of a country with limited sovereignty in a federally organized country. A code may be used if codes are in common use (e.g. US 2 letter state codes).",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "text": {
            "description": "Specifies the entire address as it should be displayed e.g. on a postal label. This may be provided instead of or as well as the specific parts.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/Type"
          },
          "use": {
            "$ref": "#/components/schemas/Use"
          }
        },
        "title": "Address",
        "type": "object"
      },
      "Annotation": {
        "properties": {
          "authorReference": {
            "$ref": "#/components/schemas/Reference"
          },
          "authorString": {
            "description": "The individual responsible for making the annotation.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "text": {
            "description": "The text of the annotation in markdown format.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "time": {
            "description": "Indicates when this particular annotation was made.",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          }
        },
        "required": [
          "text"
        ],
        "title": "Annotation",
        "type": "object"
      },
      "Attachment": {
        "properties": {
          "contentType": {
            "description": "Identifies the type of the data in the attachment and allows a method to be chosen to interpret or render the data. Includes mime type parameters such as charset where appropriate.",
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "creation": {
            "description": "The date that the attachment was first created.",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "data": {
            "description": "The actual data of the attachment &ndash; a sequence of bytes, base64 encoded.",
            "pattern": "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+",
            "type": "string"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "hash": {
            "description": "The calculated hash of the data using SHA&ndash;1. Represented using base64.",
            "pattern": "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+",
            "type": "string"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "language": {
            "description": "The human language of the content. The value can be any valid value according to BCP 47.",
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "size": {
            "description": "The number of bytes of data that make up this attachment (before base64 encoding, if that is done).",
            "format": "int32",
            "type": "integer"
          },
          "title": {
            "description": "A label or set of text to display in place of the data.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "url": {
            "description": "A location where the data can be accessed.",
            "pattern": "\\S*",
            "type": "string"
          }
        },
        "title": "Attachment",
        "type": "object"
      },
      "BackboneElement": {
        "properties": {
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          }
        },
        "title": "BackboneElement",
        "type": "object"
      },
      "Bundle": {
        "example": {
          "entry": [
            {
              "fullUrl": "PKkErHU9RX",
              "link": [
                {
                  "relation": "IWG3UO5Awa",
                  "url": "MJBFG1zxnb"
                }
              ],
              "request": {
                "ifMatch": "ESkJi0jaVC",
                "ifModifiedSince": "2020-11-04T11:22:43.514903-05:00",
                "ifNoneExist": "fuSskChKIq",
                "ifNoneMatch": "TXPgvN30LK",
                "method": "DELETE",
                "url": "EX5t3mSMJh"
              },
              "response": {
                "etag": "BmCLcXDNuX",
                "lastModified": "2020-11-04T11:22:43.516375-05:00",
                "location": "v0Ub50vvWL",
                "status": "avVXy1xkRq"
              },
              "search": {
                "mode": "match",
                "score": 0.7827620245063741
              }
            }
          ],
          "identifier": {
            "period": {
              "end": "2020-11-04T11:22:43.507335-05:00",
              "start": "2020-11-04T11:22:43.507146-05:00"
            },
            "system": "zxGBnkW0WU",
            "type": {
              "coding": [
                {
                  "code": "fimixp8PMa",
                  "display": "aYmxIkjI7w",
                  "system": "GG7NhXNGqZ",
                  "userSelected": true,
                  "version": "hTXMVyhLkS"
                }
              ],
              "text": "znbNwNNzOo"
            },
            "use": "temp",
            "value": "lpcL4XUHKZ"
          },
          "implicitRules": "IUOLjdM2gr",
          "language": "en-US",
          "link": [
            {
              "relation": "0h9oqVMQIt",
              "url": "N6t6uzHuIy"
            }
          ],
          "meta": {
            "security": [
              {
                "code": "P6iXDX6DcV",
                "display": "rMonvtKiO8",
                "system": "lTnQF4OV3w",
                "userSelected": true,
                "version": "hTth0i4Ivs"
              }
            ],
            "lastUpdated": "2020-11-04T11:22:43.502316-05:00",
            "profile": [
              "i4gpGowr6Y"
            ],
            "source": "JRkgOa8bwm",
            "tag": [
              {
                "code": "AjrpSN9l0q",
                "display": "V3cjH6t7zX",
                "system": "4HA_3UN6ab",
                "userSelected": true,
                "version": "FvMU1dv9n6"
              },
              {
                "code": "ibm/complete-mock"
              }
            ],
            "versionId": "F7bitzw1Hj"
          },
          "resourceType": "Bundle",
          "signature": {
            "data": "dUUnF3I=",
            "onBehalfOf": {
              "display": "kQ5612idGd",
              "identifier": {
                "period": {
                  "end": "2020-11-04T11:22:43.545138-05:00",
                  "start": "2020-11-04T11:22:43.544663-05:00"
                },
                "system": "Graf7De_yt",
                "type": {
                  "coding": [
                    {
                      "code": "oHtu3WoiKi",
                      "display": "gMKD8fdCjt",
                      "system": "64W3kvPnCz",
                      "userSelected": true,
                      "version": "1LnrLVgWre"
                    }
                  ],
                  "text": "bu5V13p166"
                },
                "use": "official",
                "value": "UWJRgHe9wr"
              },
              "reference": "Practitioner/LiWB2VJ2UG",
              "type": "Practitioner"
            },
            "sigFormat": "FxtGIjypV6",
            "targetFormat": "AQCVaUpSER",
            "type": {
              "code": "sNUnxWccmG",
              "display": "pqCTozifNV",
              "system": "YievdsQnmM",
              "userSelected": true,
              "version": "3um1GW4GVD"
            },
            "when": "2020-11-04T11:22:43.518017-05:00",
            "who": {
              "display": "l79nsD4sN6",
              "identifier": {
                "period": {
                  "end": "2020-11-04T11:22:43.520066-05:00",
                  "start": "2020-11-04T11:22:43.519783-05:00"
                },
                "system": "pACafNTDh7",
                "type": {
                  "coding": [
                    {
                      "code": "LD7gU1VdIa",
                      "display": "l_je45PsqP",
                      "system": "9BzciHf_0T",
                      "userSelected": true,
                      "version": "em1dSVwNdC"
                    }
                  ],
                  "text": "Kd2TxyCZR7"
                },
                "use": "secondary",
                "value": "_hcXO_NlZg"
              },
              "reference": "Practitioner/7tLbieRmnA",
              "type": "Practitioner"
            }
          },
          "timestamp": "2020-11-04T11:22:43.507779-05:00",
          "total": 804618139,
          "type": "document"
        },
        "properties": {
          "entry": {
            "items": {
              "$ref": "#/components/schemas/Bundle_Entry"
            },
            "type": "array"
          },
          "id": {
            "description": "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "identifier": {
            "$ref": "#/components/schemas/Identifier"
          },
          "implicitRules": {
            "description": "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
            "pattern": "\\S*",
            "type": "string"
          },
          "language": {
            "description": "The base language in which the resource is written.",
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "link": {
            "items": {
              "$ref": "#/components/schemas/Bundle_Link"
            },
            "type": "array"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "resourceType": {
            "$ref": "#/components/schemas/ResourceType"
          },
          "signature": {
            "$ref": "#/components/schemas/Signature"
          },
          "timestamp": {
            "description": "The date/time that the bundle was assembled &ndash; i.e. when the resources were placed in the bundle.",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type": "string"
          },
          "total": {
            "description": "If a set of search matches, this is the total number of entries of type 'match' across all pages in the search.  It does not include search.mode = 'include' or 'outcome' entries and it does not provide a count of the number of entries in the Bundle.",
            "format": "int32",
            "type": "integer"
          },
          "type": {
            "$ref": "#/components/schemas/Type3"
          }
        },
        "required": [
          "resourceType",
          "type"
        ],
        "title": "Bundle",
        "type": "object"
      },
      "Bundle_Entry": {
        "properties": {
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "fullUrl": {
            "description": "The Absolute URL for the resource.  The fullUrl SHALL NOT disagree with the id in the resource &ndash; i.e. if the fullUrl is not a urn:uuid, the URL shall be version&ndash;independent URL consistent with the Resource.id. The fullUrl is a version independent reference to the resource. The fullUrl element SHALL have a value except that: \n* fullUrl can be empty on a POST (although it does not need to when specifying a temporary id for reference in the bundle)\n* Results from operations might involve resources that are not identified.",
            "pattern": "\\S*",
            "type": "string"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "link": {
            "items": {
              "$ref": "#/components/schemas/Bundle_Link"
            },
            "type": "array"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "request": {
            "$ref": "#/components/schemas/Bundle_Entry_Request"
          },
          "resource": {
            "$ref": "#/components/schemas/Resource"
          },
          "response": {
            "$ref": "#/components/schemas/Bundle_Entry_Response"
          },
          "search": {
            "$ref": "#/components/schemas/Bundle_Entry_Search"
          }
        },
        "title": "Bundle_Entry",
        "type": "object"
      },
      "Bundle_Entry_Request": {
        "properties": {
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "ifMatch": {
            "description": "Only perform the operation if the Etag value matches. For more information, see the API section [\"Managing Resource Contention\"](http.html#concurrency).",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "ifModifiedSince": {
            "description": "Only perform the operation if the last updated date matches. See the API documentation for [\"Conditional Read\"](http.html#cread).",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type": "string"
          },
          "ifNoneExist": {
            "description": "Instruct the server not to perform the create if a specified resource already exists. For further information, see the API documentation for [\"Conditional Create\"](http.html#ccreate). This is just the query portion of the URL &ndash; what follows the \"?\" (not including the \"?\").",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "ifNoneMatch": {
            "description": "If the ETag values match, return a 304 Not Modified status. See the API documentation for [\"Conditional Read\"](http.html#cread).",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "method": {
            "$ref": "#/components/schemas/Method"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "url": {
            "description": "The URL for this entry, relative to the root (the address to which the request is posted).",
            "pattern": "\\S*",
            "type": "string"
          }
        },
        "required": [
          "method",
          "url"
        ],
        "title": "Bundle_Entry_Request",
        "type": "object"
      },
      "Bundle_Entry_Response": {
        "properties": {
          "etag": {
            "description": "The Etag for the resource, if the operation for the entry produced a versioned resource (see [Resource Metadata and Versioning](http.html#versioning) and [Managing Resource Contention](http.html#concurrency)).",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "lastModified": {
            "description": "The date/time that the resource was modified on the server.",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type": "string"
          },
          "location": {
            "description": "The location header created by processing this operation, populated if the operation returns a location.",
            "pattern": "\\S*",
            "type": "string"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "outcome": {
            "$ref": "#/components/schemas/Resource"
          },
          "status": {
            "description": "The status code returned by processing this entry. The status SHALL start with a 3 digit HTTP code (e.g. 404) and may contain the standard HTTP description associated with the status code.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          }
        },
        "required": [
          "status"
        ],
        "title": "Bundle_Entry_Response",
        "type": "object"
      },
      "Bundle_Entry_Search": {
        "properties": {
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "mode": {
            "$ref": "#/components/schemas/Mode"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "score": {
            "description": "When searching, the server's search ranking score for the entry.",
            "format": "double",
            "type": "number"
          }
        },
        "title": "Bundle_Entry_Search",
        "type": "object"
      },
      "Bundle_Link": {
        "properties": {
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "relation": {
            "description": "A name which details the functional use for this link &ndash; see [http://www.iana.org/assignments/link&ndash;relations/link&ndash;relations.xhtml#link&ndash;relations&ndash;1](http://www.iana.org/assignments/link&ndash;relations/link&ndash;relations.xhtml#link&ndash;relations&ndash;1).",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "url": {
            "description": "The reference details for the link.",
            "pattern": "\\S*",
            "type": "string"
          }
        },
        "required": [
          "relation",
          "url"
        ],
        "title": "Bundle_Link",
        "type": "object"
      },
      "Code": {
        "description": "Describes the type of the issue. The system that creates an OperationOutcome SHALL choose the most applicable code from the IssueType value set, and may additional provide its own code for the error in the details element.",
        "enum": [
          "invalid",
          "structure",
          "required",
          "value",
          "invariant",
          "security",
          "login",
          "unknown",
          "expired",
          "forbidden",
          "suppressed",
          "processing",
          "not-supported",
          "duplicate",
          "multiple-matches",
          "not-found",
          "deleted",
          "too-long",
          "code-invalid",
          "extension",
          "too-costly",
          "business-rule",
          "conflict",
          "transient",
          "lock-error",
          "no-store",
          "exception",
          "timeout",
          "incomplete",
          "throttled",
          "informational"
        ],
        "title": "Code",
        "type": "string"
      },
      "CodeableConcept": {
        "properties": {
          "coding": {
            "items": {
              "$ref": "#/components/schemas/Coding"
            },
            "type": "array"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "text": {
            "description": "A human language representation of the concept as seen/selected/uttered by the user who entered the data and/or which represents the intended meaning of the user.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          }
        },
        "title": "CodeableConcept",
        "type": "object"
      },
      "Coding": {
        "properties": {
          "code": {
            "description": "A symbol in syntax defined by the system. The symbol may be a predefined code or an expression in a syntax defined by the coding system (e.g. post&ndash;coordination).",
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "display": {
            "description": "A representation of the meaning of the code in the system, following the rules of the system.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "system": {
            "description": "The identification of the code system that defines the meaning of the symbol in the code.",
            "pattern": "\\S*",
            "type": "string"
          },
          "userSelected": {
            "description": "Indicates that this coding was chosen by a user directly &ndash; e.g. off a pick list of available items (codes or displays).",
            "type": "boolean"
          },
          "version": {
            "description": "The version of the code system which was used when choosing this code. Note that a well&ndash;maintained code system does not need the version reported, because the meaning of codes is consistent across versions. However this cannot consistently be assured, and when the meaning is not guaranteed to be consistent, the version SHOULD be exchanged.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          }
        },
        "title": "Coding",
        "type": "object"
      },
      "Comparator": {
        "description": "How the value should be understood and represented &ndash; whether the actual value is greater or less than the stated value due to measurement issues; e.g. if the comparator is \"<\" , then the real value is < stated value.",
        "enum": [
          "<",
          "<=",
          ">=",
          ">"
        ],
        "title": "Comparator",
        "type": "string"
      },
      "ContactDetail": {
        "properties": {
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "name": {
            "description": "The name of an individual to contact.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "telecom": {
            "items": {
              "$ref": "#/components/schemas/ContactPoint"
            },
            "type": "array"
          }
        },
        "title": "ContactDetail",
        "type": "object"
      },
      "ContactPoint": {
        "properties": {
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "period": {
            "$ref": "#/components/schemas/Period"
          },
          "rank": {
            "description": "Specifies a preferred order in which to use a set of contacts. ContactPoints with lower rank values are more preferred than those with higher rank values.",
            "format": "int32",
            "type": "integer"
          },
          "system": {
            "$ref": "#/components/schemas/System"
          },
          "use": {
            "$ref": "#/components/schemas/Use2"
          },
          "value": {
            "description": "The actual contact point details, in a form that is meaningful to the designated communication system (i.e. phone number or email address).",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          }
        },
        "title": "ContactPoint",
        "type": "object"
      },
      "DayOfWeek": {
        "description": "If one or more days of week is provided, then the action happens only on the specified day(s).",
        "enum": [
          "mon",
          "tue",
          "wed",
          "thu",
          "fri",
          "sat",
          "sun"
        ],
        "title": "DayOfWeek",
        "type": "string"
      },
      "DomainResource": {
        "properties": {
          "contained": {
            "items": {
              "$ref": "#/components/schemas/Resource"
            },
            "type": "array"
          },
          "extension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "implicitRules": {
            "description": "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
            "pattern": "\\S*",
            "type": "string"
          },
          "language": {
            "description": "The base language in which the resource is written.",
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "resourceType": {
            "$ref": "#/components/schemas/ResourceType"
          },
          "text": {
            "$ref": "#/components/schemas/Narrative"
          }
        },
        "required": [
          "resourceType"
        ],
        "title": "DomainResource",
        "type": "object"
      },
      "DurationUnit": {
        "description": "The units of time for the duration, in UCUM units.",
        "enum": [
          "s",
          "min",
          "h",
          "d",
          "wk",
          "mo",
          "a"
        ],
        "title": "DurationUnit",
        "type": "string"
      },
      "Element": {
        "properties": {
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          }
        },
        "title": "Element",
        "type": "object"
      },
      "Extension": {
        "properties": {
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "url": {
            "description": "Source of the definition for the extension code &ndash; a logical name or a URL.",
            "pattern": "\\S*",
            "type": "string"
          },
          "valueAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "valueAge": {
            "$ref": "#/components/schemas/Quantity"
          },
          "valueAnnotation": {
            "$ref": "#/components/schemas/Annotation"
          },
          "valueAttachment": {
            "$ref": "#/components/schemas/Attachment"
          },
          "valueBase64Binary": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+",
            "type": "string"
          },
          "valueBoolean": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "type": "boolean"
          },
          "valueCanonical": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "\\S*",
            "type": "string"
          },
          "valueCode": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "valueCodeableConcept": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "valueCoding": {
            "$ref": "#/components/schemas/Coding"
          },
          "valueContactDetail": {
            "$ref": "#/components/schemas/ContactDetail"
          },
          "valueContactPoint": {
            "$ref": "#/components/schemas/ContactPoint"
          },
          "valueCount": {
            "$ref": "#/components/schemas/Quantity"
          },
          "valueDate": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1]))?)?",
            "type": "string"
          },
          "valueDateTime": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "valueDecimal": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "format": "double",
            "type": "number"
          },
          "valueDistance": {
            "$ref": "#/components/schemas/Quantity"
          },
          "valueDuration": {
            "$ref": "#/components/schemas/Quantity"
          },
          "valueHumanName": {
            "$ref": "#/components/schemas/HumanName"
          },
          "valueId": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "valueIdentifier": {
            "$ref": "#/components/schemas/Identifier"
          },
          "valueInstant": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type": "string"
          },
          "valueInteger": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "format": "int32",
            "type": "integer"
          },
          "valueMarkdown": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "valueMeta": {
            "$ref": "#/components/schemas/Meta"
          },
          "valueMoney": {
            "$ref": "#/components/schemas/Money"
          },
          "valueOid": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "urn:oid:[0-2](\\.(0|[1-9][0-9]*))+",
            "type": "string"
          },
          "valuePeriod": {
            "$ref": "#/components/schemas/Period"
          },
          "valuePositiveInt": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "format": "int32",
            "type": "integer"
          },
          "valueQuantity": {
            "$ref": "#/components/schemas/Quantity"
          },
          "valueRange": {
            "$ref": "#/components/schemas/Range"
          },
          "valueRatio": {
            "$ref": "#/components/schemas/Ratio"
          },
          "valueReference": {
            "$ref": "#/components/schemas/Reference"
          },
          "valueRelatedArtifact": {
            "$ref": "#/components/schemas/RelatedArtifact"
          },
          "valueSampledData": {
            "$ref": "#/components/schemas/SampledData"
          },
          "valueSignature": {
            "$ref": "#/components/schemas/Signature"
          },
          "valueString": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "valueTime": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?",
            "type": "string"
          },
          "valueTiming": {
            "$ref": "#/components/schemas/Timing"
          },
          "valueUnsignedInt": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "format": "int32",
            "type": "integer"
          },
          "valueUri": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "\\S*",
            "type": "string"
          },
          "valueUrl": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "\\S*",
            "type": "string"
          },
          "valueUsageContext": {
            "$ref": "#/components/schemas/UsageContext"
          },
          "valueUuid": {
            "description": "Value of extension &ndash; must be one of a constrained set of the data types (see [Extensibility](extensibility.html) for a list).",
            "pattern": "urn:uuid:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
            "type": "string"
          }
        },
        "required": [
          "url"
        ],
        "title": "Extension",
        "type": "object"
      },
      "Gender": {
        "description": "Administrative Gender &ndash; the gender that the patient is considered to have for administration and record keeping purposes.",
        "enum": [
          "male",
          "female",
          "other",
          "unknown"
        ],
        "title": "Gender",
        "type": "string"
      },
      "Gender1": {
        "description": "Administrative Gender &ndash; the gender that the contact person is considered to have for administration and record keeping purposes.",
        "enum": [
          "male",
          "female",
          "other",
          "unknown"
        ],
        "title": "Gender1",
        "type": "string"
      },
      "HumanName": {
        "properties": {
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "family": {
            "description": "The part of a name that links to the genealogy. In some cultures (e.g. Eritrea) the family name of a son is the first name of his father.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "given": {
            "items": {
              "pattern": "[ \\r\\n\\t\\S]+",
              "type": "string"
            },
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "period": {
            "$ref": "#/components/schemas/Period"
          },
          "prefix": {
            "items": {
              "pattern": "[ \\r\\n\\t\\S]+",
              "type": "string"
            },
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "array"
          },
          "suffix": {
            "items": {
              "pattern": "[ \\r\\n\\t\\S]+",
              "type": "string"
            },
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "array"
          },
          "text": {
            "description": "Specifies the entire name as it should be displayed e.g. on an application UI. This may be provided instead of or as well as the specific parts.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "use": {
            "$ref": "#/components/schemas/Use3"
          }
        },
        "title": "HumanName",
        "type": "object"
      },
      "Identifier": {
        "properties": {
          "assigner": {
            "$ref": "#/components/schemas/Reference"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "period": {
            "$ref": "#/components/schemas/Period"
          },
          "system": {
            "description": "Establishes the namespace for the value &ndash; that is, a URL that describes a set values that are unique.",
            "pattern": "\\S*",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "use": {
            "$ref": "#/components/schemas/Use1"
          },
          "value": {
            "description": "The portion of the identifier typically relevant to the user and which is unique within the context of the system.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          }
        },
        "title": "Identifier",
        "type": "object"
      },
      "Meta": {
        "properties": {
          "security": {
            "items": {
              "$ref": "#/components/schemas/Coding"
            },
            "type": "array"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "lastUpdated": {
            "description": "When the resource last changed &ndash; e.g. when the version changed.",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type": "string"
          },
          "profile": {
            "items": {
              "pattern": "\\S*",
              "type": "string"
            },
            "pattern": "\\S*",
            "type": "array"
          },
          "source": {
            "description": "A uri that identifies the source system of the resource. This provides a minimal amount of [Provenance](provenance.html#) information that can be used to track or differentiate the source of information in the resource. The source may identify another FHIR server, document, message, database, etc.",
            "pattern": "\\S*",
            "type": "string"
          },
          "tag": {
            "items": {
              "$ref": "#/components/schemas/Coding"
            },
            "type": "array"
          },
          "versionId": {
            "description": "The version specific identifier, as it appears in the version portion of the URL. This value changes when the resource is created, updated, or deleted.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          }
        },
        "title": "Meta",
        "type": "object"
      },
      "Method": {
        "description": "In a transaction or batch, this is the HTTP action to be executed for this entry. In a history bundle, this indicates the HTTP action that occurred.",
        "enum": [
          "GET",
          "HEAD",
          "POST",
          "PUT",
          "DELETE",
          "PATCH"
        ],
        "title": "Method",
        "type": "string"
      },
      "Mode": {
        "description": "Why this entry is in the result set &ndash; whether it's included as a match or because of an _include requirement, or to convey information or warning information about the search process.",
        "enum": [
          "match",
          "include",
          "outcome"
        ],
        "title": "Mode",
        "type": "string"
      },
      "Money": {
        "properties": {
          "currency": {
            "description": "ISO 4217 Currency Code.",
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "value": {
            "description": "Numerical value (with implicit precision).",
            "format": "double",
            "type": "number"
          }
        },
        "title": "Money",
        "type": "object"
      },
      "Narrative": {
        "properties": {
          "div": {
            "description": "The actual narrative content, a stripped down version of XHTML.",
            "type": "string"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        },
        "required": [
          "status",
          "div"
        ],
        "title": "Narrative",
        "type": "object"
      },
      "OperationOutcome": {
        "example": {
          "implicitRules": "siFyYo720q",
          "issue": [
            {
              "code": "required",
              "details": {
                "coding": [
                  {
                    "code": "Y4ci7ASL_1",
                    "display": "lq_CJ5bq6Z",
                    "system": "YAwo1XN_fv",
                    "userSelected": true,
                    "version": "9ycWn1vQBR"
                  }
                ],
                "text": "aWHd4ZkhaW"
              },
              "diagnostics": "yew1JE2w0X",
              "expression": [
                "yYfbNaNi8V"
              ],
              "location": [
                "ZDqBVS3Xgx"
              ],
              "severity": "fatal"
            }
          ],
          "language": "en-US",
          "meta": {
            "security": [
              {
                "code": "DMQqy4R3E8",
                "display": "mmxOeLn3hG",
                "system": "sPgaKWp0jQ",
                "userSelected": true,
                "version": "wZHLBfjatw"
              }
            ],
            "lastUpdated": "2020-11-04T11:22:40.494613-05:00",
            "profile": [
              "XGQPxL1j9k"
            ],
            "source": "lwnaIGbKJn",
            "tag": [
              {
                "code": "0DRWc7UuJB",
                "display": "6NXvm6cEoG",
                "system": "MtLYCBYPWS",
                "userSelected": true,
                "version": "8Ak7HZQrke"
              },
              {
                "code": "ibm/complete-mock"
              }
            ],
            "versionId": "q63JAUPuUM"
          },
          "resourceType": "OperationOutcome",
          "text": {
            "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"></div>",
            "status": "generated"
          }
        },
        "properties": {
          "contained": {
            "items": {
              "$ref": "#/components/schemas/Resource"
            },
            "type": "array"
          },
          "extension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "implicitRules": {
            "description": "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
            "pattern": "\\S*",
            "type": "string"
          },
          "issue": {
            "items": {
              "$ref": "#/components/schemas/OperationOutcome_Issue"
            },
            "type": "array"
          },
          "language": {
            "description": "The base language in which the resource is written.",
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "resourceType": {
            "$ref": "#/components/schemas/ResourceType"
          },
          "text": {
            "$ref": "#/components/schemas/Narrative"
          }
        },
        "required": [
          "resourceType",
          "issue"
        ],
        "title": "OperationOutcome",
        "type": "object"
      },
      "OperationOutcome_Issue": {
        "properties": {
          "code": {
            "$ref": "#/components/schemas/Code"
          },
          "details": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "diagnostics": {
            "description": "Additional diagnostic information about the issue.",
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "string"
          },
          "expression": {
            "items": {
              "pattern": "[ \\r\\n\\t\\S]+",
              "type": "string"
            },
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "array"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "location": {
            "items": {
              "pattern": "[ \\r\\n\\t\\S]+",
              "type": "string"
            },
            "pattern": "[ \\r\\n\\t\\S]+",
            "type": "array"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "severity": {
            "$ref": "#/components/schemas/Severity"
          }
        },
        "required": [
          "severity",
          "code"
        ],
        "title": "OperationOutcome_Issue",
        "type": "object"
      },
      "Patient": {
        "example": {
          "active": true,
          "address": [
            {
              "city": "1zZgL1V5wX",
              "country": "XGE0Hl2h1Y",
              "district": "83GeZoyn21",
              "line": [
                "FkxycW_jWz"
              ],
              "period": {
                "end": "2020-11-04T11:22:44.730896-05:00",
                "start": "2020-11-04T11:22:44.730681-05:00"
              },
              "postalCode": "rLBCFZ4GDN",
              "state": "AGTxHBDpbY",
              "text": "8sCUd64GpT",
              "type": "both",
              "use": "old"
            }
          ],
          "birthDate": "2020-11-04",
          "communication": [
            {
              "language": {
                "coding": [
                  {
                    "code": "en-US",
                    "system": "urn:ietf:bcp:47"
                  }
                ]
              },
              "preferred": true
            }
          ],
          "contact": [
            {
              "address": {
                "city": "vFlcx0o86N",
                "country": "IgTmZ71LtM",
                "district": "lilEVU580K",
                "line": [
                  "0vN4AeLMbB"
                ],
                "period": {
                  "end": "2020-11-04T11:22:44.735237-05:00",
                  "start": "2020-11-04T11:22:44.735025-05:00"
                },
                "postalCode": "lNvObZ0En2",
                "state": "difXmKYswG",
                "text": "2kcDsSC1U_",
                "type": "both",
                "use": "old"
              },
              "gender": "male",
              "name": {
                "family": "zMYs1RWsPN",
                "given": [
                  "23d05nL4vD"
                ],
                "period": {
                  "end": "2020-11-04T11:22:44.733882-05:00",
                  "start": "2020-11-04T11:22:44.733696-05:00"
                },
                "prefix": [
                  "CvNSNz3T2k"
                ],
                "suffix": [
                  "ASwPu64JGg"
                ],
                "text": "tWgWTBm3qV",
                "use": "nickname"
              },
              "organization": {
                "display": "UuouSjhMzf",
                "identifier": {
                  "period": {
                    "end": "2020-11-04T11:22:44.736521-05:00",
                    "start": "2020-11-04T11:22:44.736313-05:00"
                  },
                  "system": "PoKUY202pq",
                  "type": {
                    "coding": [
                      {
                        "code": "etsGEcBjRS",
                        "display": "u2Fa1vwCb_",
                        "system": "b23K5e6gb0",
                        "userSelected": true,
                        "version": "YWcAM1o40U"
                      }
                    ],
                    "text": "ZSX_XmmoOI"
                  },
                  "use": "usual",
                  "value": "A7GkvaX9Oa"
                },
                "reference": "Organization/Gns4744uko",
                "type": "Organization"
              },
              "period": {
                "end": "2020-11-04T11:22:44.737021-05:00",
                "start": "2020-11-04T11:22:44.736853-05:00"
              },
              "relationship": [
                {
                  "coding": [
                    {
                      "code": "fBF5xwe6ia",
                      "display": "EvCNTZqQDo",
                      "system": "i5CmIu6yQh",
                      "userSelected": true,
                      "version": "dxzgL09XjL"
                    }
                  ],
                  "text": "wWEfF1CoYg"
                }
              ],
              "telecom": [
                {
                  "period": {
                    "end": "2020-11-04T11:22:44.734421-05:00",
                    "start": "2020-11-04T11:22:44.734266-05:00"
                  },
                  "rank": 218937924,
                  "system": "other",
                  "use": "temp",
                  "value": "CzwfPVmpH4"
                }
              ]
            }
          ],
          "deceasedBoolean": true,
          "gender": "male",
          "generalPractitioner": [
            {
              "display": "SYkDfGKt3F",
              "identifier": {
                "period": {
                  "end": "2020-11-04T11:22:44.738599-05:00",
                  "start": "2020-11-04T11:22:44.738432-05:00"
                },
                "system": "Tojs8knd6G",
                "type": {
                  "coding": [
                    {
                      "code": "S8NoNWYCYo",
                      "display": "l04ex85i8D",
                      "system": "JNpEgU_lJ_",
                      "userSelected": true,
                      "version": "8JdlQDYmQu"
                    }
                  ],
                  "text": "KjzHzT6Qgs"
                },
                "use": "secondary",
                "value": "ixcvgQqsuk"
              },
              "reference": "Organization/SiB3lKoyXv",
              "type": "Organization"
            }
          ],
          "identifier": [
            {
              "period": {
                "end": "2020-11-04T11:22:44.723448-05:00",
                "start": "2020-11-04T11:22:44.723071-05:00"
              },
              "system": "z99AQHLDbI",
              "type": {
                "coding": [
                  {
                    "code": "IJVxpXwzZg",
                    "display": "IOYwkFCreQ",
                    "system": "RJxaq9g8Zf",
                    "userSelected": true,
                    "version": "EuO7jZJ7_C"
                  }
                ],
                "text": "CU7r_ze4es"
              },
              "use": "usual",
              "value": "6PUn73kneX"
            }
          ],
          "implicitRules": "zMr27fm3PV",
          "language": "en-US",
          "link": [
            {
              "other": {
                "display": "Gg_9RlJi4t",
                "identifier": {
                  "period": {
                    "end": "2020-11-04T11:22:44.741292-05:00",
                    "start": "2020-11-04T11:22:44.741126-05:00"
                  },
                  "system": "nikT3Fpzga",
                  "type": {
                    "coding": [
                      {
                        "code": "2aNmd2mht_",
                        "display": "RB5S9fApDv",
                        "system": "uiNsFvvVcG",
                        "userSelected": true,
                        "version": "KTfer_IQ6l"
                      }
                    ],
                    "text": "1PXSw8PzVJ"
                  },
                  "use": "old",
                  "value": "qfFmQBX49U"
                },
                "reference": "Patient/FFe88dBQqT",
                "type": "Patient"
              },
              "type": "refer"
            }
          ],
          "managingOrganization": {
            "display": "FuDdPGtvhB",
            "identifier": {
              "period": {
                "end": "2020-11-04T11:22:44.739788-05:00",
                "start": "2020-11-04T11:22:44.739627-05:00"
              },
              "system": "rvw0qz1uHE",
              "type": {
                "coding": [
                  {
                    "code": "zeM4Eevyyp",
                    "display": "lNR13TD3lY",
                    "system": "OVFcmV4gEx",
                    "userSelected": true,
                    "version": "OxwM90nouv"
                  }
                ],
                "text": "JpAdGMgAuV"
              },
              "use": "usual",
              "value": "EoaSD9hvI5"
            },
            "reference": "Organization/wGF7YMZV5M",
            "type": "Organization"
          },
          "maritalStatus": {
            "coding": [
              {
                "code": "zFWvXkDMal",
                "display": "zAAu4J33Kv",
                "system": "INyk7y2v8N",
                "userSelected": true,
                "version": "HLVwwyTtHY"
              }
            ],
            "text": "xHjPzLkct4"
          },
          "meta": {
            "security": [
              {
                "code": "3ofbYka_hY",
                "display": "Uk5cfiCXGy",
                "system": "RHwf6Wb_Z3",
                "userSelected": true,
                "version": "mKNfMM_Jwq"
              }
            ],
            "lastUpdated": "2020-11-04T11:22:44.719535-05:00",
            "profile": [
              "Kso__wyJbq"
            ],
            "source": "1TJxkOPLsZ",
            "tag": [
              {
                "code": "iKROhIfqrE",
                "display": "dI8BrNrGtr",
                "system": "bUpRRWe7RE",
                "userSelected": true,
                "version": "mXEexnyUm7"
              },
              {
                "code": "ibm/complete-mock"
              }
            ],
            "versionId": "r0BlxhiEmn"
          },
          "multipleBirthBoolean": true,
          "name": [
            {
              "family": "jWwVcpNNIB",
              "given": [
                "TAibsfj1XC"
              ],
              "period": {
                "end": "2020-11-04T11:22:44.729004-05:00",
                "start": "2020-11-04T11:22:44.728797-05:00"
              },
              "prefix": [
                "ebYHygfwqO"
              ],
              "suffix": [
                "8AxCS3iEn1"
              ],
              "text": "eVgKYn0WyV",
              "use": "anonymous"
            }
          ],
          "photo": [
            {
              "contentType": "_OEPOWDL32",
              "creation": "2020-11-04T11:22:44.732244-05:00",
              "data": "GSwJHnY=",
              "hash": "RQJXGkc=",
              "language": "en-US",
              "size": 1481229908,
              "title": "1xk8PmxLA3",
              "url": "SOTL6CpVJ5"
            }
          ],
          "resourceType": "Patient",
          "telecom": [
            {
              "period": {
                "end": "2020-11-04T11:22:44.729587-05:00",
                "start": "2020-11-04T11:22:44.729389-05:00"
              },
              "rank": 2073248909,
              "system": "phone",
              "use": "mobile",
              "value": "ZSfW94KHIV"
            }
          ],
          "text": {
            "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"></div>",
            "status": "empty"
          }
        },
        "properties": {
          "active": {
            "description": "Whether this patient record is in active use. \nMany systems use this property to mark as non&ndash;current patients, such as those that have not been seen for a period of time based on an organization's business rules.\n\nIt is often used to filter patient lists to exclude inactive patients\n\nDeceased patients may also be marked as inactive for the same reasons, but may be active for some time after death.",
            "type": "boolean"
          },
          "address": {
            "items": {
              "$ref": "#/components/schemas/Address"
            },
            "type": "array"
          },
          "birthDate": {
            "description": "The date of birth for the individual.",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1]))?)?",
            "type": "string"
          },
          "communication": {
            "items": {
              "$ref": "#/components/schemas/Patient_Communication"
            },
            "type": "array"
          },
          "contact": {
            "items": {
              "$ref": "#/components/schemas/Patient_Contact"
            },
            "type": "array"
          },
          "contained": {
            "items": {
              "$ref": "#/components/schemas/Resource"
            },
            "type": "array"
          },
          "deceasedBoolean": {
            "description": "Indicates if the individual is deceased or not.",
            "type": "boolean"
          },
          "deceasedDateTime": {
            "description": "Indicates if the individual is deceased or not.",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "extension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "gender": {
            "$ref": "#/components/schemas/Gender"
          },
          "generalPractitioner": {
            "items": {
              "$ref": "#/components/schemas/Reference"
            },
            "type": "array"
          },
          "id": {
            "description": "The logical id of the resource, as used in the URL for the resource. Once assigned, this value never changes.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "identifier": {
            "items": {
              "$ref": "#/components/schemas/Identifier"
            },
            "type": "array"
          },
          "implicitRules": {
            "description": "A reference to a set of rules that were followed when the resource was constructed, and which must be understood when processing the content. Often, this is a reference to an implementation guide that defines the special rules along with other profiles etc.",
            "pattern": "\\S*",
            "type": "string"
          },
          "language": {
            "description": "The base language in which the resource is written.",
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "link": {
            "items": {
              "$ref": "#/components/schemas/Patient_Link"
            },
            "type": "array"
          },
          "managingOrganization": {
            "$ref": "#/components/schemas/Reference"
          },
          "maritalStatus": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "multipleBirthBoolean": {
            "description": "Indicates whether the patient is part of a multiple (boolean) or indicates the actual birth order (integer).",
            "type": "boolean"
          },
          "multipleBirthInteger": {
            "description": "Indicates whether the patient is part of a multiple (boolean) or indicates the actual birth order (integer).",
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "items": {
              "$ref": "#/components/schemas/HumanName"
            },
            "type": "array"
          },
          "photo": {
            "items": {
              "$ref": "#/components/schemas/Attachment"
            },
            "type": "array"
          },
          "resourceType": {
            "$ref": "#/components/schemas/ResourceType"
          },
          "telecom": {
            "items": {
              "$ref": "#/components/schemas/ContactPoint"
            },
            "type": "array"
          },
          "text": {
            "$ref": "#/components/schemas/Narrative"
          }
        },
        "required": [
          "resourceType"
        ],
        "title": "Patient",
        "type": "object"
      },
      "Patient_Communication": {
        "properties": {
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "language": {
            "$ref": "#/components/schemas/CodeableConcept"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "preferred": {
            "description": "Indicates whether or not the patient prefers this language (over other languages he masters up a certain level).",
            "type": "boolean"
          }
        },
        "required": [
          "language"
        ],
        "title": "Patient_Communication",
        "type": "object"
      },
      "Patient_Contact": {
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "gender": {
            "$ref": "#/components/schemas/Gender1"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "name": {
            "$ref": "#/components/schemas/HumanName"
          },
          "organization": {
            "$ref": "#/components/schemas/Reference"
          },
          "period": {
            "$ref": "#/components/schemas/Period"
          },
          "relationship": {
            "items": {
              "$ref": "#/components/schemas/CodeableConcept"
            },
            "type": "array"
          },
          "telecom": {
            "items": {
              "$ref": "#/components/schemas/ContactPoint"
            },
            "type": "array"
          }
        },
        "title": "Patient_Contact",
        "type": "object"
      },
      "Patient_Link": {
        "properties": {
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "modifierExtension": {
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "other": {
            "$ref": "#/components/schemas/Reference"
          },
          "type": {
            "$ref": "#/components/schemas/Type2"
          }
        },
        "required": [
          "other",
          "type"
        ],
        "title": "Patient_Link",
        "type": "object"
      },
      "Period": {
        "properties": {
          "end": {
            "description": "The end of the period. If the end of the period is missing, it means no end was known or planned at the time the instance was created. The start may be in the past, and the end date in the future, which means that period is expected/planned to end at that time.",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique id for the element within a resource (for internal references). This may be any string value that does not contain spaces.",
            "pattern": "[A-Za-z0-9\\-\\.]{1,64}",
            "type": "string"
          },
          "start": {
            "description": "The start of the period. The boundary is inclusive.",
            "pattern": "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type": "string"
          }
        },
        "title": "Period",
        "type": "object"
      },
      "PeriodUnit": {
        "description": "The units of time for the period in UCUM units.",
        "enum": [
          "s",
          "min",
          "h",
          "d",
          "wk",
          "mo",
          "a"
        ],
        "title": "PeriodUnit",
        "type": "string"
      },
      "Quantity": {
        "properties": {
          "code": {
            "description": "A computer processable form of the unit in some unit representation system.",
            "pattern": "[^\\s]+(\\s[^\\s]+)*",
            "type": "string"
          },
          "comparator": {
            "$ref": "#/components/schemas/Comparator"
          },
          "extension": {
            "example": [
              {
                "url": "http://example.com",
                "valueString": "text value"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Extension"
            },
            "type": "array"
          },
          "id": {
[...]
