{
  "openapi": "3.1.0",
  "info": {
    "title": "402registry",
    "version": "1",
    "description": "Pay-per-check discoverability audit: does an AI crawler actually see your site? Signed HTTP audit over the x402 protocol (USDC on Base) — no account, no card, no human.",
    "contact": {
      "name": "abuse",
      "email": "abuse@402registry.com"
    },
    "x-guidance": "Buy a check: GET https://402registry.com/buy/<pack>?site=<https URL of the site> answers 402 with x402 v2 payment requirements in the PAYMENT-REQUIRED header ($2 for the smallest pack, USDC on Base). Sign them with any x402 client and repeat the same request with the PAYMENT-SIGNATURE header. Some packs cost more than $1, the default per-payment cap of the standard x402 client (@x402/core). Set spendControls.maxAmountPerPayment to at least the pack price (\"$2\" for the smallest one) before buying; otherwise the client refuses on its own side and the request never reaches this service. We fetch the site the way AI crawlers do (plain HTTP, no JavaScript, a self-identifying user agent), and the check runs BEFORE settlement: if it cannot be completed, nothing is settled. The 200 carries the verdict (listed, refused or doubt), the score, the report URL, the settlement transaction and sinceLast (what changed since your previous check). Every verdict uses one credit; if our model cannot answer, the purchase is refused with 503 model_unavailable before settlement and nothing is charged. A pack larger than the domain's remaining registration allows is refused before payment. Browser agents are welcome: CORS is open on /buy/*, with PAYMENT-REQUIRED and PAYMENT-RESPONSE exposed. Opt out of the free catalog listing with catalog=no. A pack of more than one check needs monitor=daily|weekly|monthly (its extra checks are scheduled re-checks). A $0.1 quick review (https://402registry.com/buy/quick) runs every rule without the model and returns the thin review inline; it never lists a site. The whole catalog as one JSON file, with findings by name and what the crawler saw, is $0.05 at https://402registry.com/buy/catalog (no parameters; the basic fields are free at https://402registry.com/registry.json). Refusals carry a snake_case error code and a message — branch on the code. Free: https://402registry.com/api/check?url=<site> (last verdict) and POST https://402registry.com/submit (queue a free check). Full guide: https://402registry.com/docs.",
    "x-jentic-source-url": "https://402registry.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://402registry.com"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Landing page",
        "description": "Human-readable landing page: what the service does, current pricing, and machine endpoints.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/registry": {
      "get": {
        "summary": "Public registry",
        "description": "Sites that came back \"listed\" from a check, newest first. The check is the paid product; the listing is a free bonus, earned by passing and never bought. Free, cached, no payment.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/registry/{category}": {
      "get": {
        "summary": "Catalog by category",
        "description": "The listed sites in one category (tool, saas, docs, agency and so on), newest first, with a JSON-LD ItemList. A category gets its own page only once it has enough entries; below that it returns 404 rather than a thin page. Free, cached, no payment.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/registry.json": {
      "get": {
        "summary": "The whole catalog, machine-readable",
        "description": "Every listed site with its category, score, check date and badge URL, plus generatedAt. This is the endpoint an agent or an AI search model should read: no HTML to parse and nothing to render. Free, cached, no payment, CORS open.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/site/{host}": {
      "get": {
        "summary": "Profile of one listed site",
        "description": "A page about one site in the catalog: dated verdict, score, category, one-sentence description and the findings a crawler runs into. Returns 404 for a host that is not listed, was never checked, or asked to be removed. The paid report adds the evidence behind each finding and how to fix it.",
        "parameters": [
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "Hostname as listed, without www — the host that answers, not an address that only redirects to it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/registry.jpg": {
      "get": {
        "summary": "Catalog social preview image",
        "description": "1200x630 JPEG used as og:image when a link to /registry or to a category page is shared.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "image/jpeg": {}
            }
          }
        }
      }
    },
    "/site.jpg": {
      "get": {
        "summary": "Profile social preview image",
        "description": "1200x630 JPEG used as og:image when a link to a profile page (/site/{host}) is shared.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "image/jpeg": {}
            }
          }
        }
      }
    },
    "/blog": {
      "get": {
        "summary": "Blog",
        "description": "Measurements of what AI crawlers actually see on websites: plain HTTP, no JavaScript, with a control group.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/blog.jpg": {
      "get": {
        "summary": "Blog social preview image",
        "description": "1200x630 JPEG used as og:image when a link to the blog index is shared.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "image/jpeg": {}
            }
          }
        }
      }
    },
    "/blog/{slug}": {
      "get": {
        "summary": "Blog article",
        "description": "One article. Append .jpg to the slug for its 1200x630 social preview image. Returns 404 for an unknown slug.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Article slug, as linked from /blog.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/bot": {
      "get": {
        "summary": "About our crawler",
        "description": "What the 402registry-check crawler is, why it visits a site, exactly what one check requests (including 4 requests made with the full user-agent strings of AI crawlers), and how to opt out.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/trust": {
      "get": {
        "summary": "Trust and verification",
        "description": "How to verify us before paying: the live 402 terms (network, USDC contract, payTo, amount per product), the receiving wallet on the block explorer, what one check measures, what a passing check does not mean, and what we never ask for.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/.well-known/security.txt": {
      "get": {
        "summary": "Security contact (RFC 9116)",
        "description": "Where to report a security issue or abuse. Expires is computed at request time, so the file never goes stale.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/plain": {}
            }
          }
        }
      }
    },
    "/submit": {
      "post": {
        "summary": "Ask for a free check",
        "description": "Submit a hostname to be checked for free and, if it passes, listed in the catalog. Send JSON {\"host\":\"example.com\"} or a form field named host. No payment, no account, no API key. Being queued is not a promise of listing: only sites that pass the check are listed, and the queue is processed slowly. To be removed instead, disallow the 402registry-check user agent in robots.txt or write to the abuse address in the manifest.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "MCP server (streamable HTTP)",
        "description": "Model Context Protocol over streamable HTTP, one JSON-RPC 2.0 object per POST, no session, no key, no OAuth. Read-only tools: a free registry lookup, every product with its exact x402 payment requirements, the machine guide and the selling status. Buying is not a tool: pay over plain HTTP at /buy/{pack} with an x402 client.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/docs": {
      "get": {
        "summary": "API guide (JSON)",
        "description": "This document, as machine-readable JSON: quickstart, verdict meanings, current pricing, and the same route list as /openapi.json.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI specification",
        "description": "This OpenAPI 3.1 document.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "summary": "Sitemap",
        "description": "Real HTML pages only: the landing page, /registry, one profile page per listed site, the blog and its posts, and /bot.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/xml": {}
            }
          }
        }
      }
    },
    "/robots.txt": {
      "get": {
        "summary": "Crawler rules",
        "description": "Every crawler is allowed, AI crawlers included; the Sitemap line points to /sitemap.xml.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/plain": {}
            }
          }
        }
      }
    },
    "/og.png": {
      "get": {
        "summary": "Brand card",
        "description": "1200x630 PNG brand card; the logo in the landing page JSON-LD.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "image/png": {}
            }
          }
        }
      }
    },
    "/og.jpg": {
      "get": {
        "summary": "Social preview image",
        "description": "1200x630 JPEG used as og:image / twitter:image when a link to the landing page is shared.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "image/jpeg": {}
            }
          }
        }
      }
    },
    "/georgi.webp": {
      "get": {
        "summary": "Owner portrait",
        "description": "400x400 WebP portrait shown in the \"Who runs it\" block on the landing page.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "image/webp": {}
            }
          }
        }
      }
    },
    "/favicon.svg": {
      "get": {
        "summary": "Site icon (SVG)",
        "description": "The site icon as SVG, referenced by <link rel=\"icon\"> on every page.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "image/svg+xml": {}
            }
          }
        }
      }
    },
    "/favicon.png": {
      "get": {
        "summary": "Site icon (PNG)",
        "description": "The site icon as a 192x192 PNG, for clients that do not read SVG icons.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "image/png": {}
            }
          }
        }
      }
    },
    "/favicon.ico": {
      "get": {
        "summary": "Site icon (root fallback)",
        "description": "The same 192x192 PNG, served at the root path that browsers and catalogs probe by convention.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "image/png": {}
            }
          }
        }
      }
    },
    "/.well-known/402registry.json": {
      "get": {
        "summary": "Machine manifest",
        "description": "Service identity, x402 payment protocol details, current packs, and whether the till is open right now.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "summary": "x402 discovery document",
        "description": "The x402 discovery document read by x402 catalogs: {\"version\":1,\"resources\":[...]} listing the two catalog packs (lowest entry price and best per-check rate), the quick review and the catalog snapshot. Every live pack is in this OpenAPI document and in the manifest.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "llms.txt",
        "description": "A plain-text summary for language models: what the service does, current prices, and the machine addresses.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/plain": {}
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Liveness probe",
        "description": "Cheap health check for uptime monitors: kill switch state and how long ago the maintenance sweep last ran.",
        "parameters": [],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/buy/one": {
      "get": {
        "summary": "Buy 1 check for $2 (x402)",
        "description": "One check: $2 for 1 check, $2 per check (smallest pack). Without a payment header this is a browse request: it answers 402 with the x402 payment requirements (and, if `site` is given and accepted, the maximum number of checks that domain can buy). With a valid `PAYMENT-SIGNATURE` (x402 v2) or `X-PAYMENT` (x402 v1) header it is a real purchase: the payment is verified and settled, the site is fetched and checked, and the response carries the verdict and a link to the report.",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "The https URL to check. Required to actually pay; omitted, the response is just the price list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "monitor",
            "in": "query",
            "required": false,
            "description": "Scheduled re-checks at this cadence. Required to pay for a pack of more than one check — its extra checks are delivered as scheduled re-checks, and without monitor= the purchase is refused before payment (pack_needs_monitor). Omit it only with /buy/one, for a one-off check — nothing is ever re-checked unless you ask. Each scheduled check spends one credit, and monitoring stops when the balance reaches zero. It only starts when the verdict is `listed`; an unknown value is refused before any payment is taken. Monitoring belongs to the wallet that started it: while it runs, another wallet asking for monitor= or notify= (or a pack) is refused before payment (host_monitored_by_another_wallet).",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ]
            }
          },
          {
            "name": "notify",
            "in": "query",
            "required": false,
            "description": "An https:// URL we POST to when a scheduled re-check finds a change: the site lost or regained its listing, or its score dropped materially. Needs monitor= as well, since it only fires on scheduled re-checks. The payload carries a verify URL — the free public lookup — so you confirm against the record instead of trusting the webhook — plus the report URL of that scheduled check and sinceLast (what changed since the previous one). Delivery is best effort: the record is authoritative, and after three consecutive failed deliveries the URL is disarmed. Nothing is sent when our own model was unavailable, because that is not a change in your site.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalog",
            "in": "query",
            "required": false,
            "description": "A passing site is listed in the free public catalog by default. Send no to keep the result private — you get the same full analysis either way, and nothing about a failed check is ever published. An unknown value is refused before any payment is taken.",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "x402Version",
            "in": "query",
            "required": false,
            "description": "Force the older x402 protocol version with 1. The default is 2, with the requirements in the PAYMENT-REQUIRED header.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            }
          }
        ],
        "security": [],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "2"
          },
          "network": "base",
          "asset": "USDC",
          "payTo": "0x8e37022edcf0f21cf3c9f93fee9d4d32519f36f4"
        },
        "responses": {
          "200": {
            "description": "Settled purchase: verdict, score, number of findings, catalog and monitoring status, the report URL and the settlement transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The purchase receipt. Sending the same payment again (same wallet, same site, within 5 minutes of settlement) returns the short form with replay: true — the same report and transaction, and nothing is charged again; otherwise 409 already_paid with the receipt only. The settlement is also confirmed in the standard PAYMENT-RESPONSE header.",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "replay": {
                      "type": "boolean",
                      "description": "True when this exact payment was already settled: nothing was charged again."
                    },
                    "pack": {
                      "type": "string",
                      "enum": [
                        "one",
                        "two",
                        "four"
                      ]
                    },
                    "checksBought": {
                      "type": "integer",
                      "description": "Checks in the pack you bought."
                    },
                    "checks": {
                      "type": "integer",
                      "description": "Replay form only: checks in the pack."
                    },
                    "checksUsed": {
                      "type": "integer",
                      "description": "Credits this check spent: 1 for every verdict, doubt included. A check that reaches no verdict is not settled at all (503 model_unavailable)."
                    },
                    "verdict": {
                      "type": "string",
                      "enum": [
                        "listed",
                        "refused",
                        "doubt"
                      ]
                    },
                    "score": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "0-100; null when the site could not be scored. Findings shown only to you (a leaked key, an unprotected session cookie) are in the report but never weigh in the score."
                    },
                    "findings": {
                      "type": "integer",
                      "description": "Number of findings in the report."
                    },
                    "listed": {
                      "type": "boolean",
                      "description": "Whether this purchase put the site in the public catalog."
                    },
                    "host": {
                      "type": "string",
                      "description": "The host the record is under: the host that answered (end of the redirect chain, www dropped), as long as the chain stays on the same site."
                    },
                    "submittedHost": {
                      "type": "string",
                      "description": "The host you submitted, www dropped."
                    },
                    "hostNote": {
                      "type": "string",
                      "description": "Present only when submittedHost differs from host: the submitted host only redirects within the same site, so the record, badge, lookup and profile are under host."
                    },
                    "catalog": {
                      "type": "object",
                      "description": "Catalog outcome of this purchase: listed (with entry, badge and profile URLs), or the reason it was not — site_opted_out, verdict, or not_requested. already_listed (listed: true): catalog=no was passed, but the site was listed by an earlier passing check and stays listed."
                    },
                    "monitoring": {
                      "type": "object",
                      "description": "Scheduled re-check status: the cadence and next check, or why it did not start."
                    },
                    "recorded": {
                      "type": "boolean",
                      "description": "False only when the payment settled but our database could not record this check: the full report is then in reportInline, report is null, and credits, listing and monitoring were not recorded (we are alerted and resolve it by hand)."
                    },
                    "report": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "The full report, HTML or ?format=json. null when recorded is false — the report is then in reportInline."
                    },
                    "reportInline": {
                      "type": "object",
                      "description": "Present only when recorded is false: the full report, the same JSON the report page would serve. Keep it — there is no page for it."
                    },
                    "sinceLast": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "What changed since the previous check you may see — your own earlier check (same wallet), or the public catalog record of a listed site with private findings left out: previousAt, scope (own|public), comparable, counts of fixed, new and still-open findings, score and verdict before and after, and a one-sentence summary. Findings are compared only under the same rules version. null: no earlier check you may see. The report has the full lists."
                    },
                    "payment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Settlement transaction hash on the payment network."
                    },
                    "settledAt": {
                      "type": "integer",
                      "description": "Replay form only: settlement time, Unix milliseconds."
                    },
                    "message": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "pack",
                    "report",
                    "payment"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment required: the x402 requirements are in the PAYMENT-REQUIRED header (x402 v2) and, for compatibility, in the body. A refusal to a payment attempt also carries `error` (a snake_case code — branch on it) and `message`. Nothing is charged by a 402.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "This authorization (its nonce) is already known to us, so nothing was settled now. `already_paid`: it was settled earlier — the body is the receipt (payment, settledAt, pack, expired) and nothing is delivered or charged again; returned when the payment header has expired, or when a resend is not provably the original purchase (same wallet, a signature we can verify, same site, within 5 minutes of settlement). `in_flight`: being settled right now, retry in seconds. `orphaned` / `stuck`: outcome unknown, do not retry. In every case: do NOT sign a new authorization for the same purchase.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/buy/two": {
      "get": {
        "summary": "Buy 2 checks for $3 (x402)",
        "description": "Two checks: $3 for 2 checks, $1.5 per check. Without a payment header this is a browse request: it answers 402 with the x402 payment requirements (and, if `site` is given and accepted, the maximum number of checks that domain can buy). With a valid `PAYMENT-SIGNATURE` (x402 v2) or `X-PAYMENT` (x402 v1) header it is a real purchase: the payment is verified and settled, the site is fetched and checked, and the response carries the verdict and a link to the report.",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "The https URL to check. Required to actually pay; omitted, the response is just the price list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "monitor",
            "in": "query",
            "required": false,
            "description": "Scheduled re-checks at this cadence. Required to pay for a pack of more than one check — its extra checks are delivered as scheduled re-checks, and without monitor= the purchase is refused before payment (pack_needs_monitor). Omit it only with /buy/one, for a one-off check — nothing is ever re-checked unless you ask. Each scheduled check spends one credit, and monitoring stops when the balance reaches zero. It only starts when the verdict is `listed`; an unknown value is refused before any payment is taken. Monitoring belongs to the wallet that started it: while it runs, another wallet asking for monitor= or notify= (or a pack) is refused before payment (host_monitored_by_another_wallet).",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ]
            }
          },
          {
            "name": "notify",
            "in": "query",
            "required": false,
            "description": "An https:// URL we POST to when a scheduled re-check finds a change: the site lost or regained its listing, or its score dropped materially. Needs monitor= as well, since it only fires on scheduled re-checks. The payload carries a verify URL — the free public lookup — so you confirm against the record instead of trusting the webhook — plus the report URL of that scheduled check and sinceLast (what changed since the previous one). Delivery is best effort: the record is authoritative, and after three consecutive failed deliveries the URL is disarmed. Nothing is sent when our own model was unavailable, because that is not a change in your site.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalog",
            "in": "query",
            "required": false,
            "description": "A passing site is listed in the free public catalog by default. Send no to keep the result private — you get the same full analysis either way, and nothing about a failed check is ever published. An unknown value is refused before any payment is taken.",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "x402Version",
            "in": "query",
            "required": false,
            "description": "Force the older x402 protocol version with 1. The default is 2, with the requirements in the PAYMENT-REQUIRED header.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            }
          }
        ],
        "security": [],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "3"
          },
          "network": "base",
          "asset": "USDC",
          "payTo": "0x8e37022edcf0f21cf3c9f93fee9d4d32519f36f4"
        },
        "responses": {
          "200": {
            "description": "Settled purchase: verdict, score, number of findings, catalog and monitoring status, the report URL and the settlement transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The purchase receipt. Sending the same payment again (same wallet, same site, within 5 minutes of settlement) returns the short form with replay: true — the same report and transaction, and nothing is charged again; otherwise 409 already_paid with the receipt only. The settlement is also confirmed in the standard PAYMENT-RESPONSE header.",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "replay": {
                      "type": "boolean",
                      "description": "True when this exact payment was already settled: nothing was charged again."
                    },
                    "pack": {
                      "type": "string",
                      "enum": [
                        "one",
                        "two",
                        "four"
                      ]
                    },
                    "checksBought": {
                      "type": "integer",
                      "description": "Checks in the pack you bought."
                    },
                    "checks": {
                      "type": "integer",
                      "description": "Replay form only: checks in the pack."
                    },
                    "checksUsed": {
                      "type": "integer",
                      "description": "Credits this check spent: 1 for every verdict, doubt included. A check that reaches no verdict is not settled at all (503 model_unavailable)."
                    },
                    "verdict": {
                      "type": "string",
                      "enum": [
                        "listed",
                        "refused",
                        "doubt"
                      ]
                    },
                    "score": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "0-100; null when the site could not be scored. Findings shown only to you (a leaked key, an unprotected session cookie) are in the report but never weigh in the score."
                    },
                    "findings": {
                      "type": "integer",
                      "description": "Number of findings in the report."
                    },
                    "listed": {
                      "type": "boolean",
                      "description": "Whether this purchase put the site in the public catalog."
                    },
                    "host": {
                      "type": "string",
                      "description": "The host the record is under: the host that answered (end of the redirect chain, www dropped), as long as the chain stays on the same site."
                    },
                    "submittedHost": {
                      "type": "string",
                      "description": "The host you submitted, www dropped."
                    },
                    "hostNote": {
                      "type": "string",
                      "description": "Present only when submittedHost differs from host: the submitted host only redirects within the same site, so the record, badge, lookup and profile are under host."
                    },
                    "catalog": {
                      "type": "object",
                      "description": "Catalog outcome of this purchase: listed (with entry, badge and profile URLs), or the reason it was not — site_opted_out, verdict, or not_requested. already_listed (listed: true): catalog=no was passed, but the site was listed by an earlier passing check and stays listed."
                    },
                    "monitoring": {
                      "type": "object",
                      "description": "Scheduled re-check status: the cadence and next check, or why it did not start."
                    },
                    "recorded": {
                      "type": "boolean",
                      "description": "False only when the payment settled but our database could not record this check: the full report is then in reportInline, report is null, and credits, listing and monitoring were not recorded (we are alerted and resolve it by hand)."
                    },
                    "report": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "The full report, HTML or ?format=json. null when recorded is false — the report is then in reportInline."
                    },
                    "reportInline": {
                      "type": "object",
                      "description": "Present only when recorded is false: the full report, the same JSON the report page would serve. Keep it — there is no page for it."
                    },
                    "sinceLast": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "What changed since the previous check you may see — your own earlier check (same wallet), or the public catalog record of a listed site with private findings left out: previousAt, scope (own|public), comparable, counts of fixed, new and still-open findings, score and verdict before and after, and a one-sentence summary. Findings are compared only under the same rules version. null: no earlier check you may see. The report has the full lists."
                    },
                    "payment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Settlement transaction hash on the payment network."
                    },
                    "settledAt": {
                      "type": "integer",
                      "description": "Replay form only: settlement time, Unix milliseconds."
                    },
                    "message": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "pack",
                    "report",
                    "payment"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment required: the x402 requirements are in the PAYMENT-REQUIRED header (x402 v2) and, for compatibility, in the body. A refusal to a payment attempt also carries `error` (a snake_case code — branch on it) and `message`. Nothing is charged by a 402.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "This authorization (its nonce) is already known to us, so nothing was settled now. `already_paid`: it was settled earlier — the body is the receipt (payment, settledAt, pack, expired) and nothing is delivered or charged again; returned when the payment header has expired, or when a resend is not provably the original purchase (same wallet, a signature we can verify, same site, within 5 minutes of settlement). `in_flight`: being settled right now, retry in seconds. `orphaned` / `stuck`: outcome unknown, do not retry. In every case: do NOT sign a new authorization for the same purchase.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/buy/four": {
      "get": {
        "summary": "Buy 4 checks for $5 (x402)",
        "description": "Four checks: $5 for 4 checks, $1.25 per check (best rate per check). Without a payment header this is a browse request: it answers 402 with the x402 payment requirements (and, if `site` is given and accepted, the maximum number of checks that domain can buy). With a valid `PAYMENT-SIGNATURE` (x402 v2) or `X-PAYMENT` (x402 v1) header it is a real purchase: the payment is verified and settled, the site is fetched and checked, and the response carries the verdict and a link to the report.",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "The https URL to check. Required to actually pay; omitted, the response is just the price list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "monitor",
            "in": "query",
            "required": false,
            "description": "Scheduled re-checks at this cadence. Required to pay for a pack of more than one check — its extra checks are delivered as scheduled re-checks, and without monitor= the purchase is refused before payment (pack_needs_monitor). Omit it only with /buy/one, for a one-off check — nothing is ever re-checked unless you ask. Each scheduled check spends one credit, and monitoring stops when the balance reaches zero. It only starts when the verdict is `listed`; an unknown value is refused before any payment is taken. Monitoring belongs to the wallet that started it: while it runs, another wallet asking for monitor= or notify= (or a pack) is refused before payment (host_monitored_by_another_wallet).",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ]
            }
          },
          {
            "name": "notify",
            "in": "query",
            "required": false,
            "description": "An https:// URL we POST to when a scheduled re-check finds a change: the site lost or regained its listing, or its score dropped materially. Needs monitor= as well, since it only fires on scheduled re-checks. The payload carries a verify URL — the free public lookup — so you confirm against the record instead of trusting the webhook — plus the report URL of that scheduled check and sinceLast (what changed since the previous one). Delivery is best effort: the record is authoritative, and after three consecutive failed deliveries the URL is disarmed. Nothing is sent when our own model was unavailable, because that is not a change in your site.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalog",
            "in": "query",
            "required": false,
            "description": "A passing site is listed in the free public catalog by default. Send no to keep the result private — you get the same full analysis either way, and nothing about a failed check is ever published. An unknown value is refused before any payment is taken.",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "x402Version",
            "in": "query",
            "required": false,
            "description": "Force the older x402 protocol version with 1. The default is 2, with the requirements in the PAYMENT-REQUIRED header.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            }
          }
        ],
        "security": [],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "5"
          },
          "network": "base",
          "asset": "USDC",
          "payTo": "0x8e37022edcf0f21cf3c9f93fee9d4d32519f36f4"
        },
        "responses": {
          "200": {
            "description": "Settled purchase: verdict, score, number of findings, catalog and monitoring status, the report URL and the settlement transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The purchase receipt. Sending the same payment again (same wallet, same site, within 5 minutes of settlement) returns the short form with replay: true — the same report and transaction, and nothing is charged again; otherwise 409 already_paid with the receipt only. The settlement is also confirmed in the standard PAYMENT-RESPONSE header.",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "replay": {
                      "type": "boolean",
                      "description": "True when this exact payment was already settled: nothing was charged again."
                    },
                    "pack": {
                      "type": "string",
                      "enum": [
                        "one",
                        "two",
                        "four"
                      ]
                    },
                    "checksBought": {
                      "type": "integer",
                      "description": "Checks in the pack you bought."
                    },
                    "checks": {
                      "type": "integer",
                      "description": "Replay form only: checks in the pack."
                    },
                    "checksUsed": {
                      "type": "integer",
                      "description": "Credits this check spent: 1 for every verdict, doubt included. A check that reaches no verdict is not settled at all (503 model_unavailable)."
                    },
                    "verdict": {
                      "type": "string",
                      "enum": [
                        "listed",
                        "refused",
                        "doubt"
                      ]
                    },
                    "score": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "0-100; null when the site could not be scored. Findings shown only to you (a leaked key, an unprotected session cookie) are in the report but never weigh in the score."
                    },
                    "findings": {
                      "type": "integer",
                      "description": "Number of findings in the report."
                    },
                    "listed": {
                      "type": "boolean",
                      "description": "Whether this purchase put the site in the public catalog."
                    },
                    "host": {
                      "type": "string",
                      "description": "The host the record is under: the host that answered (end of the redirect chain, www dropped), as long as the chain stays on the same site."
                    },
                    "submittedHost": {
                      "type": "string",
                      "description": "The host you submitted, www dropped."
                    },
                    "hostNote": {
                      "type": "string",
                      "description": "Present only when submittedHost differs from host: the submitted host only redirects within the same site, so the record, badge, lookup and profile are under host."
                    },
                    "catalog": {
                      "type": "object",
                      "description": "Catalog outcome of this purchase: listed (with entry, badge and profile URLs), or the reason it was not — site_opted_out, verdict, or not_requested. already_listed (listed: true): catalog=no was passed, but the site was listed by an earlier passing check and stays listed."
                    },
                    "monitoring": {
                      "type": "object",
                      "description": "Scheduled re-check status: the cadence and next check, or why it did not start."
                    },
                    "recorded": {
                      "type": "boolean",
                      "description": "False only when the payment settled but our database could not record this check: the full report is then in reportInline, report is null, and credits, listing and monitoring were not recorded (we are alerted and resolve it by hand)."
                    },
                    "report": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "The full report, HTML or ?format=json. null when recorded is false — the report is then in reportInline."
                    },
                    "reportInline": {
                      "type": "object",
                      "description": "Present only when recorded is false: the full report, the same JSON the report page would serve. Keep it — there is no page for it."
                    },
                    "sinceLast": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "What changed since the previous check you may see — your own earlier check (same wallet), or the public catalog record of a listed site with private findings left out: previousAt, scope (own|public), comparable, counts of fixed, new and still-open findings, score and verdict before and after, and a one-sentence summary. Findings are compared only under the same rules version. null: no earlier check you may see. The report has the full lists."
                    },
                    "payment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Settlement transaction hash on the payment network."
                    },
                    "settledAt": {
                      "type": "integer",
                      "description": "Replay form only: settlement time, Unix milliseconds."
                    },
                    "message": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "pack",
                    "report",
                    "payment"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment required: the x402 requirements are in the PAYMENT-REQUIRED header (x402 v2) and, for compatibility, in the body. A refusal to a payment attempt also carries `error` (a snake_case code — branch on it) and `message`. Nothing is charged by a 402.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "This authorization (its nonce) is already known to us, so nothing was settled now. `already_paid`: it was settled earlier — the body is the receipt (payment, settledAt, pack, expired) and nothing is delivered or charged again; returned when the payment header has expired, or when a resend is not provably the original purchase (same wallet, a signature we can verify, same site, within 5 minutes of settlement). `in_flight`: being settled right now, retry in seconds. `orphaned` / `stuck`: outcome unknown, do not retry. In every case: do NOT sign a new authorization for the same purchase.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/buy/quick": {
      "get": {
        "summary": "Quick review for $0.1 (x402)",
        "description": "One quick review for $0.1: every rule, no model. The 200 carries the thin review inline — the score, findings by severity and the five that matter most (empty JS shell, soft 404, www/apex, robots vs AI bots, sitemap) with evidence; no fixes and no report page. The full check with fixes, a model verdict and a listing is /buy/one. A passing review queues the site for the free catalog check. At most one per site per hour and 5 per day; refused before payment.",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "required": false,
            "description": "The https URL to check. Required to actually pay; omitted, the response is just the price list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalog",
            "in": "query",
            "required": false,
            "description": "A passing quick review queues the site for the free catalog check (every rule plus the model) by default; send no to not queue it. The quick review itself never lists a site. An unknown value is refused before any payment is taken.",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "x402Version",
            "in": "query",
            "required": false,
            "description": "Force the older x402 protocol version with 1. The default is 2, with the requirements in the PAYMENT-REQUIRED header.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            }
          }
        ],
        "security": [],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.1"
          },
          "network": "base",
          "asset": "USDC",
          "payTo": "0x8e37022edcf0f21cf3c9f93fee9d4d32519f36f4"
        },
        "responses": {
          "200": {
            "description": "Settled quick review: the thin review inline, the catalog queue status and the settlement transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The quick review, inline: no report page and no fixes. Sending the same payment again (same wallet, same site, within 5 minutes of settlement) returns it in `review` with replay: true, and nothing is charged again; otherwise 409 already_paid with the receipt. The settlement is also confirmed in the standard PAYMENT-RESPONSE header.",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "replay": {
                      "type": "boolean",
                      "description": "True when this exact payment was already settled: nothing was charged again."
                    },
                    "pack": {
                      "type": "string",
                      "const": "quick"
                    },
                    "host": {
                      "type": "string",
                      "description": "The host that answered (end of the redirect chain, www dropped): the site this review is of."
                    },
                    "submittedHost": {
                      "type": "string",
                      "description": "The host you submitted, www dropped."
                    },
                    "hostNote": {
                      "type": "string",
                      "description": "Present only when submittedHost differs from host."
                    },
                    "rules": {
                      "type": "string",
                      "enum": [
                        "pass",
                        "refused"
                      ],
                      "description": "The verdict of the rules alone: refused when a hard rule disqualifies the site."
                    },
                    "refusedBy": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The rule that refuses the site; null on pass."
                    },
                    "score": {
                      "type": "integer",
                      "description": "0-100. Findings shown only to the buyer of a full check never weigh in it."
                    },
                    "findings": {
                      "type": "integer",
                      "description": "Number of findings, leaving out those shown only to the buyer of a full check."
                    },
                    "bySeverity": {
                      "type": "object",
                      "description": "Count of findings per severity: critical, high, medium, low, info. Findings shown only to the buyer of a full check (a leaked key, an unprotected session cookie) are not counted."
                    },
                    "carrying": {
                      "type": "array",
                      "description": "The findings among the five that matter most, with evidence: id, severity, what, evidence. No fix.",
                      "items": {
                        "type": "object"
                      }
                    },
                    "moreFindings": {
                      "type": "integer",
                      "description": "Findings outside the five, counted but not named."
                    },
                    "fullCheck": {
                      "type": "object",
                      "description": "Where to buy the full check (fixes, model verdict, listing) for this site."
                    },
                    "catalog": {
                      "type": "object",
                      "description": "Whether the site was queued for the free catalog check (queued), and why not when it was not."
                    },
                    "recorded": {
                      "type": "boolean",
                      "description": "False only when the payment settled but our database could not record this review: the review is in this receipt, but sending the payment again will not return it."
                    },
                    "review": {
                      "type": "object",
                      "description": "Replay form only: the stored review."
                    },
                    "payment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Settlement transaction hash on the payment network."
                    },
                    "settledAt": {
                      "type": "integer",
                      "description": "Replay form only: settlement time, Unix milliseconds."
                    },
                    "message": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "pack",
                    "payment"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment required: the x402 requirements are in the PAYMENT-REQUIRED header (x402 v2) and, for compatibility, in the body. A refusal to a payment attempt also carries `error` (a snake_case code — branch on it) and `message`. Nothing is charged by a 402.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "This authorization (its nonce) is already known to us, so nothing was settled now. `already_paid`: it was settled earlier — the body is the receipt (payment, settledAt, pack, expired) and nothing is delivered or charged again; returned when the payment header has expired, or when a resend is not provably the original purchase (same wallet, a signature we can verify, same site, within 5 minutes of settlement). `in_flight`: being settled right now, retry in seconds. `orphaned` / `stuck`: outcome unknown, do not retry. In every case: do NOT sign a new authorization for the same purchase.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/buy/catalog": {
      "get": {
        "summary": "The whole catalog as one JSON file for $0.05 (x402)",
        "description": "Every site in the catalog, rendered at purchase, for $0.05. Per site: the free fields plus the findings by name and severity (never the evidence or the fix), the stack, the page title, the content hash, the date and rules version of the report, when a model last judged it, and what the crawler saw without JavaScript. The basic fields are free at /registry.json. No parameters: site, monitor, catalog and notify are refused before any payment is taken.",
        "parameters": [
          {
            "name": "x402Version",
            "in": "query",
            "required": false,
            "description": "Force the older x402 protocol version with 1. The default is 2, with the requirements in the PAYMENT-REQUIRED header.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2"
              ]
            }
          }
        ],
        "security": [],
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "base",
          "asset": "USDC",
          "payTo": "0x8e37022edcf0f21cf3c9f93fee9d4d32519f36f4"
        },
        "responses": {
          "200": {
            "description": "Settled catalog snapshot: the whole catalog inline and the settlement transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The catalog snapshot, inline. Sending the same payment again (same wallet, within 5 minutes of settlement) returns the CURRENT snapshot with replay: true and originalGeneratedAt (when the one you bought was rendered); nothing is charged again; otherwise 409 already_paid with the receipt. The settlement is also confirmed in the standard PAYMENT-RESPONSE header.",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "replay": {
                      "type": "boolean",
                      "description": "True when this exact payment was already settled: nothing was charged again."
                    },
                    "pack": {
                      "type": "string",
                      "const": "catalog"
                    },
                    "originalGeneratedAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Replay form only: when the snapshot you bought was rendered."
                    },
                    "payment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Settlement transaction hash on the payment network."
                    },
                    "settledAt": {
                      "type": "integer",
                      "description": "Replay form only: settlement time, Unix milliseconds."
                    },
                    "message": {
                      "type": "string"
                    },
                    "snapshot": {
                      "type": "object",
                      "description": "generatedAt, count, truncated (true when the catalog is larger than one snapshot holds), counts, rulesVersion, categories, about, free, terms, fields (a legend for the per-site fields) and sites. Each site carries host, url, category, topic, description, score, badge, profile, listedAt, checkedAt, tier, title, contentHash, rulesVersion, basis, modelJudgedAt, requests, ms, stack, bySeverity, findings (id, severity, what) and facts.",
                      "properties": {
                        "generatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "count": {
                          "type": "integer"
                        },
                        "truncated": {
                          "type": "boolean"
                        },
                        "sites": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      },
                      "required": [
                        "generatedAt",
                        "count",
                        "truncated",
                        "sites"
                      ]
                    }
                  },
                  "required": [
                    "ok",
                    "pack",
                    "payment",
                    "snapshot"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment required: the x402 requirements are in the PAYMENT-REQUIRED header (x402 v2) and, for compatibility, in the body. A refusal to a payment attempt also carries `error` (a snake_case code — branch on it) and `message`. Nothing is charged by a 402.",
            "content": {
              "application/json": {}
            }
          },
          "409": {
            "description": "This authorization (its nonce) is already known to us, so nothing was settled now. `already_paid`: it was settled earlier — the body is the receipt (payment, settledAt, pack, expired) and nothing is delivered or charged again; returned when the payment header has expired, or when a resend is not provably the original purchase (same wallet, a signature we can verify, same site, within 5 minutes of settlement). `in_flight`: being settled right now, retry in seconds. `orphaned` / `stuck`: outcome unknown, do not retry. In every case: do NOT sign a new authorization for the same purchase.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/r/{id}": {
      "get": {
        "summary": "Check report",
        "description": "The report for a paid check: findings, each with evidence quoted verbatim, and a fix for the detected stack, plus \"Since the previous check\" (sinceLast: fixed, new and still-open findings against the previous check you may see). HTML by default (for the human behind the agent); `?format=json` or `Accept: application/json` returns the same data as JSON. Never indexed by search engines.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "32 lowercase hex characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "`json` forces the JSON body regardless of Accept.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/api/check": {
      "get": {
        "summary": "Free badge lookup",
        "description": "Looks up a host in the registry by URL. Free, cached, no payment. Unknown host is a normal 200 with `known:false`, not an error.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Any URL on the site to look up; only the host is used.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/badge/{host}": {
      "get": {
        "summary": "Status badge (SVG)",
        "description": "An embeddable status badge. The path segment is the host plus a literal \".svg\" suffix, e.g. \"/badge/example.com.svg\". Free, cached, no payment.",
        "parameters": [
          {
            "name": "host",
            "in": "path",
            "required": true,
            "description": "The host to show, with a literal \".svg\" suffix appended (e.g. \"example.com.svg\") — the host that answers, not an address that only redirects to it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "image/svg+xml": {}
            }
          }
        }
      }
    }
  },
  "components": {}
}