{
  "openapi": "3.1.0",
  "info": {
    "title": "Kubflow API",
    "version": "1.0.0",
    "description": "Generate images, videos and audio through a Kubflow account API key.",
    "x-jentic-source-url": "https://kubflow.ai/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://kubflow.ai"
    }
  ],
  "paths": {
    "/api/v1/uploads": {
      "post": {
        "operationId": "uploadReference",
        "summary": "Upload a reference image, video, or audio file (no generation credits)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uploaded file with public url"
          },
          "400": {
            "description": "Missing or empty file"
          },
          "401": {
            "description": "Invalid API key"
          },
          "413": {
            "description": "File exceeds 80 MiB or storage limit"
          },
          "415": {
            "description": "Unsupported media type"
          }
        }
      }
    },
    "/api/v1/generations": {
      "post": {
        "operationId": "createGeneration",
        "summary": "Start an image or video generation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerationCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation started"
          }
        }
      }
    },
    "/api/v1/generations/price": {
      "post": {
        "operationId": "priceGeneration",
        "summary": "The exact credits a generation with these settings costs; starts and charges nothing",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerationCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Price in credits and the account's balance"
          }
        }
      }
    },
    "/api/v1/generations/{generation_id}": {
      "get": {
        "operationId": "getGeneration",
        "summary": "Check generation status and result",
        "parameters": [
          {
            "name": "generation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generation status"
          }
        }
      }
    },
    "/api/v1/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List available Kubflow models",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "video",
                "audio"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model list"
          }
        }
      }
    },
    "/api/v1/models/{model_id}": {
      "get": {
        "operationId": "getModel",
        "summary": "One model's input schema, price and prompting guide, plus general prompting rules",
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model details"
          },
          "404": {
            "description": "Unknown model"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "GenerationCreate": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "audio"
            ]
          },
          "model": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "params": {
            "type": "object",
            "additionalProperties": true
          },
          "max_credits": {
            "type": "number",
            "description": "Refuse to start when the price is higher."
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}