{
  "openapi": "3.1.0",
  "info": {
    "title": "HonestHook API",
    "version": "1.0.0",
    "description": "Profiles and posts from the major social networks, through one API. One key, one response shape; rate limits, retries and platform changes are on us. Clean JSON for your app or your AI agent. We read the exact field each platform publishes, and return null when none exists. Plus a historical trend archive that answers what was trending, which cannot be reconstructed after the fact.",
    "contact": {
      "url": "https://honesthook.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://honesthook.com/docs"
    },
    "x-jentic-source-url": "https://honesthook.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://honesthook.com"
    }
  ],
  "paths": {
    "/api/v1/bluesky/profile": {
      "get": {
        "operationId": "blueskyProfile",
        "summary": "Public profile on bluesky, with the exact follower count.",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "One public profile, normalised into the same envelope as every other platform. Source: public.api.bsky.app (official, no key). Costs 1 credit; the answer is cached for an hour and a cache hit costs nothing (`cached: true`, `credits_used: 0`).\n\nAT Protocol handle, which is a domain name: `bsky.app`, `alguem.bsky.social`. Dots are part of it; slashes are refused.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "AT Protocol handle, which is a domain name: `bsky.app`, `alguem.bsky.social`. Dots are part of it; slashes are refused.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9](?:[A-Za-z0-9-]{0,61}[A-Za-z0-9])?(?:\\.[A-Za-z0-9](?:[A-Za-z0-9-]{0,61}[A-Za-z0-9])?)+$",
              "example": "bsky.app"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing or does not match this platform's format. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits. Two different types, and they mean different things: `sem_creditos` (both wallets are empty) and `teto_estourado` (the key has a monthly ceiling and hit it). Waiting does not help either one before the 1st — this is not a rate limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such profile on that platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "451": {
            "description": "`bloqueado` — the platform refused us. The resource exists and YOUR key is fine; 403 would wrongly blame the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "`indisponivel` — this endpoint is switched off in the catalogue, or a dependency of ours is down. Your key is fine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/github/profile": {
      "get": {
        "operationId": "githubProfile",
        "summary": "Public profile on github, with the exact follower count.",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "One public profile, normalised into the same envelope as every other platform. Source: api.github.com (official, authenticated). Costs 1 credit; the answer is cached for an hour and a cache hit costs nothing (`cached: true`, `credits_used: 0`).\n\nGitHub username: letters, digits and single hyphens, up to 39 characters, not starting or ending with a hyphen.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "GitHub username: letters, digits and single hyphens, up to 39 characters, not starting or ending with a hyphen.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9](?:[A-Za-z0-9]|-(?=[A-Za-z0-9])){0,38}$",
              "example": "torvalds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing or does not match this platform's format. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits. Two different types, and they mean different things: `sem_creditos` (both wallets are empty) and `teto_estourado` (the key has a monthly ceiling and hit it). Waiting does not help either one before the 1st — this is not a rate limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such profile on that platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "451": {
            "description": "`bloqueado` — the platform refused us. The resource exists and YOUR key is fine; 403 would wrongly blame the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "`indisponivel` — this endpoint is switched off in the catalogue, or a dependency of ours is down. Your key is fine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/instagram/profile": {
      "get": {
        "operationId": "instagramProfile",
        "summary": "Public profile on instagram, with the exact follower count.",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "One public profile, normalised into the same envelope as every other platform. Source: public profile page, logged out. Costs 1 credit; the answer is cached for an hour and a cache hit costs nothing (`cached: true`, `credits_used: 0`).\n\nInstagram username: letters, digits, dot and underscore, up to 30.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Instagram username: letters, digits, dot and underscore, up to 30.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._]{1,30}$",
              "example": "natgeo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing or does not match this platform's format. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits. Two different types, and they mean different things: `sem_creditos` (both wallets are empty) and `teto_estourado` (the key has a monthly ceiling and hit it). Waiting does not help either one before the 1st — this is not a rate limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such profile on that platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "451": {
            "description": "`bloqueado` — the platform refused us. The resource exists and YOUR key is fine; 403 would wrongly blame the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "`indisponivel` — this endpoint is switched off in the catalogue, or a dependency of ours is down. Your key is fine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/linktree/profile": {
      "get": {
        "operationId": "linktreeProfile",
        "summary": "Public profile on linktree, with the exact follower count.",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "One public profile, normalised into the same envelope as every other platform. Source: public page, logged out. Costs 1 credit; the answer is cached for an hour and a cache hit costs nothing (`cached: true`, `credits_used: 0`).\n\nLinktree username: letters, digits, dot, hyphen and underscore.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Linktree username: letters, digits, dot, hyphen and underscore.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._-]{1,60}$",
              "example": "comedycentral"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing or does not match this platform's format. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits. Two different types, and they mean different things: `sem_creditos` (both wallets are empty) and `teto_estourado` (the key has a monthly ceiling and hit it). Waiting does not help either one before the 1st — this is not a rate limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such profile on that platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "451": {
            "description": "`bloqueado` — the platform refused us. The resource exists and YOUR key is fine; 403 would wrongly blame the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "`indisponivel` — this endpoint is switched off in the catalogue, or a dependency of ours is down. Your key is fine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mastodon/profile": {
      "get": {
        "operationId": "mastodonProfile",
        "summary": "Public profile on mastodon, with the exact follower count.",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "One public profile, normalised into the same envelope as every other platform. Source: the account's own instance (official API, no key). Costs 1 credit; the answer is cached for an hour and a cache hit costs nothing (`cached: true`, `credits_used: 0`).\n\n**`user@instance`, and the instance is required.** Mastodon is federated: `Gargron` alone identifies nobody, because a different person can hold that name on every server. A handle without an instance is refused with 400 rather than completed with a default server — completing it would return somebody else's profile with `success: true`. The instance must be a public DNS name: IP literals, ports and paths are refused. The handle comes back fully qualified, so the response value is a valid next request.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "**`user@instance`, and the instance is required.** Mastodon is federated: `Gargron` alone identifies nobody, because a different person can hold that name on every server. A handle without an instance is refused with 400 rather than completed with a default server — completing it would return somebody else's profile with `success: true`. The instance must be a public DNS name: IP literals, ports and paths are refused. The handle comes back fully qualified, so the response value is a valid next request.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._-]{1,30}@(?:[A-Za-z0-9](?:[A-Za-z0-9-]{0,61}[A-Za-z0-9])?\\.)+[A-Za-z]{2,24}$",
              "example": "Gargron@mastodon.social"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing or does not match this platform's format. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits. Two different types, and they mean different things: `sem_creditos` (both wallets are empty) and `teto_estourado` (the key has a monthly ceiling and hit it). Waiting does not help either one before the 1st — this is not a rate limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such profile on that platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "451": {
            "description": "`bloqueado` — the platform refused us. The resource exists and YOUR key is fine; 403 would wrongly blame the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "`indisponivel` — this endpoint is switched off in the catalogue, or a dependency of ours is down. Your key is fine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/medium/profile": {
      "get": {
        "operationId": "mediumProfile",
        "summary": "Public profile on medium, with the exact follower count.",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "One public profile, normalised into the same envelope as every other platform. Source: public profile page, logged out. Costs 1 credit; the answer is cached for an hour and a cache hit costs nothing (`cached: true`, `credits_used: 0`).\n\nMedium username, without the `@`: letters, digits, dot, hyphen and underscore. The `@` is part of the URL, not of the name.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Medium username, without the `@`: letters, digits, dot, hyphen and underscore. The `@` is part of the URL, not of the name.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._-]{1,64}$",
              "example": "markmanson"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing or does not match this platform's format. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits. Two different types, and they mean different things: `sem_creditos` (both wallets are empty) and `teto_estourado` (the key has a monthly ceiling and hit it). Waiting does not help either one before the 1st — this is not a rate limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such profile on that platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "451": {
            "description": "`bloqueado` — the platform refused us. The resource exists and YOUR key is fine; 403 would wrongly blame the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "`indisponivel` — this endpoint is switched off in the catalogue, or a dependency of ours is down. Your key is fine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pinterest/profile": {
      "get": {
        "operationId": "pinterestProfile",
        "summary": "Public profile on pinterest, with the exact follower count.",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "One public profile, normalised into the same envelope as every other platform. Source: public page, logged out. Costs 1 credit; the answer is cached for an hour and a cache hit costs nothing (`cached: true`, `credits_used: 0`).\n\nPinterest username: letters, digits, underscore and hyphen, up to 30.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Pinterest username: letters, digits, underscore and hyphen, up to 30.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,30}$",
              "example": "nasa"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing or does not match this platform's format. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits. Two different types, and they mean different things: `sem_creditos` (both wallets are empty) and `teto_estourado` (the key has a monthly ceiling and hit it). Waiting does not help either one before the 1st — this is not a rate limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such profile on that platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "451": {
            "description": "`bloqueado` — the platform refused us. The resource exists and YOUR key is fine; 403 would wrongly blame the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "`indisponivel` — this endpoint is switched off in the catalogue, or a dependency of ours is down. Your key is fine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/soundcloud/profile": {
      "get": {
        "operationId": "soundcloudProfile",
        "summary": "Public profile on soundcloud, with the exact follower count.",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "One public profile, normalised into the same envelope as every other platform. Source: public page, logged out. Costs 1 credit; the answer is cached for an hour and a cache hit costs nothing (`cached: true`, `credits_used: 0`).\n\nSoundCloud permalink: letters, digits, hyphen and underscore. It is the last part of the profile URL, not the display name.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "SoundCloud permalink: letters, digits, hyphen and underscore. It is the last part of the profile URL, not the display name.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,80}$",
              "example": "edsheeran"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing or does not match this platform's format. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits. Two different types, and they mean different things: `sem_creditos` (both wallets are empty) and `teto_estourado` (the key has a monthly ceiling and hit it). Waiting does not help either one before the 1st — this is not a rate limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such profile on that platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "451": {
            "description": "`bloqueado` — the platform refused us. The resource exists and YOUR key is fine; 403 would wrongly blame the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "`indisponivel` — this endpoint is switched off in the catalogue, or a dependency of ours is down. Your key is fine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/threads/profile": {
      "get": {
        "operationId": "threadsProfile",
        "summary": "Public profile on threads, with the exact follower count.",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "One public profile, normalised into the same envelope as every other platform. Source: public page, logged out. Costs 1 credit; the answer is cached for an hour and a cache hit costs nothing (`cached: true`, `credits_used: 0`).\n\nThreads username, same shape as Instagram: letters, digits, dot and underscore.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Threads username, same shape as Instagram: letters, digits, dot and underscore.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._]{1,30}$",
              "example": "zuck"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing or does not match this platform's format. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits. Two different types, and they mean different things: `sem_creditos` (both wallets are empty) and `teto_estourado` (the key has a monthly ceiling and hit it). Waiting does not help either one before the 1st — this is not a rate limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such profile on that platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "451": {
            "description": "`bloqueado` — the platform refused us. The resource exists and YOUR key is fine; 403 would wrongly blame the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "`indisponivel` — this endpoint is switched off in the catalogue, or a dependency of ours is down. Your key is fine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/channel": {
      "get": {
        "operationId": "youtubeChannel",
        "summary": "Public channel on YouTube, with the exact subscriber count.",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "One public profile, normalised into the same envelope as every other platform. Source: googleapis.com Data API v3 (official, authenticated). Costs 1 credit; the answer is cached for an hour and a cache hit costs nothing (`cached: true`, `credits_used: 0`).\n\nYouTube handle without the `@`: letters, digits, dot, hyphen and underscore, 3 to 30 characters. Legacy usernames and `UC...` channel ids are not accepted here.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "YouTube handle without the `@`: letters, digits, dot, hyphen and underscore, 3 to 30 characters. Legacy usernames and `UC...` channel ids are not accepted here.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._-]{3,30}$",
              "example": "mkbhd"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing or does not match this platform's format. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits. Two different types, and they mean different things: `sem_creditos` (both wallets are empty) and `teto_estourado` (the key has a monthly ceiling and hit it). Waiting does not help either one before the 1st — this is not a rate limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such profile on that platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "451": {
            "description": "`bloqueado` — the platform refused us. The resource exists and YOUR key is fine; 403 would wrongly blame the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "`indisponivel` — this endpoint is switched off in the catalogue, or a dependency of ours is down. Your key is fine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tiktok/profile": {
      "get": {
        "operationId": "tiktokProfile",
        "summary": "Public profile on tiktok, with the exact follower count.",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "One public profile, normalised into the same envelope as every other platform. Source: public page, logged out. Costs 1 credit; the answer is cached for an hour and a cache hit costs nothing (`cached: true`, `credits_used: 0`).\n\nTikTok username: letters, digits, dot and underscore, up to 24.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "TikTok username: letters, digits, dot and underscore, up to 24.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._]{1,24}$",
              "example": "khaby.lame"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing or does not match this platform's format. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Out of credits. Two different types, and they mean different things: `sem_creditos` (both wallets are empty) and `teto_estourado` (the key has a monthly ceiling and hit it). Waiting does not help either one before the 1st — this is not a rate limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such profile on that platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "451": {
            "description": "`bloqueado` — the platform refused us. The resource exists and YOUR key is fine; 403 would wrongly blame the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "`indisponivel` — this endpoint is switched off in the catalogue, or a dependency of ours is down. Your key is fine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/threads/posts": {
      "get": {
        "operationId": "threadsPosts",
        "summary": "Recent posts on threads",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "Posts recentes do proprio perfil no Threads, lidos do mesmo tipo de documento que threads/profile le -- mas o documento e BAIXADO DE NOVO: o cache e por endpoint+params, entao chamar as duas rotas para o mesmo handle busca duas vezes (medido 15/09/2026: 1,55s depois do profile contra 1,60s sem ele, cached:false nos dois). Devolve os posts que vieram na pagina, sem paginacao -- medido em tres handles: 4, 5 e 10. Nao aceita ?limit=. Post de terceiro citado no feed e excluido por user.username. Devolve likes, replies e reposts; quotes e sempre null (a fonte nao publica contagem de citacao). Nao devolve reshare_count (presente em 8 de 13 posts medidos) nem media_type (e inteiro e ainda nao foi decodificado).",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "Threads username, same shape as Instagram: letters, digits, dot and underscore.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._]{1,30}$",
              "example": "zuck"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Posts found. `has_more` differs by platform: on Bluesky it is computed from the cursor the source returns, so it can be true. On Mastodon it is false today because we do not yet read the `Link` header. On Threads it is null — the posts arrive inside the profile document and there is nothing to page, so we cannot know. `null` means unknown, never `no more`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing, does not match this platform's format, or `limit` is outside the range. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such account. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bluesky/posts": {
      "get": {
        "operationId": "blueskyPosts",
        "summary": "Recent posts on bluesky",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "Posts recentes do proprio perfil no Bluesky, via app.bsky.feed.getAuthorFeed -- API publica oficial do AT Protocol, sem chave e sem conta. Sai pelo servico de fetch como as demais rotas, entao consome banda de proxy: ~93 KB com limit=25. Aceita ?limit= de 1 a 100, padrao 25; valor fora da faixa e recusado com 400 em vez de aparado, e cada limite tem a sua propria linha de cache. Repost de terceiro e excluido por autoria (o feed do bsky.app traz 1 em 20). Devolve likes, replies, reposts e quotes; nao devolve bookmarkCount (so o Bluesky tem) nem thumbnail (o embed de imagem ainda nao foi medido em amostra suficiente).",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "AT Protocol handle, which is a domain name: `bsky.app`, `alguem.bsky.social`. Dots are part of it; slashes are refused.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9](?:[A-Za-z0-9-]{0,61}[A-Za-z0-9])?(?:\\.[A-Za-z0-9](?:[A-Za-z0-9-]{0,61}[A-Za-z0-9])?)+$",
              "example": "bsky.app"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "How many posts to return, 1 to 100. A value outside the range is refused with 400, not clamped: the source clamps in silence, and a caller asking for more than the maximum would conclude the account has fewer posts than it does.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Posts found. `has_more` differs by platform: on Bluesky it is computed from the cursor the source returns, so it can be true. On Mastodon it is false today because we do not yet read the `Link` header. On Threads it is null — the posts arrive inside the profile document and there is nothing to page, so we cannot know. `null` means unknown, never `no more`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing, does not match this platform's format, or `limit` is outside the range. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such account. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mastodon/posts": {
      "get": {
        "operationId": "mastodonPosts",
        "summary": "Recent posts on mastodon",
        "x-credits": 1,
        "x-charges-without-result": false,
        "description": "Posts recentes do proprio perfil no Mastodon, via API oficial da instancia da conta (sem chave). O handle e SEMPRE usuario@instancia: o Mastodon e federado, e o nome sozinho nao identifica ninguem. Aceita ?limit= de 1 a 40, padrao 20; valor fora da faixa e recusado com 400 em vez de aparado -- a fonte apara em silencio, e quem pedisse 100 receberia 40 achando que a conta tem 40 posts. Boost (repasse de terceiro) NAO entra: sao 15 em cada 20 no feed cru, e o objeto de cima de um boost vem com texto vazio e metricas zeradas. Resposta a outra pessoa entra, porque foi a conta que escreveu. Devolve likes, replies, reposts e quotes. O corpo vem em DOIS campos: `text` ja limpo de HTML, e `text_html` com o original -- este ultimo e HTML de terceiro e precisa ser sanitizado antes de ir para uma pagina, sob risco de XSS. `title` e sempre null (status nao tem titulo) e `position` e sempre null (ordem cronologica nao e ranking).",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "**`user@instance`, and the instance is required.** Mastodon is federated: `Gargron` alone identifies nobody, because a different person can hold that name on every server. A handle without an instance is refused with 400 rather than completed with a default server — completing it would return somebody else's profile with `success: true`. The instance must be a public DNS name: IP literals, ports and paths are refused. The handle comes back fully qualified, so the response value is a valid next request.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._-]{1,30}@(?:[A-Za-z0-9](?:[A-Za-z0-9-]{0,61}[A-Za-z0-9])?\\.)+[A-Za-z]{2,24}$",
              "example": "Gargron@mastodon.social"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "How many posts to return, 1 to 40. A value outside the range is refused with 400, not clamped: the source clamps in silence, and a caller asking for more than the maximum would conclude the account has fewer posts than it does.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 40,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Posts found. `has_more` differs by platform: on Bluesky it is computed from the cursor the source returns, so it can be true. On Mastodon it is false today because we do not yet read the `Link` header. On Threads it is null — the posts arrive inside the profile document and there is nothing to page, so we cannot know. `null` means unknown, never `no more`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "`parametro_invalido` — the handle is missing, does not match this platform's format, or `limit` is outside the range. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "`chave_invalida` — key missing, unknown or inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "`nao_encontrado` — no such account. Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/instagram/highlights": {
      "get": {
        "operationId": "instagramHighlights",
        "summary": "Story highlight covers of a public Instagram profile — id, title and cover.",
        "description": "The story highlight tray of a public Instagram profile: id, title and cover image for each highlight, read from the SAME logged-out profile page as instagram/profile. Measured on 2026-10-01 against the committed 829 KB page for nasa: 5 highlights, and has_next_page false -- so that is the whole tray, and has_more says so. Does NOT return the media inside a highlight: opening one needs a logged-in session, so no logged-out surface carries it. No date and no counter per highlight -- the tray has neither, so both are null. next_cursor is null even though the page carries an end_cursor: no parameter here accepts one, and paging the tray would mean calling Instagram GraphQL, another surface. position is null on purpose -- Instagram orders the tray by recent update, not the owner. Costs 1 credit and caches for an hour; the cache is per endpoint and params, so asking for profile and highlights on the same handle downloads the page twice.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/instagram/embed": {
      "get": {
        "operationId": "instagramEmbed",
        "summary": "What an Instagram embed shows: the profile plus the thumbnails on its grid.",
        "description": "What an Instagram embed shows: the profile plus the posts that come on the public page itself -- caption, thumbnail, media type (image, video, carousel) and the post URL. NOT an alias of instagram/profile: it returns the list that route returns empty. NOT named posts either, because the */posts family here returns per-post counters and this page has none -- like_count, comment_count and play_count appear ZERO times in the 829 KB page, so metrics is null and never an empty object. published_at is null: the only date in the document is day-precision text inside localized alt text, sitting next to a third party name, and a guessed hour would be worse than nothing. Measured on 2026-10-01 for nasa: the grid carries 12 nodes and 7 belong to nasa -- the other 5 are collaborators (nasajohnson, astro_anil, jeopardy) and are dropped by user.username, the same filter threads/posts uses. has_more comes from the page own has_next_page and is true; there is no cursor to hand out. Costs 1 credit and caches for an hour; the cache is per endpoint and params, so the three Instagram routes on the same handle download the page three times.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/instagram/location/posts": {
      "get": {
        "operationId": "instagramLocationPosts",
        "summary": "Recent posts tagged at a public Instagram location, plus the location itself.",
        "description": "Recent posts tagged at a public Instagram location, plus the location itself (name, slug, category and how many posts are tagged there). Order is what the platform served, NOT chronological. Views, reposts and quotes do not exist here. Anchored on the location id: a location that does not exist answers 404, never an empty list.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/instagram/highlight/detail": {
      "get": {
        "operationId": "instagramHighlightDetail",
        "summary": "The stories inside one public Instagram highlight, plus the highlight and its owner.",
        "description": "The stories inside one public Instagram highlight, oldest first (measured: chronological, unlike the location tab). Returns the highlight itself -- id, title, cover, how many stories -- plus the owner handle and whether that account is verified or private. Story view counts do not exist here: they are owner metrics and need a logged-in session. Anchored on the highlight id echoed back by the page, so a highlight that does not exist answers 404, never an empty list.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/instagram/post": {
      "get": {
        "operationId": "instagramPost",
        "summary": "A single public Instagram post, by its shortcode.",
        "description": "One public Instagram post by SHORTCODE, from instagram.com/p/{code}/ -- the logged-out page, no account of ours and none of a third party. THE PARSER ALREADY EXISTED WITH NO DOOR: normalizarPost has been in lib/normalize/instagram.js with a committed 934 KB fixture, and no route used it; this is the door, same as bluesky/post. Returns id, url, caption text, thumbnail_url, published_at and metrics with likes and comments -- measured on shortcode Db9IVmrDvQ4: 2445668 likes, 4703 comments. THE AUTHOR COMES BACK ALL NULL, and that is us not filling it in, NOT the platform lacking it: the document carries the owner (user appears 30 times), and normalizarPost does not extract it today -- saying the author is unknown would be a plausible value in the wrong place. title is null because an Instagram post has a caption, not a title, and inventing one from the first line of the caption would serve a guess as a field. A shortcode that does not exist is not reliably distinguishable from our own transport failing, which is why no result is never charged here.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/pinterest/boards": {
      "get": {
        "operationId": "pinterestBoards",
        "summary": "Public boards of a Pinterest account — name, description, pin count and followers.",
        "description": "The public boards of a Pinterest account: id, name, description, board URL, cover image, creation date, pin count and follower count for each one -- read from the SAME logged-out profile page as pinterest/profile. Measured on 2026-10-01 against the committed 1.3 MB page for nasa: 10 distinct boards, every one carrying all of those fields. Returns the SHELF, not the pins: the pins inside a board are not on this page, so listing them would be a different call. metrics carries pins and followers, never likes -- a board has no likes, and reusing the post field names would invite summing things that are not the same. published_at is the board creation date, parsed from an RFC 1123 string, not an epoch. Boards owned by someone else are dropped by owner.username, the same filter threads/posts uses. has_more and next_cursor are null: what the page carried is what exists, and paging would mean another surface. Costs 1 credit and caches for an hour; the cache is per endpoint and params, so asking for profile and boards on the same handle downloads the page twice.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/bluesky/post": {
      "get": {
        "operationId": "blueskyPost",
        "summary": "A single Bluesky post by its AT Protocol URI, with likes, reposts, replies and quotes.",
        "description": "A single Bluesky post, addressed by its AT Protocol URI (at://did:plc:.../app.bsky.feed.post/...). Returns the post as a one-item list, with likes, replies, reposts and quotes, plus the post author in the author envelope. Read from app.bsky.feed.getPostThread, the same public surface bluesky/profile uses -- no login, no third party. Measured on 2026-10-01 against the committed 289 KB thread fixture. Does NOT return the replies: the document carries 193 of them and we deliberately leave them out, because mixing a post with its replies in one list would make both unreadable; a replies endpoint would be its own call. There is no legitimate empty result here -- either the post was read or it was not, so a failure is an error and never an empty list, and a failed read is not charged. Followers and bio are null: this call does not carry them, which is different from the account not having them. title is null because a Bluesky post has none. Costs 1 credit and caches for an hour.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/bluesky/search": {
      "get": {
        "operationId": "blueskySearch",
        "summary": "Public Bluesky posts matching a term, ranked by top, with likes, reposts, replies and quotes.",
        "description": "Public Bluesky posts matching a TERM, via app.bsky.feed.searchPosts -- the official AT Protocol API, no key and no account. FOURTH and last Bluesky path of the parity grid. THE HOST IS api.bsky.app, NOT public.api.bsky.app, and that difference is the whole endpoint: public.api.bsky.app answers 403 with an HTML block page on this route while answering 200 on getAuthorFeed, so the block is per-host, not the endpoint asking for an account -- our own archiver has searched through api.bsky.app since 06/09/2026. Results come from MANY authors, so unlike bluesky/posts there is no authorship filter; filtering by author here would always return empty. sort=top, not latest: on a popular term latest is almost all noise. hitsTotal IS NOT RETURNED -- measured, it reads 10000 for a common term and 0 for a nonexistent one, so it is a search cap dressed as a total, and serving it would promise a count nobody measured; sample_size says how many THIS call brought. Accepts ?limit= from 1 to 100, default 25; out of range is 400, never silently clamped -- measured, the source REFUSES limit=101 with 400 instead of trimming. has_more is Boolean(cursor) and nothing else. A term with no result is 200 with an empty items list -- that is an answer, and it is charged.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/github/repos": {
      "get": {
        "operationId": "githubRepos",
        "summary": "Public repositories of a GitHub account, with stars and forks.",
        "description": "Repositorios publicos de um usuario do GitHub, via API oficial. Campos com o NOME DA FONTE: stargazers_count, forks_count, open_issues_count, watchers_count, language, topics, license (SPDX), archived, fork, created_at, updated_at, pushed_at. Repositorio NAO e post: nada aqui vira metrics, e estrela nao e like. Conta sem repositorio responde items vazio e e cobrada; conta inexistente nao.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/{platform}/history": {
      "get": {
        "operationId": "profileHistory",
        "summary": "Daily history of a profile we have already archived, for one platform.",
        "description": "Serie historica de um perfil: uma linha por janela horaria em que o perfil foi consultado por alguem. Cobra 1 credito apenas quando ha pelo menos uma captura no intervalo.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/hackernews/search": {
      "get": {
        "operationId": "hackernewsSearch",
        "summary": "Hacker News stories matching a term, with points and comments.",
        "description": "Busca de historias no Hacker News por TERMO, via hn.algolia.com -- API publica, documentada, sem chave e sem conta. PRIMEIRA rota da casa que nao pergunta por uma pessoa: o parametro e ?q=, nao ?handle=. Usa o MESMO cliente HTTP do arquivador (lib/fontes/hackernews.js), que desde 05/09/2026 carrega o que custou caro descobrir: o Algolia nao interpreta OR, e com typoTolerance ligada o termo mrr devolvia 81 resultados e nenhum sobre MRR. Um segundo cliente devolveria ao cliente pagante o lixo que o arquivador aprendeu a recusar. Sem a janela de 48h do arquivador: quem busca quer o que existe, nao o que subiu anteontem. Aceita ?limit= de 1 a 100, padrao 25; fora da faixa e 400, nao aparado. Termo sem resultado e 200 com items vazio -- e uma resposta, e e cobrada. author NAO sai: existe na resposta do Algolia, esta na fixture de proposito, e o teste reprova se vazar.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/hackernews/story": {
      "get": {
        "operationId": "hackernewsStory",
        "summary": "One Hacker News story by id — the story, not the comments.",
        "description": "UMA historia do Hacker News pelo id, via hn.algolia.com/api/v1/items/{id}. DESCARTA OS COMENTARIOS por decisao: medido em 30/09/2026 no item 46990729, a resposta tem 489.835 bytes e 176 comentarios, cada um com author e text de uma pessoa que nao e o cliente e nao pediu nada. Sobrevive metrics.comments, que e a CONTAGEM -- mede sem identificar; quando children nao vem e null, nunca 0. num_comments NAO existe neste endpoint (a busca tem o contador, o item nao), por isso a contagem sai de children.length. Comentario nao e historia: /items/{id} responde 200 para os dois, e o comentario vem com title null -- sem a ancora do normalizador o cliente receberia texto de terceiro com success true. Com ela, 404. id aceita ate 12 digitos e nada mais.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/hackernews/profile": {
      "get": {
        "operationId": "hackernewsProfile",
        "summary": "Public Hacker News user: karma, the about text, and nothing invented.",
        "description": "A public Hacker News user via hn.algolia.com/api/v1/users/{handle}: karma and the about text, and nothing invented. KARMA IS ITS OWN FIELD, not followers. Hacker News has no follower graph -- followers, following and posts_count are all null here -- and mapping karma onto followers would put a plausible value in the wrong field, stable enough that a client comparing audience across platforms would read karma as reach. The anchor is handle, NEVER karma: a new account legitimately has karma 0, and treating 0 as absent would report a real user as missing. A user that does not exist is a real 404 and costs no credit.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/hackernews/story/comments": {
      "get": {
        "operationId": "hackernewsStoryComments",
        "summary": "Comments on a Hacker News story, flattened, with depth and parent id.",
        "description": "The comments on a Hacker News story, flattened, each with depth and parent id. SAME UPSTREAM DOCUMENT as hackernews/story -- hn.algolia.com/api/v1/items/{id} already carries the comment tree in children, and the story route discards it on purpose. There is no new upstream call here; there is exposure of what already arrived. Measured on item 8863: 32 children, 104 points. An empty list is an answer (a story with no comments is charged, the question was answered); an id that does not exist is a real 404 and costs no credit. THE ANCHOR HERE IS id, NOT title: /items/{id} answers 200 for a story and for a comment alike, and this route requires only id -- measured, a comment id is accepted with 200 and comes back with the replies to THAT comment and title null. Whoever needs to tell a story from a comment has to read title in the response, because this route does not do it for them. The sibling route hackernews/story DOES refuse a comment, because it requires title.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/tiktok/search/suggestions": {
      "get": {
        "operationId": "tiktokSearchSuggestions",
        "summary": "Search terms TikTok suggests for a keyword — the autocomplete list, ranked.",
        "description": "The search terms TikTok suggests for a keyword: the autocomplete list behind the search box, read logged-out from the site own preview endpoint. Takes keyword, not handle -- this endpoint answers about a TERM, not about a person, and author comes back with every field null on purpose. Each item carries the suggested term in title, a TikTok search URL built from that term, and the id of the term group; position is the rank TikTok gave it, counted from 1. metrics is always null: a suggestion has no counters, and zeros would claim it has counters that read zero. published_at is null for the same reason -- the endpoint sends no date, and stamping the request time would invent freshness. An empty list is an ANSWER: a keyword with no suggestion returns 200 with items: [] and is charged, because the question was answered. A body we could not read, a missing list, or an error status inside the body is a FAILURE and returns 404 without charging. has_more and next_cursor are null: this endpoint does not page, it sends no cursor and no total, and saying false would promise the list ended. Costs 1 credit and caches for 60 seconds only -- measured on 2026-10-01, 6 of 8 suggested terms for the same keyword changed within the hour, so an hour-long cache would serve a list the platform had already replaced.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/tiktok/post": {
      "get": {
        "operationId": "tiktokPost",
        "summary": "A single TikTok video by its URL, with caption, cover, date and counters.",
        "description": "One public TikTok video by its URL, read logged-out from the video page itself. Takes the FULL video address -- https://www.tiktok.com/@handle/video/1234567890123456789 -- and not an id on its own: the document lives under the handle, so an id without it cannot be addressed. items carries exactly one entry: the video id, its page URL, the caption in text, the cover image in thumbnail_url, the publication date parsed from an epoch in seconds, and metrics with likes, comments, shares, views and saves. title is null -- a video has no title, its caption is a body -- and position is null too, because a list of one has no meaningful order. author carries the id, handle, name, bio, avatar and verified flag the video page publishes, and followers, following and posts_count come back null ON PURPOSE: this page gives a follower count with no exact counterpart to check it against, while tiktok/profile reads the exact one; filling both from different sources would make two of our endpoints disagree about the same account. WARNING: THE LARGE COUNTERS ARE ROUNDED BY TIKTOK on this surface -- measured on 2026-10-02 against the committed capture, both of the page stat blocks agree on 2,000,000 likes and 5,500,000 views, so treat them as rounded to three significant figures and not as exact. A video that is restricted by its owner and an id that does not exist both answer 404 and are NOT charged: the page returns the same status code for the two, and only the status message tells them apart. has_more and next_cursor are null: the document is one video, there is no list to page. Costs 1 credit and caches for an hour -- the video itself does not change, and the counters that do are already rounded.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/tiktok/video/screen-text": {
      "get": {
        "operationId": "tiktokVideoScreenText",
        "summary": "The on-screen text of one TikTok video, one item per line, in reading order.",
        "description": "The on-screen text of one public TikTok video: the words burned on top of the frames, read logged-out from the video page itself. Takes the FULL video address -- https://www.tiktok.com/@handle/video/1234567890123456789 -- and not a bare id, because the page needs the handle in the path. Returns one item per line, in the order the document declares them, which is reading order on screen. This is NOT the caption and NOT the spoken audio: the caption is the text field of tiktok/post, and the spoken audio is a separate WEBVTT asset served by tiktok/post_transcript. Three different texts live in the same document and mixing them up would return plausible wrong data. Measured on 2026-10-01 across 10 reachable videos: 7 carry at least one line of on-screen text and 3 carry none. A video that exists and has no on-screen text answers with items: [] and IS charged -- the question was answered and the page was downloaded. A restricted, missing or unclassifiable video answers 404 and costs nothing. metrics, published_at and thumbnail_url are null on every item: a line of text has no date, no picture and no counter, and returning zeros would claim it has them. Costs 1 credit and caches for an hour. The cache is per endpoint and params, so asking for post and screen-text on the same video downloads the page twice.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/tiktok/post/transcript": {
      "get": {
        "operationId": "tiktokPostTranscript",
        "summary": "The spoken transcript of one TikTok video, as one item, without cue timings.",
        "description": "The spoken transcript of one public TikTok video, read logged-out. Takes the FULL video address -- https://www.tiktok.com/@handle/video/1234567890123456789 -- and not a bare id, because the page needs the handle in the path. This is the AUDIO, not the caption and not the words burned on the frames: the caption is the text field of tiktok/post and the on-screen words are tiktok/video_screen_text. Three different texts live in the same video and mixing them up would return plausible wrong data. HOW OFTEN IT EXISTS: measured on 2026-10-01 across 10 reachable videos, only 1 carried a subtitle track. A video with no track answers items: [] and IS charged -- the question was answered and the page was downloaded. Expect the empty answer to be the common one. The transcript comes back as ONE item whose text is the whole speech, because the source is a WEBVTT of automatic speech recognition and its cues are arbitrary time slices, not sentences -- one cue in the measured file is \"and you need to stop being immature\", mid-sentence. The cue TIMINGS are not published: this schema has no offset field, and inventing one per route is how an API starts speaking two languages. title carries the language the source declares (eng-US in the measurement) or null. id, published_at, thumbnail_url and metrics are null: speech has no identifier, no date, no picture and no counter. Reading it costs TWO network calls on our side -- the video page points at a file on another host -- and still 1 credit, because you asked for one thing. Caches for an hour, the same as tiktok/post and tiktok/video_screen_text, so asking for more than one of them on the same video downloads the page once per endpoint.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/youtube/video": {
      "get": {
        "operationId": "youtubeVideo",
        "summary": "One public YouTube video by id, with the exact view and like counts in metrics.views and metrics.likes.",
        "description": "One public YouTube video by id, read from the logged-out watch page. Returns the EXACT like count -- not the abbreviated one the interface shows next to it. The exact view count is read and NOT returned: the published metrics contract has four keys (likes, replies, reposts, quotes) and no views. replies is null because the page carries no comment count. The 20 recommended videos the page cites are discarded.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/youtube/channel/videos": {
      "get": {
        "operationId": "youtubeChannelVideos",
        "summary": "The 50 most recent videos of a YouTube channel, with exact view, like and comment counts per video, from the official Data API. The RSS feed is the declared reserve for when the daily quota runs out, and it is not wired yet — see the route header.",
        "description": "The 50 most recent videos of a YouTube channel, from the official Data API v3 (channels.list + playlistItems.list + videos.list, 3 quota units). EXACT viewCount, likeCount and commentCount per video, plus duration and whether it is a live broadcast. The view count is read and NOT returned: the published metrics contract has four keys and views is not one of them. has_more is null, never false.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "channel_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/youtube/playlist": {
      "get": {
        "operationId": "youtubePlaylist",
        "summary": "The videos a public YouTube playlist feed carries, with exact views and likes per video — 15 at most, which is the feed's ceiling and not the playlist's size.",
        "description": "The videos a public YouTube playlist feed carries, with the exact like count per video. CEILING OF 15, and it is the feed's ceiling, not the playlist's size -- has_more is null because the feed does not say how long the playlist is. The playlist TITLE is not returned: the envelope has no field for a collection name, and author is the owning channel.",
        "x-creditos": 1,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data found."
          },
          "400": {
            "description": "See the shared error shape."
          },
          "401": {
            "description": "See the shared error shape."
          },
          "402": {
            "description": "See the shared error shape."
          },
          "404": {
            "description": "See the shared error shape."
          },
          "405": {
            "description": "See the shared error shape."
          },
          "451": {
            "description": "See the shared error shape."
          },
          "502": {
            "description": "See the shared error shape."
          },
          "503": {
            "description": "See the shared error shape."
          }
        }
      }
    },
    "/api/v1/youtube/channel/shorts": {
      "get": {
        "operationId": "youtubeChannelShorts",
        "summary": "The Shorts on a YouTube channel's Shorts tab, with titles and thumbnails.",
[...]
