{
  "openapi": "3.1.0",
  "info": {
    "title": "HireArt API",
    "version": "2.0.0",
    "description": "The HireArt API provides programmatic access to the HireArt staffing platform.\n\n## Authentication\nAll requests require a Bearer token in the `Authorization` header:\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n\n## Pagination\nAll list endpoints support pagination via `page` and `per_page` query parameters.\nResponses include `page`, `per_page`, `total_count`, and `total_pages` in the response body.\n\n## IDs\nAll `id` fields are opaque string tokens. Do not assume any particular format.\n\n## Timestamps\nAll timestamps are in ISO 8601 format (e.g. `2023-01-18T12:34:00Z`).\n\n## Rate Limiting\nRequests are limited to 100 per 60 seconds per API key. When the limit is exceeded,\nthe API returns `429 Too Many Requests` with a `Retry-After` header indicating seconds\nuntil the limit resets.\n\n## Errors\nThe API uses standard HTTP status codes. Error responses include an `error` field and\noptionally a `message` or `messages` field with details.",
    "contact": {
      "name": "HireArt Engineering",
      "url": "https://www.hireart.com"
    },
    "x-jentic-source-url": "https://docs.hireart.com/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://app.hireart.com/api/v2",
      "description": "Production"
    }
  ],
  "paths": {
    "/assignments": {
      "get": {
        "summary": "List all assignments for the authenticated employer",
        "tags": [
          "Assignments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignmentList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "worker_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by worker id"
          },
          {
            "name": "job_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by job id"
          }
        ]
      }
    },
    "/assignments/{id}": {
      "get": {
        "summary": "Retrieve a single assignment by id",
        "tags": [
          "Assignments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assignment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/expenses": {
      "get": {
        "summary": "List all expenses",
        "tags": [
          "Expenses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "worker_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by worker id"
          },
          {
            "name": "job_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by job id"
          },
          {
            "name": "pay_cycle_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by pay cycle id"
          }
        ]
      }
    },
    "/expenses/{id}": {
      "get": {
        "summary": "Retrieve a single expense by id",
        "tags": [
          "Expenses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Expense"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/jobs": {
      "get": {
        "summary": "List all jobs for the authenticated employer",
        "tags": [
          "Jobs"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of results per page"
          }
        ]
      }
    },
    "/jobs/{id}": {
      "get": {
        "summary": "Retrieve a single job by id",
        "tags": [
          "Jobs"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/offers": {
      "get": {
        "summary": "List all offers for the authenticated employer",
        "tags": [
          "Offers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "worker_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by worker id"
          },
          {
            "name": "job_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by job id"
          }
        ]
      }
    },
    "/offers/{id}": {
      "get": {
        "summary": "Retrieve a single offer by id",
        "tags": [
          "Offers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/onboardings": {
      "get": {
        "summary": "List all onboardings for the authenticated employer",
        "tags": [
          "Onboardings"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "worker_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by worker id"
          },
          {
            "name": "job_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by job id"
          }
        ]
      }
    },
    "/onboardings/{id}": {
      "get": {
        "summary": "Retrieve a single onboarding by id",
        "tags": [
          "Onboardings"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Onboarding"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/pay_cycles": {
      "get": {
        "summary": "List all pay cycles",
        "tags": [
          "PayCycles"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayCycleList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "worker_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by worker id"
          }
        ]
      }
    },
    "/pay_cycles/{id}": {
      "get": {
        "summary": "Retrieve a single pay cycle by id",
        "tags": [
          "PayCycles"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayCycle"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/shifts": {
      "get": {
        "summary": "List all shifts",
        "tags": [
          "Shifts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShiftList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "worker_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by worker id"
          },
          {
            "name": "job_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by job id"
          },
          {
            "name": "pay_cycle_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by pay cycle id"
          }
        ]
      }
    },
    "/shifts/{id}": {
      "get": {
        "summary": "Retrieve a single shift by id",
        "tags": [
          "Shifts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shift"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/workers": {
      "get": {
        "summary": "List all workers for the authenticated employer",
        "tags": [
          "Workers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "job_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by job id"
          }
        ]
      }
    },
    "/workers/{id}": {
      "get": {
        "summary": "Retrieve a single worker by id",
        "tags": [
          "Workers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 requests per 60 seconds per API key)",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until rate limit resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Assignment": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "assignment"
          },
          "id": {
            "type": "string",
            "example": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9"
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "example": "active"
          },
          "status_changed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-06-15"
          },
          "end_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-06-15"
          },
          "classification": {
            "type": [
              "string",
              "null"
            ],
            "example": "W2"
          },
          "pay_rate": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PayRate"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "pay_rate",
              "salary_cents": 4500000,
              "hourly_rate_cents": 2163,
              "currency": "USD",
              "rate_type": null
            }
          },
          "bill_rate": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/BillRate"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "bill_rate",
              "salary_cents": 4500000,
              "hourly_rate_cents": 2163,
              "currency": "USD",
              "rate_type": null
            }
          },
          "worker": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PersonSummary"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "person",
              "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
              "full_name": "Jane Doe",
              "first_name": "Jane",
              "last_name": "Doe",
              "email": "jane.doe@example.com",
              "phone": "+1 (555) 555-5555"
            }
          },
          "job": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Job"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "job",
              "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
              "name": "Customer Support Specialist",
              "employer_name": "Acme Corp",
              "employer_id": "d275831a-1a80-46dd-8618-05858c852207",
              "logo_url": "https://cdn.example.com/image.jpg"
            }
          },
          "work_location": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/WorkLocation"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "work_location",
              "city": "New York",
              "state": "NY",
              "country": "US",
              "is_remote": false
            }
          },
          "employer_of_record": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/EmployerOfRecord"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "employer_of_record",
              "name": "Acme Corp",
              "vendor_id": "d275831a-1a80-46dd-8618-05858c852207"
            }
          },
          "visa": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Visa"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "visa",
              "type": "H-1B",
              "expiration_date": "2024-06-15"
            }
          },
          "purchase_orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderSummary"
            },
            "example": [
              {
                "object": "purchase_order",
                "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                "client_reference_id": "d275831a-1a80-46dd-8618-05858c852207",
                "cost_center": "Engineering",
                "original_amount_cents": 50000000,
                "currency": "USD",
                "start_date": "2024-06-15",
                "expiration_date": "2024-06-15"
              }
            ]
          }
        },
        "required": [
          "object",
          "id",
          "purchase_orders"
        ]
      },
      "AssignmentList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "per_page": {
            "type": "integer",
            "example": 25
          },
          "total_count": {
            "type": "integer",
            "example": 42
          },
          "total_pages": {
            "type": "integer",
            "example": 2
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Assignment"
            },
            "example": [
              {
                "object": "assignment",
                "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                "status": "active",
                "status_changed_at": "2024-06-15T14:30:00Z",
                "start_date": "2024-06-15",
                "end_date": "2024-06-15",
                "classification": "W2",
                "pay_rate": {
                  "object": "pay_rate",
                  "salary_cents": 4500000,
                  "hourly_rate_cents": 2163,
                  "currency": "USD",
                  "rate_type": null
                },
                "bill_rate": {
                  "object": "bill_rate",
                  "salary_cents": 4500000,
                  "hourly_rate_cents": 2163,
                  "currency": "USD",
                  "rate_type": null
                },
                "worker": {
                  "object": "person",
                  "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                  "full_name": "Jane Doe",
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "email": "jane.doe@example.com",
                  "phone": "+1 (555) 555-5555"
                },
                "job": {
                  "object": "job",
                  "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                  "name": "Customer Support Specialist",
                  "employer_name": "Acme Corp",
                  "employer_id": "d275831a-1a80-46dd-8618-05858c852207",
                  "logo_url": "https://cdn.example.com/image.jpg"
                },
                "work_location": {
                  "object": "work_location",
                  "city": "New York",
                  "state": "NY",
                  "country": "US",
                  "is_remote": false
                },
                "employer_of_record": {
                  "object": "employer_of_record",
                  "name": "Acme Corp",
                  "vendor_id": "d275831a-1a80-46dd-8618-05858c852207"
                },
                "visa": {
                  "object": "visa",
                  "type": "H-1B",
                  "expiration_date": "2024-06-15"
                },
                "purchase_orders": [
                  {
                    "object": "purchase_order",
                    "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                    "client_reference_id": "d275831a-1a80-46dd-8618-05858c852207",
                    "cost_center": "Engineering",
                    "original_amount_cents": 50000000,
                    "currency": "USD",
                    "start_date": "2024-06-15",
                    "expiration_date": "2024-06-15"
                  }
                ]
              }
            ]
          }
        },
        "required": [
          "object",
          "page",
          "per_page",
          "total_count",
          "total_pages",
          "data"
        ]
      },
      "BillRate": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "bill_rate"
          },
          "salary_cents": {
            "type": [
              "integer",
              "null"
            ],
            "example": 4500000
          },
          "hourly_rate_cents": {
            "type": [
              "integer",
              "null"
            ],
            "example": 2163
          },
          "currency": {
            "type": [
              "string",
              "null"
            ],
            "example": "USD"
          },
          "rate_type": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object"
        ]
      },
      "CurrentPeriod": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "job_period"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "approved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "approved_by": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PersonSummary"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "person",
              "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
              "full_name": "Jane Doe",
              "first_name": "Jane",
              "last_name": "Doe",
              "email": "jane.doe@example.com",
              "phone": "+1 (555) 555-5555"
            }
          },
          "ended_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "target_hires": {
            "type": [
              "integer",
              "null"
            ],
            "example": 5
          },
          "sourcing_status": {
            "type": [
              "string",
              "null"
            ],
            "example": "open"
          }
        },
        "required": [
          "object"
        ]
      },
      "EmployeeReportedHours": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "employee_reported_hours"
          },
          "break": {
            "type": [
              "number",
              "null"
            ],
            "example": 0.5
          },
          "holiday_non_worked": {
            "type": [
              "number",
              "null"
            ],
            "example": 8
          },
          "starts_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "ends_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          }
        },
        "required": [
          "object"
        ]
      },
      "EmployerOfRecord": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "employer_of_record"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "example": "Acme Corp"
          },
          "vendor_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "d275831a-1a80-46dd-8618-05858c852207"
          }
        },
        "required": [
          "object"
        ]
      },
      "EmployerReportedHours": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "employer_reported_hours"
          },
          "break_override": {
            "type": [
              "number",
              "null"
            ],
            "example": 0.5
          },
          "holiday_non_worked_override": {
            "type": [
              "number",
              "null"
            ],
            "example": 8
          },
          "total_hours_worked_override": {
            "type": [
              "number",
              "null"
            ],
            "example": 7.5
          }
        },
        "required": [
          "object"
        ]
      },
      "Expense": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "expense"
          },
          "id": {
            "type": "string",
            "example": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9"
          },
          "worker_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "8592fbac-7925-4399-95c0-122bd2558a93"
          },
          "assignment_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "d275831a-1a80-46dd-8618-05858c852207"
          },
          "amount_cents": {
            "type": [
              "integer",
              "null"
            ],
            "example": 15000
          },
          "currency": {
            "type": [
              "string",
              "null"
            ],
            "example": "USD"
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "example": "active"
          },
          "status_changed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "submitted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "expense_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-06-15"
          },
          "category": {
            "type": [
              "string",
              "null"
            ],
            "example": "Travel"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Handle inbound customer inquiries via phone, email, and chat."
          },
          "approved_by": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PersonSummary"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "person",
              "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
              "full_name": "Jane Doe",
              "first_name": "Jane",
              "last_name": "Doe",
              "email": "jane.doe@example.com",
              "phone": "+1 (555) 555-5555"
            }
          },
          "pay_cycle_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "d275831a-1a80-46dd-8618-05858c852207"
          }
        },
        "required": [
          "object",
          "id"
        ]
      },
      "ExpenseList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "per_page": {
            "type": "integer",
            "example": 25
          },
          "total_count": {
            "type": "integer",
            "example": 42
          },
          "total_pages": {
            "type": "integer",
            "example": 2
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Expense"
            },
            "example": [
              {
                "object": "expense",
                "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                "worker_id": "8592fbac-7925-4399-95c0-122bd2558a93",
                "assignment_id": "d275831a-1a80-46dd-8618-05858c852207",
                "amount_cents": 15000,
                "currency": "USD",
                "status": "active",
                "status_changed_at": "2024-06-15T14:30:00Z",
                "submitted_at": "2024-06-15T14:30:00Z",
                "expense_date": "2024-06-15",
                "category": "Travel",
                "description": "Handle inbound customer inquiries via phone, email, and chat.",
                "approved_by": {
                  "object": "person",
                  "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                  "full_name": "Jane Doe",
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "email": "jane.doe@example.com",
                  "phone": "+1 (555) 555-5555"
                },
                "pay_cycle_id": "d275831a-1a80-46dd-8618-05858c852207"
              }
            ]
          }
        },
        "required": [
          "object",
          "page",
          "per_page",
          "total_count",
          "total_pages",
          "data"
        ]
      },
      "InternalServerError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "internal_server_error"
          },
          "message": {
            "type": "string",
            "example": "An unexpected error occurred"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "job"
          },
          "id": {
            "type": "string",
            "example": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "example": "Customer Support Specialist"
          },
          "employer_name": {
            "type": [
              "string",
              "null"
            ],
            "example": "Acme Corp"
          },
          "employer_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "d275831a-1a80-46dd-8618-05858c852207"
          },
          "logo_url": {
            "type": [
              "string",
              "null"
            ],
            "example": "https://cdn.example.com/image.jpg"
          }
        },
        "required": [
          "object",
          "id"
        ]
      },
      "JobDetail": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "job"
          },
          "id": {
            "type": "string",
            "example": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "example": "Customer Support Specialist"
          },
          "employer_name": {
            "type": [
              "string",
              "null"
            ],
            "example": "Acme Corp"
          },
          "employer_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "d275831a-1a80-46dd-8618-05858c852207"
          },
          "logo_url": {
            "type": [
              "string",
              "null"
            ],
            "example": "https://cdn.example.com/image.jpg"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Handle inbound customer inquiries via phone, email, and chat."
          },
          "requirements": {
            "type": [
              "string",
              "null"
            ],
            "example": "Strong communication skills and 1+ year of customer service experience."
          },
          "employment_type": {
            "type": [
              "string",
              "null"
            ],
            "example": "W2"
          },
          "work_amount": {
            "type": [
              "string",
              "null"
            ],
            "example": "full_time"
          },
          "contract_length_amount": {
            "type": [
              "integer",
              "null"
            ],
            "example": 12
          },
          "contract_length_unit": {
            "type": [
              "string",
              "null"
            ],
            "example": "month"
          },
          "current_period": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CurrentPeriod"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "job_period",
              "created_at": "2024-06-15T14:30:00Z",
              "approved_at": "2024-06-15T14:30:00Z",
              "approved_by": {
                "object": "person",
                "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                "full_name": "Jane Doe",
                "first_name": "Jane",
                "last_name": "Doe",
                "email": "jane.doe@example.com",
                "phone": "+1 (555) 555-5555"
              },
              "ended_at": "2024-06-15T14:30:00Z",
              "target_hires": 5,
              "sourcing_status": "open"
            }
          },
          "location": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Location"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "location",
              "street1": "20 W 34th St",
              "street2": "Suite 1000",
              "city": "New York",
              "state": "NY",
              "postal_code": "10001",
              "country": "US",
              "latitude": "40.7484",
              "longitude": "-73.9857",
              "region_name": "San Francisco"
            }
          },
          "stats": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/JobStats"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "job_stats",
              "candidates_all_submitted": 48,
              "candidates_all_graded": 35,
              "candidates_all_recommended": 12,
              "candidates_to_review": 8,
              "candidates_in_process": 15,
              "candidates_offers": 3,
              "candidates_rejected": 10
            }
          },
          "vendors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VendorSummary"
            },
            "example": [
              {
                "object": "vendor",
                "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                "name": "Acme Corp"
              }
            ]
          }
        },
        "required": [
          "object",
          "id",
          "vendors"
        ]
      },
      "JobList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "per_page": {
            "type": "integer",
            "example": 25
          },
          "total_count": {
            "type": "integer",
            "example": 42
          },
          "total_pages": {
            "type": "integer",
            "example": 2
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobDetail"
            },
            "example": [
              {
                "object": "job",
                "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                "created_at": "2024-06-15T14:30:00Z",
                "name": "Customer Support Specialist",
                "employer_name": "Acme Corp",
                "employer_id": "d275831a-1a80-46dd-8618-05858c852207",
                "logo_url": "https://cdn.example.com/image.jpg",
                "description": "Handle inbound customer inquiries via phone, email, and chat.",
                "requirements": "Strong communication skills and 1+ year of customer service experience.",
                "employment_type": "W2",
                "work_amount": "full_time",
                "contract_length_amount": 12,
                "contract_length_unit": "month",
                "current_period": {
                  "object": "job_period",
                  "created_at": "2024-06-15T14:30:00Z",
                  "approved_at": "2024-06-15T14:30:00Z",
                  "approved_by": {
                    "object": "person",
                    "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                    "full_name": "Jane Doe",
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "email": "jane.doe@example.com",
                    "phone": "+1 (555) 555-5555"
                  },
                  "ended_at": "2024-06-15T14:30:00Z",
                  "target_hires": 5,
                  "sourcing_status": "open"
                },
                "location": {
                  "object": "location",
                  "street1": "20 W 34th St",
                  "street2": "Suite 1000",
                  "city": "New York",
                  "state": "NY",
                  "postal_code": "10001",
                  "country": "US",
                  "latitude": "40.7484",
                  "longitude": "-73.9857",
                  "region_name": "San Francisco"
                },
                "stats": {
                  "object": "job_stats",
                  "candidates_all_submitted": 48,
                  "candidates_all_graded": 35,
                  "candidates_all_recommended": 12,
                  "candidates_to_review": 8,
                  "candidates_in_process": 15,
                  "candidates_offers": 3,
                  "candidates_rejected": 10
                },
                "vendors": [
                  {
                    "object": "vendor",
                    "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                    "name": "Acme Corp"
                  }
                ]
              }
            ]
          }
        },
        "required": [
          "object",
          "page",
          "per_page",
          "total_count",
          "total_pages",
          "data"
        ]
      },
      "JobStats": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "job_stats"
          },
          "candidates_all_submitted": {
            "type": [
              "integer",
              "null"
            ],
            "example": 48
          },
          "candidates_all_graded": {
            "type": [
              "integer",
              "null"
            ],
            "example": 35
          },
          "candidates_all_recommended": {
            "type": [
              "integer",
              "null"
            ],
            "example": 12
          },
          "candidates_to_review": {
            "type": [
              "integer",
              "null"
            ],
            "example": 8
          },
          "candidates_in_process": {
            "type": [
              "integer",
              "null"
            ],
            "example": 15
          },
          "candidates_offers": {
            "type": [
              "integer",
              "null"
            ],
            "example": 3
          },
          "candidates_rejected": {
            "type": [
              "integer",
              "null"
            ],
            "example": 10
          }
        },
        "required": [
          "object"
        ]
      },
      "Location": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "location"
          },
          "street1": {
            "type": [
              "string",
              "null"
            ],
            "example": "20 W 34th St"
          },
          "street2": {
            "type": [
              "string",
              "null"
            ],
            "example": "Suite 1000"
          },
          "city": {
            "type": [
              "string",
              "null"
            ],
            "example": "New York"
          },
          "state": {
            "type": [
              "string",
              "null"
            ],
            "example": "NY"
          },
          "postal_code": {
            "type": [
              "string",
              "null"
            ],
            "example": "10001"
          },
          "country": {
            "type": [
              "string",
              "null"
            ],
            "example": "US"
          },
          "latitude": {
            "type": [
              "string",
              "null"
            ],
            "example": "40.7484"
          },
          "longitude": {
            "type": [
              "string",
              "null"
            ],
            "example": "-73.9857"
          },
          "region_name": {
            "type": [
              "string",
              "null"
            ],
            "example": "San Francisco"
          }
        },
        "required": [
          "object"
        ]
      },
      "NotFoundError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "not_found"
          },
          "message": {
            "type": "string",
            "example": "Record not found"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "offer"
          },
          "id": {
            "type": "string",
            "example": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9"
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "example": "active"
          },
          "status_changed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "additional_details": {
            "type": [
              "string",
              "null"
            ],
            "example": "Hybrid schedule, 3 days on-site."
          },
          "terms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OfferTerm"
            },
            "example": [
              {
                "object": "offer_term",
                "type": "salary",
                "amount_cents": 15000,
                "currency": "USD",
                "cadence": "annually",
                "context": "Performance bonus",
                "start_date": "2024-06-15"
              }
            ]
          },
          "employer_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-06-15"
          },
          "employer_start_preference": {
            "type": [
              "string",
              "null"
            ],
            "example": "as_soon_as_possible"
          },
          "initiated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "references_checked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "job": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Job"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "job",
              "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
              "name": "Customer Support Specialist",
              "employer_name": "Acme Corp",
              "employer_id": "d275831a-1a80-46dd-8618-05858c852207",
              "logo_url": "https://cdn.example.com/image.jpg"
            }
          },
          "applicant": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PersonSummary"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "person",
              "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
              "full_name": "Jane Doe",
              "first_name": "Jane",
              "last_name": "Doe",
              "email": "jane.doe@example.com",
              "phone": "+1 (555) 555-5555"
            }
          },
          "application_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "de082c98-11dc-486e-9c8a-aaaea083bd4f"
          },
          "worker_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "8592fbac-7925-4399-95c0-122bd2558a93"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          }
        },
        "required": [
          "object",
          "id",
          "terms"
        ]
      },
      "OfferList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "per_page": {
            "type": "integer",
            "example": 25
          },
          "total_count": {
            "type": "integer",
            "example": 42
          },
          "total_pages": {
            "type": "integer",
            "example": 2
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Offer"
            },
            "example": [
              {
                "object": "offer",
                "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                "status": "active",
                "status_changed_at": "2024-06-15T14:30:00Z",
                "additional_details": "Hybrid schedule, 3 days on-site.",
                "terms": [
                  {
                    "object": "offer_term",
                    "type": "salary",
                    "amount_cents": 15000,
                    "currency": "USD",
                    "cadence": "annually",
                    "context": "Performance bonus",
                    "start_date": "2024-06-15"
                  }
                ],
                "employer_start_date": "2024-06-15",
                "employer_start_preference": "as_soon_as_possible",
                "initiated_at": "2024-06-15T14:30:00Z",
                "references_checked_at": "2024-06-15T14:30:00Z",
                "sent_at": "2024-06-15T14:30:00Z",
                "job": {
                  "object": "job",
                  "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                  "name": "Customer Support Specialist",
                  "employer_name": "Acme Corp",
                  "employer_id": "d275831a-1a80-46dd-8618-05858c852207",
                  "logo_url": "https://cdn.example.com/image.jpg"
                },
                "applicant": {
                  "object": "person",
                  "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                  "full_name": "Jane Doe",
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "email": "jane.doe@example.com",
                  "phone": "+1 (555) 555-5555"
                },
                "application_id": "de082c98-11dc-486e-9c8a-aaaea083bd4f",
                "worker_id": "8592fbac-7925-4399-95c0-122bd2558a93",
                "created_at": "2024-06-15T14:30:00Z",
                "updated_at": "2024-06-15T14:30:00Z"
              }
            ]
          }
        },
        "required": [
          "object",
          "page",
          "per_page",
          "total_count",
          "total_pages",
          "data"
        ]
      },
      "OfferTerm": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "offer_term"
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "example": "salary"
          },
          "amount_cents": {
            "type": [
              "integer",
              "null"
            ],
            "example": 15000
          },
          "currency": {
            "type": [
              "string",
              "null"
            ],
            "example": "USD"
          },
          "cadence": {
            "type": [
              "string",
              "null"
            ],
            "example": "annually"
          },
          "context": {
            "type": [
              "string",
              "null"
            ],
            "example": "Performance bonus"
          },
          "start_date": {
            "type": [
              "string",
              "null"
            ],
            "example": "2024-06-15"
          }
        },
        "required": [
          "object"
        ]
      },
      "Onboarding": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "onboarding"
          },
          "id": {
            "type": "string",
            "example": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9"
          },
          "assignment_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "d275831a-1a80-46dd-8618-05858c852207"
          },
          "ready_to_work": {
            "type": [
              "boolean",
              "null"
            ],
            "example": true
          },
          "start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-06-15"
          },
          "job_name": {
            "type": [
              "string",
              "null"
            ],
            "example": "Customer Support Specialist"
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "example": "active"
          },
          "initiated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "assignment_term_status": {
            "type": [
              "string",
              "null"
            ],
            "example": "active"
          },
          "status_changed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "offer_sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "worker": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PersonSummary"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "person",
              "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
              "full_name": "Jane Doe",
              "first_name": "Jane",
              "last_name": "Doe",
              "email": "jane.doe@example.com",
              "phone": "+1 (555) 555-5555"
            }
          },
          "pay_rate": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PayRate"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "pay_rate",
              "salary_cents": 4500000,
              "hourly_rate_cents": 2163,
              "currency": "USD",
              "rate_type": null
            }
          },
          "screenings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Screening"
            },
            "example": [
              {
                "object": "screening",
                "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                "report_id": "d275831a-1a80-46dd-8618-05858c852207",
                "type": "criminal_background",
                "subtype": "county",
                "status": "active",
                "result": "clear"
              }
            ]
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnboardingDocument"
            },
            "example": [
              {
                "object": "onboarding_document",
                "name": "Employment Agreement",
                "url": "https://cdn.example.com/document.pdf",
                "signed_at": "2024-06-15T14:30:00Z"
              }
            ]
          }
        },
        "required": [
          "object",
          "id",
          "screenings",
          "documents"
        ]
      },
      "OnboardingDocument": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "onboarding_document"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "example": "Employment Agreement"
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "example": "https://cdn.example.com/document.pdf"
          },
          "signed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          }
        },
        "required": [
          "object"
        ]
      },
      "OnboardingList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "per_page": {
            "type": "integer",
            "example": 25
          },
          "total_count": {
            "type": "integer",
            "example": 42
          },
          "total_pages": {
            "type": "integer",
            "example": 2
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Onboarding"
            },
            "example": [
              {
                "object": "onboarding",
                "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                "assignment_id": "d275831a-1a80-46dd-8618-05858c852207",
                "ready_to_work": true,
                "start_date": "2024-06-15",
                "job_name": "Customer Support Specialist",
                "status": "active",
                "initiated_at": "2024-06-15T14:30:00Z",
                "completed_at": "2024-06-15T14:30:00Z",
                "assignment_term_status": "active",
                "status_changed_at": "2024-06-15T14:30:00Z",
                "offer_sent_at": "2024-06-15T14:30:00Z",
                "worker": {
                  "object": "person",
                  "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                  "full_name": "Jane Doe",
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "email": "jane.doe@example.com",
                  "phone": "+1 (555) 555-5555"
                },
                "pay_rate": {
                  "object": "pay_rate",
                  "salary_cents": 4500000,
                  "hourly_rate_cents": 2163,
                  "currency": "USD",
                  "rate_type": null
                },
                "screenings": [
                  {
                    "object": "screening",
                    "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                    "report_id": "d275831a-1a80-46dd-8618-05858c852207",
                    "type": "criminal_background",
                    "subtype": "county",
                    "status": "active",
                    "result": "clear"
                  }
                ],
                "documents": [
                  {
                    "object": "onboarding_document",
                    "name": "Employment Agreement",
                    "url": "https://cdn.example.com/document.pdf",
                    "signed_at": "2024-06-15T14:30:00Z"
                  }
                ]
              }
            ]
          }
        },
        "required": [
          "object",
          "page",
          "per_page",
          "total_count",
          "total_pages",
          "data"
        ]
      },
      "PayCycle": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "pay_cycle"
          },
          "id": {
            "type": "string",
            "example": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9"
          },
          "period": {
            "type": "string",
            "format": "date",
            "example": "2024-06-10"
          },
          "hours_submitted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "locked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          }
        },
        "required": [
          "object",
          "id",
          "period"
        ]
      },
      "PayCycleList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "per_page": {
            "type": "integer",
            "example": 25
          },
          "total_count": {
            "type": "integer",
            "example": 42
          },
          "total_pages": {
            "type": "integer",
            "example": 2
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PayCycle"
            },
            "example": [
              {
                "object": "pay_cycle",
                "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                "period": "2024-06-10",
                "hours_submitted_at": "2024-06-15T14:30:00Z",
                "locked_at": "2024-06-15T14:30:00Z"
              }
            ]
          }
        },
        "required": [
          "object",
          "page",
          "per_page",
          "total_count",
          "total_pages",
          "data"
        ]
      },
      "PayRate": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "pay_rate"
          },
          "salary_cents": {
            "type": [
              "integer",
              "null"
            ],
            "example": 4500000
          },
          "hourly_rate_cents": {
            "type": [
              "integer",
              "null"
            ],
            "example": 2163
          },
          "currency": {
            "type": [
              "string",
              "null"
            ],
            "example": "USD"
          },
          "rate_type": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object"
        ]
      },
      "PersonSummary": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "person"
          },
          "id": {
            "type": "string",
            "example": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9"
          },
          "full_name": {
            "type": [
              "string",
              "null"
            ],
            "example": "Jane Doe"
          },
          "first_name": {
            "type": [
              "string",
              "null"
            ],
            "example": "Jane"
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ],
            "example": "Doe"
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "example": "jane.doe@example.com"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "example": "+1 (555) 555-5555"
          }
        },
        "required": [
          "object",
          "id"
        ]
      },
      "PurchaseOrderSummary": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "purchase_order"
          },
          "id": {
            "type": "string",
            "example": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9"
          },
          "client_reference_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "d275831a-1a80-46dd-8618-05858c852207"
          },
          "cost_center": {
            "type": [
              "string",
              "null"
            ],
            "example": "Engineering"
          },
          "original_amount_cents": {
            "type": [
              "integer",
              "null"
            ],
            "example": 50000000
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-06-15"
          },
          "expiration_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-06-15"
          }
        },
        "required": [
          "object",
          "id",
          "currency"
        ]
      },
      "RateLimitError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "rate_limited"
          },
          "message": {
            "type": "string",
            "example": "Too many requests"
          }
        }
      },
      "Screening": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "screening"
          },
          "id": {
            "type": "string",
            "example": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9"
          },
          "report_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "d275831a-1a80-46dd-8618-05858c852207"
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "example": "criminal_background"
          },
          "subtype": {
            "type": [
              "string",
              "null"
            ],
            "example": "county"
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "example": "active"
          },
          "result": {
            "type": [
              "string",
              "null"
            ],
            "example": "clear"
          }
        },
        "required": [
          "object",
          "id"
        ]
      },
      "Shift": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "shift"
          },
          "id": {
            "type": "string",
            "example": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9"
          },
          "worker_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "8592fbac-7925-4399-95c0-122bd2558a93"
          },
          "assignment_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "d275831a-1a80-46dd-8618-05858c852207"
          },
          "pay_cycle_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "d275831a-1a80-46dd-8618-05858c852207"
          },
          "date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "example": "active"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Handle inbound customer inquiries via phone, email, and chat."
          },
          "reference_number": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-12345"
          },
          "submission": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ShiftSubmission"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "shift_submission",
              "auto_submitted": false,
              "submitted_at": "2024-06-15T14:30:00Z"
            }
          },
          "hours": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ShiftHours"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "shift_hours",
              "total_hours": 7.5,
              "payable_hours": 15.5,
              "reported_by_employee": {
                "object": "employee_reported_hours",
                "break": 0.5,
                "holiday_non_worked": 8,
                "starts_at": "2024-06-15T14:30:00Z",
                "ends_at": "2024-06-15T14:30:00Z"
              },
              "reported_by_employer": {
                "object": "employer_reported_hours",
                "break_override": 0.5,
                "holiday_non_worked_override": 8,
                "total_hours_worked_override": 7.5
              }
            }
          },
          "approval": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ShiftApproval"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "shift_approval",
              "approved_at": "2024-06-15T14:30:00Z",
              "auto_approved": false,
              "approved_by": {
                "object": "person",
                "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
                "full_name": "Jane Doe",
                "first_name": "Jane",
                "last_name": "Doe",
                "email": "jane.doe@example.com",
                "phone": "+1 (555) 555-5555"
              }
            }
          }
        },
        "required": [
          "object",
          "id"
        ]
      },
      "ShiftApproval": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "shift_approval"
          },
          "approved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2024-06-15T14:30:00Z"
          },
          "auto_approved": {
            "type": [
              "boolean",
              "null"
            ],
            "example": false
          },
          "approved_by": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PersonSummary"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "person",
              "id": "ea4e2b73-0f87-4a74-bbe0-0a3c810406e9",
              "full_name": "Jane Doe",
              "first_name": "Jane",
              "last_name": "Doe",
              "email": "jane.doe@example.com",
              "phone": "+1 (555) 555-5555"
            }
          }
        },
        "required": [
          "object"
        ]
      },
      "ShiftHours": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "shift_hours"
          },
          "total_hours": {
            "type": [
              "number",
              "null"
            ],
            "example": 7.5
          },
          "payable_hours": {
            "type": [
              "number",
              "null"
            ],
            "example": 15.5
          },
          "reported_by_employee": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/EmployeeReportedHours"
              },
              {
                "type": "null"
              }
            ],
            "example": {
              "object": "employee_reported_hours",
              "break": 0.5,
              "holiday_non_worked": 8,
              "starts_at": "2024-06-15T14:30:00Z",
              "ends_at": "2024-06-15T14:30:00Z"
            }
          },
          "reported_by_employer": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/EmployerReportedHours"
              },
              {
[...]
