{
  "openapi": "3.1.0",
  "info": {
    "title": "Lumenfall Engine API",
    "version": "1.0.0",
    "description": "Unified API for AI media generation. OpenAI-compatible endpoints for image, video, and chat models plus native endpoints for account management.",
    "license": {
      "name": "Apache-2.0"
    },
    "contact": {
      "name": "Lumenfall Support",
      "url": "https://lumenfall.ai",
      "email": "support@lumenfall.ai"
    },
    "x-jentic-source-url": "https://api.lumenfall.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.lumenfall.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/openai/v1/images/generations": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Generate images",
        "description": "OpenAI-compatible image generation endpoint.",
        "parameters": [
          {
            "name": "dryRun",
            "in": "query",
            "description": "If true, returns an estimated cost without running the model.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/ReplayActivation"
          },
          {
            "$ref": "#/components/parameters/ReplayMatch"
          },
          {
            "$ref": "#/components/parameters/ReplayFields"
          },
          {
            "$ref": "#/components/parameters/ReplayRecording"
          },
          {
            "$ref": "#/components/parameters/ReplayLatency"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated images",
            "headers": {
              "X-Lumenfall-Replay-Result": {
                "$ref": "#/components/headers/ReplayResult"
              },
              "X-Lumenfall-Replay-Match": {
                "$ref": "#/components/headers/ReplayMatchUsed"
              },
              "X-Lumenfall-Recording-Id": {
                "$ref": "#/components/headers/RecordingId"
              },
              "X-Lumenfall-Provider-Used": {
                "$ref": "#/components/headers/ProviderUsed"
              },
              "X-Lumenfall-Wire-Provider": {
                "$ref": "#/components/headers/WireProvider"
              },
              "X-Lumenfall-Warning": {
                "$ref": "#/components/headers/ReplayWarning"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/openai/v1/images/edits": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Edit images",
        "description": "OpenAI-compatible image editing endpoint. Requires multipart/form-data with an image field.",
        "parameters": [
          {
            "name": "dryRun",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/ReplayActivation"
          },
          {
            "$ref": "#/components/parameters/ReplayMatch"
          },
          {
            "$ref": "#/components/parameters/ReplayFields"
          },
          {
            "$ref": "#/components/parameters/ReplayRecording"
          },
          {
            "$ref": "#/components/parameters/ReplayLatency"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited images",
            "headers": {
              "X-Lumenfall-Replay-Result": {
                "$ref": "#/components/headers/ReplayResult"
              },
              "X-Lumenfall-Replay-Match": {
                "$ref": "#/components/headers/ReplayMatchUsed"
              },
              "X-Lumenfall-Recording-Id": {
                "$ref": "#/components/headers/RecordingId"
              },
              "X-Lumenfall-Provider-Used": {
                "$ref": "#/components/headers/ProviderUsed"
              },
              "X-Lumenfall-Wire-Provider": {
                "$ref": "#/components/headers/WireProvider"
              },
              "X-Lumenfall-Warning": {
                "$ref": "#/components/headers/ReplayWarning"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/openai/v1/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List models",
        "responses": {
          "200": {
            "description": "Models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Model"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openai/v1/models/{id}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get model details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/openai/v1/videos": {
      "post": {
        "tags": [
          "Videos"
        ],
        "summary": "Create a video generation job",
        "description": "Asynchronous. Returns 202 with a job ID; poll /openai/v1/videos/{id} for status.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReplayActivation"
          },
          {
            "$ref": "#/components/parameters/ReplayMatch"
          },
          {
            "$ref": "#/components/parameters/ReplayFields"
          },
          {
            "$ref": "#/components/parameters/ReplayRecording"
          },
          {
            "$ref": "#/components/parameters/ReplayLatency"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job accepted",
            "headers": {
              "X-Lumenfall-Replay-Result": {
                "$ref": "#/components/headers/ReplayResult"
              },
              "X-Lumenfall-Replay-Match": {
                "$ref": "#/components/headers/ReplayMatchUsed"
              },
              "X-Lumenfall-Recording-Id": {
                "$ref": "#/components/headers/RecordingId"
              },
              "X-Lumenfall-Provider-Used": {
                "$ref": "#/components/headers/ProviderUsed"
              },
              "X-Lumenfall-Wire-Provider": {
                "$ref": "#/components/headers/WireProvider"
              },
              "X-Lumenfall-Warning": {
                "$ref": "#/components/headers/ReplayWarning"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJob"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/openai/v1/videos/{id}": {
      "get": {
        "tags": [
          "Videos"
        ],
        "summary": "Get video job status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJob"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/openai/v1/chat/completions": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Chat completions",
        "description": "OpenAI-compatible chat. Supports streaming via stream=true.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completion",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/requests": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List recent requests",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "key_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summary",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/balance": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account balance",
        "responses": {
          "200": {
            "description": "Balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token in the form `lmnfl_<key_id>.<secret>`."
      }
    },
    "schemas": {
      "ImageGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "example": "gemini-3-pro-image-preview"
          },
          "prompt": {
            "type": "string",
            "maxLength": 1000
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10
          },
          "size": {
            "type": "string",
            "example": "1024x1024"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ]
          },
          "quality": {
            "type": "string"
          },
          "style": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ImageEditRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "image"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "prompt": {
            "type": "string",
            "maxLength": 1000
          },
          "image": {
            "type": "string",
            "format": "binary"
          },
          "mask": {
            "type": "string",
            "format": "binary"
          },
          "size": {
            "type": "string"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ]
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "b64_json": {
                  "type": "string"
                }
              }
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        }
      },
      "VideoGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "duration_seconds": {
            "type": "number"
          },
          "size": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "VideoJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "completed",
              "failed"
            ]
          },
          "created_at": {
            "type": "integer"
          },
          "video": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "example": "google/gemini-3-flash-preview"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "system",
                    "user",
                    "assistant"
                  ]
                },
                "content": {
                  "type": "string"
                }
              }
            }
          },
          "stream": {
            "type": "boolean"
          },
          "temperature": {
            "type": "number"
          },
          "max_tokens": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "const": "model"
          },
          "created": {
            "type": "integer"
          },
          "owned_by": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "provider_name": {
            "type": "string"
          },
          "cost": {
            "type": "number"
          },
          "cost_currency": {
            "type": "string",
            "const": "USD"
          },
          "attempts": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "parameters": {
      "ReplayActivation": {
        "name": "X-Lumenfall-Replay",
        "in": "header",
        "required": false,
        "description": "Record & Replay activation: what happens on a recording hit and on a miss. Omit it (with no key default) to run the request normally. Can also be set as a default on an API key. Full reference: https://docs.lumenfall.ai/replay",
        "schema": {
          "type": "string",
          "enum": [
            "off",
            "record",
            "replay-or-mock",
            "replay-or-error",
            "replay-or-live",
            "replay-or-record",
            "mock"
          ]
        }
      },
      "ReplayMatch": {
        "name": "X-Lumenfall-Replay-Match",
        "in": "header",
        "required": false,
        "description": "How a recording is matched when replaying. Consulted only by the `replay-or-*` activations. See https://docs.lumenfall.ai/replay/modes",
        "schema": {
          "type": "string",
          "enum": [
            "standard",
            "strict",
            "specific",
            "pinned"
          ],
          "default": "standard"
        }
      },
      "ReplayFields": {
        "name": "X-Lumenfall-Replay-Fields",
        "in": "header",
        "required": false,
        "description": "Comma-separated request fields to match on. Required when `X-Lumenfall-Replay-Match: specific`.",
        "schema": {
          "type": "string",
          "example": "model,size,seed"
        }
      },
      "ReplayRecording": {
        "name": "X-Lumenfall-Replay-Recording",
        "in": "header",
        "required": false,
        "description": "Recording id to replay. Required when `X-Lumenfall-Replay-Match: pinned`. Read per request only - never inherited from an API key default.",
        "schema": {
          "type": "string",
          "example": "rec_2jKx8mNpQ4abc123"
        }
      },
      "ReplayLatency": {
        "name": "X-Lumenfall-Replay-Latency",
        "in": "header",
        "required": false,
        "description": "Replay latency simulation: `instant` (the default, return immediately), `real` (wait the originally recorded duration, capped at 60s), or `{ttfb},{duration}` in milliseconds (e.g. `1200,8000`).",
        "schema": {
          "type": "string",
          "default": "instant",
          "example": "real"
        }
      }
    },
    "headers": {
      "ReplayResult": {
        "description": "What the replay layer did. Its presence means the request was handled by replay; its absence means it was not.",
        "schema": {
          "type": "string",
          "enum": [
            "replay",
            "record",
            "live",
            "mock",
            "miss"
          ]
        }
      },
      "ReplayMatchUsed": {
        "description": "Which match strategy resolved the request.",
        "schema": {
          "type": "string",
          "enum": [
            "standard",
            "strict",
            "specific",
            "pinned"
          ]
        }
      },
      "RecordingId": {
        "description": "The recording served or created. Absent for `mock` and `live`.",
        "schema": {
          "type": "string",
          "example": "rec_2jKx8mNpQ4abc123"
        }
      },
      "ProviderUsed": {
        "description": "The provider whose recording served the request. Differs from the routed provider on a cross-provider match.",
        "schema": {
          "type": "string"
        }
      },
      "WireProvider": {
        "description": "Present when the recorded body was adapted to the requested provider's response shape.",
        "schema": {
          "type": "string"
        }
      },
      "ReplayWarning": {
        "description": "Replay warnings, e.g. `LATENCY_CLAMPED` when a `real` latency was clamped to the 60s cap.",
        "schema": {
          "type": "string",
          "example": "LATENCY_CLAMPED"
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Images",
      "description": "Image generation and editing"
    },
    {
      "name": "Videos",
      "description": "Video generation (asynchronous)"
    },
    {
      "name": "Chat",
      "description": "Text and chat completions"
    },
    {
      "name": "Models",
      "description": "Model catalog"
    },
    {
      "name": "Account",
      "description": "Request history and balance"
    }
  ]
}