{
  "openapi": "3.1.0",
  "info": {
    "title": "ZAPKELLER API (v2.0)",
    "version": "1.0.0",
    "description": "# Bem-vindo à ZAPKELLER\nAPI profissional para gerenciamento de instâncias do WhatsApp e comunicações.\n## ⚠️ Recomendação Importante\n**É ALTAMENTE RECOMENDADO usar contas do WhatsApp Business**.\n## Autenticação\n- Endpoints regulares requerem um header 'token' - Endpoints administrativos requerem um header 'admintoken'\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/keller-00d/zapkeller-api-v20/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.zapkeller.com.br",
      "description": "Servidor Principal Zapkeller"
    }
  ],
  "paths": {
    "/instance/init": {
      "post": {
        "operationId": "initInstance",
        "tags": [
          "Admininstração"
        ],
        "summary": "Criar Instancia",
        "security": [
          {
            "admintoken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome da instância",
                    "example": "minha-instancia"
                  },
                  "systemName": {
                    "type": "string",
                    "description": "Nome do sistema (opcional, padrão 'zapkellerGO' se não informado)",
                    "example": "apilocal"
                  },
                  "adminField01": {
                    "type": "string",
                    "description": "Campo administrativo 1 para metadados personalizados (opcional)",
                    "example": "custom-metadata-1"
                  },
                  "adminField02": {
                    "type": "string",
                    "description": "Campo administrativo 2 para metadados personalizados (opcional)",
                    "example": "custom-metadata-2"
                  },
                  "fingerprintProfile": {
                    "type": "string",
                    "description": "Perfil de fingerprint para emulação de navegador (opcional)",
                    "example": "chrome"
                  },
                  "browser": {
                    "type": "string",
                    "description": "Tipo de navegador para emulação (opcional)",
                    "example": "chrome"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "description": "Cria uma nova instância do WhatsApp. Para criar uma instância você precisa:\n\n1. Ter um admintoken válido\n2. Enviar pelo menos o nome da instância\n3. A instância será criada desconectada\n4. Será gerado um token único para autenticação\n\nApós criar a instância, guarde o token retornado pois ele será necessário\npara todas as outras operações.\n\nEstados possíveis da instância:\n\n- `disconnected`: Desconectado do WhatsApp\n- `connecting`: Em processo de conexão\n- `connected`: Conectado e autenticado\n\nCampos administrativos (adminField01/adminField02) são opcionais e podem ser usados para armazenar metadados personalizados. \nOS valores desses campos são vísiveis para o dono da instancia via token, porém apenas o administrador da api (via admin token) pode editá-los.\n",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "Instance created successfully"
                    },
                    "connected": {
                      "type": "boolean",
                      "example": false
                    },
                    "loggedIn": {
                      "type": "boolean",
                      "example": false
                    },
                    "name": {
                      "type": "string",
                      "example": "minha-instancia"
                    },
                    "token": {
                      "type": "string",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "info": {
                      "type": "string",
                      "example": "This instance will be automatically disconnected and deleted after 1 hour."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token inválido/expirado"
          },
          "404": {
            "description": "Instância não encontrada"
          },
          "500": {
            "description": "Erro interno"
          }
        }
      }
    },
    "/instance/all": {
      "get": {
        "operationId": "listAllInstances",
        "tags": [
          "Admininstração"
        ],
        "summary": "Listar todas as instâncias",
        "security": [
          {
            "admintoken": []
          }
        ],
        "description": "Retorna uma lista completa de todas as instâncias do sistema, incluindo:\n- ID e nome de cada instância\n- Status atual (disconnected, connecting, connected)\n- Data de criação\n- Última desconexão e motivo\n- Informações de perfil (se conectado)\n\nRequer permissões de administrador.\n",
        "responses": {
          "200": {
            "description": "Lista de instâncias retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                },
                "example": [
                  {
                    "id": "r183e2ef9597845",
                    "name": "instancia-1",
                    "token": "abc123xyz",
                    "status": "connected",
                    "profileName": "Meu WhatsApp",
                    "profilePicUrl": "https://example.com/profile.jpg",
                    "isBusiness": true,
                    "plataform": "Android",
                    "systemName": "zapkeller",
                    "owner": "user@example.com",
                    "created": "2024-01-01T12:00:00.000Z",
                    "updated": "2024-01-01T12:30:00.000Z"
                  },
                  {
                    "id": "r283e2ef9597846",
                    "name": "instancia-2",
                    "token": "def456xyz",
                    "status": "disconnected",
                    "lastDisconnect": "2024-01-02T12:00:00.000Z",
                    "lastDisconnectReason": "manual disconnect",
                    "created": "2024-01-02T12:00:00.000Z",
                    "updated": "2024-01-02T12:30:00.000Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Token inválido ou expirado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Token de administrador inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid AdminToken Header"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instance/connect": {
      "post": {
        "operationId": "connectInstance",
        "tags": [
          "Instancia"
        ],
        "summary": "Conectar instância ao WhatsApp",
        "description": "Inicia o processo de conexão de uma instância ao WhatsApp. Este endpoint:\n1. Requer o token de autenticação da instância\n2. Recebe o número de telefone associado à conta WhatsApp\n3. Gera um QR code caso não passe o campo `phone`\n4. Ou Gera código de pareamento se passar o o campo `phone`\n5. Atualiza o status da instância para \"connecting\"\n\nO processo de conexão permanece pendente até que:\n- O QR code seja escaneado no WhatsApp do celular, ou\n- O código de pareamento seja usado no WhatsApp\n- Timeout de 2 minutos para QRCode seja atingido ou 5 minutos para o código de pareamento\n\nUse o endpoint /instance/status para monitorar o progresso da conexão.\n\nEstados possíveis da instância:\n- `disconnected`: Desconectado do WhatsApp\n- `connecting`: Em processo de conexão\n- `connected`: Conectado e autenticado\n\nExemplo de requisição:\n```json\n{\n  \"phone\": \"5511999999999\"\n}\n```\n",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional (ex: 5511999999999). Se informado, gera código de pareamento. Se omitido, gera QR code.",
                    "example": "5511999999999",
                    "pattern": "^\\d{10,15}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connected": {
                      "type": "boolean",
                      "description": "Estado atual da conexão",
                      "example": false
                    },
                    "loggedIn": {
                      "type": "boolean",
                      "description": "Estado do login",
                      "example": false
                    },
                    "jid": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "ID do WhatsApp (quando logado)",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token inválido/expirado"
          },
          "404": {
            "description": "Instância não encontrada"
          },
          "429": {
            "description": "Limite de conexões simultâneas atingido"
          },
          "500": {
            "description": "Erro interno"
          }
        }
      }
    },
    "/instance/disconnect": {
      "post": {
        "operationId": "disconnectInstance",
        "tags": [
          "Instancia"
        ],
        "summary": "Desconectar instância",
        "description": "Desconecta a instância do WhatsApp, encerrando a sessão atual.\nEsta operação:\n\n- Encerra a conexão ativa\n\n- Requer novo QR code para reconectar\n\n\nDiferenças entre desconectar e hibernar:\n\n- Desconectar: Encerra completamente a sessão, exigindo novo login\n\n- Hibernar: Mantém a sessão ativa, apenas pausa a conexão\n\n\nUse este endpoint para:\n\n1. Encerrar completamente uma sessão\n\n2. Forçar uma nova autenticação\n\n3. Limpar credenciais de uma instância\n\n4. Reiniciar o processo de conexão\n\n\nEstados possíveis após desconectar:\n\n- `disconnected`: Desconectado do WhatsApp\n\n- `connecting`: Em processo de reconexão (após usar /instance/connect)\n",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "Disconnected"
                    },
                    "info": {
                      "type": "string",
                      "example": "The device has been successfully disconnected from WhatsApp. A new QR code will be required for the next connection."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token inválido/expirado"
          },
          "404": {
            "description": "Instância não encontrada"
          },
          "500": {
            "description": "Erro interno"
          }
        }
      }
    },
    "/instance/status": {
      "get": {
        "operationId": "getInstanceStatus",
        "tags": [
          "Instancia"
        ],
        "summary": "Verificar status da instância",
        "description": "Retorna o status atual de uma instância, incluindo:\n- Estado da conexão (disconnected, connecting, connected)\n- QR code atualizado (se em processo de conexão)\n- Código de pareamento (se disponível)\n- Informações da última desconexão\n- Detalhes completos da instância\n\nEste endpoint é particularmente útil para:\n1. Monitorar o progresso da conexão\n2. Obter QR codes atualizados durante o processo de conexão\n3. Verificar o estado atual da instância\n4. Identificar problemas de conexão\n\nEstados possíveis:\n- `disconnected`: Desconectado do WhatsApp\n- `connecting`: Em processo de conexão (aguardando QR code ou código de pareamento)\n- `connected`: Conectado e autenticado com sucesso\n",
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "object",
                      "properties": {
                        "connected": {
                          "type": "boolean",
                          "description": "Indica se está conectado ao WhatsApp"
                        },
                        "loggedIn": {
                          "type": "boolean",
                          "description": "Indica se está autenticado no WhatsApp"
                        },
                        "jid": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "description": "ID do WhatsApp quando conectado"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "instance": {
                    "id": "r183e2ef9597845",
                    "name": "minha-instancia",
                    "status": "connected",
                    "profileName": "Meu WhatsApp",
                    "currentTime": "2024-01-25T12:00:00.000Z"
                  },
                  "status": {
                    "connected": true,
                    "loggedIn": true,
                    "jid": {
                      "user": "5511999999999",
                      "agent": 0,
                      "device": 0,
                      "server": "s.whatsapp.net"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token inválido/expirado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "instance info not found"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Instância não encontrada"
          },
          "500": {
            "description": "Erro interno"
          }
        }
      }
    },
    "/instance/updateInstanceName": {
      "post": {
        "operationId": "updateInstanceName",
        "tags": [
          "Instancia"
        ],
        "summary": "Atualizar nome da instância",
        "description": "Atualiza o nome de uma instância WhatsApp existente.\nO nome não precisa ser único.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Novo nome para a instância",
                    "example": "Minha Nova Instância 2024!@#"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": null
            }
          },
          "401": {
            "description": "Token inválido/expirado"
          },
          "404": {
            "description": "Instância não encontrada"
          },
          "500": {
            "description": "Erro interno"
          }
        }
      }
    },
    "/instance/updateAdminFields": {
      "post": {
        "operationId": "updateAdminFields",
        "tags": [
          "Admininstração"
        ],
        "summary": "Atualizar campos administrativos",
        "security": [
          {
            "admintoken": []
          }
        ],
        "description": "Atualiza os campos administrativos (adminField01/adminField02) de uma instância.\n\nCampos administrativos são opcionais e podem ser usados para armazenar metadados personalizados. \nEstes campos são persistidos no banco de dados e podem ser utilizados para integrações com outros sistemas ou para armazenamento de informações internas.\nOS valores desses campos são vísiveis para o dono da instancia via token, porém apenas o administrador da api (via admin token) pode editá-los.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID da instância",
                    "example": "inst_123456"
                  },
                  "adminField01": {
                    "type": "string",
                    "description": "Campo administrativo 1",
                    "example": "clientId_456"
                  },
                  "adminField02": {
                    "type": "string",
                    "description": "Campo administrativo 2",
                    "example": "integration_xyz"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campos atualizados com sucesso",
            "content": {
              "application/json": null
            }
          },
          "401": {
            "description": "Token de administrador inválido"
          },
          "404": {
            "description": "Instância não encontrada"
          },
          "500": {
            "description": "Erro interno"
          }
        }
      }
    },
    "/profile/name": {
      "post": {
        "operationId": "updateProfileName",
        "tags": [
          "Perfil"
        ],
        "summary": "Altera o nome do perfil do WhatsApp",
        "description": "Altera o nome de exibição do perfil da instância do WhatsApp.\n\nO endpoint realiza:\n- Atualiza o nome do perfil usando o WhatsApp AppState\n- Sincroniza a mudança com o servidor do WhatsApp\n- Retorna confirmação da alteração\n\n**Importante**: \n- A instância deve estar conectada ao WhatsApp\n- O nome será visível para todos os contatos\n- Pode haver um limite de alterações por período (conforme WhatsApp)\n",
        "security": [
          {
            "token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Novo nome do perfil do WhatsApp",
                    "example": "Minha Empresa - Atendimento",
                    "maxLength": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nome do perfil alterado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Nome do perfil alterado com sucesso"
                    },
                    "profile": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Novo nome do perfil",
                          "example": "Minha Empresa - Atendimento"
                        },
                        "updated_at": {
                          "type": "integer",
                          "description": "Timestamp da alteração (Unix timestamp)",
                          "example": 1704067200
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Nome muito longo ou inválido"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sem sessão ativa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No session"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ação não permitida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Limite de alterações excedido ou conta com restrições"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Erro ao alterar nome do perfil"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/image": {
      "post": {
        "operationId": "updateProfileImage",
        "tags": [
          "Perfil"
        ],
        "summary": "Altera a imagem do perfil do WhatsApp",
        "description": "Altera a imagem de perfil da instância do WhatsApp.\n\nO endpoint realiza:\n- Atualiza a imagem do perfil usando \n- Processa a imagem (URL, base64 ou comando de remoção)\n- Sincroniza a mudança com o servidor do WhatsApp\n- Retorna confirmação da alteração\n\n**Importante**: \n- A instância deve estar conectada ao WhatsApp\n- A imagem será visível para todos os contatos\n- A imagem deve estar em formato JPEG e tamanho 640x640 pixels\n",
        "security": [
          {
            "token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Imagem do perfil. Pode ser:\n- URL da imagem (http/https)\n- String base64 da imagem\n- \"remove\" ou \"delete\" para remover a imagem atual\n",
                    "example": "https://picsum.photos/640/640.jpg",
                    "oneOf": [
                      {
                        "description": "URL da imagem",
                        "example": "https://picsum.photos/640/640.jpg"
                      },
                      {
                        "description": "Imagem em base64",
                        "example": "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAABAAEDASIAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAv/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAX/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwCdABmX/9k="
                      },
                      {
                        "description": "Comando para remover imagem",
                        "example": "remove"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Imagem do perfil alterada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Imagem do perfil alterada com sucesso"
                    },
                    "profile": {
                      "type": "object",
                      "properties": {
                        "image_updated": {
                          "type": "boolean",
                          "description": "Indica se a imagem foi atualizada",
                          "example": true
                        },
                        "image_removed": {
                          "type": "boolean",
                          "description": "Indica se a imagem foi removida",
                          "example": false
                        },
                        "updated_at": {
                          "type": "integer",
                          "description": "Timestamp da alteração (Unix timestamp)",
                          "example": 1704067200
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Dados inválidos na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Formato de imagem inválido ou URL inacessível"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sem sessão ativa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No session"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Ação não permitida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Limite de alterações excedido ou conta com restrições"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Imagem muito grande",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Imagem muito grande, tamanho máximo permitido excedido"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Erro ao alterar imagem do perfil"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instance": {
      "delete": {
        "operationId": "deleteInstance",
        "tags": [
          "Instancia"
        ],
        "summary": "Deletar instância",
        "description": "Remove a instância do sistema.\n",
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Instância deletada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "Instance Deleted"
                    },
                    "info": {
                      "type": "string",
                      "example": "O dispositivo foi desconectado com sucesso e a instância foi removida do banco de dados."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Falha na autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Não autorizado - Token inválido ou ausente"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Instância não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Instância não encontrada"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Falha ao deletar instância"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instance/privacy": {
      "get": {
        "operationId": "getInstancePrivacy",
        "tags": [
          "Instancia"
        ],
        "summary": "Buscar configurações de privacidade",
        "description": "Busca as configurações de privacidade atuais da instância do WhatsApp.\n\n**Importante - Diferença entre Status e Broadcast:**\n\n- **Status**: Refere-se ao recado personalizado que aparece embaixo do nome do usuário (ex: \"Disponível\", \"Ocupado\", texto personalizado)\n- **Broadcast**: Refere-se ao envio de \"stories/reels\" (fotos/vídeos temporários)\n\n**Limitação**: As configurações de privacidade do broadcast (stories/reels) não estão disponíveis para alteração via API.\n\nRetorna todas as configurações de privacidade como quem pode:\n- Adicionar aos grupos\n- Ver visto por último\n- Ver status (recado embaixo do nome)\n- Ver foto de perfil\n- Receber confirmação de leitura\n- Ver status online\n- Fazer chamadas\n",
        "responses": {
          "200": {
            "description": "Configurações de privacidade obtidas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "groupadd": {
                      "type": "string",
                      "enum": [
                        "all",
                        "contacts",
                        "contact_blacklist",
                        "none"
                      ],
                      "description": "Quem pode adicionar aos grupos. Valores - all, contacts, contact_blacklist, none",
                      "example": "contacts"
                    },
                    "last": {
                      "type": "string",
                      "enum": [
                        "all",
                        "contacts",
                        "contact_blacklist",
                        "none"
                      ],
                      "description": "Quem pode ver visto por último. Valores - all, contacts, contact_blacklist, none",
                      "example": "contacts"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "all",
                        "contacts",
                        "contact_blacklist",
                        "none"
                      ],
                      "description": "Quem pode ver status (recado embaixo do nome). Valores - all, contacts, contact_blacklist, none",
                      "example": "contacts"
                    },
                    "profile": {
                      "type": "string",
                      "enum": [
                        "all",
                        "contacts",
                        "contact_blacklist",
                        "none"
                      ],
                      "description": "Quem pode ver foto de perfil. Valores - all, contacts, contact_blacklist, none",
                      "example": "contacts"
                    },
                    "readreceipts": {
                      "type": "string",
                      "enum": [
                        "all",
                        "none"
                      ],
                      "description": "Confirmação de leitura. Valores - all, none",
                      "example": "all"
                    },
                    "online": {
                      "type": "string",
                      "enum": [
                        "all",
                        "match_last_seen"
                      ],
                      "description": "Quem pode ver status online. Valores - all, match_last_seen",
                      "example": "all"
                    },
                    "calladd": {
                      "type": "string",
                      "enum": [
                        "all",
                        "known"
                      ],
                      "description": "Quem pode fazer chamadas. Valores - all, known",
                      "example": "all"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Configurações de privacidade obtidas",
                    "value": {
                      "groupadd": "contacts",
                      "last": "contacts",
                      "status": "contacts",
                      "profile": "contacts",
                      "readreceipts": "all",
                      "online": "all",
                      "calladd": "all"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token de autenticação inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "client not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No session"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Instancia"
        ],
        "summary": "Alterar configurações de privacidade",
        "description": "Altera uma ou múltiplas configurações de privacidade da instância do WhatsApp de forma otimizada.\n\n**Importante - Diferença entre Status e Broadcast:**\n\n- **Status**: Refere-se ao recado personalizado que aparece embaixo do nome do usuário (ex: \"Disponível\", \"Ocupado\", texto personalizado)\n- **Broadcast**: Refere-se ao envio de \"stories/reels\" (fotos/vídeos temporários)\n\n**Limitação**: As configurações de privacidade do broadcast (stories/reels) não estão disponíveis para alteração via API.\n\n**Características:**\n- ✅ **Eficiência**: Altera apenas configurações que realmente mudaram\n- ✅ **Flexibilidade**: Pode alterar uma ou múltiplas configurações na mesma requisição\n- ✅ **Feedback completo**: Retorna todas as configurações atualizadas\n\n**Formato de entrada:**\n```json\n{\n  \"groupadd\": \"contacts\",\n  \"last\": \"none\",\n  \"status\": \"contacts\"\n}\n```\n\n**Tipos de privacidade disponíveis:**\n- `groupadd`: Quem pode adicionar aos grupos\n- `last`: Quem pode ver visto por último\n- `status`: Quem pode ver status (recado embaixo do nome)\n- `profile`: Quem pode ver foto de perfil\n- `readreceipts`: Confirmação de leitura\n- `online`: Quem pode ver status online\n- `calladd`: Quem pode fazer chamadas\n\n**Valores possíveis:**\n- `all`: Todos\n- `contacts`: Apenas contatos\n- `contact_blacklist`: Contatos exceto bloqueados\n- `none`: Ninguém\n- `match_last_seen`: Corresponder ao visto por último (apenas para online)\n- `known`: Números conhecidos (apenas para calladd)\n",
        "operationId": "setPrivacySetting",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupadd": {
                    "type": "string",
                    "enum": [
                      "all",
                      "contacts",
                      "contact_blacklist",
                      "none"
                    ],
                    "description": "Quem pode adicionar aos grupos. Valores - all, contacts, contact_blacklist, none"
                  },
                  "last": {
                    "type": "string",
                    "enum": [
                      "all",
                      "contacts",
                      "contact_blacklist",
                      "none"
                    ],
                    "description": "Quem pode ver visto por último. Valores - all, contacts, contact_blacklist, none"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "all",
                      "contacts",
                      "contact_blacklist",
                      "none"
                    ],
                    "description": "Quem pode ver status (recado embaixo do nome). Valores - all, contacts, contact_blacklist, none"
                  },
                  "profile": {
                    "type": "string",
                    "enum": [
                      "all",
                      "contacts",
                      "contact_blacklist",
                      "none"
                    ],
                    "description": "Quem pode ver foto de perfil. Valores - all, contacts, contact_blacklist, none"
                  },
                  "readreceipts": {
                    "type": "string",
                    "enum": [
                      "all",
                      "none"
                    ],
                    "description": "Confirmação de leitura. Valores - all, none"
                  },
                  "online": {
                    "type": "string",
                    "enum": [
                      "all",
                      "match_last_seen"
                    ],
                    "description": "Quem pode ver status online. Valores - all, match_last_seen"
                  },
                  "calladd": {
                    "type": "string",
                    "enum": [
                      "all",
                      "known"
                    ],
                    "description": "Quem pode fazer chamadas. Valores - all, known"
                  }
                },
                "minProperties": 1,
                "additionalProperties": false
              },
              "examples": {
                "single_setting": {
                  "summary": "Alterar uma configuração",
                  "value": {
                    "groupadd": "contacts"
                  }
                },
                "multiple_settings": {
                  "summary": "Alterar múltiplas configurações",
                  "value": {
                    "groupadd": "contacts",
                    "last": "none",
                    "status": "contacts",
                    "profile": "contacts"
                  }
                },
                "privacy_strict": {
                  "summary": "Configuração mais restritiva",
                  "value": {
                    "groupadd": "none",
                    "last": "none",
                    "status": "contacts",
                    "profile": "contacts",
                    "readreceipts": "none"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuração de privacidade alterada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "groupadd": {
                      "type": "string",
                      "enum": [
                        "all",
                        "contacts",
                        "contact_blacklist",
                        "none"
                      ],
                      "description": "Quem pode adicionar aos grupos. Valores - all, contacts, contact_blacklist, none"
                    },
                    "last": {
                      "type": "string",
                      "enum": [
                        "all",
                        "contacts",
                        "contact_blacklist",
                        "none"
                      ],
                      "description": "Quem pode ver visto por último. Valores - all, contacts, contact_blacklist, none"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "all",
                        "contacts",
                        "contact_blacklist",
                        "none"
                      ],
                      "description": "Quem pode ver status (recado embaixo do nome). Valores - all, contacts, contact_blacklist, none"
                    },
                    "profile": {
                      "type": "string",
                      "enum": [
                        "all",
                        "contacts",
                        "contact_blacklist",
                        "none"
                      ],
                      "description": "Quem pode ver foto de perfil. Valores - all, contacts, contact_blacklist, none"
                    },
                    "readreceipts": {
                      "type": "string",
                      "enum": [
                        "all",
                        "none"
                      ],
                      "description": "Confirmação de leitura. Valores - all, none"
                    },
                    "online": {
                      "type": "string",
                      "enum": [
                        "all",
                        "match_last_seen"
                      ],
                      "description": "Quem pode ver status online. Valores - all, match_last_seen"
                    },
                    "calladd": {
                      "type": "string",
                      "enum": [
                        "all",
                        "known"
                      ],
                      "description": "Quem pode fazer chamadas. Valores - all, known"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Configurações atualizadas após alteração",
                    "value": {
                      "groupadd": "contacts",
                      "last": "contacts",
                      "status": "contacts",
                      "profile": "contacts",
                      "readreceipts": "all",
                      "online": "all",
                      "calladd": "all"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Dados de entrada inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "no_valid_settings": {
                    "summary": "Nenhuma configuração válida encontrada",
                    "value": {
                      "error": "No valid privacy settings found. Use format: {\"groupadd\": \"contacts\", \"last\": \"none\"}"
                    }
                  },
                  "invalid_value_type": {
                    "summary": "Valor deve ser string",
                    "value": {
                      "error": "Value for groupadd must be a non-empty string"
                    }
                  },
                  "invalid_privacy_type": {
                    "summary": "Tipo de privacidade inválido",
                    "value": {
                      "error": "invalid privacy type: invalidtype. Valid types: groupadd, last, status, profile, readreceipts, online, calladd"
                    }
                  },
                  "invalid_privacy_value": {
                    "summary": "Valor de privacidade inválido",
                    "value": {
                      "error": "invalid privacy value: invalidvalue. Valid values: all, contacts, contact_blacklist, none, match_last_seen, known"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token de autenticação inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "client not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "no_session": {
                    "summary": "Sem sessão ativa",
                    "value": {
                      "error": "No session"
                    }
                  },
                  "whatsapp_error": {
                    "summary": "Erro do WhatsApp",
                    "value": {
                      "error": "Failed to set privacy setting: context deadline exceeded"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instance/presence": {
      "post": {
        "operationId": "updateInstancePresence",
        "tags": [
          "Instancia"
        ],
        "summary": "Atualizar status de presença da instância",
        "description": "Atualiza o status de presença global da instância do WhatsApp. Este endpoint permite:\n1. Definir se a instância está disponível (Aparece \"online\") ou indisponível\n2. Controlar o status de presença para todos os contatos\n3. Salvar o estado atual da presença na instância\n\nTipos de presença suportados:\n- available: Marca a instância como disponível/online\n- unavailable: Marca a instância como indisponível/offline\n\n**Atenção**:\n- O status de presença pode ser temporariamente alterado para \"available\" (online) em algumas situações internas da API, e com isso o visto por último também pode ser atualizado.\n- Caso isso for um problema, considere alterar suas configurações de privacidade no WhatsApp para não mostrar o visto por último e/ou quem pode ver seu status \"online\".\n\n**⚠️ Importante - Limitação do Presence \"unavailable\"**:\n- **Quando a API é o único dispositivo ativo**: Confirmações de entrega/leitura (ticks cinzas/azuis) não são enviadas nem recebidas\n- **Impacto**: Eventos `message_update` com status de entrega podem não ser recebidos\n- **Solução**: Se precisar das confirmações, mantenha WhatsApp Web ou aplicativo móvel ativo ou use presence \"available\" \n\nExemplo de requisição:\n```json\n{\n  \"presence\": \"available\"\n}\n```\n\nExemplo de resposta:\n```json\n{\n  \"response\": \"Presence updated successfully\"\n}\n```\n\nErros comuns:\n- 401: Token inválido ou expirado\n- 400: Valor de presença inválido\n- 500: Erro ao atualizar presença\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "presence": {
                    "type": "string",
                    "description": "Status de presença da instância",
                    "enum": [
                      "available",
                      "unavailable"
                    ],
                    "example": "available"
                  }
                },
                "required": [
                  "presence"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presença atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "description": "Mensagem de confirmação",
                      "example": "Presence updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Descrição do erro",
                      "examples": [
                        "Invalid payload",
                        "Invalid presence value, use available or unavailable"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token inválido ou expirado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Descrição do erro de autenticação",
                      "example": "client not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Descrição do erro interno",
                      "example": "No session"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send/text": {
      "post": {
        "operationId": "sendText",
        "tags": [
          "Enviar Mensagem"
        ],
        "summary": "Enviar mensagem de texto",
        "description": "Envia uma mensagem de texto para um contato ou grupo.\n\n## Recursos Específicos\n\n- **Preview de links** com suporte a personalização automática ou customizada\n- **Formatação básica** do texto\n- **Substituição automática de placeholders** dinâmicos\n\n## Campos Comuns\n\nEste endpoint suporta todos os **campos opcionais comuns** documentados na tag **\"Enviar Mensagem\"**, incluindo:\n`delay`, `readchat`, `readmessages`, `replyid`, `mentions`, `forward`, `track_source`, `track_id`, placeholders e envio para grupos.\n\n## Preview de Links\n\n### Preview Automático\n```json\n{\n  \"number\": \"5511999999999\",\n  \"text\": \"Confira: https://exemplo.com\",\n  \"linkPreview\": true\n}\n```\n\n### Preview Personalizado\n```json\n{\n  \"number\": \"5511999999999\",\n  \"text\": \"Confira nosso site! https://exemplo.com\",\n  \"linkPreview\": true,\n  \"linkPreviewTitle\": \"Título Personalizado\",\n  \"linkPreviewDescription\": \"Uma descrição personalizada do link\",\n  \"linkPreviewImage\": \"https://exemplo.com/imagem.jpg\",\n  \"linkPreviewLarge\": true\n}\n```\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "ID do chat para o qual a mensagem será enviada. Pode ser um número de telefone em formato internacional, um ID de grupo (`@g.us`), um ID de usuário (com `@s.whatsapp.net` ou `@lid`).",
                    "example": "5511999999999"
                  },
                  "text": {
                    "type": "string",
                    "description": "Texto da mensagem (aceita placeholders)",
                    "example": "Olá {{name}}! Como posso ajudar?"
                  },
                  "linkPreview": {
                    "type": "boolean",
                    "description": "Ativa/desativa preview de links. Se true, procura automaticamente um link no texto para gerar preview.\n\nComportamento:\n- Se apenas linkPreview=true: gera preview automático do primeiro link encontrado no texto\n- Se fornecidos campos personalizados (title, description, image): usa os valores fornecidos\n- Se campos personalizados parciais: combina com dados automáticos do link como fallback\n",
                    "example": true
                  },
                  "linkPreviewTitle": {
                    "type": "string",
                    "description": "Define um título personalizado para o preview do link",
                    "example": "Título Personalizado"
                  },
                  "linkPreviewDescription": {
                    "type": "string",
                    "description": "Define uma descrição personalizada para o preview do link",
                    "example": "Descrição personalizada do link"
                  },
                  "linkPreviewImage": {
                    "type": "string",
                    "description": "URL ou Base64 da imagem para usar no preview do link",
                    "example": "https://exemplo.com/imagem.jpg"
                  },
                  "linkPreviewLarge": {
                    "type": "boolean",
                    "description": "Se true, gera um preview grande com upload da imagem. Se false, gera um preview pequeno sem upload",
                    "example": true
                  },
                  "replyid": {
                    "type": "string",
                    "description": "ID da mensagem para responder",
                    "example": "3EB0538DA65A59F6D8A251"
                  },
                  "mentions": {
                    "type": "string",
                    "description": "Números para mencionar (separados por vírgula)",
                    "example": "5511999999999,5511888888888"
                  },
                  "readchat": {
                    "type": "boolean",
                    "description": "Marca conversa como lida após envio",
                    "example": true
                  },
                  "readmessages": {
                    "type": "boolean",
                    "description": "Marca últimas mensagens recebidas como lidas",
                    "example": true
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso em milissegundos antes do envio, durante o atraso apacerá 'Digitando...'",
                    "example": 1000
                  },
                  "forward": {
                    "type": "boolean",
                    "description": "Marca a mensagem como encaminhada no WhatsApp",
                    "example": true
                  },
                  "track_source": {
                    "type": "string",
                    "description": "Origem do rastreamento da mensagem",
                    "example": "chatwoot"
                  },
                  "track_id": {
                    "type": "string",
                    "description": "ID para rastreamento da mensagem (aceita valores duplicados)",
                    "example": "msg_123456789"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Se true, envia a mensagem de forma assíncrona via fila interna. Útil para alto volume de mensagens.",
                    "example": false
                  }
                },
                "required": [
                  "number",
                  "text"
                ]
              },
              "examples": {
                "basic": {
                  "summary": "Mensagem básica",
                  "description": "Exemplo mais simples possível",
                  "value": {
                    "number": "5511999999999",
                    "text": "Olá! Como posso ajudar?"
                  }
                },
                "withLinkPreview": {
                  "summary": "Com preview automático",
                  "description": "Preview automático de link no texto",
                  "value": {
                    "number": "5511999999999",
                    "text": "Confira: https://exemplo.com",
                    "linkPreview": true
                  }
                },
                "customLinkPreview": {
                  "summary": "Preview personalizado",
                  "description": "Preview com título, descrição e imagem customizados",
                  "value": {
                    "number": "5511999999999",
                    "text": "Confira nosso site! https://exemplo.com",
                    "linkPreview": true,
                    "linkPreviewTitle": "Título Personalizado",
                    "linkPreviewDescription": "Uma descrição personalizada do link",
                    "linkPreviewImage": "https://exemplo.com/imagem.jpg",
                    "linkPreviewLarge": true
                  }
                },
                "withPlaceholders": {
                  "summary": "Com placeholders",
                  "description": "Texto com variáveis dinâmicas",
                  "value": {
                    "number": "5511999999999",
                    "text": "Olá {{name}}! Sua empresa {{company}} está cadastrada."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "success"
                            },
                            "message": {
                              "type": "string",
                              "example": "Message sent successfully"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Missing number or text"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to send message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send/media": {
      "post": {
        "operationId": "sendMedia",
        "tags": [
          "Enviar Mensagem"
        ],
        "summary": "Enviar mídia (imagem, vídeo, áudio ou documento)",
        "description": "Envia diferentes tipos de mídia para um contato ou grupo. Suporta URLs ou arquivos base64.\n\n## Tipos de Mídia Suportados\n- **`image`**: Imagens (JPG preferencialmente)\n- **`video`**: Vídeos (apenas MP4)\n- **`document`**: Documentos (PDF, DOCX, XLSX, etc)\n- **`audio`**: Áudio comum (MP3 ou OGG)\n- **`myaudio`**: Mensagem de voz (alternativa ao PTT)\n- **`ptt`**: Mensagem de voz (Push-to-Talk)\n- **`ptv`**: Mensagem de vídeo (Push-to-Video)\n- **`sticker`**: Figurinha/Sticker\n\n## Recursos Específicos\n- **Upload por URL ou base64**\n- **Caption/legenda** opcional com suporte a placeholders\n- **Nome personalizado** para documentos (`docName`)\n- **Geração automática de thumbnails**\n- **Compressão otimizada** conforme o tipo\n\n## Campos Comuns\n\nEste endpoint suporta todos os **campos opcionais comuns** documentados na tag **\"Enviar Mensagem\"**, incluindo:\n`delay`, `readchat`, `readmessages`, `replyid`, `mentions`, `forward`, `track_source`, `track_id`, placeholders e envio para grupos.\n\n## Exemplos Básicos\n\n### Imagem Simples\n```json\n{\n  \"number\": \"5511999999999\",\n  \"type\": \"image\",\n  \"file\": \"https://exemplo.com/foto.jpg\"\n}\n```\n\n### Documento com Nome\n```json\n{\n  \"number\": \"5511999999999\",\n  \"type\": \"document\",\n  \"file\": \"https://exemplo.com/contrato.pdf\",\n  \"docName\": \"Contrato.pdf\",\n  \"text\": \"Segue o documento solicitado\"\n}\n```\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "ID do chat para o qual a mensagem será enviada. Pode ser um número de telefone em formato internacional, um ID de grupo (`@g.us`), um ID de usuário (com `@s.whatsapp.net` ou `@lid`).",
                    "example": "5511999999999"
                  },
                  "type": {
                    "type": "string",
                    "description": "Tipo de mídia (image, video, document, audio, myaudio, ptt, ptv, sticker)",
                    "enum": [
                      "image",
                      "video",
                      "document",
                      "audio",
                      "myaudio",
                      "ptt",
                      "ptv",
                      "sticker"
                    ],
                    "example": "image"
                  },
                  "file": {
                    "type": "string",
                    "description": "URL ou base64 do arquivo",
                    "example": "https://exemplo.com/imagem.jpg"
                  },
                  "text": {
                    "type": "string",
                    "description": "Texto descritivo (caption) - aceita placeholders",
                    "example": "Veja esta foto!"
                  },
                  "docName": {
                    "type": "string",
                    "description": "Nome do arquivo (apenas para documents)",
                    "example": "relatorio.pdf"
                  },
                  "thumbnail": {
                    "type": "string",
                    "description": "URL ou base64 de thumbnail personalizado para vídeos e documentos",
                    "example": "https://exemplo.com/thumb.jpg"
                  },
                  "mimetype": {
                    "type": "string",
                    "description": "MIME type do arquivo (opcional, detectado automaticamente)",
                    "example": "application/pdf"
                  },
                  "replyid": {
                    "type": "string",
                    "description": "ID da mensagem para responder",
                    "example": "3EB0538DA65A59F6D8A251"
                  },
                  "mentions": {
                    "type": "string",
                    "description": "Números para mencionar (separados por vírgula)",
                    "example": "5511999999999,5511888888888"
                  },
                  "readchat": {
                    "type": "boolean",
                    "description": "Marca conversa como lida após envio",
                    "example": true
                  },
                  "readmessages": {
                    "type": "boolean",
                    "description": "Marca últimas mensagens recebidas como lidas",
                    "example": true
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso em milissegundos antes do envio, durante o atraso apacerá 'Digitando...' ou 'Gravando áudio...'",
                    "example": 1000
                  },
                  "forward": {
                    "type": "boolean",
                    "description": "Marca a mensagem como encaminhada no WhatsApp",
                    "example": true
                  },
                  "track_source": {
                    "type": "string",
                    "description": "Origem do rastreamento da mensagem",
                    "example": "chatwoot"
                  },
                  "track_id": {
                    "type": "string",
                    "description": "ID para rastreamento da mensagem (aceita valores duplicados)",
                    "example": "msg_123456789"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Se true, envia a mensagem de forma assíncrona via fila interna",
                    "example": false
                  }
                },
                "required": [
                  "number",
                  "type",
                  "file"
                ]
              },
              "examples": {
                "image": {
                  "summary": "Imagem",
                  "description": "Envio de imagem simples",
                  "value": {
                    "number": "5511999999999",
                    "type": "image",
                    "file": "https://exemplo.com/foto.jpg"
                  }
                },
                "imageWithCaption": {
                  "summary": "Imagem com legenda",
                  "description": "Imagem com texto descritivo",
                  "value": {
                    "number": "5511999999999",
                    "type": "image",
                    "file": "https://exemplo.com/foto.jpg",
                    "text": "Veja esta foto!"
                  }
                },
                "document": {
                  "summary": "Documento",
                  "description": "Documento PDF com nome personalizado",
                  "value": {
                    "number": "5511999999999",
                    "type": "document",
                    "file": "https://exemplo.com/contrato.pdf",
                    "docName": "Contrato.pdf",
                    "text": "Segue o documento solicitado"
                  }
                },
                "audio": {
                  "summary": "Mensagem de voz",
                  "description": "Arquivo de áudio como mensagem de voz",
                  "value": {
                    "number": "5511999999999",
                    "type": "ptt",
                    "file": "https://exemplo.com/audio.ogg"
                  }
                },
                "video": {
                  "summary": "Vídeo",
                  "description": "Arquivo de vídeo com legenda",
                  "value": {
                    "number": "5511999999999",
                    "type": "video",
                    "file": "https://exemplo.com/video.mp4",
                    "text": "Confira este vídeo!"
                  }
                },
                "ptv": {
                  "summary": "Mensagem de vídeo",
                  "description": "Arquivo de vídeo como mensagem de vídeo",
                  "value": {
                    "number": "5511999999999",
                    "type": "ptv",
                    "file": "https://exemplo.com/video.mp4"
                  }
                },
                "sticker": {
                  "summary": "Figurinha",
                  "description": "Envio de figurinha/sticker",
                  "value": {
                    "number": "5511999999999",
                    "type": "sticker",
                    "file": "https://exemplo.com/sticker.webp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mídia enviada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "success"
                            },
                            "message": {
                              "type": "string",
                              "example": "Media sent successfully"
                            },
                            "fileUrl": {
                              "type": "string",
                              "example": "https://mmg.whatsapp.net/..."
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid media type or file format"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Arquivo muito grande",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "File size exceeds limit"
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "Formato de mídia não suportado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unsupported media format"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to upload media"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send/contact": {
      "post": {
        "operationId": "sendContact",
        "tags": [
          "Enviar Mensagem"
        ],
        "summary": "Enviar cartão de contato (vCard)",
        "description": "Envia um cartão de contato (vCard) para um contato ou grupo.\n\n## Recursos Específicos\n\n- **vCard completo** com nome, telefones, organização, email e URL\n- **Múltiplos números de telefone** (separados por vírgula)\n- **Cartão clicável** no WhatsApp para salvar na agenda\n- **Informações profissionais** (organização/empresa)\n\n## Campos Comuns\n\nEste endpoint suporta todos os **campos opcionais comuns** documentados na tag **\"Enviar Mensagem\"**, incluindo:\n`delay`, `readchat`, `readmessages`, `replyid`, `mentions`, `forward`, `track_source`, `track_id`, placeholders e envio para grupos.\n\n## Exemplo Básico\n```json\n{\n  \"number\": \"5511999999999\",\n  \"fullName\": \"João Silva\",\n  \"phoneNumber\": \"5511999999999,5511888888888\",\n  \"organization\": \"Empresa XYZ\",\n  \"email\": \"joao.silva@empresa.com\",\n  \"url\": \"https://empresa.com/joao\"\n}\n```\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "ID do chat para o qual a mensagem será enviada. Pode ser um número de telefone em formato internacional, um ID de grupo (`@g.us`), um ID de usuário (com `@s.whatsapp.net` ou `@lid`).",
                    "example": "5511999999999"
                  },
                  "fullName": {
                    "type": "string",
                    "description": "Nome completo do contato",
                    "example": "João Silva"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Números de telefone (separados por vírgula)",
                    "example": "5511999999999,5511888888888"
                  },
                  "organization": {
                    "type": "string",
                    "description": "Nome da organização/empresa",
                    "example": "Empresa XYZ"
                  },
                  "email": {
                    "type": "string",
                    "description": "Endereço de email",
                    "example": "joao@empresa.com"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL pessoal ou da empresa",
                    "example": "https://empresa.com/joao"
                  },
                  "replyid": {
                    "type": "string",
                    "description": "ID da mensagem para responder",
                    "example": "3EB0538DA65A59F6D8A251"
                  },
                  "mentions": {
                    "type": "string",
                    "description": "Números para mencionar (separados por vírgula)",
                    "example": "5511999999999,5511888888888"
                  },
                  "readchat": {
                    "type": "boolean",
                    "description": "Marca conversa como lida após envio",
                    "example": true
                  },
                  "readmessages": {
                    "type": "boolean",
                    "description": "Marca últimas mensagens recebidas como lidas",
                    "example": true
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso em milissegundos antes do envio, durante o atraso apacerá 'Digitando...'",
                    "example": 1000
                  },
                  "forward": {
                    "type": "boolean",
                    "description": "Marca a mensagem como encaminhada no WhatsApp",
                    "example": true
                  },
                  "track_source": {
                    "type": "string",
                    "description": "Origem do rastreamento da mensagem",
                    "example": "chatwoot"
                  },
                  "track_id": {
                    "type": "string",
                    "description": "ID para rastreamento da mensagem (aceita valores duplicados)",
                    "example": "msg_123456789"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Se true, envia a mensagem de forma assíncrona via fila interna",
                    "example": false
                  }
                },
                "required": [
                  "number",
                  "fullName",
                  "phoneNumber"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cartão de contato enviado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "success"
                            },
                            "message": {
                              "type": "string",
                              "example": "Contact card sent successfully"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Missing required fields"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to send contact card"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send/location": {
      "post": {
        "operationId": "sendLocation",
        "tags": [
          "Enviar Mensagem"
        ],
        "summary": "Enviar localização geográfica",
        "description": "Envia uma localização geográfica para um contato ou grupo.\n\n## Recursos Específicos\n\n- **Coordenadas precisas** (latitude e longitude obrigatórias)\n- **Nome do local** para identificação\n- **Endereço completo** para exibição detalhada\n- **Mapa interativo** no WhatsApp para navegação\n- **Pin personalizado** com nome do local\n\n## Campos Comuns\n\nEste endpoint suporta todos os **campos opcionais comuns** documentados na tag **\"Enviar Mensagem\"**, incluindo:\n`delay`, `readchat`, `readmessages`, `replyid`, `mentions`, `forward`, `track_source`, `track_id`, placeholders e envio para grupos.\n\n## Exemplo Básico\n```json\n{\n  \"number\": \"5511999999999\",\n  \"name\": \"Maracanã\",\n  \"address\": \"Av. Pres. Castelo Branco - Maracanã, Rio de Janeiro - RJ\",\n  \"latitude\": -22.912982815767986,\n  \"longitude\": -43.23028153499254\n}\n```\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "ID do chat para o qual a mensagem será enviada. Pode ser um número de telefone em formato internacional, um ID de grupo (`@g.us`), um ID de usuário (com `@s.whatsapp.net` ou `@lid`).",
                    "example": "5511999999999"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do local",
                    "example": "MASP"
                  },
                  "address": {
                    "type": "string",
                    "description": "Endereço do local",
                    "example": "Av. Paulista, 1578 - Bela Vista, São Paulo - SP"
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude (-90 a 90)",
                    "example": -23.5616
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude (-180 a 180)",
                    "example": -46.6562
                  },
                  "replyid": {
                    "type": "string",
                    "description": "ID da mensagem para responder",
                    "example": "3EB0538DA65A59F6D8A251"
                  },
                  "mentions": {
                    "type": "string",
                    "description": "Números para mencionar (separados por vírgula)",
                    "example": "5511999999999,5511888888888"
                  },
                  "readchat": {
                    "type": "boolean",
                    "description": "Marca conversa como lida após envio",
                    "example": true
                  },
                  "readmessages": {
                    "type": "boolean",
                    "description": "Marca últimas mensagens recebidas como lidas",
                    "example": true
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Atraso em milissegundos antes do envio, durante o atraso apacerá 'Digitando...'",
                    "example": 1000
                  },
                  "forward": {
                    "type": "boolean",
                    "description": "Marca a mensagem como encaminhada no WhatsApp",
                    "example": true
                  },
                  "track_source": {
                    "type": "string",
                    "description": "Origem do rastreamento da mensagem",
                    "example": "chatwoot"
                  },
                  "track_id": {
                    "type": "string",
                    "description": "ID para rastreamento da mensagem (aceita valores duplicados)",
                    "example": "msg_123456789"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Se true, envia a mensagem de forma assíncrona via fila interna",
                    "example": false
                  }
                },
                "required": [
                  "number",
                  "latitude",
                  "longitude"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Localização enviada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "success"
                            },
                            "message": {
                              "type": "string",
                              "example": "Location sent successfully"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid coordinates or missing number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid token"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Limite de requisições excedido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Failed to send location"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/message/presence": {
      "post": {
        "operationId": "sendPresence",
        "tags": [
          "Enviar Mensagem"
        ],
        "summary": "Enviar atualização de presença",
        "description": "Envia uma atualização de presença para um contato ou grupo de forma **assíncrona**.\n\n## 🔄 Comportamento Assíncrono:\n- **Execução independente**: A presença é gerenciada em background, não bloqueia o retorno da API\n- **Limite máximo**: 5 minutos de duração (300 segundos)\n- **Tick de atualização**: Reenvia a presença a cada 10 segundos\n- **Cancelamento automático**: Presença é cancelada automaticamente ao enviar uma mensagem para o mesmo chat\n\n## 📱 Tipos de presença suportados:\n- **composing**: Indica que você está digitando uma mensagem\n- **recording**: Indica que você está gravando um áudio\n- **paused**: Remove/cancela a indicação de presença atual\n\n## ⏱️ Controle de duração:\n- **Sem delay**: Usa limite padrão de 5 minutos\n- **Com delay**: Usa o valor especificado (máximo 5 minutos)\n- **Cancelamento**: Envio de mensagem cancela presença automaticamente\n\n## 📋 Exemplos de uso:\n\n### Digitar por 30 segundos:\n```json\n{\n  \"number\": \"5511999999999\",\n  \"presence\": \"composing\",\n  \"delay\": 30000\n}\n```\n\n### Gravar áudio por 1 minuto:\n```json\n{\n  \"number\": \"5511999999999\",\n  \"presence\": \"recording\",\n  \"delay\": 60000\n}\n```\n\n### Cancelar presença atual:\n```json\n{\n  \"number\": \"5511999999999\",\n  \"presence\": \"paused\"\n}\n```\n\n### Usar limite máximo (5 minutos):\n```json\n{\n  \"number\": \"5511999999999\",\n  \"presence\": \"composing\"\n}\n```\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número do destinatário no formato internacional (ex: 5511999999999)",
                    "example": "5511999999999"
                  },
                  "presence": {
                    "type": "string",
                    "description": "Tipo de presença a ser enviada",
                    "enum": [
                      "composing",
                      "recording",
                      "paused"
                    ],
                    "example": "composing"
                  },
                  "delay": {
                    "type": "integer",
                    "description": "Duração em milissegundos que a presença ficará ativa (máximo 5 minutos = 300000ms).\nSe não informado ou valor maior que 5 minutos, usa o limite padrão de 5 minutos.\nA presença é reenviada a cada 10 segundos durante este período.\n",
                    "maximum": 300000,
                    "example": 30000
                  }
                },
                "required": [
                  "number",
                  "presence"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presença atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "description": "Mensagem de confirmação",
                      "example": "Chat presence sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Descrição do erro",
                      "example": "Número inválido ou tipo de presença inválido"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token inválido ou expirado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Descrição do erro de autenticação",
                      "example": "Token inválido ou expirado"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Descrição do erro interno",
                      "example": "Erro ao enviar presença"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send/status": {
      "post": {
        "operationId": "sendStatus",
        "tags": [
          "Enviar Mensagem"
        ],
        "summary": "Enviar Stories (Status)",
[...]
