{
  "openapi": "3.1.0",
  "info": {
    "title": "PERM Tracker API",
    "version": "1.0.0",
    "description": "Federal PERM, prevailing wage, H-1B and visa bulletin records, as JSON. Free plan: 10 calls a minute, 300 a day, 3,000 a month. Terms: https://permtracker.app/api-terms",
    "termsOfService": "https://permtracker.app/api-terms",
    "contact": {
      "email": "support@permtracker.app",
      "url": "https://permtracker.app/developers"
    },
    "x-jentic-source-url": "https://permtracker.app/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://permtracker.app/v1"
    }
  ],
  "paths": {
    "/cases/{caseNumber}": {
      "get": {
        "summary": "One case by number: its status, filing date, employer and, once decided, DOL's record. Covers PERM, prevailing wage, H-1B LCA and H-2A, H-2B and CW-1 (applications, job orders and wage requests); a seasonal case adds its workers, work period and worksite, and the job as DOL accepted it.",
        "parameters": [
          {
            "name": "caseNumber",
            "in": "path",
            "required": true,
            "description": "As DOL prints it, e.g. G-100-26045-123456 or P-100-26045-123456.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "live",
            "in": "query",
            "required": false,
            "description": "1 to ask DOL now when our records don't hold the number yet. Needs the live_lookup scope; Plus has 200 a day, and every account together 20,000.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/estimate": {
      "get": {
        "summary": "When a pending PERM case is likely to be decided, with the range, the model and its caveats. An estimate, not a promise.",
        "parameters": [
          {
            "name": "case",
            "in": "query",
            "required": false,
            "description": "A PERM case number. Its own status and filing date are used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filed",
            "in": "query",
            "required": false,
            "description": "A filing date, YYYY-MM-DD, for a case in analyst review.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/queue": {
      "get": {
        "summary": "DOL's processing times (the month each queue is working on, average days) and the pending PERM cases by filing month.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/visa-bulletin": {
      "get": {
        "summary": "A visa bulletin's employment and family charts, as printed. The newest by default.",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": false,
            "description": "YYYY-MM, back to 2005-06.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employers": {
      "get": {
        "summary": "Search employers by name. Each result carries its PERM record and its page's name for /employers/{slug}.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "2 to 120 characters of the name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results to return, 1 to 100. Default 25.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employers/{slug}": {
      "get": {
        "summary": "One employer's PERM record: cases, certified and denied, median days to decision, filings in the last 12 months, and how many of its cases are pending at DOL now, by stage.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The name in its page's address, as search returns it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/law-firms": {
      "get": {
        "summary": "Search law firms by name.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "2 to 120 characters of the name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results to return, 1 to 100. Default 25.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/law-firms/{slug}": {
      "get": {
        "summary": "One law firm's PERM record, and how many of its cases are pending at DOL now, by stage.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The name in its page's address, as search returns it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/occupations": {
      "get": {
        "summary": "Search occupations by title.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "2 to 120 characters of the title.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results to return, 1 to 100. Default 25.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/occupations/{slug}": {
      "get": {
        "summary": "One occupation's PERM record, with its SOC code and median offered wage.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The name in its page's address, as search returns it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lookup/employer": {
      "get": {
        "summary": "The employer page a printed name belongs to (an exact match, a possible one with the matched name, or none), with its PERM decisions, certified share, pending cases, newest filing and H-1B LCAs. No key: it's what the browser extension calls, under shared limits of 60 calls a minute per address.",
        "security": [],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "The employer's name as a job posting prints it, 2 to 120 characters.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exports/{kind}": {
      "get": {
        "summary": "A search's whole answer, past one page, as CSV (format=csv) or JSON: cases (the case search's parameters, such as q, firm, state, occupation, from, to, outcome), employers, law-firms or occupations (q). Needs the export scope; Plus exports up to 1,000 rows. Counted as one call.",
        "description": "Needs a key with the export scope.",
        "parameters": [
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "description": "cases, employers, law-firms or occupations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "The name to search (an employer for cases).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "json (the default) or csv.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows to return, up to the plan's export cap.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, or the plan lacks the feature. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "This account's webhook endpoints (url, events, whether paused, the secret's last four characters) and watches. Needs the webhooks scope.",
        "description": "Needs a key with the webhooks scope.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, or the plan lacks the feature. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add an endpoint: an https address and the events it wants. The answer carries the signing secret, the only time it's shown. Plus has 5 endpoints.",
        "description": "Needs a key with the webhooks scope.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "description": "url (public https) and events, any of: case.status_changed, employer.moved, bulletin.published, queue.moved, processing_times.updated.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "url": "https://example.com/hooks/perm",
                "events": [
                  "case.status_changed",
                  "bulletin.published"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, or the plan lacks the feature. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}": {
      "delete": {
        "summary": "Delete an endpoint and its delivery log.",
        "description": "Needs a key with the webhooks scope.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The endpoint's id, from GET /webhooks.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, or the plan lacks the feature. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/watches": {
      "get": {
        "summary": "The case numbers and employers this account's webhooks watch, with its endpoints. Needs the webhooks scope.",
        "description": "Needs a key with the webhooks scope.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope, or the plan lacks the feature. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such record. Counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "A minute, day or month limit. Retry-After says when it lifts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Watch a case number (case.status_changed when DOL's status for it changes) or an employer's page (employer.moved when DOL moves its cases as a group). Plus watches 100.",
        "description": "Needs a key with the webhooks scope.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "description": "One of caseNumber (as DOL prints it) or employer (its page's slug, from /employers).",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "caseNumber": "G-100-26045-123456"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer, with `meta.source`, `meta.asOf` and `meta.url` naming where it came from.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request isn't valid. Not counted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No key, or a key we don't recognise.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "retryAfter": {
                          "type": "integer"
                        },
                        "url": {
                          "type": "string"
                        },
                        "docs": {
                          "type": "string"
                        }
                      },
                      "required": [
[...]
