{
  "openapi": "3.1.0",
  "info": {
    "title": "Browser Use Public API v4",
    "summary": "Browser Use agent runs API (v4)",
    "version": "4.0.0",
    "x-jentic-source-url": "https://docs.browser-use.com/cloud/openapi/v4.json"
  },
  "servers": [
    {
      "url": "https://api.browser-use.com/api/v4",
      "description": "Production server"
    }
  ],
  "paths": {
    "/runs": {
      "post": {
        "tags": [
          "Runs"
        ],
        "summary": "Create Run",
        "operationId": "create_run_runs_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (bad session/workspace pairing or file path)."
          },
          "402": {
            "description": "The project has no credits available, or the authenticating API key has reached its recorded monthly total-spend soft stop.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeySpendLimitError"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "409": {
            "description": "The session already has an active run."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "The project is at its concurrent-session limit."
          }
        }
      },
      "get": {
        "tags": [
          "Runs"
        ],
        "summary": "List Runs",
        "operationId": "list_runs_runs_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Keyset cursor from a prior response.",
              "title": "Cursor"
            },
            "description": "Keyset cursor from a prior response."
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sessionid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed pagination cursor."
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/attachments": {
      "get": {
        "tags": [
          "Runs"
        ],
        "summary": "List Run Attachments",
        "description": "The upload files attached to a run, for rendering attachment chips.\nOrdered to match the run's attached_file_ids.",
        "operationId": "list_run_attachments_runs__run_id__attachments_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunAttachmentsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}": {
      "get": {
        "tags": [
          "Runs"
        ],
        "summary": "Get Run",
        "operationId": "get_run_runs__run_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunSummary"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/status": {
      "get": {
        "tags": [
          "Runs"
        ],
        "summary": "Get Run Status",
        "description": "Minimal status poll (see RunStatusResponse). POLL rate bucket: selects\nONLY the status/project columns — a 2s poll never drags the task/result\ntext (TOAST reads) that GET /runs/{id} pays. Poll until terminal, then\nfetch the full summary once.",
        "operationId": "get_run_status_runs__run_id__status_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunStatusResponse"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}/cancel": {
      "post": {
        "tags": [
          "Runs"
        ],
        "summary": "Cancel Run",
        "description": "Cancel an in-flight run.\n\nIdempotent: a run already in a terminal state (completed / failed /\ncancelled) is returned as-is. Once cancelled, the gateway refuses\nevery subsequent `chat_completions` call from the worker — so the\nproject cannot be billed further regardless of whether the worker\nsubprocess notices the cancel itself.\n\nThe worker keeps running for at most one more bcode step\n(consuming no LLM tokens because CP 409s them) and then exits when\nbcode realizes the next tool call has no model behind it.",
        "operationId": "cancel_run_runs__run_id__cancel_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunSummary"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "502": {
            "description": "The request could not be forwarded to the control plane."
          },
          "503": {
            "description": "The run is finishing; retry the cancel after Retry-After seconds."
          }
        }
      }
    },
    "/runs/{run_id}/events": {
      "get": {
        "tags": [
          "Runs"
        ],
        "summary": "Get Run Events",
        "description": "Paginated event read. `after` is the event id cursor — clients\ndoing periodic polls pass back the highest id they've seen to get only\nthe delta. Default 0 returns from the start.",
        "operationId": "get_run_events_runs__run_id__events_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Run Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200,
              "title": "Limit"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "After"
            }
          },
          {
            "name": "include_output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Include Output"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunEventsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List Sessions",
        "description": "List the project's V4 sessions — one row per session (its most recent\nrun), most-recent first.\n\nA session is a conversation: follow-up runs reuse the same\npublic_session_id, so GET /api/v4/runs would list one row per RUN. This\ncollapses to one row per SESSION directly in Postgres with DISTINCT ON, so a\nchatty session with 100 runs is still a single row (no scan amplification),\nand selects only the slim columns the session list needs — never the heavy\nper-run text/token/cost fields.\n\nKeyset-paginated on the latest run's (created_at, id): pass `next_cursor`\nback as `cursor` to page. Offset/COUNT was dropped — it doesn't scale on\nprojects with many sessions.",
        "operationId": "list_sessions_sessions_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Max sessions per page (max 100).",
              "default": 20,
              "title": "Limit"
            },
            "description": "Max sessions per page (max 100)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Keyset cursor from a prior response.",
              "title": "Cursor"
            },
            "description": "Keyset cursor from a prior response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed pagination cursor."
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{session_id}/purge": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Purge Session",
        "description": "Purge V4 session data; return 202 while active work or uploads defer deletion.\n\nRedacts DB records and deletes S3 objects (bcode state, workspace files,\nrecordings, downloads, staging uploads) for every run in the session. Same\ncleanup the ZDR cron performs, but on-demand; outstanding upload grants defer physical deletion. V4\nanalog of the V2 POST /sessions/{id}/purge. Surfaces shared with a still-live\nsibling run are deferred by the same guards the cron uses.",
        "operationId": "purge_session_sessions__session_id__purge_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Purge pending active work or outstanding uploads."
          },
          "204": {
            "description": "Successful Response"
          },
          "403": {
            "description": "Project is not ZDR-enabled."
          },
          "404": {
            "description": "Session not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{session_id}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session",
        "description": "Session detail — the same slim shape as one GET /sessions row (its\nlatest run). Doubles as the busy/idle poll for a conversation (POLL rate\nbucket): slim columns only, indexed public_session_id lookup, never the\nheavy result/token fields.",
        "operationId": "get_session_sessions__session_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionInfo"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Sessions"
        ],
        "summary": "Update Session",
        "description": "Rename a session.\n\n`session_title` is denormalized onto every run in the session (the session\nlist reads the latest run), so a rename writes them all in one UPDATE. Null\nclears the name and the UI falls back to the opening task — it does NOT\nre-run title generation, which only fills rows where the title IS NULL and\nso would silently overwrite the clear.",
        "operationId": "update_session_sessions__session_id__patch",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionInfo"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Delete Session",
        "description": "Delete a session: it disappears from the session lists and can no longer\nbe opened or continued.\n\nSoft delete (mirrors V2's `is_archived`): the runs, events and usage records\nstay in place so billing and analytics keep reconciling, and ZDR purge is the\nonly thing that ever destroys V4 content. Idempotent — deleting twice is a\nno-op 204.\n\nAn in-flight run is cancelled first, and pending queued messages are\ncancelled too; otherwise the drain would dispatch a follow-up run whose\n`session_archived_at` is NULL and resurrect the session. Cancel is forwarded\nto CP before anything is written (and outside the queue lock, per the\nenqueue path's ordering), so a CP failure (502) leaves the session visible\nrather than hiding a run that is still burning credits.",
        "operationId": "delete_session_sessions__session_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "502": {
            "description": "The request could not be forwarded to the control plane."
          },
          "503": {
            "description": "The run is finishing; retry the cancel after Retry-After seconds."
          }
        }
      }
    },
    "/sessions/{session_id}/cost": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session Cost",
        "description": "Everything this session has cost so far, split by source.\n\nA run's `total_cost_usd` is its LLM (and web-search) charge only. Browser\ntime and proxy bandwidth are metered against the session's browser, which\noutlives any one run — so this is the endpoint for the session's full cost.\n\nThese are recorded usage costs, not an invoice total: promotional waivers\nand credits are applied downstream in billing, so a session run under a\npromotion can report cost here that was never charged.\n\nCosts keep moving after a run reports `finished`: LLM calls settle up to\nabout 90 seconds later, and the browser accrues time and proxy traffic\nuntil it stops.",
        "operationId": "get_session_cost_sessions__session_id__cost_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionCostResponse"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{session_id}/queue": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Queue Session Message",
        "description": "Send a message to a session. If the session is busy it waits on the queue\nand runs as the next turn; if idle it drains immediately.\n\n`interrupt=true` cancels the session's active run so this message takes effect\nnow instead of waiting for the current turn (no-op when the session is idle).",
        "operationId": "queue_session_message_sessions__session_id__queue_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "X-V4-Queue-Deduplicate",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-V4-Queue-Deduplicate"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueueMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedMessage"
                }
              }
            }
          },
          "402": {
            "description": "The project has no credits available, or the authenticating API key has reached its recorded monthly total-spend soft stop.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeySpendLimitError"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "The session message queue is full."
          }
        }
      },
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List Session Queue",
        "description": "List open messages, recently delivered queued messages, and steering cutoffs.\n\nIncludes live dispatch claims so clients can restore an accepted queued\nmessage after a refresh without briefly losing its waiting state.\n\nConsumed QUEUE rows are returned too, capped at the most recent\n_DELIVERED_QUEUE_HISTORY, plus up to _AGENCY_DELIVERED_QUEUE_HISTORY compact\nAgency choice and generation receipts so inbox state survives refresh. A message absorbed mid-run is announced by a\n`queued_input_injected` event carrying only its input id, so the chat has no\nother source for the text to render. The cap bounds this response because\nclients poll it while a run is active; a session with more delivered\nfollow-ups than the cap renders its oldest injected bubbles without text.\n\nThe latest consumed interrupt bridges the primary-write/read-replica gap\nbefore its replacement run appears; clients discard it once that run is\nvisible. Compact per-source cutoffs preserve every historical interrupted\ntranscript boundary without returning every historical steering message and\nits attachments.",
        "operationId": "list_session_queue_sessions__session_id__queue_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueListResponse"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{session_id}/queue/{message_id}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session Queue Message",
        "description": "Read one queued message including terminal handoff states.",
        "operationId": "get_session_queue_message_sessions__session_id__queue__message_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Message Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedMessage"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Cancel Queued Message",
        "description": "Remove a still-pending queued message; 409 once the drain has claimed it.",
        "operationId": "cancel_queued_message_sessions__session_id__queue__message_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Message Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedMessage"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "409": {
            "description": "The message is no longer pending and cannot be cancelled."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{session_id}/share": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Session Share",
        "description": "The session's share link (active or not); null if never shared.",
        "operationId": "get_session_share_sessions__session_id__share_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SessionShareInfo"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "title": "Response Get Session Share Sessions  Session Id  Share Get"
                }
              }
            }
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Create Session Share",
        "description": "Enable sharing: reactivates the session's existing share (stable token,\nso a link that was toggled off keeps working when re-enabled) or creates\none on first use.",
        "operationId": "create_session_share_sessions__session_id__share_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionShareInfo"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Sessions"
        ],
        "summary": "Update Session Share",
        "description": "Toggle the session's share link on/off.",
        "operationId": "update_session_share_sessions__session_id__share_put",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionShareUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionShareInfo"
                }
              }
            }
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Create Workspace",
        "description": "Mint an empty workspace. Lets callers upload input files BEFORE the\nfirst run exists; pass the id as workspaceId on POST /runs.",
        "operationId": "create_workspace_workspaces_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInfo"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/workspaces/{workspace_id}/files/upload": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Upload Workspace Files",
        "description": "Presigned PUT URLs for input files, placed under ``uploads/`` in the\nworkspace. The agent pulls them in at the start of every run. URLs are\npinned to the declared Content-Type and exact Content-Length.",
        "operationId": "upload_workspace_files_workspaces__workspace_id__files_upload_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceFileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceFileUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (bad session/workspace pairing or file path)."
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "409": {
            "description": "One or more files would replace existing workspace files."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get Workspace",
        "operationId": "get_workspace_workspaces__workspace_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInfo"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Update Workspace",
        "description": "Rename a workspace. Explicit null clears the name; omission is a no-op.",
        "operationId": "update_workspace_workspaces__workspace_id__patch",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceInfo"
                }
              }
            }
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Delete Workspace",
        "description": "Archive a workspace. Idempotent for missing, archived, and foreign ids.",
        "operationId": "delete_workspace_workspaces__workspace_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/size": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get Workspace Size",
        "description": "Return current storage usage and the plan-specific workspace quota.",
        "operationId": "get_workspace_size_workspaces__workspace_id__size_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceSizeInfo"
                }
              }
            }
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/files": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List Workspace Files",
        "description": "List files the agent has produced for this workspace, paginated.",
        "operationId": "list_workspace_files_workspaces__workspace_id__files_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "",
              "title": "Prefix"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "includeUrls",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Includeurls"
            }
          },
          {
            "name": "contentDisposition",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "const": "attachment",
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Contentdisposition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceFileListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed pagination cursor."
          },
          "403": {
            "description": "Zero Data Retention is enabled on the project (V4 unsupported)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Delete Workspace File",
        "description": "Delete one exact path from a workspace and remove matching upload metadata.",
        "operationId": "delete_workspace_file_workspaces__workspace_id__files_delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Workspace Id"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Relative file path to delete",
              "title": "Path"
            },
            "description": "Relative file path to delete"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "description": "Invalid request (bad session/workspace pairing or file path)."
          },
          "404": {
            "description": "Run, session, workspace, or profile not found."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/agentcard/wallets": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "List Agentcard Wallets",
        "description": "The project's active AgentCard wallets, newest first.\n\nRead-only: funding is admin-only during the beta. The UI uses this to offer\na wallet on the composer, which is how a run opts into spending — the id\nthen rides RunCreateRequest.agentcard_wallet_id and is validated again there\nagainst this same project.",
        "operationId": "list_agentcard_wallets_agentcard_wallets_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCardWalletListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/stripe-link": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Get Stripe Link Status",
        "description": "The project's active Stripe Link wallet connection, if any.\n\nRead-only: connecting happens in the cloud UI. A run opts into paying with\nit by passing `connection_id` as RunCreateRequest.stripe_link_connection_id,\nwhich is validated again there against this same project.",
        "operationId": "get_stripe_link_status_stripe_link_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeLinkStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/integrations": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List Integrations",
        "description": "List available integrations with this project's connection status.\n\n`is_connected` is resolved per integration, so a client can render the whole\ncatalogue and the connected subset from this one call. `connected_only` is\nwhat a \"my integrations\" view reads — including on a restricted project,\nwhich cannot connect anything but can still remove what it already has.",
        "operationId": "list_integrations_integrations_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum number of results",
              "title": "Limit"
            },
            "description": "Maximum number of results"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of results to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of results to skip"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by name, description or provider",
              "title": "Search"
            },
            "description": "Filter by name, description or provider"
          },
          {
            "name": "popular_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only return popular integrations",
              "default": false,
              "title": "Popular Only"
            },
            "description": "Only return popular integrations"
          },
          {
            "name": "connected_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only return integrations this project has connected",
              "default": false,
              "title": "Connected Only"
            },
            "description": "Only return integrations this project has connected"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/categories": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List Categories",
        "description": "Get all integration categories, for filtering the list above.",
        "operationId": "list_categories_integrations_categories_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationCategoryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/integrations/{provider}/authorize": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Authorize Integration",
        "description": "Get the OAuth redirect URL for connecting an integration.\n\nThe client opens the returned URL in a web auth session and polls\n`/integrations/{provider}/status` once the flow lands back on the callback\npath. The URL is Composio-hosted; no redirect URI is registered per client.",
        "operationId": "authorize_integration_integrations__provider__authorize_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Provider"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/{provider}/status": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Get Connection Status",
        "description": "Check whether this project has connected a specific provider.\n\nPoll this after opening the authorize URL to learn when OAuth completed.",
        "operationId": "get_connection_status_integrations__provider__status_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Provider"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/{provider}": {
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "Disconnect Integration",
        "description": "Disconnect an integration for this project.\n\nDeliberately NOT gated like `authorize` above: a restricted project must\nstill be able to tear down a connection it already has.",
        "operationId": "disconnect_integration_integrations__provider__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Provider"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisconnectResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/extensions": {
      "post": {
        "tags": [
          "Extensions"
        ],
        "summary": "Upload Extension",
        "description": "Upload a Manifest V3 extension as a ZIP file with manifest.json at its root.",
        "operationId": "upload_extension_extensions_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtensionView"
                }
              }
            }
          },
          "403": {
            "description": "Extensions are not available for Zero Data Retention projects"
          },
          "413": {
            "description": "The upload is larger than 100 MiB"
          },
          "422": {
            "description": "The extension is invalid or the project has 100 extensions"
          },
          "503": {
            "description": "The extension could not be stored"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Extensions"
        ],
        "summary": "List Extensions",
        "description": "List the extensions uploaded to this project.",
        "operationId": "list_extensions_extensions_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Pagesize"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Pagenumber"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtensionListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/extensions/{extension_id}": {
      "get": {
        "tags": [
          "Extensions"
        ],
        "summary": "Get Extension",
        "description": "Get an uploaded extension by its ID.",
        "operationId": "get_extension_extensions__extension_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "extension_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Extension Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtensionView"
                }
              }
            }
          },
          "404": {
            "description": "Extension not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Extensions"
        ],
        "summary": "Delete Extension",
        "description": "Permanently delete an extension without affecting running browsers.",
        "operationId": "delete_extension_extensions__extension_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "extension_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Extension Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "Extension not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "503": {
            "description": "The extension could not be deleted"
          }
        }
      }
    },
    "/browsers": {
      "get": {
        "tags": [
          "Browsers"
        ],
        "summary": "List Browser Sessions",
        "description": "Get paginated list of browser sessions with optional status filtering.\n\nList responses intentionally omit per-session presigned recording URLs\n(`recording_url` is always `null` here). Each recording URL requires a\nsynchronous boto3 SigV4 signing call (plus an S3 HEAD) that holds the GIL\nand blocks the event loop. With page_size up to the max this CPU-pegs the\nworker and starves the DB pool, cascading into pool exhaustion across the\nfleet. Clients should fetch the recording URL on demand via\n`GET /api/v2/browsers/{id}`, which signs exactly one URL for a single\nsession. Mirrors the v3 sessions list fix (ENG-4904, PR #4621).",
        "operationId": "list_browser_sessions_browsers_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only browsers tagged with every one of these terms. `key` matches any value; `key=value` matches exactly. Repeat the param to require more than one (AND).",
              "title": "Metadata"
            },
            "description": "Only browsers tagged with every one of these terms. `key` matches any value; `key=value` matches exactly. Repeat the param to require more than one (AND)."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Pagesize"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Pagenumber"
            }
          },
          {
            "name": "filterBy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/BrowserSessionStatus"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filterby"
            }
          },
          {
            "name": "agentSessionId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Agentsessionid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserSessionListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Browsers"
        ],
        "summary": "Create Browser Session",
        "description": "Create a new browser session.\n\n**Pricing:** Browser sessions are charged at $0.02/hour for all users.\n\nThe full rate is charged upfront when the session starts.\nWhen you stop the session, any unused time is automatically refunded proportionally.\n\nBilling is rounded up to the minute (minimum 1 minute).\nFor example, if you stop a session after 30 minutes, you'll be refunded half the charged amount.\n\n**Session Limits:**\n- All users: Up to 4 hours per session",
        "operationId": "create_browser_session_browsers_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrowserSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserSessionItemView"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits, or the API key reached its monthly spend limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeySpendLimitError"
                }
              }
            }
          },
          "403": {
            "description": "Session timeout limit exceeded (maximum 4 hours), or extensions are not available to this project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionTimeoutLimitExceededError"
                }
              }
            }
          },
          "404": {
            "description": "Profile or extension not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too many concurrent active sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyConcurrentActiveSessionsError"
                }
              }
            }
          }
        }
      }
    },
    "/browsers/{session_id}": {
      "get": {
        "tags": [
          "Browsers"
        ],
        "summary": "Get Browser Session",
        "description": "Get detailed browser session information including status and URLs.",
        "operationId": "get_browser_session_browsers__session_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserSessionView"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Browsers"
        ],
        "summary": "Update Browser Session",
        "description": "Stop a browser session.\n\n**Refund:** When you stop a session, unused time is automatically refunded.\nIf the session ran for less than 1 hour, you'll receive a proportional refund.\nBilling is ceil to the nearest minute (minimum 1 minute).",
        "operationId": "update_browser_session_browsers__session_id__patch",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrowserSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserSessionView"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/browsers/{session_id}/downloads": {
      "get": {
        "tags": [
          "Browsers"
        ],
        "summary": "List Browser Session Downloads",
        "description": "List files the browser downloaded to S3 during the session.\n\nPass ``includeUrls=true`` to receive presigned download URLs (15 min expiry) inline.\nFiles are stored at ``downloads/projects/{project_id}/sessions/{session_id}/`` in\nthe private bucket.",
        "operationId": "list_browser_session_downloads_browsers__session_id__downloads_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Session Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "includeUrls",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Includeurls"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowserDownloadListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/profiles": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "List Profiles",
        "description": "Get paginated list of profiles.\n\nUse the `query` parameter to search profiles by name or user_id.\nThis is useful when you have many profiles and need to find a specific user.\n\nExample: If you set `user_id` to your internal user identifier when creating profiles,\nyou can later search for that user by passing their identifier as the `query` parameter.",
        "operationId": "list_profiles_profiles_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Pagesize"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Pagenumber"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "title": "Query"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Profiles"
        ],
        "summary": "Create Profile",
        "description": "Profiles allow you to preserve the state of the browser between tasks.\n\nThey are most commonly used to allow users to preserve the log-in state in the agent between tasks.\nYou'd normally create one profile per user and then use it for all their tasks.\n\nYou can set a `user_id` when creating a profile to associate it with a user in your system.\nThis allows you to later search for the profile using the GET /profiles endpoint with a query parameter.",
        "operationId": "create_profile_profiles_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileView"
                }
              }
            }
          },
          "402": {
            "description": "Profile limit reached; delete unused profiles to create new ones",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsError"
                }
              }
            }
          },
          "422": {
            "description": "Request validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{profile_id}": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "Get Profile",
        "description": "Get profile details.",
        "operationId": "get_profile_profiles__profile_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Profile Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileView"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Profiles"
        ],
        "summary": "Update Profile",
        "description": "Update a browser profile's information.",
        "operationId": "update_profile_profiles__profile_id__patch",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Profile Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileView"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Profiles"
        ],
        "summary": "Delete Browser Profile",
        "description": "Permanently delete a browser profile and its configuration.",
        "operationId": "delete_browser_profile_profiles__profile_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Profile Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "APIKeySpendLimitDetail": {
        "properties": {
          "code": {
            "type": "string",
            "title": "Code",
            "default": "api_key_monthly_spend_limit_reached"
          },
          "message": {
            "type": "string",
            "title": "Message"
          },
          "cap": {
            "type": "number",
            "title": "Cap"
          },
          "spent": {
            "type": "number",
            "title": "Spent"
          }
        },
        "type": "object",
        "required": [
          "message",
          "cap",
          "spent"
        ],
        "title": "APIKeySpendLimitDetail",
        "description": "Machine-readable 402 detail shared by run and browser creation."
      },
      "APIKeySpendLimitError": {
        "properties": {
          "detail": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "$ref": "#/components/schemas/APIKeySpendLimitDetail"
              }
            ],
            "title": "Detail"
          }
        },
        "type": "object",
        "required": [
          "detail"
        ],
        "title": "APIKeySpendLimitError",
        "description": "FastAPI wraps endpoint errors in a top-level ``detail`` field."
      },
      "AgentCardWalletListResponse": {
        "properties": {
          "wallets": {
            "items": {
              "$ref": "#/components/schemas/AgentCardWalletSummary"
            },
            "type": "array",
            "title": "Wallets"
          }
        },
        "type": "object",
        "required": [
          "wallets"
        ],
        "title": "AgentCardWalletListResponse"
      },
      "AgentCardWalletSummary": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "currency": {
            "type": "string",
            "title": "Currency"
          },
          "availableCents": {
            "type": "integer",
            "title": "Availablecents"
          },
          "activeHoldCents": {
            "type": "integer",
            "title": "Activeholdcents"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "currency",
          "availableCents",
          "activeHoldCents"
        ],
        "title": "AgentCardWalletSummary",
        "description": "A spendable project wallet as the composer needs to show it."
      },
      "AuthorizeResponse": {
        "properties": {
          "redirect_url": {
            "type": "string",
            "title": "Redirect Url"
          },
          "provider": {
            "type": "string",
            "title": "Provider"
          }
        },
        "type": "object",
        "required": [
          "redirect_url",
          "provider"
        ],
        "title": "AuthorizeResponse",
        "description": "Response with OAuth redirect URL."
      },
      "BrowserDownloadFile": {
        "properties": {
          "path": {
            "type": "string",
            "title": "Path",
            "description": "File name (basename relative to the session downloads prefix)"
          },
          "size": {
            "type": "integer",
            "title": "Size",
            "description": "File size in bytes"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time",
            "title": "Lastmodified",
            "description": "When the file was last modified in S3"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url",
            "description": "Presigned download URL (15 min expiry). Only included when `includeUrls=true`."
          }
        },
        "type": "object",
        "required": [
          "path",
          "size",
          "lastModified"
        ],
        "title": "BrowserDownloadFile",
        "description": "A single file the browser downloaded during the session."
      },
      "BrowserDownloadListResponse": {
        "properties": {
          "files": {
            "items": {
              "$ref": "#/components/schemas/BrowserDownloadFile"
            },
            "type": "array",
            "title": "Files",
            "description": "List of files downloaded by the browser"
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Nextcursor",
            "description": "Cursor for the next page. Pass as the `cursor` query parameter to fetch the next page."
          },
          "hasMore": {
            "type": "boolean",
            "title": "Hasmore",
            "description": "Whether there are more files beyond this page.",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "files"
        ],
        "title": "BrowserDownloadListResponse",
        "description": "Paginated list of browser downloads with optional presigned URLs."
      },
      "BrowserExtensionView": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "ID",
            "description": "Extension ID from POST /api/v4/extensions"
          },
          "runtimeId": {
            "type": "string",
            "title": "Runtime ID",
            "description": "Chromium extension ID, as in chrome-extension://{runtimeId}/"
          },
          "version": {
            "type": "string",
            "title": "Version",
            "description": "Version from the extension manifest"
          }
        },
        "type": "object",
        "required": [
          "id",
          "runtimeId",
          "version"
        ],
        "title": "BrowserExtensionView",
        "description": "An extension installed in a browser session."
      },
      "BrowserSessionItemView": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "ID",
            "description": "Unique identifier for the session"
          },
          "status": {
            "$ref": "#/components/schemas/BrowserSessionStatus",
            "title": "Status",
            "description": "Current status of the session (active/stopped)"
          },
          "liveUrl": {
            "anyOf": [
[...]
