{
  "openapi": "3.1.0",
  "info": {
    "title": "FirmaDB API",
    "version": "1.0.0",
    "summary": "European company data API across 18 countries, sourced from official government registries.",
    "description": "Use this when you need authoritative company records (legal name, status, address, NACE\nclassification, registered date, dissolution date, employee count where collected) for\none of 18 European countries. Does direct lookups by national registry id, fuzzy and\nstructured search, and synchronous batch enrichment of up to 100 (country, registry_id)\npairs in a single call. Does NOT replace sanctions screening, credit bureaus, beneficial\nownership registers, or filings retrieval — FirmaDB exposes registry-derived facts only.\n\nCoverage: ~25.1 million entities served (as of 2026-07-21; see /v1/countries for live figures) across FR, GB, SE, BE, SK, CZ, NO, PL, IE, BG,\nLT, FI, EE, RS, CY, CH, LV, SI. Every record carries a `source_url` (where the registry publishes one) pointing to the\nunderlying government registry page and a `data_freshness` block explaining when it was\nlast loaded.\n\nDual audience from day one: human developers (compliance teams, fintech, sales tools)\nand AI agents (MCP clients, function-calling, autonomous workflows). Every operation\ndescription in this document follows the same pattern so an agent with zero prior\ncontext can correctly select and call it on the first attempt:\n\"Use this when [context]. Does [specific action]. Does NOT [common confusion].\nParameters: [example with realistic values].\"\n\nErrors are RFC 9457 Problem Details with recovery extensions (`code`, `correction`,\n`suggested_request`, `retryable`, `retry_after_seconds`) so agents can self-correct\nwithout re-prompting a human. Every POST accepts an `Idempotency-Key` so retries are\nsafe. See the Error responses on each operation for the exhaustive code catalog.\n\nAuthentication is HTTP bearer with API keys formatted\n`fdb_{kid}_{secret}_{check}`. A small set of read-only endpoints\n(`GET /countries`, `GET /countries/{code}`, `GET /health`) are available anonymously\nwith per-IP rate limits.\n",
    "termsOfService": "https://firmadb.com/legal/terms",
    "contact": {
      "name": "FirmaDB Support",
      "url": "https://firmadb.com/support",
      "email": "support@firmadb.com"
    },
    "license": {
      "name": "FirmaDB API Terms",
      "url": "https://firmadb.com/legal/api-terms"
    },
    "x-jentic-source-url": "https://api.firmadb.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.firmadb.com/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/companies/{country}/{registry_id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Retrieve one company record by exact country + registry ID",
        "description": "Use this when you already know a company's official national registry identifier (FR SIREN, GB CRN, SE organisationsnummer, BE VAT, etc.) and need the canonical record. Does an exact lookup against the country's partition and returns the full company object including legal status, address, NACE classification (where collected), employee count (where collected), website, source URL, and data_freshness. Does NOT do fuzzy or name-based matching — for that, call `searchCompanies` first to identify the registry_id, then call this. Does NOT accept registry IDs from the wrong country (passing FR/12345678 when 12345678 is a GB CRN returns 404, not a cross-country search).\n\nParameters: `country=FR`, `registry_id=552120222` returns Société Générale. Leading zeros in registry_id are significant — `00123` and `123` are different companies. Field coverage varies by country; if a field is missing the response explains via field_meta whether it is `not_published_by_registry`, `not_collected`, or `unknown`. Pass `?include=field_meta,provenance` to request expansions; pass `?include_nulls=true` to receive every canonical field even when empty.\n",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/countryPath"
          },
          {
            "$ref": "#/components/parameters/registryIdPath"
          },
          {
            "$ref": "#/components/parameters/includeQuery"
          },
          {
            "$ref": "#/components/parameters/includeNullsQuery"
          },
          {
            "in": "header",
            "name": "If-None-Match",
            "required": false,
            "description": "Use this when you have a previously cached ETag and want to avoid re-downloading unchanged data. Server returns 304 Not Modified when the record has not changed since the ETag was issued. Does NOT bypass authentication or rate limits — a 304 still consumes one rate-limit unit (but is not billed because no record is returned). Parameters: `If-None-Match: \"W/\\\"a1b2c3d4\\\"\"`.\n",
            "schema": {
              "type": "string",
              "example": "W/\"a1b2c3d4e5f6\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company record found and returned. Always includes `source_url` and `data_freshness`. Cacheable for 24 hours per `Cache-Control` header.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Resource": {
                "$ref": "#/components/headers/X-RateLimit-Resource"
              },
              "X-FirmaDB-Cost-Units": {
                "$ref": "#/components/headers/X-FirmaDB-Cost-Units"
              },
              "X-FirmaDB-Credits-Remaining": {
                "$ref": "#/components/headers/X-FirmaDB-Credits-Remaining"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                },
                "example": {
                  "object": "company",
                  "country": "FR",
                  "registry_id": "552120222",
                  "name": "SOCIETE GENERALE",
                  "legal_form": "SA a conseil d'administration",
                  "legal_form_code": "5710",
                  "status": "active",
                  "status_active": true,
                  "registered_date": "1900-01-01",
                  "dissolution_date": null,
                  "address": {
                    "street": "29 Boulevard Haussmann",
                    "city": "Paris",
                    "postal_code": "75009",
                    "country": "FR"
                  },
                  "nace_code": "64.19Z",
                  "nace_description": "Other monetary intermediation",
                  "employee_count": null,
                  "website": "https://www.societegenerale.com",
                  "source_url": "https://annuaire-entreprises.data.gouv.fr/entreprise/552120222",
                  "data_freshness": {
                    "record_retrieved_at": "2026-05-04T02:15:00Z",
                    "country_dataset_updated_at": "2026-05-04T02:00:00Z",
                    "freshness_status": "current",
                    "max_age_days": 7
                  },
                  "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4N"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when `If-None-Match` matches the current ETag for this record. No body is returned. The request consumes one rate-limit unit but is not billed.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "description": "Company not found. The country was valid and the registry_id was well-formed, but no record exists. Includes `country_freshness` (when the country was last loaded) and a `correction` pointing at `searchCompanies`. Do NOT retry — re-issuing the same request will produce the same 404. To recover, call `searchCompanies` with the company name.\n",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCompanyNotFound"
                },
                "example": {
                  "type": "https://errors.firmadb.com/company-not-found",
                  "title": "Company not found",
                  "status": 404,
                  "detail": "No company with registry_id '999999999' exists in FR. Format looks valid (9 digits, SIREN convention). FR was last loaded 2026-05-03.",
                  "instance": "/v1/companies/FR/999999999",
                  "code": "company_not_found",
                  "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4P",
                  "retryable": false,
                  "retry_after_seconds": null,
                  "correction": "Try searching by name with /v1/companies/search?country=FR&q=...",
                  "suggested_request": null,
                  "documentation_url": "https://errors.firmadb.com/company-not-found",
                  "country_freshness": {
                    "country": "FR",
                    "last_loaded_at": "2026-05-03T02:00:00Z",
                    "record_count": 16851670
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        }
      }
    },
    "/companies/search": {
      "get": {
        "operationId": "searchCompanies",
        "summary": "Fuzzy + structured search across European company records",
        "description": "Use this when you do NOT have a registry_id but you have a name, address fragment, NACE code, or industry term. Does fuzzy matching (typo tolerance, transliteration, abbreviations) backed by Meilisearch, returning ranked candidates with `match.score` and `match.matched_fields`. Does NOT return the same shape as `getCompany` for billing — search results themselves are free and unmetered for billing; only subsequent individual lookups via `getCompany` consume verified-result quota. Does NOT support cross-country structured filters (`nace`, `status`, `registered_date_*`) — those require the `country` parameter and return 400 `country_required` if omitted.\n\nAlways pass `country` when known. Cross-country search (omitting `country`) scans all 18 partitions, is slower, returns at most 10 results, charges the same search rate-limit bucket as a single-country search (no extra weighting), and includes a `_warnings` entry suggesting you narrow it. After this call, pick the best `match.score` result and call `getCompany` with its `country` and `registry_id` to obtain the full record.\n\nParameters: `q=Societe Generale&country=FR&limit=5` returns up to 5 ranked candidates. `q=software&country=FR&nace=62` filters to NACE 62.xx (computer programming) companies in France. `q=Acme` (no country) does a cross-country fuzzy search capped at 10 results. Pagination is cursor-based — pass `cursor` from the previous response's `next_cursor`. Cursors are bound to the original query parameters; using a cursor with different filters returns 400 `invalid_cursor`.\n",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "required": true,
            "description": "Use this for the free-text search query (company name, address fragment, or industry term). Does case-insensitive fuzzy matching with typo tolerance. Does NOT accept SQL or NoSQL syntax (sanitized server-side). Minimum 3 characters; maximum 200. Parameters: `q=Societe Generale`, `q=Acme Holdings`, `q=software development`.\n",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 200,
              "example": "Societe Generale"
            }
          },
          {
            "in": "query",
            "name": "country",
            "required": false,
            "description": "Use this to scope the search to one or more countries. Strongly recommended — omitting it triggers a slow cross-country scan capped at 10 results (charged at the same search rate-limit bucket as a single-country search — no extra weighting). Required when using any structured filter (`nace`, `status`, `registered_date_from`, `registered_date_to`); otherwise returns 400 `country_required`. Comma-separated for multi-country: `country=FR,BE`. Parameters: `country=FR`, `country=FR,BE,IE`.\n",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}(,[A-Z]{2})*$",
              "example": "FR"
            }
          },
          {
            "in": "query",
            "name": "nace",
            "required": false,
            "description": "Use this to filter results by NACE Rev.2 code prefix. Does prefix matching — `62` matches all 62.xx codes. Does NOT work without `country` (returns 400 `country_required`). Parameters: `nace=62` (computer programming), `nace=20.42` (perfume manufacturing).\n",
            "schema": {
              "type": "string",
              "example": "62"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "description": "Use this to filter by company status. Does NOT work without `country` (returns 400 `country_required`). Parameters: `status=active`, `status=dissolved`. Default `any`.\n",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "dissolved",
                "liquidation",
                "deregistered",
                "bankrupt",
                "deleted",
                "unknown",
                "any"
              ],
              "default": "any",
              "example": "active"
            }
          },
          {
            "in": "query",
            "name": "registered_date_from",
            "required": false,
            "description": "Use this to filter to companies registered on or after this date. Does NOT work without `country` (returns 400 `country_required`). Parameters: `registered_date_from=2020-01-01`.\n",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-01-01"
            }
          },
          {
            "in": "query",
            "name": "registered_date_to",
            "required": false,
            "description": "Use this to filter to companies registered on or before this date. Does NOT work without `country` (returns 400 `country_required`). Parameters: `registered_date_to=2024-12-31`.\n",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-12-31"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "description": "Use this to control result ordering. Default `relevance`. Cross-country search supports only `relevance`. Sorting by a field a country doesn't collect has no effect. Parameters: `sort=name_asc`, `sort=registered_date_desc`.\n",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "name_asc",
                "name_desc",
                "registered_date_asc",
                "registered_date_desc"
              ],
              "default": "relevance",
              "example": "relevance"
            }
          },
          {
            "$ref": "#/components/parameters/limitQuery"
          },
          {
            "$ref": "#/components/parameters/cursorQuery"
          },
          {
            "$ref": "#/components/parameters/includeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results. Always returns 200 — zero matches return `data: []` with `total_count: 0`, which is NOT an error. `total_count_relation` is `exact` for < 1,000 results and `approximate` beyond that. Cross-country results include `_warnings` advising the caller to add `country=`. Use `has_more` (not cursor presence) as the canonical \"more pages exist\" signal.\n",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Resource": {
                "$ref": "#/components/headers/X-RateLimit-Resource"
              },
              "X-FirmaDB-Cost-Units": {
                "$ref": "#/components/headers/X-FirmaDB-Cost-Units"
              },
              "X-FirmaDB-Credits-Remaining": {
                "$ref": "#/components/headers/X-FirmaDB-Credits-Remaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                },
                "example": {
                  "object": "list",
                  "url": "/v1/companies/search",
                  "data": [
                    {
                      "object": "company",
                      "country": "FR",
                      "registry_id": "552120222",
                      "name": "SOCIETE GENERALE",
                      "legal_form": "SA a conseil d'administration",
                      "legal_form_code": "5710",
                      "status": "active",
                      "status_active": true,
                      "registered_date": "1900-01-01",
                      "address": {
                        "street": "29 Boulevard Haussmann",
                        "city": "Paris",
                        "postal_code": "75009",
                        "country": "FR"
                      },
                      "nace_code": "64.19Z",
                      "nace_description": "Other monetary intermediation",
                      "employee_count": null,
                      "website": "https://www.societegenerale.com",
                      "source_url": "https://annuaire-entreprises.data.gouv.fr/entreprise/552120222",
                      "data_freshness": {
                        "record_retrieved_at": "2026-05-04T02:15:00Z",
                        "country_dataset_updated_at": "2026-05-04T02:00:00Z",
                        "freshness_status": "current",
                        "max_age_days": 7
                      },
                      "match": {
                        "score": 0.99,
                        "matched_fields": [
                          "name"
                        ],
                        "explanation": "Exact prefix match on company name"
                      }
                    }
                  ],
                  "total_count": 1,
                  "total_count_relation": "exact",
                  "has_more": false,
                  "next_cursor": null,
                  "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4N"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "503": {
            "description": "Search backend (Meilisearch) is unavailable. PostgreSQL is still up, so `getCompany` and `lookupBatch` (exact lookups) will continue to work. Recovery: use exact lookup by registry_id while search recovers, then retry search after `Retry-After` seconds.\n",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer",
                  "example": 30
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSearchUnavailable"
                },
                "example": {
                  "type": "https://errors.firmadb.com/search-unavailable",
                  "title": "Search temporarily unavailable",
                  "status": 503,
                  "detail": "Meilisearch backend is unreachable. Exact lookups via /v1/companies/{country}/{registry_id} continue to work.",
                  "instance": "/v1/companies/search",
                  "code": "search_unavailable",
                  "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4Q",
                  "retryable": true,
                  "retry_after_seconds": 30,
                  "correction": "Use exact lookup by registry_id while search recovers.",
                  "suggested_request": null,
                  "documentation_url": "https://errors.firmadb.com/search-unavailable",
                  "degraded_components": [
                    "meilisearch"
                  ],
                  "healthy_components": [
                    "postgresql",
                    "ingestion"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/companies/lookup-batch": {
      "post": {
        "operationId": "lookupBatch",
        "summary": "Look up 1-100 companies by exact (country, registry_id) pairs",
        "description": "Use this when you need to enrich a CRM list, run a KYB batch, or resolve many references in one synchronous round-trip. Does up to 100 exact lookups in parallel and returns a positional array matching input order. Does NOT do fuzzy matching — every reference must include both `country` and `registry_id`. Does NOT reject the entire batch when individual items are invalid: invalid items return per-item RFC 9457 sub-problems at their position and the envelope still returns 200.\n\nHTTP status is ALWAYS 200 when the request envelope is valid — even if all 100 items 404 or have per-item errors. 400 is only returned for envelope-level validation failures (empty array, malformed JSON, missing `Idempotency-Key`, > 100 rows). Do NOT write retry-on-non-200 logic that misses per-item errors — branch on `results[i].status` instead.\n\nPricing: only `found` results count against your verified-result quota. `not_found` results are free. Duplicates are allowed and each occurrence bills independently if found.\n\nIdempotency: pass `Idempotency-Key` (UUID v4 recommended). Same key + same body within 24 hours returns the cached response with header `Idempotent-Replayed: true`. Same key + different body returns 409 `idempotency_conflict` with the differing field names (no values).\n\nParameters: `{\"references\": [{\"country\": \"FR\", \"registry_id\": \"552120222\"}, {\"country\": \"GB\", \"registry_id\": \"12345678\"}], \"include\": [\"field_meta\"]}` with header `Idempotency-Key: 550e8400-e29b-41d4-a716-446655440000`.\n",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "description": "Use this on every batch call to make retries safe. Does deduplicate identical requests within a 24-hour window: same key + same body returns the cached response with header `Idempotent-Replayed: true`. Does NOT collapse different requests — same key + different body returns 409 `idempotency_conflict`. UUID v4 recommended; any string up to 255 characters is accepted. Parameters: `Idempotency-Key: 550e8400-e29b-41d4-a716-446655440000`.\n",
            "schema": {
              "type": "string",
              "maxLength": 255,
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Batch envelope. `references` is required (1-100 items). Each item must have `country` and `registry_id`. Empty array returns 400 `batch_validation_failed`. Optional `include` applies to every successful result.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              },
              "example": {
                "references": [
                  {
                    "country": "FR",
                    "registry_id": "552120222"
                  },
                  {
                    "country": "GB",
                    "registry_id": "12345678"
                  },
                  {
                    "country": "IE",
                    "registry_id": "999999"
                  }
                ],
                "include": [
                  "field_meta"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch processed. Returns a positional `results` array matching input order. Per-item `status` is `found` (with `company`) or `not_found` (with embedded RFC 9457 `error`). Branch on `results[i].status` rather than HTTP status. `summary.billable_results` equals the count of `found` items. If the same `Idempotency-Key` was sent before with the same body, header `Idempotent-Replayed: true` is set and the original response is returned verbatim.\n",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Resource": {
                "$ref": "#/components/headers/X-RateLimit-Resource"
              },
              "X-FirmaDB-Cost-Units": {
                "$ref": "#/components/headers/X-FirmaDB-Cost-Units"
              },
              "X-FirmaDB-Credits-Remaining": {
                "$ref": "#/components/headers/X-FirmaDB-Credits-Remaining"
              },
              "Idempotent-Replayed": {
                "description": "Set to `true` when the response is a cached replay of an earlier request with the same `Idempotency-Key` and body. Absent (or `false`) for fresh executions.\n",
                "schema": {
                  "type": "boolean",
                  "example": false
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                },
                "example": {
                  "object": "batch_result",
                  "results": [
                    {
                      "status": "found",
                      "company": {
                        "object": "company",
                        "country": "FR",
                        "registry_id": "552120222",
                        "name": "SOCIETE GENERALE",
                        "legal_form": "SA a conseil d'administration",
                        "legal_form_code": "5710",
                        "status": "active",
                        "status_active": true,
                        "registered_date": "1900-01-01",
                        "address": {
                          "street": "29 Boulevard Haussmann",
                          "city": "Paris",
                          "postal_code": "75009",
                          "country": "FR"
                        },
                        "nace_code": "64.19Z",
                        "nace_description": "Other monetary intermediation",
                        "employee_count": null,
                        "website": "https://www.societegenerale.com",
                        "source_url": "https://annuaire-entreprises.data.gouv.fr/entreprise/552120222",
                        "data_freshness": {
                          "record_retrieved_at": "2026-05-04T02:15:00Z",
                          "country_dataset_updated_at": "2026-05-04T02:00:00Z",
                          "freshness_status": "current",
                          "max_age_days": 7
                        }
                      }
                    },
                    {
                      "status": "found",
                      "company": {
                        "object": "company",
                        "country": "GB",
                        "registry_id": "12345678",
                        "name": "Example Ltd",
                        "legal_form": "Private limited Company",
                        "legal_form_code": "ltd",
                        "status": "active",
                        "status_active": true,
                        "registered_date": "1980-04-21",
                        "address": {
                          "street": "1 High Street",
                          "city": "London",
                          "postal_code": "EC1A 1BB",
                          "country": "GB"
                        },
                        "nace_code": 70.22,
                        "nace_description": "Business and other management consultancy activities",
                        "employee_count": null,
                        "website": null,
                        "source_url": "https://find-and-update.company-information.service.gov.uk/company/12345678",
                        "data_freshness": {
                          "record_retrieved_at": "2026-05-04T03:00:00Z",
                          "country_dataset_updated_at": "2026-05-04T02:30:00Z",
                          "freshness_status": "current",
                          "max_age_days": 7
                        }
                      }
                    },
                    {
                      "status": "not_found",
                      "error": {
                        "type": "https://errors.firmadb.com/company-not-found",
                        "title": "Company not found",
                        "status": 404,
                        "detail": "No company with registry_id '999999' exists in IE.",
                        "instance": "/v1/companies/IE/999999",
                        "code": "company_not_found",
                        "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4P",
                        "retryable": false,
                        "retry_after_seconds": null,
                        "correction": "Try searching by name with /v1/companies/search?country=IE&q=...",
                        "suggested_request": null,
                        "documentation_url": "https://errors.firmadb.com/company-not-found"
                      }
                    }
                  ],
                  "summary": {
                    "total": 3,
                    "found": 2,
                    "not_found": 1,
                    "billable_results": 2
                  },
                  "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC5R"
                }
              }
            }
          },
          "400": {
            "description": "Envelope-level validation failure. Triggered ONLY by: empty `references` array, malformed JSON, missing `Idempotency-Key`, or > 100 rows. Per-item invalid countries / IDs do NOT trigger this — they appear inside the 200 response. `errors[]` contains per-item RFC 9457 sub-problems with an `index` field pointing to the offending row.\n",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBatchValidationFailed"
                },
                "example": {
                  "type": "https://errors.firmadb.com/batch-validation-failed",
                  "title": "Batch validation failed",
                  "status": 400,
                  "detail": "Batch contains 142 references; maximum is 100. Split client-side and submit multiple batches.",
                  "instance": "/v1/companies/lookup-batch",
                  "code": "batch_validation_failed",
                  "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4S",
                  "retryable": false,
                  "retry_after_seconds": null,
                  "correction": "Reduce references to 100 or fewer per batch.",
                  "suggested_request": null,
                  "documentation_url": "https://errors.firmadb.com/batch-validation-failed",
                  "errors": []
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "409": {
            "description": "Idempotency-Key conflict. The same key was used previously within 24 hours with a DIFFERENT request body (detected via SHA-256 hash of canonicalized JSON). `differing_fields` lists field names only — no values, for security. Recovery: use a new `Idempotency-Key` for the new request, or wait 24 hours for the original key to expire.\n",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorIdempotencyConflict"
                },
                "example": {
                  "type": "https://errors.firmadb.com/idempotency-key-conflict",
                  "title": "Idempotency key conflict",
                  "status": 409,
                  "detail": "The Idempotency-Key 550e8400-e29b-41d4-a716-446655440000 was used 14 minutes ago with a different request body.",
                  "instance": "/v1/companies/lookup-batch",
                  "code": "idempotency_conflict",
                  "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4T",
                  "retryable": false,
                  "retry_after_seconds": null,
                  "correction": "Use a new Idempotency-Key for this distinct request.",
                  "suggested_request": null,
                  "documentation_url": "https://errors.firmadb.com/idempotency-key-conflict",
                  "differing_fields": [
                    "references",
                    "include"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "listCountries",
        "summary": "List all supported countries with record counts and freshness",
        "description": "Use this when an agent or developer needs the FirmaDB country footprint before planning a workflow — supported countries, total record counts, and per-country freshness. Does a cheap, cacheable list call (1-hour HTTP cache) and is available without authentication (rate-limited 60/hr/IP for anonymous). Does NOT return per-country field coverage details — call `getCountryCapability` with a specific country code for that. Does NOT consume verified-result quota.\n\nParameters: no parameters. Response includes 18 country entries with `code`, `name`, `record_count`, `last_loaded_at`, `registry_name`, and `freshness_status`.\n",
        "tags": [
          "Countries"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Country list returned. Cached for 1 hour. Updated by the ingestion pipeline.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Resource": {
                "$ref": "#/components/headers/X-RateLimit-Resource"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "total_count",
                    "request_id"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Country"
                      }
                    },
                    "total_count": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "code": "FR",
                      "name": "France",
                      "record_count": 16851670,
                      "last_loaded_at": "2026-05-04T02:00:00Z",
                      "registry_name": "INSEE Sirene",
                      "freshness_status": "current"
                    },
                    {
                      "code": "GB",
                      "name": "United Kingdom",
                      "record_count": 5700000,
                      "last_loaded_at": "2026-05-04T02:30:00Z",
                      "registry_name": "Companies House",
                      "freshness_status": "current"
                    },
                    {
                      "code": "SE",
                      "name": "Sweden",
                      "record_count": 1800000,
                      "last_loaded_at": "2026-05-04T02:45:00Z",
                      "registry_name": "Bolagsverket",
                      "freshness_status": "current"
                    }
                  ],
                  "total_count": 18,
                  "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4N"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        }
      }
    },
    "/countries/{code}": {
      "get": {
        "operationId": "getCountryCapability",
        "summary": "Per-country capability manifest (field coverage, registry details, license)",
        "description": "Use this BEFORE planning any lookup, search, or enrichment workflow against a specific country. Does return the full capability manifest — supported filters, supported sorts, registry_id format pattern, registry license, update frequency, and per-field `populated_pct` so an agent can decide whether `employee_count` or `website` is worth requesting for this country. Does NOT return company records — call `getCompany`, `searchCompanies`, or `lookupBatch` for data. Available without authentication (rate-limited 60/hr/IP for anonymous).\n\nParameters: `code=FR` returns France's manifest including the SIREN format pattern `^[0-9]{9}$`, INSEE Sirene as the registry, and field coverage like `employee_count: 12.40%` (only large filers report).\n",
        "tags": [
          "Countries"
        ],
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "description": "Use this for the ISO 3166-1 alpha-2 country code, uppercase. Must be in the supported set of 18 countries. Parameters: `FR`, `GB`, `IE`, `BE`, `SE`, `SK`, `CZ`, `NO`, `PL`, `BG`, `LT`, `FI`, `EE`, `RS`, `CY`, `CH`, `LV`, `SI`.\n",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{2}$",
              "example": "FR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country capability manifest returned. Cached for 1 hour; supports `If-None-Match` via the `ETag` header.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Resource": {
                "$ref": "#/components/headers/X-RateLimit-Resource"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryCapability"
                },
                "example": {
                  "code": "FR",
                  "name": "France",
                  "record_count": 16851670,
                  "last_loaded_at": "2026-05-04T02:11:00Z",
                  "registry": {
                    "name": "INSEE Sirene",
                    "url": "https://www.sirene.fr/",
                    "license": "Open Licence 2.0",
                    "update_frequency": "daily"
                  },
                  "registry_id_format": {
                    "pattern": "^[0-9]{9}$",
                    "description": "9-digit SIREN number",
                    "example": "552120222",
                    "leading_zeros_significant": true
                  },
                  "field_coverage": {
                    "name": {
                      "populated_pct": 100.0,
                      "collected": true
                    },
                    "legal_form": {
                      "populated_pct": 99.97,
                      "collected": true
                    },
                    "legal_form_code": {
                      "populated_pct": 99.97,
                      "collected": true
                    },
                    "status": {
                      "populated_pct": 100.0,
                      "collected": true
                    },
                    "registered_date": {
                      "populated_pct": 98.5,
                      "collected": true
                    },
                    "address_street": {
                      "populated_pct": 95.2,
                      "collected": true
                    },
                    "address_city": {
                      "populated_pct": 99.9,
                      "collected": true
                    },
                    "address_postal": {
                      "populated_pct": 99.8,
                      "collected": true
                    },
                    "nace_code": {
                      "populated_pct": 99.12,
                      "collected": true
                    },
                    "employee_count": {
                      "populated_pct": 12.4,
                      "collected": true,
                      "note": "Only large filers report"
                    },
                    "website": {
                      "populated_pct": 0.0,
                      "collected": false,
                      "note": "Not published by INSEE Sirene"
                    },
                    "dissolution_date": {
                      "populated_pct": 8.3,
                      "collected": true,
                      "note": "Only dissolved companies"
                    }
                  },
                  "supported_filters": [
                    "q",
                    "nace",
                    "status",
                    "registered_date_from",
                    "registered_date_to"
                  ],
                  "supported_sorts": [
                    "relevance",
                    "name_asc",
                    "name_desc",
                    "registered_date_asc",
                    "registered_date_desc"
                  ],
                  "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4N"
                }
              }
            }
          },
          "400": {
            "description": "Invalid country code (not ISO 3166-1 alpha-2 or not in supported set).",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidCountryCode"
                },
                "example": {
                  "type": "https://errors.firmadb.com/invalid-country-code",
                  "title": "Invalid country code",
                  "status": 400,
                  "detail": "'XX' is not a supported country. FirmaDB supports 18 European countries.",
                  "instance": "/v1/countries/XX",
                  "code": "invalid_country",
                  "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4U",
                  "retryable": false,
                  "retry_after_seconds": null,
                  "correction": "Use one of the supported_countries codes from the list endpoint.",
                  "suggested_request": null,
                  "documentation_url": "https://errors.firmadb.com/invalid-country-code",
                  "supported_countries": [
                    "FR",
                    "GB",
                    "SE",
                    "BE",
                    "SK",
                    "CZ",
                    "NO",
                    "PL",
                    "IE",
                    "BG",
                    "LT",
                    "FI",
                    "EE",
                    "RS",
                    "CY",
                    "CH",
                    "LV",
                    "SI"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        }
      }
    },
    "/account/usage": {
      "get": {
        "operationId": "getUsage",
        "summary": "Current billing period usage for the authenticated key",
        "description": "Use this when you need to display billing state in a dashboard, decide whether to proceed with a large enrichment job, or build a cost-estimation tool. Does return current period start/end, results used / included / remaining / overage, and per-resource rate limits. Does NOT return usage for any key other than the one making the request — keys cannot inspect each other. Does NOT consume verified-result quota.\n\nParameters: no parameters; usage is scoped to the bearer key. For pre-flight cost estimates of a planned job, the MCP tool `firmadb_estimate_cost` combines this endpoint with pricing rules client-side.\n",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Current usage and rate-limit state for the authenticated key.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              },
              "X-RateLimit-Resource": {
                "$ref": "#/components/headers/X-RateLimit-Resource"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                },
                "example": {
                  "object": "usage",
                  "key_id": "fdb_aB12cD34eF56",
                  "tier": "growth",
                  "period": {
                    "start": "2026-07-01T00:00:00Z",
                    "end": "2026-08-01T00:00:00Z",
                    "days_remaining": 26
                  },
                  "results": {
                    "used": 1234,
                    "included": 5000,
                    "remaining": 3766,
                    "overage": 0,
                    "overage_rate_eur": 0.035
                  },
                  "rate_limits": {
                    "lookup_per_minute": {
                      "limit": 120,
                      "used": 3,
                      "remaining": 117
                    },
                    "search_per_minute": {
                      "limit": 40,
                      "used": 1,
                      "remaining": 39
                    },
                    "batch_rows_per_request": 100
                  },
                  "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4N"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "System health check (always returns 200; status field carries severity)",
        "description": "Use this for liveness probes, status pages, and pre-flight checks before launching a long-running batch. Does ALWAYS return HTTP 200 — `status` field in the body carries the actual health (`healthy`, `degraded`, `unhealthy`). Does NOT return non-200 HTTP codes for component failures (use 503 only for the platform itself being unreachable). Does NOT require authentication; rate-limited 60/hr/IP for anonymous.\n\nParameters: no parameters. Branch on the `status` field, not the HTTP status. `degraded` typically means search (Meilisearch) is slow or stale while exact lookups remain healthy.\n",
        "tags": [
          "System"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Health check completed. Branch on the `status` field: `healthy` (all components nominal), `degraded` (one component slow or stale — typically search), or `unhealthy` (a component is down). Even `unhealthy` returns HTTP 200 — only platform-level failure returns non-200.\n",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "Cache-Control": {
                "description": "Always `no-store` — health responses are not cached.",
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                },
                "example": {
                  "status": "healthy",
                  "components": {
                    "postgresql": {
                      "status": "healthy",
                      "latency_ms": 2
                    },
                    "meilisearch": {
                      "status": "healthy",
                      "latency_ms": 8,
                      "indexed_records": 25104229
                    },
                    "ingestion": {
                      "status": "healthy",
                      "last_run_at": "2026-05-05T02:00:00Z",
                      "countries_updated": 18
                    }
                  },
                  "version": "1.0.0",
                  "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4N"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "object",
        "description": "Use this when rendering a company's registered postal address from a Company record. Does represent the official registered address as published by the national registry, with locale-preserved street and city strings. Does NOT represent operational/trading addresses, billing addresses, or beneficial-owner addresses — registries publish only the legal seat. Parameters: `{\"street\": \"29 Boulevard Haussmann\", \"city\": \"Paris\", \"postal_code\": \"75009\", \"country\": \"FR\"}` (Société Générale, FR SIREN 552120222).\n",
        "properties": {
          "street": {
            "type": "string",
            "description": "Street line(s) as published by the registry. Locale-preserved (UTF-8). May contain accented characters or non-Latin scripts depending on country. Example for Société Générale FR/552120222 — `29 Boulevard Haussmann`.",
            "examples": [
              "29 Boulevard Haussmann"
            ]
          },
          "city": {
            "type": "string",
            "description": "City name as published by the registry. Locale-preserved. Example for Société Générale FR/552120222 — `Paris`.",
            "examples": [
              "Paris"
            ]
          },
          "postal_code": {
            "type": "string",
            "description": "Postal code in the national format. Leading zeros preserved (significant in countries like FR, IT). Example for Société Générale FR/552120222 — `75009`.",
            "examples": [
              "75009"
            ]
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code (uppercase) of the registered address. Always matches the parent Company.country. Example — `FR`.",
            "pattern": "^[A-Z]{2}$",
            "minLength": 2,
            "maxLength": 2,
            "examples": [
              "FR"
            ]
          }
        },
        "required": [
          "country"
        ],
        "examples": [
          {
            "street": "29 Boulevard Haussmann",
            "city": "Paris",
            "postal_code": "75009",
            "country": "FR"
          }
        ]
      },
      "DataFreshness": {
        "type": "object",
        "description": "Use this when an agent or human consumer needs to decide whether to trust a company record without re-fetching, or to display a \"last verified\" timestamp. Does report when the specific record was last retrieved, when the country dataset was last loaded, the freshness class, and the country's expected update cadence. Does NOT promise real-time data — registries publish on their own schedules (daily for FR Sirene, weekly for some, monthly for others). Parameters: `{\"record_retrieved_at\": \"2026-05-04T02:15:00Z\", \"country_dataset_updated_at\": \"2026-05-04T02:00:00Z\", \"freshness_status\": \"current\", \"max_age_days\": 7}` (FR Société Générale record loaded daily).\n",
        "properties": {
          "record_retrieved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 UTC timestamp when this specific record was last fetched from the registry. Use to display \"last verified\" in your UI. Example — `2026-05-04T02:15:00Z`.",
            "examples": [
              "2026-05-04T02:15:00Z"
            ]
          },
          "country_dataset_updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 UTC timestamp when the country's full dataset was last loaded into FirmaDB. Different from record_retrieved_at when ingestion is incremental. Example — `2026-05-04T02:00:00Z`.",
            "examples": [
              "2026-05-04T02:00:00Z"
            ]
          },
          "freshness_status": {
            "type": "string",
            "enum": [
              "current",
              "stale",
              "unknown"
            ],
            "description": "`current` when the dataset was loaded within `max_age_days`; `stale` when it has exceeded that window; `unknown` when freshness cannot be determined (e.g., country onboarding in progress). Branch on this — never on a free-text field. Example — `current`.\n",
            "examples": [
              "current"
            ]
          },
          "max_age_days": {
            "type": "integer",
            "minimum": 1,
            "description": "Expected update cadence for this country in days. FR Sirene = 7 (weekly cap on daily refresh), GB Companies House = 1, smaller registries up to 30. Example for FR — `7`.",
            "examples": [
              7
            ]
          }
        },
        "required": [
          "record_retrieved_at",
          "country_dataset_updated_at",
          "freshness_status",
          "max_age_days"
        ],
        "examples": [
          {
            "record_retrieved_at": "2026-05-04T02:15:00Z",
            "country_dataset_updated_at": "2026-05-04T02:00:00Z",
            "freshness_status": "current",
            "max_age_days": 7
          }
        ]
      },
      "EmployeeBand": {
        "type": "object",
        "description": "Opt-in French SIRENE salaried-employee band for the legal unit, not an exact headcount. 00 is year-end zero with employment during the reference year; NN includes possible unknowns. Missing source input is never inferred from the old count. Unsupported countries return null.",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "band",
              "unknown",
              "year_end_zero"
            ]
          },
          "exact": {
            "type": "null"
          },
          "lower": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "upper": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "upper_open": {
            "type": "boolean"
          },
          "source_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "reference_year": {
            "type": [
              "integer",
              "null"
            ]
          },
          "unit": {
            "type": "string",
            "enum": [
              "salaried_employees"
            ]
          },
          "population": {
            "type": "string",
            "enum": [
              "legal_unit"
            ]
          },
          "basis": {
            "type": "string",
            "enum": [
              "source_band"
            ]
          },
          "mapping_version": {
            "type": "string",
            "enum": [
              "fr-sirene-employees-v1"
            ]
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "kind",
          "exact",
          "lower",
          "upper",
          "upper_open",
          "source_code",
          "reference_year",
          "unit",
          "population",
          "basis",
          "mapping_version"
        ]
      },
      "FieldMeta": {
        "type": "object",
        "description": "Use this when an agent receives a Company record with `?include=field_meta` and needs to explain WHY a field is null (data gap vs. registry doesn't publish vs. FirmaDB hasn't ingested). Does map every canonical Company field name to a state + provenance triple (state, source_url, retrieved_at, confidence). Does NOT contain the field VALUES themselves — values live on the parent Company; FieldMeta only describes them. Parameters: `{\"employee_count\": {\"state\": \"not_published_by_registry\", \"country\": \"BG\", \"source_url\": null, \"retrieved_at\": null, \"confidence\": null}, \"nace_code\": {\"state\": \"available\", \"source_url\": \"https://annuaire-entreprises.data.gouv.fr/entreprise/552120222\", \"retrieved_at\": \"2026-05-04T03:14:22Z\", \"confidence\": \"registry\"}}`.\n",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "state": {
              "type": "string",
              "enum": [
                "available",
                "unknown",
                "not_published_by_registry",
                "not_collected",
                "stale",
                "estimated",
                "derived"
              ],
              "description": "Exhaustive state enum (no other values permitted). `available` = value present from registry. `unknown` = country collects this field but this record has no value. `not_published_by_registry` = the registry does not publish this field at all. `not_collected` = FirmaDB hasn't ingested this field for this country (pipeline gap, not registry gap). `stale` = value exists but exceeds freshness threshold. `estimated`/`derived` reserved for future use. Example — `available`.\n",
              "examples": [
                "available"
              ]
            },
            "country": {
              "type": [
                "string",
                "null"
              ],
              "description": "ISO alpha-2 country code attached to the meta entry when relevant (e.g., explaining `not_published_by_registry` for a specific country). Example — `BG`.",
              "examples": [
                "BG"
              ]
            },
            "basis": {
              "type": "string",
              "enum": [
                "source_band_not_exact_count",
                "source_input_unavailable"
              ],
              "description": "Optional explanation for unavailable exact employee counts. Source band provenance is supplied by the employees expansion, not by this unavailable field."
            },
            "source_url": {
              "type": [
                "string",
                "null"
              ],
              "format": "uri",
              "description": "Direct link to the registry page that supplied this field's value. Null when state is not `available`. Example — `https://annuaire-entreprises.data.gouv.fr/entreprise/552120222`.",
              "examples": [
                "https://annuaire-entreprises.data.gouv.fr/entreprise/552120222"
              ]
            },
            "retrieved_at": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time",
              "description": "ISO 8601 UTC timestamp when this specific field was last verified at source. Null when state is not `available`. Example — `2026-05-04T03:14:22Z`.",
              "examples": [
                "2026-05-04T03:14:22Z"
              ]
            },
            "confidence": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "registry",
                "estimated",
                "derived",
                null
              ],
              "description": "`registry` = direct from the official government source (highest trust). `estimated` = computed by FirmaDB. `derived` = inferred from other fields. `null` when state is not `available`. Example — `registry`.\n",
              "examples": [
                "registry"
              ]
            }
          },
          "required": [
            "state"
          ]
        },
        "examples": [
          {
            "employee_count": {
              "state": "not_published_by_registry",
              "country": "BG",
              "source_url": null,
              "retrieved_at": null,
              "confidence": null
            },
            "nace_code": {
              "state": "available",
              "source_url": "https://annuaire-entreprises.data.gouv.fr/entreprise/552120222",
              "retrieved_at": "2026-05-04T03:14:22Z",
              "confidence": "registry"
            }
          }
        ]
      },
      "Provenance": {
        "type": "object",
        "description": "Use this when a customer's audit log, KYB dossier, or compliance report needs full chain-of-custody metadata for a record. Returned only when `?include=provenance` is sent on a lookup. Does provide registry name + URL + license, ingestion method, dataset version, content hash, first-seen and last-changed timestamps, and a change counter. Does NOT replace the always-on `source_url` and `data_freshness` on the parent Company — Provenance is the deeper view, not a substitute. Parameters: `{\"registry_name\": \"INSEE Sirene\", \"registry_url\": \"https://www.sirene.fr/\", \"registry_license\": \"Open Licence 2.0\", \"ingestion_method\": \"bulk_download\", \"dataset_version\": \"sirene_2026-05-04\", \"record_hash\": \"sha256:a1b2c3...\", \"first_seen_at\": \"2024-03-15T00:00:00Z\", \"last_changed_at\": \"2026-04-28T02:00:00Z\"}` (Société Générale FR/552120222).\n",
        "properties": {
          "registry_name": {
            "type": "string",
            "description": "Official name of the source registry. Example — `INSEE Sirene` (FR), `Companies House` (GB).",
            "examples": [
              "INSEE Sirene"
            ]
          },
          "registry_url": {
            "type": "string",
            "format": "uri",
            "description": "Homepage URL of the source registry. Example — `https://www.sirene.fr/`.",
            "examples": [
              "https://www.sirene.fr/"
            ]
          },
          "registry_license": {
            "type": "string",
            "description": "Real licence name the source data is published under, from FirmaDB's enforced per-source policy (no longer a flattened placeholder). Example — `Open Government Licence v3.0`.",
            "examples": [
              "Licence Ouverte v2.0 (Etalab)"
            ]
          },
          "license_terms_url": {
            "type": "string",
            "nullable": true,
            "description": "Link to the source licence terms. Example — `https://www.etalab.gouv.fr/licence-ouverte-open-licence/`."
          },
          "attribution_required": {
            "type": "boolean",
            "description": "Whether you must display the attribution string when redistributing this record's source (false for public-domain / CC0 sources)."
          },
          "attribution": {
            "type": "string",
            "nullable": true,
            "description": "The attribution text to display on redistribution, rendered from the source policy (includes the data update date where the licence requires it). Null when attribution is not required. Example — `Contains Irish Public Sector Data licensed under a Creative Commons Attribution 4.0 International (CC BY 4.0) licence.`"
          },
          "resale": {
            "type": "string",
            "enum": [
              "allowed",
              "conditional",
              "forbidden"
            ],
            "description": "Redistribution posture for the source, from FirmaDB's licence audit. Sources with `forbidden` are not served at all."
          },
          "ingestion_method": {
            "type": "string",
            "enum": [
              "bulk_download",
              "api",
              "scrape"
            ],
            "description": "How FirmaDB acquired the record. `bulk_download` = full dataset dumps (most common, cheapest). `api` = registry's official API. `scrape` = HTML scrape of registry pages (last resort, only where no machine-readable feed exists). Example — `bulk_download`.\n",
            "examples": [
              "bulk_download"
            ]
          },
          "dataset_version": {
            "type": "string",
            "description": "Version identifier of the source dataset that produced this record. Used for replay and audit. Example — `sirene_2026-05-04`.",
            "examples": [
              "sirene_2026-05-04"
            ]
          },
          "record_hash": {
            "type": "string",
            "description": "SHA-256 hex hash of the canonicalized record. Use to detect change between fetches without diffing every field. Example — `sha256:a1b2c3...`.",
            "examples": [
              "sha256:a1b2c3d4e5f607890a1b2c3d4e5f6789"
            ]
          },
          "first_seen_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 UTC timestamp when FirmaDB first indexed this record. Useful for \"company age in our data\" displays. Example — `2024-03-15T00:00:00Z`.",
            "examples": [
              "2024-03-15T00:00:00Z"
            ]
          },
          "last_changed_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 UTC timestamp when any field on this record last changed (registry update reflected in our data). Example — `2026-04-28T02:00:00Z`.",
            "examples": [
              "2026-04-28T02:00:00Z"
            ]
          }
        },
        "required": [
          "registry_name",
          "registry_url",
          "registry_license",
          "ingestion_method",
          "dataset_version",
          "record_hash",
          "first_seen_at",
          "last_changed_at"
        ],
        "examples": [
          {
            "registry_name": "INSEE Sirene",
            "registry_url": "https://www.sirene.fr/",
            "registry_license": "Licence Ouverte v2.0 (Etalab)",
            "license_terms_url": "https://www.etalab.gouv.fr/licence-ouverte-open-licence/",
            "attribution_required": true,
            "attribution": "Source: INSEE Sirene (data.gouv.fr), Licence Ouverte 2.0",
            "resale": "allowed",
            "ingestion_method": "bulk_download",
            "dataset_version": "sirene_2026-05-04",
            "record_hash": "sha256:a1b2c3d4e5f607890a1b2c3d4e5f6789",
            "first_seen_at": "2024-03-15T00:00:00Z",
            "last_changed_at": "2026-04-28T02:00:00Z"
          }
        ]
      },
      "Company": {
        "type": "object",
        "description": "Use this when an agent or developer has resolved a target to a single (country, registry_id) and needs the canonical FirmaDB record. Does represent one company as published by an official European national registry, with normalized status, semantic NACE description, address, employee count where collected, plus always-on `source_url` and `data_freshness`. Does NOT represent beneficial owners, officers, financial filings, sanctions hits, or trading aliases — those are separate (deferred) resources. With `include_nulls=false` (default), fields the country does not collect are omitted entirely; with `include_nulls=true` all canonical fields appear (use `?include=field_meta` to learn WHY each null is null). Parameters: lookup of Société Générale returns `{\"object\": \"company\", \"country\": \"FR\", \"registry_id\": \"552120222\", \"name\": \"Société Générale\", \"legal_form\": \"SA a conseil d'administration\", \"legal_form_code\": \"5710\", \"status\": \"active\", \"status_active\": true, ...}`.\n",
        "properties": {
          "object": {
            "type": "string",
            "const": "company",
            "description": "Discriminator literal. Always `company`. Use to distinguish Company from BatchResultItem.error or list envelopes when records are nested.",
            "examples": [
              "company"
            ]
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "minLength": 2,
            "maxLength": 2,
            "description": "ISO 3166-1 alpha-2 country code (uppercase) of the registry that issued this record. Always present. Example — `FR`.",
            "examples": [
              "FR"
            ]
          },
          "registry_id": {
            "type": "string",
            "maxLength": 50,
            "description": "National registry identifier as a string. Leading zeros are significant — preserve exactly. Format varies by country (FR SIREN = 9 digits, GB CRN = 8 alphanumerics, BE VAT = `0203.201.340`). Example — `552120222` (Société Générale FR SIREN).",
            "examples": [
              "552120222"
            ]
          },
          "name": {
            "type": "string",
            "description": "Official registered company name as published by the registry, locale-preserved. Example — `SOCIETE GENERALE`.",
            "examples": [
              "SOCIETE GENERALE"
            ]
          },
          "legal_form": {
            "type": "string",
            "description": "Full local-language name of the company's legal form. Present only when the country collects this field. Example — `SA a conseil d'administration` (FR), `Private Limited Company` (GB).",
            "examples": [
              "SA a conseil d'administration"
            ]
          },
          "legal_form_code": {
            "type": "string",
            "description": "National classification code for the legal form. Always paired with `legal_form` when collected. Example for Société Générale — `5710`.",
            "examples": [
              "5710"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "dissolved",
              "liquidation",
              "deregistered",
              "bankrupt",
              "deleted",
              "unknown"
            ],
            "description": "Canonical status, normalized identically across all 18 registries — one enum, so `if status == \"dissolved\"` never silently misses a country. Branch on this, never on raw registry text. `active` = currently operating; `dissolved` = struck off / removed; `liquidation` = winding-up (not yet dissolved); `deregistered` = cancelled by the registry; `bankrupt` = insolvency proceedings; `deleted` = removed at source; `unknown` = no determinable status (treat conservatively, never as active). New values may appear over time — treat any unrecognised value as `unknown`. The un-normalized registry string is available as `status_raw` under `?include=provenance`. Example — `active`.\n",
            "examples": [
              "active"
            ]
          },
          "status_active": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Convenience boolean. `true` when status is `active`; `false` for `dissolved`/`liquidation`/`deregistered`/`bankrupt`/`deleted`; `null` when status is `unknown`. Use this for binary \"is it operating?\" decisions; treat `null` as \"needs human review\", not as `true`. Example — `true`.",
            "examples": [
              true
            ]
          },
          "registered_date": {
            "type": "string",
            "format": "date",
            "description": "ISO 8601 date (YYYY-MM-DD) the company was first registered. Present when collected. Example for Société Générale — `1900-01-01`.",
            "examples": [
              "1900-01-01"
            ]
          },
          "dissolution_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "ISO 8601 date the company was dissolved. `null` for active companies (only included when `include_nulls=true`). Always present with a value for dissolved companies. Example — `null` (Société Générale is active).",
            "examples": [
              null
            ]
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "nace_code": {
            "type": "string",
            "description": "European NACE Rev.2 code (4-digit + optional letter suffix in some countries). Always paired with `nace_description` when collected. Example for Société Générale (banking) — `64.19Z`.",
            "examples": [
              "64.19Z"
            ]
          },
          "nace_description": {
            "type": "string",
            "description": "Human-readable description of the NACE code (P3 — semantic name alongside the code). Example for `64.19Z` — `Other monetary intermediation`.",
            "examples": [
              "Other monetary intermediation"
            ]
          },
          "employee_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Exact employee count where available. French SIRENE size bands are not exact counts and this field is null or omitted for France; request include=employees for the retained source band and reference year. Missing source facts remain unknown. Exact zero is not missing.",
            "examples": [
              7500
            ]
          },
          "website": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Company website URL. Coverage varies sharply — most registries do not publish this (e.g., FR Sirene does not). Example — `https://www.societegenerale.com`.",
            "examples": [
              "https://www.societegenerale.com"
            ]
          },
          "source_url": {
            "type": "string",
            "format": "uri",
            "description": "Direct link to the registry's public page for this record. ALWAYS present on every Company. This is the FirmaDB provenance moat — preserve it when displaying data downstream (DPA requirement). Example — `https://annuaire-entreprises.data.gouv.fr/entreprise/552120222`.",
            "examples": [
              "https://annuaire-entreprises.data.gouv.fr/entreprise/552120222"
            ]
          },
          "data_freshness": {
            "$ref": "#/components/schemas/DataFreshness"
          },
          "field_meta": {
            "$ref": "#/components/schemas/FieldMeta"
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "employees": {
            "description": "Opt-in include=employees source-band expansion. Null for unsupported countries; missing FR input reports unknown.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/EmployeeBand"
              },
              {
                "type": "null"
              }
            ]
          },
          "match": {
            "$ref": "#/components/schemas/MatchBlock"
          },
          "request_id": {
            "type": "string",
            "pattern": "^req_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "ULID prefixed with `req_`. Mirrors the `x-request-id` response header. Pass back when reporting issues. Example — `req_01HZAB7MJX9V8GG6P3K5R2QC4N`.",
            "examples": [
              "req_01HZAB7MJX9V8GG6P3K5R2QC4N"
            ]
          }
        },
        "required": [
          "object",
          "country",
          "registry_id",
          "name",
          "status",
          "status_active",
          "source_url",
          "data_freshness",
          "request_id"
        ],
        "examples": [
          {
            "object": "company",
            "country": "FR",
            "registry_id": "552120222",
            "name": "SOCIETE GENERALE",
            "legal_form": "SA a conseil d'administration",
            "legal_form_code": "5710",
            "status": "active",
            "status_active": true,
            "registered_date": "1900-01-01",
            "dissolution_date": null,
            "address": {
              "street": "29 Boulevard Haussmann",
              "city": "Paris",
              "postal_code": "75009",
              "country": "FR"
            },
            "nace_code": "64.19Z",
            "nace_description": "Other monetary intermediation",
            "employee_count": null,
            "website": "https://www.societegenerale.com",
            "source_url": "https://annuaire-entreprises.data.gouv.fr/entreprise/552120222",
            "data_freshness": {
              "record_retrieved_at": "2026-05-04T02:15:00Z",
              "country_dataset_updated_at": "2026-05-04T02:00:00Z",
              "freshness_status": "current",
              "max_age_days": 7
            },
            "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4N"
          }
        ]
      },
      "MatchBlock": {
        "type": "object",
        "description": "Use this when interpreting a search result and deciding whether the top hit is \"good enough\" to act on without human review. Does report a normalized score (0.0-1.0), the matched_fields list, and a one-line human-readable explanation of why this record matched. Does NOT guarantee correctness for ambiguous queries (e.g., \"ABC Trading\" matches dozens) — for low-confidence hits the agent must inspect addresses or escalate. Parameters: `{\"score\": 0.92, \"matched_fields\": [\"name\"], \"explanation\": \"Exact prefix match on company name\"}`.\n",
        "properties": {
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Confidence score from Meilisearch ranking, normalized to [0, 1]. Rule of thumb — `>= 0.9` = act safely, `0.7–0.9` = inspect with the user, `< 0.7` = ask for disambiguation. Example — `0.92`.\n",
            "examples": [
              0.92
            ]
          },
          "matched_fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of Company fields where the query matched. Most distinctive matches come from `name`; `address_*` matches are weaker for common addresses. Example — `[\"name\"]`.",
            "examples": [
              [
                "name"
              ]
            ]
          },
          "explanation": {
            "type": "string",
            "description": "One-line human-readable explanation of WHY this record matched. Surface this to humans for transparency; agents can branch on `score` instead. Example — `Exact prefix match on company name`.",
            "examples": [
              "Exact prefix match on company name"
            ]
          }
        },
        "required": [
          "score",
          "matched_fields",
          "explanation"
        ],
        "examples": [
          {
            "score": 0.92,
            "matched_fields": [
              "name"
            ],
            "explanation": "Exact prefix match on company name"
          }
        ]
      },
      "CompanyList": {
        "type": "object",
        "description": "Use this when paginating over search or list results. Does wrap a `data` array of Company records with cursor-based pagination metadata (`has_more`, `next_cursor`) plus an estimated `total_count` (exact below 1,000, approximate above). Does NOT use page numbers or offsets — pass `next_cursor` as the `cursor` query param on the next request. Cursors are bound to the original query — sending a cursor with different filters returns 400 `invalid_cursor`. Parameters: response from `GET /v1/companies/search?q=Societe%20Generale&country=FR` returns `{\"object\": \"list\", \"url\": \"/v1/companies/search\", \"data\": [...], \"total_count\": 1234, \"total_count_relation\": \"exact\", \"has_more\": true, \"next_cursor\": \"cur_eyJjIjoiRlIiLCJyIjoiNTUyMTIwMjIyIiwicyI6MC45Mn0=\", \"request_id\": \"req_...\"}`.\n",
        "properties": {
          "object": {
            "type": "string",
            "const": "list",
            "description": "Discriminator literal. Always `list`. Distinguishes a list envelope from a single resource.",
            "examples": [
              "list"
            ]
          },
          "url": {
            "type": "string",
            "description": "Path of the request that produced this list (no query string). Useful for relative reconstruction. Example — `/v1/companies/search`.",
            "examples": [
              "/v1/companies/search"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Company"
            },
            "description": "Array of Company records for this page. Empty array `[]` is valid for zero-result searches (not an error). Maximum page size 50."
          },
          "total_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Estimated total matches across all pages. Exact when below 1,000; approximate when above (Meilisearch limitation — see `total_count_relation`). Do NOT use approximate values for billing estimates — call `firmadb_estimate_cost` instead. Example — `1234`.",
            "examples": [
              1234
            ]
          },
          "total_count_relation": {
            "type": "string",
            "enum": [
              "exact",
              "approximate"
            ],
            "description": "`exact` for result sets below 1,000; `approximate` above. Approximate values may differ from truth by up to ±20%. Example — `exact`.\n",
            "examples": [
              "exact"
            ]
          },
          "has_more": {
            "type": "boolean",
            "description": "Canonical \"are there more pages\" signal. Branch on this, NOT on cursor presence. Example — `true`.",
            "examples": [
              true
            ]
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque base64 token to pass as `cursor` on the next request. `null` when `has_more` is false. Cursors are query-bound — using one with different filters returns 400 `invalid_cursor`. Maximum result window 10,000 records per query — past that the response includes a `_warnings` entry suggesting narrower filters. Example — `cur_eyJjIjoiRlIiLCJyIjoiNTUyMTIwMjIyIiwicyI6MC45Mn0=`.",
            "examples": [
              "cur_eyJjIjoiRlIiLCJyIjoiNTUyMTIwMjIyIiwicyI6MC45Mn0="
            ]
          },
          "_warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Non-fatal advisory messages (e.g., cross-country search slowdown, exceeded result window). Always optional — clients should display when present. Example — `[\"Cross-country search is slower and capped at 10 results. Add country= for faster results.\"]`.",
            "examples": [
              [
                "Cross-country search is slower and capped at 10 results. Add country= for faster results."
              ]
            ]
          },
          "request_id": {
            "type": "string",
            "pattern": "^req_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "ULID prefixed with `req_`. Mirrors the `x-request-id` response header. Example — `req_01HZAB7MJX9V8GG6P3K5R2QC4N`.",
            "examples": [
              "req_01HZAB7MJX9V8GG6P3K5R2QC4N"
            ]
          }
        },
        "required": [
          "object",
          "data",
          "total_count",
          "total_count_relation",
          "has_more",
          "request_id"
        ],
        "examples": [
          {
            "object": "list",
            "url": "/v1/companies/search",
            "data": [],
            "total_count": 1234,
            "total_count_relation": "exact",
            "has_more": true,
            "next_cursor": "cur_eyJjIjoiRlIiLCJyIjoiNTUyMTIwMjIyIiwicyI6MC45Mn0=",
            "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4N"
          }
        ]
      },
      "BatchRequest": {
        "type": "object",
        "description": "Use this when enriching a CRM list, running a KYB batch, or any workflow that needs 1-100 exact (country, registry_id) lookups in one synchronous call. Does accept a `references` array (1-100 items, each with `country` and `registry_id`) plus an optional `include` array for `field_meta` / `provenance` expansions; the `Idempotency-Key` HTTP header (NOT a body field) makes retries safe. Does NOT accept fuzzy names — use `firmadb_search_companies` first, then batch the resolved IDs. Does NOT support more than 100 rows per request — split client-side and call `firmadb_estimate_cost` first. Parameters: `{\"references\": [{\"country\": \"FR\", \"registry_id\": \"552120222\"}, {\"country\": \"GB\", \"registry_id\": \"12345678\"}, {\"country\": \"IE\", \"registry_id\": \"999999\"}], \"include\": [\"field_meta\"]}`.\n",
        "properties": {
          "references": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string",
                  "pattern": "^[A-Z]{2}$",
                  "minLength": 2,
                  "maxLength": 2,
                  "description": "ISO 3166-1 alpha-2 country code (uppercase). Invalid codes do NOT reject the whole batch — they return a per-item `invalid_country` error at the same array position. Example — `FR`.",
                  "examples": [
                    "FR"
                  ]
                },
                "registry_id": {
                  "type": "string",
                  "maxLength": 50,
                  "description": "National registry ID. Leading zeros significant. Example — `552120222` (FR SIREN), `12345678` (GB CRN).",
                  "examples": [
                    "552120222"
                  ]
                }
              },
              "required": [
                "country",
                "registry_id"
              ]
            },
            "description": "Array of (country, registry_id) lookup references. Duplicates allowed — each occurrence is processed independently and billed independently if found. Example — `[{\"country\": \"FR\", \"registry_id\": \"552120222\"}, {\"country\": \"GB\", \"registry_id\": \"12345678\"}]`."
          },
          "include": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "field_meta",
                "provenance",
                "employees"
              ]
            },
            "description": "Optional expansions applied to every Company in the response. Same semantics as the single-lookup `?include=` query param. Example — `[\"field_meta\"]`.",
            "examples": [
              [
                "field_meta"
              ]
            ]
          }
        },
        "required": [
          "references"
        ],
        "examples": [
          {
            "references": [
              {
                "country": "FR",
                "registry_id": "552120222"
              },
              {
                "country": "GB",
                "registry_id": "12345678"
              },
              {
                "country": "IE",
                "registry_id": "999999"
              }
            ],
            "include": [
              "field_meta"
            ]
          }
        ]
      },
      "BatchResultItem": {
        "type": "object",
        "description": "Use this when iterating the per-row results of a batch lookup response. Does represent ONE row's outcome — either `{status: \"found\", company: Company}` or `{status: \"not_found\", error: ProblemDetail}` (an embedded RFC 9457 sub-problem). Does NOT change array position relative to the request — index N in `references` maps to index N in `results`. Parameters: found row `{\"status\": \"found\", \"company\": {\"object\": \"company\", \"country\": \"FR\", \"registry_id\": \"552120222\", \"name\": \"Société Générale\"}}` and not-found row `{\"status\": \"not_found\", \"error\": {\"type\": \"https://errors.firmadb.com/company-not-found\", \"title\": \"Company not found\", \"status\": 404, \"code\": \"company_not_found\", \"detail\": \"No company with registry_id '999999' exists in IE.\"}}`.\n",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "found",
              "not_found"
            ],
            "description": "`found` — the row resolved to a Company record (billable). `not_found` — registry ID is well-formed but no record exists, OR the row had a per-item validation error (e.g., invalid country). `not_found` rows are NOT billed. Example — `found`.\n",
            "examples": [
              "found"
            ]
          },
          "company": {
            "$ref": "#/components/schemas/Company"
          },
          "error": {
            "$ref": "#/components/schemas/ProblemDetail"
          }
        },
        "required": [
          "status"
        ],
        "examples": [
          {
            "status": "found",
            "company": {
              "object": "company",
              "country": "FR",
              "registry_id": "552120222",
              "name": "SOCIETE GENERALE",
              "status": "active",
              "status_active": true,
              "source_url": "https://annuaire-entreprises.data.gouv.fr/entreprise/552120222",
              "data_freshness": {
                "record_retrieved_at": "2026-05-04T02:15:00Z",
                "country_dataset_updated_at": "2026-05-04T02:00:00Z",
                "freshness_status": "current",
                "max_age_days": 7
              },
              "request_id": "req_01HZAB7MJX9V8GG6P3K5R2QC4N"
            }
          }
        ]
      },
      "BatchResponse": {
        "type": "object",
        "description": "Use this when consuming the response from `POST /v1/companies/lookup-batch`. Does return a positional `results` array (same order as request `references`) plus a `summary` block with totals and `billable_results`. Does NOT use HTTP status to communicate per-row outcomes — HTTP is always 200 for envelope-valid requests; check `summary.found` + per-row `status` instead. Parameters: response with 3 input rows (2 found, 1 not found) returns `{\"object\": \"batch_result\", \"results\": [{\"status\": \"found\", \"company\": ...}, {\"status\": \"found\", \"company\": ...}, {\"status\": \"not_found\", \"error\": {...}}], \"summary\": {\"total\": 3, \"found\": 2, \"not_found\": 1, \"billable_results\": 2}, \"request_id\": \"req_...\"}`.\n",
        "properties": {
          "object": {
            "type": "string",
            "const": "batch_result",
            "description": "Discriminator literal. Always `batch_result`.",
            "examples": [
              "batch_result"
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchResultItem"
            },
            "description": "Per-row outcomes in input order. Length always equals `references.length`."
          },
          "summary": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0,
                "description": "Total rows processed (equal to `results.length`). Example — `3`.",
                "examples": [
                  3
                ]
              },
              "found": {
                "type": "integer",
                "minimum": 0,
                "description": "Number of rows that returned a Company record. Example — `2`.",
                "examples": [
                  2
                ]
              },
              "not_found": {
                "type": "integer",
                "minimum": 0,
                "description": "Number of rows that did NOT resolve (404 or per-item validation). Example — `1`.",
                "examples": [
                  1
                ]
              },
              "billable_results": {
                "type": "integer",
                "minimum": 0,
                "description": "Equals `found`. Use this when reconciling client-side cost estimates against actual billing. Example — `2`.",
                "examples": [
                  2
                ]
              }
            },
            "required": [
              "total",
              "found",
              "not_found",
              "billable_results"
            ],
            "description": "Aggregate counts for the batch. `billable_results` is the only count that affects the monthly quota."
          },
          "request_id": {
            "type": "string",
            "pattern": "^req_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "ULID prefixed with `req_`. Mirrors the `x-request-id` response header. Example — `req_01HZAB7MJX9V8GG6P3K5R2QC4N`.",
[...]
