{
  "openapi": "3.1.0",
  "info": {
    "title": "Hydracept Public API",
    "version": "0.5.2",
    "x-hydracept-caller-context-limits": {
      "metadataMaxBytes": {
        "value": 16384,
        "reason": "Keeps caller metadata bounded; use object storage for large payloads."
      },
      "tagsMaxCount": {
        "value": 32,
        "reason": "Practical limit for correlation labels on a single job."
      },
      "tagMaxLength": {
        "value": 256,
        "reason": "Fits composite correlation refs (for example story:<uuid>:chapter:<n>)."
      },
      "externalRefMaxLength": {
        "value": 255,
        "reason": "Maximum length for your external reference id on a job."
      },
      "metadataMaxDepth": {
        "value": 32,
        "reason": "Prevents excessively nested metadata objects."
      },
      "enforcement": "Published values are hard ceilings for the public API. Hydracept may enforce lower limits on a deployment. Values below 1 or above these ceilings are clamped to the ceiling."
    },
    "description": "One API to run external AI capabilities—with durable jobs, receipts, and BYOK. Public integration surface for Hydracept capabilities and jobs. Authenticate with a Hydracept API key (Bearer). The info.version field tracks the current published Hydracept client release, not a separate HTTP API semver.",
    "x-jentic-source-url": "https://api.hydracept.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.hydracept.com",
      "description": "Hydracept production API"
    }
  ],
  "paths": {
    "/v1/adapter-aliases": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "model-adapter-aliases"
        ],
        "summary": "Create Stable Model Adapter Alias",
        "operationId": "create_alias_v1_adapter_aliases_post",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelAdapterAliasCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Create Alias V1 Adapter Aliases Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      },
      "get": {
        "tags": [
          "public_api",
          "external",
          "model-adapter-aliases"
        ],
        "summary": "List Stable Model Adapter Aliases",
        "operationId": "list_aliases_v1_adapter_aliases_get",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Environment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response List Aliases V1 Adapter Aliases Get"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/adapter-aliases/{alias_name}": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "model-adapter-aliases"
        ],
        "summary": "Get Model Adapter Alias",
        "operationId": "get_alias_v1_adapter_aliases__alias_name__get",
        "parameters": [
          {
            "name": "alias_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias Name"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Environment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Alias V1 Adapter Aliases  Alias Name  Get"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/adapter-aliases/{alias_name}/versions": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "model-adapter-aliases"
        ],
        "summary": "List Immutable Model Adapter Alias Versions",
        "operationId": "list_alias_versions_v1_adapter_aliases__alias_name__versions_get",
        "parameters": [
          {
            "name": "alias_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias Name"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Environment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response List Alias Versions V1 Adapter Aliases  Alias Name  Versions Get"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/adapter-aliases/{alias_name}/promotions": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "model-adapter-aliases"
        ],
        "summary": "Explicitly Promote Model Adapter Alias",
        "operationId": "promote_alias_v1_adapter_aliases__alias_name__promotions_post",
        "parameters": [
          {
            "name": "alias_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias Name"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Environment"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelAdapterAliasPromote"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Promote Alias V1 Adapter Aliases  Alias Name  Promotions Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/adapter-aliases/{alias_name}/recipe-binding": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "model-adapter-aliases"
        ],
        "summary": "Pin Alias Version For Project Recipe",
        "operationId": "bind_alias_for_recipe_v1_adapter_aliases__alias_name__recipe_binding_post",
        "parameters": [
          {
            "name": "alias_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alias Name"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Environment"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeBindingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Bind Alias For Recipe V1 Adapter Aliases  Alias Name  Recipe Binding Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/adapter-defaults/{capability_key}": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "model-adapter-aliases"
        ],
        "summary": "Get Project Model Adapter Default",
        "operationId": "get_adapter_default_v1_adapter_defaults__capability_key__get",
        "parameters": [
          {
            "name": "capability_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Capability Key"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Environment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Adapter Default V1 Adapter Defaults  Capability Key  Get"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "public_api",
          "external",
          "model-adapter-aliases"
        ],
        "summary": "Set Project Model Adapter Default",
        "operationId": "put_adapter_default_v1_adapter_defaults__capability_key__put",
        "parameters": [
          {
            "name": "capability_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Capability Key"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Environment"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectModelAdapterDefaultSet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Put Adapter Default V1 Adapter Defaults  Capability Key  Put"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "public_api",
          "external",
          "model-adapter-aliases"
        ],
        "summary": "Clear Project Model Adapter Default",
        "operationId": "delete_adapter_default_v1_adapter_defaults__capability_key__delete",
        "parameters": [
          {
            "name": "capability_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Capability Key"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Environment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Delete Adapter Default V1 Adapter Defaults  Capability Key  Delete"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/capabilities/image.generate.v1/estimate": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "model-adapters"
        ],
        "summary": "Quote Image Generation With Model Adapters",
        "description": "Use the normal retail estimator, constraining it to adapter-compatible routes.\n\nThe extra routingAlternatives field is explanatory only. The nested pricing\nquote remains the monetary authority used by ordinary admission.",
        "operationId": "quote_image_with_adapters_v1_capabilities_image_generate_v1_estimate_post",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetailEstimateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailEstimateResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "402": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": [
          "service_principal",
          "human_session",
          "panel_session"
        ],
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/capabilities/image.generate.v1/quote": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "model-adapters"
        ],
        "summary": "Quote Image Generation With Model Adapters",
        "description": "Use the normal retail estimator, constraining it to adapter-compatible routes.\n\nThe extra routingAlternatives field is explanatory only. The nested pricing\nquote remains the monetary authority used by ordinary admission.",
        "operationId": "quote_image_with_adapters_v1_capabilities_image_generate_v1_quote_post",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetailEstimateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailEstimateResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "402": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": [
          "service_principal",
          "human_session",
          "panel_session"
        ],
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/adapters": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "model-adapters"
        ],
        "summary": "Register Model Adapter",
        "operationId": "post_adapter_v1_adapters_post",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelAdapterCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Post Adapter V1 Adapters Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      },
      "get": {
        "tags": [
          "public_api",
          "external",
          "model-adapters"
        ],
        "summary": "List Project Model Adapters",
        "operationId": "get_adapters_v1_adapters_get",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Environment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Adapters V1 Adapters Get"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/adapters/source-preview": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "model-adapters"
        ],
        "summary": "Preview LoRA Source Before Registration",
        "description": "Look up a public Hugging Face LoRA and propose registration choices.\n\nThe response fills revision, weights file, base-model family, name, strength,\nand trigger words when the model card knows them. It does not register an\nadapter, download weight tensors, or spend provider credits. Several equally\nplausible weight files stay unselected until the caller chooses one.",
        "operationId": "preview_adapter_source_v1_adapters_source_preview_post",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModelAdapterSourcePreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Preview Adapter Source V1 Adapters Source Preview Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/adapters/suggestions": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "model-adapters"
        ],
        "summary": "Suggest a LoRA",
        "description": "Suggest a project LoRA or a public Hugging Face LoRA without registering it.\n\nA project alias, adapter id, or unique display name becomes a generation patch.\nA link becomes a suggestion the caller can show and later accept. This does not\ndownload weight tensors or spend provider credits.",
        "operationId": "suggest_lora_v1_adapters_suggestions_post",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Environment"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoraSuggestionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Suggest Lora V1 Adapters Suggestions Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/adapters/suggestions/accept": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "model-adapters"
        ],
        "summary": "Use or Add a Suggested LoRA",
        "description": "Use a project LoRA, or register an unambiguous public one and then use it.\n\nRegistration happens only when a weights file is known. Several weight files,\nor a missing base model, return the same choice the suggestion would have shown.\nThis does not generate an image or spend provider credits.",
        "operationId": "accept_lora_suggestion_v1_adapters_suggestions_accept_post",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Environment"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoraAcceptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Accept Lora Suggestion V1 Adapters Suggestions Accept Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/adapters/upload": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "model-adapters"
        ],
        "summary": "Upload And Register LoRA Weights",
        "description": "Upload immutable safetensors weights and register them as one adapter.\n\nThe upload is streamed to disk, structurally validated, then committed using\nthe project's ordinary storage disposition. No generation or paid provider\ncall occurs here.",
        "operationId": "upload_adapter_v1_adapters_upload_post",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Projectid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_adapter_v1_adapters_upload_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Upload Adapter V1 Adapters Upload Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/adapters/{adapter_id}/revalidate": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "model-adapters"
        ],
        "summary": "Revalidate Model Adapter Source",
        "description": "Refresh source health for the adapter's frozen source identity.\n\nThis never advances a Hugging Face branch/tag, changes an alias target, or\nperforms generation. Repo-only Hugging Face registrations remain catalog-only.",
        "operationId": "revalidate_adapter_v1_adapters__adapter_id__revalidate_post",
        "parameters": [
          {
            "name": "adapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Adapter Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Revalidate Adapter V1 Adapters  Adapter Id  Revalidate Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/adapters/{adapter_id}": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "model-adapters"
        ],
        "summary": "Get Model Adapter",
        "operationId": "get_adapter_v1_adapters__adapter_id__get",
        "parameters": [
          {
            "name": "adapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Adapter Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Adapter V1 Adapters  Adapter Id  Get"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "public_api",
          "external",
          "model-adapters"
        ],
        "summary": "Delete Model Adapter",
        "operationId": "delete_adapter_v1_adapters__adapter_id__delete",
        "parameters": [
          {
            "name": "adapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Adapter Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Delete Adapter V1 Adapters  Adapter Id  Delete"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "409": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/capabilities/resolve": {
      "post": {
        "summary": "Resolve Capability",
        "description": "Resolve semantic suitability, then project authenticated access truth.",
        "operationId": "resolve_capability_for_workspace_v1_capabilities_resolve_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapabilityResolutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityResolutionResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "anonymous",
        "x-hydracept-client-codegen": true,
        "tags": [
          "public_api",
          "external"
        ],
        "security": []
      }
    },
    "/v1/capabilities/{capability_key}/estimate": {
      "post": {
        "summary": "Quote Capability Charge",
        "description": "HTTP alias of POST /quote. Same RetailEstimateResponse body (pricing.quote).",
        "operationId": "estimate_capability_for_workspace_v1_capabilities__capability_key__estimate_post",
        "parameters": [
          {
            "name": "capability_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Capability Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetailEstimateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailEstimateResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "402": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": [
          "service_principal",
          "human_session",
          "panel_session"
        ],
        "x-hydracept-client-codegen": true,
        "tags": [
          "public_api",
          "external"
        ],
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/capabilities/{capability_key}/quote": {
      "post": {
        "summary": "Quote Capability Charge",
        "description": "Retail quote. Nested pricing.quote is financial authority. Does not reserve or charge funds.",
        "operationId": "estimate_capability_for_workspace_v1_capabilities__capability_key__quote_post",
        "parameters": [
          {
            "name": "capability_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Capability Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetailEstimateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailEstimateResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "402": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": [
          "service_principal",
          "human_session",
          "panel_session"
        ],
        "x-hydracept-client-codegen": true,
        "tags": [
          "public_api",
          "external"
        ],
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/capabilities/{capability_key}": {
      "get": {
        "summary": "Describe Capability",
        "description": "Describe catalog semantics plus the one workspace access projection.\n\nFunding/readiness is not recomputed from a caller funding snapshot here;\nCapabilityAccessDecision already owns whether this workspace can execute.",
        "operationId": "describe_capability_for_workspace_v1_capabilities__capability_key__get",
        "parameters": [
          {
            "name": "capability_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Capability Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCapabilityDescriptor"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "anonymous",
        "x-hydracept-client-codegen": true,
        "tags": [
          "public_api",
          "external"
        ],
        "security": []
      }
    },
    "/v1/capabilities/{capability_key}/execution-targets": {
      "get": {
        "summary": "List execution targets",
        "description": "Models that can perform this capability.\n\nThe default is the unpinned selection. Availability is a separate field.",
        "operationId": "list_execution_targets_v1_capabilities__capability_key__execution_targets_get",
        "parameters": [
          {
            "name": "capability_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Capability Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionTargetList"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "anonymous",
        "x-hydracept-client-codegen": true,
        "tags": [
          "public_api",
          "external"
        ],
        "security": []
      }
    },
    "/v1/capabilities/{capability_key}/benchmarks": {
      "get": {
        "summary": "Describe capability benchmarks",
        "description": "Benchmark definition and coverage. Comparative scores are not computed in this release.",
        "operationId": "describe_capability_benchmarks_v1_capabilities__capability_key__benchmarks_get",
        "parameters": [
          {
            "name": "capability_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Capability Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityBenchmarkDiscoveryResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "anonymous",
        "x-hydracept-client-codegen": true,
        "tags": [
          "public_api",
          "external"
        ],
        "security": []
      }
    },
    "/v1/capabilities/{capability_key}/invoke": {
      "post": {
        "summary": "Invoke Capability",
        "operationId": "invoke_capability_with_sealed_admission_v1_capabilities__capability_key__invoke_post",
        "parameters": [
          {
            "name": "capability_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Capability Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapabilityInvokeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HydraceptInvocationResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "402": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "409": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "tags": [
          "public_api",
          "external"
        ],
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/capabilities/image.generate.v1/jobs": {
      "post": {
        "summary": "Submit Image Generation Job",
        "description": "Submit an image generation job using the quoted model and billing mode from the request.",
        "operationId": "submit_image_generate_job_v1_capabilities_image_generate_v1_jobs_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapabilityJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HydraceptJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "402": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "409": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": [
          "service_principal",
          "panel_session"
        ],
        "x-hydracept-client-codegen": true,
        "tags": [
          "public_api",
          "external"
        ],
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/capabilities/{capability_key}/jobs": {
      "post": {
        "summary": "Submit Capability Job",
        "operationId": "submit_capability_job_with_sealed_admission_v1_capabilities__capability_key__jobs_post",
        "parameters": [
          {
            "name": "capability_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Capability Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapabilityJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HydraceptJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "402": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "409": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": [
          "service_principal",
          "panel_session"
        ],
        "x-hydracept-client-codegen": true,
        "tags": [
          "public_api",
          "external"
        ],
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/capabilities": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "List Capabilities",
        "description": "Anonymous launch-scoped list; authenticated Studio enrichment with uiSchema.",
        "operationId": "list_capabilities_v1_capabilities_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Find capabilities matching this task query (title, key, description).",
              "title": "Q"
            },
            "description": "Find capabilities matching this task query (title, key, description)."
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "summary returns identity-free browse fields only (key, title, description, modality, family, executionModes). Omit for the default catalog. Browse → resolve → describe → quote/run.",
              "title": "View"
            },
            "description": "summary returns identity-free browse fields only (key, title, description, modality, family, executionModes). Omit for the default catalog. Browse → resolve → describe → quote/run."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCapabilityListResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "anonymous",
        "x-hydracept-client-codegen": true,
        "security": []
      }
    },
    "/v1/capabilities/image.generate.v1/plan": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "Preview variant packing plan",
        "operationId": "capability_image_generate_plan_v1_capabilities_image_generate_v1_plan_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapabilityJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Capability Image Generate Plan V1 Capabilities Image Generate V1 Plan Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/executions/{execution_id}/events": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "Stream execution tokens (SSE)",
        "description": "Token-level SSE for stream invoke executions.\n\nDurable job lifecycle history remains on GET /v1/jobs/{jobId}/events (cursor poll).",
        "operationId": "execution_stream_events_v1_executions__execution_id__events_get",
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Execution Id"
            }
          },
          {
            "name": "Last-Event-ID",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Last-Event-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server-sent execution events",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": [
          "service_principal",
          "panel_session"
        ],
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/jobs/{job_id}": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "Get Job",
        "operationId": "get_unified_job_v1_jobs__job_id__get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HydraceptJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": [
          "service_principal",
          "panel_session"
        ],
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/jobs/{job_id}/events": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "List Job Events",
        "description": "Append-only lifecycle stream for a job.\n\nEvents are ordered by monotonic cursor ids. Use the cursor parameter to page forward.",
        "operationId": "list_job_events_v1_jobs__job_id__events_get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exclusive lower bound on the event id. Persist the last event cursor. nextCursor is set only when another page remains.",
              "title": "Cursor"
            },
            "description": "Exclusive lower bound on the event id. Persist the last event cursor. nextCursor is set only when another page remains."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "When set, return only this event type. job.reader_text is partial output from the in-flight call. cursor is an exclusive lower bound; persist the last event cursor.",
              "title": "Type"
            },
            "description": "When set, return only this event type. job.reader_text is partial output from the in-flight call. cursor is an exclusive lower bound; persist the last event cursor."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response List Job Events V1 Jobs  Job Id  Events Get"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": [
          "service_principal",
          "panel_session"
        ],
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/jobs": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "List Jobs",
        "operationId": "list_principal_jobs_v1_jobs_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response List Principal Jobs V1 Jobs Get"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/jobs/{job_id}/request": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "Get Job Request Snapshot",
        "description": "Canonical submitted request for rerunning the same inputs in Studio — not the sealed receipt.",
        "operationId": "get_job_request_snapshot_v1_jobs__job_id__request_get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Job Request Snapshot V1 Jobs  Job Id  Request Get"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/jobs/{job_id}/result": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "Get Job Result",
        "description": "Typed output and payload identity for a durable job — not a second execution plane.",
        "operationId": "get_unified_job_result_v1_jobs__job_id__result_get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HydraceptJobResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": [
          "service_principal",
          "panel_session"
        ],
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/jobs/{job_id}/variants/select": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "Select Job Variant",
        "operationId": "select_job_variant_v1_jobs__job_id__variants_select_post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariantSelectBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HydraceptJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/jobs/{job_id}/cancel": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "Cancel Job",
        "operationId": "cancel_unified_job_v1_jobs__job_id__cancel_post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HydraceptJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": [
          "service_principal",
          "panel_session"
        ],
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/jobs/{job_id}/approve": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "Approve Job",
        "operationId": "approve_job_v1_jobs__job_id__approve_post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/JobApproveBody"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HydraceptJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/jobs/{job_id}/reject": {
      "post": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "Reject Job",
        "operationId": "reject_job_v1_jobs__job_id__reject_post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HydraceptJob"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": "service_principal",
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/jobs/{job_id}/receipt": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "Get Job Receipt",
        "operationId": "unified_job_receipt_v1_jobs__job_id__receipt_get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HydraceptReceipt"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/PublicError"
          },
          "403": {
            "$ref": "#/components/responses/PublicError"
          },
          "404": {
            "$ref": "#/components/responses/PublicError"
          },
          "422": {
            "$ref": "#/components/responses/PublicValidationError"
          },
          "429": {
            "$ref": "#/components/responses/PublicError"
          },
          "500": {
            "$ref": "#/components/responses/PublicError"
          },
          "502": {
            "$ref": "#/components/responses/PublicError"
          },
          "503": {
            "$ref": "#/components/responses/PublicError"
          }
        },
        "x-hydracept-surface": "public_api",
        "x-hydracept-auth": [
          "service_principal",
          "panel_session"
        ],
        "x-hydracept-client-codegen": true,
        "security": [
          {
            "HydraceptApiKey": []
          }
        ]
      }
    },
    "/v1/jobs/{job_id}/artifacts/{artifact_id}": {
      "get": {
        "tags": [
          "public_api",
          "external",
          "capabilities"
        ],
        "summary": "Download Job Artifact",
        "operationId": "download_job_artifact_v1_jobs__job_id__artifacts__artifact_id__get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "artifact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Artifact Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artifact bytes",
            "content": {
              "application/json": {
                "schema": {
[...]
