{
  "openapi": "3.1.0",
  "info": {
    "title": "Atako API",
    "version": "0.1.0",
    "description": "The Atako customer API — manage AI agents, their files, integrations, billing, and your company/team, programmatically.\n\n## Authentication\n\nEvery non-public endpoint takes a Bearer token that is either:\n- a **programmatic API key** (`aik_…`) — create one at [app.atako.ai](https://app.atako.ai) → Settings → API keys (company-admin only), or\n- a **Supabase session JWT** — what the web app itself sends; not practical to obtain outside a browser session.\n\n```bash\ncurl https://api.atako.ai/agents -H \"Authorization: Bearer aik_...\"\n```\n\nAn API key acts as its owning user, within the limits of the key:\n\n- **Scope** — a `read` key can only call GET operations (any other verb: `403 API_KEY_READ_ONLY`); a `write` key can call everything its user can, except the operations below.\n- **Forbidden to every key** — billing changes (every non-GET `/subscriptions/*`), minting agent tokens, listing or managing API keys (every `/users/api-keys` operation), deleting the account: `403 API_KEY_FORBIDDEN`. These need a signed-in user in the app.\n- **Expiry** — optional (30, 90 or 365 days); an expired key gets `401 API_KEY_EXPIRED`.\n\nEach operation carries `x-atako-api-key: read | write | forbidden` — the minimum key scope it needs, or `forbidden`.\n\n## Live events\n\n`GET /notifications/sse` and `GET /agents/{agentId}/events` are Server-Sent Events streams (`text/event-stream`), authenticated with the same Bearer header — an API key works.\n\n## Uploading a file\n\nTwo steps: `POST /client/files/nodes` then `POST /client/files/{nodeId}/upload-url` return a signed storage URL; `PUT` the raw bytes to it, then call `POST /client/files/{nodeId}/complete-upload`. Grant it to an agent with `POST /agents/{agentId}/file-grants`.\n\n## Other Atako HTTP surfaces (not covered by this spec)\n\n- **Atako MCP server** — `POST /mcp` (auth: same Bearer token as above) exposes the same capabilities as Model Context Protocol tools for AI clients (Claude Code, Claude Desktop, Cursor, ChatGPT), grouped in toolsets (`/mcp?toolsets=projects,agents`); a `read` key only gets read-only tools. See [docs.atako.ai/developers/mcp/overview](https://docs.atako.ai/developers/mcp/overview).\n- **Content API** (`cak_…` key, `/content/*`) — a separate, more restricted key type for headless CMS-style access to blog/news/use-case content. Not documented here.\n\n## Errors\n\nErrors use a JSON envelope: `{ \"error\": string, \"code\"?: string }`. `error` is either a short human-readable message or a SCREAMING_SNAKE_CASE code, depending on the route — treat it as an opaque string to match against, not a stable enum across the whole API.\n\n## Rate limits\n\nAuthenticated routes: 6000 requests/min per user (`authRateLimit`). Public GET routes: 60/min per IP. A handful of sensitive public POST routes (newsletter signup, email-exists, invitation preview) are limited to 10 requests / 15 min per IP.\n\n## Pagination\n\nList endpoints use either simple `limit`/`offset` query params (marketing content — a plain JSON array response, capped at the documented max) or `page`/`limit` (credit transactions). Neither returns a total count today; fetch until a page comes back shorter than `limit`.",
    "x-jentic-source-url": "https://api.atako.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.atako.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "List your agents",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "Agents you own, plus agents on any team you belong to.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      },
      "post": {
        "operationId": "createAgent",
        "summary": "Create an agent",
        "description": "Requires an active subscription and `canCreateAgents` permission. `teamId` may be ANY team of your live company; a team outside it (or belonging to no company) is only accepted if you belong to it — NOT_TEAM_MEMBER (403) otherwise. Guards, checked in order: NOT_TEAM_MEMBER (403), AGENT_CREATION_NOT_ALLOWED (403), AGENT_LIMIT_REACHED (403), NO_ACTIVE_SUBSCRIPTION (402), MODEL_NOT_FOUND/HARNESS_NOT_FOUND (400), CLIENT_NOT_FOUND (404).",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created agent (raw row).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRecord"
                }
              }
            }
          },
          "400": {
            "description": "Missing/invalid field, unknown model/harness, or invalid engine.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "NO_ACTIVE_SUBSCRIPTION",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "AGENT_CREATION_NOT_ALLOWED / NOT_TEAM_MEMBER / AGENT_LIMIT_REACHED / BYOK_DISABLED / BYOK_NOT_ALLOWED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "CLIENT_NOT_FOUND / PROVIDER_KEY_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{id}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Get agent detail",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDetail"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      }
    },
    "/agents/{id}/cancel": {
      "post": {
        "operationId": "cancelAgent",
        "summary": "Cancel a provisioning agent",
        "description": "Owner of the agent, or an admin of the owner's company. A plain teammate (who can still view and chat with the agent) gets 404.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "description": "The cancelled agent's name — rides along for the caller's audit-log entry."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown agent, or the caller is neither its owner nor an admin of the owner's company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "AGENT_NOT_CANCELLABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{id}/retry-provisioning": {
      "post": {
        "operationId": "retryAgentProvisioning",
        "summary": "Retry a failed provisioning",
        "description": "Owner of the agent, or an admin of the owner's company. A plain teammate (who can still view and chat with the agent) gets 404. Re-dispatches provisioning with the engine's current release and a fresh bootstrap token.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "NO_ACTIVE_SUBSCRIPTION",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown agent, or the caller is neither its owner nor an admin of the owner's company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "AGENT_NOT_RETRYABLE / AGENT_LIMIT_REACHED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{id}/end": {
      "post": {
        "operationId": "endAgent",
        "summary": "End an active agent",
        "description": "Owner of the agent, or an admin of the owner's company. A plain teammate (who can still view and chat with the agent) gets 404.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session": {
                      "$ref": "#/components/schemas/AgentRecord"
                    }
                  },
                  "required": [
                    "session"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown agent, or the caller is neither its owner nor an admin of the owner's company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "AGENT_NOT_ACTIVE — agent already ended; or `code: AGENT_PROVISIONING` — still provisioning, cancel it instead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{id}/resume": {
      "post": {
        "operationId": "resumeAgent",
        "summary": "Resume a paused agent",
        "description": "Trial-end lifecycle. Same company-membership + canCreateAgents gate as agent creation.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "NO_ACTIVE_SUBSCRIPTION",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "AGENT_CREATION_NOT_ALLOWED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "AGENT_NOT_PAUSED / AGENT_LIMIT_REACHED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{id}/export": {
      "get": {
        "operationId": "exportAgent",
        "summary": "Export everything an agent holds, as a JSON attachment",
        "description": "Conversations, messages, e-mail threads and scheduled tasks. The way out for a company that will not subscribe before the trial-end retention window closes on a cascade delete (docs/specs/trial-end-lifecycle.md). Requires the same administration rights as renaming or ending the agent.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exportedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "agent": {
                      "type": "object"
                    },
                    "conversations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "emailThreads": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "scheduledTasks": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      }
    },
    "/agents/{id}/upgrade-status": {
      "get": {
        "operationId": "getAgentUpgradeStatus",
        "summary": "Check whether an engine upgrade is available",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpgradeStatus"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      }
    },
    "/agents/{id}/upgrade": {
      "post": {
        "operationId": "upgradeAgent",
        "summary": "Trigger an in-place engine image upgrade",
        "description": "Owner of the agent, or an admin of the owner's company. A plain teammate (who can still view and chat with the agent) gets 404. State preserved, brief downtime. 409 if the agent is not active.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "engineVersion": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown agent, or the caller is neither its owner nor an admin of the owner's company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "AGENT_NOT_ACTIVE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Orchestrator dispatch failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{id}/name": {
      "patch": {
        "operationId": "renameAgent",
        "summary": "Set the agent's display name",
        "description": "Owner of the agent, or an admin of the owner's company. A plain teammate (who can still view and chat with the agent) gets 404.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "name must be a non-empty string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown agent, or the caller is neither its owner nor an admin of the owner's company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{id}/role": {
      "patch": {
        "operationId": "setAgentRole",
        "summary": "Set or clear the agent's job title",
        "description": "Owner of the agent, or an admin of the owner's company. A plain teammate (who can still view and chat with the agent) gets 404. `role: null` (or a blank string) CLEARS the title — a titleless agent is a normal state, not an error. The org chart the agent reads every turn uses `team_positions.title` first and falls back to this. Nothing is pushed: the change reaches the agent on its next turn.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "role"
                ],
                "properties": {
                  "role": {
                    "type": "string",
                    "maxLength": 120,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "role must be a string or null / role must be at most 120 characters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown agent, or the caller is neither its owner nor an admin of the owner's company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{id}/instructions": {
      "patch": {
        "operationId": "setAgentInstructions",
        "summary": "Edit the agent's mission, instructions and business context",
        "description": "Owner of the agent, or an admin of the owner's company. A plain teammate (who can still view and chat with the agent) gets 404. Each field is optional: absent = unchanged, `null` or blank = cleared, otherwise trimmed (≤ 20 000 characters). At least one field is required. Nothing is pushed: the agent re-reads its profile every turn.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mission": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 20000
                  },
                  "instructions": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 20000
                  },
                  "businessContext": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 20000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mission": {
                      "type": "string",
                      "nullable": true
                    },
                    "instructions": {
                      "type": "string",
                      "nullable": true
                    },
                    "businessContext": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid body / <field> must be a string or null / <field> must be at most 20000 characters / at least one field is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown agent, or the caller is neither its owner nor an admin of the owner's company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{id}/team": {
      "patch": {
        "operationId": "setAgentTeam",
        "summary": "Move the agent to a team, or make it personal",
        "description": "Owner of the agent, or an admin of the owner's company. A plain teammate (who can still view and chat with the agent) gets 404. The target team may be ANY team of the agent owner's live company. A team outside it (or a team belonging to no company) is only accepted if the CALLER belongs to it — NOT_TEAM_MEMBER otherwise.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "teamId"
                ],
                "properties": {
                  "teamId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "teamId": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "scope": {
                      "type": "string",
                      "enum": [
                        "personal",
                        "team"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "teamId must be a string or null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "NOT_TEAM_MEMBER",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found (or not yours to administer), or teamId does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{id}/model": {
      "patch": {
        "operationId": "setAgentModel",
        "summary": "Change the LLM model of a live agent",
        "description": "Owner of the agent, or an admin of the owner's company. A plain teammate (who can still view and chat with the agent) gets 404. `modelId` is an `ai_models` UUID or an OpenRouter slug (same shapes as at creation). Takes effect on the agent's next LLM call. A free OpenRouter model is refused (400) on Atako inference; a direct-provider (OpenAI/Anthropic) BYOK agent and an ended/failed agent answer 409.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "modelId"
                ],
                "properties": {
                  "modelId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "modelId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "model": {
                      "type": "object",
                      "properties": {
                        "slug": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "contextLength": {
                          "type": "integer",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "modelId must be a non-empty string / Model not found / MODEL_NOT_AVAILABLE_ON_ATAKO_INFERENCE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown agent, or the caller is neither its owner nor an admin of the owner's company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "DIRECT_PROVIDER_MODEL_IMMUTABLE / AGENT_NOT_ACTIVE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{id}/llm-key": {
      "patch": {
        "operationId": "setAgentLlmKey",
        "summary": "Reassign the agent's BYOK LLM key",
        "description": "Owner of the agent, or an admin of the owner's company. A plain teammate (who can still view and chat with the agent) gets 404. The key must belong to the AGENT's company, so this never reaches another user's personal key.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "llmKeyId"
                ],
                "properties": {
                  "llmKeyId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "llmKeyId": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "llmKeyId must be a string or null / PROVIDER_KEY_INVALID / DIRECT_PROVIDER_REASSIGNMENT_NOT_SUPPORTED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "BYOK_DISABLED / BYOK_NOT_ALLOWED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Unknown agent, or the caller is neither its owner nor an admin of the owner's company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{agentId}/conversations": {
      "get": {
        "operationId": "listConversations",
        "summary": "List the caller's chat sessions with an agent",
        "description": "Most recently active first. Archived sessions are excluded unless `includeArchived=true`.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "description": "Include archived sessions.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Conversation"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      },
      "post": {
        "operationId": "createConversation",
        "summary": "Open a new chat session with an agent",
        "description": "The session gets its own engine-side key (`chat:<id>`), so its context is isolated from every other session of the same agent.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200,
                    "nullable": true
                  },
                  "meta": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/conversations/{id}": {
      "get": {
        "operationId": "getConversation",
        "summary": "One chat session",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      },
      "patch": {
        "operationId": "updateConversation",
        "summary": "Rename, archive or un-archive a chat session",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200,
                    "nullable": true
                  },
                  "archived": {
                    "type": "boolean"
                  },
                  "meta": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{agentId}/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "List an agent's chat messages",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "required": false,
            "description": "Session to read/write. Omitted = the caller's most recently active session (created on demand) — what every client written before sessions existed gets. A session that is not the caller's own on this agent answers 404.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      },
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a chat message to the agent",
        "description": "Fire-and-forget: the reply arrives later over the WS bridge → SSE/DB. `role` is ignored — always inserted as `user`.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string"
                  },
                  "conversationId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Session to read/write. Omitted = the caller's most recently active session (created on demand) — what every client written before sessions existed gets. A session that is not the caller's own on this agent answers 404."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "content required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "AGENT_NOT_MESSAGEABLE — the agent is ended, failed or paused (resume it first); `status` carries its current status. A provisioning or unresponsive agent accepts messages and gets them once connected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{agentId}/turns/steer": {
      "post": {
        "operationId": "steerAgentTurn",
        "summary": "Add an instruction to the agent's running turn",
        "description": "Hermes agents only. The instruction is queued and delivered after the current tool batch, and kept in the session history as a user message with `meta.kind = steer` (never delivered again as a chat message). 202: the frame was sent; the outcome arrives over SSE `turn_control_result` (`ok`, or `code`: no_active_turn | too_late | unsupported_engine | error). Designate the session with `conversationId` or `conversationKey` (omit both: default session).",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "conversationId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "conversationKey": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "AGENT_NOT_CONNECTED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{agentId}/turns/stop": {
      "post": {
        "operationId": "stopAgentTurn",
        "summary": "Stop the agent's running turn",
        "description": "Hermes agents only. Hard stop: the partial answer (if any) is posted with `meta.interrupted`. 202: the frame was sent; the outcome arrives over SSE `turn_control_result`.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "conversationId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "conversationKey": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "AGENT_NOT_CONNECTED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{agentId}/messages/{messageId}/flag": {
      "post": {
        "operationId": "flagMessage",
        "summary": "Flag a message as an error (deprecated — recorded as a thumbs down, use PUT …/feedback)",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "description": "Message id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{agentId}/messages/{messageId}/feedback": {
      "put": {
        "operationId": "setMessageFeedback",
        "summary": "Thumbs up / down an agent reply (replaces any previous verdict)",
        "description": "Only on role `agent` messages of one of your own sessions. Any change sends the feedback back to the support review queue.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "description": "Message id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rating"
                ],
                "properties": {
                  "rating": {
                    "type": "string",
                    "enum": [
                      "up",
                      "down"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 2000,
                    "nullable": true,
                    "description": "Optional free text."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "rating": {
                      "type": "string",
                      "enum": [
                        "up",
                        "down"
                      ]
                    },
                    "note": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid body, or NOT_AGENT_MESSAGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      },
      "delete": {
        "operationId": "clearMessageFeedback",
        "summary": "Remove your thumbs up / down from an agent reply (idempotent)",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "description": "Message id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/agents/{agentId}/events": {
      "get": {
        "operationId": "streamAgentEvents",
        "summary": "SSE stream of new messages and live-activity events",
        "description": "Not a JSON response: `Content-Type: text/event-stream`. Emits `message`, `typing`, `heartbeat`, `activity`, `activity_state`, and `message_delta` events. Kept alive with `: ping` comments.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "text/event-stream — no fixed JSON schema.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      }
    },
    "/agents/{agentId}/activity": {
      "get": {
        "operationId": "listActivity",
        "summary": "Live-activity feed history",
        "tags": [
          "Activity"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Newest-first page cursor.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Oldest-first, SSE-resume mode.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "required": false,
            "description": "Narrows the feed to ONE session of the caller on this agent (404 otherwise). Omitted = agent-wide, as before sessions existed.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat-origin events are scoped to the caller's own conversation; cron/subagent/system/integration events are agent-wide.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivityEvent"
                      }
                    }
                  },
                  "required": [
                    "events"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      }
    },
    "/agents/{agentId}/activity/state": {
      "get": {
        "operationId": "getActivityState",
        "summary": "Current working/idle state",
        "tags": [
          "Activity"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "Agent id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityState"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      }
    },
    "/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List visible AI models (for the create-agent form)",
        "tags": [
          "Agent Options"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AiModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      }
    },
    "/models/catalog": {
      "get": {
        "operationId": "listModelCatalog",
        "summary": "List the whole OpenRouter catalog with Atako flags",
        "description": "Every model reachable through the platform gateway (~400), flat and sorted by provider label then name, served from a 10-minute memory cache. `suggested` only marks the models Atako recommends (`GET /models`); all the others are just as selectable when creating an agent. Prices are $/token.",
        "tags": [
          "Agent Options"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "OpenRouter is unreachable and nothing is cached yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      }
    },
    "/models/recent": {
      "get": {
        "operationId": "listRecentModels",
        "summary": "Models the caller's company already launched agents on",
        "description": "Deduplicated by slug, most recently used first, at most 8. Derived from the company agents; BYOK direct-provider agents are excluded.",
        "tags": [
          "Agent Options"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecentModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      }
    },
    "/models/favorites": {
      "get": {
        "operationId": "listFavoriteModels",
        "summary": "List the starred model slugs (company-wide)",
        "tags": [
          "Agent Options"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "anthropic/claude-sonnet-4"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      },
      "put": {
        "operationId": "setFavoriteModel",
        "summary": "Star or unstar one model for the whole company",
        "description": "Idempotent both ways. Starring rejects a slug absent from the OpenRouter catalog; unstarring never validates, so a model that left the catalog stays removable. Returns the up-to-date list.",
        "tags": [
          "Agent Options"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "slug",
                  "favorite"
                ],
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "OpenRouter model slug, from GET /models/catalog."
                  },
                  "favorite": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing `slug`/`favorite`, or a slug unknown to the OpenRouter catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "write"
      }
    },
    "/harnesses": {
      "get": {
        "operationId": "listHarnesses",
        "summary": "List visible harnesses (for the create-agent form)",
        "tags": [
          "Agent Options"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Harness"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      }
    },
    "/agent-engines": {
      "get": {
        "operationId": "listAgentEngines",
        "summary": "List runtime engines and the default used when creating an agent",
        "description": "Distinct from `/harnesses` (an optional, backoffice-managed catalog): the engine is what actually runs the agent, and a new agent always falls back to `default` when `engine` is omitted on creation.",
        "tags": [
          "Agent Options"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "engines",
                    "default"
                  ],
                  "properties": {
                    "engines": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "openclaw",
                        "hermes",
                        "opencode"
                      ]
                    },
                    "default": {
                      "type": "string",
                      "example": "hermes"
                    },
                    "profiles": {
                      "type": "array",
                      "description": "Capability profile per engine — what the API will actually allow (channels, integrations, interagent mode, repo requirement), plus `selectable`: whether it may still be picked when creating an agent (an unselectable engine stays valid for agents already running on it).",
                      "items": {
                        "type": "object",
                        "required": [
                          "engine",
                          "selectable",
                          "channels",
                          "integrations",
                          "interagent",
                          "requiresRepos",
                          "capabilities"
                        ],
                        "properties": {
                          "engine": {
                            "type": "string",
                            "example": "opencode"
                          },
                          "selectable": {
                            "type": "boolean"
                          },
                          "channels": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "chat",
                                "email",
                                "webhook",
                                "interagent",
                                "cron"
                              ]
                            }
                          },
                          "integrations": {
                            "description": "`'all'`, or the provider keys this engine may be granted.",
                            "oneOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "all"
                                ]
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            ]
                          },
                          "interagent": {
                            "type": "string",
                            "enum": [
                              "full",
                              "receive_only"
                            ]
                          },
                          "requiresRepos": {
                            "type": "boolean"
                          },
                          "capabilities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "read"
      }
    },
    "/users/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "summary": "List the company's programmatic API keys",
        "description": "Company-admin only, signed-in session only: an API key gets `403 API_KEY_FORBIDDEN`. Every key created by a member of the caller's company, with its creator. A key stops authenticating as soon as its creator is no longer a company admin (keys are revoked on demotion or removal).",
        "tags": [
          "API Keys"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeyListed"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller does not have the required role/permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "forbidden"
      },
      "post": {
        "operationId": "createApiKey",
        "summary": "Create an API key",
        "description": "Company-admin only. The plaintext token is returned once.",
        "tags": [
          "API Keys"
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "read",
                      "write"
                    ],
                    "default": "write"
                  },
                  "expiresInDays": {
                    "type": "integer",
                    "enum": [
                      30,
                      90,
                      365
                    ],
                    "nullable": true,
                    "description": "Null or omitted = never expires."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreated"
                }
              }
            }
          },
          "400": {
            "description": "name required / invalid scope / invalid expiresInDays",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller does not have the required role/permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "forbidden"
      }
    },
    "/users/api-keys/{id}": {
      "delete": {
        "operationId": "revokeApiKey",
        "summary": "Revoke an API key",
        "description": "Company-admin only. Any key of the caller's company, not only the caller's own.",
        "tags": [
          "API Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "API key id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, or invalid bearer token / API key, or revoked session (SESSION_REVOKED).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller does not have the required role/permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found, or the caller is not authorized to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-atako-api-key": "forbidden"
      }
    },
    "/users/api-keys/{id}/permanent": {
      "delete": {
        "operationId": "deleteApiKeyPermanently",
        "summary": "Permanently delete an already-revoked API key",
        "description": "Company-admin only. The key must be revoked first (`DELETE /users/api-keys/{id}`) — deleting an active key is refused.",
        "tags": [
[...]
