{
  "openapi": "3.1.0",
  "info": {
    "title": "Klarix Intelligence API",
    "version": "0.1.0",
    "summary": "Public-web competitive intelligence, market landscape, prospect fit scoring, battlecards, and tech stack teardowns. Every factual line cites a public source URL.",
    "description": "Public-web competitive intelligence for revenue teams: battlecards, ICP fit scoring, prospect lookalikes, and tech-stack teardowns.\n\nEvery factual claim carries a resolvable source URL. Where evidence is thin, the response says so instead of guessing. No emails, phone numbers, or licensed contact rows.\n\nThe same fifteen tools are available over MCP at https://mcp.klarix.ai/mcp. REST and MCP call identical functions, so output matches byte for byte. Full reference: https://klarix.ai/docs/api",
    "contact": {
      "name": "Klarix",
      "email": "contact@klarix.ai",
      "url": "https://klarix.ai/docs/api"
    },
    "termsOfService": "https://klarix.ai/terms",
    "license": {
      "name": "Proprietary",
      "url": "https://klarix.ai/terms"
    },
    "x-jentic-source-url": "https://klarix.ai/openapi.json"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.klarix.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/prospects/match": {
      "post": {
        "operationId": "find_matched_prospects",
        "summary": "Semantic search across the pre-profiled B2B company universe (Neon pgvector, Voyage-4 embeddings). Returns ranked accounts with tech stack, growth signals, and a suggested next move.",
        "description": "Semantic search across the pre-profiled B2B company universe (Neon pgvector, Voyage-4 embeddings). Returns ranked accounts with tech stack, growth signals, and a suggested next move. Minimum plan: PRO. Spends one credit per call.",
        "tags": [
          "Prospect universe"
        ],
        "x-klarix-min-plan": "pro",
        "x-klarix-mcp-tool": "find_matched_prospects",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "icp_or_query": {
                    "type": "string",
                    "minLength": 4,
                    "description": "Target ICP description, search criteria, tech stack, or problem statement, e.g. \"AI infrastructure companies serving enterprise ML teams with high GPU usage\"."
                  },
                  "vertical": {
                    "description": "Filter by vertical: \"AI SaaS & DevTools\", \"Recruiting & Staffing\", \"Precision Manufacturing & Hardware\", etc.",
                    "type": "string"
                  },
                  "limit": {
                    "description": "Maximum prospects to return (1-25, default 10).",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 25
                  },
                  "min_similarity": {
                    "description": "Minimum vector cosine similarity threshold (0.0 - 1.0, default 0.35). Measures topical closeness to the ICP text, not fit or buying readiness.",
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "screen": {
                    "description": "Screen retrieved candidates for buyer-vs-vendor role and corporate status before returning them (default true). Set false for the raw similarity ranking, which will include companies that sell what the ICP describes.",
                    "type": "boolean"
                  },
                  "exclude_domains": {
                    "description": "Domains to exclude from results (e.g. existing customers or disqualified accounts).",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "sub_category": {
                    "description": "Filter by sub-category, e.g. \"Serverless GPU Cloud\", \"Executive Search\", \"Contract Manufacturing & EMS\".",
                    "type": "string"
                  },
                  "headcount_min": {
                    "description": "Minimum employee headcount. Accounts whose headcount band tops out below this are dropped.",
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "headcount_max": {
                    "description": "Maximum employee headcount. Accounts whose headcount band starts above this are dropped.",
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "revenue_min": {
                    "description": "Minimum annual revenue in USD. Recorded for downstream scoring; the semantic index carries no revenue field, so it does not narrow retrieval.",
                    "type": "number",
                    "exclusiveMinimum": 0
                  },
                  "revenue_max": {
                    "description": "Maximum annual revenue in USD. Recorded for downstream scoring; the semantic index carries no revenue field, so it does not narrow retrieval.",
                    "type": "number",
                    "exclusiveMinimum": 0
                  },
                  "countries": {
                    "description": "Restrict to accounts headquartered in these countries (matched against HQ location), e.g. [\"United States\", \"Canada\"].",
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "required_tech": {
                    "description": "Require at least one of these technologies in the confirmed tech stack, e.g. [\"CUDA\", \"PyTorch\"].",
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "our_company_name": {
                    "description": "Your company name. Curates the analysis toward how YOU win instead of a generic read.",
                    "type": "string",
                    "minLength": 2
                  },
                  "our_domain": {
                    "description": "Your own web domain, e.g. \"klarix.ai\". Lets the tool research your side of the comparison.",
                    "type": "string",
                    "minLength": 4
                  },
                  "our_differentiators": {
                    "description": "What you actually win on, in your words, e.g. [\"3-7 day delivery\", \"done-for-you, not DIY\"]. Anchors talk tracks to claims you can defend.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "client_id": {
                    "description": "Klarix client id (kebab-case, e.g. \"alium-batteries\"). Loads company name, domain, value propositions, win themes, and ICP from clients/{client_id}/context.json when that file is reachable. Explicit arguments always override it.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64
                  }
                },
                "required": [
                  "icp_or_query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/company": {
      "post": {
        "operationId": "get_company_intelligence",
        "summary": "Executive one-pager synthesized from cited public sources.",
        "description": "Executive one-pager synthesized from cited public sources. Minimum plan: FREE. Spends one credit per call.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "free",
        "x-klarix-mcp-tool": "get_company_intelligence",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "minLength": 4,
                    "description": "Company web domain, e.g. \"acme.com\""
                  },
                  "focus_areas": {
                    "description": "Which angles to dig into. Defaults to overview, recent_events, products, risks. \"leadership\" covers roles, org structure, and publicly reported executive names — never contact details.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "overview",
                        "pricing",
                        "leadership",
                        "recent_events",
                        "tech_stack",
                        "customers",
                        "hiring",
                        "funding",
                        "products",
                        "risks"
                      ]
                    }
                  },
                  "company_name": {
                    "type": "string",
                    "minLength": 2
                  },
                  "model_preference": {
                    "type": "string"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/battlecard": {
      "post": {
        "operationId": "get_competitor_battlecard",
        "summary": "Sales battlecard: competitor SWOT, positioning seams, landmines, and spoken talk tracks.",
        "description": "Sales battlecard: competitor SWOT, positioning seams, landmines, and spoken talk tracks. Minimum plan: FREE. Spends one credit per call.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "free",
        "x-klarix-mcp-tool": "get_competitor_battlecard",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "competitor_domain": {
                    "type": "string",
                    "minLength": 4,
                    "description": "Competitor web domain, e.g. \"zoominfo.com\""
                  },
                  "target_vertical": {
                    "description": "Vertical the battlecard should be aimed at, e.g. \"staffing agencies\". Sharpens the talk tracks.",
                    "type": "string"
                  },
                  "our_company_name": {
                    "description": "Your company name. Curates the analysis toward how YOU win instead of a generic read.",
                    "type": "string",
                    "minLength": 2
                  },
                  "our_domain": {
                    "description": "Your own web domain, e.g. \"klarix.ai\". Lets the tool research your side of the comparison.",
                    "type": "string",
                    "minLength": 4
                  },
                  "our_differentiators": {
                    "description": "What you actually win on, in your words, e.g. [\"3-7 day delivery\", \"done-for-you, not DIY\"]. Anchors talk tracks to claims you can defend.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "client_id": {
                    "description": "Klarix client id (kebab-case, e.g. \"alium-batteries\"). Loads company name, domain, value propositions, win themes, and ICP from clients/{client_id}/context.json when that file is reachable. Explicit arguments always override it.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64
                  },
                  "competitor_name": {
                    "type": "string",
                    "minLength": 2
                  }
                },
                "required": [
                  "competitor_domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/head-to-head": {
      "post": {
        "operationId": "analyze_head_to_head",
        "summary": "Dual-sided analysis of your company against one named competitor: asymmetric advantages, their moats, a comparison matrix, and a displacement plan.",
        "description": "Dual-sided analysis of your company against one named competitor: asymmetric advantages, their moats, a comparison matrix, and a displacement plan. Minimum plan: FREE. Spends one credit per call.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "free",
        "x-klarix-mcp-tool": "analyze_head_to_head",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_domain": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The competitor or incumbent vendor you are trying to displace, e.g. \"zoominfo.com\"."
                  },
                  "target_company_name": {
                    "description": "Proper name of the target, when the domain does not make it obvious.",
                    "type": "string"
                  },
                  "target_vertical": {
                    "description": "The buying market this head-to-head is aimed at, e.g. \"medical device OEMs\". Sharpens every talk track.",
                    "type": "string"
                  },
                  "our_advantages": {
                    "description": "Advantages you believe you hold, in your words. Merged with our_differentiators; the analysis tests them against the evidence rather than accepting them.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "our_company_name": {
                    "description": "Your company name. Curates the analysis toward how YOU win instead of a generic read.",
                    "type": "string",
                    "minLength": 2
                  },
                  "our_domain": {
                    "description": "Your own web domain, e.g. \"klarix.ai\". Lets the tool research your side of the comparison.",
                    "type": "string",
                    "minLength": 4
                  },
                  "our_differentiators": {
                    "description": "What you actually win on, in your words, e.g. [\"3-7 day delivery\", \"done-for-you, not DIY\"]. Anchors talk tracks to claims you can defend.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "client_id": {
                    "description": "Klarix client id (kebab-case, e.g. \"alium-batteries\"). Loads company name, domain, value propositions, win themes, and ICP from clients/{client_id}/context.json when that file is reachable. Explicit arguments always override it.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64
                  }
                },
                "required": [
                  "target_domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/swot": {
      "post": {
        "operationId": "generate_swot_analysis",
        "summary": "Four-quadrant SWOT with strategic exploit vectors and defensive counter-plays.",
        "description": "Four-quadrant SWOT with strategic exploit vectors and defensive counter-plays. Minimum plan: FREE. Spends one credit per call.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "free",
        "x-klarix-mcp-tool": "generate_swot_analysis",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "minLength": 4,
                    "description": "Company web domain to analyze, e.g. \"zoominfo.com\""
                  },
                  "company_name": {
                    "description": "Proper company name, if the domain does not make it obvious. Improves search precision.",
                    "type": "string"
                  },
                  "competitor_viewpoint": {
                    "description": "Override the derived relationship. Left unset, the tool works out whether you actually compete with this company from your own business context and only then adds exploit vectors. Set true to force competitive framing, false to force a self-assessment or partner review.",
                    "type": "boolean"
                  },
                  "vertical": {
                    "description": "Vertical to sharpen the analysis against, e.g. \"lithium battery manufacturers\".",
                    "type": "string"
                  },
                  "our_company_name": {
                    "description": "Your company name. Curates the analysis toward how YOU win instead of a generic read.",
                    "type": "string",
                    "minLength": 2
                  },
                  "our_domain": {
                    "description": "Your own web domain, e.g. \"klarix.ai\". Lets the tool research your side of the comparison.",
                    "type": "string",
                    "minLength": 4
                  },
                  "our_differentiators": {
                    "description": "What you actually win on, in your words, e.g. [\"3-7 day delivery\", \"done-for-you, not DIY\"]. Anchors talk tracks to claims you can defend.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "client_id": {
                    "description": "Klarix client id (kebab-case, e.g. \"alium-batteries\"). Loads company name, domain, value propositions, win themes, and ICP from clients/{client_id}/context.json when that file is reachable. Explicit arguments always override it.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/prospect-fit": {
      "post": {
        "operationId": "score_prospect_fit",
        "summary": "5-axis ICP fit score (1-10 per axis) with a 7+/10 pursue threshold and cited rationales.",
        "description": "5-axis ICP fit score (1-10 per axis) with a 7+/10 pursue threshold and cited rationales. Minimum plan: PRO. Spends one credit per call.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "pro",
        "x-klarix-mcp-tool": "score_prospect_fit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_name": {
                    "type": "string",
                    "minLength": 2,
                    "description": "Legal or trading name of the prospect company"
                  },
                  "domain": {
                    "type": "string",
                    "minLength": 4,
                    "description": "Primary web domain, e.g. \"acme.com\""
                  },
                  "icp_description": {
                    "description": "Your ideal customer profile in plain language: segment, size, the problem you solve, and who buys. A vague ICP produces a vague score. Optional only when client_id resolves to a context file that already carries an ICP.",
                    "type": "string",
                    "minLength": 20
                  },
                  "ideal_tech_stack": {
                    "description": "Tools or platforms that signal a good technical fit, e.g. [\"Snowflake\", \"Salesforce\", \"dbt\"]",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "vertical": {
                    "description": "Vertical to judge fit within, e.g. \"industrial manufacturing\"",
                    "type": "string"
                  },
                  "our_company_name": {
                    "description": "Your company name. Curates the analysis toward how YOU win instead of a generic read.",
                    "type": "string",
                    "minLength": 2
                  },
                  "our_domain": {
                    "description": "Your own web domain, e.g. \"klarix.ai\". Lets the tool research your side of the comparison.",
                    "type": "string",
                    "minLength": 4
                  },
                  "our_differentiators": {
                    "description": "What you actually win on, in your words, e.g. [\"3-7 day delivery\", \"done-for-you, not DIY\"]. Anchors talk tracks to claims you can defend.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "client_id": {
                    "description": "Klarix client id (kebab-case, e.g. \"alium-batteries\"). Loads company name, domain, value propositions, win themes, and ICP from clients/{client_id}/context.json when that file is reachable. Explicit arguments always override it.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64
                  }
                },
                "required": [
                  "company_name",
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/outreach": {
      "post": {
        "operationId": "generate_outreach_sequence",
        "summary": "Insight-first outreach sequence opening on a researched, dated fact. Writes to a role, never to a person, and screens for AI voice tells.",
        "description": "Insight-first outreach sequence opening on a researched, dated fact. Writes to a role, never to a person, and screens for AI voice tells. Minimum plan: FREE. Spends one credit per call.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "free",
        "x-klarix-mcp-tool": "generate_outreach_sequence",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prospect_company": {
                    "type": "string",
                    "minLength": 2,
                    "description": "Company you are writing to"
                  },
                  "prospect_domain": {
                    "type": "string",
                    "minLength": 4
                  },
                  "buyer_role": {
                    "type": "string",
                    "minLength": 2
                  },
                  "pain_points": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "trigger_event": {
                    "type": "string"
                  },
                  "value_prop": {
                    "type": "string"
                  },
                  "channel": {
                    "type": "string",
                    "enum": [
                      "email",
                      "linkedin",
                      "multivariant"
                    ]
                  },
                  "our_company_name": {
                    "description": "Your company name. Curates the analysis toward how YOU win instead of a generic read.",
                    "type": "string",
                    "minLength": 2
                  },
                  "our_domain": {
                    "description": "Your own web domain, e.g. \"klarix.ai\". Lets the tool research your side of the comparison.",
                    "type": "string",
                    "minLength": 4
                  },
                  "our_differentiators": {
                    "description": "What you actually win on, in your words, e.g. [\"3-7 day delivery\", \"done-for-you, not DIY\"]. Anchors talk tracks to claims you can defend.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "client_id": {
                    "description": "Klarix client id (kebab-case, e.g. \"alium-batteries\"). Loads company name, domain, value propositions, win themes, and ICP from clients/{client_id}/context.json when that file is reachable. Explicit arguments always override it.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64
                  }
                },
                "required": [
                  "prospect_company",
                  "prospect_domain",
                  "buyer_role"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/deep-research": {
      "post": {
        "operationId": "get_deep_research",
        "summary": "Exhaustive five-dimension probe: firmographics, product and technology, org signals, buying triggers, and risk.",
        "description": "Exhaustive five-dimension probe: firmographics, product and technology, org signals, buying triggers, and risk. Minimum plan: PRO. Spends one credit per call. Long-running: budget a client timeout of at least 240s.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "pro",
        "x-klarix-mcp-tool": "get_deep_research",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "minLength": 4,
                    "description": "Company web domain, e.g. \"acme.com\""
                  },
                  "depth": {
                    "description": "\"standard\" (default) probes all five dimensions with one lead query each and a 12-source budget. It concentrates the source budget on the highest-quality result per dimension, which in practice yields a cleaner citation list. \"comprehensive\" fans out to 14 queries and a 24-source budget; use it when you need maximum coverage and can accept more marginal sources in the citation list.",
                    "type": "string",
                    "enum": [
                      "standard",
                      "comprehensive"
                    ]
                  },
                  "company_name": {
                    "type": "string",
                    "minLength": 2
                  },
                  "dimensions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/science-evidence": {
      "post": {
        "operationId": "search_scientific_evidence",
        "summary": "Peer-reviewed and preprint literature from Semantic Scholar and arXiv with resolvable DOIs.",
        "description": "Peer-reviewed and preprint literature from Semantic Scholar and arXiv with resolvable DOIs. Minimum plan: PRO. Spends one credit per call.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "pro",
        "x-klarix-mcp-tool": "search_scientific_evidence",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "topic": {
                    "type": "string",
                    "minLength": 3,
                    "description": "Technical topic phrase, e.g. \"battery cathode thermal runaway\" or \"vector database latency\". Noun phrases beat questions."
                  },
                  "max_results": {
                    "description": "Papers to return. Default 5.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 25
                  },
                  "source": {
                    "description": "Which index to query. Default \"all\" merges Semantic Scholar, arXiv, and PubMed (clinical/biotech) and dedupes by DOI / PMID / arXiv id / title.",
                    "type": "string",
                    "enum": [
                      "all",
                      "semantic_scholar",
                      "arxiv",
                      "pubmed"
                    ]
                  },
                  "year_from": {
                    "description": "Publication-year floor. Papers older than this, and papers with no known year, are dropped.",
                    "type": "integer",
                    "minimum": 1900,
                    "maximum": 2100
                  }
                },
                "required": [
                  "topic"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/market-landscape": {
      "post": {
        "operationId": "get_market_landscape",
        "summary": "Market map: incumbents vs disruptors, positioning quadrants, pricing bands, and narrative share of voice.",
        "description": "Market map: incumbents vs disruptors, positioning quadrants, pricing bands, and narrative share of voice. Minimum plan: FREE. Spends one credit per call.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "free",
        "x-klarix-mcp-tool": "get_market_landscape",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "include_pricing_benchmarks": {
                    "description": "True (default) researches published pricing models and price bands. False skips the pricing queries for a faster map.",
                    "type": "boolean"
                  },
                  "category_or_vertical": {
                    "type": "string",
                    "minLength": 4
                  },
                  "target_region": {
                    "type": "string"
                  },
                  "incumbents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "disruptors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "category_or_vertical"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/buying-committee": {
      "post": {
        "operationId": "get_buying_committee",
        "summary": "Map the internal buying committee (Economic Buyer, Champion, Technical Evaluator, Procurement) with title patterns, pain points, objections, and multi-threading strategy.",
        "description": "Map the internal buying committee (Economic Buyer, Champion, Technical Evaluator, Procurement) with title patterns, pain points, objections, and multi-threading strategy. Minimum plan: PRO. Spends one credit per call.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "pro",
        "x-klarix-mcp-tool": "get_buying_committee",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_domain": {
                    "type": "string",
                    "minLength": 4,
                    "description": "Domain of the account whose buying committee you need to map, e.g. \"acme.com\"."
                  },
                  "target_company_name": {
                    "description": "Proper name of the account, when the domain does not make it obvious.",
                    "type": "string"
                  },
                  "target_vertical": {
                    "description": "The market this account operates in, e.g. \"medical device OEMs\". Sharpens titles, pains, and objections.",
                    "type": "string"
                  },
                  "our_company_name": {
                    "description": "Your company name. Curates the analysis toward how YOU win instead of a generic read.",
                    "type": "string",
                    "minLength": 2
                  },
                  "our_domain": {
                    "description": "Your own web domain, e.g. \"klarix.ai\". Lets the tool research your side of the comparison.",
                    "type": "string",
                    "minLength": 4
                  },
                  "our_differentiators": {
                    "description": "What you actually win on, in your words, e.g. [\"3-7 day delivery\", \"done-for-you, not DIY\"]. Anchors talk tracks to claims you can defend.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "client_id": {
                    "description": "Klarix client id (kebab-case, e.g. \"alium-batteries\"). Loads company name, domain, value propositions, win themes, and ICP from clients/{client_id}/context.json when that file is reachable. Explicit arguments always override it.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64
                  }
                },
                "required": [
                  "target_domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/triggers": {
      "post": {
        "operationId": "detect_account_triggers",
        "summary": "Detect recent account inflection points (leadership changes, funding, hiring surges, product updates, regulatory events) within a timeframe.",
        "description": "Detect recent account inflection points (leadership changes, funding, hiring surges, product updates, regulatory events) within a timeframe. Minimum plan: PRO. Spends one credit per call.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "pro",
        "x-klarix-mcp-tool": "detect_account_triggers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_domain": {
                    "type": "string",
                    "minLength": 4,
                    "description": "Domain of the account to scan for inflection points, e.g. \"acme.com\"."
                  },
                  "target_company_name": {
                    "description": "Proper name of the account, when the domain does not make it obvious.",
                    "type": "string"
                  },
                  "target_vertical": {
                    "description": "The market this account operates in, e.g. \"medical device OEMs\". Sharpens which events count as triggers.",
                    "type": "string"
                  },
                  "timeframe_days": {
                    "default": 90,
                    "description": "How far back to look for triggers, in days. Default 90. Anything older is context, not a trigger.",
                    "type": "integer",
                    "minimum": 14,
                    "maximum": 365
                  },
                  "our_company_name": {
                    "description": "Your company name. Curates the analysis toward how YOU win instead of a generic read.",
                    "type": "string",
                    "minLength": 2
                  },
                  "our_domain": {
                    "description": "Your own web domain, e.g. \"klarix.ai\". Lets the tool research your side of the comparison.",
                    "type": "string",
                    "minLength": 4
                  },
                  "our_differentiators": {
                    "description": "What you actually win on, in your words, e.g. [\"3-7 day delivery\", \"done-for-you, not DIY\"]. Anchors talk tracks to claims you can defend.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "client_id": {
                    "description": "Klarix client id (kebab-case, e.g. \"alium-batteries\"). Loads company name, domain, value propositions, win themes, and ICP from clients/{client_id}/context.json when that file is reachable. Explicit arguments always override it.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64
                  }
                },
                "required": [
                  "target_domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/tech-stack": {
      "post": {
        "operationId": "teardown_tech_stack",
        "summary": "Deconstruct an account's technical infrastructure, dev tools, cloud providers, AI/data stack, and identify displacement vulnerabilities.",
        "description": "Deconstruct an account's technical infrastructure, dev tools, cloud providers, AI/data stack, and identify displacement vulnerabilities. Minimum plan: PRO. Spends one credit per call.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "pro",
        "x-klarix-mcp-tool": "teardown_tech_stack",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_domain": {
                    "type": "string",
                    "minLength": 4,
                    "description": "Domain of the account whose stack you want deconstructed, e.g. \"acme.com\"."
                  },
                  "target_company_name": {
                    "description": "Proper name of the account, when the domain does not make it obvious.",
                    "type": "string"
                  },
                  "target_vertical": {
                    "description": "The market this account operates in, e.g. \"medical device OEMs\". Sharpens which stack gaps matter.",
                    "type": "string"
                  },
                  "focus_areas": {
                    "description": "Layers to probe. Defaults to all five: frontend_backend, cloud_infra, data_ai, business_tools, security.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "frontend_backend",
                        "cloud_infra",
                        "data_ai",
                        "business_tools",
                        "security"
                      ]
                    }
                  },
                  "our_company_name": {
                    "description": "Your company name. Curates the analysis toward how YOU win instead of a generic read.",
                    "type": "string",
                    "minLength": 2
                  },
                  "our_domain": {
                    "description": "Your own web domain, e.g. \"klarix.ai\". Lets the tool research your side of the comparison.",
                    "type": "string",
                    "minLength": 4
                  },
                  "our_differentiators": {
                    "description": "What you actually win on, in your words, e.g. [\"3-7 day delivery\", \"done-for-you, not DIY\"]. Anchors talk tracks to claims you can defend.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "client_id": {
                    "description": "Klarix client id (kebab-case, e.g. \"alium-batteries\"). Loads company name, domain, value propositions, win themes, and ICP from clients/{client_id}/context.json when that file is reachable. Explicit arguments always override it.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64
                  }
                },
                "required": [
                  "target_domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/displacement-playbook": {
      "post": {
        "operationId": "generate_displacement_playbook",
        "summary": "Generate an end-to-end competitive displacement playbook with switching cost mitigations, POC blueprints, and migration timelines.",
        "description": "Generate an end-to-end competitive displacement playbook with switching cost mitigations, POC blueprints, and migration timelines. Minimum plan: FREE. Spends one credit per call.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "free",
        "x-klarix-mcp-tool": "generate_displacement_playbook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_domain": {
                    "type": "string",
                    "minLength": 4,
                    "description": "The incumbent vendor you are displacing, e.g. \"zoominfo.com\"."
                  },
                  "account_domain": {
                    "description": "The account where the displacement happens, e.g. \"acme.com\". Supplying it grounds the plan in their environment instead of generic switching advice.",
                    "type": "string",
                    "minLength": 4
                  },
                  "target_vertical": {
                    "description": "The market this displacement is aimed at, e.g. \"medical device OEMs\". Sharpens migration risk and executive framing.",
                    "type": "string"
                  },
                  "our_company_name": {
                    "description": "Your company name. Curates the analysis toward how YOU win instead of a generic read.",
                    "type": "string",
                    "minLength": 2
                  },
                  "our_domain": {
                    "description": "Your own web domain, e.g. \"klarix.ai\". Lets the tool research your side of the comparison.",
                    "type": "string",
                    "minLength": 4
                  },
                  "our_differentiators": {
                    "description": "What you actually win on, in your words, e.g. [\"3-7 day delivery\", \"done-for-you, not DIY\"]. Anchors talk tracks to claims you can defend.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "client_id": {
                    "description": "Klarix client id (kebab-case, e.g. \"alium-batteries\"). Loads company name, domain, value propositions, win themes, and ICP from clients/{client_id}/context.json when that file is reachable. Explicit arguments always override it.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64
                  }
                },
                "required": [
                  "target_domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intelligence/product-spec": {
      "post": {
        "operationId": "teardown_product_spec",
        "summary": "Deconstruct physical hardware, battery packs, medical systems, or software APIs into verified specs tables, visual assets, datasheet links, and displacement seams.",
        "description": "Deconstruct physical hardware, battery packs, medical systems, or software APIs into verified specs tables, visual assets, datasheet links, and displacement seams. Minimum plan: PRO. Spends one credit per call. Long-running: budget a client timeout of at least 240s.",
        "tags": [
          "Competitive intelligence"
        ],
        "x-klarix-min-plan": "pro",
        "x-klarix-mcp-tool": "teardown_product_spec",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_domain": {
                    "type": "string",
                    "minLength": 4,
                    "description": "Domain of the company whose product you want deconstructed, e.g. \"tesla.com\", \"enphase.com\", or \"zoominfo.com\"."
                  },
                  "target_company_name": {
                    "description": "Proper name of the company, when domain alone is ambiguous.",
                    "type": "string"
                  },
                  "product_name_or_model": {
                    "description": "Specific product name, model number, or SKU to analyze (e.g., \"Megapack-2XL\" or \"Enrich API\"). If omitted, analyzes their flagship offering.",
                    "type": "string"
                  },
                  "spec_category": {
                    "description": "Focus category for specification extraction. Defaults to \"all\".",
                    "type": "string",
                    "enum": [
                      "all",
                      "hardware_device",
                      "software_api",
                      "medical_clinical",
                      "battery_energy",
                      "materials_machining"
                    ]
                  },
                  "target_vertical": {
                    "description": "The target market context (e.g., \"custom robotics OEMs\" or \"sales tech\").",
                    "type": "string"
                  },
                  "our_product_specs": {
                    "description": "Our own product specifications to benchmark against their specs to highlight asymmetric displacement seams.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "our_company_name": {
                    "description": "Your company name. Curates the analysis toward how YOU win instead of a generic read.",
                    "type": "string",
                    "minLength": 2
                  },
                  "our_domain": {
                    "description": "Your own web domain, e.g. \"klarix.ai\". Lets the tool research your side of the comparison.",
                    "type": "string",
                    "minLength": 4
                  },
                  "our_differentiators": {
                    "description": "What you actually win on, in your words, e.g. [\"3-7 day delivery\", \"done-for-you, not DIY\"]. Anchors talk tracks to claims you can defend.",
                    "maxItems": 12,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "client_id": {
                    "description": "Klarix client id (kebab-case, e.g. \"alium-batteries\"). Loads company name, domain, value propositions, win themes, and ICP from clients/{client_id}/context.json when that file is reachable. Explicit arguments always override it.",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64
                  }
                },
                "required": [
                  "target_domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool ran. Every factual claim in `markdown` carries a citation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          },
          "400": {
            "description": "Body failed validation. `message` names each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "No key arrived (`AUTH_HEADER_MISSING`), the key is unknown (`AUTH_KEY_INVALID`), or it was revoked (`AUTH_KEY_REVOKED`). Call `GET /v1/whoami` to see which.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Key is valid but its credits are spent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Key is valid but this tool requires a higher plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Tool run failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The server cannot verify keys right now (`AUTH_BACKEND_UNAVAILABLE`). Nothing is wrong with your token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/whoami": {
      "get": {
        "operationId": "whoami",
        "summary": "What the server received: key header, plan, credits, callable tools.",
        "description": "Answers 200 whether or not the key is valid, and spends no credit. `key_headers_received: []` means no key reached the server — if you sent one, something in the path removed it.",
        "tags": [
          "Diagnostics"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          },
          {}
        ],
        "responses": {
          "200": {
            "description": "Auth diagnostic.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "authenticated": {
                          "type": "boolean"
                        },
                        "reason": {
                          "type": "string"
                        },
                        "hint": {
                          "type": "string"
                        },
                        "plan": {
                          "type": "string",
                          "enum": [
                            "free",
                            "pro",
                            "team",
                            "ci"
                          ]
                        },
                        "key_source": {
                          "type": "string",
                          "enum": [
                            "env",
                            "database"
                          ]
                        },
                        "credits_remaining": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "key_header_used": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "key_fingerprint": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "tools_allowed": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "key_headers_received": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "via_proxy": {
                          "type": "boolean"
                        },
                        "auth_enforced": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "operationId": "health",
        "summary": "Readiness, tool count, provider availability, and index size.",
        "tags": [
          "Diagnostics"
        ],
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "Service status."
          }
        }
      }
    },
    "/v1/tools": {
      "get": {
        "operationId": "listTools",
        "summary": "Machine-readable catalog of every endpoint and its parameters.",
        "tags": [
          "Diagnostics"
        ],
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "Endpoint catalog."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Klarix key, e.g. `Authorization: Bearer klx_live_…`. Get one at https://klarix.ai/mcp#get-key."
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "Same key, for callers behind a proxy that strips `Authorization`. Keys on the query string are rejected."
      }
    },
    "schemas": {
      "Envelope": {
        "type": "object",
        "required": [
          "success",
          "data",
          "markdown",
          "meta"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "type": "object",
            "description": "Structured tool output. Shape varies by endpoint and is byte-identical to what an MCP client receives.",
            "additionalProperties": true
          },
          "markdown": {
            "type": "string",
            "description": "The same finding as a formatted report, with `[S#]` citations resolving to public sources."
          },
          "meta": {
            "type": "object",
            "required": [
              "latency_ms",
              "timestamp"
            ],
            "properties": {
              "latency_ms": {
                "type": "integer"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "unsupported_params": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Body fields you sent that this tool has no parameter for. Present only when you sent one, so a typo surfaces in the response rather than as silently missing behaviour."
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "INVALID_ARGUMENT",
                  "AUTH_HEADER_MISSING",
                  "AUTH_KEY_INVALID",
                  "AUTH_KEY_REVOKED",
                  "AUTH_BACKEND_UNAVAILABLE",
                  "CREDITS_EXHAUSTED",
                  "PLAN_REQUIRED",
                  "INTERNAL_ERROR"
                ]
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Competitive intelligence",
      "description": "Company, competitor, market, and buyer research."
    },
    {
      "name": "Prospect universe",
      "description": "Semantic search over the indexed account universe."
    },
    {
      "name": "Diagnostics",
      "description": "Unauthenticated readiness and auth introspection."
    }
  ],
  "externalDocs": {
    "url": "https://klarix.ai/docs/api",
    "description": "Interactive reference and playground"
  },
  "x-klarix-plans": {
    "free": {
      "tools": 7,
      "credits": "25 one-time",
      "url": "https://klarix.ai/mcp#get-key"
    },
    "pro": {
      "tools": 15,
      "credits": "1,000/mo",
      "url": "https://klarix.ai/mcp#pricing"
    },
    "team": {
      "tools": 15,
      "credits": "5,000/mo",
      "url": "https://klarix.ai/mcp#pricing"
    },
    "ci": {
      "tools": 15,
      "credits": "unlimited",
      "url": "https://klarix.ai/pricing"
    }
  },
  "x-klarix-tool-plans": {
    "get_company_intelligence": "free",
    "generate_swot_analysis": "free",
    "get_competitor_battlecard": "free",
    "analyze_head_to_head": "free",
    "get_market_landscape": "free",
    "generate_outreach_sequence": "free",
    "generate_displacement_playbook": "free",
    "get_deep_research": "pro",
    "detect_account_triggers": "pro",
    "get_buying_committee": "pro",
    "teardown_tech_stack": "pro",
    "search_scientific_evidence": "pro",
    "teardown_product_spec": "pro",
    "score_prospect_fit": "pro",
    "find_matched_prospects": "pro"
  }
}