{
  "openapi": "3.0.3",
  "info": {
    "title": "Integração Koin - iFood",
    "version": "1.1.0",
    "description": "APIs de integração entre Koin e iFood para:\n- Pré-análise de limite e cadastro (signup)\n- Consulta de limite de crédito\n- Criação de pedidos e cancelamento (reverse)\n- Faturas (invoices) e pagamentos (QR Code PIX)\n- Webhooks de limite\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/koin-175/integracao-koin-ifood/1.1.0"
  },
  "servers": [
    {
      "url": "https://sp-api.koin.com.br",
      "description": "Ambiente Produção"
    },
    {
      "url": "https://pre-prd-sp-api.koin.com.br",
      "description": "Ambiente Pré-Produção"
    }
  ],
  "paths": {
    "/prelimit": {
      "post": {
        "tags": [
          "Pre-Limite"
        ],
        "summary": "API de Pré-Análise de Limite",
        "description": "**Gateway:** `/ifood/pre-limit`\n\nAPI chamada no início do fluxo do iFood, antes da conclusão do cadastro,\npara validações iniciais e simulação de limite disponível (juros à vista).\n",
        "operationId": "executePreLimitAnalysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreLimitRequest"
              },
              "example": {
                "device": {
                  "ipv4": "123.45.67.89",
                  "location": {
                    "latitude": "-23.550520",
                    "longitude": "-46.633308"
                  },
                  "merchantDevice": "Android-13.0"
                },
                "details": {
                  "email": "usuario.exemplo@dominio.com",
                  "firstName": "João",
                  "lastName": "Silva",
                  "birthDate": {
                    "day": 15,
                    "month": 4,
                    "year": 1990
                  },
                  "phoneDetail": [
                    {
                      "type": "Mobile",
                      "areaCode": "011",
                      "number": "999999999"
                    }
                  ],
                  "addressDetail": {
                    "street": "Rua Exemplo",
                    "number": "123",
                    "neighborhood": "Centro",
                    "city": "São Paulo",
                    "state": "SP",
                    "zipCode": "01000-000",
                    "countryCode": "BR",
                    "fullAddress": "Rua Exemplo, 123 - Centro, São Paulo, SP"
                  },
                  "documentDetail": {
                    "type": "CPF",
                    "number": "12345678901",
                    "nationality": "BR"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultado da pré-análise de limite.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreLimitResult"
                },
                "example": {
                  "cpf": "12345678901",
                  "limitAmount": 3894.35,
                  "rate": 0.0399,
                  "lateFee": 2,
                  "approved": true
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação de dados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Cliente inelegível (já é cliente Koin).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno ou falha de integração externa.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/signup": {
      "post": {
        "tags": [
          "Signup"
        ],
        "summary": "Cadastro de clientes (Fluxo iFood)",
        "description": "**Gateway:** `/ifood/signup`\n\nAPI para cadastro de clientes originados do fluxo iFood.\nUsa o mesmo payload base de device + details do pré-limite, com adição de billingDay.\n",
        "operationId": "signUp",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              },
              "example": {
                "device": {
                  "ipv4": "123.45.67.89",
                  "location": {
                    "latitude": "-23.550520",
                    "longitude": "-46.633308"
                  },
                  "merchantDevice": "Android-13.0"
                },
                "details": {
                  "email": "usuario.exemplo@dominio.com",
                  "firstName": "João",
                  "lastName": "Silva",
                  "billingDay": 10,
                  "birthDate": {
                    "day": 15,
                    "month": 4,
                    "year": 1990
                  },
                  "phoneDetail": [
                    {
                      "type": "Mobile",
                      "areaCode": "011",
                      "number": "999999999"
                    }
                  ],
                  "addressDetail": {
                    "street": "Rua Exemplo",
                    "number": "123",
                    "neighborhood": "Centro",
                    "city": "São Paulo",
                    "state": "SP",
                    "zipCode": "01000-000",
                    "countryCode": "BR",
                    "fullAddress": "Rua Exemplo, 123 - Centro, São Paulo, SP"
                  },
                  "documentDetail": {
                    "type": "CPF",
                    "number": "12345678901",
                    "nationality": "BR"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cliente criado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                },
                "example": {
                  "cpf": "12345678901",
                  "billingDay": 10,
                  "currentLimit": 3894.35,
                  "rate": 0.0399,
                  "lateFee": 2
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação de dados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Cliente já existente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Erro de regra de negócio. Códigos possíveis:\n- 001: CUSTOMER_EXISTS_KOIN - Cliente já existe\n- 002: INTERNAL_ERROR - Erro interno\n- 003: CUSTOMER_SECOND_SIGNUP - Cliente tentando segundo cadastro\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/limit": {
      "post": {
        "tags": [
          "Limite"
        ],
        "summary": "Consultar limite do cliente",
        "description": "**Gateway:** `/ifood/limits`\n\nConsulta o limite do cliente. Caso não exista limite ativo/válido,\na API chama o motor de crédito (KDE) para recalcular e retorna o limite atualizado.\n\n`limite_disponivel = valor_KDE - SUM(customer_limit_provision) - SUM(boletos_em_aberto_sellers_koin_ifood)`\n",
        "operationId": "searchCreditLimitAnalysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreLimitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Limite atual do cliente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LimitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação de dados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Cliente não registrado na Koin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/order": {
      "post": {
        "tags": [
          "Pedido"
        ],
        "summary": "Criar pedido",
        "description": "**Gateway:** `/ifood/orders/transaction`\n\nCria um pedido no fluxo iFood, enviando os dados de transação,\npagador e recebedor. A validação é síncrona.\n",
        "operationId": "createOrder",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              },
              "example": {
                "transaction": {
                  "reference_id": "O95012165662",
                  "original_date": "2025-11-07",
                  "channel": "app",
                  "amount": {
                    "value": 62.9,
                    "currency_code": "BRL"
                  }
                },
                "payer": {
                  "document": {
                    "nationality": "BR",
                    "type": "cpf",
                    "number": "59316020204"
                  },
                  "phone": {
                    "area": "92",
                    "number": "981355041"
                  },
                  "address": {
                    "state": "AM",
                    "street": "Rua Oiapoque",
                    "number": "46",
                    "district": "Aleixo",
                    "city_name": "Manaus",
                    "country_code": "BR",
                    "zip_code": "69060170"
                  },
                  "email": "exemplo@gmail.com",
                  "birthdate": "1976-03-13",
                  "first_name": "PATRÍCIA",
                  "last_name": "GOMES DA SILVA"
                },
                "recipient": {
                  "document": {
                    "number": "10573521000191",
                    "type": "cnpj",
                    "nationality": "BR"
                  },
                  "full_name": "Mercado Livre"
                },
                "country_code": "BR",
                "notification_url": [
                  "https://sp-api.koin.com.br/app-pix/webhook-transaction"
                ],
                "ip_address": "152.237.212.151"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pedido criado e autorizado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação de dados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Requisição duplicada (já em processamento).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Erro de comunicação externa.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/order/cancel": {
      "post": {
        "tags": [
          "Pedido"
        ],
        "summary": "Cancelamento de pedido (reverse)",
        "description": "**Gateway:** `/ifood/orders/reverse`\n\nCria uma solicitação de cancelamento (total, parcial ou com multa).\n\nTipos de cancelamento:\n- 1 = Total\n- 2 = Parcial\n- 3 = Com multa\n",
        "operationId": "createReverse",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelRequest"
              },
              "examples": {
                "cancel_total": {
                  "summary": "Cancelamento total",
                  "value": {
                    "reference": "O95012165662",
                    "type": 1,
                    "value": 100,
                    "valuePenalty": 0,
                    "idempotencyKey": "ifood-unique-key-001",
                    "additionalInfo": "Cancelamento total do pedido"
                  }
                },
                "cancel_partial": {
                  "summary": "Cancelamento parcial",
                  "value": {
                    "reference": "Teste_4491474",
                    "type": 2,
                    "value": 430,
                    "valuePenalty": 0,
                    "idempotencyKey": "ifood-unique-key-002",
                    "additionalInfo": "Cancelamento parcial do pedido"
                  }
                },
                "cancel_with_penalty": {
                  "summary": "Cancelamento com multa",
                  "value": {
                    "reference": "Teste_92664573",
                    "type": 3,
                    "value": 233.95,
                    "valuePenalty": 283.95,
                    "idempotencyKey": "ifood-unique-key-003",
                    "additionalInfo": "Cancelamento com multa por atraso",
                    "user": "david.nascimentoReverse@koin.com.br"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solicitação de cancelamento aceita.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação de dados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Requisição duplicada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Erro no processamento do reverse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/order/filter": {
      "post": {
        "tags": [
          "Pedido"
        ],
        "summary": "Filtrar/listar pedidos",
        "description": "**Gateway:** `/ifood/orders/filter`\n\nRetorna os contratos de acordo (agreement contracts) de um pedido por CPF e referência.\n",
        "operationId": "filterOrders",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderFilterRequest"
              },
              "example": {
                "document": "12345678901",
                "reference": "O95012165662"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contratos encontrados.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "JSON dinâmico com os contratos"
                }
              }
            }
          },
          "400": {
            "description": "Erro de validação de dados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Venda não encontrada para CPF e referência informados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/sale/list": {
      "post": {
        "tags": [
          "Pedido"
        ],
        "summary": "Listar vendas do contrato",
        "description": "**Gateway:** `/ifood/sale/list`\n\nProxy endpoint para buscar contratos de acordo no serviço VCC.\n",
        "operationId": "searchAgreementContracts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgreementContractSearchRequest"
              },
              "example": {
                "filter": {
                  "socialSecurityNumber": "12345678901",
                  "saleDateStart": "2025-01-01",
                  "saleDateEnd": "2025-12-31"
                },
                "pageable": {
                  "number": 0,
                  "pageSize": 10,
                  "sort": "idSale",
                  "sortDirection": "DESC"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contratos recuperados com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "JSON dinâmico com os contratos"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - socialSecurityNumber é obrigatório.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/invoices": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Listar invoices (resumo)",
        "description": "**Gateway:** `/ifood/invoices`\n\nLista as faturas do cliente, incluindo vencimento e totais por fatura.\n",
        "operationId": "getInvoiceSummary",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceSummaryRequest"
              },
              "example": {
                "pageable": {
                  "number": 0,
                  "pageSize": 10,
                  "sort": "idInstallment",
                  "sortDirection": "asc"
                },
                "filter": {
                  "socialSecurityNumber": "12345678901",
                  "installmentDueDateStart": "2025-01-01",
                  "installmentDueDateEnd": "2025-12-31"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista resumida de faturas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSummaryResponse"
                },
                "example": {
                  "content": [
                    {
                      "originalDueDate": "2025-11-01",
                      "invoiceCutOffDay": "2025-10-17",
                      "totalAmount": 32.56,
                      "payableAmount": 32.56,
                      "totalInstallments": 6
                    },
                    {
                      "originalDueDate": "2025-12-01",
                      "invoiceCutOffDay": "2025-11-16",
                      "totalAmount": 112.92,
                      "payableAmount": 0,
                      "totalInstallments": 17
                    }
                  ],
                  "totalElements": 11,
                  "totalPages": 1,
                  "numberOfElements": 11,
                  "number": 0,
                  "empty": false
                }
              }
            }
          },
          "400": {
            "description": "Erro de parâmetros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/detail": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Listar parcelas detalhadas das invoices",
        "description": "**Gateway:** `/ifood/invoices/detail`\n\nRetorna o detalhamento de parcelas (installments) das faturas do cliente.\n",
        "operationId": "getInvoiceDetail",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceDetailRequest"
              },
              "example": {
                "socialSecurityNumber": "12345678901",
                "originalDueDate": "2025-11-01",
                "page": 0,
                "pageSize": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista de parcelas detalhadas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de parâmetros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/qr-code": {
      "post": {
        "tags": [
          "Pagamentos"
        ],
        "summary": "Gerar QR Code de pagamento",
        "description": "**Gateway:** `/ifood/invoices/qr-code`\n\nGera o QR Code (PIX) para pagamento de uma invoice ou parcela específica.\n",
        "operationId": "generateQrCode",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QrCodeRequest"
              },
              "example": {
                "document": "12345678901",
                "dueDate": "2025-11-01"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dados do QR Code gerado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QrCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro de parâmetros ou nenhuma parcela ativa encontrada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/limit": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Webhook de Atualização de Limite (iFood → Koin)",
        "description": "Recebe eventos do iFood para ajuste de limite (crédito/débito) e comunicação\nde pagamentos. Os eventos são validados e enfileirados para processamento\nassíncrono e persistência em `customer_limit_provision`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LimitWebhookRequest"
              },
              "example": {
                "cpf": "12345678901",
                "amount": 300,
                "operation": "credit",
                "origin": "ifood",
                "event": "LIMIT_UPDATED",
                "referenceId": "ifood-evt-789",
                "idempotencyKey": "ifood-unique-key-001",
                "occurredAt": "2025-11-05T11:00:00Z"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Evento aceito para processamento assíncrono."
          },
          "400": {
            "description": "Erro de validação do payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/limit/notify": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Notificação de Limite (Koin → iFood)",
        "description": "Endpoint utilizado pela Koin para notificar o iFood sobre alterações\nde limite (ex.: após pagamento de parcela ou recálculo de limite).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LimitUpdatedNotification"
              },
              "example": {
                "cpf": "12345678901",
                "amount": 150,
                "event": "LIMIT_UPDATED",
                "origin": "koin",
                "occurredAt": "2025-11-10T12:00:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notificação recebida com sucesso pelo iFood."
          },
          "400": {
            "description": "Erro de validação do payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Cpf": {
        "type": "string",
        "pattern": "^\\d{11}$",
        "example": "12345678901"
      },
      "PreLimitRequest": {
        "type": "object",
        "required": [
          "details"
        ],
        "properties": {
          "device": {
            "$ref": "#/components/schemas/DeviceInfo"
          },
          "details": {
            "$ref": "#/components/schemas/CustomerDetails"
          }
        }
      },
      "DeviceInfo": {
        "type": "object",
        "properties": {
          "ipv4": {
            "type": "string",
            "example": "123.45.67.89"
          },
          "location": {
            "$ref": "#/components/schemas/LocationInfo"
          },
          "merchantDevice": {
            "type": "string",
            "example": "Android-13.0"
          }
        }
      },
      "LocationInfo": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "string",
            "example": "-23.550520"
          },
          "longitude": {
            "type": "string",
            "example": "-46.633308"
          }
        }
      },
      "CustomerDetails": {
        "type": "object",
        "required": [
          "email",
          "firstName",
          "lastName",
          "birthDate",
          "phoneDetail",
          "addressDetail",
          "documentDetail"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "usuario.exemplo@dominio.com"
          },
          "firstName": {
            "type": "string",
            "example": "João"
          },
          "lastName": {
            "type": "string",
            "example": "Silva"
          },
          "birthDate": {
            "$ref": "#/components/schemas/BirthDate"
          },
          "phoneDetail": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/PhoneDetail"
            }
          },
          "addressDetail": {
            "$ref": "#/components/schemas/AddressDetail"
          },
          "documentDetail": {
            "$ref": "#/components/schemas/DocumentDetail"
          }
        }
      },
      "BirthDate": {
        "type": "object",
        "required": [
          "day",
          "month",
          "year"
        ],
        "properties": {
          "day": {
            "type": "integer",
            "minimum": 1,
            "maximum": 31,
            "example": 15
          },
          "month": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12,
            "example": 4
          },
          "year": {
            "type": "integer",
            "minimum": 1900,
            "example": 1990
          }
        }
      },
      "PhoneDetail": {
        "type": "object",
        "required": [
          "type",
          "areaCode",
          "number"
        ],
        "properties": {
          "type": {
            "type": "string",
            "example": "Mobile"
          },
          "areaCode": {
            "type": "string",
            "example": "011"
          },
          "number": {
            "type": "string",
            "example": "999999999"
          }
        }
      },
      "AddressDetail": {
        "type": "object",
        "required": [
          "street",
          "number",
          "neighborhood",
          "city",
          "state",
          "zipCode",
          "countryCode"
        ],
        "properties": {
          "street": {
            "type": "string",
            "example": "Rua Exemplo"
          },
          "number": {
            "type": "string",
            "example": "123"
          },
          "neighborhood": {
            "type": "string",
            "example": "Centro"
          },
          "city": {
            "type": "string",
            "example": "São Paulo"
          },
          "state": {
            "type": "string",
            "example": "SP"
          },
          "zipCode": {
            "type": "string",
            "example": "01000-000"
          },
          "countryCode": {
            "type": "string",
            "example": "BR"
          },
          "fullAddress": {
            "type": "string",
            "example": "Rua Exemplo, 123 - Centro, São Paulo, SP"
          },
          "complement": {
            "type": "string"
          }
        }
      },
      "DocumentDetail": {
        "type": "object",
        "required": [
          "type",
          "number",
          "nationality"
        ],
        "properties": {
          "type": {
            "type": "string",
            "example": "CPF"
          },
          "number": {
            "type": "string",
            "example": "12345678901"
          },
          "nationality": {
            "type": "string",
            "example": "BR"
          }
        }
      },
      "PreLimitResult": {
        "type": "object",
        "properties": {
          "cpf": {
            "type": "string",
            "example": "12345678901"
          },
          "limitAmount": {
            "type": "number",
            "format": "decimal",
            "example": 3894.35
          },
          "rate": {
            "type": "number",
            "format": "decimal",
            "example": 0.0399
          },
          "lateFee": {
            "type": "number",
            "format": "decimal",
            "example": 2
          },
          "approved": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "SignupRequest": {
        "type": "object",
        "required": [
          "details"
        ],
        "properties": {
          "device": {
            "$ref": "#/components/schemas/DeviceInfo"
          },
          "details": {
            "$ref": "#/components/schemas/SignupDetails"
          }
        }
      },
      "SignupDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomerDetails"
          },
          {
            "type": "object",
            "required": [
              "billingDay"
            ],
            "properties": {
              "billingDay": {
                "type": "integer",
                "minimum": 1,
                "maximum": 28,
                "example": 10
              }
            }
          }
        ]
      },
      "SignupResponse": {
        "type": "object",
        "properties": {
          "cpf": {
            "$ref": "#/components/schemas/Cpf"
          },
          "billingDay": {
            "type": "integer",
            "example": 10
          },
          "currentLimit": {
            "type": "number",
            "format": "decimal",
            "example": 3894.35
          },
          "rate": {
            "type": "number",
            "format": "decimal",
            "example": 0.0399
          },
          "lateFee": {
            "type": "number",
            "format": "decimal",
            "example": 2
          }
        }
      },
      "LimitResponse": {
        "type": "object",
        "properties": {
          "creditRating": {
            "type": "integer",
            "example": 9
          },
          "recurrenceCount": {
            "type": "integer",
            "example": 3
          },
          "personId": {
            "type": "integer",
            "example": 347134
          },
          "initialLimit": {
            "type": "number",
            "format": "decimal",
            "example": 6500
          },
          "availableLimit": {
            "type": "number",
            "format": "decimal",
            "example": 3894.35
          },
          "blockedLimit": {
            "type": "number",
            "format": "decimal",
            "example": 0
          },
          "currentBlockedLimit": {
            "type": "number",
            "format": "decimal",
            "example": 0
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time",
            "example": "2025-11-07T00:00:00Z"
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "supportsRepeatPurchase": {
            "type": "boolean",
            "example": false
          },
          "isNotPreapproved": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "OrderRequest": {
        "type": "object",
        "required": [
          "transaction",
          "payer",
          "recipient"
        ],
        "properties": {
          "transaction": {
            "$ref": "#/components/schemas/TransactionInfo"
          },
          "payer": {
            "$ref": "#/components/schemas/PayerInfo"
          },
          "recipient": {
            "$ref": "#/components/schemas/RecipientInfo"
          },
          "device_info": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "country_code": {
            "type": "string",
            "example": "BR"
          },
          "notification_url": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "https://sp-api.koin.com.br/app-pix/webhook-transaction"
            ]
          },
          "payment_type": {
            "type": "string"
          },
          "ip_address": {
            "type": "string",
            "example": "152.237.212.151"
          }
        }
      },
      "TransactionInfo": {
        "type": "object",
        "required": [
          "reference_id",
          "channel",
          "amount"
        ],
        "properties": {
          "reference_id": {
            "type": "string",
            "example": "O95012165662"
          },
          "original_date": {
            "type": "string",
            "format": "date",
            "example": "2025-11-07"
          },
          "channel": {
            "type": "string",
            "example": "app"
          },
          "amount": {
            "$ref": "#/components/schemas/AmountInfo"
          }
        }
      },
      "AmountInfo": {
        "type": "object",
        "required": [
          "value"
        ],
        "properties": {
          "value": {
            "type": "number",
            "format": "decimal",
            "example": 62.9
          },
          "currency_code": {
            "type": "string",
            "example": "BRL"
          }
        }
      },
      "PayerInfo": {
        "type": "object",
        "required": [
          "document",
          "email",
          "first_name",
          "last_name",
          "birthdate",
          "phone",
          "address"
        ],
        "properties": {
          "document": {
            "$ref": "#/components/schemas/PayerDocument"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "exemplo@gmail.com"
          },
          "first_name": {
            "type": "string",
            "example": "PATRÍCIA"
          },
          "last_name": {
            "type": "string",
            "example": "GOMES DA SILVA"
          },
          "birthdate": {
            "type": "string",
            "format": "date",
            "example": "1976-03-13"
          },
          "phone": {
            "$ref": "#/components/schemas/PayerPhone"
          },
          "address": {
            "$ref": "#/components/schemas/PayerAddress"
          }
        }
      },
      "PayerDocument": {
        "type": "object",
        "required": [
          "number"
        ],
        "properties": {
          "nationality": {
            "type": "string",
            "example": "BR"
          },
          "type": {
            "type": "string",
            "example": "cpf"
          },
          "number": {
            "type": "string",
            "example": "59316020204"
          }
        }
      },
      "PayerPhone": {
        "type": "object",
        "properties": {
          "area": {
            "type": "string",
            "example": "92"
          },
          "number": {
            "type": "string",
            "example": "981355041"
          },
          "type": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PayerAddress": {
        "type": "object",
        "required": [
          "street",
          "number",
          "city_name",
          "state",
          "zip_code",
          "country_code"
        ],
        "properties": {
          "state": {
            "type": "string",
            "example": "AM"
          },
          "street": {
            "type": "string",
            "example": "Rua Oiapoque"
          },
          "number": {
            "type": "string",
            "example": "46"
          },
          "complement": {
            "type": "string",
            "nullable": true
          },
          "district": {
            "type": "string",
            "example": "Aleixo"
          },
          "city_name": {
            "type": "string",
            "example": "Manaus"
          },
          "country_code": {
            "type": "string",
            "example": "BR"
          },
          "zip_code": {
            "type": "string",
            "example": "69060170"
          }
        }
      },
      "RecipientInfo": {
        "type": "object",
        "required": [
          "full_name"
        ],
        "properties": {
          "document": {
            "$ref": "#/components/schemas/RecipientDocument"
          },
          "full_name": {
            "type": "string",
            "example": "Mercado Livre"
          }
        }
      },
      "RecipientDocument": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "example": "10573521000191"
          },
          "type": {
            "type": "string",
            "example": "cnpj"
          },
          "nationality": {
            "type": "string",
            "example": "BR"
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Order created successfully"
          },
          "transaction_id": {
            "type": "string",
            "example": "TXN-123456"
          },
          "status": {
            "type": "string",
            "example": "authorized"
          },
          "reference_id": {
            "type": "string",
            "example": "O95012165662"
          },
          "amount": {
            "type": "number",
            "format": "decimal",
            "example": 62.9
          },
          "currency": {
            "type": "string",
            "example": "BRL"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-11-05T13:00:00Z"
          }
        }
      },
      "CancelRequest": {
        "type": "object",
        "required": [
          "reference",
          "type",
          "value",
          "idempotencyKey"
        ],
        "properties": {
          "reference": {
            "type": "string",
            "description": "Identificador da transação/pedido a ser cancelado.",
            "example": "O95012165662"
          },
          "type": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3,
            "description": "Tipo de cancelamento:\n1 = Total\n2 = Parcial\n3 = Com multa\n",
            "example": 1
          },
          "value": {
            "type": "number",
            "format": "decimal",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Valor a ser cancelado.",
            "example": 100
          },
          "valuePenalty": {
            "type": "number",
            "format": "decimal",
            "description": "Valor de multa/penalidade (quando aplicável).",
            "example": 0
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Chave única para garantir idempotência da operação.",
            "example": "ifood-unique-key-001"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Informação adicional sobre o cancelamento.",
            "example": "Cancelamento parcial do pedido"
          },
          "user": {
            "type": "string",
            "nullable": true,
            "description": "Usuário responsável pelo cancelamento.",
            "example": "david.nascimentoReverse@koin.com.br"
          },
          "bankData": {
            "$ref": "#/components/schemas/BankData"
          }
        }
      },
      "BankData": {
        "type": "object",
        "nullable": true,
        "description": "Dados bancários para reembolso.",
        "properties": {
          "bankCode": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "agency": {
            "type": "string"
          },
          "account": {
            "type": "string"
          },
          "accountType": {
            "type": "string"
          }
        }
      },
      "ReverseOrderResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Reverse order accepted"
          },
          "reference": {
            "type": "string",
            "example": "O95012165662"
          }
        }
      },
      "OrderFilterRequest": {
        "type": "object",
        "required": [
          "document",
          "reference"
        ],
        "properties": {
          "document": {
            "type": "string",
            "description": "CPF do cliente (somente dígitos).",
            "example": "12345678901"
          },
          "reference": {
            "type": "string",
            "description": "Referência do pedido.",
            "example": "O95012165662"
          }
        }
      },
      "AgreementContractSearchRequest": {
        "type": "object",
        "required": [
          "filter"
        ],
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/FilterRequest"
          },
          "pageable": {
            "$ref": "#/components/schemas/PageableRequest"
          }
        }
      },
      "FilterRequest": {
        "type": "object",
        "required": [
          "socialSecurityNumber"
        ],
        "properties": {
          "socialSecurityNumber": {
            "type": "string",
            "description": "CPF do cliente (obrigatório).",
            "example": "12345678901"
          },
          "reference": {
            "type": "string",
            "description": "Referência do pedido."
          },
          "saleDateStart": {
            "type": "string",
            "format": "date",
            "description": "Data inicial da venda (yyyy-MM-dd)."
          },
          "saleDateEnd": {
            "type": "string",
            "format": "date",
            "description": "Data final da venda (yyyy-MM-dd)."
          },
          "statusReference": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de status de referência."
          },
          "transactionId": {
            "type": "integer",
            "format": "int64",
            "description": "ID da transação."
          },
          "sellerNickname": {
            "type": "string",
            "description": "Apelido do vendedor."
          },
          "cardId": {
            "type": "integer",
            "description": "ID do cartão."
          },
          "olderActiveAgreement": {
            "type": "boolean",
            "description": "Filtrar por contratos ativos mais antigos."
          }
        }
      },
      "PageableRequest": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "minimum": 0,
            "description": "Número da página (0-indexed).",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "description": "Tamanho da página.",
            "example": 10
          },
          "sort": {
            "type": "string",
            "description": "Campo de ordenação.",
            "example": "idSale"
          },
          "sortDirection": {
            "type": "string",
            "enum": [
              "ASC",
              "DESC",
              "asc",
              "desc"
            ],
            "description": "Direção da ordenação.",
            "example": "DESC"
          }
        }
      },
      "InvoiceSummaryRequest": {
        "type": "object",
        "required": [
          "pageable",
          "filter"
        ],
        "properties": {
          "pageable": {
            "$ref": "#/components/schemas/PageableRequest"
          },
          "filter": {
            "$ref": "#/components/schemas/InvoiceFilter"
          }
        }
      },
      "InvoiceFilter": {
        "type": "object",
        "required": [
          "socialSecurityNumber"
        ],
        "properties": {
          "socialSecurityNumber": {
            "type": "string",
            "pattern": "^\\d{11}$",
            "description": "CPF do cliente (11 dígitos).",
            "example": "12345678901"
          },
          "installmentDueDateStart": {
            "type": "string",
            "format": "date",
            "description": "Data inicial de vencimento (yyyy-MM-dd)."
          },
          "installmentDueDateEnd": {
            "type": "string",
            "format": "date",
            "description": "Data final de vencimento (yyyy-MM-dd)."
          }
        }
      },
      "InvoiceSummaryResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "Lista de faturas por data de vencimento.",
            "items": {
              "$ref": "#/components/schemas/InvoiceSummaryItem"
            }
          },
          "totalElements": {
            "type": "integer",
            "format": "int64",
            "description": "Total de registros.",
            "example": 11
          },
          "totalPages": {
            "type": "integer",
            "description": "Total de páginas.",
            "example": 1
          },
          "numberOfElements": {
            "type": "integer",
            "description": "Quantidade de elementos na página atual.",
            "example": 11
          },
          "number": {
            "type": "integer",
            "description": "Número da página atual (0-based).",
            "example": 0
          },
          "empty": {
            "type": "boolean",
            "description": "Indica se o resultado está vazio.",
            "example": false
          }
        }
      },
      "InvoiceSummaryItem": {
        "type": "object",
        "properties": {
          "originalDueDate": {
            "type": "string",
            "format": "date",
            "description": "Data de vencimento da fatura.",
            "example": "2025-11-01"
          },
          "invoiceCutOffDay": {
            "type": "string",
            "format": "date",
            "description": "Data de corte da fatura.",
            "example": "2025-10-17"
          },
          "totalAmount": {
            "type": "number",
            "format": "decimal",
            "description": "Valor total da fatura.",
            "example": 32.56
          },
          "payableAmount": {
            "type": "number",
            "format": "decimal",
            "description": "Valor em aberto a pagar.",
            "example": 32.56
          },
          "totalInstallments": {
            "type": "integer",
            "description": "Quantidade de parcelas.",
            "example": 6
          }
        }
      },
      "InvoiceDetailRequest": {
        "type": "object",
        "required": [
          "socialSecurityNumber",
          "page",
          "pageSize"
        ],
        "properties": {
          "socialSecurityNumber": {
            "type": "string",
            "pattern": "^\\d{11}$",
            "description": "CPF do cliente (11 dígitos).",
            "example": "12345678901"
          },
          "originalDueDate": {
            "type": "string",
            "format": "date",
            "description": "Data de vencimento original (yyyy-MM-dd)."
          },
          "page": {
            "type": "integer",
            "minimum": 0,
            "description": "Número da página (0-indexed).",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "minimum": 1,
            "description": "Tamanho da página.",
            "example": 10
          }
        }
      },
      "InvoiceDetailResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstallmentDetail"
            }
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer"
          },
          "numberOfElements": {
            "type": "integer"
          },
          "number": {
            "type": "integer"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "InstallmentDetail": {
        "type": "object",
        "properties": {
          "idInstallment": {
            "type": "integer",
            "format": "int64"
          },
          "idTransaction": {
            "type": "integer",
            "format": "int64"
          },
          "idSale": {
            "type": "integer",
            "format": "int64"
          },
          "idAggContract": {
            "type": "integer",
            "format": "int64"
          },
          "idSeller": {
            "type": "integer",
            "format": "int64"
          },
          "numberInstallment": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "originalDueDate": {
            "type": "string",
            "format": "date"
          },
          "currentDueDate": {
            "type": "string",
            "format": "date"
          },
          "amortizedValue": {
            "type": "number",
            "format": "decimal"
          },
          "interests": {
            "type": "number",
            "format": "decimal"
          },
          "installmentValue": {
            "type": "number",
            "format": "decimal"
          },
          "delayCharges": {
            "type": "number",
            "format": "decimal"
          },
          "payableAmount": {
            "type": "number",
            "format": "decimal"
          },
          "paymentDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "documentType": {
            "type": "string"
          },
          "subsidiaryDocument": {
            "type": "string"
          },
          "subsidiaryName": {
            "type": "string"
          },
          "totalInstallments": {
            "type": "integer"
          },
          "paymentMethodFirstInstallment": {
            "type": "string"
          },
          "paymentMethod": {
            "type": "string"
          },
          "originalInvoiceDueDate": {
            "type": "integer",
            "nullable": true
          },
          "firstDueDateTime": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "QrCodeRequest": {
        "type": "object",
        "required": [
          "document",
          "dueDate"
        ],
        "properties": {
          "document": {
            "type": "string",
            "pattern": "^\\d{11}$",
            "description": "CPF do cliente (11 dígitos).",
            "example": "12345678901"
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "description": "Data de vencimento (yyyy-MM-dd).",
            "example": "2025-11-01"
          }
        }
      },
      "QrCodeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "url": {
            "type": "string"
          },
          "emv": {
            "type": "string"
          },
          "qrCode": {
            "type": "string",
            "description": "Conteúdo do QR Code em Base64."
          },
          "installment": {
            "type": "object",
            "nullable": true
          },
          "referenceId": {
            "type": "string"
          },
          "businessId": {
            "type": "string"
          },
          "account": {
            "type": "string"
          },
          "currencyCode": {
            "type": "string",
            "example": "BRL"
          },
          "amount": {
            "type": "string"
          },
          "installmentValue": {
            "type": "number",
            "format": "decimal"
          },
          "delayCharges": {
            "type": "number",
            "format": "decimal"
          },
          "orderId": {
            "type": "string"
          },
          "qrCodeUrl": {
            "type": "string"
          }
        }
      },
      "LimitWebhookRequest": {
        "type": "object",
        "required": [
          "cpf",
          "amount",
          "operation",
          "origin",
          "event",
          "occurredAt"
        ],
        "properties": {
          "cpf": {
            "$ref": "#/components/schemas/Cpf"
          },
          "amount": {
            "type": "number",
            "format": "decimal",
            "description": "Valor da operação de ajuste de limite.",
            "example": 300
          },
          "operation": {
            "type": "string",
            "description": "Tipo de operação de limite.",
            "enum": [
              "credit",
              "debit"
            ],
            "example": "credit"
          },
          "origin": {
            "type": "string",
            "description": "Origem do evento.",
            "example": "ifood"
          },
          "event": {
            "type": "string",
            "description": "Tipo de evento.",
            "example": "LIMIT_UPDATED"
          },
          "referenceId": {
            "type": "string",
            "nullable": true,
            "description": "Identificador de referência do evento no iFood.",
            "example": "ifood-evt-789"
          },
          "idempotencyKey": {
            "type": "string",
            "nullable": true,
            "description": "Chave única para garantir idempotência.",
            "example": "ifood-unique-key-001"
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data/hora em que o evento ocorreu.",
            "example": "2025-11-05T11:00:00Z"
          }
        }
      },
      "LimitUpdatedNotification": {
        "type": "object",
        "required": [
          "cpf",
          "amount",
          "event",
          "origin",
          "occurredAt"
        ],
        "properties": {
          "cpf": {
            "$ref": "#/components/schemas/Cpf"
          },
          "amount": {
            "type": "number",
            "format": "decimal",
            "description": "Limite disponível após o ajuste.",
            "example": 150
          },
          "event": {
            "type": "string",
            "description": "Tipo de evento de notificação.",
            "example": "LIMIT_UPDATED"
          },
          "origin": {
            "type": "string",
            "description": "Origem da notificação.",
            "example": "koin"
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data/hora em que o limite foi recalculado.",
            "example": "2025-11-10T12:00:00Z"
          }
        }
      },
      "ApiError": {
        "type": "object",
        "description": "Resposta padrão de erro da API.",
        "properties": {
          "apierror": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status HTTP.",
                "example": "BAD_REQUEST"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "description": "Data/hora do erro."
              },
              "message": {
                "type": "string",
                "description": "Mensagem de erro."
              },
              "code": {
                "type": "string",
                "description": "Código de erro (para SignUpException).",
                "example": "001"
              },
              "debugMessage": {
                "type": "string",
                "description": "Informação de debug."
              },
              "className": {
                "type": "string",
                "description": "Nome da classe de exceção."
              },
              "requestURI": {
                "type": "string",
                "description": "URI da requisição."
              },
              "subErrors": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApiValidationError"
                },
                "description": "Erros de validação detalhados."
              }
            }
          }
        }
      },
      "ApiValidationError": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "description": "Nome do objeto com erro."
          },
          "field": {
            "type": "string",
            "description": "Nome do campo com erro."
          },
          "rejectedValue": {
            "description": "Valor rejeitado."
          },
          "message": {
            "type": "string",
            "description": "Mensagem de erro de validação."
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Pre-Limite",
      "description": "APIs de pré-análise de limite no fluxo iFood."
    },
    {
      "name": "Signup",
      "description": "Cadastro de clientes no fluxo iFood."
    },
    {
      "name": "Limite",
      "description": "Consulta e cálculo de limite de crédito."
    },
    {
      "name": "Pedido",
      "description": "Criação de pedidos e cancelamento (reverse)."
    },
    {
      "name": "Invoices",
      "description": "Consulta de faturas e parcelas."
    },
    {
      "name": "Pagamentos",
      "description": "Meios de pagamento e QR Code PIX."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks de atualização de limite entre iFood e Koin."
    }
  ]
}