{
  "openapi": "3.1.0",
  "info": {
    "title": "DEXUN AdWhiz API",
    "version": "1.1.0",
    "description": "Public REST API for DEXUN AdWhiz. Bearer-authenticated with `dxk_live_*` / `dxk_test_*` keys generated in /settings/api-keys. Per-key rate-limited by subscription tier (60 / 120 / 600 / 3000 RPM). Every authed response carries `X-RateLimit-*` headers — same data also available via `/usage`.",
    "contact": {
      "name": "DEXUN INC",
      "url": "https://app.7275.com/contact",
      "email": "service@7275.com"
    },
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-DEXUN-Proprietary"
    },
    "x-jentic-source-url": "https://www.7275.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://app.7275.com/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Identity + quota whoami",
        "description": "Returns the calling token's owner and the current rate-limit window. Equivalent to OAuth provider `/userinfo` endpoints.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/usage": {
      "get": {
        "tags": [
          "Quota"
        ],
        "summary": "Read current rate-limit window without a probe",
        "description": "Returns tier, RPM limit, remaining, and reset_at. Same data as the X-RateLimit-* headers, surfaced for clients that want to introspect without paying the round-trip cost of a no-op call.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/audit-events": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Stream of security audit events for the caller",
        "description": "Same data the user sees in /settings#security, in a SDK-friendly shape. Newest first.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "How many rows to return. Defaults to 50, clamped to 200."
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only events at or after this timestamp."
          },
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated allowlist of event kinds (e.g. `sign_in,api_key_created`). Unknown values → 400 invalid_kind."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `since` or unknown `kind`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api-keys": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "List the caller's API keys",
        "description": "Lists every key (active + revoked) for the caller. The full plaintext key is never returned; only the prefix.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeysResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/changelog": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Public product changelog feed",
        "description": "No auth, no rate limit. Cached for 1 hour with ETag + If-None-Match support. Use `?lang=zh-CN` for Chinese copy; defaults to English.",
        "security": [],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "zh-CN",
                "en"
              ],
              "default": "en"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            },
            "description": "Only return the most recent N entries (1..50). Useful for \"what's new since I last updated\" widgets that only need the top of the list. Omit for the full list."
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "description": "Return only entries whose `date >= since` (YYYY-MM-DD). Stored \"last-poll date\" + this filter is the canonical pattern for incremental fetches. Applied before `limit`."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Pass the ETag from a previous response; 304 if unchanged."
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "RFC 7231 HTTP-date. 304 when the newest entry is not newer than this date. ETag is preferred when both are sent (RFC 9110 §13.1)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Quoted SHA-256 fingerprint of the entry set + lang + limit + since. Differs across locales, limit values, and since values so consumers do not get false 304s on the wrong variant."
              },
              "Last-Modified": {
                "schema": {
                  "type": "string"
                },
                "description": "IMF-fixdate of the most recent entry (00:00:00 GMT — we only carry day-level precision in the source data)."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "examples": [
                    "public, max-age=3600, s-maxage=3600"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangelogResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified — the entry set has not changed since the supplied ETag."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "dxk_<env>_<token>",
        "description": "Generate in /settings/api-keys. Plaintext is shown once at creation; only the SHA-256 hash is stored."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "request_id"
            ],
            "properties": {
              "code": {
                "type": "string",
                "examples": [
                  "unauthorized",
                  "rate_limited",
                  "invalid_kind"
                ]
              },
              "message": {
                "type": "string"
              },
              "request_id": {
                "type": "string",
                "description": "Correlation id — include this in any support email."
              }
            }
          }
        }
      },
      "RateLimit": {
        "type": "object",
        "required": [
          "limit_per_minute",
          "remaining",
          "reset_at"
        ],
        "properties": {
          "limit_per_minute": {
            "type": "integer",
            "examples": [
              120
            ]
          },
          "remaining": {
            "type": "integer",
            "examples": [
              119
            ]
          },
          "reset_at": {
            "type": "string",
            "format": "date-time",
            "description": "Unix-ms of the oldest request in the current window + 60s."
          }
        }
      },
      "MeResponse": {
        "type": "object",
        "required": [
          "user",
          "key",
          "tier",
          "rate_limit"
        ],
        "properties": {
          "user": {
            "type": "object",
            "required": [
              "id",
              "email",
              "created_at",
              "last_login_at",
              "email_verified",
              "connected_accounts_count"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "preferred_locale": {
                "type": "string",
                "enum": [
                  "zh-CN",
                  "en"
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "last_login_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              },
              "email_verified": {
                "type": "boolean"
              },
              "connected_accounts_count": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "key": {
            "type": "object",
            "required": [
              "id",
              "environment"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "environment": {
                "type": "string",
                "enum": [
                  "live",
                  "test"
                ]
              }
            }
          },
          "tier": {
            "type": "string",
            "enum": [
              "free",
              "professional",
              "business",
              "enterprise"
            ]
          },
          "rate_limit": {
            "$ref": "#/components/schemas/RateLimit"
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "required": [
          "tier",
          "environment",
          "limit_per_minute",
          "remaining",
          "reset_at"
        ],
        "properties": {
          "tier": {
            "type": "string",
            "enum": [
              "free",
              "professional",
              "business",
              "enterprise"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "live",
              "test"
            ]
          },
          "limit_per_minute": {
            "type": "integer"
          },
          "remaining": {
            "type": "integer"
          },
          "reset_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AuditEvent": {
        "type": "object",
        "required": [
          "kind",
          "created_at"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "sign_in",
              "sign_out",
              "password_changed",
              "api_key_created",
              "api_key_revoked",
              "ad_account_connected",
              "ad_account_disconnected",
              "ad_account_token_expired",
              "subscription_changed",
              "subscription_canceled",
              "affiliate_applied",
              "affiliate_approved",
              "affiliate_rejected",
              "mcp_connector_authorized"
            ]
          },
          "ip": {
            "type": [
              "string",
              "null"
            ]
          },
          "ua": {
            "type": [
              "string",
              "null"
            ]
          },
          "meta": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true,
            "description": "Event-specific JSON. Shape depends on `kind` — see /docs/security-whitepaper for the full reference."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AuditEventsResponse": {
        "type": "object",
        "required": [
          "count",
          "limit",
          "events"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 0
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "since": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "kinds": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditEvent"
            }
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "required": [
          "id",
          "name",
          "prefix",
          "environment",
          "created_at",
          "active"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string",
            "description": "First 13 chars (e.g. \"dxk_live_aBc1\"). The full plaintext is never returned."
          },
          "environment": {
            "type": "string",
            "enum": [
              "live",
              "test"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "revoked_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "active": {
            "type": "boolean",
            "description": "Convenience flag — true iff revoked_at is null."
          }
        }
      },
      "ApiKeysResponse": {
        "type": "object",
        "required": [
          "count",
          "keys"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 0
          },
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            }
          }
        }
      },
      "ChangelogEntry": {
        "type": "object",
        "required": [
          "date",
          "version",
          "tags",
          "title",
          "description",
          "bullets"
        ],
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "version": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "kind",
                "label"
              ],
              "properties": {
                "kind": {
                  "type": "string",
                  "enum": [
                    "feature",
                    "improvement",
                    "fix",
                    "security",
                    "platform"
                  ]
                },
                "label": {
                  "type": "string"
                }
              }
            }
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "bullets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "related": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "href": {
                "type": "string"
              },
              "label": {
                "type": "string"
              }
            }
          }
        }
      },
      "ChangelogResponse": {
        "type": "object",
        "required": [
          "lang",
          "generated_at",
          "count",
          "entries"
        ],
        "properties": {
          "lang": {
            "type": "string",
            "enum": [
              "zh-CN",
              "en"
            ]
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          },
          "count": {
            "type": "integer",
            "minimum": 0
          },
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChangelogEntry"
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "API key missing, malformed, or revoked.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Exceeded the per-key RPM limit. Honor the `Retry-After` header.",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds until the current window resets."
          },
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "integer"
            },
            "description": "Unix epoch (seconds)."
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Identity",
      "description": "Who is this API key for? Use these endpoints to introspect the caller and verify a key is wired correctly before issuing real requests."
    },
    {
      "name": "Quota",
      "description": "Inspect rate-limit headroom without paying for a probe request."
    },
    {
      "name": "Activity",
      "description": "Read-only access to the caller's security audit trail. Same data the user sees in /settings#security."
    },
    {
      "name": "Keys",
      "description": "List the caller's API keys. Issuance / revocation still happens in the dashboard — programmatic create is intentionally not exposed."
    },
    {
      "name": "Public",
      "description": "Endpoints that take no API key — no auth, no rate limit. Safe to call from front-end code."
    }
  ]
}