{
  "openapi": "3.0.3",
  "info": {
    "title": "Bitculator Data API",
    "description": "Programmatic access to Bitculator market data: coins, prices, history, exchanges, trust scores, tickers, pairs, wallets, sentiment, technical indicators, liquidations, editorial content, and calculators.\n\nPlatform status: https://bitculator.com/en/status · Changelog: https://bitculator.com/en/documentation/api/changelog · Versioning, deprecation and disclosure policy: https://bitculator.com/en/documentation/api/policies",
    "version": "1.3.2",
    "contact": {
      "name": "Bitculator",
      "url": "https://bitculator.com/en/contact",
      "email": "contact@bitculator.com"
    },
    "termsOfService": "https://bitculator.com/en/terms-of-service",
    "license": {
      "name": "Proprietary — governed by the Bitculator Terms of Service",
      "url": "https://bitculator.com/en/terms-of-service"
    },
    "x-jentic-source-url": "https://bitculator.com/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://bitculator.com"
    }
  ],
  "paths": {
    "/api/v1/coins": {
      "get": {
        "summary": "List coins",
        "operationId": "listCoins",
        "description": "Ranked coins with prices, filters and selectors, paginated with Laravel's\n`links` + `meta` envelope. Prices and circulating_supply are decimal strings;\nmarketcap, volume_24h, changes and ranks are numbers.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-based). Must be at least 1.",
            "example": 1,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number (1-based). Must be at least 1.",
              "example": 1,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.",
            "example": 50,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.",
              "example": 50,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "Restrict to a single asset type: coin or token.",
            "example": "coin",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Restrict to a single asset type: coin or token.",
              "example": "coin",
              "enum": [
                "coin",
                "token"
              ],
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.",
            "example": "active",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.",
              "example": "active",
              "enum": [
                "active",
                "delisted",
                "untracked",
                "progressing",
                "awaiting",
                "preparing"
              ],
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Free-text match on name or symbol. Must not be greater than 100 characters.",
            "example": "bitcoin",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Free-text match on name or symbol. Must not be greater than 100 characters.",
              "example": "bitcoin",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "min_price",
            "description": "Only coins priced at or above this USD value. Must be at least 0.",
            "example": 0.5,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins priced at or above this USD value. Must be at least 0.",
              "example": 0.5,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "max_price",
            "description": "Only coins priced at or below this USD value. Must be at least 0.",
            "example": 100000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins priced at or below this USD value. Must be at least 0.",
              "example": 100000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "min_marketcap",
            "description": "Only coins with a USD marketcap at or above this value. Must be at least 0.",
            "example": 1000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with a USD marketcap at or above this value. Must be at least 0.",
              "example": 1000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "max_marketcap",
            "description": "Only coins with a USD marketcap at or below this value. Must be at least 0.",
            "example": 5000000000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with a USD marketcap at or below this value. Must be at least 0.",
              "example": 5000000000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "min_volume",
            "description": "Only coins with 24h USD volume at or above this value. Must be at least 0.",
            "example": 1000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with 24h USD volume at or above this value. Must be at least 0.",
              "example": 1000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "max_volume",
            "description": "Only coins with 24h USD volume at or below this value. Must be at least 0.",
            "example": 100000000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with 24h USD volume at or below this value. Must be at least 0.",
              "example": 100000000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "ids",
            "description": "Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.",
            "example": "38,39",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.",
              "example": "38,39",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "slugs",
            "description": "Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.",
            "example": "bitcoin,ethereum",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.",
              "example": "bitcoin,ethereum",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "symbols",
            "description": "Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.",
            "example": "BTC,ETH",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.",
              "example": "BTC,ETH",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.",
            "example": "-marketcap",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.",
              "example": "-marketcap",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "Movers window for /coins/gainers and /coins/losers only: 24h or 7d.",
            "example": "24h",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Movers window for /coins/gainers and /coins/losers only: 24h or 7d.",
              "example": "24h",
              "enum": [
                "24h",
                "7d"
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": 38,
                          "slug": "bitcoin",
                          "name": "Bitcoin",
                          "symbol": "BTC",
                          "rank": 1,
                          "price": "63520.780763913",
                          "marketcap": 1264646594448.5,
                          "volume_24h": 5345161962.84,
                          "change_24h": 1.35,
                          "change_7d": 4.98,
                          "change_rank_24h": 0,
                          "change_rank_7d": 0,
                          "circulating_supply": "19909179",
                          "logo": "https://bitculator.com/storage/media/logo/bitcoin.png",
                          "listed_at": "2025-03-15T17:00:43+00:00",
                          "last_updated": "2026-06-27T10:34:17+00:00"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 38
                          },
                          "slug": {
                            "type": "string",
                            "example": "bitcoin"
                          },
                          "name": {
                            "type": "string",
                            "example": "Bitcoin",
                            "nullable": true
                          },
                          "symbol": {
                            "type": "string",
                            "example": "BTC"
                          },
                          "rank": {
                            "type": "integer",
                            "example": 1,
                            "nullable": true
                          },
                          "price": {
                            "type": "string",
                            "example": "63520.780763913",
                            "nullable": true
                          },
                          "marketcap": {
                            "type": "number",
                            "example": 1264646594448.5,
                            "nullable": true
                          },
                          "volume_24h": {
                            "type": "number",
                            "example": 5345161962.84,
                            "nullable": true
                          },
                          "change_24h": {
                            "type": "number",
                            "example": 1.35,
                            "nullable": true
                          },
                          "change_7d": {
                            "type": "number",
                            "example": 4.98,
                            "nullable": true
                          },
                          "change_rank_24h": {
                            "type": "integer",
                            "example": 0,
                            "nullable": true
                          },
                          "change_rank_7d": {
                            "type": "integer",
                            "example": 0,
                            "nullable": true
                          },
                          "circulating_supply": {
                            "type": "string",
                            "example": "19909179",
                            "nullable": true
                          },
                          "logo": {
                            "type": "string",
                            "example": "https://bitculator.com/storage/media/logo/bitcoin.png",
                            "nullable": true
                          },
                          "listed_at": {
                            "type": "string",
                            "example": "2025-03-15T17:00:43+00:00",
                            "nullable": true
                          },
                          "last_updated": {
                            "type": "string",
                            "example": "2026-06-27T10:34:17+00:00",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 38,
                      "slug": "bitcoin",
                      "name": "Bitcoin",
                      "symbol": "BTC",
                      "rank": 1,
                      "price": "63520.780763913",
                      "marketcap": 1264646594448.5,
                      "volume_24h": 5345161962.84,
                      "change_24h": 1.35,
                      "change_7d": 4.98,
                      "change_rank_24h": 0,
                      "change_rank_7d": 0,
                      "circulating_supply": "19909179",
                      "logo": "https://bitculator.com/storage/media/logo/bitcoin.png",
                      "listed_at": "2025-03-15T17:00:43+00:00",
                      "last_updated": "2026-06-27T10:34:17+00:00"
                    }
                  ],
                  "links": {
                    "first": "https://bitculator.com/api/v1/coins?page=1",
                    "last": "https://bitculator.com/api/v1/coins?page=3",
                    "prev": null,
                    "next": "https://bitculator.com/api/v1/coins?page=2"
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 3,
                    "per_page": 50,
                    "to": 50,
                    "total": 134
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Used": {
                "$ref": "#/components/headers/X-Quota-Used"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "example": {
                  "error": {
                    "code": "validation",
                    "message": "The request parameters are invalid.",
                    "details": {
                      "errors": {
                        "per_page": [
                          "The per page must not be greater than 250."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Coins"
        ]
      }
    },
    "/api/v1/coins/recently-added": {
      "get": {
        "summary": "Recently added coins",
        "operationId": "recentlyAddedCoins",
        "description": "Newest listings — sorted by status_updated_at (the went-active timestamp;\ncreated_at is the crawl date, which predates listing by arbitrary amounts).\nA `sort` replaces that newest-first default, as on `List coins`. Same row shape\nand pagination envelope as `List coins`.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-based). Must be at least 1.",
            "example": 1,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number (1-based). Must be at least 1.",
              "example": 1,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.",
            "example": 50,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.",
              "example": 50,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "Restrict to a single asset type: coin or token.",
            "example": "coin",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Restrict to a single asset type: coin or token.",
              "example": "coin",
              "enum": [
                "coin",
                "token"
              ],
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.",
            "example": "active",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.",
              "example": "active",
              "enum": [
                "active",
                "delisted",
                "untracked",
                "progressing",
                "awaiting",
                "preparing"
              ],
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Free-text match on name or symbol. Must not be greater than 100 characters.",
            "example": "bitcoin",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Free-text match on name or symbol. Must not be greater than 100 characters.",
              "example": "bitcoin",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "min_price",
            "description": "Only coins priced at or above this USD value. Must be at least 0.",
            "example": 0.5,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins priced at or above this USD value. Must be at least 0.",
              "example": 0.5,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "max_price",
            "description": "Only coins priced at or below this USD value. Must be at least 0.",
            "example": 100000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins priced at or below this USD value. Must be at least 0.",
              "example": 100000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "min_marketcap",
            "description": "Only coins with a USD marketcap at or above this value. Must be at least 0.",
            "example": 1000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with a USD marketcap at or above this value. Must be at least 0.",
              "example": 1000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "max_marketcap",
            "description": "Only coins with a USD marketcap at or below this value. Must be at least 0.",
            "example": 5000000000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with a USD marketcap at or below this value. Must be at least 0.",
              "example": 5000000000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "min_volume",
            "description": "Only coins with 24h USD volume at or above this value. Must be at least 0.",
            "example": 1000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with 24h USD volume at or above this value. Must be at least 0.",
              "example": 1000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "max_volume",
            "description": "Only coins with 24h USD volume at or below this value. Must be at least 0.",
            "example": 100000000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with 24h USD volume at or below this value. Must be at least 0.",
              "example": 100000000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "ids",
            "description": "Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.",
            "example": "38,39",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.",
              "example": "38,39",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "slugs",
            "description": "Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.",
            "example": "bitcoin,ethereum",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.",
              "example": "bitcoin,ethereum",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "symbols",
            "description": "Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.",
            "example": "BTC,ETH",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.",
              "example": "BTC,ETH",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.",
            "example": "-marketcap",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.",
              "example": "-marketcap",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "Movers window for /coins/gainers and /coins/losers only: 24h or 7d.",
            "example": "24h",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Movers window for /coins/gainers and /coins/losers only: 24h or 7d.",
              "example": "24h",
              "enum": [
                "24h",
                "7d"
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Coins"
        ]
      }
    },
    "/api/v1/coins/gainers": {
      "get": {
        "summary": "Top gainers",
        "operationId": "topGainers",
        "description": "Biggest positive movers over the `interval` window (24h default, or 7d). Same row\nshape and pagination envelope as `List coins`.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-based). Must be at least 1.",
            "example": 1,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number (1-based). Must be at least 1.",
              "example": 1,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.",
            "example": 50,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.",
              "example": 50,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "Restrict to a single asset type: coin or token.",
            "example": "coin",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Restrict to a single asset type: coin or token.",
              "example": "coin",
              "enum": [
                "coin",
                "token"
              ],
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.",
            "example": "active",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.",
              "example": "active",
              "enum": [
                "active",
                "delisted",
                "untracked",
                "progressing",
                "awaiting",
                "preparing"
              ],
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Free-text match on name or symbol. Must not be greater than 100 characters.",
            "example": "bitcoin",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Free-text match on name or symbol. Must not be greater than 100 characters.",
              "example": "bitcoin",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "min_price",
            "description": "Only coins priced at or above this USD value. Must be at least 0.",
            "example": 0.5,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins priced at or above this USD value. Must be at least 0.",
              "example": 0.5,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "max_price",
            "description": "Only coins priced at or below this USD value. Must be at least 0.",
            "example": 100000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins priced at or below this USD value. Must be at least 0.",
              "example": 100000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "min_marketcap",
            "description": "Only coins with a USD marketcap at or above this value. Must be at least 0.",
            "example": 1000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with a USD marketcap at or above this value. Must be at least 0.",
              "example": 1000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "max_marketcap",
            "description": "Only coins with a USD marketcap at or below this value. Must be at least 0.",
            "example": 5000000000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with a USD marketcap at or below this value. Must be at least 0.",
              "example": 5000000000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "min_volume",
            "description": "Only coins with 24h USD volume at or above this value. Must be at least 0.",
            "example": 1000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with 24h USD volume at or above this value. Must be at least 0.",
              "example": 1000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "max_volume",
            "description": "Only coins with 24h USD volume at or below this value. Must be at least 0.",
            "example": 100000000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with 24h USD volume at or below this value. Must be at least 0.",
              "example": 100000000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "ids",
            "description": "Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.",
            "example": "38,39",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.",
              "example": "38,39",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "slugs",
            "description": "Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.",
            "example": "bitcoin,ethereum",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.",
              "example": "bitcoin,ethereum",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "symbols",
            "description": "Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.",
            "example": "BTC,ETH",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.",
              "example": "BTC,ETH",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.",
            "example": "-marketcap",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.",
              "example": "-marketcap",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "Movers window for /coins/gainers and /coins/losers only: 24h or 7d.",
            "example": "24h",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Movers window for /coins/gainers and /coins/losers only: 24h or 7d.",
              "example": "24h",
              "enum": [
                "24h",
                "7d"
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": 57,
                          "slug": "solana",
                          "name": "Solana",
                          "symbol": "SOL",
                          "rank": 6,
                          "price": "187.412038",
                          "marketcap": 90412884120.4,
                          "volume_24h": 4128841207.36,
                          "change_24h": 12.84,
                          "change_7d": 21.37,
                          "change_rank_24h": 1,
                          "change_rank_7d": 2,
                          "circulating_supply": "482423113",
                          "logo": "https://bitculator.com/storage/media/logo/solana.png",
                          "listed_at": "2025-03-15T17:01:12+00:00",
                          "last_updated": "2026-06-27T10:34:17+00:00"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 57
                          },
                          "slug": {
                            "type": "string",
                            "example": "solana"
                          },
                          "name": {
                            "type": "string",
                            "example": "Solana",
                            "nullable": true
                          },
                          "symbol": {
                            "type": "string",
                            "example": "SOL"
                          },
                          "rank": {
                            "type": "integer",
                            "example": 6,
                            "nullable": true
                          },
                          "price": {
                            "type": "string",
                            "example": "187.412038",
                            "nullable": true
                          },
                          "marketcap": {
                            "type": "number",
                            "example": 90412884120.4,
                            "nullable": true
                          },
                          "volume_24h": {
                            "type": "number",
                            "example": 4128841207.36,
                            "nullable": true
                          },
                          "change_24h": {
                            "type": "number",
                            "example": 12.84,
                            "nullable": true
                          },
                          "change_7d": {
                            "type": "number",
                            "example": 21.37,
                            "nullable": true
                          },
                          "change_rank_24h": {
                            "type": "integer",
                            "example": 1,
                            "nullable": true
                          },
                          "change_rank_7d": {
                            "type": "integer",
                            "example": 2,
                            "nullable": true
                          },
                          "circulating_supply": {
                            "type": "string",
                            "example": "482423113",
                            "nullable": true
                          },
                          "logo": {
                            "type": "string",
                            "example": "https://bitculator.com/storage/media/logo/solana.png",
                            "nullable": true
                          },
                          "listed_at": {
                            "type": "string",
                            "example": "2025-03-15T17:01:12+00:00",
                            "nullable": true
                          },
                          "last_updated": {
                            "type": "string",
                            "example": "2026-06-27T10:34:17+00:00",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 57,
                      "slug": "solana",
                      "name": "Solana",
                      "symbol": "SOL",
                      "rank": 6,
                      "price": "187.412038",
                      "marketcap": 90412884120.4,
                      "volume_24h": 4128841207.36,
                      "change_24h": 12.84,
                      "change_7d": 21.37,
                      "change_rank_24h": 1,
                      "change_rank_7d": 2,
                      "circulating_supply": "482423113",
                      "logo": "https://bitculator.com/storage/media/logo/solana.png",
                      "listed_at": "2025-03-15T17:01:12+00:00",
                      "last_updated": "2026-06-27T10:34:17+00:00"
                    }
                  ],
                  "links": {
                    "first": "https://bitculator.com/api/v1/coins/gainers?page=1",
                    "last": "https://bitculator.com/api/v1/coins/gainers?page=2",
                    "prev": null,
                    "next": "https://bitculator.com/api/v1/coins/gainers?page=2"
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 2,
                    "per_page": 50,
                    "to": 50,
                    "total": 89
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Used": {
                "$ref": "#/components/headers/X-Quota-Used"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Coins"
        ]
      }
    },
    "/api/v1/coins/losers": {
      "get": {
        "summary": "Top losers",
        "operationId": "topLosers",
        "description": "Biggest negative movers over the `interval` window (24h default, or 7d). Same row\nshape and pagination envelope as `List coins`.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-based). Must be at least 1.",
            "example": 1,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number (1-based). Must be at least 1.",
              "example": 1,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.",
            "example": 50,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Rows per page. The cap is plan-based (Free 100, Starter/Pro 250); exceeding it returns 422 rather than clamping. Must be at least 1. Must not be greater than 100.",
              "example": 50,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "type",
            "description": "Restrict to a single asset type: coin or token.",
            "example": "coin",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Restrict to a single asset type: coin or token.",
              "example": "coin",
              "enum": [
                "coin",
                "token"
              ],
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.",
            "example": "active",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Listing status: active, delisted, untracked, progressing, awaiting or preparing. Defaults to all public statuses.",
              "example": "active",
              "enum": [
                "active",
                "delisted",
                "untracked",
                "progressing",
                "awaiting",
                "preparing"
              ],
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Free-text match on name or symbol. Must not be greater than 100 characters.",
            "example": "bitcoin",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Free-text match on name or symbol. Must not be greater than 100 characters.",
              "example": "bitcoin",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "min_price",
            "description": "Only coins priced at or above this USD value. Must be at least 0.",
            "example": 0.5,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins priced at or above this USD value. Must be at least 0.",
              "example": 0.5,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "max_price",
            "description": "Only coins priced at or below this USD value. Must be at least 0.",
            "example": 100000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins priced at or below this USD value. Must be at least 0.",
              "example": 100000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "min_marketcap",
            "description": "Only coins with a USD marketcap at or above this value. Must be at least 0.",
            "example": 1000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with a USD marketcap at or above this value. Must be at least 0.",
              "example": 1000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "max_marketcap",
            "description": "Only coins with a USD marketcap at or below this value. Must be at least 0.",
            "example": 5000000000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with a USD marketcap at or below this value. Must be at least 0.",
              "example": 5000000000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "min_volume",
            "description": "Only coins with 24h USD volume at or above this value. Must be at least 0.",
            "example": 1000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with 24h USD volume at or above this value. Must be at least 0.",
              "example": 1000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "max_volume",
            "description": "Only coins with 24h USD volume at or below this value. Must be at least 0.",
            "example": 100000000000,
            "required": false,
            "schema": {
              "type": "number",
              "description": "Only coins with 24h USD volume at or below this value. Must be at least 0.",
              "example": 100000000000,
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "ids",
            "description": "Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.",
            "example": "38,39",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter to specific coin ids (CSV, up to 100 selectors combined with slugs/symbols). Must not be greater than 1000 characters.",
              "example": "38,39",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "slugs",
            "description": "Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.",
            "example": "bitcoin,ethereum",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter to specific coin slugs (CSV, up to 100 selectors combined). Must not be greater than 2000 characters.",
              "example": "bitcoin,ethereum",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "symbols",
            "description": "Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.",
            "example": "BTC,ETH",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filter to specific coin symbols (CSV, case-insensitive, up to 100 selectors combined). Must not be greater than 1000 characters.",
              "example": "BTC,ETH",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.",
            "example": "-marketcap",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated sort fields; prefix with - for descending. Sortable: marketcap, rank, price, volume_24h, change_24h, change_7d. Must not be greater than 100 characters.",
              "example": "-marketcap",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "interval",
            "description": "Movers window for /coins/gainers and /coins/losers only: 24h or 7d.",
            "example": "24h",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Movers window for /coins/gainers and /coins/losers only: 24h or 7d.",
              "example": "24h",
              "enum": [
                "24h",
                "7d"
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": 74,
                          "slug": "dogecoin",
                          "name": "Dogecoin",
                          "symbol": "DOGE",
                          "rank": 9,
                          "price": "0.163804217",
                          "marketcap": 24372767929.84,
                          "volume_24h": 1238471920.18,
                          "change_24h": -9.42,
                          "change_7d": -14.67,
                          "change_rank_24h": -1,
                          "change_rank_7d": -2,
                          "circulating_supply": "148792066384",
                          "logo": "https://bitculator.com/storage/media/logo/dogecoin.png",
                          "listed_at": "2025-03-15T17:01:30+00:00",
                          "last_updated": "2026-06-27T10:34:17+00:00"
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 74
                          },
                          "slug": {
                            "type": "string",
                            "example": "dogecoin"
                          },
                          "name": {
                            "type": "string",
                            "example": "Dogecoin",
                            "nullable": true
                          },
                          "symbol": {
                            "type": "string",
                            "example": "DOGE"
                          },
                          "rank": {
                            "type": "integer",
                            "example": 9,
                            "nullable": true
                          },
                          "price": {
                            "type": "string",
                            "example": "0.163804217",
                            "nullable": true
                          },
                          "marketcap": {
                            "type": "number",
                            "example": 24372767929.84,
                            "nullable": true
                          },
                          "volume_24h": {
                            "type": "number",
                            "example": 1238471920.18,
                            "nullable": true
                          },
                          "change_24h": {
                            "type": "number",
                            "example": -9.42,
                            "nullable": true
                          },
                          "change_7d": {
                            "type": "number",
                            "example": -14.67,
                            "nullable": true
                          },
                          "change_rank_24h": {
                            "type": "integer",
                            "example": -1,
                            "nullable": true
                          },
                          "change_rank_7d": {
                            "type": "integer",
                            "example": -2,
                            "nullable": true
                          },
                          "circulating_supply": {
                            "type": "string",
                            "example": "148792066384",
                            "nullable": true
                          },
                          "logo": {
                            "type": "string",
                            "example": "https://bitculator.com/storage/media/logo/dogecoin.png",
                            "nullable": true
                          },
                          "listed_at": {
                            "type": "string",
                            "example": "2025-03-15T17:01:30+00:00",
                            "nullable": true
                          },
                          "last_updated": {
                            "type": "string",
                            "example": "2026-06-27T10:34:17+00:00",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 74,
                      "slug": "dogecoin",
                      "name": "Dogecoin",
                      "symbol": "DOGE",
                      "rank": 9,
                      "price": "0.163804217",
                      "marketcap": 24372767929.84,
                      "volume_24h": 1238471920.18,
                      "change_24h": -9.42,
                      "change_7d": -14.67,
                      "change_rank_24h": -1,
                      "change_rank_7d": -2,
                      "circulating_supply": "148792066384",
                      "logo": "https://bitculator.com/storage/media/logo/dogecoin.png",
                      "listed_at": "2025-03-15T17:01:30+00:00",
                      "last_updated": "2026-06-27T10:34:17+00:00"
                    }
                  ],
                  "links": {
                    "first": "https://bitculator.com/api/v1/coins/losers?page=1",
                    "last": "https://bitculator.com/api/v1/coins/losers?page=2",
                    "prev": null,
                    "next": "https://bitculator.com/api/v1/coins/losers?page=2"
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 2,
                    "per_page": 50,
                    "to": 50,
                    "total": 76
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Used": {
                "$ref": "#/components/headers/X-Quota-Used"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Coins"
        ]
      }
    },
    "/api/v1/coins/trending": {
      "get": {
        "summary": "Trending coins",
        "operationId": "trendingCoins",
        "description": "The most-viewed coins right now, ranked by view `score`. A compact projection\n(no pagination): id, slug, name, symbol, rank, price (decimal string), marketcap,\nlogo and score.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "How many trending coins to return (1–20, default 10).",
            "example": 10,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "How many trending coins to return (1–20, default 10).",
              "example": 10,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": 38,
                          "slug": "bitcoin",
                          "name": "Bitcoin",
                          "symbol": "BTC",
                          "rank": 1,
                          "price": "63520.780763913",
                          "marketcap": 1264646594448.5,
                          "logo": "https://bitculator.com/storage/media/logo/bitcoin.png",
                          "score": 2
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 38
                          },
                          "slug": {
                            "type": "string",
                            "example": "bitcoin"
                          },
                          "name": {
                            "type": "string",
                            "example": "Bitcoin",
                            "nullable": true
                          },
                          "symbol": {
                            "type": "string",
                            "example": "BTC"
                          },
                          "rank": {
                            "type": "integer",
                            "example": 1,
                            "nullable": true
                          },
                          "price": {
                            "type": "string",
                            "example": "63520.780763913",
                            "nullable": true
                          },
                          "marketcap": {
                            "type": "number",
                            "example": 1264646594448.5,
                            "nullable": true
                          },
                          "logo": {
                            "type": "string",
                            "example": "https://bitculator.com/storage/media/logo/bitcoin.png",
                            "nullable": true
                          },
                          "score": {
                            "type": "integer",
                            "example": 2
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 38,
                      "slug": "bitcoin",
                      "name": "Bitcoin",
                      "symbol": "BTC",
                      "rank": 1,
                      "price": "63520.780763913",
                      "marketcap": 1264646594448.5,
                      "logo": "https://bitculator.com/storage/media/logo/bitcoin.png",
                      "score": 2
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Used": {
                "$ref": "#/components/headers/X-Quota-Used"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Coins"
        ]
      }
    },
    "/api/v1/coins/{slug}": {
      "get": {
        "summary": "Get coin detail",
        "operationId": "getCoinDetail",
        "description": "Full single-coin profile. Beyond the list fields it adds: `supply`\n(circulating/total/max), `today` OHLC, `all_time_high` / `all_time_low` (price,\ndate and percent_from the current price), `fully_diluted_valuation` (max supply,\nelse total supply, times the price; `null` when neither is known), market\n`counts` (exchanges/pairs/tickers/wallets), `decimals`, `genesis_date`, official\n`links` (typed url list), token `contracts`, and a localized HTML `description`\n(falls back to English when the requested locale is missing). All price/supply\nfields are decimal strings.",
        "parameters": [
          {
            "in": "query",
            "name": "locale",
            "description": "Content language for the description (falls back to English).",
            "example": "en",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Content language for the description (falls back to English).",
              "example": "en",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 38
                        },
                        "slug": {
                          "type": "string",
                          "example": "bitcoin"
                        },
                        "name": {
                          "type": "string",
                          "example": "Bitcoin",
                          "nullable": true
                        },
                        "symbol": {
                          "type": "string",
                          "example": "BTC"
                        },
                        "type": {
                          "type": "string",
                          "example": "coin"
                        },
                        "rank": {
                          "type": "integer",
                          "example": 1,
                          "nullable": true
                        },
                        "price": {
                          "type": "string",
                          "example": "63520.780763913",
                          "nullable": true
                        },
                        "marketcap": {
                          "type": "number",
                          "example": 1264646594448.5,
                          "nullable": true
                        },
                        "fully_diluted_valuation": {
                          "type": "number",
                          "example": 1333936396042.2,
                          "nullable": true
                        },
                        "volume_24h": {
                          "type": "number",
                          "example": 5345161962.84,
                          "nullable": true
                        },
                        "change_24h": {
                          "type": "number",
                          "example": 1.35,
                          "nullable": true
                        },
                        "change_7d": {
                          "type": "number",
                          "example": 4.98,
                          "nullable": true
                        },
                        "change_rank_24h": {
                          "type": "integer",
                          "example": 0,
                          "nullable": true
                        },
                        "change_rank_7d": {
                          "type": "integer",
                          "example": 0,
                          "nullable": true
                        },
                        "supply": {
                          "type": "object",
                          "properties": {
                            "circulating": {
                              "type": "string",
                              "example": "19909179",
                              "nullable": true
                            },
                            "total": {
                              "type": "string",
                              "example": "19970852",
                              "nullable": true
                            },
                            "max": {
                              "type": "string",
                              "example": "21000000",
                              "nullable": true
                            }
                          }
                        },
                        "today": {
                          "type": "object",
                          "properties": {
                            "open": {
                              "type": "string",
                              "example": "63408.100996475",
                              "nullable": true
                            },
                            "high": {
                              "type": "string",
                              "example": "63640.608639825",
                              "nullable": true
                            },
                            "low": {
                              "type": "string",
                              "example": "62798.732107749",
                              "nullable": true
                            },
                            "close": {
                              "type": "string",
                              "example": "63520.780763913",
                              "nullable": true
                            }
                          }
                        },
                        "all_time_high": {
                          "type": "object",
                          "properties": {
                            "price": {
                              "type": "string",
                              "example": "125881.21309073"
                            },
                            "date": {
                              "type": "string",
                              "example": "2025-10-06",
                              "nullable": true
                            },
                            "percent_from": {
                              "type": "number",
                              "example": -49.54,
                              "nullable": true
                            }
                          },
                          "nullable": true
                        },
                        "all_time_low": {
                          "type": "object",
                          "properties": {
                            "price": {
                              "type": "string",
                              "example": "0.099"
                            },
                            "date": {
                              "type": "string",
                              "example": "2010-10-12",
                              "nullable": true
                            },
                            "percent_from": {
                              "type": "number",
                              "example": 64162304.81,
                              "nullable": true
                            }
                          },
                          "nullable": true
                        },
                        "counts": {
                          "type": "object",
                          "properties": {
                            "exchanges": {
                              "type": "integer",
                              "example": 11,
                              "nullable": true
                            },
                            "pairs": {
                              "type": "integer",
                              "example": 92,
                              "nullable": true
                            },
                            "tickers": {
                              "type": "integer",
                              "example": 211,
                              "nullable": true
                            },
                            "wallets": {
                              "type": "integer",
                              "example": 206,
                              "nullable": true
                            }
                          }
                        },
                        "decimals": {
                          "type": "integer",
                          "example": 8,
                          "nullable": true
                        },
                        "genesis_date": {
                          "type": "string",
                          "example": "2009-01-03",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "example": "<p>Bitcoin is a decentralized digital currency…</p>",
                          "nullable": true
                        },
                        "links": {
                          "type": "array",
                          "example": [
                            {
                              "type": "website",
                              "url": "https://bitcoin.org/en/"
                            },
                            {
                              "type": "whitepaper",
                              "url": "https://bitcoin.org/bitcoin.pdf"
                            }
                          ],
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "website"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://bitcoin.org/en/",
                                "nullable": true
                              }
                            }
                          }
                        },
                        "contracts": {
                          "type": "array",
                          "example": []
                        },
                        "logo": {
                          "type": "string",
                          "example": "https://bitculator.com/storage/media/logo/bitcoin.png",
                          "nullable": true
                        },
                        "last_updated": {
                          "type": "string",
                          "example": "2026-06-27T10:34:17+00:00",
                          "nullable": true
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": 38,
                    "slug": "bitcoin",
                    "name": "Bitcoin",
                    "symbol": "BTC",
                    "type": "coin",
                    "rank": 1,
                    "price": "63520.780763913",
                    "marketcap": 1264646594448.5,
                    "fully_diluted_valuation": 1333936396042.2,
                    "volume_24h": 5345161962.84,
                    "change_24h": 1.35,
                    "change_7d": 4.98,
                    "change_rank_24h": 0,
                    "change_rank_7d": 0,
                    "supply": {
                      "circulating": "19909179",
                      "total": "19970852",
                      "max": "21000000"
                    },
                    "today": {
                      "open": "63408.100996475",
                      "high": "63640.608639825",
                      "low": "62798.732107749",
                      "close": "63520.780763913"
                    },
                    "all_time_high": {
                      "price": "125881.21309073",
                      "date": "2025-10-06",
                      "percent_from": -49.54
                    },
                    "all_time_low": {
                      "price": "0.099",
                      "date": "2010-10-12",
                      "percent_from": 64162304.81
                    },
                    "counts": {
                      "exchanges": 11,
                      "pairs": 92,
                      "tickers": 211,
                      "wallets": 206
                    },
                    "decimals": 8,
                    "genesis_date": "2009-01-03",
                    "description": "<p>Bitcoin is a decentralized digital currency…</p>",
                    "links": [
                      {
                        "type": "website",
                        "url": "https://bitcoin.org/en/"
                      },
                      {
                        "type": "whitepaper",
                        "url": "https://bitcoin.org/bitcoin.pdf"
                      }
                    ],
                    "contracts": [],
                    "logo": "https://bitculator.com/storage/media/logo/bitcoin.png",
                    "last_updated": "2026-06-27T10:34:17+00:00"
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Used": {
                "$ref": "#/components/headers/X-Quota-Used"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Coin not found."
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Coins"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "slug",
          "description": "The coin slug.",
          "example": "bitcoin",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/v1/coins/{slug}/history": {
      "get": {
        "summary": "Candle history",
        "operationId": "candleHistory",
        "description": "Per-coin OHLC + volume + marketcap time series. Pick `interval`: minutely,\nhalf-hourly, hourly or daily. Retention is a hard property of the rollup\npipeline — minutely 8 days, half-hourly 3 months, hourly 6 months, daily forever;\nrequests beyond a window return what exists. When a `limit` is set you get the\nMOST RECENT N rows in the window, emitted oldest-first. Prices are decimal\nstrings.",
        "parameters": [
          {
            "in": "query",
            "name": "interval",
            "description": "minutely, half-hourly, hourly or daily (default daily).",
            "example": "daily",
            "required": false,
            "schema": {
              "type": "string",
              "description": "minutely, half-hourly, hourly or daily (default daily).",
              "example": "daily"
            }
          },
          {
            "in": "query",
            "name": "start",
            "description": "ISO date/time lower bound.",
            "example": "2026-06-01",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO date/time lower bound.",
              "example": "2026-06-01"
            }
          },
          {
            "in": "query",
            "name": "end",
            "description": "ISO date/time upper bound (a date-only value means through that day).",
            "example": "2026-06-30",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO date/time upper bound (a date-only value means through that day).",
              "example": "2026-06-30"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Max rows (1–2000, default 1000).",
            "example": 30,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Max rows (1–2000, default 1000).",
              "example": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "time": "2026-06-14T23:01:01+00:00",
                          "price": "65481.259006434",
                          "open": "64193.294621057",
                          "high": "65513.599862059",
                          "low": "63528.138075558",
                          "close": "65481.259006434",
                          "volume_24h": 3795657715.42,
                          "marketcap": 1303678106704.5
                        }
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "string",
                            "example": "2026-06-14T23:01:01+00:00"
                          },
                          "price": {
                            "type": "string",
                            "example": "65481.259006434"
                          },
                          "open": {
                            "type": "string",
                            "example": "64193.294621057",
                            "nullable": true
                          },
                          "high": {
                            "type": "string",
                            "example": "65513.599862059",
                            "nullable": true
                          },
                          "low": {
                            "type": "string",
                            "example": "63528.138075558",
                            "nullable": true
                          },
                          "close": {
                            "type": "string",
                            "example": "65481.259006434",
                            "nullable": true
                          },
                          "volume_24h": {
                            "type": "number",
                            "example": 3795657715.42,
                            "nullable": true
                          },
                          "marketcap": {
                            "type": "number",
                            "example": 1303678106704.5,
                            "nullable": true
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "coin": {
                          "type": "string",
                          "example": "bitcoin"
                        },
                        "interval": {
                          "type": "string",
                          "example": "daily"
                        },
                        "count": {
                          "type": "integer",
                          "example": 1
                        },
                        "retention": {
                          "type": "string",
                          "example": "full history"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "time": "2026-06-14T23:01:01+00:00",
                      "price": "65481.259006434",
                      "open": "64193.294621057",
                      "high": "65513.599862059",
                      "low": "63528.138075558",
                      "close": "65481.259006434",
                      "volume_24h": 3795657715.42,
                      "marketcap": 1303678106704.5
                    }
                  ],
                  "meta": {
                    "coin": "bitcoin",
                    "interval": "daily",
                    "count": 1,
                    "retention": "full history"
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-Quota-Limit": {
                "$ref": "#/components/headers/X-Quota-Limit"
              },
              "X-Quota-Used": {
                "$ref": "#/components/headers/X-Quota-Used"
              },
              "X-Quota-Reset": {
                "$ref": "#/components/headers/X-Quota-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Coin not found."
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Coins"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "slug",
          "description": "The coin slug.",
          "example": "bitcoin",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/v1/coins/{slug}/marketcap-history": {
      "get": {
        "summary": "Marketcap history",
        "operationId": "marketcapHistory",
        "description": "The same per-coin rollups as `Candle history`, projected to `{time, marketcap}`\nonly. Same `interval` choices and retention windows (minutely 8 days,\nhalf-hourly 3 months, hourly 6 months, daily forever), most-recent-N when a\n`limit` is set.",
        "parameters": [
          {
            "in": "query",
            "name": "interval",
            "description": "minutely, half-hourly, hourly or daily (default daily).",
            "example": "daily",
            "required": false,
            "schema": {
              "type": "string",
              "description": "minutely, half-hourly, hourly or daily (default daily).",
              "example": "daily"
            }
          },
          {
            "in": "query",
            "name": "start",
            "description": "ISO date/time lower bound.",
            "example": "2026-06-01",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO date/time lower bound.",
              "example": "2026-06-01"
            }
          },
          {
            "in": "query",
            "name": "end",
            "description": "ISO date/time upper bound.",
            "example": "2026-06-30",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO date/time upper bound.",
              "example": "2026-06-30"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Max rows (1–2000, default 1000).",
            "example": 30,
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Max rows (1–2000, default 1000).",
              "example": 30
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Coins"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "slug",
          "description": "The coin slug.",
          "example": "bitcoin",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/v1/coins/{slug}/sparkline": {
      "get": {
        "summary": "Coin sparkline",
        "operationId": "coinSparkline",
        "description": "A compact price series for the coin over the chosen `period`, for drawing\nsparklines.\n\n`points` is a sample of at most 480 readings, oldest first, each a decimal-string\n`price` at an ISO-8601 `time`. `low` and `high` are the true extremes of the whole\nperiod — they bound every point, but need not appear among the sampled ones.\n`change` is the move across the period in PERCENT (`1.25` means +1.25%).",
        "parameters": [
          {
            "in": "query",
            "name": "period",
            "description": "24h, 7d, 30d, 60d, 90d, 180d or 365d (default 7d).",
            "example": "7d",
            "required": false,
            "schema": {
              "type": "string",
              "description": "24h, 7d, 30d, 60d, 90d, 180d or 365d (default 7d).",
              "example": "7d",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Envelope"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "tags": [
          "Coins"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "slug",
          "description": "The coin slug.",
          "example": "bitcoin",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/v1/prices": {
      "get": {
        "summary": "Get prices",
        "operationId": "getPrices",
        "description": "Prices for a requested set of coins. Pass at least one selector — `ids`, `slugs`\nor `symbols` (up to 100 combined). `meta.currency` echoes the conversion target\n(USD unless `convert` is set).",
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "Coin ids to price (CSV). At least one of ids, slugs or symbols is required; the three lists cap at 100 selectors combined. This field is required when none of <code>slugs</code> and <code>symbols</code> are present. Must not be greater than 1000 characters.",
            "example": "38,39",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Coin ids to price (CSV). At least one of ids, slugs or symbols is required; the three lists cap at 100 selectors combined. This field is required when none of <code>slugs</code> and <code>symbols</code> are present. Must not be greater than 1000 characters.",
              "example": "38,39",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "slugs",
            "description": "Coin slugs to price (CSV). At least one of ids, slugs or symbols is required. This field is required when none of <code>ids</code> and <code>symbols</code> are present. Must not be greater than 2000 characters.",
            "example": "bitcoin,ethereum",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Coin slugs to price (CSV). At least one of ids, slugs or symbols is required. This field is required when none of <code>ids</code> and <code>symbols</code> are present. Must not be greater than 2000 characters.",
              "example": "bitcoin,ethereum",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "symbols",
            "description": "Coin symbols to price (CSV, case-insensitive). At least one of ids, slugs or symbols is required. This field is required when none of <code>ids</code> and <code>slugs</code> are present. Must not be greater than 1000 characters.",
            "example": "BTC,ETH",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Coin symbols to price (CSV, case-insensitive). At least one of ids, slugs or symbols is required. This field is required when none of <code>ids</code> and <code>slugs</code> are present. Must not be greater than 1000 characters.",
              "example": "BTC,ETH",
              "nullable": true
            }
          },
          {
            "in": "query",
            "name": "convert",
            "description": "Convert prices/marketcap into an active fiat currency by symbol (default USD). FX rates refresh ~twice daily.",
            "example": "EUR",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Convert prices/marketcap into an active fiat currency by symbol (default USD). FX rates refresh ~twice daily.",
              "example": "EUR",
              "enum": [
                "USD",
                "EUR",
                "JPY",
                "BGN",
                "CZK",
                "DKK",
                "GBP",
                "HUF",
                "PLN",
                "RON",
                "SEK",
                "CHF",
                "ISK",
                "NOK",
                "HRK",
                "RUB",
                "TRY",
                "AUD",
                "BRL",
                "CAD",
                "CNY",
                "HKD",
                "IDR",
                "ILS",
                "INR",
                "KRW",
                "MXN",
                "MYR",
                "NZD",
                "PHP",
                "SGD",
                "THB",
                "ZAR",
                "ARS",
                "DZD",
                "MAD",
                "TWD"
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "example": [
                        {
                          "id": 38,
                          "slug": "bitcoin",
                          "symbol": "BTC",
                          "name": "Bitcoin",
                          "rank": 1,
                          "price": "63520.780763913",
                          "marketcap": 1264646594448.5,
                          "volume_24h": 5345161962.84,
                          "change_24h": 1.35,
                          "change_7d": 4.98,
[...]
