{
  "openapi": "3.1.0",
  "info": {
    "title": "Decionis Commerce Gate API",
    "version": "1.4.0-candidate",
    "description": "Canonical Commerce Gate contract for the synchronous ERP guard and the tenant-bound Decionis Protocol operations used by the local Commerce Gate MCP adapter, plus the licensed AWS historical assessment and synthetic trial features on the Commerce API.",
    "x-jentic-source-url": "https://commerce.decionis.com/.well-known/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.decionis.com"
    }
  ],
  "paths": {
    "/v1/guard/validate": {
      "post": {
        "operationId": "validateErpTransaction",
        "summary": "Validate one bounded ERP transaction through Commerce Gate",
        "description": "Performs enforced binary policy validation and atomic agent-budget authorization for a complete Dynamics 365 transaction. It returns ALLOW or BLOCK but never writes, posts, releases, or modifies the ERP transaction. After policy clears, the candidate backend rejects a changed request for a tracked transaction when its timestamp is equal to or older than the stored revision, returning HTTP 200/BLOCK with AGENT_BUDGET_REQUEST_CONFLICT without changing the reservation or spent amount. Exact current retries reuse their budget result; strictly newer revisions undergo budget authorization. Transaction identity normalizes only tenant UUID casing, preserving organization, agent and transaction identifiers. One equivalent legacy reservation retains its original stored key. Multiple equivalent reservations return the same conflict and leave all rows and spent amount unchanged for reconciliation. This requires a configured agent budget and the matching backend deployment; it is not a wall-clock expiry rule or the eleven-check Protocol preflight.",
        "x-commercegate-mcp": true,
        "x-commercegate-tools": [
          "commercegate_validate_erp_transaction"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "X-ERP-Region",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 50
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Central binary decision, including budget revision conflicts as BLOCK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuardResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/protocol/evaluate-decision": {
      "post": {
        "operationId": "evaluateCommerceDecision",
        "summary": "Record one tenant-bound commerce action evaluation in Shadow Mode",
        "description": "The Commerce Gate MCP always submits SHADOW and requires the response to confirm SHADOW. `commercegate_evaluate_action` accepts all seven canonical commerce action types. For the live Walmart Marketplace connector, Commerce Evaluation, Price Guard, Order Guard, order interception, margin protection, release, hold, and cancel map to those canonical preflights. Order acceptance and price change use native margin mappings; inventory, fulfillment, promotion, refund, and return are generic Protocol evaluations whose outcome depends on the tenant policy and supplied signals. The unreleased commerce-preflight-v1 opt-in adds eleven explicit policy checks with a matching backend and a server-owned policy bundle. It binds the result to the action, facts, policy version and idempotency key; missing required facts or unsupported checks hold the proposal. The candidate Commerce /aws facade preserves the original action/result key through its separately authenticated commerce-preflight-transport-v1 retry namespace. Its context.commerce_preflight_transport marker is reserved service metadata, not a tool argument. This does not establish hosted availability. It does not add native execution paths. `commercegate_evaluate_marketplace_offer_submission` accepts a separate, bounded Microsoft Partner Center or AWS Marketplace SaaS offer packet with digest-bound release evidence. Either evaluation can create decision evidence but never executes a marketplace action or submits an offer.",
        "x-commercegate-mcp": true,
        "x-commercegate-tools": [
          "commercegate_evaluate_action",
          "commercegate_evaluate_marketplace_offer_submission"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 180
            },
            "description": "Stable key reused for retries of the same proposed action."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CommerceEvaluationRequest"
                  },
                  {
                    "$ref": "#/components/schemas/MarketplaceOfferSubmissionPreflightRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shadow Mode evaluation and evidence references",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommerceEvaluationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/protocol/dossiers/{dossierId}": {
      "get": {
        "operationId": "getDecisionDossier",
        "summary": "Read one tenant-bound signed Decision Dossier",
        "x-commercegate-mcp": true,
        "x-commercegate-tools": [
          "commercegate_get_dossier"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DossierId"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Signed Decision Dossier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionDossier"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/protocol/dossiers/{dossierId}/proof-packet": {
      "get": {
        "operationId": "getDecisionProofPacket",
        "summary": "Read the verification proof packet for one tenant-bound Decision Dossier",
        "x-commercegate-mcp": true,
        "x-commercegate-tools": [
          "commercegate_get_proof_packet"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DossierId"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Decision Dossier proof packet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionProofPacket"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/protocol/shadow-reports": {
      "get": {
        "operationId": "listCommerceShadowReports",
        "summary": "Read tenant-bound Shadow Mode reports and aggregate outcomes",
        "x-commercegate-mcp": true,
        "x-commercegate-tools": [
          "commercegate_list_shadow_reports",
          "commercegate_summarize_shadow_reports"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 30
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shadow Mode report document containing rows and aggregate views",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShadowReportDocument"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/aws/commerce/trial/evaluations": {
      "post": {
        "operationId": "evaluateAwsTrialSample",
        "summary": "Evaluate a labelled synthetic sample in a verified AgentSaaS trial",
        "description": "Requires a source-verified active trial. The server generates a synthetic SHADOW proposal; callers cannot supply customer data, policy, organization, execution mode or transaction payloads. The actual Protocol decision is returned without promising a particular outcome. At most 10,000 unique evaluations are admitted across the 14-day trial. Replays reuse the same idempotency key and never consume an additional slot. Expiry and the cap stop new evaluations without paid overage or automatic paid conversion. This additive trial feature does not replace the paid governance APIs. Billing/trial activation is default-off until deployment validation.",
        "servers": [
          {
            "url": "https://commerce.decionis.com"
          }
        ],
        "x-commercegate-mcp": false,
        "x-commercegate-tools": [],
        "security": [
          {
            "AwsCommerceBearer": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional; must match idempotency_key in the JSON body.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwsTrialEvaluationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actual synthetic Shadow evaluation; not cacheable",
            "headers": {
              "X-Decionis-Evaluation-Id": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommerceEvaluationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "401": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "402": {
            "description": "Trial evaluation allowance exhausted; no charge is created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string",
                      "const": "AWS_TRIAL_LIMIT_REACHED"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "409": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "429": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "503": {
            "$ref": "#/components/responses/HistoricalError"
          }
        }
      }
    },
    "/aws/commerce/history/sources": {
      "get": {
        "operationId": "listAwsHistoricalSources",
        "summary": "List licensed synthetic and connected-store historical assessment sources",
        "servers": [
          {
            "url": "https://commerce.decionis.com"
          }
        ],
        "x-commercegate-mcp": false,
        "x-commercegate-managed-http": true,
        "description": "Requires deployed, enabled AWS historical routes and a current AWS/Account license. The organization comes only from the credential. Lists the versioned synthetic example and supported stores already connected to that organization; no new registration, store connection or trial entitlement is created. AgentOps managed HTTP helpers use this API; the local STDIO MCP inventory is unchanged. Commerce Gate uses the purchase-session BFF separately.",
        "security": [
          {
            "AwsCommerceBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded source choices; no credentials or customer payloads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalSources"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "401": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "429": {
            "$ref": "#/components/responses/HistoricalRateLimit"
          },
          "503": {
            "$ref": "#/components/responses/HistoricalError"
          }
        }
      }
    },
    "/aws/commerce/history/assessments": {
      "post": {
        "operationId": "startAwsHistoricalAssessment",
        "summary": "Assess a bounded previous-90-day history without executing commerce actions",
        "servers": [
          {
            "url": "https://commerce.decionis.com"
          }
        ],
        "x-commercegate-mcp": false,
        "x-commercegate-managed-http": true,
        "description": "Additive historical feature; it does not replace the existing governance APIs. Requires deployed, enabled AWS historical routes and a current licensed credential. The server fixes the previous 90-day window by transaction time. Accepts only a supported connected-store UUID or the labelled synthetic dataset, never raw transactions, organization, dates or a policy override. Reusing a request key returns the immutable original result; rebinding its source returns 409. Responses are at most 100 KiB, with at most 100 records assessed. Partial history, missing item costs and timestamp gaps remain visible. Results measure merchandise margin only, excluding shipping, taxes and payment or platform fees. Inline results are unsigned, with null proof_ref; no signed dossier is claimed. Synthetic examples use an explicit sample 12 percent floor, never a guessed customer policy. A verified 14-day AWS trial uses its actual entitlement expiry; this endpoint never starts or extends a trial. No platform or AWS usage write.",
        "security": [
          {
            "AwsCommerceBearer": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "If supplied, must equal the required body idempotency_key.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200,
              "pattern": "^[A-Za-z0-9._:-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Maximum 2 KiB; no extra fields accepted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HistoricalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Immutable completed or failed assessment; failures contain stable error codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalAssessment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "401": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "403": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "409": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "413": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "429": {
            "$ref": "#/components/responses/HistoricalRateLimit"
          },
          "503": {
            "$ref": "#/components/responses/HistoricalError"
          }
        }
      }
    },
    "/aws/commerce/history/assessments/{assessmentId}": {
      "get": {
        "operationId": "getAwsHistoricalAssessment",
        "summary": "Read one immutable assessment bound to the current organization and AWS grant",
        "servers": [
          {
            "url": "https://commerce.decionis.com"
          }
        ],
        "x-commercegate-mcp": false,
        "x-commercegate-managed-http": true,
        "description": "Requires deployed, enabled AWS historical routes. Every read rechecks the current license, credential revocation and expiry. No organization query argument is accepted. Results contain minimized unsigned historical evidence, not live transaction payloads or execution authority. At most 100 KiB.",
        "security": [
          {
            "AwsCommerceBearer": []
          }
        ],
        "parameters": [
          {
            "name": "assessmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exact stored assessment, including its original source and 90-day window",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalAssessment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "401": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "403": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "404": {
            "$ref": "#/components/responses/HistoricalError"
          },
          "429": {
            "$ref": "#/components/responses/HistoricalRateLimit"
          },
          "503": {
            "$ref": "#/components/responses/HistoricalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AwsCommerceBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "AWS Commerce API key delivered through approved Marketplace provisioning. Organization and license are server-bound; no caller org_id is accepted."
      },
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Decionis-API-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "DECIONIS_API_KEY supplied as an Authorization Bearer credential by the local MCP process, or its private AgentOps access store. The configured or stored organization is bound to that credential."
      }
    },
    "parameters": {
      "DossierId": {
        "name": "dossierId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "OrganizationId": {
        "name": "org_id",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Organization UUID sourced from the MCP process environment."
      }
    },
    "schemas": {
      "CommercePreflightAction": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "actor": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "HUMAN",
                      "ERP",
                      "REPRICER",
                      "WORKFLOW",
                      "AGENT",
                      "UNKNOWN"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              },
              "platform": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              },
              "idempotency_key": {
                "type": "string",
                "minLength": 1,
                "maxLength": 180,
                "pattern": "^[a-z0-9][\\w.:/-]{0,179}$"
              },
              "action_type": {
                "type": "string",
                "const": "PRICE_CHANGE"
              },
              "payload": {
                "type": "object",
                "properties": {
                  "sku": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "from_price": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1000000000000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "to_price": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  },
                  "estimated_cost": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1000000000000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "pattern": "^[A-Z]{3}$"
                  }
                },
                "required": [
                  "sku",
                  "from_price",
                  "to_price"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "actor",
              "platform",
              "idempotency_key",
              "action_type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "actor": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "HUMAN",
                      "ERP",
                      "REPRICER",
                      "WORKFLOW",
                      "AGENT",
                      "UNKNOWN"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              },
              "platform": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              },
              "idempotency_key": {
                "type": "string",
                "minLength": 1,
                "maxLength": 180,
                "pattern": "^[a-z0-9][\\w.:/-]{0,179}$"
              },
              "action_type": {
                "type": "string",
                "const": "INVENTORY_MUTATION"
              },
              "payload": {
                "type": "object",
                "properties": {
                  "sku": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "from": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1000000000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "to": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000000
                  },
                  "location_id": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "sku",
                  "from",
                  "to"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "actor",
              "platform",
              "idempotency_key",
              "action_type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "actor": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "HUMAN",
                      "ERP",
                      "REPRICER",
                      "WORKFLOW",
                      "AGENT",
                      "UNKNOWN"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              },
              "platform": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              },
              "idempotency_key": {
                "type": "string",
                "minLength": 1,
                "maxLength": 180,
                "pattern": "^[a-z0-9][\\w.:/-]{0,179}$"
              },
              "action_type": {
                "type": "string",
                "const": "ORDER_ACCEPTANCE"
              },
              "payload": {
                "type": "object",
                "properties": {
                  "order_id": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "gross_amount": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  },
                  "discount_amount": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  },
                  "estimated_cost": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  },
                  "currency": {
                    "type": "string",
                    "pattern": "^[A-Z]{3}$"
                  }
                },
                "required": [
                  "order_id",
                  "gross_amount",
                  "discount_amount",
                  "estimated_cost"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "actor",
              "platform",
              "idempotency_key",
              "action_type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "actor": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "HUMAN",
                      "ERP",
                      "REPRICER",
                      "WORKFLOW",
                      "AGENT",
                      "UNKNOWN"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              },
              "platform": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              },
              "idempotency_key": {
                "type": "string",
                "minLength": 1,
                "maxLength": 180,
                "pattern": "^[a-z0-9][\\w.:/-]{0,179}$"
              },
              "action_type": {
                "type": "string",
                "const": "FULFILLMENT_ACTION"
              },
              "payload": {
                "type": "object",
                "properties": {
                  "order_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "acknowledge",
                      "ship",
                      "cancel",
                      "hold"
                    ]
                  }
                },
                "required": [
                  "order_id",
                  "action"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "actor",
              "platform",
              "idempotency_key",
              "action_type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "actor": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "HUMAN",
                      "ERP",
                      "REPRICER",
                      "WORKFLOW",
                      "AGENT",
                      "UNKNOWN"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              },
              "platform": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              },
              "idempotency_key": {
                "type": "string",
                "minLength": 1,
                "maxLength": 180,
                "pattern": "^[a-z0-9][\\w.:/-]{0,179}$"
              },
              "action_type": {
                "type": "string",
                "const": "PROMOTION_CHANGE"
              },
              "payload": {
                "type": "object",
                "properties": {
                  "promotion_id": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "percentage_fraction": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "ends_at": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time",
                        "maxLength": 40
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "status": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 80
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "combines_with": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "order_discounts": {
                            "type": "boolean"
                          },
                          "product_discounts": {
                            "type": "boolean"
                          },
                          "shipping_discounts": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "order_discounts",
                          "product_discounts",
                          "shipping_discounts"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "promotion_id",
                  "percentage_fraction",
                  "ends_at",
                  "status",
                  "combines_with"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "actor",
              "platform",
              "idempotency_key",
              "action_type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "actor": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "HUMAN",
                      "ERP",
                      "REPRICER",
                      "WORKFLOW",
                      "AGENT",
                      "UNKNOWN"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              },
              "platform": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              },
              "idempotency_key": {
                "type": "string",
                "minLength": 1,
                "maxLength": 180,
                "pattern": "^[a-z0-9][\\w.:/-]{0,179}$"
              },
              "action_type": {
                "type": "string",
                "const": "REFUND_REQUEST"
              },
              "payload": {
                "type": "object",
                "properties": {
                  "order_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "amount": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  },
                  "currency": {
                    "type": "string",
                    "pattern": "^[A-Z]{3}$"
                  },
                  "reason_code": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "remaining_refundable": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  },
                  "prior_refund_count": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000000
                  }
                },
                "required": [
                  "order_id",
                  "amount"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "actor",
              "platform",
              "idempotency_key",
              "action_type",
              "payload"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "actor": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "HUMAN",
                      "ERP",
                      "REPRICER",
                      "WORKFLOW",
                      "AGENT",
                      "UNKNOWN"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "type",
                  "id"
                ],
                "additionalProperties": false
              },
              "platform": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120
              },
              "idempotency_key": {
                "type": "string",
                "minLength": 1,
                "maxLength": 180,
                "pattern": "^[a-z0-9][\\w.:/-]{0,179}$"
              },
              "action_type": {
                "type": "string",
                "const": "RETURN_AUTHORIZATION"
              },
              "payload": {
                "type": "object",
                "properties": {
                  "order_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "rma_id": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "amount": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1000000000000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "order_id"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "actor",
              "platform",
              "idempotency_key",
              "action_type",
              "payload"
            ],
            "additionalProperties": false
          }
        ]
      },
      "CommercePreflightFacts": {
        "type": "object",
        "properties": {
          "observed_at": {
            "type": "string",
            "format": "date-time",
            "maxLength": 40
          },
          "source": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._:/-]*$"
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$"
          },
          "pricing": {
            "type": "object",
            "properties": {
              "gross_amount": {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000000000
              },
              "discount_amount": {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000000000
              },
              "estimated_cost": {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000000000
              }
            },
            "additionalProperties": false
          },
          "cost_basis": {
            "type": "object",
            "properties": {
              "source_cost": {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000000000
              },
              "system_of_record_cost": {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000000000
              }
            },
            "additionalProperties": false
          },
          "inventory": {
            "type": "object",
            "properties": {
              "source_on_hand": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1000000000
              },
              "system_on_hand": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1000000000
              },
              "reserved_quantity": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1000000000
              },
              "requested_quantity": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1000000000
              }
            },
            "additionalProperties": false
          },
          "region": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string",
                "pattern": "^[A-Z]{2}$"
              }
            },
            "additionalProperties": false
          },
          "discounts": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "minimum": 0,
                "maximum": 32
              },
              "sources": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120,
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._:/-]*$"
                },
                "maxItems": 32
              }
            },
            "additionalProperties": false
          },
          "contract": {
            "type": "object",
            "properties": {
              "account_type": {
                "type": "string",
                "enum": [
                  "retail",
                  "b2b"
                ]
              },
              "offered_price": {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000000000
              },
              "contract_price": {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000000000
              }
            },
            "additionalProperties": false
          },
          "promotion": {
            "type": "object",
            "properties": {
              "discount_codes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120,
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._:/-]*$"
                },
                "maxItems": 32
              },
              "prior_redemptions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1000000000
              },
              "account_age_days": {
                "type": "number",
                "minimum": 0,
                "maximum": 100000
              },
              "identity_hash": {
                "type": "string",
                "pattern": "^[a-f0-9]{64}$"
              }
            },
            "additionalProperties": false
          },
          "refund": {
            "type": "object",
            "properties": {
              "remaining_refundable": {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000000000
              },
              "prior_refund_count": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1000000000
              }
            },
            "additionalProperties": false
          },
          "lifecycle": {
            "type": "object",
            "properties": {
              "current_state": {
                "type": "string",
                "enum": [
                  "created",
                  "acknowledged",
                  "shipped",
                  "delivered",
                  "cancelled",
                  "refunded",
                  "return_authorized",
                  "returned"
                ]
              },
              "delivered_at": {
                "type": "string",
                "format": "date-time",
                "maxLength": 40
              },
              "return_eligible": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "CommercePreflightInput": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "const": "commerce-preflight-v1"
          },
          "facts": {
            "type": "object",
            "properties": {
              "observed_at": {
                "type": "string",
                "format": "date-time",
                "maxLength": 40
              },
              "source": {
                "type": "string",
                "minLength": 1,
                "maxLength": 120,
                "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._:/-]*$"
              },
              "currency": {
                "type": "string",
                "pattern": "^[A-Z]{3}$"
              },
              "pricing": {
                "type": "object",
                "properties": {
                  "gross_amount": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  },
                  "discount_amount": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  },
                  "estimated_cost": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  }
                },
                "additionalProperties": false
              },
              "cost_basis": {
                "type": "object",
                "properties": {
                  "source_cost": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  },
                  "system_of_record_cost": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  }
                },
                "additionalProperties": false
              },
              "inventory": {
                "type": "object",
                "properties": {
                  "source_on_hand": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000000
                  },
                  "system_on_hand": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000000
                  },
                  "reserved_quantity": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000000
                  },
                  "requested_quantity": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000000
                  }
                },
                "additionalProperties": false
              },
              "region": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Z]{2}$"
                  }
                },
                "additionalProperties": false
              },
              "discounts": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 32
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 120,
                      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._:/-]*$"
                    },
                    "maxItems": 32
                  }
                },
                "additionalProperties": false
              },
              "contract": {
                "type": "object",
                "properties": {
                  "account_type": {
                    "type": "string",
                    "enum": [
                      "retail",
                      "b2b"
                    ]
                  },
                  "offered_price": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  },
                  "contract_price": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  }
                },
                "additionalProperties": false
              },
              "promotion": {
                "type": "object",
                "properties": {
                  "discount_codes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 120,
                      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._:/-]*$"
                    },
                    "maxItems": 32
                  },
                  "prior_redemptions": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000000
                  },
                  "account_age_days": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100000
                  },
                  "identity_hash": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{64}$"
                  }
                },
                "additionalProperties": false
              },
              "refund": {
                "type": "object",
                "properties": {
                  "remaining_refundable": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000000
                  },
                  "prior_refund_count": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000000000
                  }
                },
                "additionalProperties": false
              },
              "lifecycle": {
                "type": "object",
                "properties": {
                  "current_state": {
                    "type": "string",
                    "enum": [
                      "created",
                      "acknowledged",
                      "shipped",
                      "delivered",
                      "cancelled",
                      "refunded",
                      "return_authorized",
                      "returned"
                    ]
                  },
                  "delivered_at": {
                    "type": "string",
                    "format": "date-time",
                    "maxLength": 40
                  },
                  "return_eligible": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "version",
          "facts"
        ],
        "additionalProperties": false
      },
      "CommercePreflightPolicy": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "const": "commerce-preflight-v1"
          },
          "max_fact_age_seconds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 86400
          },
          "allowed_sources": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120,
              "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._:/-]*$"
            },
            "minItems": 1,
            "maxItems": 100
          },
          "checks": {
            "type": "object",
            "properties": {
              "P01": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": false
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": true
                      },
                      "floor_percent": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 100
                      }
                    },
                    "required": [
                      "enabled",
                      "floor_percent"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "P02": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": false
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": true
                      },
                      "tolerance_percent": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 100
                      }
                    },
                    "required": [
                      "enabled",
                      "tolerance_percent"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "P03": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": false
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": true
                      },
                      "minimum_available": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1000000000
                      }
                    },
                    "required": [
                      "enabled",
                      "minimum_available"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "P04": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": false
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": true
                      },
                      "mode": {
                        "type": "string",
                        "enum": [
                          "allow",
                          "block"
                        ]
                      },
                      "countries": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "pattern": "^[A-Z]{2}$"
                        },
                        "maxItems": 250
                      }
                    },
                    "required": [
                      "enabled",
                      "mode",
                      "countries"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "P05": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": false
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": true
                      },
                      "max_concurrent_discounts": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 32
                      }
                    },
                    "required": [
                      "enabled",
                      "max_concurrent_discounts"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "P06": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": false
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": true
                      },
                      "tolerance_percent": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 100
                      }
                    },
                    "required": [
                      "enabled",
                      "tolerance_percent"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "P07": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": false
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": true
                      },
                      "max_redemptions": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 1000000000
                      },
                      "new_account_age_days": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 100000
                      }
                    },
                    "required": [
                      "enabled",
                      "max_redemptions",
                      "new_account_age_days"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "P08": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": false
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": true
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "P09": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": false
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": true
                      },
                      "amount": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1000000000000
                      },
                      "currency": {
                        "type": "string",
                        "pattern": "^[A-Z]{3}$"
                      }
                    },
                    "required": [
                      "enabled",
                      "amount",
                      "currency"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "P10": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": false
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": true
                      },
                      "max_prior_refunds": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1000000000
                      }
                    },
                    "required": [
                      "enabled",
                      "max_prior_refunds"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "P11": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": false
                      }
                    },
                    "required": [
                      "enabled"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "const": true
                      },
                      "return_window_days": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 3650
                      }
                    },
                    "required": [
                      "enabled",
                      "return_window_days"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "version",
          "max_fact_age_seconds",
          "allowed_sources",
          "checks"
        ],
        "additionalProperties": false
      },
      "CommerceCheckResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "enum": [
              "P01",
              "P02",
              "P03",
              "P04",
              "P05",
              "P06",
              "P07",
              "P08",
              "P09",
              "P10",
              "P11"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "evaluated",
              "not_applicable",
              "disabled",
              "missing_facts",
              "unsupported"
            ]
          },
          "verdict": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "PROCEED",
                  "HOLD",
                  "BLOCK"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "reason_codes": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[A-Z][A-Z0-9_]{0,119}$"
            },
            "minItems": 1,
            "maxItems": 20
          },
          "missing_facts": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 180
            },
            "maxItems": 30
          },
          "measurements": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        },
        "required": [
          "id",
          "status",
          "verdict",
          "reason_codes",
          "missing_facts"
        ],
        "additionalProperties": false
      },
      "CommercePreflightResult": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "const": "commerce-preflight-v1"
          },
          "action_type": {
            "type": "string",
            "enum": [
              "PRICE_CHANGE",
              "INVENTORY_MUTATION",
              "ORDER_ACCEPTANCE",
              "FULFILLMENT_ACTION",
              "PROMOTION_CHANGE",
              "REFUND_REQUEST",
              "RETURN_AUTHORIZATION"
            ]
          },
          "action_digest": {
            "type": "string",
            "pattern": "^sha256:[a-f0-9]{64}$"
          },
          "facts_digest": {
            "type": "string",
            "pattern": "^sha256:[a-f0-9]{64}$"
          },
          "policy_version": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "idempotency_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 180
          },
          "evaluated_at": {
            "type": "string",
            "format": "date-time",
            "maxLength": 40
          },
          "disposition": {
            "type": "string",
            "enum": [
              "PROCEED",
              "HOLD",
              "BLOCK"
            ]
          },
          "execution_available": {
            "type": "boolean",
            "const": false
          },
          "checks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "enum": [
                    "P01",
                    "P02",
                    "P03",
                    "P04",
                    "P05",
                    "P06",
                    "P07",
                    "P08",
                    "P09",
                    "P10",
                    "P11"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "evaluated",
                    "not_applicable",
                    "disabled",
                    "missing_facts",
                    "unsupported"
                  ]
                },
                "verdict": {
                  "anyOf": [
                    {
                      "type": "string",
                      "enum": [
                        "PROCEED",
                        "HOLD",
                        "BLOCK"
                      ]
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "reason_codes": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "pattern": "^[A-Z][A-Z0-9_]{0,119}$"
                  },
                  "minItems": 1,
                  "maxItems": 20
                },
                "missing_facts": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 180
                  },
                  "maxItems": 30
                },
                "measurements": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "number"
                  }
                }
              },
              "required": [
                "id",
                "status",
                "verdict",
                "reason_codes",
                "missing_facts"
              ],
              "additionalProperties": false
            },
            "minItems": 11,
            "maxItems": 11
          }
        },
        "required": [
          "version",
          "action_type",
          "action_digest",
          "facts_digest",
          "policy_version",
          "idempotency_key",
          "evaluated_at",
          "disposition",
          "execution_available",
          "checks"
        ],
        "additionalProperties": false
      },
      "AwsTrialEvaluationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "sample",
          "idempotency_key"
        ],
        "properties": {
          "sample": {
            "type": "string",
            "enum": [
              "healthy",
              "below_cost"
            ]
          },
          "idempotency_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "pattern": "^[!-~]+$"
          }
        }
      },
      "HistoricalRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "source",
          "idempotency_key"
        ],
        "properties": {
          "source": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "synthetic"
                  }
                }
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "connection_id"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "connected_store"
                  },
                  "connection_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            ]
          },
          "idempotency_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "pattern": "^[A-Za-z0-9._:-]+$"
          }
        }
      },
      "HistoricalSources": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode",
          "window_days",
          "sources",
          "connected_store_required"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "const": "historical_only"
          },
          "window_days": {
            "type": "integer",
            "const": 90
          },
          "connected_store_required": {
            "type": "boolean"
          },
          "sources": {
            "type": "array",
            "minItems": 1,
            "maxItems": 21,
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "kind",
                    "dataset_version",
                    "label"
                  ],
                  "properties": {
                    "kind": {
                      "type": "string",
                      "const": "synthetic"
                    },
                    "dataset_version": {
                      "type": "string",
                      "const": "commerce-history-v1"
                    },
                    "label": {
                      "type": "string",
                      "const": "Synthetic commerce history"
                    }
                  }
                },
                {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "kind",
                    "connection_id",
                    "platform",
                    "label"
                  ],
                  "properties": {
                    "kind": {
                      "type": "string",
                      "const": "connected_store"
                    },
                    "connection_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "platform": {
                      "type": "string",
                      "const": "adobe-commerce"
                    },
                    "label": {
                      "type": "string",
                      "const": "Connected Adobe Commerce store"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "HistoricalAssessment": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "assessment_id",
          "status",
          "mode",
          "cost_scope",
          "window",
          "provenance",
          "policy",
          "summary",
          "evidence",
          "coverage",
          "truncated"
        ],
        "properties": {
          "assessment_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed"
            ]
          },
          "mode": {
            "type": "string",
            "const": "historical_only",
            "description": "Scope of this assessment feature, not the broader products or APIs."
          },
          "cost_scope": {
            "type": "string",
            "const": "merchandise_margin",
            "description": "Merchandise subtotal minus discount and reported item cost; shipping, tax and payment/platform fees excluded."
          },
          "window": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "days",
              "start",
              "end",
              "timestamp_field"
            ],
            "properties": {
              "days": {
                "type": "integer",
                "const": 90
              },
              "start": {
                "type": "string",
                "format": "date-time",
                "description": "Inclusive UTC transaction-time lower bound."
              },
              "end": {
                "type": "string",
                "format": "date-time",
                "description": "Exclusive captured UTC end; exactly 90 days after start."
              },
              "timestamp_field": {
                "type": "string",
                "const": "transaction_at"
              }
            }
          },
          "provenance": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "label",
                  "dataset_version"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "synthetic"
                  },
                  "label": {
                    "type": "string",
                    "const": "Synthetic commerce history"
                  },
                  "dataset_version": {
                    "type": "string",
                    "const": "commerce-history-v1"
                  }
                }
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "label",
                  "connection_id",
                  "platform"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "connected_store"
                  },
                  "label": {
                    "type": "string",
                    "const": "Connected Adobe Commerce history"
                  },
                  "connection_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "platform": {
                    "type": "string",
                    "const": "adobe-commerce"
                  }
                }
              }
            ]
          },
          "policy": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "kind",
                  "version",
                  "floor_percent"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "sample",
                      "merchant"
                    ]
                  },
                  "version": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "pattern": "^[A-Za-z0-9._:-]+$"
                  },
                  "floor_percent": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100
                  }
                }
              }
            ]
          },
          "summary": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "transactions_scanned",
              "evaluated",
              "missing_cost",
              "excluded_timestamp",
              "evaluation_errors",
              "allow",
              "hold",
              "escalate"
            ],
            "properties": {
              "transactions_scanned": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "evaluated": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "missing_cost": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "excluded_timestamp": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "evaluation_errors": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "allow": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "hold": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "escalate": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              }
            }
          },
          "evidence": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "record_id",
                "transaction_at",
                "decision",
                "reason_codes",
                "proof_ref"
              ],
              "properties": {
                "record_id": {
                  "type": "string",
                  "pattern": "^[a-f0-9]{64}$",
                  "minLength": 64,
                  "maxLength": 64
                },
                "transaction_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "decision": {
                  "type": "string",
                  "enum": [
                    "PROCEED",
                    "HOLD",
                    "ESCALATE"
                  ],
                  "description": "Retrospective rule result only; never permission to execute."
                },
                "reason_codes": {
                  "type": "array",
                  "maxItems": 4,
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  }
                },
                "proof_ref": {
                  "type": "null",
                  "description": "Inline historical results are unsigned; no signed proof reference is issued."
                }
              }
            }
          },
          "coverage": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "record_limit",
              "complete"
            ],
            "properties": {
              "record_limit": {
                "type": "integer",
                "const": 100
              },
              "complete": {
                "type": "boolean",
                "description": "False for truncation",
                "missing costs": null,
                "duplicate records": null,
                "invalid timestamps or evaluation errors.": null
              }
            }
          },
          "truncated": {
            "type": "boolean"
          },
          "error_code": {
            "type": "string",
            "enum": [
              "CONNECTED_STORE_REQUIRED",
              "HISTORICAL_POLICY_REQUIRED",
              "HISTORICAL_SOURCE_UNAVAILABLE"
            ]
          }
        }
      },
      "HistoricalError": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        }
      },
      "GuardLine": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "line_id",
          "sku",
          "quantity",
          "unit_price",
          "cost_base"
        ],
        "properties": {
          "line_id": {
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          "sku": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "quantity": {
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 1000000000
          },
          "unit_price": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000000
          },
          "cost_base": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000000
          }
        }
      },
      "GuardRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "transaction_id",
          "erp_type",
          "tenant_id",
          "timestamp",
          "agent_id",
          "currency",
          "lines"
        ],
        "properties": {
          "transaction_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160,
            "description": "Opaque, case-sensitive transaction identity. Company prefixes and the complete suffix are preserved during budget reservation lookup."
          },
          "erp_type": {
            "type": "string",
            "enum": [
              "D365_BC",
              "D365_FSCM"
            ]
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "description": "Tenant UUID. The candidate backend normalizes its casing for transaction identity, consistently with the canonical request hash."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Submitted revision time, included in the canonical request hash. For a configured budget and tracked transaction, a changed request must be strictly newer than the stored revision; exact current retries remain idempotent. This is not an expiry based on the current clock."
          },
          "agent_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$"
          },
          "lines": {
            "type": "array",
            "minItems": 1,
            "maxItems": 200,
            "items": {
              "$ref": "#/components/schemas/GuardLine"
            }
          }
        }
      },
      "GuardResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "decision",
          "transaction_id",
          "execution_time_ms",
          "reason_code",
          "message"
        ],
        "properties": {
          "decision": {
            "type": "string",
            "enum": [
              "ALLOW",
              "BLOCK"
            ]
          },
          "transaction_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "execution_time_ms": {
            "type": "number",
            "minimum": 0
          },
          "reason_code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "description": "Central policy or budget reason. AGENT_BUDGET_REQUEST_CONFLICT indicates a changed request with an equal or older timestamp for a tracked budget reservation, or multiple stored reservations matching the same identity after tenant UUID casing is normalized. Both leave reservations and spent amount unchanged. It is a BLOCK decision, not a transport failure or evidence of historical overspend."
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          }
        }
      },
      "CommerceEvaluationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "org_id",
          "decision_type",
          "transaction_type",
          "workflow_key",
          "channel",
          "source",
          "mode",
          "idempotency_key",
          "context"
        ],
        "properties": {
          "org_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Organization bound to configured or privately stored access. The Commerce Gate MCP sends null so the API derives the tenant from that credential."
          },
          "decision_type": {
            "type": "string",
            "enum": [
              "PRICE_CHANGE",
              "INVENTORY_MUTATION",
              "ORDER_ACCEPTANCE",
              "FULFILLMENT_ACTION",
              "PROMOTION_CHANGE",
              "REFUND_REQUEST",
              "RETURN_AUTHORIZATION"
            ]
          },
          "transaction_type": {
            "type": "string",
            "enum": [
              "price_change",
              "inventory_mutation",
              "order_acceptance",
              "fulfillment_action",
              "promotion_change",
              "refund_request",
              "return_authorization"
            ]
          },
          "workflow_key": {
            "type": "string",
            "enum": [
              "commerce_price_change",
              "commerce_inventory_mutation",
              "commerce_order_acceptance",
              "commerce_fulfillment_action",
              "commerce_promotion_change",
              "commerce_refund_request",
              "commerce_return_authorization"
            ]
          },
          "amount": {
            "type": "number",
            "minimum": 0,
            "description": "Monetary action amount. Omitted for non-monetary actions."
          },
          "channel": {
            "type": "string",
            "description": "Who is asking. The Commerce Gate MCP sends mcp; a repricer, ERP job, workflow or direct API integration names itself so the dossier records the actor.",
            "enum": [
              "mcp",
              "repricer",
              "erp",
              "workflow",
              "api"
            ]
          },
          "source": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "description": "The tool asking, for the dossier: commercegate-mcp for the MCP, or the name of your repricer, ERP or workflow."
          },
          "mode": {
            "type": "string",
            "const": "SHADOW"
          },
          "idempotency_key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 180
          },
          "policy_version": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "require_exact_policy_version": {
            "type": "boolean",
            "const": true
          },
          "context": {
            "type": "object",
[...]
