{
  "openapi": "3.1.0",
  "info": {
    "title": "IPWhois.net API",
    "version": "1.0.0",
    "summary": "IP geolocation, network and ISP data, IP blacklist status and MAC vendor lookup.",
    "description": "One key works for all three services. Every call needs an API key; a free key (1,000 IP, 1,000 blacklist and 1,000 MAC lookups a day, 1 request per second, basic fields) is created at https://ipwhois.net/account/api. Paid plans return the full field set, allow batch calls and are metered per month: Starter 250,000 requests at 5 per second, Pro 1,500,000 at 15 per second, Business 6,000,000 at 30 per second. Prices are on https://ipwhois.net/pricing. The key goes in the X-API-Key header, in Authorization: Bearer, or in the key query parameter.",
    "termsOfService": "https://ipwhois.net/terms-of-use",
    "contact": {
      "name": "IPWhois.net",
      "url": "https://ipwhois.net/contact",
      "email": "info@ipwhois.net"
    },
    "x-jentic-source-url": "https://ipwhois.net/openapi.json"
  },
  "servers": [
    {
      "url": "https://ipwhois.net/api/v1"
    }
  ],
  "paths": {
    "/ip": {
      "get": {
        "tags": [
          "IP"
        ],
        "operationId": "lookupOwnIp",
        "summary": "Look up the caller's own IP address",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated paths to keep, for example location,network.isp"
          },
          {
            "name": "pretty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Indented JSON."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ip/{ip}": {
      "get": {
        "tags": [
          "IP"
        ],
        "operationId": "lookupIp",
        "summary": "Geolocation, ISP, ASN and connection type of an IPv4 or IPv6 address",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "8.8.8.8"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated paths to keep, for example location,network.isp"
          },
          {
            "name": "pretty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Indented JSON."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ip/batch": {
      "post": {
        "tags": [
          "IP"
        ],
        "operationId": "lookupIpBatch",
        "summary": "Look up many IP addresses in one call (paid plans)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ips"
                ],
                "properties": {
                  "ips": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "ips": [
                  "8.8.8.8",
                  "1.1.1.1"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpBatch"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/blacklist/{ip}": {
      "get": {
        "tags": [
          "Blacklist"
        ],
        "operationId": "checkBlacklist",
        "summary": "Whether an IP address is on a DNS blacklist",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "8.8.8.8"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated paths to keep, for example location,network.isp"
          },
          {
            "name": "pretty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Indented JSON."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/blacklist/batch": {
      "post": {
        "tags": [
          "Blacklist"
        ],
        "operationId": "checkBlacklistBatch",
        "summary": "Blacklist status of many IP addresses (paid plans)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ips"
                ],
                "properties": {
                  "ips": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "ips": [
                  "8.8.8.8",
                  "1.1.1.1"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistBatch"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mac/{mac}": {
      "get": {
        "tags": [
          "MAC"
        ],
        "operationId": "lookupMac",
        "summary": "Vendor and block of a MAC address or OUI",
        "parameters": [
          {
            "name": "mac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "00:1A:2B:3C:4D:5E"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated paths to keep, for example location,network.isp"
          },
          {
            "name": "pretty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Indented JSON."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MacResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mac/search": {
      "get": {
        "tags": [
          "MAC"
        ],
        "operationId": "searchMacVendor",
        "summary": "OUI blocks registered to a vendor name (paid plans)",
        "parameters": [
          {
            "name": "vendor",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Cisco"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Generic"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getUsage",
        "summary": "Plan, rate limit and quota of the key. Not counted against the quota.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Generic"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "BearerKey": {
        "type": "http",
        "scheme": "bearer"
      },
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "key"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "Meta": {
        "type": "object",
        "description": "Plan and quota of the key that made the call.",
        "properties": {
          "plan": {
            "type": "string"
          },
          "fields": {
            "type": "string",
            "enum": [
              "basic",
              "full"
            ]
          },
          "quota": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer"
              },
              "used": {
                "type": "integer"
              },
              "remaining": {
                "type": "integer"
              },
              "period": {
                "type": "string",
                "enum": [
                  "day",
                  "month"
                ]
              },
              "resets_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "IpResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "ip": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "enum": [
              4,
              6
            ]
          },
          "location": {
            "type": "object",
            "properties": {
              "continent": {
                "type": "string"
              },
              "continent_code": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "country_code": {
                "type": "string"
              },
              "region": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "district": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "postal_code": {
                "type": "string"
              },
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              },
              "accuracy_radius_km": {
                "type": "integer"
              },
              "is_eu": {
                "type": "boolean"
              }
            }
          },
          "timezone": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "utc_offset": {
                "type": "string",
                "description": "Paid plans."
              },
              "is_dst": {
                "type": "boolean"
              },
              "current_time": {
                "type": "string"
              }
            }
          },
          "network": {
            "type": "object",
            "properties": {
              "asn": {
                "type": "integer"
              },
              "isp": {
                "type": "string"
              },
              "organization": {
                "type": "string"
              },
              "domain": {
                "type": "string"
              },
              "connection_type": {
                "type": "string",
                "description": "isp, cable, mobile, hosting, business, backbone, vpn, education, government and others."
              },
              "asn_name": {
                "type": "string",
                "description": "Paid plans, like every field below."
              },
              "org_domain": {
                "type": "string"
              },
              "holding": {
                "type": "string",
                "description": "Parent company of the operator."
              },
              "holding_domain": {
                "type": "string"
              },
              "usage": {
                "type": "string",
                "description": "Network detail, for example FTTH Residential."
              },
              "hostname": {
                "type": "string"
              },
              "range": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string"
                  },
                  "end": {
                    "type": "string"
                  },
                  "size": {
                    "type": "integer"
                  }
                }
              },
              "rpki": {
                "type": "string"
              },
              "speed_mbps": {
                "type": "object",
                "properties": {
                  "download": {
                    "type": "number"
                  },
                  "upload": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "country_info": {
            "type": "object",
            "description": "Paid plans.",
            "properties": {
              "calling_code": {
                "type": "string"
              },
              "tld": {
                "type": "string"
              },
              "currency": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "symbol": {
                    "type": "string"
                  }
                }
              },
              "languages": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "security": {
            "type": "object",
            "description": "Paid plans.",
            "properties": {
              "is_vpn": {
                "type": "boolean"
              },
              "vpn_provider": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "is_proxy": {
                "type": "boolean"
              },
              "is_tor": {
                "type": "boolean"
              },
              "is_hosting": {
                "type": "boolean"
              },
              "is_threat": {
                "type": "boolean"
              },
              "threat_type": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "threat_confidence": {
                "type": "integer"
              },
              "threat_reports": {
                "type": "integer"
              },
              "threat_last_seen": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "abuse": {
            "type": "object",
            "description": "Paid plans.",
            "properties": {
              "email": {
                "type": "string"
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "IpBatch": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IpResult"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "BlacklistResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "ip": {
            "type": "string"
          },
          "listed": {
            "type": "boolean"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        },
        "additionalProperties": true,
        "description": "Paid plans add the per-list detail."
      },
      "BlacklistBatch": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlacklistResult"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "MacResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "mac": {
            "type": "string"
          },
          "found": {
            "type": "boolean"
          },
          "oui": {
            "type": "string"
          },
          "normalized": {
            "type": "string"
          },
          "is_multicast": {
            "type": "boolean"
          },
          "is_local": {
            "type": "boolean"
          },
          "is_randomized": {
            "type": "boolean"
          },
          "vendor": {
            "type": "object",
            "properties": {
              "company": {
                "type": "string"
              },
              "country_code": {
                "type": "string"
              },
              "short_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "website": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "country": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "industry": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "founded": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "headquarters": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "total_ouis": {
                "type": "integer"
              }
            }
          },
          "block": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "MA-L, MA-M, MA-S or CID."
              },
              "start": {
                "type": "string"
              },
              "end": {
                "type": "string"
              },
              "size": {
                "type": "integer"
              }
            }
          },
          "device": {
            "type": "object",
            "properties": {
              "type": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "interface": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "is_virtual_machine": {
                "type": "boolean"
              },
              "vm_platform": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "registry_updated": {
            "type": "string"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "Generic": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      }
    }
  },
  "security": [
    {
      "ApiKeyHeader": []
    },
    {
      "BearerKey": []
    },
    {
      "ApiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "IP"
    },
    {
      "name": "Blacklist"
    },
    {
      "name": "MAC"
    },
    {
      "name": "Account"
    }
  ],
  "externalDocs": {
    "description": "Documentation with examples",
    "url": "https://ipwhois.net/api-docs"
  }
}