{
  "openapi": "3.0.3",
  "info": {
    "title": "YMove Exercise Video API",
    "version": "1.0.0",
    "description": "Access 1,413 professional exercise videos, generate workouts and training programs, and analyze posture via AI. Sign up at https://ymove.app/exercise-api/signup for a free trial.",
    "contact": {
      "email": "contact@ymove.app",
      "url": "https://ymove.app/exercise-api"
    },
    "x-jentic-source-url": "https://ymove.app/api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://exercise-api.ymove.app/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/exercises": {
      "get": {
        "summary": "List and search exercises",
        "operationId": "listExercises",
        "tags": [
          "Exercises"
        ],
        "parameters": [
          {
            "name": "muscleGroup",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "chest",
                "back",
                "shoulders",
                "biceps",
                "triceps",
                "forearms",
                "quads",
                "hamstrings",
                "glutes",
                "calves",
                "core",
                "full_body"
              ]
            },
            "description": "Filter by muscle group"
          },
          {
            "name": "exerciseType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "strength",
                "yoga",
                "stretching",
                "cardio",
                "plyometric",
                "calisthenics",
                "warmup",
                "cooldown",
                "balance",
                "mobility",
                "isometric",
                "rehabilitation",
                "functional",
                "core",
                "hiit"
              ]
            },
            "description": "Filter by exercise type"
          },
          {
            "name": "equipment",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "machine",
                "barbell",
                "dumbbell",
                "kettlebell",
                "bodyweight",
                "cable",
                "medicine ball",
                "weighted vest"
              ]
            },
            "description": "Filter by equipment"
          },
          {
            "name": "difficulty",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "beginner",
                "intermediate",
                "advanced"
              ]
            },
            "description": "Filter by difficulty"
          },
          {
            "name": "hasVideo",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Only return exercises with video"
          },
          {
            "name": "hasVideoWhite",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Only exercises with white-background video"
          },
          {
            "name": "hasVideoGym",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Only exercises with gym-shot video"
          },
          {
            "name": "videoTag",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "white-background",
                "gym-shot"
              ]
            },
            "description": "Filter video array by tag"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by exercise title"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of exercises",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Exercise"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exercises/exercise-types": {
      "get": {
        "summary": "List all exercise types with counts",
        "operationId": "listExerciseTypes",
        "tags": [
          "Exercises"
        ],
        "responses": {
          "200": {
            "description": "List of exercise types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExerciseType"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exercises/muscle-groups": {
      "get": {
        "summary": "List all muscle groups with exercise counts",
        "operationId": "listMuscleGroups",
        "tags": [
          "Exercises"
        ],
        "responses": {
          "200": {
            "description": "List of muscle groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MuscleGroup"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exercises/{id}": {
      "get": {
        "summary": "Get a single exercise by ID or slug",
        "operationId": "getExercise",
        "tags": [
          "Exercises"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Exercise UUID or slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Exercise details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Exercise"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Exercise not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/workouts/generate": {
      "get": {
        "summary": "Generate a structured workout",
        "operationId": "generateWorkout",
        "tags": [
          "Workouts"
        ],
        "parameters": [
          {
            "name": "muscleGroup",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "chest",
                "back",
                "shoulders",
                "biceps",
                "triceps",
                "quads",
                "hamstrings",
                "glutes",
                "core"
              ]
            },
            "description": "Target muscle group"
          },
          {
            "name": "equipment",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "machine",
                "barbell",
                "dumbbell",
                "kettlebell",
                "bodyweight",
                "cable",
                "medicine ball",
                "weighted vest"
              ]
            },
            "description": "Limit to specific equipment"
          },
          {
            "name": "difficulty",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "beginner",
                "intermediate",
                "advanced"
              ],
              "default": "intermediate"
            },
            "description": "Difficulty level"
          },
          {
            "name": "exerciseCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 6,
              "maximum": 12
            },
            "description": "Number of exercises"
          }
        ],
        "responses": {
          "200": {
            "description": "Generated workout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Workout"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/programs/generate": {
      "get": {
        "summary": "Generate a multi-week training program",
        "operationId": "generateProgram",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "name": "goal",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "muscle_building",
                "weight_loss",
                "strength",
                "endurance"
              ],
              "default": "muscle_building"
            },
            "description": "Training goal"
          },
          {
            "name": "daysPerWeek",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 3,
              "maximum": 6,
              "default": 4
            },
            "description": "Training days per week"
          },
          {
            "name": "weeks",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                4,
                8,
                12
              ],
              "default": 4
            },
            "description": "Program duration in weeks"
          },
          {
            "name": "equipment",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "machine",
                "barbell",
                "dumbbell",
                "kettlebell",
                "bodyweight",
                "cable",
                "medicine ball",
                "weighted vest"
              ]
            },
            "description": "Limit to specific equipment"
          }
        ],
        "responses": {
          "200": {
            "description": "Generated training program",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Program"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/posture/analyze": {
      "post": {
        "summary": "Analyze posture from an image",
        "operationId": "analyzePosture",
        "tags": [
          "Posture"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "images"
                ],
                "properties": {
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "data"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "base64"
                          ]
                        },
                        "data": {
                          "type": "string",
                          "description": "Base64-encoded image data"
                        },
                        "media_type": {
                          "type": "string",
                          "enum": [
                            "image/jpeg",
                            "image/png",
                            "image/webp",
                            "image/gif"
                          ],
                          "default": "image/jpeg"
                        }
                      }
                    }
                  },
                  "analysis_type": {
                    "type": "string",
                    "enum": [
                      "standing",
                      "seated",
                      "general"
                    ],
                    "default": "general"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Posture analysis result with corrective exercises",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "score": {
                          "type": "integer",
                          "description": "Posture score 0-100"
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PostureIssue"
                          }
                        },
                        "summary": {
                          "type": "string"
                        },
                        "frames_analyzed": {
                          "type": "integer"
                        },
                        "analysis_type": {
                          "type": "string"
                        },
                        "llm_used": {
                          "type": "string"
                        },
                        "disclaimer": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "posture_analyses_used": {
                          "type": "integer"
                        },
                        "posture_analyses_included": {
                          "type": "integer"
                        },
                        "is_overage": {
                          "type": "boolean"
                        },
                        "overage_charge": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "get": {
        "summary": "Check API usage and limits",
        "operationId": "getUsage",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Current usage data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    },
    "schemas": {
      "Video": {
        "type": "object",
        "properties": {
          "bunnyVideoId": {
            "type": "string"
          },
          "videoUrl": {
            "type": "string",
            "format": "uri"
          },
          "videoHlsUrl": {
            "type": "string",
            "format": "uri"
          },
          "thumbnailUrl": {
            "type": "string",
            "format": "uri"
          },
          "tag": {
            "type": "string",
            "enum": [
              "white-background",
              "gym-shot"
            ]
          },
          "orientation": {
            "type": "string",
            "enum": [
              "landscape",
              "portrait"
            ],
            "description": "Video aspect orientation. Most exercise clips are PORTRAIT (vertical, ~9:16), shot for mobile. Do not assume landscape. Read this field and size your player to a portrait container (e.g. aspect-ratio 9/16) with object-fit: cover so clips fill the frame instead of letterboxing."
          },
          "isPrimary": {
            "type": "boolean"
          }
        }
      },
      "Exercise": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "instructions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "importantPoints": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "muscleGroup": {
            "type": "string"
          },
          "secondaryMuscles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "equipment": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "difficulty": {
            "type": "string",
            "nullable": true
          },
          "videoUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "videoHlsUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "thumbnailUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "bunnyVideoId": {
            "type": "string",
            "nullable": true
          },
          "videoDurationSecs": {
            "type": "integer",
            "nullable": true
          },
          "exerciseType": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "hasVideo": {
            "type": "boolean"
          },
          "hasVideoWhite": {
            "type": "boolean"
          },
          "hasVideoGym": {
            "type": "boolean"
          },
          "videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Video"
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "MuscleGroup": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "exerciseCount": {
            "type": "integer"
          }
        }
      },
      "WorkoutExercise": {
        "type": "object",
        "properties": {
          "exercise": {
            "$ref": "#/components/schemas/Exercise"
          },
          "sets": {
            "type": "integer"
          },
          "reps": {
            "type": "string"
          },
          "restSeconds": {
            "type": "integer"
          },
          "order": {
            "type": "integer"
          }
        }
      },
      "Workout": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "muscleGroup": {
            "type": "string"
          },
          "difficulty": {
            "type": "string"
          },
          "estimatedMinutes": {
            "type": "integer"
          },
          "exerciseCount": {
            "type": "integer"
          },
          "exercises": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkoutExercise"
            }
          }
        }
      },
      "ProgramDay": {
        "type": "object",
        "properties": {
          "day": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "muscleGroups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exercises": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkoutExercise"
            }
          }
        }
      },
      "Program": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "goal": {
            "type": "string"
          },
          "daysPerWeek": {
            "type": "integer"
          },
          "weeks": {
            "type": "integer"
          },
          "split": {
            "type": "string"
          },
          "weeklySchedule": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProgramDay"
            }
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "PostureIssue": {
        "type": "object",
        "properties": {
          "area": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "mild",
              "moderate",
              "severe"
            ]
          },
          "description": {
            "type": "string"
          },
          "exercises": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Exercise"
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string"
          },
          "minutesUsed": {
            "type": "integer"
          },
          "minutesLimit": {
            "type": "integer"
          },
          "minutesRemaining": {
            "type": "integer"
          },
          "percentUsed": {
            "type": "integer"
          },
          "postureAnalyses": {
            "type": "object",
            "properties": {
              "used": {
                "type": "integer"
              },
              "included": {
                "type": "integer"
              },
              "remaining_free": {
                "type": "integer"
              },
              "overage_count": {
                "type": "integer"
              },
              "overage_charge": {
                "type": "number"
              },
              "price_per_extra": {
                "type": "number"
              }
            }
          },
          "whiteVideoAccess": {
            "type": "boolean"
          },
          "premiumVideoAccess": {
            "type": "boolean"
          }
        }
      },
      "ExerciseType": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "exerciseCount": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyHeader": []
    },
    {
      "ApiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Exercises",
      "description": "Browse and search exercise videos"
    },
    {
      "name": "Workouts",
      "description": "Generate structured workouts"
    },
    {
      "name": "Programs",
      "description": "Generate multi-week training programs"
    },
    {
      "name": "Posture",
      "description": "AI-powered posture analysis"
    },
    {
      "name": "Account",
      "description": "Usage and account management"
    }
  ]
}