{
  "openapi": "3.1.0",
  "info": {
    "title": "Postproxy Social Media API",
    "version": "2026-09-21",
    "summary": "Unified social media API for publishing, comments, direct messages, and reviews.",
    "description": "The Postproxy API lets you programmatically create and manage social media posts across Facebook, Instagram, TikTok, LinkedIn, YouTube, X (Twitter), Threads, Pinterest, Bluesky, Telegram, and Google Business. Beyond publishing you can read and reply to comments, read and send direct messages, and reply to Google Business reviews and Facebook Page recommendations.\n\nSend one payload; Postproxy maps it to each platform's rules and returns a per-platform outcome. Sandbox mode is included on all plans for development without real accounts.\n\nHuman-readable reference: https://postproxy.dev/reference/overview/\n\n## Versioning and deprecation\n\nThe API has a single stable version served at https://api.postproxy.dev/api. Releases are identified by this document's date-based `info.version`. Changes are additive: new endpoints, new optional parameters, and new response fields may appear, and clients should ignore fields they do not recognize. Existing fields, parameters, and status codes are not changed or removed without a deprecation cycle.\n\nWhen an endpoint or field is deprecated it is marked `deprecated: true` in this specification and announced in the changelog (https://postproxy.dev/getting-started/changelog/) at least 90 days before removal.",
    "termsOfService": "https://postproxy.dev/terms-conditions/",
    "contact": {
      "name": "Postproxy Support",
      "url": "https://postproxy.dev/developers/",
      "email": "support@postproxy.dev"
    },
    "x-versioning": {
      "strategy": "stable-single-version",
      "spec-version-format": "date (YYYY-MM-DD)",
      "compatibility": "additive-only; breaking changes go through a deprecation cycle",
      "deprecation-signal": "deprecated: true in this spec, plus a changelog announcement at least 90 days before removal",
      "changelog": "https://postproxy.dev/getting-started/changelog/"
    },
    "x-jentic-source-url": "https://postproxy.dev/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.postproxy.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/comments": {
      "get": {
        "operationId": "comments_list_across_posts",
        "summary": "List comments across posts",
        "description": "Retrieves comments spanning many posts and profiles in a single request. The response is flat: every comment, top-level or reply, is its own entry in data, linked to its parent by parent_external_id, ordered by created_at descending.",
        "tags": [
          "Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "name": "post_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated post IDs. Omit to include every post in scope. Unknown or out-of-scope IDs are ignored. Passing a thread's parent post also returns comments on that thread's child posts."
          },
          {
            "name": "profiles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated profile IDs or network names (e.g. instagram,twitter, abc123,def456, or mixed). Network names are matched against known platforms (facebook, instagram, tiktok, linkedin, youtube, twitter, threads, pinterest, bluesky, telegram); anything else is treated as a profile ID."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 8601 date/time — only comments received (created_at) at or after this point. A bare date means that date's start of day."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 8601 date/time — only comments received (created_at) at or before this point."
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "Flat, paginated list of comments across posts. Pagination counts every comment, not just top-level ones.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentCrossPostListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/posts/{post_id}/comments": {
      "parameters": [
        {
          "name": "post_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Post ID"
        }
      ],
      "get": {
        "operationId": "comments_list",
        "summary": "List comments on a post",
        "description": "Retrieves a paginated list of top-level comments for a published post on a specific profile. Each top-level comment includes a flat replies array containing all nested replies sorted by creation date.",
        "tags": [
          "Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Profile ID"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 8601 date/time — only comments received (created_at) at or after this point. A bare date means that date's start of day. Applies to top-level comments only; a comment in range brings its full replies array. Unparseable values return 400."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 8601 date/time — only comments received (created_at) at or before this point."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of top-level comments, each with a replies array. Pagination applies to top-level comments only.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "comments_create",
        "summary": "Create comment or reply",
        "description": "Creates a new comment on a published post, or a reply when parent_id is given. The comment is stored immediately with status pending and published to the platform asynchronously.",
        "tags": [
          "Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Profile ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created with status pending and external_id null; the status updates asynchronously once published to the platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/posts/{post_id}/comments/{id}": {
      "parameters": [
        {
          "name": "post_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Post ID"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Comment ID — accepts either the Postproxy hashid or the platform's native (external) comment ID"
        }
      ],
      "get": {
        "operationId": "comments_get",
        "summary": "Get comment",
        "description": "Retrieves a single comment with its direct replies.",
        "tags": [
          "Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The comment with its replies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "comments_edit",
        "summary": "Edit comment",
        "description": "Replaces the text of a comment you published, asynchronously. Facebook and YouTube only. Once the platform confirms, `body` is replaced, `external_edited_at` is set and a `comment.edited` webhook fires; if the platform rejects the edit, `body` is unchanged and `comment.edit_failed` fires.",
        "tags": [
          "Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/comments/#edit-comment"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Profile ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "New comment text (`text` is accepted as an alias)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "comments_delete",
        "summary": "Delete comment",
        "description": "Deletes a comment from the platform asynchronously.",
        "tags": [
          "Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/posts/{post_id}/comments/{id}/hide": {
      "parameters": [
        {
          "name": "post_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Post ID"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Comment ID — accepts either the Postproxy hashid or the platform's native (external) comment ID"
        }
      ],
      "post": {
        "operationId": "comments_hide",
        "summary": "Hide comment",
        "description": "Hides a comment on the platform asynchronously. Hidden comments are not visible to the public.",
        "tags": [
          "Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Hide accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/posts/{post_id}/comments/{id}/unhide": {
      "parameters": [
        {
          "name": "post_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Post ID"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Comment ID — accepts either the Postproxy hashid or the platform's native (external) comment ID"
        }
      ],
      "post": {
        "operationId": "comments_unhide",
        "summary": "Unhide comment",
        "description": "Unhides a previously hidden comment on the platform asynchronously.",
        "tags": [
          "Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Unhide accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/posts/{post_id}/comments/{id}/like": {
      "parameters": [
        {
          "name": "post_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Post ID"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Comment ID — accepts either the Postproxy hashid or the platform's native (external) comment ID"
        }
      ],
      "post": {
        "operationId": "comments_like",
        "summary": "Like comment",
        "description": "Likes a comment on the platform asynchronously.",
        "tags": [
          "Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Like accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/posts/{post_id}/comments/{id}/unlike": {
      "parameters": [
        {
          "name": "post_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Post ID"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Comment ID — accepts either the Postproxy hashid or the platform's native (external) comment ID"
        }
      ],
      "post": {
        "operationId": "comments_unlike",
        "summary": "Unlike comment",
        "description": "Removes a like from a comment on the platform asynchronously.",
        "tags": [
          "Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Unlike accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/posts/{post_id}/comments/{id}/pin": {
      "parameters": [
        {
          "name": "post_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Post ID"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Comment ID — accepts either the Postproxy hashid or the platform's native (external) comment ID"
        }
      ],
      "post": {
        "operationId": "comments_pin",
        "summary": "Pin comment",
        "description": "Pins a comment to the top of the video asynchronously. TikTok only — requires a profile connected on or after 2026-09-30. TikTok keeps one pinned comment per video, so pinning a second comment moves the pin.",
        "tags": [
          "Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pin accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/posts/{post_id}/comments/{id}/unpin": {
      "parameters": [
        {
          "name": "post_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Post ID"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Comment ID — accepts either the Postproxy hashid or the platform's native (external) comment ID"
        }
      ],
      "post": {
        "operationId": "comments_unpin",
        "summary": "Unpin comment",
        "description": "Removes the pin from a comment asynchronously. TikTok only.",
        "tags": [
          "Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Unpin accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/posts/{post_id}/comments/{id}/private_reply": {
      "parameters": [
        {
          "name": "post_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Post ID"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Comment ID — accepts either the Postproxy hashid or the platform's native (external) comment ID"
        }
      ],
      "post": {
        "operationId": "dm_comment_private_reply",
        "summary": "Private reply to comment",
        "description": "Sends a DM to the author of a comment using Meta's Private Replies mechanism. Bypasses the 24-hour messaging window (comments up to 7 days old), creates or reuses the chat automatically, allows one private reply per comment, and is available on Instagram and Facebook Page comments only.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "profile_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Profile hashid (Instagram or Facebook)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DmPrivateReplyRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. Returns a Message with chat_id pointing at the chat for the comment's author and external_comment_id set to the comment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/profiles/{profile_id}/comments": {
      "parameters": [
        {
          "name": "profile_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Profile ID (hashid)"
        }
      ],
      "get": {
        "operationId": "profile_comments_list",
        "summary": "List profile comments",
        "description": "Retrieves a paginated list of top-level profile-scoped comments (Google Business Profile reviews and Facebook Page recommendations). Each top-level comment includes a replies array containing all nested replies sorted by created_at ascending; results are sorted by posted_at descending.",
        "tags": [
          "Profile Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/profile-comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "name": "placement_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter to comments on a single location (the accounts/X/locations/Y path returned by List Placements). Without it, comments from all locations are returned, interleaved by posted_at."
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of top-level comments, each with a replies array. Pagination applies to top-level comments only. Google Business reviews can be star-only: body is null while platform_data.star_rating is populated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileCommentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "profile_comments_create",
        "summary": "Reply to a profile comment",
        "description": "Creates a reply to an existing review. The reply is stored immediately with status pending and external_id null; it is then published to the platform. Top-level comments cannot be created — the request returns 422 if parent_id is missing.",
        "tags": [
          "Profile Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/profile-comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCommentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reply created with status pending and external_id null; published asynchronously.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileComment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/profiles/{profile_id}/comments/{id}": {
      "parameters": [
        {
          "name": "profile_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Profile ID"
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Comment ID — accepts either the Postproxy hashid or the platform's native resource path (e.g. accounts/1234/locations/5678/reviews/AbFvOq)"
        }
      ],
      "get": {
        "operationId": "profile_comments_get",
        "summary": "Get profile comment",
        "description": "Retrieves a single profile-scoped comment with its direct replies.",
        "tags": [
          "Profile Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/profile-comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "The comment with its replies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileComment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "profile_comments_delete",
        "summary": "Delete profile comment reply",
        "description": "Deletes your reply to a review. The Google Business API does not let businesses delete reviews themselves — the original review stays.",
        "tags": [
          "Profile Comments"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/profile-comments/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        }
      }
    },
    "/api/profiles/{profile_id}/chats": {
      "parameters": [
        {
          "name": "profile_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Profile ID"
        }
      ],
      "get": {
        "operationId": "dm_chats_list",
        "summary": "List chats",
        "description": "Returns a paginated list of chats for a profile, ordered by last_message_at descending (most recent first).",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 8601 timestamp — only chats with last_message_at before this"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 8601 timestamp — only chats with last_message_at after this"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of chats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmChatListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "dm_chat_create",
        "summary": "Create or find chat",
        "description": "Idempotently creates a chat for a (profile, participant_external_id) pair. If a chat with that participant already exists, the existing chat is returned and any provided participant fields are updated.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DmChatCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat already existed and is returned (idempotent).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmChat"
                }
              }
            }
          },
          "201": {
            "description": "New chat created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmChat"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/chats/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Chat ID — accepts the Postproxy hashid or the platform's external_conversation_id"
        }
      ],
      "get": {
        "operationId": "dm_chat_get",
        "summary": "Get chat",
        "description": "Fetch a single chat by Postproxy hashid or by external_conversation_id.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "The chat.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmChat"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/chats/{chat_id}/messages": {
      "parameters": [
        {
          "name": "chat_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Chat ID — accepts the Postproxy hashid or the platform's external_conversation_id"
        }
      ],
      "get": {
        "operationId": "dm_messages_list",
        "summary": "List messages",
        "description": "Returns a paginated list of messages in a chat, ordered by external_posted_at descending (pending outbound messages without external_posted_at are ordered by created_at).",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "inbound",
                "outbound"
              ]
            },
            "description": "Filter by direction: inbound or outbound"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "published",
                "failed_waiting_for_retry",
                "failed",
                "received"
              ]
            },
            "description": "Filter by message status"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmMessageListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "dm_message_send",
        "summary": "Send message",
        "description": "Creates an outbound message and queues it for delivery. The message is created immediately with status pending and published asynchronously; each send accepts either text or a single attachment, never both.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DmMessageSendRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The message is created with status pending; once published the status updates to published and external_id is populated. On failure it becomes failed_waiting_for_retry (retried with backoff) or failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/messages/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Message ID — accepts the Postproxy hashid or the platform's external_id"
        }
      ],
      "get": {
        "operationId": "dm_message_get",
        "summary": "Get message",
        "description": "Fetch a single message by Postproxy hashid or by platform external_id.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "The message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "dm_message_edit",
        "summary": "Edit message (Telegram only)",
        "description": "Edit a previously-sent outbound message on the platform. Telegram only — calling this on a non-Telegram message returns 422. Edits update both the platform-side message and the Postproxy record; external_edited_at is set and a message.edited webhook fires.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DmMessageEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated message with external_edited_at set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/messages/{id}/react": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Message ID — accepts the Postproxy hashid or the platform's external_id"
        }
      ],
      "post": {
        "operationId": "dm_message_react",
        "summary": "React to message",
        "description": "Add a reaction from your business account to a message. Supported on Facebook Messenger and Instagram Direct only — other networks (including Telegram) return 422. A second react from the same account replaces the previous one.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DmMessageReactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The message with the account's reaction persisted in reactions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/messages/{id}/unreact": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Message ID — accepts the Postproxy hashid or the platform's external_id"
        }
      ],
      "delete": {
        "operationId": "dm_message_unreact",
        "summary": "Remove reaction",
        "description": "Remove the business account's reaction from a message. Acts on whichever reaction the current account previously set; does not affect reactions from other senders.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "The message with the account's entry stripped from reactions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmMessage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/chats/{id}/archive": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Chat ID — accepts the Postproxy hashid or the platform's external_conversation_id"
        }
      ],
      "post": {
        "operationId": "dm_chat_archive",
        "summary": "Archive chat (Bluesky only)",
        "description": "Bluesky only. Archives (mutes) a conversation via chat.bsky.convo.muteConvo. The new state is reflected in the chat's metadata.muted and the top-level archived boolean.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "The chat with archived true and metadata.muted true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmChat"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "dm_chat_unarchive",
        "summary": "Unarchive chat (Bluesky only)",
        "description": "Bluesky only. Unarchives (unmutes) a conversation via chat.bsky.convo.unmuteConvo.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "The chat with archived false and metadata.muted false.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DmChat"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/chats/{id}/start_typing": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Chat ID — accepts the Postproxy hashid or the platform's external_conversation_id"
        }
      ],
      "post": {
        "operationId": "dm_chat_start_typing",
        "summary": "Show typing indicator (Facebook & Instagram)",
        "description": "Shows a typing indicator in the participant's thread — the \"...\" bubble they see while a reply is being composed. Facebook Messenger and Instagram Direct only; other networks return 422. Asynchronous: eligibility is validated up front and the action is delivered to Meta in the background. Meta clears the indicator after about 20 seconds or as soon as a message is sent, and it only renders while the participant is inside the messaging window.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Typing action accepted for asynchronous delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/chats/{id}/stop_typing": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Chat ID — accepts the Postproxy hashid or the platform's external_conversation_id"
        }
      ],
      "post": {
        "operationId": "dm_chat_stop_typing",
        "summary": "Hide typing indicator (Facebook & Instagram)",
        "description": "Hides the typing indicator early. Optional — Meta clears it on its own after about 20 seconds or as soon as a message is sent. Facebook Messenger and Instagram Direct only; other networks return 422. Asynchronous: responds with accepted true and delivers the action to Meta in the background.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Typing action accepted for asynchronous delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/profiles/{id}/ice_breakers": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Profile ID (Instagram profiles only)"
        }
      ],
      "get": {
        "operationId": "dm_ice_breakers_get",
        "summary": "Get ice breakers (Instagram only)",
        "description": "Get the profile's ice breakers — up to 4 predefined questions Instagram shows a user opening a new thread with your business. Instagram profiles only; requires DMs enabled for the account.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "The profile's ice breakers grouped by locale.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ice_breakers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "call_to_actions": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/DmIceBreaker"
                            }
                          },
                          "locale": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "post": {
        "operationId": "dm_ice_breakers_set",
        "summary": "Set ice breakers (Instagram only)",
        "description": "Set the profile's ice breakers: 1-4 items, each requiring question (shown to the user) and payload (returned to you when tapped). Setting ice breakers replaces the previous set.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DmIceBreakersSetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ice breakers set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "dm_ice_breakers_delete",
        "summary": "Delete ice breakers (Instagram only)",
        "description": "Delete the profile's ice breakers.",
        "tags": [
          "Direct Messages"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/direct-messages/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Ice breakers deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/posts": {
      "get": {
        "operationId": "posts_list",
        "summary": "List posts",
        "description": "Retrieves a paginated list of all posts in the current profile group. Thread children are not returned as top-level items — only parent posts appear.",
        "tags": [
          "Posts"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/posts/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "published",
                "failed"
              ]
            }
          },
          {
            "name": "platforms",
            "in": "query",
            "required": false,
            "description": "Array of platforms (e.g., platforms[]=instagram&platforms[]=tiktok)",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Filter by source: postproxy (created via app or API) or imported (imported from a connected platform)",
            "schema": {
              "type": "string",
              "enum": [
                "postproxy",
                "imported"
              ]
            }
          },
          {
            "name": "scheduled_after",
            "in": "query",
            "required": false,
            "description": "ISO 8601 date to filter posts scheduled after that date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Total number of posts"
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number"
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Items per page"
                    },
                    "data": {
                      "type": "array",
                      "description": "Array of post objects",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "posts_create",
        "summary": "Create post",
        "description": "Creates a new post and publishes it to the specified platforms. Set draft to true to create a draft that won't publish until reviewed.",
        "tags": [
          "Posts"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/posts/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCreateRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "description": "File upload variant. Use form field names with brackets: post[body], profiles[], media[].",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/posts/stats": {
      "get": {
        "operationId": "posts_stats",
        "summary": "Post stats",
        "description": "Retrieves stats snapshots for one or more posts. Returns all matching snapshots (not just the latest) so you can see trends over time, with optional filtering by profiles/networks and timespan.",
        "tags": [
          "Posts"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/posts/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "name": "post_ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of post ids (max 50)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profiles",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of profile ids or platform names (e.g. instagram,twitter or abc123,def456 or mixed). Platform names are matched against known platforms; anything else is treated as a profile id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "ISO 8601 timestamp — only include snapshots recorded at or after this time",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "ISO 8601 timestamp — only include snapshots recorded at or before this time",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stats snapshots keyed by post id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostStatsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/posts/{id}": {
      "get": {
        "operationId": "posts_get",
        "summary": "Get post",
        "description": "Retrieves a single post by its ID, including media attachments, per-platform posting results, and thread children for thread posts.",
        "tags": [
          "Posts"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/posts/"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "The post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "posts_update",
        "summary": "Update post",
        "description": "Updates an existing post; omitted fields are left unchanged. Draft posts and scheduled posts (more than 5 minutes before their publish time) can be fully updated. On a published post only text can change — post[body], platforms.youtube.title, platforms.pinterest.title and platforms.pinterest.destination_link (anything else returns 422). The new text is pushed asynchronously to every platform post that supports editing (Facebook feed posts, LinkedIn, YouTube, Pinterest, Telegram, Google Business except photo posts, and X within 30 minutes of publishing — X assigns a new platform_id); each outcome fires platform_post.edited or platform_post.edit_failed. Instagram, Threads, TikTok and Bluesky posts keep their original text.",
        "tags": [
          "Posts"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/posts/"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "posts_delete",
        "summary": "Delete post",
        "description": "Deletes a post from the database. By default this does not remove the post from social media platforms; pass delete_on_platform=true to also delete it from platforms first.",
        "tags": [
          "Posts"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/posts/"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delete_on_platform",
            "in": "query",
            "required": false,
            "description": "If true, also deletes the post from all published platforms before removing it from the database",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Post deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/posts/{id}/publish": {
      "post": {
        "operationId": "posts_publish",
        "summary": "Publish draft post",
        "description": "Publishes a draft post. Only posts with status \"draft\" can be published using this endpoint.",
        "tags": [
          "Posts"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/posts/"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "The post, now publishing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/posts/{id}/delete_on_platform": {
      "post": {
        "operationId": "posts_delete_on_platform",
        "summary": "Delete post on platforms",
        "description": "Deletes a published post from one or more social media platforms without removing it from the database. The deletion happens asynchronously via a background job; if no targeting parameter is provided, the post is deleted from all published platforms.",
        "tags": [
          "Posts"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/posts/"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Post id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Optional targeting. Provide at most one of post_profile_id, profile_id, or network; with none, the post is deleted from all published platforms.",
                "properties": {
                  "post_profile_id": {
                    "type": "string",
                    "description": "ID of a specific post profile. Resolves to the underlying profile and deletes across the entire thread"
                  },
                  "profile_id": {
                    "type": "string",
                    "description": "ID of a profile. Deletes all post profiles for this profile on the post"
                  },
                  "network": {
                    "type": "string",
                    "description": "Network name (e.g. twitter, facebook). Deletes all post profiles for this network on the post"
                  },
                  "profile_group_id": {
                    "type": "string",
                    "description": "Scope the lookup to a specific profile group"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleting": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "post_profile_id": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/post_queues": {
      "get": {
        "operationId": "queues_list",
        "summary": "List queues",
        "description": "Retrieves all queues for the current account.",
        "tags": [
          "Queues"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/queues/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of queues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Queue"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "queues_create",
        "summary": "Create queue",
        "description": "Creates a new posting queue connected to a profile group.",
        "tags": [
          "Queues"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/queues/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueueCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created queue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Queue"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/post_queues/{id}": {
      "get": {
        "operationId": "queues_get",
        "summary": "Get queue",
        "description": "Retrieves a single queue by its ID, including its weekly timeslot definitions.",
        "tags": [
          "Queues"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/queues/"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Queue id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "The queue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Queue"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "queues_update",
        "summary": "Update queue",
        "description": "Updates a queue's settings, timeslots, or enabled state. Any changes to timezone or timeslots will trigger a rearrangement of all queued posts.",
        "tags": [
          "Queues"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/queues/"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Queue id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueueUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated queue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Queue"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "queues_delete",
        "summary": "Delete queue",
        "description": "Deletes a queue. Posts that were in the queue will have their queue reference removed but will not be deleted.",
        "tags": [
          "Queues"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/queues/"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Queue id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Queue deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "examples": [
                        true
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/post_queues/{id}/next_slot": {
      "get": {
        "operationId": "queues_next_slot",
        "summary": "Get next available timeslot",
        "description": "Returns the next available timeslot for the queue.",
        "tags": [
          "Queues"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/queues/"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Queue id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "Next available timeslot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_slot": {
                      "type": "string",
                      "format": "date-time",
                      "examples": [
                        "2026-03-11T14:00:00Z"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/calendar": {
      "get": {
        "operationId": "calendar_list",
        "summary": "List calendar events",
        "description": "Retrieves a filtered, paginated list of social media calendar events for 2026 — public holidays, awareness days, cultural events, commerce dates, and sensitive/no-post dates. This is a public endpoint; no authentication required.",
        "tags": [
          "Calendar"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/calendar/"
        },
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter by category. Comma-separated. Values: post_trigger, sensitive, no_post",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by event type. Comma-separated. Values: public_holiday, fun_holiday, awareness_day, cultural_event, sporting_event, commerce_event, religious_event, seasonal, remembrance",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter by country code (ISO 3166-1 alpha-2). Comma-separated. Also includes global events",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Filter by tag. Comma-separated. Examples: sports, food, pets, commerce, environment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "description": "Filter by month (1-12)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search event names (case-insensitive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start of date range (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End of date range (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of calendar events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Total number of events matching the filters"
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number"
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of results per page"
                    },
                    "filters": {
                      "type": "object",
                      "description": "Echo of active filters applied to the request",
                      "additionalProperties": true
                    },
                    "data": {
                      "type": "array",
                      "description": "Array of event objects",
                      "items": {
                        "$ref": "#/components/schemas/CalendarEvent"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/profiles": {
      "get": {
        "operationId": "profiles_list",
        "summary": "List profiles",
        "description": "Retrieves your profiles. Pass profile_group_id to restrict to a single group; omit it to return profiles across every group your API key or OAuth user can access.",
        "tags": [
          "Profiles"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/profiles/"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "List of Profile objects accessible with the API key or OAuth user.",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/profiles/{id}": {
      "get": {
        "operationId": "profiles_get",
        "summary": "Get profile",
        "description": "Retrieves a single profile by its ID. The response includes the profile fields plus the latest stats snapshot per placement and (for placement networks) a summary_stats rollup.",
        "tags": [
          "Profiles"
        ],
        "externalDocs": {
          "url": "https://postproxy.dev/reference/profiles/"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Profile id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ProfileGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "The profile with latest stats",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Profile"
                    },
                    {
[...]
