{
  "openapi": "3.1.0",
  "info": {
    "title": "Vaaya",
    "version": "1.0.0",
    "description": "Call paid services through Vaaya with one API key, or pay per call with no account. This specification covers the actions sold keyless: fixed-price actions over x402 (USDC on Base) and, where listed, MPP (Tempo charge, USDC.e), plus the MPP-only Hotel Lobby video job. Use GET /api/run for all actions, including free and variable-price services. Read the schema guide at https://vaaya.ai/docs/reference/openapi.",
    "x-guidance": "Send a JSON body to POST /api/run/{service}/{action}. Use Authorization: Bearer vaaya_sk_... for account payments. GET the same URL first to read its current inputs and price. Pass max_cost_cents to limit spending. Keyless: POST unpaid and pay the 402 — x402 (USDC on Base) or MPP (WWW-Authenticate: Payment, Tempo charge) as each operation lists. Hotel Lobby (POST /api/run/colors/generate) is MPP-only and asynchronous: the paid response returns a job and a free status_url; see https://vaaya.ai/mpp/llms.txt. GET /api/run lists the complete catalog. MCP tools and their input schemas are at https://vaaya.ai/llms-full.txt.",
    "contact": {
      "name": "Vaaya Support",
      "email": "support@vaaya.ai",
      "url": "https://vaaya.ai/docs"
    },
    "termsOfService": "https://vaaya.ai/terms",
    "license": {
      "name": "Proprietary",
      "url": "https://vaaya.ai/terms"
    },
    "x-api-versioning": "URL path versioning. Stable endpoints are namespaced under /api/v1/. The catalog runner /api/run/{service}/{action} is additive-only; any breaking change ships under a new version prefix (/api/v2/) and the old surface stays until its sunset date.",
    "x-deprecation-policy": "A retiring endpoint returns `Deprecation: true` (RFC 9745) and a `Sunset: <HTTP-date>` (RFC 8594) header for at least 90 days before removal, with a `Link: <...>; rel=\"successor-version\"` pointer to the replacement.",
    "x-rate-limits": "Every response carries the IETF RateLimit headers (RateLimit-Limit, RateLimit-Remaining, RateLimit-Reset in seconds, and RateLimit-Policy) so agents can self-throttle. On 429 honour Retry-After before retrying. Separate limits also apply to agent signup (per source IP, per hour) and to concurrent in-flight calls per account.",
    "x-jentic-source-url": "https://vaaya.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://vaaya.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/run/gener8ion-yung-lean-storm/generate": {
      "post": {
        "operationId": "gener8ion_yung_lean_storm_generate",
        "summary": "gener8ion-yung-lean-storm/generate",
        "description": "gener8ion yung lean storm: replace the central lead performer in the fixed 7-second Short or 29-second Extended video. Supply 1–5 owned photo file IDs of one consenting adult, variant, consent:true and an optional prompt of creative notes. Other people and the scene remain in place. The final MP4 includes the matching supplied soundtrack. Returns an async job_id; poll result rather than submitting again. Account users need a completed paid top-up; keyless buyers can pay the full price over MPP and poll the free signed status URL. Send a stable Idempotency-Key and max_cost_cents. No caller-supplied source video.",
        "tags": [
          "gener8ion-yung-lean-storm"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "11.000000",
            "max": "34.000000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "variant": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "extended"
                    ],
                    "default": "standard"
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 2000,
                    "default": "",
                    "description": "Optional creative notes for the lead performer."
                  },
                  "image_file_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "minItems": 1,
                    "maxItems": 5
                  },
                  "consent": {
                    "type": "boolean",
                    "const": true
                  }
                },
                "required": [
                  "image_file_ids",
                  "consent"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (MPP: USDC.e on Tempo; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/colors/generate": {
      "post": {
        "operationId": "colors_generate",
        "summary": "colors/generate",
        "description": "Hotel Lobby Standard (7 seconds) or Extended (29 seconds): turn 1–5 owned photo file IDs per consenting adult performer (plus an optional prompt of creative notes) into the fixed Hotel Lobby performance video. Replace left, right, or both in one request: performers contains one entry per selected slot, each with that person’s separate image_file_ids. Left/right are the viewer’s perspective in the video. Ask who belongs on each side; omitted slots keep their original performer. Instinct, Muse and all other agents use the same slot mapping. The backend prepares inputs, edits, restores audio and stores the final MP4. Account callers need a completed paid top-up, including Instinct accounts. Flat recipe price is reserved; failed jobs release it. Keyless buyers pay the price per job over MPP only (Tempo; x402 is not accepted): stage photos with files/upload from the same wallet, then poll the returned status_url for free; a failed job is refunded on-chain. Returns async job_id: poll result, never resubmit to check. No caller-supplied source video. Send a stable Idempotency-Key and max_cost_cents.",
        "tags": [
          "colors"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "11.000000",
            "max": "34.000000"
          },
          "protocols": [
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "variant": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "extended"
                    ],
                    "default": "standard"
                  },
                  "prompt": {
                    "type": "string",
                    "maxLength": 2000,
                    "default": "",
                    "description": "Optional creative notes, e.g. outfits or heights. Slot mapping comes from performers."
                  },
                  "performers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "slot": {
                          "type": "string",
                          "enum": [
                            "left",
                            "right"
                          ],
                          "description": "Which performer to replace, from the viewer's perspective in the source video."
                        },
                        "image_file_ids": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "minItems": 1,
                          "maxItems": 5
                        },
                        "consent": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "slot",
                        "image_file_ids",
                        "consent"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1,
                    "maxItems": 2,
                    "description": "Replace left, right, or both. For both, send two entries with separate photo sets. Omitted slots keep the original performer."
                  }
                },
                "required": [
                  "performers"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (MPP: USDC.e on Tempo; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/fal/upload": {
      "post": {
        "operationId": "fal_upload",
        "summary": "fal/upload",
        "description": "Stage a media file on the fal CDN before a fal generation. Returns { upload_url, file_url }: PUT the raw file bytes to upload_url (with the matching Content-Type header), then pass file_url as the image_url/video_url/audio_url param of the generation. Upload originals UNCOMPRESSED — never downscale or re-encode; high-res inputs cost nothing extra and compression degrades outputs.",
        "tags": [
          "fal"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "content_type": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "file_name",
                  "content_type"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/cueframe/upload": {
      "post": {
        "operationId": "cueframe_upload",
        "summary": "cueframe/upload",
        "description": "Step 1 of video assembly. Stage an asset you've ALREADY uploaded to Vaaya Files onto CueFrame. First `files/upload` the asset (screen recording, narration/music audio, b-roll/video clip) → you get a `file_id`; then call this with that `file_id`. Vaaya imports it onto CueFrame from your stored copy and returns `{ media_id, status }` — reference `media_id` in put_composition. You do NOT handle CueFrame upload URLs/tokens; Vaaya does the transfer. Params: file_id (required, from files/upload), optional contentType override. Content type must be one CueFrame accepts: video (mp4/quicktime/mkv/webm), audio (mpeg/wav/x-wav/mp4/aac), or image (png/jpeg/webp). Returns the media_id immediately; the import finishes processing server-side.",
        "tags": [
          "cueframe"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "filename": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "contentType": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "file_id"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/cueframe/create_project": {
      "post": {
        "operationId": "cueframe_create_project",
        "summary": "cueframe/create_project",
        "description": "Step 2 of video assembly. Create a CueFrame project for any video style (1A demo, 1B PIP-avatar, 1C conceptual, 1D launch). Returns `{ id }` (the project_id) used by put_composition + render. Params: name (required), format {aspectRatio 16:9|9:16|1:1|4:5, fps 24|30|60, resolution hd|fhd|4k}, optional brandKitId.",
        "tags": [
          "cueframe"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/cueframe/put_composition": {
      "post": {
        "operationId": "cueframe_put_composition",
        "summary": "cueframe/put_composition",
        "description": "Step 3 of video assembly. Set the project's composition (the edit). Params: project_id (required) + the full composition object (pass its fields — v/format/tracks — at the top level alongside project_id; a nested `composition: {...}` wrapper is also accepted and unwrapped). Composition shape (CueFrame `Composition`): `{ v:1, format:{ aspectRatio:16:9|9:16|1:1|4:5, fps:24|30|60, resolution:hd|fhd|4k }, tracks:[{ id, kind:video|audio|image|overlay|effect, contents:[ clip ] }] }`. A clip = `{ id, startTime, duration, source, opacity?, scale?, rotation?, position?, region?, fit?, effects?, transitionIn? }`. A `source` is one of: `{ kind:\"media\", mediaId, trim:{start,end}, volume?(0–4), muted?, loop?, fadeInMs?, fadeOutMs?, kenBurns?, excludedRanges?, reframe:{ segments:[{ startSec, endSec, zoom, focus:{mode:\"point\",x,y}|{mode:\"frame-center\"}|{mode:\"face\"|...}, ease?:{in,out}, bias?:{x,y} }] } }` (reframe = the 1A autoZoom engine), `{ kind:\"component\", componentId, props }`, `{ kind:\"effect\", primitiveId, params }`, or an overlay `{ kind:\"overlay\", primitiveId, params, zPlane?, anchor?, parallax? }` (overlay `primitiveId`s come from CueFrame's /registry/overlays — overlays use primitiveId+params, NOT type/at/position). Prefer to let `consult` author this JSON — upload your assets to Vaaya Files, call `consult` with the manifest, and run the returned call; Vaaya has the taste for a tight demo.",
        "tags": [
          "cueframe"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "project_id"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/cueframe/validate": {
      "post": {
        "operationId": "cueframe_validate",
        "summary": "cueframe/validate",
        "description": "Dry-run validate a composition WITHOUT saving or rendering. Pass the bare Composition (its v/format/tracks fields at the top level; a nested `composition: {...}` wrapper is also accepted). Returns `{ valid: boolean, errors: [{ code, stage, category, retryable, message, fix? }] }`. ALWAYS validate before `put_composition` + `render`: CueFrame silently drops clips that fail validation (e.g. reframe `zoom` > 1.0), so an invalid edit renders as \"Composition has no scenes\" and wastes a paid render. Fix every error (use the `fix` hint) until `valid:true`, then put_composition + render.",
        "tags": [
          "cueframe"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/cueframe/render": {
      "post": {
        "operationId": "cueframe_render",
        "summary": "cueframe/render",
        "description": "Step 4 of video assembly. Render the project to a finished MP4. Async: returns a job_id (the renderId); poll with `result` for the output URL — never re-run render to \"check\" (that starts a new paid render). Render intent:\"preview\" first for a fast cheap draft to review the cut, then intent:\"final\" for the full-resolution master. Params: project_id (required), intent (preview|final), optional format {aspectRatio,fps,resolution}, priority (\"standard\" (default) or \"background\" — NEVER \"interactive\"; interactive is reserved for editor-session tokens and returns 403 for API callers).",
        "tags": [
          "cueframe"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "1.000000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "intent": {
                    "type": "string",
                    "enum": [
                      "preview",
                      "final"
                    ]
                  }
                },
                "required": [
                  "project_id"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/vaaya/consult": {
      "post": {
        "operationId": "vaaya_consult",
        "summary": "vaaya/consult",
        "description": "Vaaya — one paid endpoint for agents. Describe any goal in plain English and get back the exact Vaaya calls to run: image & video generation, product-demo videos, web search & scraping, deep & market research, GTM lead enrichment & outreach, code sandboxes, browser automation, email, and persistent memory. Returns ready-to-run { service, action, params } calls with prices — then POST each to /api/run/{service}/{action}. Pay-per-call in USDC on Base (x402), no account or API key.",
        "tags": [
          "vaaya"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "intent": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000
                  }
                },
                "required": [
                  "intent"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/vaaya/fetch": {
      "post": {
        "operationId": "vaaya_fetch",
        "summary": "vaaya/fetch",
        "description": "Vaaya — fetch any public https URL and, when it answers 402 with an x402 or MPP payment challenge, pay it from your balance (up to your max_cost_cents) and return the resource. A URL that serves without payment comes back at 0¢. Pass { url, method?, headers?, body? }. Hard cap $5 per call; you pay the merchant's actual settle. Private, internal and Vaaya hosts are refused.",
        "tags": [
          "vaaya"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "5.000000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 2000
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "GET",
                      "POST",
                      "PUT",
                      "PATCH",
                      "DELETE"
                    ],
                    "default": "GET"
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "maxLength": 4000
                    },
                    "propertyNames": {
                      "minLength": 1,
                      "maxLength": 100
                    }
                  },
                  "body": {}
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/vaaya/onesearch": {
      "post": {
        "operationId": "vaaya_onesearch",
        "summary": "vaaya/onesearch",
        "description": "Vaaya OneSearch: answer a question with cited evidence, in one call. Pass `query` in plain English; an intent classifier picks the facets, races independent indexes when the question is time-critical, and fetches full page content when fidelity matters. Returns `evidence`, each item with url, title, snippet, optional full `content`, `source` (vendor/action) and the `tx_id` it came from. To route it yourself, add any of: `facets` (one or more of web, docs, news, academic, code, public-filings, funding, financials, legal, nonprofits, regulatory, compliance; default [\"web\"]), `timeCritical`, `fidelityRequired` (docs come back as complete markdown, never summarized), `recencyDays`, `domains` / `excludeDomains`, `urls` (skip search and extract these), `asOf` (YYYYMMDD, Wayback copy), `maxResults`. Flat 5¢ per call; the internal source calls are included. Not charged when every source failed. For people use onefind; for pages you already have use the scraping vendors.",
        "tags": [
          "vaaya"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.050000"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000
                  },
                  "facets": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "web",
                        "docs",
                        "news",
                        "academic",
                        "code",
                        "public-filings",
                        "compliance",
                        "funding",
                        "financials",
                        "legal",
                        "nonprofits",
                        "regulatory",
                        "scrape",
                        "scrape-hard",
                        "social"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 15,
                    "default": [
                      "web"
                    ]
                  },
                  "timeCritical": {
                    "type": "boolean"
                  },
                  "fidelityRequired": {
                    "type": "boolean"
                  },
                  "recencyDays": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3650
                  },
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "maxItems": 10
                  },
                  "excludeDomains": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "maxItems": 10
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "minItems": 1,
                    "maxItems": 5
                  },
                  "asOf": {
                    "type": "string",
                    "pattern": "^\\d{4,14}$"
                  },
                  "maxResults": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 25
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "tiktok",
                      "instagram",
                      "youtube",
                      "twitter",
                      "weibo",
                      "reddit"
                    ]
                  },
                  "budgetCents": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base or MPP: USDC.e on Tempo; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/vaaya/supersearch": {
      "post": {
        "operationId": "vaaya_supersearch",
        "summary": "vaaya/supersearch",
        "description": "Deprecated alias of vaaya/onesearch. Same inputs, same flat 5¢. Call onesearch instead.",
        "tags": [
          "vaaya"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.050000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000
                  },
                  "facets": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "web",
                        "docs",
                        "news",
                        "academic",
                        "code",
                        "public-filings",
                        "compliance",
                        "funding",
                        "financials",
                        "legal",
                        "nonprofits",
                        "regulatory",
                        "scrape",
                        "scrape-hard",
                        "social"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 15,
                    "default": [
                      "web"
                    ]
                  },
                  "timeCritical": {
                    "type": "boolean"
                  },
                  "fidelityRequired": {
                    "type": "boolean"
                  },
                  "recencyDays": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3650
                  },
                  "domains": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "maxItems": 10
                  },
                  "excludeDomains": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "maxItems": 10
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "minItems": 1,
                    "maxItems": 5
                  },
                  "asOf": {
                    "type": "string",
                    "pattern": "^\\d{4,14}$"
                  },
                  "maxResults": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 25
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "tiktok",
                      "instagram",
                      "youtube",
                      "twitter",
                      "weibo",
                      "reddit"
                    ]
                  },
                  "budgetCents": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/vaaya/onefind": {
      "post": {
        "operationId": "vaaya_onefind",
        "summary": "vaaya/onefind",
        "description": "Vaaya OneFind: find people from a plain-English query, as rows. Pass `query`, either a description (\"series A fintech founders in India\", \"heads of talent at Series B startups\") for a table of people, or a name + company (\"Jerry Liu LlamaIndex\") for that one person (the response says which: `person: true/false`), plus optional `limit` (1–25, default 15). Returns `rows`, each with name, title, company, location, linkedin and per-field `sources`. Contact fields (email, phone) are null and `enriched: false`: this tier finds, it does not buy contact data. Flat 2¢ per call regardless of rows. To add emails/phones, call onefind-deep with the same query or with `rows: [<linkedin urls>]` for the people you pick. For one known person (an email or LinkedIn URL), use onefind-deep directly; this call refuses identifiers without charging.",
        "tags": [
          "vaaya"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.020000"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 500
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 25,
                    "default": 15
                  }
                },
                "required": [
                  "query"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base or MPP: USDC.e on Tempo; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/files/upload": {
      "post": {
        "operationId": "files_upload",
        "summary": "files/upload",
        "description": "Store a file from the local machine in your persistent Vaaya file library. Returns put_url (PUT the raw bytes there with curl) plus file_id and get_url. Files persist across tasks — check files/list before re-uploading. Max 100MB per file.",
        "tags": [
          "files"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "size_bytes": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 104857600
                  },
                  "mime": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "maxItems": 10
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "filename",
                  "size_bytes"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base or MPP: USDC.e on Tempo; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/files/upload_from_url": {
      "post": {
        "operationId": "files_upload_from_url",
        "summary": "files/upload_from_url",
        "description": "Fetch a file from a public URL into your persistent Vaaya file library (server-side — no local download needed). Returns file_id and get_url. Max 100MB per file.",
        "tags": [
          "files"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20C000000000000000000000b9537d11c60E8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "filename": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "maxItems": 10
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base or MPP: USDC.e on Tempo; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/rentcast/properties": {
      "post": {
        "operationId": "rentcast_properties",
        "summary": "rentcast/properties",
        "description": "RentCast — Look up US property RECORDS (150M+ properties): structural attributes, features, tax assessments + tax history, sale history, owner names/type. One exact property: pass `address` (\"Street, City, State, Zip\"). Area search: `zipCode` or `city`+`state` (both case-sensitive) or `latitude`+`longitude`+`radius` (miles, max 100), with filters `propertyType`, `bedrooms`/`bathrooms`/`squareFootage`/`lotSize`/`yearBuilt` (ranges like \"2-4\" supported), `limit` (default 50, max 100) + `offset` to page. Records, not listings — for what is FOR SALE/RENT use rentcast/sale-listings or rentcast/rental-listings.",
        "tags": [
          "rentcast"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.300000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "minLength": 3
                  },
                  "city": {
                    "type": "string",
                    "minLength": 1
                  },
                  "state": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2
                  },
                  "zipCode": {
                    "type": "string",
                    "pattern": "^\\d{5}$"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "radius": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "maximum": 100
                  },
                  "propertyType": {
                    "type": "string",
                    "enum": [
                      "Single Family",
                      "Condo",
                      "Townhouse",
                      "Manufactured",
                      "Multi-Family",
                      "Apartment",
                      "Land"
                    ]
                  },
                  "bedrooms": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "number"
                      }
                    ]
                  },
                  "bathrooms": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "number"
                      }
                    ]
                  },
                  "squareFootage": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "number"
                      }
                    ]
                  },
                  "lotSize": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "number"
                      }
                    ]
                  },
                  "yearBuilt": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "number"
                      }
                    ]
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "offset": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "saleDateRange": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "number"
                      }
                    ]
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — retry after the interval in the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal or upstream provider error — the call was not charged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/run/rentcast/value-estimate": {
      "post": {
        "operationId": "rentcast_value_estimate",
        "summary": "rentcast/value-estimate",
        "description": "RentCast — Property VALUE estimate (AVM): estimated sale price + priceRangeLow/High + the ranked comparable listings used (sorted by correlation). Pass `address` (\"Street, City, State, Zip\") or `latitude`+`longitude`; subject attributes are auto-looked-up, or override with `propertyType`, `bedrooms` (0 = studio), `bathrooms`, `squareFootage`. Tune comps with `maxRadius` (miles), `daysOld`, `compCount` (5-25, default 15).",
        "tags": [
          "rentcast"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.350000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "minLength": 3
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "propertyType": {
                    "type": "string",
                    "enum": [
                      "Single Family",
                      "Condo",
                      "Townhouse",
                      "Manufactured",
                      "Multi-Family",
                      "Apartment",
                      "Land"
                    ]
                  },
                  "bedrooms": {
                    "type": "number",
                    "minimum": 0
                  },
                  "bathrooms": {
                    "type": "number",
                    "minimum": 0
                  },
                  "squareFootage": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  },
                  "maxRadius": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  },
                  "daysOld": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "compCount": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 25
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "description": "Service-specific result payload"
                    },
                    "charged_cents": {
                      "type": "integer",
                      "description": "Price charged for this call, in cents"
                    },
                    "balance_remaining_cents": {
                      "type": "integer",
                      "description": "Account balance left after this call, in cents (bearer auth only)"
                    },
                    "transaction_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "data",
                    "charged_cents"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed body or params that failed schema validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token (Vaaya API key or OAuth access token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (x402: USDC on Base; no account needed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
[...]
