{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "nicolas.de-chastellier@renault.com",
      "name": "Nicolas De-Chastellier"
    },
    "description": "Get Organization details, example : Organisation Name, ID, Business manager ID , Legal manager , Allowed cost centers, details of the superior and sub organisations, filled position details, job profiles..",
    "title": "Human Ressources-People@Renault-Organization",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/TERFERRE/human-ressources-peoplerenault-organization/1.0.0"
  },
  "servers": [
    {
      "url": "https://apis.tls.renault.com/hri/organization/v1"
    }
  ],
  "paths": {
    "/openapi.json": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "503": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Common"
        ],
        "description": "Information on service provided, this information is highly recommended in your API.",
        "operationId": "openApi",
        "summary": "Specifications Swagger/openapi"
      }
    },
    "/ping": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "503": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Common"
        ],
        "description": "Verify if backend is up, this information is higly recommended in your API.",
        "operationId": "ping",
        "summary": "Verify if backend is up"
      }
    },
    "/ren-isu-api/global-functions": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "collection something or other",
                  "properties": {
                    "Report_Entry": {
                      "items": {
                        "properties": {
                          "Active": {
                            "example": "Status of the Custom Organisation",
                            "type": "boolean",
                            "x-workday-type": "Text"
                          },
                          "CusOrgName": {
                            "example": "Name of the custom Organisation",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "ReferenceID": {
                            "example": "Reference ID of the Global Function organisation",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "SuperiorRefID": {
                            "example": "Superior Reference ID of the Global Function organisation",
                            "type": "string",
                            "x-workday-type": "Text"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "A description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "An error occurred"
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:Organisation"
            ]
          }
        ],
        "tags": [
          "organisation"
        ],
        "description": "Get details of an Custom Organization Reference ID, Name, parent ID, status ...",
        "operationId": "ren-isu-api_global-functions_GET"
      }
    },
    "/ren-isu-api/suporg-workers": {
      "get": {
        "parameters": [
          {
            "description": "Include only Inactive workers.",
            "example": "0",
            "in": "query",
            "name": "InactiveWorkers",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Get organisation details by ID. Example: REN_SUPORG_XXXXXXXX",
            "in": "query",
            "name": "Org!Organization_Reference_ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "collection something or other",
                  "properties": {
                    "Report_Entry": {
                      "items": {
                        "properties": {
                          "Subtype": {
                            "example": "Subtype of the supervisory organisation",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "defaultCompany": {
                            "example": "Default Company of the supervisory organisation",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "legalOrgLink": {
                            "example": "Legal Organization Link of the supervisory organisation",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "managerId": {
                            "example": "Manager ID of the worker occupying the position",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "orgId": {
                            "example": "ID of the supervisory organisation REN_SUPORG_XXXXXXXX/ALL_SUPORG_XXXXXXX",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "orgName": {
                            "example": "Name of the supervisory organisation",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "subTypeId": {
                            "example": "Subtype ID of the supervisory organisation",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "worker": {
                            "items": {
                              "properties": {
                                "employeeID": {
                                  "example": "Employee ID of the worker occupying the position",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "firstName": {
                                  "example": "first Name of the worker occupying the position",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "fullName": {
                                  "example": "Full Name of the worker occupying the position",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "ipn": {
                                  "example": "IPN of the worker occupying the position",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "lastName": {
                                  "example": "Last Name of the worker occupying the position",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "workEmail": {
                                  "example": "work Email of the worker occupying the position",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "workerType": {
                                  "example": "Worker Type of the worker occupying the position",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "A description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "An error occurred"
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:Organisation"
            ]
          }
        ],
        "tags": [
          "organisation"
        ],
        "description": "Get details of an Supervisory organisation Id, Name, Subtype ID, Subtype, Worker id,  First name, last name, ipn and etc...",
        "operationId": "ren-isu-api_suporg-workers_GET"
      }
    },
    "/ren-isu-wb-worker-data/suporg-details": {
      "get": {
        "parameters": [
          {
            "description": "Get details of an organisation by ID. Example: REN_SUPORG_XXXXXXXX",
            "in": "query",
            "name": "Org!Organization_Reference_ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "collection something or other",
                  "properties": {
                    "Report_Entry": {
                      "items": {
                        "properties": {
                          "allowedCostCenters": {
                            "items": {
                              "properties": {
                                "costCenter": {
                                  "example": "ID of the allowed costcenter for the organisation REN_CC_XXXXXXX",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "defaultCompany": {
                            "example": "ID of the default company associated with the organisation REN_COMPANY_XXXX",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "legalOrganizationLink": {
                            "example": "ID of the linked legal supervisory organisation REN_LGLORG_XXXXXXXX",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "managerId": {
                            "example": "Employee ID of the worker managing the organisation",
                            "type": "integer",
                            "x-workday-type": "Numeric"
                          },
                          "orgId": {
                            "example": "ID of the supervisory organisation REN_SUPORG_XXXXXXXX/ALL_SUPORG_XXXXXXX",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "orgName": {
                            "example": "Name of the supervisory organisation",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "subType": {
                            "example": "ID of the organisation type REN_SUPORG_SUBTYPE_XX",
                            "type": "string",
                            "x-workday-type": "Text"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "A description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "An error occurred"
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:Organisation"
            ]
          }
        ],
        "tags": [
          "organisation"
        ],
        "description": "Get details of an organisation like Id, Name, Type of organization, cost centers and company associated",
        "operationId": "ren-isu-wb-worker-data_suporg-details_GET"
      }
    },
    "/ren-isu-wb-worker-data/suporg-position-details": {
      "get": {
        "parameters": [
          {
            "description": "Get filled position details under an organisation by ID. Example: REN_SUPORG_XXXXXXXX",
            "in": "query",
            "name": "Org!Organization_Reference_ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "collection something or other",
                  "properties": {
                    "Report_Entry": {
                      "items": {
                        "properties": {
                          "orgId": {
                            "example": "ID of the supervisory organisation REN_SUPORG_XXXXXXXX/ALL_SUPORG_XXXXXXX",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "orgName": {
                            "example": "Name of the supervisory organisation",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "organizationPosition": {
                            "items": {
                              "properties": {
                                "businessTitle": {
                                  "example": "Position Title",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "jobFamilyId": {
                                  "example": "ID of the job family associated with the job profile ALL_JOB FAMILY GROUP_XXXXXXXX",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "jobFamilyName": {
                                  "example": "Name of the job family associated with the job profile",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "jobProfileId": {
                                  "example": "ID of the job profile associated with the position XXXXX-Y",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "jobProfileName": {
                                  "example": "Name of the job profile associated with the position",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "positionId": {
                                  "example": "ID of the filled position REN_POSITION_XXXXXXXX/ALL_POSITION_XXXXXXXX",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "workerId": {
                                  "example": "Employee ID of the worker occupying the position",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "A description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "An error occurred"
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:Organisation"
            ]
          }
        ],
        "tags": [
          "organisation"
        ],
        "description": "Get filled position details like job profile details, worker id under an Organisation",
        "operationId": "ren-isu-wb-worker-data_suporg-position-details_GET"
      }
    },
    "/ren-isu-wb-worker-data/suporg-suborg-details": {
      "get": {
        "parameters": [
          {
            "description": "Get organisation details by ID. Example: REN_SUPORG_XXXXXXXX",
            "in": "query",
            "name": "Org!Organization_Reference_ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "collection something or other",
                  "properties": {
                    "Report_Entry": {
                      "items": {
                        "properties": {
                          "orgId": {
                            "example": "ID of the supervisory organisation REN_SUPORG_XXXXXXXX/ALL_SUPORG_XXXXXXX",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "orgName": {
                            "example": "Name of the supervisory organisation",
                            "type": "string",
                            "x-workday-type": "Text"
                          },
                          "organizationSubordinate": {
                            "items": {
                              "properties": {
                                "positionCount": {
                                  "example": "Count of the filled position headcount in the organisation",
                                  "type": "integer",
                                  "x-workday-type": "Numeric"
                                },
                                "subOrgCount": {
                                  "example": "Count of the sub organisations under the supervisory organisation",
                                  "type": "integer",
                                  "x-workday-type": "Numeric"
                                },
                                "subOrgId": {
                                  "example": "ID(s) of the sub organisation",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "subOrgName": {
                                  "example": "Name(s) of the direct sub organisation",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                },
                                "subType": {
                                  "example": "ID of the organisation type REN_SUPORG_SUBTYPE_XX",
                                  "type": "string",
                                  "x-workday-type": "Text"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
                            "description": "Error technical Code (can be different than the HTTP return code)",
                            "type": "string"
                          },
                          "errorLevel": {
                            "default": "info",
                            "description": "Criticity level of error",
                            "enum": [
                              "info",
                              "warning",
                              "error",
                              "critical"
                            ],
                            "type": "string"
                          },
                          "errorMessage": {
                            "description": "Message describing the error (Do not give too much information, to avoid security breach)",
                            "type": "string"
                          },
                          "errorType": {
                            "description": "Type of error",
                            "enum": [
                              "functional",
                              "technical"
                            ],
                            "type": "string"
                          },
                          "tips": {
                            "description": "Tips/help for adressing the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "errorCode",
                          "errorMessage"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "documentationUrl": {
                            "description": "Url of the documenation associated to the error",
                            "type": "string"
                          },
                          "errorCode": {
[...]
