{
  "openapi": "3.1.0",
  "info": {
    "title": "Breakreach API",
    "version": "1.1.0",
    "description": "Publish and schedule social media posts across Instagram, TikTok, X (Twitter), Reddit, LinkedIn, YouTube, Facebook, Threads, Bluesky, Pinterest, Telegram, Discord, Slack, Mastodon, WordPress, Ghost, Dev.to, Hashnode and Tumblr with one request shape.\n\nAuthenticate with an API key (create one in the Breakreach dashboard under Settings → API & MCP) sent as a Bearer token. Errors answer with an HTTP status and a JSON body { \"error\": \"<reason>\" }.\n\nEvery POST accepts an Idempotency-Key header: any unique string up to 255 characters, a UUID for instance. Retrying with the same key and the same body within 24 hours returns the first response, marked Idempotent-Replayed: true, instead of creating a second post. The same key with a different body answers 422, and 409 while the first request is still running. Errors are not kept, so a fixed request can reuse its key. Keys belong to the API key that sent them.\n\nAI agents can use the same capabilities through the hosted MCP server at https://api.breakreach.com/mcp (OAuth 2.1).",
    "x-jentic-source-url": "https://api.breakreach.com/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.breakreach.com"
    }
  ],
  "paths": {
    "/v1/workspaces": {
      "get": {
        "summary": "List workspaces",
        "operationId": "listWorkspaces",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspaces"
                  ],
                  "properties": {
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workspace"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      },
      "post": {
        "summary": "Create a workspace",
        "description": "Creates a workspace owned by the API key's user, with the default posting schedule. A workspace per end customer keeps their accounts, posts and connect links apart. Counts toward the plan's workspace limit (100 on the Developer plan).",
        "operationId": "createWorkspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Up to 80 characters"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "IANA timezone used to read scheduledAt, e.g. Europe/Paris (default UTC)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace"
                  ],
                  "properties": {
                    "workspace": {
                      "$ref": "#/components/schemas/Workspace"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or too long name, unknown timezone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "description": "Workspace limit of the plan reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyRunning"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyMismatch"
          }
        }
      }
    },
    "/v1/connect-links": {
      "post": {
        "summary": "Create a connect link",
        "description": "Creates a hosted page where someone without a Breakreach login (your end user, your client) connects social accounts into a workspace. Send them the url; they pick a network, authorize it, and come back to the page, then to redirectUrl when they click Done, with ?connected=<platforms>&workspace=<slug> appended. Accounts connected this way fire the account.connected webhook and count toward your plan. Only the workspace owner can create links.",
        "operationId": "createConnectLink",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workspace": {
                    "type": "string",
                    "description": "Workspace slug (optional, defaults to your first workspace)"
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "instagram",
                        "facebook",
                        "threads",
                        "tiktok",
                        "linkedin",
                        "youtube",
                        "x",
                        "pinterest",
                        "bluesky",
                        "reddit",
                        "telegram",
                        "discord",
                        "slack",
                        "mastodon",
                        "wordpress",
                        "ghost",
                        "devto",
                        "hashnode",
                        "tumblr"
                      ]
                    },
                    "description": "Networks offered on the page (default: all)"
                  },
                  "redirectUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Where the Done button sends them: https, or http on localhost"
                  },
                  "expiresInHours": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 168,
                    "description": "How long the link works (default 24)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "connectLink"
                  ],
                  "properties": {
                    "connectLink": {
                      "$ref": "#/components/schemas/ConnectLink"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown platform, invalid redirectUrl or expiresInHours",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyRunning"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyMismatch"
          }
        }
      }
    },
    "/v1/connect-links/{id}": {
      "get": {
        "summary": "Get a connect link",
        "description": "Its status (active, expired or revoked) and the accounts connected through it. The url is only returned when the link is created.",
        "operationId": "getConnectLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "connectLink"
                  ],
                  "properties": {
                    "connectLink": {
                      "$ref": "#/components/schemas/ConnectLink"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "description": "Connect link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Revoke a connect link",
        "description": "The page stops working at once. Accounts already connected through it stay connected.",
        "operationId": "revokeConnectLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "connectLink"
                  ],
                  "properties": {
                    "connectLink": {
                      "$ref": "#/components/schemas/ConnectLink"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "description": "Connect link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts": {
      "get": {
        "summary": "List connected social accounts",
        "description": "Returns the connected accounts of the workspace. Use the returned ids as accountIds when creating posts.",
        "operationId": "listAccounts",
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Workspace slug (defaults to your first workspace)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accounts"
                  ],
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "message": {
                      "type": "string",
                      "description": "Present only when no account is connected: explains how to connect one, with the link to the workspace settings"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts": {
      "get": {
        "summary": "List posts",
        "operationId": "listPosts",
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "published",
                "failed",
                "all"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "posts"
                  ],
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a post (schedule, publish now or save a draft)",
        "description": "Creates a post targeting one or several connected accounts. Provide scheduledAt (interpreted in the workspace timezone), or set useNextSlot to schedule at the next free slot of the workspace posting schedule, or publishNow to publish immediately. Set draft to save it for review in Breakreach without scheduling it: a draft needs no publish time (scheduledAt, if given, places it on the calendar), skips the media checks, and goes out only once it is scheduled, in the app or with PATCH /v1/posts/{id}. Media must be public URLs — use POST /v1/media first for reliable hosting. Media is required for Instagram, TikTok, YouTube and Pinterest. On Instagram one photo is a feed post, one video a Reel, and 2 to 10 files (photos and videos, in order) a carousel whose photos are all cropped to the first photo's shape. Facebook Pages take up to 10 photos in one post, or one video. LinkedIn posts one MP4 video alone, or turns 2 to 20 photos into a carousel (a PDF document, one page per photo, all cropped to the first photo's shape, titled with the first line), and posts a PDF URL as a document. Pinterest takes one image or one MP4/MOV video; an image sent with the video becomes its cover.",
        "operationId": "createPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content",
                  "accountIds"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "The post text. For Reddit, the first line becomes the title."
                  },
                  "accountIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Target account ids from GET /v1/accounts"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "description": "ISO datetime in the workspace timezone, e.g. 2026-09-20T11:00:00"
                  },
                  "publishNow": {
                    "type": "boolean"
                  },
                  "useNextSlot": {
                    "type": "boolean"
                  },
                  "draft": {
                    "type": "boolean",
                    "description": "Save as a draft for review instead of scheduling it. Can't be combined with publishNow"
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "workspace": {
                    "type": "string",
                    "description": "Workspace slug (optional)"
                  },
                  "pinterestBoardId": {
                    "type": "string",
                    "description": "Required when targeting Pinterest — see GET /v1/pinterest-boards"
                  },
                  "pinterestLink": {
                    "type": "string",
                    "format": "uri",
                    "description": "Destination URL of the pin (optional, http(s), up to 2,048 characters). The pin title is the first line of content"
                  },
                  "redditSubreddit": {
                    "type": "string",
                    "description": "Subreddit without r/ — defaults to the user profile"
                  },
                  "redditFlairText": {
                    "type": "string",
                    "description": "Post flair name when the subreddit requires one"
                  },
                  "articleSettings": {
                    "$ref": "#/components/schemas/ArticleSettings"
                  },
                  "tiktokSettings": {
                    "type": "object",
                    "properties": {
                      "privacyLevel": {
                        "type": "string",
                        "enum": [
                          "PUBLIC_TO_EVERYONE",
                          "MUTUAL_FOLLOW_FRIENDS",
                          "FOLLOWER_OF_CREATOR",
                          "SELF_ONLY"
                        ]
                      },
                      "disableComment": {
                        "type": "boolean"
                      },
                      "disableDuet": {
                        "type": "boolean"
                      },
                      "disableStitch": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "post"
                  ],
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/CreatedPost"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error: missing content, accountIds or publish time, an account outside the workspace, missing media or pinterestBoardId, invalid scheduledAt or pinterestLink",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found, or useNextSlot found no free slot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyRunning"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyMismatch"
          }
        }
      }
    },
    "/v1/posts/{id}": {
      "patch": {
        "summary": "Edit, schedule or move back to drafts",
        "description": "Edits a draft, scheduled or failed post. Only the fields you send change. Sending scheduledAt, useNextSlot or publishNow schedules the post: a draft goes out at that time, a failed post is retried. draft: true moves a scheduled post back to drafts so it won't publish. Published posts can't be edited.",
        "operationId": "updatePost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  },
                  "accountIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Replaces the target accounts"
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "Replaces the media"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "description": "ISO datetime in the workspace timezone, e.g. 2026-09-20T11:00:00"
                  },
                  "publishNow": {
                    "type": "boolean"
                  },
                  "useNextSlot": {
                    "type": "boolean"
                  },
                  "draft": {
                    "type": "boolean",
                    "description": "true moves the post back to drafts"
                  },
                  "workspace": {
                    "type": "string",
                    "description": "Workspace slug (optional)"
                  },
                  "pinterestBoardId": {
                    "type": "string"
                  },
                  "pinterestLink": {
                    "type": "string",
                    "format": "uri"
                  },
                  "redditSubreddit": {
                    "type": "string"
                  },
                  "redditFlairText": {
                    "type": "string"
                  },
                  "articleSettings": {
                    "$ref": "#/components/schemas/ArticleSettings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "post"
                  ],
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/CreatedPost"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Post already published, empty content or accountIds, draft combined with publishNow, missing media or pinterestBoardId once scheduled, invalid scheduledAt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Post or workspace not found, or useNextSlot found no free slot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a post (cancels scheduling)",
        "operationId": "deletePost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Post or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/media": {
      "post": {
        "summary": "Re-host a media URL on Breakreach storage",
        "description": "Downloads an image or video from a public URL and hosts it permanently, so it stays available for scheduled posts. Returns the hosted URL to use in POST /v1/posts.",
        "operationId": "uploadMedia",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or non-http(s) URL, or the media could not be downloaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyRunning"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyMismatch"
          }
        }
      }
    },
    "/v1/media/upload": {
      "post": {
        "summary": "Upload a local file to Breakreach storage",
        "description": "Hosts an image, video or PDF sent as multipart/form-data in a field named file (up to 100 MB): JPG, PNG, WebP, GIF, MP4, MOV, WebM or PDF, recognised by the file name's extension. Returns the hosted URL to use in POST /v1/posts. For a file already online, POST /v1/media takes its URL.",
        "operationId": "uploadMediaFile",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No file in a field named file, unsupported file type, or over 100 MB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/next-slot": {
      "get": {
        "summary": "Next free posting slot",
        "description": "Returns the earliest future time slot from the workspace posting schedule that has no post scheduled yet.",
        "operationId": "getNextSlot",
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "scheduledAt",
                    "timezone",
                    "utc"
                  ],
                  "properties": {
                    "scheduledAt": {
                      "type": "string",
                      "description": "Local time in the workspace timezone, to pass as scheduledAt"
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "utc": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found, no posting schedule configured, or no free slot in the next 14 days",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pinterest-boards": {
      "get": {
        "summary": "List Pinterest boards",
        "operationId": "listPinterestBoards",
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accountId",
                    "boards"
                  ],
                  "properties": {
                    "accountId": {
                      "type": "string"
                    },
                    "boards": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found, or no Pinterest account connected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Pinterest did not return the boards: reconnecting the account usually fixes it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics": {
      "get": {
        "summary": "Workspace analytics",
        "description": "Aggregated views, likes, comments and shares across the last 100 published posts, plus the top 10 posts by views.",
        "operationId": "getAnalytics",
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "totals",
                    "topPosts"
                  ],
                  "properties": {
                    "totals": {
                      "type": "object",
                      "required": [
                        "views",
                        "likes",
                        "comments",
                        "shares",
                        "posts"
                      ],
                      "properties": {
                        "views": {
                          "type": "number"
                        },
                        "likes": {
                          "type": "number"
                        },
                        "comments": {
                          "type": "number"
                        },
                        "shares": {
                          "type": "number"
                        },
                        "posts": {
                          "type": "integer"
                        }
                      }
                    },
                    "topPosts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "content",
                          "metrics"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "metrics": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "properties": {
                              "views": {
                                "type": "number"
                              },
                              "likes": {
                                "type": "number"
                              },
                              "comments": {
                                "type": "number"
                              },
                              "shares": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/stats": {
      "get": {
        "summary": "Account-level stats",
        "description": "Follower counts and account-level totals for every connected account, where the platform exposes them. Cached up to 1 hour.",
        "operationId": "getAccountStats",
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/post-insights": {
      "get": {
        "summary": "Post insights",
        "description": "Everything about one post on a connected account, including posts not published with Breakreach: content, every lifetime metric the platform exposes (views, reach, reactions by type, clicks, saves, watch time, retention curve...), comments, and a comparison with the account's average. accountId and postId (platform post id) come from /v1/performance.",
        "operationId": "getPostInsights",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Platform post id"
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Missing or invalid accountId, or missing postId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace, account or post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/trends": {
      "get": {
        "summary": "Daily account trends",
        "description": "Daily account-level insights over the last N days (max 90): Facebook Pages (views, engagement, total followers), Instagram (reach) and Threads (views), with a summary per account. Cached up to 1 hour.",
        "operationId": "getAccountTrends",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/{id}/metrics": {
      "get": {
        "summary": "Per-post metrics",
        "description": "Views, likes, comments and shares for one post, plus the platform post ids it published to.",
        "operationId": "getPostMetrics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Fetch fresh metrics from the platforms before answering, instead of the last stored ones"
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "status",
                    "publishedAt",
                    "metrics",
                    "perPlatform",
                    "error"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "publishedAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    },
                    "metrics": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "views": {
                          "type": "number"
                        },
                        "likes": {
                          "type": "number"
                        },
                        "comments": {
                          "type": "number"
                        },
                        "shares": {
                          "type": "number"
                        }
                      }
                    },
                    "perPlatform": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "accountId",
                          "platform",
                          "platformPostId"
                        ],
                        "properties": {
                          "accountId": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string"
                          },
                          "platformPostId": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Post or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/{id}/comments": {
      "get": {
        "summary": "Read comments on a published post",
        "description": "Live comments/replies from the platforms. Supported: Instagram, Facebook, Threads, X. Each comment carries the accountId and platform needed to reply. YouTube is not listed yet: its comments need a restricted Google permission (youtube.force-ssl) that is not available to every account.",
        "operationId": "getPostComments",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The post has no published platform ids yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Post or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/comments": {
      "get": {
        "summary": "Recent comments",
        "description": "Comments on the latest 10 posts of every connected Instagram, Facebook and Threads account, including posts not published with Breakreach, plus replies to X posts published with Breakreach. Newest first. Each comment carries the accountId and platform needed to reply. YouTube is not listed yet: its comments need a restricted Google permission (youtube.force-ssl) that is not available to every account.",
        "operationId": "listRecentComments",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "instagram",
                "facebook",
                "threads",
                "x"
              ]
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Unsupported platform or invalid accountId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/comments/reply": {
      "post": {
        "summary": "Reply to a comment",
        "description": "Replies to a comment on a published post. Supported: Instagram, Facebook, Threads, X. YouTube is not listed yet: its comments need a restricted Google permission (youtube.force-ssl) that is not available to every account.",
        "operationId": "replyToComment",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "platform",
                  "commentId",
                  "message"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "instagram",
                      "facebook",
                      "threads",
                      "x"
                    ]
                  },
                  "commentId": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "workspace": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Missing field or unsupported platform",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Account or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyRunning"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyMismatch"
          },
          "502": {
            "description": "The platform rejected the reply",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/performance": {
      "get": {
        "summary": "Content performance",
        "description": "Per-post views, likes, comments, shares and engagement rate over the last N days (max 365), with totals per platform. Covers all posts on connected Instagram, Facebook, Threads, X, YouTube and Bluesky accounts, including posts not made with Breakreach. Cached up to 1 hour.",
        "operationId": "getContentPerformance",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 30
            }
          },
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "views",
                "likes",
                "comments",
                "shares",
                "engagement"
              ],
              "default": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 25
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Rebuild from the platforms instead of the cache"
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inbox": {
      "get": {
        "summary": "List direct message conversations",
        "description": "Conversations on connected Facebook Pages (Messenger), Instagram and X accounts, newest first. Accounts whose messages can't be loaded are returned in errors with the reason.",
        "operationId": "listConversations",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "facebook",
                "instagram",
                "x"
              ]
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Unsupported platform or invalid accountId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inbox/{conversationId}/messages": {
      "get": {
        "summary": "Read a conversation",
        "description": "Messages of one conversation, oldest first. participantId is required for X.",
        "operationId": "getConversationMessages",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "participantId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Missing or invalid accountId, unsupported platform, or participantId missing for X",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Account or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "The platform did not return the messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Send a direct message",
        "description": "Replies in a conversation. Instagram and Messenger only accept replies within 24 hours of the person's last message. participantId is required for X.",
        "operationId": "sendDirectMessage",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId",
                  "message"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "participantId": {
                    "type": "string"
                  },
                  "workspace": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Missing message or accountId, unsupported platform, or participantId missing for X",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Account or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyRunning"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyMismatch"
          },
          "502": {
            "description": "The platform rejected the message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/comment-dm-rules": {
      "get": {
        "summary": "List Comment to DM rules",
        "description": "Comment to DM automations: when someone comments a keyword on a post of an Instagram account or a Facebook Page (or any post of it), Breakreach sends them a DM through a private reply (Instagram Direct, or Messenger from the Page), and optionally a public reply under the comment. Both networks allow one private reply per comment within 7 days of it, and Breakreach sends each person one DM per rule.",
        "operationId": "listCommentDmRules",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediaId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "rules"
                  ],
                  "properties": {
                    "rules": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CommentDmRule"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a Comment to DM rule",
        "description": "Starts watching the comments of the account (Breakreach subscribes it to Instagram's comment webhooks, or the Page's feed webhooks). Requires an active plan or trial on the workspace.",
        "operationId": "createCommentDmRule",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentDmRuleInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "rule"
                  ],
                  "properties": {
                    "rule": {
                      "$ref": "#/components/schemas/CommentDmRule"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid field, not an Instagram account or a Facebook Page, or the post isn't on this account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Account, post or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyRunning"
          },
          "422": {
            "$ref": "#/components/responses/IdempotencyMismatch"
          },
          "502": {
            "description": "Instagram refused to read the account or to send its comments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/comment-dm-rules/media": {
      "get": {
        "summary": "Latest posts of an Instagram account or a Facebook Page",
        "description": "The account's latest posts with their ids, to pick the mediaId of a rule.",
        "operationId": "listCommentDmMedia",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 24
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Not an Instagram account or a Facebook Page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "The network did not return the posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/comment-dm-rules/{id}": {
      "patch": {
        "summary": "Update a Comment to DM rule",
        "description": "Only the fields given change. active false pauses the rule; mediaId null makes it watch every post.",
        "operationId": "updateCommentDmRule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentDmRuleInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "rule"
                  ],
                  "properties": {
                    "rule": {
                      "$ref": "#/components/schemas/CommentDmRule"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Rule or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Comment to DM rule",
        "description": "Deletes the rule with its activity.",
        "operationId": "deleteCommentDmRule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Rule or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/comment-dm-rules/{id}/events": {
      "get": {
        "summary": "Activity of a Comment to DM rule",
        "description": "Comments that matched the rule, newest first, kept 90 days: sent, failed (with the reason) or skipped. The same outcomes are pushed to webhooks subscribed to comment_dm.sent and comment_dm.failed.",
        "operationId": "listCommentDmEvents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "events"
                  ],
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CommentDmEvent"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Rule or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/dm-automations": {
      "get": {
        "summary": "List DM automations",
        "description": "DM automations: when someone DMs a keyword, mentions the account in their story, replies to a story or opens a ref link, Breakreach answers in Instagram Direct (or Messenger for a Facebook Page) and walks a flow of messages, waits, conditions and handoffs for that person. Replies only go out within Meta's 24-hour window after the person's last message; a person is in one flow at a time, and someone answering by hand stops it.",
        "operationId": "listDmAutomations",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "automations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DmAutomation"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a DM automation",
        "description": "Subscribes the account to Meta's message webhooks and starts answering. Requires an active plan or trial on the workspace.",
        "operationId": "createDmAutomation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DmAutomationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "automation": {
                      "$ref": "#/components/schemas/DmAutomation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid trigger or step (the message says which), or not an Instagram account or a Facebook Page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Account or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Meta refused to subscribe the account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/dm-automations/{id}": {
      "patch": {
        "summary": "Update a DM automation",
        "description": "Only the fields given change; steps replaces the whole flow (keep the ids of unchanged steps so people in the flow carry on). active false pauses it and stops the people in it.",
        "operationId": "updateDmAutomation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DmAutomationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "automation": {
                      "$ref": "#/components/schemas/DmAutomation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Automation or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a DM automation",
        "description": "Deletes the automation with its runs; people in the flow stop.",
        "operationId": "deleteDmAutomation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Automation or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/dm-automations/{id}/runs": {
      "get": {
        "summary": "Runs of a DM automation",
        "description": "Each person who went through it, newest first, kept 90 days: every step sent, choices tapped, clicks, and how it ended. Webhooks subscribed to dm_automation.started, dm_automation.handoff, dm_automation.finished and dm_automation.failed get the same events as they happen.",
        "operationId": "listDmAutomationRuns",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "runs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DmAutomationRun"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Automation or workspace not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key from the Breakreach dashboard (br_...) or an OAuth access token (bro_...)"
      }
    },
    "schemas": {
      "Post": {
        "type": "object",
        "required": [
          "id",
          "content",
          "status",
          "scheduledAt",
          "accountIds",
          "media",
          "metrics",
          "error"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "scheduled",
              "publishing",
              "published",
              "failed"
            ]
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time"
          },
          "accountIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "media": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "metrics": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "views": {
                "type": "number"
              },
              "likes": {
                "type": "number"
              },
              "comments": {
                "type": "number"
              },
              "shares": {
                "type": "number"
              }
            }
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "Human-readable failure reason when status is failed"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "platform",
          "displayName"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "enum": [
              "instagram",
              "tiktok",
              "x",
              "reddit",
              "linkedin",
              "youtube",
              "facebook",
              "threads",
              "bluesky",
              "pinterest",
              "telegram",
              "discord",
              "slack",
              "mastodon",
              "wordpress",
              "ghost",
              "devto",
              "hashnode",
              "tumblr"
            ]
          },
          "displayName": {
            "type": "string"
          },
          "warning": {
            "type": "string",
            "description": "Present when the account's authorization has expired, was revoked on the network's side, or expires soon (LinkedIn lasts about 60 days): the user must reconnect it in Breakreach settings"
          }
        }
      },
      "Workspace": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "timezone"
        ],
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "ArticleSettings": {
        "type": "object",
        "description": "Options for the blog networks (Dev.to, Hashnode, Ghost, Tumblr). On Dev.to, Hashnode and Ghost the first line of content is the title and the rest the body, in Markdown; the first photo is the cover",
        "properties": {
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dev.to keeps the first 4 (letters and digits), Hashnode 15, Ghost and Tumblr up to 30"
          },
          "canonicalUrl": {
            "type": "string",
            "format": "uri",
            "description": "Where the article was first published, when this is a copy (Dev.to, Hashnode, Ghost)"
          },
          "asDraft": {
            "type": "boolean",
            "description": "Create it as an unpublished draft on the blog instead of publishing it"
          },
          "newsletter": {
            "type": "string",
            "description": "Ghost: also email the post with this newsletter (its slug, or \"default\" for the site's first active one)"
          },
          "emailSegment": {
            "type": "string",
            "enum": [
              "all",
              "status:free",
              "status:-free"
            ],
            "description": "Ghost newsletter: who gets the email (default all members)"
          },
          "aiDisclosure": {
            "type": "string",
            "enum": [
              "no_ai",
              "some_ai",
              "fully_autonomous"
            ],
            "description": "Dev.to: how much AI wrote the article (Dev.to asks API clients to say so accurately)"
          }
        }
      },
      "CreatedPost": {
        "type": "object",
        "required": [
          "id",
          "status",
          "scheduledAt",
          "accounts"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "scheduled",
              "publishing"
            ],
            "description": "publishing when publishNow was set, draft when draft was set"
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "description": "Publish time, in UTC"
          },
          "accounts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Target accounts as \"platform (display name)\", e.g. \"instagram (Acme)\""
          }
        }
      },
      "ConnectLink": {
        "type": "object",
        "required": [
          "id",
          "workspace",
          "platforms",
          "redirectUrl",
          "expiresAt",
          "status",
          "connected"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The page to send, only returned at creation"
          },
          "workspace": {
            "type": "string",
            "description": "Workspace slug"
          },
          "platforms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "redirectUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "expired",
              "revoked"
            ]
          },
          "connected": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "accountId",
                "platform",
                "displayName",
                "connectedAt"
              ],
              "properties": {
                "accountId": {
                  "type": "string"
                },
                "platform": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "connectedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "CommentDmRule": {
        "type": "object",
        "required": [
          "id",
          "accountId",
          "platform",
          "mediaId",
          "media",
          "keywords",
          "match",
          "dmText",
          "publicReplies",
          "active",
          "stats",
          "lastTriggeredAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "enum": [
              "instagram",
              "facebook"
            ]
          },
          "account": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string"
              },
              "avatarUrl": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "mediaId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The Instagram or Facebook post the rule watches; null = every post of the account"
          },
          "media": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "caption": {
                "type": "string"
              },
              "thumbnailUrl": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "permalink": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "timestamp": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              }
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Empty = every comment triggers the rule"
          },
          "match": {
            "type": "string",
            "enum": [
              "contains",
              "exact"
            ]
          },
          "dmText": {
            "type": "string"
          },
          "publicReplies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "active": {
            "type": "boolean"
          },
          "stats": {
            "type": "object",
            "properties": {
              "triggered": {
                "type": "integer"
              },
              "sent": {
                "type": "integer"
              },
              "failed": {
                "type": "integer"
              }
            }
          },
          "lastTriggeredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
[...]
