{
  "openapi": "3.0.3",
  "info": {
    "title": "META5M Wallet API",
    "description": "REST API for META5M wallet management, blockchain operations, and gasless payments.\n\nThis API provides endpoints for:\n- Wallet creation and management\n- Native cryptocurrency transfers\n- ERC-20 token operations\n- Smart contract interactions\n- EIP-712 typed data signing\n- Gasless payment flows\n\n## Authentication\nAll endpoints (except wallet creation) require JWT authentication. Include the token in the Authorization header:\n```\nAuthorization: Bearer <your-jwt-token>\n```\n\n## Base URL\nProduction: `https://wallet.meta5m.com`\n",
    "version": "1.0.0",
    "contact": {
      "name": "META5M Wallet API",
      "url": "https://wallet.meta5m.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DOME_1/meta5m-wallet-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://wallet.meta5m.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v2/send-native": {
      "post": {
        "tags": [
          "Token Operations"
        ],
        "summary": "Send native tokens",
        "description": "Send native cryptocurrency (ETH, BNB, etc.) to another address.\n\nThe wallet information (address, daccPublickey, passwordSecretkey) is automatically retrieved from the authenticated user's profile.\n\n**Required Authentication:** JWT Bearer Token\n",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendNativeRequest"
              },
              "examples": {
                "ethereum": {
                  "summary": "Send 0.01 ETH on Ethereum",
                  "value": {
                    "to": "0x742d35Cc6634C0532925a3b8D4C9db96C4b4Db45",
                    "amount": "0.01",
                    "chainid": "1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Native tokens sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendNativeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters or insufficient funds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/send-token": {
      "post": {
        "tags": [
          "Token Operations"
        ],
        "summary": "Send ERC-20 tokens",
        "description": "Send ERC-20 tokens to another address.\n\nThe wallet information is automatically retrieved from the authenticated user's profile.\n\n**Required Authentication:** JWT Bearer Token\n",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTokenRequest"
              },
              "examples": {
                "usdc": {
                  "summary": "Send 100 USDC tokens",
                  "value": {
                    "to": "0x742d35Cc6634C0532925a3b8D4C9db96C4b4Db45",
                    "amount": "100",
                    "chainid": "1",
                    "tokenAddress": "0xA0b86a33E6441b8e8C7C7b0b8e8e8e8e8e8e8e8e",
                    "symbol": "USDC",
                    "decimals": 6
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters or insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/balance-native": {
      "post": {
        "tags": [
          "Balance Operations"
        ],
        "summary": "Get native token balance",
        "description": "Check the native cryptocurrency balance for the authenticated user's wallet.\n\nThe wallet address is automatically retrieved from the authenticated user's profile.\n\n**Required Authentication:** JWT Bearer Token\n",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceNativeRequest"
              },
              "examples": {
                "ethereum": {
                  "summary": "Check ETH balance on Ethereum",
                  "value": {
                    "chainid": "1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceNativeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid chain ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/balance-token": {
      "post": {
        "tags": [
          "Balance Operations"
        ],
        "summary": "Get ERC-20 token balance",
        "description": "Check the ERC-20 token balance for the authenticated user's wallet.\n\nThe wallet address is automatically retrieved from the authenticated user's profile.\n\n**Required Authentication:** JWT Bearer Token\n",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceTokenRequest"
              },
              "examples": {
                "usdc": {
                  "summary": "Check USDC token balance",
                  "value": {
                    "chainid": "1",
                    "tokenAddress": "0xA0b86a33E6441b8e8C7C7b0b8e8e8e8e8e8e8e8e"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/write-contract": {
      "post": {
        "tags": [
          "Smart Contract"
        ],
        "summary": "Execute smart contract function",
        "description": "Write to a smart contract by calling a function with optional parameters.\n\nThe wallet information is automatically retrieved from the authenticated user's profile.\n\n**Required Authentication:** JWT Bearer Token\n",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WriteContractRequest"
              },
              "examples": {
                "simpleCall": {
                  "summary": "Call a simple contract function",
                  "value": {
                    "chainid": "1",
                    "contractAddress": "0x1234567890123456789012345678901234567890",
                    "functionName": "setValue",
                    "abi": [
                      {
                        "type": "function",
                        "name": "setValue",
                        "inputs": [
                          {
                            "name": "value",
                            "type": "uint256"
                          }
                        ],
                        "outputs": []
                      }
                    ],
                    "args": [
                      42
                    ],
                    "value": "0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract function executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteContractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid contract address or function parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sign-typed-data": {
      "post": {
        "tags": [
          "Signing"
        ],
        "summary": "Sign EIP-712 typed data",
        "description": "Sign structured data using the EIP-712 standard.\n\nThe wallet information is automatically retrieved from the authenticated user's profile.\n\n**Required Authentication:** JWT Bearer Token\n",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignTypedDataRequest"
              },
              "examples": {
                "permit": {
                  "summary": "Sign EIP-712 permit data",
                  "value": {
                    "chainid": "1",
                    "domain": {
                      "name": "MyToken",
                      "version": "1",
                      "chainId": 1,
                      "verifyingContract": "0x1234567890123456789012345678901234567890"
                    },
                    "types": {
                      "Permit": [
                        {
                          "name": "owner",
                          "type": "address"
                        },
                        {
                          "name": "spender",
                          "type": "address"
                        },
                        {
                          "name": "value",
                          "type": "uint256"
                        },
                        {
                          "name": "nonce",
                          "type": "uint256"
                        },
                        {
                          "name": "deadline",
                          "type": "uint256"
                        }
                      ]
                    },
                    "primaryType": "Permit",
                    "message": {
                      "owner": "0x742d35Cc6634C0532925a3b8D4C9db96C4b4Db45",
                      "spender": "0x8ba1f109551bD432803012645Hac136c",
                      "value": "1000000000000000000",
                      "nonce": "0",
                      "deadline": "1640995200"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data signed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignTypedDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid EIP-712 data structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/payment/create": {
      "post": {
        "tags": [
          "Gasless Payment"
        ],
        "summary": "Create payment authorization",
        "description": "Create an EIP-712 signature for gasless token transfer using receiveWithAuthorization.\n\nThis endpoint creates a signed authorization that can be used by a gas sponsor to execute\na token transfer on behalf of the user without requiring gas fees from the user.\n\nThe wallet information is automatically retrieved from the authenticated user's profile.\n\n**Required Authentication:** JWT Bearer Token\n",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              },
              "examples": {
                "tokenPayment": {
                  "summary": "Create gasless payment authorization",
                  "value": {
                    "chainid": "1",
                    "tokenContract": "0x4fC21396Eb21406dC96aD322de734d8D5448cfdC",
                    "tokenName": "FiveM Token",
                    "value": "1000000000000000000",
                    "to": "0x742d35Cc6634C0532925a3b8D4C9db96C4b4Db45",
                    "decimals": 18,
                    "validAfter": 1699123456,
                    "validBefore": 1699127056
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment authorization created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid payment parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/pay/send": {
      "post": {
        "tags": [
          "Gasless Payment"
        ],
        "summary": "Execute gasless payment",
        "description": "Execute a gasless payment transaction via gas sponsor wallet.\n\nThis endpoint takes a previously created authorization (from /api/v2/payment/create)\nand executes the actual token transfer using a gas sponsor wallet.\n\nThe wallet information is automatically retrieved from the authenticated user's profile.\n\n**Required Authentication:** JWT Bearer Token\n",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutePaymentRequest"
              },
              "examples": {
                "executePayment": {
                  "summary": "Execute gasless payment",
                  "value": {
                    "chainid": "1",
                    "contractAddress": "0x4fC21396Eb21406dC96aD322de734d8D5448cfdC",
                    "authData": {
                      "from": "0x3c9127aafc932CF54d70c0EF5f48C3DaA9Ac9809",
                      "to": "0x742d35Cc6634C0532925a3b8D4C9db96C4b4Db45",
                      "value": "1000000000000000000",
                      "validAfter": "1699123456",
                      "validBefore": "1699127056",
                      "nonce": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890",
                      "v": 27,
                      "r": "0x2a8de50e840e89c108228d70d2b58820ecc475e575225ec0f647adb84887a623",
                      "s": "0x384b48383c84bc6562a28565db5abd7696bae3db2a564a664061feb8e2687eda1c"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutePaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid authorization or execution failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendNativeRequest": {
        "type": "object",
        "required": [
          "to",
          "amount",
          "chainid"
        ],
        "properties": {
          "to": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Recipient wallet address",
            "example": "0x742d35Cc6634C0532925a3b8D4C9db96C4b4Db45"
          },
          "amount": {
            "type": "string",
            "description": "Amount of native tokens to send (in ether units)",
            "example": "0.01"
          },
          "chainid": {
            "type": "string",
            "description": "Blockchain chain ID",
            "example": "1"
          }
        }
      },
      "SendNativeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "transactionHash": {
                "type": "string",
                "description": "Transaction hash on the blockchain",
                "example": "0xabc123def456789012345678901234567890123456789012345678901234567890"
              },
              "from": {
                "type": "string",
                "description": "Sender wallet address (retrieved from authenticated user)",
                "example": "0x3c9127aafc932CF54d70c0EF5f48C3DaA9Ac9809"
              },
              "to": {
                "type": "string",
                "description": "Recipient wallet address",
                "example": "0x742d35Cc6634C0532925a3b8D4C9db96C4b4Db45"
              },
              "amount": {
                "type": "string",
                "description": "Amount sent",
                "example": "0.01"
              },
              "network": {
                "type": "string",
                "description": "Network name",
                "example": "Ethereum"
              },
              "chainId": {
                "type": "string",
                "description": "Chain ID used for the transaction",
                "example": "1"
              }
            }
          }
        }
      },
      "SendTokenRequest": {
        "type": "object",
        "required": [
          "to",
          "amount",
          "chainid",
          "tokenAddress"
        ],
        "properties": {
          "to": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Recipient wallet address",
            "example": "0x742d35Cc6634C0532925a3b8D4C9db96C4b4Db45"
          },
          "amount": {
            "type": "string",
            "description": "Amount of tokens to send",
            "example": "100"
          },
          "chainid": {
            "type": "string",
            "description": "Blockchain chain ID",
            "example": "1"
          },
          "tokenAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "ERC-20 token contract address",
            "example": "0xA0b86a33E6441b8e8C7C7b0b8e8e8e8e8e8e8e8e"
          },
          "symbol": {
            "type": "string",
            "description": "Token symbol (optional)",
            "example": "USDC"
          },
          "decimals": {
            "type": "integer",
            "description": "Token decimals (optional, defaults to 6)",
            "default": 6,
            "example": 6
          }
        }
      },
      "SendTokenResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "transactionHash": {
                "type": "string",
                "description": "Transaction hash on the blockchain",
                "example": "0xabc123def456789012345678901234567890123456789012345678901234567890"
              },
              "from": {
                "type": "string",
                "description": "Sender wallet address",
                "example": "0x3c9127aafc932CF54d70c0EF5f48C3DaA9Ac9809"
              },
              "to": {
                "type": "string",
                "description": "Recipient wallet address",
                "example": "0x742d35Cc6634C0532925a3b8D4C9db96C4b4Db45"
              },
              "amount": {
                "type": "string",
                "description": "Amount of tokens sent",
                "example": "100"
              },
              "tokenAddress": {
                "type": "string",
                "description": "Token contract address",
                "example": "0xA0b86a33E6441b8e8C7C7b0b8e8e8e8e8e8e8e8e"
              },
              "symbol": {
                "type": "string",
                "description": "Token symbol",
                "example": "USDC"
              },
              "network": {
                "type": "string",
                "description": "Network name",
                "example": "Ethereum"
              },
              "chainId": {
                "type": "string",
                "description": "Chain ID used for the transaction",
                "example": "1"
              }
            }
          }
        }
      },
      "BalanceNativeRequest": {
        "type": "object",
        "required": [
          "chainid"
        ],
        "properties": {
          "chainid": {
            "type": "string",
            "description": "Blockchain chain ID",
            "example": "1"
          }
        }
      },
      "BalanceNativeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "walletAddress": {
                "type": "string",
                "description": "Wallet address (retrieved from authenticated user)",
                "example": "0x3c9127aafc932CF54d70c0EF5f48C3DaA9Ac9809"
              },
              "balance": {
                "type": "string",
                "description": "Balance in wei",
                "example": "1000000000000000000"
              },
              "balanceInEth": {
                "type": "string",
                "description": "Balance in ether units",
                "example": "1.0"
              },
              "network": {
                "type": "string",
                "description": "Network name",
                "example": "Ethereum"
              },
              "chainId": {
                "type": "string",
                "description": "Chain ID",
                "example": "1"
              }
            }
          }
        }
      },
      "BalanceTokenRequest": {
        "type": "object",
        "required": [
          "chainid",
          "tokenAddress"
        ],
        "properties": {
          "chainid": {
            "type": "string",
            "description": "Blockchain chain ID",
            "example": "1"
          },
          "tokenAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "ERC-20 token contract address",
            "example": "0xA0b86a33E6441b8e8C7C7b0b8e8e8e8e8e8e8e8e"
          }
        }
      },
      "BalanceTokenResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "walletAddress": {
                "type": "string",
                "description": "Wallet address (retrieved from authenticated user)",
                "example": "0x3c9127aafc932CF54d70c0EF5f48C3DaA9Ac9809"
              },
              "tokenAddress": {
                "type": "string",
                "description": "Token contract address",
                "example": "0xA0b86a33E6441b8e8C7C7b0b8e8e8e8e8e8e8e8e"
              },
              "tokenName": {
                "type": "string",
                "description": "Token name",
                "example": "USD Coin"
              },
              "symbol": {
                "type": "string",
                "description": "Token symbol",
                "example": "USDC"
              },
              "decimals": {
                "type": "integer",
                "description": "Token decimals",
                "example": 6
              },
              "balance": {
                "type": "string",
                "description": "Balance in smallest token units",
                "example": "100000000"
              },
              "balanceInTokens": {
                "type": "string",
                "description": "Balance in human-readable token units",
                "example": "100.0"
              },
              "network": {
                "type": "string",
                "description": "Network name",
                "example": "Ethereum"
              },
              "chainId": {
                "type": "string",
                "description": "Chain ID",
                "example": "1"
              }
            }
          }
        }
      },
      "WriteContractRequest": {
        "type": "object",
        "required": [
          "chainid",
          "contractAddress",
          "functionName",
          "abi",
          "args"
        ],
        "properties": {
          "chainid": {
            "type": "string",
            "description": "Blockchain chain ID",
            "example": "1"
          },
          "contractAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Smart contract address",
            "example": "0x1234567890123456789012345678901234567890"
          },
          "functionName": {
            "type": "string",
            "description": "Name of the function to call",
            "example": "setValue"
          },
          "abi": {
            "type": "array",
            "description": "Contract ABI array",
            "items": {
              "type": "object"
            },
            "example": [
              {
                "type": "function",
                "name": "setValue",
                "inputs": [
                  {
                    "name": "value",
                    "type": "uint256"
                  }
                ],
                "outputs": []
              }
            ]
          },
          "args": {
            "type": "array",
            "description": "Function arguments",
            "items": {
              "type": "object"
            },
            "example": [
              42
            ]
          },
          "value": {
            "type": "string",
            "description": "Native currency to send with transaction (in ether)",
            "default": "0",
            "example": "0.1"
          }
        }
      },
      "WriteContractResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "transactionHash": {
                "type": "string",
                "description": "Transaction hash on the blockchain",
                "example": "0xabc123def456789012345678901234567890123456789012345678901234567890"
              },
              "from": {
                "type": "string",
                "description": "Sender wallet address",
                "example": "0x3c9127aafc932CF54d70c0EF5f48C3DaA9Ac9809"
              },
              "to": {
                "type": "string",
                "description": "Contract address",
                "example": "0x1234567890123456789012345678901234567890"
              },
              "functionName": {
                "type": "string",
                "description": "Function name that was called",
                "example": "setValue"
              },
              "args": {
                "type": "array",
                "description": "Function arguments that were passed",
                "items": {
                  "type": "object"
                },
                "example": [
                  42
                ]
              },
              "value": {
                "type": "string",
                "description": "Native currency sent with transaction",
                "example": "0.1"
              },
              "network": {
                "type": "string",
                "description": "Network name",
                "example": "Ethereum"
              },
              "chainId": {
                "type": "string",
                "description": "Chain ID used for the transaction",
                "example": "1"
              }
            }
          }
        }
      },
      "SignTypedDataRequest": {
        "type": "object",
        "required": [
          "chainid",
          "domain",
          "types",
          "primaryType",
          "message"
        ],
        "properties": {
          "chainid": {
            "type": "string",
            "description": "Blockchain chain ID",
            "example": "1"
          },
          "domain": {
            "type": "object",
            "description": "EIP-712 domain object",
            "example": {
              "name": "Ether Mail",
              "version": "1",
              "chainId": 1,
              "verifyingContract": "0xCcCCccccCCCCcCCCCCCcCcCccCcCCCcCcccccccC"
            }
          },
          "types": {
            "type": "object",
            "description": "EIP-712 types definition",
            "example": {
              "Person": [
                {
                  "name": "name",
                  "type": "string"
                },
                {
                  "name": "wallet",
                  "type": "address"
                }
              ],
              "Mail": [
                {
                  "name": "from",
                  "type": "Person"
                },
                {
                  "name": "to",
                  "type": "Person"
                },
                {
                  "name": "contents",
                  "type": "string"
                }
              ]
            }
          },
          "primaryType": {
            "type": "string",
            "description": "Primary type for the message",
            "example": "Mail"
          },
          "message": {
            "type": "object",
            "description": "Message data to sign",
            "example": {
              "from": {
                "name": "Cow",
                "wallet": "0xCD2a3d9F938E13CD947Ec05AbC7FE734Df8DD826"
              },
              "to": {
                "name": "Bob",
                "wallet": "0xbBbBBBBbbBBBbbbBbbBbbbbBBbBbbbbBbBbbBBbB"
              },
              "contents": "Hello, Bob!"
            }
          }
        }
      },
      "SignTypedDataResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string",
                "description": "EIP-712 signature",
                "example": "0x4355c47d63924e8a72e509b65029052eb6c50d03c9cf9e8a8c5d4b8b4b4b4b4b"
              },
              "domain": {
                "type": "object",
                "description": "EIP-712 domain object from request"
              },
              "types": {
                "type": "object",
                "description": "EIP-712 types from request"
              },
              "primaryType": {
                "type": "string",
                "description": "Primary type from request",
                "example": "Mail"
              },
              "message": {
                "type": "object",
                "description": "Message data from request"
              },
              "address": {
                "type": "string",
                "description": "Signing address (retrieved from authenticated user)",
                "example": "0x3c9127aafc932CF54d70c0EF5f48C3DaA9Ac9809"
              },
              "network": {
                "type": "string",
                "description": "Network name",
                "example": "Ethereum"
              },
              "chainId": {
                "type": "string",
                "description": "Chain ID used for signing",
                "example": "1"
              }
            }
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "chainid",
          "tokenContract",
          "tokenName",
          "value",
          "to"
        ],
        "properties": {
          "chainid": {
            "type": "string",
            "description": "Blockchain chain ID",
            "example": "1"
          },
          "tokenContract": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Token contract address",
            "example": "0x4fC21396Eb21406dC96aD322de734d8D5448cfdC"
          },
          "tokenName": {
            "type": "string",
            "description": "Token name for EIP-712 domain",
            "example": "FiveM Token"
          },
          "value": {
            "type": "string",
            "description": "Value in human-readable units (will be converted to wei)",
            "example": "1.0"
          },
          "to": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Recipient address",
            "example": "0x742d35Cc6634C0532925a3b8D4C9db96C4b4Db45"
          },
          "decimals": {
            "type": "integer",
            "description": "Token decimals for value conversion",
            "default": 18,
            "example": 18
          },
          "validAfter": {
            "type": "integer",
            "description": "Unix timestamp when authorization becomes valid",
            "default": 1699123456
          },
          "validBefore": {
            "type": "integer",
            "description": "Unix timestamp when authorization expires",
            "default": 1699127056
          }
        }
      },
      "CreatePaymentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string",
                "description": "Combined EIP-712 signature",
                "example": "0x2a8de50e840e89c108228d70d2b58820ecc475e575225ec0f647adb84887a623384b48383c84bc6562a28565db5abd7696bae3db2a564a664061feb8e2687eda1c"
              },
              "signatureComponents": {
                "type": "object",
                "properties": {
                  "v": {
                    "type": "integer",
                    "description": "Recovery ID",
                    "example": 27
                  },
                  "r": {
                    "type": "string",
                    "description": "First 32 bytes of signature",
                    "example": "0x2a8de50e840e89c108228d70d2b58820ecc475e575225ec0f647adb84887a623"
                  },
                  "s": {
                    "type": "string",
                    "description": "Second 32 bytes of signature",
                    "example": "0x384b48383c84bc6562a28565db5abd7696bae3db2a564a664061feb8e2687eda1c"
                  }
                }
              },
              "authData": {
                "type": "object",
                "description": "Authorization data for receiveWithAuthorization",
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "Sender address (retrieved from authenticated user)",
                    "example": "0x3c9127aafc932CF54d70c0EF5f48C3DaA9Ac9809"
                  },
                  "to": {
                    "type": "string",
                    "description": "Recipient address",
                    "example": "0x742d35Cc6634C0532925a3b8D4C9db96C4b4Db45"
                  },
                  "value": {
                    "type": "string",
                    "description": "Value in wei",
                    "example": "1000000000000000000"
                  },
                  "validAfter": {
                    "type": "string",
                    "description": "Authorization valid after timestamp",
                    "example": "1699123456"
                  },
                  "validBefore": {
                    "type": "string",
                    "description": "Authorization valid before timestamp",
                    "example": "1699127056"
                  },
                  "nonce": {
                    "type": "string",
                    "description": "Unique nonce for the authorization",
                    "example": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                  },
                  "v": {
                    "type": "integer",
                    "description": "Recovery ID",
                    "example": 27
                  },
                  "r": {
                    "type": "string",
                    "description": "First 32 bytes of signature",
                    "example": "0x2a8de50e840e89c108228d70d2b58820ecc475e575225ec0f647adb84887a623"
                  },
                  "s": {
                    "type": "string",
                    "description": "Second 32 bytes of signature",
                    "example": "0x384b48383c84bc6562a28565db5abd7696bae3db2a564a664061feb8e2687eda1c"
                  }
                }
              }
            }
          }
        }
      },
      "ExecutePaymentRequest": {
        "type": "object",
        "required": [
          "chainid",
          "contractAddress",
          "authData"
        ],
        "properties": {
          "chainid": {
            "type": "string",
            "description": "Blockchain chain ID",
            "example": "1"
          },
          "contractAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Token contract address",
            "example": "0x4fC21396Eb21406dC96aD322de734d8D5448cfdC"
          },
          "authData": {
            "type": "object",
            "required": [
              "from",
              "to",
              "value",
              "validAfter",
              "validBefore",
              "nonce",
              "v",
              "r",
              "s"
            ],
            "description": "Authorization data returned from payment/create endpoint",
            "properties": {
              "from": {
                "type": "string",
                "description": "Sender address",
                "example": "0x3c9127aafc932CF54d70c0EF5f48C3DaA9Ac9809"
              },
              "to": {
                "type": "string",
                "description": "Recipient address",
                "example": "0x742d35Cc6634C0532925a3b8D4C9db96C4b4Db45"
              },
              "value": {
                "type": "string",
                "description": "Value in wei",
                "example": "1000000000000000000"
              },
              "validAfter": {
                "type": "string",
                "description": "Authorization valid after timestamp",
                "example": "1699123456"
              },
              "validBefore": {
                "type": "string",
                "description": "Authorization valid before timestamp",
                "example": "1699127056"
              },
              "nonce": {
                "type": "string",
                "description": "Unique nonce for the authorization",
                "example": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
              },
              "v": {
                "type": "integer",
                "description": "Recovery ID",
                "example": 27
              },
              "r": {
                "type": "string",
                "description": "First 32 bytes of signature",
                "example": "0x2a8de50e840e89c108228d70d2b58820ecc475e575225ec0f647adb84887a623"
              },
              "s": {
                "type": "string",
                "description": "Second 32 bytes of signature",
                "example": "0x384b48383c84bc6562a28565db5abd7696bae3db2a564a664061feb8e2687eda1c"
              }
            }
          }
        }
      },
      "ExecutePaymentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "transactionHash": {
                "type": "string",
                "description": "Transaction hash on the blockchain",
                "example": "0x8001e02f74cbc2d3f5b95d1a5a1a036b749c73f82d78780c8556ce0bd1e54546"
              },
              "from": {
                "type": "string",
                "description": "Gas sponsor address that executed the transaction",
                "example": "0x1234567890123456789012345678901234567890"
              },
              "to": {
                "type": "string",
                "description": "Token contract address",
                "example": "0x4fC21396Eb21406dC96aD322de734d8D5448cfdC"
              },
              "contractAddress": {
                "type": "string",
                "description": "Token contract address",
                "example": "0x4fC21396Eb21406dC96aD322de734d8D5448cfdC"
              },
              "value": {
                "type": "string",
                "description": "Value transferred",
                "example": "1000000000000000000"
              },
              "gasUsed": {
                "type": "string",
                "description": "Gas used for the transaction",
                "example": "52134"
              },
              "network": {
                "type": "string",
                "description": "Network name",
                "example": "Ethereum"
              },
              "chainId": {
                "type": "string",
                "description": "Chain ID used for the transaction",
                "example": "1"
              },
              "functionName": {
                "type": "string",
                "description": "Function that was called",
                "example": "receiveWithAuthorization"
              },
              "authData": {
                "type": "object",
                "description": "Authorization data that was used"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Human-readable error message",
                "example": "Invalid recipient address format"
              },
              "code": {
                "type": "string",
                "description": "Machine-readable error code",
                "example": "SEND_NATIVE_FAILED"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT authentication token obtained from the authentication system.\nInclude the token in the Authorization header: `Bearer <token>`\n"
      }
    }
  },
  "tags": [
    {
      "name": "Token Operations",
      "description": "Native and ERC-20 token transfers"
    },
    {
      "name": "Balance Operations",
      "description": "Token balance queries"
    },
    {
      "name": "Smart Contract",
      "description": "Smart contract interactions"
    },
    {
      "name": "Signing",
      "description": "EIP-712 typed data signing"
    },
    {
      "name": "Gasless Payment",
      "description": "Gasless payment flow with authorization"
    }
  ]
}