{
  "openapi": "3.0.3",
  "info": {
    "title": "Emailchaser API",
    "version": "1.0",
    "description": "The Emailchaser REST API: campaigns, leads, sender emails, replies and webhooks for automating cold email outreach.\n\n**Authentication.** Every endpoint takes an API key as `Authorization: Bearer <API key>`. Keys are created per workspace in the Emailchaser app and can be revoked at any time.\n\n**Scopes.** A key is either read-only (`read`) or read and write (`read_write`), with nothing in between. A read-only key can call every GET endpoint plus four POSTs that buy and send nothing (`/audience/size`, `/setup/ping`, `/dfy/domains/check`, and `/lead-finder/searches`, which still uses the account's daily Lead Finder browsing allowance); every other call answers 403. A read and write key can call every endpoint, including the ones that charge the saved card (`POST /credits/purchase`, and `POST /dfy/orders`, which orders domains and mailboxes), spend credits (`POST /prospects/source`, `POST /lead-finder/imports`, which by default also bills email verification checks on the invoice, and `POST /autopilot/runs/{id}/approve`, which also buys the run's budgeted infrastructure) and send email (`POST /campaigns/{id}/resume` starts a campaign, `POST /reply-drafts/{id}/send` sends a reply).\n\n**Rate limits.** Keep each account under 100 requests per 10 seconds and 600 per minute. A few endpoints enforce their own limits today (Copilot plans, Lead Finder and Autopilot runs) and answer 429, with a Retry-After header where they can.\n\n**Leads are upserts.** `POST /leads` matches on email address, so re-sending a lead updates it instead of creating a duplicate. Up to 1,000 leads per request.\n\n**Replies.** `GET /replies` lists what prospects wrote back, and `GET /reply-drafts` lists the replies the AI drafted for them. `PUT /reply-drafts/{id}` edits a draft and `POST /reply-drafts/{id}/send` sends it to the prospect through the conversation's sender mailbox. That is a real email: it goes out with the draft's current subject and body, and cannot be recalled.\n\n**Webhooks.** Ten event types: EmailSent, EmailReply, EmailBounce, EmailUnsubscribe, LeadCreated, LeadCategoryUpdate, CampaignStatusChanged, CreditBalanceLow, AutopilotRunStatusChanged, DfyOrderCompleted. EmailReply, EmailBounce and EmailUnsubscribe deliveries carry a unique event ID (`evt_` and 32 hex characters) in the `X-Emailchaser-Event-Id` header and as `event_id` in the body, kept across retries; the other types can arrive with it empty today. The signing secret is not returned by the API: copy it in the app (Settings, Integrations & API, Webhooks tab). When the endpoint has a signing secret, the request also carries `X-Emailchaser-Timestamp` and `X-Emailchaser-Signature: v1=<hex HMAC-SHA256 of \"<timestamp>.<body>\">`.\n\n**Agents.** There is a hosted MCP server at https://app.emailchaser.com/api/mcp that exposes this API to MCP clients using the same API keys and the same two scopes. Its `send_reply_draft` tool sends a reply draft exactly as `POST /reply-drafts/{id}/send` does.\n\nThis document also describes the public endpoints of www.emailchaser.com itself (tagged `Site`); those need no API key and carry their own `servers` entry.",
    "contact": {
      "name": "Emailchaser support",
      "email": "support@emailchaser.com"
    },
    "termsOfService": "https://www.emailchaser.com/terms-of-service",
    "x-jentic-source-url": "https://www.emailchaser.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.emailchaser.com/r",
      "description": "Emailchaser REST API"
    },
    {
      "url": "https://www.emailchaser.com",
      "description": "Emailchaser marketing site (free tools)"
    }
  ],
  "paths": {
    "/audience/size": {
      "post": {
        "description": "Returns the number of prospects matching the given titles, seniorities, industries, company sizes and locations. Searching is free and never spends credits; only revealing contact details is metered.",
        "tags": [
          "Audience"
        ],
        "summary": "Count how many people match targeting criteria (free)",
        "responses": {
          "200": {
            "description": "Matching audience size",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.AudienceCountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Empty or invalid criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "502": {
            "description": "Data provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Targeting criteria",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.AudienceSizeRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/autopilot/plan": {
      "post": {
        "description": "Turns a monthly budget into a concrete outbound setup: domains, mailboxes, sending volume, prospects and costs. expectedMeetingsPerMonth is a planning ESTIMATE on pessimistic funnel assumptions, not a promise. Changes nothing, but needs a read and write API key.",
        "tags": [
          "Autopilot"
        ],
        "summary": "Size an autopilot budget plan",
        "responses": {
          "200": {
            "description": "The sized plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.AutopilotPlanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Monthly budget in dollars",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.AutopilotPlanRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/autopilot/runs": {
      "get": {
        "description": "Lists the workspace's autopilot runs, newest first.",
        "tags": [
          "Autopilot"
        ],
        "summary": "List autopilot runs",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 50, max 200)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number, 1-based (default 1)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs and total count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ListAutopilotRunsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve autopilot runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "description": "Creates an autopilot run for the given website. The run works autonomously up to the approval gate: it builds the customer profile, drafts the sequence and checks, without spending credits, that prospects match the profile. Nothing is spent, bought or sent before a human approves the run: no credits are reserved and no prospect is revealed until then, and approving is what reveals the first batch of prospects. When budgetUsd is given the sized budget plan is returned and snapshotted on the run, and targetProspects defaults to the plan's monthly prospect capacity. The plan's domain and mailbox counts are a ceiling, not a quote: one infrastructure order buys at most 10 domains, can place fewer mailboxes than the plan, and buys nothing when the workspace already has a connected sending account. Its dollar figures are an estimate, and an order is charged at the prices in force when it is placed. replyMode controls how inbound replies are handled (off, draft, approve, auto; default draft); auto sends AI reply drafts for interested replies without review. Available on every plan, and requires an active subscription. A workspace may have only one run awaiting approval at a time, and a limited number of starts per day.",
        "tags": [
          "Autopilot"
        ],
        "summary": "Start an autopilot run",
        "responses": {
          "201": {
            "description": "The created run, with the plan when a budget was given",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.AutopilotRunResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "402": {
            "description": "The workspace does not hold enough prospect credits for the first batch the run reveals once approved: the run's prospect target, capped at what a single increment can reserve, priced at credits.ActionProspectReveal credits per prospect. A pre-flight check only; starting reserves nothing (code insufficient_credits, with have/need counts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.InsufficientCreditsErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Autopilot requires an active subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorForbidden"
                }
              }
            }
          },
          "429": {
            "description": "A run is already awaiting approval, or too many runs have been started today",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to start the autopilot run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Website and optional budget",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.StartAutopilotRunRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/autopilot/runs/{id}": {
      "get": {
        "description": "Returns one run, including its audit trail. Runs belonging to other workspaces are reported as not found.",
        "tags": [
          "Autopilot"
        ],
        "summary": "Get an autopilot run",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Run ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.AutopilotRunResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid run id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve the run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/autopilot/runs/{id}/approve": {
      "post": {
        "description": "Approves a run that is awaiting approval, recording who approved it. Approval authorises the run's spend: the run moves to sourcing_prospects and reveals its first batch of prospects into the campaign, which spends prospect credits, then moves to provisioning_infrastructure to buy the budgeted sending infrastructure (if any), and then launches unattended. Nothing is spent, bought or sent before this call. A batch that delivers no prospects fails the run before any infrastructure is bought.",
        "tags": [
          "Autopilot"
        ],
        "summary": "Approve an autopilot run",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Run ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The approved run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.AutopilotRunResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid run id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The run is not waiting for approval, or has been halted by the kill switch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to approve the run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/autopilot/runs/{id}/kill": {
      "post": {
        "description": "Engages the kill switch: the run halts wherever it is and cannot be resumed, and a campaign the run launched is paused so nothing more sends. The optional reason is recorded in the audit trail.",
        "tags": [
          "Autopilot"
        ],
        "summary": "Kill an autopilot run",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Run ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The halted run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.AutopilotRunResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid run id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to stop the run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Optional reason",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.KillAutopilotRunRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/autopilot/runs/{id}/pause": {
      "post": {
        "description": "Suspends a run that is still in flight. A paused run can be resumed; pausing never skips the approval gate. A completed or failed run cannot be paused.",
        "tags": [
          "Autopilot"
        ],
        "summary": "Pause an autopilot run",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Run ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The paused run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.AutopilotRunResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid run id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The run has finished and cannot be paused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to pause the run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/autopilot/runs/{id}/resume": {
      "post": {
        "description": "Resumes a paused run. A run paused before approval goes back to awaiting approval — resuming can never skip the gate. A failed run resumes to the stage it failed from once the cause (e.g. insufficient credits) is fixed.",
        "tags": [
          "Autopilot"
        ],
        "summary": "Resume an autopilot run",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Run ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resumed run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.AutopilotRunResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid run id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The run has been halted by the kill switch, or cannot be resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to resume the run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/blocklist": {
      "get": {
        "description": "Returns the suppression entries (blocked domains and email addresses) that apply to the calling key's workspace, newest first. By default that is both lists: the workspace's own entries and the account-wide ones inherited from the main workspace. Narrow with `scope=workspace` or `scope=global`. Each item reports which list it came from.",
        "tags": [
          "Blocklist"
        ],
        "summary": "List blocklist entries",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "Which list to return: workspace, global, or all (default all)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "workspace",
                "global",
                "all"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Case-insensitive substring match on the domain or email address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 100, max 1000)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset (default 0)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.BlocklistListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "500": {
            "description": "Failed to list entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "description": "Adds up to 1000 suppression entries in one call. Each value is either a full email address (contains \"@\") or a bare domain. Existing entries and invalid values are skipped, so the call is safe to retry and suited to carrying over a suppression list from another sending platform. `scope` defaults to \"workspace\", which suppresses for the calling key's workspace only; \"global\" suppresses across every workspace on the account and requires a main workspace's key.",
        "tags": [
          "Blocklist"
        ],
        "summary": "Add blocklist entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.BlocklistAddResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Only a main workspace's key may write the account-wide blocklist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to add entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Values to block",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.BlocklistAddRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "description": "Removes up to 1000 entries in one call, by id or by value. Values are matched case-insensitively against both the domain and the email-address column, so unblocking \"acme.com\" removes the domain entry, not the individual addresses on it. `scope` limits the delete to one list and defaults to \"workspace\"; \"all\" covers both, and anything touching the account-wide list requires a main workspace's key. Entries that match nothing the caller may delete are counted as skipped rather than failing the call.",
        "tags": [
          "Blocklist"
        ],
        "summary": "Delete blocklist entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.BlocklistDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Only a main workspace's key may write the account-wide blocklist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to delete entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Entries to remove",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.BlocklistDeleteRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/blocklist/{id}": {
      "get": {
        "description": "Returns one suppression entry by id. Entries inherited from the account-wide list are visible here too, and report scope \"global\".",
        "tags": [
          "Blocklist"
        ],
        "summary": "Get a blocklist entry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Blocklist entry ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.BlocklistEntry"
                }
              }
            }
          },
          "400": {
            "description": "Invalid id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Entry not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to load entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "description": "Changes the blocked value, the scope, or both. A value containing \"@\" is stored as an email address, otherwise as a domain, so an entry can be converted between the two. Moving an entry to or from the account-wide list requires a main workspace's key, and moves the entry onto the main workspace.",
        "tags": [
          "Blocklist"
        ],
        "summary": "Update a blocklist entry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Blocklist entry ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.BlocklistEntry"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Only a main workspace's key may write the account-wide blocklist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entry not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "That value is already blocked in the target list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to update entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Fields to change",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.BlocklistUpdateRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "description": "Removes one suppression entry, unblocking the domain or address. A sub-workspace key cannot delete an account-wide entry it merely inherits.",
        "tags": [
          "Blocklist"
        ],
        "summary": "Delete a blocklist entry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Blocklist entry ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.BlocklistDeleteEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Only a main workspace's key may write the account-wide blocklist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entry not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to delete entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/campaigns": {
      "get": {
        "description": "Lists all campaigns for the authenticated user's space with optional filtering by status and folder. Supports pagination.",
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default: 20, maximum: 200)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "not_started",
                "running",
                "completed",
                "paused",
                "draft"
              ]
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Filter by folder ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ListCampaignsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "description": "Creates a campaign in the API key's workspace. The campaign starts in draft status and is placed in the workspace's default folder. Before it can be launched with POST /campaigns/{id}/resume, it needs four things: a sequence (PUT /campaigns/{id}/sequence), sending days (PUT /campaigns/{id}/schedule; there is no default), at least one email account (POST /campaigns/{id}/sender-emails), and at least one lead (POST /leads with campaignId). Campaigns with flow api can launch without leads.",
        "tags": [
          "Campaigns"
        ],
        "summary": "Create a campaign",
        "responses": {
          "201": {
            "description": "Campaign created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.CreateCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorInvalidRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "500": {
            "description": "Failed to create campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorFailedToCreateCampaign"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Campaign to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.CreateCampaignRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/campaigns/{id}": {
      "get": {
        "description": "Retrieves detailed information about a specific campaign including settings, schedule, statistics, and email counts. schedule.daysSchedule is one comma-separated string of weekday numbers, such as \"1,2,3,4,5\", not an array. minimumHealth lists each connected email account on the campaign with its health score and whether the campaign's minimum health score (settings.minimumHealthScore) holds it back; when every account is held back, allHeldBack is true and message says the campaign is sending nothing.",
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a campaign by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.GetCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid campaign ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorInvalidCampaignID"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "description": "Updates campaign properties such as name, emoji, timezone, and various settings. Only provided fields will be updated. minimumHealthScore (1-100) stops any email account whose health score is below it, or that has no score yet, from sending in this campaign until its score is back up; its conversations wait for it and never move to another account. Send 0 to remove the minimum.",
        "tags": [
          "Campaigns"
        ],
        "summary": "Update a campaign by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.UpdateCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid campaign ID or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorInvalidCampaignID"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Failed to update campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorFailedToUpdateCampaign"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Campaign fields to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.UpdateCampaignRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "description": "Deletes a campaign and all associated data including emails, sequences, and scheduled tasks.",
        "tags": [
          "Campaigns"
        ],
        "summary": "Delete a campaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.DeleteCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid campaign ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorInvalidCampaignID"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Failed to delete campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorFailedToDeleteCampaign"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/campaigns/{id}/leads/{leadId}/move": {
      "post": {
        "description": "Removes a lead from the source campaign (deleting its unsent emails) and adds it to the target campaign. If the target campaign is running, emails for the lead are enqueued.",
        "tags": [
          "Campaigns"
        ],
        "summary": "Move a lead to another campaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Source campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "leadId",
            "in": "path",
            "description": "Lead ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead moved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.MoveLeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid campaign ID, lead ID or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorInvalidCampaignID"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - lead does not belong to your space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorForbidden"
                }
              }
            }
          },
          "404": {
            "description": "Campaign, target campaign or lead not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Failed to move lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorFailedToMoveLead"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Target campaign",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.MoveLeadRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/campaigns/{id}/pause": {
      "post": {
        "description": "Pauses a running campaign and cancels all scheduled emails.",
        "tags": [
          "Campaigns"
        ],
        "summary": "Pause a campaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign paused successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.PauseCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid campaign ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorInvalidCampaignID"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Failed to pause campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorFailedToPauseCampaign"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/campaigns/{id}/resume": {
      "post": {
        "description": "Launches a new campaign or resumes a paused campaign. Validates campaign configuration before launching: the campaign needs sending days, at least one email account, a sequence, and, unless its flow is api, at least one lead. A missing one is refused with 400 and an error naming it.",
        "tags": [
          "Campaigns"
        ],
        "summary": "Launch or resume a campaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign launched/resumed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.LaunchCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Campaign validation failed (missing configuration)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignValidation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignNotFound"
                }
              }
            }
          },
          "409": {
            "description": "Campaign is currently processing leads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to launch/resume campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorFailedToLaunchCampaign"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/campaigns/{id}/schedule": {
      "put": {
        "description": "Updates the sending schedule for a campaign including timezone, days, time windows, and frequency. daysSchedule is sent as an array of days, but the response returns it as one comma-separated string of weekday numbers, such as \"1,2,3,4,5\". GET /campaigns/{id} returns it the same way.",
        "tags": [
          "Campaigns"
        ],
        "summary": "Update campaign schedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign schedule updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.UpdateCampaignScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or schedule configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Failed to update campaign schedule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Schedule configuration",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.UpdateCampaignScheduleRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/campaigns/{id}/sender-emails": {
      "post": {
        "description": "Attaches connected sender emails from your workspace to a campaign. A running campaign only sends through the sender emails attached to it, so this call decides which mailboxes the campaign uses. Idempotent: already-attached senders are left untouched and only missing ones are added. The call is refused whole when any requested sender email is not yours (404) or not connected (409). Attaching to a running campaign triggers a reschedule so the new senders are picked up.",
        "tags": [
          "Campaigns"
        ],
        "summary": "Attach sender emails to a campaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sender emails attached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.AttachCampaignSendersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid campaign ID or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorInvalidCampaignID"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Campaign or sender email not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignNotFound"
                }
              }
            }
          },
          "409": {
            "description": "Sender email is not connected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorSenderEmailNotConnected"
                }
              }
            }
          },
          "500": {
            "description": "Failed to attach sender emails",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Sender emails to attach",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.AttachCampaignSendersRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/campaigns/{id}/sender-emails/{senderEmailId}": {
      "delete": {
        "description": "Detaches a sender email from a campaign. A running campaign only sends through the sender emails attached to it, so after this call the campaign stops sending through this mailbox: unsent follow-ups to emails this sender already sent are canceled, the sender is removed from the campaign's unsent emails, and a running campaign is rescheduled onto its remaining senders. Emails already sent are untouched. Idempotent: detaching a sender that is not attached is a no-op.",
        "tags": [
          "Campaigns"
        ],
        "summary": "Detach a sender email from a campaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "senderEmailId",
            "in": "path",
            "description": "Sender Email ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sender email detached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.DetachCampaignSenderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid campaign or sender email ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorInvalidCampaignID"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Campaign or sender email not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Failed to detach sender email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/campaigns/{id}/sequence": {
      "get": {
        "description": "Returns the ordered emails that make up a campaign's sequence, including any A/B variants. delayDays on each step is counted from the previous step; the first step is always 0.",
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a campaign's sequence",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign sequence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.GetSequenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid campaign ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorInvalidCampaignID"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve campaign sequence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorFailedToRetrieveSequence"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "description": "Replaces the campaign's whole sequence with the steps provided. The operation is idempotent, so sending the same payload twice leaves the same state and a retried request cannot duplicate steps. delayDays is counted from the previous step and the first step must be 0. Editing a running campaign is allowed and re-queues future sends; already-sent emails are untouched. Merge tags take ONE brace, e.g. {first_name}, {last_name}, {company_name}, {job_title}, plus any key set in a lead's customVariables; a fallback is {first_name}[there] or {first_name|there}. Placeholders written in another tool's syntax ({{first_name}}, [[first_name]], [First Name]) are rejected with a 400 that names the tag to write instead, because they are not substituted and would be sent exactly as typed (\"Hi [First Name],\").",
        "tags": [
          "Campaigns"
        ],
        "summary": "Replace a campaign's sequence",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign sequence replaced successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ReplaceSequenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid campaign ID or sequence payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorInvalidSequence"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Campaign flow does not support sequences",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnsupportedCampaignFlow"
                }
              }
            }
          },
          "500": {
            "description": "Failed to replace campaign sequence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorFailedToReplaceSequence"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Sequence steps",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.ReplaceSequenceRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/campaigns/{id}/stats": {
      "get": {
        "description": "Returns campaign performance in one call: totals, per-A/B-variant results, per-sequence-step results, and a daily (UTC) time series. Sent and bounced count outbound emails; replied and positive count distinct leads; totals.meetings counts the campaign's leads with a booked meeting recorded (see POST /leads/{id}/meeting). Variant sent counts initial emails only, while steps attribute replies to the exact email that was answered. There is no opens metric anywhere in this response: Emailchaser does not track opens, so its absence is deliberate, not an omission.",
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign performance stats",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign performance stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.GetCampaignStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid campaign ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorInvalidCampaignID"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorCampaignNotFound"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve campaign stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/copilot/launch": {
      "post": {
        "description": "Creates a DRAFT Emailchaser campaign (with its email sequence) scoped to the caller's workspace. With a Sales Navigator search URL it also kicks off lead extraction; without one the draft holds the emails and leads can be added from Lead Finder or a CSV upload. salesNavData needs a salesNavSearchUrl. The campaign stays in DRAFT — nothing sends automatically.",
        "tags": [
          "Copilot"
        ],
        "summary": "Launch a draft outbound campaign and start lead finding",
        "responses": {
          "202": {
            "description": "Draft campaign created, with lead finding started when a search was given",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.CopilotLaunchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "500": {
            "description": "Failed to create draft campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Campaign name, sequence and an optional Sales Nav search URL",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.CopilotLaunchRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/copilot/plan": {
      "post": {
        "description": "Fetches the company website, infers an Ideal Customer Profile with the managed AI model, and drafts a suggested cold-email sequence. Changes nothing, but needs a read and write API key. A website that shows a placeholder page instead of the business (a parked or not yet connected domain, a default server page) is refused with 422; send a description of what you sell to plan from it instead.",
        "tags": [
          "Copilot"
        ],
        "summary": "Plan an outbound campaign from a website",
        "responses": {
          "200": {
            "description": "Suggested ICP and sequence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.CopilotPlanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "422": {
            "description": "The website shows a placeholder page, not the business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many AI requests for this workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Failed to analyse website",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Website to analyse",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.CopilotPlanRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/credits/balance": {
      "get": {
        "description": "Returns the workspace's credit wallet. A wallet is created empty on first use, so a new workspace sees zeros rather than an error; a workspace on a free trial sees its one-time trial credits, which its first balance read hands over. unlimited is true when Emailchaser has made this workspace's credits free: credit actions then never spend available and are never refused for lack of credits, so there is no need to check the balance or buy credits.",
        "tags": [
          "Credits"
        ],
        "summary": "Get the credit balance",
        "responses": {
          "200": {
            "description": "The wallet snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.CreditBalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "500": {
            "description": "Failed to load the credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/credits/purchase": {
      "post": {
        "description": "CHARGES REAL MONEY: this immediately charges the workspace's saved default payment method (the card behind the active subscription), off-session, with no confirmation step beyond this call. Buys between 1000 and 10000 prospect credits at the tiered list price ($33 per 1000 credits, $20 per 1000 from 5000 credits) and grants them to the wallet on success. Responds with the credits bought, the exact amount charged in USD and the new available balance. Errors carry a machine-readable code: billing_required (402, no active subscription or saved card - fix billing in the app first), payment_failed (402, the charge was refused - no money moved), credits_free (409, this workspace's credits are free, so nothing is charged and there is nothing to buy), invalid_request (400), temporarily_unavailable (503, the purchase stopped before any charge - safe to retry), purchase_incomplete (500, charged but not credited, support already notified - do NOT retry) and purchase_unconfirmed (500, check /credits/transactions before retrying). The grant is idempotent on the Stripe invoice, so one charge can never double-credit - but every successful call is a NEW charge.",
        "tags": [
          "Credits"
        ],
        "summary": "Buy credits (charges real money)",
        "responses": {
          "200": {
            "description": "The completed purchase",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.PurchaseCreditsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed body or credits out of bounds (code invalid_request)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.PurchaseCreditsErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "402": {
            "description": "No usable billing (code billing_required) or the charge was refused (code payment_failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.PurchaseCreditsErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Credits are free for this workspace, nothing was charged (code credits_free)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.PurchaseCreditsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Charged but not credited (code purchase_incomplete, do not retry) or outcome unknown (code purchase_unconfirmed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.PurchaseCreditsErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Stopped before any charge, safe to retry (code temporarily_unavailable)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.PurchaseCreditsErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "How many credits to buy (1000..10000)",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.PurchaseCreditsRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/credits/transactions": {
      "get": {
        "description": "Lists the workspace's credit ledger entries, newest first. Optional filters: kind (movement type), reason (what the credits were for), and since/until on the entry time (both inclusive, RFC3339 or YYYY-MM-DD where a bare date means midnight UTC at the start of that day). Without filters the full ledger is returned as before. An entry with free=true was written while the workspace's credits were free: its amount is what the action would have cost, and no credits moved.",
        "tags": [
          "Credits"
        ],
        "summary": "List credit transactions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default 50, max 200)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number, 1-based (default 1)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter by movement type: grant, topup, reserve, commit, refund, expire or adjustment",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "Filter by reason: monthly_grant, prospect_reveal, ai_icp, ai_sequence, ai_reply, stripe_topup or manual_adjustment",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Only entries at or after this time, RFC3339 or YYYY-MM-DD",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Only entries at or before this time, RFC3339 or YYYY-MM-DD (a bare date means midnight UTC at the start of that day)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ledger entries and total count (both reflect the filters)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ListCreditTransactionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve credit transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dfy/domains/check": {
      "get": {
        "description": "Checks whether one specific domain can be registered, rather than searching the names the registrar suggests. Use this to buy a domain the customer chose. Only .com and .org are supported.\n\nA domain that simply cannot be bought - taken, malformed, an extension we do not register - answers 200 with available false and a reason. A non-2xx means the check itself could not be made, which is not the same as the domain being taken.",
        "tags": [
          "DoneForYou"
        ],
        "summary": "Check one exact domain",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "The full domain to check, extension included",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability of that exact domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.CheckDfyDomainResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing domain parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "502": {
            "description": "Domain search service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "description": "Checks up to 100 exact domains in one call, for a caller who already has the list. One answer per unique domain, in the order given, each following the single check's rules. A registrar failure on one name marks it unconfirmed rather than failing the list; the call fails only when nothing could be checked.",
        "tags": [
          "DoneForYou"
        ],
        "summary": "Check a list of exact domains",
        "responses": {
          "200": {
            "description": "Availability of each domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.CheckDfyDomainsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Empty list, or more than 100 domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorUnauthorized"
                }
              }
            }
          },
          "502": {
            "description": "Domain search service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/models.ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "The domains to check",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.CheckDfyDomainsRequest"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dfy/domains/search": {
      "get": {
        "description": "Checks availability and pricing of domains derived from a brand name. Only .com and .org are supported.",
        "tags": [
          "DoneForYou"
        ],
        "summary": "Search available domains",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Brand name to derive domains from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tlds",
            "in": "query",
            "description": "Comma-separated TLDs (default: com,org)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
[...]
