{
  "openapi": "3.1.0",
  "info": {
    "title": "Base44 App Management API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://congressionalstockbrain.com/api/openapi.json"
  },
  "servers": [
    {
      "url": "https://app.base44.com"
    }
  ],
  "paths": {
    "/api/apps/{app_id}/entities/User": {
      "get": {
        "summary": "List app users",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nReturns the app's users: the people who signed up to it, or who accepted an invitation and signed in. Someone you've invited who hasn't signed in yet isn't listed.\n\nIt leaves out accounts Base44 added to the app on its own, such as workspace admins and support staff granted access, and the short-lived accounts a test run creates. Unless your own account has a Base44 or Wix email address, [Count app users](/api-reference/count-app-users) also leaves out accounts with one. This list includes them, so the two can differ. Row-level security on the `User` entity applies, so rules that narrow reads narrow this list too.\n\nFilter with `q`, or by passing a field name directly as a query parameter for an exact match, as in `?role=admin`. Users come back in the order they joined unless you set `sort`.\n\n<Warning>Each user includes fields beyond the ones documented here. Don't rely on undocumented response fields, as they can change at any time.</Warning>\n\n<Note>This endpoint accepts a personal API key belonging to a user with editor access to the app, including a read-only key. Workspace API keys are not accepted.</Note>",
        "operationId": "list_users_api_apps__app_id__entities_User_get",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app whose users you want to list.",
              "title": "App Id"
            },
            "description": "ID of the app whose users you want to list.",
            "example": "6820f3a4e7b91d003c45a1f2"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Filter as a JSON object of field names and values, for example `{\"status\": \"paid\"}` for an exact match, or using an operator such as `$gt` for a comparison. See [Filtering, sorting, and paging](/developers/references/apps-api/sections/entities#filtering-sorting-and-paging) for a full list of operators.",
            "example": "{\"role\": \"admin\"}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of users to return, from 1 to 10000. Leave it out to get every matching user in one response.",
            "example": 100,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of users to skip before the ones you get back, 0 or more. Defaults to 0. Use it with `limit` to page through a long list.",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Single field to sort by, prefixed with `-` for descending. For example, `-created_date` returns newest first. Sorting by more than one field isn't supported.",
            "example": "-created_date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to return, which reduces the response size on a wide entity. Reach a field inside an object with dots, as in `customer.email`. Each record still carries its `id` whether you ask for it or not.",
            "example": "email,full_name,role",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The app's users.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "One user of an app.",
                    "properties": {
                      "id": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "ID of the user.",
                        "example": "6874b0c2e1a94d0031bb77de",
                        "title": "Id"
                      },
                      "email": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "Email the user signs in with.",
                        "example": "jane@acme.com",
                        "title": "Email"
                      },
                      "full_name": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "The user's name, or `null` if they haven't given one.",
                        "example": "Jane Cooper",
                        "title": "Full Name"
                      },
                      "role": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "The user's role in the app. `user` and `admin` are built in, and an app can define its own.",
                        "example": "user",
                        "title": "Role"
                      },
                      "collaborator_role": {
                        "anyOf": [
                          {
                            "const": "editor",
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "`editor` when the user can also edit the app in Base44, otherwise `null`.",
                        "example": "editor",
                        "title": "Collaborator Role"
                      },
                      "created_date": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "When the user joined the app, as a UTC timestamp in ISO 8601 format.",
                        "example": "2026-06-01T09:23:41.481000Z",
                        "title": "Created Date"
                      },
                      "updated_date": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "When the user's record last changed, as a UTC timestamp in ISO 8601 format.",
                        "example": "2026-06-04T14:07:02.115000Z",
                        "title": "Updated Date"
                      }
                    },
                    "title": "AppUserRecord"
                  },
                  "title": "AppUsers"
                }
              }
            }
          },
          "400": {
            "description": "`q` isn't a JSON object or isn't a filter Base44 can run, `limit` or `skip` is out of range or not a whole number, or `sort` names more than one field."
          },
          "401": {
            "description": "Missing or invalid credentials."
          },
          "403": {
            "description": "You don't have editor access to this app."
          },
          "404": {
            "description": "App not found."
          },
          "422": {
            "description": "A filter you passed as its own query parameter doesn't match the type the `User` schema declares for that field."
          },
          "429": {
            "description": "Rate limit exceeded. The base limit is 100 requests per minute, and this endpoint shares it with [Count app users](/api-reference/count-app-users). See [Rate limits](/developers/references/apps-api/get-started/rate-limits) for the multiplier your plan gets."
          }
        }
      }
    },
    "/api/apps/{app_id}/entities/User/count": {
      "get": {
        "summary": "Count app users",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nReturns how many users the app has. These are the people who signed up to it or were invited to it.\n\nThe count covers the users the calling credential can read, so a `User` entity whose row-level security rules narrow reads returns a smaller number than the app actually has.\n\nIt also leaves out accounts Base44 added to the app on its own, such as workspace admins and support staff granted access, and the short-lived accounts a test run creates. Unless your own account has a Base44 or Wix email address, accounts with one aren't counted either.",
        "operationId": "count_users_api_apps__app_id__entities_User_count_get",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app whose users you want to count.",
              "title": "App Id"
            },
            "description": "ID of the app whose users you want to count.",
            "example": "6820f3a4e7b91d003c45a1f2"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserCountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials."
          },
          "403": {
            "description": "You don't have editor access to this app."
          },
          "404": {
            "description": "App not found."
          },
          "429": {
            "description": "Rate limit exceeded. This endpoint allows 100 requests per minute per app, shared with the app's other user listing calls."
          }
        }
      }
    },
    "/api/apps/{app_id}/entities/User/{user_id}": {
      "get": {
        "summary": "Get app user",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nReturns one of the app's users.\n\nPass `me` as `user_id` to get your own record. Any user of the app can read their own record, by `me` or by ID. Reading another user's record needs editor access to the app, and row-level security on the `User` entity applies to it, so a user the `rls` read rule hides is reported as not found. Field-level rules on the `User` entity apply to every record, your own included.\n\nAccounts Base44 added to the app on its own, such as workspace admins and support staff granted access, and the short-lived accounts a test run creates, are reported as not found unless the record is your own.\n\n<Warning>The response includes fields beyond the ones documented here. Don't rely on undocumented response fields, as they can change at any time.</Warning>\n\n<Note>This endpoint accepts a personal API key belonging to a user of the app, including a read-only key. Workspace API keys are not accepted.</Note>",
        "operationId": "get_entity_api_apps__app_id__entities_User__user_id__get",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the user, as `id` in the response of [List app users](/api-reference/list-app-users), or `me` for your own record.",
              "title": "User Id"
            },
            "description": "ID of the user, as `id` in the response of [List app users](/api-reference/list-app-users), or `me` for your own record.",
            "example": "6874b0c2e1a94d0031bb77de"
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app the user belongs to.",
              "title": "App Id"
            },
            "description": "ID of the app the user belongs to.",
            "example": "6820f3a4e7b91d003c45a1f2"
          }
        ],
        "responses": {
          "200": {
            "description": "The user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "AppUserRecord",
                  "description": "One user of an app.",
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ID of the user.",
                      "example": "6874b0c2e1a94d0031bb77de",
                      "title": "Id"
                    },
                    "email": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Email the user signs in with.",
                      "example": "jane@acme.com",
                      "title": "Email"
                    },
                    "full_name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "The user's name, or `null` if they haven't given one.",
                      "example": "Jane Cooper",
                      "title": "Full Name"
                    },
                    "role": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "The user's role in the app. `user` and `admin` are built in, and an app can define its own.",
                      "example": "user",
                      "title": "Role"
                    },
                    "collaborator_role": {
                      "anyOf": [
                        {
                          "const": "editor",
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "`editor` when the user can also edit the app in Base44, otherwise `null`.",
                      "example": "editor",
                      "title": "Collaborator Role"
                    },
                    "created_date": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "When the user joined the app, as a UTC timestamp in ISO 8601 format.",
                      "example": "2026-06-01T09:23:41.481000Z",
                      "title": "Created Date"
                    },
                    "updated_date": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "When the user's record last changed, as a UTC timestamp in ISO 8601 format.",
                      "example": "2026-06-04T14:07:02.115000Z",
                      "title": "Updated Date"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials."
          },
          "403": {
            "description": "You don't have access to this app, or you asked for another user's record without editor access."
          },
          "404": {
            "description": "App not found, or the app has no user with this ID that you can read."
          },
          "429": {
            "description": "Rate limit exceeded. The base limit is 150 requests per minute, and this endpoint shares it with [Get entity record](/api-reference/get-entity-record). See [Rate limits](/developers/references/apps-api/get-started/rate-limits) for the multiplier your plan gets."
          }
        }
      },
      "put": {
        "summary": "Update app user",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nChanges a user's role or the extra fields the app stores on them, and returns the updated user.\n\nSend `role` to change the user's role. It isn't checked against the roles the app defines, so a misspelled role is saved as sent. If the user also belongs to a group shared with the app, they keep the highest role any of their groups gives them, so the `role` in the response can be higher than the one you sent. Only the app's owner can change the owner's role.\n\nEvery other field you send is merged into the user's record. A field you leave out keeps its value. The fields aren't checked against the `User` schema, so a misspelled name is stored under that name. `email` and `full_name` belong to the user's account and are ignored, as are `id`, `collaborator_role`, and a few fields Base44 manages itself.\n\nField-level security rules on the `User` entity apply. A `role` you send is saved before the other fields are checked, so a call rejected for another field, by one of those rules or for an oversized value, changes none of the other fields but still changes the role.\n\nUpdating a user triggers the app's webhooks for the `User` entity.\n\n<Warning>The response includes fields beyond the ones documented here. Don't rely on undocumented response fields, as they can change at any time.</Warning>\n\n<Note>This endpoint accepts a personal API key belonging to a user with editor access to the app. A read-only key is refused, and workspace API keys are not accepted.</Note>",
        "operationId": "update_entity_api_apps__app_id__entities_User__user_id__put",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the user, as `id` in the response of [List app users](/api-reference/list-app-users).",
              "title": "User Id"
            },
            "description": "ID of the user, as `id` in the response of [List app users](/api-reference/list-app-users).",
            "example": "6874b0c2e1a94d0031bb77de"
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app the user belongs to.",
              "title": "App Id"
            },
            "description": "ID of the app the user belongs to.",
            "example": "6820f3a4e7b91d003c45a1f2"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "UpdateAppUser",
                "properties": {
                  "role": {
                    "type": "string",
                    "description": "New role for the user in the app, such as `user` or `admin`.",
                    "example": "admin"
                  }
                },
                "description": "The fields to change. Any field other than `role` is stored on the user as sent."
              },
              "example": {
                "role": "admin",
                "department": "Sales"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "AppUserRecord",
                  "description": "One user of an app.",
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ID of the user.",
                      "example": "6874b0c2e1a94d0031bb77de",
                      "title": "Id"
                    },
                    "email": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Email the user signs in with.",
                      "example": "jane@acme.com",
                      "title": "Email"
                    },
                    "full_name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "The user's name, or `null` if they haven't given one.",
                      "example": "Jane Cooper",
                      "title": "Full Name"
                    },
                    "role": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "The user's role in the app. `user` and `admin` are built in, and an app can define its own.",
                      "example": "user",
                      "title": "Role"
                    },
                    "collaborator_role": {
                      "anyOf": [
                        {
                          "const": "editor",
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "`editor` when the user can also edit the app in Base44, otherwise `null`.",
                      "example": "editor",
                      "title": "Collaborator Role"
                    },
                    "created_date": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "When the user joined the app, as a UTC timestamp in ISO 8601 format.",
                      "example": "2026-06-01T09:23:41.481000Z",
                      "title": "Created Date"
                    },
                    "updated_date": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "When the user's record last changed, as a UTC timestamp in ISO 8601 format.",
                      "example": "2026-06-04T14:07:02.115000Z",
                      "title": "Updated Date"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "You tried to change the app owner's role and you aren't the owner, or, on some apps, a field value is over 20,000 characters."
          },
          "401": {
            "description": "Missing or invalid credentials."
          },
          "403": {
            "description": "You don't have editor access to this app, a field-level security rule refuses a field you're changing, or your API key is read-only."
          },
          "404": {
            "description": "App not found, or the app has no user with this ID."
          },
          "422": {
            "description": "The body is missing, or isn't a JSON object."
          },
          "429": {
            "description": "Rate limit exceeded. The base limit is 70 requests per minute. See [Rate limits](/developers/references/apps-api/get-started/rate-limits) for the multiplier your plan gets."
          }
        }
      },
      "delete": {
        "summary": "Remove app user",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nRemoves a user from the app.\n\nThe user loses access straight away, including any editor access they had to the app. Their invitation or access request is deleted too, so they aren't added back the next time they sign in, unless they belong to a group shared with the app, which lets them back in through the group. To give them access again, invite them with [Invite app users](/api-reference/invite-app-users). You can't remove the app's owner.\n\nRemoving a user triggers the app's webhooks for the `User` entity.\n\n<Note>This endpoint accepts a personal API key belonging to a user with editor access to the app. A read-only key is refused, and workspace API keys are not accepted.</Note>",
        "operationId": "delete_entity_api_apps__app_id__entities_User__user_id__delete",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the user, as `id` in the response of [List app users](/api-reference/list-app-users).",
              "title": "User Id"
            },
            "description": "ID of the user, as `id` in the response of [List app users](/api-reference/list-app-users).",
            "example": "6874b0c2e1a94d0031bb77de"
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app the user belongs to.",
              "title": "App Id"
            },
            "description": "ID of the app the user belongs to.",
            "example": "6820f3a4e7b91d003c45a1f2"
          }
        ],
        "responses": {
          "200": {
            "description": "The user was removed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "DeleteEntityRecordResponse",
                  "description": "Confirmation that a record was deleted.",
                  "properties": {
                    "success": {
                      "description": "Always `true`. A delete that doesn't happen returns an error instead.",
                      "example": true,
                      "title": "Success",
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials."
          },
          "403": {
            "description": "You don't have editor access to this app, the user is the app's owner, or your API key is read-only."
          },
          "404": {
            "description": "App not found, or the app has no user with this ID."
          },
          "429": {
            "description": "Rate limit exceeded. The base limit is 70 requests every 30 seconds. See [Rate limits](/developers/references/apps-api/get-started/rate-limits) for the multiplier your plan gets."
          }
        }
      }
    },
    "/api/apps/{app_id}/entities/{entity_name}/count": {
      "get": {
        "summary": "Count entity records",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nReturns how many production records an entity holds, optionally narrowed by a filter.\n\nPass the same `q` filter [List entity records](/api-reference/list-entity-records) accepts to count a subset, for example `{\"status\": \"open\"}`. The count covers the records the calling credential can read, so an entity whose row-level security rules narrow reads returns a smaller number than the entity actually holds. An entity with no `rls` rules returns its full count.\n\nDon't pass `User` as the `entity_name`. To count the app's users, use [Count app users](/api-reference/count-app-users) instead.",
        "operationId": "count_entities_api_apps__app_id__entities__entity_name__count_get",
        "parameters": [
          {
            "name": "entity_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
              "title": "Entity Name"
            },
            "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
            "example": "Invoice"
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app that owns the entity.",
              "title": "App Id"
            },
            "description": "ID of the app that owns the entity.",
            "example": "6820f3a4e7b91d003c45a1f2"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional filter, a JSON object in the same form as `q` on List entity records.",
              "title": "Q"
            },
            "description": "Optional filter, a JSON object in the same form as `q` on List entity records."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityCountResponse"
                }
              }
            }
          },
          "400": {
            "description": "`q` isn't a JSON object or isn't a filter Base44 can run, for example one with an unknown operator or an `id` that isn't a record ID, or the entity is `User`."
          },
          "401": {
            "description": "Missing or invalid credentials."
          },
          "403": {
            "description": "You don't have access to this app."
          },
          "404": {
            "description": "App not found, or the app has no entity with this name."
          },
          "429": {
            "description": "Rate limit exceeded. The base limit is 70 requests per minute, and this endpoint shares it with [List entity records](/api-reference/list-entity-records). See [Rate limits](/developers/references/apps-api/get-started/rate-limits) for the multiplier your plan gets."
          }
        }
      }
    },
    "/api/apps/{app_id}/entities/{entity_name}/v2/list": {
      "get": {
        "summary": "List entity records",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nReturns one page of the records in one of the app's entities, with a cursor for the next page. Deleted records are left out.\n\nUse it for exports, sync jobs, and any loop over a large entity. Every page costs the same however far in you are, and records deleted between pages don't shift where the next page starts.\n\nFilter records with the `q` parameter, or by passing one of the entity's own field names directly as a query parameter for an exact match. For example, `?status=paid` is equivalent to `q={\"status\": \"paid\"}`. Only `q` supports comparisons like `$gt`. An unrecognized parameter name is still treated as a filter, so a misspelled field name matches nothing rather than returning an error. Choose which fields come back with `fields`.\n\nFor the next page, pass `next_cursor` from the response as `cursor`. The cursor carries the filter, sort, and fields, so you don't need to repeat them, and repeating one with a different value is rejected. Stop when `has_more` is `false`. Every page holds `limit` records except the last. A cursor only works for the user it was issued to, on the same app and entity.\n\nRecords come back newest first unless you set `sort`. Records with no value in the sort field come first in ascending order and last in descending order. Records that share the same sort value are each returned once. A record whose stored value in the sort field isn't the type the entity's schema declares is left out.\n\nWith `distinct`, `items` holds the distinct values of that field among the matching records instead of records, in ascending order and without `null`. Each element of an array field counts as a value. `sort` and `fields` can't be combined with it, `limit` goes up to 1000, and an entity with field-level read rules doesn't support it.\n\nRow-level security applies, so you only get the records the entity's `rls` read rule lets your credential see. The `User` entity isn't supported. Use [List app users](/api-reference/list-app-users) instead.\n\n<Note>This endpoint accepts a personal API key belonging to a user with access to the app, including a read-only key. Workspace API keys are not accepted.</Note>",
        "operationId": "list_entities_v2_api_apps__app_id__entities__entity_name__v2_list_get",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app that owns the entity.",
              "title": "App Id"
            },
            "description": "ID of the app that owns the entity.",
            "example": "6820f3a4e7b91d003c45a1f2"
          },
          {
            "name": "entity_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
              "title": "Entity Name"
            },
            "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
            "example": "Invoice"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Filter as a JSON object of field names and values, for example `{\"status\": \"paid\"}` for an exact match, or using an operator such as `$gt` for a comparison. See [Filtering, sorting, and paging](/developers/references/apps-api/sections/entities#filtering-sorting-and-paging) for a full list of operators.",
            "example": "{\"status\": \"paid\"}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records on each page, from 1 to 5000, or up to 1000 with `distinct`. Defaults to 100, and a higher value is treated as the maximum.",
            "example": 500,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Single field to sort by, prefixed with `-` for descending. For example, `-created_date` returns newest first. Defaults to `-created_date`. Sort by a field every record carries, such as `created_date`, or by one the entity's schema declares as a string, number, integer, or boolean.",
            "example": "-created_date",
            "schema": {
              "type": "string",
              "default": "-created_date"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to return, which reduces the response size on a wide entity. Reach a field inside an object with dots, as in `customer.email`. Each record still carries its `id` whether you ask for it or not.",
            "example": "status,amount",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from previous response. Leave it out for the first page.",
            "example": "gAAAAABn7vJ...",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "distinct",
            "in": "query",
            "required": false,
            "description": "Field whose distinct values to return instead of records, in ascending order.",
            "example": "status",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of the entity's records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "EntityRecordPage",
                  "description": "One page of records and the cursor for the next one.",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "additionalProperties": true,
                            "description": "One record in one of an app's entities.",
                            "properties": {
                              "id": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "ID of the record. Pass it as `entity_id` to [Get entity record](/api-reference/get-entity-record), [Update entity record](/api-reference/update-entity-record) or [Delete entity record](/api-reference/delete-entity-record).",
                                "example": "6886b8d390dc7e2f4a2c91b3",
                                "title": "Id"
                              },
                              "created_date": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "When the record was created, as a UTC timestamp in ISO 8601 format. A record Base44 has just created carries a `Z` suffix, and a record read back from storage does not.",
                                "example": "2026-06-01T09:23:41.481000",
                                "title": "Created Date"
                              },
                              "updated_date": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "When the record last changed, as a UTC timestamp in ISO 8601 format. A record Base44 has just created carries a `Z` suffix, and a record read back from storage does not.",
                                "example": "2026-06-04T14:07:02.115000",
                                "title": "Updated Date"
                              },
                              "created_by": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Email of the app user who created the record, or `anonymous` when a visitor created it on an app that needs no login. Apps that hide record authorship leave this field out of the response.",
                                "example": "jane@acme.com",
                                "title": "Created By"
                              },
                              "created_by_id": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "ID of the app user who created the record, or `anonymous` when a visitor created it on an app that needs no login.",
                                "example": "6874b0c2e1a94d0031bb77de",
                                "title": "Created By Id"
                              },
                              "is_sample": {
                                "anyOf": [
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Whether Base44 stored the record as sample data while the app was being built. A record you create reports `false`.",
                                "example": false,
                                "title": "Is Sample"
                              }
                            },
                            "title": "EntityRecord",
                            "type": "object"
                          },
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      "description": "The page's records in the requested sort order, or with `distinct` the field's values in ascending order.",
                      "example": [
                        {
                          "id": "6886b8d390dc7e2f4a2c91b3",
                          "created_date": "2026-06-01T09:23:41.481000",
                          "updated_date": "2026-06-04T14:07:02.115000",
                          "created_by": "jane@acme.com",
                          "created_by_id": "6874b0c2e1a94d0031bb77de",
                          "is_sample": false,
                          "amount": 4200,
                          "status": "draft",
                          "customer_email": "jane@acme.com"
                        }
                      ]
                    },
                    "next_cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Cursor for fetching the next page. The value is `null` if there are no more pages.",
                      "example": "gAAAAABn7vJ..."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether there are more items to fetch.",
                      "example": true
                    }
                  },
                  "required": [
                    "items",
                    "next_cursor",
                    "has_more"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The cursor is invalid, was issued to another credential, or was issued for a different filter, sort, fields, or `distinct`. Also returned when `skip` is set, `limit` is below 1 or not a whole number, `q` isn't a filter Base44 can run, `sort` names more than one field or a field it can't sort by, `distinct` names a field the schema doesn't declare or is combined with `sort` or `fields`, or the entity is `User`."
          },
          "401": {
            "description": "Missing or invalid credentials."
          },
          "403": {
            "description": "You don't have access to this app."
          },
          "404": {
            "description": "App not found, or the app has no entity with this name."
          },
          "422": {
            "description": "A filter you passed as its own query parameter doesn't match the type the entity's schema declares for that field."
          },
          "429": {
            "description": "Rate limit exceeded. The base limit is 70 requests per minute, and this endpoint shares it with [Count entity records](/api-reference/count-entity-records). A page with `distinct` also counts against a separate limit of 15 requests per minute. See [Rate limits](/developers/references/apps-api/get-started/rate-limits) for the multiplier your plan gets."
          }
        }
      }
    },
    "/api/apps/{app_id}/entities/{entity_name}": {
      "post": {
        "summary": "Create entity record",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nAdds a record to one of the app's entities and returns it.\n\nOnly the fields the entity's schema declares are stored, so a misspelled name is left out of the record instead of failing the call. Base44 always assigns `id`, `created_date`, `updated_date`, `created_by`, and `created_by_id` automatically, and ignores any of them you send.\n\nRow-level security applies, so the call is rejected when the entity's `rls` create rule doesn't cover the record you send.\n\nCreating a record triggers the app's webhooks and any automation or workflow that listens for this entity.\n\n<Note>This endpoint accepts a personal API key belonging to a user with access to the app. A read-only key is refused, and workspace API keys are not accepted.</Note>",
        "operationId": "create_entity_api_apps__app_id__entities__entity_name__post",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app that owns the entity.",
              "title": "App Id"
            },
            "description": "ID of the app that owns the entity.",
            "example": "6820f3a4e7b91d003c45a1f2"
          },
          {
            "name": "entity_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
              "title": "Entity Name"
            },
            "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
            "example": "Invoice"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "CreateEntityRecord",
                "description": "The record's fields, as a flat JSON object using the names the entity's [schema](/api-reference/get-entity-schema) declares."
              },
              "example": {
                "amount": 4200,
                "status": "draft",
                "customer_email": "jane@acme.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "EntityRecord",
                  "description": "One record in one of an app's entities.",
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ID of the record. Pass it as `entity_id` to [Get entity record](/api-reference/get-entity-record), [Update entity record](/api-reference/update-entity-record) or [Delete entity record](/api-reference/delete-entity-record).",
                      "example": "6886b8d390dc7e2f4a2c91b3",
                      "title": "Id"
                    },
                    "created_date": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "When the record was created, as a UTC timestamp in ISO 8601 format. A record Base44 has just created carries a `Z` suffix, and a record read back from storage does not.",
                      "example": "2026-06-01T09:23:41.481000",
                      "title": "Created Date"
                    },
                    "updated_date": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "When the record last changed, as a UTC timestamp in ISO 8601 format. A record Base44 has just created carries a `Z` suffix, and a record read back from storage does not.",
                      "example": "2026-06-04T14:07:02.115000",
                      "title": "Updated Date"
                    },
                    "created_by": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Email of the app user who created the record, or `anonymous` when a visitor created it on an app that needs no login. Apps that hide record authorship leave this field out of the response.",
                      "example": "jane@acme.com",
                      "title": "Created By"
                    },
                    "created_by_id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "ID of the app user who created the record, or `anonymous` when a visitor created it on an app that needs no login.",
                      "example": "6874b0c2e1a94d0031bb77de",
                      "title": "Created By Id"
                    },
                    "is_sample": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Whether Base44 stored the record as sample data while the app was being built. A record you create reports `false`.",
                      "example": false,
                      "title": "Is Sample"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "On some apps, a field value over 20,000 characters is rejected. Store large content with the UploadPublicFile integration and use the returned URL instead."
          },
          "401": {
            "description": "Missing or invalid credentials."
          },
          "403": {
            "description": "You don't have access to this app, the entity's `rls` create rule doesn't cover the record, or your API key is read-only."
          },
          "404": {
            "description": "App not found, or the app has no entity with this name."
          },
          "422": {
            "description": "The body is missing, a required field the entity's schema declares is missing, or a value doesn't match the type the schema declares for that field."
          },
          "429": {
            "description": "Rate limit exceeded. The base limit is 80 requests per minute. See [Rate limits](/developers/references/apps-api/get-started/rate-limits) for the multiplier your plan gets."
          }
        }
      },
      "delete": {
        "summary": "Delete entity records",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nDeletes every record in one of the app's entities that matches a filter, and returns how many it deleted.\n\nSend the filter as the body, written the same way as the `q` parameter of [List entity records](/api-reference/list-entity-records). For example, `{\"status\": \"cancelled\"}` deletes every cancelled record. The body is required, and an empty object, `{}`, deletes every record in the entity.\n\nRow-level security applies, so only the matching records the entity's `rls` delete rule lets you remove are deleted. The rest are left alone rather than failing the call.\n\nThe records move to the entity's trash rather than being erased. Bring them back with [Restore entity records](/api-reference/restore-entity-records), or erase one for good with [Permanently delete entity record](/api-reference/permanently-delete-entity-record).\n\nUnlike [Delete entity record](/api-reference/delete-entity-record), this doesn't trigger the app's webhooks, automations, or workflows.\n\n<Note>This endpoint accepts a personal API key belonging to a user with access to the app. A read-only key is refused, and workspace API keys are not accepted.</Note>",
        "operationId": "delete_entities_api_apps__app_id__entities__entity_name__delete",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app that owns the entity.",
              "title": "App Id"
            },
            "description": "ID of the app that owns the entity.",
            "example": "6820f3a4e7b91d003c45a1f2"
          },
          {
            "name": "entity_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
              "title": "Entity Name"
            },
            "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
            "example": "Invoice"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "DeleteEntityRecords",
                "description": "Filter selecting the records to delete, in the same form as `q`. Send `{}` to delete every record in the entity."
              },
              "example": {
                "status": "cancelled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "How many records were deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "DeleteEntityRecordsResponse",
                  "description": "How many records were deleted.",
                  "properties": {
                    "success": {
                      "description": "Always `true`. A delete that doesn't happen returns an error instead.",
                      "example": true,
                      "title": "Success",
                      "type": "boolean"
                    },
                    "deleted": {
                      "description": "Number of records moved to the trash. `0` when no record matched the filter.",
                      "example": 3,
                      "title": "Deleted",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "success",
                    "deleted"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The filter isn't one Base44 can run, for example an unknown operator."
          },
          "401": {
            "description": "Missing or invalid credentials."
          },
          "403": {
            "description": "You don't have access to this app, or your API key is read-only."
          },
          "404": {
            "description": "App not found, the app has no entity with this name, or the entity is `User`, whose records can't be deleted in bulk."
          },
          "422": {
            "description": "The body is missing, or isn't a JSON object."
          },
          "429": {
            "description": "Rate limit exceeded. The base limit is 30 requests every 30 seconds. See [Rate limits](/developers/references/apps-api/get-started/rate-limits) for the multiplier your plan gets."
          }
        }
      }
    },
    "/api/apps/{app_id}/entities/{entity_name}/bulk": {
      "post": {
        "summary": "Create entity records",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nAdds several records to one of the app's entities in one call, and returns them in the order you sent them.\n\nSend a JSON array of records, each written the same way as the body of [Create entity record](/api-reference/create-entity-record). Only the fields the entity's schema declares are stored, so a misspelled name is left out of the record instead of failing the call. Base44 always assigns `id`, `created_date`, `updated_date`, `created_by`, and `created_by_id` automatically, and ignores any of them you send. An empty array creates nothing and returns an empty array.\n\nEvery record is checked before any is written. If one record doesn't match the entity's schema, or the entity's `rls` create rule or a field-level rule doesn't cover it, the call is rejected and no records are created.\n\nThere's no fixed limit on how many records one call creates, but the whole array is written before the response comes back, so split a very large import into several calls.\n\nEach record is new, so retrying a call that already succeeded creates every record again. If a call fails while it's writing, some of the records can already be stored, so check with [List entity records](/api-reference/list-entity-records) before you retry.\n\nUnlike [Create entity record](/api-reference/create-entity-record), this doesn't trigger the app's webhooks, automations, or workflows.\n\n<Note>This endpoint accepts a personal API key belonging to a user with access to the app. A read-only key is refused, and workspace API keys are not accepted.</Note>",
        "operationId": "bulk_create_entities_api_apps__app_id__entities__entity_name__bulk_post",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app that owns the entity.",
              "title": "App Id"
            },
            "description": "ID of the app that owns the entity.",
            "example": "6820f3a4e7b91d003c45a1f2"
          },
          {
            "name": "entity_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
              "title": "Entity Name"
            },
            "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
            "example": "Invoice"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                },
                "title": "CreateEntityRecords",
                "description": "The records to create, each a flat JSON object of the fields the entity's schema declares."
              },
              "example": [
                {
                  "amount": 4200,
                  "status": "draft",
                  "customer_email": "jane@acme.com"
                },
                {
                  "amount": 1800,
                  "status": "draft",
                  "customer_email": "jane@acme.com"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "additionalProperties": true,
                    "description": "One record in one of an app's entities.",
                    "properties": {
                      "id": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "ID of the record. Pass it as `entity_id` to [Get entity record](/api-reference/get-entity-record), [Update entity record](/api-reference/update-entity-record) or [Delete entity record](/api-reference/delete-entity-record).",
                        "example": "6886b8d390dc7e2f4a2c91b3",
                        "title": "Id"
                      },
                      "created_date": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "When the record was created, as a UTC timestamp in ISO 8601 format. A record Base44 has just created carries a `Z` suffix, and a record read back from storage does not.",
                        "example": "2026-06-01T09:23:41.481000",
                        "title": "Created Date"
                      },
                      "updated_date": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "When the record last changed, as a UTC timestamp in ISO 8601 format. A record Base44 has just created carries a `Z` suffix, and a record read back from storage does not.",
                        "example": "2026-06-04T14:07:02.115000",
                        "title": "Updated Date"
                      },
                      "created_by": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "Email of the app user who created the record, or `anonymous` when a visitor created it on an app that needs no login. Apps that hide record authorship leave this field out of the response.",
                        "example": "jane@acme.com",
                        "title": "Created By"
                      },
                      "created_by_id": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "ID of the app user who created the record, or `anonymous` when a visitor created it on an app that needs no login.",
                        "example": "6874b0c2e1a94d0031bb77de",
                        "title": "Created By Id"
                      },
                      "is_sample": {
                        "anyOf": [
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "Whether Base44 stored the record as sample data while the app was being built. A record you create reports `false`.",
                        "example": false,
                        "title": "Is Sample"
                      }
                    },
                    "title": "EntityRecord",
                    "type": "object"
                  },
                  "title": "EntityRecords"
                }
              }
            }
          },
          "400": {
            "description": "On some apps, a field value over 20,000 characters is rejected. Store large content with the UploadPublicFile integration and use the returned URL instead."
          },
          "401": {
            "description": "Missing or invalid credentials."
          },
          "403": {
            "description": "You don't have access to this app, the entity's `rls` create rule or a field-level rule doesn't cover one of the records, or your API key is read-only."
          },
          "404": {
            "description": "App not found, or the app has no entity with this name."
          },
          "405": {
            "description": "The entity is `User`, whose records can't be created in bulk."
          },
          "422": {
            "description": "The body isn't an array of JSON objects, or a record is missing a required field the entity's schema declares or has a value that doesn't match its type."
          },
          "429": {
            "description": "Rate limit exceeded. The base limit is 25 requests per minute. See [Rate limits](/developers/references/apps-api/get-started/rate-limits) for the multiplier your plan gets."
          }
        }
      },
      "put": {
        "summary": "Update entity records",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nChanges several records in one of the app's entities, each with its own fields, and returns the updated records in the order you sent them.\n\nSend a JSON array of up to 500 objects. Each one carries the `id` of a record and the fields to change on it, and an `id` can appear only once. Like [Update entity record](/api-reference/update-entity-record), this merges rather than replaces, so a field you leave out keeps its value. Fields the entity's schema doesn't declare are left out of the record instead of failing the call.\n\nEvery record is checked before any is written. If one `id` matches no record the entity's `rls` update rule lets you change, or one record doesn't match the entity's schema or a field-level rule, the call is rejected and no records change.\n\nSending the same array again sets the same values, so a retry is safe. Unlike [Update entity record](/api-reference/update-entity-record), this doesn't trigger the app's webhooks, automations, or workflows.\n\n<Note>This endpoint accepts a personal API key belonging to a user with access to the app. A read-only key is refused, and workspace API keys are not accepted.</Note>",
        "operationId": "bulk_update_entities_api_apps__app_id__entities__entity_name__bulk_put",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app that owns the entity.",
              "title": "App Id"
            },
            "description": "ID of the app that owns the entity.",
            "example": "6820f3a4e7b91d003c45a1f2"
          },
          {
            "name": "entity_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
              "title": "Entity Name"
            },
            "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
            "example": "Invoice"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the record to change, as `id` in the response of [List entity records](/api-reference/list-entity-records).",
                      "example": "6886b8d390dc7e2f4a2c91b3"
                    }
                  }
                },
                "title": "UpdateEntityRecords",
                "description": "The records to change, each with its `id` and the fields to set on it."
              },
              "example": [
                {
                  "id": "6886b8d390dc7e2f4a2c91b3",
                  "status": "paid"
                },
                {
                  "id": "6886b8d390dc7e2f4a2c91b4",
                  "amount": 1800
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "One record in one of an app's entities.",
                    "properties": {
                      "id": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "ID of the record. Pass it as `entity_id` to [Get entity record](/api-reference/get-entity-record), [Update entity record](/api-reference/update-entity-record) or [Delete entity record](/api-reference/delete-entity-record).",
                        "example": "6886b8d390dc7e2f4a2c91b3",
                        "title": "Id"
                      },
                      "created_date": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "When the record was created, as a UTC timestamp in ISO 8601 format. A record Base44 has just created carries a `Z` suffix, and a record read back from storage does not.",
                        "example": "2026-06-01T09:23:41.481000",
                        "title": "Created Date"
                      },
                      "updated_date": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "When the record last changed, as a UTC timestamp in ISO 8601 format. A record Base44 has just created carries a `Z` suffix, and a record read back from storage does not.",
                        "example": "2026-06-04T14:07:02.115000",
                        "title": "Updated Date"
                      },
                      "created_by": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "Email of the app user who created the record, or `anonymous` when a visitor created it on an app that needs no login. Apps that hide record authorship leave this field out of the response.",
                        "example": "jane@acme.com",
                        "title": "Created By"
                      },
                      "created_by_id": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "ID of the app user who created the record, or `anonymous` when a visitor created it on an app that needs no login.",
                        "example": "6874b0c2e1a94d0031bb77de",
                        "title": "Created By Id"
                      },
                      "is_sample": {
                        "anyOf": [
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ],
                        "description": "Whether Base44 stored the record as sample data while the app was being built. A record you create reports `false`.",
                        "example": false,
                        "title": "Is Sample"
                      }
                    },
                    "title": "EntityRecord"
                  },
                  "title": "EntityRecords"
                }
              }
            }
          },
          "400": {
            "description": "The array is empty or holds more than 500 items, an item has no `id` or an `id` that isn't a string, or an `id` appears twice. On some apps, a field value over 20,000 characters is rejected too."
          },
          "401": {
            "description": "Missing or invalid credentials."
          },
          "403": {
            "description": "You don't have access to this app, the entity's `rls` update rule or a field-level rule refuses a change, or your API key is read-only."
          },
          "404": {
            "description": "App not found, the app has no entity with this name, or an `id` matches no record the entity's `rls` update rule lets you change."
          },
          "422": {
            "description": "The body isn't an array of JSON objects, or a value doesn't match the type the entity's schema declares for that field."
          },
          "429": {
            "description": "Rate limit exceeded. The base limit is 25 requests per minute, and this endpoint shares it with [Update entity records by filter](/api-reference/update-entity-records-by-filter). See [Rate limits](/developers/references/apps-api/get-started/rate-limits) for the multiplier your plan gets."
          }
        }
      }
    },
    "/api/apps/{app_id}/entities/{entity_name}/import": {
      "post": {
        "summary": "Import entity records from CSV",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nCreates records in one of the app's entities from a CSV file, and returns the records it created.\n\nSend the file as `multipart/form-data` in a field named `file`. The first row has to be a header row with no blank or repeated column names. Commas, semicolons, and tabs all work as the delimiter, and the file can be up to 10 MB.\n\nBase44 pairs each of the entity's fields with the column of the same name, ignoring case, spaces, and punctuation. For any field it can't pair by name, an AI model picks a matching column or leaves the field out. Columns that match no field are ignored, and every required field needs a column.\n\nThe import is all or nothing. Every row is checked against the entity's schema before anything is written, and if one row fails, no records are created. A file Base44 can't import still returns a successful response, with `status` set to `error` and the reason in `details`, so read `status` before `output`.\n\nEach row becomes a new record, so importing the same file twice creates every record twice. Row-level security applies, so the whole call is rejected when the entity's `rls` create rule doesn't cover one of the rows. Imported records don't trigger the app's webhooks, automations, or workflows.\n\n<Note>This endpoint accepts a personal API key belonging to a user with access to the app. A read-only key is refused, and workspace API keys are not accepted.</Note>",
        "operationId": "import_entities_api_apps__app_id__entities__entity_name__import_post",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app that owns the entity.",
              "title": "App Id"
            },
            "description": "ID of the app that owns the entity.",
            "example": "6820f3a4e7b91d003c45a1f2"
          },
          {
            "name": "entity_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
              "title": "Entity Name"
            },
            "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
            "example": "Invoice"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "title": "ImportEntityRecords",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The CSV file to import, with a header row naming each column. Up to 10 MB."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The import's outcome, including when the file couldn't be imported.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ImportEntityRecordsResult",
                  "description": "The outcome of a CSV import.",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "description": "Whether the import went through. Either `\"success\"` or `\"error\"`. On `error` no records were created.",
                      "example": "success"
                    },
                    "details": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "What happened, in plain language. On `error` it says why the file couldn't be imported, for example a required field no column matched.",
                      "example": "Successfully imported 2 entities with RLS enforcement"
                    },
                    "output": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "additionalProperties": true,
                            "description": "One record in one of an app's entities.",
                            "properties": {
                              "id": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "ID of the record. Pass it as `entity_id` to [Get entity record](/api-reference/get-entity-record), [Update entity record](/api-reference/update-entity-record) or [Delete entity record](/api-reference/delete-entity-record).",
                                "example": "6886b8d390dc7e2f4a2c91b3",
                                "title": "Id"
                              },
                              "created_date": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "When the record was created, as a UTC timestamp in ISO 8601 format. A record Base44 has just created carries a `Z` suffix, and a record read back from storage does not.",
                                "example": "2026-06-01T09:23:41.481000",
                                "title": "Created Date"
                              },
                              "updated_date": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "When the record last changed, as a UTC timestamp in ISO 8601 format. A record Base44 has just created carries a `Z` suffix, and a record read back from storage does not.",
                                "example": "2026-06-04T14:07:02.115000",
                                "title": "Updated Date"
                              },
                              "created_by": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Email of the app user who created the record, or `anonymous` when a visitor created it on an app that needs no login. Apps that hide record authorship leave this field out of the response.",
                                "example": "jane@acme.com",
                                "title": "Created By"
                              },
                              "created_by_id": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "ID of the app user who created the record, or `anonymous` when a visitor created it on an app that needs no login.",
                                "example": "6874b0c2e1a94d0031bb77de",
                                "title": "Created By Id"
                              },
                              "is_sample": {
                                "anyOf": [
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "description": "Whether Base44 stored the record as sample data while the app was being built. A record you create reports `false`.",
                                "example": false,
                                "title": "Is Sample"
                              }
                            },
                            "title": "EntityRecord",
                            "type": "object"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "The records the import created, in the same shape as [List entity records](/api-reference/list-entity-records) returns them, or `null` when `status` is `error`.",
                      "example": [
                        {
                          "id": "6886b8d390dc7e2f4a2c91b3",
                          "created_date": "2026-06-01T09:23:41.481000Z",
                          "updated_date": "2026-06-01T09:23:41.481000Z",
                          "created_by": "jane@acme.com",
                          "created_by_id": "6874b0c2e1a94d0031bb77de",
                          "is_sample": false,
                          "amount": 4200,
                          "status": "draft",
                          "customer_email": "jane@acme.com"
                        }
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "details",
                    "output"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The file is over 10 MB, or on some apps a value is over 20,000 characters."
          },
          "401": {
            "description": "Missing or invalid credentials."
          },
          "403": {
            "description": "You don't have access to this app, the entity's `rls` create rule doesn't cover one of the rows, or your API key is read-only."
          },
          "404": {
            "description": "App not found, or the app has no entity with this name."
          },
          "405": {
            "description": "The entity is `User`, whose records can't be imported."
          },
          "422": {
            "description": "The request has no `file` field."
          },
          "429": {
            "description": "Rate limit exceeded. The base limit is 20 requests per minute. See [Rate limits](/developers/references/apps-api/get-started/rate-limits) for the multiplier your plan gets."
          }
        }
      }
    },
    "/api/apps/{app_id}/entities/{entity_name}/update-many": {
      "patch": {
        "summary": "Update entity records by filter",
        "description": "<Info>This API is in beta. Endpoints, fields, and behavior may still change, so avoid depending on it in production.</Info>\n\nApplies the same change to up to 500 records in one of the app's entities that match a filter, and returns how many changed.\n\nSend `query`, a filter written the same way as the `q` parameter of [List entity records](/api-reference/list-entity-records), and `data`, the change written as MongoDB update operators on the entity's field names. For example, `{\"query\": {\"status\": \"draft\"}, \"data\": {\"$set\": {\"status\": \"sent\"}}}` marks every draft as sent. A field can appear in only one operator per call, and the operators you can use are:\n- `$set`, `$unset`, and `$rename`\n- `$inc`, `$mul`, `$min`, and `$max`\n- `$currentDate`\n- `$addToSet`, `$push`, and `$pull`\n\nThe values aren't checked against the entity's schema, so a field the schema doesn't declare, or a value of another type, is stored as sent.\n\nRow-level security applies. The filter only reaches records the entity's `rls` update rule lets you change, and the rest are left alone rather than failing the call. If a field-level rule refuses the change on any matching record, the call is rejected and no records change.\n\nWhen more than 500 records match, 500 of them change and `has_more` is `true`. Call again to change the rest, with a filter that no longer matches the records you've already changed, as the draft filter in the example does. A filter that still matches them changes the same records again.\n\nRepeating `$set`, `$unset`, `$rename`, `$min`, `$max`, `$addToSet`, or `$pull` leaves the records as the first call did, so it's safe to retry. Repeating `$inc`, `$mul`, `$push`, or `$currentDate` applies the change a second time.\n\nUnlike [Update entity record](/api-reference/update-entity-record), this doesn't trigger the app's webhooks, automations, or workflows.\n\n<Note>This endpoint accepts a personal API key belonging to a user with access to the app. A read-only key is refused, and workspace API keys are not accepted.</Note>",
        "operationId": "update_many_entities_api_apps__app_id__entities__entity_name__update_many_patch",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the app that owns the entity.",
              "title": "App Id"
            },
            "description": "ID of the app that owns the entity.",
            "example": "6820f3a4e7b91d003c45a1f2"
          },
          {
            "name": "entity_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
              "title": "Entity Name"
            },
            "description": "Name of the entity, exactly as [List entity schemas](/api-reference/list-entity-schemas) reports it. Don't pass `User` here. It doesn't fail, but it reads and writes a separate, disconnected set of records stored under that name, not the app's real user accounts, which are managed through their own endpoints.",
            "example": "Invoice"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
[...]
