{
  "openapi": "3.1.0",
  "info": {
    "title": "Cloud World Model — Agent API",
    "version": "1.0.0",
    "description": "Agent-facing discovery API for Cloud World Model: 54 operations across 50 paths, including 48 metered operations with x402 prices and six operations without a per-call x402 price (wallet challenge and verification, scenario listing, x402 configuration, analysis-job lookup, and AI-job cancellation). Some read and status operations are metered; do not assume all reads are free. Check each operation's x402 price or GET /billing/x402/config for current prices. Anonymous callers can pay for metered requests with USDC on Base via `X-PAYMENT`, or optional Solana USDC via `PAYMENT-SIGNATURE` when advertised by the config endpoint — no account or API key is required for x402 payment.",
    "contact": {
      "name": "Cloud World Model API Support",
      "url": "https://www.cloudworldmodel.ai",
      "email": "api@cloudworldmodel.ai"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-jentic-source-url": "https://www.cloudworldmodel.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://www.cloudworldmodel.ai/api",
      "description": "Production"
    }
  ],
  "paths": {
    "/wallet-auth/challenge": {
      "x-stability": "stable",
      "post": {
        "tags": [
          "Wallet Auth"
        ],
        "summary": "Generate an EIP-191 sign-in challenge",
        "description": "Issues a one-time nonce for the given EVM wallet address. The caller must\nsign the returned `message` string with `personal_sign` (EIP-191) and\nsubmit the hex signature to `POST /wallet-auth/verify` within 5 minutes.\n\nRate-limited to 10 requests per IP per minute to prevent nonce-farming.\nNo authentication required.\n",
        "operationId": "walletAuthChallenge",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "walletAddress"
                ],
                "properties": {
                  "walletAddress": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "The EVM wallet address requesting a sign-in challenge",
                    "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge nonce issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "nonce",
                    "message",
                    "expiresAt"
                  ],
                  "properties": {
                    "nonce": {
                      "type": "string",
                      "description": "The random hex nonce (32 hex chars)",
                      "example": "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6"
                    },
                    "message": {
                      "type": "string",
                      "description": "The full message string to sign with personal_sign",
                      "example": "Sign in to Cloud World Model\nNonce: a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6\nExpires: 2026-01-01T00:05:00.000Z"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO-8601 timestamp when the nonce expires (5 minutes)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "description": "Rate limit exceeded — 10 challenges per IP per minute",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet-auth/verify": {
      "x-stability": "stable",
      "post": {
        "tags": [
          "Wallet Auth"
        ],
        "summary": "Generate a session token from an EIP-191 signature",
        "description": "Verifies the EIP-191 personal_sign signature for the challenge previously\nissued by `POST /wallet-auth/challenge`. On success, returns a 24-hour\nJWT session token.\n\nUse the token as `Authorization: Bearer <token>` on `GET /simulations`\nand `GET /simulations/{simulationId}` to list and retrieve simulations\nclaimed by this wallet address without a traditional API key.\n\nThe nonce is single-use and consumed on successful verification.\nNo authentication required.\n",
        "operationId": "walletAuthVerify",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "walletAddress",
                  "signature"
                ],
                "properties": {
                  "walletAddress": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "The EVM wallet address that signed the challenge",
                    "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Hex-encoded EIP-191 signature from personal_sign (0x-prefixed, 65 bytes)",
                    "example": "0x1234...ef01b"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature verified — session token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token",
                    "walletAddress",
                    "expiresIn"
                  ],
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "JWT session token (HS256, 24-hour TTL)"
                    },
                    "walletAddress": {
                      "type": "string",
                      "description": "The lowercase verified wallet address",
                      "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                    },
                    "expiresIn": {
                      "type": "integer",
                      "description": "Token lifetime in seconds (86400 = 24 hours)",
                      "example": 86400
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Invalid or expired signature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/wallet-auth/x402-session": {
      "x-stability": "stable",
      "post": {
        "tags": [
          "Wallet Auth"
        ],
        "summary": "Generate a wallet session JWT via x402 micro-payment",
        "description": "Issues a 24-hour wallet session JWT in exchange for a small USDC\nmicro-payment on Base (x402 protocol).  Designed for managed/MPC\nwallets that cannot sign EIP-191 challenges directly.\n\n**Flow:**\n1. Call this endpoint with no `X-PAYMENT` header — the server returns\n   `402 Payment Required` with the USDC amount and payment details.\n2. Submit the x402 payment and resend the request with the\n   `X-PAYMENT` header populated.\n3. On success the response body includes both a `settlement` block\n   (confirmed transaction hash) and a `walletSession` block\n   containing the JWT token and its expiry.\n\nThe issuance is idempotent per transaction hash — replaying the same\ntransaction hash returns the same session: the returned token carries\nthe same `jti` (session nonce) as the original issuance. No new\nsession record is created. The token's `iat`/`exp` timestamps differ\nbetween calls (each JWT is freshly signed), but the session identity\nbound by `jti` is stable across all replays of the same hash.\n\n**Token lifetime and persistence:** Tokens are valid for 24 hours and\nreusable across requests until they expire. Token validity **survives\nserver restarts only when the `WALLET_AUTH_JWT_SECRET` environment\nvariable is set to a stable, persistent value**. Without it, an\nephemeral per-process secret is used and all sessions are invalidated\non every redeploy. The server logs a startup warning when this variable\nis absent.\n\n**Authentication:** x402 micro-payment only (no API key required).\n",
        "operationId": "walletAuthX402Session",
        "x-x402-call-type": "wallet_session",
        "x-x402-price-usdc": "$0.0030",
        "security": [
          {
            "x402": []
          },
          {
            "x402Solana": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session JWT issued alongside x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "settlement": {
                      "type": "object",
                      "description": "x402 on-chain settlement details",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "confirmed"
                        },
                        "transactionHash": {
                          "type": "string",
                          "example": "0xabc123..."
                        }
                      }
                    },
                    "walletSession": {
                      "type": "object",
                      "description": "Issued wallet session JWT (24-hour TTL). Tokens are reusable\nacross requests until expiry. Token validity survives server\nrestarts only when the `WALLET_AUTH_JWT_SECRET` environment\nvariable is set to a stable, persistent value — without it\nsessions are invalidated on every redeploy.\n",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "JWT session token (HS256, 24-hour TTL, reusable until expiry)"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO-8601 expiry timestamp"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/X402PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/scenarios": {
      "x-stability": "stable",
      "get": {
        "tags": [
          "Discover"
        ],
        "summary": "Search available simulation templates",
        "description": "Returns the list of pre-built infrastructure scenario templates. Scenarios\ndefine a complete simulation configuration (resources, traffic, connections)\nthat can be loaded directly into a new simulation via the browser UI or the\nAPI.\n\nOptional filters narrow the catalog by provider, category, and difficulty.\nOmit all filters to receive the complete, unfiltered scenario catalog.\nCategory matching is case-insensitive.\n\n**No authentication required.**\n",
        "operationId": "listScenarios",
        "security": [],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "description": "Return scenarios containing resources from this cloud provider.",
            "schema": {
              "type": "string",
              "enum": [
                "aws",
                "gcp",
                "azure",
                "oci",
                "digitalocean"
              ]
            },
            "example": "aws"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Return scenarios in this category. Matching is case-insensitive.\nSupported catalog categories are cost, failure, networking, reliability,\nand scaling.\n",
            "schema": {
              "type": "string",
              "enum": [
                "cost",
                "failure",
                "networking",
                "reliability",
                "scaling"
              ]
            },
            "example": "reliability"
          },
          {
            "name": "difficulty",
            "in": "query",
            "required": false,
            "description": "Return scenarios at this difficulty level.",
            "schema": {
              "type": "string",
              "enum": [
                "beginner",
                "intermediate",
                "advanced"
              ]
            },
            "example": "intermediate"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of scenario templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Scenario"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/billing/x402/config": {
      "x-stability": "stable",
      "get": {
        "tags": [
          "Discover"
        ],
        "summary": "Fetch x402 pricing and payment configuration",
        "description": "Returns the x402 payment configuration for this server, including canonical\n`paymentOptions`, the legacy Base-primary fields, facilitator URL, and per-call-type\nprice table. Base USDC is the primary option. Solana USDC-SPL is an additional option\nonly when it appears in `paymentOptions`; it does not replace the Base option.\n\nAI agents can use this endpoint to discover whether x402 anonymous pay-per-request is\nenabled, choose an advertised network, and obtain the exact USDC amounts required before\nsending the option's required payment header (`X-PAYMENT` for Base or\n`PAYMENT-SIGNATURE` for optional Solana) to a metered endpoint.\n\nThis endpoint requires no authentication and is always public.\n",
        "operationId": "getX402Config",
        "security": [],
        "responses": {
          "200": {
            "description": "x402 payment configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "enabled",
                    "network",
                    "asset",
                    "payTo",
                    "paymentOptions",
                    "facilitatorUrl",
                    "creditsPerUsdc",
                    "callPrices"
                  ],
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "Whether x402 pay-per-request is active on this server.",
                      "example": true
                    },
                    "network": {
                      "type": "string",
                      "description": "Blockchain network where payments are accepted.",
                      "example": "base"
                    },
                    "asset": {
                      "type": "string",
                      "description": "USDC contract address on the configured network.",
                      "example": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
                    },
                    "payTo": {
                      "type": "string",
                      "nullable": true,
                      "description": "EVM wallet address that receives payments (null when disabled).",
                      "example": "0xYourWalletAddress"
                    },
                    "paymentOptions": {
                      "type": "array",
                      "description": "Canonical list of payment methods that can satisfy a live 402 challenge.\nBase is listed first when x402 is enabled. Solana is listed only when its\nrecipient wallet is configured, as an additional option rather than a\nreplacement for Base.\n",
                      "items": {
                        "type": "object",
                        "required": [
                          "network",
                          "asset",
                          "payTo",
                          "header"
                        ],
                        "properties": {
                          "network": {
                            "type": "string",
                            "description": "CAIP-2 network identifier, matching a 402 `accepts[].network` value.",
                            "example": "eip155:8453"
                          },
                          "asset": {
                            "type": "string",
                            "description": "USDC token contract or mint address on `network`.",
                            "example": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
                          },
                          "payTo": {
                            "type": "string",
                            "description": "Recipient wallet address on `network`, matching a 402 `accepts[].payTo` value.",
                            "example": "0xYourWalletAddress"
                          },
                          "header": {
                            "type": "string",
                            "enum": [
                              "X-PAYMENT",
                              "PAYMENT-SIGNATURE"
                            ],
                            "description": "Required request header containing the signed x402 payment payload.",
                            "example": "X-PAYMENT"
                          },
                          "feePayer": {
                            "type": "string",
                            "description": "Solana-only PayAI wallet that sponsors the transaction fee; absent for Base.",
                            "example": "2wKupLR9q6wXYppw8Gr2NvWxKBUqm4PPJKkQfoxHDBg4"
                          }
                        }
                      },
                      "example": [
                        {
                          "network": "eip155:8453",
                          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                          "payTo": "0xYourWalletAddress",
                          "header": "X-PAYMENT"
                        },
                        {
                          "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
                          "asset": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                          "payTo": "YourSolanaWalletAddress",
                          "header": "PAYMENT-SIGNATURE",
                          "feePayer": "2wKupLR9q6wXYppw8Gr2NvWxKBUqm4PPJKkQfoxHDBg4"
                        }
                      ]
                    },
                    "solana": {
                      "type": "object",
                      "nullable": true,
                      "description": "Legacy optional Solana payment details. Prefer `paymentOptions` for new integrations.",
                      "required": [
                        "network",
                        "asset",
                        "payTo"
                      ],
                      "properties": {
                        "network": {
                          "type": "string",
                          "example": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp"
                        },
                        "asset": {
                          "type": "string",
                          "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                        },
                        "payTo": {
                          "type": "string",
                          "example": "YourSolanaWalletAddress"
                        }
                      }
                    },
                    "facilitatorUrl": {
                      "type": "string",
                      "description": "Base URL of the x402 facilitator used to verify payments.",
                      "example": "https://facilitator.payai.network"
                    },
                    "creditsPerUsdc": {
                      "type": "integer",
                      "description": "How many platform credits equal 1 USDC (determines price per credit).",
                      "example": 1000
                    },
                    "callPrices": {
                      "type": "object",
                      "description": "Per-call-type price table.",
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "credits",
                          "usdcAtomicUnits",
                          "usdcDisplay"
                        ],
                        "properties": {
                          "credits": {
                            "type": "integer",
                            "description": "Number of platform credits consumed per call."
                          },
                          "usdcAtomicUnits": {
                            "type": "string",
                            "description": "Payment amount in USDC atomic units (6-decimal integer string)."
                          },
                          "usdcDisplay": {
                            "type": "string",
                            "description": "Human-readable USDC cost string, e.g. \"$0.0050\"."
                          }
                        }
                      },
                      "example": {
                        "chaos.run": {
                          "credits": 5,
                          "usdcAtomicUnits": "5000",
                          "usdcDisplay": "$0.0050"
                        },
                        "rl.step": {
                          "credits": 3,
                          "usdcAtomicUnits": "3000",
                          "usdcDisplay": "$0.0030"
                        }
                      }
                    },
                    "simulationRetentionDays": {
                      "type": "integer",
                      "description": "Number of days an x402-wallet-owned simulation is retained after its\nlast activity (step, update). Every `/step-hybrid` call on a simulation\nresets this rolling window. After the window expires, the simulation and\nall its metrics are permanently deleted by the server's cleanup sweep.\n",
                      "example": 90
                    },
                    "autoClaimOnFirstStep": {
                      "type": "boolean",
                      "description": "When `true`, an unclaimed (demo) simulation is automatically assigned to\nthe paying wallet's ownership on its first x402-authenticated\n`/step-hybrid` call. No explicit claim endpoint is required.\n",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/simulations": {
      "x-stability": "stable",
      "post": {
        "tags": [
          "Create"
        ],
        "summary": "Create a cloud simulation",
        "description": "Creates a simulation with cloud resources (compute, network, database, storage).\nThe simulation serves as the environment for RL training.\n\n**Ownership:** If an `Authorization: Bearer <key>` header is provided, the\nnew simulation is immediately assigned to that API key and is fully write-accessible\nwithout any additional steps. Without authentication the simulation is created\nas a \"demo\" simulation (`apiKeyId: null`), subject to a 20-step limit; use\n`POST /simulations/{simulationId}/claim` to adopt it once you have a key.\n",
        "operationId": "createSimulation",
        "security": [],
        "x-x402-call-type": "simulation_create",
        "x-x402-price-usdc": "$0.0030",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "oneOf": [
                  {
                    "required": [
                      "resources"
                    ],
                    "not": {
                      "anyOf": [
                        {
                          "required": [
                            "scenarioId"
                          ]
                        },
                        {
                          "required": [
                            "connections"
                          ]
                        }
                      ]
                    }
                  },
                  {
                    "required": [
                      "scenarioId"
                    ],
                    "not": {
                      "anyOf": [
                        {
                          "required": [
                            "resources"
                          ]
                        },
                        {
                          "required": [
                            "connections"
                          ]
                        }
                      ]
                    }
                  }
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable name for the simulation",
                    "example": "Production Web App Autoscaling"
                  },
                  "appWeight": {
                    "$ref": "#/components/schemas/AppWeight"
                  },
                  "scenarioId": {
                    "type": "string",
                    "description": "Live scenario identifier from the scenario catalog; mutually exclusive with resources and connections",
                    "example": "web-autoscaling"
                  },
                  "scenarioOverrides": {
                    "type": "object",
                    "description": "Scenario-only customization. Requires scenarioId and must not\nbe combined with resources or connections. Select exactly one\noverride supported by the selected catalog scenario.\n",
                    "additionalProperties": false,
                    "oneOf": [
                      {
                        "required": [
                          "eksSpotInterruption"
                        ]
                      },
                      {
                        "required": [
                          "webAutoscaling"
                        ]
                      }
                    ],
                    "properties": {
                      "eksSpotInterruption": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "startupSeconds"
                        ],
                        "properties": {
                          "startupSeconds": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 3600,
                            "description": "Catalog EKS Spot startup duration in seconds",
                            "example": 60
                          }
                        }
                      },
                      "webAutoscaling": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "includeTrafficRecovery"
                        ],
                        "properties": {
                          "includeTrafficRecovery": {
                            "type": "boolean",
                            "description": "Include the catalog Web App Autoscaling Traffic Recovery phase in the replay input before the first step.",
                            "example": true
                          }
                        }
                      }
                    }
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description of the simulation",
                    "example": "Multi-tier web application with load balancer and database"
                  },
                  "resources": {
                    "type": "array",
                    "description": "Cloud resources in the simulation; mutually exclusive with scenarioId",
                    "items": {
                      "$ref": "#/components/schemas/Resource"
                    }
                  },
                  "connections": {
                    "type": "array",
                    "description": "Network connections between resources",
                    "default": [],
                    "items": {
                      "$ref": "#/components/schemas/Connection"
                    }
                  },
                  "traffic": {
                    "type": "number",
                    "description": "Initial traffic load (requests per second)",
                    "default": 1000,
                    "example": 5000
                  },
                  "maxInstances": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Optional ceiling on the autoscaled compute fleet size, stored as\n`autoscalingConfig.maxInstances` and enforced by the engine's\nautoscale cap logic. If omitted, the provider default applies\n(AWS 50, GCP 15, Azure/OCI/DigitalOcean 10) — which may be much\nlarger than your intended fleet size.\n",
                    "example": 6
                  },
                  "minInstances": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Optional floor on the autoscaled compute fleet size, stored as\n`autoscalingConfig.minInstances`.\n",
                    "example": 2
                  },
                  "autoscalingTargetCpu": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Canonical CPU HPA scale-out target. This targeted override wins over the provider default while CWM synthesizes all unrelated autoscaling defaults. If more than one supported target name is sent, every value must agree. Simulation-wide by default: sent at this top level, the engine applies one CPU threshold identically to every resource's scale decision. To override the threshold for ONE resource only, nest the same canonical name (or one of its three aliases) under that resource's `characteristics` as `scaleOutCpuThreshold` instead — every other resource keeps using the simulation-wide default. A misplaced or misnamed CPU-target field name (e.g. `autoscalingTargetCpuPercent`, `targetCPUUtilizationPercentage`) is rejected with 400 at either level, never silently dropped and defaulted.\n",
                    "example": 70
                  },
                  "ecsCpuTargetTracking": {
                    "type": "boolean",
                    "description": "Opt in to ECS Fargate CPU-only target tracking. Requires an AWS Fargate compute resource. Uses autoscalingTargetCpu as the target; latency and throughput do not trigger ECS scaling. The effective policy is persisted on resource.characteristics.applicationAutoscalingPolicy.\n"
                  },
                  "scaleOutCooldownSeconds": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400,
                    "description": "ECS CPU target-tracking scale-out cooldown in simulated seconds; requires ecsCpuTargetTracking."
                  },
                  "scaleInCooldownSeconds": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 86400,
                    "description": "ECS CPU target-tracking scale-in cooldown in simulated seconds; requires ecsCpuTargetTracking."
                  },
                  "simulationSecondsPerStep": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "maximum": 60,
                    "description": "Simulated seconds per step for ECS cooldowns (default 1); requires ecsCpuTargetTracking."
                  },
                  "scaleOutCpuThreshold": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Equivalent alias for `autoscalingTargetCpu`.",
                    "example": 70
                  },
                  "scaleOutCpuPercent": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Grok-compatible alias for `autoscalingTargetCpu`.",
                    "example": 70
                  },
                  "autoscaleTargetCpuPercent": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Grok-compatible alias for `autoscalingTargetCpu`.",
                    "example": 70
                  },
                  "resilienceConfig": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ResilienceConfig"
                      }
                    ],
                    "description": "Optional retry/cascade resilience model. When present, the step engine\nmodels retry amplification, circuit-breaker state, rate limiting, and\ncascading-failure depth across declared `dependencies`. Set an edge's\ntimeout and retry count at\n`resilienceConfig.dependencies[].retryPolicy.timeoutMs` and\n`resilienceConfig.dependencies[].retryPolicy.maxRetries`. The same\npolicy accepts backoffMs, backoffMultiplier, jitterRatio,\nretryBudgetRatio, retryBudgetRps, and retryActorId. Omitted values\nretain defaults (timeoutMs 2000, maxRetries 2). Omit resilienceConfig\nto leave the resilience model disabled (byte-identical to existing behavior).\n",
                    "example": {
                      "enabled": true,
                      "dependencies": [
                        {
                          "id": "web-to-db",
                          "sourceId": "web-1",
                          "targetId": "db-1",
                          "retryPolicy": {
                            "timeoutMs": 10000,
                            "maxRetries": 0
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "examples": {
                "awsWebApp": {
                  "summary": "AWS multi-tier web application",
                  "value": {
                    "name": "AWS Production Web App",
                    "description": "Multi-tier web application on AWS with load balancer and RDS",
                    "traffic": 5000,
                    "resources": [
                      {
                        "id": "r1",
                        "name": "ALB",
                        "type": "network",
                        "provider": "aws",
                        "serviceFamily": "elb",
                        "region": "us-east-1",
                        "config": {
                          "tier": "standard",
                          "targetCapacity": 10000
                        }
                      },
                      {
                        "id": "r2",
                        "name": "App Server",
                        "type": "compute",
                        "provider": "aws",
                        "serviceFamily": "ec2",
                        "region": "us-east-1",
                        "config": {
                          "instanceType": "t3.large",
                          "instances": 4,
                          "autoScaling": true,
                          "minInstances": 2,
                          "maxInstances": 12
                        }
                      },
                      {
                        "id": "r3",
                        "name": "Primary DB",
                        "type": "database",
                        "provider": "aws",
                        "serviceFamily": "rds",
                        "region": "us-east-1",
                        "config": {
                          "instanceType": "db.r5.large",
                          "multiAZ": true
                        }
                      },
                      {
                        "id": "r4",
                        "name": "Static Assets",
                        "type": "storage",
                        "provider": "aws",
                        "serviceFamily": "s3",
                        "region": "us-east-1",
                        "config": {
                          "storageGB": 500
                        }
                      }
                    ]
                  }
                },
                "digitalOceanWebApp": {
                  "summary": "DigitalOcean web application (Droplets + Managed PostgreSQL)",
                  "value": {
                    "name": "DO Production Web App",
                    "description": "Multi-tier web application on DigitalOcean with Droplets, Managed PostgreSQL, Spaces, and Load Balancer",
                    "traffic": 3000,
                    "resources": [
                      {
                        "id": "r1",
                        "name": "DO Load Balancer",
                        "type": "network",
                        "provider": "digitalocean",
                        "serviceFamily": "load_balancer",
                        "region": "nyc3",
                        "config": {
                          "tier": "standard",
                          "targetCapacity": 5000
                        }
                      },
                      {
                        "id": "r2",
                        "name": "App Droplets",
                        "type": "compute",
                        "provider": "digitalocean",
                        "serviceFamily": "droplets",
                        "region": "nyc3",
                        "config": {
                          "instanceType": "s-4vcpu-8gb",
                          "instances": 3,
                          "autoScaling": true,
                          "minInstances": 2,
                          "maxInstances": 8
                        }
                      },
                      {
                        "id": "r3",
                        "name": "Managed PostgreSQL",
                        "type": "database",
                        "provider": "digitalocean",
                        "serviceFamily": "managed_postgresql",
                        "region": "nyc3",
                        "config": {
                          "instanceType": "db-s-2vcpu-4gb",
                          "multiAZ": true
                        }
                      },
                      {
                        "id": "r4",
                        "name": "Spaces Object Storage",
                        "type": "storage",
                        "provider": "digitalocean",
                        "serviceFamily": "spaces",
                        "region": "nyc3",
                        "config": {
                          "storageGB": 500
                        }
                      }
                    ]
                  }
                },
                "digitalOceanTrafficSpike": {
                  "summary": "DigitalOcean traffic spike — triggers DOKS HPA Droplet scale-out",
                  "value": {
                    "name": "DO Traffic Spike Autoscaling",
                    "description": "Demonstrates DigitalOcean DOKS Horizontal Pod Autoscaler (HPA) scaling\nDroplets during a sudden traffic surge. Starting traffic (80 000 RPS) is\ndeliberately above the capacity of a single s-2vcpu-4gb Droplet to\nguarantee that CPU breaches the 75 % HPA threshold and triggers automatic\nDroplet provisioning within one simulation step (150 s cooldown window).\nRun the simulation and observe DOKS HPA scale-out events in the event log.\n",
                    "traffic": 80000,
                    "resources": [
                      {
                        "id": "r1",
                        "name": "DO Load Balancer",
                        "type": "network",
                        "provider": "digitalocean",
                        "serviceFamily": "load_balancer",
                        "region": "nyc3",
                        "config": {
                          "tier": "standard",
                          "targetCapacity": 100000
                        }
                      },
                      {
                        "id": "r2",
                        "name": "droplet-01",
                        "type": "compute",
                        "provider": "digitalocean",
                        "serviceFamily": "droplets",
                        "region": "nyc3",
                        "config": {
                          "instanceType": "s-2vcpu-4gb",
                          "instances": 1,
                          "autoScaling": true,
                          "minInstances": 1,
                          "maxInstances": 10
                        }
                      },
                      {
                        "id": "r3",
                        "name": "Managed PostgreSQL",
                        "type": "database",
                        "provider": "digitalocean",
                        "serviceFamily": "managed_postgresql",
                        "region": "nyc3",
                        "config": {
                          "instanceType": "db-s-1vcpu-1gb",
                          "multiAZ": false
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Simulation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Simulation"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "effectiveMaxInstances": {
                          "type": "integer",
                          "description": "The autoscaled fleet-size ceiling the engine will enforce —\n`autoscalingConfig.maxInstances` when set, otherwise the\nprimary provider's default (AWS 50, GCP 15,\nAzure/OCI/DigitalOcean 10).\n"
                        },
                        "effectiveMinInstances": {
                          "type": "integer",
                          "description": "The autoscaled fleet-size floor the engine will enforce —\n`autoscalingConfig.minInstances` when set, otherwise the\nprimary provider's default.\n"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "get": {
        "tags": [
          "Simulations"
        ],
        "summary": "List simulations for the authenticated caller",
        "description": "Returns simulations owned by the authenticated caller.\n\n**API key callers:** Returns all simulations assigned to the API key.\nAdmin-scoped keys receive all simulations across all keys.\n\n**Wallet session callers:** Returns simulations claimed by the wallet\naddress (where `ownerWallet` matches), paginated via `limit` and `offset`\nquery parameters and sorted by `updatedAt` descending. The response shape\ndiffers — it is an object `{ simulations, total, limit, offset }` rather\nthan a plain array.\n\nRequires `read` scope or a valid wallet session JWT.\n",
        "operationId": "listSimulations",
        "security": [],
        "x-x402-call-type": "simulation_list",
        "x-x402-price-usdc": "$0.0030",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Maximum number of simulations to return (wallet session only)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Number of simulations to skip (wallet session only)"
          }
        ],
        "responses": {
          "200": {
            "description": "Simulations list",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "description": "Array of simulations (API key callers)",
                      "items": {
                        "$ref": "#/components/schemas/Simulation"
                      }
                    },
                    {
                      "type": "object",
                      "description": "Paginated response (wallet session callers)",
                      "required": [
                        "simulations",
                        "total",
                        "limit",
                        "offset"
                      ],
                      "properties": {
                        "simulations": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Simulation"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total simulations matching the wallet address"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/WalletAuthUnauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/simulations/{simulationId}": {
      "x-stability": "stable",
      "parameters": [
        {
          "name": "simulationId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Simulation UUID",
          "example": "550e8400-e29b-41d4-a716-446655440000"
        }
      ],
      "get": {
        "tags": [
          "Create"
        ],
        "summary": "Fetch a simulation by ID",
        "description": "Returns the full state of a simulation including its resources,\ncurrent time step, traffic load, and autoscaling history.\nRequires `read` scope and ownership.\n",
        "operationId": "getSimulation",
        "security": [],
        "x-x402-call-type": "simulation_get",
        "x-x402-price-usdc": "$0.0030",
        "responses": {
          "200": {
            "description": "Simulation state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Simulation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/WalletAuthUnauthorized"
          },
          "403": {
            "description": "Access denied — caller does not own this simulation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/simulations/{simulationId}/cost-breakdown": {
      "x-stability": "stable",
      "get": {
        "tags": [
          "Simulations"
        ],
        "summary": "Fetch the latest per-resource cost breakdown",
        "description": "Returns the per-resource hourly cost array from the simulation's most\nrecent metrics record, joined with each resource's current status and\nserving state. `status` is raw health severity/cooldown; use\n`availabilityState`, `isRoutable`, and `routedRps` to determine whether\nthe resource is currently serving. A critical resource may therefore be\n`availabilityState: degraded` with `isRoutable: true` after it rejoins\nrouting. Use this after a failure or traffic surge to identify resources\nthat continue billing while genuinely unavailable (\"residual\" spend).\n\n`totalCostPerHour` is the exact sum of all `resources[].costPerHour`\nvalues. The response is always a flat array (no paging, no metrics\nhistory), making it cheap to call between scenario steps.\n\nAurora Serverless v2 rows identify writer/reader role, reader scaling\nmode, billable ACU and the per-ACU-hour rate. An unavailable quick-failure\nwriter retains its pre-failure allocated ACU in this model; this is a\nmodeling assumption, not a claim that AWS bills a failed instance like\na stopped cluster. AWS distinguishes stopped clusters from running\ninstances: https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/aurora-cluster-stop-start.html\n(reviewed 2026-09-25). Aurora capacity/reader behavior:\nhttps://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/aurora-serverless-v2.how-it-works.html\n(reviewed 2026-09-25).\n\nOpenShift rows retain their billing metadata. For ARO, compare like-for-like\nunits: `publishedUnitRatePerHour` is the official `$0.171/hour` rate per\n4-vCPU billing unit, while `derivedPlatformFeePerHour` and `costPerHour`\nare the topology-derived total. For example, three 2-vCPU workers produce\n`effectiveWorkerVcpu: 6` and a `$0.2565/hour` platform total\n(`publishedUnitRatePerHour × effectiveWorkerVcpu ÷ billingUnitVcpu`).\nPlatform, control-plane, and worker rows are separate additive entries;\nthe estimated control-plane charge must not be folded into the platform\nunit comparison or added a second time.\n\nReturns 404 when the simulation has not been stepped yet (no metrics\nrecord exists). Requires `read` scope and ownership, or an x402\nmicro-payment (`simulation_cost_breakdown`, $0.0030).\n",
        "operationId": "getSimulationCostBreakdown",
        "security": [],
        "x-x402-call-type": "simulation_cost_breakdown",
        "x-x402-price-usdc": "$0.0030",
        "parameters": [
          {
            "name": "simulationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Simulation UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Latest per-resource cost breakdown",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "simulationId",
                    "stepIndex",
                    "totalCostPerHour",
                    "residualCostPerHour",
                    "residualCostDefinition",
                    "resources"
                  ],
                  "properties": {
                    "simulationId": {
                      "type": "string",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "stepIndex": {
                      "type": "number",
                      "description": "Simulation step (metrics timestamp) the breakdown was computed at",
                      "example": 42
                    },
                    "totalCostPerHour": {
                      "type": "number",
                      "description": "Exact sum of all resources[].costPerHour values (USD/hr)",
                      "example": 1.77
                    },
                    "residualCostPerHour": {
                      "type": "number",
                      "description": "Exact subtotal of costPerHour for resources that are currently unavailable/parked or stopped. Healthy/degraded idle resources, including ALBs, are excluded.",
                      "example": 0.045
                    },
                    "residualCostDefinition": {
                      "type": "string",
                      "description": "Explains which billed resources are included in residualCostPerHour; totalCostPerHour includes all billed resources.",
                      "example": "Unavailable, parked, or stopped resource costs only. Healthy or degraded idle resources, including ALBs, are excluded; totalCostPerHour remains the complete billed total."
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "resourceId",
                          "name",
                          "resourceType",
                          "provider",
                          "costPerHour",
                          "status"
                        ],
                        "properties": {
                          "resourceId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "example": "app-nat"
                          },
                          "resourceType": {
                            "type": "string",
                            "example": "network"
                          },
                          "provider": {
                            "type": "string",
                            "example": "aws"
                          },
                          "costPerHour": {
                            "type": "number",
                            "example": 0.045
                          },
                          "instanceRole": {
                            "type": "string",
                            "enum": [
                              "writer",
                              "reader"
                            ],
                            "description": "Aurora Serverless v2 instance role."
                          },
                          "scalingMode": {
                            "type": "string",
                            "enum": [
                              "writer-mirror",
                              "independent"
                            ],
                            "description": "Reader promotion tier 0/1 mirror or tier 2–15 independent mode."
                          },
                          "billableAcu": {
                            "type": "number",
                            "description": "Allocated ACU billed for this instance; frozen pre-failure ACU on modeled quick writer park."
                          },
                          "ratePerAcuHour": {
                            "type": "number",
                            "description": "Aurora per-instance ACU-hour rate derived from the authoritative AWS rate."
                          },
                          "rateBasis": {
                            "type": "string"
                          },
                          "billingReason": {
                            "type": "string"
                          },
                          "rdsSqlServerBilling": {
                            "$ref": "#/components/schemas/RdsSqlServerBillingResult"
                          },
                          "storageCostPerHour": {
                            "type": "number",
                            "description": "RDS SQL Server allocated-storage component expressed as USD/hr."
                          },
                          "storageGb": {
                            "type": "number",
                            "description": "Normalized allocated RDS SQL Server storage in GiB."
                          },
                          "status": {
                            "type": "string",
                            "description": "Current resource status (\"stopped\" when billingState is stopped; \"billed\" for synthetic egress/data-transfer charges; \"removed\" when a real resource no longer exists)",
                            "enum": [
                              "healthy",
                              "warning",
                              "critical",
                              "stopped",
                              "billed",
                              "removed"
                            ]
                          },
                          "availabilityState": {
                            "type": "string",
                            "enum": [
                              "available",
                              "degraded",
                              "unavailable",
                              "scaled_to_zero",
                              "cold_start"
                            ],
                            "description": "Current serving classification for compute, Kubernetes, and database rows. `available` means healthy and serving; `degraded` means warning or critical severity while still serving; `unavailable` means a failed or parked resource is not serving. `scaled_to_zero` means an ECS Fargate service has no running tasks; `cold_start` means its tasks are starting and not yet routable. These Fargate lifecycle states are distinct from generic `unavailable`. Do not infer unavailability from status: critical alone.\n"
                          },
                          "isRoutable": {
                            "type": "boolean",
                            "description": "Whether this resource is currently receiving routed traffic. True for available/degraded rows and false for unavailable, scaled_to_zero, or cold_start rows."
                          },
                          "routedRps": {
                            "type": "number",
                            "description": "Current routed requests per second for tracked compute, Kubernetes, and database rows when available."
                          },
                          "offering": {
                            "type": "string",
                            "description": "OpenShift offering associated with this row, when the resource is an OpenShift overlay."
                          },
                          "chargeType": {
                            "type": "string",
                            "enum": [
                              "platform",
                              "control-plane",
                              "worker"
                            ],
                            "description": "OpenShift accounting component; platform, control-plane, and worker rows are additive."
                          },
                          "pricingStatus": {
                            "type": "string",
                            "enum": [
                              "official",
                              "estimated"
                            ],
                            "description": "Provenance status for the pricing represented by this row."
                          },
                          "pricingSource": {
                            "type": "string",
                            "description": "Pricing source associated with this row."
                          },
                          "effectiveDate": {
                            "type": "string",
                            "description": "ISO date of the pricing evidence represented by this row."
                          },
                          "referenceRegion": {
                            "type": "string",
                            "description": "Region represented by the published pricing evidence."
                          },
                          "pricingArithmetic": {
                            "type": "string",
                            "description": "Published amount and conversion used for an OpenShift platform/license row."
                          },
                          "billingUnit": {
                            "type": "string",
                            "enum": [
                              "4-vcpu-hour",
                              "cluster-hour"
                            ],
                            "description": "Published OpenShift platform billing unit used before topology proration."
                          },
                          "billingUnitVcpu": {
                            "type": "number",
                            "description": "Number of worker vCPUs in one published billing unit; 4 for ARO."
                          },
                          "publishedUnitRatePerHour": {
                            "type": "number",
                            "description": "Published platform rate for one billing unit, before topology proration. For ARO this is $0.171/hour per 4 vCPU in the published East US reference."
                          },
                          "effectiveWorkerCount": {
                            "type": "integer",
                            "description": "Total worker count represented by the derived OpenShift platform charge."
                          },
                          "effectiveWorkerVcpu": {
                            "type": "number",
                            "description": "Total worker vCPU-equivalents used to prorate the published platform unit."
                          },
                          "derivedPlatformFeePerHour": {
                            "type": "number",
                            "description": "Topology-derived platform charge; equals publishedUnitRatePerHour × effectiveWorkerVcpu ÷ billingUnitVcpu for ARO. For three 2-vCPU workers this is $0.2565/hour, not a second published rate."
                          },
                          "workerTopology": {
                            "type": "object",
                            "description": "Per-pool worker quantities used to derive the OpenShift platform charge.",
                            "required": [
                              "workerCount",
                              "effectiveWorkerVcpu",
                              "nodePools"
                            ],
                            "properties": {
                              "workerCount": {
                                "type": "integer"
                              },
                              "effectiveWorkerVcpu": {
                                "type": "number"
                              },
                              "nodePools": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "name",
                                    "workerCount",
                                    "workerVcpu",
                                    "effectiveWorkerVcpu"
                                  ],
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "workerCount": {
                                      "type": "integer"
                                    },
                                    "workerVcpu": {
                                      "type": "number"
                                    },
                                    "effectiveWorkerVcpu": {
                                      "type": "number"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/WalletAuthUnauthorized"
          },
          "403": {
            "description": "Access denied — caller does not own this simulation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Simulation not found, or no metrics record exists yet (simulation not stepped)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/simulations/{simulationId}/provider-api-limits": {
      "x-stability": "experimental",
      "post": {
        "tags": [
          "Simulations"
        ],
        "summary": "Simulate provider quotas, throttling, retries, and concurrency",
        "description": "Use this operation for provider quotas, API throttling, retries,\nbackoff, queueing, worker/concurrency limits, and other control-plane\noperations. It runs a bounded, synchronous workload through Cloud World\nModel's deterministic provider-limit scheduler and models throttling,\nqueueing, throughput, completion, retries, timeouts, failures,\ndependency blocking, and optional concurrency comparisons.\n\nThis is simulated provider-control-plane data, not a provider SDK or a\nlive quota lookup. It never calls AWS, Azure, GCP, DigitalOcean, OCI,\nor any other provider API, discovers negotiated quotas, creates\nresources, persists the workload, or changes the simulation's resource\ngraph or /step state. Provider throttling in the result is distinct\nfrom CWM's own HTTP 429/rate-limit middleware. Use resource `/step` for\ncloud workload behavior and use `/simulations/stateless` for the\nseparate stateless resource simulation; neither substitutes for this\nprovider-limit operation.\n\nSupply one service per request: the top-level `service` applies to\nevery operation group in the DAG. To compare services, submit separate\nrequests. Supported exact provider/service/operation/category tuples\nresolve with `result.policyResolutions[].policySource` set to\n`catalog_default`; unsupported tuples return `unsupported_policy`\nwithout a scoped caller override.\n\nExecution is protected by a 2-second wall-clock deadline and a\nprocess-local admission limit of two concurrent runs. Identical active\nor recently interrupted workloads, and workloads submitted while\nexecution capacity is full, are rejected with HTTP 409 and must not be\nautomatically retried. Deadline expiry is an HTTP 422 non-retryable\nfailure.\n\nCatalog defaults cover `aws.ec2.mutating-api` (`service: ec2`,\n`operation: mutating`, `category: compute`), AWS Elastic Load Balancing\nv1 and v2 (`service: elbv1` or `elbv2`, `category: network`), and Azure\nResource Manager read/write buckets. For each ELB service the exact\nsupported operations are `resource-intensive`, `registration`,\n`non-mutating`, and `mutating`, yielding `aws.elbv1.resource-intensive`,\n`aws.elbv1.registration`, `aws.elbv1.non-mutating`,\n`aws.elbv1.mutating`, `aws.elbv2.resource-intensive`,\n`aws.elbv2.registration`, `aws.elbv2.non-mutating`, and\n`aws.elbv2.mutating`. These are documented API action categories,\nnot arbitrary AWS action names. Do not infer an ELB category for an\nuncategorized action or interchange ELBv1 and ELBv2 buckets.\nAurora Serverless v1 Data API has two **independent** catalog models\n(`service: rds-data-api-aurora-serverless-v1`, `category: database`):\n`operation: requests-per-second` resolves\n`aws.rds-data-api-aurora-serverless-v1.requests-per-second` (1,000\nrequests/second per account in the current Region);\n`operation: concurrent-requests` resolves\n`aws.rds-data-api-aurora-serverless-v1.concurrent-requests` (500\nconcurrent requests to ONE cluster using the SAME secret, with excess\nrequests queued). Do not interpret them as joint enforcement of one\nworkload. A request mixing these two selectors is rejected; send\nseparate requests and do not treat results as simultaneous enforcement.\nBoth require `quotaScope.account`; concurrency additionally\nrequires `quotaScope.resource`, an opaque cluster-secret-pair label,\nnever an actual secret. The rate model has no documented burst; its\nfixed 1-second scheduler window approximates the AWS rate limit, not\nAWS's documented timing. Source:\nhttps://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Limits.html\nGeneric RDS control-plane, Aurora Serverless v2 Data API, and\nprovisioned Aurora Data API are not covered by these selectors.\nAWS IAM, generic RDS control-plane, EC2 Auto Scaling, Application Auto Scaling,\nand S3 control-plane requests have no numeric scheduler-compatible\npublic baseline in this catalog. S3 object per-prefix throughput is\ndata-plane guidance, not a control-plane quota. Such tuples, as well\nas GCP, DigitalOcean, and OCI tuples without a caller-supplied quota\noverride, return `unsupported_policy` rather than HTTP 429. Overrides must use a\nconcrete account, subscription, or project scope and include\ncaller-supplied provenance. The catalog policy source, documentation\nreference, confidence, and as-of date are returned in `provenance`\nand `result.policyResolutions`.\n\nEC2 Auto Scaling (`service: ec2-auto-scaling`, `category: compute`) initially\nmodels `DescribeAutoScalingGroups`, `DescribeScheduledActions`,\n`CreateAutoScalingGroup`, `UpdateAutoScalingGroup`, `SetDesiredCapacity`,\nand `DeleteAutoScalingGroup`. AWS documents one shared account API token\nbucket, `RateExceeded` on throttle, and no public numeric capacity/refill\npair. Use one account/Region-scoped caller `operation: all` token-bucket\noverride with caller-verified burst capacity and refill for these six\noperation groups. Put `operation: all` on the override policy and its\npolicy `scope`, not on the request's `quotaScope`; the latter can omit\n`operation` for a mixed workload. They contend for the same bucket.\nOther operations do not inherit this six-action override. Mark `throttled` retryable and\nconfigure exponential backoff to model client retry behavior. This is\nnot an Auto Scaling resource/configuration quota or an EC2 API bucket.\nAWS advises `IncludeInstances=false` for `DescribeAutoScalingGroups`\nto omit instance details; this advice does not change modeled token\nconsumption, latency, or quota. See\nhttps://docs.aws.amazon.com/autoscaling/ec2/APIReference/Welcome.html\nand docs/aws-api-limit-evidence.md for the evidence gap.\n\n`latency` is required because it is a Cloud World Model client-side\nmodel input: provide measured client values when available. If no\nmeasurements are available, use the canonical baseline\n`meanMs: 40`, `p95Ms: 80`, and `timeoutMs: 5000` shown below. These\nvalues are simulation guidance, not AWS service defaults and not a\nlive AWS latency claim. The same applies to every latency and retry\nvalue in this operation.\n\nFor mixed workloads, each `result.policyResolutions` entry is keyed by\noperation category, operation, and resource group (resource is omitted\nwhen absent). Multiple operation IDs with the same three values share\none resolution. Its `accounting` counts that group's planned units,\nattempts, retries, throttles, and completions; summing these fields\nacross resolutions gives the corresponding `result.accounting` totals.\nAttempts count initial and retry attempts, while retries and throttles\ncan count the same work, so do not sum different fields together.\nFor the `mixedAwsEc2Groups` request example below, the modeled result\ncontains this fragment (other result fields are omitted):\n\n```json\n{\n  \"policyResolutions\": [\n    {\"operationCategory\":\"compute\",\"operation\":\"mutating\",\"resource\":\"fleet-a\",\"policySource\":\"catalog_default\",\"accounting\":{\"plannedOperations\":3,\"attemptedOperations\":3,\"retryOperations\":0,\"throttledOperations\":0,\"completedOperations\":3,\"denominator\":\"planned_operations\"}},\n    {\"operationCategory\":\"compute\",\"operation\":\"mutating\",\"resource\":\"fleet-b\",\"policySource\":\"catalog_default\",\"accounting\":{\"plannedOperations\":2,\"attemptedOperations\":2,\"retryOperations\":0,\"throttledOperations\":0,\"completedOperations\":2,\"denominator\":\"planned_operations\"}}\n  ],\n  \"accounting\": {\"plannedOperations\":5,\"attemptedOperations\":5,\"retryOperations\":0,\"throttledOperations\":0,\"completedOperations\":5,\"failedOperations\":0,\"timedOutOperations\":0,\"dependencyBlockedOperations\":0,\"unsupportedOperations\":0,\"pendingOperations\":0,\"terminalOperations\":5,\"denominator\":\"planned_operations\"}\n}\n```\n\nOmitting `retry` selects the one-attempt, no-backoff baseline:\n`maxAttempts: 1`, `baseBackoffMs: 0`, `maxBackoffMs: 0`,\n`backoffMultiplier: 2`, `jitterRatio: 0`, and no retryable outcomes.\nThe retry object models caller/client behavior; it does not describe\nAWS retry defaults or an AWS SDK configuration.\n\nBounds: up to 256 operation groups, 100,000 aggregate planned units\nacross all distinct concurrency-sweep runs, 500,000 estimated attempts\n(aggregate planned units multiplied by `retry.maxAttempts`), 1,000\nworkers, 1,000 concurrency, 16 concurrency sweep values, 10 retry\nattempts, and 1,000,000 scheduler events. Aggregate work-budget checks\nrun before authentication billing or demo-quota consumption and return\nHTTP 413 when exceeded. Results with more than 1,000 planned operations\nomit per-unit detail: `result.operations` is empty and\n`result.outputDetail` is `summary_only`. This endpoint is a modeled\nsimulation, not a provider SDK or drop-in provider API.\n",
        "operationId": "simulateProviderApiLimits",
        "security": [],
        "x-x402-call-type": "provider_api_limits",
        "x-x402-price-usdc": "$0.0030",
        "parameters": [
          {
            "name": "simulationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owned simulation UUID used for access control and result context; workload state is not persisted."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "provider",
                  "region",
                  "service",
                  "operations",
                  "latency"
                ],
                "properties": {
                  "contractVersion": {
                    "type": "integer",
                    "enum": [
                      1
                    ],
                    "default": 1,
                    "description": "Version of the provider API-limit simulation input contract."
                  },
                  "provider": {
                    "type": "string",
                    "enum": [
                      "aws",
                      "gcp",
                      "azure",
                      "oci",
                      "digitalocean"
                    ],
                    "description": "Cloud provider whose modeled API quota policy will be applied."
                  },
                  "region": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Provider region used to resolve regional quota policies."
                  },
                  "service": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "description": "Provider service whose API operations will be simulated."
                  },
                  "operations": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 256,
                    "description": "DAG operation groups. Each item has id, operation, category,\nplannedCount (1..100,000), optional resource, and\ndependsOn IDs. The aggregate planned count is bounded at\n100,000.\n",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "id",
                        "operation",
                        "category",
                        "plannedCount"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128,
                          "description": "Unique identifier for this operation group and its dependencies."
                        },
                        "operation": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128,
                          "description": "Provider operation class or operation name used to select applicable quota policies."
                        },
                        "category": {
                          "type": "string",
                          "enum": [
                            "compute",
                            "database",
                            "storage",
                            "network",
                            "kubernetes",
                            "identity",
                            "monitoring",
                            "quota",
                            "other"
                          ],
                          "description": "Service category used to resolve provider API-limit policies."
                        },
                        "plannedCount": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 100000,
                          "description": "Number of operations in this group to schedule."
                        },
                        "dependsOn": {
                          "type": "array",
                          "maxItems": 32,
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128,
                            "description": "ID of a prerequisite operation group."
                          }
                        },
                        "resource": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128,
                          "description": "Optional opaque resource label used to match resource-scoped quota policies."
                        }
                      }
                    }
                  },
                  "workerCount": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000,
                    "default": 1,
                    "description": "Number of simulated workers issuing the planned operations."
                  },
                  "maxConcurrency": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000,
                    "default": 1,
                    "description": "Maximum simultaneous in-flight operations scheduled across workers."
                  },
                  "concurrencySweep": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "values"
                    ],
                    "properties": {
                      "values": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 16,
                        "uniqueItems": true,
                        "description": "Concurrency levels at which to repeat the modeled workload.",
                        "items": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 1000,
                          "description": "A distinct number of simultaneous in-flight operations to evaluate."
                        }
                      }
                    }
                  },
                  "latency": {
                    "type": "object",
                    "additionalProperties": false,
                    "description": "Required caller-supplied latency assumptions used by the scheduler.",
                    "required": [
                      "meanMs",
                      "p95Ms",
                      "timeoutMs"
                    ],
                    "properties": {
                      "meanMs": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 120000,
                        "description": "Caller-supplied mean operation latency in milliseconds."
                      },
                      "p95Ms": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 120000,
                        "description": "Caller-supplied P95 operation latency in milliseconds."
                      },
                      "timeoutMs": {
                        "type": "number",
                        "exclusiveMinimum": 0,
                        "maximum": 120000,
                        "description": "Caller-side request timeout in milliseconds."
                      },
                      "jitterMs": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 120000,
                        "default": 0,
                        "description": "Maximum modeled latency variation in milliseconds."
                      }
                    }
                  },
                  "retry": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "maxAttempts": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 10,
                        "default": 1
                      },
                      "baseBackoffMs": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 60000,
                        "default": 0
                      },
                      "maxBackoffMs": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 600000,
                        "default": 0
                      },
                      "backoffMultiplier": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 10,
                        "default": 2
                      },
                      "jitterRatio": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1,
                        "default": 0
                      },
                      "retryable": {
                        "type": "array",
                        "maxItems": 3,
                        "uniqueItems": true,
                        "items": {
                          "type": "string",
                          "enum": [
                            "throttled",
                            "timeout",
                            "server_error"
                          ]
                        }
                      }
                    }
                  },
                  "quotaScope": {
                    "type": "object",
                    "description": "Scope dimensions; region and service must match the request. Aurora Serverless v1 Data API requires account for both selectors; concurrent-requests additionally requires resource as an opaque cluster-secret-pair label, never an actual secret.",
                    "additionalProperties": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128
                    }
                  },
                  "quotaOverrides": {
                    "type": "array",
                    "maxItems": 32,
                    "description": "Caller-supplied policy overrides with concrete account, subscription, or project scope. Optional concurrencyOverflow queue/reject applies to concurrency ceilings; absent retains reject behavior.",
                    "items": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "concurrencyOverflow": {
                          "type": "string",
                          "enum": [
                            "queue",
                            "reject"
                          ],
                          "description": "Optional concurrency-ceiling overflow behavior; absent retains reject behavior."
                        }
                      }
                    }
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4294967295,
                    "default": 0,
                    "description": "Seed used to make randomized scheduler outcomes reproducible."
                  },
                  "concurrency": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000,
                    "description": "Fixed simulated concurrency when a concurrency sweep is not used."
                  },
                  "failureProbability": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 0,
                    "description": "Probability that an operation encounters a modeled transient failure."
                  },
                  "maxThrottleRate": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 1,
                    "description": "Upper bound on the fraction of planned operations the scheduler may throttle."
                  },
                  "maxEvents": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000000,
                    "default": 1000000,
                    "description": "Maximum scheduler events permitted for this request."
                  }
                }
              },
              "examples": {
                "canonicalAwsEc2": {
                  "summary": "Scenario-independent AWS EC2 mutating workload",
                  "value": {
                    "provider": "aws",
                    "region": "us-east-1",
                    "service": "ec2",
                    "operations": [
                      {
                        "id": "launch",
                        "operation": "mutating",
                        "category": "compute",
                        "plannedCount": 5
                      }
                    ],
                    "workerCount": 2,
                    "maxConcurrency": 2,
                    "concurrency": 2,
                    "latency": {
                      "meanMs": 40,
                      "p95Ms": 80,
                      "timeoutMs": 5000,
                      "jitterMs": 0
                    },
                    "retry": {
                      "maxAttempts": 2,
                      "baseBackoffMs": 100,
                      "maxBackoffMs": 100,
                      "backoffMultiplier": 2,
                      "jitterRatio": 0,
                      "retryable": [
                        "throttled",
                        "timeout"
                      ]
                    },
                    "seed": 4367
                  }
                },
                "mixedAwsEc2Groups": {
                  "summary": "AWS EC2 mutating operations in two resource groups",
                  "value": {
                    "provider": "aws",
                    "region": "us-east-1",
                    "service": "ec2",
                    "operations": [
                      {
                        "id": "a-launch",
                        "operation": "mutating",
                        "category": "compute",
                        "resource": "fleet-a",
                        "plannedCount": 2
                      },
                      {
                        "id": "a-update",
                        "operation": "mutating",
                        "category": "compute",
                        "resource": "fleet-a",
                        "plannedCount": 1
                      },
                      {
                        "id": "b-launch",
                        "operation": "mutating",
                        "category": "compute",
                        "resource": "fleet-b",
                        "plannedCount": 2
                      }
                    ],
                    "workerCount": 2,
                    "maxConcurrency": 2,
                    "concurrency": 2,
                    "latency": {
                      "meanMs": 40,
                      "p95Ms": 80,
                      "timeoutMs": 5000,
                      "jitterMs": 0
                    },
                    "retry": {
                      "maxAttempts": 1,
                      "baseBackoffMs": 0,
                      "maxBackoffMs": 0,
                      "backoffMultiplier": 2,
                      "jitterRatio": 0,
                      "retryable": []
                    },
                    "seed": 4367
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deterministic provider-limit simulation result with catalog/override provenance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "simulation",
                    "modeled",
                    "request",
                    "result",
                    "provenance"
                  ],
                  "properties": {
                    "simulation": {
                      "type": "object",
                      "required": [
                        "id",
                        "name",
                        "currentTime"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "currentTime": {
                          "type": "number"
                        }
                      }
                    },
                    "modeled": {
                      "type": "object",
                      "required": [
                        "namespace",
                        "platformRateLimitNamespace",
                        "providerThrottlingIsModeled",
                        "platformHttpRateLimitsAreNotModeled"
                      ],
                      "properties": {
                        "namespace": {
                          "type": "string",
                          "example": "simulated-provider-api-quota"
                        },
                        "platformRateLimitNamespace": {
                          "type": "string",
                          "example": "cwm-api-rate-limit"
                        },
                        "providerThrottlingIsModeled": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "platformHttpRateLimitsAreNotModeled": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    },
                    "request": {
                      "$ref": "#/components/schemas/ProviderApiLimitSimulationRequest"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ProviderApiSchedulerResult"
                    },
                    "provenance": {
                      "type": "object",
                      "required": [
                        "catalogVersion",
                        "policies"
                      ],
                      "properties": {
                        "catalogVersion": {
                          "type": "integer",
                          "example": 3
                        },
                        "policies": {
                          "type": "array",
                          "description": "Effective policies with sourceKind, sourceReference, asOfDate, classification, and confidence.",
                          "items": {
                            "$ref": "#/components/schemas/ProviderApiQuotaPolicy"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "canonicalAwsEc2Result": {
                    "summary": "Completed modeled AWS EC2 workload",
                    "value": {
                      "simulation": {
                        "id": "00000000-0000-4000-8000-000000000001",
                        "name": "provider-limit-example",
                        "currentTime": 0
                      },
                      "modeled": {
                        "namespace": "simulated-provider-api-quota",
                        "platformRateLimitNamespace": "cwm-api-rate-limit",
                        "providerThrottlingIsModeled": true,
                        "platformHttpRateLimitsAreNotModeled": true
                      },
                      "request": {
                        "contractVersion": 1,
                        "provider": "aws",
                        "region": "us-east-1",
                        "service": "ec2",
                        "operations": [
                          {
                            "id": "launch",
                            "operation": "mutating",
                            "category": "compute",
                            "plannedCount": 5,
                            "dependsOn": []
                          }
                        ],
                        "workerCount": 2,
                        "maxConcurrency": 2,
                        "concurrency": 2,
                        "latency": {
                          "meanMs": 40,
                          "p95Ms": 80,
                          "timeoutMs": 5000,
                          "jitterMs": 0
                        },
                        "retry": {
                          "maxAttempts": 2,
                          "baseBackoffMs": 100,
                          "maxBackoffMs": 100,
                          "backoffMultiplier": 2,
                          "jitterRatio": 0,
                          "retryable": [
                            "throttled",
                            "timeout"
                          ]
                        },
                        "quotaOverrides": [],
                        "seed": 4367,
                        "failureProbability": 0,
                        "maxThrottleRate": 1,
                        "maxEvents": 1000000
                      },
                      "result": {
                        "schedulerVersion": 1,
                        "contractVersion": 1,
                        "status": "supported",
                        "seed": 4367,
                        "concurrency": 2,
                        "policyResolutions": [
                          {
                            "contractVersion": 1,
[...]
