{
  "openapi": "3.0.3",
  "info": {
    "title": "Scholar Sidekick API",
    "version": "1.2.1",
    "description": "Resolve scholarly identifiers (DOI, PMID, PMCID, ISBN, ISSN/eISSN, arXiv, ADS bibcode, scholarly URLs)\ninto normalized metadata and formatted citations. Supports export to RIS and BibTeX.\n\n## Versioning & deprecation\n\nThe API uses **header-based versioning**. Clients may pin a version with the\noptional `Api-Version` request header (see the `ApiVersion` parameter). The\nAPI currently serves a single version, and the active version tag is\nreturned on **every** response in the `X-Scholar-Transform-Version` header\n(the verifier pipeline additionally returns `X-Scholar-Verify-Version`).\n\n**Deprecation policy:** when a future breaking version ships, the prior\nversion is announced on its responses via the standard `Deprecation` header\nand a `Sunset` header (RFC 8594) giving the retirement date, with a minimum\n180-day overlap before removal. Deprecations are also recorded publicly at\nhttps://scholar-sidekick.com/changelog. This policy is also published in\nmachine-readable form in the `x-api-lifecycle` extension on this document.\n\n## Errors\n\nErrors return the typed `ErrorResponse` envelope (`{ ok: false, error, code }`)\nas `application/json` by default. The stable `code` is also mirrored in the\n`X-Error-Code` response header. Clients that send\n`Accept: application/problem+json` instead receive the same error as an\nRFC 9457 `ProblemDetails` document (`type`/`title`/`status`/`detail`/`code`).\n\n## Idempotency\n\nThe mutating POST routes (`/api/format`, `/api/format-items`, `/api/export`,\n`/api/verify`) accept an optional `Idempotency-Key` request header (see the\n`IdempotencyKey` parameter). When the server has idempotency enabled, a\nrepeated request with the same key and body replays the original response\nverbatim with `Idempotent-Replayed: true`; the same key with a different body\nreturns `422`. These operations are deterministic and side-effect-free, so the\nkey exists purely for retry safety.\n\n## Long-running work\n\nThere is no async-job/polling pattern: the synchronous endpoints complete in a\nsingle request. For incremental/large batches use `POST /api/format/stream`,\nwhich streams newline-delimited JSON (NDJSON) events as records resolve.\n\n## Pagination\n\n`GET /api/csl/styles` is offset-paginated (`limit`/`offset`). Each page returns\nan explicit `nextOffset` (or `null` on the last page) and, when more results\nexist, an RFC 8288 `Link: <…>; rel=\"next\"` response header.\n",
    "termsOfService": "https://scholar-sidekick.com/legal/api-terms",
    "contact": {
      "name": "Scholar Sidekick",
      "email": "support@scholar-sidekick.com",
      "url": "https://scholar-sidekick.com"
    },
    "x-logo": {
      "url": "https://scholar-sidekick.com/icon-512.png",
      "altText": "Scholar Sidekick"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "x-api-lifecycle": {
      "versioning": "header",
      "versionHeader": "Api-Version",
      "activeVersionHeader": "X-Scholar-Transform-Version",
      "activeVersion": "2026-10-01",
      "deprecation": {
        "signalHeaders": [
          "Deprecation",
          "Sunset"
        ],
        "sunsetStandard": "RFC 8594",
        "minOverlapDays": 180
      },
      "changelog": "https://scholar-sidekick.com/changelog"
    },
    "x-jentic-source-url": "https://scholar-sidekick.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://scholar-sidekick.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "operationId": "healthCheck",
        "parameters": [
          {
            "in": "header",
            "name": "Api-Version",
            "required": false,
            "description": "Optional API version selector (header-based versioning). The API\ncurrently serves a single version; the active version is returned on\nevery response in `X-Scholar-Transform-Version`. Reserved for forward\ncompatibility — when a future breaking version ships, clients pin to a\nversion with this header and retired versions follow the deprecation\npolicy described in the API overview.\n",
            "schema": {
              "type": "string",
              "example": "2026-10-01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request correlation ID.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Auth-Source": {
                "description": "Where the auth came from (first-party, rapidapi, anonymous).",
                "schema": {
                  "type": "string",
                  "enum": [
                    "first-party",
                    "rapidapi",
                    "anonymous"
                  ]
                }
              },
              "X-Auth-Plan": {
                "description": "Effective plan for this request (Free/Developer/Pro/Enterprise).",
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "description": "CSP controlling resource loading.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "description": "MIME type sniffing prevention.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "nosniff"
                  ]
                }
              },
              "X-Frame-Options": {
                "description": "Clickjacking protection.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "DENY",
                    "SAMEORIGIN"
                  ]
                }
              },
              "Referrer-Policy": {
                "description": "Referrer information policy.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-referrer",
                    "no-referrer-when-downgrade",
                    "origin",
                    "origin-when-cross-origin",
                    "same-origin",
                    "strict-origin",
                    "strict-origin-when-cross-origin",
                    "unsafe-url"
                  ]
                }
              },
              "Permissions-Policy": {
                "description": "Feature policy controls.",
                "schema": {
                  "type": "string"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "description": "Cross-origin opener policy.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "same-origin",
                    "same-origin-allow-popups",
                    "unsafe-none"
                  ]
                }
              },
              "Cross-Origin-Resource-Policy": {
                "description": "Cross-origin resource policy.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "same-origin",
                    "same-site",
                    "cross-origin"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Service liveness and diagnostic snapshot.",
                  "required": [
                    "ok",
                    "time",
                    "uptime_ms",
                    "version"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "now": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "uptime_ms": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "region": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "commit": {
                      "type": "string",
                      "nullable": true
                    },
                    "sentry_env": {
                      "type": "string",
                      "nullable": true
                    },
                    "kv_namespace": {
                      "type": "string",
                      "nullable": true
                    },
                    "ua_ok": {
                      "type": "boolean"
                    },
                    "cache_conf": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        },
                        "ttl_s": {
                          "type": "integer"
                        },
                        "negative_ttl_s": {
                          "type": "integer"
                        },
                        "kv_enabled": {
                          "type": "boolean"
                        }
                      }
                    },
                    "limits": {
                      "type": "object",
                      "description": "Per-route-family rate-limit ceiling for anonymous callers, as actually enforced by the rate-limit middleware (derived from the same policy pipeline, not a static default). Keys are route families: format, format_stream, export, format_items, audit, fallback. Windows differ per family, so each entry carries its own window_s.",
                      "additionalProperties": {
                        "type": "object",
                        "required": [
                          "limit",
                          "window_s"
                        ],
                        "properties": {
                          "limit": {
                            "type": "integer",
                            "minimum": 1
                          },
                          "window_s": {
                            "type": "integer",
                            "minimum": 1
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "time": "2026-06-04T00:00:00.000Z",
                  "uptime_ms": 12345,
                  "region": "iad1",
                  "version": "c7f9977"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "ok",
                    "code",
                    "error"
                  ],
                  "description": "Typed error envelope returned on 4xx/5xx protocol errors. `error` is a\nhuman-readable message. `code` is a stable, machine-readable token,\nalways present on error responses and mirrored in the `X-Error-Code`\nresponse header. Known codes: BAD_REQUEST, VALIDATION_ERROR,\nUNKNOWN_STYLE, INVALID_CONTENT_TYPE, EMPTY_BODY, MALFORMED_JSON,\nPAYLOAD_TOO_LARGE, MISSING_TITLE, RESOLVE_ERROR, READ_ONLY,\nSTREAMING_DISABLED, AUTH_MISSING, AUTH_INVALID, AUTH_DISABLED,\nLLM_SCREEN_FORBIDDEN, IDEMPOTENCY_KEY_REUSED, NOT_FOUND, RL_BLOCKED,\nMAINTENANCE, UPSTREAM_ERROR, UPSTREAM_TIMEOUT, UPSTREAM_RATE_LIMITED,\nUPSTREAM_UNAVAILABLE, UPSTREAM_NETWORK_ERROR, ROUTE_ERROR. RL_BLOCKED\n(429) is the code actually returned when the per-IP rate limit is\nexceeded — not a generic RATE_LIMITED token.\n",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    },
                    "code": {
                      "type": "string",
                      "description": "Stable machine-readable error code (mirrors X-Error-Code)."
                    }
                  },
                  "example": {
                    "ok": false,
                    "code": "BAD_REQUEST",
                    "error": "Invalid input"
                  }
                },
                "examples": {
                  "badInput": {
                    "value": {
                      "ok": false,
                      "code": "BAD_REQUEST",
                      "error": "Invalid input"
                    }
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "description": "RFC 9457 (Problem Details for HTTP APIs) representation of an error.\nServed on any error response when the request sends\n`Accept: application/problem+json`; otherwise the default `ErrorResponse`\nenvelope is returned. The stable `code` is preserved as an extension\nmember and mirrored in the `X-Error-Code` header.\n",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "description": "A URI identifying the problem type (per stable error code).",
                      "example": "https://scholar-sidekick.com/errors/VALIDATION_ERROR"
                    },
                    "title": {
                      "type": "string",
                      "description": "Short, human-readable summary of the problem type.",
                      "example": "Validation Error"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (duplicated from the response line).",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable explanation specific to this occurrence.",
                      "example": "Missing 'lines' (array) or 'text' (string) in body."
                    },
                    "instance": {
                      "type": "string",
                      "description": "Optional request correlation id (mirrors X-Request-Id)."
                    },
                    "code": {
                      "type": "string",
                      "description": "Stable machine-readable error code (extension member; mirrors X-Error-Code).",
                      "example": "VALIDATION_ERROR"
                    }
                  },
                  "example": {
                    "type": "https://scholar-sidekick.com/errors/VALIDATION_ERROR",
                    "title": "Validation Error",
                    "status": 400,
                    "detail": "Missing 'lines' (array) or 'text' (string) in body.",
                    "code": "VALIDATION_ERROR"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable (maintenance mode).",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request correlation ID.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Scholar-Mode": {
                "description": "Effective service mode (normal, read-only, maintenance).",
                "schema": {
                  "type": "string",
                  "enum": [
                    "normal",
                    "read-only",
                    "maintenance"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "ok",
                    "code",
                    "error"
                  ],
                  "description": "Typed error envelope returned on 4xx/5xx protocol errors. `error` is a\nhuman-readable message. `code` is a stable, machine-readable token,\nalways present on error responses and mirrored in the `X-Error-Code`\nresponse header. Known codes: BAD_REQUEST, VALIDATION_ERROR,\nUNKNOWN_STYLE, INVALID_CONTENT_TYPE, EMPTY_BODY, MALFORMED_JSON,\nPAYLOAD_TOO_LARGE, MISSING_TITLE, RESOLVE_ERROR, READ_ONLY,\nSTREAMING_DISABLED, AUTH_MISSING, AUTH_INVALID, AUTH_DISABLED,\nLLM_SCREEN_FORBIDDEN, IDEMPOTENCY_KEY_REUSED, NOT_FOUND, RL_BLOCKED,\nMAINTENANCE, UPSTREAM_ERROR, UPSTREAM_TIMEOUT, UPSTREAM_RATE_LIMITED,\nUPSTREAM_UNAVAILABLE, UPSTREAM_NETWORK_ERROR, ROUTE_ERROR. RL_BLOCKED\n(429) is the code actually returned when the per-IP rate limit is\nexceeded — not a generic RATE_LIMITED token.\n",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    },
                    "code": {
                      "type": "string",
                      "description": "Stable machine-readable error code (mirrors X-Error-Code)."
                    }
                  },
                  "example": {
                    "ok": false,
                    "code": "BAD_REQUEST",
                    "error": "Invalid input"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "description": "RFC 9457 (Problem Details for HTTP APIs) representation of an error.\nServed on any error response when the request sends\n`Accept: application/problem+json`; otherwise the default `ErrorResponse`\nenvelope is returned. The stable `code` is preserved as an extension\nmember and mirrored in the `X-Error-Code` header.\n",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "description": "A URI identifying the problem type (per stable error code).",
                      "example": "https://scholar-sidekick.com/errors/VALIDATION_ERROR"
                    },
                    "title": {
                      "type": "string",
                      "description": "Short, human-readable summary of the problem type.",
                      "example": "Validation Error"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (duplicated from the response line).",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable explanation specific to this occurrence.",
                      "example": "Missing 'lines' (array) or 'text' (string) in body."
                    },
                    "instance": {
                      "type": "string",
                      "description": "Optional request correlation id (mirrors X-Request-Id)."
                    },
                    "code": {
                      "type": "string",
                      "description": "Stable machine-readable error code (extension member; mirrors X-Error-Code).",
                      "example": "VALIDATION_ERROR"
                    }
                  },
                  "example": {
                    "type": "https://scholar-sidekick.com/errors/VALIDATION_ERROR",
                    "title": "Validation Error",
                    "status": 400,
                    "detail": "Missing 'lines' (array) or 'text' (string) in body.",
                    "code": "VALIDATION_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/detect": {
      "post": {
        "tags": [
          "Resolve"
        ],
        "summary": "Detect scholarly identifiers in free-form text",
        "description": "Pure text processing. Returns every scholarly identifier found in the\nsupplied text. **No outbound network calls, no resolution, and no\nformatter pipeline** — so this route never emits `x-scholar-formatter`,\n`x-scholar-style`, or any `x-csl-*` header.\n\nResults are de-duplicated by `(type, value)` in detection order, and\n`value` is the canonical form of the token. **Zero identifiers is not an\nerror**: `count: 0` with an empty array is a valid 200.\n\n`HEAD /api/detect` returns 204 with the same rails headers and an empty\nbody.\n",
        "operationId": "detectCreate",
        "parameters": [
          {
            "in": "header",
            "name": "Api-Version",
            "required": false,
            "description": "Optional API version selector (header-based versioning). The API\ncurrently serves a single version; the active version is returned on\nevery response in `X-Scholar-Transform-Version`. Reserved for forward\ncompatibility — when a future breaking version ships, clients pin to a\nversion with this header and retired versions follow the deprecation\npolicy described in the API overview.\n",
            "schema": {
              "type": "string",
              "example": "2026-10-01"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000,
                    "description": "Free-form text to scan. Trimmed before processing, and the 10,000\ncharacter cap is applied to the trimmed value.\n"
                  }
                }
              },
              "examples": {
                "mixed": {
                  "summary": "Free text carrying two identifiers",
                  "value": {
                    "text": "See 10.1038/nature12373 and PMID: 23831765 for details."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identifiers found in the supplied text.",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request correlation ID.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Auth-Source": {
                "description": "Where the auth came from (first-party, rapidapi, anonymous).",
                "schema": {
                  "type": "string",
                  "enum": [
                    "first-party",
                    "rapidapi",
                    "anonymous"
                  ]
                }
              },
              "X-Auth-Plan": {
                "description": "Effective plan for this request (Free/Developer/Pro/Enterprise).",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "UTC epoch seconds when the window resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset-After": {
                "description": "Seconds until reset.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Policy": {
                "description": "Policy string (e.g., \"60;w=60, 1000;w=3600\").",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "ok",
                    "count",
                    "identifiers"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "count": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Length of `identifiers`."
                    },
                    "identifiers": {
                      "type": "array",
                      "description": "De-duplicated by `(type, value)`, in detection order.",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "type",
                          "value"
                        ],
                        "description": "One detected identifier. `raw` and `source` are present only when the\ndetector kept the original token or recorded which pass matched — do\nnot depend on either being set.\n",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "doi",
                              "pmid",
                              "pmcid",
                              "isbn",
                              "arxiv",
                              "issn",
                              "eissn",
                              "ads",
                              "url"
                            ],
                            "description": "`url` is emitted for a recognized scholarly host that is not\nalready covered by a more specific identifier.\n"
                          },
                          "value": {
                            "type": "string",
                            "description": "Canonical form of the identifier."
                          },
                          "raw": {
                            "type": "string",
                            "description": "Original token, when it differs from `value`."
                          },
                          "source": {
                            "type": "string",
                            "description": "Detector pass that matched, e.g. `detect:url`."
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "found": {
                    "summary": "Two identifiers detected",
                    "value": {
                      "ok": true,
                      "count": 2,
                      "identifiers": [
                        {
                          "type": "doi",
                          "value": "10.1038/nature12373"
                        },
                        {
                          "type": "pmid",
                          "value": "23831765"
                        }
                      ]
                    }
                  },
                  "none": {
                    "summary": "No identifiers — still a 200",
                    "value": {
                      "ok": true,
                      "count": 0,
                      "identifiers": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request correlation ID.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Error-Code": {
                "description": "Stable internal error code.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Instructs clients not to cache.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "ok",
                    "code",
                    "error"
                  ],
                  "description": "Typed error envelope returned on 4xx/5xx protocol errors. `error` is a\nhuman-readable message. `code` is a stable, machine-readable token,\nalways present on error responses and mirrored in the `X-Error-Code`\nresponse header. Known codes: BAD_REQUEST, VALIDATION_ERROR,\nUNKNOWN_STYLE, INVALID_CONTENT_TYPE, EMPTY_BODY, MALFORMED_JSON,\nPAYLOAD_TOO_LARGE, MISSING_TITLE, RESOLVE_ERROR, READ_ONLY,\nSTREAMING_DISABLED, AUTH_MISSING, AUTH_INVALID, AUTH_DISABLED,\nLLM_SCREEN_FORBIDDEN, IDEMPOTENCY_KEY_REUSED, NOT_FOUND, RL_BLOCKED,\nMAINTENANCE, UPSTREAM_ERROR, UPSTREAM_TIMEOUT, UPSTREAM_RATE_LIMITED,\nUPSTREAM_UNAVAILABLE, UPSTREAM_NETWORK_ERROR, ROUTE_ERROR. RL_BLOCKED\n(429) is the code actually returned when the per-IP rate limit is\nexceeded — not a generic RATE_LIMITED token.\n",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    },
                    "code": {
                      "type": "string",
                      "description": "Stable machine-readable error code (mirrors X-Error-Code)."
                    }
                  },
                  "example": {
                    "ok": false,
                    "code": "BAD_REQUEST",
                    "error": "Invalid input"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "description": "RFC 9457 (Problem Details for HTTP APIs) representation of an error.\nServed on any error response when the request sends\n`Accept: application/problem+json`; otherwise the default `ErrorResponse`\nenvelope is returned. The stable `code` is preserved as an extension\nmember and mirrored in the `X-Error-Code` header.\n",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "description": "A URI identifying the problem type (per stable error code).",
                      "example": "https://scholar-sidekick.com/errors/VALIDATION_ERROR"
                    },
                    "title": {
                      "type": "string",
                      "description": "Short, human-readable summary of the problem type.",
                      "example": "Validation Error"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (duplicated from the response line).",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable explanation specific to this occurrence.",
                      "example": "Missing 'lines' (array) or 'text' (string) in body."
                    },
                    "instance": {
                      "type": "string",
                      "description": "Optional request correlation id (mirrors X-Request-Id)."
                    },
                    "code": {
                      "type": "string",
                      "description": "Stable machine-readable error code (extension member; mirrors X-Error-Code).",
                      "example": "VALIDATION_ERROR"
                    }
                  },
                  "example": {
                    "type": "https://scholar-sidekick.com/errors/VALIDATION_ERROR",
                    "title": "Validation Error",
                    "status": 400,
                    "detail": "Missing 'lines' (array) or 'text' (string) in body.",
                    "code": "VALIDATION_ERROR"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request correlation ID.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Error-Code": {
                "description": "Stable internal error code.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Instructs clients not to cache.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "no-store"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "ok",
                    "code",
                    "error"
                  ],
                  "description": "Typed error envelope returned on 4xx/5xx protocol errors. `error` is a\nhuman-readable message. `code` is a stable, machine-readable token,\nalways present on error responses and mirrored in the `X-Error-Code`\nresponse header. Known codes: BAD_REQUEST, VALIDATION_ERROR,\nUNKNOWN_STYLE, INVALID_CONTENT_TYPE, EMPTY_BODY, MALFORMED_JSON,\nPAYLOAD_TOO_LARGE, MISSING_TITLE, RESOLVE_ERROR, READ_ONLY,\nSTREAMING_DISABLED, AUTH_MISSING, AUTH_INVALID, AUTH_DISABLED,\nLLM_SCREEN_FORBIDDEN, IDEMPOTENCY_KEY_REUSED, NOT_FOUND, RL_BLOCKED,\nMAINTENANCE, UPSTREAM_ERROR, UPSTREAM_TIMEOUT, UPSTREAM_RATE_LIMITED,\nUPSTREAM_UNAVAILABLE, UPSTREAM_NETWORK_ERROR, ROUTE_ERROR. RL_BLOCKED\n(429) is the code actually returned when the per-IP rate limit is\nexceeded — not a generic RATE_LIMITED token.\n",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    },
                    "code": {
                      "type": "string",
                      "description": "Stable machine-readable error code (mirrors X-Error-Code)."
                    }
                  },
                  "example": {
                    "ok": false,
                    "code": "BAD_REQUEST",
                    "error": "Invalid input"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "description": "RFC 9457 (Problem Details for HTTP APIs) representation of an error.\nServed on any error response when the request sends\n`Accept: application/problem+json`; otherwise the default `ErrorResponse`\nenvelope is returned. The stable `code` is preserved as an extension\nmember and mirrored in the `X-Error-Code` header.\n",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "description": "A URI identifying the problem type (per stable error code).",
                      "example": "https://scholar-sidekick.com/errors/VALIDATION_ERROR"
                    },
                    "title": {
                      "type": "string",
                      "description": "Short, human-readable summary of the problem type.",
                      "example": "Validation Error"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (duplicated from the response line).",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable explanation specific to this occurrence.",
                      "example": "Missing 'lines' (array) or 'text' (string) in body."
                    },
                    "instance": {
                      "type": "string",
                      "description": "Optional request correlation id (mirrors X-Request-Id)."
                    },
                    "code": {
                      "type": "string",
                      "description": "Stable machine-readable error code (extension member; mirrors X-Error-Code).",
                      "example": "VALIDATION_ERROR"
                    }
                  },
                  "example": {
                    "type": "https://scholar-sidekick.com/errors/VALIDATION_ERROR",
                    "title": "Validation Error",
                    "status": 400,
                    "detail": "Missing 'lines' (array) or 'text' (string) in body.",
                    "code": "VALIDATION_ERROR"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request correlation ID.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "UTC epoch seconds when the window resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset-After": {
                "description": "Seconds until reset.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Policy": {
                "description": "Policy string (e.g., \"60;w=60, 1000;w=3600\").",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Seconds until next request allowed.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "ok",
                    "code",
                    "error"
                  ],
                  "description": "Typed error envelope returned on 4xx/5xx protocol errors. `error` is a\nhuman-readable message. `code` is a stable, machine-readable token,\nalways present on error responses and mirrored in the `X-Error-Code`\nresponse header. Known codes: BAD_REQUEST, VALIDATION_ERROR,\nUNKNOWN_STYLE, INVALID_CONTENT_TYPE, EMPTY_BODY, MALFORMED_JSON,\nPAYLOAD_TOO_LARGE, MISSING_TITLE, RESOLVE_ERROR, READ_ONLY,\nSTREAMING_DISABLED, AUTH_MISSING, AUTH_INVALID, AUTH_DISABLED,\nLLM_SCREEN_FORBIDDEN, IDEMPOTENCY_KEY_REUSED, NOT_FOUND, RL_BLOCKED,\nMAINTENANCE, UPSTREAM_ERROR, UPSTREAM_TIMEOUT, UPSTREAM_RATE_LIMITED,\nUPSTREAM_UNAVAILABLE, UPSTREAM_NETWORK_ERROR, ROUTE_ERROR. RL_BLOCKED\n(429) is the code actually returned when the per-IP rate limit is\nexceeded — not a generic RATE_LIMITED token.\n",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    },
                    "code": {
                      "type": "string",
                      "description": "Stable machine-readable error code (mirrors X-Error-Code)."
                    }
                  },
                  "example": {
                    "ok": false,
                    "code": "BAD_REQUEST",
                    "error": "Invalid input"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "description": "RFC 9457 (Problem Details for HTTP APIs) representation of an error.\nServed on any error response when the request sends\n`Accept: application/problem+json`; otherwise the default `ErrorResponse`\nenvelope is returned. The stable `code` is preserved as an extension\nmember and mirrored in the `X-Error-Code` header.\n",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "description": "A URI identifying the problem type (per stable error code).",
                      "example": "https://scholar-sidekick.com/errors/VALIDATION_ERROR"
                    },
                    "title": {
                      "type": "string",
                      "description": "Short, human-readable summary of the problem type.",
                      "example": "Validation Error"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (duplicated from the response line).",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable explanation specific to this occurrence.",
                      "example": "Missing 'lines' (array) or 'text' (string) in body."
                    },
                    "instance": {
                      "type": "string",
                      "description": "Optional request correlation id (mirrors X-Request-Id)."
                    },
                    "code": {
                      "type": "string",
                      "description": "Stable machine-readable error code (extension member; mirrors X-Error-Code).",
                      "example": "VALIDATION_ERROR"
                    }
                  },
                  "example": {
                    "type": "https://scholar-sidekick.com/errors/VALIDATION_ERROR",
                    "title": "Validation Error",
                    "status": 400,
                    "detail": "Missing 'lines' (array) or 'text' (string) in body.",
                    "code": "VALIDATION_ERROR"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable (maintenance mode).",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request correlation ID.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Scholar-Mode": {
                "description": "Effective service mode (normal, read-only, maintenance).",
                "schema": {
                  "type": "string",
                  "enum": [
                    "normal",
                    "read-only",
                    "maintenance"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "ok",
                    "code",
                    "error"
                  ],
                  "description": "Typed error envelope returned on 4xx/5xx protocol errors. `error` is a\nhuman-readable message. `code` is a stable, machine-readable token,\nalways present on error responses and mirrored in the `X-Error-Code`\nresponse header. Known codes: BAD_REQUEST, VALIDATION_ERROR,\nUNKNOWN_STYLE, INVALID_CONTENT_TYPE, EMPTY_BODY, MALFORMED_JSON,\nPAYLOAD_TOO_LARGE, MISSING_TITLE, RESOLVE_ERROR, READ_ONLY,\nSTREAMING_DISABLED, AUTH_MISSING, AUTH_INVALID, AUTH_DISABLED,\nLLM_SCREEN_FORBIDDEN, IDEMPOTENCY_KEY_REUSED, NOT_FOUND, RL_BLOCKED,\nMAINTENANCE, UPSTREAM_ERROR, UPSTREAM_TIMEOUT, UPSTREAM_RATE_LIMITED,\nUPSTREAM_UNAVAILABLE, UPSTREAM_NETWORK_ERROR, ROUTE_ERROR. RL_BLOCKED\n(429) is the code actually returned when the per-IP rate limit is\nexceeded — not a generic RATE_LIMITED token.\n",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    },
                    "code": {
                      "type": "string",
                      "description": "Stable machine-readable error code (mirrors X-Error-Code)."
                    }
                  },
                  "example": {
                    "ok": false,
                    "code": "BAD_REQUEST",
                    "error": "Invalid input"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "description": "RFC 9457 (Problem Details for HTTP APIs) representation of an error.\nServed on any error response when the request sends\n`Accept: application/problem+json`; otherwise the default `ErrorResponse`\nenvelope is returned. The stable `code` is preserved as an extension\nmember and mirrored in the `X-Error-Code` header.\n",
                  "required": [
                    "type",
                    "title",
                    "status",
                    "code"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "description": "A URI identifying the problem type (per stable error code).",
                      "example": "https://scholar-sidekick.com/errors/VALIDATION_ERROR"
                    },
                    "title": {
                      "type": "string",
                      "description": "Short, human-readable summary of the problem type.",
                      "example": "Validation Error"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code (duplicated from the response line).",
                      "example": 400
                    },
                    "detail": {
                      "type": "string",
                      "description": "Human-readable explanation specific to this occurrence.",
                      "example": "Missing 'lines' (array) or 'text' (string) in body."
                    },
                    "instance": {
                      "type": "string",
                      "description": "Optional request correlation id (mirrors X-Request-Id)."
                    },
                    "code": {
                      "type": "string",
                      "description": "Stable machine-readable error code (extension member; mirrors X-Error-Code).",
                      "example": "VALIDATION_ERROR"
                    }
                  },
                  "example": {
                    "type": "https://scholar-sidekick.com/errors/VALIDATION_ERROR",
                    "title": "Validation Error",
                    "status": 400,
                    "detail": "Missing 'lines' (array) or 'text' (string) in body.",
                    "code": "VALIDATION_ERROR"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/lookup": {
      "post": {
        "tags": [
          "Resolve"
        ],
        "summary": "Resolve a single identifier to normalized metadata",
        "description": "Resolves one identifier (DOI, PMID, PMCID, ISBN, ISSN/eISSN, arXiv, ADS\nbibcode, or a scholarly URL) and returns the normalized bibliographic\nrecord. **No citation is rendered** — use `/api/format` for that.\n\nThe input is normalized before detection, so wrapped forms (a `doi.org`\nURL, a `PMID:` prefix) are accepted. Only the **first** identifier found\nis resolved; the detected type and canonical value are echoed back in\n`input`.\n\nA record that resolves nowhere is **not an error**: the response is 200\nwith `result: null` and `reason: \"not_found\"`. A 400 is returned only\nwhen the input carries no recognizable identifier at all.\n\n`HEAD /api/lookup` returns 204 with the same rails headers and an empty\nbody.\n",
        "operationId": "lookupCreate",
        "parameters": [
          {
            "in": "header",
            "name": "Api-Version",
            "required": false,
            "description": "Optional API version selector (header-based versioning). The API\ncurrently serves a single version; the active version is returned on\nevery response in `X-Scholar-Transform-Version`. Reserved for forward\ncompatibility — when a future breaking version ships, clients pin to a\nversion with this header and retired versions follow the deprecation\npolicy described in the API overview.\n",
            "schema": {
              "type": "string",
              "example": "2026-10-01"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "description": "One identifier — DOI, PMID, PMCID, ISBN, ISSN/eISSN, arXiv, ADS\nbibcode, or a scholarly URL. Wrapped forms (a `doi.org` URL, a\n`PMID:` prefix) are normalized before detection. A shortDOI alias\n(`10/aabbe`, from shortdoi.org) is accepted anywhere a DOI is and is\nexpanded to the full DOI before resolving, so the response carries\nthe real DOI. Only the first identifier found is resolved.\n"
                  }
                }
              },
              "examples": {
                "doi": {
                  "summary": "Bare DOI",
                  "value": {
                    "id": "10.1056/nejmoa2033700"
                  }
                },
                "wrapped": {
                  "summary": "DOI as a doi.org URL",
                  "value": {
                    "id": "https://doi.org/10.1038/s41586-020-2649-2"
                  }
                },
                "pmid": {
                  "summary": "Prefixed PMID",
                  "value": {
                    "id": "PMID: 30049270"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolution outcome. `result` is the normalized record, or `null`\nwith `reason: \"not_found\"` when no record was found.\n",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request correlation ID.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Auth-Source": {
                "description": "Where the auth came from (first-party, rapidapi, anonymous).",
                "schema": {
                  "type": "string",
                  "enum": [
                    "first-party",
                    "rapidapi",
                    "anonymous"
                  ]
                }
              },
              "X-Auth-Plan": {
                "description": "Effective plan for this request (Free/Developer/Pro/Enterprise).",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current window.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset": {
                "description": "UTC epoch seconds when the window resets.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Reset-After": {
                "description": "Seconds until reset.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Policy": {
                "description": "Policy string (e.g., \"60;w=60, 1000;w=3600\").",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "ok",
                    "input",
                    "result"
                  ],
                  "description": "`result` is `null` with `reason: \"not_found\"` when the identifier was\nrecognized but resolved to no record. That is a 200, not an error.\n",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "input": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "type",
                        "value"
                      ],
                      "description": "The first identifier detected in the request, canonicalized.",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "doi",
                            "pmid",
                            "pmcid",
                            "isbn",
                            "arxiv",
                            "issn",
                            "eissn",
                            "ads",
                            "url"
                          ]
                        },
                        "value": {
                          "type": "string"
                        }
                      }
                    },
                    "result": {
                      "description": "The resolved record, or `null` when nothing resolved.",
                      "type": "object",
                      "allOf": [
                        {
                          "type": "object",
                          "additionalProperties": true,
                          "description": "Compact, response-safe view of a resolved bibliographic record — the\nsame slim shape the format routes build their items from. Every field\nexcept `id` is optional, because a record carries only what its source\nsupplied.\n",
                          "required": [
                            "id"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Stable item key derived from the identifiers."
                            },
                            "type": {
                              "type": "string",
                              "description": "CSL item type (e.g. `article-journal`, `book`, `chapter`, `dataset`)."
                            },
                            "title": {
                              "type": "string"
                            },
                            "authors": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "A person. Structured records carry `family`/`given`; sources that\nsupply an unsplittable name use `literal` instead.\n",
                                "properties": {
                                  "family": {
                                    "type": "string"
                                  },
                                  "given": {
                                    "type": "string"
                                  },
                                  "suffix": {
                                    "type": "string"
                                  },
                                  "literal": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "container": {
                              "type": "object",
                              "additionalProperties": true,
                              "description": "Journal or book the work appears in.",
                              "properties": {
                                "title": {
                                  "type": "string"
                                },
                                "abbreviated": {
                                  "type": "string"
                                },
                                "volume": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "integer"
                                    }
                                  ]
                                },
                                "issue": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "integer"
                                    }
                                  ]
                                },
                                "issn": {
                                  "type": "string",
                                  "description": "Print ISSN of the serial."
                                },
                                "eissn": {
                                  "type": "string",
                                  "description": "Electronic ISSN of the serial."
                                }
                              }
                            },
                            "identifiers": {
                              "type": "array",
                              "description": "Present only when the record carries at least one identifier.",
                              "items": {
                                "type": "object",
                                "additionalProperties": true,
                                "required": [
                                  "type",
                                  "value"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "issued": {
                              "type": "object",
                              "additionalProperties": true,
                              "description": "Present only when the record carries a publication year.",
                              "properties": {
                                "year": {
                                  "type": "integer"
                                }
                              }
                            },
                            "pages": {
                              "type": "object",
                              "additionalProperties": true,
                              "description": "Present only when the record carries a first or last page.",
                              "properties": {
                                "first": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "integer"
                                    }
                                  ]
                                },
                                "last": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "integer"
                                    }
                                  ]
                                }
                              }
                            },
                            "number": {
                              "allOf": [
                                {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "integer"
                                    }
                                  ]
                                }
                              ],
                              "description": "Report or thesis number, where the record carries one."
                            },
                            "url": {
                              "type": "string"
                            },
                            "_source": {
                              "description": "Which upstream service supplied the record.",
                              "oneOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "properties": {
                                    "service": {
                                      "type": "string"
                                    },
                                    "requestUrl": {
                                      "type": "string"
                                    }
                                  }
                                }
                              ]
                            },
                            "_checks": {
                              "type": "object",
                              "description": "Sibling field on resolved items; populated only when ?checks= is set.",
                              "additionalProperties": false,
                              "properties": {
                                "retraction": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "status": {
                                      "type": "string",
                                      "enum": [
                                        "ok",
                                        "retracted",
                                        "concern",
                                        "correction",
                                        "unknown"
                                      ]
                                    },
                                    "notices": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "description": "e.g., \"retraction\", \"correction\", \"expression-of-concern\""
                                          },
                                          "label": {
                                            "type": "string"
                                          },
                                          "doi": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "date": {
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "source": {
                                            "type": "string",
                                            "nullable": true
                                          }
                                        }
                                      }
                                    },
                                    "error": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "code": {
                                          "type": "string"
                                        },
                                        "message": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "open_access": {
                                  "type": "object",
                                  "additionalProperties": false,
                                  "properties": {
                                    "status": {
                                      "type": "string",
                                      "enum": [
                                        "open",
                                        "closed",
                                        "unknown"
                                      ]
                                    },
                                    "oa_status": {
                                      "type": "string",
                                      "enum": [
                                        "gold",
                                        "green",
                                        "hybrid",
                                        "bronze",
                                        "closed"
                                      ]
                                    },
                                    "best_url": {
                                      "type": "string"
                                    },
                                    "pdf_url": {
                                      "type": "string",
                                      "description": "Direct free-PDF link when Unpaywall supplies `url_for_pdf`.",
                                      "nullable": true
                                    },
                                    "license": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "version": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "error": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "code": {
                                          "type": "string"
                                        },
                                        "message": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "doaj": {
                                  "type": "object",
                                  "description": "DOAJ (Directory of Open Access Journals) indexing status for the work's JOURNAL,\nkeyed by the container ISSN. A VENUE-level signal: `indexed` means the journal is in\nDOAJ's vetted open-access index. `not_indexed` is NOT a predatory-journal verdict —\nsubscription journals and brand-new OA titles are legitimately absent. Present only\nwhen `?checks=doaj` is requested AND the server has `ENABLE_DOAJ_CHECK=1`; otherwise\n`status` is `unknown`. (The DOAJ Seal is not surfaced — absent from the public API.)\n",
                                  "additionalProperties": false,
                                  "properties": {
                                    "status": {
                                      "type": "string",
                                      "enum": [
                                        "indexed",
                                        "not_indexed",
                                        "unknown"
                                      ]
                                    },
                                    "in_doaj": {
                                      "type": "boolean"
                                    },
                                    "title": {
                                      "type": "string",
                                      "description": "DOAJ's journal title (match confirmation)."
                                    },
                                    "license": {
                                      "type": "string",
                                      "description": "Primary licence type, e.g. \"CC BY\"."
                                    },
                                    "issn": {
                                      "type": "string",
                                      "description": "ISSN matched on (normalised NNNN-NNNX)."
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "Canonical DOAJ table-of-contents URL for the journal."
                                    },
                                    "error": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "properties": {
                                        "code": {
                                          "type": "string"
                                        },
                                        "message": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "_provenance": {
                              "type": "object",
                              "description": "Sibling field on resolved items; populated only when ?provenance=1 (or =full) is set.\nAll fields beyond {transform_version, sources, resolved_at} are additive and optional —\nomitted when not applicable (e.g. fallbacks_tried is absent when the primary resolver\nwon on the first try). full_metadata appears only under ?provenance=full.\n",
                              "additionalProperties": false,
                              "required": [
                                "transform_version",
                                "sources",
                                "resolved_at"
                              ],
                              "properties": {
                                "transform_version": {
                                  "type": "string",
                                  "description": "Pinned dep digest mirroring x-scholar-transform-version."
                                },
                                "resolved_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "request_id": {
                                  "type": "string",
                                  "description": "Request correlation id (mirrors x-request-id); aligns with the verifier _provenance block."
                                },
                                "sources": {
                                  "type": "array",
                                  "description": "Sources that contributed the winning record (V2 emits the single winner).",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "required": [
                                      "name"
                                    ],
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "description": "Source service name (e.g., \"crossref\")"
                                      },
                                      "url": {
                                        "type": "string"
                                      },
                                      "fetched_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "When this process fetched the record."
                                      },
                                      "upstream_fetched_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Upstream's own record timestamp (e.g. Crossref indexed/deposited), when available."
                                      },
                                      "cache": {
                                        "type": "string",
                                        "enum": [
                                          "hit",
                                          "miss",
                                          "bypass"
                                        ]
                                      },
                                      "role": {
                                        "type": "string",
                                        "enum": [
                                          "primary",
                                          "fallback"
                                        ],
                                        "description": "Reserved for multi-source mode; unset in V2 (sources holds only the winner)."
                                      },
                                      "ttl_band": {
                                        "type": "string",
                                        "enum": [
                                          "recent",
                                          "mid",
                                          "frozen"
                                        ],
                                        "description": "Cache-TTL recency band applied to this record (Phase 12g): recent (short TTL), mid, or frozen (long TTL). Present only when TTL calibration is enabled."
                                      }
                                    }
                                  }
                                },
                                "fallbacks_tried": {
                                  "type": "array",
                                  "description": "Resolvers consulted before the winner; omitted when the primary won first try.",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "required": [
                                      "name",
                                      "outcome"
                                    ],
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "outcome": {
                                        "type": "string",
                                        "enum": [
                                          "won",
                                          "not_found",
                                          "error",
                                          "empty",
                                          "skipped"
                                        ]
                                      },
                                      "reason": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "fields_from_source": {
                                  "type": "array",
                                  "description": "CSL-relevant fields the upstream record populated.",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "fields_absent": {
                                  "type": "array",
                                  "description": "CSL-relevant fields the schema permits but upstream did not supply.",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "normalization": {
                                  "type": "array",
                                  "description": "Canonicalisation steps applied to the identifier(s) on this request's input.",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "required": [
                                      "rule",
                                      "from",
                                      "to"
                                    ],
                                    "properties": {
                                      "rule": {
                                        "type": "string",
                                        "description": "Stable rule token, e.g. \"doi:lowercase\", \"issn:format\"."
                                      },
                                      "from": {
                                        "type": "string"
                                      },
                                      "to": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "field_provenance": {
                                  "type": "object",
                                  "description": "Per-field source attribution. Reserved for per-field × per-source freshness;\nsparse/omitted in V2. Object-valued so future freshness keys are additive.\n",
                                  "additionalProperties": {
                                    "type": "object",
                                    "additionalProperties": false,
                                    "required": [
                                      "source"
                                    ],
                                    "properties": {
                                      "source": {
                                        "type": "string"
                                      },
                                      "upstream_fetched_at": {
                                        "type": "string",
                                        "format": "date-time"
                                      }
                                    }
                                  }
                                },
                                "full_metadata": {
                                  "type": "object",
                                  "description": "Rich linked-data graph; present only under ?provenance=full.",
                                  "additionalProperties": false,
                                  "properties": {
                                    "funders": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "doi": {
                                            "type": "string"
                                          },
                                          "award": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "orcids": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "ror_ids": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "license": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "clinical_trial_ids": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "trust_signals": {
                                  "type": "object",
                                  "description": "Per-signal trust summary; present only when ?checks= ran alongside\n?provenance=. Records, per requested signal, whether it was evaluated\n(a DOI was available) or skipped (no_doi), plus the resulting status.\n",
                                  "additionalProperties": false,
                                  "properties": {
                                    "retraction": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "required": [
                                        "requested",
                                        "evaluated"
                                      ],
                                      "properties": {
                                        "requested": {
                                          "type": "boolean"
                                        },
                                        "evaluated": {
                                          "type": "boolean"
                                        },
                                        "status": {
                                          "type": "string",
                                          "enum": [
                                            "ok",
                                            "retracted",
                                            "concern",
                                            "correction",
                                            "unknown"
                                          ]
                                        },
                                        "skipped_reason": {
                                          "type": "string",
                                          "enum": [
                                            "no_doi"
                                          ]
                                        }
                                      }
                                    },
                                    "open_access": {
                                      "type": "object",
                                      "additionalProperties": false,
                                      "required": [
                                        "requested",
                                        "evaluated"
                                      ],
                                      "properties": {
                                        "requested": {
                                          "type": "boolean"
                                        },
                                        "evaluated": {
                                          "type": "boolean"
                                        },
                                        "status": {
                                          "type": "string",
                                          "enum": [
                                            "open",
                                            "closed",
                                            "unknown"
                                          ]
                                        },
                                        "oa_status": {
                                          "type": "string",
                                          "enum": [
                                            "gold",
                                            "green",
                                            "hybrid",
                                            "bronze",
                                            "closed"
                                          ]
                                        },
                                        "pdf_url": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "skipped_reason": {
                                          "type": "string",
                                          "enum": [
                                            "no_doi"
                                          ]
                                        }
                                      }
                                    }
                                  }
                                },
                                "mode": {
                                  "type": "string",
                                  "enum": [
                                    "strict",
                                    "best-effort"
                                  ],
                                  "description": "Resolver mode that produced the item (Phase 12h). `strict` = fixed-order chain (today's only mode); `best-effort` reserved."
                                },
                                "selection_reason": {
                                  "type": "string",
                                  "enum": [
                                    "static_chain_position"
                                  ],
                                  "description": "Why the winning source was chosen. For `strict`, always static_chain_position."
                                },
                                "container_only": {
                                  "type": "boolean",
                                  "description": "True when the resolved record is a journal/container, not a work — e.g.\nthe input was an ISSN/eISSN, which identifies a serial, not a paper\n(Phase 12j). Omitted (not `false`) for ordinary work records.\n"
                                },
                                "conflicts": {
                                  "type": "object",
                                  "description": "Cross-source verification (Phase 12a.V2b); present only under\n?provenance=conflicts AND the ENABLE_PROVENANCE_CONFLICTS server flag.\nThe winning record is cross-checked against ONE independent source\n(e.g. PubMed for a Crossref DOI; Google Books vs Open Library).\nObservational — exempt from the byte-determinism guarantee.\n",
                                  "additionalProperties": false,
                                  "required": [
                                    "status"
                                  ],
                                  "properties": {
                                    "checked_against": {
                                      "type": "string",
                                      "description": "The independent source cross-checked against (omitted when none available)."
                                    },
                                    "status": {
                                      "type": "string",
                                      "enum": [
                                        "agreed",
                                        "conflict",
                                        "unavailable"
                                      ]
                                    },
                                    "skipped_reason": {
                                      "type": "string",
                                      "enum": [
                                        "no_secondary_source",
                                        "upstream_error",
                                        "not_found"
                                      ]
                                    },
                                    "fields": {
                                      "type": "array",
                                      "description": "Field-level disagreements; present only when status is `conflict`.",
                                      "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                          "field",
                                          "primary",
                                          "secondary"
                                        ],
                                        "properties": {
                                          "field": {
                                            "type": "string",
                                            "enum": [
                                              "title",
                                              "first_author",
                                              "year",
                                              "container"
                                            ]
                                          },
                                          "primary": {
                                            "type": "object",
                                            "additionalProperties": false,
                                            "required": [
                                              "source",
                                              "value"
                                            ],
                                            "properties": {
                                              "source": {
                                                "type": "string"
                                              },
                                              "value": {
                                                "oneOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "number"
                                                  }
                                                ]
                                              }
                                            }
                                          },
                                          "secondary": {
                                            "type": "object",
                                            "additionalProperties": false,
                                            "required": [
                                              "source",
                                              "value"
                                            ],
                                            "properties": {
                                              "source": {
                                                "type": "string"
                                              },
                                              "value": {
                                                "oneOf": [
                                                  {
                                                    "type": "string"
                                                  },
                                                  {
                                                    "type": "number"
                                                  }
[...]
