{
  "openapi": "3.1.0",
  "info": {
    "title": "GrowSurf REST API",
    "version": "2.0.0",
    "description": "Public GrowSurf REST API for managing programs, participants, referrals,\nrewards, affiliate commissions, payouts, and analytics.\n\nEvery endpoint except `POST /accounts` requires a GrowSurf REST API key in the\n`Authorization: Bearer <api_key>` header. You can create multiple API keys in the GrowSurf\ndashboard, with optional scopes and program access limits.\n\nEach operation lists its required API-key scope in `x-growsurf-required-scopes`.\nTeam scopes cover team details and verification; program scopes cover program settings,\nreward configuration, and webhooks; participant scopes cover participant records and\nreferrals; reward scopes cover sales, commissions, payouts, and issued rewards; and\nanalytics scope covers aggregate reporting. `api_key:rotate` is available only to direct\nAPI-key REST/SDK clients and is unavailable through MCP. `reward:fulfill` is separate\nbecause fulfillment may deliver something of value.\n\nThe team owner's email address must be verified before the API can manage programs and their\nresources. Until it is, those endpoints return a `403` with error code\n`EMAIL_NOT_VERIFIED_ERROR`. Resend the owner verification email via\n`POST /team/owner/verification-email`, then retry.\n\nFor agent-led onboarding, use the canonical Arazzo 1.1 workflow at\n`https://growsurf.com/arazzo.yaml`. It creates an account, stops for owner email verification,\nand resumes with draft program configuration. It never launches a program or performs a paid,\nreward, payout, key-rotation, or destructive action.\n\nREST responses include `RateLimit-Policy` and `RateLimit` fields so clients can throttle before\nthey reach a quota. Before authentication, these fields describe only the caller's public\nnetwork budget. After authentication, they describe the credential and team budgets. A `429`\nresponse also includes `Retry-After`; that value takes precedence when it is present. GrowSurf's\nlegacy rate-limit fields remain available for backward compatibility.\n\nGrowSurf versions this API in the URL and gives at least 12 calendar months of public notice\nbefore a planned breaking removal. The notice period starts when the public OpenAPI schema marks\nthe affected surface as deprecated and GrowSurf publishes migration guidance. Urgent security,\nprivacy, legal, or service-integrity requirements can require a shorter window. See the public\nlifecycle policy for the full rules and machine-readable signals.\n\nEvery REST response carries `Link: <policy-url>; rel=\"deprecation\"` (RFC 9745), which points at\nthat lifecycle policy. A surface that is actually deprecated adds a `Deprecation` field, and one\nwith a planned shutdown date adds a `Sunset` field (RFC 8594). No `Deprecation` field means the\nsurface is not deprecated.\n",
    "contact": {
      "name": "GrowSurf Support",
      "url": "https://growsurf.com/settings#contact_support"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://growsurf.com/terms"
    },
    "x-deprecation-policy": {
      "url": "https://docs.growsurf.com/developer-tools/rest-api/api-lifecycle",
      "versioning": "URL path (/v2)",
      "minimumNoticeMonths": 12,
      "signals": [
        "Link: <https://docs.growsurf.com/developer-tools/rest-api/api-lifecycle>; rel=\"deprecation\" (RFC 9745) on every response",
        "Deprecation response field (RFC 9745) once a surface is deprecated",
        "Sunset response field (RFC 8594) once a shutdown date is planned",
        "deprecated: true in this OpenAPI document"
      ]
    },
    "x-jentic-source-url": "https://growsurf.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.growsurf.com/v2",
      "description": "Production"
    }
  ],
  "paths": {
    "/team": {
      "get": {
        "tags": [
          "Teams"
        ],
        "operationId": "getTeam",
        "x-growsurf-required-scopes": [
          "team:read"
        ],
        "summary": "Retrieve team",
        "description": "Retrieves the team bound to the API key or OAuth connection. `verificationStatus` is `VERIFIED` once GrowSurf has verified the team, which is required before a program can send participant emails.",
        "responses": {
          "200": {
            "description": "Team returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/TeamExample"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "tags": [
          "Teams"
        ],
        "operationId": "updateTeam",
        "x-growsurf-required-scopes": [
          "team:write"
        ],
        "summary": "Update team",
        "description": "Updates the name of the team bound to the API key or OAuth connection. Any other property is rejected with a `400`. Personal profiles, billing, and team ownership are not editable here.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeamRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/UpdateTeamRequestExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated team returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/TeamExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "createAccount",
        "x-growsurf-required-scopes": [],
        "summary": "Create an account without an API key",
        "description": "Creates a new GrowSurf account. This is the only endpoint that does not require an API key. Before calling it, an authorized account owner must review and approve GrowSurf's [Terms of Service](https://growsurf.com/terms) and [Privacy Policy](https://growsurf.com/privacy). The account starts a 14-day Business trial without a credit card. The response includes an API key for the new account, shown once in the response. The key is a secret: store it in a secret manager and do not put it in logs, screenshots, URLs, model context, analytics, or generated output. A lost key cannot be recovered through this API, so do not create an account here unless you can store the key somewhere that outlives the current conversation. If you cannot, ask the account owner to connect GrowSurf's hosted MCP server at `https://mcp.growsurf.com` instead, which keeps the credential with your tool rather than in chat. The key is locked until the team owner's email address is verified: authenticated program and resource endpoints return a `403` with error code `EMAIL_NOT_VERIFIED_ERROR` until then (resend the email via `POST /team/owner/verification-email`, then retry). Verification unlocks this same key — keep it and retry rather than requesting a replacement. A welcome email is sent to the address with the verification link and a set-password link for dashboard access. Accounts whose email is never verified are deleted automatically after 7 days. Separately, for security, the API key is replaced the first time the account owner signs in to the GrowSurf dashboard; email verification does not trigger that, and the previous key then returns a `403` with error code `NOT_AUTHORIZED_ERROR`. Some actions (such as emailing participants) additionally require GrowSurf to verify the team first. Calling this endpoint accepts those policies on the account holder's behalf.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CreateAccountRequestExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CreateAccountResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "description": "The account could not be created with the supplied details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "name": "AccountCreationConflictError",
                  "code": "ACCOUNT_CREATION_CONFLICT_ERROR",
                  "message": "The account could not be created with the supplied details. To continue with an account you set up earlier, sign in at https://app.growsurf.com, then connect your AI assistant in Settings > AI Connections at https://app.growsurf.com/settings#ai-connections.",
                  "status": 409
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/team/verification-request": {
      "post": {
        "tags": [
          "Teams"
        ],
        "operationId": "requestTeamVerification",
        "x-growsurf-required-scopes": [
          "team:write"
        ],
        "summary": "Request team verification",
        "description": "Requests GrowSurf to verify the bound team (required before a program can email its participants). Idempotent — calling it again while a request is pending does not create a duplicate. Returns the team with its updated `verificationStatus`.",
        "responses": {
          "200": {
            "description": "Verification request recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/TeamExample"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/team/owner/verification-email": {
      "post": {
        "tags": [
          "Teams"
        ],
        "operationId": "resendTeamOwnerVerificationEmail",
        "x-growsurf-required-scopes": [
          "team:write"
        ],
        "summary": "Resend team owner verification email",
        "description": "Resends the email-verification message to the owner of the account the API key belongs to. This is the recovery path for a `403` with error code `EMAIL_NOT_VERIFIED_ERROR`, so it stays callable with any GrowSurf API key while the rest of the API is locked. The response never reveals the owner's email address. A `200` with `status: SENT` is returned only when an email was actually dispatched. Returns `400` if the email is already verified, and `429` if a verification email was sent too recently — wait a moment, then retry.",
        "responses": {
          "200": {
            "description": "Verification email sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationEmailResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/VerificationEmailResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api-key/rotate": {
      "post": {
        "tags": [
          "Teams"
        ],
        "operationId": "rotateApiKey",
        "x-growsurf-required-scopes": [
          "api_key:rotate"
        ],
        "x-growsurf-credential-types": [
          "TEAM_API_KEY"
        ],
        "summary": "Rotate API key",
        "description": "Generates a new API key and makes the key used on this request stop working when rotation succeeds. Send a unique, random `Idempotency-Key`. If the response is interrupted, immediately retry with the original API key and the same `Idempotency-Key` to receive the same new key. Update every integration that used the old key. The team owner is notified by email whenever the key is rotated. GrowSurf SDKs generate the idempotency key automatically. This endpoint accepts an API key with `api_key:rotate`. If this scope is unavailable, rotate the key in the authenticated dashboard instead. This operation is available only through the REST API or a GrowSurf API SDK, not through MCP.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A unique, random value for this rotation request. Reuse this value only when retrying the same request with the original API key.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 255,
              "pattern": "^[A-Za-z0-9._:-]+$",
              "example": "pied-piper-api-key-rotation-550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The new API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateApiKeyResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/RotateApiKeyResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "listCampaigns",
        "x-growsurf-required-scopes": [
          "program:read"
        ],
        "summary": "List campaigns",
        "description": "Retrieves a list of your programs. Deleted programs are not returned.",
        "responses": {
          "200": {
            "description": "Campaigns returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CampaignListExample"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "createCampaign",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Create a campaign",
        "description": "Creates a new program, plus any optional campaign rewards. The new program is created in `DRAFT` status and owned by the API key's bound team.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreateRequest"
              },
              "examples": {
                "draftReferralProgram": {
                  "summary": "Draft referral program without rewards",
                  "value": {
                    "type": "REFERRAL",
                    "name": "Pied Piper Referral Program",
                    "companyName": "Pied Piper",
                    "currencyISO": "USD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                },
                "examples": {
                  "draftReferralProgram": {
                    "$ref": "#/components/examples/DraftCampaignExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "description": "This action isn't available for your account yet (it needs an active subscription or a payment method on file), or the program limit was reached."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "retrieveCampaign",
        "x-growsurf-required-scopes": [
          "program:read"
        ],
        "summary": "Retrieve a campaign",
        "description": "Retrieves a program for the given program ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CampaignExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "updateCampaign",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Update a campaign",
        "description": "Updates a program's identity and lifecycle. Only the fields you send are changed. `type`, `urlId`, and `currencyISO` are immutable. Editor-tab configuration (design, emails, options, installation) is edited via the dedicated config sub-resources, not here. The program cannot be deleted via this endpoint.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/clone": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "cloneCampaign",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Clone a campaign",
        "description": "Clones an existing program into a new `DRAFT` program. Integrations and credentials are not copied; active rewards are cloned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign cloned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/analytics": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "operationId": "retrieveCampaignAnalytics",
        "x-growsurf-required-scopes": [
          "analytics:read"
        ],
        "summary": "Retrieve campaign analytics",
        "description": "Retrieves analytics for a program. Pass `interval` to also get a time-series (`series`) alongside the totals, and `include` to add previous-period totals, status breakdowns, derived rates, email performance, or participant engagement. Add `email` to `include` for `sent` (accepted for delivery), `delivered`, `opened`, `clicked`, `bounced`, and `spamComplaints` metrics plus per-email-type breakdowns. Add `engagement` for unique active, sharing, repeat, and retained participants plus portal-view and share-action totals. Email rates and engagement comparisons are ratios from `0` to `1`. Email `isPartial` and engagement coverage states distinguish unavailable or partial data from measured zeroes.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/AnalyticsDays"
          },
          {
            "$ref": "#/components/parameters/AnalyticsStartDate"
          },
          {
            "$ref": "#/components/parameters/AnalyticsEndDate"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "When set to `day`, `week`, or `month`, the response also includes a `series` array with per-period totals and uses the same bucket size for `engagement.series`. Defaults to `total` (no legacy series); `engagement.series` uses daily buckets when `interval` is `total` or omitted.",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "total"
              ],
              "default": "total"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated list of optional data to include: `previousPeriod` adds totals for the equal-length window immediately before the requested one; `statusCounts` adds reward (and, for affiliate programs, affiliate/commission/payout) status breakdowns; `rates` adds derived referral rates; `email` adds `sent`, `delivered`, `opened`, `clicked`, `bounced`, `spamComplaints`, and per-email-type metrics; `engagement` adds unique participant engagement, action totals, comparisons, and platform/source/channel breakdowns. When `email` and an interval are both requested, each `series` item also contains counts for emails sent during that period. Combine `email` with `previousPeriod` to include the same email metrics in both windows.",
            "schema": {
              "type": "string",
              "example": "previousPeriod,statusCounts,rates,email,engagement"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "IANA timezone used for engagement interval boundaries and distinct-day calculations. Used only when `include` contains `engagement`.",
            "schema": {
              "type": "string",
              "default": "UTC",
              "example": "America/Los_Angeles"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Limits engagement events to one client platform. Used only when `include` contains `engagement`.",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "WEB",
                "IOS",
                "ANDROID"
              ],
              "default": "ALL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign analytics returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignAnalyticsResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CampaignAnalyticsExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/analytics/activation": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "operationId": "retrieveCampaignActivationAnalytics",
        "x-growsurf-required-scopes": [
          "analytics:read"
        ],
        "summary": "Retrieve campaign activation analytics",
        "description": "Retrieves activation for eligible participants in one exact half-open enrollment cohort. `aggregate` covers the complete selected cohort, while `cohorts` splits that same range by `cohortInterval`. Each participant has the selected `observationWindowDays` after their eligibility date to reach each ordered stage. If `cohortFrom` and `cohortTo` are omitted, GrowSurf selects the latest fully matured rolling cohort. Unavailable and partial states preserve unknown pre-coverage data instead of reporting false zeroes. One request can return at most 100 cohort buckets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "name": "cohortFrom",
            "in": "query",
            "description": "Inclusive cohort start as a Unix timestamp in milliseconds. Provide it together with `cohortTo`, or omit both for the latest fully matured cohort.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1767225600000
            }
          },
          {
            "name": "cohortTo",
            "in": "query",
            "description": "Exclusive cohort end as a Unix timestamp in milliseconds. Provide it together with `cohortFrom`, or omit both for the latest fully matured cohort.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1767830400000
            }
          },
          {
            "name": "cohortInterval",
            "in": "query",
            "description": "Bucket size for the `cohorts` array.",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ],
              "default": "day"
            }
          },
          {
            "name": "observationWindowDays",
            "in": "query",
            "description": "Days after each participant's eligibility date in which stages can count.",
            "schema": {
              "type": "integer",
              "enum": [
                7,
                30
              ],
              "default": 30
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "IANA timezone used to advance cohort bucket boundaries.",
            "schema": {
              "type": "string",
              "default": "UTC",
              "example": "America/Los_Angeles"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign activation analytics returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignActivationAnalyticsResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/CampaignActivationAnalyticsExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/reward-configs": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "listCampaignRewards",
        "x-growsurf-required-scopes": [
          "program:read"
        ],
        "summary": "List campaign rewards",
        "description": "Retrieves the program's configured Campaign Rewards, including rewards with `isVisible: false` and rewards whose group is not selected. Deleted rewards are excluded. Use this list to review and update switched-off starter rewards. `isVisible: true` alone does not mean a reward can be earned: a reward whose group is not selected can still be visible. A reward can be earned only when it also appears in the campaign response's embedded `rewards` array, which includes only enabled, visible rewards. Delete a reward with `DELETE /campaign/{id}/reward-configs/{campaignRewardId}`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign rewards returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignRewardListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "createCampaignReward",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Create a campaign reward",
        "description": "Creates a new campaign reward (`CampaignReward`) with a GrowSurf-assigned ID. The reward type must be compatible with the program type (affiliate programs support only `AFFILIATE` rewards; referral programs support all other types). Enabling an active reward of a type automatically enables that reward type on the program.\nFor a referral reward, `event: LEAD` earns the reward on a referred signup and requires the program's `referralTrigger` to be `CUSTOM`; `event: CONVERSION` earns it on the later qualifying action. For an affiliate reward, `commissionStructure.event: LEAD` requires a `FIXED` commission with a positive `amount`; `SALE` can use `FIXED` or `PERCENT`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RewardCreateRequest"
              },
              "examples": {
                "referral": {
                  "summary": "Referral (double-sided) reward",
                  "value": {
                    "type": "DOUBLE_SIDED",
                    "description": "Refer a friend and get a Pied Piper T-Shirt",
                    "referralDescription": "Join and receive the middle-out compression algorithm",
                    "conversionsRequired": 1
                  }
                },
                "affiliate": {
                  "summary": "Affiliate percentage commission",
                  "value": {
                    "type": "AFFILIATE",
                    "description": "Earn 25% on all referrals",
                    "commissionStructure": {
                      "type": "PERCENT",
                      "percent": 25,
                      "event": "SALE",
                      "holdDuration": 30
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign reward created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reward"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/reward-configs/{campaignRewardId}": {
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "updateCampaignReward",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Update a campaign reward",
        "description": "Updates an existing campaign reward (`CampaignReward`). The reward `type` is immutable and cannot be changed. When the update replaces `metadata`, renamed keys automatically rewrite any `{{campaignReward[…]}}` references in campaign copy; removing a key that campaign copy still references returns a `409` listing the referencing fields.\nFor a referral reward, `event: LEAD` earns the reward on a referred signup and requires the program's `referralTrigger` to be `CUSTOM`; `event: CONVERSION` earns it on the later qualifying action. For an affiliate reward, `commissionStructure.event: LEAD` requires a `FIXED` commission with a positive `amount`; `SALE` can use `FIXED` or `PERCENT`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/CampaignRewardId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RewardUpdateRequest"
              },
              "examples": {
                "rename": {
                  "summary": "Update a reward's description",
                  "value": {
                    "description": "Refer a friend and get a Pied Piper hoodie"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign reward updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reward"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "deleteCampaignReward",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Delete a campaign reward",
        "description": "Deletes a campaign reward (`CampaignReward`). The reward is deactivated, removed from the program's reward set, and any connected upfront-discount coupons are cleaned up. If campaign copy still references any of the reward's metadata keys via `{{campaignReward[…]}}` tokens, the delete returns a `409` listing the referencing fields — update those fields first.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/CampaignRewardId"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign reward deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRewardResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/resources": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "listProgramResources",
        "x-growsurf-required-scopes": [
          "program:read"
        ],
        "summary": "List program resources",
        "description": "Returns all draft and published FILE, LINK, and TEXT resources in their participant display order. Private file delivery coordinates are never returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "Program resources returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResourceListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ProgramResourceListExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "createProgramResource",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Create a program resource",
        "description": "Creates one resource at the end of the program's order. LINK URLs must use HTTPS. TEXT content is plain text. To create a new FILE, first request an upload ticket, upload the bytes directly to the returned URL, then send the upload result as `uploadResult` with the one-time `uploadTicket`. A FILE is available to participants while its security review is pending; a rejected review blocks it.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProgramResourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Program resource created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResource"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ProgramResourceExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/resources/{resourceId}": {
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "updateProgramResource",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Update a program resource",
        "description": "Updates the supplied content or publication fields. Set `position` to move the resource; GrowSurf compacts the remaining positions. Changing `type` requires the complete fields for the new type. A FILE whose security review rejected it cannot be published or downloaded; a pending review does not block it.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/ProgramResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProgramResourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Program resource updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResource"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ProgramResourceExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "deleteProgramResource",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Delete a program resource",
        "description": "Deletes the program resource and compacts the remaining order. A referenced Media Center file is not deleted.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/ProgramResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Program resource deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteProgramResourceResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/DeleteProgramResourceExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/resource-upload-tickets": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "createProgramResourceUploadTicket",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Create a program resource upload ticket",
        "description": "Creates a short-lived, one-time ticket and signed fields for an access-controlled FILE upload. The ticket is bound to this team, program, file name, MIME type, and byte size. Upload the exact bytes to `uploadUrl` with `uploadParameters`, then create or update a FILE resource with the returned upload result. This operation returns `503` until secure file review is configured.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramResourceUploadTicketRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One-time upload ticket created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResourceUploadTicket"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ProgramResourceUploadTicketExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/campaign/{id}/emails": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "retrieveCampaignEmails",
        "x-growsurf-required-scopes": [
          "program:read"
        ],
        "summary": "Retrieve campaign emails",
        "description": "Retrieves a program's email configuration — the same surface as the dashboard Program Editor's **Emails** tab. Returns each editable email template (`subject`, `preheader`, `body`, `isEnabled`) plus the `settings` block (sender, contact, and design). The set of email templates returned depends on the program type (referral vs affiliate).",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign emails configuration returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignEmails"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "updateCampaignEmails",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Update campaign emails",
        "description": "Updates a program's email configuration. Only the fields you send are changed; omitted fields are left untouched. You may only write the email templates the dashboard exposes for the program type — writing a template that is not available for the program type returns a `400`. Some fields are read-only (`settings.sender.fromEmail`, whose custom value requires dashboard domain verification).",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignEmails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign emails configuration updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignEmails"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/installation": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "retrieveCampaignInstallation",
        "x-growsurf-required-scopes": [
          "program:read"
        ],
        "summary": "Retrieve campaign installation",
        "description": "Retrieves a program's installation configuration — the same surface as the dashboard Program Editor's **Installation** tab (plus the Mobile SDK settings). Includes the referral trigger (referral programs only), signup tracking method, share URL and whitelist, custom-form signup settings, and mobile SDK settings.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign installation configuration returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignInstallation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "updateCampaignInstallation",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Update campaign installation",
        "description": "Updates a program's installation configuration. Only the fields you send are changed; omitted fields are left untouched. `referralTrigger` is only available for referral programs. `mobile.publicKey` is read-only; if no key exists yet, enabling `mobile.isEnabled` creates one. Changing `shareUrl` re-resolves its redirect destinations, which may take a moment to complete. URLs must include an explicit `http://` or `https://` scheme.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignInstallation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign installation configuration updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignInstallation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/referral-flow-screenshots": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "captureReferralFlowScreenshots",
        "x-growsurf-required-scopes": [
          "program:read"
        ],
        "summary": "Capture referral-flow preview screenshots",
        "description": "Renders the program's current saved configuration into two preview images: the referrer window a participant sees, and the referred-friend experience. Use them to show a person what the draft looks like before anything launches. The images render GrowSurf's own preview, not the program's installed website, so they do not prove an installation. Show each image inline when the client supports it, and include an Open preview link using the exact returned URL. Some clients cannot display remote images inline. Each URL is private and expires at `expiresAt`; compare that timestamp with the current UTC time before reporting it expired. Capture again after expiry. Only the account owner's credential can capture screenshots, and the endpoint takes no request body.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "Two preview images with expiring URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralFlowScreenshotsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/options": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "retrieveCampaignOptions",
        "x-growsurf-required-scopes": [
          "program:read"
        ],
        "summary": "Retrieve campaign options",
        "description": "Retrieves a program's options — the same surface as the dashboard Program Editor's **Options** tab. Includes the attribution model, reward/fraud approval, anti-fraud lists + toggles, referral cookie/credit windows, reCAPTCHA, affiliate enrollment + application review, payout threshold + tax settings (affiliate only), and notification-email settings. `fraud.recaptcha.secretKey` is never returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign options returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignOptions"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "updateCampaignOptions",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Update campaign options",
        "description": "Updates a program's options. Only the fields you send are changed. Some fields are program-type specific (`requireManualRewardApproval`/`autoFulfillRewards` are referral-only; `affiliateApplicationMode`/`affiliateReapplicationPolicy` and `payoutThreshold`/`taxDocumentation` are affiliate-only, and affiliate programs require `requireParticipantAuth: true`). `fraud.recaptcha.secretKey` is write-only. `referralCreditWindowDays: null` means \"never expires\".",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign options updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignOptions"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/design": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "retrieveCampaignDesign",
        "x-growsurf-required-scopes": [
          "program:read"
        ],
        "summary": "Retrieve campaign design",
        "description": "Retrieves a program's configured design fields: the dashboard Program Editor's **Design** tab plus the payout-destination confirmation page copy configured from payout integration cards. This includes the GrowSurf window layout, header, share channels and invites, signup form, portal and landing pages, theme styling, and referral or affiliate summary and status sections. The available fields depend on the program type. `payoutDestinationConfirmation` is omitted when no confirmation fields are stored. Stored `null` fields are returned as `null`; omitted and `null` fields use localized defaults.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign design returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignDesign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "updateCampaignDesign",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Update campaign design",
        "description": "Updates a program's design configuration, including the payout-destination confirmation page copy configured from payout integration cards. Only the fields you send are changed; anything you leave out is untouched (arrays such as `signup.fields` replace wholesale). Unknown fields, fields not available for the program type, and invalid values return a `400`. Landing-page custom code and JavaScript are not editable via the API.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignDesign"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign design updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignDesign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/participants": {
      "get": {
        "tags": [
          "Participants"
        ],
        "operationId": "listParticipants",
        "x-growsurf-required-scopes": [
          "participant:read"
        ],
        "summary": "List participants",
        "description": "Retrieves a paged list of participants in a program.\n\nPass `metadata[key]=value` to return only participants whose stored metadata matches every given key and value exactly, for example `metadata[customerId]=12345`. Up to 3 keys per request. Filtered results are ordered by participant `id` and page with the same `nextId` and `limit` parameters. Filtered requests are rate limited separately from unfiltered ones and return `429` when that limit is reached.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/NextId"
          },
          {
            "$ref": "#/components/parameters/Limit100"
          },
          {
            "$ref": "#/components/parameters/ParticipantMetadataFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Participants returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ParticipantListExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/leaderboard": {
      "get": {
        "tags": [
          "Participants"
        ],
        "operationId": "listLeaderboard",
        "x-growsurf-required-scopes": [
          "participant:read"
        ],
        "summary": "List leaderboard participants",
        "description": "Retrieves participants in leaderboard order for the specified leaderboard type.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/NextId"
          },
          {
            "$ref": "#/components/parameters/Limit100"
          },
          {
            "name": "isMonthly",
            "in": "query",
            "deprecated": true,
            "description": "Deprecated. Use `leaderboardType=CURRENT_MONTH` instead.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "leaderboardType",
            "in": "query",
            "description": "Leaderboard ordering mode.",
            "schema": {
              "$ref": "#/components/schemas/LeaderboardType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard participants returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ParticipantListExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/participant": {
      "post": {
        "tags": [
          "Participants"
        ],
        "operationId": "createParticipant",
        "x-growsurf-required-scopes": [
          "participant:write"
        ],
        "summary": "Add participant",
        "description": "Adds a new participant to the program. If the email already exists, the existing participant is returned unchanged. For affiliate programs, set `isAffiliate` to `true` to enroll a new participant as an approved affiliate or `false` to create a non-affiliate. If you omit `isAffiliate`, a valid `referredBy` creates a referred non-affiliate; without a valid referrer, the new participant is enrolled as an approved affiliate. You can send a valid `referredBy` with `isAffiliate: true` to keep the referral attribution and enroll the participant as an affiliate. A new participant with a valid `referredBy` counts as a referred signup. When the program's `referralTrigger` is `CUSTOM`, that signup can earn Lead-event rewards and commissions for the referrer, the same as a signup through the public client or mobile flow.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateParticipantRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CreateParticipantRequestExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Participant returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Participant"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ParticipantExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "description": "Participant was blocked or the endpoint is not available for this program type.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ParticipantBlockedError"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/participant/{participantIdOrEmail}": {
      "get": {
        "tags": [
          "Participants"
        ],
        "operationId": "retrieveParticipant",
        "x-growsurf-required-scopes": [
          "participant:read"
        ],
        "summary": "Retrieve participant",
        "description": "Retrieves a single participant by GrowSurf participant ID or email address.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/ParticipantIdOrEmail"
          }
        ],
        "responses": {
          "200": {
            "description": "Participant returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Participant"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ParticipantExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Participants"
        ],
        "operationId": "updateParticipant",
        "x-growsurf-required-scopes": [
          "participant:write"
        ],
        "summary": "Update participant",
        "description": "Updates a participant by GrowSurf participant ID or email address. For affiliate programs, set `affiliateStatus` to `APPROVED`, `SUSPENDED`, or `BANNED`. `APPROVED` enrolls the participant as an affiliate. `SUSPENDED` and `BANNED` require an existing affiliate. This endpoint does not accept `isAffiliate`, and affiliate enrollment cannot be removed through REST. Setting `referredBy` on a participant without a referrer counts as a referred signup: when the program's `referralTrigger` is `CUSTOM` and the referral is `CREDIT_PENDING`, it can earn Lead-event rewards and commissions for the referrer once. A referrer assigned with `referralStatus: CREDIT_AWARDED` does not earn Lead value.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/ParticipantIdOrEmail"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateParticipantRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/UpdateParticipantRequestExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated participant returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Participant"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ParticipantExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "tags": [
          "Participants"
        ],
        "operationId": "deleteParticipant",
        "x-growsurf-required-scopes": [
          "participant:delete"
        ],
        "summary": "Delete participant",
        "description": "Removes a participant by GrowSurf participant ID or email address. A `202` response means participant cleanup completed and analytics erasure is pending. Analytics reports can retain the removed participant until erasure completes. Do not repeat the deletion to finish analytics erasure; GrowSurf processes it automatically.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/ParticipantIdOrEmail"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "202": {
            "description": "Participant cleanup completed; analytics erasure is pending.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "analyticsErasure"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "description": "Whether participant cleanup completed."
                    },
                    "analyticsErasure": {
                      "$ref": "#/components/schemas/PendingAnalyticsErasure",
                      "description": "Analytics erasure accepted for automatic processing."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/participants/bulk-delete": {
      "post": {
        "tags": [
          "Participants"
        ],
        "operationId": "bulkDeleteParticipants",
        "x-growsurf-required-scopes": [
          "participant:delete"
        ],
        "summary": "Bulk delete participants",
        "description": "Deletes a list of participants from a program in one request. Each entry in `participants` is a GrowSurf participant ID or an email address (mixed lists are allowed). Up to `200` entries per request — chunk larger lists across multiple calls. The response reports a per-row `status` for every submitted entry, so a `200` can include rows that were `NOT_FOUND` or failed. Deletion is permanent and removes the participants' referrals, rewards, commissions, and payout records. A `202` response also includes `analyticsErasure` when analytics erasure is pending. A `DELETED` row means participant cleanup completed; analytics reports can retain that participant until erasure completes. Do not repeat successful rows to finish analytics erasure.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteParticipantsRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/BulkDeleteParticipantsRequestExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-row outcomes returned (individual rows may still be `NOT_FOUND`, `DUPLICATE`, or `ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDeleteParticipantsResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/BulkDeleteParticipantsResponseExample"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Per-row outcomes returned; analytics erasure is pending. Individual rows may still be `NOT_FOUND`, `DUPLICATE`, or `ERROR`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BulkDeleteParticipantsResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "analyticsErasure"
                      ],
                      "properties": {
                        "analyticsErasure": {
                          "$ref": "#/components/schemas/PendingAnalyticsErasure",
                          "description": "Analytics erasure accepted for automatic processing."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/integrations": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "operationId": "listIntegrations",
        "x-growsurf-required-scopes": [
          "program:read"
        ],
        "summary": "List integrations",
        "description": "Lists every integration this program can connect, each with its current state. Integrations that do not apply to the program type are omitted (for example, Wise on a referral program). Read-only: connecting an integration is an OAuth or credential handshake completed in the GrowSurf dashboard, so it cannot be done over the API. `connected` means credentials are stored, `enabled` means the integration is switched on and working, and `autoDisabled` means GrowSurf switched it off after repeated delivery failures — its credentials are still stored, but it delivers nothing until it is reconnected in the dashboard. `connectUrl` is the dashboard link to hand the person running the program when they want to connect one.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "Integrations returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/IntegrationListExample"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/webhooks": {
      "get": {
        "tags": [
          "Campaign Webhooks"
        ],
        "operationId": "listWebhooks",
        "x-growsurf-required-scopes": [
          "program:read"
        ],
        "summary": "List webhooks",
        "description": "Lists a program's webhooks (secrets are never returned).",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhooks returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/WebhookListExample"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Campaign Webhooks"
        ],
        "operationId": "createWebhook",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Create webhook",
        "description": "Adds a webhook to the program.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/CreateWebhookExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/WebhookExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/webhooks/{webhookId}": {
      "patch": {
        "tags": [
          "Campaign Webhooks"
        ],
        "operationId": "updateWebhook",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Update webhook",
        "description": "Updates a webhook by id.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/UpdateWebhookExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/WebhookExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "tags": [
          "Campaign Webhooks"
        ],
        "operationId": "deleteWebhook",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Delete webhook",
        "description": "Removes a webhook by id.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWebhookResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/DeleteWebhookExample"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/webhooks/{webhookId}/test": {
      "post": {
        "tags": [
          "Campaign Webhooks"
        ],
        "operationId": "testWebhook",
        "x-growsurf-required-scopes": [
          "program:write"
        ],
        "summary": "Test webhook",
        "description": "Sends a live test event to a webhook using its stored URL and secret.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookTestRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/WebhookTestExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookTestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/affiliate-applications": {
      "get": {
        "tags": [
          "Affiliate Programs"
        ],
        "operationId": "listAffiliateApplications",
        "x-growsurf-required-scopes": [
          "participant:read"
        ],
        "summary": "List affiliate applications",
        "description": "Lists an affiliate program's applications, newest first. Applications exist on programs that review public signups (an `affiliateApplicationMode` of `MANUAL_REVIEW` or `AUTO_APPROVE`). A pending applicant is not a participant until their application is approved.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Only return applications with this status.",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "APPROVED",
                "DENIED"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "How many applications to return per page (1-100).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Applications returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateApplicationListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/AffiliateApplicationListExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/affiliate-applications/{applicationId}": {
      "get": {
        "tags": [
          "Affiliate Programs"
        ],
        "operationId": "getAffiliateApplication",
        "x-growsurf-required-scopes": [
          "participant:read"
        ],
        "summary": "Get affiliate application",
        "description": "Returns one affiliate application, including its submitted form answers.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/AffiliateApplicationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Application returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateApplication"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/AffiliateApplicationExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "tags": [
          "Affiliate Programs"
        ],
        "operationId": "reviewAffiliateApplication",
        "x-growsurf-required-scopes": [
          "participant:write"
        ],
        "summary": "Review affiliate application",
        "description": "Decides a pending application. Set `status` to `APPROVED` to enroll the applicant (this creates the participant, or upgrades an existing participant with the same email), or to `DENIED` with an optional `rejectionReason`. A denied applicant may reapply after the program's reapplication cooldown; send an earlier `reapplyAllowedAt` (without `status`) to shorten that wait for one applicant. Approval is idempotent: repeating it returns the same participant.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/AffiliateApplicationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewAffiliateApplicationRequest"
              },
              "examples": {
                "approve": {
                  "$ref": "#/components/examples/ApproveAffiliateApplicationExample"
                },
                "deny": {
                  "$ref": "#/components/examples/DenyAffiliateApplicationExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated application returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateApplication"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The application was already decided (approve/deny can only run once), or `reapplyAllowedAt` was sent for an application that is not denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/campaign/{id}/affiliate-invites": {
      "get": {
        "tags": [
          "Affiliate Programs"
        ],
        "operationId": "listAffiliateInvites",
        "x-growsurf-required-scopes": [
          "participant:read"
        ],
        "summary": "List affiliate invites",
        "description": "Lists an affiliate program's enrollment invites, newest first.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Only return invites with this status.",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "ACCEPTED",
                "EXPIRED",
                "REVOKED"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "How many invites to return per page (1-100).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Invites returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateInviteListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
[...]
