{
  "openapi": "3.1.0",
  "info": {
    "title": "Meta Agent Tools",
    "version": "1.0.0",
    "description": "Meta Agent Tools — registry of MCP servers, skills and plugins.",
    "x-jentic-source-url": "https://agentalog.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://agentalog.com"
    }
  ],
  "paths": {
    "/agent.json": {
      "get": {
        "operationId": "get_agent_json",
        "summary": "Agent card: identity, operator, documentation, the MCP endpoint and the tools it serves. Same document as `/.well-known/agent-card.json`.",
        "description": "Returns: `application/json`: `name`, `provider`, `protocol` (`mcp`), `interfaces[]` and `skills[]`.",
        "security": [],
        "responses": {
          "200": {
            "description": "`application/json`: `name`, `provider`, `protocol` (`mcp`), `interfaces[]` and `skills[]`."
          }
        }
      }
    },
    "/okf/{arquivo}": {
      "get": {
        "operationId": "get_okf_by_arquivo",
        "summary": "OKF bundle (Open Knowledge Format v0.1): markdown with frontmatter so an agent reads the whole product without parsing HTML.",
        "description": "Returns: `text/markdown`. Start at `/okf/index.md`, which lists the bundle.",
        "security": [],
        "parameters": [
          {
            "name": "arquivo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "`index.md`, `sobre.md`, `api.md` or `faq.md`.",
            "example": "index.md"
          }
        ],
        "responses": {
          "200": {
            "description": "`text/markdown`. Start at `/okf/index.md`, which lists the bundle."
          },
          "404": {
            "description": "File outside the bundle."
          }
        }
      }
    },
    "/.well-known/{arquivo}": {
      "get": {
        "operationId": "get_well_known_by_arquivo",
        "summary": "Machine discovery before the home page: `api-catalog` (RFC 9727, a linkset with the API and the MCP), `security.txt` (RFC 9116), `x402` (payment manifest: network, wallet and the routes that charge) and `mcp-registry-auth` (the official MCP registry key).",
        "description": "Returns: `application/linkset+json` for the api-catalog; `application/json` for x402 and apis.json; `text/plain` for the other two.",
        "security": [],
        "parameters": [
          {
            "name": "arquivo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "`api-catalog`, `security.txt`, `x402`, `mcp-registry-auth` or `apis.json`.",
            "example": "api-catalog"
          }
        ],
        "responses": {
          "200": {
            "description": "`application/linkset+json` for the api-catalog; `application/json` for x402 and apis.json; `text/plain` for the other two."
          },
          "404": {
            "description": "Name outside the five published."
          }
        }
      }
    },
    "/apis.json": {
      "get": {
        "operationId": "get_apis_json",
        "summary": "APIs.json (apisjson.org, 0.19): the index APIs.io harvests — the API, the MCP, OpenAPI, guide and OKF bundle in one file. Also at `/.well-known/apis.json`.",
        "description": "Returns: `application/json` in the APIs.json 0.19 format: `apis[]` with `baseURL`, `humanURL` and `properties[]`.",
        "security": [],
        "responses": {
          "200": {
            "description": "`application/json` in the APIs.json 0.19 format: `apis[]` with `baseURL`, `humanURL` and `properties[]`."
          }
        }
      }
    },
    "/feed.xml": {
      "get": {
        "operationId": "get_feed_xml",
        "summary": "RSS 2.0 of the most recently published listings.",
        "description": "Returns: `application/rss+xml`.",
        "security": [],
        "responses": {
          "200": {
            "description": "`application/rss+xml`."
          }
        }
      }
    },
    "/feed.json": {
      "get": {
        "operationId": "get_feed_json",
        "summary": "JSON Feed 1.1 of the most recently published listings — the same stream as the RSS.",
        "description": "Returns: `application/feed+json`.",
        "security": [],
        "responses": {
          "200": {
            "description": "`application/feed+json`."
          }
        }
      }
    },
    "/api/": {
      "get": {
        "operationId": "api_index",
        "summary": "Self-describing index: the whole API surface, with quota and quickstart.",
        "description": "Returns: { name, description, auth, docs, endpoints, quota, mcp, quickstart }",
        "security": [],
        "responses": {
          "200": {
            "description": "{ name, description, auth, docs, endpoints, quota, mcp, quickstart }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Product name."
                    },
                    "description": {
                      "type": "string",
                      "description": "What the registry is and what it is not."
                    },
                    "auth": {
                      "type": "object",
                      "description": "Each authentication mode and how to obtain it."
                    },
                    "docs": {
                      "type": "object",
                      "description": "Links to llms.txt, llms-full.txt, openapi.json, MCP and the UI."
                    },
                    "endpoints": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Every endpoint with method, path, auth, absolute URL and what it returns."
                    },
                    "quota": {
                      "type": "object",
                      "description": "What is free, what costs and how to pay — before you spend a call."
                    },
                    "mcp": {
                      "type": "object",
                      "description": "Address and transport of the MCP server."
                    },
                    "quickstart": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The calls that take you from zero to the first published listing."
                    }
                  },
                  "required": [
                    "name",
                    "description",
                    "auth",
                    "docs",
                    "endpoints",
                    "quota",
                    "mcp",
                    "quickstart"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "operationId": "health",
        "summary": "Liveness and the commit deployed right now — it is how the smoke waits for its own deploy.",
        "description": "Returns: { ok, app, build, ts }",
        "security": [],
        "responses": {
          "200": {
            "description": "{ ok, app, build, ts }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true` when the Worker answers."
                    },
                    "app": {
                      "type": "string",
                      "description": "Product name."
                    },
                    "build": {
                      "type": "string",
                      "description": "Deployed commit; CI passes the short SHA on deploy."
                    },
                    "ts": {
                      "type": "string",
                      "description": "Time of the response (UTC, ISO-8601)."
                    }
                  },
                  "required": [
                    "ok",
                    "app",
                    "build",
                    "ts"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "operationId": "post_mcp",
        "summary": "MCP server over HTTP (Streamable HTTP, JSON-RPC 2.0) — plugs into the client with nothing to install.",
        "description": "The tools are the operations of this same catalog; the MCP has no backend of its own. `GET /mcp` returns the server card.\nReturns: JSON-RPC 2.0 response (`initialize`, `tools/list` or `tools/call`).\nCredentials go in the usual headers (X-Guest-Token, Authorization, X-PAYMENT) and are forwarded to the API.\nAn exhausted quota comes back as a 402 with accepts[] inside the tool result — pay and repeat.",
        "security": [],
        "responses": {
          "200": {
            "description": "JSON-RPC 2.0 response (`initialize`, `tools/list` or `tools/call`)."
          }
        }
      }
    },
    "/api/guest": {
      "post": {
        "operationId": "create_guest",
        "summary": "Creates a guest `mr_…` — it is the identity that likes, comments and visits.",
        "description": "Asks for no e-mail. Publishing a listing is what requires an account (or a payment). At most 20 new guests per network per hour; a browser that already has one gets it back from the `mr_guest` cookie.\nReturns: { token }",
        "security": [],
        "responses": {
          "200": {
            "description": "{ token }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "The guest, prefix `mr_`. Send it in `X-Guest-Token` or as Bearer."
                    }
                  },
                  "required": [
                    "token"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "More than 20 new guests from the same network in the hour."
          },
          "503": {
            "description": "auth_unavailable"
          }
        }
      }
    },
    "/api/listings": {
      "get": {
        "operationId": "list_listings",
        "summary": "The public mosaic: paginated search of the catalog's listings, the lower-signal tail last.",
        "description": "`live` listings first and the `low` tail (few stars or no clear license) after them in every order — `low=0` leaves the tail out. To walk everything, follow `next`: without `q` it is a cursor (`next_cursor`, keyset on the order's index) and has no ceiling; every listing also has an HTML page at `/l/:id` and the shards of `/sitemap-listings.xml` list them all. `q` runs on a full-text index (FTS5, bm25) kept in the same transaction as every text write. With `q` and `low=0`, `low_count` says how many `low` listings the filter left out — LIKE with a cap of 200. The query is mapped onto kind/topic/transport filters unless `interpret=0`.\nReturns: { items[{id,kind,category,name,tagline,body,url,status,origin,origin_id,install,source,transporte,ns,versao,oficial_status,repo_host,topico,linguagem,licenca,repo_topics,repo_slug,stars,forks,prs_abertos,pushed_at,repo_estado,likes,comments,visits,created_at,updated_at,mine,api,go,comments_api,readme_api?,historico?,readme_fonte?,readme_bytes,readme_sha,readme_em,payload}], limit, offset, next_offset, next_cursor, next, low_count, low_capped, low_included, interpretacao, api }",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Free text over the name, the tagline, the description, the origin identifier and the README excerpt: every word (up to six, 2+ letters, accents ignored) must match; ranked by bm25 with the name weighing most (10), then tagline (5), identifier (3), description (2), README excerpt (1); ties by stars. Kind, topic and transport words become filters. The `low` tail is in the same index.",
            "example": "browser testing"
          },
          {
            "name": "interpret",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "0"
              ]
            },
            "description": "`0` disables query understanding and searches the raw string."
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "mcp",
                "skill",
                "plugin"
              ]
            },
            "description": "Which kind of resource to fetch."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Category declared by whoever published."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "relevancia when q is set, recent otherwise",
              "enum": [
                "relevancia",
                "recent",
                "stars",
                "likes",
                "visits",
                "nome"
              ]
            },
            "description": "Result order. Without it, a query is ranked by relevance — bm25 over the full-text index (name 10, tagline 5, identifier 3, description 2, README excerpt 1) multiplied by 1 + 0.05·ln(1 + stars) + 0.1 if pushed in the last 180 days + 0.1 if a README was collected; ties by stars — and a plain listing by arrival."
          },
          {
            "name": "low",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "0"
              ]
            },
            "description": "`0` leaves the `low` tail out; by default it comes after the `live` listings in every order."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor from `next_cursor` of the previous page (orders `recent`, `stars` and `nome`, without `q`). With it, `offset` is ignored. A cursor from another order or a malformed one restarts at the first page."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 24
            },
            "description": "Listings per page."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "How many listings to skip. No ceiling since 2026-09-13, but the database reads every skipped row: to walk the catalog, follow `next` (cursor) instead."
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Repository code languages, comma-separated. Preserve case, for example Python."
          },
          {
            "name": "license",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Repository licenses, comma-separated, for example MIT,Apache-2.0. Preserve case."
          },
          {
            "name": "min_stars",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum repository stars, from 0 to 999999999."
          },
          {
            "name": "min_forks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum forks of a repository with collected activity data."
          },
          {
            "name": "min_prs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum open pull requests of a repository with collected activity data."
          },
          {
            "name": "max_prs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum open pull requests of a repository with collected activity data."
          },
          {
            "name": "added_since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Catalog arrival on or after YYYY-MM-DD. This is not the original publication date."
          },
          {
            "name": "pushed_since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Last repository code push on or after YYYY-MM-DD."
          },
          {
            "name": "has_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            },
            "description": "Whether a repository link is available. This does not certify the code."
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ items[{id,kind,category,name,tagline,body,url,status,origin,origin_id,install,source,transporte,ns,versao,oficial_status,repo_host,topico,linguagem,licenca,repo_topics,repo_slug,stars,forks,prs_abertos,pushed_at,repo_estado,likes,comments,visits,created_at,updated_at,mine,api,go,comments_api,readme_api?,historico?,readme_fonte?,readme_bytes,readme_sha,readme_em,payload}], limit, offset, next_offset, next_cursor, next, low_count, low_capped, low_included, interpretacao, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginaDeAnuncios"
                }
              }
            }
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      },
      "post": {
        "operationId": "create_listing",
        "summary": "Registers an MCP server, a skill or a plugin in the catalog. It comes in as `pending`.",
        "description": "Automatic review approves supported low-risk MCP listings; uncertain cases wait for a person. Poll `status_api` (`GET /api/listings/:id/status`, no credential) to learn the decision. A person or agent can submit without an account. While billing is off, no payment is required. Each owner can submit once a day and keep up to three submissions in the queue. For a skill, provide its SKILL.md URL. If agent billing is enabled, the reference price is US$ 0.10 per submission, paid through x402 or prepaid credit. The service checks the body and quota before charging. An invalid body returns 400; an exhausted quota returns 429.\nReturns: { ok, id, status, status_api }",
        "security": [
          {
            "globalAccount": []
          },
          {
            "bearerAuth": []
          },
          {
            "x402": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "description": "What is being registered.",
                    "enum": [
                      "mcp",
                      "skill",
                      "plugin",
                      "okf"
                    ]
                  },
                  "url": {
                    "type": "string",
                    "description": "MCP endpoint, SKILL.md URL, the plugin's repository or the OKF bundle's `index.md`. For an OKF bundle on a domain you control, `POST /api/okf/ping` is free."
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name; without it, taken from the source."
                  },
                  "tagline": {
                    "type": "string",
                    "description": "One line saying what it is for."
                  },
                  "body": {
                    "type": "string",
                    "description": "Long description, optional."
                  },
                  "category": {
                    "type": "string",
                    "description": "Category so the listing shows up under the right filter."
                  }
                },
                "required": [
                  "kind",
                  "url"
                ]
              },
              "example": {
                "kind": "mcp",
                "category": "tools",
                "name": "Name",
                "tagline": "One line",
                "url": "https://example.com/mcp"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok, id, status, status_api }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true` when the request went in."
                    },
                    "id": {
                      "type": "string",
                      "description": "ID of the created listing."
                    },
                    "status": {
                      "type": "string",
                      "description": "Always `pending`: everything goes through the queue before turning live."
                    },
                    "status_api": {
                      "type": "string",
                      "description": "Where to poll for the review, with no credential (`GET /api/listings/:id/status`)."
                    }
                  },
                  "required": [
                    "ok",
                    "id",
                    "status",
                    "status_api"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`kind` or `url` missing, invalid URL, URL that does not answer or refused field."
          },
          "402": {
            "description": "Quota exceeded. The response carries `accepts[]` (x402, USDC on Base): pay and repeat the same call with `X-PAYMENT`."
          },
          "429": {
            "description": "1 per day, at most 3 pending — applies to both doors, and is checked before charging."
          },
          "502": {
            "description": "The payment settled and the write failed. The body carries `transaction`: keep it and talk to support."
          }
        }
      }
    },
    "/api/facets": {
      "get": {
        "operationId": "get_api_facets",
        "summary": "The whole catalog's counts by kind, provenance, category and repository state.",
        "description": "Exists to build a filter without sweeping the listings: there are tens of thousands, and asking for the list just to count would be expensive. Each dimension ignores its own selection and respects the other filters. These counts describe the search. For catalog tab totals, use the unfiltered response. Language and license come from repository metadata. Also brings `topico_inferido`, deduced from the repositories.\nReturns: { total, facetas, topico_inferido, interpretacao, publicador?, api }",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The same text query as /api/listings."
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Resource kind."
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Repository code languages, comma-separated. Preserve case, for example Python."
          },
          {
            "name": "license",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Repository licenses, comma-separated, for example MIT,Apache-2.0. Preserve case."
          },
          {
            "name": "min_stars",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum repository stars, from 0 to 999999999."
          },
          {
            "name": "min_forks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum forks of a repository with collected activity data."
          },
          {
            "name": "min_prs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum open pull requests of a repository with collected activity data."
          },
          {
            "name": "max_prs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum open pull requests of a repository with collected activity data."
          },
          {
            "name": "added_since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Catalog arrival on or after YYYY-MM-DD. This is not the original publication date."
          },
          {
            "name": "pushed_since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Last repository code push on or after YYYY-MM-DD."
          },
          {
            "name": "has_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            },
            "description": "Whether a repository link is available. This does not certify the code."
          }
        ],
        "responses": {
          "200": {
            "description": "{ total, facetas, topico_inferido, interpretacao, publicador?, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Facetas"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/servers": {
      "get": {
        "operationId": "list_mcp_servers",
        "summary": "MCP subregistry in the Official Registry format (spec v0.1), cursor-paginated.",
        "description": "Only `kind=mcp` and only `live`. It is the route a generic MCP client knows how to read without knowing this product. `GET /v0/servers` is an alias of the same resource, kept for whoever already pointed there — this is the canonical URL.\nReturns: { servers[{name,description,version,repository,remotes,packages}], metadata }",
        "security": [],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Free text over the server's name and description."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor of the next page, from `metadata.next_cursor`."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            },
            "description": "Servers per page."
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ servers[{name,description,version,repository,remotes,packages}], metadata }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginaV01"
                }
              }
            }
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      }
    },
    "/api/listings/{id}": {
      "get": {
        "operationId": "get_listing",
        "summary": "One listing's page. The owner sees their own even when pending or hidden.",
        "description": "Returns: { id, kind, category, name, tagline, body, url, status, origin, origin_id, install, source, transporte, ns, versao, oficial_status, repo_host, topico, linguagem, licenca, repo_topics, repo_slug, stars, forks, prs_abertos, pushed_at, repo_estado, likes, comments, visits, created_at, updated_at, mine, api, go, comments_api, readme_api?, historico?, readme_fonte?, readme_bytes, readme_sha, readme_em, payload }",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Listing ID, from `Anuncio.id`.",
            "example": "ID"
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, kind, category, name, tagline, body, url, status, origin, origin_id, install, source, transporte, ns, versao, oficial_status, repo_host, topico, linguagem, licenca, repo_topics, repo_slug, stars, forks, prs_abertos, pushed_at, repo_estado, likes, comments, visits, created_at, updated_at, mine, api, go, comments_api, readme_api?, historico?, readme_fonte?, readme_bytes, readme_sha, readme_em, payload }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Anuncio"
                }
              }
            }
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "404": {
            "description": "The listing does not exist, or it is not yours and is not live/low."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      },
      "patch": {
        "operationId": "patch_api_listings_by_id",
        "summary": "Edits a listing of yours. Changing its public content sends it back to moderation.",
        "description": "The URL and public text are what moderation checks; changing either after approval sends the listing back to `pending`.\nReturns: { ok, id, status }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the listing to edit.",
            "example": "ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New display name."
                  },
                  "tagline": {
                    "type": "string",
                    "description": "New summary line."
                  },
                  "body": {
                    "type": "string",
                    "description": "New long description."
                  },
                  "category": {
                    "type": "string",
                    "description": "New category."
                  },
                  "url": {
                    "type": "string",
                    "description": "New URL — changing this sends the listing back to `pending`, as with public text edits."
                  }
                }
              },
              "example": {
                "tagline": "…"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok, id, status }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true`."
                    },
                    "id": {
                      "type": "string",
                      "description": "ID of the edited listing."
                    },
                    "status": {
                      "type": "string",
                      "description": "State after the edit; back to `pending` if public content changed."
                    }
                  },
                  "required": [
                    "ok",
                    "id",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid field in the body."
          },
          "401": {
            "description": "No credential, or an invalid one. See this endpoint's auth."
          },
          "404": {
            "description": "The listing is not yours or does not exist."
          }
        }
      }
    },
    "/api/listings/{id}/readme": {
      "get": {
        "operationId": "get_listing_readme",
        "summary": "README collected from the listing's repository, served on open.",
        "description": "The text lives in R2 (`mural-coleta`). This call does not write and does not fetch GitHub. Same visibility as the listing page. Call it only when the listing page carries `readme_api`: a page without it has no README collected, and this route answers 404.\nReturns: { markdown, bytes, sha, repo_slug, fonte, truncated, api }",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Listing ID, from `Anuncio.id`.",
            "example": "ID"
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ markdown, bytes, sha, repo_slug, fonte, truncated, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Readme"
                }
              }
            }
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "404": {
            "description": "The listing does not exist, is not visible, or no README was collected."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      }
    },
    "/api/go/{id}": {
      "get": {
        "operationId": "go_listing",
        "summary": "Hop to the listing's URL: redirects and counts the visit.",
        "description": "Counts at most 1 visit per owner per day. The `X-Visit-Counted` header says whether this call counted — it is how the client knows without counting twice.\nReturns: `302` with `Location` to the listing's URL, and the `X-Visit-Counted` header.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the listing to visit.",
            "example": "lst_9f3c2b1d7a4e58b0c2d4"
          }
        ],
        "responses": {
          "200": {
            "description": "`302` with `Location` to the listing's URL, and the `X-Visit-Counted` header."
          },
          "404": {
            "description": "The listing does not exist or is not live/low."
          }
        }
      }
    },
    "/api/listings/{id}/comments": {
      "get": {
        "operationId": "list_comments",
        "summary": "Public comments on a live listing.",
        "description": "With a credential on the call, each comment of yours comes with `mine: true`.\nReturns: { items[{id,body,author,created_at,mine}], total }",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the listing.",
            "example": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "{ items[{id,body,author,created_at,mine}], total }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comentario"
                      },
                      "description": "The comments, newest first."
                    },
                    "total": {
                      "type": "integer",
                      "description": "How many comments the listing has."
                    }
                  },
                  "required": [
                    "items",
                    "total"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The listing does not exist or is not live."
          }
        }
      },
      "post": {
        "operationId": "post_api_listings_by_id_comments",
        "summary": "Writes a comment on the listing. Cap of 20 per hour per owner.",
        "description": "Returns: { ok, id, body }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the listing to comment on.",
            "example": "ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "The comment text."
                  }
                },
                "required": [
                  "body"
                ]
              },
              "example": {
                "body": "text"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok, id, body }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true` when the comment went in."
                    },
                    "id": {
                      "type": "string",
                      "description": "ID of the created comment."
                    },
                    "body": {
                      "type": "string",
                      "description": "The stored text."
                    }
                  },
                  "required": [
                    "ok",
                    "id",
                    "body"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Empty or too long text."
          },
          "401": {
            "description": "No credential, or an invalid one. See this endpoint's auth."
          },
          "404": {
            "description": "The listing does not exist."
          },
          "429": {
            "description": "More than 20 comments in the hour."
          }
        }
      }
    },
    "/api/comments/{id}": {
      "delete": {
        "operationId": "delete_api_comments_by_id",
        "summary": "Deletes a comment of yours. Someone else's comment answers 404, not 403.",
        "description": "The 404 is on purpose: the API does not confirm that a comment with that id exists if it is not yours.\nReturns: { ok, id }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comment ID, from `Comentario.id`.",
            "example": "cm_9f3c2b1d7a4e58b0c2"
          }
        ],
        "responses": {
          "200": {
            "description": "{ ok, id }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true`."
                    },
                    "id": {
                      "type": "string",
                      "description": "The id that was removed."
                    }
                  },
                  "required": [
                    "ok",
                    "id"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "No credential, or an invalid one. See this endpoint's auth."
          },
          "404": {
            "description": "The resource does not exist (or is not yours — the API does not tell the two apart on purpose)."
          }
        }
      }
    },
    "/api/listings/{id}/like": {
      "post": {
        "operationId": "like_listing",
        "summary": "Likes the listing; DELETE undoes it. Calling again does not add up: the counter counts people.",
        "description": "Returns: { ok, liked, likes }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the listing to like.",
            "example": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "{ ok, liked, likes }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Like"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or an invalid one. See this endpoint's auth."
          },
          "404": {
            "description": "The resource does not exist (or is not yours — the API does not tell the two apart on purpose)."
          }
        }
      },
      "delete": {
        "operationId": "delete_api_listings_by_id_like",
        "summary": "Unlikes and gives the point back to the public counter.",
        "description": "Returns: { ok, liked, likes }",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the listing to unlike.",
            "example": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "{ ok, liked, likes }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Like"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or an invalid one. See this endpoint's auth."
          },
          "404": {
            "description": "The resource does not exist (or is not yours — the API does not tell the two apart on purpose)."
          }
        }
      }
    },
    "/api/feeds": {
      "get": {
        "operationId": "feed_search",
        "summary": "The feed index: RSS, Atom and JSON feeds, OPML reading lists and sites that only become a feed through a bridge.",
        "description": "Find feeds by text, format, language and availability. Filter and text search run in the SAME full-text query: values inside one parameter are OR'd, different parameters are AND'd. Without `q` the order is by newest in the index (`recentes`) and `next_cursor` is a keyset — follow `next` to walk everything. With `q` the order is relevance and paging is by `offset`. We index and link; the feeds belong to whoever publishes them.\nReturns: { items[{id,kind,dominio,url,nome,descricao,tipo,audio,video,comunidade,comunidades,ano,recursos,densidade,itens,saude,pais,site_titulo,site_descricao,site_nome,site_og,site_og_alt,site_cor,site_idioma,idioma_bandeira,icone,imagem,ultimo_post,posts_24h,posts_7d,posts_30d,posts_dias,posts_no_feed,posts_parcial,atividade_em,pagina,api}], limit, offset, next_cursor, next_offset, next, sort, api }",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Free text over the feed name, its description and the domain. Every word must match; accents are ignored.",
            "example": "linux"
          },
          {
            "name": "origem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "index",
                "blogroll",
                "bridge"
              ]
            },
            "description": "Where the record comes from. Comma-separated values are OR'd."
          },
          {
            "name": "tipo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "rss2",
                "rss1",
                "atom",
                "json",
                "rss"
              ]
            },
            "description": "Feed format. Comma-separated values are OR'd."
          },
          {
            "name": "midia",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "audio",
                "video"
              ]
            },
            "description": "Enclosures the feed carries — this is how you find podcasts and video feeds."
          },
          {
            "name": "comunidade",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "fediverse",
                "indieweb",
                "mastodon",
                "friendica",
                "wordpress",
                "funkwhale",
                "blogroll"
              ]
            },
            "description": "Community the publisher belongs to, as the source's bitmask declares it."
          },
          {
            "name": "recurso",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "content",
                "itunes",
                "podcast",
                "media",
                "slash",
                "wfw",
                "georss"
              ]
            },
            "description": "Namespace seen in the feed: `content` means the whole post travels in the feed, `itunes`/`podcast` mean podcast metadata, `slash` means comment counts."
          },
          {
            "name": "lista",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "web",
                "catalogo",
                "planeta"
              ]
            },
            "description": "For OPML lists only: how the list presents itself."
          },
          {
            "name": "ano",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Year of the newest item the crawler saw. `0` means the source never dated the content. It is a year, not a moving window: the value never drifts.",
            "example": "2026,2025"
          },
          {
            "name": "saude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ok",
                "erro",
                "sumiu"
              ]
            },
            "description": "What our own check saw: `ok` answered, `erro` refused or timed out, `sumiu` returned 404/410. A feed not checked yet matches none of them.",
            "example": "ok"
          },
          {
            "name": "pais",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO-3166 alpha-2 of the IP that serves the host, lowercase or uppercase, resolved in the same check.",
            "example": "br,pt"
          },
          {
            "name": "dominio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact domain — the fastest way to ask whether a site has a feed."
          },
          {
            "name": "idioma",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language of the site's home page, two or three letters: `pt` matches `pt` and `pt-br`.",
            "example": "pt"
          },
          {
            "name": "imagem",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "description": "`1` keeps only feeds whose site has a stored preview image (`imagem` is not empty) — the list that looks like a wall of link cards."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "relevancia with q, recentes otherwise",
              "enum": [
                "recentes",
                "postando",
                "frequentes",
                "densidade",
                "dominio",
                "relevancia"
              ]
            },
            "description": "Result order. `recentes` is insertion in the index (what just arrived). `postando` is the newest post first, read from the feed itself (feeds without a dated post are left out). `frequentes` is most posts in the last 30 days first (same). `densidade` is how much item text discovery found — the closest thing to 'this feed has substance'. `dominio` is A–Z by site."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor from `next_cursor` (orders `recentes`, `densidade` and `dominio`). A cursor from another order restarts at the first page."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Feeds per page, 1–50."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset, capped at 10000. Ignored when `cursor` is present."
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ items[{id,kind,dominio,url,nome,descricao,tipo,audio,video,comunidade,comunidades,ano,recursos,densidade,itens,saude,pais,site_titulo,site_descricao,site_nome,site_og,site_og_alt,site_cor,site_idioma,idioma_bandeira,icone,imagem,ultimo_post,posts_24h,posts_7d,posts_30d,posts_dias,posts_no_feed,posts_parcial,atividade_em,pagina,api}], limit, offset, next_cursor, next_offset, next, sort, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginaDeFeeds"
                }
              }
            }
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      }
    },
    "/api/feeds/facets": {
      "get": {
        "operationId": "get_api_feeds_facets",
        "summary": "How many feeds exist in each filter value.",
        "description": "Counts reflect the latest catalog update.\nReturns: { total, facetas, api }",
        "security": [],
        "responses": {
          "200": {
            "description": "{ total, facetas, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacetasDeFeeds"
                }
              }
            }
          }
        }
      }
    },
    "/api/feeds/{id}": {
      "get": {
        "operationId": "get_api_feeds_by_id",
        "summary": "One feed: address, format, what it carries and where it was found.",
        "description": "The same record the HTML page at `/feeds/<id>` shows. 404 when the id is unknown.\nReturns: { id, kind, dominio, url, nome, descricao, tipo, audio, video, comunidade, comunidades, ano, recursos, densidade, itens, saude, pais, site_titulo, site_descricao, site_nome, site_og, site_og_alt, site_cor, site_idioma, idioma_bandeira, icone, imagem, ultimo_post, posts_24h, posts_7d, posts_30d, posts_dias, posts_no_feed, posts_parcial, atividade_em, pagina, api }",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Feed id, prefix `fd_`.",
            "example": "fd_nytimes_com_1a2b3c4d5e6f7a8b"
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, kind, dominio, url, nome, descricao, tipo, audio, video, comunidade, comunidades, ano, recursos, densidade, itens, saude, pais, site_titulo, site_descricao, site_nome, site_og, site_og_alt, site_cor, site_idioma, idioma_bandeira, icone, imagem, ultimo_post, posts_24h, posts_7d, posts_30d, posts_dias, posts_no_feed, posts_parcial, atividade_em, pagina, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feed"
                }
              }
            }
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "404": {
            "description": "No feed in this index has that id."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      }
    },
    "/api/feeds/{id}/items": {
      "get": {
        "operationId": "feed_posts",
        "summary": "The posts of one feed, as our queue read them.",
        "description": "Up to 40 posts, in the order the feed publishes them, WITHOUT the body — the body of one post comes from `/items/:ord`. It is OUR copy, read on our own schedule — not the live feed and not a proxy: the only thing this endpoint accepts is an id from this index, never a URL. `lido_em` says when we read it. Empty list when the feed has not been read yet.\nReturns: { id, itens[{ord,tags,media,comentarios,comentarios_n,titulo,link,quando,autor,resumo,bytes}], lido_em, api }",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Feed id, prefix `fd_`.",
            "example": "fd_nytimes_com_1a2b3c4d5e6f7a8b"
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, itens[{ord,tags,media,comentarios,comentarios_n,titulo,link,quando,autor,resumo,bytes}], lido_em, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostsDeFeed"
                }
              }
            }
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "404": {
            "description": "No feed in this index has that id. A feed we know but have not read yet answers 200 with an empty `itens` — the two are different answers on purpose."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      }
    },
    "/api/feeds/{id}/items/{ord}": {
      "get": {
        "operationId": "feed_post",
        "summary": "One post of a feed, with the body — the author's HTML and the same text in Markdown.",
        "description": "Two bodies for the same post, both from the copy we stored when we READ the feed — a request never fetches the site: `conteudo_html` keeps the author's formatting through an allowlist (only known tags and attributes survive; script, style, iframe and event handlers are dropped with their content), and `conteudo` is the same text as Markdown — the shape an agent usually wants. Neither can carry script. 404 when the feed or the position is unknown.\nReturns: { id, ord, titulo, link, quando, autor, resumo, conteudo_html, conteudo, lido_em, api }",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Feed id, prefix `fd_`.",
            "example": "fd_nytimes_com_1a2b3c4d5e6f7a8b"
          },
          {
            "name": "ord",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Position of the post in the feed; 0 is the newest.",
            "example": "0"
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, ord, titulo, link, quando, autor, resumo, conteudo_html, conteudo, lido_em, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostDeFeedInteiro"
                }
              }
            }
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "404": {
            "description": "Unknown feed id, or a position this feed does not have."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      }
    },
    "/api/indices": {
      "get": {
        "operationId": "get_api_indices",
        "summary": "The MCP indexes this catalog reads: credit, license, what each measures, counts and the last round.",
        "description": "Each index measures something different — one completes an MCP handshake, another reads the last commit, another only discovers that a resource exists — so `mede` comes with every source and every signal. Collected once a day on our own host, raw data kept, and credited on every response: the data is theirs. `coleta.falhou` says the last round failed; the error text stays private.\nReturns: { ok, indices[{id,nome,url,licenca,mede,cadencia_h,sinais,no_catalogo,por_estado,coleta,_links}], _links }",
        "security": [],
        "parameters": [
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ ok, indices[{id,nome,url,licenca,mede,cadencia_h,sinais,no_catalogo,por_estado,coleta,_links}], _links }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaDeIndices"
                }
              }
            }
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      }
    },
    "/api/indices/sinais": {
      "get": {
        "operationId": "mcp_index_signals",
        "summary": "What each MCP index says about one listing of this catalog.",
        "description": "A signal belongs to a listing only when it is the SAME object: the name in the official MCP registry, the exact remote endpoint URL or the GitHub `owner/repo`, in that order. A shared domain never matches — two servers on one host are different products. Up to 20 signals, one per index and record.\nReturns: { ok, listing, count, sinais[{fonte,credito,mede,kind,nome,descricao,url,repo,estado,estado_na_fonte,motivo,acesso,detalhe,ficha_na_fonte,no_catalogo,medido_em,visto_em}], _links }",
        "security": [],
        "parameters": [
          {
            "name": "listing",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Listing id from `/api/listings`.",
            "example": "mcp_com_stripe_mcp_b890f1d0"
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ ok, listing, count, sinais[{fonte,credito,mede,kind,nome,descricao,url,repo,estado,estado_na_fonte,motivo,acesso,detalhe,ficha_na_fonte,no_catalogo,medido_em,visto_em}], _links }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SinaisDoRegistro"
                }
              }
            }
          },
          "400": {
            "description": "`listing` is missing."
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      }
    },
    "/api/indices/itens": {
      "get": {
        "operationId": "mcp_index_search",
        "summary": "Browse the signals, including servers this catalog does not list yet.",
        "description": "Newest change first. `casou=0` is what the indexes know and the catalog does not — the list to look at before submitting a server. Filters are AND'd. With `q`, `total` is the exact number of matches, including when the requested page is empty.\nReturns: { ok, total, count, items[{fonte,credito,mede,kind,nome,descricao,url,repo,estado,estado_na_fonte,motivo,acesso,detalhe,ficha_na_fonte,no_catalogo,medido_em,visto_em}], _links }",
        "security": [],
        "parameters": [
          {
            "name": "fonte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "wellknown",
                "agent_tools",
                "nerq",
                "truespar",
                "neuronto",
                "paygent",
                "hultra"
              ]
            },
            "description": "Only the signals of this index — `/api/indices` says what each one measures."
          },
          {
            "name": "estado",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "vivo",
                "fora",
                "parado",
                "abandonado",
                "apagado",
                "desconhecido"
              ]
            },
            "description": "The state in this catalog's words."
          },
          {
            "name": "casou",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            },
            "description": "`1` only signals matched to a listing, `0` only unmatched."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Substring of the name, the URL or the repository.",
            "example": "postgres"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Signals per page, 1–50."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset, capped at 50000."
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ ok, total, count, items[{fonte,credito,mede,kind,nome,descricao,url,repo,estado,estado_na_fonte,motivo,acesso,detalhe,ficha_na_fonte,no_catalogo,medido_em,visto_em}], _links }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginaDeSinais"
                }
              }
            }
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      }
    },
    "/api/check": {
      "get": {
        "operationId": "check_tool",
        "summary": "Check an MCP server address before installing it: what we already measured about it, without visiting it.",
        "description": "Send the endpoint URL. The answer never contacts that address: it reads what our weekly visits measured and what our domain data knows. `sinais_do_endereco` comes from the address alone (consumer tunnel, `http://` without TLS). `registros` lists the catalog listings with this exact address first (`exato: true`), then up to 20 others on the same host, each with its level and signals; `mesmo_host` counts them all. `dominio` has the facts about the host's domain. An address outside the catalog answers `no_catalogo: false` and `registrar`: submit it to get it reviewed. Cached for 5 minutes.\nReturns: { url, host, no_catalogo, sinais_do_endereco, registros, mesmo_host, dominio, registrar, api }",
        "security": [],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The http(s) endpoint of the MCP server, without credentials.",
            "example": "https://agentalog.com/mcp"
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ url, host, no_catalogo, sinais_do_endereco, registros, mesmo_host, dominio, registrar, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checagem"
                }
              }
            }
          },
          "400": {
            "description": "Missing, invalid or credential-bearing `url`."
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      }
    },
    "/api/listings/{id}/security": {
      "get": {
        "operationId": "listing_security",
        "summary": "Security review of a remote MCP server or SKILL.md: level, measured signals, evidence and changes.",
        "description": "We visit remote MCP servers: `initialize` and `tools/list`, without credentials or tool calls, again 7 days after a success. A failure needs a second check. MCP signals: dns_morto, sem_https, tls_invalido, tunel, nao_responde, nao_mcp, texto_suspeito, redireciona_fora, repo_arquivado, repo_parado, dominio_recente, login, bloqueado. For skills, `tipo: skill` identifies a static SKILL.md review. It flags secret reads, download-and-execute commands, external uploads, invisible characters, long encoded text and broad allowed-tools. `revisao.achados` supplies the path, original line, excerpt and context. Examples and prohibitions do not raise the level. Excerpts hide sensitive values. The review does not run commands or follow references. Supported source: public raw.githubusercontent.com SKILL.md. Watched, visited, starred and new skills get priority within the shared GitHub governor and a daily cap. Unread or unsupported skills remain explicitly unchecked. Local MCP servers and plugins answer `nao_remoto`. No request fetches a third-party source. Cached for 5 minutes.\nReturns: { id, conferido, motivo?, nivel, tipo?, revisao?, fonte?, caminho?, vigiavel?, sinais, servidor?, dominio?, ferramentas?, verificado_em?, proxima_em?, mudou_em?, eventos?, aviso, api }",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Listing ID, from `Anuncio.id`.",
            "example": "ID"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language of the `aviso` sentence: `en` (default) or `pt`.",
            "example": "pt"
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, conferido, motivo?, nivel, tipo?, revisao?, fonte?, caminho?, vigiavel?, sinais, servidor?, dominio?, ferramentas?, verificado_em?, proxima_em?, mudou_em?, eventos?, aviso, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Seguranca"
                }
              }
            }
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "404": {
            "description": "The listing does not exist or is not visible."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      }
    },
    "/api/listings/{id}/tools": {
      "get": {
        "operationId": "listing_tools",
        "summary": "The tools and instructions a remote MCP server announced at its last check.",
        "description": "The announced manifest, normalized: each tool's name, title, description (up to 4,000 characters), input schema (null above 8,000 characters) and protocol annotations, plus the server instructions. `capacidades` and `suspeitas` come from the current rules, applied when you read. Reading this endpoint never contacts the server. Cached for 5 minutes.\nReturns: { id, sha, verificado_em, mudou_em, instrucoes, ferramentas, capacidades, suspeitas, api }",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Listing ID, from `Anuncio.id`.",
            "example": "ID"
          },
          {
            "name": "X-API-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "MAT-only private pass: mat_<32 random hex>_<64 random hex>. Generate and save before buying."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional retry key, up to 80 ASCII characters; same read for five minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "{ id, sha, verificado_em, mudou_em, instrucoes, ferramentas, capacidades, suspeitas, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FerramentasAnunciadas"
                }
              }
            }
          },
          "401": {
            "description": "Invalid MAT pass."
          },
          "402": {
            "description": "Free allowance or MAT credits exhausted; buy a package."
          },
          "404": {
            "description": "The listing does not exist or is not visible (`not_found`), or its tools were not read yet (`tools_not_read`)."
          },
          "409": {
            "description": "Retry conflict or pending read."
          },
          "413": {
            "description": "Basic read exceeds 1 MiB."
          },
          "429": {
            "description": "Temporary reading capacity."
          },
          "503": {
            "description": "Origin or payment verification temporarily unavailable."
          }
        }
      }
    },
    "/api/me/vigia": {
      "get": {
        "operationId": "list_watched_tools",
        "summary": "The MCP servers and skills you watch, with the current review, your slots and the offers.",
        "description": "Daily checks cover MCP tools, state, level, country and version. Supported skills cover changes in SKILL.md text and review signals. Source quotas can delay a check; read proxima_em and verificado_em. The e-mail goes to the verified account address and includes an unsubscribe link. Wallet-only owners follow changes through the API.\nReturns: { itens, cota, ofertas, claude_code, api }",
        "security": [
          {
            "globalAccount": []
          },
          {
            "carteiraAgente": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ itens, cota, ofertas, claude_code, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vigia"
                }
              }
            }
          },
          "401": {
            "description": "Sign in with your account, or send the wallet credential (`Authorization: Bearer mmw_…`)."
          }
        }
      },
      "post": {
        "operationId": "watch_tool",
        "summary": "Watch a remote MCP or supported SKILL.md. Uses a free slot; without one, answers 402 for another slot.",
        "description": "Choose a live remote MCP or a skill with a supported public raw.githubusercontent.com SKILL.md, after skill collection is enabled. Unsupported skills are rejected before payment. Watching again is a no-op (`ja_vigiado`). Pay the 402 with x402 or prepaid credit and repeat the request. Slots last 30 days with no automatic renewal. Skills do not enter the Claude Code MCP allowlist.\nReturns: { ok, id?, ja_vigiado?, oferta?, cota }",
        "security": [
          {
            "globalAccount": []
          },
          {
            "carteiraAgente": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listing_id": {
                    "type": "string",
                    "description": "Listing ID (`mcp_…` or `skl_…`) from `/api/listings`."
                  }
                },
                "required": [
                  "listing_id"
                ]
              },
              "example": {
                "listing_id": "mcp_io_github_upstash_context7_d016de0d"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok, id?, ja_vigiado?, oferta?, cota }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VigiaAlterada"
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON, unavailable skill review, unsupported source or a listing that cannot be watched (`nao_vigiavel`)."
          },
          "401": {
            "description": "Sign in with your account, or send the wallet credential (`Authorization: Bearer mmw_…`)."
          },
          "402": {
            "description": "No free slot: pay for one more."
          },
          "403": {
            "description": "Missing or invalid X-CSRF-Token."
          },
          "409": {
            "description": "Expired passes leave paused tools in the list. Stop watching one or buy slots before adding another tool. A concurrent request can also use the last slot; refresh the list and retry."
          }
        }
      }
    },
    "/api/me/vigia/{id}": {
      "delete": {
        "operationId": "unwatch_tool",
        "summary": "Stop watching a tool; its slot becomes free.",
        "description": "Returns: { ok, id?, ja_vigiado?, oferta?, cota }",
        "security": [
          {
            "globalAccount": []
          },
          {
            "carteiraAgente": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Listing ID (`mcp_…` or `skl_…`).",
            "example": "mcp_…"
          }
        ],
        "responses": {
          "200": {
            "description": "{ ok, id?, ja_vigiado?, oferta?, cota }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VigiaAlterada"
                }
              }
            }
          },
          "401": {
            "description": "Sign in with your account, or send the wallet credential (`Authorization: Bearer mmw_…`)."
          },
          "404": {
            "description": "The listing is not in your watch list."
          }
        }
      }
    },
    "/api/me/vigia/plano": {
      "post": {
        "operationId": "buy_watch_plan",
        "summary": "Buy more slots: one tool (`vaga`), Team (`equipe`, 50 tools) or Business (`empresa`, 500 tools), for 30 days.",
        "description": "Answers 402 with the price; pay with x402 or prepaid credit and repeat the request. Passes last 30 days with no automatic renewal; a new purchase adds slots.\nReturns: { ok, id?, ja_vigiado?, oferta?, cota }",
        "security": [
          {
            "globalAccount": []
          },
          {
            "carteiraAgente": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "oferta": {
                    "type": "string",
                    "description": "The offer to buy.",
                    "enum": [
                      "vaga",
                      "equipe",
                      "empresa"
                    ]
                  }
                },
                "required": [
                  "oferta"
                ]
              },
              "example": {
                "oferta": "equipe"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "{ ok, id?, ja_vigiado?, oferta?, cota }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VigiaAlterada"
                }
              }
            }
          },
          "400": {
            "description": "Unknown offer."
          },
          "401": {
            "description": "Sign in with your account, or send the wallet credential (`Authorization: Bearer mmw_…`)."
          },
          "402": {
            "description": "Payment required."
          }
        }
      }
    },
    "/api/me/vigia/claude-code": {
      "get": {
        "operationId": "claude_code_allowlist",
        "summary": "Your watch list as Claude Code managed settings: an allowlist of the servers you watch, a denylist of the ones at risk.",
        "description": "`managed_settings` goes into a Claude Code managed settings source (see `docs`). `allowManagedMcpServersOnly` restricts user-added servers to this list. Checked servers rated as `risco` go to `deniedMcpServers`. The exact URL and that URL followed by `?*` permit the checked route with optional query parameters. Expired or unchecked items stay out. `comandos` has one quoted `claude mcp add` command per allowed server.\nReturns: { managed_settings, comandos, fora, aviso, docs, api }",
        "security": [
          {
            "globalAccount": []
          },
          {
            "carteiraAgente": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ managed_settings, comandos, fora, aviso, docs, api }",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaClaudeCode"
                }
              }
            }
          },
          "401": {
            "description": "Sign in with your account, or send the wallet credential (`Authorization: Bearer mmw_…`)."
          }
        }
      }
    },
    "/api/monitor/projetos": {
      "get": {
        "operationId": "get_api_monitor_projetos",
        "summary": "List your private agent projects and their human labels.",
        "description": "Private and no-store. No catalog quota, paid read, public cache or CORS grant. Basic accounts can create three projects. An active Team or Business pass permits ten, with three active installations per project. The response includes current limits and their expiry. After the pass ends, existing projects remain readable and exportable. Archived references and decisions are read only. New projects and installation credentials return to basic capacity. Separate single-slot purchases do not combine into this benefit. A guest or a wide API key cannot read projects.\nReturns: { projetos, limites }",
        "security": [
          {
            "globalAccount": []
          }
        ],
        "responses": {
          "200": {
            "description": "{ projetos, limites }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projetos": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Owned projects: id, nome, criado_em (Unix seconds) and apagando (pending erasure)."
                    },
                    "limites": {
                      "type": "object",
                      "description": "Current capacity: projetos (3 or 10), instalacoes (3), expira_em (Unix seconds or null)."
                    }
                  },
                  "required": [
                    "projetos",
                    "limites"
                  ]
                }
              }
            }
          },
          "400": {
[...]
