{
  "openapi": "3.0.0",
  "info": {
    "description": "",
    "title": "DiscVision Internal REST API for Hotel",
    "version": "0.1.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DiscVision/disc-vision_internal_rest_api_for_hotel/0.1.1"
  },
  "servers": [
    {
      "url": "https://asp-dev2.discvision.de/dv_hospitality"
    }
  ],
  "paths": {
    "/analytics/{propertyId}": {
      "get": {
        "parameters": [
          {
            "description": "ID of Property to return",
            "in": "path",
            "name": "propertyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of Property to return",
            "in": "query",
            "name": "month",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "analytics": {
                      "items": {
                        "$ref": "#/components/schemas/Analytics"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Analytics"
        ],
        "description": "get Analytics for the Property.",
        "summary": "get Analytics for the Property"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of Property",
            "in": "path",
            "name": "propertyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "created": {
                      "type": "boolean"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Analytics"
        ],
        "description": "add Analytics for Month.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "month": {
                    "example": "2021-01-01T10:00:00.00Z",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "request body",
          "required": true
        },
        "summary": "add Analytics for Month"
      }
    },
    "/analytics/{propertyId}/requestAmazonAnalytics": {
      "post": {
        "parameters": [
          {
            "description": "ID of Property",
            "in": "path",
            "name": "propertyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Analytics"
        ],
        "description": "Request Analytics from Amazon.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "endDate": {
                    "example": "2021-01-31",
                    "type": "string"
                  },
                  "startDate": {
                    "example": "2021-01-01",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "request body",
          "required": true
        },
        "summary": "Request Analytics from Amazon"
      }
    },
    "/analytics/{propertyId}/{analyticsId}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of Property to return",
            "in": "path",
            "name": "propertyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of Analytics to return",
            "in": "path",
            "name": "analyticsId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Analytics"
        ],
        "description": "remove a single Analytics.",
        "summary": "remove Analytics"
      },
      "get": {
        "parameters": [
          {
            "description": "ID of Property to return",
            "in": "path",
            "name": "propertyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of Analytics to return",
            "in": "path",
            "name": "analyticsId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "pictures": {
                      "items": {
                        "$ref": "#/components/schemas/AnalyticsPicture"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "AnalyticsPicture"
        ],
        "description": "get AnalyticsPictures for the Analytics.",
        "summary": "get AnalyticsPictures for the Analytics"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of Property",
            "in": "path",
            "name": "propertyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of Analytics to return",
            "in": "path",
            "name": "analyticsId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "created": {
                      "type": "boolean"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "AnalyticsPicture"
        ],
        "description": "add AnalyticsPicture to Analytics.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "type": {
                    "description": "type of Graph",
                    "enum": [
                      "devicesTotal",
                      "devicesTrend",
                      "usageDomains",
                      "usageSkills",
                      "usageTotal"
                    ],
                    "type": "string"
                  },
                  "url": {
                    "example": "https://.../abc.jpg",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "request body",
          "required": true
        },
        "summary": "add AnalyticsPicture to Analytics"
      }
    },
    "/analytics/{propertyId}/{analyticsId}/{analyticsPicId}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of Property to return",
            "in": "path",
            "name": "propertyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of Analytics to return",
            "in": "path",
            "name": "analyticsId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "ID of Analytics to return",
            "in": "path",
            "name": "analyticsPicId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "AnalyticsPicture"
        ],
        "description": "remove a single Analytics Picture.",
        "summary": "remove Analytics Picture"
      }
    },
    "/choices": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "questionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response"
          }
        },
        "tags": [
          "Choice"
        ]
      }
    },
    "/choices/{id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "requeired": true,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response"
          }
        },
        "tags": [
          "Choice"
        ]
      },
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response"
          }
        },
        "tags": [
          "Choice"
        ]
      },
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Default response"
          }
        },
        "tags": [
          "Choice"
        ]
      }
    },
    "/communication/addressBooks": {
      "get": {
        "parameters": [
          {
            "description": "ID of Property",
            "in": "query",
            "name": "propertyId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "can be used to filter out private address",
            "in": "query",
            "name": "roomId",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/AddressBook"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook"
        ],
        "description": "get Address Book of an Unit.",
        "summary": "get Address Book of an Unit"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "addressBookId": {
                      "example": "amzn1.alexa.addressbook.did.{id}",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook"
        ],
        "description": "create Address Book (optional roomId for Personal ).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "example": "AddressBook name 1",
                    "type": "string"
                  },
                  "propertyId": {
                    "example": "amzn1.alexa.unit.did.{UnitId}",
                    "type": "string"
                  },
                  "roomId": {
                    "example": "(optional) amzn1.alexa.unit.did.{UnitId}",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Data of new Addressbook",
          "required": true
        },
        "summary": "create Address Book"
      }
    },
    "/communication/addressBooks/export": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/AddressBook"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook"
        ],
        "description": "get Address Book of an Unit.",
        "summary": "get Address Book of an Unit"
      }
    },
    "/communication/addressBooks/unitAssociations": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/AddressBook"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook - Unit Association"
        ],
        "description": "get Address Book of an Unit.",
        "summary": "get Address Book of an Unit"
      }
    },
    "/communication/addressBooks/{addressBookId}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of AddressBook",
            "in": "path",
            "name": "addressBookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook"
        ],
        "description": "update Address Book.",
        "summary": "update Address Book"
      },
      "get": {
        "parameters": [
          {
            "description": "ID of AddressBook to return",
            "in": "path",
            "name": "addressBookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AddressBook"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook"
        ],
        "description": "get Address Book.",
        "summary": "get Address Book"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of AddressBook to return",
            "in": "path",
            "name": "addressBookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook"
        ],
        "description": "update Address Book.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "example": "new AddressBook name",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "New name of Asdressbook",
          "required": true
        },
        "summary": "update Address Book"
      }
    },
    "/communication/addressBooks/{addressBookId}/contacts": {
      "get": {
        "parameters": [
          {
            "description": "ID of AddressBook",
            "in": "path",
            "name": "addressBookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook - Contacts"
        ],
        "description": "get Address Book.",
        "summary": "get Address Book"
      },
      "post": {
        "parameters": [
          {
            "description": "ID of AddressBook to return",
            "in": "path",
            "name": "addressBookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook - Contacts"
        ],
        "description": "Create new Contact in Address Book.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "alexaCommunicationProfileId": {
                    "example": "amzn1.alexa.communications.profile.did.{id}",
                    "type": "string"
                  },
                  "callName": {
                    "example": "Johnny",
                    "type": "string"
                  },
                  "fullName": {
                    "example": "John Smith",
                    "type": "string"
                  },
                  "list": {
                    "items": {
                      "properties": {
                        "alexaCommunicationProfileId": {
                          "example": "amzn1.alexa.communications.profile.did.{id}",
                          "type": "string"
                        },
                        "callName": {
                          "example": "Contact name X",
                          "type": "string"
                        },
                        "fullName": {
                          "example": "Contact name X",
                          "type": "string"
                        },
                        "pictureUrl": {
                          "example": "Contact name X",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "phoneNumber": {
                    "example": "123456789",
                    "type": "string"
                  },
                  "pictureUrl": {
                    "example": "https://.../...jpg",
                    "type": "string"
                  },
                  "providerId": {
                    "example": "FamilyAppDeviceId",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "can have: <br>'name' + 'alexaCommunicationProfileId', <br>'name' + 'phoneNumber' or <br>'list'",
          "required": true
        },
        "summary": "Create new Contact in Address Book"
      }
    },
    "/communication/addressBooks/{addressBookId}/contacts/{contactId}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of AddressBook",
            "in": "path",
            "name": "addressBookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of Contact",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook - Contacts"
        ],
        "description": "delete Contact of Addressbook.",
        "summary": "delete Contact of Addressbook"
      },
      "get": {
        "parameters": [
          {
            "description": "ID of AddressBook",
            "in": "path",
            "name": "addressBookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of AddressBook",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Contact2"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook - Contacts"
        ],
        "description": "get Address Book.",
        "summary": "get Address Book"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of AddressBook",
            "in": "path",
            "name": "addressBookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of AddressBook",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook - Contacts"
        ],
        "description": "update Contact of Addressbook.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "alexaCommunicationProfileId": {
                    "example": "amzn1.alexa.communications.profile.did.{id}",
                    "type": "string"
                  },
                  "callName": {
                    "example": "Johnny",
                    "type": "string"
                  },
                  "fullName": {
                    "example": "John Smith",
                    "type": "string"
                  },
                  "phoneNumber": {
                    "example": "123456789",
                    "type": "string"
                  },
                  "pictureUrl": {
                    "example": "https://picture.url",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "can have: <br>'name' + 'alexaCommunicationProfileId' or <br>'name' + 'phoneNumber'",
          "required": true
        },
        "summary": "update Contact of Addressbook"
      }
    },
    "/communication/addressBooks/{addressBookId}/unitAssociations": {
      "delete": {
        "parameters": [
          {
            "description": "ID of AddressBook",
            "in": "path",
            "name": "addressBookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of Unit",
            "in": "query",
            "name": "unitId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook - Unit Association"
        ],
        "description": "remove Address Book association status of an Unit.",
        "summary": "remove Address Book association status of an Unit"
      },
      "get": {
        "parameters": [
          {
            "description": "ID of AddressBook to return",
            "in": "path",
            "name": "addressBookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of Unit to return",
            "in": "query",
            "name": "unitId",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/AddressBook"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook - Unit Association"
        ],
        "description": "get Address Book association status of an Unit.",
        "summary": "get Address Book association status of an Unit"
      },
      "post": {
        "parameters": [
          {
            "description": "ID of AddressBook to return",
            "in": "path",
            "name": "addressBookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "addressBookId": {
                      "example": "amzn1.alexa.addressbook.did.{id}",
                      "type": "string"
                    },
                    "unitId": {
                      "example": "amzn1.alexa.unit.did.{UnitId}",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - AddressBook - Unit Association"
        ],
        "description": "set Address Book association status of an Unit.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "unitId": {
                    "example": "amzn1.alexa.unit.did.{UnitId}",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Unit you want to activate the Addressbook in",
          "required": true
        },
        "summary": "set Address Book association status of an Unit"
      }
    },
    "/communication/inboundCalls/{unitId}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of Unit",
            "in": "path",
            "name": "unitId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of Contact",
            "in": "query",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - Inbound Calls"
        ],
        "description": "deactivate inbound calls of contact on an Unit.",
        "summary": "deactivate inbound calls of contact on an Unit"
      },
      "post": {
        "parameters": [
          {
            "description": "ID of Unit to add the inbound Contact",
            "in": "path",
            "name": "unitId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "contactId": {
                      "example": "amzn1.alexa.contact.did.{contactId}",
                      "type": "string"
                    },
                    "profileId": {
                      "example": "communications.profile.did.{profileId}",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - Inbound Calls"
        ],
        "description": "activate inbound calls of contact on an Unit.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "contactId": {
                    "example": "amzn1.alexa.contact.{contactId}",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Contact Id to activate",
          "required": true
        },
        "summary": "activate inbound calls of contact on an Unit"
      }
    },
    "/communication/inboundCalls/{unitId}/{addressBookId}": {
      "get": {
        "parameters": [
          {
            "description": "ID of AddressBook to return",
            "in": "path",
            "name": "addressBookId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of Unit to return",
            "in": "path",
            "name": "unitId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InboundCallStatusList"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication - Inbound Calls"
        ],
        "description": "get Contacts of an Address Book and the inbound call status for this Unit.",
        "summary": "get Contacts of an Address Book and the inbound call status for this Unit"
      }
    },
    "/communication/profile": {
      "get": {
        "parameters": [
          {
            "description": "ID of Room",
            "in": "query",
            "name": "unitId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "entity": {
                      "properties": {
                        "id": {
                          "example": "amzn1.alexa.unit.did.{UnitId}",
                          "type": "string"
                        },
                        "type": {
                          "example": "UNIT",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "name": {
                      "example": "profile display name",
                      "type": "string"
                    },
                    "profileId": {
                      "properties": {
                        "profileId": {
                          "example": "amzn1.alexa.communications.profile.did.{profileId}",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Communication"
        ],
        "description": "get Communication Profile of an Unit.",
        "summary": "get Communication Profile of an Unit"
      }
    },
    "/customer": {
      "get": {
        "parameters": [
          {
            "description": "Country",
            "in": "query",
            "name": "country",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "customers": {
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      },
                      "type": "array"
                    },
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Customer"
        ],
        "description": "get Customer list.",
        "summary": "get Customer list"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "created": {
                      "type": "boolean"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Customer"
        ],
        "description": "add new or update Customer.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "adminEmail": {
                    "example": "sample@discvision.com",
                    "type": "string"
                  },
                  "companyType": {
                    "description": "type of Customer Company",
                    "enum": [
                      "hotel",
                      "homeCare",
                      "careFacility"
                    ],
                    "type": "string"
                  },
                  "country": {
                    "description": "US, FR or UK",
                    "example": "US",
                    "type": "string"
                  },
                  "name": {
                    "example": "DiscVision Solutions GmbH",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Pet object that needs to be added to the store",
          "required": true
        },
        "summary": "add or update Customer"
      }
    },
    "/customer/emailList": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "list": {
                      "items": {
                        "$ref": "#/components/schemas/EmailWhitelist"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "CustomerAdmin"
        ],
        "description": "get Whitelisted Users(emails) of Customer.",
        "summary": "get Whitelisted Users(emails) of Customer"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "created": {
                      "type": "boolean"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "CustomerAdmin"
        ],
        "description": "add whitelisted User.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "example": "sample@discvision.com",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Email to be whitelisted",
          "required": true
        },
        "summary": "add whitelisted User"
      }
    },
    "/customer/stats": {
      "get": {
        "parameters": [
          {
            "description": "Country",
            "in": "query",
            "name": "country",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "customers": {
                      "items": {
                        "$ref": "#/components/schemas/CustomerStat"
                      },
                      "type": "array"
                    },
                    "error": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Customer"
        ],
        "description": "get Customer list.",
        "summary": "get Customer list"
      }
    },
    "/customer/{customerId}": {
      "delete": {
        "parameters": [
          {
            "description": "ID of Customer to return",
            "in": "path",
            "name": "customerId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Customer"
        ],
        "description": "remove single Customer.",
        "summary": "remove single Customer"
      },
      "get": {
        "parameters": [
          {
            "description": "ID of Customer to return",
            "in": "path",
            "name": "customerId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Customer"
        ],
        "description": "get single Customer.",
        "summary": "get single Customer"
      }
    },
    "/endpoints": {
      "get": {
        "parameters": [
          {
            "description": "ID of a Room (if set gets Entpoints of Room )",
            "in": "query",
            "name": "associatedUnitId",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Endpoint"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "get Endpoint list of Room or \"unused\" Endpoints of User.",
        "summary": "get Endpoint list"
      }
    },
    "/endpoints/{endpointId}": {
      "get": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Endpoint"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "get single Endpoint.",
        "summary": "get a Endpoint"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of endpointId to assign/remove",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "assign an Endpoint a Room or remove assignment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "unitId": {
                    "example": "amzn1.alexa.unit.did....",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "If a UnitID is included, the Endpoint will be assigned to the Unit. <br>If NO UnitID is send, the Endpoint will be removed from its Unit."
        },
        "summary": "assign Endpoint"
      }
    },
    "/endpoints/{endpointId}/address": {
      "get": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "address": {
                      "properties": {
                        "addressLine1": {
                          "example": "221 Baker Ave",
                          "type": "string"
                        },
                        "addressLine2": {
                          "example": "",
                          "type": "string"
                        },
                        "addressLine3": {
                          "example": "",
                          "type": "string"
                        },
                        "city": {
                          "example": "Sunnyvale",
                          "type": "string"
                        },
                        "countryCode": {
                          "example": "US",
                          "type": "string"
                        },
                        "districtOrCounty": {
                          "example": "",
                          "type": "string"
                        },
                        "postalCode": {
                          "example": "94085",
                          "type": "string"
                        },
                        "stateOrRegion": {
                          "example": "California",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "get Address of an Endpoint.",
        "summary": "get Address of an Endpoint"
      },
      "post": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "set Temperature Unit of an Endpoint.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "address": {
                    "example": "SampleStreet 42",
                    "type": "string"
                  },
                  "city": {
                    "example": "SampleCity",
                    "type": "string"
                  },
                  "countryCode": {
                    "example": "US",
                    "type": "string"
                  },
                  "districtOrCounty": {
                    "example": "SampleCounty (US Only)",
                    "type": "string"
                  },
                  "postalCode": {
                    "example": "12345",
                    "type": "string"
                  },
                  "stateOrRegion": {
                    "example": "SampleState (US Only)",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "set Temperature Unit of an Endpoint"
      }
    },
    "/endpoints/{endpointId}/distanceUnit": {
      "get": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "example": "METRIC or IMPERIAL",
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "get Distance Units of Endpoint.",
        "summary": "get Distance Units of Endpoint"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "set Distance Units of Endpoint.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "value": {
                    "example": "METRIC or IMPERIAL",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Timezone like: 'America/Los_Angeles', 'Europe/Paris', ...",
          "required": true
        },
        "summary": "set Distance Units of Endpoint"
      }
    },
    "/endpoints/{endpointId}/dnd": {
      "get": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "is do bot Disturb active on Endpoint.",
        "summary": "is do bot Disturb active on Endpoint"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "set Do Not Disturbon an Endpoint.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "value": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "set Do Not Disturbon an Endpoint"
      }
    },
    "/endpoints/{endpointId}/locale": {
      "get": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "description": "Values: de-DE, en-AU, en-CA, en-GB, en-IN, en-US, es-ES, es-MX, fr-FR, fr-CA, hi-IN, it-IT, ja-JP, pt-BR",
                    "example": "en-US",
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "get Locale of an Endpoint.",
        "summary": "get Locale of an Endpoint"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "set Locale of an Endpoint.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "locale": {
                    "description": "Values: de-DE, en-AU, en-CA, en-GB, en-IN, en-US, es-ES, es-MX, fr-FR, fr-CA, hi-IN, it-IT, ja-JP, pt-BR",
                    "example": "en-US",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "set Locale of an Endpoint"
      }
    },
    "/endpoints/{endpointId}/magnifier": {
      "get": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "example": "DISABLED",
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "get Magnifier setting  of Endpoint.",
        "summary": "get Magnifier setting of Endpoint"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "set Magnifier setting of Endpoint.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "value": {
                    "example": "ENABLED",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "allowed Values: 'DISABLED' or 'ENABLED'",
          "required": true
        },
        "summary": "set Magnifier setting of Endpoint"
      }
    },
    "/endpoints/{endpointId}/maxVolume": {
      "get": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "description": "Current Max Volume",
                  "example": 42,
                  "type": "integer"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "get Max Volume of an Endpoint.",
        "summary": "get Max Volume of an Endpoint"
      },
      "put": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "set Max Volume of an Endpoint.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "volume": {
                    "example": 60,
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "set Max Volume of an Endpoint"
      }
    },
    "/endpoints/{endpointId}/status": {
      "get": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "properties": {
                      "items": {
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "timeOfSample": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "value": {
                            "properties": {
                              "value": {
                                "description": "Value OK = Connected and UNREACHABLE = not Connected",
                                "example": "OK",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Invalid Request",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Invalid Access Token"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorResponse"
                }
              }
            },
            "description": "Other Error"
          }
        },
        "tags": [
          "Endpoint"
        ],
        "description": "get Connectivity Status of an Endpoint.",
        "summary": "get Connectivity Status of an Endpoint"
      }
    },
    "/endpoints/{endpointId}/tempUnit": {
      "get": {
        "parameters": [
          {
            "description": "ID of Endpoint to return",
            "in": "path",
            "name": "endpointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "description": "Current Temperature Unit of Endpoint (can be 'CELSIUS' or 'FAHRENHEIT')",
                  "example": "CELSIUS",
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "error": {
[...]
